{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.codecatalyst#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied because you don't have sufficient access to perform this action. Verify that you are a member of a role that allows this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.codecatalyst#AccessToken": {
      "type": "resource",
      "identifiers": {
        "accessTokenId": {
          "target": "com.amazonaws.codecatalyst#AccessTokenId"
        }
      },
      "create": {
        "target": "com.amazonaws.codecatalyst#CreateAccessToken"
      },
      "delete": {
        "target": "com.amazonaws.codecatalyst#DeleteAccessToken"
      },
      "list": {
        "target": "com.amazonaws.codecatalyst#ListAccessTokens"
      }
    },
    "com.amazonaws.codecatalyst#AccessTokenId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        }
      }
    },
    "com.amazonaws.codecatalyst#AccessTokenName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codecatalyst#AccessTokenSecret": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.codecatalyst#AccessTokenSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecatalyst#AccessTokenSummary"
      }
    },
    "com.amazonaws.codecatalyst#AccessTokenSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codecatalyst#AccessTokenId",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated ID of the personal access token.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "accessTokenId"
          }
        },
        "name": {
          "target": "com.amazonaws.codecatalyst#AccessTokenName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the personal access token.</p>",
            "smithy.api#required": {}
          }
        },
        "expiresTime": {
          "target": "com.amazonaws.codecatalyst#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the personal access token will expire, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a specified personal access token (PAT).</p>"
      }
    },
    "com.amazonaws.codecatalyst#Action": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "actionId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.amazonaws.codecatalyst#ActionLogResource": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "actionLogId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.amazonaws.codecatalyst#ActionRun": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "workflowId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        },
        "workflowRunId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        },
        "actionRunId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.codecatalyst#ActionRunArtifactMetadata"
        },
        {
          "target": "com.amazonaws.codecatalyst#ActionRunLogEntries"
        }
      ]
    },
    "com.amazonaws.codecatalyst#ActionRunArtifactMetadata": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "workflowId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        },
        "workflowRunId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        },
        "actionRunId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        },
        "artifactName": {
          "target": "com.amazonaws.codecatalyst#ArtifactNameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#ActionRunLogEntries": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "workflowId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        },
        "workflowRunId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        },
        "actionRunId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        }
      }
    },
    "com.amazonaws.codecatalyst#ActionRunLogsDownloadableUrl": {
      "type": "resource",
      "identifiers": {
        "actionRunId": {
          "target": "smithy.api#String"
        },
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "workflowName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#ActionVersion": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "actionId": {
          "target": "smithy.api#String"
        },
        "versionId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.amazonaws.codecatalyst#ArtifactNameString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.codecatalyst#ArtifactPackage": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "artifactRepositoryName": {
          "target": "com.amazonaws.codecatalyst#ArtifactRepositoryNameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#ArtifactPackageVersion": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "artifactRepositoryName": {
          "target": "com.amazonaws.codecatalyst#ArtifactRepositoryNameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#ArtifactRepository": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "artifactRepositoryName": {
          "target": "com.amazonaws.codecatalyst#ArtifactRepositoryNameString"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.codecatalyst#ArtifactPackage"
        },
        {
          "target": "com.amazonaws.codecatalyst#ArtifactPackageVersion"
        }
      ]
    },
    "com.amazonaws.codecatalyst#ArtifactRepositoryNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 100
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9-_.]{1,99}$"
      }
    },
    "com.amazonaws.codecatalyst#AwsAccountOnboardingResource": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "awsAccountName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#AwsAccountResource": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "awsAccountName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.codecatalyst#AwsAccountRoleResource"
        }
      ]
    },
    "com.amazonaws.codecatalyst#AwsAccountRoleResource": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "awsAccountName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "roleName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#AwsAccountToEnvironmentAssociation": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "awsAccountName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "environmentName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#Bar": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "barName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#BillingAccountChangeStatus": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#Blueprint": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#BuildLogsMigration": {
      "type": "resource",
      "identifiers": {
        "buildId": {
          "target": "smithy.api#String"
        },
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#CatalogAction": {
      "type": "resource",
      "identifiers": {
        "catalogActionId": {
          "target": "smithy.api#String"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.codecatalyst#CatalogActionVersion"
        }
      ]
    },
    "com.amazonaws.codecatalyst#CatalogActionVersion": {
      "type": "resource",
      "identifiers": {
        "catalogActionId": {
          "target": "smithy.api#String"
        },
        "versionId": {
          "target": "smithy.api#String"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.codecatalyst#CatalogActionVersionFileRecord"
        }
      ]
    },
    "com.amazonaws.codecatalyst#CatalogActionVersionFileRecord": {
      "type": "resource",
      "identifiers": {
        "catalogActionId": {
          "target": "smithy.api#String"
        },
        "versionId": {
          "target": "smithy.api#String"
        },
        "fileType": {
          "target": "com.amazonaws.codecatalyst#CatalogActionVersionFileRecordType"
        }
      }
    },
    "com.amazonaws.codecatalyst#CatalogActionVersionFileRecordType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "LICENSE",
            "value": "LICENSE"
          },
          {
            "name": "README",
            "value": "README"
          }
        ]
      }
    },
    "com.amazonaws.codecatalyst#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.codecatalyst#CodeCatalyst": {
      "type": "service",
      "version": "2022-09-28",
      "operations": [
        {
          "target": "com.amazonaws.codecatalyst#GetUserDetails"
        },
        {
          "target": "com.amazonaws.codecatalyst#VerifySession"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.codecatalyst#AccessToken"
        },
        {
          "target": "com.amazonaws.codecatalyst#ActionRunLogsDownloadableUrl"
        },
        {
          "target": "com.amazonaws.codecatalyst#BuildLogsMigration"
        },
        {
          "target": "com.amazonaws.codecatalyst#CatalogAction"
        },
        {
          "target": "com.amazonaws.codecatalyst#CommentForIssue"
        },
        {
          "target": "com.amazonaws.codecatalyst#LinkableIssueScope"
        },
        {
          "target": "com.amazonaws.codecatalyst#Organization"
        },
        {
          "target": "com.amazonaws.codecatalyst#Person"
        },
        {
          "target": "com.amazonaws.codecatalyst#ProjectInvitations"
        },
        {
          "target": "com.amazonaws.codecatalyst#PullRequestComment"
        },
        {
          "target": "com.amazonaws.codecatalyst#RoleMappingAssociations"
        },
        {
          "target": "com.amazonaws.codecatalyst#RoleMappingAssociationsMigration"
        },
        {
          "target": "com.amazonaws.codecatalyst#Space"
        },
        {
          "target": "com.amazonaws.codecatalyst#SSHPublicKey"
        }
      ],
      "errors": [
        {
          "target": "com.amazonaws.codecatalyst#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codecatalyst#ConflictException"
        },
        {
          "target": "com.amazonaws.codecatalyst#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codecatalyst#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.codecatalyst#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codecatalyst#ValidationException"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodeCatalyst",
          "endpointPrefix": "codecatalyst"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<note>\n            <p>\n               <b>Amazon CodeCatalyst is in preview release and subject to change.</b>\n            </p>\n         </note>\n         <p>Welcome to the Amazon CodeCatalyst API reference. This reference provides descriptions of operations and data types for Amazon CodeCatalyst. You can use the Amazon CodeCatalyst \n      API to work with the following objects. </p>\n         <p>Dev Environments and the Amazon Web Services Toolkits, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateAccessToken</a>, which creates a personal access token (PAT) for the current user.</p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateDevEnvironment</a>, which creates a Dev Environment, \n       where you can quickly work on the code stored in the source repositories of your project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateProject</a> which creates a project in a specified space.</p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateSourceRepositoryBranch</a>, which creates a branch in a specified repository where you can work on code.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteDevEnvironment</a>, which deletes a Dev Environment.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetDevEnvironment</a>, which returns information about a Dev Environment.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetProject</a>, which returns information about a project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetSourceRepositoryCloneUrls</a>, which returns information about the URLs that can be used with a Git client to clone a source\n       repository.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetSubscription</a>, which returns information about the Amazon Web Services account used for billing purposes \n       and the billing plan for the space.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetUserDetails</a>, which returns information about a user in Amazon CodeCatalyst.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListDevEnvironments</a>, which retrives a list of Dev Environments in a project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListProjects</a>, which retrieves a list of projects in a space.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListSourceRepositories</a>, which retrieves a list of source repositories in a project.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListSourceRepositoryBranches</a>, which retrieves a list of branches in a source repository.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListSpaces</a>, which retrieves a list of spaces.</p>\n            </li>\n            <li>\n               <p>\n                  <a>StartDevEnvironment</a>, which starts a specified Dev Environment and puts it into an active state.</p>\n            </li>\n            <li>\n               <p>\n                  <a>StartDevEnvironmentSession</a>, which starts a session to a specified Dev Environment.</p>\n            </li>\n            <li>\n               <p>\n                  <a>StopDevEnvironment</a>, which stops a specified Dev Environment and puts it into an stopped state.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateDevEnvironment</a>, which changes one or more values for a Dev Environment.</p>\n            </li>\n            <li>\n               <p>\n                  <a>VerifySession</a>, which verifies whether the calling user has a valid Amazon CodeCatalyst login and session.</p>\n            </li>\n         </ul>\n         <p>Security, activity, and resource management in Amazon CodeCatalyst, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DeleteAccessToken</a>, which deletes a specified personal access token (PAT).</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListAccessTokens</a>, which lists all personal access tokens (PATs) associated with a user.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListEventLogs</a>, which retrieves a list of events that occurred during a specified time period in a space.</p>\n            </li>\n         </ul>",
        "smithy.api#httpBearerAuth": {},
        "smithy.api#title": "Amazon CodeCatalyst",
        "smithy.rules#endpointRuleSet": {
          "version": "1.3",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                },
                {
                  "conditions": [
                    {
                      "fn": "not",
                      "argv": [
                        {
                          "fn": "isSet",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "fn": "aws.partition",
                      "argv": ["us-west-2"],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                false
                              ]
                            }
                          ],
                          "error": "Partition does not support FIPS.",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codecatalyst-fips.global.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://codecatalyst.global.{PartitionResult#dualStackDnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    },
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                false
                              ]
                            }
                          ],
                          "error": "Partition does not support FIPS.",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codecatalyst-fips.global.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://codecatalyst.global.{PartitionResult#dualStackDnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "Override endpoint",
              "expect": {
                "endpoint": {
                  "url": "https://test.codecatalyst.global.api.aws"
                }
              },
              "params": {
                "Endpoint": "https://test.codecatalyst.global.api.aws"
              }
            },
            {
              "documentation": "Default endpoint (region not set)",
              "expect": {
                "endpoint": {
                  "url": "https://codecatalyst.global.api.aws"
                }
              }
            },
            {
              "documentation": "Default FIPS endpoint (region not set)",
              "expect": {
                "endpoint": {
                  "url": "https://codecatalyst-fips.global.api.aws"
                }
              },
              "params": {
                "UseFIPS": true
              }
            },
            {
              "documentation": "Default endpoint (region: aws-global)",
              "expect": {
                "endpoint": {
                  "url": "https://codecatalyst.global.api.aws"
                }
              },
              "params": {
                "Region": "aws-global"
              }
            },
            {
              "documentation": "Default FIPS endpoint (region: aws-global)",
              "expect": {
                "endpoint": {
                  "url": "https://codecatalyst-fips.global.api.aws"
                }
              },
              "params": {
                "Region": "aws-global",
                "UseFIPS": true
              }
            },
            {
              "documentation": "Default endpoint for a valid home region (region: us-west-2)",
              "expect": {
                "endpoint": {
                  "url": "https://codecatalyst.global.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "Default FIPS endpoint for a valid home region (region: us-west-2)",
              "expect": {
                "endpoint": {
                  "url": "https://codecatalyst-fips.global.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "Default endpoint for an unavailable home region (region: us-east-1)",
              "expect": {
                "endpoint": {
                  "url": "https://codecatalyst.global.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "Default FIPS endpoint for an unavailable home region (region: us-east-1)",
              "expect": {
                "endpoint": {
                  "url": "https://codecatalyst-fips.global.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.codecatalyst#CodeCoverageReport": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "codeCoverageReportId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        }
      }
    },
    "com.amazonaws.codecatalyst#CodeCoverageResult": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "codeCoverageResultId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        }
      }
    },
    "com.amazonaws.codecatalyst#CommentForIssue": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueId": {
          "target": "smithy.api#String"
        },
        "commentId": {
          "target": "smithy.api#String"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.codecatalyst#IssueCommentReaction"
        }
      ]
    },
    "com.amazonaws.codecatalyst#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "EQUALS",
            "value": "EQ"
          },
          {
            "name": "GREATER_THAN",
            "value": "GT"
          },
          {
            "name": "GREATER_THAN_OR_EQUALS",
            "value": "GE"
          },
          {
            "name": "LESS_THAN",
            "value": "LT"
          },
          {
            "name": "LESS_THAN_OR_EQUALS",
            "value": "LE"
          }
        ]
      }
    },
    "com.amazonaws.codecatalyst#ComputeFleet": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "computeFleetName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#ComputeFleetMigration": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "computeFleetName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied because the requested operation would cause a conflict with the current state of a service resource associated with the request. \n       Another user might have updated the resource. Reload, make sure you have the latest data, and then try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.codecatalyst#Connection": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "providerId": {
          "target": "com.amazonaws.codecatalyst#ProviderIdString"
        },
        "connectionName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#CreateAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#CreateAccessTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#CreateAccessTokenResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a personal access token (PAT) for the current user. A personal access token (PAT) is similar to a password. \n      It is associated with your user account. You use PATs to access Amazon CodeCatalyst resources such as source repositories from third-party applications \n      like Git and integrated development environments (IDEs). For more information, see \n      <a href=\"https://docs.aws.amazon.com/codecatalyst/latest/userguide/ipa-tokens-keys.html\">Managing personal access tokens in Amazon CodeCatalyst</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/accessTokens",
          "code": 201
        }
      }
    },
    "com.amazonaws.codecatalyst#CreateAccessTokenRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codecatalyst#AccessTokenName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the personal access token.</p>",
            "smithy.api#required": {}
          }
        },
        "expiresTime": {
          "target": "com.amazonaws.codecatalyst#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the personal access token expires, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#CreateAccessTokenResponse": {
      "type": "structure",
      "members": {
        "secret": {
          "target": "com.amazonaws.codecatalyst#AccessTokenSecret",
          "traits": {
            "smithy.api#documentation": "<p>The secret value of the personal access token.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.codecatalyst#AccessTokenName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the personal access token.</p>"
          }
        },
        "expiresTime": {
          "target": "com.amazonaws.codecatalyst#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the personal access token expires, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>. If not specified, the default is one year from creation.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#CreateDevEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#CreateDevEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#CreateDevEnvironmentResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a Dev Environment in Amazon CodeCatalyst, a cloud-based development Dev Environment that you can use to quickly work on the code stored in the source repositories of your project. \n      By default, a Dev Environment is configured to have a 2 core processor, 4GB of RAM, and 16GB of persistent storage. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.codecatalyst#CreateDevEnvironmentRequest": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "repositories": {
          "target": "com.amazonaws.codecatalyst#RepositoriesInput",
          "traits": {
            "smithy.api#documentation": "<p>The source repository that contains the branch to clone into the Dev Environment. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.codecatalyst#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A user-specified idempotency token.  Idempotency ensures that an API request completes only once. \n       With an idempotent request, if the original request completes successfully, the subsequent retries return the result from the original successful request and have no additional effect.</p>"
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined alias for a Dev Environment.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 128
            },
            "smithy.api#pattern": "^[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*$"
          }
        },
        "ides": {
          "target": "com.amazonaws.codecatalyst#IdeConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the integrated development environment (IDE) configured for a\n      Dev Environment.</p>\n         <note>\n            <p>An IDE is required to create a Dev Environment. For Dev Environment creation, this field\n        contains configuration information and must be provided.</p>\n         </note>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.codecatalyst#InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instace type to use for the Dev Environment. </p>",
            "smithy.api#required": {}
          }
        },
        "inactivityTimeoutMinutes": {
          "target": "com.amazonaws.codecatalyst#InactivityTimeoutMinutes",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of time the Dev Environment will run without any activity detected before stopping, in minutes. Only whole integers are allowed. Dev Environments consume compute minutes when running.</p>"
          }
        },
        "persistentStorage": {
          "target": "com.amazonaws.codecatalyst#PersistentStorageConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about the amount of storage allocated to the Dev Environment. By default, a\n      Dev Environment is configured to have 16GB of persistent storage.</p>\n         <note>\n            <p>Valid values for persistent storage are based on memory sizes in 16GB increments. Valid\n        values are 16, 32, and 64.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#CreateDevEnvironmentResponse": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.codecatalyst#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the Dev Environment. </p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "devEnvironmentId"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#CreateProjectResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a project in a specified space.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/spaces/{spaceName}/projects",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.codecatalyst#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.codecatalyst#ProjectDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the project that will be displayed to users.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.codecatalyst#ProjectDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the project. This description will be displayed to all users of the project. We recommend providing a brief description of the project and its intended purpose.</p>"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#CreateProjectResponse": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "projectName"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the project.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the project.</p>"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#CreateSourceRepositoryBranch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#CreateSourceRepositoryBranchRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#CreateSourceRepositoryBranchResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a branch in a specified source repository in Amazon CodeCatalyst. </p>\n         <note>\n            <p>This API only creates a branch in a source repository hosted in Amazon CodeCatalyst. You cannot use this API to create a branch in a linked repository.</p>\n         </note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/branches/{name}",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.codecatalyst#CreateSourceRepositoryBranchRequest": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sourceRepositoryName": {
          "target": "com.amazonaws.codecatalyst#SourceRepositoryNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository where you want to create a branch.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.codecatalyst#SourceRepositoryBranchString",
          "traits": {
            "smithy.api#documentation": "<p>The name for the branch you're creating.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "sourceRepositoryBranchName"
          }
        },
        "headCommitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The commit ID in an existing branch from which you want to create the new branch.</p>"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#CreateSourceRepositoryBranchResponse": {
      "type": "structure",
      "members": {
        "ref": {
          "target": "com.amazonaws.codecatalyst#SourceRepositoryBranchRefString",
          "traits": {
            "smithy.api#documentation": "<p>The Git reference name of the branch.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.codecatalyst#SourceRepositoryBranchString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the newly created branch.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.codecatalyst#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the branch was last updated, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "headCommitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The commit ID of the tip of the newly created branch.</p>"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#DeleteAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#DeleteAccessTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#DeleteAccessTokenResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified personal access token (PAT). A personal access token can only be deleted by the user who created it.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/accessTokens/{id}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.codecatalyst#DeleteAccessTokenRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codecatalyst#AccessTokenId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the personal access token to delete. You can find the IDs of all PATs associated with your user account by calling <a>ListAccessTokens</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "accessTokenId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.codecatalyst#DeleteAccessTokenResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.codecatalyst#DeleteDevEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#DeleteDevEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#DeleteDevEnvironmentResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Dev Environment.  </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.codecatalyst#DeleteDevEnvironmentRequest": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.codecatalyst#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the Dev Environment you want to delete. To retrieve a list of Dev Environment IDs, use <a>ListDevEnvironments</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "devEnvironmentId"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#DeleteDevEnvironmentResponse": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.codecatalyst#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the deleted Dev Environment. </p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "devEnvironmentId"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#DevEnvironment": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "devEnvironmentId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        }
      },
      "create": {
        "target": "com.amazonaws.codecatalyst#CreateDevEnvironment"
      },
      "read": {
        "target": "com.amazonaws.codecatalyst#GetDevEnvironment"
      },
      "update": {
        "target": "com.amazonaws.codecatalyst#UpdateDevEnvironment"
      },
      "delete": {
        "target": "com.amazonaws.codecatalyst#DeleteDevEnvironment"
      },
      "list": {
        "target": "com.amazonaws.codecatalyst#ListDevEnvironments"
      },
      "operations": [
        {
          "target": "com.amazonaws.codecatalyst#StartDevEnvironment"
        },
        {
          "target": "com.amazonaws.codecatalyst#StartDevEnvironmentSession"
        },
        {
          "target": "com.amazonaws.codecatalyst#StopDevEnvironment"
        }
      ]
    },
    "com.amazonaws.codecatalyst#DevEnvironmentAccessDetails": {
      "type": "structure",
      "members": {
        "streamUrl": {
          "target": "com.amazonaws.codecatalyst#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The URL used to send commands to and from the Dev Environment.</p>",
            "smithy.api#required": {}
          }
        },
        "tokenValue": {
          "target": "com.amazonaws.codecatalyst#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>An encrypted token value that contains session and caller information used to authenticate the connection.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about connection details for a Dev Environment.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.codecatalyst#DevEnvironmentRepositorySummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecatalyst#DevEnvironmentRepositorySummary"
      }
    },
    "com.amazonaws.codecatalyst#DevEnvironmentRepositorySummary": {
      "type": "structure",
      "members": {
        "repositoryName": {
          "target": "com.amazonaws.codecatalyst#SourceRepositoryNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source repository.</p>",
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.codecatalyst#SourceRepositoryBranchString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the branch in a source repository cloned into the Dev Environment. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the source repsitory for a Dev Environment. </p>"
      }
    },
    "com.amazonaws.codecatalyst#DevEnvironmentSessionConfiguration": {
      "type": "structure",
      "members": {
        "sessionType": {
          "target": "com.amazonaws.codecatalyst#DevEnvironmentSessionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the session.</p>",
            "smithy.api#required": {}
          }
        },
        "executeCommandSessionConfiguration": {
          "target": "com.amazonaws.codecatalyst#ExecuteCommandSessionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about optional commands that will be run on the Dev Environment when the SSH session begins.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the configuration of a Dev Environment session.</p>"
      }
    },
    "com.amazonaws.codecatalyst#DevEnvironmentSessionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SSM",
            "value": "SSM"
          },
          {
            "name": "SSH",
            "value": "SSH"
          }
        ]
      }
    },
    "com.amazonaws.codecatalyst#DevEnvironmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "PENDING",
            "value": "PENDING"
          },
          {
            "name": "RUNNING",
            "value": "RUNNING"
          },
          {
            "name": "STARTING",
            "value": "STARTING"
          },
          {
            "name": "STOPPING",
            "value": "STOPPING"
          },
          {
            "name": "STOPPED",
            "value": "STOPPED"
          },
          {
            "name": "FAILED",
            "value": "FAILED"
          },
          {
            "name": "DELETING",
            "value": "DELETING"
          },
          {
            "name": "DELETED",
            "value": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.codecatalyst#DevEnvironmentSummary": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>"
          }
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.codecatalyst#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID for the Dev Environment. </p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "devEnvironmentId"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.codecatalyst#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the Dev Environment was last updated, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "creatorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the user who created the Dev Environment. </p>",
            "smithy.api#length": {
              "max": 1024
            },
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.codecatalyst#DevEnvironmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Dev Environment. </p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "com.amazonaws.codecatalyst#StatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the status.</p>"
          }
        },
        "repositories": {
          "target": "com.amazonaws.codecatalyst#DevEnvironmentRepositorySummaries",
          "traits": {
            "smithy.api#documentation": "<p>Information about the repositories that will be cloned into the Dev Environment. If no rvalue is specified, no repository is cloned.</p>",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user-specified alias for the Dev Environment.</p>",
            "smithy.api#length": {
              "max": 128
            }
          }
        },
        "ides": {
          "target": "com.amazonaws.codecatalyst#Ides",
          "traits": {
            "smithy.api#documentation": "<p>Information about the integrated development environment (IDE) configured for a Dev Environment.</p>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.codecatalyst#InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instace type used for the Dev Environment. </p>",
            "smithy.api#required": {}
          }
        },
        "inactivityTimeoutMinutes": {
          "target": "com.amazonaws.codecatalyst#InactivityTimeoutMinutes",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of time the Dev Environment will run without any activity detected before stopping, in minutes. Dev Environments consume compute minutes when running.</p>",
            "smithy.api#required": {}
          }
        },
        "persistentStorage": {
          "target": "com.amazonaws.codecatalyst#PersistentStorage",
          "traits": {
            "smithy.api#documentation": "<p>Information about the configuration of persistent storage for the Dev Environment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a Dev Environment. </p>"
      }
    },
    "com.amazonaws.codecatalyst#DevEnvironmentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecatalyst#DevEnvironmentSummary"
      }
    },
    "com.amazonaws.codecatalyst#DummyData": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "dummyDataName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#EmailAddress": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The email address.</p>"
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the email address has been verified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an email address.</p>"
      }
    },
    "com.amazonaws.codecatalyst#Environment": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "environmentName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.codecatalyst#EnvironmentDeployment"
        },
        {
          "target": "com.amazonaws.codecatalyst#EnvironmentDeploymentTarget"
        },
        {
          "target": "com.amazonaws.codecatalyst#EnvironmentResourceMetadata"
        }
      ]
    },
    "com.amazonaws.codecatalyst#EnvironmentDeployment": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "environmentName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "deploymentId": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#EnvironmentDeploymentTarget": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "environmentName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "targetId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.amazonaws.codecatalyst#EnvironmentResourceMetadata": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "environmentName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#EventLogEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecatalyst#EventLogEntry"
      }
    },
    "com.amazonaws.codecatalyst#EventLogEntry": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the event.</p>",
            "smithy.api#required": {}
          }
        },
        "eventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event.</p>",
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the event.</p>",
            "smithy.api#required": {}
          }
        },
        "eventCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The category for the event.</p>",
            "smithy.api#required": {}
          }
        },
        "eventSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The source of the event.</p>",
            "smithy.api#required": {}
          }
        },
        "eventTime": {
          "target": "com.amazonaws.codecatalyst#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the event took place, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "operationType": {
          "target": "com.amazonaws.codecatalyst#OperationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the event.</p>",
            "smithy.api#required": {}
          }
        },
        "userIdentity": {
          "target": "com.amazonaws.codecatalyst#UserIdentity",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the user whose actions are recorded in the event.</p>",
            "smithy.api#required": {}
          }
        },
        "projectInformation": {
          "target": "com.amazonaws.codecatalyst#ProjectInformation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the project where the event occurred.</p>"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the request.</p>"
          }
        },
        "requestPayload": {
          "target": "com.amazonaws.codecatalyst#EventPayload",
          "traits": {
            "smithy.api#documentation": "<p>Information about the payload of the request.</p>"
          }
        },
        "responsePayload": {
          "target": "com.amazonaws.codecatalyst#EventPayload",
          "traits": {
            "smithy.api#documentation": "<p>Information about the payload of the response, if any.</p>"
          }
        },
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The code of the error, if any.</p>"
          }
        },
        "sourceIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the user whose actions are recorded in the event.</p>"
          }
        },
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an entry in an event log of Amazon CodeCatalyst activity.</p>"
      }
    },
    "com.amazonaws.codecatalyst#EventLogResource": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "eventLogId": {
          "target": "smithy.api#String"
        }
      },
      "list": {
        "target": "com.amazonaws.codecatalyst#ListEventLogs"
      }
    },
    "com.amazonaws.codecatalyst#EventPayload": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of content in the event payload.</p>"
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The data included in the event payload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the payload of an event recording Amazon CodeCatalyst activity.</p>"
      }
    },
    "com.amazonaws.codecatalyst#ExecuteCommandSessionConfiguration": {
      "type": "structure",
      "members": {
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The command used at the beginning of the SSH session to a Dev Environment.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 255
            },
            "smithy.api#required": {}
          }
        },
        "arguments": {
          "target": "com.amazonaws.codecatalyst#ExecuteCommandSessionConfigurationArguments",
          "traits": {
            "smithy.api#documentation": "<p>An array of arguments containing arguments and members.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the commands that will be run on a Dev Environment when an SSH session begins.</p>"
      }
    },
    "com.amazonaws.codecatalyst#ExecuteCommandSessionConfigurationArguments": {
      "type": "list",
      "member": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 255
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#ExtensionIdString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[0-9a-zA-z\\-]+$"
      }
    },
    "com.amazonaws.codecatalyst#ExtensionInstallation": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "extensionId": {
          "target": "com.amazonaws.codecatalyst#ExtensionIdString"
        }
      }
    },
    "com.amazonaws.codecatalyst#ExtensionIssue": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.amazonaws.codecatalyst#ExtensionIssueScope": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "extensionIssueScopeName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#ExternalArtifactRepository": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "artifactRepositoryName": {
          "target": "com.amazonaws.codecatalyst#ArtifactRepositoryNameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#Filter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.codecatalyst#StringList",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "comparisonOperator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.codecatalyst#FilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "HAS_ACCESS_TO",
            "value": "hasAccessTo"
          }
        ]
      }
    },
    "com.amazonaws.codecatalyst#Filters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecatalyst#Filter"
      }
    },
    "com.amazonaws.codecatalyst#GetDevEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#GetDevEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#GetDevEnvironmentResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a Dev Environment for a source repository in a project. Dev Environments are specific to the user who creates them.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/spaces/{spaceName}/projects/{projectName}/devEnvironments/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codecatalyst#GetDevEnvironmentRequest": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.codecatalyst#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the Dev Environment for which you want to view information. To retrieve a list of Dev Environment IDs, use <a>ListDevEnvironments</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "devEnvironmentId"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetDevEnvironmentResponse": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.codecatalyst#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the Dev Environment. </p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "devEnvironmentId"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.codecatalyst#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the Dev Environment was last updated, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "creatorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the user who created the Dev Environment. </p>",
            "smithy.api#length": {
              "max": 1024
            },
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.codecatalyst#DevEnvironmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Dev Environment.</p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "com.amazonaws.codecatalyst#StatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the status.</p>"
          }
        },
        "repositories": {
          "target": "com.amazonaws.codecatalyst#DevEnvironmentRepositorySummaries",
          "traits": {
            "smithy.api#documentation": "<p>The source repository that contains the branch cloned into the Dev Environment. </p>",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user-specified alias for the Dev Environment. </p>",
            "smithy.api#length": {
              "max": 128
            }
          }
        },
        "ides": {
          "target": "com.amazonaws.codecatalyst#Ides",
          "traits": {
            "smithy.api#documentation": "<p>Information about the integrated development environment (IDE) configured for the Dev Environment. </p>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.codecatalyst#InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instace type to use for the Dev Environment. </p>",
            "smithy.api#required": {}
          }
        },
        "inactivityTimeoutMinutes": {
          "target": "com.amazonaws.codecatalyst#InactivityTimeoutMinutes",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of time the Dev Environment will run without any activity detected before stopping, in minutes.</p>",
            "smithy.api#required": {}
          }
        },
        "persistentStorage": {
          "target": "com.amazonaws.codecatalyst#PersistentStorage",
          "traits": {
            "smithy.api#documentation": "<p>Information about the amount of storage allocated to the Dev Environment.  By default, a Dev Environment is configured to have 16GB of persistent storage.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#GetProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#GetProjectResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a project.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/spaces/{spaceName}/projects/{name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codecatalyst#GetProjectRequest": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "projectName"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetProjectResponse": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the project displayed to users in Amazon CodeCatalyst.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the project.</p>"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetSourceRepositoryCloneUrls": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#GetSourceRepositoryCloneUrlsRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#GetSourceRepositoryCloneUrlsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the URLs that can be used with a Git client to clone a source\n      repository.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/spaces/{spaceName}/projects/{projectName}/sourceRepositories/{sourceRepositoryName}/cloneUrls",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codecatalyst#GetSourceRepositoryCloneUrlsRequest": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sourceRepositoryName": {
          "target": "com.amazonaws.codecatalyst#SourceRepositoryNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source repository.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetSourceRepositoryCloneUrlsResponse": {
      "type": "structure",
      "members": {
        "https": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The HTTPS URL to use when cloning the source repository.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetSpace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#GetSpaceRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#GetSpaceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an space.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/spaces/{name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codecatalyst#GetSpaceRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "spaceName"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetSpaceResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#required": {}
          }
        },
        "regionName": {
          "target": "com.amazonaws.codecatalyst#RegionString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region where the space exists.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the space displayed to users.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the space.</p>"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#GetSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#GetSubscriptionResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the Amazon Web Services account used for billing purposes \n      and the billing plan for the space.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/spaces/{spaceName}/subscription",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codecatalyst#GetSubscriptionRequest": {
      "type": "structure",
      "members": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the space.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetSubscriptionResponse": {
      "type": "structure",
      "members": {
        "subscriptionType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the billing plan for the space.</p>"
          }
        },
        "awsAccountName": {
          "target": "com.amazonaws.codecatalyst#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the Amazon Web Services account used for billing for the space.</p>"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetUserDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecatalyst#GetUserDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.codecatalyst#GetUserDetailsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a user. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/userDetails",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codecatalyst#GetUserDetailsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the user. </p>",
            "smithy.api#httpQuery": "id",
            "smithy.api#length": {
              "min": 1,
              "max": 256
            }
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user as displayed in Amazon CodeCatalyst.</p>",
            "smithy.api#httpQuery": "userName",
            "smithy.api#length": {
              "min": 3,
              "max": 100
            },
            "smithy.api#pattern": "^[a-zA-Z0-9]{3,100}$"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#GetUserDetailsResponse": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID of the user.</p>"
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user as displayed in Amazon CodeCatalyst.</p>"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name displayed for the user in Amazon CodeCatalyst.</p>"
          }
        },
        "primaryEmail": {
          "target": "com.amazonaws.codecatalyst#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email address provided by the user when they signed up.</p>"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      }
    },
    "com.amazonaws.codecatalyst#Ide": {
      "type": "structure",
      "members": {
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A link to the IDE runtime image.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 400
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IDE.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 128
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an integrated development environment (IDE) used in a Dev Environment.</p>"
      }
    },
    "com.amazonaws.codecatalyst#IdeConfiguration": {
      "type": "structure",
      "members": {
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A link to the IDE runtime image.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 400
            }
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IDE.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 128
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the configuration of an integrated development environment (IDE) for a Dev Environment.</p>"
      }
    },
    "com.amazonaws.codecatalyst#IdeConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecatalyst#IdeConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.codecatalyst#Ides": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecatalyst#Ide"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.codecatalyst#InactivityTimeoutMinutes": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 1200
        }
      }
    },
    "com.amazonaws.codecatalyst#Incident": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "incidentId": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#InstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "DEV_STANDARD1_SMALL",
            "value": "dev.standard1.small"
          },
          {
            "name": "DEV_STANDARD1_MEDIUM",
            "value": "dev.standard1.medium"
          },
          {
            "name": "DEV_STANDARD1_LARGE",
            "value": "dev.standard1.large"
          },
          {
            "name": "DEV_STANDARD1_XLARGE",
            "value": "dev.standard1.xlarge"
          }
        ]
      }
    },
    "com.amazonaws.codecatalyst#Issue": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueStoreName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueId": {
          "target": "com.amazonaws.codecatalyst#IssueId"
        }
      }
    },
    "com.amazonaws.codecatalyst#IssueCommentReaction": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueId": {
          "target": "smithy.api#String"
        },
        "commentId": {
          "target": "smithy.api#String"
        },
        "reactionId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.amazonaws.codecatalyst#IssueId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.codecatalyst#IssueMigration": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueStoreName": {
          "target": "com.amazonaws.codecatalyst#IssueStoreNameString"
        },
        "issueId": {
          "target": "com.amazonaws.codecatalyst#IssueId"
        }
      }
    },
    "com.amazonaws.codecatalyst#IssueStore": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueStoreName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.codecatalyst#Issue"
        },
        {
          "target": "com.amazonaws.codecatalyst#IssueStoreLabel"
        },
        {
          "target": "com.amazonaws.codecatalyst#IssueStoreSavedView"
        },
        {
          "target": "com.amazonaws.codecatalyst#IssueStoreStatusResource"
        }
      ]
    },
    "com.amazonaws.codecatalyst#IssueStoreLabel": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueStoreName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueStoreLabelId": {
          "target": "com.amazonaws.codecatalyst#Uuid"
        }
      }
    },
    "com.amazonaws.codecatalyst#IssueStoreMigration": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueStoreName": {
          "target": "com.amazonaws.codecatalyst#IssueStoreNameString"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.codecatalyst#IssueMigration"
        }
      ]
    },
    "com.amazonaws.codecatalyst#IssueStoreNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        }
      }
    },
    "com.amazonaws.codecatalyst#IssueStoreSavedView": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "projectName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        },
        "issueStoreName": {
          "target": "com.amazonaws.codecatalyst#NameString"
        }
      }
    },
    "com.amazonaws.codecatalyst#IssueStoreStatusResource": {
      "type": "resource",
      "identifiers": {
        "spaceName": {
[...]
