{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codedeploy#AddTagsToOnPremisesInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#AddTagsToOnPremisesInstancesInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#InstanceLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InstanceNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InstanceNotRegisteredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidInstanceNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidTagException"
        },
        {
          "target": "com.amazonaws.codedeploy#TagLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#TagRequiredException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds tags to on-premises instances.</p>"
      }
    },
    "com.amazonaws.codedeploy#AddTagsToOnPremisesInstancesInput": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.codedeploy#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs to add to the on-premises instances.</p>\n        <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only\n            tags are not allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceNames": {
          "target": "com.amazonaws.codedeploy#InstanceNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the on-premises instances to which to add tags.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of, and adds tags to, an on-premises instance operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#AdditionalDeploymentStatusInfo": {
      "type": "string",
      "traits": {
        "smithy.api#deprecated": {
          "message": "AdditionalDeploymentStatusInfo is deprecated, use DeploymentStatusMessageList instead."
        }
      }
    },
    "com.amazonaws.codedeploy#Alarm": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codedeploy#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alarm. Maximum length is 255 characters. Each alarm name can be used\n            only once in a list of alarms.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an alarm.</p>"
      }
    },
    "com.amazonaws.codedeploy#AlarmConfiguration": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether the alarm configuration is enabled.</p>"
          }
        },
        "ignorePollAlarmFailure": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether a deployment should continue if information about the current state\n            of alarms cannot be retrieved from Amazon CloudWatch. The default value is false.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>true</code>: The deployment proceeds even if alarm status information\n                    can't be retrieved from Amazon CloudWatch.</p>\n            </li>\n            <li>\n                <p>\n                  <code>false</code>: The deployment stops if alarm status information can't be\n                    retrieved from Amazon CloudWatch.</p>\n            </li>\n         </ul>"
          }
        },
        "alarms": {
          "target": "com.amazonaws.codedeploy#AlarmList",
          "traits": {
            "smithy.api#documentation": "<p>A list of alarms configured for the deployment or deployment group. A maximum of 10\n            alarms can be added.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about alarms associated with a deployment or deployment group.</p>"
      }
    },
    "com.amazonaws.codedeploy#AlarmList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#Alarm"
      }
    },
    "com.amazonaws.codedeploy#AlarmName": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#AlarmsLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The maximum number of alarms for a deployment group (10) was exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#AppSpecContent": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.codedeploy#RawStringContent",
          "traits": {
            "smithy.api#documentation": "<p> The YAML-formatted or JSON-formatted revision string. </p>\n        <p> For an Lambda deployment, the content includes a Lambda\n            function name, the alias for its original version, and the alias for its replacement\n            version. The deployment shifts traffic from the original version of the Lambda function to the replacement version. </p>\n        <p> For an Amazon ECS deployment, the content includes the task name, information\n            about the load balancer that serves traffic to the container, and more. </p>\n        <p> For both types of deployments, the content can specify Lambda functions\n            that run at specified hooks, such as <code>BeforeInstall</code>, during a deployment.\n        </p>"
          }
        },
        "sha256": {
          "target": "com.amazonaws.codedeploy#RawStringSha256",
          "traits": {
            "smithy.api#documentation": "<p> The SHA256 hash value of the revision content. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A revision for an Lambda or Amazon ECS deployment that is a\n            YAML-formatted or JSON-formatted string. For Lambda and Amazon ECS deployments, the revision is the same as the AppSpec file. This method replaces the\n            deprecated <code>RawString</code> data type. </p>"
      }
    },
    "com.amazonaws.codedeploy#ApplicationAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An application with the specified name with the IAM user or Amazon Web Services account already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#ApplicationDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The application does not exist with the IAM user or Amazon Web Services account.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#ApplicationId": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#ApplicationInfo": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "com.amazonaws.codedeploy#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The application name.</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.codedeploy#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the application was created.</p>"
          }
        },
        "linkedToGitHub": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>True if the user has authenticated with GitHub for the specified application.\n            Otherwise, false.</p>"
          }
        },
        "gitHubAccountName": {
          "target": "com.amazonaws.codedeploy#GitHubAccountTokenName",
          "traits": {
            "smithy.api#documentation": "<p>The name for a connection to a GitHub account.</p>"
          }
        },
        "computePlatform": {
          "target": "com.amazonaws.codedeploy#ComputePlatform",
          "traits": {
            "smithy.api#documentation": "<p>The destination platform type for deployment of the application (<code>Lambda</code> or <code>Server</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an application.</p>"
      }
    },
    "com.amazonaws.codedeploy#ApplicationLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>More applications were attempted to be created than are allowed.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#ApplicationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codedeploy#ApplicationNameRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The minimum number of required application names was not specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#ApplicationRevisionSortBy": {
      "type": "enum",
      "members": {
        "RegisterTime": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registerTime"
          }
        },
        "FirstUsedTime": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firstUsedTime"
          }
        },
        "LastUsedTime": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lastUsedTime"
          }
        }
      }
    },
    "com.amazonaws.codedeploy#ApplicationsInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#ApplicationInfo"
      }
    },
    "com.amazonaws.codedeploy#ApplicationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#ApplicationName"
      }
    },
    "com.amazonaws.codedeploy#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.codedeploy#ArnNotSupportedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The specified ARN is not supported. For example, it might be an ARN for a resource\n            that is not expected. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#AutoRollbackConfiguration": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether a defined automatic rollback configuration is currently\n            enabled.</p>"
          }
        },
        "events": {
          "target": "com.amazonaws.codedeploy#AutoRollbackEventsList",
          "traits": {
            "smithy.api#documentation": "<p>The event type or types that trigger a rollback.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a configuration for automatically rolling back to a previous version\n            of an application revision when a deployment is not completed successfully.</p>"
      }
    },
    "com.amazonaws.codedeploy#AutoRollbackEvent": {
      "type": "enum",
      "members": {
        "DEPLOYMENT_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_FAILURE"
          }
        },
        "DEPLOYMENT_STOP_ON_ALARM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STOP_ON_ALARM"
          }
        },
        "DEPLOYMENT_STOP_ON_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYMENT_STOP_ON_REQUEST"
          }
        }
      }
    },
    "com.amazonaws.codedeploy#AutoRollbackEventsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#AutoRollbackEvent"
      }
    },
    "com.amazonaws.codedeploy#AutoScalingGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codedeploy#AutoScalingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group name.</p>"
          }
        },
        "hook": {
          "target": "com.amazonaws.codedeploy#AutoScalingGroupHook",
          "traits": {
            "smithy.api#documentation": "<p>An Auto Scaling lifecycle event hook name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.codedeploy#AutoScalingGroupHook": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#AutoScalingGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#AutoScalingGroup"
      }
    },
    "com.amazonaws.codedeploy#AutoScalingGroupName": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#AutoScalingGroupNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#AutoScalingGroupName"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplicationRevisions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetApplicationRevisionsInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetApplicationRevisionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidRevisionException"
        },
        {
          "target": "com.amazonaws.codedeploy#RevisionRequiredException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more application revisions. The maximum number of\n            application revisions that can be returned is 25.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplicationRevisionsInput": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an CodeDeploy application about which to get revision\n            information.</p>",
            "smithy.api#required": {}
          }
        },
        "revisions": {
          "target": "com.amazonaws.codedeploy#RevisionLocationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>RevisionLocation</code> objects that specify information to get\n            about the application revisions, including type and location. The maximum number of\n                <code>RevisionLocation</code> objects you can specify is 25.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>BatchGetApplicationRevisions</code> operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplicationRevisionsOutput": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application that corresponds to the revisions.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.codedeploy#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Information about errors that might have occurred during the API call.</p>"
          }
        },
        "revisions": {
          "target": "com.amazonaws.codedeploy#RevisionInfoList",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the revisions, including the type and location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchGetApplicationRevisions</code> operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetApplicationsInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetApplicationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more applications. The maximum number of applications\n            that can be returned is 100.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplicationsInput": {
      "type": "structure",
      "members": {
        "applicationNames": {
          "target": "com.amazonaws.codedeploy#ApplicationsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of application names separated by spaces. The maximum number of application\n            names you can specify is 100.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>BatchGetApplications</code> operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplicationsOutput": {
      "type": "structure",
      "members": {
        "applicationsInfo": {
          "target": "com.amazonaws.codedeploy#ApplicationsInfoList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the applications.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchGetApplications</code> operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentGroupsInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentGroupNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentGroupNameException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more deployment groups.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentGroupsInput": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an CodeDeploy application associated with the applicable\n                IAM or Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentGroupNames": {
          "target": "com.amazonaws.codedeploy#DeploymentGroupsList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the deployment groups.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>BatchGetDeploymentGroups</code> operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentGroupsOutput": {
      "type": "structure",
      "members": {
        "deploymentGroupsInfo": {
          "target": "com.amazonaws.codedeploy#DeploymentGroupInfoList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the deployment groups.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.codedeploy#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Information about errors that might have occurred during the API call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchGetDeploymentGroups</code> operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentInstancesInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentInstancesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InstanceIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidComputePlatformException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentIdException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidInstanceNameException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "This operation is deprecated, use BatchGetDeploymentTargets instead."
        },
        "smithy.api#documentation": "<note>\n            <p> This method works, but is deprecated. Use <code>BatchGetDeploymentTargets</code>\n                instead. </p>\n        </note>\n        <p> Returns an array of one or more instances associated with a deployment. This method\n            works with EC2/On-premises and Lambda compute platforms. The newer\n                <code>BatchGetDeploymentTargets</code> works with all compute platforms. The maximum\n            number of instances that can be returned is 25.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentInstancesInput": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.codedeploy#DeploymentId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of a deployment. </p>",
            "smithy.api#required": {}
          }
        },
        "instanceIds": {
          "target": "com.amazonaws.codedeploy#InstancesList",
          "traits": {
            "smithy.api#documentation": "<p>The unique IDs of instances used in the deployment. The maximum number of instance IDs\n            you can specify is 25.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the input of a <code>BatchGetDeploymentInstances</code> operation. </p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentInstancesOutput": {
      "type": "structure",
      "members": {
        "instancesSummary": {
          "target": "com.amazonaws.codedeploy#InstanceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the instance.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.codedeploy#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Information about errors that might have occurred during the API call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchGetDeploymentInstances</code> operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentTargetsInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentTargetsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#DeploymentDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentNotStartedException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentTargetDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentTargetIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentTargetListSizeExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InstanceDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentIdException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentTargetIdException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns an array of one or more targets associated with a deployment. This method\n            works with all compute types and should be used instead of the deprecated\n                <code>BatchGetDeploymentInstances</code>. The maximum number of targets that can be\n            returned is 25.</p>\n        <p> The type of targets returned depends on the deployment's compute platform or\n            deployment method: </p>\n        <ul>\n            <li>\n                <p>\n                    <b>EC2/On-premises</b>: Information about Amazon EC2 instance targets. </p>\n            </li>\n            <li>\n                <p>\n                    <b>Lambda</b>: Information about\n                        Lambda functions targets. </p>\n            </li>\n            <li>\n                <p>\n                    <b>Amazon ECS</b>: Information about Amazon ECS service targets. </p>\n            </li>\n            <li>\n                <p>\n                  <b>CloudFormation</b>: Information about\n                    targets of blue/green deployments initiated by a CloudFormation stack\n                    update.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentTargetsInput": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.codedeploy#DeploymentId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of a deployment. </p>"
          }
        },
        "targetIds": {
          "target": "com.amazonaws.codedeploy#TargetIdList",
          "traits": {
            "smithy.api#documentation": "<p> The unique IDs of the deployment targets. The compute platform of the deployment\n            determines the type of the targets and their formats. The maximum number of deployment\n            target IDs you can specify is 25.</p>\n        <ul>\n            <li>\n                <p> For deployments that use the EC2/On-premises compute platform, the target IDs\n                    are Amazon EC2 or on-premises instances IDs, and their target type is\n                        <code>instanceTarget</code>. </p>\n            </li>\n            <li>\n                <p> For deployments that use the Lambda compute platform, the\n                    target IDs are the names of Lambda functions, and their target type\n                    is <code>instanceTarget</code>. </p>\n            </li>\n            <li>\n                <p> For deployments that use the Amazon ECS compute platform, the target\n                    IDs are pairs of Amazon ECS clusters and services specified using the\n                    format <code><clustername>:<servicename></code>. Their target type\n                    is <code>ecsTarget</code>. </p>\n            </li>\n            <li>\n                <p> For deployments that are deployed with CloudFormation, the target IDs are\n                        CloudFormation stack IDs. Their target type is\n                        <code>cloudFormationTarget</code>. </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentTargetsOutput": {
      "type": "structure",
      "members": {
        "deploymentTargets": {
          "target": "com.amazonaws.codedeploy#DeploymentTargetList",
          "traits": {
            "smithy.api#documentation": "<p> A list of target objects for a deployment. Each target object contains details about\n            the target, such as its status and lifecycle events. The type of the target objects\n            depends on the deployment' compute platform. </p>\n        <ul>\n            <li>\n                <p>\n                    <b>EC2/On-premises</b>: Each target object is an\n                        Amazon EC2 or on-premises instance. </p>\n            </li>\n            <li>\n                <p>\n                    <b>Lambda</b>: The target object is a\n                    specific version of an Lambda function. </p>\n            </li>\n            <li>\n                <p>\n                    <b>Amazon ECS</b>: The target object is an\n                        Amazon ECS service. </p>\n            </li>\n            <li>\n                <p>\n                    <b>CloudFormation</b>: The target object is\n                    an CloudFormation blue/green deployment. </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeployments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentsInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentIdException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more deployments. The maximum number of deployments that\n            can be returned is 25.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentsInput": {
      "type": "structure",
      "members": {
        "deploymentIds": {
          "target": "com.amazonaws.codedeploy#DeploymentsList",
          "traits": {
            "smithy.api#documentation": "<p> A list of deployment IDs, separated by spaces. The maximum number of deployment IDs\n            you can specify is 25.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the input of a <code>BatchGetDeployments</code> operation. </p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentsOutput": {
      "type": "structure",
      "members": {
        "deploymentsInfo": {
          "target": "com.amazonaws.codedeploy#DeploymentsInfoList",
          "traits": {
            "smithy.api#documentation": "<p> Information about the deployments. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>BatchGetDeployments</code> operation. </p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetOnPremisesInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetOnPremisesInstancesInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetOnPremisesInstancesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InstanceNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidInstanceNameException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more on-premises instances. The maximum number of\n            on-premises instances that can be returned is 25.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetOnPremisesInstancesInput": {
      "type": "structure",
      "members": {
        "instanceNames": {
          "target": "com.amazonaws.codedeploy#InstanceNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the on-premises instances about which to get information. The maximum\n            number of instance names you can specify is 25.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>BatchGetOnPremisesInstances</code> operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetOnPremisesInstancesOutput": {
      "type": "structure",
      "members": {
        "instanceInfos": {
          "target": "com.amazonaws.codedeploy#InstanceInfoList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the on-premises instances.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchGetOnPremisesInstances</code> operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#BlueGreenDeploymentConfiguration": {
      "type": "structure",
      "members": {
        "terminateBlueInstancesOnDeploymentSuccess": {
          "target": "com.amazonaws.codedeploy#BlueInstanceTerminationOption",
          "traits": {
            "smithy.api#documentation": "<p>Information about whether to terminate instances in the original fleet during a\n            blue/green deployment.</p>"
          }
        },
        "deploymentReadyOption": {
          "target": "com.amazonaws.codedeploy#DeploymentReadyOption",
          "traits": {
            "smithy.api#documentation": "<p>Information about the action to take when newly provisioned instances are ready to\n            receive traffic in a blue/green deployment.</p>"
          }
        },
        "greenFleetProvisioningOption": {
          "target": "com.amazonaws.codedeploy#GreenFleetProvisioningOption",
          "traits": {
            "smithy.api#documentation": "<p>Information about how instances are provisioned for a replacement environment in a\n            blue/green deployment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about blue/green deployment options for a deployment group.</p>"
      }
    },
    "com.amazonaws.codedeploy#BlueInstanceTerminationOption": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.codedeploy#InstanceAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to take on instances in the original environment after a successful\n            blue/green deployment.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>TERMINATE</code>: Instances are terminated after a specified wait\n                    time.</p>\n            </li>\n            <li>\n                <p>\n                  <code>KEEP_ALIVE</code>: Instances are left running after they are\n                    deregistered from the load balancer and removed from the deployment\n                    group.</p>\n            </li>\n         </ul>"
          }
        },
        "terminationWaitTimeInMinutes": {
          "target": "com.amazonaws.codedeploy#Duration",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>For an Amazon EC2 deployment, the number of minutes to wait after a successful\n            blue/green deployment before terminating instances from the original environment.</p>\n\n        <p> For an Amazon ECS deployment, the number of minutes before deleting the\n            original (blue) task set. During an Amazon ECS deployment, CodeDeploy shifts\n            traffic from the original (blue) task set to a replacement (green) task set. </p>\n\n        <p> The maximum setting is 2880 minutes (2 days). </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about whether instances in the original environment are terminated when a\n            blue/green deployment is successful. <code>BlueInstanceTerminationOption</code> does not\n            apply to Lambda deployments. </p>"
      }
    },
    "com.amazonaws.codedeploy#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.codedeploy#BucketNameFilterRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A bucket name is required, but was not provided.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#BundleType": {
      "type": "enum",
      "members": {
        "Tar": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tar"
          }
        },
        "TarGZip": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tgz"
          }
        },
        "Zip": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zip"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YAML"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        }
      }
    },
    "com.amazonaws.codedeploy#CloudFormationResourceType": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#CloudFormationTarget": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.codedeploy#DeploymentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of an CloudFormation blue/green deployment.</p>"
          }
        },
        "targetId": {
          "target": "com.amazonaws.codedeploy#TargetId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of a deployment target that has a type\n                of <code>CloudFormationTarget</code>. </p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.codedeploy#Time",
          "traits": {
            "smithy.api#documentation": "<p> The date and time when the target application was updated by an CloudFormation\n            blue/green deployment. </p>"
          }
        },
        "lifecycleEvents": {
          "target": "com.amazonaws.codedeploy#LifecycleEventList",
          "traits": {
            "smithy.api#documentation": "<p> The lifecycle events of the CloudFormation blue/green deployment to this target\n            application. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.codedeploy#TargetStatus",
          "traits": {
            "smithy.api#documentation": "<p> The status of an CloudFormation blue/green deployment's target application.\n        </p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.codedeploy#CloudFormationResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type for the CloudFormation blue/green deployment.</p>"
          }
        },
        "targetVersionWeight": {
          "target": "com.amazonaws.codedeploy#TrafficWeight",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The percentage of production traffic that the target version of an CloudFormation\n            blue/green deployment receives.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about the target to be updated by an CloudFormation blue/green\n            deployment. This target type is used for all deployments initiated by a CloudFormation stack update.</p>"
      }
    },
    "com.amazonaws.codedeploy#CodeDeploy_20141006": {
      "type": "service",
      "version": "2014-10-06",
      "operations": [
        {
          "target": "com.amazonaws.codedeploy#AddTagsToOnPremisesInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetApplicationRevisions"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetApplications"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetDeploymentGroups"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetDeploymentInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetDeployments"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetDeploymentTargets"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetOnPremisesInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#ContinueDeployment"
        },
        {
          "target": "com.amazonaws.codedeploy#CreateApplication"
        },
        {
          "target": "com.amazonaws.codedeploy#CreateDeployment"
        },
        {
          "target": "com.amazonaws.codedeploy#CreateDeploymentConfig"
        },
        {
          "target": "com.amazonaws.codedeploy#CreateDeploymentGroup"
        },
        {
          "target": "com.amazonaws.codedeploy#DeleteApplication"
        },
        {
          "target": "com.amazonaws.codedeploy#DeleteDeploymentConfig"
        },
        {
          "target": "com.amazonaws.codedeploy#DeleteDeploymentGroup"
        },
        {
          "target": "com.amazonaws.codedeploy#DeleteGitHubAccountToken"
        },
        {
          "target": "com.amazonaws.codedeploy#DeleteResourcesByExternalId"
        },
        {
          "target": "com.amazonaws.codedeploy#DeregisterOnPremisesInstance"
        },
        {
          "target": "com.amazonaws.codedeploy#GetApplication"
        },
        {
          "target": "com.amazonaws.codedeploy#GetApplicationRevision"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeployment"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeploymentConfig"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeploymentGroup"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeploymentInstance"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeploymentTarget"
        },
        {
          "target": "com.amazonaws.codedeploy#GetOnPremisesInstance"
        },
        {
          "target": "com.amazonaws.codedeploy#ListApplicationRevisions"
        },
        {
          "target": "com.amazonaws.codedeploy#ListApplications"
        },
        {
          "target": "com.amazonaws.codedeploy#ListDeploymentConfigs"
        },
        {
          "target": "com.amazonaws.codedeploy#ListDeploymentGroups"
        },
        {
          "target": "com.amazonaws.codedeploy#ListDeploymentInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#ListDeployments"
        },
        {
          "target": "com.amazonaws.codedeploy#ListDeploymentTargets"
        },
        {
          "target": "com.amazonaws.codedeploy#ListGitHubAccountTokenNames"
        },
        {
          "target": "com.amazonaws.codedeploy#ListOnPremisesInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.codedeploy#PutLifecycleEventHookExecutionStatus"
        },
        {
          "target": "com.amazonaws.codedeploy#RegisterApplicationRevision"
        },
        {
          "target": "com.amazonaws.codedeploy#RegisterOnPremisesInstance"
        },
        {
          "target": "com.amazonaws.codedeploy#RemoveTagsFromOnPremisesInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#SkipWaitTimeForInstanceTermination"
        },
        {
          "target": "com.amazonaws.codedeploy#StopDeployment"
        },
        {
          "target": "com.amazonaws.codedeploy#TagResource"
        },
        {
          "target": "com.amazonaws.codedeploy#UntagResource"
        },
        {
          "target": "com.amazonaws.codedeploy#UpdateApplication"
        },
        {
          "target": "com.amazonaws.codedeploy#UpdateDeploymentGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodeDeploy",
          "arnNamespace": "codedeploy",
          "cloudFormationName": "CodeDeploy",
          "cloudTrailEventSource": "codedeploy.amazonaws.com",
          "endpointPrefix": "codedeploy"
        },
        "aws.auth#sigv4": {
          "name": "codedeploy"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>CodeDeploy is a deployment service that automates application deployments\n            to Amazon EC2 instances, on-premises instances running in your own facility,\n            serverless Lambda functions, or applications in an Amazon ECS\n            service.</p>\n        <p>You can deploy a nearly unlimited variety of application content, such as an updated\n                Lambda function, updated applications in an Amazon ECS service,\n            code, web and configuration files, executables, packages, scripts, multimedia files, and\n            so on. CodeDeploy can deploy application content stored in Amazon S3\n            buckets, GitHub repositories, or Bitbucket repositories. You do not need to make changes\n            to your existing code before you can use CodeDeploy.</p>\n        <p>CodeDeploy makes it easier for you to rapidly release new features, helps\n            you avoid downtime during application deployment, and handles the complexity of updating\n            your applications, without many of the risks associated with error-prone manual\n            deployments.</p>\n        <p>\n            <b>CodeDeploy Components</b>\n        </p>\n        <p>Use the information in this guide to help you work with the following CodeDeploy components:</p>\n        <ul>\n            <li>\n                <p>\n                    <b>Application</b>: A name that uniquely identifies\n                    the application you want to deploy. CodeDeploy uses this name, which\n                    functions as a container, to ensure the correct combination of revision,\n                    deployment configuration, and deployment group are referenced during a\n                    deployment.</p>\n            </li>\n            <li>\n                <p>\n                    <b>Deployment group</b>: A set of individual\n                    instances, CodeDeploy\n                    Lambda deployment configuration settings, or an Amazon ECS\n                    service and network details. A Lambda deployment group specifies how\n                    to route traffic to a new version of a Lambda function. An Amazon ECS deployment group specifies the service created in Amazon ECS to deploy, a load balancer, and a listener to reroute production\n                    traffic to an updated containerized application. An Amazon EC2/On-premises deployment group contains individually tagged instances, Amazon EC2 instances in Amazon EC2 Auto Scaling groups, or both. All\n                    deployment groups can specify optional trigger, alarm, and rollback\n                    settings.</p>\n            </li>\n            <li>\n                <p>\n                    <b>Deployment configuration</b>: A set of deployment\n                    rules and deployment success and failure conditions used by CodeDeploy during a deployment.</p>\n            </li>\n            <li>\n                <p>\n                    <b>Deployment</b>: The process and the components used\n                    when updating a Lambda function, a containerized application in an\n                        Amazon ECS service, or of installing content on one or more\n                    instances. </p>\n            </li>\n            <li>\n                <p>\n                    <b>Application revisions</b>: For an Lambda deployment, this is an AppSpec file that specifies the\n                        Lambda function to be updated and one or more functions to\n                    validate deployment lifecycle events. For an Amazon ECS deployment, this\n                    is an AppSpec file that specifies the Amazon ECS task definition,\n                    container, and port where production traffic is rerouted. For an EC2/On-premises\n                    deployment, this is an archive file that contains source content—source code,\n                    webpages, executable files, and deployment scripts—along with an AppSpec file.\n                    Revisions are stored in Amazon S3 buckets or GitHub repositories. For\n                        Amazon S3, a revision is uniquely identified by its Amazon S3 object key and its ETag, version, or both. For GitHub, a revision is uniquely\n                    identified by its commit ID.</p>\n            </li>\n         </ul>\n        <p>This guide also contains information to help you get details about the instances in\n            your deployments, to make on-premises instances available for CodeDeploy\n            deployments, to get details about a Lambda function deployment, and to get\n            details about Amazon ECS service deployments.</p>\n        <p>\n            <b>CodeDeploy Information Resources</b>\n         </p>\n        <ul>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide\">CodeDeploy User Guide</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/codedeploy/latest/APIReference/\">CodeDeploy API Reference Guide</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/cli/latest/reference/deploy/index.html\">CLI Reference for CodeDeploy</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                    <a href=\"https://forums.aws.amazon.com/forum.jspa?forumID=179\">CodeDeploy Developer Forum</a>\n                </p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS CodeDeploy",
        "smithy.api#xmlNamespace": {
          "uri": "http://codedeploy.amazonaws.com/doc/2014-10-06/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codedeploy-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://codedeploy-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codedeploy.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://codedeploy.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-south-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-south-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-central-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-central-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codedeploy.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
[...]
