{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codepipeline#AWSRegionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 30
        }
      }
    },
    "com.amazonaws.codepipeline#AWSSessionCredentials": {
      "type": "structure",
      "members": {
        "accessKeyId": {
          "target": "com.amazonaws.codepipeline#AccessKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The access key for the session.</p>",
            "smithy.api#required": {}
          }
        },
        "secretAccessKey": {
          "target": "com.amazonaws.codepipeline#SecretAccessKey",
          "traits": {
            "smithy.api#documentation": "<p>The secret access key for the session.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionToken": {
          "target": "com.amazonaws.codepipeline#SessionToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the session.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an AWS session credentials object. These credentials are temporary\n            credentials that are issued by AWS Secure Token Service (STS). They can be used to\n            access input and output artifacts in the S3 bucket used to store artifact for the\n            pipeline in AWS CodePipeline.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.codepipeline#AccessKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.codepipeline#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9]{12}"
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#AcknowledgeJobInput"
      },
      "output": {
        "target": "com.amazonaws.codepipeline#AcknowledgeJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#InvalidNonceException"
        },
        {
          "target": "com.amazonaws.codepipeline#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.codepipeline#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a specified job and whether that job has been received by\n            the job worker. Used for custom actions only.</p>"
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeJobInput": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.codepipeline#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The unique system-generated ID of the job for which you want to confirm\n            receipt.</p>",
            "smithy.api#required": {}
          }
        },
        "nonce": {
          "target": "com.amazonaws.codepipeline#Nonce",
          "traits": {
            "smithy.api#documentation": "<p>A system-generated random number that AWS CodePipeline uses to ensure that the job\n            is being worked on by only one job worker. Get this number from the response of the\n                <a>PollForJobs</a> request that returned this job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of an AcknowledgeJob action.</p>"
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeJobOutput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.codepipeline#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Whether the job worker has received the specified job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of an AcknowledgeJob action.</p>"
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeThirdPartyJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#AcknowledgeThirdPartyJobInput"
      },
      "output": {
        "target": "com.amazonaws.codepipeline#AcknowledgeThirdPartyJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.codepipeline#InvalidNonceException"
        },
        {
          "target": "com.amazonaws.codepipeline#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.codepipeline#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Confirms a job worker has received the specified job. Used for partner actions\n            only.</p>"
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeThirdPartyJobInput": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.codepipeline#ThirdPartyJobId",
          "traits": {
            "smithy.api#documentation": "<p>The unique system-generated ID of the job.</p>",
            "smithy.api#required": {}
          }
        },
        "nonce": {
          "target": "com.amazonaws.codepipeline#Nonce",
          "traits": {
            "smithy.api#documentation": "<p>A system-generated random number that AWS CodePipeline uses to ensure that the job\n            is being worked on by only one job worker. Get this number from the response to a <a>GetThirdPartyJobDetails</a> request.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.codepipeline#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The clientToken portion of the clientId and clientToken pair used to verify that\n            the calling entity is allowed access to the job and its details.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of an AcknowledgeThirdPartyJob action.</p>"
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeThirdPartyJobOutput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.codepipeline#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status information for the third party job, if any.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of an AcknowledgeThirdPartyJob action.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Source",
            "name": "Source"
          },
          {
            "value": "Build",
            "name": "Build"
          },
          {
            "value": "Deploy",
            "name": "Deploy"
          },
          {
            "value": "Test",
            "name": "Test"
          },
          {
            "value": "Invoke",
            "name": "Invoke"
          },
          {
            "value": "Approval",
            "name": "Approval"
          }
        ]
      }
    },
    "com.amazonaws.codepipeline#ActionConfiguration": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.amazonaws.codepipeline#ActionConfigurationMap",
          "traits": {
            "smithy.api#documentation": "<p>The configuration data for the action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about an action configuration.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionConfigurationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.codepipeline#ActionConfigurationMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.codepipeline#ActionConfigurationKey"
      },
      "value": {
        "target": "com.amazonaws.codepipeline#ActionConfigurationValue"
      }
    },
    "com.amazonaws.codepipeline#ActionConfigurationProperty": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline#ActionConfigurationKey",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action configuration property.</p>",
            "smithy.api#required": {}
          }
        },
        "required": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the configuration property is a required value.</p>",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the configuration property is a key.</p>",
            "smithy.api#required": {}
          }
        },
        "secret": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the configuration property is secret. Secrets are hidden from all calls\n            except for <code>GetJobDetails</code>, <code>GetThirdPartyJobDetails</code>,\n                <code>PollForJobs</code>, and <code>PollForThirdPartyJobs</code>.</p>\n        <p>When updating a pipeline, passing * * * * * without changing any other values of\n            the action preserves the previous value of the secret.</p>",
            "smithy.api#required": {}
          }
        },
        "queryable": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates that the property is used with <code>PollForJobs</code>. When creating a\n            custom action, an action can have up to one queryable property. If it has one, that\n            property must be both required and not secret.</p>\n        <p>If you create a pipeline with a custom action type, and that custom action contains\n            a queryable property, the value for that configuration property is subject to other\n            restrictions. The value must be less than or equal to twenty (20) characters. The value\n            can contain only alphanumeric characters, underscores, and hyphens.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.codepipeline#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the action configuration property that is displayed to\n            users.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.codepipeline#ActionConfigurationPropertyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the configuration property.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about an action configuration property.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionConfigurationPropertyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ActionConfigurationProperty"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.codepipeline#ActionConfigurationPropertyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "String",
            "name": "String"
          },
          {
            "value": "Number",
            "name": "Number"
          },
          {
            "value": "Boolean",
            "name": "Boolean"
          }
        ]
      }
    },
    "com.amazonaws.codepipeline#ActionConfigurationQueryableValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "[a-zA-Z0-9_-]+"
      }
    },
    "com.amazonaws.codepipeline#ActionConfigurationValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.codepipeline#ActionContext": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline#ActionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action in the context of a job.</p>"
          }
        },
        "actionExecutionId": {
          "target": "com.amazonaws.codepipeline#ActionExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID that corresponds to an action's execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the context of an action in the stage of a pipeline to a job\n            worker.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionDeclaration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline#ActionName",
          "traits": {
            "smithy.api#documentation": "<p>The action declaration's name.</p>",
            "smithy.api#required": {}
          }
        },
        "actionTypeId": {
          "target": "com.amazonaws.codepipeline#ActionTypeId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action type and the provider of the action.</p>",
            "smithy.api#required": {}
          }
        },
        "runOrder": {
          "target": "com.amazonaws.codepipeline#ActionRunOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order in which actions are run.</p>"
          }
        },
        "configuration": {
          "target": "com.amazonaws.codepipeline#ActionConfigurationMap",
          "traits": {
            "smithy.api#documentation": "<p>The action's configuration. These are key-value pairs that specify input values for\n            an action. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#action-requirements\">Action Structure Requirements in CodePipeline</a>. For the list of\n            configuration properties for the AWS CloudFormation action type in CodePipeline, see\n                <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/continuous-delivery-codepipeline-action-reference.html\">Configuration Properties Reference</a> in the <i>AWS CloudFormation User\n                Guide</i>. For template snippets with examples, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/continuous-delivery-codepipeline-parameter-override-functions.html\">Using Parameter Override Functions with CodePipeline Pipelines</a> in the\n                <i>AWS CloudFormation User Guide</i>.</p>\n        <p>The values can be represented in either JSON or YAML format. For example, the JSON\n            configuration item format is as follows: </p>\n        <p>\n            <i>JSON:</i>\n         </p>\n        <p>\n            <code>\"Configuration\" : { Key : Value },</code>\n        </p>"
          }
        },
        "outputArtifacts": {
          "target": "com.amazonaws.codepipeline#OutputArtifactList",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the result of the action declaration, such as a test or build\n            artifact.</p>"
          }
        },
        "inputArtifacts": {
          "target": "com.amazonaws.codepipeline#InputArtifactList",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the artifact consumed by the action, such as a test or build\n            artifact.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.codepipeline#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM service role that performs the declared action. This is assumed\n            through the roleArn for the pipeline.</p>"
          }
        },
        "region": {
          "target": "com.amazonaws.codepipeline#AWSRegionName",
          "traits": {
            "smithy.api#documentation": "<p>The action declaration's AWS Region, such as us-east-1.</p>"
          }
        },
        "namespace": {
          "target": "com.amazonaws.codepipeline#ActionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The variable namespace associated with the action. All variables produced as output by\n            this action fall under this namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about an action declaration.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionExecution": {
      "type": "structure",
      "members": {
        "actionExecutionId": {
          "target": "com.amazonaws.codepipeline#ActionExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the workflow action execution in the current stage. Use the <a>GetPipelineState</a> action to retrieve the current action execution details\n            of the current stage.</p>\n        <note>\n            <p>For older executions, this field might be empty. The action execution ID is\n                available for executions run on or after March 2020.</p>\n        </note>"
          }
        },
        "status": {
          "target": "com.amazonaws.codepipeline#ActionExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the action, or for a completed action, the last status of the\n            action.</p>"
          }
        },
        "summary": {
          "target": "com.amazonaws.codepipeline#ExecutionSummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary of the run of the action.</p>"
          }
        },
        "lastStatusChange": {
          "target": "com.amazonaws.codepipeline#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last status change of the action.</p>"
          }
        },
        "token": {
          "target": "com.amazonaws.codepipeline#ActionExecutionToken",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated token used to identify a unique approval request. The token\n            for each open approval request can be obtained using the <code>GetPipelineState</code>\n            command. It is used to validate that the approval request corresponding to this token is\n            still valid.</p>"
          }
        },
        "lastUpdatedBy": {
          "target": "com.amazonaws.codepipeline#LastUpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the user who last changed the pipeline.</p>"
          }
        },
        "externalExecutionId": {
          "target": "com.amazonaws.codepipeline#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the run of the action.</p>"
          }
        },
        "externalExecutionUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL of a resource external to AWS that is used when running the action (for\n            example, an external repository URL).</p>"
          }
        },
        "percentComplete": {
          "target": "com.amazonaws.codepipeline#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>A percentage of completeness of the action as it runs.</p>"
          }
        },
        "errorDetails": {
          "target": "com.amazonaws.codepipeline#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details of an error returned by a URL external to AWS.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about the run of an action.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionDetail": {
      "type": "structure",
      "members": {
        "pipelineExecutionId": {
          "target": "com.amazonaws.codepipeline#PipelineExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The pipeline execution ID for the action execution.</p>"
          }
        },
        "actionExecutionId": {
          "target": "com.amazonaws.codepipeline#ActionExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The action execution ID.</p>"
          }
        },
        "pipelineVersion": {
          "target": "com.amazonaws.codepipeline#PipelineVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the pipeline where the action was run.</p>"
          }
        },
        "stageName": {
          "target": "com.amazonaws.codepipeline#StageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage that contains the action.</p>"
          }
        },
        "actionName": {
          "target": "com.amazonaws.codepipeline#ActionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.codepipeline#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the action execution.</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazonaws.codepipeline#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last update time of the action execution.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.codepipeline#ActionExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p> The status of the action execution. Status categories are <code>InProgress</code>,\n                <code>Succeeded</code>, and <code>Failed</code>.</p>"
          }
        },
        "input": {
          "target": "com.amazonaws.codepipeline#ActionExecutionInput",
          "traits": {
            "smithy.api#documentation": "<p>Input details for the action execution, such as role ARN, Region, and input\n            artifacts.</p>"
          }
        },
        "output": {
          "target": "com.amazonaws.codepipeline#ActionExecutionOutput",
          "traits": {
            "smithy.api#documentation": "<p>Output details for the action execution, such as the action execution result.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an execution of an action, including the action execution\n            ID, and the name, version, and timing of the action. </p>"
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ActionExecutionDetail"
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionFilter": {
      "type": "structure",
      "members": {
        "pipelineExecutionId": {
          "target": "com.amazonaws.codepipeline#PipelineExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The pipeline execution ID used to filter action execution history.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filter values for the action execution.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionId": {
      "type": "string"
    },
    "com.amazonaws.codepipeline#ActionExecutionInput": {
      "type": "structure",
      "members": {
        "actionTypeId": {
          "target": "com.amazonaws.codepipeline#ActionTypeId"
        },
        "configuration": {
          "target": "com.amazonaws.codepipeline#ActionConfigurationMap",
          "traits": {
            "smithy.api#documentation": "<p>Configuration data for an action execution.</p>"
          }
        },
        "resolvedConfiguration": {
          "target": "com.amazonaws.codepipeline#ResolvedActionConfigurationMap",
          "traits": {
            "smithy.api#documentation": "<p>Configuration data for an action execution with all variable references replaced with\n            their real values for the execution.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.codepipeline#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM service role that performs the declared action. This is assumed\n            through the roleArn for the pipeline. </p>"
          }
        },
        "region": {
          "target": "com.amazonaws.codepipeline#AWSRegionName",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region for the action, such as us-east-1.</p>"
          }
        },
        "inputArtifacts": {
          "target": "com.amazonaws.codepipeline#ArtifactDetailList",
          "traits": {
            "smithy.api#documentation": "<p>Details of input artifacts of the action that correspond to the action\n            execution.</p>"
          }
        },
        "namespace": {
          "target": "com.amazonaws.codepipeline#ActionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The variable namespace associated with the action. All variables produced as output by\n            this action fall under this namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input information used for an action execution.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionOutput": {
      "type": "structure",
      "members": {
        "outputArtifacts": {
          "target": "com.amazonaws.codepipeline#ArtifactDetailList",
          "traits": {
            "smithy.api#documentation": "<p>Details of output artifacts of the action that correspond to the action\n            execution.</p>"
          }
        },
        "executionResult": {
          "target": "com.amazonaws.codepipeline#ActionExecutionResult",
          "traits": {
            "smithy.api#documentation": "<p>Execution result information listed in the output details for an action\n            execution.</p>"
          }
        },
        "outputVariables": {
          "target": "com.amazonaws.codepipeline#OutputVariablesMap",
          "traits": {
            "smithy.api#documentation": "<p>The outputVariables field shows the key-value pairs that were output as part of that\n            execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output details listed for an action execution, such as the action execution\n            result.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionResult": {
      "type": "structure",
      "members": {
        "externalExecutionId": {
          "target": "com.amazonaws.codepipeline#ExternalExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The action provider's external ID for the action execution.</p>"
          }
        },
        "externalExecutionSummary": {
          "target": "com.amazonaws.codepipeline#ExternalExecutionSummary",
          "traits": {
            "smithy.api#documentation": "<p>The action provider's summary for the action execution.</p>"
          }
        },
        "externalExecutionUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "<p>The deepest external link to the external resource (for example, a repository URL or\n            deployment endpoint) that is used when running the action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Execution result information, such as the external execution ID.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "InProgress",
            "name": "InProgress"
          },
          {
            "value": "Abandoned",
            "name": "Abandoned"
          },
          {
            "value": "Succeeded",
            "name": "Succeeded"
          },
          {
            "value": "Failed",
            "name": "Failed"
          }
        ]
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionToken": {
      "type": "string"
    },
    "com.amazonaws.codepipeline#ActionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[A-Za-z0-9.@\\-_]+"
      }
    },
    "com.amazonaws.codepipeline#ActionNamespace": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[A-Za-z0-9@\\-_]+"
      }
    },
    "com.amazonaws.codepipeline#ActionNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codepipeline#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message provided to the user in the event of an exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified action cannot be found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codepipeline#ActionOwner": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS",
            "name": "AWS"
          },
          {
            "value": "ThirdParty",
            "name": "ThirdParty"
          },
          {
            "value": "Custom",
            "name": "Custom"
          }
        ]
      }
    },
    "com.amazonaws.codepipeline#ActionProvider": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 35
        },
        "smithy.api#pattern": "[0-9A-Za-z_-]+"
      }
    },
    "com.amazonaws.codepipeline#ActionRevision": {
      "type": "structure",
      "members": {
        "revisionId": {
          "target": "com.amazonaws.codepipeline#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated unique ID that identifies the revision number of the\n            action.</p>",
            "smithy.api#required": {}
          }
        },
        "revisionChangeId": {
          "target": "com.amazonaws.codepipeline#RevisionChangeIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the change that set the state to this revision (for\n            example, a deployment ID or timestamp).</p>",
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "com.amazonaws.codepipeline#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the most recent version of the action was created, in\n            timestamp format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about the version (or revision) of an action.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionRunOrder": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 999
        }
      }
    },
    "com.amazonaws.codepipeline#ActionState": {
      "type": "structure",
      "members": {
        "actionName": {
          "target": "com.amazonaws.codepipeline#ActionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action.</p>"
          }
        },
        "currentRevision": {
          "target": "com.amazonaws.codepipeline#ActionRevision",
          "traits": {
            "smithy.api#documentation": "<p>Represents information about the version (or revision) of an action.</p>"
          }
        },
        "latestExecution": {
          "target": "com.amazonaws.codepipeline#ActionExecution",
          "traits": {
            "smithy.api#documentation": "<p>Represents information about the run of an action.</p>"
          }
        },
        "entityUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "<p>A URL link for more information about the state of the action, such as a deployment\n            group details page.</p>"
          }
        },
        "revisionUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "<p>A URL link for more information about the revision, such as a commit details\n            page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about the state of an action.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionStateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ActionState"
      }
    },
    "com.amazonaws.codepipeline#ActionType": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codepipeline#ActionTypeId",
          "traits": {
            "smithy.api#documentation": "<p>Represents information about an action type.</p>",
            "smithy.api#required": {}
          }
        },
        "settings": {
          "target": "com.amazonaws.codepipeline#ActionTypeSettings",
          "traits": {
            "smithy.api#documentation": "<p>The settings for the action type.</p>"
          }
        },
        "actionConfigurationProperties": {
          "target": "com.amazonaws.codepipeline#ActionConfigurationPropertyList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration properties for the action type.</p>"
          }
        },
        "inputArtifactDetails": {
          "target": "com.amazonaws.codepipeline#ArtifactDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details of the input artifact for the action, such as its commit ID.</p>",
            "smithy.api#required": {}
          }
        },
        "outputArtifactDetails": {
          "target": "com.amazonaws.codepipeline#ArtifactDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details of the output artifact of the action, such as its commit ID.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the details of an action type.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeArtifactDetails": {
      "type": "structure",
      "members": {
        "minimumCount": {
          "target": "com.amazonaws.codepipeline#MinimumActionTypeArtifactCount",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The minimum number of artifacts that can be used with the action type. For example,\n            you should specify a minimum and maximum of zero input artifacts for an action type with\n            a category of <code>source</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "maximumCount": {
          "target": "com.amazonaws.codepipeline#MaximumActionTypeArtifactCount",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of artifacts that can be used with the actiontype. For example, you\n            should specify a minimum and maximum of zero input artifacts for an action type with a\n            category of <code>source</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about parameters for artifacts associated with the action type, such as\n            the minimum and maximum artifacts allowed.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeDeclaration": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.codepipeline#ActionTypeDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description for the action type to be updated.</p>"
          }
        },
        "executor": {
          "target": "com.amazonaws.codepipeline#ActionTypeExecutor",
          "traits": {
            "smithy.api#documentation": "<p>Information about the executor for an action type that was created with any supported\n            integration model.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.codepipeline#ActionTypeIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The action category, owner, provider, and version of the action type to be\n            updated.</p>",
            "smithy.api#required": {}
          }
        },
        "inputArtifactDetails": {
          "target": "com.amazonaws.codepipeline#ActionTypeArtifactDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for the artifacts, such as application files, to be worked on by the action.\n            For example, the minimum and maximum number of input artifacts allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "outputArtifactDetails": {
          "target": "com.amazonaws.codepipeline#ActionTypeArtifactDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for the output artifacts, such as a built application, that are the result of\n            the action. For example, the minimum and maximum number of output artifacts\n            allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.amazonaws.codepipeline#ActionTypePermissions",
          "traits": {
            "smithy.api#documentation": "<p>Details identifying the accounts with permissions to use the action type.</p>"
          }
        },
        "properties": {
          "target": "com.amazonaws.codepipeline#ActionTypeProperties",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the action type to be updated.</p>"
          }
        },
        "urls": {
          "target": "com.amazonaws.codepipeline#ActionTypeUrls",
          "traits": {
            "smithy.api#documentation": "<p>The links associated with the action type to be updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for the action type definition that are provided when the action type\n            is created or updated.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.codepipeline#ActionTypeExecutor": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.amazonaws.codepipeline#ExecutorConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The action configuration properties for the action type. These properties are\n            specified in the action definition when the action type is created.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.codepipeline#ExecutorType",
          "traits": {
            "smithy.api#documentation": "<p>The integration model used to create and update the action type, <code>Lambda</code>\n            or <code>JobWorker</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "policyStatementsTemplate": {
          "target": "com.amazonaws.codepipeline#PolicyStatementsTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The policy statement that specifies the permissions in the CodePipeline customer’s\n            account that are needed to successfully run an action.</p>\n        <p>To grant permission to another account, specify the account ID as the Principal, a\n            domain-style identifier defined by the service, for example\n                <code>codepipeline.amazonaws.com</code>.</p>\n        <note>\n            <p>The size of the passed JSON policy document cannot exceed 2048 characters.</p>\n        </note>"
          }
        },
        "jobTimeout": {
          "target": "com.amazonaws.codepipeline#JobTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The timeout in seconds for the job. An action execution can have multiple jobs. This\n            is the timeout for a single job, not the entire action execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The action engine, or executor, for an action type created for a provider, where the\n            action is to be used by customers of the provider. The action engine is associated with\n            the model used to create and update the action, such as the Lambda integration\n            model.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeId": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.amazonaws.codepipeline#ActionCategory",
          "traits": {
            "smithy.api#documentation": "<p>A category defines what kind of action can be taken in the stage, and constrains\n            the provider type for the action. Valid categories are limited to one of the following\n            values. </p>\n        <ul>\n            <li>\n                <p>Source</p>\n            </li>\n            <li>\n                <p>Build</p>\n            </li>\n            <li>\n                <p>Test</p>\n            </li>\n            <li>\n                <p>Deploy</p>\n            </li>\n            <li>\n                <p>Invoke</p>\n            </li>\n            <li>\n                <p>Approval</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.amazonaws.codepipeline#ActionOwner",
          "traits": {
            "smithy.api#documentation": "<p>The creator of the action being called. There are three valid values for the\n                <code>Owner</code> field in the action category section within your pipeline\n            structure: <code>AWS</code>, <code>ThirdParty</code>, and <code>Custom</code>. For more\n            information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#actions-valid-providers\">Valid Action Types and Providers in CodePipeline</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.amazonaws.codepipeline#ActionProvider",
          "traits": {
            "smithy.api#documentation": "<p>The provider of the service being called by the action. Valid providers are\n            determined by the action category. For example, an action in the Deploy category type\n            might have a provider of AWS CodeDeploy, which would be specified as CodeDeploy. For\n            more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#actions-valid-providers\">Valid Action Types and Providers in CodePipeline</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.codepipeline#Version",
          "traits": {
            "smithy.api#documentation": "<p>A string that describes the action version.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about an action type.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeIdentifier": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.amazonaws.codepipeline#ActionCategory",
          "traits": {
            "smithy.api#documentation": "<p>Defines what kind of action can be taken in the stage, one of the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>Source</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>Build</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>Test</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>Deploy</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>Approval</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>Invoke</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.amazonaws.codepipeline#ActionTypeOwner",
          "traits": {
            "smithy.api#documentation": "<p>The creator of the action type being called: <code>AWS</code> or\n                <code>ThirdParty</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.amazonaws.codepipeline#ActionProvider",
          "traits": {
            "smithy.api#documentation": "<p>The provider of the action type being called. The provider name is supplied when the\n            action type is created.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.codepipeline#Version",
          "traits": {
            "smithy.api#documentation": "<p>A string that describes the action type version.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the category, owner, provider, and version of the action type.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ActionType"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codepipeline#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message provided to the user in the event of an exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified action type cannot be found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeOwner": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "AWS|ThirdParty"
      }
    },
    "com.amazonaws.codepipeline#ActionTypePermissions": {
      "type": "structure",
      "members": {
        "allowedAccounts": {
          "target": "com.amazonaws.codepipeline#AllowedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS account IDs with access to use the action type in their\n            pipelines.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details identifying the users with permissions to use the action type.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ActionTypeProperty"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.codepipeline#ActionTypeProperty": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline#ActionConfigurationKey",
          "traits": {
            "smithy.api#documentation": "<p>The property name that is displayed to users.</p>",
            "smithy.api#required": {}
          }
        },
        "optional": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the configuration property is an optional value.</p>",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the configuration property is a key.</p>",
            "smithy.api#required": {}
          }
        },
        "noEcho": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether to omit the field value entered by the customer in the log. If\n                <code>true</code>, the value is not saved in CloudTrail logs for the action\n            execution.</p>",
            "smithy.api#required": {}
          }
        },
        "queryable": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates that the property is used with polling. An action type can have up to one\n            queryable property. If it has one, that property must be both required and not\n            secret.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.codepipeline#PropertyDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the property that is displayed to users.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about each property specified in the action configuration, such\n            as the description and key name that display for the customer using the action\n            type.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeSettings": {
      "type": "structure",
      "members": {
        "thirdPartyConfigurationUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL of a sign-up page where users can sign up for an external service and\n            perform initial configuration of the action provided by that service.</p>"
          }
        },
        "entityUrlTemplate": {
          "target": "com.amazonaws.codepipeline#UrlTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The URL returned to the AWS CodePipeline console that provides a deep link to the\n            resources of the external system, such as the configuration page for an AWS CodeDeploy\n            deployment group. This link is provided as part of the action display in the\n            pipeline.</p>"
          }
        },
        "executionUrlTemplate": {
          "target": "com.amazonaws.codepipeline#UrlTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The URL returned to the AWS CodePipeline console that contains a link to the\n            top-level landing page for the external system, such as the console page for AWS\n            CodeDeploy. This link is shown on the pipeline view page in the AWS CodePipeline console\n            and provides a link to the execution entity of the external action.</p>"
          }
        },
        "revisionUrlTemplate": {
          "target": "com.amazonaws.codepipeline#UrlTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The URL returned to the AWS CodePipeline console that contains a link to the page\n            where customers can update or change the configuration of the external action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the settings for an action type.</p>"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeUrls": {
      "type": "structure",
      "members": {
        "configurationUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL returned to the CodePipeline console that contains a link to the page where\n            customers can configure the external action.</p>"
          }
        },
        "entityUrlTemplate": {
          "target": "com.amazonaws.codepipeline#UrlTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The URL returned to the CodePipeline console that provides a deep link to the\n            resources of the external system, such as a status page. This link is provided as part\n            of the action display in the pipeline.</p>"
          }
        },
        "executionUrlTemplate": {
          "target": "com.amazonaws.codepipeline#UrlTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The link to an execution page for the action type in progress. For example, for a\n            CodeDeploy action, this link is shown on the pipeline view page in the CodePipeline\n            console, and it links to a CodeDeploy status page.</p>"
          }
        },
        "revisionUrlTemplate": {
          "target": "com.amazonaws.codepipeline#UrlTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The URL returned to the CodePipeline console that contains a link to the page where\n            customers can update or change the configuration of the external action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about URLs for web pages that display to customers as links on the\n            pipeline view, such as an external configuration page for the action type.</p>"
      }
    },
    "com.amazonaws.codepipeline#AllowedAccount": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9]{12}|\\*"
      }
    },
    "com.amazonaws.codepipeline#AllowedAccounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#AllowedAccount"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.codepipeline#ApprovalAlreadyCompletedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codepipeline#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message provided to the user in the event of an exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The approval action has already been approved or rejected.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codepipeline#ApprovalResult": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.amazonaws.codepipeline#ApprovalSummary",
          "traits": {
            "smithy.api#documentation": "<p>The summary of the current status of the approval request.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.codepipeline#ApprovalStatus",
          "traits": {
            "smithy.api#documentation": "<p>The response submitted by a reviewer assigned to an approval action\n            request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about the result of an approval request.</p>"
      }
    },
    "com.amazonaws.codepipeline#ApprovalStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Approved",
            "name": "Approved"
          },
          {
            "value": "Rejected",
            "name": "Rejected"
          }
        ]
      }
    },
    "com.amazonaws.codepipeline#ApprovalSummary": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        }
      }
    },
    "com.amazonaws.codepipeline#ApprovalToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
      }
    },
    "com.amazonaws.codepipeline#Artifact": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline#ArtifactName",
          "traits": {
            "smithy.api#documentation": "<p>The artifact's name.</p>"
          }
        },
        "revision": {
          "target": "com.amazonaws.codepipeline#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The artifact's revision ID. Depending on the type of object, this could be a commit\n            ID (GitHub) or a revision ID (Amazon S3).</p>"
          }
        },
        "location": {
          "target": "com.amazonaws.codepipeline#ArtifactLocation",
          "traits": {
            "smithy.api#documentation": "<p>The location of an artifact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about an artifact that is worked on by actions in the\n            pipeline.</p>"
      }
    },
    "com.amazonaws.codepipeline#ArtifactDetail": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline#ArtifactName",
          "traits": {
            "smithy.api#documentation": "<p>The artifact object name for the action execution.</p>"
          }
        },
        "s3location": {
          "target": "com.amazonaws.codepipeline#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 artifact location for the action execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Artifact details for the action execution, such as the artifact location.</p>"
      }
    },
    "com.amazonaws.codepipeline#ArtifactDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ArtifactDetail"
      }
    },
    "com.amazonaws.codepipeline#ArtifactDetails": {
      "type": "structure",
      "members": {
        "minimumCount": {
          "target": "com.amazonaws.codepipeline#MinimumArtifactCount",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The minimum number of artifacts allowed for the action type.</p>",
            "smithy.api#required": {}
          }
        },
        "maximumCount": {
          "target": "com.amazonaws.codepipeline#MaximumArtifactCount",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of artifacts allowed for the action type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the details of an artifact.</p>"
      }
    },
    "com.amazonaws.codepipeline#ArtifactList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#Artifact"
      }
    },
    "com.amazonaws.codepipeline#ArtifactLocation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.codepipeline#ArtifactLocationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of artifact in the location.</p>"
          }
        },
        "s3Location": {
          "target": "com.amazonaws.codepipeline#S3ArtifactLocation",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket that contains the artifact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents information about the location of an artifact.</p>"
      }
    },
    "com.amazonaws.codepipeline#ArtifactLocationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3",
            "name": "S3"
          }
        ]
      }
    },
    "com.amazonaws.codepipeline#ArtifactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9_\\-]+"
      }
    },
    "com.amazonaws.codepipeline#ArtifactRevision": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline#ArtifactName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an artifact. This name might be system-generated, such as \"MyApp\", or\n            defined by the user when an action is created.</p>"
          }
        },
        "revisionId": {
          "target": "com.amazonaws.codepipeline#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID of the artifact.</p>"
          }
        },
        "revisionChangeIdentifier": {
          "target": "com.amazonaws.codepipeline#RevisionChangeIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>An additional identifier for a revision, such as a commit date or, for artifacts\n            stored in Amazon S3 buckets, the ETag value.</p>"
          }
        },
        "revisionSummary": {
          "target": "com.amazonaws.codepipeline#RevisionSummary",
          "traits": {
            "smithy.api#documentation": "<p>Summary information about the most recent revision of the artifact. For GitHub and\n            AWS CodeCommit repositories, the commit message. For Amazon S3 buckets or actions, the\n            user-provided content of a <code>codepipeline-artifact-revision-summary</code> key\n            specified in the object metadata.</p>"
          }
        },
        "created": {
          "target": "com.amazonaws.codepipeline#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the most recent revision of the artifact was created, in\n            timestamp format.</p>"
          }
        },
        "revisionUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "<p>The commit ID for the artifact revision. For artifacts stored in GitHub or AWS\n            CodeCommit repositories, the commit ID is linked to a commit details page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents revision details of an artifact. </p>"
      }
    },
    "com.amazonaws.codepipeline#ArtifactRevisionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ArtifactRevision"
      }
    },
    "com.amazonaws.codepipeline#ArtifactStore": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.codepipeline#ArtifactStoreType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the artifact store, such as S3.</p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.amazonaws.codepipeline#ArtifactStoreLocation",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket used for storing the artifacts for a pipeline. You can specify the\n            name of an S3 bucket but not a folder in the bucket. A folder to contain the pipeline\n            artifacts is created for you based on the name of the pipeline. You can use any S3\n            bucket in the same AWS Region as the pipeline to store your pipeline\n            artifacts.</p>",
            "smithy.api#required": {}
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.codepipeline#EncryptionKey",
          "traits": {
            "smithy.api#documentation": "<p>The encryption key used to encrypt the data in the artifact store, such as an AWS\n            Key Management Service (AWS KMS) key. If this is undefined, the default key for Amazon\n            S3 is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The S3 bucket where artifacts for the pipeline are stored.</p>\n        <note>\n            <p>You must include either <code>artifactStore</code> or\n                    <code>artifactStores</code> in your pipeline, but you cannot use both. If you\n                create a cross-region action in your pipeline, you must use\n                    <code>artifactStores</code>.</p>\n        </note>"
      }
    },
    "com.amazonaws.codepipeline#ArtifactStoreLocation": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "[a-zA-Z0-9\\-\\.]+"
      }
    },
    "com.amazonaws.codepipeline#ArtifactStoreMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.codepipeline#AWSRegionName"
      },
      "value": {
        "target": "com.amazonaws.codepipeline#ArtifactStore"
      }
    },
    "com.amazonaws.codepipeline#ArtifactStoreType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3",
            "name": "S3"
          }
        ]
      }
    },
    "com.amazonaws.codepipeline#BlockerDeclaration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline#BlockerName",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.codepipeline#BlockerType",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reserved for future use.</p>"
      }
    },
    "com.amazonaws.codepipeline#BlockerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codepipeline#BlockerType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Schedule",
            "name": "Schedule"
          }
        ]
      }
    },
    "com.amazonaws.codepipeline#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.codepipeline#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
      }
    },
    "com.amazonaws.codepipeline#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.codepipeline#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.codepipeline#Code": {
      "type": "string"
    },
    "com.amazonaws.codepipeline#CodePipeline_20150709": {
      "type": "service",
      "version": "2015-07-09",
      "operations": [
        {
          "target": "com.amazonaws.codepipeline#AcknowledgeJob"
        },
        {
          "target": "com.amazonaws.codepipeline#AcknowledgeThirdPartyJob"
        },
        {
          "target": "com.amazonaws.codepipeline#CreateCustomActionType"
        },
        {
          "target": "com.amazonaws.codepipeline#CreatePipeline"
        },
        {
          "target": "com.amazonaws.codepipeline#DeleteCustomActionType"
        },
        {
          "target": "com.amazonaws.codepipeline#DeletePipeline"
        },
        {
          "target": "com.amazonaws.codepipeline#DeleteWebhook"
        },
        {
          "target": "com.amazonaws.codepipeline#DeregisterWebhookWithThirdParty"
        },
        {
          "target": "com.amazonaws.codepipeline#DisableStageTransition"
        },
        {
          "target": "com.amazonaws.codepipeline#EnableStageTransition"
        },
        {
          "target": "com.amazonaws.codepipeline#GetActionType"
        },
        {
          "target": "com.amazonaws.codepipeline#GetJobDetails"
        },
        {
          "target": "com.amazonaws.codepipeline#GetPipeline"
        },
        {
          "target": "com.amazonaws.codepipeline#GetPipelineExecution"
        },
        {
          "target": "com.amazonaws.codepipeline#GetPipelineState"
        },
        {
          "target": "com.amazonaws.codepipeline#GetThirdPartyJobDetails"
        },
        {
          "target": "com.amazonaws.codepipeline#ListActionExecutions"
        },
        {
          "target": "com.amazonaws.codepipeline#ListActionTypes"
        },
        {
          "target": "com.amazonaws.codepipeline#ListPipelineExecutions"
        },
        {
          "target": "com.amazonaws.codepipeline#ListPipelines"
        },
        {
          "target": "com.amazonaws.codepipeline#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.codepipeline#ListWebhooks"
        },
        {
          "target": "com.amazonaws.codepipeline#PollForJobs"
        },
        {
          "target": "com.amazonaws.codepipeline#PollForThirdPartyJobs"
        },
        {
          "target": "com.amazonaws.codepipeline#PutActionRevision"
        },
        {
          "target": "com.amazonaws.codepipeline#PutApprovalResult"
        },
        {
          "target": "com.amazonaws.codepipeline#PutJobFailureResult"
        },
        {
          "target": "com.amazonaws.codepipeline#PutJobSuccessResult"
        },
        {
          "target": "com.amazonaws.codepipeline#PutThirdPartyJobFailureResult"
        },
        {
          "target": "com.amazonaws.codepipeline#PutThirdPartyJobSuccessResult"
        },
        {
          "target": "com.amazonaws.codepipeline#PutWebhook"
        },
        {
          "target": "com.amazonaws.codepipeline#RegisterWebhookWithThirdParty"
        },
        {
          "target": "com.amazonaws.codepipeline#RetryStageExecution"
        },
        {
          "target": "com.amazonaws.codepipeline#StartPipelineExecution"
        },
        {
          "target": "com.amazonaws.codepipeline#StopPipelineExecution"
        },
        {
          "target": "com.amazonaws.codepipeline#TagResource"
        },
        {
          "target": "com.amazonaws.codepipeline#UntagResource"
        },
        {
          "target": "com.amazonaws.codepipeline#UpdateActionType"
        },
        {
          "target": "com.amazonaws.codepipeline#UpdatePipeline"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodePipeline",
          "arnNamespace": "codepipeline",
          "cloudFormationName": "CodePipeline",
          "cloudTrailEventSource": "codepipeline.amazonaws.com",
          "endpointPrefix": "codepipeline"
        },
        "aws.auth#sigv4": {
          "name": "codepipeline"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS CodePipeline</fullname>\n        <p>\n            <b>Overview</b>\n        </p>\n        <p>This is the AWS CodePipeline API Reference. This guide provides descriptions of the\n            actions and data types for AWS CodePipeline. Some functionality for your pipeline can\n            only be configured through the API. For more information, see the <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html\">AWS\n                CodePipeline User Guide</a>.</p>\n        <p>You can use the AWS CodePipeline API to work with pipelines, stages, actions, and\n            transitions.</p>\n        <p>\n            <i>Pipelines</i> are models of automated release processes. Each pipeline\n            is uniquely named, and consists of stages, actions, and transitions. </p>\n        <p>You can work with pipelines by calling:</p>\n        <ul>\n            <li>\n                <p>\n                    <a>CreatePipeline</a>, which creates a uniquely named\n                    pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>DeletePipeline</a>, which deletes the specified\n                    pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>GetPipeline</a>, which returns information about the pipeline\n                    structure and pipeline metadata, including the pipeline Amazon Resource Name\n                    (ARN).</p>\n            </li>\n            <li>\n                <p>\n                    <a>GetPipelineExecution</a>, which returns information about a\n                    specific execution of a pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>GetPipelineState</a>, which returns information about the current\n                    state of the stages and actions of a pipeline.</p>\n            </li>\n            <li>\n                <p>\n                  <a>ListActionExecutions</a>, which returns action-level details\n                    for past executions. The details include full stage and action-level details,\n                    including individual action duration, status, any errors that occurred during\n                    the execution, and input and output artifact location details.</p>\n            </li>\n            <li>\n                <p>\n                    <a>ListPipelines</a>, which gets a summary of all of the pipelines\n                    associated with your account.</p>\n            </li>\n            <li>\n                <p>\n                    <a>ListPipelineExecutions</a>, which gets a summary of the most\n                    recent executions for a pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>StartPipelineExecution</a>, which runs the most recent revision of\n                    an artifact through the pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>StopPipelineExecution</a>, which stops the specified pipeline\n                    execution from continuing through the pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>UpdatePipeline</a>, which updates a pipeline with edits or changes\n                    to the structure of the pipeline.</p>\n            </li>\n         </ul>\n        <p>Pipelines include <i>stages</i>. Each stage contains one or more\n            actions that must complete before the next stage begins. A stage results in success or\n            failure. If a stage fails, the pipeline stops at that stage and remains stopped until\n            either a new version of an artifact appears in the source location, or a user takes\n            action to rerun the most recent artifact through the pipeline. You can call <a>GetPipelineState</a>, which displays the status of a pipeline, including the\n            status of stages in the pipeline, or <a>GetPipeline</a>, which returns the\n            entire structure of the pipeline, including the stages of that pipeline. For more\n            information about the structure of stages and actions, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/pipeline-structure.html\">AWS CodePipeline\n                Pipeline Structure Reference</a>.</p>\n        <p>Pipeline stages include <i>actions</i> that are categorized into\n            categories such as source or build actions performed in a stage of a pipeline. For\n            example, you can use a source action to import artifacts into a pipeline from a source\n            such as Amazon S3. Like stages, you do not work with actions directly in most cases, but\n            you do define and interact with actions when working with pipeline operations such as\n                <a>CreatePipeline</a> and <a>GetPipelineState</a>. Valid\n            action categories are:</p>\n        <ul>\n            <li>\n                <p>Source</p>\n            </li>\n            <li>\n                <p>Build</p>\n            </li>\n            <li>\n                <p>Test</p>\n            </li>\n            <li>\n                <p>Deploy</p>\n            </li>\n            <li>\n                <p>Approval</p>\n            </li>\n            <li>\n                <p>Invoke</p>\n            </li>\n         </ul>\n        <p>Pipelines also include <i>transitions</i>, which allow the transition\n            of artifacts from one stage to the next in a pipeline after the actions in one stage\n            complete.</p>\n        <p>You can work with transitions by calling:</p>\n        <ul>\n            <li>\n                <p>\n                    <a>DisableStageTransition</a>, which prevents artifacts from\n                    transitioning to the next stage in a pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>EnableStageTransition</a>, which enables transition of artifacts\n                    between stages in a pipeline. </p>\n            </li>\n         </ul>\n        <p>\n            <b>Using the API to integrate with AWS CodePipeline</b>\n        </p>\n        <p>For third-party integrators or developers who want to create their own integrations\n            with AWS CodePipeline, the expected sequence varies from the standard API user. To\n            integrate with AWS CodePipeline, developers need to work with the following\n            items:</p>\n        <p>\n            <b>Jobs</b>, which are instances of an action. For\n            example, a job for a source action might import a revision of an artifact from a source. </p>\n        <p>You can work with jobs by calling:</p>\n        <ul>\n            <li>\n                <p>\n                    <a>AcknowledgeJob</a>, which confirms whether a job worker has\n                    received the specified job.</p>\n            </li>\n            <li>\n                <p>\n                    <a>GetJobDetails</a>, which returns the details of a job.</p>\n            </li>\n            <li>\n                <p>\n                    <a>PollForJobs</a>, which determines whether there are any jobs to\n                    act on.</p>\n            </li>\n            <li>\n                <p>\n                    <a>PutJobFailureResult</a>, which provides details of a job failure.\n                </p>\n            </li>\n            <li>\n                <p>\n                    <a>PutJobSuccessResult</a>, which provides details of a job\n                    success.</p>\n            </li>\n         </ul>\n        <p>\n            <b>Third party jobs</b>, which are instances of an action\n            created by a partner action and integrated into AWS CodePipeline. Partner actions are\n            created by members of the AWS Partner Network.</p>\n        <p>You can work with third party jobs by calling:</p>\n        <ul>\n            <li>\n                <p>\n                    <a>AcknowledgeThirdPartyJob</a>, which confirms whether a job worker\n                    has received the specified job.</p>\n            </li>\n            <li>\n                <p>\n                    <a>GetThirdPartyJobDetails</a>, which requests the details of a job\n                    for a partner action.</p>\n            </li>\n            <li>\n                <p>\n                    <a>PollForThirdPartyJobs</a>, which determines whether there are any\n                    jobs to act on. </p>\n            </li>\n            <li>\n                <p>\n                    <a>PutThirdPartyJobFailureResult</a>, which provides details of a job\n                    failure.</p>\n            </li>\n            <li>\n                <p>\n                    <a>PutThirdPartyJobSuccessResult</a>, which provides details of a job\n                    success.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS CodePipeline",
        "smithy.api#xmlNamespace": {
          "uri": "http://codepipeline.amazonaws.com/doc/2015-07-09/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codepipeline-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://codepipeline-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codepipeline.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://codepipeline.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codepipeline.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
[...]
