{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codedeploy#AddTagsToOnPremisesInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#AddTagsToOnPremisesInstancesInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#InstanceLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InstanceNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InstanceNotRegisteredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidInstanceNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidTagException"
        },
        {
          "target": "com.amazonaws.codedeploy#TagLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#TagRequiredException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds tags to on-premises instances.</p>"
      }
    },
    "com.amazonaws.codedeploy#AddTagsToOnPremisesInstancesInput": {
      "type": "structure",
      "members": {
        "instanceNames": {
          "target": "com.amazonaws.codedeploy#InstanceNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the on-premises instances to which to add tags.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.codedeploy#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs to add to the on-premises instances.</p>\n        <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only\n            tags are not allowed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of, and adds tags to, an on-premises instance operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#AdditionalDeploymentStatusInfo": {
      "type": "string",
      "traits": {
        "smithy.api#deprecated": {}
      }
    },
    "com.amazonaws.codedeploy#Alarm": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codedeploy#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alarm. Maximum length is 255 characters. Each alarm name can be used\n            only once in a list of alarms.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an alarm.</p>"
      }
    },
    "com.amazonaws.codedeploy#AlarmConfiguration": {
      "type": "structure",
      "members": {
        "alarms": {
          "target": "com.amazonaws.codedeploy#AlarmList",
          "traits": {
            "smithy.api#documentation": "<p>A list of alarms configured for the deployment group. A maximum of 10 alarms can be\n            added to a deployment group.</p>"
          }
        },
        "enabled": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the alarm configuration is enabled.</p>"
          }
        },
        "ignorePollAlarmFailure": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a deployment should continue if information about the current state\n            of alarms cannot be retrieved from Amazon CloudWatch. The default value is false.</p>\n        <ul>\n            <li>\n                <p>true: The deployment proceeds even if alarm status information can't be\n                    retrieved from Amazon CloudWatch.</p>\n            </li>\n            <li>\n                <p>false: The deployment stops if alarm status information can't be retrieved\n                    from Amazon CloudWatch.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about alarms associated with the deployment group.</p>"
      }
    },
    "com.amazonaws.codedeploy#AlarmList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#Alarm"
      }
    },
    "com.amazonaws.codedeploy#AlarmName": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#AlarmsLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The maximum number of alarms for a deployment group (10) was exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#AppSpecContent": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.codedeploy#RawStringContent",
          "traits": {
            "smithy.api#documentation": "<p> The YAML-formatted or JSON-formatted revision string. </p>\n        <p> For an AWS Lambda deployment, the content includes a Lambda function name, the alias\n            for its original version, and the alias for its replacement version. The deployment\n            shifts traffic from the original version of the Lambda function to the replacement\n            version. </p>\n        <p> For an Amazon ECS deployment, the content includes the task name, information about\n            the load balancer that serves traffic to the container, and more. </p>\n        <p> For both types of deployments, the content can specify Lambda functions that run at\n            specified hooks, such as <code>BeforeInstall</code>, during a deployment. </p>"
          }
        },
        "sha256": {
          "target": "com.amazonaws.codedeploy#RawStringSha256",
          "traits": {
            "smithy.api#documentation": "<p> The SHA256 hash value of the revision content. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A revision for an AWS Lambda or Amazon ECS deployment that is a YAML-formatted or\n            JSON-formatted string. For AWS Lambda and Amazon ECS deployments, the revision is the\n            same as the AppSpec file. This method replaces the deprecated <code>RawString</code>\n            data type. </p>"
      }
    },
    "com.amazonaws.codedeploy#ApplicationAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An application with the specified name with the IAM user or AWS account already\n            exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#ApplicationDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The application does not exist with the IAM user or AWS account.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#ApplicationId": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#ApplicationInfo": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "com.amazonaws.codedeploy#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The application name.</p>"
          }
        },
        "computePlatform": {
          "target": "com.amazonaws.codedeploy#ComputePlatform",
          "traits": {
            "smithy.api#documentation": "<p>The destination platform type for deployment of the application (<code>Lambda</code>\n            or <code>Server</code>).</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.codedeploy#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the application was created.</p>"
          }
        },
        "gitHubAccountName": {
          "target": "com.amazonaws.codedeploy#GitHubAccountTokenName",
          "traits": {
            "smithy.api#documentation": "<p>The name for a connection to a GitHub account.</p>"
          }
        },
        "linkedToGitHub": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the user has authenticated with GitHub for the specified application.\n            Otherwise, false.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an application.</p>"
      }
    },
    "com.amazonaws.codedeploy#ApplicationLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>More applications were attempted to be created than are allowed.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#ApplicationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codedeploy#ApplicationNameRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The minimum number of required application names was not specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#ApplicationRevisionSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "registerTime",
            "name": "RegisterTime"
          },
          {
            "value": "firstUsedTime",
            "name": "FirstUsedTime"
          },
          {
            "value": "lastUsedTime",
            "name": "LastUsedTime"
          }
        ]
      }
    },
    "com.amazonaws.codedeploy#ApplicationsInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#ApplicationInfo"
      }
    },
    "com.amazonaws.codedeploy#ApplicationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#ApplicationName"
      }
    },
    "com.amazonaws.codedeploy#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.codedeploy#ArnNotSupportedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The specified ARN is not supported. For example, it might be an ARN for a resource that is not expected.\n        </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#AutoRollbackConfiguration": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a defined automatic rollback configuration is currently\n            enabled.</p>"
          }
        },
        "events": {
          "target": "com.amazonaws.codedeploy#AutoRollbackEventsList",
          "traits": {
            "smithy.api#documentation": "<p>The event type or types that trigger a rollback.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a configuration for automatically rolling back to a previous version\n            of an application revision when a deployment is not completed successfully.</p>"
      }
    },
    "com.amazonaws.codedeploy#AutoRollbackEvent": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEPLOYMENT_FAILURE",
            "name": "DEPLOYMENT_FAILURE"
          },
          {
            "value": "DEPLOYMENT_STOP_ON_ALARM",
            "name": "DEPLOYMENT_STOP_ON_ALARM"
          },
          {
            "value": "DEPLOYMENT_STOP_ON_REQUEST",
            "name": "DEPLOYMENT_STOP_ON_REQUEST"
          }
        ]
      }
    },
    "com.amazonaws.codedeploy#AutoRollbackEventsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#AutoRollbackEvent"
      }
    },
    "com.amazonaws.codedeploy#AutoScalingGroup": {
      "type": "structure",
      "members": {
        "hook": {
          "target": "com.amazonaws.codedeploy#AutoScalingGroupHook",
          "traits": {
            "smithy.api#documentation": "<p>An Auto Scaling lifecycle event hook name.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.codedeploy#AutoScalingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.codedeploy#AutoScalingGroupHook": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#AutoScalingGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#AutoScalingGroup"
      }
    },
    "com.amazonaws.codedeploy#AutoScalingGroupName": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#AutoScalingGroupNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#AutoScalingGroupName"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplicationRevisions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetApplicationRevisionsInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetApplicationRevisionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidRevisionException"
        },
        {
          "target": "com.amazonaws.codedeploy#RevisionRequiredException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more application revisions. The maximum number of application revisions that can be returned is 25.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplicationRevisionsInput": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an AWS CodeDeploy application about which to get revision\n            information.</p>",
            "smithy.api#required": {}
          }
        },
        "revisions": {
          "target": "com.amazonaws.codedeploy#RevisionLocationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>RevisionLocation</code> objects that specify information to get about the application revisions, including type and\n            location. The maximum number of <code>RevisionLocation</code> objects you can specify is 25.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a BatchGetApplicationRevisions operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplicationRevisionsOutput": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application that corresponds to the revisions.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.codedeploy#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Information about errors that might have occurred during the API call.</p>"
          }
        },
        "revisions": {
          "target": "com.amazonaws.codedeploy#RevisionInfoList",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the revisions, including the type and location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a BatchGetApplicationRevisions operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetApplicationsInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetApplicationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more applications. The maximum number of applications that can be returned is 25.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplicationsInput": {
      "type": "structure",
      "members": {
        "applicationNames": {
          "target": "com.amazonaws.codedeploy#ApplicationsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of application names separated by spaces. The maximum number of application names you can specify is 25.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a BatchGetApplications operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetApplicationsOutput": {
      "type": "structure",
      "members": {
        "applicationsInfo": {
          "target": "com.amazonaws.codedeploy#ApplicationsInfoList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the applications.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a BatchGetApplications operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentGroupsInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentGroupNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentGroupNameException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more deployment groups.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentGroupsInput": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or\n            AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentGroupNames": {
          "target": "com.amazonaws.codedeploy#DeploymentGroupsList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the deployment groups.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a BatchGetDeploymentGroups operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentGroupsOutput": {
      "type": "structure",
      "members": {
        "deploymentGroupsInfo": {
          "target": "com.amazonaws.codedeploy#DeploymentGroupInfoList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the deployment groups.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.codedeploy#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Information about errors that might have occurred during the API call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a BatchGetDeploymentGroups operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentInstancesInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentInstancesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InstanceIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidComputePlatformException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentIdException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidInstanceNameException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "This operation is deprecated, use BatchGetDeploymentTargets instead."
        },
        "smithy.api#documentation": "<note>\n            <p> This method works, but is deprecated. Use <code>BatchGetDeploymentTargets</code>\n                instead. </p>\n        </note>\n        <p> Returns an array of one or more instances associated with a deployment. This method works with\n            EC2/On-premises and AWS Lambda compute platforms. The newer\n                <code>BatchGetDeploymentTargets</code> works with all compute platforms. \n            The maximum number of instances that can be returned is 25.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentInstancesInput": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.codedeploy#DeploymentId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of a deployment. </p>",
            "smithy.api#required": {}
          }
        },
        "instanceIds": {
          "target": "com.amazonaws.codedeploy#InstancesList",
          "traits": {
            "smithy.api#documentation": "<p>The unique IDs of instances used in the deployment. The maximum number of instance IDs you can specify is 25.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the input of a BatchGetDeploymentInstances operation. </p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentInstancesOutput": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "com.amazonaws.codedeploy#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Information about errors that might have occurred during the API call.</p>"
          }
        },
        "instancesSummary": {
          "target": "com.amazonaws.codedeploy#InstanceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a BatchGetDeploymentInstances operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentTargetsInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentTargetsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#DeploymentDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentNotStartedException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentTargetDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentTargetIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentTargetListSizeExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentIdException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentTargetIdException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns an array of one or more targets associated with a deployment. This method works with all\n            compute types and should be used instead of the deprecated\n            <code>BatchGetDeploymentInstances</code>. \n            The maximum number of targets that can be returned is 25.</p>\n        <p> The type of targets returned depends on the deployment's compute platform: </p>\n        <ul>\n            <li>\n                <p>\n                    <b>EC2/On-premises</b>: Information about EC2 instance\n                    targets. </p>\n            </li>\n            <li>\n                <p>\n                    <b>AWS Lambda</b>: Information about Lambda functions\n                    targets. </p>\n            </li>\n            <li>\n                <p>\n                    <b>Amazon ECS</b>: Information about Amazon ECS\n                    service targets. </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentTargetsInput": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.codedeploy#DeploymentId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of a deployment. </p>"
          }
        },
        "targetIds": {
          "target": "com.amazonaws.codedeploy#TargetIdList",
          "traits": {
            "smithy.api#documentation": "<p> The unique IDs of the deployment targets. The compute platform of the deployment\n            determines the type of the targets and their formats. The maximum number of deployment target IDs you can specify is 25.</p>\n        <ul>\n            <li>\n                <p> For deployments that use the EC2/On-premises compute platform, the target IDs\n                    are EC2 or on-premises instances IDs, and their target type is\n                    <code>instanceTarget</code>. </p>\n            </li>\n            <li>\n                <p> For deployments that use the AWS Lambda compute platform, the target IDs are\n                    the names of Lambda functions, and their target type is\n                    <code>instanceTarget</code>. </p>\n            </li>\n            <li>\n                <p> For deployments that use the Amazon ECS compute platform, the target IDs are\n                    pairs of Amazon ECS clusters and services specified using the format\n                    <code><clustername>:<servicename></code>. Their target type is\n                    <code>ecsTarget</code>. </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentTargetsOutput": {
      "type": "structure",
      "members": {
        "deploymentTargets": {
          "target": "com.amazonaws.codedeploy#DeploymentTargetList",
          "traits": {
            "smithy.api#documentation": "<p> A list of target objects for a deployment. Each target object contains details about\n            the target, such as its status and lifecycle events. The type of the target objects\n            depends on the deployment' compute platform. </p>\n        <ul>\n            <li>\n                <p>\n                    <b>EC2/On-premises</b>: Each target object is an EC2\n                    or on-premises instance. </p>\n            </li>\n            <li>\n                <p>\n                    <b>AWS Lambda</b>: The target object is a specific\n                    version of an AWS Lambda function. </p>\n            </li>\n            <li>\n                <p>\n                    <b>Amazon ECS</b>: The target object is an Amazon ECS\n                    service. </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeployments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentsInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetDeploymentsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentIdException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more deployments. The maximum number of deployments that can be returned is 25.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentsInput": {
      "type": "structure",
      "members": {
        "deploymentIds": {
          "target": "com.amazonaws.codedeploy#DeploymentsList",
          "traits": {
            "smithy.api#documentation": "<p> A list of deployment IDs, separated by spaces. The maximum number of deployment IDs you can specify is 25.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the input of a BatchGetDeployments operation. </p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetDeploymentsOutput": {
      "type": "structure",
      "members": {
        "deploymentsInfo": {
          "target": "com.amazonaws.codedeploy#DeploymentsInfoList",
          "traits": {
            "smithy.api#documentation": "<p> Information about the deployments. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a BatchGetDeployments operation. </p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetOnPremisesInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#BatchGetOnPremisesInstancesInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#BatchGetOnPremisesInstancesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#BatchLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InstanceNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidInstanceNameException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more on-premises instances. The maximum number of on-premises instances that can be returned is 25.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetOnPremisesInstancesInput": {
      "type": "structure",
      "members": {
        "instanceNames": {
          "target": "com.amazonaws.codedeploy#InstanceNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the on-premises instances about which to get information. The maximum number of instance names you can specify is 25.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a BatchGetOnPremisesInstances operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchGetOnPremisesInstancesOutput": {
      "type": "structure",
      "members": {
        "instanceInfos": {
          "target": "com.amazonaws.codedeploy#InstanceInfoList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the on-premises instances.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a BatchGetOnPremisesInstances operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#BatchLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#BlueGreenDeploymentConfiguration": {
      "type": "structure",
      "members": {
        "deploymentReadyOption": {
          "target": "com.amazonaws.codedeploy#DeploymentReadyOption",
          "traits": {
            "smithy.api#documentation": "<p>Information about the action to take when newly provisioned instances are ready to\n            receive traffic in a blue/green deployment.</p>"
          }
        },
        "greenFleetProvisioningOption": {
          "target": "com.amazonaws.codedeploy#GreenFleetProvisioningOption",
          "traits": {
            "smithy.api#documentation": "<p>Information about how instances are provisioned for a replacement environment in a\n            blue/green deployment.</p>"
          }
        },
        "terminateBlueInstancesOnDeploymentSuccess": {
          "target": "com.amazonaws.codedeploy#BlueInstanceTerminationOption",
          "traits": {
            "smithy.api#documentation": "<p>Information about whether to terminate instances in the original fleet during a\n            blue/green deployment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about blue/green deployment options for a deployment group.</p>"
      }
    },
    "com.amazonaws.codedeploy#BlueInstanceTerminationOption": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.codedeploy#InstanceAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to take on instances in the original environment after a successful\n            blue/green deployment.</p>\n        <ul>\n            <li>\n                <p>TERMINATE: Instances are terminated after a specified wait time.</p>\n            </li>\n            <li>\n                <p>KEEP_ALIVE: Instances are left running after they are deregistered from the\n                    load balancer and removed from the deployment group.</p>\n            </li>\n         </ul>"
          }
        },
        "terminationWaitTimeInMinutes": {
          "target": "com.amazonaws.codedeploy#Duration",
          "traits": {
            "smithy.api#documentation": "<p>For an Amazon EC2 deployment, the number of minutes to wait after a successful blue/green deployment before\n            terminating instances from the original environment.</p>\n        \n        <p>\n            For an Amazon ECS deployment, the number of minutes before deleting the original (blue) task set. During an Amazon ECS deployment, \n            CodeDeploy shifts traffic from the original (blue) task set to a replacement (green) task set. \n        </p>\n        \n        <p>\n            The maximum setting is 2880 minutes (2 days).\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about whether instances in the original environment are terminated when a\n            blue/green deployment is successful. <code>BlueInstanceTerminationOption</code> does not \n            apply to Lambda deployments.\n        </p>"
      }
    },
    "com.amazonaws.codedeploy#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.codedeploy#BucketNameFilterRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A bucket name is required, but was not provided.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#BundleType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "tar",
            "name": "Tar"
          },
          {
            "value": "tgz",
            "name": "TarGZip"
          },
          {
            "value": "zip",
            "name": "Zip"
          },
          {
            "value": "YAML",
            "name": "YAML"
          },
          {
            "value": "JSON",
            "name": "JSON"
          }
        ]
      }
    },
    "com.amazonaws.codedeploy#CodeDeploy_20141006": {
      "type": "service",
      "version": "2014-10-06",
      "operations": [
        {
          "target": "com.amazonaws.codedeploy#AddTagsToOnPremisesInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetApplicationRevisions"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetApplications"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetDeploymentGroups"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetDeploymentInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetDeployments"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetDeploymentTargets"
        },
        {
          "target": "com.amazonaws.codedeploy#BatchGetOnPremisesInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#ContinueDeployment"
        },
        {
          "target": "com.amazonaws.codedeploy#CreateApplication"
        },
        {
          "target": "com.amazonaws.codedeploy#CreateDeployment"
        },
        {
          "target": "com.amazonaws.codedeploy#CreateDeploymentConfig"
        },
        {
          "target": "com.amazonaws.codedeploy#CreateDeploymentGroup"
        },
        {
          "target": "com.amazonaws.codedeploy#DeleteApplication"
        },
        {
          "target": "com.amazonaws.codedeploy#DeleteDeploymentConfig"
        },
        {
          "target": "com.amazonaws.codedeploy#DeleteDeploymentGroup"
        },
        {
          "target": "com.amazonaws.codedeploy#DeleteGitHubAccountToken"
        },
        {
          "target": "com.amazonaws.codedeploy#DeregisterOnPremisesInstance"
        },
        {
          "target": "com.amazonaws.codedeploy#GetApplication"
        },
        {
          "target": "com.amazonaws.codedeploy#GetApplicationRevision"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeployment"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeploymentConfig"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeploymentGroup"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeploymentInstance"
        },
        {
          "target": "com.amazonaws.codedeploy#GetDeploymentTarget"
        },
        {
          "target": "com.amazonaws.codedeploy#GetOnPremisesInstance"
        },
        {
          "target": "com.amazonaws.codedeploy#ListApplicationRevisions"
        },
        {
          "target": "com.amazonaws.codedeploy#ListApplications"
        },
        {
          "target": "com.amazonaws.codedeploy#ListDeploymentConfigs"
        },
        {
          "target": "com.amazonaws.codedeploy#ListDeploymentGroups"
        },
        {
          "target": "com.amazonaws.codedeploy#ListDeploymentInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#ListDeployments"
        },
        {
          "target": "com.amazonaws.codedeploy#ListDeploymentTargets"
        },
        {
          "target": "com.amazonaws.codedeploy#ListGitHubAccountTokenNames"
        },
        {
          "target": "com.amazonaws.codedeploy#ListOnPremisesInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.codedeploy#PutLifecycleEventHookExecutionStatus"
        },
        {
          "target": "com.amazonaws.codedeploy#RegisterApplicationRevision"
        },
        {
          "target": "com.amazonaws.codedeploy#RegisterOnPremisesInstance"
        },
        {
          "target": "com.amazonaws.codedeploy#RemoveTagsFromOnPremisesInstances"
        },
        {
          "target": "com.amazonaws.codedeploy#SkipWaitTimeForInstanceTermination"
        },
        {
          "target": "com.amazonaws.codedeploy#StopDeployment"
        },
        {
          "target": "com.amazonaws.codedeploy#TagResource"
        },
        {
          "target": "com.amazonaws.codedeploy#UntagResource"
        },
        {
          "target": "com.amazonaws.codedeploy#UpdateApplication"
        },
        {
          "target": "com.amazonaws.codedeploy#UpdateDeploymentGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodeDeploy",
          "arnNamespace": "codedeploy",
          "cloudFormationName": "CodeDeploy",
          "cloudTrailEventSource": "codedeploy.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "codedeploy"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS CodeDeploy</fullname>\n        <p>AWS CodeDeploy is a deployment service that automates application deployments to\n            Amazon EC2 instances, on-premises instances running in your own facility, serverless\n            AWS Lambda functions, or applications in an Amazon ECS service.</p>\n        <p>You can deploy a nearly unlimited variety of application content, such as an updated\n            Lambda function, updated applications in an Amazon ECS service, code, web and configuration \n            files, executables, packages, scripts,\n            multimedia files, and so on. AWS CodeDeploy can deploy application content stored in\n            Amazon S3 buckets, GitHub repositories, or Bitbucket repositories. You do not need to\n            make changes to your existing code before you can use AWS CodeDeploy.</p>\n        <p>AWS CodeDeploy makes it easier for you to rapidly release new features, helps you\n            avoid downtime during application deployment, and handles the complexity of updating\n            your applications, without many of the risks associated with error-prone manual\n            deployments.</p>\n        <p>\n            <b>AWS CodeDeploy Components</b>\n        </p>\n        <p>Use the information in this guide to help you work with the following AWS CodeDeploy\n            components:</p>\n        <ul>\n            <li>\n                <p>\n                    <b>Application</b>: A name that uniquely identifies\n                    the application you want to deploy. AWS CodeDeploy uses this name, which\n                    functions as a container, to ensure the correct combination of revision,\n                    deployment configuration, and deployment group are referenced during a\n                    deployment.</p>\n            </li>\n            <li>\n                <p>\n                    <b>Deployment group</b>: A set of individual\n                    instances, CodeDeploy Lambda deployment configuration settings, or an Amazon ECS\n                    service and network details. A Lambda deployment group specifies how to route\n                    traffic to a new version of a Lambda function. An Amazon ECS deployment group\n                    specifies the service created in Amazon ECS to deploy, a load balancer, and a\n                    listener to reroute production traffic to an updated containerized application.\n                    An EC2/On-premises deployment group contains individually tagged instances,\n                    Amazon EC2 instances in Amazon EC2 Auto Scaling groups, or both. All deployment\n                    groups can specify optional trigger, alarm, and rollback settings.</p>\n            </li>\n            <li>\n                <p>\n                    <b>Deployment configuration</b>: A set of deployment\n                    rules and deployment success and failure conditions used by AWS CodeDeploy\n                    during a deployment.</p>\n            </li>\n            <li>\n                <p>\n                    <b>Deployment</b>: The process and the components used\n                    when updating a Lambda function, a containerized application in an Amazon ECS\n                    service, or of installing content on one or more instances. </p>\n            </li>\n            <li>\n                <p>\n                    <b>Application revisions</b>: For an AWS Lambda\n                    deployment, this is an AppSpec file that specifies the Lambda function to be\n                    updated and one or more functions to validate deployment lifecycle events. For\n                    an Amazon ECS deployment, this is an AppSpec file that specifies the Amazon ECS\n                    task definition, container, and port where production traffic is rerouted. For\n                    an EC2/On-premises deployment, this is an archive file that contains source\n                    content—source code, webpages, executable files, and deployment scripts—along\n                    with an AppSpec file. Revisions are stored in Amazon S3 buckets or GitHub\n                    repositories. For Amazon S3, a revision is uniquely identified by its Amazon S3\n                    object key and its ETag, version, or both. For GitHub, a revision is uniquely\n                    identified by its commit ID.</p>\n            </li>\n         </ul>\n        <p>This guide also contains information to help you get details about the instances in\n            your deployments, to make on-premises instances available for AWS CodeDeploy\n            deployments, to get details about a Lambda function deployment, and to get details about\n            Amazon ECS service deployments.</p>\n        <p>\n            <b>AWS CodeDeploy Information Resources</b>\n         </p>\n        <ul>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide\">AWS CodeDeploy\n                        User Guide</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/codedeploy/latest/APIReference/\">AWS\n                        CodeDeploy API Reference Guide</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/cli/latest/reference/deploy/index.html\">AWS\n                        CLI Reference for AWS CodeDeploy</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                    <a href=\"https://forums.aws.amazon.com/forum.jspa?forumID=179\">AWS CodeDeploy\n                        Developer Forum</a>\n                </p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS CodeDeploy",
        "smithy.api#xmlNamespace": {
          "uri": "http://codedeploy.amazonaws.com/doc/2014-10-06/"
        }
      }
    },
    "com.amazonaws.codedeploy#CommitId": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#ComputePlatform": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Server",
            "name": "SERVER"
          },
          {
            "value": "Lambda",
            "name": "LAMBDA"
          },
          {
            "value": "ECS",
            "name": "ECS"
          }
        ]
      }
    },
    "com.amazonaws.codedeploy#ContinueDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#ContinueDeploymentInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#DeploymentAlreadyCompletedException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentIdRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentIsNotInReadyStateException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentIdException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentStatusException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentWaitTypeException"
        },
        {
          "target": "com.amazonaws.codedeploy#UnsupportedActionForDeploymentTypeException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For a blue/green deployment, starts the process of rerouting traffic from instances in\n            the original environment to instances in the replacement environment without waiting for\n            a specified wait time to elapse. (Traffic rerouting, which is achieved by registering\n            instances in the replacement environment with the load balancer, can start as soon as\n            all instances have a status of Ready.) </p>"
      }
    },
    "com.amazonaws.codedeploy#ContinueDeploymentInput": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.codedeploy#DeploymentId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of a blue/green deployment for which you want to start rerouting\n            traffic to the replacement environment. </p>"
          }
        },
        "deploymentWaitType": {
          "target": "com.amazonaws.codedeploy#DeploymentWaitType",
          "traits": {
            "smithy.api#documentation": "<p> The status of the deployment's waiting period. READY_WAIT indicates the deployment is\n            ready to start shifting traffic. TERMINATION_WAIT indicates the traffic is shifted, but\n            the original target is not terminated. </p>"
          }
        }
      }
    },
    "com.amazonaws.codedeploy#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#CreateApplicationInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#CreateApplicationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidComputePlatformException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidTagsToAddException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an application.</p>"
      }
    },
    "com.amazonaws.codedeploy#CreateApplicationInput": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application. This name must be unique with the applicable IAM user or\n            AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "computePlatform": {
          "target": "com.amazonaws.codedeploy#ComputePlatform",
          "traits": {
            "smithy.api#documentation": "<p> The destination platform type for the deployment (<code>Lambda</code>, \n                <code>Server</code>, or <code>ECS</code>).</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.codedeploy#TagList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The metadata that you apply to CodeDeploy applications to help you organize and categorize them. Each tag \n            consists of a key and an optional value, both of which you define.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a CreateApplication operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#CreateApplicationOutput": {
      "type": "structure",
      "members": {
        "applicationId": {
          "target": "com.amazonaws.codedeploy#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>A unique application ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a CreateApplication operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#CreateDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#CreateDeploymentInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#CreateDeploymentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentGroupDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentGroupNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#DescriptionTooLongException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidAutoRollbackConfigException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidAutoScalingGroupException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentConfigNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentGroupNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidFileExistsBehaviorException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidGitHubAccountTokenException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidIgnoreApplicationStopFailuresValueException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidLoadBalancerInfoException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidRevisionException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidTargetInstancesException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidUpdateOutdatedInstancesOnlyValueException"
        },
        {
          "target": "com.amazonaws.codedeploy#RevisionDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#RevisionRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deploys an application revision through the specified deployment group.</p>"
      }
    },
    "com.amazonaws.codedeploy#CreateDeploymentConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#CreateDeploymentConfigInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#CreateDeploymentConfigOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidComputePlatformException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentConfigNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidMinimumHealthyHostValueException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidTrafficRoutingConfigurationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a deployment configuration. </p>"
      }
    },
    "com.amazonaws.codedeploy#CreateDeploymentConfigInput": {
      "type": "structure",
      "members": {
        "computePlatform": {
          "target": "com.amazonaws.codedeploy#ComputePlatform",
          "traits": {
            "smithy.api#documentation": "<p>The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>"
          }
        },
        "deploymentConfigName": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deployment configuration to create.</p>",
            "smithy.api#required": {}
          }
        },
        "minimumHealthyHosts": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHosts",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of healthy instances that should be available at any time during\n            the deployment. There are two parameters expected in the input: type and value.</p>\n        <p>The type parameter takes either of the following values:</p>\n        <ul>\n            <li>\n                <p>HOST_COUNT: The value parameter represents the minimum number of healthy\n                    instances as an absolute value.</p>\n            </li>\n            <li>\n                <p>FLEET_PERCENT: The value parameter represents the minimum number of healthy\n                    instances as a percentage of the total number of instances in the deployment. If\n                    you specify FLEET_PERCENT, at the start of the deployment, AWS CodeDeploy\n                    converts the percentage to the equivalent number of instance and rounds up\n                    fractional instances.</p>\n            </li>\n         </ul>\n        <p>The value parameter takes an integer.</p>\n        <p>For example, to set a minimum of 95% healthy instance, specify a type of FLEET_PERCENT\n            and a value of 95.</p>"
          }
        },
        "trafficRoutingConfig": {
          "target": "com.amazonaws.codedeploy#TrafficRoutingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration that specifies how the deployment traffic is routed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a CreateDeploymentConfig operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#CreateDeploymentConfigOutput": {
      "type": "structure",
      "members": {
        "deploymentConfigId": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigId",
          "traits": {
            "smithy.api#documentation": "<p>A unique deployment configuration ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a CreateDeploymentConfig operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#CreateDeploymentGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#CreateDeploymentGroupInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#CreateDeploymentGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#AlarmsLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentGroupAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentGroupLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentGroupNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#ECSServiceMappingLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidAlarmConfigException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidAutoRollbackConfigException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidAutoScalingGroupException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidBlueGreenDeploymentConfigurationException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentConfigNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentGroupNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentStyleException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidEC2TagCombinationException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidEC2TagException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidECSServiceException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidLoadBalancerInfoException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidOnPremisesTagCombinationException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidTagException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidTagsToAddException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidTargetGroupPairException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidTriggerConfigException"
        },
        {
          "target": "com.amazonaws.codedeploy#LifecycleHookLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#RoleRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#TagSetListLimitExceededException"
        },
        {
          "target": "com.amazonaws.codedeploy#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codedeploy#TriggerTargetsLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a deployment group to which application revisions are deployed.</p>"
      }
    },
    "com.amazonaws.codedeploy#CreateDeploymentGroupInput": {
      "type": "structure",
      "members": {
        "alarmConfiguration": {
          "target": "com.amazonaws.codedeploy#AlarmConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information to add about Amazon CloudWatch alarms when the deployment group is\n            created.</p>"
          }
        },
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an AWS CodeDeploy application associated with the IAM user or AWS\n            account.</p>",
            "smithy.api#required": {}
          }
        },
        "autoRollbackConfiguration": {
          "target": "com.amazonaws.codedeploy#AutoRollbackConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for an automatic rollback that is added when a deployment\n            group is created.</p>"
          }
        },
        "autoScalingGroups": {
          "target": "com.amazonaws.codedeploy#AutoScalingGroupNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of associated Amazon EC2 Auto Scaling groups.</p>"
          }
        },
        "blueGreenDeploymentConfiguration": {
          "target": "com.amazonaws.codedeploy#BlueGreenDeploymentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about blue/green deployment options for a deployment group.</p>"
          }
        },
        "deploymentConfigName": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigName",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the deployment configuration name can be either one of the predefined\n            configurations provided with AWS CodeDeploy or a custom deployment configuration that\n            you create by calling the create deployment configuration operation.</p>\n        <p>CodeDeployDefault.OneAtATime is the default deployment configuration. It is used if a\n            configuration isn't specified for the deployment or deployment group.</p>\n        <p>For more information about the predefined deployment configurations in AWS CodeDeploy,\n            see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/deployment-configurations.html\">Working with\n                Deployment Groups in AWS CodeDeploy</a> in the AWS CodeDeploy User Guide.</p>"
          }
        },
        "deploymentGroupName": {
          "target": "com.amazonaws.codedeploy#DeploymentGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a new deployment group for the specified application.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentStyle": {
          "target": "com.amazonaws.codedeploy#DeploymentStyle",
          "traits": {
            "smithy.api#documentation": "<p>Information about the type of deployment, in-place or blue/green, that you want to run\n            and whether to route deployment traffic behind a load balancer.</p>"
          }
        },
        "ec2TagFilters": {
          "target": "com.amazonaws.codedeploy#EC2TagFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 tags on which to filter. The deployment group includes EC2 instances\n            with any of the specified tags. Cannot be used in the same call as ec2TagSet.</p>"
          }
        },
        "ec2TagSet": {
          "target": "com.amazonaws.codedeploy#EC2TagSet",
          "traits": {
            "smithy.api#documentation": "<p>Information about groups of tags applied to EC2 instances. The deployment group\n            includes only EC2 instances identified by all the tag groups. Cannot be used in the same\n            call as ec2TagFilters.</p>"
          }
        },
        "ecsServices": {
          "target": "com.amazonaws.codedeploy#ECSServiceList",
          "traits": {
            "smithy.api#documentation": "<p> The target Amazon ECS services in the deployment group. This applies only to\n            deployment groups that use the Amazon ECS compute platform. A target Amazon ECS service\n            is specified as an Amazon ECS cluster and service name pair using the format\n            <code><clustername>:<servicename></code>. </p>"
          }
        },
        "loadBalancerInfo": {
          "target": "com.amazonaws.codedeploy#LoadBalancerInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the load balancer used in a deployment.</p>"
          }
        },
        "onPremisesInstanceTagFilters": {
          "target": "com.amazonaws.codedeploy#TagFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The on-premises instance tags on which to filter. The deployment group includes\n            on-premises instances with any of the specified tags. Cannot be used in the same call as\n            OnPremisesTagSet.</p>"
          }
        },
        "onPremisesTagSet": {
          "target": "com.amazonaws.codedeploy#OnPremisesTagSet",
          "traits": {
            "smithy.api#documentation": "<p>Information about groups of tags applied to on-premises instances. The deployment\n            group includes only on-premises instances identified by all of the tag groups. Cannot be\n            used in the same call as onPremisesInstanceTagFilters.</p>"
          }
        },
        "serviceRoleArn": {
          "target": "com.amazonaws.codedeploy#Role",
          "traits": {
            "smithy.api#documentation": "<p>A service role ARN that allows AWS CodeDeploy to act on the user's behalf when\n            interacting with AWS services.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.codedeploy#TagList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The metadata that you apply to CodeDeploy deployment groups to help you organize and categorize them. Each tag \n            consists of a key and an optional value, both of which you define.\n        </p>"
          }
        },
        "triggerConfigurations": {
          "target": "com.amazonaws.codedeploy#TriggerConfigList",
          "traits": {
            "smithy.api#documentation": "<p>Information about triggers to create when the deployment group is created. For\n            examples, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/how-to-notify-sns.html\">Create a Trigger for an\n                AWS CodeDeploy Event</a> in the AWS CodeDeploy User Guide.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a CreateDeploymentGroup operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#CreateDeploymentGroupOutput": {
      "type": "structure",
      "members": {
        "deploymentGroupId": {
          "target": "com.amazonaws.codedeploy#DeploymentGroupId",
          "traits": {
            "smithy.api#documentation": "<p>A unique deployment group ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a CreateDeploymentGroup operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#CreateDeploymentInput": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an AWS CodeDeploy application associated with the IAM user or AWS\n            account.</p>",
            "smithy.api#required": {}
          }
        },
        "autoRollbackConfiguration": {
          "target": "com.amazonaws.codedeploy#AutoRollbackConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for an automatic rollback that is added when a deployment is\n            created.</p>"
          }
        },
        "deploymentConfigName": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a deployment configuration associated with the IAM user or AWS\n            account.</p>\n        <p>If not specified, the value configured in the deployment group is used as the default.\n            If the deployment group does not have a deployment configuration associated with it,\n            CodeDeployDefault.OneAtATime is used by default.</p>"
          }
        },
        "deploymentGroupName": {
          "target": "com.amazonaws.codedeploy#DeploymentGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deployment group.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.codedeploy#Description",
          "traits": {
            "smithy.api#documentation": "<p>A comment about the deployment.</p>"
          }
        },
        "fileExistsBehavior": {
          "target": "com.amazonaws.codedeploy#FileExistsBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Information about how AWS CodeDeploy handles files that already exist in a deployment\n            target location but weren't part of the previous successful deployment.</p>\n        <p>The fileExistsBehavior parameter takes any of the following values:</p>\n        <ul>\n            <li>\n                <p>DISALLOW: The deployment fails. This is also the default behavior if no option\n                    is specified.</p>\n            </li>\n            <li>\n                <p>OVERWRITE: The version of the file from the application revision currently\n                    being deployed replaces the version already on the instance.</p>\n            </li>\n            <li>\n                <p>RETAIN: The version of the file already on the instance is kept and used as\n                    part of the new deployment.</p>\n            </li>\n         </ul>"
          }
        },
        "ignoreApplicationStopFailures": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n            If true, then if an ApplicationStop, BeforeBlockTraffic, or AfterBlockTraffic deployment lifecycle event to \n            an instance fails, then the deployment continues to the next deployment lifecycle event. \n            For example, if ApplicationStop fails, the deployment continues with DownloadBundle. If BeforeBlockTraffic fails, \n            the deployment continues with BlockTraffic. If AfterBlockTraffic fails, the deployment continues with ApplicationStop.\n        </p>\n        \n        <p>\n            If false or not specified, then if a lifecycle event fails during a deployment to an instance, that deployment fails. \n            If deployment to that instance is part of an overall deployment and the number of healthy hosts is not less than the minimum number of healthy hosts, \n            then a deployment to the next instance is attempted.\n        </p>\n        \n        <p>\n            During a deployment, the AWS CodeDeploy agent runs the scripts specified for ApplicationStop, \n            BeforeBlockTraffic, and AfterBlockTraffic in the AppSpec file from the previous successful deployment. \n            (All other scripts are run from the AppSpec file in the current deployment.) If one of these scripts \n            contains an error and does not run successfully, the deployment can fail.\n        </p>\n        \n        <p>\n            If the cause of the failure is a script from the last successful deployment that will never run successfully, \n            create a new deployment and use <code>ignoreApplicationStopFailures</code> to specify that the ApplicationStop, \n            BeforeBlockTraffic, and AfterBlockTraffic failures should be ignored.\n        </p>"
          }
        },
        "revision": {
          "target": "com.amazonaws.codedeploy#RevisionLocation",
          "traits": {
            "smithy.api#documentation": "<p> The type and location of the revision to deploy. </p>"
          }
        },
        "targetInstances": {
          "target": "com.amazonaws.codedeploy#TargetInstances",
          "traits": {
            "smithy.api#documentation": "<p> Information about the instances that belong to the replacement environment in a\n            blue/green deployment. </p>"
          }
        },
        "updateOutdatedInstancesOnly": {
          "target": "com.amazonaws.codedeploy#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Indicates whether to deploy to all instances or only to instances that are not\n            running the latest application revision. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a CreateDeployment operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#CreateDeploymentOutput": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.codedeploy#DeploymentId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of a deployment. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a CreateDeployment operation. </p>"
      }
    },
    "com.amazonaws.codedeploy#DeleteApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#DeleteApplicationInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidRoleException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an application.</p>"
      }
    },
    "com.amazonaws.codedeploy#DeleteApplicationInput": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an AWS CodeDeploy application associated with the IAM user or AWS\n            account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a DeleteApplication operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#DeleteDeploymentConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#DeleteDeploymentConfigInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigInUseException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentConfigNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentConfigNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a deployment configuration.</p>\n        <note>\n            <p>A deployment configuration cannot be deleted if it is currently in use. Predefined\n                configurations cannot be deleted.</p>\n        </note>"
      }
    },
    "com.amazonaws.codedeploy#DeleteDeploymentConfigInput": {
      "type": "structure",
      "members": {
        "deploymentConfigName": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a deployment configuration associated with the IAM user or AWS\n            account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a DeleteDeploymentConfig operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#DeleteDeploymentGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#DeleteDeploymentGroupInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#DeleteDeploymentGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#ApplicationNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#DeploymentGroupNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidApplicationNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidDeploymentGroupNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidRoleException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a deployment group.</p>"
      }
    },
    "com.amazonaws.codedeploy#DeleteDeploymentGroupInput": {
      "type": "structure",
      "members": {
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an AWS CodeDeploy application associated with the IAM user or AWS\n            account.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentGroupName": {
          "target": "com.amazonaws.codedeploy#DeploymentGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a deployment group for the specified application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a DeleteDeploymentGroup operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#DeleteDeploymentGroupOutput": {
      "type": "structure",
      "members": {
        "hooksNotCleanedUp": {
          "target": "com.amazonaws.codedeploy#AutoScalingGroupList",
          "traits": {
            "smithy.api#documentation": "<p>If the output contains no data, and the corresponding deployment group contained at\n            least one Auto Scaling group, AWS CodeDeploy successfully removed all corresponding Auto\n            Scaling lifecycle event hooks from the Amazon EC2 instances in the Auto Scaling group.\n            If the output contains data, AWS CodeDeploy could not remove some Auto Scaling lifecycle\n            event hooks from the Amazon EC2 instances in the Auto Scaling group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a DeleteDeploymentGroup operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#DeleteGitHubAccountToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codedeploy#DeleteGitHubAccountTokenInput"
      },
      "output": {
        "target": "com.amazonaws.codedeploy#DeleteGitHubAccountTokenOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codedeploy#GitHubAccountTokenDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codedeploy#GitHubAccountTokenNameRequiredException"
        },
        {
          "target": "com.amazonaws.codedeploy#InvalidGitHubAccountTokenNameException"
        },
        {
          "target": "com.amazonaws.codedeploy#OperationNotSupportedException"
        },
        {
          "target": "com.amazonaws.codedeploy#ResourceValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a GitHub account connection.</p>"
      }
    },
    "com.amazonaws.codedeploy#DeleteGitHubAccountTokenInput": {
      "type": "structure",
      "members": {
        "tokenName": {
          "target": "com.amazonaws.codedeploy#GitHubAccountTokenName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the GitHub account connection to delete.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a DeleteGitHubAccount operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#DeleteGitHubAccountTokenOutput": {
      "type": "structure",
      "members": {
        "tokenName": {
          "target": "com.amazonaws.codedeploy#GitHubAccountTokenName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the GitHub account connection that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a DeleteGitHubAccountToken operation.</p>"
      }
    },
    "com.amazonaws.codedeploy#DeploymentAlreadyCompletedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The deployment is already complete.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#DeploymentConfigAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A deployment configuration with the specified name with the  IAM user or AWS account\n            already exists .</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#DeploymentConfigDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The deployment configuration does not exist with the IAM user or AWS account.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#DeploymentConfigId": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#DeploymentConfigInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The deployment configuration is still in use.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#DeploymentConfigInfo": {
      "type": "structure",
      "members": {
        "computePlatform": {
          "target": "com.amazonaws.codedeploy#ComputePlatform",
          "traits": {
            "smithy.api#documentation": "<p>The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.codedeploy#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the deployment configuration was created.</p>"
          }
        },
        "deploymentConfigId": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigId",
          "traits": {
            "smithy.api#documentation": "<p>The deployment configuration ID.</p>"
          }
        },
        "deploymentConfigName": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigName",
          "traits": {
            "smithy.api#documentation": "<p>The deployment configuration name.</p>"
          }
        },
        "minimumHealthyHosts": {
          "target": "com.amazonaws.codedeploy#MinimumHealthyHosts",
          "traits": {
            "smithy.api#documentation": "<p>Information about the number or percentage of minimum healthy instance.</p>"
          }
        },
        "trafficRoutingConfig": {
          "target": "com.amazonaws.codedeploy#TrafficRoutingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration that specifies how the deployment traffic is routed. Only\n            deployments with a Lambda compute platform can specify this.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a deployment configuration.</p>"
      }
    },
    "com.amazonaws.codedeploy#DeploymentConfigLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The deployment configurations limit was exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#DeploymentConfigName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codedeploy#DeploymentConfigNameRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The deployment configuration name was not specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#DeploymentConfigsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codedeploy#DeploymentConfigName"
      }
    },
    "com.amazonaws.codedeploy#DeploymentCreator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "user",
            "name": "User"
          },
          {
            "value": "autoscaling",
            "name": "Autoscaling"
          },
          {
            "value": "codeDeployRollback",
            "name": "CodeDeployRollback"
          }
        ]
      }
    },
    "com.amazonaws.codedeploy#DeploymentDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The deployment with the IAM user or AWS account does not exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#DeploymentGroupAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A deployment group with the specified name with the IAM user or AWS account already\n            exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#DeploymentGroupDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codedeploy#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that corresponds to the exception thrown by AWS CodeDeploy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The named deployment group with the IAM user or AWS account does not exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codedeploy#DeploymentGroupId": {
      "type": "string"
    },
    "com.amazonaws.codedeploy#DeploymentGroupInfo": {
      "type": "structure",
      "members": {
        "alarmConfiguration": {
          "target": "com.amazonaws.codedeploy#AlarmConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A list of alarms associated with the deployment group.</p>"
          }
        },
        "applicationName": {
          "target": "com.amazonaws.codedeploy#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The application name.</p>"
          }
        },
        "autoRollbackConfiguration": {
          "target": "com.amazonaws.codedeploy#AutoRollbackConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about the automatic rollback configuration associated with the deployment\n            group.</p>"
          }
        },
        "autoScalingGroups": {
          "target": "com.amazonaws.codedeploy#AutoScalingGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of associated Auto Scaling groups.</p>"
          }
        },
        "blueGreenDeploymentConfiguration": {
          "target": "com.amazonaws.codedeploy#BlueGreenDeploymentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about blue/green deployment options for a deployment group.</p>"
          }
        },
        "computePlatform": {
          "target": "com.amazonaws.codedeploy#ComputePlatform",
          "traits": {
            "smithy.api#documentation": "<p>The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>"
          }
        },
        "deploymentConfigName": {
          "target": "com.amazonaws.codedeploy#DeploymentConfigName",
          "traits": {
            "smithy.api#documentation": "<p>The deployment configuration name.</p>"
          }
        },
        "deploymentGroupId": {
          "target": "com.amazonaws.codedeploy#DeploymentGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The deployment group ID.</p>"
          }
        },
        "deploymentGroupName": {
          "target": "com.amazonaws.codedeploy#DeploymentGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The deployment group name.</p>"
          }
        },
        "deploymentStyle": {
          "target": "com.amazonaws.codedeploy#DeploymentStyle",
          "traits": {
            "smithy.api#documentation": "<p>Information about the type of deployment, either in-place or blue/green, you want to\n            run and whether to route deployment traffic behind a load balancer.</p>"
          }
        },
        "ec2TagFilters": {
          "target": "com.amazonaws.codedeploy#EC2TagFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 tags on which to filter. The deployment group includes EC2 instances\n            with any of the specified tags.</p>"
          }
        },
        "ec2TagSet": {
          "target": "com.amazonaws.codedeploy#EC2TagSet",
          "traits": {
            "smithy.api#documentation": "<p>Information about groups of tags applied to an EC2 instance. The deployment group\n            includes only EC2 instances identified by all of the tag groups. Cannot be used in the\n            same call as ec2TagFilters.</p>"
          }
        },
        "ecsServices": {
          "target": "com.amazonaws.codedeploy#ECSServiceList",
          "traits": {
            "smithy.api#documentation": "<p> The target Amazon ECS services in the deployment group. This applies only to\n            deployment groups that use the Amazon ECS compute platform. A target Amazon ECS service\n            is specified as an Amazon ECS cluster and service name pair using the format\n            <code><clustername>:<servicename></code>. </p>"
          }
        },
        "lastAttemptedDeployment": {
          "target": "com.amazonaws.codedeploy#LastDeploymentInfo",
          "traits": {
[...]
