{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cognitoidentityprovider#AWSAccountIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AWSCognitoIdentityProviderService": {
      "type": "service",
      "version": "2016-04-18",
      "operations": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#AddCustomAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUp"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDisableUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminEnableUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminForgetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminGetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminGetUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminInitiateAuth"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminLinkProviderForUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminListDevices"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminListGroupsForUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminListUserAuthEvents"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminRemoveUserFromGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminResetUserPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminRespondToAuthChallenge"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminSetUserMFAPreference"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminSetUserPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminSetUserSettings"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUpdateAuthEventFeedback"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUpdateDeviceStatus"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUpdateUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUserGlobalSignOut"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AssociateSoftwareToken"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ChangePassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CompleteWebAuthnRegistration"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ConfirmDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ConfirmForgotPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ConfirmSignUp"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateManagedLoginBranding"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteManagedLoginBranding"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteWebAuthnCredential"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeManagedLoginBranding"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeManagedLoginBrandingByClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeRiskConfiguration"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ForgetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ForgotPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetCSVHeader"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetIdentityProviderByIdentifier"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetLogDeliveryConfiguration"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetSigningCertificate"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUICustomization"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUserAttributeVerificationCode"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUserAuthFactors"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUserPoolMfaConfig"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GlobalSignOut"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InitiateAuth"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListDevices"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListGroups"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListIdentityProviders"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListResourceServers"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUserImportJobs"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUserPoolClients"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUserPools"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUsers"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUsersInGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListWebAuthnCredentials"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResendConfirmationCode"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#RespondToAuthChallenge"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#RevokeToken"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetLogDeliveryConfiguration"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetRiskConfiguration"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUICustomization"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUserMFAPreference"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUserPoolMfaConfig"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUserSettings"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SignUp"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#StartUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#StartWebAuthnRegistration"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#StopUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TagResource"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UntagResource"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateAuthEventFeedback"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateDeviceStatus"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateManagedLoginBranding"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#VerifySoftwareToken"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#VerifyUserAttribute"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Cognito Identity Provider",
          "arnNamespace": "cognito-idp",
          "cloudFormationName": "Cognito",
          "cloudTrailEventSource": "cognito-idp.amazonaws.com",
          "docId": "cognito-idp-2016-04-18",
          "endpointPrefix": "cognito-idp"
        },
        "aws.auth#sigv4": {
          "name": "cognito-idp"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>With the Amazon Cognito user pools API, you can configure user pools and authenticate users. To\n            authenticate users from third-party identity providers (IdPs) in this API, you can\n                <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-identity-federation-consolidate-users.html\">link IdP users to native user profiles</a>. Learn more\n            about the authentication and authorization of federated users at <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-identity-federation.html\">Adding user pool sign-in through a third party</a> and in the <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-userpools-server-contract-reference.html\">User pool federation endpoints and managed login reference</a>.</p>\n         <p>This API reference provides detailed information about API operations and object types\n            in Amazon Cognito.</p>\n         <p>Along with resource management operations, the Amazon Cognito user pools API includes classes\n            of operations and authorization models for client-side and server-side authentication of\n            users. You can interact with operations in the Amazon Cognito user pools API as any of the\n            following subjects.</p>\n         <ol>\n            <li>\n               <p>An administrator who wants to configure user pools, app clients, users,\n                    groups, or other user pool functions.</p>\n            </li>\n            <li>\n               <p>A server-side app, like a web application, that wants to use its Amazon Web Services\n                    privileges to manage, authenticate, or authorize a user.</p>\n            </li>\n            <li>\n               <p>A client-side app, like a mobile app, that wants to make unauthenticated\n                    requests to manage, authenticate, or authorize a user.</p>\n            </li>\n         </ol>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/authentication-flows-public-server-side.html#user-pools-API-operations\">Understanding API, OIDC, and managed login pages\n                authentication</a> in the <i>Amazon Cognito Developer Guide</i>.</p>\n         <p>With your Amazon Web Services SDK, you can build the logic to support operational flows in every use\n            case for this API. You can also make direct REST API requests to <a href=\"https://docs.aws.amazon.com/general/latest/gr/cognito_identity.html#cognito_identity_your_user_pools_region\">Amazon Cognito user pools service endpoints</a>. The following links can get you started\n            with the <code>CognitoIdentityProvider</code> client in supported Amazon Web Services SDKs.</p>\n         <p>To get started with an Amazon Web Services SDK, see <a href=\"http://aws.amazon.com/developer/tools/\">Tools to Build on Amazon Web Services</a>. For example actions and scenarios, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/service_code_examples_cognito-identity-provider.html\">Code examples for Amazon Cognito Identity Provider using Amazon Web Services\n                SDKs</a>.</p>",
        "smithy.api#title": "Amazon Cognito Identity Provider",
        "smithy.api#xmlNamespace": {
          "uri": "http://cognito-idp.amazonaws.com/doc/2016-04-18/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-east-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://cognito-idp-fips.us-east-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-east-2"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://cognito-idp-fips.us-east-2.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-west-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://cognito-idp-fips.us-west-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-west-2"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://cognito-idp-fips.us-west-2.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cognito-idp-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cognito-idp-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://cognito-idp.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cognito-idp.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://cognito-idp.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-southeast-4.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-4",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ca-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region il-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.il-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "il-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccessTokenValidityType": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 86400
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountRecoverySettingType": {
      "type": "structure",
      "members": {
        "RecoveryMechanisms": {
          "target": "com.amazonaws.cognitoidentityprovider#RecoveryMechanismsType",
          "traits": {
            "smithy.api#documentation": "<p>The list of options and priorities for user message delivery in forgot-password\n            operations. Sets or displays user pool preferences for email or SMS message priority,\n            whether users should fall back to a second delivery method, and whether passwords should\n            only be reset by administrators.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings for user message delivery in forgot-password operations. Contains\n            preference for email or SMS message delivery of password reset codes, or for admin-only\n            password reset.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionNotifyType": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType": {
      "type": "structure",
      "members": {
        "Notify": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionNotifyType",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Determines whether Amazon Cognito sends a user a notification message when your user pools\n            assesses a user's session at the associated risk level.</p>",
            "smithy.api#required": {}
          }
        },
        "EventAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverEventActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action to take for the attempted account takeover action for the associated risk\n            level. Valid values are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BLOCK</code>: Block the request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MFA_IF_CONFIGURED</code>: Present an MFA challenge if possible. MFA is\n                    possible if the user pool has active MFA methods that the user can set up. For\n                    example, if the user pool only supports SMS message MFA but the user\n                    doesn't have a phone number attribute, MFA setup isn't possible. If MFA\n                    setup isn't possible, allow the request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MFA_REQUIRED</code>: Present an MFA challenge if possible. Block the\n                    request if a user hasn't set up MFA. To sign in with required MFA, users must\n                    have an email address or phone number attribute, or a registered TOTP\n                    factor.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NO_ACTION</code>: Take no action. Permit sign-in.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The automated response to a risk level for adaptive authentication in full-function,\n            or <code>ENFORCED</code>, mode. You can assign an action to each risk level that\n            threat protection evaluates.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionsType": {
      "type": "structure",
      "members": {
        "LowAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action that you assign to a low-risk assessment by threat protection.</p>"
          }
        },
        "MediumAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action that you assign to a medium-risk assessment by threat protection.</p>"
          }
        },
        "HighAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action that you assign to a high-risk assessment by threat protection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of account-takeover actions for each level of risk that Amazon Cognito might assess with\n            threat protection features.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverEventActionType": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "MFA_IF_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MFA_IF_CONFIGURED"
          }
        },
        "MFA_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MFA_REQUIRED"
          }
        },
        "NO_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ACTION"
          }
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverRiskConfigurationType": {
      "type": "structure",
      "members": {
        "NotifyConfiguration": {
          "target": "com.amazonaws.cognitoidentityprovider#NotifyConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>The settings for composing and sending an email message when threat protection assesses a risk level with adaptive authentication. When you choose to notify\n            users in <code>AccountTakeoverRiskConfiguration</code>, Amazon Cognito sends an email message\n            using the method and template that you set with this data type.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionsType",
          "traits": {
            "smithy.api#documentation": "<p>A list of account-takeover actions for each level of risk that Amazon Cognito might assess with\n            threat protection.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings for automated responses and notification templates for adaptive\n            authentication with threat protection features.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AddCustomAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AddCustomAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AddCustomAttributesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserImportInProgressException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds additional user attributes to the user pool schema. Custom attributes can be\n            mutable or immutable and have a <code>custom:</code> or <code>dev:</code> prefix. For\n            more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-attributes.html#user-pool-settings-custom-attributes\">Custom attributes</a>.</p>\n         <note>\n            <p>Amazon Cognito evaluates Identity and Access Management (IAM) policies in requests for this API operation. For\n    this operation, you must use IAM credentials to authorize requests, and you must\n    grant yourself the corresponding IAM permission in a policy.</p>\n            <p class=\"title\">\n               <b>Learn more</b>\n            </p>\n            <ul>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_aws-signing.html\">Signing Amazon Web Services API Requests</a>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/user-pools-API-operations.html\">Using the Amazon Cognito user pools API and user pool endpoints</a>\n                  </p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AddCustomAttributesRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user pool where you want to add custom attributes.</p>",
            "smithy.api#required": {}
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.cognitoidentityprovider#CustomAttributesListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of custom attribute names and other properties. Sets the following\n            characteristics:</p>\n         <dl>\n            <dt>AttributeDataType</dt>\n            <dd>\n               <p>The expected data type. Can be a string, a number, a date and time, or a\n                        boolean.</p>\n            </dd>\n            <dt>Mutable</dt>\n            <dd>\n               <p>If true, you can grant app clients write access to the attribute value. If\n                        false, the attribute value can only be set up on sign-up or administrator\n                        creation of users.</p>\n            </dd>\n            <dt>Name</dt>\n            <dd>\n               <p>The attribute name. For an attribute like <code>custom:myAttribute</code>,\n                        enter <code>myAttribute</code> for this field.</p>\n            </dd>\n            <dt>Required</dt>\n            <dd>\n               <p>When true, users who sign up or are created must set a value for the\n                        attribute.</p>\n            </dd>\n            <dt>NumberAttributeConstraints</dt>\n            <dd>\n               <p>The minimum and maximum length of accepted values for a\n                            <code>Number</code>-type attribute.</p>\n            </dd>\n            <dt>StringAttributeConstraints</dt>\n            <dd>\n               <p>The minimum and maximum length of accepted values for a\n                            <code>String</code>-type attribute.</p>\n            </dd>\n            <dt>DeveloperOnlyAttribute</dt>\n            <dd>\n               <p>This legacy option creates an attribute with a <code>dev:</code> prefix.\n                        You can only set the value of a developer-only attribute with administrative\n                        IAM credentials.</p>\n            </dd>\n         </dl>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to add custom attributes.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cognitoidentityprovider#AddCustomAttributesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server for the request to add custom\n            attributes.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a user to a group. A user who is in a group can present a preferred-role claim to\n            an identity pool, and populates a <code>cognito:groups</code> claim to their access and\n            identity tokens.</p>\n         <note>\n            <p>Amazon Cognito evaluates Identity and Access Management (IAM) policies in requests for this API operation. For\n    this operation, you must use IAM credentials to authorize requests, and you must\n    grant yourself the corresponding IAM permission in a policy.</p>\n            <p class=\"title\">\n               <b>Learn more</b>\n            </p>\n            <ul>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_aws-signing.html\">Signing Amazon Web Services API Requests</a>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/user-pools-API-operations.html\">Using the Amazon Cognito user pools API and user pool endpoints</a>\n                  </p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroupRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user pool that contains the group that you want to add the user\n            to.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user that you want to query or modify. The value of this parameter\n            is typically your user's username, but it can be any of their alias attributes. If\n                <code>username</code> isn't an alias attribute in your user pool, this value\n            must be the <code>sub</code> of a local user or the username of a user from a\n            third-party IdP.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupName": {
          "target": "com.amazonaws.cognitoidentityprovider#GroupNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group that you want to add your user to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidLambdaResponseException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyFailedAttemptsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UnexpectedLambdaException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserLambdaValidationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Confirms user sign-up as an administrator. </p>\n         <p>This request sets a user account active in a user pool that <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/signing-up-users-in-your-app.html#signing-up-users-in-your-app-and-confirming-them-as-admin\">requires confirmation of new user accounts</a> before they can sign in. You can\n            configure your user pool to not send confirmation codes to new users and instead confirm\n            them with this API operation on the back end.</p>\n         <note>\n            <p>Amazon Cognito evaluates Identity and Access Management (IAM) policies in requests for this API operation. For\n    this operation, you must use IAM credentials to authorize requests, and you must\n    grant yourself the corresponding IAM permission in a policy.</p>\n            <p class=\"title\">\n               <b>Learn more</b>\n            </p>\n            <ul>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_aws-signing.html\">Signing Amazon Web Services API Requests</a>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/user-pools-API-operations.html\">Using the Amazon Cognito user pools API and user pool endpoints</a>\n                  </p>\n               </li>\n            </ul>\n         </note>\n         <p>To configure your user pool to require administrative confirmation of users, set\n                <code>AllowAdminCreateUserOnly</code> to <code>true</code> in a\n                <code>CreateUserPool</code> or <code>UpdateUserPool</code> request.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user pool where you want to confirm a user's sign-up\n            request.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user that you want to query or modify. The value of this parameter\n            is typically your user's username, but it can be any of their alias attributes. If\n                <code>username</code> isn't an alias attribute in your user pool, this value\n            must be the <code>sub</code> of a local user or the username of a user from a\n            third-party IdP.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientMetadata": {
          "target": "com.amazonaws.cognitoidentityprovider#ClientMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom key-value pairs that you can provide as input for any custom workflows\n            that this action triggers.</p>\n         <p>If your user pool configuration includes triggers, the AdminConfirmSignUp API action\n            invokes the Lambda function that is specified for the <i>post\n                confirmation</i> trigger. When Amazon Cognito invokes this function, it passes a JSON\n            payload, which the function receives as input. In this payload, the\n                <code>clientMetadata</code> attribute provides the data that you assigned to the\n            ClientMetadata parameter in your AdminConfirmSignUp request. In your function code in\n            Lambda, you can process the ClientMetadata value to enhance your workflow for your\n            specific needs.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html\">\nUsing Lambda triggers</a> in the <i>Amazon Cognito Developer Guide</i>.</p>\n         <note>\n            <p>When you use the <code>ClientMetadata</code> parameter, note that Amazon Cognito won't do the\n                following:</p>\n            <ul>\n               <li>\n                  <p>Store the <code>ClientMetadata</code> value. This data is available only\n                        to Lambda triggers that are assigned to a user pool to support custom\n                        workflows. If your user pool configuration doesn't include triggers, the\n                        <code>ClientMetadata</code> parameter serves no purpose.</p>\n               </li>\n               <li>\n                  <p>Validate the <code>ClientMetadata</code> value.</p>\n               </li>\n               <li>\n                  <p>Encrypt the <code>ClientMetadata</code> value. Don't send sensitive\n                        information in this parameter.</p>\n               </li>\n            </ul>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Confirm a user's registration as a user pool administrator.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server for the request to confirm\n            registration.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#CodeDeliveryFailureException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidLambdaResponseException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidPasswordException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidSmsRoleAccessPolicyException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidSmsRoleTrustRelationshipException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UnexpectedLambdaException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UnsupportedUserStateException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserLambdaValidationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameExistsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new user in the specified user pool.</p>\n         <p>If <code>MessageAction</code> isn't set, the default is to send a welcome message via\n            email or phone (SMS).</p>\n         <p>This message is based on a template that you configured in your call to create or\n            update a user pool. This template includes your custom sign-up instructions and\n            placeholders for user name and temporary password.</p>\n         <p>Alternatively, you can call <code>AdminCreateUser</code> with <code>SUPPRESS</code>\n            for the <code>MessageAction</code> parameter, and Amazon Cognito won't send any email. </p>\n         <p>In either case, if the user has a password, they will be in the\n                <code>FORCE_CHANGE_PASSWORD</code> state until they sign in and set their password.\n            Your invitation message template must have the <code>{####}</code> password placeholder\n            if your users have passwords. If your template doesn't have this placeholder, Amazon Cognito\n            doesn't deliver the invitation message. In this case, you must update your message\n            template and resend the password with a new <code>AdminCreateUser</code> request with a\n                <code>MessageAction</code> value of <code>RESEND</code>.</p>\n         <note>\n            <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers\n            require you to register an origination phone number before you can send SMS messages\n            to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a\n            phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>.\n            Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must\n            receive SMS messages might not be able to sign up, activate their accounts, or sign\n            in.</p>\n            <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Services service,\n            Amazon Simple Notification Service might place your account in the SMS sandbox. In <i>\n                  <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox\n                    mode</a>\n               </i>, you can send messages only to verified phone\n            numbers. After you test your app while in the sandbox environment, you can move out\n            of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-sms-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito\n                Developer Guide</i>.</p>\n         </note>\n         <note>\n            <p>Amazon Cognito evaluates Identity and Access Management (IAM) policies in requests for this API operation. For\n    this operation, you must use IAM credentials to authorize requests, and you must\n    grant yourself the corresponding IAM permission in a policy.</p>\n            <p class=\"title\">\n               <b>Learn more</b>\n            </p>\n            <ul>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_aws-signing.html\">Signing Amazon Web Services API Requests</a>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/user-pools-API-operations.html\">Using the Amazon Cognito user pools API and user pool endpoints</a>\n                  </p>\n               </li>\n            </ul>\n         </note>",
        "smithy.api#examples": [
          {
            "title": "An AdminCreateUser request for for a test user named John.",
            "documentation": "This request submits a value for all possible parameters for AdminCreateUser.",
            "input": {
              "UserPoolId": "us-east-1_EXAMPLE",
              "Username": "testuser",
              "DesiredDeliveryMediums": ["SMS"],
              "MessageAction": "SUPPRESS",
              "TemporaryPassword": "This-is-my-test-99!",
              "UserAttributes": [
                {
                  "Name": "name",
                  "Value": "John"
                },
                {
                  "Name": "phone_number",
                  "Value": "+12065551212"
                },
                {
                  "Name": "email",
                  "Value": "testuser@example.com"
                }
              ]
            },
            "output": {
              "User": {
                "Attributes": [
                  {
                    "Name": "sub",
                    "Value": "d16b4aa8-8633-4abd-93b3-5062a8e1b5f8"
                  },
                  {
                    "Name": "name",
                    "Value": "John"
                  },
                  {
                    "Name": "phone_number",
                    "Value": "+12065551212"
                  },
                  {
                    "Name": "email",
                    "Value": "testuser@example.com"
                  }
                ],
                "Enabled": true,
                "UserCreateDate": 1.689980857949e9,
                "UserLastModifiedDate": 1.689980857949e9,
                "UserStatus": "FORCE_CHANGE_PASSWORD",
                "Username": "testuser"
              }
            }
          }
        ]
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUserConfigType": {
      "type": "structure",
      "members": {
        "AllowAdminCreateUserOnly": {
          "target": "com.amazonaws.cognitoidentityprovider#BooleanType",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The setting for allowing self-service sign-up. When <code>true</code>, only\n            administrators can create new user profiles. When <code>false</code>, users can register\n            themselves and create a new user profile with the <code>SignUp</code> operation.</p>"
          }
        },
        "UnusedAccountValidityDays": {
          "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUserUnusedAccountValidityDaysType",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>This parameter is no longer in use.</p>\n         <p>The password expiration limit in days for administrator-created users. When this time\n            expires, the user can't sign in with their temporary password. To reset the account\n            after that time limit, you must call <code>AdminCreateUser</code> again, specifying\n                <code>RESEND</code> for the <code>MessageAction</code> parameter. </p>\n         <p>The default value for this parameter is 7.</p>"
          }
        },
        "InviteMessageTemplate": {
          "target": "com.amazonaws.cognitoidentityprovider#MessageTemplateType",
          "traits": {
            "smithy.api#documentation": "<p>The template for the welcome message to new users. This template must include the\n                <code>{####}</code> temporary password placeholder if you are creating users with\n            passwords. If your users don't have passwords, you can omit the placeholder.</p>\n         <p>See also <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pool-settings-message-customizations.html#cognito-user-pool-settings-user-invitation-message-customization\">Customizing User Invitation Messages</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings for administrator creation of users in a user pool. Contains settings for\n            allowing user sign-up, customizing invitation messages to new users, and the amount of\n            time before temporary passwords expire.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user pool where you want to create a user.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The value that you want to set as the username sign-in attribute. The following\n            conditions apply to the username parameter.</p>\n         <ul>\n            <li>\n               <p>The username can't be a duplicate of another username in the same user\n                    pool.</p>\n            </li>\n            <li>\n               <p>You can't change the value of a username after you create it.</p>\n            </li>\n            <li>\n               <p>You can only provide a value if usernames are a valid sign-in attribute for\n                    your user pool. If your user pool only supports phone numbers or email addresses\n                    as sign-in attributes, Amazon Cognito automatically generates a username value. For more\n                    information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-attributes.html#user-pool-settings-aliases\">Customizing sign-in attributes</a>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "UserAttributes": {
          "target": "com.amazonaws.cognitoidentityprovider#AttributeListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of name-value pairs that contain user attributes and attribute values to be\n            set for the user to be created. You can create a user without specifying any attributes\n            other than <code>Username</code>. However, any attributes that you specify as required\n            (when creating a user pool or in the <b>Attributes</b> tab of\n            the console) either you should supply (in your call to <code>AdminCreateUser</code>) or\n            the user should supply (when they sign up in response to your welcome message).</p>\n         <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the\n            attribute name.</p>\n         <p>To send a message inviting the user to sign up, you must specify the user's email\n            address or phone number. You can do this in your call to AdminCreateUser or in the\n                <b>Users</b> tab of the Amazon Cognito console for managing your\n            user pools.</p>\n         <p>You must also provide an email address or phone number when you expect the user to do\n            passwordless sign-in with an email or SMS OTP. These attributes must be provided when\n            passwordless options are the only available, or when you don't submit a\n                <code>TemporaryPassword</code>.</p>\n         <p>In your <code>AdminCreateUser</code> request, you can set the\n                <code>email_verified</code> and <code>phone_number_verified</code> attributes to\n                <code>true</code>. The following conditions apply:</p>\n         <dl>\n            <dt>email</dt>\n            <dd>\n               <p>The email address where you want the user to receive their confirmation\n                        code and username. You must provide a value for <code>email</code> when you\n                        want to set <code>email_verified</code> to <code>true</code>, or if you set\n                            <code>EMAIL</code> in the <code>DesiredDeliveryMediums</code>\n                        parameter.</p>\n            </dd>\n            <dt>phone_number</dt>\n            <dd>\n               <p>The phone number where you want the user to receive their confirmation\n                        code and username. You must provide a value for <code>phone_number</code>\n                        when you want to set <code>phone_number_verified</code> to\n                        <code>true</code>, or if you set <code>SMS</code> in the\n                            <code>DesiredDeliveryMediums</code> parameter.</p>\n            </dd>\n         </dl>"
          }
        },
        "ValidationData": {
          "target": "com.amazonaws.cognitoidentityprovider#AttributeListType",
          "traits": {
            "smithy.api#documentation": "<p>Temporary user attributes that contribute to the outcomes of your pre sign-up Lambda\n    trigger. This set of key-value pairs are for custom validation of information that you \n    collect from your users but don't need to retain.</p>\n         <p>Your Lambda function can analyze this additional data and act on it. Your function\n    can automatically confirm and verify select users or perform external API operations \n    like logging user attributes and validation data to Amazon CloudWatch Logs.</p>\n         <p>For more information about the pre sign-up Lambda trigger, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-sign-up.html\">Pre sign-up Lambda trigger</a>.</p>"
          }
        },
        "TemporaryPassword": {
          "target": "com.amazonaws.cognitoidentityprovider#PasswordType",
          "traits": {
            "smithy.api#documentation": "<p>The user's temporary password. This password must conform to the password policy that\n            you specified when you created the user pool.</p>\n         <p>The exception to the requirement for a password is when your user pool supports\n            passwordless sign-in with email or SMS OTPs. To create a user with no password, omit\n            this parameter or submit a blank value. You can only create a passwordless user when\n            passwordless sign-in is available.</p>\n         <p>The temporary password is valid only once. To complete the Admin Create User flow, the\n            user must enter the temporary password in the sign-in page, along with a new password to\n            be used in all future sign-ins.</p>\n         <p>If you don't specify a value, Amazon Cognito generates one for you unless you have passwordless\n            options active for your user pool.</p>\n         <p>The temporary password can only be used until the user account expiration limit that\n            you set for your user pool. To reset the account after that time limit, you must call\n                <code>AdminCreateUser</code> again and specify <code>RESEND</code> for the\n                <code>MessageAction</code> parameter.</p>"
          }
        },
        "ForceAliasCreation": {
          "target": "com.amazonaws.cognitoidentityprovider#ForceAliasCreation",
          "traits": {
            "smithy.api#default": false,
[...]
