{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cognitoidentityprovider#AWSAccountIdType": {
      "type": "string"
    },
    "com.amazonaws.cognitoidentityprovider#AWSCognitoIdentityProviderService": {
      "type": "service",
      "traits": {
        "aws.api#service": {
          "sdkId": "Cognito Identity Provider",
          "arnNamespace": "cognito-idp",
          "cloudFormationName": "Cognito",
          "cloudTrailEventSource": "cognitoidentityprovider.amazonaws.com",
          "endpointPrefix": "cognito-idp"
        },
        "aws.auth#sigv4": {
          "name": "cognito-idp"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Using the Amazon Cognito user pools API, you can create a user pool to manage directories and users. You can authenticate a user to obtain tokens related to user identity and access policies.</p>\n        <p>This API reference provides information about user pools in Amazon Cognito user pools.</p>\n        <p>For more information, see the <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/what-is-amazon-cognito.html\">Amazon Cognito Documentation</a>.</p>",
        "smithy.api#title": "Amazon Cognito Identity Provider",
        "smithy.api#xmlNamespace": {
          "uri": "http://cognito-idp.amazonaws.com/doc/2016-04-18/"
        }
      },
      "version": "2016-04-18",
      "operations": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#AddCustomAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUp"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDisableUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminEnableUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminForgetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminGetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminGetUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminInitiateAuth"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminLinkProviderForUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminListDevices"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminListGroupsForUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminListUserAuthEvents"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminRemoveUserFromGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminResetUserPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminRespondToAuthChallenge"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminSetUserMFAPreference"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminSetUserPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminSetUserSettings"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUpdateAuthEventFeedback"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUpdateDeviceStatus"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUpdateUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUserGlobalSignOut"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AssociateSoftwareToken"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ChangePassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ConfirmDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ConfirmForgotPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ConfirmSignUp"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeRiskConfiguration"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ForgetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ForgotPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetCSVHeader"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetIdentityProviderByIdentifier"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetSigningCertificate"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUICustomization"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUserAttributeVerificationCode"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUserPoolMfaConfig"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GlobalSignOut"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InitiateAuth"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListDevices"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListGroups"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListIdentityProviders"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListResourceServers"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUserImportJobs"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUserPoolClients"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUserPools"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUsers"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUsersInGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResendConfirmationCode"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#RespondToAuthChallenge"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#RevokeToken"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetRiskConfiguration"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUICustomization"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUserMFAPreference"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUserPoolMfaConfig"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUserSettings"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SignUp"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#StartUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#StopUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TagResource"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UntagResource"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateAuthEventFeedback"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateDeviceStatus"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#VerifySoftwareToken"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#VerifyUserAttribute"
        }
      ]
    },
    "com.amazonaws.cognitoidentityprovider#AccessTokenValidityType": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 86400
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountRecoverySettingType": {
      "type": "structure",
      "members": {
        "RecoveryMechanisms": {
          "target": "com.amazonaws.cognitoidentityprovider#RecoveryMechanismsType",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>RecoveryOptionTypes</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data type for <code>AccountRecoverySetting</code>.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionNotifyType": {
      "type": "boolean"
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType": {
      "type": "structure",
      "members": {
        "Notify": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionNotifyType",
          "traits": {
            "smithy.api#documentation": "<p>Flag specifying whether to send a notification.</p>",
            "smithy.api#required": {}
          }
        },
        "EventAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverEventActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action to take in response to the account takeover action. Valid values\n            are:</p>\n    \n         <ul>\n            <li> \n               <p>\n                  <code>BLOCK</code> Choosing this action will block the request.</p> \n            </li>\n            <li> \n               <p>\n                  <code>MFA_IF_CONFIGURED</code> Present an MFA challenge if user has configured it, else allow the request.</p> \n            </li>\n            <li> \n               <p>\n                  <code>MFA_REQUIRED</code> Present an MFA challenge if user has configured it, else block the request.</p> \n            </li>\n            <li> \n               <p>\n                  <code>NO_ACTION</code> Allow the user to sign in.</p> \n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Account takeover action type.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionsType": {
      "type": "structure",
      "members": {
        "LowAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>Action to take for a low risk.</p>"
          }
        },
        "MediumAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>Action to take for a medium risk.</p>"
          }
        },
        "HighAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>Action to take for a high risk.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Account takeover actions type.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverEventActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BLOCK",
            "name": "BLOCK"
          },
          {
            "value": "MFA_IF_CONFIGURED",
            "name": "MFA_IF_CONFIGURED"
          },
          {
            "value": "MFA_REQUIRED",
            "name": "MFA_REQUIRED"
          },
          {
            "value": "NO_ACTION",
            "name": "NO_ACTION"
          }
        ]
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverRiskConfigurationType": {
      "type": "structure",
      "members": {
        "NotifyConfiguration": {
          "target": "com.amazonaws.cognitoidentityprovider#NotifyConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>The notify configuration used to construct email notifications.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionsType",
          "traits": {
            "smithy.api#documentation": "<p>Account takeover risk configuration actions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for mitigation actions and notification for different levels of risk detected for a potential account takeover.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AddCustomAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AddCustomAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AddCustomAttributesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserImportInProgressException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds additional user attributes to the user pool schema.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AddCustomAttributesRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to add custom attributes.</p>",
            "smithy.api#required": {}
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.cognitoidentityprovider#CustomAttributesListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of custom attributes, such as Mutable and Name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to add custom attributes.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AddCustomAttributesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server for the request to add custom attributes.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified user to the specified group.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroupRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The username for the user.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupName": {
          "target": "com.amazonaws.cognitoidentityprovider#GroupNameType",
          "traits": {
            "smithy.api#documentation": "<p>The group name.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidLambdaResponseException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyFailedAttemptsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UnexpectedLambdaException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserLambdaValidationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Confirms user registration as an admin without using a confirmation code. Works on any user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for which you want to confirm user registration.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name for which you want to confirm user registration.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientMetadata": {
          "target": "com.amazonaws.cognitoidentityprovider#ClientMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom key-value pairs that you can provide as input for any custom workflows that this action triggers.</p>\n        <p>If your user pool configuration includes triggers, the AdminConfirmSignUp API action\n            invokes the Lambda function that is specified for the <i>post\n                confirmation</i> trigger. When Amazon Cognito invokes this function, it passes a JSON\n            payload, which the function receives as input. In this payload, the\n                <code>clientMetadata</code> attribute provides the data that you assigned to the\n            ClientMetadata parameter in your AdminConfirmSignUp request. In your function code in\n            Lambda, you can process the ClientMetadata value to enhance your workflow for your\n            specific needs.</p>\n\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html\">\nCustomizing user pool Workflows with Lambda Triggers</a> in the <i>Amazon Cognito Developer Guide</i>.</p>\n\n         <note> \n            <p>When you use the ClientMetadata parameter, remember that Amazon Cognito won't do the following:</p> \n            <ul>\n               <li> \n                  <p>Store the ClientMetadata value. This data is available only to Lambda triggers that are assigned to a user pool to support custom workflows. If your user pool configuration \n                doesn't include triggers, the ClientMetadata parameter serves no purpose.</p> \n               </li>\n               <li> \n                  <p>Validate the ClientMetadata value.</p> \n               </li>\n               <li> \n                  <p>Encrypt the ClientMetadata value. Don't use Amazon Cognito to provide sensitive information.</p> \n               </li>\n            </ul>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to confirm user registration.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server for the request to confirm registration.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#CodeDeliveryFailureException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidLambdaResponseException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidPasswordException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidSmsRoleAccessPolicyException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidSmsRoleTrustRelationshipException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UnexpectedLambdaException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UnsupportedUserStateException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserLambdaValidationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameExistsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new user in the specified user pool.</p>\n        <p>If <code>MessageAction</code> isn't set, the default is to send a welcome message via email or phone (SMS).</p>\n    \n    \n\n         <note> \n            <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers\n                require you to register an origination phone number before you can send SMS messages\n                to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a\n                phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>.\n                Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must\n                receive SMS messages might not be able to sign up, activate their accounts, or sign\n                in.</p> \n            <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service,\n                Amazon Simple Notification Service might place your account in the SMS sandbox. In <i>\n                  <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox\n                        mode</a>\n               </i>, you can send messages only to verified phone\n                numbers. After you test your app while in the sandbox environment, you can move out\n                of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito\n                    Developer Guide</i>.</p>\n         </note>\n\n        <p>This message is based on a template that you configured in your call to create or update a user pool. This template includes your custom sign-up instructions and placeholders for \n            user name and temporary password.</p>\n        <p>Alternatively, you can call <code>AdminCreateUser</code> with <code>SUPPRESS</code> for the <code>MessageAction</code> parameter, and Amazon Cognito won't send any email. </p>\n        <p>In either case, the user will be in the <code>FORCE_CHANGE_PASSWORD</code> state until they sign in and change their password.</p>\n        <p>\n            <code>AdminCreateUser</code> requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUserConfigType": {
      "type": "structure",
      "members": {
        "AllowAdminCreateUserOnly": {
          "target": "com.amazonaws.cognitoidentityprovider#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>True</code> if only the administrator is allowed to create user profiles. Set to <code>False</code> if users can sign themselves up via an app.</p>"
          }
        },
        "UnusedAccountValidityDays": {
          "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUserUnusedAccountValidityDaysType",
          "traits": {
            "smithy.api#documentation": "<p>The user account expiration limit, in days, after which the account is no longer usable. To reset the account after that time limit, you must call <code>AdminCreateUser</code> again, \n            specifying <code>\"RESEND\"</code> for the <code>MessageAction</code> parameter. The default value for this parameter is 7. </p>\n         <note> \n            <p>If you set a value for <code>TemporaryPasswordValidityDays</code> in <code>PasswordPolicy</code>, that value will be used, and <code>UnusedAccountValidityDays</code> will be no longer \n        be an available parameter for that user pool.</p>\n         </note>"
          }
        },
        "InviteMessageTemplate": {
          "target": "com.amazonaws.cognitoidentityprovider#MessageTemplateType",
          "traits": {
            "smithy.api#documentation": "<p>The message template to be used for the welcome message to new users.</p>\n        <p>See also <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pool-settings-message-customizations.html#cognito-user-pool-settings-user-invitation-message-customization\">Customizing User Invitation Messages</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for creating a new user profile.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where the user will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The username for the user. Must be unique within the user pool. Must be a UTF-8 string between 1 and 128 characters. After the user is created, the username can't be changed.</p>",
            "smithy.api#required": {}
          }
        },
        "UserAttributes": {
          "target": "com.amazonaws.cognitoidentityprovider#AttributeListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of name-value pairs that contain user attributes and attribute values to be set for the user to be created. You can create a user without specifying any attributes \n            other than <code>Username</code>. However, any attributes that you specify as required (when creating a user pool or in the <b>Attributes</b> tab \n            of the console) either you should supply  (in your call to <code>AdminCreateUser</code>) or the user should supply (when they sign up in response to your welcome message).</p>\n        <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the attribute name.</p>\n        <p>To send a message inviting the user to sign up, you must specify the user's email address or phone number. You can do this in your call to AdminCreateUser or \n            in the <b>Users</b> tab of the Amazon Cognito console for managing your user pools.</p>\n        <p>In your call to <code>AdminCreateUser</code>, you can set the <code>email_verified</code> attribute to <code>True</code>, and you can set the <code>phone_number_verified</code> \n            attribute to <code>True</code>. You can also do this by calling \n            <a href=\"https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminUpdateUserAttributes.html\">AdminUpdateUserAttributes</a>.</p>\n    \n         <ul>\n            <li> \n               <p>\n                  <b>email</b>: The email address of the user to whom the message that contains the code and username will be sent. Required if the \n            <code>email_verified</code> attribute is set to <code>True</code>, or if <code>\"EMAIL\"</code> is specified in the <code>DesiredDeliveryMediums</code> parameter.</p> \n            </li>\n            <li> \n               <p>\n                  <b>phone_number</b>: The phone number of the user to whom the message that contains the code and username will be sent. Required if the \n            <code>phone_number_verified</code> attribute is set to <code>True</code>, or if <code>\"SMS\"</code> is specified in the <code>DesiredDeliveryMediums</code> parameter.</p> \n            </li>\n         </ul>"
          }
        },
        "ValidationData": {
          "target": "com.amazonaws.cognitoidentityprovider#AttributeListType",
          "traits": {
            "smithy.api#documentation": "<p>The user's validation data. This is an array of name-value pairs that contain user attributes and attribute values that you can use for custom validation, such as restricting the \n            types of user accounts that can be registered. For example, you might choose to allow or disallow user sign-up based on the user's domain.</p>\n        <p>To configure custom validation, you must create a Pre Sign-up Lambda trigger for the user pool as described in the Amazon Cognito Developer Guide. The Lambda trigger receives the validation \n            data and uses it in the validation process.</p>\n        <p>The user's validation data isn't persisted.</p>"
          }
        },
        "TemporaryPassword": {
          "target": "com.amazonaws.cognitoidentityprovider#PasswordType",
          "traits": {
            "smithy.api#documentation": "<p>The user's temporary password. This password must conform to the password policy that you specified when you created the user pool.</p>\n        <p>The temporary password is valid only once. To complete the Admin Create User flow, the user must enter the temporary password in the sign-in page, along with a new password to be used \n            in all future sign-ins.</p>\n        <p>This parameter isn't required. If you don't specify a value, Amazon Cognito generates one for you.</p>\n        <p>The temporary password can only be used until the user account expiration limit that you specified when you created the user pool. To reset the account after that time limit, you must \n            call <code>AdminCreateUser</code> again, specifying <code>\"RESEND\"</code> for the <code>MessageAction</code> parameter.</p>"
          }
        },
        "ForceAliasCreation": {
          "target": "com.amazonaws.cognitoidentityprovider#ForceAliasCreation",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is used only if the <code>phone_number_verified</code> or <code>email_verified</code> attribute is set to <code>True</code>. Otherwise, it is ignored.</p>\n        <p>If this parameter is set to <code>True</code> and the phone number or email address specified in the UserAttributes parameter already exists as an alias with a different user, the API \n            call will migrate the alias from the previous user to the newly created user. The previous user will no longer be able to log in using that alias.</p>\n        <p>If this parameter is set to <code>False</code>, the API throws an <code>AliasExistsException</code> error if the alias already exists. The default value is <code>False</code>.</p>"
          }
        },
        "MessageAction": {
          "target": "com.amazonaws.cognitoidentityprovider#MessageActionType",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>RESEND</code> to resend the invitation message to a user that already exists and reset the expiration limit on the user's account. Set to <code>SUPPRESS</code> to suppress \n            sending the message. You can specify only one value.</p>"
          }
        },
        "DesiredDeliveryMediums": {
          "target": "com.amazonaws.cognitoidentityprovider#DeliveryMediumListType",
          "traits": {
            "smithy.api#documentation": "<p>Specify <code>\"EMAIL\"</code> if email will be used to send the welcome message. Specify <code>\"SMS\"</code> if the phone number will be used. The default value is <code>\"SMS\"</code>. You \n            can specify more than one value.</p>"
          }
        },
        "ClientMetadata": {
          "target": "com.amazonaws.cognitoidentityprovider#ClientMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom key-value pairs that you can provide as input for any custom workflows that this action triggers.</p>\n        <p>You create custom workflows by assigning Lambda functions to user pool triggers. When you use the AdminCreateUser API action, \n            Amazon Cognito invokes the function that is assigned to the <i>pre sign-up</i> trigger. When Amazon Cognito invokes this function, \n            it passes a JSON payload, which the function receives as input. This payload contains a <code>clientMetadata</code> attribute, \n            which provides the data that you assigned to the ClientMetadata parameter in your AdminCreateUser request. In your function code \n            in Lambda, you can process the <code>clientMetadata</code> value to enhance your workflow for your specific needs.</p>\n\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html\">\nCustomizing user pool Workflows with Lambda Triggers</a> in the <i>Amazon Cognito Developer Guide</i>.</p>\n\n        <note> \n            <p>When you use the ClientMetadata parameter, remember that Amazon Cognito won't do the following:</p> \n            <ul>\n               <li> \n                  <p>Store the ClientMetadata value. This data is available only to Lambda triggers that are assigned to a user pool to support custom workflows. If your user pool \n                    configuration doesn't include triggers, the ClientMetadata parameter serves no purpose.</p> \n               </li>\n               <li> \n                  <p>Validate the ClientMetadata value.</p> \n               </li>\n               <li> \n                  <p>Encrypt the ClientMetadata value. Don't use Amazon Cognito to provide sensitive information.</p> \n               </li>\n            </ul>\n        </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to create a user in the specified user pool.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.cognitoidentityprovider#UserType",
          "traits": {
            "smithy.api#documentation": "<p>The newly created user.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server to the request to create the user.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUserUnusedAccountValidityDaysType": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 365
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUserRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user as an administrator. Works on any user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the user attributes in a user pool as an administrator. Works on any user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributesRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to delete user attributes.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user from which you would like to delete attributes.</p>",
            "smithy.api#required": {}
          }
        },
        "UserAttributeNames": {
          "target": "com.amazonaws.cognitoidentityprovider#AttributeNameListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings representing the user attribute names you want to delete.</p>\n        <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the attribute name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to delete user attributes as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the response received from the server for a request to delete user attributes.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDeleteUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to delete the user.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to delete a user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#AliasExistsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Prevents the user from signing in with the specified external (SAML or social)\n            identity provider. If the user that you want to  deactivate is a Amazon Cognito user pools native\n            username + password user, they can't use their password to sign in. If the user to\n            deactivate is a linked external identity provider (IdP) user, any link between that user\n            and an existing user is removed. When the external user signs in again, and the user is\n            no longer attached to the previously linked <code>DestinationUser</code>, the user must\n            create a new user account. See <a href=\"https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminLinkProviderForUser.html\">AdminLinkProviderForUser</a>.</p>\n        <p>This action is enabled only for admin access and requires developer credentials.</p>\n        <p>The <code>ProviderName</code> must match the value specified when creating an IdP for the pool. </p>\n        <p>To deactivate a native username + password user, the <code>ProviderName</code> value must be <code>Cognito</code> and the <code>ProviderAttributeName</code> must be <code>Cognito_Subject</code>. \n            The <code>ProviderAttributeValue</code> must be the name that is used in the user pool for the user.</p>\n        <p>The <code>ProviderAttributeName</code> must always be <code>Cognito_Subject</code> for social identity providers. The <code>ProviderAttributeValue</code> must always be the exact \n            subject that was used when the user was originally linked as a source user.</p>\n        <p>For de-linking a SAML identity, there are two scenarios. If the linked identity has not yet been used to sign in, the <code>ProviderAttributeName</code> and <code>ProviderAttributeValue</code> \n            must be the same values that were used for the <code>SourceUser</code> when the identities were originally linked using <code> AdminLinkProviderForUser</code> call. (If the linking was done \n            with <code>ProviderAttributeName</code> set to <code>Cognito_Subject</code>, the same applies here). However, if the user has already signed in, the <code>ProviderAttributeName</code> must \n            be <code>Cognito_Subject</code> and <code>ProviderAttributeValue</code> must be the subject of the SAML assertion.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#StringType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool.</p>",
            "smithy.api#required": {}
          }
        },
        "User": {
          "target": "com.amazonaws.cognitoidentityprovider#ProviderUserIdentifierType",
          "traits": {
            "smithy.api#documentation": "<p>The user to be disabled.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUserResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.cognitoidentityprovider#AdminDisableUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDisableUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDisableUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDisableUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to disable the user.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user you want to disable.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to disable the user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDisableUserResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the response received from the server to disable the user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminEnableUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminEnableUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminEnableUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the specified user as an administrator. Works on any user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminEnableUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to enable the user.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user you want to enable.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request that enables the user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminEnableUserResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server for the request to enable a user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminForgetDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminForgetDeviceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidUserPoolConfigurationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Forgets the device, as an administrator.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminForgetDeviceRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name.</p>",
            "smithy.api#required": {}
          }
        },
        "DeviceKey": {
          "target": "com.amazonaws.cognitoidentityprovider#DeviceKeyType",
          "traits": {
            "smithy.api#documentation": "<p>The device key.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Sends the forgot device request, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminGetDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminGetDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminGetDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidUserPoolConfigurationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the device, as an administrator.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminGetDeviceRequest": {
      "type": "structure",
      "members": {
        "DeviceKey": {
          "target": "com.amazonaws.cognitoidentityprovider#DeviceKeyType",
          "traits": {
            "smithy.api#documentation": "<p>The device key.</p>",
            "smithy.api#required": {}
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to get the device, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminGetDeviceResponse": {
      "type": "structure",
      "members": {
        "Device": {
          "target": "com.amazonaws.cognitoidentityprovider#DeviceType",
          "traits": {
            "smithy.api#documentation": "<p>The device.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Gets the device response, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminGetUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminGetUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminGetUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the specified user by user name in a user pool as an administrator. Works on any user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminGetUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to get information about the user.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user you want to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to get the specified user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminGetUserResponse": {
      "type": "structure",
      "members": {
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user about whom you're receiving information.</p>",
            "smithy.api#required": {}
          }
        },
        "UserAttributes": {
          "target": "com.amazonaws.cognitoidentityprovider#AttributeListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of name-value pairs representing user attributes.</p>"
          }
        },
        "UserCreateDate": {
          "target": "com.amazonaws.cognitoidentityprovider#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The date the user was created.</p>"
          }
        },
        "UserLastModifiedDate": {
          "target": "com.amazonaws.cognitoidentityprovider#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The date the user was last modified.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.cognitoidentityprovider#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the status is <code>enabled</code>.</p>"
          }
        },
        "UserStatus": {
          "target": "com.amazonaws.cognitoidentityprovider#UserStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The user status. Can be one of the following:</p>\n         <ul>\n            <li> \n               <p>UNCONFIRMED - User has been created but not confirmed.</p> \n            </li>\n            <li> \n               <p>CONFIRMED - User has been confirmed.</p> \n            </li>\n            <li> \n               <p>ARCHIVED - User is no longer active.</p> \n            </li>\n            <li> \n               <p>UNKNOWN - User status isn't known.</p> \n            </li>\n            <li> \n               <p>RESET_REQUIRED - User is confirmed, but the user must request a code and reset their password before they can sign in.</p> \n            </li>\n            <li> \n               <p>FORCE_CHANGE_PASSWORD - The user is confirmed and the user can sign in using a temporary password, but on first sign-in, the user must change their password to a new value \n            before doing anything else. </p> \n            </li>\n         </ul>"
          }
        },
        "MFAOptions": {
          "target": "com.amazonaws.cognitoidentityprovider#MFAOptionListType",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>This response parameter is no longer supported.</i> It provides information only about SMS MFA configurations. It doesn't provide information about time-based one-time \n            password (TOTP) software token MFA configurations. To look up information about either type of MFA configuration, use UserMFASettingList instead.</p>"
          }
        },
        "PreferredMfaSetting": {
          "target": "com.amazonaws.cognitoidentityprovider#StringType",
          "traits": {
            "smithy.api#documentation": "<p>The user's preferred MFA setting.</p>"
          }
        },
        "UserMFASettingList": {
          "target": "com.amazonaws.cognitoidentityprovider#UserMFASettingListType",
          "traits": {
            "smithy.api#documentation": "<p>The MFA options that are activated for the user. The possible values in this list are <code>SMS_MFA</code> and <code>SOFTWARE_TOKEN_MFA</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server from the request to get the specified user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminInitiateAuth": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminInitiateAuthRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminInitiateAuthResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidLambdaResponseException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidSmsRoleAccessPolicyException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidSmsRoleTrustRelationshipException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidUserPoolConfigurationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#MFAMethodNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#PasswordResetRequiredException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UnexpectedLambdaException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserLambdaValidationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotConfirmedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Initiates the authentication flow, as an administrator.</p>\n\n\n         <note> \n            <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers\n                require you to register an origination phone number before you can send SMS messages\n                to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a\n                phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>.\n                Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must\n                receive SMS messages might not be able to sign up, activate their accounts, or sign\n                in.</p> \n            <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service,\n                Amazon Simple Notification Service might place your account in the SMS sandbox. In <i>\n                  <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox\n                        mode</a>\n               </i>, you can send messages only to verified phone\n                numbers. After you test your app while in the sandbox environment, you can move out\n                of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito\n                    Developer Guide</i>.</p>\n         </note>\n\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminInitiateAuthRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Cognito user pool.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientId": {
          "target": "com.amazonaws.cognitoidentityprovider#ClientIdType",
          "traits": {
            "smithy.api#documentation": "<p>The app client ID.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthFlow": {
          "target": "com.amazonaws.cognitoidentityprovider#AuthFlowType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication flow for this call to run. The API action will depend on this value. For example:</p>\n    \n         <ul>\n            <li> \n               <p>\n                  <code>REFRESH_TOKEN_AUTH</code> will take in a valid refresh token and return new tokens.</p> \n            </li>\n            <li> \n               <p>\n                  <code>USER_SRP_AUTH</code> will take in <code>USERNAME</code> and <code>SRP_A</code> and return the Secure Remote Password (SRP) protocol variables to be used for next \n            challenge execution.</p> \n            </li>\n            <li> \n               <p>\n                  <code>ADMIN_USER_PASSWORD_AUTH</code> will take in <code>USERNAME</code> and <code>PASSWORD</code> and return the next challenge or tokens.</p> \n            </li>\n         </ul>\n        <p>Valid values include:</p>\n         <ul>\n            <li> \n               <p>\n                  <code>USER_SRP_AUTH</code>: Authentication flow for the Secure Remote Password (SRP) protocol.</p> \n            </li>\n            <li> \n               <p>\n                  <code>REFRESH_TOKEN_AUTH</code>/<code>REFRESH_TOKEN</code>: Authentication flow for refreshing the access token and ID token by supplying a valid refresh token.</p> \n            </li>\n            <li> \n               <p>\n                  <code>CUSTOM_AUTH</code>: Custom authentication flow.</p> \n            </li>\n            <li> \n               <p>\n                  <code>ADMIN_NO_SRP_AUTH</code>: Non-SRP authentication flow; you can pass in the USERNAME and PASSWORD directly if the flow is enabled for calling the app client.</p> \n            </li>\n            <li> \n               <p>\n                  <code>ADMIN_USER_PASSWORD_AUTH</code>: Admin-based user password authentication. This replaces the <code>ADMIN_NO_SRP_AUTH</code> authentication flow. In this flow, Amazon Cognito \n            receives the password in the request instead of using the SRP process to verify passwords.</p> \n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "AuthParameters": {
          "target": "com.amazonaws.cognitoidentityprovider#AuthParametersType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication parameters. These are inputs corresponding to the <code>AuthFlow</code> that you're invoking. The required values depend on the value of <code>AuthFlow</code>:</p>\n    \n         <ul>\n            <li> \n               <p>For <code>USER_SRP_AUTH</code>: <code>USERNAME</code> (required), <code>SRP_A</code> (required), <code>SECRET_HASH</code> (required if the app client is configured with a client \n            secret), <code>DEVICE_KEY</code>.</p> \n            </li>\n            <li> \n               <p>For <code>REFRESH_TOKEN_AUTH/REFRESH_TOKEN</code>: <code>REFRESH_TOKEN</code> (required), <code>SECRET_HASH</code> (required if the app client is configured with a client secret), \n            <code>DEVICE_KEY</code>.</p> \n            </li>\n            <li> \n               <p>For <code>ADMIN_NO_SRP_AUTH</code>: <code>USERNAME</code> (required), <code>SECRET_HASH</code> (if app client is configured with client secret), <code>PASSWORD</code> (required), \n            <code>DEVICE_KEY</code>.</p> \n            </li>\n            <li> \n               <p>For <code>CUSTOM_AUTH</code>: <code>USERNAME</code> (required), <code>SECRET_HASH</code> (if app client is configured with client secret), <code>DEVICE_KEY</code>. To start the \n            authentication flow with password verification, include <code>ChallengeName: SRP_A</code> and <code>SRP_A: (The SRP_A Value)</code>.</p> \n            </li>\n         </ul>"
          }
        },
        "ClientMetadata": {
          "target": "com.amazonaws.cognitoidentityprovider#ClientMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom key-value pairs that you can provide as input for certain custom workflows that this action triggers.</p>\n        <p>You create custom workflows by assigning Lambda functions to user pool triggers. When you use the AdminInitiateAuth API action, Amazon Cognito invokes the Lambda functions that are specified for \n            various triggers. The ClientMetadata value is passed as input to the functions for only the following triggers:</p>\n         <ul>\n            <li> \n               <p>Pre signup</p> \n            </li>\n            <li> \n               <p>Pre authentication</p> \n            </li>\n            <li> \n               <p>User migration</p> \n            </li>\n         </ul>\n        <p>When Amazon Cognito invokes the functions for these triggers, it passes a JSON payload, which\n            the function receives as input. This payload contains a <code>validationData</code>\n            attribute, which provides the data that you assigned to the ClientMetadata parameter in\n            your AdminInitiateAuth request. In your function code in Lambda, you can process the\n                <code>validationData</code> value to enhance your workflow for your specific\n            needs.</p>\n        <p>When you use the AdminInitiateAuth API action, Amazon Cognito also invokes the functions for the following triggers, but it doesn't provide the ClientMetadata value as input:</p>\n         <ul>\n            <li> \n               <p>Post authentication</p> \n            </li>\n            <li> \n               <p>Custom message</p> \n            </li>\n            <li> \n               <p>Pre token generation</p> \n            </li>\n            <li> \n               <p>Create auth challenge</p> \n            </li>\n            <li> \n               <p>Define auth challenge</p> \n            </li>\n            <li> \n               <p>Verify auth challenge</p> \n            </li>\n         </ul>\n\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html\">\nCustomizing user pool Workflows with Lambda Triggers</a> in the <i>Amazon Cognito Developer Guide</i>.</p>\n\n        <note> \n            <p>When you use the ClientMetadata parameter, remember that Amazon Cognito won't do the following:</p> \n            <ul>\n               <li> \n                  <p>Store the ClientMetadata value. This data is available only to Lambda triggers that are assigned to a user pool to support custom workflows. If your user pool configuration \n                    doesn't include triggers, the ClientMetadata parameter serves no purpose.</p> \n               </li>\n               <li> \n                  <p>Validate the ClientMetadata value.</p> \n               </li>\n               <li> \n                  <p>Encrypt the ClientMetadata value. Don't use Amazon Cognito to provide sensitive information.</p> \n               </li>\n            </ul>\n        </note>"
          }
        },
        "AnalyticsMetadata": {
          "target": "com.amazonaws.cognitoidentityprovider#AnalyticsMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>The analytics metadata for collecting Amazon Pinpoint metrics for <code>AdminInitiateAuth</code> calls.</p>"
          }
        },
        "ContextData": {
          "target": "com.amazonaws.cognitoidentityprovider#ContextDataType",
          "traits": {
            "smithy.api#documentation": "<p>Contextual data such as the user's device fingerprint, IP address, or location used for evaluating the risk of an unexpected event by Amazon Cognito advanced security.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Initiates the authorization request, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminInitiateAuthResponse": {
      "type": "structure",
      "members": {
        "ChallengeName": {
          "target": "com.amazonaws.cognitoidentityprovider#ChallengeNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the challenge that you're responding to with this call. This is returned in the <code>AdminInitiateAuth</code> response if you must pass another challenge.</p>\n    \n         <ul>\n            <li> \n               <p>\n                  <code>MFA_SETUP</code>: If MFA is required, users who don't have at least one of the MFA methods set up are presented with an <code>MFA_SETUP</code> challenge. The user must set up at \n            least one MFA type to continue to authenticate.</p> \n            </li>\n            <li> \n               <p>\n                  <code>SELECT_MFA_TYPE</code>: Selects the MFA type. Valid MFA options are <code>SMS_MFA</code> for text SMS MFA, and <code>SOFTWARE_TOKEN_MFA</code> for time-based one-time password (TOTP) \n            software token MFA.</p> \n            </li>\n            <li> \n               <p>\n                  <code>SMS_MFA</code>: Next challenge is to supply an <code>SMS_MFA_CODE</code>, delivered via SMS.</p> \n            </li>\n            <li> \n               <p>\n                  <code>PASSWORD_VERIFIER</code>: Next challenge is to supply <code>PASSWORD_CLAIM_SIGNATURE</code>, <code>PASSWORD_CLAIM_SECRET_BLOCK</code>, and <code>TIMESTAMP</code> after the \n            client-side SRP calculations.</p> \n            </li>\n            <li> \n               <p>\n                  <code>CUSTOM_CHALLENGE</code>: This is returned if your custom authentication flow determines that the user should pass another challenge before tokens are issued.</p> \n            </li>\n            <li> \n               <p>\n                  <code>DEVICE_SRP_AUTH</code>: If device tracking was activated in your user pool and the previous challenges were passed, this challenge is returned so that Amazon Cognito can start tracking \n            this device.</p> \n            </li>\n            <li> \n               <p>\n                  <code>DEVICE_PASSWORD_VERIFIER</code>: Similar to <code>PASSWORD_VERIFIER</code>, but for devices only.</p> \n            </li>\n            <li> \n               <p>\n                  <code>ADMIN_NO_SRP_AUTH</code>: This is returned if you must authenticate with <code>USERNAME</code> and <code>PASSWORD</code> directly. An app client must be enabled to use this flow.</p> \n            </li>\n            <li> \n               <p>\n                  <code>NEW_PASSWORD_REQUIRED</code>: For users who are required to change their passwords after successful first login. This challenge should be passed with <code>NEW_PASSWORD</code> \n            and any other required attributes.</p> \n            </li>\n            <li> \n               <p>\n                  <code>MFA_SETUP</code>: For users who are required to set up an MFA factor before they can sign in. The MFA types activated for the user pool will be listed in the challenge \n            parameters <code>MFA_CAN_SETUP</code> value. </p> \n                   <p> To set up software token MFA, use the session returned here from <code>InitiateAuth</code> as an input to <code>AssociateSoftwareToken</code>, and use the session returned by \n                       <code>VerifySoftwareToken</code> as an input to <code>RespondToAuthChallenge</code> with challenge name <code>MFA_SETUP</code> to complete sign-in. To set up SMS MFA, users will \n                       need help from an administrator to add a phone number to their account and then call <code>InitiateAuth</code> again to restart sign-in.</p> \n            </li>\n         </ul>"
          }
        },
        "Session": {
          "target": "com.amazonaws.cognitoidentityprovider#SessionType",
          "traits": {
            "smithy.api#documentation": "<p>The session that should be passed both ways in challenge-response calls to the service. If <code>AdminInitiateAuth</code> or <code>AdminRespondToAuthChallenge</code> API call determines \n            that the caller must pass another challenge, they return a session with other challenge parameters. This session should be passed as it is to the next <code>AdminRespondToAuthChallenge</code> \n            API call.</p>"
          }
        },
        "ChallengeParameters": {
          "target": "com.amazonaws.cognitoidentityprovider#ChallengeParametersType",
          "traits": {
            "smithy.api#documentation": "<p>The challenge parameters. These are returned to you in the <code>AdminInitiateAuth</code> response if you must pass another challenge. The responses in this parameter should be used to \n            compute inputs to the next call (<code>AdminRespondToAuthChallenge</code>).</p>\n        <p>All challenges require <code>USERNAME</code> and <code>SECRET_HASH</code> (if applicable).</p>\n        <p>The value of the <code>USER_ID_FOR_SRP</code> attribute is the user's actual username, not an alias (such as email address or phone number), even if you specified an alias in your call \n            to <code>AdminInitiateAuth</code>. This happens because, in the <code>AdminRespondToAuthChallenge</code> API <code>ChallengeResponses</code>, the <code>USERNAME</code> attribute can't be \n            an alias.</p>"
          }
        },
        "AuthenticationResult": {
          "target": "com.amazonaws.cognitoidentityprovider#AuthenticationResultType",
          "traits": {
            "smithy.api#documentation": "<p>The result of the authentication response. This is only returned if the caller doesn't need to pass another challenge. If the caller does need to pass another challenge before it gets tokens, \n            <code>ChallengeName</code>, <code>ChallengeParameters</code>, and <code>Session</code> are returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Initiates the authentication response, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminLinkProviderForUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminLinkProviderForUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminLinkProviderForUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#AliasExistsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Links an existing user account in a user pool (<code>DestinationUser</code>) to an identity from an external identity provider (<code>SourceUser</code>) based on a specified \n            attribute name and value from the external identity provider. This allows you to create a link from the existing user account to an external federated user identity that has not \n            yet been used to sign in. You can then use the federated user identity to sign in as the existing user account. </p>\n        <p> For example, if there is an existing user with a username and password, this API links that user to a federated user identity.  When the user signs in with a federated user \n            identity, they sign in as the existing user account.</p>\n         <note> \n            <p>The maximum number of federated identities linked to a user is 5.</p>\n         </note>\n         <important> \n            <p>Because this API allows a user with an external federated identity to sign in as an existing user in the user pool, it is critical that it only be used with external \n        identity providers and provider attributes that have been trusted by the application owner.</p>\n         </important>\n    \n        <p>This action is administrative and requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminLinkProviderForUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#StringType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationUser": {
          "target": "com.amazonaws.cognitoidentityprovider#ProviderUserIdentifierType",
          "traits": {
            "smithy.api#documentation": "<p>The existing user in the user pool that you want to assign to the external identity\n            provider user account. This user can be a native (Username + Password) Amazon Cognito user pools\n            user or a federated user (for example, a SAML or Facebook user). If the user doesn't\n            exist, Amazon Cognito generates an exception. Amazon Cognito returns this user when the new user (with the\n            linked identity provider attribute) signs in.</p>\n        <p>For a native username + password user, the <code>ProviderAttributeValue</code> for the <code>DestinationUser</code> should be the username in the user pool. For a federated user, \n            it should be the provider-specific <code>user_id</code>.</p>\n        <p>The <code>ProviderAttributeName</code> of the <code>DestinationUser</code> is ignored.</p>\n        <p>The <code>ProviderName</code> should be set to <code>Cognito</code> for users in Cognito user pools.</p>\n         <important> \n            <p>All attributes in the DestinationUser profile must be mutable. If you have assigned the user any immutable custom attributes, the operation won't succeed.</p>\n         </important>",
            "smithy.api#required": {}
          }
        },
        "SourceUser": {
          "target": "com.amazonaws.cognitoidentityprovider#ProviderUserIdentifierType",
          "traits": {
            "smithy.api#documentation": "<p>An external identity provider account for a user who doesn't exist yet in the user pool. This user must be a federated user (for example, a SAML or Facebook user), not another native user.</p>\n        <p>If the <code>SourceUser</code> is using a federated social identity provider, such as Facebook, Google, or Login with Amazon, you must set the <code>ProviderAttributeName</code> \n            to <code>Cognito_Subject</code>. For social identity providers, the <code>ProviderName</code> will be <code>Facebook</code>, <code>Google</code>, or <code>LoginWithAmazon</code>, \n            and Amazon Cognito will automatically parse the Facebook, Google, and Login with Amazon tokens for <code>id</code>, <code>sub</code>, and <code>user_id</code>, respectively. The \n            <code>ProviderAttributeValue</code> for the user must be the same value as the <code>id</code>, <code>sub</code>, or <code>user_id</code> value found in the social identity provider token.</p>\n         <p></p>\n        <p>For SAML, the <code>ProviderAttributeName</code> can be any value that matches a claim in the SAML assertion. If you want to link SAML users based on the subject of the SAML \n            assertion, you should map the subject to a claim through the SAML identity provider and submit that claim name as the <code>ProviderAttributeName</code>. If you set \n            <code>ProviderAttributeName</code> to <code>Cognito_Subject</code>, Amazon Cognito will automatically parse the default unique identifier found in the subject from the SAML token.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminLinkProviderForUserResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.cognitoidentityprovider#AdminListDevices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminListDevicesRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminListDevicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidUserPoolConfigurationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists devices, as an administrator.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminListDevicesRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name.</p>",
            "smithy.api#required": {}
          }
        },
        "Limit": {
          "target": "com.amazonaws.cognitoidentityprovider#QueryLimitType",
          "traits": {
            "smithy.api#documentation": "<p>The limit of the devices request.</p>"
          }
        },
        "PaginationToken": {
          "target": "com.amazonaws.cognitoidentityprovider#SearchPaginationTokenType",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to list devices, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminListDevicesResponse": {
      "type": "structure",
      "members": {
        "Devices": {
          "target": "com.amazonaws.cognitoidentityprovider#DeviceListType",
          "traits": {
            "smithy.api#documentation": "<p>The devices in the list of devices response.</p>"
          }
        },
        "PaginationToken": {
          "target": "com.amazonaws.cognitoidentityprovider#SearchPaginationTokenType",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists the device's response, as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminListGroupsForUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminListGroupsForUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminListGroupsForUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the groups that the user belongs to.</p>\n        <p>Calling this action requires developer credentials.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Groups",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminListGroupsForUserRequest": {
      "type": "structure",
      "members": {
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The username for the user.</p>",
            "smithy.api#required": {}
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool.</p>",
            "smithy.api#required": {}
          }
        },
        "Limit": {
          "target": "com.amazonaws.cognitoidentityprovider#QueryLimitType",
          "traits": {
            "smithy.api#documentation": "<p>The limit of the request to list groups.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cognitoidentityprovider#PaginationKey",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list.</p>"
          }
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminListGroupsForUserResponse": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazonaws.cognitoidentityprovider#GroupListType",
          "traits": {
            "smithy.api#documentation": "<p>The groups that the user belongs to.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cognitoidentityprovider#PaginationKey",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list.</p>"
          }
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminListUserAuthEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminListUserAuthEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminListUserAuthEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolAddOnNotEnabledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A history of user activity and any risks detected as part of Amazon Cognito advanced security.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AuthEvents",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminListUserAuthEventsRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
[...]
