{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cognitoidentityprovider#AWSAccountIdType": {
      "type": "string"
    },
    "com.amazonaws.cognitoidentityprovider#AWSCognitoIdentityProviderService": {
      "type": "service",
      "version": "2016-04-18",
      "operations": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#AddCustomAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUp"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminDisableUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminEnableUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminForgetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminGetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminGetUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminInitiateAuth"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminLinkProviderForUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminListDevices"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminListGroupsForUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminListUserAuthEvents"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminRemoveUserFromGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminResetUserPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminRespondToAuthChallenge"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminSetUserMFAPreference"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminSetUserPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminSetUserSettings"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUpdateAuthEventFeedback"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUpdateDeviceStatus"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUpdateUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AdminUserGlobalSignOut"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#AssociateSoftwareToken"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ChangePassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ConfirmDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ConfirmForgotPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ConfirmSignUp"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#CreateUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DeleteUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeRiskConfiguration"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#DescribeUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ForgetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ForgotPassword"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetCSVHeader"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetDevice"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetIdentityProviderByIdentifier"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetSigningCertificate"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUICustomization"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUser"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUserAttributeVerificationCode"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GetUserPoolMfaConfig"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#GlobalSignOut"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InitiateAuth"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListDevices"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListGroups"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListIdentityProviders"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListResourceServers"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUserImportJobs"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUserPoolClients"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUserPools"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUsers"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ListUsersInGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResendConfirmationCode"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#RespondToAuthChallenge"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#RevokeToken"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetRiskConfiguration"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUICustomization"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUserMFAPreference"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUserPoolMfaConfig"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SetUserSettings"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#SignUp"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#StartUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#StopUserImportJob"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TagResource"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UntagResource"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateAuthEventFeedback"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateDeviceStatus"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateGroup"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateIdentityProvider"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateResourceServer"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserAttributes"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserPool"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserPoolClient"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UpdateUserPoolDomain"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#VerifySoftwareToken"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#VerifyUserAttribute"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Cognito Identity Provider",
          "arnNamespace": "cognito-idp",
          "cloudFormationName": "Cognito",
          "cloudTrailEventSource": "cognitoidentityprovider.amazonaws.com",
          "endpointPrefix": "cognito-idp"
        },
        "aws.auth#sigv4": {
          "name": "cognito-idp"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Using the Amazon Cognito user pools API, you can create a user pool to manage directories and\n            users. You can authenticate a user to obtain tokens related to user identity and access\n            policies.</p>\n        <p>This API reference provides information about user pools in Amazon Cognito user pools.</p>\n        <p>For more information, see the <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/what-is-amazon-cognito.html\">Amazon Cognito\n                Documentation</a>.</p>",
        "smithy.api#title": "Amazon Cognito Identity Provider",
        "smithy.api#xmlNamespace": {
          "uri": "http://cognito-idp.amazonaws.com/doc/2016-04-18/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cognito-idp-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cognito-idp-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cognito-idp.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://cognito-idp.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-idp.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccessTokenValidityType": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 86400
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountRecoverySettingType": {
      "type": "structure",
      "members": {
        "RecoveryMechanisms": {
          "target": "com.amazonaws.cognitoidentityprovider#RecoveryMechanismsType",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>RecoveryOptionTypes</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data type for <code>AccountRecoverySetting</code>.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionNotifyType": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType": {
      "type": "structure",
      "members": {
        "Notify": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionNotifyType",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Flag specifying whether to send a notification.</p>",
            "smithy.api#required": {}
          }
        },
        "EventAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverEventActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action to take in response to the account takeover action. Valid values are as\n            follows:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>BLOCK</code> Choosing this action will block the request.</p>\n            </li>\n            <li>\n                <p>\n                  <code>MFA_IF_CONFIGURED</code> Present an MFA challenge if user has configured\n                    it, else allow the request.</p>\n            </li>\n            <li>\n                <p>\n                  <code>MFA_REQUIRED</code> Present an MFA challenge if user has configured it,\n                    else block the request.</p>\n            </li>\n            <li>\n                <p>\n                  <code>NO_ACTION</code> Allow the user to sign in.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Account takeover action type.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionsType": {
      "type": "structure",
      "members": {
        "LowAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>Action to take for a low risk.</p>"
          }
        },
        "MediumAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>Action to take for a medium risk.</p>"
          }
        },
        "HighAction": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionType",
          "traits": {
            "smithy.api#documentation": "<p>Action to take for a high risk.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Account takeover actions type.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverEventActionType": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "MFA_IF_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MFA_IF_CONFIGURED"
          }
        },
        "MFA_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MFA_REQUIRED"
          }
        },
        "NO_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_ACTION"
          }
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AccountTakeoverRiskConfigurationType": {
      "type": "structure",
      "members": {
        "NotifyConfiguration": {
          "target": "com.amazonaws.cognitoidentityprovider#NotifyConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>The notify configuration used to construct email notifications.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.cognitoidentityprovider#AccountTakeoverActionsType",
          "traits": {
            "smithy.api#documentation": "<p>Account takeover risk configuration actions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for mitigation actions and notification for different levels of risk\n            detected for a potential account takeover.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AddCustomAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AddCustomAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AddCustomAttributesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserImportInProgressException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds additional user attributes to the user pool schema.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AddCustomAttributesRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to add custom attributes.</p>",
            "smithy.api#required": {}
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.cognitoidentityprovider#CustomAttributesListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of custom attributes, such as Mutable and Name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to add custom attributes.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AddCustomAttributesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server for the request to add custom\n            attributes.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified user to the specified group.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminAddUserToGroupRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The username for the user.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupName": {
          "target": "com.amazonaws.cognitoidentityprovider#GroupNameType",
          "traits": {
            "smithy.api#documentation": "<p>The group name.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidLambdaResponseException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyFailedAttemptsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UnexpectedLambdaException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserLambdaValidationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Confirms user registration as an admin without using a confirmation code. Works on any\n            user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for which you want to confirm user registration.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name for which you want to confirm user registration.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientMetadata": {
          "target": "com.amazonaws.cognitoidentityprovider#ClientMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom key-value pairs that you can provide as input for any custom workflows\n            that this action triggers.</p>\n        <p>If your user pool configuration includes triggers, the AdminConfirmSignUp API action\n            invokes the Lambda function that is specified for the <i>post\n                confirmation</i> trigger. When Amazon Cognito invokes this function, it passes a JSON\n            payload, which the function receives as input. In this payload, the\n                <code>clientMetadata</code> attribute provides the data that you assigned to the\n            ClientMetadata parameter in your AdminConfirmSignUp request. In your function code in\n            Lambda, you can process the ClientMetadata value to enhance your workflow for your\n            specific needs.</p>\n        \n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html\">\nCustomizing user pool Workflows with Lambda Triggers</a> in the <i>Amazon Cognito Developer Guide</i>.</p>\n\n        <note>\n            <p>When you use the ClientMetadata parameter, remember that Amazon Cognito won't do the\n                following:</p>\n            <ul>\n               <li>\n                    <p>Store the ClientMetadata value. This data is available only to Lambda\n                        triggers that are assigned to a user pool to support custom workflows. If\n                        your user pool configuration doesn't include triggers, the ClientMetadata\n                        parameter serves no purpose.</p>\n                </li>\n               <li>\n                    <p>Validate the ClientMetadata value.</p>\n                </li>\n               <li>\n                    <p>Encrypt the ClientMetadata value. Don't use Amazon Cognito to provide sensitive\n                        information.</p>\n                </li>\n            </ul>\n        </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to confirm user registration.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminConfirmSignUpResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server for the request to confirm\n            registration.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#CodeDeliveryFailureException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidLambdaResponseException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidPasswordException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidSmsRoleAccessPolicyException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidSmsRoleTrustRelationshipException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UnexpectedLambdaException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UnsupportedUserStateException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserLambdaValidationException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameExistsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new user in the specified user pool.</p>\n        <p>If <code>MessageAction</code> isn't set, the default is to send a welcome message via\n            email or phone (SMS).</p>\n        \n         <note> \n            <p>This action might generate an SMS text message. Starting June 1, 2021, US telecom carriers\n                require you to register an origination phone number before you can send SMS messages\n                to US phone numbers. If you use SMS text messages in Amazon Cognito, you must register a\n                phone number with <a href=\"https://console.aws.amazon.com/pinpoint/home/\">Amazon Pinpoint</a>.\n                Amazon Cognito uses the registered number automatically. Otherwise, Amazon Cognito users who must\n                receive SMS messages might not be able to sign up, activate their accounts, or sign\n                in.</p> \n            <p>If you have never used SMS text messages with Amazon Cognito or any other Amazon Web Service,\n                Amazon Simple Notification Service might place your account in the SMS sandbox. In <i>\n                  <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">sandbox\n                        mode</a>\n               </i>, you can send messages only to verified phone\n                numbers. After you test your app while in the sandbox environment, you can move out\n                of the sandbox and into production. For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-sms-userpool-settings.html\"> SMS message settings for Amazon Cognito user pools</a> in the <i>Amazon Cognito\n                    Developer Guide</i>.</p>\n         </note>\n\n        <p>This message is based on a template that you configured in your call to create or\n            update a user pool. This template includes your custom sign-up instructions and\n            placeholders for user name and temporary password.</p>\n        <p>Alternatively, you can call <code>AdminCreateUser</code> with <code>SUPPRESS</code>\n            for the <code>MessageAction</code> parameter, and Amazon Cognito won't send any email. </p>\n        <p>In either case, the user will be in the <code>FORCE_CHANGE_PASSWORD</code> state until\n            they sign in and change their password.</p>\n        <p>\n            <code>AdminCreateUser</code> requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUserConfigType": {
      "type": "structure",
      "members": {
        "AllowAdminCreateUserOnly": {
          "target": "com.amazonaws.cognitoidentityprovider#BooleanType",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Set to <code>True</code> if only the administrator is allowed to create user profiles.\n            Set to <code>False</code> if users can sign themselves up via an app.</p>"
          }
        },
        "UnusedAccountValidityDays": {
          "target": "com.amazonaws.cognitoidentityprovider#AdminCreateUserUnusedAccountValidityDaysType",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The user account expiration limit, in days, after which a new account that hasn't\n            signed in is no longer usable. To reset the account after that time limit, you must call\n                <code>AdminCreateUser</code> again, specifying <code>\"RESEND\"</code> for the\n                <code>MessageAction</code> parameter. The default value for this parameter is 7. </p>\n        <note>\n            <p>If you set a value for <code>TemporaryPasswordValidityDays</code> in\n                    <code>PasswordPolicy</code>, that value will be used, and\n                    <code>UnusedAccountValidityDays</code> will be no longer be an available\n                parameter for that user pool.</p>\n        </note>"
          }
        },
        "InviteMessageTemplate": {
          "target": "com.amazonaws.cognitoidentityprovider#MessageTemplateType",
          "traits": {
            "smithy.api#documentation": "<p>The message template to be used for the welcome message to new users.</p>\n        <p>See also <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pool-settings-message-customizations.html#cognito-user-pool-settings-user-invitation-message-customization\">Customizing User Invitation Messages</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for creating a new user profile.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where the user will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The username for the user. Must be unique within the user pool. Must be a UTF-8 string\n            between 1 and 128 characters. After the user is created, the username can't be\n            changed.</p>",
            "smithy.api#required": {}
          }
        },
        "UserAttributes": {
          "target": "com.amazonaws.cognitoidentityprovider#AttributeListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of name-value pairs that contain user attributes and attribute values to be\n            set for the user to be created. You can create a user without specifying any attributes\n            other than <code>Username</code>. However, any attributes that you specify as required\n            (when creating a user pool or in the <b>Attributes</b> tab of\n            the console) either you should supply (in your call to <code>AdminCreateUser</code>) or\n            the user should supply (when they sign up in response to your welcome message).</p>\n        <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the\n            attribute name.</p>\n        <p>To send a message inviting the user to sign up, you must specify the user's email\n            address or phone number. You can do this in your call to AdminCreateUser or in the\n                <b>Users</b> tab of the Amazon Cognito console for managing your\n            user pools.</p>\n        <p>In your call to <code>AdminCreateUser</code>, you can set the\n                <code>email_verified</code> attribute to <code>True</code>, and you can set the\n                <code>phone_number_verified</code> attribute to <code>True</code>. You can also do\n            this by calling <a href=\"https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminUpdateUserAttributes.html\">AdminUpdateUserAttributes</a>.</p>\n        <ul>\n            <li>\n                <p>\n                  <b>email</b>: The email address of the user to whom\n                    the message that contains the code and username will be sent. Required if the\n                        <code>email_verified</code> attribute is set to <code>True</code>, or if\n                        <code>\"EMAIL\"</code> is specified in the <code>DesiredDeliveryMediums</code>\n                    parameter.</p>\n            </li>\n            <li>\n                <p>\n                  <b>phone_number</b>: The phone number of the user to\n                    whom the message that contains the code and username will be sent. Required if\n                    the <code>phone_number_verified</code> attribute is set to <code>True</code>, or\n                    if <code>\"SMS\"</code> is specified in the <code>DesiredDeliveryMediums</code>\n                    parameter.</p>\n            </li>\n         </ul>"
          }
        },
        "ValidationData": {
          "target": "com.amazonaws.cognitoidentityprovider#AttributeListType",
          "traits": {
            "smithy.api#documentation": "<p>The user's validation data. This is an array of name-value pairs that contain user\n            attributes and attribute values that you can use for custom validation, such as\n            restricting the types of user accounts that can be registered. For example, you might\n            choose to allow or disallow user sign-up based on the user's domain.</p>\n        <p>To configure custom validation, you must create a Pre Sign-up Lambda trigger for\n            the user pool as described in the Amazon Cognito Developer Guide. The Lambda trigger receives the\n            validation data and uses it in the validation process.</p>\n        <p>The user's validation data isn't persisted.</p>"
          }
        },
        "TemporaryPassword": {
          "target": "com.amazonaws.cognitoidentityprovider#PasswordType",
          "traits": {
            "smithy.api#documentation": "<p>The user's temporary password. This password must conform to the password policy that\n            you specified when you created the user pool.</p>\n        <p>The temporary password is valid only once. To complete the Admin Create User flow, the\n            user must enter the temporary password in the sign-in page, along with a new password to\n            be used in all future sign-ins.</p>\n        <p>This parameter isn't required. If you don't specify a value, Amazon Cognito generates one for\n            you.</p>\n        <p>The temporary password can only be used until the user account expiration limit that\n            you specified when you created the user pool. To reset the account after that time\n            limit, you must call <code>AdminCreateUser</code> again, specifying\n                <code>\"RESEND\"</code> for the <code>MessageAction</code> parameter.</p>"
          }
        },
        "ForceAliasCreation": {
          "target": "com.amazonaws.cognitoidentityprovider#ForceAliasCreation",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>This parameter is used only if the <code>phone_number_verified</code> or\n                <code>email_verified</code> attribute is set to <code>True</code>. Otherwise, it is\n            ignored.</p>\n        <p>If this parameter is set to <code>True</code> and the phone number or email address\n            specified in the UserAttributes parameter already exists as an alias with a different\n            user, the API call will migrate the alias from the previous user to the newly created\n            user. The previous user will no longer be able to log in using that alias.</p>\n        <p>If this parameter is set to <code>False</code>, the API throws an\n                <code>AliasExistsException</code> error if the alias already exists. The default\n            value is <code>False</code>.</p>"
          }
        },
        "MessageAction": {
          "target": "com.amazonaws.cognitoidentityprovider#MessageActionType",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>RESEND</code> to resend the invitation message to a user that already\n            exists and reset the expiration limit on the user's account. Set to\n                <code>SUPPRESS</code> to suppress sending the message. You can specify only one\n            value.</p>"
          }
        },
        "DesiredDeliveryMediums": {
          "target": "com.amazonaws.cognitoidentityprovider#DeliveryMediumListType",
          "traits": {
            "smithy.api#documentation": "<p>Specify <code>\"EMAIL\"</code> if email will be used to send the welcome message.\n            Specify <code>\"SMS\"</code> if the phone number will be used. The default value is\n                <code>\"SMS\"</code>. You can specify more than one value.</p>"
          }
        },
        "ClientMetadata": {
          "target": "com.amazonaws.cognitoidentityprovider#ClientMetadataType",
          "traits": {
            "smithy.api#documentation": "<p>A map of custom key-value pairs that you can provide as input for any custom workflows\n            that this action triggers.</p>\n        <p>You create custom workflows by assigning Lambda functions to user pool triggers.\n            When you use the AdminCreateUser API action, Amazon Cognito invokes the function that is assigned\n            to the <i>pre sign-up</i> trigger. When Amazon Cognito invokes this function, it\n            passes a JSON payload, which the function receives as input. This payload contains a\n                <code>clientMetadata</code> attribute, which provides the data that you assigned to\n            the ClientMetadata parameter in your AdminCreateUser request. In your function code in\n            Lambda, you can process the <code>clientMetadata</code> value to enhance your\n            workflow for your specific needs.</p>\n        \n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html\">\nCustomizing user pool Workflows with Lambda Triggers</a> in the <i>Amazon Cognito Developer Guide</i>.</p>\n\n        <note>\n            <p>When you use the ClientMetadata parameter, remember that Amazon Cognito won't do the\n                following:</p>\n            <ul>\n               <li>\n                    <p>Store the ClientMetadata value. This data is available only to Lambda\n                        triggers that are assigned to a user pool to support custom workflows. If\n                        your user pool configuration doesn't include triggers, the ClientMetadata\n                        parameter serves no purpose.</p>\n                </li>\n               <li>\n                    <p>Validate the ClientMetadata value.</p>\n                </li>\n               <li>\n                    <p>Encrypt the ClientMetadata value. Don't use Amazon Cognito to provide sensitive\n                        information.</p>\n                </li>\n            </ul>\n        </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to create a user in the specified user pool.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.cognitoidentityprovider#UserType",
          "traits": {
            "smithy.api#documentation": "<p>The newly created user.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the response from the server to the request to create the user.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminCreateUserUnusedAccountValidityDaysType": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 365
        }
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user as an administrator. Works on any user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the user attributes in a user pool as an administrator. Works on any\n            user.</p>\n        <p>Calling this action requires developer credentials.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributesRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to delete user attributes.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user from which you would like to delete attributes.</p>",
            "smithy.api#required": {}
          }
        },
        "UserAttributeNames": {
          "target": "com.amazonaws.cognitoidentityprovider#AttributeNameListType",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings representing the user attribute names you want to delete.</p>\n        <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the\n            attribute name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to delete user attributes as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDeleteUserAttributesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the response received from the server for a request to delete user\n            attributes.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDeleteUserRequest": {
      "type": "structure",
      "members": {
        "UserPoolId": {
          "target": "com.amazonaws.cognitoidentityprovider#UserPoolIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID for the user pool where you want to delete the user.</p>",
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.cognitoidentityprovider#UsernameType",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the user you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to delete a user as an administrator.</p>"
      }
    },
    "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUserRequest"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentityprovider#AdminDisableProviderForUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentityprovider#AliasExistsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.cognitoidentityprovider#UserNotFoundException"
        }
      ],
      "traits": {
[...]
