{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cognitoidentity#ARNString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.cognitoidentity#AWSCognitoIdentityService": {
      "type": "service",
      "version": "2014-06-30",
      "operations": [
        {
          "target": "com.amazonaws.cognitoidentity#CreateIdentityPool"
        },
        {
          "target": "com.amazonaws.cognitoidentity#DeleteIdentities"
        },
        {
          "target": "com.amazonaws.cognitoidentity#DeleteIdentityPool"
        },
        {
          "target": "com.amazonaws.cognitoidentity#DescribeIdentity"
        },
        {
          "target": "com.amazonaws.cognitoidentity#DescribeIdentityPool"
        },
        {
          "target": "com.amazonaws.cognitoidentity#GetCredentialsForIdentity"
        },
        {
          "target": "com.amazonaws.cognitoidentity#GetId"
        },
        {
          "target": "com.amazonaws.cognitoidentity#GetIdentityPoolRoles"
        },
        {
          "target": "com.amazonaws.cognitoidentity#GetOpenIdToken"
        },
        {
          "target": "com.amazonaws.cognitoidentity#GetOpenIdTokenForDeveloperIdentity"
        },
        {
          "target": "com.amazonaws.cognitoidentity#GetPrincipalTagAttributeMap"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ListIdentities"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ListIdentityPools"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cognitoidentity#LookupDeveloperIdentity"
        },
        {
          "target": "com.amazonaws.cognitoidentity#MergeDeveloperIdentities"
        },
        {
          "target": "com.amazonaws.cognitoidentity#SetIdentityPoolRoles"
        },
        {
          "target": "com.amazonaws.cognitoidentity#SetPrincipalTagAttributeMap"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TagResource"
        },
        {
          "target": "com.amazonaws.cognitoidentity#UnlinkDeveloperIdentity"
        },
        {
          "target": "com.amazonaws.cognitoidentity#UnlinkIdentity"
        },
        {
          "target": "com.amazonaws.cognitoidentity#UntagResource"
        },
        {
          "target": "com.amazonaws.cognitoidentity#UpdateIdentityPool"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Cognito Identity",
          "arnNamespace": "cognito-identity",
          "cloudFormationName": "Cognito",
          "cloudTrailEventSource": "cognitoidentity.amazonaws.com",
          "endpointPrefix": "cognito-identity"
        },
        "aws.auth#sigv4": {
          "name": "cognito-identity"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Amazon Cognito Federated Identities</fullname>\n         <p>Amazon Cognito Federated Identities is a web service that delivers scoped temporary\n         credentials to mobile devices and other untrusted environments. It uniquely identifies a\n         device and supplies the user with a consistent identity over the lifetime of an\n         application.</p>\n         <p>Using Amazon Cognito Federated Identities, you can enable authentication with one or\n         more third-party identity providers (Facebook, Google, or Login with Amazon) or an Amazon\n         Cognito user pool, and you can also choose to support unauthenticated access from your app.\n         Cognito delivers a unique identifier for each user and acts as an OpenID token provider\n         trusted by AWS Security Token Service (STS) to access temporary, limited-privilege AWS\n         credentials.</p>\n         <p>For a description of the authentication flow from the Amazon Cognito Developer Guide\n         see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/authentication-flow.html\">Authentication Flow</a>.</p>\n         <p>For more information see <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-identity.html\">Amazon Cognito Federated Identities</a>.</p>",
        "smithy.api#title": "Amazon Cognito Identity",
        "smithy.api#xmlNamespace": {
          "uri": "http://cognito-identity.amazonaws.com/doc/2014-06-30/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cognito-identity-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cognito-identity-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cognito-identity.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://cognito-identity.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cognito-identity.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.cognitoidentity#AccessKeyString": {
      "type": "string"
    },
    "com.amazonaws.cognitoidentity#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 15
        },
        "smithy.api#pattern": "\\d+"
      }
    },
    "com.amazonaws.cognitoidentity#AmbiguousRoleResolutionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AuthenticatedRole",
            "name": "AUTHENTICATED_ROLE"
          },
          {
            "value": "Deny",
            "name": "DENY"
          }
        ]
      }
    },
    "com.amazonaws.cognitoidentity#ClaimName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
      }
    },
    "com.amazonaws.cognitoidentity#ClaimValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.cognitoidentity#ClassicFlow": {
      "type": "boolean"
    },
    "com.amazonaws.cognitoidentity#CognitoIdentityProvider": {
      "type": "structure",
      "members": {
        "ProviderName": {
          "target": "com.amazonaws.cognitoidentity#CognitoIdentityProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The provider name for an Amazon Cognito user pool. For example,\n            <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.</p>"
          }
        },
        "ClientId": {
          "target": "com.amazonaws.cognitoidentity#CognitoIdentityProviderClientId",
          "traits": {
            "smithy.api#documentation": "<p>The client ID for the Amazon Cognito user pool.</p>"
          }
        },
        "ServerSideTokenCheck": {
          "target": "com.amazonaws.cognitoidentity#CognitoIdentityProviderTokenCheck",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>TRUE if server-side token validation is enabled for the identity provider’s\n         token.</p>\n         <p>Once you set <code>ServerSideTokenCheck</code> to TRUE for an identity pool, that\n         identity pool will check with the integrated user pools to make sure that the user has not\n         been globally signed out or deleted before the identity pool provides an OIDC token or AWS\n         credentials for the user.</p>\n         <p>If the user is signed out or deleted, the identity pool will return a 400 Not\n         Authorized error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A provider representing an Amazon Cognito user pool and its client ID.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#CognitoIdentityProviderClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\w_]+"
      }
    },
    "com.amazonaws.cognitoidentity#CognitoIdentityProviderList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cognitoidentity#CognitoIdentityProvider"
      }
    },
    "com.amazonaws.cognitoidentity#CognitoIdentityProviderName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\w._:/-]+"
      }
    },
    "com.amazonaws.cognitoidentity#CognitoIdentityProviderTokenCheck": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.cognitoidentity#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cognitoidentity#String",
          "traits": {
            "smithy.api#documentation": "<p>The message returned by a ConcurrentModificationException.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Thrown if there are parallel requests to modify a resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cognitoidentity#CreateIdentityPool": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#CreateIdentityPoolInput"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentity#IdentityPool"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new identity pool. The identity pool is a store of user identity\n         information that is specific to your AWS account. The keys for <code>SupportedLoginProviders</code> are as follows:</p>\n\n         <ul>\n            <li>\n               <p>Facebook: <code>graph.facebook.com</code>\n               </p>\n            </li>\n            <li>\n               <p>Google: <code>accounts.google.com</code>\n               </p>\n            </li>\n            <li>\n               <p>Amazon: <code>www.amazon.com</code>\n               </p>\n            </li>\n            <li>\n               <p>Twitter: <code>api.twitter.com</code>\n               </p>\n            </li>\n            <li>\n               <p>Digits: <code>www.digits.com</code>\n               </p>\n            </li>\n         </ul>\n\n         <p>You must use AWS Developer credentials to call this API.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#CreateIdentityPoolInput": {
      "type": "structure",
      "members": {
        "IdentityPoolName": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolName",
          "traits": {
            "smithy.api#documentation": "<p>A string that you provide.</p>",
            "smithy.api#required": {}
          }
        },
        "AllowUnauthenticatedIdentities": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolUnauthenticated",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>TRUE if the identity pool supports unauthenticated logins.</p>",
            "smithy.api#required": {}
          }
        },
        "AllowClassicFlow": {
          "target": "com.amazonaws.cognitoidentity#ClassicFlow",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables the Basic (Classic) authentication flow. For more information, see\n      <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/authentication-flow.html\">Identity Pools (Federated Identities) Authentication Flow</a> in the <i>Amazon Cognito Developer Guide</i>.</p>"
          }
        },
        "SupportedLoginProviders": {
          "target": "com.amazonaws.cognitoidentity#IdentityProviders",
          "traits": {
            "smithy.api#documentation": "<p>Optional key:value pairs mapping provider names to provider app IDs.</p>"
          }
        },
        "DeveloperProviderName": {
          "target": "com.amazonaws.cognitoidentity#DeveloperProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The \"domain\" by which Cognito will refer to your users. This name acts as a\n         placeholder that allows your backend and the Cognito service to communicate about the\n         developer provider. For the <code>DeveloperProviderName</code>, you can use letters as well\n         as period (<code>.</code>), underscore (<code>_</code>), and dash\n         (<code>-</code>).</p>\n         <p>Once you have set a developer provider name, you cannot change it. Please take care\n         in setting this parameter.</p>"
          }
        },
        "OpenIdConnectProviderARNs": {
          "target": "com.amazonaws.cognitoidentity#OIDCProviderList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the OpenID Connect providers.</p>"
          }
        },
        "CognitoIdentityProviders": {
          "target": "com.amazonaws.cognitoidentity#CognitoIdentityProviderList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Cognito user pools and their client IDs.</p>"
          }
        },
        "SamlProviderARNs": {
          "target": "com.amazonaws.cognitoidentity#SAMLProviderList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Resource Names (ARNs) of the SAML provider for your identity\n         pool.</p>"
          }
        },
        "IdentityPoolTags": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolTagsType",
          "traits": {
            "smithy.api#documentation": "<p>Tags to assign to the identity pool. A tag is a label that you can apply to identity\n         pools to categorize and manage them in different ways, such as by purpose, owner,\n         environment, or other criteria.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to the CreateIdentityPool action.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#Credentials": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "target": "com.amazonaws.cognitoidentity#AccessKeyString",
          "traits": {
            "smithy.api#documentation": "<p>The Access Key portion of the credentials.</p>"
          }
        },
        "SecretKey": {
          "target": "com.amazonaws.cognitoidentity#SecretKeyString",
          "traits": {
            "smithy.api#documentation": "<p>The Secret Access Key portion of the credentials</p>"
          }
        },
        "SessionToken": {
          "target": "com.amazonaws.cognitoidentity#SessionTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The Session Token portion of the credentials</p>"
          }
        },
        "Expiration": {
          "target": "com.amazonaws.cognitoidentity#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The date at which these credentials will expire.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Credentials for the provided identity ID.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#DateType": {
      "type": "timestamp"
    },
    "com.amazonaws.cognitoidentity#DeleteIdentities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#DeleteIdentitiesInput"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentity#DeleteIdentitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes identities from an identity pool. You can specify a list of 1-60 identities\n         that you want to delete.</p>\n         <p>You must use AWS Developer credentials to call this API.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#DeleteIdentitiesInput": {
      "type": "structure",
      "members": {
        "IdentityIdsToDelete": {
          "target": "com.amazonaws.cognitoidentity#IdentityIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of 1-60 identities that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to the <code>DeleteIdentities</code> action.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#DeleteIdentitiesResponse": {
      "type": "structure",
      "members": {
        "UnprocessedIdentityIds": {
          "target": "com.amazonaws.cognitoidentity#UnprocessedIdentityIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of UnprocessedIdentityId objects, each of which contains an ErrorCode and\n         IdentityId.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned in response to a successful <code>DeleteIdentities</code>\n         operation.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#DeleteIdentityPool": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#DeleteIdentityPoolInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an identity pool. Once a pool is deleted, users will not be able to\n         authenticate with the pool.</p>\n         <p>You must use AWS Developer credentials to call this API.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#DeleteIdentityPoolInput": {
      "type": "structure",
      "members": {
        "IdentityPoolId": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>An identity pool ID in the format REGION:GUID.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to the DeleteIdentityPool action.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#DescribeIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#DescribeIdentityInput"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentity#IdentityDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata related to the given identity, including when the identity was\n         created and any associated linked logins.</p>\n         <p>You must use AWS Developer credentials to call this API.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#DescribeIdentityInput": {
      "type": "structure",
      "members": {
        "IdentityId": {
          "target": "com.amazonaws.cognitoidentity#IdentityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier in the format REGION:GUID.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to the <code>DescribeIdentity</code> action.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#DescribeIdentityPool": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#DescribeIdentityPoolInput"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentity#IdentityPool"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a particular identity pool, including the pool name, ID\n         description, creation date, and current number of users.</p>\n         <p>You must use AWS Developer credentials to call this API.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#DescribeIdentityPoolInput": {
      "type": "structure",
      "members": {
        "IdentityPoolId": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>An identity pool ID in the format REGION:GUID.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to the DescribeIdentityPool action.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#DeveloperProviderName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\w._-]+"
      }
    },
    "com.amazonaws.cognitoidentity#DeveloperUserAlreadyRegisteredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cognitoidentity#String",
          "traits": {
            "smithy.api#documentation": "<p>This developer user identifier is already registered with Cognito.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The provided developer user identifier is already registered with Cognito under a\n         different identity ID.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cognitoidentity#DeveloperUserIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cognitoidentity#DeveloperUserIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cognitoidentity#DeveloperUserIdentifier"
      }
    },
    "com.amazonaws.cognitoidentity#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AccessDenied",
            "name": "ACCESS_DENIED"
          },
          {
            "value": "InternalServerError",
            "name": "INTERNAL_SERVER_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.cognitoidentity#ExternalServiceException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cognitoidentity#String",
          "traits": {
            "smithy.api#documentation": "<p>The message returned by an ExternalServiceException</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception thrown when a dependent service such as Facebook or Twitter is not\n         responding</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cognitoidentity#GetCredentialsForIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#GetCredentialsForIdentityInput"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentity#GetCredentialsForIdentityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#ExternalServiceException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidIdentityPoolConfigurationException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#auth": [],
        "smithy.api#documentation": "<p>Returns credentials for the provided identity ID. Any provided logins will be\n         validated against supported login providers. If the token is for\n         cognito-identity.amazonaws.com, it will be passed through to AWS Security Token Service\n         with the appropriate role for the token.</p>\n         <p>This is a public API. You do not need any credentials to call this API.</p>",
        "smithy.api#optionalAuth": {}
      }
    },
    "com.amazonaws.cognitoidentity#GetCredentialsForIdentityInput": {
      "type": "structure",
      "members": {
        "IdentityId": {
          "target": "com.amazonaws.cognitoidentity#IdentityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier in the format REGION:GUID.</p>",
            "smithy.api#required": {}
          }
        },
        "Logins": {
          "target": "com.amazonaws.cognitoidentity#LoginsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of optional name-value pairs that map provider names to provider tokens. The\n         name-value pair will follow the syntax \"provider_name\":\n         \"provider_user_identifier\".</p>\n         <p>Logins should not be specified when trying to get credentials for an unauthenticated\n         identity.</p>\n         <p>The Logins parameter is required when using identities associated with external\n         identity providers such as Facebook. For examples of <code>Logins</code> maps, see the code\n         examples in the <a href=\"https://docs.aws.amazon.com/cognito/latest/developerguide/external-identity-providers.html\">External Identity Providers</a> section of the Amazon Cognito Developer\n         Guide.</p>"
          }
        },
        "CustomRoleArn": {
          "target": "com.amazonaws.cognitoidentity#ARNString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role to be assumed when multiple roles were\n         received in the token from the identity provider. For example, a SAML-based identity\n         provider. This parameter is optional for identity providers that do not support role\n         customization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to the <code>GetCredentialsForIdentity</code> action.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetCredentialsForIdentityResponse": {
      "type": "structure",
      "members": {
        "IdentityId": {
          "target": "com.amazonaws.cognitoidentity#IdentityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier in the format REGION:GUID.</p>"
          }
        },
        "Credentials": {
          "target": "com.amazonaws.cognitoidentity#Credentials",
          "traits": {
            "smithy.api#documentation": "<p>Credentials for the provided identity ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned in response to a successful <code>GetCredentialsForIdentity</code>\n         operation.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetId": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#GetIdInput"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentity#GetIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#ExternalServiceException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#auth": [],
        "smithy.api#documentation": "<p>Generates (or retrieves) a Cognito ID. Supplying multiple logins will create an\n         implicit linked account.</p>\n         <p>This is a public API. You do not need any credentials to call this API.</p>",
        "smithy.api#optionalAuth": {}
      }
    },
    "com.amazonaws.cognitoidentity#GetIdInput": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.cognitoidentity#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>A standard AWS account ID (9+ digits).</p>"
          }
        },
        "IdentityPoolId": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>An identity pool ID in the format REGION:GUID.</p>",
            "smithy.api#required": {}
          }
        },
        "Logins": {
          "target": "com.amazonaws.cognitoidentity#LoginsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of optional name-value pairs that map provider names to provider tokens. The\n         available provider names for <code>Logins</code> are as follows:</p>\n         <ul>\n            <li>\n               <p>Facebook: <code>graph.facebook.com</code>\n               </p>\n            </li>\n            <li>\n               <p>Amazon Cognito user pool:\n                  <code>cognito-idp.<region>.amazonaws.com/<YOUR_USER_POOL_ID></code>,\n               for example, <code>cognito-idp.us-east-1.amazonaws.com/us-east-1_123456789</code>.\n            </p>\n            </li>\n            <li>\n               <p>Google: <code>accounts.google.com</code>\n               </p>\n            </li>\n            <li>\n               <p>Amazon: <code>www.amazon.com</code>\n               </p>\n            </li>\n            <li>\n               <p>Twitter: <code>api.twitter.com</code>\n               </p>\n            </li>\n            <li>\n               <p>Digits: <code>www.digits.com</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to the GetId action.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetIdResponse": {
      "type": "structure",
      "members": {
        "IdentityId": {
          "target": "com.amazonaws.cognitoidentity#IdentityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier in the format REGION:GUID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned in response to a GetId request.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetIdentityPoolRoles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#GetIdentityPoolRolesInput"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentity#GetIdentityPoolRolesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the roles for an identity pool.</p>\n         <p>You must use AWS Developer credentials to call this API.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetIdentityPoolRolesInput": {
      "type": "structure",
      "members": {
        "IdentityPoolId": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>An identity pool ID in the format REGION:GUID.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to the <code>GetIdentityPoolRoles</code> action.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetIdentityPoolRolesResponse": {
      "type": "structure",
      "members": {
        "IdentityPoolId": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>An identity pool ID in the format REGION:GUID.</p>"
          }
        },
        "Roles": {
          "target": "com.amazonaws.cognitoidentity#RolesMap",
          "traits": {
            "smithy.api#documentation": "<p>The map of roles associated with this pool. Currently only authenticated and\n         unauthenticated roles are supported.</p>"
          }
        },
        "RoleMappings": {
          "target": "com.amazonaws.cognitoidentity#RoleMappingMap",
          "traits": {
            "smithy.api#documentation": "<p>How users for a specific identity provider are to mapped to roles. This is a\n            String-to-<a>RoleMapping</a> object map. The string identifies the identity\n         provider, for example, \"graph.facebook.com\" or\n         \"cognito-idp.us-east-1.amazonaws.com/us-east-1_abcdefghi:app_client_id\".</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned in response to a successful <code>GetIdentityPoolRoles</code>\n         operation.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetOpenIdToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#GetOpenIdTokenInput"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentity#GetOpenIdTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#ExternalServiceException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#auth": [],
        "smithy.api#documentation": "<p>Gets an OpenID token, using a known Cognito ID. This known Cognito ID is returned by\n            <a>GetId</a>. You can optionally add additional logins for the identity.\n         Supplying multiple logins creates an implicit link.</p>\n         <p>The OpenID token is valid for 10 minutes.</p>\n         <p>This is a public API. You do not need any credentials to call this API.</p>",
        "smithy.api#optionalAuth": {}
      }
    },
    "com.amazonaws.cognitoidentity#GetOpenIdTokenForDeveloperIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#GetOpenIdTokenForDeveloperIdentityInput"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentity#GetOpenIdTokenForDeveloperIdentityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#DeveloperUserAlreadyRegisteredException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Registers (or retrieves) a Cognito <code>IdentityId</code> and an OpenID Connect\n         token for a user authenticated by your backend authentication process. Supplying multiple\n         logins will create an implicit linked account. You can only specify one developer provider\n         as part of the <code>Logins</code> map, which is linked to the identity pool. The developer\n         provider is the \"domain\" by which Cognito will refer to your users.</p>\n         <p>You can use <code>GetOpenIdTokenForDeveloperIdentity</code> to create a new identity\n         and to link new logins (that is, user credentials issued by a public provider or developer\n         provider) to an existing identity. When you want to create a new identity, the\n            <code>IdentityId</code> should be null. When you want to associate a new login with an\n         existing authenticated/unauthenticated identity, you can do so by providing the existing\n            <code>IdentityId</code>. This API will create the identity in the specified\n            <code>IdentityPoolId</code>.</p>\n         <p>You must use AWS Developer credentials to call this API.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetOpenIdTokenForDeveloperIdentityInput": {
      "type": "structure",
      "members": {
        "IdentityPoolId": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>An identity pool ID in the format REGION:GUID.</p>",
            "smithy.api#required": {}
          }
        },
        "IdentityId": {
          "target": "com.amazonaws.cognitoidentity#IdentityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier in the format REGION:GUID.</p>"
          }
        },
        "Logins": {
          "target": "com.amazonaws.cognitoidentity#LoginsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of optional name-value pairs that map provider names to provider tokens. Each\n         name-value pair represents a user from a public provider or developer provider. If the user\n         is from a developer provider, the name-value pair will follow the syntax\n            <code>\"developer_provider_name\": \"developer_user_identifier\"</code>. The developer\n         provider is the \"domain\" by which Cognito will refer to your users; you provided this\n         domain while creating/updating the identity pool. The developer user identifier is an\n         identifier from your backend that uniquely identifies a user. When you create an identity\n         pool, you can specify the supported logins.</p>",
            "smithy.api#required": {}
          }
        },
        "PrincipalTags": {
          "target": "com.amazonaws.cognitoidentity#PrincipalTags",
          "traits": {
            "smithy.api#documentation": "<p>Use this operation to configure attribute mappings for custom providers. </p>"
          }
        },
        "TokenDuration": {
          "target": "com.amazonaws.cognitoidentity#TokenDuration",
          "traits": {
            "smithy.api#documentation": "<p>The expiration time of the token, in seconds. You can specify a custom expiration\n         time for the token so that you can cache it. If you don't provide an expiration time, the\n         token is valid for 15 minutes. You can exchange the token with Amazon STS for temporary AWS\n         credentials, which are valid for a maximum of one hour. The maximum token duration you can\n         set is 24 hours. You should take care in setting the expiration time for a token, as there\n         are significant security implications: an attacker could use a leaked token to access your\n         AWS resources for the token's duration.</p>\n         <note>\n            <p>Please provide for a small grace period, usually no more than 5 minutes, to account for clock skew.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to the <code>GetOpenIdTokenForDeveloperIdentity</code> action.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetOpenIdTokenForDeveloperIdentityResponse": {
      "type": "structure",
      "members": {
        "IdentityId": {
          "target": "com.amazonaws.cognitoidentity#IdentityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier in the format REGION:GUID.</p>"
          }
        },
        "Token": {
          "target": "com.amazonaws.cognitoidentity#OIDCToken",
          "traits": {
            "smithy.api#documentation": "<p>An OpenID token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned in response to a successful <code>GetOpenIdTokenForDeveloperIdentity</code>\n         request.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetOpenIdTokenInput": {
      "type": "structure",
      "members": {
        "IdentityId": {
          "target": "com.amazonaws.cognitoidentity#IdentityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier in the format REGION:GUID.</p>",
            "smithy.api#required": {}
          }
        },
        "Logins": {
          "target": "com.amazonaws.cognitoidentity#LoginsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of optional name-value pairs that map provider names to provider tokens. When\n         using graph.facebook.com and www.amazon.com, supply the access_token returned from the\n         provider's authflow. For accounts.google.com, an Amazon Cognito user pool provider, or any\n         other OpenID Connect provider, always include the <code>id_token</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to the GetOpenIdToken action.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetOpenIdTokenResponse": {
      "type": "structure",
      "members": {
        "IdentityId": {
          "target": "com.amazonaws.cognitoidentity#IdentityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier in the format REGION:GUID. Note that the IdentityId returned may\n         not match the one passed on input.</p>"
          }
        },
        "Token": {
          "target": "com.amazonaws.cognitoidentity#OIDCToken",
          "traits": {
            "smithy.api#documentation": "<p>An OpenID token, valid for 10 minutes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned in response to a successful GetOpenIdToken request.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetPrincipalTagAttributeMap": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cognitoidentity#GetPrincipalTagAttributeMapInput"
      },
      "output": {
        "target": "com.amazonaws.cognitoidentity#GetPrincipalTagAttributeMapResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cognitoidentity#InternalErrorException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cognitoidentity#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use <code>GetPrincipalTagAttributeMap</code> to list all mappings between <code>PrincipalTags</code> and user attributes.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#GetPrincipalTagAttributeMapInput": {
      "type": "structure",
      "members": {
        "IdentityPoolId": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>You can use this operation to get the ID of the Identity Pool you setup attribute mappings for.</p>",
            "smithy.api#required": {}
          }
        },
        "IdentityProviderName": {
          "target": "com.amazonaws.cognitoidentity#IdentityProviderName",
          "traits": {
            "smithy.api#documentation": "<p>You can use this operation to get the provider name.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cognitoidentity#GetPrincipalTagAttributeMapResponse": {
      "type": "structure",
      "members": {
        "IdentityPoolId": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>You can use this operation to get the ID of the Identity Pool you setup attribute mappings for.</p>"
          }
        },
        "IdentityProviderName": {
          "target": "com.amazonaws.cognitoidentity#IdentityProviderName",
          "traits": {
            "smithy.api#documentation": "<p>You can use this operation to get the provider name.</p>"
          }
        },
        "UseDefaults": {
          "target": "com.amazonaws.cognitoidentity#UseDefaults",
          "traits": {
            "smithy.api#documentation": "<p>You can use this operation to list </p>"
          }
        },
        "PrincipalTags": {
          "target": "com.amazonaws.cognitoidentity#PrincipalTags",
          "traits": {
            "smithy.api#documentation": "<p>You can use this operation to add principal tags. The <code>PrincipalTags</code>operation enables you to reference user attributes in your IAM permissions policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.cognitoidentity#HideDisabled": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.cognitoidentity#IdentitiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cognitoidentity#IdentityDescription"
      }
    },
    "com.amazonaws.cognitoidentity#IdentityDescription": {
      "type": "structure",
      "members": {
        "IdentityId": {
          "target": "com.amazonaws.cognitoidentity#IdentityId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier in the format REGION:GUID.</p>"
          }
        },
        "Logins": {
          "target": "com.amazonaws.cognitoidentity#LoginsList",
          "traits": {
            "smithy.api#documentation": "<p>The provider names.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.cognitoidentity#DateType",
          "traits": {
            "smithy.api#documentation": "<p>Date on which the identity was created.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.cognitoidentity#DateType",
          "traits": {
            "smithy.api#documentation": "<p>Date on which the identity was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A description of the identity.</p>"
      }
    },
    "com.amazonaws.cognitoidentity#IdentityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 55
        },
        "smithy.api#pattern": "[\\w-]+:[0-9a-f-]+"
      }
    },
    "com.amazonaws.cognitoidentity#IdentityIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cognitoidentity#IdentityId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 60
        }
      }
    },
    "com.amazonaws.cognitoidentity#IdentityPool": {
      "type": "structure",
      "members": {
        "IdentityPoolId": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>An identity pool ID in the format REGION:GUID.</p>",
            "smithy.api#required": {}
          }
        },
        "IdentityPoolName": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolName",
          "traits": {
            "smithy.api#documentation": "<p>A string that you provide.</p>",
            "smithy.api#required": {}
          }
        },
        "AllowUnauthenticatedIdentities": {
          "target": "com.amazonaws.cognitoidentity#IdentityPoolUnauthenticated",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>TRUE if the identity pool supports unauthenticated logins.</p>",
            "smithy.api#required": {}
          }
        },
        "AllowClassicFlow": {
          "target": "com.amazonaws.cognitoidentity#ClassicFlow",
          "traits": {
[...]
