{
  "smithy": "1.0",
  "shapes": {
    "com.amazonaws.commander#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.commander#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.commander#Action": {
      "type": "union",
      "members": {
        "ssmAutomation": {
          "target": "com.amazonaws.commander#SsmAutomation",
          "traits": {
            "smithy.api#documentation": "<p>The Systems Manager automation document to start as the runbook at the beginning of the\n         incident.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The action that starts at the beginning of an incident. The response plan defines the\n         action.</p>"
      }
    },
    "com.amazonaws.commander#ActionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.commander#Action"
      },
      "traits": {
        "smithy.api#length": {
          "max": 1
        }
      }
    },
    "com.amazonaws.commander#AddRegionAction": {
      "type": "structure",
      "members": {
        "regionName": {
          "target": "com.amazonaws.commander#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>The Region name to add to the replication set.</p>",
            "smithy.api#required": {}
          }
        },
        "sseKmsKeyId": {
          "target": "com.amazonaws.commander#SseKmsKey",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key ID to use to encrypt your replication set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the Region and KMS key to add to the replication set. </p>"
      }
    },
    "com.amazonaws.commander#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1000
        },
        "smithy.api#pattern": "^arn:aws(-cn|-us-gov)?:[a-z0-9-]*:[a-z0-9-]*:([0-9]{12})?:.+$"
      }
    },
    "com.amazonaws.commander#AttributeValueList": {
      "type": "union",
      "members": {
        "stringValues": {
          "target": "com.amazonaws.commander#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of string values that the filter matches.</p>"
          }
        },
        "integerValues": {
          "target": "com.amazonaws.commander#IntegerList",
          "traits": {
            "smithy.api#documentation": "<p>The list of integer values that the filter matches.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use the AttributeValueList to filter by string or integer values.</p>"
      }
    },
    "com.amazonaws.commander#AutomationExecution": {
      "type": "union",
      "members": {
        "ssmExecutionArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the automation process.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Systems Manager automation document\n         process\n         to start as the runbook at the beginning of the incident.</p>"
      }
    },
    "com.amazonaws.commander#AutomationExecutionSet": {
      "type": "set",
      "member": {
        "target": "com.amazonaws.commander#AutomationExecution"
      },
      "traits": {
        "smithy.api#length": {
          "max": 100
        }
      }
    },
    "com.amazonaws.commander#ChatChannel": {
      "type": "union",
      "members": {
        "empty": {
          "target": "com.amazonaws.commander#EmptyChatChannel",
          "traits": {
            "smithy.api#documentation": "<p>Used to remove the chat channel from an incident record or response plan.</p>"
          }
        },
        "chatbotSns": {
          "target": "com.amazonaws.commander#ChatbotSnsConfigurationSet",
          "traits": {
            "smithy.api#documentation": "<p>The SNS targets that AWS Chatbot uses to notify the chat channel of updates to an\n         incident. You can also make updates to the incident through the chat channel\n         by\n         using the SNS topics. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AWS Chatbot chat channel used for collaboration during an incident.</p>"
      }
    },
    "com.amazonaws.commander#ChatbotSnsConfigurationSet": {
      "type": "set",
      "member": {
        "target": "com.amazonaws.commander#SnsArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.commander#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 128
        }
      }
    },
    "com.amazonaws.commander#Commander": {
      "type": "service",
      "version": "2018-05-10",
      "operations": [
        {
          "target": "com.amazonaws.commander#CreateReplicationSet"
        },
        {
          "target": "com.amazonaws.commander#CreateResponsePlan"
        },
        {
          "target": "com.amazonaws.commander#CreateTimelineEvent"
        },
        {
          "target": "com.amazonaws.commander#DeleteIncidentRecord"
        },
        {
          "target": "com.amazonaws.commander#DeleteReplicationSet"
        },
        {
          "target": "com.amazonaws.commander#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.commander#DeleteResponsePlan"
        },
        {
          "target": "com.amazonaws.commander#DeleteTimelineEvent"
        },
        {
          "target": "com.amazonaws.commander#GetIncidentRecord"
        },
        {
          "target": "com.amazonaws.commander#GetReplicationSet"
        },
        {
          "target": "com.amazonaws.commander#GetResourcePolicies"
        },
        {
          "target": "com.amazonaws.commander#GetResponsePlan"
        },
        {
          "target": "com.amazonaws.commander#GetTimelineEvent"
        },
        {
          "target": "com.amazonaws.commander#ListIncidentRecords"
        },
        {
          "target": "com.amazonaws.commander#ListRelatedItems"
        },
        {
          "target": "com.amazonaws.commander#ListReplicationSets"
        },
        {
          "target": "com.amazonaws.commander#ListResponsePlans"
        },
        {
          "target": "com.amazonaws.commander#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.commander#ListTimelineEvents"
        },
        {
          "target": "com.amazonaws.commander#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.commander#StartIncident"
        },
        {
          "target": "com.amazonaws.commander#TagResource"
        },
        {
          "target": "com.amazonaws.commander#UntagResource"
        },
        {
          "target": "com.amazonaws.commander#UpdateDeletionProtection"
        },
        {
          "target": "com.amazonaws.commander#UpdateIncidentRecord"
        },
        {
          "target": "com.amazonaws.commander#UpdateRelatedItems"
        },
        {
          "target": "com.amazonaws.commander#UpdateReplicationSet"
        },
        {
          "target": "com.amazonaws.commander#UpdateResponsePlan"
        },
        {
          "target": "com.amazonaws.commander#UpdateTimelineEvent"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Commander",
          "arnNamespace": "ssm-incidents",
          "cloudFormationName": "Commander",
          "cloudTrailEventSource": "ssm-incidents.amazonaws.com",
          "endpointPrefix": "ssm-incidents"
        },
        "aws.auth#sigv4": {
          "name": "ssm-incidents"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": ["x-amz-content-sha256", "x-amz-user-agent", "content-type", "x-amzn-platform-id"]
        },
        "smithy.api#documentation": "<p>AWS Systems Manager Incident Manager is an incident management console designed to help\n      users mitigate and recover from incidents affecting their AWS-hosted applications. An incident\n      is any unplanned interruption or reduction in quality of services. </p>\n         <p>Incident Manager increases incident resolution by notifying responders of impact,\n      highlighting relevant troubleshooting data, and providing collaboration tools to get services\n      back up and running. To achieve the primary goal of reducing the time-to-resolution of\n      critical incidents, Incident Manager automates response plans and enables responder team\n      escalation. </p>",
        "smithy.api#title": "Incident Manager"
      }
    },
    "com.amazonaws.commander#Condition": {
      "type": "union",
      "members": {
        "before": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Before the specified timestamp</p>"
          }
        },
        "after": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>After the specified timestamp.</p>"
          }
        },
        "equals": {
          "target": "com.amazonaws.commander#AttributeValueList",
          "traits": {
            "smithy.api#documentation": "<p>The value is equal to the provided string or integer. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A conditional statement with which to compare a value, after a timestamp, before a\n         timestamp, or equal to a string or integer. If multiple conditions are specified, the\n         conditionals become an <code>AND</code>ed statement. If multiple values are specified for a\n         conditional, the values are <code>OR</code>d.</p>"
      }
    },
    "com.amazonaws.commander#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.commander#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the requested resource"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.commander#ResourceType",
          "traits": {
            "smithy.api#documentation": "The resource type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource causes an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.commander#CreateReplicationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#CreateReplicationSetInput"
      },
      "output": {
        "target": "com.amazonaws.commander#CreateReplicationSetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#ConflictException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A replication set replicates and encrypts your data to the provided Regions with the\n            provided KMS key. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createReplicationSet",
          "code": 201
        }
      }
    },
    "com.amazonaws.commander#CreateReplicationSetInput": {
      "type": "structure",
      "members": {
        "regions": {
          "target": "com.amazonaws.commander#RegionMapInput",
          "traits": {
            "smithy.api#documentation": "<p>The Regions that Incident Manager replicates your data to. You can have up to three Regions\n            in your replication set.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.commander#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token ensuring that the action is called only once with the specified details.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.commander#CreateReplicationSetOutput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replication set. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#CreateResponsePlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#CreateResponsePlanInput"
      },
      "output": {
        "target": "com.amazonaws.commander#CreateResponsePlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#ConflictException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a response plan that automates the initial response to incidents. A response\n            plan engages contacts, starts chat channel collaboration, and\n            initiates\n            runbooks at the beginning of an incident.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createResponsePlan",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.commander#CreateResponsePlanInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.commander#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token ensuring that the action is called only once with the specified details.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.commander#ResponsePlanName",
          "traits": {
            "smithy.api#documentation": "<p>The short format name of the response plan. Can't include spaces.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.commander#ResponsePlanDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The long format of the response plan name. This field can contain spaces.</p>"
          }
        },
        "incidentTemplate": {
          "target": "com.amazonaws.commander#IncidentTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Details used to create an incident when using this response plan.</p>",
            "smithy.api#required": {}
          }
        },
        "chatChannel": {
          "target": "com.amazonaws.commander#ChatChannel",
          "traits": {
            "smithy.api#documentation": "<p>The\n            AWS Chatbot\n            chat channel used for collaboration during an incident.</p>"
          }
        },
        "engagements": {
          "target": "com.amazonaws.commander#EngagementSet",
          "traits": {
            "smithy.api#documentation": "<p>The contacts and escalation plans that the response plan engages during an\n            incident.</p>"
          }
        },
        "actions": {
          "target": "com.amazonaws.commander#ActionsList",
          "traits": {
            "smithy.api#documentation": "<p>The actions that the response plan starts at the beginning of an incident.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.commander#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags that you are adding to the response plan.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#CreateResponsePlanOutput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#CreateTimelineEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#CreateTimelineEventInput"
      },
      "output": {
        "target": "com.amazonaws.commander#CreateTimelineEventOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#ConflictException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a custom timeline event on the incident details page of an incident record.\n            Timeline events are automatically created by Incident Manager, marking key moment during an\n            incident. You can create custom timeline events to mark important events that are\n            automatically detected by Incident Manager.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createTimelineEvent",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.commander#CreateTimelineEventInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.commander#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token ensuring that the action is called only once with the specified details.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "incidentRecordArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident record you are adding the event\n            to.</p>",
            "smithy.api#required": {}
          }
        },
        "eventTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the event occurred.</p>",
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "com.amazonaws.commander#TimelineEventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the event. You can create timeline events of type <code>Custom\n                Event</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventData": {
          "target": "com.amazonaws.commander#EventData",
          "traits": {
            "smithy.api#documentation": "<p>A short description of the event.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#CreateTimelineEventOutput": {
      "type": "structure",
      "members": {
        "incidentRecordArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the incident record that you added the event to.</p>",
            "smithy.api#required": {}
          }
        },
        "eventId": {
          "target": "com.amazonaws.commander#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the event for easy reference later. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#DedupeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1000
        }
      }
    },
    "com.amazonaws.commander#DeleteIncidentRecord": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#DeleteIncidentRecordInput"
      },
      "output": {
        "target": "com.amazonaws.commander#DeleteIncidentRecordOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an incident record from Incident Manager. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteIncidentRecord",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.commander#DeleteIncidentRecordInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident record you are deleting.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#DeleteIncidentRecordOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.commander#DeleteRegionAction": {
      "type": "structure",
      "members": {
        "regionName": {
          "target": "com.amazonaws.commander#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Region you're deleting from the replication set.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the information about the Region you're deleting from your replication\n         set.</p>"
      }
    },
    "com.amazonaws.commander#DeleteReplicationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#DeleteReplicationSetInput"
      },
      "output": {
        "target": "com.amazonaws.commander#DeleteReplicationSetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all Regions in your replication set. Deleting the replication set deletes all\n            Incident Manager data.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteReplicationSet",
          "code": 204
        }
      }
    },
    "com.amazonaws.commander#DeleteReplicationSetInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replication set you're deleting.</p>",
            "smithy.api#httpQuery": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#DeleteReplicationSetOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.commander#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#DeleteResourcePolicyInput"
      },
      "output": {
        "target": "com.amazonaws.commander#DeleteResourcePolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the resource policy that\n            AWS\n            Resource Access Manager uses to share your Incident Manager resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteResourcePolicy",
          "code": 200
        }
      }
    },
    "com.amazonaws.commander#DeleteResourcePolicyInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource you're deleting the policy from.</p>",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "com.amazonaws.commander#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource policy you're deleting.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#DeleteResourcePolicyOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.commander#DeleteResponsePlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#DeleteResponsePlanInput"
      },
      "output": {
        "target": "com.amazonaws.commander#DeleteResponsePlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified response plan. Deleting a response plan stops all linked\n            CloudWatch alarms and EventBridge events from creating an incident with this response\n            plan.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteResponsePlan",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.commander#DeleteResponsePlanInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#DeleteResponsePlanOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.commander#DeleteTimelineEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#DeleteTimelineEventInput"
      },
      "output": {
        "target": "com.amazonaws.commander#DeleteTimelineEventOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a timeline event from an incident.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteTimelineEvent",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.commander#DeleteTimelineEventInput": {
      "type": "structure",
      "members": {
        "incidentRecordArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident that the event is part of.</p>",
            "smithy.api#required": {}
          }
        },
        "eventId": {
          "target": "com.amazonaws.commander#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the event you are updating. You can find this by using <code>ListTimelineEvents</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#DeleteTimelineEventOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.commander#EmptyChatChannel": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Used to remove the chat channel from an incident record or response plan.</p>"
      }
    },
    "com.amazonaws.commander#EngagementSet": {
      "type": "set",
      "member": {
        "target": "com.amazonaws.commander#SsmContactsArn"
      },
      "traits": {
        "smithy.api#length": {
          "max": 5
        }
      }
    },
    "com.amazonaws.commander#EventData": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 6000
        }
      }
    },
    "com.amazonaws.commander#EventSummary": {
      "type": "structure",
      "members": {
        "incidentRecordArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident that the event happened during.</p>",
            "smithy.api#required": {}
          }
        },
        "eventId": {
          "target": "com.amazonaws.commander#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The timeline event ID.</p>",
            "smithy.api#required": {}
          }
        },
        "eventTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the event occurred.</p>",
            "smithy.api#required": {}
          }
        },
        "eventUpdatedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the timeline event was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "com.amazonaws.commander#TimelineEventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of event. The timeline event must be <code>Custom Event</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a timeline event during an incident.</p>"
      }
    },
    "com.amazonaws.commander#EventSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.commander#EventSummary"
      },
      "traits": {
        "smithy.api#length": {
          "max": 100
        }
      }
    },
    "com.amazonaws.commander#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.commander#Filter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The key that you're filtering on.</p>",
            "smithy.api#length": {
              "max": 50
            },
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.amazonaws.commander#Condition",
          "traits": {
            "smithy.api#documentation": "<p>The condition accepts before or after a specified time, equal to a string, or equal to an integer.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filter the selection by using a condition.</p>"
      }
    },
    "com.amazonaws.commander#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.commander#Filter"
      },
      "traits": {
        "smithy.api#length": {
          "max": 5
        }
      }
    },
    "com.amazonaws.commander#GetIncidentRecord": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#GetIncidentRecordInput"
      },
      "output": {
        "target": "com.amazonaws.commander#GetIncidentRecordOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of the specified incident record.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/getIncidentRecord",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.commander#GetIncidentRecordInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident record.</p>",
            "smithy.api#httpQuery": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#GetIncidentRecordOutput": {
      "type": "structure",
      "members": {
        "incidentRecord": {
          "target": "com.amazonaws.commander#IncidentRecord",
          "traits": {
            "smithy.api#documentation": "<p>Details structure of the incident record.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#GetReplicationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#GetReplicationSetInput"
      },
      "output": {
        "target": "com.amazonaws.commander#GetReplicationSetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve your Incident Manager replication set.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/getReplicationSet",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "WaitForReplicationSetActive": {
            "documentation": "Wait for a replication set to become ACTIVE",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "replicationSet.status",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "replicationSet.status",
                    "expected": "CREATING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "replicationSet.status",
                    "expected": "UPDATING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "replicationSet.status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 30,
            "maxDelay": 30
          },
          "WaitForReplicationSetDeleted": {
            "documentation": "Wait for a replication set to be deleted",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "replicationSet.status",
                    "expected": "DELETING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "replicationSet.status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 30,
            "maxDelay": 30
          }
        }
      }
    },
    "com.amazonaws.commander#GetReplicationSetInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replication set you want to retrieve.</p>",
            "smithy.api#httpQuery": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#GetReplicationSetOutput": {
      "type": "structure",
      "members": {
        "replicationSet": {
          "target": "com.amazonaws.commander#ReplicationSet",
          "traits": {
            "smithy.api#documentation": "<p>Details of the replication set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#GetResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#GetResourcePoliciesInput"
      },
      "output": {
        "target": "com.amazonaws.commander#GetResourcePoliciesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the resource policies attached to the specified response plan.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getResourcePolicies",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "resourcePolicies",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.commander#GetResourcePoliciesInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan with the attached resource policy. </p>",
            "smithy.api#httpQuery": "resourceArn",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.commander#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of resource policies to display per page of results.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#GetResourcePoliciesOutput": {
      "type": "structure",
      "members": {
        "resourcePolicies": {
          "target": "com.amazonaws.commander#ResourcePolicyList",
          "traits": {
            "smithy.api#documentation": "<p>Details about the resource policy attached to the response plan.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#GetResponsePlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#GetResponsePlanInput"
      },
      "output": {
        "target": "com.amazonaws.commander#GetResponsePlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of the specified response plan.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/getResponsePlan",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.commander#GetResponsePlanInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan.</p>",
            "smithy.api#httpQuery": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#GetResponsePlanOutput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the response plan.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.commander#ResponsePlanName",
          "traits": {
            "smithy.api#documentation": "<p>The short format name of the response plan. Can't contain spaces.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.commander#ResponsePlanDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The long format name of the response plan. Can contain spaces.</p>"
          }
        },
        "incidentTemplate": {
          "target": "com.amazonaws.commander#IncidentTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Details used to create the incident when using this response plan.</p>",
            "smithy.api#required": {}
          }
        },
        "chatChannel": {
          "target": "com.amazonaws.commander#ChatChannel",
          "traits": {
            "smithy.api#documentation": "<p>The\n            AWS\n            Chatbot chat channel used for collaboration during an\n            incident.</p>"
          }
        },
        "engagements": {
          "target": "com.amazonaws.commander#EngagementSet",
          "traits": {
            "smithy.api#documentation": "<p>The contacts and escalation plans that the response plan engages during an\n            incident.</p>"
          }
        },
        "actions": {
          "target": "com.amazonaws.commander#ActionsList",
          "traits": {
            "smithy.api#documentation": "<p>The actions that this response plan takes at the beginning of the incident.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#GetTimelineEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#GetTimelineEventInput"
      },
      "output": {
        "target": "com.amazonaws.commander#GetTimelineEventOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a timeline event based on its ID and incident record.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/getTimelineEvent",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.commander#GetTimelineEventInput": {
      "type": "structure",
      "members": {
        "incidentRecordArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident that the timeline event is part of.</p>",
            "smithy.api#httpQuery": "incidentRecordArn",
            "smithy.api#required": {}
          }
        },
        "eventId": {
          "target": "com.amazonaws.commander#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the event. You can get an event's ID when you create it or by using <code>ListTimelineEvents</code>.</p>",
            "smithy.api#httpQuery": "eventId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#GetTimelineEventOutput": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.amazonaws.commander#TimelineEvent",
          "traits": {
            "smithy.api#documentation": "<p>Details about the timeline event.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#Impact": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.commander#IncidentRecord": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident record.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.commander#IncidentTitle",
          "traits": {
            "smithy.api#documentation": "<p>The title of the incident.</p>",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "com.amazonaws.commander#IncidentSummary",
          "traits": {
            "smithy.api#documentation": "<p>The summary of the incident. The summary is a brief synopsis of what occurred, what is currently happening, and context.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.commander#IncidentRecordStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the incident.</p>",
            "smithy.api#required": {}
          }
        },
        "impact": {
          "target": "com.amazonaws.commander#Impact",
          "traits": {
            "smithy.api#documentation": "<p>The impact of the incident on customers and applications.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that Incident Manager created the incident record.</p>",
            "smithy.api#required": {}
          }
        },
        "resolvedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the incident was resolved. This appears as a timeline event.</p>"
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the incident was most recently modified.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedBy": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Who modified the incident most recently.</p>",
            "smithy.api#required": {}
          }
        },
        "automationExecutions": {
          "target": "com.amazonaws.commander#AutomationExecutionSet",
          "traits": {
            "smithy.api#documentation": "<p>The runbook, or automation document, that's run at the beginning of the incident.</p>"
          }
        },
        "incidentRecordSource": {
          "target": "com.amazonaws.commander#IncidentRecordSource",
          "traits": {
            "smithy.api#documentation": "<p>Details about the action that started the incident.</p>",
            "smithy.api#required": {}
          }
        },
        "dedupeString": {
          "target": "com.amazonaws.commander#DedupeString",
          "traits": {
            "smithy.api#documentation": "<p>The string Incident Manager uses to prevent duplicate incidents from being created by the same incident.</p>",
            "smithy.api#required": {}
          }
        },
        "chatChannel": {
          "target": "com.amazonaws.commander#ChatChannel",
          "traits": {
            "smithy.api#documentation": "<p>The chat channel used for collaboration during an incident.</p>"
          }
        },
        "notificationTargets": {
          "target": "com.amazonaws.commander#NotificationTargetSet",
          "traits": {
            "smithy.api#documentation": "<p>The SNS targets that\n         AWS Chatbot uses\n         to notify the chat channels and perform actions on the incident record.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The record of the incident that's created when an incident occurs.</p>"
      }
    },
    "com.amazonaws.commander#IncidentRecordSource": {
      "type": "structure",
      "members": {
        "createdBy": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The principal that started the incident.</p>",
            "smithy.api#required": {}
          }
        },
        "invokedBy": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The principal the assumed the role specified of the <code>createdBy</code>.</p>"
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The resource that caused the incident to be created.</p>"
          }
        },
        "source": {
          "target": "com.amazonaws.commander#IncidentSource",
          "traits": {
            "smithy.api#documentation": "<p>The service that started the incident. This can be manually created from Incident Manager,\n         automatically created using an\n         AWS\n         CloudWatch alarm, or\n         Amazon\n         EventBridge event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about how the incident record was created and when.</p>"
      }
    },
    "com.amazonaws.commander#IncidentRecordStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OPEN",
            "name": "OPEN"
          },
          {
            "value": "RESOLVED",
            "name": "RESOLVED"
          }
        ]
      }
    },
    "com.amazonaws.commander#IncidentRecordSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.commander#IncidentTitle",
          "traits": {
            "smithy.api#documentation": "<p>The title of the incident. This value is either provided by the response plan or\n         overwritten on creation.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.commander#IncidentRecordStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the incident.</p>",
            "smithy.api#required": {}
          }
        },
        "impact": {
          "target": "com.amazonaws.commander#Impact",
          "traits": {
            "smithy.api#documentation": "<p>Defines the impact to customers and applications.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the incident was created.</p>",
            "smithy.api#required": {}
          }
        },
        "resolvedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the incident was resolved.</p>"
          }
        },
        "incidentRecordSource": {
          "target": "com.amazonaws.commander#IncidentRecordSource",
          "traits": {
            "smithy.api#documentation": "<p>What caused Incident Manager to create the incident.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details describing an incident record.</p>"
      }
    },
    "com.amazonaws.commander#IncidentRecordSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.commander#IncidentRecordSummary"
      },
      "traits": {
        "smithy.api#length": {
          "max": 100
        }
      }
    },
    "com.amazonaws.commander#IncidentSource": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 50
        }
      }
    },
    "com.amazonaws.commander#IncidentSummary": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 4000
        }
      }
    },
    "com.amazonaws.commander#IncidentTemplate": {
      "type": "structure",
      "members": {
        "title": {
          "target": "com.amazonaws.commander#IncidentTitle",
          "traits": {
            "smithy.api#documentation": "<p>The title of the incident. </p>",
            "smithy.api#required": {}
          }
        },
        "impact": {
          "target": "com.amazonaws.commander#Impact",
          "traits": {
            "smithy.api#documentation": "<p>The impact of the incident on your customers and applications. </p>",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "com.amazonaws.commander#IncidentSummary",
          "traits": {
            "smithy.api#documentation": "<p>The summary of the incident. The summary is a brief synopsis of what occurred, what's\n         currently happening, and context.</p>"
          }
        },
        "dedupeString": {
          "target": "com.amazonaws.commander#DedupeString",
          "traits": {
            "smithy.api#documentation": "<p>Used to stop Incident Manager from creating multiple incident records for the same incident. </p>"
          }
        },
        "notificationTargets": {
          "target": "com.amazonaws.commander#NotificationTargetSet",
          "traits": {
            "smithy.api#documentation": "<p>The SNS targets that AWS Chatbot uses to notify the chat channel of updates to an\n         incident. You can also make updates to the incident through the chat channel using the SNS\n         topics. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Basic details used in creating a response plan. The response plan is then used to create an incident record.</p>"
      }
    },
    "com.amazonaws.commander#IncidentTitle": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 200
        }
      }
    },
    "com.amazonaws.commander#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#length": {
          "max": 100
        }
      }
    },
    "com.amazonaws.commander#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.commander#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or\n      failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.commander#ItemIdentifier": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.amazonaws.commander#ItemValue",
          "traits": {
            "smithy.api#documentation": "<p>Details about the related item.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.commander#ItemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of related item. Incident Manager supports the following types:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ANALYSIS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>INCIDENT</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>METRIC</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>PARENT</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ATTACHMENT</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OTHER</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details and type of a related item.</p>"
      }
    },
    "com.amazonaws.commander#ItemType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ANALYSIS",
            "name": "ANALYSIS"
          },
          {
            "value": "INCIDENT",
            "name": "INCIDENT"
          },
          {
            "value": "METRIC",
            "name": "METRIC"
          },
          {
            "value": "PARENT",
            "name": "PARENT"
          },
          {
            "value": "ATTACHMENT",
            "name": "ATTACHMENT"
          },
          {
            "value": "OTHER",
            "name": "OTHER"
          }
        ]
      }
    },
    "com.amazonaws.commander#ItemValue": {
      "type": "union",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the related item, if the related item is an Amazon\n         resource.</p>"
          }
        },
        "url": {
          "target": "com.amazonaws.commander#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL, if the related item is a non-AWS resource.</p>"
          }
        },
        "metricDefinition": {
          "target": "com.amazonaws.commander#MetricDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The metric definition, if the related item is a metric in CloudWatch.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a related item.</p>"
      }
    },
    "com.amazonaws.commander#ListIncidentRecords": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#ListIncidentRecordsInput"
      },
      "output": {
        "target": "com.amazonaws.commander#ListIncidentRecordsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all incident records in your account. Use this command to retrieve the Amazon\n            Resource Name (ARN) of the incident record you want to update. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listIncidentRecords",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "incidentRecordSummaries",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.commander#ListIncidentRecordsInput": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.commander#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filter the list of incident records you are searching through. You can filter on the\n            following keys:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>creationTime</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>impact</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>status</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>createdBy</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.commander#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results per page.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#ListIncidentRecordsOutput": {
      "type": "structure",
      "members": {
        "incidentRecordSummaries": {
          "target": "com.amazonaws.commander#IncidentRecordSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The details of each listed incident record.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#ListRelatedItems": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#ListRelatedItemsInput"
      },
      "output": {
        "target": "com.amazonaws.commander#ListRelatedItemsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all related items for an incident record.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listRelatedItems",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "relatedItems",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.commander#ListRelatedItemsInput": {
      "type": "structure",
      "members": {
        "incidentRecordArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident record that you are listing related items for.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.commander#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of related items per page.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#ListRelatedItemsOutput": {
      "type": "structure",
      "members": {
        "relatedItems": {
          "target": "com.amazonaws.commander#RelatedItemList",
          "traits": {
            "smithy.api#documentation": "<p>Details about each related item.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#ListReplicationSets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#ListReplicationSetsInput"
      },
      "output": {
        "target": "com.amazonaws.commander#ListReplicationSetsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists details about the replication set configured in your account. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listReplicationSets",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "replicationSetArns",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.commander#ListReplicationSetsInput": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.commander#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results per page. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#ListReplicationSetsOutput": {
      "type": "structure",
      "members": {
        "replicationSetArns": {
          "target": "com.amazonaws.commander#ReplicationSetArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the list replication set.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#ListResponsePlans": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#ListResponsePlansInput"
      },
      "output": {
        "target": "com.amazonaws.commander#ListResponsePlansOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all response plans in your account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listResponsePlans",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "responsePlanSummaries",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.commander#ListResponsePlansInput": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.commander#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of response plans per page.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#ListResponsePlansOutput": {
      "type": "structure",
      "members": {
        "responsePlanSummaries": {
          "target": "com.amazonaws.commander#ResponsePlanSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Details of each response plan.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.commander#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags that are attached to the specified response plan.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.commander#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.commander#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags for the response plan.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#ListTimelineEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#ListTimelineEventsInput"
      },
      "output": {
        "target": "com.amazonaws.commander#ListTimelineEventsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists timeline events of the specified incident record.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listTimelineEvents",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "eventSummaries",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.commander#ListTimelineEventsInput": {
      "type": "structure",
      "members": {
        "incidentRecordArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the incident that the event is part of.</p>",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.amazonaws.commander#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the timeline events based on the provided conditional values. You can filter\n            timeline events using the following keys:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>eventTime</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>eventType</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "sortBy": {
          "target": "com.amazonaws.commander#TimelineEventSort",
          "traits": {
            "smithy.api#documentation": "<p>Sort by the specified key value pair.</p>"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.commander#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Sorts the order of timeline events by the value specified in the <code>sortBy</code>\n            field.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.commander#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results per page.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#ListTimelineEventsOutput": {
      "type": "structure",
      "members": {
        "eventSummaries": {
          "target": "com.amazonaws.commander#EventSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Details about each event that occurred during the incident.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.commander#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to continue to the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.commander#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.commander#MetricDefinition": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 4000
        }
      }
    },
    "com.amazonaws.commander#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1000
        }
      }
    },
    "com.amazonaws.commander#NotificationTargetItem": {
      "type": "union",
      "members": {
        "snsTopicArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SNS topic.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The SNS topic that's used by\n         AWS\n         Chatbot to notify the incidents chat channel.</p>"
      }
    },
    "com.amazonaws.commander#NotificationTargetSet": {
      "type": "set",
      "member": {
        "target": "com.amazonaws.commander#NotificationTargetItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.commander#Policy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 4000
        }
      }
    },
    "com.amazonaws.commander#PolicyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 256
        }
      }
    },
    "com.amazonaws.commander#PutResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.commander#PutResourcePolicyInput"
      },
      "output": {
        "target": "com.amazonaws.commander#PutResourcePolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.commander#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.commander#InternalServerException"
        },
        {
          "target": "com.amazonaws.commander#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.commander#ThrottlingException"
        },
        {
          "target": "com.amazonaws.commander#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a resource policy to the specified response plan.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/putResourcePolicy",
          "code": 200
        }
      }
    },
    "com.amazonaws.commander#PutResourcePolicyInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan you're adding the resource policy\n            to.</p>",
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "com.amazonaws.commander#Policy",
          "traits": {
            "smithy.api#documentation": "<p>Details of the resource policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#PutResourcePolicyOutput": {
      "type": "structure",
      "members": {
        "policyId": {
          "target": "com.amazonaws.commander#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.commander#RawData": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 4000
        }
      }
    },
    "com.amazonaws.commander#RegionInfo": {
      "type": "structure",
      "members": {
        "sseKmsKeyId": {
          "target": "com.amazonaws.commander#SseKmsKey",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key used to encrypt the data in this Region.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.commander#RegionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Region in the replication set.</p>",
            "smithy.api#required": {}
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Information displayed about the status of the Region.</p>"
          }
        },
        "statusUpdateDateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent date and time that the Region's status was updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a Region in your replication set.</p>"
      }
    },
    "com.amazonaws.commander#RegionInfoMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.commander#RegionName"
      },
      "value": {
        "target": "com.amazonaws.commander#RegionInfo"
      }
    },
    "com.amazonaws.commander#RegionMapInput": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.commander#RegionName"
      },
      "value": {
        "target": "com.amazonaws.commander#RegionMapInputValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.commander#RegionMapInputValue": {
      "type": "structure",
      "members": {
        "sseKmsKeyId": {
          "target": "com.amazonaws.commander#SseKmsKey",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key used to encrypt the data in your replication set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The mapping between a Region and the key that's used to encrypt the data.</p>"
      }
    },
    "com.amazonaws.commander#RegionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 20
        }
      }
    },
    "com.amazonaws.commander#RegionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE",
            "documentation": "All operations have completed successfully and the region is ready to use"
          },
          {
            "value": "CREATING",
            "name": "CREATING",
            "documentation": "The region is in the process of being created."
          },
          {
            "value": "DELETING",
            "name": "DELETING",
            "documentation": "The region is in the process of being deleted."
          },
          {
            "value": "FAILED",
            "name": "FAILED",
            "documentation": "The region is not healthy and we cannot automatically fix it."
          }
        ]
      }
    },
    "com.amazonaws.commander#RelatedItem": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.commander#ItemIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Details about the related item.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title of the related item.</p>",
            "smithy.api#length": {
              "max": 200
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Resources that responders use to triage and mitigate the incident.</p>"
      }
    },
    "com.amazonaws.commander#RelatedItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.commander#RelatedItem"
      },
      "traits": {
        "smithy.api#length": {
          "max": 100
        }
      }
    },
    "com.amazonaws.commander#RelatedItemsUpdate": {
      "type": "union",
      "members": {
        "itemToAdd": {
          "target": "com.amazonaws.commander#RelatedItem",
          "traits": {
            "smithy.api#documentation": "<p>Details about the related item you're adding.</p>"
          }
        },
        "itemToRemove": {
          "target": "com.amazonaws.commander#ItemIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Details about the related item you're deleting.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the related item you're adding.</p>"
      }
    },
    "com.amazonaws.commander#ReplicationSet": {
      "type": "structure",
      "members": {
        "regionMap": {
          "target": "com.amazonaws.commander#RegionInfoMap",
          "traits": {
            "smithy.api#documentation": "<p>The map between each Region in your replication set and the KMS key that is used to\n         encrypt the data in that Region.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.commander#ReplicationSetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the replication set. If the replication set is still pending, you can't\n         use Incident Manager functionality.</p>",
            "smithy.api#required": {}
          }
        },
        "deletionProtected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines if the replication set deletion protection is enabled or not. If deletion\n         protection is enabled, you can't delete the last Region in the replication set. </p>",
            "smithy.api#required": {}
          }
        },
        "createdTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the replication set was created.</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Details about who created the replication set.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the replication set was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedBy": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Who last modified the replication set.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The set of Regions that your Incident Manager data will be replicated to and the KMS key used\n         to encrypt the data. </p>"
      }
    },
    "com.amazonaws.commander#ReplicationSetArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.commander#Arn"
      }
    },
    "com.amazonaws.commander#ReplicationSetStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE",
            "documentation": "All operations have completed successfully and the replication set is ready to use"
          },
          {
            "value": "CREATING",
            "name": "CREATING",
            "documentation": "Replication set is in the process of being created."
          },
          {
            "value": "UPDATING",
            "name": "UPDATING",
            "documentation": "Replication set is in the process of being updated."
          },
          {
            "value": "DELETING",
            "name": "DELETING",
            "documentation": "Replication set is in the process of being deleted."
          },
          {
            "value": "FAILED",
            "name": "FAILED",
            "documentation": "Replication set is not healthy and we cannot fix it."
          }
        ]
      }
    },
    "com.amazonaws.commander#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.commander#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the requested resource"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.commander#ResourceType",
          "traits": {
            "smithy.api#documentation": "The resource type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request references a resource which does not exist. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.commander#ResourcePolicy": {
      "type": "structure",
      "members": {
        "policyDocument": {
          "target": "com.amazonaws.commander#Policy",
          "traits": {
            "smithy.api#documentation": "<p>The JSON blob that describes the policy.</p>",
            "smithy.api#required": {}
          }
        },
        "policyId": {
          "target": "com.amazonaws.commander#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource policy.</p>",
            "smithy.api#required": {}
          }
        },
        "ramResourceShareRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Region that policy allows resources to be used in.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource policy that allows Incident Manager to perform actions on resources on your behalf.</p>"
      }
    },
    "com.amazonaws.commander#ResourcePolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.commander#ResourcePolicy"
      },
      "traits": {
        "smithy.api#length": {
          "max": 100
        }
      }
    },
    "com.amazonaws.commander#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RESPONSE_PLAN",
            "name": "RESPONSE_PLAN"
          },
          {
            "value": "INCIDENT_RECORD",
            "name": "INCIDENT_RECORD"
          },
          {
            "value": "TIMELINE_EVENT",
            "name": "TIMELINE_EVENT"
          },
          {
            "value": "REPLICATION_SET",
            "name": "REPLICATION_SET"
          },
          {
            "value": "RESOURCE_POLICY",
            "name": "RESOURCE_POLICY"
          }
        ]
      }
    },
    "com.amazonaws.commander#ResponsePlanDisplayName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 200
        }
      }
    },
    "com.amazonaws.commander#ResponsePlanName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.commander#ResponsePlanSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.commander#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response plan.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.commander#ResponsePlanName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the response plan. This can't include spaces.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.commander#ResponsePlanDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The human readable name of the response plan. This can include spaces.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the response plan that are used when creating an incident.</p>"
      }
    },
    "com.amazonaws.commander#ResponsePlanSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.commander#ResponsePlanSummary"
      },
      "traits": {
        "smithy.api#length": {
          "max": 100
        }
      }
    },
    "com.amazonaws.commander#RoleArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::IAM::Role"
        },
        "smithy.api#length": {
          "max": 1000
        },
        "smithy.api#pattern": "^arn:aws(-cn|-us-gov)?:iam::([0-9]{12})?:role/.+$"
      }
    },
    "com.amazonaws.commander#ServiceCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ssm-incidents",
            "name": "SSM_INCIDENTS"
          }
        ]
      }
    },
    "com.amazonaws.commander#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.commander#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the requested resource"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.commander#ResourceType",
          "traits": {
            "smithy.api#documentation": "The resource type"
          }
        },
        "serviceCode": {
          "target": "com.amazonaws.commander#ServiceCode",
          "traits": {
            "smithy.api#documentation": "Originating service code",
            "smithy.api#required": {}
          }
        },
        "quotaCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Originating quota code",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request would cause a service quota to be exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.commander#SnsArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::SNS::Topic"
        },
        "smithy.api#length": {
          "max": 1000
        }
      }
    },
    "com.amazonaws.commander#SortOrder": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ASCENDING",
            "name": "ASCENDING"
          },
          {
            "value": "DESCENDING",
            "name": "DESCENDING"
          }
        ]
      }
    },
    "com.amazonaws.commander#SseKmsKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        }
      }
    },
    "com.amazonaws.commander#SsmAutomation": {
      "type": "structure",
      "members": {
        "roleArn": {
          "target": "com.amazonaws.commander#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role that the automation document will assume when running commands.</p>",
            "smithy.api#required": {}
          }
        },
        "documentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The automation document's name.</p>",
            "smithy.api#pattern": "^[a-zA-Z0-9_\\-.:/]{3,128}$",
            "smithy.api#required": {}
          }
        },
        "documentVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The automation document's version to use when running.</p>",
            "smithy.api#length": {
              "max": 128
            }
          }
        },
        "targetAccount": {
          "target": "com.amazonaws.commander#SsmTargetAccount",
          "traits": {
            "smithy.api#documentation": "<p>The account that the automation document will be run in. This can be in either the management account or an application account.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.commander#SsmParameters",
          "traits": {
[...]
