{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.comprehend#AnyLengthString": {
      "type": "string"
    },
    "com.amazonaws.comprehend#AttributeNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehend#AttributeNamesListItem"
      }
    },
    "com.amazonaws.comprehend#AttributeNamesListItem": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.comprehend#AugmentedManifestsDocumentTypeFormat": {
      "type": "enum",
      "members": {
        "PLAIN_TEXT_DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAIN_TEXT_DOCUMENT"
          }
        },
        "SEMI_STRUCTURED_DOCUMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEMI_STRUCTURED_DOCUMENT"
          }
        }
      }
    },
    "com.amazonaws.comprehend#AugmentedManifestsListItem": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.comprehend#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of the augmented manifest file.</p>",
            "smithy.api#required": {}
          }
        },
        "Split": {
          "target": "com.amazonaws.comprehend#Split",
          "traits": {
            "smithy.api#documentation": "<p>The purpose of the data you've provided in the augmented manifest. You can either train or\n      test this data. If you don't specify, the default is train.</p>\n         <p>TRAIN - all of the documents in the manifest will be used for training. If no test\n      documents are provided, Amazon Comprehend will automatically reserve a portion of the training\n      documents for testing.</p>\n         <p> TEST - all of the documents in the manifest will be used for testing.</p>"
          }
        },
        "AttributeNames": {
          "target": "com.amazonaws.comprehend#AttributeNamesList",
          "traits": {
            "smithy.api#documentation": "<p>The JSON attribute that contains the annotations for your training documents. The number\n      of attribute names that you specify depends on whether your augmented manifest file is the\n      output of a single labeling job or a chained labeling job.</p>\n         <p>If your file is the output of a single labeling job, specify the LabelAttributeName key\n      that was used when the job was created in Ground Truth.</p>\n         <p>If your file is the output of a chained labeling job, specify the LabelAttributeName key\n      for one or more jobs in the chain. Each LabelAttributeName key provides the annotations from\n      an individual job.</p>",
            "smithy.api#required": {}
          }
        },
        "AnnotationDataS3Uri": {
          "target": "com.amazonaws.comprehend#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 prefix to the annotation files that are referred in the augmented manifest\n      file.</p>"
          }
        },
        "SourceDocumentsS3Uri": {
          "target": "com.amazonaws.comprehend#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3 prefix to the source files (PDFs) that are referred to in the augmented manifest\n      file.</p>"
          }
        },
        "DocumentType": {
          "target": "com.amazonaws.comprehend#AugmentedManifestsDocumentTypeFormat",
          "traits": {
            "smithy.api#documentation": "<p>The type of augmented manifest. PlainTextDocument or SemiStructuredDocument. If you don't\n      specify, the default is PlainTextDocument. </p>\n         <ul>\n            <li>\n               <p>\n                  <code>PLAIN_TEXT_DOCUMENT</code> A document type that represents any unicode text that\n          is encoded in UTF-8.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SEMI_STRUCTURED_DOCUMENT</code> A document type with positional and structural\n          context, like a PDF. For training with Amazon Comprehend, only PDFs are supported. For\n          inference, Amazon Comprehend support PDFs, DOCX and TXT.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An augmented manifest file that provides training data for your custom model. An augmented\n      manifest file is a labeled dataset that is produced by Amazon SageMaker Ground Truth.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectDominantLanguage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectDominantLanguageRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectDominantLanguageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Determines the dominant language of the input text for a batch of documents. For a list\n      of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>.\n    </p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectDominantLanguageItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "Languages": {
          "target": "com.amazonaws.comprehend#ListOfDominantLanguages",
          "traits": {
            "smithy.api#documentation": "<p>One or more <a>DominantLanguage</a> objects describing the dominant\n      languages in the document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of calling the  operation.\n      The operation returns one object for each document that is successfully processed by the\n      operation.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectDominantLanguageRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25\n      documents. Each document should contain at least 20 characters. The maximum size of each document is 5 KB.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectDominantLanguageResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectDominantLanguageResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of  objects\n      containing the results of the operation. The results are sorted in ascending order by the\n        <code>Index</code> field and match the order of the documents in the input list. If all of\n      the documents contain an error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing one  object for each document\n      that contained an error. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If there are no errors in the\n      batch, the <code>ErrorList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects the text of a batch of documents for named entities and returns information\n      about them. For more information about named entities, see\n      <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-entities.html\">Entities</a> in the Comprehend Developer Guide.\n    </p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectEntitiesItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "Entities": {
          "target": "com.amazonaws.comprehend#ListOfEntities",
          "traits": {
            "smithy.api#documentation": "<p>One or more <a>Entity</a> objects, one for each entity detected in the\n      document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of calling the  operation. The\n      operation returns one object for each document that is successfully processed by the\n      operation.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectEntitiesRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25\n      documents. The maximum size of each document is 5 KB.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the primary languages\n      supported by Amazon Comprehend. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectEntitiesResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectEntitiesResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of  objects containing the\n      results of the operation. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If all of the documents contain\n      an error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing one  object for each document\n      that contained an error. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If there are no errors in the\n      batch, the <code>ErrorList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectKeyPhrases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectKeyPhrasesRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectKeyPhrasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detects the key noun phrases found in a batch of documents.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectKeyPhrasesItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "KeyPhrases": {
          "target": "com.amazonaws.comprehend#ListOfKeyPhrases",
          "traits": {
            "smithy.api#documentation": "<p>One or more <a>KeyPhrase</a> objects, one for each key phrase detected in\n      the document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of calling the  operation. The\n      operation returns one object for each document that is successfully processed by the\n      operation.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectKeyPhrasesRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25\n      documents. The maximum size of each document is 5 KB.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the primary languages\n      supported by Amazon Comprehend. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectKeyPhrasesResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectKeyPhrasesResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of  objects containing the\n      results of the operation. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If all of the documents contain\n      an error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing one  object for each document\n      that contained an error. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If there are no errors in the\n      batch, the <code>ErrorList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectSentiment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectSentimentRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectSentimentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects a batch of documents and returns an inference of the prevailing sentiment,\n        <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>,\n      in each one.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectSentimentItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "Sentiment": {
          "target": "com.amazonaws.comprehend#SentimentType",
          "traits": {
            "smithy.api#documentation": "<p>The sentiment detected in the document.</p>"
          }
        },
        "SentimentScore": {
          "target": "com.amazonaws.comprehend#SentimentScore",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend has in the accuracy of its sentiment\n      detection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of calling the  operation. The\n      operation returns one object for each document that is successfully processed by the\n      operation.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectSentimentRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25\n      documents. The maximum size of each document is 5 KB. </p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the primary languages\n      supported by Amazon Comprehend. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectSentimentResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectSentimentResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of  objects containing the\n      results of the operation. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If all of the documents contain\n      an error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing one  object for each document\n      that contained an error. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If there are no errors in the\n      batch, the <code>ErrorList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectSyntax": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectSyntaxRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectSyntaxResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects the text of a batch of documents for the syntax and part of speech of the words\n      in the document and returns information about them. For more information, see\n      <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-syntax.html\">Syntax</a> in the Comprehend Developer Guide.\n    </p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectSyntaxItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "SyntaxTokens": {
          "target": "com.amazonaws.comprehend#ListOfSyntaxTokens",
          "traits": {
            "smithy.api#documentation": "<p>The syntax tokens for the words in the document, one token for each word.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of calling the  operation. The\n      operation returns one object that is successfully processed by the operation.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectSyntaxRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25\n      documents. The maximum size for each document is 5 KB.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#SyntaxLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the following languages\n      supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"),\n      Italian (\"it\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectSyntaxResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectSyntaxResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of  objects containing the\n      results of the operation. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If all of the documents contain\n      an error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing one  object for each document that\n      contained an error. The results are sorted in ascending order by the <code>Index</code> field\n      and match the order of the documents in the input list. If there are no errors in the batch,\n      the <code>ErrorList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectTargetedSentiment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectTargetedSentimentRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectTargetedSentimentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects a batch of documents and returns a sentiment analysis\n      for each entity identified in the documents.</p>\n         <p>For more information about targeted sentiment, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-targeted-sentiment.html\">Targeted sentiment</a>.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectTargetedSentimentItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of this result in the input list.</p>"
          }
        },
        "Entities": {
          "target": "com.amazonaws.comprehend#ListOfTargetedSentimentEntities",
          "traits": {
            "smithy.api#documentation": "<p>An array of targeted sentiment entities.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Analysis results for one of the documents in the batch.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectTargetedSentimentRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the UTF-8 encoded text of the input documents.\n      The list can contain a maximum of 25 documents. The maximum size of each document is 5 KB.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. Currently, English is the only supported language.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectTargetedSentimentResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectTargetedSentimentResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the results of the operation.\n      The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list.\n      If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>List of errors that the operation can return.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchItemError": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>The numeric error code of the error.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>A text description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an error that occurred while processing a document in a batch. The operation\n      returns on <code>BatchItemError</code> object for each document that contained an\n      error.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchItemErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehend#BatchItemError"
      }
    },
    "com.amazonaws.comprehend#BatchSizeLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.comprehend#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of documents in the request exceeds the limit of 25. Try your request again\n      with fewer documents.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.comprehend#Block": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the block.</p>"
          }
        },
        "BlockType": {
          "target": "com.amazonaws.comprehend#BlockType",
          "traits": {
            "smithy.api#documentation": "<p>The block represents a line of text or one word of text.</p>\n         <ul>\n            <li>\n               <p>WORD - A word that's detected on a document page.\n        A word is one or more ISO basic Latin script characters that aren't separated by spaces.</p>\n            </li>\n            <li>\n               <p>LINE - A string of tab-delimited, contiguous words\n        that are detected on a document page</p>\n            </li>\n         </ul>"
          }
        },
        "Text": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>The word or line of text extracted from the block.</p>"
          }
        },
        "Page": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Page number where the block appears.</p>"
          }
        },
        "Geometry": {
          "target": "com.amazonaws.comprehend#Geometry",
          "traits": {
            "smithy.api#documentation": "<p>Co-ordinates of the rectangle or polygon that contains the text.</p>"
          }
        },
        "Relationships": {
          "target": "com.amazonaws.comprehend#ListOfRelationships",
          "traits": {
            "smithy.api#documentation": "<p>A list of child blocks of the current block.\n      For example, a LINE object has child blocks for each WORD block that's part of the line of text. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about each word or line of text in the input document.</p>\n         <p>For additional information, see <a href=\"https://docs.aws.amazon.com/textract/latest/dg/API_Block.html\">Block</a> in the Amazon Textract API reference.</p>"
      }
    },
    "com.amazonaws.comprehend#BlockReference": {
      "type": "structure",
      "members": {
        "BlockId": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the block.</p>"
          }
        },
        "BeginOffset": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Offset of the start of the block within its parent block.</p>"
          }
        },
        "EndOffset": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Offset of the end of the block within its parent block.</p>"
          }
        },
        "ChildBlocks": {
          "target": "com.amazonaws.comprehend#ListOfChildBlocks",
          "traits": {
            "smithy.api#documentation": "<p>List of child blocks within this block.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A reference to a block. </p>"
      }
    },
    "com.amazonaws.comprehend#BlockType": {
      "type": "enum",
      "members": {
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "WORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORD"
          }
        }
      }
    },
    "com.amazonaws.comprehend#BoundingBox": {
      "type": "structure",
      "members": {
        "Height": {
          "target": "com.amazonaws.comprehend#Float",
          "traits": {
            "smithy.api#documentation": "<p>The height of the bounding box as a ratio of the overall document page height.</p>"
          }
        },
        "Left": {
          "target": "com.amazonaws.comprehend#Float",
          "traits": {
            "smithy.api#documentation": "<p>The left coordinate of the bounding box as a ratio of overall document page width.</p>"
          }
        },
        "Top": {
          "target": "com.amazonaws.comprehend#Float",
          "traits": {
            "smithy.api#documentation": "<p>The top coordinate of the bounding box as a ratio of overall document page height.</p>"
          }
        },
        "Width": {
          "target": "com.amazonaws.comprehend#Float",
          "traits": {
            "smithy.api#documentation": "<p>The width of the bounding box as a ratio of the overall document page width.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The bounding box around the detected page\n     or around an element on a document page.\n    The left (x-coordinate) and top (y-coordinate) are coordinates that\n      represent the top and left sides of the bounding box. Note that the upper-left\n      corner of the image is the origin (0,0). </p>\n         <p>For additional information, see <a href=\"https://docs.aws.amazon.com/textract/latest/dg/API_BoundingBox.html\">BoundingBox</a> in the Amazon Textract API reference.</p>"
      }
    },
    "com.amazonaws.comprehend#ChildBlock": {
      "type": "structure",
      "members": {
        "ChildBlockId": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the child block.</p>"
          }
        },
        "BeginOffset": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Offset of the start of the child block within its parent block.</p>"
          }
        },
        "EndOffset": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Offset of the end of the child block within its parent block.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Nested block contained within a block.</p>"
      }
    },
    "com.amazonaws.comprehend#ClassifierEvaluationMetrics": {
      "type": "structure",
      "members": {
        "Accuracy": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>The fraction of the labels that were correct recognized. It is computed by dividing the\n      number of labels in the test documents that were correctly recognized by the total number of\n      labels in the test documents.</p>"
          }
        },
        "Precision": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of the usefulness of the classifier results in the test data. High precision\n      means that the classifier returned substantially more relevant results than irrelevant\n      ones.</p>"
          }
        },
        "Recall": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of how complete the classifier results are for the test data. High recall means\n      that the classifier returned most of the relevant results. </p>"
          }
        },
        "F1Score": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of how accurate the classifier results are for the test data. It is derived from\n      the <code>Precision</code> and <code>Recall</code> values. The <code>F1Score</code> is the\n      harmonic average of the two scores. The highest score is 1, and the worst score is 0. </p>"
          }
        },
        "MicroPrecision": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of the usefulness of the recognizer results in the test data. High precision\n      means that the recognizer returned substantially more relevant results than irrelevant ones.\n      Unlike the Precision metric which comes from averaging the precision of all available labels,\n      this is based on the overall score of all precision scores added together.</p>"
          }
        },
        "MicroRecall": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of how complete the classifier results are for the test data. High recall means\n      that the classifier returned most of the relevant results. Specifically, this indicates how\n      many of the correct categories in the text that the model can predict. It is a percentage of\n      correct categories in the text that can found. Instead of averaging the recall scores of all\n      labels (as with Recall), micro Recall is based on the overall score of all recall scores added\n      together.</p>"
          }
        },
        "MicroF1Score": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of how accurate the classifier results are for the test data. It is a\n      combination of the <code>Micro Precision</code> and <code>Micro Recall</code> values. The\n        <code>Micro F1Score</code> is the harmonic mean of the two scores. The highest score is 1,\n      and the worst score is 0.</p>"
          }
        },
        "HammingLoss": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the fraction of labels that are incorrectly predicted. Also seen as the fraction\n      of wrong labels compared to the total number of labels. Scores closer to zero are\n      better.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the result metrics for the test data associated with an documentation\n      classifier.</p>"
      }
    },
    "com.amazonaws.comprehend#ClassifierMetadata": {
      "type": "structure",
      "members": {
        "NumberOfLabels": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of labels in the input data. </p>"
          }
        },
        "NumberOfTrainedDocuments": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents in the input data that were used to train the classifier.\n      Typically this is 80 to 90 percent of the input documents.</p>"
          }
        },
        "NumberOfTestDocuments": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents in the input data that were used to test the classifier. Typically\n      this is 10 to 20 percent of the input documents, up to 10,000 documents.</p>"
          }
        },
        "EvaluationMetrics": {
          "target": "com.amazonaws.comprehend#ClassifierEvaluationMetrics",
          "traits": {
            "smithy.api#documentation": "<p> Describes the result metrics for the test data associated with an documentation\n      classifier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a document classifier.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#ClassifyDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#ClassifyDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#ClassifyDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new document classification request to analyze a single document in real-time,\n      using a previously created and trained custom model and an endpoint.</p>\n         <p>You can input plain text or you can upload a single-page input document (text, PDF, Word, or image). </p>\n         <p>If the system detects errors while processing a page in the input document,\n      the API response includes an entry in <code>Errors</code> that describes the errors.</p>\n         <p>If the system detects a document-level error in your input document, the API returns an\n      <code>InvalidRequestException</code> error response.\n      For details about this exception, see\n      <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/idp-inputs-sync-err.html\">\n        Errors in semi-structured documents</a> in the Comprehend Developer Guide.\n    </p>"
      }
    },
    "com.amazonaws.comprehend#ClassifyDocumentRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehend#CustomerInputString",
          "traits": {
            "smithy.api#documentation": "<p>The document text to be analyzed. If you enter text using this parameter,\n      do not use the <code>Bytes</code> parameter.</p>"
          }
        },
        "EndpointArn": {
          "target": "com.amazonaws.comprehend#DocumentClassifierEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the endpoint. For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Bytes": {
          "target": "com.amazonaws.comprehend#SemiStructuredDocumentBlob",
          "traits": {
            "smithy.api#documentation": "<p>Use the <code>Bytes</code> parameter to input a text, PDF, Word or image file.\n      You can also use the <code>Bytes</code> parameter to input an Amazon Textract <code>DetectDocumentText</code>\n      or <code>AnalyzeDocument</code> output file.</p>\n         <p>Provide the input document as a sequence of base64-encoded bytes.\n      If your code uses an Amazon Web Services SDK to classify documents, the SDK may encode\n      the document file bytes for you. </p>\n         <p>The maximum length of this field depends on the input document type. For details, see\n      <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/idp-inputs-sync.html\">\n        Inputs for real-time custom analysis</a> in the Comprehend Developer Guide. </p>\n         <p>If you use the <code>Bytes</code> parameter, do not use the <code>Text</code> parameter.</p>"
          }
        },
        "DocumentReaderConfig": {
          "target": "com.amazonaws.comprehend#DocumentReaderConfig",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration parameters to override the default actions for extracting text\n      from PDF documents and image files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.comprehend#ClassifyDocumentResponse": {
      "type": "structure",
      "members": {
        "Classes": {
          "target": "com.amazonaws.comprehend#ListOfClasses",
          "traits": {
            "smithy.api#documentation": "<p>The classes used by the document being analyzed. These are used for multi-class trained\n      models. Individual classes are mutually exclusive and each document is expected to have only a\n      single class assigned to it. For example, an animal can be a dog or a cat, but not both at the\n      same time. </p>"
          }
        },
        "Labels": {
          "target": "com.amazonaws.comprehend#ListOfLabels",
          "traits": {
            "smithy.api#documentation": "<p>The labels used the document being analyzed. These are used for multi-label trained\n      models. Individual labels represent different categories that are related in some manner and\n      are not mutually exclusive. For example, a movie can be just an action movie, or it can be an\n      action movie, a science fiction movie, and a comedy, all at the same time. </p>"
          }
        },
        "DocumentMetadata": {
          "target": "com.amazonaws.comprehend#DocumentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Extraction information about the document. This field is present\n      in the response only if your request includes the <code>Byte</code> parameter. </p>"
          }
        },
        "DocumentType": {
          "target": "com.amazonaws.comprehend#ListOfDocumentType",
          "traits": {
            "smithy.api#documentation": "<p>The document type for each page in the input document. This field is present\n      in the response only if your request includes the <code>Byte</code> parameter. </p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.comprehend#ListOfErrors",
          "traits": {
            "smithy.api#documentation": "<p>Page-level errors that the system detected while processing the input document.\n      The field is empty if the system encountered no errors.</p>"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.comprehend#ListOfWarnings",
          "traits": {
            "smithy.api#documentation": "<p>Warnings detected while processing the input document.\n      The response includes a warning if there is a mismatch between the input document type \n      and the model type associated with the endpoint that you specified. The response can also include\n       warnings for individual pages that have a mismatch. </p>\n         <p>The field is empty if the system generated no warnings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#ClientRequestTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.comprehend#ComprehendArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-]{1,64}/[a-zA-Z0-9](-*[a-zA-Z0-9])*((/dataset/[a-zA-Z0-9](-*[a-zA-Z0-9])*)|(/version/[a-zA-Z0-9](-*[a-zA-Z0-9])*))?$"
      }
    },
    "com.amazonaws.comprehend#ComprehendArnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.comprehend#ComprehendDatasetArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:flywheel/[a-zA-Z0-9](-*[a-zA-Z0-9])*/dataset/[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.comprehend#ComprehendEndpointArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier-endpoint|entity-recognizer-endpoint)/[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.comprehend#ComprehendEndpointName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 40
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.comprehend#ComprehendFlywheelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:flywheel/[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.comprehend#ComprehendModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier|entity-recognizer)/[a-zA-Z0-9](-*[a-zA-Z0-9])*(/version/[a-zA-Z0-9](-*[a-zA-Z0-9])*)?$"
      }
    },
    "com.amazonaws.comprehend#Comprehend_20171127": {
      "type": "service",
      "version": "2017-11-27",
      "operations": [
        {
          "target": "com.amazonaws.comprehend#BatchDetectDominantLanguage"
        },
        {
          "target": "com.amazonaws.comprehend#BatchDetectEntities"
        },
        {
          "target": "com.amazonaws.comprehend#BatchDetectKeyPhrases"
        },
        {
          "target": "com.amazonaws.comprehend#BatchDetectSentiment"
        },
        {
          "target": "com.amazonaws.comprehend#BatchDetectSyntax"
        },
        {
          "target": "com.amazonaws.comprehend#BatchDetectTargetedSentiment"
        },
        {
          "target": "com.amazonaws.comprehend#ClassifyDocument"
        },
        {
          "target": "com.amazonaws.comprehend#ContainsPiiEntities"
        },
        {
          "target": "com.amazonaws.comprehend#CreateDataset"
        },
        {
          "target": "com.amazonaws.comprehend#CreateDocumentClassifier"
        },
        {
          "target": "com.amazonaws.comprehend#CreateEndpoint"
        },
        {
          "target": "com.amazonaws.comprehend#CreateEntityRecognizer"
        },
        {
          "target": "com.amazonaws.comprehend#CreateFlywheel"
        },
        {
          "target": "com.amazonaws.comprehend#DeleteDocumentClassifier"
        },
        {
          "target": "com.amazonaws.comprehend#DeleteEndpoint"
        },
        {
          "target": "com.amazonaws.comprehend#DeleteEntityRecognizer"
        },
        {
          "target": "com.amazonaws.comprehend#DeleteFlywheel"
        },
        {
          "target": "com.amazonaws.comprehend#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeDataset"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeDocumentClassificationJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeDocumentClassifier"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeDominantLanguageDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeEndpoint"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeEntityRecognizer"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeEventsDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeFlywheel"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeFlywheelIteration"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeKeyPhrasesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribePiiEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeResourcePolicy"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeSentimentDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeTargetedSentimentDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeTopicsDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DetectDominantLanguage"
        },
        {
          "target": "com.amazonaws.comprehend#DetectEntities"
        },
        {
          "target": "com.amazonaws.comprehend#DetectKeyPhrases"
        },
        {
          "target": "com.amazonaws.comprehend#DetectPiiEntities"
        },
        {
          "target": "com.amazonaws.comprehend#DetectSentiment"
        },
        {
          "target": "com.amazonaws.comprehend#DetectSyntax"
        },
        {
          "target": "com.amazonaws.comprehend#DetectTargetedSentiment"
        },
        {
          "target": "com.amazonaws.comprehend#ImportModel"
        },
        {
          "target": "com.amazonaws.comprehend#ListDatasets"
        },
        {
          "target": "com.amazonaws.comprehend#ListDocumentClassificationJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListDocumentClassifiers"
        },
        {
          "target": "com.amazonaws.comprehend#ListDocumentClassifierSummaries"
        },
        {
          "target": "com.amazonaws.comprehend#ListDominantLanguageDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListEndpoints"
        },
        {
          "target": "com.amazonaws.comprehend#ListEntitiesDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListEntityRecognizers"
        },
        {
          "target": "com.amazonaws.comprehend#ListEntityRecognizerSummaries"
        },
        {
          "target": "com.amazonaws.comprehend#ListEventsDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListFlywheelIterationHistory"
        },
        {
          "target": "com.amazonaws.comprehend#ListFlywheels"
        },
        {
          "target": "com.amazonaws.comprehend#ListKeyPhrasesDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListPiiEntitiesDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListSentimentDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.comprehend#ListTargetedSentimentDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListTopicsDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.comprehend#StartDocumentClassificationJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartDominantLanguageDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartEventsDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartFlywheelIteration"
        },
        {
          "target": "com.amazonaws.comprehend#StartKeyPhrasesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartPiiEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartSentimentDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartTargetedSentimentDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartTopicsDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopDominantLanguageDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopEventsDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopKeyPhrasesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopPiiEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopSentimentDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopTargetedSentimentDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopTrainingDocumentClassifier"
        },
        {
          "target": "com.amazonaws.comprehend#StopTrainingEntityRecognizer"
        },
        {
          "target": "com.amazonaws.comprehend#TagResource"
        },
        {
          "target": "com.amazonaws.comprehend#UntagResource"
        },
        {
          "target": "com.amazonaws.comprehend#UpdateEndpoint"
        },
        {
          "target": "com.amazonaws.comprehend#UpdateFlywheel"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Comprehend",
          "arnNamespace": "comprehend",
          "cloudFormationName": "Comprehend",
          "cloudTrailEventSource": "comprehend.amazonaws.com",
          "endpointPrefix": "comprehend"
        },
        "aws.auth#sigv4": {
          "name": "comprehend"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Comprehend is an Amazon Web Services service for gaining insight into the content of documents.\n      Use these actions to determine the topics contained in your documents, the topics they\n      discuss, the predominant sentiment expressed in them, the predominant language used, and\n      more.</p>",
        "smithy.api#title": "Amazon Comprehend",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://comprehend-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://comprehend-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://comprehend.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://comprehend.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://comprehend.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.comprehend#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.comprehend#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Concurrent modification of the tags associated with an Amazon Comprehend resource is not\n      supported. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.comprehend#ContainsPiiEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#ContainsPiiEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#ContainsPiiEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Analyzes input text for the presence of personally identifiable information (PII) and\n      returns the labels of identified PII entity types such as name, address, bank account number,\n      or phone number.</p>"
      }
    },
    "com.amazonaws.comprehend#ContainsPiiEntitiesRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>A UTF-8 text string. The maximum string size is 100 KB.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. Currently, English is the only valid language.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.comprehend#ContainsPiiEntitiesResponse": {
      "type": "structure",
      "members": {
        "Labels": {
          "target": "com.amazonaws.comprehend#ListOfEntityLabels",
          "traits": {
            "smithy.api#documentation": "<p>The labels used in the document being analyzed. Individual labels represent personally\n      identifiable information (PII) entity types.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.comprehend#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a dataset to upload training or test data for a model associated with a flywheel.\n      For more information about datasets, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/flywheels-about.html\">\n      Flywheel overview</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.comprehend#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "FlywheelArn": {
          "target": "com.amazonaws.comprehend#ComprehendFlywheelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the flywheel of the flywheel to receive the data.</p>",
            "smithy.api#required": {}
          }
        },
        "DatasetName": {
          "target": "com.amazonaws.comprehend#ComprehendArnName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.comprehend#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The dataset type. You can specify that the data in a dataset is for training\n      the model or for testing the model.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.comprehend#Description",
          "traits": {
            "smithy.api#documentation": "<p>Description of the dataset.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.comprehend#DatasetInputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the input data configuration. The type of input data varies based\n      on the format of the input and whether the data is for a classifier model or an entity recognition model.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.comprehend#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the request. If you don't set the client request token, Amazon\n      Comprehend generates one.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.comprehend#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.comprehend#CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "DatasetArn": {
          "target": "com.amazonaws.comprehend#ComprehendDatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.comprehend#CreateDocumentClassifier": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#CreateDocumentClassifierRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#CreateDocumentClassifierResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#KmsKeyValidationException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new document classifier that you can use to categorize documents. To create a\n      classifier, you provide a set of training documents that are labeled with the categories that you\n      want to use. For more information, see\n      <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/training-classifier-model.html\">Training classifier models</a> \n      in the Comprehend Developer Guide.\n    </p>"
      }
    },
    "com.amazonaws.comprehend#CreateDocumentClassifierRequest": {
      "type": "structure",
      "members": {
        "DocumentClassifierName": {
          "target": "com.amazonaws.comprehend#ComprehendArnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the document classifier.</p>",
            "smithy.api#required": {}
          }
        },
        "VersionName": {
          "target": "com.amazonaws.comprehend#VersionName",
          "traits": {
            "smithy.api#documentation": "<p>The version name given to the newly created classifier. Version names can have a maximum\n      of 256 characters. Alphanumeric characters, hyphens (-) and underscores (_) are allowed. The\n      version name must be unique among all models with the same classifier name in the Amazon Web Services account/Amazon Web Services Region.</p>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.comprehend#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that\n      grants Amazon Comprehend read access to your input data.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.comprehend#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with the document classifier. A tag is a key-value\n      pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with\n      \"Sales\" as the key might be added to a resource to indicate its use by the sales department.\n    </p>"
[...]
