{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.comprehend#AnyLengthString": {
      "type": "string"
    },
    "com.amazonaws.comprehend#AttributeNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehend#AttributeNamesListItem"
      }
    },
    "com.amazonaws.comprehend#AttributeNamesListItem": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
      }
    },
    "com.amazonaws.comprehend#AugmentedManifestsListItem": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.comprehend#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of the augmented manifest file.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeNames": {
          "target": "com.amazonaws.comprehend#AttributeNamesList",
          "traits": {
            "smithy.api#documentation": "<p>The JSON attribute that contains the annotations for your training documents. The number\n      of attribute names that you specify depends on whether your augmented manifest file is the\n      output of a single labeling job or a chained labeling job.</p>\n         <p>If your file is the output of a single labeling job, specify the LabelAttributeName key\n      that was used when the job was created in Ground Truth.</p>\n         <p>If your file is the output of a chained labeling job, specify the LabelAttributeName key\n      for one or more jobs in the chain. Each LabelAttributeName key provides the annotations from\n      an individual job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An augmented manifest file that provides training data for your custom model. An augmented\n      manifest file is a labeled dataset that is produced by Amazon SageMaker Ground Truth.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectDominantLanguage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectDominantLanguageRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectDominantLanguageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Determines the dominant language of the input text for a batch of documents. For a list\n      of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>.\n    </p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectDominantLanguageItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "Languages": {
          "target": "com.amazonaws.comprehend#ListOfDominantLanguages",
          "traits": {
            "smithy.api#documentation": "<p>One or more <a>DominantLanguage</a> objects describing the dominant\n      languages in the document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of calling the  operation.\n      The operation returns one object for each document that is successfully processed by the\n      operation.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectDominantLanguageRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the text of the input documents. The list can contain a maximum of 25\n      documents. Each document should contain at least 20 characters and must contain fewer than\n      5,000 bytes of UTF-8 encoded characters.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#BatchDetectDominantLanguageResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectDominantLanguageResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of  objects\n      containing the results of the operation. The results are sorted in ascending order by the\n        <code>Index</code> field and match the order of the documents in the input list. If all of\n      the documents contain an error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing one  object for each document\n      that contained an error. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If there are no errors in the\n      batch, the <code>ErrorList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects the text of a batch of documents for named entities and returns information\n      about them. For more information about named entities, see <a>how-entities</a>\n         </p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectEntitiesItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "Entities": {
          "target": "com.amazonaws.comprehend#ListOfEntities",
          "traits": {
            "smithy.api#documentation": "<p>One or more <a>Entity</a> objects, one for each entity detected in the\n      document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of calling the  operation. The\n      operation returns one object for each document that is successfully processed by the\n      operation.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectEntitiesRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the text of the input documents. The list can contain a maximum of 25\n      documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded\n      characters.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the primary languages\n      supported by Amazon Comprehend. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#BatchDetectEntitiesResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectEntitiesResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of  objects containing the\n      results of the operation. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If all of the documents contain\n      an error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing one  object for each document\n      that contained an error. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If there are no errors in the\n      batch, the <code>ErrorList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectKeyPhrases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectKeyPhrasesRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectKeyPhrasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detects the key noun phrases found in a batch of documents.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectKeyPhrasesItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "KeyPhrases": {
          "target": "com.amazonaws.comprehend#ListOfKeyPhrases",
          "traits": {
            "smithy.api#documentation": "<p>One or more <a>KeyPhrase</a> objects, one for each key phrase detected in\n      the document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of calling the  operation. The\n      operation returns one object for each document that is successfully processed by the\n      operation.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectKeyPhrasesRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the text of the input documents. The list can contain a maximum of 25\n      documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded\n      characters.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the primary languages\n      supported by Amazon Comprehend. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#BatchDetectKeyPhrasesResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectKeyPhrasesResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of  objects containing the\n      results of the operation. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If all of the documents contain\n      an error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing one  object for each document\n      that contained an error. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If there are no errors in the\n      batch, the <code>ErrorList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectSentiment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectSentimentRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectSentimentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects a batch of documents and returns an inference of the prevailing sentiment,\n        <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>,\n      in each one.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectSentimentItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "Sentiment": {
          "target": "com.amazonaws.comprehend#SentimentType",
          "traits": {
            "smithy.api#documentation": "<p>The sentiment detected in the document.</p>"
          }
        },
        "SentimentScore": {
          "target": "com.amazonaws.comprehend#SentimentScore",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend has in the accuracy of its sentiment\n      detection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of calling the  operation. The\n      operation returns one object for each document that is successfully processed by the\n      operation.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectSentimentRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the text of the input documents. The list can contain a maximum of 25\n      documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded\n      characters.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the primary languages\n      supported by Amazon Comprehend. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#BatchDetectSentimentResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectSentimentResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of  objects containing the\n      results of the operation. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If all of the documents contain\n      an error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing one  object for each document\n      that contained an error. The results are sorted in ascending order by the <code>Index</code>\n      field and match the order of the documents in the input list. If there are no errors in the\n      batch, the <code>ErrorList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchDetectSyntax": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#BatchDetectSyntaxRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#BatchDetectSyntaxResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#BatchSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects the text of a batch of documents for the syntax and part of speech of the words\n      in the document and returns information about them. For more information, see <a>how-syntax</a>.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectSyntaxItemResult": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "SyntaxTokens": {
          "target": "com.amazonaws.comprehend#ListOfSyntaxTokens",
          "traits": {
            "smithy.api#documentation": "<p>The syntax tokens for the words in the document, one token for each word.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of calling the  operation. The operation\n      returns one object that is successfully processed by the operation.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchDetectSyntaxRequest": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.comprehend#CustomerInputStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the text of the input documents. The list can contain a maximum of 25\n      documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded\n      characters.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#SyntaxLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the following languages\n      supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"),\n      Italian (\"it\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#BatchDetectSyntaxResponse": {
      "type": "structure",
      "members": {
        "ResultList": {
          "target": "com.amazonaws.comprehend#ListOfDetectSyntaxResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of  objects containing the results\n      of the operation. The results are sorted in ascending order by the <code>Index</code> field\n      and match the order of the documents in the input list. If all of the documents contain an\n      error, the <code>ResultList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorList": {
          "target": "com.amazonaws.comprehend#BatchItemErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing one  object for each document that\n      contained an error. The results are sorted in ascending order by the <code>Index</code> field\n      and match the order of the documents in the input list. If there are no errors in the batch,\n      the <code>ErrorList</code> is empty.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#BatchItemError": {
      "type": "structure",
      "members": {
        "Index": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based index of the document in the input list.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>The numeric error code of the error.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>A text description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an error that occurred while processing a document in a batch. The operation\n      returns on <code>BatchItemError</code> object for each document that contained an\n      error.</p>"
      }
    },
    "com.amazonaws.comprehend#BatchItemErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehend#BatchItemError"
      }
    },
    "com.amazonaws.comprehend#BatchSizeLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.comprehend#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of documents in the request exceeds the limit of 25. Try your request again\n      with fewer documents.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.comprehend#ClassifierEvaluationMetrics": {
      "type": "structure",
      "members": {
        "Accuracy": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>The fraction of the labels that were correct recognized. It is computed by dividing the\n      number of labels in the test documents that were correctly recognized by the total number of\n      labels in the test documents.</p>"
          }
        },
        "Precision": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of the usefulness of the classifier results in the test data. High precision\n      means that the classifier returned substantially more relevant results than irrelevant\n      ones.</p>"
          }
        },
        "Recall": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of how complete the classifier results are for the test data. High recall means\n      that the classifier returned most of the relevant results. </p>"
          }
        },
        "F1Score": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of how accurate the classifier results are for the test data. It is derived from\n      the <code>Precision</code> and <code>Recall</code> values. The <code>F1Score</code> is the\n      harmonic average of the two scores. The highest score is 1, and the worst score is 0. </p>"
          }
        },
        "MicroPrecision": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of the usefulness of the recognizer results in the test data. High precision\n      means that the recognizer returned substantially more relevant results than irrelevant ones.\n      Unlike the Precision metric which comes from averaging the precision of all available labels,\n      this is based on the overall score of all precision scores added together.</p>"
          }
        },
        "MicroRecall": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of how complete the classifier results are for the test data. High recall means\n      that the classifier returned most of the relevant results. Specifically, this indicates how\n      many of the correct categories in the text that the model can predict. It is a percentage of\n      correct categories in the text that can found. Instead of averaging the recall scores of all\n      labels (as with Recall), micro Recall is based on the overall score of all recall scores added\n      together.</p>"
          }
        },
        "MicroF1Score": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>A measure of how accurate the classifier results are for the test data. It is a\n      combination of the <code>Micro Precision</code> and <code>Micro Recall</code> values. The\n        <code>Micro F1Score</code> is the harmonic mean of the two scores. The highest score is 1,\n      and the worst score is 0.</p>"
          }
        },
        "HammingLoss": {
          "target": "com.amazonaws.comprehend#Double",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the fraction of labels that are incorrectly predicted. Also seen as the fraction\n      of wrong labels compared to the total number of labels. Scores closer to zero are\n      better.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the result metrics for the test data associated with an documentation\n      classifier.</p>"
      }
    },
    "com.amazonaws.comprehend#ClassifierMetadata": {
      "type": "structure",
      "members": {
        "NumberOfLabels": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of labels in the input data. </p>"
          }
        },
        "NumberOfTrainedDocuments": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents in the input data that were used to train the classifier.\n      Typically this is 80 to 90 percent of the input documents.</p>"
          }
        },
        "NumberOfTestDocuments": {
          "target": "com.amazonaws.comprehend#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents in the input data that were used to test the classifier. Typically\n      this is 10 to 20 percent of the input documents, up to 10,000 documents.</p>"
          }
        },
        "EvaluationMetrics": {
          "target": "com.amazonaws.comprehend#ClassifierEvaluationMetrics",
          "traits": {
            "smithy.api#documentation": "<p> Describes the result metrics for the test data associated with an documentation\n      classifier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a document classifier.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#ClassifyDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#ClassifyDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#ClassifyDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new document classification request to analyze a single document in real-time,\n      using a previously created and trained custom model and an endpoint.</p>"
      }
    },
    "com.amazonaws.comprehend#ClassifyDocumentRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehend#CustomerInputString",
          "traits": {
            "smithy.api#documentation": "<p>The document text to be analyzed.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointArn": {
          "target": "com.amazonaws.comprehend#DocumentClassifierEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the endpoint.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#ClassifyDocumentResponse": {
      "type": "structure",
      "members": {
        "Classes": {
          "target": "com.amazonaws.comprehend#ListOfClasses",
          "traits": {
            "smithy.api#documentation": "<p>The classes used by the document being analyzed. These are used for multi-class trained\n      models. Individual classes are mutually exclusive and each document is expected to have only a\n      single class assigned to it. For example, an animal can be a dog or a cat, but not both at the\n      same time. </p>"
          }
        },
        "Labels": {
          "target": "com.amazonaws.comprehend#ListOfLabels",
          "traits": {
            "smithy.api#documentation": "<p>The labels used the document being analyzed. These are used for multi-label trained\n      models. Individual labels represent different categories that are related in some manner and\n      are not mutually exclusive. For example, a movie can be just an action movie, or it can be an\n      action movie, a science fiction movie, and a comedy, all at the same time. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#ClientRequestTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.comprehend#ComprehendArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-]{1,64}/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
      }
    },
    "com.amazonaws.comprehend#ComprehendArnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.comprehend#ComprehendEndpointArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier-endpoint|entity-recognizer-endpoint)/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
      }
    },
    "com.amazonaws.comprehend#ComprehendEndpointName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 40
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.comprehend#ComprehendModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier|entity-recognizer)/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
      }
    },
    "com.amazonaws.comprehend#Comprehend_20171127": {
      "type": "service",
      "version": "2017-11-27",
      "operations": [
        {
          "target": "com.amazonaws.comprehend#BatchDetectDominantLanguage"
        },
        {
          "target": "com.amazonaws.comprehend#BatchDetectEntities"
        },
        {
          "target": "com.amazonaws.comprehend#BatchDetectKeyPhrases"
        },
        {
          "target": "com.amazonaws.comprehend#BatchDetectSentiment"
        },
        {
          "target": "com.amazonaws.comprehend#BatchDetectSyntax"
        },
        {
          "target": "com.amazonaws.comprehend#ClassifyDocument"
        },
        {
          "target": "com.amazonaws.comprehend#ContainsPiiEntities"
        },
        {
          "target": "com.amazonaws.comprehend#CreateDocumentClassifier"
        },
        {
          "target": "com.amazonaws.comprehend#CreateEndpoint"
        },
        {
          "target": "com.amazonaws.comprehend#CreateEntityRecognizer"
        },
        {
          "target": "com.amazonaws.comprehend#DeleteDocumentClassifier"
        },
        {
          "target": "com.amazonaws.comprehend#DeleteEndpoint"
        },
        {
          "target": "com.amazonaws.comprehend#DeleteEntityRecognizer"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeDocumentClassificationJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeDocumentClassifier"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeDominantLanguageDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeEndpoint"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeEntityRecognizer"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeEventsDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeKeyPhrasesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribePiiEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeSentimentDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DescribeTopicsDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#DetectDominantLanguage"
        },
        {
          "target": "com.amazonaws.comprehend#DetectEntities"
        },
        {
          "target": "com.amazonaws.comprehend#DetectKeyPhrases"
        },
        {
          "target": "com.amazonaws.comprehend#DetectPiiEntities"
        },
        {
          "target": "com.amazonaws.comprehend#DetectSentiment"
        },
        {
          "target": "com.amazonaws.comprehend#DetectSyntax"
        },
        {
          "target": "com.amazonaws.comprehend#ListDocumentClassificationJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListDocumentClassifiers"
        },
        {
          "target": "com.amazonaws.comprehend#ListDominantLanguageDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListEndpoints"
        },
        {
          "target": "com.amazonaws.comprehend#ListEntitiesDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListEntityRecognizers"
        },
        {
          "target": "com.amazonaws.comprehend#ListEventsDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListKeyPhrasesDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListPiiEntitiesDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListSentimentDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.comprehend#ListTopicsDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehend#StartDocumentClassificationJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartDominantLanguageDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartEventsDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartKeyPhrasesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartPiiEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartSentimentDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StartTopicsDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopDominantLanguageDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopEventsDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopKeyPhrasesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopPiiEntitiesDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopSentimentDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehend#StopTrainingDocumentClassifier"
        },
        {
          "target": "com.amazonaws.comprehend#StopTrainingEntityRecognizer"
        },
        {
          "target": "com.amazonaws.comprehend#TagResource"
        },
        {
          "target": "com.amazonaws.comprehend#UntagResource"
        },
        {
          "target": "com.amazonaws.comprehend#UpdateEndpoint"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Comprehend",
          "arnNamespace": "comprehend",
          "cloudFormationName": "Comprehend",
          "cloudTrailEventSource": "comprehend.amazonaws.com",
          "endpointPrefix": "comprehend"
        },
        "aws.auth#sigv4": {
          "name": "comprehend"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Comprehend is an AWS service for gaining insight into the content of documents.\n      Use these actions to determine the topics contained in your documents, the topics they\n      discuss, the predominant sentiment expressed in them, the predominant language used, and\n      more.</p>",
        "smithy.api#title": "Amazon Comprehend"
      }
    },
    "com.amazonaws.comprehend#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.comprehend#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Concurrent modification of the tags associated with an Amazon Comprehend resource is not\n      supported. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.comprehend#ContainsPiiEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#ContainsPiiEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#ContainsPiiEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Analyzes input text for the presence of personally identifiable information (PII) and\n      returns the labels of identified PII entity types such as name, address, bank account number,\n      or phone number.</p>"
      }
    },
    "com.amazonaws.comprehend#ContainsPiiEntitiesRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>Creates a new document classification request to analyze a single document in real-time,\n      returning personally identifiable information (PII) entity labels.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#ContainsPiiEntitiesResponse": {
      "type": "structure",
      "members": {
        "Labels": {
          "target": "com.amazonaws.comprehend#ListOfEntityLabels",
          "traits": {
            "smithy.api#documentation": "<p>The labels used in the document being analyzed. Individual labels represent personally\n      identifiable information (PII) entity types.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#CreateDocumentClassifier": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#CreateDocumentClassifierRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#CreateDocumentClassifierResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#KmsKeyValidationException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new document classifier that you can use to categorize documents. To create a\n      classifier, you provide a set of training documents that labeled with the categories that you\n      want to use. After the classifier is trained you can use it to categorize a set of labeled\n      documents into the categories. For more information, see <a>how-document-classification</a>.</p>"
      }
    },
    "com.amazonaws.comprehend#CreateDocumentClassifierRequest": {
      "type": "structure",
      "members": {
        "DocumentClassifierName": {
          "target": "com.amazonaws.comprehend#ComprehendArnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the document classifier.</p>",
            "smithy.api#required": {}
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.comprehend#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants\n      Amazon Comprehend read access to your input data.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.comprehend#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to be associated with the document classifier being created. A tag is a key-value\n      pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with\n      \"Sales\" as the key might be added to a resource to indicate its use by the sales department.\n    </p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.comprehend#DocumentClassifierInputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format and location of the input data for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.comprehend#DocumentClassifierOutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Enables the addition of output results configuration parameters for custom classifier\n      jobs.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.comprehend#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the request. If you don't set the client request token, Amazon\n      Comprehend generates one.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the following languages\n      supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"),\n      Italian (\"it\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        },
        "VolumeKmsKeyId": {
          "target": "com.amazonaws.comprehend#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt\n      data on the storage volume attached to the ML compute instance(s) that process the analysis\n      job. The VolumeKmsKeyId can be either of the following formats:</p>\n         <ul>\n            <li>\n               <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code>\n               </p>\n            </li>\n            <li>\n               <p>Amazon Resource Name (ARN) of a KMS Key:\n            <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.comprehend#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration parameters for an optional private Virtual Private Cloud (VPC) containing\n      the resources you are using for your custom classifier. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/what-is-amazon-vpc.html\">Amazon\n        VPC</a>. </p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.comprehend#DocumentClassifierMode",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the mode in which the classifier will be trained. The classifier can be trained\n      in multi-class mode, which identifies one and only one class for each document, or multi-label\n      mode, which identifies one or more labels for each document. In multi-label mode, multiple\n      labels for an individual document are separated by a delimiter. The default delimiter between\n      labels is a pipe (|).</p>"
          }
        },
        "ModelKmsKeyId": {
          "target": "com.amazonaws.comprehend#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt\n      trained custom models. The ModelKmsKeyId can be either of the following formats:</p>\n         <ul>\n            <li>\n               <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code>\n               </p>\n            </li>\n            <li>\n               <p>Amazon Resource Name (ARN) of a KMS Key:\n            <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#CreateDocumentClassifierResponse": {
      "type": "structure",
      "members": {
        "DocumentClassifierArn": {
          "target": "com.amazonaws.comprehend#DocumentClassifierArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the document classifier.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#CreateEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#CreateEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#CreateEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a model-specific endpoint for synchronous inference for a previously trained\n      custom model\n      </p>"
      }
    },
    "com.amazonaws.comprehend#CreateEndpointRequest": {
      "type": "structure",
      "members": {
        "EndpointName": {
          "target": "com.amazonaws.comprehend#ComprehendEndpointName",
          "traits": {
            "smithy.api#documentation": "<p>This is the descriptive suffix that becomes part of the <code>EndpointArn</code> used for\n      all subsequent requests to this resource. </p>",
            "smithy.api#required": {}
          }
        },
        "ModelArn": {
          "target": "com.amazonaws.comprehend#ComprehendModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the model to which the endpoint will be\n      attached.</p>",
            "smithy.api#required": {}
          }
        },
        "DesiredInferenceUnits": {
          "target": "com.amazonaws.comprehend#InferenceUnitsInteger",
          "traits": {
            "smithy.api#documentation": "<p> The desired number of inference units to be used by the model using this endpoint.\n      \n      Each inference unit represents of a throughput of 100 characters per second.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.comprehend#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token provided by the customer. If this token matches a previous endpoint\n      creation request, Amazon Comprehend will not return a <code>ResourceInUseException</code>.\n    </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.comprehend#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the endpoint being created. A tag is a key-value pair that adds\n      metadata to the endpoint. For example, a tag with \"Sales\" as the key might be added to an\n      endpoint to indicate its use by the sales department. </p>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.comprehend#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS identity and Access Management (IAM) role that\n      grants Amazon Comprehend read access to trained custom models encrypted with a customer\n      managed key (ModelKmsKeyId).</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#CreateEndpointResponse": {
      "type": "structure",
      "members": {
        "EndpointArn": {
          "target": "com.amazonaws.comprehend#ComprehendEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the endpoint being created.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#CreateEntityRecognizer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#CreateEntityRecognizerRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#CreateEntityRecognizerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#KmsKeyValidationException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an entity recognizer using submitted files. After your\n        <code>CreateEntityRecognizer</code> request is submitted, you can check job status using the\n         API. </p>"
      }
    },
    "com.amazonaws.comprehend#CreateEntityRecognizerRequest": {
      "type": "structure",
      "members": {
        "RecognizerName": {
          "target": "com.amazonaws.comprehend#ComprehendArnName",
          "traits": {
            "smithy.api#documentation": "<p>The name given to the newly created recognizer. Recognizer names can be a maximum of 256\n      characters. Alphanumeric characters, hyphens (-) and underscores (_) are allowed. The name\n      must be unique in the account/region.</p>",
            "smithy.api#required": {}
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.comprehend#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants\n      Amazon Comprehend read access to your input data.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.comprehend#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to be associated with the entity recognizer being created. A tag is a key-value pair\n      that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with\n      \"Sales\" as the key might be added to a resource to indicate its use by the sales department.\n    </p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.comprehend#EntityRecognizerInputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format and location of the input data. The S3 bucket containing the input\n      data must be located in the same region as the entity recognizer being created. </p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.comprehend#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier for the request. If you don't set the client request token, Amazon\n      Comprehend generates one.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p> You can specify any of the following languages supported by Amazon Comprehend: English\n      (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), German (\"de\"), or Portuguese (\"pt\").\n      All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        },
        "VolumeKmsKeyId": {
          "target": "com.amazonaws.comprehend#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt\n      data on the storage volume attached to the ML compute instance(s) that process the analysis\n      job. The VolumeKmsKeyId can be either of the following formats:</p>\n         <ul>\n            <li>\n               <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code>\n               </p>\n            </li>\n            <li>\n               <p>Amazon Resource Name (ARN) of a KMS Key:\n            <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.comprehend#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration parameters for an optional private Virtual Private Cloud (VPC) containing\n      the resources you are using for your custom entity recognizer. For more information, see\n        <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/what-is-amazon-vpc.html\">Amazon\n        VPC</a>. </p>"
          }
        },
        "ModelKmsKeyId": {
          "target": "com.amazonaws.comprehend#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt\n      trained custom models. The ModelKmsKeyId can be either of the following formats</p>\n         <ul>\n            <li>\n               <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code>\n               </p>\n            </li>\n            <li>\n               <p>Amazon Resource Name (ARN) of a KMS Key:\n            <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#CreateEntityRecognizerResponse": {
      "type": "structure",
      "members": {
        "EntityRecognizerArn": {
          "target": "com.amazonaws.comprehend#EntityRecognizerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the entity recognizer.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#CustomerInputString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#CustomerInputStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehend#CustomerInputString"
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#DeleteDocumentClassifier": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DeleteDocumentClassifierRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DeleteDocumentClassifierResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a previously created document classifier</p>\n         <p>Only those classifiers that are in terminated states (IN_ERROR, TRAINED) will be deleted.\n      If an active inference job is using the model, a <code>ResourceInUseException</code> will be\n      returned.</p>\n         <p>This is an asynchronous action that puts the classifier into a DELETING state, and it is\n      then removed by a background job. Once removed, the classifier disappears from your account\n      and is no longer available for use. </p>"
      }
    },
    "com.amazonaws.comprehend#DeleteDocumentClassifierRequest": {
      "type": "structure",
      "members": {
        "DocumentClassifierArn": {
          "target": "com.amazonaws.comprehend#DocumentClassifierArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the document classifier. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DeleteDocumentClassifierResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.comprehend#DeleteEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DeleteEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DeleteEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a model-specific endpoint for a previously-trained custom model. All endpoints\n      must be deleted in order for the model to be deleted.</p>"
      }
    },
    "com.amazonaws.comprehend#DeleteEndpointRequest": {
      "type": "structure",
      "members": {
        "EndpointArn": {
          "target": "com.amazonaws.comprehend#ComprehendEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the endpoint being deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DeleteEndpointResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.comprehend#DeleteEntityRecognizer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DeleteEntityRecognizerRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DeleteEntityRecognizerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an entity recognizer.</p>\n         <p>Only those recognizers that are in terminated states (IN_ERROR, TRAINED) will be deleted.\n      If an active inference job is using the model, a <code>ResourceInUseException</code> will be\n      returned.</p>\n         <p>This is an asynchronous action that puts the recognizer into a DELETING state, and it is\n      then removed by a background job. Once removed, the recognizer disappears from your account\n      and is no longer available for use. </p>"
      }
    },
    "com.amazonaws.comprehend#DeleteEntityRecognizerRequest": {
      "type": "structure",
      "members": {
        "EntityRecognizerArn": {
          "target": "com.amazonaws.comprehend#EntityRecognizerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the entity recognizer.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DeleteEntityRecognizerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.comprehend#DescribeDocumentClassificationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribeDocumentClassificationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribeDocumentClassificationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with a document classification job. Use this operation to\n      get the status of a classification job.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribeDocumentClassificationJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehend#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Comprehend generated for the job. The  operation returns this identifier in its\n      response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeDocumentClassificationJobResponse": {
      "type": "structure",
      "members": {
        "DocumentClassificationJobProperties": {
          "target": "com.amazonaws.comprehend#DocumentClassificationJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that describes the properties associated with the document classification\n      job.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeDocumentClassifier": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribeDocumentClassifierRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribeDocumentClassifierResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with a document classifier.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribeDocumentClassifierRequest": {
      "type": "structure",
      "members": {
        "DocumentClassifierArn": {
          "target": "com.amazonaws.comprehend#DocumentClassifierArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the document classifier. The  operation returns this identifier in its\n      response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeDocumentClassifierResponse": {
      "type": "structure",
      "members": {
        "DocumentClassifierProperties": {
          "target": "com.amazonaws.comprehend#DocumentClassifierProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with a document classifier.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeDominantLanguageDetectionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribeDominantLanguageDetectionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribeDominantLanguageDetectionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with a dominant language detection job. Use this operation\n      to get the status of a detection job.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribeDominantLanguageDetectionJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehend#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Comprehend generated for the job. The  operation returns this identifier in its\n      response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeDominantLanguageDetectionJobResponse": {
      "type": "structure",
      "members": {
        "DominantLanguageDetectionJobProperties": {
          "target": "com.amazonaws.comprehend#DominantLanguageDetectionJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with a dominant language detection\n      job.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribeEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribeEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with a specific endpoint. Use this operation to get the\n      status of an endpoint.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribeEndpointRequest": {
      "type": "structure",
      "members": {
        "EndpointArn": {
          "target": "com.amazonaws.comprehend#ComprehendEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the endpoint being described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeEndpointResponse": {
      "type": "structure",
      "members": {
        "EndpointProperties": {
          "target": "com.amazonaws.comprehend#EndpointProperties",
          "traits": {
            "smithy.api#documentation": "<p>Describes information associated with the specific endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeEntitiesDetectionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribeEntitiesDetectionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribeEntitiesDetectionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with an entities detection job. Use this operation to get\n      the status of a detection job.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribeEntitiesDetectionJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehend#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Comprehend generated for the job. The  operation returns this identifier in its\n      response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeEntitiesDetectionJobResponse": {
      "type": "structure",
      "members": {
        "EntitiesDetectionJobProperties": {
          "target": "com.amazonaws.comprehend#EntitiesDetectionJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with an entities detection job.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeEntityRecognizer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribeEntityRecognizerRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribeEntityRecognizerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an entity recognizer including status, S3 buckets containing\n      training data, recognizer metadata, metrics, and so on.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribeEntityRecognizerRequest": {
      "type": "structure",
      "members": {
        "EntityRecognizerArn": {
          "target": "com.amazonaws.comprehend#EntityRecognizerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the entity recognizer.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeEntityRecognizerResponse": {
      "type": "structure",
      "members": {
        "EntityRecognizerProperties": {
          "target": "com.amazonaws.comprehend#EntityRecognizerProperties",
          "traits": {
            "smithy.api#documentation": "<p>Describes information associated with an entity recognizer.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeEventsDetectionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribeEventsDetectionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribeEventsDetectionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the status and details of an events detection job.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribeEventsDetectionJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehend#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the events detection job.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeEventsDetectionJobResponse": {
      "type": "structure",
      "members": {
        "EventsDetectionJobProperties": {
          "target": "com.amazonaws.comprehend#EventsDetectionJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with an event detection job.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeKeyPhrasesDetectionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribeKeyPhrasesDetectionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribeKeyPhrasesDetectionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with a key phrases detection job. Use this operation to get\n      the status of a detection job.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribeKeyPhrasesDetectionJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehend#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Comprehend generated for the job. The  operation returns this identifier in its\n      response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeKeyPhrasesDetectionJobResponse": {
      "type": "structure",
      "members": {
        "KeyPhrasesDetectionJobProperties": {
          "target": "com.amazonaws.comprehend#KeyPhrasesDetectionJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with a key phrases detection job.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribePiiEntitiesDetectionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribePiiEntitiesDetectionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribePiiEntitiesDetectionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with a PII entities detection job. For example, you can use\n      this operation to get the job status.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribePiiEntitiesDetectionJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehend#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Comprehend generated for the job. The  operation returns this identifier in its\n      response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribePiiEntitiesDetectionJobResponse": {
      "type": "structure",
      "members": {
        "PiiEntitiesDetectionJobProperties": {
          "target": "com.amazonaws.comprehend#PiiEntitiesDetectionJobProperties"
        }
      }
    },
    "com.amazonaws.comprehend#DescribeSentimentDetectionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribeSentimentDetectionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribeSentimentDetectionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with a sentiment detection job. Use this operation to get\n      the status of a detection job.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribeSentimentDetectionJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehend#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Comprehend generated for the job. The  operation returns this identifier in its\n      response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeSentimentDetectionJobResponse": {
      "type": "structure",
      "members": {
        "SentimentDetectionJobProperties": {
          "target": "com.amazonaws.comprehend#SentimentDetectionJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with a sentiment detection job.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeTopicsDetectionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DescribeTopicsDetectionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DescribeTopicsDetectionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehend#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with a topic detection job. Use this operation to get\n      the status of a detection job.</p>"
      }
    },
    "com.amazonaws.comprehend#DescribeTopicsDetectionJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehend#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier assigned by the user to the detection job.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DescribeTopicsDetectionJobResponse": {
      "type": "structure",
      "members": {
        "TopicsDetectionJobProperties": {
          "target": "com.amazonaws.comprehend#TopicsDetectionJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>The list of properties for the requested job.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DetectDominantLanguage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DetectDominantLanguageRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DetectDominantLanguageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Determines the dominant language of the input text. For a list of languages that Amazon\n      Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>"
      }
    },
    "com.amazonaws.comprehend#DetectDominantLanguageRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehend#CustomerInputString",
          "traits": {
            "smithy.api#documentation": "<p>A UTF-8 text string. Each string should contain at least 20 characters and must contain\n      fewer that 5,000 bytes of UTF-8 encoded characters.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DetectDominantLanguageResponse": {
      "type": "structure",
      "members": {
        "Languages": {
          "target": "com.amazonaws.comprehend#ListOfDominantLanguages",
          "traits": {
            "smithy.api#documentation": "<p>The languages that Amazon Comprehend detected in the input text. For each language, the\n      response returns the RFC 5646 language code and the level of confidence that Amazon Comprehend\n      has in the accuracy of its inference. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a> on the\n        <i>IETF Tools</i> web site.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#DetectEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DetectEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DetectEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects text for named entities, and returns information about them. For more\n      information, about named entities, see <a>how-entities</a>. </p>"
      }
    },
    "com.amazonaws.comprehend#DetectEntitiesRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehend#CustomerInputString",
          "traits": {
            "smithy.api#documentation": "<p>A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded\n      characters.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the primary languages\n      supported by Amazon Comprehend. All documents must be in the same language.</p>\n         <p>If your request includes the endpoint for a custom entity recognition model, Amazon\n      Comprehend uses the language of your custom model, and it ignores any language code that you\n      specify here.</p>"
          }
        },
        "EndpointArn": {
          "target": "com.amazonaws.comprehend#EntityRecognizerEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of an endpoint that is associated with a custom entity\n      recognition model. Provide an endpoint if you want to detect entities by using your own custom\n      model instead of the default model that is used by Amazon Comprehend.</p>\n         <p>If you specify an endpoint, Amazon Comprehend uses the language of your custom model, and\n      it ignores any language code that you provide in your request.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DetectEntitiesResponse": {
      "type": "structure",
      "members": {
        "Entities": {
          "target": "com.amazonaws.comprehend#ListOfEntities",
          "traits": {
            "smithy.api#documentation": "<p>A collection of entities identified in the input text. For each entity, the response\n      provides the entity text, entity type, where the entity text begins and ends, and the level of\n      confidence that Amazon Comprehend has in the detection. </p>\n         <p>If your request uses a custom entity recognition model, Amazon Comprehend detects the\n      entities that the model is trained to recognize. Otherwise, it detects the default entity\n      types. For a list of default entity types, see <a>how-entities</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#DetectKeyPhrases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DetectKeyPhrasesRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DetectKeyPhrasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detects the key noun phrases found in the text. </p>"
      }
    },
    "com.amazonaws.comprehend#DetectKeyPhrasesRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehend#CustomerInputString",
          "traits": {
            "smithy.api#documentation": "<p>A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded\n      characters.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the primary languages\n      supported by Amazon Comprehend. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DetectKeyPhrasesResponse": {
      "type": "structure",
      "members": {
        "KeyPhrases": {
          "target": "com.amazonaws.comprehend#ListOfKeyPhrases",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key phrases that Amazon Comprehend identified in the input text. For\n      each key phrase, the response provides the text of the key phrase, where the key phrase begins\n      and ends, and the level of confidence that Amazon Comprehend has in the accuracy of the\n      detection. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#DetectPiiEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DetectPiiEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DetectPiiEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects the input text for entities that contain personally identifiable information\n      (PII) and returns information about them.</p>"
      }
    },
    "com.amazonaws.comprehend#DetectPiiEntitiesRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehend#String",
          "traits": {
            "smithy.api#documentation": "<p>A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded\n      characters.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DetectPiiEntitiesResponse": {
      "type": "structure",
      "members": {
        "Entities": {
          "target": "com.amazonaws.comprehend#ListOfPiiEntities",
          "traits": {
            "smithy.api#documentation": "<p>A collection of PII entities identified in the input text. For each entity, the response\n      provides the entity type, where the entity text begins and ends, and the level of confidence\n      that Amazon Comprehend has in the detection.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehend#DetectSentiment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DetectSentimentRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DetectSentimentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects text and returns an inference of the prevailing sentiment\n        (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). </p>"
      }
    },
    "com.amazonaws.comprehend#DetectSentimentRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehend#CustomerInputString",
          "traits": {
            "smithy.api#documentation": "<p>A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded\n      characters.</p>",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehend#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. You can specify any of the primary languages\n      supported by Amazon Comprehend. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehend#DetectSentimentResponse": {
      "type": "structure",
      "members": {
        "Sentiment": {
          "target": "com.amazonaws.comprehend#SentimentType",
          "traits": {
            "smithy.api#documentation": "<p>The inferred sentiment that Amazon Comprehend has the highest level of confidence\n      in.</p>"
          }
        },
        "SentimentScore": {
          "target": "com.amazonaws.comprehend#SentimentScore",
          "traits": {
            "smithy.api#documentation": "<p>An object that lists the sentiments, and their corresponding confidence\n      levels.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.comprehend#DetectSyntax": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehend#DetectSyntaxRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehend#DetectSyntaxResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehend#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehend#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehend#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehend#UnsupportedLanguageException"
        }
      ],
      "traits": {
[...]
