{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.computeoptimizer.version_2019_11_01#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>You do not have sufficient access to perform this action.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#AccountId": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#AccountIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccountId"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupArn": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupArn"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupConfiguration": {
      "type": "structure",
      "members": {
        "desiredCapacity": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#DesiredCapacity",
          "traits": {
            "smithy.api#documentation": "\n        <p>The desired capacity, or number of instances, for the Auto Scaling group.</p>\n      "
          }
        },
        "instanceType": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The instance type for the Auto Scaling group.</p>\n      "
          }
        },
        "maxSize": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MaxSize",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>\n      "
          }
        },
        "minSize": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MinSize",
          "traits": {
            "smithy.api#documentation": "\n        <p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes the configuration of an Auto Scaling group.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupName": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupRecommendation": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccountId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The AWS account ID of the Auto Scaling group.</p>\n      "
          }
        },
        "autoScalingGroupArn": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupArn",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>\n      "
          }
        },
        "autoScalingGroupName": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the Auto Scaling group.</p>\n      "
          }
        },
        "currentConfiguration": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupConfiguration",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe the current configuration of the Auto Scaling group.</p>\n      "
          }
        },
        "finding": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Finding",
          "traits": {
            "smithy.api#documentation": "\n        <p>The finding classification for the Auto Scaling group.</p>\n        <p>Findings for Auto Scaling groups include:</p>\n        <ul>\n            <li>\n                <p>\n                  <b>\n                     <code>NotOptimized</code>\n                  </b>—An Auto Scaling group is\n                    considered not optimized when AWS Compute Optimizer identifies a recommendation that can\n                    provide better performance for your workload.</p>\n            </li>\n            <li>\n                <p>\n                  <b>\n                     <code>Optimized</code>\n                  </b>—An Auto Scaling group is\n                    considered optimized when Compute Optimizer determines that the group is correctly\n                    provisioned to run your workload based on the chosen instance type. For\n                    optimized resources, Compute Optimizer might recommend a new generation instance\n                    type.</p>\n            </li>\n         </ul>\n        <note>\n            <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or\n                    <code>OPTIMIZED</code>.</p>\n        </note>\n      "
          }
        },
        "lastRefreshTimestamp": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#LastRefreshTimestamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The time stamp of when the Auto Scaling group recommendation was last refreshed.</p>\n      "
          }
        },
        "lookBackPeriodInDays": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#LookBackPeriodInDays",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of days for which utilization metrics were analyzed for the Auto Scaling\n            group.</p>\n      "
          }
        },
        "recommendationOptions": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupRecommendationOptions",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe the recommendation options for the Auto Scaling\n            group.</p>\n      "
          }
        },
        "utilizationMetrics": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#UtilizationMetrics",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe the utilization metrics of the Auto Scaling group.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes an Auto Scaling group recommendation.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupRecommendationOption": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupConfiguration",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe an Auto Scaling group configuration.</p>\n      "
          }
        },
        "performanceRisk": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#PerformanceRisk",
          "traits": {
            "smithy.api#documentation": "\n        <p>The performance risk of the Auto Scaling group configuration recommendation.</p>\n        <p>Performance risk is the likelihood of the recommended instance type not meeting the\n            performance requirement of your workload.</p>\n        <p>The lowest performance risk is categorized as <code>0</code>, and the highest as\n                <code>5</code>.</p>\n      "
          }
        },
        "projectedUtilizationMetrics": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ProjectedUtilizationMetrics",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe the projected utilization metrics of the Auto Scaling group\n            recommendation option.</p>\n      "
          }
        },
        "rank": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Rank",
          "traits": {
            "smithy.api#documentation": "\n        <p>The rank of the Auto Scaling group recommendation option.</p>\n        <p>The top recommendation option is ranked as <code>1</code>.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes a recommendation option for an Auto Scaling group.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupRecommendationOptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupRecommendationOption"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupRecommendations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupRecommendation"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Code": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#ComputeOptimizerService": {
      "type": "service",
      "version": "2019-11-01",
      "operations": [
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetAutoScalingGroupRecommendations"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2InstanceRecommendations"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2RecommendationProjectedMetrics"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetEnrollmentStatus"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationSummaries"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#UpdateEnrollmentStatus"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Compute Optimizer",
          "arnNamespace": "compute-optimizer",
          "cloudFormationName": "ComputeOptimizer",
          "cloudTrailEventSource": "version_2019_11_01.computeoptimizer.amazonaws.com"
        },
        "smithy.api#documentation": "\n        <p>AWS Compute Optimizer is a service that analyzes the configuration and utilization metrics of\n            your AWS resources, such as EC2 instances and Auto Scaling groups. It reports whether your\n            resources are optimal, and generates optimization recommendations to reduce the cost and\n            improve the performance of your workloads. Compute Optimizer also provides recent utilization\n            metric data, as well as projected utilization metric data for the recommendations, which\n            you can use to evaluate which recommendation provides the best price-performance\n            trade-off. The analysis of your usage patterns can help you decide when to move or\n            resize your running resources, and still meet your performance and capacity\n            requirements. For more information about Compute Optimizer, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/\">AWS Compute Optimizer User\n                Guide</a>.</p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.0",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Compute Optimizer"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#CurrentInstanceType": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#DesiredCapacity": {
      "type": "integer"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Filter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#FilterName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the filter.</p>\n        <p>Specify <code>Finding</code> to filter the results to a specific findings\n            classification.</p>\n        <p>Specify <code>RecommendationSourceType</code> to filter the results to a specific\n            resource type.</p>\n      "
          }
        },
        "values": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#FilterValues",
          "traits": {
            "smithy.api#documentation": "\n        <p>The value of the filter.</p>\n        <p>If you specify the <code>name</code> parameter as <code>Finding</code>, and you're\n            recommendations for an <i>instance</i>, then the valid values are\n                <code>Underprovisioned</code>, <code>Overprovisioned</code>,\n                <code>NotOptimized</code>, or <code>Optimized</code>.</p>\n        <p>If you specify the <code>name</code> parameter as <code>Finding</code>, and you're\n            recommendations for an <i>Auto Scaling group</i>, then the valid values are\n                <code>Optimized</code>, or <code>NotOptimized</code>.</p>\n        <p>If you specify the <code>name</code> parameter as\n                <code>RecommendationSourceType</code>, then the valid values are\n                <code>EC2Instance</code>, or <code>AutoScalingGroup</code>.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes a filter that returns a more specific list of recommendations.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Finding": {
            "name": "FINDING"
          },
          "RecommendationSourceType": {
            "name": "RECOMMENDATION_SOURCE_TYPE"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#FilterValue": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#FilterValue"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Filters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Filter"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Finding": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Underprovisioned": {
            "name": "UNDER_PROVISIONED"
          },
          "Overprovisioned": {
            "name": "OVER_PROVISIONED"
          },
          "Optimized": {
            "name": "OPTIMIZED"
          },
          "NotOptimized": {
            "name": "NOT_OPTIMIZED"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetAutoScalingGroupRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetAutoScalingGroupRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetAutoScalingGroupRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns Auto Scaling group recommendations.</p>\n        <p>AWS Compute Optimizer currently generates recommendations for Auto Scaling groups that are configured\n            to run instances of the M, C, R, T, and X instance families. The service does not\n            generate recommendations for Auto Scaling groups that have a scaling policy attached to them, or\n            that do not have the same values for desired, minimum, and maximum capacity. In order\n            for Compute Optimizer to analyze your Auto Scaling groups, they must be of a fixed size. For more\n            information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/what-is.html\">AWS Compute Optimizer User Guide</a>.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetAutoScalingGroupRecommendationsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccountIds",
          "traits": {
            "smithy.api#documentation": "\n        <p>The AWS account IDs for which to return Auto Scaling group recommendations.</p>\n        <p>Only one account ID can be specified per request.</p>\n      "
          }
        },
        "autoScalingGroupArns": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupArns",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the Auto Scaling groups for which to return\n            recommendations.</p>\n      "
          }
        },
        "filters": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Filters",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe a filter that returns a more specific list of Auto Scaling\n            group recommendations.</p>\n      "
          }
        },
        "maxResults": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of Auto Scaling group recommendations to return with a single call.</p>\n        <p>To retrieve the remaining results, make another call with the returned\n                <code>NextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The token to advance to the next page of Auto Scaling group recommendations.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetAutoScalingGroupRecommendationsResponse": {
      "type": "structure",
      "members": {
        "autoScalingGroupRecommendations": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AutoScalingGroupRecommendations",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe Auto Scaling group recommendations.</p>\n      "
          }
        },
        "errors": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationErrors",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe errors of the request.</p>\n        <p>For example, an error is returned if you request recommendations for an unsupported\n            Auto Scaling group.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The token to use to advance to the next page of Auto Scaling group recommendations.</p>\n        <p>This value is null when there are no more pages of Auto Scaling group recommendations to\n            return.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2InstanceRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2InstanceRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2InstanceRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns Amazon EC2 instance recommendations.</p>\n        <p>AWS Compute Optimizer currently generates recommendations for Amazon Elastic Compute Cloud (Amazon EC2) and Amazon EC2 Auto Scaling.\n            It generates recommendations for M, C, R, T, and X instance families. For more\n            information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/what-is.html\">AWS Compute Optimizer User Guide</a>.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2InstanceRecommendationsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccountIds",
          "traits": {
            "smithy.api#documentation": "\n        <p>The AWS account IDs for which to return instance recommendations.</p>\n        <p>Only one account ID can be specified per request.</p>\n      "
          }
        },
        "filters": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Filters",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe a filter that returns a more specific list of\n            instance recommendations.</p>\n      "
          }
        },
        "instanceArns": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceArns",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the instances for which to return\n            recommendations.</p>\n      "
          }
        },
        "maxResults": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of instance recommendations to return with a single call.</p>\n        <p>To retrieve the remaining results, make another call with the returned\n                <code>NextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The token to advance to the next page of instance recommendations.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2InstanceRecommendationsResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationErrors",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe errors of the request.</p>\n        <p>For example, an error is returned if you request recommendations for an instance of an\n            unsupported instance family.</p>\n      "
          }
        },
        "instanceRecommendations": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceRecommendations",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe instance recommendations.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The token to use to advance to the next page of instance recommendations.</p>\n        <p>This value is null when there are no more pages of instance recommendations to\n            return.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2RecommendationProjectedMetrics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2RecommendationProjectedMetricsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2RecommendationProjectedMetricsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns the projected utilization metrics of Amazon EC2 instance recommendations.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2RecommendationProjectedMetricsRequest": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The time stamp of the last projected metrics data point to return.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "instanceArn": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceArn",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the instances for which to return recommendation\n            projected metrics.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "period": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Period",
          "traits": {
            "smithy.api#documentation": "\n        <p>The granularity, in seconds, of the projected metrics data points.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "startTime": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The time stamp of the first projected metrics data point to return.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "stat": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MetricStatistic",
          "traits": {
            "smithy.api#documentation": "\n        <p>The statistic of the projected metrics.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetEC2RecommendationProjectedMetricsResponse": {
      "type": "structure",
      "members": {
        "recommendedOptionProjectedMetrics": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendedOptionProjectedMetrics",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe a projected metrics.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetEnrollmentStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetEnrollmentStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetEnrollmentStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns the enrollment (opt in) status of an account to the AWS Compute Optimizer\n            service.</p>\n        <p>If the account is a master account of an organization, this operation also confirms\n            the enrollment status of member accounts within the organization.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetEnrollmentStatusRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetEnrollmentStatusResponse": {
      "type": "structure",
      "members": {
        "memberAccountsEnrolled": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MemberAccountsEnrolled",
          "traits": {
            "smithy.api#documentation": "\n        <p>Confirms the enrollment status of member accounts within the organization, if the\n            account is a master account of an organization.</p>\n      "
          }
        },
        "status": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Status",
          "traits": {
            "smithy.api#documentation": "\n        <p>The enrollment status of the account.</p>\n      "
          }
        },
        "statusReason": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#StatusReason",
          "traits": {
            "smithy.api#documentation": "\n        <p>The reason for the enrollment status of the account.</p>\n        <p>For example, an account might show a status of <code>Pending</code> because member\n            accounts of an organization require more time to be enrolled in the service.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Code",
          "traits": {
            "smithy.api#documentation": "\n        <p>The error code.</p>\n      "
          }
        },
        "identifier": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Identifier",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID of the error.</p>\n      "
          }
        },
        "message": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>The message, or reason, for the error.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes an error experienced when getting recommendations.</p>\n        <p>For example, an error is returned if you request recommendations for an unsupported\n            Auto Scaling group, or if you request recommendations for an instance of an unsupported instance\n            family.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationError"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationSummaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationSummariesRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationSummariesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns the optimization findings for an account.</p>\n        <p>For example, it returns the number of Amazon EC2 instances in an account that are\n            under-provisioned, over-provisioned, or optimized. It also returns the number of Auto Scaling\n            groups in an account that are not optimized, or optimized.</p>\n        \n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationSummariesRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccountIds",
          "traits": {
            "smithy.api#documentation": "\n        <p>The AWS account IDs for which to return recommendation summaries.</p>\n        <p>Only one account ID can be specified per request.</p>\n      "
          }
        },
        "maxResults": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of recommendation summaries to return with a single call.</p>\n        <p>To retrieve the remaining results, make another call with the returned\n                <code>NextToken</code> value.</p>\n      "
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The token to advance to the next page of recommendation summaries.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#GetRecommendationSummariesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#NextToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The token to use to advance to the next page of recommendation summaries.</p>\n        <p>This value is null when there are no more pages of recommendation summaries to\n            return.</p>\n      "
          }
        },
        "recommendationSummaries": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSummaries",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that summarize a recommendation.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Identifier": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#IncludeMemberAccounts": {
      "type": "boolean"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceArn": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceArn"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceName": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceRecommendation": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccountId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The AWS account ID of the instance recommendation.</p>\n      "
          }
        },
        "currentInstanceType": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#CurrentInstanceType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The instance type of the current instance.</p>\n      "
          }
        },
        "finding": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Finding",
          "traits": {
            "smithy.api#documentation": "\n        <p>The finding classification for the instance.</p>\n        <p>Findings for instances include:</p>\n        <ul>\n            <li>\n                <p>\n                  <b>\n                     <code>Underprovisioned</code>\n                  </b>—An instance is\n                    considered under-provisioned when at least one specification of your instance,\n                    such as CPU, memory, or network, does not meet the performance requirements of\n                    your workload. Under-provisioned instances may lead to poor application\n                    performance.</p>\n            </li>\n            <li>\n                <p>\n                  <b>\n                     <code>Overprovisioned</code>\n                  </b>—An instance is\n                    considered over-provisioned when at least one specification of your instance,\n                    such as CPU, memory, or network, can be sized down while still meeting the\n                    performance requirements of your workload, and no specification is\n                    under-provisioned. Over-provisioned instances may lead to unnecessary\n                    infrastructure cost.</p>\n            </li>\n            <li>\n                <p>\n                  <b>\n                     <code>Optimized</code>\n                  </b>—An instance is\n                    considered optimized when all specifications of your instance, such as CPU,\n                    memory, and network, meet the performance requirements of your workload and is\n                    not over provisioned. An optimized instance runs your workloads with optimal\n                    performance and infrastructure cost. For optimized resources, AWS Compute Optimizer might\n                    recommend a new generation instance type.</p>\n            </li>\n         </ul>\n        <note>\n            <p>The values that are returned might be <code>UNDER_PROVISIONED</code>,\n                    <code>OVER_PROVISIONED</code>, or <code>OPTIMIZED</code>.</p>\n        </note>\n      "
          }
        },
        "instanceArn": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceArn",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the current instance.</p>\n      "
          }
        },
        "instanceName": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the current instance.</p>\n      "
          }
        },
        "lastRefreshTimestamp": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#LastRefreshTimestamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The time stamp of when the instance recommendation was last refreshed.</p>\n      "
          }
        },
        "lookBackPeriodInDays": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#LookBackPeriodInDays",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of days for which utilization metrics were analyzed for the\n            instance.</p>\n      "
          }
        },
        "recommendationOptions": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationOptions",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe the recommendation options for the instance.</p>\n      "
          }
        },
        "recommendationSources": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSources",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe the source resource of the recommendation.</p>\n      "
          }
        },
        "utilizationMetrics": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#UtilizationMetrics",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe the utilization metrics of the instance.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes an Amazon EC2 instance recommendation.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceRecommendationOption": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The instance type of the instance recommendation.</p>\n      "
          }
        },
        "performanceRisk": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#PerformanceRisk",
          "traits": {
            "smithy.api#documentation": "\n        <p>The performance risk of the instance recommendation option.</p>\n        <p>Performance risk is the likelihood of the recommended instance type not meeting the\n            performance requirement of your workload.</p>\n        <p>The lowest performance risk is categorized as <code>0</code>, and the highest as\n                <code>5</code>.</p>\n      "
          }
        },
        "projectedUtilizationMetrics": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ProjectedUtilizationMetrics",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe the projected utilization metrics of the instance\n            recommendation option.</p>\n      "
          }
        },
        "rank": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Rank",
          "traits": {
            "smithy.api#documentation": "\n        <p>The rank of the instance recommendation option.</p>\n        <p>The top recommendation option is ranked as <code>1</code>.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes a recommendation option for an Amazon EC2 instance.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceRecommendations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceRecommendation"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceType": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The request processing has failed because of an unknown error, exception, or\n            failure.</p>\n      ",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#InvalidParameterValueException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>An invalid or out-of-range value was supplied for the input parameter.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#LastRefreshTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#LookBackPeriodInDays": {
      "type": "double"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#MaxSize": {
      "type": "integer"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#MemberAccountsEnrolled": {
      "type": "boolean"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Message": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#MetricName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Cpu": {
            "name": "CPU"
          },
          "Memory": {
            "name": "MEMORY"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#MetricStatistic": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Maximum": {
            "name": "MAXIMUM"
          },
          "Average": {
            "name": "AVERAGE"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#MetricValue": {
      "type": "double"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#MetricValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MetricValue"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#MinSize": {
      "type": "integer"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#MissingAuthenticationToken": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The request must contain either a valid (registered) AWS access key ID or X.509\n            certificate.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#NextToken": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#OptInRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>You must opt in to the service to perform this action.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#PerformanceRisk": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Period": {
      "type": "integer"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#ProjectedMetric": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MetricName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the projected utilization metric.</p>\n        <note>\n            <p>Memory metrics are only returned for resources that have the unified CloudWatch agent\n                installed on them. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Install-CloudWatch-Agent.html\">Enabling Memory Utilization with the CloudWatch Agent</a>.</p>\n        </note>\n      "
          }
        },
        "timestamps": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Timestamps",
          "traits": {
            "smithy.api#documentation": "\n        <p>The time stamps of the projected utilization metric.</p>\n      "
          }
        },
        "values": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MetricValues",
          "traits": {
            "smithy.api#documentation": "\n        <p>The values of the projected utilization metrics.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes a projected utilization metric of a recommendation option, such as an Amazon EC2\n            instance.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#ProjectedMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ProjectedMetric"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#ProjectedUtilizationMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#UtilizationMetric"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Rank": {
      "type": "integer"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationOptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InstanceRecommendationOption"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSource": {
      "type": "structure",
      "members": {
        "recommendationSourceArn": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSourceArn",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the recommendation source.</p>\n      "
          }
        },
        "recommendationSourceType": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSourceType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The resource type of the recommendation source.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes the source of a recommendation, such as an Amazon EC2 instance or Auto Scaling\n            group.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSourceArn": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Ec2Instance": {
            "name": "EC2_INSTANCE"
          },
          "AutoScalingGroup": {
            "name": "AUTO_SCALING_GROUP"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSource"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSummary"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSummary": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccountId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The AWS account ID of the recommendation summary.</p>\n      "
          }
        },
        "recommendationResourceType": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendationSourceType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The resource type of the recommendation.</p>\n      "
          }
        },
        "summaries": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Summaries",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe a recommendation summary.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>A summary of a recommendation.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendedInstanceType": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendedOptionProjectedMetric": {
      "type": "structure",
      "members": {
        "projectedMetrics": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ProjectedMetrics",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of objects that describe a projected utilization metric.</p>\n      "
          }
        },
        "rank": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Rank",
          "traits": {
            "smithy.api#documentation": "\n        <p>The rank of the recommendation option projected metric.</p>\n        <p>The top recommendation option is ranked as <code>1</code>.</p>\n        <p>The projected metric rank correlates to the recommendation option rank. For example,\n            the projected metric ranked as <code>1</code> is related to the recommendation option\n            that is also ranked as <code>1</code> in the same response.</p>\n      "
          }
        },
        "recommendedInstanceType": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendedInstanceType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The recommended instance type.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes a projected utilization metric of a recommendation option.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendedOptionProjectedMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#RecommendedOptionProjectedMetric"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The specified resource was not found.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The request has failed due to a temporary failure of the server.</p>\n      ",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Status": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Active": {
            "name": "ACTIVE"
          },
          "Inactive": {
            "name": "INACTIVE"
          },
          "Pending": {
            "name": "PENDING"
          },
          "Failed": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#StatusReason": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Summaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Summary"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Summary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Finding",
          "traits": {
            "smithy.api#documentation": "\n        <p>The finding classification of the recommendation.</p>\n      "
          }
        },
        "value": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#SummaryValue",
          "traits": {
            "smithy.api#documentation": "\n        <p>The value of the recommendation summary.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The summary of a recommendation.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#SummaryValue": {
      "type": "double"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ErrorMessage",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The limit on the number of requests per second was exceeded.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#Timestamps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Timestamp"
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#UpdateEnrollmentStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#UpdateEnrollmentStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#UpdateEnrollmentStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Updates the enrollment (opt in) status of an account to the AWS Compute Optimizer\n            service.</p>\n        <p>If the account is a master account of an organization, this operation can also enroll\n            member accounts within the organization.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#UpdateEnrollmentStatusRequest": {
      "type": "structure",
      "members": {
        "includeMemberAccounts": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#IncludeMemberAccounts",
          "traits": {
            "smithy.api#documentation": "\n        <p>Indicates whether to enroll member accounts within the organization, if the account is\n            a master account of an organization.</p>\n      "
          }
        },
        "status": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Status",
          "traits": {
            "smithy.api#documentation": "\n        <p>The new enrollment status of the account.</p>\n        <p>Accepted options are <code>Active</code> or <code>Inactive</code>. You will get an\n            error if <code>Pending</code> or <code>Failed</code> are specified.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#UpdateEnrollmentStatusResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#Status",
          "traits": {
            "smithy.api#documentation": "\n        <p>The enrollment status of the account.</p>\n      "
          }
        },
        "statusReason": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#StatusReason",
          "traits": {
            "smithy.api#documentation": "\n        <p>The reason for the enrollment status of the account. For example, an account might\n            show a status of <code>Pending</code> because member accounts of an organization require\n            more time to be enrolled in the service.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#UtilizationMetric": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MetricName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the utilization metric.</p>\n        <note>\n            <p>Memory metrics are only returned for resources that have the unified CloudWatch agent\n                installed on them. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Install-CloudWatch-Agent.html\">Enabling Memory Utilization with the CloudWatch Agent</a>.</p>\n        </note>\n      "
          }
        },
        "statistic": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MetricStatistic",
          "traits": {
            "smithy.api#documentation": "\n        <p>The statistic of the utilization metric.</p>\n      "
          }
        },
        "value": {
          "target": "com.amazonaws.computeoptimizer.version_2019_11_01#MetricValue",
          "traits": {
            "smithy.api#documentation": "\n        <p>The value of the utilization metric.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes a utilization metric of a resource, such as an Amazon EC2 instance.</p>\n      "
      }
    },
    "com.amazonaws.computeoptimizer.version_2019_11_01#UtilizationMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer.version_2019_11_01#UtilizationMetric"
      }
    }
  }
}
