{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.computeoptimizer#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.computeoptimizer#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.computeoptimizer#AccountEnrollmentStatus": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.computeoptimizer#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.computeoptimizer#Status",
          "traits": {
            "smithy.api#documentation": "<p>The account enrollment status.</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.computeoptimizer#StatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the account enrollment status.</p>\n\n        <p>For example, an account might show a status of <code>Pending</code> because member\n            accounts of an organization require more time to be enrolled in the service.</p>"
          }
        },
        "lastUpdatedTimestamp": {
          "target": "com.amazonaws.computeoptimizer#LastUpdatedTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp, in seconds, of when the account enrollment status was last\n            updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the enrollment status of an organization's member accounts in Compute Optimizer.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#AccountEnrollmentStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#AccountEnrollmentStatus"
      }
    },
    "com.amazonaws.computeoptimizer#AccountId": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#AccountIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#AccountId"
      }
    },
    "com.amazonaws.computeoptimizer#AutoScalingGroupArn": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#AutoScalingGroupArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#AutoScalingGroupArn"
      }
    },
    "com.amazonaws.computeoptimizer#AutoScalingGroupConfiguration": {
      "type": "structure",
      "members": {
        "desiredCapacity": {
          "target": "com.amazonaws.computeoptimizer#DesiredCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>"
          }
        },
        "minSize": {
          "target": "com.amazonaws.computeoptimizer#MinSize",
          "traits": {
            "smithy.api#documentation": "<p>The minimum size, or minimum number of instances, for the Auto Scaling\n            group.</p>"
          }
        },
        "maxSize": {
          "target": "com.amazonaws.computeoptimizer#MaxSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size, or maximum number of instances, for the Auto Scaling\n            group.</p>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.computeoptimizer#InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The instance type for the Auto Scaling group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of an Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#AutoScalingGroupName": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendation": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.computeoptimizer#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the Auto Scaling group.</p>"
          }
        },
        "autoScalingGroupArn": {
          "target": "com.amazonaws.computeoptimizer#AutoScalingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>"
          }
        },
        "autoScalingGroupName": {
          "target": "com.amazonaws.computeoptimizer#AutoScalingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>"
          }
        },
        "finding": {
          "target": "com.amazonaws.computeoptimizer#Finding",
          "traits": {
            "smithy.api#documentation": "<p>The finding classification of the Auto Scaling group.</p>\n\n        <p>Findings for Auto Scaling groups include:</p>\n\n        <ul>\n            <li>\n                <p>\n                  <b>\n                     <code>NotOptimized</code>\n                  </b>—An Auto Scaling group is considered not optimized when Compute Optimizer identifies a\n                    recommendation that can provide better performance for your workload.</p>\n            </li>\n            <li>\n                <p>\n                  <b>\n                     <code>Optimized</code>\n                  </b>—An Auto Scaling\n                    group is considered optimized when Compute Optimizer determines that the group\n                    is correctly provisioned to run your workload based on the chosen instance type.\n                    For optimized resources, Compute Optimizer might recommend a new generation\n                    instance type.</p>\n            </li>\n         </ul>"
          }
        },
        "utilizationMetrics": {
          "target": "com.amazonaws.computeoptimizer#UtilizationMetrics",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe the utilization metrics of the Auto Scaling\n            group.</p>"
          }
        },
        "lookBackPeriodInDays": {
          "target": "com.amazonaws.computeoptimizer#LookBackPeriodInDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which utilization metrics were analyzed for the Auto Scaling group.</p>"
          }
        },
        "currentConfiguration": {
          "target": "com.amazonaws.computeoptimizer#AutoScalingGroupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe the current configuration of the Auto Scaling\n            group.</p>"
          }
        },
        "recommendationOptions": {
          "target": "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendationOptions",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe the recommendation options for the Auto Scaling\n            group.</p>"
          }
        },
        "lastRefreshTimestamp": {
          "target": "com.amazonaws.computeoptimizer#LastRefreshTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp  of when the Auto Scaling group recommendation was last\n            refreshed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Auto Scaling group recommendation.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendationOption": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.amazonaws.computeoptimizer#AutoScalingGroupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe an Auto Scaling group configuration.</p>"
          }
        },
        "projectedUtilizationMetrics": {
          "target": "com.amazonaws.computeoptimizer#ProjectedUtilizationMetrics",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe the projected utilization metrics of the Auto Scaling group recommendation option.</p>\n\n        <note>\n            <p>The <code>Cpu</code> and <code>Memory</code> metrics are the only projected\n                utilization metrics returned. Additionally, the <code>Memory</code> metric is\n                returned only for resources that have the unified CloudWatch agent installed\n                on them. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/metrics.html#cw-agent\">Enabling Memory\n                    Utilization with the CloudWatch Agent</a>.</p>\n        </note>"
          }
        },
        "performanceRisk": {
          "target": "com.amazonaws.computeoptimizer#PerformanceRisk",
          "traits": {
            "smithy.api#documentation": "<p>The performance risk of the Auto Scaling group configuration\n            recommendation.</p>\n\n        <p>Performance risk indicates the likelihood of the recommended instance type not meeting\n            the resource needs of your workload. Compute Optimizer calculates an individual\n            performance risk score for each specification of the recommended instance, including\n            CPU, memory, EBS throughput, EBS IOPS, disk throughput, disk IOPS, network throughput,\n            and network PPS.\n            The performance\n            risk of the recommended instance is calculated as the maximum performance risk score\n            across the analyzed resource specifications.</p>\n\n        <p>The value ranges from <code>0</code> - <code>4</code>, with <code>0</code> meaning\n            that the recommended resource is predicted to always provide enough hardware capability.\n            The higher the performance risk is, the more likely you should validate whether the\n            recommendation will meet the performance requirements of your workload before migrating\n            your resource.</p>"
          }
        },
        "rank": {
          "target": "com.amazonaws.computeoptimizer#Rank",
          "traits": {
            "smithy.api#documentation": "<p>The rank of the Auto Scaling group recommendation option.</p>\n\n        <p>The top recommendation option is ranked as <code>1</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a recommendation option for an Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendationOptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendationOption"
      }
    },
    "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendation"
      }
    },
    "com.amazonaws.computeoptimizer#Code": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#ComputeOptimizerService": {
      "type": "service",
      "version": "2019-11-01",
      "operations": [
        {
          "target": "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobs"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ExportAutoScalingGroupRecommendations"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ExportEBSVolumeRecommendations"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ExportEC2InstanceRecommendations"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ExportLambdaFunctionRecommendations"
        },
        {
          "target": "com.amazonaws.computeoptimizer#GetAutoScalingGroupRecommendations"
        },
        {
          "target": "com.amazonaws.computeoptimizer#GetEBSVolumeRecommendations"
        },
        {
          "target": "com.amazonaws.computeoptimizer#GetEC2InstanceRecommendations"
        },
        {
          "target": "com.amazonaws.computeoptimizer#GetEC2RecommendationProjectedMetrics"
        },
        {
          "target": "com.amazonaws.computeoptimizer#GetEnrollmentStatus"
        },
        {
          "target": "com.amazonaws.computeoptimizer#GetEnrollmentStatusesForOrganization"
        },
        {
          "target": "com.amazonaws.computeoptimizer#GetLambdaFunctionRecommendations"
        },
        {
          "target": "com.amazonaws.computeoptimizer#GetRecommendationSummaries"
        },
        {
          "target": "com.amazonaws.computeoptimizer#UpdateEnrollmentStatus"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Compute Optimizer",
          "arnNamespace": "compute-optimizer",
          "cloudFormationName": "ComputeOptimizer",
          "cloudTrailEventSource": "computeoptimizer.amazonaws.com",
          "endpointPrefix": "compute-optimizer"
        },
        "aws.auth#sigv4": {
          "name": "compute-optimizer"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>Compute Optimizer is a service that analyzes the configuration and utilization\n            metrics of your Amazon Web Services compute resources, such as Amazon EC2\n            instances, Amazon EC2 Auto Scaling groups, Lambda functions, and Amazon EBS volumes. It reports whether your resources are optimal, and generates\n            optimization recommendations to reduce the cost and improve the performance of your\n            workloads. Compute Optimizer also provides recent utilization metric data, in addition\n            to projected utilization metric data for the recommendations, which you can use to\n            evaluate which recommendation provides the best price-performance trade-off. The\n            analysis of your usage patterns can help you decide when to move or resize your running\n            resources, and still meet your performance and capacity requirements. For more\n            information about Compute Optimizer, including the required permissions to use the\n            service, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/\">Compute Optimizer User Guide</a>.</p>",
        "smithy.api#title": "AWS Compute Optimizer"
      }
    },
    "com.amazonaws.computeoptimizer#CpuVendorArchitecture": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS_ARM64",
            "name": "AWS_ARM64"
          },
          {
            "value": "CURRENT",
            "name": "CURRENT"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#CpuVendorArchitectures": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#CpuVendorArchitecture"
      }
    },
    "com.amazonaws.computeoptimizer#CreationTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.computeoptimizer#CurrentInstanceType": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes recommendation export jobs created in the last seven days.</p>\n\n        <p>Use the <a>ExportAutoScalingGroupRecommendations</a> or <a>ExportEC2InstanceRecommendations</a> actions to request an export of your\n            recommendations. Then use the <a>DescribeRecommendationExportJobs</a> action\n            to view your export jobs.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobsRequest": {
      "type": "structure",
      "members": {
        "jobIds": {
          "target": "com.amazonaws.computeoptimizer#JobIds",
          "traits": {
            "smithy.api#documentation": "<p>The identification numbers of the export jobs to return.</p>\n\n        <p>An export job ID is returned when you create an export using the <a>ExportAutoScalingGroupRecommendations</a> or <a>ExportEC2InstanceRecommendations</a> actions.</p>\n\n        <p>All export jobs created in the last seven days are returned if this parameter is\n            omitted.</p>"
          }
        },
        "filters": {
          "target": "com.amazonaws.computeoptimizer#JobFilters",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects to specify a filter that returns a more specific list of export\n            jobs.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to advance to the next page of export jobs.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.computeoptimizer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of export jobs to return with a single request.</p>\n\n        <p>To retrieve the remaining results, make another request with the returned\n                <code>nextToken</code> value.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#DescribeRecommendationExportJobsResponse": {
      "type": "structure",
      "members": {
        "recommendationExportJobs": {
          "target": "com.amazonaws.computeoptimizer#RecommendationExportJobs",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe recommendation export jobs.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to advance to the next page of export jobs.</p>\n\n        <p>This value is null when there are no more pages of export jobs to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#DesiredCapacity": {
      "type": "integer"
    },
    "com.amazonaws.computeoptimizer#DestinationBucket": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#DestinationKey": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#DestinationKeyPrefix": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#EBSFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizer#EBSFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter.</p>\n\n        <p>Specify <code>Finding</code> to return recommendations with a specific finding\n            classification (for example, <code>NotOptimized</code>).</p>"
          }
        },
        "values": {
          "target": "com.amazonaws.computeoptimizer#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The value of the filter.</p>\n\n        <p>The valid values are <code>Optimized</code>, or <code>NotOptimized</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a filter that returns a more specific list of Amazon Elastic Block Store\n                (Amazon EBS) volume recommendations. Use this filter with the <a>GetEBSVolumeRecommendations</a> action.</p>\n\n        <p>You can use <code>LambdaFunctionRecommendationFilter</code> with the <a>GetLambdaFunctionRecommendations</a> action, <code>JobFilter</code> with the\n                <a>DescribeRecommendationExportJobs</a> action, and <code>Filter</code>\n            with the <a>GetAutoScalingGroupRecommendations</a> and <a>GetEC2InstanceRecommendations</a> actions.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#EBSFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Finding",
            "name": "FINDING"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#EBSFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#EBSFilter"
      }
    },
    "com.amazonaws.computeoptimizer#EBSFinding": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Optimized",
            "name": "OPTIMIZED"
          },
          {
            "value": "NotOptimized",
            "name": "NOT_OPTIMIZED"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#EBSMetricName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "VolumeReadOpsPerSecond",
            "name": "VOLUME_READ_OPS_PER_SECOND"
          },
          {
            "value": "VolumeWriteOpsPerSecond",
            "name": "VOLUME_WRITE_OPS_PER_SECOND"
          },
          {
            "value": "VolumeReadBytesPerSecond",
            "name": "VOLUME_READ_BYTES_PER_SECOND"
          },
          {
            "value": "VolumeWriteBytesPerSecond",
            "name": "VOLUME_WRITE_BYTES_PER_SECOND"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#EBSUtilizationMetric": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizer#EBSMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the utilization metric.</p>\n\n        <p>The following utilization metrics are available:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>VolumeReadOpsPerSecond</code> - The completed read operations per second\n                    from the volume in a specified period of time.</p>\n                <p>Unit: Count</p>\n            </li>\n            <li>\n                <p>\n                  <code>VolumeWriteOpsPerSecond</code> - The completed write operations per\n                    second to the volume in a specified period of time.</p>\n                <p>Unit: Count</p>\n            </li>\n            <li>\n                <p>\n                  <code>VolumeReadBytesPerSecond</code> - The bytes read per second from the\n                    volume in a specified period of time.</p>\n                <p>Unit: Bytes</p>\n            </li>\n            <li>\n                <p>\n                  <code>VolumeWriteBytesPerSecond</code> - The bytes written to the volume in a\n                    specified period of time.</p>\n                <p>Unit: Bytes</p>\n            </li>\n         </ul>"
          }
        },
        "statistic": {
          "target": "com.amazonaws.computeoptimizer#MetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic of the utilization metric.</p>\n\n        <p>The Compute Optimizer API, Command Line Interface (CLI), and SDKs\n            return utilization metrics using only the <code>Maximum</code> statistic, which is the\n            highest value observed during the specified period.</p>\n\n        <p>The Compute Optimizer console displays graphs for some utilization metrics using the\n                <code>Average</code> statistic, which is the value of <code>Sum</code> /\n                <code>SampleCount</code> during the specified period. For more information, see\n                <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/viewing-recommendations.html\">Viewing resource\n                recommendations</a> in the <i>Compute Optimizer User\n            Guide</i>. You can also get averaged utilization metric data for your resources\n            using Amazon CloudWatch. For more information, see the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/WhatIsCloudWatch.html\">Amazon CloudWatch\n                User Guide</a>.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.computeoptimizer#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the utilization metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a utilization metric of an Amazon Elastic Block Store (Amazon EBS)\n            volume.</p>\n\n        <p>Compare the utilization metric data of your resource against its projected utilization\n            metric data to determine the performance difference between your current resource and\n            the recommended option.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#EBSUtilizationMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#EBSUtilizationMetric"
      }
    },
    "com.amazonaws.computeoptimizer#EnrollmentFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizer#EnrollmentFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter.</p>\n\n        <p>Specify <code>Status</code> to return accounts with a specific enrollment status (for\n            example, <code>Active</code>).</p>"
          }
        },
        "values": {
          "target": "com.amazonaws.computeoptimizer#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The value of the filter.</p>\n\n        <p>The valid values are <code>Active</code>, <code>Inactive</code>, <code>Pending</code>,\n            and <code>Failed</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a filter that returns a more specific list of account enrollment statuses.\n            Use this filter with the <a>GetEnrollmentStatusesForOrganization</a>\n            action.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#EnrollmentFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Status",
            "name": "STATUS"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#EnrollmentFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#EnrollmentFilter"
      }
    },
    "com.amazonaws.computeoptimizer#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#ExportAutoScalingGroupRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer#ExportAutoScalingGroupRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer#ExportAutoScalingGroupRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports optimization recommendations for Auto Scaling groups.</p>\n\n        <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata\n            in a JavaScript Object Notation (JSON) (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting\n                Recommendations</a> in the <i>Compute Optimizer User\n            Guide</i>.</p>\n\n        <p>You can have only one Auto Scaling group export job in progress per Amazon Web Services Region.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#ExportAutoScalingGroupRecommendationsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizer#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Amazon Web Services accounts for which to export Auto Scaling group\n            recommendations.</p>\n\n        <p>If your account is the management account of an organization, use this parameter to\n            specify the member account for which you want to export recommendations.</p>\n\n        <p>This parameter cannot be specified together with the include member accounts\n            parameter. The parameters are mutually exclusive.</p>\n\n        <p>Recommendations for member accounts are not included in the export if this parameter,\n            or the include member accounts parameter, is omitted.</p>\n\n        <p>You can specify multiple account IDs per request.</p>"
          }
        },
        "filters": {
          "target": "com.amazonaws.computeoptimizer#Filters",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects to specify a filter that exports a more specific set of Auto Scaling group recommendations.</p>"
          }
        },
        "fieldsToExport": {
          "target": "com.amazonaws.computeoptimizer#ExportableAutoScalingGroupFields",
          "traits": {
            "smithy.api#documentation": "<p>The recommendations data to include in the export file. For more information about the\n            fields that can be exported, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html#exported-files\">Exported files</a> in the <i>Compute Optimizer User\n            Guide</i>.</p>"
          }
        },
        "s3DestinationConfig": {
          "target": "com.amazonaws.computeoptimizer#S3DestinationConfig",
          "traits": {
            "smithy.api#documentation": "<p>An object to specify the destination Amazon Simple Storage Service (Amazon S3) bucket\n            name and key prefix for the export job.</p>\n\n        <p>You must create the destination Amazon S3 bucket for your recommendations\n            export before you create the export job. Compute Optimizer does not create the S3 bucket\n            for you. After you create the S3 bucket, ensure that it has the required permissions\n            policy  to allow Compute Optimizer to write the export file to it. If you plan to\n            specify an object prefix when you create the export job, you must include the object\n            prefix in the policy that you add to the S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/create-s3-bucket-policy-for-compute-optimizer.html\">Amazon S3 Bucket Policy for Compute Optimizer</a> in the\n                    <i>Compute Optimizer User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "fileFormat": {
          "target": "com.amazonaws.computeoptimizer#FileFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the export file.</p>\n\n        <p>The only export file format currently supported is <code>Csv</code>.</p>"
          }
        },
        "includeMemberAccounts": {
          "target": "com.amazonaws.computeoptimizer#IncludeMemberAccounts",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to include recommendations for resources in all member accounts of\n            the organization if your account is the management account of an organization.</p>\n\n        <p>The member accounts must also be opted in to Compute Optimizer, and trusted access for\n                Compute Optimizer must be enabled in the organization account. For more information,\n            see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/security-iam.html#trusted-service-access\">Compute Optimizer and Amazon Web Services Organizations trusted access</a> in the\n                    <i>Compute Optimizer User Guide</i>.</p>\n\n        <p>Recommendations for member accounts of the organization are not included in the export\n            file if this parameter is omitted.</p>\n\n        <p>This parameter cannot be specified together with the account IDs parameter. The\n            parameters are mutually exclusive.</p>\n\n        <p>Recommendations for member accounts are not included in the export if this parameter,\n            or the account IDs parameter, is omitted.</p>"
          }
        },
        "recommendationPreferences": {
          "target": "com.amazonaws.computeoptimizer#RecommendationPreferences",
          "traits": {
            "smithy.api#documentation": "<p>An object to specify the preferences for the Auto Scaling group recommendations\n            to export.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#ExportAutoScalingGroupRecommendationsResponse": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.computeoptimizer#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identification number of the export job.</p>\n\n        <p>Use the <a>DescribeRecommendationExportJobs</a> action, and specify the job\n            ID to view the status of an export job.</p>"
          }
        },
        "s3Destination": {
          "target": "com.amazonaws.computeoptimizer#S3Destination",
          "traits": {
            "smithy.api#documentation": "<p>An object that describes the destination Amazon S3 bucket of a recommendations\n            export file.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#ExportDestination": {
      "type": "structure",
      "members": {
        "s3": {
          "target": "com.amazonaws.computeoptimizer#S3Destination",
          "traits": {
            "smithy.api#documentation": "<p>An object that describes the destination Amazon Simple Storage Service (Amazon S3)\n            bucket name and object keys of a recommendations export file, and its associated\n            metadata file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the destination of the recommendations export and metadata files.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#ExportEBSVolumeRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer#ExportEBSVolumeRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer#ExportEBSVolumeRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports optimization recommendations for Amazon EBS volumes.</p>\n\n        <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata\n            in a JavaScript Object Notation (JSON)   (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see\n                <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting\n                Recommendations</a> in the <i>Compute Optimizer User\n            Guide</i>.</p>\n\n        <p>You can have only one Amazon EBS volume export job in progress per Amazon Web Services Region.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#ExportEBSVolumeRecommendationsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizer#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Amazon Web Services accounts for which to export Amazon EBS\n            volume recommendations.</p>\n\n        <p>If your account is the management account of an organization, use this parameter to\n            specify the member account for which you want to export recommendations.</p>\n\n        <p>This parameter cannot be specified together with the include member accounts\n            parameter. The parameters are mutually exclusive.</p>\n\n        <p>Recommendations for member accounts are not included in the export if this parameter,\n            or the include member accounts parameter, is omitted.</p>\n\n        <p>You can specify multiple account IDs per request.</p>"
          }
        },
        "filters": {
          "target": "com.amazonaws.computeoptimizer#EBSFilters",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects to specify a filter that exports a more specific set of Amazon EBS volume recommendations.</p>"
          }
        },
        "fieldsToExport": {
          "target": "com.amazonaws.computeoptimizer#ExportableVolumeFields",
          "traits": {
            "smithy.api#documentation": "<p>The recommendations data to include in the export file. For more information about the\n            fields that can be exported, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html#exported-files\">Exported files</a> in the <i>Compute Optimizer User\n            Guide</i>.</p>"
          }
        },
        "s3DestinationConfig": {
          "target": "com.amazonaws.computeoptimizer#S3DestinationConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fileFormat": {
          "target": "com.amazonaws.computeoptimizer#FileFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the export file.</p>\n\n        <p>The only export file format currently supported is <code>Csv</code>.</p>"
          }
        },
        "includeMemberAccounts": {
          "target": "com.amazonaws.computeoptimizer#IncludeMemberAccounts",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to include recommendations for resources in all member accounts of\n            the organization if your account is the management account of an organization.</p>\n\n        <p>The member accounts must also be opted in to Compute Optimizer, and trusted access for\n                Compute Optimizer must be enabled in the organization account. For more information,\n            see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/security-iam.html#trusted-service-access\">Compute Optimizer and Amazon Web Services Organizations trusted access</a> in the\n                    <i>Compute Optimizer User Guide</i>.</p>\n\n        <p>Recommendations for member accounts of the organization are not included in the export\n            file if this parameter is omitted.</p>\n\n        <p>This parameter cannot be specified together with the account IDs parameter. The\n            parameters are mutually exclusive.</p>\n\n        <p>Recommendations for member accounts are not included in the export if this parameter,\n            or the account IDs parameter, is omitted.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#ExportEBSVolumeRecommendationsResponse": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.computeoptimizer#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identification number of the export job.</p>\n\n        <p>Use the <a>DescribeRecommendationExportJobs</a> action, and specify the job\n            ID to view the status of an export job.</p>"
          }
        },
        "s3Destination": {
          "target": "com.amazonaws.computeoptimizer#S3Destination"
        }
      }
    },
    "com.amazonaws.computeoptimizer#ExportEC2InstanceRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer#ExportEC2InstanceRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer#ExportEC2InstanceRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports optimization recommendations for Amazon EC2 instances.</p>\n\n        <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata\n            in a JavaScript Object Notation (JSON)   (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see\n                <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting\n                Recommendations</a> in the <i>Compute Optimizer User\n            Guide</i>.</p>\n\n        <p>You can have only one Amazon EC2 instance export job in progress per Amazon Web Services Region.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#ExportEC2InstanceRecommendationsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizer#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Amazon Web Services accounts for which to export instance\n            recommendations.</p>\n\n        <p>If your account is the management account of an organization, use this parameter to\n            specify the member account for which you want to export recommendations.</p>\n\n        <p>This parameter cannot be specified together with the include member accounts\n            parameter. The parameters are mutually exclusive.</p>\n\n        <p>Recommendations for member accounts are not included in the export if this parameter,\n            or the include member accounts parameter, is omitted.</p>\n\n        <p>You can specify multiple account IDs per request.</p>"
          }
        },
        "filters": {
          "target": "com.amazonaws.computeoptimizer#Filters",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects to specify a filter that exports a more specific set of instance\n            recommendations.</p>"
          }
        },
        "fieldsToExport": {
          "target": "com.amazonaws.computeoptimizer#ExportableInstanceFields",
          "traits": {
            "smithy.api#documentation": "<p>The recommendations data to include in the export file. For more information about the\n            fields that can be exported, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html#exported-files\">Exported files</a> in the <i>Compute Optimizer User\n            Guide</i>.</p>"
          }
        },
        "s3DestinationConfig": {
          "target": "com.amazonaws.computeoptimizer#S3DestinationConfig",
          "traits": {
            "smithy.api#documentation": "<p>An object to specify the destination Amazon Simple Storage Service (Amazon S3) bucket\n            name and key prefix for the export job.</p>\n\n        <p>You must create the destination Amazon S3 bucket for your recommendations\n            export before you create the export job. Compute Optimizer does not create the S3 bucket\n            for you. After you create the S3 bucket, ensure that it has the required permissions\n            policy policy to allow Compute Optimizer to write the export file to it. If you plan to\n            specify an object prefix when you create the export job, you must include the object\n            prefix in the  that you add to the S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/create-s3-bucket-policy-for-compute-optimizer.html\">Amazon S3 Bucket Policy for Compute Optimizer</a> in the\n                    <i>Compute Optimizer User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "fileFormat": {
          "target": "com.amazonaws.computeoptimizer#FileFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the export file.</p>\n\n        <p>The only export file format currently supported is <code>Csv</code>.</p>"
          }
        },
        "includeMemberAccounts": {
          "target": "com.amazonaws.computeoptimizer#IncludeMemberAccounts",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to include recommendations for resources in all member accounts of\n            the organization if your account is the management account of an organization.</p>\n\n        <p>The member accounts must also be opted in to Compute Optimizer, and trusted access for\n                Compute Optimizer must be enabled in the organization account. For more information,\n            see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/security-iam.html#trusted-service-access\">Compute Optimizer and Amazon Web Services Organizations trusted access</a> in the\n                    <i>Compute Optimizer User Guide</i>.</p>\n\n        <p>Recommendations for member accounts of the organization are not included in the export\n            file if this parameter is omitted.</p>\n\n        <p>Recommendations for member accounts are not included in the export if this parameter,\n            or the account IDs parameter, is omitted.</p>"
          }
        },
        "recommendationPreferences": {
          "target": "com.amazonaws.computeoptimizer#RecommendationPreferences",
          "traits": {
            "smithy.api#documentation": "<p>An object to specify the preferences for the Amazon EC2 instance\n            recommendations to export.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#ExportEC2InstanceRecommendationsResponse": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.computeoptimizer#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identification number of the export job.</p>\n\n        <p>Use the <a>DescribeRecommendationExportJobs</a> action, and specify the job\n            ID to view the status of an export job.</p>"
          }
        },
        "s3Destination": {
          "target": "com.amazonaws.computeoptimizer#S3Destination",
          "traits": {
            "smithy.api#documentation": "<p>An object that describes the destination Amazon S3 bucket of a recommendations\n            export file.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#ExportLambdaFunctionRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer#ExportLambdaFunctionRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer#ExportLambdaFunctionRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports optimization recommendations for Lambda functions.</p>\n\n        <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata\n            in a JavaScript Object Notation (JSON)   (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see\n                <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting\n                Recommendations</a> in the <i>Compute Optimizer User\n            Guide</i>.</p>\n\n        <p>You can have only one Lambda function export job in progress per Amazon Web Services Region.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#ExportLambdaFunctionRecommendationsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizer#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Amazon Web Services accounts for which to export Lambda\n            function recommendations.</p>\n\n        <p>If your account is the management account of an organization, use this parameter to\n            specify the member account for which you want to export recommendations.</p>\n\n        <p>This parameter cannot be specified together with the include member accounts\n            parameter. The parameters are mutually exclusive.</p>\n\n        <p>Recommendations for member accounts are not included in the export if this parameter,\n            or the include member accounts parameter, is omitted.</p>\n\n        <p>You can specify multiple account IDs per request.</p>"
          }
        },
        "filters": {
          "target": "com.amazonaws.computeoptimizer#LambdaFunctionRecommendationFilters",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects to specify a filter that exports a more specific set of Lambda function recommendations.</p>"
          }
        },
        "fieldsToExport": {
          "target": "com.amazonaws.computeoptimizer#ExportableLambdaFunctionFields",
          "traits": {
            "smithy.api#documentation": "<p>The recommendations data to include in the export file. For more information about the\n            fields that can be exported, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html#exported-files\">Exported files</a> in the <i>Compute Optimizer User\n            Guide</i>.</p>"
          }
        },
        "s3DestinationConfig": {
          "target": "com.amazonaws.computeoptimizer#S3DestinationConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fileFormat": {
          "target": "com.amazonaws.computeoptimizer#FileFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the export file.</p>\n\n        <p>The only export file format currently supported is <code>Csv</code>.</p>"
          }
        },
        "includeMemberAccounts": {
          "target": "com.amazonaws.computeoptimizer#IncludeMemberAccounts",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to include recommendations for resources in all member accounts of\n            the organization if your account is the management account of an organization.</p>\n\n        <p>The member accounts must also be opted in to Compute Optimizer, and trusted access for\n                Compute Optimizer must be enabled in the organization account. For more information,\n            see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/security-iam.html#trusted-service-access\">Compute Optimizer and Amazon Web Services Organizations trusted access</a> in the\n                    <i>Compute Optimizer User Guide</i>.</p>\n\n        <p>Recommendations for member accounts of the organization are not included in the export\n            file if this parameter is omitted.</p>\n\n        <p>This parameter cannot be specified together with the account IDs parameter. The\n            parameters are mutually exclusive.</p>\n\n        <p>Recommendations for member accounts are not included in the export if this parameter,\n            or the account IDs parameter, is omitted.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#ExportLambdaFunctionRecommendationsResponse": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.computeoptimizer#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identification number of the export job.</p>\n\n        <p>Use the <a>DescribeRecommendationExportJobs</a> action, and specify the job\n            ID to view the status of an export job.</p>"
          }
        },
        "s3Destination": {
          "target": "com.amazonaws.computeoptimizer#S3Destination"
        }
      }
    },
    "com.amazonaws.computeoptimizer#ExportableAutoScalingGroupField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AccountId",
            "name": "ACCOUNT_ID"
          },
          {
            "value": "AutoScalingGroupArn",
            "name": "AUTO_SCALING_GROUP_ARN"
          },
          {
            "value": "AutoScalingGroupName",
            "name": "AUTO_SCALING_GROUP_NAME"
          },
          {
            "value": "Finding",
            "name": "FINDING"
          },
          {
            "value": "UtilizationMetricsCpuMaximum",
            "name": "UTILIZATION_METRICS_CPU_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsMemoryMaximum",
            "name": "UTILIZATION_METRICS_MEMORY_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsEbsReadOpsPerSecondMaximum",
            "name": "UTILIZATION_METRICS_EBS_READ_OPS_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsEbsWriteOpsPerSecondMaximum",
            "name": "UTILIZATION_METRICS_EBS_WRITE_OPS_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsEbsReadBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_EBS_READ_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsEbsWriteBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_EBS_WRITE_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsDiskReadOpsPerSecondMaximum",
            "name": "UTILIZATION_METRICS_DISK_READ_OPS_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsDiskWriteOpsPerSecondMaximum",
            "name": "UTILIZATION_METRICS_DISK_WRITE_OPS_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsDiskReadBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_DISK_READ_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsDiskWriteBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_DISK_WRITE_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsNetworkInBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_NETWORK_IN_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsNetworkOutBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_NETWORK_OUT_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsNetworkPacketsInPerSecondMaximum",
            "name": "UTILIZATION_METRICS_NETWORK_PACKETS_IN_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsNetworkPacketsOutPerSecondMaximum",
            "name": "UTILIZATION_METRICS_NETWORK_PACKETS_OUT_PER_SECOND_MAXIMUM"
          },
          {
            "value": "LookbackPeriodInDays",
            "name": "LOOKBACK_PERIOD_IN_DAYS"
          },
          {
            "value": "CurrentConfigurationInstanceType",
            "name": "CURRENT_CONFIGURATION_INSTANCE_TYPE"
          },
          {
            "value": "CurrentConfigurationDesiredCapacity",
            "name": "CURRENT_CONFIGURATION_DESIRED_CAPACITY"
          },
          {
            "value": "CurrentConfigurationMinSize",
            "name": "CURRENT_CONFIGURATION_MIN_SIZE"
          },
          {
            "value": "CurrentConfigurationMaxSize",
            "name": "CURRENT_CONFIGURATION_MAX_SIZE"
          },
          {
            "value": "CurrentOnDemandPrice",
            "name": "CURRENT_ON_DEMAND_PRICE"
          },
          {
            "value": "CurrentStandardOneYearNoUpfrontReservedPrice",
            "name": "CURRENT_STANDARD_ONE_YEAR_NO_UPFRONT_RESERVED_PRICE"
          },
          {
            "value": "CurrentStandardThreeYearNoUpfrontReservedPrice",
            "name": "CURRENT_STANDARD_THREE_YEAR_NO_UPFRONT_RESERVED_PRICE"
          },
          {
            "value": "CurrentVCpus",
            "name": "CURRENT_VCPUS"
          },
          {
            "value": "CurrentMemory",
            "name": "CURRENT_MEMORY"
          },
          {
            "value": "CurrentStorage",
            "name": "CURRENT_STORAGE"
          },
          {
            "value": "CurrentNetwork",
            "name": "CURRENT_NETWORK"
          },
          {
            "value": "RecommendationOptionsConfigurationInstanceType",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_INSTANCE_TYPE"
          },
          {
            "value": "RecommendationOptionsConfigurationDesiredCapacity",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_DESIRED_CAPACITY"
          },
          {
            "value": "RecommendationOptionsConfigurationMinSize",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_MIN_SIZE"
          },
          {
            "value": "RecommendationOptionsConfigurationMaxSize",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_MAX_SIZE"
          },
          {
            "value": "RecommendationOptionsProjectedUtilizationMetricsCpuMaximum",
            "name": "RECOMMENDATION_OPTIONS_PROJECTED_UTILIZATION_METRICS_CPU_MAXIMUM"
          },
          {
            "value": "RecommendationOptionsProjectedUtilizationMetricsMemoryMaximum",
            "name": "RECOMMENDATION_OPTIONS_PROJECTED_UTILIZATION_METRICS_MEMORY_MAXIMUM"
          },
          {
            "value": "RecommendationOptionsPerformanceRisk",
            "name": "RECOMMENDATION_OPTIONS_PERFORMANCE_RISK"
          },
          {
            "value": "RecommendationOptionsOnDemandPrice",
            "name": "RECOMMENDATION_OPTIONS_ON_DEMAND_PRICE"
          },
          {
            "value": "RecommendationOptionsStandardOneYearNoUpfrontReservedPrice",
            "name": "RECOMMENDATION_OPTIONS_STANDARD_ONE_YEAR_NO_UPFRONT_RESERVED_PRICE"
          },
          {
            "value": "RecommendationOptionsStandardThreeYearNoUpfrontReservedPrice",
            "name": "RECOMMENDATION_OPTIONS_STANDARD_THREE_YEAR_NO_UPFRONT_RESERVED_PRICE"
          },
          {
            "value": "RecommendationOptionsVcpus",
            "name": "RECOMMENDATION_OPTIONS_VCPUS"
          },
          {
            "value": "RecommendationOptionsMemory",
            "name": "RECOMMENDATION_OPTIONS_MEMORY"
          },
          {
            "value": "RecommendationOptionsStorage",
            "name": "RECOMMENDATION_OPTIONS_STORAGE"
          },
          {
            "value": "RecommendationOptionsNetwork",
            "name": "RECOMMENDATION_OPTIONS_NETWORK"
          },
          {
            "value": "LastRefreshTimestamp",
            "name": "LAST_REFRESH_TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#ExportableAutoScalingGroupFields": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#ExportableAutoScalingGroupField"
      }
    },
    "com.amazonaws.computeoptimizer#ExportableInstanceField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AccountId",
            "name": "ACCOUNT_ID"
          },
          {
            "value": "InstanceArn",
            "name": "INSTANCE_ARN"
          },
          {
            "value": "InstanceName",
            "name": "INSTANCE_NAME"
          },
          {
            "value": "Finding",
            "name": "FINDING"
          },
          {
            "value": "FindingReasonCodes",
            "name": "Finding_Reason_Codes"
          },
          {
            "value": "LookbackPeriodInDays",
            "name": "LOOKBACK_PERIOD_IN_DAYS"
          },
          {
            "value": "CurrentInstanceType",
            "name": "CURRENT_INSTANCE_TYPE"
          },
          {
            "value": "UtilizationMetricsCpuMaximum",
            "name": "UTILIZATION_METRICS_CPU_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsMemoryMaximum",
            "name": "UTILIZATION_METRICS_MEMORY_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsEbsReadOpsPerSecondMaximum",
            "name": "UTILIZATION_METRICS_EBS_READ_OPS_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsEbsWriteOpsPerSecondMaximum",
            "name": "UTILIZATION_METRICS_EBS_WRITE_OPS_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsEbsReadBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_EBS_READ_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsEbsWriteBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_EBS_WRITE_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsDiskReadOpsPerSecondMaximum",
            "name": "UTILIZATION_METRICS_DISK_READ_OPS_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsDiskWriteOpsPerSecondMaximum",
            "name": "UTILIZATION_METRICS_DISK_WRITE_OPS_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsDiskReadBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_DISK_READ_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsDiskWriteBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_DISK_WRITE_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsNetworkInBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_NETWORK_IN_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsNetworkOutBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_NETWORK_OUT_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsNetworkPacketsInPerSecondMaximum",
            "name": "UTILIZATION_METRICS_NETWORK_PACKETS_IN_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsNetworkPacketsOutPerSecondMaximum",
            "name": "UTILIZATION_METRICS_NETWORK_PACKETS_OUT_PER_SECOND_MAXIMUM"
          },
          {
            "value": "CurrentOnDemandPrice",
            "name": "CURRENT_ON_DEMAND_PRICE"
          },
          {
            "value": "CurrentStandardOneYearNoUpfrontReservedPrice",
            "name": "CURRENT_STANDARD_ONE_YEAR_NO_UPFRONT_RESERVED_PRICE"
          },
          {
            "value": "CurrentStandardThreeYearNoUpfrontReservedPrice",
            "name": "CURRENT_STANDARD_THREE_YEAR_NO_UPFRONT_RESERVED_PRICE"
          },
          {
            "value": "CurrentVCpus",
            "name": "CURRENT_VCPUS"
          },
          {
            "value": "CurrentMemory",
            "name": "CURRENT_MEMORY"
          },
          {
            "value": "CurrentStorage",
            "name": "CURRENT_STORAGE"
          },
          {
            "value": "CurrentNetwork",
            "name": "CURRENT_NETWORK"
          },
          {
            "value": "RecommendationOptionsInstanceType",
            "name": "RECOMMENDATION_OPTIONS_INSTANCE_TYPE"
          },
          {
            "value": "RecommendationOptionsProjectedUtilizationMetricsCpuMaximum",
            "name": "RECOMMENDATION_OPTIONS_PROJECTED_UTILIZATION_METRICS_CPU_MAXIMUM"
          },
          {
            "value": "RecommendationOptionsProjectedUtilizationMetricsMemoryMaximum",
            "name": "RECOMMENDATION_OPTIONS_PROJECTED_UTILIZATION_METRICS_MEMORY_MAXIMUM"
          },
          {
            "value": "RecommendationOptionsPlatformDifferences",
            "name": "RECOMMENDATION_OPTIONS_PLATFORM_DIFFERENCES"
          },
          {
            "value": "RecommendationOptionsPerformanceRisk",
            "name": "RECOMMENDATION_OPTIONS_PERFORMANCE_RISK"
          },
          {
            "value": "RecommendationOptionsVcpus",
            "name": "RECOMMENDATION_OPTIONS_VCPUS"
          },
          {
            "value": "RecommendationOptionsMemory",
            "name": "RECOMMENDATION_OPTIONS_MEMORY"
          },
          {
            "value": "RecommendationOptionsStorage",
            "name": "RECOMMENDATION_OPTIONS_STORAGE"
          },
          {
            "value": "RecommendationOptionsNetwork",
            "name": "RECOMMENDATION_OPTIONS_NETWORK"
          },
          {
            "value": "RecommendationOptionsOnDemandPrice",
            "name": "RECOMMENDATION_OPTIONS_ON_DEMAND_PRICE"
          },
          {
            "value": "RecommendationOptionsStandardOneYearNoUpfrontReservedPrice",
            "name": "RECOMMENDATION_OPTIONS_STANDARD_ONE_YEAR_NO_UPFRONT_RESERVED_PRICE"
          },
          {
            "value": "RecommendationOptionsStandardThreeYearNoUpfrontReservedPrice",
            "name": "RECOMMENDATION_OPTIONS_STANDARD_THREE_YEAR_NO_UPFRONT_RESERVED_PRICE"
          },
          {
            "value": "RecommendationsSourcesRecommendationSourceArn",
            "name": "RECOMMENDATIONS_SOURCES_RECOMMENDATION_SOURCE_ARN"
          },
          {
            "value": "RecommendationsSourcesRecommendationSourceType",
            "name": "RECOMMENDATIONS_SOURCES_RECOMMENDATION_SOURCE_TYPE"
          },
          {
            "value": "LastRefreshTimestamp",
            "name": "LAST_REFRESH_TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#ExportableInstanceFields": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#ExportableInstanceField"
      }
    },
    "com.amazonaws.computeoptimizer#ExportableLambdaFunctionField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AccountId",
            "name": "ACCOUNT_ID"
          },
          {
            "value": "FunctionArn",
            "name": "FUNCTION_ARN"
          },
          {
            "value": "FunctionVersion",
            "name": "FUNCTION_VERSION"
          },
          {
            "value": "Finding",
            "name": "FINDING"
          },
          {
            "value": "FindingReasonCodes",
            "name": "FINDING_REASON_CODES"
          },
          {
            "value": "NumberOfInvocations",
            "name": "NUMBER_OF_INVOCATIONS"
          },
          {
            "value": "UtilizationMetricsDurationMaximum",
            "name": "UTILIZATION_METRICS_DURATION_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsDurationAverage",
            "name": "UTILIZATION_METRICS_DURATION_AVERAGE"
          },
          {
            "value": "UtilizationMetricsMemoryMaximum",
            "name": "UTILIZATION_METRICS_MEMORY_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsMemoryAverage",
            "name": "UTILIZATION_METRICS_MEMORY_AVERAGE"
          },
          {
            "value": "LookbackPeriodInDays",
            "name": "LOOKBACK_PERIOD_IN_DAYS"
          },
          {
            "value": "CurrentConfigurationMemorySize",
            "name": "CURRENT_CONFIGURATION_MEMORY_SIZE"
          },
          {
            "value": "CurrentConfigurationTimeout",
            "name": "CURRENT_CONFIGURATION_TIMEOUT"
          },
          {
            "value": "CurrentCostTotal",
            "name": "CURRENT_COST_TOTAL"
          },
          {
            "value": "CurrentCostAverage",
            "name": "CURRENT_COST_AVERAGE"
          },
          {
            "value": "RecommendationOptionsConfigurationMemorySize",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_MEMORY_SIZE"
          },
          {
            "value": "RecommendationOptionsCostLow",
            "name": "RECOMMENDATION_OPTIONS_COST_LOW"
          },
          {
            "value": "RecommendationOptionsCostHigh",
            "name": "RECOMMENDATION_OPTIONS_COST_HIGH"
          },
          {
            "value": "RecommendationOptionsProjectedUtilizationMetricsDurationLowerBound",
            "name": "RECOMMENDATION_OPTIONS_PROJECTED_UTILIZATION_METRICS_DURATION_LOWER_BOUND"
          },
          {
            "value": "RecommendationOptionsProjectedUtilizationMetricsDurationUpperBound",
            "name": "RECOMMENDATION_OPTIONS_PROJECTED_UTILIZATION_METRICS_DURATION_UPPER_BOUND"
          },
          {
            "value": "RecommendationOptionsProjectedUtilizationMetricsDurationExpected",
            "name": "RECOMMENDATION_OPTIONS_PROJECTED_UTILIZATION_METRICS_DURATION_EXPECTED"
          },
          {
            "value": "LastRefreshTimestamp",
            "name": "LAST_REFRESH_TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#ExportableLambdaFunctionFields": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#ExportableLambdaFunctionField"
      }
    },
    "com.amazonaws.computeoptimizer#ExportableVolumeField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AccountId",
            "name": "ACCOUNT_ID"
          },
          {
            "value": "VolumeArn",
            "name": "VOLUME_ARN"
          },
          {
            "value": "Finding",
            "name": "FINDING"
          },
          {
            "value": "UtilizationMetricsVolumeReadOpsPerSecondMaximum",
            "name": "UTILIZATION_METRICS_VOLUME_READ_OPS_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsVolumeWriteOpsPerSecondMaximum",
            "name": "UTILIZATION_METRICS_VOLUME_WRITE_OPS_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsVolumeReadBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_VOLUME_READ_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "UtilizationMetricsVolumeWriteBytesPerSecondMaximum",
            "name": "UTILIZATION_METRICS_VOLUME_WRITE_BYTES_PER_SECOND_MAXIMUM"
          },
          {
            "value": "LookbackPeriodInDays",
            "name": "LOOKBACK_PERIOD_IN_DAYS"
          },
          {
            "value": "CurrentConfigurationVolumeType",
            "name": "CURRENT_CONFIGURATION_VOLUME_TYPE"
          },
          {
            "value": "CurrentConfigurationVolumeBaselineIOPS",
            "name": "CURRENT_CONFIGURATION_VOLUME_BASELINE_IOPS"
          },
          {
            "value": "CurrentConfigurationVolumeBaselineThroughput",
            "name": "CURRENT_CONFIGURATION_VOLUME_BASELINE_THROUGHPUT"
          },
          {
            "value": "CurrentConfigurationVolumeBurstIOPS",
            "name": "CURRENT_CONFIGURATION_VOLUME_BURST_IOPS"
          },
          {
            "value": "CurrentConfigurationVolumeBurstThroughput",
            "name": "CURRENT_CONFIGURATION_VOLUME_BURST_THROUGHPUT"
          },
          {
            "value": "CurrentConfigurationVolumeSize",
            "name": "CURRENT_CONFIGURATION_VOLUME_SIZE"
          },
          {
            "value": "CurrentMonthlyPrice",
            "name": "CURRENT_MONTHLY_PRICE"
          },
          {
            "value": "RecommendationOptionsConfigurationVolumeType",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_VOLUME_TYPE"
          },
          {
            "value": "RecommendationOptionsConfigurationVolumeBaselineIOPS",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_VOLUME_BASELINE_IOPS"
          },
          {
            "value": "RecommendationOptionsConfigurationVolumeBaselineThroughput",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_VOLUME_BASELINE_THROUGHPUT"
          },
          {
            "value": "RecommendationOptionsConfigurationVolumeBurstIOPS",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_VOLUME_BURST_IOPS"
          },
          {
            "value": "RecommendationOptionsConfigurationVolumeBurstThroughput",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_VOLUME_BURST_THROUGHPUT"
          },
          {
            "value": "RecommendationOptionsConfigurationVolumeSize",
            "name": "RECOMMENDATION_OPTIONS_CONFIGURATION_VOLUME_SIZE"
          },
          {
            "value": "RecommendationOptionsMonthlyPrice",
            "name": "RECOMMENDATION_OPTIONS_MONTHLY_PRICE"
          },
          {
            "value": "RecommendationOptionsPerformanceRisk",
            "name": "RECOMMENDATION_OPTIONS_PERFORMANCE_RISK"
          },
          {
            "value": "LastRefreshTimestamp",
            "name": "LAST_REFRESH_TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#ExportableVolumeFields": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#ExportableVolumeField"
      }
    },
    "com.amazonaws.computeoptimizer#FailureReason": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#FileFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Csv",
            "name": "CSV"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#Filter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizer#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter.</p>\n\n        <p>Specify <code>Finding</code> to return recommendations with a specific finding\n            classification (for example, <code>Underprovisioned</code>).</p>\n\n        <p>Specify <code>RecommendationSourceType</code> to return recommendations of a specific\n            resource type (for example, <code>Ec2Instance</code>).</p>\n\n        <p>Specify <code>FindingReasonCodes</code> to return recommendations with a specific\n            finding reason code (for example, <code>CPUUnderprovisioned</code>).</p>"
          }
        },
        "values": {
          "target": "com.amazonaws.computeoptimizer#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The value of the filter.</p>\n\n        <p>The valid values for this parameter are as follows, depending on what you specify for\n            the <code>name</code> parameter and the resource type that you wish to filter results\n            for:</p>\n\n        <ul>\n            <li>\n                <p>Specify <code>Optimized</code> or <code>NotOptimized</code> if you specify the\n                        <code>name</code> parameter as <code>Finding</code> and you want to filter\n                    results for Auto Scaling groups.</p>\n            </li>\n            <li>\n                <p>Specify <code>Underprovisioned</code>, <code>Overprovisioned</code>, or\n                        <code>Optimized</code> if you specify the <code>name</code> parameter as\n                        <code>Finding</code> and you want to filter results for EC2\n                    instances.</p>\n            </li>\n            <li>\n                <p>Specify <code>Ec2Instance</code> or <code>AutoScalingGroup</code> if you\n                    specify the <code>name</code> parameter as\n                    <code>RecommendationSourceType</code>.</p>\n            </li>\n            <li>\n                <p>Specify one of the following options if you specify the <code>name</code>\n                    parameter as <code>FindingReasonCodes</code>:</p>\n\n                <ul>\n                  <li>\n                        <p>\n                        <b>\n                           <code>CPUOverprovisioned</code>\n                        </b> — The\n                            instance’s CPU configuration can be sized down while still meeting the\n                            performance requirements of your workload.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>CPUUnderprovisioned</code>\n                        </b> —\n                            The instance’s CPU configuration doesn't meet the performance\n                            requirements of your workload and there is an alternative instance type\n                            that provides better CPU performance.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>MemoryOverprovisioned</code>\n                        </b> —\n                            The instance’s memory configuration can be sized down while still\n                            meeting the performance requirements of your workload.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>MemoryUnderprovisioned</code>\n                        </b> —\n                            The instance’s memory configuration doesn't meet the performance\n                            requirements of your workload and there is an alternative instance type\n                            that provides better memory performance.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>EBSThroughputOverprovisioned</code>\n                        </b> — The\n                            instance’s EBS throughput configuration can be sized down while still\n                            meeting the performance requirements of your workload.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>EBSThroughputUnderprovisioned</code>\n                        </b> — The\n                            instance’s EBS throughput configuration doesn't meet the performance\n                            requirements of your workload and there is an alternative instance type\n                            that provides better EBS throughput performance.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>EBSIOPSOverprovisioned</code>\n                        </b> —\n                            The instance’s EBS IOPS configuration can be sized down while still\n                            meeting the performance requirements of your workload.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>EBSIOPSUnderprovisioned</code>\n                        </b>\n                            — The instance’s EBS IOPS configuration doesn't meet the performance\n                            requirements of your workload and there is an alternative instance type\n                            that provides better EBS IOPS performance.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>NetworkBandwidthOverprovisioned</code>\n                        </b> — The\n                            instance’s network bandwidth configuration can be sized down while still\n                            meeting the performance requirements of your workload.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>NetworkBandwidthUnderprovisioned</code>\n                        </b> — The\n                            instance’s network bandwidth configuration doesn't meet the performance\n                            requirements of your workload and there is an alternative instance type\n                            that provides better network bandwidth performance. This finding reason\n                            happens when the <code>NetworkIn</code> or <code>NetworkOut</code>\n                            performance of an instance is impacted.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>NetworkPPSOverprovisioned</code>\n                        </b> — The instance’s\n                            network PPS (packets per second) configuration can be sized down while\n                            still meeting the performance requirements of your workload.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>NetworkPPSUnderprovisioned</code>\n                        </b> — The instance’s\n                            network PPS (packets per second) configuration doesn't meet the\n                            performance requirements of your workload and there is an alternative\n                            instance type that provides better network PPS performance.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>DiskIOPSOverprovisioned</code>\n                        </b>\n                            — The instance’s disk IOPS configuration can be sized down while still\n                            meeting the performance requirements of your workload.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>DiskIOPSUnderprovisioned</code>\n                        </b>\n                            — The instance’s disk IOPS configuration doesn't meet the performance\n                            requirements of your workload and there is an alternative instance type\n                            that provides better disk IOPS performance.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>DiskThroughputOverprovisioned</code>\n                        </b> — The\n                            instance’s disk throughput configuration can be sized down while still\n                            meeting the performance requirements of your workload.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>\n                           <code>DiskThroughputUnderprovisioned</code>\n                        </b> — The\n                            instance’s disk throughput configuration doesn't meet the performance\n                            requirements of your workload and there is an alternative instance type\n                            that provides better disk throughput performance.</p>\n                    </li>\n               </ul>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a filter that returns a more specific list of recommendations. Use this\n            filter with the <a>GetAutoScalingGroupRecommendations</a> and <a>GetEC2InstanceRecommendations</a> actions.</p>\n\n        <p>You can use <code>EBSFilter</code> with the <a>GetEBSVolumeRecommendations</a> action,\n                <code>LambdaFunctionRecommendationFilter</code> with the <a>GetLambdaFunctionRecommendations</a> action, and <code>JobFilter</code> with\n            the <a>DescribeRecommendationExportJobs</a> action.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Finding",
            "name": "FINDING"
          },
          {
            "value": "FindingReasonCodes",
            "name": "FINDING_REASON_CODES"
          },
          {
            "value": "RecommendationSourceType",
            "name": "RECOMMENDATION_SOURCE_TYPE"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#FilterValue": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#FilterValue"
      }
    },
    "com.amazonaws.computeoptimizer#Filters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#Filter"
      }
    },
    "com.amazonaws.computeoptimizer#Finding": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Underprovisioned",
            "name": "UNDER_PROVISIONED"
          },
          {
            "value": "Overprovisioned",
            "name": "OVER_PROVISIONED"
          },
          {
            "value": "Optimized",
            "name": "OPTIMIZED"
          },
          {
            "value": "NotOptimized",
            "name": "NOT_OPTIMIZED"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#FindingReasonCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MemoryOverprovisioned",
            "name": "MEMORY_OVER_PROVISIONED"
          },
          {
            "value": "MemoryUnderprovisioned",
            "name": "MEMORY_UNDER_PROVISIONED"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizer#FunctionArn": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#FunctionArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizer#FunctionArn"
      }
    },
    "com.amazonaws.computeoptimizer#FunctionVersion": {
      "type": "string"
    },
    "com.amazonaws.computeoptimizer#GetAutoScalingGroupRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer#GetAutoScalingGroupRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer#GetAutoScalingGroupRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns Auto Scaling group recommendations.</p>\n\n        <p>Compute Optimizer generates recommendations for Amazon EC2 Auto Scaling groups that\n            meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported\n                resources and requirements</a> in the <i>Compute Optimizer User\n                Guide</i>.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#GetAutoScalingGroupRecommendationsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizer#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account for which to return Auto Scaling group\n            recommendations.</p>\n\n        <p>If your account is the management account of an organization, use this parameter to\n            specify the member account for which you want to return Auto Scaling group\n            recommendations.</p>\n\n        <p>Only one account ID can be specified per request.</p>"
          }
        },
        "autoScalingGroupArns": {
          "target": "com.amazonaws.computeoptimizer#AutoScalingGroupArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling groups for which to return\n            recommendations.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to advance to the next page of Auto Scaling group\n            recommendations.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.computeoptimizer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of Auto Scaling group recommendations to return with a single\n            request.</p>\n\n        <p>To retrieve the remaining results, make another request with the returned\n                <code>nextToken</code> value.</p>"
          }
        },
        "filters": {
          "target": "com.amazonaws.computeoptimizer#Filters",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects to specify a filter that returns a more specific list of Auto Scaling group recommendations.</p>"
          }
        },
        "recommendationPreferences": {
          "target": "com.amazonaws.computeoptimizer#RecommendationPreferences",
          "traits": {
            "smithy.api#documentation": "<p>An object to specify the preferences for the Auto Scaling group recommendations\n            to return in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#GetAutoScalingGroupRecommendationsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to advance to the next page of Auto Scaling group\n            recommendations.</p>\n\n        <p>This value is null when there are no more pages of Auto Scaling group\n            recommendations to return.</p>"
          }
        },
        "autoScalingGroupRecommendations": {
          "target": "com.amazonaws.computeoptimizer#AutoScalingGroupRecommendations",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe Auto Scaling group recommendations.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.computeoptimizer#GetRecommendationErrors",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe errors of the request.</p>\n\n        <p>For example, an error is returned if you request recommendations for an unsupported\n                Auto Scaling group.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#GetEBSVolumeRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizer#GetEBSVolumeRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizer#GetEBSVolumeRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#MissingAuthenticationToken"
        },
        {
          "target": "com.amazonaws.computeoptimizer#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizer#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns Amazon Elastic Block Store (Amazon EBS) volume recommendations.</p>\n\n        <p>Compute Optimizer generates recommendations for Amazon EBS volumes that\n            meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported\n                resources and requirements</a> in the <i>Compute Optimizer User\n                Guide</i>.</p>"
      }
    },
    "com.amazonaws.computeoptimizer#GetEBSVolumeRecommendationsRequest": {
      "type": "structure",
      "members": {
        "volumeArns": {
          "target": "com.amazonaws.computeoptimizer#VolumeArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the volumes for which to return\n            recommendations.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to advance to the next page of volume recommendations.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.computeoptimizer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of volume recommendations to return with a single request.</p>\n\n        <p>To retrieve the remaining results, make another request with the returned\n                <code>nextToken</code> value.</p>"
          }
        },
        "filters": {
          "target": "com.amazonaws.computeoptimizer#EBSFilters",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects to specify a filter that returns a more specific list of volume\n            recommendations.</p>"
          }
        },
        "accountIds": {
          "target": "com.amazonaws.computeoptimizer#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account for which to return volume\n            recommendations.</p>\n\n        <p>If your account is the management account of an organization, use this parameter to\n            specify the member account for which you want to return volume recommendations.</p>\n\n        <p>Only one account ID can be specified per request.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#GetEBSVolumeRecommendationsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.computeoptimizer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to advance to the next page of volume recommendations.</p>\n\n        <p>This value is null when there are no more pages of volume recommendations to\n            return.</p>"
          }
        },
        "volumeRecommendations": {
          "target": "com.amazonaws.computeoptimizer#VolumeRecommendations",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe volume recommendations.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.computeoptimizer#GetRecommendationErrors",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe errors of the request.</p>\n\n        <p>For example, an error is returned if you request recommendations for an unsupported\n            volume.</p>"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizer#GetEC2InstanceRecommendations": {
      "type": "operation",
      "input": {
[...]
