{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.computeoptimizerautomation#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> You do not have sufficient permissions to perform this action. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.computeoptimizerautomation#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#AccountId"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AccountInfo": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.computeoptimizerautomation#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Amazon Web Services account. </p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.computeoptimizerautomation#EnrollmentStatus",
          "traits": {
            "smithy.api#documentation": "<p> The enrollment status of the account: Active, Inactive, Pending, or Failed. </p>",
            "smithy.api#required": {}
          }
        },
        "organizationRuleMode": {
          "target": "com.amazonaws.computeoptimizerautomation#OrganizationRuleMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the management account can create Automation rules that implement optimization actions for this account. </p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the current Automation enrollment status. </p>"
          }
        },
        "lastUpdatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the account's Automation enrollment status was last updated. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains information about an Amazon Web Services account's enrollment and association status with Compute Optimizer Automation. </p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AccountInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#AccountInfo"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AssociateAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizerautomation#AssociateAccountsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizerautomation#AssociateAccountsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizerautomation#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ForbiddenException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#IdempotencyTokenInUseException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#NotManagementAccountException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates one or more member accounts with your organization's management account, enabling centralized implementation of optimization actions across those accounts. Once associated, the management account (or a delegated administrator) can apply recommended actions to the member account. When you associate a member account, its organization rule mode is automatically set to \"Any allowed,\" which permits the management account to create Automation rules that automatically apply actions to that account. If the member account has not previously enabled the Automation feature, the association process automatically enables it.</p> <note> <p>Only the management account or a delegated administrator can perform this action.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#AssociateAccountsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizerautomation#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p> The IDs of the member accounts to associate. You can specify up to 50 account IDs. </p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.computeoptimizerautomation#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier to ensure idempotency of the request. Valid for 24 hours after creation. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#AssociateAccountsResponse": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizerautomation#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p> The IDs of the member accounts that were successfully associated. </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.computeoptimizerautomation#StringList",
          "traits": {
            "smithy.api#documentation": "<p> Any errors that occurred during the association process. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationEvent": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "com.amazonaws.computeoptimizerautomation#EventId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier for the automation event. </p>"
          }
        },
        "eventDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> A description of the automation event. </p>"
          }
        },
        "eventType": {
          "target": "com.amazonaws.computeoptimizerautomation#EventType",
          "traits": {
            "smithy.api#documentation": "<p> The type of automation event. </p>"
          }
        },
        "eventStatus": {
          "target": "com.amazonaws.computeoptimizerautomation#EventStatus",
          "traits": {
            "smithy.api#documentation": "<p> The current status of the automation event. </p>"
          }
        },
        "eventStatusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The reason for the current event status. </p>"
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the resource affected by the automation event. </p>"
          }
        },
        "resourceId": {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the resource affected by the automation event. </p>"
          }
        },
        "recommendedActionId": {
          "target": "com.amazonaws.computeoptimizerautomation#RecommendedActionId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the recommended action associated with this automation event. </p>"
          }
        },
        "accountId": {
          "target": "com.amazonaws.computeoptimizerautomation#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID associated with the automation event. </p>"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services Region where the automation event occurred. </p>"
          }
        },
        "ruleId": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the automation rule that triggered this event. </p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p> The type of resource affected by the automation event. </p>"
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the automation event was created.</p>"
          }
        },
        "completedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp when the automation event completed. </p>"
          }
        },
        "estimatedMonthlySavings": {
          "target": "com.amazonaws.computeoptimizerautomation#EstimatedMonthlySavings",
          "traits": {
            "smithy.api#documentation": "<p> The estimated monthly cost savings associated with this automation event. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains information about an automation event. </p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationEventFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizerautomation#AutomationEventFilterName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the filter to apply. </p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.computeoptimizerautomation#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p> The values to use for the specified filter. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A filter to apply when listing automation events. </p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationEventFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#AutomationEventFilter"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationEventFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AccountId",
            "name": "ACCOUNT_ID"
          },
          {
            "value": "ResourceType",
            "name": "RESOURCE_TYPE"
          },
          {
            "value": "EventType",
            "name": "EVENT_TYPE"
          },
          {
            "value": "EventStatus",
            "name": "EVENT_STATUS"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationEventStep": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "com.amazonaws.computeoptimizerautomation#EventId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the automation event this step belongs to. </p>"
          }
        },
        "stepId": {
          "target": "com.amazonaws.computeoptimizerautomation#StepId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier for this step. </p>"
          }
        },
        "stepType": {
          "target": "com.amazonaws.computeoptimizerautomation#StepType",
          "traits": {
            "smithy.api#documentation": "<p> The type of step. </p>"
          }
        },
        "stepStatus": {
          "target": "com.amazonaws.computeoptimizerautomation#StepStatus",
          "traits": {
            "smithy.api#documentation": "<p> The current status of the step. </p>"
          }
        },
        "resourceId": {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the resource being acted upon in this step.</p>"
          }
        },
        "startTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when this automation event step started execution.</p>"
          }
        },
        "completedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when this automation event step completed execution.</p>"
          }
        },
        "estimatedMonthlySavings": {
          "target": "com.amazonaws.computeoptimizerautomation#EstimatedMonthlySavings"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains information about a step in an automation event. </p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationEventSteps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#AutomationEventStep"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationEventSummary": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The key identifier for this summary grouping.</p>"
          }
        },
        "dimensions": {
          "target": "com.amazonaws.computeoptimizerautomation#SummaryDimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions used to group this summary, such as event status.</p>"
          }
        },
        "timePeriod": {
          "target": "com.amazonaws.computeoptimizerautomation#TimePeriod",
          "traits": {
            "smithy.api#documentation": "<p>The time period covered by this summary, with inclusive start time and exclusive end time.</p>"
          }
        },
        "total": {
          "target": "com.amazonaws.computeoptimizerautomation#SummaryTotals",
          "traits": {
            "smithy.api#documentation": "<p>The aggregated totals for this summary, including event count and estimated savings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A summary of automation events grouped by specified dimensions. </p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationEventSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#AutomationEventSummary"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#AutomationEvent"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationRule": {
      "type": "structure",
      "members": {
        "ruleArn": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the automation rule.</p>"
          }
        },
        "ruleId": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the automation rule.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the automation rule.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the automation rule.</p>"
          }
        },
        "ruleType": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleType",
          "traits": {
            "smithy.api#documentation": "<p>The type of automation rule (OrganizationRule or AccountRule).</p>"
          }
        },
        "ruleRevision": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The revision number of the automation rule.</p>"
          }
        },
        "accountId": {
          "target": "com.amazonaws.computeoptimizerautomation#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit Amazon Web Services account ID that owns this automation rule.</p>"
          }
        },
        "organizationConfiguration": {
          "target": "com.amazonaws.computeoptimizerautomation#OrganizationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration settings for organization-wide rules.</p>"
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A string representation of a decimal number between 0 and 1 (having up to 30 digits after the decimal point) that determines the priority of the rule. When multiple rules match the same recommended action, Compute Optimizer assigns the action to the rule with the lowest priority value (highest priority), even if that rule is scheduled to run later than other matching rules.</p>"
          }
        },
        "recommendedActionTypes": {
          "target": "com.amazonaws.computeoptimizerautomation#RecommendedActionTypeList",
          "traits": {
            "smithy.api#documentation": "<p>List of recommended action types that this rule can execute.</p>"
          }
        },
        "schedule": {
          "target": "com.amazonaws.computeoptimizerautomation#Schedule",
          "traits": {
            "smithy.api#documentation": "<p>The schedule configuration for when the automation rule should execute.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the automation rule (Active or Inactive).</p>"
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the automation rule was created.</p>"
          }
        },
        "lastUpdatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the automation rule was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a complete automation rule configuration including criteria, schedule, and execution settings.</p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationRuleFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Name",
            "name": "NAME"
          },
          {
            "value": "RecommendedActionType",
            "name": "RECOMMENDED_ACTION_TYPE"
          },
          {
            "value": "Status",
            "name": "STATUS"
          },
          {
            "value": "RuleType",
            "name": "RULE_TYPE"
          },
          {
            "value": "OrganizationConfigurationRuleApplyOrder",
            "name": "ORGANIZATION_CONFIGURATION_RULE_APPLY_ORDER"
          },
          {
            "value": "AccountId",
            "name": "ACCOUNT_ID"
          }
        ]
      }
    },
    "com.amazonaws.computeoptimizerautomation#AutomationRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#AutomationRule"
      }
    },
    "com.amazonaws.computeoptimizerautomation#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_-]{1,64}$"
      }
    },
    "com.amazonaws.computeoptimizerautomation#ComparisonOperator": {
      "type": "enum",
      "members": {
        "STRING_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StringEquals"
          }
        },
        "STRING_NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StringNotEquals"
          }
        },
        "STRING_EQUALS_IGNORE_CASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StringEqualsIgnoreCase"
          }
        },
        "STRING_NOT_EQUALS_IGNORE_CASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StringNotEqualsIgnoreCase"
          }
        },
        "STRING_LIKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StringLike"
          }
        },
        "STRING_NOT_LIKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StringNotLike"
          }
        },
        "NUMERIC_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NumericEquals"
          }
        },
        "NUMERIC_NOT_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NumericNotEquals"
          }
        },
        "NUMERIC_LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NumericLessThan"
          }
        },
        "NUMERIC_LESS_THAN_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NumericLessThanEquals"
          }
        },
        "NUMERIC_GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NumericGreaterThan"
          }
        },
        "NUMERIC_GREATER_THAN_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NumericGreaterThanEquals"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizerautomation#ComputeOptimizerAutomationService": {
      "type": "service",
      "version": "2025-09-22",
      "operations": [
        {
          "target": "com.amazonaws.computeoptimizerautomation#AssociateAccounts"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#CreateAutomationRule"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#DeleteAutomationRule"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#DisassociateAccounts"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#GetAutomationEvent"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#GetAutomationRule"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#GetEnrollmentConfiguration"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ListAccounts"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ListAutomationEvents"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ListAutomationEventSteps"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ListAutomationEventSummaries"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ListAutomationRulePreview"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ListAutomationRulePreviewSummaries"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ListAutomationRules"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ListRecommendedActions"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ListRecommendedActionSummaries"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#RollbackAutomationEvent"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#StartAutomationEvent"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#TagResource"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#UntagResource"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#UpdateAutomationRule"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#UpdateEnrollmentConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Compute Optimizer Automation",
          "arnNamespace": "compute-optimizer",
          "endpointPrefix": "aco-automation"
        },
        "aws.auth#sigv4": {
          "name": "aco-automation"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p> Automation is a feature within Amazon Web Services Compute Optimizer that enables you to apply optimization recommendations to your Amazon Web Services resources, reducing costs and improving performance. You can apply recommended actions directly or create automation rules that implement recommendations on a recurring schedule when they match your specified criteria. With automation rules, set criteria such as Amazon Web Services Region and Resource Tags to target specific geographies and workloads. Configure rules to run daily, weekly, or monthly, and Compute Optimizer continuously evaluates new recommendations against your criteria. Track automation events over time, examine detailed step history, estimate savings achieved, and reverse actions directly from Compute Optimizer when needed. </p>",
        "smithy.api#title": "Compute Optimizer Automation",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://aco-automation-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://aco-automation-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://aco-automation.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://aco-automation.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aco-automation.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.computeoptimizerautomation#CreateAutomationRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizerautomation#CreateAutomationRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizerautomation#CreateAutomationRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizerautomation#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ForbiddenException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#IdempotencyTokenInUseException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new automation rule to apply recommended actions to resources based on specified criteria. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#CreateAutomationRuleRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the automation rule. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleDescription",
          "traits": {
            "smithy.api#documentation": "<p> A description of the automation rule. </p>"
          }
        },
        "ruleType": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleType",
          "traits": {
            "smithy.api#documentation": "<p> The type of rule. </p> <note> <p>Only the management account or a delegated administrator can set the ruleType to be OrganizationRule.</p> </note>",
            "smithy.api#required": {}
          }
        },
        "organizationConfiguration": {
          "target": "com.amazonaws.computeoptimizerautomation#OrganizationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> Configuration for organization-level rules. Required for OrganizationRule type. </p>"
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A string representation of a decimal number between 0 and 1 (having up to 30 digits after the decimal point) that determines the priority of the rule. When multiple rules match the same recommended action, Compute Optimizer assigns the action to the rule with the lowest priority value (highest priority), even if that rule is scheduled to run later than other matching rules. </p>"
          }
        },
        "recommendedActionTypes": {
          "target": "com.amazonaws.computeoptimizerautomation#RecommendedActionTypeList",
          "traits": {
            "smithy.api#documentation": "<p> The types of recommended actions this rule will automate. </p>",
            "smithy.api#required": {}
          }
        },
        "criteria": {
          "target": "com.amazonaws.computeoptimizerautomation#Criteria",
          "traits": {
            "smithy.api#documentation": "<p>A set of conditions that specify which recommended action qualify for implementation. When a rule is active and a recommended action matches these criteria, Compute Optimizer implements the action at the scheduled run time. </p>"
          }
        },
        "schedule": {
          "target": "com.amazonaws.computeoptimizerautomation#Schedule",
          "traits": {
            "smithy.api#documentation": "<p> The schedule for when the rule should run. </p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the rule </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.computeoptimizerautomation#TagList",
          "traits": {
            "smithy.api#documentation": "<p> The tags to associate with the rule. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.computeoptimizerautomation#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier to ensure idempotency of the request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#CreateAutomationRuleResponse": {
      "type": "structure",
      "members": {
        "ruleArn": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the created rule. </p>"
          }
        },
        "ruleId": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of the created rule. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the automation rule. Must be 1-128 characters long and contain only alphanumeric characters, underscores, and hyphens.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the automation rule. Can be up to 1024 characters long and contain alphanumeric characters, underscores, hyphens, spaces, and certain special characters.</p>"
          }
        },
        "ruleType": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleType",
          "traits": {
            "smithy.api#documentation": "<p>The type of automation rule. Can be either OrganizationRule for organization-wide rules or AccountRule for account-specific rules.</p>"
          }
        },
        "ruleRevision": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The revision number of the automation rule. This is incremented each time the rule is updated.</p>"
          }
        },
        "organizationConfiguration": {
          "target": "com.amazonaws.computeoptimizerautomation#OrganizationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration settings for organization-wide rules, including rule application order and target account IDs.</p>"
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The priority level of the automation rule, used to determine execution order when multiple rules apply to the same resource.</p>"
          }
        },
        "recommendedActionTypes": {
          "target": "com.amazonaws.computeoptimizerautomation#RecommendedActionTypeList",
          "traits": {
            "smithy.api#documentation": "<p>List of recommended action types that this rule can execute, such as SnapshotAndDeleteUnattachedEbsVolume or UpgradeEbsVolumeType.</p>"
          }
        },
        "criteria": {
          "target": "com.amazonaws.computeoptimizerautomation#Criteria"
        },
        "schedule": {
          "target": "com.amazonaws.computeoptimizerautomation#Schedule",
          "traits": {
            "smithy.api#documentation": "<p>The schedule configuration for when the automation rule should execute, including cron expression, timezone, and execution window.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the automation rule. Can be Active or Inactive.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.computeoptimizerautomation#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs used to categorize and organize the automation rule. Maximum of 200 tags allowed.</p>"
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the automation rule was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#Criteria": {
      "type": "structure",
      "members": {
        "region": {
          "target": "com.amazonaws.computeoptimizerautomation#StringCriteriaConditionList",
          "traits": {
            "smithy.api#documentation": "<p>Filter criteria for Amazon Web Services regions where resources must be located.</p>"
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.computeoptimizerautomation#StringCriteriaConditionList",
          "traits": {
            "smithy.api#documentation": "<p>Filter criteria for specific resource ARNs to include or exclude.</p>"
          }
        },
        "ebsVolumeType": {
          "target": "com.amazonaws.computeoptimizerautomation#StringCriteriaConditionList",
          "traits": {
            "smithy.api#documentation": "<p>Filter criteria for EBS volume types, such as gp2, gp3, io1, io2, st1, or sc1.</p>"
          }
        },
        "ebsVolumeSizeInGib": {
          "target": "com.amazonaws.computeoptimizerautomation#IntegerCriteriaConditionList",
          "traits": {
            "smithy.api#documentation": "<p>Filter criteria for EBS volume sizes in gibibytes (GiB).</p>"
          }
        },
        "estimatedMonthlySavings": {
          "target": "com.amazonaws.computeoptimizerautomation#DoubleCriteriaConditionList",
          "traits": {
            "smithy.api#documentation": "<p>Filter criteria for estimated monthly cost savings from the recommended action.</p>"
          }
        },
        "resourceTag": {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceTagsCriteriaConditionList",
          "traits": {
            "smithy.api#documentation": "<p>Filter criteria for resource tags, allowing filtering by tag key and value combinations.</p>"
          }
        },
        "lookBackPeriodInDays": {
          "target": "com.amazonaws.computeoptimizerautomation#IntegerCriteriaConditionList",
          "traits": {
            "smithy.api#documentation": "<p>Filter criteria for the lookback period in days used to analyze resource utilization.</p>"
          }
        },
        "restartNeeded": {
          "target": "com.amazonaws.computeoptimizerautomation#StringCriteriaConditionList",
          "traits": {
            "smithy.api#documentation": "<p>Filter criteria indicating whether the recommended action requires a resource restart.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A set of conditions that specify which recommended action qualify for implementation. When a rule is active and a recommended action matches these criteria, Compute Optimizer implements the action at the scheduled run time. You can specify up to 20 conditions per filter criteria and 20 values per condition. </p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#DeleteAutomationRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizerautomation#DeleteAutomationRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizerautomation#DeleteAutomationRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizerautomation#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ForbiddenException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#IdempotencyTokenInUseException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an existing automation rule. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#DeleteAutomationRuleRequest": {
      "type": "structure",
      "members": {
        "ruleArn": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the rule to delete. </p>",
            "smithy.api#required": {}
          }
        },
        "ruleRevision": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p> The revision number of the rule to delete. </p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.computeoptimizerautomation#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier to ensure idempotency of the request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#DeleteAutomationRuleResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#DisassociateAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizerautomation#DisassociateAccountsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizerautomation#DisassociateAccountsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizerautomation#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ForbiddenException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#IdempotencyTokenInUseException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#NotManagementAccountException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Disassociates member accounts from your organization's management account, removing centralized automation capabilities. Once disassociated, organization rules no longer apply to the member account, and the management account (or delegated administrator) cannot create Automation rules for that account. </p> <note> <p>Only the management account or a delegated administrator can perform this action.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#DisassociateAccountsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizerautomation#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p> The IDs of the member accounts to disassociate. </p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.computeoptimizerautomation#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier to ensure idempotency of the request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#DisassociateAccountsResponse": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.computeoptimizerautomation#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p> The IDs of the member accounts that were successfully disassociated. </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.computeoptimizerautomation#StringList",
          "traits": {
            "smithy.api#documentation": "<p> Any errors that occurred during the disassociation process. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#DoubleCriteriaCondition": {
      "type": "structure",
      "members": {
        "comparison": {
          "target": "com.amazonaws.computeoptimizerautomation#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>The comparison operator to use, such as equals, greater than, less than, etc.</p>"
          }
        },
        "values": {
          "target": "com.amazonaws.computeoptimizerautomation#DoubleList",
          "traits": {
            "smithy.api#documentation": "<p>The list of double values to compare against using the specified comparison operator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a condition for filtering based on double/floating-point numeric values with comparison operators.</p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#DoubleCriteriaConditionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#DoubleCriteriaCondition"
      }
    },
    "com.amazonaws.computeoptimizerautomation#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.amazonaws.computeoptimizerautomation#EbsVolume": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.amazonaws.computeoptimizerautomation#EbsVolumeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details of the EBS volume, including type, size, IOPS, and throughput.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an Amazon EBS volume with its configuration and snapshot usage information.</p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#EbsVolumeConfiguration": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The EBS volume type, such as gp2, gp3, io1, io2, st1, or sc1.</p>"
          }
        },
        "sizeInGib": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the EBS volume in gibibytes (GiB).</p>"
          }
        },
        "iops": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of I/O operations per second (IOPS) provisioned for the volume.</p>"
          }
        },
        "throughput": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The throughput in MiB/s provisioned for the volume (applicable to gp3, io1, and io2bx volumes).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration details for an Amazon EBS volume.</p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#EnrollmentStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizerautomation#EstimatedMonthlySavings": {
      "type": "structure",
      "members": {
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The currency of the estimated savings. </p>",
            "smithy.api#required": {}
          }
        },
        "beforeDiscountSavings": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p> The estimated monthly savings before applying any discounts. </p>",
            "smithy.api#required": {}
          }
        },
        "afterDiscountSavings": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p> The estimated monthly savings after applying any discounts. </p>",
            "smithy.api#required": {}
          }
        },
        "savingsEstimationMode": {
          "target": "com.amazonaws.computeoptimizerautomation#SavingsEstimationMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode used to calculate savings, either BeforeDiscount or AfterDiscount.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains information about estimated monthly cost savings. </p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#EventId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9A-Za-z]{16}$"
      }
    },
    "com.amazonaws.computeoptimizerautomation#EventStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ready"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complete"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Cancelled"
          }
        },
        "ROLLBACK_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RollbackReady"
          }
        },
        "ROLLBACK_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RollbackInProgress"
          }
        },
        "ROLLBACK_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RollbackComplete"
          }
        },
        "ROLLBACK_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RollbackFailed"
          }
        }
      }
    },
    "com.amazonaws.computeoptimizerautomation#EventType": {
      "type": "enum",
      "members": {
        "SNAPSHOT_AND_DELETE_UNATTACHED_EBS_VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SnapshotAndDeleteUnattachedEbsVolume"
          }
        },
        "UPGRADE_EBS_VOLUME_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpgradeEbsVolumeType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event type enumeration"
      }
    },
    "com.amazonaws.computeoptimizerautomation#Filter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.computeoptimizerautomation#AutomationRuleFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter field to apply.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.computeoptimizerautomation#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The list of values to filter by for the specified filter field.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter used to narrow down results based on specific criteria.</p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#Filter"
      }
    },
    "com.amazonaws.computeoptimizerautomation#FilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-_\\.\\*\\?\\s]+$"
      }
    },
    "com.amazonaws.computeoptimizerautomation#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#FilterValue"
      }
    },
    "com.amazonaws.computeoptimizerautomation#ForbiddenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> You are not authorized to perform this action. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.computeoptimizerautomation#GetAutomationEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizerautomation#GetAutomationEventRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizerautomation#GetAutomationEventResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizerautomation#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ForbiddenException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves details about a specific automation event. </p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#GetAutomationEventRequest": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "com.amazonaws.computeoptimizerautomation#EventId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the automation event to retrieve. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#GetAutomationEventResponse": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "com.amazonaws.computeoptimizerautomation#EventId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the automation event to retrieve.</p>"
          }
        },
        "eventDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the automation event.</p>"
          }
        },
        "eventType": {
          "target": "com.amazonaws.computeoptimizerautomation#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of automation event.</p>"
          }
        },
        "eventStatus": {
          "target": "com.amazonaws.computeoptimizerautomation#EventStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the automation event.</p>"
          }
        },
        "eventStatusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the current event status.</p>"
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource affected by the automation event.</p>"
          }
        },
        "resourceId": {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource affected by the automation event.</p>"
          }
        },
        "recommendedActionId": {
          "target": "com.amazonaws.computeoptimizerautomation#RecommendedActionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the recommended action associated with this automation event.</p>"
          }
        },
        "accountId": {
          "target": "com.amazonaws.computeoptimizerautomation#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID associated with the automation event.</p>"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region where the automation event occurred.</p>"
          }
        },
        "ruleId": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the automation rule that triggered this event.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource affected by the automation event.</p>"
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the automation event was created.</p>"
          }
        },
        "completedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the automation event completed.</p>"
          }
        },
        "estimatedMonthlySavings": {
          "target": "com.amazonaws.computeoptimizerautomation#EstimatedMonthlySavings"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#GetAutomationRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizerautomation#GetAutomationRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizerautomation#GetAutomationRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizerautomation#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ForbiddenException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves details about a specific automation rule. </p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#GetAutomationRuleRequest": {
      "type": "structure",
      "members": {
        "ruleArn": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the rule to retrieve. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#GetAutomationRuleResponse": {
      "type": "structure",
      "members": {
        "ruleArn": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the automation rule.</p>"
          }
        },
        "ruleId": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the automation rule.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the automation rule.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the automation rule.</p>"
          }
        },
        "ruleType": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleType",
          "traits": {
            "smithy.api#documentation": "<p>The type of automation rule.</p>"
          }
        },
        "ruleRevision": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The revision number of the automation rule.</p>"
          }
        },
        "accountId": {
          "target": "com.amazonaws.computeoptimizerautomation#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit Amazon Web Services account ID that owns this automation rule.</p>"
          }
        },
        "organizationConfiguration": {
          "target": "com.amazonaws.computeoptimizerautomation#OrganizationConfiguration"
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A string representation of a decimal number between 0 and 1 (having up to 30 digits after the decimal point) that determines the priority of the rule.</p>"
          }
        },
        "recommendedActionTypes": {
          "target": "com.amazonaws.computeoptimizerautomation#RecommendedActionTypeList",
          "traits": {
            "smithy.api#documentation": "<p>List of recommended action types that this rule can execute.</p>"
          }
        },
        "criteria": {
          "target": "com.amazonaws.computeoptimizerautomation#Criteria"
        },
        "schedule": {
          "target": "com.amazonaws.computeoptimizerautomation#Schedule"
        },
        "status": {
          "target": "com.amazonaws.computeoptimizerautomation#RuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the automation rule (Active or Inactive).</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.computeoptimizerautomation#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the automation rule.</p>"
          }
        },
        "createdTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the automation rule was created.</p>"
          }
        },
        "lastUpdatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the automation rule was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#GetEnrollmentConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizerautomation#GetEnrollmentConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizerautomation#GetEnrollmentConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizerautomation#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ForbiddenException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves the current enrollment configuration for Compute Optimizer Automation. </p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#GetEnrollmentConfigurationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#GetEnrollmentConfigurationResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.computeoptimizerautomation#EnrollmentStatus",
          "traits": {
            "smithy.api#documentation": "<p> The current enrollment status. </p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The reason for the current enrollment status. </p>"
          }
        },
        "organizationRuleMode": {
          "target": "com.amazonaws.computeoptimizerautomation#OrganizationRuleMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the management account can create Automation rules that implement optimization actions for this account. </p>"
          }
        },
        "lastUpdatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp of the last update to the enrollment configuration. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#IdempotencyTokenInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The specified client token is already in use. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.computeoptimizerautomation#IdempotentParameterMismatchException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception thrown when the same client token is used with different parameters, indicating a mismatch in idempotent request parameters.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.computeoptimizerautomation#IntegerCriteriaCondition": {
      "type": "structure",
      "members": {
        "comparison": {
          "target": "com.amazonaws.computeoptimizerautomation#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>The comparison operator to use, such as equals, greater than, less than, etc.</p>"
          }
        },
        "values": {
          "target": "com.amazonaws.computeoptimizerautomation#IntegerList",
          "traits": {
            "smithy.api#documentation": "<p>The list of integer values to compare against using the specified comparison operator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a condition for filtering based on integer values with comparison operators.</p>"
      }
    },
    "com.amazonaws.computeoptimizerautomation#IntegerCriteriaConditionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.computeoptimizerautomation#IntegerCriteriaCondition"
      }
    },
    "com.amazonaws.computeoptimizerautomation#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.amazonaws.computeoptimizerautomation#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An internal error occurred while processing the request. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.computeoptimizerautomation#InvalidParameterValueException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> One or more parameter values are not valid. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.computeoptimizerautomation#ListAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizerautomation#ListAccountsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizerautomation#ListAccountsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizerautomation#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ForbiddenException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#NotManagementAccountException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Lists the accounts in your organization that are enrolled in Compute Optimizer and whether they have enabled Automation. </p> <note> <p>Only the management account or a delegated administrator can perform this action.</p> </note>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "accounts"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#ListAccountsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of results to return in a single call. </p>",
            "smithy.api#range": {
              "min": 1,
              "max": 1000
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizerautomation#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token for the next page of results. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#ListAccountsResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.amazonaws.computeoptimizerautomation#AccountInfoList",
          "traits": {
            "smithy.api#documentation": "<p> The list of accounts in your organization enrolled in Compute Optimizer </p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.computeoptimizerautomation#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token to use to retrieve the next page of results. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.computeoptimizerautomation#ListAutomationEventSteps": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.computeoptimizerautomation#ListAutomationEventStepsRequest"
      },
      "output": {
        "target": "com.amazonaws.computeoptimizerautomation#ListAutomationEventStepsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.computeoptimizerautomation#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ForbiddenException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InternalServerException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#OptInRequiredException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.computeoptimizerautomation#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the steps for a specific automation event. You can only list steps for events created within the past year. </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "automationEventSteps"
        }
      }
    },
[...]
