{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.comprehendmedical#AnyLengthString": {
      "type": "string"
    },
    "com.amazonaws.comprehendmedical#Attribute": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.comprehendmedical#EntitySubType",
          "traits": {
            "smithy.api#documentation": "<p> The type of attribute. </p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p> The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized\n      as an attribute. </p>"
          }
        },
        "RelationshipScore": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this\n      entity. </p>"
          }
        },
        "RelationshipType": {
          "target": "com.amazonaws.comprehendmedical#RelationshipType",
          "traits": {
            "smithy.api#documentation": "<p>The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>.\n    </p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique\n      within this response rather than a global unique identifier. </p>"
          }
        },
        "BeginOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The 0-based character offset in the input text that shows where the attribute begins. The\n      offset returns the UTF-8 code point in the string. </p>"
          }
        },
        "EndOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The 0-based character offset in the input text that shows where the attribute ends. The\n      offset returns the UTF-8 code point in the string.</p>"
          }
        },
        "Text": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p> The segment of input text extracted as this attribute.</p>"
          }
        },
        "Category": {
          "target": "com.amazonaws.comprehendmedical#EntityType",
          "traits": {
            "smithy.api#documentation": "<p> The category of attribute. </p>"
          }
        },
        "Traits": {
          "target": "com.amazonaws.comprehendmedical#TraitList",
          "traits": {
            "smithy.api#documentation": "<p> Contextual information for this attribute. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An extracted segment of the text that is an attribute of an entity, or otherwise related\n      to an entity, such as the dosage of a medication taken. It contains information about the\n      attribute such as id, begin and end offset within the input text, and the segment of the input\n      text. </p>"
      }
    },
    "com.amazonaws.comprehendmedical#AttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#Attribute"
      }
    },
    "com.amazonaws.comprehendmedical#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SIGN",
            "name": "SIGN"
          },
          {
            "value": "SYMPTOM",
            "name": "SYMPTOM"
          },
          {
            "value": "DIAGNOSIS",
            "name": "DIAGNOSIS"
          },
          {
            "value": "NEGATION",
            "name": "NEGATION"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#BoundedLengthString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20000
        }
      }
    },
    "com.amazonaws.comprehendmedical#ClientRequestTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobFilter": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.comprehendmedical#JobName",
          "traits": {
            "smithy.api#documentation": "<p>Filters on the name of the job.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.comprehendmedical#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list of jobs based on job status. Returns only jobs with the specified\n      status.</p>"
          }
        },
        "SubmitTimeBefore": {
          "target": "com.amazonaws.comprehendmedical#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing.\n      Returns only jobs submitted before the specified time. Jobs are returned in ascending order,\n      oldest to newest.</p>"
          }
        },
        "SubmitTimeAfter": {
          "target": "com.amazonaws.comprehendmedical#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing.\n      Returns only jobs submitted after the specified time. Jobs are returned in descending order,\n      newest to oldest.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information for filtering a list of detection jobs.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehendmedical#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier assigned to the detection job.</p>"
          }
        },
        "JobName": {
          "target": "com.amazonaws.comprehendmedical#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you assigned to the detection job.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.comprehendmedical#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the detection job. If the status is <code>FAILED</code>, the\n        <code>Message</code> field shows the reason for the failure.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.comprehendmedical#AnyLengthString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the status of a job.</p>"
          }
        },
        "SubmitTime": {
          "target": "com.amazonaws.comprehendmedical#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the detection job was submitted for processing.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.comprehendmedical#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the detection job completed.</p>"
          }
        },
        "ExpirationTime": {
          "target": "com.amazonaws.comprehendmedical#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that job metadata is deleted from the server. Output files in your S3\n      bucket will not be deleted. After the metadata is deleted, the job will no longer appear in\n      the results of the <code>ListEntitiesDetectionV2Job</code> or the\n        <code>ListPHIDetectionJobs</code> operation.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.comprehendmedical#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The input data configuration that you supplied when you created the detection job.</p>"
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.comprehendmedical#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output data configuration that you supplied when you created the detection job.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehendmedical#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the input documents.</p>"
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.comprehendmedical#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that gives Amazon Comprehend Medical read access to your input data.</p>"
          }
        },
        "ManifestFilePath": {
          "target": "com.amazonaws.comprehendmedical#ManifestFilePath",
          "traits": {
            "smithy.api#documentation": "<p>The path to the file that describes the results of a batch job.</p>"
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.comprehendmedical#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Key Management Service key, if any, used to encrypt the output files. </p>"
          }
        },
        "ModelVersion": {
          "target": "com.amazonaws.comprehendmedical#ModelVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model used to analyze the documents. The version number looks like\n      X.X.X. You can use this information to track the model used for a particular batch of\n      documents.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a detection job.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties"
      }
    },
    "com.amazonaws.comprehendmedical#ComprehendMedical_20181030": {
      "type": "service",
      "version": "2018-10-30",
      "operations": [
        {
          "target": "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2Job"
        },
        {
          "target": "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJob"
        },
        {
          "target": "com.amazonaws.comprehendmedical#DescribePHIDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJob"
        },
        {
          "target": "com.amazonaws.comprehendmedical#DetectEntities"
        },
        {
          "target": "com.amazonaws.comprehendmedical#DetectEntitiesV2"
        },
        {
          "target": "com.amazonaws.comprehendmedical#DetectPHI"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InferICD10CM"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InferRxNorm"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ListEntitiesDetectionV2Jobs"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ListICD10CMInferenceJobs"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ListPHIDetectionJobs"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ListRxNormInferenceJobs"
        },
        {
          "target": "com.amazonaws.comprehendmedical#StartEntitiesDetectionV2Job"
        },
        {
          "target": "com.amazonaws.comprehendmedical#StartICD10CMInferenceJob"
        },
        {
          "target": "com.amazonaws.comprehendmedical#StartPHIDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehendmedical#StartRxNormInferenceJob"
        },
        {
          "target": "com.amazonaws.comprehendmedical#StopEntitiesDetectionV2Job"
        },
        {
          "target": "com.amazonaws.comprehendmedical#StopICD10CMInferenceJob"
        },
        {
          "target": "com.amazonaws.comprehendmedical#StopPHIDetectionJob"
        },
        {
          "target": "com.amazonaws.comprehendmedical#StopRxNormInferenceJob"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ComprehendMedical",
          "arnNamespace": "comprehendmedical",
          "cloudFormationName": "ComprehendMedical",
          "cloudTrailEventSource": "comprehendmedical.amazonaws.com",
          "endpointPrefix": "comprehendmedical"
        },
        "aws.auth#sigv4": {
          "name": "comprehendmedical"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p> Amazon Comprehend Medical extracts structured information from unstructured clinical text. Use these actions\n      to gain insight in your documents. </p>",
        "smithy.api#title": "AWS Comprehend Medical"
      }
    },
    "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2Job": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2JobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2JobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with a medical entities detection job. Use this operation\n      to get the status of a detection job.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2JobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehendmedical#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Comprehend Medical generated for the job. The\n        <code>StartEntitiesDetectionV2Job</code> operation returns this identifier in its\n      response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DescribeEntitiesDetectionV2JobResponse": {
      "type": "structure",
      "members": {
        "ComprehendMedicalAsyncJobProperties": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with a detection job.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with an InferICD10CM job.\n      Use this operation to get the status of an inference job.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehendmedical#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Comprehend Medical generated for the job. <code>The StartICD10CMInferenceJob</code> operation returns this identifier in its response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DescribeICD10CMInferenceJobResponse": {
      "type": "structure",
      "members": {
        "ComprehendMedicalAsyncJobProperties": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with a detection job.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DescribePHIDetectionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#DescribePHIDetectionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#DescribePHIDetectionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with a protected health information (PHI) detection job.\n      Use this operation to get the status of a detection job.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#DescribePHIDetectionJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehendmedical#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Comprehend Medical generated for the job. The <code>StartPHIDetectionJob</code>\n      operation returns this identifier in its response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DescribePHIDetectionJobResponse": {
      "type": "structure",
      "members": {
        "ComprehendMedicalAsyncJobProperties": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with a detection job.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with an InferRxNorm job.\n      Use this operation to get the status of an inference job.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehendmedical#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that Amazon Comprehend Medical generated for the job. The StartRxNormInferenceJob operation returns this identifier in its response.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DescribeRxNormInferenceJobResponse": {
      "type": "structure",
      "members": {
        "ComprehendMedicalAsyncJobProperties": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the properties associated with a detection job.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DetectEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#DetectEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#DetectEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidEncodingException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "This operation is deprecated, use DetectEntitiesV2 instead."
        },
        "smithy.api#documentation": "<p>The <code>DetectEntities</code> operation is deprecated. You should use the <a>DetectEntitiesV2</a> operation instead.</p>\n         <p> Inspects the clinical text for a variety of medical entities and returns specific\n      information about them such as entity category, location, and confidence score on that\n      information .</p>"
      }
    },
    "com.amazonaws.comprehendmedical#DetectEntitiesRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehendmedical#BoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p> A UTF-8 text string containing the clinical content being examined for entities. Each\n      string must contain fewer than 20,000 bytes of characters.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DetectEntitiesResponse": {
      "type": "structure",
      "members": {
        "Entities": {
          "target": "com.amazonaws.comprehendmedical#EntityList",
          "traits": {
            "smithy.api#documentation": "<p> The collection of medical entities extracted from the input text and their associated\n      information. For each entity, the response provides the entity text, the entity category,\n      where the entity text begins and ends, and the level of confidence that Amazon Comprehend Medical has in the\n      detection and analysis. Attributes and traits of the entity are also returned.</p>",
            "smithy.api#required": {}
          }
        },
        "UnmappedAttributes": {
          "target": "com.amazonaws.comprehendmedical#UnmappedAttributeList",
          "traits": {
            "smithy.api#documentation": "<p> Attributes extracted from the input text that we were unable to relate to an\n      entity.</p>"
          }
        },
        "PaginationToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p> If the result of the previous request to <code>DetectEntities</code> was truncated,\n      include the <code>PaginationToken</code> to fetch the next page of entities.</p>"
          }
        },
        "ModelVersion": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model used to analyze the documents. The version number looks like\n      X.X.X. You can use this information to track the model used for a particular batch of\n      documents.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DetectEntitiesV2": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#DetectEntitiesV2Request"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#DetectEntitiesV2Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidEncodingException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Inspects the clinical text for a variety of medical entities and returns specific\n      information about them such as entity category, location, and confidence score on that\n      information. Amazon Comprehend Medical only detects medical entities in English language\n      texts.</p>\n         <p>The <code>DetectEntitiesV2</code> operation replaces the <a>DetectEntities</a>\n      operation. This new action uses a different model for determining the entities in your medical\n      text and changes the way that some entities are returned in the output. You should use the\n        <code>DetectEntitiesV2</code> operation in all new applications.</p>\n         <p>The <code>DetectEntitiesV2</code> operation returns the <code>Acuity</code> and\n        <code>Direction</code> entities as attributes instead of types. </p>"
      }
    },
    "com.amazonaws.comprehendmedical#DetectEntitiesV2Request": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehendmedical#BoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>A UTF-8 string containing the clinical content being examined for entities. Each string\n      must contain fewer than 20,000 bytes of characters.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DetectEntitiesV2Response": {
      "type": "structure",
      "members": {
        "Entities": {
          "target": "com.amazonaws.comprehendmedical#EntityList",
          "traits": {
            "smithy.api#documentation": "<p>The collection of medical entities extracted from the input text and their associated\n      information. For each entity, the response provides the entity text, the entity category,\n      where the entity text begins and ends, and the level of confidence in the detection and\n      analysis. Attributes and traits of the entity are also returned.</p>",
            "smithy.api#required": {}
          }
        },
        "UnmappedAttributes": {
          "target": "com.amazonaws.comprehendmedical#UnmappedAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>Attributes extracted from the input text that couldn't be related to an entity.</p>"
          }
        },
        "PaginationToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>If the result to the <code>DetectEntitiesV2</code> operation was truncated, include the\n        <code>PaginationToken</code> to fetch the next page of entities.</p>"
          }
        },
        "ModelVersion": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model used to analyze the documents. The version number looks like\n      X.X.X. You can use this information to track the model used for a particular batch of\n      documents.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DetectPHI": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#DetectPHIRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#DetectPHIResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidEncodingException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Inspects the clinical text for protected health information (PHI) entities and returns\n      the entity category, location, and confidence score for each entity. Amazon Comprehend Medical\n      only detects entities in English language texts.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#DetectPHIRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehendmedical#BoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p> A UTF-8 text string containing the clinical content being examined for PHI entities. Each\n      string must contain fewer than 20,000 bytes of characters.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#DetectPHIResponse": {
      "type": "structure",
      "members": {
        "Entities": {
          "target": "com.amazonaws.comprehendmedical#EntityList",
          "traits": {
            "smithy.api#documentation": "<p> The collection of PHI entities extracted from the input text and their associated\n      information. For each entity, the response provides the entity text, the entity category,\n      where the entity text begins and ends, and the level of confidence that Amazon Comprehend Medical has in its\n      detection. </p>",
            "smithy.api#required": {}
          }
        },
        "PaginationToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p> If the result of the previous request to <code>DetectPHI</code> was truncated, include\n      the <code>PaginationToken</code> to fetch the next page of PHI entities. </p>"
          }
        },
        "ModelVersion": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model used to analyze the documents. The version number looks like\n      X.X.X. You can use this information to track the model used for a particular batch of\n      documents.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#Entity": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The numeric identifier for the entity. This is a monotonically increasing id unique\n      within this response rather than a global unique identifier. </p>"
          }
        },
        "BeginOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The 0-based character offset in the input text that shows where the entity begins. The\n      offset returns the UTF-8 code point in the string. </p>"
          }
        },
        "EndOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The 0-based character offset in the input text that shows where the entity ends. The\n      offset returns the UTF-8 code point in the string. </p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend Medical has in the accuracy of the detection.</p>"
          }
        },
        "Text": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p> The segment of input text extracted as this entity.</p>"
          }
        },
        "Category": {
          "target": "com.amazonaws.comprehendmedical#EntityType",
          "traits": {
            "smithy.api#documentation": "<p> The category of the entity.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.comprehendmedical#EntitySubType",
          "traits": {
            "smithy.api#documentation": "<p> Describes the specific type of entity with category of entities.</p>"
          }
        },
        "Traits": {
          "target": "com.amazonaws.comprehendmedical#TraitList",
          "traits": {
            "smithy.api#documentation": "<p>Contextual information for the entity.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.comprehendmedical#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p> The extracted attributes that relate to this entity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Provides information about an extracted medical entity.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#EntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#Entity"
      }
    },
    "com.amazonaws.comprehendmedical#EntitySubType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NAME",
            "name": "NAME"
          },
          {
            "value": "DOSAGE",
            "name": "DOSAGE"
          },
          {
            "value": "ROUTE_OR_MODE",
            "name": "ROUTE_OR_MODE"
          },
          {
            "value": "FORM",
            "name": "FORM"
          },
          {
            "value": "FREQUENCY",
            "name": "FREQUENCY"
          },
          {
            "value": "DURATION",
            "name": "DURATION"
          },
          {
            "value": "GENERIC_NAME",
            "name": "GENERIC_NAME"
          },
          {
            "value": "BRAND_NAME",
            "name": "BRAND_NAME"
          },
          {
            "value": "STRENGTH",
            "name": "STRENGTH"
          },
          {
            "value": "RATE",
            "name": "RATE"
          },
          {
            "value": "ACUITY",
            "name": "ACUITY"
          },
          {
            "value": "TEST_NAME",
            "name": "TEST_NAME"
          },
          {
            "value": "TEST_VALUE",
            "name": "TEST_VALUE"
          },
          {
            "value": "TEST_UNITS",
            "name": "TEST_UNITS"
          },
          {
            "value": "PROCEDURE_NAME",
            "name": "PROCEDURE_NAME"
          },
          {
            "value": "TREATMENT_NAME",
            "name": "TREATMENT_NAME"
          },
          {
            "value": "DATE",
            "name": "DATE"
          },
          {
            "value": "AGE",
            "name": "AGE"
          },
          {
            "value": "CONTACT_POINT",
            "name": "CONTACT_POINT"
          },
          {
            "value": "EMAIL",
            "name": "EMAIL"
          },
          {
            "value": "IDENTIFIER",
            "name": "IDENTIFIER"
          },
          {
            "value": "URL",
            "name": "URL"
          },
          {
            "value": "ADDRESS",
            "name": "ADDRESS"
          },
          {
            "value": "PROFESSION",
            "name": "PROFESSION"
          },
          {
            "value": "SYSTEM_ORGAN_SITE",
            "name": "SYSTEM_ORGAN_SITE"
          },
          {
            "value": "DIRECTION",
            "name": "DIRECTION"
          },
          {
            "value": "QUALITY",
            "name": "QUALITY"
          },
          {
            "value": "QUANTITY",
            "name": "QUANTITY"
          },
          {
            "value": "TIME_EXPRESSION",
            "name": "TIME_EXPRESSION"
          },
          {
            "value": "TIME_TO_MEDICATION_NAME",
            "name": "TIME_TO_MEDICATION_NAME"
          },
          {
            "value": "TIME_TO_DX_NAME",
            "name": "TIME_TO_DX_NAME"
          },
          {
            "value": "TIME_TO_TEST_NAME",
            "name": "TIME_TO_TEST_NAME"
          },
          {
            "value": "TIME_TO_PROCEDURE_NAME",
            "name": "TIME_TO_PROCEDURE_NAME"
          },
          {
            "value": "TIME_TO_TREATMENT_NAME",
            "name": "TIME_TO_TREATMENT_NAME"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#EntityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MEDICATION",
            "name": "MEDICATION"
          },
          {
            "value": "MEDICAL_CONDITION",
            "name": "MEDICAL_CONDITION"
          },
          {
            "value": "PROTECTED_HEALTH_INFORMATION",
            "name": "PROTECTED_HEALTH_INFORMATION"
          },
          {
            "value": "TEST_TREATMENT_PROCEDURE",
            "name": "TEST_TREATMENT_PROCEDURE"
          },
          {
            "value": "ANATOMY",
            "name": "ANATOMY"
          },
          {
            "value": "TIME_EXPRESSION",
            "name": "TIME_EXPRESSION"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#Float": {
      "type": "float",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMAttribute": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.comprehendmedical#ICD10CMAttributeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of attribute. InferICD10CM detects entities of the type <code>DX_NAME</code>.\n    </p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend Medical has that the segment of text is\n      correctly recognized as an attribute.</p>"
          }
        },
        "RelationshipScore": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend Medical has that this attribute is\n      correctly related to this entity.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The numeric identifier for this attribute. This is a monotonically increasing id unique\n      within this response rather than a global unique identifier.</p>"
          }
        },
        "BeginOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The 0-based character offset in the input text that shows where the attribute begins. The\n      offset returns the UTF-8 code point in the string.</p>"
          }
        },
        "EndOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The 0-based character offset in the input text that shows where the attribute ends. The\n      offset returns the UTF-8 code point in the string.</p>"
          }
        },
        "Text": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>The segment of input text which contains the detected attribute.</p>"
          }
        },
        "Traits": {
          "target": "com.amazonaws.comprehendmedical#ICD10CMTraitList",
          "traits": {
            "smithy.api#documentation": "<p>The contextual information for the attribute. The traits recognized by InferICD10CM are\n        <code>DIAGNOSIS</code>, <code>SIGN</code>, <code>SYMPTOM</code>, and\n      <code>NEGATION</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The detected attributes that relate to an entity. This includes an extracted segment of\n      the text that is an attribute of an entity, or otherwise related to an entity. InferICD10CM\n      detects the following attributes: <code>Direction</code>, <code>System, Organ or Site</code>,\n      and <code>Acuity</code>.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#ICD10CMAttribute"
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMAttributeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACUITY",
            "name": "ACUITY"
          },
          {
            "value": "DIRECTION",
            "name": "DIRECTION"
          },
          {
            "value": "SYSTEM_ORGAN_SITE",
            "name": "SYSTEM_ORGAN_SITE"
          },
          {
            "value": "QUALITY",
            "name": "QUALITY"
          },
          {
            "value": "QUANTITY",
            "name": "QUANTITY"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMConcept": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>The long description of the ICD-10-CM code in the ontology.</p>"
          }
        },
        "Code": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>The ICD-10-CM code that identifies the concept found in the knowledge base from the\n      Centers for Disease Control.</p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend Medical has that the entity is accurately\n      linked to an ICD-10-CM concept.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The ICD-10-CM concepts that the entity could refer to, along with a score indicating the\n      likelihood of the match.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMConceptList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#ICD10CMConcept"
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMEntity": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The numeric identifier for the entity. This is a monotonically increasing id unique within\n      this response rather than a global unique identifier.</p>"
          }
        },
        "Text": {
          "target": "com.amazonaws.comprehendmedical#OntologyLinkingBoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>The segment of input text that is matched to the detected entity.</p>"
          }
        },
        "Category": {
          "target": "com.amazonaws.comprehendmedical#ICD10CMEntityCategory",
          "traits": {
            "smithy.api#documentation": "<p> The category of the entity. InferICD10CM detects entities in the\n        <code>MEDICAL_CONDITION</code> category. </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.comprehendmedical#ICD10CMEntityType",
          "traits": {
            "smithy.api#documentation": "<p>Describes the specific type of entity with category of entities. InferICD10CM detects\n      entities of the type <code>DX_NAME</code>.</p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend Medical has in the accuracy of the\n      detection.</p>"
          }
        },
        "BeginOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The 0-based character offset in the input text that shows where the entity begins. The\n      offset returns the UTF-8 code point in the string.</p>"
          }
        },
        "EndOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The 0-based character offset in the input text that shows where the entity ends. The\n      offset returns the UTF-8 code point in the string.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.comprehendmedical#ICD10CMAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The detected attributes that relate to the entity. An extracted segment of the text that\n      is an attribute of an entity, or otherwise related to an entity, such as the nature of a\n      medical condition.</p>"
          }
        },
        "Traits": {
          "target": "com.amazonaws.comprehendmedical#ICD10CMTraitList",
          "traits": {
            "smithy.api#documentation": "<p>Provides Contextual information for the entity. The traits recognized by InferICD10CM are\n        <code>DIAGNOSIS</code>, <code>SIGN</code>, <code>SYMPTOM</code>, and\n      <code>NEGATION.</code>\n         </p>"
          }
        },
        "ICD10CMConcepts": {
          "target": "com.amazonaws.comprehendmedical#ICD10CMConceptList",
          "traits": {
            "smithy.api#documentation": "<p>The ICD-10-CM concepts that the entity could refer to, along with a score indicating the\n      likelihood of the match.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The collection of medical entities extracted from the input text and their associated\n      information. For each entity, the response provides the entity text, the entity category,\n      where the entity text begins and ends, and the level of confidence that Amazon Comprehend\n      Medical has in the detection and analysis. Attributes and traits of the entity are also\n      returned. </p>"
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMEntityCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MEDICAL_CONDITION",
            "name": "MEDICAL_CONDITION"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMEntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#ICD10CMEntity"
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMEntityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DX_NAME",
            "name": "DX_NAME"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMTrait": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.comprehendmedical#ICD10CMTraitName",
          "traits": {
            "smithy.api#documentation": "<p>Provides a name or contextual description about the trait.</p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized\n      as a trait.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contextual information for the entity. The traits recognized by InferICD10CM are\n        <code>DIAGNOSIS</code>, <code>SIGN</code>, <code>SYMPTOM</code>, and\n      <code>NEGATION</code>.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMTraitList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#ICD10CMTrait"
      }
    },
    "com.amazonaws.comprehendmedical#ICD10CMTraitName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NEGATION",
            "name": "NEGATION"
          },
          {
            "value": "DIAGNOSIS",
            "name": "DIAGNOSIS"
          },
          {
            "value": "SIGN",
            "name": "SIGN"
          },
          {
            "value": "SYMPTOM",
            "name": "SYMPTOM"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#IamRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+"
      }
    },
    "com.amazonaws.comprehendmedical#InferICD10CM": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#InferICD10CMRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#InferICD10CMResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidEncodingException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>InferICD10CM detects medical conditions as entities listed in a patient record and links\n      those entities to normalized concept identifiers in the ICD-10-CM knowledge base from the\n      Centers for Disease Control. Amazon Comprehend Medical only detects medical entities in\n      English language texts.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#InferICD10CMRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehendmedical#OntologyLinkingBoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>The input text used for analysis. The input for InferICD10CM is a string from 1 to 10000\n      characters.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#InferICD10CMResponse": {
      "type": "structure",
      "members": {
        "Entities": {
          "target": "com.amazonaws.comprehendmedical#ICD10CMEntityList",
          "traits": {
            "smithy.api#documentation": "<p>The medical conditions detected in the text linked to ICD-10-CM concepts. If the action is\n      successful, the service sends back an HTTP 200 response, as well as the entities\n      detected.</p>",
            "smithy.api#required": {}
          }
        },
        "PaginationToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>If the result of the previous request to <code>InferICD10CM</code> was truncated, include\n      the <code>PaginationToken</code> to fetch the next page of medical condition entities. </p>"
          }
        },
        "ModelVersion": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model used to analyze the documents, in the format\n        <i>n</i>.<i>n</i>.<i>n</i> You can use this\n      information to track the model used for a particular batch of documents.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#InferRxNorm": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#InferRxNormRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#InferRxNormResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidEncodingException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TextSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>InferRxNorm detects medications as entities listed in a patient record and links to the\n      normalized concept identifiers in the RxNorm database from the National Library of Medicine.\n      Amazon Comprehend Medical only detects medical entities in English language texts.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#InferRxNormRequest": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.comprehendmedical#OntologyLinkingBoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>The input text used for analysis. The input for InferRxNorm is a string from 1 to 10000\n      characters.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#InferRxNormResponse": {
      "type": "structure",
      "members": {
        "Entities": {
          "target": "com.amazonaws.comprehendmedical#RxNormEntityList",
          "traits": {
            "smithy.api#documentation": "<p>The medication entities detected in the text linked to RxNorm concepts. If the action is\n      successful, the service sends back an HTTP 200 response, as well as the entities\n      detected.</p>",
            "smithy.api#required": {}
          }
        },
        "PaginationToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>If the result of the previous request to <code>InferRxNorm</code> was truncated, include\n      the <code>PaginationToken</code> to fetch the next page of medication entities.</p>"
          }
        },
        "ModelVersion": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model used to analyze the documents, in the format\n        <i>n</i>.<i>n</i>.<i>n</i> You can use this\n      information to track the model used for a particular batch of documents.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#InputDataConfig": {
      "type": "structure",
      "members": {
        "S3Bucket": {
          "target": "com.amazonaws.comprehendmedical#S3Bucket",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the S3 bucket that contains the input data. The bucket must be in the same\n      region as the API endpoint that you are calling.</p>\n         <p>Each file in the document collection must be less than 40 KB. You can store a maximum of\n      30 GB in the bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "S3Key": {
          "target": "com.amazonaws.comprehendmedical#S3Key",
          "traits": {
            "smithy.api#documentation": "<p>The path to the input data files in the S3 bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input properties for an entities detection job. This includes the name of the S3 bucket and the path to the files to be analyzed. See <a>batch-manifest</a> for more information. </p>"
      }
    },
    "com.amazonaws.comprehendmedical#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.comprehendmedical#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.comprehendmedical#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An internal server error occurred. Retry your request. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.comprehendmedical#InvalidEncodingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.comprehendmedical#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The input text was not in valid UTF-8 character encoding. Check your text then retry your\n      request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.comprehendmedical#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.comprehendmedical#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The request that you made is invalid. Check your request to determine why it's invalid\n      and then retry the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.comprehendmedical#JobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
      }
    },
    "com.amazonaws.comprehendmedical#JobName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
      }
    },
    "com.amazonaws.comprehendmedical#JobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUBMITTED",
            "name": "SUBMITTED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "PARTIAL_SUCCESS",
            "name": "PARTIAL_SUCCESS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "STOP_REQUESTED",
            "name": "STOP_REQUESTED"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#KMSKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.comprehendmedical#LanguageCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "en",
            "name": "EN"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#ListEntitiesDetectionV2Jobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#ListEntitiesDetectionV2JobsRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#ListEntitiesDetectionV2JobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of medical entity detection jobs that you have submitted.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#ListEntitiesDetectionV2JobsRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters the jobs that are returned. You can filter jobs based on their names, status, or\n      the date and time that they were submitted. You can only set one filter at a time.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.comprehendmedical#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in each page. The default is 100.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#ListEntitiesDetectionV2JobsResponse": {
      "type": "structure",
      "members": {
        "ComprehendMedicalAsyncJobPropertiesList": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the properties of each job returned.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#ListICD10CMInferenceJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#ListICD10CMInferenceJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#ListICD10CMInferenceJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of InferICD10CM jobs that you have\n      submitted.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#ListICD10CMInferenceJobsRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters the jobs that are returned. You can filter jobs based on their names, status, or the date and time that they were submitted. You can only set one filter at a time.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.comprehendmedical#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in each page. The default is 100.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#ListICD10CMInferenceJobsResponse": {
      "type": "structure",
      "members": {
        "ComprehendMedicalAsyncJobPropertiesList": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the properties of each job that is returned.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#ListPHIDetectionJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#ListPHIDetectionJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#ListPHIDetectionJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of protected health information (PHI) detection jobs that you have\n      submitted.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#ListPHIDetectionJobsRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters the jobs that are returned. You can filter jobs based on their names, status, or\n      the date and time that they were submitted. You can only set one filter at a time.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.comprehendmedical#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in each page. The default is 100.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#ListPHIDetectionJobsResponse": {
      "type": "structure",
      "members": {
        "ComprehendMedicalAsyncJobPropertiesList": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>A list containing the properties of each job returned.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#ListRxNormInferenceJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#ListRxNormInferenceJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#ListRxNormInferenceJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of InferRxNorm jobs that you have\n      submitted.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#ListRxNormInferenceJobsRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters the jobs that are returned. You can filter jobs based on their names, status, or the date and time that they were submitted. You can only set one filter at a time.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.comprehendmedical#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#ListRxNormInferenceJobsResponse": {
      "type": "structure",
      "members": {
        "ComprehendMedicalAsyncJobPropertiesList": {
          "target": "com.amazonaws.comprehendmedical#ComprehendMedicalAsyncJobPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in each page. The default is 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#ManifestFilePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        }
      }
    },
    "com.amazonaws.comprehendmedical#MaxResultsInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.comprehendmedical#ModelVersion": {
      "type": "string"
    },
    "com.amazonaws.comprehendmedical#OntologyLinkingBoundedLengthString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.comprehendmedical#OutputDataConfig": {
      "type": "structure",
      "members": {
        "S3Bucket": {
          "target": "com.amazonaws.comprehendmedical#S3Bucket",
          "traits": {
            "smithy.api#documentation": "<p>When you use the <code>OutputDataConfig</code> object with asynchronous operations, you\n      specify the Amazon S3 location where you want to write the output data. The URI must be in the\n      same region as the API endpoint that you are calling. The location is used as the prefix for\n      the actual location of the output.</p>",
            "smithy.api#required": {}
          }
        },
        "S3Key": {
          "target": "com.amazonaws.comprehendmedical#S3Key",
          "traits": {
            "smithy.api#documentation": "<p>The path to the output data files in the S3 bucket. Amazon Comprehend Medical creates an output directory\n      using the job ID so that the output from one job does not overwrite the output of\n      another.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output properties for a detection job.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#RelationshipType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EVERY",
            "name": "EVERY"
          },
          {
            "value": "WITH_DOSAGE",
            "name": "WITH_DOSAGE"
          },
          {
            "value": "ADMINISTERED_VIA",
            "name": "ADMINISTERED_VIA"
          },
          {
            "value": "FOR",
            "name": "FOR"
          },
          {
            "value": "NEGATIVE",
            "name": "NEGATIVE"
          },
          {
            "value": "OVERLAP",
            "name": "OVERLAP"
          },
          {
            "value": "DOSAGE",
            "name": "DOSAGE"
          },
          {
            "value": "ROUTE_OR_MODE",
            "name": "ROUTE_OR_MODE"
          },
          {
            "value": "FORM",
            "name": "FORM"
          },
          {
            "value": "FREQUENCY",
            "name": "FREQUENCY"
          },
          {
            "value": "DURATION",
            "name": "DURATION"
          },
          {
            "value": "STRENGTH",
            "name": "STRENGTH"
          },
          {
            "value": "RATE",
            "name": "RATE"
          },
          {
            "value": "ACUITY",
            "name": "ACUITY"
          },
          {
            "value": "TEST_VALUE",
            "name": "TEST_VALUE"
          },
          {
            "value": "TEST_UNITS",
            "name": "TEST_UNITS"
          },
          {
            "value": "DIRECTION",
            "name": "DIRECTION"
          },
          {
            "value": "SYSTEM_ORGAN_SITE",
            "name": "SYSTEM_ORGAN_SITE"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.comprehendmedical#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource identified by the specified Amazon Resource Name (ARN) was not found. Check\n      the ARN and try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.comprehendmedical#RxNormAttribute": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.comprehendmedical#RxNormAttributeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of attribute. The types of attributes recognized by InferRxNorm are\n        <code>BRAND_NAME</code> and <code>GENERIC_NAME</code>.</p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Comprehend Medical has that the segment of text is correctly\n      recognized as an attribute.</p>"
          }
        },
        "RelationshipScore": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend Medical has that the attribute is\n      accurately linked to an entity.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The numeric identifier for this attribute. This is a monotonically increasing id unique\n      within this response rather than a global unique identifier.</p>"
          }
        },
        "BeginOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The 0-based character offset in the input text that shows where the attribute begins. The\n      offset returns the UTF-8 code point in the string.</p>"
          }
        },
        "EndOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The 0-based character offset in the input text that shows where the attribute ends. The\n      offset returns the UTF-8 code point in the string.</p>"
          }
        },
        "Text": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>The segment of input text which corresponds to the detected attribute.</p>"
          }
        },
        "Traits": {
          "target": "com.amazonaws.comprehendmedical#RxNormTraitList",
          "traits": {
            "smithy.api#documentation": "<p>Contextual information for the attribute. InferRxNorm recognizes the trait\n        <code>NEGATION</code> for attributes, i.e. that the patient is not taking a specific dose or\n      form of a medication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The extracted attributes that relate to this entity. The attributes recognized by\n      InferRxNorm are <code>DOSAGE</code>, <code>DURATION</code>, <code>FORM</code>,\n        <code>FREQUENCY</code>, <code>RATE</code>, <code>ROUTE_OR_MODE</code>.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#RxNormAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#RxNormAttribute"
      }
    },
    "com.amazonaws.comprehendmedical#RxNormAttributeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DOSAGE",
            "name": "DOSAGE"
          },
          {
            "value": "DURATION",
            "name": "DURATION"
          },
          {
            "value": "FORM",
            "name": "FORM"
          },
          {
            "value": "FREQUENCY",
            "name": "FREQUENCY"
          },
          {
            "value": "RATE",
            "name": "RATE"
          },
          {
            "value": "ROUTE_OR_MODE",
            "name": "ROUTE_OR_MODE"
          },
          {
            "value": "STRENGTH",
            "name": "STRENGTH"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#RxNormConcept": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the RxNorm concept.</p>"
          }
        },
        "Code": {
          "target": "com.amazonaws.comprehendmedical#String",
          "traits": {
            "smithy.api#documentation": "<p>RxNorm concept ID, also known as the RxCUI.</p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend Medical has that the entity is accurately\n      linked to the reported RxNorm concept.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The RxNorm concept that the entity could refer to, along with a score indicating the\n      likelihood of the match.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#RxNormConceptList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#RxNormConcept"
      }
    },
    "com.amazonaws.comprehendmedical#RxNormEntity": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The numeric identifier for the entity. This is a monotonically increasing id unique within\n      this response rather than a global unique identifier.</p>"
          }
        },
        "Text": {
          "target": "com.amazonaws.comprehendmedical#OntologyLinkingBoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>The segment of input text extracted from which the entity was detected.</p>"
          }
        },
        "Category": {
          "target": "com.amazonaws.comprehendmedical#RxNormEntityCategory",
          "traits": {
            "smithy.api#documentation": "<p>The category of the entity. The recognized categories are <code>GENERIC</code> or\n        <code>BRAND_NAME</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.comprehendmedical#RxNormEntityType",
          "traits": {
            "smithy.api#documentation": "<p> Describes the specific type of entity. For InferRxNorm, the recognized entity type is\n        <code>MEDICATION</code>.</p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend Medical has in the accuracy of the detected\n      entity.</p>"
          }
        },
        "BeginOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The 0-based character offset in the input text that shows where the entity begins. The\n      offset returns the UTF-8 code point in the string.</p>"
          }
        },
        "EndOffset": {
          "target": "com.amazonaws.comprehendmedical#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The 0-based character offset in the input text that shows where the entity ends. The\n      offset returns the UTF-8 code point in the string.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.comprehendmedical#RxNormAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The extracted attributes that relate to the entity. The attributes recognized by\n      InferRxNorm are <code>DOSAGE</code>, <code>DURATION</code>, <code>FORM</code>,\n        <code>FREQUENCY</code>, <code>RATE</code>, <code>ROUTE_OR_MODE</code>, and\n        <code>STRENGTH</code>.</p>"
          }
        },
        "Traits": {
          "target": "com.amazonaws.comprehendmedical#RxNormTraitList",
          "traits": {
            "smithy.api#documentation": "<p> Contextual information for the entity.</p>"
          }
        },
        "RxNormConcepts": {
          "target": "com.amazonaws.comprehendmedical#RxNormConceptList",
          "traits": {
            "smithy.api#documentation": "<p> The RxNorm concepts that the entity could refer to, along with a score indicating the\n      likelihood of the match.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The collection of medical entities extracted from the input text and their associated\n      information. For each entity, the response provides the entity text, the entity category,\n      where the entity text begins and ends, and the level of confidence that Amazon Comprehend\n      Medical has in the detection and analysis. Attributes and traits of the entity are also\n      returned. </p>"
      }
    },
    "com.amazonaws.comprehendmedical#RxNormEntityCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MEDICATION",
            "name": "MEDICATION"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#RxNormEntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#RxNormEntity"
      }
    },
    "com.amazonaws.comprehendmedical#RxNormEntityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BRAND_NAME",
            "name": "BRAND_NAME"
          },
          {
            "value": "GENERIC_NAME",
            "name": "GENERIC_NAME"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#RxNormTrait": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.comprehendmedical#RxNormTraitName",
          "traits": {
            "smithy.api#documentation": "<p>Provides a name or contextual description about the trait.</p>"
          }
        },
        "Score": {
          "target": "com.amazonaws.comprehendmedical#Float",
          "traits": {
            "smithy.api#documentation": "<p>The level of confidence that Amazon Comprehend Medical has in the accuracy of the detected\n      trait.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The contextual information for the entity. InferRxNorm recognizes the trait\n        <code>NEGATION</code>, which is any indication that the patient is not taking a medication.\n    </p>"
      }
    },
    "com.amazonaws.comprehendmedical#RxNormTraitList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.comprehendmedical#RxNormTrait"
      }
    },
    "com.amazonaws.comprehendmedical#RxNormTraitName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NEGATION",
            "name": "NEGATION"
          }
        ]
      }
    },
    "com.amazonaws.comprehendmedical#S3Bucket": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "^[0-9a-z\\.\\-_]*(?!\\.)$"
      }
    },
    "com.amazonaws.comprehendmedical#S3Key": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.comprehendmedical#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.comprehendmedical#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The Amazon Comprehend Medical service is temporarily unavailable. Please wait and then retry your request.\n    </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.comprehendmedical#StartEntitiesDetectionV2Job": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#StartEntitiesDetectionV2JobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#StartEntitiesDetectionV2JobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts an asynchronous medical entity detection job for a collection of documents. Use the\n        <code>DescribeEntitiesDetectionV2Job</code> operation to track the status of a job.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#StartEntitiesDetectionV2JobRequest": {
      "type": "structure",
      "members": {
        "InputDataConfig": {
          "target": "com.amazonaws.comprehendmedical#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format and location of the input data for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.comprehendmedical#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies where to send the output files.</p>",
            "smithy.api#required": {}
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.comprehendmedical#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that\n      grants Amazon Comprehend Medical read access to your input data. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions-med.html#auth-role-permissions-med\"> Role-Based Permissions Required for Asynchronous Operations</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "JobName": {
          "target": "com.amazonaws.comprehendmedical#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the job.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.comprehendmedical#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the request. If you don't set the client request token, Amazon Comprehend Medical\n      generates one.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.comprehendmedical#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Key Management Service key to encrypt your output files. If you do not specify a\n      key, the files are written in plain text.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehendmedical#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#StartEntitiesDetectionV2JobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehendmedical#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier generated for the job. To get the status of a job, use this identifier with\n      the <code>DescribeEntitiesDetectionV2Job</code> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#StartICD10CMInferenceJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#StartICD10CMInferenceJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#StartICD10CMInferenceJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts an asynchronous job to detect medical conditions and link them to the ICD-10-CM ontology. Use the\n      <code>DescribeICD10CMInferenceJob</code> operation to track the status of a job.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#StartICD10CMInferenceJobRequest": {
      "type": "structure",
      "members": {
        "InputDataConfig": {
          "target": "com.amazonaws.comprehendmedical#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format and location of the input data for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.comprehendmedical#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies where to send the output files.</p>",
            "smithy.api#required": {}
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.comprehendmedical#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that\n      grants Amazon Comprehend Medical read access to your input data. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions-med.html#auth-role-permissions-med\"> Role-Based Permissions Required for Asynchronous Operations</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "JobName": {
          "target": "com.amazonaws.comprehendmedical#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the job.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.comprehendmedical#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the request. If you don't set the client request token, Amazon Comprehend Medical\n      generates one.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.comprehendmedical#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Key Management Service key to encrypt your output files. If you do not specify a\n      key, the files are written in plain text.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehendmedical#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#StartICD10CMInferenceJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehendmedical#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier generated for the job. To get the status of a job, use this identifier with\n      the <code>StartICD10CMInferenceJob</code> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#StartPHIDetectionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.comprehendmedical#StartPHIDetectionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.comprehendmedical#StartPHIDetectionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.comprehendmedical#InternalServerException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.comprehendmedical#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts an asynchronous job to detect protected health information (PHI). Use the\n        <code>DescribePHIDetectionJob</code> operation to track the status of a job.</p>"
      }
    },
    "com.amazonaws.comprehendmedical#StartPHIDetectionJobRequest": {
      "type": "structure",
      "members": {
        "InputDataConfig": {
          "target": "com.amazonaws.comprehendmedical#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format and location of the input data for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.comprehendmedical#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies where to send the output files.</p>",
            "smithy.api#required": {}
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.comprehendmedical#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that\n      grants Amazon Comprehend Medical read access to your input data. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions-med.html#auth-role-permissions-med\"> Role-Based Permissions Required for Asynchronous Operations</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "JobName": {
          "target": "com.amazonaws.comprehendmedical#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the job.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.comprehendmedical#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the request. If you don't set the client request token, Amazon Comprehend Medical\n      generates one.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "KMSKey": {
          "target": "com.amazonaws.comprehendmedical#KMSKey",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Key Management Service key to encrypt your output files. If you do not specify a\n      key, the files are written in plain text.</p>"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.comprehendmedical#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language of the input documents. All documents must be in the same language.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#StartPHIDetectionJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.comprehendmedical#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier generated for the job. To get the status of a job, use this identifier with\n      the <code>DescribePHIDetectionJob</code> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.comprehendmedical#StartRxNormInferenceJob": {
[...]
