{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.configservice#ARN": {
      "type": "string"
    },
    "com.amazonaws.configservice#AccountAggregationSource": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.configservice#AccountAggregationSourceAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit account ID of the account being aggregated.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "AllAwsRegions": {
          "target": "com.amazonaws.configservice#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>If true, aggregate existing Config regions and future\n\t\t\tregions.</p>"
          }
        },
        "AwsRegions": {
          "target": "com.amazonaws.configservice#AggregatorRegionList",
          "traits": {
            "smithy.api#documentation": "<p>The source regions being aggregated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of accounts and regions.</p>"
      }
    },
    "com.amazonaws.configservice#AccountAggregationSourceAccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.configservice#AccountAggregationSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#AccountAggregationSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.configservice#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.configservice#AggregateComplianceByConfigRule": {
      "type": "structure",
      "members": {
        "ConfigRuleName": {
          "target": "com.amazonaws.configservice#ConfigRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Config rule.</p>"
          }
        },
        "Compliance": {
          "target": "com.amazonaws.configservice#Compliance",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether an Amazon Web Services resource or Config rule is\n\t\t\tcompliant and provides the number of contributors that affect the\n\t\t\tcompliance.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit account ID of the source account.</p>"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The source region from where the data is aggregated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether an Config rule is compliant based on\n\t\t\taccount ID, region, compliance, and rule name.</p>\n\t\t       <p>A rule is compliant if all of the resources that the rule\n\t\t\tevaluated comply with it. It is noncompliant if any of these\n\t\t\tresources do not comply.</p>"
      }
    },
    "com.amazonaws.configservice#AggregateComplianceByConfigRuleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#AggregateComplianceByConfigRule"
      }
    },
    "com.amazonaws.configservice#AggregateComplianceByConformancePack": {
      "type": "structure",
      "members": {
        "ConformancePackName": {
          "target": "com.amazonaws.configservice#ConformancePackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the conformance pack.</p>"
          }
        },
        "Compliance": {
          "target": "com.amazonaws.configservice#AggregateConformancePackCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The compliance status of the conformance pack.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit Amazon Web Services account ID of the source account.</p>"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The source Amazon Web Services Region from where the data is aggregated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides aggregate compliance of the conformance pack. Indicates whether a conformance pack is compliant based on the name of the conformance pack, account ID, and region.</p>\n\t\t       <p>A conformance pack is compliant if all of the rules in a conformance packs are compliant. It is noncompliant if any of the rules are not compliant.\n\t\t\tThe compliance status of a conformance pack is INSUFFICIENT_DATA only if all rules within a conformance pack cannot be evaluated due to insufficient data.\n\t\t\tIf some of the rules in a conformance pack are compliant but the compliance status of other rules in that same conformance pack is INSUFFICIENT_DATA, the conformance pack shows \n\t\t\tcompliant.</p>"
      }
    },
    "com.amazonaws.configservice#AggregateComplianceByConformancePackList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#AggregateComplianceByConformancePack"
      }
    },
    "com.amazonaws.configservice#AggregateComplianceCount": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.configservice#StringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit account ID or region based on the GroupByKey\n\t\t\tvalue.</p>"
          }
        },
        "ComplianceSummary": {
          "target": "com.amazonaws.configservice#ComplianceSummary",
          "traits": {
            "smithy.api#documentation": "<p>The number of compliant and noncompliant Config\n\t\t\trules.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the number of compliant and noncompliant rules for one\n\t\t\tor more accounts and regions in an aggregator.</p>"
      }
    },
    "com.amazonaws.configservice#AggregateComplianceCountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#AggregateComplianceCount"
      }
    },
    "com.amazonaws.configservice#AggregateConformancePackCompliance": {
      "type": "structure",
      "members": {
        "ComplianceType": {
          "target": "com.amazonaws.configservice#ConformancePackComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>The compliance status of the conformance pack.</p>"
          }
        },
        "CompliantRuleCount": {
          "target": "com.amazonaws.configservice#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of compliant Config Rules.</p>"
          }
        },
        "NonCompliantRuleCount": {
          "target": "com.amazonaws.configservice#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of noncompliant Config Rules.</p>"
          }
        },
        "TotalRuleCount": {
          "target": "com.amazonaws.configservice#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Total number of compliant rules, noncompliant rules, and the rules that do not have any applicable resources to evaluate upon resulting in insufficient data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the number of compliant and noncompliant rules within a conformance pack.\n\t\t\tAlso provides the compliance status of the conformance pack and the total rule count which includes compliant rules, noncompliant rules, and rules that cannot be evaluated due to insufficient data.</p>\n\t\t\n\t\t       <p>A conformance pack is compliant if all of the rules in a conformance packs are compliant. It is noncompliant if any of the rules are not compliant.\n\t\t\tThe compliance status of a conformance pack is INSUFFICIENT_DATA only if all rules within a conformance pack cannot be evaluated due to insufficient data.\n\t\t\tIf some of the rules in a conformance pack are compliant but the compliance status of other rules in that same conformance pack is INSUFFICIENT_DATA, the conformance pack shows compliant.</p>"
      }
    },
    "com.amazonaws.configservice#AggregateConformancePackComplianceCount": {
      "type": "structure",
      "members": {
        "CompliantConformancePackCount": {
          "target": "com.amazonaws.configservice#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Number of compliant conformance packs.</p>"
          }
        },
        "NonCompliantConformancePackCount": {
          "target": "com.amazonaws.configservice#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Number of noncompliant conformance packs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of conformance packs that are compliant and noncompliant.</p>"
      }
    },
    "com.amazonaws.configservice#AggregateConformancePackComplianceFilters": {
      "type": "structure",
      "members": {
        "ConformancePackName": {
          "target": "com.amazonaws.configservice#ConformancePackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the conformance pack.</p>"
          }
        },
        "ComplianceType": {
          "target": "com.amazonaws.configservice#ConformancePackComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>The compliance status of the conformance pack.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit Amazon Web Services account ID of the source account.</p>"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The source Amazon Web Services Region from where the data is aggregated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters the conformance packs based on an account ID, region, compliance type, and the name of the conformance pack.</p>"
      }
    },
    "com.amazonaws.configservice#AggregateConformancePackComplianceSummary": {
      "type": "structure",
      "members": {
        "ComplianceSummary": {
          "target": "com.amazonaws.configservice#AggregateConformancePackComplianceCount",
          "traits": {
            "smithy.api#documentation": "<p>Returns an <code>AggregateConformancePackComplianceCount</code> object. </p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.configservice#StringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>Groups the result based on Amazon Web Services account ID or Amazon Web Services Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of compliance based on either account ID or region. </p>"
      }
    },
    "com.amazonaws.configservice#AggregateConformancePackComplianceSummaryFilters": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit Amazon Web Services account ID of the source account.</p>"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The source Amazon Web Services Region from where the data is aggregated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters the results based on account ID and region. </p>"
      }
    },
    "com.amazonaws.configservice#AggregateConformancePackComplianceSummaryGroupKey": {
      "type": "enum",
      "members": {
        "ACCOUNT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ID"
          }
        },
        "AWS_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_REGION"
          }
        }
      }
    },
    "com.amazonaws.configservice#AggregateConformancePackComplianceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#AggregateConformancePackComplianceSummary"
      }
    },
    "com.amazonaws.configservice#AggregateEvaluationResult": {
      "type": "structure",
      "members": {
        "EvaluationResultIdentifier": {
          "target": "com.amazonaws.configservice#EvaluationResultIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the evaluation result.</p>"
          }
        },
        "ComplianceType": {
          "target": "com.amazonaws.configservice#ComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource compliance status.</p>\n\t\t       <p>For the <code>AggregationEvaluationResult</code> data type, Config supports only the <code>COMPLIANT</code> and\n\t\t\t\t<code>NON_COMPLIANT</code>. Config does not support the\n\t\t\t\t<code>NOT_APPLICABLE</code> and <code>INSUFFICIENT_DATA</code>\n\t\t\tvalue.</p>"
          }
        },
        "ResultRecordedTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when Config recorded the aggregate evaluation\n\t\t\tresult.</p>"
          }
        },
        "ConfigRuleInvokedTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when the Config rule evaluated the Amazon Web Services\n\t\t\tresource.</p>"
          }
        },
        "Annotation": {
          "target": "com.amazonaws.configservice#StringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>Supplementary information about how the agrregate evaluation\n\t\t\tdetermined the compliance.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit account ID of the source account.</p>"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The source region from where the data is aggregated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an Config evaluation for an account ID and\n\t\t\tregion in an aggregator. Provides the Amazon Web Services resource that was\n\t\t\tevaluated, the compliance of the resource, related time stamps, and\n\t\t\tsupplementary information. </p>"
      }
    },
    "com.amazonaws.configservice#AggregateEvaluationResultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#AggregateEvaluationResult"
      }
    },
    "com.amazonaws.configservice#AggregateResourceIdentifier": {
      "type": "structure",
      "members": {
        "SourceAccountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit account ID of the source account.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The source region where data is aggregated.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.configservice#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.configservice#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the Amazon Web Services resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceName": {
          "target": "com.amazonaws.configservice#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Web Services resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details that identify a resource that is collected by Config aggregator, including the resource type, ID, (if available) the custom resource name, the source account, and source region.</p>"
      }
    },
    "com.amazonaws.configservice#AggregatedSourceStatus": {
      "type": "structure",
      "members": {
        "SourceId": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The source account ID or an organization.</p>"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.configservice#AggregatedSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The source account or an organization.</p>"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The region authorized to collect aggregated data.</p>"
          }
        },
        "LastUpdateStatus": {
          "target": "com.amazonaws.configservice#AggregatedSourceStatusType",
          "traits": {
            "smithy.api#documentation": "<p>Filters the last updated status type.</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>Valid value FAILED indicates errors while moving\n\t\t\t\t\tdata.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Valid value SUCCEEDED indicates the data was\n\t\t\t\t\tsuccessfully moved.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Valid value OUTDATED indicates the data is not the most\n\t\t\t\t\trecent.</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "LastUpdateTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time of the last update.</p>"
          }
        },
        "LastErrorCode": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code that Config returned when the source account\n\t\t\taggregation last failed.</p>"
          }
        },
        "LastErrorMessage": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The message indicating that the source account aggregation\n\t\t\tfailed due to an error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The current sync status between the source and the aggregator\n\t\t\taccount.</p>"
      }
    },
    "com.amazonaws.configservice#AggregatedSourceStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#AggregatedSourceStatus"
      }
    },
    "com.amazonaws.configservice#AggregatedSourceStatusType": {
      "type": "enum",
      "members": {
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "OUTDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDATED"
          }
        }
      }
    },
    "com.amazonaws.configservice#AggregatedSourceStatusTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#AggregatedSourceStatusType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.configservice#AggregatedSourceType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATION"
          }
        }
      }
    },
    "com.amazonaws.configservice#AggregationAuthorization": {
      "type": "structure",
      "members": {
        "AggregationAuthorizationArn": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the aggregation\n\t\t\tobject.</p>"
          }
        },
        "AuthorizedAccountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit account ID of the account authorized to aggregate\n\t\t\tdata.</p>"
          }
        },
        "AuthorizedAwsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The region authorized to collect aggregated data.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp when the aggregation authorization was\n\t\t\tcreated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the authorizations granted to\n\t\t\taggregator accounts and regions.</p>"
      }
    },
    "com.amazonaws.configservice#AggregationAuthorizationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#AggregationAuthorization"
      }
    },
    "com.amazonaws.configservice#AggregatorRegionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.configservice#AllSupported": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.configservice#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.configservice#Annotation": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.configservice#AutoRemediationAttemptSeconds": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 2678000
        }
      }
    },
    "com.amazonaws.configservice#AutoRemediationAttempts": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.configservice#AvailabilityZone": {
      "type": "string"
    },
    "com.amazonaws.configservice#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.configservice#BaseConfigurationItem": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.amazonaws.configservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the resource configuration.</p>"
          }
        },
        "accountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit Amazon Web Services account ID associated with the resource.</p>"
          }
        },
        "configurationItemCaptureTime": {
          "target": "com.amazonaws.configservice#ConfigurationItemCaptureTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration recording was initiated.</p>"
          }
        },
        "configurationItemStatus": {
          "target": "com.amazonaws.configservice#ConfigurationItemStatus",
          "traits": {
            "smithy.api#documentation": "<p>The configuration item status. The valid values are:</p>\n\t\t\n\t\t       <ul>\n            <li>\n               <p>OK – The resource configuration has been updated</p>\n            </li>\n            <li>\n               <p>ResourceDiscovered – The resource was newly discovered</p>\n            </li>\n            <li>\n               <p>ResourceNotRecorded – The resource was discovered but its configuration was not recorded since the recorder excludes the recording of resources of this type</p>\n            </li>\n            <li>\n               <p>ResourceDeleted – The resource was deleted</p>\n            </li>\n            <li>\n               <p>ResourceDeletedNotRecorded – The resource was deleted but its configuration was not recorded since the recorder excludes the recording of resources of this type</p>\n            </li>\n         </ul>\n\t\t       <note>\n            <p>The CIs do not incur any cost.</p>\n         </note>"
          }
        },
        "configurationStateId": {
          "target": "com.amazonaws.configservice#ConfigurationStateId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that indicates the ordering of the configuration\n\t\t\titems of a resource.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.configservice#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.configservice#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services resource.</p>"
          }
        },
        "resourceId": {
          "target": "com.amazonaws.configservice#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource (for example., sg-xxxxxx).</p>"
          }
        },
        "resourceName": {
          "target": "com.amazonaws.configservice#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The custom name of the resource, if available.</p>"
          }
        },
        "awsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The region where the resource resides.</p>"
          }
        },
        "availabilityZone": {
          "target": "com.amazonaws.configservice#AvailabilityZone",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone associated with the resource.</p>"
          }
        },
        "resourceCreationTime": {
          "target": "com.amazonaws.configservice#ResourceCreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp when the resource was created.</p>"
          }
        },
        "configuration": {
          "target": "com.amazonaws.configservice#Configuration",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource configuration.</p>"
          }
        },
        "supplementaryConfiguration": {
          "target": "com.amazonaws.configservice#SupplementaryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration attributes that Config returns for certain\n\t\t\tresource types to supplement the information returned for the\n\t\t\tconfiguration parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The detailed configuration of a specified resource.</p>"
      }
    },
    "com.amazonaws.configservice#BaseConfigurationItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#BaseConfigurationItem"
      }
    },
    "com.amazonaws.configservice#BaseResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 768
        }
      }
    },
    "com.amazonaws.configservice#BatchGetAggregateResourceConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.configservice#BatchGetAggregateResourceConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.configservice#BatchGetAggregateResourceConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.configservice#NoSuchConfigurationAggregatorException"
        },
        {
          "target": "com.amazonaws.configservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the current configuration items for resources that are present in your Config aggregator. The operation also returns a list of resources that are not processed in the current request. \n\t\t\tIf there are no unprocessed resources, the operation returns an empty <code>unprocessedResourceIdentifiers</code> list. </p>\n\t\t\n\t\t       <note>\n            <ul>\n               <li>\n                  <p>The API does not return results for deleted resources.</p>\n               </li>\n               <li>\n                  <p> The API does not return tags and relationships.</p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.configservice#BatchGetAggregateResourceConfigRequest": {
      "type": "structure",
      "members": {
        "ConfigurationAggregatorName": {
          "target": "com.amazonaws.configservice#ConfigurationAggregatorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration aggregator.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceIdentifiers": {
          "target": "com.amazonaws.configservice#ResourceIdentifiersList",
          "traits": {
            "smithy.api#documentation": "<p>A list of aggregate ResourceIdentifiers objects. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.configservice#BatchGetAggregateResourceConfigResponse": {
      "type": "structure",
      "members": {
        "BaseConfigurationItems": {
          "target": "com.amazonaws.configservice#BaseConfigurationItems",
          "traits": {
            "smithy.api#documentation": "<p>A list that contains the current configuration of one or more resources.</p>"
          }
        },
        "UnprocessedResourceIdentifiers": {
          "target": "com.amazonaws.configservice#UnprocessedResourceIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource identifiers that were not processed with current scope. The list is empty if all the resources are processed.</p>"
          }
        }
      }
    },
    "com.amazonaws.configservice#BatchGetResourceConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.configservice#BatchGetResourceConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.configservice#BatchGetResourceConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.configservice#NoAvailableConfigurationRecorderException"
        },
        {
          "target": "com.amazonaws.configservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the <code>BaseConfigurationItem</code> for one or more requested resources.\n\t\t\tThe operation also returns a list of resources that are\n\t\t\tnot processed in the current request. If there are no unprocessed\n\t\t\tresources, the operation returns an empty unprocessedResourceKeys\n\t\t\tlist. </p>\n\t\t       <note>\n\t\t\t         <ul>\n               <li>\n\t\t\t\t\t             <p>The API does not return results for deleted\n\t\t\t\t\t\tresources.</p>\n\t\t\t\t           </li>\n               <li>\n\t\t\t\t\t             <p> The API does not return any tags for the requested\n\t\t\t\t\t\tresources. This information is filtered out of the\n\t\t\t\t\t\tsupplementaryConfiguration section of the API\n\t\t\t\t\t\tresponse.</p>\n\t\t\t\t           </li>\n            </ul>\n\t\t       </note>"
      }
    },
    "com.amazonaws.configservice#BatchGetResourceConfigRequest": {
      "type": "structure",
      "members": {
        "resourceKeys": {
          "target": "com.amazonaws.configservice#ResourceKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource keys to be processed with the current\n\t\t\trequest. Each element in the list consists of the resource type and\n\t\t\tresource ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.configservice#BatchGetResourceConfigResponse": {
      "type": "structure",
      "members": {
        "baseConfigurationItems": {
          "target": "com.amazonaws.configservice#BaseConfigurationItems",
          "traits": {
            "smithy.api#documentation": "<p>A list that contains the current configuration of one or more\n\t\t\tresources.</p>"
          }
        },
        "unprocessedResourceKeys": {
          "target": "com.amazonaws.configservice#ResourceKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource keys that were not processed with the\n\t\t\tcurrent response. The unprocessesResourceKeys value is in the same\n\t\t\tform as ResourceKeys, so the value can be directly provided to a\n\t\t\tsubsequent BatchGetResourceConfig operation.\n\t\t\t\n\t\t\tIf there are no unprocessed resource keys, the response contains an\n\t\t\tempty unprocessedResourceKeys list. </p>"
          }
        }
      }
    },
    "com.amazonaws.configservice#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.configservice#ChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.configservice#ChronologicalOrder": {
      "type": "enum",
      "members": {
        "Reverse": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Reverse"
          }
        },
        "Forward": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Forward"
          }
        }
      }
    },
    "com.amazonaws.configservice#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 64,
          "max": 256
        }
      }
    },
    "com.amazonaws.configservice#Compliance": {
      "type": "structure",
      "members": {
        "ComplianceType": {
          "target": "com.amazonaws.configservice#ComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether an Amazon Web Services resource or Config rule is\n\t\t\tcompliant.</p>\n\t\t       <p>A resource is compliant if it complies with all of the Config rules that evaluate it. A resource is noncompliant if it does\n\t\t\tnot comply with one or more of these rules.</p>\n\t\t       <p>A rule is compliant if all of the resources that the rule\n\t\t\tevaluates comply with it. A rule is noncompliant if any of these\n\t\t\tresources do not comply.</p>\n\t\t       <p>Config returns the <code>INSUFFICIENT_DATA</code> value\n\t\t\twhen no evaluation results are available for the Amazon Web Services resource or Config rule.</p>\n\t\t       <p>For the <code>Compliance</code> data type, Config supports\n\t\t\tonly <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and\n\t\t\t\t<code>INSUFFICIENT_DATA</code> values. Config does not\n\t\t\tsupport the <code>NOT_APPLICABLE</code> value for the\n\t\t\t\t<code>Compliance</code> data type.</p>"
          }
        },
        "ComplianceContributorCount": {
          "target": "com.amazonaws.configservice#ComplianceContributorCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of Amazon Web Services resources or Config rules that cause a\n\t\t\tresult of <code>NON_COMPLIANT</code>, up to a maximum\n\t\t\tnumber.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether an Amazon Web Services resource or Config rule is\n\t\t\tcompliant and provides the number of contributors that affect the\n\t\t\tcompliance.</p>"
      }
    },
    "com.amazonaws.configservice#ComplianceByConfigRule": {
      "type": "structure",
      "members": {
        "ConfigRuleName": {
          "target": "com.amazonaws.configservice#StringWithCharLimit64",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Config rule.</p>"
          }
        },
        "Compliance": {
          "target": "com.amazonaws.configservice#Compliance",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the Config rule is compliant.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether an Config rule is compliant. A rule is\n\t\t\tcompliant if all of the resources that the rule evaluated comply\n\t\t\twith it. A rule is noncompliant if any of these resources do not\n\t\t\tcomply.</p>"
      }
    },
    "com.amazonaws.configservice#ComplianceByConfigRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ComplianceByConfigRule"
      }
    },
    "com.amazonaws.configservice#ComplianceByResource": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.configservice#StringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>The type of the Amazon Web Services resource that was evaluated.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.configservice#BaseResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services resource that was evaluated.</p>"
          }
        },
        "Compliance": {
          "target": "com.amazonaws.configservice#Compliance",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the Amazon Web Services resource complies with all of the Config rules that evaluated it.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether an Amazon Web Services resource that is evaluated according\n\t\t\tto one or more Config rules is compliant. A resource is\n\t\t\tcompliant if it complies with all of the rules that evaluate it. A\n\t\t\tresource is noncompliant if it does not comply with one or more of\n\t\t\tthese rules.</p>"
      }
    },
    "com.amazonaws.configservice#ComplianceByResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ComplianceByResource"
      }
    },
    "com.amazonaws.configservice#ComplianceContributorCount": {
      "type": "structure",
      "members": {
        "CappedCount": {
          "target": "com.amazonaws.configservice#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of Amazon Web Services resources or Config rules responsible for\n\t\t\tthe current compliance of the item.</p>"
          }
        },
        "CapExceeded": {
          "target": "com.amazonaws.configservice#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether the maximum count is reached.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of Amazon Web Services resources or Config rules responsible for\n\t\t\tthe current compliance of the item, up to a maximum\n\t\t\tnumber.</p>"
      }
    },
    "com.amazonaws.configservice#ComplianceResourceTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#StringWithCharLimit256"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.configservice#ComplianceScore": {
      "type": "string"
    },
    "com.amazonaws.configservice#ComplianceSummariesByResourceType": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ComplianceSummaryByResourceType"
      }
    },
    "com.amazonaws.configservice#ComplianceSummary": {
      "type": "structure",
      "members": {
        "CompliantResourceCount": {
          "target": "com.amazonaws.configservice#ComplianceContributorCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of Config rules or Amazon Web Services resources that are\n\t\t\tcompliant, up to a maximum of 25 for rules and 100 for\n\t\t\tresources.</p>"
          }
        },
        "NonCompliantResourceCount": {
          "target": "com.amazonaws.configservice#ComplianceContributorCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of Config rules or Amazon Web Services resources that are\n\t\t\tnoncompliant, up to a maximum of 25 for rules and 100 for\n\t\t\tresources.</p>"
          }
        },
        "ComplianceSummaryTimestamp": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time that Config created the compliance\n\t\t\tsummary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of Config rules or Amazon Web Services resources that are\n\t\t\tcompliant and noncompliant.</p>"
      }
    },
    "com.amazonaws.configservice#ComplianceSummaryByResourceType": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.configservice#StringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services resource.</p>"
          }
        },
        "ComplianceSummary": {
          "target": "com.amazonaws.configservice#ComplianceSummary",
          "traits": {
            "smithy.api#documentation": "<p>The number of Amazon Web Services resources that are compliant or noncompliant,\n\t\t\tup to a maximum of 100 for each.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of Amazon Web Services resources of a specific type that are\n\t\t\tcompliant or noncompliant, up to a maximum of 100 for\n\t\t\teach.</p>"
      }
    },
    "com.amazonaws.configservice#ComplianceType": {
      "type": "enum",
      "members": {
        "Compliant": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANT"
          }
        },
        "Non_Compliant": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_COMPLIANT"
          }
        },
        "Not_Applicable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        },
        "Insufficient_Data": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_DATA"
          }
        }
      }
    },
    "com.amazonaws.configservice#ComplianceTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ComplianceType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.configservice#ConfigExportDeliveryInfo": {
      "type": "structure",
      "members": {
        "lastStatus": {
          "target": "com.amazonaws.configservice#DeliveryStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the last attempted delivery.</p>"
          }
        },
        "lastErrorCode": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code from the last attempted delivery.</p>"
          }
        },
        "lastErrorMessage": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message from the last attempted delivery.</p>"
          }
        },
        "lastAttemptTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time of the last attempted delivery.</p>"
          }
        },
        "lastSuccessfulTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time of the last successful delivery.</p>"
          }
        },
        "nextDeliveryTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time that the next delivery occurs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides status of the delivery of the snapshot or the\n\t\t\tconfiguration history to the specified Amazon S3 bucket. Also\n\t\t\tprovides the status of notifications about the Amazon S3 delivery to\n\t\t\tthe specified Amazon SNS topic.</p>"
      }
    },
    "com.amazonaws.configservice#ConfigRule": {
      "type": "structure",
      "members": {
        "ConfigRuleName": {
          "target": "com.amazonaws.configservice#ConfigRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you assign to the Config rule. The name is\n\t\t\trequired if you are adding a new rule.</p>"
          }
        },
        "ConfigRuleArn": {
          "target": "com.amazonaws.configservice#StringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Config\n\t\t\trule.</p>"
          }
        },
        "ConfigRuleId": {
          "target": "com.amazonaws.configservice#StringWithCharLimit64",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Config rule.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.configservice#EmptiableStringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>The description that you provide for the Config\n\t\t\trule.</p>"
          }
        },
        "Scope": {
          "target": "com.amazonaws.configservice#Scope",
          "traits": {
            "smithy.api#documentation": "<p>Defines which resources can trigger an evaluation for the rule.\n\t\t\tThe scope can include one or more resource types, a combination of\n\t\t\tone resource type and one resource ID, or a combination of a tag key\n\t\t\tand value. Specify a scope to constrain the resources that can\n\t\t\ttrigger an evaluation for the rule. If you do not specify a scope,\n\t\t\tevaluations are triggered when any resource in the recording group\n\t\t\tchanges.</p>\n\t\t       <note>\n            <p>The scope can be empty. </p>\n         </note>"
          }
        },
        "Source": {
          "target": "com.amazonaws.configservice#Source",
          "traits": {
            "smithy.api#documentation": "<p>Provides the rule owner (<code>Amazon Web Services</code> for managed rules, <code>CUSTOM_POLICY</code> for Custom Policy rules, and <code>CUSTOM_LAMBDA</code> for Custom Lambda rules), the rule identifier,\n\t\t\tand the notifications that cause the function to evaluate your Amazon Web Services\n\t\t\tresources.</p>",
            "smithy.api#required": {}
          }
        },
        "InputParameters": {
          "target": "com.amazonaws.configservice#StringWithCharLimit1024",
          "traits": {
            "smithy.api#documentation": "<p>A string, in JSON format, that is passed to the Config rule\n\t\t\tLambda function.</p>"
          }
        },
        "MaximumExecutionFrequency": {
          "target": "com.amazonaws.configservice#MaximumExecutionFrequency",
          "traits": {
            "smithy.api#documentation": "<p>The maximum frequency with which Config runs evaluations\n\t\t\tfor a rule. You can specify a value for\n\t\t\t\t<code>MaximumExecutionFrequency</code> when:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>This is for an Config managed rule that is triggered at\n\t\t\t\t\ta periodic frequency.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Your custom rule is triggered when Config delivers\n\t\t\t\t\tthe configuration snapshot. For more information, see <a>ConfigSnapshotDeliveryProperties</a>.</p>\n\t\t\t         </li>\n         </ul>\n\n\n\n\t\t       <note>\n\t\t\t         <p>By default, rules with a periodic trigger are evaluated\n\t\t\t\tevery 24 hours. To change the frequency, specify a valid value\n\t\t\t\tfor the <code>MaximumExecutionFrequency</code>\n\t\t\t\tparameter.</p>\n\t\t       </note>"
          }
        },
        "ConfigRuleState": {
          "target": "com.amazonaws.configservice#ConfigRuleState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the Config rule is active or is currently\n\t\t\tbeing deleted by Config. It can also indicate the evaluation\n\t\t\tstatus for the Config rule.</p>\n\n\t\t       <p>Config sets the state of the rule to\n\t\t\t\t<code>EVALUATING</code> temporarily after you use the\n\t\t\t\t<code>StartConfigRulesEvaluation</code> request to evaluate your\n\t\t\tresources against the Config rule.</p>\n\n\t\t       <p>Config sets the state of the rule to\n\t\t\t\t<code>DELETING_RESULTS</code> temporarily after you use the\n\t\t\t\t<code>DeleteEvaluationResults</code> request to delete the\n\t\t\tcurrent evaluation results for the Config rule.</p>\n\n\t\t       <p>Config temporarily sets the state of a rule to\n\t\t\t\t<code>DELETING</code> after you use the\n\t\t\t\t<code>DeleteConfigRule</code> request to delete the rule. After\n\t\t\tConfig deletes the rule, the rule and all of its evaluations are\n\t\t\terased and are no longer available.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.configservice#StringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>Service principal name of the service that created the\n\t\t\trule.</p>\n\t\t       <note>\n\t\t\t         <p>The field is populated only if the service-linked rule is\n\t\t\t\tcreated by a service. The field is empty if you create your own\n\t\t\t\trule.</p>\n\t\t       </note>"
          }
        },
        "EvaluationModes": {
          "target": "com.amazonaws.configservice#EvaluationModes",
          "traits": {
            "smithy.api#documentation": "<p>The modes the Config rule can be evaluated in. The valid values are distinct objects. By default, the value is Detective evaluation mode only.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Config rules evaluate the configuration settings of your Amazon Web Services resources. A rule can run when Config detects a configuration change to\n\t\t\tan Amazon Web Services resource or at a periodic frequency that you choose (for\n\t\t\texample, every 24 hours). There are two types of rules: Config Managed Rules and Config Custom Rules.\n\t\t\tManaged rules are predefined, customizable rules created by Config. For a list of managed rules, see\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/config/latest/developerguide/managed-rules-by-aws-config.html\">List of Config\n\t\t\t\t\tManaged Rules</a>.</p>\n\t\t\n\t\t       <p>Custom rules are rules that you can create using either Guard or Lambda functions.\n\t\t\tGuard (<a href=\"https://github.com/aws-cloudformation/cloudformation-guard\">Guard GitHub\n\t\t\t\tRepository</a>) is a policy-as-code language that allows you to write policies that\n\t\t\tare enforced by Config Custom Policy rules. Lambda uses custom code that you upload to\n\t\t\tevaluate a custom rule. It is invoked by events that are published to it by an event source, which Config invokes when the custom rule is initiated.</p> \n\t\t\n\t\t       <p>For more information about developing and using Config\n\t\t\trules, see <a href=\"https://docs.aws.amazon.com/config/latest/developerguide/evaluate-config.html\">Evaluating Amazon Web Services resource Configurations with Config</a>\n\t\t\tin the <i>Config Developer Guide</i>.</p>\n\n\t\t       <note>\n\t\t\t         <p>You can use the Amazon Web Services CLI and Amazon Web Services SDKs if you want to create\n\t\t\t\ta rule that triggers evaluations for your resources when Config delivers the configuration snapshot. For more\n\t\t\t\tinformation, see <a>ConfigSnapshotDeliveryProperties</a>.</p>\n\t\t       </note>"
      }
    },
    "com.amazonaws.configservice#ConfigRuleComplianceFilters": {
      "type": "structure",
      "members": {
        "ConfigRuleName": {
          "target": "com.amazonaws.configservice#ConfigRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Config rule.</p>"
          }
        },
        "ComplianceType": {
          "target": "com.amazonaws.configservice#ComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>The rule compliance status.</p>\n\t\t       <p>For the <code>ConfigRuleComplianceFilters</code> data type, Config supports only <code>COMPLIANT</code> and\n\t\t\t\t<code>NON_COMPLIANT</code>. Config does not support the\n\t\t\t\t<code>NOT_APPLICABLE</code> and the\n\t\t\t\t<code>INSUFFICIENT_DATA</code> values.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit account ID of the source account.\n\t\t\t</p>"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The source region where the data is aggregated.\n\t\t\t</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters the compliance results based on account ID, region,\n\t\t\tcompliance type, and rule name.</p>"
      }
    },
    "com.amazonaws.configservice#ConfigRuleComplianceSummaryFilters": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit account ID of the source account.</p>"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The source region where the data is aggregated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters the results based on the account IDs and\n\t\t\tregions.</p>"
      }
    },
    "com.amazonaws.configservice#ConfigRuleComplianceSummaryGroupKey": {
      "type": "enum",
      "members": {
        "ACCOUNT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ID"
          }
        },
        "AWS_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_REGION"
          }
        }
      }
    },
    "com.amazonaws.configservice#ConfigRuleEvaluationStatus": {
      "type": "structure",
      "members": {
        "ConfigRuleName": {
          "target": "com.amazonaws.configservice#ConfigRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Config rule.</p>"
          }
        },
        "ConfigRuleArn": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Config\n\t\t\trule.</p>"
          }
        },
        "ConfigRuleId": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Config rule.</p>"
          }
        },
        "LastSuccessfulInvocationTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time that Config last successfully invoked the Config rule to evaluate your Amazon Web Services resources.</p>"
          }
        },
        "LastFailedInvocationTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time that Config last failed to invoke the Config\n\t\t\trule to evaluate your Amazon Web Services resources.</p>"
          }
        },
        "LastSuccessfulEvaluationTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time that Config last successfully evaluated your Amazon Web Services\n\t\t\tresources against the rule.</p>"
          }
        },
        "LastFailedEvaluationTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time that Config last failed to evaluate your Amazon Web Services\n\t\t\tresources against the rule.</p>"
          }
        },
        "FirstActivatedTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time that you first activated the Config\n\t\t\trule.</p>"
          }
        },
        "LastDeactivatedTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time that you last turned off the Config rule.</p>"
          }
        },
        "LastErrorCode": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code that Config returned when the rule last\n\t\t\tfailed.</p>"
          }
        },
        "LastErrorMessage": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message that Config returned when the rule last\n\t\t\tfailed.</p>"
          }
        },
        "FirstEvaluationStarted": {
          "target": "com.amazonaws.configservice#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether Config has evaluated your resources\n\t\t\tagainst the rule at least once.</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n\t\t\t\t\t             <code>true</code> - Config has evaluated your Amazon Web Services\n\t\t\t\t\tresources against the rule at least once.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n\t\t\t\t\t             <code>false</code> - Config has not finished evaluating your Amazon Web Services resources against the\n\t\t\t\t\trule\n\t\t\t\t\tat least once.</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "LastDebugLogDeliveryStatus": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the last attempted delivery of a debug log for your Config Custom Policy rules. Either <code>Successful</code> or <code>Failed</code>.</p>"
          }
        },
        "LastDebugLogDeliveryStatusReason": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason Config was not able to deliver a debug log. This is for the last\n\t\t\tfailed attempt to retrieve a debug log for your Config Custom Policy rules.</p>"
          }
        },
        "LastDebugLogDeliveryTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time Config last attempted to deliver a debug log for your Config Custom Policy rules.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Status information for your Config Managed rules and Config Custom Policy rules. The\n\t\t\tstatus includes information such as the last time the rule ran, the\n\t\t\tlast time it failed, and the related error for the last\n\t\t\tfailure.</p>\n\t\t       <p>This action does not return status information about Config Custom Lambda rules.</p>"
      }
    },
    "com.amazonaws.configservice#ConfigRuleEvaluationStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConfigRuleEvaluationStatus"
      }
    },
    "com.amazonaws.configservice#ConfigRuleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.configservice#ConfigRuleNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConfigRuleName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 25
        }
      }
    },
    "com.amazonaws.configservice#ConfigRuleState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETING_RESULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING_RESULTS"
          }
        },
        "EVALUATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATING"
          }
        }
      }
    },
    "com.amazonaws.configservice#ConfigRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConfigRule"
      }
    },
    "com.amazonaws.configservice#ConfigSnapshotDeliveryProperties": {
      "type": "structure",
      "members": {
        "deliveryFrequency": {
          "target": "com.amazonaws.configservice#MaximumExecutionFrequency",
          "traits": {
            "smithy.api#documentation": "<p>The frequency with which Config delivers configuration\n\t\t\tsnapshots.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options for how often Config delivers\n\t\t\tconfiguration snapshots to the Amazon S3 bucket in your delivery\n\t\t\tchannel.</p>\n\n\t\t\n\t\t\n\n\t\t       <p>The frequency for a rule that triggers evaluations for your\n\t\t\tresources when Config delivers the configuration snapshot is set\n\t\t\tby one of two values, depending on which is less frequent:</p>\n\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>The value for the <code>deliveryFrequency</code>\n\t\t\t\t\tparameter within the delivery channel configuration, which\n\t\t\t\t\tsets how often Config delivers configuration snapshots.\n\t\t\t\t\tThis value also sets how often Config invokes\n\t\t\t\t\tevaluations for Config rules.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>The value for the\n\t\t\t\t\t\t<code>MaximumExecutionFrequency</code> parameter, which\n\t\t\t\t\tsets the maximum frequency with which Config invokes\n\t\t\t\t\tevaluations for the rule. For more information, see <a>ConfigRule</a>.</p>\n\t\t\t         </li>\n         </ul>\n\n\t\t       <p>If the <code>deliveryFrequency</code> value is less frequent\n\t\t\tthan the <code>MaximumExecutionFrequency</code> value for a rule,\n\t\t\tConfig invokes the rule only as often as the\n\t\t\t\t<code>deliveryFrequency</code> value.</p>\n\n\t\t       <ol>\n            <li>\n\t\t\t\t           <p>For example, you want your rule to run evaluations when\n\t\t\t\t\tConfig delivers the configuration snapshot.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>You specify the <code>MaximumExecutionFrequency</code>\n\t\t\t\t\tvalue for <code>Six_Hours</code>. </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>You then specify the delivery channel\n\t\t\t\t\t\t<code>deliveryFrequency</code> value for\n\t\t\t\t\t\t<code>TwentyFour_Hours</code>.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Because the value for <code>deliveryFrequency</code> is\n\t\t\t\t\tless frequent than <code>MaximumExecutionFrequency</code>,\n\t\t\t\t\tConfig invokes evaluations for the rule every 24 hours.\n\t\t\t\t</p>\n\t\t\t         </li>\n         </ol>\n\n\n\t\t       <p>You should set the <code>MaximumExecutionFrequency</code> value\n\t\t\tto be at least as frequent as the <code>deliveryFrequency</code>\n\t\t\tvalue. You can view the <code>deliveryFrequency</code> value by\n\t\t\tusing the <code>DescribeDeliveryChannnels</code> action.</p>\n\n\t\t       <p>To update the <code>deliveryFrequency</code> with which Config delivers your configuration snapshots, use the\n\t\t\t\t<code>PutDeliveryChannel</code> action.</p>"
      }
    },
    "com.amazonaws.configservice#ConfigStreamDeliveryInfo": {
      "type": "structure",
      "members": {
        "lastStatus": {
          "target": "com.amazonaws.configservice#DeliveryStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the last attempted delivery.</p>\n\t\t       <p>\n\t\t\t         <b>Note</b> Providing an SNS topic on a\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/config/latest/APIReference/API_DeliveryChannel.html\">DeliveryChannel</a> for Config is optional. If the SNS\n\t\t\tdelivery is turned off, the last status will be <b>Not_Applicable</b>.</p>"
          }
        },
        "lastErrorCode": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code from the last attempted delivery.</p>"
          }
        },
        "lastErrorMessage": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message from the last attempted delivery.</p>"
          }
        },
        "lastStatusChangeTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time from the last status change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list that contains the status of the delivery of the\n\t\t\tconfiguration stream notification to the Amazon SNS topic.</p>"
      }
    },
    "com.amazonaws.configservice#Configuration": {
      "type": "string"
    },
    "com.amazonaws.configservice#ConfigurationAggregator": {
      "type": "structure",
      "members": {
        "ConfigurationAggregatorName": {
          "target": "com.amazonaws.configservice#ConfigurationAggregatorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the aggregator.</p>"
          }
        },
        "ConfigurationAggregatorArn": {
          "target": "com.amazonaws.configservice#ConfigurationAggregatorArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the aggregator.</p>"
          }
        },
        "AccountAggregationSources": {
          "target": "com.amazonaws.configservice#AccountAggregationSourceList",
          "traits": {
            "smithy.api#documentation": "<p>Provides a list of source accounts and regions to be\n\t\t\taggregated.</p>"
          }
        },
        "OrganizationAggregationSource": {
          "target": "com.amazonaws.configservice#OrganizationAggregationSource",
          "traits": {
            "smithy.api#documentation": "<p>Provides an organization and list of regions to be\n\t\t\taggregated.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp when the configuration aggregator was\n\t\t\tcreated.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time of the last update.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.configservice#StringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Web Services service that created the configuration aggregator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details about the configuration aggregator, including\n\t\t\tinformation about source accounts, regions, and metadata of the\n\t\t\taggregator. </p>"
      }
    },
    "com.amazonaws.configservice#ConfigurationAggregatorArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:config:[a-z\\-\\d]+:\\d+:config-aggregator/config-aggregator-[a-z\\d]+$"
      }
    },
    "com.amazonaws.configservice#ConfigurationAggregatorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConfigurationAggregator"
      }
    },
    "com.amazonaws.configservice#ConfigurationAggregatorName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\w\\-]+$"
      }
    },
    "com.amazonaws.configservice#ConfigurationAggregatorNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConfigurationAggregatorName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.configservice#ConfigurationItem": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.amazonaws.configservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the resource configuration.</p>"
          }
        },
        "accountId": {
          "target": "com.amazonaws.configservice#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit Amazon Web Services account ID associated with the\n\t\t\tresource.</p>"
          }
        },
        "configurationItemCaptureTime": {
          "target": "com.amazonaws.configservice#ConfigurationItemCaptureTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration recording was\n\t\t\tinitiated.</p>"
          }
        },
        "configurationItemStatus": {
          "target": "com.amazonaws.configservice#ConfigurationItemStatus",
          "traits": {
            "smithy.api#documentation": "<p>The configuration item status. The valid values are:</p>\n\t\t\n\t\t       <ul>\n            <li>\n               <p>OK – The resource configuration has been updated</p>\n            </li>\n            <li>\n               <p>ResourceDiscovered – The resource was newly discovered</p>\n            </li>\n            <li>\n               <p>ResourceNotRecorded – The resource was discovered but its configuration was not recorded since the recorder excludes the recording of resources of this type</p>\n            </li>\n            <li>\n               <p>ResourceDeleted – The resource was deleted</p>\n            </li>\n            <li>\n               <p>ResourceDeletedNotRecorded – The resource was deleted but its configuration was not recorded since the recorder excludes the recording of resources of this type</p>\n            </li>\n         </ul>\n\t\t       <note>\n            <p>The CIs do not incur any cost.</p>\n         </note>"
          }
        },
        "configurationStateId": {
          "target": "com.amazonaws.configservice#ConfigurationStateId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that indicates the ordering of the configuration\n\t\t\titems of a resource.</p>"
          }
        },
        "configurationItemMD5Hash": {
          "target": "com.amazonaws.configservice#ConfigurationItemMD5Hash",
          "traits": {
            "smithy.api#documentation": "<p>Unique MD5 hash that represents the configuration item's\n\t\t\tstate.</p>\n\t\t       <p>You can use MD5 hash to compare the states of two or more\n\t\t\tconfiguration items that are associated with the same\n\t\t\tresource.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.configservice#ARN",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) associated with the resource.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.configservice#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services resource.</p>"
          }
        },
        "resourceId": {
          "target": "com.amazonaws.configservice#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource (for example,\n\t\t\t<code>sg-xxxxxx</code>).</p>"
          }
        },
        "resourceName": {
          "target": "com.amazonaws.configservice#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The custom name of the resource, if available.</p>"
          }
        },
        "awsRegion": {
          "target": "com.amazonaws.configservice#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The region where the resource resides.</p>"
          }
        },
        "availabilityZone": {
          "target": "com.amazonaws.configservice#AvailabilityZone",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone associated with the resource.</p>"
          }
        },
        "resourceCreationTime": {
          "target": "com.amazonaws.configservice#ResourceCreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp when the resource was created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.configservice#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A mapping of key value tags associated with the\n\t\t\tresource.</p>"
          }
        },
        "relatedEvents": {
          "target": "com.amazonaws.configservice#RelatedEventList",
          "traits": {
            "smithy.api#documentation": "<p>A list of CloudTrail event IDs.</p>\n\t\t       <p>A populated field indicates that the current configuration was\n\t\t\tinitiated by the events recorded in the CloudTrail log. For more\n\t\t\tinformation about CloudTrail, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/what_is_cloud_trail_top_level.html\">What Is CloudTrail</a>.</p>\n\t\t       <p>An empty field indicates that the current configuration was not\n\t\t\tinitiated by any event. As of Version 1.3, the relatedEvents field is empty. \n\t\t\tYou can access the <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/APIReference/API_LookupEvents.html\">LookupEvents API</a> in the <i>CloudTrail API Reference</i> to retrieve the events for the resource.</p>"
          }
        },
        "relationships": {
          "target": "com.amazonaws.configservice#RelationshipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of related Amazon Web Services resources.</p>"
          }
        },
        "configuration": {
          "target": "com.amazonaws.configservice#Configuration",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource configuration.</p>"
          }
        },
        "supplementaryConfiguration": {
          "target": "com.amazonaws.configservice#SupplementaryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration attributes that Config returns for certain\n\t\t\tresource types to supplement the information returned for the\n\t\t\t\t<code>configuration</code> parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list that contains detailed configurations of a specified\n\t\t\tresource.</p>"
      }
    },
    "com.amazonaws.configservice#ConfigurationItemCaptureTime": {
      "type": "timestamp"
    },
    "com.amazonaws.configservice#ConfigurationItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConfigurationItem"
      }
    },
    "com.amazonaws.configservice#ConfigurationItemMD5Hash": {
      "type": "string"
    },
    "com.amazonaws.configservice#ConfigurationItemStatus": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "ResourceDiscovered": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceDiscovered"
          }
        },
        "ResourceNotRecorded": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceNotRecorded"
          }
        },
        "ResourceDeleted": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceDeleted"
          }
        },
        "ResourceDeletedNotRecorded": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceDeletedNotRecorded"
          }
        }
      }
    },
    "com.amazonaws.configservice#ConfigurationRecorder": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.configservice#RecorderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recorder. By default, Config automatically\n\t\t\tassigns the name \"default\" when creating the configuration recorder.\n\t\t\tYou cannot change the assigned name.</p>"
          }
        },
        "roleARN": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the IAM role used to describe the\n\t\t\tAmazon Web Services resources associated with the account.</p>\n\t\t       <note>\n            <p>While the API model does not require this field, the server will reject a request without a defined roleARN for the configuration recorder.</p>\n         </note>"
          }
        },
        "recordingGroup": {
          "target": "com.amazonaws.configservice#RecordingGroup",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the types of Amazon Web Services resources for which Config\n\t\t\trecords configuration changes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the recording of configuration\n\t\t\tchanges of an Amazon Web Services resource.</p>"
      }
    },
    "com.amazonaws.configservice#ConfigurationRecorderList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConfigurationRecorder"
      }
    },
    "com.amazonaws.configservice#ConfigurationRecorderNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#RecorderName"
      }
    },
    "com.amazonaws.configservice#ConfigurationRecorderStatus": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration recorder.</p>"
          }
        },
        "lastStartTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time the recorder was last started.</p>"
          }
        },
        "lastStopTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time the recorder was last stopped.</p>"
          }
        },
        "recording": {
          "target": "com.amazonaws.configservice#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether or not the recorder is currently\n\t\t\trecording.</p>"
          }
        },
        "lastStatus": {
          "target": "com.amazonaws.configservice#RecorderStatus",
          "traits": {
            "smithy.api#documentation": "<p>The last (previous) status of the recorder.</p>"
          }
        },
        "lastErrorCode": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code indicating that the recording failed.</p>"
          }
        },
        "lastErrorMessage": {
          "target": "com.amazonaws.configservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The message indicating that the recording failed due to an\n\t\t\terror.</p>"
          }
        },
        "lastStatusChangeTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when the status was last changed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The current status of the configuration recorder.</p>"
      }
    },
    "com.amazonaws.configservice#ConfigurationRecorderStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConfigurationRecorderStatus"
      }
    },
    "com.amazonaws.configservice#ConfigurationStateId": {
      "type": "string"
    },
    "com.amazonaws.configservice#ConformancePackArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackComplianceFilters": {
      "type": "structure",
      "members": {
        "ConfigRuleNames": {
          "target": "com.amazonaws.configservice#ConformancePackConfigRuleNames",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by Config rule names.</p>"
          }
        },
        "ComplianceType": {
          "target": "com.amazonaws.configservice#ConformancePackComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by compliance.</p>\n\t\t       <p>The allowed values are <code>COMPLIANT</code> and <code>NON_COMPLIANT</code>. <code>INSUFFICIENT_DATA</code> is not supported.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters the conformance pack by compliance types and Config rule names.</p>"
      }
    },
    "com.amazonaws.configservice#ConformancePackComplianceResourceIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#StringWithCharLimit256"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackComplianceScore": {
      "type": "structure",
      "members": {
        "Score": {
          "target": "com.amazonaws.configservice#ComplianceScore",
          "traits": {
            "smithy.api#documentation": "<p>Compliance score for the conformance pack. Conformance packs with no evaluation results will have a compliance score of <code>INSUFFICIENT_DATA</code>.</p>"
          }
        },
        "ConformancePackName": {
          "target": "com.amazonaws.configservice#ConformancePackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the conformance pack.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.configservice#LastUpdatedTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the conformance pack compliance score was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A compliance score is the percentage of the number of compliant rule-resource combinations in a conformance pack compared to the number of total possible rule-resource combinations in the conformance pack.\n\t\t\tThis metric provides you with a high-level view of the compliance state of your conformance packs. You can use it to identify, investigate, and understand\n\t\t\tthe level of compliance in your conformance packs.</p>"
      }
    },
    "com.amazonaws.configservice#ConformancePackComplianceScores": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConformancePackComplianceScore"
      }
    },
    "com.amazonaws.configservice#ConformancePackComplianceScoresFilters": {
      "type": "structure",
      "members": {
        "ConformancePackNames": {
          "target": "com.amazonaws.configservice#ConformancePackNameFilter",
          "traits": {
            "smithy.api#documentation": "<p>The names of the conformance packs whose compliance scores you want to include in the conformance pack compliance score result set.\n\t\t\tYou can include up to 25 conformance packs in the <code>ConformancePackNames</code> array of strings, each with a character limit of 256 characters for the conformance pack name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of filters to apply to the conformance pack compliance score result set. </p>"
      }
    },
    "com.amazonaws.configservice#ConformancePackComplianceSummary": {
      "type": "structure",
      "members": {
        "ConformancePackName": {
          "target": "com.amazonaws.configservice#ConformancePackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the conformance pack name.</p>",
            "smithy.api#required": {}
          }
        },
        "ConformancePackComplianceStatus": {
          "target": "com.amazonaws.configservice#ConformancePackComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the conformance pack. The allowed values are <code>COMPLIANT</code>, <code>NON_COMPLIANT</code> and <code>INSUFFICIENT_DATA</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary includes the name and status of the conformance pack.</p>"
      }
    },
    "com.amazonaws.configservice#ConformancePackComplianceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConformancePackComplianceSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackComplianceType": {
      "type": "enum",
      "members": {
        "COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANT"
          }
        },
        "NON_COMPLIANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_COMPLIANT"
          }
        },
        "INSUFFICIENT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_DATA"
          }
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackConfigRuleNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#StringWithCharLimit64"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackDetail": {
      "type": "structure",
      "members": {
        "ConformancePackName": {
          "target": "com.amazonaws.configservice#ConformancePackName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the conformance pack.</p>",
            "smithy.api#required": {}
          }
        },
        "ConformancePackArn": {
          "target": "com.amazonaws.configservice#ConformancePackArn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the conformance pack.</p>",
            "smithy.api#required": {}
          }
        },
        "ConformancePackId": {
          "target": "com.amazonaws.configservice#ConformancePackId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the conformance pack.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryS3Bucket": {
          "target": "com.amazonaws.configservice#DeliveryS3Bucket",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon S3 bucket where Config stores conformance pack templates. </p>\n\t        <note>\n            <p>This field is optional.</p>\n         </note>"
          }
        },
        "DeliveryS3KeyPrefix": {
          "target": "com.amazonaws.configservice#DeliveryS3KeyPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix for the Amazon S3 bucket.</p>\n\t\t       <note>\n            <p>This field is optional.</p>\n         </note>"
          }
        },
        "ConformancePackInputParameters": {
          "target": "com.amazonaws.configservice#ConformancePackInputParameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>ConformancePackInputParameter</code> objects.</p>"
          }
        },
        "LastUpdateRequestedTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The last time a conformation pack update was requested. </p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.configservice#StringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services service that created the conformance pack.</p>"
          }
        },
        "TemplateSSMDocumentDetails": {
          "target": "com.amazonaws.configservice#TemplateSSMDocumentDetails",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the name or Amazon Resource Name (ARN) of the Amazon Web Services Systems Manager document (SSM document) and the version of the SSM document that is used to create a conformance pack.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns details of a conformance pack. A conformance pack is a collection of Config rules and remediation actions that can be easily deployed in an account and a region.</p>"
      }
    },
    "com.amazonaws.configservice#ConformancePackDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConformancePackDetail"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 25
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackEvaluationFilters": {
      "type": "structure",
      "members": {
        "ConfigRuleNames": {
          "target": "com.amazonaws.configservice#ConformancePackConfigRuleNames",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by Config rule names.</p>"
          }
        },
        "ComplianceType": {
          "target": "com.amazonaws.configservice#ConformancePackComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by compliance.</p>\n\t\t       <p>The allowed values are <code>COMPLIANT</code> and <code>NON_COMPLIANT</code>. <code>INSUFFICIENT_DATA</code> is not supported.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.configservice#StringWithCharLimit256",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by the resource type (for example, <code>\"AWS::EC2::Instance\"</code>). </p>"
          }
        },
        "ResourceIds": {
          "target": "com.amazonaws.configservice#ConformancePackComplianceResourceIds",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by resource IDs.</p>\n\t\t       <note>\n            <p>This is valid only when you provide resource type. If there is no resource type, you will see an error.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters a conformance pack by Config rule names, compliance types, Amazon Web Services resource types, and resource IDs.</p>"
      }
    },
    "com.amazonaws.configservice#ConformancePackEvaluationResult": {
      "type": "structure",
      "members": {
        "ComplianceType": {
          "target": "com.amazonaws.configservice#ConformancePackComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>The compliance type. The allowed values are <code>COMPLIANT</code> and <code>NON_COMPLIANT</code>. <code>INSUFFICIENT_DATA</code> is not supported.</p>",
            "smithy.api#required": {}
          }
        },
        "EvaluationResultIdentifier": {
          "target": "com.amazonaws.configservice#EvaluationResultIdentifier",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ConfigRuleInvokedTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when Config rule evaluated Amazon Web Services resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResultRecordedTime": {
          "target": "com.amazonaws.configservice#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time when Config recorded the evaluation result. </p>",
            "smithy.api#required": {}
          }
        },
        "Annotation": {
          "target": "com.amazonaws.configservice#Annotation",
          "traits": {
            "smithy.api#documentation": "<p>Supplementary information about how the evaluation determined the compliance. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a conformance pack evaluation. Provides Config rule and Amazon Web Services resource type that was evaluated, the compliance of the conformance pack, related time stamps, and supplementary information. </p>"
      }
    },
    "com.amazonaws.configservice#ConformancePackId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackInputParameter": {
      "type": "structure",
      "members": {
        "ParameterName": {
          "target": "com.amazonaws.configservice#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>One part of a key-value pair.</p>",
            "smithy.api#required": {}
          }
        },
        "ParameterValue": {
          "target": "com.amazonaws.configservice#ParameterValue",
          "traits": {
            "smithy.api#documentation": "<p>Another part of the key-value pair. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input parameters in the form of key-value pairs for the conformance pack, both of which you define. \n\t\t\tKeys can have a maximum character length of 255 characters, and values can have a maximum length of 4096 characters.</p>"
      }
    },
    "com.amazonaws.configservice#ConformancePackInputParameters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConformancePackInputParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 60
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z][-a-zA-Z0-9]*$"
      }
    },
    "com.amazonaws.configservice#ConformancePackNameFilter": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConformancePackName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConformancePackName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 25
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackNamesToSummarizeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.configservice#ConformancePackName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.configservice#ConformancePackRuleCompliance": {
      "type": "structure",
      "members": {
[...]
