{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.connect#ARN": {
      "type": "string"
    },
    "com.amazonaws.connect#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.connect#Message"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDeniedException",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You do not have sufficient permissions to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.connect#ActionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#ActionSummary"
      }
    },
    "com.amazonaws.connect#ActionSummary": {
      "type": "structure",
      "members": {
        "ActionType": {
          "target": "com.amazonaws.connect#ActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an action.</p>"
      }
    },
    "com.amazonaws.connect#ActionType": {
      "type": "enum",
      "members": {
        "CREATE_TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_TASK"
          }
        },
        "ASSIGN_CONTACT_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGN_CONTACT_CATEGORY"
          }
        },
        "GENERATE_EVENTBRIDGE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATE_EVENTBRIDGE_EVENT"
          }
        },
        "SEND_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEND_NOTIFICATION"
          }
        }
      }
    },
    "com.amazonaws.connect#AfterContactWorkTimeLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.connect#AgentContactReference": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.connect#ContactId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the contact in this instance of Amazon Connect. </p>"
          }
        },
        "Channel": {
          "target": "com.amazonaws.connect#Channel",
          "traits": {
            "smithy.api#documentation": "<p>The channel of the contact.</p>"
          }
        },
        "InitiationMethod": {
          "target": "com.amazonaws.connect#ContactInitiationMethod",
          "traits": {
            "smithy.api#documentation": "<p>How the contact was initiated.</p>"
          }
        },
        "AgentContactState": {
          "target": "com.amazonaws.connect#ContactState",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/about-contact-states.html\">state of the contact</a>.</p>"
          }
        },
        "StateStartTimestamp": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The epoch timestamp when the contact state started.</p>"
          }
        },
        "ConnectedToAgentTimestamp": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the contact was connected to an agent.</p>"
          }
        },
        "Queue": {
          "target": "com.amazonaws.connect#QueueReference"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_Contact.html\">contact</a> associated to the\n   user.</p>"
      }
    },
    "com.amazonaws.connect#AgentContactReferenceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentContactReference"
      }
    },
    "com.amazonaws.connect#AgentFirstName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AgentInfo": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.connect#AgentResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the agent who accepted the contact.</p>"
          }
        },
        "ConnectedToAgentTimestamp": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the contact was connected to the agent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the agent who accepted the contact.</p>"
      }
    },
    "com.amazonaws.connect#AgentLastName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AgentResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.connect#AgentStatus": {
      "type": "structure",
      "members": {
        "AgentStatusARN": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent status.</p>"
          }
        },
        "AgentStatusId": {
          "target": "com.amazonaws.connect#AgentStatusId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the agent status.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#AgentStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent status.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.connect#AgentStatusDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the agent status.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.connect#AgentStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The type of agent status.</p>"
          }
        },
        "DisplayOrder": {
          "target": "com.amazonaws.connect#AgentStatusOrderNumber",
          "traits": {
            "smithy.api#documentation": "<p>The display order of the agent status.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.connect#AgentStatusState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the agent status.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an agent status.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.connect#AgentStatusId": {
      "type": "string"
    },
    "com.amazonaws.connect#AgentStatusName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        }
      }
    },
    "com.amazonaws.connect#AgentStatusOrderNumber": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.connect#AgentStatusReference": {
      "type": "structure",
      "members": {
        "StatusStartTimestamp": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start timestamp of the agent's status.</p>"
          }
        },
        "StatusArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent's status.</p>"
          }
        },
        "StatusName": {
          "target": "com.amazonaws.connect#AgentStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the agent's status.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.connect#AgentStatusSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.connect#AgentStatusId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for an agent status.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the agent status.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#AgentStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent status.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.connect#AgentStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the agent status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for an agent status.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentStatusSummary"
      }
    },
    "com.amazonaws.connect#AgentStatusType": {
      "type": "enum",
      "members": {
        "ROUTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTABLE"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        }
      }
    },
    "com.amazonaws.connect#AgentStatusTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentStatusType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.connect#AgentUsername": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AgentsMinOneMaxHundred": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#UserId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AliasArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AllowedAccessControlTags": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.connect#SecurityProfilePolicyKey"
      },
      "value": {
        "target": "com.amazonaws.connect#SecurityProfilePolicyValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.connect#AllowedMonitorCapabilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#MonitorCapability"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.connect#AmazonConnectService": {
      "type": "service",
      "version": "2017-08-08",
      "operations": [
        {
          "target": "com.amazonaws.connect#AssociateApprovedOrigin"
        },
        {
          "target": "com.amazonaws.connect#AssociateBot"
        },
        {
          "target": "com.amazonaws.connect#AssociateDefaultVocabulary"
        },
        {
          "target": "com.amazonaws.connect#AssociateInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#AssociateLambdaFunction"
        },
        {
          "target": "com.amazonaws.connect#AssociateLexBot"
        },
        {
          "target": "com.amazonaws.connect#AssociatePhoneNumberContactFlow"
        },
        {
          "target": "com.amazonaws.connect#AssociateQueueQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#AssociateRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#AssociateSecurityKey"
        },
        {
          "target": "com.amazonaws.connect#ClaimPhoneNumber"
        },
        {
          "target": "com.amazonaws.connect#CreateAgentStatus"
        },
        {
          "target": "com.amazonaws.connect#CreateContactFlow"
        },
        {
          "target": "com.amazonaws.connect#CreateContactFlowModule"
        },
        {
          "target": "com.amazonaws.connect#CreateHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#CreateInstance"
        },
        {
          "target": "com.amazonaws.connect#CreateIntegrationAssociation"
        },
        {
          "target": "com.amazonaws.connect#CreateQueue"
        },
        {
          "target": "com.amazonaws.connect#CreateQuickConnect"
        },
        {
          "target": "com.amazonaws.connect#CreateRoutingProfile"
        },
        {
          "target": "com.amazonaws.connect#CreateRule"
        },
        {
          "target": "com.amazonaws.connect#CreateSecurityProfile"
        },
        {
          "target": "com.amazonaws.connect#CreateTaskTemplate"
        },
        {
          "target": "com.amazonaws.connect#CreateTrafficDistributionGroup"
        },
        {
          "target": "com.amazonaws.connect#CreateUseCase"
        },
        {
          "target": "com.amazonaws.connect#CreateUser"
        },
        {
          "target": "com.amazonaws.connect#CreateUserHierarchyGroup"
        },
        {
          "target": "com.amazonaws.connect#CreateVocabulary"
        },
        {
          "target": "com.amazonaws.connect#DeleteContactFlow"
        },
        {
          "target": "com.amazonaws.connect#DeleteContactFlowModule"
        },
        {
          "target": "com.amazonaws.connect#DeleteHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#DeleteInstance"
        },
        {
          "target": "com.amazonaws.connect#DeleteIntegrationAssociation"
        },
        {
          "target": "com.amazonaws.connect#DeleteQuickConnect"
        },
        {
          "target": "com.amazonaws.connect#DeleteRule"
        },
        {
          "target": "com.amazonaws.connect#DeleteSecurityProfile"
        },
        {
          "target": "com.amazonaws.connect#DeleteTaskTemplate"
        },
        {
          "target": "com.amazonaws.connect#DeleteTrafficDistributionGroup"
        },
        {
          "target": "com.amazonaws.connect#DeleteUseCase"
        },
        {
          "target": "com.amazonaws.connect#DeleteUser"
        },
        {
          "target": "com.amazonaws.connect#DeleteUserHierarchyGroup"
        },
        {
          "target": "com.amazonaws.connect#DeleteVocabulary"
        },
        {
          "target": "com.amazonaws.connect#DescribeAgentStatus"
        },
        {
          "target": "com.amazonaws.connect#DescribeContact"
        },
        {
          "target": "com.amazonaws.connect#DescribeContactFlow"
        },
        {
          "target": "com.amazonaws.connect#DescribeContactFlowModule"
        },
        {
          "target": "com.amazonaws.connect#DescribeHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#DescribeInstance"
        },
        {
          "target": "com.amazonaws.connect#DescribeInstanceAttribute"
        },
        {
          "target": "com.amazonaws.connect#DescribeInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#DescribePhoneNumber"
        },
        {
          "target": "com.amazonaws.connect#DescribeQueue"
        },
        {
          "target": "com.amazonaws.connect#DescribeQuickConnect"
        },
        {
          "target": "com.amazonaws.connect#DescribeRoutingProfile"
        },
        {
          "target": "com.amazonaws.connect#DescribeRule"
        },
        {
          "target": "com.amazonaws.connect#DescribeSecurityProfile"
        },
        {
          "target": "com.amazonaws.connect#DescribeTrafficDistributionGroup"
        },
        {
          "target": "com.amazonaws.connect#DescribeUser"
        },
        {
          "target": "com.amazonaws.connect#DescribeUserHierarchyGroup"
        },
        {
          "target": "com.amazonaws.connect#DescribeUserHierarchyStructure"
        },
        {
          "target": "com.amazonaws.connect#DescribeVocabulary"
        },
        {
          "target": "com.amazonaws.connect#DisassociateApprovedOrigin"
        },
        {
          "target": "com.amazonaws.connect#DisassociateBot"
        },
        {
          "target": "com.amazonaws.connect#DisassociateInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#DisassociateLambdaFunction"
        },
        {
          "target": "com.amazonaws.connect#DisassociateLexBot"
        },
        {
          "target": "com.amazonaws.connect#DisassociatePhoneNumberContactFlow"
        },
        {
          "target": "com.amazonaws.connect#DisassociateQueueQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#DisassociateRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#DisassociateSecurityKey"
        },
        {
          "target": "com.amazonaws.connect#DismissUserContact"
        },
        {
          "target": "com.amazonaws.connect#GetContactAttributes"
        },
        {
          "target": "com.amazonaws.connect#GetCurrentMetricData"
        },
        {
          "target": "com.amazonaws.connect#GetCurrentUserData"
        },
        {
          "target": "com.amazonaws.connect#GetFederationToken"
        },
        {
          "target": "com.amazonaws.connect#GetMetricData"
        },
        {
          "target": "com.amazonaws.connect#GetTaskTemplate"
        },
        {
          "target": "com.amazonaws.connect#GetTrafficDistribution"
        },
        {
          "target": "com.amazonaws.connect#ListAgentStatuses"
        },
        {
          "target": "com.amazonaws.connect#ListApprovedOrigins"
        },
        {
          "target": "com.amazonaws.connect#ListBots"
        },
        {
          "target": "com.amazonaws.connect#ListContactFlowModules"
        },
        {
          "target": "com.amazonaws.connect#ListContactFlows"
        },
        {
          "target": "com.amazonaws.connect#ListContactReferences"
        },
        {
          "target": "com.amazonaws.connect#ListDefaultVocabularies"
        },
        {
          "target": "com.amazonaws.connect#ListHoursOfOperations"
        },
        {
          "target": "com.amazonaws.connect#ListInstanceAttributes"
        },
        {
          "target": "com.amazonaws.connect#ListInstances"
        },
        {
          "target": "com.amazonaws.connect#ListInstanceStorageConfigs"
        },
        {
          "target": "com.amazonaws.connect#ListIntegrationAssociations"
        },
        {
          "target": "com.amazonaws.connect#ListLambdaFunctions"
        },
        {
          "target": "com.amazonaws.connect#ListLexBots"
        },
        {
          "target": "com.amazonaws.connect#ListPhoneNumbers"
        },
        {
          "target": "com.amazonaws.connect#ListPhoneNumbersV2"
        },
        {
          "target": "com.amazonaws.connect#ListPrompts"
        },
        {
          "target": "com.amazonaws.connect#ListQueueQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#ListQueues"
        },
        {
          "target": "com.amazonaws.connect#ListQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#ListRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#ListRoutingProfiles"
        },
        {
          "target": "com.amazonaws.connect#ListRules"
        },
        {
          "target": "com.amazonaws.connect#ListSecurityKeys"
        },
        {
          "target": "com.amazonaws.connect#ListSecurityProfilePermissions"
        },
        {
          "target": "com.amazonaws.connect#ListSecurityProfiles"
        },
        {
          "target": "com.amazonaws.connect#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.connect#ListTaskTemplates"
        },
        {
          "target": "com.amazonaws.connect#ListTrafficDistributionGroups"
        },
        {
          "target": "com.amazonaws.connect#ListUseCases"
        },
        {
          "target": "com.amazonaws.connect#ListUserHierarchyGroups"
        },
        {
          "target": "com.amazonaws.connect#ListUsers"
        },
        {
          "target": "com.amazonaws.connect#MonitorContact"
        },
        {
          "target": "com.amazonaws.connect#PutUserStatus"
        },
        {
          "target": "com.amazonaws.connect#ReleasePhoneNumber"
        },
        {
          "target": "com.amazonaws.connect#ReplicateInstance"
        },
        {
          "target": "com.amazonaws.connect#ResumeContactRecording"
        },
        {
          "target": "com.amazonaws.connect#SearchAvailablePhoneNumbers"
        },
        {
          "target": "com.amazonaws.connect#SearchQueues"
        },
        {
          "target": "com.amazonaws.connect#SearchRoutingProfiles"
        },
        {
          "target": "com.amazonaws.connect#SearchSecurityProfiles"
        },
        {
          "target": "com.amazonaws.connect#SearchUsers"
        },
        {
          "target": "com.amazonaws.connect#SearchVocabularies"
        },
        {
          "target": "com.amazonaws.connect#StartChatContact"
        },
        {
          "target": "com.amazonaws.connect#StartContactRecording"
        },
        {
          "target": "com.amazonaws.connect#StartContactStreaming"
        },
        {
          "target": "com.amazonaws.connect#StartOutboundVoiceContact"
        },
        {
          "target": "com.amazonaws.connect#StartTaskContact"
        },
        {
          "target": "com.amazonaws.connect#StopContact"
        },
        {
          "target": "com.amazonaws.connect#StopContactRecording"
        },
        {
          "target": "com.amazonaws.connect#StopContactStreaming"
        },
        {
          "target": "com.amazonaws.connect#SuspendContactRecording"
        },
        {
          "target": "com.amazonaws.connect#TagResource"
        },
        {
          "target": "com.amazonaws.connect#TransferContact"
        },
        {
          "target": "com.amazonaws.connect#UntagResource"
        },
        {
          "target": "com.amazonaws.connect#UpdateAgentStatus"
        },
        {
          "target": "com.amazonaws.connect#UpdateContact"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactAttributes"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowContent"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowMetadata"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowModuleContent"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowModuleMetadata"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowName"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactSchedule"
        },
        {
          "target": "com.amazonaws.connect#UpdateHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#UpdateInstanceAttribute"
        },
        {
          "target": "com.amazonaws.connect#UpdateInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateParticipantRoleConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdatePhoneNumber"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueMaxContacts"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueName"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueOutboundCallerConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueStatus"
        },
        {
          "target": "com.amazonaws.connect#UpdateQuickConnectConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateQuickConnectName"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileConcurrency"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileDefaultOutboundQueue"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileName"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#UpdateRule"
        },
        {
          "target": "com.amazonaws.connect#UpdateSecurityProfile"
        },
        {
          "target": "com.amazonaws.connect#UpdateTaskTemplate"
        },
        {
          "target": "com.amazonaws.connect#UpdateTrafficDistribution"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserHierarchy"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserHierarchyGroupName"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserHierarchyStructure"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserIdentityInfo"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserPhoneConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserRoutingProfile"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserSecurityProfiles"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Connect",
          "arnNamespace": "connect",
          "cloudFormationName": "Connect",
          "cloudTrailEventSource": "connect.amazonaws.com",
          "endpointPrefix": "connect"
        },
        "aws.auth#sigv4": {
          "name": "connect"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon Connect is a cloud-based contact center solution that you use to set up and\n   manage a customer contact center and provide reliable customer engagement at any scale.</p>\n         <p>Amazon Connect provides metrics and real-time reporting that enable you to optimize\n   contact routing. You can also resolve customer issues more efficiently by getting customers in\n   touch with the appropriate agents.</p>\n         <p>There are limits to the number of Amazon Connect resources that you can create. There\n   are also limits to the number of requests that you can make per second. For more information, see\n    <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator\n    Guide</i>.</p>\n         <p>You can connect programmatically to an Amazon Web Services service by using an endpoint. For\n   a list of Amazon Connect endpoints, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/connect_region.html\">Amazon Connect Endpoints</a>.</p>",
        "smithy.api#title": "Amazon Connect Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://connect-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://connect-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://connect.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://connect.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.af-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.connect#AnswerMachineDetectionConfig": {
      "type": "structure",
      "members": {
        "EnableAnswerMachineDetection": {
          "target": "com.amazonaws.connect#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The flag to indicate if answer machine detection analysis needs to be performed for a voice\n   call. If set to <code>true</code>, <code>TrafficType</code> must be set as <code>CAMPAIGN</code>.\n  </p>"
          }
        },
        "AwaitAnswerMachinePrompt": {
          "target": "com.amazonaws.connect#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Wait for the answering machine prompt.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration of the answering machine detection.</p>"
      }
    },
    "com.amazonaws.connect#ApproximateTotalCount": {
      "type": "long"
    },
    "com.amazonaws.connect#AssignContactCategoryActionDefinition": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>This action must be set if <code>TriggerEventSource</code> is one of the following values:\n    <code>OnPostCallAnalysisAvailable</code> | <code>OnRealTimeCallAnalysisAvailable</code> |\n    <code>OnPostChatAnalysisAvailable</code>. Contact is categorized using the rule name.</p>\n         <p>\n            <code>RuleName</code> is used as <code>ContactCategory</code>.</p>"
      }
    },
    "com.amazonaws.connect#AssociateApprovedOrigin": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateApprovedOriginRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Associates an approved origin to an Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/approved-origin",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateApprovedOriginRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Origin": {
          "target": "com.amazonaws.connect#Origin",
          "traits": {
            "smithy.api#documentation": "<p>The domain to add to your allow list.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateBotRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Allows the specified Amazon Connect instance to access the specified Amazon Lex or Amazon Lex V2\n   bot.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/bot",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateBotRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LexBot": {
          "target": "com.amazonaws.connect#LexBot"
        },
        "LexV2Bot": {
          "target": "com.amazonaws.connect#LexV2Bot",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Lex V2 bot to associate with the instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateDefaultVocabulary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateDefaultVocabularyRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#AssociateDefaultVocabularyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an existing vocabulary as the default. Contact Lens for Amazon Connect uses the vocabulary in post-call\n   and real-time analysis sessions for the given language.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/default-vocabulary/{InstanceId}/{LanguageCode}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateDefaultVocabularyRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.connect#VocabularyLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code of the vocabulary entries. For a list of languages and their corresponding language codes, see \n<a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/transcribe-whatis.html\">What is Amazon Transcribe?</a>\n         </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VocabularyId": {
          "target": "com.amazonaws.connect#VocabularyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the custom vocabulary. If this is empty, the default is set to none.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateDefaultVocabularyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.connect#AssociateInstanceStorageConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateInstanceStorageConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#AssociateInstanceStorageConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Associates a storage resource type for the first time. You can only associate one type of\n   storage configuration in a single call. This means, for example, that you can't define an\n   instance with multiple S3 buckets for storing chat transcripts.</p>\n         <p>This API does not create a resource that doesn't exist. It only associates it to the\n   instance. Ensure that the resource being specified in the storage configuration, like an S3\n   bucket, exists when being used for association.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/storage-config",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateInstanceStorageConfigRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.connect#InstanceStorageResourceType",
          "traits": {
            "smithy.api#documentation": "<p>A valid resource type.</p>",
            "smithy.api#required": {}
          }
        },
        "StorageConfig": {
          "target": "com.amazonaws.connect#InstanceStorageConfig",
          "traits": {
            "smithy.api#documentation": "<p>A valid storage type.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateInstanceStorageConfigResponse": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.connect#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The existing association identifier that uniquely identifies the resource type and storage config for the given instance ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateLambdaFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateLambdaFunctionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Allows the specified Amazon Connect instance to access the specified Lambda\n   function.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/lambda-function",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateLambdaFunctionRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "FunctionArn": {
          "target": "com.amazonaws.connect#FunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the Lambda function being associated. Maximum number of characters allowed is\n   140.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateLexBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateLexBotRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Allows the specified Amazon Connect instance to access the specified Amazon Lex bot.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/lex-bot",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateLexBotRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LexBot": {
          "target": "com.amazonaws.connect#LexBot",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Lex bot to associate with the instance.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociatePhoneNumberContactFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociatePhoneNumberContactFlowRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a flow with a phone number claimed to your Amazon Connect instance.</p>\n         <important>\n            <p>If the number is claimed to a traffic distribution group, and you are calling this API using an instance in the\n     Amazon Web Services Region where the traffic distribution group was created, you can use either a full phone number\n    ARN or UUID value for the <code>PhoneNumberId</code> URI request parameter. However, if the\n    number is claimed to a traffic distribution group and you are calling this API using an instance in the alternate\n     Amazon Web Services Region associated with the traffic distribution group, you must provide a full phone number ARN.\n    If a UUID is provided\n    in\n    this scenario, you will receive a\n    <code>ResourceNotFoundException</code>.</p>\n         </important>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/phone-number/{PhoneNumberId}/contact-flow",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociatePhoneNumberContactFlowRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberId": {
          "target": "com.amazonaws.connect#PhoneNumberId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the phone number.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactFlowId": {
          "target": "com.amazonaws.connect#ContactFlowId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the flow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateQueueQuickConnects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateQueueQuickConnectsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Associates a set of quick connects with a queue.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/queues/{InstanceId}/{QueueId}/associate-quick-connects",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateQueueQuickConnectsRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "QueueId": {
          "target": "com.amazonaws.connect#QueueId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the queue.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "QuickConnectIds": {
          "target": "com.amazonaws.connect#QuickConnectsList",
          "traits": {
            "smithy.api#documentation": "<p>The quick connects to associate with this queue.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateRoutingProfileQueues": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateRoutingProfileQueuesRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a set of queues with a routing profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/routing-profiles/{InstanceId}/{RoutingProfileId}/associate-queues",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateRoutingProfileQueuesRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoutingProfileId": {
          "target": "com.amazonaws.connect#RoutingProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the routing profile.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "QueueConfigs": {
          "target": "com.amazonaws.connect#RoutingProfileQueueConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The queues to associate with this routing profile.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateSecurityKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateSecurityKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#AssociateSecurityKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Associates a security key to the instance.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/security-key",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateSecurityKeyRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.connect#PEM",
          "traits": {
            "smithy.api#documentation": "<p>A valid security key in PEM format.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateSecurityKeyResponse": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.connect#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The existing association identifier that uniquely identifies the resource type and storage config for the given instance ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#AssociationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AttachmentReference": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.connect#ReferenceKey",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the attachment reference.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.connect#ReferenceValue",
          "traits": {
            "smithy.api#documentation": "<p>The location path of the attachment reference.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.connect#ReferenceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the attachment reference type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a reference when the <code>referenceType</code> is\n   <code>ATTACHMENT</code>. Otherwise, null.</p>"
      }
    },
    "com.amazonaws.connect#Attribute": {
      "type": "structure",
      "members": {
        "AttributeType": {
          "target": "com.amazonaws.connect#InstanceAttributeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of attribute.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.connect#InstanceAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A toggle for an individual feature at the instance level.</p>"
      }
    },
    "com.amazonaws.connect#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32767
        }
      }
    },
    "com.amazonaws.connect#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 32767
        }
      }
    },
    "com.amazonaws.connect#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.connect#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.connect#AttributeValue"
      }
    },
    "com.amazonaws.connect#AttributesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#Attribute"
      }
    },
    "com.amazonaws.connect#AutoAccept": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.connect#AvailableNumberSummary": {
      "type": "structure",
      "members": {
        "PhoneNumber": {
          "target": "com.amazonaws.connect#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number. Phone numbers are formatted <code>[+] [country code] [subscriber number including area code]</code>.</p>"
          }
        },
        "PhoneNumberCountryCode": {
          "target": "com.amazonaws.connect#PhoneNumberCountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The ISO country code.</p>"
          }
        },
        "PhoneNumberType": {
          "target": "com.amazonaws.connect#PhoneNumberType",
          "traits": {
            "smithy.api#documentation": "<p>The type of phone number.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about available phone numbers.</p>"
      }
    },
    "com.amazonaws.connect#AvailableNumbersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AvailableNumberSummary"
      }
    },
    "com.amazonaws.connect#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 31
        },
        "smithy.api#pattern": "^[a-z]{2}(-[a-z]+){1,2}(-[0-9])?$"
      }
    },
    "com.amazonaws.connect#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.connect#BotName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.connect#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.connect#CampaignId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#Channel": {
      "type": "enum",
      "members": {
        "VOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICE"
          }
        },
        "CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT"
          }
        },
        "TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK"
          }
        }
      }
    },
    "com.amazonaws.connect#ChannelToCountMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.connect#Channel"
      },
      "value": {
        "target": "com.amazonaws.connect#IntegerCount"
      }
    },
    "com.amazonaws.connect#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#Channel"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.connect#ChatContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16384
        }
      }
    },
    "com.amazonaws.connect#ChatContentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#ChatDurationInMinutes": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 60,
          "max": 10080
        }
      }
    },
    "com.amazonaws.connect#ChatMessage": {
      "type": "structure",
      "members": {
        "ContentType": {
          "target": "com.amazonaws.connect#ChatContentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the content. Supported types are <code>text/plain</code>,\n    <code>text/markdown</code>, and <code>application/json</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.connect#ChatContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the chat message. </p>\n         <ul>\n            <li>\n               <p>For <code>text/plain</code> and <code>text/markdown</code>, the Length Constraints are\n     Minimum of 1, Maximum of 1024. </p>\n            </li>\n            <li>\n               <p>For <code>application/json</code>, the Length Constraints are Minimum of 1, Maximum of\n     12000. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A chat message.</p>"
      }
    },
    "com.amazonaws.connect#ChatParticipantRoleConfig": {
      "type": "structure",
      "members": {
        "ParticipantTimerConfigList": {
          "target": "com.amazonaws.connect#ParticipantTimerConfigList",
          "traits": {
            "smithy.api#documentation": "<p>A list of participant timers. You can specify any unique combination of role and timer type.\n   Duplicate entries error out the request with a 400.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for the chat participant role.</p>"
      }
    },
    "com.amazonaws.connect#ChatStreamingConfiguration": {
      "type": "structure",
      "members": {
        "StreamingEndpointArn": {
          "target": "com.amazonaws.connect#ChatStreamingEndpointARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the standard Amazon SNS topic. The Amazon Resource Name (ARN) of the streaming endpoint that is used\n   to publish real-time message streaming for chat conversations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The streaming configuration, such as the Amazon SNS streaming endpoint.</p>"
      }
    },
    "com.amazonaws.connect#ChatStreamingEndpointARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 350
        }
      }
    },
    "com.amazonaws.connect#ClaimPhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#ClaimPhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#ClaimPhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.connect#IdempotencyException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Claims an available phone number to your Amazon Connect instance or traffic distribution\n   group. You can call this API only in the same Amazon Web Services Region where the Amazon Connect instance or traffic distribution group was created.</p>\n         <p>For more information about how to use this operation, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/claim-phone-number.html\">Claim a phone number in your\n    country</a> and <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/claim-phone-numbers-traffic-distribution-groups.html\">Claim phone\n    numbers to traffic distribution groups</a> in the <i>Amazon Connect Administrator\n    Guide</i>. </p>\n         <important>\n            <p>You can call the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_SearchAvailablePhoneNumbers.html\">SearchAvailablePhoneNumbers</a> API for available phone numbers that you can claim. Call\n    the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribePhoneNumber.html\">DescribePhoneNumber</a> API to verify the status of a previous <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_ClaimPhoneNumber.html\">ClaimPhoneNumber</a>\n    operation.</p>\n         </important>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-number/claim",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#ClaimPhoneNumberRequest": {
      "type": "structure",
      "members": {
        "TargetArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for Amazon Connect instances or traffic distribution groups that phone numbers are claimed to.</p>",
            "smithy.api#required": {}
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.connect#PhoneNumber",
          "traits": {
[...]
