{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.connect#ARN": {
      "type": "string"
    },
    "com.amazonaws.connect#AWSAccountId": {
      "type": "string"
    },
    "com.amazonaws.connect#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.connect#Message"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDeniedException",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You do not have sufficient permissions to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.connect#AccessTokenDuration": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 10,
          "max": 60
        }
      }
    },
    "com.amazonaws.connect#ActionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#ActionSummary"
      }
    },
    "com.amazonaws.connect#ActionSummary": {
      "type": "structure",
      "members": {
        "ActionType": {
          "target": "com.amazonaws.connect#ActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an action.</p>"
      }
    },
    "com.amazonaws.connect#ActionType": {
      "type": "enum",
      "members": {
        "CREATE_TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_TASK"
          }
        },
        "ASSIGN_CONTACT_CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGN_CONTACT_CATEGORY"
          }
        },
        "GENERATE_EVENTBRIDGE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATE_EVENTBRIDGE_EVENT"
          }
        },
        "SEND_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEND_NOTIFICATION"
          }
        },
        "CREATE_CASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_CASE"
          }
        },
        "UPDATE_CASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_CASE"
          }
        },
        "ASSIGN_SLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGN_SLA"
          }
        },
        "END_ASSOCIATED_TASKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_ASSOCIATED_TASKS"
          }
        },
        "SUBMIT_AUTO_EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBMIT_AUTO_EVALUATION"
          }
        }
      }
    },
    "com.amazonaws.connect#ActivateEvaluationForm": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#ActivateEvaluationFormRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#ActivateEvaluationFormResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates an evaluation form in the specified Amazon Connect instance. After the\n   evaluation form is activated, it is available to start new evaluations based on the form. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/evaluation-forms/{InstanceId}/{EvaluationFormId}/activate",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#ActivateEvaluationFormRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/find-instance-arn.html\">find the instance ID</a> in the Amazon Resource Name (ARN) of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EvaluationFormId": {
          "target": "com.amazonaws.connect#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the evaluation form.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EvaluationFormVersion": {
          "target": "com.amazonaws.connect#VersionNumber",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The version of the evaluation form to activate. If the version property is not provided, the\n   latest version of the evaluation form is activated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.connect#ActivateEvaluationFormResponse": {
      "type": "structure",
      "members": {
        "EvaluationFormId": {
          "target": "com.amazonaws.connect#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the evaluation form.</p>",
            "smithy.api#required": {}
          }
        },
        "EvaluationFormArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the evaluation form resource.</p>",
            "smithy.api#required": {}
          }
        },
        "EvaluationFormVersion": {
          "target": "com.amazonaws.connect#VersionNumber",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>A version of the evaluation form.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.connect#AdditionalEmailRecipients": {
      "type": "structure",
      "members": {
        "ToList": {
          "target": "com.amazonaws.connect#EmailRecipientsList",
          "traits": {
            "smithy.api#documentation": "<p>List of additional TO email recipients for an email contact.</p>"
          }
        },
        "CcList": {
          "target": "com.amazonaws.connect#EmailRecipientsList",
          "traits": {
            "smithy.api#documentation": "<p>List of additional CC email recipients for an email contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>List of additional email addresses for an email contact.</p>"
      }
    },
    "com.amazonaws.connect#AfterContactWorkTimeLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.connect#AgentAvailabilityTimer": {
      "type": "enum",
      "members": {
        "TIME_SINCE_LAST_ACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SINCE_LAST_ACTIVITY"
          }
        },
        "TIME_SINCE_LAST_INBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SINCE_LAST_INBOUND"
          }
        }
      }
    },
    "com.amazonaws.connect#AgentConfig": {
      "type": "structure",
      "members": {
        "Distributions": {
          "target": "com.amazonaws.connect#DistributionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about traffic distributions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The distribution of agents between the instance and its replica(s).</p>"
      }
    },
    "com.amazonaws.connect#AgentContactReference": {
      "type": "structure",
      "members": {
        "ContactId": {
          "target": "com.amazonaws.connect#ContactId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the contact in this instance of Amazon Connect. </p>"
          }
        },
        "Channel": {
          "target": "com.amazonaws.connect#Channel",
          "traits": {
            "smithy.api#documentation": "<p>The channel of the contact.</p>"
          }
        },
        "InitiationMethod": {
          "target": "com.amazonaws.connect#ContactInitiationMethod",
          "traits": {
            "smithy.api#documentation": "<p>How the contact was initiated.</p>"
          }
        },
        "AgentContactState": {
          "target": "com.amazonaws.connect#ContactState",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/about-contact-states.html\">state of the contact</a>.</p>\n         <note>\n            <p>When <code>AgentContactState</code> is set to <code>CONNECTED_ONHOLD</code>,\n     <code>StateStartTimestamp</code> is not changed. Instead, <code>StateStartTimestamp</code>\n    reflects the time the contact was <code>CONNECTED</code> to the agent.</p>\n         </note>"
          }
        },
        "StateStartTimestamp": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The epoch timestamp when the contact state started.</p>"
          }
        },
        "ConnectedToAgentTimestamp": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the contact was connected to an agent.</p>"
          }
        },
        "Queue": {
          "target": "com.amazonaws.connect#QueueReference"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_Contact.html\">contact</a> associated to the\n   user.</p>"
      }
    },
    "com.amazonaws.connect#AgentContactReferenceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentContactReference"
      }
    },
    "com.amazonaws.connect#AgentFirstName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.connect#AgentHierarchyGroup": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an agent hierarchy group.</p>"
      }
    },
    "com.amazonaws.connect#AgentHierarchyGroups": {
      "type": "structure",
      "members": {
        "L1Ids": {
          "target": "com.amazonaws.connect#HierarchyGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers for level 1 hierarchy groups.</p>"
          }
        },
        "L2Ids": {
          "target": "com.amazonaws.connect#HierarchyGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers for level 2 hierarchy groups.</p>"
          }
        },
        "L3Ids": {
          "target": "com.amazonaws.connect#HierarchyGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers for level 3 hierarchy groups.</p>"
          }
        },
        "L4Ids": {
          "target": "com.amazonaws.connect#HierarchyGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers for level 4 hierarchy groups.</p>"
          }
        },
        "L5Ids": {
          "target": "com.amazonaws.connect#HierarchyGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers for level 5 hierarchy groups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that defines search criteria for contacts using agent hierarchy group levels.\n   For more information about agent hierarchies, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/agent-hierarchy.html\">Set Up Agent Hierarchies</a> in the\n     <i>Amazon Connect Administrator Guide</i>.</p>"
      }
    },
    "com.amazonaws.connect#AgentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.connect#AgentIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentId"
      }
    },
    "com.amazonaws.connect#AgentInfo": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.connect#AgentResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the agent who accepted the contact.</p>"
          }
        },
        "ConnectedToAgentTimestamp": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the contact was connected to the agent.</p>"
          }
        },
        "AgentPauseDurationInSeconds": {
          "target": "com.amazonaws.connect#AgentPauseDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Agent pause duration for a contact in seconds.</p>"
          }
        },
        "HierarchyGroups": {
          "target": "com.amazonaws.connect#HierarchyGroups",
          "traits": {
            "smithy.api#documentation": "<p>The agent hierarchy groups for the agent.</p>"
          }
        },
        "DeviceInfo": {
          "target": "com.amazonaws.connect#DeviceInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information regarding Agent’s device.</p>"
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.connect#ParticipantCapabilities"
        },
        "AfterContactWorkDuration": {
          "target": "com.amazonaws.connect#Duration",
          "traits": {
            "smithy.api#documentation": "<p>The difference in time, in whole seconds, between\n    <code>AfterContactWorkStartTimestamp</code> and\n   <code>AfterContactWorkEndTimestamp</code>.</p>"
          }
        },
        "AfterContactWorkStartTimestamp": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the agent started doing After Contact Work for the contact, in UTC\n   time.</p>"
          }
        },
        "AfterContactWorkEndTimestamp": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the agent ended After Contact Work for the contact, in UTC time. In\n   cases when agent finishes doing <code>AfterContactWork</code> for chat contacts and switches\n   their activity status to offline or equivalent without clearing the contact in CCP, discrepancies\n   may be noticed for <code>AfterContactWorkEndTimestamp</code>.</p>"
          }
        },
        "AgentInitiatedHoldDuration": {
          "target": "com.amazonaws.connect#Duration",
          "traits": {
            "smithy.api#documentation": "<p>The total hold duration in seconds initiated by the agent.</p>"
          }
        },
        "StateTransitions": {
          "target": "com.amazonaws.connect#StateTransitions",
          "traits": {
            "smithy.api#documentation": "<p>List of <code>StateTransition</code> for a supervisor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the agent who accepted the contact.</p>"
      }
    },
    "com.amazonaws.connect#AgentLastName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 300
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.connect#AgentPauseDurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.connect#AgentQualityMetrics": {
      "type": "structure",
      "members": {
        "Audio": {
          "target": "com.amazonaws.connect#AudioQualityMetricsInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the audio quality of the Agent</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the quality of the Agent's media connection</p>"
      }
    },
    "com.amazonaws.connect#AgentResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.connect#AgentResourceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentResourceId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AgentStatus": {
      "type": "structure",
      "members": {
        "AgentStatusARN": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent status.</p>"
          }
        },
        "AgentStatusId": {
          "target": "com.amazonaws.connect#AgentStatusId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the agent status.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#AgentStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent status.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.connect#AgentStatusDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the agent status.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.connect#AgentStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The type of agent status.</p>"
          }
        },
        "DisplayOrder": {
          "target": "com.amazonaws.connect#AgentStatusOrderNumber",
          "traits": {
            "smithy.api#documentation": "<p>The display order of the agent status.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.connect#AgentStatusState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the agent status.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource. For example, { \"Tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when this resource was last modified.</p>"
          }
        },
        "LastModifiedRegion": {
          "target": "com.amazonaws.connect#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region where this resource was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an agent status.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.connect#AgentStatusId": {
      "type": "string"
    },
    "com.amazonaws.connect#AgentStatusIdentifier": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent status.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.connect#AgentStatusId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the agent status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the agent status assigned to the user.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentStatus"
      }
    },
    "com.amazonaws.connect#AgentStatusName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        }
      }
    },
    "com.amazonaws.connect#AgentStatusOrderNumber": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.connect#AgentStatusReference": {
      "type": "structure",
      "members": {
        "StatusStartTimestamp": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start timestamp of the agent's status.</p>"
          }
        },
        "StatusArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent's status.</p>"
          }
        },
        "StatusName": {
          "target": "com.amazonaws.connect#AgentStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the agent's status.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusSearchConditionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentStatusSearchCriteria"
      }
    },
    "com.amazonaws.connect#AgentStatusSearchCriteria": {
      "type": "structure",
      "members": {
        "OrConditions": {
          "target": "com.amazonaws.connect#AgentStatusSearchConditionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of conditions which would be applied together with an <code>OR</code>\n   condition.</p>"
          }
        },
        "AndConditions": {
          "target": "com.amazonaws.connect#AgentStatusSearchConditionList",
          "traits": {
            "smithy.api#documentation": "<p>A leaf node condition which can be used to specify a string condition.</p>\n         <note>\n            <p>The currently supported values for <code>FieldName</code> are <code>name</code>,\u2028\u2028\n     <code>description</code>, <code>state</code>, <code>type</code>, <code>displayOrder</code>,\u2028\n    and <code>resourceID</code>.</p>\n         </note>"
          }
        },
        "StringCondition": {
          "target": "com.amazonaws.connect#StringCondition",
          "traits": {
            "smithy.api#documentation": "<p>A leaf node condition which can be used to specify a string condition.</p>\n         <note>\n            <p>The currently supported values for <code>FieldName</code> are <code>name</code>,\u2028\u2028\n     <code>description</code>, <code>state</code>, <code>type</code>, <code>displayOrder</code>,\u2028\n    and <code>resourceID</code>.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The search criteria to be used to return agent statuses.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusSearchFilter": {
      "type": "structure",
      "members": {
        "AttributeFilter": {
          "target": "com.amazonaws.connect#ControlPlaneAttributeFilter",
          "traits": {
            "smithy.api#documentation": "<p>An object that can be used to specify Tag conditions inside the <code>SearchFilter</code>.\n   This accepts an <code>OR</code> of <code>AND</code> (List of List) input where: </p>\n         <ul>\n            <li>\n               <p>The top level list specifies conditions that need to be applied with <code>OR</code>\n     operator.</p>\n            </li>\n            <li>\n               <p>The inner list specifies conditions that need to be applied with <code>AND</code>\n     operator.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters to be applied to search results.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.connect#AgentStatusSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.connect#AgentStatusId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for an agent status.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the agent status.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#AgentStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent status.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.connect#AgentStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the agent status.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when this resource was last modified.</p>"
          }
        },
        "LastModifiedRegion": {
          "target": "com.amazonaws.connect#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region where this resource was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for an agent status.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentStatusSummary"
      }
    },
    "com.amazonaws.connect#AgentStatusType": {
      "type": "enum",
      "members": {
        "ROUTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTABLE"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        }
      }
    },
    "com.amazonaws.connect#AgentStatusTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentStatusType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.connect#AgentStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentStatusId"
      }
    },
    "com.amazonaws.connect#AgentUsername": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AgentsCriteria": {
      "type": "structure",
      "members": {
        "AgentIds": {
          "target": "com.amazonaws.connect#AgentIds",
          "traits": {
            "smithy.api#documentation": "<p>An object to specify a list of agents, by user ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Can be used to define a list of preferred agents to target the contact to within the queue.\u2028\n   Note that agents must have the queue in their routing profile in order to be offered the\u2028\n   contact.</p>"
      }
    },
    "com.amazonaws.connect#AgentsMinOneMaxHundred": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#UserId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AliasArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AllowedAccessControlTags": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.connect#SecurityProfilePolicyKey"
      },
      "value": {
        "target": "com.amazonaws.connect#SecurityProfilePolicyValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4
        }
      }
    },
    "com.amazonaws.connect#AllowedCapabilities": {
      "type": "structure",
      "members": {
        "Customer": {
          "target": "com.amazonaws.connect#ParticipantCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>Information about the customer's video sharing capabilities.</p>"
          }
        },
        "Agent": {
          "target": "com.amazonaws.connect#ParticipantCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>Information about the agent's video sharing capabilities.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the capabilities enabled for participants of the contact.</p>"
      }
    },
    "com.amazonaws.connect#AllowedMonitorCapabilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#MonitorCapability"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.connect#AmazonConnectService": {
      "type": "service",
      "version": "2017-08-08",
      "operations": [
        {
          "target": "com.amazonaws.connect#ActivateEvaluationForm"
        },
        {
          "target": "com.amazonaws.connect#AssociateAnalyticsDataSet"
        },
        {
          "target": "com.amazonaws.connect#AssociateApprovedOrigin"
        },
        {
          "target": "com.amazonaws.connect#AssociateBot"
        },
        {
          "target": "com.amazonaws.connect#AssociateDefaultVocabulary"
        },
        {
          "target": "com.amazonaws.connect#AssociateFlow"
        },
        {
          "target": "com.amazonaws.connect#AssociateInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#AssociateLambdaFunction"
        },
        {
          "target": "com.amazonaws.connect#AssociateLexBot"
        },
        {
          "target": "com.amazonaws.connect#AssociatePhoneNumberContactFlow"
        },
        {
          "target": "com.amazonaws.connect#AssociateQueueQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#AssociateRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#AssociateSecurityKey"
        },
        {
          "target": "com.amazonaws.connect#AssociateTrafficDistributionGroupUser"
        },
        {
          "target": "com.amazonaws.connect#AssociateUserProficiencies"
        },
        {
          "target": "com.amazonaws.connect#BatchAssociateAnalyticsDataSet"
        },
        {
          "target": "com.amazonaws.connect#BatchDisassociateAnalyticsDataSet"
        },
        {
          "target": "com.amazonaws.connect#BatchGetAttachedFileMetadata"
        },
        {
          "target": "com.amazonaws.connect#BatchGetFlowAssociation"
        },
        {
          "target": "com.amazonaws.connect#BatchPutContact"
        },
        {
          "target": "com.amazonaws.connect#ClaimPhoneNumber"
        },
        {
          "target": "com.amazonaws.connect#CompleteAttachedFileUpload"
        },
        {
          "target": "com.amazonaws.connect#CreateAgentStatus"
        },
        {
          "target": "com.amazonaws.connect#CreateContact"
        },
        {
          "target": "com.amazonaws.connect#CreateContactFlow"
        },
        {
          "target": "com.amazonaws.connect#CreateContactFlowModule"
        },
        {
          "target": "com.amazonaws.connect#CreateContactFlowVersion"
        },
        {
          "target": "com.amazonaws.connect#CreateEmailAddress"
        },
        {
          "target": "com.amazonaws.connect#CreateEvaluationForm"
        },
        {
          "target": "com.amazonaws.connect#CreateHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#CreateHoursOfOperationOverride"
        },
        {
          "target": "com.amazonaws.connect#CreateInstance"
        },
        {
          "target": "com.amazonaws.connect#CreateIntegrationAssociation"
        },
        {
          "target": "com.amazonaws.connect#CreateParticipant"
        },
        {
          "target": "com.amazonaws.connect#CreatePersistentContactAssociation"
        },
        {
          "target": "com.amazonaws.connect#CreatePredefinedAttribute"
        },
        {
          "target": "com.amazonaws.connect#CreatePrompt"
        },
        {
          "target": "com.amazonaws.connect#CreatePushNotificationRegistration"
        },
        {
          "target": "com.amazonaws.connect#CreateQueue"
        },
        {
          "target": "com.amazonaws.connect#CreateQuickConnect"
        },
        {
          "target": "com.amazonaws.connect#CreateRoutingProfile"
        },
        {
          "target": "com.amazonaws.connect#CreateRule"
        },
        {
          "target": "com.amazonaws.connect#CreateSecurityProfile"
        },
        {
          "target": "com.amazonaws.connect#CreateTaskTemplate"
        },
        {
          "target": "com.amazonaws.connect#CreateTrafficDistributionGroup"
        },
        {
          "target": "com.amazonaws.connect#CreateUseCase"
        },
        {
          "target": "com.amazonaws.connect#CreateUser"
        },
        {
          "target": "com.amazonaws.connect#CreateUserHierarchyGroup"
        },
        {
          "target": "com.amazonaws.connect#CreateView"
        },
        {
          "target": "com.amazonaws.connect#CreateViewVersion"
        },
        {
          "target": "com.amazonaws.connect#CreateVocabulary"
        },
        {
          "target": "com.amazonaws.connect#DeactivateEvaluationForm"
        },
        {
          "target": "com.amazonaws.connect#DeleteAttachedFile"
        },
        {
          "target": "com.amazonaws.connect#DeleteContactEvaluation"
        },
        {
          "target": "com.amazonaws.connect#DeleteContactFlow"
        },
        {
          "target": "com.amazonaws.connect#DeleteContactFlowModule"
        },
        {
          "target": "com.amazonaws.connect#DeleteContactFlowVersion"
        },
        {
          "target": "com.amazonaws.connect#DeleteEmailAddress"
        },
        {
          "target": "com.amazonaws.connect#DeleteEvaluationForm"
        },
        {
          "target": "com.amazonaws.connect#DeleteHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#DeleteHoursOfOperationOverride"
        },
        {
          "target": "com.amazonaws.connect#DeleteInstance"
        },
        {
          "target": "com.amazonaws.connect#DeleteIntegrationAssociation"
        },
        {
          "target": "com.amazonaws.connect#DeletePredefinedAttribute"
        },
        {
          "target": "com.amazonaws.connect#DeletePrompt"
        },
        {
          "target": "com.amazonaws.connect#DeletePushNotificationRegistration"
        },
        {
          "target": "com.amazonaws.connect#DeleteQueue"
        },
        {
          "target": "com.amazonaws.connect#DeleteQuickConnect"
        },
        {
          "target": "com.amazonaws.connect#DeleteRoutingProfile"
        },
        {
          "target": "com.amazonaws.connect#DeleteRule"
        },
        {
          "target": "com.amazonaws.connect#DeleteSecurityProfile"
        },
        {
          "target": "com.amazonaws.connect#DeleteTaskTemplate"
        },
        {
          "target": "com.amazonaws.connect#DeleteTrafficDistributionGroup"
        },
        {
          "target": "com.amazonaws.connect#DeleteUseCase"
        },
        {
          "target": "com.amazonaws.connect#DeleteUser"
        },
        {
          "target": "com.amazonaws.connect#DeleteUserHierarchyGroup"
        },
        {
          "target": "com.amazonaws.connect#DeleteView"
        },
        {
          "target": "com.amazonaws.connect#DeleteViewVersion"
        },
        {
          "target": "com.amazonaws.connect#DeleteVocabulary"
        },
        {
          "target": "com.amazonaws.connect#DescribeAgentStatus"
        },
        {
          "target": "com.amazonaws.connect#DescribeAuthenticationProfile"
        },
        {
          "target": "com.amazonaws.connect#DescribeContact"
        },
        {
          "target": "com.amazonaws.connect#DescribeContactEvaluation"
        },
        {
          "target": "com.amazonaws.connect#DescribeContactFlow"
        },
        {
          "target": "com.amazonaws.connect#DescribeContactFlowModule"
        },
        {
          "target": "com.amazonaws.connect#DescribeEmailAddress"
        },
        {
          "target": "com.amazonaws.connect#DescribeEvaluationForm"
        },
        {
          "target": "com.amazonaws.connect#DescribeHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#DescribeHoursOfOperationOverride"
        },
        {
          "target": "com.amazonaws.connect#DescribeInstance"
        },
        {
          "target": "com.amazonaws.connect#DescribeInstanceAttribute"
        },
        {
          "target": "com.amazonaws.connect#DescribeInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#DescribePhoneNumber"
        },
        {
          "target": "com.amazonaws.connect#DescribePredefinedAttribute"
        },
        {
          "target": "com.amazonaws.connect#DescribePrompt"
        },
        {
          "target": "com.amazonaws.connect#DescribeQueue"
        },
        {
          "target": "com.amazonaws.connect#DescribeQuickConnect"
        },
        {
          "target": "com.amazonaws.connect#DescribeRoutingProfile"
        },
        {
          "target": "com.amazonaws.connect#DescribeRule"
        },
        {
          "target": "com.amazonaws.connect#DescribeSecurityProfile"
        },
        {
          "target": "com.amazonaws.connect#DescribeTrafficDistributionGroup"
        },
        {
          "target": "com.amazonaws.connect#DescribeUser"
        },
        {
          "target": "com.amazonaws.connect#DescribeUserHierarchyGroup"
        },
        {
          "target": "com.amazonaws.connect#DescribeUserHierarchyStructure"
        },
        {
          "target": "com.amazonaws.connect#DescribeView"
        },
        {
          "target": "com.amazonaws.connect#DescribeVocabulary"
        },
        {
          "target": "com.amazonaws.connect#DisassociateAnalyticsDataSet"
        },
        {
          "target": "com.amazonaws.connect#DisassociateApprovedOrigin"
        },
        {
          "target": "com.amazonaws.connect#DisassociateBot"
        },
        {
          "target": "com.amazonaws.connect#DisassociateFlow"
        },
        {
          "target": "com.amazonaws.connect#DisassociateInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#DisassociateLambdaFunction"
        },
        {
          "target": "com.amazonaws.connect#DisassociateLexBot"
        },
        {
          "target": "com.amazonaws.connect#DisassociatePhoneNumberContactFlow"
        },
        {
          "target": "com.amazonaws.connect#DisassociateQueueQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#DisassociateRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#DisassociateSecurityKey"
        },
        {
          "target": "com.amazonaws.connect#DisassociateTrafficDistributionGroupUser"
        },
        {
          "target": "com.amazonaws.connect#DisassociateUserProficiencies"
        },
        {
          "target": "com.amazonaws.connect#DismissUserContact"
        },
        {
          "target": "com.amazonaws.connect#GetAttachedFile"
        },
        {
          "target": "com.amazonaws.connect#GetContactAttributes"
        },
        {
          "target": "com.amazonaws.connect#GetContactMetrics"
        },
        {
          "target": "com.amazonaws.connect#GetCurrentMetricData"
        },
        {
          "target": "com.amazonaws.connect#GetCurrentUserData"
        },
        {
          "target": "com.amazonaws.connect#GetEffectiveHoursOfOperations"
        },
        {
          "target": "com.amazonaws.connect#GetFederationToken"
        },
        {
          "target": "com.amazonaws.connect#GetFlowAssociation"
        },
        {
          "target": "com.amazonaws.connect#GetMetricData"
        },
        {
          "target": "com.amazonaws.connect#GetMetricDataV2"
        },
        {
          "target": "com.amazonaws.connect#GetPromptFile"
        },
        {
          "target": "com.amazonaws.connect#GetTaskTemplate"
        },
        {
          "target": "com.amazonaws.connect#GetTrafficDistribution"
        },
        {
          "target": "com.amazonaws.connect#ImportPhoneNumber"
        },
        {
          "target": "com.amazonaws.connect#ListAgentStatuses"
        },
        {
          "target": "com.amazonaws.connect#ListAnalyticsDataAssociations"
        },
        {
          "target": "com.amazonaws.connect#ListAnalyticsDataLakeDataSets"
        },
        {
          "target": "com.amazonaws.connect#ListApprovedOrigins"
        },
        {
          "target": "com.amazonaws.connect#ListAssociatedContacts"
        },
        {
          "target": "com.amazonaws.connect#ListAuthenticationProfiles"
        },
        {
          "target": "com.amazonaws.connect#ListBots"
        },
        {
          "target": "com.amazonaws.connect#ListContactEvaluations"
        },
        {
          "target": "com.amazonaws.connect#ListContactFlowModules"
        },
        {
          "target": "com.amazonaws.connect#ListContactFlows"
        },
        {
          "target": "com.amazonaws.connect#ListContactFlowVersions"
        },
        {
          "target": "com.amazonaws.connect#ListContactReferences"
        },
        {
          "target": "com.amazonaws.connect#ListDefaultVocabularies"
        },
        {
          "target": "com.amazonaws.connect#ListEvaluationForms"
        },
        {
          "target": "com.amazonaws.connect#ListEvaluationFormVersions"
        },
        {
          "target": "com.amazonaws.connect#ListFlowAssociations"
        },
        {
          "target": "com.amazonaws.connect#ListHoursOfOperationOverrides"
        },
        {
          "target": "com.amazonaws.connect#ListHoursOfOperations"
        },
        {
          "target": "com.amazonaws.connect#ListInstanceAttributes"
        },
        {
          "target": "com.amazonaws.connect#ListInstances"
        },
        {
          "target": "com.amazonaws.connect#ListInstanceStorageConfigs"
        },
        {
          "target": "com.amazonaws.connect#ListIntegrationAssociations"
        },
        {
          "target": "com.amazonaws.connect#ListLambdaFunctions"
        },
        {
          "target": "com.amazonaws.connect#ListLexBots"
        },
        {
          "target": "com.amazonaws.connect#ListPhoneNumbers"
        },
        {
          "target": "com.amazonaws.connect#ListPhoneNumbersV2"
        },
        {
          "target": "com.amazonaws.connect#ListPredefinedAttributes"
        },
        {
          "target": "com.amazonaws.connect#ListPrompts"
        },
        {
          "target": "com.amazonaws.connect#ListQueueQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#ListQueues"
        },
        {
          "target": "com.amazonaws.connect#ListQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#ListRealtimeContactAnalysisSegmentsV2"
        },
        {
          "target": "com.amazonaws.connect#ListRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#ListRoutingProfiles"
        },
        {
          "target": "com.amazonaws.connect#ListRules"
        },
        {
          "target": "com.amazonaws.connect#ListSecurityKeys"
        },
        {
          "target": "com.amazonaws.connect#ListSecurityProfileApplications"
        },
        {
          "target": "com.amazonaws.connect#ListSecurityProfilePermissions"
        },
        {
          "target": "com.amazonaws.connect#ListSecurityProfiles"
        },
        {
          "target": "com.amazonaws.connect#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.connect#ListTaskTemplates"
        },
        {
          "target": "com.amazonaws.connect#ListTrafficDistributionGroups"
        },
        {
          "target": "com.amazonaws.connect#ListTrafficDistributionGroupUsers"
        },
        {
          "target": "com.amazonaws.connect#ListUseCases"
        },
        {
          "target": "com.amazonaws.connect#ListUserHierarchyGroups"
        },
        {
          "target": "com.amazonaws.connect#ListUserProficiencies"
        },
        {
          "target": "com.amazonaws.connect#ListUsers"
        },
        {
          "target": "com.amazonaws.connect#ListViews"
        },
        {
          "target": "com.amazonaws.connect#ListViewVersions"
        },
        {
          "target": "com.amazonaws.connect#MonitorContact"
        },
        {
          "target": "com.amazonaws.connect#PauseContact"
        },
        {
          "target": "com.amazonaws.connect#PutUserStatus"
        },
        {
          "target": "com.amazonaws.connect#ReleasePhoneNumber"
        },
        {
          "target": "com.amazonaws.connect#ReplicateInstance"
        },
        {
          "target": "com.amazonaws.connect#ResumeContact"
        },
        {
          "target": "com.amazonaws.connect#ResumeContactRecording"
        },
        {
          "target": "com.amazonaws.connect#SearchAgentStatuses"
        },
        {
          "target": "com.amazonaws.connect#SearchAvailablePhoneNumbers"
        },
        {
          "target": "com.amazonaws.connect#SearchContactFlowModules"
        },
        {
          "target": "com.amazonaws.connect#SearchContactFlows"
        },
        {
          "target": "com.amazonaws.connect#SearchContacts"
        },
        {
          "target": "com.amazonaws.connect#SearchEmailAddresses"
        },
        {
          "target": "com.amazonaws.connect#SearchHoursOfOperationOverrides"
        },
        {
          "target": "com.amazonaws.connect#SearchHoursOfOperations"
        },
        {
          "target": "com.amazonaws.connect#SearchPredefinedAttributes"
        },
        {
          "target": "com.amazonaws.connect#SearchPrompts"
        },
        {
          "target": "com.amazonaws.connect#SearchQueues"
        },
        {
          "target": "com.amazonaws.connect#SearchQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#SearchResourceTags"
        },
        {
          "target": "com.amazonaws.connect#SearchRoutingProfiles"
        },
        {
          "target": "com.amazonaws.connect#SearchSecurityProfiles"
        },
        {
          "target": "com.amazonaws.connect#SearchUserHierarchyGroups"
        },
        {
          "target": "com.amazonaws.connect#SearchUsers"
        },
        {
          "target": "com.amazonaws.connect#SearchVocabularies"
        },
        {
          "target": "com.amazonaws.connect#SendChatIntegrationEvent"
        },
        {
          "target": "com.amazonaws.connect#SendOutboundEmail"
        },
        {
          "target": "com.amazonaws.connect#StartAttachedFileUpload"
        },
        {
          "target": "com.amazonaws.connect#StartChatContact"
        },
        {
          "target": "com.amazonaws.connect#StartContactEvaluation"
        },
        {
          "target": "com.amazonaws.connect#StartContactRecording"
        },
        {
          "target": "com.amazonaws.connect#StartContactStreaming"
        },
        {
          "target": "com.amazonaws.connect#StartEmailContact"
        },
        {
          "target": "com.amazonaws.connect#StartOutboundChatContact"
        },
        {
          "target": "com.amazonaws.connect#StartOutboundEmailContact"
        },
        {
          "target": "com.amazonaws.connect#StartOutboundVoiceContact"
        },
        {
          "target": "com.amazonaws.connect#StartScreenSharing"
        },
        {
          "target": "com.amazonaws.connect#StartTaskContact"
        },
        {
          "target": "com.amazonaws.connect#StartWebRTCContact"
        },
        {
          "target": "com.amazonaws.connect#StopContact"
        },
        {
          "target": "com.amazonaws.connect#StopContactRecording"
        },
        {
          "target": "com.amazonaws.connect#StopContactStreaming"
        },
        {
          "target": "com.amazonaws.connect#SubmitContactEvaluation"
        },
        {
          "target": "com.amazonaws.connect#SuspendContactRecording"
        },
        {
          "target": "com.amazonaws.connect#TagContact"
        },
        {
          "target": "com.amazonaws.connect#TagResource"
        },
        {
          "target": "com.amazonaws.connect#TransferContact"
        },
        {
          "target": "com.amazonaws.connect#UntagContact"
        },
        {
          "target": "com.amazonaws.connect#UntagResource"
        },
        {
          "target": "com.amazonaws.connect#UpdateAgentStatus"
        },
        {
          "target": "com.amazonaws.connect#UpdateAuthenticationProfile"
        },
        {
          "target": "com.amazonaws.connect#UpdateContact"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactAttributes"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactEvaluation"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowContent"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowMetadata"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowModuleContent"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowModuleMetadata"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowName"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactRoutingData"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactSchedule"
        },
        {
          "target": "com.amazonaws.connect#UpdateEmailAddressMetadata"
        },
        {
          "target": "com.amazonaws.connect#UpdateEvaluationForm"
        },
        {
          "target": "com.amazonaws.connect#UpdateHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#UpdateHoursOfOperationOverride"
        },
        {
          "target": "com.amazonaws.connect#UpdateInstanceAttribute"
        },
        {
          "target": "com.amazonaws.connect#UpdateInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateParticipantAuthentication"
        },
        {
          "target": "com.amazonaws.connect#UpdateParticipantRoleConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdatePhoneNumber"
        },
        {
          "target": "com.amazonaws.connect#UpdatePhoneNumberMetadata"
        },
        {
          "target": "com.amazonaws.connect#UpdatePredefinedAttribute"
        },
        {
          "target": "com.amazonaws.connect#UpdatePrompt"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueMaxContacts"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueName"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueOutboundCallerConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueOutboundEmailConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueStatus"
        },
        {
          "target": "com.amazonaws.connect#UpdateQuickConnectConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateQuickConnectName"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileAgentAvailabilityTimer"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileConcurrency"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileDefaultOutboundQueue"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileName"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#UpdateRule"
        },
        {
          "target": "com.amazonaws.connect#UpdateSecurityProfile"
        },
        {
          "target": "com.amazonaws.connect#UpdateTaskTemplate"
        },
        {
          "target": "com.amazonaws.connect#UpdateTrafficDistribution"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserHierarchy"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserHierarchyGroupName"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserHierarchyStructure"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserIdentityInfo"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserPhoneConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserProficiencies"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserRoutingProfile"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserSecurityProfiles"
        },
        {
          "target": "com.amazonaws.connect#UpdateViewContent"
        },
        {
          "target": "com.amazonaws.connect#UpdateViewMetadata"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Connect",
          "arnNamespace": "connect",
          "cloudFormationName": "Connect",
          "cloudTrailEventSource": "connect.amazonaws.com",
          "endpointPrefix": "connect"
        },
        "aws.auth#sigv4": {
          "name": "connect"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_Operations_Amazon_Connect_Service.html\">Amazon Connect actions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_Types_Amazon_Connect_Service.html\">Amazon Connect\n      data types</a>\n               </p>\n            </li>\n         </ul>\n         <p>Amazon Connect is a cloud-based contact center solution that you use to set up and\n   manage a customer contact center and provide reliable customer engagement at any scale.</p>\n         <p>Amazon Connect provides metrics and real-time reporting that enable you to optimize\n   contact routing. You can also resolve customer issues more efficiently by getting customers in\n   touch with the appropriate agents.</p>\n         <p>There are limits to the number of Amazon Connect resources that you can create. There\n   are also limits to the number of requests that you can make per second. For more information, see\n    <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator\n    Guide</i>.</p>\n         <p>You can use an endpoint to connect programmatically to an Amazon Web Services service. For a\n   list of Amazon Connect endpoints, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/connect_region.html\">Amazon Connect Endpoints</a>.</p>",
        "smithy.api#title": "Amazon Connect Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://connect-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    },
                                    "aws-us-gov"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://connect.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://connect-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://connect.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://connect.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://connect.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.connect#AnalyticsDataAssociationResult": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.connect#DataSetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the dataset.</p>"
          }
        },
        "TargetAccountId": {
          "target": "com.amazonaws.connect#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the target account. </p>"
          }
        },
        "ResourceShareId": {
          "target": "com.amazonaws.connect#String",
          "traits": {
            "smithy.api#documentation": "<p>The Resource Access Manager share ID.</p>"
          }
        },
        "ResourceShareArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Resource Access Manager share. </p>"
          }
        },
        "ResourceShareStatus": {
          "target": "com.amazonaws.connect#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Resource Access Manager status of association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Information about associations that are successfully created: <code>DataSetId</code>,\n    <code>TargetAccountId</code>, <code>ResourceShareId</code>,\n   <code>ResourceShareArn</code>. </p>"
      }
    },
    "com.amazonaws.connect#AnalyticsDataAssociationResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AnalyticsDataAssociationResult"
      }
    },
    "com.amazonaws.connect#AnalyticsDataSetsResult": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.connect#DataSetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the dataset.</p>"
          }
        },
        "DataSetName": {
          "target": "com.amazonaws.connect#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about datasets that are available to associate with: <code>DataSetId</code>,\n    <code>DataSetName</code>.</p>"
      }
    },
    "com.amazonaws.connect#AnalyticsDataSetsResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AnalyticsDataSetsResult"
      }
    },
    "com.amazonaws.connect#AnswerMachineDetectionConfig": {
      "type": "structure",
      "members": {
        "EnableAnswerMachineDetection": {
          "target": "com.amazonaws.connect#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The flag to indicate if answer machine detection analysis needs to be performed for a voice\n   call. If set to <code>true</code>, <code>TrafficType</code> must be set as <code>CAMPAIGN</code>.\n  </p>"
          }
        },
        "AwaitAnswerMachinePrompt": {
          "target": "com.amazonaws.connect#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Wait for the answering machine prompt.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration of the answering machine detection.</p>"
      }
    },
    "com.amazonaws.connect#AnsweringMachineDetectionStatus": {
      "type": "enum",
      "members": {
        "ANSWERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANSWERED"
          }
        },
        "UNDETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDETECTED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "HUMAN_ANSWERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_ANSWERED"
          }
        },
        "SIT_TONE_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIT_TONE_DETECTED"
          }
        },
        "SIT_TONE_BUSY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIT_TONE_BUSY"
          }
        },
        "SIT_TONE_INVALID_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIT_TONE_INVALID_NUMBER"
          }
        },
        "FAX_MACHINE_DETECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAX_MACHINE_DETECTED"
          }
        },
        "VOICEMAIL_BEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICEMAIL_BEEP"
          }
        },
        "VOICEMAIL_NO_BEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICEMAIL_NO_BEEP"
          }
        },
        "AMD_UNRESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMD_UNRESOLVED"
          }
        },
        "AMD_UNANSWERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMD_UNANSWERED"
          }
        },
        "AMD_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMD_ERROR"
          }
        },
        "AMD_NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMD_NOT_APPLICABLE"
          }
        }
      }
    },
    "com.amazonaws.connect#Application": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.connect#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>Namespace of the application that you want to give access to.</p>"
          }
        },
        "ApplicationPermissions": {
          "target": "com.amazonaws.connect#ApplicationPermissions",
          "traits": {
            "smithy.api#documentation": "<p>The permissions that the agent is granted on the application. Only the <code>ACCESS</code>\n   permission is supported.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>A third-party application's metadata.</p>"
      }
    },
    "com.amazonaws.connect#ApplicationPermissions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#Permission"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.connect#Applications": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#Application"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.connect#ApproximateTotalCount": {
      "type": "long"
    },
    "com.amazonaws.connect#ArtifactId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.connect#ArtifactStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        }
      }
    },
    "com.amazonaws.connect#AssignContactCategoryActionDefinition": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>This action must be set if <code>TriggerEventSource</code> is one of the following values:\n    <code>OnPostCallAnalysisAvailable</code> | <code>OnRealTimeCallAnalysisAvailable</code> |\n    <code>OnRealTimeChatAnalysisAvailable</code> | <code>OnPostChatAnalysisAvailable</code>. Contact\n   is categorized using the rule name.</p>\n         <p>\n            <code>RuleName</code> is used as <code>ContactCategory</code>.</p>"
      }
    },
    "com.amazonaws.connect#AssignSlaActionDefinition": {
      "type": "structure",
      "members": {
        "SlaAssignmentType": {
          "target": "com.amazonaws.connect#SlaAssignmentType",
          "traits": {
            "smithy.api#documentation": "<p>Type of SLA assignment.</p>",
            "smithy.api#required": {}
          }
        },
        "CaseSlaConfiguration": {
          "target": "com.amazonaws.connect#CaseSlaConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The SLA configuration for Case SLA Assignment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AssignSla action definition.</p>"
      }
    },
    "com.amazonaws.connect#AssociateAnalyticsDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateAnalyticsDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#AssociateAnalyticsDataSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified dataset for a Amazon Connect instance with the target account.\n   You can associate only one dataset in a single call.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/analytics-data/instance/{InstanceId}/association",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateAnalyticsDataSetRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/find-instance-arn.html\">find the instance ID</a> in the Amazon Resource Name (ARN) of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.connect#DataSetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the dataset to associate with the target account.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetAccountId": {
          "target": "com.amazonaws.connect#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the target account.  Use to associate a dataset to a different account than the one containing\n   the Amazon Connect instance. If not specified, by default this value is the Amazon Web Services account that has the Amazon Connect instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.connect#AssociateAnalyticsDataSetResponse": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.connect#DataSetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the dataset that was associated.</p>"
          }
        },
        "TargetAccountId": {
          "target": "com.amazonaws.connect#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the target account. </p>"
          }
        },
        "ResourceShareId": {
          "target": "com.amazonaws.connect#String",
          "traits": {
            "smithy.api#documentation": "<p>The Resource Access Manager share ID that is generated.</p>"
          }
        },
        "ResourceShareArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Resource Access Manager share. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.connect#AssociateApprovedOrigin": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateApprovedOriginRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Associates an approved origin to an Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/approved-origin",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateApprovedOriginRequest": {
[...]
