{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.connect#ARN": {
      "type": "string"
    },
    "com.amazonaws.connect#AfterContactWorkTimeLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.connect#AgentFirstName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AgentLastName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AgentStatus": {
      "type": "structure",
      "members": {
        "AgentStatusARN": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent status.</p>"
          }
        },
        "AgentStatusId": {
          "target": "com.amazonaws.connect#AgentStatusId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the agent status.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#AgentStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent status.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.connect#AgentStatusDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the agent status.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.connect#AgentStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The type of agent status.</p>"
          }
        },
        "DisplayOrder": {
          "target": "com.amazonaws.connect#AgentStatusOrderNumber",
          "traits": {
            "smithy.api#documentation": "<p>The display order of the agent status.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.connect#AgentStatusState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the agent status.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an agent status.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.connect#AgentStatusId": {
      "type": "string"
    },
    "com.amazonaws.connect#AgentStatusName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        }
      }
    },
    "com.amazonaws.connect#AgentStatusOrderNumber": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.connect#AgentStatusState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.connect#AgentStatusSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.connect#AgentStatusId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for an agent status.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the agent status.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#AgentStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent status.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.connect#AgentStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the agent status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for an agent status.</p>"
      }
    },
    "com.amazonaws.connect#AgentStatusSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentStatusSummary"
      }
    },
    "com.amazonaws.connect#AgentStatusType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ROUTABLE",
            "name": "ROUTABLE"
          },
          {
            "value": "CUSTOM",
            "name": "CUSTOM"
          },
          {
            "value": "OFFLINE",
            "name": "OFFLINE"
          }
        ]
      }
    },
    "com.amazonaws.connect#AgentStatusTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#AgentStatusType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.connect#AgentUsername": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AliasArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#AmazonConnectService": {
      "type": "service",
      "version": "2017-08-08",
      "operations": [
        {
          "target": "com.amazonaws.connect#AssociateApprovedOrigin"
        },
        {
          "target": "com.amazonaws.connect#AssociateBot"
        },
        {
          "target": "com.amazonaws.connect#AssociateInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#AssociateLambdaFunction"
        },
        {
          "target": "com.amazonaws.connect#AssociateLexBot"
        },
        {
          "target": "com.amazonaws.connect#AssociateQueueQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#AssociateRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#AssociateSecurityKey"
        },
        {
          "target": "com.amazonaws.connect#CreateAgentStatus"
        },
        {
          "target": "com.amazonaws.connect#CreateContactFlow"
        },
        {
          "target": "com.amazonaws.connect#CreateHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#CreateInstance"
        },
        {
          "target": "com.amazonaws.connect#CreateIntegrationAssociation"
        },
        {
          "target": "com.amazonaws.connect#CreateQueue"
        },
        {
          "target": "com.amazonaws.connect#CreateQuickConnect"
        },
        {
          "target": "com.amazonaws.connect#CreateRoutingProfile"
        },
        {
          "target": "com.amazonaws.connect#CreateUseCase"
        },
        {
          "target": "com.amazonaws.connect#CreateUser"
        },
        {
          "target": "com.amazonaws.connect#CreateUserHierarchyGroup"
        },
        {
          "target": "com.amazonaws.connect#DeleteHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#DeleteInstance"
        },
        {
          "target": "com.amazonaws.connect#DeleteIntegrationAssociation"
        },
        {
          "target": "com.amazonaws.connect#DeleteQuickConnect"
        },
        {
          "target": "com.amazonaws.connect#DeleteUseCase"
        },
        {
          "target": "com.amazonaws.connect#DeleteUser"
        },
        {
          "target": "com.amazonaws.connect#DeleteUserHierarchyGroup"
        },
        {
          "target": "com.amazonaws.connect#DescribeAgentStatus"
        },
        {
          "target": "com.amazonaws.connect#DescribeContactFlow"
        },
        {
          "target": "com.amazonaws.connect#DescribeHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#DescribeInstance"
        },
        {
          "target": "com.amazonaws.connect#DescribeInstanceAttribute"
        },
        {
          "target": "com.amazonaws.connect#DescribeInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#DescribeQueue"
        },
        {
          "target": "com.amazonaws.connect#DescribeQuickConnect"
        },
        {
          "target": "com.amazonaws.connect#DescribeRoutingProfile"
        },
        {
          "target": "com.amazonaws.connect#DescribeUser"
        },
        {
          "target": "com.amazonaws.connect#DescribeUserHierarchyGroup"
        },
        {
          "target": "com.amazonaws.connect#DescribeUserHierarchyStructure"
        },
        {
          "target": "com.amazonaws.connect#DisassociateApprovedOrigin"
        },
        {
          "target": "com.amazonaws.connect#DisassociateBot"
        },
        {
          "target": "com.amazonaws.connect#DisassociateInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#DisassociateLambdaFunction"
        },
        {
          "target": "com.amazonaws.connect#DisassociateLexBot"
        },
        {
          "target": "com.amazonaws.connect#DisassociateQueueQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#DisassociateRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#DisassociateSecurityKey"
        },
        {
          "target": "com.amazonaws.connect#GetContactAttributes"
        },
        {
          "target": "com.amazonaws.connect#GetCurrentMetricData"
        },
        {
          "target": "com.amazonaws.connect#GetFederationToken"
        },
        {
          "target": "com.amazonaws.connect#GetMetricData"
        },
        {
          "target": "com.amazonaws.connect#ListAgentStatuses"
        },
        {
          "target": "com.amazonaws.connect#ListApprovedOrigins"
        },
        {
          "target": "com.amazonaws.connect#ListBots"
        },
        {
          "target": "com.amazonaws.connect#ListContactFlows"
        },
        {
          "target": "com.amazonaws.connect#ListHoursOfOperations"
        },
        {
          "target": "com.amazonaws.connect#ListInstanceAttributes"
        },
        {
          "target": "com.amazonaws.connect#ListInstances"
        },
        {
          "target": "com.amazonaws.connect#ListInstanceStorageConfigs"
        },
        {
          "target": "com.amazonaws.connect#ListIntegrationAssociations"
        },
        {
          "target": "com.amazonaws.connect#ListLambdaFunctions"
        },
        {
          "target": "com.amazonaws.connect#ListLexBots"
        },
        {
          "target": "com.amazonaws.connect#ListPhoneNumbers"
        },
        {
          "target": "com.amazonaws.connect#ListPrompts"
        },
        {
          "target": "com.amazonaws.connect#ListQueueQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#ListQueues"
        },
        {
          "target": "com.amazonaws.connect#ListQuickConnects"
        },
        {
          "target": "com.amazonaws.connect#ListRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#ListRoutingProfiles"
        },
        {
          "target": "com.amazonaws.connect#ListSecurityKeys"
        },
        {
          "target": "com.amazonaws.connect#ListSecurityProfiles"
        },
        {
          "target": "com.amazonaws.connect#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.connect#ListUseCases"
        },
        {
          "target": "com.amazonaws.connect#ListUserHierarchyGroups"
        },
        {
          "target": "com.amazonaws.connect#ListUsers"
        },
        {
          "target": "com.amazonaws.connect#ResumeContactRecording"
        },
        {
          "target": "com.amazonaws.connect#StartChatContact"
        },
        {
          "target": "com.amazonaws.connect#StartContactRecording"
        },
        {
          "target": "com.amazonaws.connect#StartOutboundVoiceContact"
        },
        {
          "target": "com.amazonaws.connect#StartTaskContact"
        },
        {
          "target": "com.amazonaws.connect#StopContact"
        },
        {
          "target": "com.amazonaws.connect#StopContactRecording"
        },
        {
          "target": "com.amazonaws.connect#SuspendContactRecording"
        },
        {
          "target": "com.amazonaws.connect#TagResource"
        },
        {
          "target": "com.amazonaws.connect#UntagResource"
        },
        {
          "target": "com.amazonaws.connect#UpdateAgentStatus"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactAttributes"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowContent"
        },
        {
          "target": "com.amazonaws.connect#UpdateContactFlowName"
        },
        {
          "target": "com.amazonaws.connect#UpdateHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#UpdateInstanceAttribute"
        },
        {
          "target": "com.amazonaws.connect#UpdateInstanceStorageConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueHoursOfOperation"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueMaxContacts"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueName"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueOutboundCallerConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateQueueStatus"
        },
        {
          "target": "com.amazonaws.connect#UpdateQuickConnectConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateQuickConnectName"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileConcurrency"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileDefaultOutboundQueue"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileName"
        },
        {
          "target": "com.amazonaws.connect#UpdateRoutingProfileQueues"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserHierarchy"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserHierarchyGroupName"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserHierarchyStructure"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserIdentityInfo"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserPhoneConfig"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserRoutingProfile"
        },
        {
          "target": "com.amazonaws.connect#UpdateUserSecurityProfiles"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Connect",
          "arnNamespace": "connect",
          "cloudFormationName": "Connect",
          "cloudTrailEventSource": "connect.amazonaws.com",
          "endpointPrefix": "connect"
        },
        "aws.auth#sigv4": {
          "name": "connect"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon Connect is a cloud-based contact center solution that you use to set up and manage a customer\n   contact center and provide reliable customer engagement at any scale.</p>\n         <p>Amazon Connect provides metrics and real-time reporting that enable you to optimize contact routing.\n   You can also resolve customer issues more efficiently by getting customers in touch with the\n   appropriate agents.</p>\n         <p>There are limits to the number of Amazon Connect resources that you can create. There are also limits\n   to the number of requests that you can make per second. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect\n    Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>.</p>\n         <p>You can\n   connect\n   programmatically to an AWS service by using an endpoint. For a list of Amazon Connect endpoints, see\n    <a href=\"https://docs.aws.amazon.com/general/latest/gr/connect_region.html\">Amazon Connect\n   Endpoints</a>.</p>\n         <note>\n            <p>Working with contact flows? Check out the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect Flow language</a>.</p>\n         </note>",
        "smithy.api#title": "Amazon Connect Service"
      }
    },
    "com.amazonaws.connect#AssociateApprovedOrigin": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateApprovedOriginRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Associates an approved origin to an Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/approved-origin",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateApprovedOriginRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Origin": {
          "target": "com.amazonaws.connect#Origin",
          "traits": {
            "smithy.api#documentation": "<p>The domain to add to your allow list.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateBotRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Allows the specified Amazon Connect instance to access the specified Amazon Lex or Amazon Lex V2 bot.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/bot",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateBotRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LexBot": {
          "target": "com.amazonaws.connect#LexBot"
        },
        "LexV2Bot": {
          "target": "com.amazonaws.connect#LexV2Bot",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Lex V2 bot to associate with the instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateInstanceStorageConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateInstanceStorageConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#AssociateInstanceStorageConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Associates a storage resource type for the first time. You can only associate one type of\n   storage configuration in a single call. This means, for example, that you can't define an\n   instance with multiple S3 buckets for storing chat transcripts.</p>\n         <p>This API does not create a resource that doesn't exist. It only associates it to the\n   instance. Ensure that the resource being specified in the storage configuration, like an S3\n   bucket, exists when being used for association.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/storage-config",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateInstanceStorageConfigRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.connect#InstanceStorageResourceType",
          "traits": {
            "smithy.api#documentation": "<p>A valid resource type.</p>",
            "smithy.api#required": {}
          }
        },
        "StorageConfig": {
          "target": "com.amazonaws.connect#InstanceStorageConfig",
          "traits": {
            "smithy.api#documentation": "<p>A valid storage type.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateInstanceStorageConfigResponse": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.connect#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The existing association identifier that uniquely identifies the resource type and storage config for the given instance ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateLambdaFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateLambdaFunctionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Allows the specified Amazon Connect instance to access the specified Lambda function.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/lambda-function",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateLambdaFunctionRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "FunctionArn": {
          "target": "com.amazonaws.connect#FunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the Lambda function being associated. Maximum number of characters allowed is\n   140.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateLexBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateLexBotRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Allows the specified Amazon Connect instance to access the specified Amazon Lex bot.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/lex-bot",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateLexBotRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LexBot": {
          "target": "com.amazonaws.connect#LexBot",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Lex bot to associate with the instance.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateQueueQuickConnects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateQueueQuickConnectsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Associates a set of quick connects with a queue.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/queues/{InstanceId}/{QueueId}/associate-quick-connects",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateQueueQuickConnectsRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "QueueId": {
          "target": "com.amazonaws.connect#QueueId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the queue.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "QuickConnectIds": {
          "target": "com.amazonaws.connect#QuickConnectsList",
          "traits": {
            "smithy.api#documentation": "<p>The quick connects to associate with this queue.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateRoutingProfileQueues": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateRoutingProfileQueuesRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a set of queues with a routing profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/routing-profiles/{InstanceId}/{RoutingProfileId}/associate-queues",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateRoutingProfileQueuesRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoutingProfileId": {
          "target": "com.amazonaws.connect#RoutingProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the routing profile.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "QueueConfigs": {
          "target": "com.amazonaws.connect#RoutingProfileQueueConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The queues to associate with this routing profile.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateSecurityKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#AssociateSecurityKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#AssociateSecurityKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Associates a security key to the instance.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/security-key",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#AssociateSecurityKeyRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.connect#PEM",
          "traits": {
            "smithy.api#documentation": "<p>A valid security key in PEM format.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#AssociateSecurityKeyResponse": {
      "type": "structure",
      "members": {
        "AssociationId": {
          "target": "com.amazonaws.connect#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The existing association identifier that uniquely identifies the resource type and storage config for the given instance ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#AssociationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#Attribute": {
      "type": "structure",
      "members": {
        "AttributeType": {
          "target": "com.amazonaws.connect#InstanceAttributeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of attribute.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.connect#InstanceAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A toggle for an individual feature at the instance level.</p>"
      }
    },
    "com.amazonaws.connect#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32767
        }
      }
    },
    "com.amazonaws.connect#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 32767
        }
      }
    },
    "com.amazonaws.connect#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.connect#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.connect#AttributeValue"
      }
    },
    "com.amazonaws.connect#AttributesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#Attribute"
      }
    },
    "com.amazonaws.connect#AutoAccept": {
      "type": "boolean"
    },
    "com.amazonaws.connect#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.connect#BotName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.connect#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.connect#Channel": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "VOICE",
            "name": "VOICE"
          },
          {
            "value": "CHAT",
            "name": "CHAT"
          },
          {
            "value": "TASK",
            "name": "TASK"
          }
        ]
      }
    },
    "com.amazonaws.connect#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#Channel"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.connect#ChatContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.connect#ChatContentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.connect#ChatMessage": {
      "type": "structure",
      "members": {
        "ContentType": {
          "target": "com.amazonaws.connect#ChatContentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the content. Supported types are text and plain.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.connect#ChatContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the chat message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A chat message.</p>"
      }
    },
    "com.amazonaws.connect#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.connect#CommonNameLength127": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        }
      }
    },
    "com.amazonaws.connect#Comparison": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LT",
            "name": "LT"
          }
        ]
      }
    },
    "com.amazonaws.connect#Concurrency": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.connect#ContactFlow": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact flow.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.connect#ContactFlowId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the contact flow.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#ContactFlowName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact flow.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.connect#ContactFlowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the contact flow. For descriptions of the available types, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/create-contact-flow.html#contact-flow-types\">Choose a Contact Flow Type</a> in the <i>Amazon Connect Administrator\n   Guide</i>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.connect#ContactFlowDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the contact flow.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.connect#ContactFlowContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the contact flow.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a contact flow.</p>"
      }
    },
    "com.amazonaws.connect#ContactFlowContent": {
      "type": "string"
    },
    "com.amazonaws.connect#ContactFlowDescription": {
      "type": "string"
    },
    "com.amazonaws.connect#ContactFlowId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.connect#ContactFlowName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.connect#ContactFlowNotPublishedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.connect#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The contact flow has not been published.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.connect#ContactFlowSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.connect#ContactFlowId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the contact flow.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact flow.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#ContactFlowName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact flow.</p>"
          }
        },
        "ContactFlowType": {
          "target": "com.amazonaws.connect#ContactFlowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of contact flow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a contact flow.</p>\n         <p>You can also create and update contact flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect\n   Flow language</a>.</p>"
      }
    },
    "com.amazonaws.connect#ContactFlowSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#ContactFlowSummary"
      }
    },
    "com.amazonaws.connect#ContactFlowType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CONTACT_FLOW",
            "name": "CONTACT_FLOW"
          },
          {
            "value": "CUSTOMER_QUEUE",
            "name": "CUSTOMER_QUEUE"
          },
          {
            "value": "CUSTOMER_HOLD",
            "name": "CUSTOMER_HOLD"
          },
          {
            "value": "CUSTOMER_WHISPER",
            "name": "CUSTOMER_WHISPER"
          },
          {
            "value": "AGENT_HOLD",
            "name": "AGENT_HOLD"
          },
          {
            "value": "AGENT_WHISPER",
            "name": "AGENT_WHISPER"
          },
          {
            "value": "OUTBOUND_WHISPER",
            "name": "OUTBOUND_WHISPER"
          },
          {
            "value": "AGENT_TRANSFER",
            "name": "AGENT_TRANSFER"
          },
          {
            "value": "QUEUE_TRANSFER",
            "name": "QUEUE_TRANSFER"
          }
        ]
      }
    },
    "com.amazonaws.connect#ContactFlowTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#ContactFlowType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.connect#ContactId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.connect#ContactNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.connect#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message.</p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ContactNotFoundException",
          "httpResponseCode": 410
        },
        "smithy.api#documentation": "<p>The contact with the specified ID is not active or does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 410
      }
    },
    "com.amazonaws.connect#ContactReferences": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.connect#ReferenceKey"
      },
      "value": {
        "target": "com.amazonaws.connect#Reference"
      }
    },
    "com.amazonaws.connect#CreateAgentStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateAgentStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateAgentStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Creates an agent status for the specified Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/agent-status/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateAgentStatusRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#AgentStatusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the status.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.connect#AgentStatusDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the status.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.connect#AgentStatusState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the status.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayOrder": {
          "target": "com.amazonaws.connect#AgentStatusOrderNumber",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The display order of the status.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateAgentStatusResponse": {
      "type": "structure",
      "members": {
        "AgentStatusARN": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent status.</p>"
          }
        },
        "AgentStatusId": {
          "target": "com.amazonaws.connect#AgentStatusId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the agent status.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateContactFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateContactFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateContactFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidContactFlowException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a contact flow for the specified Amazon Connect instance.</p>\n         <p>You can also create and update contact flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect\n   Flow language</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/contact-flows/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateContactFlowRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#ContactFlowName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact flow.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.connect#ContactFlowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the contact flow. For descriptions of the available types, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/create-contact-flow.html#contact-flow-types\">Choose a Contact Flow Type</a> in the <i>Amazon Connect Administrator\n   Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.connect#ContactFlowDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the contact flow. </p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.connect#ContactFlowContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the contact flow. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateContactFlowResponse": {
      "type": "structure",
      "members": {
        "ContactFlowId": {
          "target": "com.amazonaws.connect#ContactFlowId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the contact flow.</p>"
          }
        },
        "ContactFlowArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact flow.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateHoursOfOperation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateHoursOfOperationRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateHoursOfOperationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Creates hours of operation. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/hours-of-operations/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateHoursOfOperationRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#CommonNameLength127",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hours of operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.connect#HoursOfOperationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the hours of operation.</p>"
          }
        },
        "TimeZone": {
          "target": "com.amazonaws.connect#TimeZone",
          "traits": {
            "smithy.api#documentation": "<p>The time zone of the hours of operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Config": {
          "target": "com.amazonaws.connect#HoursOfOperationConfigList",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for the hours of operation: day, start time, and end time.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateHoursOfOperationResponse": {
      "type": "structure",
      "members": {
        "HoursOfOperationId": {
          "target": "com.amazonaws.connect#HoursOfOperationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the hours of operation.</p>"
          }
        },
        "HoursOfOperationArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the hours of operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Initiates an Amazon Connect instance with all the supported channels enabled. It does not attach any\n   storage, such as Amazon Simple Storage Service (Amazon S3) or Amazon Kinesis. It also does not\n   allow for any configurations on features, such as Contact Lens for Amazon Connect. </p>\n         <p>Amazon Connect enforces a limit on the total number of instances that you can create or delete in 30 days. \nIf you exceed this limit, you will get an error message indicating there has been an excessive number of attempts at creating or deleting instances. \nYou must wait 30 days before you can restart creating and deleting instances in your account.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateInstanceRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.connect#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token.</p>"
          }
        },
        "IdentityManagementType": {
          "target": "com.amazonaws.connect#DirectoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of identity management for your Amazon Connect users.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceAlias": {
          "target": "com.amazonaws.connect#DirectoryAlias",
          "traits": {
            "smithy.api#documentation": "<p>The name for your instance.</p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.connect#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the directory.</p>"
          }
        },
        "InboundCallsEnabled": {
          "target": "com.amazonaws.connect#InboundCallsEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Your contact center handles incoming contacts.</p>",
            "smithy.api#required": {}
          }
        },
        "OutboundCallsEnabled": {
          "target": "com.amazonaws.connect#OutboundCallsEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Your contact center allows outbound calls.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#CreateInstanceResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the instance.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateIntegrationAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateIntegrationAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateIntegrationAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an AppIntegration association with an Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/integration-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateIntegrationAssociationRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IntegrationType": {
          "target": "com.amazonaws.connect#IntegrationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of information to be ingested.</p>",
            "smithy.api#required": {}
          }
        },
        "IntegrationArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the integration.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceApplicationUrl": {
          "target": "com.amazonaws.connect#URI",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the external application.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceApplicationName": {
          "target": "com.amazonaws.connect#SourceApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the external application.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceType": {
          "target": "com.amazonaws.connect#SourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateIntegrationAssociationResponse": {
      "type": "structure",
      "members": {
        "IntegrationAssociationId": {
          "target": "com.amazonaws.connect#IntegrationAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the association.</p>"
          }
        },
        "IntegrationAssociationArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the association.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateQueueRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateQueueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Creates a new queue for the specified Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/queues/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateQueueRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#CommonNameLength127",
          "traits": {
            "smithy.api#documentation": "<p>The name of the queue.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.connect#QueueDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the queue.</p>"
          }
        },
        "OutboundCallerConfig": {
          "target": "com.amazonaws.connect#OutboundCallerConfig",
          "traits": {
            "smithy.api#documentation": "<p>The outbound caller ID name, number, and outbound whisper flow.</p>"
          }
        },
        "HoursOfOperationId": {
          "target": "com.amazonaws.connect#HoursOfOperationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the hours of operation.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxContacts": {
          "target": "com.amazonaws.connect#QueueMaxContacts",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of contacts that can be in the queue before it is considered full.</p>"
          }
        },
        "QuickConnectIds": {
          "target": "com.amazonaws.connect#QuickConnectsList",
          "traits": {
            "smithy.api#documentation": "<p>The quick connects available to agents who are working the queue.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateQueueResponse": {
      "type": "structure",
      "members": {
        "QueueArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the queue.</p>"
          }
        },
        "QueueId": {
          "target": "com.amazonaws.connect#QueueId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the queue.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateQuickConnect": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateQuickConnectRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateQuickConnectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a quick connect for the specified Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/quick-connects/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateQuickConnectRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#QuickConnectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the quick connect.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.connect#QuickConnectDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the quick connect.</p>"
          }
        },
        "QuickConnectConfig": {
          "target": "com.amazonaws.connect#QuickConnectConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration settings for the quick connect.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateQuickConnectResponse": {
      "type": "structure",
      "members": {
        "QuickConnectARN": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the quick connect. </p>"
          }
        },
        "QuickConnectId": {
          "target": "com.amazonaws.connect#QuickConnectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the quick connect. \n  </p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateRoutingProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateRoutingProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateRoutingProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new routing profile.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/routing-profiles/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateRoutingProfileRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.connect#RoutingProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the routing profile. Must not be more than 127 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.connect#RoutingProfileDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description of the routing profile. Must not be more than 250 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultOutboundQueueId": {
          "target": "com.amazonaws.connect#QueueId",
          "traits": {
            "smithy.api#documentation": "<p>The default outbound queue for the routing profile.</p>",
            "smithy.api#required": {}
          }
        },
        "QueueConfigs": {
          "target": "com.amazonaws.connect#RoutingProfileQueueConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The inbound queues associated with the routing profile. If no queue is added, the agent can\n   make only outbound calls.</p>"
          }
        },
        "MediaConcurrencies": {
          "target": "com.amazonaws.connect#MediaConcurrencies",
          "traits": {
            "smithy.api#documentation": "<p>The channels that agents can handle in the Contact Control Panel (CCP) for this routing\n   profile.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateRoutingProfileResponse": {
      "type": "structure",
      "members": {
        "RoutingProfileArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the routing profile.</p>"
          }
        },
        "RoutingProfileId": {
          "target": "com.amazonaws.connect#RoutingProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the routing profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateUseCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateUseCaseRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateUseCaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a use case for an AppIntegration association.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateUseCaseRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IntegrationAssociationId": {
          "target": "com.amazonaws.connect#IntegrationAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the AppIntegration association.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UseCaseType": {
          "target": "com.amazonaws.connect#UseCaseType",
          "traits": {
            "smithy.api#documentation": "<p>The type of use case to associate to the AppIntegration association. Each AppIntegration\n   association can have only one of each use case type.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateUseCaseResponse": {
      "type": "structure",
      "members": {
        "UseCaseId": {
          "target": "com.amazonaws.connect#UseCaseId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the use case.</p>"
          }
        },
        "UseCaseArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the use case.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user account for the specified Amazon Connect instance.</p>\n         <p>For information about how to create user accounts using the Amazon Connect console, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/user-management.html\">Add Users</a> in\n   the <i>Amazon Connect Administrator Guide</i>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/users/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateUserHierarchyGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#CreateUserHierarchyGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.connect#CreateUserHierarchyGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#LimitExceededException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new user hierarchy group.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/user-hierarchy-groups/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#CreateUserHierarchyGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.connect#HierarchyGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user hierarchy group. Must not be more than 100 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "ParentGroupId": {
          "target": "com.amazonaws.connect#HierarchyGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the parent hierarchy group. The user hierarchy is created at level one if\n   the parent group ID is null.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#CreateUserHierarchyGroupResponse": {
      "type": "structure",
      "members": {
        "HierarchyGroupId": {
          "target": "com.amazonaws.connect#HierarchyGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the hierarchy group.</p>"
          }
        },
        "HierarchyGroupArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the hierarchy group. </p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateUserRequest": {
      "type": "structure",
      "members": {
        "Username": {
          "target": "com.amazonaws.connect#AgentUsername",
          "traits": {
            "smithy.api#documentation": "<p>The user name for the account. For instances not using SAML for identity management, the\n   user name can include up to 20 characters. If you are using SAML for identity management, the\n   user name can include up to 64 characters from [a-zA-Z0-9_-.\\@]+.</p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.connect#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password for the user account. A password is required if you are using Amazon Connect for\n   identity management. Otherwise, it is an error to include a password.</p>"
          }
        },
        "IdentityInfo": {
          "target": "com.amazonaws.connect#UserIdentityInfo",
          "traits": {
            "smithy.api#documentation": "<p>The information about the identity of the user.</p>"
          }
        },
        "PhoneConfig": {
          "target": "com.amazonaws.connect#UserPhoneConfig",
          "traits": {
            "smithy.api#documentation": "<p>The phone settings for the user.</p>",
            "smithy.api#required": {}
          }
        },
        "DirectoryUserId": {
          "target": "com.amazonaws.connect#DirectoryUserId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user account in the directory used for identity management. If Amazon Connect\n   cannot access the directory, you can specify this identifier to authenticate users. If you\n   include the identifier, we assume that Amazon Connect cannot access the directory. Otherwise, the identity\n   information is used to authenticate users from your directory.</p>\n         <p>This parameter is required if you are using an existing directory for identity management in\n   Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for\n   identity management and include this parameter, an error is returned.</p>"
          }
        },
        "SecurityProfileIds": {
          "target": "com.amazonaws.connect#SecurityProfileIds",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the security profile for the user.</p>",
            "smithy.api#required": {}
          }
        },
        "RoutingProfileId": {
          "target": "com.amazonaws.connect#RoutingProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the routing profile for the user.</p>",
            "smithy.api#required": {}
          }
        },
        "HierarchyGroupId": {
          "target": "com.amazonaws.connect#HierarchyGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the hierarchy group for the user.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.connect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#CreateUserResponse": {
      "type": "structure",
      "members": {
        "UserId": {
          "target": "com.amazonaws.connect#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user account.</p>"
          }
        },
        "UserArn": {
          "target": "com.amazonaws.connect#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user account.</p>"
          }
        }
      }
    },
    "com.amazonaws.connect#Credentials": {
      "type": "structure",
      "members": {
        "AccessToken": {
          "target": "com.amazonaws.connect#SecurityToken",
          "traits": {
            "smithy.api#documentation": "<p>An access token generated for a federated user to access Amazon Connect.</p>"
          }
        },
        "AccessTokenExpiration": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A token generated with an expiration time for the session a user is logged in to\n   Amazon Connect.</p>"
          }
        },
        "RefreshToken": {
          "target": "com.amazonaws.connect#SecurityToken",
          "traits": {
            "smithy.api#documentation": "<p>Renews a token generated for a user to access the Amazon Connect instance.</p>"
          }
        },
        "RefreshTokenExpiration": {
          "target": "com.amazonaws.connect#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Renews the expiration timer for a generated token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains credentials to use for federation.</p>"
      }
    },
    "com.amazonaws.connect#CurrentMetric": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.connect#CurrentMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.connect#Unit",
          "traits": {
            "smithy.api#documentation": "<p>The unit for the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a real-time metric. For a description of each metric, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/real-time-metrics-definitions.html\">Real-time Metrics Definitions</a> in the <i>Amazon Connect Administrator\n   Guide</i>.</p>"
      }
    },
    "com.amazonaws.connect#CurrentMetricData": {
      "type": "structure",
      "members": {
        "Metric": {
          "target": "com.amazonaws.connect#CurrentMetric",
          "traits": {
            "smithy.api#documentation": "<p>Information about the metric.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.connect#Value",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The value of the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the data for a real-time metric.</p>"
      }
    },
    "com.amazonaws.connect#CurrentMetricDataCollections": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#CurrentMetricData"
      }
    },
    "com.amazonaws.connect#CurrentMetricName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The current metric names.</p>",
        "smithy.api#enum": [
          {
            "value": "AGENTS_ONLINE",
            "name": "AGENTS_ONLINE"
          },
          {
            "value": "AGENTS_AVAILABLE",
            "name": "AGENTS_AVAILABLE"
          },
          {
            "value": "AGENTS_ON_CALL",
            "name": "AGENTS_ON_CALL"
          },
          {
            "value": "AGENTS_NON_PRODUCTIVE",
            "name": "AGENTS_NON_PRODUCTIVE"
          },
          {
            "value": "AGENTS_AFTER_CONTACT_WORK",
            "name": "AGENTS_AFTER_CONTACT_WORK"
          },
          {
            "value": "AGENTS_ERROR",
            "name": "AGENTS_ERROR"
          },
          {
            "value": "AGENTS_STAFFED",
            "name": "AGENTS_STAFFED"
          },
          {
            "value": "CONTACTS_IN_QUEUE",
            "name": "CONTACTS_IN_QUEUE"
          },
          {
            "value": "OLDEST_CONTACT_AGE",
            "name": "OLDEST_CONTACT_AGE"
          },
          {
            "value": "CONTACTS_SCHEDULED",
            "name": "CONTACTS_SCHEDULED"
          },
          {
            "value": "AGENTS_ON_CONTACT",
            "name": "AGENTS_ON_CONTACT"
          },
          {
            "value": "SLOTS_ACTIVE",
            "name": "SLOTS_ACTIVE"
          },
          {
            "value": "SLOTS_AVAILABLE",
            "name": "SLOTS_AVAILABLE"
          }
        ]
      }
    },
    "com.amazonaws.connect#CurrentMetricResult": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "target": "com.amazonaws.connect#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions for the metrics.</p>"
          }
        },
        "Collections": {
          "target": "com.amazonaws.connect#CurrentMetricDataCollections",
          "traits": {
            "smithy.api#documentation": "<p>The set of metrics.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a set of real-time metrics.</p>"
      }
    },
    "com.amazonaws.connect#CurrentMetricResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#CurrentMetricResult"
      }
    },
    "com.amazonaws.connect#CurrentMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.connect#CurrentMetric"
      }
    },
    "com.amazonaws.connect#Delay": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 9999
        }
      }
    },
    "com.amazonaws.connect#DeleteHoursOfOperation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#DeleteHoursOfOperationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Deletes an hours of operation.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/hours-of-operations/{InstanceId}/{HoursOfOperationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#DeleteHoursOfOperationRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "HoursOfOperationId": {
          "target": "com.amazonaws.connect#HoursOfOperationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the hours of operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#DeleteInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#DeleteInstanceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and is subject to change.</p>\n         <p>Deletes the Amazon Connect instance.</p>\n         <p>Amazon Connect enforces a limit on the total number of instances that you can create or delete in 30 days. \nIf you exceed this limit, you will get an error message indicating there has been an excessive number of attempts at creating or deleting instances. \nYou must wait 30 days before you can restart creating and deleting instances in your account.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/instance/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#DeleteInstanceRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#DeleteIntegrationAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#DeleteIntegrationAssociationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an AppIntegration association from an Amazon Connect instance. The association must not have\n   any use cases associated with it.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#DeleteIntegrationAssociationRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IntegrationAssociationId": {
          "target": "com.amazonaws.connect#IntegrationAssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the AppIntegration association.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#DeleteQuickConnect": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#DeleteQuickConnectRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
          "target": "com.amazonaws.connect#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.connect#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.connect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.connect#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a quick connect.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/quick-connects/{InstanceId}/{QuickConnectId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.connect#DeleteQuickConnectRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.connect#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "QuickConnectId": {
          "target": "com.amazonaws.connect#QuickConnectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the quick connect.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.connect#DeleteUseCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.connect#DeleteUseCaseRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.connect#InternalServiceException"
        },
        {
[...]
