{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.amazonconnect.commonexternaltypes#ARN": {
      "type": "string"
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#AfterContactWorkTimeLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#AgentFirstName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#AgentLastName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#AgentUsername": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#AmazonConnectService": {
      "type": "service",
      "version": "2017-08-08",
      "operations": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#CreateUser"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#DeleteUser"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#DescribeUser"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyGroup"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyStructure"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#GetContactAttributes"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#GetCurrentMetricData"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#GetFederationToken"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#GetMetricData"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ListContactFlows"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ListHoursOfOperations"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ListPhoneNumbers"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ListQueues"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ListRoutingProfiles"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ListSecurityProfiles"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ListUserHierarchyGroups"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ListUsers"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#StartChatContact"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#StartOutboundVoiceContact"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#StopContact"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#TagResource"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#UntagResource"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#UpdateContactAttributes"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#UpdateUserHierarchy"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#UpdateUserIdentityInfo"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#UpdateUserPhoneConfig"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#UpdateUserRoutingProfile"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#UpdateUserSecurityProfiles"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Connect",
          "arnNamespace": "connect",
          "cloudFormationName": "Connect",
          "cloudTrailEventSource": "v20170808.amazonconnectservice.amazonaws.com"
        },
        "smithy.api#documentation": "<p>Amazon Connect is a cloud-based contact center solution that makes it easy to set up and manage a\n   customer contact center and provide reliable customer engagement at any scale.</p>\n         <p>Amazon Connect provides rich metrics and real-time reporting that allow you to optimize contact\n   routing. You can also resolve customer issues more efficiently by putting customers in touch with\n   the right agents.</p>\n         <p>There are limits to the number of Amazon Connect resources that you can create and limits to the\n   number of requests that you can make per second. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect\n    Service Limits</a> in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon Connect Service"
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32767
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 32767
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.amazonconnect.commonexternaltypes#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.amazonconnect.commonexternaltypes#AttributeValue"
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#AutoAccept": {
      "type": "boolean"
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#Channel": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "VOICE": {
            "name": "VOICE"
          },
          "CHAT": {
            "name": "CHAT"
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.commonexternaltypes#Channel"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ChatContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ChatContentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ChatMessage": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ChatContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the chat message.</p>",
            "smithy.api#required": true
          }
        },
        "ContentType": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ChatContentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the content. Supported types are text/plain.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A chat message.</p>"
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#Comparison": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "LT": {
            "name": "LT"
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ContactFlowId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ContactFlowName": {
      "type": "string"
    },
    "com.amazonaws.amazonconnectservice.v20170808#ContactFlowSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the contact flow.</p>"
          }
        },
        "ContactFlowType": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ContactFlowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of contact flow.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ContactFlowId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the contact flow.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ContactFlowName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact flow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a contact flow.</p>"
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ContactFlowSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ContactFlowSummary"
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ContactFlowType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CONTACT_FLOW": {
            "name": "CONTACT_FLOW"
          },
          "CUSTOMER_QUEUE": {
            "name": "CUSTOMER_QUEUE"
          },
          "CUSTOMER_HOLD": {
            "name": "CUSTOMER_HOLD"
          },
          "CUSTOMER_WHISPER": {
            "name": "CUSTOMER_WHISPER"
          },
          "AGENT_HOLD": {
            "name": "AGENT_HOLD"
          },
          "AGENT_WHISPER": {
            "name": "AGENT_WHISPER"
          },
          "OUTBOUND_WHISPER": {
            "name": "OUTBOUND_WHISPER"
          },
          "AGENT_TRANSFER": {
            "name": "AGENT_TRANSFER"
          },
          "QUEUE_TRANSFER": {
            "name": "QUEUE_TRANSFER"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ContactFlowTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.commonexternaltypes#ContactFlowType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#ContactId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ContactNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The contact with the specified ID is not active or does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 410
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user account for the specified Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/users/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#CreateUserRequest": {
      "type": "structure",
      "members": {
        "DirectoryUserId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#DirectoryUserId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user account in the directory used for identity management. If Amazon Connect\n   cannot access the directory, you can specify this identifier to authenticate users. If you\n   include the identifier, we assume that Amazon Connect cannot access the directory. Otherwise, the identity\n   information is used to authenticate users from your directory.</p>\n         <p>This parameter is required if you are using an existing directory for identity management in\n   Amazon Connect when Amazon Connect cannot access your directory to authenticate users. If you are using SAML for\n   identity management and include this parameter, an error is returned.</p>"
          }
        },
        "HierarchyGroupId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the hierarchy group for the user.</p>"
          }
        },
        "IdentityInfo": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#UserIdentityInfo",
          "traits": {
            "smithy.api#documentation": "<p>The information about the identity of the user.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Password": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password for the user account. A password is required if you are using Amazon Connect for\n   identity management. Otherwise, it is an error to include a password.</p>"
          }
        },
        "PhoneConfig": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#UserPhoneConfig",
          "traits": {
            "smithy.api#documentation": "<p>The phone settings for the user.</p>",
            "smithy.api#required": true
          }
        },
        "RoutingProfileId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#RoutingProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the routing profile for the user.</p>",
            "smithy.api#required": true
          }
        },
        "SecurityProfileIds": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#SecurityProfileIds",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the security profile for the user.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        },
        "Username": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#AgentUsername",
          "traits": {
            "smithy.api#documentation": "<p>The user name for the account. For instances not using SAML for identity management, the\n   user name can include up to 20 characters. If you are using SAML for identity management, the\n   user name can include up to 64 characters from [a-zA-Z0-9_-.\\@]+.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#CreateUserResponse": {
      "type": "structure",
      "members": {
        "UserArn": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user account.</p>"
          }
        },
        "UserId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user account.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#Credentials": {
      "type": "structure",
      "members": {
        "AccessToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#SecurityToken",
          "traits": {
            "smithy.api#documentation": "<p>An access token generated for a federated user to access Amazon Connect.</p>"
          }
        },
        "AccessTokenExpiration": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A token generated with an expiration time for the session a user is logged in to\n   Amazon Connect.</p>"
          }
        },
        "RefreshToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#SecurityToken",
          "traits": {
            "smithy.api#documentation": "<p>Renews a token generated for a user to access the Amazon Connect instance.</p>"
          }
        },
        "RefreshTokenExpiration": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Renews the expiration timer for a generated token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains credentials to use for federation.</p>"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetric": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Unit",
          "traits": {
            "smithy.api#documentation": "<p>The unit for the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a real-time metric.</p>"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetricData": {
      "type": "structure",
      "members": {
        "Metric": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetric",
          "traits": {
            "smithy.api#documentation": "<p>Information about the metric.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Value",
          "traits": {
            "smithy.api#box": true,
            "smithy.api#documentation": "<p>The value of the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the data for a real-time metric.</p>"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetricDataCollections": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetricData"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetricName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The current metric names.</p>",
        "smithy.api#enum": {
          "AGENTS_ONLINE": {
            "name": "AGENTS_ONLINE"
          },
          "AGENTS_AVAILABLE": {
            "name": "AGENTS_AVAILABLE"
          },
          "AGENTS_ON_CALL": {
            "name": "AGENTS_ON_CALL"
          },
          "AGENTS_NON_PRODUCTIVE": {
            "name": "AGENTS_NON_PRODUCTIVE"
          },
          "AGENTS_AFTER_CONTACT_WORK": {
            "name": "AGENTS_AFTER_CONTACT_WORK"
          },
          "AGENTS_ERROR": {
            "name": "AGENTS_ERROR"
          },
          "AGENTS_STAFFED": {
            "name": "AGENTS_STAFFED"
          },
          "CONTACTS_IN_QUEUE": {
            "name": "CONTACTS_IN_QUEUE"
          },
          "OLDEST_CONTACT_AGE": {
            "name": "OLDEST_CONTACT_AGE"
          },
          "CONTACTS_SCHEDULED": {
            "name": "CONTACTS_SCHEDULED"
          },
          "AGENTS_ON_CONTACT": {
            "name": "AGENTS_ON_CONTACT"
          },
          "SLOTS_ACTIVE": {
            "name": "SLOTS_ACTIVE"
          },
          "SLOTS_AVAILABLE": {
            "name": "SLOTS_AVAILABLE"
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetricResult": {
      "type": "structure",
      "members": {
        "Collections": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetricDataCollections",
          "traits": {
            "smithy.api#documentation": "<p>The set of metrics.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions for the metrics.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a set of real-time metrics.</p>"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetricResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetricResult"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetric"
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#DeleteUserRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user account from the specified Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/users/{InstanceId}/{UserId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "UserId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DescribeUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#DescribeUserRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#DescribeUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified user account. You can find the instance ID in the console (it’s the\n   final part of the ARN). The console does not display the user IDs. Instead, list the users and\n   note the IDs provided in the output.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users/{InstanceId}/{UserId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified hierarchy group.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyGroupRequest": {
      "type": "structure",
      "members": {
        "HierarchyGroupId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the hierarchy group.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyGroupResponse": {
      "type": "structure",
      "members": {
        "HierarchyGroup": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyGroup",
          "traits": {
            "smithy.api#documentation": "<p>Information about the hierarchy group.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyStructure": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyStructureRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyStructureResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the hierarchy structure of the specified Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user-hierarchy-structure/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyStructureRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DescribeUserHierarchyStructureResponse": {
      "type": "structure",
      "members": {
        "HierarchyStructure": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyStructure",
          "traits": {
            "smithy.api#documentation": "<p>Information about the hierarchy structure.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DescribeUserRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "UserId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user account.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DescribeUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#User",
          "traits": {
            "smithy.api#documentation": "<p>Information about the user account and configuration settings.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DestinationNotAllowedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Outbound calls to the destination number are not allowed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#Dimensions": {
      "type": "structure",
      "members": {
        "Channel": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#Channel",
          "traits": {
            "smithy.api#documentation": "<p>The channel used for grouping and filters.</p>"
          }
        },
        "Queue": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#QueueReference",
          "traits": {
            "smithy.api#documentation": "<p>Information about the queue for which metrics are returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the dimensions for a set of metrics.</p>"
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#DirectoryUserId": {
      "type": "string"
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#DisplayName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#DuplicateResourceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource with the specified name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#Email": {
      "type": "string"
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#Filters": {
      "type": "structure",
      "members": {
        "Channels": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Channels",
          "traits": {
            "smithy.api#documentation": "<p>The channel to use to filter the metrics.</p>"
          }
        },
        "Queues": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Queues",
          "traits": {
            "smithy.api#documentation": "<p>The queues to use to filter the metrics. You can specify up to 100 queues per\n   request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the filter to apply when retrieving metrics.</p>"
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetContactAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#GetContactAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#GetContactAttributesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the contact attributes for the specified contact.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contact/attributes/{InstanceId}/{InitialContactId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetContactAttributesRequest": {
      "type": "structure",
      "members": {
        "InitialContactId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ContactId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the initial contact.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetContactAttributesResponse": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>Information about the attributes.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetCurrentMetricData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#GetCurrentMetricDataRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#GetCurrentMetricDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the real-time metric data from the specified Amazon Connect instance.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/real-time-metrics-reports.html\">Real-time Metrics Reports</a>\n   in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/metrics/current/{InstanceId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetCurrentMetricDataRequest": {
      "type": "structure",
      "members": {
        "CurrentMetrics": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The metrics to retrieve. Specify the name and unit for each metric. The following metrics\n   are available:</p>\n         <dl>\n            <dt>AGENTS_AFTER_CONTACT_WORK</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>AGENTS_AVAILABLE</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>AGENTS_ERROR</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>AGENTS_NON_PRODUCTIVE</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>AGENTS_ON_CALL</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>AGENTS_ON_CONTACT</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>AGENTS_ONLINE</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>AGENTS_STAFFED</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>CONTACTS_IN_QUEUE</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>CONTACTS_SCHEDULED</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>OLDEST_CONTACT_AGE</dt>\n            <dd>\n               <p>Unit: SECONDS</p>\n            </dd>\n            <dt>SLOTS_ACTIVE</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n            <dt>SLOTS_AVAILABLE</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n            </dd>\n         </dl>",
            "smithy.api#required": true
          }
        },
        "Filters": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Filters",
          "traits": {
            "smithy.api#documentation": "<p>The queues, up to 100, or channels, to use to filter the metrics returned. Metric data is\n   retrieved only for the resources associated with the queues or channels included in the filter.\n   You can include both queue IDs and queue ARNs in the same request. The only supported channel is\n    <code>VOICE</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Groupings": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Groupings",
          "traits": {
            "smithy.api#documentation": "<p>The grouping applied to the metrics returned. For example, when grouped by\n    <code>QUEUE</code>, the metrics returned apply to each queue rather than aggregated for all\n   queues. If you group by <code>CHANNEL</code>, you should include a Channels filter. The only\n   supported channel is <code>VOICE</code>.</p>\n         <p>If no <code>Grouping</code> is included in the request, a summary of metrics is\n   returned.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#MaxResult100",
          "traits": {
            "smithy.api#box": true,
            "smithy.api#documentation": "<p>The maximimum number of results to return per page.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>\n         <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use\n   the token must use the same request parameters as the request that generated the token.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetCurrentMetricDataResponse": {
      "type": "structure",
      "members": {
        "DataSnapshotTime": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the metrics were retrieved and cached for pagination.</p>"
          }
        },
        "MetricResults": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#CurrentMetricResults",
          "traits": {
            "smithy.api#documentation": "<p>Information about the real-time metrics.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>\n         <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use\n   the token must use the same request parameters as the request that generated the token.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetFederationToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#GetFederationTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#GetFederationTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#UserNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a token for federation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user/federate/{InstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetFederationTokenRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetFederationTokenResponse": {
      "type": "structure",
      "members": {
        "Credentials": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#Credentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials to use for federation.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetMetricData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#GetMetricDataRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#GetMetricDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets historical metric data from the specified Amazon Connect instance.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/historical-metrics.html\">Historical Metrics Reports</a> in\n   the <i>Amazon Connect Administrator Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/metrics/historical/{InstanceId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetMetricDataRequest": {
      "type": "structure",
      "members": {
        "EndTime": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp, in UNIX Epoch time format, at which to end the reporting interval for the\n   retrieval of historical metrics data. The time must be specified using an interval of 5 minutes,\n   such as 11:00, 11:05, 11:10, and must be later than the start time timestamp.</p>\n         <p>The time range between the start and end time must be less than 24 hours.</p>",
            "smithy.api#required": true
          }
        },
        "Filters": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Filters",
          "traits": {
            "smithy.api#documentation": "<p>The queues, up to 100, or channels, to use to filter the metrics returned. Metric data is\n   retrieved only for the resources associated with the queues or channels included in the filter.\n   You can include both queue IDs and queue ARNs in the same request. The only supported channel is\n    <code>VOICE</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Groupings": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Groupings",
          "traits": {
            "smithy.api#documentation": "<p>The grouping applied to the metrics returned. For example, when results are grouped by\n   queue, the metrics returned are grouped by queue. The values returned apply to the metrics for\n   each queue rather than aggregated for all queues.</p>\n         <p>The only supported grouping is <code>QUEUE</code>.</p>\n         <p>If no grouping is specified, a summary of metrics for all queues is returned.</p>"
          }
        },
        "HistoricalMetrics": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The metrics to retrieve. Specify the name, unit, and statistic for each metric. The\n   following historical metrics are available:</p>\n         <dl>\n            <dt>ABANDON_TIME</dt>\n            <dd>\n               <p>Unit: SECONDS</p>\n               <p>Statistic: AVG</p>\n            </dd>\n            <dt>AFTER_CONTACT_WORK_TIME</dt>\n            <dd>\n               <p>Unit: SECONDS</p>\n               <p>Statistic: AVG</p>\n            </dd>\n            <dt>API_CONTACTS_HANDLED</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CALLBACK_CONTACTS_HANDLED</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_ABANDONED</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_AGENT_HUNG_UP_FIRST</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_CONSULTED</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_HANDLED</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_HANDLED_INCOMING</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_HANDLED_OUTBOUND</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_HOLD_ABANDONS</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_MISSED</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_QUEUED</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_TRANSFERRED_IN</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_TRANSFERRED_IN_FROM_QUEUE</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_TRANSFERRED_OUT</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>CONTACTS_TRANSFERRED_OUT_FROM_QUEUE</dt>\n            <dd>\n               <p>Unit: COUNT</p>\n               <p>Statistic: SUM</p>\n            </dd>\n            <dt>HANDLE_TIME</dt>\n            <dd>\n               <p>Unit: SECONDS</p>\n               <p>Statistic: AVG</p>\n            </dd>\n            <dt>HOLD_TIME</dt>\n            <dd>\n               <p>Unit: SECONDS</p>\n               <p>Statistic: AVG</p>\n            </dd>\n            <dt>INTERACTION_AND_HOLD_TIME</dt>\n            <dd>\n               <p>Unit: SECONDS</p>\n               <p>Statistic: AVG</p>\n            </dd>\n            <dt>INTERACTION_TIME</dt>\n            <dd>\n               <p>Unit: SECONDS</p>\n               <p>Statistic: AVG</p>\n            </dd>\n            <dt>OCCUPANCY</dt>\n            <dd>\n               <p>Unit: PERCENT</p>\n               <p>Statistic: AVG</p>\n            </dd>\n            <dt>QUEUE_ANSWER_TIME</dt>\n            <dd>\n               <p>Unit: SECONDS</p>\n               <p>Statistic: AVG</p>\n            </dd>\n            <dt>QUEUED_TIME</dt>\n            <dd>\n               <p>Unit: SECONDS</p>\n               <p>Statistic: MAX</p>\n            </dd>\n            <dt>SERVICE_LEVEL</dt>\n            <dd>\n               <p>Unit: PERCENT</p>\n               <p>Statistic: AVG</p>\n               <p>Threshold: Only \"Less than\" comparisons are supported, with the following service level\n      thresholds: 15, 20, 25, 30, 45, 60, 90, 120, 180, 240, 300, 600</p>\n            </dd>\n         </dl>",
            "smithy.api#required": true
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#MaxResult100",
          "traits": {
            "smithy.api#box": true,
            "smithy.api#documentation": "<p>The maximimum number of results to return per page.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp, in UNIX Epoch time format, at which to start the reporting interval for the\n   retrieval of historical metrics data. The time must be specified using a multiple of 5 minutes,\n   such as 10:05, 10:10, 10:15.</p>\n         <p>The start time cannot be earlier than 24 hours before the time of the request. Historical\n   metrics are available only for 24 hours.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#GetMetricDataResponse": {
      "type": "structure",
      "members": {
        "MetricResults": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetricResults",
          "traits": {
            "smithy.api#documentation": "<p>Information about the historical metrics.</p>\n         <p>If no grouping is specified, a summary of metric data is returned.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>\n         <p>The token expires after 5 minutes from the time it is created. Subsequent requests that use\n   the token must use the same request parameters as the request that generated the token.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#Grouping": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "QUEUE": {
            "name": "QUEUE"
          },
          "CHANNEL": {
            "name": "CHANNEL"
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#Groupings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.metricexternaltypes#Grouping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#HierarchyGroup": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the hierarchy group.</p>"
          }
        },
        "HierarchyPath": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyPath",
          "traits": {
            "smithy.api#documentation": "<p>Information about the levels in the hierarchy group.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the hierarchy group.</p>"
          }
        },
        "LevelId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyLevelId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the level in the hierarchy group.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hierarchy group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a hierarchy group.</p>"
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyGroupId": {
      "type": "string"
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyGroupName": {
      "type": "string"
    },
    "com.amazonaws.amazonconnectservice.v20170808#HierarchyGroupSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the hierarchy group.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the hierarchy group.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hierarchy group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a hierarchy group.</p>"
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#HierarchyGroupSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyGroupSummary"
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#HierarchyLevel": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the hierarchy level.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyLevelId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the hierarchy level.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyLevelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hierarchy level.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a hierarchy level.</p>"
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyLevelId": {
      "type": "string"
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#HierarchyLevelName": {
      "type": "string"
    },
    "com.amazonaws.amazonconnectservice.v20170808#HierarchyPath": {
      "type": "structure",
      "members": {
        "LevelFive": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyGroupSummary",
          "traits": {
            "smithy.api#documentation": "<p>Information about level five.</p>"
          }
        },
        "LevelFour": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyGroupSummary",
          "traits": {
            "smithy.api#documentation": "<p>Information about level four.</p>"
          }
        },
        "LevelOne": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyGroupSummary",
          "traits": {
            "smithy.api#documentation": "<p>Information about level one.</p>"
          }
        },
        "LevelThree": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyGroupSummary",
          "traits": {
            "smithy.api#documentation": "<p>Information about level three.</p>"
          }
        },
        "LevelTwo": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyGroupSummary",
          "traits": {
            "smithy.api#documentation": "<p>Information about level two.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the levels of a hierarchy group.</p>"
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#HierarchyStructure": {
      "type": "structure",
      "members": {
        "LevelFive": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyLevel",
          "traits": {
            "smithy.api#documentation": "<p>Information about level five.</p>"
          }
        },
        "LevelFour": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyLevel",
          "traits": {
            "smithy.api#documentation": "<p>Information about level four.</p>"
          }
        },
        "LevelOne": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyLevel",
          "traits": {
            "smithy.api#documentation": "<p>Information about level one.</p>"
          }
        },
        "LevelThree": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyLevel",
          "traits": {
            "smithy.api#documentation": "<p>Information about level three.</p>"
          }
        },
        "LevelTwo": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HierarchyLevel",
          "traits": {
            "smithy.api#documentation": "<p>Information about level two.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a hierarchy structure.</p>"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetric": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>"
          }
        },
        "Statistic": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Statistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic for the metric.</p>"
          }
        },
        "Threshold": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Threshold",
          "traits": {
            "smithy.api#documentation": "<p>The threshold for the metric, used with service level metrics.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Unit",
          "traits": {
            "smithy.api#documentation": "<p>The unit for the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a historical metric.</p>"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetricData": {
      "type": "structure",
      "members": {
        "Metric": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetric",
          "traits": {
            "smithy.api#documentation": "<p>Information about the metric.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Value",
          "traits": {
            "smithy.api#box": true,
            "smithy.api#documentation": "<p>The value of the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the data for a historical metric.</p>"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetricDataCollections": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetricData"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetricName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The historical metric names.</p>",
        "smithy.api#enum": {
          "CONTACTS_QUEUED": {
            "name": "CONTACTS_QUEUED"
          },
          "CONTACTS_HANDLED": {
            "name": "CONTACTS_HANDLED"
          },
          "CONTACTS_ABANDONED": {
            "name": "CONTACTS_ABANDONED"
          },
          "CONTACTS_CONSULTED": {
            "name": "CONTACTS_CONSULTED"
          },
          "CONTACTS_AGENT_HUNG_UP_FIRST": {
            "name": "CONTACTS_AGENT_HUNG_UP_FIRST"
          },
          "CONTACTS_HANDLED_INCOMING": {
            "name": "CONTACTS_HANDLED_INCOMING"
          },
          "CONTACTS_HANDLED_OUTBOUND": {
            "name": "CONTACTS_HANDLED_OUTBOUND"
          },
          "CONTACTS_HOLD_ABANDONS": {
            "name": "CONTACTS_HOLD_ABANDONS"
          },
          "CONTACTS_TRANSFERRED_IN": {
            "name": "CONTACTS_TRANSFERRED_IN"
          },
          "CONTACTS_TRANSFERRED_OUT": {
            "name": "CONTACTS_TRANSFERRED_OUT"
          },
          "CONTACTS_TRANSFERRED_IN_FROM_QUEUE": {
            "name": "CONTACTS_TRANSFERRED_IN_FROM_QUEUE"
          },
          "CONTACTS_TRANSFERRED_OUT_FROM_QUEUE": {
            "name": "CONTACTS_TRANSFERRED_OUT_FROM_QUEUE"
          },
          "CONTACTS_MISSED": {
            "name": "CONTACTS_MISSED"
          },
          "CALLBACK_CONTACTS_HANDLED": {
            "name": "CALLBACK_CONTACTS_HANDLED"
          },
          "API_CONTACTS_HANDLED": {
            "name": "API_CONTACTS_HANDLED"
          },
          "OCCUPANCY": {
            "name": "OCCUPANCY"
          },
          "HANDLE_TIME": {
            "name": "HANDLE_TIME"
          },
          "AFTER_CONTACT_WORK_TIME": {
            "name": "AFTER_CONTACT_WORK_TIME"
          },
          "QUEUED_TIME": {
            "name": "QUEUED_TIME"
          },
          "ABANDON_TIME": {
            "name": "ABANDON_TIME"
          },
          "QUEUE_ANSWER_TIME": {
            "name": "QUEUE_ANSWER_TIME"
          },
          "HOLD_TIME": {
            "name": "HOLD_TIME"
          },
          "INTERACTION_TIME": {
            "name": "INTERACTION_TIME"
          },
          "INTERACTION_AND_HOLD_TIME": {
            "name": "INTERACTION_AND_HOLD_TIME"
          },
          "SERVICE_LEVEL": {
            "name": "SERVICE_LEVEL"
          }
        }
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetricResult": {
      "type": "structure",
      "members": {
        "Collections": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetricDataCollections",
          "traits": {
            "smithy.api#documentation": "<p>The set of metrics.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.amazonconnect.metricexternaltypes#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimension for the metrics.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the historical metrics retrieved.</p>"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetricResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetricResult"
      }
    },
    "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnect.metricexternaltypes#HistoricalMetric"
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#HoursOfOperationId": {
      "type": "string"
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#HoursOfOperationName": {
      "type": "string"
    },
    "com.amazonaws.amazonconnectservice.v20170808#HoursOfOperationSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the hours of operation.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HoursOfOperationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the hours of operation.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#HoursOfOperationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hours of operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about hours of operation for a contact center.</p>"
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#HoursOfOperationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#HoursOfOperationSummary"
      }
    },
    "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request processing failed due to an error or failure with the service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more of the specified parameters are not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The allowed limit for the resource has been exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListContactFlows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListContactFlowsRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListContactFlowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the contact flows for the specified Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contact-flows-summary/{InstanceId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ContactFlowSummaryList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListContactFlowsRequest": {
      "type": "structure",
      "members": {
        "ContactFlowTypes": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ContactFlowTypes",
          "traits": {
            "smithy.api#documentation": "<p>The type of contact flow.</p>",
            "smithy.api#httpQuery": "contactFlowTypes"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#MaxResult1000",
          "traits": {
            "smithy.api#documentation": "<p>The maximimum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListContactFlowsResponse": {
      "type": "structure",
      "members": {
        "ContactFlowSummaryList": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ContactFlowSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the contact flows.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListHoursOfOperations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListHoursOfOperationsRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListHoursOfOperationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the hours of operation for the specified Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/hours-of-operations-summary/{InstanceId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "HoursOfOperationSummaryList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListHoursOfOperationsRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#MaxResult1000",
          "traits": {
            "smithy.api#documentation": "<p>The maximimum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListHoursOfOperationsResponse": {
      "type": "structure",
      "members": {
        "HoursOfOperationSummaryList": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#HoursOfOperationSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the hours of operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListPhoneNumbers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListPhoneNumbersRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListPhoneNumbersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the phone numbers for the specified Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/phone-numbers-summary/{InstanceId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PhoneNumberSummaryList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListPhoneNumbersRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#MaxResult1000",
          "traits": {
            "smithy.api#documentation": "<p>The maximimum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "PhoneNumberCountryCodes": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#PhoneNumberCountryCodes",
          "traits": {
            "smithy.api#documentation": "<p>The ISO country code.</p>",
            "smithy.api#httpQuery": "phoneNumberCountryCodes"
          }
        },
        "PhoneNumberTypes": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#PhoneNumberTypes",
          "traits": {
            "smithy.api#documentation": "<p>The type of phone number.</p>",
            "smithy.api#httpQuery": "phoneNumberTypes"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListPhoneNumbersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        },
        "PhoneNumberSummaryList": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#PhoneNumberSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the phone numbers.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListQueues": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListQueuesRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListQueuesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the queues for the specified Amazon Connect instance.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/queues-summary/{InstanceId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "QueueSummaryList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListQueuesRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#MaxResult1000",
          "traits": {
            "smithy.api#documentation": "<p>The maximimum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "QueueTypes": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#QueueTypes",
          "traits": {
            "smithy.api#documentation": "<p>The type of queue.</p>",
            "smithy.api#httpQuery": "queueTypes"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListQueuesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        },
        "QueueSummaryList": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#QueueSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the queues.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListRoutingProfiles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListRoutingProfilesRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListRoutingProfilesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about the routing profiles for the specified Amazon Connect\n   instance.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/routing-profiles-summary/{InstanceId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "RoutingProfileSummaryList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListRoutingProfilesRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#MaxResult1000",
          "traits": {
            "smithy.api#box": true,
            "smithy.api#documentation": "<p>The maximimum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListRoutingProfilesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        },
        "RoutingProfileSummaryList": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#RoutingProfileSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the routing profiles.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListSecurityProfiles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListSecurityProfilesRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListSecurityProfilesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about the security profiles for the specified Amazon Connect\n   instance.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/security-profiles-summary/{InstanceId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "SecurityProfileSummaryList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListSecurityProfilesRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#MaxResult1000",
          "traits": {
            "smithy.api#box": true,
            "smithy.api#documentation": "<p>The maximimum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListSecurityProfilesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        },
        "SecurityProfileSummaryList": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#SecurityProfileSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the security profiles.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListUserHierarchyGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListUserHierarchyGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.amazonconnectservice.v20170808#ListUserHierarchyGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InternalServiceException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amazonconnectservice.v20170808#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about the hierarchy groups for the specified Amazon Connect\n   instance.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/user-hierarchy-groups-summary/{InstanceId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "UserHierarchyGroupSummaryList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.amazonconnectservice.v20170808#ListUserHierarchyGroupsRequest": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.amazonconnect.commonexternaltypes#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.amazonconnectservice.v20170808#MaxResult1000",
          "traits": {
            "smithy.api#box": true,
            "smithy.api#documentation": "<p>The maximimum number of results to return per page.</p>",
[...]
