{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.controltower#AWSControlTowerApis": {
      "type": "service",
      "version": "2018-05-10",
      "operations": [
        {
          "target": "com.amazonaws.controltower#DisableControl"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.controltower#BaselineOperationResource"
        },
        {
          "target": "com.amazonaws.controltower#BaselineResource"
        },
        {
          "target": "com.amazonaws.controltower#ControlOperationResource"
        },
        {
          "target": "com.amazonaws.controltower#EnabledBaselineResource"
        },
        {
          "target": "com.amazonaws.controltower#EnabledControlResource"
        },
        {
          "target": "com.amazonaws.controltower#LandingZoneOperationResource"
        },
        {
          "target": "com.amazonaws.controltower#LandingZoneResource"
        },
        {
          "target": "com.amazonaws.controltower#TaggingResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ControlTower",
          "cloudFormationName": "ControlTower",
          "arnNamespace": "controltower",
          "endpointPrefix": "controltower",
          "cloudTrailEventSource": "controltower.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "controltower"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id",
            "content-length",
            "x-api-key",
            "authorization",
            "x-amz-date",
            "x-amz-security-token"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"]
        },
        "smithy.api#documentation": "<p>Amazon Web Services Control Tower offers application programming interface (API) operations that support programmatic interaction with these types of resources:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/controls.html\"> <i>Controls</i> </a> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_DisableControl.html\">DisableControl</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_EnableControl.html\">EnableControl</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_GetEnabledControl.html\">GetEnabledControl</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_GetControlOperation.html\">GetControlOperation</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_ListControlOperations.html\">ListControlOperations</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_ListEnabledControls.html\">ListEnabledControls</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_ResetEnabledControl.html\">ResetEnabledControl</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_UpdateEnabledControl.html\">UpdateEnabledControl</a> </p> </li> </ul> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/lz-api-launch.html\"> <i>Landing zones</i> </a> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_CreateLandingZone.html\">CreateLandingZone</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_DeleteLandingZone.html\">DeleteLandingZone</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_GetLandingZone.html\">GetLandingZone</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_GetLandingZoneOperation.html\">GetLandingZoneOperation</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_ListLandingZones.html\">ListLandingZones</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_ListLandingZoneOperations.html\">ListLandingZoneOperations</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_ResetLandingZone.html\">ResetLandingZone</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_UpdateLandingZone.html\">UpdateLandingZone</a> </p> </li> </ul> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/types-of-baselines.html\"> <i>Baselines</i> </a> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_DisableBaseline.html\">DisableBaseline</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_EnableBaseline.html\">EnableBaseline</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_GetBaseline.html\">GetBaseline</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_GetBaselineOperation.html\">GetBaselineOperation</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_GetEnabledBaseline.html\">GetEnabledBaseline</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_ListBaselines.html\">ListBaselines</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_ListEnabledBaselines.html\">ListEnabledBaselines</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_ResetEnabledBaseline.html\">ResetEnabledBaseline</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_UpdateEnabledBaseline.html\">UpdateEnabledBaseline</a> </p> </li> </ul> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/tagging.html\"> <i>Tagging</i> </a> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_ListTagsForResource.html\">ListTagsForResource</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_TagResource.html\">TagResource</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_UntagResource.html\">UntagResource</a> </p> </li> </ul> </li> </ul> <p>For more information about these types of resources, see the <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/what-is-control-tower.html\"> <i>Amazon Web Services Control Tower User Guide</i> </a>.</p> <p> <b>About control APIs</b> </p> <p>These interfaces allow you to apply the Amazon Web Services library of pre-defined <i>controls</i> to your organizational units, programmatically. In Amazon Web Services Control Tower, the terms \"control\" and \"guardrail\" are synonyms.</p> <p>To call these APIs, you'll need to know:</p> <ul> <li> <p>the <code>controlIdentifier</code> for the control--or guardrail--you are targeting.</p> </li> <li> <p>the ARN associated with the target organizational unit (OU), which we call the <code>targetIdentifier</code>.</p> </li> <li> <p>the ARN associated with a resource that you wish to tag or untag.</p> </li> </ul> <p> <b>To get the <code>controlIdentifier</code> for your Amazon Web Services Control Tower control:</b> </p> <p>The <code>controlIdentifier</code> is an ARN that is specified for each control. You can view the <code>controlIdentifier</code> in the console on the <b>Control details</b> page, as well as in the documentation.</p> <p> <b>About identifiers for Amazon Web Services Control Tower</b> </p> <p>The Amazon Web Services Control Tower <code>controlIdentifier</code> is unique in each Amazon Web Services Region for each control. You can find the <code>controlIdentifier</code> for each Region and control in the <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/control-metadata-tables.html\">Tables of control metadata</a> or the <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/control-region-tables.html\">Control availability by Region tables</a> in the <i>Amazon Web Services Control Tower Controls Reference Guide</i>.</p> <p>A quick-reference list of control identifers for the Amazon Web Services Control Tower legacy <i>Strongly recommended</i> and <i>Elective</i> controls is given in <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/control-identifiers.html.html\">Resource identifiers for APIs and controls</a> in the <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/control-identifiers.html\"> <i>Amazon Web Services Control Tower Controls Reference Guide</i> </a>. Remember that <i>Mandatory</i> controls cannot be added or removed.</p> <note> <p> <b>Some controls have two identifiers</b> </p> <ul> <li> <p> <b>ARN format for Amazon Web Services Control Tower:</b> <code>arn:aws:controltower:{REGION}::control/{CONTROL_TOWER_OPAQUE_ID}</code> </p> <p> <b>Example:</b> </p> <p> <code>arn:aws:controltower:us-west-2::control/AWS-GR_AUTOSCALING_LAUNCH_CONFIG_PUBLIC_IP_DISABLED</code> </p> </li> <li> <p> <b>ARN format for Amazon Web Services Control Catalog:</b> <code>arn:{PARTITION}:controlcatalog:::control/{CONTROL_CATALOG_OPAQUE_ID}</code> </p> </li> </ul> <p>You can find the <code>{CONTROL_CATALOG_OPAQUE_ID}</code> in the <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/all-global-identifiers.html\"> <i>Amazon Web Services Control Tower Controls Reference Guide</i> </a>, or in the Amazon Web Services Control Tower console, on the <b>Control details</b> page.</p> <p>The Amazon Web Services Control Tower APIs for enabled controls, such as <code>GetEnabledControl</code> and <code>ListEnabledControls</code> always return an ARN of the same type given when the control was enabled.</p> </note> <p> <b>To get the <code>targetIdentifier</code>:</b> </p> <p>The <code>targetIdentifier</code> is the ARN for an OU.</p> <p>In the Amazon Web Services Organizations console, you can find the ARN for the OU on the <b>Organizational unit details</b> page associated with that OU.</p> <note> <p> <b>OU ARN format:</b> </p> <p> <code>arn:${Partition}:organizations::${MasterAccountId}:ou/o-${OrganizationId}/ou-${OrganizationalUnitId}</code> </p> </note> <p> <b> About landing zone APIs</b> </p> <p>You can configure and launch an Amazon Web Services Control Tower landing zone with APIs. For an introduction and steps, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/getting-started-apis.html\">Getting started with Amazon Web Services Control Tower using APIs</a>.</p> <p>For an overview of landing zone API operations, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/2023-all.html#landing-zone-apis\"> Amazon Web Services Control Tower supports landing zone APIs</a>. The individual API operations for landing zones are detailed in this document, the <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_Operations.html\">API reference manual</a>, in the \"Actions\" section.</p> <p> <b>About baseline APIs</b> </p> <p>You can apply the <code>AWSControlTowerBaseline</code> baseline to an organizational unit (OU) as a way to register the OU with Amazon Web Services Control Tower, programmatically. For a general overview of this capability, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/2024-all.html#baseline-apis\">Amazon Web Services Control Tower supports APIs for OU registration and configuration with baselines</a>.</p> <p>You can call the baseline API operations to view the baselines that Amazon Web Services Control Tower enables for your landing zone, on your behalf, when setting up the landing zone. These baselines are read-only baselines.</p> <p>The individual API operations for baselines are detailed in this document, the <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/API_Operations.html\">API reference manual</a>, in the \"Actions\" section. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/baseline-api-examples.html\">Baseline API input and output examples with CLI</a>.</p> <p> <b> About Amazon Web Services Control Catalog identifiers</b> </p> <ul> <li> <p>The <code>EnableControl</code> and <code>DisableControl</code> API operations can be called by specifying either the Amazon Web Services Control Tower identifer or the Amazon Web Services Control Catalog identifier. The API response returns the same type of identifier that you specified when calling the API.</p> </li> <li> <p>If you use an Amazon Web Services Control Tower identifier to call the <code>EnableControl</code> API, and then call <code>EnableControl</code> again with an Amazon Web Services Control Catalog identifier, Amazon Web Services Control Tower returns an error message stating that the control is already enabled. Similar behavior applies to the <code>DisableControl</code> API operation. </p> </li> <li> <p>Mandatory controls and the landing-zone-level Region deny control have Amazon Web Services Control Tower identifiers only.</p> </li> </ul> <p class=\"title\"> <b>Details and examples</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/control-api-examples-short.html\">Control API input and output examples with CLI</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/baseline-api-examples.html\">Baseline API input and output examples with CLI</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/enable-controls.html\">Enable controls with CloudFormation</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/lz-apis-cfn-setup.html\">Launch a landing zone with CloudFormation</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/control-metadata-tables.html\">Control metadata tables (large page)</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/control-region-tables.html\">Control availability by Region tables (large page)</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/control-identifiers.html\">List of identifiers for legacy controls</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/controls.html\">Controls reference guide</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/controls-reference.html\">Controls library groupings</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/creating-resources-with-cloudformation.html\">Creating Amazon Web Services Control Tower resources with Amazon Web Services CloudFormation</a> </p> </li> </ul> <p>To view the open source resource repository on GitHub, see <a href=\"https://github.com/aws-cloudformation/aws-cloudformation-resource-providers-controltower\">aws-cloudformation/aws-cloudformation-resource-providers-controltower</a> </p> <p> <b>Recording API Requests</b> </p> <p>Amazon Web Services Control Tower supports Amazon Web Services CloudTrail, a service that records Amazon Web Services API calls for your Amazon Web Services account and delivers log files to an Amazon S3 bucket. By using information collected by CloudTrail, you can determine which requests the Amazon Web Services Control Tower service received, who made the request and when, and so on. For more about Amazon Web Services Control Tower and its support for CloudTrail, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/logging-using-cloudtrail.html\">Logging Amazon Web Services Control Tower Actions with Amazon Web Services CloudTrail</a> in the Amazon Web Services Control Tower User Guide. To learn more about CloudTrail, including how to turn it on and find your log files, see the Amazon Web Services CloudTrail User Guide.</p>",
        "smithy.api#title": "AWS Control Tower",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://controltower-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://controltower-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://controltower.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://controltower.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.controltower#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.controltower#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[0-9a-zA-Z_\\-:\\/]+$"
      }
    },
    "com.amazonaws.controltower#BaselineArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:[a-z-]+:controltower:[a-z0-9-]*:[0-9]{0,12}:baseline/[A-Z0-9]{16}$"
      }
    },
    "com.amazonaws.controltower#BaselineOperation": {
      "type": "structure",
      "members": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the specified operation.</p>"
          }
        },
        "operationType": {
          "target": "com.amazonaws.controltower#BaselineOperationType",
          "traits": {
            "smithy.api#documentation": "<p>An enumerated type (<code>enum</code>) with possible values of <code>ENABLE_BASELINE</code>, <code>DISABLE_BASELINE</code>, <code>UPDATE_ENABLED_BASELINE</code>, or <code>RESET_ENABLED_BASELINE</code>.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.controltower#BaselineOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>An enumerated type (<code>enum</code>) with possible values of <code>SUCCEEDED</code>, <code>FAILED</code>, or <code>IN_PROGRESS</code>.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.controltower#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the operation, in ISO 8601 format.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.controltower#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the operation (if applicable), in ISO 8601 format.</p>"
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A status message that gives more information about the operation's status, if applicable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object of shape <code>BaselineOperation</code>, returning details about the specified <code>Baseline</code> operation ID.</p>"
      }
    },
    "com.amazonaws.controltower#BaselineOperationResource": {
      "type": "resource",
      "identifiers": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier"
        }
      },
      "read": {
        "target": "com.amazonaws.controltower#GetBaselineOperation"
      }
    },
    "com.amazonaws.controltower#BaselineOperationStatus": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        }
      }
    },
    "com.amazonaws.controltower#BaselineOperationType": {
      "type": "enum",
      "members": {
        "ENABLE_BASELINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLE_BASELINE"
          }
        },
        "DISABLE_BASELINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_BASELINE"
          }
        },
        "UPDATE_ENABLED_BASELINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_ENABLED_BASELINE"
          }
        },
        "RESET_ENABLED_BASELINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESET_ENABLED_BASELINE"
          }
        }
      }
    },
    "com.amazonaws.controltower#BaselineResource": {
      "type": "resource",
      "identifiers": {
        "baselineIdentifier": {
          "target": "com.amazonaws.controltower#BaselineArn"
        }
      },
      "read": {
        "target": "com.amazonaws.controltower#GetBaseline"
      },
      "list": {
        "target": "com.amazonaws.controltower#ListBaselines"
      }
    },
    "com.amazonaws.controltower#BaselineSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The full ARN of a Baseline.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable name of a Baseline.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A summary description of a Baseline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns a summary of information about a <code>Baseline</code> object.</p>"
      }
    },
    "com.amazonaws.controltower#BaselineVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^\\d+(?:\\.\\d+){0,2}$"
      }
    },
    "com.amazonaws.controltower#Baselines": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#BaselineSummary"
      }
    },
    "com.amazonaws.controltower#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting the resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.controltower#ControlIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[0-9a-zA-Z_\\-:\\/]+$"
      }
    },
    "com.amazonaws.controltower#ControlIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#ControlIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.controltower#ControlOperation": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.amazonaws.controltower#ControlOperationType",
          "traits": {
            "smithy.api#documentation": "<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.controltower#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the operation began.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "endTime": {
          "target": "com.amazonaws.controltower#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the operation finished.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "status": {
          "target": "com.amazonaws.controltower#ControlOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>"
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If the operation result is <code>FAILED</code>, this string contains a message explaining why the operation failed.</p>"
          }
        },
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the specified operation.</p>"
          }
        },
        "controlIdentifier": {
          "target": "com.amazonaws.controltower#ControlIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>controlIdentifier</code> of the control for the operation.</p>"
          }
        },
        "targetIdentifier": {
          "target": "com.amazonaws.controltower#TargetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The target upon which the control operation is working.</p>"
          }
        },
        "enabledControlIdentifier": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>controlIdentifier</code> of the enabled control.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An operation performed by the control.</p>"
      }
    },
    "com.amazonaws.controltower#ControlOperationFilter": {
      "type": "structure",
      "members": {
        "controlIdentifiers": {
          "target": "com.amazonaws.controltower#ControlIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>The set of <code>controlIdentifier</code> returned by the filter.</p>"
          }
        },
        "targetIdentifiers": {
          "target": "com.amazonaws.controltower#TargetIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>The set of <code>targetIdentifier</code> objects returned by the filter.</p>"
          }
        },
        "enabledControlIdentifiers": {
          "target": "com.amazonaws.controltower#EnabledControlIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>The set <code>controlIdentifier</code> of enabled controls selected by the filter.</p>"
          }
        },
        "statuses": {
          "target": "com.amazonaws.controltower#ControlOperationStatuses",
          "traits": {
            "smithy.api#documentation": "<p>Lists the status of control operations.</p>"
          }
        },
        "controlOperationTypes": {
          "target": "com.amazonaws.controltower#ControlOperationTypes",
          "traits": {
            "smithy.api#documentation": "<p>The set of <code>ControlOperation</code> objects returned by the filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter object that lets you call <code>ListControlOperations</code> with a specific filter.</p>"
      }
    },
    "com.amazonaws.controltower#ControlOperationResource": {
      "type": "resource",
      "identifiers": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier"
        }
      },
      "read": {
        "target": "com.amazonaws.controltower#GetControlOperation"
      },
      "list": {
        "target": "com.amazonaws.controltower#ListControlOperations"
      }
    },
    "com.amazonaws.controltower#ControlOperationStatus": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        }
      }
    },
    "com.amazonaws.controltower#ControlOperationStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#ControlOperationStatus"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.controltower#ControlOperationSummary": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.amazonaws.controltower#ControlOperationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of operation.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.controltower#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a control operation began.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "endTime": {
          "target": "com.amazonaws.controltower#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the control operation was completed.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "status": {
          "target": "com.amazonaws.controltower#ControlOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the specified control operation.</p>"
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A speficic message displayed as part of the control status.</p>"
          }
        },
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a control operation.</p>"
          }
        },
        "controlIdentifier": {
          "target": "com.amazonaws.controltower#ControlIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>controlIdentifier</code> of a control.</p>"
          }
        },
        "targetIdentifier": {
          "target": "com.amazonaws.controltower#TargetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the target of a control operation.</p>"
          }
        },
        "enabledControlIdentifier": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>controlIdentifier</code> of an enabled control.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of information about the specified control operation.</p>"
      }
    },
    "com.amazonaws.controltower#ControlOperationType": {
      "type": "enum",
      "members": {
        "ENABLE_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLE_CONTROL"
          }
        },
        "DISABLE_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_CONTROL"
          }
        },
        "UPDATE_ENABLED_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_ENABLED_CONTROL"
          }
        },
        "RESET_ENABLED_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESET_ENABLED_CONTROL"
          }
        }
      }
    },
    "com.amazonaws.controltower#ControlOperationTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#ControlOperationType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.controltower#ControlOperations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#ControlOperationSummary"
      }
    },
    "com.amazonaws.controltower#CreateLandingZone": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#CreateLandingZoneInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#CreateLandingZoneOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#ConflictException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new landing zone. This API call starts an asynchronous operation that creates and configures a landing zone, based on the parameters specified in the manifest JSON file.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/create-landingzone"
        }
      }
    },
    "com.amazonaws.controltower#CreateLandingZoneInput": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.amazonaws.controltower#LandingZoneVersion",
          "traits": {
            "smithy.api#documentation": "<p>The landing zone version, for example, 3.0.</p>",
            "smithy.api#required": {}
          }
        },
        "manifest": {
          "target": "com.amazonaws.controltower#Manifest",
          "traits": {
            "smithy.api#documentation": "<p>The manifest JSON file is a text file that describes your Amazon Web Services resources. For examples, review <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/lz-api-launch\">Launch your landing zone</a>. </p>",
            "smithy.api#required": {}
          }
        },
        "remediationTypes": {
          "target": "com.amazonaws.controltower#RemediationTypes",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the types of remediation actions to apply when creating the landing zone, such as automatic drift correction or compliance enforcement.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.controltower#TagMap",
          "traits": {
            "aws.cloudformation#cfnMutability": "write",
            "smithy.api#documentation": "<p>Tags to be applied to the landing zone. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.controltower#CreateLandingZoneOutput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the landing zone resource.</p>",
            "smithy.api#required": {}
          }
        },
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier assigned to a <code>CreateLandingZone</code> operation. You can use this identifier as an input of <code>GetLandingZoneOperation</code> to check the operation's status.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.controltower#DeleteLandingZone": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#DeleteLandingZoneInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#DeleteLandingZoneOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#ConflictException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Decommissions a landing zone. This API call starts an asynchronous operation that deletes Amazon Web Services Control Tower resources deployed in accounts managed by Amazon Web Services Control Tower.</p> <p>Decommissioning a landing zone is a process with significant consequences, and it cannot be undone. We strongly recommend that you perform this decommissioning process only if you intend to stop using your landing zone.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/delete-landingzone"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.controltower#DeleteLandingZoneInput": {
      "type": "structure",
      "members": {
        "landingZoneIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the landing zone.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.controltower#DeleteLandingZoneOutput": {
      "type": "structure",
      "members": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>&gt;A unique identifier assigned to a <code>DeleteLandingZone</code> operation. You can use this identifier as an input parameter of <code>GetLandingZoneOperation</code> to check the operation's status.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.controltower#DisableBaseline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#DisableBaselineInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#DisableBaselineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#ConflictException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.controltower#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disable an <code>EnabledBaseline</code> resource on the specified Target. This API starts an asynchronous operation to remove all resources deployed as part of the baseline enablement. The resource will vary depending on the enabled baseline. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/baseline-api-examples.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/disable-baseline"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.controltower#DisableBaselineInput": {
      "type": "structure",
      "members": {
        "enabledBaselineIdentifier": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the <code>EnabledBaseline</code> resource to be deactivated, in ARN format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.controltower#DisableBaselineOutput": {
      "type": "structure",
      "members": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID (in UUID format) of the asynchronous <code>DisableBaseline</code> operation. This <code>operationIdentifier</code> is used to track status through calls to the <code>GetBaselineOperation</code> API.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.controltower#DisableControl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#DisableControlInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#DisableControlOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#ConflictException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.controltower#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API call turns off a control. It starts an asynchronous operation that deletes Amazon Web Services resources on the specified organizational unit and the accounts it contains. The resources will vary according to the control that you specify. For usage examples, see the <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/control-api-examples-short.html\"> <i>Controls Reference Guide</i> </a>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/disable-control"
        }
      }
    },
    "com.amazonaws.controltower#DisableControlInput": {
      "type": "structure",
      "members": {
        "controlIdentifier": {
          "target": "com.amazonaws.controltower#ControlIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> control. For information on how to find the <code>controlIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>"
          }
        },
        "targetIdentifier": {
          "target": "com.amazonaws.controltower#TargetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organizational unit. For information on how to find the <code>targetIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>"
          }
        },
        "enabledControlIdentifier": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the enabled control to be disabled, which uniquely identifies the control instance on the target organizational unit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.controltower#DisableControlOutput": {
      "type": "structure",
      "members": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.controltower#DriftStatus": {
      "type": "enum",
      "members": {
        "DRIFTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIFTED"
          }
        },
        "IN_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_SYNC"
          }
        },
        "NOT_CHECKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CHECKING"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.controltower#DriftStatusSummary": {
      "type": "structure",
      "members": {
        "driftStatus": {
          "target": "com.amazonaws.controltower#DriftStatus",
          "traits": {
            "smithy.api#documentation": "<p> The drift status of the enabled control.</p> <p>Valid values:</p> <ul> <li> <p> <code>DRIFTED</code>: The <code>enabledControl</code> deployed in this configuration doesn’t match the configuration that Amazon Web Services Control Tower expected. </p> </li> <li> <p> <code>IN_SYNC</code>: The <code>enabledControl</code> deployed in this configuration matches the configuration that Amazon Web Services Control Tower expected.</p> </li> <li> <p> <code>NOT_CHECKING</code>: Amazon Web Services Control Tower does not check drift for this enabled control. Drift is not supported for the control type.</p> </li> <li> <p> <code>UNKNOWN</code>: Amazon Web Services Control Tower is not able to check the drift status for the enabled control. </p> </li> </ul>"
          }
        },
        "types": {
          "target": "com.amazonaws.controltower#EnabledControlDriftTypes",
          "traits": {
            "smithy.api#documentation": "<p>An object that categorizes the different types of drift detected for the enabled control.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The drift summary of the enabled control.</p> <p>Amazon Web Services Control Tower expects the enabled control configuration to include all supported and governed Regions. If the enabled control differs from the expected configuration, it is defined to be in a state of drift. You can repair this drift by resetting the enabled control.</p>"
      }
    },
    "com.amazonaws.controltower#DriftStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#DriftStatus"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.controltower#EnableBaseline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#EnableBaselineInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#EnableBaselineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#ConflictException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.controltower#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enable (apply) a <code>Baseline</code> to a Target. This API starts an asynchronous operation to deploy resources specified by the <code>Baseline</code> to the specified Target. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/baseline-api-examples.html\"> <i>the Amazon Web Services Control Tower User Guide</i> </a>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/enable-baseline"
        }
      }
    },
    "com.amazonaws.controltower#EnableBaselineInput": {
      "type": "structure",
      "members": {
        "baselineVersion": {
          "target": "com.amazonaws.controltower#BaselineVersion",
          "traits": {
            "smithy.api#documentation": "<p>The specific version to be enabled of the specified baseline.</p>",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.amazonaws.controltower#EnabledBaselineParameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>key-value</code> objects that specify enablement parameters, where <code>key</code> is a string and <code>value</code> is a document of any type.</p>"
          }
        },
        "baselineIdentifier": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the baseline to be enabled.</p>",
            "smithy.api#required": {}
          }
        },
        "targetIdentifier": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the target on which the baseline will be enabled. Only OUs are supported as targets.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.controltower#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with input to <code>EnableBaseline</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.controltower#EnableBaselineOutput": {
      "type": "structure",
      "members": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID (in UUID format) of the asynchronous <code>EnableBaseline</code> operation. This <code>operationIdentifier</code> is used to track status through calls to the <code>GetBaselineOperation</code> API.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>EnabledBaseline</code> resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.controltower#EnableControl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#EnableControlInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#EnableControlOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#ConflictException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.controltower#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API call activates a control. It starts an asynchronous operation that creates Amazon Web Services resources on the specified organizational unit and the accounts it contains. The resources created will vary according to the control that you specify. For usage examples, see the <a href=\"https://docs.aws.amazon.com/controltower/latest/controlreference/control-api-examples-short.html\"> <i>Controls Reference Guide</i> </a>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/enable-control"
        }
      }
    },
    "com.amazonaws.controltower#EnableControlInput": {
      "type": "structure",
      "members": {
        "controlIdentifier": {
          "target": "com.amazonaws.controltower#ControlIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the control. Only <b>Strongly recommended</b> and <b>Elective</b> controls are permitted, with the exception of the <b>Region deny</b> control. For information on how to find the <code>controlIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "targetIdentifier": {
          "target": "com.amazonaws.controltower#TargetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organizational unit. For information on how to find the <code>targetIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.controltower#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags to be applied to the <code>EnabledControl</code> resource.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.controltower#EnabledControlParameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of input parameter values, which are specified to configure the control when you enable it.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.controltower#EnableControlOutput": {
      "type": "structure",
      "members": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asynchronous operation, which is used to track status. The operation is available for 90 days.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>EnabledControl</code> resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.controltower#EnabledBaselineBaselineIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.controltower#EnabledBaselineDetails": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>EnabledBaseline</code> resource.</p>",
            "smithy.api#required": {}
          }
        },
        "baselineIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The specific <code>Baseline</code> enabled as part of the <code>EnabledBaseline</code> resource.</p>",
            "smithy.api#required": {}
          }
        },
        "baselineVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The enabled version of the <code>Baseline</code>.</p>"
          }
        },
        "driftStatusSummary": {
          "target": "com.amazonaws.controltower#EnabledBaselineDriftStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>The drift status of the enabled baseline.</p>"
          }
        },
        "targetIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The target on which to enable the <code>Baseline</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "parentIdentifier": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that represents the parent <code>EnabledBaseline</code> at the Organizational Unit (OU) level, from which the child <code>EnabledBaseline</code> inherits its configuration. The value is returned by <code>GetEnabledBaseline</code>.</p>"
          }
        },
        "statusSummary": {
          "target": "com.amazonaws.controltower#EnablementStatusSummary",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.amazonaws.controltower#EnabledBaselineParameterSummaries",
          "traits": {
            "smithy.api#documentation": "<p>Shows the parameters that are applied when enabling this <code>Baseline</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the <code>EnabledBaseline</code> resource.</p>"
      }
    },
    "com.amazonaws.controltower#EnabledBaselineDriftStatus": {
      "type": "enum",
      "members": {
        "IN_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_SYNC"
          }
        },
        "DRIFTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRIFTED"
          }
        }
      }
    },
    "com.amazonaws.controltower#EnabledBaselineDriftStatusSummary": {
      "type": "structure",
      "members": {
        "types": {
          "target": "com.amazonaws.controltower#EnabledBaselineDriftTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of drift that can be detected for an enabled baseline. Amazon Web Services Control Tower detects inheritance drift on enabled baselines that apply at the OU level. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The drift summary of the enabled baseline. Amazon Web Services Control Tower reports inheritance drift when an enabled baseline configuration of a member account is different than the configuration that applies to the OU. Amazon Web Services Control Tower reports this type of drift for a parent or child enabled baseline. One way to repair this drift by resetting the parent enabled baseline, on the OU.</p> <p>For example, you may see this type of drift if you move accounts between OUs, but the accounts are not yet (re-)enrolled.</p>"
      }
    },
    "com.amazonaws.controltower#EnabledBaselineDriftStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#EnabledBaselineDriftStatus"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.controltower#EnabledBaselineDriftTypes": {
      "type": "structure",
      "members": {
        "inheritance": {
          "target": "com.amazonaws.controltower#EnabledBaselineInheritanceDrift",
          "traits": {
            "smithy.api#documentation": "<p>At least one account within the target OU does not match the baseline configuration defined on that OU. An account is in inheritance drift when it does not match the configuration of a parent OU, possibly a new parent OU, if the account is moved. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The types of drift that can be detected for an enabled baseline.</p> <ul> <li> <p> Amazon Web Services Control Tower detects inheritance drift on the enabled baselines that target OUs: <code>AWSControlTowerBaseline</code> and <code>BackupBaseline</code>. </p> </li> <li> <p>Amazon Web Services Control Tower does not detect drift on the baselines that apply to your landing zone: <code>IdentityCenterBaseline</code>, <code>AuditBaseline</code>, <code>LogArchiveBaseline</code>, <code>BackupCentralVaultBaseline</code>, or <code>BackupAdminBaseline</code>. For more information, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/types-of-baselines.html\">Types of baselines</a>.</p> </li> </ul> <p>Baselines enabled on an OU are inherited by its member accounts as child <code>EnabledBaseline</code> resources. The baseline on the OU serves as the parent <code>EnabledBaseline</code>, which governs the configuration of each child <code>EnabledBaseline</code>.</p> <p>If the baseline configuration of a member account in an OU does not match the configuration of the parent OU, the parent and child baseline is in a state of inheritance drift. This drift could occur in the <code>AWSControlTowerBaseline</code> or the <code>BackupBaseline</code> related to that account.</p>"
      }
    },
    "com.amazonaws.controltower#EnabledBaselineEnablementStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#EnablementStatus"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.controltower#EnabledBaselineFilter": {
      "type": "structure",
      "members": {
        "targetIdentifiers": {
          "target": "com.amazonaws.controltower#EnabledBaselineTargetIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>Identifiers for the targets of the <code>Baseline</code> filter operation.</p>"
          }
        },
        "baselineIdentifiers": {
          "target": "com.amazonaws.controltower#EnabledBaselineBaselineIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>Identifiers for the <code>Baseline</code> objects returned as part of the filter operation.</p>"
          }
        },
        "parentIdentifiers": {
          "target": "com.amazonaws.controltower#EnabledBaselineParentIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>An optional filter that sets up a list of <code>parentIdentifiers</code> to filter the results of the <code>ListEnabledBaseline</code> output.</p>"
          }
        },
        "statuses": {
          "target": "com.amazonaws.controltower#EnabledBaselineEnablementStatuses",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>EnablementStatus</code> items.</p>"
          }
        },
        "inheritanceDriftStatuses": {
          "target": "com.amazonaws.controltower#EnabledBaselineDriftStatuses",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>EnabledBaselineDriftStatus</code> items for enabled baselines.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter applied on the <code>ListEnabledBaseline</code> operation. Allowed filters are <code>baselineIdentifiers</code> and <code>targetIdentifiers</code>. The filter can be applied for either, or both.</p>"
      }
    },
    "com.amazonaws.controltower#EnabledBaselineInheritanceDrift": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.controltower#EnabledBaselineDriftStatus",
          "traits": {
            "smithy.api#documentation": "<p>The inheritance drift status for enabled baselines.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The inheritance drift summary for the enabled baseline. Inheritance drift occurs when any accounts in the target OU do not match the baseline configuration defined on that OU. </p>"
      }
    },
    "com.amazonaws.controltower#EnabledBaselineParameter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A string denoting the parameter key.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.controltower#EnabledBaselineParameterDocument",
          "traits": {
            "smithy.api#documentation": "<p>A low-level <code>Document</code> object of any type (for example, a Java Object).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A key-value parameter to an <code>EnabledBaseline</code> resource.</p>"
      }
    },
    "com.amazonaws.controltower#EnabledBaselineParameterDocument": {
      "type": "document"
    },
    "com.amazonaws.controltower#EnabledBaselineParameterSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#EnabledBaselineParameterSummary"
      }
    },
    "com.amazonaws.controltower#EnabledBaselineParameterSummary": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A string denoting the parameter key.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.controltower#EnabledBaselineParameterDocument",
          "traits": {
            "smithy.api#documentation": "<p>A low-level document object of any type (for example, a Java Object).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of an applied parameter to an <code>EnabledBaseline</code> resource. </p>"
      }
    },
    "com.amazonaws.controltower#EnabledBaselineParameters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#EnabledBaselineParameter"
      }
    },
    "com.amazonaws.controltower#EnabledBaselineParentIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.controltower#EnabledBaselineResource": {
      "type": "resource",
      "identifiers": {
        "enabledBaselineIdentifier": {
          "target": "com.amazonaws.controltower#Arn"
        }
      },
      "create": {
        "target": "com.amazonaws.controltower#EnableBaseline"
      },
      "read": {
        "target": "com.amazonaws.controltower#GetEnabledBaseline"
      },
      "update": {
        "target": "com.amazonaws.controltower#UpdateEnabledBaseline"
      },
      "delete": {
        "target": "com.amazonaws.controltower#DisableBaseline"
      },
      "list": {
        "target": "com.amazonaws.controltower#ListEnabledBaselines"
      },
      "operations": [
        {
          "target": "com.amazonaws.controltower#ResetEnabledBaseline"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "enabledbaseline/{enabledBaselineIdentifier}"
        }
      }
    },
    "com.amazonaws.controltower#EnabledBaselineSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>EnabledBaseline</code> resource</p>",
            "smithy.api#required": {}
          }
        },
        "baselineIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The specific baseline that is enabled as part of the <code>EnabledBaseline</code> resource.</p>",
            "smithy.api#required": {}
          }
        },
        "baselineVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The enabled version of the baseline.</p>"
          }
        },
        "driftStatusSummary": {
          "target": "com.amazonaws.controltower#EnabledBaselineDriftStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>The drift status of the enabled baseline.</p>"
          }
        },
        "targetIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The target upon which the baseline is enabled.</p>",
            "smithy.api#required": {}
          }
        },
        "parentIdentifier": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that represents an object returned by <code>ListEnabledBaseline</code>, to describe an enabled baseline.</p>"
          }
        },
        "statusSummary": {
          "target": "com.amazonaws.controltower#EnablementStatusSummary",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns a summary of information about an <code>EnabledBaseline</code> object.</p>"
      }
    },
    "com.amazonaws.controltower#EnabledBaselineTargetIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.controltower#EnabledBaselines": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#EnabledBaselineSummary"
      }
    },
    "com.amazonaws.controltower#EnabledControlDetails": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the enabled control.</p>"
          }
        },
        "controlIdentifier": {
          "target": "com.amazonaws.controltower#ControlIdentifier",
          "traits": {
[...]
