{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.controltower#AWSControlTowerApis": {
      "type": "service",
      "version": "2018-05-10",
      "operations": [
        {
          "target": "com.amazonaws.controltower#DisableControl"
        },
        {
          "target": "com.amazonaws.controltower#EnableControl"
        },
        {
          "target": "com.amazonaws.controltower#GetControlOperation"
        },
        {
          "target": "com.amazonaws.controltower#GetEnabledControl"
        },
        {
          "target": "com.amazonaws.controltower#ListEnabledControls"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ControlTower",
          "arnNamespace": "controltower",
          "endpointPrefix": "controltower",
          "cloudTrailEventSource": "controltower.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "controltower"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id",
            "content-length",
            "x-api-key",
            "authorization",
            "x-amz-date",
            "x-amz-security-token"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"]
        },
        "smithy.api#documentation": "<p>These interfaces allow you to apply the AWS library of pre-defined\n      <i>controls</i> to your organizational units, programmatically. In AWS Control Tower, the terms \"control\" and \"guardrail\" are synonyms.   .</p>\n         <p>To call these APIs, you'll need to know:</p>\n         <ul>\n            <li>\n               <p>the <code>controlIdentifier</code> for the control--or guardrail--you are targeting.</p>\n            </li>\n            <li>\n               <p>the ARN associated with the target organizational unit (OU), which we call the <code>targetIdentifier</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>To get the <code>controlIdentifier</code> for your AWS Control Tower\n        control:</b>\n         </p>\n         <p>The <code>controlIdentifier</code> is an ARN that is specified for each\n      control. You can view the <code>controlIdentifier</code> in the console on the <b>Control details</b> page, as well as in the documentation.</p>\n         <p>The <code>controlIdentifier</code> is unique in each AWS Region for each control. You can\n      find the <code>controlIdentifier</code> for each Region and control in the <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-metadata-tables.html\">Tables of control metadata</a> in the <i>AWS Control Tower User Guide.</i>\n         </p>\n         <p>A quick-reference list of control identifers for the AWS Control Tower legacy <i>Strongly recommended</i> and\n        <i>Elective</i> controls is given in <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-identifiers.html.html\">Resource identifiers for\n        APIs and guardrails</a> in the <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-identifiers.html\">Controls reference guide section</a>\n      of the <i>AWS Control Tower User Guide</i>. Remember that <i>Mandatory</i> controls\n      cannot be added or removed.</p>\n         <note>\n            <p>\n               <b>ARN format:</b>\n               <code>arn:aws:controltower:{REGION}::control/{CONTROL_NAME}</code>\n            </p>\n            <p>\n               <b>Example:</b>\n            </p>\n            <p>\n               <code>arn:aws:controltower:us-west-2::control/AWS-GR_AUTOSCALING_LAUNCH_CONFIG_PUBLIC_IP_DISABLED</code>\n            </p>\n         </note>\n         <p>\n            <b>To get the <code>targetIdentifier</code>:</b>\n         </p>\n         <p>The <code>targetIdentifier</code> is the ARN for an OU.</p>\n         <p>In the AWS Organizations console, you can find the ARN for the OU on the <b>Organizational unit details</b> page associated with that OU.</p>\n         <note>\n            <p>\n               <b>OU ARN format:</b>\n            </p>\n            <p>\n               <code>arn:${Partition}:organizations::${MasterAccountId}:ou/o-${OrganizationId}/ou-${OrganizationalUnitId}</code>\n            </p>\n         </note>\n         <p class=\"title\">\n            <b>Details and examples</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\">Control API input and output examples with CLI</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/enable-controls.html\">Enable controls with CloudFormation</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-metadata-tables.html\">Control metadata tables</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-identifiers.html\">List of identifiers for legacy controls</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/controls.html\">Controls reference guide</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/controls-reference.html\">Controls library groupings</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/creating-resources-with-cloudformation.html\">Creating AWS Control Tower resources with AWS CloudFormation</a>\n               </p>\n            </li>\n         </ul>\n         <p>To view the open source resource repository on GitHub, see <a href=\"https://github.com/aws-cloudformation/aws-cloudformation-resource-providers-controltower\">aws-cloudformation/aws-cloudformation-resource-providers-controltower</a>\n         </p>\n         <p>\n            <b>Recording API Requests</b>\n         </p>\n         <p>AWS Control Tower supports AWS CloudTrail, a service that records AWS API calls for your\n      AWS account and delivers log files to an Amazon S3 bucket. By using information collected by\n      CloudTrail, you can determine which requests the AWS Control Tower service received, who made\n      the request and when, and so on. For more about AWS Control Tower and its support for\n      CloudTrail, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/logging-using-cloudtrail.html\">Logging AWS Control Tower\n        Actions with AWS CloudTrail</a> in the AWS Control Tower User Guide. To learn more about\n      CloudTrail, including how to turn it on and find your log files, see the AWS CloudTrail User\n      Guide.</p>",
        "smithy.api#title": "AWS Control Tower",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://controltower-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://controltower-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://controltower.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://controltower.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://controltower.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.controltower#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>User does not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.controltower#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[0-9a-zA-Z_\\-:\\/]+$"
      }
    },
    "com.amazonaws.controltower#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.controltower#ControlIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[0-9a-zA-Z_\\-:\\/]+$"
      }
    },
    "com.amazonaws.controltower#ControlOperation": {
      "type": "structure",
      "members": {
        "operationType": {
          "target": "com.amazonaws.controltower#ControlOperationType",
          "traits": {
            "smithy.api#documentation": "<p>One of <code>ENABLE_CONTROL</code> or <code>DISABLE_CONTROL</code>.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.controltower#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the operation began.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "endTime": {
          "target": "com.amazonaws.controltower#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the operation finished.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "status": {
          "target": "com.amazonaws.controltower#ControlOperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>One of <code>IN_PROGRESS</code>, <code>SUCEEDED</code>, or <code>FAILED</code>.</p>"
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If the operation result is <code>FAILED</code>, this string contains a message explaining\n      why the operation failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An operation performed by the control.</p>"
      }
    },
    "com.amazonaws.controltower#ControlOperationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SUCCEEDED",
            "value": "SUCCEEDED"
          },
          {
            "name": "FAILED",
            "value": "FAILED"
          },
          {
            "name": "IN_PROGRESS",
            "value": "IN_PROGRESS"
          }
        ]
      }
    },
    "com.amazonaws.controltower#ControlOperationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ENABLE_CONTROL",
            "value": "ENABLE_CONTROL"
          },
          {
            "name": "DISABLE_CONTROL",
            "value": "DISABLE_CONTROL"
          }
        ]
      }
    },
    "com.amazonaws.controltower#DisableControl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#DisableControlInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#DisableControlOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#ConflictException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.controltower#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API call turns off a control. It starts an asynchronous operation that deletes AWS\n      resources on the specified organizational unit and the accounts it contains. The resources\n      will vary according to the control that you specify. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\">\n               <i>the AWS Control Tower User Guide</i>\n            </a>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/disable-control"
        }
      }
    },
    "com.amazonaws.controltower#DisableControlInput": {
      "type": "structure",
      "members": {
        "controlIdentifier": {
          "target": "com.amazonaws.controltower#ControlIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the control. Only <b>Strongly recommended</b> and\n        <b>Elective</b> controls are permitted, with the exception of the\n      <b>Region deny</b> control. For information on how to find the <code>controlIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "targetIdentifier": {
          "target": "com.amazonaws.controltower#TargetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organizational unit. For information on how to find the <code>targetIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.controltower#DisableControlOutput": {
      "type": "structure",
      "members": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asynchronous operation, which is used to track status. The operation is\n      available for 90 days.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.controltower#DriftStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "DRIFTED",
            "value": "DRIFTED"
          },
          {
            "name": "IN_SYNC",
            "value": "IN_SYNC"
          },
          {
            "name": "NOT_CHECKING",
            "value": "NOT_CHECKING"
          },
          {
            "name": "UNKNOWN",
            "value": "UNKNOWN"
          }
        ]
      }
    },
    "com.amazonaws.controltower#DriftStatusSummary": {
      "type": "structure",
      "members": {
        "driftStatus": {
          "target": "com.amazonaws.controltower#DriftStatus",
          "traits": {
            "smithy.api#documentation": "<p> The drift status of the enabled control.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DRIFTED</code>: The <code>enabledControl</code> deployed in this configuration\n          doesn’t match the configuration that AWS Control Tower expected. </p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_SYNC</code>: The <code>enabledControl</code> deployed in this configuration matches\n          the configuration that AWS Control Tower expected.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_CHECKING</code>: AWS Control Tower does not check drift for this enabled\n          control. Drift is not supported for the control type.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UNKNOWN</code>: AWS Control Tower is not able to check the drift status for the\n          enabled control. </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The drift summary of the enabled control.</p>\n         <p>AWS Control Tower expects the enabled control\n      configuration to include all supported and governed Regions. If the enabled control differs\n      from the expected configuration, it is defined to be in a state of drift. You can repair this drift by resetting the enabled control.</p>"
      }
    },
    "com.amazonaws.controltower#EnableControl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#EnableControlInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#EnableControlOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#ConflictException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.controltower#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API call activates a control. It starts an asynchronous operation that creates AWS\n      resources on the specified organizational unit and the accounts it contains. The resources\n      created will vary according to the control that you specify. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\">\n               <i>the AWS Control Tower User Guide</i>\n            </a>\n         </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/enable-control"
        }
      }
    },
    "com.amazonaws.controltower#EnableControlInput": {
      "type": "structure",
      "members": {
        "controlIdentifier": {
          "target": "com.amazonaws.controltower#ControlIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the control. Only <b>Strongly recommended</b> and\n        <b>Elective</b> controls are permitted, with the exception of the\n      <b>Region deny</b> control. For information on how to find the <code>controlIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "targetIdentifier": {
          "target": "com.amazonaws.controltower#TargetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organizational unit. For information on how to find the <code>targetIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.controltower#EnableControlOutput": {
      "type": "structure",
      "members": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asynchronous operation, which is used to track status. The operation is\n      available for 90 days.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.controltower#EnabledControlDetails": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n        The ARN of the enabled control.\n      </p>"
          }
        },
        "controlIdentifier": {
          "target": "com.amazonaws.controltower#ControlIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n        The control identifier of the enabled control. For information on how to find the <code>controlIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.\n      </p>"
          }
        },
        "targetIdentifier": {
          "target": "com.amazonaws.controltower#TargetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n        The ARN of the organizational unit. For information on how to find the <code>targetIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.\n      </p>"
          }
        },
        "targetRegions": {
          "target": "com.amazonaws.controltower#TargetRegions",
          "traits": {
            "smithy.api#documentation": "<p>\n        Target AWS Regions for the enabled control.\n      </p>"
          }
        },
        "statusSummary": {
          "target": "com.amazonaws.controltower#EnablementStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>\n        The deployment summary of the enabled control.\n      </p>"
          }
        },
        "driftStatusSummary": {
          "target": "com.amazonaws.controltower#DriftStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>\n        The drift status of the enabled control.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n        Information about the enabled control.\n      </p>"
      }
    },
    "com.amazonaws.controltower#EnabledControlSummary": {
      "type": "structure",
      "members": {
        "controlIdentifier": {
          "target": "com.amazonaws.controltower#ControlIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the control. Only <b>Strongly recommended</b> and\n        <b>Elective</b> controls are permitted, with the exception of the\n      <b>Region deny</b> control. For information on how to find the <code>controlIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n        The ARN of the enabled control.\n      </p>"
          }
        },
        "targetIdentifier": {
          "target": "com.amazonaws.controltower#TargetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n        The ARN of the organizational unit.\n      </p>"
          }
        },
        "statusSummary": {
          "target": "com.amazonaws.controltower#EnablementStatusSummary",
          "traits": {
            "smithy.api#documentation": ""
          }
        },
        "driftStatusSummary": {
          "target": "com.amazonaws.controltower#DriftStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>\n        The drift status of the enabled control.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of enabled controls.</p>"
      }
    },
    "com.amazonaws.controltower#EnabledControls": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#EnabledControlSummary"
      }
    },
    "com.amazonaws.controltower#EnablementStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SUCCEEDED",
            "value": "SUCCEEDED"
          },
          {
            "name": "FAILED",
            "value": "FAILED"
          },
          {
            "name": "UNDER_CHANGE",
            "value": "UNDER_CHANGE"
          }
        ]
      }
    },
    "com.amazonaws.controltower#EnablementStatusSummary": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.controltower#EnablementStatus",
          "traits": {
            "smithy.api#documentation": "<p> The deployment status of the enabled control.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code>: The <code>enabledControl</code> configuration was deployed successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UNDER_CHANGE</code>: The <code>enabledControl</code> configuration is changing. </p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code>: The <code>enabledControl</code> configuration failed to deploy.</p>\n            </li>\n         </ul>"
          }
        },
        "lastOperationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n        The last operation identifier for the enabled control.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>        \n        The deployment summary of the enabled control.       \n      </p>"
      }
    },
    "com.amazonaws.controltower#GetControlOperation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#GetControlOperationInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#GetControlOperationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the status of a particular <code>EnableControl</code> or\n        <code>DisableControl</code> operation. Displays a message in case of error. Details for an\n      operation are available for 90 days. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\">\n               <i>the AWS Control Tower User Guide</i>\n            </a>\n         </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/get-control-operation"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.controltower#GetControlOperationInput": {
      "type": "structure",
      "members": {
        "operationIdentifier": {
          "target": "com.amazonaws.controltower#OperationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asynchronous operation, which is used to track status. The operation is\n      available for 90 days.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.controltower#GetControlOperationOutput": {
      "type": "structure",
      "members": {
        "controlOperation": {
          "target": "com.amazonaws.controltower#ControlOperation",
          "traits": {
            "smithy.api#documentation": "<p>An operation performed by the control.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.controltower#GetEnabledControl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#GetEnabledControlInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#GetEnabledControlOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n        Provides details about the enabled control. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\">\n               <i>the AWS Control Tower User Guide</i>\n            </a>.</p>\n         <p class=\"title\">\n            <b>Returned values</b>\n         </p>\n         <ul>\n            <li>\n               <p>TargetRegions: Shows target AWS Regions where the enabled control is available to be deployed.</p>\n            </li>\n            <li>\n               <p>StatusSummary: Provides a detailed summary of the deployment status.</p>\n            </li>\n            <li>\n               <p>DriftSummary: Provides a detailed summary of the drifted status.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/get-enabled-control"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.controltower#GetEnabledControlInput": {
      "type": "structure",
      "members": {
        "enabledControlIdentifier": {
          "target": "com.amazonaws.controltower#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n        The ARN of the enabled control.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.controltower#GetEnabledControlOutput": {
      "type": "structure",
      "members": {
        "enabledControlDetails": {
          "target": "com.amazonaws.controltower#EnabledControlDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n        Information about the enabled control.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.controltower#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unexpected error during processing of request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.controltower#ListEnabledControls": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.controltower#ListEnabledControlsInput"
      },
      "output": {
        "target": "com.amazonaws.controltower#ListEnabledControlsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.controltower#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.controltower#InternalServerException"
        },
        {
          "target": "com.amazonaws.controltower#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.controltower#ThrottlingException"
        },
        {
          "target": "com.amazonaws.controltower#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the controls enabled by AWS Control Tower on the specified organizational unit and\n      the accounts it contains. For usage examples, see <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/control-api-examples-short.html\">\n               <i>the AWS Control Tower User Guide</i>\n            </a>\n         </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/list-enabled-controls"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "enabledControls"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.controltower#ListEnabledControlsInput": {
      "type": "structure",
      "members": {
        "targetIdentifier": {
          "target": "com.amazonaws.controltower#TargetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organizational unit. For information on how to find the <code>targetIdentifier</code>, see <a href=\"https://docs.aws.amazon.com/controltower/latest/APIReference/Welcome.html\">the overview page</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to continue the list from a previous API call with the same parameters.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.controltower#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>How many results to return per API call.</p>"
          }
        }
      }
    },
    "com.amazonaws.controltower#ListEnabledControlsOutput": {
      "type": "structure",
      "members": {
        "enabledControls": {
          "target": "com.amazonaws.controltower#EnabledControls",
          "traits": {
            "smithy.api#documentation": "<p>Lists the controls enabled by AWS Control Tower on the specified organizational unit and\n      the accounts it contains.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves the next page of results. If the string is empty, the current response is the\n      end of the results.</p>"
          }
        }
      }
    },
    "com.amazonaws.controltower#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.controltower#OperationIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.controltower#Region": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.controltower#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The AWS Region name.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Region in which AWS Control Tower expects to find the control deployed. </p>\n         <p>The expected Regions are based on the Regions that are governed by the landing zone. In\n      certain cases, a control is not actually enabled in the Region as expected, such as during\n      drift, or <a href=\"https://docs.aws.amazon.com/controltower/latest/userguide/region-how.html#mixed-governance\">mixed governance</a>.</p>"
      }
    },
    "com.amazonaws.controltower#RegionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.controltower#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request references a resource which does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.controltower#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request would cause a service quota to be exceeded. The limit is 10 concurrent operations.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.controltower#TargetIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[0-9a-zA-Z_\\-:\\/]+$"
      }
    },
    "com.amazonaws.controltower#TargetRegions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.controltower#Region"
      }
    },
    "com.amazonaws.controltower#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service that is associated with the error.</p>"
          }
        },
        "quotaCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service quota that was exceeded.</p>"
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds the caller should wait before retrying.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request was denied due to request throttling.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429,
        "smithy.api#retryable": {
          "throttling": true
        }
      }
    },
    "com.amazonaws.controltower#Timestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.controltower#ValidationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
