{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.costexplorer#AWSInsightsIndexService": {
      "type": "service",
      "version": "2017-10-25",
      "operations": [
        {
          "target": "com.amazonaws.costexplorer#CreateAnomalyMonitor"
        },
        {
          "target": "com.amazonaws.costexplorer#CreateAnomalySubscription"
        },
        {
          "target": "com.amazonaws.costexplorer#CreateCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.costexplorer#DeleteAnomalyMonitor"
        },
        {
          "target": "com.amazonaws.costexplorer#DeleteAnomalySubscription"
        },
        {
          "target": "com.amazonaws.costexplorer#DeleteCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.costexplorer#DescribeCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.costexplorer#GetAnomalies"
        },
        {
          "target": "com.amazonaws.costexplorer#GetAnomalyMonitors"
        },
        {
          "target": "com.amazonaws.costexplorer#GetAnomalySubscriptions"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostAndUsage"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostAndUsageWithResources"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostForecast"
        },
        {
          "target": "com.amazonaws.costexplorer#GetDimensionValues"
        },
        {
          "target": "com.amazonaws.costexplorer#GetReservationCoverage"
        },
        {
          "target": "com.amazonaws.costexplorer#GetReservationPurchaseRecommendation"
        },
        {
          "target": "com.amazonaws.costexplorer#GetReservationUtilization"
        },
        {
          "target": "com.amazonaws.costexplorer#GetRightsizingRecommendation"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansCoverage"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansPurchaseRecommendation"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansUtilization"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansUtilizationDetails"
        },
        {
          "target": "com.amazonaws.costexplorer#GetTags"
        },
        {
          "target": "com.amazonaws.costexplorer#GetUsageForecast"
        },
        {
          "target": "com.amazonaws.costexplorer#ListCostCategoryDefinitions"
        },
        {
          "target": "com.amazonaws.costexplorer#ProvideAnomalyFeedback"
        },
        {
          "target": "com.amazonaws.costexplorer#UpdateAnomalyMonitor"
        },
        {
          "target": "com.amazonaws.costexplorer#UpdateAnomalySubscription"
        },
        {
          "target": "com.amazonaws.costexplorer#UpdateCostCategoryDefinition"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Cost Explorer",
          "arnNamespace": "ce",
          "cloudFormationName": "CostExplorer",
          "cloudTrailEventSource": "costexplorer.amazonaws.com",
          "endpointPrefix": "ce"
        },
        "aws.auth#sigv4": {
          "name": "ce"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>The Cost Explorer API enables you to programmatically query your cost and usage data. You can query for aggregated data \n\t\t\tsuch as total monthly costs or total daily usage. You can also query for granular data, such as the number of \n\t\t\tdaily write operations for Amazon DynamoDB database tables in your production environment. </p>\n\t\t       <p>Service Endpoint</p>\n\t\t       <p>The Cost Explorer API provides the following endpoint:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>https://ce.us-east-1.amazonaws.com</code>\n               </p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>For information about costs associated with the Cost Explorer API, see \n\t\t\t<a href=\"http://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
        "smithy.api#title": "AWS Cost Explorer Service"
      }
    },
    "com.amazonaws.costexplorer#AccountScope": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PAYER",
            "name": "PAYER"
          },
          {
            "value": "LINKED",
            "name": "LINKED"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#AmortizedRecurringFee": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#AmortizedUpfrontFee": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#Anomalies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#Anomaly"
      }
    },
    "com.amazonaws.costexplorer#Anomaly": {
      "type": "structure",
      "members": {
        "AnomalyId": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n        The unique identifier for the anomaly.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "AnomalyStartDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>\n        The first day the anomaly is detected.\n    </p>"
          }
        },
        "AnomalyEndDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>\n        The last day the anomaly is detected.\n    </p>"
          }
        },
        "DimensionValue": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n        The dimension for the anomaly. For example, an AWS service in a service monitor.\n    </p>"
          }
        },
        "RootCauses": {
          "target": "com.amazonaws.costexplorer#RootCauses",
          "traits": {
            "smithy.api#documentation": "<p>\n        The list of identified root causes for the anomaly.\n    </p>"
          }
        },
        "AnomalyScore": {
          "target": "com.amazonaws.costexplorer#AnomalyScore",
          "traits": {
            "smithy.api#documentation": "<p>\n        The latest and maximum score for the anomaly.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Impact": {
          "target": "com.amazonaws.costexplorer#Impact",
          "traits": {
            "smithy.api#documentation": "<p>\n        The dollar impact for the anomaly.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) for the cost monitor that generated this anomaly. </p>",
            "smithy.api#required": {}
          }
        },
        "Feedback": {
          "target": "com.amazonaws.costexplorer#AnomalyFeedbackType",
          "traits": {
            "smithy.api#documentation": "<p>\n        The feedback value.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n        An unusual cost pattern. This consists of the detailed metadata and the current status of the anomaly object.\n    </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalyDateInterval": {
      "type": "structure",
      "members": {
        "StartDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>\n        The first date an anomaly was observed.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "EndDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>\n        The last date an anomaly was observed.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n        The time period for an anomaly.\n    </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalyFeedbackType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "YES",
            "name": "YES"
          },
          {
            "value": "NO",
            "name": "NO"
          },
          {
            "value": "PLANNED_ACTIVITY",
            "name": "PLANNED_ACTIVITY"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#AnomalyMonitor": {
      "type": "structure",
      "members": {
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) value. </p>"
          }
        },
        "MonitorName": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name of the monitor.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>\n        The date when the monitor was created.\n    </p>"
          }
        },
        "LastUpdatedDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>\n        The date when the monitor was last updated.\n    </p>"
          }
        },
        "LastEvaluatedDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>\n        The date when the monitor last evaluated for anomalies.\n    </p>"
          }
        },
        "MonitorType": {
          "target": "com.amazonaws.costexplorer#MonitorType",
          "traits": {
            "smithy.api#documentation": "<p>\n        The possible type values.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "MonitorDimension": {
          "target": "com.amazonaws.costexplorer#MonitorDimension",
          "traits": {
            "smithy.api#documentation": "<p>\n        The dimensions to evaluate.\n    </p>"
          }
        },
        "MonitorSpecification": {
          "target": "com.amazonaws.costexplorer#Expression"
        },
        "DimensionalValueCount": {
          "target": "com.amazonaws.costexplorer#NonNegativeInteger",
          "traits": {
            "smithy.api#documentation": "<p>\n        The value for evaluated dimensions.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> This object continuously inspects your account's cost data for anomalies, based on\n                <code>MonitorType</code> and <code>MonitorSpecification</code>. The content consists\n            of detailed metadata and the current status of the monitor object. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalyMonitors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#AnomalyMonitor"
      }
    },
    "com.amazonaws.costexplorer#AnomalyScore": {
      "type": "structure",
      "members": {
        "MaxScore": {
          "target": "com.amazonaws.costexplorer#GenericDouble",
          "traits": {
            "smithy.api#documentation": "<p>\n        The maximum score observed during the <code>AnomalyDateInterval</code>.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "CurrentScore": {
          "target": "com.amazonaws.costexplorer#GenericDouble",
          "traits": {
            "smithy.api#documentation": "<p>\n       The last observed score.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Quantifies the anomaly. The higher score means that it is more anomalous. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalySubscription": {
      "type": "structure",
      "members": {
        "SubscriptionArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The <code>AnomalySubscription</code> Amazon Resource Name (ARN). </p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n        Your unique account identifier.\n    </p>"
          }
        },
        "MonitorArnList": {
          "target": "com.amazonaws.costexplorer#Values",
          "traits": {
            "smithy.api#documentation": "<p>\n        A list of cost anomaly monitors.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.costexplorer#Subscribers",
          "traits": {
            "smithy.api#documentation": "<p>\n        A list of subscribers to notify.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Threshold": {
          "target": "com.amazonaws.costexplorer#NullableNonNegativeDouble",
          "traits": {
            "smithy.api#documentation": "<p>\n        The dollar value that triggers a notification if the threshold is exceeded.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Frequency": {
          "target": "com.amazonaws.costexplorer#AnomalySubscriptionFrequency",
          "traits": {
            "smithy.api#documentation": "<p>\n        The frequency at which anomaly reports are sent over email.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "SubscriptionName": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name for the subscription.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n        The association between a monitor, threshold, and list of subscribers used to deliver notifications about anomalies detected by a monitor that exceeds a threshold. The content consists of the detailed metadata and the current status of the <code>AnomalySubscription</code> object.\n    </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalySubscriptionFrequency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DAILY",
            "name": "DAILY"
          },
          {
            "value": "IMMEDIATE",
            "name": "IMMEDIATE"
          },
          {
            "value": "WEEKLY",
            "name": "WEEKLY"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#AnomalySubscriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#AnomalySubscription"
      }
    },
    "com.amazonaws.costexplorer#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+"
      }
    },
    "com.amazonaws.costexplorer#AttributeType": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#AttributeValue": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.costexplorer#AttributeType"
      },
      "value": {
        "target": "com.amazonaws.costexplorer#AttributeValue"
      }
    },
    "com.amazonaws.costexplorer#BillExpirationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.costexplorer#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested report expired. Update the date interval and try again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.costexplorer#Context": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COST_AND_USAGE",
            "name": "COST_AND_USAGE"
          },
          {
            "value": "RESERVATIONS",
            "name": "RESERVATIONS"
          },
          {
            "value": "SAVINGS_PLANS",
            "name": "SAVINGS_PLANS"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategory": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n            The unique identifier for your Cost Category.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveStart": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Cost Category's effective start date.</p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Cost Category's effective end date.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.costexplorer#CostCategoryName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RuleVersion": {
          "target": "com.amazonaws.costexplorer#CostCategoryRuleVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.costexplorer#CostCategoryRulesList",
          "traits": {
            "smithy.api#documentation": "<p>\n            Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "ProcessingStatus": {
          "target": "com.amazonaws.costexplorer#CostCategoryProcessingStatusList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of processing statuses for Cost Management products for a specific cost category.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure of Cost Categories. This includes detailed metadata and the set of rules for the <code>CostCategory</code> object.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategoryName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The unique name of the Cost Category.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryProcessingStatus": {
      "type": "structure",
      "members": {
        "Component": {
          "target": "com.amazonaws.costexplorer#CostCategoryStatusComponent",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Cost Management product name of the applied status.\n        </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.costexplorer#CostCategoryStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n            The process status for a specific cost category.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The list of processing statuses for Cost Management products for a specific cost category.\n        </p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryProcessingStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryProcessingStatus"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryReference": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n            The unique identifier for your Cost Category.\n        </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.costexplorer#CostCategoryName"
        },
        "EffectiveStart": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Cost Category's effective start date.</p>"
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Cost Category's effective end date.</p>"
          }
        },
        "NumberOfRules": {
          "target": "com.amazonaws.costexplorer#NonNegativeInteger",
          "traits": {
            "smithy.api#documentation": "<p>\n            The number of rules associated with a specific Cost Category.\n        </p>"
          }
        },
        "ProcessingStatus": {
          "target": "com.amazonaws.costexplorer#CostCategoryProcessingStatusList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of processing statuses for Cost Management products for a specific cost category.\n        </p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.costexplorer#CostCategoryValuesList",
          "traits": {
            "smithy.api#documentation": "<p>\n            A list of unique cost category values in a specific cost category.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A reference to a Cost Category containing only enough information to identify the Cost Category.</p>\n        <p>You can use this information to retrieve the full Cost Category information using <code>DescribeCostCategory</code>.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryReferencesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryReference"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRule": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.costexplorer#CostCategoryValue",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Rule": {
          "target": "com.amazonaws.costexplorer#Expression",
          "traits": {
            "smithy.api#documentation": "<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>\n            object used to categorize costs. This supports dimensions, tags, and nested expressions.\n            Currently the only dimensions supported are <code>LINKED_ACCOUNT</code>,\n                <code>SERVICE_CODE</code>, <code>RECORD_TYPE</code>, and\n                <code>LINKED_ACCOUNT_NAME</code>.</p>\n        <p>Root level <code>OR</code> is not supported. We recommend that you create a separate\n            rule instead.</p>\n        \n        <p>\n            <code>RECORD_TYPE</code> is a dimension used for Cost Explorer APIs, and is also\n            supported for Cost Category expressions. This dimension uses different terms, depending\n            on whether you're using the console or API/JSON editor. For a detailed comparison, see\n            <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/manage-cost-categories.html#cost-categories-terms\">Term Comparisons</a> in the <i>AWS Billing and Cost Management User\n                Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRuleVersion": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The rule schema version in this particular Cost Category.</p>",
        "smithy.api#enum": [
          {
            "value": "CostCategoryExpression.v1",
            "name": "CostCategoryExpressionV1"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategoryStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PROCESSING",
            "name": "PROCESSING"
          },
          {
            "value": "APPLIED",
            "name": "APPLIED"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategoryStatusComponent": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COST_EXPLORER",
            "name": "COST_EXPLORER"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategoryValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The value a line item will be categorized as, if it matches the rule.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryValues": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.costexplorer#CostCategoryName"
        },
        "Values": {
          "target": "com.amazonaws.costexplorer#Values",
          "traits": {
            "smithy.api#documentation": "<p>The specific value of the Cost Category.</p>"
          }
        },
        "MatchOptions": {
          "target": "com.amazonaws.costexplorer#MatchOptions",
          "traits": {
            "smithy.api#documentation": "<p>\n            The match options that you can use to filter your results. MatchOptions is only applicable for only applicable for actions related to cost category. The default values for <code>MatchOptions</code> is <code>EQUALS</code> and <code>CASE_SENSITIVE</code>.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Cost Categories values used for filtering the costs.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryValuesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryValue"
      }
    },
    "com.amazonaws.costexplorer#Coverage": {
      "type": "structure",
      "members": {
        "CoverageHours": {
          "target": "com.amazonaws.costexplorer#CoverageHours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of instance usage that the reservation covered, in hours.</p>"
          }
        },
        "CoverageNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#CoverageNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The amount of instance usage that the reservation covered, in normalized\n            units.</p>"
          }
        },
        "CoverageCost": {
          "target": "com.amazonaws.costexplorer#CoverageCost",
          "traits": {
            "smithy.api#documentation": "<p>The amount of cost that the reservation covered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of instance usage that a reservation covered.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageByTime": {
      "type": "structure",
      "members": {
        "TimePeriod": {
          "target": "com.amazonaws.costexplorer#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The period that this coverage was used over.</p>"
          }
        },
        "Groups": {
          "target": "com.amazonaws.costexplorer#ReservationCoverageGroups",
          "traits": {
            "smithy.api#documentation": "<p>The groups of instances that the reservation covered.</p>"
          }
        },
        "Total": {
          "target": "com.amazonaws.costexplorer#Coverage",
          "traits": {
            "smithy.api#documentation": "<p>The total reservation coverage, in hours.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reservation\n            coverage for a specified period, in\n            hours.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageCost": {
      "type": "structure",
      "members": {
        "OnDemandCost": {
          "target": "com.amazonaws.costexplorer#OnDemandCost",
          "traits": {
            "smithy.api#documentation": "<p>How much an On-Demand Instance costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How much it costs to run an instance.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageHours": {
      "type": "structure",
      "members": {
        "OnDemandHours": {
          "target": "com.amazonaws.costexplorer#OnDemandHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of instance running hours that On-Demand Instances covered.</p>"
          }
        },
        "ReservedHours": {
          "target": "com.amazonaws.costexplorer#ReservedHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of instance running hours that reservations covered.</p>"
          }
        },
        "TotalRunningHours": {
          "target": "com.amazonaws.costexplorer#TotalRunningHours",
          "traits": {
            "smithy.api#documentation": "<p>The total instance usage, in hours.</p>"
          }
        },
        "CoverageHoursPercentage": {
          "target": "com.amazonaws.costexplorer#CoverageHoursPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of instance hours that a reservation covered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How long a running instance either used a reservation or was On-Demand.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageHoursPercentage": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#CoverageNormalizedUnits": {
      "type": "structure",
      "members": {
        "OnDemandNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#OnDemandNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The number of normalized units that are covered by On-Demand Instances instead of a\n            reservation.</p>"
          }
        },
        "ReservedNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#ReservedNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The number of normalized units that a reservation covers.</p>"
          }
        },
        "TotalRunningNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#TotalRunningNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of normalized units that you used.</p>"
          }
        },
        "CoverageNormalizedUnitsPercentage": {
          "target": "com.amazonaws.costexplorer#CoverageNormalizedUnitsPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of your used instance normalized units that a reservation\n            covers.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of instance usage, in normalized units. Normalized units enable you to\n            see your EC2 usage for multiple sizes of instances in a uniform way. For example,\n            suppose you run an xlarge instance and a 2xlarge instance. If you run both instances for\n            the same amount of time, the 2xlarge instance uses twice as much of your reservation as\n            the xlarge instance, even though both instances show only one instance-hour. Using\n            normalized units instead of instance-hours, the xlarge instance used 8 normalized units,\n            and the 2xlarge instance used 16 normalized units.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-modifying.html\">Modifying Reserved Instances</a> in the <i>Amazon Elastic Compute Cloud User Guide for\n                Linux Instances</i>.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageNormalizedUnitsPercentage": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#CoveragesByTime": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CoverageByTime"
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalyMonitor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#CreateAnomalyMonitorRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#CreateAnomalyMonitorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new cost anomaly detection monitor with the requested type and monitor\n      specification. </p>"
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalyMonitorRequest": {
      "type": "structure",
      "members": {
        "AnomalyMonitor": {
          "target": "com.amazonaws.costexplorer#AnomalyMonitor",
          "traits": {
            "smithy.api#documentation": "<p> The cost anomaly detection monitor object that you want to create.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalyMonitorResponse": {
      "type": "structure",
      "members": {
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of your newly created cost anomaly detection monitor.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalySubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#CreateAnomalySubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#CreateAnomalySubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownMonitorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a subscription to a cost anomaly detection monitor. You can use each subscription to\n      define subscribers with email or SNS notifications. Email subscribers can set a dollar\n      threshold and a time frequency for receiving notifications. </p>"
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalySubscriptionRequest": {
      "type": "structure",
      "members": {
        "AnomalySubscription": {
          "target": "com.amazonaws.costexplorer#AnomalySubscription",
          "traits": {
            "smithy.api#documentation": "<p>\n      The cost anomaly subscription object that you want to create.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalySubscriptionResponse": {
      "type": "structure",
      "members": {
        "SubscriptionArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier of your newly created cost anomaly subscription.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateCostCategoryDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#CreateCostCategoryDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#CreateCostCategoryDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Cost Category with the requested name and rules.</p>"
      }
    },
    "com.amazonaws.costexplorer#CreateCostCategoryDefinitionRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.costexplorer#CostCategoryName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RuleVersion": {
          "target": "com.amazonaws.costexplorer#CostCategoryRuleVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.costexplorer#CostCategoryRulesList",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category rules used to categorize costs. For more information, see\n        <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategoryRule.html\">CostCategoryRule</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateCostCategoryDefinitionResponse": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your newly created Cost Category.\n    </p>"
          }
        },
        "EffectiveStart": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Cost Category's effective start date.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CurrentInstance": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Resource ID of the current instance.</p>"
          }
        },
        "InstanceName": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name you've given an instance. This field will show as blank if you haven't given the instance a name.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.costexplorer#TagValuesList",
          "traits": {
            "smithy.api#documentation": "<p>Cost allocation resource tags applied to the instance.</p>"
          }
        },
        "ResourceDetails": {
          "target": "com.amazonaws.costexplorer#ResourceDetails",
          "traits": {
            "smithy.api#documentation": "<p> Details about the resource and utilization.</p>"
          }
        },
        "ResourceUtilization": {
          "target": "com.amazonaws.costexplorer#ResourceUtilization",
          "traits": {
            "smithy.api#documentation": "<p> Utilization information of the current instance during the lookback period.</p>"
          }
        },
        "ReservationCoveredHoursInLookbackPeriod": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Number of hours during the lookback period covered by reservations.</p>"
          }
        },
        "SavingsPlansCoveredHoursInLookbackPeriod": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Number of hours during the lookback period covered by Savings Plans.</p>"
          }
        },
        "OnDemandHoursInLookbackPeriod": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Number of hours during the lookback period billed at On-Demand rates.</p>"
          }
        },
        "TotalRunningHoursInLookbackPeriod": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The total number of hours the instance ran during the lookback period.</p>"
          }
        },
        "MonthlyCost": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Current On-Demand cost of operating this instance on a monthly basis.</p>"
          }
        },
        "CurrencyCode": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The currency code that AWS used to calculate the costs for this instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Context about the current instance.</p>"
      }
    },
    "com.amazonaws.costexplorer#DataUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.costexplorer#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested data is unavailable.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.costexplorer#DateInterval": {
      "type": "structure",
      "members": {
        "Start": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The beginning of the time period that you want the usage and costs for. The start\n            date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS\n            retrieves cost and usage data starting at <code>2017-01-01</code> up to the end\n            date.</p>",
            "smithy.api#required": {}
          }
        },
        "End": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time period that you want the usage and costs for. The end date is\n            exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves\n            cost and usage data from the start date up to, but not including,\n                <code>2017-05-01</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The time period that you want the usage and costs for.\n        </p>"
      }
    },
    "com.amazonaws.costexplorer#DeleteAnomalyMonitor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#DeleteAnomalyMonitorRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#DeleteAnomalyMonitorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownMonitorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a cost anomaly monitor. </p>"
      }
    },
    "com.amazonaws.costexplorer#DeleteAnomalyMonitorRequest": {
      "type": "structure",
      "members": {
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of the cost anomaly monitor that you want to delete. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#DeleteAnomalyMonitorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.costexplorer#DeleteAnomalySubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#DeleteAnomalySubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#DeleteAnomalySubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownSubscriptionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a cost anomaly subscription. </p>"
      }
    },
    "com.amazonaws.costexplorer#DeleteAnomalySubscriptionRequest": {
      "type": "structure",
      "members": {
        "SubscriptionArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of the cost anomaly subscription that you want to delete. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#DeleteAnomalySubscriptionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.costexplorer#DeleteCostCategoryDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#DeleteCostCategoryDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#DeleteCostCategoryDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Cost Category. Expenses from this month going forward will no longer be categorized with this Cost Category.</p>"
      }
    },
    "com.amazonaws.costexplorer#DeleteCostCategoryDefinitionRequest": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your Cost Category.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#DeleteCostCategoryDefinitionResponse": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your Cost Category.\n    </p>"
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n      The effective end date of the Cost Category as a result of deleting it. No costs after this date will be categorized by the deleted Cost Category.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#DescribeCostCategoryDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#DescribeCostCategoryDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#DescribeCostCategoryDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the name, ARN, rules, definition, and effective dates of a Cost Category that's defined in the account.</p>\n         <p>You have the option to use <code>EffectiveOn</code> to return a Cost Category that is active on a specific date. If there is no <code>EffectiveOn</code> specified, you’ll see a Cost Category that is effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. </p>"
      }
    },
    "com.amazonaws.costexplorer#DescribeCostCategoryDefinitionRequest": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your Cost Category.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveOn": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n      The date when the Cost Category was effective.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#DescribeCostCategoryDefinitionResponse": {
      "type": "structure",
      "members": {
        "CostCategory": {
          "target": "com.amazonaws.costexplorer#CostCategory"
        }
      }
    },
    "com.amazonaws.costexplorer#Dimension": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AZ",
            "name": "AZ"
          },
          {
            "value": "INSTANCE_TYPE",
            "name": "INSTANCE_TYPE"
          },
          {
            "value": "LINKED_ACCOUNT",
            "name": "LINKED_ACCOUNT"
          },
          {
            "value": "LINKED_ACCOUNT_NAME",
            "name": "LINKED_ACCOUNT_NAME"
          },
          {
            "value": "OPERATION",
            "name": "OPERATION"
          },
          {
            "value": "PURCHASE_TYPE",
            "name": "PURCHASE_TYPE"
          },
          {
            "value": "REGION",
            "name": "REGION"
          },
          {
            "value": "SERVICE",
            "name": "SERVICE"
          },
          {
            "value": "SERVICE_CODE",
            "name": "SERVICE_CODE"
          },
          {
            "value": "USAGE_TYPE",
            "name": "USAGE_TYPE"
          },
          {
            "value": "USAGE_TYPE_GROUP",
            "name": "USAGE_TYPE_GROUP"
          },
          {
            "value": "RECORD_TYPE",
            "name": "RECORD_TYPE"
          },
          {
            "value": "OPERATING_SYSTEM",
            "name": "OPERATING_SYSTEM"
          },
          {
            "value": "TENANCY",
            "name": "TENANCY"
          },
          {
            "value": "SCOPE",
            "name": "SCOPE"
          },
          {
            "value": "PLATFORM",
            "name": "PLATFORM"
          },
          {
            "value": "SUBSCRIPTION_ID",
            "name": "SUBSCRIPTION_ID"
          },
          {
            "value": "LEGAL_ENTITY_NAME",
            "name": "LEGAL_ENTITY_NAME"
          },
          {
            "value": "DEPLOYMENT_OPTION",
            "name": "DEPLOYMENT_OPTION"
          },
          {
            "value": "DATABASE_ENGINE",
            "name": "DATABASE_ENGINE"
          },
          {
            "value": "CACHE_ENGINE",
            "name": "CACHE_ENGINE"
          },
          {
            "value": "INSTANCE_TYPE_FAMILY",
            "name": "INSTANCE_TYPE_FAMILY"
          },
          {
            "value": "BILLING_ENTITY",
            "name": "BILLING_ENTITY"
          },
          {
            "value": "RESERVATION_ID",
            "name": "RESERVATION_ID"
          },
          {
            "value": "RESOURCE_ID",
            "name": "RESOURCE_ID"
          },
          {
            "value": "RIGHTSIZING_TYPE",
            "name": "RIGHTSIZING_TYPE"
          },
          {
            "value": "SAVINGS_PLANS_TYPE",
            "name": "SAVINGS_PLANS_TYPE"
          },
          {
            "value": "SAVINGS_PLAN_ARN",
            "name": "SAVINGS_PLAN_ARN"
          },
          {
            "value": "PAYMENT_OPTION",
            "name": "PAYMENT_OPTION"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#DimensionValues": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.costexplorer#Dimension",
          "traits": {
            "smithy.api#documentation": "<p>The names of the metadata types that you can use to filter and group your results.\n            For example, <code>AZ</code> returns a list of Availability Zones.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.costexplorer#Values",
          "traits": {
            "smithy.api#documentation": "<p>The metadata values that you can use to filter and group your results. You can use\n                <code>GetDimensionValues</code> to find specific values.</p>"
          }
        },
        "MatchOptions": {
          "target": "com.amazonaws.costexplorer#MatchOptions",
          "traits": {
            "smithy.api#documentation": "<p>The match options that you can use to filter your results.\n                <code>MatchOptions</code> is only applicable for actions related to Cost Category.\n            The default values for <code>MatchOptions</code> are <code>EQUALS</code> and\n                <code>CASE_SENSITIVE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata that you can use to filter and group your results. You can use\n                <code>GetDimensionValues</code> to find specific values.</p>"
      }
    },
    "com.amazonaws.costexplorer#DimensionValuesWithAttributes": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.costexplorer#Value",
          "traits": {
            "smithy.api#documentation": "<p>The value of a dimension with a specific attribute.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.costexplorer#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>The attribute that applies to a specific <code>Dimension</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata of a specific type that you can use to filter and group your results.\n            You can use <code>GetDimensionValues</code> to find specific values.</p>"
      }
    },
    "com.amazonaws.costexplorer#DimensionValuesWithAttributesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#DimensionValuesWithAttributes"
      }
    },
    "com.amazonaws.costexplorer#EBSResourceUtilization": {
      "type": "structure",
      "members": {
        "EbsReadOpsPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n            The maximum number of read operations per second.\n        </p>"
          }
        },
        "EbsWriteOpsPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n            The maximum number of write operations per second.\n        </p>"
          }
        },
        "EbsReadBytesPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n            The maximum size of read operations per second\n        </p>"
          }
        },
        "EbsWriteBytesPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n            The maximum size of write operations per second.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The EBS field that contains a list of EBS metrics associated with the current instance.\n        </p>"
      }
    },
    "com.amazonaws.costexplorer#EC2InstanceDetails": {
      "type": "structure",
      "members": {
        "Family": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The instance family of the recommended reservation.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The type of instance that AWS recommends.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region of the recommended reservation.</p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone of the recommended reservation.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the recommended reservation. The platform is the specific\n            combination of operating system, license model, and software on an instance.</p>"
          }
        },
        "Tenancy": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommended reservation is dedicated or shared.</p>"
          }
        },
        "CurrentGeneration": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommendation is for a current-generation instance. </p>"
          }
        },
        "SizeFlexEligible": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommended reservation is size flexible.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the Amazon EC2 instances that AWS recommends that you purchase.</p>"
      }
    },
    "com.amazonaws.costexplorer#EC2ResourceDetails": {
      "type": "structure",
      "members": {
        "HourlyOnDemandRate": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Hourly public On-Demand rate for the instance type.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The type of AWS instance.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The platform of the AWS instance. The platform is the specific combination of\n            operating system, license model, and software on an instance.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The AWS Region of the instance.</p>"
          }
        },
        "Sku": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The SKU of the product.</p>"
          }
        },
        "Memory": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Memory capacity of the AWS instance.</p>"
          }
        },
        "NetworkPerformance": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Network performance capacity of the AWS instance.</p>"
          }
        },
        "Storage": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The disk storage of the AWS instance (not EBS storage).</p>"
          }
        },
        "Vcpu": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Number of VCPU cores in the AWS instance type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Details on the Amazon EC2 Resource.</p>"
      }
    },
    "com.amazonaws.costexplorer#EC2ResourceUtilization": {
      "type": "structure",
      "members": {
        "MaxCpuUtilizationPercentage": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Maximum observed or expected CPU utilization of the instance.</p>"
          }
        },
        "MaxMemoryUtilizationPercentage": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Maximum observed or expected memory utilization of the instance.</p>"
          }
        },
        "MaxStorageUtilizationPercentage": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Maximum observed or expected storage utilization of the instance (does not measure EBS storage).</p>"
          }
        },
        "EBSResourceUtilization": {
          "target": "com.amazonaws.costexplorer#EBSResourceUtilization",
          "traits": {
            "smithy.api#documentation": "<p>\n            The EBS field that contains a list of EBS metrics associated with the current instance.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Utilization metrics of the instance.  </p>"
      }
    },
    "com.amazonaws.costexplorer#EC2Specification": {
      "type": "structure",
      "members": {
        "OfferingClass": {
          "target": "com.amazonaws.costexplorer#OfferingClass",
          "traits": {
            "smithy.api#documentation": "<p>Whether you want a recommendation for standard or convertible\n            reservations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon EC2 hardware specifications that you want AWS to provide recommendations\n            for.</p>"
      }
    },
    "com.amazonaws.costexplorer#ESInstanceDetails": {
      "type": "structure",
      "members": {
        "InstanceClass": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The class of instance that AWS recommends.</p>"
          }
        },
        "InstanceSize": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The size of instance that AWS recommends.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region of the recommended reservation.</p>"
          }
        },
        "CurrentGeneration": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommendation is for a current-generation instance.</p>"
          }
        },
        "SizeFlexEligible": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommended reservation is size flexible.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the Amazon ES instances that AWS recommends that you\n            purchase.</p>"
      }
    },
    "com.amazonaws.costexplorer#ElastiCacheInstanceDetails": {
      "type": "structure",
      "members": {
        "Family": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The instance family of the recommended reservation.</p>"
          }
        },
        "NodeType": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The type of node that AWS recommends.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region of the recommended reservation.</p>"
          }
        },
        "ProductDescription": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the recommended reservation.</p>"
          }
        },
        "CurrentGeneration": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommendation is for a current generation instance.</p>"
          }
        },
        "SizeFlexEligible": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommended reservation is size flexible.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the Amazon ElastiCache instances that AWS recommends that you\n            purchase.</p>"
      }
    },
    "com.amazonaws.costexplorer#Entity": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#Estimated": {
      "type": "boolean"
    },
    "com.amazonaws.costexplorer#Expression": {
      "type": "structure",
      "members": {
        "Or": {
          "target": "com.amazonaws.costexplorer#Expressions",
          "traits": {
            "smithy.api#documentation": "<p>Return results that match either <code>Dimension</code> object.</p>"
          }
        },
        "And": {
          "target": "com.amazonaws.costexplorer#Expressions",
          "traits": {
            "smithy.api#documentation": "<p>Return results that match both <code>Dimension</code> objects.</p>"
          }
        },
        "Not": {
          "target": "com.amazonaws.costexplorer#Expression",
          "traits": {
            "smithy.api#documentation": "<p>Return results that don't match a <code>Dimension</code> object.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.costexplorer#DimensionValues",
          "traits": {
            "smithy.api#documentation": "<p>The specific <code>Dimension</code> to use for <code>Expression</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.costexplorer#TagValues",
          "traits": {
            "smithy.api#documentation": "<p>The specific <code>Tag</code> to use for <code>Expression</code>.</p>"
          }
        },
        "CostCategories": {
          "target": "com.amazonaws.costexplorer#CostCategoryValues",
          "traits": {
            "smithy.api#documentation": "<p>The filter based on <code>CostCategory</code> values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use <code>Expression</code> to filter by cost or by usage. There are two patterns: </p>\n        <ul>\n            <li>\n                <p>Simple dimension values - You can set the dimension name and values for the\n                    filters that you plan to use. For example, you can filter for\n                    <code>REGION==us-east-1 OR REGION==us-west-1</code>. For <code>GetRightsizingRecommendation</code>, the Region is a full name (for example, <code>REGION==US East (N. Virginia)</code>. The\n                        <code>Expression</code> example looks like:</p>\n                <p>\n                  <code>{ \"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\",\n                        “us-west-1” ] } }</code>\n                </p>\n                <p>The list of dimension values are OR'd together to retrieve cost or usage\n                    data. You can create <code>Expression</code> and <code>DimensionValues</code>\n                    objects using either <code>with*</code> methods or <code>set*</code> methods in\n                    multiple lines. </p>\n            </li>\n            <li>\n                <p>Compound dimension values with logical operations - You can use multiple\n                        <code>Expression</code> types and the logical operators\n                        <code>AND/OR/NOT</code> to create a list of one or more\n                        <code>Expression</code> objects. This allows you to filter on more advanced\n                    options. For example, you can filter on <code>((REGION == us-east-1 OR\n                        REGION == us-west-1) OR (TAG.Type == Type1)) AND (USAGE_TYPE !=\n                        DataTransfer)</code>. The <code>Expression</code> for that looks like\n                    this:</p>\n                <p>\n                  <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"REGION\",\n                        \"Values\": [ \"us-east-1\", \"us-west-1\" ] }}, {\"Tags\": { \"Key\": \"TagName\",\n                        \"Values\": [\"Value1\"] } } ]}, {\"Not\": {\"Dimensions\": { \"Key\": \"USAGE_TYPE\",\n                        \"Values\": [\"DataTransfer\"] }}} ] } </code>\n               </p>\n                <note>\n                    <p>Because each <code>Expression</code> can have only one operator, the\n                        service returns an error if more than one is specified. The following\n                        example shows an <code>Expression</code> object that creates an\n                        error.</p>\n                </note>\n                <p>\n                    <code> { \"And\": [ ... ], \"DimensionValues\": { \"Dimension\": \"USAGE_TYPE\",\n                        \"Values\": [ \"DataTransfer\" ] } } </code>\n               </p>\n            </li>\n         </ul>\n        <note>\n            <p>For <code>GetRightsizingRecommendation</code> action, a combination of OR and NOT is not\n                supported. OR is not supported between different dimensions, or dimensions and tags.\n                NOT operators aren't supported.\n                Dimensions\n                are also limited to <code>LINKED_ACCOUNT</code>, <code>REGION</code>, or\n                    <code>RIGHTSIZING_TYPE</code>.</p> \n         </note>"
      }
    },
    "com.amazonaws.costexplorer#Expressions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#Expression"
      }
    },
    "com.amazonaws.costexplorer#ForecastResult": {
      "type": "structure",
      "members": {
        "TimePeriod": {
          "target": "com.amazonaws.costexplorer#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The period of time that the forecast covers.</p>"
          }
        },
        "MeanValue": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The mean value of the forecast.</p>"
          }
        },
        "PredictionIntervalLowerBound": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The lower limit for the prediction interval. </p>"
          }
        },
        "PredictionIntervalUpperBound": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The upper limit for the prediction interval. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The forecast created for your query.</p>"
      }
    },
    "com.amazonaws.costexplorer#ForecastResultsByTime": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#ForecastResult"
      }
    },
    "com.amazonaws.costexplorer#GenericBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.costexplorer#GenericDouble": {
      "type": "double"
    },
    "com.amazonaws.costexplorer#GenericString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "[\\S\\s]*"
      }
    },
    "com.amazonaws.costexplorer#GetAnomalies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#GetAnomaliesRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#GetAnomaliesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves all of the cost anomalies detected on your account, during the time period\n      specified by the <code>DateInterval</code> object. </p>"
      }
    },
    "com.amazonaws.costexplorer#GetAnomaliesRequest": {
      "type": "structure",
      "members": {
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves all of the cost anomalies detected for a specific cost anomaly monitor Amazon\n      Resource Name (ARN). </p>"
          }
        },
        "DateInterval": {
          "target": "com.amazonaws.costexplorer#AnomalyDateInterval",
          "traits": {
            "smithy.api#documentation": "<p>Assigns the start and end dates for retrieving cost anomalies. The returned anomaly object\n      will have an <code>AnomalyEndDate</code> in the specified time range. </p>",
            "smithy.api#required": {}
          }
        },
        "Feedback": {
          "target": "com.amazonaws.costexplorer#AnomalyFeedbackType",
          "traits": {
            "smithy.api#documentation": "<p>Filters anomaly results by the feedback field on the anomaly object. </p>"
          }
        },
        "TotalImpact": {
          "target": "com.amazonaws.costexplorer#TotalImpactFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters anomaly results by the total impact field on the anomaly object. For example, you\n      can filter anomalies <code>GREATER_THAN 200.00</code> to retrieve anomalies, with an estimated\n      dollar impact greater than 200. </p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.costexplorer#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>\n      The number of entries a paginated response contains.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetAnomaliesResponse": {
      "type": "structure",
      "members": {
        "Anomalies": {
          "target": "com.amazonaws.costexplorer#Anomalies",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of cost anomalies.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetAnomalyMonitors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#GetAnomalyMonitorsRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#GetAnomalyMonitorsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownMonitorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the cost anomaly monitor definitions for your account. You can filter using a\n      list of cost anomaly monitor Amazon Resource Names (ARNs). </p>"
      }
    },
    "com.amazonaws.costexplorer#GetAnomalyMonitorsRequest": {
      "type": "structure",
      "members": {
        "MonitorArnList": {
          "target": "com.amazonaws.costexplorer#Values",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of cost anomaly monitor ARNs.\n    </p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.costexplorer#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>\n      The number of entries a paginated response contains.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetAnomalyMonitorsResponse": {
      "type": "structure",
      "members": {
        "AnomalyMonitors": {
          "target": "com.amazonaws.costexplorer#AnomalyMonitors",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of cost anomaly monitors that includes the detailed metadata for each monitor.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetAnomalySubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#GetAnomalySubscriptionsRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#GetAnomalySubscriptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownSubscriptionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the cost anomaly subscription objects for your account. You can filter using a\n      list of cost anomaly monitor Amazon Resource Names (ARNs). </p>"
      }
    },
    "com.amazonaws.costexplorer#GetAnomalySubscriptionsRequest": {
      "type": "structure",
      "members": {
        "SubscriptionArnList": {
          "target": "com.amazonaws.costexplorer#Values",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of cost anomaly subscription ARNs.\n    </p>"
          }
        },
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n      Cost anomaly monitor ARNs.\n    </p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.costexplorer#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>\n      The number of entries a paginated response contains.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetAnomalySubscriptionsResponse": {
      "type": "structure",
      "members": {
        "AnomalySubscriptions": {
          "target": "com.amazonaws.costexplorer#AnomalySubscriptions",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of cost anomaly subscriptions that includes the detailed metadata for each one.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetCostAndUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#GetCostAndUsageRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#GetCostAndUsageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#BillExpirationException"
        },
        {
          "target": "com.amazonaws.costexplorer#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.costexplorer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#RequestChangedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric, such as \n\t\t\t<code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group \n\t\t\tyour data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list \n\t\t\tof valid dimensions, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> \n\t\t  operation. Management account in an organization in AWS Organizations have access to all member accounts.</p>\n\t        <p>For information about filter limitations, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/billing-limits.html\">Quotas and restrictions</a> in the <i>Billing and Cost Management User Guide</i>.</p>"
      }
    },
    "com.amazonaws.costexplorer#GetCostAndUsageRequest": {
      "type": "structure",
      "members": {
        "TimePeriod": {
          "target": "com.amazonaws.costexplorer#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>Sets the start and end dates for retrieving AWS costs. The start date is inclusive,  but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is  \n            retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Granularity": {
          "target": "com.amazonaws.costexplorer#Granularity",
          "traits": {
            "smithy.api#documentation": "<p>Sets the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>, or <code>HOURLY</code>. If <code>Granularity</code> isn't set, \n\t    the response object doesn't include the <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>, or <code>HOURLY</code>. </p>"
          }
        },
        "Filter": {
          "target": "com.amazonaws.costexplorer#Expression",
          "traits": {
            "smithy.api#documentation": "<p>Filters AWS costs by different dimensions. For example, you can specify <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> \n\t\t\tand get the costs that are associated with that account's usage of that service. You can nest <code>Expression</code> objects \n\t\t\tto define any combination of dimension filters. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>. </p>"
          }
        },
        "Metrics": {
          "target": "com.amazonaws.costexplorer#MetricNames",
          "traits": {
            "smithy.api#documentation": "<p>Which metrics are returned in the query. For more information about blended and unblended rates, see \n\t\t\t<a href=\"http://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why does the \"blended\" annotation \n\t\t\t\tappear on some line items in my bill?</a>. </p>\n\t\t       <p>Valid values are <code>AmortizedCost</code>, <code>BlendedCost</code>, <code>NetAmortizedCost</code>, \n\t\t\t<code>NetUnblendedCost</code>, <code>NormalizedUsageAmount</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>. </p>\n\t\t       <note>\n\t\t\t         <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without \n\t\t\t\ttaking into account the units. For example, if you aggregate <code>usageQuantity</code> across all of Amazon EC2, \n\t\t\t\tthe results aren't meaningful because Amazon EC2 compute hours and data transfer are measured in different units \n\t\t\t\t(for example, hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or \n\t\t\t\t<code>UsageTypeGroups</code>. </p>\n\t\t       </note>\n\t\t       <p>\n            <code>Metrics</code> is required for <code>GetCostAndUsage</code> requests.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupBy": {
          "target": "com.amazonaws.costexplorer#GroupDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>You can group AWS costs using up to two different groups, either dimensions, tag keys,\n      cost categories, or any two group by types.</p>\n\t\t       <p>When you group by tag key, you get all tag values, including empty strings.</p>\n\t\t       <p>Valid values are <code>AZ</code>, <code>INSTANCE_TYPE</code>, <code>LEGAL_ENTITY_NAME</code>, <code>LINKED_ACCOUNT</code>, \n\t\t\t<code>OPERATION</code>, <code>PLATFORM</code>, <code>PURCHASE_TYPE</code>, <code>SERVICE</code>, <code>TAGS</code>, \n\t\t  <code>TENANCY</code>, <code>RECORD_TYPE</code>, and <code>USAGE_TYPE</code>.</p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetCostAndUsageResponse": {
      "type": "structure",
      "members": {
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "GroupDefinitions": {
          "target": "com.amazonaws.costexplorer#GroupDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The groups that are specified by the <code>Filter</code> or <code>GroupBy</code> parameters in the request.</p>"
          }
        },
        "ResultsByTime": {
          "target": "com.amazonaws.costexplorer#ResultsByTime",
          "traits": {
            "smithy.api#documentation": "<p>The time period that is covered by the results in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetCostAndUsageWithResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#GetCostAndUsageWithResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#GetCostAndUsageWithResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#BillExpirationException"
        },
        {
          "target": "com.amazonaws.costexplorer#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.costexplorer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#RequestChangedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves cost and usage metrics with resources for your account. You can specify which cost and\n\t    usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that\n\t    you want the request to return. You can also filter and group your data by various dimensions,\n\t    such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list\n\t    of valid dimensions, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Management account in an organization in AWS\n\t    Organizations have access to all member accounts. This API is currently available for the Amazon Elastic Compute Cloud – Compute service only.</p>\n\t        <note>\n            <p>This is an opt-in only feature. You can enable this feature from the Cost Explorer Settings page. For information on how to access the Settings page, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-access.html\">Controlling Access for Cost Explorer</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p>\n         </note>"
      }
    },
    "com.amazonaws.costexplorer#GetCostAndUsageWithResourcesRequest": {
      "type": "structure",
      "members": {
        "TimePeriod": {
          "target": "com.amazonaws.costexplorer#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>Sets the start and end dates for retrieving Amazon Web Services costs. The range must be within the last 14 days (the start date cannot be earlier than 14 days ago). The start date is inclusive,  but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is  \n            retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Granularity": {
          "target": "com.amazonaws.costexplorer#Granularity",
          "traits": {
            "smithy.api#documentation": "<p>Sets the AWS cost granularity to <code>MONTHLY</code>, <code>DAILY</code>, or <code>HOURLY</code>. If\n\t    <code>Granularity</code> isn't set, the response object doesn't include the\n\t    <code>Granularity</code>, <code>MONTHLY</code>, <code>DAILY</code>, or <code>HOURLY</code>. </p>"
          }
        },
        "Filter": {
          "target": "com.amazonaws.costexplorer#Expression",
          "traits": {
            "smithy.api#documentation": "<p>Filters Amazon Web Services costs by different dimensions. For example, you can specify\n      <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> and get the costs that are associated\n      with that account's usage of that service. You can nest <code>Expression</code> objects to\n      define any combination of dimension filters. For more information, see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>. </p>\n         <p>The <code>GetCostAndUsageWithResources</code> operation requires that you either group by or filter by a\n      <code>ResourceId</code>. It requires the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> \n            <code>\"SERVICE = Amazon Elastic Compute Cloud - Compute\"</code> in the filter.</p>",
            "smithy.api#required": {}
          }
        },
        "Metrics": {
          "target": "com.amazonaws.costexplorer#MetricNames",
          "traits": {
            "smithy.api#documentation": "<p>Which metrics are returned in the query. For more information about blended and\n      unblended rates, see <a href=\"http://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why does\n        the \"blended\" annotation appear on some line items in my bill?</a>. </p>\n         <p>Valid values are <code>AmortizedCost</code>, <code>BlendedCost</code>,\n      <code>NetAmortizedCost</code>, <code>NetUnblendedCost</code>,\n      <code>NormalizedUsageAmount</code>, <code>UnblendedCost</code>, and\n      <code>UsageQuantity</code>. </p>\n         <note>\n            <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage\n        numbers without taking the units into account. For example, if you aggregate\n        <code>usageQuantity</code> across all of Amazon EC2, the results aren't meaningful because\n        Amazon EC2 compute hours and data transfer are measured in different units (for example, hours\n        vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by\n        <code>UsageType</code> or <code>UsageTypeGroups</code>. </p>\n         </note>\n         <p>\n            <code>Metrics</code> is required for <code>GetCostAndUsageWithResources</code> requests.</p>"
          }
        },
        "GroupBy": {
          "target": "com.amazonaws.costexplorer#GroupDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>You can group Amazon Web Services costs using up to two different groups: <code>DIMENSION</code>, <code>TAG</code>, <code>COST_CATEGORY</code>.</p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetCostAndUsageWithResourcesResponse": {
      "type": "structure",
      "members": {
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "GroupDefinitions": {
          "target": "com.amazonaws.costexplorer#GroupDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The groups that are specified by the <code>Filter</code> or <code>GroupBy</code>\n      parameters in the request.</p>"
          }
        },
        "ResultsByTime": {
          "target": "com.amazonaws.costexplorer#ResultsByTime",
          "traits": {
            "smithy.api#documentation": "<p>The time period that is covered by the results in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetCostForecast": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#GetCostForecastRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#GetCostForecastResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a forecast for how much Amazon Web Services predicts that you will spend over the forecast time period that you select, based on your past costs. </p>"
      }
    },
    "com.amazonaws.costexplorer#GetCostForecastRequest": {
      "type": "structure",
      "members": {
        "TimePeriod": {
          "target": "com.amazonaws.costexplorer#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The period of time that you want the forecast to cover. The start date must be equal to or no later than the current date to avoid a validation error.</p>",
            "smithy.api#required": {}
          }
        },
        "Metric": {
          "target": "com.amazonaws.costexplorer#Metric",
          "traits": {
[...]
