{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.costexplorer#AWSInsightsIndexService": {
      "type": "service",
      "version": "2017-10-25",
      "operations": [
        {
          "target": "com.amazonaws.costexplorer#CreateAnomalyMonitor"
        },
        {
          "target": "com.amazonaws.costexplorer#CreateAnomalySubscription"
        },
        {
          "target": "com.amazonaws.costexplorer#CreateCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.costexplorer#DeleteAnomalyMonitor"
        },
        {
          "target": "com.amazonaws.costexplorer#DeleteAnomalySubscription"
        },
        {
          "target": "com.amazonaws.costexplorer#DeleteCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.costexplorer#DescribeCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.costexplorer#GetAnomalies"
        },
        {
          "target": "com.amazonaws.costexplorer#GetAnomalyMonitors"
        },
        {
          "target": "com.amazonaws.costexplorer#GetAnomalySubscriptions"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostAndUsage"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostAndUsageWithResources"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostCategories"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostForecast"
        },
        {
          "target": "com.amazonaws.costexplorer#GetDimensionValues"
        },
        {
          "target": "com.amazonaws.costexplorer#GetReservationCoverage"
        },
        {
          "target": "com.amazonaws.costexplorer#GetReservationPurchaseRecommendation"
        },
        {
          "target": "com.amazonaws.costexplorer#GetReservationUtilization"
        },
        {
          "target": "com.amazonaws.costexplorer#GetRightsizingRecommendation"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansCoverage"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansPurchaseRecommendation"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansUtilization"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansUtilizationDetails"
        },
        {
          "target": "com.amazonaws.costexplorer#GetTags"
        },
        {
          "target": "com.amazonaws.costexplorer#GetUsageForecast"
        },
        {
          "target": "com.amazonaws.costexplorer#ListCostAllocationTags"
        },
        {
          "target": "com.amazonaws.costexplorer#ListCostCategoryDefinitions"
        },
        {
          "target": "com.amazonaws.costexplorer#ListSavingsPlansPurchaseRecommendationGeneration"
        },
        {
          "target": "com.amazonaws.costexplorer#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.costexplorer#ProvideAnomalyFeedback"
        },
        {
          "target": "com.amazonaws.costexplorer#StartSavingsPlansPurchaseRecommendationGeneration"
        },
        {
          "target": "com.amazonaws.costexplorer#TagResource"
        },
        {
          "target": "com.amazonaws.costexplorer#UntagResource"
        },
        {
          "target": "com.amazonaws.costexplorer#UpdateAnomalyMonitor"
        },
        {
          "target": "com.amazonaws.costexplorer#UpdateAnomalySubscription"
        },
        {
          "target": "com.amazonaws.costexplorer#UpdateCostAllocationTagsStatus"
        },
        {
          "target": "com.amazonaws.costexplorer#UpdateCostCategoryDefinition"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Cost Explorer",
          "arnNamespace": "ce",
          "cloudFormationName": "CostExplorer",
          "cloudTrailEventSource": "costexplorer.amazonaws.com",
          "endpointPrefix": "ce"
        },
        "aws.auth#sigv4": {
          "name": "ce"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>You can use the Cost Explorer API to programmatically query your cost and usage data.\n      You can query for aggregated data such as total monthly costs or total daily usage. You can\n      also query for granular data. This might include the number of daily write operations for\n      Amazon DynamoDB database tables in your production environment. </p>\n         <p>Service Endpoint</p>\n         <p>The Cost Explorer API provides the following endpoint:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>https://ce.us-east-1.amazonaws.com</code>\n               </p>\n            </li>\n         </ul>\n         <p>For information about the costs that are associated with the Cost Explorer API, see\n        <a href=\"http://aws.amazon.com/aws-cost-management/pricing/\">Amazon Web Services Cost\n        Management Pricing</a>.</p>",
        "smithy.api#title": "AWS Cost Explorer Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cost-explorer-fips.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "ce"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cost-explorer-fips.{Region}.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "ce"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cost-explorer.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "ce"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://ce.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-east-1",
                              "signingName": "ce"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-cn"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cost-explorer-fips.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-northwest-1",
                                      "signingName": "ce"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cost-explorer-fips.{Region}.amazonaws.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-northwest-1",
                                      "signingName": "ce"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cost-explorer.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-northwest-1",
                                      "signingName": "ce"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://ce.cn-northwest-1.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "cn-northwest-1",
                              "signingName": "ce"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://ce-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ce-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://ce.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://ce.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-east-1",
                              "signingName": "ce"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-cn-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://ce.cn-northwest-1.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "cn-northwest-1",
                              "signingName": "ce"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://ce.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region aws-cn-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "cn-northwest-1",
                        "name": "sigv4",
                        "signingName": "ce"
                      }
                    ]
                  },
                  "url": "https://ce.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "aws-cn-global"
              }
            },
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "us-east-1",
                        "name": "sigv4",
                        "signingName": "ce"
                      }
                    ]
                  },
                  "url": "https://ce.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "aws-global"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.costexplorer#AccountScope": {
      "type": "enum",
      "members": {
        "PAYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAYER"
          }
        },
        "LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINKED"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#AmortizedRecurringFee": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#AmortizedUpfrontFee": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#Anomalies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#Anomaly"
      }
    },
    "com.amazonaws.costexplorer#Anomaly": {
      "type": "structure",
      "members": {
        "AnomalyId": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the anomaly. </p>",
            "smithy.api#required": {}
          }
        },
        "AnomalyStartDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The first day the anomaly is detected. </p>"
          }
        },
        "AnomalyEndDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The last day the anomaly is detected. </p>"
          }
        },
        "DimensionValue": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The dimension for the anomaly (for example, an Amazon Web Service in a service\n            monitor). </p>"
          }
        },
        "RootCauses": {
          "target": "com.amazonaws.costexplorer#RootCauses",
          "traits": {
            "smithy.api#documentation": "<p>The list of identified root causes for the anomaly. </p>"
          }
        },
        "AnomalyScore": {
          "target": "com.amazonaws.costexplorer#AnomalyScore",
          "traits": {
            "smithy.api#documentation": "<p>The latest and maximum score for the anomaly. </p>",
            "smithy.api#required": {}
          }
        },
        "Impact": {
          "target": "com.amazonaws.costexplorer#Impact",
          "traits": {
            "smithy.api#documentation": "<p>The dollar impact for the anomaly. </p>",
            "smithy.api#required": {}
          }
        },
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the cost monitor that generated this anomaly.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Feedback": {
          "target": "com.amazonaws.costexplorer#AnomalyFeedbackType",
          "traits": {
            "smithy.api#documentation": "<p>The feedback value. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An unusual cost pattern. This consists of the detailed metadata and the current status\n            of the anomaly object. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalyDateInterval": {
      "type": "structure",
      "members": {
        "StartDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The first date an anomaly was observed. </p>",
            "smithy.api#required": {}
          }
        },
        "EndDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The last date an anomaly was observed. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The time period for an anomaly. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalyFeedbackType": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YES"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "PLANNED_ACTIVITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNED_ACTIVITY"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#AnomalyMonitor": {
      "type": "structure",
      "members": {
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) value. </p>"
          }
        },
        "MonitorName": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the monitor. </p>",
            "smithy.api#required": {}
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The date when the monitor was created. </p>"
          }
        },
        "LastUpdatedDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The date when the monitor was last updated. </p>"
          }
        },
        "LastEvaluatedDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The date when the monitor last evaluated for anomalies. </p>"
          }
        },
        "MonitorType": {
          "target": "com.amazonaws.costexplorer#MonitorType",
          "traits": {
            "smithy.api#documentation": "<p>The possible type values. </p>",
            "smithy.api#required": {}
          }
        },
        "MonitorDimension": {
          "target": "com.amazonaws.costexplorer#MonitorDimension",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions to evaluate. </p>"
          }
        },
        "MonitorSpecification": {
          "target": "com.amazonaws.costexplorer#Expression"
        },
        "DimensionalValueCount": {
          "target": "com.amazonaws.costexplorer#NonNegativeInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The value for evaluated dimensions. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This object continuously inspects your account's cost data for anomalies. It's based\n            on <code>MonitorType</code> and <code>MonitorSpecification</code>. The content consists\n            of detailed metadata and the current status of the monitor object. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalyMonitors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#AnomalyMonitor"
      }
    },
    "com.amazonaws.costexplorer#AnomalyScore": {
      "type": "structure",
      "members": {
        "MaxScore": {
          "target": "com.amazonaws.costexplorer#GenericDouble",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum score that's observed during the <code>AnomalyDateInterval</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "CurrentScore": {
          "target": "com.amazonaws.costexplorer#GenericDouble",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The last observed score. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Quantifies the anomaly. The higher score means that it's more anomalous. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalySubscription": {
      "type": "structure",
      "members": {
        "SubscriptionArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AnomalySubscription</code> Amazon Resource Name (ARN). </p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Your unique account identifier. </p>"
          }
        },
        "MonitorArnList": {
          "target": "com.amazonaws.costexplorer#MonitorArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cost anomaly monitors. </p>",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.costexplorer#Subscribers",
          "traits": {
            "smithy.api#documentation": "<p>A list of subscribers to notify. </p>",
            "smithy.api#required": {}
          }
        },
        "Threshold": {
          "target": "com.amazonaws.costexplorer#NullableNonNegativeDouble",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Threshold has been deprecated in favor of ThresholdExpression"
            },
            "smithy.api#documentation": "<p>(deprecated)</p>\n         <p>The dollar value that triggers a notification if the threshold is exceeded. </p>\n         <p>This field has been deprecated. To specify a threshold, use ThresholdExpression.\n            Continued use of Threshold will be treated as shorthand syntax for a\n            ThresholdExpression.</p>\n         <p>One of Threshold or ThresholdExpression is required for this resource.</p>"
          }
        },
        "Frequency": {
          "target": "com.amazonaws.costexplorer#AnomalySubscriptionFrequency",
          "traits": {
            "smithy.api#documentation": "<p>The frequency that anomaly reports are sent over email. </p>",
            "smithy.api#required": {}
          }
        },
        "SubscriptionName": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name for the subscription. </p>",
            "smithy.api#required": {}
          }
        },
        "ThresholdExpression": {
          "target": "com.amazonaws.costexplorer#Expression",
          "traits": {
            "smithy.api#documentation": "<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>\n            object used to specify the anomalies that you want to generate alerts for. This supports\n            dimensions and nested expressions. The supported dimensions are\n                <code>ANOMALY_TOTAL_IMPACT_ABSOLUTE</code> and\n                <code>ANOMALY_TOTAL_IMPACT_PERCENTAGE</code>. The supported nested expression types\n            are <code>AND</code> and <code>OR</code>. The match option\n                <code>GREATER_THAN_OR_EQUAL</code> is required. Values must be numbers between 0 and\n            10,000,000,000.</p>\n         <p>One of Threshold or ThresholdExpression is required for this resource.</p>\n         <p>The following are examples of valid ThresholdExpressions:</p>\n         <ul>\n            <li>\n               <p>Absolute threshold: <code>{ \"Dimensions\": { \"Key\":\n                        \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\"\n                        ], \"Values\": [ \"100\" ] } }</code>\n               </p>\n            </li>\n            <li>\n               <p>Percentage threshold: <code>{ \"Dimensions\": { \"Key\":\n                        \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\"\n                        ], \"Values\": [ \"100\" ] } }</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>AND</code> two thresholds together: <code>{ \"And\": [ { \"Dimensions\": {\n                        \"Key\": \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [\n                        \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }, { \"Dimensions\": { \"Key\":\n                        \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\"\n                        ], \"Values\": [ \"100\" ] } } ] }</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OR</code> two thresholds together: <code>{ \"Or\": [ { \"Dimensions\": {\n                        \"Key\": \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [\n                        \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }, { \"Dimensions\": { \"Key\":\n                        \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\"\n                        ], \"Values\": [ \"100\" ] } } ] }</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The association between a monitor, threshold, and list of subscribers used to deliver\n            notifications about anomalies detected by a monitor that exceeds a threshold. The\n            content consists of the detailed metadata and the current status of the\n                <code>AnomalySubscription</code> object. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalySubscriptionFrequency": {
      "type": "enum",
      "members": {
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "IMMEDIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMMEDIATE"
          }
        },
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKLY"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#AnomalySubscriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#AnomalySubscription"
      }
    },
    "com.amazonaws.costexplorer#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+$"
      }
    },
    "com.amazonaws.costexplorer#AttributeType": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#AttributeValue": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.costexplorer#AttributeType"
      },
      "value": {
        "target": "com.amazonaws.costexplorer#AttributeValue"
      }
    },
    "com.amazonaws.costexplorer#BillExpirationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.costexplorer#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested report expired. Update the date interval and try again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.costexplorer#Context": {
      "type": "enum",
      "members": {
        "COST_AND_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COST_AND_USAGE"
          }
        },
        "RESERVATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATIONS"
          }
        },
        "SAVINGS_PLANS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAVINGS_PLANS"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CostAllocationTag": {
      "type": "structure",
      "members": {
        "TagKey": {
          "target": "com.amazonaws.costexplorer#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key for the cost allocation tag. </p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.costexplorer#CostAllocationTagType",
          "traits": {
            "smithy.api#documentation": "<p>The type of cost allocation tag. You can use <code>AWSGenerated</code> or\n                <code>UserDefined</code> type tags. <code>AWSGenerated</code> type tags are tags\n            that Amazon Web Services defines and applies to support Amazon Web Services resources for\n            cost allocation purposes. <code>UserDefined</code> type tags are tags that you define,\n            create, and apply to resources. </p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.costexplorer#CostAllocationTagStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a cost allocation tag. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The cost allocation tag structure. This includes detailed metadata for the\n                <code>CostAllocationTag</code> object. </p>"
      }
    },
    "com.amazonaws.costexplorer#CostAllocationTagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.costexplorer#CostAllocationTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostAllocationTag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.costexplorer#CostAllocationTagStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inactive"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CostAllocationTagStatusEntry": {
      "type": "structure",
      "members": {
        "TagKey": {
          "target": "com.amazonaws.costexplorer#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key for the cost allocation tag. </p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.costexplorer#CostAllocationTagStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a cost allocation tag. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The cost allocation tag status. The status of a key can either be active or inactive.\n        </p>"
      }
    },
    "com.amazonaws.costexplorer#CostAllocationTagStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostAllocationTagStatusEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.costexplorer#CostAllocationTagType": {
      "type": "enum",
      "members": {
        "AWS_GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWSGenerated"
          }
        },
        "USER_DEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UserDefined"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CostAllocationTagsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategory": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for your Cost Category. </p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveStart": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The effective start date of your Cost Category.</p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The effective end date of your Cost Category.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.costexplorer#CostCategoryName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RuleVersion": {
          "target": "com.amazonaws.costexplorer#CostCategoryRuleVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.costexplorer#CostCategoryRulesList",
          "traits": {
            "smithy.api#documentation": "<p>The rules are processed in order. If there are multiple rules that match the line\n            item, then the first rule to match is used to determine that Cost Category value.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "SplitChargeRules": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRulesList",
          "traits": {
            "smithy.api#documentation": "<p> The split charge rules that are used to allocate your charges between your Cost\n            Category values. </p>"
          }
        },
        "ProcessingStatus": {
          "target": "com.amazonaws.costexplorer#CostCategoryProcessingStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The list of processing statuses for Cost Management products for a specific cost\n            category. </p>"
          }
        },
        "DefaultValue": {
          "target": "com.amazonaws.costexplorer#CostCategoryValue"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure of Cost Categories. This includes detailed metadata and the set of rules\n            for the <code>CostCategory</code> object.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryInheritedValueDimension": {
      "type": "structure",
      "members": {
        "DimensionName": {
          "target": "com.amazonaws.costexplorer#CostCategoryInheritedValueDimensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension that's used to group costs.</p>\n         <p>If you specify <code>LINKED_ACCOUNT_NAME</code>, the cost category value is based on\n            account name. If you specify <code>TAG</code>, the cost category value is based on the\n            value of the specified tag key.</p>"
          }
        },
        "DimensionKey": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The key to extract cost category values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When you create or update a cost category, you can define the\n                <code>CostCategoryRule</code> rule type as <code>INHERITED_VALUE</code>. This rule\n            type adds the flexibility to define a rule that dynamically inherits the cost category\n            value from the dimension value that's defined by\n                <code>CostCategoryInheritedValueDimension</code>. For example, suppose that you want\n            to dynamically group costs that are based on the value of a specific tag key. First,\n            choose an inherited value rule type, and then choose the tag dimension and specify the\n            tag key to use.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryInheritedValueDimensionName": {
      "type": "enum",
      "members": {
        "LINKED_ACCOUNT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINKED_ACCOUNT_NAME"
          }
        },
        "TAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAG"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategoryMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategoryName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The unique name of the Cost Category.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryName"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryProcessingStatus": {
      "type": "structure",
      "members": {
        "Component": {
          "target": "com.amazonaws.costexplorer#CostCategoryStatusComponent",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Management product name of the applied status. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.costexplorer#CostCategoryStatus",
          "traits": {
            "smithy.api#documentation": "<p>The process status for a specific cost category. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of processing statuses for Cost Management products for a specific cost\n            category. </p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryProcessingStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryProcessingStatus"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryReference": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for your Cost Category. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.costexplorer#CostCategoryName"
        },
        "EffectiveStart": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category's effective start date.</p>"
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category's effective end date.</p>"
          }
        },
        "NumberOfRules": {
          "target": "com.amazonaws.costexplorer#NonNegativeInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of rules that are associated with a specific Cost Category. </p>"
          }
        },
        "ProcessingStatus": {
          "target": "com.amazonaws.costexplorer#CostCategoryProcessingStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The list of processing statuses for Cost Management products for a specific cost\n            category. </p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.costexplorer#CostCategoryValuesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of unique cost category values in a specific cost category. </p>"
          }
        },
        "DefaultValue": {
          "target": "com.amazonaws.costexplorer#CostCategoryValue"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A reference to a Cost Category containing only enough information to identify the Cost\n            Category.</p>\n         <p>You can use this information to retrieve the full Cost Category information using\n                <code>DescribeCostCategory</code>.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryReferencesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryReference"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRule": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.costexplorer#CostCategoryValue"
        },
        "Rule": {
          "target": "com.amazonaws.costexplorer#Expression",
          "traits": {
            "smithy.api#documentation": "<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>\n            object used to categorize costs. This supports dimensions, tags, and nested expressions.\n            Currently the only dimensions supported are <code>LINKED_ACCOUNT</code>,\n                <code>SERVICE_CODE</code>, <code>RECORD_TYPE</code>, and\n                <code>LINKED_ACCOUNT_NAME</code>.</p>\n         <p>Root level <code>OR</code> isn't supported. We recommend that you create a separate\n            rule instead.</p>\n         <p>\n            <code>RECORD_TYPE</code> is a dimension used for Cost Explorer APIs, and is also\n            supported for Cost Category expressions. This dimension uses different terms, depending\n            on whether you're using the console or API/JSON editor. For a detailed comparison, see\n                <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/manage-cost-categories.html#cost-categories-terms\">Term Comparisons</a> in the <i>Billing and Cost Management User\n                Guide</i>.</p>"
          }
        },
        "InheritedValue": {
          "target": "com.amazonaws.costexplorer#CostCategoryInheritedValueDimension",
          "traits": {
            "smithy.api#documentation": "<p>The value the line item is categorized as if the line item contains the matched\n            dimension.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.costexplorer#CostCategoryRuleType",
          "traits": {
            "smithy.api#documentation": "<p>You can define the <code>CostCategoryRule</code> rule type as either\n                <code>REGULAR</code> or <code>INHERITED_VALUE</code>. The\n                <code>INHERITED_VALUE</code> rule type adds the flexibility to define a rule that\n            dynamically inherits the cost category value. This value is from the dimension value\n            that's defined by <code>CostCategoryInheritedValueDimension</code>. For example, suppose\n            that you want to costs to be dynamically grouped based on the value of a specific tag\n            key. First, choose an inherited value rule type, and then choose the tag dimension and\n            specify the tag key to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Rules are processed in order. If there are multiple rules that match the line item,\n            then the first rule to match is used to determine that Cost Category value.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRuleType": {
      "type": "enum",
      "members": {
        "REGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGULAR"
          }
        },
        "INHERITED_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INHERITED_VALUE"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRuleVersion": {
      "type": "enum",
      "members": {
        "CostCategoryExpressionV1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CostCategoryExpression.v1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The rule schema version in this particular Cost Category.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeMethod": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        },
        "PROPORTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPORTIONAL"
          }
        },
        "EVEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVEN"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRule": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category value that you want to split. That value can't be used as a source\n            or a target in other split charge rules. To indicate uncategorized costs, you can use an\n            empty string as the source.</p>",
            "smithy.api#required": {}
          }
        },
        "Targets": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRuleTargetsList",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category values that you want to split costs across. These values can't be\n            used as a source in other split charge rules. </p>",
            "smithy.api#required": {}
          }
        },
        "Method": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeMethod",
          "traits": {
            "smithy.api#documentation": "<p>The method that's used to define how to split your source costs across your targets. </p>\n         <p>\n            <code>Proportional</code> - Allocates charges across your targets based on the\n            proportional weighted cost of each target.</p>\n         <p>\n            <code>Fixed</code> - Allocates charges across your targets based on your defined\n            allocation percentage.</p>\n         <p>><code>Even</code> - Allocates costs evenly across all targets.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParametersList",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for a split charge method. This is only required for the\n                <code>FIXED</code> method. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use the split charge rule to split the cost of one Cost Category value across several\n            other target values. </p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameter": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameterType",
          "traits": {
            "smithy.api#documentation": "<p>The parameter type. </p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameterValuesList",
          "traits": {
            "smithy.api#documentation": "<p>The parameter values. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for a split charge method. </p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameterType": {
      "type": "enum",
      "members": {
        "ALLOCATION_PERCENTAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOCATION_PERCENTAGES"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameterValuesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#GenericString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParametersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRuleTargetsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#GenericString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategoryStatus": {
      "type": "enum",
      "members": {
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "APPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLIED"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategoryStatusComponent": {
      "type": "enum",
      "members": {
        "COST_EXPLORER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COST_EXPLORER"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategoryValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The\n            default value for the cost category.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryValues": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.costexplorer#CostCategoryName"
        },
        "Values": {
          "target": "com.amazonaws.costexplorer#Values",
          "traits": {
            "smithy.api#documentation": "<p>The specific value of the Cost Category.</p>"
          }
        },
        "MatchOptions": {
          "target": "com.amazonaws.costexplorer#MatchOptions",
          "traits": {
            "smithy.api#documentation": "<p>The match options that you can use to filter your results. MatchOptions is only\n            applicable for actions related to cost category. The default values for\n                <code>MatchOptions</code> is <code>EQUALS</code> and <code>CASE_SENSITIVE</code>.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Cost Categories values used for filtering the costs.</p>\n         <p>If <code>Values</code> and <code>Key</code> are not specified, the <code>ABSENT</code>\n            <code>MatchOption</code> is applied to all Cost Categories. That is, it filters on\n            resources that aren't mapped to any Cost Categories.</p>\n         <p>If <code>Values</code> is provided and <code>Key</code> isn't specified, the\n                <code>ABSENT</code>\n            <code>MatchOption</code> is applied to the Cost Categories <code>Key</code> only. That\n            is, it filters on resources without the given Cost Categories key.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryValuesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryValue"
      }
    },
    "com.amazonaws.costexplorer#Coverage": {
      "type": "structure",
      "members": {
        "CoverageHours": {
          "target": "com.amazonaws.costexplorer#CoverageHours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of instance usage that the reservation covered, in hours.</p>"
          }
        },
        "CoverageNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#CoverageNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The amount of instance usage that the reservation covered, in normalized units.</p>"
          }
        },
        "CoverageCost": {
          "target": "com.amazonaws.costexplorer#CoverageCost",
          "traits": {
            "smithy.api#documentation": "<p>The amount of cost that the reservation covered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of instance usage that a reservation covered.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageByTime": {
      "type": "structure",
      "members": {
        "TimePeriod": {
          "target": "com.amazonaws.costexplorer#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The period that this coverage was used over.</p>"
          }
        },
        "Groups": {
          "target": "com.amazonaws.costexplorer#ReservationCoverageGroups",
          "traits": {
            "smithy.api#documentation": "<p>The groups of instances that the reservation covered.</p>"
          }
        },
        "Total": {
          "target": "com.amazonaws.costexplorer#Coverage",
          "traits": {
            "smithy.api#documentation": "<p>The total reservation coverage, in hours.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reservation coverage for a specified period, in hours.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageCost": {
      "type": "structure",
      "members": {
        "OnDemandCost": {
          "target": "com.amazonaws.costexplorer#OnDemandCost",
          "traits": {
            "smithy.api#documentation": "<p>How much an On-Demand Instance costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How much it costs to run an instance.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageHours": {
      "type": "structure",
      "members": {
        "OnDemandHours": {
          "target": "com.amazonaws.costexplorer#OnDemandHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of instance running hours that On-Demand Instances covered.</p>"
          }
        },
        "ReservedHours": {
          "target": "com.amazonaws.costexplorer#ReservedHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of instance running hours that reservations covered.</p>"
          }
        },
        "TotalRunningHours": {
          "target": "com.amazonaws.costexplorer#TotalRunningHours",
          "traits": {
            "smithy.api#documentation": "<p>The total instance usage, in hours.</p>"
          }
        },
        "CoverageHoursPercentage": {
          "target": "com.amazonaws.costexplorer#CoverageHoursPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of instance hours that a reservation covered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How long a running instance either used a reservation or was On-Demand.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageHoursPercentage": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#CoverageNormalizedUnits": {
      "type": "structure",
      "members": {
        "OnDemandNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#OnDemandNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The number of normalized units that are covered by On-Demand Instances instead of a\n            reservation.</p>"
          }
        },
        "ReservedNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#ReservedNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The number of normalized units that a reservation covers.</p>"
          }
        },
        "TotalRunningNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#TotalRunningNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of normalized units that you used.</p>"
          }
        },
        "CoverageNormalizedUnitsPercentage": {
          "target": "com.amazonaws.costexplorer#CoverageNormalizedUnitsPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of your used instance normalized units that a reservation\n            covers.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of instance usage, in normalized units. You can use normalized units to see\n            your EC2 usage for multiple sizes of instances in a uniform way. For example, suppose\n            that you run an xlarge instance and a 2xlarge instance. If you run both instances for\n            the same amount of time, the 2xlarge instance uses twice as much of your reservation as\n            the xlarge instance, even though both instances show only one instance-hour. When you\n            use normalized units instead of instance-hours, the xlarge instance used 8 normalized\n            units, and the 2xlarge instance used 16 normalized units.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-modifying.html\">Modifying Reserved Instances</a>\n            in the <i>Amazon Elastic Compute Cloud User Guide for Linux\n            Instances</i>.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageNormalizedUnitsPercentage": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#CoveragesByTime": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CoverageByTime"
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalyMonitor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#CreateAnomalyMonitorRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#CreateAnomalyMonitorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new cost anomaly detection monitor with the requested type and monitor\n      specification. </p>"
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalyMonitorRequest": {
      "type": "structure",
      "members": {
        "AnomalyMonitor": {
          "target": "com.amazonaws.costexplorer#AnomalyMonitor",
          "traits": {
            "smithy.api#documentation": "<p>The cost anomaly detection monitor object that you want to create.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.costexplorer#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of tags to associate with the specified <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalyMonitor.html\">\n               <code>AnomalyMonitor</code>\n            </a>. You can use resource tags to control access to your\n        <code>monitor</code> using IAM policies.</p>\n         <p>Each tag consists of a key and a value, and each key must be unique for the resource. The\n      following restrictions apply to resource tags:</p>\n         <ul>\n            <li>\n               <p>Although the maximum number of array members is 200, you can assign a maximum of 50\n          user-tags to one resource. The remaining are reserved for Amazon Web Services use</p>\n            </li>\n            <li>\n               <p>The maximum length of a key is 128 characters</p>\n            </li>\n            <li>\n               <p>The maximum length of a value is 256 characters</p>\n            </li>\n            <li>\n               <p>Keys and values can only contain alphanumeric characters, spaces, and any of the\n          following: <code>_.:/=+@-</code>\n               </p>\n            </li>\n            <li>\n               <p>Keys and values are case sensitive</p>\n            </li>\n            <li>\n               <p>Keys and values are trimmed for any leading or trailing whitespaces</p>\n            </li>\n            <li>\n               <p>Don’t use <code>aws:</code> as a prefix for your keys. This prefix is reserved for\n            Amazon Web Services use</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalyMonitorResponse": {
      "type": "structure",
      "members": {
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of your newly created cost anomaly detection monitor.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalySubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#CreateAnomalySubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#CreateAnomalySubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownMonitorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an alert subscription to a cost anomaly detection monitor. You can use each\n      subscription to define subscribers with email or SNS notifications. Email subscribers can set\n      an absolute or percentage threshold and a time frequency for receiving notifications. </p>"
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalySubscriptionRequest": {
      "type": "structure",
      "members": {
        "AnomalySubscription": {
          "target": "com.amazonaws.costexplorer#AnomalySubscription",
          "traits": {
            "smithy.api#documentation": "<p>The cost anomaly subscription object that you want to create. </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.costexplorer#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of tags to associate with the specified <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalySubscription.html\">\n               <code>AnomalySubscription</code>\n            </a>. You can use resource tags to control access to\n      your <code>subscription</code> using IAM policies.</p>\n         <p>Each tag consists of a key and a value, and each key must be unique for the resource. The\n      following restrictions apply to resource tags:</p>\n         <ul>\n            <li>\n               <p>Although the maximum number of array members is 200, you can assign a maximum of 50\n          user-tags to one resource. The remaining are reserved for Amazon Web Services use</p>\n            </li>\n            <li>\n               <p>The maximum length of a key is 128 characters</p>\n            </li>\n            <li>\n               <p>The maximum length of a value is 256 characters</p>\n            </li>\n            <li>\n               <p>Keys and values can only contain alphanumeric characters, spaces, and any of the\n          following: <code>_.:/=+@-</code>\n               </p>\n            </li>\n            <li>\n               <p>Keys and values are case sensitive</p>\n            </li>\n            <li>\n               <p>Keys and values are trimmed for any leading or trailing whitespaces</p>\n            </li>\n            <li>\n               <p>Don’t use <code>aws:</code> as a prefix for your keys. This prefix is reserved for\n            Amazon Web Services use</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalySubscriptionResponse": {
      "type": "structure",
      "members": {
        "SubscriptionArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of your newly created cost anomaly subscription. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateCostCategoryDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#CreateCostCategoryDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#CreateCostCategoryDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Cost Category with the requested name and rules.</p>"
      }
    },
    "com.amazonaws.costexplorer#CreateCostCategoryDefinitionRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.costexplorer#CostCategoryName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "EffectiveStart": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category's effective start date. It can only be a billing start date (first day of the month). If the date isn't provided, it's the first day of the current month. Dates can't be before the previous twelve months, or in the future.</p>"
          }
        },
        "RuleVersion": {
          "target": "com.amazonaws.costexplorer#CostCategoryRuleVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.costexplorer#CostCategoryRulesList",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category rules used to categorize costs. For more information, see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategoryRule.html\">CostCategoryRule</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultValue": {
          "target": "com.amazonaws.costexplorer#CostCategoryValue"
        },
        "SplitChargeRules": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRulesList",
          "traits": {
            "smithy.api#documentation": "<p> The split charge rules used to allocate your charges between your Cost Category values.\n    </p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.costexplorer#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of tags to associate with the specified <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategory.html\">\n               <code>CostCategory</code>\n            </a>. You can use resource tags to control access to your\n        <code>cost category</code> using IAM policies.</p>\n         <p>Each tag consists of a key and a value, and each key must be unique for the resource. The\n      following restrictions apply to resource tags:</p>\n         <ul>\n            <li>\n               <p>Although the maximum number of array members is 200, you can assign a maximum of 50\n          user-tags to one resource. The remaining are reserved for Amazon Web Services use</p>\n            </li>\n            <li>\n               <p>The maximum length of a key is 128 characters</p>\n            </li>\n            <li>\n               <p>The maximum length of a value is 256 characters</p>\n            </li>\n            <li>\n               <p>Keys and values can only contain alphanumeric characters, spaces, and any of the\n          following: <code>_.:/=+@-</code>\n               </p>\n            </li>\n            <li>\n               <p>Keys and values are case sensitive</p>\n            </li>\n            <li>\n               <p>Keys and values are trimmed for any leading or trailing whitespaces</p>\n            </li>\n            <li>\n               <p>Don’t use <code>aws:</code> as a prefix for your keys. This prefix is reserved for\n            Amazon Web Services use</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateCostCategoryDefinitionResponse": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for your newly created Cost Category. </p>"
          }
        },
        "EffectiveStart": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category's effective start date. It can only be a billing start date (first day of the month).</p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CurrentInstance": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Resource ID of the current instance.</p>"
          }
        },
        "InstanceName": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name that you given an instance. This field shows as blank if you haven't given\n            the instance a name.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.costexplorer#TagValuesList",
          "traits": {
[...]
