{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.awsinsightsindexservice.v0#AWSInsightsIndexService": {
      "type": "service",
      "version": "2017-10-25",
      "operations": [
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CreateCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DeleteCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DescribeCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsage"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsageWithResources"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetCostForecast"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetDimensionValues"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetReservationCoverage"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetReservationPurchaseRecommendation"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetReservationUtilization"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetRightsizingRecommendation"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetSavingsPlansCoverage"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetSavingsPlansPurchaseRecommendation"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetSavingsPlansUtilization"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetSavingsPlansUtilizationDetails"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetTags"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GetUsageForecast"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ListCostCategoryDefinitions"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#UpdateCostCategoryDefinition"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Cost Explorer",
          "arnNamespace": "ce",
          "cloudFormationName": "CostExplorer",
          "cloudTrailEventSource": "v0.awsinsightsindexservice.amazonaws.com"
        },
        "smithy.api#documentation": "<p>The Cost Explorer API enables you to programmatically query your cost and usage data. You can query for aggregated data \n\t\t\tsuch as total monthly costs or total daily usage. You can also query for granular data, such as the number of \n\t\t\tdaily write operations for Amazon DynamoDB database tables in your production environment. </p>\n\t\t       <p>Service Endpoint</p>\n\t\t       <p>The Cost Explorer API provides the following endpoint:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>https://ce.us-east-1.amazonaws.com</code>\n               </p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>For information about costs associated with the Cost Explorer API, see \n\t\t\t<a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Cost Explorer Service"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#AccountScope": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PAYER": {
            "name": "PAYER"
          },
          "LINKED": {
            "name": "LINKED"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#AmortizedRecurringFee": {
      "type": "string"
    },
    "com.amazonaws.awsinsightsindexservice.v0#AmortizedUpfrontFee": {
      "type": "string"
    },
    "com.amazonaws.awsinsightsindexservice.v0#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#AttributeType": {
      "type": "string"
    },
    "com.amazonaws.awsinsightsindexservice.v0#AttributeValue": {
      "type": "string"
    },
    "com.amazonaws.awsinsightsindexservice.v0#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#AttributeType"
      },
      "value": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#AttributeValue"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#BillExpirationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested report expired. Update the date interval and try again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#Context": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "COST_AND_USAGE": {
            "name": "COST_AND_USAGE"
          },
          "RESERVATIONS": {
            "name": "RESERVATIONS"
          },
          "SAVINGS_PLANS": {
            "name": "SAVINGS_PLANS"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CostCategory": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n            The unique identifier for your Cost Category.\n        </p>",
            "smithy.api#required": true
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Cost Category's effective end date.</p>"
          }
        },
        "EffectiveStart": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Cost Category's effective start date.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryName",
          "traits": {
            "smithy.api#required": true
          }
        },
        "RuleVersion": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryRuleVersion",
          "traits": {
            "smithy.api#required": true
          }
        },
        "Rules": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryRulesList",
          "traits": {
            "smithy.api#documentation": "<p>\n            Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.\n        </p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<important>\n            <p>\n                <i>\n                  <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b>\n               </i>\n            </p>\n        </important>\n        <p>The structure of Cost Categories. This includes detailed metadata and the set of rules for the <code>CostCategory</code> object.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CostCategoryName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The unique name of the Cost Category.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CostCategoryReference": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n            The unique identifier for your Cost Category Reference.\n        </p>"
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Cost Category's effective end date.</p>"
          }
        },
        "EffectiveStart": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Cost Category's effective start date.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryName"
        }
      },
      "traits": {
        "smithy.api#documentation": "<important>\n            <p>\n                <i>\n                  <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b>\n               </i>\n            </p>\n        </important>\n        <p>A reference to a Cost Category containing only enough information to identify the Cost Category.</p>\n        <p>You can use this information to retrieve the full Cost Category information using <code>DescribeCostCategory</code>.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CostCategoryReferencesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryReference"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CostCategoryRule": {
      "type": "structure",
      "members": {
        "Rule": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Expression",
          "traits": {
            "smithy.api#documentation": "<p>An <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object used to categorize costs. This supports dimensions, Tags, and nested expressions. Currently the only dimensions supported is <code>LINKED_ACCOUNT</code>.</p>\n        <p>Root level <code>OR</code> is not supported. We recommend you create a separate rule instead.</p>",
            "smithy.api#required": true
          }
        },
        "Value": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryValue",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<important>\n            <p>\n                <i>\n                  <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b>\n               </i>\n            </p>\n        </important>\n        <p>Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CostCategoryRuleVersion": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The rule schema version in this particular Cost Category.</p>",
        "smithy.api#enum": {
          "CostCategoryExpression.v1": {
            "name": "CostCategoryExpressionV1"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CostCategoryRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CostCategoryValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The value a line item will be categorized as, if it matches the rule.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CostCategoryValues": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryName"
        },
        "Values": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Values",
          "traits": {
            "smithy.api#documentation": "<p>The specific value of the Cost Category.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<important>\n            <p>\n                <i>\n                  <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b>\n               </i>\n            </p>\n        </important>\n        <p>The values that are available for Cost Categories.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#Coverage": {
      "type": "structure",
      "members": {
        "CoverageCost": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CoverageCost",
          "traits": {
            "smithy.api#documentation": "<p>The amount of cost that the reservation covered.</p>"
          }
        },
        "CoverageHours": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CoverageHours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of instance usage that the reservation covered, in hours.</p>"
          }
        },
        "CoverageNormalizedUnits": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CoverageNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The amount of instance usage that the reservation covered, in normalized\n            units.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of instance usage that a reservation covered.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CoverageByTime": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ReservationCoverageGroups",
          "traits": {
            "smithy.api#documentation": "<p>The groups of instances that the reservation covered.</p>"
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The period that this coverage was used over.</p>"
          }
        },
        "Total": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Coverage",
          "traits": {
            "smithy.api#documentation": "<p>The total reservation coverage, in hours.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reservation\n            coverage for a specified period, in\n            hours.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CoverageCost": {
      "type": "structure",
      "members": {
        "OnDemandCost": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#OnDemandCost",
          "traits": {
            "smithy.api#documentation": "<p>How much an On-Demand instance cost.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How much it cost to run an instance.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CoverageHours": {
      "type": "structure",
      "members": {
        "CoverageHoursPercentage": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CoverageHoursPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of instance hours that a reservation covered.</p>"
          }
        },
        "OnDemandHours": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#OnDemandHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of instance running hours that On-Demand Instances covered.</p>"
          }
        },
        "ReservedHours": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ReservedHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of instance running hours that reservations covered.</p>"
          }
        },
        "TotalRunningHours": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#TotalRunningHours",
          "traits": {
            "smithy.api#documentation": "<p>The total instance usage, in hours.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How long a running instance either used a reservation or was On-Demand.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CoverageHoursPercentage": {
      "type": "string"
    },
    "com.amazonaws.awsinsightsindexservice.v0#CoverageNormalizedUnits": {
      "type": "structure",
      "members": {
        "CoverageNormalizedUnitsPercentage": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CoverageNormalizedUnitsPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of your used instance normalized units that a reservation\n            covers.</p>"
          }
        },
        "OnDemandNormalizedUnits": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#OnDemandNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The number of normalized units that are covered by On-Demand Instances instead of a\n            reservation.</p>"
          }
        },
        "ReservedNormalizedUnits": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ReservedNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The number of normalized units that a reservation covers.</p>"
          }
        },
        "TotalRunningNormalizedUnits": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#TotalRunningNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of normalized units that you used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of instance usage, in normalized units. Normalized units enable you to\n            see your EC2 usage for multiple sizes of instances in a uniform way. For example,\n            suppose you run an xlarge instance and a 2xlarge instance. If you run both instances for\n            the same amount of time, the 2xlarge instance uses twice as much of your reservation as\n            the xlarge instance, even though both instances show only one instance-hour. Using\n            normalized units instead of instance-hours, the xlarge instance used 8 normalized units,\n            and the 2xlarge instance used 16 normalized units.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-modifying.html\">Modifying Reserved Instances</a> in the <i>Amazon Elastic Compute Cloud User Guide for\n                Linux Instances</i>.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CoverageNormalizedUnitsPercentage": {
      "type": "string"
    },
    "com.amazonaws.awsinsightsindexservice.v0#CoveragesByTime": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#CoverageByTime"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CreateCostCategoryDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#CreateCostCategoryDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#CreateCostCategoryDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#LimitExceededException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<important>\n            <p>\n               <i>\n                  <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b>\n               </i>\n            </p>\n         </important>\n         <p>Creates a new Cost Category with the requested name and rules.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CreateCostCategoryDefinitionRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryName",
          "traits": {
            "smithy.api#required": true
          }
        },
        "RuleVersion": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryRuleVersion",
          "traits": {
            "smithy.api#required": true
          }
        },
        "Rules": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryRulesList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>CreateCostCategoryDefinition</code> supports dimensions, Tags, and nested expressions. Currently the only dimensions supported is <code>LINKED_ACCOUNT</code>.</p>\n      \n         <p>Root level <code>OR</code> is not supported. We recommend you create a separate rule instead.</p>\n         <p>Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.\n    </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CreateCostCategoryDefinitionResponse": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your newly created Cost Category.\n    </p>"
          }
        },
        "EffectiveStart": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Cost Category's effective start date.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#CurrentInstance": {
      "type": "structure",
      "members": {
        "CurrencyCode": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The currency code that Amazon Web Services used to calculate the costs for this instance.</p>"
          }
        },
        "MonthlyCost": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Current On Demand cost of operating this instance on a monthly basis.</p>"
          }
        },
        "OnDemandHoursInLookbackPeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Number of hours during the lookback period billed at On Demand rates.</p>"
          }
        },
        "ReservationCoveredHoursInLookbackPeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Number of hours during the lookback period covered by reservations.</p>"
          }
        },
        "ResourceDetails": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ResourceDetails",
          "traits": {
            "smithy.api#documentation": "<p> Details about the resource and utilization.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Resource ID of the current instance.</p>"
          }
        },
        "ResourceUtilization": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ResourceUtilization",
          "traits": {
            "smithy.api#documentation": "<p> Utilization information of the current instance during the lookback period.</p>"
          }
        },
        "SavingsPlansCoveredHoursInLookbackPeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Number of hours during the lookback period covered by Savings Plans.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#TagValuesList",
          "traits": {
            "smithy.api#documentation": "<p>Cost allocation resource tags applied to the instance.</p>"
          }
        },
        "TotalRunningHoursInLookbackPeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The total number of hours the instance ran during the lookback period.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Context about the current instance.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DataUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested data is unavailable.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DateInterval": {
      "type": "structure",
      "members": {
        "End": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time period that you want the usage and costs for. The end date is\n            exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves\n            cost and usage data from the start date up to, but not including,\n                <code>2017-05-01</code>.</p>",
            "smithy.api#required": true
          }
        },
        "Start": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The beginning of the time period that you want the usage and costs for. The start\n            date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS\n            retrieves cost and usage data starting at <code>2017-01-01</code> up to the end\n            date.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The time period that you want the usage and costs for.\n        </p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DeleteCostCategoryDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#DeleteCostCategoryDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#DeleteCostCategoryDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#LimitExceededException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<important>\n            <p>\n               <i>\n                  <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b>\n               </i>\n            </p>\n         </important>\n         <p>Deletes a Cost Category. Expenses from this month going forward will no longer be categorized with this Cost Category.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DeleteCostCategoryDefinitionRequest": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your Cost Category.\n    </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DeleteCostCategoryDefinitionResponse": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your Cost Category.\n    </p>"
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n      The effective end date of the Cost Category as a result of deleting it. No costs after this date will be categorized by the deleted Cost Category.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DescribeCostCategoryDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#DescribeCostCategoryDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#DescribeCostCategoryDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#LimitExceededException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<important>\n            <p>\n               <i>\n                  <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b>\n               </i>\n            </p>\n         </important>\n         <p>Returns the name, ARN, rules, definition, and effective dates of a Cost Category that's defined in the account.</p>\n         <p>You have the option to use <code>EffectiveOn</code> to return a Cost Category that is active on a specific date. If there is no <code>EffectiveOn</code> specified, you’ll see a Cost Category that is effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. </p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DescribeCostCategoryDefinitionRequest": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your Cost Category.\n    </p>",
            "smithy.api#required": true
          }
        },
        "EffectiveOn": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n      The date when the Cost Category was effective.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DescribeCostCategoryDefinitionResponse": {
      "type": "structure",
      "members": {
        "CostCategory": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategory"
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#Dimension": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "AZ": {
            "name": "AZ"
          },
          "INSTANCE_TYPE": {
            "name": "INSTANCE_TYPE"
          },
          "LINKED_ACCOUNT": {
            "name": "LINKED_ACCOUNT"
          },
          "OPERATION": {
            "name": "OPERATION"
          },
          "PURCHASE_TYPE": {
            "name": "PURCHASE_TYPE"
          },
          "REGION": {
            "name": "REGION"
          },
          "SERVICE": {
            "name": "SERVICE"
          },
          "USAGE_TYPE": {
            "name": "USAGE_TYPE"
          },
          "USAGE_TYPE_GROUP": {
            "name": "USAGE_TYPE_GROUP"
          },
          "RECORD_TYPE": {
            "name": "RECORD_TYPE"
          },
          "OPERATING_SYSTEM": {
            "name": "OPERATING_SYSTEM"
          },
          "TENANCY": {
            "name": "TENANCY"
          },
          "SCOPE": {
            "name": "SCOPE"
          },
          "PLATFORM": {
            "name": "PLATFORM"
          },
          "SUBSCRIPTION_ID": {
            "name": "SUBSCRIPTION_ID"
          },
          "LEGAL_ENTITY_NAME": {
            "name": "LEGAL_ENTITY_NAME"
          },
          "DEPLOYMENT_OPTION": {
            "name": "DEPLOYMENT_OPTION"
          },
          "DATABASE_ENGINE": {
            "name": "DATABASE_ENGINE"
          },
          "CACHE_ENGINE": {
            "name": "CACHE_ENGINE"
          },
          "INSTANCE_TYPE_FAMILY": {
            "name": "INSTANCE_TYPE_FAMILY"
          },
          "BILLING_ENTITY": {
            "name": "BILLING_ENTITY"
          },
          "RESERVATION_ID": {
            "name": "RESERVATION_ID"
          },
          "RESOURCE_ID": {
            "name": "RESOURCE_ID"
          },
          "RIGHTSIZING_TYPE": {
            "name": "RIGHTSIZING_TYPE"
          },
          "SAVINGS_PLANS_TYPE": {
            "name": "SAVINGS_PLANS_TYPE"
          },
          "SAVINGS_PLAN_ARN": {
            "name": "SAVINGS_PLAN_ARN"
          },
          "PAYMENT_OPTION": {
            "name": "PAYMENT_OPTION"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DimensionValues": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Dimension",
          "traits": {
            "smithy.api#documentation": "<p>The names of the metadata types that you can use to filter and group your results.\n            For example, <code>AZ</code> returns a list of Availability Zones.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Values",
          "traits": {
            "smithy.api#documentation": "<p>The metadata values that you can use to filter and group your results. You can use\n                <code>GetDimensionValues</code> to find specific values.</p>\n        <p>Valid values for the <code>SERVICE</code> dimension are \n            <code>Amazon Elastic Compute Cloud - Compute</code>,\n            <code>Amazon Elasticsearch Service</code>,\n            <code>Amazon ElastiCache</code>,\n            <code>Amazon Redshift</code>, and \n            <code>Amazon Relational Database Service</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata that you can use to filter and group your results. You can use\n                <code>GetDimensionValues</code> to find specific values.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DimensionValuesWithAttributes": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>The attribute that applies to a specific <code>Dimension</code>.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Value",
          "traits": {
            "smithy.api#documentation": "<p>The value of a dimension with a specific attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata of a specific type that you can use to filter and group your results.\n            You can use <code>GetDimensionValues</code> to find specific values.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#DimensionValuesWithAttributesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#DimensionValuesWithAttributes"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#EC2InstanceDetails": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone of the recommended reservation.</p>"
          }
        },
        "CurrentGeneration": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommendation is for a current-generation instance. </p>"
          }
        },
        "Family": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The instance family of the recommended reservation.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The type of instance that AWS recommends.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the recommended reservation. The platform is the specific\n            combination of operating system, license model, and software on an instance.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region of the recommended reservation.</p>"
          }
        },
        "SizeFlexEligible": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommended reservation is size flexible.</p>"
          }
        },
        "Tenancy": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommended reservation is dedicated or shared.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the Amazon EC2 instances that AWS recommends that you purchase.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#EC2ResourceDetails": {
      "type": "structure",
      "members": {
        "HourlyOnDemandRate": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Hourly public On Demand rate for the instance type.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The type of Amazon Web Services instance.</p>"
          }
        },
        "Memory": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Memory capacity of Amazon Web Services instance.</p>"
          }
        },
        "NetworkPerformance": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Network performance capacity of the Amazon Web Services instance.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The platform of the Amazon Web Services instance. The platform is the specific combination of operating system, license model, and software on an instance.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services Region of the instance.</p>"
          }
        },
        "Sku": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The SKU of the product.</p>"
          }
        },
        "Storage": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The disk storage of the Amazon Web Services instance (Not EBS storage).</p>"
          }
        },
        "Vcpu": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Number of VCPU cores in the Amazon Web Services instance type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Details on the Amazon EC2 Resource.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#EC2ResourceUtilization": {
      "type": "structure",
      "members": {
        "MaxCpuUtilizationPercentage": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Maximum observed or expected CPU utilization of the instance.</p>"
          }
        },
        "MaxMemoryUtilizationPercentage": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Maximum observed or expected memory utilization of the instance.</p>"
          }
        },
        "MaxStorageUtilizationPercentage": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> Maximum observed or expected storage utilization of the instance (does not measure EBS storage).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Utilization metrics of the instance.  </p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#EC2Specification": {
      "type": "structure",
      "members": {
        "OfferingClass": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#OfferingClass",
          "traits": {
            "smithy.api#documentation": "<p>Whether you want a recommendation for standard or convertible\n            reservations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon EC2 hardware specifications that you want AWS to provide recommendations\n            for.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#ESInstanceDetails": {
      "type": "structure",
      "members": {
        "CurrentGeneration": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommendation is for a current-generation instance.</p>"
          }
        },
        "InstanceClass": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The class of instance that AWS recommends.</p>"
          }
        },
        "InstanceSize": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The size of instance that AWS recommends.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region of the recommended reservation.</p>"
          }
        },
        "SizeFlexEligible": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommended reservation is size flexible.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the Amazon ES instances that AWS recommends that you\n            purchase.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#ElastiCacheInstanceDetails": {
      "type": "structure",
      "members": {
        "CurrentGeneration": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommendation is for a current generation instance.</p>"
          }
        },
        "Family": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The instance family of the recommended reservation.</p>"
          }
        },
        "NodeType": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The type of node that AWS recommends.</p>"
          }
        },
        "ProductDescription": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the recommended reservation.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region of the recommended reservation.</p>"
          }
        },
        "SizeFlexEligible": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the recommended reservation is size flexible.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the Amazon ElastiCache instances that AWS recommends that you\n            purchase.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#Entity": {
      "type": "string"
    },
    "com.amazonaws.awsinsightsindexservice.v0#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.awsinsightsindexservice.v0#Estimated": {
      "type": "boolean"
    },
    "com.amazonaws.awsinsightsindexservice.v0#Expression": {
      "type": "structure",
      "members": {
        "And": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Expressions",
          "traits": {
            "smithy.api#documentation": "<p>Return results that match both <code>Dimension</code> objects.</p>"
          }
        },
        "CostCategories": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CostCategoryValues",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>\n               <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b>\n            </i>\n        </p>\n        <p>The specific <code>CostCategory</code> used for <code>Expression</code>.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DimensionValues",
          "traits": {
            "smithy.api#documentation": "<p>The specific <code>Dimension</code> to use for <code>Expression</code>.</p>"
          }
        },
        "Not": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Expression",
          "traits": {
            "smithy.api#documentation": "<p>Return results that don't match a <code>Dimension</code> object.</p>"
          }
        },
        "Or": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Expressions",
          "traits": {
            "smithy.api#documentation": "<p>Return results that match either <code>Dimension</code> object.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#TagValues",
          "traits": {
            "smithy.api#documentation": "<p>The specific <code>Tag</code> to use for <code>Expression</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use <code>Expression</code> to filter by cost or by usage. There are two patterns: </p>\n        <ul>\n            <li>\n                <p>Simple dimension values - You can set the dimension name and values for the\n                    filters that you plan to use. For example, you can filter for\n                        <code>REGION==us-east-1 OR REGION==us-west-1</code>. The\n                        <code>Expression</code> for that looks like this:</p>\n                <p>\n                  <code>{ \"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\",\n                        “us-west-1” ] } }</code>\n                </p>\n                <p>The list of dimension values are OR'd together to retrieve cost or usage\n                    data. You can create <code>Expression</code> and <code>DimensionValues</code>\n                    objects using either <code>with*</code> methods or <code>set*</code> methods in\n                    multiple lines. </p>\n            </li>\n            <li>\n                <p>Compound dimension values with logical operations - You can use multiple\n                        <code>Expression</code> types and the logical operators\n                        <code>AND/OR/NOT</code> to create a list of one or more\n                        <code>Expression</code> objects. This allows you to filter on more advanced\n                    options. For example, you can filter on <code>((REGION == us-east-1 OR\n                        REGION == us-west-1) OR (TAG.Type == Type1)) AND (USAGE_TYPE !=\n                        DataTransfer)</code>. The <code>Expression</code> for that looks like\n                    this:</p>\n                <p>\n                  <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"REGION\",\n                        \"Values\": [ \"us-east-1\", \"us-west-1\" ] }}, {\"Tags\": { \"Key\": \"TagName\",\n                        \"Values\": [\"Value1\"] } } ]}, {\"Not\": {\"Dimensions\": { \"Key\": \"USAGE_TYPE\",\n                        \"Values\": [\"DataTransfer\"] }}} ] } </code>\n               </p>\n                <note>\n                    <p>Because each <code>Expression</code> can have only one operator, the\n                        service returns an error if more than one is specified. The following\n                        example shows an <code>Expression</code> object that creates an\n                        error.</p>\n                </note>\n                <p>\n                    <code> { \"And\": [ ... ], \"DimensionValues\": { \"Dimension\": \"USAGE_TYPE\",\n                        \"Values\": [ \"DataTransfer\" ] } } </code>\n               </p>\n            </li>\n         </ul>\n        <note>\n            <p>For <code>GetRightsizingRecommendation</code> action, a combination of OR and NOT is not\n                supported. OR is not supported between different dimensions, or dimensions and tags.\n                NOT operators aren't supported.\n                Dimensions\n                are also limited to <code>LINKED_ACCOUNT</code>, <code>REGION</code>, or\n                    <code>RIGHTSIZING_TYPE</code>.</p> \n         </note>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#Expressions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#Expression"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#ForecastResult": {
      "type": "structure",
      "members": {
        "MeanValue": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The mean value of the forecast.</p>"
          }
        },
        "PredictionIntervalLowerBound": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The lower limit for the prediction interval. </p>"
          }
        },
        "PredictionIntervalUpperBound": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The upper limit for the prediction interval. </p>"
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The period of time that the forecast covers.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The forecast created for your query.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#ForecastResultsByTime": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#ForecastResult"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GenericBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.awsinsightsindexservice.v0#GenericString": {
      "type": "string"
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsageRequest"
      },
      "output": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#BillExpirationException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#LimitExceededException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#RequestChangedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric, such as \n\t\t\t<code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group \n\t\t\tyour data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list \n\t\t\tof valid dimensions, see the \n\t\t\t<a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> \n\t\t\toperation. Master accounts in an organization in AWS Organizations have access to all member accounts.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsageRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Expression",
          "traits": {
            "smithy.api#documentation": "<p>Filters AWS costs by different dimensions. For example, you can specify <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> \n\t\t\tand get the costs that are associated with that account's usage of that service. You can nest <code>Expression</code> objects \n\t\t\tto define any combination of dimension filters. For more information, see \n\t\t\t<a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>. </p>"
          }
        },
        "Granularity": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Granularity",
          "traits": {
            "smithy.api#documentation": "<p>Sets the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>, or <code>HOURLY</code>. If <code>Granularity</code> isn't set, \n\t    the response object doesn't include the <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>, or <code>HOURLY</code>. </p>"
          }
        },
        "GroupBy": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GroupDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>You can group AWS costs using up to two different groups, either dimensions, tag keys, or both.</p>\n\t\t       <p>When you group by tag key, you get all tag values, including empty strings.</p>\n\t\t       <p>Valid values are <code>AZ</code>, <code>INSTANCE_TYPE</code>, <code>LEGAL_ENTITY_NAME</code>, <code>LINKED_ACCOUNT</code>, \n\t\t\t<code>OPERATION</code>, <code>PLATFORM</code>, <code>PURCHASE_TYPE</code>, <code>SERVICE</code>, <code>TAGS</code>, \n\t\t  <code>TENANCY</code>, <code>RECORD_TYPE</code>, and <code>USAGE_TYPE</code>.</p>"
          }
        },
        "Metrics": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#MetricNames",
          "traits": {
            "smithy.api#documentation": "<p>Which metrics are returned in the query. For more information about blended and unblended rates, see \n\t\t\t<a href=\"https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why does the \"blended\" annotation \n\t\t\t\tappear on some line items in my bill?</a>. </p>\n\t\t       <p>Valid values are <code>AmortizedCost</code>, <code>BlendedCost</code>, <code>NetAmortizedCost</code>, \n\t\t\t<code>NetUnblendedCost</code>, <code>NormalizedUsageAmount</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>. </p>\n\t\t       <note>\n\t\t\t         <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without \n\t\t\t\ttaking into account the units. For example, if you aggregate <code>usageQuantity</code> across all of Amazon EC2, \n\t\t\t\tthe results aren't meaningful because Amazon EC2 compute hours and data transfer are measured in different units \n\t\t\t\t(for example, hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or \n\t\t\t\t<code>UsageTypeGroups</code>. </p>\n\t\t       </note>\n\t\t       <p>\n            <code>Metrics</code> is required for <code>GetCostAndUsage</code> requests.</p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>Sets the start and end dates for retrieving AWS costs. The start date is inclusive,  but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is  \n            retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsageResponse": {
      "type": "structure",
      "members": {
        "GroupDefinitions": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GroupDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The groups that are specified by the <code>Filter</code> or <code>GroupBy</code> parameters in the request.</p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "ResultsByTime": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ResultsByTime",
          "traits": {
            "smithy.api#documentation": "<p>The time period that is covered by the results in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsageWithResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsageWithResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsageWithResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#BillExpirationException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#LimitExceededException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#RequestChangedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves cost and usage metrics with resources for your account. You can specify which cost and\n\t    usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that\n\t    you want the request to return. You can also filter and group your data by various dimensions,\n\t    such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list\n\t    of valid dimensions, see the <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Master accounts in an organization in AWS\n\t    Organizations have access to all member accounts. This API is currently available for the Amazon Elastic Compute Cloud – Compute service only.</p>\n\t        <note>\n            <p>This is an opt-in only feature. You can enable this feature from the Cost Explorer Settings page. For information on how to access the Settings page, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-access.html\">Controlling Access for Cost Explorer</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p>\n         </note>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsageWithResourcesRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Expression",
          "traits": {
            "smithy.api#documentation": "<p>Filters Amazon Web Services costs by different dimensions. For example, you can specify\n      <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> and get the costs that are associated\n      with that account's usage of that service. You can nest <code>Expression</code> objects to\n      define any combination of dimension filters. For more information, see <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>. </p>\n         <p>The <code>GetCostAndUsageWithResources</code> operation requires that you either group by or filter by a\n      <code>ResourceId</code>.</p>"
          }
        },
        "Granularity": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Granularity",
          "traits": {
            "smithy.api#documentation": "<p>Sets the AWS cost granularity to <code>MONTHLY</code>, <code>DAILY</code>, or <code>HOURLY</code>. If\n\t    <code>Granularity</code> isn't set, the response object doesn't include the\n\t    <code>Granularity</code>, <code>MONTHLY</code>, <code>DAILY</code>, or <code>HOURLY</code>. </p>"
          }
        },
        "GroupBy": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GroupDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>You can group Amazon Web Services costs using up to two different groups: either dimensions, tag keys,\n      or both.</p>"
          }
        },
        "Metrics": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#MetricNames",
          "traits": {
            "smithy.api#documentation": "<p>Which metrics are returned in the query. For more information about blended and\n      unblended rates, see <a href=\"https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why does\n        the \"blended\" annotation appear on some line items in my bill?</a>. </p>\n         <p>Valid values are <code>AmortizedCost</code>, <code>BlendedCost</code>,\n      <code>NetAmortizedCost</code>, <code>NetUnblendedCost</code>,\n      <code>NormalizedUsageAmount</code>, <code>UnblendedCost</code>, and\n      <code>UsageQuantity</code>. </p>\n         <note>\n            <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage\n        numbers without taking the units into account. For example, if you aggregate\n        <code>usageQuantity</code> across all of Amazon EC2, the results aren't meaningful because\n        Amazon EC2 compute hours and data transfer are measured in different units (for example, hours\n        vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by\n        <code>UsageType</code> or <code>UsageTypeGroups</code>. </p>\n         </note>\n         <p>\n            <code>Metrics</code> is required for <code>GetCostAndUsageWithResources</code> requests.</p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>Sets the start and end dates for retrieving Amazon Web Services costs. The range must be within the last 14 days (the start date cannot be earlier than 14 days ago). The start date is inclusive,  but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is  \n            retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetCostAndUsageWithResourcesResponse": {
      "type": "structure",
      "members": {
        "GroupDefinitions": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GroupDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The groups that are specified by the <code>Filter</code> or <code>GroupBy</code>\n      parameters in the request.</p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "ResultsByTime": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ResultsByTime",
          "traits": {
            "smithy.api#documentation": "<p>The time period that is covered by the results in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetCostForecast": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetCostForecastRequest"
      },
      "output": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetCostForecastResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a forecast for how much Amazon Web Services predicts that you will spend over the forecast time period that you select, based on your past costs. </p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetCostForecastRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Expression",
          "traits": {
            "smithy.api#documentation": "<p>The filters that you want to use to filter your forecast. Cost Explorer API supports all of the Cost Explorer filters.</p>"
          }
        },
        "Granularity": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Granularity",
          "traits": {
            "smithy.api#documentation": "<p>How granular you want the forecast to be. You can get 3 months of <code>DAILY</code> forecasts or 12 months of <code>MONTHLY</code> forecasts.</p>\n\t\t       <p>The <code>GetCostForecast</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>",
            "smithy.api#required": true
          }
        },
        "Metric": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Metric",
          "traits": {
            "smithy.api#documentation": "<p>Which metric Cost Explorer uses to create your forecast. For more information about blended and unblended rates, see \n\t\t\t<a href=\"https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why does the \"blended\" annotation \n\t\t\t\tappear on some line items in my bill?</a>. </p>\n\t\t       <p>Valid values for a <code>GetCostForecast</code> call are the following:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>AMORTIZED_COST</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>BLENDED_COST</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>NET_AMORTIZED_COST</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>NET_UNBLENDED_COST</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>UNBLENDED_COST</p>\n\t\t\t         </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "PredictionIntervalLevel": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#PredictionIntervalLevel",
          "traits": {
            "smithy.api#documentation": "<p>Cost Explorer always returns the mean forecast as a single point. You can request a prediction interval around the mean \n\t\t\tby specifying a confidence level. The higher the confidence level, the more confident Cost Explorer is about the actual value \n\t\t\tfalling in the prediction interval. Higher confidence levels result in wider prediction intervals.</p>"
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The period of time that you want the forecast to cover.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetCostForecastResponse": {
      "type": "structure",
      "members": {
        "ForecastResultsByTime": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#ForecastResultsByTime",
          "traits": {
            "smithy.api#documentation": "<p>The forecasts for your query, in order. For <code>DAILY</code> forecasts, this is a list of days. For <code>MONTHLY</code> forecasts, \n\t\t\tthis is a list of months.</p>"
          }
        },
        "Total": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>How much you are forecasted to spend over the forecast period, in <code>USD</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetDimensionValues": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetDimensionValuesRequest"
      },
      "output": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetDimensionValuesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#BillExpirationException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#LimitExceededException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#RequestChangedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves all available filter values for a specified filter over a period of time. You can search the dimension values for an arbitrary string. </p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetDimensionValuesRequest": {
      "type": "structure",
      "members": {
        "Context": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Context",
          "traits": {
            "smithy.api#documentation": "<p>The context for the call to <code>GetDimensionValues</code>. This can be <code>RESERVATIONS</code> or <code>COST_AND_USAGE</code>. \n\t\t\tThe default value is <code>COST_AND_USAGE</code>. If the context is set to <code>RESERVATIONS</code>, the resulting dimension values \n\t\t\tcan be used in the <code>GetReservationUtilization</code> operation. If the context is set to <code>COST_AND_USAGE</code>, \n\t\t\tthe resulting dimension values can be used in the <code>GetCostAndUsage</code> operation.</p>\n\t\t       <p>If you set the context to <code>COST_AND_USAGE</code>, you can use the following \n           dimensions for searching:</p>\n           <ul>\n            <li>\n               <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p>\n            </li>\n            <li>\n               <p>DATABASE_ENGINE - The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p>\n            </li>\n            <li>\n               <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p>\n            </li>\n            <li>\n               <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS services, such as Amazon Web Services.</p>\n            </li>\n            <li>\n               <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value \n               field contains the AWS ID of the member account.</p>\n            </li>\n            <li>\n               <p>OPERATING_SYSTEM - The operating system. Examples are Windows or Linux.</p>\n            </li>\n            <li>\n               <p>OPERATION - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p>\n            </li>\n            <li>\n               <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p>\n            </li>\n            <li>\n               <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include On-Demand \n               Instances and Standard Reserved Instances.</p>\n            </li>\n            <li>\n               <p>SERVICE - The AWS service such as Amazon DynamoDB.</p>\n            </li>\n            <li>\n               <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code> operation\n           includes a unit attribute. Examples include GB and Hrs.</p>\n            </li>\n            <li>\n               <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is Amazon EC2: CloudWatch – Alarms. The response for this \n               operation includes a unit attribute.</p>\n            </li>\n            <li>\n               <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p>\n            </li>\n            <li>\n               <p>RESOURCE_ID - The unique identifier of the resource. ResourceId is an opt-in feature only available for last 14 days for EC2-Compute Service.</p>\n            </li>\n         </ul>\n         <p>If you set the context to <code>RESERVATIONS</code>, you can use the following \n           dimensions for searching:</p>\n         <ul>\n            <li>\n               <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p>\n            </li>\n            <li>\n               <p>CACHE_ENGINE - The Amazon ElastiCache operating system. Examples are Windows or Linux.</p>\n            </li>\n            <li>\n               <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments. Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p>\n            </li>\n            <li>\n               <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p>\n            </li>\n            <li>\n               <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value \n               field contains the AWS ID of the member account.</p>\n            </li>\n            <li>\n               <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p>\n            </li>\n            <li>\n               <p>REGION - The AWS Region.</p>\n            </li>\n            <li>\n               <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are regional or a single Availability Zone.</p>\n            </li>\n            <li>\n               <p>TAG (Coverage only) - The tags that are associated with a Reserved Instance (RI).</p>\n            </li>\n            <li>\n               <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p>\n            </li>\n         </ul>\n         <p>If you set the context to <code>SAVINGS_PLANS</code>, you can use the following dimensions for searching:</p>\n         <ul>\n            <li>\n               <p>SAVINGS_PLANS_TYPE - Type of Savings Plans (EC2 Instance or Compute)</p>\n            </li>\n            <li>\n               <p>PAYMENT_OPTION - Payment option for the given Savings Plans (for example, All Upfront)</p>\n            </li>\n            <li>\n               <p>REGION - The AWS Region.</p>\n            </li>\n            <li>\n               <p>INSTANCE_TYPE_FAMILY - The family of instances (For example, <code>m5</code>)</p>\n            </li>\n            <li>\n               <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value \n               field contains the AWS ID of the member account.</p>\n            </li>\n            <li>\n               <p>SAVINGS_PLAN_ARN - The unique identifier for your Savings Plan</p>\n            </li>\n         </ul>"
          }
        },
        "Dimension": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Dimension",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension. Each <code>Dimension</code> is available for a different <code>Context</code>. \n\t\t\tFor more information, see <code>Context</code>. \n\t\t\t\n\t\t</p>",
            "smithy.api#required": true
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "SearchString": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#SearchString",
          "traits": {
            "smithy.api#documentation": "<p>The value that you want to search the filter values for.</p>"
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The start and end dates for retrieving the dimension values. The start date is inclusive,  but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is  \n            retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetDimensionValuesResponse": {
      "type": "structure",
      "members": {
        "DimensionValues": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DimensionValuesWithAttributesList",
          "traits": {
            "smithy.api#documentation": "<p>The filters that you used to filter your request. Some dimensions are available only for a specific context.</p>\n\t\t       <p>If you set the context to <code>COST_AND_USAGE</code>, you can use the following \n           dimensions for searching:</p>\n           <ul>\n            <li>\n               <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p>\n            </li>\n            <li>\n               <p>DATABASE_ENGINE - The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p>\n            </li>\n            <li>\n               <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p>\n            </li>\n            <li>\n               <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS services, such as Amazon Web Services.</p>\n            </li>\n            <li>\n               <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value \n               field contains the AWS ID of the member account.</p>\n            </li>\n            <li>\n               <p>OPERATING_SYSTEM - The operating system. Examples are Windows or Linux.</p>\n            </li>\n            <li>\n               <p>OPERATION - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p>\n            </li>\n            <li>\n               <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p>\n            </li>\n            <li>\n               <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include On-Demand \n               Instances and Standard Reserved Instances.</p>\n            </li>\n            <li>\n               <p>SERVICE - The AWS service such as Amazon DynamoDB.</p>\n            </li>\n            <li>\n               <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code> operation\n           includes a unit attribute. Examples include GB and Hrs.</p>\n            </li>\n            <li>\n               <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is Amazon EC2: CloudWatch – Alarms. The response for this \n               operation includes a unit attribute.</p>\n            </li>\n            <li>\n               <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p>\n            </li>\n            <li>\n               <p>RESOURCE_ID - The unique identifier of the resource. ResourceId is an opt-in feature only available for last 14 days for EC2-Compute Service.</p>\n            </li>\n         </ul>\n         <p>If you set the context to <code>RESERVATIONS</code>, you can use the following \n           dimensions for searching:</p>\n         <ul>\n            <li>\n               <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p>\n            </li>\n            <li>\n               <p>CACHE_ENGINE - The Amazon ElastiCache operating system. Examples are Windows or Linux.</p>\n            </li>\n            <li>\n               <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments. Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p>\n            </li>\n            <li>\n               <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p>\n            </li>\n            <li>\n               <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value \n               field contains the AWS ID of the member account.</p>\n            </li>\n            <li>\n               <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p>\n            </li>\n            <li>\n               <p>REGION - The AWS Region.</p>\n            </li>\n            <li>\n               <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are regional or a single Availability Zone.</p>\n            </li>\n            <li>\n               <p>TAG (Coverage only) - The tags that are associated with a Reserved Instance (RI).</p>\n            </li>\n            <li>\n               <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p>\n            </li>\n         </ul>\n         <p>If you set the context to <code>SAVINGS_PLANS</code>, you can use the following dimensions for searching:</p>\n         <ul>\n            <li>\n               <p>SAVINGS_PLANS_TYPE - Type of Savings Plans (EC2 Instance or Compute)</p>\n            </li>\n            <li>\n               <p>PAYMENT_OPTION - Payment option for the given Savings Plans (for example, All Upfront)</p>\n            </li>\n            <li>\n               <p>REGION - The AWS Region.</p>\n            </li>\n            <li>\n               <p>INSTANCE_TYPE_FAMILY - The family of instances (For example, <code>m5</code>)</p>\n            </li>\n            <li>\n               <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value \n               field contains the AWS ID of the member account.</p>\n            </li>\n            <li>\n               <p>SAVINGS_PLAN_ARN - The unique identifier for your Savings Plan</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "ReturnSize": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The number of results that AWS returned at one time.</p>",
            "smithy.api#required": true
          }
        },
        "TotalSize": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The total number of search results.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetReservationCoverage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetReservationCoverageRequest"
      },
      "output": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetReservationCoverageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the reservation coverage for your account. This enables you to see how much of your Amazon Elastic Compute Cloud, Amazon ElastiCache, Amazon Relational Database Service, or \n\t\t\tAmazon Redshift usage is covered by a reservation. An organization's master account can see the coverage of the associated member accounts. \n\t\t\tFor any time period, you can filter data about reservation usage by the following dimensions:</p>\n\t\t       <ul>\n            <li>\n               <p>AZ</p>\n            </li>\n            <li>\n               <p>CACHE_ENGINE</p>\n            </li>\n            <li>\n               <p>DATABASE_ENGINE</p>\n            </li>\n            <li>\n               <p>DEPLOYMENT_OPTION</p>\n            </li>\n            <li>\n               <p>INSTANCE_TYPE</p>\n            </li>\n            <li>\n               <p>LINKED_ACCOUNT</p>\n            </li>\n            <li>\n               <p>OPERATING_SYSTEM</p>\n            </li>\n            <li>\n               <p>PLATFORM</p>\n            </li>\n            <li>\n               <p>REGION</p>\n            </li>\n            <li>\n               <p>SERVICE</p>\n            </li>\n            <li>\n               <p>TAG</p>\n            </li>\n            <li>\n               <p>TENANCY</p>\n            </li>\n         </ul>\n\t\t       <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetReservationCoverageRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Expression",
          "traits": {
            "smithy.api#documentation": "<p>Filters utilization data by dimensions. You can filter by the following dimensions:</p>\n\t\t       <ul>\n            <li>\n               <p>AZ</p>\n            </li>\n            <li>\n               <p>CACHE_ENGINE</p>\n            </li>\n            <li>\n               <p>DATABASE_ENGINE</p>\n            </li>\n            <li>\n               <p>DEPLOYMENT_OPTION</p>\n            </li>\n            <li>\n               <p>INSTANCE_TYPE</p>\n            </li>\n            <li>\n               <p>LINKED_ACCOUNT</p>\n            </li>\n            <li>\n               <p>OPERATING_SYSTEM</p>\n            </li>\n            <li>\n               <p>PLATFORM</p>\n            </li>\n            <li>\n               <p>REGION</p>\n            </li>\n            <li>\n               <p>SERVICE</p>\n            </li>\n            <li>\n               <p>TAG</p>\n            </li>\n            <li>\n               <p>TENANCY</p>\n            </li>\n         </ul>\n\t\t       <p>\n            <code>GetReservationCoverage</code> uses the same \n\t\t\t<a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object \n\t\t\tas the other operations, but only <code>AND</code> is supported among each dimension. You can nest only one level deep. \n\t\t\tIf there are multiple values for a dimension, they are OR'd together.</p>\n\t\t       <p>If you don't provide a <code>SERVICE</code> filter, Cost Explorer defaults to EC2.</p>"
          }
        },
        "Granularity": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Granularity",
          "traits": {
            "smithy.api#documentation": "<p>The granularity of the AWS cost data for the reservation. Valid values are <code>MONTHLY</code> and <code>DAILY</code>.</p>\n\t\t       <p>If <code>GroupBy</code> is set, <code>Granularity</code> can't be set. If <code>Granularity</code> isn't set, \n\t\t\tthe response object doesn't include <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>.</p>\n\t\t       <p>The <code>GetReservationCoverage</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>"
          }
        },
        "GroupBy": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#GroupDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>You can group the data by the following attributes:</p>\n\t\t       <ul>\n            <li>\n               <p>AZ</p>\n            </li>\n            <li>\n               <p>CACHE_ENGINE</p>\n            </li>\n            <li>\n               <p>DATABASE_ENGINE</p>\n            </li>\n            <li>\n               <p>DEPLOYMENT_OPTION</p>\n            </li>\n            <li>\n               <p>INSTANCE_TYPE</p>\n            </li>\n            <li>\n               <p>LINKED_ACCOUNT</p>\n            </li>\n            <li>\n               <p>OPERATING_SYSTEM</p>\n            </li>\n            <li>\n               <p>PLATFORM</p>\n            </li>\n            <li>\n               <p>REGION</p>\n            </li>\n            <li>\n               <p>TENANCY</p>\n            </li>\n         </ul>"
          }
        },
        "Metrics": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#MetricNames",
          "traits": {
            "smithy.api#documentation": "<p>The measurement that you want your reservation coverage reported in.</p>\n\t\t       <p>Valid values are <code>Hour</code>, <code>Unit</code>, and <code>Cost</code>. You can use multiple values in a request.</p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The start and end dates of the period that you want to retrieve data about reservation coverage for. You can retrieve data \n\t\t\tfor a maximum of 13 months: the last 12 months and the current month. The start date is inclusive,  but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is  \n            retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. </p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can use the following request parameters to query for how much of your instance usage a reservation covered.</p>"
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetReservationCoverageResponse": {
      "type": "structure",
      "members": {
        "CoveragesByTime": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#CoveragesByTime",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that your reservations covered.</p>",
            "smithy.api#required": true
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "Total": {
          "target": "com.amazonaws.awsinsightsindexservice.v0#Coverage",
          "traits": {
            "smithy.api#documentation": "<p>The total amount of instance usage that a reservation covered.</p>"
          }
        }
      }
    },
    "com.amazonaws.awsinsightsindexservice.v0#GetReservationPurchaseRecommendation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetReservationPurchaseRecommendationRequest"
      },
      "output": {
        "target": "com.amazonaws.awsinsightsindexservice.v0#GetReservationPurchaseRecommendationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.awsinsightsindexservice.v0#LimitExceededException"
        }
      ],
      "traits": {
[...]
