{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.costexplorer#AWSInsightsIndexService": {
      "type": "service",
      "version": "2017-10-25",
      "operations": [
        {
          "target": "com.amazonaws.costexplorer#CreateAnomalyMonitor"
        },
        {
          "target": "com.amazonaws.costexplorer#CreateAnomalySubscription"
        },
        {
          "target": "com.amazonaws.costexplorer#CreateCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.costexplorer#DeleteAnomalyMonitor"
        },
        {
          "target": "com.amazonaws.costexplorer#DeleteAnomalySubscription"
        },
        {
          "target": "com.amazonaws.costexplorer#DeleteCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.costexplorer#DescribeCostCategoryDefinition"
        },
        {
          "target": "com.amazonaws.costexplorer#GetAnomalies"
        },
        {
          "target": "com.amazonaws.costexplorer#GetAnomalyMonitors"
        },
        {
          "target": "com.amazonaws.costexplorer#GetAnomalySubscriptions"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostAndUsage"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostAndUsageWithResources"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostCategories"
        },
        {
          "target": "com.amazonaws.costexplorer#GetCostForecast"
        },
        {
          "target": "com.amazonaws.costexplorer#GetDimensionValues"
        },
        {
          "target": "com.amazonaws.costexplorer#GetReservationCoverage"
        },
        {
          "target": "com.amazonaws.costexplorer#GetReservationPurchaseRecommendation"
        },
        {
          "target": "com.amazonaws.costexplorer#GetReservationUtilization"
        },
        {
          "target": "com.amazonaws.costexplorer#GetRightsizingRecommendation"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansCoverage"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansPurchaseRecommendation"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansUtilization"
        },
        {
          "target": "com.amazonaws.costexplorer#GetSavingsPlansUtilizationDetails"
        },
        {
          "target": "com.amazonaws.costexplorer#GetTags"
        },
        {
          "target": "com.amazonaws.costexplorer#GetUsageForecast"
        },
        {
          "target": "com.amazonaws.costexplorer#ListCostCategoryDefinitions"
        },
        {
          "target": "com.amazonaws.costexplorer#ProvideAnomalyFeedback"
        },
        {
          "target": "com.amazonaws.costexplorer#UpdateAnomalyMonitor"
        },
        {
          "target": "com.amazonaws.costexplorer#UpdateAnomalySubscription"
        },
        {
          "target": "com.amazonaws.costexplorer#UpdateCostCategoryDefinition"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Cost Explorer",
          "arnNamespace": "ce",
          "cloudFormationName": "CostExplorer",
          "cloudTrailEventSource": "costexplorer.amazonaws.com",
          "endpointPrefix": "ce"
        },
        "aws.auth#sigv4": {
          "name": "ce"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>You can use the Cost Explorer API to programmatically query your cost and usage data. You\n      can query for aggregated data such as total monthly costs or total daily usage. You can also\n      query for granular data. This might include the number of daily write operations for Amazon\n      DynamoDB database tables in your production environment. </p>\n\t\t       <p>Service Endpoint</p>\n\t\t       <p>The Cost Explorer API provides the following endpoint:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>https://ce.us-east-1.amazonaws.com</code>\n               </p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>For information about the costs that are associated with the Cost Explorer API, see\n        <a href=\"http://aws.amazon.com/aws-cost-management/pricing/\">Amazon Web Services Cost\n        Management Pricing</a>.</p>",
        "smithy.api#title": "AWS Cost Explorer Service"
      }
    },
    "com.amazonaws.costexplorer#AccountScope": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PAYER",
            "name": "PAYER"
          },
          {
            "value": "LINKED",
            "name": "LINKED"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#AmortizedRecurringFee": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#AmortizedUpfrontFee": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#Anomalies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#Anomaly"
      }
    },
    "com.amazonaws.costexplorer#Anomaly": {
      "type": "structure",
      "members": {
        "AnomalyId": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the anomaly. </p>",
            "smithy.api#required": {}
          }
        },
        "AnomalyStartDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The first day the anomaly is detected. </p>"
          }
        },
        "AnomalyEndDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The last day the anomaly is detected. </p>"
          }
        },
        "DimensionValue": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The dimension for the anomaly (for example, an Amazon Web Services service in a service\n            monitor). </p>"
          }
        },
        "RootCauses": {
          "target": "com.amazonaws.costexplorer#RootCauses",
          "traits": {
            "smithy.api#documentation": "<p>The list of identified root causes for the anomaly. </p>"
          }
        },
        "AnomalyScore": {
          "target": "com.amazonaws.costexplorer#AnomalyScore",
          "traits": {
            "smithy.api#documentation": "<p>The latest and maximum score for the anomaly. </p>",
            "smithy.api#required": {}
          }
        },
        "Impact": {
          "target": "com.amazonaws.costexplorer#Impact",
          "traits": {
            "smithy.api#documentation": "<p>The dollar impact for the anomaly. </p>",
            "smithy.api#required": {}
          }
        },
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the cost monitor that generated this anomaly.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Feedback": {
          "target": "com.amazonaws.costexplorer#AnomalyFeedbackType",
          "traits": {
            "smithy.api#documentation": "<p>The feedback value. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An unusual cost pattern. This consists of the detailed metadata and the current status\n            of the anomaly object. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalyDateInterval": {
      "type": "structure",
      "members": {
        "StartDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The first date an anomaly was observed. </p>",
            "smithy.api#required": {}
          }
        },
        "EndDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The last date an anomaly was observed. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The time period for an anomaly. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalyFeedbackType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "YES",
            "name": "YES"
          },
          {
            "value": "NO",
            "name": "NO"
          },
          {
            "value": "PLANNED_ACTIVITY",
            "name": "PLANNED_ACTIVITY"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#AnomalyMonitor": {
      "type": "structure",
      "members": {
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) value. </p>"
          }
        },
        "MonitorName": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the monitor. </p>",
            "smithy.api#required": {}
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The date when the monitor was created. </p>"
          }
        },
        "LastUpdatedDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The date when the monitor was last updated. </p>"
          }
        },
        "LastEvaluatedDate": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The date when the monitor last evaluated for anomalies. </p>"
          }
        },
        "MonitorType": {
          "target": "com.amazonaws.costexplorer#MonitorType",
          "traits": {
            "smithy.api#documentation": "<p>The possible type values. </p>",
            "smithy.api#required": {}
          }
        },
        "MonitorDimension": {
          "target": "com.amazonaws.costexplorer#MonitorDimension",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions to evaluate. </p>"
          }
        },
        "MonitorSpecification": {
          "target": "com.amazonaws.costexplorer#Expression"
        },
        "DimensionalValueCount": {
          "target": "com.amazonaws.costexplorer#NonNegativeInteger",
          "traits": {
            "smithy.api#documentation": "<p>The value for evaluated dimensions. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This object continuously inspects your account's cost data for anomalies. It's based\n            on <code>MonitorType</code> and <code>MonitorSpecification</code>. The content consists\n            of detailed metadata and the current status of the monitor object. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalyMonitors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#AnomalyMonitor"
      }
    },
    "com.amazonaws.costexplorer#AnomalyScore": {
      "type": "structure",
      "members": {
        "MaxScore": {
          "target": "com.amazonaws.costexplorer#GenericDouble",
          "traits": {
            "smithy.api#documentation": "<p>The maximum score that's observed during the <code>AnomalyDateInterval</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "CurrentScore": {
          "target": "com.amazonaws.costexplorer#GenericDouble",
          "traits": {
            "smithy.api#documentation": "<p>The last observed score. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Quantifies the anomaly. The higher score means that it's more anomalous. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalySubscription": {
      "type": "structure",
      "members": {
        "SubscriptionArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AnomalySubscription</code> Amazon Resource Name (ARN). </p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Your unique account identifier. </p>"
          }
        },
        "MonitorArnList": {
          "target": "com.amazonaws.costexplorer#MonitorArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cost anomaly monitors. </p>",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.costexplorer#Subscribers",
          "traits": {
            "smithy.api#documentation": "<p>A list of subscribers to notify. </p>",
            "smithy.api#required": {}
          }
        },
        "Threshold": {
          "target": "com.amazonaws.costexplorer#NullableNonNegativeDouble",
          "traits": {
            "smithy.api#documentation": "<p>The dollar value that triggers a notification if the threshold is exceeded. </p>",
            "smithy.api#required": {}
          }
        },
        "Frequency": {
          "target": "com.amazonaws.costexplorer#AnomalySubscriptionFrequency",
          "traits": {
            "smithy.api#documentation": "<p>The frequency that anomaly reports are sent over email. </p>",
            "smithy.api#required": {}
          }
        },
        "SubscriptionName": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name for the subscription. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The association between a monitor, threshold, and list of subscribers used to deliver\n            notifications about anomalies detected by a monitor that exceeds a threshold. The\n            content consists of the detailed metadata and the current status of the\n                <code>AnomalySubscription</code> object. </p>"
      }
    },
    "com.amazonaws.costexplorer#AnomalySubscriptionFrequency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DAILY",
            "name": "DAILY"
          },
          {
            "value": "IMMEDIATE",
            "name": "IMMEDIATE"
          },
          {
            "value": "WEEKLY",
            "name": "WEEKLY"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#AnomalySubscriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#AnomalySubscription"
      }
    },
    "com.amazonaws.costexplorer#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+$"
      }
    },
    "com.amazonaws.costexplorer#AttributeType": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#AttributeValue": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.costexplorer#AttributeType"
      },
      "value": {
        "target": "com.amazonaws.costexplorer#AttributeValue"
      }
    },
    "com.amazonaws.costexplorer#BillExpirationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.costexplorer#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested report expired. Update the date interval and try again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.costexplorer#Context": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COST_AND_USAGE",
            "name": "COST_AND_USAGE"
          },
          {
            "value": "RESERVATIONS",
            "name": "RESERVATIONS"
          },
          {
            "value": "SAVINGS_PLANS",
            "name": "SAVINGS_PLANS"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategory": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for your Cost Category. </p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveStart": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The effective state data of your Cost Category.</p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p> The effective end data of your Cost Category.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.costexplorer#CostCategoryName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RuleVersion": {
          "target": "com.amazonaws.costexplorer#CostCategoryRuleVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.costexplorer#CostCategoryRulesList",
          "traits": {
            "smithy.api#documentation": "<p>The rules are processed in order. If there are multiple rules that match the line\n            item, then the first rule to match is used to determine that Cost Category value.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "SplitChargeRules": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRulesList",
          "traits": {
            "smithy.api#documentation": "<p> The split charge rules that are used to allocate your charges between your Cost\n            Category values. </p>"
          }
        },
        "ProcessingStatus": {
          "target": "com.amazonaws.costexplorer#CostCategoryProcessingStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The list of processing statuses for Cost Management products for a specific cost\n            category. </p>"
          }
        },
        "DefaultValue": {
          "target": "com.amazonaws.costexplorer#CostCategoryValue"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure of Cost Categories. This includes detailed metadata and the set of rules\n            for the <code>CostCategory</code> object.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryInheritedValueDimension": {
      "type": "structure",
      "members": {
        "DimensionName": {
          "target": "com.amazonaws.costexplorer#CostCategoryInheritedValueDimensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension that's used to group costs.</p>\n        <p>If you specify <code>LINKED_ACCOUNT_NAME</code>, the cost category value is based on\n            account name. If you specify <code>TAG</code>, the cost category value will be based on\n            the value of the specified tag key.</p>"
          }
        },
        "DimensionKey": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The key to extract cost category values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When creating or updating a cost category, you can define the\n                <code>CostCategoryRule</code> rule type as <code>INHERITED_VALUE</code>. This rule\n            type adds the flexibility of defining a rule that dynamically inherits the cost category\n            value from the dimension value defined by\n                <code>CostCategoryInheritedValueDimension</code>. For example, if you want to\n            dynamically group costs that are based on the value of a specific tag key, first choose\n            an inherited value rule type, then choose the tag dimension and specify the tag key to\n            use.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryInheritedValueDimensionName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LINKED_ACCOUNT_NAME",
            "name": "LINKED_ACCOUNT_NAME"
          },
          {
            "value": "TAG",
            "name": "TAG"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategoryMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategoryName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The unique name of the Cost Category.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryName"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryProcessingStatus": {
      "type": "structure",
      "members": {
        "Component": {
          "target": "com.amazonaws.costexplorer#CostCategoryStatusComponent",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Management product name of the applied status. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.costexplorer#CostCategoryStatus",
          "traits": {
            "smithy.api#documentation": "<p>The process status for a specific cost category. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of processing statuses for Cost Management products for a specific cost\n            category. </p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryProcessingStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryProcessingStatus"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryReference": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for your Cost Category. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.costexplorer#CostCategoryName"
        },
        "EffectiveStart": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category's effective start date.</p>"
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category's effective end date.</p>"
          }
        },
        "NumberOfRules": {
          "target": "com.amazonaws.costexplorer#NonNegativeInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of rules that are associated with a specific Cost Category. </p>"
          }
        },
        "ProcessingStatus": {
          "target": "com.amazonaws.costexplorer#CostCategoryProcessingStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The list of processing statuses for Cost Management products for a specific cost\n            category. </p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.costexplorer#CostCategoryValuesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of unique cost category values in a specific cost category. </p>"
          }
        },
        "DefaultValue": {
          "target": "com.amazonaws.costexplorer#CostCategoryValue"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A reference to a Cost Category containing only enough information to identify the Cost\n            Category.</p>\n        <p>You can use this information to retrieve the full Cost Category information using\n                <code>DescribeCostCategory</code>.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryReferencesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryReference"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRule": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.costexplorer#CostCategoryValue"
        },
        "Rule": {
          "target": "com.amazonaws.costexplorer#Expression",
          "traits": {
            "smithy.api#documentation": "<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>\n            object used to categorize costs. This supports dimensions, tags, and nested expressions.\n            Currently the only dimensions supported are <code>LINKED_ACCOUNT</code>,\n                <code>SERVICE_CODE</code>, <code>RECORD_TYPE</code>, and\n                <code>LINKED_ACCOUNT_NAME</code>.</p>\n        <p>Root level <code>OR</code> isn't supported. We recommend that you create a separate\n            rule instead.</p>\n        <p>\n            <code>RECORD_TYPE</code> is a dimension used for Cost Explorer APIs, and is also\n            supported for Cost Category expressions. This dimension uses different terms, depending\n            on whether you're using the console or API/JSON editor. For a detailed comparison, see\n                <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/manage-cost-categories.html#cost-categories-terms\">Term Comparisons</a> in the <i>Billing and Cost Management User\n                Guide</i>.</p>"
          }
        },
        "InheritedValue": {
          "target": "com.amazonaws.costexplorer#CostCategoryInheritedValueDimension",
          "traits": {
            "smithy.api#documentation": "<p>The value the line item is categorized as if the line item contains the matched\n            dimension.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.costexplorer#CostCategoryRuleType",
          "traits": {
            "smithy.api#documentation": "<p>You can define the <code>CostCategoryRule</code> rule type as either\n                <code>REGULAR</code> or <code>INHERITED_VALUE</code>. The\n                <code>INHERITED_VALUE</code> rule type adds the flexibility of defining a rule that\n            dynamically inherits the cost category value from the dimension value defined by\n                <code>CostCategoryInheritedValueDimension</code>. For example, if you want to\n            dynamically group costs based on the value of a specific tag key, first choose an\n            inherited value rule type, then choose the tag dimension and specify the tag key to\n            use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Rules are processed in order. If there are multiple rules that match the line item,\n            then the first rule to match is used to determine that Cost Category value.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRuleType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "REGULAR",
            "name": "REGULAR"
          },
          {
            "value": "INHERITED_VALUE",
            "name": "INHERITED_VALUE"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRuleVersion": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The rule schema version in this particular Cost Category.</p>",
        "smithy.api#enum": [
          {
            "value": "CostCategoryExpression.v1",
            "name": "CostCategoryExpressionV1"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategoryRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FIXED",
            "name": "FIXED"
          },
          {
            "value": "PROPORTIONAL",
            "name": "PROPORTIONAL"
          },
          {
            "value": "EVEN",
            "name": "EVEN"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRule": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category value that you want to split. That value can't be used as a source\n            or a target in other split charge rules. To indicate uncategorized costs, you can use an empty string as the source.</p>",
            "smithy.api#required": {}
          }
        },
        "Targets": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRuleTargetsList",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category values that you want to split costs across. These values can't be\n            used as a source in other split charge rules. </p>",
            "smithy.api#required": {}
          }
        },
        "Method": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeMethod",
          "traits": {
            "smithy.api#documentation": "<p>The method that's used to define how to split your source costs across your targets. </p>\n        <p>\n            <code>Proportional</code> - Allocates charges across your targets based on the\n            proportional weighted cost of each target.</p>\n        <p>\n            <code>Fixed</code> - Allocates charges across your targets based on your defined\n            allocation percentage.</p>\n        <p>><code>Even</code> - Allocates costs evenly across all targets.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParametersList",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for a split charge method. This is only required for the\n                <code>FIXED</code> method. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use the split charge rule to split the cost of one Cost Category value across several\n            other target values. </p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameter": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameterType",
          "traits": {
            "smithy.api#documentation": "<p>The parameter type. </p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameterValuesList",
          "traits": {
            "smithy.api#documentation": "<p>The parameter values. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for a split charge method. </p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameterType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALLOCATION_PERCENTAGES",
            "name": "ALLOCATION_PERCENTAGES"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameterValuesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#GenericString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParametersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRuleParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRuleTargetsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#GenericString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategorySplitChargeRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.costexplorer#CostCategoryStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PROCESSING",
            "name": "PROCESSING"
          },
          {
            "value": "APPLIED",
            "name": "APPLIED"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategoryStatusComponent": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COST_EXPLORER",
            "name": "COST_EXPLORER"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#CostCategoryValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The\n            default value for the cost category.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryValues": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.costexplorer#CostCategoryName"
        },
        "Values": {
          "target": "com.amazonaws.costexplorer#Values",
          "traits": {
            "smithy.api#documentation": "<p>The specific value of the Cost Category.</p>"
          }
        },
        "MatchOptions": {
          "target": "com.amazonaws.costexplorer#MatchOptions",
          "traits": {
            "smithy.api#documentation": "<p>The match options that you can use to filter your results. MatchOptions is only\n            applicable for actions related to cost category. The default values for\n                <code>MatchOptions</code> is <code>EQUALS</code> and <code>CASE_SENSITIVE</code>.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Cost Categories values used for filtering the costs.</p>\n        <p>If <code>Values</code> and <code>Key</code> are not specified, the <code>ABSENT</code>\n            <code>MatchOption</code> is applied to all Cost Categories. That is, it filters on\n            resources that aren't mapped to any Cost Categories.</p>\n        <p>If <code>Values</code> is provided and <code>Key</code> isn't specified, the\n                <code>ABSENT</code>\n            <code>MatchOption</code> is applied to the Cost Categories <code>Key</code> only. That\n            is, it filters on resources without the given Cost Categories key.</p>"
      }
    },
    "com.amazonaws.costexplorer#CostCategoryValuesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CostCategoryValue"
      }
    },
    "com.amazonaws.costexplorer#Coverage": {
      "type": "structure",
      "members": {
        "CoverageHours": {
          "target": "com.amazonaws.costexplorer#CoverageHours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of instance usage that the reservation covered, in hours.</p>"
          }
        },
        "CoverageNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#CoverageNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The amount of instance usage that the reservation covered, in normalized units.</p>"
          }
        },
        "CoverageCost": {
          "target": "com.amazonaws.costexplorer#CoverageCost",
          "traits": {
            "smithy.api#documentation": "<p>The amount of cost that the reservation covered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of instance usage that a reservation covered.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageByTime": {
      "type": "structure",
      "members": {
        "TimePeriod": {
          "target": "com.amazonaws.costexplorer#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The period that this coverage was used over.</p>"
          }
        },
        "Groups": {
          "target": "com.amazonaws.costexplorer#ReservationCoverageGroups",
          "traits": {
            "smithy.api#documentation": "<p>The groups of instances that the reservation covered.</p>"
          }
        },
        "Total": {
          "target": "com.amazonaws.costexplorer#Coverage",
          "traits": {
            "smithy.api#documentation": "<p>The total reservation coverage, in hours.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reservation coverage for a specified period, in hours.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageCost": {
      "type": "structure",
      "members": {
        "OnDemandCost": {
          "target": "com.amazonaws.costexplorer#OnDemandCost",
          "traits": {
            "smithy.api#documentation": "<p>How much an On-Demand Instance costs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How much it costs to run an instance.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageHours": {
      "type": "structure",
      "members": {
        "OnDemandHours": {
          "target": "com.amazonaws.costexplorer#OnDemandHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of instance running hours that On-Demand Instances covered.</p>"
          }
        },
        "ReservedHours": {
          "target": "com.amazonaws.costexplorer#ReservedHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of instance running hours that reservations covered.</p>"
          }
        },
        "TotalRunningHours": {
          "target": "com.amazonaws.costexplorer#TotalRunningHours",
          "traits": {
            "smithy.api#documentation": "<p>The total instance usage, in hours.</p>"
          }
        },
        "CoverageHoursPercentage": {
          "target": "com.amazonaws.costexplorer#CoverageHoursPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of instance hours that a reservation covered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How long a running instance either used a reservation or was On-Demand.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageHoursPercentage": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#CoverageNormalizedUnits": {
      "type": "structure",
      "members": {
        "OnDemandNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#OnDemandNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The number of normalized units that are covered by On-Demand Instances instead of a\n            reservation.</p>"
          }
        },
        "ReservedNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#ReservedNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The number of normalized units that a reservation covers.</p>"
          }
        },
        "TotalRunningNormalizedUnits": {
          "target": "com.amazonaws.costexplorer#TotalRunningNormalizedUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of normalized units that you used.</p>"
          }
        },
        "CoverageNormalizedUnitsPercentage": {
          "target": "com.amazonaws.costexplorer#CoverageNormalizedUnitsPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of your used instance normalized units that a reservation\n            covers.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of instance usage, in normalized units. You can use normalized units to see\n            your EC2 usage for multiple sizes of instances in a uniform way. For example, suppose\n            that you run an xlarge instance and a 2xlarge instance. If you run both instances for\n            the same amount of time, the 2xlarge instance uses twice as much of your reservation as\n            the xlarge instance, even though both instances show only one instance-hour. When you\n            use normalized units instead of instance-hours, the xlarge instance used 8 normalized\n            units, and the 2xlarge instance used 16 normalized units.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-modifying.html\">Modifying Reserved Instances</a>\n            in the <i>Amazon Elastic Compute Cloud User Guide for Linux\n            Instances</i>.</p>"
      }
    },
    "com.amazonaws.costexplorer#CoverageNormalizedUnitsPercentage": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#CoveragesByTime": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#CoverageByTime"
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalyMonitor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#CreateAnomalyMonitorRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#CreateAnomalyMonitorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new cost anomaly detection monitor with the requested type and monitor\n      specification. </p>"
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalyMonitorRequest": {
      "type": "structure",
      "members": {
        "AnomalyMonitor": {
          "target": "com.amazonaws.costexplorer#AnomalyMonitor",
          "traits": {
            "smithy.api#documentation": "<p>The cost anomaly detection monitor object that you want to create.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalyMonitorResponse": {
      "type": "structure",
      "members": {
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of your newly created cost anomaly detection monitor.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalySubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#CreateAnomalySubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#CreateAnomalySubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownMonitorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a subscription to a cost anomaly detection monitor. You can use each subscription to\n      define subscribers with email or SNS notifications. Email subscribers can set a dollar\n      threshold and a time frequency for receiving notifications. </p>"
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalySubscriptionRequest": {
      "type": "structure",
      "members": {
        "AnomalySubscription": {
          "target": "com.amazonaws.costexplorer#AnomalySubscription",
          "traits": {
            "smithy.api#documentation": "<p>The cost anomaly subscription object that you want to create. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateAnomalySubscriptionResponse": {
      "type": "structure",
      "members": {
        "SubscriptionArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of your newly created cost anomaly subscription. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateCostCategoryDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#CreateCostCategoryDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#CreateCostCategoryDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Cost Category with the requested name and rules.</p>"
      }
    },
    "com.amazonaws.costexplorer#CreateCostCategoryDefinitionRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.costexplorer#CostCategoryName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RuleVersion": {
          "target": "com.amazonaws.costexplorer#CostCategoryRuleVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.costexplorer#CostCategoryRulesList",
          "traits": {
            "smithy.api#documentation": "<p>The Cost Category rules used to categorize costs. For more information, see\n        <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategoryRule.html\">CostCategoryRule</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultValue": {
          "target": "com.amazonaws.costexplorer#CostCategoryValue"
        },
        "SplitChargeRules": {
          "target": "com.amazonaws.costexplorer#CostCategorySplitChargeRulesList",
          "traits": {
            "smithy.api#documentation": "<p>\n      The split charge rules used to allocate your charges between your Cost Category values.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CreateCostCategoryDefinitionResponse": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your newly created Cost Category.\n    </p>"
          }
        },
        "EffectiveStart": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Cost Category's effective start date.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#CurrentInstance": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Resource ID of the current instance.</p>"
          }
        },
        "InstanceName": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name that you given an instance. This field shows as blank if you haven't given\n            the instance a name.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.costexplorer#TagValuesList",
          "traits": {
            "smithy.api#documentation": "<p>Cost allocation resource tags that are applied to the instance.</p>"
          }
        },
        "ResourceDetails": {
          "target": "com.amazonaws.costexplorer#ResourceDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the resource and utilization.</p>"
          }
        },
        "ResourceUtilization": {
          "target": "com.amazonaws.costexplorer#ResourceUtilization",
          "traits": {
            "smithy.api#documentation": "<p>Utilization information of the current instance during the lookback period.</p>"
          }
        },
        "ReservationCoveredHoursInLookbackPeriod": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The number of hours during the lookback period that's covered by reservations.</p>"
          }
        },
        "SavingsPlansCoveredHoursInLookbackPeriod": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The number of hours during the lookback period that's covered by Savings Plans.</p>"
          }
        },
        "OnDemandHoursInLookbackPeriod": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The number of hours during the lookback period that's billed at On-Demand\n            rates.</p>"
          }
        },
        "TotalRunningHoursInLookbackPeriod": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The total number of hours that the instance ran during the lookback period.</p>"
          }
        },
        "MonthlyCost": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The current On-Demand cost of operating this instance on a monthly basis.</p>"
          }
        },
        "CurrencyCode": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The currency code that Amazon Web Services used to calculate the costs for this\n            instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Context about the current instance.</p>"
      }
    },
    "com.amazonaws.costexplorer#DataUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.costexplorer#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested data is unavailable.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.costexplorer#DateInterval": {
      "type": "structure",
      "members": {
        "Start": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The beginning of the time period. The start date is inclusive. For example, if\n                <code>start</code> is <code>2017-01-01</code>, Amazon Web Services retrieves cost and\n            usage data starting at <code>2017-01-01</code> up to the end date. The start date must\n            be equal to or no later than the current date to avoid a validation error.</p>",
            "smithy.api#required": {}
          }
        },
        "End": {
          "target": "com.amazonaws.costexplorer#YearMonthDay",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time period. The end date is exclusive. For example, if\n                <code>end</code> is <code>2017-05-01</code>, Amazon Web Services retrieves cost and\n            usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The time period of the request. </p>"
      }
    },
    "com.amazonaws.costexplorer#DeleteAnomalyMonitor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#DeleteAnomalyMonitorRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#DeleteAnomalyMonitorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownMonitorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a cost anomaly monitor. </p>"
      }
    },
    "com.amazonaws.costexplorer#DeleteAnomalyMonitorRequest": {
      "type": "structure",
      "members": {
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the cost anomaly monitor that you want to delete. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#DeleteAnomalyMonitorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.costexplorer#DeleteAnomalySubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#DeleteAnomalySubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#DeleteAnomalySubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownSubscriptionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a cost anomaly subscription. </p>"
      }
    },
    "com.amazonaws.costexplorer#DeleteAnomalySubscriptionRequest": {
      "type": "structure",
      "members": {
        "SubscriptionArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the cost anomaly subscription that you want to delete. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#DeleteAnomalySubscriptionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.costexplorer#DeleteCostCategoryDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#DeleteCostCategoryDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#DeleteCostCategoryDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Cost Category. Expenses from this month going forward will no longer be categorized with this Cost Category.</p>"
      }
    },
    "com.amazonaws.costexplorer#DeleteCostCategoryDefinitionRequest": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your Cost Category.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.costexplorer#DeleteCostCategoryDefinitionResponse": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your Cost Category.\n    </p>"
          }
        },
        "EffectiveEnd": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n      The effective end date of the Cost Category as a result of deleting it. No costs after this date will be categorized by the deleted Cost Category.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#DescribeCostCategoryDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#DescribeCostCategoryDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#DescribeCostCategoryDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the name, ARN, rules, definition, and effective dates of a Cost Category that's defined in the account.</p>\n         <p>You have the option to use <code>EffectiveOn</code> to return a Cost Category that is active on a specific date. If there is no <code>EffectiveOn</code> specified, you’ll see a Cost Category that is effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. </p>"
      }
    },
    "com.amazonaws.costexplorer#DescribeCostCategoryDefinitionRequest": {
      "type": "structure",
      "members": {
        "CostCategoryArn": {
          "target": "com.amazonaws.costexplorer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unique identifier for your Cost Category.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveOn": {
          "target": "com.amazonaws.costexplorer#ZonedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n      The date when the Cost Category was effective.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#DescribeCostCategoryDefinitionResponse": {
      "type": "structure",
      "members": {
        "CostCategory": {
          "target": "com.amazonaws.costexplorer#CostCategory"
        }
      }
    },
    "com.amazonaws.costexplorer#Dimension": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AZ",
            "name": "AZ"
          },
          {
            "value": "INSTANCE_TYPE",
            "name": "INSTANCE_TYPE"
          },
          {
            "value": "LINKED_ACCOUNT",
            "name": "LINKED_ACCOUNT"
          },
          {
            "value": "LINKED_ACCOUNT_NAME",
            "name": "LINKED_ACCOUNT_NAME"
          },
          {
            "value": "OPERATION",
            "name": "OPERATION"
          },
          {
            "value": "PURCHASE_TYPE",
            "name": "PURCHASE_TYPE"
          },
          {
            "value": "REGION",
            "name": "REGION"
          },
          {
            "value": "SERVICE",
            "name": "SERVICE"
          },
          {
            "value": "SERVICE_CODE",
            "name": "SERVICE_CODE"
          },
          {
            "value": "USAGE_TYPE",
            "name": "USAGE_TYPE"
          },
          {
            "value": "USAGE_TYPE_GROUP",
            "name": "USAGE_TYPE_GROUP"
          },
          {
            "value": "RECORD_TYPE",
            "name": "RECORD_TYPE"
          },
          {
            "value": "OPERATING_SYSTEM",
            "name": "OPERATING_SYSTEM"
          },
          {
            "value": "TENANCY",
            "name": "TENANCY"
          },
          {
            "value": "SCOPE",
            "name": "SCOPE"
          },
          {
            "value": "PLATFORM",
            "name": "PLATFORM"
          },
          {
            "value": "SUBSCRIPTION_ID",
            "name": "SUBSCRIPTION_ID"
          },
          {
            "value": "LEGAL_ENTITY_NAME",
            "name": "LEGAL_ENTITY_NAME"
          },
          {
            "value": "DEPLOYMENT_OPTION",
            "name": "DEPLOYMENT_OPTION"
          },
          {
            "value": "DATABASE_ENGINE",
            "name": "DATABASE_ENGINE"
          },
          {
            "value": "CACHE_ENGINE",
            "name": "CACHE_ENGINE"
          },
          {
            "value": "INSTANCE_TYPE_FAMILY",
            "name": "INSTANCE_TYPE_FAMILY"
          },
          {
            "value": "BILLING_ENTITY",
            "name": "BILLING_ENTITY"
          },
          {
            "value": "RESERVATION_ID",
            "name": "RESERVATION_ID"
          },
          {
            "value": "RESOURCE_ID",
            "name": "RESOURCE_ID"
          },
          {
            "value": "RIGHTSIZING_TYPE",
            "name": "RIGHTSIZING_TYPE"
          },
          {
            "value": "SAVINGS_PLANS_TYPE",
            "name": "SAVINGS_PLANS_TYPE"
          },
          {
            "value": "SAVINGS_PLAN_ARN",
            "name": "SAVINGS_PLAN_ARN"
          },
          {
            "value": "PAYMENT_OPTION",
            "name": "PAYMENT_OPTION"
          },
          {
            "value": "AGREEMENT_END_DATE_TIME_AFTER",
            "name": "AGREEMENT_END_DATE_TIME_AFTER"
          },
          {
            "value": "AGREEMENT_END_DATE_TIME_BEFORE",
            "name": "AGREEMENT_END_DATE_TIME_BEFORE"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#DimensionValues": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.costexplorer#Dimension",
          "traits": {
            "smithy.api#documentation": "<p>The names of the metadata types that you can use to filter and group your results. For\n            example, <code>AZ</code> returns a list of Availability Zones.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.costexplorer#Values",
          "traits": {
            "smithy.api#documentation": "<p>The metadata values that you can use to filter and group your results. You can use\n                <code>GetDimensionValues</code> to find specific values.</p>"
          }
        },
        "MatchOptions": {
          "target": "com.amazonaws.costexplorer#MatchOptions",
          "traits": {
            "smithy.api#documentation": "<p>The match options that you can use to filter your results. <code>MatchOptions</code>\n            is only applicable for actions related to Cost Category. The default values for\n                <code>MatchOptions</code> are <code>EQUALS</code> and\n            <code>CASE_SENSITIVE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata that you can use to filter and group your results. You can use\n                <code>GetDimensionValues</code> to find specific values.</p>"
      }
    },
    "com.amazonaws.costexplorer#DimensionValuesWithAttributes": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.costexplorer#Value",
          "traits": {
            "smithy.api#documentation": "<p>The value of a dimension with a specific attribute.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.costexplorer#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>The attribute that applies to a specific <code>Dimension</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata of a specific type that you can use to filter and group your results. You\n            can use <code>GetDimensionValues</code> to find specific values.</p>"
      }
    },
    "com.amazonaws.costexplorer#DimensionValuesWithAttributesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#DimensionValuesWithAttributes"
      }
    },
    "com.amazonaws.costexplorer#DiskResourceUtilization": {
      "type": "structure",
      "members": {
        "DiskReadOpsPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of read operations per second. </p>"
          }
        },
        "DiskWriteOpsPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of write operations per second. </p>"
          }
        },
        "DiskReadBytesPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The maximum read throughput operations per second. </p>"
          }
        },
        "DiskWriteBytesPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The maximum write throughput operations per second. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The field that contains a list of disk (local storage) metrics that are associated\n            with the current instance. </p>"
      }
    },
    "com.amazonaws.costexplorer#EBSResourceUtilization": {
      "type": "structure",
      "members": {
        "EbsReadOpsPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of read operations per second. </p>"
          }
        },
        "EbsWriteOpsPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of write operations per second. </p>"
          }
        },
        "EbsReadBytesPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of read operations per second </p>"
          }
        },
        "EbsWriteBytesPerSecond": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of write operations per second. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The EBS field that contains a list of EBS metrics that are associated with the current\n            instance. </p>"
      }
    },
    "com.amazonaws.costexplorer#EC2InstanceDetails": {
      "type": "structure",
      "members": {
        "Family": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The instance family of the recommended reservation.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The type of instance that Amazon Web Services recommends.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region of the recommended reservation.</p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone of the recommended reservation.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the recommended reservation. The platform is the specific combination\n            of operating system, license model, and software on an instance.</p>"
          }
        },
        "Tenancy": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the recommended reservation is dedicated or shared.</p>"
          }
        },
        "CurrentGeneration": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the recommendation is for a current-generation instance. </p>"
          }
        },
        "SizeFlexEligible": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the recommended reservation is size flexible.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the Amazon EC2 instances that Amazon Web Services recommends that you\n            purchase.</p>"
      }
    },
    "com.amazonaws.costexplorer#EC2ResourceDetails": {
      "type": "structure",
      "members": {
        "HourlyOnDemandRate": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The hourly public On-Demand rate for the instance type.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services instance.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the Amazon Web Services instance. The platform is the specific\n            combination of operating system, license model, and software on an instance.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region of the instance.</p>"
          }
        },
        "Sku": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The SKU of the product.</p>"
          }
        },
        "Memory": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The memory capacity of the Amazon Web Services instance.</p>"
          }
        },
        "NetworkPerformance": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The network performance capacity of the Amazon Web Services instance.</p>"
          }
        },
        "Storage": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The disk storage of the Amazon Web Services instance. This doesn't include EBS\n            storage.</p>"
          }
        },
        "Vcpu": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The number of VCPU cores in the Amazon Web Services instance type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details on the Amazon EC2 Resource.</p>"
      }
    },
    "com.amazonaws.costexplorer#EC2ResourceUtilization": {
      "type": "structure",
      "members": {
        "MaxCpuUtilizationPercentage": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The maximum observed or expected CPU utilization of the instance.</p>"
          }
        },
        "MaxMemoryUtilizationPercentage": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The maximum observed or expected memory utilization of the instance.</p>"
          }
        },
        "MaxStorageUtilizationPercentage": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p> The maximum observed or expected storage utilization of the instance. This doesn't\n            include EBS storage.</p>"
          }
        },
        "EBSResourceUtilization": {
          "target": "com.amazonaws.costexplorer#EBSResourceUtilization",
          "traits": {
            "smithy.api#documentation": "<p>The EBS field that contains a list of EBS metrics that are associated with the current\n            instance. </p>"
          }
        },
        "DiskResourceUtilization": {
          "target": "com.amazonaws.costexplorer#DiskResourceUtilization",
          "traits": {
            "smithy.api#documentation": "<p> The field that contains a list of disk (local storage) metrics that are associated\n            with the current instance. </p>"
          }
        },
        "NetworkResourceUtilization": {
          "target": "com.amazonaws.costexplorer#NetworkResourceUtilization",
          "traits": {
            "smithy.api#documentation": "<p> The network field that contains a list of network metrics that are associated with\n            the current instance. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Utilization metrics of the instance. </p>"
      }
    },
    "com.amazonaws.costexplorer#EC2Specification": {
      "type": "structure",
      "members": {
        "OfferingClass": {
          "target": "com.amazonaws.costexplorer#OfferingClass",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want a recommendation for standard or convertible\n            reservations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon EC2 hardware specifications that you want Amazon Web Services to provide\n            recommendations for.</p>"
      }
    },
    "com.amazonaws.costexplorer#ESInstanceDetails": {
      "type": "structure",
      "members": {
        "InstanceClass": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The class of instance that Amazon Web Services recommends.</p>"
          }
        },
        "InstanceSize": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The size of instance that Amazon Web Services recommends.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region of the recommended reservation.</p>"
          }
        },
        "CurrentGeneration": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the recommendation is for a current-generation instance.</p>"
          }
        },
        "SizeFlexEligible": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the recommended reservation is size flexible.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the Amazon ES instances that Amazon Web Services recommends that you\n            purchase.</p>"
      }
    },
    "com.amazonaws.costexplorer#ElastiCacheInstanceDetails": {
      "type": "structure",
      "members": {
        "Family": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The instance family of the recommended reservation.</p>"
          }
        },
        "NodeType": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The type of node that Amazon Web Services recommends.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region of the recommended reservation.</p>"
          }
        },
        "ProductDescription": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the recommended reservation.</p>"
          }
        },
        "CurrentGeneration": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the recommendation is for a current generation instance.</p>"
          }
        },
        "SizeFlexEligible": {
          "target": "com.amazonaws.costexplorer#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the recommended reservation is size flexible.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the Amazon ElastiCache instances that Amazon Web Services recommends that\n            you purchase.</p>"
      }
    },
    "com.amazonaws.costexplorer#Entity": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.costexplorer#Estimated": {
      "type": "boolean"
    },
    "com.amazonaws.costexplorer#Expression": {
      "type": "structure",
      "members": {
        "Or": {
          "target": "com.amazonaws.costexplorer#Expressions",
          "traits": {
            "smithy.api#documentation": "<p>Return results that match either <code>Dimension</code> object.</p>"
          }
        },
        "And": {
          "target": "com.amazonaws.costexplorer#Expressions",
          "traits": {
            "smithy.api#documentation": "<p>Return results that match both <code>Dimension</code> objects.</p>"
          }
        },
        "Not": {
          "target": "com.amazonaws.costexplorer#Expression",
          "traits": {
            "smithy.api#documentation": "<p>Return results that don't match a <code>Dimension</code> object.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.costexplorer#DimensionValues",
          "traits": {
            "smithy.api#documentation": "<p>The specific <code>Dimension</code> to use for <code>Expression</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.costexplorer#TagValues",
          "traits": {
            "smithy.api#documentation": "<p>The specific <code>Tag</code> to use for <code>Expression</code>.</p>"
          }
        },
        "CostCategories": {
          "target": "com.amazonaws.costexplorer#CostCategoryValues",
          "traits": {
            "smithy.api#documentation": "<p>The filter that's based on <code>CostCategory</code> values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use <code>Expression</code> to filter by cost or by usage. There are two patterns: </p>\n        <ul>\n            <li>\n                <p>Simple dimension values - You can set the dimension name and values for the\n                    filters that you plan to use. For example, you can filter for\n                        <code>REGION==us-east-1 OR REGION==us-west-1</code>. For\n                        <code>GetRightsizingRecommendation</code>, the Region is a full name (for\n                    example, <code>REGION==US East (N. Virginia)</code>. The <code>Expression</code>\n                    example is as follows:</p>\n                <p>\n                    <code>{ \"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", “us-west-1” ]\n                        } }</code>\n                </p>\n                <p>The list of dimension values are OR'd together to retrieve cost or usage data.\n                    You can create <code>Expression</code> and <code>DimensionValues</code> objects\n                    using either <code>with*</code> methods or <code>set*</code> methods in multiple\n                    lines. </p>\n            </li>\n            <li>\n                <p>Compound dimension values with logical operations - You can use multiple\n                        <code>Expression</code> types and the logical operators\n                        <code>AND/OR/NOT</code> to create a list of one or more\n                        <code>Expression</code> objects. By doing this, you can filter on more\n                    advanced options. For example, you can filter on <code>((REGION == us-east-1 OR\n                        REGION == us-west-1) OR (TAG.Type == Type1)) AND (USAGE_TYPE !=\n                        DataTransfer)</code>. The <code>Expression</code> for that is as\n                    follows:</p>\n                <p>\n                    <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"REGION\", \"Values\": [\n                        \"us-east-1\", \"us-west-1\" ] }}, {\"Tags\": { \"Key\": \"TagName\", \"Values\":\n                        [\"Value1\"] } } ]}, {\"Not\": {\"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\":\n                        [\"DataTransfer\"] }}} ] } </code>\n                </p>\n                <note>\n                    <p>Because each <code>Expression</code> can have only one operator, the\n                        service returns an error if more than one is specified. The following\n                        example shows an <code>Expression</code> object that creates an\n                        error.</p>\n                </note>\n                <p>\n                    <code> { \"And\": [ ... ], \"DimensionValues\": { \"Dimension\": \"USAGE_TYPE\",\n                        \"Values\": [ \"DataTransfer\" ] } } </code>\n                </p>\n            </li>\n         </ul>\n        <note>\n            <p>For the <code>GetRightsizingRecommendation</code> action, a combination of OR and\n                NOT isn't supported. OR isn't supported between different dimensions, or dimensions\n                and tags. NOT operators aren't supported. Dimensions are also limited to\n                    <code>LINKED_ACCOUNT</code>, <code>REGION</code>, or\n                    <code>RIGHTSIZING_TYPE</code>.</p>\n            <p>For the <code>GetReservationPurchaseRecommendation</code> action, only NOT is\n                supported. AND and OR aren't supported. Dimensions are limited to\n                    <code>LINKED_ACCOUNT</code>.</p>\n        </note>"
      }
    },
    "com.amazonaws.costexplorer#Expressions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#Expression"
      }
    },
    "com.amazonaws.costexplorer#FindingReasonCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CPU_OVER_PROVISIONED",
            "name": "CPU_OVER_PROVISIONED"
          },
          {
            "value": "CPU_UNDER_PROVISIONED",
            "name": "CPU_UNDER_PROVISIONED"
          },
          {
            "value": "MEMORY_OVER_PROVISIONED",
            "name": "MEMORY_OVER_PROVISIONED"
          },
          {
            "value": "MEMORY_UNDER_PROVISIONED",
            "name": "MEMORY_UNDER_PROVISIONED"
          },
          {
            "value": "EBS_THROUGHPUT_OVER_PROVISIONED",
            "name": "EBS_THROUGHPUT_OVER_PROVISIONED"
          },
          {
            "value": "EBS_THROUGHPUT_UNDER_PROVISIONED",
            "name": "EBS_THROUGHPUT_UNDER_PROVISIONED"
          },
          {
            "value": "EBS_IOPS_OVER_PROVISIONED",
            "name": "EBS_IOPS_OVER_PROVISIONED"
          },
          {
            "value": "EBS_IOPS_UNDER_PROVISIONED",
            "name": "EBS_IOPS_UNDER_PROVISIONED"
          },
          {
            "value": "NETWORK_BANDWIDTH_OVER_PROVISIONED",
            "name": "NETWORK_BANDWIDTH_OVER_PROVISIONED"
          },
          {
            "value": "NETWORK_BANDWIDTH_UNDER_PROVISIONED",
            "name": "NETWORK_BANDWIDTH_UNDER_PROVISIONED"
          },
          {
            "value": "NETWORK_PPS_OVER_PROVISIONED",
            "name": "NETWORK_PPS_OVER_PROVISIONED"
          },
          {
            "value": "NETWORK_PPS_UNDER_PROVISIONED",
            "name": "NETWORK_PPS_UNDER_PROVISIONED"
          },
          {
            "value": "DISK_IOPS_OVER_PROVISIONED",
            "name": "DISK_IOPS_OVER_PROVISIONED"
          },
          {
            "value": "DISK_IOPS_UNDER_PROVISIONED",
            "name": "DISK_IOPS_UNDER_PROVISIONED"
          },
          {
            "value": "DISK_THROUGHPUT_OVER_PROVISIONED",
            "name": "DISK_THROUGHPUT_OVER_PROVISIONED"
          },
          {
            "value": "DISK_THROUGHPUT_UNDER_PROVISIONED",
            "name": "DISK_THROUGHPUT_UNDER_PROVISIONED"
          }
        ]
      }
    },
    "com.amazonaws.costexplorer#FindingReasonCodes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#FindingReasonCode"
      }
    },
    "com.amazonaws.costexplorer#ForecastResult": {
      "type": "structure",
      "members": {
        "TimePeriod": {
          "target": "com.amazonaws.costexplorer#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The period of time that the forecast covers.</p>"
          }
        },
        "MeanValue": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The mean value of the forecast.</p>"
          }
        },
        "PredictionIntervalLowerBound": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The lower limit for the prediction interval. </p>"
          }
        },
        "PredictionIntervalUpperBound": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The upper limit for the prediction interval. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The forecast that's created for your query.</p>"
      }
    },
    "com.amazonaws.costexplorer#ForecastResultsByTime": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.costexplorer#ForecastResult"
      }
    },
    "com.amazonaws.costexplorer#GenericBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.costexplorer#GenericDouble": {
      "type": "double"
    },
    "com.amazonaws.costexplorer#GenericString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\S\\s]*$"
      }
    },
    "com.amazonaws.costexplorer#GetAnomalies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#GetAnomaliesRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#GetAnomaliesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves all of the cost anomalies detected on your account during the time period that's\n      specified by the <code>DateInterval</code> object. </p>"
      }
    },
    "com.amazonaws.costexplorer#GetAnomaliesRequest": {
      "type": "structure",
      "members": {
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves all of the cost anomalies detected for a specific cost anomaly monitor Amazon\n      Resource Name (ARN). </p>"
          }
        },
        "DateInterval": {
          "target": "com.amazonaws.costexplorer#AnomalyDateInterval",
          "traits": {
            "smithy.api#documentation": "<p>Assigns the start and end dates for retrieving cost anomalies. The returned anomaly object\n      will have an <code>AnomalyEndDate</code> in the specified time range. </p>",
            "smithy.api#required": {}
          }
        },
        "Feedback": {
          "target": "com.amazonaws.costexplorer#AnomalyFeedbackType",
          "traits": {
            "smithy.api#documentation": "<p>Filters anomaly results by the feedback field on the anomaly object. </p>"
          }
        },
        "TotalImpact": {
          "target": "com.amazonaws.costexplorer#TotalImpactFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters anomaly results by the total impact field on the anomaly object. For example, you\n      can filter anomalies <code>GREATER_THAN 200.00</code> to retrieve anomalies, with an estimated\n      dollar impact greater than 200. </p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when\n      the response from a previous call has more results than the maximum page size. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.costexplorer#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The number of entries a paginated response contains. </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetAnomaliesResponse": {
      "type": "structure",
      "members": {
        "Anomalies": {
          "target": "com.amazonaws.costexplorer#Anomalies",
          "traits": {
            "smithy.api#documentation": "<p>A list of cost anomalies. </p>",
            "smithy.api#required": {}
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when\n      the response from a previous call has more results than the maximum page size. </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetAnomalyMonitors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#GetAnomalyMonitorsRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#GetAnomalyMonitorsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownMonitorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the cost anomaly monitor definitions for your account. You can filter using a\n      list of cost anomaly monitor Amazon Resource Names (ARNs). </p>"
      }
    },
    "com.amazonaws.costexplorer#GetAnomalyMonitorsRequest": {
      "type": "structure",
      "members": {
        "MonitorArnList": {
          "target": "com.amazonaws.costexplorer#Values",
          "traits": {
            "smithy.api#documentation": "<p>A list of cost anomaly monitor ARNs. </p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when\n      the response from a previous call has more results than the maximum page size. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.costexplorer#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The number of entries that a paginated response contains. </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetAnomalyMonitorsResponse": {
      "type": "structure",
      "members": {
        "AnomalyMonitors": {
          "target": "com.amazonaws.costexplorer#AnomalyMonitors",
          "traits": {
            "smithy.api#documentation": "<p>A list of cost anomaly monitors that includes the detailed metadata for each monitor. </p>",
            "smithy.api#required": {}
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when\n      the response from a previous call has more results than the maximum page size. </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetAnomalySubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#GetAnomalySubscriptionsRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#GetAnomalySubscriptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#UnknownSubscriptionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the cost anomaly subscription objects for your account. You can filter using a\n      list of cost anomaly monitor Amazon Resource Names (ARNs). </p>"
      }
    },
    "com.amazonaws.costexplorer#GetAnomalySubscriptionsRequest": {
      "type": "structure",
      "members": {
        "SubscriptionArnList": {
          "target": "com.amazonaws.costexplorer#Values",
          "traits": {
            "smithy.api#documentation": "<p>A list of cost anomaly subscription ARNs. </p>"
          }
        },
        "MonitorArn": {
          "target": "com.amazonaws.costexplorer#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Cost anomaly monitor ARNs. </p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when\n      the response from a previous call has more results than the maximum page size. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.costexplorer#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The number of entries a paginated response contains. </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetAnomalySubscriptionsResponse": {
      "type": "structure",
      "members": {
        "AnomalySubscriptions": {
          "target": "com.amazonaws.costexplorer#AnomalySubscriptions",
          "traits": {
            "smithy.api#documentation": "<p>A list of cost anomaly subscriptions that includes the detailed metadata for each one. </p>",
            "smithy.api#required": {}
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.costexplorer#NextPageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when\n      the response from a previous call has more results than the maximum page size. </p>"
          }
        }
      }
    },
    "com.amazonaws.costexplorer#GetCostAndUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.costexplorer#GetCostAndUsageRequest"
      },
      "output": {
        "target": "com.amazonaws.costexplorer#GetCostAndUsageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.costexplorer#BillExpirationException"
        },
        {
          "target": "com.amazonaws.costexplorer#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.costexplorer#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.costexplorer#LimitExceededException"
        },
        {
          "target": "com.amazonaws.costexplorer#RequestChangedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves cost and usage metrics for your account. You can specify which cost and\n      usage-related metric that you want the request to return. For example, you can specify\n        <code>BlendedCosts</code> or <code>UsageQuantity</code>. You can also filter and group your\n      data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific\n      time range. For a complete list of valid dimensions, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Management account in an organization in Organizations have access to all member accounts.</p>\n\t        <p>For information about filter limitations, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/billing-limits.html\">Quotas and restrictions</a> in the <i>Billing and Cost Management User Guide</i>.</p>"
      }
    },
    "com.amazonaws.costexplorer#GetCostAndUsageRequest": {
      "type": "structure",
      "members": {
        "TimePeriod": {
          "target": "com.amazonaws.costexplorer#DateInterval",
          "traits": {
[...]
