{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.customerprofiles#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.customerprofiles#AddProfileKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#AddProfileKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#AddProfileKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a new key value with a specific profile, such as a Contact Trace Record (CTR)\n         ContactId.</p>\n         <p>A profile object can have a single unique key and any number of additional keys that can\n         be used to identify the profile that it belongs to.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles/keys",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#AddProfileKeyRequest": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A searchable identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.customerprofiles#requestValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key values.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#AddProfileKeyResponse": {
      "type": "structure",
      "members": {
        "KeyName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A searchable identifier of a customer profile.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.customerprofiles#requestValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key values.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#Address": {
      "type": "structure",
      "members": {
        "Address1": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The first line of a customer address.</p>"
          }
        },
        "Address2": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The second line of a customer address.</p>"
          }
        },
        "Address3": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The third line of a customer address.</p>"
          }
        },
        "Address4": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The fourth line of a customer address.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The city in which a customer lives.</p>"
          }
        },
        "County": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The county in which a customer lives.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The state in which a customer lives.</p>"
          }
        },
        "Province": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The province in which a customer lives.</p>"
          }
        },
        "Country": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The country in which a customer lives.</p>"
          }
        },
        "PostalCode": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The postal code of a customer address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A generic address associated with the customer that is not mailing, shipping, or\n         billing.</p>"
      }
    },
    "com.amazonaws.customerprofiles#AttributeSourceIdMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.customerprofiles#string1To255"
      },
      "value": {
        "target": "com.amazonaws.customerprofiles#uuid"
      }
    },
    "com.amazonaws.customerprofiles#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.customerprofiles#string1To255"
      },
      "value": {
        "target": "com.amazonaws.customerprofiles#string1To255"
      }
    },
    "com.amazonaws.customerprofiles#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input you provided is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.customerprofiles#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.customerprofiles#BucketPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.customerprofiles#ConnectorOperator": {
      "type": "structure",
      "members": {
        "Marketo": {
          "target": "com.amazonaws.customerprofiles#MarketoConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided Marketo source fields.</p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.customerprofiles#S3ConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided Amazon S3 source fields.</p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.customerprofiles#SalesforceConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided Salesforce source fields.</p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.customerprofiles#ServiceNowConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided ServiceNow source fields.</p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.customerprofiles#ZendeskConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided Zendesk source fields.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation to be performed on the provided source fields.</p>"
      }
    },
    "com.amazonaws.customerprofiles#ConnectorProfileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\w/!@#+=.-]+$"
      }
    },
    "com.amazonaws.customerprofiles#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#CreateDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#CreateDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a domain, which is a container for all customer data, such as customer profile\n         attributes, object types, profile keys, and encryption keys. You can create multiple\n         domains, and each domain can have multiple third-party integrations.</p>\n         <p>Each Amazon Connect instance can be associated with only one domain. Multiple Amazon Connect instances can\n         be associated with one domain.</p>\n         <p>Use this API or <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_UpdateDomain.html\">UpdateDomain</a> to\n         enable <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">identity\n            resolution</a>: set <code>Matching</code> to true. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DefaultExpirationDays": {
          "target": "com.amazonaws.customerprofiles#expirationDaysInteger",
          "traits": {
            "smithy.api#documentation": "<p>The default number of days until the data within the domain expires.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultEncryptionKey": {
          "target": "com.amazonaws.customerprofiles#encryptionKey",
          "traits": {
            "smithy.api#documentation": "<p>The default encryption key, which is an AWS managed key, is used when no specific type\n         of encryption key is specified. It is used to encrypt all data before it is placed in\n         permanent or semi-permanent storage.</p>"
          }
        },
        "DeadLetterQueueUrl": {
          "target": "com.amazonaws.customerprofiles#sqsQueueUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the SQS dead letter queue, which is used for reporting errors associated with\n         ingesting data from third party applications. You must set up a policy on the\n         DeadLetterQueue for the SendMessage operation to enable Amazon Connect Customer Profiles to send\n         messages to the DeadLetterQueue.</p>"
          }
        },
        "Matching": {
          "target": "com.amazonaws.customerprofiles#MatchingRequest",
          "traits": {
            "smithy.api#documentation": "<p>The process of matching duplicate profiles. If Matching = true, Amazon Connect Customer Profiles starts a weekly batch process every Saturday at 12AM UTC to detect duplicate profiles in your domains. \nAfter that batch process completes, use the \n<a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">GetMatches</a>\nAPI to return and review the results.  </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateDomainResponse": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultExpirationDays": {
          "target": "com.amazonaws.customerprofiles#expirationDaysInteger",
          "traits": {
            "smithy.api#documentation": "<p>The default number of days until the data within the domain expires.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultEncryptionKey": {
          "target": "com.amazonaws.customerprofiles#encryptionKey",
          "traits": {
            "smithy.api#documentation": "<p>The default encryption key, which is an AWS managed key, is used when no specific type\n         of encryption key is specified. It is used to encrypt all data before it is placed in\n         permanent or semi-permanent storage.</p>"
          }
        },
        "DeadLetterQueueUrl": {
          "target": "com.amazonaws.customerprofiles#sqsQueueUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the SQS dead letter queue, which is used for reporting errors associated with\n         ingesting data from third party applications.</p>"
          }
        },
        "Matching": {
          "target": "com.amazonaws.customerprofiles#MatchingResponse",
          "traits": {
            "smithy.api#documentation": "<p>The process of matching duplicate profiles. If Matching = true, Amazon Connect Customer Profiles starts a weekly batch process every Saturday at 12AM UTC to detect duplicate profiles in your domains. \nAfter that batch process completes, use the \n<a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">GetMatches</a>\nAPI to return and review the results.  </p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was most recently edited.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#CreateProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#CreateProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a standard profile.</p>\n         <p>A standard profile represents the following attributes for a customer profile in a\n         domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateProfileRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountNumber": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>A unique account number that you have given to the customer.</p>"
          }
        },
        "AdditionalInformation": {
          "target": "com.amazonaws.customerprofiles#string1To1000",
          "traits": {
            "smithy.api#documentation": "<p>Any additional information relevant to the customer’s profile.</p>"
          }
        },
        "PartyType": {
          "target": "com.amazonaws.customerprofiles#PartyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of profile used to describe the customer.</p>"
          }
        },
        "BusinessName": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the customer’s business.</p>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s first name.</p>"
          }
        },
        "MiddleName": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s middle name.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s last name.</p>"
          }
        },
        "BirthDate": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s birth date. </p>"
          }
        },
        "Gender": {
          "target": "com.amazonaws.customerprofiles#Gender",
          "traits": {
            "smithy.api#documentation": "<p>The gender with which the customer identifies. </p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s phone number, which has not been specified as a mobile, home, or business\n         number. </p>"
          }
        },
        "MobilePhoneNumber": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s mobile phone number.</p>"
          }
        },
        "HomePhoneNumber": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s home phone number.</p>"
          }
        },
        "BusinessPhoneNumber": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s business phone number.</p>"
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s email address, which has not been specified as a personal or business\n         address. </p>"
          }
        },
        "PersonalEmailAddress": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s personal email address.</p>"
          }
        },
        "BusinessEmailAddress": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s business email address.</p>"
          }
        },
        "Address": {
          "target": "com.amazonaws.customerprofiles#Address",
          "traits": {
            "smithy.api#documentation": "<p>A generic address associated with the customer that is not mailing, shipping, or\n         billing.</p>"
          }
        },
        "ShippingAddress": {
          "target": "com.amazonaws.customerprofiles#Address",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s shipping address.</p>"
          }
        },
        "MailingAddress": {
          "target": "com.amazonaws.customerprofiles#Address",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s mailing address.</p>"
          }
        },
        "BillingAddress": {
          "target": "com.amazonaws.customerprofiles#Address",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s billing address.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.customerprofiles#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>A key value pair of attributes of a customer profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateProfileResponse": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#CustomerProfiles_20200815": {
      "type": "service",
      "version": "2020-08-15",
      "operations": [
        {
          "target": "com.amazonaws.customerprofiles#AddProfileKey"
        },
        {
          "target": "com.amazonaws.customerprofiles#CreateDomain"
        },
        {
          "target": "com.amazonaws.customerprofiles#CreateProfile"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteDomain"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteIntegration"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteProfile"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteProfileKey"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteProfileObject"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteProfileObjectType"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetDomain"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetIntegration"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetMatches"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetProfileObjectType"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetProfileObjectTypeTemplate"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListAccountIntegrations"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListDomains"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListIntegrations"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListProfileObjects"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListProfileObjectTypes"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListProfileObjectTypeTemplates"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.customerprofiles#MergeProfiles"
        },
        {
          "target": "com.amazonaws.customerprofiles#PutIntegration"
        },
        {
          "target": "com.amazonaws.customerprofiles#PutProfileObject"
        },
        {
          "target": "com.amazonaws.customerprofiles#PutProfileObjectType"
        },
        {
          "target": "com.amazonaws.customerprofiles#SearchProfiles"
        },
        {
          "target": "com.amazonaws.customerprofiles#TagResource"
        },
        {
          "target": "com.amazonaws.customerprofiles#UntagResource"
        },
        {
          "target": "com.amazonaws.customerprofiles#UpdateDomain"
        },
        {
          "target": "com.amazonaws.customerprofiles#UpdateProfile"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Customer Profiles",
          "arnNamespace": "profile",
          "cloudFormationName": "CustomerProfiles",
          "cloudTrailEventSource": "customerprofiles.amazonaws.com",
          "endpointPrefix": "profile"
        },
        "aws.auth#sigv4": {
          "name": "profile"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Connect Customer Profiles</fullname>\n         <p>Welcome to the Amazon Connect Customer Profiles API Reference. This guide provides information\n         about the Amazon Connect Customer Profiles API, including supported operations, data types,\n         parameters, and schemas.</p>\n         <p>Amazon Connect Customer Profiles is a unified customer profile for your contact center that has\n         pre-built connectors powered by AppFlow that make it easy to combine customer information\n         from third party applications, such as Salesforce (CRM), ServiceNow (ITSM), and your\n         enterprise resource planning (ERP), with contact history from your Amazon Connect contact\n         center.</p>\n         <p>If you're new to Amazon Connect , you might find it helpful to also review the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/what-is-amazon-connect.html\">Amazon Connect Administrator Guide</a>.</p>",
        "smithy.api#title": "Amazon Connect Customer Profiles"
      }
    },
    "com.amazonaws.customerprofiles#DataPullMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Incremental",
            "name": "INCREMENTAL"
          },
          {
            "value": "Complete",
            "name": "COMPLETE"
          }
        ]
      }
    },
    "com.amazonaws.customerprofiles#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.customerprofiles#DatetimeTypeFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.customerprofiles#DeleteDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific domain and all of its customer data, such as customer profile\n         attributes and their related objects.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domains/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteDomainResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an integration from a specific domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/integrations/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteIntegrationRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Uri": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the S3 bucket or any other type of data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteIntegrationResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the standard customer profile and all data pertaining to the profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a searchable key from a customer profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles/keys/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileKeyRequest": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A searchable identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.customerprofiles#requestValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key values.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileKeyResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileObjectRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileObjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an object associated with a profile of a given ProfileObjectType.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles/objects/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObjectRequest": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "ProfileObjectUniqueKey": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the profile object generated by the service.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObjectResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObjectType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileObjectTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileObjectTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a ProfileObjectType from a specific domain as well as removes all the\n         ProfileObjects of that type. It also disables integrations from this specific\n         ProfileObjectType. In addition, it scrubs all of the fields of the standard profile that\n         were populated from this ProfileObjectType.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domains/{DomainName}/object-types/{ObjectTypeName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObjectTypeRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObjectTypeResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileRequest": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DestinationField": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.customerprofiles#DomainList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.customerprofiles#ListDomainItem"
      }
    },
    "com.amazonaws.customerprofiles#DomainStats": {
      "type": "structure",
      "members": {
        "ProfileCount": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of profiles currently in the domain.</p>"
          }
        },
        "MeteringProfileCount": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#documentation": "<p>The number of profiles that you are currently paying for in the domain. If you have more\n         than 100 objects associated with a single profile, that profile counts as two profiles. If\n         you have more than 200 objects, that profile counts as three, and so on.</p>"
          }
        },
        "ObjectCount": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of objects in domain.</p>"
          }
        },
        "TotalSize": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#documentation": "<p>The total size, in bytes, of all objects in the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Usage-specific statistics about the domain.</p>"
      }
    },
    "com.amazonaws.customerprofiles#FieldContentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STRING",
            "name": "STRING"
          },
          {
            "value": "NUMBER",
            "name": "NUMBER"
          },
          {
            "value": "PHONE_NUMBER",
            "name": "PHONE_NUMBER"
          },
          {
            "value": "EMAIL_ADDRESS",
            "name": "EMAIL_ADDRESS"
          },
          {
            "value": "NAME",
            "name": "NAME"
          }
        ]
      }
    },
    "com.amazonaws.customerprofiles#FieldMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.customerprofiles#name"
      },
      "value": {
        "target": "com.amazonaws.customerprofiles#ObjectTypeField"
      }
    },
    "com.amazonaws.customerprofiles#FieldNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.customerprofiles#name"
      }
    },
    "com.amazonaws.customerprofiles#FieldSourceProfileIds": {
      "type": "structure",
      "members": {
        "AccountNumber": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the account number field to be merged. </p>"
          }
        },
        "AdditionalInformation": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the additional information field to be merged.</p>"
          }
        },
        "PartyType": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the party type field to be merged.</p>"
          }
        },
        "BusinessName": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the business name field to be merged.</p>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the first name field to be merged.</p>"
          }
        },
        "MiddleName": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the middle name field to be merged.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the last name field to be merged.</p>"
          }
        },
        "BirthDate": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the birthdate field to be merged.</p>"
          }
        },
        "Gender": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the gender field to be merged.</p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the phone number field to be merged.</p>"
          }
        },
        "MobilePhoneNumber": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the mobile phone number field to be merged.</p>"
          }
        },
        "HomePhoneNumber": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the home phone number field to be merged.</p>"
          }
        },
        "BusinessPhoneNumber": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the business phone number field to be merged.</p>"
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the email address field to be merged.</p>"
          }
        },
        "PersonalEmailAddress": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the personal email address field to be merged.</p>"
          }
        },
        "BusinessEmailAddress": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the party type field to be merged.</p>"
          }
        },
        "Address": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the party type field to be merged.</p>"
          }
        },
        "ShippingAddress": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the shipping address field to be merged.</p>"
          }
        },
        "MailingAddress": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the mailing address field to be merged.</p>"
          }
        },
        "BillingAddress": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the billing type field to be merged.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.customerprofiles#AttributeSourceIdMap",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the attributes field to be merged.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A duplicate customer profile that is to be merged into a main profile. </p>"
      }
    },
    "com.amazonaws.customerprofiles#FlowDefinition": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.customerprofiles#FlowDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the flow you want to create.</p>"
          }
        },
        "FlowName": {
          "target": "com.amazonaws.customerprofiles#FlowName",
          "traits": {
            "smithy.api#documentation": "<p>The specified name of the flow. Use underscores (_) or hyphens (-) only. Spaces are not\n         allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsArn": {
          "target": "com.amazonaws.customerprofiles#KmsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the AWS Key Management Service (KMS) key you provide for encryption.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceFlowConfig": {
          "target": "com.amazonaws.customerprofiles#SourceFlowConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration that controls how Customer Profiles retrieves data from the\n         source.</p>",
            "smithy.api#required": {}
          }
        },
        "Tasks": {
          "target": "com.amazonaws.customerprofiles#Tasks",
          "traits": {
            "smithy.api#documentation": "<p>A list of tasks that Customer Profiles performs while transferring the data in the flow\n         run.</p>",
            "smithy.api#required": {}
          }
        },
        "TriggerConfig": {
          "target": "com.amazonaws.customerprofiles#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "<p>The trigger settings that determine how and when the flow runs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configurations that control how Customer Profiles retrieves data from the source,\n         Amazon AppFlow. Customer Profiles uses this information to create an AppFlow flow on behalf of\n         customers.</p>"
      }
    },
    "com.amazonaws.customerprofiles#FlowDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\w!@#\\-.?,\\s]*$"
      }
    },
    "com.amazonaws.customerprofiles#FlowName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][\\w!@#.-]+$"
      }
    },
    "com.amazonaws.customerprofiles#Gender": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MALE",
            "name": "MALE"
          },
          {
            "value": "FEMALE",
            "name": "FEMALE"
          },
          {
            "value": "UNSPECIFIED",
            "name": "UNSPECIFIED"
          }
        ]
      }
    },
    "com.amazonaws.customerprofiles#GetDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#GetDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#GetDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a specific domain.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#GetDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#GetDomainResponse": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultExpirationDays": {
          "target": "com.amazonaws.customerprofiles#expirationDaysInteger",
          "traits": {
            "smithy.api#documentation": "<p>The default number of days until the data within the domain expires.</p>"
          }
        },
        "DefaultEncryptionKey": {
          "target": "com.amazonaws.customerprofiles#encryptionKey",
          "traits": {
            "smithy.api#documentation": "<p>The default encryption key, which is an AWS managed key, is used when no specific type\n         of encryption key is specified. It is used to encrypt all data before it is placed in\n         permanent or semi-permanent storage.</p>"
          }
        },
        "DeadLetterQueueUrl": {
          "target": "com.amazonaws.customerprofiles#sqsQueueUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the SQS dead letter queue, which is used for reporting errors associated with\n         ingesting data from third party applications.</p>"
          }
        },
        "Stats": {
          "target": "com.amazonaws.customerprofiles#DomainStats",
          "traits": {
            "smithy.api#documentation": "<p>Usage-specific statistics about the domain.</p>"
          }
        },
        "Matching": {
          "target": "com.amazonaws.customerprofiles#MatchingResponse",
          "traits": {
            "smithy.api#documentation": "<p>The process of matching duplicate profiles. If Matching = true, Amazon Connect Customer Profiles starts a weekly batch process every Saturday at 12AM UTC to detect duplicate profiles in your domains. \nAfter that batch process completes, use the \n<a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">GetMatches</a>\nAPI to return and review the results.  </p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was most recently edited.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#GetIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#GetIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#GetIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an integration for a domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/integrations",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#GetIntegrationRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Uri": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the S3 bucket or any other type of data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#GetIntegrationResponse": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Uri": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the S3 bucket or any other type of data source.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was most recently edited.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#GetMatches": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#GetMatchesRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#GetMatchesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API is in preview release for Amazon Connect and subject to change.</p>\n         <p>Before calling this API, use <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_CreateDomain.html\">CreateDomain</a> or\n            <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_UpdateDomain.html\">UpdateDomain</a> to\n         enable identity resolution: set <code>Matching</code> to true.</p>\n         <p>GetMatches returns potentially matching profiles, based on the results of the latest run\n         of a machine learning process. </p>\n         <important>\n            <p>Amazon Connect starts a batch process every Saturday at 12AM UTC to identify matching profiles.\n            The results are returned up to seven days after the Saturday run.</p>\n         </important>\n\n         <p>Amazon Connect uses the following profile attributes to identify matches:</p>\n         <ul>\n            <li>\n               <p>PhoneNumber</p>\n            </li>\n            <li>\n               <p>HomePhoneNumber</p>\n            </li>\n            <li>\n               <p>BusinessPhoneNumber</p>\n            </li>\n            <li>\n               <p>MobilePhoneNumber</p>\n            </li>\n            <li>\n               <p>EmailAddress</p>\n            </li>\n            <li>\n               <p>PersonalEmailAddress</p>\n            </li>\n            <li>\n               <p>BusinessEmailAddress</p>\n            </li>\n            <li>\n               <p>FullName</p>\n            </li>\n            <li>\n               <p>BusinessName</p>\n            </li>\n         </ul>\n         <p>For example, two or more profiles—with spelling mistakes such as <b>John Doe</b> and <b>Jhn Doe</b>, or different casing\n         email addresses such as <b>JOHN_DOE@ANYCOMPANY.COM</b> and\n            <b>johndoe@anycompany.com</b>, or different phone number\n         formats such as <b>555-010-0000</b> and <b>+1-555-010-0000</b>—can be detected as belonging to the same customer <b>John Doe</b> and merged into a unified profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains/{DomainName}/matches",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#GetMatchesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.customerprofiles#maxSize100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#GetMatchesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        },
        "MatchGenerationDate": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp this version of Match Result generated.</p>"
          }
        },
        "PotentialMatches": {
          "target": "com.amazonaws.customerprofiles#matchesNumber",
          "traits": {
            "smithy.api#documentation": "<p>The number of potential matches found.</p>"
          }
        },
        "Matches": {
          "target": "com.amazonaws.customerprofiles#MatchesList",
          "traits": {
            "smithy.api#documentation": "<p>The list of matched profiles for this instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#GetProfileObjectType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#GetProfileObjectTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#GetProfileObjectTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the object types for a specific domain.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains/{DomainName}/object-types/{ObjectTypeName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#GetProfileObjectTypeRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#GetProfileObjectTypeResponse": {
      "type": "structure",
      "members": {
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.customerprofiles#text",
          "traits": {
            "smithy.api#documentation": "<p>The description of the profile object type.</p>",
            "smithy.api#required": {}
          }
        },
        "TemplateId": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the object template.</p>"
          }
        },
        "ExpirationDays": {
          "target": "com.amazonaws.customerprofiles#expirationDaysInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of days until the data in the object expires.</p>"
          }
        },
        "EncryptionKey": {
          "target": "com.amazonaws.customerprofiles#encryptionKey",
          "traits": {
            "smithy.api#documentation": "<p>The customer-provided key to encrypt the profile object that will be created in this\n         profile object type.</p>"
          }
        },
        "AllowProfileCreation": {
          "target": "com.amazonaws.customerprofiles#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a profile should be created when data is received if one doesn’t exist\n         for an object of this type. The default is <code>FALSE</code>. If the AllowProfileCreation\n         flag is set to <code>FALSE</code>, then the service tries to fetch a standard profile and\n         associate this object with the profile. If it is set to <code>TRUE</code>, and if no match\n         is found, then the service creates a new standard profile.</p>"
          }
        },
        "Fields": {
          "target": "com.amazonaws.customerprofiles#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of the name and ObjectType field.</p>"
          }
        },
        "Keys": {
          "target": "com.amazonaws.customerprofiles#KeyMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of unique keys that can be used to map data to the profile.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was created.</p>"
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was most recently edited.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#GetProfileObjectTypeTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#GetProfileObjectTypeTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#GetProfileObjectTypeTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the template information for a specific object type.</p>\n         <p>A template is a predefined ProfileObjectType, such as “Salesforce-Account” or\n         “Salesforce-Contact.” When a user sends a ProfileObject, using the PutProfileObject API,\n         with an ObjectTypeName that matches one of the TemplateIds, it uses the mappings from the\n         template.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/templates/{TemplateId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#GetProfileObjectTypeTemplateRequest": {
      "type": "structure",
      "members": {
        "TemplateId": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the object template.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#GetProfileObjectTypeTemplateResponse": {
      "type": "structure",
      "members": {
        "TemplateId": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the object template.</p>"
          }
        },
        "SourceName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source of the object template.</p>"
          }
        },
        "SourceObject": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The source of the object template.</p>"
          }
        },
        "AllowProfileCreation": {
          "target": "com.amazonaws.customerprofiles#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a profile should be created when data is received if one doesn’t exist\n         for an object of this type. The default is <code>FALSE</code>. If the AllowProfileCreation\n         flag is set to <code>FALSE</code>, then the service tries to fetch a standard profile and\n         associate this object with the profile. If it is set to <code>TRUE</code>, and if no match\n         is found, then the service creates a new standard profile.</p>"
          }
        },
        "Fields": {
          "target": "com.amazonaws.customerprofiles#FieldMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of the name and ObjectType field.</p>"
          }
        },
        "Keys": {
          "target": "com.amazonaws.customerprofiles#KeyMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of unique keys that can be used to map data to the profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#IncrementalPullConfig": {
      "type": "structure",
      "members": {
        "DatetimeTypeFieldName": {
          "target": "com.amazonaws.customerprofiles#DatetimeTypeFieldName",
          "traits": {
            "smithy.api#documentation": "<p>A field that specifies the date time or timestamp field as the criteria to use when\n         importing incremental records from the source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the configuration used when importing incremental records from the\n         source.</p>"
      }
    },
    "com.amazonaws.customerprofiles#IntegrationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.customerprofiles#ListIntegrationItem"
      }
    },
    "com.amazonaws.customerprofiles#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal service error occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.customerprofiles#KeyMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.customerprofiles#name"
      },
      "value": {
        "target": "com.amazonaws.customerprofiles#ObjectTypeKeyList"
      }
    },
    "com.amazonaws.customerprofiles#KmsArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:kms:.*:[0-9]+:"
      }
    },
    "com.amazonaws.customerprofiles#ListAccountIntegrations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#ListAccountIntegrationsRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#ListAccountIntegrationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the integrations associated to a specific URI in the AWS account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/integrations",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#ListAccountIntegrationsRequest": {
      "type": "structure",
      "members": {
        "Uri": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the S3 bucket or any other type of data source.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from the previous ListAccountIntegrations API call.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.customerprofiles#maxSize100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects returned per page.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListAccountIntegrationsResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.customerprofiles#IntegrationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ListAccountIntegration instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from the previous ListAccountIntegrations API call.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListDomainItem": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was most recently edited.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object in a list that represents a domain.</p>"
      }
    },
    "com.amazonaws.customerprofiles#ListDomains": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#ListDomainsRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#ListDomainsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of all the domains for an AWS account that have been created.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#ListDomainsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from the previous ListDomain API call.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.customerprofiles#maxSize100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects returned per page.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListDomainsResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.customerprofiles#DomainList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ListDomains instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from the previous ListDomains API call.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListIntegrationItem": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Uri": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the S3 bucket or any other type of data source.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was most recently edited.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An integration in list of integrations.</p>"
      }
    },
    "com.amazonaws.customerprofiles#ListIntegrations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#ListIntegrationsRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#ListIntegrationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the integrations in your domain.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains/{DomainName}/integrations",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#ListIntegrationsRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from the previous ListIntegrations API call.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.customerprofiles#maxSize100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects returned per page.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListIntegrationsResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.customerprofiles#IntegrationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ListIntegrations instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from the previous ListIntegrations API call.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectTypeItem": {
      "type": "structure",
      "members": {
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.customerprofiles#text",
          "traits": {
            "smithy.api#documentation": "<p>Description of the profile object type.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was created.</p>"
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was most recently edited.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A ProfileObjectType instance.</p>"
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectTypeTemplateItem": {
      "type": "structure",
      "members": {
        "TemplateId": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the object template.</p>"
          }
        },
        "SourceName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source of the object template.</p>"
          }
        },
        "SourceObject": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The source of the object template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A ProfileObjectTypeTemplate in a list of ProfileObjectTypeTemplates.</p>"
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectTypeTemplates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#ListProfileObjectTypeTemplatesRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#ListProfileObjectTypeTemplatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the template information for object types.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/templates",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectTypeTemplatesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from the previous ListObjectTypeTemplates API call.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.customerprofiles#maxSize100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects returned per page.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectTypeTemplatesResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.customerprofiles#ProfileObjectTypeTemplateList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ListProfileObjectType template instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from the previous ListObjectTypeTemplates API call. </p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#ListProfileObjectTypesRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#ListProfileObjectTypesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the templates available within the service.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domains/{DomainName}/object-types",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectTypesRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.customerprofiles#maxSize100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects returned per page.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectTypesResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.customerprofiles#ProfileObjectTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ListProfileObjectTypes instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the next page of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#ListProfileObjectsRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#ListProfileObjectsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of objects associated with a profile of a given ProfileObjectType.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles/objects",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectsItem": {
      "type": "structure",
      "members": {
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the kind of object being added to a profile, such as\n         \"Salesforce-Account.\"</p>"
          }
        },
        "ProfileObjectUniqueKey": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the ProfileObject generated by the service.</p>"
          }
        },
        "Object": {
          "target": "com.amazonaws.customerprofiles#stringifiedJson",
          "traits": {
            "smithy.api#documentation": "<p>A JSON representation of a ProfileObject that belongs to a profile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A ProfileObject in a list of ProfileObjects.</p>"
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.customerprofiles#token",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from the previous call to ListProfileObjects.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.customerprofiles#maxSize100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects returned per page.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#required": {}
          }
        },
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectFilter": {
          "target": "com.amazonaws.customerprofiles#ObjectFilter",
          "traits": {
            "smithy.api#documentation": "<p>Applies a filter to the response to include profile objects with the specified index values.\n         This filter is only supported for ObjectTypeName _asset and _case.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ListProfileObjectsResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.customerprofiles#ProfileObjectList",
[...]
