{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.customerprofiles#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.customerprofiles#AddProfileKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#AddProfileKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#AddProfileKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a new key value with a specific profile, such as a Contact Record\n         ContactId.</p>\n         <p>A profile object can have a single unique key and any number of additional keys that can\n         be used to identify the profile that it belongs to.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles/keys",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#AddProfileKeyRequest": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A searchable identifier of a customer profile. The predefined keys you can use\n         include: _account, _profileId, _assetId, _caseId, _orderId, _fullName, _phone,\n         _email, _ctrContactId, _marketoLeadId, _salesforceAccountId, _salesforceContactId,\n         _salesforceAssetId, _zendeskUserId, _zendeskExternalId, _zendeskTicketId,\n         _serviceNowSystemId, _serviceNowIncidentId, _segmentUserId, _shopifyCustomerId,\n         _shopifyOrderId.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.customerprofiles#requestValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key values.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#AddProfileKeyResponse": {
      "type": "structure",
      "members": {
        "KeyName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A searchable identifier of a customer profile.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.customerprofiles#requestValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key values.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#AdditionalSearchKey": {
      "type": "structure",
      "members": {
        "KeyName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A searchable identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.customerprofiles#requestValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key values.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A data type pair that consists of a <code>KeyName</code> and <code>Values</code> list that is\n         used in conjunction with the\n         <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_SearchProfiles.html#customerprofiles-SearchProfiles-request-KeyName\">KeyName</a>\n         and\n         <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_SearchProfiles.html#customerprofiles-SearchProfiles-request-Values\">Values</a>\n         parameters to search for profiles using the <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_SearchProfiles.html\">SearchProfiles</a> API.</p>"
      }
    },
    "com.amazonaws.customerprofiles#Address": {
      "type": "structure",
      "members": {
        "Address1": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The first line of a customer address.</p>"
          }
        },
        "Address2": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The second line of a customer address.</p>"
          }
        },
        "Address3": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The third line of a customer address.</p>"
          }
        },
        "Address4": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The fourth line of a customer address.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The city in which a customer lives.</p>"
          }
        },
        "County": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The county in which a customer lives.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The state in which a customer lives.</p>"
          }
        },
        "Province": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The province in which a customer lives.</p>"
          }
        },
        "Country": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The country in which a customer lives.</p>"
          }
        },
        "PostalCode": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The postal code of a customer address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A generic address associated with the customer that is not mailing, shipping, or\n         billing.</p>"
      }
    },
    "com.amazonaws.customerprofiles#AppflowIntegration": {
      "type": "structure",
      "members": {
        "FlowDefinition": {
          "target": "com.amazonaws.customerprofiles#FlowDefinition",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Batches": {
          "target": "com.amazonaws.customerprofiles#Batches",
          "traits": {
            "smithy.api#documentation": "<p>Batches in workflow of type <code>APPFLOW_INTEGRATION</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for workflow of type <code>APPFLOW_INTEGRATION</code>.</p>"
      }
    },
    "com.amazonaws.customerprofiles#AppflowIntegrationWorkflowAttributes": {
      "type": "structure",
      "members": {
        "SourceConnectorType": {
          "target": "com.amazonaws.customerprofiles#SourceConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the source connector type, such as Salesforce, ServiceNow, and Marketo. Indicates source of ingestion.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectorProfileName": {
          "target": "com.amazonaws.customerprofiles#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AppFlow connector profile used for ingestion.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role. Customer Profiles assumes this role to create resources on your behalf as part of workflow execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure holding all <code>APPFLOW_INTEGRATION</code> specific workflow attributes.</p>"
      }
    },
    "com.amazonaws.customerprofiles#AppflowIntegrationWorkflowMetrics": {
      "type": "structure",
      "members": {
        "RecordsProcessed": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Number of records processed in <code>APPFLOW_INTEGRATION</code> workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "StepsCompleted": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Total steps completed in <code>APPFLOW_INTEGRATION</code> workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "TotalSteps": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Total steps in <code>APPFLOW_INTEGRATION</code> workflow.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Workflow specific execution metrics for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
      }
    },
    "com.amazonaws.customerprofiles#AppflowIntegrationWorkflowStep": {
      "type": "structure",
      "members": {
        "FlowName": {
          "target": "com.amazonaws.customerprofiles#FlowName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the flow created during execution of workflow step. <code>APPFLOW_INTEGRATION</code> workflow type creates an appflow flow during workflow step execution on the customers behalf.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.customerprofiles#Status",
          "traits": {
            "smithy.api#documentation": "<p>Workflow step status for <code>APPFLOW_INTEGRATION</code> workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "ExecutionMessage": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>Message indicating execution of workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "RecordsProcessed": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Total number of records processed during execution of workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "BatchRecordsStartTime": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>Start datetime of records pulled in batch during execution of workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "BatchRecordsEndTime": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>End datetime of records pulled in batch during execution of workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Creation timestamp of workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Last updated timestamp for workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Workflow step details for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
      }
    },
    "com.amazonaws.customerprofiles#AttributeSourceIdMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.customerprofiles#string1To255"
      },
      "value": {
        "target": "com.amazonaws.customerprofiles#uuid"
      }
    },
    "com.amazonaws.customerprofiles#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.customerprofiles#string1To255"
      },
      "value": {
        "target": "com.amazonaws.customerprofiles#string1To255"
      }
    },
    "com.amazonaws.customerprofiles#AutoMerging": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.customerprofiles#optionalBoolean",
          "traits": {
            "smithy.api#documentation": "<p>The flag that enables the auto-merging of duplicate profiles.</p>",
            "smithy.api#required": {}
          }
        },
        "Consolidation": {
          "target": "com.amazonaws.customerprofiles#Consolidation",
          "traits": {
            "smithy.api#documentation": "<p>A list of matching attributes that represent matching criteria. If two profiles meet at\n         least one of the requirements in the matching attributes list, they will be merged.</p>"
          }
        },
        "ConflictResolution": {
          "target": "com.amazonaws.customerprofiles#ConflictResolution",
          "traits": {
            "smithy.api#documentation": "<p>How the auto-merging process should resolve conflicts between different profiles. For\n         example, if Profile A and Profile B have the same <code>FirstName</code> and\n            <code>LastName</code> (and that is the matching criteria), which\n            <code>EmailAddress</code> should be used? </p>"
          }
        },
        "MinAllowedConfidenceScoreForMerging": {
          "target": "com.amazonaws.customerprofiles#Double0To1",
          "traits": {
            "smithy.api#documentation": "<p>A number between 0 and 1 that represents the minimum confidence score required for\n         profiles within a matching group to be merged during the auto-merge process. A higher\n         score means higher similarity required to merge profiles. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration settings for how to perform the auto-merging of profiles.</p>"
      }
    },
    "com.amazonaws.customerprofiles#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input you provided is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.customerprofiles#Batch": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Start time of batch to split ingestion.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>End time of batch to split ingestion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Batch defines the boundaries for ingestion for each step in <code>APPFLOW_INTEGRATION</code> workflow. <code>APPFLOW_INTEGRATION</code> workflow splits ingestion based on these boundaries.</p>"
      }
    },
    "com.amazonaws.customerprofiles#Batches": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.customerprofiles#Batch"
      }
    },
    "com.amazonaws.customerprofiles#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.customerprofiles#BucketPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.customerprofiles#ConflictResolution": {
      "type": "structure",
      "members": {
        "ConflictResolvingModel": {
          "target": "com.amazonaws.customerprofiles#ConflictResolvingModel",
          "traits": {
            "smithy.api#documentation": "<p>How the auto-merging process should resolve conflicts between different profiles.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>RECENCY</code>: Uses the data that was most recently updated.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SOURCE</code>: Uses the data from a specific source. For example, if a\n               company has been aquired or two departments have merged, data from the specified\n               source is used. If two duplicate profiles are from the same source, then\n                  <code>RECENCY</code> is used again.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "SourceName": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectType</code> name that is used to resolve profile merging conflicts when\n         choosing <code>SOURCE</code> as the <code>ConflictResolvingModel</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>How the auto-merging process should resolve conflicts between different profiles.</p>"
      }
    },
    "com.amazonaws.customerprofiles#ConflictResolvingModel": {
      "type": "enum",
      "members": {
        "RECENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECENCY"
          }
        },
        "SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#ConnectorOperator": {
      "type": "structure",
      "members": {
        "Marketo": {
          "target": "com.amazonaws.customerprofiles#MarketoConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided Marketo source fields.</p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.customerprofiles#S3ConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided Amazon S3 source fields.</p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.customerprofiles#SalesforceConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided Salesforce source fields.</p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.customerprofiles#ServiceNowConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided ServiceNow source fields.</p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.customerprofiles#ZendeskConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided Zendesk source fields.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation to be performed on the provided source fields.</p>"
      }
    },
    "com.amazonaws.customerprofiles#ConnectorProfileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\w/!@#+=.-]+$"
      }
    },
    "com.amazonaws.customerprofiles#Consolidation": {
      "type": "structure",
      "members": {
        "MatchingAttributesList": {
          "target": "com.amazonaws.customerprofiles#MatchingAttributesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of matching criteria.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The matching criteria to be used during the auto-merging process. </p>"
      }
    },
    "com.amazonaws.customerprofiles#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#CreateDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#CreateDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a domain, which is a container for all customer data, such as customer profile\n         attributes, object types, profile keys, and encryption keys. You can create multiple\n         domains, and each domain can have multiple third-party integrations.</p>\n         <p>Each Amazon Connect instance can be associated with only one domain. Multiple Amazon Connect instances can\n         be associated with one domain.</p>\n         <p>Use this API or <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_UpdateDomain.html\">UpdateDomain</a> to\n         enable <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">identity\n            resolution</a>: set <code>Matching</code> to true. </p>\n         <p>To prevent cross-service impersonation when you call this API, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/cross-service-confused-deputy-prevention.html\">Cross-service confused deputy prevention</a> for sample policies that you should\n         apply. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DefaultExpirationDays": {
          "target": "com.amazonaws.customerprofiles#expirationDaysInteger",
          "traits": {
            "smithy.api#documentation": "<p>The default number of days until the data within the domain expires.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultEncryptionKey": {
          "target": "com.amazonaws.customerprofiles#encryptionKey",
          "traits": {
            "smithy.api#documentation": "<p>The default encryption key, which is an AWS managed key, is used when no specific type\n         of encryption key is specified. It is used to encrypt all data before it is placed in\n         permanent or semi-permanent storage.</p>"
          }
        },
        "DeadLetterQueueUrl": {
          "target": "com.amazonaws.customerprofiles#sqsQueueUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the SQS dead letter queue, which is used for reporting errors associated with\n         ingesting data from third party applications. You must set up a policy on the\n         DeadLetterQueue for the SendMessage operation to enable Amazon Connect Customer Profiles to send\n         messages to the DeadLetterQueue.</p>"
          }
        },
        "Matching": {
          "target": "com.amazonaws.customerprofiles#MatchingRequest",
          "traits": {
            "smithy.api#documentation": "<p>The process of matching duplicate profiles. If <code>Matching</code> = <code>true</code>, Amazon Connect Customer Profiles starts a weekly\nbatch process called Identity Resolution Job. If you do not specify a date and time for Identity Resolution Job to run, by default it runs every \nSaturday at 12AM UTC to detect duplicate profiles in your domains. </p>\n         <p>After the Identity Resolution Job completes, use the \n<a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">GetMatches</a>\nAPI to return and review the results. Or, if you have configured <code>ExportingConfig</code> in the <code>MatchingRequest</code>, you can download the results from\nS3.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateDomainResponse": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultExpirationDays": {
          "target": "com.amazonaws.customerprofiles#expirationDaysInteger",
          "traits": {
            "smithy.api#documentation": "<p>The default number of days until the data within the domain expires.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultEncryptionKey": {
          "target": "com.amazonaws.customerprofiles#encryptionKey",
          "traits": {
            "smithy.api#documentation": "<p>The default encryption key, which is an AWS managed key, is used when no specific type\n         of encryption key is specified. It is used to encrypt all data before it is placed in\n         permanent or semi-permanent storage.</p>"
          }
        },
        "DeadLetterQueueUrl": {
          "target": "com.amazonaws.customerprofiles#sqsQueueUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the SQS dead letter queue, which is used for reporting errors associated with\n         ingesting data from third party applications.</p>"
          }
        },
        "Matching": {
          "target": "com.amazonaws.customerprofiles#MatchingResponse",
          "traits": {
            "smithy.api#documentation": "<p>The process of matching duplicate profiles. If <code>Matching</code> = <code>true</code>, Amazon Connect Customer Profiles starts a weekly\nbatch process called Identity Resolution Job. If you do not specify a date and time for Identity Resolution Job to run, by default it runs every \nSaturday at 12AM UTC to detect duplicate profiles in your domains. </p>\n         <p>After the Identity Resolution Job completes, use the \n<a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">GetMatches</a>\nAPI to return and review the results. Or, if you have configured <code>ExportingConfig</code> in the <code>MatchingRequest</code>, you can download the results from\nS3.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.customerprofiles#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the domain was most recently edited.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateIntegrationWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#CreateIntegrationWorkflowRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#CreateIntegrationWorkflowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n\tCreates an integration workflow. An integration workflow is an async process which ingests historic data and sets up an integration for ongoing updates. The supported Amazon AppFlow sources are Salesforce, ServiceNow, and Marketo.\n\t</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/workflows/integrations",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateIntegrationWorkflowRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "WorkflowType": {
          "target": "com.amazonaws.customerprofiles#WorkflowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of workflow. The only supported value is APPFLOW_INTEGRATION.</p>",
            "smithy.api#required": {}
          }
        },
        "IntegrationConfig": {
          "target": "com.amazonaws.customerprofiles#IntegrationConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration data for integration workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.customerprofiles#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role. Customer Profiles assumes this role to create resources on your behalf as part of workflow execution.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.customerprofiles#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateIntegrationWorkflowResponse": {
      "type": "structure",
      "members": {
        "WorkflowId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating create request was received.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#CreateProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#CreateProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a standard profile.</p>\n         <p>A standard profile represents the following attributes for a customer profile in a\n         domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateProfileRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountNumber": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>A unique account number that you have given to the customer.</p>"
          }
        },
        "AdditionalInformation": {
          "target": "com.amazonaws.customerprofiles#string1To1000",
          "traits": {
            "smithy.api#documentation": "<p>Any additional information relevant to the customer’s profile.</p>"
          }
        },
        "PartyType": {
          "target": "com.amazonaws.customerprofiles#PartyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of profile used to describe the customer.</p>"
          }
        },
        "BusinessName": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the customer’s business.</p>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s first name.</p>"
          }
        },
        "MiddleName": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s middle name.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s last name.</p>"
          }
        },
        "BirthDate": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s birth date. </p>"
          }
        },
        "Gender": {
          "target": "com.amazonaws.customerprofiles#Gender",
          "traits": {
            "smithy.api#documentation": "<p>The gender with which the customer identifies. </p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s phone number, which has not been specified as a mobile, home, or business\n         number. </p>"
          }
        },
        "MobilePhoneNumber": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s mobile phone number.</p>"
          }
        },
        "HomePhoneNumber": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s home phone number.</p>"
          }
        },
        "BusinessPhoneNumber": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s business phone number.</p>"
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s email address, which has not been specified as a personal or business\n         address. </p>"
          }
        },
        "PersonalEmailAddress": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s personal email address.</p>"
          }
        },
        "BusinessEmailAddress": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s business email address.</p>"
          }
        },
        "Address": {
          "target": "com.amazonaws.customerprofiles#Address",
          "traits": {
            "smithy.api#documentation": "<p>A generic address associated with the customer that is not mailing, shipping, or\n         billing.</p>"
          }
        },
        "ShippingAddress": {
          "target": "com.amazonaws.customerprofiles#Address",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s shipping address.</p>"
          }
        },
        "MailingAddress": {
          "target": "com.amazonaws.customerprofiles#Address",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s mailing address.</p>"
          }
        },
        "BillingAddress": {
          "target": "com.amazonaws.customerprofiles#Address",
          "traits": {
            "smithy.api#documentation": "<p>The customer’s billing address.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.customerprofiles#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>A key value pair of attributes of a customer profile.</p>"
          }
        },
        "PartyTypeString": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>An alternative to <code>PartyType</code> which accepts any string as input.</p>"
          }
        },
        "GenderString": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>An alternative to <code>Gender</code> which accepts any string as input.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#CreateProfileResponse": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#CustomerProfiles_20200815": {
      "type": "service",
      "version": "2020-08-15",
      "operations": [
        {
          "target": "com.amazonaws.customerprofiles#AddProfileKey"
        },
        {
          "target": "com.amazonaws.customerprofiles#CreateDomain"
        },
        {
          "target": "com.amazonaws.customerprofiles#CreateIntegrationWorkflow"
        },
        {
          "target": "com.amazonaws.customerprofiles#CreateProfile"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteDomain"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteIntegration"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteProfile"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteProfileKey"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteProfileObject"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteProfileObjectType"
        },
        {
          "target": "com.amazonaws.customerprofiles#DeleteWorkflow"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetAutoMergingPreview"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetDomain"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetIdentityResolutionJob"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetIntegration"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetMatches"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetProfileObjectType"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetProfileObjectTypeTemplate"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetWorkflow"
        },
        {
          "target": "com.amazonaws.customerprofiles#GetWorkflowSteps"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListAccountIntegrations"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListDomains"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListIdentityResolutionJobs"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListIntegrations"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListProfileObjects"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListProfileObjectTypes"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListProfileObjectTypeTemplates"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.customerprofiles#ListWorkflows"
        },
        {
          "target": "com.amazonaws.customerprofiles#MergeProfiles"
        },
        {
          "target": "com.amazonaws.customerprofiles#PutIntegration"
        },
        {
          "target": "com.amazonaws.customerprofiles#PutProfileObject"
        },
        {
          "target": "com.amazonaws.customerprofiles#PutProfileObjectType"
        },
        {
          "target": "com.amazonaws.customerprofiles#SearchProfiles"
        },
        {
          "target": "com.amazonaws.customerprofiles#TagResource"
        },
        {
          "target": "com.amazonaws.customerprofiles#UntagResource"
        },
        {
          "target": "com.amazonaws.customerprofiles#UpdateDomain"
        },
        {
          "target": "com.amazonaws.customerprofiles#UpdateProfile"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Customer Profiles",
          "arnNamespace": "profile",
          "cloudFormationName": "CustomerProfiles",
          "cloudTrailEventSource": "customerprofiles.amazonaws.com",
          "endpointPrefix": "profile"
        },
        "aws.auth#sigv4": {
          "name": "profile"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Connect Customer Profiles</fullname>\n         <p>Amazon Connect Customer Profiles is a unified customer profile for your contact center that has\n         pre-built connectors powered by AppFlow that make it easy to combine customer information\n         from third party applications, such as Salesforce (CRM), ServiceNow (ITSM), and your\n         enterprise resource planning (ERP), with contact history from your Amazon Connect contact center.\n         If you're new to Amazon Connect, you might find it helpful to review the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/\">Amazon Connect Administrator Guide</a>.</p>",
        "smithy.api#title": "Amazon Connect Customer Profiles",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://profile-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://profile-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://profile.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://profile.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://profile.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.customerprofiles#DataPullMode": {
      "type": "enum",
      "members": {
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Incremental"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complete"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.customerprofiles#DatetimeTypeFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.customerprofiles#DeleteDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific domain and all of its customer data, such as customer profile\n         attributes and their related objects.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domains/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteDomainResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an integration from a specific domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/integrations/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteIntegrationRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Uri": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the S3 bucket or any other type of data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteIntegrationResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the standard customer profile and all data pertaining to the profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a searchable key from a customer profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles/keys/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileKeyRequest": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>A searchable identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.customerprofiles#requestValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key values.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileKeyResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileObjectRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileObjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an object associated with a profile of a given ProfileObjectType.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domains/{DomainName}/profiles/objects/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObjectRequest": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "ProfileObjectUniqueKey": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the profile object generated by the service.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObjectResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObjectType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileObjectTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteProfileObjectTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a ProfileObjectType from a specific domain as well as removes all the\n         ProfileObjects of that type. It also disables integrations from this specific\n         ProfileObjectType. In addition, it scrubs all of the fields of the standard profile that\n         were populated from this ProfileObjectType.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domains/{DomainName}/object-types/{ObjectTypeName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObjectTypeRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ObjectTypeName": {
          "target": "com.amazonaws.customerprofiles#typeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profile object type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileObjectTypeResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileRequest": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a customer profile.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteProfileResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.customerprofiles#message",
          "traits": {
            "smithy.api#documentation": "<p>A message that indicates the delete request is done.</p>"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.customerprofiles#DeleteWorkflowRequest"
      },
      "output": {
        "target": "com.amazonaws.customerprofiles#DeleteWorkflowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.customerprofiles#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.customerprofiles#BadRequestException"
        },
        {
          "target": "com.amazonaws.customerprofiles#InternalServerException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.customerprofiles#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified workflow and all its corresponding resources. This is an async process.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domains/{DomainName}/workflows/{WorkflowId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteWorkflowRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.customerprofiles#name",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "WorkflowId": {
          "target": "com.amazonaws.customerprofiles#string1To255",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the workflow.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#DeleteWorkflowResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.customerprofiles#DestinationField": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.customerprofiles#DomainList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.customerprofiles#ListDomainItem"
      }
    },
    "com.amazonaws.customerprofiles#DomainStats": {
      "type": "structure",
      "members": {
        "ProfileCount": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The total number of profiles currently in the domain.</p>"
          }
        },
        "MeteringProfileCount": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of profiles that you are currently paying for in the domain. If you have more\n         than 100 objects associated with a single profile, that profile counts as two profiles. If\n         you have more than 200 objects, that profile counts as three, and so on.</p>"
          }
        },
        "ObjectCount": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The total number of objects in domain.</p>"
          }
        },
        "TotalSize": {
          "target": "com.amazonaws.customerprofiles#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The total size, in bytes, of all objects in the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Usage-specific statistics about the domain.</p>"
      }
    },
    "com.amazonaws.customerprofiles#Double": {
      "type": "double"
    },
    "com.amazonaws.customerprofiles#Double0To1": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0.0,
          "max": 1.0
        }
      }
    },
    "com.amazonaws.customerprofiles#ExportingConfig": {
      "type": "structure",
      "members": {
        "S3Exporting": {
          "target": "com.amazonaws.customerprofiles#S3ExportingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location where Identity Resolution Jobs write result files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information about the S3 bucket where Identity Resolution Jobs writes result files. </p>\n         <note>\n            <p>You need to give Customer Profiles service principal write permission to your S3 bucket.\n            Otherwise, you'll get an exception in the API response. For an example policy, see\n               <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/cross-service-confused-deputy-prevention.html#customer-profiles-cross-service\">Amazon Connect Customer Profiles cross-service confused deputy prevention</a>. </p>\n         </note>"
      }
    },
    "com.amazonaws.customerprofiles#ExportingLocation": {
      "type": "structure",
      "members": {
        "S3Exporting": {
          "target": "com.amazonaws.customerprofiles#S3ExportingLocation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the S3 location where Identity Resolution Jobs write result files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The S3 location where Identity Resolution Jobs write result files.</p>"
      }
    },
    "com.amazonaws.customerprofiles#FieldContentType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMBER"
          }
        },
        "PHONE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_NUMBER"
          }
        },
        "EMAIL_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_ADDRESS"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAME"
          }
        }
      }
    },
    "com.amazonaws.customerprofiles#FieldMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.customerprofiles#name"
      },
      "value": {
        "target": "com.amazonaws.customerprofiles#ObjectTypeField"
      }
    },
    "com.amazonaws.customerprofiles#FieldNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.customerprofiles#name"
      }
    },
    "com.amazonaws.customerprofiles#FieldSourceProfileIds": {
      "type": "structure",
      "members": {
        "AccountNumber": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the account number field to be merged. </p>"
          }
        },
        "AdditionalInformation": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the additional information field to be merged.</p>"
          }
        },
        "PartyType": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the party type field to be merged.</p>"
          }
        },
        "BusinessName": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the business name field to be merged.</p>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.customerprofiles#uuid",
          "traits": {
[...]
