{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.datasync#ActivationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 29
        },
        "smithy.api#pattern": "^[A-Z0-9]{5}(-[A-Z0-9]{5}){4}$"
      }
    },
    "com.amazonaws.datasync#AgentArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:agent/agent-[0-9a-z]{17}$"
      }
    },
    "com.amazonaws.datasync#AgentArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#AgentArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.datasync#AgentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#AgentListEntry"
      }
    },
    "com.amazonaws.datasync#AgentListEntry": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a single entry in a list of agents. <code>AgentListEntry</code> returns an\n      array that contains a list of agents when the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a>\n      operation is\n      called.</p>"
      }
    },
    "com.amazonaws.datasync#AgentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ONLINE",
            "name": "ONLINE"
          },
          {
            "value": "OFFLINE",
            "name": "OFFLINE"
          }
        ]
      }
    },
    "com.amazonaws.datasync#Atime": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "BEST_EFFORT",
            "name": "BEST_EFFORT"
          }
        ]
      }
    },
    "com.amazonaws.datasync#BytesPerSecond": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": -1
        }
      }
    },
    "com.amazonaws.datasync#CancelTaskExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CancelTaskExecutionRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CancelTaskExecutionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels execution of a task. </p>\n         <p>When you cancel a task execution, the transfer of some files is abruptly interrupted.\n      The contents of files that are transferred to the destination might be incomplete or\n      inconsistent with the source files. However, if you start a new task execution on the same\n      task and you allow the task execution to complete, file content on the destination is complete\n      and consistent. This applies to other unexpected failures that interrupt a task execution. In\n      all of these cases, DataSync successfully complete the transfer when you start the next\n      task execution.</p>"
      }
    },
    "com.amazonaws.datasync#CancelTaskExecutionRequest": {
      "type": "structure",
      "members": {
        "TaskExecutionArn": {
          "target": "com.amazonaws.datasync#TaskExecutionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelTaskExecutionRequest</p>"
      }
    },
    "com.amazonaws.datasync#CancelTaskExecutionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.datasync#CreateAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates an DataSync agent that you have deployed on your host. The activation\n      process associates your agent with your account. In the activation process, you specify\n      information such as the Amazon Web Services Region that you want to activate the agent in. You activate the\n      agent in the Amazon Web Services Region where your target locations (in Amazon S3 or Amazon EFS) reside. Your\n      tasks are created in this Amazon Web Services Region.</p>\n         <p>You can activate the agent in a VPC (virtual private cloud) or provide the agent access to\n      a VPC endpoint so you can run tasks without going over the public internet.</p>\n         <p>You can use an agent for more than one location. If a task uses multiple agents, all of\n      them need to have status AVAILABLE for the task to run. If you use multiple agents for a\n      source location, the status of all the agents must be AVAILABLE for the task to run. </p>\n    \n\n         <p>Agents are automatically updated by Amazon Web Services on a regular basis, using a mechanism that\n      ensures minimal interruption to your tasks.</p>\n         <p></p>"
      }
    },
    "com.amazonaws.datasync#CreateAgentRequest": {
      "type": "structure",
      "members": {
        "ActivationKey": {
          "target": "com.amazonaws.datasync#ActivationKey",
          "traits": {
            "smithy.api#documentation": "<p>Your agent activation key. You can get the activation key either by sending an HTTP GET\n      request with redirects that enable you to get the agent IP address (port 80). Alternatively,\n      you can get it from the DataSync console.</p>\n         <p>The redirect URL returned in the response provides you the activation key for your\n      agent in the query string parameter <code>activationKey</code>. It might also include other\n      activation-related parameters; however, these are merely defaults. The arguments you pass to\n      this API call determine the actual configuration of your agent.</p>\n    \n\n         <p>For more information, see Activating an Agent in the <i>DataSync\n        User Guide.</i>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "AgentName": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name you configured for your agent. This value is a text reference that is used to\n      identify the agent in the console.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to associate with the agent.\n      The value can be an empty string. This value helps you manage, filter, and search for your\n      agents.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable in\n        UTF-8 format, and the following special characters: + - = . _ : / @. </p>\n         </note>"
          }
        },
        "VpcEndpointId": {
          "target": "com.amazonaws.datasync#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC (virtual private cloud) endpoint that the agent has access to. This is\n      the client-side VPC endpoint, also called a PrivateLink. If you don't have a PrivateLink VPC\n      endpoint, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/endpoint-service.html#create-endpoint-service\">Creating a VPC Endpoint Service Configuration</a> in the Amazon VPC User Guide.</p>\n         <p>VPC endpoint ID looks like this: <code>vpce-01234d5aff67890e1</code>.</p>"
          }
        },
        "SubnetArns": {
          "target": "com.amazonaws.datasync#PLSubnetArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the subnets in which DataSync will create elastic\n      network interfaces for each data transfer task. The agent that runs a task must be private.\n      When you start a task that is associated with an agent created in a VPC, or one that has\n      access to an IP address in a VPC, then the task is also private. In this case, DataSync\n      creates four network interfaces for each task in your subnet. For a data transfer to work, the\n      agent must be able to route to all these four network interfaces.</p>"
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#PLSecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the security groups used to protect your data transfer task subnets. See <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_Ec2Config.html#DataSync-Type-Ec2Config-SecurityGroupArns\">SecurityGroupArns</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateAgentRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateAgentResponse": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent. Use the <code>ListAgents</code> operation\n      to return a list of agents for your account and Amazon Web Services Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateAgentResponse</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationEfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationEfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationEfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon EFS file system.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationEfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#EfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the location’s path. This subdirectory in the EFS file system is used\n      to read data from the EFS source location or write data to the EFS destination. By default,\n      DataSync uses the root directory.</p>\n         <note>\n            <p>\n               <code>Subdirectory</code> must be specified with forward slashes. For example,\n          <code>/path/to/folder</code>.</p>\n         </note>"
          }
        },
        "EfsFilesystemArn": {
          "target": "com.amazonaws.datasync#EfsFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the Amazon EFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Ec2Config": {
          "target": "com.amazonaws.datasync#Ec2Config",
          "traits": {
            "smithy.api#documentation": "<p>The subnet and security group that the Amazon EFS file system uses. The security group\n      that you provide needs to be able to communicate with the security group on the mount target\n      in the subnet specified.</p>\n         <p>The exact relationship between security group M (of the mount target) and security\n      group S (which you provide for DataSync to use at this stage) is as follows: </p>\n         <ul>\n            <li>\n               <p> Security group M (which you associate with the mount target) must allow inbound\n          access for the Transmission Control Protocol (TCP) on the NFS port (2049) from security\n          group S. You can enable inbound connections either by IP address (CIDR range) or security\n          group. </p>\n            </li>\n            <li>\n               <p>Security group S (provided to DataSync to access EFS) should have a rule that\n          enables outbound connections to the NFS port on one of the file system’s mount targets.\n          You can enable outbound connections either by IP address (CIDR range) or security\n          group.</p>\n        \n               <p>For information about security groups and mount targets, see Security\n          Groups for Amazon EC2 Instances and Mount Targets in the <i>Amazon EFS User\n            Guide.</i>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The\n      value can be an empty string. This value helps you manage, filter, and search for your\n      resources. We recommend that you create a name tag for your location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationEfsRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationEfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that is\n      created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationEfs</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxWindowsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxWindowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon FSx for Windows File Server file system.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindowsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxWindowsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the location’s path. This subdirectory in the Amazon FSx for Windows\n      File Server file system is used to read data from the Amazon FSx for Windows File Server\n      source location or write data to the FSx for Windows File Server destination.</p>"
          }
        },
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the FSx for Windows File Server file system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are to use to configure the\n      FSx for Windows File Server file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The\n      value can be an empty string. This value helps you manage, filter, and search for your\n      resources. We recommend that you create a name tag for your location.</p>"
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>The user who has the permissions to access files and folders in the FSx for Windows File\n      Server file system.</p>\n         <p>For information about choosing a user name that ensures sufficient permissions to files,\n      folders, and metadata, see <a href=\"create-fsx-location.html#FSxWuser\">user</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Windows domain that the FSx for Windows File Server belongs to.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.datasync#SmbPassword",
          "traits": {
            "smithy.api#documentation": "<p>The password of the user who has the permissions to access files and folders in the FSx\n      for Windows File Server file system.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindowsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server file system location\n      that is created.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationNfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationNfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationNfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Defines a file system on a Network File System (NFS) server that can be read from or\n      written to.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationNfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#NfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>The subdirectory in the NFS file system that is used to read data from the NFS source\n      location or write data to the NFS destination. The NFS path should be a path that's\n      exported by the NFS server, or a subdirectory of that path. The path should be such that it\n      can be mounted by other NFS clients in your network. </p>\n         <p>To see all the paths exported by your NFS server, run \"<code>showmount -e\n        nfs-server-name</code>\" from an NFS client that has access to your server. You can specify\n      any directory that appears in the results, and any subdirectory of that directory. Ensure that\n      the NFS export is accessible without Kerberos authentication. </p>\n         <p>To transfer all the data in the folder you specified, DataSync needs to have\n      permissions to read all the data. To ensure this, either configure the NFS export with\n        <code>no_root_squash,</code> or ensure that the permissions for all of the files that you\n      want DataSync allow read access for all users. Doing either enables the agent to read the\n      files. For the agent to access directories, you must additionally enable all execute\n      access.</p>\n         <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p>\n    \n         <p>For information about NFS export configuration, see 18.7. The /etc/exports\n      Configuration File in the Red Hat Enterprise Linux documentation.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>The name of the NFS server. This value is the IP address or Domain Name Service (DNS)\n      name of the NFS server. An agent that is installed on-premises uses this host name to mount\n      the NFS server in a network. </p>\n         <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p>\n         <note>\n            <p>This name must either be DNS-compliant or must be an IP version 4 (IPv4)\n        address.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "OnPremConfig": {
          "target": "com.amazonaws.datasync#OnPremConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of Amazon Resource Names (ARNs) of agents that are used to connect to\n      an NFS server. </p>\n         <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p>",
            "smithy.api#required": {}
          }
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#NfsMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>The NFS mount options that DataSync can use to mount your NFS share.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The\n      value can be an empty string. We recommend using tags to name your resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationNfsRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationNfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source NFS file system location that is\n      created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationNfsResponse</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationObjectStorageRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationObjectStorageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for a self-managed object storage bucket. For more information\n      about self-managed object storage locations, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object storage</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorageRequest": {
      "type": "structure",
      "members": {
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>The name of the self-managed object storage server. This value is the \n      IP address or Domain Name Service (DNS) name of the object storage server. \n      An agent uses this host name to mount the object storage server in a network. </p>",
            "smithy.api#required": {}
          }
        },
        "ServerPort": {
          "target": "com.amazonaws.datasync#ObjectStorageServerPort",
          "traits": {
            "smithy.api#documentation": "<p>The port that your self-managed object storage server accepts inbound network traffic on.\n      The server port is set by default to TCP 80 (HTTP) or TCP 443 (HTTPS). You can \n      specify a custom port if your self-managed object storage server requires one.</p>"
          }
        },
        "ServerProtocol": {
          "target": "com.amazonaws.datasync#ObjectStorageServerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol that the object storage server uses to communicate. \n      Valid values are HTTP or HTTPS.</p>"
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#S3Subdirectory",
          "traits": {
            "smithy.api#documentation": "<p>The subdirectory in the self-managed object storage server that is used\n      to read data from.</p>"
          }
        },
        "BucketName": {
          "target": "com.amazonaws.datasync#ObjectStorageBucketName",
          "traits": {
            "smithy.api#documentation": "<p>The bucket on the self-managed object storage server that is used\n      to read data from.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessKey": {
          "target": "com.amazonaws.datasync#ObjectStorageAccessKey",
          "traits": {
            "smithy.api#documentation": "<p>Optional. The access key is used if credentials are required to access the self-managed\n      object storage server. If your object storage requires a user name and password to\n      authenticate, use <code>AccessKey</code> and <code>SecretKey</code> to provide the user name\n      and password, respectively.</p>"
          }
        },
        "SecretKey": {
          "target": "com.amazonaws.datasync#ObjectStorageSecretKey",
          "traits": {
            "smithy.api#documentation": "<p>Optional. The secret key is used if credentials are required to access the self-managed\n      object storage server. If your object storage requires a user name and password to\n      authenticate, use <code>AccessKey</code> and <code>SecretKey</code> to provide the user name\n      and password, respectively.</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agents associated with the \n      self-managed object storage server location.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The\n      value can be an empty string. We recommend using tags to name your resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationObjectStorageRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorageResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agents associated with the \n      self-managed object storage server location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationObjectStorageResponse</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationS3": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationS3Request"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationS3Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon S3 bucket.</p>\n\n    \n         <p>For\n      more information, see\n      <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-locations-cli.html#create-location-s3-cli\">Create an Amazon S3 location</a>\n      in the <i>DataSync User Guide</i>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationS3Request": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#S3Subdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the Amazon S3 bucket. This subdirectory in Amazon S3 is used to read\n      data from the S3 source location or write data to the S3 destination.</p>"
          }
        },
        "S3BucketArn": {
          "target": "com.amazonaws.datasync#S3BucketArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon S3 bucket. If the bucket is on an Amazon Web Services Outpost, this must be an\n      access point ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "S3StorageClass": {
          "target": "com.amazonaws.datasync#S3StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 storage class that you want to store your files in when this location is\n      used as a task destination. For buckets in Amazon Web Services Regions, the storage class defaults to Standard.\n      For buckets on Outposts, the storage class defaults to Amazon Web Services S3 Outposts.</p>\n      \n         <p>For more information about S3 storage classes, see <a href=\"http://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a>. Some storage classes have behaviors that\n      can affect your S3 storage cost. For detailed information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Considerations when working with S3 storage classes in DataSync</a>.</p>"
          }
        },
        "S3Config": {
          "target": "com.amazonaws.datasync#S3Config",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>If you are using DataSync on an Amazon Web Services Outpost, specify the Amazon Resource Names (ARNs) of\n      the DataSync agents deployed on your Outpost. For more information about launching a DataSync\n      agent on an Amazon Web Services Outpost, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent on Outposts</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The\n      value can be an empty string. We recommend using tags to name your resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationS3Request</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationS3Response": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source Amazon S3 bucket location that is\n      created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationS3Response</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationSmb": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationSmbRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationSmbResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Defines a file system on a Server Message Block (SMB) server that can be read from or\n      written to.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationSmbRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#SmbSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>The subdirectory in the SMB file system that is used to read data from the SMB source\n      location or write data to the SMB destination. The SMB path should be a path that's\n      exported by the SMB server, or a subdirectory of that path. The path should be such that it\n      can be mounted by other SMB clients in your network.</p>\n         <note>\n            <p>\n               <code>Subdirectory</code> must be specified with forward slashes. For example,\n          <code>/path/to/folder</code>.</p>\n         </note>\n\n         <p>To transfer all the data in the folder you specified, DataSync needs to have permissions\n      to mount the SMB share, as well as to access all the data in that share. To ensure this,\n      either ensure that the user/password specified belongs to the user who can mount the share,\n      and who has the appropriate permissions for all of the files and directories that you want\n      DataSync to access, or use credentials of a member of the Backup Operators group to mount\n      the share. Doing either enables the agent to access the data. For the agent to access\n      directories, you must additionally enable all execute access.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SMB server. This value is the IP address or Domain Name Service (DNS) name\n      of the SMB server. An agent that is installed on-premises uses this hostname to mount the SMB\n      server in a network.</p>\n         <note>\n            <p>This name must either be DNS-compliant or must be an IP version 4 (IPv4) address.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>The user who can mount the share, has the permissions to access files and folders in the\n      SMB share.</p>\n    \n         <p>For information about choosing a user name that ensures sufficient permissions to files,\n      folders, and metadata, see <a href=\"create-smb-location.html#SMBuser\">user</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Windows domain that the SMB server belongs to.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.datasync#SmbPassword",
          "traits": {
            "smithy.api#documentation": "<p>The password of the user who can mount the share, has the permissions to access files and\n      folders in the SMB share.</p>",
            "smithy.api#required": {}
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of agents to use for a Simple Message Block (SMB)\n      location. </p>",
            "smithy.api#required": {}
          }
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#SmbMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>The mount options used by DataSync to access the SMB server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value\n      can be an empty string. We recommend using tags to name your resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationSmbRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationSmbResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source SMB file system location that is\n      created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationSmbResponse</p>"
      }
    },
    "com.amazonaws.datasync#CreateTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a task.</p>\n         <p>A task includes a source location and a destination location, and a configuration\n      that specifies how data is transferred. A task always transfers data from the source \n      location to the destination location. The configuration specifies options such as \n      task scheduling, bandwidth limits, etc. A task is the complete definition of a data \n      transfer.</p>\n         <p>When you create a task that transfers data between Amazon Web Services services in different Amazon Web Services Regions,\n      one of the two locations that you specify must reside in the Region where DataSync is being\n      used. The other location must be specified in a different Region.</p>\n         <p>You can transfer data between commercial Amazon Web Services Regions except for China, or between \n      Amazon Web Services GovCloud (US) Regions.</p>\n    \n         <important>\n            <p>When you use DataSync to copy files or objects between Amazon Web Services Regions, \n      you pay for data transfer between Regions. This is billed as data transfer OUT \n      from your source Region to your destination Region. For more information, \n      see <a href=\"http://aws.amazon.com/ec2/pricing/on-demand/#Data_Transfer\">Data Transfer pricing</a>.\n    </p>\n         </important>"
      }
    },
    "com.amazonaws.datasync#CreateTaskRequest": {
      "type": "structure",
      "members": {
        "SourceLocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source location for the task.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationLocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon Web Services storage resource's location. </p>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLogGroupArn": {
          "target": "com.amazonaws.datasync#LogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that is used to\n      monitor and log events in the task. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of a task. This value is a text reference that is used to identify the task in\n      the console. </p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.datasync#Options",
          "traits": {
            "smithy.api#documentation": "<p>The set of configuration options that control the behavior of a single execution of the\n      task that occurs when you call <code>StartTaskExecution</code>. You can configure these\n      options to preserve metadata such as user ID (UID) and group ID (GID), file permissions, data\n      integrity verification, and so on.</p>\n         <p>For each individual task execution, you can override these options by specifying the\n        <code>OverrideOptions</code> before starting the task execution. For more information, see\n      the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_StartTaskExecution.html\">StartTaskExecution</a> operation. </p>"
          }
        },
        "Excludes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of filter rules that determines which files to exclude from a task. The list should\n      contain a single filter string that consists of the patterns to exclude. The patterns are\n      delimited by \"|\" (that is, a pipe), for example, <code>\"/folder1|/folder2\"</code>. </p>\n         <p>\n    </p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.datasync#TaskSchedule",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a schedule used to periodically transfer files from a source to a destination\n      location. The schedule should be specified in UTC time. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/task-scheduling.html\">Scheduling your task</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the resource. The\n      value can be an empty string. </p>"
          }
        },
        "Includes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of filter rules that determines which files to include when running a task. The\n      pattern should contain a single filter string that consists of the patterns to include. The\n      patterns are delimited by \"|\" (that is, a pipe). For example:\n      <code>\"/folder1|/folder2</code>\"</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTaskRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateTaskResponse": {
      "type": "structure",
      "members": {
        "TaskArn": {
          "target": "com.amazonaws.datasync#TaskArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTaskResponse</p>"
      }
    },
    "com.amazonaws.datasync#DeleteAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an agent. To specify which agent to delete, use the Amazon Resource Name (ARN)\n      of the agent in your request. The operation disassociates the agent from your Amazon Web Services account.\n      However, it doesn't delete the agent virtual machine (VM) from your on-premises\n      environment.</p>"
      }
    },
    "com.amazonaws.datasync#DeleteAgentRequest": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent to delete. Use the <code>ListAgents</code>\n      operation to return a list of agents for your account and Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteAgentRequest</p>"
      }
    },
    "com.amazonaws.datasync#DeleteAgentResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.datasync#DeleteLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteLocationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the configuration of a location used by DataSync. </p>"
      }
    },
    "com.amazonaws.datasync#DeleteLocationRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the location to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteLocation</p>"
      }
    },
    "com.amazonaws.datasync#DeleteLocationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.datasync#DeleteTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a task.</p>"
      }
    },
    "com.amazonaws.datasync#DeleteTaskRequest": {
      "type": "structure",
      "members": {
        "TaskArn": {
          "target": "com.amazonaws.datasync#TaskArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteTask</p>"
      }
    },
    "com.amazonaws.datasync#DeleteTaskResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.datasync#DescribeAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata such as the name, the network interfaces, and the status (that is,\n      whether the agent is running or not) for an agent. To specify which agent to describe, use the\n      Amazon Resource Name (ARN) of the agent in your request. </p>"
      }
    },
    "com.amazonaws.datasync#DescribeAgentRequest": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeAgent</p>"
      }
    },
    "com.amazonaws.datasync#DescribeAgentResponse": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agent. If the status is ONLINE, then the agent is configured properly\n      and is available to use. The Running status is the normal running status for an agent. If the\n      status is OFFLINE, the agent's VM is turned off or the agent is in an unhealthy state. When\n      the issue that caused the unhealthy state is resolved, the agent returns to ONLINE\n      status.</p>"
          }
        },
        "LastConnectionTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the agent last connected to DataSync.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the agent was activated (that is, created in your account).</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.datasync#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of endpoint that your agent is connected to. If the endpoint is a VPC endpoint,\n      the agent is not accessible over the public internet. </p>"
          }
        },
        "PrivateLinkConfig": {
          "target": "com.amazonaws.datasync#PrivateLinkConfig",
          "traits": {
            "smithy.api#documentation": "<p>The subnet and the security group that DataSync used to access a VPC endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeAgentResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationEfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationEfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationEfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata, such as the path information about an Amazon EFS location.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationEfsRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the EFS location to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationEfsRequest</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationEfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the EFS location that was described.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the EFS location that was described.</p>"
          }
        },
        "Ec2Config": {
          "target": "com.amazonaws.datasync#Ec2Config"
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the EFS location was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationEfsResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxWindows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxWindowsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxWindowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata, such as the path information about an Amazon FSx for Windows File Server\n      location.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxWindowsRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server location to\n      describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxWindowsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server location that was\n      described.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the FSx for Windows File Server location that was described.</p>"
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the FSx\n      for Windows File Server file system.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the FSx for Windows File Server location was created.</p>"
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>The user who has the permissions to access files and folders in the FSx for Windows File\n      Server file system.</p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Windows domain that the FSx for Windows File Server belongs to.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationNfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationNfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationNfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata, such as the path information, about an NFS location.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationNfsRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the NFS location to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationNfsRequest</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationNfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the NFS location that was described.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the source NFS location that was described.</p>"
          }
        },
        "OnPremConfig": {
          "target": "com.amazonaws.datasync#OnPremConfig"
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#NfsMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>The NFS mount options that DataSync used to mount your NFS share.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the NFS location was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationNfsResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationObjectStorage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationObjectStorageRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationObjectStorageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata about a self-managed object storage server location. For more information\n      about self-managed object storage locations, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object storage</a>.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationObjectStorageRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the self-managed object storage server location that was described.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationObjectStorageRequest</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationObjectStorageResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the self-managed object storage server location to describe.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the source self-managed object storage server location that was described.</p>"
          }
        },
        "AccessKey": {
          "target": "com.amazonaws.datasync#ObjectStorageAccessKey",
          "traits": {
            "smithy.api#documentation": "<p>Optional. The access key is used if credentials are required to access the self-managed\n      object storage server. If your object storage requires a user name and password to\n      authenticate, use <code>AccessKey</code> and <code>SecretKey</code> to provide the user name\n      and password, respectively.</p>"
          }
        },
        "ServerPort": {
          "target": "com.amazonaws.datasync#ObjectStorageServerPort",
          "traits": {
            "smithy.api#documentation": "<p>The port that your self-managed object storage server accepts inbound network traffic on.\n      The server port is set by default to TCP 80 (HTTP) or TCP 443 (HTTPS).</p>"
          }
        },
        "ServerProtocol": {
          "target": "com.amazonaws.datasync#ObjectStorageServerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol that the object storage server uses to communicate. \n      Valid values are HTTP or HTTPS.</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agents associated with the \n      self-managed object storage server location.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the self-managed object storage server agent was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationObjectStorageResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationS3": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationS3Request"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationS3Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata, such as bucket name, about an Amazon S3 bucket location.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationS3Request": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket location to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationS3Request</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationS3Response": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket or access point.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Amazon S3 location that was described.</p>"
          }
        },
        "S3StorageClass": {
          "target": "com.amazonaws.datasync#S3StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 storage class that you chose to store your files in when this location is\n      used as a task destination. For more information about S3 storage classes, see <a href=\"http://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a>. Some storage\n      classes have behaviors that can affect your S3 storage cost. For detailed information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Considerations when \n        working with S3 storage classes in DataSync</a>.</p>"
          }
        },
        "S3Config": {
          "target": "com.amazonaws.datasync#S3Config"
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>If you are using DataSync on an Amazon Web Services Outpost, the Amazon Resource Name (ARNs) of the EC2\n      agents deployed on your Outpost. For more information about launching a DataSync agent on an\n      Amazon Web Services Outpost, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent on Outposts</a>.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the Amazon S3 bucket location was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationS3Response</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationSmb": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationSmbRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationSmbResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata, such as the path and user information about an SMB location.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationSmbRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SMB location to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationSmbRequest</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationSmbResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SMB location that was described.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the source SMB location that was described.</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source SMB file system location that is\n      created.</p>"
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>The user who can mount the share, has the permissions to access files and folders in the\n      SMB share.</p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Windows domain that the SMB server belongs to.</p>"
          }
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#SmbMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>The mount options that are available for DataSync to use to access an SMB location.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the SMB location was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationSmbResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata about a task.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeTaskExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeTaskExecutionRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeTaskExecutionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed metadata about a task that is being executed.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeTaskExecutionRequest": {
      "type": "structure",
      "members": {
        "TaskExecutionArn": {
          "target": "com.amazonaws.datasync#TaskExecutionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task that is being executed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeTaskExecutionRequest</p>"
      }
    },
    "com.amazonaws.datasync#DescribeTaskExecutionResponse": {
      "type": "structure",
      "members": {
        "TaskExecutionArn": {
          "target": "com.amazonaws.datasync#TaskExecutionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task execution that was described.\n        <code>TaskExecutionArn</code> is hierarchical and includes <code>TaskArn</code> for the task\n      that was executed. </p>\n         <p>For example, a <code>TaskExecution</code> value with the ARN\n        <code>arn:aws:datasync:us-east-1:111222333444:task/task-0208075f79cedf4a2/execution/exec-08ef1e88ec491019b</code>\n      executed the task with the ARN\n        <code>arn:aws:datasync:us-east-1:111222333444:task/task-0208075f79cedf4a2</code>. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#TaskExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the task execution. </p>\n\n    \n         <p>For detailed information about task execution statuses, see Understanding\n      Task Statuses in the <i>DataSync User Guide.</i>\n         </p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.datasync#Options"
        },
        "Excludes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of filter rules that determines which files to exclude from a task. The list should\n      contain a single filter string that consists of the patterns to exclude. The patterns are\n      delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code>\n         </p>\n         <p>\n    </p>"
          }
        },
        "Includes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of filter rules that determines which files to include when running a task. The\n      list should contain a single filter string that consists of the patterns to include. The\n      patterns are delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code>\n         </p>\n         <p>\n    </p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the task execution was started.</p>"
          }
        },
        "EstimatedFilesToTransfer": {
          "target": "com.amazonaws.datasync#long",
          "traits": {
            "smithy.api#documentation": "<p>The expected number of files that is to be transferred over the network. This value is\n      calculated during the PREPARING phase, before the TRANSFERRING phase. This value is the\n      expected number of files to be transferred. It's calculated based on comparing the\n      content of the source and destination locations and finding the delta that needs to be\n      transferred. </p>"
          }
        },
        "EstimatedBytesToTransfer": {
          "target": "com.amazonaws.datasync#long",
          "traits": {
            "smithy.api#documentation": "<p>The estimated physical number of bytes that is to be transferred over the\n      network.</p>"
          }
        },
        "FilesTransferred": {
          "target": "com.amazonaws.datasync#long",
          "traits": {
            "smithy.api#documentation": "<p>The actual number of files that was transferred over the network. This value is\n      calculated and updated on an ongoing basis during the TRANSFERRING phase. It's updated\n      periodically when each file is read from the source and sent over the network. </p>\n         <p>If failures occur during a transfer, this value can be less than\n        <code>EstimatedFilesToTransfer</code>. This value can also be greater than\n        <code>EstimatedFilesTransferred</code> in some cases. This element is\n      implementation-specific for some location types, so don't use it as an indicator for a correct\n      file number or to monitor your task execution.</p>"
          }
        },
        "BytesWritten": {
          "target": "com.amazonaws.datasync#long",
          "traits": {
            "smithy.api#documentation": "<p>The number of logical bytes written to the destination Amazon Web Services storage resource.</p>"
          }
        },
        "BytesTransferred": {
          "target": "com.amazonaws.datasync#long",
          "traits": {
            "smithy.api#documentation": "<p>The physical number of bytes transferred over the network.</p>"
          }
        },
        "Result": {
          "target": "com.amazonaws.datasync#TaskExecutionResultDetail",
          "traits": {
            "smithy.api#documentation": "<p>The result of the task execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeTaskExecutionResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeTaskRequest": {
      "type": "structure",
      "members": {
        "TaskArn": {
          "target": "com.amazonaws.datasync#TaskArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeTaskRequest</p>"
      }
    },
    "com.amazonaws.datasync#DescribeTaskResponse": {
      "type": "structure",
      "members": {
        "TaskArn": {
          "target": "com.amazonaws.datasync#TaskArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task that was described.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#TaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the task that was described.</p>\n\n    \n         <p>For detailed information about task execution statuses, see Understanding\n      Task Statuses in the <i>DataSync User Guide</i>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of the task that was described.</p>"
          }
        },
        "CurrentTaskExecutionArn": {
          "target": "com.amazonaws.datasync#TaskExecutionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task execution that is syncing files.</p>"
          }
        },
        "SourceLocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source file system's location.</p>"
          }
        },
        "DestinationLocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services storage resource's location.</p>"
          }
        },
        "CloudWatchLogGroupArn": {
          "target": "com.amazonaws.datasync#LogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that was used to\n      monitor and log events in the task.</p>\n\n    \n         <p>For more information on these groups, see Working with Log Groups and Log\n      Streams in the <i>Amazon CloudWatch User Guide</i>.</p>"
          }
        },
        "SourceNetworkInterfaceArns": {
          "target": "com.amazonaws.datasync#SourceNetworkInterfaceArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source ENIs (Elastic Network Interface) that was\n      created for your subnet.</p>"
          }
        },
        "DestinationNetworkInterfaceArns": {
          "target": "com.amazonaws.datasync#DestinationNetworkInterfaceArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the destination ENIs (Elastic Network Interface) that\n      was created for your subnet.</p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.datasync#Options",
          "traits": {
            "smithy.api#documentation": "<p>The set of configuration options that control the behavior of a single execution of the\n      task that occurs when you call <code>StartTaskExecution</code>. You can configure these\n      options to preserve metadata such as user ID (UID) and group (GID), file permissions, data\n      integrity verification, and so on.</p>\n         <p>For each individual task execution, you can override these options by specifying the\n      overriding <code>OverrideOptions</code> value to <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_StartTaskExecution.html\">StartTaskExecution</a> operation. </p>"
          }
        },
        "Excludes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of filter rules that determines which files to exclude from a task. The list should\n      contain a single filter string that consists of the patterns to exclude. The patterns are\n      delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code>\n         </p>\n         <p>\n    </p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.datasync#TaskSchedule",
          "traits": {
            "smithy.api#documentation": "<p>The schedule used to periodically transfer files from a source to a destination location.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.datasync#string",
          "traits": {
            "smithy.api#documentation": "<p>Errors that DataSync encountered during execution of the task. You can use this\n      error code to help troubleshoot issues.</p>"
          }
        },
        "ErrorDetail": {
          "target": "com.amazonaws.datasync#string",
          "traits": {
            "smithy.api#documentation": "<p>Detailed description of an error that was encountered during the task execution. You\n      can use this information to help troubleshoot issues. </p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the task was created.</p>"
          }
        },
        "Includes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of filter rules that determines which files to include when running a task. The\n      pattern should contain a single filter string that consists of the patterns to include. The\n      patterns are delimited by \"|\" (that is, a pipe). For example:\n      <code>\"/folder1|/folder2</code>\"</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeTaskResponse</p>"
      }
    },
    "com.amazonaws.datasync#DestinationNetworkInterfaceArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#NetworkInterfaceArn"
      }
    },
    "com.amazonaws.datasync#Duration": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.datasync#Ec2Config": {
      "type": "structure",
      "members": {
        "SubnetArn": {
          "target": "com.amazonaws.datasync#Ec2SubnetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the subnet and the security group that DataSync uses to access the target\n      EFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the\n      Amazon EC2 resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The subnet and the security group that DataSync uses to access target EFS file system.\n      The subnet must have at least one mount target for that file system. The security group that\n      you provide needs to be able to communicate with the security group on the mount target in the\n      subnet specified. </p>"
      }
    },
    "com.amazonaws.datasync#Ec2SecurityGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):ec2:[a-z\\-0-9]*:[0-9]{12}:security-group/.*$"
      }
    },
    "com.amazonaws.datasync#Ec2SecurityGroupArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#Ec2SecurityGroupArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.datasync#Ec2SubnetArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):ec2:[a-z\\-0-9]*:[0-9]{12}:subnet/.*$"
      }
    },
    "com.amazonaws.datasync#EfsFilesystemArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):elasticfilesystem:[a-z\\-0-9]*:[0-9]{12}:file-system/fs-.*$"
      }
    },
    "com.amazonaws.datasync#EfsSubdirectory": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\p{Zs}]*$"
      }
    },
    "com.amazonaws.datasync#Endpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 15
        },
        "smithy.api#pattern": "^\\A(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)(\\.(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)){3}\\z$"
      }
    },
    "com.amazonaws.datasync#EndpointType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PUBLIC",
            "name": "PUBLIC"
          },
          {
            "value": "PRIVATE_LINK",
            "name": "PRIVATE_LINK"
          },
          {
            "value": "FIPS",
            "name": "FIPS"
          }
        ]
      }
    },
    "com.amazonaws.datasync#FilterAttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[0-9a-zA-Z_\\ \\-\\:\\*\\.\\\\/\\?-]*$"
      }
    },
    "com.amazonaws.datasync#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#FilterRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.datasync#FilterRule": {
      "type": "structure",
      "members": {
        "FilterType": {
          "target": "com.amazonaws.datasync#FilterType",
          "traits": {
            "smithy.api#documentation": "<p>The type of filter rule to apply. DataSync only supports the SIMPLE_PATTERN rule\n      type.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.datasync#FilterValue",
          "traits": {
            "smithy.api#documentation": "<p>A single filter string that consists of the patterns to include or exclude. The patterns\n      are delimited by \"|\" (that is, a pipe), for example: <code>/folder1|/folder2</code>\n         </p>\n         <p>\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies which files, folders, and objects to include or exclude when transferring files\n      from source to destination.</p>"
      }
    },
    "com.amazonaws.datasync#FilterType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SIMPLE_PATTERN",
            "name": "SIMPLE_PATTERN"
          }
        ],
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Z0-9_]+$"
      }
    },
    "com.amazonaws.datasync#FilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 409600
        },
        "smithy.api#pattern": "^[^\\x00]+$"
      }
    },
    "com.amazonaws.datasync#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#FilterAttributeValue"
      }
    },
    "com.amazonaws.datasync#FmrsService": {
      "type": "service",
      "version": "2018-11-09",
      "operations": [
        {
          "target": "com.amazonaws.datasync#CancelTaskExecution"
        },
        {
          "target": "com.amazonaws.datasync#CreateAgent"
        },
        {
          "target": "com.amazonaws.datasync#CreateLocationEfs"
        },
        {
          "target": "com.amazonaws.datasync#CreateLocationFsxWindows"
        },
        {
          "target": "com.amazonaws.datasync#CreateLocationNfs"
        },
        {
          "target": "com.amazonaws.datasync#CreateLocationObjectStorage"
        },
        {
          "target": "com.amazonaws.datasync#CreateLocationS3"
        },
        {
          "target": "com.amazonaws.datasync#CreateLocationSmb"
        },
        {
          "target": "com.amazonaws.datasync#CreateTask"
        },
        {
          "target": "com.amazonaws.datasync#DeleteAgent"
        },
        {
          "target": "com.amazonaws.datasync#DeleteLocation"
        },
        {
          "target": "com.amazonaws.datasync#DeleteTask"
        },
        {
          "target": "com.amazonaws.datasync#DescribeAgent"
        },
        {
          "target": "com.amazonaws.datasync#DescribeLocationEfs"
        },
        {
          "target": "com.amazonaws.datasync#DescribeLocationFsxWindows"
        },
        {
          "target": "com.amazonaws.datasync#DescribeLocationNfs"
        },
        {
          "target": "com.amazonaws.datasync#DescribeLocationObjectStorage"
        },
        {
          "target": "com.amazonaws.datasync#DescribeLocationS3"
        },
        {
          "target": "com.amazonaws.datasync#DescribeLocationSmb"
        },
        {
          "target": "com.amazonaws.datasync#DescribeTask"
        },
        {
          "target": "com.amazonaws.datasync#DescribeTaskExecution"
        },
        {
          "target": "com.amazonaws.datasync#ListAgents"
        },
        {
          "target": "com.amazonaws.datasync#ListLocations"
        },
        {
          "target": "com.amazonaws.datasync#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.datasync#ListTaskExecutions"
        },
        {
          "target": "com.amazonaws.datasync#ListTasks"
        },
        {
          "target": "com.amazonaws.datasync#StartTaskExecution"
        },
        {
          "target": "com.amazonaws.datasync#TagResource"
        },
        {
          "target": "com.amazonaws.datasync#UntagResource"
        },
        {
          "target": "com.amazonaws.datasync#UpdateAgent"
        },
        {
          "target": "com.amazonaws.datasync#UpdateLocationNfs"
        },
        {
          "target": "com.amazonaws.datasync#UpdateLocationObjectStorage"
        },
        {
          "target": "com.amazonaws.datasync#UpdateLocationSmb"
        },
        {
          "target": "com.amazonaws.datasync#UpdateTask"
        },
        {
          "target": "com.amazonaws.datasync#UpdateTaskExecution"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DataSync",
          "arnNamespace": "datasync",
          "cloudFormationName": "DataSync",
          "cloudTrailEventSource": "datasync.amazonaws.com",
          "endpointPrefix": "datasync"
        },
        "aws.auth#sigv4": {
          "name": "datasync"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>DataSync</fullname>\n\n         <p>DataSync is a managed data transfer service that makes it simpler for you to\n      automate moving data between on-premises storage and Amazon Simple Storage Service (Amazon S3)\n      or Amazon Elastic File System (Amazon EFS). </p>\n         <p>This API interface reference for DataSync contains documentation for a\n      programming interface that you can use to manage DataSync.</p>",
        "smithy.api#title": "AWS DataSync"
      }
    },
    "com.amazonaws.datasync#FsxFilesystemArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):fsx:[a-z\\-0-9]*:[0-9]{12}:file-system/fs-.*$"
      }
    },
    "com.amazonaws.datasync#FsxWindowsSubdirectory": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\$\\p{Zs}]+$"
      }
    },
    "com.amazonaws.datasync#Gid": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "INT_VALUE",
            "name": "INT_VALUE"
          },
          {
            "value": "NAME",
            "name": "NAME"
          },
          {
            "value": "BOTH",
            "name": "BOTH"
          }
        ]
      }
    },
    "com.amazonaws.datasync#IamRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):iam::[0-9]{12}:role/.*$"
      }
    },
    "com.amazonaws.datasync#InputTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#TagListEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.datasync#InternalException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.datasync#string"
        },
        "errorCode": {
          "target": "com.amazonaws.datasync#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when an error occurs in the DataSync service.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.datasync#InvalidRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.datasync#string"
        },
        "errorCode": {
          "target": "com.amazonaws.datasync#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the client submits a malformed request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.datasync#ListAgents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#ListAgentsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#ListAgentsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of agents owned by an Amazon Web Services account in the Amazon Web Services Region specified in the\n      request. The returned list is ordered by agent Amazon Resource Name (ARN).</p>\n         <p>By default, this operation returns a maximum of 100 agents. This operation supports\n      pagination that enables you to optionally reduce the number of agents returned in a\n      response.</p>\n         <p>If you have more agents than are returned in a response (that is, the response returns\n      only a truncated list of your agents), the response contains a marker that you can specify in\n      your next request to fetch the next page of agents.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.datasync#ListAgentsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.datasync#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of agents to list.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.datasync#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>An opaque string that indicates the position at which to begin the next list of\n      agents.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ListAgentsRequest</p>"
      }
    },
    "com.amazonaws.datasync#ListAgentsResponse": {
      "type": "structure",
      "members": {
        "Agents": {
          "target": "com.amazonaws.datasync#AgentList",
          "traits": {
            "smithy.api#documentation": "<p>A list of agents in your account.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.datasync#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>An opaque string that indicates the position at which to begin returning the next list\n      of agents.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ListAgentsResponse</p>"
      }
    },
    "com.amazonaws.datasync#ListLocations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#ListLocationsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of source and destination locations.</p>\n         <p>If you have more locations than are returned in a response (that is, the response\n      returns only a truncated list of your agents), the response contains a token that you can\n      specify in your next request to fetch the next page of locations.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.datasync#ListLocationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.datasync#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of locations to return.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.datasync#NextToken",
          "traits": {
[...]
