{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.datasync#ActivationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 29
        },
        "smithy.api#pattern": "^[A-Z0-9]{5}(-[A-Z0-9]{5}){4}$"
      }
    },
    "com.amazonaws.datasync#AddStorageSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#AddStorageSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#AddStorageSystemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Web Services resource for an on-premises storage system that you want DataSync Discovery to collect\n      information about.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "discovery-"
        }
      }
    },
    "com.amazonaws.datasync#AddStorageSystemRequest": {
      "type": "structure",
      "members": {
        "ServerConfiguration": {
          "target": "com.amazonaws.datasync#DiscoveryServerConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the server name and network port required to connect with the management\n      interface of your on-premises storage system.</p>",
            "smithy.api#required": {}
          }
        },
        "SystemType": {
          "target": "com.amazonaws.datasync#DiscoverySystemType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of on-premises storage system that you want DataSync Discovery to collect\n      information about.</p>\n         <note>\n            <p>DataSync Discovery currently supports NetApp\n        Fabric-Attached\n        Storage (FAS) and All Flash FAS (AFF) systems running ONTAP 9.7 or\n        later.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#DiscoveryAgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that connects to\n      and reads from your on-premises storage system's management interface. You can only specify\n      one ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLogGroupArn": {
          "target": "com.amazonaws.datasync#LogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the Amazon CloudWatch log group for monitoring and logging\n      discovery job events.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services\n      resources. We recommend creating at least a name tag for your on-premises storage\n      system.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#Name",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a familiar name for your on-premises storage system.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.datasync#PtolemyUUID",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a client token to make sure requests with this API operation are idempotent. If\n      you don't specify a client token, DataSync generates one for you\n      automatically.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Credentials": {
          "target": "com.amazonaws.datasync#Credentials",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the user name and password for accessing your on-premises storage system's\n      management interface.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#AddStorageSystemResponse": {
      "type": "structure",
      "members": {
        "StorageSystemArn": {
          "target": "com.amazonaws.datasync#StorageSystemArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the on-premises storage system that you can use with DataSync Discovery.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#AgentArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:agent/agent-[0-9a-z]{17}$"
      }
    },
    "com.amazonaws.datasync#AgentArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#AgentArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.datasync#AgentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#AgentListEntry"
      }
    },
    "com.amazonaws.datasync#AgentListEntry": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a DataSync agent.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of an agent.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of an agent. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/understand-agent-statuses.html\">DataSync agent\n        statuses</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a single entry in a list (or array) of DataSync agents when\n      you call the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a> operation.</p>"
      }
    },
    "com.amazonaws.datasync#AgentStatus": {
      "type": "enum",
      "members": {
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLINE"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        }
      }
    },
    "com.amazonaws.datasync#Atime": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BEST_EFFORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST_EFFORT"
          }
        }
      }
    },
    "com.amazonaws.datasync#AzureAccessTier": {
      "type": "enum",
      "members": {
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOT"
          }
        },
        "COOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COOL"
          }
        },
        "ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVE"
          }
        }
      }
    },
    "com.amazonaws.datasync#AzureBlobAuthenticationType": {
      "type": "enum",
      "members": {
        "SAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAS"
          }
        }
      }
    },
    "com.amazonaws.datasync#AzureBlobContainerUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 325
        },
        "smithy.api#pattern": "^https:\\/\\/[A-Za-z0-9]((\\.|-+)?[A-Za-z0-9]){0,252}\\/[a-z0-9](-?[a-z0-9]){2,62}$"
      }
    },
    "com.amazonaws.datasync#AzureBlobSasConfiguration": {
      "type": "structure",
      "members": {
        "Token": {
          "target": "com.amazonaws.datasync#AzureBlobSasToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a SAS token that provides permissions at the Azure storage account, container,\n      or folder level.</p>\n         <p>The token is part of the SAS URI string that comes after the storage resource URI and a question mark. A token looks something like this:</p>\n         <p>\n            <code>sp=r&st=2023-12-20T14:54:52Z&se=2023-12-20T22:54:52Z&spr=https&sv=2021-06-08&sr=c&sig=aBBKDWQvyuVcTPH9EBp%2FXTI9E%2F%2Fmq171%2BZU178wcwqU%3D</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The shared access signature (SAS) configuration that allows DataSync to access your Microsoft Azure Blob Storage.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-sas-tokens\">SAS\n        tokens</a> for accessing your Azure Blob Storage.</p>"
      }
    },
    "com.amazonaws.datasync#AzureBlobSasToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.datasync#AzureBlobSubdirectory": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}\\p{C}]*$"
      }
    },
    "com.amazonaws.datasync#AzureBlobType": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.amazonaws.datasync#BytesPerSecond": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": -1
        }
      }
    },
    "com.amazonaws.datasync#CancelTaskExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CancelTaskExecutionRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CancelTaskExecutionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops an DataSync task execution that's in progress. The transfer of some\n      files are abruptly interrupted. File contents that're transferred to the destination might be\n      incomplete or inconsistent with the source files.</p>\n         <p>However, if you start a new task execution using the same task and allow it to finish,\n      file content on the destination will be complete and consistent. This applies to other\n      unexpected failures that interrupt a task execution. In all of these cases, DataSync\n      successfully completes the transfer when you start the next task execution.</p>"
      }
    },
    "com.amazonaws.datasync#CancelTaskExecutionRequest": {
      "type": "structure",
      "members": {
        "TaskExecutionArn": {
          "target": "com.amazonaws.datasync#TaskExecutionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task execution to stop.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelTaskExecutionRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CancelTaskExecutionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#Capacity": {
      "type": "structure",
      "members": {
        "Used": {
          "target": "com.amazonaws.datasync#NonNegativeLong",
          "traits": {
            "smithy.api#documentation": "<p>The amount of space that's being used in a storage system resource.</p>"
          }
        },
        "Provisioned": {
          "target": "com.amazonaws.datasync#NonNegativeLong",
          "traits": {
            "smithy.api#documentation": "<p>The total amount of space available in a storage system resource.</p>"
          }
        },
        "LogicalUsed": {
          "target": "com.amazonaws.datasync#NonNegativeLong",
          "traits": {
            "smithy.api#documentation": "<p>The amount of space that's being used in a storage system resource without accounting for\n      compression or deduplication.</p>"
          }
        },
        "ClusterCloudStorageUsed": {
          "target": "com.amazonaws.datasync#NonNegativeLong",
          "traits": {
            "smithy.api#documentation": "<p>The amount of space in the cluster that's in cloud storage (for example, if you're using data tiering).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The storage capacity of an on-premises storage system resource (for example, a\n      volume).</p>"
      }
    },
    "com.amazonaws.datasync#CollectionDurationMinutes": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 60,
          "max": 44640
        }
      }
    },
    "com.amazonaws.datasync#CreateAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates an DataSync agent that you've deployed in your storage\n      environment. The activation process associates the agent with your Amazon Web Services account.</p>\n         <p>If you haven't deployed an agent yet, see the following topics to learn more:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/agent-requirements.html\">Agent requirements</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/configure-agent.html\">Create an agent</a>\n               </p>\n            </li>\n         </ul>\n         <note>\n            <p>If you're transferring between Amazon Web Services storage services, you don't need a\n          DataSync agent. </p>\n         </note>"
      }
    },
    "com.amazonaws.datasync#CreateAgentRequest": {
      "type": "structure",
      "members": {
        "ActivationKey": {
          "target": "com.amazonaws.datasync#ActivationKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies your DataSync agent's activation key. If you don't have an\n      activation key, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/activate-agent.html\">Activate your agent</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "AgentName": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a name for your agent. You can see this name in the DataSync\n      console.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources.\n      We recommend creating at least one tag for your agent.</p>"
          }
        },
        "VpcEndpointId": {
          "target": "com.amazonaws.datasync#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the VPC endpoint that you want your agent to connect to. For example,\n      a VPC endpoint ID looks like <code>vpce-01234d5aff67890e1</code>.</p>\n         <important>\n            <p>The VPC endpoint you use must include the DataSync service name (for example,\n          <code>com.amazonaws.us-east-2.datasync</code>).</p>\n         </important>"
          }
        },
        "SubnetArns": {
          "target": "com.amazonaws.datasync#PLSubnetArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the subnet where you want to run your DataSync task when\n      using a VPC endpoint. This is the subnet where DataSync creates and manages the\n        <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/datasync-network.html#required-network-interfaces\">network\n        interfaces</a> for your transfer. You can only specify one ARN.</p>"
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#PLSecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the security group that protects your task's\n        <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/datasync-network.html#required-network-interfaces\">network\n        interfaces</a> when <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choose-service-endpoint.html#choose-service-endpoint-vpc\">using a virtual private cloud (VPC) endpoint</a>. You can only specify one ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateAgentRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateAgentResponse": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the agent that you just activated. Use the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a> operation to return a\n      list of agents in your Amazon Web Services account and Amazon Web Services Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateAgentResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationAzureBlob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationAzureBlobRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationAzureBlobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for a Microsoft Azure Blob Storage container that DataSync can use as a transfer source or destination.</p>\n         <p>Before you begin, make sure you know <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access\">how DataSync accesses Azure Blob Storage</a> and works with <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">access tiers</a> and <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#blob-types\">blob types</a>. You also need a <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-creating-agent\">DataSync agent</a> that can connect to your\n      container.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationAzureBlobRequest": {
      "type": "structure",
      "members": {
        "ContainerUrl": {
          "target": "com.amazonaws.datasync#AzureBlobContainerUrl",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the URL of the Azure Blob Storage container involved in your transfer.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.datasync#AzureBlobAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the authentication method DataSync uses to access your Azure Blob Storage. DataSync can access blob storage using a shared access signature (SAS).</p>",
            "smithy.api#required": {}
          }
        },
        "SasConfiguration": {
          "target": "com.amazonaws.datasync#AzureBlobSasConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the SAS configuration that allows DataSync to access your Azure Blob Storage.</p>"
          }
        },
        "BlobType": {
          "target": "com.amazonaws.datasync#AzureBlobType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of blob that you want your objects or files to be when transferring\n      them into Azure Blob Storage. Currently, DataSync only supports moving data into\n      Azure Blob Storage as block blobs. For more information on blob types, see the <a href=\"https://learn.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs\">Azure Blob Storage documentation</a>.</p>"
          }
        },
        "AccessTier": {
          "target": "com.amazonaws.datasync#AzureAccessTier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the access tier that you want your objects or files transferred into. This only applies when using the location as a transfer destination. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">Access tiers</a>.</p>"
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#AzureBlobSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies path segments if you want to limit your transfer to a virtual directory in your\n      container (for example, <code>/my/images</code>).</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that can connect with your Azure Blob Storage container.</p>\n         <p>You can specify more than one agent. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/multiple-agents.html\">Using multiple\n        agents for your transfer</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your transfer location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationAzureBlobResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Azure Blob Storage transfer location that you created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationEfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationEfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationEfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon EFS file system that DataSync\n      can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html\">Creating a location for Amazon EFS</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationEfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#EfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a mount path for your Amazon EFS file system. This is where DataSync reads or writes data (depending on if this is a source or destination location).\n      By default, DataSync uses the root directory, but you can also include\n      subdirectories.</p>\n         <note>\n            <p>You must specify a value with forward slashes (for example,\n        <code>/path/to/folder</code>).</p>\n         </note>"
          }
        },
        "EfsFilesystemArn": {
          "target": "com.amazonaws.datasync#EfsFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN for the Amazon EFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Ec2Config": {
          "target": "com.amazonaws.datasync#Ec2Config",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the subnet and security groups DataSync uses to access your Amazon EFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key-value pair that represents a tag that you want to add to the\n      resource. The value can be an empty string. This value helps you manage, filter, and search\n      for your resources. We recommend that you create a name tag for your location.</p>"
          }
        },
        "AccessPointArn": {
          "target": "com.amazonaws.datasync#EfsAccessPointArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the access point that DataSync uses\n      to access the Amazon EFS file system.</p>"
          }
        },
        "FileSystemAccessRoleArn": {
          "target": "com.amazonaws.datasync#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an Identity and Access Management (IAM) role that DataSync\n      assumes when mounting the Amazon EFS file system.</p>"
          }
        },
        "InTransitEncryption": {
          "target": "com.amazonaws.datasync#EfsInTransitEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want DataSync to use Transport Layer Security (TLS) 1.2\n      encryption when it copies data to or from the Amazon EFS file system.</p>\n         <p>If you specify an access point using <code>AccessPointArn</code> or an IAM\n      role using <code>FileSystemAccessRoleArn</code>, you must set this parameter to\n        <code>TLS1_2</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationEfsRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationEfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you\n      create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationEfs</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxLustre": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxLustreRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxLustreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon FSx for Lustre file system.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxLustreRequest": {
      "type": "structure",
      "members": {
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the FSx for Lustre file system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are used to configure the\n        FSx for Lustre file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxLustreSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the location's path. This subdirectory in the FSx for Lustre\n      file system is used to read data from the FSx for Lustre source location or write\n      data to the FSx for Lustre destination.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The value\n      can be an empty string. This value helps you manage, filter, and search for your resources. We\n      recommend that you create a name tag for your location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxLustreResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Lustre file system location that's\n      created. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOntap": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOntapRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOntapResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon FSx for NetApp ONTAP file system that DataSync can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-ontap-location.html\">Creating a location for FSx for ONTAP</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOntapRequest": {
      "type": "structure",
      "members": {
        "Protocol": {
          "target": "com.amazonaws.datasync#FsxProtocol",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon EC2 security groups that provide access to your file system's\n      preferred subnet.</p>\n         <p>The security groups must allow outbound traffic on the following ports (depending on the\n      protocol you use):</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Network File System (NFS)</b>: TCP ports 111, 635, and\n          2049</p>\n            </li>\n            <li>\n               <p>\n                  <b>Server Message Block (SMB)</b>: TCP port 445</p>\n            </li>\n         </ul>\n         <p>Your file system's security groups must also allow inbound traffic on the same\n      ports.</p>",
            "smithy.api#required": {}
          }
        },
        "StorageVirtualMachineArn": {
          "target": "com.amazonaws.datasync#StorageVirtualMachineArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the storage virtual machine (SVM) in your file system where you want\n      to copy data to or from.</p>",
            "smithy.api#required": {}
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxOntapSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a path to the file share in the SVM where you'll copy your data.</p>\n         <p>You can specify a junction path (also known as a mount point), qtree path (for NFS file\n      shares), or share name (for SMB file shares). For example, your mount path might be\n        <code>/vol1</code>, <code>/vol1/tree1</code>, or <code>/share1</code>.</p>\n         <note>\n            <p>Don't specify a junction path in the SVM's root volume. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/managing-svms.html\">Managing FSx for ONTAP storage virtual machines</a> in the <i>Amazon FSx for NetApp ONTAP User Guide</i>.</p>\n         </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services\n      resources. We recommend creating at least a name tag for your location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOntapResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the FSx for ONTAP file system location that you\n      create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOpenZfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOpenZfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOpenZfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon FSx for OpenZFS file system that DataSync can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-openzfs-location.html\">Creating a location for FSx for OpenZFS</a>.</p>\n         <note>\n            <p>Request parameters related to <code>SMB</code> aren't supported with the\n          <code>CreateLocationFsxOpenZfs</code> operation.</p>\n         </note>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOpenZfsRequest": {
      "type": "structure",
      "members": {
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.datasync#FsxProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The type of protocol that DataSync uses to access your file system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the security groups that are used to configure the FSx for OpenZFS file\n      system.</p>",
            "smithy.api#required": {}
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxOpenZfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the location's path that must begin with <code>/fsx</code>. DataSync uses this subdirectory to read or write data (depending on whether the file\n      system is a source or destination location).</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The value\n      can be an empty string. This value helps you manage, filter, and search for your resources. We\n      recommend that you create a name tag for your location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOpenZfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the FSx for OpenZFS file system location that you created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxWindowsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxWindowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon FSx for Windows File Server file system.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindowsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxWindowsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a mount path for your file system using forward slashes. This is where DataSync reads or writes data (depending on if this is a source or destination\n      location).</p>"
          }
        },
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) for the FSx for Windows File Server file\n      system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARNs of the security groups that provide access to your file system's\n      preferred subnet.</p>\n         <note>\n            <p>If you choose a security group that doesn't allow connections from within itself, do one\n        of the following:</p>\n            <ul>\n               <li>\n                  <p>Configure the security group to allow it to communicate within itself.</p>\n               </li>\n               <li>\n                  <p>Choose a different security group that can communicate with the mount target's\n            security group.</p>\n               </li>\n            </ul>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services\n      resources. We recommend creating at least a name tag for your location.</p>"
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the user who has the permissions to access files, folders, and metadata in your\n      file system.</p>\n         <p>For information about choosing a user with sufficient permissions, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-fsx-location.html#create-fsx-windows-location-permissions\">Required permissions</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the Windows domain that the FSx for Windows File Server belongs\n      to.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.datasync#SmbPassword",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the password of the user who has the permissions to access files and folders in\n      the file system.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindowsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the FSx for Windows File Server file system location you created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationHdfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationHdfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationHdfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for a Hadoop Distributed File System (HDFS). </p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationHdfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#HdfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the HDFS cluster. This subdirectory is used to read data from or write\n      data to the HDFS cluster. If the subdirectory isn't specified, it will default to\n        <code>/</code>.</p>"
          }
        },
        "NameNodes": {
          "target": "com.amazonaws.datasync#HdfsNameNodeList",
          "traits": {
            "smithy.api#documentation": "<p>The NameNode that manages the HDFS namespace. The NameNode performs operations such as\n      opening, closing, and renaming files and directories. The NameNode contains the information to\n      map blocks of data to the DataNodes. You can use only one NameNode.</p>",
            "smithy.api#required": {}
          }
        },
        "BlockSize": {
          "target": "com.amazonaws.datasync#HdfsBlockSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of data blocks to write into the HDFS cluster. The block size must be a multiple\n      of 512 bytes. The default block size is 128 mebibytes (MiB).</p>"
          }
        },
        "ReplicationFactor": {
          "target": "com.amazonaws.datasync#HdfsReplicationFactor",
          "traits": {
            "smithy.api#documentation": "<p>The number of DataNodes to replicate the data to when writing to the HDFS cluster. By\n      default, data is replicated to three DataNodes.</p>"
          }
        },
        "KmsKeyProviderUri": {
          "target": "com.amazonaws.datasync#KmsKeyProviderUri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the HDFS cluster's Key Management Server (KMS). </p>"
          }
        },
        "QopConfiguration": {
          "target": "com.amazonaws.datasync#QopConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Quality of Protection (QOP) configuration specifies the Remote Procedure Call (RPC)\n      and data transfer protection settings configured on the Hadoop Distributed File System (HDFS)\n      cluster. If <code>QopConfiguration</code> isn't specified, <code>RpcProtection</code> and\n        <code>DataTransferProtection</code> default to <code>PRIVACY</code>. If you set\n        <code>RpcProtection</code> or <code>DataTransferProtection</code>, the other parameter\n      assumes the same value. </p>"
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.datasync#HdfsAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication used to determine the identity of the user. </p>",
            "smithy.api#required": {}
          }
        },
        "SimpleUser": {
          "target": "com.amazonaws.datasync#HdfsUser",
          "traits": {
            "smithy.api#documentation": "<p>The user name used to identify the client on the host operating system. </p>\n         <note>\n            <p>If <code>SIMPLE</code> is specified for <code>AuthenticationType</code>, this parameter\n        is required. </p>\n         </note>"
          }
        },
        "KerberosPrincipal": {
          "target": "com.amazonaws.datasync#KerberosPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The Kerberos principal with access to the files and folders on the HDFS cluster. </p>\n         <note>\n            <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this\n        parameter is required.</p>\n         </note>"
          }
        },
        "KerberosKeytab": {
          "target": "com.amazonaws.datasync#KerberosKeytabFile",
          "traits": {
            "smithy.api#documentation": "<p>The Kerberos key table (keytab) that contains mappings between the defined Kerberos\n      principal and the encrypted keys. You can load the keytab from a file by providing the file's\n      address. If you're using the CLI, it performs base64 encoding for you.\n      Otherwise, provide the base64-encoded text. </p>\n         <note>\n            <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this\n        parameter is required. </p>\n         </note>"
          }
        },
        "KerberosKrb5Conf": {
          "target": "com.amazonaws.datasync#KerberosKrb5ConfFile",
          "traits": {
            "smithy.api#documentation": "<p>The <code>krb5.conf</code> file that contains the Kerberos configuration information. You\n      can load the <code>krb5.conf</code> file by providing the file's address. If you're using the\n        CLI, it performs the base64 encoding for you. Otherwise, provide the\n      base64-encoded text. </p>\n         <note>\n            <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this\n        parameter is required.</p>\n         </note>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the agents that are used to connect to the HDFS\n      cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value\n      can be an empty string. We recommend using tags to name your resources. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationHdfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source HDFS cluster location that's created. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationNfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationNfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationNfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for a Network File System (NFS) file server that DataSync can use for a data transfer.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html\">Configuring transfers to or from an NFS file\n        server</a>.</p>\n         <note>\n            <p>If you're copying data to or from an Snowcone device, you can also use\n          <code>CreateLocationNfs</code> to create your transfer location. For more information, see\n          <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/nfs-on-snowcone.html\">Configuring transfers with Snowcone</a>.</p>\n         </note>"
      }
    },
    "com.amazonaws.datasync#CreateLocationNfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#NfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the export path in your NFS file server that you want DataSync to\n      mount.</p>\n         <p>This path (or a subdirectory of the path) is where DataSync transfers data to\n      or from. For information on configuring an export for DataSync, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#accessing-nfs\">Accessing NFS file servers</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Domain Name System (DNS) name or IP version 4 address of the NFS file\n      server that your DataSync agent connects to.</p>",
            "smithy.api#required": {}
          }
        },
        "OnPremConfig": {
          "target": "com.amazonaws.datasync#OnPremConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that want to\n      connect to your NFS file server.</p>\n         <p>You can specify more than one agent. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/multiple-agents.html\">Using multiple\n        agents for transfers</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#NfsMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the options that DataSync can use to mount your NFS file\n      server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources.\n      We recommend creating at least a name tag for your location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationNfsRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationNfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the transfer location that you created for your NFS file server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationNfsResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationObjectStorageRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationObjectStorageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an object storage system that DataSync can access\n      for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object\n        storage</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorageRequest": {
      "type": "structure",
      "members": {
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the domain name or IP address of the object storage server. A DataSync\n      agent uses this hostname to mount the object storage server in a network.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerPort": {
          "target": "com.amazonaws.datasync#ObjectStorageServerPort",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the port that your object storage server accepts inbound network traffic on (for\n      example, port 443).</p>"
          }
        },
        "ServerProtocol": {
          "target": "com.amazonaws.datasync#ObjectStorageServerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the protocol that your object storage server uses to communicate.</p>"
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#S3Subdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the object prefix for your object storage server. If this is a source location,\n        DataSync only copies objects with this prefix. If this is a destination location,\n        DataSync writes all objects with this prefix. </p>"
          }
        },
        "BucketName": {
          "target": "com.amazonaws.datasync#ObjectStorageBucketName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the object storage bucket involved in the transfer.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessKey": {
          "target": "com.amazonaws.datasync#ObjectStorageAccessKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the access key (for example, a user name) if credentials are required to\n      authenticate with the object storage server.</p>"
          }
        },
        "SecretKey": {
          "target": "com.amazonaws.datasync#ObjectStorageSecretKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the secret key (for example, a password) if credentials are required to\n      authenticate with the object storage server.</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Names (ARNs) of the DataSync agents that can\n      securely connect with your location.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key-value pair that represents a tag that you want to add to the resource.\n      Tags can help you manage, filter, and search for your resources. We recommend creating a name\n      tag for your location.</p>"
          }
        },
        "ServerCertificate": {
          "target": "com.amazonaws.datasync#ObjectStorageCertificate",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a file with the certificates that are used to sign the object storage server's\n      certificate (for example, <code>file:///home/user/.ssh/storage_sys_certificate.pem</code>).\n      The file you specify must include the following:</p>\n         <ul>\n            <li>\n               <p>The certificate of the signing certificate authority (CA)</p>\n            </li>\n            <li>\n               <p>Any intermediate certificates</p>\n            </li>\n            <li>\n               <p>base64 encoding</p>\n            </li>\n            <li>\n               <p>A <code>.pem</code> extension</p>\n            </li>\n         </ul>\n         <p>The file can be up to 32768 bytes (before base64 encoding).</p>\n         <p>To use this parameter, configure <code>ServerProtocol</code> to <code>HTTPS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationObjectStorageRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorageResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the object storage system location that you create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationObjectStorageResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationS3": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationS3Request"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationS3Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A <i>location</i> is an endpoint for an Amazon S3 bucket. DataSync can use the location as a source or destination for copying data.</p>\n         <important>\n            <p>Before you create your location, make sure that you read the following sections:</p>\n            <ul>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Storage\n              class considerations with Amazon S3 locations</a>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">Evaluating S3 request costs when using DataSync</a>\n                  </p>\n               </li>\n            </ul>\n         </important>\n         <p> For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-locations-cli.html#create-location-s3-cli\">Creating an Amazon S3 location</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationS3Request": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#S3Subdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the Amazon S3 bucket. This subdirectory in Amazon S3 is used to read\n      data from the S3 source location or write data to the S3 destination.</p>"
          }
        },
        "S3BucketArn": {
          "target": "com.amazonaws.datasync#S3BucketArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon S3 bucket. If the bucket is on an Amazon Web Services Outpost,\n      this must be an access point ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "S3StorageClass": {
          "target": "com.amazonaws.datasync#S3StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 storage class that you want to store your files in when this location is\n      used as a task destination. For buckets in Amazon Web Services Regions, the storage class\n      defaults to Standard. For buckets on Outposts, the storage class defaults to Amazon Web Services S3 Outposts.</p>\n         <p>For more information about S3 storage classes, see <a href=\"http://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a>. Some storage classes have behaviors that\n      can affect your S3 storage cost. For detailed information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Considerations\n        when working with S3 storage classes in DataSync</a>.</p>"
          }
        },
        "S3Config": {
          "target": "com.amazonaws.datasync#S3Config",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>If you're using DataSync on an Amazon Web Services Outpost, specify the Amazon Resource\n      Names (ARNs) of the DataSync agents deployed on your Outpost. For more information about\n      launching a DataSync agent on an Amazon Web Services Outpost, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent\n        on Outposts</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The\n      value can be an empty string. We recommend using tags to name your resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationS3Request</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationS3Response": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source Amazon S3 bucket location that is\n      created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationS3Response</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationSmb": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationSmbRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationSmbResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for a Server Message Block (SMB) file server that DataSync can use for a data transfer.</p>\n         <p>Before you begin, make sure that you understand how DataSync\n      <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html\">accesses an SMB file server</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationSmbRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#SmbSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the share exported by your SMB file server where DataSync\n      will read or write data. You can include a subdirectory in the share path (for example,\n        <code>/path/to/subdirectory</code>). Make sure that other SMB clients in your network can\n      also mount this path.</p>\n         <p>To copy all data in the specified subdirectory, DataSync must be able to mount\n      the SMB share and access all of its data. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">required permissions</a> for SMB locations.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Domain Name Service (DNS) name or IP address of the SMB file server that\n      your DataSync agent will mount.</p>\n         <note>\n            <p>You can't specify an IP version 6 (IPv6) address.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the user name that can mount your SMB file server and has permission to access\n      the files and folders involved in your transfer.</p>\n         <p>For information about choosing a user with the right level of access for your transfer,\n      see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">required permissions</a> for SMB locations.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Windows domain name that your SMB file server belongs to. </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">required permissions</a> for SMB locations.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.datasync#SmbPassword",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the password of the user who can mount your SMB file server and has permission\n      to access the files and folders involved in your transfer.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">required permissions</a> for SMB locations.</p>",
            "smithy.api#required": {}
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DataSync agent (or agents) which you want to connect to your SMB\n      file server. You specify an agent by using its Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#SmbMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the version of the SMB protocol that DataSync uses to access your SMB\n      file server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services\n      resources. We recommend creating at least a name tag for your location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationSmbRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationSmbResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SMB location that you created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationSmbResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures a task, which defines where and how DataSync transfers your\n      data.</p>\n         <p>A task includes a source location, a destination location, and the preferences for how and\n      when you want to transfer your data (such as bandwidth limits, scheduling, among other\n      options).</p>\n         <important>\n            <p>If you're planning to transfer data to or from an Amazon S3 location, review\n          <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">how\n            DataSync can affect your S3 request charges</a> and the <a href=\"http://aws.amazon.com/datasync/pricing/\">DataSync pricing page</a> before\n        you begin.</p>\n         </important>"
      }
    },
    "com.amazonaws.datasync#CreateTaskRequest": {
      "type": "structure",
      "members": {
        "SourceLocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source location for the task.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationLocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon Web Services storage resource's location.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLogGroupArn": {
          "target": "com.amazonaws.datasync#LogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that is used to\n      monitor and log events in the task. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of a task. This value is a text reference that is used to identify the task in\n      the console. </p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.datasync#Options",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the configuration options for a task. Some options include preserving file or\n      object metadata and verifying data integrity.</p>\n         <p>You can also override these options before starting an individual run of a task (also\n      known as a <i>task execution</i>). For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_StartTaskExecution.html\">StartTaskExecution</a>.</p>"
          }
        },
        "Excludes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of filter rules that exclude specific data during your transfer. For more\n      information and examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/filtering.html\">Filtering data transferred by DataSync</a>.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.datasync#TaskSchedule",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a schedule used to periodically transfer files from a source to a destination\n      location. The schedule should be specified in UTC time. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/task-scheduling.html\">Scheduling your\n        task</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the tags that you want to apply to the Amazon Resource Name (ARN)\n      representing the task.</p>\n         <p>\n            <i>Tags</i> are key-value pairs that help you manage, filter, and search\n      for your DataSync resources.</p>"
          }
        },
        "Includes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of filter rules that include specific data during your transfer. For more\n      information and examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/filtering.html\">Filtering data transferred by DataSync</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTaskRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateTaskResponse": {
      "type": "structure",
      "members": {
        "TaskArn": {
          "target": "com.amazonaws.datasync#TaskArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTaskResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#Credentials": {
      "type": "structure",
      "members": {
        "Username": {
          "target": "com.amazonaws.datasync#PtolemyUsername",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the user name for your storage system's management interface.</p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.datasync#PtolemyPassword",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the password for your storage system's management interface.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The credentials that provide DataSync Discovery read access to your on-premises storage system's\n      management interface.</p>\n         <p>DataSync Discovery stores these credentials in <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\">Secrets Manager</a>. For more\n      information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/discovery-configure-storage.html\">Accessing your on-premises\n        storage system</a>.</p>"
      }
    },
    "com.amazonaws.datasync#DeleteAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an agent. To specify which agent to delete, use the Amazon Resource Name (ARN)\n      of the agent in your request. The operation disassociates the agent from your Amazon Web Services account. However, it doesn't delete the agent virtual machine (VM) from your\n      on-premises environment.</p>"
      }
    },
    "com.amazonaws.datasync#DeleteAgentRequest": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent to delete. Use the <code>ListAgents</code>\n      operation to return a list of agents for your account and Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteAgentRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DeleteAgentResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DeleteLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteLocationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the configuration of a location used by DataSync. </p>"
      }
    },
    "com.amazonaws.datasync#DeleteLocationRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the location to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteLocation</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DeleteLocationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DeleteTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an DataSync task.</p>"
      }
    },
    "com.amazonaws.datasync#DeleteTaskRequest": {
      "type": "structure",
      "members": {
        "TaskArn": {
          "target": "com.amazonaws.datasync#TaskArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the task that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteTask</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DeleteTaskResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DescribeAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata about an DataSync agent, such as its name, endpoint\n      type, and status.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeAgentRequest": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent to\n      describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeAgent</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DescribeAgentResponse": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the agent.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agent. If the status is ONLINE, then the agent is configured properly\n      and is available to use. The Running status is the normal running status for an agent. If the\n      status is OFFLINE, the agent's VM is turned off or the agent is in an unhealthy state. When\n      the issue that caused the unhealthy state is resolved, the agent returns to ONLINE\n      status.</p>"
          }
        },
        "LastConnectionTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the agent last connected to DataSync.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the agent was activated (that is, created in your account).</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.datasync#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of endpoint that your agent is connected to. If the endpoint is a VPC endpoint,\n      the agent is not accessible over the public internet. </p>"
          }
        },
        "PrivateLinkConfig": {
          "target": "com.amazonaws.datasync#PrivateLinkConfig",
          "traits": {
            "smithy.api#documentation": "<p>The subnet and the security group that DataSync used to access a VPC endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeAgentResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DescribeDiscoveryJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeDiscoveryJobRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeDiscoveryJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a DataSync discovery job.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "discovery-"
        }
      }
    },
    "com.amazonaws.datasync#DescribeDiscoveryJobRequest": {
      "type": "structure",
      "members": {
        "DiscoveryJobArn": {
          "target": "com.amazonaws.datasync#DiscoveryJobArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the discovery job that you want information\n      about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DescribeDiscoveryJobResponse": {
      "type": "structure",
      "members": {
        "StorageSystemArn": {
          "target": "com.amazonaws.datasync#StorageSystemArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the on-premises storage system you're running the discovery job on.</p>"
          }
        },
        "DiscoveryJobArn": {
          "target": "com.amazonaws.datasync#DiscoveryJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the discovery job.</p>"
          }
        },
        "CollectionDurationMinutes": {
          "target": "com.amazonaws.datasync#CollectionDurationMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes that the discovery job runs.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#DiscoveryJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the status of a discovery job. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/discovery-job-statuses.html#discovery-job-statuses-table\">Discovery job statuses</a>.</p>"
          }
        },
        "JobStartTime": {
          "target": "com.amazonaws.datasync#DiscoveryTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the discovery job started.</p>"
          }
        },
        "JobEndTime": {
          "target": "com.amazonaws.datasync#DiscoveryTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the discovery job ended.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DescribeLocationAzureBlob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationAzureBlobRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationAzureBlobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about how an DataSync transfer location for Microsoft Azure Blob Storage is configured.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationAzureBlobRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of your Azure Blob Storage transfer location.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DescribeLocationAzureBlobResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of your Azure Blob Storage transfer location.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Azure Blob Storage container involved in your transfer.</p>"
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.datasync#AzureBlobAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication method DataSync uses to access your Azure Blob Storage. DataSync can access blob storage using a shared access signature (SAS).</p>"
          }
        },
        "BlobType": {
          "target": "com.amazonaws.datasync#AzureBlobType",
          "traits": {
            "smithy.api#documentation": "<p>The type of blob that you want your objects or files to be when transferring them into\n      Azure Blob Storage. Currently, DataSync only supports moving data into Azure Blob\n      Storage as block blobs. For more information on blob types, see the <a href=\"https://learn.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs\">Azure Blob Storage documentation</a>.</p>"
          }
        },
        "AccessTier": {
          "target": "com.amazonaws.datasync#AzureAccessTier",
          "traits": {
            "smithy.api#documentation": "<p>The access tier that you want your objects or files transferred into. This only applies when using the location as a transfer destination. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">Access tiers</a>.</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the DataSync agents that can connect with your Azure Blob Storage container.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that your Azure Blob Storage transfer location was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DescribeLocationEfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationEfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationEfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata about your DataSync location for an Amazon EFS\n      file system.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationEfsRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you\n      want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationEfsRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DescribeLocationEfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon EFS file system location.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Amazon EFS file system location.</p>"
          }
        },
        "Ec2Config": {
          "target": "com.amazonaws.datasync#Ec2Config"
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the location was created.</p>"
          }
        },
        "AccessPointArn": {
          "target": "com.amazonaws.datasync#EfsAccessPointArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the access point that DataSync uses to access the Amazon EFS\n      file system.</p>"
          }
        },
        "FileSystemAccessRoleArn": {
          "target": "com.amazonaws.datasync#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Identity and Access Management (IAM) role that DataSync assumes when\n      mounting the Amazon EFS file system.</p>"
          }
        },
        "InTransitEncryption": {
          "target": "com.amazonaws.datasync#EfsInTransitEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether DataSync uses Transport Layer Security (TLS) encryption when\n      copying data to or from the Amazon EFS file system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationEfsResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxLustre": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxLustreRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxLustreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about how an DataSync location for an Amazon FSx for Lustre file system is configured.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxLustreRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Lustre location to describe.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxLustreResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Lustre location that was\n      described.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the FSx for Lustre location that was described.</p>"
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the\n        FSx for Lustre file system.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the FSx for Lustre location was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxOntap": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxOntapRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxOntapResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about how an DataSync location for an Amazon FSx for NetApp ONTAP file system is configured.</p>\n         <note>\n            <p>If your location uses SMB, the <code>DescribeLocationFsxOntap</code> operation doesn't\n        actually return a <code>Password</code>.</p>\n         </note>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxOntapRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the FSx for ONTAP file system\n      location that you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxOntapResponse": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the location was created.</p>"
          }
        },
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the FSx for ONTAP file system location.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The uniform resource identifier (URI) of the FSx for ONTAP file system\n      location.</p>"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.datasync#FsxProtocol"
        },
        "SecurityGroupArns": {
[...]
