{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.databasemigrationservice#AccessDeniedFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.databasemigrationservice#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DMS was denied access to the endpoint. Check that the \n            role is correctly configured.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.databasemigrationservice#AccountQuota": {
      "type": "structure",
      "members": {
        "AccountQuotaName": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DMS quota for this Amazon Web Services account.</p>"
          }
        },
        "Used": {
          "target": "com.amazonaws.databasemigrationservice#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount currently used toward the quota maximum.</p>"
          }
        },
        "Max": {
          "target": "com.amazonaws.databasemigrationservice#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum allowed value for the quota.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a quota for an Amazon Web Services account, for example the number of replication instances\n         allowed.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AccountQuotaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databasemigrationservice#AccountQuota",
        "traits": {
          "smithy.api#xmlName": "AccountQuota"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#AddTagsToResourceMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#AddTagsToResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds metadata tags to an DMS resource, including replication instance, endpoint,\n         security group, and migration task. These tags can also be used with cost allocation\n         reporting to track cost associated with DMS resources, or used in a Condition statement in\n         an IAM policy for DMS. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_Tag.html\">\n               <code>Tag</code>\n            </a> data type description.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AddTagsToResourceMessage": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the DMS resource to which tags should be added. The value for this parameter is an Amazon Resource Name (ARN).</p>\n         <p>For DMS, you can tag a replication instance, an endpoint, or a replication task.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.databasemigrationservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags to be assigned to the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Associates a set of tags with an DMS resource.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AddTagsToResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AmazonDMSv20160101": {
      "type": "service",
      "version": "2016-01-01",
      "operations": [
        {
          "target": "com.amazonaws.databasemigrationservice#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceAction"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRun"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateEndpoint"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateEventSubscription"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateFleetAdvisorCollector"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateReplicationInstance"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateReplicationSubnetGroup"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteCertificate"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteConnection"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteEndpoint"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteEventSubscription"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteFleetAdvisorCollector"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteFleetAdvisorDatabases"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteReplicationInstance"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteReplicationSubnetGroup"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteReplicationTaskAssessmentRun"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeAccountAttributes"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeApplicableIndividualAssessments"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeCertificates"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeConnections"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEndpoints"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEndpointSettings"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEndpointTypes"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEventCategories"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEvents"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEventSubscriptions"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeFleetAdvisorCollectors"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeFleetAdvisorDatabases"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeFleetAdvisorLsaAnalysis"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeFleetAdvisorSchemaObjectSummary"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeFleetAdvisorSchemas"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeOrderableReplicationInstances"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribePendingMaintenanceActions"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeRefreshSchemasStatus"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationInstances"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationInstanceTaskLogs"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationSubnetGroups"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTaskAssessmentResults"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTaskAssessmentRuns"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTaskIndividualAssessments"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTasks"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeSchemas"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeTableStatistics"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ImportCertificate"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ModifyEndpoint"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ModifyEventSubscription"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ModifyReplicationInstance"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ModifyReplicationSubnetGroup"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ModifyReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#MoveReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#RebootReplicationInstance"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#RefreshSchemas"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ReloadTables"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#RemoveTagsFromResource"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#RunFleetAdvisorLsaAnalysis"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#StartReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#StartReplicationTaskAssessment"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#StartReplicationTaskAssessmentRun"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#StopReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#TestConnection"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#UpdateSubscriptionsToEventBridge"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Database Migration Service",
          "arnNamespace": "dms",
          "cloudFormationName": "DMS",
          "cloudTrailEventSource": "databasemigrationservice.amazonaws.com",
          "endpointPrefix": "dms"
        },
        "aws.auth#sigv4": {
          "name": "dms"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Database Migration Service</fullname>\n         <p>Database Migration Service (DMS) can migrate your data to and from the most\n         widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL\n         Server, Amazon Redshift, MariaDB, Amazon Aurora, MySQL, and SAP Adaptive Server Enterprise\n         (ASE). The service supports homogeneous migrations such as Oracle to Oracle, as well as\n         heterogeneous migrations between different database platforms, such as Oracle to MySQL or\n         SQL Server to PostgreSQL.</p>\n         <p>For more information about DMS, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/Welcome.html\">What Is Database Migration Service?</a>\n         in the <i>Database Migration Service User Guide.</i>\n         </p>",
        "smithy.api#title": "AWS Database Migration Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://dms.amazonaws.com/doc/2016-01-01/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://dms-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "dms"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://dms-fips.us-west-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "dms"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://dms.us-gov-west-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://dms.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "dms"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://dms.us-iso-east-1.c2s.ic.gov",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-iso",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://dms.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "dms"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://dms.us-isob-east-1.sc2s.sgov.gov",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-iso-b",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://dms.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://dms-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://dms.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://dms.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-south-2"
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-south-2"
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-south-2"
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-south-2"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-south-2"
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-south-2"
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-south-2"
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-south-2"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-iso-west-1"
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-iso-west-1"
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-central-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-central-2"
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-central-2"
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-central-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-central-2"
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-central-2"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-southeast-4.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-4"
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.ap-southeast-4.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-4"
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-southeast-4.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-4"
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.ap-southeast-4.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-4"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dms.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Applies a pending maintenance action to a resource (for example, to a replication instance).</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionMessage": {
      "type": "structure",
      "members": {
        "ReplicationInstanceArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DMS resource that the pending maintenance\n         action applies to.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplyAction": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The pending maintenance action to apply to this resource.</p>\n         <p>Valid values: <code>os-upgrade</code>, <code>system-update</code>, <code>db-upgrade</code> \n         </p>",
            "smithy.api#required": {}
          }
        },
        "OptInType": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the type of opt-in request, or undoes an opt-in request. You can't undo an\n         opt-in request of type <code>immediate</code>.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>immediate</code> - Apply the maintenance action immediately.</p>\n            </li>\n            <li>\n               <p>\n                  <code>next-maintenance</code> - Apply the maintenance action during the next\n               maintenance window for the resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in\n               requests.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionResponse": {
      "type": "structure",
      "members": {
        "ResourcePendingMaintenanceActions": {
          "target": "com.amazonaws.databasemigrationservice#ResourcePendingMaintenanceActions",
          "traits": {
            "smithy.api#documentation": "<p>The DMS resource that the pending maintenance action will be applied to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databasemigrationservice#String"
      }
    },
    "com.amazonaws.databasemigrationservice#AuthMechanismValue": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "MONGODB_CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mongodb_cr"
          }
        },
        "SCRAM_SHA_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scram_sha_1"
          }
        }
      }
    },
    "com.amazonaws.databasemigrationservice#AuthTypeValue": {
      "type": "enum",
      "members": {
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "password"
          }
        }
      }
    },
    "com.amazonaws.databasemigrationservice#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of an Availability Zone for use during database migration.\n            <code>AvailabilityZone</code> is an optional parameter to the <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_CreateReplicationInstance.html\">\n               <code>CreateReplicationInstance</code>\n            </a> operation, and it’s value relates to\n         the Amazon Web Services Region of an endpoint. For example, the availability zone of an endpoint in the\n         us-east-1 region might be us-east-1a, us-east-1b, us-east-1c, or us-east-1d.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AvailabilityZonesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databasemigrationservice#String"
      }
    },
    "com.amazonaws.databasemigrationservice#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.databasemigrationservice#BooleanOptional": {
      "type": "boolean"
    },
    "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRunMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#AccessDeniedFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a single premigration assessment run.</p>\n         <p>This operation prevents any individual assessments from running if they haven't started\n         running. It also attempts to cancel any individual assessments that are currently\n         running.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRunMessage": {
      "type": "structure",
      "members": {
        "ReplicationTaskAssessmentRunArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the premigration assessment run to be canceled.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CancelReplicationTaskAssessmentRunResponse": {
      "type": "structure",
      "members": {
        "ReplicationTaskAssessmentRun": {
          "target": "com.amazonaws.databasemigrationservice#ReplicationTaskAssessmentRun",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ReplicationTaskAssessmentRun</code> object for the canceled assessment\n         run.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CannedAclForObjectsValue": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-read"
          }
        },
        "PUBLIC_READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-read-write"
          }
        },
        "AUTHENTICATED_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated-read"
          }
        },
        "AWS_EXEC_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws-exec-read"
          }
        },
        "BUCKET_OWNER_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket-owner-read"
          }
        },
        "BUCKET_OWNER_FULL_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket-owner-full-control"
          }
        }
      }
    },
    "com.amazonaws.databasemigrationservice#Certificate": {
      "type": "structure",
      "members": {
        "CertificateIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>A customer-assigned name for the certificate. Identifiers must begin with a letter and\n         must contain only ASCII letters, digits, and hyphens. They can't end with a hyphen or\n         contain two consecutive hyphens.</p>"
          }
        },
        "CertificateCreationDate": {
          "target": "com.amazonaws.databasemigrationservice#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the certificate was created.</p>"
          }
        },
        "CertificatePem": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The contents of a <code>.pem</code> file, which contains an X.509 certificate.</p>"
          }
        },
        "CertificateWallet": {
          "target": "com.amazonaws.databasemigrationservice#CertificateWallet",
          "traits": {
[...]
