{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.dataexchange#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>Access to the resource is denied.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to the resource is denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.dataexchange#Action": {
      "type": "structure",
      "members": {
        "ExportRevisionToS3": {
          "target": "com.amazonaws.dataexchange#AutoExportRevisionToS3RequestDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for the export revision to Amazon S3 action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>What occurs after a certain event.</p>"
      }
    },
    "com.amazonaws.dataexchange#ApiDescription": {
      "type": "string"
    },
    "com.amazonaws.dataexchange#ApiGatewayApiAsset": {
      "type": "structure",
      "members": {
        "ApiDescription": {
          "target": "com.amazonaws.dataexchange#ApiDescription",
          "traits": {
            "smithy.api#documentation": "<p>The API description of the API asset.</p>"
          }
        },
        "ApiEndpoint": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The API endpoint of the API asset.</p>"
          }
        },
        "ApiId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the API asset.</p>"
          }
        },
        "ApiKey": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The API key of the API asset.</p>"
          }
        },
        "ApiName": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The API name of the API asset.</p>"
          }
        },
        "ApiSpecificationDownloadUrl": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The download URL of the API specification of the API asset.</p>"
          }
        },
        "ApiSpecificationDownloadUrlExpiresAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the upload URL expires, in ISO 8601 format.</p>"
          }
        },
        "ProtocolType": {
          "target": "com.amazonaws.dataexchange#ProtocolType",
          "traits": {
            "smithy.api#documentation": "<p>The protocol type of the API asset.</p>"
          }
        },
        "Stage": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The stage of the API asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The API Gateway API that is the asset.</p>"
      }
    },
    "com.amazonaws.dataexchange#Arn": {
      "type": "string"
    },
    "com.amazonaws.dataexchange#AssetDestinationEntry": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "Bucket": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that is the destination for the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the object in Amazon S3 for the asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination for the asset.</p>"
      }
    },
    "com.amazonaws.dataexchange#AssetDetails": {
      "type": "structure",
      "members": {
        "S3SnapshotAsset": {
          "target": "com.amazonaws.dataexchange#S3SnapshotAsset",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 object that is the asset.</p>"
          }
        },
        "RedshiftDataShareAsset": {
          "target": "com.amazonaws.dataexchange#RedshiftDataShareAsset",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Redshift datashare that is the asset.</p>"
          }
        },
        "ApiGatewayApiAsset": {
          "target": "com.amazonaws.dataexchange#ApiGatewayApiAsset",
          "traits": {
            "smithy.api#documentation": "<p>Information about the API Gateway API asset.</p>"
          }
        },
        "S3DataAccessAsset": {
          "target": "com.amazonaws.dataexchange#S3DataAccessAsset",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 data access that is the asset.</p>"
          }
        },
        "LakeFormationDataPermissionAsset": {
          "target": "com.amazonaws.dataexchange#LakeFormationDataPermissionAsset",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Lake Formation data permission that is the asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the asset.</p>"
      }
    },
    "com.amazonaws.dataexchange#AssetEntry": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "AssetDetails": {
          "target": "com.amazonaws.dataexchange#AssetDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of asset that is added to a data set.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the asset was created, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this asset.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset. When importing from Amazon S3, the Amazon S3 object key is used\n         as the asset name. When exporting to Amazon S3, the asset name is used as default target\n         Amazon S3 object key. When importing from Amazon API Gateway API, the API name is used as\n         the asset name. When importing from Amazon Redshift, the datashare name is used as the\n         asset name. When importing from AWS Lake Formation, the static values of \"Database(s)\n         included in LF-tag policy\" or \"Table(s) included in LF-tag policy\" are used as the asset\n         name.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this asset.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the asset was last updated, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An asset in AWS Data Exchange is a piece of data (Amazon S3 object) or a means of\n         fulfilling data (Amazon Redshift datashare or Amazon API Gateway API, AWS Lake Formation\n         data permission, or Amazon S3 data access). The asset can be a structured data file, an\n         image file, or some other data file that can be stored as an Amazon S3 object, an Amazon\n         API Gateway API, or an Amazon Redshift datashare, an AWS Lake Formation data permission, or\n         an Amazon S3 data access. When you create an import job for your files, API Gateway APIs,\n         Amazon Redshift datashares, AWS Lake Formation data permission, or Amazon S3 data access,\n         you create an asset in AWS Data Exchange.</p>"
      }
    },
    "com.amazonaws.dataexchange#AssetName": {
      "type": "string"
    },
    "com.amazonaws.dataexchange#AssetSourceEntry": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that's part of the source of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the object in Amazon S3 for the asset.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source of the assets.</p>"
      }
    },
    "com.amazonaws.dataexchange#AssetType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3_SNAPSHOT",
            "name": "S3_SNAPSHOT"
          },
          {
            "value": "REDSHIFT_DATA_SHARE",
            "name": "REDSHIFT_DATA_SHARE"
          },
          {
            "value": "API_GATEWAY_API",
            "name": "API_GATEWAY_API"
          },
          {
            "value": "S3_DATA_ACCESS",
            "name": "S3_DATA_ACCESS"
          },
          {
            "value": "LAKE_FORMATION_DATA_PERMISSION",
            "name": "LAKE_FORMATION_DATA_PERMISSION"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#AutoExportRevisionDestinationEntry": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that is the destination for the event action.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyPattern": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>A string representing the pattern for generated names of the individual assets in the revision. For more information about key patterns, see <a href=\"https://docs.aws.amazon.com/data-exchange/latest/userguide/jobs.html#revision-export-keypatterns\">Key patterns when exporting revisions</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A revision destination is the Amazon S3 bucket folder destination to where the export will be sent.</p>"
      }
    },
    "com.amazonaws.dataexchange#AutoExportRevisionToS3RequestDetails": {
      "type": "structure",
      "members": {
        "Encryption": {
          "target": "com.amazonaws.dataexchange#ExportServerSideEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Encryption configuration for the auto export job.</p>"
          }
        },
        "RevisionDestination": {
          "target": "com.amazonaws.dataexchange#AutoExportRevisionDestinationEntry",
          "traits": {
            "smithy.api#documentation": "<p>A revision destination is the Amazon S3 bucket folder destination to where the export will be sent.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the operation to be performed by the job.</p>"
      }
    },
    "com.amazonaws.dataexchange#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "/^[\\d]{12}$/"
      }
    },
    "com.amazonaws.dataexchange#CancelJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#CancelJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#ConflictException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation cancels a job. Jobs can be cancelled only when they are in the WAITING state.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/jobs/{JobId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.dataexchange#CancelJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#Code": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCESS_DENIED_EXCEPTION",
            "name": "ACCESS_DENIED_EXCEPTION"
          },
          {
            "value": "INTERNAL_SERVER_EXCEPTION",
            "name": "INTERNAL_SERVER_EXCEPTION"
          },
          {
            "value": "MALWARE_DETECTED",
            "name": "MALWARE_DETECTED"
          },
          {
            "value": "RESOURCE_NOT_FOUND_EXCEPTION",
            "name": "RESOURCE_NOT_FOUND_EXCEPTION"
          },
          {
            "value": "SERVICE_QUOTA_EXCEEDED_EXCEPTION",
            "name": "SERVICE_QUOTA_EXCEEDED_EXCEPTION"
          },
          {
            "value": "VALIDATION_EXCEPTION",
            "name": "VALIDATION_EXCEPTION"
          },
          {
            "value": "MALWARE_SCAN_ENCRYPTED_FILE",
            "name": "MALWARE_SCAN_ENCRYPTED_FILE"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the resource with the conflict.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.dataexchange#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource with the conflict.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.dataexchange#CreateDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#CreateDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#CreateDataSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation creates a data set.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/data-sets",
          "code": 201
        }
      }
    },
    "com.amazonaws.dataexchange#CreateDataSetRequest": {
      "type": "structure",
      "members": {
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of asset that is added to a data set.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.dataexchange#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the data set. This value can be up to 16,348 characters long.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A data set tag is an optional label that you can assign to a data set when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#CreateDataSetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the data set.</p>"
          }
        },
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of asset that is added to a data set.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.dataexchange#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description for the data set.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data set.</p>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.dataexchange#Origin",
          "traits": {
            "smithy.api#documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>"
          }
        },
        "OriginDetails": {
          "target": "com.amazonaws.dataexchange#OriginDetails",
          "traits": {
            "smithy.api#documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the data set.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#CreateEventAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#CreateEventActionRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#CreateEventActionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation creates an event action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/event-actions",
          "code": 201
        }
      }
    },
    "com.amazonaws.dataexchange#CreateEventActionRequest": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.dataexchange#Action",
          "traits": {
            "smithy.api#documentation": "<p>What occurs after a certain event.</p>",
            "smithy.api#required": {}
          }
        },
        "Event": {
          "target": "com.amazonaws.dataexchange#Event",
          "traits": {
            "smithy.api#documentation": "<p>What occurs to start an action.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#CreateEventActionResponse": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.dataexchange#Action",
          "traits": {
            "smithy.api#documentation": "<p>What occurs after a certain event.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the event action.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event action was created, in ISO 8601 format.</p>"
          }
        },
        "Event": {
          "target": "com.amazonaws.dataexchange#Event",
          "traits": {
            "smithy.api#documentation": "<p>What occurs to start an action.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event action.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event action was last updated, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#CreateJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#CreateJobRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#CreateJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#ConflictException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation creates a job.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/jobs",
          "code": 201
        }
      }
    },
    "com.amazonaws.dataexchange#CreateJobRequest": {
      "type": "structure",
      "members": {
        "Details": {
          "target": "com.amazonaws.dataexchange#RequestDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details for the CreateJob request.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.dataexchange#Type",
          "traits": {
            "smithy.api#documentation": "<p>The type of job to be created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#CreateJobResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the job.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the job was created, in ISO 8601 format.</p>"
          }
        },
        "Details": {
          "target": "com.amazonaws.dataexchange#ResponseDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the job.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.dataexchange#ListOfJobError",
          "traits": {
            "smithy.api#documentation": "<p>The errors associated with jobs.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the job.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.dataexchange#State",
          "traits": {
            "smithy.api#documentation": "<p>The state of the job.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.dataexchange#Type",
          "traits": {
            "smithy.api#documentation": "<p>The job type.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the job was last updated, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#CreateRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#CreateRevisionRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#CreateRevisionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation creates a revision for a data set.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/data-sets/{DataSetId}/revisions",
          "code": 201
        }
      }
    },
    "com.amazonaws.dataexchange#CreateRevisionRequest": {
      "type": "structure",
      "members": {
        "Comment": {
          "target": "com.amazonaws.dataexchange#__stringMin0Max16384",
          "traits": {
            "smithy.api#documentation": "<p>An optional comment about the revision.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A revision tag is an optional label that you can assign to a revision when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#CreateRevisionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the revision.</p>"
          }
        },
        "Comment": {
          "target": "com.amazonaws.dataexchange#__stringMin0Max16384",
          "traits": {
            "smithy.api#documentation": "<p>An optional comment about the revision.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the revision was created, in ISO 8601 format.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with the data set revision.</p>"
          }
        },
        "Finalized": {
          "target": "com.amazonaws.dataexchange#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products. Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the revision.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the revision was last updated, in ISO 8601 format.</p>"
          }
        },
        "RevocationComment": {
          "target": "com.amazonaws.dataexchange#__stringMin10Max512",
          "traits": {
            "smithy.api#documentation": "<p>A required comment to inform subscribers of the reason their access to the revision was revoked.</p>"
          }
        },
        "Revoked": {
          "target": "com.amazonaws.dataexchange#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A status indicating that subscribers' access to the revision was revoked.</p>"
          }
        },
        "RevokedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the revision was revoked, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#CreateS3DataAccessFromS3BucketRequestDetails": {
      "type": "structure",
      "members": {
        "AssetSource": {
          "target": "com.amazonaws.dataexchange#S3DataAccessAssetSourceEntry",
          "traits": {
            "smithy.api#documentation": "<p>Details about the S3 data access source asset.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with the creation of this Amazon S3 data access.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a revision.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the operation to create an Amazon S3 data access from an S3 bucket.</p>"
      }
    },
    "com.amazonaws.dataexchange#CreateS3DataAccessFromS3BucketResponseDetails": {
      "type": "structure",
      "members": {
        "AssetSource": {
          "target": "com.amazonaws.dataexchange#S3DataAccessAssetSourceEntry",
          "traits": {
            "smithy.api#documentation": "<p>Details about the asset source from an Amazon S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this data set.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the response of the operation to create an S3 data access from an S3 bucket.</p>"
      }
    },
    "com.amazonaws.dataexchange#DataExchange": {
      "type": "service",
      "version": "2017-07-25",
      "operations": [
        {
          "target": "com.amazonaws.dataexchange#CancelJob"
        },
        {
          "target": "com.amazonaws.dataexchange#CreateDataSet"
        },
        {
          "target": "com.amazonaws.dataexchange#CreateEventAction"
        },
        {
          "target": "com.amazonaws.dataexchange#CreateJob"
        },
        {
          "target": "com.amazonaws.dataexchange#CreateRevision"
        },
        {
          "target": "com.amazonaws.dataexchange#DeleteAsset"
        },
        {
          "target": "com.amazonaws.dataexchange#DeleteDataSet"
        },
        {
          "target": "com.amazonaws.dataexchange#DeleteEventAction"
        },
        {
          "target": "com.amazonaws.dataexchange#DeleteRevision"
        },
        {
          "target": "com.amazonaws.dataexchange#GetAsset"
        },
        {
          "target": "com.amazonaws.dataexchange#GetDataSet"
        },
        {
          "target": "com.amazonaws.dataexchange#GetEventAction"
        },
        {
          "target": "com.amazonaws.dataexchange#GetJob"
        },
        {
          "target": "com.amazonaws.dataexchange#GetRevision"
        },
        {
          "target": "com.amazonaws.dataexchange#ListDataSetRevisions"
        },
        {
          "target": "com.amazonaws.dataexchange#ListDataSets"
        },
        {
          "target": "com.amazonaws.dataexchange#ListEventActions"
        },
        {
          "target": "com.amazonaws.dataexchange#ListJobs"
        },
        {
          "target": "com.amazonaws.dataexchange#ListRevisionAssets"
        },
        {
          "target": "com.amazonaws.dataexchange#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.dataexchange#RevokeRevision"
        },
        {
          "target": "com.amazonaws.dataexchange#SendApiAsset"
        },
        {
          "target": "com.amazonaws.dataexchange#StartJob"
        },
        {
          "target": "com.amazonaws.dataexchange#TagResource"
        },
        {
          "target": "com.amazonaws.dataexchange#UntagResource"
        },
        {
          "target": "com.amazonaws.dataexchange#UpdateAsset"
        },
        {
          "target": "com.amazonaws.dataexchange#UpdateDataSet"
        },
        {
          "target": "com.amazonaws.dataexchange#UpdateEventAction"
        },
        {
          "target": "com.amazonaws.dataexchange#UpdateRevision"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DataExchange",
          "arnNamespace": "dataexchange",
          "cloudTrailEventSource": "dataexchange.amazonaws.com",
          "endpointPrefix": "dataexchange"
        },
        "aws.auth#sigv4": {
          "name": "dataexchange"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>AWS Data Exchange is a service that makes it easy for AWS customers to exchange data in the cloud. You can use the AWS Data Exchange APIs to create, update, manage, and access file-based data set in the AWS Cloud.</p>\n         <p>As a subscriber, you can view and access the data sets that you have an entitlement to through\n         a subscription. You can use the APIs to download or copy your entitled data sets to Amazon\n         Simple Storage Service (Amazon S3) for use across a variety of AWS analytics and machine\n         learning services.</p>\n         <p>As a provider, you can create and manage your data sets that you would like to publish to a\n         product. Being able to package and provide your data sets into products requires a few\n         steps to determine eligibility. For more information, visit the <i>AWS Data Exchange\n            User Guide</i>.</p>\n         <p>A data set is a collection of data that can be changed or updated over time. Data sets can be\n         updated using revisions, which represent a new version or incremental change to a data set.\n         A revision contains one or more assets. An asset in AWS Data Exchange is a piece of data\n         that can be stored as an Amazon S3 object, Redshift datashare, API Gateway API, AWS Lake\n         Formation data permission, or Amazon S3 data access. The asset can be a structured data\n         file, an image file, or some other data file. Jobs are asynchronous import or export\n         operations used to create or copy assets.</p>",
        "smithy.api#title": "AWS Data Exchange",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://dataexchange-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://dataexchange-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://dataexchange.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://dataexchange.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataexchange.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.dataexchange#DataSetEntry": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of asset that is added to a data set.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.dataexchange#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description for the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "Origin": {
          "target": "com.amazonaws.dataexchange#Origin",
          "traits": {
            "smithy.api#documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
            "smithy.api#required": {}
          }
        },
        "OriginDetails": {
          "target": "com.amazonaws.dataexchange#OriginDetails",
          "traits": {
            "smithy.api#documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A data set is an AWS resource with one or more revisions.</p>"
      }
    },
    "com.amazonaws.dataexchange#DatabaseLFTagPolicy": {
      "type": "structure",
      "members": {
        "Expression": {
          "target": "com.amazonaws.dataexchange#ListOfLFTags",
          "traits": {
            "smithy.api#documentation": "<p>A list of LF-tag conditions that apply to database resources.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The LF-tag policy for database resources.</p>"
      }
    },
    "com.amazonaws.dataexchange#DatabaseLFTagPolicyAndPermissions": {
      "type": "structure",
      "members": {
        "Expression": {
          "target": "com.amazonaws.dataexchange#ListOfLFTags",
          "traits": {
            "smithy.api#documentation": "<p>A list of LF-tag conditions that apply to database resources.</p>",
            "smithy.api#required": {}
          }
        },
        "Permissions": {
          "target": "com.amazonaws.dataexchange#ListOfDatabaseLFTagPolicyPermissions",
          "traits": {
            "smithy.api#documentation": "<p>The permissions granted to subscribers on database resources.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The LF-tag policy and permissions for database resources.</p>"
      }
    },
    "com.amazonaws.dataexchange#DatabaseLFTagPolicyPermission": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DESCRIBE",
            "name": "DESCRIBE"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#DeleteAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#DeleteAssetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#ConflictException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes an asset.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteAssetRequest": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for an asset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a revision.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#DeleteDataSetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#ConflictException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes a data set.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/data-sets/{DataSetId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteDataSetRequest": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteEventAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#DeleteEventActionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes the event action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/event-actions/{EventActionId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteEventActionRequest": {
      "type": "structure",
      "members": {
        "EventActionId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event action.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#DeleteRevisionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#ConflictException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes a revision.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteRevisionRequest": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a revision.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#Description": {
      "type": "string"
    },
    "com.amazonaws.dataexchange#Details": {
      "type": "structure",
      "members": {
        "ImportAssetFromSignedUrlJobErrorDetails": {
          "target": "com.amazonaws.dataexchange#ImportAssetFromSignedUrlJobErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the job error.</p>"
          }
        },
        "ImportAssetsFromS3JobErrorDetails": {
          "target": "com.amazonaws.dataexchange#ListOfAssetSourceEntry",
          "traits": {
            "smithy.api#documentation": "<p>Details about the job error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the job error.</p>"
      }
    },
    "com.amazonaws.dataexchange#Event": {
      "type": "structure",
      "members": {
        "RevisionPublished": {
          "target": "com.amazonaws.dataexchange#RevisionPublished",
          "traits": {
            "smithy.api#documentation": "<p>What occurs to start the revision publish action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>What occurs to start an action.</p>"
      }
    },
    "com.amazonaws.dataexchange#EventActionEntry": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.dataexchange#Action",
          "traits": {
            "smithy.api#documentation": "<p>What occurs after a certain event.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the event action.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event action was created, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "Event": {
          "target": "com.amazonaws.dataexchange#Event",
          "traits": {
            "smithy.api#documentation": "<p>What occurs to start an action.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event action.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event action was last updated, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An event action is an object that defines the relationship between a specific event and an automated action that will be taken on behalf of the customer.</p>"
      }
    },
    "com.amazonaws.dataexchange#ExceptionCause": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "InsufficientS3BucketPolicy",
            "name": "InsufficientS3BucketPolicy"
          },
          {
            "value": "S3AccessDenied",
            "name": "S3AccessDenied"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#ExportAssetToSignedUrlRequestDetails": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the asset that is exported to a signed URL.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this export request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the operation to be performed by the job.</p>"
      }
    },
    "com.amazonaws.dataexchange#ExportAssetToSignedUrlResponseDetails": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the asset associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this export response.</p>",
            "smithy.api#required": {}
          }
        },
        "SignedUrl": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The signed URL for the export request.</p>"
          }
        },
        "SignedUrlExpiresAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the signed URL expires, in ISO 8601 format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the export to signed URL response.</p>"
      }
    },
    "com.amazonaws.dataexchange#ExportAssetsToS3RequestDetails": {
      "type": "structure",
      "members": {
        "AssetDestinations": {
          "target": "com.amazonaws.dataexchange#ListOfAssetDestinationEntry",
          "traits": {
            "smithy.api#documentation": "<p>The destination for the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "Encryption": {
          "target": "com.amazonaws.dataexchange#ExportServerSideEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Encryption configuration for the export job.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this export request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the operation to be performed by the job.</p>"
      }
    },
    "com.amazonaws.dataexchange#ExportAssetsToS3ResponseDetails": {
      "type": "structure",
      "members": {
        "AssetDestinations": {
          "target": "com.amazonaws.dataexchange#ListOfAssetDestinationEntry",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon S3 where the asset is exported.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "Encryption": {
          "target": "com.amazonaws.dataexchange#ExportServerSideEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Encryption configuration of the export job.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this export response.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the export to Amazon S3 response.</p>"
      }
    },
    "com.amazonaws.dataexchange#ExportRevisionsToS3RequestDetails": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "Encryption": {
          "target": "com.amazonaws.dataexchange#ExportServerSideEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Encryption configuration for the export job.</p>"
          }
        },
        "RevisionDestinations": {
          "target": "com.amazonaws.dataexchange#ListOfRevisionDestinationEntry",
          "traits": {
            "smithy.api#documentation": "<p>The destination for the revision.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the operation to be performed by the job.</p>"
      }
    },
    "com.amazonaws.dataexchange#ExportRevisionsToS3ResponseDetails": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "Encryption": {
          "target": "com.amazonaws.dataexchange#ExportServerSideEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Encryption configuration of the export job.</p>"
          }
        },
        "RevisionDestinations": {
          "target": "com.amazonaws.dataexchange#ListOfRevisionDestinationEntry",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon S3 where the revision is exported.</p>",
            "smithy.api#required": {}
          }
        },
        "EventActionArn": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the event action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the export revisions to Amazon S3 response.</p>"
      }
    },
    "com.amazonaws.dataexchange#ExportServerSideEncryption": {
      "type": "structure",
      "members": {
        "KmsKeyArn": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS KMS key you want to use to encrypt the Amazon S3 objects. This parameter is required if you choose aws:kms as an encryption type.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.dataexchange#ServerSideEncryptionTypes",
          "traits": {
            "smithy.api#documentation": "<p>The type of server side encryption used for encrypting the objects in Amazon S3.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Encryption configuration of the export job. Includes the encryption type in addition to the AWS KMS key. The KMS key is only necessary if you chose the KMS encryption type.</p>"
      }
    },
    "com.amazonaws.dataexchange#GetAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#GetAssetRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#GetAssetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns information about an asset.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.dataexchange#GetAssetRequest": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for an asset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a revision.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#GetAssetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the asset.</p>"
          }
        },
        "AssetDetails": {
          "target": "com.amazonaws.dataexchange#AssetDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the asset.</p>"
          }
        },
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of asset that is added to a data set.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
[...]
