{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.datazone#AcceptChoice": {
      "type": "structure",
      "members": {
        "predictionTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the target (for example, a column name) where a prediction can be\n         accepted.</p>"
          }
        },
        "predictionChoice": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the prediction (aka, the automatically generated piece of metadata) that can\n         be accepted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the prediction (aka, the automatically generated piece of metadata) and the\n         target (for example, a column name) that can be accepted.</p>"
      }
    },
    "com.amazonaws.datazone#AcceptChoices": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AcceptChoice"
      }
    },
    "com.amazonaws.datazone#AcceptPredictions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#AcceptPredictionsInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#AcceptPredictionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts automatically generated business-friendly metadata for your Amazon DataZone\n         assets.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/v2/domains/{domainIdentifier}/assets/{identifier}/accept-predictions"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#AcceptPredictionsInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.datazone#AssetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#httpQuery": "revision"
          }
        },
        "acceptRule": {
          "target": "com.amazonaws.datazone#AcceptRule",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the rule (or the conditions) under which a prediction can be accepted.</p>"
          }
        },
        "acceptChoices": {
          "target": "com.amazonaws.datazone#AcceptChoices",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.datazone#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request. This field is\n         automatically populated if not provided.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#AcceptPredictionsOutput": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#AcceptRule": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.amazonaws.datazone#AcceptRuleBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want to accept the top prediction for all targets or none.</p>"
          }
        },
        "threshold": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score that specifies the condition at which a prediction can be\n         accepted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the rule and the threshold under which a prediction can be accepted.</p>"
      }
    },
    "com.amazonaws.datazone#AcceptRuleBehavior": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.datazone#AcceptSubscriptionRequest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#AcceptSubscriptionRequestInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#AcceptSubscriptionRequestOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a subscription request to a specific asset. </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/v2/domains/{domainIdentifier}/subscription-requests/{identifier}/accept"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#AcceptSubscriptionRequestInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone domain where the specified subscription request is being accepted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.datazone#SubscriptionRequestId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the subscription request that is to be accepted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "decisionComment": {
          "target": "com.amazonaws.datazone#DecisionComment",
          "traits": {
            "smithy.api#documentation": "<p>A description that specifies the reason for accepting the specified subscription\n         request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#AcceptSubscriptionRequestOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#SubscriptionRequestId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the subscription request.</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon DataZone user that accepted the specified subscription request.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon DataZone user who updated the subscription request.</p>"
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon DataZone domain where the specified subscription request\n         was accepted.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.datazone#SubscriptionRequestStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of the subscription request.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that specifies when the subscription request was accepted.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.datazone#UpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the timestamp when subscription request was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "requestReason": {
          "target": "com.amazonaws.datazone#RequestReason",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the reason for requesting a subscription to the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "subscribedPrincipals": {
          "target": "com.amazonaws.datazone#SubscribedPrincipals",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon DataZone users who are subscribed to the asset specified in the\n         subscription request.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            },
            "smithy.api#required": {}
          }
        },
        "subscribedListings": {
          "target": "com.amazonaws.datazone#SubscribedListings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the asset for which the subscription request was created.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            },
            "smithy.api#required": {}
          }
        },
        "reviewerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifes the ID of the Amazon DataZone user who reviewed the subscription request.</p>"
          }
        },
        "decisionComment": {
          "target": "com.amazonaws.datazone#DecisionComment",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the reason for accepting the subscription request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.datazone#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.datazone#ActionLink": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.datazone#ApplicableAssetTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#TypeName"
      }
    },
    "com.amazonaws.datazone#Asset": {
      "type": "resource",
      "identifiers": {
        "identifier": {
          "target": "com.amazonaws.datazone#AssetIdentifier"
        }
      },
      "properties": {
        "id": {
          "target": "com.amazonaws.datazone#AssetId"
        },
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId"
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId"
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision"
        },
        "externalIdentifier": {
          "target": "com.amazonaws.datazone#ExternalIdentifier"
        },
        "listing": {
          "target": "com.amazonaws.datazone#AssetListingDetails"
        },
        "name": {
          "target": "com.amazonaws.datazone#AssetName"
        },
        "typeIdentifier": {
          "target": "com.amazonaws.datazone#AssetTypeIdentifier"
        },
        "typeRevision": {
          "target": "com.amazonaws.datazone#Revision"
        },
        "description": {
          "target": "com.amazonaws.datazone#Description"
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#GlossaryTerms"
        },
        "formsInput": {
          "target": "com.amazonaws.datazone#FormInputList"
        },
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList"
        },
        "readOnlyFormsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList"
        },
        "owningProjectIdentifier": {
          "target": "com.amazonaws.datazone#ProjectId"
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId"
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy"
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt"
        },
        "firstRevisionCreatedAt": {
          "target": "com.amazonaws.datazone#CreatedAt"
        },
        "firstRevisionCreatedBy": {
          "target": "com.amazonaws.datazone#CreatedBy"
        }
      },
      "create": {
        "target": "com.amazonaws.datazone#CreateAsset"
      },
      "read": {
        "target": "com.amazonaws.datazone#GetAsset"
      },
      "delete": {
        "target": "com.amazonaws.datazone#DeleteAsset"
      },
      "operations": [
        {
          "target": "com.amazonaws.datazone#CreateAssetRevision"
        }
      ]
    },
    "com.amazonaws.datazone#AssetId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_-]{1,36}$"
      }
    },
    "com.amazonaws.datazone#AssetIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_-]{1,36}$"
      }
    },
    "com.amazonaws.datazone#AssetItem": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain in which the inventory asset exists.</p>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.datazone#AssetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>the identifier of the Amazon DataZone inventory asset.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon DataZone inventory asset.</p>",
            "smithy.api#required": {}
          }
        },
        "typeIdentifier": {
          "target": "com.amazonaws.datazone#AssetTypeIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the asset type of the specified Amazon DataZone inventory asset.</p>",
            "smithy.api#required": {}
          }
        },
        "typeRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the inventory asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "externalIdentifier": {
          "target": "com.amazonaws.datazone#ExternalIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The external identifier of the Amazon DataZone inventory asset.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of an Amazon DataZone inventory asset.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the Amazon DataZone inventory asset was created.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the inventory asset.</p>"
          }
        },
        "firstRevisionCreatedAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the first revision of the inventory asset was created.</p>"
          }
        },
        "firstRevisionCreatedBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the first revision of the inventory asset.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#GlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>The glossary terms attached to the Amazon DataZone inventory asset.</p>"
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone project that owns the inventory asset.</p>",
            "smithy.api#required": {}
          }
        },
        "additionalAttributes": {
          "target": "com.amazonaws.datazone#AssetItemAdditionalAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The additional attributes of a Amazon DataZone inventory asset. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Amazon DataZone inventory asset.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.datazone#Asset"
          }
        ]
      }
    },
    "com.amazonaws.datazone#AssetItemAdditionalAttributes": {
      "type": "structure",
      "members": {
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The forms included in the additional attributes of an inventory asset.</p>"
          }
        },
        "readOnlyFormsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The read-only forms included in the additional attributes of an inventory asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The additional attributes of an inventory asset.</p>"
      }
    },
    "com.amazonaws.datazone#AssetListing": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an asset published in an Amazon DataZone catalog. </p>"
          }
        },
        "assetRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of an asset published in an Amazon DataZone catalog. </p>"
          }
        },
        "assetType": {
          "target": "com.amazonaws.datazone#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The type of an asset published in an Amazon DataZone catalog. </p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when an asset published in an Amazon DataZone catalog was created. </p>"
          }
        },
        "forms": {
          "target": "com.amazonaws.datazone#Forms",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms attached to an asset published in an Amazon DataZone catalog. </p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#DetailedGlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>The glossary terms attached to an asset published in an Amazon DataZone catalog. </p>"
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the project where an asset published in an Amazon DataZone catalog exists.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An asset published in an Amazon DataZone catalog.</p>"
      }
    },
    "com.amazonaws.datazone#AssetListingDetails": {
      "type": "structure",
      "members": {
        "listingId": {
          "target": "com.amazonaws.datazone#ListingId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an asset published in an Amazon DataZone catalog. </p>",
            "smithy.api#required": {}
          }
        },
        "listingStatus": {
          "target": "com.amazonaws.datazone#ListingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of an asset published in an Amazon DataZone catalog. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an asset published in an Amazon DataZone catalog. </p>"
      }
    },
    "com.amazonaws.datazone#AssetListingItem": {
      "type": "structure",
      "members": {
        "listingId": {
          "target": "com.amazonaws.datazone#ListingId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the listing (asset published in Amazon DataZone catalog).</p>"
          }
        },
        "listingRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the listing (asset published in Amazon DataZone catalog).</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the inventory asset.</p>"
          }
        },
        "entityId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the inventory asset.</p>"
          }
        },
        "entityRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the inventory asset.</p>"
          }
        },
        "entityType": {
          "target": "com.amazonaws.datazone#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The type of the inventory asset.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of an asset published in an Amazon DataZone catalog.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when an asset published in an Amazon DataZone catalog was created.</p>"
          }
        },
        "listingCreatedBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the listing.</p>"
          }
        },
        "listingUpdatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who updated the listing.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#DetailedGlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>Glossary terms attached to the inventory asset.</p>"
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the project that owns the inventory asset.</p>"
          }
        },
        "additionalAttributes": {
          "target": "com.amazonaws.datazone#AssetListingItemAdditionalAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The additional attributes of an asset published in an Amazon DataZone catalog.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an asset published in an Amazon DataZone catalog.</p>"
      }
    },
    "com.amazonaws.datazone#AssetListingItemAdditionalAttributes": {
      "type": "structure",
      "members": {
        "forms": {
          "target": "com.amazonaws.datazone#Forms",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms that form additional attributes of the metadata asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional attributes of an inventory asset.</p>"
      }
    },
    "com.amazonaws.datazone#AssetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.datazone#AssetRevision": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the inventory asset.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the inventory asset revision.</p>"
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision details of the inventory asset.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the asset revision.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when an inventory asset revison was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The revision of an inventory asset.</p>"
      }
    },
    "com.amazonaws.datazone#AssetRevisions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AssetRevision"
      }
    },
    "com.amazonaws.datazone#AssetTargetNameMap": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the inventory asset.</p>",
            "smithy.api#required": {}
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The target name in the asset target name map.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.datazone#AssetTargetNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AssetTargetNameMap"
      }
    },
    "com.amazonaws.datazone#AssetType": {
      "type": "resource",
      "identifiers": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId"
        },
        "identifier": {
          "target": "com.amazonaws.datazone#AssetTypeIdentifier"
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision"
        }
      },
      "properties": {
        "name": {
          "target": "com.amazonaws.datazone#TypeName"
        },
        "description": {
          "target": "com.amazonaws.datazone#Description"
        },
        "formsInput": {
          "target": "com.amazonaws.datazone#FormsInputMap"
        },
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormsOutputMap"
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId"
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId"
        },
        "originDomainId": {
          "target": "com.amazonaws.datazone#DomainId"
        },
        "originProjectId": {
          "target": "com.amazonaws.datazone#ProjectId"
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt"
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy"
        },
        "updatedAt": {
          "target": "com.amazonaws.datazone#UpdatedAt"
        },
        "updatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy"
        }
      },
      "create": {
        "target": "com.amazonaws.datazone#CreateAssetType"
      },
      "collectionOperations": [
        {
          "target": "com.amazonaws.datazone#DeleteAssetType"
        },
        {
          "target": "com.amazonaws.datazone#GetAssetType"
        }
      ]
    },
    "com.amazonaws.datazone#AssetTypeIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 385
        },
        "smithy.api#pattern": "^(?!\\.)[\\w\\.]*\\w$"
      }
    },
    "com.amazonaws.datazone#AssetTypeItem": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain where the asset type exists.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the asset type.</p>"
          }
        },
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormsOutputMap",
          "traits": {
            "smithy.api#documentation": "<p>The forms included in the details of the asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone project that owns the asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "originDomainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain where the asset type was originally\n         created.</p>"
          }
        },
        "originProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone project where the asset type exists.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the asset type was created.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the asset type.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.datazone#UpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the asset type was updated.</p>"
          }
        },
        "updatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who updated the asset type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the asset type.</p>"
      }
    },
    "com.amazonaws.datazone#Attribute": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.datazone#AuthType": {
      "type": "enum",
      "members": {
        "IAM_IDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM_IDC"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.datazone#AuthorizedPrincipalIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9:/_-]*$"
      }
    },
    "com.amazonaws.datazone#AuthorizedPrincipalIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AuthorizedPrincipalIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.datazone#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.datazone#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-z]{2}-[a-z]{4,10}-\\d$"
      }
    },
    "com.amazonaws.datazone#BusinessNameGenerationConfiguration": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the business name generation is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of the business name generation.</p>"
      }
    },
    "com.amazonaws.datazone#CancelSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CancelSubscriptionInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CancelSubscriptionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the subscription to the specified asset.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/v2/domains/{domainIdentifier}/subscriptions/{identifier}/cancel"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#CancelSubscriptionInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon DataZone domain where the subscription request is being\n         cancelled.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.datazone#SubscriptionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the subscription that is being cancelled.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CancelSubscriptionOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#SubscriptionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon DataZone user who is cancelling the subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user that cancelled the subscription.</p>"
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon DataZone domain where the subscription is being\n         cancelled.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.datazone#SubscriptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request to cancel the subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that specifies when the request to cancel the subscription was\n         created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.datazone#UpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that specifies when the subscription was cancelled.</p>",
            "smithy.api#required": {}
          }
        },
        "subscribedPrincipal": {
          "target": "com.amazonaws.datazone#SubscribedPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who is made a subscriber to the specified asset by the subscription\n         that is being cancelled.</p>",
            "smithy.api#required": {}
          }
        },
        "subscribedListing": {
          "target": "com.amazonaws.datazone#SubscribedListing",
          "traits": {
            "smithy.api#documentation": "<p>The asset to which a subscription is being cancelled.</p>",
            "smithy.api#required": {}
          }
        },
        "subscriptionRequestId": {
          "target": "com.amazonaws.datazone#SubscriptionRequestId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the subscripton request for the subscription that is being\n         cancelled.</p>"
          }
        },
        "retainPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the permissions to the asset are retained after the subscription is\n         cancelled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#ChangeAction": {
      "type": "enum",
      "members": {
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISH"
          }
        },
        "UNPUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNPUBLISH"
          }
        }
      }
    },
    "com.amazonaws.datazone#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\x21-\\x7E]+$"
      }
    },
    "com.amazonaws.datazone#CloudFormationProperties": {
      "type": "structure",
      "members": {
        "templateUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The template URL of the cloud formation provisioning properties of the environment\n         blueprint.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Part of the provisioning properties of the environment blueprint.</p>"
      }
    },
    "com.amazonaws.datazone#ConfigurableActionParameter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The key of the configurable action parameter.</p>"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the configurable action parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the parameters for the configurable environment action.</p>"
      }
    },
    "com.amazonaws.datazone#ConfigurableActionParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#ConfigurableActionParameter"
      }
    },
    "com.amazonaws.datazone#ConfigurableActionTypeAuthorization": {
      "type": "enum",
      "members": {
        "IAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        }
      }
    },
    "com.amazonaws.datazone#ConfigurableEnvironmentAction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of a configurable action in a Amazon DataZone environment.</p>",
            "smithy.api#required": {}
          }
        },
        "auth": {
          "target": "com.amazonaws.datazone#ConfigurableActionTypeAuthorization",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type of a configurable action of a Amazon DataZone environment. </p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.datazone#ConfigurableActionParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The parameters of a configurable action in a Amazon DataZone environment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configurable action of a Amazon DataZone environment.</p>"
      }
    },
    "com.amazonaws.datazone#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.datazone#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is a conflict while performing this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.datazone#CreateAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CreateAssetInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CreateAssetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an asset in Amazon DataZone catalog.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/assets"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#CreateAssetInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.datazone#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>Asset name.</p>",
            "smithy.api#required": {}
          }
        },
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>Amazon DataZone domain where the asset is created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "externalIdentifier": {
          "target": "com.amazonaws.datazone#ExternalIdentifier",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "typeIdentifier": {
          "target": "com.amazonaws.datazone#AssetTypeIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of this asset's type.</p>",
            "smithy.api#required": {}
          }
        },
        "typeRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of this asset's type.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>Asset description.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#GlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>Glossary terms attached to the asset.</p>"
          }
        },
        "formsInput": {
          "target": "com.amazonaws.datazone#FormInputList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata forms attached to the asset.</p>"
          }
        },
        "owningProjectIdentifier": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the project that owns this asset.</p>",
            "smithy.api#required": {}
          }
        },
        "predictionConfiguration": {
          "target": "com.amazonaws.datazone#PredictionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the automatically generated business-friendly metadata for the\n         asset.</p>",
            "smithy.api#notProperty": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.datazone#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that is provided to ensure the idempotency of the\n         request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CreateAssetOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created asset.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the created asset.</p>",
            "smithy.api#required": {}
          }
        },
        "typeIdentifier": {
          "target": "com.amazonaws.datazone#AssetTypeIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the created asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "typeRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision type of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "externalIdentifier": {
          "target": "com.amazonaws.datazone#ExternalIdentifier",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the created asset.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the asset was created.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user that created this asset in the catalog.</p>"
          }
        },
        "firstRevisionCreatedAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the first revision of the asset took place.</p>"
          }
        },
        "firstRevisionCreatedBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user that made the first revision of the asset.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#GlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>The glossary terms that are attached to the created asset.</p>"
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone project that owns the created asset. </p>",
            "smithy.api#required": {}
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone domain in which the asset was created.</p>",
            "smithy.api#required": {}
          }
        },
        "listing": {
          "target": "com.amazonaws.datazone#AssetListingDetails",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms that are attached to the created asset.</p>",
            "smithy.api#required": {}
          }
        },
        "readOnlyFormsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The read-only metadata forms that are attached to the created asset.</p>"
          }
        },
        "predictionConfiguration": {
          "target": "com.amazonaws.datazone#PredictionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the automatically generated business-friendly metadata for the\n         asset.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#CreateAssetRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CreateAssetRevisionInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CreateAssetRevisionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a revision of the asset.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/assets/{identifier}/revisions"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#CreateAssetRevisionInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.datazone#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>Te revised name of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the domain where the asset is being revised.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.datazone#AssetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the asset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "typeRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision type of the asset.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The revised description of the asset.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#GlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>The glossary terms to be attached to the asset as part of asset revision.</p>"
          }
        },
        "formsInput": {
          "target": "com.amazonaws.datazone#FormInputList",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms to be attached to the asset as part of asset revision.</p>"
          }
        },
        "predictionConfiguration": {
          "target": "com.amazonaws.datazone#PredictionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the automatically generated business-friendly metadata for the\n         asset.</p>",
            "smithy.api#notProperty": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.datazone#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that is provided to ensure the idempotency of the\n         request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CreateAssetRevisionOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the asset revision.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The revised name of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "typeIdentifier": {
          "target": "com.amazonaws.datazone#AssetTypeIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the revision type.</p>",
            "smithy.api#required": {}
          }
        },
        "typeRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision type of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "externalIdentifier": {
          "target": "com.amazonaws.datazone#ExternalIdentifier",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The revised asset description.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the asset revision occured.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who performed the asset revision.</p>"
          }
        },
        "firstRevisionCreatedAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the first asset revision occured.</p>"
          }
        },
        "firstRevisionCreatedBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who performed the first asset revision.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#GlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>The glossary terms that were attached to the asset as part of asset revision.</p>"
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the revised project that owns the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon DataZone domain where the asset was revised.</p>",
            "smithy.api#required": {}
          }
        },
        "listing": {
          "target": "com.amazonaws.datazone#AssetListingDetails",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms that were attached to the asset as part of the asset revision.</p>",
            "smithy.api#required": {}
          }
        },
        "readOnlyFormsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The read-only metadata forms that were attached to the asset as part of the asset\n         revision.</p>"
          }
        },
        "predictionConfiguration": {
          "target": "com.amazonaws.datazone#PredictionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the automatically generated business-friendly metadata for the\n         asset.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#CreateAssetType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CreateAssetTypeInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CreateAssetTypeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a custom asset type.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/asset-types"
        }
      }
    },
    "com.amazonaws.datazone#CreateAssetTypeInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon DataZone domain where the custom asset type is being\n         created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The descripton of the custom asset type.</p>"
          }
        },
        "formsInput": {
          "target": "com.amazonaws.datazone#FormsInputMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms that are to be attached to the custom asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "owningProjectIdentifier": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone project that is to own the custom asset type.</p>",
            "smithy.api#property": {
              "name": "owningProjectId"
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CreateAssetTypeOutput": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone domain in which the asset type was created.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the custom asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the custom asset type.</p>"
          }
        },
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormsOutputMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms that are attached to the asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone project that currently owns this asset type.</p>"
          }
        },
        "originDomainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone domain where the asset type was originally created.</p>"
          }
        },
        "originProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone project where the asset type was originally created.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the asset type is to be created.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who creates this custom asset type.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.datazone#UpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the custom type was created.</p>"
          }
        },
        "updatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user that created the custom asset type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CreateDataSourceInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CreateDataSourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon DataZone data source.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/data-sources"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#CreateDataSourceInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.datazone#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the data source.</p>"
          }
        },
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone domain where the data source is created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone project in which you want to add this data\n         source.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon DataZone environment to which the data source publishes\n         assets. </p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.datazone#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.datazone#DataSourceConfigurationInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the configuration of the data source. It can be set to either\n            <code>glueRunConfiguration</code> or <code>redshiftRunConfiguration</code>.</p>",
            "smithy.api#notProperty": {}
          }
        },
        "recommendation": {
          "target": "com.amazonaws.datazone#RecommendationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the business name generation is to be enabled for this data\n         source.</p>"
          }
        },
        "enableSetting": {
          "target": "com.amazonaws.datazone#EnableSetting",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the data source is enabled.</p>"
          }
        },
        "schedule": {
          "target": "com.amazonaws.datazone#ScheduleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The schedule of the data source runs.</p>"
          }
        },
        "publishOnImport": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the assets that this data source creates in the inventory are to be\n         also automatically published to the catalog.</p>"
          }
        },
        "assetFormsInput": {
          "target": "com.amazonaws.datazone#FormInputList",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms that are to be attached to the assets that this data source works\n         with.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that is provided to ensure the idempotency of the\n         request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CreateDataSourceOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.datazone#DataSourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the data source.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.datazone#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the data source.</p>"
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone domain in which the data source is created.</p>",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone project to which the data source is added.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "com.amazonaws.datazone#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon DataZone environment to which the data source publishes\n         assets. </p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.datazone#DataSourceConfigurationOutput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the configuration of the data source. It can be set to either\n            <code>glueRunConfiguration</code> or <code>redshiftRunConfiguration</code>.</p>",
            "smithy.api#notProperty": {}
          }
        },
        "recommendation": {
          "target": "com.amazonaws.datazone#RecommendationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the business name generation is to be enabled for this data\n         source.</p>"
          }
        },
        "enableSetting": {
          "target": "com.amazonaws.datazone#EnableSetting",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the data source is enabled.</p>"
          }
        },
        "publishOnImport": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the assets that this data source creates in the inventory are to be\n         also automatically published to the catalog.</p>"
          }
        },
        "assetFormsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms attached to the assets that this data source creates.</p>"
          }
        },
        "schedule": {
          "target": "com.amazonaws.datazone#ScheduleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The schedule of the data source runs.</p>"
          }
        },
        "lastRunStatus": {
          "target": "com.amazonaws.datazone#DataSourceRunStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the last run of this data source.</p>"
          }
        },
        "lastRunAt": {
          "target": "com.amazonaws.datazone#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that specifies when the data source was last run.</p>"
          }
        },
        "lastRunErrorMessage": {
          "target": "com.amazonaws.datazone#DataSourceErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the error message that is returned if the operation cannot be successfully\n         completed.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.datazone#DataSourceErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the error message that is returned if the operation cannot be successfully\n         completed.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the data source was created.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.datazone#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the data source was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CreateDomainInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CreateDomainOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon DataZone domain.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/domains"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["Administration"]
      }
    },
    "com.amazonaws.datazone#CreateDomainInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon DataZone domain.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the Amazon DataZone domain.</p>"
          }
        },
        "singleSignOn": {
          "target": "com.amazonaws.datazone#SingleSignOn",
          "traits": {
            "smithy.api#documentation": "<p>The single-sign on configuration of the Amazon DataZone domain.</p>"
          }
        },
        "domainExecutionRole": {
          "target": "com.amazonaws.datazone#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The domain execution role that is created when an Amazon DataZone domain is created. The\n         domain execution role is created in the Amazon Web Services account that houses the\n         Amazon DataZone domain.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyIdentifier": {
          "target": "com.amazonaws.datazone#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services Key Management Service (KMS) key that is used\n         to encrypt the Amazon DataZone domain, metadata, and reporting data. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.datazone#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags specified for the Amazon DataZone domain.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that is provided to ensure the idempotency of the\n         request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CreateDomainOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon DataZone domain.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the Amazon DataZone domain.</p>"
          }
        },
        "singleSignOn": {
          "target": "com.amazonaws.datazone#SingleSignOn",
          "traits": {
            "smithy.api#documentation": "<p>The single-sign on configuration of the Amazon DataZone domain.</p>"
          }
        },
        "domainExecutionRole": {
          "target": "com.amazonaws.datazone#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The domain execution role that is created when an Amazon DataZone domain is created. The\n         domain execution role is created in the Amazon Web Services account that houses the\n         Amazon DataZone domain.</p>"
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon DataZone domain.</p>"
          }
        },
        "kmsKeyIdentifier": {
          "target": "com.amazonaws.datazone#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services Key Management Service (KMS) key that is used\n         to encrypt the Amazon DataZone domain, metadata, and reporting data. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.datazone#DomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Amazon DataZone domain.</p>"
          }
        },
        "portalUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the data portal for this Amazon DataZone domain.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.datazone#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags specified for the Amazon DataZone domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#CreateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CreateEnvironmentInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CreateEnvironmentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an Amazon DataZone environment.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/environments"
        }
      }
    },
    "com.amazonaws.datazone#CreateEnvironmentInput": {
      "type": "structure",
      "members": {
        "projectIdentifier": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone project in which this environment is created.</p>",
            "smithy.api#required": {}
          }
        },
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain in which the environment is created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the Amazon DataZone environment.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon DataZone environment.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentProfileIdentifier": {
          "target": "com.amazonaws.datazone#EnvironmentProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the environment profile that is used to create this Amazon DataZone\n         environment.</p>",
            "smithy.api#required": {}
          }
        },
        "userParameters": {
          "target": "com.amazonaws.datazone#EnvironmentParametersList",
          "traits": {
            "smithy.api#documentation": "<p>The user parameters of this Amazon DataZone environment.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#GlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>The glossary terms that can be used in this Amazon DataZone environment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CreateEnvironmentOutput": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone project in which this environment is created.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.datazone#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of this Amazon DataZone environment.</p>"
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain in which the environment is created.</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created this environment.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the environment was created.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when this environment was updated.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of this environment.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of this Amazon DataZone environment.</p>"
          }
        },
        "environmentProfileId": {
          "target": "com.amazonaws.datazone#EnvironmentProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment profile with which this Amazon DataZone environment was\n         created.</p>",
            "smithy.api#required": {}
          }
        },
        "awsAccountId": {
          "target": "com.amazonaws.datazone#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account in which the Amazon DataZone environment is created.</p>"
          }
        },
        "awsAccountRegion": {
          "target": "com.amazonaws.datazone#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services region in which the Amazon DataZone environment is created.</p>"
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The provider of this Amazon DataZone environment.</p>",
            "smithy.api#required": {}
          }
        },
        "provisionedResources": {
          "target": "com.amazonaws.datazone#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The provisioned resources of this Amazon DataZone environment.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.datazone#EnvironmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of this Amazon DataZone environment.</p>"
          }
        },
        "environmentActions": {
          "target": "com.amazonaws.datazone#EnvironmentActionList",
          "traits": {
            "smithy.api#documentation": "<p>The configurable actions of this Amazon DataZone environment.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#GlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>The glossary terms that can be used in this Amazon DataZone environment.</p>"
          }
        },
        "userParameters": {
          "target": "com.amazonaws.datazone#CustomParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The user parameters of this Amazon DataZone environment.</p>"
          }
        },
        "lastDeployment": {
          "target": "com.amazonaws.datazone#Deployment",
          "traits": {
            "smithy.api#documentation": "<p>The details of the last deployment of this Amazon DataZone environment.</p>"
          }
        },
        "provisioningProperties": {
          "target": "com.amazonaws.datazone#ProvisioningProperties",
          "traits": {
            "smithy.api#documentation": "<p>The provisioning properties of this Amazon DataZone environment.</p>"
          }
        },
        "deploymentProperties": {
          "target": "com.amazonaws.datazone#DeploymentProperties",
          "traits": {
            "smithy.api#documentation": "<p>The deployment properties of this Amazon DataZone environment.</p>"
          }
        },
        "environmentBlueprintId": {
          "target": "com.amazonaws.datazone#EnvironmentBlueprintId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the blueprint with which this Amazon DataZone environment was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#CreateEnvironmentProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CreateEnvironmentProfileInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CreateEnvironmentProfileOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon DataZone environment profile.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/environment-profiles"
        }
      }
    },
    "com.amazonaws.datazone#CreateEnvironmentProfileInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone domain in which this environment profile is created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#EnvironmentProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of this Amazon DataZone environment profile.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of this Amazon DataZone environment profile.</p>"
          }
        },
        "environmentBlueprintIdentifier": {
          "target": "com.amazonaws.datazone#EnvironmentBlueprintId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the blueprint with which this environment profile is created.</p>",
            "smithy.api#required": {}
          }
        },
        "projectIdentifier": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the project in which to create the environment profile.</p>",
            "smithy.api#required": {}
          }
        },
        "userParameters": {
          "target": "com.amazonaws.datazone#EnvironmentParametersList",
          "traits": {
            "smithy.api#documentation": "<p>The user parameters of this Amazon DataZone environment profile.</p>"
          }
        },
        "awsAccountId": {
          "target": "com.amazonaws.datazone#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account in which the Amazon DataZone environment is created.</p>"
          }
        },
        "awsAccountRegion": {
          "target": "com.amazonaws.datazone#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services region in which this environment profile is created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CreateEnvironmentProfileOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#EnvironmentProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of this Amazon DataZone environment profile.</p>",
            "smithy.api#required": {}
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone domain in which this environment profile is created.</p>",
            "smithy.api#required": {}
          }
        },
        "awsAccountId": {
          "target": "com.amazonaws.datazone#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID in which this Amazon DataZone environment profile is\n         created.</p>"
          }
        },
        "awsAccountRegion": {
          "target": "com.amazonaws.datazone#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services region in which this Amazon DataZone environment profile is\n         created.</p>"
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created this environment profile.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when this environment profile was created.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
[...]
