{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.databasemigrationservice#AccessDeniedFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.databasemigrationservice#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS DMS was denied access to the endpoint. Check that the \n            role is correctly configured.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.databasemigrationservice#AccountQuota": {
      "type": "structure",
      "members": {
        "AccountQuotaName": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS DMS quota for this AWS account.</p>"
          }
        },
        "Max": {
          "target": "com.amazonaws.databasemigrationservice#Long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum allowed value for the quota.</p>"
          }
        },
        "Used": {
          "target": "com.amazonaws.databasemigrationservice#Long",
          "traits": {
            "smithy.api#documentation": "<p>The amount currently used toward the quota maximum.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a quota for an AWS account, for example, the number of replication instances\n         allowed.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AccountQuotaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databasemigrationservice#AccountQuota",
        "traits": {
          "smithy.api#xmlName": "AccountQuota"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#AddTagsToResourceMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#AddTagsToResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds metadata tags to an AWS DMS resource, including replication instance, endpoint,\n         security group, and migration task. These tags can also be used with cost allocation\n         reporting to track cost associated with DMS resources, or used in a Condition statement in\n         an IAM policy for DMS.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AddTagsToResourceMessage": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the AWS DMS resource to which tags should be added. The value for this parameter is an Amazon Resource Name (ARN).</p>\n         <p>For AWS DMS, you can tag a replication instance, an endpoint, or a replication task.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.databasemigrationservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags to be assigned to the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Associates a set of tags with an AWS DMS resource.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AddTagsToResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AmazonDMSv20160101": {
      "type": "service",
      "version": "2016-01-01",
      "operations": [
        {
          "target": "com.amazonaws.databasemigrationservice#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceAction"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateEndpoint"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateEventSubscription"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateReplicationInstance"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateReplicationSubnetGroup"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#CreateReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteCertificate"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteConnection"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteEndpoint"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteEventSubscription"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteReplicationInstance"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteReplicationSubnetGroup"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DeleteReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeAccountAttributes"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeCertificates"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeConnections"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEndpoints"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEndpointTypes"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEventCategories"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEvents"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeEventSubscriptions"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeOrderableReplicationInstances"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribePendingMaintenanceActions"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeRefreshSchemasStatus"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationInstances"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationInstanceTaskLogs"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationSubnetGroups"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTaskAssessmentResults"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeReplicationTasks"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeSchemas"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#DescribeTableStatistics"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ImportCertificate"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ModifyEndpoint"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ModifyEventSubscription"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ModifyReplicationInstance"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ModifyReplicationSubnetGroup"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ModifyReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#RebootReplicationInstance"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#RefreshSchemas"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ReloadTables"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#RemoveTagsFromResource"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#StartReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#StartReplicationTaskAssessment"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#StopReplicationTask"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#TestConnection"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Database Migration Service",
          "arnNamespace": "dms",
          "cloudFormationName": "DMS",
          "cloudTrailEventSource": "v20160101.dms.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "dms"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS Database Migration Service</fullname>\n         <p>AWS Database Migration Service (AWS DMS) can migrate your data to and from the most\n         widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL\n         Server, Amazon Redshift, MariaDB, Amazon Aurora, MySQL, and SAP Adaptive Server Enterprise\n         (ASE). The service supports homogeneous migrations such as Oracle to Oracle, as well as\n         heterogeneous migrations between different database platforms, such as Oracle to MySQL or\n         SQL Server to PostgreSQL.</p>\n         <p>For more information about AWS DMS, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/Welcome.html\">What Is AWS Database Migration Service?</a>\n         in the <i>AWS Database Migration User Guide.</i>\n         </p>",
        "smithy.api#title": "AWS Database Migration Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://dms.amazonaws.com/doc/2016-01-01/"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Applies a pending maintenance action to a resource (for example, to a replication instance).</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionMessage": {
      "type": "structure",
      "members": {
        "ApplyAction": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The pending maintenance action to apply to this resource.</p>",
            "smithy.api#required": {}
          }
        },
        "OptInType": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the type of opt-in request, or undoes an opt-in request. You can't undo an\n         opt-in request of type <code>immediate</code>.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>immediate</code> - Apply the maintenance action immediately.</p>\n            </li>\n            <li>\n               <p>\n                  <code>next-maintenance</code> - Apply the maintenance action during the next\n               maintenance window for the resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in\n               requests.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ReplicationInstanceArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS DMS resource that the pending maintenance\n         action applies to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#ApplyPendingMaintenanceActionResponse": {
      "type": "structure",
      "members": {
        "ResourcePendingMaintenanceActions": {
          "target": "com.amazonaws.databasemigrationservice#ResourcePendingMaintenanceActions",
          "traits": {
            "smithy.api#documentation": "<p>The AWS DMS resource that the pending maintenance action will be applied to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AuthMechanismValue": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "default",
            "name": "DEFAULT"
          },
          {
            "value": "mongodb_cr",
            "name": "MONGODB_CR"
          },
          {
            "value": "scram_sha_1",
            "name": "SCRAM_SHA_1"
          }
        ]
      }
    },
    "com.amazonaws.databasemigrationservice#AuthTypeValue": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "no",
            "name": "NO"
          },
          {
            "value": "password",
            "name": "PASSWORD"
          }
        ]
      }
    },
    "com.amazonaws.databasemigrationservice#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the availability zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#AvailabilityZonesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databasemigrationservice#String"
      }
    },
    "com.amazonaws.databasemigrationservice#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.databasemigrationservice#BooleanOptional": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.databasemigrationservice#Certificate": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the certificate.</p>"
          }
        },
        "CertificateCreationDate": {
          "target": "com.amazonaws.databasemigrationservice#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the certificate was created.</p>"
          }
        },
        "CertificateIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>A customer-assigned name for the certificate. Identifiers must begin with a letter;\n            must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or\n            contain two consecutive hyphens.</p>"
          }
        },
        "CertificateOwner": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the certificate.</p>"
          }
        },
        "CertificatePem": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The contents of a <code>.pem</code> file, which contains an X.509 certificate.</p>"
          }
        },
        "CertificateWallet": {
          "target": "com.amazonaws.databasemigrationservice#CertificateWallet",
          "traits": {
            "smithy.api#documentation": "<p>The location of an imported Oracle Wallet certificate for use with SSL.</p>"
          }
        },
        "KeyLength": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The key length of the cryptographic algorithm being used.</p>"
          }
        },
        "SigningAlgorithm": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The signing algorithm for the certificate.</p>"
          }
        },
        "ValidFromDate": {
          "target": "com.amazonaws.databasemigrationservice#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The beginning date that the certificate is valid.</p>"
          }
        },
        "ValidToDate": {
          "target": "com.amazonaws.databasemigrationservice#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The final date that the certificate is valid.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The SSL certificate that can be used to encrypt connections between the endpoints and\n         the replication instance.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CertificateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databasemigrationservice#Certificate",
        "traits": {
          "smithy.api#xmlName": "Certificate"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#CertificateWallet": {
      "type": "blob"
    },
    "com.amazonaws.databasemigrationservice#CompressionTypeValue": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "none",
            "name": "NONE"
          },
          {
            "value": "gzip",
            "name": "GZIP"
          }
        ]
      }
    },
    "com.amazonaws.databasemigrationservice#Connection": {
      "type": "structure",
      "members": {
        "EndpointArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.</p>"
          }
        },
        "EndpointIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the endpoint. Identifiers must begin with a letter; must contain only\n         ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two\n         consecutive hyphens.</p>"
          }
        },
        "LastFailureMessage": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message when the connection last failed.</p>"
          }
        },
        "ReplicationInstanceArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replication instance.</p>"
          }
        },
        "ReplicationInstanceIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The replication instance identifier. This parameter is stored as a lowercase\n         string.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The connection status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databasemigrationservice#Connection",
        "traits": {
          "smithy.api#xmlName": "Connection"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#CreateEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#CreateEndpointMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#CreateEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#AccessDeniedFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint using the provided settings.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateEndpointMessage": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the certificate.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint database.</p>"
          }
        },
        "DmsTransferSettings": {
          "target": "com.amazonaws.databasemigrationservice#DmsTransferSettings",
          "traits": {
            "smithy.api#documentation": "<p>The settings in JSON format for the DMS transfer type of source endpoint. </p>\n         <p>Possible settings include the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ServiceAccessRoleArn</code> - The IAM role that has permission to access the\n               Amazon S3 bucket.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BucketName</code> - The name of the S3 bucket to use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CompressionType</code> - An optional parameter to use GZIP to compress the\n               target files. To use GZIP, set this value to <code>NONE</code> (the default). To keep\n               the files uncompressed, don't use this value.</p>\n            </li>\n         </ul>\n         <p>Shorthand syntax for these settings is as follows:\n            <code>ServiceAccessRoleArn=string,BucketName=string,CompressionType=string</code>\n         </p>\n         <p>JSON syntax for these settings is as follows: <code>{ \"ServiceAccessRoleArn\":\n            \"string\", \"BucketName\": \"string\", \"CompressionType\": \"none\"|\"gzip\" } </code>\n         </p>"
          }
        },
        "DynamoDbSettings": {
          "target": "com.amazonaws.databasemigrationservice#DynamoDbSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings in JSON format for the target Amazon DynamoDB endpoint. For more information\n         about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.DynamoDB.html\">Using Object Mapping to Migrate\n            Data to DynamoDB</a> in the <i>AWS Database Migration Service User\n            Guide.</i>\n         </p>"
          }
        },
        "ElasticsearchSettings": {
          "target": "com.amazonaws.databasemigrationservice#ElasticsearchSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings in JSON format for the target Elasticsearch endpoint. For more information\n         about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Elasticsearch.html#CHAP_Target.Elasticsearch.Configuration\">Extra Connection Attributes When Using Elasticsearch as a Target for AWS DMS</a> in\n         the <i>AWS Database Migration User Guide.</i>\n         </p>"
          }
        },
        "EndpointIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The database endpoint identifier. Identifiers must begin with a letter; must contain\n         only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two\n         consecutive hyphens.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.databasemigrationservice#ReplicationEndpointTypeValue",
          "traits": {
            "smithy.api#documentation": "<p>The type of endpoint.  Valid values are <code>source</code> and <code>target</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "EngineName": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of engine for the endpoint. Valid values, depending on the\n            <code>EndpointType</code> value, include <code>mysql</code>, <code>oracle</code>,\n            <code>postgres</code>, <code>mariadb</code>, <code>aurora</code>,\n            <code>aurora-postgresql</code>, <code>redshift</code>, <code>s3</code>,\n         <code>db2</code>, <code>azuredb</code>, <code>sybase</code>, <code>dynamodb</code>,\n            <code>mongodb</code>, and <code>sqlserver</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ExternalTableDefinition": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The external table definition. </p>"
          }
        },
        "ExtraConnectionAttributes": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Additional attributes associated with the connection. Each attribute is specified as a\n         name-value pair associated by an equal sign (=). Multiple attributes are separated by a\n         semicolon (;) with no additional white space. For information on the attributes available\n         for connecting your source or target endpoint, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Endpoints.html\">Working with\n            AWS DMS Endpoints</a> in the <i>AWS Database Migration Service User\n            Guide.</i>\n         </p>"
          }
        },
        "KinesisSettings": {
          "target": "com.amazonaws.databasemigrationservice#KinesisSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings in JSON format for the target Amazon Kinesis Data Streams endpoint. For more\n         information about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Kinesis.html#CHAP_Target.Kinesis.ObjectMapping\">Using Object Mapping to Migrate Data to a Kinesis Data Stream</a> in the\n            <i>AWS Database Migration User Guide.</i>\n         </p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>An AWS KMS key identifier that is used to encrypt the connection parameters for the endpoint.</p>\n         <p>If you don't specify a value for the <code>KmsKeyId</code> parameter, then\n           AWS DMS uses your default encryption key.</p>\n         <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a\n         different default encryption key for each AWS Region.</p>"
          }
        },
        "MongoDbSettings": {
          "target": "com.amazonaws.databasemigrationservice#MongoDbSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings in JSON format for the source MongoDB endpoint. For more information about the\n         available settings, see the configuration properties section in <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.MongoDB.html\"> Using MongoDB as a Target for AWS\n            Database Migration Service</a> in the <i>AWS Database Migration Service User\n            Guide.</i>\n         \n         </p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.databasemigrationservice#SecretString",
          "traits": {
            "smithy.api#documentation": "<p>The password to be used to log in to the endpoint database.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The port used by the endpoint database.</p>"
          }
        },
        "RedshiftSettings": {
          "target": "com.amazonaws.databasemigrationservice#RedshiftSettings"
        },
        "S3Settings": {
          "target": "com.amazonaws.databasemigrationservice#S3Settings",
          "traits": {
            "smithy.api#documentation": "<p>Settings in JSON format for the target Amazon S3 endpoint. For more information about\n         the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.S3.html#CHAP_Target.S3.Configuring\">Extra\n            Connection Attributes When Using Amazon S3 as a Target for AWS DMS</a> in the\n            <i>AWS Database Migration Service User Guide.</i>\n         </p>"
          }
        },
        "ServerName": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the server where the endpoint database resides.</p>"
          }
        },
        "ServiceAccessRoleArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) for the service access role that you want to use to\n         create the endpoint. </p>"
          }
        },
        "SslMode": {
          "target": "com.amazonaws.databasemigrationservice#DmsSslModeValue",
          "traits": {
            "smithy.api#documentation": "<p>The Secure Sockets Layer (SSL) mode to use for the SSL connection. The default is <code>none</code>\n         </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.databasemigrationservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags to be assigned to the endpoint.</p>"
          }
        },
        "Username": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name to be used to log in to the endpoint database.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateEndpointResponse": {
      "type": "structure",
      "members": {
        "Endpoint": {
          "target": "com.amazonaws.databasemigrationservice#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateEventSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#CreateEventSubscriptionMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#CreateEventSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#KMSAccessDeniedFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#KMSDisabledFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#KMSInvalidStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#KMSNotFoundFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#KMSThrottlingFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#SNSInvalidTopicFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#SNSNoAuthorizationFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates an AWS DMS event notification subscription. </p>\n         <p>You can specify the type of source (<code>SourceType</code>) you want to be notified of,\n         provide a list of AWS DMS source IDs (<code>SourceIds</code>) that triggers the events, and\n         provide a list of event categories (<code>EventCategories</code>) for events you want to be\n         notified of. If you specify both the <code>SourceType</code> and <code>SourceIds</code>,\n         such as <code>SourceType = replication-instance</code> and <code>SourceIdentifier =\n            my-replinstance</code>, you will be notified of all the replication instance events for\n         the specified source. If you specify a <code>SourceType</code> but don't specify a\n            <code>SourceIdentifier</code>, you receive notice of the events for that source type for\n         all your AWS DMS sources. If you don't specify either <code>SourceType</code> nor\n            <code>SourceIdentifier</code>, you will be notified of events generated from all AWS DMS\n         sources belonging to your customer account.</p>\n         <p>For more information about AWS DMS events, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and\n            Notifications</a> in the <i>AWS Database Migration Service User\n            Guide.</i>\n         </p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateEventSubscriptionMessage": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.databasemigrationservice#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p> A Boolean value; set to <code>true</code> to activate the subscription, or set to\n            <code>false</code> to create the subscription but not activate it. </p>"
          }
        },
        "EventCategories": {
          "target": "com.amazonaws.databasemigrationservice#EventCategoriesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event categories for a source type that you want to subscribe to. For more\n           information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and\n               Notifications</a> in the <i>AWS Database Migration Service User\n                   Guide.</i>\n         </p>"
          }
        },
        "SnsTopicArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the Amazon SNS topic created for event notification.\n         The ARN is created by Amazon SNS when you create a topic and subscribe to it. </p>",
            "smithy.api#required": {}
          }
        },
        "SourceIds": {
          "target": "com.amazonaws.databasemigrationservice#SourceIdsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers for which AWS DMS provides notification events.</p>\n         <p>If you don't specify a value, notifications are provided for all sources.</p>\n        <p>If you specify multiple values, they must be of the same type. For example, if you\n            specify a database instance ID, then all of the other values must be database instance\n            IDs.</p>"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> The type of AWS DMS resource that generates the events. For example, if you want to be\n         notified of events generated by a replication instance, you set this parameter to\n            <code>replication-instance</code>. If this value is not specified, all events are\n         returned. </p>\n         <p>Valid values: <code>replication-instance</code> | <code>replication-task</code>\n         </p>"
          }
        },
        "SubscriptionName": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS DMS event notification subscription. This name must be less than 255 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.databasemigrationservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags to be assigned to the event subscription.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateEventSubscriptionResponse": {
      "type": "structure",
      "members": {
        "EventSubscription": {
          "target": "com.amazonaws.databasemigrationservice#EventSubscription",
          "traits": {
            "smithy.api#documentation": "<p>The event subscription that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateReplicationInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#CreateReplicationInstanceMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#CreateReplicationInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#AccessDeniedFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#InsufficientResourceCapacityFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ReplicationSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#StorageQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the replication instance using the specified parameters.</p>\n         <p>AWS DMS requires that your account have certain roles with appropriate permissions\n         before you can create a replication instance. For information on the required roles, see\n         <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Security.APIRole.html\">Creating the IAM Roles to Use With the AWS CLI and AWS DMS API</a>. For\n         information on the required permissions, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Security.IAMPermissions.html\">IAM Permissions Needed to Use AWS DMS</a>.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateReplicationInstanceMessage": {
      "type": "structure",
      "members": {
        "AllocatedStorage": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage (in gigabytes) to be initially allocated for the replication\n         instance.</p>"
          }
        },
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.databasemigrationservice#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether minor engine upgrades will be applied automatically to the replication\n         instance during the maintenance window. This parameter defaults to <code>true</code>.</p>\n         <p>Default: <code>true</code>\n         </p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Availability Zone where the replication instance will be created. The\n            default value is a random, system-chosen Availability Zone in the endpoint's AWS \n            Region, for example: <code>us-east-1d</code>\n         </p>"
          }
        },
        "DnsNameServers": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>A list of DNS name servers supported for the replication instance.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The engine version number of the replication instance.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>An AWS KMS key identifier that is used to encrypt the data on the replication\n           instance.</p>\n         <p>If you don't specify a value for the <code>KmsKeyId</code> parameter, then\n           AWS DMS uses your default encryption key.</p>\n         <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a\n         different default encryption key for each AWS Region.</p>"
          }
        },
        "MultiAZ": {
          "target": "com.amazonaws.databasemigrationservice#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p> Specifies whether the replication instance is a Multi-AZ deployment. You cannot set the\n            <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to\n            <code>true</code>. </p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The weekly time range during which system maintenance can occur, in Universal\n         Coordinated Time (UTC).</p>\n         <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code>\n         </p>\n         <p>Default: A 30-minute window selected at random from an 8-hour block of time per AWS\n         Region, occurring on a random day of the week.</p>\n         <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p>\n         <p>Constraints: Minimum 30-minute window.</p>"
          }
        },
        "PubliclyAccessible": {
          "target": "com.amazonaws.databasemigrationservice#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the accessibility options for the replication instance. A value of\n            <code>true</code> represents an instance with a public IP address. A value of\n            <code>false</code> represents an instance with a private IP address. The default value\n         is <code>true</code>. </p>"
          }
        },
        "ReplicationInstanceClass": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The compute and memory capacity of the replication instance as specified by the\n         replication instance class.</p>\n         <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large |\n            dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "ReplicationInstanceIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The replication instance identifier. This parameter is stored as a lowercase\n         string.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n         <p>Example: <code>myrepinstance</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "ReplicationSubnetGroupIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>A subnet group to associate with the replication instance.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.databasemigrationservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags to be assigned to the replication instance.</p>"
          }
        },
        "VpcSecurityGroupIds": {
          "target": "com.amazonaws.databasemigrationservice#VpcSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the VPC security group to be used with the replication instance. The VPC\n         security group must work with the VPC containing the replication instance. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateReplicationInstanceResponse": {
      "type": "structure",
      "members": {
        "ReplicationInstance": {
          "target": "com.amazonaws.databasemigrationservice#ReplicationInstance",
          "traits": {
            "smithy.api#documentation": "<p>The replication instance that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateReplicationSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#CreateReplicationSubnetGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#CreateReplicationSubnetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#AccessDeniedFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ReplicationSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a replication subnet group given a list of the subnet IDs in a VPC.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateReplicationSubnetGroupMessage": {
      "type": "structure",
      "members": {
        "ReplicationSubnetGroupDescription": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for the subnet group.</p>",
            "smithy.api#required": {}
          }
        },
        "ReplicationSubnetGroupIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name for the replication subnet group. This value is stored as a lowercase\n         string.</p>\n         <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces,\n         underscores, or hyphens. Must not be \"default\".</p>\n         <p>Example: <code>mySubnetgroup</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.databasemigrationservice#SubnetIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>One or more subnet IDs to be assigned to the subnet group.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.databasemigrationservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags to be assigned to the subnet group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateReplicationSubnetGroupResponse": {
      "type": "structure",
      "members": {
        "ReplicationSubnetGroup": {
          "target": "com.amazonaws.databasemigrationservice#ReplicationSubnetGroup",
          "traits": {
            "smithy.api#documentation": "<p>The replication subnet group that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateReplicationTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#CreateReplicationTaskMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#CreateReplicationTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#AccessDeniedFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a replication task using the specified parameters.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateReplicationTaskMessage": {
      "type": "structure",
      "members": {
        "CdcStartPosition": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when you want a change data capture (CDC) operation to start. Use either\n         CdcStartPosition or CdcStartTime to specify when you want a CDC operation to start.\n         Specifying both values results in an error.</p>\n         <p> The value can be in date, checkpoint, or LSN/SCN format.</p>\n         <p>Date Example: --cdc-start-position “2018-03-08T12:12:12”</p>\n         <p>Checkpoint Example: --cdc-start-position\n         \"checkpoint:V1#27#mysql-bin-changelog.157832:1975:-1:2002:677883278264080:mysql-bin-changelog.157832:1876#0#0#*#0#93\"</p>\n         <p>LSN Example: --cdc-start-position “mysql-bin-changelog.000024:373”</p>\n         <note>\n            <p>When you use this task setting with a source PostgreSQL database, a logical\n            replication slot should already be created and associated with the source endpoint. You\n            can verify this by setting the <code>slotName</code> extra connection attribute to the\n            name of this logical replication slot. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.PostgreSQL.html#CHAP_Source.PostgreSQL.ConnectionAttrib\">Extra Connection Attributes When Using PostgreSQL as a Source\n               for AWS DMS</a>.</p>\n         </note>"
          }
        },
        "CdcStartTime": {
          "target": "com.amazonaws.databasemigrationservice#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the start time for a change data capture (CDC) operation. Use either\n         CdcStartTime or CdcStartPosition to specify when you want a CDC operation to start.\n         Specifying both values results in an error.</p>\n         <p>Timestamp Example: --cdc-start-time “2018-03-08T12:12:12”</p>"
          }
        },
        "CdcStopPosition": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when you want a change data capture (CDC) operation to stop. The value can be\n         either server time or commit time.</p>\n         <p>Server time example: --cdc-stop-position “server_time:3018-02-09T12:12:12”</p>\n         <p>Commit time example: --cdc-stop-position “commit_time: 3018-02-09T12:12:12 “</p>"
          }
        },
        "MigrationType": {
          "target": "com.amazonaws.databasemigrationservice#MigrationTypeValue",
          "traits": {
            "smithy.api#documentation": "<p>The migration type. Valid values: <code>full-load</code> | <code>cdc</code> | <code>full-load-and-cdc</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "ReplicationInstanceArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a replication instance.</p>",
            "smithy.api#required": {}
          }
        },
        "ReplicationTaskIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for the replication task.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 255 alphanumeric characters or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ReplicationTaskSettings": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Overall settings for the task, in JSON format. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.CustomizingTasks.TaskSettings.html\">Task Settings</a> in the <i>AWS Database Migration\n            User Guide.</i>\n         </p>"
          }
        },
        "SourceEndpointArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the source endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "TableMappings": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The table mappings for the task, in JSON format. For more information, see \n            <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.CustomizingTasks.TableMapping.html\">Table\n                Mapping</a> in the <i>AWS Database Migration\n                   User Guide.</i>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.databasemigrationservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags to be assigned to the replication task.</p>"
          }
        },
        "TargetEndpointArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the target endpoint.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#CreateReplicationTaskResponse": {
      "type": "structure",
      "members": {
        "ReplicationTask": {
          "target": "com.amazonaws.databasemigrationservice#ReplicationTask",
          "traits": {
            "smithy.api#documentation": "<p>The replication task that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DataFormatValue": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "csv",
            "name": "CSV"
          },
          {
            "value": "parquet",
            "name": "PARQUET"
          }
        ]
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DeleteCertificateMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DeleteCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified certificate. </p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteCertificateMessage": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deleted certificate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteCertificateResponse": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.databasemigrationservice#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>The Secure Sockets Layer (SSL) certificate.</p>"
          }
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DeleteConnectionMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DeleteConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#AccessDeniedFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the connection between a replication instance and an endpoint.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteConnectionMessage": {
      "type": "structure",
      "members": {
        "EndpointArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "ReplicationInstanceArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replication instance.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteConnectionResponse": {
      "type": "structure",
      "members": {
        "Connection": {
          "target": "com.amazonaws.databasemigrationservice#Connection",
          "traits": {
            "smithy.api#documentation": "<p>The connection that is being deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DeleteEndpointMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DeleteEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified endpoint.</p>\n         <note>\n            <p>All tasks associated with the endpoint must be deleted before you can delete the\n            endpoint.</p>\n         </note>\n         <p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteEndpointMessage": {
      "type": "structure",
      "members": {
        "EndpointArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteEndpointResponse": {
      "type": "structure",
      "members": {
        "Endpoint": {
          "target": "com.amazonaws.databasemigrationservice#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteEventSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DeleteEventSubscriptionMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DeleteEventSubscriptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an AWS DMS event subscription. </p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteEventSubscriptionMessage": {
      "type": "structure",
      "members": {
        "SubscriptionName": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DMS event notification subscription to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteEventSubscriptionResponse": {
      "type": "structure",
      "members": {
        "EventSubscription": {
          "target": "com.amazonaws.databasemigrationservice#EventSubscription",
          "traits": {
            "smithy.api#documentation": "<p>The event subscription that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteReplicationInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DeleteReplicationInstanceMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DeleteReplicationInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified replication instance.</p>\n         <note>\n            <p>You must delete any migration tasks that are associated with the replication instance\n            before you can delete it.</p>\n         </note>\n         <p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteReplicationInstanceMessage": {
      "type": "structure",
      "members": {
        "ReplicationInstanceArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replication instance to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteReplicationInstanceResponse": {
      "type": "structure",
      "members": {
        "ReplicationInstance": {
          "target": "com.amazonaws.databasemigrationservice#ReplicationInstance",
          "traits": {
            "smithy.api#documentation": "<p>The replication instance that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteReplicationSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DeleteReplicationSubnetGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DeleteReplicationSubnetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a subnet group.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteReplicationSubnetGroupMessage": {
      "type": "structure",
      "members": {
        "ReplicationSubnetGroupIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The subnet group name of the replication instance.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteReplicationSubnetGroupResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteReplicationTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DeleteReplicationTaskMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DeleteReplicationTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#InvalidResourceStateFault"
        },
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified replication task.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteReplicationTaskMessage": {
      "type": "structure",
      "members": {
        "ReplicationTaskArn": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replication task to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DeleteReplicationTaskResponse": {
      "type": "structure",
      "members": {
        "ReplicationTask": {
          "target": "com.amazonaws.databasemigrationservice#ReplicationTask",
          "traits": {
            "smithy.api#documentation": "<p>The deleted replication task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeAccountAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DescribeAccountAttributesMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DescribeAccountAttributesResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the AWS DMS attributes for a customer account. These attributes include AWS\n         DMS quotas for the account and a unique account identifier in a particular DMS region. DMS\n         quotas include a list of resource quotas supported by the account, such as the number of\n         replication instances allowed. The description for each resource quota, includes the quota\n         name, current usage toward that quota, and the quota's maximum value. DMS uses the unique\n         account identifier to name each artifact used by DMS in the given region.</p>\n         <p>This command does not take any parameters.</p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeAccountAttributesMessage": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeAccountAttributesResponse": {
      "type": "structure",
      "members": {
        "AccountQuotas": {
          "target": "com.amazonaws.databasemigrationservice#AccountQuotaList",
          "traits": {
            "smithy.api#documentation": "<p>Account quota information.</p>"
          }
        },
        "UniqueAccountIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique AWS DMS identifier for an account in a particular AWS Region. The value of this\n         identifier has the following format: <code>c99999999999</code>. DMS uses this identifier to\n         name artifacts. For example, DMS uses this identifier to name the default Amazon S3 bucket\n         for storing task assessment reports in a given AWS Region. The format of this S3 bucket\n         name is the following:\n               <code>dms-<i>AccountNumber</i>-<i>UniqueAccountIdentifier</i>.</code>\n         Here is an example name for this default S3 bucket:\n            <code>dms-111122223333-c44445555666</code>.</p>\n         <note>\n            <p>AWS DMS supports the <code>UniqueAccountIdentifier</code> parameter in\n            versions 3.1.4 and later.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeCertificates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DescribeCertificatesMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DescribeCertificatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a description of the certificate.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeCertificatesMessage": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.databasemigrationservice#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filters applied to the certificate described in the form of key-value pairs.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the vlue specified\n         by <code>MaxRecords</code>. </p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of records to include in the response. If more records exist than\n         the specified <code>MaxRecords</code> value, a pagination token called a marker is included\n         in the response so that the remaining results can be retrieved. </p>\n         <p>Default: 10</p>"
          }
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeCertificatesResponse": {
      "type": "structure",
      "members": {
        "Certificates": {
          "target": "com.amazonaws.databasemigrationservice#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>The Secure Sockets Layer (SSL) certificates associated with the replication\n         instance.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DescribeConnectionsMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DescribeConnectionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of the connections that have been made between the replication\n         instance and an endpoint. Connections are created when you test an endpoint.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeConnectionsMessage": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.databasemigrationservice#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>The filters applied to the connection.</p>\n         <p>Valid filter names: endpoint-arn | replication-instance-arn</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of records to include in the response. If more records exist than\n         the specified <code>MaxRecords</code> value, a pagination token called a marker is included\n         in the response so that the remaining results can be retrieved. </p>\n         <p>Default: 100</p>\n         <p>Constraints: Minimum 20, maximum 100.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeConnectionsResponse": {
      "type": "structure",
      "members": {
        "Connections": {
          "target": "com.amazonaws.databasemigrationservice#ConnectionList",
          "traits": {
            "smithy.api#documentation": "<p>A description of the connections.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEndpointTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DescribeEndpointTypesMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DescribeEndpointTypesResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the type of endpoints available.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEndpointTypesMessage": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.databasemigrationservice#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filters applied to the describe action.</p>\n         <p>Valid filter names: engine-name | endpoint-type</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of records to include in the response. If more records exist than\n         the specified <code>MaxRecords</code> value, a pagination token called a marker is included\n         in the response so that the remaining results can be retrieved. </p>\n         <p>Default: 100</p>\n         <p>Constraints: Minimum 20, maximum 100.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEndpointTypesResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        },
        "SupportedEndpointTypes": {
          "target": "com.amazonaws.databasemigrationservice#SupportedEndpointTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The types of endpoints that are supported.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DescribeEndpointsMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DescribeEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the endpoints for your account in the current region.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEndpointsMessage": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.databasemigrationservice#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filters applied to the describe action.</p>\n         <p>Valid filter names: endpoint-arn | endpoint-type | endpoint-id | engine-name</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of records to include in the response. If more records exist than\n         the specified <code>MaxRecords</code> value, a pagination token called a marker is included\n         in the response so that the remaining results can be retrieved. </p>\n         <p>Default: 100</p>\n         <p>Constraints: Minimum 20, maximum 100.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEndpointsResponse": {
      "type": "structure",
      "members": {
        "Endpoints": {
          "target": "com.amazonaws.databasemigrationservice#EndpointList",
          "traits": {
            "smithy.api#documentation": "<p>Endpoint description.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEventCategories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DescribeEventCategoriesMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DescribeEventCategoriesResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists categories for all event source types, or, if specified, for a specified source\n         type. You can see a list of the event categories and source types in <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events\n            and Notifications</a> in the <i>AWS Database Migration Service User\n            Guide.</i>\n         </p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEventCategoriesMessage": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.databasemigrationservice#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filters applied to the action.</p>"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> The type of AWS DMS resource that generates events. </p>\n         <p>Valid values: replication-instance | replication-task</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEventCategoriesResponse": {
      "type": "structure",
      "members": {
        "EventCategoryGroupList": {
          "target": "com.amazonaws.databasemigrationservice#EventCategoryGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event categories.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEventSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DescribeEventSubscriptionsMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DescribeEventSubscriptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the event subscriptions for a customer account. The description of a\n         subscription includes <code>SubscriptionName</code>, <code>SNSTopicARN</code>,\n            <code>CustomerID</code>, <code>SourceType</code>, <code>SourceID</code>,\n            <code>CreationTime</code>, and <code>Status</code>. </p>\n         <p>If you specify <code>SubscriptionName</code>, this action lists the description for that\n         subscription.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEventSubscriptionsMessage": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.databasemigrationservice#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filters applied to the action.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of records to include in the response. If more records exist than\n         the specified <code>MaxRecords</code> value, a pagination token called a marker is included\n         in the response so that the remaining results can be retrieved. </p>\n         <p>Default: 100</p>\n         <p>Constraints: Minimum 20, maximum 100.</p>"
          }
        },
        "SubscriptionName": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS DMS event subscription to be described.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEventSubscriptionsResponse": {
      "type": "structure",
      "members": {
        "EventSubscriptionsList": {
          "target": "com.amazonaws.databasemigrationservice#EventSubscriptionsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event subscriptions.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DescribeEventsMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DescribeEventsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p> Lists events for a given source identifier and source type. You can also specify a\n         start and end time. For more information on AWS DMS events, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and\n            Notifications</a> in the <i>AWS Database Migration User\n         Guide.</i>\n         </p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEventsMessage": {
      "type": "structure",
      "members": {
        "Duration": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the events to be listed.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.databasemigrationservice#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time for the events to be listed.</p>"
          }
        },
        "EventCategories": {
          "target": "com.amazonaws.databasemigrationservice#EventCategoriesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event categories for the source type that you've chosen.</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.databasemigrationservice#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filters applied to the action.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of records to include in the response. If more records exist than\n         the specified <code>MaxRecords</code> value, a pagination token called a marker is included\n         in the response so that the remaining results can be retrieved. </p>\n         <p>Default: 100</p>\n         <p>Constraints: Minimum 20, maximum 100.</p>"
          }
        },
        "SourceIdentifier": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> The identifier of an event source.</p>"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.databasemigrationservice#SourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of AWS DMS resource that generates events.</p>\n         <p>Valid values: replication-instance | replication-task</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.databasemigrationservice#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time for the events to be listed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeEventsResponse": {
      "type": "structure",
      "members": {
        "Events": {
          "target": "com.amazonaws.databasemigrationservice#EventList",
          "traits": {
            "smithy.api#documentation": "<p>The events described.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeOrderableReplicationInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DescribeOrderableReplicationInstancesMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DescribeOrderableReplicationInstancesResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the replication instance types that can be created in the\n         specified region.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeOrderableReplicationInstancesMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.databasemigrationservice#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of records to include in the response. If more records exist than\n         the specified <code>MaxRecords</code> value, a pagination token called a marker is included\n         in the response so that the remaining results can be retrieved. </p>\n         <p>Default: 100</p>\n         <p>Constraints: Minimum 20, maximum 100.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribeOrderableReplicationInstancesResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.databasemigrationservice#String",
          "traits": {
            "smithy.api#documentation": "<p> An optional pagination token provided by a previous request. If this parameter is\n         specified, the response includes only records beyond the marker, up to the value specified\n         by <code>MaxRecords</code>. </p>"
          }
        },
        "OrderableReplicationInstances": {
          "target": "com.amazonaws.databasemigrationservice#OrderableReplicationInstanceList",
          "traits": {
            "smithy.api#documentation": "<p>The order-able replication instances available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.databasemigrationservice#DescribePendingMaintenanceActions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databasemigrationservice#DescribePendingMaintenanceActionsMessage"
      },
      "output": {
        "target": "com.amazonaws.databasemigrationservice#DescribePendingMaintenanceActionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databasemigrationservice#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For internal use only</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "Marker",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.databasemigrationservice#DescribePendingMaintenanceActionsMessage": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.databasemigrationservice#FilterList",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Marker": {
[...]
