{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.datasync#ActivationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 29
        },
        "smithy.api#pattern": "^[A-Z0-9]{5}(-[A-Z0-9]{5}){4}$"
      }
    },
    "com.amazonaws.datasync#AgentArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:agent/agent-[0-9a-z]{17}$"
      }
    },
    "com.amazonaws.datasync#AgentArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#AgentArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.datasync#AgentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#AgentListEntry"
      }
    },
    "com.amazonaws.datasync#AgentListEntry": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a single entry in a list of agents. <code>AgentListEntry</code> returns an\n      array that contains a list of agents when the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a>\n      operation is\n      called.</p>"
      }
    },
    "com.amazonaws.datasync#AgentStatus": {
      "type": "enum",
      "members": {
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLINE"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        }
      }
    },
    "com.amazonaws.datasync#Atime": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BEST_EFFORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST_EFFORT"
          }
        }
      }
    },
    "com.amazonaws.datasync#BytesPerSecond": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": -1
        }
      }
    },
    "com.amazonaws.datasync#CancelTaskExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CancelTaskExecutionRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CancelTaskExecutionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops an DataSync task execution that's in progress. The transfer of some\n      files are abruptly interrupted. File contents that're transferred to the destination might be\n      incomplete or inconsistent with the source files.</p>\n         <p>However, if you start a new task execution using the same task and allow it to finish,\n      file content on the destination will be complete and consistent. This applies to other\n      unexpected failures that interrupt a task execution. In all of these cases, DataSync successfully completes the transfer when you start the next task\n      execution.</p>"
      }
    },
    "com.amazonaws.datasync#CancelTaskExecutionRequest": {
      "type": "structure",
      "members": {
        "TaskExecutionArn": {
          "target": "com.amazonaws.datasync#TaskExecutionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task execution to stop.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelTaskExecutionRequest</p>"
      }
    },
    "com.amazonaws.datasync#CancelTaskExecutionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.datasync#CreateAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates an DataSync agent that you have deployed in your storage\n      environment. The activation process associates your agent with your account. In the activation\n      process, you specify information such as the Amazon Web Services Region that you want to\n      activate the agent in. You activate the agent in the Amazon Web Services Region where your\n      target locations (in Amazon S3 or Amazon EFS) reside. Your tasks are created in this Amazon Web Services Region.</p>\n         <p>You can activate the agent in a VPC (virtual private cloud) or provide the agent access to\n      a VPC endpoint so you can run tasks without going over the public internet.</p>\n         <p>You can use an agent for more than one location. If a task uses multiple agents, all of\n      them need to have status AVAILABLE for the task to run. If you use multiple agents for a\n      source location, the status of all the agents must be AVAILABLE for the task to run. </p>\n         <p>Agents are automatically updated by Amazon Web Services on a regular basis, using a mechanism that\n      ensures minimal interruption to your tasks.</p>"
      }
    },
    "com.amazonaws.datasync#CreateAgentRequest": {
      "type": "structure",
      "members": {
        "ActivationKey": {
          "target": "com.amazonaws.datasync#ActivationKey",
          "traits": {
            "smithy.api#documentation": "<p>Your agent activation key. You can get the activation key either by sending an HTTP GET\n      request with redirects that enable you to get the agent IP address (port 80). Alternatively,\n      you can get it from the DataSync console.</p>\n         <p>The redirect URL returned in the response provides you the activation key for your\n      agent in the query string parameter <code>activationKey</code>. It might also include other\n      activation-related parameters; however, these are merely defaults. The arguments you pass to\n      this API call determine the actual configuration of your agent.</p>\n         <p>For more information, see Activating an Agent in the <i>DataSync\n        User Guide.</i>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "AgentName": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name you configured for your agent. This value is a text reference that is used to\n      identify the agent in the console.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to associate with the agent.\n      The value can be an empty string. This value helps you manage, filter, and search for your\n      agents.</p>\n         <note>\n            <p>Valid characters for key and value are letters, spaces, and numbers representable in\n        UTF-8 format, and the following special characters: + - = . _ : / @. </p>\n         </note>"
          }
        },
        "VpcEndpointId": {
          "target": "com.amazonaws.datasync#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC (virtual private cloud) endpoint that the agent has access to. This is\n      the client-side VPC endpoint, also called a PrivateLink. If you don't have a PrivateLink VPC\n      endpoint, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/endpoint-service.html#create-endpoint-service\">Creating a VPC Endpoint Service Configuration</a> in the Amazon VPC User Guide.</p>\n         <p>VPC endpoint ID looks like this: <code>vpce-01234d5aff67890e1</code>.</p>"
          }
        },
        "SubnetArns": {
          "target": "com.amazonaws.datasync#PLSubnetArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the subnets in which DataSync will create elastic\n      network interfaces for each data transfer task. The agent that runs a task must be private.\n      When you start a task that is associated with an agent created in a VPC, or one that has\n      access to an IP address in a VPC, then the task is also private. In this case, DataSync\n      creates four network interfaces for each task in your subnet. For a data transfer to work, the\n      agent must be able to route to all these four network interfaces.</p>"
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#PLSecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the security groups used to protect your data transfer task subnets. See <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_Ec2Config.html#DataSync-Type-Ec2Config-SecurityGroupArns\">SecurityGroupArns</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateAgentRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateAgentResponse": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent. Use the <code>ListAgents</code> operation\n      to return a list of agents for your account and Amazon Web Services Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateAgentResponse</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationEfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationEfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationEfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon EFS file system that DataSync\n      can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html\">Creating a location for Amazon EFS</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationEfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#EfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a mount path for your Amazon EFS file system. This is where DataSync reads or writes data (depending on if this is a source or destination location). By default, DataSync uses the root directory, but you can also include subdirectories.</p>\n         <note>\n            <p>You must specify a value with forward slashes (for example,\n          <code>/path/to/folder</code>).</p>\n         </note>"
          }
        },
        "EfsFilesystemArn": {
          "target": "com.amazonaws.datasync#EfsFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN for the Amazon EFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Ec2Config": {
          "target": "com.amazonaws.datasync#Ec2Config",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the subnet and security groups DataSync uses to access your Amazon EFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key-value pair that represents a tag that you want to add to the\n      resource. The value can be an empty string. This value helps you manage, filter, and search\n      for your resources. We recommend that you create a name tag for your location.</p>"
          }
        },
        "AccessPointArn": {
          "target": "com.amazonaws.datasync#EfsAccessPointArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the access point that DataSync uses to access the Amazon EFS file system.</p>"
          }
        },
        "FileSystemAccessRoleArn": {
          "target": "com.amazonaws.datasync#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an Identity and Access Management (IAM) role that DataSync\n      assumes when mounting the Amazon EFS file system.</p>"
          }
        },
        "InTransitEncryption": {
          "target": "com.amazonaws.datasync#EfsInTransitEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want DataSync to use Transport Layer Security (TLS) 1.2 encryption when it copies data to\n      or from the Amazon EFS file system.</p>\n         <p>If you specify an access point using <code>AccessPointArn</code> or an IAM\n      role using <code>FileSystemAccessRoleArn</code>, you must set this parameter to\n        <code>TLS1_2</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationEfsRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationEfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you\n      create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationEfs</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxLustre": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxLustreRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxLustreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon FSx for Lustre file system.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxLustreRequest": {
      "type": "structure",
      "members": {
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the FSx for Lustre file system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are used to configure the FSx for Lustre file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxLustreSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the location's path. This subdirectory in the FSx for Lustre file system is used to read data from the FSx for Lustre source location or write data to the FSx for Lustre  destination.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxLustreResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Lustre file system location that's\n      created. </p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOntap": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOntapRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOntapResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon FSx for NetApp ONTAP file system that DataSync\n      can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-ontap-location.html\">Creating a location for FSx for ONTAP</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOntapRequest": {
      "type": "structure",
      "members": {
        "Protocol": {
          "target": "com.amazonaws.datasync#FsxProtocol",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon EC2 security groups that provide access to your file system's preferred subnet.</p>\n         <p>The security groups must allow outbound traffic on the following ports (depending on the\n      protocol you use):</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Network File System (NFS)</b>: TCP ports 111, 635, and\n          2049</p>\n            </li>\n            <li>\n               <p>\n                  <b>Server Message Block (SMB)</b>: TCP port 445</p>\n            </li>\n         </ul>\n         <p>Your file system's security groups must also allow inbound traffic on the same\n      ports.</p>",
            "smithy.api#required": {}
          }
        },
        "StorageVirtualMachineArn": {
          "target": "com.amazonaws.datasync#StorageVirtualMachineArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the storage virtual machine (SVM) on your file system where you're\n      copying data to or from.</p>",
            "smithy.api#required": {}
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxOntapSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the junction path (also known as a mount point) in the SVM volume where you're\n      copying data to or from (for example, <code>/vol1</code>).</p>\n         <note>\n            <p>Don't specify a junction path in the SVM's root volume. For more\n        information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/managing-svms.html\">Managing FSx for ONTAP\n          storage virtual machines</a> in the <i>Amazon FSx for NetApp ONTAP User Guide</i>.</p>\n         </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOntapResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the FSx for ONTAP file system location that you create.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOpenZfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOpenZfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOpenZfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon FSx for OpenZFS file system that DataSync\n      can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-openzfs-location.html\">Creating a location for FSx for OpenZFS</a>.</p>\n         <note>\n            <p>Request parameters related to <code>SMB</code> aren't supported with the\n        <code>CreateLocationFsxOpenZfs</code> operation.</p>\n         </note>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOpenZfsRequest": {
      "type": "structure",
      "members": {
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.datasync#FsxProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The type of protocol that DataSync uses to\n      access your file system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the security groups that are used to configure the\n      FSx for OpenZFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxOpenZfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the location's path that must begin with <code>/fsx</code>. DataSync uses this subdirectory to read\n      or write data (depending on whether the file system is a source or destination\n      location).</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOpenZfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the FSx for OpenZFS file system location that you created.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxWindowsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxWindowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon FSx for Windows File Server file system.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindowsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxWindowsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a mount path for your file system using forward slashes. This is where DataSync reads or\n      writes data (depending on if this is a source or destination location).</p>"
          }
        },
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) for the FSx for Windows File Server file\n      system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARNs of the security groups that provide access to your file system's\n      preferred subnet.</p>\n         <note>\n            <p>If you choose a security group that doesn't allow connections from within\n        itself, do one of the following:</p>\n            <ul>\n               <li>\n                  <p>Configure the security group to allow it to communicate within\n            itself.</p>\n               </li>\n               <li>\n                  <p>Choose a different security group that can communicate with the\n            mount target's security group.</p>\n               </li>\n            </ul>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We\n      recommend creating at least a name tag for your location.</p>"
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the user who has the permissions to access files and folders in the file\n      system.</p>\n         <p>For information about choosing a user name that ensures sufficient permissions to files,\n      folders, and metadata, see <a href=\"create-fsx-location.html#FSxWuser\">user</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the Windows domain that the FSx for Windows File Server belongs\n      to.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.datasync#SmbPassword",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the password of the user who has the permissions to access files and folders in\n      the file system.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindowsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the FSx for Windows File Server file system location you created.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationHdfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationHdfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationHdfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for a Hadoop Distributed File System (HDFS). </p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationHdfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#HdfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the HDFS cluster. This subdirectory is used to read data from or write\n      data to the HDFS cluster. If the subdirectory isn't specified, it will default to\n        <code>/</code>.</p>"
          }
        },
        "NameNodes": {
          "target": "com.amazonaws.datasync#HdfsNameNodeList",
          "traits": {
            "smithy.api#documentation": "<p>The NameNode that manages the HDFS namespace. The NameNode performs operations such as\n      opening, closing, and renaming files and directories. The NameNode contains the information to\n      map blocks of data to the DataNodes. You can use only one NameNode.</p>",
            "smithy.api#required": {}
          }
        },
        "BlockSize": {
          "target": "com.amazonaws.datasync#HdfsBlockSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of data blocks to write into the HDFS cluster. The block size must be a multiple\n      of 512 bytes. The default block size is 128 mebibytes (MiB).</p>"
          }
        },
        "ReplicationFactor": {
          "target": "com.amazonaws.datasync#HdfsReplicationFactor",
          "traits": {
            "smithy.api#documentation": "<p>The number of DataNodes to replicate the data to when writing to the HDFS cluster. By\n      default, data is replicated to three DataNodes.</p>"
          }
        },
        "KmsKeyProviderUri": {
          "target": "com.amazonaws.datasync#KmsKeyProviderUri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the HDFS cluster's Key Management Server (KMS). </p>"
          }
        },
        "QopConfiguration": {
          "target": "com.amazonaws.datasync#QopConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Quality of Protection (QOP) configuration specifies the Remote Procedure Call (RPC)\n      and data transfer protection settings configured on the Hadoop Distributed File System (HDFS)\n      cluster. If <code>QopConfiguration</code> isn't specified, <code>RpcProtection</code> and\n        <code>DataTransferProtection</code> default to <code>PRIVACY</code>. If you set\n        <code>RpcProtection</code> or <code>DataTransferProtection</code>, the other parameter\n      assumes the same value. </p>"
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.datasync#HdfsAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication used to determine the identity of the user. </p>",
            "smithy.api#required": {}
          }
        },
        "SimpleUser": {
          "target": "com.amazonaws.datasync#HdfsUser",
          "traits": {
            "smithy.api#documentation": "<p>The user name used to identify the client on the host operating system. </p>\n         <note>\n            <p>If <code>SIMPLE</code> is specified for <code>AuthenticationType</code>, this parameter\n        is required. </p>\n         </note>"
          }
        },
        "KerberosPrincipal": {
          "target": "com.amazonaws.datasync#KerberosPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The Kerberos principal with access to the files and folders on the HDFS cluster. </p>\n         <note>\n            <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this\n        parameter is required.</p>\n         </note>"
          }
        },
        "KerberosKeytab": {
          "target": "com.amazonaws.datasync#KerberosKeytabFile",
          "traits": {
            "smithy.api#documentation": "<p>The Kerberos key table (keytab) that contains mappings between the defined Kerberos\n      principal and the encrypted keys. You can load the keytab from a file by providing the file's\n      address. If you're using the CLI, it performs base64 encoding for you.\n      Otherwise, provide the base64-encoded text. </p>\n         <note>\n            <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this\n        parameter is required. </p>\n         </note>"
          }
        },
        "KerberosKrb5Conf": {
          "target": "com.amazonaws.datasync#KerberosKrb5ConfFile",
          "traits": {
            "smithy.api#documentation": "<p>The <code>krb5.conf</code> file that contains the Kerberos configuration information. You\n      can load the <code>krb5.conf</code> file by providing the file's address. If you're using the\n        CLI, it performs the base64 encoding for you. Otherwise, provide the\n      base64-encoded text. </p>\n         <note>\n            <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this\n        parameter is required.</p>\n         </note>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the agents that are used to connect to the HDFS\n      cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value\n      can be an empty string. We recommend using tags to name your resources. </p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationHdfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source HDFS cluster location that's created. </p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#CreateLocationNfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationNfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationNfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Defines a file system on a Network File System (NFS) server that can be read from or\n      written to.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationNfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#NfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>The subdirectory in the NFS file system that is used to read data from the NFS source\n      location or write data to the NFS destination. The NFS path should be a path that's\n      exported by the NFS server, or a subdirectory of that path. The path should be such that it\n      can be mounted by other NFS clients in your network. </p>\n         <p>To see all the paths exported by your NFS server, run \"<code>showmount -e\n        nfs-server-name</code>\" from an NFS client that has access to your server. You can specify\n      any directory that appears in the results, and any subdirectory of that directory. Ensure that\n      the NFS export is accessible without Kerberos authentication. </p>\n         <p>To transfer all the data in the folder you specified, DataSync needs to have\n      permissions to read all the data. To ensure this, either configure the NFS export with\n        <code>no_root_squash,</code> or ensure that the permissions for all of the files that you\n      want DataSync allow read access for all users. Doing either enables the agent to read the\n      files. For the agent to access directories, you must additionally enable all execute\n      access.</p>\n         <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p>\n         <p>For information about NFS export configuration, see 18.7. The /etc/exports\n      Configuration File in the Red Hat Enterprise Linux documentation.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>The name of the NFS server. This value is the IP address or Domain Name Service (DNS)\n      name of the NFS server. An agent that is installed on-premises uses this hostname to mount the\n      NFS server in a network. </p>\n         <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p>\n         <note>\n            <p>This name must either be DNS-compliant or must be an IP version 4 (IPv4)\n        address.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "OnPremConfig": {
          "target": "com.amazonaws.datasync#OnPremConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of Amazon Resource Names (ARNs) of agents that are used to connect to\n      an NFS server. </p>\n         <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p>",
            "smithy.api#required": {}
          }
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#NfsMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>The NFS mount options that DataSync can use to mount your NFS share.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The\n      value can be an empty string. We recommend using tags to name your resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationNfsRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationNfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source NFS file system location that is\n      created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationNfsResponse</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationObjectStorageRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationObjectStorageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an object storage system that DataSync can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object storage</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorageRequest": {
      "type": "structure",
      "members": {
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the domain name or IP address of the object storage server. A DataSync agent uses this hostname to mount the\n      object storage server in a network.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerPort": {
          "target": "com.amazonaws.datasync#ObjectStorageServerPort",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the port that your object storage server accepts inbound network traffic on (for example, port 443).</p>"
          }
        },
        "ServerProtocol": {
          "target": "com.amazonaws.datasync#ObjectStorageServerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the protocol that your object storage server uses to communicate.</p>"
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#S3Subdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the object prefix for your object storage server. If this is a source location, DataSync only copies objects with this prefix. If this is a destination location, DataSync writes all objects with this prefix. </p>"
          }
        },
        "BucketName": {
          "target": "com.amazonaws.datasync#ObjectStorageBucketName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the object storage bucket involved in the transfer.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessKey": {
          "target": "com.amazonaws.datasync#ObjectStorageAccessKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the access key (for example, a user name) if credentials are required to authenticate with the object storage server.</p>"
          }
        },
        "SecretKey": {
          "target": "com.amazonaws.datasync#ObjectStorageSecretKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the secret key (for example, a password) if credentials are required to authenticate with the object storage server.</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Names (ARNs) of the DataSync agents that can securely connect with your location.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key-value pair that represents a tag that you want to add to the resource. Tags can help you manage, filter, and search for your resources. We recommend creating a name tag for your location.</p>"
          }
        },
        "ServerCertificate": {
          "target": "com.amazonaws.datasync#ObjectStorageCertificate",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a certificate to authenticate with an object storage system that uses a private\n      or self-signed certificate authority (CA). You must specify a Base64-encoded <code>.pem</code>\n      file (for example, <code>file:///home/user/.ssh/storage_sys_certificate.pem</code>). The certificate can be up to 32768 bytes (before Base64 encoding).</p>\n         <p>To use this parameter, configure <code>ServerProtocol</code> to <code>HTTPS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationObjectStorageRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorageResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the object storage system location that you create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationObjectStorageResponse</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationS3": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationS3Request"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationS3Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for an Amazon S3 bucket that DataSync can access for a transfer.</p>\n         <p>For\n      more information, see\n      <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-locations-cli.html#create-location-s3-cli\">Create an Amazon S3 location</a>\n      in the <i>DataSync User Guide</i>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationS3Request": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#S3Subdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the Amazon S3 bucket. This subdirectory in Amazon S3 is used to read\n      data from the S3 source location or write data to the S3 destination.</p>"
          }
        },
        "S3BucketArn": {
          "target": "com.amazonaws.datasync#S3BucketArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon S3 bucket. If the bucket is on an Amazon Web Services Outpost, this must be an\n      access point ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "S3StorageClass": {
          "target": "com.amazonaws.datasync#S3StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 storage class that you want to store your files in when this location is\n      used as a task destination. For buckets in Amazon Web Services Regions, the storage class defaults to Standard.\n      For buckets on Outposts, the storage class defaults to Amazon Web Services S3 Outposts.</p>\n         <p>For more information about S3 storage classes, see <a href=\"http://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a>. Some storage classes have behaviors that\n      can affect your S3 storage cost. For detailed information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Considerations when working with S3 storage classes in DataSync</a>.</p>"
          }
        },
        "S3Config": {
          "target": "com.amazonaws.datasync#S3Config",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>If you're using DataSync on an Amazon Web Services Outpost, specify the Amazon Resource\n      Names (ARNs) of the DataSync agents deployed on your Outpost. For more information about\n      launching a DataSync agent on an Amazon Web Services Outpost, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent\n        on Outposts</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The\n      value can be an empty string. We recommend using tags to name your resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationS3Request</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationS3Response": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source Amazon S3 bucket location that is\n      created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationS3Response</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationSmb": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationSmbRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationSmbResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Defines a file system on a Server Message Block (SMB) server that can be read from or\n      written to.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationSmbRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#SmbSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>The subdirectory in the SMB file system that is used to read data from the SMB source\n      location or write data to the SMB destination. The SMB path should be a path that's\n      exported by the SMB server, or a subdirectory of that path. The path should be such that it\n      can be mounted by other SMB clients in your network.</p>\n         <note>\n            <p>\n               <code>Subdirectory</code> must be specified with forward slashes. For example,\n          <code>/path/to/folder</code>.</p>\n         </note>\n         <p>To transfer all the data in the folder you specified, DataSync needs to have permissions\n      to mount the SMB share, as well as to access all the data in that share. To ensure this,\n      either ensure that the user/password specified belongs to the user who can mount the share,\n      and who has the appropriate permissions for all of the files and directories that you want\n      DataSync to access, or use credentials of a member of the Backup Operators group to mount\n      the share. Doing either enables the agent to access the data. For the agent to access\n      directories, you must additionally enable all execute access.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SMB server. This value is the IP address or Domain Name Service (DNS) name\n      of the SMB server. An agent that is installed on-premises uses this hostname to mount the SMB\n      server in a network.</p>\n         <note>\n            <p>This name must either be DNS-compliant or must be an IP version 4 (IPv4) address.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>The user who can mount the share, has the permissions to access files and folders in the\n      SMB share.</p>\n         <p>For information about choosing a user name that ensures sufficient permissions to files,\n      folders, and metadata, see the <a href=\"create-smb-location.html#SMBuser\">User setting</a> for SMB locations.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Windows domain that the SMB server belongs to.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.datasync#SmbPassword",
          "traits": {
            "smithy.api#documentation": "<p>The password of the user who can mount the share, has the permissions to access files and\n      folders in the SMB share.</p>",
            "smithy.api#required": {}
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of agents to use for a Simple Message Block (SMB)\n      location. </p>",
            "smithy.api#required": {}
          }
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#SmbMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>The mount options used by DataSync to access the SMB server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value\n      can be an empty string. We recommend using tags to name your resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationSmbRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationSmbResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source SMB file system location that is\n      created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationSmbResponse</p>"
      }
    },
    "com.amazonaws.datasync#CreateTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures a task, which defines where and how DataSync transfers your\n      data.</p>\n         <p>A task includes a source location, a destination location, and the preferences for how and\n      when you want to transfer your data (such as bandwidth limits, scheduling, among other\n      options).</p>"
      }
    },
    "com.amazonaws.datasync#CreateTaskRequest": {
      "type": "structure",
      "members": {
        "SourceLocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source location for the task.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationLocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon Web Services storage resource's location. </p>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLogGroupArn": {
          "target": "com.amazonaws.datasync#LogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that is used to\n      monitor and log events in the task. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of a task. This value is a text reference that is used to identify the task in\n      the console. </p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.datasync#Options",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the configuration options for a task. Some options include preserving file or object metadata and verifying data integrity.</p>\n         <p>You can also override these options before starting an individual run of a task (also\n      known as a <i>task execution</i>). For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_StartTaskExecution.html\">StartTaskExecution</a>.</p>"
          }
        },
        "Excludes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of filter rules that exclude specific data during your transfer. For more\n      information and examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/filtering.html\">Filtering data transferred by DataSync</a>.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.datasync#TaskSchedule",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a schedule used to periodically transfer files from a source to a destination\n      location. The schedule should be specified in UTC time. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/task-scheduling.html\">Scheduling your task</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the tags that you want to apply to the Amazon Resource Name (ARN)\n      representing the task.</p>\n         <p>\n            <i>Tags</i> are key-value pairs that help you manage, filter, and search\n      for your DataSync resources.</p>"
          }
        },
        "Includes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of filter rules that include specific data during your transfer. For more information and examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/filtering.html\">Filtering data transferred by DataSync</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTaskRequest</p>"
      }
    },
    "com.amazonaws.datasync#CreateTaskResponse": {
      "type": "structure",
      "members": {
        "TaskArn": {
          "target": "com.amazonaws.datasync#TaskArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTaskResponse</p>"
      }
    },
    "com.amazonaws.datasync#DeleteAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an agent. To specify which agent to delete, use the Amazon Resource Name (ARN)\n      of the agent in your request. The operation disassociates the agent from your Amazon Web Services account.\n      However, it doesn't delete the agent virtual machine (VM) from your on-premises\n      environment.</p>"
      }
    },
    "com.amazonaws.datasync#DeleteAgentRequest": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent to delete. Use the <code>ListAgents</code>\n      operation to return a list of agents for your account and Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteAgentRequest</p>"
      }
    },
    "com.amazonaws.datasync#DeleteAgentResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.datasync#DeleteLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteLocationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the configuration of a location used by DataSync. </p>"
      }
    },
    "com.amazonaws.datasync#DeleteLocationRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the location to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteLocation</p>"
      }
    },
    "com.amazonaws.datasync#DeleteLocationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.datasync#DeleteTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an DataSync task.</p>"
      }
    },
    "com.amazonaws.datasync#DeleteTaskRequest": {
      "type": "structure",
      "members": {
        "TaskArn": {
          "target": "com.amazonaws.datasync#TaskArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the task that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteTask</p>"
      }
    },
    "com.amazonaws.datasync#DeleteTaskResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.datasync#DescribeAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata such as the name, the network interfaces, and the status (that is,\n      whether the agent is running or not) for an agent. To specify which agent to describe, use the\n      Amazon Resource Name (ARN) of the agent in your request. </p>"
      }
    },
    "com.amazonaws.datasync#DescribeAgentRequest": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeAgent</p>"
      }
    },
    "com.amazonaws.datasync#DescribeAgentResponse": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agent. If the status is ONLINE, then the agent is configured properly\n      and is available to use. The Running status is the normal running status for an agent. If the\n      status is OFFLINE, the agent's VM is turned off or the agent is in an unhealthy state. When\n      the issue that caused the unhealthy state is resolved, the agent returns to ONLINE\n      status.</p>"
          }
        },
        "LastConnectionTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the agent last connected to DataSync.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the agent was activated (that is, created in your account).</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.datasync#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of endpoint that your agent is connected to. If the endpoint is a VPC endpoint,\n      the agent is not accessible over the public internet. </p>"
          }
        },
        "PrivateLinkConfig": {
          "target": "com.amazonaws.datasync#PrivateLinkConfig",
          "traits": {
            "smithy.api#documentation": "<p>The subnet and the security group that DataSync used to access a VPC endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeAgentResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationEfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationEfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationEfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata about your DataSync location for an Amazon EFS file system.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationEfsRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationEfsRequest</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationEfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon EFS file system location.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Amazon EFS file system location.</p>"
          }
        },
        "Ec2Config": {
          "target": "com.amazonaws.datasync#Ec2Config"
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the location was created.</p>"
          }
        },
        "AccessPointArn": {
          "target": "com.amazonaws.datasync#EfsAccessPointArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the access point that DataSync uses to access the Amazon EFS file system.</p>"
          }
        },
        "FileSystemAccessRoleArn": {
          "target": "com.amazonaws.datasync#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Identity and Access Management (IAM) role that DataSync assumes when mounting the Amazon EFS file system.</p>"
          }
        },
        "InTransitEncryption": {
          "target": "com.amazonaws.datasync#EfsInTransitEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether DataSync uses Transport Layer Security (TLS) encryption when\n      copying data to or from the Amazon EFS file system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationEfsResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxLustre": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxLustreRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxLustreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about how an DataSync location for an Amazon FSx for Lustre file system is configured.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxLustreRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Lustre location to describe. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxLustreResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Lustre location that was described.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the FSx for Lustre location that was described.</p>"
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the FSx for Lustre file system.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the FSx for Lustre location was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxOntap": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxOntapRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxOntapResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about how an DataSync location for an Amazon FSx for NetApp ONTAP file system is configured.</p>\n         <note>\n            <p>If your location uses SMB, the <code>DescribeLocationFsxOntap</code> operation doesn't\n        actually return a <code>Password</code>.</p>\n         </note>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxOntapRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the FSx for ONTAP file system location that you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxOntapResponse": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the location was created.</p>"
          }
        },
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the FSx for ONTAP file system location.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The uniform resource identifier (URI) of the FSx for ONTAP file system\n      location.</p>"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.datasync#FsxProtocol"
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The security groups that DataSync uses to access your FSx for ONTAP file system.</p>"
          }
        },
        "StorageVirtualMachineArn": {
          "target": "com.amazonaws.datasync#StorageVirtualMachineArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the storage virtual machine (SVM) on your FSx for ONTAP file system where you're copying data to or from.</p>"
          }
        },
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the FSx for ONTAP file system.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxOpenZfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxOpenZfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxOpenZfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about how an DataSync location for an Amazon FSx for OpenZFS file system is configured.</p>\n         <note>\n            <p>Response elements related to <code>SMB</code> aren't supported with the\n        <code>DescribeLocationFsxOpenZfs</code> operation.</p>\n         </note>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxOpenZfsRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS location to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxOpenZfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the FSx for OpenZFS location that was described.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The uniform resource identifier (URI) of the FSx for OpenZFS location that was\n      described.</p>\n         <p>Example: <code>fsxz://us-west-2.fs-1234567890abcdef02/fsx/folderA/folder</code>\n         </p>"
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the security groups that are configured for the FSx for OpenZFS file\n      system.</p>"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.datasync#FsxProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The type of protocol that DataSync uses to\n      access your file system.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the FSx for OpenZFS location was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxWindows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxWindowsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationFsxWindowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata about an Amazon FSx for Windows File Server\n      location, such as information about its path.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxWindowsRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server location to\n      describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationFsxWindowsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server location that was\n      described.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the FSx for Windows File Server location that was described.</p>"
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the FSx\n      for Windows File Server file system.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the FSx for Windows File Server location was created.</p>"
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>The user who has the permissions to access files and folders in the FSx for Windows File\n      Server file system.</p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Windows domain that the FSx for Windows File Server belongs to.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationHdfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationHdfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationHdfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata, such as the authentication information about the Hadoop Distributed File\n      System (HDFS) location. </p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationHdfsRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the HDFS cluster location to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationHdfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the HDFS cluster location.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the HDFS cluster location.</p>"
          }
        },
        "NameNodes": {
          "target": "com.amazonaws.datasync#HdfsNameNodeList",
          "traits": {
            "smithy.api#documentation": "<p>The NameNode that manage the HDFS namespace. </p>"
          }
        },
        "BlockSize": {
          "target": "com.amazonaws.datasync#HdfsBlockSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the data blocks to write into the HDFS cluster. </p>"
          }
        },
        "ReplicationFactor": {
          "target": "com.amazonaws.datasync#HdfsReplicationFactor",
          "traits": {
            "smithy.api#documentation": "<p>The number of DataNodes to replicate the data to when writing to the HDFS cluster. </p>"
          }
        },
        "KmsKeyProviderUri": {
          "target": "com.amazonaws.datasync#KmsKeyProviderUri",
          "traits": {
            "smithy.api#documentation": "<p> The URI of the HDFS cluster's Key Management Server (KMS). </p>"
          }
        },
        "QopConfiguration": {
          "target": "com.amazonaws.datasync#QopConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Quality of Protection (QOP) configuration specifies the Remote Procedure Call (RPC)\n      and data transfer protection settings configured on the Hadoop Distributed File System (HDFS)\n      cluster. </p>"
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.datasync#HdfsAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication used to determine the identity of the user. </p>"
          }
        },
        "SimpleUser": {
          "target": "com.amazonaws.datasync#HdfsUser",
          "traits": {
            "smithy.api#documentation": "<p>The user name used to identify the client on the host operating system. This parameter is\n      used if the <code>AuthenticationType</code> is defined as <code>SIMPLE</code>.</p>"
          }
        },
        "KerberosPrincipal": {
          "target": "com.amazonaws.datasync#KerberosPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The Kerberos principal with access to the files and folders on the HDFS cluster. This\n      parameter is used if the <code>AuthenticationType</code> is defined as\n      <code>KERBEROS</code>.</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the agents that are used to connect to the HDFS cluster. </p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the HDFS location was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.datasync#DescribeLocationNfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationNfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationNfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata, such as the path information, about an NFS location.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationNfsRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the NFS location to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationNfsRequest</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationNfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the NFS location that was described.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the source NFS location that was described.</p>"
          }
        },
        "OnPremConfig": {
          "target": "com.amazonaws.datasync#OnPremConfig"
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#NfsMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>The NFS mount options that DataSync used to mount your NFS share.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the NFS location was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationNfsResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationObjectStorage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationObjectStorageRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationObjectStorageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata about your DataSync location for an object storage system.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationObjectStorageRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the object storage system location that you want information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationObjectStorageRequest</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationObjectStorageResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the object storage system location.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the object storage system location.</p>"
          }
        },
        "AccessKey": {
          "target": "com.amazonaws.datasync#ObjectStorageAccessKey",
          "traits": {
            "smithy.api#documentation": "<p>The access key (for example, a user name) required to authenticate with the object storage\n      system.</p>"
          }
        },
        "ServerPort": {
          "target": "com.amazonaws.datasync#ObjectStorageServerPort",
          "traits": {
            "smithy.api#documentation": "<p>The port that your object storage server accepts inbound network traffic on (for example, port 443).</p>"
          }
        },
        "ServerProtocol": {
          "target": "com.amazonaws.datasync#ObjectStorageServerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol that your object storage system uses to communicate.</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the DataSync agents that can securely connect with your location.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the location was created.</p>"
          }
        },
        "ServerCertificate": {
          "target": "com.amazonaws.datasync#ObjectStorageCertificate",
          "traits": {
            "smithy.api#documentation": "<p>The self-signed certificate that DataSync uses to securely authenticate with\n      your object storage system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationObjectStorageResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationS3": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationS3Request"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationS3Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata, such as bucket name, about an Amazon S3 bucket location.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationS3Request": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket location to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationS3Request</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationS3Response": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket or access point.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Amazon S3 location that was described.</p>"
          }
        },
        "S3StorageClass": {
          "target": "com.amazonaws.datasync#S3StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 storage class that you chose to store your files in when this location is\n      used as a task destination. For more information about S3 storage classes, see <a href=\"http://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a>. Some storage\n      classes have behaviors that can affect your S3 storage cost. For detailed information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Considerations when \n        working with S3 storage classes in DataSync</a>.</p>"
          }
        },
        "S3Config": {
          "target": "com.amazonaws.datasync#S3Config"
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>If you are using DataSync on an Amazon Web Services Outpost, the Amazon Resource Name (ARNs) of the EC2\n      agents deployed on your Outpost. For more information about launching a DataSync agent on an\n      Amazon Web Services Outpost, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent on Outposts</a>.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the Amazon S3 bucket location was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationS3Response</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationSmb": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationSmbRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationSmbResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata, such as the path and user information about an SMB location.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationSmbRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SMB location to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationSmbRequest</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationSmbResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SMB location that was described.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.datasync#LocationUri",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the source SMB location that was described.</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source SMB file system location that is\n      created.</p>"
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>The user who can mount the share, has the permissions to access files and folders in the\n      SMB share.</p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Windows domain that the SMB server belongs to.</p>"
          }
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#SmbMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>The mount options that are available for DataSync to use to access an SMB location.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the SMB location was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeLocationSmbResponse</p>"
      }
    },
    "com.amazonaws.datasync#DescribeTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata about a task.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeTaskExecution": {
      "type": "operation",
      "input": {
[...]
