{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.datapipeline#ActivatePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#ActivatePipelineInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#ActivatePipelineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineDeletedException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Validates the specified pipeline and starts processing pipeline tasks. If the pipeline does not pass validation, \n           activation fails.</p>\n        <p>If you need to pause the pipeline to investigate an issue with a component, such as a data source or script, \n           call <a>DeactivatePipeline</a>.</p>\n        <p>To activate a finished pipeline, modify the end date for the pipeline and then activate it.</p>\n        <examples>\n            <request>\n                \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.ActivatePipeline\nContent-Length: 39\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\"}\n\n            </request>\n            <response>\n                \nHTTP/1.1 200 \nx-amzn-RequestId: ee19d5bf-074e-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 2\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{}\n                \n            </response>\n        </examples>"
      }
    },
    "com.amazonaws.datapipeline#ActivatePipelineInput": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "parameterValues": {
          "target": "com.amazonaws.datapipeline#ParameterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of parameter values to pass to the pipeline at activation.</p>"
          }
        },
        "startTimestamp": {
          "target": "com.amazonaws.datapipeline#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for ActivatePipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#ActivatePipelineOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of ActivatePipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#AddTagsInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#AddTagsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineDeletedException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or modifies tags for the specified pipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#AddTagsInput": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.datapipeline#tagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add, as key/value pairs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for AddTags.</p>"
      }
    },
    "com.amazonaws.datapipeline#AddTagsOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of AddTags.</p>"
      }
    },
    "com.amazonaws.datapipeline#CreatePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#CreatePipelineInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#CreatePipelineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new, empty pipeline. Use <a>PutPipelineDefinition</a> to populate the pipeline.</p> \n        \n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.CreatePipeline\nContent-Length: 91\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"name\": \"myPipeline\",\n \"uniqueId\": \"123456789\",\n \"description\": \"This is my first pipeline\"}\n \n            </request>\n            \n            <response>\n                \nHTTP/1.1 200 \nx-amzn-RequestId: b16911ce-0774-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 40\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\"}\n         \n            </response>\n        </examples>"
      }
    },
    "com.amazonaws.datapipeline#CreatePipelineInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The name for the pipeline. You can use the same name for multiple pipelines associated with your AWS account, \n            because AWS Data Pipeline assigns each pipeline a unique pipeline identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "uniqueId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier. This identifier is not the same as the pipeline identifier assigned by AWS Data Pipeline. \n            You are responsible for defining the format and ensuring the uniqueness of this identifier. You use this \n            parameter to ensure idempotency during repeated calls to <code>CreatePipeline</code>. For example, if the \n            first call to <code>CreatePipeline</code> does not succeed, you can pass in the same unique identifier and \n            pipeline name combination on a subsequent call to <code>CreatePipeline</code>. <code>CreatePipeline</code> \n            ensures that if a pipeline already exists with the same name and unique identifier, a new pipeline is not \n            created. Instead, you'll receive the pipeline identifier from the previous attempt. The uniqueness of the \n            name and unique identifier combination is scoped to the AWS account or IAM user credentials.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datapipeline#string",
          "traits": {
            "smithy.api#documentation": "<p>The description for the pipeline.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.datapipeline#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to associate with the pipeline at creation. Tags let you control access to pipelines. \n            For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> \n            in the <i>AWS Data Pipeline Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for CreatePipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#CreatePipelineOutput": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID that AWS Data Pipeline assigns the newly created pipeline. For example, <code>df-06372391ZG65EXAMPLE</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of CreatePipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#DataPipeline": {
      "type": "service",
      "version": "2012-10-29",
      "operations": [
        {
          "target": "com.amazonaws.datapipeline#ActivatePipeline"
        },
        {
          "target": "com.amazonaws.datapipeline#AddTags"
        },
        {
          "target": "com.amazonaws.datapipeline#CreatePipeline"
        },
        {
          "target": "com.amazonaws.datapipeline#DeactivatePipeline"
        },
        {
          "target": "com.amazonaws.datapipeline#DeletePipeline"
        },
        {
          "target": "com.amazonaws.datapipeline#DescribeObjects"
        },
        {
          "target": "com.amazonaws.datapipeline#DescribePipelines"
        },
        {
          "target": "com.amazonaws.datapipeline#EvaluateExpression"
        },
        {
          "target": "com.amazonaws.datapipeline#GetPipelineDefinition"
        },
        {
          "target": "com.amazonaws.datapipeline#ListPipelines"
        },
        {
          "target": "com.amazonaws.datapipeline#PollForTask"
        },
        {
          "target": "com.amazonaws.datapipeline#PutPipelineDefinition"
        },
        {
          "target": "com.amazonaws.datapipeline#QueryObjects"
        },
        {
          "target": "com.amazonaws.datapipeline#RemoveTags"
        },
        {
          "target": "com.amazonaws.datapipeline#ReportTaskProgress"
        },
        {
          "target": "com.amazonaws.datapipeline#ReportTaskRunnerHeartbeat"
        },
        {
          "target": "com.amazonaws.datapipeline#SetStatus"
        },
        {
          "target": "com.amazonaws.datapipeline#SetTaskStatus"
        },
        {
          "target": "com.amazonaws.datapipeline#ValidatePipelineDefinition"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Data Pipeline",
          "arnNamespace": "datapipeline",
          "cloudFormationName": "DataPipeline",
          "cloudTrailEventSource": "datapipeline.amazonaws.com",
          "endpointPrefix": "datapipeline"
        },
        "aws.auth#sigv4": {
          "name": "datapipeline"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>AWS Data Pipeline configures and manages a data-driven workflow called a pipeline. AWS Data Pipeline \n            handles the details of scheduling and ensuring that data dependencies are met so that your application \n            can focus on processing the data.</p>\n\n        <p>AWS Data Pipeline provides a JAR implementation of a task runner called AWS Data Pipeline Task Runner. \n            AWS Data Pipeline Task Runner provides logic for common data management scenarios, such as performing \n            database queries and running data analysis using Amazon Elastic MapReduce (Amazon EMR). You can use \n            AWS Data Pipeline Task Runner as your task runner, or you can write your own task runner to provide \n            custom data management.</p>\n        \n        <p>AWS Data Pipeline implements two main sets of functionality. Use the first set to create a pipeline \n           and define data sources, schedules, dependencies, and the transforms to be performed on the data. \n           Use the second set in your task runner application to receive the next task ready for processing. \n           The logic for performing the task, such as querying the data, running data analysis, or converting \n           the data from one format to another, is contained within the task runner. The task runner performs \n           the task assigned to it by the web service, reporting progress to the web service as it does so. \n           When the task is done, the task runner reports the final success or failure of the task to the web service.</p>",
        "smithy.api#title": "AWS Data Pipeline",
        "smithy.api#xmlNamespace": {
          "uri": "http://datapipeline.amazonaws.com/doc/2012-10-29/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://datapipeline-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://datapipeline-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://datapipeline.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://datapipeline.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://datapipeline.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.datapipeline#DeactivatePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#DeactivatePipelineInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#DeactivatePipelineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineDeletedException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deactivates the specified running pipeline. The pipeline is set to the <code>DEACTIVATING</code>\n          state until the deactivation process completes.</p>\n        <p>To resume a deactivated pipeline, use <a>ActivatePipeline</a>. By default, the pipeline resumes from the last completed execution.\n          Optionally, you can specify the date and time to resume the pipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#DeactivatePipelineInput": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "cancelActive": {
          "target": "com.amazonaws.datapipeline#cancelActive",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to cancel any running objects. The default is true, \n          which sets the state of any running objects to <code>CANCELED</code>.\n          If this value is false, the pipeline is deactivated after all \n          running objects finish.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for DeactivatePipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#DeactivatePipelineOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of DeactivatePipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#DeletePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#DeletePipelineInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a pipeline, its pipeline definition, and its run history.  \n           AWS Data Pipeline attempts to cancel instances associated with the pipeline that are currently being processed by task runners.</p>\n        <p>Deleting a pipeline cannot be undone. You cannot query or restore a deleted pipeline. \n            To temporarily pause a pipeline instead of deleting it, call <a>SetStatus</a> with the status set to <code>PAUSE</code> on individual components. \n            Components that are paused by <a>SetStatus</a> can be resumed.</p>\n\n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.DeletePipeline\nContent-Length: 50\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\"}\n\n            </request>\n            \n            <response>\n                 \nx-amzn-RequestId: b7a88c81-0754-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 0\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\nUnexpected response: 200, OK, undefined\n        \n            </response>\n        </examples>"
      }
    },
    "com.amazonaws.datapipeline#DeletePipelineInput": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for DeletePipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#DescribeObjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#DescribeObjectsInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#DescribeObjectsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineDeletedException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the object definitions for a set of objects associated with the pipeline. Object definitions are composed of \n            a set of fields that define the properties of the object.</p>\n        \n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.DescribeObjects\nContent-Length: 98\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\",\n \"objectIds\": \n  [\"Schedule\"],\n \"evaluateExpressions\": true}\n\n            </request>\n            \n            <response>\n\nx-amzn-RequestId: 4c18ea5d-0777-11e2-8a14-21bb8a1f50ef\nContent-Type: application/x-amz-json-1.1\nContent-Length: 1488\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"hasMoreResults\": false, \n \"pipelineObjects\": \n  [\n    {\"fields\": \n      [\n        {\"key\": \"startDateTime\", \n         \"stringValue\": \"2012-12-12T00:00:00\"}, \n        {\"key\": \"parent\", \n         \"refValue\": \"Default\"}, \n        {\"key\": \"@sphere\", \n         \"stringValue\": \"COMPONENT\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"Schedule\"}, \n        {\"key\": \"period\", \n         \"stringValue\": \"1 hour\"}, \n        {\"key\": \"endDateTime\", \n         \"stringValue\": \"2012-12-21T18:00:00\"}, \n        {\"key\": \"@version\", \n         \"stringValue\": \"1\"}, \n        {\"key\": \"@status\", \n         \"stringValue\": \"PENDING\"}, \n        {\"key\": \"@pipelineId\", \n         \"stringValue\": \"df-06372391ZG65EXAMPLE\"}\n      ], \n     \"id\": \"Schedule\", \n     \"name\": \"Schedule\"}\n  ]\n}\n         \n            </response>\n        </examples>",
        "smithy.api#paginated": {
          "inputToken": "marker",
          "outputToken": "marker",
          "items": "pipelineObjects"
        }
      }
    },
    "com.amazonaws.datapipeline#DescribeObjectsInput": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline that contains the object definitions.</p>",
            "smithy.api#required": {}
          }
        },
        "objectIds": {
          "target": "com.amazonaws.datapipeline#idList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the pipeline objects that contain the definitions to be described. You can pass as many as 25 identifiers in a single call to <code>DescribeObjects</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "evaluateExpressions": {
          "target": "com.amazonaws.datapipeline#boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether any expressions in the object should be evaluated when the object descriptions are returned.</p>"
          }
        },
        "marker": {
          "target": "com.amazonaws.datapipeline#string",
          "traits": {
            "smithy.api#documentation": "<p>The starting point for the results to be returned. For the first call, this value should be empty. \n           As long as there are more results, continue to call <code>DescribeObjects</code> with\n           the marker value from the previous call to retrieve the next set of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for DescribeObjects.</p>"
      }
    },
    "com.amazonaws.datapipeline#DescribeObjectsOutput": {
      "type": "structure",
      "members": {
        "pipelineObjects": {
          "target": "com.amazonaws.datapipeline#PipelineObjectList",
          "traits": {
            "smithy.api#documentation": "<p>An array of object definitions.</p>",
            "smithy.api#required": {}
          }
        },
        "marker": {
          "target": "com.amazonaws.datapipeline#string",
          "traits": {
            "smithy.api#documentation": "<p>The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> \n           again with this marker value. If the value is null, there are no more results.</p>"
          }
        },
        "hasMoreResults": {
          "target": "com.amazonaws.datapipeline#boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether there are more results to return.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of DescribeObjects.</p>"
      }
    },
    "com.amazonaws.datapipeline#DescribePipelines": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#DescribePipelinesInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#DescribePipelinesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineDeletedException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves metadata about one or more pipelines. The information retrieved includes the name of the pipeline, the pipeline identifier, \n            its current state, and the user account that owns the pipeline. Using account credentials, you can retrieve metadata about pipelines \n            that you or your IAM users have created. If you are using an IAM user account, you can retrieve metadata about only those pipelines \n            for which you have read permissions.</p>\n        <p>To retrieve the full pipeline definition instead of metadata about the pipeline, call <a>GetPipelineDefinition</a>.</p>\n\n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.DescribePipelines\nContent-Length: 70\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineIds\": \n  [\"df-08785951KAKJEXAMPLE\"]\n}\n\n            </request>\n\n            <response>\n             \nx-amzn-RequestId: 02870eb7-0736-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 767\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"pipelineDescriptionList\": \n  [\n    {\"description\": \"This is my first pipeline\", \n     \"fields\": \n      [\n        {\"key\": \"@pipelineState\", \n         \"stringValue\": \"SCHEDULED\"}, \n        {\"key\": \"description\", \n         \"stringValue\": \"This is my first pipeline\"}, \n        {\"key\": \"name\", \n         \"stringValue\": \"myPipeline\"}, \n        {\"key\": \"@creationTime\", \n         \"stringValue\": \"2012-12-13T01:24:06\"}, \n        {\"key\": \"@id\", \n         \"stringValue\": \"df-0937003356ZJEXAMPLE\"}, \n        {\"key\": \"@sphere\", \n         \"stringValue\": \"PIPELINE\"}, \n        {\"key\": \"@version\", \n         \"stringValue\": \"1\"}, \n        {\"key\": \"@userId\", \n         \"stringValue\": \"924374875933\"}, \n        {\"key\": \"@accountId\", \n         \"stringValue\": \"924374875933\"}, \n        {\"key\": \"uniqueId\", \n         \"stringValue\": \"1234567890\"}\n      ], \n     \"name\": \"myPipeline\", \n     \"pipelineId\": \"df-0937003356ZJEXAMPLE\"}\n  ]\n}\n</response>\n        </examples>"
      }
    },
    "com.amazonaws.datapipeline#DescribePipelinesInput": {
      "type": "structure",
      "members": {
        "pipelineIds": {
          "target": "com.amazonaws.datapipeline#idList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. \n            To obtain pipeline IDs, call <a>ListPipelines</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for DescribePipelines.</p>"
      }
    },
    "com.amazonaws.datapipeline#DescribePipelinesOutput": {
      "type": "structure",
      "members": {
        "pipelineDescriptionList": {
          "target": "com.amazonaws.datapipeline#PipelineDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>An array of descriptions for the specified pipelines.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of DescribePipelines.</p>"
      }
    },
    "com.amazonaws.datapipeline#EvaluateExpression": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#EvaluateExpressionInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#EvaluateExpressionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineDeletedException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineNotFoundException"
        },
        {
          "target": "com.amazonaws.datapipeline#TaskNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Task runners call <code>EvaluateExpression</code> to evaluate a string in the context of the specified object. \n            For example, a task runner can evaluate SQL queries stored in Amazon S3.</p>\n        \n        <examples>\n            <request>\n                \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.DescribePipelines\nContent-Length: 164\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-08785951KAKJEXAMPLE\",\n        \"objectId\": \"Schedule\",\n        \"expression\": \"Transform started at #{startDateTime} and finished at #{endDateTime}\"}\n\n            </request>\n            \n            \n            <response>\n                 \nx-amzn-RequestId: 02870eb7-0736-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 103\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"evaluatedExpression\": \"Transform started at 2012-12-12T00:00:00 and finished at 2012-12-21T18:00:00\"}\n</response>\n        </examples>"
      }
    },
    "com.amazonaws.datapipeline#EvaluateExpressionInput": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "objectId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the object.</p>",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "com.amazonaws.datapipeline#longString",
          "traits": {
            "smithy.api#documentation": "<p>The expression to evaluate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for EvaluateExpression.</p>"
      }
    },
    "com.amazonaws.datapipeline#EvaluateExpressionOutput": {
      "type": "structure",
      "members": {
        "evaluatedExpression": {
          "target": "com.amazonaws.datapipeline#longString",
          "traits": {
            "smithy.api#documentation": "<p>The evaluated expression.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of EvaluateExpression.</p>"
      }
    },
    "com.amazonaws.datapipeline#Field": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.datapipeline#fieldNameString",
          "traits": {
            "smithy.api#documentation": "<p>The field identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "stringValue": {
          "target": "com.amazonaws.datapipeline#fieldStringValue",
          "traits": {
            "smithy.api#documentation": "<p>The field value, expressed as a String.</p>"
          }
        },
        "refValue": {
          "target": "com.amazonaws.datapipeline#fieldNameString",
          "traits": {
            "smithy.api#documentation": "<p>The field value, expressed as the identifier of another object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A key-value pair that describes a property of a pipeline object. The value is specified as either a string value (<code>StringValue</code>) or a reference to another object (<code>RefValue</code>) but not as both.</p>"
      }
    },
    "com.amazonaws.datapipeline#GetPipelineDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#GetPipelineDefinitionInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#GetPipelineDefinitionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineDeletedException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the definition of the specified pipeline. You can call <code>GetPipelineDefinition</code> to retrieve \n            the pipeline definition that you provided using <a>PutPipelineDefinition</a>.</p>\n\n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.GetPipelineDefinition\nContent-Length: 40\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\"}\n\n            </request>\n            <response>\n                \nx-amzn-RequestId: e28309e5-0776-11e2-8a14-21bb8a1f50ef\nContent-Type: application/x-amz-json-1.1\nContent-Length: 890\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"pipelineObjects\": \n  [\n    {\"fields\": \n      [\n        {\"key\": \"workerGroup\", \n         \"stringValue\": \"workerGroup\"}\n      ], \n     \"id\": \"Default\", \n     \"name\": \"Default\"}, \n    {\"fields\": \n      [\n        {\"key\": \"startDateTime\", \n         \"stringValue\": \"2012-09-25T17:00:00\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"Schedule\"}, \n        {\"key\": \"period\", \n         \"stringValue\": \"1 hour\"}, \n        {\"key\": \"endDateTime\", \n         \"stringValue\": \"2012-09-25T18:00:00\"}\n      ], \n     \"id\": \"Schedule\", \n     \"name\": \"Schedule\"}, \n    {\"fields\": \n      [\n        {\"key\": \"schedule\", \n         \"refValue\": \"Schedule\"}, \n        {\"key\": \"command\", \n         \"stringValue\": \"echo hello\"}, \n        {\"key\": \"parent\", \n         \"refValue\": \"Default\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"ShellCommandActivity\"}\n      ], \n     \"id\": \"SayHello\", \n     \"name\": \"SayHello\"}\n  ]\n}\n\n            </response>\n        </examples>"
      }
    },
    "com.amazonaws.datapipeline#GetPipelineDefinitionInput": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.datapipeline#string",
          "traits": {
            "smithy.api#documentation": "<p>The version of the pipeline definition to retrieve. Set this parameter to <code>latest</code> (default) \n            to use the last definition saved to the pipeline or <code>active</code> to use the last definition  \n            that was activated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for GetPipelineDefinition.</p>"
      }
    },
    "com.amazonaws.datapipeline#GetPipelineDefinitionOutput": {
      "type": "structure",
      "members": {
        "pipelineObjects": {
          "target": "com.amazonaws.datapipeline#PipelineObjectList",
          "traits": {
            "smithy.api#documentation": "<p>The objects defined in the pipeline.</p>"
          }
        },
        "parameterObjects": {
          "target": "com.amazonaws.datapipeline#ParameterObjectList",
          "traits": {
            "smithy.api#documentation": "<p>The parameter objects used in the pipeline definition.</p>"
          }
        },
        "parameterValues": {
          "target": "com.amazonaws.datapipeline#ParameterValueList",
          "traits": {
            "smithy.api#documentation": "<p>The parameter values used in the pipeline definition.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of GetPipelineDefinition.</p>"
      }
    },
    "com.amazonaws.datapipeline#InstanceIdentity": {
      "type": "structure",
      "members": {
        "document": {
          "target": "com.amazonaws.datapipeline#string",
          "traits": {
            "smithy.api#documentation": "<p>A description of an EC2 instance that is generated when the instance is launched and exposed to the instance via the instance metadata service in the form of a JSON representation of an object.</p>"
          }
        },
        "signature": {
          "target": "com.amazonaws.datapipeline#string",
          "traits": {
            "smithy.api#documentation": "<p>A signature which can be used to verify the accuracy and authenticity of the information provided in the instance identity document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p><p>Identity information for the EC2 instance that is hosting the task runner. You can get this value by calling a metadata URI from the EC2 instance. \n            For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html\">Instance Metadata</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> \n            Passing in this value proves that your task runner is running on an EC2 instance, and ensures the proper AWS Data Pipeline service charges are applied to your pipeline.</p></p>"
      }
    },
    "com.amazonaws.datapipeline#InternalServiceError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.datapipeline#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Description of the error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal service error occurred.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.datapipeline#InvalidRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.datapipeline#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Description of the error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.datapipeline#ListPipelines": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#ListPipelinesInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#ListPipelinesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the pipeline identifiers for all active pipelines that you have permission to access.</p> \n        \n        <examples>\n            <request>\n                \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.ListPipelines\nContent-Length: 14\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{}</request>\n            \n            <response>\n                \nStatus:\nx-amzn-RequestId: b3104dc5-0734-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 39\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"PipelineIdList\": \n  [\n    {\"id\": \"df-08785951KAKJEXAMPLE\",\n     \"name\": \"MyPipeline\"}, \n    {\"id\": \"df-08662578ISYEXAMPLE\", \n     \"name\": \"MySecondPipeline\"}\n  ]\n}</response>\n        </examples>",
        "smithy.api#paginated": {
          "inputToken": "marker",
          "outputToken": "marker",
          "items": "pipelineIdList"
        }
      }
    },
    "com.amazonaws.datapipeline#ListPipelinesInput": {
      "type": "structure",
      "members": {
        "marker": {
          "target": "com.amazonaws.datapipeline#string",
          "traits": {
            "smithy.api#documentation": "<p>The starting point for the results to be returned. For the first call, this value should be empty. \n           As long as there are more results, continue to call <code>ListPipelines</code> with\n           the marker value from the previous call to retrieve the next set of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for ListPipelines.</p>"
      }
    },
    "com.amazonaws.datapipeline#ListPipelinesOutput": {
      "type": "structure",
      "members": {
        "pipelineIdList": {
          "target": "com.amazonaws.datapipeline#pipelineList",
          "traits": {
            "smithy.api#documentation": "<p>The pipeline identifiers. If you require additional information about the pipelines, you can use these identifiers to call \n            <a>DescribePipelines</a> and <a>GetPipelineDefinition</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "marker": {
          "target": "com.amazonaws.datapipeline#string",
          "traits": {
            "smithy.api#documentation": "<p>The starting point for the next page of results. To view the next page of results, call <code>ListPipelinesOutput</code> \n           again with this marker value. If the value is null, there are no more results.</p>"
          }
        },
        "hasMoreResults": {
          "target": "com.amazonaws.datapipeline#boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether there are more results that can be obtained by a subsequent call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of ListPipelines.</p>"
      }
    },
    "com.amazonaws.datapipeline#Operator": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.datapipeline#OperatorType",
          "traits": {
            "smithy.api#documentation": "<p>\n            The logical operation to be performed: equal (<code>EQ</code>), equal reference (<code>REF_EQ</code>), less than or equal (<code>LE</code>), greater than or equal (<code>GE</code>), or between (<code>BETWEEN</code>). Equal reference (<code>REF_EQ</code>) can be used only with reference fields. The other comparison types can be used only with String fields. The comparison types you can use apply only to certain object fields, as detailed below.  \n        </p>\n        <p>\n          The comparison operators EQ and REF_EQ act on the following fields:\n        </p>\n        <ul>\n            <li>name</li>\n            <li>@sphere</li>\n            <li>parent</li>\n            <li>@componentParent</li>\n            <li>@instanceParent</li>\n            <li>@status</li>\n            <li>@scheduledStartTime</li>\n            <li>@scheduledEndTime</li>\n            <li>@actualStartTime</li>\n            <li>@actualEndTime</li>\n        </ul>\n        \n        <p>\n            The comparison operators <code>GE</code>, <code>LE</code>, and <code>BETWEEN</code> act on the following fields:\n        </p>\n        <ul>\n            <li>@scheduledStartTime</li>\n            <li>@scheduledEndTime</li>\n            <li>@actualStartTime</li>\n            <li>@actualEndTime</li>\n        </ul>\n        <p>Note that fields beginning with the at sign (@) are read-only and set by the web service. When you name fields, you should choose names containing only alpha-numeric values, as symbols may be reserved by AWS Data Pipeline. User-defined fields that you add to a pipeline should prefix their name with the string \"my\".</p>"
          }
        },
        "values": {
          "target": "com.amazonaws.datapipeline#stringList",
          "traits": {
            "smithy.api#documentation": "<p>The value that the actual field value will be compared with.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a logical operation for comparing the value of a field with a specified value.</p>"
      }
    },
    "com.amazonaws.datapipeline#OperatorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQ",
            "name": "Equal"
          },
          {
            "value": "REF_EQ",
            "name": "ReferenceEqual"
          },
          {
            "value": "LE",
            "name": "LessThanOrEqual"
          },
          {
            "value": "GE",
            "name": "GreaterThanOrEqual"
          },
          {
            "value": "BETWEEN",
            "name": "Between"
          }
        ]
      }
    },
    "com.amazonaws.datapipeline#ParameterAttribute": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.datapipeline#attributeNameString",
          "traits": {
            "smithy.api#documentation": "<p>The field identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "stringValue": {
          "target": "com.amazonaws.datapipeline#attributeValueString",
          "traits": {
            "smithy.api#documentation": "<p>The field value, expressed as a String.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The attributes allowed or specified with a parameter object.</p>"
      }
    },
    "com.amazonaws.datapipeline#ParameterAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datapipeline#ParameterAttribute"
      }
    },
    "com.amazonaws.datapipeline#ParameterObject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datapipeline#fieldNameString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parameter object. </p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.datapipeline#ParameterAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes of the parameter object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a parameter object.</p>"
      }
    },
    "com.amazonaws.datapipeline#ParameterObjectList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datapipeline#ParameterObject"
      }
    },
    "com.amazonaws.datapipeline#ParameterValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datapipeline#fieldNameString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parameter value.</p>",
            "smithy.api#required": {}
          }
        },
        "stringValue": {
          "target": "com.amazonaws.datapipeline#fieldStringValue",
          "traits": {
            "smithy.api#documentation": "<p>The field value, expressed as a String.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A value or list of parameter values. </p>"
      }
    },
    "com.amazonaws.datapipeline#ParameterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datapipeline#ParameterValue"
      }
    },
    "com.amazonaws.datapipeline#PipelineDeletedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.datapipeline#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Description of the error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified pipeline has been deleted.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.datapipeline#PipelineDescription": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The pipeline identifier that was assigned by AWS Data Pipeline. This is a string of the form <code>df-297EG78HU43EEXAMPLE</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.amazonaws.datapipeline#fieldList",
          "traits": {
            "smithy.api#documentation": "<p>A list of read-only fields that contain metadata about the pipeline: @userId, @accountId, and @pipelineState.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datapipeline#string",
          "traits": {
            "smithy.api#documentation": "<p>Description of the pipeline.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.datapipeline#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to associated with a pipeline. Tags let you control access to pipelines. \n            For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains pipeline metadata.</p>"
      }
    },
    "com.amazonaws.datapipeline#PipelineDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datapipeline#PipelineDescription"
      }
    },
    "com.amazonaws.datapipeline#PipelineIdName": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline that was assigned by AWS Data Pipeline. This is a string of the form <code>df-297EG78HU43EEXAMPLE</code>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the name and identifier of a pipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#PipelineNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.datapipeline#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Description of the error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.datapipeline#PipelineObject": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the object.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The name of the object.</p>",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.amazonaws.datapipeline#fieldList",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that define the properties of the object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a pipeline object. This can be a logical, physical, or physical attempt pipeline object. The complete set of components of a pipeline defines the pipeline.</p>"
      }
    },
    "com.amazonaws.datapipeline#PipelineObjectList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datapipeline#PipelineObject"
      }
    },
    "com.amazonaws.datapipeline#PipelineObjectMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.datapipeline#id"
      },
      "value": {
        "target": "com.amazonaws.datapipeline#PipelineObject"
      }
    },
    "com.amazonaws.datapipeline#PollForTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#PollForTaskInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#PollForTaskOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#TaskNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Task runners call <code>PollForTask</code> to receive a task to perform from AWS Data Pipeline. The task runner specifies which tasks it can perform \n            by setting a value for the <code>workerGroup</code> parameter. The task returned can come from any of the pipelines that \n            match the <code>workerGroup</code> value passed in by the task runner and that was launched using the IAM user credentials \n            specified by the task runner.</p>\n        <p>If tasks are ready in the work queue, <code>PollForTask</code> returns a response immediately. If no tasks are available in the queue, \n            <code>PollForTask</code> uses long-polling and holds on to a poll connection for up to a 90 seconds, during which time the first newly \n            scheduled task is handed to the task runner. To accomodate this, set the socket timeout in your task runner to 90 seconds. The task \n            runner should not call <code>PollForTask</code> again on the same <code>workerGroup</code> until it receives a response, and this can take up to 90 seconds.\n        </p>\n\n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.PollForTask\nContent-Length: 59\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"workerGroup\": \"MyworkerGroup\",\n \"hostname\": \"example.com\"}\n\n            </request>\n            \n            <response>\n \nx-amzn-RequestId: 41c713d2-0775-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 39\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"taskObject\": \n  {\"attemptId\": \"@SayHello_2012-12-12T00:00:00_Attempt=1\", \n   \"objects\": \n    {\"@SayHello_2012-12-12T00:00:00_Attempt=1\": \n      {\"fields\": \n        [\n          {\"key\": \"@componentParent\", \n           \"refValue\": \"SayHello\"}, \n          {\"key\": \"@scheduledStartTime\", \n           \"stringValue\": \"2012-12-12T00:00:00\"}, \n          {\"key\": \"parent\", \n           \"refValue\": \"SayHello\"}, \n          {\"key\": \"@sphere\", \n           \"stringValue\": \"ATTEMPT\"}, \n          {\"key\": \"workerGroup\", \n           \"stringValue\": \"workerGroup\"}, \n          {\"key\": \"@instanceParent\", \n           \"refValue\": \"@SayHello_2012-12-12T00:00:00\"}, \n          {\"key\": \"type\", \n           \"stringValue\": \"ShellCommandActivity\"}, \n          {\"key\": \"@status\", \n           \"stringValue\": \"WAITING_FOR_RUNNER\"}, \n          {\"key\": \"@version\", \n           \"stringValue\": \"1\"}, \n          {\"key\": \"schedule\", \n           \"refValue\": \"Schedule\"}, \n          {\"key\": \"@actualStartTime\", \n           \"stringValue\": \"2012-12-13T01:40:50\"}, \n          {\"key\": \"command\", \n           \"stringValue\": \"echo hello\"}, \n          {\"key\": \"@scheduledEndTime\", \n           \"stringValue\": \"2012-12-12T01:00:00\"}, \n          {\"key\": \"@activeInstances\", \n           \"refValue\": \"@SayHello_2012-12-12T00:00:00\"}, \n          {\"key\": \"@pipelineId\", \n           \"stringValue\": \"df-0937003356ZJEXAMPLE\"}\n        ], \n       \"id\": \"@SayHello_2012-12-12T00:00:00_Attempt=1\", \n       \"name\": \"@SayHello_2012-12-12T00:00:00_Attempt=1\"}\n    }, \n   \"pipelineId\": \"df-0937003356ZJEXAMPLE\", \n   \"taskId\": \"2xaM4wRs5zOsIH+g9U3oVHfAgAlbSqU6XduncB0HhZ3xMnmvfePZPn4dIbYXHyWyRK+cU15MqDHwdrvftx/4wv+sNS4w34vJfv7QA9aOoOazW28l1GYSb2ZRR0N0paiQp+d1MhSKo10hOTWOsVK5S5Lnx9Qm6omFgXHyIvZRIvTlrQMpr1xuUrflyGOfbFOGpOLpvPE172MYdqpZKnbSS4TcuqgQKSWV2833fEubI57DPOP7ghWa2TcYeSIv4pdLYG53fTuwfbnbdc98g2LNUQzSVhSnt7BoqyNwht2aQ6b/UHg9A80+KVpuXuqmz3m1MXwHFgxjdmuesXNOrrlGpeLCcRWD+aGo0RN1NqhQRzNAig8V4GlaPTQzMsRCljKqvrIyAoP3Tt2XEGsHkkQo12rEX8Z90957XX2qKRwhruwYzqGkSLWjINoLdAxUJdpRXRc5DJTrBd3D5mdzn7kY1l7NEh4kFHJDt3Cx4Z3Mk8MYCACyCk/CEyy9DwuPi66cLz0NBcgbCM5LKjTBOwo1m+am+pvM1kSposE9FPP1+RFGb8k6jQBTJx3TRz1yKilnGXQTZ5xvdOFpJrklIT0OXP1MG3+auM9FlJA+1dX90QoNJE5z7axmK//MOGXUdkqFe2kiDkorqjxwDvc0Js9pVKfKvAmW8YqUbmI9l0ERpWCXXnLVHNmPWz3jaPY+OBAmuJWDmxB/Z8p94aEDg4BVXQ7LvsKQ3DLYhaB7yJ390CJT+i0mm+EBqY60V6YikPSWDFrYQ/NPi2b1DgE19mX8zHqw8qprIl4yh1Ckx2Iige4En/N5ktOoIxnASxAw/TzcE2skxdw5KlHDF+UTj71m16CR/dIaKlXijlfNlNzUBo/bNSadCQn3G5NoO501wPKI:XO50TgDNyo8EXAMPLE/g==:1\"}\n}\n         \n            </response>\n        </examples>"
      }
    },
    "com.amazonaws.datapipeline#PollForTaskInput": {
      "type": "structure",
      "members": {
        "workerGroup": {
          "target": "com.amazonaws.datapipeline#string",
          "traits": {
            "smithy.api#documentation": "<p>The type of task the task runner is configured to accept and process. The worker group is set as a field on objects in the pipeline when they are created. \n            You can only specify a single value for <code>workerGroup</code> in the call to <code>PollForTask</code>. There are no wildcard values permitted in \n            <code>workerGroup</code>; the string must be an exact, case-sensitive, match.</p>",
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The public DNS name of the calling task runner.</p>"
          }
        },
        "instanceIdentity": {
          "target": "com.amazonaws.datapipeline#InstanceIdentity",
          "traits": {
            "smithy.api#documentation": "<p>Identity information for the EC2 instance that is hosting the task runner. You can get this value from the instance using <code>http://169.254.169.254/latest/meta-data/instance-id</code>. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html\">Instance Metadata</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> Passing in this value proves that your task runner is running on an EC2 instance, and ensures the proper AWS Data Pipeline service charges are applied to your pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for PollForTask.</p>"
      }
    },
    "com.amazonaws.datapipeline#PollForTaskOutput": {
      "type": "structure",
      "members": {
        "taskObject": {
          "target": "com.amazonaws.datapipeline#TaskObject",
          "traits": {
            "smithy.api#documentation": "<p>The information needed to complete the task that is being assigned to the task runner. One of the fields returned in this object is <code>taskId</code>, \n            which contains an identifier for the task being assigned. The calling task runner uses <code>taskId</code> in subsequent calls to <a>ReportTaskProgress</a> \n            and <a>SetTaskStatus</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of PollForTask.</p>"
      }
    },
    "com.amazonaws.datapipeline#PutPipelineDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#PutPipelineDefinitionInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#PutPipelineDefinitionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineDeletedException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds tasks, schedules, and preconditions to the specified pipeline. You can use <code>PutPipelineDefinition</code> to populate a new pipeline.</p>\n        <p>\n            <code>PutPipelineDefinition</code> also validates the configuration as it adds it to the pipeline. Changes to the pipeline are saved unless one \n            of the following three validation errors exists in the pipeline.\n        </p>\n        <ol>\n            <li>An object is missing a name or identifier field.</li>\n            <li>A string or reference field is empty.</li>\n            <li>The number of objects in the pipeline exceeds the maximum allowed objects.</li>\n            <li>The pipeline is in a FINISHED state.</li>\n        </ol>\n        <p>\n            Pipeline object definitions are passed to the <code>PutPipelineDefinition</code> action and returned by the <a>GetPipelineDefinition</a> action. \n        </p>\n        <examples>\n            <example>\n                <name>Example 1</name>\n                <description>\n                    This example sets an valid pipeline configuration and returns success.\n                </description>\n            <request>\n                \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.PutPipelineDefinition\nContent-Length: 914\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-0937003356ZJEXAMPLE\",\n \"pipelineObjects\": \n  [\n   {\"id\": \"Default\",\n     \"name\": \"Default\",\n     \"fields\": \n      [\n        {\"key\": \"workerGroup\", \n         \"stringValue\": \"workerGroup\"}\n      ]\n    }, \n    {\"id\": \"Schedule\",\n     \"name\": \"Schedule\",\n     \"fields\": \n      [\n       {\"key\": \"startDateTime\", \n         \"stringValue\": \"2012-12-12T00:00:00\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"Schedule\"}, \n        {\"key\": \"period\", \n         \"stringValue\": \"1 hour\"}, \n        {\"key\": \"endDateTime\", \n         \"stringValue\": \"2012-12-21T18:00:00\"}\n      ]\n    },\n    {\"id\": \"SayHello\",\n     \"name\": \"SayHello\",\n     \"fields\": \n      [\n        {\"key\": \"type\", \n         \"stringValue\": \"ShellCommandActivity\"},\n        {\"key\": \"command\", \n         \"stringValue\": \"echo hello\"},\n        {\"key\": \"parent\", \n         \"refValue\": \"Default\"},\n        {\"key\": \"schedule\", \n         \"refValue\": \"Schedule\"}\n      ]\n    }\n  ]\n}\n                \n            </request>\n            <response>\n                \nHTTP/1.1 200 \nx-amzn-RequestId: f74afc14-0754-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 18\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"errored\": false}\n\n                \n            </response>\n            </example>\n            <example>\n                <name>Example 2</name>\n                <description>\n                    This example sets an invalid pipeline configuration (the value for <code>workerGroup</code> is an empty string) and returns an error message.\n                </description>\n                <request>\n                    \nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.PutPipelineDefinition\nContent-Length: 903\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\",\n \"pipelineObjects\": \n  [\n    {\"id\": \"Default\",\n     \"name\": \"Default\",\n     \"fields\": \n      [\n        {\"key\": \"workerGroup\", \n         \"stringValue\": \"\"}\n      ]\n    }, \n    {\"id\": \"Schedule\",\n     \"name\": \"Schedule\",\n     \"fields\": \n      [\n       {\"key\": \"startDateTime\", \n         \"stringValue\": \"2012-09-25T17:00:00\"}, \n        {\"key\": \"type\", \n         \"stringValue\": \"Schedule\"}, \n        {\"key\": \"period\", \n         \"stringValue\": \"1 hour\"}, \n        {\"key\": \"endDateTime\", \n         \"stringValue\": \"2012-09-25T18:00:00\"}\n      ]\n    },\n    {\"id\": \"SayHello\",\n     \"name\": \"SayHello\",\n     \"fields\": \n      [\n        {\"key\": \"type\", \n         \"stringValue\": \"ShellCommandActivity\"},\n        {\"key\": \"command\", \n         \"stringValue\": \"echo hello\"},\n        {\"key\": \"parent\", \n         \"refValue\": \"Default\"},\n        {\"key\": \"schedule\", \n         \"refValue\": \"Schedule\"}\n \n      ]\n    }\n  ]\n}\n                                    \n                </request>\n                <response>\n                    \nHTTP/1.1 200 \nx-amzn-RequestId: f74afc14-0754-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 18\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"__type\": \"com.amazon.setl.webservice#InvalidRequestException\", \n \"message\": \"Pipeline definition has errors: Could not save the pipeline definition due to FATAL errors: [com.amazon.setl.webservice.ValidationError@108d7ea9] Please call Validate to validate your pipeline\"}\n\n                \n                </response>\n            </example>\n        </examples>"
      }
    },
    "com.amazonaws.datapipeline#PutPipelineDefinitionInput": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "pipelineObjects": {
          "target": "com.amazonaws.datapipeline#PipelineObjectList",
          "traits": {
            "smithy.api#documentation": "<p>The objects that define the pipeline. These objects overwrite the existing pipeline definition.</p>",
            "smithy.api#required": {}
          }
        },
        "parameterObjects": {
          "target": "com.amazonaws.datapipeline#ParameterObjectList",
          "traits": {
            "smithy.api#documentation": "<p>The parameter objects used with the pipeline.</p>"
          }
        },
        "parameterValues": {
          "target": "com.amazonaws.datapipeline#ParameterValueList",
          "traits": {
            "smithy.api#documentation": "<p>The parameter values used with the pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for PutPipelineDefinition.</p>"
      }
    },
    "com.amazonaws.datapipeline#PutPipelineDefinitionOutput": {
      "type": "structure",
      "members": {
        "validationErrors": {
          "target": "com.amazonaws.datapipeline#ValidationErrors",
          "traits": {
            "smithy.api#documentation": "<p>The validation errors that are associated with the objects defined in <code>pipelineObjects</code>.</p>"
          }
        },
        "validationWarnings": {
          "target": "com.amazonaws.datapipeline#ValidationWarnings",
          "traits": {
            "smithy.api#documentation": "<p>The validation warnings that are associated with the objects defined in <code>pipelineObjects</code>.</p>"
          }
        },
        "errored": {
          "target": "com.amazonaws.datapipeline#boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether there were validation errors, and the pipeline definition is stored but cannot be \n            activated until you correct the pipeline and call <code>PutPipelineDefinition</code> to commit the corrected pipeline.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of PutPipelineDefinition.</p>"
      }
    },
    "com.amazonaws.datapipeline#Query": {
      "type": "structure",
      "members": {
        "selectors": {
          "target": "com.amazonaws.datapipeline#SelectorList",
          "traits": {
            "smithy.api#documentation": "<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the query to run against an object.</p>"
      }
    },
    "com.amazonaws.datapipeline#QueryObjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datapipeline#QueryObjectsInput"
      },
      "output": {
        "target": "com.amazonaws.datapipeline#QueryObjectsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datapipeline#InternalServiceError"
        },
        {
          "target": "com.amazonaws.datapipeline#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineDeletedException"
        },
        {
          "target": "com.amazonaws.datapipeline#PipelineNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Queries the specified pipeline for the names of objects that match the specified set of conditions.</p>\n        \n        <examples>\n            <request>\n\nPOST / HTTP/1.1\nContent-Type: application/x-amz-json-1.1\nX-Amz-Target: DataPipeline.QueryObjects\nContent-Length: 123\nHost: datapipeline.us-east-1.amazonaws.com\nX-Amz-Date: Mon, 12 Nov 2012 17:49:52 GMT\nAuthorization: AuthParams\n\n{\"pipelineId\": \"df-06372391ZG65EXAMPLE\",\n \"query\": \n  {\"selectors\": \n    [\n    ]\n  },\n \"sphere\": \"INSTANCE\",\n \"marker\": \"\",\n \"limit\": 10}\n\n            </request>\n            \n           \n            <response>\n\nx-amzn-RequestId: 14d704c1-0775-11e2-af6f-6bc7a6be60d9\nContent-Type: application/x-amz-json-1.1\nContent-Length: 72\nDate: Mon, 12 Nov 2012 17:50:53 GMT\n\n{\"hasMoreResults\": false, \n \"ids\": \n  [\"@SayHello_1_2012-09-25T17:00:00\"]\n}\n         </response>\n        </examples>",
        "smithy.api#paginated": {
          "inputToken": "marker",
          "outputToken": "marker",
          "items": "ids",
          "pageSize": "limit"
        }
      }
    },
    "com.amazonaws.datapipeline#QueryObjectsInput": {
      "type": "structure",
      "members": {
        "pipelineId": {
          "target": "com.amazonaws.datapipeline#id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.amazonaws.datapipeline#Query",
          "traits": {
[...]
