{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.dataexchange#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>Access to the resource is denied.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to the resource is denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.dataexchange#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.</p>"
      }
    },
    "com.amazonaws.dataexchange#AssetDestinationEntry": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "Bucket": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket that is the destination for the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the object in Amazon S3 for the asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination for the asset.</p>"
      }
    },
    "com.amazonaws.dataexchange#AssetDetails": {
      "type": "structure",
      "members": {
        "S3SnapshotAsset": {
          "target": "com.amazonaws.dataexchange#S3SnapshotAsset"
        }
      }
    },
    "com.amazonaws.dataexchange#AssetEntry": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "AssetDetails": {
          "target": "com.amazonaws.dataexchange#AssetDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the asset, including its size.</p>",
            "smithy.api#required": {}
          }
        },
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the asset was created, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this asset.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this asset.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the asset was last updated, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An asset in AWS Data Exchange is a piece of data that can be stored as an S3 object. The asset can be a structured data file, an image file, or some other data file. When you create an import job for your files, you create an asset in AWS Data Exchange for each of those files.</p>"
      }
    },
    "com.amazonaws.dataexchange#AssetName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>"
      }
    },
    "com.amazonaws.dataexchange#AssetSourceEntry": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket that's part of the source of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the object in Amazon S3 for the asset.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source of the assets.</p>"
      }
    },
    "com.amazonaws.dataexchange#AssetType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
        "smithy.api#enum": [
          {
            "value": "S3_SNAPSHOT",
            "name": "S3_SNAPSHOT"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#CancelJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#CancelJobRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#ConflictException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation cancels a job. Jobs can be cancelled only when they are in the WAITING state.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/jobs/{JobId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.dataexchange#CancelJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#Code": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCESS_DENIED_EXCEPTION",
            "name": "ACCESS_DENIED_EXCEPTION"
          },
          {
            "value": "INTERNAL_SERVER_EXCEPTION",
            "name": "INTERNAL_SERVER_EXCEPTION"
          },
          {
            "value": "MALWARE_DETECTED",
            "name": "MALWARE_DETECTED"
          },
          {
            "value": "RESOURCE_NOT_FOUND_EXCEPTION",
            "name": "RESOURCE_NOT_FOUND_EXCEPTION"
          },
          {
            "value": "SERVICE_QUOTA_EXCEEDED_EXCEPTION",
            "name": "SERVICE_QUOTA_EXCEEDED_EXCEPTION"
          },
          {
            "value": "VALIDATION_EXCEPTION",
            "name": "VALIDATION_EXCEPTION"
          },
          {
            "value": "MALWARE_SCAN_ENCRYPTED_FILE",
            "name": "MALWARE_SCAN_ENCRYPTED_FILE"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the resource with the conflict.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.dataexchange#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource with the conflict.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.dataexchange#CreateDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#CreateDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#CreateDataSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation creates a data set.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/data-sets",
          "code": 201
        }
      }
    },
    "com.amazonaws.dataexchange#CreateDataSetRequest": {
      "type": "structure",
      "members": {
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.dataexchange#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the data set. This value can be up to 16,348 characters long.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A data set tag is an optional label that you can assign to a data set when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request body for CreateDataSet.</p>"
      }
    },
    "com.amazonaws.dataexchange#CreateDataSetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the data set.</p>"
          }
        },
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.dataexchange#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description for the data set.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data set.</p>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.dataexchange#Origin",
          "traits": {
            "smithy.api#documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>"
          }
        },
        "OriginDetails": {
          "target": "com.amazonaws.dataexchange#OriginDetails",
          "traits": {
            "smithy.api#documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the data set.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#CreateJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#CreateJobRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#CreateJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation creates a job.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/jobs",
          "code": 201
        }
      }
    },
    "com.amazonaws.dataexchange#CreateJobRequest": {
      "type": "structure",
      "members": {
        "Details": {
          "target": "com.amazonaws.dataexchange#RequestDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details for the CreateJob request.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.dataexchange#Type",
          "traits": {
            "smithy.api#documentation": "<p>The type of job to be created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request body for CreateJob.</p>"
      }
    },
    "com.amazonaws.dataexchange#CreateJobResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the job.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the job was created, in ISO 8601 format.</p>"
          }
        },
        "Details": {
          "target": "com.amazonaws.dataexchange#ResponseDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the job.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.dataexchange#ListOfJobError",
          "traits": {
            "smithy.api#documentation": "<p>The errors associated with jobs.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the job.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.dataexchange#State",
          "traits": {
            "smithy.api#documentation": "<p>The state of the job.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.dataexchange#Type",
          "traits": {
            "smithy.api#documentation": "<p>The job type.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the job was last updated, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#CreateRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#CreateRevisionRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#CreateRevisionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation creates a revision for a data set.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/data-sets/{DataSetId}/revisions",
          "code": 201
        }
      }
    },
    "com.amazonaws.dataexchange#CreateRevisionRequest": {
      "type": "structure",
      "members": {
        "Comment": {
          "target": "com.amazonaws.dataexchange#__stringMin0Max16384",
          "traits": {
            "smithy.api#documentation": "<p>An optional comment about the revision.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A revision tag is an optional label that you can assign to a revision when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request body for CreateRevision.</p>"
      }
    },
    "com.amazonaws.dataexchange#CreateRevisionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the revision</p>"
          }
        },
        "Comment": {
          "target": "com.amazonaws.dataexchange#__stringMin0Max16384",
          "traits": {
            "smithy.api#documentation": "<p>An optional comment about the revision.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the revision was created, in ISO 8601 format.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this revision.</p>"
          }
        },
        "Finalized": {
          "target": "com.amazonaws.dataexchange#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the revision.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the revision was last updated, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#DataExchange": {
      "type": "service",
      "version": "2017-07-25",
      "operations": [
        {
          "target": "com.amazonaws.dataexchange#CancelJob"
        },
        {
          "target": "com.amazonaws.dataexchange#CreateDataSet"
        },
        {
          "target": "com.amazonaws.dataexchange#CreateJob"
        },
        {
          "target": "com.amazonaws.dataexchange#CreateRevision"
        },
        {
          "target": "com.amazonaws.dataexchange#DeleteAsset"
        },
        {
          "target": "com.amazonaws.dataexchange#DeleteDataSet"
        },
        {
          "target": "com.amazonaws.dataexchange#DeleteRevision"
        },
        {
          "target": "com.amazonaws.dataexchange#GetAsset"
        },
        {
          "target": "com.amazonaws.dataexchange#GetDataSet"
        },
        {
          "target": "com.amazonaws.dataexchange#GetJob"
        },
        {
          "target": "com.amazonaws.dataexchange#GetRevision"
        },
        {
          "target": "com.amazonaws.dataexchange#ListDataSetRevisions"
        },
        {
          "target": "com.amazonaws.dataexchange#ListDataSets"
        },
        {
          "target": "com.amazonaws.dataexchange#ListJobs"
        },
        {
          "target": "com.amazonaws.dataexchange#ListRevisionAssets"
        },
        {
          "target": "com.amazonaws.dataexchange#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.dataexchange#StartJob"
        },
        {
          "target": "com.amazonaws.dataexchange#TagResource"
        },
        {
          "target": "com.amazonaws.dataexchange#UntagResource"
        },
        {
          "target": "com.amazonaws.dataexchange#UpdateAsset"
        },
        {
          "target": "com.amazonaws.dataexchange#UpdateDataSet"
        },
        {
          "target": "com.amazonaws.dataexchange#UpdateRevision"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DataExchange",
          "arnNamespace": "dataexchange",
          "cloudFormationName": "DataExchange",
          "cloudTrailEventSource": "dataexchange.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "dataexchange"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>AWS Data Exchange is a service that makes it easy for AWS customers to exchange data in the cloud. You can use the AWS Data Exchange APIs to create, update, manage, and access file-based data set in the AWS Cloud.</p><p>As a subscriber, you can view and access the data sets that you have an entitlement to through a subscription. You can use the APIS to download or copy your entitled data sets to Amazon S3 for use across a variety of AWS analytics and machine learning services.</p><p>As a provider, you can create and manage your data sets that you would like to publish to a product. Being able to package and provide your data sets into products requires a few steps to determine eligibility. For more information, visit the AWS Data Exchange User Guide.</p><p>A data set is a collection of data that can be changed or updated over time. Data sets can be updated using revisions, which represent a new version or incremental change to a data set.  A revision contains one or more assets. An asset in AWS Data Exchange is a piece of data that can be stored as an Amazon S3 object. The asset can be a structured data file, an image file, or some other data file. Jobs are asynchronous import or export operations used to create or copy assets.</p>",
        "smithy.api#title": "AWS Data Exchange"
      }
    },
    "com.amazonaws.dataexchange#DataSetEntry": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.dataexchange#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description for the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "Origin": {
          "target": "com.amazonaws.dataexchange#Origin",
          "traits": {
            "smithy.api#documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
            "smithy.api#required": {}
          }
        },
        "OriginDetails": {
          "target": "com.amazonaws.dataexchange#OriginDetails",
          "traits": {
            "smithy.api#documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A data set is an AWS resource with one or more revisions.</p>"
      }
    },
    "com.amazonaws.dataexchange#DeleteAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#DeleteAssetRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#ConflictException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes an asset.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteAssetRequest": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for an asset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a revision.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#DeleteDataSetRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#ConflictException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes a data set.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/data-sets/{DataSetId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteDataSetRequest": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#DeleteRevisionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#ConflictException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes a revision.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.dataexchange#DeleteRevisionRequest": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a revision.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#Description": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A description of a resource.</p>"
      }
    },
    "com.amazonaws.dataexchange#Details": {
      "type": "structure",
      "members": {
        "ImportAssetFromSignedUrlJobErrorDetails": {
          "target": "com.amazonaws.dataexchange#ImportAssetFromSignedUrlJobErrorDetails"
        },
        "ImportAssetsFromS3JobErrorDetails": {
          "target": "com.amazonaws.dataexchange#ListOfAssetSourceEntry"
        }
      }
    },
    "com.amazonaws.dataexchange#ExportAssetToSignedUrlRequestDetails": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the asset that is exported to a signed URL.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this export request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the operation to be performed by the job.</p>"
      }
    },
    "com.amazonaws.dataexchange#ExportAssetToSignedUrlResponseDetails": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the asset associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this export response.</p>",
            "smithy.api#required": {}
          }
        },
        "SignedUrl": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The signed URL for the export request.</p>"
          }
        },
        "SignedUrlExpiresAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the signed URL expires, in ISO 8601 format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the export to signed URL response.</p>"
      }
    },
    "com.amazonaws.dataexchange#ExportAssetsToS3RequestDetails": {
      "type": "structure",
      "members": {
        "AssetDestinations": {
          "target": "com.amazonaws.dataexchange#ListOfAssetDestinationEntry",
          "traits": {
            "smithy.api#documentation": "<p>The destination for the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this export request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the operation to be performed by the job.</p>"
      }
    },
    "com.amazonaws.dataexchange#ExportAssetsToS3ResponseDetails": {
      "type": "structure",
      "members": {
        "AssetDestinations": {
          "target": "com.amazonaws.dataexchange#ListOfAssetDestinationEntry",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon S3 where the asset is exported.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this export response.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the export to Amazon S3 response.</p>"
      }
    },
    "com.amazonaws.dataexchange#GetAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#GetAssetRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#GetAssetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns information about an asset.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dataexchange#GetAssetRequest": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for an asset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a revision.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#GetAssetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the asset.</p>"
          }
        },
        "AssetDetails": {
          "target": "com.amazonaws.dataexchange#AssetDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the asset, including its size.</p>"
          }
        },
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the asset was created, in ISO 8601 format.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this asset.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the asset.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this asset.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the asset was last updated, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#GetDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#GetDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#GetDataSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns information about a data set.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/data-sets/{DataSetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dataexchange#GetDataSetRequest": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#GetDataSetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the data set.</p>"
          }
        },
        "AssetType": {
          "target": "com.amazonaws.dataexchange#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.dataexchange#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description for the data set.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.dataexchange#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data set.</p>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.dataexchange#Origin",
          "traits": {
            "smithy.api#documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>"
          }
        },
        "OriginDetails": {
          "target": "com.amazonaws.dataexchange#OriginDetails",
          "traits": {
            "smithy.api#documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the data set.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#GetJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#GetJobRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#GetJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns information about a job.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/jobs/{JobId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dataexchange#GetJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#GetJobResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the job.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the job was created, in ISO 8601 format.</p>"
          }
        },
        "Details": {
          "target": "com.amazonaws.dataexchange#ResponseDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the job.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.dataexchange#ListOfJobError",
          "traits": {
            "smithy.api#documentation": "<p>The errors associated with jobs.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the job.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.dataexchange#State",
          "traits": {
            "smithy.api#documentation": "<p>The state of the job.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.dataexchange#Type",
          "traits": {
            "smithy.api#documentation": "<p>The job type.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the job was last updated, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#GetRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#GetRevisionRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#GetRevisionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns information about a revision.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dataexchange#GetRevisionRequest": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a revision.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#GetRevisionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the revision</p>"
          }
        },
        "Comment": {
          "target": "com.amazonaws.dataexchange#__stringMin0Max16384",
          "traits": {
            "smithy.api#documentation": "<p>An optional comment about the revision.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the revision was created, in ISO 8601 format.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this revision.</p>"
          }
        },
        "Finalized": {
          "target": "com.amazonaws.dataexchange#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision.</p>"
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the revision.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the revision was last updated, in ISO 8601 format.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#Id": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A unique identifier.</p>"
      }
    },
    "com.amazonaws.dataexchange#ImportAssetFromSignedUrlJobErrorDetails": {
      "type": "structure",
      "members": {
        "AssetName": {
          "target": "com.amazonaws.dataexchange#AssetName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#ImportAssetFromSignedUrlRequestDetails": {
      "type": "structure",
      "members": {
        "AssetName": {
          "target": "com.amazonaws.dataexchange#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
            "smithy.api#required": {}
          }
        },
        "Md5Hash": {
          "target": "com.amazonaws.dataexchange#__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093",
          "traits": {
            "smithy.api#documentation": "<p>The Base64-encoded Md5 hash for the asset, used to ensure the integrity of the file at that location.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this import request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the operation to be performed by the job.</p>"
      }
    },
    "com.amazonaws.dataexchange#ImportAssetFromSignedUrlResponseDetails": {
      "type": "structure",
      "members": {
        "AssetName": {
          "target": "com.amazonaws.dataexchange#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the asset associated with this import response.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
            "smithy.api#required": {}
          }
        },
        "Md5Hash": {
          "target": "com.amazonaws.dataexchange#__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093",
          "traits": {
            "smithy.api#documentation": "<p>The Base64-encoded Md5 hash for the asset, used to ensure the integrity of the file at that location.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this import response.</p>",
            "smithy.api#required": {}
          }
        },
        "SignedUrl": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The signed URL.</p>"
          }
        },
        "SignedUrlExpiresAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time and date at which the signed URL expires, in ISO 8601 format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details in the response for an import request, including the signed URL and other information.</p>"
      }
    },
    "com.amazonaws.dataexchange#ImportAssetsFromS3RequestDetails": {
      "type": "structure",
      "members": {
        "AssetSources": {
          "target": "com.amazonaws.dataexchange#ListOfAssetSourceEntry",
          "traits": {
            "smithy.api#documentation": "<p>Is a list of S3 bucket and object key pairs.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this import request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the operation to be performed by the job.</p>"
      }
    },
    "com.amazonaws.dataexchange#ImportAssetsFromS3ResponseDetails": {
      "type": "structure",
      "members": {
        "AssetSources": {
          "target": "com.amazonaws.dataexchange#ListOfAssetSourceEntry",
          "traits": {
            "smithy.api#documentation": "<p>Is a list of Amazon S3 bucket and object key pairs.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
            "smithy.api#required": {}
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision associated with this import response.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details from an import from Amazon S3 response.</p>"
      }
    },
    "com.amazonaws.dataexchange#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "The message identifying the service exception that occurred.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An exception occurred with the service.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.dataexchange#JobEntry": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the job was created, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "Details": {
          "target": "com.amazonaws.dataexchange#ResponseDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details of the operation to be performed by the job, such as export destination details or import source details.</p>",
            "smithy.api#required": {}
          }
        },
        "Errors": {
          "target": "com.amazonaws.dataexchange#ListOfJobError",
          "traits": {
            "smithy.api#documentation": "<p>Errors for jobs.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "State": {
          "target": "com.amazonaws.dataexchange#State",
          "traits": {
            "smithy.api#documentation": "<p>The state of the job.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.dataexchange#Type",
          "traits": {
            "smithy.api#documentation": "<p>The job type.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the job was last updated, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AWS Data Exchange Jobs are asynchronous import or export operations used to create or copy assets. A data set owner can both import and export as they see fit. Someone with an entitlement to a data set can only export. Jobs are deleted 90 days after they are created."
      }
    },
    "com.amazonaws.dataexchange#JobError": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.dataexchange#Code",
          "traits": {
            "smithy.api#documentation": "The code for the job error.",
            "smithy.api#required": {}
          }
        },
        "Details": {
          "target": "com.amazonaws.dataexchange#Details"
        },
        "LimitName": {
          "target": "com.amazonaws.dataexchange#JobErrorLimitName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the limit that was reached.</p>"
          }
        },
        "LimitValue": {
          "target": "com.amazonaws.dataexchange#__double",
          "traits": {
            "smithy.api#documentation": "The value of the exceeded limit."
          }
        },
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "The message related to the job error.",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "The unqiue identifier for the resource related to the error."
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.dataexchange#JobErrorResourceTypes",
          "traits": {
            "smithy.api#documentation": "The type of resource related to the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An error that occurred with the job request."
      }
    },
    "com.amazonaws.dataexchange#JobErrorLimitName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The name of the limit that was reached.",
        "smithy.api#enum": [
          {
            "value": "Assets per revision",
            "name": "Assets_per_revision"
          },
          {
            "value": "Asset size in GB",
            "name": "Asset_size_in_GB"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#JobErrorResourceTypes": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The types of resource which the job error can apply to.",
        "smithy.api#enum": [
          {
            "value": "REVISION",
            "name": "REVISION"
          },
          {
            "value": "ASSET",
            "name": "ASSET"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#LimitName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Products per account",
            "name": "Products_per_account"
          },
          {
            "value": "Data sets per account",
            "name": "Data_sets_per_account"
          },
          {
            "value": "Data sets per product",
            "name": "Data_sets_per_product"
          },
          {
            "value": "Revisions per data set",
            "name": "Revisions_per_data_set"
          },
          {
            "value": "Assets per revision",
            "name": "Assets_per_revision"
          },
          {
            "value": "Assets per import job from Amazon S3",
            "name": "Assets_per_import_job_from_Amazon_S3"
          },
          {
            "value": "Asset per export job from Amazon S3",
            "name": "Asset_per_export_job_from_Amazon_S3"
          },
          {
            "value": "Asset size in GB",
            "name": "Asset_size_in_GB"
          },
          {
            "value": "Concurrent in progress jobs to import assets from Amazon S3",
            "name": "Concurrent_in_progress_jobs_to_import_assets_from_Amazon_S3"
          },
          {
            "value": "Concurrent in progress jobs to import assets from a signed URL",
            "name": "Concurrent_in_progress_jobs_to_import_assets_from_a_signed_URL"
          },
          {
            "value": "Concurrent in progress jobs to export assets to Amazon S3",
            "name": "Concurrent_in_progress_jobs_to_export_assets_to_Amazon_S3"
          },
          {
            "value": "Concurrent in progress jobs to export assets to a signed URL",
            "name": "Concurrent_in_progress_jobs_to_export_assets_to_a_signed_URL"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#ListDataSetRevisions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#ListDataSetRevisionsRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#ListDataSetRevisionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation lists a data set's revisions sorted by CreatedAt in descending order.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/data-sets/{DataSetId}/revisions",
          "code": 200
        }
      }
    },
    "com.amazonaws.dataexchange#ListDataSetRevisionsRequest": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.dataexchange#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results returned by a single call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#ListDataSetRevisionsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.dataexchange#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>"
          }
        },
        "Revisions": {
          "target": "com.amazonaws.dataexchange#ListOfRevisionEntry",
          "traits": {
            "smithy.api#documentation": "<p>The asset objects listed by the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#ListDataSets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#ListDataSetsRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#ListDataSetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation lists your data sets. When listing by origin OWNED, results are sorted by CreatedAt in descending order. When listing by origin ENTITLED, there is no order and the maxResults parameter is ignored.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/data-sets",
          "code": 200
        }
      }
    },
    "com.amazonaws.dataexchange#ListDataSetsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.dataexchange#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results returned by a single call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "Origin": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
            "smithy.api#httpQuery": "origin"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#ListDataSetsResponse": {
      "type": "structure",
      "members": {
        "DataSets": {
          "target": "com.amazonaws.dataexchange#ListOfDataSetEntry",
          "traits": {
            "smithy.api#documentation": "<p>The data set objects listed by the request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dataexchange#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#ListJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#ListJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#ListJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation lists your jobs sorted by CreatedAt in descending order.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/jobs",
          "code": 200
        }
      }
    },
    "com.amazonaws.dataexchange#ListJobsRequest": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpQuery": "dataSetId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.dataexchange#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results returned by a single call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a revision.</p>",
            "smithy.api#httpQuery": "revisionId"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#ListJobsResponse": {
      "type": "structure",
      "members": {
        "Jobs": {
          "target": "com.amazonaws.dataexchange#ListOfJobEntry",
          "traits": {
            "smithy.api#documentation": "<p>The jobs listed by the request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dataexchange#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#ListOfAssetDestinationEntry": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dataexchange#AssetDestinationEntry"
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination where the assets will be exported.</p>"
      }
    },
    "com.amazonaws.dataexchange#ListOfAssetEntry": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dataexchange#AssetEntry"
      }
    },
    "com.amazonaws.dataexchange#ListOfAssetSourceEntry": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dataexchange#AssetSourceEntry"
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of sources for the assets.</p>"
      }
    },
    "com.amazonaws.dataexchange#ListOfDataSetEntry": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dataexchange#DataSetEntry"
      }
    },
    "com.amazonaws.dataexchange#ListOfJobEntry": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dataexchange#JobEntry"
      }
    },
    "com.amazonaws.dataexchange#ListOfJobError": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dataexchange#JobError"
      }
    },
    "com.amazonaws.dataexchange#ListOfRevisionEntry": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dataexchange#RevisionEntry"
      }
    },
    "com.amazonaws.dataexchange#ListOf__string": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dataexchange#__string"
      }
    },
    "com.amazonaws.dataexchange#ListRevisionAssets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#ListRevisionAssetsRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#ListRevisionAssetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation lists a revision's assets sorted alphabetically in descending order.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets",
          "code": 200
        }
      }
    },
    "com.amazonaws.dataexchange#ListRevisionAssetsRequest": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a data set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.dataexchange#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results returned by a single call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a revision.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#ListRevisionAssetsResponse": {
      "type": "structure",
      "members": {
        "Assets": {
          "target": "com.amazonaws.dataexchange#ListOfAssetEntry",
          "traits": {
            "smithy.api#documentation": "<p>The asset objects listed by the request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dataexchange#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#ListTagsForResourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>This operation lists the tags on the resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dataexchange#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "A label that consists of a customer-defined key and an optional value.",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.dataexchange#MapOf__string": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dataexchange#__string"
      },
      "value": {
        "target": "com.amazonaws.dataexchange#__string"
      }
    },
    "com.amazonaws.dataexchange#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.dataexchange#Name": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The name of the model."
      }
    },
    "com.amazonaws.dataexchange#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>"
      }
    },
    "com.amazonaws.dataexchange#Origin": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers). When an owned data set is published in a product, AWS Data Exchange creates a copy of the data set. Subscribers can access that copy of the data set as an entitled data set.</p>",
        "smithy.api#enum": [
          {
            "value": "OWNED",
            "name": "OWNED"
          },
          {
            "value": "ENTITLED",
            "name": "ENTITLED"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#OriginDetails": {
      "type": "structure",
      "members": {
        "ProductId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#RequestDetails": {
      "type": "structure",
      "members": {
        "ExportAssetToSignedUrl": {
          "target": "com.amazonaws.dataexchange#ExportAssetToSignedUrlRequestDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the export to signed URL request.</p>"
          }
        },
        "ExportAssetsToS3": {
          "target": "com.amazonaws.dataexchange#ExportAssetsToS3RequestDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the export to Amazon S3 request.</p>"
          }
        },
        "ImportAssetFromSignedUrl": {
          "target": "com.amazonaws.dataexchange#ImportAssetFromSignedUrlRequestDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the import from signed URL request.</p>"
          }
        },
        "ImportAssetsFromS3": {
          "target": "com.amazonaws.dataexchange#ImportAssetsFromS3RequestDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the import from Amazon S3 request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details for the request.</p>"
      }
    },
    "com.amazonaws.dataexchange#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The resource couldn't be found.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the resource that couldn't be found.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.dataexchange#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that couldn't be found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource couldn't be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.dataexchange#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DATA_SET",
            "name": "DATA_SET"
          },
          {
            "value": "REVISION",
            "name": "REVISION"
          },
          {
            "value": "ASSET",
            "name": "ASSET"
          },
          {
            "value": "JOB",
            "name": "JOB"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#ResponseDetails": {
      "type": "structure",
      "members": {
        "ExportAssetToSignedUrl": {
          "target": "com.amazonaws.dataexchange#ExportAssetToSignedUrlResponseDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for the export to signed URL response.</p>"
          }
        },
        "ExportAssetsToS3": {
          "target": "com.amazonaws.dataexchange#ExportAssetsToS3ResponseDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for the export to Amazon S3 response.</p>"
          }
        },
        "ImportAssetFromSignedUrl": {
          "target": "com.amazonaws.dataexchange#ImportAssetFromSignedUrlResponseDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for the import from signed URL response.</p>"
          }
        },
        "ImportAssetsFromS3": {
          "target": "com.amazonaws.dataexchange#ImportAssetsFromS3ResponseDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for the import from Amazon S3 response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for the response.</p>"
      }
    },
    "com.amazonaws.dataexchange#RevisionEntry": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.dataexchange#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the revision.</p>",
            "smithy.api#required": {}
          }
        },
        "Comment": {
          "target": "com.amazonaws.dataexchange#__stringMin0Max16384",
          "traits": {
            "smithy.api#documentation": "<p>An optional comment about the revision.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the revision was created, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data set associated with this revision.</p>",
            "smithy.api#required": {}
          }
        },
        "Finalized": {
          "target": "com.amazonaws.dataexchange#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the revision.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceId": {
          "target": "com.amazonaws.dataexchange#Id",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.dataexchange#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the revision was last updated, in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A revision is a container for one or more assets.</p>"
      }
    },
    "com.amazonaws.dataexchange#S3SnapshotAsset": {
      "type": "structure",
      "members": {
        "Size": {
          "target": "com.amazonaws.dataexchange#__doubleMin0",
          "traits": {
            "smithy.api#documentation": "<p>The size of the S3 object that is the object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The S3 object that is the asset.</p>"
      }
    },
    "com.amazonaws.dataexchange#ServiceLimitExceededException": {
      "type": "structure",
      "members": {
        "LimitName": {
          "target": "com.amazonaws.dataexchange#LimitName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the quota that was exceeded.</p>"
          }
        },
        "LimitValue": {
          "target": "com.amazonaws.dataexchange#__double",
          "traits": {
            "smithy.api#documentation": "<p>The maximum value for the service-specific limit.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The request has exceeded the quotas imposed by the service.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request has exceeded the quotas imposed by the service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.dataexchange#StartJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#StartJobRequest"
      },
      "output": {
        "target": "com.amazonaws.dataexchange#StartJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dataexchange#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.dataexchange#ConflictException"
        },
        {
          "target": "com.amazonaws.dataexchange#InternalServerException"
        },
        {
          "target": "com.amazonaws.dataexchange#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.dataexchange#ThrottlingException"
        },
        {
          "target": "com.amazonaws.dataexchange#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation starts a job.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/jobs/{JobId}",
          "code": 202
        }
      }
    },
    "com.amazonaws.dataexchange#StartJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dataexchange#StartJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.dataexchange#State": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "WAITING",
            "name": "WAITING"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          },
          {
            "value": "TIMED_OUT",
            "name": "TIMED_OUT"
          }
        ]
      }
    },
    "com.amazonaws.dataexchange#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dataexchange#TagResourceRequest"
      },
      "traits": {
        "smithy.api#documentation": "<p>This operation tags a resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.dataexchange#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.dataexchange#MapOf__string",
          "traits": {
            "smithy.api#documentation": "A label that consists of a customer-defined key and an optional value.",
            "smithy.api#jsonName": "tags",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request body for TagResource.</p>"
      }
    },
    "com.amazonaws.dataexchange#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dataexchange#__string",
          "traits": {
            "smithy.api#documentation": "<p>The limit on the number of requests per second was exceeded.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The limit on the number of requests per second was exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.dataexchange#Timestamp": {
      "type": "timestamp",
      "traits": {
[...]
