{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.datasync#ActivationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 29
        },
        "smithy.api#pattern": "^[A-Z0-9]{5}(-[A-Z0-9]{5}){4}$"
      }
    },
    "com.amazonaws.datasync#AgentArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-eusc|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:agent/agent-[0-9a-z]{17}$"
      }
    },
    "com.amazonaws.datasync#AgentArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#AgentArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.datasync#AgentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datasync#AgentListEntry"
      }
    },
    "com.amazonaws.datasync#AgentListEntry": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a DataSync agent.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of an agent.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of an agent.</p>\n         <ul>\n            <li>\n               <p>If the status is <code>ONLINE</code>, the agent is configured properly and ready to\n          use.</p>\n            </li>\n            <li>\n               <p>If the status is <code>OFFLINE</code>, the agent has been out of contact with\n            DataSync for five minutes or longer. This can happen for a few reasons. For\n          more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/troubleshooting-datasync-agents.html#troubleshoot-agent-offline\">What do I do if my agent is offline?</a>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.datasync#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform-related details about the agent, such as the version number.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a single entry in a list (or array) of DataSync agents when\n      you call the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a> operation.</p>"
      }
    },
    "com.amazonaws.datasync#AgentStatus": {
      "type": "enum",
      "members": {
        "ONLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONLINE"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        }
      }
    },
    "com.amazonaws.datasync#AgentVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\s+=._:@/-]+$"
      }
    },
    "com.amazonaws.datasync#Atime": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "BEST_EFFORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST_EFFORT"
          }
        }
      }
    },
    "com.amazonaws.datasync#AzureAccessTier": {
      "type": "enum",
      "members": {
        "HOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOT"
          }
        },
        "COOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COOL"
          }
        },
        "ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVE"
          }
        }
      }
    },
    "com.amazonaws.datasync#AzureBlobAuthenticationType": {
      "type": "enum",
      "members": {
        "SAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAS"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.datasync#AzureBlobContainerUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 325
        },
        "smithy.api#pattern": "^https:\\/\\/[A-Za-z0-9]((\\.|-+)?[A-Za-z0-9]){0,252}\\/[a-z0-9](-?[a-z0-9]){2,62}$"
      }
    },
    "com.amazonaws.datasync#AzureBlobSasConfiguration": {
      "type": "structure",
      "members": {
        "Token": {
          "target": "com.amazonaws.datasync#AzureBlobSasToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a SAS token that provides permissions to access your Azure Blob Storage.</p>\n         <p>The token is part of the SAS URI string that comes after the storage resource URI and a\n      question mark. A token looks something like this:</p>\n         <p>\n            <code>sp=r&st=2023-12-20T14:54:52Z&se=2023-12-20T22:54:52Z&spr=https&sv=2021-06-08&sr=c&sig=aBBKDWQvyuVcTPH9EBp%2FXTI9E%2F%2Fmq171%2BZU178wcwqU%3D</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The shared access signature (SAS) configuration that allows DataSync to\n      access your Microsoft Azure Blob Storage.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-sas-tokens\">SAS\n        tokens</a> for accessing your Azure Blob Storage.</p>"
      }
    },
    "com.amazonaws.datasync#AzureBlobSasToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.datasync#AzureBlobSubdirectory": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}\\p{C}]*$"
      }
    },
    "com.amazonaws.datasync#AzureBlobType": {
      "type": "enum",
      "members": {
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        }
      }
    },
    "com.amazonaws.datasync#BytesPerSecond": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": -1
        }
      }
    },
    "com.amazonaws.datasync#CancelTaskExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CancelTaskExecutionRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CancelTaskExecutionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops an DataSync task execution that's in progress. The transfer of some\n      files are abruptly interrupted. File contents that're transferred to the destination might be\n      incomplete or inconsistent with the source files.</p>\n         <p>However, if you start a new task execution using the same task and allow it to finish,\n      file content on the destination will be complete and consistent. This applies to other\n      unexpected failures that interrupt a task execution. In all of these cases, DataSync\n      successfully completes the transfer when you start the next task execution.</p>"
      }
    },
    "com.amazonaws.datasync#CancelTaskExecutionRequest": {
      "type": "structure",
      "members": {
        "TaskExecutionArn": {
          "target": "com.amazonaws.datasync#TaskExecutionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task execution to stop.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CancelTaskExecutionRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CancelTaskExecutionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CmkSecretConfig": {
      "type": "structure",
      "members": {
        "SecretArn": {
          "target": "com.amazonaws.datasync#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN for the DataSync-managed Secrets Manager secret that\n      that is used to access a specific storage location. This property is generated by DataSync and is read-only. DataSync encrypts this secret with the KMS key that you specify for <code>KmsKeyArn</code>.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.datasync#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN for the customer-managed KMS key that DataSync uses to encrypt the DataSync-managed secret stored for\n        <code>SecretArn</code>. DataSync provides this key to Secrets Manager.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies configuration information for a DataSync-managed secret, such as an\n      authentication token or secret key that DataSync uses to access a specific storage\n      location, with a customer-managed KMS key.</p>\n         <note>\n            <p>You can use either <code>CmkSecretConfig</code> or <code>CustomSecretConfig</code> to\n        provide credentials for a <code>CreateLocation</code> request. Do not provide both\n        parameters for the same request.</p>\n         </note>"
      }
    },
    "com.amazonaws.datasync#CreateAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates an DataSync agent that you deploy in your storage environment.\n      The activation process associates the agent with your Amazon Web Services account.</p>\n         <p>If you haven't deployed an agent yet, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/do-i-need-datasync-agent.html\">Do I need a DataSync\n        agent?</a>\n         </p>"
      }
    },
    "com.amazonaws.datasync#CreateAgentRequest": {
      "type": "structure",
      "members": {
        "ActivationKey": {
          "target": "com.amazonaws.datasync#ActivationKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies your DataSync agent's activation key. If you don't have an\n      activation key, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/activate-agent.html\">Activating your agent</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "AgentName": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a name for your agent. We recommend specifying a name that you can\n      remember.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least one tag for your agent.</p>"
          }
        },
        "VpcEndpointId": {
          "target": "com.amazonaws.datasync#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choose-service-endpoint.html#datasync-in-vpc\">VPC service\n        endpoint</a> that you're using. For example, a VPC endpoint ID looks like\n        <code>vpce-01234d5aff67890e1</code>.</p>\n         <important>\n            <p>The VPC service endpoint you use must include the DataSync service name (for\n        example, <code>com.amazonaws.us-east-2.datasync</code>).</p>\n         </important>"
          }
        },
        "SubnetArns": {
          "target": "com.amazonaws.datasync#PLSubnetArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the subnet where your VPC service endpoint is located. You can only\n      specify one ARN.</p>"
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#PLSecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the security group that allows traffic between\n      your agent and VPC service endpoint. You can only specify one ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateAgentRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateAgentResponse": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the agent that you just activated. Use the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a> operation to return a\n      list of agents in your Amazon Web Services account and Amazon Web Services Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateAgentResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationAzureBlob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationAzureBlobRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationAzureBlobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for a Microsoft Azure Blob Storage\n      container. DataSync can use this location as a transfer source or destination.\n      You can make transfers with or without a <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-creating-agent\">DataSync agent</a> that connects to your\n      container.</p>\n         <p>Before you begin, make sure you know <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access\">how DataSync accesses Azure Blob Storage</a> and works with <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">access tiers</a> and <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#blob-types\">blob types</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationAzureBlobRequest": {
      "type": "structure",
      "members": {
        "ContainerUrl": {
          "target": "com.amazonaws.datasync#AzureBlobContainerUrl",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the URL of the Azure Blob Storage container involved in your transfer.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.datasync#AzureBlobAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the authentication method DataSync uses to access your Azure Blob\n      Storage. DataSync can access blob storage using a shared access signature\n      (SAS).</p>",
            "smithy.api#required": {}
          }
        },
        "SasConfiguration": {
          "target": "com.amazonaws.datasync#AzureBlobSasConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the SAS configuration that allows DataSync to access your Azure Blob\n      Storage.</p>\n         <note>\n            <p>If you provide an authentication token using <code>SasConfiguration</code>, but do not\n        provide secret configuration details using <code>CmkSecretConfig</code> or\n          <code>CustomSecretConfig</code>, then DataSync stores the token using your\n          Amazon Web Services account's secrets manager secret.</p>\n         </note>"
          }
        },
        "BlobType": {
          "target": "com.amazonaws.datasync#AzureBlobType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of blob that you want your objects or files to be when transferring\n      them into Azure Blob Storage. Currently, DataSync only supports moving data into\n      Azure Blob Storage as block blobs. For more information on blob types, see the <a href=\"https://learn.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs\">Azure Blob Storage documentation</a>.</p>"
          }
        },
        "AccessTier": {
          "target": "com.amazonaws.datasync#AzureAccessTier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the access tier that you want your objects or files transferred into. This only\n      applies when using the location as a transfer destination. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">Access tiers</a>.</p>"
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#AzureBlobSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies path segments if you want to limit your transfer to a virtual directory in your\n      container (for example, <code>/my/images</code>).</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies the Amazon Resource Name (ARN) of the DataSync agent that\n      can connect with your Azure Blob Storage container. If you are setting up an agentless\n      cross-cloud transfer, you do not need to specify a value for this parameter.</p>\n         <p>You can specify more than one agent. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/multiple-agents.html\">Using multiple\n        agents for your transfer</a>.</p>\n         <note>\n            <p>Make sure you configure this parameter correctly when you first create your storage\n        location. You cannot add or remove agents from a storage location after you create\n        it.</p>\n         </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services\n      resources. We recommend creating at least a name tag for your transfer location.</p>"
          }
        },
        "CmkSecretConfig": {
          "target": "com.amazonaws.datasync#CmkSecretConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for a DataSync-managed secret, which\n      includes the authentication token that DataSync uses to access a specific AzureBlob\n      storage location, with a customer-managed KMS key.</p>\n         <p>When you include this paramater as part of a <code>CreateLocationAzureBlob</code> request,\n      you provide only the KMS key ARN. DataSync uses this KMS key together with the authentication token you specify for\n        <code>SasConfiguration</code> to create a DataSync-managed secret to store the\n      location access credentials.</p>\n         <p>Make sure the DataSync has permission to access the KMS key that\n      you specify.</p>\n         <note>\n            <p>You can use either <code>CmkSecretConfig</code> (with <code>SasConfiguration</code>) or\n          <code>CustomSecretConfig</code> (without <code>SasConfiguration</code>) to provide\n        credentials for a <code>CreateLocationAzureBlob</code> request. Do not provide both\n        parameters for the same request.</p>\n         </note>"
          }
        },
        "CustomSecretConfig": {
          "target": "com.amazonaws.datasync#CustomSecretConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for a customer-managed Secrets Manager secret where\n      the authentication token for an AzureBlob storage location is stored in plain text. This\n      configuration includes the secret ARN, and the ARN for an IAM role that\n      provides access to the secret.</p>\n         <note>\n            <p>You can use either <code>CmkSecretConfig</code> (with <code>SasConfiguration</code>) or\n          <code>CustomSecretConfig</code> (without <code>SasConfiguration</code>) to provide\n        credentials for a <code>CreateLocationAzureBlob</code> request. Do not provide both\n        parameters for the same request.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationAzureBlobResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Azure Blob Storage transfer location that you created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationEfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationEfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationEfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for an Amazon EFS file system.\n        DataSync can use this location as a source or destination for transferring\n      data.</p>\n         <p>Before you begin, make sure that you understand how DataSync\n      <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html#create-efs-location-access\">accesses\n          Amazon EFS file systems</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationEfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#EfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a mount path for your Amazon EFS file system. This is where DataSync reads or writes data on your file system (depending on if this is a source or\n      destination location).</p>\n         <p>By default, DataSync uses the root directory (or <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-access-points.html\">access point</a> if you provide one by using\n        <code>AccessPointArn</code>). You can also include subdirectories using forward slashes (for\n      example, <code>/path/to/folder</code>).</p>"
          }
        },
        "EfsFilesystemArn": {
          "target": "com.amazonaws.datasync#EfsFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN for your Amazon EFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Ec2Config": {
          "target": "com.amazonaws.datasync#Ec2Config",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the subnet and security groups DataSync uses to connect to one of\n      your Amazon EFS file system's <a href=\"https://docs.aws.amazon.com/efs/latest/ug/accessing-fs.html\">mount targets</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key-value pair that represents a tag that you want to add to the\n      resource. The value can be an empty string. This value helps you manage, filter, and search\n      for your resources. We recommend that you create a name tag for your location.</p>"
          }
        },
        "AccessPointArn": {
          "target": "com.amazonaws.datasync#EfsAccessPointArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the access point that DataSync uses\n      to mount your Amazon EFS file system.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html#create-efs-location-iam\">Accessing\n        restricted file systems</a>.</p>"
          }
        },
        "FileSystemAccessRoleArn": {
          "target": "com.amazonaws.datasync#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an Identity and Access Management (IAM) role that allows DataSync to access your Amazon EFS file system.</p>\n         <p>For information on creating this role, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html#create-efs-location-iam-role\">Creating a DataSync\n        IAM role for file system access</a>.</p>"
          }
        },
        "InTransitEncryption": {
          "target": "com.amazonaws.datasync#EfsInTransitEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want DataSync to use Transport Layer Security (TLS) 1.2\n      encryption when it transfers data to or from your Amazon EFS file system.</p>\n         <p>If you specify an access point using <code>AccessPointArn</code> or an IAM\n      role using <code>FileSystemAccessRoleArn</code>, you must set this parameter to\n        <code>TLS1_2</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationEfsRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationEfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you\n      create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationEfs</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxLustre": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxLustreRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxLustreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for an Amazon FSx for Lustre file\n      system. DataSync can use this location as a source or destination for\n      transferring data.</p>\n         <p>Before you begin, make sure that you understand how DataSync\n      <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-lustre-location.html#create-lustre-location-access\">accesses FSx for Lustre file systems</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxLustreRequest": {
      "type": "structure",
      "members": {
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the FSx for Lustre file\n      system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Names (ARNs) of up to five security groups that provide\n      access to your FSx for Lustre file system.</p>\n         <p>The security groups must be able to access the file system's ports. The file system must\n      also allow access from the security groups. For information about file system access, see the\n        <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/limit-access-security-groups.html\">\n               <i>Amazon FSx for Lustre User Guide</i>\n            </a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxLustreSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a mount path for your FSx for Lustre file system. The path can include\n      subdirectories.</p>\n         <p>When the location is used as a source, DataSync reads data from the mount path.\n      When the location is used as a destination, DataSync writes data to the mount path.\n      If you don't include this parameter, DataSync uses the file system's root directory\n        (<code>/</code>).</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services\n      resources. We recommend creating at least a name tag for your location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxLustreResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Lustre file system location that\n      you created. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOntap": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOntapRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOntapResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for an Amazon FSx for NetApp ONTAP file\n      system. DataSync can use this location as a source or destination for\n      transferring data.</p>\n         <p>Before you begin, make sure that you understand how DataSync\n      <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-ontap-location.html#create-ontap-location-access\">accesses FSx for ONTAP file systems</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOntapRequest": {
      "type": "structure",
      "members": {
        "Protocol": {
          "target": "com.amazonaws.datasync#FsxProtocol",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon EC2 security groups that provide access to your file system's\n      preferred subnet.</p>\n         <p>The security groups must allow outbound traffic on the following ports (depending on the\n      protocol you use):</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Network File System (NFS)</b>: TCP ports 111, 635, and\n          2049</p>\n            </li>\n            <li>\n               <p>\n                  <b>Server Message Block (SMB)</b>: TCP port 445</p>\n            </li>\n         </ul>\n         <p>Your file system's security groups must also allow inbound traffic on the same\n      ports.</p>",
            "smithy.api#required": {}
          }
        },
        "StorageVirtualMachineArn": {
          "target": "com.amazonaws.datasync#StorageVirtualMachineArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the storage virtual machine (SVM) in your file system where you want\n      to copy data to or from.</p>",
            "smithy.api#required": {}
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxOntapSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a path to the file share in the SVM where you want to transfer data to or\n      from.</p>\n         <p>You can specify a junction path (also known as a mount point), qtree path (for NFS file\n      shares), or share name (for SMB file shares). For example, your mount path might be\n        <code>/vol1</code>, <code>/vol1/tree1</code>, or <code>/share1</code>.</p>\n         <note>\n            <p>Don't specify a junction path in the SVM's root volume. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/managing-svms.html\">Managing FSx for ONTAP storage virtual machines</a> in the <i>Amazon FSx for NetApp ONTAP User Guide</i>.</p>\n         </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services\n      resources. We recommend creating at least a name tag for your location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOntapResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the FSx for ONTAP file system location that you\n      create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOpenZfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOpenZfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxOpenZfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for an Amazon FSx for OpenZFS file\n      system. DataSync can use this location as a source or destination for\n      transferring data.</p>\n         <p>Before you begin, make sure that you understand how DataSync\n      <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-openzfs-location.html#create-openzfs-access\">accesses\n          FSx for OpenZFS file systems</a>.</p>\n         <note>\n            <p>Request parameters related to <code>SMB</code> aren't supported with the\n          <code>CreateLocationFsxOpenZfs</code> operation.</p>\n         </note>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOpenZfsRequest": {
      "type": "structure",
      "members": {
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.datasync#FsxProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The type of protocol that DataSync uses to access your file system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the security groups that are used to configure the FSx for OpenZFS file\n      system.</p>",
            "smithy.api#required": {}
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxOpenZfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the location's path that must begin with <code>/fsx</code>. DataSync uses this subdirectory to read or write data (depending on whether the file\n      system is a source or destination location).</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The value\n      can be an empty string. This value helps you manage, filter, and search for your resources. We\n      recommend that you create a name tag for your location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxOpenZfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the FSx for OpenZFS file system location that you created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationFsxWindowsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationFsxWindowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for an Amazon FSx for Windows File Server file\n      system. DataSync can use this location as a source or destination for\n      transferring data.</p>\n         <p>Before you begin, make sure that you understand how DataSync\n      <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-fsx-location.html#create-fsx-location-access\">accesses\n          FSx for Windows File Server file systems</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindowsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#FsxWindowsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a mount path for your file system using forward slashes. This is where DataSync reads or writes data (depending on if this is a source or destination\n      location).</p>"
          }
        },
        "FsxFilesystemArn": {
          "target": "com.amazonaws.datasync#FsxFilesystemArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) for the FSx for Windows File Server file\n      system.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupArns": {
          "target": "com.amazonaws.datasync#Ec2SecurityGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARNs of the Amazon EC2 security groups that provide access to your\n      file system's preferred subnet.</p>\n         <p>The security groups that you specify must be able to communicate with your file system's\n      security groups. For information about configuring security groups for file system access, see\n      the <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/limit-access-security-groups.html\">\n               <i>Amazon FSx for Windows File Server User Guide</i>\n            </a>.</p>\n         <note>\n            <p>If you choose a security group that doesn't allow connections from within itself, do one\n        of the following:</p>\n            <ul>\n               <li>\n                  <p>Configure the security group to allow it to communicate within itself.</p>\n               </li>\n               <li>\n                  <p>Choose a different security group that can communicate with the mount target's\n            security group.</p>\n               </li>\n            </ul>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services\n      resources. We recommend creating at least a name tag for your location.</p>"
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the user with the permissions to mount and access the files, folders, and file\n      metadata in your FSx for Windows File Server file system.</p>\n         <p>For information about choosing a user with the right level of access for your transfer,\n      see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-fsx-location.html#create-fsx-windows-location-permissions\">required permissions</a> for FSx for Windows File Server locations.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the Windows domain that the FSx for Windows File Server file system\n      belongs to.</p>\n         <p>If you have multiple Active Directory domains in your environment, configuring this\n      parameter makes sure that DataSync connects to the right file system.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.datasync#SmbPassword",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the password of the user with the permissions to mount and access the files,\n      folders, and file metadata in your FSx for Windows File Server file system.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationFsxWindowsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the FSx for Windows File Server file system location you created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationHdfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationHdfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationHdfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for a Hadoop Distributed File System\n      (HDFS). DataSync can use this location as a source or destination for\n      transferring data.</p>\n         <p>Before you begin, make sure that you understand how DataSync\n      <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-hdfs-location.html#accessing-hdfs\">accesses HDFS\n        clusters</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationHdfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#HdfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A subdirectory in the HDFS cluster. This subdirectory is used to read data from or write\n      data to the HDFS cluster. If the subdirectory isn't specified, it will default to\n        <code>/</code>.</p>"
          }
        },
        "NameNodes": {
          "target": "com.amazonaws.datasync#HdfsNameNodeList",
          "traits": {
            "smithy.api#documentation": "<p>The NameNode that manages the HDFS namespace. The NameNode performs operations such as\n      opening, closing, and renaming files and directories. The NameNode contains the information to\n      map blocks of data to the DataNodes. You can use only one NameNode.</p>",
            "smithy.api#required": {}
          }
        },
        "BlockSize": {
          "target": "com.amazonaws.datasync#HdfsBlockSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of data blocks to write into the HDFS cluster. The block size must be a multiple\n      of 512 bytes. The default block size is 128 mebibytes (MiB).</p>"
          }
        },
        "ReplicationFactor": {
          "target": "com.amazonaws.datasync#HdfsReplicationFactor",
          "traits": {
            "smithy.api#documentation": "<p>The number of DataNodes to replicate the data to when writing to the HDFS cluster. By\n      default, data is replicated to three DataNodes.</p>"
          }
        },
        "KmsKeyProviderUri": {
          "target": "com.amazonaws.datasync#KmsKeyProviderUri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the HDFS cluster's Key Management Server (KMS). </p>"
          }
        },
        "QopConfiguration": {
          "target": "com.amazonaws.datasync#QopConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Quality of Protection (QOP) configuration specifies the Remote Procedure Call (RPC)\n      and data transfer protection settings configured on the Hadoop Distributed File System (HDFS)\n      cluster. If <code>QopConfiguration</code> isn't specified, <code>RpcProtection</code> and\n        <code>DataTransferProtection</code> default to <code>PRIVACY</code>. If you set\n        <code>RpcProtection</code> or <code>DataTransferProtection</code>, the other parameter\n      assumes the same value. </p>"
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.datasync#HdfsAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication used to determine the identity of the user. </p>",
            "smithy.api#required": {}
          }
        },
        "SimpleUser": {
          "target": "com.amazonaws.datasync#HdfsUser",
          "traits": {
            "smithy.api#documentation": "<p>The user name used to identify the client on the host operating system. </p>\n         <note>\n            <p>If <code>SIMPLE</code> is specified for <code>AuthenticationType</code>, this parameter\n        is required. </p>\n         </note>"
          }
        },
        "KerberosPrincipal": {
          "target": "com.amazonaws.datasync#KerberosPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The Kerberos principal with access to the files and folders on the HDFS cluster. </p>\n         <note>\n            <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this\n        parameter is required.</p>\n         </note>"
          }
        },
        "KerberosKeytab": {
          "target": "com.amazonaws.datasync#KerberosKeytabFile",
          "traits": {
            "smithy.api#documentation": "<p>The Kerberos key table (keytab) that contains mappings between the defined Kerberos\n      principal and the encrypted keys. You can load the keytab from a file by providing the file's\n      address.</p>\n         <note>\n            <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this\n        parameter is required. </p>\n         </note>"
          }
        },
        "KerberosKrb5Conf": {
          "target": "com.amazonaws.datasync#KerberosKrb5ConfFile",
          "traits": {
            "smithy.api#documentation": "<p>The <code>krb5.conf</code> file that contains the Kerberos configuration information. You\n      can load the <code>krb5.conf</code> file by providing the file's address. If you're using the\n        CLI, it performs the base64 encoding for you. Otherwise, provide the\n      base64-encoded text. </p>\n         <note>\n            <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this\n        parameter is required.</p>\n         </note>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the DataSync agents that can connect to your\n      HDFS cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value\n      can be an empty string. We recommend using tags to name your resources. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationHdfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source HDFS cluster location that you create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationNfs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationNfsRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationNfsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for a Network File System (NFS) file\n      server. DataSync can use this location as a source or destination for\n      transferring data.</p>\n         <p>Before you begin, make sure that you understand how DataSync\n      <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#accessing-nfs\">accesses NFS file\n        servers</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationNfsRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#NfsSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the export path in your NFS file server that you want DataSync to\n      mount.</p>\n         <p>This path (or a subdirectory of the path) is where DataSync transfers data to\n      or from. For information on configuring an export for DataSync, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#accessing-nfs\">Accessing NFS file servers</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DNS name or IP address (IPv4 or IPv6) of the NFS file server that your DataSync agent connects to.</p>",
            "smithy.api#required": {}
          }
        },
        "OnPremConfig": {
          "target": "com.amazonaws.datasync#OnPremConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that can\n      connect to your NFS file server.</p>\n         <p>You can specify more than one agent. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/do-i-need-datasync-agent.html#multiple-agents\">Using multiple DataSync agents</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#NfsMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the options that DataSync can use to mount your NFS file\n      server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationNfsRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationNfsResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the transfer location that you created for your NFS file server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationNfsResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationObjectStorageRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationObjectStorageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for an object storage system. DataSync can use this location as a source or destination for transferring data. You\n      can make transfers with or without a <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/do-i-need-datasync-agent.html#when-agent-required\">DataSync\n        agent</a>.</p>\n         <p>Before you begin, make sure that you understand the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html#create-object-location-prerequisites\">prerequisites</a> for DataSync to work with object storage systems.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorageRequest": {
      "type": "structure",
      "members": {
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the domain name or IP address (IPv4 or IPv6) of the object storage server that\n      your DataSync agent connects to.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerPort": {
          "target": "com.amazonaws.datasync#ObjectStorageServerPort",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the port that your object storage server accepts inbound network traffic on (for\n      example, port 443).</p>"
          }
        },
        "ServerProtocol": {
          "target": "com.amazonaws.datasync#ObjectStorageServerProtocol",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the protocol that your object storage server uses to communicate. If not specified, the default\n      value is <code>HTTPS</code>.</p>"
          }
        },
        "Subdirectory": {
          "target": "com.amazonaws.datasync#S3Subdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the object prefix for your object storage server. If this is a source location,\n        DataSync only copies objects with this prefix. If this is a destination location,\n        DataSync writes all objects with this prefix. </p>"
          }
        },
        "BucketName": {
          "target": "com.amazonaws.datasync#ObjectStorageBucketName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the object storage bucket involved in the transfer.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessKey": {
          "target": "com.amazonaws.datasync#ObjectStorageAccessKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the access key (for example, a user name) if credentials are required to\n      authenticate with the object storage server.</p>"
          }
        },
        "SecretKey": {
          "target": "com.amazonaws.datasync#ObjectStorageSecretKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the secret key (for example, a password) if credentials are required to\n      authenticate with the object storage server.</p>\n         <note>\n            <p>If you provide a secret using <code>SecretKey</code>, but do not provide secret\n        configuration details using <code>CmkSecretConfig</code> or <code>CustomSecretConfig</code>,\n        then DataSync stores the token using your Amazon Web Services account's Secrets Manager secret.</p>\n         </note>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies the Amazon Resource Names (ARNs) of the DataSync agents\n      that can connect with your object storage system. If you are setting up an agentless\n      cross-cloud transfer, you do not need to specify a value for this parameter.</p>\n         <note>\n            <p>Make sure you configure this parameter correctly when you first create your storage\n        location. You cannot add or remove agents from a storage location after you create\n        it.</p>\n         </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key-value pair that represents a tag that you want to add to the resource.\n      Tags can help you manage, filter, and search for your resources. We recommend creating a name\n      tag for your location.</p>"
          }
        },
        "ServerCertificate": {
          "target": "com.amazonaws.datasync#ObjectStorageCertificate",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a certificate chain for DataSync to authenticate with your object\n      storage system if the system uses a private or self-signed certificate authority (CA). You\n      must specify a single <code>.pem</code> file with a full certificate chain (for example,\n        <code>file:///home/user/.ssh/object_storage_certificates.pem</code>).</p>\n         <p>The certificate chain might include:</p>\n         <ul>\n            <li>\n               <p>The object storage system's certificate</p>\n            </li>\n            <li>\n               <p>All intermediate certificates (if there are any)</p>\n            </li>\n            <li>\n               <p>The root certificate of the signing CA</p>\n            </li>\n         </ul>\n         <p>You can concatenate your certificates into a <code>.pem</code> file (which can be up to\n      32768 bytes before base64 encoding). The following example <code>cat</code> command creates an\n        <code>object_storage_certificates.pem</code> file that includes three certificates:</p>\n         <p>\n            <code>cat object_server_certificate.pem intermediate_certificate.pem\n        ca_root_certificate.pem > object_storage_certificates.pem</code>\n         </p>\n         <p>To use this parameter, configure <code>ServerProtocol</code> to <code>HTTPS</code>.</p>"
          }
        },
        "CmkSecretConfig": {
          "target": "com.amazonaws.datasync#CmkSecretConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for a DataSync-managed secret, which\n      includes the <code>SecretKey</code> that DataSync uses to access a specific object\n      storage location, with a customer-managed KMS key.</p>\n         <p>When you include this paramater as part of a <code>CreateLocationObjectStorage</code>\n      request, you provide only the KMS key ARN. DataSync uses this KMS key together with the value you specify for the <code>SecretKey</code> parameter\n      to create a DataSync-managed secret to store the location access credentials.</p>\n         <p>Make sure the DataSync has permission to access the KMS key that\n      you specify.</p>\n         <note>\n            <p>You can use either <code>CmkSecretConfig</code> (with <code>SecretKey</code>) or\n          <code>CustomSecretConfig</code> (without <code>SecretKey</code>) to provide credentials\n        for a <code>CreateLocationObjectStorage</code> request. Do not provide both parameters for\n        the same request.</p>\n         </note>"
          }
        },
        "CustomSecretConfig": {
          "target": "com.amazonaws.datasync#CustomSecretConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for a customer-managed Secrets Manager secret where\n      the secret key for a specific object storage location is stored in plain text. This\n      configuration includes the secret ARN, and the ARN for an IAM role that\n      provides access to the secret.</p>\n         <note>\n            <p>You can use either <code>CmkSecretConfig</code> (with <code>SecretKey</code>) or\n          <code>CustomSecretConfig</code> (without <code>SecretKey</code>) to provide credentials\n        for a <code>CreateLocationObjectStorage</code> request. Do not provide both parameters for\n        the same request.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationObjectStorageRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationObjectStorageResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the object storage system location that you create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationObjectStorageResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationS3": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationS3Request"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationS3Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for an Amazon S3 bucket.\n        DataSync can use this location as a source or destination for transferring\n      data.</p>\n         <important>\n            <p>Before you begin, make sure that you read the following topics:</p>\n            <ul>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Storage\n              class considerations with Amazon S3 locations</a>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">Evaluating S3 request costs when using DataSync</a>\n                  </p>\n               </li>\n            </ul>\n         </important>\n         <p> For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html\">Configuring\n        transfers with Amazon S3</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationS3Request": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#S3Subdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a prefix in the S3 bucket that DataSync reads from or writes to\n      (depending on whether the bucket is a source or destination location).</p>\n         <note>\n            <p>DataSync can't transfer objects with a prefix that begins with a slash (<code>/</code>)\n        or includes <code>//</code>, <code>/./</code>, or <code>/../</code> patterns. For\n        example:</p>\n            <ul>\n               <li>\n                  <p>\n                     <code>/photos</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>photos//2006/January</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>photos/./2006/February</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>photos/../2006/March</code>\n                  </p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "S3BucketArn": {
          "target": "com.amazonaws.datasync#S3BucketArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the S3 bucket that you want to use as a location. (When creating\n      your DataSync task later, you specify whether this location is a transfer source or\n      destination.) </p>\n         <p>If your S3 bucket is located on an Outposts resource, you must specify an\n        Amazon S3 access point. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-points.html\">Managing data access\n        with Amazon S3 access points</a> in the <i>Amazon S3 User\n        Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3StorageClass": {
          "target": "com.amazonaws.datasync#S3StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the storage class that you want your objects to use when Amazon S3 is a\n      transfer destination.</p>\n         <p>For buckets in Amazon Web Services Regions, the storage class defaults to\n        <code>STANDARD</code>. For buckets on Outposts, the storage class defaults to\n        <code>OUTPOSTS</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Storage class\n        considerations with Amazon S3 transfers</a>.</p>"
          }
        },
        "S3Config": {
          "target": "com.amazonaws.datasync#S3Config",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>(Amazon S3 on Outposts only) Specifies the Amazon Resource Name (ARN) of the\n        DataSync agent on your Outpost.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent on Outposts</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your transfer location.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationS3Request</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationS3Response": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the S3 location that you created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationS3Response</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationSmb": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateLocationSmbRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateLocationSmbResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transfer <i>location</i> for a Server Message Block (SMB) file\n      server. DataSync can use this location as a source or destination for\n      transferring data.</p>\n         <p>Before you begin, make sure that you understand how DataSync accesses SMB\n      file servers. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">Providing DataSync access to SMB file servers</a>.</p>"
      }
    },
    "com.amazonaws.datasync#CreateLocationSmbRequest": {
      "type": "structure",
      "members": {
        "Subdirectory": {
          "target": "com.amazonaws.datasync#SmbSubdirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the share exported by your SMB file server where DataSync\n      will read or write data. You can include a subdirectory in the share path (for example,\n        <code>/path/to/subdirectory</code>). Make sure that other SMB clients in your network can\n      also mount this path.</p>\n         <p>To copy all data in the subdirectory, DataSync must be able to mount the SMB\n      share and access all of its data. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">Providing DataSync access to SMB file servers</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerHostname": {
          "target": "com.amazonaws.datasync#ServerHostname",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the domain name or IP address (IPv4 or IPv6) of the SMB file server that your DataSync agent connects to.</p>\n         <note>\n            <p>If you're using Kerberos authentication, you must specify a domain name.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "User": {
          "target": "com.amazonaws.datasync#SmbUser",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the user that can mount and access the files, folders, and file metadata in your\n      SMB file server. This parameter applies only if <code>AuthenticationType</code> is set to\n        <code>NTLM</code>.</p>\n         <p>For information about choosing a user with the right level of access for your transfer,\n      see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">Providing DataSync access to SMB file servers</a>.</p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.datasync#SmbDomain",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Windows domain name that your SMB file server belongs to. This parameter\n      applies only if <code>AuthenticationType</code> is set to <code>NTLM</code>.</p>\n         <p>If you have multiple domains in your environment, configuring this parameter makes sure\n      that DataSync connects to the right file server.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.datasync#SmbPassword",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the password of the user who can mount your SMB file server and has permission\n      to access the files and folders involved in your transfer. This parameter applies only if\n        <code>AuthenticationType</code> is set to <code>NTLM</code>.</p>"
          }
        },
        "AgentArns": {
          "target": "com.amazonaws.datasync#AgentArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DataSync agent (or agents) that can connect to your SMB file\n      server. You specify an agent by using its Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        },
        "MountOptions": {
          "target": "com.amazonaws.datasync#SmbMountOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the version of the SMB protocol that DataSync uses to access your SMB\n      file server.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services\n      resources. We recommend creating at least a name tag for your location.</p>"
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.datasync#SmbAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the authentication protocol that DataSync uses to connect to your SMB\n      file server. DataSync supports <code>NTLM</code> (default) and <code>KERBEROS</code>\n      authentication.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">Providing DataSync access to SMB file servers</a>.</p>"
          }
        },
        "DnsIpAddresses": {
          "target": "com.amazonaws.datasync#DnsIpList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IPv4 or IPv6 addresses for the DNS servers that your SMB file server belongs to.\n      This parameter applies only if <code>AuthenticationType</code> is set to\n      <code>KERBEROS</code>.</p>\n         <p>If you have multiple domains in your environment, configuring this parameter makes sure\n      that DataSync connects to the right SMB file server.</p>"
          }
        },
        "KerberosPrincipal": {
          "target": "com.amazonaws.datasync#KerberosPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a Kerberos principal, which is an identity in your Kerberos realm that has\n      permission to access the files, folders, and file metadata in your SMB file server.</p>\n         <p>A Kerberos principal might look like <code>HOST/kerberosuser@MYDOMAIN.ORG</code>.</p>\n         <p>Principal names are case sensitive. Your DataSync task execution will fail if\n      the principal that you specify for this parameter doesn’t exactly match the principal that you\n      use to create the keytab file.</p>"
          }
        },
        "KerberosKeytab": {
          "target": "com.amazonaws.datasync#KerberosKeytabFile",
          "traits": {
            "smithy.api#documentation": "<p>Specifies your Kerberos key table (keytab) file, which includes mappings between your\n      Kerberos principal and encryption keys.</p>\n         <p>To avoid task execution errors, make sure that the Kerberos principal that you use to\n      create the keytab file matches exactly what you specify for <code>KerberosPrincipal</code>.\n    </p>"
          }
        },
        "KerberosKrb5Conf": {
          "target": "com.amazonaws.datasync#KerberosKrb5ConfFile",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a Kerberos configuration file (<code>krb5.conf</code>) that defines your\n      Kerberos realm configuration.</p>\n         <p>The file must be base64 encoded. If you're using the CLI, the encoding is\n      done for you.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationSmbRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateLocationSmbResponse": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SMB location that you created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateLocationSmbResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CreateTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#CreateTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#CreateTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures a <i>task</i>, which defines where and how DataSync\n      transfers your data.</p>\n         <p>A task includes a source location, destination location, and transfer options (such as\n      bandwidth limits, scheduling, and more).</p>\n         <important>\n            <p>If you're planning to transfer data to or from an Amazon S3 location, review\n          <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">how\n            DataSync can affect your S3 request charges</a> and the <a href=\"http://aws.amazon.com/datasync/pricing/\">DataSync pricing page</a> before\n        you begin.</p>\n         </important>"
      }
    },
    "com.amazonaws.datasync#CreateTaskRequest": {
      "type": "structure",
      "members": {
        "SourceLocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of your transfer's source location.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationLocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of your transfer's destination location. </p>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLogGroupArn": {
          "target": "com.amazonaws.datasync#LogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of an Amazon CloudWatch log group for\n      monitoring your task.</p>\n         <p>For Enhanced mode tasks, you don't need to specify anything. DataSync\n      automatically sends logs to a CloudWatch log group named\n      <code>/aws/datasync</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of your task.</p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.datasync#Options",
          "traits": {
            "smithy.api#documentation": "<p>Specifies your task's settings, such as preserving file metadata, verifying data\n      integrity, among other options.</p>"
          }
        },
        "Excludes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies exclude filters that define the files, objects, and folders in your source\n      location that you don't want DataSync to transfer. For more information and\n      examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/filtering.html\">Specifying what DataSync transfers by using filters</a>.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.datasync#TaskSchedule",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a schedule for when you want your task to run. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/task-scheduling.html\">Scheduling your\n        task</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.datasync#InputTagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the tags that you want to apply to your task.</p>\n         <p>\n            <i>Tags</i> are key-value pairs that help you manage, filter, and search\n      for your DataSync resources.</p>"
          }
        },
        "Includes": {
          "target": "com.amazonaws.datasync#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies include filters that define the files, objects, and folders in your source\n      location that you want DataSync to transfer. For more information and examples, see\n        <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/filtering.html\">Specifying what\n          DataSync transfers by using filters</a>.</p>"
          }
        },
        "ManifestConfig": {
          "target": "com.amazonaws.datasync#ManifestConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configures a manifest, which is a list of files or objects that you want DataSync to transfer. For more information and configuration examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/transferring-with-manifest.html\">Specifying what DataSync transfers by using a manifest</a>.</p>\n         <p>When using this parameter, your caller identity (the role that you're using DataSync with) must have the <code>iam:PassRole</code> permission. The <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/security-iam-awsmanpol.html#security-iam-awsmanpol-awsdatasyncfullaccess\">AWSDataSyncFullAccess</a> policy includes this permission.</p>"
          }
        },
        "TaskReportConfig": {
          "target": "com.amazonaws.datasync#TaskReportConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how you want to configure a task report, which provides detailed information\n      about your DataSync transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/task-reports.html\">Monitoring your DataSync\n        transfers with task reports</a>.</p>\n         <p>When using this parameter, your caller identity (the role that you're using DataSync with) must have the <code>iam:PassRole</code> permission. The <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/security-iam-awsmanpol.html#security-iam-awsmanpol-awsdatasyncfullaccess\">AWSDataSyncFullAccess</a> policy includes this permission.</p>"
          }
        },
        "TaskMode": {
          "target": "com.amazonaws.datasync#TaskMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies one of the following task modes for your data transfer:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ENHANCED</code> - Transfer virtually unlimited numbers of objects with higher\n          performance than Basic mode. Enhanced mode tasks optimize the data transfer process by\n          listing, preparing, transferring, and verifying data in parallel. Enhanced mode is\n          currently available for transfers between Amazon S3 locations, transfers between\n          Azure Blob and Amazon S3 without an agent, and transfers between other clouds and\n            Amazon S3 without an agent.</p>\n               <note>\n                  <p>To create an Enhanced mode task, the IAM role that you use to call\n            the <code>CreateTask</code> operation must have the\n              <code>iam:CreateServiceLinkedRole</code> permission.</p>\n               </note>\n            </li>\n            <li>\n               <p>\n                  <code>BASIC</code> (default) - Transfer files or objects between Amazon Web Services\n          storage and all other supported DataSync locations. Basic mode tasks are subject\n          to <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/datasync-limits.html\">quotas</a> on the number of files, objects, and directories in a dataset. Basic\n          mode sequentially prepares, transfers, and verifies data, making it slower than Enhanced\n          mode for most workloads.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choosing-task-mode.html#task-mode-differences\">Understanding\n        task mode differences</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTaskRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#CreateTaskResponse": {
      "type": "structure",
      "members": {
        "TaskArn": {
          "target": "com.amazonaws.datasync#TaskArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CreateTaskResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#CustomSecretConfig": {
      "type": "structure",
      "members": {
        "SecretArn": {
          "target": "com.amazonaws.datasync#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN for an Secrets Manager secret.</p>"
          }
        },
        "SecretAccessRoleArn": {
          "target": "com.amazonaws.datasync#IamRoleArnOrEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN for the Identity and Access Management role that DataSync uses to\n      access the secret specified for <code>SecretArn</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies configuration information for a customer-managed Secrets Manager secret where\n      a storage location authentication token or secret key is stored in plain text. This\n      configuration includes the secret ARN, and the ARN for an IAM role that\n      provides access to the secret.</p>\n         <note>\n            <p>You can use either <code>CmkSecretConfig</code> or <code>CustomSecretConfig</code> to\n        provide credentials for a <code>CreateLocation</code> request. Do not provide both\n        parameters for the same request.</p>\n         </note>"
      }
    },
    "com.amazonaws.datasync#DeleteAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an DataSync agent resource from your Amazon Web Services account.</p>\n         <p>Keep in mind that this operation (which can't be undone) doesn't remove the agent's\n      virtual machine (VM) or Amazon EC2 instance from your storage environment. For next\n      steps, you can delete the VM or instance from your storage environment or reuse it to <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/activate-agent.html\">activate a new\n        agent</a>.</p>"
      }
    },
    "com.amazonaws.datasync#DeleteAgentRequest": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent to delete. Use the <code>ListAgents</code>\n      operation to return a list of agents for your account and Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteAgentRequest</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DeleteAgentResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DeleteLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteLocationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a transfer location resource from DataSync. </p>"
      }
    },
    "com.amazonaws.datasync#DeleteLocationRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the location to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteLocation</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DeleteLocationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DeleteTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DeleteTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DeleteTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a transfer task resource from DataSync.</p>"
      }
    },
    "com.amazonaws.datasync#DeleteTaskRequest": {
      "type": "structure",
      "members": {
        "TaskArn": {
          "target": "com.amazonaws.datasync#TaskArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the task that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteTask</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DeleteTaskResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DescribeAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an DataSync agent, such as its name, service\n      endpoint type, and status.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeAgentRequest": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that you want\n      information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeAgent</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datasync#DescribeAgentResponse": {
      "type": "structure",
      "members": {
        "AgentArn": {
          "target": "com.amazonaws.datasync#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the agent.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.datasync#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.datasync#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agent.</p>\n         <ul>\n            <li>\n               <p>If the status is <code>ONLINE</code>, the agent is configured properly and ready to\n          use.</p>\n            </li>\n            <li>\n               <p>If the status is <code>OFFLINE</code>, the agent has been out of contact with\n            DataSync for five minutes or longer. This can happen for a few reasons. For\n          more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/troubleshooting-datasync-agents.html#troubleshoot-agent-offline\">What do I do if my agent is offline?</a>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "LastConnectionTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The last time that the agent was communicating with the DataSync\n      service.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.datasync#Time",
          "traits": {
            "smithy.api#documentation": "<p>The time that the agent was <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/activate-agent.html\">activated</a>.</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.datasync#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choose-service-endpoint.html\">service endpoint</a> that your agent is connected to.</p>"
          }
        },
        "PrivateLinkConfig": {
          "target": "com.amazonaws.datasync#PrivateLinkConfig",
          "traits": {
            "smithy.api#documentation": "<p>The network configuration that the agent uses when connecting to a <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choose-service-endpoint.html#choose-service-endpoint-vpc\">VPC\n        service endpoint</a>.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.datasync#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform-related details about the agent, such as the version number.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DescribeAgentResponse</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datasync#DescribeLocationAzureBlob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datasync#DescribeLocationAzureBlobRequest"
      },
      "output": {
        "target": "com.amazonaws.datasync#DescribeLocationAzureBlobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.datasync#InternalException"
        },
        {
          "target": "com.amazonaws.datasync#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about how an DataSync transfer location for Microsoft Azure\n      Blob Storage is configured.</p>"
      }
    },
    "com.amazonaws.datasync#DescribeLocationAzureBlobRequest": {
      "type": "structure",
      "members": {
        "LocationArn": {
          "target": "com.amazonaws.datasync#LocationArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of your Azure Blob Storage transfer\n      location.</p>",
            "smithy.api#required": {}
[...]
