{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.datazone#AcceptChoice": {
      "type": "structure",
      "members": {
        "predictionTarget": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>Specifies the target (for example, a column name) where a prediction can be\n         accepted.</p>",
            "smithy.api#required": {}
          }
        },
        "predictionChoice": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the prediction (aka, the automatically generated piece of metadata) that can\n         be accepted.</p>"
          }
        },
        "editedValue": {
          "target": "com.amazonaws.datazone#EditedValue",
          "traits": {
            "smithy.api#documentation": "<p>The edit of the prediction.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the prediction (aka, the automatically generated piece of metadata) and the\n         target (for example, a column name) that can be accepted.</p>"
      }
    },
    "com.amazonaws.datazone#AcceptChoices": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AcceptChoice"
      }
    },
    "com.amazonaws.datazone#AcceptPredictions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#AcceptPredictionsInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#AcceptPredictionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts automatically generated business-friendly metadata for your Amazon DataZone\n         assets.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/v2/domains/{domainIdentifier}/assets/{identifier}/accept-predictions"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#AcceptPredictionsInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.datazone#AssetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the asset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision that is to be made to the asset.</p>",
            "smithy.api#httpQuery": "revision"
          }
        },
        "acceptRule": {
          "target": "com.amazonaws.datazone#AcceptRule",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the rule (or the conditions) under which a prediction can be accepted.</p>"
          }
        },
        "acceptChoices": {
          "target": "com.amazonaws.datazone#AcceptChoices",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the prediction (aka, the automatically generated piece of metadata) and the\n         target (for example, a column name) that can be accepted.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.datazone#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request. This field is\n         automatically populated if not provided.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#AcceptPredictionsOutput": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain.</p>",
            "smithy.api#required": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision that is to be made to the asset.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#AcceptRule": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.amazonaws.datazone#AcceptRuleBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want to accept the top prediction for all targets or none.</p>"
          }
        },
        "threshold": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score that specifies the condition at which a prediction can be\n         accepted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the rule and the threshold under which a prediction can be accepted.</p>"
      }
    },
    "com.amazonaws.datazone#AcceptRuleBehavior": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.datazone#AcceptSubscriptionRequest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#AcceptSubscriptionRequestInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#AcceptSubscriptionRequestOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a subscription request to a specific asset. </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/v2/domains/{domainIdentifier}/subscription-requests/{identifier}/accept"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#AcceptSubscriptionRequestInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone domain where the specified subscription request is being accepted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.datazone#SubscriptionRequestId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the subscription request that is to be accepted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "decisionComment": {
          "target": "com.amazonaws.datazone#DecisionComment",
          "traits": {
            "smithy.api#documentation": "<p>A description that specifies the reason for accepting the specified subscription\n         request.</p>"
          }
        },
        "assetScopes": {
          "target": "com.amazonaws.datazone#AcceptedAssetScopes",
          "traits": {
            "smithy.api#documentation": "<p>The asset scopes of the accept subscription request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#AcceptSubscriptionRequestOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#SubscriptionRequestId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the subscription request.</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon DataZone user that accepted the specified subscription request.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon DataZone user who updated the subscription request.</p>"
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon DataZone domain where the specified subscription request\n         was accepted.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.datazone#SubscriptionRequestStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of the subscription request.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that specifies when the subscription request was accepted.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.datazone#UpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the timestamp when subscription request was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "requestReason": {
          "target": "com.amazonaws.datazone#RequestReason",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the reason for requesting a subscription to the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "subscribedPrincipals": {
          "target": "com.amazonaws.datazone#SubscribedPrincipals",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon DataZone users who are subscribed to the asset specified in the\n         subscription request.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            },
            "smithy.api#required": {}
          }
        },
        "subscribedListings": {
          "target": "com.amazonaws.datazone#SubscribedListings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the asset for which the subscription request was created.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            },
            "smithy.api#required": {}
          }
        },
        "reviewerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifes the ID of the Amazon DataZone user who reviewed the subscription request.</p>"
          }
        },
        "decisionComment": {
          "target": "com.amazonaws.datazone#DecisionComment",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the reason for accepting the subscription request.</p>"
          }
        },
        "existingSubscriptionId": {
          "target": "com.amazonaws.datazone#SubscriptionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the existing subscription.</p>"
          }
        },
        "metadataForms": {
          "target": "com.amazonaws.datazone#MetadataForms",
          "traits": {
            "smithy.api#documentation": "<p>The metadata form in the subscription request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#AcceptedAssetScope": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The asset ID of the accepted asset scope.</p>",
            "smithy.api#required": {}
          }
        },
        "filterIds": {
          "target": "com.amazonaws.datazone#FilterIds",
          "traits": {
            "smithy.api#documentation": "<p>The filter IDs of the accepted asset scope.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The accepted asset scope.</p>"
      }
    },
    "com.amazonaws.datazone#AcceptedAssetScopes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AcceptedAssetScope"
      }
    },
    "com.amazonaws.datazone#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.datazone#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.datazone#ActionLink": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.datazone#ActionParameters": {
      "type": "union",
      "members": {
        "awsConsoleLink": {
          "target": "com.amazonaws.datazone#AwsConsoleLinkParameters",
          "traits": {
            "smithy.api#documentation": "<p>The console link specified as part of the environment action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters of the environment action.</p>"
      }
    },
    "com.amazonaws.datazone#AddEntityOwner": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#AddEntityOwnerInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#AddEntityOwnerOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the owner of an entity (a domain unit).</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/addOwner"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["Administration"]
      }
    },
    "com.amazonaws.datazone#AddEntityOwnerInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain in which you want to add the entity owner.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "entityType": {
          "target": "com.amazonaws.datazone#DataZoneEntityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of an entity.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "entityIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity to which you want to add an owner.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.amazonaws.datazone#OwnerProperties",
          "traits": {
            "smithy.api#documentation": "<p>The owner that you want to add to the entity.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.datazone#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that is provided to ensure the idempotency of the\n         request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#AddEntityOwnerOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#AddPolicyGrant": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#AddPolicyGrantInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#AddPolicyGrantOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a policy grant (an authorization policy) to a specified entity, including domain\n         units, environment blueprint configurations, or environment profiles.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/policies/managed/{entityType}/{entityIdentifier}/addGrant"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["Administration"]
      }
    },
    "com.amazonaws.datazone#AddPolicyGrantInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain where you want to add a policy grant.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "entityType": {
          "target": "com.amazonaws.datazone#TargetEntityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of entity (resource) to which the grant is added.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "entityIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity (resource) to which you want to add a policy grant.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "policyType": {
          "target": "com.amazonaws.datazone#ManagedPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy that you want to grant.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.datazone#PolicyGrantPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The principal to whom the permissions are granted.</p>",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "com.amazonaws.datazone#PolicyGrantDetail",
          "traits": {
            "smithy.api#documentation": "<p>The details of the policy grant.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.datazone#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that is provided to ensure the idempotency of the\n         request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#AddPolicyGrantOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#AddToProjectMemberPoolPolicyGrantDetail": {
      "type": "structure",
      "members": {
        "includeChildDomainUnits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the policy grant is applied to child domain units.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the policy grant.</p>"
      }
    },
    "com.amazonaws.datazone#AllDomainUnitsGrantFilter": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The grant filter for all domain units.</p>"
      }
    },
    "com.amazonaws.datazone#AllUsersGrantFilter": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The all users grant filter.</p>"
      }
    },
    "com.amazonaws.datazone#ApplicableAssetTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#TypeName"
      }
    },
    "com.amazonaws.datazone#Asset": {
      "type": "resource",
      "identifiers": {
        "identifier": {
          "target": "com.amazonaws.datazone#AssetIdentifier"
        }
      },
      "properties": {
        "id": {
          "target": "com.amazonaws.datazone#AssetId"
        },
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId"
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId"
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision"
        },
        "externalIdentifier": {
          "target": "com.amazonaws.datazone#ExternalIdentifier"
        },
        "listing": {
          "target": "com.amazonaws.datazone#AssetListingDetails"
        },
        "name": {
          "target": "com.amazonaws.datazone#AssetName"
        },
        "typeIdentifier": {
          "target": "com.amazonaws.datazone#AssetTypeIdentifier"
        },
        "typeRevision": {
          "target": "com.amazonaws.datazone#Revision"
        },
        "description": {
          "target": "com.amazonaws.datazone#Description"
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#GlossaryTerms"
        },
        "formsInput": {
          "target": "com.amazonaws.datazone#FormInputList"
        },
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList"
        },
        "readOnlyFormsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList"
        },
        "latestTimeSeriesDataPointFormsOutput": {
          "target": "com.amazonaws.datazone#TimeSeriesDataPointSummaryFormOutputList"
        },
        "owningProjectIdentifier": {
          "target": "com.amazonaws.datazone#ProjectId"
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId"
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy"
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt"
        },
        "firstRevisionCreatedAt": {
          "target": "com.amazonaws.datazone#CreatedAt"
        },
        "firstRevisionCreatedBy": {
          "target": "com.amazonaws.datazone#CreatedBy"
        }
      },
      "create": {
        "target": "com.amazonaws.datazone#CreateAsset"
      },
      "read": {
        "target": "com.amazonaws.datazone#GetAsset"
      },
      "delete": {
        "target": "com.amazonaws.datazone#DeleteAsset"
      },
      "operations": [
        {
          "target": "com.amazonaws.datazone#CreateAssetRevision"
        }
      ]
    },
    "com.amazonaws.datazone#AssetFilterConfiguration": {
      "type": "union",
      "members": {
        "columnConfiguration": {
          "target": "com.amazonaws.datazone#ColumnFilterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The column configuration of the asset filter.</p>"
          }
        },
        "rowConfiguration": {
          "target": "com.amazonaws.datazone#RowFilterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The row configuration of the asset filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration details of the asset filter.</p>"
      }
    },
    "com.amazonaws.datazone#AssetFilterSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#FilterId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset filter.</p>",
            "smithy.api#required": {}
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain where the asset filter lives.</p>",
            "smithy.api#required": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the data asset.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset filter.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the asset filter.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.datazone#FilterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the asset filter.</p>"
          }
        },
        "effectiveColumnNames": {
          "target": "com.amazonaws.datazone#ColumnNameList",
          "traits": {
            "smithy.api#documentation": "<p>The effective column names of the asset filter.</p>"
          }
        },
        "effectiveRowFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The effective row filter of the asset filter.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp at which the asset filter was created.</p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message that is displayed if the action does not succeed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the asset filter.</p>"
      }
    },
    "com.amazonaws.datazone#AssetFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AssetFilterSummary"
      }
    },
    "com.amazonaws.datazone#AssetId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_-]{1,36}$"
      }
    },
    "com.amazonaws.datazone#AssetIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_-]{1,36}$"
      }
    },
    "com.amazonaws.datazone#AssetInDataProductListingItem": {
      "type": "structure",
      "members": {
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The entity ID of the listing of the asset in a data product.</p>"
          }
        },
        "entityRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The entity revision of the listing of the asset in a data product.</p>"
          }
        },
        "entityType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The entity type of the listing of the asset in a data product.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The listing of the asset in a data product.</p>"
      }
    },
    "com.amazonaws.datazone#AssetInDataProductListingItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AssetInDataProductListingItem"
      }
    },
    "com.amazonaws.datazone#AssetItem": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain in which the inventory asset exists.</p>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.datazone#AssetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>the identifier of the Amazon DataZone inventory asset.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon DataZone inventory asset.</p>",
            "smithy.api#required": {}
          }
        },
        "typeIdentifier": {
          "target": "com.amazonaws.datazone#AssetTypeIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the asset type of the specified Amazon DataZone inventory asset.</p>",
            "smithy.api#required": {}
          }
        },
        "typeRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the inventory asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "externalIdentifier": {
          "target": "com.amazonaws.datazone#ExternalIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The external identifier of the Amazon DataZone inventory asset.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of an Amazon DataZone inventory asset.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the Amazon DataZone inventory asset was created.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the inventory asset.</p>"
          }
        },
        "firstRevisionCreatedAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the first revision of the inventory asset was created.</p>"
          }
        },
        "firstRevisionCreatedBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the first revision of the inventory asset.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#GlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>The glossary terms attached to the Amazon DataZone inventory asset.</p>"
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone project that owns the inventory asset.</p>",
            "smithy.api#required": {}
          }
        },
        "additionalAttributes": {
          "target": "com.amazonaws.datazone#AssetItemAdditionalAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The additional attributes of a Amazon DataZone inventory asset. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Amazon DataZone inventory asset.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.datazone#Asset"
          }
        ]
      }
    },
    "com.amazonaws.datazone#AssetItemAdditionalAttributes": {
      "type": "structure",
      "members": {
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The forms included in the additional attributes of an inventory asset.</p>"
          }
        },
        "readOnlyFormsOutput": {
          "target": "com.amazonaws.datazone#FormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The read-only forms included in the additional attributes of an inventory asset.</p>"
          }
        },
        "latestTimeSeriesDataPointFormsOutput": {
          "target": "com.amazonaws.datazone#TimeSeriesDataPointSummaryFormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The latest time series data points forms included in the additional attributes of an\n         asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The additional attributes of an inventory asset.</p>"
      }
    },
    "com.amazonaws.datazone#AssetListing": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an asset published in an Amazon DataZone catalog. </p>"
          }
        },
        "assetRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of an asset published in an Amazon DataZone catalog. </p>"
          }
        },
        "assetType": {
          "target": "com.amazonaws.datazone#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The type of an asset published in an Amazon DataZone catalog. </p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when an asset published in an Amazon DataZone catalog was created. </p>"
          }
        },
        "forms": {
          "target": "com.amazonaws.datazone#Forms",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms attached to an asset published in an Amazon DataZone catalog. </p>"
          }
        },
        "latestTimeSeriesDataPointForms": {
          "target": "com.amazonaws.datazone#TimeSeriesDataPointSummaryFormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The latest time series data points forms included in the additional attributes of an\n         asset.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#DetailedGlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>The glossary terms attached to an asset published in an Amazon DataZone catalog. </p>"
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the project where an asset published in an Amazon DataZone catalog exists.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An asset published in an Amazon DataZone catalog.</p>"
      }
    },
    "com.amazonaws.datazone#AssetListingDetails": {
      "type": "structure",
      "members": {
        "listingId": {
          "target": "com.amazonaws.datazone#ListingId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an asset published in an Amazon DataZone catalog. </p>",
            "smithy.api#required": {}
          }
        },
        "listingStatus": {
          "target": "com.amazonaws.datazone#ListingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of an asset published in an Amazon DataZone catalog. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an asset published in an Amazon DataZone catalog. </p>"
      }
    },
    "com.amazonaws.datazone#AssetListingItem": {
      "type": "structure",
      "members": {
        "listingId": {
          "target": "com.amazonaws.datazone#ListingId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the listing (asset published in Amazon DataZone catalog).</p>"
          }
        },
        "listingRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the listing (asset published in Amazon DataZone catalog).</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the inventory asset.</p>"
          }
        },
        "entityId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the inventory asset.</p>"
          }
        },
        "entityRevision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the inventory asset.</p>"
          }
        },
        "entityType": {
          "target": "com.amazonaws.datazone#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The type of the inventory asset.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of an asset published in an Amazon DataZone catalog.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when an asset published in an Amazon DataZone catalog was created.</p>"
          }
        },
        "listingCreatedBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the listing.</p>"
          }
        },
        "listingUpdatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who updated the listing.</p>"
          }
        },
        "glossaryTerms": {
          "target": "com.amazonaws.datazone#DetailedGlossaryTerms",
          "traits": {
            "smithy.api#documentation": "<p>Glossary terms attached to the inventory asset.</p>"
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the project that owns the inventory asset.</p>"
          }
        },
        "additionalAttributes": {
          "target": "com.amazonaws.datazone#AssetListingItemAdditionalAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The additional attributes of an asset published in an Amazon DataZone catalog.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an asset published in an Amazon DataZone catalog.</p>"
      }
    },
    "com.amazonaws.datazone#AssetListingItemAdditionalAttributes": {
      "type": "structure",
      "members": {
        "forms": {
          "target": "com.amazonaws.datazone#Forms",
          "traits": {
            "smithy.api#documentation": "<p>The metadata forms that form additional attributes of the metadata asset.</p>"
          }
        },
        "latestTimeSeriesDataPointForms": {
          "target": "com.amazonaws.datazone#TimeSeriesDataPointSummaryFormOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The latest time series data points forms included in the additional attributes of an\n         asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional attributes of an inventory asset.</p>"
      }
    },
    "com.amazonaws.datazone#AssetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.datazone#AssetRevision": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the inventory asset.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the inventory asset revision.</p>"
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision details of the inventory asset.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the asset revision.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when an inventory asset revison was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The revision of an inventory asset.</p>"
      }
    },
    "com.amazonaws.datazone#AssetRevisions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AssetRevision"
      }
    },
    "com.amazonaws.datazone#AssetScope": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The asset ID of the asset scope.</p>",
            "smithy.api#required": {}
          }
        },
        "filterIds": {
          "target": "com.amazonaws.datazone#FilterIds",
          "traits": {
            "smithy.api#documentation": "<p>The filter IDs of the asset scope.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the asset scope.</p>",
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message of the asset scope.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The asset scope.</p>"
      }
    },
    "com.amazonaws.datazone#AssetTargetNameMap": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the inventory asset.</p>",
            "smithy.api#required": {}
          }
        },
        "targetName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The target name in the asset target name map.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name map for assets.</p>"
      }
    },
    "com.amazonaws.datazone#AssetTargetNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AssetTargetNameMap"
      }
    },
    "com.amazonaws.datazone#AssetType": {
      "type": "resource",
      "identifiers": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId"
        },
        "identifier": {
          "target": "com.amazonaws.datazone#AssetTypeIdentifier"
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision"
        }
      },
      "properties": {
        "name": {
          "target": "com.amazonaws.datazone#TypeName"
        },
        "description": {
          "target": "com.amazonaws.datazone#Description"
        },
        "formsInput": {
          "target": "com.amazonaws.datazone#FormsInputMap"
        },
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormsOutputMap"
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId"
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId"
        },
        "originDomainId": {
          "target": "com.amazonaws.datazone#DomainId"
        },
        "originProjectId": {
          "target": "com.amazonaws.datazone#ProjectId"
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt"
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy"
        },
        "updatedAt": {
          "target": "com.amazonaws.datazone#UpdatedAt"
        },
        "updatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy"
        }
      },
      "create": {
        "target": "com.amazonaws.datazone#CreateAssetType"
      },
      "collectionOperations": [
        {
          "target": "com.amazonaws.datazone#DeleteAssetType"
        },
        {
          "target": "com.amazonaws.datazone#GetAssetType"
        }
      ]
    },
    "com.amazonaws.datazone#AssetTypeIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 513
        },
        "smithy.api#pattern": "^(?!\\.)[\\w\\.]*\\w$"
      }
    },
    "com.amazonaws.datazone#AssetTypeIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AssetTypeIdentifier"
      }
    },
    "com.amazonaws.datazone#AssetTypeItem": {
      "type": "structure",
      "members": {
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain where the asset type exists.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "com.amazonaws.datazone#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the asset type.</p>"
          }
        },
        "formsOutput": {
          "target": "com.amazonaws.datazone#FormsOutputMap",
          "traits": {
            "smithy.api#documentation": "<p>The forms included in the details of the asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "owningProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone project that owns the asset type.</p>",
            "smithy.api#required": {}
          }
        },
        "originDomainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone domain where the asset type was originally\n         created.</p>"
          }
        },
        "originProjectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon DataZone project where the asset type exists.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the asset type was created.</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who created the asset type.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.datazone#UpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the asset type was updated.</p>"
          }
        },
        "updatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who updated the asset type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the asset type.</p>"
      }
    },
    "com.amazonaws.datazone#AssetTypesForRule": {
      "type": "structure",
      "members": {
        "selectionMode": {
          "target": "com.amazonaws.datazone#RuleScopeSelectionMode",
          "traits": {
            "smithy.api#documentation": "<p>The selection mode for the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "specificAssetTypes": {
          "target": "com.amazonaws.datazone#RuleAssetTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The specific asset types that are included in the rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The asset type for the rule details.</p>"
      }
    },
    "com.amazonaws.datazone#AssociateEnvironmentRole": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#AssociateEnvironmentRoleInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#AssociateEnvironmentRoleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the environment role in Amazon DataZone.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/roles/{environmentRoleArn}"
        }
      }
    },
    "com.amazonaws.datazone#AssociateEnvironmentRoleInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone domain in which the environment role is associated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentIdentifier": {
          "target": "com.amazonaws.datazone#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone environment.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the environment role.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#AssociateEnvironmentRoleOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#AthenaPropertiesInput": {
      "type": "structure",
      "members": {
        "workgroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Athena workgroup name of a connection.</p>",
            "smithy.api#length": {
              "max": 64
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Athena properties of a connection.</p>"
      }
    },
    "com.amazonaws.datazone#AthenaPropertiesOutput": {
      "type": "structure",
      "members": {
        "workgroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Athena workgroup name of a connection.</p>",
            "smithy.api#length": {
              "max": 64
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Athena properties of a connection.</p>"
      }
    },
    "com.amazonaws.datazone#AthenaPropertiesPatch": {
      "type": "structure",
      "members": {
        "workgroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Athena workgroup name of a connection.</p>",
            "smithy.api#length": {
              "max": 64
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Athena properties patch of a connection.</p>"
      }
    },
    "com.amazonaws.datazone#Attribute": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.datazone#AuthType": {
      "type": "enum",
      "members": {
        "IAM_IDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM_IDC"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.datazone#AuthenticationConfiguration": {
      "type": "structure",
      "members": {
        "authenticationType": {
          "target": "com.amazonaws.datazone#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type of a connection.</p>"
          }
        },
        "secretArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The secret ARN of a connection.</p>",
            "smithy.api#pattern": "^arn:aws(-(cn|us-gov|iso(-[bef])?))?:secretsmanager:.*$"
          }
        },
        "oAuth2Properties": {
          "target": "com.amazonaws.datazone#OAuth2Properties",
          "traits": {
            "smithy.api#documentation": "<p>The oAuth2 properties of a connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authentication configuration of a connection.</p>"
      }
    },
    "com.amazonaws.datazone#AuthenticationConfigurationInput": {
      "type": "structure",
      "members": {
        "authenticationType": {
          "target": "com.amazonaws.datazone#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type of a connection.</p>"
          }
        },
        "oAuth2Properties": {
          "target": "com.amazonaws.datazone#OAuth2Properties",
          "traits": {
            "smithy.api#documentation": "<p>The oAuth2 properties of a connection.</p>"
          }
        },
        "secretArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The secret ARN of a connection.</p>",
            "smithy.api#pattern": "^arn:aws(-(cn|us-gov|iso(-[bef])?))?:secretsmanager:.*$"
          }
        },
        "kmsKeyArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key ARN of a connection.</p>",
            "smithy.api#pattern": "^$|arn:aws[a-z0-9-]*:kms:.*$"
          }
        },
        "basicAuthenticationCredentials": {
          "target": "com.amazonaws.datazone#BasicAuthenticationCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The basic authentication credentials of a connection.</p>"
          }
        },
        "customAuthenticationCredentials": {
          "target": "com.amazonaws.datazone#CredentialMap",
          "traits": {
            "smithy.api#documentation": "<p>The custom authentication credentials of a connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authentication configuration of a connection.</p>"
      }
    },
    "com.amazonaws.datazone#AuthenticationConfigurationPatch": {
      "type": "structure",
      "members": {
        "secretArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The secret ARN of a connection.</p>",
            "smithy.api#pattern": "^arn:aws(-(cn|us-gov|iso(-[bef])?))?:secretsmanager:.*$"
          }
        },
        "basicAuthenticationCredentials": {
          "target": "com.amazonaws.datazone#BasicAuthenticationCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The basic authentication credentials of a connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authentication configuration patch of a connection. </p>"
      }
    },
    "com.amazonaws.datazone#AuthenticationType": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "OAUTH2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.amazonaws.datazone#AuthorizationCodeProperties": {
      "type": "structure",
      "members": {
        "authorizationCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The authorization code of a connection.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 4096
            }
          }
        },
        "redirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The redirect URI of a connection.</p>",
            "smithy.api#length": {
              "max": 512
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authorization code properties of a connection.</p>"
      }
    },
    "com.amazonaws.datazone#AuthorizedPrincipalIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9:/._-]*$"
      }
    },
    "com.amazonaws.datazone#AuthorizedPrincipalIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#AuthorizedPrincipalIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.datazone#AwsAccount": {
      "type": "union",
      "members": {
        "awsAccountId": {
          "target": "com.amazonaws.datazone#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of a project.</p>"
          }
        },
        "awsAccountIdPath": {
          "target": "com.amazonaws.datazone#ParameterStorePath",
          "traits": {
            "smithy.api#documentation": "<p>The account ID path of a project.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The account ID of a project.</p>"
      }
    },
    "com.amazonaws.datazone#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.datazone#AwsConsoleLinkParameters": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the console link specified as part of the environment action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters of the console link specified as part of the environment action.</p>"
      }
    },
    "com.amazonaws.datazone#AwsLocation": {
      "type": "structure",
      "members": {
        "accessRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The access role of a connection.</p>",
            "smithy.api#pattern": "^arn:aws[^:]*:iam::\\d{12}:(role|role/service-role)/[\\w+=,.@-]*$"
          }
        },
        "awsAccountId": {
          "target": "com.amazonaws.datazone#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of a connection.</p>"
          }
        },
        "awsRegion": {
          "target": "com.amazonaws.datazone#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Region of a connection.</p>"
          }
        },
        "iamConnectionId": {
          "target": "com.amazonaws.datazone#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The IAM connection ID of a connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The location of a project.</p>"
      }
    },
    "com.amazonaws.datazone#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-z]{2}-[a-z]{4,10}-\\d$"
      }
    },
    "com.amazonaws.datazone#BasicAuthenticationCredentials": {
      "type": "structure",
      "members": {
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name for the connecion.</p>",
            "smithy.api#length": {
              "max": 512
            },
            "smithy.api#pattern": "^\\S+$"
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The password for a connection.</p>",
            "smithy.api#length": {
              "max": 512
            },
            "smithy.api#pattern": "^.*$"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The basic authentication credentials of a connection.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.datazone#BusinessNameGenerationConfiguration": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the business name generation is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of the business name generation.</p>"
      }
    },
    "com.amazonaws.datazone#CancelMetadataGenerationRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CancelMetadataGenerationRunInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CancelMetadataGenerationRunOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the metadata generation run.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/metadata-generation-runs/{identifier}/cancel"
        }
      }
    },
    "com.amazonaws.datazone#CancelMetadataGenerationRunInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon DataZone domain in which the metadata generation run is to be\n         cancelled.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.datazone#MetadataGenerationRunIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the metadata generation run.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CancelMetadataGenerationRunOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#CancelSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CancelSubscriptionInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CancelSubscriptionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the subscription to the specified asset.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/v2/domains/{domainIdentifier}/subscriptions/{identifier}/cancel"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#CancelSubscriptionInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon DataZone domain where the subscription request is being\n         cancelled.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.datazone#SubscriptionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the subscription that is being cancelled.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CancelSubscriptionOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#SubscriptionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "com.amazonaws.datazone#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon DataZone user who is cancelling the subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedBy": {
          "target": "com.amazonaws.datazone#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user that cancelled the subscription.</p>"
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon DataZone domain where the subscription is being\n         cancelled.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.datazone#SubscriptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request to cancel the subscription.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.datazone#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that specifies when the request to cancel the subscription was\n         created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.datazone#UpdatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that specifies when the subscription was cancelled.</p>",
            "smithy.api#required": {}
          }
        },
        "subscribedPrincipal": {
          "target": "com.amazonaws.datazone#SubscribedPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DataZone user who is made a subscriber to the specified asset by the subscription\n         that is being cancelled.</p>",
            "smithy.api#required": {}
          }
        },
        "subscribedListing": {
          "target": "com.amazonaws.datazone#SubscribedListing",
          "traits": {
            "smithy.api#documentation": "<p>The asset to which a subscription is being cancelled.</p>",
            "smithy.api#required": {}
          }
        },
        "subscriptionRequestId": {
          "target": "com.amazonaws.datazone#SubscriptionRequestId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the subscripton request for the subscription that is being\n         cancelled.</p>"
          }
        },
        "retainPermissions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the permissions to the asset are retained after the subscription is\n         cancelled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.datazone#ChangeAction": {
      "type": "enum",
      "members": {
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISH"
          }
        },
        "UNPUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNPUBLISH"
          }
        }
      }
    },
    "com.amazonaws.datazone#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\x21-\\x7E]+$"
      }
    },
    "com.amazonaws.datazone#CloudFormationProperties": {
      "type": "structure",
      "members": {
        "templateUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The template URL of the cloud formation provisioning properties of the environment\n         blueprint.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Part of the provisioning properties of the environment blueprint.</p>"
      }
    },
    "com.amazonaws.datazone#ColumnFilterConfiguration": {
      "type": "structure",
      "members": {
        "includedColumnNames": {
          "target": "com.amazonaws.datazone#ColumnNameList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to include column names.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The column configuration of the asset filter.</p>"
      }
    },
    "com.amazonaws.datazone#ColumnNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.datazone#ComputeEnvironments": {
      "type": "enum",
      "members": {
        "SPARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPARK"
          }
        },
        "ATHENA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATHENA"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYTHON"
          }
        }
      }
    },
    "com.amazonaws.datazone#ComputeEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#ComputeEnvironments"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.datazone#ConfigurableActionParameter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The key of the configurable action parameter.</p>"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the configurable action parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the parameters for the configurable environment action.</p>"
      }
    },
    "com.amazonaws.datazone#ConfigurableActionParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#ConfigurableActionParameter"
      }
    },
    "com.amazonaws.datazone#ConfigurableActionTypeAuthorization": {
      "type": "enum",
      "members": {
        "IAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        }
      }
    },
    "com.amazonaws.datazone#ConfigurableEnvironmentAction": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of a configurable action in a Amazon DataZone environment.</p>",
            "smithy.api#required": {}
          }
        },
        "auth": {
          "target": "com.amazonaws.datazone#ConfigurableActionTypeAuthorization",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type of a configurable action of a Amazon DataZone environment. </p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.datazone#ConfigurableActionParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The parameters of a configurable action in a Amazon DataZone environment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configurable action of a Amazon DataZone environment.</p>"
      }
    },
    "com.amazonaws.datazone#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.datazone#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is a conflict while performing this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.datazone#ConnectionCredentials": {
      "type": "structure",
      "members": {
        "accessKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The access key ID of a connection.</p>"
          }
        },
        "secretAccessKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The secret access key of a connection.</p>"
          }
        },
        "sessionToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The session token of a connection credentials.</p>"
          }
        },
        "expiration": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The expiration of the connection credentials.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The credentials of a connection.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.datazone#ConnectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 128
        }
      }
    },
    "com.amazonaws.datazone#ConnectionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 64
        }
      }
    },
    "com.amazonaws.datazone#ConnectionProperties": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 2048
          }
        }
      }
    },
    "com.amazonaws.datazone#ConnectionPropertiesInput": {
      "type": "union",
      "members": {
        "athenaProperties": {
          "target": "com.amazonaws.datazone#AthenaPropertiesInput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Athena properties of a connection.</p>"
          }
        },
        "glueProperties": {
          "target": "com.amazonaws.datazone#GluePropertiesInput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Glue properties of a connection.</p>"
          }
        },
        "hyperPodProperties": {
          "target": "com.amazonaws.datazone#HyperPodPropertiesInput",
          "traits": {
            "smithy.api#documentation": "<p>The hyper pod properties of a connection.</p>"
          }
        },
        "iamProperties": {
          "target": "com.amazonaws.datazone#IamPropertiesInput",
          "traits": {
            "smithy.api#documentation": "<p>The IAM properties of a connection.</p>"
          }
        },
        "redshiftProperties": {
          "target": "com.amazonaws.datazone#RedshiftPropertiesInput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Redshift properties of a connection.</p>"
          }
        },
        "sparkEmrProperties": {
          "target": "com.amazonaws.datazone#SparkEmrPropertiesInput",
          "traits": {
            "smithy.api#documentation": "<p>The Spark EMR properties of a connection.</p>"
          }
        },
        "sparkGlueProperties": {
          "target": "com.amazonaws.datazone#SparkGluePropertiesInput",
          "traits": {
            "smithy.api#documentation": "<p>The Spark Amazon Web Services Glue properties of a connection.</p>"
          }
        },
        "s3Properties": {
          "target": "com.amazonaws.datazone#S3PropertiesInput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 properties of a connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties of a connection.</p>"
      }
    },
    "com.amazonaws.datazone#ConnectionPropertiesOutput": {
      "type": "union",
      "members": {
        "athenaProperties": {
          "target": "com.amazonaws.datazone#AthenaPropertiesOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Athena properties of a connection.</p>"
          }
        },
        "glueProperties": {
          "target": "com.amazonaws.datazone#GluePropertiesOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Glue properties of a connection.</p>"
          }
        },
        "hyperPodProperties": {
          "target": "com.amazonaws.datazone#HyperPodPropertiesOutput",
          "traits": {
            "smithy.api#documentation": "<p>The hyper pod properties of a connection.</p>"
          }
        },
        "iamProperties": {
          "target": "com.amazonaws.datazone#IamPropertiesOutput",
          "traits": {
            "smithy.api#documentation": "<p>The IAM properties of a connection.</p>"
          }
        },
        "redshiftProperties": {
          "target": "com.amazonaws.datazone#RedshiftPropertiesOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Redshift properties of a connection.</p>"
          }
        },
        "sparkEmrProperties": {
          "target": "com.amazonaws.datazone#SparkEmrPropertiesOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Spark EMR properties of a connection.</p>"
          }
        },
        "sparkGlueProperties": {
          "target": "com.amazonaws.datazone#SparkGluePropertiesOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Spark Amazon Web Services Glue properties of a connection.</p>"
          }
        },
        "s3Properties": {
          "target": "com.amazonaws.datazone#S3PropertiesOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 properties of a connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties of a connection.</p>"
      }
    },
    "com.amazonaws.datazone#ConnectionPropertiesPatch": {
      "type": "union",
      "members": {
        "athenaProperties": {
          "target": "com.amazonaws.datazone#AthenaPropertiesPatch",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Athena properties of a connection properties patch.</p>"
          }
        },
        "glueProperties": {
          "target": "com.amazonaws.datazone#GluePropertiesPatch",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Glue properties of a connection properties patch.</p>"
          }
        },
        "iamProperties": {
          "target": "com.amazonaws.datazone#IamPropertiesPatch",
          "traits": {
            "smithy.api#documentation": "<p>The IAM properties of a connection properties patch.</p>"
          }
        },
        "redshiftProperties": {
          "target": "com.amazonaws.datazone#RedshiftPropertiesPatch",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Redshift properties of a connection properties patch.</p>"
          }
        },
        "sparkEmrProperties": {
          "target": "com.amazonaws.datazone#SparkEmrPropertiesPatch",
          "traits": {
            "smithy.api#documentation": "<p>The Spark EMR properties of a connection properties patch.</p>"
          }
        },
        "s3Properties": {
          "target": "com.amazonaws.datazone#S3PropertiesPatch",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 properties of a connection properties patch.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The connection properties patch.</p>"
      }
    },
    "com.amazonaws.datazone#ConnectionStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.datazone#ConnectionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.datazone#ConnectionSummary"
      }
    },
    "com.amazonaws.datazone#ConnectionSummary": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.datazone#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a connection.</p>",
            "smithy.api#required": {}
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The domain ID of a connection.</p>",
            "smithy.api#required": {}
          }
        },
        "domainUnitId": {
          "target": "com.amazonaws.datazone#DomainUnitId",
          "traits": {
            "smithy.api#documentation": "<p>The domain unit ID of a connection.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "com.amazonaws.datazone#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID of a connection.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The connection name.</p>",
            "smithy.api#required": {}
          }
        },
        "physicalEndpoints": {
          "target": "com.amazonaws.datazone#PhysicalEndpoints",
          "traits": {
            "smithy.api#documentation": "<p>The connection physical endpoints.</p>",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "com.amazonaws.datazone#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The connection project ID.</p>"
          }
        },
        "props": {
          "target": "com.amazonaws.datazone#ConnectionPropertiesOutput",
          "traits": {
            "smithy.api#documentation": "<p>The connection props.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.datazone#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The connection type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of a connection.</p>"
      }
    },
    "com.amazonaws.datazone#ConnectionType": {
      "type": "enum",
      "members": {
        "ATHENA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATHENA"
          }
        },
        "BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIGQUERY"
          }
        },
        "DATABRICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABRICKS"
          }
        },
        "DOCUMENTDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENTDB"
          }
        },
        "DYNAMODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMODB"
          }
        },
        "HYPERPOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HYPERPOD"
          }
        },
        "IAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        },
        "OPENSEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPENSEARCH"
          }
        },
        "ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORACLE"
          }
        },
        "POSTGRESQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL"
          }
        },
        "REDSHIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDSHIFT"
          }
        },
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        },
        "SAPHANA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAPHANA"
          }
        },
        "SNOWFLAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNOWFLAKE"
          }
        },
        "SPARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPARK"
          }
        },
        "SQLSERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQLSERVER"
          }
        },
        "TERADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERADATA"
          }
        },
        "VERTICA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTICA"
          }
        },
        "WORKFLOWS_MWAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKFLOWS_MWAA"
          }
        }
      }
    },
    "com.amazonaws.datazone#CreateAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CreateAssetInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CreateAssetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an asset in Amazon DataZone catalog.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/assets"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#CreateAssetFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.datazone#CreateAssetFilterInput"
      },
      "output": {
        "target": "com.amazonaws.datazone#CreateAssetFilterOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.datazone#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.datazone#ConflictException"
        },
        {
          "target": "com.amazonaws.datazone#InternalServerException"
        },
        {
          "target": "com.amazonaws.datazone#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.datazone#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.datazone#ThrottlingException"
        },
        {
          "target": "com.amazonaws.datazone#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data asset filter.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/v2/domains/{domainIdentifier}/assets/{assetIdentifier}/filters"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.datazone#CreateAssetFilterInput": {
      "type": "structure",
      "members": {
        "domainIdentifier": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain in which you want to create an asset filter.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "assetIdentifier": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the data asset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset filter.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the asset filter.</p>"
          }
        },
        "configuration": {
          "target": "com.amazonaws.datazone#AssetFilterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the asset filter.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that is provided to ensure the idempotency of the\n         request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.datazone#CreateAssetFilterOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.datazone#FilterId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset filter.</p>",
            "smithy.api#required": {}
          }
        },
        "domainId": {
          "target": "com.amazonaws.datazone#DomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain where the asset filter is created.</p>",
            "smithy.api#required": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.datazone#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.datazone#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset filter.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.datazone#Description",
[...]
