{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.databrew#AWSGlueDataBrew": {
      "type": "service",
      "version": "2017-07-25",
      "operations": [
        {
          "target": "com.amazonaws.databrew#BatchDeleteRecipeVersion"
        },
        {
          "target": "com.amazonaws.databrew#CreateDataset"
        },
        {
          "target": "com.amazonaws.databrew#CreateProfileJob"
        },
        {
          "target": "com.amazonaws.databrew#CreateProject"
        },
        {
          "target": "com.amazonaws.databrew#CreateRecipe"
        },
        {
          "target": "com.amazonaws.databrew#CreateRecipeJob"
        },
        {
          "target": "com.amazonaws.databrew#CreateSchedule"
        },
        {
          "target": "com.amazonaws.databrew#DeleteDataset"
        },
        {
          "target": "com.amazonaws.databrew#DeleteJob"
        },
        {
          "target": "com.amazonaws.databrew#DeleteProject"
        },
        {
          "target": "com.amazonaws.databrew#DeleteRecipeVersion"
        },
        {
          "target": "com.amazonaws.databrew#DeleteSchedule"
        },
        {
          "target": "com.amazonaws.databrew#DescribeDataset"
        },
        {
          "target": "com.amazonaws.databrew#DescribeJob"
        },
        {
          "target": "com.amazonaws.databrew#DescribeJobRun"
        },
        {
          "target": "com.amazonaws.databrew#DescribeProject"
        },
        {
          "target": "com.amazonaws.databrew#DescribeRecipe"
        },
        {
          "target": "com.amazonaws.databrew#DescribeSchedule"
        },
        {
          "target": "com.amazonaws.databrew#ListDatasets"
        },
        {
          "target": "com.amazonaws.databrew#ListJobRuns"
        },
        {
          "target": "com.amazonaws.databrew#ListJobs"
        },
        {
          "target": "com.amazonaws.databrew#ListProjects"
        },
        {
          "target": "com.amazonaws.databrew#ListRecipes"
        },
        {
          "target": "com.amazonaws.databrew#ListRecipeVersions"
        },
        {
          "target": "com.amazonaws.databrew#ListSchedules"
        },
        {
          "target": "com.amazonaws.databrew#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.databrew#PublishRecipe"
        },
        {
          "target": "com.amazonaws.databrew#SendProjectSessionAction"
        },
        {
          "target": "com.amazonaws.databrew#StartJobRun"
        },
        {
          "target": "com.amazonaws.databrew#StartProjectSession"
        },
        {
          "target": "com.amazonaws.databrew#StopJobRun"
        },
        {
          "target": "com.amazonaws.databrew#TagResource"
        },
        {
          "target": "com.amazonaws.databrew#UntagResource"
        },
        {
          "target": "com.amazonaws.databrew#UpdateDataset"
        },
        {
          "target": "com.amazonaws.databrew#UpdateProfileJob"
        },
        {
          "target": "com.amazonaws.databrew#UpdateProject"
        },
        {
          "target": "com.amazonaws.databrew#UpdateRecipe"
        },
        {
          "target": "com.amazonaws.databrew#UpdateRecipeJob"
        },
        {
          "target": "com.amazonaws.databrew#UpdateSchedule"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DataBrew",
          "arnNamespace": "databrew",
          "cloudFormationName": "DataBrew",
          "cloudTrailEventSource": "databrew.amazonaws.com",
          "endpointPrefix": "databrew"
        },
        "aws.auth#sigv4": {
          "name": "databrew"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Glue DataBrew is a visual, cloud-scale data-preparation service. DataBrew\n            simplifies data preparation tasks, targeting data issues that are hard to spot and\n            time-consuming to fix. DataBrew empowers users of all technical levels to visualize the\n            data and perform one-click data transformations, with no coding required.</p>",
        "smithy.api#title": "AWS Glue DataBrew"
      }
    },
    "com.amazonaws.databrew#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.databrew#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to the specified resource was denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.databrew#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.databrew#ActionId": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.databrew#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.databrew#AssumeControl": {
      "type": "boolean"
    },
    "com.amazonaws.databrew#Attempt": {
      "type": "integer"
    },
    "com.amazonaws.databrew#BatchDeleteRecipeVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#BatchDeleteRecipeVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#BatchDeleteRecipeVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes one or more versions of a recipe at a time.</p>\n\n        <p>The entire request will be rejected if:</p>\n        <ul>\n            <li>\n                <p>The recipe does not exist.</p>\n            </li>\n            <li>\n                <p>There is an invalid version identifier in the list of versions.</p>\n            </li>\n            <li>\n                <p>The version list is empty.</p>\n            </li>\n            <li>\n                <p>The version list size exceeds 50.</p>\n            </li>\n            <li>\n                <p>The version list contains duplicate entries.</p>\n            </li>\n         </ul>\n\n        <p>The request will complete successfully, but with partial failures, if:</p>\n        <ul>\n            <li>\n                <p>A version does not exist.</p>\n            </li>\n            <li>\n                <p>A version is being used by a job.</p>\n            </li>\n            <li>\n                <p>You specify <code>LATEST_WORKING</code>, but it's being used by a\n                    project.</p>\n            </li>\n            <li>\n                <p>The version fails to be deleted.</p>\n            </li>\n         </ul>\n        <p>The <code>LATEST_WORKING</code> version will only be deleted if the recipe has no\n            other versions. If you try to delete <code>LATEST_WORKING</code> while other versions\n            exist (or if they can't be deleted), then <code>LATEST_WORKING</code> will be listed as\n            partial failure in the response.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/recipes/{Name}/batchDeleteRecipeVersion",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#BatchDeleteRecipeVersionRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#RecipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recipe whose versions are to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RecipeVersions": {
          "target": "com.amazonaws.databrew#RecipeVersionList",
          "traits": {
            "smithy.api#documentation": "<p>An array of version identifiers, for the recipe versions to be deleted. You can\n            specify numeric versions (<code>X.Y</code>) or <code>LATEST_WORKING</code>.\n                <code>LATEST_PUBLISHED</code> is not supported.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#BatchDeleteRecipeVersionResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#RecipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recipe that was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Errors": {
          "target": "com.amazonaws.databrew#RecipeErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Errors, if any, that occurred while attempting to delete the recipe versions.</p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#Bucket": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        }
      }
    },
    "com.amazonaws.databrew#CatalogId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.databrew#ClientSessionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]*$"
      }
    },
    "com.amazonaws.databrew#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.databrew#ColumnNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databrew#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.databrew#ColumnRange": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.databrew#ColumnSelector": {
      "type": "structure",
      "members": {
        "Regex": {
          "target": "com.amazonaws.databrew#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>A regular expression for selecting a column from a dataset.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a column from a dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Selector of a column from a dataset for profile job configuration. One selector includes either a column name or a regular \n            expression.</p>"
      }
    },
    "com.amazonaws.databrew#ColumnSelectorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databrew#ColumnSelector"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.databrew#ColumnStatisticsConfiguration": {
      "type": "structure",
      "members": {
        "Selectors": {
          "target": "com.amazonaws.databrew#ColumnSelectorList",
          "traits": {
            "smithy.api#documentation": "<p>List of column selectors. Selectors can be used to select columns from the dataset. \n            When selectors are undefined, configuration will be applied to all supported columns.\n        </p>"
          }
        },
        "Statistics": {
          "target": "com.amazonaws.databrew#StatisticsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for evaluations. Statistics can be used to select evaluations and override \n            parameters of evaluations. \n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for column evaluations for a profile job. ColumnStatisticsConfiguration can be used to select \n            evaluations and override parameters of evaluations for particular columns. \n        </p>"
      }
    },
    "com.amazonaws.databrew#ColumnStatisticsConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databrew#ColumnStatisticsConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.databrew#CompressionFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GZIP",
            "name": "GZIP"
          },
          {
            "value": "LZ4",
            "name": "LZ4"
          },
          {
            "value": "SNAPPY",
            "name": "SNAPPY"
          },
          {
            "value": "BZIP2",
            "name": "BZIP2"
          },
          {
            "value": "DEFLATE",
            "name": "DEFLATE"
          },
          {
            "value": "LZO",
            "name": "LZO"
          },
          {
            "value": "BROTLI",
            "name": "BROTLI"
          },
          {
            "value": "ZSTD",
            "name": "ZSTD"
          },
          {
            "value": "ZLIB",
            "name": "ZLIB"
          }
        ]
      }
    },
    "com.amazonaws.databrew#Condition": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Z\\_]+$"
      }
    },
    "com.amazonaws.databrew#ConditionExpression": {
      "type": "structure",
      "members": {
        "Condition": {
          "target": "com.amazonaws.databrew#Condition",
          "traits": {
            "smithy.api#documentation": "<p>A specific condition to apply to a recipe action. For more information, see <a href=\"https://docs.aws.amazon.com/databrew/latest/dg/recipes.html#recipes.structure\">Recipe\n            structure</a> in the <i>Glue DataBrew Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.databrew#ConditionValue",
          "traits": {
            "smithy.api#documentation": "<p>A value that the condition must evaluate to for the condition to succeed.</p>"
          }
        },
        "TargetColumn": {
          "target": "com.amazonaws.databrew#TargetColumn",
          "traits": {
            "smithy.api#documentation": "<p>A column to apply this condition to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an individual condition that evaluates to true or false.</p>\n        <p>Conditions are used with recipe actions. The action is only performed for column values where the \n            condition evaluates to true.</p>\n        <p>If a recipe requires more than one condition, then the recipe must specify multiple \n            <code>ConditionExpression</code> elements. Each condition is applied to the rows in a dataset first, before \n            the recipe action is performed.</p>"
      }
    },
    "com.amazonaws.databrew#ConditionExpressionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databrew#ConditionExpression"
      }
    },
    "com.amazonaws.databrew#ConditionValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.databrew#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.databrew#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.databrew#CreateColumn": {
      "type": "boolean"
    },
    "com.amazonaws.databrew#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DataBrew dataset.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/datasets",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset to be created. Valid characters are alphanumeric (A-Z, a-z,\n            0-9), hyphen (-), period (.), and space.</p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.databrew#InputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The file format of a dataset that is created from an Amazon S3 file or folder.</p>"
          }
        },
        "FormatOptions": {
          "target": "com.amazonaws.databrew#FormatOptions"
        },
        "Input": {
          "target": "com.amazonaws.databrew#Input",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "PathOptions": {
          "target": "com.amazonaws.databrew#PathOptions",
          "traits": {
            "smithy.api#documentation": "<p>A set of options that defines how DataBrew interprets an Amazon S3 path of the dataset.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags to apply to this dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset that you created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateProfileJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#CreateProfileJobRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#CreateProfileJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new job to analyze a dataset and create its data profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/profileJobs",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#CreateProfileJobRequest": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset that this job is to act upon.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.databrew#EncryptionKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an encryption key that is used to protect the\n            job.</p>"
          }
        },
        "EncryptionMode": {
          "target": "com.amazonaws.databrew#EncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The encryption mode for the job, which can be one of the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>SSE-KMS</code> - <code>SSE-KMS</code> - Server-side encryption with \n                    KMS-managed keys.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon S3.</p>\n            </li>\n         </ul>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job to be created. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
            "smithy.api#required": {}
          }
        },
        "LogSubscription": {
          "target": "com.amazonaws.databrew#LogSubscription",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables Amazon CloudWatch logging for the job. If logging is enabled,\n            CloudWatch writes one log stream for each job run.</p>"
          }
        },
        "MaxCapacity": {
          "target": "com.amazonaws.databrew#MaxCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of nodes that DataBrew can use when the job processes data.</p>"
          }
        },
        "MaxRetries": {
          "target": "com.amazonaws.databrew#MaxRetries",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of times to retry the job after a job run fails.</p>"
          }
        },
        "OutputLocation": {
          "target": "com.amazonaws.databrew#S3Location",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.databrew#ProfileConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for profile jobs. Used to select columns, do evaluations, \n            and override default parameters of evaluations. When configuration is null, the\n            profile job will run with default settings.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role to\n            be assumed when DataBrew runs the job.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags to apply to this job.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.databrew#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The job's timeout in minutes. A job that attempts to run longer than this timeout\n            period ends with a status of <code>TIMEOUT</code>.</p>"
          }
        },
        "JobSample": {
          "target": "com.amazonaws.databrew#JobSample",
          "traits": {
            "smithy.api#documentation": "<p>Sample configuration for profile jobs only. Determines the number of rows on which the\n            profile job will be executed. If a JobSample value is not provided, the default value\n            will be used. The default value is CUSTOM_ROWS for the mode parameter and 20000 for the\n            size parameter.</p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateProfileJobResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job that was created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#CreateProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#InternalServerException"
        },
        {
          "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DataBrew project.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing dataset to associate this project with.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the new project. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
            "smithy.api#required": {}
          }
        },
        "RecipeName": {
          "target": "com.amazonaws.databrew#RecipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing recipe to associate with the project.</p>",
            "smithy.api#required": {}
          }
        },
        "Sample": {
          "target": "com.amazonaws.databrew#Sample"
        },
        "RoleArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role to\n            be assumed for this request.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags to apply to this project.</p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateProjectResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that you created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateRecipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#CreateRecipeRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#CreateRecipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DataBrew recipe.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/recipes",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#CreateRecipeJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#CreateRecipeJobRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#CreateRecipeJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new job to transform input data, using steps defined in an existing Glue DataBrew recipe</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/recipeJobs",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#CreateRecipeJobRequest": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset that this job processes.</p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.databrew#EncryptionKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an encryption key that is used to protect the\n            job.</p>"
          }
        },
        "EncryptionMode": {
          "target": "com.amazonaws.databrew#EncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The encryption mode for the job, which can be one of the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>SSE-KMS</code> - Server-side encryption with keys managed by KMS.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon S3.</p>\n            </li>\n         </ul>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#JobName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the job. Valid characters are alphanumeric (A-Z, a-z, 0-9), hyphen\n            (-), period (.), and space.</p>",
            "smithy.api#required": {}
          }
        },
        "LogSubscription": {
          "target": "com.amazonaws.databrew#LogSubscription",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables Amazon CloudWatch logging for the job. If logging is enabled,\n            CloudWatch writes one log stream for each job run.</p>"
          }
        },
        "MaxCapacity": {
          "target": "com.amazonaws.databrew#MaxCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of nodes that DataBrew can consume when the job processes\n            data.</p>"
          }
        },
        "MaxRetries": {
          "target": "com.amazonaws.databrew#MaxRetries",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of times to retry the job after a job run fails.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.databrew#OutputList",
          "traits": {
            "smithy.api#documentation": "<p>One or more artifacts that represent the output from running the job.</p>"
          }
        },
        "DataCatalogOutputs": {
          "target": "com.amazonaws.databrew#DataCatalogOutputList",
          "traits": {
            "smithy.api#documentation": "<p>One or more artifacts that represent the Glue Data Catalog output from running the job.</p>"
          }
        },
        "DatabaseOutputs": {
          "target": "com.amazonaws.databrew#DatabaseOutputList",
          "traits": {
            "smithy.api#documentation": "<p>Represents a list of JDBC database output objects which defines the output destination for \n            a DataBrew recipe job to write to. </p>"
          }
        },
        "ProjectName": {
          "target": "com.amazonaws.databrew#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>Either the name of an existing project, or a combination of a recipe and a dataset to\n            associate with the recipe.</p>"
          }
        },
        "RecipeReference": {
          "target": "com.amazonaws.databrew#RecipeReference"
        },
        "RoleArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role to\n            be assumed when DataBrew runs the job.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags to apply to this job.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.databrew#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The job's timeout in minutes. A job that attempts to run longer than this timeout\n            period ends with a status of <code>TIMEOUT</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateRecipeJobResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job that you created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateRecipeRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.databrew#RecipeDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the recipe.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#RecipeName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the recipe. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
            "smithy.api#required": {}
          }
        },
        "Steps": {
          "target": "com.amazonaws.databrew#RecipeStepList",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the steps to be performed by the recipe. Each recipe step consists\n            of one recipe action and (optionally) an array of condition expressions.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags to apply to this recipe.</p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateRecipeResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#RecipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recipe that you created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#CreateScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#CreateScheduleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new schedule for one or more DataBrew jobs. Jobs can be run at a specific\n            date and time, or at regular intervals.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/schedules",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#CreateScheduleRequest": {
      "type": "structure",
      "members": {
        "JobNames": {
          "target": "com.amazonaws.databrew#JobNameList",
          "traits": {
            "smithy.api#documentation": "<p>The name or names of one or more jobs to be run.</p>"
          }
        },
        "CronExpression": {
          "target": "com.amazonaws.databrew#CronExpression",
          "traits": {
            "smithy.api#documentation": "<p>The date or dates and time or times when the jobs are to be run. For more information,\n            see <a href=\"https://docs.aws.amazon.com/databrew/latest/dg/jobs.cron.html\">Cron\n                expressions</a> in the <i>Glue DataBrew Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags to apply to this schedule.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#ScheduleName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the schedule. Valid characters are alphanumeric (A-Z, a-z, 0-9),\n            hyphen (-), period (.), and space.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#CreateScheduleResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#ScheduleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schedule that was created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#CreatedBy": {
      "type": "string"
    },
    "com.amazonaws.databrew#CronExpression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.databrew#CsvOptions": {
      "type": "structure",
      "members": {
        "Delimiter": {
          "target": "com.amazonaws.databrew#Delimiter",
          "traits": {
            "smithy.api#documentation": "<p>A single character that specifies the delimiter being used in the CSV file.</p>"
          }
        },
        "HeaderRow": {
          "target": "com.amazonaws.databrew#HeaderRow",
          "traits": {
            "smithy.api#documentation": "<p>A variable that specifies whether the first row in the file is parsed as the\n            header. If this value is false, column names are auto-generated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a set of options that define how DataBrew will read a \n            comma-separated value (CSV) file when creating a dataset from that file.</p>"
      }
    },
    "com.amazonaws.databrew#CsvOutputOptions": {
      "type": "structure",
      "members": {
        "Delimiter": {
          "target": "com.amazonaws.databrew#Delimiter",
          "traits": {
            "smithy.api#documentation": "<p>A single character that specifies the delimiter used to create CSV job output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a set of options that define how DataBrew will write a \n            comma-separated value (CSV) file.</p>"
      }
    },
    "com.amazonaws.databrew#DataCatalogInputDefinition": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.databrew#CatalogId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Web Services account that holds the Data Catalog that stores the\n            data.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.databrew#DatabaseName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a database in the Data Catalog.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.databrew#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a database table in the Data Catalog. This table corresponds to a DataBrew\n            dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "TempDirectory": {
          "target": "com.amazonaws.databrew#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Represents an Amazon location where DataBrew can store intermediate results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents how metadata stored in the Glue Data Catalog is defined in a DataBrew\n            dataset. </p>"
      }
    },
    "com.amazonaws.databrew#DataCatalogOutput": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.databrew#CatalogId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Web Services account that holds the Data Catalog that stores the data.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.databrew#DatabaseName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a database in the Data Catalog.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.databrew#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a table in the Data Catalog.</p>",
            "smithy.api#required": {}
          }
        },
        "S3Options": {
          "target": "com.amazonaws.databrew#S3TableOutputOptions",
          "traits": {
            "smithy.api#documentation": "<p>Represents options that specify how and where DataBrew writes the Amazon S3 output generated \n            by recipe jobs.</p>"
          }
        },
        "DatabaseOptions": {
          "target": "com.amazonaws.databrew#DatabaseTableOutputOptions",
          "traits": {
            "smithy.api#documentation": "<p>Represents options that specify how and where DataBrew writes the database output \n            generated by recipe jobs.</p>"
          }
        },
        "Overwrite": {
          "target": "com.amazonaws.databrew#OverwriteOutput",
          "traits": {
            "smithy.api#documentation": "<p>A value that, if true, means that any data in the location specified for output \n            is overwritten with new output. Not supported with DatabaseOptions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents options that specify how and where in the Glue Data Catalog DataBrew \n            writes the output generated by recipe jobs.</p>"
      }
    },
    "com.amazonaws.databrew#DataCatalogOutputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databrew#DataCatalogOutput"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.databrew#DatabaseInputDefinition": {
      "type": "structure",
      "members": {
        "GlueConnectionName": {
          "target": "com.amazonaws.databrew#GlueConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The Glue Connection that stores the connection information for the target\n            database.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseTableName": {
          "target": "com.amazonaws.databrew#DatabaseTableName",
          "traits": {
            "smithy.api#documentation": "<p>The table within the target database.</p>",
            "smithy.api#required": {}
          }
        },
        "TempDirectory": {
          "target": "com.amazonaws.databrew#S3Location"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Connection information for dataset input files stored in a database.</p>"
      }
    },
    "com.amazonaws.databrew#DatabaseName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.databrew#DatabaseOutput": {
      "type": "structure",
      "members": {
        "GlueConnectionName": {
          "target": "com.amazonaws.databrew#GlueConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The Glue connection that stores the connection information for the \n            target database.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseOptions": {
          "target": "com.amazonaws.databrew#DatabaseTableOutputOptions",
          "traits": {
            "smithy.api#documentation": "<p>Represents options that specify how and where DataBrew writes the database output \n            generated by recipe jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseOutputMode": {
          "target": "com.amazonaws.databrew#DatabaseOutputMode",
          "traits": {
            "smithy.api#documentation": "<p>The output mode to write into the database. Currently supported option: NEW_TABLE.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a JDBC database output object which defines the output destination for \n            a DataBrew recipe job to write into.</p>"
      }
    },
    "com.amazonaws.databrew#DatabaseOutputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databrew#DatabaseOutput"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.databrew#DatabaseOutputMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NEW_TABLE",
            "name": "NEW_TABLE"
          }
        ]
      }
    },
    "com.amazonaws.databrew#DatabaseTableName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.databrew#DatabaseTableOutputOptions": {
      "type": "structure",
      "members": {
        "TempDirectory": {
          "target": "com.amazonaws.databrew#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Represents an Amazon S3 location (bucket name and object key) where DataBrew can store \n            intermediate results.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.databrew#DatabaseTableName",
          "traits": {
            "smithy.api#documentation": "<p>A prefix for the name of a table DataBrew will create in the database.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents options that specify how and where DataBrew writes the database output generated by recipe \n            jobs.</p>"
      }
    },
    "com.amazonaws.databrew#Dataset": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.databrew#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that owns the dataset.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.databrew#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user who created the dataset.</p>"
          }
        },
        "CreateDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the dataset was created.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.databrew#InputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The file format of a dataset that is created from an Amazon S3 file or folder.</p>"
          }
        },
        "FormatOptions": {
          "target": "com.amazonaws.databrew#FormatOptions",
          "traits": {
            "smithy.api#documentation": "<p>A set of options that define how DataBrew interprets the data in the dataset.</p>"
          }
        },
        "Input": {
          "target": "com.amazonaws.databrew#Input",
          "traits": {
            "smithy.api#documentation": "<p>Information on how DataBrew can find the dataset, in either the Glue Data Catalog\n            or Amazon S3.</p>",
            "smithy.api#required": {}
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The last modification date and time of the dataset.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.databrew#LastModifiedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user who last modified the dataset.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.databrew#Source",
          "traits": {
            "smithy.api#documentation": "<p>The location of the data for the dataset, either Amazon S3 or the Glue Data Catalog.</p>"
          }
        },
        "PathOptions": {
          "target": "com.amazonaws.databrew#PathOptions",
          "traits": {
            "smithy.api#documentation": "<p>A set of options that defines how DataBrew interprets an Amazon S3 path of the dataset.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags that have been applied to the dataset.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) for the dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a dataset that can be processed by DataBrew.</p>"
      }
    },
    "com.amazonaws.databrew#DatasetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.databrew#Dataset"
      }
    },
    "com.amazonaws.databrew#DatasetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.databrew#DatasetParameter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#PathParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter that is used in the dataset's Amazon S3 path.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.databrew#ParameterType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the dataset parameter, can be one of a 'String', 'Number' or 'Datetime'.</p>",
            "smithy.api#required": {}
          }
        },
        "DatetimeOptions": {
          "target": "com.amazonaws.databrew#DatetimeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Additional parameter options such as a format and a timezone. Required for datetime parameters.</p>"
          }
        },
        "CreateColumn": {
          "target": "com.amazonaws.databrew#CreateColumn",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean value that defines whether the captured value of this parameter \n            should be used to create a new column in a dataset.</p>"
          }
        },
        "Filter": {
          "target": "com.amazonaws.databrew#FilterExpression",
          "traits": {
            "smithy.api#documentation": "<p>The optional filter expression structure to apply additional matching criteria to the parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a dataset paramater that defines type and conditions for a parameter in the Amazon S3 \n            path of the dataset.</p>"
      }
    },
    "com.amazonaws.databrew#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.databrew#DatetimeFormat": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 100
        }
      }
    },
    "com.amazonaws.databrew#DatetimeOptions": {
      "type": "structure",
      "members": {
        "Format": {
          "target": "com.amazonaws.databrew#DatetimeFormat",
          "traits": {
            "smithy.api#documentation": "<p>Required option, that defines the datetime format used for a date parameter in the \n            Amazon S3 path. Should use only supported datetime specifiers and separation characters, all \n            literal a-z or A-Z characters should be escaped with single quotes. E.g. \"MM.dd.yyyy-'at'-HH:mm\".</p>",
            "smithy.api#required": {}
          }
        },
        "TimezoneOffset": {
          "target": "com.amazonaws.databrew#TimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Optional value for a timezone offset of the datetime parameter value in the Amazon S3 \n            path. Shouldn't be used if Format for this parameter includes timezone fields.\n            If no offset specified, UTC is assumed.</p>"
          }
        },
        "LocaleCode": {
          "target": "com.amazonaws.databrew#LocaleCode",
          "traits": {
            "smithy.api#documentation": "<p>Optional value for a non-US locale code, needed for correct interpretation of some date formats.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents additional options for correct interpretation of datetime parameters used in \n            the Amazon S3 path of a dataset.</p>"
      }
    },
    "com.amazonaws.databrew#DeleteDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DeleteDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DeleteDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a dataset from DataBrew.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/datasets/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DeleteDatasetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DeleteDatasetResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset that you deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DeleteJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DeleteJobRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DeleteJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified DataBrew job.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/jobs/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DeleteJobRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DeleteJobResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job that you deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DeleteProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing DataBrew project.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DeleteProjectResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that you deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DeleteRecipeVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DeleteRecipeVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DeleteRecipeVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ConflictException"
        },
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a single version of a DataBrew recipe.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/recipes/{Name}/recipeVersion/{RecipeVersion}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DeleteRecipeVersionRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#RecipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recipe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RecipeVersion": {
          "target": "com.amazonaws.databrew#RecipeVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the recipe to be deleted. You can specify a numeric versions\n                (<code>X.Y</code>) or <code>LATEST_WORKING</code>. <code>LATEST_PUBLISHED</code> is\n            not supported.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DeleteRecipeVersionResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#RecipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recipe that was deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "RecipeVersion": {
          "target": "com.amazonaws.databrew#RecipeVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the recipe that was deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DeleteSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DeleteScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DeleteScheduleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified DataBrew schedule.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/schedules/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DeleteScheduleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#ScheduleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schedule to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DeleteScheduleResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#ScheduleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schedule that was deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#Delimiter": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.databrew#DescribeDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DescribeDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DescribeDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the definition of a specific DataBrew dataset.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/datasets/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DescribeDatasetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset to be described.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeDatasetResponse": {
      "type": "structure",
      "members": {
        "CreatedBy": {
          "target": "com.amazonaws.databrew#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user who created the dataset.</p>"
          }
        },
        "CreateDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the dataset was created.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.databrew#InputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The file format of a dataset that is created from an Amazon S3 file or folder.</p>"
          }
        },
        "FormatOptions": {
          "target": "com.amazonaws.databrew#FormatOptions"
        },
        "Input": {
          "target": "com.amazonaws.databrew#Input",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the dataset was last modified.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.databrew#LastModifiedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user who last modified the dataset.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.databrew#Source",
          "traits": {
            "smithy.api#documentation": "<p>The location of the data for this dataset, Amazon S3 or the Glue Data Catalog.</p>"
          }
        },
        "PathOptions": {
          "target": "com.amazonaws.databrew#PathOptions",
          "traits": {
            "smithy.api#documentation": "<p>A set of options that defines how DataBrew interprets an Amazon S3 path of the dataset.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags associated with this dataset.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DescribeJobRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DescribeJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the definition of a specific DataBrew job.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/jobs/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DescribeJobRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job to be described.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeJobResponse": {
      "type": "structure",
      "members": {
        "CreateDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the job was created.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.databrew#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user associated with the creation of the job.</p>"
          }
        },
        "DatasetName": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The dataset that the job acts upon.</p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.databrew#EncryptionKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an encryption key that is used to protect the\n            job.</p>"
          }
        },
        "EncryptionMode": {
          "target": "com.amazonaws.databrew#EncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The encryption mode for the job, which can be one of the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>SSE-KMS</code> - Server-side encryption with keys managed by KMS.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SSE-S3</code> - Server-side encryption with keys managed by Amazon\n                    S3.</p>\n            </li>\n         </ul>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.databrew#JobType",
          "traits": {
            "smithy.api#documentation": "<p>The job type, which must be one of the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>PROFILE</code> - The job analyzes the dataset to determine its size,\n                    data types, data distribution, and more.</p>\n            </li>\n            <li>\n                <p>\n                  <code>RECIPE</code> - The job applies one or more transformations to a\n                    dataset.</p>\n            </li>\n         </ul>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.databrew#LastModifiedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user who last modified the job.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the job was last modified.</p>"
          }
        },
        "LogSubscription": {
          "target": "com.amazonaws.databrew#LogSubscription",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether Amazon CloudWatch logging is enabled for this job.</p>"
          }
        },
        "MaxCapacity": {
          "target": "com.amazonaws.databrew#MaxCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of compute nodes that DataBrew can consume when the job processes\n            data.</p>"
          }
        },
        "MaxRetries": {
          "target": "com.amazonaws.databrew#MaxRetries",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of times to retry the job after a job run fails.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.databrew#OutputList",
          "traits": {
            "smithy.api#documentation": "<p>One or more artifacts that represent the output from running the job.</p>"
          }
        },
        "DataCatalogOutputs": {
          "target": "com.amazonaws.databrew#DataCatalogOutputList",
          "traits": {
            "smithy.api#documentation": "<p>One or more artifacts that represent the Glue Data Catalog output from running the job.</p>"
          }
        },
        "DatabaseOutputs": {
          "target": "com.amazonaws.databrew#DatabaseOutputList",
          "traits": {
            "smithy.api#documentation": "<p>Represents a list of JDBC database output objects which defines the output \n            destination for a DataBrew recipe job to write into.</p>"
          }
        },
        "ProjectName": {
          "target": "com.amazonaws.databrew#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The DataBrew project associated with this job.</p>"
          }
        },
        "ProfileConfiguration": {
          "target": "com.amazonaws.databrew#ProfileConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for profile jobs. Used to select columns, do evaluations, \n            and override default parameters of evaluations. When configuration is null, the\n            profile job will run with default settings.</p>"
          }
        },
        "RecipeReference": {
          "target": "com.amazonaws.databrew#RecipeReference"
        },
        "ResourceArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the job.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Identity and Access Management (IAM) role to be assumed when\n            DataBrew runs the job.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags associated with this job.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.databrew#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The job's timeout in minutes. A job that attempts to run longer than this timeout\n            period ends with a status of <code>TIMEOUT</code>.</p>"
          }
        },
        "JobSample": {
          "target": "com.amazonaws.databrew#JobSample",
          "traits": {
            "smithy.api#documentation": "<p>Sample configuration for profile jobs only. Determines the number of rows on which the\n            profile job will be executed.</p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeJobRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DescribeJobRunRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DescribeJobRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Represents one run of a DataBrew job.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/jobs/{Name}/jobRun/{RunId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DescribeJobRunRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job being processed during this run.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RunId": {
          "target": "com.amazonaws.databrew#JobRunId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the job run.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeJobRunResponse": {
      "type": "structure",
      "members": {
        "Attempt": {
          "target": "com.amazonaws.databrew#Attempt",
          "traits": {
            "smithy.api#documentation": "<p>The number of times that DataBrew has attempted to run the job.</p>"
          }
        },
        "CompletedOn": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the job completed processing.</p>"
          }
        },
        "DatasetName": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset for the job to process.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.databrew#JobRunErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message indicating an error (if any) that was encountered when the job ran.</p>"
          }
        },
        "ExecutionTime": {
          "target": "com.amazonaws.databrew#ExecutionTime",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, during which the job run consumed resources.</p>"
          }
        },
        "JobName": {
          "target": "com.amazonaws.databrew#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job being processed during this run.</p>",
            "smithy.api#required": {}
          }
        },
        "ProfileConfiguration": {
          "target": "com.amazonaws.databrew#ProfileConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for profile jobs. Used to select columns, do evaluations, \n            and override default parameters of evaluations. When configuration is null, the\n            profile job will run with default settings.</p>"
          }
        },
        "RunId": {
          "target": "com.amazonaws.databrew#JobRunId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the job run.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.databrew#JobRunState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the job run entity itself.</p>"
          }
        },
        "LogSubscription": {
          "target": "com.amazonaws.databrew#LogSubscription",
          "traits": {
            "smithy.api#documentation": "<p>The current status of Amazon CloudWatch logging for the job run.</p>"
          }
        },
        "LogGroupName": {
          "target": "com.amazonaws.databrew#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Amazon CloudWatch log group, where the job writes diagnostic messages\n            when it runs.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.databrew#OutputList",
          "traits": {
            "smithy.api#documentation": "<p>One or more output artifacts from a job run.</p>"
          }
        },
        "DataCatalogOutputs": {
          "target": "com.amazonaws.databrew#DataCatalogOutputList",
          "traits": {
            "smithy.api#documentation": "<p>One or more artifacts that represent the Glue Data Catalog output from running the job.</p>"
          }
        },
        "DatabaseOutputs": {
          "target": "com.amazonaws.databrew#DatabaseOutputList",
          "traits": {
            "smithy.api#documentation": "<p>Represents a list of JDBC database output objects which defines the output \n            destination for a DataBrew recipe job to write into.</p>"
          }
        },
        "RecipeReference": {
          "target": "com.amazonaws.databrew#RecipeReference"
        },
        "StartedBy": {
          "target": "com.amazonaws.databrew#StartedBy",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user who started the job run.</p>"
          }
        },
        "StartedOn": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the job run began.</p>"
          }
        },
        "JobSample": {
          "target": "com.amazonaws.databrew#JobSample",
          "traits": {
            "smithy.api#documentation": "<p>Sample configuration for profile jobs only. Determines the number of rows on which the\n            profile job will be executed. If a JobSample value is not provided, the default value\n            will be used. The default value is CUSTOM_ROWS for the mode parameter and 20000 for the\n            size parameter.</p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DescribeProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DescribeProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the definition of a specific DataBrew project.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DescribeProjectRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project to be described.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeProjectResponse": {
      "type": "structure",
      "members": {
        "CreateDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the project was created.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.databrew#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user who created the project.</p>"
          }
        },
        "DatasetName": {
          "target": "com.amazonaws.databrew#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The dataset associated with the project.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the project was last modified.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.databrew#LastModifiedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user who last modified the project.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project.</p>",
            "smithy.api#required": {}
          }
        },
        "RecipeName": {
          "target": "com.amazonaws.databrew#RecipeName",
          "traits": {
            "smithy.api#documentation": "<p>The recipe associated with this job.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the project.</p>"
          }
        },
        "Sample": {
          "target": "com.amazonaws.databrew#Sample"
        },
        "RoleArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Identity and Access Management (IAM) role to be assumed when\n            DataBrew runs the job.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags associated with this project.</p>"
          }
        },
        "SessionStatus": {
          "target": "com.amazonaws.databrew#SessionStatus",
          "traits": {
            "smithy.api#documentation": "<p>Describes the current state of the session:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>PROVISIONING</code> - allocating resources for the session.</p>\n            </li>\n            <li>\n                <p>\n                  <code>INITIALIZING</code> - getting the session ready for first use.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ASSIGNED</code> - the session is ready for use.</p>\n            </li>\n         </ul>"
          }
        },
        "OpenedBy": {
          "target": "com.amazonaws.databrew#OpenedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user that opened the project for use. </p>"
          }
        },
        "OpenDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the project was opened. </p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeRecipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DescribeRecipeRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DescribeRecipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the definition of a specific DataBrew recipe corresponding to a particular\n            version.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/recipes/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DescribeRecipeRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#RecipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recipe to be described.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RecipeVersion": {
          "target": "com.amazonaws.databrew#RecipeVersion",
          "traits": {
            "smithy.api#documentation": "<p>The recipe version identifier. If this parameter isn't specified, then the latest\n            published version is returned.</p>",
            "smithy.api#httpQuery": "recipeVersion"
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeRecipeResponse": {
      "type": "structure",
      "members": {
        "CreatedBy": {
          "target": "com.amazonaws.databrew#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user who created the recipe.</p>"
          }
        },
        "CreateDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the recipe was created.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.databrew#LastModifiedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user who last modified the recipe.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the recipe was last modified.</p>"
          }
        },
        "ProjectName": {
          "target": "com.amazonaws.databrew#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project associated with this recipe.</p>"
          }
        },
        "PublishedBy": {
          "target": "com.amazonaws.databrew#PublishedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user who last published the recipe.</p>"
          }
        },
        "PublishedDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the recipe was last published.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.databrew#RecipeDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the recipe.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#RecipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recipe.</p>",
            "smithy.api#required": {}
          }
        },
        "Steps": {
          "target": "com.amazonaws.databrew#RecipeStepList",
          "traits": {
            "smithy.api#documentation": "<p>One or more steps to be performed by the recipe. Each step consists of an action, and\n            the conditions under which the action should succeed.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags associated with this project.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the recipe.</p>"
          }
        },
        "RecipeVersion": {
          "target": "com.amazonaws.databrew#RecipeVersion",
          "traits": {
            "smithy.api#documentation": "<p>The recipe version identifier.</p>"
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.databrew#DescribeScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.databrew#DescribeScheduleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.databrew#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.databrew#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the definition of a specific DataBrew schedule.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/schedules/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.databrew#DescribeScheduleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.databrew#ScheduleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schedule to be described.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#DescribeScheduleResponse": {
      "type": "structure",
      "members": {
        "CreateDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the schedule was created.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.databrew#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user who created the schedule. </p>"
          }
        },
        "JobNames": {
          "target": "com.amazonaws.databrew#JobNameList",
          "traits": {
            "smithy.api#documentation": "<p>The name or names of one or more jobs to be run by using the schedule.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.databrew#LastModifiedBy",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (user name) of the user who last modified the schedule.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.databrew#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the schedule was last modified.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.databrew#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the schedule.</p>"
          }
        },
        "CronExpression": {
          "target": "com.amazonaws.databrew#CronExpression",
          "traits": {
            "smithy.api#documentation": "<p>The date or dates and time or times when the jobs are to be run for the schedule. For\n            more information, see <a href=\"https://docs.aws.amazon.com/databrew/latest/dg/jobs.cron.html\">Cron expressions</a> in the\n            <i>Glue DataBrew Developer Guide</i>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.databrew#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata tags associated with this schedule.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.databrew#ScheduleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schedule.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.databrew#EncryptionKeyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.databrew#EncryptionMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SSE-KMS",
            "name": "SSEKMS"
          },
          {
            "value": "SSE-S3",
            "name": "SSES3"
          }
        ]
      }
    },
    "com.amazonaws.databrew#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[1-5][0-9][0-9]$"
      }
    },
    "com.amazonaws.databrew#ExcelOptions": {
      "type": "structure",
      "members": {
        "SheetNames": {
          "target": "com.amazonaws.databrew#SheetNameList",
          "traits": {
            "smithy.api#documentation": "<p>One or more named sheets in the Excel file that will be included in the dataset.</p>"
          }
        },
        "SheetIndexes": {
          "target": "com.amazonaws.databrew#SheetIndexList",
          "traits": {
            "smithy.api#documentation": "<p>One or more sheet numbers in the Excel file that will be included in the\n            dataset.</p>"
          }
        },
        "HeaderRow": {
          "target": "com.amazonaws.databrew#HeaderRow",
          "traits": {
            "smithy.api#documentation": "<p>A variable that specifies whether the first row in the file is parsed as the\n            header. If this value is false, column names are auto-generated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a set of options that define how DataBrew will interpret a Microsoft Excel file when \n            creating a dataset from that file.</p>"
      }
    },
    "com.amazonaws.databrew#ExecutionTime": {
      "type": "integer"
    },
    "com.amazonaws.databrew#Expression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 1024
        },
        "smithy.api#pattern": "^[<>0-9A-Za-z_:)(!= ]+$"
      }
    },
    "com.amazonaws.databrew#FilesLimit": {
      "type": "structure",
      "members": {
        "MaxFiles": {
          "target": "com.amazonaws.databrew#MaxFiles",
          "traits": {
            "smithy.api#documentation": "<p>The number of Amazon S3 files to select.</p>",
            "smithy.api#required": {}
          }
        },
        "OrderedBy": {
          "target": "com.amazonaws.databrew#OrderedBy",
          "traits": {
            "smithy.api#documentation": "<p>A criteria to use for Amazon S3 files sorting before their selection. By default uses LAST_MODIFIED_DATE as \n            a sorting criteria. Currently it's the only allowed value.</p>"
          }
        },
        "Order": {
          "target": "com.amazonaws.databrew#Order",
          "traits": {
            "smithy.api#documentation": "<p>A criteria to use for Amazon S3 files sorting before their selection. By default uses DESCENDING order, \n            i.e. most recent files are selected first. Anotherpossible value is ASCENDING.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a limit imposed on number of Amazon S3 files that should be selected for a dataset from a connected \n            Amazon S3 path.</p>"
      }
    },
    "com.amazonaws.databrew#FilterExpression": {
      "type": "structure",
      "members": {
        "Expression": {
          "target": "com.amazonaws.databrew#Expression",
          "traits": {
            "smithy.api#documentation": "<p>The expression which includes condition names followed by substitution variables, possibly grouped \n            and combined with other conditions. For example, \"(starts_with :prefix1 or starts_with :prefix2) and \n            (ends_with :suffix1 or ends_with :suffix2)\". Substitution variables should start with ':' symbol.</p>",
            "smithy.api#required": {}
          }
        },
        "ValuesMap": {
          "target": "com.amazonaws.databrew#ValuesMap",
          "traits": {
            "smithy.api#documentation": "<p>The map of substitution variable names to their values used in this filter expression.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
[...]
