{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.dax#AmazonDAXV3": {
      "type": "service",
      "version": "2017-04-19",
      "operations": [
        {
          "target": "com.amazonaws.dax#CreateCluster"
        },
        {
          "target": "com.amazonaws.dax#CreateParameterGroup"
        },
        {
          "target": "com.amazonaws.dax#CreateSubnetGroup"
        },
        {
          "target": "com.amazonaws.dax#DecreaseReplicationFactor"
        },
        {
          "target": "com.amazonaws.dax#DeleteCluster"
        },
        {
          "target": "com.amazonaws.dax#DeleteParameterGroup"
        },
        {
          "target": "com.amazonaws.dax#DeleteSubnetGroup"
        },
        {
          "target": "com.amazonaws.dax#DescribeClusters"
        },
        {
          "target": "com.amazonaws.dax#DescribeDefaultParameters"
        },
        {
          "target": "com.amazonaws.dax#DescribeEvents"
        },
        {
          "target": "com.amazonaws.dax#DescribeParameterGroups"
        },
        {
          "target": "com.amazonaws.dax#DescribeParameters"
        },
        {
          "target": "com.amazonaws.dax#DescribeSubnetGroups"
        },
        {
          "target": "com.amazonaws.dax#IncreaseReplicationFactor"
        },
        {
          "target": "com.amazonaws.dax#ListTags"
        },
        {
          "target": "com.amazonaws.dax#RebootNode"
        },
        {
          "target": "com.amazonaws.dax#TagResource"
        },
        {
          "target": "com.amazonaws.dax#UntagResource"
        },
        {
          "target": "com.amazonaws.dax#UpdateCluster"
        },
        {
          "target": "com.amazonaws.dax#UpdateParameterGroup"
        },
        {
          "target": "com.amazonaws.dax#UpdateSubnetGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DAX",
          "arnNamespace": "dax",
          "cloudFormationName": "DAX",
          "cloudTrailEventSource": "dax.amazonaws.com",
          "endpointPrefix": "dax"
        },
        "aws.auth#sigv4": {
          "name": "dax"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>DAX is a managed caching service engineered for Amazon DynamoDB. DAX\n            dramatically speeds up database reads by caching frequently-accessed data from DynamoDB, so\n            applications can access that data with sub-millisecond latency. You can create a DAX\n            cluster easily, using the AWS Management Console. With a few simple modifications to\n            your code, your application can begin taking advantage of the DAX cluster and realize\n            significant improvements in read performance.</p>",
        "smithy.api#title": "Amazon DynamoDB Accelerator (DAX)",
        "smithy.api#xmlNamespace": {
          "uri": "http://dax.amazonaws.com/doc/2017-04-19/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://dax-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://dax-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://dax.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://dax.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dax.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.dax#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dax#String"
      }
    },
    "com.amazonaws.dax#AwsQueryErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.dax#ChangeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IMMEDIATE",
            "name": "IMMEDIATE"
          },
          {
            "value": "REQUIRES_REBOOT",
            "name": "REQUIRES_REBOOT"
          }
        ]
      }
    },
    "com.amazonaws.dax#Cluster": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DAX cluster.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cluster.</p>"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.\n        </p>"
          }
        },
        "TotalNodes": {
          "target": "com.amazonaws.dax#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The total number of nodes in the cluster.</p>"
          }
        },
        "ActiveNodes": {
          "target": "com.amazonaws.dax#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of nodes in the cluster that are active (i.e., capable of serving\n            requests).</p>"
          }
        },
        "NodeType": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The node type for the nodes in the cluster. (All nodes in a DAX cluster are of\n            the same type.)</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the cluster.</p>"
          }
        },
        "ClusterDiscoveryEndpoint": {
          "target": "com.amazonaws.dax#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint for this DAX cluster, consisting of a DNS name, a port number,\n             and a URL. Applications should use the URL to configure the DAX client to find\n             their cluster.</p>"
          }
        },
        "NodeIdsToRemove": {
          "target": "com.amazonaws.dax#NodeIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of nodes to be removed from the cluster.</p>"
          }
        },
        "Nodes": {
          "target": "com.amazonaws.dax#NodeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of nodes that are currently in the cluster.</p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>A range of time when maintenance of DAX cluster software will be performed. For\n            example: <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than\n            30 minutes, and is performed automatically within the maintenance window.</p>"
          }
        },
        "NotificationConfiguration": {
          "target": "com.amazonaws.dax#NotificationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Describes a notification topic and its status. Notification topics are used for\n            publishing DAX events to subscribers using Amazon Simple Notification Service\n            (SNS).</p>"
          }
        },
        "SubnetGroup": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The subnet group where the DAX cluster is running.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.dax#SecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of security groups, and the status of each, for the nodes in the cluster.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>A valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX\n            will assume this role and use the role's permissions to access DynamoDB on your\n            behalf.</p>"
          }
        },
        "ParameterGroup": {
          "target": "com.amazonaws.dax#ParameterGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The parameter group being used by nodes in the cluster.</p>"
          }
        },
        "SSEDescription": {
          "target": "com.amazonaws.dax#SSEDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the server-side encryption status on the specified DAX cluster.</p>"
          }
        },
        "ClusterEndpointEncryptionType": {
          "target": "com.amazonaws.dax#ClusterEndpointEncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of encryption supported by the cluster's endpoint. Values are:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>NONE</code> for no encryption</p>\n                <p>\n                  <code>TLS</code> for Transport Layer Security</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains all of the attributes of a specific DAX cluster.</p>"
      }
    },
    "com.amazonaws.dax#ClusterAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dax#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You already have a DAX cluster with the given identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.dax#ClusterEndpointEncryptionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "TLS",
            "name": "TLS"
          }
        ]
      }
    },
    "com.amazonaws.dax#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dax#Cluster"
      }
    },
    "com.amazonaws.dax#ClusterNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dax#String"
      }
    },
    "com.amazonaws.dax#ClusterNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dax#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested cluster ID does not refer to an existing DAX cluster.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.dax#ClusterQuotaForCustomerExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dax#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have attempted to exceed the maximum number of DAX clusters for your AWS\n            account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.dax#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#ClusterAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.dax#ClusterQuotaForCustomerExceededFault"
        },
        {
          "target": "com.amazonaws.dax#InsufficientClusterCapacityFault"
        },
        {
          "target": "com.amazonaws.dax#InvalidClusterStateFault"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterGroupStateFault"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.dax#InvalidVPCNetworkStateFault"
        },
        {
          "target": "com.amazonaws.dax#NodeQuotaForClusterExceededFault"
        },
        {
          "target": "com.amazonaws.dax#NodeQuotaForCustomerExceededFault"
        },
        {
          "target": "com.amazonaws.dax#ParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.dax#SubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a DAX cluster. All nodes in the cluster run the same DAX caching software.</p>"
      }
    },
    "com.amazonaws.dax#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier. This parameter is stored as a lowercase\n            string.</p>\n        <p>\n            <b>Constraints:</b>\n        </p>\n        <ul>\n            <li>\n                <p>A name must contain from 1 to 20 alphanumeric characters or\n                    hyphens.</p>\n            </li>\n            <li>\n                <p>The first character must be a letter.</p>\n            </li>\n            <li>\n                <p>A name cannot end with a hyphen or contain two consecutive\n                    hyphens.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "NodeType": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The compute and memory capacity of the nodes in the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the cluster.</p>"
          }
        },
        "ReplicationFactor": {
          "target": "com.amazonaws.dax#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of nodes in the DAX cluster. A replication factor of 1 will\n            create a single-node cluster, without any read replicas. For additional fault tolerance,\n            you can create a multiple node cluster with one or more read replicas. To do this, set\n                <code>ReplicationFactor</code> to a number between 3 (one primary and two read replicas) and 10 (one primary and nine read replicas). \n                 <code>If the AvailabilityZones</code> parameter is provided, its length must equal the <code>ReplicationFactor</code>.</p>\n        <note>\n            <p>AWS recommends that you have at least two read replicas per cluster.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.dax#AvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zones (AZs) in which the cluster nodes will reside after the cluster\n         has been created or updated. If provided, the length of this list must equal the <code>ReplicationFactor</code> parameter.\n         If you omit this parameter, DAX will spread the nodes across Availability Zones for the highest availability.</p>"
          }
        },
        "SubnetGroupName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group to be used for the replication group.</p>\n        <important>\n            <p>DAX clusters can only run in an Amazon VPC environment. All of the subnets\n                that you specify in a subnet group must exist in the same VPC.</p>\n        </important>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.dax#SecurityGroupIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of security group IDs to be assigned to each node in the DAX cluster. (Each of the \n             security group ID is system-generated.)</p>\n        <p>If this parameter is not specified, DAX assigns the default VPC security group to\n            each node.</p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the weekly time range during which maintenance on the DAX cluster is\n            performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock\n            UTC). The minimum maintenance window is a 60 minute period. Valid values for\n                <code>ddd</code> are:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>sun</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>mon</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>tue</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>wed</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>thu</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>fri</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>sat</code>\n                </p>\n            </li>\n         </ul>\n        <p>Example: <code>sun:05:00-sun:09:00</code>\n        </p>\n        <note>\n            <p>If you don't specify a preferred maintenance window when you create or modify a\n                cache cluster, DAX assigns a 60-minute maintenance window on a randomly selected day\n                of the week.</p>\n         </note>"
          }
        },
        "NotificationTopicArn": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon SNS topic to which notifications will\n            be sent.</p>\n        <note>\n            <p>The Amazon SNS topic owner must be same as the DAX cluster owner.</p>\n        </note>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>A valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX\n            will assume this role and use the role's permissions to access DynamoDB on your\n            behalf.</p>",
            "smithy.api#required": {}
          }
        },
        "ParameterGroupName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter group to be associated with the DAX cluster.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dax#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags to associate with the DAX cluster.  </p>"
          }
        },
        "SSESpecification": {
          "target": "com.amazonaws.dax#SSESpecification",
          "traits": {
            "smithy.api#documentation": "<p>Represents the settings used to enable server-side encryption on the cluster.</p>"
          }
        },
        "ClusterEndpointEncryptionType": {
          "target": "com.amazonaws.dax#ClusterEndpointEncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of encryption the cluster's endpoint should support. Values are:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>NONE</code> for no encryption</p>\n            </li>\n            <li>\n                <p>\n                  <code>TLS</code> for Transport Layer Security</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.dax#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.dax#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>A description of the DAX cluster that you have created.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#CreateParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#CreateParameterGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#CreateParameterGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterGroupStateFault"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.dax#ParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.dax#ParameterGroupQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new parameter group. A parameter group is a collection of parameters that\n            you apply to all of the nodes in a DAX cluster.</p>"
      }
    },
    "com.amazonaws.dax#CreateParameterGroupRequest": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter group to apply to all of the clusters in this replication\n            group.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the parameter group.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#CreateParameterGroupResponse": {
      "type": "structure",
      "members": {
        "ParameterGroup": {
          "target": "com.amazonaws.dax#ParameterGroup",
          "traits": {
            "smithy.api#documentation": "<p>Represents the output of a <i>CreateParameterGroup</i>\n            action.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#CreateSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#CreateSubnetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#CreateSubnetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#SubnetGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.dax#SubnetGroupQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.dax#SubnetQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new subnet group.</p>"
      }
    },
    "com.amazonaws.dax#CreateSubnetGroupRequest": {
      "type": "structure",
      "members": {
        "SubnetGroupName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>A name for the subnet group. This value is stored as a lowercase string. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for the subnet group</p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.dax#SubnetIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC subnet IDs for the subnet group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dax#CreateSubnetGroupResponse": {
      "type": "structure",
      "members": {
        "SubnetGroup": {
          "target": "com.amazonaws.dax#SubnetGroup",
          "traits": {
            "smithy.api#documentation": "<p>Represents the output of a <i>CreateSubnetGroup</i>\n            operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DecreaseReplicationFactor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#DecreaseReplicationFactorRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#DecreaseReplicationFactorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#ClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#InvalidClusterStateFault"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.dax#NodeNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more nodes from a DAX cluster.</p>\n        <note>\n            <p>You cannot use <code>DecreaseReplicationFactor</code> to remove the last node in a DAX cluster. If you need to do this, use <code>DeleteCluster</code> instead.</p>\n         </note>"
      }
    },
    "com.amazonaws.dax#DecreaseReplicationFactorRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DAX cluster from which you want to remove nodes.</p>",
            "smithy.api#required": {}
          }
        },
        "NewReplicationFactor": {
          "target": "com.amazonaws.dax#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The new number of nodes for the DAX cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.dax#AvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone(s) from which to remove nodes.</p>"
          }
        },
        "NodeIdsToRemove": {
          "target": "com.amazonaws.dax#NodeIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifiers of the nodes to be removed from the cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DecreaseReplicationFactorResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.dax#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>A description of the DAX cluster, after you have decreased its replication\n            factor.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#DeleteClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#ClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#InvalidClusterStateFault"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a previously provisioned DAX cluster.\n                <i>DeleteCluster</i> deletes all associated nodes, node endpoints\n            and the DAX cluster itself. When you receive a successful response from this action,\n            DAX immediately begins deleting the cluster; you cannot cancel or revert this\n            action.</p>"
      }
    },
    "com.amazonaws.dax#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dax#DeleteClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.dax#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>A description of the DAX cluster that is being deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DeleteParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#DeleteParameterGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#DeleteParameterGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterGroupStateFault"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.dax#ParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified parameter group. You cannot delete a parameter group if it is\n            associated with any DAX clusters.</p>"
      }
    },
    "com.amazonaws.dax#DeleteParameterGroupRequest": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter group to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dax#DeleteParameterGroupResponse": {
      "type": "structure",
      "members": {
        "DeletionMessage": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-specified message for this action (i.e., a reason for deleting the parameter\n            group).</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DeleteSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#DeleteSubnetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#DeleteSubnetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#SubnetGroupInUseFault"
        },
        {
          "target": "com.amazonaws.dax#SubnetGroupNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a subnet group.</p>\n        <note>\n            <p>You cannot delete a subnet group if it is associated with any DAX\n                clusters.</p>\n        </note>"
      }
    },
    "com.amazonaws.dax#DeleteSubnetGroupRequest": {
      "type": "structure",
      "members": {
        "SubnetGroupName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dax#DeleteSubnetGroupResponse": {
      "type": "structure",
      "members": {
        "DeletionMessage": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-specified message for this action (i.e., a reason for deleting the subnet\n            group).</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeClusters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#DescribeClustersRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#DescribeClustersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#ClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about all provisioned DAX clusters if no cluster identifier\n            is specified, or about a specific DAX cluster if a cluster identifier is\n            supplied.</p>\n        <p>If the cluster is in the CREATING state, only cluster level information will be\n            displayed until all of the nodes are successfully provisioned.</p>\n        <p>If the cluster is in the DELETING state, only cluster level information will be\n            displayed.</p>\n        <p>If nodes are currently being added to the DAX cluster, node endpoint information\n            and creation time for the additional nodes will not be displayed until they are\n            completely provisioned. When the DAX cluster state is <i>available</i>,\n            the cluster is ready for use.</p>\n        <p>If nodes are currently being removed from the DAX cluster, no endpoint\n            information for the removed nodes is displayed.</p>"
      }
    },
    "com.amazonaws.dax#DescribeClustersRequest": {
      "type": "structure",
      "members": {
        "ClusterNames": {
          "target": "com.amazonaws.dax#ClusterNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the DAX clusters being described.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.dax#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n        <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeClustersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "Clusters": {
          "target": "com.amazonaws.dax#ClusterList",
          "traits": {
            "smithy.api#documentation": "<p>The descriptions of your DAX clusters, in response to a\n            <i>DescribeClusters</i> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeDefaultParameters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#DescribeDefaultParametersRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#DescribeDefaultParametersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the default system parameter information for the DAX caching\n            software.</p>"
      }
    },
    "com.amazonaws.dax#DescribeDefaultParametersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.dax#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n        <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeDefaultParametersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.dax#ParameterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of parameters.  Each element in the list represents one parameter.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#DescribeEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#DescribeEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns events related to DAX clusters and parameter groups. You can obtain\n            events specific to a particular DAX cluster or parameter group by providing the name\n            as a parameter.</p>\n        <p>By default, only the events occurring within the last 24 hours are returned; however,\n            you can retrieve up to 14 days' worth of events if necessary.</p>"
      }
    },
    "com.amazonaws.dax#DescribeEventsRequest": {
      "type": "structure",
      "members": {
        "SourceName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event source for which events will be returned. If not\n            specified, then all sources are included in the response.</p>"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.dax#SourceType",
          "traits": {
            "smithy.api#documentation": "<p>The event source to retrieve events for. If no value is specified, all events are\n            returned.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.dax#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The beginning of the time interval to retrieve events for, specified in ISO 8601\n            format.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.dax#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time interval for which to retrieve events, specified in ISO 8601\n            format.</p>"
          }
        },
        "Duration": {
          "target": "com.amazonaws.dax#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes' worth of events to retrieve.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.dax#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n        <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeEventsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "Events": {
          "target": "com.amazonaws.dax#EventList",
          "traits": {
            "smithy.api#documentation": "<p>An array of events.  Each element in the array represents one event.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeParameterGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#DescribeParameterGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#DescribeParameterGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.dax#ParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of parameter group descriptions. If a parameter group name is\n            specified, the list will contain only the descriptions for that group.</p>"
      }
    },
    "com.amazonaws.dax#DescribeParameterGroupsRequest": {
      "type": "structure",
      "members": {
        "ParameterGroupNames": {
          "target": "com.amazonaws.dax#ParameterGroupNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the parameter groups.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.dax#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n        <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeParameterGroupsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "ParameterGroups": {
          "target": "com.amazonaws.dax#ParameterGroupList",
          "traits": {
            "smithy.api#documentation": "<p>An array of parameter groups.  Each element in the array represents one parameter group.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeParameters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#DescribeParametersRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#DescribeParametersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.dax#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.dax#ParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the detailed parameter list for a particular parameter group.</p>"
      }
    },
    "com.amazonaws.dax#DescribeParametersRequest": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "Source": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>How the parameter is defined. For example, <code>system</code> denotes a\n            system-defined parameter.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.dax#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n        <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeParametersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.dax#ParameterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of parameters within a parameter group.  Each element in the list represents one parameter.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeSubnetGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dax#DescribeSubnetGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.dax#DescribeSubnetGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dax#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.dax#SubnetGroupNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of subnet group descriptions. If a subnet group name is specified,\n            the list will contain only the description of that group.</p>"
      }
    },
    "com.amazonaws.dax#DescribeSubnetGroupsRequest": {
      "type": "structure",
      "members": {
        "SubnetGroupNames": {
          "target": "com.amazonaws.dax#SubnetGroupNameList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.dax#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n            <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#DescribeSubnetGroupsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "SubnetGroups": {
          "target": "com.amazonaws.dax#SubnetGroupList",
          "traits": {
            "smithy.api#documentation": "<p>An array of subnet groups.  Each element in the array represents a single subnet group.</p>"
          }
        }
      }
    },
    "com.amazonaws.dax#Endpoint": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The DNS hostname of the endpoint.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.dax#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The port number that applications should use to connect to the endpoint.</p>"
          }
        },
        "URL": {
          "target": "com.amazonaws.dax#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL that applications should use to connect to the endpoint. The default\n            ports are 8111 for the \"dax\" protocol and 9111 for the \"daxs\" protocol.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the information required for client programs to connect to the\n            endpoint for a DAX cluster.</p>"
      }
    },
    "com.amazonaws.dax#Event": {
      "type": "structure",
      "members": {
        "SourceName": {
          "target": "com.amazonaws.dax#String",
          "traits": {
[...]
