{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "dax.admin.v20170419#AmazonDAXV3": {
      "type": "service",
      "version": "2017-04-19",
      "operations": [
        {
          "target": "dax.admin.v20170419#CreateCluster"
        },
        {
          "target": "dax.admin.v20170419#CreateParameterGroup"
        },
        {
          "target": "dax.admin.v20170419#CreateSubnetGroup"
        },
        {
          "target": "dax.admin.v20170419#DecreaseReplicationFactor"
        },
        {
          "target": "dax.admin.v20170419#DeleteCluster"
        },
        {
          "target": "dax.admin.v20170419#DeleteParameterGroup"
        },
        {
          "target": "dax.admin.v20170419#DeleteSubnetGroup"
        },
        {
          "target": "dax.admin.v20170419#DescribeClusters"
        },
        {
          "target": "dax.admin.v20170419#DescribeDefaultParameters"
        },
        {
          "target": "dax.admin.v20170419#DescribeEvents"
        },
        {
          "target": "dax.admin.v20170419#DescribeParameterGroups"
        },
        {
          "target": "dax.admin.v20170419#DescribeParameters"
        },
        {
          "target": "dax.admin.v20170419#DescribeSubnetGroups"
        },
        {
          "target": "dax.admin.v20170419#IncreaseReplicationFactor"
        },
        {
          "target": "dax.admin.v20170419#ListTags"
        },
        {
          "target": "dax.admin.v20170419#RebootNode"
        },
        {
          "target": "dax.admin.v20170419#TagResource"
        },
        {
          "target": "dax.admin.v20170419#UntagResource"
        },
        {
          "target": "dax.admin.v20170419#UpdateCluster"
        },
        {
          "target": "dax.admin.v20170419#UpdateParameterGroup"
        },
        {
          "target": "dax.admin.v20170419#UpdateSubnetGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DAX",
          "arnNamespace": "dax",
          "cloudFormationName": "DAX",
          "cloudTrailEventSource": "v20170419.admin.dax"
        },
        "smithy.api#documentation": "\n        <p>DAX is a managed caching service engineered for Amazon DynamoDB. DAX\n            dramatically speeds up database reads by caching frequently-accessed data from DynamoDB, so\n            applications can access that data with sub-millisecond latency. You can create a DAX\n            cluster easily, using the AWS Management Console. With a few simple modifications to\n            your code, your application can begin taking advantage of the DAX cluster and realize\n            significant improvements in read performance.</p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon DynamoDB Accelerator (DAX)"
      }
    },
    "dax.admin.v20170419#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#String"
      }
    },
    "com.amazon.coral.service#AwsQueryErrorMessage": {
      "type": "string"
    },
    "dax.admin.v20170419#ChangeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IMMEDIATE": { },
          "REQUIRES_REBOOT": { }
        }
      }
    },
    "dax.admin.v20170419#Cluster": {
      "type": "structure",
      "members": {
        "ActiveNodes": {
          "target": "dax.admin.v20170419#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of nodes in the cluster that are active (i.e., capable of serving\n            requests).</p>\n      "
          }
        },
        "ClusterArn": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.\n        </p>\n      "
          }
        },
        "ClusterDiscoveryEndpoint": {
          "target": "dax.admin.v20170419#Endpoint",
          "traits": {
            "smithy.api#documentation": "\n        <p>The configuration endpoint for this DAX cluster, consisting of a DNS name and a\n            port number. Client applications can specify this endpoint, rather than an individual\n            node endpoint, and allow the DAX client software to intelligently route requests and\n            responses to nodes in the DAX cluster.</p>\n      "
          }
        },
        "ClusterName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the DAX cluster.</p>\n      "
          }
        },
        "Description": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The description of the cluster.</p>\n      "
          }
        },
        "IamRoleArn": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX\n            will assume this role and use the role's permissions to access DynamoDB on your\n            behalf.</p>\n      "
          }
        },
        "NodeIdsToRemove": {
          "target": "dax.admin.v20170419#NodeIdentifierList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of nodes to be removed from the cluster.</p>\n      "
          }
        },
        "NodeType": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The node type for the nodes in the cluster. (All nodes in a DAX cluster are of\n            the same type.)</p>\n      "
          }
        },
        "Nodes": {
          "target": "dax.admin.v20170419#NodeList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of nodes that are currently in the cluster.</p>\n      "
          }
        },
        "NotificationConfiguration": {
          "target": "dax.admin.v20170419#NotificationConfiguration",
          "traits": {
            "smithy.api#documentation": "\n        <p>Describes a notification topic and its status. Notification topics are used for\n            publishing DAX events to subscribers using Amazon Simple Notification Service\n            (SNS).</p>\n      "
          }
        },
        "ParameterGroup": {
          "target": "dax.admin.v20170419#ParameterGroupStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>The parameter group being used by nodes in the cluster.</p>\n      "
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A range of time when maintenance of DAX cluster software will be performed. For\n            example: <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than\n            30 minutes, and is performed automatically within the maintenance window.</p>\n      "
          }
        },
        "SSEDescription": {
          "target": "dax.admin.v20170419#SSEDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the server-side encryption status on the specified DAX cluster.</p>\n      "
          }
        },
        "SecurityGroups": {
          "target": "dax.admin.v20170419#SecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of security groups, and the status of each, for the nodes in the cluster.</p>\n      "
          }
        },
        "Status": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The current status of the cluster.</p>\n      "
          }
        },
        "SubnetGroup": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The subnet group where the DAX cluster is running.</p>\n      "
          }
        },
        "TotalNodes": {
          "target": "dax.admin.v20170419#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "\n        <p>The total number of nodes in the cluster.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Contains all of the attributes of a specific DAX cluster.</p>\n      "
      }
    },
    "elmo.admin#ClusterAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>You already have a DAX cluster with the given identifier.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#ClusterList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#Cluster"
      }
    },
    "dax.admin.v20170419#ClusterNameList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#String"
      }
    },
    "elmo.admin#ClusterNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The requested cluster ID does not refer to an existing DAX cluster.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#ClusterQuotaForCustomerExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>You have attempted to exceed the maximum number of DAX clusters for your AWS\n            account.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#CreateClusterRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ClusterAlreadyExistsFault"
        },
        {
          "target": "elmo.admin#ClusterQuotaForCustomerExceededFault"
        },
        {
          "target": "elmo.admin#InsufficientClusterCapacityFault"
        },
        {
          "target": "elmo.admin#InvalidClusterStateFault"
        },
        {
          "target": "elmo.admin#InvalidParameterGroupStateFault"
        },
        {
          "target": "elmo.admin#InvalidVPCNetworkStateFault"
        },
        {
          "target": "elmo.admin#NodeQuotaForClusterExceededFault"
        },
        {
          "target": "elmo.admin#NodeQuotaForCustomerExceededFault"
        },
        {
          "target": "elmo.admin#ParameterGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "elmo.admin#SubnetGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a DAX cluster. All nodes in the cluster run the same DAX caching software.</p>\n      "
      }
    },
    "dax.admin.v20170419#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "dax.admin.v20170419#AvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Availability Zones (AZs) in which the cluster nodes will reside after the cluster\n         has been created or updated. If provided, the length of this list must equal the <code>ReplicationFactor</code> parameter.\n         If you omit this parameter, DAX will spread the nodes across Availability Zones for the highest availability.</p>\n      "
          }
        },
        "ClusterName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The cluster identifier. This parameter is stored as a lowercase\n            string.</p>\n        <p>\n            <b>Constraints:</b>\n        </p>\n        <ul>\n            <li>\n                <p>A name must contain from 1 to 20 alphanumeric characters or\n                    hyphens.</p>\n            </li>\n            <li>\n                <p>The first character must be a letter.</p>\n            </li>\n            <li>\n                <p>A name cannot end with a hyphen or contain two consecutive\n                    hyphens.</p>\n            </li>\n         </ul>\n      ",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the cluster.</p>\n      "
          }
        },
        "IamRoleArn": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A valid Amazon Resource Name (ARN) that identifies an IAM role. At runtime, DAX\n            will assume this role and use the role's permissions to access DynamoDB on your\n            behalf.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "NodeType": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The compute and memory capacity of the nodes in the cluster.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "NotificationTopicArn": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the Amazon SNS topic to which notifications will\n            be sent.</p>\n        <note>\n            <p>The Amazon SNS topic owner must be same as the DAX cluster owner.</p>\n        </note>\n      "
          }
        },
        "ParameterGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The parameter group to be associated with the DAX cluster.</p>\n      "
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>Specifies the weekly time range during which maintenance on the DAX cluster is\n            performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock\n            UTC). The minimum maintenance window is a 60 minute period. Valid values for\n                <code>ddd</code> are:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>sun</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>mon</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>tue</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>wed</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>thu</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>fri</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>sat</code>\n                </p>\n            </li>\n         </ul>\n        <p>Example: <code>sun:05:00-sun:09:00</code>\n        </p>\n        <note>\n            <p>If you don't specify a preferred maintenance window when you create or modify a\n                cache cluster, DAX assigns a 60-minute maintenance window on a randomly selected day\n                of the week.</p>\n         </note>\n      "
          }
        },
        "ReplicationFactor": {
          "target": "dax.admin.v20170419#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of nodes in the DAX cluster. A replication factor of 1 will\n            create a single-node cluster, without any read replicas. For additional fault tolerance,\n            you can create a multiple node cluster with one or more read replicas. To do this, set\n                <code>ReplicationFactor</code> to a number between 3 (one primary and two read replicas) and 10 (one primary and nine read replicas). \n                 <code>If the AvailabilityZones</code> parameter is provided, its length must equal the <code>ReplicationFactor</code>.</p>\n        <note>\n            <p>AWS recommends that you have at least two read replicas per cluster.</p>\n         </note>\n      ",
            "smithy.api#required": true
          }
        },
        "SSESpecification": {
          "target": "dax.admin.v20170419#SSESpecification",
          "traits": {
            "smithy.api#documentation": "\n         <p>Represents the settings used to enable server-side encryption on the cluster.</p>\n      "
          }
        },
        "SecurityGroupIds": {
          "target": "dax.admin.v20170419#SecurityGroupIdentifierList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of security group IDs to be assigned to each node in the DAX cluster. (Each of the \n             security group ID is system-generated.)</p>\n        <p>If this parameter is not specified, DAX assigns the default VPC security group to\n            each node.</p>\n      "
          }
        },
        "SubnetGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the subnet group to be used for the replication group.</p>\n        <important>\n            <p>DAX clusters can only run in an Amazon VPC environment. All of the subnets\n                that you specify in a subnet group must exist in the same VPC.</p>\n        </important>\n      "
          }
        },
        "Tags": {
          "target": "dax.admin.v20170419#TagList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A set of tags to associate with the DAX cluster.  </p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "dax.admin.v20170419#Cluster",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the DAX cluster that you have created.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#CreateParameterGroup": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#CreateParameterGroupRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#CreateParameterGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#InvalidParameterGroupStateFault"
        },
        {
          "target": "elmo.admin#ParameterGroupAlreadyExistsFault"
        },
        {
          "target": "elmo.admin#ParameterGroupQuotaExceededFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a new parameter group. A parameter group is a collection of parameters that\n            you apply to all of the nodes in a DAX cluster.</p>\n\n      "
      }
    },
    "dax.admin.v20170419#CreateParameterGroupRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the parameter group.</p>\n      "
          }
        },
        "ParameterGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the parameter group to apply to all of the clusters in this replication\n            group.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#CreateParameterGroupResponse": {
      "type": "structure",
      "members": {
        "ParameterGroup": {
          "target": "dax.admin.v20170419#ParameterGroup",
          "traits": {
            "smithy.api#documentation": "\n        <p>Represents the output of a <i>CreateParameterGroup</i>\n            action.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#CreateSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#CreateSubnetGroupRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#CreateSubnetGroupResponse"
      },
      "errors": [
        {
          "target": "elmo.admin#InvalidSubnet"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "elmo.admin#SubnetGroupAlreadyExistsFault"
        },
        {
          "target": "elmo.admin#SubnetGroupQuotaExceededFault"
        },
        {
          "target": "elmo.admin#SubnetQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a new subnet group.</p>\n\n      "
      }
    },
    "dax.admin.v20170419#CreateSubnetGroupRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description for the subnet group</p>\n      "
          }
        },
        "SubnetGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A name for the subnet group. This value is stored as a lowercase string. </p>\n      ",
            "smithy.api#required": true
          }
        },
        "SubnetIds": {
          "target": "dax.admin.v20170419#SubnetIdentifierList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of VPC subnet IDs for the subnet group.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#CreateSubnetGroupResponse": {
      "type": "structure",
      "members": {
        "SubnetGroup": {
          "target": "dax.admin.v20170419#SubnetGroup",
          "traits": {
            "smithy.api#documentation": "\n        <p>Represents the output of a <i>CreateSubnetGroup</i>\n            operation.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DecreaseReplicationFactor": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#DecreaseReplicationFactorRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#DecreaseReplicationFactorResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ClusterNotFoundFault"
        },
        {
          "target": "elmo.admin#InvalidClusterStateFault"
        },
        {
          "target": "elmo.admin#NodeNotFoundFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Removes one or more nodes from a DAX cluster.</p>\n        <note>\n            <p>You cannot use <code>DecreaseReplicationFactor</code> to remove the last node in a DAX cluster. If you need to do this, use <code>DeleteCluster</code> instead.</p>\n         </note>\n      "
      }
    },
    "dax.admin.v20170419#DecreaseReplicationFactorRequest": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "dax.admin.v20170419#AvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Availability Zone(s) from which to remove nodes.</p>\n      "
          }
        },
        "ClusterName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the DAX cluster from which you want to remove nodes.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "NewReplicationFactor": {
          "target": "dax.admin.v20170419#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The new number of nodes for the DAX cluster.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "NodeIdsToRemove": {
          "target": "dax.admin.v20170419#NodeIdentifierList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The unique identifiers of the nodes to be removed from the cluster.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DecreaseReplicationFactorResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "dax.admin.v20170419#Cluster",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the DAX cluster, after you have decreased its replication\n            factor.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#DeleteClusterRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ClusterNotFoundFault"
        },
        {
          "target": "elmo.admin#InvalidClusterStateFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes a previously provisioned DAX cluster.\n                <i>DeleteCluster</i> deletes all associated nodes, node endpoints\n            and the DAX cluster itself. When you receive a successful response from this action,\n            DAX immediately begins deleting the cluster; you cannot cancel or revert this\n            action.</p>\n\n      "
      }
    },
    "dax.admin.v20170419#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the cluster to be deleted.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#DeleteClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "dax.admin.v20170419#Cluster",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the DAX cluster that is being deleted.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DeleteParameterGroup": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#DeleteParameterGroupRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#DeleteParameterGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#InvalidParameterGroupStateFault"
        },
        {
          "target": "elmo.admin#ParameterGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes the specified parameter group. You cannot delete a parameter group if it is\n            associated with any DAX clusters.</p>\n      "
      }
    },
    "dax.admin.v20170419#DeleteParameterGroupRequest": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the parameter group to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#DeleteParameterGroupResponse": {
      "type": "structure",
      "members": {
        "DeletionMessage": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A user-specified message for this action (i.e., a reason for deleting the parameter\n            group).</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DeleteSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#DeleteSubnetGroupRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#DeleteSubnetGroupResponse"
      },
      "errors": [
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "elmo.admin#SubnetGroupInUseFault"
        },
        {
          "target": "elmo.admin#SubnetGroupNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes a subnet group.</p>\n        <note>\n            <p>You cannot delete a subnet group if it is associated with any DAX\n                clusters.</p>\n        </note>\n      "
      }
    },
    "dax.admin.v20170419#DeleteSubnetGroupRequest": {
      "type": "structure",
      "members": {
        "SubnetGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the subnet group to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#DeleteSubnetGroupResponse": {
      "type": "structure",
      "members": {
        "DeletionMessage": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A user-specified message for this action (i.e., a reason for deleting the subnet\n            group).</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeClusters": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#DescribeClustersRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#DescribeClustersResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ClusterNotFoundFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns information about all provisioned DAX clusters if no cluster identifier\n            is specified, or about a specific DAX cluster if a cluster identifier is\n            supplied.</p>\n        <p>If the cluster is in the CREATING state, only cluster level information will be\n            displayed until all of the nodes are successfully provisioned.</p>\n        <p>If the cluster is in the DELETING state, only cluster level information will be\n            displayed.</p>\n        <p>If nodes are currently being added to the DAX cluster, node endpoint information\n            and creation time for the additional nodes will not be displayed until they are\n            completely provisioned. When the DAX cluster state is <i>available</i>,\n            the cluster is ready for use.</p>\n        <p>If nodes are currently being removed from the DAX cluster, no endpoint\n            information for the removed nodes is displayed.</p>\n\n      "
      }
    },
    "dax.admin.v20170419#DescribeClustersRequest": {
      "type": "structure",
      "members": {
        "ClusterNames": {
          "target": "dax.admin.v20170419#ClusterNameList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The names of the DAX clusters being described.</p>\n      "
          }
        },
        "MaxResults": {
          "target": "dax.admin.v20170419#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n        <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>\n      "
          }
        },
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeClustersResponse": {
      "type": "structure",
      "members": {
        "Clusters": {
          "target": "dax.admin.v20170419#ClusterList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The descriptions of your DAX clusters, in response to a\n            <i>DescribeClusters</i> request.</p>\n      "
          }
        },
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>Provides an identifier to allow retrieval of paginated results.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeDefaultParameters": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#DescribeDefaultParametersRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#DescribeDefaultParametersResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns the default system parameter information for the DAX caching\n            software.</p>\n      "
      }
    },
    "dax.admin.v20170419#DescribeDefaultParametersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "dax.admin.v20170419#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n        <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>\n      "
          }
        },
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeDefaultParametersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>Provides an identifier to allow retrieval of paginated results.</p>\n      "
          }
        },
        "Parameters": {
          "target": "dax.admin.v20170419#ParameterList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of parameters.  Each element in the list represents one parameter.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeEvents": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#DescribeEventsRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#DescribeEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns events related to DAX clusters and parameter groups. You can obtain\n            events specific to a particular DAX cluster or parameter group by providing the name\n            as a parameter.</p>\n        <p>By default, only the events occurring within the last 24 hours are returned; however,\n            you can retrieve up to 14 days' worth of events if necessary.</p>\n\n      "
      }
    },
    "dax.admin.v20170419#DescribeEventsRequest": {
      "type": "structure",
      "members": {
        "Duration": {
          "target": "dax.admin.v20170419#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of minutes' worth of events to retrieve.</p>\n      "
          }
        },
        "EndTime": {
          "target": "dax.admin.v20170419#TStamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The end of the time interval for which to retrieve events, specified in ISO 8601\n            format.</p>\n      "
          }
        },
        "MaxResults": {
          "target": "dax.admin.v20170419#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n        <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>\n      "
          }
        },
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>\n      "
          }
        },
        "SourceName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The identifier of the event source for which events will be returned. If not\n            specified, then all sources are included in the response.</p>\n      "
          }
        },
        "SourceType": {
          "target": "dax.admin.v20170419#SourceType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The event source to retrieve events for. If no value is specified, all events are\n            returned.</p>\n      "
          }
        },
        "StartTime": {
          "target": "dax.admin.v20170419#TStamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The beginning of the time interval to retrieve events for, specified in ISO 8601\n            format.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeEventsResponse": {
      "type": "structure",
      "members": {
        "Events": {
          "target": "dax.admin.v20170419#EventList",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of events.  Each element in the array represents one event.</p>\n      "
          }
        },
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>Provides an identifier to allow retrieval of paginated results.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeParameterGroups": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#DescribeParameterGroupsRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#DescribeParameterGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ParameterGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns a list of parameter group descriptions. If a parameter group name is\n            specified, the list will contain only the descriptions for that group.</p>\n      "
      }
    },
    "dax.admin.v20170419#DescribeParameterGroupsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "dax.admin.v20170419#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n        <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>\n      "
          }
        },
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>\n      "
          }
        },
        "ParameterGroupNames": {
          "target": "dax.admin.v20170419#ParameterGroupNameList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The names of the parameter groups.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeParameterGroupsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>Provides an identifier to allow retrieval of paginated results.</p>\n      "
          }
        },
        "ParameterGroups": {
          "target": "dax.admin.v20170419#ParameterGroupList",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of parameter groups.  Each element in the array represents one parameter group.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeParameters": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#DescribeParametersRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#DescribeParametersResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ParameterGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns the detailed parameter list for a particular parameter group.</p>\n\n      "
      }
    },
    "dax.admin.v20170419#DescribeParametersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "dax.admin.v20170419#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n        <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>\n      "
          }
        },
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>\n      "
          }
        },
        "ParameterGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the parameter group.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Source": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>How the parameter is defined. For example, <code>system</code> denotes a\n            system-defined parameter.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeParametersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>Provides an identifier to allow retrieval of paginated results.</p>\n      "
          }
        },
        "Parameters": {
          "target": "dax.admin.v20170419#ParameterList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of parameters within a parameter group.  Each element in the list represents one parameter.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeSubnetGroups": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#DescribeSubnetGroupsRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#DescribeSubnetGroupsResponse"
      },
      "errors": [
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "elmo.admin#SubnetGroupNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns a list of subnet group descriptions. If a subnet group name is specified,\n            the list will contain only the description of that group.</p>\n      "
      }
    },
    "dax.admin.v20170419#DescribeSubnetGroupsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "dax.admin.v20170419#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of results to include in the response. If more results exist\n            than the specified <code>MaxResults</code> value, a token is included in the response so\n            that the remaining results can be retrieved.</p>\n            <p>The value for <code>MaxResults</code> must be between 20 and 100.</p>\n      "
          }
        },
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token, up to the value specified by\n            <code>MaxResults</code>.</p>\n      "
          }
        },
        "SubnetGroupNames": {
          "target": "dax.admin.v20170419#SubnetGroupNameList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the subnet group.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#DescribeSubnetGroupsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>Provides an identifier to allow retrieval of paginated results.</p>\n      "
          }
        },
        "SubnetGroups": {
          "target": "dax.admin.v20170419#SubnetGroupList",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of subnet groups.  Each element in the array represents a single subnet group.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#Endpoint": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The DNS hostname of the endpoint.</p>\n      "
          }
        },
        "Port": {
          "target": "dax.admin.v20170419#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The port number that applications should use to connect to the endpoint.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the information required for client programs to connect to the\n            configuration endpoint for a DAX cluster, or to an individual node within the\n            cluster.</p>\n      "
      }
    },
    "dax.admin.v20170419#Event": {
      "type": "structure",
      "members": {
        "Date": {
          "target": "dax.admin.v20170419#TStamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The date and time when the event occurred.</p>\n      "
          }
        },
        "Message": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A user-defined message associated with the event.</p>\n      "
          }
        },
        "SourceName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The source of the event. For example, if the event occurred at the node level, the\n            source would be the node ID.</p>\n      "
          }
        },
        "SourceType": {
          "target": "dax.admin.v20170419#SourceType",
          "traits": {
            "smithy.api#documentation": "\n        <p>Specifies the origin of this event - a cluster, a parameter group, a node ID,\n            etc.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a single occurrence of something interesting within the system. Some\n            examples of events are creating a DAX cluster, adding or removing a node, or rebooting\n            a node.</p>\n      "
      }
    },
    "dax.admin.v20170419#EventList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#Event"
      }
    },
    "rds.admin#ExceptionMessage": {
      "type": "string"
    },
    "dax.admin.v20170419#IncreaseReplicationFactor": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#IncreaseReplicationFactorRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#IncreaseReplicationFactorResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ClusterNotFoundFault"
        },
        {
          "target": "elmo.admin#InsufficientClusterCapacityFault"
        },
        {
          "target": "elmo.admin#InvalidClusterStateFault"
        },
        {
          "target": "elmo.admin#InvalidVPCNetworkStateFault"
        },
        {
          "target": "elmo.admin#NodeQuotaForClusterExceededFault"
        },
        {
          "target": "elmo.admin#NodeQuotaForCustomerExceededFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Adds one or more nodes to a DAX cluster.</p>    \n      "
      }
    },
    "dax.admin.v20170419#IncreaseReplicationFactorRequest": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "dax.admin.v20170419#AvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Availability Zones (AZs) in which the cluster nodes will be created. All nodes\n            belonging to the cluster are placed in these Availability Zones. Use this parameter if you want\n            to distribute the nodes across multiple AZs.</p>\n      "
          }
        },
        "ClusterName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the DAX cluster that will receive additional nodes.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "NewReplicationFactor": {
          "target": "dax.admin.v20170419#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The new number of nodes for the DAX cluster.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#IncreaseReplicationFactorResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "dax.admin.v20170419#Cluster",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the DAX cluster. with its new replication factor.</p>\n      "
          }
        }
      }
    },
    "elmo.admin#InsufficientClusterCapacityFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>There are not enough system resources to create the cluster you requested (or to\n            resize an already-existing cluster). </p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#Integer": {
      "type": "integer"
    },
    "dax.admin.v20170419#IntegerOptional": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "elmo.admin#InvalidARNFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) supplied in the request is not valid.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#InvalidClusterStateFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The requested DAX cluster is not in the <i>available</i>\n            state.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.coral.service#InvalidParameterCombinationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.coral.service#AwsQueryErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Two or more incompatible parameters were specified.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#InvalidParameterGroupStateFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>One or more parameters in a parameter group are in an invalid state.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.coral.service#InvalidParameterValueException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.coral.service#AwsQueryErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The value for a parameter is invalid.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#InvalidSubnet": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>An invalid subnet identifier was specified.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#InvalidVPCNetworkStateFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The VPC network is in an invalid state.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#IsModifiable": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TRUE": { },
          "FALSE": { },
          "CONDITIONAL": { }
        }
      }
    },
    "dax.admin.v20170419#KeyList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#String"
      }
    },
    "dax.admin.v20170419#ListTags": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#ListTagsRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#ListTagsResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ClusterNotFoundFault"
        },
        {
          "target": "elmo.admin#InvalidARNFault"
        },
        {
          "target": "elmo.admin#InvalidClusterStateFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>List all of the tags for a DAX cluster. You can call <code>ListTags</code> up to\n            10 times per second, per account.</p>\n      "
      }
    },
    "dax.admin.v20170419#ListTagsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>An optional token returned from a prior request. Use this token for pagination of\n            results from this action. If this parameter is specified, the response includes only\n            results beyond the token.</p>\n      "
          }
        },
        "ResourceName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the DAX resource to which the tags belong.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#ListTagsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>If this value is present, there are additional results to be displayed.  To retrieve them, call \n            <code>ListTags</code> again, with <code>NextToken</code> set to this value.</p>\n      "
          }
        },
        "Tags": {
          "target": "dax.admin.v20170419#TagList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of tags currently associated with the DAX cluster.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#Node": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Availability Zone (AZ) in which the node has been deployed.</p>\n      "
          }
        },
        "Endpoint": {
          "target": "dax.admin.v20170419#Endpoint",
          "traits": {
            "smithy.api#documentation": "\n        <p>The endpoint for the node, consisting of a DNS name and a port number. Client\n            applications can connect directly to a node endpoint, if desired (as an alternative to\n            allowing DAX client software to intelligently route requests and responses to nodes in\n            the DAX cluster.</p>\n      "
          }
        },
        "NodeCreateTime": {
          "target": "dax.admin.v20170419#TStamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The date and time (in UNIX epoch format) when the node was launched.</p>\n      "
          }
        },
        "NodeId": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A system-generated identifier for the node.</p>\n      "
          }
        },
        "NodeStatus": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The current status of the node. For example: <code>available</code>.</p>\n      "
          }
        },
        "ParameterGroupStatus": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The status of the parameter group associated with this node. For example,\n                <code>in-sync</code>.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents an individual node within a DAX cluster.</p>\n      "
      }
    },
    "dax.admin.v20170419#NodeIdentifierList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#String"
      }
    },
    "dax.admin.v20170419#NodeList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#Node"
      }
    },
    "elmo.admin#NodeNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>None of the nodes in the cluster have the given node ID.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#NodeQuotaForClusterExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>You have attempted to exceed the maximum number of nodes for a DAX\n            cluster.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#NodeQuotaForCustomerExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>You have attempted to exceed the maximum number of nodes for your AWS\n            account.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#NodeTypeSpecificValue": {
      "type": "structure",
      "members": {
        "NodeType": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A node type to which the parameter value applies.</p>\n      "
          }
        },
        "Value": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The parameter value for this node type.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a parameter value that is applicable to a particular node\n            type.</p>\n      "
      }
    },
    "dax.admin.v20170419#NodeTypeSpecificValueList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#NodeTypeSpecificValue"
      }
    },
    "dax.admin.v20170419#NotificationConfiguration": {
      "type": "structure",
      "members": {
        "TopicArn": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) that identifies the topic. </p>\n      "
          }
        },
        "TopicStatus": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The current state of the topic.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes a notification topic and its status. Notification topics are used for\n            publishing DAX events to subscribers using Amazon Simple Notification Service\n            (SNS).</p>\n      "
      }
    },
    "dax.admin.v20170419#Parameter": {
      "type": "structure",
      "members": {
        "AllowedValues": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A range of values within which the parameter can be set.</p>\n      "
          }
        },
        "ChangeType": {
          "target": "dax.admin.v20170419#ChangeType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The conditions under which changes to this parameter can be applied. For example,\n                <code>requires-reboot</code> indicates that a new value for this parameter will only\n            take effect if a node is rebooted.</p>\n      "
          }
        },
        "DataType": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The data type of the parameter. For example, <code>integer</code>:</p>\n      "
          }
        },
        "Description": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the parameter</p>\n      "
          }
        },
        "IsModifiable": {
          "target": "dax.admin.v20170419#IsModifiable",
          "traits": {
            "smithy.api#documentation": "\n        <p>Whether the customer is allowed to modify the parameter.</p>\n      "
          }
        },
        "NodeTypeSpecificValues": {
          "target": "dax.admin.v20170419#NodeTypeSpecificValueList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of node types, and specific parameter values for each node.</p>\n      "
          }
        },
        "ParameterName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the parameter.</p>\n      "
          }
        },
        "ParameterType": {
          "target": "dax.admin.v20170419#ParameterType",
          "traits": {
            "smithy.api#documentation": "\n        <p>Determines whether the parameter can be applied to any nodes, or only nodes of a\n            particular type.</p>\n      "
          }
        },
        "ParameterValue": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The value for the parameter.</p>\n      "
          }
        },
        "Source": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>How the parameter is defined. For example, <code>system</code> denotes a\n            system-defined parameter.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Describes an individual setting that controls some aspect of DAX\n            behavior.</p>\n      "
      }
    },
    "dax.admin.v20170419#ParameterGroup": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the parameter group.</p>\n      "
          }
        },
        "ParameterGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the parameter group.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>A named set of parameters that are applied to all of the nodes in a DAX\n            cluster.</p>\n      "
      }
    },
    "elmo.admin#ParameterGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The specified parameter group already exists.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#ParameterGroupList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#ParameterGroup"
      }
    },
    "dax.admin.v20170419#ParameterGroupNameList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#String"
      }
    },
    "elmo.admin#ParameterGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The specified parameter group does not exist.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#ParameterGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>You have attempted to exceed the maximum number of parameter groups.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#ParameterGroupStatus": {
      "type": "structure",
      "members": {
        "NodeIdsToReboot": {
          "target": "dax.admin.v20170419#NodeIdentifierList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The node IDs of one or more nodes to be rebooted.</p>\n      "
          }
        },
        "ParameterApplyStatus": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The status of parameter updates. </p>\n      "
          }
        },
        "ParameterGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the parameter group.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The status of a parameter group.</p>\n      "
      }
    },
    "dax.admin.v20170419#ParameterList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#Parameter"
      }
    },
    "dax.admin.v20170419#ParameterNameValue": {
      "type": "structure",
      "members": {
        "ParameterName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the parameter.</p>\n      "
          }
        },
        "ParameterValue": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The value of the parameter.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>An individual DAX parameter.</p>\n      "
      }
    },
    "dax.admin.v20170419#ParameterNameValueList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#ParameterNameValue"
      }
    },
    "dax.admin.v20170419#ParameterType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DEFAULT": { },
          "NODE_TYPE_SPECIFIC": { }
        }
      }
    },
    "dax.admin.v20170419#RebootNode": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#RebootNodeRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#RebootNodeResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ClusterNotFoundFault"
        },
        {
          "target": "elmo.admin#InvalidClusterStateFault"
        },
        {
          "target": "elmo.admin#NodeNotFoundFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Reboots a single node of a DAX cluster. The reboot action takes place\n            as soon as possible. During the\n            reboot, the node status is set to REBOOTING.</p>\n        <note>\n            <p>\n               <code>RebootNode</code> restarts the DAX engine process and does not remove the contents of the cache.  </p>\n        </note>\n      "
      }
    },
    "dax.admin.v20170419#RebootNodeRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the DAX cluster containing the node to be rebooted.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "NodeId": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The system-assigned ID of the node to be rebooted.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#RebootNodeResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "dax.admin.v20170419#Cluster",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the DAX cluster after a node has been rebooted.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#SSEDescription": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "dax.admin.v20170419#SSEStatus",
          "traits": {
            "smithy.api#documentation": "\n         <p>The current state of server-side encryption:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ENABLING</code> - Server-side encryption is being enabled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ENABLED</code> - Server-side encryption is enabled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLING</code> - Server-side encryption is being disabled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLED</code> - Server-side encryption is disabled.</p>\n            </li>\n         </ul>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The description of the server-side encryption status on the specified DAX cluster.</p>\n      "
      }
    },
    "dax.admin.v20170419#SSEEnabled": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "dax.admin.v20170419#SSESpecification": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "dax.admin.v20170419#SSEEnabled",
          "traits": {
            "smithy.api#documentation": "\n         <p>Indicates whether server-side encryption is enabled (true) or disabled (false) on the cluster.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Represents the settings used to enable server-side encryption.</p>\n      "
      }
    },
    "dax.admin.v20170419#SSEStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLING": { },
          "ENABLED": { },
          "DISABLING": { },
          "DISABLED": { }
        }
      }
    },
    "dax.admin.v20170419#SecurityGroupIdentifierList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#String"
      }
    },
    "dax.admin.v20170419#SecurityGroupMembership": {
      "type": "structure",
      "members": {
        "SecurityGroupIdentifier": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The unique ID for this security group.</p>\n      "
          }
        },
        "Status": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The status of this security group.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>An individual VPC security group and its status.</p>\n      "
      }
    },
    "dax.admin.v20170419#SecurityGroupMembershipList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#SecurityGroupMembership"
      }
    },
    "elmo.admin#ServiceLinkedRoleNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The specified service linked role (SLR) was not found.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#SourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CLUSTER": { },
          "PARAMETER_GROUP": { },
          "SUBNET_GROUP": { }
        }
      }
    },
    "dax.admin.v20170419#String": {
      "type": "string"
    },
    "dax.admin.v20170419#Subnet": {
      "type": "structure",
      "members": {
        "SubnetAvailabilityZone": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Availability Zone (AZ) for the subnet.</p>\n      "
          }
        },
        "SubnetIdentifier": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The system-assigned identifier for the subnet.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the subnet associated with a DAX cluster. This parameter refers to\n            subnets defined in Amazon Virtual Private Cloud (Amazon VPC) and used with\n            DAX.</p>\n      "
      }
    },
    "dax.admin.v20170419#SubnetGroup": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The description of the subnet group.</p>\n      "
          }
        },
        "SubnetGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the subnet group.</p>\n      "
          }
        },
        "Subnets": {
          "target": "dax.admin.v20170419#SubnetList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of subnets associated with the subnet group. </p>\n      "
          }
        },
        "VpcId": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Virtual Private Cloud identifier (VPC ID) of the subnet group.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the output of one of the following actions:</p>\n        <ul>\n            <li>\n                <p>\n                    <i>CreateSubnetGroup</i>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <i>ModifySubnetGroup</i>\n                </p>\n            </li>\n         </ul>\n      "
      }
    },
    "elmo.admin#SubnetGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The specified subnet group already exists.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#SubnetGroupInUseFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The specified subnet group is currently in use.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#SubnetGroupList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#SubnetGroup"
      }
    },
    "dax.admin.v20170419#SubnetGroupNameList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#String"
      }
    },
    "elmo.admin#SubnetGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The requested subnet group name does not refer to an existing subnet\n            group.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#SubnetGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The request cannot be processed because it would exceed the allowed number of\n            subnets in a subnet group.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#SubnetIdentifierList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#String"
      }
    },
    "elmo.admin#SubnetInUse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The requested subnet is being used by another subnet group.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#SubnetList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#Subnet"
      }
    },
    "elmo.admin#SubnetQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The request cannot be processed because it would exceed the allowed number of\n            subnets in a subnet group.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#TStamp": {
      "type": "timestamp"
    },
    "dax.admin.v20170419#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The key for the tag.  Tag keys are case sensitive. Every DAX cluster can only have\n            one tag with the same key. If you try to add an existing tag (same key), the\n            existing tag value will be updated to the new value.</p>\n      "
          }
        },
        "Value": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The value of the tag. Tag values are case-sensitive and can be null. </p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>A description of a tag.  Every tag is a key-value pair. You can add up to 50 tags to a single\n            DAX cluster.</p>\n        <p>AWS-assigned tag names and values are automatically assigned the <code>aws:</code>\n            prefix, which the user cannot assign. AWS-assigned tag names do not count towards the\n            tag limit of 50. User-assigned tag names have the prefix <code>user:</code>.</p> \n        <p>You cannot backdate the application of a tag.</p>\n      "
      }
    },
    "dax.admin.v20170419#TagList": {
      "type": "list",
      "member": {
        "target": "dax.admin.v20170419#Tag"
      }
    },
    "elmo.admin#TagNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The tag does not exist.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "elmo.admin#TagQuotaPerResourceExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>You have exceeded the maximum number of tags for this DAX cluster.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "dax.admin.v20170419#TagResource": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#TagResourceRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ClusterNotFoundFault"
        },
        {
          "target": "elmo.admin#InvalidARNFault"
        },
        {
          "target": "elmo.admin#InvalidClusterStateFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "elmo.admin#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Associates a set of tags with a DAX resource.  You can call <code>TagResource</code> up to 5 times per second, per\n            account. </p>\n      "
      }
    },
    "dax.admin.v20170419#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the DAX resource to which tags should be added.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "dax.admin.v20170419#TagList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The tags to be assigned to the DAX resource. </p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#TagResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "dax.admin.v20170419#TagList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The list of tags that are associated with the DAX resource.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#UntagResource": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#UntagResourceRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ClusterNotFoundFault"
        },
        {
          "target": "elmo.admin#InvalidARNFault"
        },
        {
          "target": "elmo.admin#InvalidClusterStateFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "elmo.admin#TagNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Removes the association of tags from a DAX resource. You can call\n            <code>UntagResource</code> up to 5 times per second, per account. </p>\n      "
      }
    },
    "dax.admin.v20170419#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the DAX resource from which the tags should be removed.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "TagKeys": {
          "target": "dax.admin.v20170419#KeyList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of tag keys. If the DAX cluster has any tags with these keys, then the tags are removed from the cluster.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#UntagResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "dax.admin.v20170419#TagList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The tag keys that have been removed from the cluster.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#UpdateCluster": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#UpdateClusterRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#UpdateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ClusterNotFoundFault"
        },
        {
          "target": "elmo.admin#InvalidClusterStateFault"
        },
        {
          "target": "elmo.admin#InvalidParameterGroupStateFault"
        },
        {
          "target": "elmo.admin#ParameterGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Modifies the settings for a DAX cluster. You can use this action to change one or\n            more cluster configuration parameters by specifying the parameters and the new\n            values.</p>\n      "
      }
    },
    "dax.admin.v20170419#UpdateClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the DAX cluster to be modified.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the changes being made to the cluster.</p>\n      "
          }
        },
        "NotificationTopicArn": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) that identifies the topic.</p>\n      "
          }
        },
        "NotificationTopicStatus": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The current state of the topic.</p>\n      "
          }
        },
        "ParameterGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of a parameter group for this cluster.</p>\n      "
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>A range of time when maintenance of DAX cluster software will be performed. For\n            example: <code>sun:01:00-sun:09:00</code>. Cluster maintenance normally takes less than\n            30 minutes, and is performed automatically within the maintenance window.</p>\n      "
          }
        },
        "SecurityGroupIds": {
          "target": "dax.admin.v20170419#SecurityGroupIdentifierList",
          "traits": {
            "smithy.api#documentation": "\n        <p>A list of user-specified security group IDs to be assigned to each node in the DAX cluster.  If this parameter is not \n            specified, DAX assigns the default VPC security group to each node.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#UpdateClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "dax.admin.v20170419#Cluster",
          "traits": {
            "smithy.api#documentation": "\n        <p>A description of the DAX cluster, after it has been modified.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#UpdateParameterGroup": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#UpdateParameterGroupRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#UpdateParameterGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#InvalidParameterGroupStateFault"
        },
        {
          "target": "elmo.admin#ParameterGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Modifies the parameters of a parameter group. You can modify up to 20\n            parameters in a single request by submitting a list parameter name and value\n            pairs.</p>\n\n      "
      }
    },
    "dax.admin.v20170419#UpdateParameterGroupRequest": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "dax.admin.v20170419#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the parameter group.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ParameterNameValues": {
          "target": "dax.admin.v20170419#ParameterNameValueList",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of name-value pairs for the parameters in the group. Each element in the\n            array represents a single parameter.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "dax.admin.v20170419#UpdateParameterGroupResponse": {
      "type": "structure",
      "members": {
        "ParameterGroup": {
          "target": "dax.admin.v20170419#ParameterGroup",
          "traits": {
            "smithy.api#documentation": "\n        <p>The parameter group that has been modified.</p>\n      "
          }
        }
      }
    },
    "dax.admin.v20170419#UpdateSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "dax.admin.v20170419#UpdateSubnetGroupRequest"
      },
      "output": {
        "target": "dax.admin.v20170419#UpdateSubnetGroupResponse"
      },
      "errors": [
        {
          "target": "elmo.admin#InvalidSubnet"
        },
        {
          "target": "elmo.admin#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "elmo.admin#SubnetGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#SubnetInUse"
        },
        {
          "target": "elmo.admin#SubnetQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Modifies an existing subnet group.</p>\n\n      "
      }
    },
    "dax.admin.v20170419#UpdateSubnetGroupRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "dax.admin.v20170419#String",
          "traits": {
[...]
