{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.detective#APIFailureCount": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.detective#APIName": {
      "type": "string"
    },
    "com.amazonaws.detective#APISuccessCount": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.detective#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#AcceptInvitationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts an invitation for the member account to contribute data to a behavior graph.\n         This operation can only be called by an invited member account. </p>\n         <p>The request provides the ARN of behavior graph.</p>\n         <p>The member account status in the graph must be <code>INVITED</code>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/invitation",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph that the member account is accepting the invitation\n         for.</p>\n         <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        },
        "ErrorCode": {
          "target": "com.amazonaws.detective#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The SDK default error code associated with the access denied exception.</p>"
          }
        },
        "ErrorCodeReason": {
          "target": "com.amazonaws.detective#ErrorCodeReason",
          "traits": {
            "smithy.api#documentation": "<p>The SDK default explanation of why access was denied.</p>"
          }
        },
        "SubErrorCode": {
          "target": "com.amazonaws.detective#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code associated with the access denied exception.</p>"
          }
        },
        "SubErrorCodeReason": {
          "target": "com.amazonaws.detective#ErrorCodeReason",
          "traits": {
            "smithy.api#documentation": "<p> An explanation of why access was denied.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request issuer does not have permission to access this resource or perform this\n         operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.detective#Account": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account identifier of the Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.detective#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account root user email address for the Amazon Web Services\n         account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Services account that is the administrator account of or a member of a\n         behavior graph.</p>"
      }
    },
    "com.amazonaws.detective#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.detective#AccountIdExtendedList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.detective#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#Account"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#Administrator": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the Detective administrator\n         account for the organization.</p>"
          }
        },
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organization behavior graph.</p>"
          }
        },
        "DelegationTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the Detective administrator account was enabled. The\n         value is an ISO8601 formatted string. For example,\n         <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the Detective administrator account for an\n         organization.</p>"
      }
    },
    "com.amazonaws.detective#AdministratorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#Administrator"
      }
    },
    "com.amazonaws.detective#AiPaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.detective#AmazonDetective": {
      "type": "service",
      "version": "2018-10-26",
      "operations": [
        {
          "target": "com.amazonaws.detective#AcceptInvitation"
        },
        {
          "target": "com.amazonaws.detective#BatchGetGraphMemberDatasources"
        },
        {
          "target": "com.amazonaws.detective#BatchGetMembershipDatasources"
        },
        {
          "target": "com.amazonaws.detective#CreateGraph"
        },
        {
          "target": "com.amazonaws.detective#CreateMembers"
        },
        {
          "target": "com.amazonaws.detective#DeleteGraph"
        },
        {
          "target": "com.amazonaws.detective#DeleteMembers"
        },
        {
          "target": "com.amazonaws.detective#DescribeOrganizationConfiguration"
        },
        {
          "target": "com.amazonaws.detective#DisableOrganizationAdminAccount"
        },
        {
          "target": "com.amazonaws.detective#DisassociateMembership"
        },
        {
          "target": "com.amazonaws.detective#EnableOrganizationAdminAccount"
        },
        {
          "target": "com.amazonaws.detective#GetInvestigation"
        },
        {
          "target": "com.amazonaws.detective#GetMembers"
        },
        {
          "target": "com.amazonaws.detective#ListDatasourcePackages"
        },
        {
          "target": "com.amazonaws.detective#ListGraphs"
        },
        {
          "target": "com.amazonaws.detective#ListIndicators"
        },
        {
          "target": "com.amazonaws.detective#ListInvestigations"
        },
        {
          "target": "com.amazonaws.detective#ListInvitations"
        },
        {
          "target": "com.amazonaws.detective#ListMembers"
        },
        {
          "target": "com.amazonaws.detective#ListOrganizationAdminAccounts"
        },
        {
          "target": "com.amazonaws.detective#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.detective#RejectInvitation"
        },
        {
          "target": "com.amazonaws.detective#StartInvestigation"
        },
        {
          "target": "com.amazonaws.detective#StartMonitoringMember"
        },
        {
          "target": "com.amazonaws.detective#TagResource"
        },
        {
          "target": "com.amazonaws.detective#UntagResource"
        },
        {
          "target": "com.amazonaws.detective#UpdateDatasourcePackages"
        },
        {
          "target": "com.amazonaws.detective#UpdateInvestigationState"
        },
        {
          "target": "com.amazonaws.detective#UpdateOrganizationConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Detective",
          "arnNamespace": "detective",
          "cloudFormationName": "Detective",
          "cloudTrailEventSource": "detective.amazonaws.com",
          "endpointPrefix": "api.detective"
        },
        "aws.auth#sigv4": {
          "name": "detective"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Detective uses machine learning and purpose-built visualizations to help you to\n         analyze and investigate security issues across your Amazon Web Services (Amazon Web Services) workloads. Detective automatically extracts time-based events such\n         as login attempts, API calls, and network traffic from CloudTrail and Amazon Virtual Private Cloud (Amazon VPC) flow logs. It also extracts findings detected by\n            Amazon GuardDuty.</p>\n         <p>The Detective API primarily supports the creation and management of behavior\n         graphs. A behavior graph contains the extracted data from a set of member accounts, and is\n         created and managed by an administrator account.</p>\n         <p>To add a member account to the behavior graph, the administrator account sends an\n         invitation to the account. When the account accepts the invitation, it becomes a member\n         account in the behavior graph.</p>\n         <p>Detective is also integrated with Organizations. The organization\n         management account designates the Detective administrator account for the\n         organization. That account becomes the administrator account for the organization behavior\n         graph. The Detective administrator account is also the delegated administrator\n         account for Detective in Organizations.</p>\n         <p>The Detective administrator account can enable any organization account as a\n         member account in the organization behavior graph. The organization accounts do not receive\n         invitations. The Detective administrator account can also invite other accounts to\n         the organization behavior graph.</p>\n         <p>Every behavior graph is specific to a Region. You can only use the API to manage\n         behavior graphs that belong to the Region that is associated with the currently selected\n         endpoint.</p>\n         <p>The administrator account for a behavior graph can use the Detective API to do\n         the following:</p>\n         <ul>\n            <li>\n               <p>Enable and disable Detective. Enabling Detective creates a new\n               behavior graph.</p>\n            </li>\n            <li>\n               <p>View the list of member accounts in a behavior graph.</p>\n            </li>\n            <li>\n               <p>Add member accounts to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Remove member accounts from a behavior graph.</p>\n            </li>\n            <li>\n               <p>Apply tags to a behavior graph.</p>\n            </li>\n         </ul>\n         <p>The organization management account can use the Detective API to select the\n         delegated administrator for Detective.</p>\n         <p>The Detective administrator account for an organization can use the Detective API to do the following:</p>\n         <ul>\n            <li>\n               <p>Perform all of the functions of an administrator account.</p>\n            </li>\n            <li>\n               <p>Determine whether to automatically enable new organization accounts as member\n               accounts in the organization behavior graph.</p>\n            </li>\n         </ul>\n         <p>An invited member account can use the Detective API to do the following:</p>\n         <ul>\n            <li>\n               <p>View the list of behavior graphs that they are invited to.</p>\n            </li>\n            <li>\n               <p>Accept an invitation to contribute to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Decline an invitation to contribute to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Remove their account from a behavior graph.</p>\n            </li>\n         </ul>\n         <p>All API actions are logged as CloudTrail events. See <a href=\"https://docs.aws.amazon.com/detective/latest/userguide/logging-using-cloudtrail.html\">Logging Detective API Calls with CloudTrail</a>.</p>\n         <note>\n            <p>We replaced the term \"master account\" with the term \"administrator account\". An\n            administrator account is used to centrally manage multiple accounts. In the case of\n               Detective, the administrator account manages the accounts in their behavior\n            graph.</p>\n         </note>",
        "smithy.api#title": "Amazon Detective",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://detective.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://detective-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-us-gov"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://detective.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-us-gov"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://detective-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://api.detective-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://api.detective-fips.{Region}.{PartitionResult#dnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://api.detective.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://api.detective.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://detective-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://detective.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://detective-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://detective.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eusc-de-east-1.amazonaws.eu"
                }
              },
              "params": {
                "Region": "eusc-de-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eusc-de-east-1.amazonaws.eu"
                }
              },
              "params": {
                "Region": "eusc-de-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.detective#Aso": {
      "type": "string"
    },
    "com.amazonaws.detective#BatchGetGraphMemberDatasources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#BatchGetGraphMemberDatasourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#BatchGetGraphMemberDatasourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets data source package information for the behavior graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/datasources/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#BatchGetGraphMemberDatasourcesRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdExtendedList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services accounts to get data source package information\n         on.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#BatchGetGraphMemberDatasourcesResponse": {
      "type": "structure",
      "members": {
        "MemberDatasources": {
          "target": "com.amazonaws.detective#MembershipDatasourcesList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the status of data source packages for members of the behavior graph.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>Accounts that data source package information could not be retrieved for.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.detective#BatchGetMembershipDatasources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#BatchGetMembershipDatasourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#BatchGetMembershipDatasourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information on the data source package history for an account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/membership/datasources/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#BatchGetMembershipDatasourcesRequest": {
      "type": "structure",
      "members": {
        "GraphArns": {
          "target": "com.amazonaws.detective#GraphArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#BatchGetMembershipDatasourcesResponse": {
      "type": "structure",
      "members": {
        "MembershipDatasources": {
          "target": "com.amazonaws.detective#MembershipDatasourcesList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the data source package history for an member of the behavior graph.</p>"
          }
        },
        "UnprocessedGraphs": {
          "target": "com.amazonaws.detective#UnprocessedGraphList",
          "traits": {
            "smithy.api#documentation": "<p>Graphs that data source package information could not be retrieved for.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.detective#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.detective#ByteValue": {
      "type": "long"
    },
    "com.amazonaws.detective#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request attempted an invalid action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.detective#CreateGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#CreateGraphRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#CreateGraphResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new behavior graph for the calling account, and sets that account as the\n         administrator account. This operation is called by the account that is enabling Detective.</p>\n         <p>The operation also enables Detective for the calling account in the currently\n         selected Region. It returns the ARN of the new behavior graph.</p>\n         <p>\n            <code>CreateGraph</code> triggers a process to create the corresponding data tables for\n         the new behavior graph.</p>\n         <p>An account can only be the administrator account for one behavior graph within a Region.\n         If the same account calls <code>CreateGraph</code> with the same administrator account, it\n         always returns the same behavior graph ARN. It does not create a new behavior graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#CreateGraphRequest": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.detective#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the new behavior graph. You can add up to 50 tags. For each tag,\n         you provide the tag key and the tag value. Each tag key can contain up to 128 characters.\n         Each tag value can contain up to 256 characters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#CreateGraphResponse": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new behavior graph.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.detective#CreateMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#CreateMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#CreateMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>CreateMembers</code> is used to send invitations to accounts. For the organization\n         behavior graph, the Detective administrator account uses\n         <code>CreateMembers</code> to enable organization accounts as member accounts.</p>\n         <p>For invited accounts, <code>CreateMembers</code> sends a request to invite the specified\n         Amazon Web Services accounts to be member accounts in the behavior graph. This operation\n         can only be called by the administrator account for a behavior graph. </p>\n         <p>\n            <code>CreateMembers</code> verifies the accounts and then invites the verified accounts.\n         The administrator can optionally specify to not send invitation emails to the member\n         accounts. This would be used when the administrator manages their member accounts\n         centrally.</p>\n         <p>For organization accounts in the organization behavior graph, <code>CreateMembers</code>\n         attempts to enable the accounts. The organization accounts do not receive\n         invitations.</p>\n         <p>The request provides the behavior graph ARN and the list of accounts to invite or to\n         enable.</p>\n         <p>The response separates the requested accounts into two lists:</p>\n         <ul>\n            <li>\n               <p>The accounts that <code>CreateMembers</code> was able to process. For invited\n               accounts, includes member accounts that are being verified, that have passed\n               verification and are to be invited, and that have failed verification. For\n               organization accounts in the organization behavior graph, includes accounts that can\n               be enabled and that cannot be enabled.</p>\n            </li>\n            <li>\n               <p>The accounts that <code>CreateMembers</code> was unable to process. This list\n               includes accounts that were already invited to be member accounts in the behavior\n               graph.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#CreateMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.detective#EmailMessage",
          "traits": {
            "smithy.api#documentation": "<p>Customized message text to include in the invitation email message to the invited member\n         accounts.</p>"
          }
        },
        "DisableEmailNotification": {
          "target": "com.amazonaws.detective#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>if set to <code>true</code>, then the invited accounts do not receive email\n         notifications. By default, this is set to <code>false</code>, and the invited accounts\n         receive email notifications.</p>\n         <p>Organization accounts in the organization behavior graph do not receive email\n         notifications.</p>"
          }
        },
        "Accounts": {
          "target": "com.amazonaws.detective#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services accounts to invite or to enable. You can invite or enable\n         up to 50 accounts at a time. For each invited account, the account list contains the\n         account identifier and the Amazon Web Services account root user email address. For\n         organization accounts in the organization behavior graph, the email address is not\n         required.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#CreateMembersResponse": {
      "type": "structure",
      "members": {
        "Members": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The set of member account invitation or enablement requests that Detective was\n         able to process. This includes accounts that are being verified, that failed verification,\n         and that passed verification and are being sent an invitation or are being enabled.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of accounts for which Detective was unable to process the invitation\n         or enablement request. For each account, the list provides the reason why the request could\n         not be processed. The list includes accounts that are already member accounts in the\n         behavior graph.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.detective#DatasourcePackage": {
      "type": "enum",
      "members": {
        "DETECTIVE_CORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTIVE_CORE"
          }
        },
        "EKS_AUDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKS_AUDIT"
          }
        },
        "ASFF_SECURITYHUB_FINDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASFF_SECURITYHUB_FINDING"
          }
        }
      }
    },
    "com.amazonaws.detective#DatasourcePackageIngestDetail": {
      "type": "structure",
      "members": {
        "DatasourcePackageIngestState": {
          "target": "com.amazonaws.detective#DatasourcePackageIngestState",
          "traits": {
            "smithy.api#documentation": "<p>Details on which data source packages are ingested for a member account.</p>"
          }
        },
        "LastIngestStateChange": {
          "target": "com.amazonaws.detective#LastIngestStateChangeDates",
          "traits": {
            "smithy.api#documentation": "<p>The date a data source package was enabled for this account</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the data source packages ingested by your behavior graph.</p>"
      }
    },
    "com.amazonaws.detective#DatasourcePackageIngestDetails": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.detective#DatasourcePackage"
      },
      "value": {
        "target": "com.amazonaws.detective#DatasourcePackageIngestDetail"
      }
    },
    "com.amazonaws.detective#DatasourcePackageIngestHistory": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.detective#DatasourcePackage"
      },
      "value": {
        "target": "com.amazonaws.detective#LastIngestStateChangeDates"
      }
    },
    "com.amazonaws.detective#DatasourcePackageIngestState": {
      "type": "enum",
      "members": {
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTED"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.detective#DatasourcePackageIngestStates": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.detective#DatasourcePackage"
      },
      "value": {
        "target": "com.amazonaws.detective#DatasourcePackageIngestState"
      }
    },
    "com.amazonaws.detective#DatasourcePackageList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#DatasourcePackage"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.detective#DatasourcePackageUsageInfo": {
      "type": "structure",
      "members": {
        "VolumeUsageInBytes": {
          "target": "com.amazonaws.detective#ByteValue",
          "traits": {
            "smithy.api#documentation": "<p>Total volume of data in bytes per day ingested for a given data source package.</p>"
          }
        },
        "VolumeUsageUpdateTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The data and time when the member account data volume was last updated. The value is an\n         ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information on the usage of a data source package in the behavior graph.</p>"
      }
    },
    "com.amazonaws.detective#DateFilter": {
      "type": "structure",
      "members": {
        "StartInclusive": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp representing the start of the time period from when data is filtered, including the start date.</p>",
            "smithy.api#required": {}
          }
        },
        "EndInclusive": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp representing the end date of the time period until when data is filtered, including the end date.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details on the time range used to filter data.</p>"
      }
    },
    "com.amazonaws.detective#DeleteGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DeleteGraphRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified behavior graph and queues it to be deleted. This operation\n         removes the behavior graph from each member account's list of behavior graphs.</p>\n         <p>\n            <code>DeleteGraph</code> can only be called by the administrator account for a behavior\n         graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DeleteGraphRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to disable.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#DeleteMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DeleteMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#DeleteMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified member accounts from the behavior graph. The removed accounts no\n         longer contribute data to the behavior graph. This operation can only be called by the\n         administrator account for the behavior graph.</p>\n         <p>For invited accounts, the removed accounts are deleted from the list of accounts in the\n         behavior graph. To restore the account, the administrator account must send another\n         invitation.</p>\n         <p>For organization accounts in the organization behavior graph, the Detective\n         administrator account can always enable the organization account again. Organization\n         accounts that are not enabled as member accounts are not included in the\n            <code>ListMembers</code> results for the organization behavior graph.</p>\n         <p>An administrator account cannot use <code>DeleteMembers</code> to remove their own\n         account from the behavior graph. To disable a behavior graph, the administrator account\n         uses the <code>DeleteGraph</code> API method.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DeleteMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to remove members from.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services account identifiers for the member accounts to remove\n         from the behavior graph. You can remove up to 50 member accounts at a time.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#DeleteMembersResponse": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services account identifiers for the member accounts that Detective successfully removed from the behavior graph.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of member accounts that Detective was not able to remove from the\n         behavior graph. For each member account, provides the reason that the deletion could not be\n         processed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.detective#DescribeOrganizationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DescribeOrganizationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#DescribeOrganizationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the configuration for the organization behavior graph.\n         Currently indicates whether to automatically enable new organization accounts as member\n         accounts.</p>\n         <p>Can only be called by the Detective administrator account for the organization. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/describeOrganizationConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DescribeOrganizationConfigurationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organization behavior graph.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#DescribeOrganizationConfigurationResponse": {
      "type": "structure",
      "members": {
        "AutoEnable": {
          "target": "com.amazonaws.detective#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether to automatically enable new organization accounts as member accounts\n         in the organization behavior graph.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.detective#DisableOrganizationAdminAccount": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the Detective administrator account in the current Region. Deletes the\n         organization behavior graph.</p>\n         <p>Can only be called by the organization management account.</p>\n         <p>Removing the Detective administrator account does not affect the delegated\n         administrator account for Detective in Organizations.</p>\n         <p>To remove the delegated administrator account in Organizations, use the Organizations API. Removing the delegated administrator account also removes the Detective administrator account in all Regions, except for Regions where the Detective administrator account is the organization management account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/disableAdminAccount",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DisassociateMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DisassociateMembershipRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the member account from the specified behavior graph. This operation can only be\n         called by an invited member account that has the <code>ENABLED</code> status.</p>\n         <p>\n            <code>DisassociateMembership</code> cannot be called by an organization account in the\n         organization behavior graph. For the organization behavior graph, the Detective\n         administrator account determines which organization accounts to enable or disable as member\n         accounts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/membership/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DisassociateMembershipRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to remove the member account from.</p>\n         <p>The member account's member status in the behavior graph must be\n         <code>ENABLED</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.+@(?:(?:(?!-)[A-Za-z0-9-]{1,62})?[A-Za-z0-9]{1}\\.)+[A-Za-z]{2,63}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.detective#EmailMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.detective#EnableOrganizationAdminAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#EnableOrganizationAdminAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Designates the Detective administrator account for the organization in the\n         current Region.</p>\n         <p>If the account does not have Detective enabled, then enables Detective\n         for that account and creates a new behavior graph.</p>\n         <p>Can only be called by the organization management account.</p>\n         <p>If the organization has a delegated administrator account in Organizations, then the\n            Detective administrator account must be either the delegated administrator\n         account or the organization management account.</p>\n         <p>If the organization does not have a delegated administrator account in Organizations, then you can choose any account in the organization. If you choose an account other\n         than the organization management account, Detective calls Organizations to\n         make that account the delegated administrator account for Detective. The\n         organization management account cannot be the delegated administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/enableAdminAccount",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#EnableOrganizationAdminAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the account to designate as the Detective administrator account for the organization.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#EntityArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:"
      }
    },
    "com.amazonaws.detective#EntityType": {
      "type": "enum",
      "members": {
        "IAM_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM_ROLE"
          }
        },
        "IAM_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM_USER"
          }
        }
      }
    },
    "com.amazonaws.detective#ErrorCode": {
      "type": "enum",
      "members": {
        "InvalidGraphArn": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_GRAPH_ARN"
          }
        },
        "InvalidRequestBody": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_REQUEST_BODY"
          }
        },
        "InternalError": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        }
      }
    },
    "com.amazonaws.detective#ErrorCodeReason": {
      "type": "string"
    },
    "com.amazonaws.detective#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.detective#Field": {
      "type": "enum",
      "members": {
        "SEVERITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS"
          }
        },
        "CREATED_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED_TIME"
          }
        }
      }
    },
    "com.amazonaws.detective#FilterCriteria": {
      "type": "structure",
      "members": {
        "Severity": {
          "target": "com.amazonaws.detective#StringFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filter the investigation results based on the severity.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.detective#StringFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filter the investigation results based on the status.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.detective#StringFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filter the investigation results based on the state.</p>"
          }
        },
        "EntityArn": {
          "target": "com.amazonaws.detective#StringFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filter the investigation results based on the Amazon Resource Name (ARN) of the entity.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.detective#DateFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filter the investigation results based on when the investigation was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details on the criteria used to define the filter for investigation results.</p>"
      }
    },
    "com.amazonaws.detective#FlaggedIpAddressDetail": {
      "type": "structure",
      "members": {
        "IpAddress": {
          "target": "com.amazonaws.detective#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>IP address of the suspicious entity.</p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.detective#Reason",
          "traits": {
            "smithy.api#documentation": "<p>Details the reason the IP address was flagged as suspicious.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on suspicious IP addresses identified as indicators of compromise. This indicator is derived from Amazon Web Services threat intelligence.</p>"
      }
    },
    "com.amazonaws.detective#GetInvestigation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#GetInvestigationRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#GetInvestigationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detective investigations lets you investigate IAM users and IAM roles using indicators of compromise. An indicator of compromise (IOC) is an artifact observed in or on a network, system, or environment that can (with a high level of confidence) identify malicious activity or a security incident.  <code>GetInvestigation</code> returns the investigation results of an investigation for a behavior graph. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/investigations/getInvestigation",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#GetInvestigationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the behavior graph.</p>",
            "smithy.api#required": {}
          }
        },
        "InvestigationId": {
          "target": "com.amazonaws.detective#InvestigationId",
          "traits": {
            "smithy.api#documentation": "<p>The investigation ID of the investigation report.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#GetInvestigationResponse": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the behavior graph.</p>"
          }
        },
        "InvestigationId": {
          "target": "com.amazonaws.detective#InvestigationId",
          "traits": {
            "smithy.api#documentation": "<p>The investigation ID of the investigation report.</p>"
          }
        },
        "EntityArn": {
          "target": "com.amazonaws.detective#EntityArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN). Detective supports IAM user ARNs and IAM role ARNs.</p>"
          }
        },
        "EntityType": {
          "target": "com.amazonaws.detective#EntityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of entity. For example, Amazon Web Services accounts, such as an IAM user and/or IAM role.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the investigation report in UTC time stamp format.</p>"
          }
        },
        "ScopeStartTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start date and time used to set the scope time within which you want to generate the investigation report. The value is an UTC ISO8601 formatted\n         string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        },
        "ScopeEndTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The data and time when the investigation began. The value is an UTC ISO8601 formatted\n         string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.detective#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status based on the completion status of the investigation.</p>"
          }
        },
        "Severity": {
          "target": "com.amazonaws.detective#Severity",
          "traits": {
            "smithy.api#documentation": "<p>The severity assigned is based on the likelihood and impact of the indicators of\n         compromise discovered in the investigation.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.detective#State",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the investigation. An archived investigation indicates that you\n         have completed reviewing the investigation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.detective#GetMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#GetMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#GetMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the membership details for specified member accounts for a behavior\n         graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#GetMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph for which to request the member details.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services account identifiers for the member account for which to\n         return member details. You can request details for up to 50 member accounts at a\n         time.</p>\n         <p>You cannot use <code>GetMembers</code> to retrieve information about member accounts\n         that were removed from the behavior graph.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.detective#GetMembersResponse": {
      "type": "structure",
      "members": {
        "MemberDetails": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The member account details that Detective is returning in response to the\n         request.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The requested member accounts for which Detective was unable to return member\n         details.</p>\n         <p>For each account, provides the reason why the request could not be processed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.detective#Graph": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the behavior graph was created. The value is an ISO8601 formatted\n         string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A behavior graph in Detective.</p>"
      }
    },
    "com.amazonaws.detective#GraphArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[-\\w]{0,10}?:detective:[-\\w]{2,20}?:\\d{12}?:graph:[abcdef\\d]{32}?$"
      }
    },
    "com.amazonaws.detective#GraphArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#GraphArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#GraphList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#Graph"
      }
    },
    "com.amazonaws.detective#HourlyTimeDelta": {
      "type": "integer"
    },
    "com.amazonaws.detective#Id": {
      "type": "string"
    },
    "com.amazonaws.detective#ImpossibleTravelDetail": {
      "type": "structure",
      "members": {
        "StartingIpAddress": {
          "target": "com.amazonaws.detective#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>IP address where the resource was first used in the impossible travel.</p>"
          }
        },
        "EndingIpAddress": {
          "target": "com.amazonaws.detective#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>IP address where the resource was last used in the impossible travel.</p>"
          }
        },
        "StartingLocation": {
          "target": "com.amazonaws.detective#Location",
          "traits": {
            "smithy.api#documentation": "<p>Location where the resource was first used in the impossible travel.</p>"
          }
        },
        "EndingLocation": {
          "target": "com.amazonaws.detective#Location",
          "traits": {
            "smithy.api#documentation": "<p>Location where the resource was last used in the impossible travel.</p>"
          }
        },
        "HourlyTimeDelta": {
          "target": "com.amazonaws.detective#HourlyTimeDelta",
          "traits": {
            "smithy.api#documentation": "<p>Returns the time difference between the first and last timestamp the resource was used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on unusual and impossible travel in an account.</p>"
      }
    },
    "com.amazonaws.detective#Indicator": {
      "type": "structure",
      "members": {
        "IndicatorType": {
          "target": "com.amazonaws.detective#IndicatorType",
          "traits": {
            "smithy.api#documentation": "<p>The type of indicator. </p>"
          }
        },
        "IndicatorDetail": {
          "target": "com.amazonaws.detective#IndicatorDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the indicators of compromise that are used to determine if a resource is involved in a security incident. An indicator of compromise (IOC) is an artifact observed in or on a network, system, or environment that can (with a high level of confidence) identify malicious activity or a security incident.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detective investigations triages indicators of compromises such as a finding\n         and surfaces only the most critical and suspicious issues, so you can focus on high-level\n         investigations. An <code>Indicator</code> lets you determine if an Amazon Web Services\n         resource is involved in unusual activity that could indicate malicious behavior and its\n         impact.</p>"
      }
    },
    "com.amazonaws.detective#IndicatorDetail": {
      "type": "structure",
      "members": {
        "TTPsObservedDetail": {
          "target": "com.amazonaws.detective#TTPsObservedDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the indicator of compromise.</p>"
          }
        },
        "ImpossibleTravelDetail": {
          "target": "com.amazonaws.detective#ImpossibleTravelDetail",
          "traits": {
            "smithy.api#documentation": "<p>Identifies unusual and impossible user activity for an account. </p>"
          }
        },
        "FlaggedIpAddressDetail": {
          "target": "com.amazonaws.detective#FlaggedIpAddressDetail",
          "traits": {
            "smithy.api#documentation": "<p>Suspicious IP addresses that are flagged, which indicates critical or severe threats based on threat intelligence by Detective. This indicator is derived from Amazon Web Services threat intelligence.</p>"
          }
        },
        "NewGeolocationDetail": {
          "target": "com.amazonaws.detective#NewGeolocationDetail",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the new geographic location.</p>"
          }
        },
        "NewAsoDetail": {
          "target": "com.amazonaws.detective#NewAsoDetail",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the new Autonomous System Organization (ASO).</p>"
          }
        },
        "NewUserAgentDetail": {
          "target": "com.amazonaws.detective#NewUserAgentDetail",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the new user agent.</p>"
          }
        },
        "RelatedFindingDetail": {
          "target": "com.amazonaws.detective#RelatedFindingDetail",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about related findings.</p>"
          }
        },
        "RelatedFindingGroupDetail": {
          "target": "com.amazonaws.detective#RelatedFindingGroupDetail",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about related finding groups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the indicators of compromise which are used to determine if a resource is involved in a security incident. An indicator of compromise (IOC) is an artifact observed in or on a network, system, or environment that can (with a high level of confidence) identify malicious activity or a security incident. For the list of indicators of compromise that are generated by Detective investigations, see <a href=\"https://docs.aws.amazon.com/detective/latest/userguide/detective-investigation-about.html\">Detective investigations</a>.</p>"
      }
    },
    "com.amazonaws.detective#IndicatorType": {
      "type": "enum",
      "members": {
        "TTP_OBSERVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TTP_OBSERVED"
          }
        },
        "IMPOSSIBLE_TRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPOSSIBLE_TRAVEL"
          }
        },
        "FLAGGED_IP_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLAGGED_IP_ADDRESS"
          }
        },
        "NEW_GEOLOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_GEOLOCATION"
          }
        },
        "NEW_ASO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_ASO"
          }
        },
        "NEW_USER_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_USER_AGENT"
          }
        },
        "RELATED_FINDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELATED_FINDING"
          }
        },
        "RELATED_FINDING_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
