{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.detective#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#AcceptInvitationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts an invitation for the member account to contribute data to a behavior graph.\n         This operation can only be called by an invited member account. </p>\n         <p>The request provides the ARN of behavior graph.</p>\n         <p>The member account status in the graph must be <code>INVITED</code>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/invitation",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph that the member account is accepting the invitation\n         for.</p>\n         <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#Account": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account identifier of the Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.detective#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account root user email address for the Amazon Web Services\n         account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Services account that is the administrator account of or a member of a\n         behavior graph.</p>"
      }
    },
    "com.amazonaws.detective#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.detective#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#Account"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#Administrator": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the Detective administrator\n         account for the organization.</p>"
          }
        },
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organization behavior graph.</p>"
          }
        },
        "DelegationTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the Detective administrator account was enabled. The\n         value is an ISO8601 formatted string. For example,\n         <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the Detective administrator account for an\n         organization.</p>"
      }
    },
    "com.amazonaws.detective#AdministratorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#Administrator"
      }
    },
    "com.amazonaws.detective#AmazonDetective": {
      "type": "service",
      "traits": {
        "aws.api#service": {
          "sdkId": "Detective",
          "arnNamespace": "detective",
          "cloudFormationName": "Detective",
          "cloudTrailEventSource": "detective.amazonaws.com",
          "endpointPrefix": "api.detective"
        },
        "aws.auth#sigv4": {
          "name": "detective"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Detective uses machine learning and purpose-built visualizations to help you to\n         analyze and investigate security issues across your Amazon Web Services (Amazon Web Services) workloads. Detective automatically extracts time-based events such\n         as login attempts, API calls, and network traffic from CloudTrail and Amazon Virtual Private Cloud (Amazon VPC) flow logs. It also extracts findings detected by\n            Amazon GuardDuty.</p>\n         <p>The Detective API primarily supports the creation and management of behavior\n         graphs. A behavior graph contains the extracted data from a set of member accounts, and is\n         created and managed by an administrator account.</p>\n         <p>To add a member account to the behavior graph, the administrator account sends an\n         invitation to the account. When the account accepts the invitation, it becomes a member\n         account in the behavior graph.</p>\n         <p>Detective is also integrated with Organizations. The organization\n         management account designates the Detective administrator account for the\n         organization. That account becomes the administrator account for the organization behavior\n         graph. The Detective administrator account can enable any organization account as\n         a member account in the organization behavior graph. The organization accounts do not\n         receive invitations. The Detective administrator account can also invite other\n         accounts to the organization behavior graph.</p>\n         <p>Every behavior graph is specific to a Region. You can only use the API to manage\n         behavior graphs that belong to the Region that is associated with the currently selected\n         endpoint.</p>\n         <p>The administrator account for a behavior graph can use the Detective API to do\n         the following:</p>\n         <ul>\n            <li>\n               <p>Enable and disable Detective. Enabling Detective creates a new\n               behavior graph.</p>\n            </li>\n            <li>\n               <p>View the list of member accounts in a behavior graph.</p>\n            </li>\n            <li>\n               <p>Add member accounts to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Remove member accounts from a behavior graph.</p>\n            </li>\n            <li>\n               <p>Apply tags to a behavior graph.</p>\n            </li>\n         </ul>\n         <p>The organization management account can use the Detective API to select the\n         delegated administrator for Detective.</p>\n         <p>The Detective administrator account for an organization can use the Detective API to do the following:</p>\n         <ul>\n            <li>\n               <p>Perform all of the functions of an administrator account.</p>\n            </li>\n            <li>\n               <p>Determine whether to automatically enable new organization accounts as member\n               accounts in the organization behavior graph.</p>\n            </li>\n         </ul>\n         <p>An invited member account can use the Detective API to do the following:</p>\n         <ul>\n            <li>\n               <p>View the list of behavior graphs that they are invited to.</p>\n            </li>\n            <li>\n               <p>Accept an invitation to contribute to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Decline an invitation to contribute to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Remove their account from a behavior graph.</p>\n            </li>\n         </ul>\n         <p>All API actions are logged as CloudTrail events. See <a href=\"https://docs.aws.amazon.com/detective/latest/adminguide/logging-using-cloudtrail.html\">Logging Detective API Calls with CloudTrail</a>.</p>\n         <note>\n            <p>We replaced the term \"master account\" with the term \"administrator account.\" An\n            administrator account is used to centrally manage multiple accounts. In the case of\n               Detective, the administrator account manages the accounts in their behavior\n            graph.</p>\n         </note>",
        "smithy.api#title": "Amazon Detective"
      },
      "version": "2018-10-26",
      "operations": [
        {
          "target": "com.amazonaws.detective#AcceptInvitation"
        },
        {
          "target": "com.amazonaws.detective#CreateGraph"
        },
        {
          "target": "com.amazonaws.detective#CreateMembers"
        },
        {
          "target": "com.amazonaws.detective#DeleteGraph"
        },
        {
          "target": "com.amazonaws.detective#DeleteMembers"
        },
        {
          "target": "com.amazonaws.detective#DescribeOrganizationConfiguration"
        },
        {
          "target": "com.amazonaws.detective#DisableOrganizationAdminAccount"
        },
        {
          "target": "com.amazonaws.detective#DisassociateMembership"
        },
        {
          "target": "com.amazonaws.detective#EnableOrganizationAdminAccount"
        },
        {
          "target": "com.amazonaws.detective#GetMembers"
        },
        {
          "target": "com.amazonaws.detective#ListGraphs"
        },
        {
          "target": "com.amazonaws.detective#ListInvitations"
        },
        {
          "target": "com.amazonaws.detective#ListMembers"
        },
        {
          "target": "com.amazonaws.detective#ListOrganizationAdminAccounts"
        },
        {
          "target": "com.amazonaws.detective#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.detective#RejectInvitation"
        },
        {
          "target": "com.amazonaws.detective#StartMonitoringMember"
        },
        {
          "target": "com.amazonaws.detective#TagResource"
        },
        {
          "target": "com.amazonaws.detective#UntagResource"
        },
        {
          "target": "com.amazonaws.detective#UpdateOrganizationConfiguration"
        }
      ]
    },
    "com.amazonaws.detective#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.detective#ByteValue": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.detective#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request attempted an invalid action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.detective#CreateGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#CreateGraphRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#CreateGraphResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new behavior graph for the calling account, and sets that account as the\n         administrator account. This operation is called by the account that is enabling Detective.</p>\n         <p>Before you try to enable Detective, make sure that your account has been\n         enrolled in Amazon GuardDuty for at least 48 hours. If you do not meet this\n         requirement, you cannot enable Detective. If you do meet the GuardDuty\n         prerequisite, then when you make the request to enable Detective, it checks\n         whether your data volume is within the Detective quota. If it exceeds the quota,\n         then you cannot enable Detective. </p>\n         <p>The operation also enables Detective for the calling account in the currently\n         selected Region. It returns the ARN of the new behavior graph.</p>\n         <p>\n            <code>CreateGraph</code> triggers a process to create the corresponding data tables for\n         the new behavior graph.</p>\n         <p>An account can only be the administrator account for one behavior graph within a Region.\n         If the same account calls <code>CreateGraph</code> with the same administrator account, it\n         always returns the same behavior graph ARN. It does not create a new behavior graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#CreateGraphRequest": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.detective#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the new behavior graph. You can add up to 50 tags. For each tag,\n         you provide the tag key and the tag value. Each tag key can contain up to 128 characters.\n         Each tag value can contain up to 256 characters.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#CreateGraphResponse": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new behavior graph.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#CreateMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#CreateMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#CreateMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>CreateMembers</code> is used to send invitations to accounts. For the organization\n         behavior graph, the Detective administrator account uses\n            <code>CreateMembers</code> to enable organization accounts as member accounts.</p>\n         <p>For invited accounts, <code>CreateMembers</code> sends a request to invite the specified\n            Amazon Web Services accounts to be member accounts in the behavior graph. This operation\n         can only be called by the administrator account for a behavior graph. </p>\n         <p>\n            <code>CreateMembers</code> verifies the accounts and then invites the verified accounts.\n         The administrator can optionally specify to not send invitation emails to the member\n         accounts. This would be used when the administrator manages their member accounts\n         centrally.</p>\n         <p>For organization accounts in the organization behavior graph, <code>CreateMembers</code>\n         attempts to enable the accounts. The organization accounts do not receive\n         invitations.</p>\n         <p>The request provides the behavior graph ARN and the list of accounts to invite or to\n         enable.</p>\n         <p>The response separates the requested accounts into two lists:</p>\n         <ul>\n            <li>\n               <p>The accounts that <code>CreateMembers</code> was able to process. For invited\n               accounts, includes member accounts that are being verified, that have passed\n               verification and are to be invited, and that have failed verification. For\n               organization accounts in the organization behavior graph, includes accounts that can\n               be enabled and that cannot be enabled.</p>\n            </li>\n            <li>\n               <p>The accounts that <code>CreateMembers</code> was unable to process. This list\n               includes accounts that were already invited to be member accounts in the behavior\n               graph.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#CreateMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.detective#EmailMessage",
          "traits": {
            "smithy.api#documentation": "<p>Customized message text to include in the invitation email message to the invited member\n         accounts.</p>"
          }
        },
        "DisableEmailNotification": {
          "target": "com.amazonaws.detective#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>if set to <code>true</code>, then the invited accounts do not receive email\n         notifications. By default, this is set to <code>false</code>, and the invited accounts\n         receive email notifications.</p>\n         <p>Organization accounts in the organization behavior graph do not receive email\n         notifications.</p>"
          }
        },
        "Accounts": {
          "target": "com.amazonaws.detective#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services accounts to invite or to enable. You can invite or enable\n         up to 50 accounts at a time. For each invited account, the account list contains the\n         account identifier and the Amazon Web Services account root user email address. For\n         organization accounts in the organization behavior graph, the email address is not\n         required.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#CreateMembersResponse": {
      "type": "structure",
      "members": {
        "Members": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The set of member account invitation or enablement requests that Detective was\n         able to process. This includes accounts that are being verified, that failed verification,\n         and that passed verification and are being sent an invitation or are being enabled.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of accounts for which Detective was unable to process the invitation\n         or enablement request. For each account, the list provides the reason why the request could\n         not be processed. The list includes accounts that are already member accounts in the\n         behavior graph.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#DeleteGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DeleteGraphRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified behavior graph and queues it to be deleted. This operation\n         removes the behavior graph from each member account's list of behavior graphs.</p>\n         <p>\n            <code>DeleteGraph</code> can only be called by the administrator account for a behavior\n         graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DeleteGraphRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to disable.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#DeleteMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DeleteMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#DeleteMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified member accounts from the behavior graph. The removed accounts no\n         longer contribute data to the behavior graph. This operation can only be called by the\n         administrator account for the behavior graph.</p>\n         <p>For invited accounts, the removed accounts are deleted from the list of accounts in the\n         behavior graph. To restore the account, the administrator account must send another\n         invitation.</p>\n         <p>For organization accounts in the organization behavior graph, the Detective\n         administrator account can always enable the organization account again. Organization\n         accounts that are not enabled as member accounts are not included in the\n            <code>ListMembers</code> results for the organization behavior graph.</p>\n         <p>An administrator account cannot use <code>DeleteMembers</code> to remove their own\n         account from the behavior graph. To disable a behavior graph, the administrator account\n         uses the <code>DeleteGraph</code> API method.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DeleteMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to remove members from.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services account identifiers for the member accounts to remove\n         from the behavior graph. You can remove up to 50 member accounts at a time.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#DeleteMembersResponse": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services account identifiers for the member accounts that Detective successfully removed from the behavior graph.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of member accounts that Detective was not able to remove from the\n         behavior graph. For each member account, provides the reason that the deletion could not be\n         processed.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#DescribeOrganizationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DescribeOrganizationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#DescribeOrganizationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the configuration for the organization behavior graph.\n         Currently indicates whether to automatically enable new organization accounts as member\n         accounts.</p>\n         <p>Can only be called by the Detective administrator account for the organization. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/describeOrganizationConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DescribeOrganizationConfigurationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organization behavior graph.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#DescribeOrganizationConfigurationResponse": {
      "type": "structure",
      "members": {
        "AutoEnable": {
          "target": "com.amazonaws.detective#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to automatically enable new organization accounts as member accounts\n         in the organization behavior graph.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#DisableOrganizationAdminAccount": {
      "type": "operation",
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the Detective administrator account for the organization in the current\n         Region. Deletes the behavior graph for that account.</p>\n         <p>Can only be called by the organization management account. Before you can select a\n         different Detective administrator account, you must remove the Detective\n         administrator account in all Regions.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/disableAdminAccount",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DisassociateMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DisassociateMembershipRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the member account from the specified behavior graph. This operation can only be\n         called by an invited member account that has the <code>ENABLED</code> status.</p>\n         <p>\n            <code>DisassociateMembership</code> cannot be called by an organization account in the\n         organization behavior graph. For the organization behavior graph, the Detective\n         administrator account determines which organization accounts to enable or disable as member\n         accounts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/membership/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DisassociateMembershipRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to remove the member account from.</p>\n         <p>The member account's member status in the behavior graph must be\n         <code>ENABLED</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.+@.+$"
      }
    },
    "com.amazonaws.detective#EmailMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.detective#EnableOrganizationAdminAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#EnableOrganizationAdminAccountRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Designates the Detective administrator account for the organization in the\n         current Region.</p>\n         <p>If the account does not have Detective enabled, then enables Detective\n         for that account and creates a new behavior graph.</p>\n         <p>Can only be called by the organization management account.</p>\n         <p>The Detective administrator account for an organization must be the same in all\n         Regions. If you already designated a Detective administrator account in another\n         Region, then you must designate the same account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/enableAdminAccount",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#EnableOrganizationAdminAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the account to designate as the Detective administrator account for the organization.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.detective#GetMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#GetMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#GetMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the membership details for specified member accounts for a behavior\n         graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#GetMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph for which to request the member details.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services account identifiers for the member account for which to\n         return member details. You can request details for up to 50 member accounts at a\n         time.</p>\n         <p>You cannot use <code>GetMembers</code> to retrieve information about member accounts\n         that were removed from the behavior graph.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#GetMembersResponse": {
      "type": "structure",
      "members": {
        "MemberDetails": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The member account details that Detective is returning in response to the\n         request.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The requested member accounts for which Detective was unable to return member\n         details.</p>\n         <p>For each account, provides the reason why the request could not be processed.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#Graph": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the behavior graph was created. The value is an ISO8601 formatted\n         string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A behavior graph in Detective.</p>"
      }
    },
    "com.amazonaws.detective#GraphArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[-\\w]{0,10}?:detective:[-\\w]{2,20}?:\\d{12}?:graph:[abcdef\\d]{32}?$"
      }
    },
    "com.amazonaws.detective#GraphList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#Graph"
      }
    },
    "com.amazonaws.detective#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was valid but failed because of a problem with the service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.detective#InvitationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVITATION",
            "name": "INVITATION"
          },
          {
            "value": "ORGANIZATION",
            "name": "ORGANIZATION"
          }
        ]
      }
    },
    "com.amazonaws.detective#ListGraphs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#ListGraphsRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#ListGraphsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the list of behavior graphs that the calling account is an administrator account\n         of. This operation can only be called by an administrator account.</p>\n         <p>Because an account can currently only be the administrator of one behavior graph within\n         a Region, the results always contain a single behavior graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphs/list",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.detective#ListGraphsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>For requests to get the next page of results, the pagination token that was returned\n         with the previous set of results. The initial request does not include a pagination\n         token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.detective#MemberResultsLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of graphs to return at a time. The total must be less than the\n         overall limit on the number of results to return, which is currently 200.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListGraphsResponse": {
      "type": "structure",
      "members": {
        "GraphList": {
          "target": "com.amazonaws.detective#GraphList",
          "traits": {
            "smithy.api#documentation": "<p>A list of behavior graphs that the account is an administrator account for.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more behavior graphs remaining in the results, then this is the pagination\n         token to use to request the next page of behavior graphs.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#ListInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#ListInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the list of open and accepted behavior graph invitations for the member\n         account. This operation can only be called by an invited member account.</p>\n         <p>Open invitations are invitations that the member account has not responded to.</p>\n         <p>The results do not include behavior graphs for which the member account declined the\n         invitation. The results also do not include behavior graphs that the member account\n         resigned from or was removed from.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitations/list",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.detective#ListInvitationsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>For requests to retrieve the next page of results, the pagination token that was\n         returned with the previous page of results. The initial request does not include a\n         pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.detective#MemberResultsLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of behavior graph invitations to return in the response. The total\n         must be less than the overall limit on the number of results to return, which is currently\n         200.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListInvitationsResponse": {
      "type": "structure",
      "members": {
        "Invitations": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The list of behavior graphs for which the member account has open or accepted\n         invitations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more behavior graphs remaining in the results, then this is the pagination\n         token to use to request the next page of behavior graphs.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#ListMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#ListMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the list of member accounts for a behavior graph.</p>\n         <p>For invited accounts, the results do not include member accounts that were removed from\n         the behavior graph.</p>\n         <p>For the organization behavior graph, the results do not include organization accounts\n         that the Detective administrator account has not enabled as member\n         accounts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members/list",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.detective#ListMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph for which to retrieve the list of member accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>For requests to retrieve the next page of member account results, the pagination token\n         that was returned with the previous page of results. The initial request does not include a\n         pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.detective#MemberResultsLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of member accounts to include in the response. The total must be less\n         than the overall limit on the number of results to return, which is currently 200.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListMembersResponse": {
      "type": "structure",
      "members": {
        "MemberDetails": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The list of member accounts in the behavior graph.</p>\n         <p>For invited accounts, the results include member accounts that did not pass verification\n         and member accounts that have not yet accepted the invitation to the behavior graph. The\n         results do not include member accounts that were removed from the behavior graph.</p>\n         <p>For the organization behavior graph, the results do not include organization accounts\n         that the Detective administrator account has not enabled as member\n         accounts.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more member accounts remaining in the results, then use this pagination\n         token to request the next page of member accounts.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListOrganizationAdminAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#ListOrganizationAdminAccountsRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#ListOrganizationAdminAccountsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the Detective administrator account for an\n         organization. Can only be called by the organization management account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/adminAccountslist",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.detective#ListOrganizationAdminAccountsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>For requests to get the next page of results, the pagination token that was returned\n         with the previous set of results. The initial request does not include a pagination\n         token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.detective#MemberResultsLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListOrganizationAdminAccountsResponse": {
      "type": "structure",
      "members": {
        "Administrators": {
          "target": "com.amazonaws.detective#AdministratorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of delegated administrator accounts.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more accounts remaining in the results, then this is the pagination token\n         to use to request the next page of accounts.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the tag values that are assigned to a behavior graph.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph for which to retrieve the tag values.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.detective#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tag values that are assigned to the behavior graph. The request returns up to 50 tag\n         values.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#MemberDetail": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier for the member account.</p>"
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.detective#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account root user email address for the member account.</p>"
          }
        },
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>"
          }
        },
        "MasterId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This property is deprecated. Use AdministratorId instead."
            },
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the administrator account for the behavior\n         graph.</p>"
          }
        },
        "AdministratorId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the administrator account for the behavior\n         graph.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.detective#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current membership status of the member account. The status can have one of the\n         following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>INVITED</code> - For invited accounts only. Indicates that the member was\n               sent an invitation but has not yet responded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VERIFICATION_IN_PROGRESS</code> - For invited accounts only, indicates that\n                  Detective is verifying that the account identifier and email address\n               provided for the member account match. If they do match, then Detective\n               sends the invitation. If the email address and account identifier don't match, then\n               the member cannot be added to the behavior graph.</p>\n               <p>For organization accounts in the organization behavior graph, indicates that\n                  Detective is verifying that the account belongs to the\n               organization.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VERIFICATION_FAILED</code> - For invited accounts only. Indicates that the\n               account and email address provided for the member account do not match, and Detective did not send an invitation to the account.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ENABLED</code> - Indicates that the member account currently contributes\n               data to the behavior graph. For invited accounts, the member account accepted the\n               invitation. For organization accounts in the organization behavior graph, the Detective administrator account enabled the organization account as a member\n               account.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACCEPTED_BUT_DISABLED</code> - The account accepted the invitation, or was\n               enabled by the Detective administrator account, but is prevented from\n               contributing data to the behavior graph. <code>DisabledReason</code> provides the\n               reason why the member account is not enabled.</p>\n            </li>\n         </ul>\n         <p>Invited accounts that declined an invitation or that were removed from the behavior\n         graph are not included. In the organization behavior graph, organization accounts that the\n            Detective administrator account did not enable are not included.</p>"
          }
        },
        "DisabledReason": {
          "target": "com.amazonaws.detective#MemberDisabledReason",
          "traits": {
            "smithy.api#documentation": "<p>For member accounts with a status of <code>ACCEPTED_BUT_DISABLED</code>, the reason that\n         the member account is not enabled.</p>\n         <p>The reason can have one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>VOLUME_TOO_HIGH</code> - Indicates that adding the member account would\n               cause the data volume for the behavior graph to be too high.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VOLUME_UNKNOWN</code> - Indicates that Detective is unable to\n               verify the data volume for the member account. This is usually because the member\n               account is not enrolled in Amazon GuardDuty. </p>\n            </li>\n         </ul>"
          }
        },
        "InvitedTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>For invited accounts, the date and time that Detective sent the invitation to\n         the account. The value is an ISO8601 formatted string. For example,\n            <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        },
        "UpdatedTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the member account was last updated. The value is an ISO8601\n         formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        },
        "VolumeUsageInBytes": {
          "target": "com.amazonaws.detective#ByteValue",
          "traits": {
            "smithy.api#documentation": "<p>The data volume in bytes per day for the member account.</p>"
          }
        },
        "VolumeUsageUpdatedTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The data and time when the member account data volume was last updated. The value is an\n         ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        },
        "PercentOfGraphUtilization": {
          "target": "com.amazonaws.detective#Percentage",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This property is deprecated. Use VolumeUsageInBytes instead."
            },
            "smithy.api#documentation": "<p>The member account data volume as a percentage of the maximum allowed data volume. 0\n         indicates 0 percent, and 100 indicates 100 percent.</p>\n         <p>Note that this is not the percentage of the behavior graph data volume.</p>\n         <p>For example, the data volume for the behavior graph is 80 GB per day. The maximum data\n         volume is 160 GB per day. If the data volume for the member account is 40 GB per day, then\n            <code>PercentOfGraphUtilization</code> is 25. It represents 25% of the maximum allowed\n         data volume. </p>"
          }
        },
        "PercentOfGraphUtilizationUpdatedTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This property is deprecated. Use VolumeUsageUpdatedTime instead."
            },
            "smithy.api#documentation": "<p>The date and time when the graph utilization percentage was last updated. The value is\n         an ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        },
        "InvitationType": {
          "target": "com.amazonaws.detective#InvitationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of behavior graph membership.</p>\n         <p>For an organization account in the organization behavior graph, the type is\n            <code>ORGANIZATION</code>.</p>\n         <p>For an account that was invited to a behavior graph, the type is\n         <code>INVITATION</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a member account in a behavior graph.</p>"
      }
    },
    "com.amazonaws.detective#MemberDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#MemberDetail"
      }
    },
    "com.amazonaws.detective#MemberDisabledReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "VOLUME_TOO_HIGH",
            "name": "VOLUME_TOO_HIGH"
          },
          {
            "value": "VOLUME_UNKNOWN",
            "name": "VOLUME_UNKNOWN"
          }
        ]
      }
    },
    "com.amazonaws.detective#MemberResultsLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.detective#MemberStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVITED",
            "name": "INVITED"
          },
          {
            "value": "VERIFICATION_IN_PROGRESS",
            "name": "VERIFICATION_IN_PROGRESS"
          },
          {
            "value": "VERIFICATION_FAILED",
            "name": "VERIFICATION_FAILED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "ACCEPTED_BUT_DISABLED",
            "name": "ACCEPTED_BUT_DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.detective#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.detective#Percentage": {
      "type": "double",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.detective#RejectInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#RejectInvitationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Rejects an invitation to contribute the account data to a behavior graph. This operation\n         must be called by an invited member account that has the <code>INVITED</code>\n         status.</p>\n         <p>\n            <code>RejectInvitation</code> cannot be called by an organization account in the\n         organization behavior graph. In the organization behavior graph, organization accounts do\n         not receive an invitation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitation/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#RejectInvitationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to reject the invitation to.</p>\n         <p>The member account's current member status in the behavior graph must be\n            <code>INVITED</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request refers to a nonexistent resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.detective#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This request cannot be completed for one of the following reasons.</p>\n         <ul>\n            <li>\n               <p>The request would cause the number of member accounts in the behavior graph to\n               exceed the maximum allowed. A behavior graph cannot have more than 1200 member\n               accounts.</p>\n            </li>\n            <li>\n               <p>The request would cause the data rate for the behavior graph to exceed the maximum\n               allowed.</p>\n            </li>\n            <li>\n               <p>Detective is unable to verify the data rate for the member account. This\n               is usually because the member account is not enrolled in Amazon GuardDuty.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.detective#StartMonitoringMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#StartMonitoringMemberRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends a request to enable data ingest for a member account that has a status of\n            <code>ACCEPTED_BUT_DISABLED</code>.</p>\n         <p>For valid member accounts, the status is updated as follows.</p>\n         <ul>\n            <li>\n               <p>If Detective enabled the member account, then the new status is\n                  <code>ENABLED</code>.</p>\n            </li>\n            <li>\n               <p>If Detective cannot enable the member account, the status remains\n                  <code>ACCEPTED_BUT_DISABLED</code>. </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/member/monitoringstate",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#StartMonitoringMemberRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the member account to try to enable.</p>\n         <p>The account must be an invited member account with a status of\n            <code>ACCEPTED_BUT_DISABLED</code>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$"
      }
    },
    "com.amazonaws.detective#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.detective#TagKey"
      },
      "value": {
        "target": "com.amazonaws.detective#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Applies tag values to a behavior graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.detective#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to assign the tags to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.detective#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the behavior graph. You can add up to 50 tags. For each tag, you\n         provide the tag key and the tag value. Each tag key can contain up to 128 characters. Each\n         tag value can contain up to 256 characters.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.detective#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.detective#Timestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.detective#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request cannot be completed because too many other requests are occurring at the\n         same time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.detective#UnprocessedAccount": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the member account that was not\n         processed.</p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.detective#UnprocessedReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the member account request could not be processed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A member account that was included in a request but for which the request could not be\n         processed.</p>"
      }
    },
    "com.amazonaws.detective#UnprocessedAccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#UnprocessedAccount"
      }
    },
    "com.amazonaws.detective#UnprocessedReason": {
      "type": "string"
    },
    "com.amazonaws.detective#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes tags from a behavior graph.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.detective#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to remove the tags from.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.detective#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys of the tags to remove from the behavior graph. You can remove up to 50 tags\n         at a time.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.detective#UpdateOrganizationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#UpdateOrganizationConfigurationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the configuration for the Organizations integration in the current Region.\n         Can only be called by the Detective administrator account for the\n         organization.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/updateOrganizationConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#UpdateOrganizationConfigurationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organization behavior graph.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoEnable": {
          "target": "com.amazonaws.detective#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to automatically enable new organization accounts as member accounts\n         in the organization behavior graph.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request parameters are invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
