{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.detective#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#AcceptInvitationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Accepts an invitation for the member account to contribute data to a behavior graph.\n         This operation can only be called by an invited member account. </p>\n         <p>The request provides the ARN of behavior graph.</p>\n         <p>The member account status in the graph must be <code>INVITED</code>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/invitation",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph that the member account is accepting the invitation\n         for.</p>\n         <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#Account": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account identifier of the AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.detective#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account root user email address for the AWS account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>An AWS account that is the master of or a member of a behavior graph.</p>"
      }
    },
    "com.amazonaws.detective#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.detective#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#Account"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#AmazonDetective": {
      "type": "service",
      "version": "2018-10-26",
      "operations": [
        {
          "target": "com.amazonaws.detective#AcceptInvitation"
        },
        {
          "target": "com.amazonaws.detective#CreateGraph"
        },
        {
          "target": "com.amazonaws.detective#CreateMembers"
        },
        {
          "target": "com.amazonaws.detective#DeleteGraph"
        },
        {
          "target": "com.amazonaws.detective#DeleteMembers"
        },
        {
          "target": "com.amazonaws.detective#DisassociateMembership"
        },
        {
          "target": "com.amazonaws.detective#GetMembers"
        },
        {
          "target": "com.amazonaws.detective#ListGraphs"
        },
        {
          "target": "com.amazonaws.detective#ListInvitations"
        },
        {
          "target": "com.amazonaws.detective#ListMembers"
        },
        {
          "target": "com.amazonaws.detective#RejectInvitation"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Detective",
          "arnNamespace": "detective",
          "cloudFormationName": "Detective",
          "cloudTrailEventSource": "detective.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "detective"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<important>\n            <p>Amazon Detective is currently in preview. The Detective API can only be used by accounts that\n            are admitted into the preview.</p>\n         </important>\n         <p>Detective uses machine learning and purpose-built visualizations to help you analyze and\n         investigate security issues across your Amazon Web Services (AWS) workloads. Detective automatically\n         extracts time-based events such as login attempts, API calls, and network traffic from\n         AWS CloudTrail and Amazon Virtual Private Cloud (Amazon VPC) flow logs. It also extracts findings detected by\n         Amazon GuardDuty.</p>\n         <p>The Detective API primarily supports the creation and management of behavior graphs. A\n         behavior graph contains the extracted data from a set of member accounts, and is created\n         and managed by a master account.</p>\n         <p>Every behavior graph is specific to a Region. You can only use the API to manage graphs\n         that belong to the Region that is associated with the currently selected endpoint.</p>\n         <p>A Detective master account can use the Detective API to do the following:</p>\n         <ul>\n            <li>\n               <p>Enable and disable Detective. Enabling Detective creates a new behavior graph.</p>\n            </li>\n            <li>\n               <p>View the list of member accounts in a behavior graph.</p>\n            </li>\n            <li>\n               <p>Add member accounts to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Remove member accounts from a behavior graph.</p>\n            </li>\n         </ul>\n         <p>A member account can use the Detective API to do the following:</p>\n         <ul>\n            <li>\n               <p>View the list of behavior graphs that they are invited to.</p>\n            </li>\n            <li>\n               <p>Accept an invitation to contribute to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Decline an invitation to contribute to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Remove their account from a behavior graph.</p>\n            </li>\n         </ul>\n         <p>All API actions are logged as CloudTrail events. See <a href=\"https://docs.aws.amazon.com/detective/latest/adminguide/logging-using-cloudtrail.html\">Logging Detective API Calls with CloudTrail</a>.</p>",
        "smithy.api#title": "Amazon Detective"
      }
    },
    "com.amazonaws.detective#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request attempted an invalid action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.detective#CreateGraph": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.detective#CreateGraphResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Creates a new behavior graph for the calling account, and sets that account as the\n         master account. This operation is called by the account that is enabling Detective.</p>\n         <p>The operation also enables Detective for the calling account in the currently selected\n         Region. It returns the ARN of the new behavior graph.</p>\n         <p>\n            <code>CreateGraph</code> triggers a process to create the corresponding data tables for\n         the new behavior\n         graph.</p>\n         <p>An account can only be the master account for one behavior graph within a Region. If the\n         same account calls <code>CreateGraph</code> with the same master account, it always returns\n         the same behavior graph ARN. It does not create a new behavior graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#CreateGraphResponse": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new behavior graph.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#CreateMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#CreateMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#CreateMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Sends a request to invite the specified AWS accounts to be member accounts in the\n         behavior graph. This operation can only be called by the master account for a behavior\n         graph. </p>\n         <p>\n            <code>CreateMembers</code> verifies the accounts and then sends invitations to the\n         verified accounts.</p>\n         <p>The request provides the behavior graph ARN and the list of accounts to invite.</p>\n         <p>The response separates the requested accounts into two lists:</p>\n         <ul>\n            <li>\n               <p>The accounts that <code>CreateMembers</code> was able to start the verification\n               for. This list includes member accounts that are being verified, that have passed\n               verification and are being sent an invitation, and that have failed\n               verification.</p>\n            </li>\n            <li>\n               <p>The accounts that <code>CreateMembers</code> was unable to process. This list\n               includes accounts that were already invited to be member accounts in the behavior\n               graph.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#CreateMembersRequest": {
      "type": "structure",
      "members": {
        "Accounts": {
          "target": "com.amazonaws.detective#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of AWS accounts to invite to become member accounts in the behavior graph.\n         For each invited account, the account list contains the account identifier and the AWS\n         account root user email address.</p>",
            "smithy.api#required": {}
          }
        },
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to invite the member accounts to contribute their data\n         to.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.detective#EmailMessage",
          "traits": {
            "smithy.api#documentation": "<p>Customized message text to include in the invitation email message to the invited member\n         accounts.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#CreateMembersResponse": {
      "type": "structure",
      "members": {
        "Members": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The set of member account invitation requests that Detective was able to process. This\n         includes accounts that are being verified, that failed verification, and that passed\n         verification and are being sent an invitation.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of accounts for which Detective was unable to process the invitation request. For\n         each account, the list provides the reason why the request could not be processed. The list\n         includes accounts that are already member accounts in the behavior graph.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#DeleteGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DeleteGraphRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Disables the specified behavior graph and queues it to be deleted. This operation\n         removes the graph from each member account's list of behavior graphs.</p>\n         <p>\n            <code>DeleteGraph</code> can only be called by the master account for a behavior\n         graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DeleteGraphRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to disable.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#DeleteMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DeleteMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#DeleteMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Deletes one or more member accounts from the master account behavior graph. This\n         operation can only be called by a Detective master account. That account cannot use\n            <code>DeleteMembers</code> to delete their own account from the behavior graph. To\n         disable a behavior graph, the master account uses the <code>DeleteGraph</code> API\n         method.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DeleteMembersRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of AWS account identifiers for the member accounts to delete from the\n         behavior graph.</p>",
            "smithy.api#required": {}
          }
        },
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to delete members from.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#DeleteMembersResponse": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of AWS account identifiers for the member accounts that Detective successfully\n         deleted from the behavior graph.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of member accounts that Detective was not able to delete from the behavior graph.\n         For each member account, provides the reason that the deletion could not be\n         processed.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#DisassociateMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DisassociateMembershipRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Removes the member account from the specified behavior graph. This operation can only be\n         called by a member account that has the <code>ENABLED</code> status.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/membership/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DisassociateMembershipRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to remove the member account from.</p>\n         <p>The member account's member status in the behavior graph must be\n         <code>ENABLED</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.+@.+$"
      }
    },
    "com.amazonaws.detective#EmailMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.detective#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.detective#GetMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#GetMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#GetMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Returns the membership details for specified member accounts for a behavior\n         graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#GetMembersRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of AWS account identifiers for the member account for which to return member\n         details.</p>\n         <p>You cannot use <code>GetMembers</code> to retrieve information about member accounts\n         that were removed from the behavior graph.</p>",
            "smithy.api#required": {}
          }
        },
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph for which to request the member details.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#GetMembersResponse": {
      "type": "structure",
      "members": {
        "MemberDetails": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The member account details that Detective is returning in response to the request.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The requested member accounts for which Detective was unable to return member\n         details.</p>\n         <p>For each account, provides the reason why the request could not be processed.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#Graph": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the behavior graph was created. The value is in milliseconds\n         since the epoch.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>A behavior graph in Detective.</p>"
      }
    },
    "com.amazonaws.detective#GraphArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[-\\w]{0,10}?:detective:[-\\w]{2,20}?:\\d{12}?:graph:[abcdef\\d]{32}?$"
      }
    },
    "com.amazonaws.detective#GraphList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#Graph"
      }
    },
    "com.amazonaws.detective#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was valid but failed because of a problem with the service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.detective#ListGraphs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#ListGraphsRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#ListGraphsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Returns the list of behavior graphs that the calling account is a master of. This\n         operation can only be called by a master account.</p>\n         <p>Because an account can currently only be the master of one behavior graph within a\n         Region, the results always contain a single graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graphs/list",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.detective#ListGraphsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.detective#MemberResultsLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of graphs to return at a time. The total must be less than the\n         overall limit on the number of results to return, which is currently 200.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>For requests to get the next page of results, the pagination token that was returned\n         with the previous set of results.\n         The initial request does not include a pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListGraphsResponse": {
      "type": "structure",
      "members": {
        "GraphList": {
          "target": "com.amazonaws.detective#GraphList",
          "traits": {
            "smithy.api#documentation": "<p>A list of behavior graphs that the account is a master for.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more behavior graphs remaining in the results, then this is the pagination\n         token to use to request the next page of behavior graphs.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#ListInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#ListInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Retrieves the list of open and accepted behavior graph invitations for the member\n         account. This operation can only be called by a member account.</p>\n         <p>Open invitations are invitations that the member account has not responded to.</p>\n         <p>The results do not include behavior graphs for which the member account declined the\n         invitation. The results also do not include behavior graphs that the member account\n         resigned from or was removed from.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitations/list",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.detective#ListInvitationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.detective#MemberResultsLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of behavior graph invitations to return in the response. The total\n         must be less than the overall limit on the number of results to return, which is currently\n         200.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>For requests to retrieve the next page of results, the pagination token that was\n         returned with the previous page of results.\n          The initial request does not include a pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListInvitationsResponse": {
      "type": "structure",
      "members": {
        "Invitations": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The list of behavior graphs for which the member account has open or accepted\n         invitations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more behavior graphs remaining in the results, then this is the pagination\n         token to use to request the next page of behavior graphs.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#ListMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#ListMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Retrieves the list of member accounts for a behavior graph.\n         Does not return member accounts that were removed from the behavior graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members/list",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.detective#ListMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph for which to retrieve the list of member accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.detective#MemberResultsLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of member accounts to include in the response. The total must be less\n         than the overall limit on the number of results to return, which is currently 200.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>For requests to retrieve the next page of member account results, the pagination token\n         that was returned with the previous page of results.\n         The initial request does not include a pagination token.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#ListMembersResponse": {
      "type": "structure",
      "members": {
        "MemberDetails": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The list of member accounts in the behavior graph.</p>\n         <p>The results include member accounts that did not pass verification and member accounts\n         that have not yet accepted the invitation to the behavior graph. The results do not include\n         member accounts that were removed from the behavior graph.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.detective#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more member accounts remaining in the results, then this is the pagination\n         token to use to request the next page of member accounts.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#MemberDetail": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account identifier for the member account.</p>"
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.detective#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account root user email address for the member account.</p>"
          }
        },
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph that the member account was invited to.</p>"
          }
        },
        "InvitedTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that Detective sent the invitation to the member account. The value is in\n         milliseconds since the epoch.</p>"
          }
        },
        "MasterId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account identifier of the master account for the behavior graph.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.detective#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current membership status of the member account. The status can have one of the\n         following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>INVITED</code> - Indicates that the member was sent an\n               invitation\n               but has not yet responded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VERIFICATION_IN_PROGRESS</code> - Indicates that Detective is verifying that the\n               account identifier and email address provided for the member account match. If they\n               do match, then Detective sends the invitation. If the email address and account\n               identifier don't match, then the member cannot be added to the behavior graph.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VERIFICATION_FAILED</code> - Indicates that the account and email address\n               provided for the member account do not match, and Detective did not send an invitation to\n               the account.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ENABLED</code> - Indicates that the member account accepted the invitation\n               to contribute to the behavior graph.</p>\n            </li>\n         </ul>\n         <p>Member accounts that declined an invitation or that were removed from the behavior graph\n         are not included.</p>"
          }
        },
        "UpdatedTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the member account was last updated. The value is in milliseconds\n         since the epoch.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Details about a member account that was invited to contribute to a behavior\n         graph.</p>"
      }
    },
    "com.amazonaws.detective#MemberDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#MemberDetail"
      }
    },
    "com.amazonaws.detective#MemberResultsLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.detective#MemberStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVITED",
            "name": "INVITED"
          },
          {
            "value": "VERIFICATION_IN_PROGRESS",
            "name": "VERIFICATION_IN_PROGRESS"
          },
          {
            "value": "VERIFICATION_FAILED",
            "name": "VERIFICATION_FAILED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.detective#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.detective#RejectInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#RejectInvitationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>Rejects an invitation to contribute the account data to a behavior graph. This operation\n         must be called by a member account that has the <code>INVITED</code> status.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitation/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#RejectInvitationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to reject the invitation to.</p>\n         <p>The member account's current member status in the behavior graph must be\n            <code>INVITED</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request refers to a nonexistent resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.detective#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This request would cause the number of member accounts in the behavior graph to exceed\n         the maximum allowed. A behavior graph cannot have more than 1000 member accounts.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.detective#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.detective#UnprocessedAccount": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account identifier of the member account that was not processed.</p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.detective#UnprocessedReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the member account request could not be processed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Detective is currently in preview.</p>\n\n         <p>A member account that was included in a\n         request but\n         for which the request could not be processed.</p>"
      }
    },
    "com.amazonaws.detective#UnprocessedAccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#UnprocessedAccount"
      }
    },
    "com.amazonaws.detective#UnprocessedReason": {
      "type": "string"
    },
    "com.amazonaws.detective#ValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request parameters are invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
