{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.detective#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#AcceptInvitationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts an invitation for the member account to contribute data to a behavior graph.\n         This operation can only be called by an invited member account. </p>\n         <p>The request provides the ARN of behavior graph.</p>\n         <p>The member account status in the graph must be <code>INVITED</code>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/invitation",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph that the member account is accepting the invitation\n         for.</p>\n         <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        },
        "ErrorCode": {
          "target": "com.amazonaws.detective#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The SDK default error code associated with the access denied exception.</p>"
          }
        },
        "ErrorCodeReason": {
          "target": "com.amazonaws.detective#ErrorCodeReason",
          "traits": {
            "smithy.api#documentation": "<p>The SDK default explanation of why access was denied.</p>"
          }
        },
        "SubErrorCode": {
          "target": "com.amazonaws.detective#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code associated with the access denied exception.</p>"
          }
        },
        "SubErrorCodeReason": {
          "target": "com.amazonaws.detective#ErrorCodeReason",
          "traits": {
            "smithy.api#documentation": "<p> An explanation of why access was denied.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request issuer does not have permission to access this resource or perform this\n         operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.detective#Account": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account identifier of the Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.detective#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account root user email address for the Amazon Web Services\n         account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Services account that is the administrator account of or a member of a\n         behavior graph.</p>"
      }
    },
    "com.amazonaws.detective#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.detective#AccountIdExtendedList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.detective#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#Account"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.detective#Administrator": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the Detective administrator\n         account for the organization.</p>"
          }
        },
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organization behavior graph.</p>"
          }
        },
        "DelegationTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the Detective administrator account was enabled. The\n         value is an ISO8601 formatted string. For example,\n         <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the Detective administrator account for an\n         organization.</p>"
      }
    },
    "com.amazonaws.detective#AdministratorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#Administrator"
      }
    },
    "com.amazonaws.detective#AmazonDetective": {
      "type": "service",
      "version": "2018-10-26",
      "operations": [
        {
          "target": "com.amazonaws.detective#AcceptInvitation"
        },
        {
          "target": "com.amazonaws.detective#BatchGetGraphMemberDatasources"
        },
        {
          "target": "com.amazonaws.detective#BatchGetMembershipDatasources"
        },
        {
          "target": "com.amazonaws.detective#CreateGraph"
        },
        {
          "target": "com.amazonaws.detective#CreateMembers"
        },
        {
          "target": "com.amazonaws.detective#DeleteGraph"
        },
        {
          "target": "com.amazonaws.detective#DeleteMembers"
        },
        {
          "target": "com.amazonaws.detective#DescribeOrganizationConfiguration"
        },
        {
          "target": "com.amazonaws.detective#DisableOrganizationAdminAccount"
        },
        {
          "target": "com.amazonaws.detective#DisassociateMembership"
        },
        {
          "target": "com.amazonaws.detective#EnableOrganizationAdminAccount"
        },
        {
          "target": "com.amazonaws.detective#GetMembers"
        },
        {
          "target": "com.amazonaws.detective#ListDatasourcePackages"
        },
        {
          "target": "com.amazonaws.detective#ListGraphs"
        },
        {
          "target": "com.amazonaws.detective#ListInvitations"
        },
        {
          "target": "com.amazonaws.detective#ListMembers"
        },
        {
          "target": "com.amazonaws.detective#ListOrganizationAdminAccounts"
        },
        {
          "target": "com.amazonaws.detective#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.detective#RejectInvitation"
        },
        {
          "target": "com.amazonaws.detective#StartMonitoringMember"
        },
        {
          "target": "com.amazonaws.detective#TagResource"
        },
        {
          "target": "com.amazonaws.detective#UntagResource"
        },
        {
          "target": "com.amazonaws.detective#UpdateDatasourcePackages"
        },
        {
          "target": "com.amazonaws.detective#UpdateOrganizationConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Detective",
          "arnNamespace": "detective",
          "cloudFormationName": "Detective",
          "cloudTrailEventSource": "detective.amazonaws.com",
          "endpointPrefix": "api.detective"
        },
        "aws.auth#sigv4": {
          "name": "detective"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Detective uses machine learning and purpose-built visualizations to help you to\n         analyze and investigate security issues across your Amazon Web Services (Amazon Web Services) workloads. Detective automatically extracts time-based events such\n         as login attempts, API calls, and network traffic from CloudTrail and Amazon Virtual Private Cloud (Amazon VPC) flow logs. It also extracts findings detected by\n            Amazon GuardDuty.</p>\n         <p>The Detective API primarily supports the creation and management of behavior\n         graphs. A behavior graph contains the extracted data from a set of member accounts, and is\n         created and managed by an administrator account.</p>\n         <p>To add a member account to the behavior graph, the administrator account sends an\n         invitation to the account. When the account accepts the invitation, it becomes a member\n         account in the behavior graph.</p>\n         <p>Detective is also integrated with Organizations. The organization\n         management account designates the Detective administrator account for the\n         organization. That account becomes the administrator account for the organization behavior\n         graph. The Detective administrator account is also the delegated administrator\n         account for Detective in Organizations.</p>\n         <p>The Detective administrator account can enable any organization account as a\n         member account in the organization behavior graph. The organization accounts do not receive\n         invitations. The Detective administrator account can also invite other accounts to\n         the organization behavior graph.</p>\n         <p>Every behavior graph is specific to a Region. You can only use the API to manage\n         behavior graphs that belong to the Region that is associated with the currently selected\n         endpoint.</p>\n         <p>The administrator account for a behavior graph can use the Detective API to do\n         the following:</p>\n         <ul>\n            <li>\n               <p>Enable and disable Detective. Enabling Detective creates a new\n               behavior graph.</p>\n            </li>\n            <li>\n               <p>View the list of member accounts in a behavior graph.</p>\n            </li>\n            <li>\n               <p>Add member accounts to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Remove member accounts from a behavior graph.</p>\n            </li>\n            <li>\n               <p>Apply tags to a behavior graph.</p>\n            </li>\n         </ul>\n         <p>The organization management account can use the Detective API to select the\n         delegated administrator for Detective.</p>\n         <p>The Detective administrator account for an organization can use the Detective API to do the following:</p>\n         <ul>\n            <li>\n               <p>Perform all of the functions of an administrator account.</p>\n            </li>\n            <li>\n               <p>Determine whether to automatically enable new organization accounts as member\n               accounts in the organization behavior graph.</p>\n            </li>\n         </ul>\n         <p>An invited member account can use the Detective API to do the following:</p>\n         <ul>\n            <li>\n               <p>View the list of behavior graphs that they are invited to.</p>\n            </li>\n            <li>\n               <p>Accept an invitation to contribute to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Decline an invitation to contribute to a behavior graph.</p>\n            </li>\n            <li>\n               <p>Remove their account from a behavior graph.</p>\n            </li>\n         </ul>\n         <p>All API actions are logged as CloudTrail events. See <a href=\"https://docs.aws.amazon.com/detective/latest/adminguide/logging-using-cloudtrail.html\">Logging Detective API Calls with CloudTrail</a>.</p>\n         <note>\n            <p>We replaced the term \"master account\" with the term \"administrator account.\" An\n            administrator account is used to centrally manage multiple accounts. In the case of\n               Detective, the administrator account manages the accounts in their behavior\n            graph.</p>\n         </note>",
        "smithy.api#title": "Amazon Detective",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://api.detective-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://api.detective-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://api.detective.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://api.detective.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.detective.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.detective#BatchGetGraphMemberDatasources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#BatchGetGraphMemberDatasourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#BatchGetGraphMemberDatasourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets data source package information for the behavior graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/datasources/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#BatchGetGraphMemberDatasourcesRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdExtendedList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services accounts to get data source package information\n         on.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#BatchGetGraphMemberDatasourcesResponse": {
      "type": "structure",
      "members": {
        "MemberDatasources": {
          "target": "com.amazonaws.detective#MembershipDatasourcesList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the status of data source packages for members of the behavior graph.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>Accounts that data source package information could not be retrieved for.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#BatchGetMembershipDatasources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#BatchGetMembershipDatasourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#BatchGetMembershipDatasourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information on the data source package history for an account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/membership/datasources/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#BatchGetMembershipDatasourcesRequest": {
      "type": "structure",
      "members": {
        "GraphArns": {
          "target": "com.amazonaws.detective#GraphArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#BatchGetMembershipDatasourcesResponse": {
      "type": "structure",
      "members": {
        "MembershipDatasources": {
          "target": "com.amazonaws.detective#MembershipDatasourcesList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the data source package history for an member of the behavior graph.</p>"
          }
        },
        "UnprocessedGraphs": {
          "target": "com.amazonaws.detective#UnprocessedGraphList",
          "traits": {
            "smithy.api#documentation": "<p>Graphs that data source package information could not be retrieved for.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.detective#ByteValue": {
      "type": "long"
    },
    "com.amazonaws.detective#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.detective#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request attempted an invalid action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.detective#CreateGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#CreateGraphRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#CreateGraphResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new behavior graph for the calling account, and sets that account as the\n         administrator account. This operation is called by the account that is enabling Detective.</p>\n         <p>Before you try to enable Detective, make sure that your account has been\n         enrolled in Amazon GuardDuty for at least 48 hours. If you do not meet this\n         requirement, you cannot enable Detective. If you do meet the GuardDuty\n         prerequisite, then when you make the request to enable Detective, it checks\n         whether your data volume is within the Detective quota. If it exceeds the quota,\n         then you cannot enable Detective. </p>\n         <p>The operation also enables Detective for the calling account in the currently\n         selected Region. It returns the ARN of the new behavior graph.</p>\n         <p>\n            <code>CreateGraph</code> triggers a process to create the corresponding data tables for\n         the new behavior graph.</p>\n         <p>An account can only be the administrator account for one behavior graph within a Region.\n         If the same account calls <code>CreateGraph</code> with the same administrator account, it\n         always returns the same behavior graph ARN. It does not create a new behavior graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#CreateGraphRequest": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.detective#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the new behavior graph. You can add up to 50 tags. For each tag,\n         you provide the tag key and the tag value. Each tag key can contain up to 128 characters.\n         Each tag value can contain up to 256 characters.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#CreateGraphResponse": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new behavior graph.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#CreateMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#CreateMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#CreateMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>CreateMembers</code> is used to send invitations to accounts. For the organization\n         behavior graph, the Detective administrator account uses\n            <code>CreateMembers</code> to enable organization accounts as member accounts.</p>\n         <p>For invited accounts, <code>CreateMembers</code> sends a request to invite the specified\n            Amazon Web Services accounts to be member accounts in the behavior graph. This operation\n         can only be called by the administrator account for a behavior graph. </p>\n         <p>\n            <code>CreateMembers</code> verifies the accounts and then invites the verified accounts.\n         The administrator can optionally specify to not send invitation emails to the member\n         accounts. This would be used when the administrator manages their member accounts\n         centrally.</p>\n         <p>For organization accounts in the organization behavior graph, <code>CreateMembers</code>\n         attempts to enable the accounts. The organization accounts do not receive\n         invitations.</p>\n         <p>The request provides the behavior graph ARN and the list of accounts to invite or to\n         enable.</p>\n         <p>The response separates the requested accounts into two lists:</p>\n         <ul>\n            <li>\n               <p>The accounts that <code>CreateMembers</code> was able to process. For invited\n               accounts, includes member accounts that are being verified, that have passed\n               verification and are to be invited, and that have failed verification. For\n               organization accounts in the organization behavior graph, includes accounts that can\n               be enabled and that cannot be enabled.</p>\n            </li>\n            <li>\n               <p>The accounts that <code>CreateMembers</code> was unable to process. This list\n               includes accounts that were already invited to be member accounts in the behavior\n               graph.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#CreateMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.detective#EmailMessage",
          "traits": {
            "smithy.api#documentation": "<p>Customized message text to include in the invitation email message to the invited member\n         accounts.</p>"
          }
        },
        "DisableEmailNotification": {
          "target": "com.amazonaws.detective#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>if set to <code>true</code>, then the invited accounts do not receive email\n         notifications. By default, this is set to <code>false</code>, and the invited accounts\n         receive email notifications.</p>\n         <p>Organization accounts in the organization behavior graph do not receive email\n         notifications.</p>"
          }
        },
        "Accounts": {
          "target": "com.amazonaws.detective#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services accounts to invite or to enable. You can invite or enable\n         up to 50 accounts at a time. For each invited account, the account list contains the\n         account identifier and the Amazon Web Services account root user email address. For\n         organization accounts in the organization behavior graph, the email address is not\n         required.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#CreateMembersResponse": {
      "type": "structure",
      "members": {
        "Members": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The set of member account invitation or enablement requests that Detective was\n         able to process. This includes accounts that are being verified, that failed verification,\n         and that passed verification and are being sent an invitation or are being enabled.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of accounts for which Detective was unable to process the invitation\n         or enablement request. For each account, the list provides the reason why the request could\n         not be processed. The list includes accounts that are already member accounts in the\n         behavior graph.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#DatasourcePackage": {
      "type": "enum",
      "members": {
        "DETECTIVE_CORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTIVE_CORE"
          }
        },
        "EKS_AUDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKS_AUDIT"
          }
        }
      }
    },
    "com.amazonaws.detective#DatasourcePackageIngestDetail": {
      "type": "structure",
      "members": {
        "DatasourcePackageIngestState": {
          "target": "com.amazonaws.detective#DatasourcePackageIngestState",
          "traits": {
            "smithy.api#documentation": "<p>Details on which data source packages are ingested for a member account.</p>"
          }
        },
        "LastIngestStateChange": {
          "target": "com.amazonaws.detective#LastIngestStateChangeDates",
          "traits": {
            "smithy.api#documentation": "<p>The date a data source package was enabled for this account</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the data source packages ingested by your behavior graph.</p>"
      }
    },
    "com.amazonaws.detective#DatasourcePackageIngestDetails": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.detective#DatasourcePackage"
      },
      "value": {
        "target": "com.amazonaws.detective#DatasourcePackageIngestDetail"
      }
    },
    "com.amazonaws.detective#DatasourcePackageIngestHistory": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.detective#DatasourcePackage"
      },
      "value": {
        "target": "com.amazonaws.detective#LastIngestStateChangeDates"
      }
    },
    "com.amazonaws.detective#DatasourcePackageIngestState": {
      "type": "enum",
      "members": {
        "STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTED"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.detective#DatasourcePackageIngestStates": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.detective#DatasourcePackage"
      },
      "value": {
        "target": "com.amazonaws.detective#DatasourcePackageIngestState"
      }
    },
    "com.amazonaws.detective#DatasourcePackageList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.detective#DatasourcePackage"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.detective#DatasourcePackageUsageInfo": {
      "type": "structure",
      "members": {
        "VolumeUsageInBytes": {
          "target": "com.amazonaws.detective#ByteValue",
          "traits": {
            "smithy.api#documentation": "<p>Total volume of data in bytes per day ingested for a given data source package.</p>"
          }
        },
        "VolumeUsageUpdateTime": {
          "target": "com.amazonaws.detective#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The data and time when the member account data volume was last updated. The value is an\n         ISO8601 formatted string. For example, <code>2021-08-18T16:35:56.284Z</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information on the usage of a data source package in the behavior graph.</p>"
      }
    },
    "com.amazonaws.detective#DeleteGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DeleteGraphRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified behavior graph and queues it to be deleted. This operation\n         removes the behavior graph from each member account's list of behavior graphs.</p>\n         <p>\n            <code>DeleteGraph</code> can only be called by the administrator account for a behavior\n         graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DeleteGraphRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to disable.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#DeleteMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DeleteMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#DeleteMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified member accounts from the behavior graph. The removed accounts no\n         longer contribute data to the behavior graph. This operation can only be called by the\n         administrator account for the behavior graph.</p>\n         <p>For invited accounts, the removed accounts are deleted from the list of accounts in the\n         behavior graph. To restore the account, the administrator account must send another\n         invitation.</p>\n         <p>For organization accounts in the organization behavior graph, the Detective\n         administrator account can always enable the organization account again. Organization\n         accounts that are not enabled as member accounts are not included in the\n            <code>ListMembers</code> results for the organization behavior graph.</p>\n         <p>An administrator account cannot use <code>DeleteMembers</code> to remove their own\n         account from the behavior graph. To disable a behavior graph, the administrator account\n         uses the <code>DeleteGraph</code> API method.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DeleteMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to remove members from.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services account identifiers for the member accounts to remove\n         from the behavior graph. You can remove up to 50 member accounts at a time.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#DeleteMembersResponse": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services account identifiers for the member accounts that Detective successfully removed from the behavior graph.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of member accounts that Detective was not able to remove from the\n         behavior graph. For each member account, provides the reason that the deletion could not be\n         processed.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#DescribeOrganizationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DescribeOrganizationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#DescribeOrganizationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the configuration for the organization behavior graph.\n         Currently indicates whether to automatically enable new organization accounts as member\n         accounts.</p>\n         <p>Can only be called by the Detective administrator account for the organization. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/describeOrganizationConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DescribeOrganizationConfigurationRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the organization behavior graph.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#DescribeOrganizationConfigurationResponse": {
      "type": "structure",
      "members": {
        "AutoEnable": {
          "target": "com.amazonaws.detective#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether to automatically enable new organization accounts as member accounts\n         in the organization behavior graph.</p>"
          }
        }
      }
    },
    "com.amazonaws.detective#DisableOrganizationAdminAccount": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the Detective administrator account in the current Region. Deletes the\n         organization behavior graph.</p>\n         <p>Can only be called by the organization management account.</p>\n         <p>Removing the Detective administrator account does not affect the delegated\n         administrator account for Detective in Organizations.</p>\n         <p>To remove the delegated administrator account in Organizations, use the Organizations API. Removing the delegated administrator account also removes the Detective administrator account in all Regions, except for Regions where the Detective administrator account is the organization management account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/disableAdminAccount",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DisassociateMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#DisassociateMembershipRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#ConflictException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the member account from the specified behavior graph. This operation can only be\n         called by an invited member account that has the <code>ENABLED</code> status.</p>\n         <p>\n            <code>DisassociateMembership</code> cannot be called by an organization account in the\n         organization behavior graph. For the organization behavior graph, the Detective\n         administrator account determines which organization accounts to enable or disable as member\n         accounts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/membership/removal",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#DisassociateMembershipRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph to remove the member account from.</p>\n         <p>The member account's member status in the behavior graph must be\n         <code>ENABLED</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.+@(?:(?:(?!-)[A-Za-z0-9-]{1,62})?[A-Za-z0-9]{1}\\.)+[A-Za-z]{2,6}$"
      }
    },
    "com.amazonaws.detective#EmailMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.detective#EnableOrganizationAdminAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#EnableOrganizationAdminAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Designates the Detective administrator account for the organization in the\n         current Region.</p>\n         <p>If the account does not have Detective enabled, then enables Detective\n         for that account and creates a new behavior graph.</p>\n         <p>Can only be called by the organization management account.</p>\n         <p>If the organization has a delegated administrator account in Organizations, then the\n            Detective administrator account must be either the delegated administrator\n         account or the organization management account.</p>\n         <p>If the organization does not have a delegated administrator account in Organizations, then you can choose any account in the organization. If you choose an account other\n         than the organization management account, Detective calls Organizations to\n         make that account the delegated administrator account for Detective. The\n         organization management account cannot be the delegated administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orgs/enableAdminAccount",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#EnableOrganizationAdminAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.detective#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account identifier of the account to designate as the Detective administrator account for the organization.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#ErrorCode": {
      "type": "enum",
      "members": {
        "InvalidGraphArn": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_GRAPH_ARN"
          }
        },
        "InvalidRequestBody": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_REQUEST_BODY"
          }
        },
        "InternalError": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        }
      }
    },
    "com.amazonaws.detective#ErrorCodeReason": {
      "type": "string"
    },
    "com.amazonaws.detective#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.detective#GetMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.detective#GetMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.detective#GetMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.detective#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.detective#InternalServerException"
        },
        {
          "target": "com.amazonaws.detective#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.detective#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the membership details for specified member accounts for a behavior\n         graph.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/graph/members/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.detective#GetMembersRequest": {
      "type": "structure",
      "members": {
        "GraphArn": {
          "target": "com.amazonaws.detective#GraphArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the behavior graph for which to request the member details.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.detective#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Amazon Web Services account identifiers for the member account for which to\n         return member details. You can request details for up to 50 member accounts at a\n         time.</p>\n         <p>You cannot use <code>GetMembers</code> to retrieve information about member accounts\n         that were removed from the behavior graph.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.detective#GetMembersResponse": {
      "type": "structure",
      "members": {
        "MemberDetails": {
          "target": "com.amazonaws.detective#MemberDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The member account details that Detective is returning in response to the\n         request.</p>"
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.detective#UnprocessedAccountList",
          "traits": {
[...]
