{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.devicefarm#AWSAccountNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 16
        }
      }
    },
    "com.amazonaws.devicefarm#AccountSettings": {
      "type": "structure",
      "members": {
        "awsAccountNumber": {
          "target": "com.amazonaws.devicefarm#AWSAccountNumber",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account number specified in the <code>AccountSettings</code>\n            container.</p>"
          }
        },
        "unmeteredDevices": {
          "target": "com.amazonaws.devicefarm#PurchasedDevicesMap",
          "traits": {
            "smithy.api#documentation": "<p>Returns the unmetered devices you have purchased or want to purchase.</p>"
          }
        },
        "unmeteredRemoteAccessDevices": {
          "target": "com.amazonaws.devicefarm#PurchasedDevicesMap",
          "traits": {
            "smithy.api#documentation": "<p>Returns the unmetered remote access devices you have purchased or want to\n            purchase.</p>"
          }
        },
        "maxJobTimeoutMinutes": {
          "target": "com.amazonaws.devicefarm#JobTimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of minutes a test run executes before it times out.</p>"
          }
        },
        "trialMinutes": {
          "target": "com.amazonaws.devicefarm#TrialMinutes",
          "traits": {
            "smithy.api#documentation": "<p>Information about an AWS account's usage of free trial device minutes.</p>"
          }
        },
        "maxSlots": {
          "target": "com.amazonaws.devicefarm#MaxSlotMap",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of device slots that the AWS account can purchase. Each maximum\n            is expressed as an <code>offering-id:number</code> pair, where the\n                <code>offering-id</code> represents one of the IDs returned by the\n                <code>ListOfferings</code> command.</p>"
          }
        },
        "defaultJobTimeoutMinutes": {
          "target": "com.amazonaws.devicefarm#JobTimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The default number of minutes (at the account level) a test run executes before it times out. The\n            default value is 150 minutes.</p>"
          }
        },
        "skipAppResign": {
          "target": "com.amazonaws.devicefarm#SkipAppResign",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>true</code>, for private devices, Device Farm does not sign your app again. For public\n            devices, Device Farm always signs your apps again.</p>\n        <p>For more information about how Device Farm re-signs your apps, see <a href=\"http://aws.amazon.com/device-farm/faqs/\">Do you modify my app?</a> in the <i>AWS Device\n                Farm FAQs</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A container for account-level settings in AWS Device Farm.</p>"
      }
    },
    "com.amazonaws.devicefarm#AccountsCleanup": {
      "type": "boolean"
    },
    "com.amazonaws.devicefarm#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:.+$"
      }
    },
    "com.amazonaws.devicefarm#AmazonResourceNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devicefarm#AmazonResourceName"
      }
    },
    "com.amazonaws.devicefarm#AndroidPaths": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devicefarm#String"
      }
    },
    "com.amazonaws.devicefarm#AppPackagesCleanup": {
      "type": "boolean"
    },
    "com.amazonaws.devicefarm#ArgumentException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.devicefarm#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any additional information about the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An invalid argument was specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.devicefarm#Artifact": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The artifact's ARN.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.devicefarm#Name",
          "traits": {
            "smithy.api#documentation": "<p>The artifact's name.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.devicefarm#ArtifactType",
          "traits": {
            "smithy.api#documentation": "<p>The artifact's type.</p>\n        <p>Allowed values include the following:</p>\n        <ul>\n            <li>\n                <p>UNKNOWN</p>\n            </li>\n            <li>\n                <p>SCREENSHOT</p>\n            </li>\n            <li>\n                <p>DEVICE_LOG</p>\n            </li>\n            <li>\n                <p>MESSAGE_LOG</p>\n            </li>\n            <li>\n                <p>VIDEO_LOG</p>\n            </li>\n            <li>\n                <p>RESULT_LOG</p>\n            </li>\n            <li>\n                <p>SERVICE_LOG</p>\n            </li>\n            <li>\n                <p>WEBKIT_LOG</p>\n            </li>\n            <li>\n                <p>INSTRUMENTATION_OUTPUT</p>\n            </li>\n            <li>\n                <p>EXERCISER_MONKEY_OUTPUT: the artifact (log) generated by an Android fuzz test.</p>\n            </li>\n            <li>\n                <p>CALABASH_JSON_OUTPUT</p>\n            </li>\n            <li>\n                <p>CALABASH_PRETTY_OUTPUT</p>\n            </li>\n            <li>\n                <p>CALABASH_STANDARD_OUTPUT</p>\n            </li>\n            <li>\n                <p>CALABASH_JAVA_XML_OUTPUT</p>\n            </li>\n            <li>\n                <p>AUTOMATION_OUTPUT</p>\n            </li>\n            <li>\n                <p>APPIUM_SERVER_OUTPUT</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_OUTPUT</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_XML_OUTPUT</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_OUTPUT</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_XML_OUTPUT</p>\n            </li>\n            <li>\n                <p>EXPLORER_EVENT_LOG</p>\n            </li>\n            <li>\n                <p>EXPLORER_SUMMARY_LOG</p>\n            </li>\n            <li>\n                <p>APPLICATION_CRASH_REPORT</p>\n            </li>\n            <li>\n                <p>XCTEST_LOG</p>\n            </li>\n            <li>\n                <p>VIDEO</p>\n            </li>\n            <li>\n                <p>CUSTOMER_ARTIFACT</p>\n            </li>\n            <li>\n                <p>CUSTOMER_ARTIFACT_LOG</p>\n            </li>\n            <li>\n                <p>TESTSPEC_OUTPUT</p>\n            </li>\n         </ul>"
          }
        },
        "extension": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The artifact's file extension.</p>"
          }
        },
        "url": {
          "target": "com.amazonaws.devicefarm#URL",
          "traits": {
            "smithy.api#documentation": "<p>The presigned Amazon S3 URL that can be used with a GET request to download the artifact's\n            file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a test. Examples of artifacts include logs and\n            screenshots.</p>"
      }
    },
    "com.amazonaws.devicefarm#ArtifactCategory": {
      "type": "enum",
      "members": {
        "SCREENSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCREENSHOT"
          }
        },
        "FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE"
          }
        },
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#ArtifactType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "SCREENSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCREENSHOT"
          }
        },
        "DEVICE_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_LOG"
          }
        },
        "MESSAGE_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_LOG"
          }
        },
        "VIDEO_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_LOG"
          }
        },
        "RESULT_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESULT_LOG"
          }
        },
        "SERVICE_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_LOG"
          }
        },
        "WEBKIT_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBKIT_LOG"
          }
        },
        "INSTRUMENTATION_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTRUMENTATION_OUTPUT"
          }
        },
        "EXERCISER_MONKEY_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXERCISER_MONKEY_OUTPUT"
          }
        },
        "CALABASH_JSON_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALABASH_JSON_OUTPUT"
          }
        },
        "CALABASH_PRETTY_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALABASH_PRETTY_OUTPUT"
          }
        },
        "CALABASH_STANDARD_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALABASH_STANDARD_OUTPUT"
          }
        },
        "CALABASH_JAVA_XML_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALABASH_JAVA_XML_OUTPUT"
          }
        },
        "AUTOMATION_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATION_OUTPUT"
          }
        },
        "APPIUM_SERVER_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPIUM_SERVER_OUTPUT"
          }
        },
        "APPIUM_JAVA_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPIUM_JAVA_OUTPUT"
          }
        },
        "APPIUM_JAVA_XML_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPIUM_JAVA_XML_OUTPUT"
          }
        },
        "APPIUM_PYTHON_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPIUM_PYTHON_OUTPUT"
          }
        },
        "APPIUM_PYTHON_XML_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPIUM_PYTHON_XML_OUTPUT"
          }
        },
        "EXPLORER_EVENT_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLORER_EVENT_LOG"
          }
        },
        "EXPLORER_SUMMARY_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPLORER_SUMMARY_LOG"
          }
        },
        "APPLICATION_CRASH_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION_CRASH_REPORT"
          }
        },
        "XCTEST_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XCTEST_LOG"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO"
          }
        },
        "CUSTOMER_ARTIFACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_ARTIFACT"
          }
        },
        "CUSTOMER_ARTIFACT_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_ARTIFACT_LOG"
          }
        },
        "TESTSPEC_OUTPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TESTSPEC_OUTPUT"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#Artifacts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devicefarm#Artifact"
      }
    },
    "com.amazonaws.devicefarm#BillingMethod": {
      "type": "enum",
      "members": {
        "METERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METERED"
          }
        },
        "UNMETERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMETERED"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.devicefarm#CPU": {
      "type": "structure",
      "members": {
        "frequency": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The CPU's frequency.</p>"
          }
        },
        "architecture": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The CPU's architecture (for example, x86 or ARM).</p>"
          }
        },
        "clock": {
          "target": "com.amazonaws.devicefarm#Double",
          "traits": {
            "smithy.api#documentation": "<p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2\n            GHz CPU is expressed as 1200000000.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the amount of CPU that an app is using on a physical device. Does not represent system-wide\n            CPU usage.</p>"
      }
    },
    "com.amazonaws.devicefarm#CannotDeleteException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.devicefarm#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested object could not be deleted.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.devicefarm#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.devicefarm#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.devicefarm#Counters": {
      "type": "structure",
      "members": {
        "total": {
          "target": "com.amazonaws.devicefarm#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of entities.</p>"
          }
        },
        "passed": {
          "target": "com.amazonaws.devicefarm#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of passed entities.</p>"
          }
        },
        "failed": {
          "target": "com.amazonaws.devicefarm#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of failed entities.</p>"
          }
        },
        "warned": {
          "target": "com.amazonaws.devicefarm#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of warned entities.</p>"
          }
        },
        "errored": {
          "target": "com.amazonaws.devicefarm#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of errored entities.</p>"
          }
        },
        "stopped": {
          "target": "com.amazonaws.devicefarm#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of stopped entities.</p>"
          }
        },
        "skipped": {
          "target": "com.amazonaws.devicefarm#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of skipped entities.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents entity counters.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateDevicePool": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#CreateDevicePoolRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#CreateDevicePoolResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a device pool.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateDevicePoolRequest": {
      "type": "structure",
      "members": {
        "projectArn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the project for the device pool.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.devicefarm#Name",
          "traits": {
            "smithy.api#documentation": "<p>The device pool's name.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devicefarm#Message",
          "traits": {
            "smithy.api#documentation": "<p>The device pool's description.</p>"
          }
        },
        "rules": {
          "target": "com.amazonaws.devicefarm#Rules",
          "traits": {
            "smithy.api#documentation": "<p>The device pool's rules.</p>",
            "smithy.api#required": {}
          }
        },
        "maxDevices": {
          "target": "com.amazonaws.devicefarm#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are\n            available and meet the criteria that you assign for the <code>rules</code> parameter. Depending on how many\n            devices meet these constraints, your device pool might contain fewer devices than the value for this\n            parameter.</p>\n        <p>By specifying the maximum number of devices, you can control the costs that you incur\n            by running tests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the create device pool operation.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateDevicePoolResult": {
      "type": "structure",
      "members": {
        "devicePool": {
          "target": "com.amazonaws.devicefarm#DevicePool",
          "traits": {
            "smithy.api#documentation": "<p>The newly created device pool.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a create device pool request.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateInstanceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#CreateInstanceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#CreateInstanceProfileResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a profile that can be applied to one or more private fleet device\n            instances.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateInstanceProfileRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devicefarm#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of your instance profile.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devicefarm#Message",
          "traits": {
            "smithy.api#documentation": "<p>The description of your instance profile.</p>"
          }
        },
        "packageCleanup": {
          "target": "com.amazonaws.devicefarm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>true</code>, Device Farm removes app packages after a test run. The default value is\n                <code>false</code> for private devices.</p>"
          }
        },
        "excludeAppPackagesFromCleanup": {
          "target": "com.amazonaws.devicefarm#PackageIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that specifies the list of app packages that should not be cleaned up from the device\n            after a test run.</p>\n        <p>The list of packages is considered only if you set <code>packageCleanup</code> to\n            <code>true</code>.</p>"
          }
        },
        "rebootAfterUse": {
          "target": "com.amazonaws.devicefarm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>true</code>, Device Farm reboots the instance after a test run. The default value is\n                <code>true</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CreateInstanceProfileResult": {
      "type": "structure",
      "members": {
        "instanceProfile": {
          "target": "com.amazonaws.devicefarm#InstanceProfile",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about your instance profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CreateNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#CreateNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#CreateNetworkProfileResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a network profile.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "projectArn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the project for which you want to create a\n            network profile.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.devicefarm#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new network profile.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devicefarm#Message",
          "traits": {
            "smithy.api#documentation": "<p>The description of the network profile.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.devicefarm#NetworkProfileType",
          "traits": {
            "smithy.api#documentation": "<p>The type of network profile to create. Valid values are listed here.</p>"
          }
        },
        "uplinkBandwidthBits": {
          "target": "com.amazonaws.devicefarm#Long",
          "traits": {
            "smithy.api#documentation": "<p>The data throughput rate in bits per second, as an integer from 0 to\n            104857600.</p>"
          }
        },
        "downlinkBandwidthBits": {
          "target": "com.amazonaws.devicefarm#Long",
          "traits": {
            "smithy.api#documentation": "<p>The data throughput rate in bits per second, as an integer from 0 to\n            104857600.</p>"
          }
        },
        "uplinkDelayMs": {
          "target": "com.amazonaws.devicefarm#Long",
          "traits": {
            "smithy.api#documentation": "<p>Delay time for all packets to destination in milliseconds as an integer from 0 to\n            2000.</p>"
          }
        },
        "downlinkDelayMs": {
          "target": "com.amazonaws.devicefarm#Long",
          "traits": {
            "smithy.api#documentation": "<p>Delay time for all packets to destination in milliseconds as an integer from 0 to\n            2000.</p>"
          }
        },
        "uplinkJitterMs": {
          "target": "com.amazonaws.devicefarm#Long",
          "traits": {
            "smithy.api#documentation": "<p>Time variation in the delay of received packets in milliseconds as an integer from\n            0 to 2000.</p>"
          }
        },
        "downlinkJitterMs": {
          "target": "com.amazonaws.devicefarm#Long",
          "traits": {
            "smithy.api#documentation": "<p>Time variation in the delay of received packets in milliseconds as an integer from\n            0 to 2000.</p>"
          }
        },
        "uplinkLossPercent": {
          "target": "com.amazonaws.devicefarm#PercentInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Proportion of transmitted packets that fail to arrive from 0 to 100\n            percent.</p>"
          }
        },
        "downlinkLossPercent": {
          "target": "com.amazonaws.devicefarm#PercentInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Proportion of received packets that fail to arrive from 0 to 100 percent.</p>"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CreateNetworkProfileResult": {
      "type": "structure",
      "members": {
        "networkProfile": {
          "target": "com.amazonaws.devicefarm#NetworkProfile",
          "traits": {
            "smithy.api#documentation": "<p>The network profile that is returned by the create network profile\n            request.</p>"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#CreateProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        },
        {
          "target": "com.amazonaws.devicefarm#TagOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a project.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devicefarm#Name",
          "traits": {
            "smithy.api#documentation": "<p>The project's name.</p>",
            "smithy.api#required": {}
          }
        },
        "defaultJobTimeoutMinutes": {
          "target": "com.amazonaws.devicefarm#JobTimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "<p>Sets the execution timeout value (in minutes) for a project. All test runs in this project use the\n            specified execution timeout value unless overridden when scheduling a run.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.devicefarm#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The VPC security groups and subnets that are attached to a project.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the create project operation.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateProjectResult": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.devicefarm#Project",
          "traits": {
            "smithy.api#documentation": "<p>The newly created project.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a create project request.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateRemoteAccessSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#CreateRemoteAccessSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#CreateRemoteAccessSessionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Specifies and starts a remote access session.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateRemoteAccessSessionConfiguration": {
      "type": "structure",
      "members": {
        "billingMethod": {
          "target": "com.amazonaws.devicefarm#BillingMethod",
          "traits": {
            "smithy.api#documentation": "<p>The billing method for the remote access session.</p>"
          }
        },
        "vpceConfigurationArns": {
          "target": "com.amazonaws.devicefarm#AmazonResourceNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of ARNs included in the VPC endpoint configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration settings for a remote access session, including billing\n            method.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateRemoteAccessSessionRequest": {
      "type": "structure",
      "members": {
        "projectArn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the project for which you want to create a remote\n            access session.</p>",
            "smithy.api#required": {}
          }
        },
        "deviceArn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the device for which you want to create a remote access session.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceArn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the device instance for which you want to create a\n            remote access session.</p>"
          }
        },
        "sshPublicKey": {
          "target": "com.amazonaws.devicefarm#SshPublicKey",
          "traits": {
            "smithy.api#documentation": "<p>Ignored. The public key of the <code>ssh</code> key pair you want to use for connecting to remote\n            devices in your remote debugging session. This key is required only if <code>remoteDebugEnabled</code> is\n            set to <code>true</code>.</p>\n        <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n            longer supported</a>.</p>"
          }
        },
        "remoteDebugEnabled": {
          "target": "com.amazonaws.devicefarm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> if you want to access devices remotely for debugging in\n            your remote access session.</p>\n        <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n            longer supported</a>.</p>"
          }
        },
        "remoteRecordEnabled": {
          "target": "com.amazonaws.devicefarm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to enable remote recording for the remote access\n            session.</p>"
          }
        },
        "remoteRecordAppArn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the app to be recorded in the remote access\n            session.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.devicefarm#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the remote access session to create.</p>"
          }
        },
        "clientId": {
          "target": "com.amazonaws.devicefarm#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the client. If you want access to multiple devices on the same client, you should\n            pass the same <code>clientId</code> value in each call to <code>CreateRemoteAccessSession</code>. This\n            identifier is required only if <code>remoteDebugEnabled</code> is set to <code>true</code>.</p>\n        <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n            longer supported</a>.</p>"
          }
        },
        "configuration": {
          "target": "com.amazonaws.devicefarm#CreateRemoteAccessSessionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the remote access session request.</p>"
          }
        },
        "interactionMode": {
          "target": "com.amazonaws.devicefarm#InteractionMode",
          "traits": {
            "smithy.api#documentation": "<p>The interaction mode of the remote access session. Valid values are:</p>\n        <ul>\n            <li>\n                <p>INTERACTIVE: You can interact with the iOS device by viewing, touching, and\n                    rotating the screen. You cannot run XCUITest framework-based tests in this\n                    mode.</p>\n            </li>\n            <li>\n                <p>NO_VIDEO: You are connected to the device, but cannot interact with it or view the screen. This\n                    mode has the fastest test execution speed. You can run XCUITest framework-based tests in this\n                    mode.</p>\n            </li>\n            <li>\n                <p>VIDEO_ONLY: You can view the screen, but cannot touch or rotate it. You can run XCUITest\n                    framework-based tests and watch the screen in this mode.</p>\n            </li>\n         </ul>"
          }
        },
        "skipAppResign": {
          "target": "com.amazonaws.devicefarm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>true</code>, for private devices, Device Farm does not sign your app again. For public\n            devices, Device Farm always signs your apps again.</p>\n        <p>For more information on how Device Farm modifies your uploads during tests, see <a href=\"http://aws.amazon.com/device-farm/faqs/\">Do you modify my app?</a>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates and submits a request to start a remote access session.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateRemoteAccessSessionResult": {
      "type": "structure",
      "members": {
        "remoteAccessSession": {
          "target": "com.amazonaws.devicefarm#RemoteAccessSession",
          "traits": {
            "smithy.api#documentation": "<p>A container that describes the remote access session when the request to create a\n            remote access session is sent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the server response from a request to create a remote access\n            session.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateTestGridProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#CreateTestGridProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#CreateTestGridProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#InternalServiceException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Selenium testing project. Projects are used to track <a>TestGridSession</a>\n         instances.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateTestGridProjectRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devicefarm#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Human-readable name of the Selenium testing project.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devicefarm#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Human-readable description of the project.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.devicefarm#TestGridVpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The VPC security groups and subnets that are attached to a project.</p>"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CreateTestGridProjectResult": {
      "type": "structure",
      "members": {
        "testGridProject": {
          "target": "com.amazonaws.devicefarm#TestGridProject",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the Selenium testing project that was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CreateTestGridUrl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#CreateTestGridUrlRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#CreateTestGridUrlResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#InternalServiceException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a signed, short-term URL that can be passed to a Selenium <code>RemoteWebDriver</code>\n         constructor.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateTestGridUrlRequest": {
      "type": "structure",
      "members": {
        "projectArn": {
          "target": "com.amazonaws.devicefarm#DeviceFarmArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN (from <a>CreateTestGridProject</a> or <a>ListTestGridProjects</a>) to associate\n         with the short-term URL. </p>",
            "smithy.api#required": {}
          }
        },
        "expiresInSeconds": {
          "target": "com.amazonaws.devicefarm#TestGridUrlExpiresInSecondsInput",
          "traits": {
            "smithy.api#documentation": "<p>Lifetime, in seconds, of the URL.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CreateTestGridUrlResult": {
      "type": "structure",
      "members": {
        "url": {
          "target": "com.amazonaws.devicefarm#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>A signed URL, expiring in <a>CreateTestGridUrlRequest$expiresInSeconds</a> seconds, to be passed\n         to a <code>RemoteWebDriver</code>. </p>"
          }
        },
        "expires": {
          "target": "com.amazonaws.devicefarm#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds the URL from <a>CreateTestGridUrlResult$url</a> stays active.</p>"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CreateUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#CreateUploadRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#CreateUploadResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Uploads an app or test scripts.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateUploadRequest": {
      "type": "structure",
      "members": {
        "projectArn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the project for the upload.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.devicefarm#Name",
          "traits": {
            "smithy.api#documentation": "<p>The upload's file name. The name should not contain any forward slashes (<code>/</code>). If you are\n            uploading an iOS app, the file name must end with the <code>.ipa</code> extension. If you are uploading an\n            Android app, the file name must end with the <code>.apk</code> extension. For all others, the file name must\n            end with the <code>.zip</code> file extension.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.devicefarm#UploadType",
          "traits": {
            "smithy.api#documentation": "<p>The upload's upload type.</p>\n        <p>Must be one of the following values:</p>\n        <ul>\n            <li>\n                <p>ANDROID_APP</p>\n            </li>\n            <li>\n                <p>IOS_APP</p>\n            </li>\n            <li>\n                <p>WEB_APP</p>\n            </li>\n            <li>\n                <p>EXTERNAL_DATA</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_JUNIT_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_TESTNG_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_NODE_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_RUBY_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_JUNIT_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_TESTNG_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_PYTHON_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_NODE_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_RUBY_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>CALABASH_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>INSTRUMENTATION_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>UIAUTOMATION_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>UIAUTOMATOR_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>XCTEST_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>XCTEST_UI_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_JUNIT_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_TESTNG_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_NODE_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_RUBY_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_JUNIT_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_TESTNG_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_PYTHON_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_NODE_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_RUBY_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>INSTRUMENTATION_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>XCTEST_UI_TEST_SPEC</p>\n            </li>\n         </ul>\n        <p> If you call <code>CreateUpload</code> with <code>WEB_APP</code> specified, AWS\n            Device Farm throws an <code>ArgumentException</code> error.</p>",
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.devicefarm#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The upload's content type (for example, <code>application/octet-stream</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the create upload operation.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateUploadResult": {
      "type": "structure",
      "members": {
        "upload": {
          "target": "com.amazonaws.devicefarm#Upload",
          "traits": {
            "smithy.api#documentation": "<p>The newly created upload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a create upload request.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateVPCEConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#CreateVPCEConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#CreateVPCEConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a configuration record in Device Farm for your Amazon Virtual Private Cloud\n            (VPC) endpoint.</p>"
      }
    },
    "com.amazonaws.devicefarm#CreateVPCEConfigurationRequest": {
      "type": "structure",
      "members": {
        "vpceConfigurationName": {
          "target": "com.amazonaws.devicefarm#VPCEConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name you give to your VPC endpoint configuration, to manage your\n            configurations more easily.</p>",
            "smithy.api#required": {}
          }
        },
        "vpceServiceName": {
          "target": "com.amazonaws.devicefarm#VPCEServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VPC endpoint service running in your AWS account that you want Device Farm to test.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceDnsName": {
          "target": "com.amazonaws.devicefarm#ServiceDnsName",
          "traits": {
            "smithy.api#documentation": "<p>The DNS name of the service running in your VPC that you want Device Farm to\n            test.</p>",
            "smithy.api#required": {}
          }
        },
        "vpceConfigurationDescription": {
          "target": "com.amazonaws.devicefarm#VPCEConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description that provides details about your VPC endpoint configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CreateVPCEConfigurationResult": {
      "type": "structure",
      "members": {
        "vpceConfiguration": {
          "target": "com.amazonaws.devicefarm#VPCEConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about your VPC endpoint configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CurrencyCode": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#CustomerArtifactPaths": {
      "type": "structure",
      "members": {
        "iosPaths": {
          "target": "com.amazonaws.devicefarm#IosPaths",
          "traits": {
            "smithy.api#documentation": "<p>Comma-separated list of paths on the iOS device where the artifacts generated by the customer's tests\n            are pulled from.</p>"
          }
        },
        "androidPaths": {
          "target": "com.amazonaws.devicefarm#AndroidPaths",
          "traits": {
            "smithy.api#documentation": "<p>Comma-separated list of paths on the Android device where the artifacts generated by the customer's\n            tests are pulled from.</p>"
          }
        },
        "deviceHostPaths": {
          "target": "com.amazonaws.devicefarm#DeviceHostPaths",
          "traits": {
            "smithy.api#documentation": "<p>Comma-separated list of paths in the test execution environment where the artifacts generated by the\n            customer's tests are pulled from.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object that specifies the paths where the artifacts generated by the customer's tests, on the\n            device or in the test environment, are pulled from.</p>\n        <p>Specify <code>deviceHostPaths</code> and optionally specify either\n                <code>iosPaths</code> or <code>androidPaths</code>.</p>\n        <p>For web app tests, you can specify both <code>iosPaths</code> and\n                <code>androidPaths</code>.</p>"
      }
    },
    "com.amazonaws.devicefarm#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.devicefarm#DeleteDevicePool": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#DeleteDevicePoolRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#DeleteDevicePoolResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a device pool given the pool ARN. Does not allow deletion of curated pools\n            owned by the system.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteDevicePoolRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Represents the Amazon Resource Name (ARN) of the Device Farm device pool to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the delete device pool operation.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteDevicePoolResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a delete device pool request.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteInstanceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#DeleteInstanceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#DeleteInstanceProfileResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a profile that can be applied to one or more private device instances.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteInstanceProfileRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the instance profile you are requesting to\n            delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.devicefarm#DeleteInstanceProfileResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.devicefarm#DeleteNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#DeleteNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#DeleteNetworkProfileResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a network profile.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the network profile to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.devicefarm#DeleteNetworkProfileResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.devicefarm#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#DeleteProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an AWS Device Farm project, given the project ARN.</p>\n        <p> Deleting this resource does not stop an in-progress run.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Represents the Amazon Resource Name (ARN) of the Device Farm project to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the delete project operation.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteProjectResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a delete project request.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteRemoteAccessSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#DeleteRemoteAccessSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#DeleteRemoteAccessSessionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a completed remote access session and its results.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteRemoteAccessSessionRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the session for which you want to delete remote\n            access.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to delete the specified remote access session.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteRemoteAccessSessionResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The response from the server when a request is made to delete the remote access\n            session.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#DeleteRunRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#DeleteRunResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the run, given the run ARN.</p>\n        <p> Deleting this resource does not stop an in-progress run.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteRunRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the run to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the delete run operation.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteRunResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a delete run request.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteTestGridProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#DeleteTestGridProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#DeleteTestGridProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#CannotDeleteException"
        },
        {
          "target": "com.amazonaws.devicefarm#InternalServiceException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a Selenium testing project and all content generated under it. </p>\n         <important>\n            <p>You cannot undo this operation.</p>\n         </important>\n         <note>\n            <p>You cannot delete a project if it has active sessions.</p>\n         </note>"
      }
    },
    "com.amazonaws.devicefarm#DeleteTestGridProjectRequest": {
      "type": "structure",
      "members": {
        "projectArn": {
          "target": "com.amazonaws.devicefarm#DeviceFarmArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the project to delete, from <a>CreateTestGridProject</a> or <a>ListTestGridProjects</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.devicefarm#DeleteTestGridProjectResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.devicefarm#DeleteUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#DeleteUploadRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#DeleteUploadResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an upload given the upload ARN.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteUploadRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Represents the Amazon Resource Name (ARN) of the Device Farm upload to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the delete upload operation.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteUploadResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a delete upload request.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteVPCEConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devicefarm#DeleteVPCEConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.devicefarm#DeleteVPCEConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.devicefarm#ArgumentException"
        },
        {
          "target": "com.amazonaws.devicefarm#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.devicefarm#NotFoundException"
        },
        {
          "target": "com.amazonaws.devicefarm#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a configuration for your Amazon Virtual Private Cloud (VPC) endpoint.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeleteVPCEConfigurationRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the VPC endpoint configuration you want to\n            delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.devicefarm#DeleteVPCEConfigurationResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.devicefarm#Device": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.devicefarm#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The device's ARN.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.devicefarm#Name",
          "traits": {
            "smithy.api#documentation": "<p>The device's display name.</p>"
          }
        },
        "manufacturer": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's manufacturer name.</p>"
          }
        },
        "model": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's model name.</p>"
          }
        },
        "modelId": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's model ID.</p>"
          }
        },
        "formFactor": {
          "target": "com.amazonaws.devicefarm#DeviceFormFactor",
          "traits": {
            "smithy.api#documentation": "<p>The device's form factor.</p>\n        <p>Allowed values include:</p>\n        <ul>\n            <li>\n                <p>PHONE</p>\n            </li>\n            <li>\n                <p>TABLET</p>\n            </li>\n         </ul>"
          }
        },
        "platform": {
          "target": "com.amazonaws.devicefarm#DevicePlatform",
          "traits": {
            "smithy.api#documentation": "<p>The device's platform.</p>\n        <p>Allowed values include:</p>\n        <ul>\n            <li>\n                <p>ANDROID</p>\n            </li>\n            <li>\n                <p>IOS</p>\n            </li>\n         </ul>"
          }
        },
        "os": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's operating system type.</p>"
          }
        },
        "cpu": {
          "target": "com.amazonaws.devicefarm#CPU",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device's CPU.</p>"
          }
        },
        "resolution": {
          "target": "com.amazonaws.devicefarm#Resolution",
          "traits": {
            "smithy.api#documentation": "<p>The resolution of the device.</p>"
          }
        },
        "heapSize": {
          "target": "com.amazonaws.devicefarm#Long",
          "traits": {
            "smithy.api#documentation": "<p>The device's heap size, expressed in bytes.</p>"
          }
        },
        "memory": {
          "target": "com.amazonaws.devicefarm#Long",
          "traits": {
            "smithy.api#documentation": "<p>The device's total memory size, expressed in bytes.</p>"
          }
        },
        "image": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's image name.</p>"
          }
        },
        "carrier": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's carrier.</p>"
          }
        },
        "radio": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's radio.</p>"
          }
        },
        "remoteAccessEnabled": {
          "target": "com.amazonaws.devicefarm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether remote access has been enabled for the specified\n            device.</p>"
          }
        },
        "remoteDebugEnabled": {
          "target": "com.amazonaws.devicefarm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>This flag is set to <code>true</code> if remote debugging is enabled for the\n            device.</p>\n        <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n            longer supported</a>.</p>"
          }
        },
        "fleetType": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of fleet to which this device belongs. Possible values are PRIVATE and PUBLIC.</p>"
          }
        },
        "fleetName": {
          "target": "com.amazonaws.devicefarm#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet to which this device belongs.</p>"
          }
        },
        "instances": {
          "target": "com.amazonaws.devicefarm#DeviceInstances",
          "traits": {
            "smithy.api#documentation": "<p>The instances that belong to this device.</p>"
          }
        },
        "availability": {
          "target": "com.amazonaws.devicefarm#DeviceAvailability",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how likely a device is available for a test run. Currently available in the <a>ListDevices</a> and GetDevice API methods.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a device type that an app is tested against.</p>"
      }
    },
    "com.amazonaws.devicefarm#DeviceAttribute": {
      "type": "enum",
      "members": {
        "ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARN"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "FORM_FACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORM_FACTOR"
          }
        },
        "MANUFACTURER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUFACTURER"
          }
        },
        "REMOTE_ACCESS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOTE_ACCESS_ENABLED"
          }
        },
        "REMOTE_DEBUG_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOTE_DEBUG_ENABLED"
          }
        },
        "APPIUM_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPIUM_VERSION"
          }
        },
        "INSTANCE_ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_ARN"
          }
        },
        "INSTANCE_LABELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_LABELS"
          }
        },
        "FLEET_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEET_TYPE"
          }
        },
        "OS_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OS_VERSION"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL"
          }
        },
        "AVAILABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#DeviceAvailability": {
      "type": "enum",
      "members": {
        "TEMPORARY_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPORARY_NOT_AVAILABLE"
          }
        },
        "BUSY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSY"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "HIGHLY_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGHLY_AVAILABLE"
          }
        }
      }
    },
    "com.amazonaws.devicefarm#DeviceFarmArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws:devicefarm:.+$"
      }
    },
    "com.amazonaws.devicefarm#DeviceFarm_20150623": {
      "type": "service",
      "version": "2015-06-23",
      "operations": [
        {
          "target": "com.amazonaws.devicefarm#CreateDevicePool"
        },
        {
          "target": "com.amazonaws.devicefarm#CreateInstanceProfile"
        },
        {
          "target": "com.amazonaws.devicefarm#CreateNetworkProfile"
        },
        {
          "target": "com.amazonaws.devicefarm#CreateProject"
        },
        {
          "target": "com.amazonaws.devicefarm#CreateRemoteAccessSession"
        },
        {
          "target": "com.amazonaws.devicefarm#CreateTestGridProject"
        },
        {
          "target": "com.amazonaws.devicefarm#CreateTestGridUrl"
        },
        {
          "target": "com.amazonaws.devicefarm#CreateUpload"
        },
        {
          "target": "com.amazonaws.devicefarm#CreateVPCEConfiguration"
        },
        {
          "target": "com.amazonaws.devicefarm#DeleteDevicePool"
        },
        {
          "target": "com.amazonaws.devicefarm#DeleteInstanceProfile"
        },
        {
          "target": "com.amazonaws.devicefarm#DeleteNetworkProfile"
        },
        {
          "target": "com.amazonaws.devicefarm#DeleteProject"
        },
        {
          "target": "com.amazonaws.devicefarm#DeleteRemoteAccessSession"
        },
        {
          "target": "com.amazonaws.devicefarm#DeleteRun"
        },
        {
          "target": "com.amazonaws.devicefarm#DeleteTestGridProject"
        },
        {
          "target": "com.amazonaws.devicefarm#DeleteUpload"
        },
        {
          "target": "com.amazonaws.devicefarm#DeleteVPCEConfiguration"
        },
        {
          "target": "com.amazonaws.devicefarm#GetAccountSettings"
        },
        {
          "target": "com.amazonaws.devicefarm#GetDevice"
        },
        {
          "target": "com.amazonaws.devicefarm#GetDeviceInstance"
        },
        {
          "target": "com.amazonaws.devicefarm#GetDevicePool"
        },
        {
          "target": "com.amazonaws.devicefarm#GetDevicePoolCompatibility"
        },
        {
          "target": "com.amazonaws.devicefarm#GetInstanceProfile"
        },
        {
          "target": "com.amazonaws.devicefarm#GetJob"
        },
        {
          "target": "com.amazonaws.devicefarm#GetNetworkProfile"
        },
        {
          "target": "com.amazonaws.devicefarm#GetOfferingStatus"
        },
        {
          "target": "com.amazonaws.devicefarm#GetProject"
        },
        {
          "target": "com.amazonaws.devicefarm#GetRemoteAccessSession"
        },
        {
          "target": "com.amazonaws.devicefarm#GetRun"
        },
        {
          "target": "com.amazonaws.devicefarm#GetSuite"
        },
        {
          "target": "com.amazonaws.devicefarm#GetTest"
        },
        {
          "target": "com.amazonaws.devicefarm#GetTestGridProject"
        },
        {
          "target": "com.amazonaws.devicefarm#GetTestGridSession"
        },
        {
          "target": "com.amazonaws.devicefarm#GetUpload"
        },
        {
          "target": "com.amazonaws.devicefarm#GetVPCEConfiguration"
        },
        {
          "target": "com.amazonaws.devicefarm#InstallToRemoteAccessSession"
        },
        {
          "target": "com.amazonaws.devicefarm#ListArtifacts"
        },
        {
          "target": "com.amazonaws.devicefarm#ListDeviceInstances"
        },
        {
          "target": "com.amazonaws.devicefarm#ListDevicePools"
        },
        {
          "target": "com.amazonaws.devicefarm#ListDevices"
        },
        {
          "target": "com.amazonaws.devicefarm#ListInstanceProfiles"
        },
        {
          "target": "com.amazonaws.devicefarm#ListJobs"
        },
        {
          "target": "com.amazonaws.devicefarm#ListNetworkProfiles"
        },
        {
          "target": "com.amazonaws.devicefarm#ListOfferingPromotions"
        },
        {
          "target": "com.amazonaws.devicefarm#ListOfferings"
        },
        {
          "target": "com.amazonaws.devicefarm#ListOfferingTransactions"
        },
        {
          "target": "com.amazonaws.devicefarm#ListProjects"
        },
        {
          "target": "com.amazonaws.devicefarm#ListRemoteAccessSessions"
        },
        {
          "target": "com.amazonaws.devicefarm#ListRuns"
        },
        {
          "target": "com.amazonaws.devicefarm#ListSamples"
        },
        {
          "target": "com.amazonaws.devicefarm#ListSuites"
        },
        {
          "target": "com.amazonaws.devicefarm#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.devicefarm#ListTestGridProjects"
        },
        {
          "target": "com.amazonaws.devicefarm#ListTestGridSessionActions"
        },
        {
          "target": "com.amazonaws.devicefarm#ListTestGridSessionArtifacts"
        },
        {
          "target": "com.amazonaws.devicefarm#ListTestGridSessions"
        },
        {
          "target": "com.amazonaws.devicefarm#ListTests"
        },
        {
          "target": "com.amazonaws.devicefarm#ListUniqueProblems"
        },
        {
          "target": "com.amazonaws.devicefarm#ListUploads"
        },
        {
          "target": "com.amazonaws.devicefarm#ListVPCEConfigurations"
        },
        {
          "target": "com.amazonaws.devicefarm#PurchaseOffering"
        },
        {
          "target": "com.amazonaws.devicefarm#RenewOffering"
        },
        {
          "target": "com.amazonaws.devicefarm#ScheduleRun"
        },
        {
          "target": "com.amazonaws.devicefarm#StopJob"
        },
        {
          "target": "com.amazonaws.devicefarm#StopRemoteAccessSession"
        },
        {
          "target": "com.amazonaws.devicefarm#StopRun"
        },
        {
          "target": "com.amazonaws.devicefarm#TagResource"
        },
        {
          "target": "com.amazonaws.devicefarm#UntagResource"
        },
        {
          "target": "com.amazonaws.devicefarm#UpdateDeviceInstance"
        },
        {
          "target": "com.amazonaws.devicefarm#UpdateDevicePool"
        },
        {
          "target": "com.amazonaws.devicefarm#UpdateInstanceProfile"
        },
        {
          "target": "com.amazonaws.devicefarm#UpdateNetworkProfile"
        },
        {
          "target": "com.amazonaws.devicefarm#UpdateProject"
        },
        {
          "target": "com.amazonaws.devicefarm#UpdateTestGridProject"
        },
        {
          "target": "com.amazonaws.devicefarm#UpdateUpload"
        },
        {
          "target": "com.amazonaws.devicefarm#UpdateVPCEConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Device Farm",
          "arnNamespace": "devicefarm",
          "cloudFormationName": "DeviceFarm",
          "cloudTrailEventSource": "devicefarm.amazonaws.com",
          "endpointPrefix": "devicefarm"
        },
        "aws.auth#sigv4": {
          "name": "devicefarm"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Welcome to the AWS Device Farm API documentation, which contains APIs for:</p>\n        <ul>\n            <li>\n                <p>Testing on desktop browsers</p>\n                <p> Device Farm makes it possible for you to test your web applications on desktop browsers using\n                    Selenium. The APIs for desktop browser testing contain <code>TestGrid</code> in their names. For\n                    more information, see <a href=\"https://docs.aws.amazon.com/devicefarm/latest/testgrid/\">Testing Web\n                        Applications on Selenium with Device Farm</a>.</p>\n            </li>\n            <li>\n                <p>Testing on real mobile devices</p>\n                <p>Device Farm makes it possible for you to test apps on physical phones, tablets, and other\n                    devices in the cloud. For more information, see the <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/\">Device Farm Developer Guide</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Device Farm",
        "smithy.api#xmlNamespace": {
          "uri": "http://devicefarm.amazonaws.com/doc/2015-06-23/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://devicefarm-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://devicefarm-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://devicefarm.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://devicefarm.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devicefarm-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devicefarm-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devicefarm.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devicefarm.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.devicefarm#DeviceFilter": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.devicefarm#DeviceFilterAttribute",
          "traits": {
[...]
