{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.devicefarm.model#AWSAccountNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 16
        }
      }
    },
    "com.amazon.devicefarm.model#AccountSettings": {
      "type": "structure",
      "members": {
        "awsAccountNumber": {
          "target": "com.amazon.devicefarm.model#AWSAccountNumber",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account number specified in the <code>AccountSettings</code>\n            container.</p>"
          }
        },
        "defaultJobTimeoutMinutes": {
          "target": "com.amazon.devicefarm.model#JobTimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The default number of minutes (at the account level) a test run executes before it times out. The\n            default value is 150 minutes.</p>"
          }
        },
        "maxJobTimeoutMinutes": {
          "target": "com.amazon.devicefarm.model#JobTimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of minutes a test run executes before it times out.</p>"
          }
        },
        "maxSlots": {
          "target": "com.amazon.devicefarm.model#MaxSlotMap",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of device slots that the AWS account can purchase. Each maximum\n            is expressed as an <code>offering-id:number</code> pair, where the\n                <code>offering-id</code> represents one of the IDs returned by the\n                <code>ListOfferings</code> command.</p>"
          }
        },
        "skipAppResign": {
          "target": "com.amazon.devicefarm.model#SkipAppResign",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>true</code>, for private devices, Device Farm does not sign your app again. For public\n            devices, Device Farm always signs your apps again.</p>\n        <p>For more information about how Device Farm re-signs your apps, see <a href=\"https://aws.amazon.com/device-farm/faq/\">Do you modify my app?</a> in the <i>AWS Device\n                Farm FAQs</i>.</p>"
          }
        },
        "trialMinutes": {
          "target": "com.amazon.devicefarm.model#TrialMinutes",
          "traits": {
            "smithy.api#documentation": "<p>Information about an AWS account's usage of free trial device minutes.</p>"
          }
        },
        "unmeteredDevices": {
          "target": "com.amazon.devicefarm.model#PurchasedDevicesMap",
          "traits": {
            "smithy.api#documentation": "<p>Returns the unmetered devices you have purchased or want to purchase.</p>"
          }
        },
        "unmeteredRemoteAccessDevices": {
          "target": "com.amazon.devicefarm.model#PurchasedDevicesMap",
          "traits": {
            "smithy.api#documentation": "<p>Returns the unmetered remote access devices you have purchased or want to\n            purchase.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A container for account-level settings in AWS Device Farm.</p>"
      }
    },
    "com.amazon.devicefarm.model#AccountsCleanup": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.devicefarm.model#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:.+"
      }
    },
    "com.amazon.devicefarm.model#AmazonResourceNames": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#AmazonResourceName"
      }
    },
    "com.amazon.devicefarm.model#AndroidPaths": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#String"
      }
    },
    "com.amazon.devicefarm.model#AppPackagesCleanup": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.devicefarm.model#ArgumentException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.devicefarm.model#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any additional information about the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An invalid argument was specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.devicefarm.model#Artifact": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The artifact's ARN.</p>"
          }
        },
        "extension": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The artifact's file extension.</p>"
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "<p>The artifact's name.</p>"
          }
        },
        "type": {
          "target": "com.amazon.devicefarm.model#ArtifactType",
          "traits": {
            "smithy.api#documentation": "<p>The artifact's type.</p>\n        <p>Allowed values include the following:</p>\n        <ul>\n            <li>\n                <p>UNKNOWN</p>\n            </li>\n            <li>\n                <p>SCREENSHOT</p>\n            </li>\n            <li>\n                <p>DEVICE_LOG</p>\n            </li>\n            <li>\n                <p>MESSAGE_LOG</p>\n            </li>\n            <li>\n                <p>VIDEO_LOG</p>\n            </li>\n            <li>\n                <p>RESULT_LOG</p>\n            </li>\n            <li>\n                <p>SERVICE_LOG</p>\n            </li>\n            <li>\n                <p>WEBKIT_LOG</p>\n            </li>\n            <li>\n                <p>INSTRUMENTATION_OUTPUT</p>\n            </li>\n            <li>\n                <p>EXERCISER_MONKEY_OUTPUT: the artifact (log) generated by an Android fuzz test.</p>\n            </li>\n            <li>\n                <p>CALABASH_JSON_OUTPUT</p>\n            </li>\n            <li>\n                <p>CALABASH_PRETTY_OUTPUT</p>\n            </li>\n            <li>\n                <p>CALABASH_STANDARD_OUTPUT</p>\n            </li>\n            <li>\n                <p>CALABASH_JAVA_XML_OUTPUT</p>\n            </li>\n            <li>\n                <p>AUTOMATION_OUTPUT</p>\n            </li>\n            <li>\n                <p>APPIUM_SERVER_OUTPUT</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_OUTPUT</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_XML_OUTPUT</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_OUTPUT</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_XML_OUTPUT</p>\n            </li>\n            <li>\n                <p>EXPLORER_EVENT_LOG</p>\n            </li>\n            <li>\n                <p>EXPLORER_SUMMARY_LOG</p>\n            </li>\n            <li>\n                <p>APPLICATION_CRASH_REPORT</p>\n            </li>\n            <li>\n                <p>XCTEST_LOG</p>\n            </li>\n            <li>\n                <p>VIDEO</p>\n            </li>\n            <li>\n                <p>CUSTOMER_ARTIFACT</p>\n            </li>\n            <li>\n                <p>CUSTOMER_ARTIFACT_LOG</p>\n            </li>\n            <li>\n                <p>TESTSPEC_OUTPUT</p>\n            </li>\n         </ul>"
          }
        },
        "url": {
          "target": "com.amazon.devicefarm.model#URL",
          "traits": {
            "smithy.api#documentation": "<p>The presigned Amazon S3 URL that can be used with a GET request to download the artifact's\n            file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a test. Examples of artifacts include logs and\n            screenshots.</p>"
      }
    },
    "com.amazon.devicefarm.model#ArtifactCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SCREENSHOT": {
            "name": "SCREENSHOT"
          },
          "FILE": {
            "name": "FILE"
          },
          "LOG": {
            "name": "LOG"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#ArtifactType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "UNKNOWN": {
            "name": "UNKNOWN"
          },
          "SCREENSHOT": {
            "name": "SCREENSHOT"
          },
          "DEVICE_LOG": {
            "name": "DEVICE_LOG"
          },
          "MESSAGE_LOG": {
            "name": "MESSAGE_LOG"
          },
          "VIDEO_LOG": {
            "name": "VIDEO_LOG"
          },
          "RESULT_LOG": {
            "name": "RESULT_LOG"
          },
          "SERVICE_LOG": {
            "name": "SERVICE_LOG"
          },
          "WEBKIT_LOG": {
            "name": "WEBKIT_LOG"
          },
          "INSTRUMENTATION_OUTPUT": {
            "name": "INSTRUMENTATION_OUTPUT"
          },
          "EXERCISER_MONKEY_OUTPUT": {
            "name": "EXERCISER_MONKEY_OUTPUT"
          },
          "CALABASH_JSON_OUTPUT": {
            "name": "CALABASH_JSON_OUTPUT"
          },
          "CALABASH_PRETTY_OUTPUT": {
            "name": "CALABASH_PRETTY_OUTPUT"
          },
          "CALABASH_STANDARD_OUTPUT": {
            "name": "CALABASH_STANDARD_OUTPUT"
          },
          "CALABASH_JAVA_XML_OUTPUT": {
            "name": "CALABASH_JAVA_XML_OUTPUT"
          },
          "AUTOMATION_OUTPUT": {
            "name": "AUTOMATION_OUTPUT"
          },
          "APPIUM_SERVER_OUTPUT": {
            "name": "APPIUM_SERVER_OUTPUT"
          },
          "APPIUM_JAVA_OUTPUT": {
            "name": "APPIUM_JAVA_OUTPUT"
          },
          "APPIUM_JAVA_XML_OUTPUT": {
            "name": "APPIUM_JAVA_XML_OUTPUT"
          },
          "APPIUM_PYTHON_OUTPUT": {
            "name": "APPIUM_PYTHON_OUTPUT"
          },
          "APPIUM_PYTHON_XML_OUTPUT": {
            "name": "APPIUM_PYTHON_XML_OUTPUT"
          },
          "EXPLORER_EVENT_LOG": {
            "name": "EXPLORER_EVENT_LOG"
          },
          "EXPLORER_SUMMARY_LOG": {
            "name": "EXPLORER_SUMMARY_LOG"
          },
          "APPLICATION_CRASH_REPORT": {
            "name": "APPLICATION_CRASH_REPORT"
          },
          "XCTEST_LOG": {
            "name": "XCTEST_LOG"
          },
          "VIDEO": {
            "name": "VIDEO"
          },
          "CUSTOMER_ARTIFACT": {
            "name": "CUSTOMER_ARTIFACT"
          },
          "CUSTOMER_ARTIFACT_LOG": {
            "name": "CUSTOMER_ARTIFACT_LOG"
          },
          "TESTSPEC_OUTPUT": {
            "name": "TESTSPEC_OUTPUT"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#Artifacts": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#Artifact"
      }
    },
    "com.amazon.devicefarm.model#BillingMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "METERED": {
            "name": "METERED"
          },
          "UNMETERED": {
            "name": "UNMETERED"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.devicefarm.model#CPU": {
      "type": "structure",
      "members": {
        "architecture": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The CPU's architecture (for example, x86 or ARM).</p>"
          }
        },
        "clock": {
          "target": "com.amazon.devicefarm.model#Double",
          "traits": {
            "smithy.api#documentation": "<p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2\n            GHz CPU is expressed as 1200000000.</p>"
          }
        },
        "frequency": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The CPU's frequency.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the amount of CPU that an app is using on a physical device. Does not represent system-wide\n            CPU usage.</p>"
      }
    },
    "com.amazon.devicefarm.model#CannotDeleteException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.devicefarm.model#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested object could not be deleted.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazon.devicefarm.model#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazon.devicefarm.model#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazon.devicefarm.model#Counters": {
      "type": "structure",
      "members": {
        "errored": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of errored entities.</p>"
          }
        },
        "failed": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of failed entities.</p>"
          }
        },
        "passed": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of passed entities.</p>"
          }
        },
        "skipped": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of skipped entities.</p>"
          }
        },
        "stopped": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of stopped entities.</p>"
          }
        },
        "total": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of entities.</p>"
          }
        },
        "warned": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of warned entities.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents entity counters.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateDevicePool": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateDevicePoolRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateDevicePoolResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a device pool.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateDevicePoolRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazon.devicefarm.model#Message",
          "traits": {
            "smithy.api#documentation": "<p>The device pool's description.</p>"
          }
        },
        "maxDevices": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are\n            available and meet the criteria that you assign for the <code>rules</code> parameter. Depending on how many\n            devices meet these constraints, your device pool might contain fewer devices than the value for this\n            parameter.</p>\n        <p>By specifying the maximum number of devices, you can control the costs that you incur\n            by running tests.</p>"
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "<p>The device pool's name.</p>",
            "smithy.api#required": true
          }
        },
        "projectArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the project for the device pool.</p>",
            "smithy.api#required": true
          }
        },
        "rules": {
          "target": "com.amazon.devicefarm.model#Rules",
          "traits": {
            "smithy.api#documentation": "<p>The device pool's rules.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the create device pool operation.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateDevicePoolResult": {
      "type": "structure",
      "members": {
        "devicePool": {
          "target": "com.amazon.devicefarm.model#DevicePool",
          "traits": {
            "smithy.api#documentation": "<p>The newly created device pool.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a create device pool request.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateInstanceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateInstanceProfileRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateInstanceProfileResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a profile that can be applied to one or more private fleet device\n            instances.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateInstanceProfileRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazon.devicefarm.model#Message",
          "traits": {
            "smithy.api#documentation": "<p>The description of your instance profile.</p>"
          }
        },
        "excludeAppPackagesFromCleanup": {
          "target": "com.amazon.devicefarm.model#PackageIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that specifies the list of app packages that should not be cleaned up from the device\n            after a test run.</p>\n        <p>The list of packages is considered only if you set <code>packageCleanup</code> to\n            <code>true</code>.</p>"
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of your instance profile.</p>",
            "smithy.api#required": true
          }
        },
        "packageCleanup": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>true</code>, Device Farm removes app packages after a test run. The default value is\n                <code>false</code> for private devices.</p>"
          }
        },
        "rebootAfterUse": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>true</code>, Device Farm reboots the instance after a test run. The default value is\n                <code>true</code>.</p>"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateInstanceProfileResult": {
      "type": "structure",
      "members": {
        "instanceProfile": {
          "target": "com.amazon.devicefarm.model#InstanceProfile",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about your instance profile.</p>"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateNetworkProfileResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a network profile.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazon.devicefarm.model#Message",
          "traits": {
            "smithy.api#documentation": "<p>The description of the network profile.</p>"
          }
        },
        "downlinkBandwidthBits": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "<p>The data throughput rate in bits per second, as an integer from 0 to\n            104857600.</p>"
          }
        },
        "downlinkDelayMs": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "<p>Delay time for all packets to destination in milliseconds as an integer from 0 to\n            2000.</p>"
          }
        },
        "downlinkJitterMs": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "<p>Time variation in the delay of received packets in milliseconds as an integer from\n            0 to 2000.</p>"
          }
        },
        "downlinkLossPercent": {
          "target": "com.amazon.devicefarm.model#PercentInteger",
          "traits": {
            "smithy.api#documentation": "<p>Proportion of received packets that fail to arrive from 0 to 100 percent.</p>"
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new network profile.</p>",
            "smithy.api#required": true
          }
        },
        "projectArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the project for which you want to create a\n            network profile.</p>",
            "smithy.api#required": true
          }
        },
        "type": {
          "target": "com.amazon.devicefarm.model#NetworkProfileType",
          "traits": {
            "smithy.api#documentation": "<p>The type of network profile to create. Valid values are listed here.</p>"
          }
        },
        "uplinkBandwidthBits": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "<p>The data throughput rate in bits per second, as an integer from 0 to\n            104857600.</p>"
          }
        },
        "uplinkDelayMs": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "<p>Delay time for all packets to destination in milliseconds as an integer from 0 to\n            2000.</p>"
          }
        },
        "uplinkJitterMs": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "<p>Time variation in the delay of received packets in milliseconds as an integer from\n            0 to 2000.</p>"
          }
        },
        "uplinkLossPercent": {
          "target": "com.amazon.devicefarm.model#PercentInteger",
          "traits": {
            "smithy.api#documentation": "<p>Proportion of transmitted packets that fail to arrive from 0 to 100\n            percent.</p>"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateNetworkProfileResult": {
      "type": "structure",
      "members": {
        "networkProfile": {
          "target": "com.amazon.devicefarm.model#NetworkProfile",
          "traits": {
            "smithy.api#documentation": "<p>The network profile that is returned by the create network profile\n            request.</p>"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateProjectResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        },
        {
          "target": "com.amazon.devicefarm.model#TagOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a project.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "defaultJobTimeoutMinutes": {
          "target": "com.amazon.devicefarm.model#JobTimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "<p>Sets the execution timeout value (in minutes) for a project. All test runs in this project use the\n            specified execution timeout value unless overridden when scheduling a run.</p>"
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "<p>The project's name.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the create project operation.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateProjectResult": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazon.devicefarm.model#Project",
          "traits": {
            "smithy.api#documentation": "<p>The newly created project.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a create project request.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateRemoteAccessSession": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateRemoteAccessSessionRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateRemoteAccessSessionResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Specifies and starts a remote access session.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateRemoteAccessSessionConfiguration": {
      "type": "structure",
      "members": {
        "billingMethod": {
          "target": "com.amazon.devicefarm.model#BillingMethod",
          "traits": {
            "smithy.api#documentation": "<p>The billing method for the remote access session.</p>"
          }
        },
        "vpceConfigurationArns": {
          "target": "com.amazon.devicefarm.model#AmazonResourceNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of ARNs included in the VPC endpoint configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration settings for a remote access session, including billing\n            method.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateRemoteAccessSessionRequest": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "com.amazon.devicefarm.model#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the client. If you want access to multiple devices on the same client, you should\n            pass the same <code>clientId</code> value in each call to <code>CreateRemoteAccessSession</code>. This\n            identifier is required only if <code>remoteDebugEnabled</code> is set to <code>true</code>.</p>\n        <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n                longer supported</a>.</p>"
          }
        },
        "configuration": {
          "target": "com.amazon.devicefarm.model#CreateRemoteAccessSessionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the remote access session request.</p>"
          }
        },
        "deviceArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the device for which you want to create a remote access session.</p>",
            "smithy.api#required": true
          }
        },
        "instanceArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the device instance for which you want to create a\n            remote access session.</p>"
          }
        },
        "interactionMode": {
          "target": "com.amazon.devicefarm.model#InteractionMode",
          "traits": {
            "smithy.api#documentation": "<p>The interaction mode of the remote access session. Valid values are:</p>\n        <ul>\n            <li>\n                <p>INTERACTIVE: You can interact with the iOS device by viewing, touching, and\n                    rotating the screen. You cannot run XCUITest framework-based tests in this\n                    mode.</p>\n            </li>\n            <li>\n                <p>NO_VIDEO: You are connected to the device, but cannot interact with it or view the screen. This\n                    mode has the fastest test execution speed. You can run XCUITest framework-based tests in this\n                    mode.</p>\n            </li>\n            <li>\n                <p>VIDEO_ONLY: You can view the screen, but cannot touch or rotate it. You can run XCUITest\n                    framework-based tests and watch the screen in this mode.</p>\n            </li>\n         </ul>"
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the remote access session to create.</p>"
          }
        },
        "projectArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the project for which you want to create a remote\n            access session.</p>",
            "smithy.api#required": true
          }
        },
        "remoteDebugEnabled": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> if you want to access devices remotely for debugging in\n            your remote access session.</p>\n        <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n                longer supported</a>.</p>"
          }
        },
        "remoteRecordAppArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the app to be recorded in the remote access\n            session.</p>"
          }
        },
        "remoteRecordEnabled": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to enable remote recording for the remote access\n            session.</p>"
          }
        },
        "skipAppResign": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>true</code>, for private devices, Device Farm does not sign your app again. For public\n            devices, Device Farm always signs your apps again.</p>\n        <p>For more information on how Device Farm modifies your uploads during tests, see <a href=\"https://aws.amazon.com/device-farm/faq/\">Do you modify my app?</a>\n         </p>"
          }
        },
        "sshPublicKey": {
          "target": "com.amazon.devicefarm.model#SshPublicKey",
          "traits": {
            "smithy.api#documentation": "<p>Ignored. The public key of the <code>ssh</code> key pair you want to use for connecting to remote\n            devices in your remote debugging session. This key is required only if <code>remoteDebugEnabled</code> is\n            set to <code>true</code>.</p>\n        <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n                longer supported</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates and submits a request to start a remote access session.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateRemoteAccessSessionResult": {
      "type": "structure",
      "members": {
        "remoteAccessSession": {
          "target": "com.amazon.devicefarm.model#RemoteAccessSession",
          "traits": {
            "smithy.api#documentation": "<p>A container that describes the remote access session when the request to create a\n            remote access session is sent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the server response from a request to create a remote access\n            session.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateTestGridProject": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateTestGridProjectRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateTestGridProjectResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#InternalServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Selenium testing project. Projects are used to track <a>TestGridSession</a>\n         instances.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateTestGridProjectRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazon.devicefarm.model#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Human-readable description of the project.</p>"
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Human-readable name of the Selenium testing project.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateTestGridProjectResult": {
      "type": "structure",
      "members": {
        "testGridProject": {
          "target": "com.amazon.devicefarm.model#TestGridProject",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the Selenium testing project that was created.</p>"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateTestGridUrl": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateTestGridUrlRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateTestGridUrlResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#InternalServiceException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a signed, short-term URL that can be passed to a Selenium <code>RemoteWebDriver</code>\n         constructor.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateTestGridUrlRequest": {
      "type": "structure",
      "members": {
        "expiresInSeconds": {
          "target": "com.amazon.devicefarm.model#TestGridUrlExpiresInSecondsInput",
          "traits": {
            "smithy.api#documentation": "<p>Lifetime, in seconds, of the URL.</p>",
            "smithy.api#required": true
          }
        },
        "projectArn": {
          "target": "com.amazon.devicefarm.model#DeviceFarmArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN (from <a>CreateTestGridProject</a> or <a>ListTestGridProjects</a>) to associate\n         with the short-term URL. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateTestGridUrlResult": {
      "type": "structure",
      "members": {
        "expires": {
          "target": "com.amazon.devicefarm.model#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds the URL from <a>CreateTestGridUrlResult$url</a> stays active.</p>"
          }
        },
        "url": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>A signed URL, expiring in <a>CreateTestGridUrlRequest$expiresInSeconds</a> seconds, to be passed\n         to a <code>RemoteWebDriver</code>. </p>"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateUploadRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateUploadResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Uploads an app or test scripts.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateUploadRequest": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "com.amazon.devicefarm.model#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The upload's content type (for example, <code>application/octet-stream</code>).</p>"
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "<p>The upload's file name. The name should not contain any forward slashes (<code>/</code>). If you are\n            uploading an iOS app, the file name must end with the <code>.ipa</code> extension. If you are uploading an\n            Android app, the file name must end with the <code>.apk</code> extension. For all others, the file name must\n            end with the <code>.zip</code> file extension.</p>",
            "smithy.api#required": true
          }
        },
        "projectArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the project for the upload.</p>",
            "smithy.api#required": true
          }
        },
        "type": {
          "target": "com.amazon.devicefarm.model#UploadType",
          "traits": {
            "smithy.api#documentation": "<p>The upload's upload type.</p>\n        <p>Must be one of the following values:</p>\n        <ul>\n            <li>\n                <p>ANDROID_APP</p>\n            </li>\n            <li>\n                <p>IOS_APP</p>\n            </li>\n            <li>\n                <p>WEB_APP</p>\n            </li>\n            <li>\n                <p>EXTERNAL_DATA</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_JUNIT_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_TESTNG_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_NODE_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_RUBY_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_JUNIT_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_TESTNG_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_PYTHON_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_NODE_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_RUBY_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>CALABASH_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>INSTRUMENTATION_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>UIAUTOMATION_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>UIAUTOMATOR_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>XCTEST_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>XCTEST_UI_TEST_PACKAGE</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_JUNIT_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_TESTNG_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_NODE_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_RUBY_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_JUNIT_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_TESTNG_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_PYTHON_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_NODE_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_RUBY_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>INSTRUMENTATION_TEST_SPEC</p>\n            </li>\n            <li>\n                <p>XCTEST_UI_TEST_SPEC</p>\n            </li>\n         </ul>\n        <p> If you call <code>CreateUpload</code> with <code>WEB_APP</code> specified, AWS\n            Device Farm throws an <code>ArgumentException</code> error.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the create upload operation.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateUploadResult": {
      "type": "structure",
      "members": {
        "upload": {
          "target": "com.amazon.devicefarm.model#Upload",
          "traits": {
            "smithy.api#documentation": "<p>The newly created upload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a create upload request.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateVPCEConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateVPCEConfigurationRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateVPCEConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a configuration record in Device Farm for your Amazon Virtual Private Cloud\n            (VPC) endpoint.</p>"
      }
    },
    "com.amazon.devicefarm.model#CreateVPCEConfigurationRequest": {
      "type": "structure",
      "members": {
        "serviceDnsName": {
          "target": "com.amazon.devicefarm.model#ServiceDnsName",
          "traits": {
            "smithy.api#documentation": "<p>The DNS name of the service running in your VPC that you want Device Farm to\n            test.</p>",
            "smithy.api#required": true
          }
        },
        "vpceConfigurationDescription": {
          "target": "com.amazon.devicefarm.model#VPCEConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description that provides details about your VPC endpoint configuration.</p>"
          }
        },
        "vpceConfigurationName": {
          "target": "com.amazon.devicefarm.model#VPCEConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name you give to your VPC endpoint configuration, to manage your\n            configurations more easily.</p>",
            "smithy.api#required": true
          }
        },
        "vpceServiceName": {
          "target": "com.amazon.devicefarm.model#VPCEServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VPC endpoint service running in your AWS account that you want Device Farm to test.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateVPCEConfigurationResult": {
      "type": "structure",
      "members": {
        "vpceConfiguration": {
          "target": "com.amazon.devicefarm.model#VPCEConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about your VPC endpoint configuration.</p>"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CurrencyCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "USD": {
            "name": "USD"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CustomerArtifactPaths": {
      "type": "structure",
      "members": {
        "androidPaths": {
          "target": "com.amazon.devicefarm.model#AndroidPaths",
          "traits": {
            "smithy.api#documentation": "<p>Comma-separated list of paths on the Android device where the artifacts generated by the customer's\n            tests are pulled from.</p>"
          }
        },
        "deviceHostPaths": {
          "target": "com.amazon.devicefarm.model#DeviceHostPaths",
          "traits": {
            "smithy.api#documentation": "<p>Comma-separated list of paths in the test execution environment where the artifacts generated by the\n            customer's tests are pulled from.</p>"
          }
        },
        "iosPaths": {
          "target": "com.amazon.devicefarm.model#IosPaths",
          "traits": {
            "smithy.api#documentation": "<p>Comma-separated list of paths on the iOS device where the artifacts generated by the customer's tests\n            are pulled from.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON object that specifies the paths where the artifacts generated by the customer's tests, on the\n            device or in the test environment, are pulled from.</p>\n        <p>Specify <code>deviceHostPaths</code> and optionally specify either\n                <code>iosPaths</code> or <code>androidPaths</code>.</p>\n        <p>For web app tests, you can specify both <code>iosPaths</code> and\n                <code>androidPaths</code>.</p>"
      }
    },
    "com.amazon.devicefarm.model#DateTime": {
      "type": "timestamp"
    },
    "com.amazon.devicefarm.model#DeleteDevicePool": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteDevicePoolRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteDevicePoolResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a device pool given the pool ARN. Does not allow deletion of curated pools\n            owned by the system.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteDevicePoolRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Represents the Amazon Resource Name (ARN) of the Device Farm device pool to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the delete device pool operation.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteDevicePoolResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a delete device pool request.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteInstanceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteInstanceProfileRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteInstanceProfileResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a profile that can be applied to one or more private device instances.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteInstanceProfileRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the instance profile you are requesting to\n            delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeleteInstanceProfileResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.devicefarm.model#DeleteNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteNetworkProfileResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a network profile.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the network profile to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeleteNetworkProfileResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.devicefarm.model#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteProjectResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an AWS Device Farm project, given the project ARN.</p>\n        <p> Deleting this resource does not stop an in-progress run.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Represents the Amazon Resource Name (ARN) of the Device Farm project to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the delete project operation.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteProjectResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a delete project request.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteRemoteAccessSession": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteRemoteAccessSessionRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteRemoteAccessSessionResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a completed remote access session and its results.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteRemoteAccessSessionRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the session for which you want to delete remote\n            access.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the request to delete the specified remote access session.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteRemoteAccessSessionResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>The response from the server when a request is made to delete the remote access\n            session.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteRun": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteRunRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteRunResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the run, given the run ARN.</p>\n        <p> Deleting this resource does not stop an in-progress run.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteRunRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the run to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the delete run operation.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteRunResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a delete run request.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteTestGridProject": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteTestGridProjectRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteTestGridProjectResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#CannotDeleteException"
        },
        {
          "target": "com.amazon.devicefarm.model#InternalServiceException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a Selenium testing project and all content generated under it. </p>\n         <important>\n            <p>You cannot undo this operation.</p>\n         </important>\n         <note>\n            <p>You cannot delete a project if it has active sessions.</p>\n         </note>"
      }
    },
    "com.amazon.devicefarm.model#DeleteTestGridProjectRequest": {
      "type": "structure",
      "members": {
        "projectArn": {
          "target": "com.amazon.devicefarm.model#DeviceFarmArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the project to delete, from <a>CreateTestGridProject</a> or <a>ListTestGridProjects</a>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeleteTestGridProjectResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.devicefarm.model#DeleteUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteUploadRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteUploadResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an upload given the upload ARN.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteUploadRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Represents the Amazon Resource Name (ARN) of the Device Farm upload to delete.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to the delete upload operation.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteUploadResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Represents the result of a delete upload request.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteVPCEConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteVPCEConfigurationRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteVPCEConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#InvalidOperationException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a configuration for your Amazon Virtual Private Cloud (VPC) endpoint.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeleteVPCEConfigurationRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the VPC endpoint configuration you want to\n            delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeleteVPCEConfigurationResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.devicefarm.model#Device": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The device's ARN.</p>"
          }
        },
        "availability": {
          "target": "com.amazon.devicefarm.model#DeviceAvailability",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how likely a device is available for a test run. Currently available in the <a>ListDevices</a> and GetDevice API methods.</p>"
          }
        },
        "carrier": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's carrier.</p>"
          }
        },
        "cpu": {
          "target": "com.amazon.devicefarm.model#CPU",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device's CPU.</p>"
          }
        },
        "fleetName": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet to which this device belongs.</p>"
          }
        },
        "fleetType": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of fleet to which this device belongs. Possible values are PRIVATE and PUBLIC.</p>"
          }
        },
        "formFactor": {
          "target": "com.amazon.devicefarm.model#DeviceFormFactor",
          "traits": {
            "smithy.api#documentation": "<p>The device's form factor.</p>\n        <p>Allowed values include:</p>\n        <ul>\n            <li>\n                <p>PHONE</p>\n            </li>\n            <li>\n                <p>TABLET</p>\n            </li>\n         </ul>"
          }
        },
        "heapSize": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "<p>The device's heap size, expressed in bytes.</p>"
          }
        },
        "image": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's image name.</p>"
          }
        },
        "instances": {
          "target": "com.amazon.devicefarm.model#DeviceInstances",
          "traits": {
            "smithy.api#documentation": "<p>The instances that belong to this device.</p>"
          }
        },
        "manufacturer": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's manufacturer name.</p>"
          }
        },
        "memory": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "<p>The device's total memory size, expressed in bytes.</p>"
          }
        },
        "model": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's model name.</p>"
          }
        },
        "modelId": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's model ID.</p>"
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "<p>The device's display name.</p>"
          }
        },
        "os": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's operating system type.</p>"
          }
        },
        "platform": {
          "target": "com.amazon.devicefarm.model#DevicePlatform",
          "traits": {
            "smithy.api#documentation": "<p>The device's platform.</p>\n        <p>Allowed values include:</p>\n        <ul>\n            <li>\n                <p>ANDROID</p>\n            </li>\n            <li>\n                <p>IOS</p>\n            </li>\n         </ul>"
          }
        },
        "radio": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>The device's radio.</p>"
          }
        },
        "remoteAccessEnabled": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether remote access has been enabled for the specified\n            device.</p>"
          }
        },
        "remoteDebugEnabled": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>This flag is set to <code>true</code> if remote debugging is enabled for the\n            device.</p>\n        <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n                longer supported</a>.</p>"
          }
        },
        "resolution": {
          "target": "com.amazon.devicefarm.model#Resolution",
          "traits": {
            "smithy.api#documentation": "<p>The resolution of the device.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a device type that an app is tested against.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeviceAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ARN": {
            "name": "ARN"
          },
          "PLATFORM": {
            "name": "PLATFORM"
          },
          "FORM_FACTOR": {
            "name": "FORM_FACTOR"
          },
          "MANUFACTURER": {
            "name": "MANUFACTURER"
          },
          "REMOTE_ACCESS_ENABLED": {
            "name": "REMOTE_ACCESS_ENABLED"
          },
          "REMOTE_DEBUG_ENABLED": {
            "name": "REMOTE_DEBUG_ENABLED"
          },
          "APPIUM_VERSION": {
            "name": "APPIUM_VERSION"
          },
          "INSTANCE_ARN": {
            "name": "INSTANCE_ARN"
          },
          "INSTANCE_LABELS": {
            "name": "INSTANCE_LABELS"
          },
          "FLEET_TYPE": {
            "name": "FLEET_TYPE"
          },
          "OS_VERSION": {
            "name": "OS_VERSION"
          },
          "MODEL": {
            "name": "MODEL"
          },
          "AVAILABILITY": {
            "name": "AVAILABILITY"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeviceAvailability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TEMPORARY_NOT_AVAILABLE": {
            "name": "TEMPORARY_NOT_AVAILABLE"
          },
          "BUSY": {
            "name": "BUSY"
          },
          "AVAILABLE": {
            "name": "AVAILABLE"
          },
          "HIGHLY_AVAILABLE": {
            "name": "HIGHLY_AVAILABLE"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeviceFarmArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws:devicefarm:.+"
      }
    },
    "com.amazon.devicefarm.model#DeviceFarm_20150623": {
      "type": "service",
      "version": "2015-06-23",
      "operations": [
        {
          "target": "com.amazon.devicefarm.model#CreateDevicePool"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateInstanceProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateNetworkProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateProject"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateRemoteAccessSession"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateTestGridProject"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateTestGridUrl"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateUpload"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateVPCEConfiguration"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteDevicePool"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteInstanceProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteNetworkProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteProject"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteRemoteAccessSession"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteRun"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteTestGridProject"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteUpload"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteVPCEConfiguration"
        },
        {
          "target": "com.amazon.devicefarm.model#GetAccountSettings"
        },
        {
          "target": "com.amazon.devicefarm.model#GetDevice"
        },
        {
          "target": "com.amazon.devicefarm.model#GetDeviceInstance"
        },
        {
          "target": "com.amazon.devicefarm.model#GetDevicePool"
        },
        {
          "target": "com.amazon.devicefarm.model#GetDevicePoolCompatibility"
        },
        {
          "target": "com.amazon.devicefarm.model#GetInstanceProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#GetJob"
        },
        {
          "target": "com.amazon.devicefarm.model#GetNetworkProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#GetOfferingStatus"
        },
        {
          "target": "com.amazon.devicefarm.model#GetProject"
        },
        {
          "target": "com.amazon.devicefarm.model#GetRemoteAccessSession"
        },
        {
          "target": "com.amazon.devicefarm.model#GetRun"
        },
        {
          "target": "com.amazon.devicefarm.model#GetSuite"
        },
        {
          "target": "com.amazon.devicefarm.model#GetTest"
        },
        {
          "target": "com.amazon.devicefarm.model#GetTestGridProject"
        },
        {
          "target": "com.amazon.devicefarm.model#GetTestGridSession"
        },
        {
          "target": "com.amazon.devicefarm.model#GetUpload"
        },
        {
          "target": "com.amazon.devicefarm.model#GetVPCEConfiguration"
        },
        {
          "target": "com.amazon.devicefarm.model#InstallToRemoteAccessSession"
        },
        {
          "target": "com.amazon.devicefarm.model#ListArtifacts"
        },
        {
          "target": "com.amazon.devicefarm.model#ListDeviceInstances"
        },
        {
          "target": "com.amazon.devicefarm.model#ListDevicePools"
        },
        {
          "target": "com.amazon.devicefarm.model#ListDevices"
        },
        {
          "target": "com.amazon.devicefarm.model#ListInstanceProfiles"
        },
        {
          "target": "com.amazon.devicefarm.model#ListJobs"
        },
        {
          "target": "com.amazon.devicefarm.model#ListNetworkProfiles"
        },
        {
          "target": "com.amazon.devicefarm.model#ListOfferingPromotions"
        },
        {
          "target": "com.amazon.devicefarm.model#ListOfferingTransactions"
        },
        {
          "target": "com.amazon.devicefarm.model#ListOfferings"
        },
        {
          "target": "com.amazon.devicefarm.model#ListProjects"
        },
        {
          "target": "com.amazon.devicefarm.model#ListRemoteAccessSessions"
        },
        {
          "target": "com.amazon.devicefarm.model#ListRuns"
        },
        {
          "target": "com.amazon.devicefarm.model#ListSamples"
        },
        {
          "target": "com.amazon.devicefarm.model#ListSuites"
        },
        {
          "target": "com.amazon.devicefarm.model#ListTagsForResource"
        },
        {
          "target": "com.amazon.devicefarm.model#ListTestGridProjects"
        },
        {
          "target": "com.amazon.devicefarm.model#ListTestGridSessionActions"
        },
        {
          "target": "com.amazon.devicefarm.model#ListTestGridSessionArtifacts"
        },
        {
          "target": "com.amazon.devicefarm.model#ListTestGridSessions"
        },
        {
          "target": "com.amazon.devicefarm.model#ListTests"
        },
        {
          "target": "com.amazon.devicefarm.model#ListUniqueProblems"
        },
        {
          "target": "com.amazon.devicefarm.model#ListUploads"
        },
        {
          "target": "com.amazon.devicefarm.model#ListVPCEConfigurations"
        },
        {
          "target": "com.amazon.devicefarm.model#PurchaseOffering"
        },
        {
          "target": "com.amazon.devicefarm.model#RenewOffering"
        },
        {
          "target": "com.amazon.devicefarm.model#ScheduleRun"
        },
        {
          "target": "com.amazon.devicefarm.model#StopJob"
        },
        {
          "target": "com.amazon.devicefarm.model#StopRemoteAccessSession"
        },
        {
          "target": "com.amazon.devicefarm.model#StopRun"
        },
        {
          "target": "com.amazon.devicefarm.model#TagResource"
        },
        {
          "target": "com.amazon.devicefarm.model#UntagResource"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateDeviceInstance"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateDevicePool"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateInstanceProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateNetworkProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateProject"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateTestGridProject"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateUpload"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateVPCEConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Device Farm",
          "arnNamespace": "devicefarm",
          "cloudFormationName": "DeviceFarm",
          "cloudTrailEventSource": "model.devicefarm.amazon.com"
        },
        "smithy.api#documentation": "<p>Welcome to the AWS Device Farm API documentation, which contains APIs for:</p>\n        <ul>\n            <li>\n                <p>Testing on desktop browsers</p>\n                <p> Device Farm makes it possible for you to test your web applications on desktop browsers using\n                    Selenium. The APIs for desktop browser testing contain <code>TestGrid</code> in their names. For\n                    more information, see <a href=\"https://docs.aws.amazon.com/devicefarm/latest/testgrid/\">Testing Web\n                        Applications on Selenium with Device Farm</a>.</p>\n            </li>\n            <li>\n                <p>Testing on real mobile devices</p>\n                <p>Device Farm makes it possible for you to test apps on physical phones, tablets, and other\n                    devices in the cloud. For more information, see the <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/\">Device Farm Developer Guide</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Device Farm",
        "smithy.api#xmlNamespace": {
          "uri": "http://devicefarm.amazonaws.com/doc/2015-06-23/"
        }
      }
    },
    "com.amazon.devicefarm.model#DeviceFilter": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazon.devicefarm.model#DeviceFilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The aspect of a device such as platform or model used as the selection criteria in a\n            device filter.</p>\n        <p>The supported operators for each attribute are provided in the following list.</p>\n        <dl>\n            <dt>ARN</dt>\n            <dd>\n                    <p>The Amazon Resource Name (ARN) of the device (for example,\n                            <code>arn:aws:devicefarm:us-west-2::device:12345Example</code>).</p>\n                    <p>Supported operators: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code>\n               </p>\n                </dd>\n            <dt>PLATFORM</dt>\n            <dd>\n                    <p>The device platform. Valid values are ANDROID or IOS.</p>\n                    <p>Supported operators: <code>EQUALS</code>\n               </p>\n                </dd>\n            <dt>OS_VERSION</dt>\n            <dd>\n                    <p>The operating system version (for example, 10.3.2).</p>\n                    <p>Supported operators: <code>EQUALS</code>, <code>GREATER_THAN</code>,\n                            <code>GREATER_THAN_OR_EQUALS</code>, <code>IN</code>,\n                            <code>LESS_THAN</code>, <code>LESS_THAN_OR_EQUALS</code>,\n                            <code>NOT_IN</code>\n               </p>\n                </dd>\n            <dt>MODEL</dt>\n            <dd>\n                    <p>The device model (for example, iPad 5th Gen).</p>\n                    <p>Supported operators: <code>CONTAINS</code>, <code>EQUALS</code>,\n                            <code>IN</code>, <code>NOT_IN</code>\n               </p>\n                </dd>\n            <dt>AVAILABILITY</dt>\n            <dd>\n                    <p>The current availability of the device. Valid values are AVAILABLE,\n                        HIGHLY_AVAILABLE, BUSY, or TEMPORARY_NOT_AVAILABLE.</p>\n                    <p>Supported operators: <code>EQUALS</code>\n               </p>\n                </dd>\n            <dt>FORM_FACTOR</dt>\n            <dd>\n                    <p>The device form factor. Valid values are PHONE or TABLET.</p>\n                    <p>Supported operators: <code>EQUALS</code>\n               </p>\n                </dd>\n            <dt>MANUFACTURER</dt>\n            <dd>\n                    <p>The device manufacturer (for example, Apple).</p>\n                    <p>Supported operators: <code>EQUALS</code>, <code>IN</code>,\n                            <code>NOT_IN</code>\n               </p>\n                </dd>\n            <dt>REMOTE_ACCESS_ENABLED</dt>\n            <dd>\n                    <p>Whether the device is enabled for remote access. Valid values are TRUE or\n                        FALSE.</p>\n                    <p>Supported operators: <code>EQUALS</code>\n               </p>\n                </dd>\n            <dt>REMOTE_DEBUG_ENABLED</dt>\n            <dd>\n                    <p>Whether the device is enabled for remote debugging. Valid values are TRUE or FALSE.</p>\n                    <p>Supported operators: <code>EQUALS</code>\n               </p>\n                    <p>Because remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer\n                            supported</a>, this filter is ignored.</p>\n                </dd>\n            <dt>INSTANCE_ARN</dt>\n            <dd>\n                    <p>The Amazon Resource Name (ARN) of the device instance.</p>\n                    <p>Supported operators: <code>EQUALS</code>, <code>IN</code>,\n                            <code>NOT_IN</code>\n               </p>\n                </dd>\n            <dt>INSTANCE_LABELS</dt>\n            <dd>\n                    <p>The label of the device instance.</p>\n                    <p>Supported operators: <code>CONTAINS</code>\n               </p>\n                </dd>\n            <dt>FLEET_TYPE</dt>\n            <dd>\n                    <p>The fleet type. Valid values are PUBLIC or PRIVATE.</p>\n                    <p>Supported operators: <code>EQUALS</code>\n               </p>\n                </dd>\n         </dl>"
          }
        },
        "operator": {
          "target": "com.amazon.devicefarm.model#RuleOperator",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how Device Farm compares the filter's attribute to the value. See the attribute\n            descriptions.</p>"
          }
        },
        "values": {
          "target": "com.amazon.devicefarm.model#DeviceFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>An array of one or more filter values used in a device filter.</p>\n        <p class=\"title\">\n            <b>Operator Values</b>\n         </p>\n         <ul>\n            <li>\n                <p>The IN and NOT_IN operators can take a values array that has more than one\n                    element.</p>\n            </li>\n            <li>\n                <p>The other operators require an array with a single element.</p>\n            </li>\n         </ul>\n        <p class=\"title\">\n            <b>Attribute Values</b>\n         </p>\n         <ul>\n            <li>\n                <p>The PLATFORM attribute can be set to ANDROID or IOS.</p>\n            </li>\n            <li>\n                <p>The AVAILABILITY attribute can be set to AVAILABLE, HIGHLY_AVAILABLE, BUSY, or\n                    TEMPORARY_NOT_AVAILABLE.</p>\n            </li>\n            <li>\n                <p>The FORM_FACTOR attribute can be set to PHONE or TABLET.</p>\n            </li>\n            <li>\n                <p>The FLEET_TYPE attribute can be set to PUBLIC or PRIVATE.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a device filter used to select a set of devices to be included in a test\n            run. This data structure is passed in as the <code>deviceSelectionConfiguration</code>\n            parameter to <code>ScheduleRun</code>. For an example of the JSON request syntax, see\n                <a>ScheduleRun</a>.</p>\n        <p>It is also passed in as the <code>filters</code> parameter to\n            <code>ListDevices</code>. For an example of the JSON request syntax, see <a>ListDevices</a>.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeviceFilterAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ARN": {
            "name": "ARN"
          },
          "PLATFORM": {
            "name": "PLATFORM"
          },
          "OS_VERSION": {
            "name": "OS_VERSION"
          },
          "MODEL": {
            "name": "MODEL"
          },
          "AVAILABILITY": {
            "name": "AVAILABILITY"
          },
          "FORM_FACTOR": {
            "name": "FORM_FACTOR"
          },
          "MANUFACTURER": {
            "name": "MANUFACTURER"
          },
          "REMOTE_ACCESS_ENABLED": {
            "name": "REMOTE_ACCESS_ENABLED"
          },
          "REMOTE_DEBUG_ENABLED": {
            "name": "REMOTE_DEBUG_ENABLED"
          },
          "INSTANCE_ARN": {
            "name": "INSTANCE_ARN"
          },
          "INSTANCE_LABELS": {
            "name": "INSTANCE_LABELS"
          },
          "FLEET_TYPE": {
            "name": "FLEET_TYPE"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeviceFilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#String"
      }
    },
    "com.amazon.devicefarm.model#DeviceFilters": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#DeviceFilter"
      }
    },
    "com.amazon.devicefarm.model#DeviceFormFactor": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PHONE": {
            "name": "PHONE"
          },
          "TABLET": {
            "name": "TABLET"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeviceHostPaths": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#String"
      }
    },
    "com.amazon.devicefarm.model#DeviceInstance": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the device instance.</p>"
          }
        },
        "deviceArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the device.</p>"
          }
        },
        "instanceProfile": {
          "target": "com.amazon.devicefarm.model#InstanceProfile",
          "traits": {
            "smithy.api#documentation": "<p>A object that contains information about the instance profile.</p>"
          }
        },
        "labels": {
          "target": "com.amazon.devicefarm.model#InstanceLabels",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that describe the device instance.</p>"
          }
        },
        "status": {
          "target": "com.amazon.devicefarm.model#InstanceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the device instance. Valid values are listed here.</p>"
          }
        },
        "udid": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique device identifier for the device instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the device instance.</p>"
      }
    },
    "com.amazon.devicefarm.model#DeviceInstances": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#DeviceInstance"
      }
    },
    "com.amazon.devicefarm.model#DeviceMinutes": {
      "type": "structure",
      "members": {
        "metered": {
          "target": "com.amazon.devicefarm.model#Double",
          "traits": {
            "smithy.api#documentation": "<p>When specified, represents only the sum of metered minutes used by the resource to\n            run tests.</p>"
          }
        },
        "total": {
          "target": "com.amazon.devicefarm.model#Double",
          "traits": {
            "smithy.api#documentation": "<p>When specified, represents the total minutes used by the resource to run\n            tests.</p>"
          }
        },
        "unmetered": {
          "target": "com.amazon.devicefarm.model#Double",
          "traits": {
            "smithy.api#documentation": "<p>When specified, represents only the sum of unmetered minutes used by the resource\n            to run tests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the total (metered or unmetered) minutes used by the resource to run\n            tests. Contains the sum of minutes consumed by all children.</p>"
      }
    },
    "com.amazon.devicefarm.model#DevicePlatform": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ANDROID": {
            "name": "ANDROID"
          },
          "IOS": {
            "name": "IOS"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DevicePool": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The device pool's ARN.</p>"
          }
        },
        "description": {
          "target": "com.amazon.devicefarm.model#Message",
          "traits": {
            "smithy.api#documentation": "<p>The device pool's description.</p>"
          }
        },
        "maxDevices": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are\n            available and meet the criteria that you assign for the <code>rules</code> parameter. Depending on how many\n            devices meet these constraints, your device pool might contain fewer devices than the value for this\n            parameter.</p>\n        <p>By specifying the maximum number of devices, you can control the costs that you incur\n            by running tests.</p>"
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "<p>The device pool's name.</p>"
          }
        },
        "rules": {
          "target": "com.amazon.devicefarm.model#Rules",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device pool's rules.</p>"
          }
        },
        "type": {
          "target": "com.amazon.devicefarm.model#DevicePoolType",
          "traits": {
            "smithy.api#documentation": "<p>The device pool's type.</p>\n        <p>Allowed values include:</p>\n        <ul>\n            <li>\n                <p>CURATED: A device pool that is created and managed by AWS Device\n                    Farm.</p>\n            </li>\n            <li>\n                <p>PRIVATE: A device pool that is created and managed by the device pool\n                    developer.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a collection of device types.</p>"
      }
    },
    "com.amazon.devicefarm.model#DevicePoolCompatibilityResult": {
      "type": "structure",
      "members": {
        "compatible": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the result was compatible with the device pool.</p>"
          }
        },
        "device": {
          "target": "com.amazon.devicefarm.model#Device",
          "traits": {
            "smithy.api#documentation": "<p>The device (phone or tablet) to return information about.</p>"
          }
        },
        "incompatibilityMessages": {
          "target": "com.amazon.devicefarm.model#IncompatibilityMessages",
          "traits": {
            "smithy.api#documentation": "<p>Information about the compatibility.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a device pool compatibility result.</p>"
      }
    },
    "com.amazon.devicefarm.model#DevicePoolCompatibilityResults": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#DevicePoolCompatibilityResult"
      }
    },
    "com.amazon.devicefarm.model#DevicePoolType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CURATED": {
            "name": "CURATED"
          },
          "PRIVATE": {
            "name": "PRIVATE"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DevicePools": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#DevicePool"
      }
    },
    "com.amazon.devicefarm.model#DeviceSelectionConfiguration": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazon.devicefarm.model#DeviceFilters",
          "traits": {
            "smithy.api#documentation": "<p>Used to dynamically select a set of devices for a test run. A filter is made up of an\n            attribute, an operator, and one or more values.</p>\n        <ul>\n            <li>\n                <p>\n                  <b>Attribute</b>\n               </p>\n                <p>The aspect of a device such as platform or model used as the selection\n                    criteria in a device filter.</p>\n                <p>Allowed values include:</p>\n                <ul>\n                  <li>\n                        <p>ARN: The Amazon Resource Name (ARN) of the device (for example,\n                                <code>arn:aws:devicefarm:us-west-2::device:12345Example</code>).</p>\n                    </li>\n                  <li>\n                        <p>PLATFORM: The device platform. Valid values are ANDROID or\n                            IOS.</p>\n                    </li>\n                  <li>\n                        <p>OS_VERSION: The operating system version (for example,\n                            10.3.2).</p>\n                    </li>\n                  <li>\n                        <p>MODEL: The device model (for example, iPad 5th Gen).</p>\n                    </li>\n                  <li>\n                        <p>AVAILABILITY: The current availability of the device. Valid values\n                            are AVAILABLE, HIGHLY_AVAILABLE, BUSY, or\n                            TEMPORARY_NOT_AVAILABLE.</p>\n                    </li>\n                  <li>\n                        <p>FORM_FACTOR: The device form factor. Valid values are PHONE or\n                            TABLET.</p>\n                    </li>\n                  <li>\n                        <p>MANUFACTURER: The device manufacturer (for example,\n                            Apple).</p>\n                    </li>\n                  <li>\n                        <p>REMOTE_ACCESS_ENABLED: Whether the device is enabled for remote\n                            access. Valid values are TRUE or FALSE.</p>\n                    </li>\n                  <li>\n                        <p>REMOTE_DEBUG_ENABLED: Whether the device is enabled for remote debugging. Valid values\n                            are TRUE or FALSE. Because remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n                                longer supported</a>, this filter is ignored.</p>\n                    </li>\n                  <li>\n                        <p>INSTANCE_ARN: The Amazon Resource Name (ARN) of the device\n                            instance.</p>\n                    </li>\n                  <li>\n                        <p>INSTANCE_LABELS: The label of the device instance.</p>\n                    </li>\n                  <li>\n                        <p>FLEET_TYPE: The fleet type. Valid values are PUBLIC or PRIVATE.</p>\n                    </li>\n               </ul>\n            </li>\n            <li>\n                <p>\n                  <b>Operator</b>\n               </p>\n                <p>The filter operator.</p>\n                <ul>\n                  <li>\n                        <p>The EQUALS operator is available for every attribute except\n                            INSTANCE_LABELS.</p>\n                    </li>\n                  <li>\n                        <p>The CONTAINS operator is available for the INSTANCE_LABELS and MODEL\n                            attributes.</p>\n                    </li>\n                  <li>\n                        <p>The IN and NOT_IN operators are available for the ARN, OS_VERSION,\n                            MODEL, MANUFACTURER, and INSTANCE_ARN attributes.</p>\n                    </li>\n                  <li>\n                        <p>The LESS_THAN, GREATER_THAN, LESS_THAN_OR_EQUALS, and\n                            GREATER_THAN_OR_EQUALS operators are also available for the OS_VERSION\n                         
[...]
