{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.devicefarm.model#AWSAccountNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 16
        }
      }
    },
    "com.amazon.devicefarm.model#AccountSettings": {
      "type": "structure",
      "members": {
        "awsAccountNumber": {
          "target": "com.amazon.devicefarm.model#AWSAccountNumber",
          "traits": {
            "smithy.api#documentation": "\n        <p>The AWS account number specified in the <code>AccountSettings</code> container.</p>\n      "
          }
        },
        "defaultJobTimeoutMinutes": {
          "target": "com.amazon.devicefarm.model#JobTimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "\n        <p>The default number of minutes (at the account level) a test run will execute before it times out. The\n            default value is 150 minutes.</p>\n      "
          }
        },
        "maxJobTimeoutMinutes": {
          "target": "com.amazon.devicefarm.model#JobTimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of minutes a test run will execute before it times out.</p>\n      "
          }
        },
        "maxSlots": {
          "target": "com.amazon.devicefarm.model#MaxSlotMap",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of device slots that the AWS account can purchase. Each maximum is expressed as an\n                <code>offering-id:number</code> pair, where the <code>offering-id</code> represents one of the IDs\n            returned by the <code>ListOfferings</code> command.</p>\n      "
          }
        },
        "skipAppResign": {
          "target": "com.amazon.devicefarm.model#SkipAppResign",
          "traits": {
            "smithy.api#documentation": "\n        <p>When set to <code>true</code>, for private devices, Device Farm will not sign your app again. For public\n            devices, Device Farm always signs your apps again and this parameter has no effect.</p>\n        <p>For more information about how Device Farm re-signs your app(s), see <a href=\"https://aws.amazon.com/device-farm/faq/\">Do you modify my app?</a> in the <i>AWS Device\n                Farm FAQs</i>.</p>\n      "
          }
        },
        "trialMinutes": {
          "target": "com.amazon.devicefarm.model#TrialMinutes",
          "traits": {
            "smithy.api#documentation": "\n        <p>Information about an AWS account's usage of free trial device minutes.</p>\n      "
          }
        },
        "unmeteredDevices": {
          "target": "com.amazon.devicefarm.model#PurchasedDevicesMap",
          "traits": {
            "smithy.api#documentation": "\n        <p>Returns the unmetered devices you have purchased or want to purchase.</p>\n      "
          }
        },
        "unmeteredRemoteAccessDevices": {
          "target": "com.amazon.devicefarm.model#PurchasedDevicesMap",
          "traits": {
            "smithy.api#documentation": "\n        <p>Returns the unmetered remote access devices you have purchased or want to purchase.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>A container for account-level settings within AWS Device Farm.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#AccountsCleanup": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.devicefarm.model#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 1011
        }
      }
    },
    "com.amazon.devicefarm.model#AmazonResourceNames": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#AmazonResourceName"
      }
    },
    "com.amazon.devicefarm.model#AndroidPaths": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#String"
      }
    },
    "com.amazon.devicefarm.model#AppPackagesCleanup": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.devicefarm.model#ArgumentException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazon.devicefarm.model#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>Any additional information about the exception.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>An invalid argument was specified.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.devicefarm.model#Artifact": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The artifact's ARN.</p>\n      "
          }
        },
        "extension": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The artifact's file extension.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "\n        <p>The artifact's name.</p>\n      "
          }
        },
        "type": {
          "target": "com.amazon.devicefarm.model#ArtifactType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The artifact's type.</p>\n        <p>Allowed values include the following:</p>\n        <ul>\n            <li>\n                <p>UNKNOWN: An unknown type.</p>\n            </li>\n            <li>\n                <p>SCREENSHOT: The screenshot type.</p>\n            </li>\n            <li>\n                <p>DEVICE_LOG: The device log type.</p>\n            </li>\n            <li>\n                <p>MESSAGE_LOG: The message log type.</p>\n            </li>\n            <li>\n                <p>VIDEO_LOG: The video log type.</p>\n            </li>\n            <li>\n                <p>RESULT_LOG: The result log type.</p>\n            </li>\n            <li>\n                <p>SERVICE_LOG: The service log type.</p>\n            </li>\n            <li>\n                <p>WEBKIT_LOG: The web kit log type.</p>\n            </li>\n            <li>\n                <p>INSTRUMENTATION_OUTPUT: The instrumentation type.</p>\n            </li>\n            <li>\n                <p>EXERCISER_MONKEY_OUTPUT: For Android, the artifact (log) generated by an Android fuzz\n                    test.</p>\n            </li>\n            <li>\n                <p>CALABASH_JSON_OUTPUT: The Calabash JSON output type.</p>\n            </li>\n            <li>\n                <p>CALABASH_PRETTY_OUTPUT: The Calabash pretty output type.</p>\n            </li>\n            <li>\n                <p>CALABASH_STANDARD_OUTPUT: The Calabash standard output type.</p>\n            </li>\n            <li>\n                <p>CALABASH_JAVA_XML_OUTPUT: The Calabash Java XML output type.</p>\n            </li>\n            <li>\n                <p>AUTOMATION_OUTPUT: The automation output type.</p>\n            </li>\n            <li>\n                <p>APPIUM_SERVER_OUTPUT: The Appium server output type.</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_OUTPUT: The Appium Java output type.</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_XML_OUTPUT: The Appium Java XML output type.</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_OUTPUT: The Appium Python output type.</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_XML_OUTPUT: The Appium Python XML output type.</p>\n            </li>\n            <li>\n                <p>EXPLORER_EVENT_LOG: The Explorer event log output type.</p>\n            </li>\n            <li>\n                <p>EXPLORER_SUMMARY_LOG: The Explorer summary log output type.</p>\n            </li>\n            <li>\n                <p>APPLICATION_CRASH_REPORT: The application crash report output type.</p>\n            </li>\n            <li>\n                <p>XCTEST_LOG: The Xcode test output type.</p>\n            </li>\n            <li>\n                <p>VIDEO: The Video output type.</p>\n            </li>\n            <li>\n                <p>CUSTOMER_ARTIFACT:The Customer Artifact output type.</p>\n            </li>\n            <li>\n                <p>CUSTOMER_ARTIFACT_LOG: The Customer Artifact Log output type.</p>\n            </li>\n            <li>\n                <p>TESTSPEC_OUTPUT: The Test Spec Output type.</p>\n            </li>\n         </ul>\n      "
          }
        },
        "url": {
          "target": "com.amazon.devicefarm.model#URL",
          "traits": {
            "smithy.api#documentation": "\n        <p>The pre-signed Amazon S3 URL that can be used with a corresponding GET request to download the\n            artifact's file.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the output of a test. Examples of artifacts include logs and screenshots.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#ArtifactCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SCREENSHOT": {
            "name": "SCREENSHOT"
          },
          "FILE": {
            "name": "FILE"
          },
          "LOG": {
            "name": "LOG"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#ArtifactType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "UNKNOWN": {
            "name": "UNKNOWN"
          },
          "SCREENSHOT": {
            "name": "SCREENSHOT"
          },
          "DEVICE_LOG": {
            "name": "DEVICE_LOG"
          },
          "MESSAGE_LOG": {
            "name": "MESSAGE_LOG"
          },
          "VIDEO_LOG": {
            "name": "VIDEO_LOG"
          },
          "RESULT_LOG": {
            "name": "RESULT_LOG"
          },
          "SERVICE_LOG": {
            "name": "SERVICE_LOG"
          },
          "WEBKIT_LOG": {
            "name": "WEBKIT_LOG"
          },
          "INSTRUMENTATION_OUTPUT": {
            "name": "INSTRUMENTATION_OUTPUT"
          },
          "EXERCISER_MONKEY_OUTPUT": {
            "name": "EXERCISER_MONKEY_OUTPUT"
          },
          "CALABASH_JSON_OUTPUT": {
            "name": "CALABASH_JSON_OUTPUT"
          },
          "CALABASH_PRETTY_OUTPUT": {
            "name": "CALABASH_PRETTY_OUTPUT"
          },
          "CALABASH_STANDARD_OUTPUT": {
            "name": "CALABASH_STANDARD_OUTPUT"
          },
          "CALABASH_JAVA_XML_OUTPUT": {
            "name": "CALABASH_JAVA_XML_OUTPUT"
          },
          "AUTOMATION_OUTPUT": {
            "name": "AUTOMATION_OUTPUT"
          },
          "APPIUM_SERVER_OUTPUT": {
            "name": "APPIUM_SERVER_OUTPUT"
          },
          "APPIUM_JAVA_OUTPUT": {
            "name": "APPIUM_JAVA_OUTPUT"
          },
          "APPIUM_JAVA_XML_OUTPUT": {
            "name": "APPIUM_JAVA_XML_OUTPUT"
          },
          "APPIUM_PYTHON_OUTPUT": {
            "name": "APPIUM_PYTHON_OUTPUT"
          },
          "APPIUM_PYTHON_XML_OUTPUT": {
            "name": "APPIUM_PYTHON_XML_OUTPUT"
          },
          "EXPLORER_EVENT_LOG": {
            "name": "EXPLORER_EVENT_LOG"
          },
          "EXPLORER_SUMMARY_LOG": {
            "name": "EXPLORER_SUMMARY_LOG"
          },
          "APPLICATION_CRASH_REPORT": {
            "name": "APPLICATION_CRASH_REPORT"
          },
          "XCTEST_LOG": {
            "name": "XCTEST_LOG"
          },
          "VIDEO": {
            "name": "VIDEO"
          },
          "CUSTOMER_ARTIFACT": {
            "name": "CUSTOMER_ARTIFACT"
          },
          "CUSTOMER_ARTIFACT_LOG": {
            "name": "CUSTOMER_ARTIFACT_LOG"
          },
          "TESTSPEC_OUTPUT": {
            "name": "TESTSPEC_OUTPUT"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#Artifacts": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#Artifact"
      }
    },
    "com.amazon.devicefarm.model#BillingMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "METERED": {
            "name": "METERED"
          },
          "UNMETERED": {
            "name": "UNMETERED"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.devicefarm.model#CPU": {
      "type": "structure",
      "members": {
        "architecture": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The CPU's architecture, for example x86 or ARM.</p>\n      "
          }
        },
        "clock": {
          "target": "com.amazon.devicefarm.model#Double",
          "traits": {
            "smithy.api#documentation": "\n        <p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed\n            as 1200000000.</p>\n      "
          }
        },
        "frequency": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        \n        <p>The CPU's frequency.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the amount of CPU that an app is using on a physical device.</p>\n        <p>Note that this does not represent system-wide CPU usage.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazon.devicefarm.model#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazon.devicefarm.model#Counters": {
      "type": "structure",
      "members": {
        "errored": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of errored entities.</p>\n      "
          }
        },
        "failed": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of failed entities.</p>\n      "
          }
        },
        "passed": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of passed entities.</p>\n      "
          }
        },
        "skipped": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of skipped entities.</p>\n      "
          }
        },
        "stopped": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of stopped entities.</p>\n      "
          }
        },
        "total": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The total number of entities.</p>\n      "
          }
        },
        "warned": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of warned entities.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents entity counters.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateDevicePool": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateDevicePoolRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateDevicePoolResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a device pool.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateDevicePoolRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazon.devicefarm.model#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device pool's description.</p>\n      "
          }
        },
        "maxDevices": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are\n            available and that meet the criteria that you assign for the <code>rules</code> parameter. Depending on how\n            many devices meet these constraints, your device pool might contain fewer devices than the value for this\n            parameter.</p>\n        <p>By specifying the maximum number of devices, you can control the costs that you incur by running\n            tests.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device pool's name.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "projectArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ARN of the project for the device pool.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "rules": {
          "target": "com.amazon.devicefarm.model#Rules",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device pool's rules.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a request to the create device pool operation.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateDevicePoolResult": {
      "type": "structure",
      "members": {
        "devicePool": {
          "target": "com.amazon.devicefarm.model#DevicePool",
          "traits": {
            "smithy.api#documentation": "\n        <p>The newly created device pool.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the result of a create device pool request.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateInstanceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateInstanceProfileRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateInstanceProfileResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a profile that can be applied to one or more private fleet device instances.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateInstanceProfileRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazon.devicefarm.model#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>The description of your instance profile.</p>\n      "
          }
        },
        "excludeAppPackagesFromCleanup": {
          "target": "com.amazon.devicefarm.model#PackageIds",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of strings specifying the list of app packages that should not be cleaned up from the device\n            after a test run is over.</p>\n        <p>The list of packages is only considered if you set <code>packageCleanup</code> to\n            <code>true</code>.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of your instance profile.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "packageCleanup": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>When set to <code>true</code>, Device Farm will remove app packages after a test run. The default value is\n                <code>false</code> for private devices.</p>\n      "
          }
        },
        "rebootAfterUse": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>When set to <code>true</code>, Device Farm will reboot the instance after a test run. The default value is\n                <code>true</code>.</p>\n      "
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateInstanceProfileResult": {
      "type": "structure",
      "members": {
        "instanceProfile": {
          "target": "com.amazon.devicefarm.model#InstanceProfile",
          "traits": {
            "smithy.api#documentation": "\n        <p>An object containing information about your instance profile.</p>\n      "
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateNetworkProfileResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a network profile.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazon.devicefarm.model#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>The description of the network profile.</p>\n      "
          }
        },
        "downlinkBandwidthBits": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "\n        <p>The data throughput rate in bits per second, as an integer from 0 to 104857600.</p>\n      "
          }
        },
        "downlinkDelayMs": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "\n        <p>Delay time for all packets to destination in milliseconds as an integer from 0 to 2000.</p>\n      "
          }
        },
        "downlinkJitterMs": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "\n        <p>Time variation in the delay of received packets in milliseconds as an integer from 0 to 2000.</p>\n      "
          }
        },
        "downlinkLossPercent": {
          "target": "com.amazon.devicefarm.model#PercentInteger",
          "traits": {
            "smithy.api#documentation": "\n        <p>Proportion of received packets that fail to arrive from 0 to 100 percent.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name you wish to specify for the new network profile.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "projectArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the project for which you want to create a network profile.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "type": {
          "target": "com.amazon.devicefarm.model#NetworkProfileType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of network profile you wish to create. Valid values are listed below.</p>\n      "
          }
        },
        "uplinkBandwidthBits": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "\n        <p>The data throughput rate in bits per second, as an integer from 0 to 104857600.</p>\n      "
          }
        },
        "uplinkDelayMs": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "\n        <p>Delay time for all packets to destination in milliseconds as an integer from 0 to 2000.</p>\n      "
          }
        },
        "uplinkJitterMs": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "\n        <p>Time variation in the delay of received packets in milliseconds as an integer from 0 to 2000.</p>\n      "
          }
        },
        "uplinkLossPercent": {
          "target": "com.amazon.devicefarm.model#PercentInteger",
          "traits": {
            "smithy.api#documentation": "\n        <p>Proportion of transmitted packets that fail to arrive from 0 to 100 percent.</p>\n      "
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateNetworkProfileResult": {
      "type": "structure",
      "members": {
        "networkProfile": {
          "target": "com.amazon.devicefarm.model#NetworkProfile",
          "traits": {
            "smithy.api#documentation": "\n        <p>The network profile that is returned by the create network profile request.</p>\n      "
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateProjectResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        },
        {
          "target": "com.amazon.devicefarm.model#TagOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a new project.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "defaultJobTimeoutMinutes": {
          "target": "com.amazon.devicefarm.model#JobTimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "\n        <p>Sets the execution timeout value (in minutes) for a project. All test runs in this project will use the\n            specified execution timeout value unless overridden when scheduling a run.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "\n        <p>The project's name.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a request to the create project operation.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateProjectResult": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazon.devicefarm.model#Project",
          "traits": {
            "smithy.api#documentation": "\n        <p>The newly created project.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the result of a create project request.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateRemoteAccessSession": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateRemoteAccessSessionRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateRemoteAccessSessionResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Specifies and starts a remote access session.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateRemoteAccessSessionConfiguration": {
      "type": "structure",
      "members": {
        "billingMethod": {
          "target": "com.amazon.devicefarm.model#BillingMethod",
          "traits": {
            "smithy.api#documentation": "\n        <p>The billing method for the remote access session.</p>\n      "
          }
        },
        "vpceConfigurationArns": {
          "target": "com.amazon.devicefarm.model#AmazonResourceNames",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of Amazon Resource Names (ARNs) included in the VPC endpoint configuration.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Configuration settings for a remote access session, including billing method.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateRemoteAccessSessionRequest": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "com.amazon.devicefarm.model#ClientId",
          "traits": {
            "smithy.api#documentation": "\n        <p>Unique identifier for the client. If you want access to multiple devices on the same client, you should\n            pass the same <code>clientId</code> value in each call to <code>CreateRemoteAccessSession</code>. This is\n            required only if <code>remoteDebugEnabled</code> is set to <code>true</code>.</p>\n        <p>\n            <i>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n            longer supported</a>.</i>\n         </p>\n      "
          }
        },
        "configuration": {
          "target": "com.amazon.devicefarm.model#CreateRemoteAccessSessionConfiguration",
          "traits": {
            "smithy.api#documentation": "\n        <p>The configuration information for the remote access session request.</p>\n      "
          }
        },
        "deviceArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the device for which you want to create a remote access\n            session.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "instanceArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the device instance for which you want to create a remote access\n            session.</p>\n      "
          }
        },
        "interactionMode": {
          "target": "com.amazon.devicefarm.model#InteractionMode",
          "traits": {
            "smithy.api#documentation": "\n        <p>The interaction mode of the remote access session. Valid values are:</p>\n        <ul>\n            <li>\n                <p>INTERACTIVE: You can interact with the iOS device by viewing, touching, and rotating the\n                    screen. You <b>cannot</b> run XCUITest framework-based tests in this\n                    mode.</p>\n            </li>\n            <li>\n                <p>NO_VIDEO: You are connected to the device but cannot interact with it or view the screen. This\n                    mode has the fastest test execution speed. You <b>can</b> run XCUITest\n                    framework-based tests in this mode.</p>\n            </li>\n            <li>\n                <p>VIDEO_ONLY: You can view the screen but cannot touch or rotate it. You <b>can</b> run XCUITest framework-based tests and watch the screen in this mode.</p>\n            </li>\n         </ul>\n      "
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the remote access session that you wish to create.</p>\n      "
          }
        },
        "projectArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the project for which you want to create a remote access\n            session.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "remoteDebugEnabled": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Set to <code>true</code> if you want to access devices remotely for debugging in your remote access\n            session.</p>\n        <p>\n            <i>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n            longer supported</a>.</i>\n         </p>\n      "
          }
        },
        "remoteRecordAppArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) for the app to be recorded in the remote access session.</p>\n      "
          }
        },
        "remoteRecordEnabled": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Set to <code>true</code> to enable remote recording for the remote access session.</p>\n      "
          }
        },
        "skipAppResign": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>When set to <code>true</code>, for private devices, Device Farm will not sign your app again. For public\n            devices, Device Farm always signs your apps again and this parameter has no effect.</p>\n        <p>For more information about how Device Farm re-signs your app(s), see <a href=\"https://aws.amazon.com/device-farm/faq/\">Do you modify my app?</a> in the <i>AWS Device\n                Farm FAQs</i>.</p>\n      "
          }
        },
        "sshPublicKey": {
          "target": "com.amazon.devicefarm.model#SshPublicKey",
          "traits": {
            "smithy.api#documentation": "\n        <p>\n            <i>Ignored.</i> The public key of the <code>ssh</code> key pair you want to use for\n            connecting to remote devices in your remote debugging session. This is only required if\n                <code>remoteDebugEnabled</code> is set to <code>true</code>.</p>\n        <p>\n            <i>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n            longer supported</a>.</i>\n         </p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates and submits a request to start a remote access session.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateRemoteAccessSessionResult": {
      "type": "structure",
      "members": {
        "remoteAccessSession": {
          "target": "com.amazon.devicefarm.model#RemoteAccessSession",
          "traits": {
            "smithy.api#documentation": "\n        <p>A container that describes the remote access session when the request to create a remote access session\n            is sent.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the server response from a request to create a remote access session.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateUploadRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateUploadResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Uploads an app or test scripts.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateUploadRequest": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "com.amazon.devicefarm.model#ContentType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The upload's content type (for example, \"application/octet-stream\").</p>\n      "
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "\n        <p>The upload's file name. The name should not contain the '/' character. If uploading an iOS app, the\n            file name needs to end with the <code>.ipa</code> extension. If uploading an Android app, the file name\n            needs to end with the <code>.apk</code> extension. For all others, the file name must end with the\n                <code>.zip</code> file extension.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "projectArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ARN of the project for the upload.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "type": {
          "target": "com.amazon.devicefarm.model#UploadType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The upload's upload type.</p>\n        <p>Must be one of the following values:</p>\n        <ul>\n            <li>\n                <p>ANDROID_APP: An Android upload.</p>\n            </li>\n            <li>\n                <p>IOS_APP: An iOS upload.</p>\n            </li>\n            <li>\n                <p>WEB_APP: A web application upload.</p>\n            </li>\n            <li>\n                <p>EXTERNAL_DATA: An external data upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_JUNIT_TEST_PACKAGE: An Appium Java JUnit test package upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_TESTNG_TEST_PACKAGE: An Appium Java TestNG test package upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_TEST_PACKAGE: An Appium Python test package upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_NODE_TEST_PACKAGE: An Appium Node.js test package upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_RUBY_TEST_PACKAGE: An Appium Ruby test package upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_JUNIT_TEST_PACKAGE: An Appium Java JUnit test package upload for a web\n                    app.</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_TESTNG_TEST_PACKAGE: An Appium Java TestNG test package upload for a web\n                    app.</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_PYTHON_TEST_PACKAGE: An Appium Python test package upload for a web app.</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_NODE_TEST_PACKAGE: An Appium Node.js test package upload for a web app.</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_RUBY_TEST_PACKAGE: An Appium Ruby test package upload for a web app.</p>\n            </li>\n            <li>\n                <p>CALABASH_TEST_PACKAGE: A Calabash test package upload.</p>\n            </li>\n            <li>\n                <p>INSTRUMENTATION_TEST_PACKAGE: An instrumentation upload.</p>\n            </li>\n            <li>\n                <p>UIAUTOMATION_TEST_PACKAGE: A uiautomation test package upload.</p>\n            </li>\n            <li>\n                <p>UIAUTOMATOR_TEST_PACKAGE: A uiautomator test package upload.</p>\n            </li>\n            <li>\n                <p>XCTEST_TEST_PACKAGE: An Xcode test package upload.</p>\n            </li>\n            <li>\n                <p>XCTEST_UI_TEST_PACKAGE: An Xcode UI test package upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_JUNIT_TEST_SPEC: An Appium Java JUnit test spec upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_JAVA_TESTNG_TEST_SPEC: An Appium Java TestNG test spec upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_PYTHON_TEST_SPEC: An Appium Python test spec upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_NODE_TEST_SPEC: An Appium Node.js test spec upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_RUBY_TEST_SPEC: An Appium Ruby test spec upload.</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_JUNIT_TEST_SPEC: An Appium Java JUnit test spec upload for a web app.</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_JAVA_TESTNG_TEST_SPEC: An Appium Java TestNG test spec upload for a web app.</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_PYTHON_TEST_SPEC: An Appium Python test spec upload for a web app.</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_NODE_TEST_SPEC: An Appium Node.js test spec upload for a web app.</p>\n            </li>\n            <li>\n                <p>APPIUM_WEB_RUBY_TEST_SPEC: An Appium Ruby test spec upload for a web app.</p>\n            </li>\n            <li>\n                <p>INSTRUMENTATION_TEST_SPEC: An instrumentation test spec upload.</p>\n            </li>\n            <li>\n                <p>XCTEST_UI_TEST_SPEC: An Xcode UI test spec upload.</p>\n            </li>\n         </ul>\n        <p>\n            <b>Note</b> If you call <code>CreateUpload</code> with <code>WEB_APP</code>\n            specified, AWS Device Farm throws an <code>ArgumentException</code> error.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a request to the create upload operation.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateUploadResult": {
      "type": "structure",
      "members": {
        "upload": {
          "target": "com.amazon.devicefarm.model#Upload",
          "traits": {
            "smithy.api#documentation": "\n        <p>The newly created upload.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the result of a create upload request.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateVPCEConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#CreateVPCEConfigurationRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#CreateVPCEConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a configuration record in Device Farm for your Amazon Virtual Private Cloud (VPC) endpoint.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#CreateVPCEConfigurationRequest": {
      "type": "structure",
      "members": {
        "serviceDnsName": {
          "target": "com.amazon.devicefarm.model#ServiceDnsName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The DNS name of the service running in your VPC that you want Device Farm to test.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "vpceConfigurationDescription": {
          "target": "com.amazon.devicefarm.model#VPCEConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "\n        <p>An optional description, providing more details about your VPC endpoint configuration.</p>\n      "
          }
        },
        "vpceConfigurationName": {
          "target": "com.amazon.devicefarm.model#VPCEConfigurationName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The friendly name you give to your VPC endpoint configuration, to manage your configurations more\n            easily.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "vpceServiceName": {
          "target": "com.amazon.devicefarm.model#VPCEServiceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the VPC endpoint service running inside your AWS account that you want Device Farm to\n            test.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CreateVPCEConfigurationResult": {
      "type": "structure",
      "members": {
        "vpceConfiguration": {
          "target": "com.amazon.devicefarm.model#VPCEConfiguration",
          "traits": {
            "smithy.api#documentation": "\n        <p>An object containing information about your VPC endpoint configuration.</p>\n      "
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CurrencyCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "USD": {
            "name": "USD"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#CustomerArtifactPaths": {
      "type": "structure",
      "members": {
        "androidPaths": {
          "target": "com.amazon.devicefarm.model#AndroidPaths",
          "traits": {
            "smithy.api#documentation": "\n        <p>Comma-separated list of paths on the Android device where the artifacts generated by the customer's\n            tests will be pulled from.</p>\n      "
          }
        },
        "deviceHostPaths": {
          "target": "com.amazon.devicefarm.model#DeviceHostPaths",
          "traits": {
            "smithy.api#documentation": "\n        <p>Comma-separated list of paths in the test execution environment where the artifacts generated by the\n            customer's tests will be pulled from.</p>\n      "
          }
        },
        "iosPaths": {
          "target": "com.amazon.devicefarm.model#IosPaths",
          "traits": {
            "smithy.api#documentation": "\n        <p>Comma-separated list of paths on the iOS device where the artifacts generated by the customer's tests\n            will be pulled from.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>A JSON object specifying the paths where the artifacts generated by the customer's tests, on the device\n            or in the test environment, will be pulled from.</p>\n        <p>Specify <code>deviceHostPaths</code> and optionally specify either <code>iosPaths</code> or\n                <code>androidPaths</code>.</p>\n        <p>For web app tests, you can specify both <code>iosPaths</code> and <code>androidPaths</code>.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DateTime": {
      "type": "timestamp"
    },
    "com.amazon.devicefarm.model#DeleteDevicePool": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteDevicePoolRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteDevicePoolResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes a device pool given the pool ARN. Does not allow deletion of curated pools owned by the\n            system.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteDevicePoolRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>Represents the Amazon Resource Name (ARN) of the Device Farm device pool you wish to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a request to the delete device pool operation.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteDevicePoolResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the result of a delete device pool request.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteInstanceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteInstanceProfileRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteInstanceProfileResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes a profile that can be applied to one or more private device instances.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteInstanceProfileRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the instance profile you are requesting to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeleteInstanceProfileResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.devicefarm.model#DeleteNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteNetworkProfileResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes a network profile.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the network profile you want to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeleteNetworkProfileResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.devicefarm.model#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteProjectResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes an AWS Device Farm project, given the project ARN.</p>\n        <p>\n            <b>Note</b> Deleting this resource does not stop an in-progress run.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>Represents the Amazon Resource Name (ARN) of the Device Farm project you wish to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a request to the delete project operation.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteProjectResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the result of a delete project request.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteRemoteAccessSession": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteRemoteAccessSessionRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteRemoteAccessSessionResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes a completed remote access session and its results.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteRemoteAccessSessionRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the session for which you want to delete remote access.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the request to delete the specified remote access session.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteRemoteAccessSessionResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "\n        <p>The response from the server when a request is made to delete the remote access session.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteRun": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteRunRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteRunResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes the run, given the run ARN.</p>\n        <p>\n            <b>Note</b> Deleting this resource does not stop an in-progress run.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteRunRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) for the run you wish to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a request to the delete run operation.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteRunResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the result of a delete run request.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteUploadRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteUploadResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#LimitExceededException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes an upload given the upload ARN.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteUploadRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>Represents the Amazon Resource Name (ARN) of the Device Farm upload you wish to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a request to the delete upload operation.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteUploadResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the result of a delete upload request.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteVPCEConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazon.devicefarm.model#DeleteVPCEConfigurationRequest"
      },
      "output": {
        "target": "com.amazon.devicefarm.model#DeleteVPCEConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazon.devicefarm.model#ArgumentException"
        },
        {
          "target": "com.amazon.devicefarm.model#InvalidOperationException"
        },
        {
          "target": "com.amazon.devicefarm.model#NotFoundException"
        },
        {
          "target": "com.amazon.devicefarm.model#ServiceAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes a configuration for your Amazon Virtual Private Cloud (VPC) endpoint.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeleteVPCEConfigurationRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the VPC endpoint configuration you want to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeleteVPCEConfigurationResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.devicefarm.model#Device": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's ARN.</p>\n      "
          }
        },
        "availability": {
          "target": "com.amazon.devicefarm.model#DeviceAvailability",
          "traits": {
            "smithy.api#documentation": "\n        <p>Reflects how likely a device will be available for a test run. It is currently available in the\n            ListDevices and GetDevice API methods.</p>\n      "
          }
        },
        "carrier": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's carrier.</p>\n      "
          }
        },
        "cpu": {
          "target": "com.amazon.devicefarm.model#CPU",
          "traits": {
            "smithy.api#documentation": "\n        <p>Information about the device's CPU.</p>\n      "
          }
        },
        "fleetName": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the fleet to which this device belongs.</p>\n      "
          }
        },
        "fleetType": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of fleet to which this device belongs. Possible values for fleet type are PRIVATE and\n            PUBLIC.</p>\n      "
          }
        },
        "formFactor": {
          "target": "com.amazon.devicefarm.model#DeviceFormFactor",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's form factor.</p>\n        <p>Allowed values include:</p>\n        <ul>\n            <li>\n                <p>PHONE: The phone form factor.</p>\n            </li>\n            <li>\n                <p>TABLET: The tablet form factor.</p>\n            </li>\n         </ul>\n      "
          }
        },
        "heapSize": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's heap size, expressed in bytes.</p>\n      "
          }
        },
        "image": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        \n        <p>The device's image name.</p>\n      "
          }
        },
        "instances": {
          "target": "com.amazon.devicefarm.model#DeviceInstances",
          "traits": {
            "smithy.api#documentation": "\n        <p>The instances belonging to this device.</p>\n      "
          }
        },
        "manufacturer": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's manufacturer name.</p>\n      "
          }
        },
        "memory": {
          "target": "com.amazon.devicefarm.model#Long",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's total memory size, expressed in bytes.</p>\n      "
          }
        },
        "model": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's model name.</p>\n      "
          }
        },
        "modelId": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's model ID.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's display name.</p>\n      "
          }
        },
        "os": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's operating system type.</p>\n      "
          }
        },
        "platform": {
          "target": "com.amazon.devicefarm.model#DevicePlatform",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device's platform.</p>\n        <p>Allowed values include:</p>\n        <ul>\n            <li>\n                <p>ANDROID: The Android platform.</p>\n            </li>\n            <li>\n                <p>IOS: The iOS platform.</p>\n            </li>\n         </ul>\n      "
          }
        },
        "radio": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        \n        <p>The device's radio.</p>\n      "
          }
        },
        "remoteAccessEnabled": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Specifies whether remote access has been enabled for the specified device.</p>\n      "
          }
        },
        "remoteDebugEnabled": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>This flag is set to <code>true</code> if remote debugging is enabled for the device.</p>\n        <p>\n            <i>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n            longer supported</a>.</i>\n         </p>\n      "
          }
        },
        "resolution": {
          "target": "com.amazon.devicefarm.model#Resolution",
          "traits": {
            "smithy.api#documentation": "\n        <p>The resolution of the device.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a device type that an app is tested against.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeviceAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ARN": {
            "name": "ARN"
          },
          "PLATFORM": {
            "name": "PLATFORM"
          },
          "FORM_FACTOR": {
            "name": "FORM_FACTOR"
          },
          "MANUFACTURER": {
            "name": "MANUFACTURER"
          },
          "REMOTE_ACCESS_ENABLED": {
            "name": "REMOTE_ACCESS_ENABLED"
          },
          "REMOTE_DEBUG_ENABLED": {
            "name": "REMOTE_DEBUG_ENABLED"
          },
          "APPIUM_VERSION": {
            "name": "APPIUM_VERSION"
          },
          "INSTANCE_ARN": {
            "name": "INSTANCE_ARN"
          },
          "INSTANCE_LABELS": {
            "name": "INSTANCE_LABELS"
          },
          "FLEET_TYPE": {
            "name": "FLEET_TYPE"
          },
          "OS_VERSION": {
            "name": "OS_VERSION"
          },
          "MODEL": {
            "name": "MODEL"
          },
          "AVAILABILITY": {
            "name": "AVAILABILITY"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeviceAvailability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TEMPORARY_NOT_AVAILABLE": {
            "name": "TEMPORARY_NOT_AVAILABLE"
          },
          "BUSY": {
            "name": "BUSY"
          },
          "AVAILABLE": {
            "name": "AVAILABLE"
          },
          "HIGHLY_AVAILABLE": {
            "name": "HIGHLY_AVAILABLE"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeviceFarm_20150623": {
      "type": "service",
      "version": "2015-06-23",
      "operations": [
        {
          "target": "com.amazon.devicefarm.model#CreateDevicePool"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateInstanceProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateNetworkProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateProject"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateRemoteAccessSession"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateUpload"
        },
        {
          "target": "com.amazon.devicefarm.model#CreateVPCEConfiguration"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteDevicePool"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteInstanceProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteNetworkProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteProject"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteRemoteAccessSession"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteRun"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteUpload"
        },
        {
          "target": "com.amazon.devicefarm.model#DeleteVPCEConfiguration"
        },
        {
          "target": "com.amazon.devicefarm.model#GetAccountSettings"
        },
        {
          "target": "com.amazon.devicefarm.model#GetDevice"
        },
        {
          "target": "com.amazon.devicefarm.model#GetDeviceInstance"
        },
        {
          "target": "com.amazon.devicefarm.model#GetDevicePool"
        },
        {
          "target": "com.amazon.devicefarm.model#GetDevicePoolCompatibility"
        },
        {
          "target": "com.amazon.devicefarm.model#GetInstanceProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#GetJob"
        },
        {
          "target": "com.amazon.devicefarm.model#GetNetworkProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#GetOfferingStatus"
        },
        {
          "target": "com.amazon.devicefarm.model#GetProject"
        },
        {
          "target": "com.amazon.devicefarm.model#GetRemoteAccessSession"
        },
        {
          "target": "com.amazon.devicefarm.model#GetRun"
        },
        {
          "target": "com.amazon.devicefarm.model#GetSuite"
        },
        {
          "target": "com.amazon.devicefarm.model#GetTest"
        },
        {
          "target": "com.amazon.devicefarm.model#GetUpload"
        },
        {
          "target": "com.amazon.devicefarm.model#GetVPCEConfiguration"
        },
        {
          "target": "com.amazon.devicefarm.model#InstallToRemoteAccessSession"
        },
        {
          "target": "com.amazon.devicefarm.model#ListArtifacts"
        },
        {
          "target": "com.amazon.devicefarm.model#ListDeviceInstances"
        },
        {
          "target": "com.amazon.devicefarm.model#ListDevicePools"
        },
        {
          "target": "com.amazon.devicefarm.model#ListDevices"
        },
        {
          "target": "com.amazon.devicefarm.model#ListInstanceProfiles"
        },
        {
          "target": "com.amazon.devicefarm.model#ListJobs"
        },
        {
          "target": "com.amazon.devicefarm.model#ListNetworkProfiles"
        },
        {
          "target": "com.amazon.devicefarm.model#ListOfferingPromotions"
        },
        {
          "target": "com.amazon.devicefarm.model#ListOfferingTransactions"
        },
        {
          "target": "com.amazon.devicefarm.model#ListOfferings"
        },
        {
          "target": "com.amazon.devicefarm.model#ListProjects"
        },
        {
          "target": "com.amazon.devicefarm.model#ListRemoteAccessSessions"
        },
        {
          "target": "com.amazon.devicefarm.model#ListRuns"
        },
        {
          "target": "com.amazon.devicefarm.model#ListSamples"
        },
        {
          "target": "com.amazon.devicefarm.model#ListSuites"
        },
        {
          "target": "com.amazon.devicefarm.model#ListTagsForResource"
        },
        {
          "target": "com.amazon.devicefarm.model#ListTests"
        },
        {
          "target": "com.amazon.devicefarm.model#ListUniqueProblems"
        },
        {
          "target": "com.amazon.devicefarm.model#ListUploads"
        },
        {
          "target": "com.amazon.devicefarm.model#ListVPCEConfigurations"
        },
        {
          "target": "com.amazon.devicefarm.model#PurchaseOffering"
        },
        {
          "target": "com.amazon.devicefarm.model#RenewOffering"
        },
        {
          "target": "com.amazon.devicefarm.model#ScheduleRun"
        },
        {
          "target": "com.amazon.devicefarm.model#StopJob"
        },
        {
          "target": "com.amazon.devicefarm.model#StopRemoteAccessSession"
        },
        {
          "target": "com.amazon.devicefarm.model#StopRun"
        },
        {
          "target": "com.amazon.devicefarm.model#TagResource"
        },
        {
          "target": "com.amazon.devicefarm.model#UntagResource"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateDeviceInstance"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateDevicePool"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateInstanceProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateNetworkProfile"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateProject"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateUpload"
        },
        {
          "target": "com.amazon.devicefarm.model#UpdateVPCEConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Device Farm",
          "arnNamespace": "devicefarm",
          "cloudFormationName": "DeviceFarm",
          "cloudTrailEventSource": "model.devicefarm.amazon.com"
        },
        "smithy.api#documentation": "\n        <p>AWS Device Farm is a service that enables mobile app developers to test Android, iOS, and Fire OS apps\n            on physical phones, tablets, and other devices in the cloud.</p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Device Farm",
        "smithy.api#xmlNamespace": {
          "uri": "http://devicefarm.amazonaws.com/doc/2015-06-23/"
        }
      }
    },
    "com.amazon.devicefarm.model#DeviceFilter": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazon.devicefarm.model#DeviceFilterAttribute",
          "traits": {
            "smithy.api#documentation": "\n        <p>The aspect of a device such as platform or model used as the selection criteria in a device filter.</p>\n        <p>The supported operators for each attribute are provided in the following list.</p>\n        <dl>\n            <dt>ARN</dt>\n            <dd>\n                    <p>The Amazon Resource Name (ARN) of the device. For example,\n                        \"arn:aws:devicefarm:us-west-2::device:12345Example\".</p>\n                    <p>\n                  <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>,\n                            <code>NOT_IN</code>\n               </p>\n                </dd>\n            <dt>PLATFORM</dt>\n            <dd>\n                    <p>The device platform. Valid values are \"ANDROID\" or \"IOS\".</p>\n                    <p>\n                  <i>Supported operators</i>: <code>EQUALS</code>\n               </p>\n                </dd>\n            <dt>OS_VERSION</dt>\n            <dd>\n                    <p>The operating system version. For example, \"10.3.2\".</p>\n                    <p>\n                  <i>Supported operators</i>: <code>EQUALS</code>, <code>GREATER_THAN</code>,\n                            <code>GREATER_THAN_OR_EQUALS</code>, <code>IN</code>, <code>LESS_THAN</code>,\n                            <code>LESS_THAN_OR_EQUALS</code>, <code>NOT_IN</code>\n               </p>\n                </dd>\n            <dt>MODEL</dt>\n            <dd>\n                    <p>The device model. For example, \"iPad 5th Gen\".</p>\n                    <p>\n                  <i>Supported operators</i>: <code>CONTAINS</code>, <code>EQUALS</code>,\n                            <code>IN</code>, <code>NOT_IN</code>\n               </p>\n                </dd>\n            <dt>AVAILABILITY</dt>\n            <dd>\n                    <p>The current availability of the device. Valid values are \"AVAILABLE\", \"HIGHLY_AVAILABLE\",\n                        \"BUSY\", or \"TEMPORARY_NOT_AVAILABLE\".</p>\n                    <p>\n                  <i>Supported operators</i>: <code>EQUALS</code>\n               </p>\n                </dd>\n            <dt>FORM_FACTOR</dt>\n            <dd>\n                    <p>The device form factor. Valid values are \"PHONE\" or \"TABLET\".</p>\n                    <p>\n                  <i>Supported operators</i>: <code>EQUALS</code>\n               </p>\n                </dd>\n            <dt>MANUFACTURER</dt>\n            <dd>\n                    <p>The device manufacturer. For example, \"Apple\".</p>\n                    <p>\n                  <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>,\n                            <code>NOT_IN</code>\n               </p>\n                </dd>\n            <dt>REMOTE_ACCESS_ENABLED</dt>\n            <dd>\n                    <p>Whether the device is enabled for remote access. Valid values are \"TRUE\" or \"FALSE\".</p>\n                    <p>\n                  <i>Supported operators</i>: <code>EQUALS</code>\n               </p>\n                </dd>\n            <dt>REMOTE_DEBUG_ENABLED</dt>\n            <dd>\n                    <p>\n                  <i>Ignored.</i>Whether the device is enabled for remote debugging. Valid values\n                        are \"TRUE\" or \"FALSE\".</p>\n                    <p>\n                  <i>Supported operators</i>: <code>EQUALS</code>\n               </p>\n                    <p>\n                  <i>This filter will be ignored, as remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n                        longer supported</a>.</i>\n               </p>\n                </dd>\n            <dt>INSTANCE_ARN</dt>\n            <dd>\n                    <p>The Amazon Resource Name (ARN) of the device instance.</p>\n                    <p>\n                  <i>Supported operators</i>: <code>EQUALS</code>, <code>IN</code>,\n                            <code>NOT_IN</code>\n               </p>\n                </dd>\n            <dt>INSTANCE_LABELS</dt>\n            <dd>\n                    <p>The label of the device instance.</p>\n                    <p>\n                  <i>Supported operators</i>: <code>CONTAINS</code>\n               </p>\n                </dd>\n            <dt>FLEET_TYPE</dt>\n            <dd>\n                    <p>The fleet type. Valid values are \"PUBLIC\" or \"PRIVATE\".</p>\n                    <p>\n                  <i>Supported operators</i>: <code>EQUALS</code>\n               </p>\n                </dd>\n         </dl>\n      "
          }
        },
        "operator": {
          "target": "com.amazon.devicefarm.model#RuleOperator",
          "traits": {
            "smithy.api#documentation": "\n        <p>Specifies how Device Farm compares the filter's attribute to the value. For the operators that are\n            supported by each attribute, see the attribute descriptions.</p>\n      "
          }
        },
        "values": {
          "target": "com.amazon.devicefarm.model#DeviceFilterValues",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of one or more filter values used in a device filter.</p>\n        <p class=\"title\">\n            <b>Operator Values</b>\n         </p>\n         <ul>\n            <li>\n                <p>The IN and NOT_IN operators can take a values array that has more than one element.</p>\n            </li>\n            <li>\n                <p>The other operators require an array with a single element.</p>\n            </li>\n         </ul>\n        <p class=\"title\">\n            <b>Attribute Values</b>\n         </p>\n         <ul>\n            <li>\n                <p>The PLATFORM attribute can be set to \"ANDROID\" or \"IOS\".</p>\n            </li>\n            <li>\n                <p>The AVAILABILITY attribute can be set to \"AVAILABLE\", \"HIGHLY_AVAILABLE\", \"BUSY\", or\n                    \"TEMPORARY_NOT_AVAILABLE\".</p>\n            </li>\n            <li>\n                <p>The FORM_FACTOR attribute can be set to \"PHONE\" or \"TABLET\".</p>\n            </li>\n            <li>\n                <p>The FLEET_TYPE attribute can be set to \"PUBLIC\" or \"PRIVATE\".</p>\n            </li>\n         </ul>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a device filter used to select a set of devices to be included in a test run. This data\n            structure is passed in as the <code>deviceSelectionConfiguration</code> parameter to ScheduleRun. For an\n            example of the JSON request syntax, see <a>ScheduleRun</a>.</p>\n        <p>It is also passed in as the <code>filters</code> parameter to ListDevices. For an example of the JSON\n            request syntax, see <a>ListDevices</a>.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeviceFilterAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ARN": {
            "name": "ARN"
          },
          "PLATFORM": {
            "name": "PLATFORM"
          },
          "OS_VERSION": {
            "name": "OS_VERSION"
          },
          "MODEL": {
            "name": "MODEL"
          },
          "AVAILABILITY": {
            "name": "AVAILABILITY"
          },
          "FORM_FACTOR": {
            "name": "FORM_FACTOR"
          },
          "MANUFACTURER": {
            "name": "MANUFACTURER"
          },
          "REMOTE_ACCESS_ENABLED": {
            "name": "REMOTE_ACCESS_ENABLED"
          },
          "REMOTE_DEBUG_ENABLED": {
            "name": "REMOTE_DEBUG_ENABLED"
          },
          "INSTANCE_ARN": {
            "name": "INSTANCE_ARN"
          },
          "INSTANCE_LABELS": {
            "name": "INSTANCE_LABELS"
          },
          "FLEET_TYPE": {
            "name": "FLEET_TYPE"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeviceFilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#String"
      }
    },
    "com.amazon.devicefarm.model#DeviceFilters": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#DeviceFilter"
      }
    },
    "com.amazon.devicefarm.model#DeviceFormFactor": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PHONE": {
            "name": "PHONE"
          },
          "TABLET": {
            "name": "TABLET"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DeviceHostPaths": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#String"
      }
    },
    "com.amazon.devicefarm.model#DeviceInstance": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the device instance.</p>\n      "
          }
        },
        "deviceArn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon Resource Name (ARN) of the device.</p>\n      "
          }
        },
        "instanceProfile": {
          "target": "com.amazon.devicefarm.model#InstanceProfile",
          "traits": {
            "smithy.api#documentation": "\n        <p>A object containing information about the instance profile.</p>\n      "
          }
        },
        "labels": {
          "target": "com.amazon.devicefarm.model#InstanceLabels",
          "traits": {
            "smithy.api#documentation": "\n        <p>An array of strings describing the device instance.</p>\n      "
          }
        },
        "status": {
          "target": "com.amazon.devicefarm.model#InstanceStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>The status of the device instance. Valid values are listed below.</p>\n      "
          }
        },
        "udid": {
          "target": "com.amazon.devicefarm.model#String",
          "traits": {
            "smithy.api#documentation": "\n        <p>Unique device identifier for the device instance.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the device instance.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DeviceInstances": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#DeviceInstance"
      }
    },
    "com.amazon.devicefarm.model#DeviceMinutes": {
      "type": "structure",
      "members": {
        "metered": {
          "target": "com.amazon.devicefarm.model#Double",
          "traits": {
            "smithy.api#documentation": "\n        <p>When specified, represents only the sum of metered minutes used by the resource to run tests.</p>\n      "
          }
        },
        "total": {
          "target": "com.amazon.devicefarm.model#Double",
          "traits": {
            "smithy.api#documentation": "\n        <p>When specified, represents the total minutes used by the resource to run tests.</p>\n      "
          }
        },
        "unmetered": {
          "target": "com.amazon.devicefarm.model#Double",
          "traits": {
            "smithy.api#documentation": "\n        <p>When specified, represents only the sum of unmetered minutes used by the resource to run\n            tests.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the total (metered or unmetered) minutes used by the resource to run tests. Contains the sum\n            of minutes consumed by all children.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DevicePlatform": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ANDROID": {
            "name": "ANDROID"
          },
          "IOS": {
            "name": "IOS"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DevicePool": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazon.devicefarm.model#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device pool's ARN.</p>\n      "
          }
        },
        "description": {
          "target": "com.amazon.devicefarm.model#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device pool's description.</p>\n      "
          }
        },
        "maxDevices": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are\n            available and that meet the criteria that you assign for the <code>rules</code> parameter. Depending on how\n            many devices meet these constraints, your device pool might contain fewer devices than the value for this\n            parameter.</p>\n        <p>By specifying the maximum number of devices, you can control the costs that you incur by running\n            tests.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazon.devicefarm.model#Name",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device pool's name.</p>\n      "
          }
        },
        "rules": {
          "target": "com.amazon.devicefarm.model#Rules",
          "traits": {
            "smithy.api#documentation": "\n        <p>Information about the device pool's rules.</p>\n      "
          }
        },
        "type": {
          "target": "com.amazon.devicefarm.model#DevicePoolType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device pool's type.</p>\n        <p>Allowed values include:</p>\n        <ul>\n            <li>\n                <p>CURATED: A device pool that is created and managed by AWS Device Farm.</p>\n            </li>\n            <li>\n                <p>PRIVATE: A device pool that is created and managed by the device pool developer.</p>\n            </li>\n         </ul>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a collection of device types.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DevicePoolCompatibilityResult": {
      "type": "structure",
      "members": {
        "compatible": {
          "target": "com.amazon.devicefarm.model#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Whether the result was compatible with the device pool.</p>\n      "
          }
        },
        "device": {
          "target": "com.amazon.devicefarm.model#Device",
          "traits": {
            "smithy.api#documentation": "\n        <p>The device (phone or tablet) that you wish to return information about.</p>\n      "
          }
        },
        "incompatibilityMessages": {
          "target": "com.amazon.devicefarm.model#IncompatibilityMessages",
          "traits": {
            "smithy.api#documentation": "\n        <p>Information about the compatibility.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents a device pool compatibility result.</p>\n      "
      }
    },
    "com.amazon.devicefarm.model#DevicePoolCompatibilityResults": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#DevicePoolCompatibilityResult"
      }
    },
    "com.amazon.devicefarm.model#DevicePoolType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CURATED": {
            "name": "CURATED"
          },
          "PRIVATE": {
            "name": "PRIVATE"
          }
        }
      }
    },
    "com.amazon.devicefarm.model#DevicePools": {
      "type": "list",
      "member": {
        "target": "com.amazon.devicefarm.model#DevicePool"
      }
    },
    "com.amazon.devicefarm.model#DeviceSelectionConfiguration": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazon.devicefarm.model#DeviceFilters",
          "traits": {
            "smithy.api#documentation": "\n        <p>Used to dynamically select a set of devices for a test run. A filter is made up of an attribute, an\n            operator, and one or more values.</p>\n        <ul>\n            <li>\n                <p>\n                  <b>Attribute</b>\n               </p>\n                <p>The aspect of a device such as platform or model used as the selection criteria in a device\n                    filter.</p>\n                <p>Allowed values include:</p>\n                <ul>\n                  <li>\n                        <p>ARN: The Amazon Resource Name (ARN) of the device. For example,\n                            \"arn:aws:devicefarm:us-west-2::device:12345Example\".</p>\n                    </li>\n                  <li>\n                        <p>PLATFORM: The device platform. Valid values are \"ANDROID\" or \"IOS\".</p>\n                    </li>\n                  <li>\n                        <p>OS_VERSION: The operating system version. For example, \"10.3.2\".</p>\n                    </li>\n                  <li>\n                        <p>MODEL: The device model. For example, \"iPad 5th Gen\".</p>\n                    </li>\n                  <li>\n                        <p>AVAILABILITY: The current availability of the device. Valid values are \"AVAILABLE\",\n                            \"HIGHLY_AVAILABLE\", \"BUSY\", or \"TEMPORARY_NOT_AVAILABLE\".</p>\n                    </li>\n                  <li>\n                        <p>FORM_FACTOR: The device form factor. Valid values are \"PHONE\" or \"TABLET\".</p>\n                    </li>\n                  <li>\n                        <p>MANUFACTURER: The device manufacturer. For example, \"Apple\".</p>\n                    </li>\n                  <li>\n                        <p>REMOTE_ACCESS_ENABLED: Whether the device is enabled for remote access. Valid values\n                            are \"TRUE\" or \"FALSE\".</p>\n                    </li>\n                  <li>\n                        <p>REMOTE_DEBUG_ENABLED: Whether the device is enabled for remote debugging. Valid values\n                            are \"TRUE\" or \"FALSE\". <i>This filter will be ignored, as remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no\n                                    longer supported</a>.</i>\n                     </p>\n                    </li>\n                  <li>\n                        <p>INSTANCE_ARN: The Amazon Resource Name (ARN) of the device instance.</p>\n                    </li>\n                  <li>\n                        <p>INSTANCE_LABELS: The label of the device instance.</p>\n                    </li>\n                  <li>\n                        <p>FLEET_TYPE: The fleet type. Valid values are \"PUBLIC\" or \"PRIVATE\".</p>\n                    </li>\n               </ul>\n            </li>\n            <li>\n                <p>\n                  <b>Operator</b>\n               </p>\n                <p>The filter operator.</p>\n                <ul>\n                  <li>\n                        <p>The EQUALS operator is available for every attribute except INSTANCE_LABELS.</p>\n                    </li>\n                  <li>\n                        <p>The CONTAINS operator is available for the INSTANCE_LABELS and MODEL attributes.</p>\n                    </li>\n                  <li>\n                        <p>The IN and NOT_IN operators are available for the ARN, OS_VERSION, MODEL, MANUFACTURER,\n                            and INSTANCE_ARN attributes.</p>\n                    </li>\n                  <li>\n                        <p>The LESS_THAN, GREATER_THAN, LESS_THAN_OR_EQUALS, and GREATER_THAN_OR_EQUALS operators are\n                            also available for the OS_VERSION attribute.</p>\n                    </li>\n               </ul>\n            </li>\n            <li>\n                <p>\n                  <b>Values</b>\n               </p>\n                <p>An array of one or more filter values.</p>\n                <p class=\"title\">\n                  <b>Operator Values</b>\n               </p>\n               <ul>\n                  <li>\n                        <p>The IN and NOT_IN operators can take a values array that has more than one element.</p>\n                    </li>\n                  <li>\n                        <p>The other operators require an array with a single element.</p>\n                    </li>\n               </ul>\n                <p class=\"title\">\n                  <b>Attribute Values</b>\n               </p>\n               <ul>\n                  <li>\n                        <p>The PLATFORM attribute can be set to \"ANDROID\" or \"IOS\".</p>\n                    </li>\n                  <li>\n                        <p>The AVAILABILITY attribute can be set to \"AVAILABLE\", \"HIGHLY_AVAILABLE\", \"BUSY\", or\n                            \"TEMPORARY_NOT_AVAILABLE\".</p>\n                    </li>\n                  <li>\n                        <p>The FORM_FACTOR attribute can be set to \"PHONE\" or \"TABLET\".</p>\n                    </li>\n                  <li>\n                        <p>The FLEET_TYPE attribute can be set to \"PUBLIC\" or \"PRIVATE\".</p>\n                    </li>\n               </ul>\n            </li>\n         </ul>\n      ",
            "smithy.api#required": true
          }
        },
        "maxDevices": {
          "target": "com.amazon.devicefarm.model#Integer",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of devices to be included in a test run.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
[...]
