{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.devopsagent#AWSConfiguration": {
      "type": "structure",
      "members": {
        "assumableRoleArn": {
          "target": "com.amazonaws.devopsagent#RoleArn",
          "traits": {
            "smithy.api#documentation": "Role ARN to be assumed by AIDevOps to operate on behalf of customer.",
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "AWS Account Id corresponding to provided resources.",
            "smithy.api#pattern": "^\\d{12}$",
            "smithy.api#required": {}
          }
        },
        "accountType": {
          "target": "com.amazonaws.devopsagent#MonitorAccountType",
          "traits": {
            "smithy.api#documentation": "Account Type 'monitor' for AIDevOps monitoring.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for AWS monitor account integration, allowing AIDevOps to monitor AWS resources."
      }
    },
    "com.amazonaws.devopsagent#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed error message describing why access was denied.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Access to the requested resource is denied due to insufficient permissions.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.devopsagent#AdditionalServiceDetails": {
      "type": "union",
      "members": {
        "github": {
          "target": "com.amazonaws.devopsagent#RegisteredGithubServiceDetails",
          "traits": {
            "smithy.api#documentation": "GitHub-specific service details."
          }
        },
        "slack": {
          "target": "com.amazonaws.devopsagent#RegisteredSlackServiceDetails",
          "traits": {
            "smithy.api#documentation": "Slack-specific service details."
          }
        },
        "mcpserverdatadog": {
          "target": "com.amazonaws.devopsagent#RegisteredMCPServerDetails",
          "traits": {
            "smithy.api#documentation": "Datadog MCP server-specific service details."
          }
        },
        "mcpserver": {
          "target": "com.amazonaws.devopsagent#RegisteredMCPServerDetails",
          "traits": {
            "smithy.api#documentation": "MCP server-specific service details."
          }
        },
        "servicenow": {
          "target": "com.amazonaws.devopsagent#RegisteredServiceNowDetails",
          "traits": {
            "smithy.api#documentation": "ServiceNow-specific service details."
          }
        },
        "gitlab": {
          "target": "com.amazonaws.devopsagent#RegisteredGitLabServiceDetails",
          "traits": {
            "smithy.api#documentation": "GitLab-specific service details."
          }
        },
        "mcpserversplunk": {
          "target": "com.amazonaws.devopsagent#RegisteredMCPServerDetails",
          "traits": {
            "smithy.api#documentation": "Splunk MCP server-specific service details."
          }
        },
        "mcpservernewrelic": {
          "target": "com.amazonaws.devopsagent#RegisteredNewRelicDetails",
          "traits": {
            "smithy.api#documentation": "New Relic MCP server-specific service details."
          }
        },
        "azuredevops": {
          "target": "com.amazonaws.devopsagent#RegisteredAzureDevOpsServiceDetails",
          "traits": {
            "smithy.api#documentation": "Azure DevOps specific service details."
          }
        },
        "azureidentity": {
          "target": "com.amazonaws.devopsagent#RegisteredAzureIdentityDetails",
          "traits": {
            "smithy.api#documentation": "Azure identity details for services using Azure authentication."
          }
        },
        "mcpservergrafana": {
          "target": "com.amazonaws.devopsagent#RegisteredGrafanaServerDetails",
          "traits": {
            "smithy.api#documentation": "Grafana MCP server-specific service details."
          }
        },
        "pagerduty": {
          "target": "com.amazonaws.devopsagent#RegisteredPagerDutyDetails",
          "traits": {
            "smithy.api#documentation": "Pagerduty service details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Union of service-specific details for different service types."
      }
    },
    "com.amazonaws.devopsagent#AdditionalServiceRegistrationStep": {
      "type": "union",
      "members": {
        "oauth": {
          "target": "com.amazonaws.devopsagent#OAuthAdditionalStepDetails",
          "traits": {
            "smithy.api#documentation": "OAuth authorization step required."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional steps required to complete service registration."
      }
    },
    "com.amazonaws.devopsagent#AgentSpace": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#AgentSpaceName",
          "traits": {
            "smithy.api#documentation": "The name of the AgentSpace.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devopsagent#Description",
          "traits": {
            "smithy.api#documentation": "The description of the AgentSpace."
          }
        },
        "locale": {
          "target": "com.amazonaws.devopsagent#Locale",
          "traits": {
            "smithy.api#documentation": "The locale for the AgentSpace, which determines the language used in agent responses."
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "The timestamp when the resource was created.",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "The timestamp when the resource was last updated.",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.devopsagent#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "The ARN of the AWS Key Management Service (AWS KMS) customer managed key that's used to encrypt resources."
          }
        },
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the AgentSpace",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "agentSpaceId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a complete AgentSpace with all its properties, timestamps, encryption settings, and unique identifier."
      }
    },
    "com.amazonaws.devopsagent#AgentSpaceId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Unique identifier for an agent space (allows alphanumeric characters and hyphens; 1-64 characters)",
        "smithy.api#pattern": "^[a-zA-Z0-9-]{1,64}$"
      }
    },
    "com.amazonaws.devopsagent#AgentSpaceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#AgentSpace"
      },
      "traits": {
        "smithy.api#documentation": "A list of AgentSpace resources."
      }
    },
    "com.amazonaws.devopsagent#AgentSpaceName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Agent space name field",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\p{L}\\p{N}\\p{P}\\p{S}\\p{Z}]+$"
      }
    },
    "com.amazonaws.devopsagent#AgentSpaceResource": {
      "type": "resource",
      "identifiers": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId"
        }
      },
      "properties": {
        "name": {
          "target": "com.amazonaws.devopsagent#AgentSpaceName"
        },
        "description": {
          "target": "com.amazonaws.devopsagent#Description"
        },
        "locale": {
          "target": "com.amazonaws.devopsagent#Locale"
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.devopsagent#KmsKeyArn"
        },
        "createdAt": {
          "target": "smithy.api#Timestamp"
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp"
        }
      },
      "create": {
        "target": "com.amazonaws.devopsagent#CreateAgentSpace"
      },
      "read": {
        "target": "com.amazonaws.devopsagent#GetAgentSpace"
      },
      "update": {
        "target": "com.amazonaws.devopsagent#UpdateAgentSpace"
      },
      "delete": {
        "target": "com.amazonaws.devopsagent#DeleteAgentSpace"
      },
      "operations": [
        {
          "target": "com.amazonaws.devopsagent#DisableOperatorApp"
        },
        {
          "target": "com.amazonaws.devopsagent#EnableOperatorApp"
        },
        {
          "target": "com.amazonaws.devopsagent#GetOperatorApp"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateOperatorAppIdpConfig"
        }
      ],
      "collectionOperations": [
        {
          "target": "com.amazonaws.devopsagent#ListAgentSpaces"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.devopsagent#AssociationResource"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "agentspace/{agentSpaceId}"
        },
        "aws.api#taggable": {
          "property": "tags"
        },
        "smithy.api#documentation": "AgentSpace resource represents an isolated workspace for AI agents to operate within, managing configurations, associations, and access controls."
      }
    },
    "com.amazonaws.devopsagent#ApiKeyValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "API Key Value for service.",
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#AssistantMessage": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#AssistantMessageBlock"
      }
    },
    "com.amazonaws.devopsagent#AssistantMessageBlock": {
      "type": "union",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text content from the assistant."
          }
        },
        "toolUse": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Tool use request from the assistant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A block of content in an assistant message."
      }
    },
    "com.amazonaws.devopsagent#AssociateService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#AssociateServiceInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#AssociateServiceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to associate service"
        },
        "smithy.api#documentation": "Adds a specific service association to an AgentSpace. It overwrites the existing association of the same service. Returns 201 Created on success.",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/agentspaces/{agentSpaceId}/associations",
          "code": 201
        }
      }
    },
    "com.amazonaws.devopsagent#AssociateServiceInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the AgentSpace",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "com.amazonaws.devopsagent#ServiceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the service.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.devopsagent#ServiceConfiguration",
          "traits": {
            "smithy.api#documentation": "The configuration that directs how AgentSpace interacts with the given service.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for creating a new service association within an AgentSpace.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#AssociateServiceOutput": {
      "type": "structure",
      "members": {
        "association": {
          "target": "com.amazonaws.devopsagent#Association",
          "traits": {
            "smithy.api#nestedProperties": {},
            "smithy.api#required": {}
          }
        },
        "webhook": {
          "target": "com.amazonaws.devopsagent#GenericWebhook",
          "traits": {
            "smithy.api#documentation": "Generic webhook configuration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output containing the newly created association and optional webhook configuration.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#Association": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the AgentSpace",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "The timestamp when the resource was created.",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "The timestamp when the resource was last updated.",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "status": {
          "target": "com.amazonaws.devopsagent#ValidationStatus",
          "traits": {
            "smithy.api#documentation": "Validation status"
          }
        },
        "associationId": {
          "target": "com.amazonaws.devopsagent#AssociationId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the given association.",
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "com.amazonaws.devopsagent#ServiceId",
          "traits": {
            "smithy.api#documentation": "The identifier for associated service",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.devopsagent#ServiceConfiguration",
          "traits": {
            "smithy.api#documentation": "The configuration that directs how AgentSpace interacts with the given service.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a service association within an AgentSpace, defining how the agent interacts with external services."
      }
    },
    "com.amazonaws.devopsagent#AssociationId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Unique identifier for a service association within an AgentSpace",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.devopsagent#AssociationResource": {
      "type": "resource",
      "identifiers": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId"
        },
        "associationId": {
          "target": "com.amazonaws.devopsagent#AssociationId"
        }
      },
      "create": {
        "target": "com.amazonaws.devopsagent#AssociateService"
      },
      "read": {
        "target": "com.amazonaws.devopsagent#GetAssociation"
      },
      "update": {
        "target": "com.amazonaws.devopsagent#UpdateAssociation"
      },
      "delete": {
        "target": "com.amazonaws.devopsagent#DisassociateService"
      },
      "operations": [
        {
          "target": "com.amazonaws.devopsagent#ListWebhooks"
        }
      ],
      "collectionOperations": [
        {
          "target": "com.amazonaws.devopsagent#ListAssociations"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidateAwsAssociations"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "agentspace/{agentSpaceId}/associations/{associationId}"
        },
        "smithy.api#documentation": "Association resource represents a connection between an AgentSpace and an external service (e.g., GitHub, Slack, AWS), defining how the agent interacts with that service."
      }
    },
    "com.amazonaws.devopsagent#AssociationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#Association"
      },
      "traits": {
        "smithy.api#documentation": "A list of service associations."
      }
    },
    "com.amazonaws.devopsagent#AuthFlow": {
      "type": "enum",
      "members": {
        "IAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "IAM-based authentication flow",
            "smithy.api#enumValue": "iam"
          }
        },
        "IDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Identity Center (IdC) authentication flow",
            "smithy.api#enumValue": "idc"
          }
        },
        "IDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Identity Provider (IdP) authentication flow",
            "smithy.api#enumValue": "idp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication flow type for operator app."
      }
    },
    "com.amazonaws.devopsagent#AzureConfiguration": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure subscription ID corresponding to provided resources.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Azure subscription integration."
      }
    },
    "com.amazonaws.devopsagent#AzureDevOpsConfiguration": {
      "type": "structure",
      "members": {
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure DevOps organization name.",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure DevOps project ID.",
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Azure DevOps project name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Azure DevOps project integration."
      }
    },
    "com.amazonaws.devopsagent#BackLogTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "Timestamp format used for backlog operations",
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.devopsagent#BacklogTaskDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Description for a backlog task (allows printable ASCII characters, tabs, and newlines; up to 10000 characters)",
        "smithy.api#length": {
          "max": 10000
        }
      }
    },
    "com.amazonaws.devopsagent#BacklogTaskTitle": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Title for a backlog task (allows printable ASCII characters, tabs, and newlines; 1-400 characters)",
        "smithy.api#length": {
          "min": 1,
          "max": 400
        }
      }
    },
    "com.amazonaws.devopsagent#CertificateString": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "String type for certificate or certificate chain.",
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        }
      }
    },
    "com.amazonaws.devopsagent#ChatExecution": {
      "type": "structure",
      "members": {
        "executionId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the execution",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "Timestamp when the chat was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "Timestamp when the chat was last updated"
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Summary or title of the chat"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single chat execution summary"
      }
    },
    "com.amazonaws.devopsagent#ChatExecutionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#ChatExecution"
      }
    },
    "com.amazonaws.devopsagent#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Client ID for service authentication.",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#ClientSecret": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Client secret for service authentication.",
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[\\S]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detailed error message describing the conflict.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request conflicts with the current state of the resource.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.devopsagent#ContentSizeExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This exception is thrown when the content size exceeds the allowed limit.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 413
      }
    },
    "com.amazonaws.devopsagent#CreateAgentSpace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreateAgentSpaceInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreateAgentSpaceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.devopsagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create agentspace"
        },
        "smithy.api#documentation": "Creates a new AgentSpace with the specified name and description. Duplicate space names are allowed.",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/agentspaces",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#CreateAgentSpaceInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#AgentSpaceName",
          "traits": {
            "smithy.api#documentation": "The name of the AgentSpace.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devopsagent#Description",
          "traits": {
            "smithy.api#documentation": "The description of the AgentSpace."
          }
        },
        "locale": {
          "target": "com.amazonaws.devopsagent#Locale",
          "traits": {
            "smithy.api#documentation": "The locale for the AgentSpace, which determines the language used in agent responses."
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.devopsagent#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "The ARN of the AWS Key Management Service (AWS KMS) customer managed key that's used to encrypt resources."
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client-provided token to ensure request idempotency. When the same token is provided in subsequent calls, the same response is returned within a 8-hour window.",
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "max": 64
            },
            "smithy.api#pattern": "^[!-~]+$"
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "Tags to add to the AgentSpace at creation time.",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for creating a new AgentSpace.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreateAgentSpaceOutput": {
      "type": "structure",
      "members": {
        "agentSpace": {
          "target": "com.amazonaws.devopsagent#AgentSpace",
          "traits": {
            "smithy.api#nestedProperties": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "Tags associated with the created AgentSpace.",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output containing the newly created AgentSpace.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#CreateBacklogTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreateBacklogTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreateBacklogTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a new backlog task",
          "resources": {
            "required": {
              "AgentSpaceResource": {}
            }
          }
        },
        "smithy.api#documentation": "Creates a new backlog task in the specified agent space",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/backlog/agent-space/{agentSpaceId}/tasks"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#CreateBacklogTaskRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the agent space where the task will be created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "reference": {
          "target": "com.amazonaws.devopsagent#ReferenceInput",
          "traits": {
            "smithy.api#documentation": "Optional reference information for the task"
          }
        },
        "taskType": {
          "target": "com.amazonaws.devopsagent#TaskType",
          "traits": {
            "smithy.api#documentation": "The type of task being created",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.devopsagent#BacklogTaskTitle",
          "traits": {
            "smithy.api#documentation": "The title of the backlog task",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devopsagent#BacklogTaskDescription",
          "traits": {
            "smithy.api#documentation": "Optional detailed description of the task"
          }
        },
        "priority": {
          "target": "com.amazonaws.devopsagent#Priority",
          "traits": {
            "smithy.api#documentation": "The priority level of the task",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Client-provided token for idempotent operations",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request structure for creating a new backlog task",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreateBacklogTaskResponse": {
      "type": "structure",
      "members": {
        "task": {
          "target": "com.amazonaws.devopsagent#Task",
          "traits": {
            "smithy.api#documentation": "The newly created task object",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response structure containing the created backlog task",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#CreateChat": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreateChatRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreateChatResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a chat"
        },
        "smithy.api#documentation": "Creates a new chat execution in the specified agent space",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/agents/agent-space/{agentSpaceId}/chat/create"
        }
      }
    },
    "com.amazonaws.devopsagent#CreateChatRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#deprecated": {
              "message": "userId is managed by the service and should not be provided by the caller",
              "since": "2026-04-15"
            },
            "smithy.api#documentation": "The user identifier for the chat. This field is deprecated and will be ignored — the service resolves user identity from the authenticated session.",
            "smithy.api#httpQuery": "userId"
          }
        },
        "userType": {
          "target": "com.amazonaws.devopsagent#UserType",
          "traits": {
            "smithy.api#documentation": "The authentication type of the user",
            "smithy.api#httpQuery": "userType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request structure for creating a new chat",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreateChatResponse": {
      "type": "structure",
      "members": {
        "executionId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the created execution",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "Timestamp when the chat was created",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response structure for creating a new chat",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#CreatePrivateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreatePrivateConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreatePrivateConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a private connection"
        },
        "smithy.api#documentation": "Creates a Private Connection to a target resource.",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/private-connections",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#CreatePrivateConnectionInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "Unique name for this Private Connection within the account.",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        },
        "mode": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionMode",
          "traits": {
            "smithy.api#documentation": "Private Connection mode configuration.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "Tags to add to the Private Connection at creation time.",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for creating a new Private Connection.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreatePrivateConnectionOutput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "The name of the Private Connection.",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        },
        "type": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionType",
          "traits": {
            "smithy.api#documentation": "The type of the Private Connection.",
            "smithy.api#required": {}
          }
        },
        "resourceGatewayId": {
          "target": "com.amazonaws.devopsagent#ResourceGatewayArn",
          "traits": {
            "smithy.api#documentation": "The service-managed Resource Gateway ARN. Only present for service-managed Private Connections."
          }
        },
        "hostAddress": {
          "target": "com.amazonaws.devopsagent#IpAddressOrDnsName",
          "traits": {
            "smithy.api#documentation": "IP address or DNS name of the target resource. Only present for service-managed Private Connections."
          }
        },
        "vpcId": {
          "target": "com.amazonaws.devopsagent#VpcId",
          "traits": {
            "smithy.api#documentation": "VPC identifier of the service-managed Resource Gateway. Only present for service-managed Private Connections."
          }
        },
        "resourceConfigurationId": {
          "target": "com.amazonaws.devopsagent#ResourceConfigurationArn",
          "traits": {
            "smithy.api#documentation": "The Resource Configuration ARN. Only present for self-managed Private Connections."
          }
        },
        "status": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Private Connection.",
            "smithy.api#required": {}
          }
        },
        "certificateExpiryTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "The expiry time of the certificate associated with the Private Connection. Only present when a certificate is associated.",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "Tags associated with the created Private Connection.",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output containing the newly created Private Connection summary.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DatadogAuthorizationConfig": {
      "type": "union",
      "members": {
        "authorizationDiscovery": {
          "target": "com.amazonaws.devopsagent#MCPServerAuthorizationDiscoveryConfig",
          "traits": {
            "smithy.api#documentation": "Datadog MCP server authorization discovery configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authorization configuration for Datadog MCP server (uses authorization discovery only)."
      }
    },
    "com.amazonaws.devopsagent#DatadogServiceDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MCP server name.",
            "smithy.api#pattern": "^[a-zA-Z0-9_-]+$",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MCP server endpoint URL.",
            "smithy.api#pattern": "^https://[a-zA-Z0-9.-]+(?::[0-9]+)?(?:/.*)?$",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devopsagent#Description",
          "traits": {
            "smithy.api#documentation": "Optional description for the MCP server.",
            "smithy.api#length": {
              "max": 500
            }
          }
        },
        "authorizationConfig": {
          "target": "com.amazonaws.devopsagent#DatadogAuthorizationConfig",
          "traits": {
            "smithy.api#documentation": "Datadog MCP server authorization configuration (only authorization discovery is supported).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Complete service details for Datadog MCP server integration."
      }
    },
    "com.amazonaws.devopsagent#DateTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.devopsagent#DeleteAgentSpace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DeleteAgentSpaceInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DeleteAgentSpaceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete agentspace"
        },
        "smithy.api#documentation": "Deletes an AgentSpace. This operation is idempotent and returns a 204 No Content response on success.",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/agentspaces/{agentSpaceId}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteAgentSpaceInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the AgentSpace",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for deleting an AgentSpace.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteAgentSpaceOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Empty output for successful AgentSpace deletion.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DeletePrivateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DeletePrivateConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DeletePrivateConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a private connection"
        },
        "smithy.api#documentation": "Deletes a Private Connection. The deletion is asynchronous and returns DELETE_IN_PROGRESS status.",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/private-connections/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#DeletePrivateConnectionInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "The name of the Private Connection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for deleting an existing Private Connection.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DeletePrivateConnectionOutput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "The name of the Private Connection.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Private Connection.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output containing the status of the Private Connection deletion.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DeregisterService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DeregisterServiceInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DeregisterServiceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deregister a service",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/services/{serviceId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#DeregisterServiceInput": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "com.amazonaws.devopsagent#ServiceId",
          "traits": {
            "smithy.api#documentation": "The service id to deregister. A service can only be deregistered if it is not associated with any AgentSpace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "serviceId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for deregistering a service.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DeregisterServiceOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Empty output for successful service deregistration.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DescribePrivateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DescribePrivateConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DescribePrivateConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to describe a private connection"
        },
        "smithy.api#documentation": "Retrieves details of an existing Private Connection.",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/private-connections/{name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.devopsagent#DescribePrivateConnectionInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "The name of the Private Connection.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for describing an existing Private Connection.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DescribePrivateConnectionOutput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "The name of the Private Connection.",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        },
        "type": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionType",
          "traits": {
            "smithy.api#documentation": "The type of the Private Connection.",
            "smithy.api#required": {}
          }
        },
        "resourceGatewayId": {
          "target": "com.amazonaws.devopsagent#ResourceGatewayArn",
          "traits": {
            "smithy.api#documentation": "The service-managed Resource Gateway ARN. Only present for service-managed Private Connections."
          }
        },
        "hostAddress": {
          "target": "com.amazonaws.devopsagent#IpAddressOrDnsName",
          "traits": {
            "smithy.api#documentation": "IP address or DNS name of the target resource. Only present for service-managed Private Connections."
          }
        },
        "vpcId": {
          "target": "com.amazonaws.devopsagent#VpcId",
          "traits": {
            "smithy.api#documentation": "VPC identifier of the service-managed Resource Gateway. Only present for service-managed Private Connections."
          }
        },
        "resourceConfigurationId": {
          "target": "com.amazonaws.devopsagent#ResourceConfigurationArn",
          "traits": {
            "smithy.api#documentation": "The Resource Configuration ARN. Only present for self-managed Private Connections."
          }
        },
        "status": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionStatus",
          "traits": {
            "smithy.api#documentation": "The status of the Private Connection.",
            "smithy.api#required": {}
          }
        },
        "certificateExpiryTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "The expiry time of the certificate associated with the Private Connection. Only present when a certificate is associated.",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Private Connection.",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output containing the Private Connection details.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#Description": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Description field",
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\p{L}\\p{N}\\p{P}\\p{S}\\p{Z}]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#DevOpsAgent": {
      "type": "service",
      "version": "2026-01-01",
      "operations": [
        {
          "target": "com.amazonaws.devopsagent#CreateBacklogTask"
        },
        {
          "target": "com.amazonaws.devopsagent#CreateChat"
        },
        {
          "target": "com.amazonaws.devopsagent#GetAccountUsage"
        },
        {
          "target": "com.amazonaws.devopsagent#GetBacklogTask"
        },
        {
          "target": "com.amazonaws.devopsagent#GetRecommendation"
        },
        {
          "target": "com.amazonaws.devopsagent#ListBacklogTasks"
        },
        {
          "target": "com.amazonaws.devopsagent#ListChats"
        },
        {
          "target": "com.amazonaws.devopsagent#ListExecutions"
        },
        {
          "target": "com.amazonaws.devopsagent#ListGoals"
        },
        {
          "target": "com.amazonaws.devopsagent#ListJournalRecords"
        },
        {
          "target": "com.amazonaws.devopsagent#ListPendingMessages"
        },
        {
          "target": "com.amazonaws.devopsagent#ListRecommendations"
        },
        {
          "target": "com.amazonaws.devopsagent#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.devopsagent#SendMessage"
        },
        {
          "target": "com.amazonaws.devopsagent#TagResource"
        },
        {
          "target": "com.amazonaws.devopsagent#UntagResource"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateBacklogTask"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateGoal"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateRecommendation"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.devopsagent#AgentSpaceResource"
        },
        {
          "target": "com.amazonaws.devopsagent#PrivateConnectionResource"
        },
        {
          "target": "com.amazonaws.devopsagent#ServiceResource"
        }
      ],
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#ContentSizeExceededException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DevOps Agent",
          "arnNamespace": "aidevops",
          "endpointPrefix": "aidevops",
          "cloudTrailEventSource": "aidevops.amazonaws.com"
        },
        "aws.api#tagEnabled": {
          "tagOnCreate": true
        },
        "aws.auth#sigv4": {
          "name": "aidevops"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardRegionalEndpoints": {},
        "aws.iam#defineConditionKeys": {
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by the tags that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by tags associated with the resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by the tag keys that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          }
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#restJson1": {
          "http": ["http/1.1"],
          "eventStreamHttp": ["http/1.1"]
        },
        "smithy.api#documentation": "AWS DevOps Agent is a frontier agent that resolves and proactively prevents incidents, continuously improving\nreliability and performance. AWS DevOps Agent investigates incidents and identifies operational improvements as an\nexperienced DevOps engineer.\n\nThe agent works by:\n\n* Learning your resources and their relationships.\n* Working with your observability tools, runbooks, code repositories, and CI/CD pipelines.\n* Correlating telemetry, code, and deployment data to understand relationships between your application resources.\n* Supporting applications in multicloud and hybrid environments.\n",
        "smithy.api#title": "AWS DevOps Agent Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://aidevops-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://aidevops.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aidevops-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aidevops.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aidevops-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aidevops.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aidevops-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aidevops.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.devopsagent#DisableOperatorApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DisableOperatorAppInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#IdentityCenterServiceException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to disable the Operator App access to the given AgentSpace"
        },
        "smithy.api#documentation": "Disable the Operator App for the specified AgentSpace",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/agentspaces/{agentSpaceId}/operator",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#DisableOperatorAppInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the AgentSpace",
            "smithy.api#httpLabel": {},
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        },
        "authFlow": {
          "target": "com.amazonaws.devopsagent#AuthFlow",
          "traits": {
            "smithy.api#documentation": "The authentication flow configured for the operator App. e.g. idc",
            "smithy.api#httpHeader": "x-amzn-app-auth-flow",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for disabling the Operator App for an AgentSpace.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DisassociateService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DisassociateServiceInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DisassociateServiceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to disassociate service"
        },
        "smithy.api#documentation": "Deletes a specific service association from an AgentSpace. This operation is idempotent and returns a 204 No Content response on success.",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/agentspaces/{agentSpaceId}/associations/{associationId}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#DisassociateServiceInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the AgentSpace",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "associationId": {
          "target": "com.amazonaws.devopsagent#AssociationId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the given association.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "associationId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for removing a service association from an AgentSpace.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DisassociateServiceOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Empty output for successful service disassociation.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DocumentList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Generic list of document objects for flexible data structures."
      }
    },
    "com.amazonaws.devopsagent#DynatraceConfiguration": {
      "type": "structure",
      "members": {
        "envId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dynatrace environment id",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.amazonaws.devopsagent#DynatraceResourceList",
          "traits": {
            "smithy.api#documentation": "List of Dynatrace resources to monitor"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Dynatrace monitoring integration."
      }
    },
    "com.amazonaws.devopsagent#DynatraceOAuthClientCredentialsConfig": {
      "type": "structure",
      "members": {
        "clientName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User friendly OAuth client name specified by end user.",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#pattern": "^[\\p{L}\\p{N}\\p{Z}._-]+$"
          }
        },
        "clientId": {
          "target": "com.amazonaws.devopsagent#ClientId",
          "traits": {
            "smithy.api#documentation": "OAuth client ID for authenticating with the service.",
            "smithy.api#required": {}
          }
        },
        "exchangeParameters": {
          "target": "com.amazonaws.devopsagent#ExchangeParameters",
          "traits": {
            "smithy.api#documentation": "OAuth token exchange parameters for authenticating with the service."
          }
        },
        "clientSecret": {
          "target": "com.amazonaws.devopsagent#ClientSecret",
          "traits": {
            "smithy.api#documentation": "OAuth client secret for authenticating with the service.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OAuth client credentials configuration for Dynatrace."
      }
    },
    "com.amazonaws.devopsagent#DynatraceResourceList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of Dynatrace resources to monitor."
      }
    },
    "com.amazonaws.devopsagent#DynatraceServiceAuthorizationConfig": {
      "type": "union",
      "members": {
        "oAuthClientCredentials": {
          "target": "com.amazonaws.devopsagent#DynatraceOAuthClientCredentialsConfig",
          "traits": {
            "smithy.api#documentation": "OAuth client credentials configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authorization configuration options for Dynatrace service.",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#DynatraceServiceDetails": {
      "type": "structure",
      "members": {
        "accountUrn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dynatrace resource account urn.",
            "smithy.api#length": {
              "min": 1,
              "max": 255
            },
            "smithy.api#pattern": "^urn:dtaccount:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "smithy.api#required": {}
          }
        },
        "authorizationConfig": {
          "target": "com.amazonaws.devopsagent#DynatraceServiceAuthorizationConfig",
          "traits": {
            "smithy.api#documentation": "Dynatrace OAuth client credentials configuration. Use this when registering with OAuth client credentials flow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Complete service details for Dynatrace integration."
      }
    },
    "com.amazonaws.devopsagent#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Email address",
        "smithy.api#pattern": "^[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#EnableOperatorApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#EnableOperatorAppInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#EnableOperatorAppOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#IdentityCenterServiceException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to enable the Operator App to access the given AgentSpace"
        },
        "smithy.api#documentation": "Enable the Operator App to access the given AgentSpace",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/agentspaces/{agentSpaceId}/operator",
          "code": 200
        }
      }
    },
    "com.amazonaws.devopsagent#EnableOperatorAppInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the AgentSpace",
            "smithy.api#httpLabel": {},
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        },
        "authFlow": {
          "target": "com.amazonaws.devopsagent#AuthFlow",
          "traits": {
            "smithy.api#documentation": "The authentication flow configured for the operator App. e.g. iam or idc",
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        },
        "operatorAppRoleArn": {
          "target": "com.amazonaws.devopsagent#RoleArn",
          "traits": {
            "smithy.api#documentation": "The IAM role end users assume to access AIDevOps APIs",
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        },
        "idcInstanceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IdC instance Arn used to create an IdC auth application",
            "smithy.api#notProperty": {}
          }
        },
        "issuerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OIDC issuer URL of the external Identity Provider",
            "smithy.api#notProperty": {}
          }
        },
        "idpClientId": {
          "target": "com.amazonaws.devopsagent#IdpClientId",
          "traits": {
            "smithy.api#documentation": "The OIDC client ID for the IdP application",
            "smithy.api#notProperty": {}
          }
        },
        "idpClientSecret": {
          "target": "com.amazonaws.devopsagent#IdpClientSecret",
          "traits": {
            "smithy.api#documentation": "The OIDC client secret for the IdP application",
            "smithy.api#notProperty": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Identity Provider name (e.g., Entra, Okta, Google)",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for enabling the Operator App for an AgentSpace.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#EnableOperatorAppOutput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the AgentSpace",
            "smithy.api#required": {}
          }
        },
        "iam": {
          "target": "com.amazonaws.devopsagent#IamAuthConfiguration",
          "traits": {
            "smithy.api#notProperty": {}
          }
        },
        "idc": {
          "target": "com.amazonaws.devopsagent#IdcAuthConfiguration",
          "traits": {
            "smithy.api#notProperty": {}
          }
        },
        "idp": {
          "target": "com.amazonaws.devopsagent#IdpAuthConfiguration",
          "traits": {
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output containing the enabled Operator App configuration.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#EventChannelConfiguration": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for Event Channel integration."
      }
    },
    "com.amazonaws.devopsagent#EventChannelDetails": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.devopsagent#EventChannelType",
          "traits": {
            "smithy.api#documentation": "The type of event channel"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Service details for Event Channel integration."
      }
    },
    "com.amazonaws.devopsagent#EventChannelType": {
      "type": "enum",
      "members": {
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Webhook-based event channel",
            "smithy.api#enumValue": "webhook"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Event Channel type"
      }
    },
    "com.amazonaws.devopsagent#ExchangeParameterValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Exchange Parameter value for MCP authentication",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#ExchangeParameters": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.devopsagent#ExchangeParameterValue"
      },
      "traits": {
        "smithy.api#documentation": "Exchange Parameter Map for MCP authentication."
      }
    },
    "com.amazonaws.devopsagent#Execution": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the agent space containing this execution",
            "smithy.api#required": {}
          }
        },
        "executionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for this execution",
            "smithy.api#required": {}
          }
        },
        "parentExecutionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the parent execution, if this is a child execution"
          }
        },
        "agentSubTask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specific subtask being executed by the agent",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.devopsagent#JournalTimestamp",
          "traits": {
            "smithy.api#documentation": "Timestamp when this execution was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.devopsagent#JournalTimestamp",
          "traits": {
            "smithy.api#documentation": "Timestamp when this execution was last updated",
            "smithy.api#required": {}
          }
        },
        "executionStatus": {
          "target": "com.amazonaws.devopsagent#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "The current status of this execution",
            "smithy.api#required": {}
          }
        },
        "agentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of agent that performed this execution."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user session associated with this execution"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an execution instance with its lifecycle information"
      }
    },
    "com.amazonaws.devopsagent#ExecutionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#Execution"
      },
      "traits": {
        "smithy.api#documentation": "List of execution instances"
      }
    },
    "com.amazonaws.devopsagent#ExecutionStatus": {
      "type": "enum",
      "members": {
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Execution has failed",
            "smithy.api#enumValue": "FAILED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Execution is currently running",
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Execution has been stopped",
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Execution has been canceled",
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Unlike in the case of user-initiated Cancelation, a customer won't be billed",
            "smithy.api#enumValue": "TIMED_OUT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible states of an execution"
      }
    },
    "com.amazonaws.devopsagent#GenericWebhook": {
      "type": "structure",
      "members": {
        "webhookUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The webhook URL endpoint"
          }
        },
        "webhookId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique webhook identifier"
          }
        },
        "webhookType": {
          "target": "com.amazonaws.devopsagent#WebhookType",
          "traits": {
            "smithy.api#documentation": "The webhook authentication type"
          }
        },
        "webhookSecret": {
          "target": "com.amazonaws.devopsagent#WebhookSecret",
          "traits": {
            "smithy.api#documentation": "The webhook secret for authentication"
          }
        },
        "apiKey": {
          "target": "com.amazonaws.devopsagent#ApiKeyValue",
          "traits": {
            "smithy.api#documentation": "API Key for API Key webhook authentication"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic webhook configuration for services that support webhook notifications."
      }
    },
    "com.amazonaws.devopsagent#GetAccountUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#GetAccountUsageInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#GetAccountUsageOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to retrieve account usage information"
        },
        "smithy.api#documentation": "Retrieves monthly account usage metrics and limits for the AWS account.",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/usage/account"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetAccountUsageSuccess",
            "params": {},
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "ap-southeast-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.devopsagent#GetAccountUsageInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#GetAccountUsageOutput": {
      "type": "structure",
      "members": {
        "monthlyAccountInvestigationHours": {
          "target": "com.amazonaws.devopsagent#UsageMetric",
          "traits": {
            "smithy.api#documentation": "Monthly investigation hours usage and limit for an account"
          }
        },
        "monthlyAccountEvaluationHours": {
          "target": "com.amazonaws.devopsagent#UsageMetric",
          "traits": {
            "smithy.api#documentation": "Monthly evaluation hours usage and limit for an account"
          }
        },
        "monthlyAccountSystemLearningHours": {
          "target": "com.amazonaws.devopsagent#UsageMetric",
          "traits": {
            "smithy.api#documentation": "Monthly system learning hours usage and limit for an account"
          }
        },
        "monthlyAccountOnDemandHours": {
          "target": "com.amazonaws.devopsagent#UsageMetric",
          "traits": {
            "smithy.api#documentation": "Monthly on-demand hours usage and limit for an account"
          }
        },
        "usagePeriodStartTime": {
          "target": "com.amazonaws.devopsagent#DateTime",
          "traits": {
            "smithy.api#documentation": "The start time of the usage tracking period",
            "smithy.api#required": {}
          }
        },
        "usagePeriodEndTime": {
          "target": "com.amazonaws.devopsagent#DateTime",
          "traits": {
            "smithy.api#documentation": "The end time of the usage tracking period",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#GetAgentSpace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#GetAgentSpaceInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#GetAgentSpaceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get agentspace"
        },
        "smithy.api#documentation": "Retrieves detailed information about a specific AgentSpace.",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/agentspaces/{agentSpaceId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.devopsagent#GetAgentSpaceInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the AgentSpace",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for retrieving a specific AgentSpace by ID.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#GetAgentSpaceOutput": {
      "type": "structure",
      "members": {
        "agentSpace": {
          "target": "com.amazonaws.devopsagent#AgentSpace",
          "traits": {
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "Tags associated with the AgentSpace.",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output containing the requested AgentSpace details.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#GetAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#GetAssociationInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#GetAssociationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get association"
        },
        "smithy.api#documentation": "Retrieves given associations configured for a specific AgentSpace.",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/agentspaces/{agentSpaceId}/associations/{associationId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.devopsagent#GetAssociationInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the AgentSpace",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "associationId": {
          "target": "com.amazonaws.devopsagent#AssociationId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the given association.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "associationId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for retrieving a specific service association.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#GetAssociationOutput": {
      "type": "structure",
      "members": {
        "association": {
          "target": "com.amazonaws.devopsagent#Association",
          "traits": {
            "smithy.api#nestedProperties": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output containing the requested association details.",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#GetBacklogTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#GetBacklogTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#GetBacklogTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a backlog task",
          "resources": {
            "required": {
              "AgentSpaceResource": {}
            }
          }
        },
        "smithy.api#documentation": "Gets a backlog task for the specified agent space and task id",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/backlog/agent-space/{agentSpaceId}/tasks/{taskId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.devopsagent#GetBacklogTaskRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the agent space containing the task",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "taskId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the task to retrieve",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
[...]
