{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.devopsguru#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.devopsguru#ErrorMessageString",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> You don't have permissions to perform the requested operation. The user or role that\n\t\t\tis making the request must have at least one IAM permissions policy attached that grants\n\t\t\tthe required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the\n\t\t\t\t<i>IAM User Guide</i>. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.devopsguru#AccountHealth": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.devopsguru#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account. </p>"
          }
        },
        "Insight": {
          "target": "com.amazonaws.devopsguru#AccountInsightHealth",
          "traits": {
            "smithy.api#documentation": "<p> Information about the health of the Amazon Web Services resources in your account, including the\n\t\t\tnumber of open proactive, open reactive insights, and the Mean Time to Recover (MTTR) of closed insights.\n\t\t</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Returns the number of open reactive insights, the number of open proactive insights,\n\t\t\tand the number of metrics analyzed in your Amazon Web Services account. Use these numbers to gauge the\n\t\t\thealth of operations in your Amazon Web Services account. </p>"
      }
    },
    "com.amazonaws.devopsguru#AccountHealths": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#AccountHealth"
      }
    },
    "com.amazonaws.devopsguru#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#AwsAccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.devopsguru#AccountInsightHealth": {
      "type": "structure",
      "members": {
        "OpenProactiveInsights": {
          "target": "com.amazonaws.devopsguru#NumOpenProactiveInsights",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>An integer that specifies the number of open proactive insights in your Amazon Web Services\n\t\t\taccount.</p>"
          }
        },
        "OpenReactiveInsights": {
          "target": "com.amazonaws.devopsguru#NumOpenReactiveInsights",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>An integer that specifies the number of open reactive insights in your Amazon Web Services\n\t\t\taccount.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about the number of open reactive and proactive insights that can be used\n\t\t\tto gauge the health of your system. </p>"
      }
    },
    "com.amazonaws.devopsguru#AddNotificationChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsguru#AddNotificationChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsguru#AddNotificationChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsguru#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsguru#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsguru#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsguru#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsguru#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.devopsguru#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsguru#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Adds a notification channel to DevOps Guru. A notification channel is used to notify you\n\t\t\tabout important DevOps Guru events, such as when an insight is generated. </p>\n\t\t       <p>If you use an Amazon SNS topic in another account, you must attach a policy to it that grants DevOps Guru permission \n\t\t\t\tto it notifications. DevOps Guru adds the required policy on your behalf to send notifications using Amazon SNS in your account. DevOps Guru only supports standard SNS topics. \n\t\t\t\tFor more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/sns-required-permissions.html\">Permissions \n\t\t\t\tfor cross account Amazon SNS topics</a>.</p>\n\t\t\t\t     <p>If you use an Amazon SNS topic in another account, you must attach a policy to it that grants DevOps Guru permission to it notifications. DevOps Guru adds the required policy on your behalf to send notifications using Amazon SNS in your account. For more information, see Permissions for cross account Amazon SNS topics.</p>\n\t\t\t\t     <p>If you use an Amazon SNS topic that is encrypted by an Amazon Web Services Key Management Service customer-managed key (CMK), then you must add permissions \n\t\t\t\tto the CMK. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/sns-kms-permissions.html\">Permissions for \n\t\t\t\tAmazon Web Services KMS–encrypted Amazon SNS topics</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/channels",
          "code": 200
        }
      }
    },
    "com.amazonaws.devopsguru#AddNotificationChannelRequest": {
      "type": "structure",
      "members": {
        "Config": {
          "target": "com.amazonaws.devopsguru#NotificationChannelConfig",
          "traits": {
            "smithy.api#documentation": "<p> A <code>NotificationChannelConfig</code> object that specifies what type of\n\t\t\tnotification channel to add. The one \n      \tsupported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.devopsguru#AddNotificationChannelResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.devopsguru#NotificationChannelId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the added notification channel. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.devopsguru#AmazonCodeGuruProfilerIntegration": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.devopsguru#EventSourceOptInStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the CodeGuru Profiler integration. Specifies if DevOps Guru is enabled to\n\t\t\tconsume recommendations that are generated from Amazon CodeGuru Profiler.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about your account's integration with Amazon CodeGuru Profiler. This\n\t\t\treturns whether DevOps Guru is configured to consume recommendations generated from Amazon\n\t\t\tCodeGuru Profiler.</p>"
      }
    },
    "com.amazonaws.devopsguru#AnalyzedResourceCount": {
      "type": "long"
    },
    "com.amazonaws.devopsguru#AnomalousLogGroup": {
      "type": "structure",
      "members": {
        "LogGroupName": {
          "target": "com.amazonaws.devopsguru#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tThe name of the CloudWatch log group.\n\t\t</p>"
          }
        },
        "ImpactStartTime": {
          "target": "com.amazonaws.devopsguru#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tThe time the anomalous log events began. The impact start time indicates the time of the first log anomaly event that occurs.\n\t\t</p>"
          }
        },
        "ImpactEndTime": {
          "target": "com.amazonaws.devopsguru#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tThe time the anomalous log events stopped.\n\t\t</p>"
          }
        },
        "NumberOfLogLinesScanned": {
          "target": "com.amazonaws.devopsguru#NumberOfLogLinesScanned",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n\t\t\tThe number of log lines that were scanned for anomalous log events.\n\t\t</p>"
          }
        },
        "LogAnomalyShowcases": {
          "target": "com.amazonaws.devopsguru#LogAnomalyShowcases",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tThe log anomalies in the log group. Each log anomaly displayed represents a cluster of similar anomalous log events.\n\t\t</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n\t\t\tAn Amazon CloudWatch log group that contains log anomalies and is used to generate an insight.\n\t\t</p>"
      }
    },
    "com.amazonaws.devopsguru#AnomalousLogGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#AnomalousLogGroup"
      }
    },
    "com.amazonaws.devopsguru#AnomalyDescription": {
      "type": "string"
    },
    "com.amazonaws.devopsguru#AnomalyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[\\w~.-]*$"
      }
    },
    "com.amazonaws.devopsguru#AnomalyLimit": {
      "type": "double"
    },
    "com.amazonaws.devopsguru#AnomalyName": {
      "type": "string"
    },
    "com.amazonaws.devopsguru#AnomalyReportedTimeRange": {
      "type": "structure",
      "members": {
        "OpenTime": {
          "target": "com.amazonaws.devopsguru#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time when an anomaly is opened. </p>",
            "smithy.api#required": {}
          }
        },
        "CloseTime": {
          "target": "com.amazonaws.devopsguru#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time when an anomaly is closed. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A time range that specifies when DevOps Guru opens and then closes an anomaly. This\n\t\t\tis different from <code>AnomalyTimeRange</code>, which specifies the time range when\n\t\t\tDevOps Guru actually observes the anomalous behavior. </p>"
      }
    },
    "com.amazonaws.devopsguru#AnomalyResource": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.devopsguru#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Web Services resource.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.devopsguru#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the Amazon Web Services resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Web Services resources in which DevOps Guru detected unusual behavior that resulted in the\n\t\t\tgeneration of an anomaly. When DevOps Guru detects multiple related anomalies, it creates and\n\t\t\tinsight with details about the anomalous behavior and suggestions about how to correct\n\t\t\tthe problem.</p>"
      }
    },
    "com.amazonaws.devopsguru#AnomalyResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#AnomalyResource"
      }
    },
    "com.amazonaws.devopsguru#AnomalySeverity": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#AnomalySource": {
      "type": "string"
    },
    "com.amazonaws.devopsguru#AnomalySourceDetails": {
      "type": "structure",
      "members": {
        "CloudWatchMetrics": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricsDetails",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>CloudWatchMetricsDetail</code> objects that contain information\n\t\t\tabout analyzed CloudWatch metrics that show anomalous behavior. </p>"
          }
        },
        "PerformanceInsightsMetrics": {
          "target": "com.amazonaws.devopsguru#PerformanceInsightsMetricsDetails",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>PerformanceInsightsMetricsDetail</code> objects that contain\n\t\t\tinformation about analyzed Performance Insights metrics that show anomalous behavior.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Details about the source of the anomalous operational data that triggered the\n\t\t\tanomaly.</p>"
      }
    },
    "com.amazonaws.devopsguru#AnomalySourceMetadata": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.devopsguru#AnomalySource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the anomaly.</p>"
          }
        },
        "SourceResourceName": {
          "target": "com.amazonaws.devopsguru#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the anomaly's resource.</p>"
          }
        },
        "SourceResourceType": {
          "target": "com.amazonaws.devopsguru#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The anomaly's resource type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata about the detection source that generates proactive anomalies. The anomaly is\n\t\t\tdetected using analysis of the metric data  over a period of time</p>"
      }
    },
    "com.amazonaws.devopsguru#AnomalyStatus": {
      "type": "enum",
      "members": {
        "ONGOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONGOING"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOSED"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#AnomalyTimeRange": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.devopsguru#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time when the anomalous behavior started. </p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.devopsguru#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time when the anomalous behavior ended. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A time range that specifies when the observed unusual behavior in an anomaly started\n\t\t\tand ended. This is different from <code>AnomalyReportedTimeRange</code>, which specifies\n\t\t\tthe time range when DevOps Guru opens and then closes an anomaly. </p>"
      }
    },
    "com.amazonaws.devopsguru#AnomalyType": {
      "type": "enum",
      "members": {
        "CAUSAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAUSAL"
          }
        },
        "CONTEXTUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTEXTUAL"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#AppBoundaryKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.devopsguru#AssociatedResourceArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#ResourceArn"
      }
    },
    "com.amazonaws.devopsguru#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.devopsguru#CapstoneControlPlaneService": {
      "type": "service",
      "version": "2020-12-01",
      "operations": [
        {
          "target": "com.amazonaws.devopsguru#AddNotificationChannel"
        },
        {
          "target": "com.amazonaws.devopsguru#DeleteInsight"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeAccountHealth"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeAccountOverview"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeAnomaly"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeEventSourcesConfig"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeFeedback"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeInsight"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeOrganizationHealth"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeOrganizationOverview"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeOrganizationResourceCollectionHealth"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeResourceCollectionHealth"
        },
        {
          "target": "com.amazonaws.devopsguru#DescribeServiceIntegration"
        },
        {
          "target": "com.amazonaws.devopsguru#GetCostEstimation"
        },
        {
          "target": "com.amazonaws.devopsguru#GetResourceCollection"
        },
        {
          "target": "com.amazonaws.devopsguru#ListAnomaliesForInsight"
        },
        {
          "target": "com.amazonaws.devopsguru#ListAnomalousLogGroups"
        },
        {
          "target": "com.amazonaws.devopsguru#ListEvents"
        },
        {
          "target": "com.amazonaws.devopsguru#ListInsights"
        },
        {
          "target": "com.amazonaws.devopsguru#ListMonitoredResources"
        },
        {
          "target": "com.amazonaws.devopsguru#ListNotificationChannels"
        },
        {
          "target": "com.amazonaws.devopsguru#ListOrganizationInsights"
        },
        {
          "target": "com.amazonaws.devopsguru#ListRecommendations"
        },
        {
          "target": "com.amazonaws.devopsguru#PutFeedback"
        },
        {
          "target": "com.amazonaws.devopsguru#RemoveNotificationChannel"
        },
        {
          "target": "com.amazonaws.devopsguru#SearchInsights"
        },
        {
          "target": "com.amazonaws.devopsguru#SearchOrganizationInsights"
        },
        {
          "target": "com.amazonaws.devopsguru#StartCostEstimation"
        },
        {
          "target": "com.amazonaws.devopsguru#UpdateEventSourcesConfig"
        },
        {
          "target": "com.amazonaws.devopsguru#UpdateResourceCollection"
        },
        {
          "target": "com.amazonaws.devopsguru#UpdateServiceIntegration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DevOps Guru",
          "arnNamespace": "devops-guru",
          "cloudFormationName": "DevOpsGuru",
          "cloudTrailEventSource": "devopsguru.amazonaws.com",
          "endpointPrefix": "devops-guru"
        },
        "aws.auth#sigv4": {
          "name": "devops-guru"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p> Amazon DevOps Guru is a fully managed service that helps you identify anomalous behavior in\n\t\t\tbusiness critical operational applications. You specify the Amazon Web Services resources that you\n\t\t\twant DevOps Guru to cover, then the Amazon CloudWatch metrics and Amazon Web Services CloudTrail events related to those\n\t\t\tresources are analyzed. When anomalous behavior is detected, DevOps Guru creates an\n\t\t\t\t<i>insight</i> that includes recommendations, related events, and\n\t\t\trelated metrics that can help you improve your operational applications. For more\n\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/welcome.html\">What is Amazon DevOps Guru</a>. </p>\n\n\t\t       <p> You can specify 1 or 2 Amazon Simple Notification Service topics so you are notified every time a new insight\n\t\t\tis created. You can also enable DevOps Guru to generate an OpsItem in Amazon Web Services Systems Manager for each\n\t\t\tinsight to help you manage and track your work addressing insights. </p>\n\n\t\t       <p> To learn about the DevOps Guru workflow, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/welcome.html#how-it-works\">How DevOps Guru works</a>. To\n\t\t\tlearn about DevOps Guru concepts, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/concepts.html\">Concepts in DevOps Guru</a>. </p>",
        "smithy.api#title": "Amazon DevOps Guru",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://devops-guru-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://devops-guru-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://devops-guru.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://devops-guru.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://devops-guru.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.devopsguru#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#NotificationChannel"
      }
    },
    "com.amazonaws.devopsguru#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+[a-zA-Z0-9-]*$"
      }
    },
    "com.amazonaws.devopsguru#CloudFormationCollection": {
      "type": "structure",
      "members": {
        "StackNames": {
          "target": "com.amazonaws.devopsguru#StackNames",
          "traits": {
            "smithy.api#documentation": "<p> An array of CloudFormation stack names. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about Amazon Web Services CloudFormation stacks. You can use up to 500\n\t\t\tstacks to specify which Amazon Web Services resources in your account to analyze. For more\n\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Stacks</a> in the\n\t\t\t\t<i>Amazon Web Services CloudFormation User Guide</i>. </p>"
      }
    },
    "com.amazonaws.devopsguru#CloudFormationCollectionFilter": {
      "type": "structure",
      "members": {
        "StackNames": {
          "target": "com.amazonaws.devopsguru#StackNames",
          "traits": {
            "smithy.api#documentation": "<p> An array of CloudFormation stack names. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about Amazon Web Services CloudFormation stacks. You can use up to 500\n\t\t\tstacks to specify which Amazon Web Services resources in your account to analyze. For more\n\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Stacks</a> in the\n\t\t\t\t<i>Amazon Web Services CloudFormation User Guide</i>. </p>"
      }
    },
    "com.amazonaws.devopsguru#CloudFormationCostEstimationResourceCollectionFilter": {
      "type": "structure",
      "members": {
        "StackNames": {
          "target": "com.amazonaws.devopsguru#CostEstimationStackNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of CloudFormation stack names. Its size is fixed at 1 item.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Amazon Web Services CloudFormation stack used to create a monthly cost estimate\n\t\t\tfor DevOps Guru to analyze Amazon Web Services resources. The maximum number of stacks you can specify for a\n\t\t\tcost estimate is one. The estimate created is for the cost to analyze the Amazon Web Services\n\t\t\tresources defined by the stack. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Stacks</a> in the\n\t\t\t\t<i>Amazon Web Services CloudFormation User Guide</i>.</p>"
      }
    },
    "com.amazonaws.devopsguru#CloudFormationHealth": {
      "type": "structure",
      "members": {
        "StackName": {
          "target": "com.amazonaws.devopsguru#StackName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the CloudFormation stack. </p>"
          }
        },
        "Insight": {
          "target": "com.amazonaws.devopsguru#InsightHealth",
          "traits": {
            "smithy.api#documentation": "<p> Information about the health of the Amazon Web Services resources in your account that are\n\t\t\tspecified by an Amazon Web Services CloudFormation stack, including the number of open proactive, open reactive\n\t\t\tinsights, and the Mean Time to Recover (MTTR) of closed insights. </p>"
          }
        },
        "AnalyzedResourceCount": {
          "target": "com.amazonaws.devopsguru#AnalyzedResourceCount",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tNumber of resources that DevOps Guru is monitoring in your account that are specified by an Amazon Web Services CloudFormation stack.\n\t\t</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about the health of Amazon Web Services resources in your account that are specified by\n\t\t\tan Amazon Web Services CloudFormation stack. </p>"
      }
    },
    "com.amazonaws.devopsguru#CloudFormationHealths": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#CloudFormationHealth"
      }
    },
    "com.amazonaws.devopsguru#CloudWatchMetricDataStatusCode": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complete"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InternalError"
          }
        },
        "PARTIAL_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PartialData"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsDataSummary": {
      "type": "structure",
      "members": {
        "TimestampMetricValuePairList": {
          "target": "com.amazonaws.devopsguru#TimestampMetricValuePairList",
          "traits": {
            "smithy.api#documentation": "<p>This is a list of Amazon CloudWatch metric values at given timestamp.</p>"
          }
        },
        "StatusCode": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricDataStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>This is an enum of the status showing whether the metric value pair list has partial\n\t\t\tor complete data, or if there was an error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the analyzed metrics that displayed anomalous behavior.\n\t\t</p>"
      }
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsDetail": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricsMetricName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the CloudWatch metric. </p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricsNamespace",
          "traits": {
            "smithy.api#documentation": "<p> The namespace of the CloudWatch metric. A namespace is a container for CloudWatch metrics.\n\t\t</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricsDimensions",
          "traits": {
            "smithy.api#documentation": "<p> An array of CloudWatch dimensions associated with </p>"
          }
        },
        "Stat": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricsStat",
          "traits": {
            "smithy.api#documentation": "<p> The type of statistic associated with the CloudWatch metric. For more information, see\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Statistic\">Statistics</a> in the <i>Amazon CloudWatch User Guide</i>. </p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricsUnit",
          "traits": {
            "smithy.api#documentation": "<p> The unit of measure used for the CloudWatch metric. For example, <code>Bytes</code>,\n\t\t\t\t<code>Seconds</code>, <code>Count</code>, and <code>Percent</code>. </p>"
          }
        },
        "Period": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricsPeriod",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> The length of time associated with the CloudWatch metric in number of seconds. </p>"
          }
        },
        "MetricDataSummary": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricsDataSummary",
          "traits": {
            "smithy.api#documentation": "<p>This object returns anomaly metric data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about an Amazon CloudWatch metric. </p>"
      }
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#CloudWatchMetricsDetail"
      }
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsDimension": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricsDimensionName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the CloudWatch dimension. </p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.devopsguru#CloudWatchMetricsDimensionValue",
          "traits": {
            "smithy.api#documentation": "<p> The value of the CloudWatch dimension. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The dimension of an Amazon CloudWatch metric that is used when DevOps Guru analyzes the resources in\n\t\t\tyour account for operational problems and anomalous behavior. A dimension is a\n\t\t\tname/value pair that is part of the identity of a metric. A metric can have up to 10\n\t\t\tdimensions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Dimension\">Dimensions</a> in the <i>Amazon CloudWatch User Guide</i>. </p>"
      }
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsDimensionName": {
      "type": "string"
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsDimensionValue": {
      "type": "string"
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsDimensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#CloudWatchMetricsDimension"
      }
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsMetricName": {
      "type": "string"
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsNamespace": {
      "type": "string"
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsPeriod": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsStat": {
      "type": "enum",
      "members": {
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sum"
          }
        },
        "AVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Average"
          }
        },
        "SAMPLE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SampleCount"
          }
        },
        "MINIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Minimum"
          }
        },
        "MAXIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Maximum"
          }
        },
        "P99": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p99"
          }
        },
        "P90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p90"
          }
        },
        "P50": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p50"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#CloudWatchMetricsUnit": {
      "type": "string"
    },
    "com.amazonaws.devopsguru#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.devopsguru#ErrorMessageString",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.devopsguru#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Amazon Web Services resource in which a conflict occurred. </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.devopsguru#ResourceIdType",
          "traits": {
            "smithy.api#documentation": "<p> The type of the Amazon Web Services resource in which a conflict occurred. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An exception that is thrown when a conflict occurs. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.devopsguru#Cost": {
      "type": "double",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.devopsguru#CostEstimationResourceCollectionFilter": {
      "type": "structure",
      "members": {
        "CloudFormation": {
          "target": "com.amazonaws.devopsguru#CloudFormationCostEstimationResourceCollectionFilter",
          "traits": {
            "smithy.api#documentation": "<p>An object that specifies the CloudFormation stack that defines the Amazon Web Services resources\n\t\t\tused to create a monthly estimate for DevOps Guru.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.devopsguru#TagCostEstimationResourceCollectionFilters",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services tags used to filter the resource collection that is used for a cost\n\t\t\testimate.</p> \n         <p>Tags help you identify and organize your Amazon Web Services resources. Many Amazon Web Services services support\n   \t\ttagging, so you can assign the same tag to resources from different services to indicate\n   \t\tthat the resources are related. For example, you can assign the same tag to an Amazon DynamoDB\n   \t\ttable resource that you assign to an Lambda function. For more information about\n   \t\tusing tags, see the <a href=\"https://d1.awsstatic.com/whitepapers/aws-tagging-best-practices.pdf\">Tagging\n   \t\t\tbest practices</a> whitepaper. </p>\n   \t     <p>Each Amazon Web Services tag has two parts. </p>\n   \t     <ul>\n            <li>\n   \t\t\t         <p>A tag <i>key</i> (for example, <code>CostCenter</code>,\n   \t\t\t\t<code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag\n   \t\t\t\t<i>keys</i> are case-sensitive.</p>\n   \t\t       </li>\n            <li>\n   \t\t\t         <p>An optional field known as a tag <i>value</i> (for example,\n   \t\t\t\t<code>111122223333</code>, <code>Production</code>, or a team\n   \t\t\t\tname). Omitting the tag <i>value</i> is the same as using an empty\n   \t\t\t\tstring. Like tag <i>keys</i>, tag <i>values</i> are\n   \t\t\t\tcase-sensitive.</p>\n   \t\t       </li>\n         </ul>\n   \t     <p>Together these are known as <i>key</i>-<i>value</i> pairs.</p>\n   \t     <important>\n\t\t          <p>The string used for a <i>key</i> in a tag that you use to define your resource coverage must begin with the\n\t\t\tprefix <code>Devops-guru-</code>. The tag <i>key</i> might be\n\t\t\t<code>DevOps-Guru-deployment-application</code> or\n\t\t\t<code>devops-guru-rds-application</code>. When you create a <i>key</i>, the case of characters in the <i>key</i> can be whatever you choose. After you create a <i>key</i>, it is case-sensitive.\n\t\t\t For example, DevOps Guru works with a\n\t\t\t<i>key</i> named <code>devops-guru-rds</code> and a <i>key</i> named\n\t\t\t<code>DevOps-Guru-RDS</code>, and these act as two different <i>keys</i>. Possible <i>key</i>/<i>value</i> pairs in your\n\t\t\tapplication might be <code>Devops-Guru-production-application/RDS</code> or\n\t\t\t<code>Devops-Guru-production-application/containers</code>.</p>\n\t        </important>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a filter used to specify which Amazon Web Services resources are analyzed to\n\t\t\tcreate a monthly DevOps Guru cost estimate. For more information, \n\t\t\tsee <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/cost-estimate.html\">Estimate your \n\t\t\tAmazon DevOps Guru costs</a> and \n\t\t\t<a href=\"http://aws.amazon.com/devops-guru/pricing/\">Amazon DevOps Guru pricing</a>. </p>"
      }
    },
    "com.amazonaws.devopsguru#CostEstimationServiceResourceCount": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.devopsguru#CostEstimationServiceResourceState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#CostEstimationStackNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#StackName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.devopsguru#CostEstimationStatus": {
      "type": "enum",
      "members": {
        "ONGOING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONGOING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#CostEstimationTagValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsguru#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.devopsguru#CostEstimationTimeRange": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.devopsguru#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the cost estimation.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.devopsguru#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the cost estimation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The time range of a cost estimation.</p>"
      }
    },
    "com.amazonaws.devopsguru#DeleteInsight": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsguru#DeleteInsightRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsguru#DeleteInsightResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsguru#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsguru#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsguru#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsguru#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsguru#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsguru#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the insight along with the associated anomalies, events and recommendations.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/insights/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.devopsguru#DeleteInsightRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.devopsguru#InsightId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the insight.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.devopsguru#DeleteInsightResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.devopsguru#DescribeAccountHealth": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsguru#DescribeAccountHealthRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsguru#DescribeAccountHealthResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsguru#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsguru#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsguru#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsguru#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns the number of open reactive insights, the number of open proactive insights,\n\t\t\tand the number of metrics analyzed in your Amazon Web Services account. Use these numbers to gauge the\n\t\t\thealth of operations in your Amazon Web Services account. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/health",
          "code": 200
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeAccountHealthRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.devopsguru#DescribeAccountHealthResponse": {
      "type": "structure",
      "members": {
        "OpenReactiveInsights": {
          "target": "com.amazonaws.devopsguru#NumOpenReactiveInsights",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> An integer that specifies the number of open reactive insights in your Amazon Web Services account.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "OpenProactiveInsights": {
          "target": "com.amazonaws.devopsguru#NumOpenProactiveInsights",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> An integer that specifies the number of open proactive insights in your Amazon Web Services\n\t\t\taccount. </p>",
            "smithy.api#required": {}
          }
        },
        "MetricsAnalyzed": {
          "target": "com.amazonaws.devopsguru#NumMetricsAnalyzed",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> An integer that specifies the number of metrics that have been analyzed in your Amazon Web Services\n\t\t\taccount. </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceHours": {
          "target": "com.amazonaws.devopsguru#ResourceHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of Amazon DevOps Guru resource analysis hours billed to the current Amazon Web Services account in\n\t\t\tthe last hour. </p>",
            "smithy.api#required": {}
          }
        },
        "AnalyzedResourceCount": {
          "target": "com.amazonaws.devopsguru#AnalyzedResourceCount",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tNumber of resources that DevOps Guru is monitoring in your Amazon Web Services account.\n\t\t</p>"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeAccountOverview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsguru#DescribeAccountOverviewRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsguru#DescribeAccountOverviewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsguru#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsguru#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsguru#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsguru#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> For the time range passed in, returns the number of open reactive insight that were\n\t\t\tcreated, the number of open proactive insights that were created, and the Mean Time to Recover (MTTR) for all\n\t\t\tclosed reactive insights. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/overview",
          "code": 200
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeAccountOverviewRequest": {
      "type": "structure",
      "members": {
        "FromTime": {
          "target": "com.amazonaws.devopsguru#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The start of the time range passed in. The start time granularity is at the day\n\t\t\tlevel. The floor of the start time is used. Returned information occurred after this\n\t\t\tday. </p>",
            "smithy.api#required": {}
          }
        },
        "ToTime": {
          "target": "com.amazonaws.devopsguru#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The end of the time range passed in. The start time granularity is at the day level.\n\t\t\tThe floor of the start time is used. Returned information occurred before this day. If\n\t\t\tthis is not specified, then the current day is used. </p>"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeAccountOverviewResponse": {
      "type": "structure",
      "members": {
        "ReactiveInsights": {
          "target": "com.amazonaws.devopsguru#NumReactiveInsights",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> An integer that specifies the number of open reactive insights in your Amazon Web Services account\n\t\t\tthat were created during the time range passed in. </p>",
            "smithy.api#required": {}
          }
        },
        "ProactiveInsights": {
          "target": "com.amazonaws.devopsguru#NumProactiveInsights",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> An integer that specifies the number of open proactive insights in your Amazon Web Services account\n\t\t\tthat were created during the time range passed in. </p>",
            "smithy.api#required": {}
          }
        },
        "MeanTimeToRecoverInMilliseconds": {
          "target": "com.amazonaws.devopsguru#MeanTimeToRecoverInMilliseconds",
          "traits": {
            "smithy.api#documentation": "<p> The Mean Time to Recover (MTTR) for all closed insights that were created during the time range passed in.\n\t\t</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeAnomaly": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsguru#DescribeAnomalyRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsguru#DescribeAnomalyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsguru#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsguru#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsguru#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsguru#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsguru#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns details about an anomaly that you specify using its ID. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/anomalies/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeAnomalyRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.devopsguru#AnomalyId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the anomaly. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.devopsguru#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the member account.</p>",
            "smithy.api#httpQuery": "AccountId"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeAnomalyResponse": {
      "type": "structure",
      "members": {
        "ProactiveAnomaly": {
          "target": "com.amazonaws.devopsguru#ProactiveAnomaly",
          "traits": {
            "smithy.api#documentation": "<p> A <code>ProactiveAnomaly</code> object that represents the requested anomaly. </p>"
          }
        },
        "ReactiveAnomaly": {
          "target": "com.amazonaws.devopsguru#ReactiveAnomaly",
          "traits": {
            "smithy.api#documentation": "<p> A <code>ReactiveAnomaly</code> object that represents the requested anomaly. </p>"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeEventSourcesConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsguru#DescribeEventSourcesConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsguru#DescribeEventSourcesConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsguru#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsguru#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsguru#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsguru#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the integration status of services that are integrated with DevOps Guru as Consumer\n\t\t\tvia EventBridge. The one service that can be integrated with DevOps Guru is Amazon CodeGuru\n\t\t\tProfiler, which can produce proactive recommendations which can be stored and viewed in\n\t\t\tDevOps Guru.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/event-sources",
          "code": 200
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeEventSourcesConfigRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.devopsguru#DescribeEventSourcesConfigResponse": {
      "type": "structure",
      "members": {
        "EventSources": {
          "target": "com.amazonaws.devopsguru#EventSourcesConfig",
          "traits": {
            "smithy.api#documentation": "<p>Lists the event sources in the configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeFeedback": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsguru#DescribeFeedbackRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsguru#DescribeFeedbackResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsguru#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsguru#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsguru#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsguru#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsguru#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns the most recent feedback submitted in the current Amazon Web Services account and Region.\n\t\t</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/feedback",
          "code": 200
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeFeedbackRequest": {
      "type": "structure",
      "members": {
        "InsightId": {
          "target": "com.amazonaws.devopsguru#InsightId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the insight for which the feedback was provided. </p>"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeFeedbackResponse": {
      "type": "structure",
      "members": {
        "InsightFeedback": {
          "target": "com.amazonaws.devopsguru#InsightFeedback"
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeInsight": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsguru#DescribeInsightRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsguru#DescribeInsightResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsguru#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsguru#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsguru#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsguru#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsguru#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns details about an insight that you specify using its ID. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/insights/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeInsightRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.devopsguru#InsightId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the insight. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.devopsguru#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the member account in the organization.</p>",
            "smithy.api#httpQuery": "AccountId"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeInsightResponse": {
      "type": "structure",
      "members": {
        "ProactiveInsight": {
          "target": "com.amazonaws.devopsguru#ProactiveInsight",
          "traits": {
            "smithy.api#documentation": "<p> A <code>ProactiveInsight</code> object that represents the requested insight. </p>"
          }
        },
        "ReactiveInsight": {
          "target": "com.amazonaws.devopsguru#ReactiveInsight",
          "traits": {
            "smithy.api#documentation": "<p> A <code>ReactiveInsight</code> object that represents the requested insight. </p>"
          }
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeOrganizationHealth": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsguru#DescribeOrganizationHealthRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsguru#DescribeOrganizationHealthResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsguru#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsguru#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsguru#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsguru#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns active insights, predictive insights, and resource hours analyzed in last\n\t\t\thour.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organization/health",
          "code": 200
        }
      }
    },
    "com.amazonaws.devopsguru#DescribeOrganizationHealthRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.devopsguru#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account.</p>"
          }
        },
        "OrganizationalUnitIds": {
          "target": "com.amazonaws.devopsguru#OrganizationalUnitIdList",
          "traits": {
[...]
