{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.devopsagent#AWSConfiguration": {
      "type": "structure",
      "members": {
        "assumableRoleArn": {
          "target": "com.amazonaws.devopsagent#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Role ARN to be assumed by AIDevOps to operate on behalf of customer.</p>",
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>AWS Account Id corresponding to provided resources.</p>",
            "smithy.api#pattern": "^\\d{12}$",
            "smithy.api#required": {}
          }
        },
        "accountType": {
          "target": "com.amazonaws.devopsagent#MonitorAccountType",
          "traits": {
            "smithy.api#documentation": "<p>Account Type 'monitor' for AIDevOps monitoring.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for AWS monitor account integration, allowing AIDevOps to monitor AWS resources.</p>"
      }
    },
    "com.amazonaws.devopsagent#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Detailed error message describing why access was denied.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to the requested resource is denied due to insufficient permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.devopsagent#AdditionalServiceDetails": {
      "type": "union",
      "members": {
        "github": {
          "target": "com.amazonaws.devopsagent#RegisteredGithubServiceDetails",
          "traits": {
            "smithy.api#documentation": "<p>GitHub-specific service details.</p>"
          }
        },
        "slack": {
          "target": "com.amazonaws.devopsagent#RegisteredSlackServiceDetails",
          "traits": {
            "smithy.api#documentation": "<p>Slack-specific service details.</p>"
          }
        },
        "mcpserverdatadog": {
          "target": "com.amazonaws.devopsagent#RegisteredMCPServerDetails",
          "traits": {
            "smithy.api#documentation": "<p>Datadog MCP server-specific service details.</p>"
          }
        },
        "mcpserver": {
          "target": "com.amazonaws.devopsagent#RegisteredMCPServerDetails",
          "traits": {
            "smithy.api#documentation": "<p>MCP server-specific service details.</p>"
          }
        },
        "servicenow": {
          "target": "com.amazonaws.devopsagent#RegisteredServiceNowDetails",
          "traits": {
            "smithy.api#documentation": "<p>ServiceNow-specific service details.</p>"
          }
        },
        "gitlab": {
          "target": "com.amazonaws.devopsagent#RegisteredGitLabServiceDetails",
          "traits": {
            "smithy.api#documentation": "<p>GitLab-specific service details.</p>"
          }
        },
        "mcpserversplunk": {
          "target": "com.amazonaws.devopsagent#RegisteredMCPServerDetails",
          "traits": {
            "smithy.api#documentation": "<p>Splunk MCP server-specific service details.</p>"
          }
        },
        "mcpservernewrelic": {
          "target": "com.amazonaws.devopsagent#RegisteredNewRelicDetails",
          "traits": {
            "smithy.api#documentation": "<p>New Relic MCP server-specific service details.</p>"
          }
        },
        "azuredevops": {
          "target": "com.amazonaws.devopsagent#RegisteredAzureDevOpsServiceDetails",
          "traits": {
            "smithy.api#documentation": "<p>Azure DevOps specific service details.</p>"
          }
        },
        "azureidentity": {
          "target": "com.amazonaws.devopsagent#RegisteredAzureIdentityDetails",
          "traits": {
            "smithy.api#documentation": "<p>Azure identity details for services using Azure authentication.</p>"
          }
        },
        "mcpservergrafana": {
          "target": "com.amazonaws.devopsagent#RegisteredGrafanaServerDetails",
          "traits": {
            "smithy.api#documentation": "<p>Grafana MCP server-specific service details.</p>"
          }
        },
        "pagerduty": {
          "target": "com.amazonaws.devopsagent#RegisteredPagerDutyDetails",
          "traits": {
            "smithy.api#documentation": "<p>Pagerduty service details.</p>"
          }
        },
        "mcpserversigv4": {
          "target": "com.amazonaws.devopsagent#RegisteredMCPServerSigV4Details",
          "traits": {
            "smithy.api#documentation": "<p>SigV4-authenticated MCP server-specific service details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Union of service-specific details for different service types.</p>"
      }
    },
    "com.amazonaws.devopsagent#AdditionalServiceRegistrationStep": {
      "type": "union",
      "members": {
        "oauth": {
          "target": "com.amazonaws.devopsagent#OAuthAdditionalStepDetails",
          "traits": {
            "smithy.api#documentation": "<p>OAuth authorization step required.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional steps required to complete service registration.</p>"
      }
    },
    "com.amazonaws.devopsagent#AgentSpace": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#AgentSpaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AgentSpace.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devopsagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the AgentSpace.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.devopsagent#Locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale for the AgentSpace, which determines the language used in agent responses.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the resource was last updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.devopsagent#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Key Management Service (AWS KMS) customer managed key that's used to encrypt resources.</p>"
          }
        },
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the AgentSpace</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "agentSpaceId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a complete AgentSpace with all its properties, timestamps, encryption settings, and unique identifier.</p>"
      }
    },
    "com.amazonaws.devopsagent#AgentSpaceId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Unique identifier for an agent space (allows alphanumeric characters and hyphens; 1-64 characters)</p>",
        "smithy.api#pattern": "^[a-zA-Z0-9-]{1,64}$"
      }
    },
    "com.amazonaws.devopsagent#AgentSpaceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#AgentSpace"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of AgentSpace resources.</p>"
      }
    },
    "com.amazonaws.devopsagent#AgentSpaceName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Agent space name field</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\p{L}\\p{N}\\p{P}\\p{S}\\p{Z}]+$"
      }
    },
    "com.amazonaws.devopsagent#AgentSpaceResource": {
      "type": "resource",
      "identifiers": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId"
        }
      },
      "properties": {
        "name": {
          "target": "com.amazonaws.devopsagent#AgentSpaceName"
        },
        "description": {
          "target": "com.amazonaws.devopsagent#Description"
        },
        "locale": {
          "target": "com.amazonaws.devopsagent#Locale"
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.devopsagent#KmsKeyArn"
        },
        "createdAt": {
          "target": "smithy.api#Timestamp"
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp"
        }
      },
      "create": {
        "target": "com.amazonaws.devopsagent#CreateAgentSpace"
      },
      "read": {
        "target": "com.amazonaws.devopsagent#GetAgentSpace"
      },
      "update": {
        "target": "com.amazonaws.devopsagent#UpdateAgentSpace"
      },
      "delete": {
        "target": "com.amazonaws.devopsagent#DeleteAgentSpace"
      },
      "operations": [
        {
          "target": "com.amazonaws.devopsagent#DisableOperatorApp"
        },
        {
          "target": "com.amazonaws.devopsagent#EnableOperatorApp"
        },
        {
          "target": "com.amazonaws.devopsagent#GetOperatorApp"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateOperatorAppIdpConfig"
        }
      ],
      "collectionOperations": [
        {
          "target": "com.amazonaws.devopsagent#ListAgentSpaces"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.devopsagent#AssociationResource"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "agentspace/{agentSpaceId}"
        },
        "aws.api#taggable": {
          "property": "tags"
        },
        "smithy.api#documentation": "<p>AgentSpace resource represents an isolated workspace for AI agents to operate within, managing configurations, associations, and access controls.</p>"
      }
    },
    "com.amazonaws.devopsagent#ApiKeyValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>API Key Value for service.</p>",
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#Asset": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this asset</p>",
            "smithy.api#required": {}
          }
        },
        "assetType": {
          "target": "com.amazonaws.devopsagent#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this asset</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>The metadata for this asset</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The version number of this asset</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when this asset was created</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when this asset was last updated</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an asset in an agent space, including its identifier, type, metadata, version, and timestamps.</p>"
      }
    },
    "com.amazonaws.devopsagent#AssetContent": {
      "type": "union",
      "members": {
        "file": {
          "target": "com.amazonaws.devopsagent#AssetFileContent",
          "traits": {
            "smithy.api#documentation": "<p>A single file with path and content</p>"
          }
        },
        "zip": {
          "target": "com.amazonaws.devopsagent#AssetZipContent",
          "traits": {
            "smithy.api#documentation": "<p>A zip file containing multiple files</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Content for an asset, either a single file or a zip bundle</p>"
      }
    },
    "com.amazonaws.devopsagent#AssetFile": {
      "type": "structure",
      "members": {
        "path": {
          "target": "com.amazonaws.devopsagent#AssetFilePath",
          "traits": {
            "smithy.api#documentation": "<p>The path of this file within the asset</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.devopsagent#AssetFileBody",
          "traits": {
            "smithy.api#documentation": "<p>The content of this file</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>The metadata for this file</p>"
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The asset version this file belongs to</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when this file was created</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when this file was last updated</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a single file within an asset, including its path, content, version, and timestamps.</p>"
      }
    },
    "com.amazonaws.devopsagent#AssetFileBody": {
      "type": "union",
      "members": {
        "bytes": {
          "target": "com.amazonaws.devopsagent#AssetFileBytes"
        },
        "text": {
          "target": "com.amazonaws.devopsagent#AssetFileText"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Content of an individual asset file</p>"
      }
    },
    "com.amazonaws.devopsagent#AssetFileBytes": {
      "type": "blob",
      "traits": {
        "smithy.api#documentation": "<p>Binary file content</p>",
        "smithy.api#length": {
          "max": 6291456
        }
      }
    },
    "com.amazonaws.devopsagent#AssetFileContent": {
      "type": "structure",
      "members": {
        "path": {
          "target": "com.amazonaws.devopsagent#AssetFilePath",
          "traits": {
            "smithy.api#documentation": "<p>The path of the file within the asset</p>",
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.amazonaws.devopsagent#AssetFileBody",
          "traits": {
            "smithy.api#documentation": "<p>The file content</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata for this file</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single file with path and content</p>"
      }
    },
    "com.amazonaws.devopsagent#AssetFilePath": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The path of a file within an asset</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_./-]+$"
      }
    },
    "com.amazonaws.devopsagent#AssetFileSummary": {
      "type": "structure",
      "members": {
        "path": {
          "target": "com.amazonaws.devopsagent#AssetFilePath",
          "traits": {
            "smithy.api#documentation": "<p>The path of this file within the asset</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>The metadata for this file</p>"
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The asset version this file belongs to</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when this file was created</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when this file was last updated</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of a file within an asset, including its path, version, and timestamps.</p>"
      }
    },
    "com.amazonaws.devopsagent#AssetFileSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#AssetFileSummary"
      }
    },
    "com.amazonaws.devopsagent#AssetFileText": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Text file content</p>",
        "smithy.api#length": {
          "max": 1572864
        }
      }
    },
    "com.amazonaws.devopsagent#AssetIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of asset identifiers to attach to a message</p>",
        "smithy.api#length": {
          "max": 20
        }
      }
    },
    "com.amazonaws.devopsagent#AssetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#Asset"
      }
    },
    "com.amazonaws.devopsagent#AssetType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The type of asset (e.g. skill, artifact)</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.devopsagent#AssetTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#AssetTypeSummary"
      }
    },
    "com.amazonaws.devopsagent#AssetTypeSummary": {
      "type": "structure",
      "members": {
        "assetType": {
          "target": "com.amazonaws.devopsagent#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The asset type identifier</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the asset type</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1024
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of an asset type, including its identifier and description.</p>"
      }
    },
    "com.amazonaws.devopsagent#AssetVersionMetadata": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The version number of this asset</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when this asset version was created</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when this asset version was last updated</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata for a single version of an asset, including the version number and timestamps.</p>"
      }
    },
    "com.amazonaws.devopsagent#AssetVersionMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#AssetVersionMetadata"
      }
    },
    "com.amazonaws.devopsagent#AssetZipBytes": {
      "type": "blob",
      "traits": {
        "smithy.api#documentation": "<p>Zip file content as bytes</p>",
        "smithy.api#length": {
          "max": 6291456
        }
      }
    },
    "com.amazonaws.devopsagent#AssetZipContent": {
      "type": "structure",
      "members": {
        "zipFile": {
          "target": "com.amazonaws.devopsagent#AssetZipBytes",
          "traits": {
            "smithy.api#documentation": "<p>The zip file bytes</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A zip file containing asset files</p>"
      }
    },
    "com.amazonaws.devopsagent#AssistantMessage": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#AssistantMessageBlock"
      }
    },
    "com.amazonaws.devopsagent#AssistantMessageBlock": {
      "type": "union",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Text content from the assistant.</p>"
          }
        },
        "toolUse": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>Tool use request from the assistant.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A block of content in an assistant message.</p>"
      }
    },
    "com.amazonaws.devopsagent#AssociateService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#AssociateServiceInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#AssociateServiceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to associate service"
        },
        "smithy.api#documentation": "<p>Adds a specific service association to an AgentSpace. It overwrites the existing association of the same service. Returns 201 Created on success.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/agentspaces/{agentSpaceId}/associations",
          "code": 201
        }
      }
    },
    "com.amazonaws.devopsagent#AssociateServiceInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the AgentSpace</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "com.amazonaws.devopsagent#ServiceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the service.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.devopsagent#ServiceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration that directs how AgentSpace interacts with the given service.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for creating a new service association within an AgentSpace.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#AssociateServiceOutput": {
      "type": "structure",
      "members": {
        "association": {
          "target": "com.amazonaws.devopsagent#Association",
          "traits": {
            "smithy.api#nestedProperties": {},
            "smithy.api#required": {}
          }
        },
        "webhook": {
          "target": "com.amazonaws.devopsagent#GenericWebhook",
          "traits": {
            "smithy.api#documentation": "<p>Generic webhook configuration</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output containing the newly created association and optional webhook configuration.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#Association": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the AgentSpace</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the resource was last updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "status": {
          "target": "com.amazonaws.devopsagent#ValidationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Validation status</p>"
          }
        },
        "associationId": {
          "target": "com.amazonaws.devopsagent#AssociationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the given association.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceId": {
          "target": "com.amazonaws.devopsagent#ServiceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for associated service</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.devopsagent#ServiceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration that directs how AgentSpace interacts with the given service.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a service association within an AgentSpace, defining how the agent interacts with external services.</p>"
      }
    },
    "com.amazonaws.devopsagent#AssociationId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Unique identifier for a service association within an AgentSpace</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.devopsagent#AssociationResource": {
      "type": "resource",
      "identifiers": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId"
        },
        "associationId": {
          "target": "com.amazonaws.devopsagent#AssociationId"
        }
      },
      "create": {
        "target": "com.amazonaws.devopsagent#AssociateService"
      },
      "read": {
        "target": "com.amazonaws.devopsagent#GetAssociation"
      },
      "update": {
        "target": "com.amazonaws.devopsagent#UpdateAssociation"
      },
      "delete": {
        "target": "com.amazonaws.devopsagent#DisassociateService"
      },
      "operations": [
        {
          "target": "com.amazonaws.devopsagent#ListWebhooks"
        }
      ],
      "collectionOperations": [
        {
          "target": "com.amazonaws.devopsagent#ListAssociations"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidateAwsAssociations"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "agentspace/{agentSpaceId}/association/{associationId}"
        },
        "smithy.api#documentation": "<p>Association resource represents a connection between an AgentSpace and an external service (e.g., GitHub, Slack, AWS), defining how the agent interacts with that service.</p>"
      }
    },
    "com.amazonaws.devopsagent#AssociationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#Association"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of service associations.</p>"
      }
    },
    "com.amazonaws.devopsagent#AuthFlow": {
      "type": "enum",
      "members": {
        "IAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>IAM-based authentication flow</p>",
            "smithy.api#enumValue": "iam"
          }
        },
        "IDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Identity Center (IdC) authentication flow</p>",
            "smithy.api#enumValue": "idc"
          }
        },
        "IDP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "<p>Identity Provider (IdP) authentication flow</p>",
            "smithy.api#enumValue": "idp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Authentication flow type for operator app.</p>"
      }
    },
    "com.amazonaws.devopsagent#AzureConfiguration": {
      "type": "structure",
      "members": {
        "subscriptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Azure subscription ID corresponding to provided resources.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for Azure subscription integration.</p>"
      }
    },
    "com.amazonaws.devopsagent#AzureDevOpsConfiguration": {
      "type": "structure",
      "members": {
        "organizationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Azure DevOps organization name.</p>",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Azure DevOps project ID.</p>",
            "smithy.api#required": {}
          }
        },
        "projectName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Azure DevOps project name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for Azure DevOps project integration.</p>"
      }
    },
    "com.amazonaws.devopsagent#BackLogTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "<p>Timestamp format used for backlog operations</p>",
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.devopsagent#BacklogTaskDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Description for a backlog task (allows printable ASCII characters, tabs, and newlines; up to 10000 characters)</p>",
        "smithy.api#length": {
          "max": 10000
        }
      }
    },
    "com.amazonaws.devopsagent#BacklogTaskTitle": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Title for a backlog task (allows printable ASCII characters, tabs, and newlines; 1-400 characters)</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 400
        }
      }
    },
    "com.amazonaws.devopsagent#CertificateString": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>String type for certificate or certificate chain.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        }
      }
    },
    "com.amazonaws.devopsagent#ChatExecution": {
      "type": "structure",
      "members": {
        "executionId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the execution</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when the chat was created</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when the chat was last updated</p>"
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Summary or title of the chat</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single chat execution summary</p>"
      }
    },
    "com.amazonaws.devopsagent#ChatExecutionId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Chat execution identifier — must be a valid UUID</p>",
        "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.devopsagent#ChatExecutionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.devopsagent#ChatExecution"
      }
    },
    "com.amazonaws.devopsagent#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Client ID for service authentication.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\u0020-\\u007E]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#ClientSecret": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Client secret for service authentication.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[\\S]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Detailed error message describing the conflict.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request conflicts with the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.devopsagent#ContentSizeExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the content size exceeds the allowed limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 413
      }
    },
    "com.amazonaws.devopsagent#CreateAgentSpace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreateAgentSpaceInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreateAgentSpaceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.devopsagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create agentspace"
        },
        "smithy.api#documentation": "<p>Creates a new AgentSpace with the specified name and description. Duplicate space names are allowed.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/agentspaces",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#CreateAgentSpaceInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#AgentSpaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AgentSpace.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devopsagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the AgentSpace.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.devopsagent#Locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale for the AgentSpace, which determines the language used in agent responses.</p>"
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.devopsagent#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Key Management Service (AWS KMS) customer managed key that's used to encrypt resources.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Client-provided token to ensure request idempotency. When the same token is provided in subsequent calls, the same response is returned within a 8-hour window.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "max": 64
            },
            "smithy.api#pattern": "^[!-~]+$"
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags to add to the AgentSpace at creation time.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for creating a new AgentSpace.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreateAgentSpaceOutput": {
      "type": "structure",
      "members": {
        "agentSpace": {
          "target": "com.amazonaws.devopsagent#AgentSpace",
          "traits": {
            "smithy.api#nestedProperties": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the created AgentSpace.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output containing the newly created AgentSpace.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#CreateAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreateAssetRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreateAssetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create an asset",
          "resources": {
            "required": {
              "AgentSpaceResource": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Creates a new asset in the specified agent space</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/asset/agent-space/{agentSpaceId}/assets"
        }
      }
    },
    "com.amazonaws.devopsagent#CreateAssetFile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreateAssetFileRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreateAssetFileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#ContentSizeExceededException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create an asset file",
          "resources": {
            "required": {
              "AgentSpaceResource": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Creates a file in an asset</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/asset/agent-space/{agentSpaceId}/assets/{assetId}/files/{path+}"
        }
      }
    },
    "com.amazonaws.devopsagent#CreateAssetFileRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the agent space containing the asset</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the asset to create the file in</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.amazonaws.devopsagent#AssetFilePath",
          "traits": {
            "smithy.api#documentation": "<p>The path of the file within the asset</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.devopsagent#AssetFileBody",
          "traits": {
            "smithy.api#documentation": "<p>The content of the file to create</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata describing this file</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier used for idempotent asset file creation</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "min": 1,
              "max": 128
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request structure for creating an asset file</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreateAssetFileResponse": {
      "type": "structure",
      "members": {
        "file": {
          "target": "com.amazonaws.devopsagent#AssetFile",
          "traits": {
            "smithy.api#documentation": "<p>The asset file object</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response structure for creating an asset file</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#CreateAssetRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the agent space where the asset will be created</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "assetType": {
          "target": "com.amazonaws.devopsagent#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of asset to create</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>The metadata describing this asset</p>"
          }
        },
        "content": {
          "target": "com.amazonaws.devopsagent#AssetContent",
          "traits": {
            "smithy.api#documentation": "<p>The content for the asset. Provide a single file or a zip bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier used for idempotent asset creation</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "min": 1,
              "max": 128
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request structure for creating a new asset</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreateAssetResponse": {
      "type": "structure",
      "members": {
        "asset": {
          "target": "com.amazonaws.devopsagent#Asset",
          "traits": {
            "smithy.api#documentation": "<p>The asset object</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response structure for creating a new asset</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#CreateBacklogTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreateBacklogTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreateBacklogTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a new backlog task",
          "resources": {
            "required": {
              "AgentSpaceResource": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Creates a new backlog task in the specified agent space</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/backlog/agent-space/{agentSpaceId}/tasks"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#CreateBacklogTaskRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the agent space where the task will be created</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "reference": {
          "target": "com.amazonaws.devopsagent#ReferenceInput",
          "traits": {
            "smithy.api#documentation": "<p>Optional reference information for the task</p>"
          }
        },
        "taskType": {
          "target": "com.amazonaws.devopsagent#TaskType",
          "traits": {
            "smithy.api#documentation": "<p>The type of task being created</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.devopsagent#BacklogTaskTitle",
          "traits": {
            "smithy.api#documentation": "<p>The title of the backlog task</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devopsagent#BacklogTaskDescription",
          "traits": {
            "smithy.api#documentation": "<p>Optional detailed description of the task</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.devopsagent#Priority",
          "traits": {
            "smithy.api#documentation": "<p>The priority level of the task</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Client-provided token for idempotent operations</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request structure for creating a new backlog task</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreateBacklogTaskResponse": {
      "type": "structure",
      "members": {
        "task": {
          "target": "com.amazonaws.devopsagent#Task",
          "traits": {
            "smithy.api#documentation": "<p>The newly created task object</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response structure containing the created backlog task</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#CreateChat": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreateChatRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreateChatResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a chat"
        },
        "smithy.api#documentation": "<p>Creates a new chat execution in the specified agent space</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/agents/agent-space/{agentSpaceId}/chat/create"
        }
      }
    },
    "com.amazonaws.devopsagent#CreateChatRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#deprecated": {
              "message": "userId is managed by the service and should not be provided by the caller",
              "since": "2026-04-15"
            },
            "smithy.api#documentation": "<p>The user identifier for the chat. This field is deprecated and will be ignored — the service resolves user identity from the authenticated session.</p>",
            "smithy.api#httpQuery": "userId"
          }
        },
        "userType": {
          "target": "com.amazonaws.devopsagent#UserType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type of the user</p>",
            "smithy.api#httpQuery": "userType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request structure for creating a new chat</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreateChatResponse": {
      "type": "structure",
      "members": {
        "executionId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the created execution</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp when the chat was created</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response structure for creating a new chat</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#CreatePrivateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreatePrivateConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreatePrivateConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a private connection"
        },
        "smithy.api#documentation": "<p>Creates a Private Connection to a target resource.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/private-connections",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#CreatePrivateConnectionInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>Unique name for this Private Connection within the account.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        },
        "mode": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionMode",
          "traits": {
            "smithy.api#documentation": "<p>Private Connection mode configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags to add to the Private Connection at creation time.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for creating a new Private Connection.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreatePrivateConnectionOutput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Private Connection.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        },
        "type": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the Private Connection.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceGatewayId": {
          "target": "com.amazonaws.devopsagent#ResourceGatewayArn",
          "traits": {
            "smithy.api#documentation": "<p>The service-managed Resource Gateway ARN. Only present for service-managed Private Connections.</p>"
          }
        },
        "hostAddress": {
          "target": "com.amazonaws.devopsagent#IpAddressOrDnsName",
          "traits": {
            "smithy.api#documentation": "<p>IP address or DNS name of the target resource. Only present for service-managed Private Connections.</p>"
          }
        },
        "vpcId": {
          "target": "com.amazonaws.devopsagent#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>VPC identifier of the service-managed Resource Gateway. Only present for service-managed Private Connections.</p>"
          }
        },
        "resourceConfigurationId": {
          "target": "com.amazonaws.devopsagent#ResourceConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Resource Configuration ARN. Only present for self-managed Private Connections.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Private Connection.</p>",
            "smithy.api#required": {}
          }
        },
        "certificateExpiryTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The expiry time of the certificate associated with the Private Connection. Only present when a certificate is associated.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "dnsResolution": {
          "target": "com.amazonaws.devopsagent#ResourceConfigDnsResolution",
          "traits": {
            "smithy.api#documentation": "<p>DNS resolution mode for the Private Connection's resource gateway.</p>"
          }
        },
        "failureMessage": {
          "target": "com.amazonaws.devopsagent#FailureMessage",
          "traits": {
            "smithy.api#documentation": "<p>Message describing the reason for a failed Private Connection creation, if applicable.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the created Private Connection.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output containing the newly created Private Connection summary.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#CreateTrigger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#CreateTriggerRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#CreateTriggerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a Trigger",
          "resources": {
            "required": {
              "AgentSpaceResource": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Creates a new Trigger in the specified agent space</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/trigger/agent-space/{agentSpaceId}/triggers"
        }
      }
    },
    "com.amazonaws.devopsagent#CreateTriggerRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.devopsagent#TriggerType",
          "traits": {
            "smithy.api#documentation": "<p>How the new Trigger fires</p>",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.amazonaws.devopsagent#TriggerCondition",
          "traits": {
            "smithy.api#documentation": "<p>The condition that fires the new Trigger</p>",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.amazonaws.devopsagent#TriggerAction",
          "traits": {
            "smithy.api#documentation": "<p>The action the new Trigger performs when it fires</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.devopsagent#TriggerStatus",
          "traits": {
            "smithy.api#documentation": "<p>The initial status of the Trigger</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier used for idempotent Trigger creation</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "min": 1,
              "max": 128
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#CreateTriggerResponse": {
      "type": "structure",
      "members": {
        "trigger": {
          "target": "com.amazonaws.devopsagent#Trigger",
          "traits": {
            "smithy.api#documentation": "<p>The Trigger object</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#CustomHeaderName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>HTTP header name. Allows alphanumeric characters, hyphens, and underscores.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]+$"
      }
    },
    "com.amazonaws.devopsagent#CustomHeaderValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Value type for custom headers.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^[!-~]([ \\t]*[!-~])*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#CustomHeaders": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.devopsagent#CustomHeaderName"
      },
      "value": {
        "target": "com.amazonaws.devopsagent#CustomHeaderValue"
      },
      "traits": {
        "smithy.api#documentation": "<p>Custom headers map.</p>",
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.devopsagent#DatadogAuthorizationConfig": {
      "type": "union",
      "members": {
        "authorizationDiscovery": {
          "target": "com.amazonaws.devopsagent#MCPServerAuthorizationDiscoveryConfig",
          "traits": {
            "smithy.api#documentation": "<p>Datadog MCP server authorization discovery configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Authorization configuration for Datadog MCP server (uses authorization discovery only).</p>"
      }
    },
    "com.amazonaws.devopsagent#DatadogServiceDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#MCPServerName",
          "traits": {
            "smithy.api#documentation": "<p>MCP server name.</p>",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "com.amazonaws.devopsagent#MCPServerEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>MCP server endpoint URL.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.devopsagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>Optional description for the MCP server.</p>",
            "smithy.api#length": {
              "max": 500
            }
          }
        },
        "authorizationConfig": {
          "target": "com.amazonaws.devopsagent#DatadogAuthorizationConfig",
          "traits": {
            "smithy.api#documentation": "<p>Datadog MCP server authorization configuration (only authorization discovery is supported).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Complete service details for Datadog MCP server integration.</p>"
      }
    },
    "com.amazonaws.devopsagent#DateTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.devopsagent#DeleteAgentSpace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DeleteAgentSpaceInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DeleteAgentSpaceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete agentspace"
        },
        "smithy.api#documentation": "<p>Deletes an AgentSpace. This operation is idempotent and returns a 204 No Content response on success.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/agentspaces/{agentSpaceId}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteAgentSpaceInput": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the AgentSpace</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for deleting an AgentSpace.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteAgentSpaceOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Empty output for successful AgentSpace deletion.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DeleteAssetRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DeleteAssetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an asset",
          "resources": {
            "required": {
              "AgentSpaceResource": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes an asset and all its files from the specified agent space</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/asset/agent-space/{agentSpaceId}/assets/{assetId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteAssetFile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DeleteAssetFileRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DeleteAssetFileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an asset file",
          "resources": {
            "required": {
              "AgentSpaceResource": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a file from an asset</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/asset/agent-space/{agentSpaceId}/assets/{assetId}/files/{path+}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteAssetFileRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the agent space containing the asset</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the asset containing the file</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.amazonaws.devopsagent#AssetFilePath",
          "traits": {
            "smithy.api#documentation": "<p>The path of the file within the asset to delete</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request structure for deleting an asset file</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteAssetFileResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Response structure for deleting an asset file</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteAssetRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the agent space containing the asset</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the asset to delete</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request structure for deleting an asset</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteAssetResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Response structure for deleting an asset</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DeletePrivateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DeletePrivateConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DeletePrivateConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a private connection"
        },
        "smithy.api#documentation": "<p>Deletes a Private Connection. The deletion is asynchronous and returns DELETE_IN_PROGRESS status.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/private-connections/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#DeletePrivateConnectionInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Private Connection.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for deleting an existing Private Connection.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DeletePrivateConnectionOutput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Private Connection.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Private Connection.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output containing the status of the Private Connection deletion.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteTrigger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DeleteTriggerRequest"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DeleteTriggerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a Trigger",
          "resources": {
            "required": {
              "AgentSpaceResource": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a Trigger from the specified agent space</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "dp."
        },
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/trigger/agent-space/{agentSpaceId}/triggers/{triggerId}"
        }
      }
    },
    "com.amazonaws.devopsagent#DeleteTriggerRequest": {
      "type": "structure",
      "members": {
        "agentSpaceId": {
          "target": "com.amazonaws.devopsagent#AgentSpaceId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "triggerId": {
          "target": "com.amazonaws.devopsagent#ResourceId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DeleteTriggerResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DeregisterService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DeregisterServiceInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DeregisterServiceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregister a service</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/services/{serviceId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.devopsagent#DeregisterServiceInput": {
      "type": "structure",
      "members": {
        "serviceId": {
          "target": "com.amazonaws.devopsagent#ServiceId",
          "traits": {
            "smithy.api#documentation": "<p>The service id to deregister. A service can only be deregistered if it is not associated with any AgentSpace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "serviceId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for deregistering a service.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DeregisterServiceOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Empty output for successful service deregistration.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#DescribePrivateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.devopsagent#DescribePrivateConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.devopsagent#DescribePrivateConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.devopsagent#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to describe a private connection"
        },
        "smithy.api#documentation": "<p>Retrieves details of an existing Private Connection.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/private-connections/{name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.devopsagent#DescribePrivateConnectionInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Private Connection.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for describing an existing Private Connection.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.devopsagent#DescribePrivateConnectionOutput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Private Connection.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "name"
          }
        },
        "type": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the Private Connection.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceGatewayId": {
          "target": "com.amazonaws.devopsagent#ResourceGatewayArn",
          "traits": {
            "smithy.api#documentation": "<p>The service-managed Resource Gateway ARN. Only present for service-managed Private Connections.</p>"
          }
        },
        "hostAddress": {
          "target": "com.amazonaws.devopsagent#IpAddressOrDnsName",
          "traits": {
            "smithy.api#documentation": "<p>IP address or DNS name of the target resource. Only present for service-managed Private Connections.</p>"
          }
        },
        "vpcId": {
          "target": "com.amazonaws.devopsagent#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>VPC identifier of the service-managed Resource Gateway. Only present for service-managed Private Connections.</p>"
          }
        },
        "resourceConfigurationId": {
          "target": "com.amazonaws.devopsagent#ResourceConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Resource Configuration ARN. Only present for self-managed Private Connections.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.devopsagent#PrivateConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Private Connection.</p>",
            "smithy.api#required": {}
          }
        },
        "certificateExpiryTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The expiry time of the certificate associated with the Private Connection. Only present when a certificate is associated.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "dnsResolution": {
          "target": "com.amazonaws.devopsagent#ResourceConfigDnsResolution",
          "traits": {
            "smithy.api#documentation": "<p>DNS resolution mode for the Private Connection's resource gateway.</p>"
          }
        },
        "failureMessage": {
          "target": "com.amazonaws.devopsagent#FailureMessage",
          "traits": {
            "smithy.api#documentation": "<p>Message describing the reason for a failed Private Connection, if applicable.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.devopsagent#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the Private Connection.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output containing the Private Connection details.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.devopsagent#Description": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Description field</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\p{L}\\p{N}\\p{P}\\p{S}\\p{Z}]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.devopsagent#DevOpsAgent": {
      "type": "service",
      "version": "2026-01-01",
      "operations": [
        {
          "target": "com.amazonaws.devopsagent#CreateAsset"
        },
        {
          "target": "com.amazonaws.devopsagent#CreateAssetFile"
        },
        {
          "target": "com.amazonaws.devopsagent#CreateBacklogTask"
        },
        {
          "target": "com.amazonaws.devopsagent#CreateChat"
        },
        {
          "target": "com.amazonaws.devopsagent#CreateTrigger"
        },
        {
          "target": "com.amazonaws.devopsagent#DeleteAsset"
        },
        {
          "target": "com.amazonaws.devopsagent#DeleteAssetFile"
        },
        {
          "target": "com.amazonaws.devopsagent#DeleteTrigger"
        },
        {
          "target": "com.amazonaws.devopsagent#GetAccountUsage"
        },
        {
          "target": "com.amazonaws.devopsagent#GetAsset"
        },
        {
          "target": "com.amazonaws.devopsagent#GetAssetContent"
        },
        {
          "target": "com.amazonaws.devopsagent#GetAssetFile"
        },
        {
          "target": "com.amazonaws.devopsagent#GetBacklogTask"
        },
        {
          "target": "com.amazonaws.devopsagent#GetRecommendation"
        },
        {
          "target": "com.amazonaws.devopsagent#GetTrigger"
        },
        {
          "target": "com.amazonaws.devopsagent#ListAssetFiles"
        },
        {
          "target": "com.amazonaws.devopsagent#ListAssets"
        },
        {
          "target": "com.amazonaws.devopsagent#ListAssetTypes"
        },
        {
          "target": "com.amazonaws.devopsagent#ListAssetVersions"
        },
        {
          "target": "com.amazonaws.devopsagent#ListBacklogTasks"
        },
        {
          "target": "com.amazonaws.devopsagent#ListChats"
        },
        {
          "target": "com.amazonaws.devopsagent#ListExecutions"
        },
        {
          "target": "com.amazonaws.devopsagent#ListGoals"
        },
        {
          "target": "com.amazonaws.devopsagent#ListJournalRecords"
        },
        {
          "target": "com.amazonaws.devopsagent#ListPendingMessages"
        },
        {
          "target": "com.amazonaws.devopsagent#ListRecommendations"
        },
        {
          "target": "com.amazonaws.devopsagent#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.devopsagent#ListTriggers"
        },
        {
          "target": "com.amazonaws.devopsagent#SendMessage"
        },
        {
          "target": "com.amazonaws.devopsagent#TagResource"
        },
        {
          "target": "com.amazonaws.devopsagent#UntagResource"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateAsset"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateAssetFile"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateBacklogTask"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateGoal"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateRecommendation"
        },
        {
          "target": "com.amazonaws.devopsagent#UpdateTrigger"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.devopsagent#AgentSpaceResource"
        },
        {
          "target": "com.amazonaws.devopsagent#PrivateConnectionResource"
        },
        {
          "target": "com.amazonaws.devopsagent#ServiceResource"
        }
      ],
      "errors": [
        {
          "target": "com.amazonaws.devopsagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.devopsagent#ConflictException"
        },
        {
          "target": "com.amazonaws.devopsagent#ContentSizeExceededException"
        },
        {
          "target": "com.amazonaws.devopsagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.devopsagent#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.devopsagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.devopsagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.devopsagent#ThrottlingException"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DevOps Agent",
          "arnNamespace": "aidevops",
          "endpointPrefix": "aidevops",
          "cloudTrailEventSource": "aidevops.amazonaws.com"
        },
        "aws.api#tagEnabled": {
          "tagOnCreate": true
        },
        "aws.auth#sigv4": {
          "name": "aidevops"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardRegionalEndpoints": {},
        "aws.iam#defineConditionKeys": {
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by the tags that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by tags associated with the resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by the tag keys that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          }
        },
        "aws.iam#supportedPrincipalTypes": [
          "Root",
          "IAMUser",
          "IAMRole",
          "FederatedUser",
          "Root",
          "IAMUser",
          "IAMRole",
          "FederatedUser"
        ],
        "aws.protocols#restJson1": {
          "http": ["http/1.1"],
          "eventStreamHttp": ["http/1.1"]
        },
        "smithy.api#documentation": "<p>AWS DevOps Agent is your always-available operations teammate. It resolves and proactively prevents incidents, optimizes application reliability and performance, and handles on-demand SRE tasks across AWS, multicloud, and on-premises environments. AWS DevOps Agent investigates incidents as an experienced DevOps engineer would. It learns your applications and their relationships. It works with your observability tools, runbooks, code repositories, and CI/CD pipelines. The agent correlates telemetry, code, and deployment data across all of them.</p>",
        "smithy.api#title": "AWS DevOps Agent Service",
        "smithy.rules#endpointBdd": {
          "version": "1.1",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
          },
          "conditions": [
            {
              "fn": "isSet",
              "argv": [
                {
                  "ref": "Endpoint"
                }
              ]
            },
            {
              "fn": "isSet",
              "argv": [
                {
                  "ref": "Region"
                }
              ]
            },
            {
              "fn": "aws.partition",
              "argv": [
                {
                  "ref": "Region"
                }
              ],
              "assign": "PartitionResult"
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "ref": "UseFIPS"
                },
                true
              ]
            }
          ],
          "results": [
            {
              "conditions": [],
              "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": {
                  "ref": "Endpoint"
                },
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://aidevops-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://aidevops.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "root": 2,
          "nodeCount": 6,
          "nodes": "/////wAAAAH/////AAAAAAAAAAYAAAADAAAAAQAAAAQF9eEFAAAAAgAAAAUF9eEFAAAAAwX14QMF9eEEAAAAAwX14QEF9eEC"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
[...]
