{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.directoryservice#AcceptSharedDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#AcceptSharedDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#AcceptSharedDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryAlreadySharedException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a directory sharing request that was sent from the directory owner account.</p>"
      }
    },
    "com.amazonaws.directoryservice#AcceptSharedDirectoryRequest": {
      "type": "structure",
      "members": {
        "SharedDirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the shared directory in the directory consumer account. This identifier is\n      different for each directory owner account. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directoryservice#AcceptSharedDirectoryResult": {
      "type": "structure",
      "members": {
        "SharedDirectory": {
          "target": "com.amazonaws.directoryservice#SharedDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The shared directory in the directory consumer account.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Client authentication is not available in this region at this time.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice#AccessUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.directoryservice#AddIpRoutes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#AddIpRoutesRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#AddIpRoutesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#IpRouteLimitExceededException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>If the DNS server for your self-managed domain uses a publicly addressable IP address,\n         you must add a CIDR address block to correctly route traffic to and from your Microsoft AD\n         on Amazon Web Services. <i>AddIpRoutes</i> adds this address block. You can\n         also use <i>AddIpRoutes</i> to facilitate routing traffic that uses public IP\n         ranges from your Microsoft AD on Amazon Web Services to a peer VPC. </p>\n         <p>Before you call <i>AddIpRoutes</i>, ensure that all of the required\n         permissions have been explicitly granted through a policy. For details about what\n         permissions are required to run the <i>AddIpRoutes</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
      }
    },
    "com.amazonaws.directoryservice#AddIpRoutesRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier (ID) of the directory to which to add the address block.</p>",
            "smithy.api#required": {}
          }
        },
        "IpRoutes": {
          "target": "com.amazonaws.directoryservice#IpRoutes",
          "traits": {
            "smithy.api#documentation": "<p>IP address blocks, using CIDR format, of the traffic to route. This is often the IP\n         address block of the DNS server used for your self-managed domain.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdateSecurityGroupForDirectoryControllers": {
          "target": "com.amazonaws.directoryservice#UpdateSecurityGroupForDirectoryControllers",
          "traits": {
            "smithy.api#documentation": "<p>If set to true, updates the inbound and outbound rules of the security group that has\n         the description: \"Amazon Web Services created security group for <i>directory ID</i>\n         directory controllers.\" Following are the new rules: </p>\n         <p>Inbound:</p>\n         <ul>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 88, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 123, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 138, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 389, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 464, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom UDP Rule, Protocol: UDP, Range: 445, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 88, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 135, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 445, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 464, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 636, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 1024-65535, Source:\n               0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: Custom TCP Rule, Protocol: TCP, Range: 3268-33269, Source:\n               0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: DNS (UDP), Protocol: UDP, Range: 53, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: DNS (TCP), Protocol: TCP, Range: 53, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: LDAP, Protocol: TCP, Range: 389, Source: 0.0.0.0/0</p>\n            </li>\n            <li>\n               <p>Type: All ICMP, Protocol: All, Range: N/A, Source: 0.0.0.0/0</p>\n            </li>\n         </ul>\n\n         <p></p>\n         <p>Outbound:</p>\n         <ul>\n            <li>\n               <p>Type: All traffic, Protocol: All, Range: All, Destination: 0.0.0.0/0</p>\n            </li>\n         </ul>\n         <p>These security rules impact an internal network interface that is not exposed\n         publicly.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice#AddIpRoutesResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.directoryservice#AddRegion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#AddRegionRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#AddRegionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryAlreadyInRegionException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#RegionLimitExceededException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds two domain controllers in the specified Region for the specified directory.</p>"
      }
    },
    "com.amazonaws.directoryservice#AddRegionRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory to which you want to add Region replication.</p>",
            "smithy.api#required": {}
          }
        },
        "RegionName": {
          "target": "com.amazonaws.directoryservice#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Region where you want to add domain controllers for replication. For\n      example, <code>us-east-1</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "VPCSettings": {
          "target": "com.amazonaws.directoryservice#DirectoryVpcSettings",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directoryservice#AddRegionResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.directoryservice#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#AddTagsToResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#AddTagsToResourceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#TagLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or overwrites one or more tags for the specified directory. Each directory can\n      have a maximum of 50 tags. Each tag consists of a key and optional value. Tag keys must be\n      unique to each resource.</p>"
      }
    },
    "com.amazonaws.directoryservice#AddTagsToResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.directoryservice#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier (ID) for the directory to which to add the tag.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.directoryservice#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the directory.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directoryservice#AddTagsToResourceResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.directoryservice#AddedDateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.directoryservice#AdditionalRegions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice#RegionName"
      }
    },
    "com.amazonaws.directoryservice#AliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 62
        },
        "smithy.api#pattern": "^(?!D-|d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*$"
      }
    },
    "com.amazonaws.directoryservice#Attribute": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.directoryservice#AttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.directoryservice#AttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a named directory attribute.</p>"
      }
    },
    "com.amazonaws.directoryservice#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.directoryservice#AttributeValue": {
      "type": "string"
    },
    "com.amazonaws.directoryservice#Attributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice#Attribute"
      }
    },
    "com.amazonaws.directoryservice#AuthenticationFailedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The textual message for the exception.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the request that caused the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An authentication error occurred.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice#AvailabilityZone": {
      "type": "string"
    },
    "com.amazonaws.directoryservice#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice#AvailabilityZone"
      }
    },
    "com.amazonaws.directoryservice#CancelSchemaExtension": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#CancelSchemaExtensionRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#CancelSchemaExtensionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an in-progress schema extension to a Microsoft AD directory. Once a schema\n      extension has started replicating to all domain controllers, the task can no longer be\n      canceled. A schema extension can be canceled during any of the following states;\n        <code>Initializing</code>, <code>CreatingSnapshot</code>, and\n      <code>UpdatingSchema</code>.</p>"
      }
    },
    "com.amazonaws.directoryservice#CancelSchemaExtensionRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory whose schema extension will be canceled.</p>",
            "smithy.api#required": {}
          }
        },
        "SchemaExtensionId": {
          "target": "com.amazonaws.directoryservice#SchemaExtensionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the schema extension that will be canceled.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directoryservice#CancelSchemaExtensionResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.directoryservice#Certificate": {
      "type": "structure",
      "members": {
        "CertificateId": {
          "target": "com.amazonaws.directoryservice#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the certificate.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.directoryservice#CertificateState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the certificate.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.directoryservice#CertificateStateReason",
          "traits": {
            "smithy.api#documentation": "<p>Describes a state change for the certificate.</p>"
          }
        },
        "CommonName": {
          "target": "com.amazonaws.directoryservice#CertificateCN",
          "traits": {
            "smithy.api#documentation": "<p>The common name for the certificate.</p>"
          }
        },
        "RegisteredDateTime": {
          "target": "com.amazonaws.directoryservice#CertificateRegisteredDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the certificate was registered.</p>"
          }
        },
        "ExpiryDateTime": {
          "target": "com.amazonaws.directoryservice#CertificateExpiryDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the certificate will expire.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.directoryservice#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The function that the registered certificate performs. Valid values include <code>ClientLDAPS</code> or <code>ClientCertAuth</code>. The default value is <code>ClientLDAPS</code>.</p>"
          }
        },
        "ClientCertAuthSettings": {
          "target": "com.amazonaws.directoryservice#ClientCertAuthSettings",
          "traits": {
            "smithy.api#documentation": "<p>A <code>ClientCertAuthSettings</code> object that contains client certificate authentication settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the certificate.</p>"
      }
    },
    "com.amazonaws.directoryservice#CertificateAlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate has already been registered into the system.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice#CertificateCN": {
      "type": "string"
    },
    "com.amazonaws.directoryservice#CertificateData": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8192
        }
      }
    },
    "com.amazonaws.directoryservice#CertificateDoesNotExistException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate is not present in the system for describe or deregister activities.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice#CertificateExpiryDateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.directoryservice#CertificateId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^c-[0-9a-f]{10}$"
      }
    },
    "com.amazonaws.directoryservice#CertificateInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate is being used for the LDAP security connection and cannot be removed\n      without disabling LDAP security.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice#CertificateInfo": {
      "type": "structure",
      "members": {
        "CertificateId": {
          "target": "com.amazonaws.directoryservice#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the certificate.</p>"
          }
        },
        "CommonName": {
          "target": "com.amazonaws.directoryservice#CertificateCN",
          "traits": {
            "smithy.api#documentation": "<p>The common name for the certificate.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.directoryservice#CertificateState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the certificate.</p>"
          }
        },
        "ExpiryDateTime": {
          "target": "com.amazonaws.directoryservice#CertificateExpiryDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the certificate will expire.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.directoryservice#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The function that the registered certificate performs. Valid values include <code>ClientLDAPS</code> or <code>ClientCertAuth</code>. The default value is <code>ClientLDAPS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains general information about a certificate.</p>"
      }
    },
    "com.amazonaws.directoryservice#CertificateLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate could not be added because the certificate limit has been reached.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice#CertificateRegisteredDateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.directoryservice#CertificateState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Registering",
            "name": "REGISTERING"
          },
          {
            "value": "Registered",
            "name": "REGISTERED"
          },
          {
            "value": "RegisterFailed",
            "name": "REGISTER_FAILED"
          },
          {
            "value": "Deregistering",
            "name": "DEREGISTERING"
          },
          {
            "value": "Deregistered",
            "name": "DEREGISTERED"
          },
          {
            "value": "DeregisterFailed",
            "name": "DEREGISTER_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.directoryservice#CertificateStateReason": {
      "type": "string"
    },
    "com.amazonaws.directoryservice#CertificateType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ClientCertAuth",
            "name": "CLIENT_CERT_AUTH"
          },
          {
            "value": "ClientLDAPS",
            "name": "CLIENT_LDAPS"
          }
        ]
      }
    },
    "com.amazonaws.directoryservice#CertificatesInfo": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice#CertificateInfo"
      }
    },
    "com.amazonaws.directoryservice#CidrIp": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/([1-9]|[1-2][0-9]|3[0-2]))$"
      }
    },
    "com.amazonaws.directoryservice#CidrIps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice#CidrIp"
      }
    },
    "com.amazonaws.directoryservice#ClientAuthenticationSettingInfo": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.directoryservice#ClientAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of client authentication for the specified directory. If no type is specified, a list of all client authentication types that are supported for the directory is retrieved. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.directoryservice#ClientAuthenticationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Whether the client authentication type is enabled or disabled for the specified directory.</p>"
          }
        },
        "LastUpdatedDateTime": {
          "target": "com.amazonaws.directoryservice#LastUpdatedDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the status of the client authentication type was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a client authentication method for a directory.</p>"
      }
    },
    "com.amazonaws.directoryservice#ClientAuthenticationSettingsInfo": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice#ClientAuthenticationSettingInfo"
      }
    },
    "com.amazonaws.directoryservice#ClientAuthenticationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Enabled",
            "name": "ENABLED"
          },
          {
            "value": "Disabled",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.directoryservice#ClientAuthenticationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SmartCard",
            "name": "SMART_CARD"
          }
        ]
      }
    },
    "com.amazonaws.directoryservice#ClientCertAuthSettings": {
      "type": "structure",
      "members": {
        "OCSPUrl": {
          "target": "com.amazonaws.directoryservice#OCSPUrl",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the URL of the default OCSP server used to check for revocation status. A secondary value to any OCSP address found in the AIA extension of the user certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the client certificate authentication settings for the <code>RegisterCertificate</code> and <code>DescribeCertificate</code> operations. </p>"
      }
    },
    "com.amazonaws.directoryservice#ClientException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.directoryservice#ExceptionMessage"
        },
        "RequestId": {
          "target": "com.amazonaws.directoryservice#RequestId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A client exception has occurred.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.directoryservice#CloudOnlyDirectoriesLimitReached": {
      "type": "boolean"
    },
    "com.amazonaws.directoryservice#Computer": {
      "type": "structure",
      "members": {
        "ComputerId": {
          "target": "com.amazonaws.directoryservice#SID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the computer.</p>"
          }
        },
        "ComputerName": {
          "target": "com.amazonaws.directoryservice#ComputerName",
          "traits": {
            "smithy.api#documentation": "<p>The computer name.</p>"
          }
        },
        "ComputerAttributes": {
          "target": "com.amazonaws.directoryservice#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>An array of <a>Attribute</a> objects containing the LDAP attributes that belong to the\n            computer account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a computer account in a directory.</p>"
      }
    },
    "com.amazonaws.directoryservice#ComputerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 15
        }
      }
    },
    "com.amazonaws.directoryservice#ComputerPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 64
        },
        "smithy.api#pattern": "^[\\u0020-\\u00FF]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.directoryservice#ConditionalForwarder": {
      "type": "structure",
      "members": {
        "RemoteDomainName": {
          "target": "com.amazonaws.directoryservice#RemoteDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name (FQDN) of the remote domains pointed to by the\n      conditional forwarder.</p>"
          }
        },
        "DnsIpAddrs": {
          "target": "com.amazonaws.directoryservice#DnsIpAddrs",
          "traits": {
            "smithy.api#documentation": "<p>The IP addresses of the remote DNS server associated with RemoteDomainName. This is the\n      IP address of the DNS server that your conditional forwarder points to.</p>"
          }
        },
        "ReplicationScope": {
          "target": "com.amazonaws.directoryservice#ReplicationScope",
          "traits": {
            "smithy.api#documentation": "<p>The replication scope of the conditional forwarder. The only allowed value is\n        <code>Domain</code>, which will replicate the conditional forwarder to all of the domain\n      controllers for your Amazon Web Services directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Points to a remote domain with which you are setting up a trust relationship.\n      Conditional forwarders are required in order to set up a trust relationship with another\n      domain.</p>"
      }
    },
    "com.amazonaws.directoryservice#ConditionalForwarders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directoryservice#ConditionalForwarder"
      }
    },
    "com.amazonaws.directoryservice#ConnectDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#ConnectDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#ConnectDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryLimitExceededException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AD Connector to connect to a self-managed directory.</p>\n         <p>Before you call <code>ConnectDirectory</code>, ensure that all of the required permissions\n      have been explicitly granted through a policy. For details about what permissions are required\n      to run the <code>ConnectDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">Directory Service API Permissions: Actions, Resources, and Conditions\n      Reference</a>.</p>"
      }
    },
    "com.amazonaws.directoryservice#ConnectDirectoryRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.directoryservice#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name of your self-managed directory, such as\n        <code>corp.example.com</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ShortName": {
          "target": "com.amazonaws.directoryservice#DirectoryShortName",
          "traits": {
            "smithy.api#documentation": "<p>The NetBIOS name of your self-managed directory, such as <code>CORP</code>.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.directoryservice#ConnectPassword",
          "traits": {
            "smithy.api#documentation": "<p>The password for your self-managed user account.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.directoryservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the directory.</p>"
          }
        },
        "Size": {
          "target": "com.amazonaws.directoryservice#DirectorySize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the directory.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectSettings": {
          "target": "com.amazonaws.directoryservice#DirectoryConnectSettings",
          "traits": {
            "smithy.api#documentation": "<p>A <a>DirectoryConnectSettings</a> object that contains additional information\n      for the operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.directoryservice#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to AD Connector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>ConnectDirectory</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#ConnectDirectoryResult": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>ConnectDirectory</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#ConnectPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.directoryservice#ConnectedDirectoriesLimitReached": {
      "type": "boolean"
    },
    "com.amazonaws.directoryservice#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#CreateAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#CreateAliasResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an alias for a directory and assigns the alias to the directory. The alias is used\n         to construct the access URL for the directory, such as\n            <code>http://<alias>.awsapps.com</code>.</p>\n         <important>\n            <p>After an alias has been created, it cannot be deleted or reused, so this operation should only be used when absolutely necessary.</p>\n         </important>"
      }
    },
    "com.amazonaws.directoryservice#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory for which to create the alias.</p>",
            "smithy.api#required": {}
          }
        },
        "Alias": {
          "target": "com.amazonaws.directoryservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The requested alias.</p>\n         <p>The alias must be unique amongst all aliases in Amazon Web Services. This operation throws an\n            <code>EntityAlreadyExistsException</code> error if the alias already exists.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>CreateAlias</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateAliasResult": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory.</p>"
          }
        },
        "Alias": {
          "target": "com.amazonaws.directoryservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The alias for the directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>CreateAlias</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateComputer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#CreateComputerRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#CreateComputerResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#AuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Active Directory computer object in the specified directory.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateComputerRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory in which to create the computer account.</p>",
            "smithy.api#required": {}
          }
        },
        "ComputerName": {
          "target": "com.amazonaws.directoryservice#ComputerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the computer account.</p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.directoryservice#ComputerPassword",
          "traits": {
            "smithy.api#documentation": "<p>A one-time password that is used to join the computer to the directory. You should generate a random, strong password to use for this parameter.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationalUnitDistinguishedName": {
          "target": "com.amazonaws.directoryservice#OrganizationalUnitDN",
          "traits": {
            "smithy.api#documentation": "<p>The fully-qualified distinguished name of the organizational unit to place the computer account in.</p>"
          }
        },
        "ComputerAttributes": {
          "target": "com.amazonaws.directoryservice#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>An array of <a>Attribute</a> objects that contain any LDAP attributes to apply to the\n            computer account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>CreateComputer</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateComputerResult": {
      "type": "structure",
      "members": {
        "Computer": {
          "target": "com.amazonaws.directoryservice#Computer",
          "traits": {
            "smithy.api#documentation": "<p>A <a>Computer</a> object that represents the computer account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results for the <a>CreateComputer</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateConditionalForwarder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#CreateConditionalForwarderRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#CreateConditionalForwarderResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a conditional forwarder associated with your Amazon Web Services directory. Conditional\n      forwarders are required in order to set up a trust relationship with another domain. The\n      conditional forwarder points to the trusted domain.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateConditionalForwarderRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID of the Amazon Web Services directory for which you are creating the conditional\n      forwarder.</p>",
            "smithy.api#required": {}
          }
        },
        "RemoteDomainName": {
          "target": "com.amazonaws.directoryservice#RemoteDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name (FQDN) of the remote domain with which you will set up\n      a trust relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "DnsIpAddrs": {
          "target": "com.amazonaws.directoryservice#DnsIpAddrs",
          "traits": {
            "smithy.api#documentation": "<p>The IP addresses of the remote DNS server associated with RemoteDomainName.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Initiates the creation of a conditional forwarder for your Directory Service for Microsoft Active\n      Directory. Conditional forwarders are required in order to set up a trust relationship with\n      another domain.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateConditionalForwarderResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The result of a CreateConditinalForwarder request.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#CreateDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#CreateDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryLimitExceededException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Simple AD directory. For more information, see <a href=\"https://docs.aws.amazon.com/directoryservice/latest/admin-guide/directory_simple_ad.html\">Simple Active Directory</a> in the <i>Directory Service Admin\n        Guide</i>.</p>\n         <p>Before you call <code>CreateDirectory</code>, ensure that all of the required permissions\n      have been explicitly granted through a policy. For details about what permissions are required\n      to run the <code>CreateDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">Directory Service API Permissions: Actions, Resources, and Conditions\n      Reference</a>.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateDirectoryRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.directoryservice#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name for the directory, such as <code>corp.example.com</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ShortName": {
          "target": "com.amazonaws.directoryservice#DirectoryShortName",
          "traits": {
            "smithy.api#documentation": "<p>The NetBIOS name of the directory, such as <code>CORP</code>.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.directoryservice#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password for the directory administrator. The directory creation process creates a\n      directory administrator account with the user name <code>Administrator</code> and this\n      password.</p>\n         <p>If you need to change the password for the administrator account, you can use the <a>ResetUserPassword</a> API call.</p>\n         <p>The regex pattern for this string is made up of the following conditions:</p>\n         <ul>\n            <li>\n               <p>Length (?=^.{8,64}$) – Must be between 8 and 64 characters</p>\n            </li>\n         </ul>\n         <p>AND any 3 of the following password complexity rules required by Active Directory:</p>\n         <ul>\n            <li>\n               <p>Numbers and upper case and lowercase (?=.*\\d)(?=.*[A-Z])(?=.*[a-z])</p>\n            </li>\n            <li>\n               <p>Numbers and special characters and lower case\n          (?=.*\\d)(?=.*[^A-Za-z0-9\\s])(?=.*[a-z])</p>\n            </li>\n            <li>\n               <p>Special characters and upper case and lower case\n          (?=.*[^A-Za-z0-9\\s])(?=.*[A-Z])(?=.*[a-z])</p>\n            </li>\n            <li>\n               <p>Numbers and upper case and special characters\n          (?=.*\\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9\\s])</p>\n            </li>\n         </ul>\n         <p>For additional information about how Active Directory passwords are enforced, see <a href=\"https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements\">Password must meet complexity requirements</a> on the Microsoft website.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.directoryservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the directory.</p>"
          }
        },
        "Size": {
          "target": "com.amazonaws.directoryservice#DirectorySize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the directory.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcSettings": {
          "target": "com.amazonaws.directoryservice#DirectoryVpcSettings",
          "traits": {
            "smithy.api#documentation": "<p>A <a>DirectoryVpcSettings</a> object that contains additional information for\n      the operation.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.directoryservice#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the Simple AD directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>CreateDirectory</a> operation. </p>"
      }
    },
    "com.amazonaws.directoryservice#CreateDirectoryResult": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>CreateDirectory</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateLogSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#CreateLogSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#CreateLogSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InsufficientPermissionsException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a subscription to forward real-time Directory Service domain controller security\n      logs to the specified Amazon CloudWatch log group in your Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateLogSubscriptionRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the directory to which you want to subscribe and receive real-time logs to\n      your specified CloudWatch log group.</p>",
            "smithy.api#required": {}
          }
        },
        "LogGroupName": {
          "target": "com.amazonaws.directoryservice#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch log group where the real-time domain controller logs are\n      forwarded.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directoryservice#CreateLogSubscriptionResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.directoryservice#CreateMicrosoftAD": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#CreateMicrosoftADRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#CreateMicrosoftADResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryLimitExceededException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Microsoft AD directory in the Amazon Web Services Cloud. For more information, see <a href=\"https://docs.aws.amazon.com/directoryservice/latest/admin-guide/directory_microsoft_ad.html\">Managed Microsoft AD</a> in the <i>Directory Service Admin Guide</i>.</p>\n         <p>Before you call <i>CreateMicrosoftAD</i>, ensure that all of the required\n      permissions have been explicitly granted through a policy. For details about what permissions\n      are required to run the <i>CreateMicrosoftAD</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateMicrosoftADRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.directoryservice#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name for the Managed Microsoft AD directory, such as\n        <code>corp.example.com</code>. This name will resolve inside your VPC only. It does not need\n      to be publicly resolvable.</p>",
            "smithy.api#required": {}
          }
        },
        "ShortName": {
          "target": "com.amazonaws.directoryservice#DirectoryShortName",
          "traits": {
            "smithy.api#documentation": "<p>The NetBIOS name for your domain, such as <code>CORP</code>. If you don't specify a\n      NetBIOS name, it will default to the first part of your directory DNS. For example,\n        <code>CORP</code> for the directory DNS <code>corp.example.com</code>. </p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.directoryservice#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password for the default administrative user named <code>Admin</code>.</p>\n         <p>If you need to change the password for the administrator account, you can use the <a>ResetUserPassword</a> API call.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.directoryservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the directory. This label will appear on the Amazon Web Services console\n        <code>Directory Details</code> page after the directory is created.</p>"
          }
        },
        "VpcSettings": {
          "target": "com.amazonaws.directoryservice#DirectoryVpcSettings",
          "traits": {
            "smithy.api#documentation": "<p>Contains VPC information for the <a>CreateDirectory</a> or <a>CreateMicrosoftAD</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Edition": {
          "target": "com.amazonaws.directoryservice#DirectoryEdition",
          "traits": {
            "smithy.api#documentation": "<p>Managed Microsoft AD is available in two editions: <code>Standard</code> and\n        <code>Enterprise</code>. <code>Enterprise</code> is the default.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.directoryservice#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the Managed Microsoft AD directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates an Managed Microsoft AD directory.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateMicrosoftADResult": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Result of a CreateMicrosoftAD request.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#CreateSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#CreateSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#SnapshotLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a snapshot of a Simple AD or Microsoft AD directory in the Amazon Web Services cloud.</p>\n         <note>\n            <p>You cannot take snapshots of AD Connector directories.</p>\n         </note>"
      }
    },
    "com.amazonaws.directoryservice#CreateSnapshotBeforeSchemaExtension": {
      "type": "boolean"
    },
    "com.amazonaws.directoryservice#CreateSnapshotRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory of which to take a snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.directoryservice#SnapshotName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name to apply to the snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>CreateSnapshot</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateSnapshotResult": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.directoryservice#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the snapshot that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>CreateSnapshot</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateTrust": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#CreateTrustRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#CreateTrustResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Directory Service for Microsoft Active Directory allows you to configure trust relationships. For\n      example, you can establish a trust between your Managed Microsoft AD directory, and your existing\n      self-managed Microsoft Active Directory. This would allow you to provide users and groups\n      access to resources in either domain, with a single set of credentials.</p>\n         <p>This action initiates the creation of the Amazon Web Services side of a trust relationship between an\n      Managed Microsoft AD directory and an external domain. You can create either a forest trust or an\n      external trust.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateTrustRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The Directory ID of the Managed Microsoft AD directory for which to establish the trust\n      relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "RemoteDomainName": {
          "target": "com.amazonaws.directoryservice#RemoteDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The Fully Qualified Domain Name (FQDN) of the external domain for which to create the\n      trust relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "TrustPassword": {
          "target": "com.amazonaws.directoryservice#TrustPassword",
          "traits": {
            "smithy.api#documentation": "<p>The trust password. The must be the same password that was used when creating the trust\n      relationship on the external domain.</p>",
            "smithy.api#required": {}
          }
        },
        "TrustDirection": {
          "target": "com.amazonaws.directoryservice#TrustDirection",
          "traits": {
            "smithy.api#documentation": "<p>The direction of the trust relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "TrustType": {
          "target": "com.amazonaws.directoryservice#TrustType",
          "traits": {
            "smithy.api#documentation": "<p>The trust relationship type. <code>Forest</code> is the default.</p>"
          }
        },
        "ConditionalForwarderIpAddrs": {
          "target": "com.amazonaws.directoryservice#DnsIpAddrs",
          "traits": {
            "smithy.api#documentation": "<p>The IP addresses of the remote DNS server associated with RemoteDomainName.</p>"
          }
        },
        "SelectiveAuth": {
          "target": "com.amazonaws.directoryservice#SelectiveAuth",
          "traits": {
            "smithy.api#documentation": "<p>Optional parameter to enable selective authentication for the trust.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Directory Service for Microsoft Active Directory allows you to configure trust relationships. For\n      example, you can establish a trust between your Managed Microsoft AD directory, and your existing\n      self-managed Microsoft Active Directory. This would allow you to provide users and groups\n      access to resources in either domain, with a single set of credentials.</p>\n         <p>This action initiates the creation of the Amazon Web Services side of a trust relationship between an\n      Managed Microsoft AD directory and an external domain.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreateTrustResult": {
      "type": "structure",
      "members": {
        "TrustId": {
          "target": "com.amazonaws.directoryservice#TrustId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the trust relationship that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a CreateTrust request.</p>"
      }
    },
    "com.amazonaws.directoryservice#CreatedDateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.directoryservice#CustomerId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(\\d{12})$"
      }
    },
    "com.amazonaws.directoryservice#CustomerUserName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^(?!.*\\\\|.*\"|.*\\/|.*\\[|.*\\]|.*:|.*;|.*\\||.*=|.*,|.*\\+|.*\\*|.*\\?|.*<|.*>|.*@).*$"
      }
    },
    "com.amazonaws.directoryservice#DeleteAssociatedConditionalForwarder": {
      "type": "boolean"
    },
    "com.amazonaws.directoryservice#DeleteConditionalForwarder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DeleteConditionalForwarderRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DeleteConditionalForwarderResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a conditional forwarder that has been set up for your Amazon Web Services\n      directory.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteConditionalForwarderRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID for which you are deleting the conditional forwarder.</p>",
            "smithy.api#required": {}
          }
        },
        "RemoteDomainName": {
          "target": "com.amazonaws.directoryservice#RemoteDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name (FQDN) of the remote domain with which you are deleting\n      the conditional forwarder.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a conditional forwarder.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteConditionalForwarderResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The result of a DeleteConditionalForwarder request.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteDirectory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DeleteDirectoryRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DeleteDirectoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Directory Service directory.</p>\n         <p>Before you call <code>DeleteDirectory</code>, ensure that all of the required permissions\n      have been explicitly granted through a policy. For details about what permissions are required\n      to run the <code>DeleteDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">Directory Service API Permissions: Actions, Resources, and Conditions\n      Reference</a>.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteDirectoryRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>DeleteDirectory</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteDirectoryResult": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory identifier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>DeleteDirectory</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteLogSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DeleteLogSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DeleteLogSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified log subscription.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteLogSubscriptionRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the directory whose log subscription you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directoryservice#DeleteLogSubscriptionResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.directoryservice#DeleteSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DeleteSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DeleteSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a directory snapshot.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteSnapshotRequest": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.directoryservice#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory snapshot to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>DeleteSnapshot</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteSnapshotResult": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.directoryservice#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory snapshot that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>DeleteSnapshot</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteTrust": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DeleteTrustRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DeleteTrustResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing trust relationship between your Managed Microsoft AD directory and an external\n      domain.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteTrustRequest": {
      "type": "structure",
      "members": {
        "TrustId": {
          "target": "com.amazonaws.directoryservice#TrustId",
          "traits": {
            "smithy.api#documentation": "<p>The Trust ID of the trust relationship to be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "DeleteAssociatedConditionalForwarder": {
          "target": "com.amazonaws.directoryservice#DeleteAssociatedConditionalForwarder",
          "traits": {
            "smithy.api#documentation": "<p>Delete a conditional forwarder as part of a DeleteTrustRequest.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the local side of an existing trust relationship between the Managed Microsoft AD\n      directory and the external domain.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeleteTrustResult": {
      "type": "structure",
      "members": {
        "TrustId": {
          "target": "com.amazonaws.directoryservice#TrustId",
          "traits": {
            "smithy.api#documentation": "<p>The Trust ID of the trust relationship that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a DeleteTrust request.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeregisterCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DeregisterCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DeregisterCertificateResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#CertificateDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#CertificateInUseException"
        },
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes from the system the certificate that was registered for secure LDAP or client certificate authentication.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeregisterCertificateRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory.</p>",
            "smithy.api#required": {}
          }
        },
        "CertificateId": {
          "target": "com.amazonaws.directoryservice#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the certificate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directoryservice#DeregisterCertificateResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.directoryservice#DeregisterEventTopic": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DeregisterEventTopicRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DeregisterEventTopicResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified directory as a publisher to the specified Amazon SNS topic.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeregisterEventTopicRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The Directory ID to remove as a publisher. This directory will no longer send messages\n      to the specified Amazon SNS topic.</p>",
            "smithy.api#required": {}
          }
        },
        "TopicName": {
          "target": "com.amazonaws.directoryservice#TopicName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon SNS topic from which to remove the directory as a\n      publisher.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified directory as a publisher to the specified Amazon SNS topic.</p>"
      }
    },
    "com.amazonaws.directoryservice#DeregisterEventTopicResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The result of a DeregisterEventTopic request.</p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DescribeCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DescribeCertificateResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#CertificateDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays information about the certificate registered for secure LDAP or client certificate authentication.</p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeCertificateRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory.</p>",
            "smithy.api#required": {}
          }
        },
        "CertificateId": {
          "target": "com.amazonaws.directoryservice#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the certificate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directoryservice#DescribeCertificateResult": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.directoryservice#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>Information about the certificate, including registered date time, certificate state, the\n      reason for the state, expiration date time, and certificate common name.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice#DescribeClientAuthenticationSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DescribeClientAuthenticationSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DescribeClientAuthenticationSettingsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the type of client authentication for the specified directory, if the type is specified. If no type is specified, information about all client authentication types that are supported for the specified directory is retrieved. Currently, only <code>SmartCard</code> is supported.\n    </p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeClientAuthenticationSettingsRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the directory for which to retrieve information.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.directoryservice#ClientAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of client authentication for which to retrieve information. If no type is specified, a list of all client authentication types that are supported for the specified directory is retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <i>DescribeClientAuthenticationSettingsResult.NextToken</i> value from a previous call to <a>DescribeClientAuthenticationSettings</a>. Pass null if this is the first call.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.directoryservice#PageLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return. If this value is zero, the maximum number of items is specified by the limitations of the operation. </p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice#DescribeClientAuthenticationSettingsResult": {
      "type": "structure",
      "members": {
        "ClientAuthenticationSettingsInfo": {
          "target": "com.amazonaws.directoryservice#ClientAuthenticationSettingsInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the type of client authentication for the specified directory. The following information is retrieved: The date and time when the status of the client authentication type was last updated, whether the client authentication type is enabled or disabled, and the type of client authentication.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The next token used to retrieve the client authentication settings if the number of setting types exceeds\n      page limit and there is another page.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice#DescribeConditionalForwarders": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DescribeConditionalForwardersRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DescribeConditionalForwardersResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtains information about the conditional forwarders for this account.</p>\n         <p>If no input parameters are provided for RemoteDomainNames, this request describes all\n      conditional forwarders for the specified directory ID.</p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeConditionalForwardersRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID for which to get the list of associated conditional\n      forwarders.</p>",
            "smithy.api#required": {}
          }
        },
        "RemoteDomainNames": {
          "target": "com.amazonaws.directoryservice#RemoteDomainNames",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain names (FQDN) of the remote domains for which to get the list\n      of associated conditional forwarders. If this member is null, all conditional forwarders are\n      returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a conditional forwarder.</p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeConditionalForwardersResult": {
      "type": "structure",
      "members": {
        "ConditionalForwarders": {
          "target": "com.amazonaws.directoryservice#ConditionalForwarders",
          "traits": {
            "smithy.api#documentation": "<p>The list of conditional forwarders that have been created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a DescribeConditionalForwarder request.</p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeDirectories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DescribeDirectoriesRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DescribeDirectoriesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtains information about the directories that belong to this account.</p>\n         <p>You can retrieve information about specific directories by passing the directory\n      identifiers in the <code>DirectoryIds</code> parameter. Otherwise, all directories that belong\n      to the current account are returned.</p>\n         <p>This operation supports pagination with the use of the <code>NextToken</code> request and\n      response parameters. If more results are available, the\n        <code>DescribeDirectoriesResult.NextToken</code> member contains a token that you pass in\n      the next call to <a>DescribeDirectories</a> to retrieve the next set of\n      items.</p>\n         <p>You can also specify a maximum number of return results with the <code>Limit</code>\n      parameter.</p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeDirectoriesRequest": {
      "type": "structure",
      "members": {
        "DirectoryIds": {
          "target": "com.amazonaws.directoryservice#DirectoryIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers of the directories for which to obtain the information. If this\n      member is null, all directories that belong to the current account are returned.</p>\n         <p>An empty list results in an <code>InvalidParameterException</code> being thrown.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DescribeDirectoriesResult.NextToken</code> value from a previous call to <a>DescribeDirectories</a>. Pass null if this is the first call.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.directoryservice#Limit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return. If this value is zero, the maximum number of items\n      is specified by the limitations of the operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the inputs for the <a>DescribeDirectories</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeDirectoriesResult": {
      "type": "structure",
      "members": {
        "DirectoryDescriptions": {
          "target": "com.amazonaws.directoryservice#DirectoryDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The list of <a>DirectoryDescription</a> objects that were retrieved.</p>\n         <p>It is possible that this list contains less than the number of items specified in the\n        <code>Limit</code> member of the request. This occurs if there are less than the requested\n      number of items left to retrieve, or if the limitations of the operation have been\n      exceeded.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If not null, more results are available. Pass this value for the <code>NextToken</code>\n      parameter in a subsequent call to <a>DescribeDirectories</a> to retrieve the next\n      set of items.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the results of the <a>DescribeDirectories</a> operation.</p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeDomainControllers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DescribeDomainControllersRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DescribeDomainControllersResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        },
        {
          "target": "com.amazonaws.directoryservice#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about any domain controllers in your directory.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "Limit"
        }
      }
    },
    "com.amazonaws.directoryservice#DescribeDomainControllersRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the directory for which to retrieve the domain controller\n      information.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainControllerIds": {
          "target": "com.amazonaws.directoryservice#DomainControllerIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers for the domain controllers whose information will be\n      provided.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <i>DescribeDomainControllers.NextToken</i> value from a previous call\n      to <a>DescribeDomainControllers</a>. Pass null if this is the first call.\n    </p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.directoryservice#Limit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice#DescribeDomainControllersResult": {
      "type": "structure",
      "members": {
        "DomainControllers": {
          "target": "com.amazonaws.directoryservice#DomainControllers",
          "traits": {
            "smithy.api#documentation": "<p>List of the <a>DomainController</a> objects that were retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.directoryservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If not null, more results are available. Pass this value for the <code>NextToken</code>\n      parameter in a subsequent call to <a>DescribeDomainControllers</a> retrieve the\n      next set of items.</p>"
          }
        }
      }
    },
    "com.amazonaws.directoryservice#DescribeEventTopics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directoryservice#DescribeEventTopicsRequest"
      },
      "output": {
        "target": "com.amazonaws.directoryservice#DescribeEventTopicsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directoryservice#ClientException"
        },
        {
          "target": "com.amazonaws.directoryservice#EntityDoesNotExistException"
        },
        {
          "target": "com.amazonaws.directoryservice#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.directoryservice#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Obtains information about which Amazon SNS topics receive status messages from the specified\n      directory.</p>\n         <p>If no input parameters are provided, such as DirectoryId or TopicName, this request\n      describes all of the associations in the account.</p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeEventTopicsRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.directoryservice#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The Directory ID for which to get the list of associated Amazon SNS topics. If this member\n      is null, associations for all Directory IDs are returned.</p>"
          }
        },
        "TopicNames": {
          "target": "com.amazonaws.directoryservice#TopicNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon SNS topic names for which to obtain the information. If this member is\n      null, all associations for the specified Directory ID are returned.</p>\n         <p>An empty list results in an <code>InvalidParameterException</code> being\n      thrown.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes event topics.</p>"
      }
    },
    "com.amazonaws.directoryservice#DescribeEventTopicsResult": {
      "type": "structure",
      "members": {
        "EventTopics": {
          "target": "com.amazonaws.directoryservice#EventTopics",
          "traits": {
[...]
