{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.directconnect#ASN": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.directconnect#AcceptDirectConnectGatewayAssociationProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#AcceptDirectConnectGatewayAssociationProposalRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#AcceptDirectConnectGatewayAssociationProposalResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a proposal request to attach a virtual private gateway or transit gateway to a Direct Connect gateway.</p>"
      }
    },
    "com.amazonaws.directconnect#AcceptDirectConnectGatewayAssociationProposalRequest": {
      "type": "structure",
      "members": {
        "directConnectGatewayId": {
          "target": "com.amazonaws.directconnect#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "proposalId": {
          "target": "com.amazonaws.directconnect#DirectConnectGatewayAssociationProposalId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the request proposal.</p>",
            "smithy.api#required": {}
          }
        },
        "associatedGatewayOwnerAccount": {
          "target": "com.amazonaws.directconnect#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that owns the virtual private gateway or transit gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "overrideAllowedPrefixesToDirectConnectGateway": {
          "target": "com.amazonaws.directconnect#RouteFilterPrefixList",
          "traits": {
            "smithy.api#documentation": "<p>Overrides the Amazon VPC prefixes advertised to the Direct Connect gateway.</p>\n         <p>For information about how to set the prefixes, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/multi-account-associate-vgw.html#allowed-prefixes\">Allowed Prefixes</a> in the <i>Direct Connect User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#AcceptDirectConnectGatewayAssociationProposalResult": {
      "type": "structure",
      "members": {
        "directConnectGatewayAssociation": {
          "target": "com.amazonaws.directconnect#DirectConnectGatewayAssociation"
        }
      }
    },
    "com.amazonaws.directconnect#AddressFamily": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ipv4",
            "name": "IPv4"
          },
          {
            "value": "ipv6",
            "name": "IPv6"
          }
        ]
      }
    },
    "com.amazonaws.directconnect#AgreementList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directconnect#CustomerAgreement"
      }
    },
    "com.amazonaws.directconnect#AgreementName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.directconnect#AllocateConnectionOnInterconnect": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#AllocateConnectionOnInterconnectRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#Connection"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {},
        "smithy.api#documentation": "<p>Deprecated. Use <a>AllocateHostedConnection</a> instead.</p>\n         <p>Creates a hosted connection on an interconnect.</p>\n         <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the specified interconnect.</p>\n         <note>\n            <p>Intended for use by Direct Connect Partners only.</p>\n         </note>"
      }
    },
    "com.amazonaws.directconnect#AllocateConnectionOnInterconnectRequest": {
      "type": "structure",
      "members": {
        "bandwidth": {
          "target": "com.amazonaws.directconnect#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the connection. The possible values are 50Mbps, 100Mbps, 200Mbps,\n      300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. Note that only those Direct Connect Partners\n      who have met specific requirements\n    are allowed to create a 1Gbps, 2Gbps, 5Gbps or 10Gbps hosted connection.</p>",
            "smithy.api#required": {}
          }
        },
        "connectionName": {
          "target": "com.amazonaws.directconnect#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the provisioned connection.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccount": {
          "target": "com.amazonaws.directconnect#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account of the customer for whom the connection will be provisioned.</p>",
            "smithy.api#required": {}
          }
        },
        "interconnectId": {
          "target": "com.amazonaws.directconnect#InterconnectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the interconnect on which the connection will be provisioned.</p>",
            "smithy.api#required": {}
          }
        },
        "vlan": {
          "target": "com.amazonaws.directconnect#VLAN",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The dedicated VLAN provisioned to the connection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#AllocateHostedConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#AllocateHostedConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#Connection"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        },
        {
          "target": "com.amazonaws.directconnect#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.directconnect#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a hosted connection on the specified interconnect or a link aggregation group (LAG) of interconnects.</p>\n         <p>Allocates a VLAN number and a specified amount of capacity (bandwidth) for use by a hosted connection on the specified interconnect or LAG of interconnects. \n      Amazon Web Services polices the hosted connection for the specified capacity and the Direct Connect Partner must also police the hosted connection for the specified capacity.</p>\n         <note>\n            <p>Intended for use by Direct Connect Partners only.</p>\n         </note>"
      }
    },
    "com.amazonaws.directconnect#AllocateHostedConnectionRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the interconnect or LAG.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccount": {
          "target": "com.amazonaws.directconnect#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account ID of the customer for the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "bandwidth": {
          "target": "com.amazonaws.directconnect#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the connection. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. Note that only those Direct Connect Partners who have met specific requirements are allowed to create a 1Gbps, 2Gbps, 5Gbps or 10Gbps hosted connection. </p>",
            "smithy.api#required": {}
          }
        },
        "connectionName": {
          "target": "com.amazonaws.directconnect#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hosted connection.</p>",
            "smithy.api#required": {}
          }
        },
        "vlan": {
          "target": "com.amazonaws.directconnect#VLAN",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The dedicated VLAN provisioned to the hosted connection.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.directconnect#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the connection.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#AllocatePrivateVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#AllocatePrivateVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#VirtualInterface"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        },
        {
          "target": "com.amazonaws.directconnect#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.directconnect#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provisions a private virtual interface to be owned by the specified Amazon Web Services account.</p>\n         <p>Virtual interfaces created using this action must be confirmed by the owner using <a>ConfirmPrivateVirtualInterface</a>. \n      Until then, the virtual interface is in the <code>Confirming</code> state and is not available to handle traffic.</p>"
      }
    },
    "com.amazonaws.directconnect#AllocatePrivateVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection on which the private virtual interface is provisioned.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccount": {
          "target": "com.amazonaws.directconnect#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that owns the virtual private interface.</p>",
            "smithy.api#required": {}
          }
        },
        "newPrivateVirtualInterfaceAllocation": {
          "target": "com.amazonaws.directconnect#NewPrivateVirtualInterfaceAllocation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the private virtual interface.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#AllocatePublicVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#AllocatePublicVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#VirtualInterface"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        },
        {
          "target": "com.amazonaws.directconnect#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.directconnect#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provisions a public virtual interface to be owned by the specified Amazon Web Services account.</p>\n         <p>The owner of a connection calls this function to provision a public virtual interface to be owned by the specified Amazon Web Services account.</p>\n         <p>Virtual interfaces created using this function must be confirmed by the owner using <a>ConfirmPublicVirtualInterface</a>.\n      Until this step has been completed, the virtual interface is in the <code>confirming</code> state and is not available to handle traffic.</p>\n         <p>When creating an IPv6 public virtual interface, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from\n      the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p>"
      }
    },
    "com.amazonaws.directconnect#AllocatePublicVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection on which the public virtual interface is provisioned.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccount": {
          "target": "com.amazonaws.directconnect#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that owns the public virtual interface.</p>",
            "smithy.api#required": {}
          }
        },
        "newPublicVirtualInterfaceAllocation": {
          "target": "com.amazonaws.directconnect#NewPublicVirtualInterfaceAllocation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the public virtual interface.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#AllocateTransitVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#AllocateTransitVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#AllocateTransitVirtualInterfaceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        },
        {
          "target": "com.amazonaws.directconnect#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.directconnect#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provisions a transit virtual interface to be owned by the specified Amazon Web Services account. Use this type of interface to connect a transit gateway to your Direct Connect gateway.</p>\n         <p>The owner of a connection provisions a transit virtual interface to be owned by the specified Amazon Web Services account.</p>\n         <p>After you create a transit virtual interface, it must be confirmed by the owner using <a>ConfirmTransitVirtualInterface</a>. Until this step has been completed, the transit virtual interface is in the <code>requested</code> state and is not available to handle traffic.</p>"
      }
    },
    "com.amazonaws.directconnect#AllocateTransitVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection on which the transit virtual interface is provisioned.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerAccount": {
          "target": "com.amazonaws.directconnect#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that owns the transit virtual interface.</p>",
            "smithy.api#required": {}
          }
        },
        "newTransitVirtualInterfaceAllocation": {
          "target": "com.amazonaws.directconnect#NewTransitVirtualInterfaceAllocation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the transit virtual interface.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#AllocateTransitVirtualInterfaceResult": {
      "type": "structure",
      "members": {
        "virtualInterface": {
          "target": "com.amazonaws.directconnect#VirtualInterface"
        }
      }
    },
    "com.amazonaws.directconnect#AmazonAddress": {
      "type": "string"
    },
    "com.amazonaws.directconnect#AssociateConnectionWithLag": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#AssociateConnectionWithLagRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#Connection"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an existing connection with a link aggregation group (LAG). The connection\n      is interrupted and re-established as a member of the LAG (connectivity to Amazon Web Services is\n      interrupted). The connection must be hosted on the same Direct Connect endpoint as the LAG, and its \n      bandwidth must match the bandwidth for the LAG. You can re-associate a connection that's \n      currently associated with a different LAG; however, if removing the connection would cause \n      the original LAG to fall below its setting for minimum number of operational connections, \n      the request fails.</p>\n         <p>Any virtual interfaces that are directly associated with the connection are\n      automatically re-associated with the LAG. If the connection was originally associated\n      with a different LAG, the virtual interfaces remain associated with the original\n      LAG.</p>\n         <p>For interconnects, any hosted connections are automatically re-associated with the\n      LAG. If the interconnect was originally associated with a different LAG, the hosted\n      connections remain associated with the original LAG.</p>"
      }
    },
    "com.amazonaws.directconnect#AssociateConnectionWithLagRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "lagId": {
          "target": "com.amazonaws.directconnect#LagId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG with which to associate the connection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#AssociateHostedConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#AssociateHostedConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#Connection"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a hosted connection and its virtual interfaces with a link aggregation\n      group (LAG) or interconnect. If the target interconnect or LAG has an existing hosted\n      connection with a conflicting VLAN number or IP address, the operation fails. This\n      action temporarily interrupts the hosted connection's connectivity to Amazon Web Services \n      as it is being migrated.</p>\n         <note>\n            <p>Intended for use by Direct Connect Partners only.</p>\n         </note>"
      }
    },
    "com.amazonaws.directconnect#AssociateHostedConnectionRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the hosted connection.</p>",
            "smithy.api#required": {}
          }
        },
        "parentConnectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the interconnect or the LAG.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#AssociateMacSecKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#AssociateMacSecKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#AssociateMacSecKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a MAC Security (MACsec) Connection Key Name (CKN)/ Connectivity Association Key (CAK) pair with an Direct Connect dedicated connection.</p>\n         <p>You must supply either the <code>secretARN,</code> or the CKN/CAK (<code>ckn</code> and <code>cak</code>) pair in the request.</p>\n         <p>For information about MAC Security (MACsec) key considerations, see  <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/direct-connect-mac-sec-getting-started.html#mac-sec-key-consideration\">MACsec pre-shared CKN/CAK key considerations </a> in the <i>Direct Connect User Guide</i>.</p>"
      }
    },
    "com.amazonaws.directconnect#AssociateMacSecKeyRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dedicated connection (dxcon-xxxx), or the ID of the LAG (dxlag-xxxx).</p>\n         <p>You can use <a>DescribeConnections</a> or <a>DescribeLags</a> to retrieve connection ID.</p>",
            "smithy.api#required": {}
          }
        },
        "secretARN": {
          "target": "com.amazonaws.directconnect#SecretARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the MAC Security (MACsec) secret key to associate with the dedicated connection.</p>\n         <p>You can use <a>DescribeConnections</a> or <a>DescribeLags</a> to retrieve the MAC Security (MACsec) secret key.</p>\n         <p>If you use this request parameter, you do not use the <code>ckn</code> and <code>cak</code> request parameters.</p>"
          }
        },
        "ckn": {
          "target": "com.amazonaws.directconnect#Ckn",
          "traits": {
            "smithy.api#documentation": "<p>The MAC Security (MACsec) CKN to associate with the dedicated connection.</p>\n         <p>You can create the CKN/CAK pair using an industry standard tool.</p>\n         <p> The valid values are 64 hexadecimal characters (0-9, A-E).</p>\n         <p>If you use this request parameter, you must use the <code>cak</code> request parameter and not use the <code>secretARN</code> request parameter.</p>"
          }
        },
        "cak": {
          "target": "com.amazonaws.directconnect#Cak",
          "traits": {
            "smithy.api#documentation": "<p>The MAC Security (MACsec) CAK to associate with the dedicated connection.</p>\n         <p>You can create the CKN/CAK pair using an industry standard tool.</p>\n         <p> The valid values are 64 hexadecimal characters (0-9, A-E).</p>\n         <p>If you use this request parameter, you must use the <code>ckn</code> request parameter and not use the <code>secretARN</code> request parameter.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#AssociateMacSecKeyResponse": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dedicated connection (dxcon-xxxx), or the ID of the LAG (dxlag-xxxx).</p>"
          }
        },
        "macSecKeys": {
          "target": "com.amazonaws.directconnect#MacSecKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The MAC Security (MACsec) security keys associated with the dedicated connection.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#AssociateVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#AssociateVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#VirtualInterface"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a virtual interface with a specified link aggregation group (LAG) or\n      connection. Connectivity to Amazon Web Services is temporarily interrupted as the virtual interface is\n      being migrated. If the target connection or LAG has an associated virtual interface with\n      a conflicting VLAN number or a conflicting IP address, the operation fails.</p>\n         <p>Virtual interfaces associated with a hosted connection cannot be associated with a\n      LAG; hosted connections must be migrated along with their virtual interfaces using <a>AssociateHostedConnection</a>.</p>\n         <p>To reassociate a virtual interface to a new connection or LAG, the requester\n      must own either the virtual interface itself or the connection to which the virtual\n      interface is currently associated. Additionally, the requester must own the connection\n      or LAG for the association.</p>"
      }
    },
    "com.amazonaws.directconnect#AssociateVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "virtualInterfaceId": {
          "target": "com.amazonaws.directconnect#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>",
            "smithy.api#required": {}
          }
        },
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG or connection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#AssociatedGateway": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.directconnect#GatewayIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the associated gateway.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.directconnect#GatewayType",
          "traits": {
            "smithy.api#documentation": "<p>The type of associated gateway.</p>"
          }
        },
        "ownerAccount": {
          "target": "com.amazonaws.directconnect#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that owns the associated virtual private gateway or transit gateway.</p>"
          }
        },
        "region": {
          "target": "com.amazonaws.directconnect#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Region where the associated gateway is located.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the associated gateway.</p>"
      }
    },
    "com.amazonaws.directconnect#AssociatedGatewayId": {
      "type": "string"
    },
    "com.amazonaws.directconnect#AvailableMacSecPortSpeeds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directconnect#PortSpeed"
      }
    },
    "com.amazonaws.directconnect#AvailablePortSpeeds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directconnect#PortSpeed"
      }
    },
    "com.amazonaws.directconnect#AwsDevice": {
      "type": "string",
      "traits": {
        "smithy.api#deprecated": {}
      }
    },
    "com.amazonaws.directconnect#AwsDeviceV2": {
      "type": "string"
    },
    "com.amazonaws.directconnect#AwsLogicalDeviceId": {
      "type": "string"
    },
    "com.amazonaws.directconnect#BGPAuthKey": {
      "type": "string"
    },
    "com.amazonaws.directconnect#BGPPeer": {
      "type": "structure",
      "members": {
        "bgpPeerId": {
          "target": "com.amazonaws.directconnect#BGPPeerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the BGP peer.</p>"
          }
        },
        "asn": {
          "target": "com.amazonaws.directconnect#ASN",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.</p>"
          }
        },
        "authKey": {
          "target": "com.amazonaws.directconnect#BGPAuthKey",
          "traits": {
            "smithy.api#documentation": "<p>The authentication key for BGP configuration. This string has a minimum length of 6 characters and and a maximun lenth of 80 characters.</p>"
          }
        },
        "addressFamily": {
          "target": "com.amazonaws.directconnect#AddressFamily",
          "traits": {
            "smithy.api#documentation": "<p>The address family for the BGP peer.</p>"
          }
        },
        "amazonAddress": {
          "target": "com.amazonaws.directconnect#AmazonAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address assigned to the Amazon interface.</p>"
          }
        },
        "customerAddress": {
          "target": "com.amazonaws.directconnect#CustomerAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address assigned to the customer interface.</p>"
          }
        },
        "bgpPeerState": {
          "target": "com.amazonaws.directconnect#BGPPeerState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the BGP peer. The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>verifying</code>: The BGP peering addresses or ASN require validation before the BGP peer can be created. This state applies only to public virtual interfaces.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: The BGP peer is created, and remains in this state until it is ready to be established.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: The BGP peer is ready to be established.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>:  The BGP peer is being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>:  The BGP peer is deleted and cannot be established.</p>\n            </li>\n         </ul>"
          }
        },
        "bgpStatus": {
          "target": "com.amazonaws.directconnect#BGPStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the BGP peer. The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>up</code>: The BGP peer is established. This state does not indicate the \n        state of the routing function. Ensure that you are receiving routes over the BGP session.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: The BGP peer is down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The BGP peer status is not available.</p>\n            </li>\n         </ul>"
          }
        },
        "awsDeviceV2": {
          "target": "com.amazonaws.directconnect#AwsDeviceV2",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect endpoint that terminates the BGP peer.</p>"
          }
        },
        "awsLogicalDeviceId": {
          "target": "com.amazonaws.directconnect#AwsLogicalDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect endpoint that terminates the logical connection. This device might be\n      different than the device that terminates the physical connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a BGP peer.</p>"
      }
    },
    "com.amazonaws.directconnect#BGPPeerId": {
      "type": "string"
    },
    "com.amazonaws.directconnect#BGPPeerIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directconnect#BGPPeerId"
      }
    },
    "com.amazonaws.directconnect#BGPPeerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directconnect#BGPPeer"
      }
    },
    "com.amazonaws.directconnect#BGPPeerState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "verifying",
            "name": "Verifying"
          },
          {
            "value": "pending",
            "name": "Pending"
          },
          {
            "value": "available",
            "name": "Available"
          },
          {
            "value": "deleting",
            "name": "Deleting"
          },
          {
            "value": "deleted",
            "name": "Deleted"
          }
        ]
      }
    },
    "com.amazonaws.directconnect#BGPStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "up",
            "name": "Up"
          },
          {
            "value": "down",
            "name": "Down"
          },
          {
            "value": "unknown",
            "name": "Unknown"
          }
        ]
      }
    },
    "com.amazonaws.directconnect#Bandwidth": {
      "type": "string"
    },
    "com.amazonaws.directconnect#BooleanFlag": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.directconnect#CIDR": {
      "type": "string"
    },
    "com.amazonaws.directconnect#Cak": {
      "type": "string"
    },
    "com.amazonaws.directconnect#Ckn": {
      "type": "string"
    },
    "com.amazonaws.directconnect#ConfirmConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#ConfirmConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#ConfirmConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Confirms the creation of the specified hosted connection on an interconnect.</p>\n         <p>Upon creation, the hosted connection is initially in the <code>Ordering</code> state, and \n      remains in this state until the owner confirms creation of the hosted connection.</p>"
      }
    },
    "com.amazonaws.directconnect#ConfirmConnectionRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the hosted connection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#ConfirmConnectionResponse": {
      "type": "structure",
      "members": {
        "connectionState": {
          "target": "com.amazonaws.directconnect#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the connection. The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p>\n            </li>\n            <li>\n               <p>\n                  <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: The connection has been approved and is being initialized.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: The network link is up and the connection is ready for use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: The network link is down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: The connection is being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: The connection has been deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the connection is not available.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#ConfirmCustomerAgreement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#ConfirmCustomerAgreementRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#ConfirmCustomerAgreementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      The confirmation of the terms of agreement when creating the connection/link aggregation group (LAG).\n    </p>"
      }
    },
    "com.amazonaws.directconnect#ConfirmCustomerAgreementRequest": {
      "type": "structure",
      "members": {
        "agreementName": {
          "target": "com.amazonaws.directconnect#AgreementName",
          "traits": {
            "smithy.api#documentation": "<p>\n\n      The name of the customer agreement.\n\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#ConfirmCustomerAgreementResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.directconnect#Status",
          "traits": {
            "smithy.api#documentation": "<p>\n      The status of the customer agreement when the connection was created. This will be either <code>signed</code> or <code>unsigned</code>.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#ConfirmPrivateVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#ConfirmPrivateVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#ConfirmPrivateVirtualInterfaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts ownership of a private virtual interface created by another Amazon Web Services account.</p>\n         <p>After the virtual interface owner makes this call, the virtual interface is\n      created and attached to the specified virtual private gateway or Direct Connect gateway, and is\n      made available to handle traffic.</p>"
      }
    },
    "com.amazonaws.directconnect#ConfirmPrivateVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "virtualInterfaceId": {
          "target": "com.amazonaws.directconnect#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>",
            "smithy.api#required": {}
          }
        },
        "virtualGatewayId": {
          "target": "com.amazonaws.directconnect#VirtualGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual private gateway.</p>"
          }
        },
        "directConnectGatewayId": {
          "target": "com.amazonaws.directconnect#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#ConfirmPrivateVirtualInterfaceResponse": {
      "type": "structure",
      "members": {
        "virtualInterfaceState": {
          "target": "com.amazonaws.directconnect#VirtualInterfaceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the virtual interface. The following are the possible values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p>\n            </li>\n            <li>\n               <p>\n                  <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: A virtual interface that is able to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: A virtual interface that is BGP down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: A virtual interface that cannot forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the virtual interface is not available.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#ConfirmPublicVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#ConfirmPublicVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#ConfirmPublicVirtualInterfaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts ownership of a public virtual interface created by another Amazon Web Services account.</p>\n         <p>After the virtual interface owner makes this call, the specified virtual interface is \n      created and made available to handle traffic.</p>"
      }
    },
    "com.amazonaws.directconnect#ConfirmPublicVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "virtualInterfaceId": {
          "target": "com.amazonaws.directconnect#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#ConfirmPublicVirtualInterfaceResponse": {
      "type": "structure",
      "members": {
        "virtualInterfaceState": {
          "target": "com.amazonaws.directconnect#VirtualInterfaceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the virtual interface. The following are the possible values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p>\n            </li>\n            <li>\n               <p>\n                  <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: A virtual interface that is able to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: A virtual interface that is BGP down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: A virtual interface that cannot forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the virtual interface is not available.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#ConfirmTransitVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#ConfirmTransitVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#ConfirmTransitVirtualInterfaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts ownership of a transit virtual interface created by another Amazon Web Services account.</p>\n    \n         <p> After the owner of the transit virtual interface makes this call, the specified transit virtual interface is created and made available to handle traffic.</p>"
      }
    },
    "com.amazonaws.directconnect#ConfirmTransitVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "virtualInterfaceId": {
          "target": "com.amazonaws.directconnect#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>",
            "smithy.api#required": {}
          }
        },
        "directConnectGatewayId": {
          "target": "com.amazonaws.directconnect#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#ConfirmTransitVirtualInterfaceResponse": {
      "type": "structure",
      "members": {
        "virtualInterfaceState": {
          "target": "com.amazonaws.directconnect#VirtualInterfaceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the virtual interface. The following are the possible values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p>\n            </li>\n            <li>\n               <p>\n                  <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: A virtual interface that is able to forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: A virtual interface that is BGP down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: A virtual interface that cannot forward traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the virtual interface is not available.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#Connection": {
      "type": "structure",
      "members": {
        "ownerAccount": {
          "target": "com.amazonaws.directconnect#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that owns the connection.</p>"
          }
        },
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>"
          }
        },
        "connectionName": {
          "target": "com.amazonaws.directconnect#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection.</p>"
          }
        },
        "connectionState": {
          "target": "com.amazonaws.directconnect#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the connection. The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p>\n            </li>\n            <li>\n               <p>\n                  <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: The connection has been approved and is being initialized.</p>\n            </li>\n            <li>\n               <p>\n                  <code>available</code>: The network link is up and the connection is ready for use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>down</code>: The network link is down.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleting</code>: The connection is being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deleted</code>: The connection has been deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p>\n            </li>\n            <li>\n               <p>\n                  <code>unknown</code>: The state of the connection is not available.</p>\n            </li>\n         </ul>"
          }
        },
        "region": {
          "target": "com.amazonaws.directconnect#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region where the connection is located.</p>"
          }
        },
        "location": {
          "target": "com.amazonaws.directconnect#LocationCode",
          "traits": {
            "smithy.api#documentation": "<p>The location of the connection.</p>"
          }
        },
        "bandwidth": {
          "target": "com.amazonaws.directconnect#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the connection.</p>"
          }
        },
        "vlan": {
          "target": "com.amazonaws.directconnect#VLAN",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the VLAN.</p>"
          }
        },
        "partnerName": {
          "target": "com.amazonaws.directconnect#PartnerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Direct Connect service provider associated with the connection.</p>"
          }
        },
        "loaIssueTime": {
          "target": "com.amazonaws.directconnect#LoaIssueTime",
          "traits": {
            "smithy.api#documentation": "<p>The time of the most recent call to <a>DescribeLoa</a> for this connection.</p>"
          }
        },
        "lagId": {
          "target": "com.amazonaws.directconnect#LagId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG.</p>"
          }
        },
        "awsDevice": {
          "target": "com.amazonaws.directconnect#AwsDevice",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect endpoint on which the physical connection terminates.</p>"
          }
        },
        "jumboFrameCapable": {
          "target": "com.amazonaws.directconnect#JumboFrameCapable",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether jumbo frames (9001 MTU) are supported.</p>"
          }
        },
        "awsDeviceV2": {
          "target": "com.amazonaws.directconnect#AwsDeviceV2",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect endpoint that terminates the physical connection.</p>"
          }
        },
        "awsLogicalDeviceId": {
          "target": "com.amazonaws.directconnect#AwsLogicalDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect endpoint that terminates the logical connection. This device might be\n      different than the device that terminates the physical connection.</p>"
          }
        },
        "hasLogicalRedundancy": {
          "target": "com.amazonaws.directconnect#HasLogicalRedundancy",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the connection supports a secondary BGP peer in the same address family (IPv4/IPv6).</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.directconnect#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the connection.</p>"
          }
        },
        "providerName": {
          "target": "com.amazonaws.directconnect#ProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service provider associated with the connection.</p>"
          }
        },
        "macSecCapable": {
          "target": "com.amazonaws.directconnect#MacSecCapable",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the connection supports MAC Security (MACsec).</p>"
          }
        },
        "portEncryptionStatus": {
          "target": "com.amazonaws.directconnect#PortEncryptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The MAC Security (MACsec) port link status of the connection.</p>\n         <p>The valid values are <code>Encryption Up</code>, which means that there is an active Connection Key Name, or <code>Encryption Down</code>.</p>"
          }
        },
        "encryptionMode": {
          "target": "com.amazonaws.directconnect#EncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The MAC Security (MACsec) connection encryption mode.</p>\n         <p>The valid values are <code>no_encrypt</code>, <code>should_encrypt</code>, and <code>must_encrypt</code>.</p>"
          }
        },
        "macSecKeys": {
          "target": "com.amazonaws.directconnect#MacSecKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The MAC Security (MACsec) security keys associated with the connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Direct Connect connection.</p>"
      }
    },
    "com.amazonaws.directconnect#ConnectionId": {
      "type": "string"
    },
    "com.amazonaws.directconnect#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.directconnect#Connection"
      }
    },
    "com.amazonaws.directconnect#ConnectionName": {
      "type": "string"
    },
    "com.amazonaws.directconnect#ConnectionState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ordering",
            "name": "ordering"
          },
          {
            "value": "requested",
            "name": "requested"
          },
          {
            "value": "pending",
            "name": "pending"
          },
          {
            "value": "available",
            "name": "available"
          },
          {
            "value": "down",
            "name": "down"
          },
          {
            "value": "deleting",
            "name": "deleting"
          },
          {
            "value": "deleted",
            "name": "deleted"
          },
          {
            "value": "rejected",
            "name": "rejected"
          },
          {
            "value": "unknown",
            "name": "unknown"
          }
        ]
      }
    },
    "com.amazonaws.directconnect#Connections": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.amazonaws.directconnect#ConnectionList",
          "traits": {
            "smithy.api#documentation": "<p>The connections.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#Count": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.directconnect#CreateBGPPeer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#CreateBGPPeerRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#CreateBGPPeerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a BGP peer on the specified virtual interface.</p>\n         <p>You must create a BGP peer for the corresponding address family (IPv4/IPv6) in order to access Amazon Web Services resources that also use that address family.</p>\n         <p>If logical redundancy is not supported by the connection, interconnect, or LAG, the BGP peer cannot \n      be in the same address family as an existing BGP peer on the virtual interface.</p>\n         <p>When creating a IPv6 BGP peer, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from\n      the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p>\n         <p>For a public virtual interface, the Autonomous System Number (ASN) must be private or already on the allow list for the virtual interface.</p>"
      }
    },
    "com.amazonaws.directconnect#CreateBGPPeerRequest": {
      "type": "structure",
      "members": {
        "virtualInterfaceId": {
          "target": "com.amazonaws.directconnect#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>"
          }
        },
        "newBGPPeer": {
          "target": "com.amazonaws.directconnect#NewBGPPeer",
          "traits": {
            "smithy.api#documentation": "<p>Information about the BGP peer.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateBGPPeerResponse": {
      "type": "structure",
      "members": {
        "virtualInterface": {
          "target": "com.amazonaws.directconnect#VirtualInterface",
          "traits": {
            "smithy.api#documentation": "<p>The virtual interface.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#CreateConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#Connection"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        },
        {
          "target": "com.amazonaws.directconnect#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.directconnect#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a connection between a customer network and a specific Direct Connect location.</p>\n\n         <p>A connection links your internal network to an Direct Connect location over a standard Ethernet fiber-optic \n      cable. One end of the cable is connected to your router, the other to an Direct Connect router.</p>\n         <p>To find the locations for your Region, use <a>DescribeLocations</a>.</p>\n         <p>You can automatically add the new connection to a link aggregation group (LAG) by\n      specifying a LAG ID in the request. This ensures that the new connection is allocated on the\n      same Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, \n      the request fails and no connection is created.</p>"
      }
    },
    "com.amazonaws.directconnect#CreateConnectionRequest": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.amazonaws.directconnect#LocationCode",
          "traits": {
            "smithy.api#documentation": "<p>The location of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "bandwidth": {
          "target": "com.amazonaws.directconnect#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "connectionName": {
          "target": "com.amazonaws.directconnect#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "lagId": {
          "target": "com.amazonaws.directconnect#LagId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.directconnect#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the lag.</p>"
          }
        },
        "providerName": {
          "target": "com.amazonaws.directconnect#ProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service provider associated with the requested connection.</p>"
          }
        },
        "requestMACSec": {
          "target": "com.amazonaws.directconnect#RequestMACSec",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want the connection to support MAC Security (MACsec).</p>\n         <p>MAC Security (MACsec) is only available on dedicated connections. For information about MAC Security (MACsec) prerequisties, see  <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/direct-connect-mac-sec-getting-started.html#mac-sec-prerequisites\">MACsec prerequisties</a> in the <i>Direct Connect User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateDirectConnectGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#CreateDirectConnectGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#CreateDirectConnectGatewayResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Direct Connect gateway, which is an intermediate object that enables you to connect a set \n      of virtual interfaces and virtual private gateways. A Direct Connect gateway is global and visible in any \n      Amazon Web Services Region after it is created. The virtual interfaces and virtual private gateways that \n      are connected through a Direct Connect gateway can be in different Amazon Web Services Regions. This enables you to\n      connect to a VPC in any Region, regardless of the Region in which the virtual interfaces\n      are located, and pass traffic between them.</p>"
      }
    },
    "com.amazonaws.directconnect#CreateDirectConnectGatewayAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#CreateDirectConnectGatewayAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#CreateDirectConnectGatewayAssociationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an association between a Direct Connect gateway and a virtual private gateway. The virtual\n      private gateway must be attached to a VPC and must not be associated with another Direct Connect gateway.</p>"
      }
    },
    "com.amazonaws.directconnect#CreateDirectConnectGatewayAssociationProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#CreateDirectConnectGatewayAssociationProposalRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#CreateDirectConnectGatewayAssociationProposalResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a proposal to associate the specified virtual private gateway or transit gateway with the specified Direct Connect gateway.</p>\n         <p>You can associate a Direct Connect gateway and virtual private gateway or transit gateway that is owned by any Amazon Web Services account. </p>"
      }
    },
    "com.amazonaws.directconnect#CreateDirectConnectGatewayAssociationProposalRequest": {
      "type": "structure",
      "members": {
        "directConnectGatewayId": {
          "target": "com.amazonaws.directconnect#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "directConnectGatewayOwnerAccount": {
          "target": "com.amazonaws.directconnect#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that owns the Direct Connect gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "gatewayId": {
          "target": "com.amazonaws.directconnect#GatewayIdToAssociate",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual private gateway or transit gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "addAllowedPrefixesToDirectConnectGateway": {
          "target": "com.amazonaws.directconnect#RouteFilterPrefixList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon VPC prefixes to advertise to the Direct Connect gateway.</p>"
          }
        },
        "removeAllowedPrefixesToDirectConnectGateway": {
          "target": "com.amazonaws.directconnect#RouteFilterPrefixList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon VPC prefixes to no longer advertise to the Direct Connect gateway.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateDirectConnectGatewayAssociationProposalResult": {
      "type": "structure",
      "members": {
        "directConnectGatewayAssociationProposal": {
          "target": "com.amazonaws.directconnect#DirectConnectGatewayAssociationProposal",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Direct Connect gateway proposal.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateDirectConnectGatewayAssociationRequest": {
      "type": "structure",
      "members": {
        "directConnectGatewayId": {
          "target": "com.amazonaws.directconnect#DirectConnectGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Direct Connect gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "gatewayId": {
          "target": "com.amazonaws.directconnect#GatewayIdToAssociate",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual private gateway or transit gateway.</p>"
          }
        },
        "addAllowedPrefixesToDirectConnectGateway": {
          "target": "com.amazonaws.directconnect#RouteFilterPrefixList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon VPC prefixes to advertise to the Direct Connect gateway</p>\n         <p>This parameter is required when you create an association to a transit gateway.</p>\n         <p>For information about how to set the prefixes, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/multi-account-associate-vgw.html#allowed-prefixes\">Allowed Prefixes</a> in the <i>Direct Connect User Guide</i>.</p>"
          }
        },
        "virtualGatewayId": {
          "target": "com.amazonaws.directconnect#VirtualGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual private gateway.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateDirectConnectGatewayAssociationResult": {
      "type": "structure",
      "members": {
        "directConnectGatewayAssociation": {
          "target": "com.amazonaws.directconnect#DirectConnectGatewayAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The association to be created.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateDirectConnectGatewayRequest": {
      "type": "structure",
      "members": {
        "directConnectGatewayName": {
          "target": "com.amazonaws.directconnect#DirectConnectGatewayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Direct Connect gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "amazonSideAsn": {
          "target": "com.amazonaws.directconnect#LongAsn",
          "traits": {
            "smithy.api#documentation": "<p>The autonomous system number (ASN) for Border Gateway Protocol (BGP) to be configured\n      on the Amazon side of the connection. The ASN must be in the private range of 64,512 to\n      65,534 or 4,200,000,000 to 4,294,967,294. The default is 64512.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateDirectConnectGatewayResult": {
      "type": "structure",
      "members": {
        "directConnectGateway": {
          "target": "com.amazonaws.directconnect#DirectConnectGateway",
          "traits": {
            "smithy.api#documentation": "<p>The Direct Connect gateway.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateInterconnect": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#CreateInterconnectRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#Interconnect"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        },
        {
          "target": "com.amazonaws.directconnect#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.directconnect#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an interconnect between an Direct Connect Partner's network and a specific Direct Connect location.</p>\n         <p>An interconnect is a connection that is capable of hosting other connections. The \n      Direct Connect Partner can use an interconnect to provide Direct Connect hosted\n      connections to customers through their own network services. Like a standard connection, an\n      interconnect links the partner's network to an Direct Connect location over a standard Ethernet\n      fiber-optic cable. One end is connected to the partner's router, the other to an Direct Connect\n      router.</p>\n         <p>You can automatically add the new interconnect to a link aggregation group (LAG) by\n      specifying a LAG ID in the request. This ensures that the new interconnect is allocated on\n      the same Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the \n      endpoint, the request fails and no interconnect is created.</p>\n         <p>For each end customer, the Direct Connect Partner provisions a connection on their interconnect by calling <a>AllocateHostedConnection</a>.\n      The end customer can then connect to Amazon Web Services resources by creating a virtual interface on their connection, using the VLAN assigned to them by the Direct Connect Partner.</p>\n         <note>\n            <p>Intended for use by Direct Connect Partners only.</p>\n         </note>"
      }
    },
    "com.amazonaws.directconnect#CreateInterconnectRequest": {
      "type": "structure",
      "members": {
        "interconnectName": {
          "target": "com.amazonaws.directconnect#InterconnectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the interconnect.</p>",
            "smithy.api#required": {}
          }
        },
        "bandwidth": {
          "target": "com.amazonaws.directconnect#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The port bandwidth, in Gbps. The possible values are 1 and 10.</p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.amazonaws.directconnect#LocationCode",
          "traits": {
            "smithy.api#documentation": "<p>The location of the interconnect.</p>",
            "smithy.api#required": {}
          }
        },
        "lagId": {
          "target": "com.amazonaws.directconnect#LagId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the LAG.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.directconnect#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the interconnect.</p>"
          }
        },
        "providerName": {
          "target": "com.amazonaws.directconnect#ProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service provider associated with the interconnect.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateLag": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#CreateLagRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#Lag"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        },
        {
          "target": "com.amazonaws.directconnect#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.directconnect#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a link aggregation group (LAG) with the specified number of bundled\n      physical dedicated connections between the customer network and a specific Direct Connect location.\n      A LAG is a logical interface that uses the Link Aggregation Control Protocol\n      (LACP) to aggregate multiple interfaces, enabling you to treat them as a single \n      interface.</p>\n        <p>All connections in a LAG must use the same bandwidth (either 1Gbps or 10Gbps) and must terminate at the same Direct Connect endpoint.</p>\n         <p>You can have up to 10 dedicated connections per LAG. Regardless of this limit, if you\n      request more connections for the LAG than Direct Connect can allocate on a single endpoint, no LAG is\n      created.</p>\n         <p>You can specify an existing physical dedicated connection or interconnect to include in\n      the LAG (which counts towards the total number of connections). Doing so interrupts the\n      current physical dedicated connection, and re-establishes them as a member of the LAG. The LAG\n      will be created on the same Direct Connect endpoint to which the dedicated connection terminates. Any\n      virtual interfaces associated with the dedicated connection are automatically disassociated\n      and re-associated with the LAG. The connection ID does not change.</p>\n         <p>If the Amazon Web Services account used to create a LAG is a registered Direct Connect Partner, the LAG is \n      automatically enabled to host sub-connections. For a LAG owned by a partner, any associated virtual \n      interfaces cannot be directly configured.</p>"
      }
    },
    "com.amazonaws.directconnect#CreateLagRequest": {
      "type": "structure",
      "members": {
        "numberOfConnections": {
          "target": "com.amazonaws.directconnect#Count",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of physical dedicated connections initially provisioned and bundled by the\n      LAG.</p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.amazonaws.directconnect#LocationCode",
          "traits": {
            "smithy.api#documentation": "<p>The location for the LAG.</p>",
            "smithy.api#required": {}
          }
        },
        "connectionsBandwidth": {
          "target": "com.amazonaws.directconnect#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the individual physical dedicated connections bundled by the LAG. The\n      possible values are 1Gbps and 10Gbps. </p>",
            "smithy.api#required": {}
          }
        },
        "lagName": {
          "target": "com.amazonaws.directconnect#LagName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the LAG.</p>",
            "smithy.api#required": {}
          }
        },
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an existing dedicated connection to migrate to the LAG.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.directconnect#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the LAG.</p>"
          }
        },
        "childConnectionTags": {
          "target": "com.amazonaws.directconnect#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the automtically created LAGs.</p>"
          }
        },
        "providerName": {
          "target": "com.amazonaws.directconnect#ProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service provider associated with the LAG.</p>"
          }
        },
        "requestMACSec": {
          "target": "com.amazonaws.directconnect#RequestMACSec",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the connection will support MAC Security (MACsec).</p>\n         <note>\n            <p>All connections in the LAG must be capable of  supporting MAC Security (MACsec). For information about MAC Security (MACsec) prerequisties, see  <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/direct-connect-mac-sec-getting-started.html#mac-sec-prerequisites\">MACsec prerequisties</a> in the <i>Direct Connect User Guide</i>.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreatePrivateVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#CreatePrivateVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#VirtualInterface"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        },
        {
          "target": "com.amazonaws.directconnect#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.directconnect#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a private virtual interface. A virtual interface is the VLAN that transports Direct Connect traffic.\n      A private virtual interface can be connected to either a Direct Connect gateway or a Virtual Private Gateway (VGW).\n      Connecting the private virtual interface to a Direct Connect gateway enables the possibility for connecting to multiple \n      VPCs, including VPCs in different Amazon Web Services Regions. Connecting the private virtual interface \n      to a VGW only provides access to a single VPC within the same Region.</p>\n         <p>Setting the MTU of a virtual interface to 9001 (jumbo frames) can cause an update to\n      the underlying physical connection if it wasn't updated to support jumbo frames. Updating \n      the connection disrupts network connectivity for all virtual interfaces associated with \n      the connection for up to 30 seconds. To check whether your connection supports jumbo \n      frames, call <a>DescribeConnections</a>. To check whether your virtual \n      interface supports jumbo frames, call <a>DescribeVirtualInterfaces</a>.</p>"
      }
    },
    "com.amazonaws.directconnect#CreatePrivateVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "newPrivateVirtualInterface": {
          "target": "com.amazonaws.directconnect#NewPrivateVirtualInterface",
          "traits": {
            "smithy.api#documentation": "<p>Information about the private virtual interface.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreatePublicVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#CreatePublicVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#VirtualInterface"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        },
        {
          "target": "com.amazonaws.directconnect#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.directconnect#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a public virtual interface. A virtual interface is the VLAN that transports Direct Connect traffic.\n      A public virtual interface supports sending traffic to public services of Amazon Web Services such as Amazon S3.</p>\n         <p>When creating an IPv6 public virtual interface (<code>addressFamily</code> is <code>ipv6</code>), leave the <code>customer</code>\n      and <code>amazon</code> address fields blank to use auto-assigned IPv6 space. Custom IPv6 addresses are not supported.</p>"
      }
    },
    "com.amazonaws.directconnect#CreatePublicVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "newPublicVirtualInterface": {
          "target": "com.amazonaws.directconnect#NewPublicVirtualInterface",
          "traits": {
            "smithy.api#documentation": "<p>Information about the public virtual interface.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateTransitVirtualInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#CreateTransitVirtualInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#CreateTransitVirtualInterfaceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        },
        {
          "target": "com.amazonaws.directconnect#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.directconnect#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a transit virtual interface. A transit virtual interface should be used to access one or more transit gateways associated with Direct Connect gateways. A transit virtual interface enables the connection of multiple VPCs attached to a transit gateway to a Direct Connect gateway.</p>\n         <important>\n            <p>If you associate your transit gateway with one or more Direct Connect gateways, the Autonomous System Number (ASN) used by the transit gateway and the Direct Connect gateway must be different. For example, if you use the default ASN 64512 for both your the transit gateway and Direct Connect gateway, the association request fails.</p>\n         </important>\n         <p>Setting the MTU of a virtual interface to 8500 (jumbo frames) can cause an update to\n      the underlying physical connection if it wasn't updated to support jumbo frames. Updating \n      the connection disrupts network connectivity for all virtual interfaces associated with \n      the connection for up to 30 seconds. To check whether your connection supports jumbo \n      frames, call <a>DescribeConnections</a>. To check whether your virtual \n      interface supports jumbo frames, call <a>DescribeVirtualInterfaces</a>.</p>"
      }
    },
    "com.amazonaws.directconnect#CreateTransitVirtualInterfaceRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "newTransitVirtualInterface": {
          "target": "com.amazonaws.directconnect#NewTransitVirtualInterface",
          "traits": {
            "smithy.api#documentation": "<p>Information about the transit virtual interface.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#CreateTransitVirtualInterfaceResult": {
      "type": "structure",
      "members": {
        "virtualInterface": {
          "target": "com.amazonaws.directconnect#VirtualInterface"
        }
      }
    },
    "com.amazonaws.directconnect#CustomerAddress": {
      "type": "string"
    },
    "com.amazonaws.directconnect#CustomerAgreement": {
      "type": "structure",
      "members": {
        "agreementName": {
          "target": "com.amazonaws.directconnect#AgreementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agreement.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.directconnect#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the customer agreement. This will be either <code>signed</code> or <code>unsigned</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name and status of a customer agreement. </p>"
      }
    },
    "com.amazonaws.directconnect#DeleteBGPPeer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#DeleteBGPPeerRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#DeleteBGPPeerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified BGP peer on the specified virtual interface with the specified customer address and ASN.</p>\n         <p>You cannot delete the last BGP peer from a virtual interface.</p>"
      }
    },
    "com.amazonaws.directconnect#DeleteBGPPeerRequest": {
      "type": "structure",
      "members": {
        "virtualInterfaceId": {
          "target": "com.amazonaws.directconnect#VirtualInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual interface.</p>"
          }
        },
        "asn": {
          "target": "com.amazonaws.directconnect#ASN",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.</p>"
          }
        },
        "customerAddress": {
          "target": "com.amazonaws.directconnect#CustomerAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address assigned to the customer interface.</p>"
          }
        },
        "bgpPeerId": {
          "target": "com.amazonaws.directconnect#BGPPeerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the BGP peer.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#DeleteBGPPeerResponse": {
      "type": "structure",
      "members": {
        "virtualInterface": {
          "target": "com.amazonaws.directconnect#VirtualInterface",
          "traits": {
            "smithy.api#documentation": "<p>The virtual interface.</p>"
          }
        }
      }
    },
    "com.amazonaws.directconnect#DeleteConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#DeleteConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#Connection"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified connection.</p>\n         <p>Deleting a connection only stops the Direct Connect port hour and data transfer charges. \n      If you are partnering with any third parties to connect with the Direct Connect location, \n      you must cancel your service with them separately.</p>"
      }
    },
    "com.amazonaws.directconnect#DeleteConnectionRequest": {
      "type": "structure",
      "members": {
        "connectionId": {
          "target": "com.amazonaws.directconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.directconnect#DeleteDirectConnectGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#DeleteDirectConnectGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#DeleteDirectConnectGatewayResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Direct Connect gateway. You must first delete all virtual interfaces that are\n      attached to the Direct Connect gateway and disassociate all virtual private gateways associated \n      with the Direct Connect gateway.</p>"
      }
    },
    "com.amazonaws.directconnect#DeleteDirectConnectGatewayAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#DeleteDirectConnectGatewayAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#DeleteDirectConnectGatewayAssociationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.directconnect#DirectConnectClientException"
        },
        {
          "target": "com.amazonaws.directconnect#DirectConnectServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the association between the specified Direct Connect gateway and virtual private gateway.</p>\n         <p>We recommend that you specify the <code>associationID</code> to delete the association. Alternatively, if you own virtual gateway and a Direct Connect gateway association, you can specify the <code>virtualGatewayId</code> and <code>directConnectGatewayId</code> to delete an association.</p>"
      }
    },
    "com.amazonaws.directconnect#DeleteDirectConnectGatewayAssociationProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.directconnect#DeleteDirectConnectGatewayAssociationProposalRequest"
      },
      "output": {
        "target": "com.amazonaws.directconnect#DeleteDirectConnectGatewayAssociationProposalResult"
      },
      "errors": [
        {
[...]
