{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.dlm#Action": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.dlm#ActionName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name for the action.</p>",
            "smithy.api#required": {}
          }
        },
        "CrossRegionCopy": {
          "target": "com.amazonaws.dlm#CrossRegionCopyActionList",
          "traits": {
            "smithy.api#documentation": "<p>The rule for copying shared snapshots across Regions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an action for an event-based policy.</p>"
      }
    },
    "com.amazonaws.dlm#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Action"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.dlm#ActionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 120
        },
        "smithy.api#pattern": "^[0-9A-Za-z _-]+$"
      }
    },
    "com.amazonaws.dlm#AvailabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 16
        },
        "smithy.api#pattern": "^([a-z]+-){2,3}\\d[a-z]$"
      }
    },
    "com.amazonaws.dlm#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#AvailabilityZone"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.dlm#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.dlm#CmkArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]{1,3}){0,2}:kms:([a-z]+-){2,3}\\d:\\d+:key/"
      }
    },
    "com.amazonaws.dlm#CopyTags": {
      "type": "boolean"
    },
    "com.amazonaws.dlm#CopyTagsNullable": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.dlm#Count": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.dlm#CreateLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#CreateLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#CreateLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a policy to manage the lifecycle of the specified Amazon Web Services resources. You can\n\t\t\tcreate up to 100 lifecycle policies.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/policies",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#CreateLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "ExecutionRoleArn": {
          "target": "com.amazonaws.dlm#ExecutionRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by\n\t\t\tthe lifecycle policy.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.dlm#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are\n\t\t\tsupported.</p>",
            "smithy.api#required": {}
          }
        },
        "State": {
          "target": "com.amazonaws.dlm#SettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "<p>The desired activation state of the lifecycle policy after creation.</p>",
            "smithy.api#required": {}
          }
        },
        "PolicyDetails": {
          "target": "com.amazonaws.dlm#PolicyDetails",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details of the lifecycle policy.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.dlm#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the lifecycle policy during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#CreateLifecyclePolicyResponse": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#CreateRule": {
      "type": "structure",
      "members": {
        "Location": {
          "target": "com.amazonaws.dlm#LocationValues",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the destination for snapshots created by the policy. To create snapshots in the same \n\t\t\tRegion as the source resource, specify <code>CLOUD</code>. To create snapshots on the same \n\t\t\tOutpost as the source resource, specify <code>OUTPOST_LOCAL</code>. If you omit this \n\t\t\tparameter, <code>CLOUD</code> is used by default.</p>\n\t\t       <p>If the policy targets resources in an Amazon Web Services Region, then you must create snapshots in the same \n\t\t\tRegion as the source resource.</p>\n\t\t       <p>If the policy targets resources on an Outpost, then you can create snapshots on the same Outpost \n\t\t\tas the source resource, or in the Region of that Outpost.</p>"
          }
        },
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#documentation": "<p>The interval between snapshots. The supported values are 1, 2, 3, 4, 6, 8, 12, and\n\t\t\t24.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#IntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The interval unit.</p>"
          }
        },
        "Times": {
          "target": "com.amazonaws.dlm#TimesList",
          "traits": {
            "smithy.api#documentation": "<p>The time, in UTC, to start the operation. The supported format is hh:mm.</p>\n\t\t       <p>The operation occurs within a one-hour window following the specified time. If you do\n\t\t\tnot specify a time, Amazon DLM selects a time within the next 24 hours.</p>"
          }
        },
        "CronExpression": {
          "target": "com.amazonaws.dlm#CronExpression",
          "traits": {
            "smithy.api#documentation": "<p>The schedule, as a Cron expression. The schedule interval must be between 1 hour and 1\n\t\t\tyear. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html#CronExpressions\">Cron\n\t\t\t\texpressions</a> in the <i>Amazon CloudWatch User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies when to create snapshots of EBS volumes.</p>\n\t\t       <p>You must specify either a Cron expression or an interval, interval unit, and start\n\t\t\ttime. You cannot specify both.</p>"
      }
    },
    "com.amazonaws.dlm#CronExpression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 17,
          "max": 106
        },
        "smithy.api#pattern": "^cron\\([^\\n]{11,100}\\)$"
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyAction": {
      "type": "structure",
      "members": {
        "Target": {
          "target": "com.amazonaws.dlm#Target",
          "traits": {
            "smithy.api#documentation": "<p>The target Region.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.dlm#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption settings for the copied snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "RetainRule": {
          "target": "com.amazonaws.dlm#CrossRegionCopyRetainRule"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a rule for copying shared snapshots across Regions.</p>"
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#CrossRegionCopyAction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyDeprecateRule": {
      "type": "structure",
      "members": {
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#documentation": "<p>The period after which to deprecate the cross-Region AMI copies. The period must be less than or \n\t\t\tequal to the cross-Region AMI copy retention period, and it can't be greater than 10 years. This is \n\t\t\tequivalent to 120 months, 520 weeks, or 3650 days.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time in which to measure the <b>Interval</b>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an AMI deprecation rule for cross-Region AMI copies created by a cross-Region copy rule.</p>"
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyRetainRule": {
      "type": "structure",
      "members": {
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time to retain each snapshot. The maximum is 100 years. This is\n\t\t\tequivalent to 1200 months, 5200 weeks, or 36500 days.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time for time-based retention.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the retention rule for cross-Region snapshot copies.</p>"
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyRule": {
      "type": "structure",
      "members": {
        "TargetRegion": {
          "target": "com.amazonaws.dlm#TargetRegion",
          "traits": {
            "smithy.api#documentation": "<p>Avoid using this parameter when creating new policies. Instead, use <b>Target</b>\n\t\t\tto specify a target Region or a target Outpost for snapshot copies.</p>\n\t\t       <p>For policies created before the <b>Target</b> parameter \n\t\t\twas introduced, this parameter indicates the target Region for snapshot copies.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.dlm#Target",
          "traits": {
            "smithy.api#documentation": "<p>The target Region or the Amazon Resource Name (ARN) of the target Outpost for the \n\t\t\tsnapshot copies.</p>\n\t\t       <p>Use this parameter instead of <b>TargetRegion</b>. Do not \n\t\t\tspecify both.</p>"
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.dlm#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>To encrypt a copy of an unencrypted snapshot if encryption by default is not enabled,\n\t\t\tenable encryption using this parameter. Copies of encrypted snapshots are encrypted,\n\t\t\teven if this parameter is false or if encryption by default is not enabled.</p>",
            "smithy.api#required": {}
          }
        },
        "CmkArn": {
          "target": "com.amazonaws.dlm#CmkArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use for EBS encryption. If this \n\t\t\tparameter is not specified, the default KMS key for the account is used.</p>"
          }
        },
        "CopyTags": {
          "target": "com.amazonaws.dlm#CopyTagsNullable",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to copy all user-defined tags from the source snapshot to the cross-Region \n\t\t\tsnapshot copy.</p>"
          }
        },
        "RetainRule": {
          "target": "com.amazonaws.dlm#CrossRegionCopyRetainRule",
          "traits": {
            "smithy.api#documentation": "<p>The retention rule that indicates how long snapshot copies are to be retained in the \n\t\t\tdestination Region.</p>"
          }
        },
        "DeprecateRule": {
          "target": "com.amazonaws.dlm#CrossRegionCopyDeprecateRule",
          "traits": {
            "smithy.api#documentation": "<p>The AMI deprecation rule for cross-Region AMI copies created by the rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a rule for cross-Region snapshot copies.</p>"
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#CrossRegionCopyRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.dlm#DeleteLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#DeleteLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#DeleteLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified lifecycle policy and halts the automated operations that the\n\t\t\tpolicy specified.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/policies/{PolicyId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#DeleteLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dlm#DeleteLifecyclePolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.dlm#DeprecateRule": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.dlm#Count",
          "traits": {
            "smithy.api#documentation": "<p>If the schedule has a count-based retention rule, this parameter specifies the number of oldest \n\t\t\tAMIs to deprecate. The count must be less than or equal to the schedule's retention count, and it \n\t\t\tcan't be greater than 1000.</p>"
          }
        },
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#documentation": "<p>If the schedule has an age-based retention rule, this parameter specifies the period after which \n\t\t\tto deprecate AMIs created by the schedule. The period must be less than or equal to the schedule's \n\t\t\tretention period, and it can't be greater than 10 years. This is equivalent to 120 months, 520 \n\t\t\tweeks, or 3650 days.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time in which to measure the <b>Interval</b>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an AMI deprecation rule for a schedule.</p>"
      }
    },
    "com.amazonaws.dlm#DescriptionRegex": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\p{all}]*$"
      }
    },
    "com.amazonaws.dlm#Encrypted": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.dlm#EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "Encrypted": {
          "target": "com.amazonaws.dlm#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>To encrypt a copy of an unencrypted snapshot when encryption by default is not enabled, enable \n\t\t\tencryption using this parameter. Copies of encrypted snapshots are encrypted, even if this \n\t\t\tparameter is false or when encryption by default is not enabled.</p>",
            "smithy.api#required": {}
          }
        },
        "CmkArn": {
          "target": "com.amazonaws.dlm#CmkArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use for EBS encryption. If \n\t\t\tthis parameter is not specified, the default KMS key for the account is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the encryption settings for shared snapshots that are copied across Regions.</p>"
      }
    },
    "com.amazonaws.dlm#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.dlm#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.dlm#EventParameters": {
      "type": "structure",
      "members": {
        "EventType": {
          "target": "com.amazonaws.dlm#EventTypeValues",
          "traits": {
            "smithy.api#documentation": "<p>The type of event. Currently, only snapshot sharing events are supported.</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotOwner": {
          "target": "com.amazonaws.dlm#SnapshotOwnerList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Amazon Web Services accounts that can trigger policy by sharing snapshots with your account. \n\t\t\tThe policy only runs if one of the specified Amazon Web Services accounts shares a snapshot with your account.</p>",
            "smithy.api#required": {}
          }
        },
        "DescriptionRegex": {
          "target": "com.amazonaws.dlm#DescriptionRegex",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot description that can trigger the policy. The description pattern is specified using \n\t\t\ta regular expression. The policy runs only if a snapshot with a description that matches the \n\t\t\tspecified pattern is shared with your account.</p>\n\t\t       <p>For example, specifying <code>^.*Created for policy: policy-1234567890abcdef0.*$</code>  \n\t\t\tconfigures the policy to run only if snapshots created by policy <code>policy-1234567890abcdef0</code> \n\t\t\tare shared with your account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an event that triggers an event-based policy.</p>"
      }
    },
    "com.amazonaws.dlm#EventSource": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.dlm#EventSourceValues",
          "traits": {
            "smithy.api#documentation": "<p>The source of the event. Currently only managed CloudWatch Events rules are supported.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.dlm#EventParameters",
          "traits": {
            "smithy.api#documentation": "<p>Information about the event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an event that triggers an event-based policy.</p>"
      }
    },
    "com.amazonaws.dlm#EventSourceValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MANAGED_CWE",
            "name": "MANAGED_CWE"
          }
        ]
      }
    },
    "com.amazonaws.dlm#EventTypeValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "shareSnapshot",
            "name": "SHARE_SNAPSHOT"
          }
        ]
      }
    },
    "com.amazonaws.dlm#ExcludeBootVolume": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.dlm#ExecutionRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]{1,3}){0,2}:iam::\\d+:role/"
      }
    },
    "com.amazonaws.dlm#FastRestoreRule": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.dlm#Count",
          "traits": {
            "smithy.api#documentation": "<p>The number of snapshots to be enabled with fast snapshot restore.</p>"
          }
        },
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time to enable fast snapshot restore. The maximum is 100 years. This is\n\t\t\tequivalent to 1200 months, 5200 weeks, or 36500 days.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time for enabling fast snapshot restore.</p>"
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.dlm#AvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zones in which to enable fast snapshot restore.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a rule for enabling fast snapshot restore. You can enable fast snapshot\n\t\t\trestore based on either a count or a time interval.</p>"
      }
    },
    "com.amazonaws.dlm#GetLifecyclePolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#GetLifecyclePoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#GetLifecyclePoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets summary information about all or the specified data lifecycle policies.</p>\n\t\t       <p>To get complete information about a policy, use <a>GetLifecyclePolicy</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/policies",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#GetLifecyclePoliciesRequest": {
      "type": "structure",
      "members": {
        "PolicyIds": {
          "target": "com.amazonaws.dlm#PolicyIdList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers of the data lifecycle policies.</p>",
            "smithy.api#httpQuery": "policyIds"
          }
        },
        "State": {
          "target": "com.amazonaws.dlm#GettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "<p>The activation state.</p>",
            "smithy.api#httpQuery": "state"
          }
        },
        "ResourceTypes": {
          "target": "com.amazonaws.dlm#ResourceTypeValuesList",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#httpQuery": "resourceTypes"
          }
        },
        "TargetTags": {
          "target": "com.amazonaws.dlm#TargetTagsFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The target tag for a policy.</p>\n\t\t       <p>Tags are strings in the format <code>key=value</code>.</p>",
            "smithy.api#httpQuery": "targetTags"
          }
        },
        "TagsToAdd": {
          "target": "com.amazonaws.dlm#TagsToAddFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to objects created by the policy.</p>\n\t\t       <p>Tags are strings in the format <code>key=value</code>.</p>\n\t\t       <p>These user-defined tags are added in addition to the Amazon Web Services-added lifecycle tags.</p>",
            "smithy.api#httpQuery": "tagsToAdd"
          }
        }
      }
    },
    "com.amazonaws.dlm#GetLifecyclePoliciesResponse": {
      "type": "structure",
      "members": {
        "Policies": {
          "target": "com.amazonaws.dlm#LifecyclePolicySummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Summary information about the lifecycle policies.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#GetLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#GetLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#GetLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets detailed information about the specified lifecycle policy.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/policies/{PolicyId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#GetLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dlm#GetLifecyclePolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.dlm#LifecyclePolicy",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the lifecycle policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#GettablePolicyStateValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          }
        ]
      }
    },
    "com.amazonaws.dlm#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dlm#ErrorMessage"
        },
        "Code": {
          "target": "com.amazonaws.dlm#ErrorCode"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service failed in an unexpected way.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.dlm#Interval": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.dlm#IntervalUnitValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HOURS",
            "name": "HOURS"
          }
        ]
      }
    },
    "com.amazonaws.dlm#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dlm#ErrorMessage"
        },
        "Code": {
          "target": "com.amazonaws.dlm#ErrorCode"
        },
        "RequiredParameters": {
          "target": "com.amazonaws.dlm#ParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The request omitted one or more required parameters.</p>"
          }
        },
        "MutuallyExclusiveParameters": {
          "target": "com.amazonaws.dlm#ParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The request included parameters that cannot be provided together.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Bad request. The request is missing required parameters or has invalid\n\t\t\tparameters.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.dlm#LifecyclePolicy": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.dlm#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the lifecycle policy.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.dlm#GettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "<p>The activation state of the lifecycle policy.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.dlm#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The description of the status.</p>"
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.dlm#ExecutionRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by\n\t\t\tthe lifecycle policy.</p>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.dlm#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The local date and time when the lifecycle policy was created.</p>"
          }
        },
        "DateModified": {
          "target": "com.amazonaws.dlm#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The local date and time when the lifecycle policy was last modified.</p>"
          }
        },
        "PolicyDetails": {
          "target": "com.amazonaws.dlm#PolicyDetails",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the lifecycle policy</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dlm#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags.</p>"
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.dlm#PolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about a lifecycle policy.</p>"
      }
    },
    "com.amazonaws.dlm#LifecyclePolicySummary": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.dlm#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the lifecycle policy.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.dlm#GettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "<p>The activation state of the lifecycle policy.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dlm#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags.</p>"
          }
        },
        "PolicyType": {
          "target": "com.amazonaws.dlm#PolicyTypeValues",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy. <code>EBS_SNAPSHOT_MANAGEMENT</code> indicates that the policy \n\t\t\tmanages the lifecycle of Amazon EBS snapshots. <code>IMAGE_MANAGEMENT</code> \n\t\t\tindicates that the policy manages the lifecycle of EBS-backed AMIs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a lifecycle policy.</p>"
      }
    },
    "com.amazonaws.dlm#LifecyclePolicySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#LifecyclePolicySummary"
      }
    },
    "com.amazonaws.dlm#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dlm#ErrorMessage"
        },
        "Code": {
          "target": "com.amazonaws.dlm#ErrorCode"
        },
        "ResourceType": {
          "target": "com.amazonaws.dlm#String",
          "traits": {
            "smithy.api#documentation": "<p>Value is the type of resource for which a limit was exceeded.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because a limit was exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.dlm#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.dlm#PolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dlm#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.dlm#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#LocationValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CLOUD",
            "name": "CLOUD"
          },
          {
            "value": "OUTPOST_LOCAL",
            "name": "OUTPOST_LOCAL"
          }
        ]
      }
    },
    "com.amazonaws.dlm#NoReboot": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.dlm#Parameter": {
      "type": "string"
    },
    "com.amazonaws.dlm#ParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Parameter"
      }
    },
    "com.amazonaws.dlm#Parameters": {
      "type": "structure",
      "members": {
        "ExcludeBootVolume": {
          "target": "com.amazonaws.dlm#ExcludeBootVolume",
          "traits": {
            "smithy.api#documentation": "<p>[EBS Snapshot Management – Instance policies only] Indicates whether to exclude the\n\t\t\troot volume from snapshots created using <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateSnapshots.html\">CreateSnapshots</a>.\n\t\t\tThe default is false.</p>"
          }
        },
        "NoReboot": {
          "target": "com.amazonaws.dlm#NoReboot",
          "traits": {
            "smithy.api#documentation": "<p>Applies to AMI lifecycle policies only. Indicates whether targeted instances are rebooted when the lifecycle \n\t\t\tpolicy runs. <code>true</code> indicates that targeted instances are not rebooted when the policy \n\t\t\truns. <code>false</code> indicates that target instances are rebooted when the policy runs. The \n\t\t\tdefault is <code>true</code> (instances are not rebooted).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies optional parameters to add to a policy. The set of valid parameters depends\n\t\t\ton the combination of policy type and resource type.</p>"
      }
    },
    "com.amazonaws.dlm#PolicyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]{1,3}){0,2}:dlm:[A-Za-z0-9_/.-]{0,63}:\\d+:policy/[0-9A-Za-z_-]{1,128}$"
      }
    },
    "com.amazonaws.dlm#PolicyDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[0-9A-Za-z _-]+$"
      }
    },
    "com.amazonaws.dlm#PolicyDetails": {
      "type": "structure",
      "members": {
        "PolicyType": {
          "target": "com.amazonaws.dlm#PolicyTypeValues",
          "traits": {
            "smithy.api#documentation": "<p>The valid target resource types and actions a policy can manage. Specify <code>EBS_SNAPSHOT_MANAGEMENT</code> \n\t\t\tto create a lifecycle policy that manages the lifecycle of Amazon EBS snapshots. Specify <code>IMAGE_MANAGEMENT</code> \n\t\t\tto create a lifecycle policy that manages the lifecycle of EBS-backed AMIs. Specify <code>EVENT_BASED_POLICY </code> \n\t\t\tto create an event-based policy that performs specific actions when a defined event occurs in your Amazon Web Services account.</p>\n\t\t       <p>The default is <code>EBS_SNAPSHOT_MANAGEMENT</code>.</p>"
          }
        },
        "ResourceTypes": {
          "target": "com.amazonaws.dlm#ResourceTypeValuesList",
          "traits": {
            "smithy.api#documentation": "<p>The target resource type for snapshot and AMI lifecycle policies. Use <code>VOLUME </code>to \n\t\t\tcreate snapshots of individual volumes or use <code>INSTANCE</code> to create multi-volume \n\t\t\tsnapshots from the volumes for an instance.</p>\n\t\t       <p>This parameter is required for snapshot and AMI policies only. If you are creating an event-based policy, omit this parameter.</p>"
          }
        },
        "ResourceLocations": {
          "target": "com.amazonaws.dlm#ResourceLocationList",
          "traits": {
            "smithy.api#documentation": "<p>The location of the resources to backup. If the source resources are located in an Amazon Web Services Region, \n\t\t\tspecify <code>CLOUD</code>. If the source resources are located on an Outpost \n\t\t\tin your account, specify <code>OUTPOST</code>. </p>\n\t\t\t      <p>If you specify <code>OUTPOST</code>, Amazon Data Lifecycle Manager backs up all resources \n\t\t\t\tof the specified type with matching target tags across all of the Outposts in your account.</p>"
          }
        },
        "TargetTags": {
          "target": "com.amazonaws.dlm#TargetTagList",
          "traits": {
            "smithy.api#documentation": "<p>The single tag that identifies targeted resources for this policy.</p>\n\t\t       <p>This parameter is required for snapshot and AMI policies only. If you are creating an event-based policy, omit this parameter.</p>"
          }
        },
        "Schedules": {
          "target": "com.amazonaws.dlm#ScheduleList",
          "traits": {
            "smithy.api#documentation": "<p>The schedules of policy-defined actions for snapshot and AMI lifecycle policies. A policy \n\t\t\tcan have up to four schedules—one mandatory schedule and up to three optional schedules.</p> \n\t\t       <p>This parameter is required for snapshot and AMI policies only. If you are creating an event-based policy, omit this parameter.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.dlm#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A set of optional parameters for snapshot and AMI lifecycle policies. </p>\n\t\t       <p>This parameter is required for snapshot and AMI policies only. If you are creating an event-based policy, omit this parameter.</p>"
          }
        },
        "EventSource": {
          "target": "com.amazonaws.dlm#EventSource",
          "traits": {
            "smithy.api#documentation": "<p>The event that triggers the event-based policy. </p>\n\t\t       <p>This parameter is required for event-based policies only. If you are creating a snapshot or AMI policy, omit this parameter.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.dlm#ActionList",
          "traits": {
            "smithy.api#documentation": "<p>The actions to be performed when the event-based policy is triggered. You can specify \n\t\tonly one action per policy.</p>\n\t\t       <p>This parameter is required for event-based policies only. If you are creating a snapshot or AMI policy, omit this parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the configuration of a lifecycle policy.</p>"
      }
    },
    "com.amazonaws.dlm#PolicyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^policy-[A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.dlm#PolicyIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#PolicyId"
      }
    },
    "com.amazonaws.dlm#PolicyTypeValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EBS_SNAPSHOT_MANAGEMENT",
            "name": "EBS_SNAPSHOT_MANAGEMENT"
          },
          {
            "value": "IMAGE_MANAGEMENT",
            "name": "IMAGE_MANAGEMENT"
          },
          {
            "value": "EVENT_BASED_POLICY",
            "name": "EVENT_BASED_POLICY"
          }
        ]
      }
    },
    "com.amazonaws.dlm#ResourceLocationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#ResourceLocationValues"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.dlm#ResourceLocationValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CLOUD",
            "name": "CLOUD"
          },
          {
            "value": "OUTPOST",
            "name": "OUTPOST"
          }
        ]
      }
    },
    "com.amazonaws.dlm#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dlm#ErrorMessage"
        },
        "Code": {
          "target": "com.amazonaws.dlm#ErrorCode"
        },
        "ResourceType": {
          "target": "com.amazonaws.dlm#String",
          "traits": {
            "smithy.api#documentation": "<p>Value is the type of resource that was not found.</p>"
          }
        },
        "ResourceIds": {
          "target": "com.amazonaws.dlm#PolicyIdList",
          "traits": {
            "smithy.api#documentation": "<p>Value is a list of resource IDs that were not found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A requested resource was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.dlm#ResourceTypeValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "VOLUME",
            "name": "VOLUME"
          },
          {
            "value": "INSTANCE",
            "name": "INSTANCE"
          }
        ]
      }
    },
    "com.amazonaws.dlm#ResourceTypeValuesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#ResourceTypeValues"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.dlm#RetainRule": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.dlm#Count",
          "traits": {
            "smithy.api#documentation": "<p>The number of snapshots to retain for each volume, up to a maximum of 1000.</p>"
          }
        },
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time to retain each snapshot. The maximum is 100 years. This is\n\t\t\tequivalent to 1200 months, 5200 weeks, or 36500 days.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time for time-based retention.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the retention rule for a lifecycle policy. You can retain snapshots based on\n\t\t\teither a count or a time interval.</p>"
      }
    },
    "com.amazonaws.dlm#RetentionIntervalUnitValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DAYS",
            "name": "DAYS"
          },
          {
            "value": "WEEKS",
            "name": "WEEKS"
          },
          {
            "value": "MONTHS",
            "name": "MONTHS"
          },
          {
            "value": "YEARS",
            "name": "YEARS"
          }
        ]
      }
    },
    "com.amazonaws.dlm#Schedule": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.dlm#ScheduleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schedule.</p>"
          }
        },
        "CopyTags": {
          "target": "com.amazonaws.dlm#CopyTags",
          "traits": {
            "smithy.api#documentation": "<p>Copy all user-defined tags on a source volume to snapshots of the volume created by\n\t\t\tthis policy.</p>"
          }
        },
        "TagsToAdd": {
          "target": "com.amazonaws.dlm#TagsToAddList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to policy-created resources. These user-defined tags are in addition\n\t\t\tto the Amazon Web Services-added lifecycle tags.</p>"
          }
        },
        "VariableTags": {
          "target": "com.amazonaws.dlm#VariableTagsList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key/value pairs with values determined dynamically when the policy is\n\t\t\texecuted. Keys may be any valid Amazon EC2 tag key. Values must be in one of the two\n\t\t\tfollowing formats: <code>$(instance-id)</code> or <code>$(timestamp)</code>. Variable\n\t\t\ttags are only valid for EBS Snapshot Management – Instance policies.</p>"
          }
        },
        "CreateRule": {
          "target": "com.amazonaws.dlm#CreateRule",
          "traits": {
            "smithy.api#documentation": "<p>The creation rule.</p>"
          }
        },
        "RetainRule": {
          "target": "com.amazonaws.dlm#RetainRule",
          "traits": {
            "smithy.api#documentation": "<p>The retention rule.</p>"
          }
        },
        "FastRestoreRule": {
          "target": "com.amazonaws.dlm#FastRestoreRule",
          "traits": {
            "smithy.api#documentation": "<p>The rule for enabling fast snapshot restore.</p>"
          }
        },
        "CrossRegionCopyRules": {
          "target": "com.amazonaws.dlm#CrossRegionCopyRules",
          "traits": {
            "smithy.api#documentation": "<p>The rule for cross-Region snapshot copies.</p>\n\t\t       <p>You can only specify cross-Region copy rules for policies that create snapshots in a Region. \n\t\t\tIf the policy creates snapshots on an Outpost, then you cannot copy the snapshots to a Region or \n\t\t\tto an Outpost. If the policy creates snapshots in a Region, then snapshots can be copied to up to three \n\t\t\tRegions or Outposts.</p>"
          }
        },
        "ShareRules": {
          "target": "com.amazonaws.dlm#ShareRules",
          "traits": {
            "smithy.api#documentation": "<p>The rule for sharing snapshots with other Amazon Web Services accounts.</p>"
          }
        },
        "DeprecateRule": {
          "target": "com.amazonaws.dlm#DeprecateRule",
          "traits": {
            "smithy.api#documentation": "<p>The AMI deprecation rule for the schedule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a backup schedule for a snapshot or AMI lifecycle policy.</p>"
      }
    },
    "com.amazonaws.dlm#ScheduleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Schedule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.dlm#ScheduleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 120
        },
        "smithy.api#pattern": "^[0-9A-Za-z _-]+$"
      }
    },
    "com.amazonaws.dlm#SettablePolicyStateValues": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.dlm#ShareRule": {
      "type": "structure",
      "members": {
        "TargetAccounts": {
          "target": "com.amazonaws.dlm#ShareTargetAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Amazon Web Services accounts with which to share the snapshots.</p>",
            "smithy.api#required": {}
          }
        },
        "UnshareInterval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#documentation": "<p>The period after which snapshots that are shared with other Amazon Web Services accounts are automatically unshared.</p>"
          }
        },
        "UnshareIntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time for the automatic unsharing interval.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a rule for sharing snapshots across Amazon Web Services accounts.</p>"
      }
    },
    "com.amazonaws.dlm#ShareRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#ShareRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.dlm#ShareTargetAccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#AwsAccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.dlm#SnapshotOwnerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#AwsAccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.dlm#StatusMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[\\p{all}]*$"
      }
    },
    "com.amazonaws.dlm#String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[\\p{all}]*$"
      }
    },
    "com.amazonaws.dlm#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.dlm#String",
          "traits": {
            "smithy.api#documentation": "<p>The tag key.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.dlm#String",
          "traits": {
            "smithy.api#documentation": "<p>The tag value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a tag for a resource.</p>"
      }
    },
    "com.amazonaws.dlm#TagFilter": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\p{all}]*$"
      }
    },
    "com.amazonaws.dlm#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$"
      }
    },
    "com.amazonaws.dlm#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.dlm#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dlm#TagKey"
      },
      "value": {
        "target": "com.amazonaws.dlm#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.dlm#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified tags to the specified resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.dlm#PolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.dlm#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dlm#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.dlm#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\p{all}]*$"
      }
    },
    "com.amazonaws.dlm#TagsToAddFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#TagFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.dlm#TagsToAddList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 45
        }
      }
    },
    "com.amazonaws.dlm#Target": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\w:\\-\\/\\*]+$"
      }
    },
    "com.amazonaws.dlm#TargetRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 16
        },
        "smithy.api#pattern": "^([a-z]+-){2,3}\\d$"
      }
    },
    "com.amazonaws.dlm#TargetTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.dlm#TargetTagsFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#TagFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.dlm#Time": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 5
        },
        "smithy.api#pattern": "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
      }
    },
    "com.amazonaws.dlm#TimesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Time"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.dlm#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.dlm#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified tags from the specified resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.dlm#PolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.dlm#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dlm#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.dlm#UpdateLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#UpdateLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#UpdateLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the specified lifecycle policy.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/policies/{PolicyId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#UpdateLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.dlm#ExecutionRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by\n\t\t\tthe lifecycle policy.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.dlm#SettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "<p>The desired activation state of the lifecycle policy after creation.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.dlm#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the lifecycle policy.</p>"
          }
        },
        "PolicyDetails": {
          "target": "com.amazonaws.dlm#PolicyDetails",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the lifecycle policy. You cannot update the policy type or the\n\t\t\tresource type.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#UpdateLifecyclePolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.dlm#VariableTagsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 45
        }
      }
    },
    "com.amazonaws.dlm#dlm_20180112": {
      "type": "service",
      "version": "2018-01-12",
      "operations": [
        {
          "target": "com.amazonaws.dlm#CreateLifecyclePolicy"
        },
        {
          "target": "com.amazonaws.dlm#DeleteLifecyclePolicy"
        },
        {
          "target": "com.amazonaws.dlm#GetLifecyclePolicies"
        },
        {
          "target": "com.amazonaws.dlm#GetLifecyclePolicy"
        },
        {
          "target": "com.amazonaws.dlm#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.dlm#TagResource"
        },
        {
          "target": "com.amazonaws.dlm#UntagResource"
        },
        {
          "target": "com.amazonaws.dlm#UpdateLifecyclePolicy"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DLM",
          "arnNamespace": "dlm",
          "cloudFormationName": "DLM",
          "cloudTrailEventSource": "dlm.amazonaws.com",
          "endpointPrefix": "dlm"
        },
        "aws.auth#sigv4": {
          "name": "dlm"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Data Lifecycle Manager</fullname>\n\t\t       <p>With Amazon Data Lifecycle Manager, you can manage the lifecycle of your Amazon Web Services resources. You create\n\t\t\tlifecycle policies, which are used to automate operations on the specified\n\t\t\tresources.</p>\n\t\t       <p>Amazon DLM supports Amazon EBS volumes and snapshots. For information about using Amazon DLM\n\t\t\twith Amazon EBS, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-lifecycle.html\">Automating the Amazon EBS\n\t\t\t\tSnapshot Lifecycle</a> in the <i>Amazon EC2 User Guide</i>.</p>",
        "smithy.api#title": "Amazon Data Lifecycle Manager"
      }
    }
  }
}
