{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.dlm#Action": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.dlm#ActionName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name for the action.</p>",
            "smithy.api#required": {}
          }
        },
        "CrossRegionCopy": {
          "target": "com.amazonaws.dlm#CrossRegionCopyActionList",
          "traits": {
            "smithy.api#documentation": "<p>The rule for copying shared snapshots across Regions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Event-based policies only]</b> Specifies an action for an event-based policy.</p>"
      }
    },
    "com.amazonaws.dlm#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Action"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.dlm#ActionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 120
        },
        "smithy.api#pattern": "^[0-9A-Za-z _-]+$"
      }
    },
    "com.amazonaws.dlm#ArchiveRetainRule": {
      "type": "structure",
      "members": {
        "RetentionArchiveTier": {
          "target": "com.amazonaws.dlm#RetentionArchiveTier",
          "traits": {
            "smithy.api#documentation": "<p>Information about retention period in the Amazon EBS Snapshots Archive. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/snapshot-archive.html\">Archive Amazon \n\t\t\t\tEBS snapshots</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Snapshot policies only]</b> Specifies information about the archive storage tier retention period.</p>"
      }
    },
    "com.amazonaws.dlm#ArchiveRule": {
      "type": "structure",
      "members": {
        "RetainRule": {
          "target": "com.amazonaws.dlm#ArchiveRetainRule",
          "traits": {
            "smithy.api#documentation": "<p>Information about the retention period for the snapshot archiving rule.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Snapshot policies only]</b> Specifies a snapshot archiving rule for a schedule.</p>"
      }
    },
    "com.amazonaws.dlm#AvailabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 16
        },
        "smithy.api#pattern": "^([a-z]+-){2,3}\\d[a-z]$"
      }
    },
    "com.amazonaws.dlm#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#AvailabilityZone"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.dlm#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.dlm#CmkArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]{1,3}){0,2}:kms:([a-z]+-){2,3}\\d:\\d+:key/"
      }
    },
    "com.amazonaws.dlm#CopyTags": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.dlm#CopyTagsNullable": {
      "type": "boolean"
    },
    "com.amazonaws.dlm#Count": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.dlm#CreateLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#CreateLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#CreateLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a policy to manage the lifecycle of the specified Amazon Web Services resources. You can\n\t\t\tcreate up to 100 lifecycle policies.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/policies",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#CreateLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "ExecutionRoleArn": {
          "target": "com.amazonaws.dlm#ExecutionRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by\n\t\t\tthe lifecycle policy.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.dlm#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the lifecycle policy. The characters ^[0-9A-Za-z _-]+$ are\n\t\t\tsupported.</p>",
            "smithy.api#required": {}
          }
        },
        "State": {
          "target": "com.amazonaws.dlm#SettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "<p>The desired activation state of the lifecycle policy after creation.</p>",
            "smithy.api#required": {}
          }
        },
        "PolicyDetails": {
          "target": "com.amazonaws.dlm#PolicyDetails",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details of the lifecycle policy.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.dlm#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the lifecycle policy during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#CreateLifecyclePolicyResponse": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#CreateRule": {
      "type": "structure",
      "members": {
        "Location": {
          "target": "com.amazonaws.dlm#LocationValues",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot policies only]</b> Specifies the destination for snapshots created by the policy. To create \n\t\t\tsnapshots in the same Region as the source resource, specify <code>CLOUD</code>. To create \n\t\t\tsnapshots on the same Outpost as the source resource, specify <code>OUTPOST_LOCAL</code>. \n\t\t\tIf you omit this parameter, <code>CLOUD</code> is used by default.</p>\n\t\t       <p>If the policy targets resources in an Amazon Web Services Region, then you must create \n\t\t\tsnapshots in the same Region as the source resource. If the policy targets resources on an \n\t\t\tOutpost, then you can create snapshots on the same Outpost as the source resource, or in \n\t\t\tthe Region of that Outpost.</p>"
          }
        },
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The interval between snapshots. The supported values are 1, 2, 3, 4, 6, 8, 12, and 24.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#IntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The interval unit.</p>"
          }
        },
        "Times": {
          "target": "com.amazonaws.dlm#TimesList",
          "traits": {
            "smithy.api#documentation": "<p>The time, in UTC, to start the operation. The supported format is hh:mm.</p>\n\t\t       <p>The operation occurs within a one-hour window following the specified time. If you do\n\t\t\tnot specify a time, Amazon Data Lifecycle Manager selects a time within the next 24 hours.</p>"
          }
        },
        "CronExpression": {
          "target": "com.amazonaws.dlm#CronExpression",
          "traits": {
            "smithy.api#documentation": "<p>The schedule, as a Cron expression. The schedule interval must be between 1 hour and 1\n\t\t\tyear. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html#CronExpressions\">Cron\n\t\t\t\texpressions</a> in the <i>Amazon CloudWatch User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Snapshot and AMI policies only]</b> Specifies when the policy should create snapshots or AMIs.</p>\n\t\t       <note>\n\t\t\t         <ul>\n               <li>\n\t\t\t\t\t             <p>You must specify either <b>CronExpression</b>, or \n\t\t\t\t\t\t<b>Interval</b>, <b>IntervalUnit</b>, \n\t\t\t\t\t\tand <b>Times</b>.</p>\n\t\t\t\t           </li>\n               <li>\n\t\t\t\t\t             <p>If you need to specify an <a>ArchiveRule</a> for the schedule, then you must\n\t\t\t\t\t\tspecify a creation frequency of at least 28 days.</p>\n\t\t\t\t           </li>\n            </ul>\t\t\t\n\t\t       </note>"
      }
    },
    "com.amazonaws.dlm#CronExpression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 17,
          "max": 106
        },
        "smithy.api#pattern": "^cron\\([^\\n]{11,100}\\)$"
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyAction": {
      "type": "structure",
      "members": {
        "Target": {
          "target": "com.amazonaws.dlm#Target",
          "traits": {
            "smithy.api#documentation": "<p>The target Region.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.dlm#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption settings for the copied snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "RetainRule": {
          "target": "com.amazonaws.dlm#CrossRegionCopyRetainRule"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Event-based policies only]</b> Specifies a cross-Region copy action for event-based policies.</p>\n\t\t\n\t\t       <note>\n\t\t\t         <p>To specify a cross-Region copy rule for snapshot and AMI policies, use \n\t\t\t\t<a>CrossRegionCopyRule</a>.</p>\n\t\t       </note>"
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#CrossRegionCopyAction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyDeprecateRule": {
      "type": "structure",
      "members": {
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The period after which to deprecate the cross-Region AMI copies. The period must be less than or \n\t\t\tequal to the cross-Region AMI copy retention period, and it can't be greater than 10 years. This is \n\t\t\tequivalent to 120 months, 520 weeks, or 3650 days.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time in which to measure the <b>Interval</b>. For example, \n\t\t\tto deprecate a cross-Region AMI copy after 3 months, specify <code>Interval=3</code> and \n\t\t\t<code>IntervalUnit=MONTHS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[AMI policies only]</b> Specifies an AMI deprecation rule for cross-Region AMI copies created by an AMI policy.</p>"
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyRetainRule": {
      "type": "structure",
      "members": {
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of time to retain a cross-Region snapshot or AMI copy. The maximum is 100 years. \n\t\t\tThis is equivalent to 1200 months, 5200 weeks, or 36500 days.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time for time-based retention. For example, to retain a cross-Region copy for \n\t\t\t3 months, specify <code>Interval=3</code> and <code>IntervalUnit=MONTHS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a retention rule for cross-Region snapshot copies created by snapshot or \n\t\t\tevent-based policies, or cross-Region AMI copies created by AMI policies. After the \n\t\t\tretention period expires, the cross-Region copy is deleted.</p>"
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyRule": {
      "type": "structure",
      "members": {
        "TargetRegion": {
          "target": "com.amazonaws.dlm#TargetRegion",
          "traits": {
            "smithy.api#documentation": "<note>\n\t\t\t         <p>Avoid using this parameter when creating new policies. Instead, use \n\t\t\t\t<b>Target</b> to specify a target Region or a target \n\t\t\t\tOutpost for snapshot copies.</p>\n\t\t\t         <p>For policies created before the <b>Target</b> parameter \n\t\t\t\twas introduced, this parameter indicates the target Region for snapshot copies.</p>\t\t\t\n\t\t       </note>"
          }
        },
        "Target": {
          "target": "com.amazonaws.dlm#Target",
          "traits": {
            "smithy.api#documentation": "<p>The target Region or the Amazon Resource Name (ARN) of the target Outpost for the \n\t\t\tsnapshot copies.</p>\n\t\t       <p>Use this parameter instead of <b>TargetRegion</b>. Do not \n\t\t\tspecify both.</p>"
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.dlm#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>To encrypt a copy of an unencrypted snapshot if encryption by default is not enabled,\n\t\t\tenable encryption using this parameter. Copies of encrypted snapshots are encrypted,\n\t\t\teven if this parameter is false or if encryption by default is not enabled.</p>",
            "smithy.api#required": {}
          }
        },
        "CmkArn": {
          "target": "com.amazonaws.dlm#CmkArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use for EBS encryption. If this \n\t\t\tparameter is not specified, the default KMS key for the account is used.</p>"
          }
        },
        "CopyTags": {
          "target": "com.amazonaws.dlm#CopyTagsNullable",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to copy all user-defined tags from the source snapshot or AMI to the \n\t\t\tcross-Region copy.</p>"
          }
        },
        "RetainRule": {
          "target": "com.amazonaws.dlm#CrossRegionCopyRetainRule",
          "traits": {
            "smithy.api#documentation": "<p>The retention rule that indicates how long the cross-Region snapshot or AMI copies are \n\t\t\tto be retained in the destination Region.</p>"
          }
        },
        "DeprecateRule": {
          "target": "com.amazonaws.dlm#CrossRegionCopyDeprecateRule",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[AMI policies only]</b> The AMI deprecation rule for cross-Region AMI copies created by the rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Snapshot and AMI policies only]</b> Specifies a cross-Region copy rule for snapshot and AMI policies.</p>\n\t\t       <note>\n\t\t\t         <p>To specify a cross-Region copy action for event-based polices, use \n\t\t\t\t<a>CrossRegionCopyAction</a>.</p>\n\t\t       </note>"
      }
    },
    "com.amazonaws.dlm#CrossRegionCopyRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#CrossRegionCopyRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.dlm#DeleteLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#DeleteLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#DeleteLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified lifecycle policy and halts the automated operations that the\n\t\t\tpolicy specified.</p>\n\t\t       <p>For more information about deleting a policy, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/view-modify-delete.html#delete\">Delete lifecycle \n\t\t\tpolicies</a>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/policies/{PolicyId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#DeleteLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dlm#DeleteLifecyclePolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.dlm#DeprecateRule": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.dlm#Count",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>If the schedule has a count-based retention rule, this parameter specifies the number of oldest \n\t\t\tAMIs to deprecate. The count must be less than or equal to the schedule's retention count, and it \n\t\t\tcan't be greater than 1000.</p>"
          }
        },
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>If the schedule has an age-based retention rule, this parameter specifies the period after which \n\t\t\tto deprecate AMIs created by the schedule. The period must be less than or equal to the schedule's \n\t\t\tretention period, and it can't be greater than 10 years. This is equivalent to 120 months, 520 \n\t\t\tweeks, or 3650 days.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time in which to measure the <b>Interval</b>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[AMI policies only]</b> Specifies an AMI deprecation rule for AMIs created by an AMI lifecycle policy.</p>\n\t\t       <p>For age-based schedules, you must specify <b>Interval</b> and \n\t\t\t<b>IntervalUnit</b>. For count-based schedules, you must specify \n\t\t\t<b>Count</b>.</p>"
      }
    },
    "com.amazonaws.dlm#DescriptionRegex": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\p{all}]*$"
      }
    },
    "com.amazonaws.dlm#Encrypted": {
      "type": "boolean"
    },
    "com.amazonaws.dlm#EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "Encrypted": {
          "target": "com.amazonaws.dlm#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>To encrypt a copy of an unencrypted snapshot when encryption by default is not enabled, enable \n\t\t\tencryption using this parameter. Copies of encrypted snapshots are encrypted, even if this \n\t\t\tparameter is false or when encryption by default is not enabled.</p>",
            "smithy.api#required": {}
          }
        },
        "CmkArn": {
          "target": "com.amazonaws.dlm#CmkArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use for EBS encryption. If \n\t\t\tthis parameter is not specified, the default KMS key for the account is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Event-based policies only]</b> Specifies the encryption settings for cross-Region snapshot copies created by \n\t\t\tevent-based policies.</p>"
      }
    },
    "com.amazonaws.dlm#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.dlm#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.dlm#EventParameters": {
      "type": "structure",
      "members": {
        "EventType": {
          "target": "com.amazonaws.dlm#EventTypeValues",
          "traits": {
            "smithy.api#documentation": "<p>The type of event. Currently, only snapshot sharing events are supported.</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotOwner": {
          "target": "com.amazonaws.dlm#SnapshotOwnerList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Amazon Web Services accounts that can trigger policy by sharing snapshots with your account. \n\t\t\tThe policy only runs if one of the specified Amazon Web Services accounts shares a snapshot with your account.</p>",
            "smithy.api#required": {}
          }
        },
        "DescriptionRegex": {
          "target": "com.amazonaws.dlm#DescriptionRegex",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot description that can trigger the policy. The description pattern is specified using \n\t\t\ta regular expression. The policy runs only if a snapshot with a description that matches the \n\t\t\tspecified pattern is shared with your account.</p>\n\t\t       <p>For example, specifying <code>^.*Created for policy: policy-1234567890abcdef0.*$</code>  \n\t\t\tconfigures the policy to run only if snapshots created by policy <code>policy-1234567890abcdef0</code> \n\t\t\tare shared with your account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Event-based policies only]</b> Specifies an event that activates an event-based policy.</p>"
      }
    },
    "com.amazonaws.dlm#EventSource": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.dlm#EventSourceValues",
          "traits": {
            "smithy.api#documentation": "<p>The source of the event. Currently only managed CloudWatch Events rules are supported.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.dlm#EventParameters",
          "traits": {
            "smithy.api#documentation": "<p>Information about the event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Event-based policies only]</b> Specifies an event that activates an event-based policy.</p>"
      }
    },
    "com.amazonaws.dlm#EventSourceValues": {
      "type": "enum",
      "members": {
        "MANAGED_CWE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED_CWE"
          }
        }
      }
    },
    "com.amazonaws.dlm#EventTypeValues": {
      "type": "enum",
      "members": {
        "SHARE_SNAPSHOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shareSnapshot"
          }
        }
      }
    },
    "com.amazonaws.dlm#ExcludeBootVolume": {
      "type": "boolean"
    },
    "com.amazonaws.dlm#ExcludeDataVolumeTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.dlm#ExecutionRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]{1,3}){0,2}:iam::\\d+:role/"
      }
    },
    "com.amazonaws.dlm#FastRestoreRule": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.dlm#Count",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of snapshots to be enabled with fast snapshot restore.</p>"
          }
        },
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of time to enable fast snapshot restore. The maximum is 100 years. This is\n\t\t\tequivalent to 1200 months, 5200 weeks, or 36500 days.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time for enabling fast snapshot restore.</p>"
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.dlm#AvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zones in which to enable fast snapshot restore.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Snapshot policies only]</b> Specifies a rule for enabling fast snapshot restore for snapshots created by\n\t\t\tsnapshot policies. You can enable fast snapshot restore based on either a count or a\n\t\t\ttime interval.</p>"
      }
    },
    "com.amazonaws.dlm#GetLifecyclePolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#GetLifecyclePoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#GetLifecyclePoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets summary information about all or the specified data lifecycle policies.</p>\n\t\t       <p>To get complete information about a policy, use <a>GetLifecyclePolicy</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/policies",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#GetLifecyclePoliciesRequest": {
      "type": "structure",
      "members": {
        "PolicyIds": {
          "target": "com.amazonaws.dlm#PolicyIdList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers of the data lifecycle policies.</p>",
            "smithy.api#httpQuery": "policyIds"
          }
        },
        "State": {
          "target": "com.amazonaws.dlm#GettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "<p>The activation state.</p>",
            "smithy.api#httpQuery": "state"
          }
        },
        "ResourceTypes": {
          "target": "com.amazonaws.dlm#ResourceTypeValuesList",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#httpQuery": "resourceTypes"
          }
        },
        "TargetTags": {
          "target": "com.amazonaws.dlm#TargetTagsFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The target tag for a policy.</p>\n\t\t       <p>Tags are strings in the format <code>key=value</code>.</p>",
            "smithy.api#httpQuery": "targetTags"
          }
        },
        "TagsToAdd": {
          "target": "com.amazonaws.dlm#TagsToAddFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to objects created by the policy.</p>\n\t\t       <p>Tags are strings in the format <code>key=value</code>.</p>\n\t\t       <p>These user-defined tags are added in addition to the Amazon Web Services-added lifecycle tags.</p>",
            "smithy.api#httpQuery": "tagsToAdd"
          }
        }
      }
    },
    "com.amazonaws.dlm#GetLifecyclePoliciesResponse": {
      "type": "structure",
      "members": {
        "Policies": {
          "target": "com.amazonaws.dlm#LifecyclePolicySummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Summary information about the lifecycle policies.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#GetLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#GetLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#GetLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets detailed information about the specified lifecycle policy.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/policies/{PolicyId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#GetLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dlm#GetLifecyclePolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.dlm#LifecyclePolicy",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the lifecycle policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#GettablePolicyStateValues": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.amazonaws.dlm#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dlm#ErrorMessage"
        },
        "Code": {
          "target": "com.amazonaws.dlm#ErrorCode"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service failed in an unexpected way.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.dlm#Interval": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.dlm#IntervalUnitValues": {
      "type": "enum",
      "members": {
        "HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURS"
          }
        }
      }
    },
    "com.amazonaws.dlm#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dlm#ErrorMessage"
        },
        "Code": {
          "target": "com.amazonaws.dlm#ErrorCode"
        },
        "RequiredParameters": {
          "target": "com.amazonaws.dlm#ParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The request omitted one or more required parameters.</p>"
          }
        },
        "MutuallyExclusiveParameters": {
          "target": "com.amazonaws.dlm#ParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The request included parameters that cannot be provided together.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Bad request. The request is missing required parameters or has invalid\n\t\t\tparameters.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.dlm#LifecyclePolicy": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.dlm#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the lifecycle policy.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.dlm#GettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "<p>The activation state of the lifecycle policy.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.dlm#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The description of the status.</p>"
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.dlm#ExecutionRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by\n\t\t\tthe lifecycle policy.</p>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.dlm#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The local date and time when the lifecycle policy was created.</p>"
          }
        },
        "DateModified": {
          "target": "com.amazonaws.dlm#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The local date and time when the lifecycle policy was last modified.</p>"
          }
        },
        "PolicyDetails": {
          "target": "com.amazonaws.dlm#PolicyDetails",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the lifecycle policy</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dlm#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags.</p>"
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.dlm#PolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[All policy types]</b> Detailed information about a snapshot, AMI, or event-based lifecycle policy.</p>"
      }
    },
    "com.amazonaws.dlm#LifecyclePolicySummary": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.dlm#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the lifecycle policy.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.dlm#GettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "<p>The activation state of the lifecycle policy.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.dlm#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags.</p>"
          }
        },
        "PolicyType": {
          "target": "com.amazonaws.dlm#PolicyTypeValues",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy. <code>EBS_SNAPSHOT_MANAGEMENT</code> indicates that the policy \n\t\t\tmanages the lifecycle of Amazon EBS snapshots. <code>IMAGE_MANAGEMENT</code> \n\t\t\tindicates that the policy manages the lifecycle of EBS-backed AMIs. \n\t\t\t<code>EVENT_BASED_POLICY</code> indicates that the policy automates cross-account \n\t\t\tsnapshot copies for snapshots that are shared with your account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a lifecycle policy.</p>"
      }
    },
    "com.amazonaws.dlm#LifecyclePolicySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#LifecyclePolicySummary"
      }
    },
    "com.amazonaws.dlm#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dlm#ErrorMessage"
        },
        "Code": {
          "target": "com.amazonaws.dlm#ErrorCode"
        },
        "ResourceType": {
          "target": "com.amazonaws.dlm#String",
          "traits": {
            "smithy.api#documentation": "<p>Value is the type of resource for which a limit was exceeded.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because a limit was exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.dlm#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.dlm#PolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dlm#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.dlm#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#LocationValues": {
      "type": "enum",
      "members": {
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD"
          }
        },
        "OUTPOST_LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPOST_LOCAL"
          }
        }
      }
    },
    "com.amazonaws.dlm#NoReboot": {
      "type": "boolean"
    },
    "com.amazonaws.dlm#Parameter": {
      "type": "string"
    },
    "com.amazonaws.dlm#ParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Parameter"
      }
    },
    "com.amazonaws.dlm#Parameters": {
      "type": "structure",
      "members": {
        "ExcludeBootVolume": {
          "target": "com.amazonaws.dlm#ExcludeBootVolume",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot policies that target instances only]</b> Indicates whether to exclude the root volume from multi-volume \n\t\t\tsnapshot sets. The default is <code>false</code>. If you specify <code>true</code>, \n\t\t\tthen the root volumes attached to targeted instances will be excluded from the multi-volume \n\t\t\tsnapshot sets created by the policy.</p>"
          }
        },
        "NoReboot": {
          "target": "com.amazonaws.dlm#NoReboot",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[AMI policies only]</b> Indicates whether targeted instances are rebooted when the lifecycle policy \n\t\t\truns. <code>true</code> indicates that targeted instances are not rebooted when the policy \n\t\t\truns. <code>false</code> indicates that target instances are rebooted when the policy runs. \n\t\t\tThe default is <code>true</code> (instances are not rebooted).</p>"
          }
        },
        "ExcludeDataVolumeTags": {
          "target": "com.amazonaws.dlm#ExcludeDataVolumeTagList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot policies that target instances only]</b> The tags used to identify data (non-root) volumes to exclude from \n\t\t\tmulti-volume snapshot sets.</p> \n\t\t       <p>If you create a snapshot lifecycle policy that targets instances and you specify tags for \n\t\t\tthis parameter, then data volumes with the specified tags that are attached to targeted \n\t\t\tinstances will be excluded from the multi-volume snapshot sets created by the policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Snapshot and AMI policies only]</b> Specifies optional parameters for snapshot and AMI policies. The \n\t\t\tset of valid parameters depends on the combination of policy type and target resource \n\t\t\ttype.</p>\n\t\t       <p>If you choose to exclude boot volumes and you specify tags that consequently exclude \n\t\t\tall of the additional data volumes attached to an instance, then Amazon Data Lifecycle Manager will not create \n\t\t\tany snapshots for the affected instance, and it will emit a <code>SnapshotsCreateFailed</code> \n\t\t\tAmazon CloudWatch metric. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/monitor-dlm-cw-metrics.html\">Monitor your policies \n\t\t\t\tusing Amazon CloudWatch</a>.</p>"
      }
    },
    "com.amazonaws.dlm#PolicyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]{1,3}){0,2}:dlm:[A-Za-z0-9_/.-]{0,63}:\\d+:policy/[0-9A-Za-z_-]{1,128}$"
      }
    },
    "com.amazonaws.dlm#PolicyDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[0-9A-Za-z _-]+$"
      }
    },
    "com.amazonaws.dlm#PolicyDetails": {
      "type": "structure",
      "members": {
        "PolicyType": {
          "target": "com.amazonaws.dlm#PolicyTypeValues",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[All policy types]</b> The valid target resource types and actions a policy can manage. Specify <code>EBS_SNAPSHOT_MANAGEMENT</code> \n\t\t\tto create a lifecycle policy that manages the lifecycle of Amazon EBS snapshots. Specify <code>IMAGE_MANAGEMENT</code> \n\t\t\tto create a lifecycle policy that manages the lifecycle of EBS-backed AMIs. Specify <code>EVENT_BASED_POLICY </code> \n\t\t\tto create an event-based policy that performs specific actions when a defined event occurs in your Amazon Web Services account.</p>\n\t\t       <p>The default is <code>EBS_SNAPSHOT_MANAGEMENT</code>.</p>"
          }
        },
        "ResourceTypes": {
          "target": "com.amazonaws.dlm#ResourceTypeValuesList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot policies only]</b> The target resource type for snapshot and AMI lifecycle policies. Use <code>VOLUME </code>to \n\t\t\tcreate snapshots of individual volumes or use <code>INSTANCE</code> to create multi-volume \n\t\t\tsnapshots from the volumes for an instance.</p>"
          }
        },
        "ResourceLocations": {
          "target": "com.amazonaws.dlm#ResourceLocationList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot and AMI policies only]</b> The location of the resources to backup. If the source resources are located in an \n\t\t\tAmazon Web Services Region, specify <code>CLOUD</code>. If the source resources are located on an Outpost \n\t\t\tin your account, specify <code>OUTPOST</code>.</p>\n\t\t\t      <p>If you specify <code>OUTPOST</code>, Amazon Data Lifecycle Manager backs up all resources \n\t\t\t\tof the specified type with matching target tags across all of the Outposts in your account.</p>"
          }
        },
        "TargetTags": {
          "target": "com.amazonaws.dlm#TargetTagList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot and AMI policies only]</b> The single tag that identifies targeted resources for this policy.</p>"
          }
        },
        "Schedules": {
          "target": "com.amazonaws.dlm#ScheduleList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot and AMI policies only]</b> The schedules of policy-defined actions for snapshot and AMI lifecycle policies. A policy \n\t\t\tcan have up to four schedules—one mandatory schedule and up to three optional schedules.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.dlm#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot and AMI policies only]</b> A set of optional parameters for snapshot and AMI lifecycle policies. </p>\n\t\t\n\t\t       <note>\n\t\t\t         <p>If you are modifying a policy that was created or previously modified using the Amazon \n\t\t\t\tData Lifecycle Manager console, then you must include this parameter and specify either \n\t\t\t\tthe default values or the new values that you require. You can't omit this parameter or \n\t\t\t\tset its values to null.</p>\n\t\t       </note>"
          }
        },
        "EventSource": {
          "target": "com.amazonaws.dlm#EventSource",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Event-based policies only]</b>  The event that activates the event-based policy.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.dlm#ActionList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Event-based policies only]</b>  The actions to be performed when the  event-based policy is activated. You can specify \n\t\t\tonly one action per policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[All policy types]</b> Specifies the configuration of a lifecycle policy.</p>"
      }
    },
    "com.amazonaws.dlm#PolicyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^policy-[A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.dlm#PolicyIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#PolicyId"
      }
    },
    "com.amazonaws.dlm#PolicyTypeValues": {
      "type": "enum",
      "members": {
        "EBS_SNAPSHOT_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EBS_SNAPSHOT_MANAGEMENT"
          }
        },
        "IMAGE_MANAGEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_MANAGEMENT"
          }
        },
        "EVENT_BASED_POLICY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT_BASED_POLICY"
          }
        }
      }
    },
    "com.amazonaws.dlm#ResourceLocationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#ResourceLocationValues"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.dlm#ResourceLocationValues": {
      "type": "enum",
      "members": {
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD"
          }
        },
        "OUTPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPOST"
          }
        }
      }
    },
    "com.amazonaws.dlm#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.dlm#ErrorMessage"
        },
        "Code": {
          "target": "com.amazonaws.dlm#ErrorCode"
        },
        "ResourceType": {
          "target": "com.amazonaws.dlm#String",
          "traits": {
            "smithy.api#documentation": "<p>Value is the type of resource that was not found.</p>"
          }
        },
        "ResourceIds": {
          "target": "com.amazonaws.dlm#PolicyIdList",
          "traits": {
            "smithy.api#documentation": "<p>Value is a list of resource IDs that were not found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A requested resource was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.dlm#ResourceTypeValues": {
      "type": "enum",
      "members": {
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME"
          }
        },
        "INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE"
          }
        }
      }
    },
    "com.amazonaws.dlm#ResourceTypeValuesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#ResourceTypeValues"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.dlm#RetainRule": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.dlm#StandardTierRetainRuleCount",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of snapshots to retain for each volume, up to a maximum of 1000. For example if you want to \n\t\t\tretain a maximum of three snapshots, specify <code>3</code>. When the fourth snapshot is created, the \n\t\t\toldest retained snapshot is deleted, or it is moved to the archive tier if you have specified an \n\t\t\t<a>ArchiveRule</a>.</p>"
          }
        },
        "Interval": {
          "target": "com.amazonaws.dlm#StandardTierRetainRuleInterval",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of time to retain each snapshot. The maximum is 100 years. This is\n\t\t\tequivalent to 1200 months, 5200 weeks, or 36500 days.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time for time-based retention. For example, to retain snapshots for 3 months, specify \n\t\t\t<code>Interval=3</code> and <code>IntervalUnit=MONTHS</code>. Once the snapshot has been retained for \n\t\t\t3 months, it is deleted, or it is moved to the archive tier if you have specified an \n\t\t\t<a>ArchiveRule</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Snapshot and AMI policies only]</b> Specifies a retention rule for snapshots created by snapshot policies, or for AMIs \n\t\t\tcreated by AMI policies.</p>\n\t\t\n\t\t       <note>\t\t\t\n\t\t\t         <p>For snapshot policies that have an <a>ArchiveRule</a>, this retention rule\n\t\t\t\tapplies to standard tier retention. When the retention threshold is met, snapshots\n\t\t\t\tare moved from the standard to the archive tier.</p>\n\t\t\t         <p>For snapshot policies that do not have an <b>ArchiveRule</b>, snapshots \n\t\t\t\tare permanently deleted when this retention threshold is met.</p>\n\t\t       </note>\n\t\t\n\t\t       <p>You can retain snapshots based on either a count or a time interval.</p>\t\t\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <b>Count-based retention</b>\n               </p>\n\t\t\t\t           <p>You must specify <b>Count</b>. \n\t\t\t\t\tIf you specify an <a>ArchiveRule</a> for the schedule, then you can specify a retention count of \n\t\t\t\t\t<code>0</code> to archive snapshots immediately after creation. If you specify a <a>FastRestoreRule</a>, \n\t\t\t\t\t<a>ShareRule</a>, or a <a>CrossRegionCopyRule</a>, then you must specify a retention count \n\t\t\t\t\tof <code>1</code> or more.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Age-based retention</b>\n               </p>\n\t\t\t\t           <p>You must specify <b>Interval</b> \n\t\t\t\t\tand <b>IntervalUnit</b>. If you specify an <a>ArchiveRule</a> for the \n\t\t\t\t\tschedule, then you can specify a retention interval of <code>0</code> days to archive snapshots immediately \n\t\t\t\t\tafter creation. If you specify a <a>FastRestoreRule</a>, <a>ShareRule</a>, or a \n\t\t\t\t\t<a>CrossRegionCopyRule</a>, then you must specify a retention interval of <code>1</code> day or \n\t\t\t\t\tmore.</p>\n\t\t\t         </li>\n         </ul>"
      }
    },
    "com.amazonaws.dlm#RetentionArchiveTier": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.dlm#Count",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of snapshots to retain in the archive storage tier for each volume. \n\t\t\tThe count must ensure that each snapshot remains in the archive tier for at least \n\t\t90 days. For example, if the schedule creates snapshots every 30 days, you must specify a \n\t\tcount of 3 or more to ensure that each snapshot is archived for at least 90 days.</p>"
          }
        },
        "Interval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Specifies the period of time to retain snapshots in the archive tier. After this period \n\t\t\texpires, the snapshot is permanently deleted.</p>"
          }
        },
        "IntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time in which to measure the <b>Interval</b>. For \n\t\t\texample, to retain a snapshots in the archive tier for 6 months, specify <code>Interval=6</code> \n\t\t\tand <code>IntervalUnit=MONTHS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Snapshot policies only]</b> Describes the retention rule for archived snapshots. Once the archive \n\t\t\tretention threshold is met, the snapshots are permanently deleted from the archive tier.</p> \n\t\t       <note>\n\t\t\t         <p>The archive retention rule must retain snapshots in the archive tier for a minimum \n\t\t\t\tof 90 days.</p>\n\t\t       </note>\n\t\t\t\n\t\t       <p>For <b>count-based schedules</b>, you must specify <b>Count</b>. For <b>age-based\n\t\t\t\tschedules</b>, you must specify <b>Interval</b> and\n\t\t\t\t<b> IntervalUnit</b>.</p>\n\t\t       <p>For more information about using snapshot archiving, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-ami-policy.html#dlm-archive\">Considerations for \n\t\t\tsnapshot lifecycle policies</a>.</p>"
      }
    },
    "com.amazonaws.dlm#RetentionIntervalUnitValues": {
      "type": "enum",
      "members": {
        "DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAYS"
          }
        },
        "WEEKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEKS"
          }
        },
        "MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHS"
          }
        },
        "YEARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YEARS"
          }
        }
      }
    },
    "com.amazonaws.dlm#Schedule": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.dlm#ScheduleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schedule.</p>"
          }
        },
        "CopyTags": {
          "target": "com.amazonaws.dlm#CopyTags",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Copy all user-defined tags on a source volume to snapshots of the volume created by\n\t\t\tthis policy.</p>"
          }
        },
        "TagsToAdd": {
          "target": "com.amazonaws.dlm#TagsToAddList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to policy-created resources. These user-defined tags are in addition\n\t\t\tto the Amazon Web Services-added lifecycle tags.</p>"
          }
        },
        "VariableTags": {
          "target": "com.amazonaws.dlm#VariableTagsList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[AMI policies and snapshot policies that target instances only]</b> \n\t\t\tA collection of key/value pairs with values determined dynamically when the policy is\n\t\t\texecuted. Keys may be any valid Amazon EC2 tag key. Values must be in one of the two\n\t\t\tfollowing formats: <code>$(instance-id)</code> or <code>$(timestamp)</code>. Variable\n\t\t\ttags are only valid for EBS Snapshot Management – Instance policies.</p>"
          }
        },
        "CreateRule": {
          "target": "com.amazonaws.dlm#CreateRule",
          "traits": {
            "smithy.api#documentation": "<p>The creation rule.</p>"
          }
        },
        "RetainRule": {
          "target": "com.amazonaws.dlm#RetainRule",
          "traits": {
            "smithy.api#documentation": "<p>The retention rule for snapshots or AMIs created by the policy.</p>"
          }
        },
        "FastRestoreRule": {
          "target": "com.amazonaws.dlm#FastRestoreRule",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot policies only]</b> The rule for enabling fast snapshot restore.</p>"
          }
        },
        "CrossRegionCopyRules": {
          "target": "com.amazonaws.dlm#CrossRegionCopyRules",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a rule for copying snapshots or AMIs across regions.</p>\n\t\t\n\t\t       <note>\n            <p>You can't specify cross-Region copy rules for policies that create snapshots on an Outpost. \n\t\t\tIf the policy creates snapshots in a Region, then snapshots can be copied to up to three \n\t\t\tRegions or Outposts.</p>\n         </note>"
          }
        },
        "ShareRules": {
          "target": "com.amazonaws.dlm#ShareRules",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot policies only]</b> The rule for sharing snapshots with other Amazon Web Services accounts.</p>"
          }
        },
        "DeprecateRule": {
          "target": "com.amazonaws.dlm#DeprecateRule",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[AMI policies only]</b> The AMI deprecation rule for the schedule.</p>"
          }
        },
        "ArchiveRule": {
          "target": "com.amazonaws.dlm#ArchiveRule",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>[Snapshot policies that target volumes only]</b> The snapshot archiving rule for the schedule. When you specify an archiving \n\t\t\trule, snapshots are automatically moved from the standard tier to the archive tier once the schedule's \n\t\t\tretention threshold is met. Snapshots are then retained in the archive tier for the archive retention \n\t\t\tperiod that you specify. </p>\n\t\t       <p>For more information about using snapshot archiving, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-ami-policy.html#dlm-archive\">Considerations for \n\t\t\t\tsnapshot lifecycle policies</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Snapshot and AMI policies only]</b> Specifies a schedule for a snapshot or AMI lifecycle policy.</p>"
      }
    },
    "com.amazonaws.dlm#ScheduleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Schedule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.dlm#ScheduleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 120
        },
        "smithy.api#pattern": "^[0-9A-Za-z _-]+$"
      }
    },
    "com.amazonaws.dlm#SettablePolicyStateValues": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.dlm#ShareRule": {
      "type": "structure",
      "members": {
        "TargetAccounts": {
          "target": "com.amazonaws.dlm#ShareTargetAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Amazon Web Services accounts with which to share the snapshots.</p>",
            "smithy.api#required": {}
          }
        },
        "UnshareInterval": {
          "target": "com.amazonaws.dlm#Interval",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The period after which snapshots that are shared with other Amazon Web Services accounts are automatically unshared.</p>"
          }
        },
        "UnshareIntervalUnit": {
          "target": "com.amazonaws.dlm#RetentionIntervalUnitValues",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time for the automatic unsharing interval.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>[Snapshot policies only]</b> Specifies a rule for sharing snapshots across Amazon Web Services accounts.</p>"
      }
    },
    "com.amazonaws.dlm#ShareRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#ShareRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.dlm#ShareTargetAccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#AwsAccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.dlm#SnapshotOwnerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#AwsAccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.dlm#StandardTierRetainRuleCount": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.dlm#StandardTierRetainRuleInterval": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.dlm#StatusMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[\\p{all}]*$"
      }
    },
    "com.amazonaws.dlm#String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[\\p{all}]*$"
      }
    },
    "com.amazonaws.dlm#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.dlm#String",
          "traits": {
            "smithy.api#documentation": "<p>The tag key.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.dlm#String",
          "traits": {
            "smithy.api#documentation": "<p>The tag value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a tag for a resource.</p>"
      }
    },
    "com.amazonaws.dlm#TagFilter": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\p{all}]*$"
      }
    },
    "com.amazonaws.dlm#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$"
      }
    },
    "com.amazonaws.dlm#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.dlm#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dlm#TagKey"
      },
      "value": {
        "target": "com.amazonaws.dlm#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.dlm#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified tags to the specified resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.dlm#PolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.dlm#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dlm#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.dlm#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\p{all}]*$"
      }
    },
    "com.amazonaws.dlm#TagsToAddFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#TagFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.dlm#TagsToAddList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 45
        }
      }
    },
    "com.amazonaws.dlm#Target": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\w:\\-\\/\\*]+$"
      }
    },
    "com.amazonaws.dlm#TargetRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 16
        },
        "smithy.api#pattern": "^([a-z]+-){2,3}\\d$"
      }
    },
    "com.amazonaws.dlm#TargetTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.dlm#TargetTagsFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#TagFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.dlm#Time": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 5
        },
        "smithy.api#pattern": "^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$"
      }
    },
    "com.amazonaws.dlm#TimesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Time"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.dlm#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.dlm#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified tags from the specified resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.dlm#PolicyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.dlm#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dlm#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.dlm#UpdateLifecyclePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dlm#UpdateLifecyclePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.dlm#UpdateLifecyclePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.dlm#InternalServerException"
        },
        {
          "target": "com.amazonaws.dlm#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.dlm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dlm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the specified lifecycle policy.</p>\n\t\t       <p>For more information about updating a policy, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/view-modify-delete.html#modify\">Modify lifecycle \n\t\t\tpolicies</a>.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/policies/{PolicyId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.dlm#UpdateLifecyclePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.dlm#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the lifecycle policy.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.dlm#ExecutionRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to run the operations specified by\n\t\t\tthe lifecycle policy.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.dlm#SettablePolicyStateValues",
          "traits": {
            "smithy.api#documentation": "<p>The desired activation state of the lifecycle policy after creation.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.dlm#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the lifecycle policy.</p>"
          }
        },
        "PolicyDetails": {
          "target": "com.amazonaws.dlm#PolicyDetails",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the lifecycle policy. You cannot update the policy type or the\n\t\t\tresource type.</p>"
          }
        }
      }
    },
    "com.amazonaws.dlm#UpdateLifecyclePolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.dlm#VariableTagsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dlm#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 45
        }
      }
    },
    "com.amazonaws.dlm#dlm_20180112": {
      "type": "service",
      "version": "2018-01-12",
      "operations": [
        {
          "target": "com.amazonaws.dlm#CreateLifecyclePolicy"
        },
        {
          "target": "com.amazonaws.dlm#DeleteLifecyclePolicy"
        },
        {
          "target": "com.amazonaws.dlm#GetLifecyclePolicies"
        },
        {
          "target": "com.amazonaws.dlm#GetLifecyclePolicy"
        },
        {
          "target": "com.amazonaws.dlm#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.dlm#TagResource"
        },
        {
          "target": "com.amazonaws.dlm#UntagResource"
        },
        {
          "target": "com.amazonaws.dlm#UpdateLifecyclePolicy"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DLM",
          "arnNamespace": "dlm",
          "cloudFormationName": "DLM",
          "cloudTrailEventSource": "dlm.amazonaws.com",
          "endpointPrefix": "dlm"
        },
        "aws.auth#sigv4": {
          "name": "dlm"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Data Lifecycle Manager</fullname>\n\t\t       <p>With Amazon Data Lifecycle Manager, you can manage the lifecycle of your Amazon Web Services resources. You create\n\t\t\tlifecycle policies, which are used to automate operations on the specified\n\t\t\tresources.</p>\n\t\t       <p>Amazon Data Lifecycle Manager supports Amazon EBS volumes and snapshots. For information about using Amazon Data Lifecycle Manager\n\t\t\twith Amazon EBS, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-lifecycle.html\">\n\t\t\t\tAmazon Data Lifecycle Manager</a> in the <i>Amazon EC2 User Guide</i>.</p>",
        "smithy.api#title": "Amazon Data Lifecycle Manager",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://dlm-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://dlm-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://dlm.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://dlm.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dlm.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
[...]
