{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.docdb#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.docdb#AddTagsToResourceMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.docdb#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBSnapshotNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds metadata tags to an Amazon DocumentDB resource. You can use these tags with cost allocation\n            reporting to track costs that are associated with Amazon DocumentDB resources. or in a\n                <code>Condition</code> statement in an AWS Identity and Access Management (IAM)\n            policy for Amazon DocumentDB.</p>"
      }
    },
    "com.amazonaws.docdb#AddTagsToResourceMessage": {
      "type": "structure",
      "members": {
        "ResourceName": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon DocumentDB resource that the tags are added to. This value is an Amazon Resource Name\n            (ARN).</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.docdb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the Amazon DocumentDB resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input to <a>AddTagsToResource</a>.</p>"
      }
    },
    "com.amazonaws.docdb#AmazonRDSv19": {
      "type": "service",
      "version": "2014-10-31",
      "operations": [
        {
          "target": "com.amazonaws.docdb#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.docdb#ApplyPendingMaintenanceAction"
        },
        {
          "target": "com.amazonaws.docdb#CopyDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.docdb#CopyDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.docdb#CreateDBCluster"
        },
        {
          "target": "com.amazonaws.docdb#CreateDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.docdb#CreateDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.docdb#CreateDBInstance"
        },
        {
          "target": "com.amazonaws.docdb#CreateDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.docdb#DeleteDBCluster"
        },
        {
          "target": "com.amazonaws.docdb#DeleteDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.docdb#DeleteDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.docdb#DeleteDBInstance"
        },
        {
          "target": "com.amazonaws.docdb#DeleteDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.docdb#DescribeCertificates"
        },
        {
          "target": "com.amazonaws.docdb#DescribeDBClusterParameterGroups"
        },
        {
          "target": "com.amazonaws.docdb#DescribeDBClusterParameters"
        },
        {
          "target": "com.amazonaws.docdb#DescribeDBClusters"
        },
        {
          "target": "com.amazonaws.docdb#DescribeDBClusterSnapshotAttributes"
        },
        {
          "target": "com.amazonaws.docdb#DescribeDBClusterSnapshots"
        },
        {
          "target": "com.amazonaws.docdb#DescribeDBEngineVersions"
        },
        {
          "target": "com.amazonaws.docdb#DescribeDBInstances"
        },
        {
          "target": "com.amazonaws.docdb#DescribeDBSubnetGroups"
        },
        {
          "target": "com.amazonaws.docdb#DescribeEngineDefaultClusterParameters"
        },
        {
          "target": "com.amazonaws.docdb#DescribeEventCategories"
        },
        {
          "target": "com.amazonaws.docdb#DescribeEvents"
        },
        {
          "target": "com.amazonaws.docdb#DescribeOrderableDBInstanceOptions"
        },
        {
          "target": "com.amazonaws.docdb#DescribePendingMaintenanceActions"
        },
        {
          "target": "com.amazonaws.docdb#FailoverDBCluster"
        },
        {
          "target": "com.amazonaws.docdb#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.docdb#ModifyDBCluster"
        },
        {
          "target": "com.amazonaws.docdb#ModifyDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.docdb#ModifyDBClusterSnapshotAttribute"
        },
        {
          "target": "com.amazonaws.docdb#ModifyDBInstance"
        },
        {
          "target": "com.amazonaws.docdb#ModifyDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.docdb#RebootDBInstance"
        },
        {
          "target": "com.amazonaws.docdb#RemoveTagsFromResource"
        },
        {
          "target": "com.amazonaws.docdb#ResetDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.docdb#RestoreDBClusterFromSnapshot"
        },
        {
          "target": "com.amazonaws.docdb#RestoreDBClusterToPointInTime"
        },
        {
          "target": "com.amazonaws.docdb#StartDBCluster"
        },
        {
          "target": "com.amazonaws.docdb#StopDBCluster"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "DocDB",
          "arnNamespace": "rds",
          "cloudFormationName": "DocDB",
          "cloudTrailEventSource": "v20141031.admin.rds"
        },
        "aws.auth#sigv4": {
          "name": "rds"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<p>Amazon DocumentDB API documentation</p>",
        "smithy.api#title": "Amazon DocumentDB with MongoDB compatibility",
        "smithy.api#xmlNamespace": {
          "uri": "http://rds.amazonaws.com/doc/2014-10-31/"
        }
      }
    },
    "com.amazonaws.docdb#ApplyMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "immediate"
          },
          {
            "value": "pending-reboot"
          }
        ]
      }
    },
    "com.amazonaws.docdb#ApplyPendingMaintenanceAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.docdb#ApplyPendingMaintenanceActionMessage"
      },
      "output": {
        "target": "com.amazonaws.docdb#ApplyPendingMaintenanceActionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.docdb#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidDBInstanceStateFault"
        },
        {
          "target": "com.amazonaws.docdb#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Applies a pending maintenance action to a resource (for example, to a DB\n            instance).</p>"
      }
    },
    "com.amazonaws.docdb#ApplyPendingMaintenanceActionMessage": {
      "type": "structure",
      "members": {
        "ApplyAction": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The pending maintenance action to apply to this resource.</p>\n        <p>Valid values: <code>system-update</code>, <code>db-upgrade</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "OptInType": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the type of opt-in request or undoes an opt-in request. An\n            opt-in request of type <code>immediate</code> can't be undone.</p>\n        <p>Valid values:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>immediate</code> - Apply the maintenance action immediately.</p>\n            </li>\n            <li>\n                <p>\n                  <code>next-maintenance</code> - Apply the maintenance action during the next\n                    maintenance window for the resource.</p>\n            </li>\n            <li>\n                <p>\n                  <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code>\n                    opt-in requests.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ResourceIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource that the pending maintenance action\n            applies to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input to <a>ApplyPendingMaintenanceAction</a>.</p>"
      }
    },
    "com.amazonaws.docdb#ApplyPendingMaintenanceActionResult": {
      "type": "structure",
      "members": {
        "ResourcePendingMaintenanceActions": {
          "target": "com.amazonaws.docdb#ResourcePendingMaintenanceActions"
        }
      }
    },
    "com.amazonaws.docdb#AttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#String",
        "traits": {
          "smithy.api#xmlName": "AttributeValue"
        }
      }
    },
    "com.amazonaws.docdb#AuthorizationNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified CIDR IP or Amazon EC2 security group isn't authorized for the\n            specified DB security group.</p>\n        <p>Amazon DocumentDB also might not be authorized to perform necessary actions on your behalf\n            using IAM.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.docdb#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Availability Zone.</p>"
      }
    },
    "com.amazonaws.docdb#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#AvailabilityZone",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazonaws.docdb#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#String",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazonaws.docdb#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.docdb#BooleanOptional": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.docdb#Certificate": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the certificate.</p>\n         <p>Example: <code>arn:aws:rds:us-east-1::cert:rds-ca-2019</code>\n         </p>"
          }
        },
        "CertificateIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique key that identifies a certificate.</p>\n         <p>Example: <code>rds-ca-2019</code>\n         </p>"
          }
        },
        "CertificateType": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the certificate.</p>\n         <p>Example: <code>CA</code>\n         </p>"
          }
        },
        "Thumbprint": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The thumbprint of the certificate.</p>"
          }
        },
        "ValidFrom": {
          "target": "com.amazonaws.docdb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting date-time from which the certificate is valid.</p>\n         <p>Example: <code>2019-07-31T17:57:09Z</code>\n         </p>"
          }
        },
        "ValidTill": {
          "target": "com.amazonaws.docdb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date-time after which the certificate is no longer valid.</p>\n         <p>Example: <code>2024-07-31T17:57:09Z</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A certificate authority (CA) certificate for an AWS account.</p>"
      }
    },
    "com.amazonaws.docdb#CertificateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#Certificate",
        "traits": {
          "smithy.api#xmlName": "Certificate"
        }
      }
    },
    "com.amazonaws.docdb#CertificateMessage": {
      "type": "structure",
      "members": {
        "Certificates": {
          "target": "com.amazonaws.docdb#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>A list of certificates for this AWS account.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided if the number of records retrieved is greater than\n         <code>MaxRecords</code>.  If this parameter is specified, the marker specifies the next record\n         in the list. Including the value of <code>Marker</code> in the next call to \n         <code>DescribeCertificates</code> results in the next page of certificates.</p>"
          }
        }
      }
    },
    "com.amazonaws.docdb#CertificateNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>CertificateIdentifier</code> doesn't refer to an existing certificate. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.docdb#CloudwatchLogsExportConfiguration": {
      "type": "structure",
      "members": {
        "DisableLogTypes": {
          "target": "com.amazonaws.docdb#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of log types to disable.</p>"
          }
        },
        "EnableLogTypes": {
          "target": "com.amazonaws.docdb#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of log types to enable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration setting for the log types to be enabled for export to Amazon\n            CloudWatch Logs for a specific DB instance or DB cluster.</p>\n        <p>The <code>EnableLogTypes</code> and <code>DisableLogTypes</code> arrays determine\n            which logs are exported (or not exported) to CloudWatch Logs. The values within these\n            arrays depend on the DB engine that is being used.</p>"
      }
    },
    "com.amazonaws.docdb#CopyDBClusterParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.docdb#CopyDBClusterParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.docdb#CopyDBClusterParameterGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.docdb#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.docdb#DBParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBParameterGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified DB cluster parameter group.</p>"
      }
    },
    "com.amazonaws.docdb#CopyDBClusterParameterGroupMessage": {
      "type": "structure",
      "members": {
        "SourceDBClusterParameterGroupIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter\n            group.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must specify a valid DB cluster parameter group.</p>\n            </li>\n            <li>\n                <p>If the source DB cluster parameter group is in the same AWS Region as the\n                    copy, specify a valid DB parameter group identifier; for example,\n                        <code>my-db-cluster-param-group</code>, or a valid ARN.</p>\n            </li>\n            <li>\n                <p>If the source DB parameter group is in a different AWS Region than the copy,\n                    specify a valid DB cluster parameter group ARN; for example,\n                        <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.docdb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags that are to be assigned to the parameter group.</p>"
          }
        },
        "TargetDBClusterParameterGroupDescription": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for the copied DB cluster parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetDBClusterParameterGroupIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the copied DB cluster parameter group.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Cannot be null, empty, or blank.</p>\n            </li>\n            <li>\n                <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n                <p>The first character must be a letter.</p>\n            </li>\n            <li>\n                <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n        <p>Example: <code>my-cluster-param-group1</code>\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input to <a>CopyDBClusterParameterGroup</a>.</p>"
      }
    },
    "com.amazonaws.docdb#CopyDBClusterParameterGroupResult": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroup": {
          "target": "com.amazonaws.docdb#DBClusterParameterGroup"
        }
      }
    },
    "com.amazonaws.docdb#CopyDBClusterSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.docdb#CopyDBClusterSnapshotMessage"
      },
      "output": {
        "target": "com.amazonaws.docdb#CopyDBClusterSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.docdb#DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.docdb#DBClusterSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidDBClusterSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.docdb#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.docdb#SnapshotQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies a snapshot of a DB cluster.</p>\n        <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot,\n                <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name\n            (ARN) of the shared DB cluster snapshot.</p>\n        <p>To cancel the copy operation after it is in progress, delete the target DB cluster\n            snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB\n            cluster snapshot is in the <i>copying</i> status.</p>"
      }
    },
    "com.amazonaws.docdb#CopyDBClusterSnapshotMessage": {
      "type": "structure",
      "members": {
        "CopyTags": {
          "target": "com.amazonaws.docdb#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to copy all tags from the source DB cluster snapshot to the\n            target DB cluster snapshot, and otherwise <code>false</code>. The default is\n                <code>false</code>.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS KMS key ID for an encrypted DB cluster snapshot. The AWS KMS key ID is the\n            Amazon Resource Name (ARN), AWS KMS key identifier, or the AWS KMS key alias for the AWS\n            KMS encryption key. </p>\n        <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a\n            value for <code>KmsKeyId</code> to encrypt the copy with a new AWS KMS encryption key.\n            If you don't specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster\n            snapshot is encrypted with the same AWS KMS key as the source DB cluster snapshot. </p>\n        <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account,\n            then you must specify a value for <code>KmsKeyId</code>. </p>\n        <p>To copy an encrypted DB cluster snapshot to another AWS Region, set\n                <code>KmsKeyId</code> to the AWS KMS key ID that you want to use to encrypt the copy\n            of the DB cluster snapshot in the destination Region. AWS KMS encryption keys are\n            specific to the AWS Region that they are created in, and you can't use encryption keys\n            from one Region in another Region.</p>\n        <p>If you copy an unencrypted DB cluster snapshot and specify a value for the\n                <code>KmsKeyId</code> parameter, an error is returned.</p>"
          }
        },
        "PreSignedUrl": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL that contains a Signature Version 4 signed request for the\n                <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the\n            source DB cluster snapshot to copy. You must use the <code>PreSignedUrl</code> parameter\n            when copying an encrypted DB cluster snapshot from another AWS Region.</p>\n        <p>The presigned URL must be a valid request for the <code>CopyDBSClusterSnapshot</code>\n            API action that can be executed in the source AWS Region that contains the encrypted DB\n            cluster snapshot to be copied. The presigned URL request must contain the following\n            parameter values:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to\n                    encrypt the copy of the DB cluster snapshot in the destination AWS Region. This\n                    is the same identifier for both the <code>CopyDBClusterSnapshot</code> action\n                    that is called in the destination AWS Region, and the action contained in the\n                    presigned URL.</p>\n            </li>\n            <li>\n                <p>\n                  <code>DestinationRegion</code> - The name of the AWS Region that the DB\n                    cluster snapshot will be created in.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot\n                    identifier for the encrypted DB cluster snapshot to be copied. This identifier\n                    must be in the Amazon Resource Name (ARN) format for the source AWS Region. For\n                    example, if you are copying an encrypted DB cluster snapshot from the us-west-2\n                    AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like\n                    the following example:\n                        <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:my-cluster-snapshot-20161115</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "SourceDBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster snapshot to copy. This parameter is not case\n            sensitive.</p>\n        <p>You can't copy an encrypted, shared DB cluster snapshot from one AWS Region to\n            another.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must specify a valid system snapshot in the \"available\" state.</p>\n            </li>\n            <li>\n                <p>If the source snapshot is in the same AWS Region as the copy, specify a valid\n                    DB snapshot identifier.</p>\n            </li>\n            <li>\n                <p>If the source snapshot is in a different AWS Region than the copy, specify a\n                    valid DB cluster snapshot ARN.</p>\n            </li>\n         </ul>\n        <p>Example: <code>my-cluster-snapshot1</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.docdb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the DB cluster snapshot.</p>"
          }
        },
        "TargetDBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new DB cluster snapshot to create from the source DB cluster\n            snapshot. This parameter is not case sensitive.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n                <p>The first character must be a letter.</p>\n            </li>\n            <li>\n                <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n        <p>Example: <code>my-cluster-snapshot2</code>\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input to <a>CopyDBClusterSnapshot</a>.</p>"
      }
    },
    "com.amazonaws.docdb#CopyDBClusterSnapshotResult": {
      "type": "structure",
      "members": {
        "DBClusterSnapshot": {
          "target": "com.amazonaws.docdb#DBClusterSnapshot"
        }
      }
    },
    "com.amazonaws.docdb#CreateDBCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.docdb#CreateDBClusterMessage"
      },
      "output": {
        "target": "com.amazonaws.docdb#CreateDBClusterResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.docdb#DBClusterAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.docdb#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBClusterParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBClusterQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.docdb#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "target": "com.amazonaws.docdb#DBSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#InsufficientStorageClusterCapacityFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidDBInstanceStateFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidDBSubnetGroupStateFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.docdb#InvalidVPCNetworkStateFault"
        },
        {
          "target": "com.amazonaws.docdb#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.docdb#StorageQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon DocumentDB DB cluster.</p>"
      }
    },
    "com.amazonaws.docdb#CreateDBClusterMessage": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "com.amazonaws.docdb#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon EC2 Availability Zones that instances in the DB cluster can be\n            created in.</p>"
          }
        },
        "BackupRetentionPeriod": {
          "target": "com.amazonaws.docdb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which automated backups are retained. You must specify a\n            minimum value of 1.</p>\n        <p>Default: 1</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must be a value from 1 to 35.</p>\n            </li>\n         </ul>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n                <p>The first character must be a letter.</p>\n            </li>\n            <li>\n                <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n        <p>Example: <code>my-cluster</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p> The name of the DB cluster parameter group to associate with this DB cluster.</p>"
          }
        },
        "DBSubnetGroupName": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>A DB subnet group to associate with this DB cluster.</p>\n        <p>Constraints: Must match the name of an existing <code>DBSubnetGroup</code>. Must not\n            be default.</p>\n        <p>Example: <code>mySubnetgroup</code>\n        </p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.docdb#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this cluster can be deleted. If <code>DeletionProtection</code> is\n            enabled, the cluster cannot be deleted unless it is modified and\n                <code>DeletionProtection</code> is disabled. <code>DeletionProtection</code>\n            protects clusters from being accidentally deleted.</p>"
          }
        },
        "EnableCloudwatchLogsExports": {
          "target": "com.amazonaws.docdb#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of log types that need to be enabled for exporting to Amazon CloudWatch\n            Logs.</p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database engine to be used for this DB cluster.</p>\n        <p>Valid values: <code>docdb</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the database engine to use.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS KMS key identifier for an encrypted DB cluster.</p>\n        <p>The AWS KMS key identifier is the Amazon Resource Name (ARN) for the AWS KMS\n            encryption key. If you are creating a DB cluster using the same AWS account that owns\n            the AWS KMS encryption key that is used to encrypt the new DB cluster, you can use the\n            AWS KMS key alias instead of the ARN for the AWS KMS encryption key.</p>\n        <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p>\n        <ul>\n            <li>\n                <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source,\n                    then Amazon DocumentDB uses the encryption key that is used to encrypt the source.\n                    Otherwise, Amazon DocumentDB uses your default encryption key. </p>\n            </li>\n            <li>\n                <p>If the <code>StorageEncrypted</code> parameter is <code>true</code> and\n                        <code>ReplicationSourceIdentifier</code> is not specified, Amazon DocumentDB uses your\n                    default encryption key.</p>\n            </li>\n         </ul>\n        <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has\n            a different default encryption key for each AWS Region.</p>\n        <p>If you create a replica of an encrypted DB cluster in another AWS Region, you must set\n                <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region.\n            This key is used to encrypt the replica in that AWS Region.</p>"
          }
        },
        "MasterUserPassword": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The password for the master database user. This password can contain any printable\n            ASCII character except forward slash (/), double quote (\"), or the \"at\" symbol\n            (@).</p>\n        <p>Constraints: Must contain from 8 to 100 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "MasterUsername": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the master user for the DB cluster.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must be from 1 to 63 letters or numbers.</p>\n            </li>\n            <li>\n                <p>The first character must be a letter.</p>\n            </li>\n            <li>\n                <p>Cannot be a reserved word for the chosen database engine.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.docdb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which the instances in the DB cluster accept connections.</p>"
          }
        },
        "PreferredBackupWindow": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The daily time range during which automated backups are created if automated backups\n            are enabled using the <code>BackupRetentionPeriod</code> parameter. </p>\n        <p>The default is a 30-minute window selected at random from an 8-hour block of time for\n            each AWS Region. </p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p>\n            </li>\n            <li>\n                <p>Must be in Universal Coordinated Time (UTC).</p>\n            </li>\n            <li>\n                <p>Must not conflict with the preferred maintenance window.</p>\n            </li>\n            <li>\n                <p>Must be at least 30 minutes.</p>\n            </li>\n         </ul>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The weekly time range during which system maintenance can occur, in Universal\n            Coordinated Time (UTC).</p>\n        <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code>\n        </p>\n        <p>The default is a 30-minute window selected at random from an 8-hour block of time for\n            each AWS Region, occurring on a random day of the week.</p>\n        <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p>\n        <p>Constraints: Minimum 30-minute window.</p>"
          }
        },
        "StorageEncrypted": {
          "target": "com.amazonaws.docdb#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the DB cluster is encrypted.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.docdb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the DB cluster.</p>"
          }
        },
        "VpcSecurityGroupIds": {
          "target": "com.amazonaws.docdb#VpcSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of EC2 VPC security groups to associate with this DB cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input to <a>CreateDBCluster</a>.</p>"
      }
    },
    "com.amazonaws.docdb#CreateDBClusterParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.docdb#CreateDBClusterParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.docdb#CreateDBClusterParameterGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.docdb#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.docdb#DBParameterGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DB cluster parameter group.</p>\n        <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB\n            cluster.</p>\n        <p>A DB cluster parameter group is initially created with the default parameters for the\n            database engine used by instances in the DB cluster. To provide custom values for any of\n            the parameters, you must modify the group after you create it. After you create a DB\n            cluster parameter group, you must associate it with your DB cluster. For the new DB\n            cluster parameter group and associated settings to take effect, you must then reboot the\n            DB instances in the DB cluster without failover.</p>\n        <important>\n            <p>After you create a DB cluster parameter group, you should wait at least 5 minutes\n                before creating your first DB cluster that uses that DB cluster parameter group as\n                the default parameter group. This allows Amazon DocumentDB to fully complete the create action\n                before the DB cluster parameter group is used as the default for a new DB cluster.\n                This step is especially important for parameters that are critical when creating the\n                default database for a DB cluster, such as the character set for the default\n                database defined by the <code>character_set_database</code> parameter.</p>\n        </important>"
      }
    },
    "com.amazonaws.docdb#CreateDBClusterParameterGroupMessage": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB cluster parameter group.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must match the name of an existing\n                    <code>DBClusterParameterGroup</code>.</p>\n            </li>\n         </ul>\n        <note>\n            <p>This value is stored as a lowercase string.</p>\n        </note>",
            "smithy.api#required": {}
          }
        },
        "DBParameterGroupFamily": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB cluster parameter group family name.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for the DB cluster parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.docdb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the DB cluster parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of <a>CreateDBClusterParameterGroup</a>.</p>"
      }
    },
    "com.amazonaws.docdb#CreateDBClusterParameterGroupResult": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroup": {
          "target": "com.amazonaws.docdb#DBClusterParameterGroup"
        }
      }
    },
    "com.amazonaws.docdb#CreateDBClusterResult": {
      "type": "structure",
      "members": {
        "DBCluster": {
          "target": "com.amazonaws.docdb#DBCluster"
        }
      }
    },
    "com.amazonaws.docdb#CreateDBClusterSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.docdb#CreateDBClusterSnapshotMessage"
      },
      "output": {
        "target": "com.amazonaws.docdb#CreateDBClusterSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.docdb#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidDBClusterSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.docdb#SnapshotQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a snapshot of a DB cluster. </p>"
      }
    },
    "com.amazonaws.docdb#CreateDBClusterSnapshotMessage": {
      "type": "structure",
      "members": {
        "DBClusterIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster to create a snapshot for. This parameter is not case\n            sensitive.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must match the identifier of an existing <code>DBCluster</code>.</p>\n            </li>\n         </ul>\n        <p>Example: <code>my-cluster</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "DBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster snapshot. This parameter is stored as a lowercase\n            string.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n                <p>The first character must be a letter.</p>\n            </li>\n            <li>\n                <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n        <p>Example: <code>my-cluster-snapshot1</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.docdb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the DB cluster snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of <a>CreateDBClusterSnapshot</a>.</p>"
      }
    },
    "com.amazonaws.docdb#CreateDBClusterSnapshotResult": {
      "type": "structure",
      "members": {
        "DBClusterSnapshot": {
          "target": "com.amazonaws.docdb#DBClusterSnapshot"
        }
      }
    },
    "com.amazonaws.docdb#CreateDBInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.docdb#CreateDBInstanceMessage"
      },
      "output": {
        "target": "com.amazonaws.docdb#CreateDBInstanceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.docdb#AuthorizationNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBInstanceAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.docdb#DBParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "target": "com.amazonaws.docdb#DBSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.docdb#InstanceQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.docdb#InsufficientDBInstanceCapacityFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.docdb#InvalidVPCNetworkStateFault"
        },
        {
          "target": "com.amazonaws.docdb#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.docdb#StorageQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.docdb#StorageTypeNotSupportedFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DB instance.</p>"
      }
    },
    "com.amazonaws.docdb#CreateDBInstanceMessage": {
      "type": "structure",
      "members": {
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.docdb#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that minor engine upgrades are applied automatically to the DB instance\n            during the maintenance window.</p>\n        <p>Default: <code>true</code>\n        </p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon EC2 Availability Zone that the DB instance is created in.</p>\n        <p>Default: A random, system-chosen Availability Zone in the endpoint's AWS\n            Region.</p>\n        <p> Example: <code>us-east-1d</code>\n        </p>\n        <p> Constraint: The <code>AvailabilityZone</code> parameter can't be specified if the\n                <code>MultiAZ</code> parameter is set to <code>true</code>. The specified\n            Availability Zone must be in the same AWS Region as the current endpoint. </p>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster that the instance will belong to.</p>",
            "smithy.api#required": {}
          }
        },
        "DBInstanceClass": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The compute and memory capacity of the DB instance; for example,\n                <code>db.r5.large</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "DBInstanceIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB instance identifier. This parameter is stored as a lowercase string.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n                <p>The first character must be a letter.</p>\n            </li>\n            <li>\n                <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n        <p>Example: <code>mydbinstance</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Engine": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database engine to be used for this instance.</p>\n        <p>Valid value: <code>docdb</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The time range each week during which system maintenance can occur, in Universal\n            Coordinated Time (UTC).</p>\n        <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code>\n        </p>\n        <p>The default is a 30-minute window selected at random from an 8-hour block of time for\n            each AWS Region, occurring on a random day of the week. </p>\n        <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p>\n        <p>Constraints: Minimum 30-minute window.</p>"
          }
        },
        "PromotionTier": {
          "target": "com.amazonaws.docdb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the\n            primary instance after a failure of the existing primary instance.</p>\n        <p>Default: 1</p>\n        <p>Valid values: 0-15</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.docdb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the DB instance. You can assign up to \n           10 tags to an instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input to <a>CreateDBInstance</a>.</p>"
      }
    },
    "com.amazonaws.docdb#CreateDBInstanceResult": {
      "type": "structure",
      "members": {
        "DBInstance": {
          "target": "com.amazonaws.docdb#DBInstance"
        }
      }
    },
    "com.amazonaws.docdb#CreateDBSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.docdb#CreateDBSubnetGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.docdb#CreateDBSubnetGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.docdb#DBSubnetGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.docdb#DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "target": "com.amazonaws.docdb#DBSubnetGroupQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.docdb#DBSubnetQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.docdb#InvalidSubnet"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at\n            least two Availability Zones in the AWS Region.</p>"
      }
    },
    "com.amazonaws.docdb#CreateDBSubnetGroupMessage": {
      "type": "structure",
      "members": {
        "DBSubnetGroupDescription": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for the DB subnet group.</p>",
            "smithy.api#required": {}
          }
        },
        "DBSubnetGroupName": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name for the DB subnet group. This value is stored as a lowercase string.</p>\n        <p>Constraints: Must contain no more than 255 letters, numbers, periods, underscores,\n            spaces, or hyphens. Must not be default.</p>\n        <p>Example: <code>mySubnetgroup</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.docdb#SubnetIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 subnet IDs for the DB subnet group.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.docdb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the DB subnet group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input to <a>CreateDBSubnetGroup</a>.</p>"
      }
    },
    "com.amazonaws.docdb#CreateDBSubnetGroupResult": {
      "type": "structure",
      "members": {
        "DBSubnetGroup": {
          "target": "com.amazonaws.docdb#DBSubnetGroup"
        }
      }
    },
    "com.amazonaws.docdb#DBCluster": {
      "type": "structure",
      "members": {
        "AssociatedRoles": {
          "target": "com.amazonaws.docdb#DBClusterRoles",
          "traits": {
            "smithy.api#documentation": "<p>Provides a list of the AWS Identity and Access Management (IAM) roles that are\n            associated with the DB cluster. IAM roles that are associated with a DB cluster grant\n            permission for the DB cluster to access other AWS services on your behalf.</p>"
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.docdb#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>Provides the list of Amazon EC2 Availability Zones that instances in the DB cluster\n            can be created in.</p>"
          }
        },
        "BackupRetentionPeriod": {
          "target": "com.amazonaws.docdb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of days for which automatic DB snapshots are retained.</p>"
          }
        },
        "ClusterCreateTime": {
          "target": "com.amazonaws.docdb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time when the DB cluster was created, in Universal Coordinated Time\n            (UTC).</p>"
          }
        },
        "DBClusterArn": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the DB cluster.</p>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains a user-supplied DB cluster identifier. This identifier is the unique key that\n            identifies a DB cluster.</p>"
          }
        },
        "DBClusterMembers": {
          "target": "com.amazonaws.docdb#DBClusterMemberList",
          "traits": {
            "smithy.api#documentation": "<p>Provides the list of instances that make up the DB cluster.</p>"
          }
        },
        "DBClusterParameterGroup": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the DB cluster parameter group for the DB cluster.</p>"
          }
        },
        "DBSubnetGroup": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies information on the subnet group that is associated with the DB cluster,\n            including the name, description, and subnets in the subnet group.</p>"
          }
        },
        "DbClusterResourceId": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region-unique, immutable identifier for the DB cluster. This identifier is\n            found in AWS CloudTrail log entries whenever the AWS KMS key for the DB cluster is\n            accessed.</p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.docdb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this cluster can be deleted. If <code>DeletionProtection</code> is\n            enabled, the cluster cannot be deleted unless it is modified and\n                <code>DeletionProtection</code> is disabled. <code>DeletionProtection</code>\n            protects clusters from being accidentally deleted.</p>"
          }
        },
        "EarliestRestorableTime": {
          "target": "com.amazonaws.docdb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The earliest time to which a database can be restored with point-in-time\n            restore.</p>"
          }
        },
        "EnabledCloudwatchLogsExports": {
          "target": "com.amazonaws.docdb#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of log types that this DB cluster is configured to export to Amazon CloudWatch\n            Logs.</p>"
          }
        },
        "Endpoint": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the connection endpoint for the primary instance of the DB cluster.</p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the name of the database engine to be used for this DB cluster.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the database engine version.</p>"
          }
        },
        "HostedZoneId": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID that Amazon Route 53 assigns when you create a hosted zone.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>StorageEncrypted</code> is <code>true</code>, the AWS KMS key identifier for\n            the encrypted DB cluster.</p>"
          }
        },
        "LatestRestorableTime": {
          "target": "com.amazonaws.docdb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the latest time to which a database can be restored with point-in-time\n            restore.</p>"
          }
        },
        "MasterUsername": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains the master user name for the DB cluster.</p>"
          }
        },
        "MultiAZ": {
          "target": "com.amazonaws.docdb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the DB cluster has instances in multiple Availability Zones.</p>"
          }
        },
        "PercentProgress": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the progress of the operation as a percentage.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.docdb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the port that the database engine is listening on.</p>"
          }
        },
        "PreferredBackupWindow": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the daily time range during which automated backups are created if automated\n            backups are enabled, as determined by the <code>BackupRetentionPeriod</code>. </p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the weekly time range during which system maintenance can occur, in\n            Universal Coordinated Time (UTC).</p>"
          }
        },
        "ReaderEndpoint": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The reader endpoint for the DB cluster. The reader endpoint for a DB cluster load\n            balances connections across the Amazon DocumentDB replicas that are available in a DB cluster. As\n            clients request new connections to the reader endpoint, Amazon DocumentDB distributes the\n            connection requests among the Amazon DocumentDB replicas in the DB cluster. This functionality can\n            help balance your read workload across multiple Amazon DocumentDB replicas in your DB cluster. </p>\n        <p>If a failover occurs, and the Amazon DocumentDB replica that you are connected to is promoted to\n            be the primary instance, your connection is dropped. To continue sending your read\n            workload to other Amazon DocumentDB replicas in the cluster, you can then reconnect to the reader\n            endpoint.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the current state of this DB cluster.</p>"
          }
        },
        "StorageEncrypted": {
          "target": "com.amazonaws.docdb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the DB cluster is encrypted.</p>"
          }
        },
        "VpcSecurityGroups": {
          "target": "com.amazonaws.docdb#VpcSecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>Provides a list of virtual private cloud (VPC) security groups that the DB cluster\n            belongs to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about a DB cluster. </p>"
      }
    },
    "com.amazonaws.docdb#DBClusterAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You already have a DB cluster with the given identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.docdb#DBClusterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#DBCluster",
        "traits": {
          "smithy.api#xmlName": "DBCluster"
        }
      }
    },
    "com.amazonaws.docdb#DBClusterMember": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroupStatus": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of the DB cluster parameter group for this member of the DB\n            cluster.</p>"
          }
        },
        "DBInstanceIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the instance identifier for this member of the DB cluster.</p>"
          }
        },
        "IsClusterWriter": {
          "target": "com.amazonaws.docdb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that is <code>true</code> if the cluster member is the primary instance for\n            the DB cluster and <code>false</code> otherwise.</p>"
          }
        },
        "PromotionTier": {
          "target": "com.amazonaws.docdb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the\n            primary instance after a failure of the existing primary instance. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an instance that is part of a DB cluster.</p>"
      }
    },
    "com.amazonaws.docdb#DBClusterMemberList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#DBClusterMember",
        "traits": {
          "smithy.api#xmlName": "DBClusterMember"
        }
      }
    },
    "com.amazonaws.docdb#DBClusterMessage": {
      "type": "structure",
      "members": {
        "DBClusters": {
          "target": "com.amazonaws.docdb#DBClusterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of DB clusters.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response\n         includes only records beyond the marker, up to the value specified by\n         <code>MaxRecords</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of <a>DescribeDBClusters</a>.</p>"
      }
    },
    "com.amazonaws.docdb#DBClusterNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>DBClusterIdentifier</code> doesn't refer to an existing DB cluster. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.docdb#DBClusterParameterGroup": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroupArn": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the DB cluster parameter group.</p>"
          }
        },
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the name of the DB cluster parameter group.</p>"
          }
        },
        "DBParameterGroupFamily": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the name of the DB parameter group family that this DB cluster parameter\n            group is compatible with.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the customer-specified description for this DB cluster parameter\n            group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about a DB cluster parameter group. </p>"
      }
    },
    "com.amazonaws.docdb#DBClusterParameterGroupDetails": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response\n         includes only records beyond the marker, up to the value specified by\n         <code>MaxRecords</code>.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.docdb#ParametersList",
          "traits": {
            "smithy.api#documentation": "<p>Provides a list of parameters for the DB cluster parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of <a>DBClusterParameterGroup</a>.</p>"
      }
    },
    "com.amazonaws.docdb#DBClusterParameterGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#DBClusterParameterGroup",
        "traits": {
          "smithy.api#xmlName": "DBClusterParameterGroup"
        }
      }
    },
    "com.amazonaws.docdb#DBClusterParameterGroupNameMessage": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a DB cluster parameter group.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must be from 1 to 255 letters or numbers.</p>\n            </li>\n            <li>\n                <p>The first character must be a letter.</p>\n            </li>\n            <li>\n                <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n        <note>\n            <p>This value is stored as a lowercase string.</p>\n        </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the name of a DB cluster parameter group.</p>"
      }
    },
    "com.amazonaws.docdb#DBClusterParameterGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>DBClusterParameterGroupName</code> doesn't refer to an existing DB cluster\n            parameter group. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.docdb#DBClusterParameterGroupsMessage": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroups": {
          "target": "com.amazonaws.docdb#DBClusterParameterGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of DB cluster parameter groups.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response\n         includes only records beyond the marker, up to the value specified by\n         <code>MaxRecords</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of <a>DBClusterParameterGroups</a>.</p>"
      }
    },
    "com.amazonaws.docdb#DBClusterQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DB cluster can't be created because you have reached the maximum allowed quota of\n            DB clusters.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.docdb#DBClusterRole": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that is associated with the DB\n            cluster.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Describes the state of association between the IAM role and the DB cluster. The\n                <code>Status</code> property returns one of the following values:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>ACTIVE</code> - The IAM role ARN is associated with the DB cluster and\n                    can be used to access other AWS services on your behalf.</p>\n            </li>\n            <li>\n                <p>\n                  <code>PENDING</code> - The IAM role ARN is being associated with the DB\n                    cluster.</p>\n            </li>\n            <li>\n                <p>\n                  <code>INVALID</code> - The IAM role ARN is associated with the DB cluster, but\n                    the DB cluster cannot assume the IAM role to access other AWS services on your\n                    behalf.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an AWS Identity and Access Management (IAM) role that is associated with a\n            DB cluster.</p>"
      }
    },
    "com.amazonaws.docdb#DBClusterRoles": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#DBClusterRole",
        "traits": {
          "smithy.api#xmlName": "DBClusterRole"
        }
      }
    },
    "com.amazonaws.docdb#DBClusterSnapshot": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "com.amazonaws.docdb#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>Provides the list of Amazon EC2 Availability Zones that instances in the DB cluster\n            snapshot can be restored in.</p>"
          }
        },
        "ClusterCreateTime": {
          "target": "com.amazonaws.docdb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time when the DB cluster was created, in Universal Coordinated Time\n            (UTC).</p>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the DB cluster identifier of the DB cluster that this DB cluster snapshot\n            was created from.</p>"
          }
        },
        "DBClusterSnapshotArn": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the DB cluster snapshot.</p>"
          }
        },
        "DBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the identifier for the DB cluster snapshot.</p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the database engine.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the version of the database engine for this DB cluster snapshot.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>StorageEncrypted</code> is <code>true</code>, the AWS KMS key identifier for\n            the encrypted DB cluster snapshot.</p>"
          }
        },
        "MasterUsername": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the master user name for the DB cluster snapshot.</p>"
          }
        },
        "PercentProgress": {
          "target": "com.amazonaws.docdb#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the percentage of the estimated data that has been transferred.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.docdb#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the port that the DB cluster was listening on at the time of the\n            snapshot.</p>"
          }
        },
        "SnapshotCreateTime": {
          "target": "com.amazonaws.docdb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Provides the time when the snapshot was taken, in UTC.</p>"
          }
        },
        "SnapshotType": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the type of the DB cluster snapshot.</p>"
          }
        },
        "SourceDBClusterSnapshotArn": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>If the DB cluster snapshot was copied from a source DB cluster snapshot, the ARN for\n            the source DB cluster snapshot; otherwise, a null value.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of this DB cluster snapshot.</p>"
          }
        },
        "StorageEncrypted": {
          "target": "com.amazonaws.docdb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the DB cluster snapshot is encrypted.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the virtual private cloud (VPC) ID that is associated with the DB cluster\n            snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about a DB cluster snapshot. </p>"
      }
    },
    "com.amazonaws.docdb#DBClusterSnapshotAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You already have a DB cluster snapshot with the given identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.docdb#DBClusterSnapshotAttribute": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the manual DB cluster snapshot attribute.</p>\n        <p>The attribute named <code>restore</code> refers to the list of AWS accounts that have\n            permission to copy or restore the manual DB cluster snapshot.</p>"
          }
        },
        "AttributeValues": {
          "target": "com.amazonaws.docdb#AttributeValueList",
          "traits": {
            "smithy.api#documentation": "<p>The values for the manual DB cluster snapshot attribute.</p>\n        <p>If the <code>AttributeName</code> field is set to <code>restore</code>, then this\n            element returns a list of IDs of the AWS accounts that are authorized to copy or restore\n            the manual DB cluster snapshot. If a value of <code>all</code> is in the list, then the\n            manual DB cluster snapshot is public and available for any AWS account to copy or\n            restore.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the name and values of a manual DB cluster snapshot attribute.</p>\n        <p>Manual DB cluster snapshot attributes are used to authorize other AWS accounts to\n            restore a manual DB cluster snapshot.</p>"
      }
    },
    "com.amazonaws.docdb#DBClusterSnapshotAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#DBClusterSnapshotAttribute",
        "traits": {
          "smithy.api#xmlName": "DBClusterSnapshotAttribute"
        }
      }
    },
    "com.amazonaws.docdb#DBClusterSnapshotAttributesResult": {
      "type": "structure",
      "members": {
        "DBClusterSnapshotAttributes": {
          "target": "com.amazonaws.docdb#DBClusterSnapshotAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of attributes and values for the DB cluster snapshot.</p>"
          }
        },
        "DBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster snapshot that the attributes apply to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about the attributes that are associated with a DB cluster\n            snapshot.</p>"
      }
    },
    "com.amazonaws.docdb#DBClusterSnapshotList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#DBClusterSnapshot",
        "traits": {
          "smithy.api#xmlName": "DBClusterSnapshot"
        }
      }
    },
    "com.amazonaws.docdb#DBClusterSnapshotMessage": {
      "type": "structure",
      "members": {
        "DBClusterSnapshots": {
          "target": "com.amazonaws.docdb#DBClusterSnapshotList",
          "traits": {
            "smithy.api#documentation": "<p>Provides a list of DB cluster snapshots.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response\n         includes only records beyond the marker, up to the value specified by\n         <code>MaxRecords</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of <a>DescribeDBClusterSnapshots</a>.</p>"
      }
    },
    "com.amazonaws.docdb#DBClusterSnapshotNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>DBClusterSnapshotIdentifier</code> doesn't refer to an existing DB cluster\n            snapshot. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.docdb#DBEngineVersion": {
      "type": "structure",
      "members": {
        "DBEngineDescription": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the database engine.</p>"
          }
        },
        "DBEngineVersionDescription": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the database engine version.</p>"
          }
        },
        "DBParameterGroupFamily": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB parameter group family for the database engine.</p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database engine.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the database engine.</p>"
          }
        },
        "ExportableLogTypes": {
          "target": "com.amazonaws.docdb#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The types of logs that the database engine has available for export to Amazon\n            CloudWatch Logs.</p>"
          }
        },
        "SupportsLogExportsToCloudwatchLogs": {
          "target": "com.amazonaws.docdb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether the engine version supports exporting the log types\n            specified by <code>ExportableLogTypes</code> to CloudWatch Logs.</p>"
          }
        },
        "ValidUpgradeTarget": {
          "target": "com.amazonaws.docdb#ValidUpgradeTargetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of engine versions that this database engine version can be upgraded to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Detailed information about a DB engine version. </p>"
      }
    },
    "com.amazonaws.docdb#DBEngineVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#DBEngineVersion",
        "traits": {
          "smithy.api#xmlName": "DBEngineVersion"
        }
      }
    },
    "com.amazonaws.docdb#DBEngineVersionMessage": {
      "type": "structure",
      "members": {
        "DBEngineVersions": {
          "target": "com.amazonaws.docdb#DBEngineVersionList",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about one or more DB engine versions.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response\n         includes only records beyond the marker, up to the value specified by\n         <code>MaxRecords</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of <a>DescribeDBEngineVersions</a>.</p>"
      }
    },
    "com.amazonaws.docdb#DBInstance": {
      "type": "structure",
      "members": {
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.docdb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that minor version patches are applied automatically.</p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the Availability Zone that the DB instance is located in.</p>"
          }
        },
        "BackupRetentionPeriod": {
          "target": "com.amazonaws.docdb#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of days for which automatic DB snapshots are retained.</p>"
          }
        },
        "CACertificateIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the CA certificate for this DB instance.</p>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains the name of the DB cluster that the DB instance is a member of if the DB\n            instance is a member of a DB cluster.</p>"
          }
        },
        "DBInstanceArn": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the DB instance.</p>"
          }
        },
        "DBInstanceClass": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains the name of the compute and memory capacity class of the DB instance.</p>"
          }
        },
        "DBInstanceIdentifier": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains a user-provided database identifier. This identifier is the unique key that\n            identifies a DB instance.</p>"
          }
        },
        "DBInstanceStatus": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the current state of this database.</p>"
          }
        },
        "DBSubnetGroup": {
          "target": "com.amazonaws.docdb#DBSubnetGroup",
          "traits": {
            "smithy.api#documentation": "<p>Specifies information on the subnet group that is associated with the DB instance,\n            including the name, description, and subnets in the subnet group.</p>"
          }
        },
        "DbiResourceId": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region-unique, immutable identifier for the DB instance. This identifier is\n            found in AWS CloudTrail log entries whenever the AWS KMS key for the DB instance is\n            accessed.</p>"
          }
        },
        "EnabledCloudwatchLogsExports": {
          "target": "com.amazonaws.docdb#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of log types that this DB instance is configured to export to Amazon CloudWatch\n            Logs.</p>"
          }
        },
        "Endpoint": {
          "target": "com.amazonaws.docdb#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the connection endpoint.</p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the name of the database engine to be used for this DB instance.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the database engine version.</p>"
          }
        },
        "InstanceCreateTime": {
          "target": "com.amazonaws.docdb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Provides the date and time that the DB instance was created.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p> If <code>StorageEncrypted</code> is <code>true</code>, the AWS KMS key identifier for\n            the encrypted DB instance. </p>"
          }
        },
        "LatestRestorableTime": {
          "target": "com.amazonaws.docdb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the latest time to which a database can be restored with point-in-time\n            restore.</p>"
          }
        },
        "PendingModifiedValues": {
          "target": "com.amazonaws.docdb#PendingModifiedValues",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that changes to the DB instance are pending. This element is included only\n            when changes are pending. Specific changes are identified by subelements.</p>"
          }
        },
        "PreferredBackupWindow": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the daily time range during which automated backups are created if\n            automated backups are enabled, as determined by the <code>BackupRetentionPeriod</code>.\n        </p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the weekly time range during which system maintenance can occur, in\n            Universal Coordinated Time (UTC).</p>"
          }
        },
        "PromotionTier": {
          "target": "com.amazonaws.docdb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the\n            primary instance after a failure of the existing primary instance.</p>"
          }
        },
        "PubliclyAccessible": {
          "target": "com.amazonaws.docdb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Not supported. Amazon DocumentDB does not currently support public endpoints. The value \n          of <code>PubliclyAccessible</code> is always <code>false</code>.</p>"
          }
        },
        "StatusInfos": {
          "target": "com.amazonaws.docdb#DBInstanceStatusInfoList",
          "traits": {
            "smithy.api#documentation": "<p>The status of a read replica. If the instance is not a read replica, this is\n            blank.</p>"
          }
        },
        "StorageEncrypted": {
          "target": "com.amazonaws.docdb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not the DB instance is encrypted.</p>"
          }
        },
        "VpcSecurityGroups": {
          "target": "com.amazonaws.docdb#VpcSecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>Provides a list of VPC security group elements that the DB instance belongs to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about a DB instance. </p>"
      }
    },
    "com.amazonaws.docdb#DBInstanceAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You already have a DB instance with the given identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.docdb#DBInstanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#DBInstance",
        "traits": {
          "smithy.api#xmlName": "DBInstance"
        }
      }
    },
    "com.amazonaws.docdb#DBInstanceMessage": {
      "type": "structure",
      "members": {
        "DBInstances": {
          "target": "com.amazonaws.docdb#DBInstanceList",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about one or more DB instances. </p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response\n         includes only records beyond the marker, up to the value specified by\n         <code>MaxRecords</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of <a>DescribeDBInstances</a>.</p>"
      }
    },
    "com.amazonaws.docdb#DBInstanceNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>DBInstanceIdentifier</code> doesn't refer to an existing DB instance. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.docdb#DBInstanceStatusInfo": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Details of the error if there is an error for the instance. If the instance is not in\n            an error state, this value is blank.</p>"
          }
        },
        "Normal": {
          "target": "com.amazonaws.docdb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that is <code>true</code> if the instance is operating normally, or\n                <code>false</code> if the instance is in an error state.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>Status of the DB instance. For a <code>StatusType</code> of read replica, the values\n            can be <code>replicating</code>, error, <code>stopped</code>, or\n            <code>terminated</code>.</p>"
          }
        },
        "StatusType": {
          "target": "com.amazonaws.docdb#String",
          "traits": {
            "smithy.api#documentation": "<p>This value is currently \"<code>read replication</code>.\"</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of status information for a DB instance.</p>"
      }
    },
    "com.amazonaws.docdb#DBInstanceStatusInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.docdb#DBInstanceStatusInfo",
        "traits": {
          "smithy.api#xmlName": "DBInstanceStatusInfo"
        }
      }
    },
    "com.amazonaws.docdb#DBParameterGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A DB parameter group with the same name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.docdb#DBParameterGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>DBParameterGroupName</code> doesn't refer to an existing DB parameter\n            group. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.docdb#DBParameterGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.docdb#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This request would cause you to exceed the allowed number of DB parameter\n            groups.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
[...]
