{
  "smithy": "1.0",
  "shapes": {
    "com.amazonaws.drs#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:.{16,2044}$"
      }
    },
    "com.amazonaws.drs#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.drs#LargeBoundedString"
        },
        "code": {
          "target": "com.amazonaws.drs#LargeBoundedString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>TYou do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.drs#AccountID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "[0-9]{12,}"
      }
    },
    "com.amazonaws.drs#AccountResource": {
      "type": "resource",
      "identifiers": {
        "accountID": {
          "target": "com.amazonaws.drs#AccountID"
        }
      },
      "traits": {
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.drs#BoundedString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.drs#CPU": {
      "type": "structure",
      "members": {
        "cores": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of CPU cores.</p>"
          }
        },
        "modelName": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The model name of the CPU.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a server's CPU.</p>"
      }
    },
    "com.amazonaws.drs#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.drs#LargeBoundedString"
        },
        "code": {
          "target": "com.amazonaws.drs#LargeBoundedString"
        },
        "resourceId": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.drs#Cpus": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#CPU"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.drs#CreateReplicationConfigurationTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#CreateReplicationConfigurationTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#ReplicationConfigurationTemplate"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new ReplicationConfigurationTemplate.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateReplicationConfigurationTemplate",
          "code": 201
        }
      }
    },
    "com.amazonaws.drs#CreateReplicationConfigurationTemplateRequest": {
      "type": "structure",
      "members": {
        "stagingAreaSubnetId": {
          "target": "com.amazonaws.drs#SubnetID",
          "traits": {
            "smithy.api#documentation": "<p>The subnet to be used by the replication staging area.</p>",
            "smithy.api#required": {}
          }
        },
        "associateDefaultSecurityGroup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to associate the default Elastic Disaster Recovery Security group with the Replication Configuration Template.</p>",
            "smithy.api#required": {}
          }
        },
        "replicationServersSecurityGroupsIDs": {
          "target": "com.amazonaws.drs#ReplicationServersSecurityGroupsIDs",
          "traits": {
            "smithy.api#documentation": "<p>The security group IDs that will be used by the replication server.</p>",
            "smithy.api#required": {}
          }
        },
        "replicationServerInstanceType": {
          "target": "com.amazonaws.drs#EC2InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to be used for the replication server.</p>",
            "smithy.api#required": {}
          }
        },
        "useDedicatedReplicationServer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to use a dedicated Replication Server in the replication staging area.</p>",
            "smithy.api#required": {}
          }
        },
        "defaultLargeStagingDiskType": {
          "target": "com.amazonaws.drs#ReplicationConfigurationDefaultLargeStagingDiskType",
          "traits": {
            "smithy.api#documentation": "<p>The Staging Disk EBS volume type to be used during replication.</p>",
            "smithy.api#required": {}
          }
        },
        "ebsEncryption": {
          "target": "com.amazonaws.drs#ReplicationConfigurationEbsEncryption",
          "traits": {
            "smithy.api#documentation": "<p>The type of EBS encryption to be used during replication.</p>",
            "smithy.api#required": {}
          }
        },
        "ebsEncryptionKeyArn": {
          "target": "com.amazonaws.drs#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the EBS encryption key to be used during replication.</p>"
          }
        },
        "bandwidthThrottling": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Configure bandwidth throttling for the outbound data transfer rate of the Source Server in Mbps.</p>",
            "smithy.api#required": {}
          }
        },
        "dataPlaneRouting": {
          "target": "com.amazonaws.drs#ReplicationConfigurationDataPlaneRouting",
          "traits": {
            "smithy.api#documentation": "<p>The data plane routing mechanism that will be used for replication.</p>",
            "smithy.api#required": {}
          }
        },
        "createPublicIP": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to create a Public IP for the Recovery Instance by default.</p>",
            "smithy.api#required": {}
          }
        },
        "stagingAreaTags": {
          "target": "com.amazonaws.drs#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags to be associated with all resources created in the replication staging area: EC2 replication server, EBS volumes, EBS snapshots, etc.</p>",
            "smithy.api#required": {}
          }
        },
        "pitPolicy": {
          "target": "com.amazonaws.drs#PITPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The Point in time (PIT) policy to manage snapshots taken during replication.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.drs#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags to be associated with the Replication Configuration Template resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DataReplicationError": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.drs#DataReplicationErrorString",
          "traits": {
            "smithy.api#documentation": "<p>Error in data replication.</p>"
          }
        },
        "rawError": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>Error in data replication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error in data replication.</p>"
      }
    },
    "com.amazonaws.drs#DataReplicationErrorString": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AGENT_NOT_SEEN",
            "name": "AGENT_NOT_SEEN"
          },
          {
            "value": "SNAPSHOTS_FAILURE",
            "name": "SNAPSHOTS_FAILURE"
          },
          {
            "value": "NOT_CONVERGING",
            "name": "NOT_CONVERGING"
          },
          {
            "value": "UNSTABLE_NETWORK",
            "name": "UNSTABLE_NETWORK"
          },
          {
            "value": "FAILED_TO_CREATE_SECURITY_GROUP",
            "name": "FAILED_TO_CREATE_SECURITY_GROUP"
          },
          {
            "value": "FAILED_TO_LAUNCH_REPLICATION_SERVER",
            "name": "FAILED_TO_LAUNCH_REPLICATION_SERVER"
          },
          {
            "value": "FAILED_TO_BOOT_REPLICATION_SERVER",
            "name": "FAILED_TO_BOOT_REPLICATION_SERVER"
          },
          {
            "value": "FAILED_TO_AUTHENTICATE_WITH_SERVICE",
            "name": "FAILED_TO_AUTHENTICATE_WITH_SERVICE"
          },
          {
            "value": "FAILED_TO_DOWNLOAD_REPLICATION_SOFTWARE",
            "name": "FAILED_TO_DOWNLOAD_REPLICATION_SOFTWARE"
          },
          {
            "value": "FAILED_TO_CREATE_STAGING_DISKS",
            "name": "FAILED_TO_CREATE_STAGING_DISKS"
          },
          {
            "value": "FAILED_TO_ATTACH_STAGING_DISKS",
            "name": "FAILED_TO_ATTACH_STAGING_DISKS"
          },
          {
            "value": "FAILED_TO_PAIR_REPLICATION_SERVER_WITH_AGENT",
            "name": "FAILED_TO_PAIR_REPLICATION_SERVER_WITH_AGENT"
          },
          {
            "value": "FAILED_TO_CONNECT_AGENT_TO_REPLICATION_SERVER",
            "name": "FAILED_TO_CONNECT_AGENT_TO_REPLICATION_SERVER"
          },
          {
            "value": "FAILED_TO_START_DATA_TRANSFER",
            "name": "FAILED_TO_START_DATA_TRANSFER"
          }
        ]
      }
    },
    "com.amazonaws.drs#DataReplicationInfo": {
      "type": "structure",
      "members": {
        "lagDuration": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>Data replication lag duration.</p>"
          }
        },
        "etaDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>An estimate of when the data replication will be completed.</p>"
          }
        },
        "replicatedDisks": {
          "target": "com.amazonaws.drs#DataReplicationInfoReplicatedDisks",
          "traits": {
            "smithy.api#documentation": "<p>The disks that should be replicated.</p>"
          }
        },
        "dataReplicationState": {
          "target": "com.amazonaws.drs#DataReplicationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the data replication.</p>"
          }
        },
        "dataReplicationInitiation": {
          "target": "com.amazonaws.drs#DataReplicationInitiation",
          "traits": {
            "smithy.api#documentation": "<p>Information about whether the data replication has been initiated.</p>"
          }
        },
        "dataReplicationError": {
          "target": "com.amazonaws.drs#DataReplicationError",
          "traits": {
            "smithy.api#documentation": "<p>Error in data replication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about Data Replication</p>"
      }
    },
    "com.amazonaws.drs#DataReplicationInfoReplicatedDisk": {
      "type": "structure",
      "members": {
        "deviceName": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the device.</p>"
          }
        },
        "totalStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The total amount of data to be replicated in bytes.</p>"
          }
        },
        "replicatedStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The amount of data replicated so far in bytes.</p>"
          }
        },
        "rescannedStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The amount of data to be rescanned in bytes.</p>"
          }
        },
        "backloggedStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The size of the replication backlog in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A disk that should be replicated.</p>"
      }
    },
    "com.amazonaws.drs#DataReplicationInfoReplicatedDisks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#DataReplicationInfoReplicatedDisk"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 60
        }
      }
    },
    "com.amazonaws.drs#DataReplicationInitiation": {
      "type": "structure",
      "members": {
        "startDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the current attempt to initiate data replication.</p>"
          }
        },
        "nextAttemptDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the next attempt to initiate data replication.</p>"
          }
        },
        "steps": {
          "target": "com.amazonaws.drs#DataReplicationInitiationSteps",
          "traits": {
            "smithy.api#documentation": "<p>The steps of the current attempt to initiate data replication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data replication initiation.</p>"
      }
    },
    "com.amazonaws.drs#DataReplicationInitiationStep": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.drs#DataReplicationInitiationStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.drs#DataReplicationInitiationStepStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data replication initiation step.</p>"
      }
    },
    "com.amazonaws.drs#DataReplicationInitiationStepName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "WAIT",
            "name": "WAIT"
          },
          {
            "value": "CREATE_SECURITY_GROUP",
            "name": "CREATE_SECURITY_GROUP"
          },
          {
            "value": "LAUNCH_REPLICATION_SERVER",
            "name": "LAUNCH_REPLICATION_SERVER"
          },
          {
            "value": "BOOT_REPLICATION_SERVER",
            "name": "BOOT_REPLICATION_SERVER"
          },
          {
            "value": "AUTHENTICATE_WITH_SERVICE",
            "name": "AUTHENTICATE_WITH_SERVICE"
          },
          {
            "value": "DOWNLOAD_REPLICATION_SOFTWARE",
            "name": "DOWNLOAD_REPLICATION_SOFTWARE"
          },
          {
            "value": "CREATE_STAGING_DISKS",
            "name": "CREATE_STAGING_DISKS"
          },
          {
            "value": "ATTACH_STAGING_DISKS",
            "name": "ATTACH_STAGING_DISKS"
          },
          {
            "value": "PAIR_REPLICATION_SERVER_WITH_AGENT",
            "name": "PAIR_REPLICATION_SERVER_WITH_AGENT"
          },
          {
            "value": "CONNECT_AGENT_TO_REPLICATION_SERVER",
            "name": "CONNECT_AGENT_TO_REPLICATION_SERVER"
          },
          {
            "value": "START_DATA_TRANSFER",
            "name": "START_DATA_TRANSFER"
          }
        ]
      }
    },
    "com.amazonaws.drs#DataReplicationInitiationStepStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NOT_STARTED",
            "name": "NOT_STARTED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SKIPPED",
            "name": "SKIPPED"
          }
        ]
      }
    },
    "com.amazonaws.drs#DataReplicationInitiationSteps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#DataReplicationInitiationStep"
      }
    },
    "com.amazonaws.drs#DataReplicationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STOPPED",
            "name": "STOPPED"
          },
          {
            "value": "INITIATING",
            "name": "INITIATING"
          },
          {
            "value": "INITIAL_SYNC",
            "name": "INITIAL_SYNC"
          },
          {
            "value": "BACKLOG",
            "name": "BACKLOG"
          },
          {
            "value": "CREATING_SNAPSHOT",
            "name": "CREATING_SNAPSHOT"
          },
          {
            "value": "CONTINUOUS",
            "name": "CONTINUOUS"
          },
          {
            "value": "PAUSED",
            "name": "PAUSED"
          },
          {
            "value": "RESCAN",
            "name": "RESCAN"
          },
          {
            "value": "STALLED",
            "name": "STALLED"
          },
          {
            "value": "DISCONNECTED",
            "name": "DISCONNECTED"
          }
        ]
      }
    },
    "com.amazonaws.drs#DeleteJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DeleteJobRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DeleteJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a single Job by ID.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteJob",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.drs#DeleteJobRequest": {
      "type": "structure",
      "members": {
        "jobID": {
          "target": "com.amazonaws.drs#JobID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Job to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#DeleteJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.drs#DeleteRecoveryInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DeleteRecoveryInstanceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a single Recovery Instance by ID. This deletes the Recovery Instance resource from Elastic Disaster Recovery. The Recovery Instance must be disconnected first in order to delete it.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteRecoveryInstance",
          "code": 200
        }
      }
    },
    "com.amazonaws.drs#DeleteRecoveryInstanceRequest": {
      "type": "structure",
      "members": {
        "recoveryInstanceID": {
          "target": "com.amazonaws.drs#RecoveryInstanceID",
          "traits": {
            "smithy.api#documentation": "<p>RThe ID of the Recovery Instance to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#DeleteReplicationConfigurationTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DeleteReplicationConfigurationTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DeleteReplicationConfigurationTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a single Replication Configuration Template by ID</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteReplicationConfigurationTemplate",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.drs#DeleteReplicationConfigurationTemplateRequest": {
      "type": "structure",
      "members": {
        "replicationConfigurationTemplateID": {
          "target": "com.amazonaws.drs#ReplicationConfigurationTemplateID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Replication Configuration Template to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#DeleteReplicationConfigurationTemplateResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.drs#DeleteSourceServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DeleteSourceServerRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DeleteSourceServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a single Source Server by ID. The Source Server must be disconnected first.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteSourceServer",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.drs#DeleteSourceServerRequest": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Source Server to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#DeleteSourceServerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.drs#DescribeJobLogItems": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeJobLogItemsRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeJobLogItemsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a detailed Job log with pagination.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DescribeJobLogItems",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "items",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeJobLogItemsRequest": {
      "type": "structure",
      "members": {
        "jobID": {
          "target": "com.amazonaws.drs#JobID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Job for which Job log items will be retrieved.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of Job log items to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Job log items to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeJobLogItemsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.drs#JobLogs",
          "traits": {
            "smithy.api#documentation": "<p>An array of Job log items.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Job log items to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of Jobs. Use the JobsID and fromDate and toDate filters to limit which jobs are returned. The response is sorted by creationDataTime - latest date first. Jobs are created by the StartRecovery, TerminateRecoveryInstances and StartFailbackLaunch APIs. Jobs are also created by DiagnosticLaunch and TerminateDiagnosticInstances, which are APIs available only to *Support* and only used in response to relevant support tickets.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DescribeJobs",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "items",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeJobsRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.drs#DescribeJobsRequestFilters",
          "traits": {
            "smithy.api#documentation": "<p>A set of filters by which to return Jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of Jobs to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Job to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeJobsRequestFilters": {
      "type": "structure",
      "members": {
        "jobIDs": {
          "target": "com.amazonaws.drs#DescribeJobsRequestFiltersJobIDs",
          "traits": {
            "smithy.api#documentation": "<p>An array of Job IDs that should be returned. An empty array means all jobs.</p>"
          }
        },
        "fromDate": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The start date in a date range query.</p>"
          }
        },
        "toDate": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The end date in a date range query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of filters by which to return Jobs.</p>"
      }
    },
    "com.amazonaws.drs#DescribeJobsRequestFiltersJobIDs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#JobID"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.drs#DescribeJobsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.drs#JobsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Jobs.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Job to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeRecoveryInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeRecoveryInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeRecoveryInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": ["ec2:DescribeInstances"],
        "smithy.api#documentation": "<p>Lists all Recovery Instances or multiple Recovery Instances by ID.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DescribeRecoveryInstances",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "items",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeRecoveryInstancesItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#RecoveryInstance"
      }
    },
    "com.amazonaws.drs#DescribeRecoveryInstancesRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.drs#DescribeRecoveryInstancesRequestFilters",
          "traits": {
            "smithy.api#documentation": "<p>A set of filters by which to return Recovery Instances.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of Recovery Instances to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Recovery Instance to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeRecoveryInstancesRequestFilters": {
      "type": "structure",
      "members": {
        "recoveryInstanceIDs": {
          "target": "com.amazonaws.drs#RecoveryInstanceIDs",
          "traits": {
            "smithy.api#documentation": "<p>An array of Recovery Instance IDs that should be returned. An empty array means all Recovery Instances.</p>"
          }
        },
        "sourceServerIDs": {
          "target": "com.amazonaws.drs#SourceServerIDs",
          "traits": {
            "smithy.api#documentation": "<p>An array of Source Server IDs for which associated Recovery Instances should be returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of filters by which to return Recovery Instances.</p>"
      }
    },
    "com.amazonaws.drs#DescribeRecoveryInstancesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Recovery Instance to retrieve.</p>"
          }
        },
        "items": {
          "target": "com.amazonaws.drs#DescribeRecoveryInstancesItems",
          "traits": {
            "smithy.api#documentation": "<p>An array of Recovery Instances.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeRecoverySnapshots": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeRecoverySnapshotsRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeRecoverySnapshotsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all Recovery Snapshots for a single Source Server.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DescribeRecoverySnapshots",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "items",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeRecoverySnapshotsRequest": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>Filter Recovery Snapshots by Source Server ID.</p>",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.amazonaws.drs#DescribeRecoverySnapshotsRequestFilters",
          "traits": {
            "smithy.api#documentation": "<p>A set of filters by which to return Recovery Snapshots.</p>"
          }
        },
        "order": {
          "target": "com.amazonaws.drs#RecoverySnapshotsOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sorted ordering by which to return Recovery Snapshots.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of Recovery Snapshots to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Recovery Snapshot to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeRecoverySnapshotsRequestFilters": {
      "type": "structure",
      "members": {
        "fromDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The start date in a date range query.</p>"
          }
        },
        "toDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The end date in a date range query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of filters by which to return Recovery Snapshots.</p>"
      }
    },
    "com.amazonaws.drs#DescribeRecoverySnapshotsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.drs#RecoverySnapshotsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Recovery Snapshots.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Recovery Snapshot to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeReplicationConfigurationTemplates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeReplicationConfigurationTemplatesRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeReplicationConfigurationTemplatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all ReplicationConfigurationTemplates, filtered by Source Server IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DescribeReplicationConfigurationTemplates",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "items",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeReplicationConfigurationTemplatesRequest": {
      "type": "structure",
      "members": {
        "replicationConfigurationTemplateIDs": {
          "target": "com.amazonaws.drs#ReplicationConfigurationTemplateIDs",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Replication Configuration Templates to retrieve. An empty list means all Replication Configuration Templates.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of Replication Configuration Templates to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Replication Configuration Template to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeReplicationConfigurationTemplatesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.drs#ReplicationConfigurationTemplates",
          "traits": {
            "smithy.api#documentation": "<p>An array of Replication Configuration Templates.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Replication Configuration Template to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeSourceServers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeSourceServersRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeSourceServersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all Source Servers or multiple Source Servers filtered by ID.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DescribeSourceServers",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "items",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeSourceServersRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.drs#DescribeSourceServersRequestFilters",
          "traits": {
            "smithy.api#documentation": "<p>A set of filters by which to return Source Servers.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of Source Servers to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Source Server to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeSourceServersRequestFilters": {
      "type": "structure",
      "members": {
        "sourceServerIDs": {
          "target": "com.amazonaws.drs#DescribeSourceServersRequestFiltersIDs",
          "traits": {
            "smithy.api#documentation": "<p>An array of Source Servers IDs that should be returned. An empty array means all Source Servers.</p>"
          }
        },
        "hardwareId": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>An ID that describes the hardware of the Source Server. This is either an EC2 instance id, a VMware uuid or a mac address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of filters by which to return Source Servers.</p>"
      }
    },
    "com.amazonaws.drs#DescribeSourceServersRequestFiltersIDs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#SourceServerID"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.drs#DescribeSourceServersResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.drs#SourceServersList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Source Servers.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Source Server to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DisconnectRecoveryInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DisconnectRecoveryInstanceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disconnect a Recovery Instance from Elastic Disaster Recovery. Data replication is stopped immediately. All AWS resources created by Elastic Disaster Recovery for enabling the replication of the Recovery Instance will be terminated / deleted within 90 minutes. If the agent on the Recovery Instance has not been prevented from communicating with the Elastic Disaster Recovery service, then it will receive a command to uninstall itself (within approximately 10 minutes). The following properties of the Recovery Instance will be changed immediately: dataReplicationInfo.dataReplicationState will be set to DISCONNECTED; The totalStorageBytes property for each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DisconnectRecoveryInstance",
          "code": 200
        }
      }
    },
    "com.amazonaws.drs#DisconnectRecoveryInstanceRequest": {
      "type": "structure",
      "members": {
        "recoveryInstanceID": {
          "target": "com.amazonaws.drs#RecoveryInstanceID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Recovery Instance to disconnect.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#DisconnectSourceServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DisconnectSourceServerRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#SourceServer"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disconnects a specific Source Server from Elastic Disaster Recovery. Data replication is stopped immediately. All AWS resources created by Elastic Disaster Recovery for enabling the replication of the Source Server will be terminated / deleted within 90 minutes. You cannot disconnect a Source Server if it has a Recovery Instance. If the agent on the Source Server has not been prevented from communicating with the Elastic Disaster Recovery service, then it will receive a command to uninstall itself (within approximately 10 minutes). The following properties of the SourceServer will be changed immediately: dataReplicationInfo.dataReplicationState will be set to DISCONNECTED; The totalStorageBytes property for each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DisconnectSourceServer",
          "code": 200
        }
      }
    },
    "com.amazonaws.drs#DisconnectSourceServerRequest": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Source Server to disconnect.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#Disk": {
      "type": "structure",
      "members": {
        "deviceName": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The disk or device name.</p>"
          }
        },
        "bytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage on the disk in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a data storage device on a server.</p>"
      }
    },
    "com.amazonaws.drs#Disks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#Disk"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.drs#EC2InstanceID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^i-[0-9a-fA-F]{8,}$"
      }
    },
    "com.amazonaws.drs#EC2InstanceState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          },
          {
            "value": "SHUTTING-DOWN",
            "name": "SHUTTING_DOWN"
          },
          {
            "value": "TERMINATED",
            "name": "TERMINATED"
          },
          {
            "value": "NOT_FOUND",
            "name": "NOT_FOUND"
          }
        ]
      }
    },
    "com.amazonaws.drs#EC2InstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.drs#EbsSnapshotsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#ebsSnapshot"
      }
    },
    "com.amazonaws.drs#EbsVolumeID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 19
        },
        "smithy.api#pattern": "^vol-([0-9a-fA-F]{8}|[0-9a-fA-F]{17})$"
      }
    },
    "com.amazonaws.drs#ElasticDisasterRecoveryService": {
      "type": "service",
      "traits": {
        "aws.api#service": {
          "sdkId": "drs",
          "arnNamespace": "drs",
          "cloudFormationName": "ElasticDisasterRecoveryService",
          "cloudTrailEventSource": "drs.amazonaws.com",
          "endpointPrefix": "drs"
        },
        "aws.auth#sigv4": {
          "name": "drs"
        },
        "aws.iam#defineConditionKeys": {
          "drs:EC2InstanceARN": {
            "type": "String",
            "documentation": "Filters access by the EC2 instance the request originated from"
          }
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": ["X-Amz-Content-Sha256", "X-Amzn-Trace-Id", "Content-Type", "X-Amz-User-Agent"],
          "additionalExposedHeaders": ["X-Amzn-Errortype", "X-Amzn-Requestid", "X-Amzn-Trace-Id", "X-Amz-Apigw-Id"]
        },
        "smithy.api#documentation": "<p>AWS Elastic Disaster Recovery Service.</p>",
        "smithy.api#title": "Elastic Disaster Recovery Service"
      },
      "version": "2020-02-26",
      "operations": [
        {
          "target": "com.amazonaws.drs#InitializeService"
        },
        {
          "target": "com.amazonaws.drs#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.drs#TagResource"
        },
        {
          "target": "com.amazonaws.drs#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.drs#AccountResource"
        },
        {
          "target": "com.amazonaws.drs#JobResource"
        },
        {
          "target": "com.amazonaws.drs#RecoveryInstanceResource"
        },
        {
          "target": "com.amazonaws.drs#ReplicationConfigurationTemplateResource"
        },
        {
          "target": "com.amazonaws.drs#SourceServerResource"
        }
      ]
    },
    "com.amazonaws.drs#FailbackReplicationError": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AGENT_NOT_SEEN",
            "name": "AGENT_NOT_SEEN"
          },
          {
            "value": "FAILBACK_CLIENT_NOT_SEEN",
            "name": "FAILBACK_CLIENT_NOT_SEEN"
          },
          {
            "value": "NOT_CONVERGING",
            "name": "NOT_CONVERGING"
          },
          {
            "value": "UNSTABLE_NETWORK",
            "name": "UNSTABLE_NETWORK"
          },
          {
            "value": "FAILED_TO_ESTABLISH_RECOVERY_INSTANCE_COMMUNICATION",
            "name": "FAILED_TO_ESTABLISH_RECOVERY_INSTANCE_COMMUNICATION"
          },
          {
            "value": "FAILED_TO_DOWNLOAD_REPLICATION_SOFTWARE_TO_FAILBACK_CLIENT",
            "name": "FAILED_TO_DOWNLOAD_REPLICATION_SOFTWARE_TO_FAILBACK_CLIENT"
          },
          {
            "value": "FAILED_TO_CONFIGURE_REPLICATION_SOFTWARE",
            "name": "FAILED_TO_CONFIGURE_REPLICATION_SOFTWARE"
          },
          {
            "value": "FAILED_TO_PAIR_AGENT_WITH_REPLICATION_SOFTWARE",
            "name": "FAILED_TO_PAIR_AGENT_WITH_REPLICATION_SOFTWARE"
          },
          {
            "value": "FAILED_TO_ESTABLISH_AGENT_REPLICATOR_SOFTWARE_COMMUNICATION",
            "name": "FAILED_TO_ESTABLISH_AGENT_REPLICATOR_SOFTWARE_COMMUNICATION"
          }
        ]
      }
    },
    "com.amazonaws.drs#FailbackState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FAILBACK_NOT_STARTED",
            "name": "FAILBACK_NOT_STARTED"
          },
          {
            "value": "FAILBACK_IN_PROGRESS",
            "name": "FAILBACK_IN_PROGRESS"
          },
          {
            "value": "FAILBACK_READY_FOR_LAUNCH",
            "name": "FAILBACK_READY_FOR_LAUNCH"
          },
          {
            "value": "FAILBACK_COMPLETED",
            "name": "FAILBACK_COMPLETED"
          },
          {
            "value": "FAILBACK_ERROR",
            "name": "FAILBACK_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.drs#GetFailbackReplicationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#GetFailbackReplicationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#GetFailbackReplicationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all Failback ReplicationConfigurations, filtered by Recovery Instance ID.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetFailbackReplicationConfiguration",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#GetFailbackReplicationConfigurationRequest": {
      "type": "structure",
      "members": {
        "recoveryInstanceID": {
          "target": "com.amazonaws.drs#RecoveryInstanceID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Recovery Instance whose failback replication configuration should be returned.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#GetFailbackReplicationConfigurationResponse": {
      "type": "structure",
      "members": {
        "recoveryInstanceID": {
          "target": "com.amazonaws.drs#RecoveryInstanceID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Recovery Instance.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Failback Replication Configuration.</p>"
          }
        },
        "bandwidthThrottling": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Configure bandwidth throttling for the outbound data transfer rate of the Recovery Instance in Mbps.</p>"
          }
        },
        "usePrivateIP": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to use Private IP for the failback replication of the Recovery Instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#GetLaunchConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#GetLaunchConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#LaunchConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a LaunchConfiguration, filtered by Source Server IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetLaunchConfiguration",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#GetLaunchConfigurationRequest": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Source Server that we want to retrieve a Launch Configuration for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#GetReplicationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#GetReplicationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#ReplicationConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a ReplicationConfiguration, filtered by Source Server ID.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetReplicationConfiguration",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#GetReplicationConfigurationRequest": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Source Serve for this Replication Configuration.r</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#IPsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#BoundedString"
      }
    },
    "com.amazonaws.drs#ISO8601DatetimeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 32
        },
        "smithy.api#pattern": "^[1-9][0-9]*-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T([0-1][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\\.[0-9]+)?Z$"
      }
    },
    "com.amazonaws.drs#IdentificationHints": {
      "type": "structure",
      "members": {
        "fqdn": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>Fully Qualified Domain Name identification hint.</p>"
          }
        },
        "hostname": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>Hostname identification hint.</p>"
          }
        },
        "vmWareUuid": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>vCenter VM path identification hint.</p>"
          }
        },
        "awsInstanceID": {
          "target": "com.amazonaws.drs#EC2InstanceID",
          "traits": {
            "smithy.api#documentation": "<p>AWS Instance ID identification hint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Hints used to uniquely identify a machine.</p>"
      }
    },
    "com.amazonaws.drs#InitializeService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#InitializeServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#InitializeServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": [
          "iam:CreateServiceLinkedRole",
          "iam:GetInstanceProfile",
          "iam:CreateInstanceProfile",
          "iam:AddRoleToInstanceProfile"
        ],
        "smithy.api#documentation": "<p>Initialize Elastic Disaster Recovery.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/InitializeService",
          "code": 204
        }
      }
    },
    "com.amazonaws.drs#InitializeServiceRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.drs#InitializeServiceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.drs#InitiatedBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "START_RECOVERY",
            "name": "START_RECOVERY"
          },
          {
            "value": "START_DRILL",
            "name": "START_DRILL"
          },
          {
            "value": "FAILBACK",
            "name": "FAILBACK"
          },
          {
            "value": "DIAGNOSTIC",
            "name": "DIAGNOSTIC"
          },
          {
            "value": "TERMINATE_RECOVERY_INSTANCES",
            "name": "TERMINATE_RECOVERY_INSTANCES"
          }
        ]
      }
    },
    "com.amazonaws.drs#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds after which the request should be safe to retry.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.drs#Job": {
      "type": "structure",
      "members": {
        "jobID": {
          "target": "com.amazonaws.drs#JobID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Job.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.drs#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a Job.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.drs#JobType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the Job.</p>"
          }
        },
        "initiatedBy": {
          "target": "com.amazonaws.drs#InitiatedBy",
          "traits": {
            "smithy.api#documentation": "<p>A string representing who initiated the Job.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of when the Job was created.</p>"
          }
        },
        "endDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of when the Job ended.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.drs#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Job.</p>"
          }
        },
        "participatingServers": {
          "target": "com.amazonaws.drs#ParticipatingServers",
          "traits": {
            "smithy.api#documentation": "<p>A list of servers that the Job is acting upon.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.drs#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with the Job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A job is an asynchronous workflow.</p>"
      }
    },
    "com.amazonaws.drs#JobID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 24,
          "max": 24
        },
        "smithy.api#pattern": "^drsjob-[0-9a-zA-Z]{17}$"
      }
    },
    "com.amazonaws.drs#JobLog": {
      "type": "structure",
      "members": {
        "logDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the log was taken.</p>"
          }
        },
        "event": {
          "target": "com.amazonaws.drs#JobLogEvent",
          "traits": {
            "smithy.api#documentation": "<p>The event represents the type of a log.</p>"
          }
        },
        "eventData": {
          "target": "com.amazonaws.drs#JobLogEventData",
          "traits": {
            "smithy.api#documentation": "<p>Metadata associated with a Job log.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A log outputted by a Job.</p>"
      }
    },
    "com.amazonaws.drs#JobLogEvent": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "JOB_START",
            "name": "JOB_START"
          },
          {
            "value": "SERVER_SKIPPED",
            "name": "SERVER_SKIPPED"
          },
          {
            "value": "CLEANUP_START",
            "name": "CLEANUP_START"
          },
          {
            "value": "CLEANUP_END",
            "name": "CLEANUP_END"
          },
          {
            "value": "CLEANUP_FAIL",
            "name": "CLEANUP_FAIL"
          },
          {
            "value": "SNAPSHOT_START",
            "name": "SNAPSHOT_START"
          },
          {
            "value": "SNAPSHOT_END",
            "name": "SNAPSHOT_END"
          },
          {
            "value": "SNAPSHOT_FAIL",
            "name": "SNAPSHOT_FAIL"
          },
          {
            "value": "USING_PREVIOUS_SNAPSHOT",
            "name": "USING_PREVIOUS_SNAPSHOT"
          },
          {
            "value": "USING_PREVIOUS_SNAPSHOT_FAILED",
            "name": "USING_PREVIOUS_SNAPSHOT_FAILED"
          },
          {
            "value": "CONVERSION_START",
            "name": "CONVERSION_START"
          },
          {
            "value": "CONVERSION_END",
            "name": "CONVERSION_END"
          },
          {
            "value": "CONVERSION_FAIL",
            "name": "CONVERSION_FAIL"
          },
          {
            "value": "LAUNCH_START",
            "name": "LAUNCH_START"
          },
          {
            "value": "LAUNCH_FAILED",
            "name": "LAUNCH_FAILED"
          },
          {
            "value": "JOB_CANCEL",
            "name": "JOB_CANCEL"
          },
          {
            "value": "JOB_END",
            "name": "JOB_END"
          }
        ]
      }
    },
    "com.amazonaws.drs#JobLogEventData": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a Source Server.</p>"
          }
        },
        "conversionServerID": {
          "target": "com.amazonaws.drs#EC2InstanceID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a conversion server.</p>"
          }
        },
        "targetInstanceID": {
          "target": "com.amazonaws.drs#EC2InstanceID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a Recovery Instance.</p>"
          }
        },
        "rawError": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>A string representing a job error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata associated with a Job log.</p>"
      }
    },
    "com.amazonaws.drs#JobLogs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#JobLog"
      }
    },
    "com.amazonaws.drs#JobResource": {
      "type": "resource",
      "identifiers": {
        "jobID": {
          "target": "com.amazonaws.drs#JobID"
        }
      },
      "delete": {
        "target": "com.amazonaws.drs#DeleteJob"
      },
      "list": {
        "target": "com.amazonaws.drs#DescribeJobs"
      },
      "operations": [
        {
          "target": "com.amazonaws.drs#DescribeJobLogItems"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "job/{jobID}",
          "absolute": false,
          "noAccount": false,
          "noRegion": false
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag"],
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.drs#JobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "STARTED",
            "name": "STARTED"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          }
        ]
      }
    },
    "com.amazonaws.drs#JobType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LAUNCH",
            "name": "LAUNCH"
          },
          {
            "value": "TERMINATE",
            "name": "TERMINATE"
          }
        ]
      }
    },
    "com.amazonaws.drs#JobsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#Job"
      }
    },
    "com.amazonaws.drs#LargeBoundedString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 65536
        }
      }
    },
    "com.amazonaws.drs#LastLaunchResult": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NOT_STARTED",
            "name": "NOT_STARTED"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.drs#LastLaunchType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RECOVERY",
            "name": "RECOVERY"
          },
          {
            "value": "DRILL",
            "name": "DRILL"
          }
        ]
      }
    },
    "com.amazonaws.drs#LaunchConfiguration": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Source Server for this launch configuration.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.drs#SmallBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch configuration.</p>"
          }
        },
        "ec2LaunchTemplateID": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 launch template ID of this launch configuration.</p>"
          }
        },
        "launchDisposition": {
          "target": "com.amazonaws.drs#LaunchDisposition",
          "traits": {
            "smithy.api#documentation": "<p>The state of the Recovery Instance in EC2 after the recovery operation.</p>"
          }
        },
        "targetInstanceTypeRightSizingMethod": {
          "target": "com.amazonaws.drs#TargetInstanceTypeRightSizingMethod",
          "traits": {
            "smithy.api#documentation": "<p>Whether Elastic Disaster Recovery should try to automatically choose the instance type that best matches the OS, CPU, and RAM of your Source Server.</p>"
          }
        },
        "copyPrivateIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether we should copy the Private IP of the Source Server to the Recovery Instance.</p>"
          }
        },
        "copyTags": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether we want to copy the tags of the Source Server to the EC2 machine of the Recovery Instance.</p>"
          }
        },
        "licensing": {
          "target": "com.amazonaws.drs#Licensing",
          "traits": {
            "smithy.api#documentation": "<p>The licensing configuration to be used for this launch configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#LaunchDisposition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STOPPED",
            "name": "STOPPED"
          },
          {
            "value": "STARTED",
            "name": "STARTED"
          }
        ]
      }
    },
    "com.amazonaws.drs#LaunchStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "LAUNCHED",
            "name": "LAUNCHED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "TERMINATED",
            "name": "TERMINATED"
          }
        ]
      }
    },
    "com.amazonaws.drs#Licensing": {
      "type": "structure",
      "members": {
        "osByol": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to enable \"Bring your own license\" or not.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration of a machine's license.</p>"
      }
    },
    "com.amazonaws.drs#LifeCycle": {
      "type": "structure",
      "members": {
        "addedToServiceDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of when the Source Server was added to the service.</p>"
          }
        },
        "firstByteDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the first byte that was replicated from the Source Server.</p>"
          }
        },
        "elapsedReplicationDuration": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that the Source Server has been replicating for.</p>"
          }
        },
        "lastSeenByServiceDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time this Source Server was last seen by the service.</p>"
          }
        },
        "lastLaunch": {
          "target": "com.amazonaws.drs#LifeCycleLastLaunch",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information regarding the last launch of the Source Server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the Source Server Lifecycle.</p>"
      }
    },
    "com.amazonaws.drs#LifeCycleLastLaunch": {
      "type": "structure",
      "members": {
        "initiated": {
          "target": "com.amazonaws.drs#LifeCycleLastLaunchInitiated",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information regarding the initiation of the last launch of a Source Server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing information regarding the last launch of a Source Server.</p>"
      }
    },
    "com.amazonaws.drs#LifeCycleLastLaunchInitiated": {
      "type": "structure",
      "members": {
        "apiCallDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the last Source Server launch was initiated.</p>"
          }
        },
        "jobID": {
          "target": "com.amazonaws.drs#JobID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Job that was used to last launch the Source Server.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.drs#LastLaunchType",
          "traits": {
            "smithy.api#documentation": "<p>The Job type that was used to last launch the Source Server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing information regarding the initiation of the last launch of a Source Server.</p>"
      }
    },
    "com.amazonaws.drs#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all tags for your Elastic Disaster Recovery resources.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.drs#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource whose tags should be returned.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.drs#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the requested resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#NetworkInterface": {
      "type": "structure",
      "members": {
        "macAddress": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The MAC address of the network interface.</p>"
          }
        },
        "ips": {
          "target": "com.amazonaws.drs#IPsList",
          "traits": {
            "smithy.api#documentation": "<p>Network interface IPs.</p>"
          }
        },
        "isPrimary": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether this is the primary network interface.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Network interface.</p>"
      }
    },
    "com.amazonaws.drs#NetworkInterfaces": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#NetworkInterface"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 32
        }
      }
    },
    "com.amazonaws.drs#OS": {
      "type": "structure",
      "members": {
        "fullString": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The long name of the Operating System.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Operating System.</p>"
      }
    },
    "com.amazonaws.drs#PITPolicy": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#PITPolicyRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.drs#PITPolicyRule": {
      "type": "structure",
      "members": {
        "ruleID": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the rule.</p>"
          }
        },
        "units": {
          "target": "com.amazonaws.drs#PITPolicyRuleUnits",
          "traits": {
            "smithy.api#documentation": "<p>The units used to measure the interval and retentionDuration.</p>",
            "smithy.api#required": {}
          }
        },
        "interval": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>How often, in the chosen units, a snapshot should be taken.</p>",
            "smithy.api#required": {}
          }
        },
        "retentionDuration": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The duration to retain a snapshot for, in the chosen units.</p>",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether this rule is enabled or not.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A rule in the Point in Time (PIT) policy representing when to take snapshots and how long to retain them for.</p>"
      }
    },
    "com.amazonaws.drs#PITPolicyRuleUnits": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MINUTE",
            "name": "MINUTE"
          },
          {
            "value": "HOUR",
            "name": "HOUR"
          },
          {
            "value": "DAY",
            "name": "DAY"
          }
        ]
      }
    },
    "com.amazonaws.drs#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.drs#ParticipatingServer": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>The Source Server ID of a participating server.</p>"
          }
        },
        "recoveryInstanceID": {
          "target": "com.amazonaws.drs#RecoveryInstanceID",
          "traits": {
            "smithy.api#documentation": "<p>The Recovery Instance ID of a participating server.</p>"
          }
        },
        "launchStatus": {
          "target": "com.amazonaws.drs#LaunchStatus",
          "traits": {
            "smithy.api#documentation": "<p>The launch status of a participating server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a server participating in an asynchronous Job.</p>"
      }
    },
    "com.amazonaws.drs#ParticipatingServers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#ParticipatingServer"
      }
    },
    "com.amazonaws.drs#PositiveInteger": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.drs#RecoveryInstance": {
      "type": "structure",
      "members": {
        "ec2InstanceID": {
          "target": "com.amazonaws.drs#EC2InstanceID",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 instance ID of the Recovery Instance.</p>"
          }
        },
        "ec2InstanceState": {
          "target": "com.amazonaws.drs#EC2InstanceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the EC2 instance for this Recovery Instance.</p>"
          }
        },
        "jobID": {
          "target": "com.amazonaws.drs#JobID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Job that created the Recovery Instance.</p>"
          }
        },
        "recoveryInstanceID": {
          "target": "com.amazonaws.drs#RecoveryInstanceID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Recovery Instance.</p>"
          }
        },
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>The Source Server ID that this Recovery Instance is associated with.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.drs#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Recovery Instance.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.drs#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags that are associated with the Recovery Instance.</p>"
          }
        },
        "failback": {
          "target": "com.amazonaws.drs#RecoveryInstanceFailback",
          "traits": {
            "smithy.api#documentation": "<p>An object representing failback related information of the Recovery Instance.</p>"
          }
        },
        "dataReplicationInfo": {
          "target": "com.amazonaws.drs#RecoveryInstanceDataReplicationInfo",
          "traits": {
            "smithy.api#documentation": "<p>The Data Replication Info of the Recovery Instance.</p>"
          }
        },
        "recoveryInstanceProperties": {
          "target": "com.amazonaws.drs#RecoveryInstanceProperties",
          "traits": {
            "smithy.api#documentation": "<p>Properties of the Recovery Instance machine.</p>"
          }
        },
        "pointInTimeSnapshotDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the Point in Time (PIT) snapshot that this Recovery Instance was launched from.</p>"
          }
        },
        "isDrill": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether this Recovery Instance was created for a drill or for an actual Recovery event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Recovery Instance is a replica of a Source Server running on EC2.</p>"
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDataReplicationError": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.drs#FailbackReplicationError",
          "traits": {
            "smithy.api#documentation": "<p>Error in data replication.</p>"
          }
        },
        "rawError": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>Error in data replication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error in data replication.</p>"
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDataReplicationInfo": {
      "type": "structure",
      "members": {
        "lagDuration": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>Data replication lag duration.</p>"
          }
        },
        "etaDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>An estimate of when the data replication will be completed.</p>"
          }
        },
        "replicatedDisks": {
          "target": "com.amazonaws.drs#RecoveryInstanceDataReplicationInfoReplicatedDisks",
          "traits": {
            "smithy.api#documentation": "<p>The disks that should be replicated.</p>"
          }
        },
        "dataReplicationState": {
          "target": "com.amazonaws.drs#RecoveryInstanceDataReplicationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the data replication.</p>"
          }
        },
        "dataReplicationInitiation": {
          "target": "com.amazonaws.drs#RecoveryInstanceDataReplicationInitiation",
          "traits": {
            "smithy.api#documentation": "<p>Information about whether the data replication has been initiated.</p>"
          }
        },
        "dataReplicationError": {
          "target": "com.amazonaws.drs#RecoveryInstanceDataReplicationError",
          "traits": {
            "smithy.api#documentation": "<p>Information about Data Replication</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about Data Replication</p>"
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDataReplicationInfoReplicatedDisk": {
      "type": "structure",
      "members": {
        "deviceName": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the device.</p>"
          }
        },
        "totalStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The total amount of data to be replicated in bytes.</p>"
          }
        },
        "replicatedStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The amount of data replicated so far in bytes.</p>"
          }
        },
        "rescannedStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The amount of data to be rescanned in bytes.</p>"
          }
        },
        "backloggedStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The size of the replication backlog in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A disk that should be replicated.</p>"
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDataReplicationInfoReplicatedDisks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#RecoveryInstanceDataReplicationInfoReplicatedDisk"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 60
        }
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDataReplicationInitiation": {
      "type": "structure",
      "members": {
        "startDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the current attempt to initiate data replication.</p>"
          }
        },
        "steps": {
          "target": "com.amazonaws.drs#RecoveryInstanceDataReplicationInitiationSteps",
          "traits": {
            "smithy.api#documentation": "<p>The steps of the current attempt to initiate data replication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data replication initiation.</p>"
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDataReplicationInitiationStep": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.drs#RecoveryInstanceDataReplicationInitiationStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.drs#RecoveryInstanceDataReplicationInitiationStepStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data replication initiation step.</p>"
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDataReplicationInitiationStepName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LINK_FAILBACK_CLIENT_WITH_RECOVERY_INSTANCE",
            "name": "LINK_FAILBACK_CLIENT_WITH_RECOVERY_INSTANCE"
          },
          {
            "value": "COMPLETE_VOLUME_MAPPING",
            "name": "COMPLETE_VOLUME_MAPPING"
          },
          {
            "value": "ESTABLISH_RECOVERY_INSTANCE_COMMUNICATION",
            "name": "ESTABLISH_RECOVERY_INSTANCE_COMMUNICATION"
          },
          {
            "value": "DOWNLOAD_REPLICATION_SOFTWARE_TO_FAILBACK_CLIENT",
            "name": "DOWNLOAD_REPLICATION_SOFTWARE_TO_FAILBACK_CLIENT"
          },
          {
            "value": "CONFIGURE_REPLICATION_SOFTWARE",
            "name": "CONFIGURE_REPLICATION_SOFTWARE"
          },
          {
            "value": "PAIR_AGENT_WITH_REPLICATION_SOFTWARE",
            "name": "PAIR_AGENT_WITH_REPLICATION_SOFTWARE"
          },
          {
            "value": "ESTABLISH_AGENT_REPLICATOR_SOFTWARE_COMMUNICATION",
            "name": "ESTABLISH_AGENT_REPLICATOR_SOFTWARE_COMMUNICATION"
          }
        ]
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDataReplicationInitiationStepStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NOT_STARTED",
            "name": "NOT_STARTED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SKIPPED",
            "name": "SKIPPED"
          }
        ]
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDataReplicationInitiationSteps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#RecoveryInstanceDataReplicationInitiationStep"
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDataReplicationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STOPPED",
            "name": "STOPPED"
          },
          {
            "value": "INITIATING",
            "name": "INITIATING"
          },
          {
            "value": "INITIAL_SYNC",
            "name": "INITIAL_SYNC"
          },
          {
            "value": "BACKLOG",
            "name": "BACKLOG"
          },
          {
            "value": "CREATING_SNAPSHOT",
            "name": "CREATING_SNAPSHOT"
          },
          {
            "value": "CONTINUOUS",
            "name": "CONTINUOUS"
          },
          {
            "value": "PAUSED",
            "name": "PAUSED"
          },
          {
            "value": "RESCAN",
            "name": "RESCAN"
          },
          {
            "value": "STALLED",
            "name": "STALLED"
          },
          {
            "value": "DISCONNECTED",
            "name": "DISCONNECTED"
          }
        ]
      }
    },
    "com.amazonaws.drs#RecoveryInstanceDisk": {
[...]
