{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.drs#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:.{16,2044}$"
      }
    },
    "com.amazonaws.drs#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.drs#LargeBoundedString"
        },
        "code": {
          "target": "com.amazonaws.drs#LargeBoundedString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.drs#Account": {
      "type": "structure",
      "members": {
        "accountID": {
          "target": "com.amazonaws.drs#AccountID",
          "traits": {
            "smithy.api#documentation": "<p>Account ID of AWS account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS account.</p>"
      }
    },
    "com.amazonaws.drs#AccountID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "[0-9]{12,}"
      }
    },
    "com.amazonaws.drs#AccountIDs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#AccountID"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.drs#AccountResource": {
      "type": "resource",
      "identifiers": {
        "accountID": {
          "target": "com.amazonaws.drs#AccountID"
        }
      },
      "traits": {
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.drs#Accounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#Account"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.drs#AwsAvailabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^(us(-gov)?|ap|ca|cn|eu|sa|af|me)-(central|north|(north(?:east|west))|south|south(?:east|west)|east|west)-[0-9][a-z]$"
      }
    },
    "com.amazonaws.drs#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^(us(-gov)?|ap|ca|cn|eu|sa|af|me)-(central|north|(north(?:east|west))|south|south(?:east|west)|east|west)-[0-9]$"
      }
    },
    "com.amazonaws.drs#BoundedString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.drs#CPU": {
      "type": "structure",
      "members": {
        "cores": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of CPU cores.</p>"
          }
        },
        "modelName": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The model name of the CPU.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a server's CPU.</p>"
      }
    },
    "com.amazonaws.drs#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.drs#LargeBoundedString"
        },
        "code": {
          "target": "com.amazonaws.drs#LargeBoundedString"
        },
        "resourceId": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.drs#ConversionMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.drs#ebsSnapshot"
      },
      "value": {
        "target": "com.amazonaws.drs#ebsSnapshot"
      }
    },
    "com.amazonaws.drs#ConversionProperties": {
      "type": "structure",
      "members": {
        "volumeToConversionMap": {
          "target": "com.amazonaws.drs#VolumeToConversionMap",
          "traits": {
            "smithy.api#documentation": "<p>A mapping between the volumes being converted and the converted snapshot ids</p>"
          }
        },
        "rootVolumeName": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The root volume name of a conversion job</p>"
          }
        },
        "forceUefi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the volume being converted uses UEFI or not</p>"
          }
        },
        "dataTimestamp": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the snapshot being converted was taken</p>"
          }
        },
        "volumeToVolumeSize": {
          "target": "com.amazonaws.drs#VolumeToSizeMap",
          "traits": {
            "smithy.api#documentation": "<p>A mapping between the volumes and their sizes</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties of a conversion job</p>"
      }
    },
    "com.amazonaws.drs#Cpus": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#CPU"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.drs#CreateExtendedSourceServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#CreateExtendedSourceServerRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#CreateExtendedSourceServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an extended source server in the target Account based on the source server in staging account.</p>",
        "smithy.api#http": {
          "uri": "/CreateExtendedSourceServer",
          "method": "POST",
          "code": 201
        }
      }
    },
    "com.amazonaws.drs#CreateExtendedSourceServerRequest": {
      "type": "structure",
      "members": {
        "sourceServerArn": {
          "target": "com.amazonaws.drs#SourceServerARN",
          "traits": {
            "smithy.api#documentation": "<p>This defines the ARN of the source server in staging Account based on which you want to create an extended source server.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.drs#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with the extended source server.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#CreateExtendedSourceServerResponse": {
      "type": "structure",
      "members": {
        "sourceServer": {
          "target": "com.amazonaws.drs#SourceServer",
          "traits": {
            "smithy.api#documentation": "<p>Created extended source server.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#CreateReplicationConfigurationTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#CreateReplicationConfigurationTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#ReplicationConfigurationTemplate"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new ReplicationConfigurationTemplate.</p>",
        "smithy.api#http": {
          "uri": "/CreateReplicationConfigurationTemplate",
          "method": "POST",
          "code": 201
        }
      }
    },
    "com.amazonaws.drs#CreateReplicationConfigurationTemplateRequest": {
      "type": "structure",
      "members": {
        "stagingAreaSubnetId": {
          "target": "com.amazonaws.drs#SubnetID",
          "traits": {
            "smithy.api#documentation": "<p>The subnet to be used by the replication staging area.</p>",
            "smithy.api#required": {}
          }
        },
        "associateDefaultSecurityGroup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to associate the default Elastic Disaster Recovery Security group with the Replication Configuration Template.</p>",
            "smithy.api#required": {}
          }
        },
        "replicationServersSecurityGroupsIDs": {
          "target": "com.amazonaws.drs#ReplicationServersSecurityGroupsIDs",
          "traits": {
            "smithy.api#documentation": "<p>The security group IDs that will be used by the replication server.</p>",
            "smithy.api#required": {}
          }
        },
        "replicationServerInstanceType": {
          "target": "com.amazonaws.drs#EC2InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to be used for the replication server.</p>",
            "smithy.api#required": {}
          }
        },
        "useDedicatedReplicationServer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to use a dedicated Replication Server in the replication staging area.</p>",
            "smithy.api#required": {}
          }
        },
        "defaultLargeStagingDiskType": {
          "target": "com.amazonaws.drs#ReplicationConfigurationDefaultLargeStagingDiskType",
          "traits": {
            "smithy.api#documentation": "<p>The Staging Disk EBS volume type to be used during replication.</p>",
            "smithy.api#required": {}
          }
        },
        "ebsEncryption": {
          "target": "com.amazonaws.drs#ReplicationConfigurationEbsEncryption",
          "traits": {
            "smithy.api#documentation": "<p>The type of EBS encryption to be used during replication.</p>",
            "smithy.api#required": {}
          }
        },
        "ebsEncryptionKeyArn": {
          "target": "com.amazonaws.drs#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the EBS encryption key to be used during replication.</p>"
          }
        },
        "bandwidthThrottling": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Configure bandwidth throttling for the outbound data transfer rate of the Source Server in Mbps.</p>",
            "smithy.api#required": {}
          }
        },
        "dataPlaneRouting": {
          "target": "com.amazonaws.drs#ReplicationConfigurationDataPlaneRouting",
          "traits": {
            "smithy.api#documentation": "<p>The data plane routing mechanism that will be used for replication.</p>",
            "smithy.api#required": {}
          }
        },
        "createPublicIP": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to create a Public IP for the Recovery Instance by default.</p>",
            "smithy.api#required": {}
          }
        },
        "stagingAreaTags": {
          "target": "com.amazonaws.drs#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags to be associated with all resources created in the replication staging area: EC2 replication server, EBS volumes, EBS snapshots, etc.</p>",
            "smithy.api#required": {}
          }
        },
        "pitPolicy": {
          "target": "com.amazonaws.drs#PITPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The Point in time (PIT) policy to manage snapshots taken during replication.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.drs#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags to be associated with the Replication Configuration Template resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DataReplicationError": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.drs#DataReplicationErrorString",
          "traits": {
            "smithy.api#documentation": "<p>Error in data replication.</p>"
          }
        },
        "rawError": {
          "target": "com.amazonaws.drs#LargeBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>Error in data replication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error in data replication.</p>"
      }
    },
    "com.amazonaws.drs#DataReplicationErrorString": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "AGENT_NOT_SEEN",
            "value": "AGENT_NOT_SEEN"
          },
          {
            "name": "SNAPSHOTS_FAILURE",
            "value": "SNAPSHOTS_FAILURE"
          },
          {
            "name": "NOT_CONVERGING",
            "value": "NOT_CONVERGING"
          },
          {
            "name": "UNSTABLE_NETWORK",
            "value": "UNSTABLE_NETWORK"
          },
          {
            "name": "FAILED_TO_CREATE_SECURITY_GROUP",
            "value": "FAILED_TO_CREATE_SECURITY_GROUP"
          },
          {
            "name": "FAILED_TO_LAUNCH_REPLICATION_SERVER",
            "value": "FAILED_TO_LAUNCH_REPLICATION_SERVER"
          },
          {
            "name": "FAILED_TO_BOOT_REPLICATION_SERVER",
            "value": "FAILED_TO_BOOT_REPLICATION_SERVER"
          },
          {
            "name": "FAILED_TO_AUTHENTICATE_WITH_SERVICE",
            "value": "FAILED_TO_AUTHENTICATE_WITH_SERVICE"
          },
          {
            "name": "FAILED_TO_DOWNLOAD_REPLICATION_SOFTWARE",
            "value": "FAILED_TO_DOWNLOAD_REPLICATION_SOFTWARE"
          },
          {
            "name": "FAILED_TO_CREATE_STAGING_DISKS",
            "value": "FAILED_TO_CREATE_STAGING_DISKS"
          },
          {
            "name": "FAILED_TO_ATTACH_STAGING_DISKS",
            "value": "FAILED_TO_ATTACH_STAGING_DISKS"
          },
          {
            "name": "FAILED_TO_PAIR_REPLICATION_SERVER_WITH_AGENT",
            "value": "FAILED_TO_PAIR_REPLICATION_SERVER_WITH_AGENT"
          },
          {
            "name": "FAILED_TO_CONNECT_AGENT_TO_REPLICATION_SERVER",
            "value": "FAILED_TO_CONNECT_AGENT_TO_REPLICATION_SERVER"
          },
          {
            "name": "FAILED_TO_START_DATA_TRANSFER",
            "value": "FAILED_TO_START_DATA_TRANSFER"
          }
        ]
      }
    },
    "com.amazonaws.drs#DataReplicationInfo": {
      "type": "structure",
      "members": {
        "lagDuration": {
          "target": "com.amazonaws.drs#ISO8601DurationString",
          "traits": {
            "smithy.api#documentation": "<p>Data replication lag duration.</p>"
          }
        },
        "etaDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>An estimate of when the data replication will be completed.</p>"
          }
        },
        "replicatedDisks": {
          "target": "com.amazonaws.drs#DataReplicationInfoReplicatedDisks",
          "traits": {
            "smithy.api#documentation": "<p>The disks that should be replicated.</p>"
          }
        },
        "dataReplicationState": {
          "target": "com.amazonaws.drs#DataReplicationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the data replication.</p>"
          }
        },
        "dataReplicationInitiation": {
          "target": "com.amazonaws.drs#DataReplicationInitiation",
          "traits": {
            "smithy.api#documentation": "<p>Information about whether the data replication has been initiated.</p>"
          }
        },
        "dataReplicationError": {
          "target": "com.amazonaws.drs#DataReplicationError",
          "traits": {
            "smithy.api#documentation": "<p>Error in data replication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about Data Replication</p>"
      }
    },
    "com.amazonaws.drs#DataReplicationInfoReplicatedDisk": {
      "type": "structure",
      "members": {
        "deviceName": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the device.</p>"
          }
        },
        "totalStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The total amount of data to be replicated in bytes.</p>"
          }
        },
        "replicatedStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of data replicated so far in bytes.</p>"
          }
        },
        "rescannedStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of data to be rescanned in bytes.</p>"
          }
        },
        "backloggedStorageBytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size of the replication backlog in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A disk that should be replicated.</p>"
      }
    },
    "com.amazonaws.drs#DataReplicationInfoReplicatedDisks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#DataReplicationInfoReplicatedDisk"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 60
        }
      }
    },
    "com.amazonaws.drs#DataReplicationInitiation": {
      "type": "structure",
      "members": {
        "startDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the current attempt to initiate data replication.</p>"
          }
        },
        "nextAttemptDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the next attempt to initiate data replication.</p>"
          }
        },
        "steps": {
          "target": "com.amazonaws.drs#DataReplicationInitiationSteps",
          "traits": {
            "smithy.api#documentation": "<p>The steps of the current attempt to initiate data replication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data replication initiation.</p>"
      }
    },
    "com.amazonaws.drs#DataReplicationInitiationStep": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.drs#DataReplicationInitiationStepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.drs#DataReplicationInitiationStepStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data replication initiation step.</p>"
      }
    },
    "com.amazonaws.drs#DataReplicationInitiationStepName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "WAIT",
            "name": "WAIT"
          },
          {
            "value": "CREATE_SECURITY_GROUP",
            "name": "CREATE_SECURITY_GROUP"
          },
          {
            "value": "LAUNCH_REPLICATION_SERVER",
            "name": "LAUNCH_REPLICATION_SERVER"
          },
          {
            "value": "BOOT_REPLICATION_SERVER",
            "name": "BOOT_REPLICATION_SERVER"
          },
          {
            "value": "AUTHENTICATE_WITH_SERVICE",
            "name": "AUTHENTICATE_WITH_SERVICE"
          },
          {
            "value": "DOWNLOAD_REPLICATION_SOFTWARE",
            "name": "DOWNLOAD_REPLICATION_SOFTWARE"
          },
          {
            "value": "CREATE_STAGING_DISKS",
            "name": "CREATE_STAGING_DISKS"
          },
          {
            "value": "ATTACH_STAGING_DISKS",
            "name": "ATTACH_STAGING_DISKS"
          },
          {
            "value": "PAIR_REPLICATION_SERVER_WITH_AGENT",
            "name": "PAIR_REPLICATION_SERVER_WITH_AGENT"
          },
          {
            "value": "CONNECT_AGENT_TO_REPLICATION_SERVER",
            "name": "CONNECT_AGENT_TO_REPLICATION_SERVER"
          },
          {
            "value": "START_DATA_TRANSFER",
            "name": "START_DATA_TRANSFER"
          }
        ]
      }
    },
    "com.amazonaws.drs#DataReplicationInitiationStepStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "NOT_STARTED",
            "value": "NOT_STARTED"
          },
          {
            "name": "IN_PROGRESS",
            "value": "IN_PROGRESS"
          },
          {
            "name": "SUCCEEDED",
            "value": "SUCCEEDED"
          },
          {
            "name": "FAILED",
            "value": "FAILED"
          },
          {
            "name": "SKIPPED",
            "value": "SKIPPED"
          }
        ]
      }
    },
    "com.amazonaws.drs#DataReplicationInitiationSteps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#DataReplicationInitiationStep"
      }
    },
    "com.amazonaws.drs#DataReplicationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "STOPPED",
            "value": "STOPPED"
          },
          {
            "name": "INITIATING",
            "value": "INITIATING"
          },
          {
            "name": "INITIAL_SYNC",
            "value": "INITIAL_SYNC"
          },
          {
            "name": "BACKLOG",
            "value": "BACKLOG"
          },
          {
            "name": "CREATING_SNAPSHOT",
            "value": "CREATING_SNAPSHOT"
          },
          {
            "name": "CONTINUOUS",
            "value": "CONTINUOUS"
          },
          {
            "name": "PAUSED",
            "value": "PAUSED"
          },
          {
            "name": "RESCAN",
            "value": "RESCAN"
          },
          {
            "name": "STALLED",
            "value": "STALLED"
          },
          {
            "name": "DISCONNECTED",
            "value": "DISCONNECTED"
          }
        ]
      }
    },
    "com.amazonaws.drs#DeleteJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DeleteJobRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DeleteJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a single Job by ID.</p>",
        "smithy.api#http": {
          "uri": "/DeleteJob",
          "method": "POST",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.drs#DeleteJobRequest": {
      "type": "structure",
      "members": {
        "jobID": {
          "target": "com.amazonaws.drs#JobID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Job to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#DeleteJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.drs#DeleteRecoveryInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DeleteRecoveryInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a single Recovery Instance by ID. This deletes the Recovery Instance resource from Elastic Disaster Recovery. The Recovery Instance must be disconnected first in order to delete it.</p>",
        "smithy.api#http": {
          "uri": "/DeleteRecoveryInstance",
          "method": "POST",
          "code": 200
        }
      }
    },
    "com.amazonaws.drs#DeleteRecoveryInstanceRequest": {
      "type": "structure",
      "members": {
        "recoveryInstanceID": {
          "target": "com.amazonaws.drs#RecoveryInstanceID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Recovery Instance to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#DeleteReplicationConfigurationTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DeleteReplicationConfigurationTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DeleteReplicationConfigurationTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a single Replication Configuration Template by ID</p>",
        "smithy.api#http": {
          "uri": "/DeleteReplicationConfigurationTemplate",
          "method": "POST",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.drs#DeleteReplicationConfigurationTemplateRequest": {
      "type": "structure",
      "members": {
        "replicationConfigurationTemplateID": {
          "target": "com.amazonaws.drs#ReplicationConfigurationTemplateID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Replication Configuration Template to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#DeleteReplicationConfigurationTemplateResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.drs#DeleteSourceServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DeleteSourceServerRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DeleteSourceServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a single Source Server by ID. The Source Server must be disconnected first.</p>",
        "smithy.api#http": {
          "uri": "/DeleteSourceServer",
          "method": "POST",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.drs#DeleteSourceServerRequest": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Source Server to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#DeleteSourceServerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.drs#DescribeJobLogItems": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeJobLogItemsRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeJobLogItemsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a detailed Job log with pagination.</p>",
        "smithy.api#http": {
          "uri": "/DescribeJobLogItems",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeJobLogItemsRequest": {
      "type": "structure",
      "members": {
        "jobID": {
          "target": "com.amazonaws.drs#JobID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Job for which Job log items will be retrieved.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of Job log items to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Job log items to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeJobLogItemsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.drs#JobLogs",
          "traits": {
            "smithy.api#documentation": "<p>An array of Job log items.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Job log items to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of Jobs. Use the JobsID and fromDate and toDate filters to limit which jobs are returned. The response is sorted by creationDataTime - latest date first. Jobs are created by the StartRecovery, TerminateRecoveryInstances and StartFailbackLaunch APIs. Jobs are also created by DiagnosticLaunch and TerminateDiagnosticInstances, which are APIs available only to *Support* and only used in response to relevant support tickets.</p>",
        "smithy.api#http": {
          "uri": "/DescribeJobs",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeJobsRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.drs#DescribeJobsRequestFilters",
          "traits": {
            "smithy.api#documentation": "<p>A set of filters by which to return Jobs.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of Jobs to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Job to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeJobsRequestFilters": {
      "type": "structure",
      "members": {
        "jobIDs": {
          "target": "com.amazonaws.drs#DescribeJobsRequestFiltersJobIDs",
          "traits": {
            "smithy.api#documentation": "<p>An array of Job IDs that should be returned. An empty array means all jobs.</p>"
          }
        },
        "fromDate": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The start date in a date range query.</p>"
          }
        },
        "toDate": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The end date in a date range query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of filters by which to return Jobs.</p>"
      }
    },
    "com.amazonaws.drs#DescribeJobsRequestFiltersJobIDs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#JobID"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.drs#DescribeJobsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.drs#JobsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Jobs.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Job to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeRecoveryInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeRecoveryInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeRecoveryInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": ["ec2:DescribeInstances", "drs:DescribeSourceServers"],
        "smithy.api#documentation": "<p>Lists all Recovery Instances or multiple Recovery Instances by ID.</p>",
        "smithy.api#http": {
          "uri": "/DescribeRecoveryInstances",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeRecoveryInstancesItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#RecoveryInstance"
      }
    },
    "com.amazonaws.drs#DescribeRecoveryInstancesRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.drs#DescribeRecoveryInstancesRequestFilters",
          "traits": {
            "smithy.api#documentation": "<p>A set of filters by which to return Recovery Instances.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of Recovery Instances to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Recovery Instance to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeRecoveryInstancesRequestFilters": {
      "type": "structure",
      "members": {
        "recoveryInstanceIDs": {
          "target": "com.amazonaws.drs#RecoveryInstanceIDs",
          "traits": {
            "smithy.api#documentation": "<p>An array of Recovery Instance IDs that should be returned. An empty array means all Recovery Instances.</p>"
          }
        },
        "sourceServerIDs": {
          "target": "com.amazonaws.drs#SourceServerIDs",
          "traits": {
            "smithy.api#documentation": "<p>An array of Source Server IDs for which associated Recovery Instances should be returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of filters by which to return Recovery Instances.</p>"
      }
    },
    "com.amazonaws.drs#DescribeRecoveryInstancesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Recovery Instance to retrieve.</p>"
          }
        },
        "items": {
          "target": "com.amazonaws.drs#DescribeRecoveryInstancesItems",
          "traits": {
            "smithy.api#documentation": "<p>An array of Recovery Instances.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeRecoverySnapshots": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeRecoverySnapshotsRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeRecoverySnapshotsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all Recovery Snapshots for a single Source Server.</p>",
        "smithy.api#http": {
          "uri": "/DescribeRecoverySnapshots",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeRecoverySnapshotsRequest": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>Filter Recovery Snapshots by Source Server ID.</p>",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.amazonaws.drs#DescribeRecoverySnapshotsRequestFilters",
          "traits": {
            "smithy.api#documentation": "<p>A set of filters by which to return Recovery Snapshots.</p>"
          }
        },
        "order": {
          "target": "com.amazonaws.drs#RecoverySnapshotsOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sorted ordering by which to return Recovery Snapshots.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of Recovery Snapshots to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Recovery Snapshot to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeRecoverySnapshotsRequestFilters": {
      "type": "structure",
      "members": {
        "fromDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The start date in a date range query.</p>"
          }
        },
        "toDateTime": {
          "target": "com.amazonaws.drs#ISO8601DatetimeString",
          "traits": {
            "smithy.api#documentation": "<p>The end date in a date range query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of filters by which to return Recovery Snapshots.</p>"
      }
    },
    "com.amazonaws.drs#DescribeRecoverySnapshotsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.drs#RecoverySnapshotsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Recovery Snapshots.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Recovery Snapshot to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeReplicationConfigurationTemplates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeReplicationConfigurationTemplatesRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeReplicationConfigurationTemplatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all ReplicationConfigurationTemplates, filtered by Source Server IDs.</p>",
        "smithy.api#http": {
          "uri": "/DescribeReplicationConfigurationTemplates",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeReplicationConfigurationTemplatesRequest": {
      "type": "structure",
      "members": {
        "replicationConfigurationTemplateIDs": {
          "target": "com.amazonaws.drs#ReplicationConfigurationTemplateIDs",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Replication Configuration Templates to retrieve. An empty list means all Replication Configuration Templates.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of Replication Configuration Templates to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Replication Configuration Template to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeReplicationConfigurationTemplatesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.drs#ReplicationConfigurationTemplates",
          "traits": {
            "smithy.api#documentation": "<p>An array of Replication Configuration Templates.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Replication Configuration Template to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeSourceServers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DescribeSourceServersRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#DescribeSourceServersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        },
        {
          "target": "com.amazonaws.drs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all Source Servers or multiple Source Servers filtered by ID.</p>",
        "smithy.api#http": {
          "uri": "/DescribeSourceServers",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.drs#DescribeSourceServersRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.drs#DescribeSourceServersRequestFilters",
          "traits": {
            "smithy.api#documentation": "<p>A set of filters by which to return Source Servers.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.drs#StrictlyPositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of Source Servers to retrieve.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Source Server to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DescribeSourceServersRequestFilters": {
      "type": "structure",
      "members": {
        "sourceServerIDs": {
          "target": "com.amazonaws.drs#DescribeSourceServersRequestFiltersIDs",
          "traits": {
            "smithy.api#documentation": "<p>An array of Source Servers IDs that should be returned. An empty array means all Source Servers.</p>"
          }
        },
        "hardwareId": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>An ID that describes the hardware of the Source Server. This is either an EC2 instance id, a VMware uuid or a mac address.</p>"
          }
        },
        "stagingAccountIDs": {
          "target": "com.amazonaws.drs#AccountIDs",
          "traits": {
            "smithy.api#documentation": "<p>An array of staging account IDs that extended source servers belong to. An empty array means all source servers will be shown.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of filters by which to return Source Servers.</p>"
      }
    },
    "com.amazonaws.drs#DescribeSourceServersRequestFiltersIDs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#SourceServerID"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.drs#DescribeSourceServersResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.drs#SourceServersList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Source Servers.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.drs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next Source Server to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.drs#DisconnectRecoveryInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DisconnectRecoveryInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disconnect a Recovery Instance from Elastic Disaster Recovery. Data replication is stopped immediately. All AWS resources created by Elastic Disaster Recovery for enabling the replication of the Recovery Instance will be terminated / deleted within 90 minutes. If the agent on the Recovery Instance has not been prevented from communicating with the Elastic Disaster Recovery service, then it will receive a command to uninstall itself (within approximately 10 minutes). The following properties of the Recovery Instance will be changed immediately: dataReplicationInfo.dataReplicationState will be set to DISCONNECTED; The totalStorageBytes property for each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>",
        "smithy.api#http": {
          "uri": "/DisconnectRecoveryInstance",
          "method": "POST",
          "code": 200
        }
      }
    },
    "com.amazonaws.drs#DisconnectRecoveryInstanceRequest": {
      "type": "structure",
      "members": {
        "recoveryInstanceID": {
          "target": "com.amazonaws.drs#RecoveryInstanceID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Recovery Instance to disconnect.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#DisconnectSourceServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.drs#DisconnectSourceServerRequest"
      },
      "output": {
        "target": "com.amazonaws.drs#SourceServer"
      },
      "errors": [
        {
          "target": "com.amazonaws.drs#ConflictException"
        },
        {
          "target": "com.amazonaws.drs#InternalServerException"
        },
        {
          "target": "com.amazonaws.drs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.drs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.drs#UninitializedAccountException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disconnects a specific Source Server from Elastic Disaster Recovery. Data replication is stopped immediately. All AWS resources created by Elastic Disaster Recovery for enabling the replication of the Source Server will be terminated / deleted within 90 minutes. You cannot disconnect a Source Server if it has a Recovery Instance. If the agent on the Source Server has not been prevented from communicating with the Elastic Disaster Recovery service, then it will receive a command to uninstall itself (within approximately 10 minutes). The following properties of the SourceServer will be changed immediately: dataReplicationInfo.dataReplicationState will be set to DISCONNECTED; The totalStorageBytes property for each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>",
        "smithy.api#http": {
          "uri": "/DisconnectSourceServer",
          "method": "POST",
          "code": 200
        }
      }
    },
    "com.amazonaws.drs#DisconnectSourceServerRequest": {
      "type": "structure",
      "members": {
        "sourceServerID": {
          "target": "com.amazonaws.drs#SourceServerID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Source Server to disconnect.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.drs#Disk": {
      "type": "structure",
      "members": {
        "deviceName": {
          "target": "com.amazonaws.drs#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The disk or device name.</p>"
          }
        },
        "bytes": {
          "target": "com.amazonaws.drs#PositiveInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of storage on the disk in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a data storage device on a server.</p>"
      }
    },
    "com.amazonaws.drs#Disks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#Disk"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.drs#EC2InstanceID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^i-[0-9a-fA-F]{8,}$"
      }
    },
    "com.amazonaws.drs#EC2InstanceState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "PENDING",
            "value": "PENDING"
          },
          {
            "name": "RUNNING",
            "value": "RUNNING"
          },
          {
            "name": "STOPPING",
            "value": "STOPPING"
          },
          {
            "name": "STOPPED",
            "value": "STOPPED"
          },
          {
            "name": "SHUTTING_DOWN",
            "value": "SHUTTING-DOWN"
          },
          {
            "name": "TERMINATED",
            "value": "TERMINATED"
          },
          {
            "name": "NOT_FOUND",
            "value": "NOT_FOUND"
          }
        ]
      }
    },
    "com.amazonaws.drs#EC2InstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.drs#EbsSnapshotsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.drs#ebsSnapshot"
      }
    },
    "com.amazonaws.drs#EbsVolumeID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 19
        },
        "smithy.api#pattern": "^vol-([0-9a-fA-F]{8}|[0-9a-fA-F]{17})$"
      }
    },
    "com.amazonaws.drs#ElasticDisasterRecoveryService": {
      "type": "service",
      "version": "2020-02-26",
      "operations": [
        {
          "target": "com.amazonaws.drs#CreateExtendedSourceServer"
        },
        {
          "target": "com.amazonaws.drs#InitializeService"
        },
        {
          "target": "com.amazonaws.drs#ListExtensibleSourceServers"
        },
        {
          "target": "com.amazonaws.drs#ListStagingAccounts"
        },
        {
          "target": "com.amazonaws.drs#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.drs#TagResource"
        },
        {
          "target": "com.amazonaws.drs#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.drs#AccountResource"
        },
        {
          "target": "com.amazonaws.drs#JobResource"
        },
        {
          "target": "com.amazonaws.drs#RecoveryInstanceResource"
        },
        {
          "target": "com.amazonaws.drs#ReplicationConfigurationTemplateResource"
        },
        {
          "target": "com.amazonaws.drs#SourceServerResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "drs",
          "arnNamespace": "drs",
          "awsProductName": "drs",
          "cloudTrailEventSource": "drs.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "drs"
        },
        "aws.iam#defineConditionKeys": {
          "drs:EC2InstanceARN": {
            "type": "String",
            "documentation": "Filters access by the EC2 instance the request originated from"
          }
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": ["Content-Type", "X-Amz-Content-Sha256", "X-Amz-User-Agent", "X-Amzn-Trace-Id"],
          "additionalExposedHeaders": ["X-Amzn-Errortype", "X-Amzn-Requestid", "X-Amzn-Trace-Id", "X-Amz-Apigw-Id"]
        },
        "smithy.api#documentation": "<p>AWS Elastic Disaster Recovery Service.</p>",
        "smithy.api#title": "Elastic Disaster Recovery Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://drs-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://drs-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://drs.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://drs.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://drs.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
[...]
