{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.dynamodb#ArchivalReason": {
      "type": "string"
    },
    "com.amazonaws.dynamodb#ArchivalSummary": {
      "type": "structure",
      "members": {
        "ArchivalDateTime": {
          "target": "com.amazonaws.dynamodb#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when table archival was initiated by DynamoDB, in UNIX epoch time\n            format.</p>"
          }
        },
        "ArchivalReason": {
          "target": "com.amazonaws.dynamodb#ArchivalReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason DynamoDB archived the table. Currently, the only possible value is:</p>\n\n        <ul>\n            <li>\n                <p>\n                  <code>INACCESSIBLE_ENCRYPTION_CREDENTIALS</code> - The table was archived due\n                    to the table's KMS key being inaccessible for more than seven\n                    days. An On-Demand backup was created at the archival time.</p>\n            </li>\n         </ul>"
          }
        },
        "ArchivalBackupArn": {
          "target": "com.amazonaws.dynamodb#BackupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the backup the table was archived to, when\n            applicable in the archival reason. If you wish to restore this backup to the same table\n            name, you will need to delete the original table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details of a table archival operation.</p>"
      }
    },
    "com.amazonaws.dynamodb#AttributeAction": {
      "type": "enum",
      "members": {
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.amazonaws.dynamodb#AttributeDefinition": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.dynamodb#KeySchemaAttributeName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeType": {
          "target": "com.amazonaws.dynamodb#ScalarAttributeType",
          "traits": {
            "smithy.api#documentation": "<p>The data type for the attribute, where:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>S</code> - the attribute is of type String</p>\n            </li>\n            <li>\n                <p>\n                    <code>N</code> - the attribute is of type Number</p>\n            </li>\n            <li>\n                <p>\n                    <code>B</code> - the attribute is of type Binary</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an attribute for describing the key schema for the table and\n            indexes.</p>"
      }
    },
    "com.amazonaws.dynamodb#AttributeDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#AttributeDefinition"
      }
    },
    "com.amazonaws.dynamodb#AttributeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb#AttributeValue"
      }
    },
    "com.amazonaws.dynamodb#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 65535
        }
      }
    },
    "com.amazonaws.dynamodb#AttributeNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#AttributeName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.dynamodb#AttributeUpdates": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb#AttributeValueUpdate"
      }
    },
    "com.amazonaws.dynamodb#AttributeValue": {
      "type": "union",
      "members": {
        "S": {
          "target": "com.amazonaws.dynamodb#StringAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type String. For example:</p>\n        <p>\n            <code>\"S\": \"Hello\"</code>\n         </p>"
          }
        },
        "N": {
          "target": "com.amazonaws.dynamodb#NumberAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Number. For example:</p>\n        <p>\n            <code>\"N\": \"123.45\"</code>\n         </p>\n        <p>Numbers are sent across the network to DynamoDB as strings, to maximize compatibility\n            across languages and libraries. However, DynamoDB treats them as number type attributes\n            for mathematical operations.</p>"
          }
        },
        "B": {
          "target": "com.amazonaws.dynamodb#BinaryAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Binary. For example:</p>\n        <p>\n            <code>\"B\": \"dGhpcyB0ZXh0IGlzIGJhc2U2NC1lbmNvZGVk\"</code>\n         </p>"
          }
        },
        "SS": {
          "target": "com.amazonaws.dynamodb#StringSetAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type String Set. For example:</p>\n        <p>\n            <code>\"SS\": [\"Giraffe\", \"Hippo\" ,\"Zebra\"]</code>\n         </p>"
          }
        },
        "NS": {
          "target": "com.amazonaws.dynamodb#NumberSetAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Number Set. For example:</p>\n        <p>\n            <code>\"NS\": [\"42.2\", \"-19\", \"7.5\", \"3.14\"]</code>\n         </p>\n        <p>Numbers are sent across the network to DynamoDB as strings, to maximize compatibility\n            across languages and libraries. However, DynamoDB treats them as number type attributes\n            for mathematical operations.</p>"
          }
        },
        "BS": {
          "target": "com.amazonaws.dynamodb#BinarySetAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Binary Set. For example:</p>\n        <p>\n            <code>\"BS\": [\"U3Vubnk=\", \"UmFpbnk=\", \"U25vd3k=\"]</code>\n         </p>"
          }
        },
        "M": {
          "target": "com.amazonaws.dynamodb#MapAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Map. For example:</p>\n        <p>\n            <code>\"M\": {\"Name\": {\"S\": \"Joe\"}, \"Age\": {\"N\": \"35\"}}</code>\n         </p>"
          }
        },
        "L": {
          "target": "com.amazonaws.dynamodb#ListAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type List. For example:</p>\n        <p>\n            <code>\"L\": [ {\"S\": \"Cookies\"} , {\"S\": \"Coffee\"}, {\"N\": \"3.14159\"}]</code>\n         </p>"
          }
        },
        "NULL": {
          "target": "com.amazonaws.dynamodb#NullAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Null. For example:</p>\n        <p>\n            <code>\"NULL\": true</code>\n         </p>"
          }
        },
        "BOOL": {
          "target": "com.amazonaws.dynamodb#BooleanAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Boolean. For example:</p>\n        <p>\n            <code>\"BOOL\": true</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the data for an attribute.</p>\n        <p>Each attribute value is described as a name-value pair. The name is the data type, and\n            the value is the data itself.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes\">Data Types</a> in the <i>Amazon DynamoDB Developer\n            Guide</i>.</p>"
      }
    },
    "com.amazonaws.dynamodb#AttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#AttributeValue"
      }
    },
    "com.amazonaws.dynamodb#AttributeValueUpdate": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.dynamodb#AttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>Represents the data for an attribute.</p>\n        <p>Each attribute value is described as a name-value pair. The name is the data type, and\n            the value is the data itself.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes\">Data Types</a> in the <i>Amazon DynamoDB Developer Guide</i>.\n        </p>"
          }
        },
        "Action": {
          "target": "com.amazonaws.dynamodb#AttributeAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how to perform the update. Valid values are <code>PUT</code> (default),\n                <code>DELETE</code>, and <code>ADD</code>. The behavior depends on whether the\n            specified primary key already exists in the table.</p>\n\n        <p>\n            <b>If an item with the specified <i>Key</i> is found in\n                the table:</b>\n        </p>\n\n        <ul>\n            <li>\n                <p>\n                    <code>PUT</code> - Adds the specified attribute to the item. If the attribute\n                    already exists, it is replaced by the new value. </p>\n            </li>\n            <li>\n                <p>\n                    <code>DELETE</code> - If no value is specified, the attribute and its value are\n                    removed from the item. The data type of the specified value must match the\n                    existing value's data type.</p>\n                <p>If a <i>set</i> of values is specified, then those values are\n                    subtracted from the old set. For example, if the attribute value was the set\n                        <code>[a,b,c]</code> and the <code>DELETE</code> action specified\n                        <code>[a,c]</code>, then the final attribute value would be\n                    <code>[b]</code>. Specifying an empty set is an error.</p>\n            </li>\n            <li>\n                <p>\n                    <code>ADD</code> - If the attribute does not already exist, then the attribute\n                    and its values are added to the item. If the attribute does exist, then the\n                    behavior of <code>ADD</code> depends on the data type of the attribute:</p>\n                <ul>\n                  <li>\n                        <p>If the existing attribute is a number, and if <code>Value</code> is\n                            also a number, then the <code>Value</code> is mathematically added to\n                            the existing attribute. If <code>Value</code> is a negative number, then\n                            it is subtracted from the existing attribute.</p>\n                        <note>\n                            <p> If you use <code>ADD</code> to increment or decrement a number\n                                value for an item that doesn't exist before the update, DynamoDB\n                                uses 0 as the initial value.</p>\n                            <p>In addition, if you use <code>ADD</code> to update an existing\n                                item, and intend to increment or decrement an attribute value which\n                                does not yet exist, DynamoDB uses <code>0</code> as the initial\n                                value. For example, suppose that the item you want to update does\n                                not yet have an attribute named <i>itemcount</i>, but\n                                you decide to <code>ADD</code> the number <code>3</code> to this\n                                attribute anyway, even though it currently does not exist. DynamoDB\n                                will create the <i>itemcount</i> attribute, set its\n                                initial value to <code>0</code>, and finally add <code>3</code> to\n                                it. The result will be a new <i>itemcount</i>\n                                attribute in the item, with a value of <code>3</code>.</p>\n                        </note>\n                    </li>\n                  <li>\n                        <p>If the existing data type is a set, and if the <code>Value</code> is\n                            also a set, then the <code>Value</code> is added to the existing set.\n                            (This is a <i>set</i> operation, not mathematical\n                            addition.) For example, if the attribute value was the set\n                                <code>[1,2]</code>, and the <code>ADD</code> action specified\n                                <code>[3]</code>, then the final attribute value would be\n                                <code>[1,2,3]</code>. An error occurs if an Add action is specified\n                            for a set attribute and the attribute type specified does not match the\n                            existing set type. </p>\n                        <p>Both sets must have the same primitive data type. For example, if the\n                            existing data type is a set of strings, the <code>Value</code> must also\n                            be a set of strings. The same holds true for number sets and binary\n                            sets.</p>\n                    </li>\n               </ul>\n                <p>This action is only valid for an existing attribute whose data type is number\n                    or is a set. Do not use <code>ADD</code> for any other data types.</p>\n            </li>\n         </ul>\n\n        <p>\n            <b>If no item with the specified <i>Key</i> is\n                found:</b>\n        </p>\n\n        <ul>\n            <li>\n                <p>\n                    <code>PUT</code> - DynamoDB creates a new item with the specified primary key,\n                    and then adds the attribute. </p>\n            </li>\n            <li>\n                <p>\n                    <code>DELETE</code> - Nothing happens; there is no attribute to delete.</p>\n            </li>\n            <li>\n                <p>\n                    <code>ADD</code> - DynamoDB creates a new item with the supplied primary key and\n                    number (or set) for the attribute value. The only data types allowed are number,\n                    number set, string set or binary set.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For the <code>UpdateItem</code> operation, represents the attributes to be modified,\n            the action to perform on each, and the new value for each.</p>\n        <note>\n            <p>You cannot use <code>UpdateItem</code> to update any primary key attributes.\n                Instead, you will need to delete the item, and then use <code>PutItem</code> to\n                create a new item with new attributes.</p>\n        </note>\n        <p>Attribute values cannot be null; string and binary type attributes must have lengths\n            greater than zero; and set type attributes must not be empty. Requests with empty values\n            will be rejected with a <code>ValidationException</code> exception.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingPolicyDescription": {
      "type": "structure",
      "members": {
        "PolicyName": {
          "target": "com.amazonaws.dynamodb#AutoScalingPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scaling policy.</p>"
          }
        },
        "TargetTrackingScalingPolicyConfiguration": {
          "target": "com.amazonaws.dynamodb#AutoScalingTargetTrackingScalingPolicyConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>Represents a target tracking scaling policy configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the properties of the scaling policy.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingPolicyDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#AutoScalingPolicyDescription"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingPolicyName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^\\p{Print}+$"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingPolicyUpdate": {
      "type": "structure",
      "members": {
        "PolicyName": {
          "target": "com.amazonaws.dynamodb#AutoScalingPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scaling policy.</p>"
          }
        },
        "TargetTrackingScalingPolicyConfiguration": {
          "target": "com.amazonaws.dynamodb#AutoScalingTargetTrackingScalingPolicyConfigurationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Represents a target tracking scaling policy configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the auto scaling policy to be modified.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*$"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingSettingsDescription": {
      "type": "structure",
      "members": {
        "MinimumUnits": {
          "target": "com.amazonaws.dynamodb#PositiveLongObject",
          "traits": {
            "smithy.api#documentation": "<p>The minimum capacity units that a global table or global secondary index should be\n            scaled down to.</p>"
          }
        },
        "MaximumUnits": {
          "target": "com.amazonaws.dynamodb#PositiveLongObject",
          "traits": {
            "smithy.api#documentation": "<p>The maximum capacity units that a global table or global secondary index should be\n            scaled up to.</p>"
          }
        },
        "AutoScalingDisabled": {
          "target": "com.amazonaws.dynamodb#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Disabled auto scaling for this global table or global secondary index.</p>"
          }
        },
        "AutoScalingRoleArn": {
          "target": "com.amazonaws.dynamodb#String",
          "traits": {
            "smithy.api#documentation": "<p>Role ARN used for configuring the auto scaling policy.</p>"
          }
        },
        "ScalingPolicies": {
          "target": "com.amazonaws.dynamodb#AutoScalingPolicyDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the scaling policies.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the auto scaling settings for a global table or global secondary\n            index.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingSettingsUpdate": {
      "type": "structure",
      "members": {
        "MinimumUnits": {
          "target": "com.amazonaws.dynamodb#PositiveLongObject",
          "traits": {
            "smithy.api#documentation": "<p>The minimum capacity units that a global table or global secondary index should be\n            scaled down to.</p>"
          }
        },
        "MaximumUnits": {
          "target": "com.amazonaws.dynamodb#PositiveLongObject",
          "traits": {
            "smithy.api#documentation": "<p>The maximum capacity units that a global table or global secondary index should be\n            scaled up to.</p>"
          }
        },
        "AutoScalingDisabled": {
          "target": "com.amazonaws.dynamodb#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Disabled auto scaling for this global table or global secondary index.</p>"
          }
        },
        "AutoScalingRoleArn": {
          "target": "com.amazonaws.dynamodb#AutoScalingRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Role ARN used for configuring auto scaling policy.</p>"
          }
        },
        "ScalingPolicyUpdate": {
          "target": "com.amazonaws.dynamodb#AutoScalingPolicyUpdate",
          "traits": {
            "smithy.api#documentation": "<p>The scaling policy to apply for scaling target global table or global secondary index\n            capacity units.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the auto scaling settings to be modified for a global table or global\n            secondary index.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingTargetTrackingScalingPolicyConfigurationDescription": {
      "type": "structure",
      "members": {
        "DisableScaleIn": {
          "target": "com.amazonaws.dynamodb#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether scale in by the target tracking policy is disabled. If the value is\n            true, scale in is disabled and the target tracking policy won't remove capacity from the\n            scalable resource. Otherwise, scale in is enabled and the target tracking policy can\n            remove capacity from the scalable resource. The default value is false.</p>"
          }
        },
        "ScaleInCooldown": {
          "target": "com.amazonaws.dynamodb#IntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scale in activity completes before another\n            scale in activity can start. The cooldown period is used to block subsequent scale in\n            requests until it has expired. You should scale in conservatively to protect your\n            application's availability. However, if another alarm triggers a scale out policy during\n            the cooldown period after a scale-in, application auto scaling scales out your scalable\n            target immediately. </p>"
          }
        },
        "ScaleOutCooldown": {
          "target": "com.amazonaws.dynamodb#IntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scale out activity completes before another\n            scale out activity can start. While the cooldown period is in effect, the capacity that\n            has been added by the previous scale out event that initiated the cooldown is calculated\n            as part of the desired capacity for the next scale out. You should continuously (but not\n            excessively) scale out.</p>"
          }
        },
        "TargetValue": {
          "target": "com.amazonaws.dynamodb#Double",
          "traits": {
            "smithy.api#documentation": "<p>The target value for the metric. The range is 8.515920e-109 to 1.174271e+108 (Base 10)\n            or 2e-360 to 2e360 (Base 2).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the properties of a target tracking scaling policy.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingTargetTrackingScalingPolicyConfigurationUpdate": {
      "type": "structure",
      "members": {
        "DisableScaleIn": {
          "target": "com.amazonaws.dynamodb#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether scale in by the target tracking policy is disabled. If the value is\n            true, scale in is disabled and the target tracking policy won't remove capacity from the\n            scalable resource. Otherwise, scale in is enabled and the target tracking policy can\n            remove capacity from the scalable resource. The default value is false.</p>"
          }
        },
        "ScaleInCooldown": {
          "target": "com.amazonaws.dynamodb#IntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scale in activity completes before another\n            scale in activity can start. The cooldown period is used to block subsequent scale in\n            requests until it has expired. You should scale in conservatively to protect your\n            application's availability. However, if another alarm triggers a scale out policy during\n            the cooldown period after a scale-in, application auto scaling scales out your scalable\n            target immediately. </p>"
          }
        },
        "ScaleOutCooldown": {
          "target": "com.amazonaws.dynamodb#IntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scale out activity completes before another\n            scale out activity can start. While the cooldown period is in effect, the capacity that\n            has been added by the previous scale out event that initiated the cooldown is calculated\n            as part of the desired capacity for the next scale out. You should continuously (but not\n            excessively) scale out.</p>"
          }
        },
        "TargetValue": {
          "target": "com.amazonaws.dynamodb#Double",
          "traits": {
            "smithy.api#documentation": "<p>The target value for the metric. The range is 8.515920e-109 to 1.174271e+108 (Base 10)\n            or 2e-360 to 2e360 (Base 2).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the settings of a target tracking scaling policy that will be\n            modified.</p>"
      }
    },
    "com.amazonaws.dynamodb#Backfilling": {
      "type": "boolean"
    },
    "com.amazonaws.dynamodb#BackupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 37,
          "max": 1024
        }
      }
    },
    "com.amazonaws.dynamodb#BackupCreationDateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.dynamodb#BackupDescription": {
      "type": "structure",
      "members": {
        "BackupDetails": {
          "target": "com.amazonaws.dynamodb#BackupDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the backup created for the table. </p>"
          }
        },
        "SourceTableDetails": {
          "target": "com.amazonaws.dynamodb#SourceTableDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the table when the backup was created. </p>"
          }
        },
        "SourceTableFeatureDetails": {
          "target": "com.amazonaws.dynamodb#SourceTableFeatureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the features enabled on the table when the backup was created.\n            For example, LSIs, GSIs, streams, TTL.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the description of the backup created for the table.</p>"
      }
    },
    "com.amazonaws.dynamodb#BackupDetails": {
      "type": "structure",
      "members": {
        "BackupArn": {
          "target": "com.amazonaws.dynamodb#BackupArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN associated with the backup.</p>",
            "smithy.api#required": {}
          }
        },
        "BackupName": {
          "target": "com.amazonaws.dynamodb#BackupName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the requested backup.</p>",
            "smithy.api#required": {}
          }
        },
        "BackupSizeBytes": {
          "target": "com.amazonaws.dynamodb#BackupSizeBytes",
          "traits": {
            "smithy.api#documentation": "<p>Size of the backup in bytes. DynamoDB updates this value approximately every six\n            hours. Recent changes might not be reflected in this value.</p>"
          }
        },
        "BackupStatus": {
          "target": "com.amazonaws.dynamodb#BackupStatus",
          "traits": {
            "smithy.api#documentation": "<p>Backup can be in one of the following states: CREATING, ACTIVE, DELETED. </p>",
            "smithy.api#required": {}
          }
        },
        "BackupType": {
          "target": "com.amazonaws.dynamodb#BackupType",
          "traits": {
            "smithy.api#documentation": "<p>BackupType:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>USER</code> - You create and manage these using the on-demand backup\n                    feature.</p>\n            </li>\n            <li>\n                <p>\n                    <code>SYSTEM</code> - If you delete a table with point-in-time recovery enabled,\n                    a <code>SYSTEM</code> backup is automatically created and is retained for 35\n                    days (at no additional cost). System backups allow you to restore the deleted\n                    table to the state it was in just before the point of deletion. </p>\n            </li>\n            <li>\n                <p>\n                    <code>AWS_BACKUP</code> - On-demand backup created by you from Backup service.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "BackupCreationDateTime": {
          "target": "com.amazonaws.dynamodb#BackupCreationDateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time at which the backup was created. This is the request time of the backup. </p>",
            "smithy.api#required": {}
          }
        },
        "BackupExpiryDateTime": {
          "target": "com.amazonaws.dynamodb#Date",
          "traits": {
            "smithy.api#documentation": "<p>Time at which the automatic on-demand backup created by DynamoDB will\n            expire. This <code>SYSTEM</code> on-demand backup expires automatically 35 days after\n            its creation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the backup created for the table.</p>"
      }
    },
    "com.amazonaws.dynamodb#BackupInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is another ongoing conflicting backup control plane operation on the table.\n            The backup is either being created, deleted or restored to a table.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.dynamodb#BackupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
      }
    },
    "com.amazonaws.dynamodb#BackupNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Backup not found for the given BackupARN. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.dynamodb#BackupSizeBytes": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.dynamodb#BackupStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        }
      }
    },
    "com.amazonaws.dynamodb#BackupSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#BackupSummary"
      }
    },
    "com.amazonaws.dynamodb#BackupSummary": {
      "type": "structure",
      "members": {
        "TableName": {
          "target": "com.amazonaws.dynamodb#TableName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the table.</p>"
          }
        },
        "TableId": {
          "target": "com.amazonaws.dynamodb#TableId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the table.</p>"
          }
        },
        "TableArn": {
          "target": "com.amazonaws.dynamodb#TableArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN associated with the table.</p>"
          }
        },
        "BackupArn": {
          "target": "com.amazonaws.dynamodb#BackupArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN associated with the backup.</p>"
          }
        },
        "BackupName": {
          "target": "com.amazonaws.dynamodb#BackupName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the specified backup.</p>"
          }
        },
        "BackupCreationDateTime": {
          "target": "com.amazonaws.dynamodb#BackupCreationDateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time at which the backup was created.</p>"
          }
        },
        "BackupExpiryDateTime": {
          "target": "com.amazonaws.dynamodb#Date",
          "traits": {
            "smithy.api#documentation": "<p>Time at which the automatic on-demand backup created by DynamoDB will\n            expire. This <code>SYSTEM</code> on-demand backup expires automatically 35 days after\n            its creation.</p>"
          }
        },
        "BackupStatus": {
          "target": "com.amazonaws.dynamodb#BackupStatus",
          "traits": {
            "smithy.api#documentation": "<p>Backup can be in one of the following states: CREATING, ACTIVE, DELETED.</p>"
          }
        },
        "BackupType": {
          "target": "com.amazonaws.dynamodb#BackupType",
          "traits": {
            "smithy.api#documentation": "<p>BackupType:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>USER</code> - You create and manage these using the on-demand backup\n                    feature.</p>\n            </li>\n            <li>\n                <p>\n                    <code>SYSTEM</code> - If you delete a table with point-in-time recovery enabled,\n                    a <code>SYSTEM</code> backup is automatically created and is retained for 35\n                    days (at no additional cost). System backups allow you to restore the deleted\n                    table to the state it was in just before the point of deletion. </p>\n            </li>\n            <li>\n                <p>\n                    <code>AWS_BACKUP</code> - On-demand backup created by you from Backup service.</p>\n            </li>\n         </ul>"
          }
        },
        "BackupSizeBytes": {
          "target": "com.amazonaws.dynamodb#BackupSizeBytes",
          "traits": {
            "smithy.api#documentation": "<p>Size of the backup in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details for the backup.</p>"
      }
    },
    "com.amazonaws.dynamodb#BackupType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        },
        "AWS_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_BACKUP"
          }
        }
      }
    },
    "com.amazonaws.dynamodb#BackupTypeFilter": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        },
        "AWS_BACKUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_BACKUP"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        }
      }
    },
    "com.amazonaws.dynamodb#BackupsInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.dynamodb#BatchExecuteStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb#BatchExecuteStatementInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb#BatchExecuteStatementOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb#RequestLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation allows you to perform batch reads or writes on data stored in DynamoDB,\n            using PartiQL. Each read statement in a <code>BatchExecuteStatement</code> must specify\n            an equality condition on all key attributes. This enforces that each <code>SELECT</code>\n            statement in a batch returns at most a single item.</p>\n        <note>\n            <p>The entire batch must consist of either read statements or write statements, you\n                cannot mix both in one batch.</p>\n        </note>\n        <important>\n            <p>A HTTP 200 response does not mean that all statements in the BatchExecuteStatement\n                succeeded. Error details for individual statements can be found under the <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_BatchStatementResponse.html#DDB-Type-BatchStatementResponse-Error\">Error</a> field of the <code>BatchStatementResponse</code> for each\n                statement.</p>\n        </important>"
      }
    },
    "com.amazonaws.dynamodb#BatchExecuteStatementInput": {
      "type": "structure",
      "members": {
        "Statements": {
          "target": "com.amazonaws.dynamodb#PartiQLBatchRequest",
          "traits": {
            "smithy.api#documentation": "<p>The list of PartiQL statements representing the batch to run.</p>",
            "smithy.api#required": {}
          }
        },
        "ReturnConsumedCapacity": {
          "target": "com.amazonaws.dynamodb#ReturnConsumedCapacity"
        }
      }
    },
    "com.amazonaws.dynamodb#BatchExecuteStatementOutput": {
      "type": "structure",
      "members": {
        "Responses": {
          "target": "com.amazonaws.dynamodb#PartiQLBatchResponse",
          "traits": {
            "smithy.api#documentation": "<p>The response to each PartiQL statement in the batch.</p>"
          }
        },
        "ConsumedCapacity": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityMultiple",
          "traits": {
            "smithy.api#documentation": "<p>The capacity units consumed by the entire operation. The values of the list are\n            ordered according to the ordering of the statements.</p>"
          }
        }
      }
    },
    "com.amazonaws.dynamodb#BatchGetItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb#BatchGetItemInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb#BatchGetItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.dynamodb#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.dynamodb#RequestLimitExceeded"
        },
        {
          "target": "com.amazonaws.dynamodb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": false
        },
        "smithy.api#documentation": "<p>The <code>BatchGetItem</code> operation returns the attributes of one or more items\n            from one or more tables. You identify requested items by primary key.</p>\n        <p>A single operation can retrieve up to 16 MB of data, which can contain as many as 100\n            items. <code>BatchGetItem</code> returns a partial result if the response size limit is\n            exceeded, the table's provisioned throughput is exceeded, or an internal processing\n            failure occurs. If a partial result is returned, the operation returns a value for\n                <code>UnprocessedKeys</code>. You can use this value to retry the operation starting\n            with the next item to get.</p>\n        <important>\n            <p>If you request more than 100 items, <code>BatchGetItem</code> returns a\n                    <code>ValidationException</code> with the message \"Too many items requested for\n                the BatchGetItem call.\"</p>\n        </important>\n        <p>For example, if you ask to retrieve 100 items, but each individual item is 300 KB in\n            size, the system returns 52 items (so as not to exceed the 16 MB limit). It also returns\n            an appropriate <code>UnprocessedKeys</code> value so you can get the next page of\n            results. If desired, your application can include its own logic to assemble the pages of\n            results into one dataset.</p>\n        <p>If <i>none</i> of the items can be processed due to insufficient\n            provisioned throughput on all of the tables in the request, then\n                <code>BatchGetItem</code> returns a\n                <code>ProvisionedThroughputExceededException</code>. If <i>at least\n                one</i> of the items is successfully processed, then\n                <code>BatchGetItem</code> completes successfully, while returning the keys of the\n            unread items in <code>UnprocessedKeys</code>.</p>\n        <important>\n            <p>If DynamoDB returns any unprocessed items, you should retry the batch operation on\n                those items. However, <i>we strongly recommend that you use an exponential\n                    backoff algorithm</i>. If you retry the batch operation immediately, the\n                underlying read or write requests can still fail due to throttling on the individual\n                tables. If you delay the batch operation using exponential backoff, the individual\n                requests in the batch are much more likely to succeed.</p>\n            <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#BatchOperations\">Batch Operations and Error Handling</a> in the <i>Amazon DynamoDB\n                    Developer Guide</i>.</p>\n        </important>\n        <p>By default, <code>BatchGetItem</code> performs eventually consistent reads on every\n            table in the request. If you want strongly consistent reads instead, you can set\n                <code>ConsistentRead</code> to <code>true</code> for any or all tables.</p>\n        <p>In order to minimize response latency, <code>BatchGetItem</code> retrieves items in\n            parallel.</p>\n        <p>When designing your application, keep in mind that DynamoDB does not return items in\n            any particular order. To help parse the response by item, include the primary key values\n            for the items in your request in the <code>ProjectionExpression</code> parameter.</p>\n        <p>If a requested item does not exist, it is not returned in the result. Requests for\n            nonexistent items consume the minimum read capacity units according to the type of read.\n            For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithTables.html#CapacityUnitCalculations\">Working with Tables</a> in the <i>Amazon DynamoDB Developer\n                Guide</i>.</p>"
      }
    },
    "com.amazonaws.dynamodb#BatchGetItemInput": {
      "type": "structure",
      "members": {
        "RequestItems": {
          "target": "com.amazonaws.dynamodb#BatchGetRequestMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of one or more table names and, for each table, a map that describes one or more\n            items to retrieve from that table. Each table name can be used only once per\n                <code>BatchGetItem</code> request.</p>\n        <p>Each element in the map of items to retrieve consists of the following:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>ConsistentRead</code> - If <code>true</code>, a strongly consistent read\n                    is used; if <code>false</code> (the default), an eventually consistent read is\n                    used.</p>\n            </li>\n            <li>\n                <p>\n                    <code>ExpressionAttributeNames</code> - One or more substitution tokens for\n                    attribute names in the <code>ProjectionExpression</code> parameter. The\n                    following are some use cases for using\n                    <code>ExpressionAttributeNames</code>:</p>\n                <ul>\n                  <li>\n                        <p>To access an attribute whose name conflicts with a DynamoDB reserved\n                            word.</p>\n                    </li>\n                  <li>\n                        <p>To create a placeholder for repeating occurrences of an attribute name\n                            in an expression.</p>\n                    </li>\n                  <li>\n                        <p>To prevent special characters in an attribute name from being\n                            misinterpreted in an expression.</p>\n                    </li>\n               </ul>\n                <p>Use the <b>#</b> character in an expression to\n                    dereference an attribute name. For example, consider the following attribute\n                    name:</p>\n                <ul>\n                  <li>\n                        <p>\n                            <code>Percentile</code>\n                        </p>\n                    </li>\n               </ul>\n                <p>The name of this attribute conflicts with a reserved word, so it cannot be\n                    used directly in an expression. (For the complete list of reserved words, see\n                        <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ReservedWords.html\">Reserved\n                        Words</a> in the <i>Amazon DynamoDB Developer Guide</i>).\n                    To work around this, you could specify the following for\n                        <code>ExpressionAttributeNames</code>:</p>\n                <ul>\n                  <li>\n                        <p>\n                            <code>{\"#P\":\"Percentile\"}</code>\n                        </p>\n                    </li>\n               </ul>\n                <p>You could then use this substitution in an expression, as in this\n                    example:</p>\n                <ul>\n                  <li>\n                        <p>\n                            <code>#P = :val</code>\n                        </p>\n                    </li>\n               </ul>\n                <note>\n                    <p>Tokens that begin with the <b>:</b> character\n                        are <i>expression attribute values</i>, which are placeholders\n                        for the actual value at runtime.</p>\n                </note>\n                <p>For more information about expression attribute names, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.AccessingItemAttributes.html\">Accessing Item Attributes</a> in the <i>Amazon DynamoDB\n                        Developer Guide</i>.</p>\n            </li>\n            <li>\n                <p>\n                    <code>Keys</code> - An array of primary key attribute values that define\n                    specific items in the table. For each primary key, you must provide\n                        <i>all</i> of the key attributes. For example, with a simple\n                    primary key, you only need to provide the partition key value. For a composite\n                    key, you must provide <i>both</i> the partition key value and the\n                    sort key value.</p>\n            </li>\n            <li>\n                <p>\n                    <code>ProjectionExpression</code> - A string that identifies one or more\n                    attributes to retrieve from the table. These attributes can include scalars,\n                    sets, or elements of a JSON document. The attributes in the expression must be\n                    separated by commas.</p>\n                <p>If no attribute names are specified, then all attributes are returned. If any\n                    of the requested attributes are not found, they do not appear in the\n                    result.</p>\n                <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.AccessingItemAttributes.html\">Accessing Item Attributes</a> in the <i>Amazon DynamoDB\n                        Developer Guide</i>.</p>\n            </li>\n            <li>\n                <p>\n                    <code>AttributesToGet</code> - This is a legacy parameter. Use\n                        <code>ProjectionExpression</code> instead. For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/LegacyConditionalParameters.AttributesToGet.html\">AttributesToGet</a> in the <i>Amazon DynamoDB Developer\n                        Guide</i>. </p>\n\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ReturnConsumedCapacity": {
          "target": "com.amazonaws.dynamodb#ReturnConsumedCapacity"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>BatchGetItem</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb#BatchGetItemOutput": {
      "type": "structure",
      "members": {
        "Responses": {
          "target": "com.amazonaws.dynamodb#BatchGetResponseMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of table name to a list of items. Each object in <code>Responses</code> consists\n            of a table name, along with a map of attribute data consisting of the data type and\n            attribute value.</p>"
          }
        },
        "UnprocessedKeys": {
          "target": "com.amazonaws.dynamodb#BatchGetRequestMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of tables and their respective keys that were not processed with the current\n            response. The <code>UnprocessedKeys</code> value is in the same form as\n                <code>RequestItems</code>, so the value can be provided directly to a subsequent\n                <code>BatchGetItem</code> operation. For more information, see\n                <code>RequestItems</code> in the Request Parameters section.</p>\n        <p>Each element consists of:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>Keys</code> - An array of primary key attribute values that define\n                    specific items in the table.</p>\n            </li>\n            <li>\n                <p>\n                    <code>ProjectionExpression</code> - One or more attributes to be retrieved from\n                    the table or index. By default, all attributes are returned. If a requested\n                    attribute is not found, it does not appear in the result.</p>\n            </li>\n            <li>\n                <p>\n                    <code>ConsistentRead</code> - The consistency of a read operation. If set to\n                        <code>true</code>, then a strongly consistent read is used; otherwise, an\n                    eventually consistent read is used.</p>\n            </li>\n         </ul>\n        <p>If there are no unprocessed keys remaining, the response contains an empty\n                <code>UnprocessedKeys</code> map.</p>"
          }
        },
        "ConsumedCapacity": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityMultiple",
          "traits": {
            "smithy.api#documentation": "<p>The read capacity units consumed by the entire <code>BatchGetItem</code>\n            operation.</p>\n        <p>Each element consists of:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>TableName</code> - The table that consumed the provisioned\n                    throughput.</p>\n            </li>\n            <li>\n                <p>\n                    <code>CapacityUnits</code> - The total number of capacity units consumed.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchGetItem</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb#BatchGetRequestMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb#TableName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb#KeysAndAttributes"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.dynamodb#BatchGetResponseMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb#TableName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb#ItemList"
      }
    },
    "com.amazonaws.dynamodb#BatchStatementError": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.dynamodb#BatchStatementErrorCodeEnum",
          "traits": {
            "smithy.api#documentation": "<p> The error code associated with the failed PartiQL batch statement. </p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.dynamodb#String",
          "traits": {
            "smithy.api#documentation": "<p> The error message associated with the PartiQL batch response. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An error associated with a statement in a PartiQL batch that was run. </p>"
      }
    },
    "com.amazonaws.dynamodb#BatchStatementErrorCodeEnum": {
      "type": "enum",
      "members": {
        "ConditionalCheckFailed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConditionalCheckFailed"
          }
        },
        "ItemCollectionSizeLimitExceeded": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ItemCollectionSizeLimitExceeded"
          }
        },
        "RequestLimitExceeded": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestLimitExceeded"
          }
        },
        "ValidationError": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ValidationError"
          }
        },
        "ProvisionedThroughputExceeded": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProvisionedThroughputExceeded"
          }
        },
        "TransactionConflict": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TransactionConflict"
          }
        },
        "ThrottlingError": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ThrottlingError"
          }
        },
        "InternalServerError": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InternalServerError"
          }
        },
        "ResourceNotFound": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceNotFound"
          }
        },
        "AccessDenied": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AccessDenied"
          }
        },
        "DuplicateItem": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DuplicateItem"
          }
        }
      }
    },
    "com.amazonaws.dynamodb#BatchStatementRequest": {
      "type": "structure",
      "members": {
        "Statement": {
          "target": "com.amazonaws.dynamodb#PartiQLStatement",
          "traits": {
            "smithy.api#documentation": "<p> A valid PartiQL statement. </p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.dynamodb#PreparedStatementParameters",
          "traits": {
            "smithy.api#documentation": "<p> The parameters associated with a PartiQL statement in the batch request. </p>"
          }
        },
        "ConsistentRead": {
          "target": "com.amazonaws.dynamodb#ConsistentRead",
          "traits": {
            "smithy.api#documentation": "<p> The read consistency of the PartiQL batch request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A PartiQL batch statement request. </p>"
      }
    },
    "com.amazonaws.dynamodb#BatchStatementResponse": {
      "type": "structure",
      "members": {
        "Error": {
          "target": "com.amazonaws.dynamodb#BatchStatementError",
          "traits": {
            "smithy.api#documentation": "<p> The error associated with a failed PartiQL batch statement. </p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.dynamodb#TableName",
          "traits": {
            "smithy.api#documentation": "<p> The table name associated with a failed PartiQL batch statement. </p>"
          }
        },
        "Item": {
          "target": "com.amazonaws.dynamodb#AttributeMap",
          "traits": {
            "smithy.api#documentation": "<p> A DynamoDB item associated with a BatchStatementResponse </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A PartiQL batch statement response.. </p>"
      }
    },
    "com.amazonaws.dynamodb#BatchWriteItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb#BatchWriteItemInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb#BatchWriteItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.dynamodb#ItemCollectionSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.dynamodb#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.dynamodb#RequestLimitExceeded"
        },
        {
          "target": "com.amazonaws.dynamodb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.api#clientDiscoveredEndpoint": {
          "required": false
        },
        "smithy.api#documentation": "<p>The <code>BatchWriteItem</code> operation puts or deletes multiple items in one or\n            more tables. A single call to <code>BatchWriteItem</code> can transmit up to 16MB of\n            data over the network, consisting of up to 25 item put or delete operations. While\n            individual items can be up to 400 KB once stored, it's important to note that an item's\n            representation might be greater than 400KB while being sent in DynamoDB's JSON format\n            for the API call. For more details on this distinction, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html\">Naming Rules and Data Types</a>.</p>\n        <note>\n            <p>\n                <code>BatchWriteItem</code> cannot update items. If you perform a <code>BatchWriteItem</code>\n                operation on an existing item, that item's values will be overwritten by the\n                operation and it will appear like it was updated. To update items, we recommend you\n                use the <code>UpdateItem</code> action.</p>\n        </note>\n        <p>The individual <code>PutItem</code> and <code>DeleteItem</code> operations specified\n            in <code>BatchWriteItem</code> are atomic; however <code>BatchWriteItem</code> as a\n            whole is not. If any requested operations fail because the table's provisioned\n            throughput is exceeded or an internal processing failure occurs, the failed operations\n            are returned in the <code>UnprocessedItems</code> response parameter. You can\n            investigate and optionally resend the requests. Typically, you would call\n                <code>BatchWriteItem</code> in a loop. Each iteration would check for unprocessed\n            items and submit a new <code>BatchWriteItem</code> request with those unprocessed items\n            until all items have been processed.</p>\n        <p>If <i>none</i> of the items can be processed due to insufficient\n            provisioned throughput on all of the tables in the request, then\n                <code>BatchWriteItem</code> returns a\n                <code>ProvisionedThroughputExceededException</code>.</p>\n        <important>\n            <p>If DynamoDB returns any unprocessed items, you should retry the batch operation on\n                those items. However, <i>we strongly recommend that you use an exponential\n                    backoff algorithm</i>. If you retry the batch operation immediately, the\n                underlying read or write requests can still fail due to throttling on the individual\n                tables. If you delay the batch operation using exponential backoff, the individual\n                requests in the batch are much more likely to succeed.</p>\n            <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#Programming.Errors.BatchOperations\">Batch Operations and Error Handling</a> in the <i>Amazon DynamoDB\n                    Developer Guide</i>.</p>\n        </important>\n\n        <p>With <code>BatchWriteItem</code>, you can efficiently write or delete large amounts of\n            data, such as from Amazon EMR, or copy data from another database into DynamoDB. In\n            order to improve performance with these large-scale operations,\n                <code>BatchWriteItem</code> does not behave in the same way as individual\n                <code>PutItem</code> and <code>DeleteItem</code> calls would. For example, you\n            cannot specify conditions on individual put and delete requests, and\n                <code>BatchWriteItem</code> does not return deleted items in the response.</p>\n        <p>If you use a programming language that supports concurrency, you can use threads to\n            write items in parallel. Your application must include the necessary logic to manage the\n            threads. With languages that don't support threading, you must update or delete the\n            specified items one at a time. In both situations, <code>BatchWriteItem</code> performs\n            the specified put and delete operations in parallel, giving you the power of the thread\n            pool approach without having to introduce complexity into your application.</p>\n        <p>Parallel processing reduces latency, but each specified put and delete request\n            consumes the same number of write capacity units whether it is processed in parallel or\n            not. Delete operations on nonexistent items consume one write capacity unit.</p>\n        <p>If one or more of the following is true, DynamoDB rejects the entire batch write\n            operation:</p>\n        <ul>\n            <li>\n                <p>One or more tables specified in the <code>BatchWriteItem</code> request does\n                    not exist.</p>\n            </li>\n            <li>\n                <p>Primary key attributes specified on an item in the request do not match those\n                    in the corresponding table's primary key schema.</p>\n            </li>\n            <li>\n                <p>You try to perform multiple operations on the same item in the same\n                        <code>BatchWriteItem</code> request. For example, you cannot put and delete\n                    the same item in the same <code>BatchWriteItem</code> request. </p>\n            </li>\n            <li>\n                <p> Your request contains at least two items with identical hash and range keys\n                    (which essentially is two put operations). </p>\n            </li>\n            <li>\n                <p>There are more than 25 requests in the batch.</p>\n            </li>\n            <li>\n                <p>Any individual item in a batch exceeds 400 KB.</p>\n            </li>\n            <li>\n                <p>The total request size exceeds 16 MB.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.dynamodb#BatchWriteItemInput": {
      "type": "structure",
      "members": {
        "RequestItems": {
          "target": "com.amazonaws.dynamodb#BatchWriteItemRequestMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of one or more table names and, for each table, a list of operations to be\n            performed (<code>DeleteRequest</code> or <code>PutRequest</code>). Each element in the\n            map consists of the following:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>DeleteRequest</code> - Perform a <code>DeleteItem</code> operation on the\n                    specified item. The item to be deleted is identified by a <code>Key</code>\n                    subelement:</p>\n                <ul>\n                  <li>\n                        <p>\n                            <code>Key</code> - A map of primary key attribute values that uniquely\n                            identify the item. Each entry in this map consists of an attribute name\n                            and an attribute value. For each primary key, you must provide\n                                <i>all</i> of the key attributes. For example, with a\n                            simple primary key, you only need to provide a value for the partition\n                            key. For a composite primary key, you must provide values for\n                                <i>both</i> the partition key and the sort key.</p>\n                    </li>\n               </ul>\n            </li>\n            <li>\n                <p>\n                    <code>PutRequest</code> - Perform a <code>PutItem</code> operation on the\n                    specified item. The item to be put is identified by an <code>Item</code>\n                    subelement:</p>\n                <ul>\n                  <li>\n                        <p>\n                            <code>Item</code> - A map of attributes and their values. Each entry in\n                            this map consists of an attribute name and an attribute value. Attribute\n                            values must not be null; string and binary type attributes must have\n                            lengths greater than zero; and set type attributes must not be empty.\n                            Requests that contain empty values are rejected with a\n                                <code>ValidationException</code> exception.</p>\n                        <p>If you specify any attributes that are part of an index key, then the\n                            data types for those attributes must match those of the schema in the\n                            table's attribute definition.</p>\n                    </li>\n               </ul>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ReturnConsumedCapacity": {
          "target": "com.amazonaws.dynamodb#ReturnConsumedCapacity"
        },
        "ReturnItemCollectionMetrics": {
          "target": "com.amazonaws.dynamodb#ReturnItemCollectionMetrics",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether item collection metrics are returned. If set to <code>SIZE</code>,\n            the response includes statistics about item collections, if any, that were modified\n            during the operation are returned in the response. If set to <code>NONE</code> (the\n            default), no statistics are returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>BatchWriteItem</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb#BatchWriteItemOutput": {
      "type": "structure",
      "members": {
        "UnprocessedItems": {
          "target": "com.amazonaws.dynamodb#BatchWriteItemRequestMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of tables and requests against those tables that were not processed. The\n                <code>UnprocessedItems</code> value is in the same form as\n            <code>RequestItems</code>, so you can provide this value directly to a subsequent\n                <code>BatchWriteItem</code> operation. For more information, see\n                <code>RequestItems</code> in the Request Parameters section.</p>\n        <p>Each <code>UnprocessedItems</code> entry consists of a table name and, for that table,\n            a list of operations to perform (<code>DeleteRequest</code> or\n            <code>PutRequest</code>).</p>\n        <ul>\n            <li>\n                <p>\n                    <code>DeleteRequest</code> - Perform a <code>DeleteItem</code> operation on the\n                    specified item. The item to be deleted is identified by a <code>Key</code>\n                    subelement:</p>\n                <ul>\n                  <li>\n                        <p>\n                            <code>Key</code> - A map of primary key attribute values that uniquely\n                            identify the item. Each entry in this map consists of an attribute name\n                            and an attribute value.</p>\n                    </li>\n               </ul>\n            </li>\n            <li>\n                <p>\n                    <code>PutRequest</code> - Perform a <code>PutItem</code> operation on the\n                    specified item. The item to be put is identified by an <code>Item</code>\n                    subelement:</p>\n                <ul>\n                  <li>\n                        <p>\n                            <code>Item</code> - A map of attributes and their values. Each entry in\n                            this map consists of an attribute name and an attribute value. Attribute\n                            values must not be null; string and binary type attributes must have\n                            lengths greater than zero; and set type attributes must not be empty.\n                            Requests that contain empty values will be rejected with a\n                                <code>ValidationException</code> exception.</p>\n                        <p>If you specify any attributes that are part of an index key, then the\n                            data types for those attributes must match those of the schema in the\n                            table's attribute definition.</p>\n                    </li>\n               </ul>\n            </li>\n         </ul>\n        <p>If there are no unprocessed items remaining, the response contains an empty\n                <code>UnprocessedItems</code> map.</p>"
          }
        },
        "ItemCollectionMetrics": {
          "target": "com.amazonaws.dynamodb#ItemCollectionMetricsPerTable",
          "traits": {
            "smithy.api#documentation": "<p>A list of tables that were processed by <code>BatchWriteItem</code> and, for each\n            table, information about any item collections that were affected by individual\n                <code>DeleteItem</code> or <code>PutItem</code> operations.</p>\n        <p>Each entry consists of the following subelements:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>ItemCollectionKey</code> - The partition key value of the item collection.\n                    This is the same as the partition key value of the item.</p>\n            </li>\n            <li>\n                <p>\n                    <code>SizeEstimateRangeGB</code> - An estimate of item collection size,\n                    expressed in GB. This is a two-element array containing a lower bound and an\n                    upper bound for the estimate. The estimate includes the size of all the items in\n                    the table, plus the size of all attributes projected into all of the local\n                    secondary indexes on the table. Use this estimate to measure whether a local\n                    secondary index is approaching its size limit.</p>\n                <p>The estimate is subject to change over time; therefore, do not rely on the\n                    precision or accuracy of the estimate.</p>\n            </li>\n         </ul>"
          }
        },
        "ConsumedCapacity": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityMultiple",
          "traits": {
            "smithy.api#documentation": "<p>The capacity units consumed by the entire <code>BatchWriteItem</code>\n            operation.</p>\n        <p>Each element consists of:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>TableName</code> - The table that consumed the provisioned\n                    throughput.</p>\n            </li>\n            <li>\n                <p>\n                    <code>CapacityUnits</code> - The total number of capacity units consumed.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchWriteItem</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb#BatchWriteItemRequestMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb#TableName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb#WriteRequests"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.dynamodb#BilledSizeBytes": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.dynamodb#BillingMode": {
      "type": "enum",
      "members": {
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        },
        "PAY_PER_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAY_PER_REQUEST"
          }
        }
      }
    },
    "com.amazonaws.dynamodb#BillingModeSummary": {
      "type": "structure",
      "members": {
        "BillingMode": {
          "target": "com.amazonaws.dynamodb#BillingMode",
          "traits": {
            "smithy.api#documentation": "<p>Controls how you are charged for read and write throughput and how you manage\n            capacity. This setting can be changed later.</p>\n        <ul>\n            <li>\n                <p>\n                    <code>PROVISIONED</code> - Sets the read/write capacity mode to\n                        <code>PROVISIONED</code>. We recommend using <code>PROVISIONED</code> for\n                    predictable workloads.</p>\n            </li>\n            <li>\n                <p>\n                    <code>PAY_PER_REQUEST</code> - Sets the read/write capacity mode to\n                        <code>PAY_PER_REQUEST</code>. We recommend using\n                        <code>PAY_PER_REQUEST</code> for unpredictable workloads. </p>\n            </li>\n         </ul>"
          }
        },
        "LastUpdateToPayPerRequestDateTime": {
          "target": "com.amazonaws.dynamodb#Date",
          "traits": {
            "smithy.api#documentation": "<p>Represents the time when <code>PAY_PER_REQUEST</code> was last set as the read/write\n            capacity mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details for the read/write capacity mode. This page talks about\n                <code>PROVISIONED</code> and <code>PAY_PER_REQUEST</code> billing modes. For more\n            information about these modes, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadWriteCapacityMode.html\">Read/write capacity mode</a>.</p>\n        <note>\n            <p>You may need to switch to on-demand mode at least once in order to return a\n                    <code>BillingModeSummary</code> response.</p>\n        </note>"
      }
    },
    "com.amazonaws.dynamodb#BinaryAttributeValue": {
      "type": "blob"
    },
    "com.amazonaws.dynamodb#BinarySetAttributeValue": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#BinaryAttributeValue"
      }
    },
    "com.amazonaws.dynamodb#BooleanAttributeValue": {
      "type": "boolean"
    },
    "com.amazonaws.dynamodb#BooleanObject": {
      "type": "boolean"
    },
    "com.amazonaws.dynamodb#CancellationReason": {
      "type": "structure",
      "members": {
        "Item": {
          "target": "com.amazonaws.dynamodb#AttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>Item in the request which caused the transaction to get cancelled.</p>"
          }
        },
        "Code": {
          "target": "com.amazonaws.dynamodb#Code",
          "traits": {
            "smithy.api#documentation": "<p>Status code for the result of the cancelled transaction.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.dynamodb#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Cancellation reason message description.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An ordered list of errors for each item in the request which caused the transaction to\n            get cancelled. The values of the list are ordered according to the ordering of the\n                <code>TransactWriteItems</code> request parameter. If no error occurred for the\n            associated item an error with a Null code and Null message will be present. </p>"
      }
    },
    "com.amazonaws.dynamodb#CancellationReasonList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#CancellationReason"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.dynamodb#Capacity": {
      "type": "structure",
      "members": {
        "ReadCapacityUnits": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of read capacity units consumed on a table or an index.</p>"
          }
        },
        "WriteCapacityUnits": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of write capacity units consumed on a table or an index.</p>"
          }
        },
        "CapacityUnits": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of capacity units consumed on a table or an index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the amount of provisioned throughput capacity consumed on a table or an\n            index.</p>"
      }
    },
    "com.amazonaws.dynamodb#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        }
      }
    },
    "com.amazonaws.dynamodb#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[^\\$]+$"
      }
    },
    "com.amazonaws.dynamodb#CloudWatchLogGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.dynamodb#Code": {
      "type": "string"
    },
    "com.amazonaws.dynamodb#ComparisonOperator": {
      "type": "enum",
      "members": {
        "EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQ"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NE"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "LE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LE"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GE"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETWEEN"
          }
        },
        "NOT_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_NULL"
          }
        },
        "NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NULL"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "NOT_CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CONTAINS"
          }
        },
        "BEGINS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEGINS_WITH"
          }
        }
      }
    },
    "com.amazonaws.dynamodb#Condition": {
      "type": "structure",
      "members": {
        "AttributeValueList": {
          "target": "com.amazonaws.dynamodb#AttributeValueList",
          "traits": {
            "smithy.api#documentation": "<p>One or more values to evaluate against the supplied attribute. The number of values in\n            the list depends on the <code>ComparisonOperator</code> being used.</p>\n        <p>For type Number, value comparisons are numeric.</p>\n        <p>String value comparisons for greater than, equals, or less than are based on ASCII\n            character code values. For example, <code>a</code> is greater than <code>A</code>, and\n                <code>a</code> is greater than <code>B</code>. For a list of code values, see <a href=\"http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters\">http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters</a>.</p>\n        <p>For Binary, DynamoDB treats each byte of the binary data as unsigned when it\n            compares binary values.</p>"
          }
        },
        "ComparisonOperator": {
          "target": "com.amazonaws.dynamodb#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>A comparator for evaluating attributes. For example, equals, greater than, less than,\n            etc.</p>\n        <p>The following comparison operators are available:</p>\n        <p>\n            <code>EQ | NE | LE | LT | GE | GT | NOT_NULL | NULL | CONTAINS | NOT_CONTAINS |\n                BEGINS_WITH | IN | BETWEEN</code>\n        </p>\n        <p>The following are descriptions of each comparison operator.</p>\n        <ul>\n            <li>\n                <p>\n                    <code>EQ</code> : Equal. <code>EQ</code> is supported for all data types,\n                    including lists and maps.</p>\n                <p>\n                    <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>\n                    element of type String, Number, Binary, String Set, Number Set, or Binary Set.\n                    If an item contains an <code>AttributeValue</code> element of a different type\n                    than the one provided in the request, the value does not match. For example,\n                        <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>. Also,\n                        <code>{\"N\":\"6\"}</code> does not equal <code>{\"NS\":[\"6\", \"2\",\n                    \"1\"]}</code>.</p>\n                <p></p>\n            </li>\n            <li>\n                <p>\n                    <code>NE</code> : Not equal. <code>NE</code> is supported for all data types,\n                    including lists and maps.</p>\n                <p>\n                    <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>\n                    of type String, Number, Binary, String Set, Number Set, or Binary Set. If an\n                    item contains an <code>AttributeValue</code> of a different type than the one\n                    provided in the request, the value does not match. For example,\n                        <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>. Also,\n                        <code>{\"N\":\"6\"}</code> does not equal <code>{\"NS\":[\"6\", \"2\",\n                    \"1\"]}</code>.</p>\n                <p></p>\n            </li>\n            <li>\n                <p>\n                    <code>LE</code> : Less than or equal. </p>\n                <p>\n                    <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>\n                    element of type String, Number, or Binary (not a set type). If an item contains\n                    an <code>AttributeValue</code> element of a different type than the one provided\n                    in the request, the value does not match. For example, <code>{\"S\":\"6\"}</code>\n                    does not equal <code>{\"N\":\"6\"}</code>. Also, <code>{\"N\":\"6\"}</code> does not\n                    compare to <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>\n                <p></p>\n            </li>\n            <li>\n                <p>\n                    <code>LT</code> : Less than. </p>\n                <p>\n                    <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>\n                    of type String, Number, or Binary (not a set type). If an item contains an\n                        <code>AttributeValue</code> element of a different type than the one\n                    provided in the request, the value does not match. For example,\n                        <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>. Also,\n                        <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\",\n                        \"1\"]}</code>.</p>\n                <p></p>\n            </li>\n            <li>\n                <p>\n                    <code>GE</code> : Greater than or equal. </p>\n                <p>\n                    <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>\n                    element of type String, Number, or Binary (not a set type). If an item contains\n                    an <code>AttributeValue</code> element of a different type than the one provided\n                    in the request, the value does not match. For example, <code>{\"S\":\"6\"}</code>\n                    does not equal <code>{\"N\":\"6\"}</code>. Also, <code>{\"N\":\"6\"}</code> does not\n                    compare to <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>\n                <p></p>\n            </li>\n            <li>\n                <p>\n                    <code>GT</code> : Greater than. </p>\n                <p>\n                    <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>\n                    element of type String, Number, or Binary (not a set type). If an item contains\n                    an <code>AttributeValue</code> element of a different type than the one provided\n                    in the request, the value does not match. For example, <code>{\"S\":\"6\"}</code>\n                    does not equal <code>{\"N\":\"6\"}</code>. Also, <code>{\"N\":\"6\"}</code> does not\n                    compare to <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>\n                <p></p>\n            </li>\n            <li>\n                <p>\n                    <code>NOT_NULL</code> : The attribute exists. <code>NOT_NULL</code> is supported\n                    for all data types, including lists and maps.</p>\n                <note>\n                    <p>This operator tests for the existence of an attribute, not its data type.\n                        If the data type of attribute \"<code>a</code>\" is null, and you evaluate it\n                        using <code>NOT_NULL</code>, the result is a Boolean <code>true</code>. This\n                        result is because the attribute \"<code>a</code>\" exists; its data type is\n                        not relevant to the <code>NOT_NULL</code> comparison operator.</p>\n                </note>\n            </li>\n            <li>\n                <p>\n                    <code>NULL</code> : The attribute does not exist. <code>NULL</code> is supported\n                    for all data types, including lists and maps.</p>\n                <note>\n                    <p>This operator tests for the nonexistence of an attribute, not its data\n                        type. If the data type of attribute \"<code>a</code>\" is null, and you\n                        evaluate it using <code>NULL</code>, the result is a Boolean\n                            <code>false</code>. This is because the attribute \"<code>a</code>\"\n                        exists; its data type is not relevant to the <code>NULL</code> comparison\n                        operator.</p>\n                </note>\n            </li>\n            <li>\n                <p>\n                    <code>CONTAINS</code> : Checks for a subsequence, or value in a set.</p>\n                <p>\n                    <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>\n                    element of type String, Number, or Binary (not a set type). If the target\n                    attribute of the comparison is of type String, then the operator checks for a\n                    substring match. If the target attribute of the comparison is of type Binary,\n                    then the operator looks for a subsequence of the target that matches the input.\n                    If the target attribute of the comparison is a set (\"<code>SS</code>\",\n                        \"<code>NS</code>\", or \"<code>BS</code>\"), then the operator evaluates to\n                    true if it finds an exact match with any member of the set.</p>\n                <p>CONTAINS is supported for lists: When evaluating \"<code>a CONTAINS b</code>\",\n                        \"<code>a</code>\" can be a list; however, \"<code>b</code>\" cannot be a set, a\n                    map, or a list.</p>\n            </li>\n            <li>\n                <p>\n                    <code>NOT_CONTAINS</code> : Checks for absence of a subsequence, or absence of a\n                    value in a set.</p>\n                <p>\n                    <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>\n                    element of type String, Number, or Binary (not a set type). If the target\n                    attribute of the comparison is a String, then the operator checks for the\n                    absence of a substring match. If the target attribute of the comparison is\n                    Binary, then the operator checks for the absence of a subsequence of the target\n                    that matches the input. If the target attribute of the comparison is a set\n                        (\"<code>SS</code>\", \"<code>NS</code>\", or \"<code>BS</code>\"), then the\n                    operator evaluates to true if it <i>does not</i> find an exact\n                    match with any member of the set.</p>\n                <p>NOT_CONTAINS is supported for lists: When evaluating \"<code>a NOT CONTAINS\n                        b</code>\", \"<code>a</code>\" can be a list; however, \"<code>b</code>\" cannot\n                    be a set, a map, or a list.</p>\n            </li>\n            <li>\n                <p>\n                    <code>BEGINS_WITH</code> : Checks for a prefix. </p>\n                <p>\n                    <code>AttributeValueList</code> can contain only one <code>AttributeValue</code>\n                    of type String or Binary (not a Number or a set type). The target attribute of\n                    the comparison must be of type String or Binary (not a Number or a set\n                    type).</p>\n                <p></p>\n            </li>\n            <li>\n                <p>\n                    <code>IN</code> : Checks for matching elements in a list.</p>\n                <p>\n                    <code>AttributeValueList</code> can contain one or more\n                        <code>AttributeValue</code> elements of type String, Number, or Binary.\n                    These attributes are compared against an existing attribute of an item. If any\n                    elements of the input are equal to the item attribute, the expression evaluates\n                    to true.</p>\n            </li>\n            <li>\n                <p>\n                    <code>BETWEEN</code> : Greater than or equal to the first value, and less than\n                    or equal to the second value. </p>\n                <p>\n                    <code>AttributeValueList</code> must contain two <code>AttributeValue</code>\n                    elements of the same type, either String, Number, or Binary (not a set type). A\n                    target attribute matches if the target value is greater than, or equal to, the\n                    first element and less than, or equal to, the second element. If an item\n                    contains an <code>AttributeValue</code> element of a different type than the one\n                    provided in the request, the value does not match. For example,\n                        <code>{\"S\":\"6\"}</code> does not compare to <code>{\"N\":\"6\"}</code>. Also,\n                        <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\",\n                        \"1\"]}</code>\n                </p>\n            </li>\n         </ul>\n        <p>For usage examples of <code>AttributeValueList</code> and\n                <code>ComparisonOperator</code>, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/LegacyConditionalParameters.html\">Legacy\n                Conditional Parameters</a> in the <i>Amazon DynamoDB Developer\n                Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the selection criteria for a <code>Query</code> or <code>Scan</code>\n            operation:</p>\n        <ul>\n            <li>\n                <p>For a <code>Query</code> operation, <code>Condition</code> is used for\n                    specifying the <code>KeyConditions</code> to use when querying a table or an\n                    index. For <code>KeyConditions</code>, only the following comparison operators\n                    are supported:</p>\n                <p>\n                    <code>EQ | LE | LT | GE | GT | BEGINS_WITH | BETWEEN</code>\n                </p>\n                <p>\n                    <code>Condition</code> is also used in a <code>QueryFilter</code>, which\n                    evaluates the query results and returns only the desired values.</p>\n            </li>\n            <li>\n                <p>For a <code>Scan</code> operation, <code>Condition</code> is used in a\n                        <code>ScanFilter</code>, which evaluates the scan results and returns only\n                    the desired values.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.dynamodb#ConditionCheck": {
[...]
