{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.dynamodb#ArchivalReason": {
      "type": "string"
    },
    "com.amazonaws.dynamodb#ArchivalSummary": {
      "type": "structure",
      "members": {
        "ArchivalBackupArn": {
          "target": "com.amazonaws.dynamodb#BackupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the backup the table was archived\n         to, when applicable in the archival reason. If you wish to restore this\n         backup to the same table name, you will need to delete the original\n         table.</p>"
          }
        },
        "ArchivalDateTime": {
          "target": "com.amazonaws.dynamodb#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when table archival was initiated by DynamoDB,\n         in UNIX epoch time format.</p>"
          }
        },
        "ArchivalReason": {
          "target": "com.amazonaws.dynamodb#ArchivalReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason DynamoDB archived the table. Currently, the only\n         possible value is:</p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>INACCESSIBLE_ENCRYPTION_CREDENTIALS</code> - The\n         table was archived due to the table's AWS KMS key being inaccessible\n         for more than seven days. An On-Demand backup was created at the archival\n         time.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details of a table archival operation.</p>"
      }
    },
    "com.amazonaws.dynamodb#AttributeAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ADD"
          },
          {
            "value": "PUT"
          },
          {
            "value": "DELETE"
          }
        ]
      }
    },
    "com.amazonaws.dynamodb#AttributeDefinition": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.dynamodb#KeySchemaAttributeName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeType": {
          "target": "com.amazonaws.dynamodb#ScalarAttributeType",
          "traits": {
            "smithy.api#documentation": "<p>The data type for the attribute, where:</p>\n         <ul>\n            <li> \n               <p>\n                  <code>S</code> - the attribute is of type String</p>\n            </li>\n            <li>\n               <p>\n                  <code>N</code> - the attribute is of type Number</p>\n            </li>\n            <li>\n               <p>\n                  <code>B</code> - the attribute is of type Binary</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an attribute for describing the key schema for the table and indexes.</p>"
      }
    },
    "com.amazonaws.dynamodb#AttributeDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#AttributeDefinition"
      }
    },
    "com.amazonaws.dynamodb#AttributeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb#AttributeValue"
      }
    },
    "com.amazonaws.dynamodb#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 65535
        }
      }
    },
    "com.amazonaws.dynamodb#AttributeNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#AttributeName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.dynamodb#AttributeUpdates": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb#AttributeValueUpdate"
      }
    },
    "com.amazonaws.dynamodb#AttributeValue": {
      "type": "structure",
      "members": {
        "B": {
          "target": "com.amazonaws.dynamodb#BinaryAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Binary.  For example:</p>\n         <p>\n            <code>\"B\": \"dGhpcyB0ZXh0IGlzIGJhc2U2NC1lbmNvZGVk\"</code>\n         </p>"
          }
        },
        "BOOL": {
          "target": "com.amazonaws.dynamodb#BooleanAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Boolean.  For example:</p>\n         <p>\n            <code>\"BOOL\": true</code>\n         </p>"
          }
        },
        "BS": {
          "target": "com.amazonaws.dynamodb#BinarySetAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Binary Set.  For example:</p>\n         <p>\n            <code>\"BS\": [\"U3Vubnk=\", \"UmFpbnk=\", \"U25vd3k=\"]</code>\n         </p>"
          }
        },
        "L": {
          "target": "com.amazonaws.dynamodb#ListAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type List.  For example:</p>\n         <p>\n            <code>\"L\": [ {\"S\": \"Cookies\"} , {\"S\": \"Coffee\"}, {\"N\", \"3.14159\"}]</code>\n         </p>"
          }
        },
        "M": {
          "target": "com.amazonaws.dynamodb#MapAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Map.  For example:</p>\n         <p>\n            <code>\"M\": {\"Name\": {\"S\": \"Joe\"}, \"Age\": {\"N\": \"35\"}}</code>\n         </p>"
          }
        },
        "N": {
          "target": "com.amazonaws.dynamodb#NumberAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Number.  For example:</p>\n         <p>\n            <code>\"N\": \"123.45\"</code>\n         </p>\n         <p>Numbers are sent across the network to DynamoDB as strings, to maximize compatibility across languages and libraries. However, DynamoDB treats them as number type attributes for mathematical operations.</p>"
          }
        },
        "NS": {
          "target": "com.amazonaws.dynamodb#NumberSetAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Number Set.  For example:</p>\n         <p>\n            <code>\"NS\": [\"42.2\", \"-19\", \"7.5\", \"3.14\"]</code>\n         </p>\n         <p>Numbers are sent across the network to DynamoDB as strings, to maximize compatibility across languages and libraries. However, DynamoDB treats them as number type attributes for mathematical operations.</p>"
          }
        },
        "NULL": {
          "target": "com.amazonaws.dynamodb#NullAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type Null.  For example:</p>\n         <p>\n            <code>\"NULL\": true</code>\n         </p>"
          }
        },
        "S": {
          "target": "com.amazonaws.dynamodb#StringAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type  String. For example:</p>\n         <p>\n            <code>\"S\": \"Hello\"</code>\n         </p>"
          }
        },
        "SS": {
          "target": "com.amazonaws.dynamodb#StringSetAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An attribute of type String Set.  For example:</p>\n         <p>\n            <code>\"SS\": [\"Giraffe\", \"Hippo\" ,\"Zebra\"]</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the data for an attribute.</p>\n         <p>Each attribute value is described as a name-value pair.  The name is the data type, and the value is the data itself.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes\">Data Types</a> in the\n                             <i>Amazon DynamoDB Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.dynamodb#AttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#AttributeValue"
      }
    },
    "com.amazonaws.dynamodb#AttributeValueUpdate": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.dynamodb#AttributeAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how to perform the update. Valid values are <code>PUT</code> (default), <code>DELETE</code>,\n      and <code>ADD</code>. The behavior depends on whether the specified primary key already exists\n      in the table.</p>\n\n         <p>\n            <b>If an item with the specified <i>Key</i> is found in the table:</b>\n         </p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>PUT</code> - Adds the specified attribute to the item. If the attribute already\n          exists, it is replaced by the new value. </p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETE</code> - If no value is specified, the attribute and its value are removed\n          from the item. The data type of the specified value must match the existing value's data\n          type.</p>\n               <p>If a <i>set</i> of values is specified, then those values are subtracted from the old\n          set. For example, if the attribute value was the set <code>[a,b,c]</code> and the\n            <code>DELETE</code> action specified <code>[a,c]</code>, then the final attribute value would\n          be <code>[b]</code>. Specifying an empty set is an error.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ADD</code> - If the attribute does not already exist, then the attribute and its\n          values are added to the item. If the attribute does exist, then the behavior of\n            <code>ADD</code> depends on the data type of the attribute:</p>\n               <ul>\n                  <li>\n                     <p>If the existing attribute is a number, and if <code>Value</code> is also a number, then the\n                <code>Value</code> is mathematically added to the existing attribute. If <code>Value</code> is a\n              negative number, then it is subtracted from the existing attribute.</p>\n                     <note>\n                        <p> If you use <code>ADD</code> to increment or decrement a number value for an item\n                that doesn't exist before the update, DynamoDB uses 0 as the initial value.</p>\n                        <p>In addition, if you use <code>ADD</code> to update an existing item, and intend to\n                increment or decrement an attribute value which does not yet exist, DynamoDB uses\n                  <code>0</code> as the initial value. For example, suppose that the item you want\n                to update does not yet have an attribute named <i>itemcount</i>, but you decide to\n                  <code>ADD</code> the number <code>3</code> to this attribute anyway, even though\n                it currently does not exist. DynamoDB will create the <i>itemcount</i> attribute, set\n                its initial value to <code>0</code>, and finally add <code>3</code> to it. The\n                result will be a new <i>itemcount</i> attribute in the item, with a value of\n                  <code>3</code>.</p>\n                     </note>\n                  </li>\n                  <li>\n                     <p>If the existing data type is a set, and if the <code>Value</code> is also a set, then the\n                <code>Value</code> is added to the existing set. (This is a <i>set</i> operation, not\n              mathematical addition.) For example, if the attribute value was the set\n                <code>[1,2]</code>, and the <code>ADD</code> action specified <code>[3]</code>, then\n              the final attribute value would be <code>[1,2,3]</code>. An error occurs if an Add\n              action is specified for a set attribute and the attribute type specified does not\n              match the existing set type. </p>\n                     <p>Both sets must have the same primitive data type. For example, if the existing data\n              type is a set of strings, the <code>Value</code> must also be a set of strings. The same\n              holds true for number sets and binary sets.</p>\n                  </li>\n               </ul>\n               <p>This action is only valid for an existing attribute whose data type is number or is a\n          set. Do not use <code>ADD</code> for any other data types.</p>\n            </li>\n         </ul>\n\n         <p>\n            <b>If no item with the specified <i>Key</i> is found:</b>\n         </p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>PUT</code> - DynamoDB creates a new item with the specified primary key, and then adds\n          the attribute. </p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETE</code> - Nothing happens; there is no attribute to delete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ADD</code> - DynamoDB creates an item with the supplied primary key and number (or set\n          of numbers) for the attribute value. The only data types allowed are number and number\n          set; no other data types can be specified.</p>\n            </li>\n         </ul>"
          }
        },
        "Value": {
          "target": "com.amazonaws.dynamodb#AttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>Represents the data for an attribute.</p>\n         <p>Each attribute value is described as a name-value pair. The name is the data type, and the value is the data itself.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.NamingRulesDataTypes.html#HowItWorks.DataTypes\">Data Types</a> in the <i>Amazon DynamoDB Developer Guide</i>.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For the <code>UpdateItem</code> operation, represents the attributes to be modified, the action to\n      perform on each, and the new value for each.</p>\n         <note>\n            <p>You cannot use <code>UpdateItem</code> to update any primary key attributes. Instead, you will\n        need to delete the item, and then use <code>PutItem</code> to create a new item with new\n        attributes.</p>\n         </note>\n         <p>Attribute values cannot be null; string and binary type attributes must have lengths greater\n      than zero; and set type attributes must not be empty. Requests with empty values will be\n      rejected with a <code>ValidationException</code> exception.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingPolicyDescription": {
      "type": "structure",
      "members": {
        "PolicyName": {
          "target": "com.amazonaws.dynamodb#AutoScalingPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scaling policy.</p>"
          }
        },
        "TargetTrackingScalingPolicyConfiguration": {
          "target": "com.amazonaws.dynamodb#AutoScalingTargetTrackingScalingPolicyConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>Represents a target tracking scaling policy configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the properties of the scaling policy.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingPolicyDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#AutoScalingPolicyDescription"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingPolicyName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "\\p{Print}+"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingPolicyUpdate": {
      "type": "structure",
      "members": {
        "PolicyName": {
          "target": "com.amazonaws.dynamodb#AutoScalingPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scaling policy.</p>"
          }
        },
        "TargetTrackingScalingPolicyConfiguration": {
          "target": "com.amazonaws.dynamodb#AutoScalingTargetTrackingScalingPolicyConfigurationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Represents a target tracking scaling policy configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the auto scaling policy to be modified.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingSettingsDescription": {
      "type": "structure",
      "members": {
        "AutoScalingDisabled": {
          "target": "com.amazonaws.dynamodb#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Disabled auto scaling for this global table or global secondary index.</p>"
          }
        },
        "AutoScalingRoleArn": {
          "target": "com.amazonaws.dynamodb#String",
          "traits": {
            "smithy.api#documentation": "<p>Role ARN used for configuring the auto scaling policy.</p>"
          }
        },
        "MaximumUnits": {
          "target": "com.amazonaws.dynamodb#PositiveLongObject",
          "traits": {
            "smithy.api#documentation": "<p>The maximum capacity units that a global table or global secondary index should be scaled up to.</p>"
          }
        },
        "MinimumUnits": {
          "target": "com.amazonaws.dynamodb#PositiveLongObject",
          "traits": {
            "smithy.api#documentation": "<p>The minimum capacity units that a global table or global secondary index should be scaled down to.</p>"
          }
        },
        "ScalingPolicies": {
          "target": "com.amazonaws.dynamodb#AutoScalingPolicyDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the scaling policies.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the auto scaling settings for a global table or global secondary\n         index.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingSettingsUpdate": {
      "type": "structure",
      "members": {
        "AutoScalingDisabled": {
          "target": "com.amazonaws.dynamodb#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Disabled auto scaling for this global table or global secondary index.</p>"
          }
        },
        "AutoScalingRoleArn": {
          "target": "com.amazonaws.dynamodb#AutoScalingRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Role ARN used for configuring auto scaling policy.</p>"
          }
        },
        "MaximumUnits": {
          "target": "com.amazonaws.dynamodb#PositiveLongObject",
          "traits": {
            "smithy.api#documentation": "<p>The maximum capacity units that a global table or global secondary index should be scaled up to.</p>"
          }
        },
        "MinimumUnits": {
          "target": "com.amazonaws.dynamodb#PositiveLongObject",
          "traits": {
            "smithy.api#documentation": "<p>The minimum capacity units that a global table or global secondary index should be scaled down to.</p>"
          }
        },
        "ScalingPolicyUpdate": {
          "target": "com.amazonaws.dynamodb#AutoScalingPolicyUpdate",
          "traits": {
            "smithy.api#documentation": "<p>The scaling policy to apply for scaling target global table or global secondary index capacity units.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the auto scaling settings to be modified for a global table or global\n         secondary index.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingTargetTrackingScalingPolicyConfigurationDescription": {
      "type": "structure",
      "members": {
        "DisableScaleIn": {
          "target": "com.amazonaws.dynamodb#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether scale in by the target tracking policy is disabled. If the value is true,\n      scale in is disabled and the target tracking policy won't remove capacity from the scalable resource.\n      Otherwise, scale in is enabled and the target tracking policy can remove capacity from the scalable resource.\n      The default value is false.</p>"
          }
        },
        "ScaleInCooldown": {
          "target": "com.amazonaws.dynamodb#IntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scale in activity completes before another scale\n         in activity can start. The cooldown period is used to block subsequent scale in requests\n         until it has expired. You should scale in conservatively to protect your application's\n         availability. However, if another alarm triggers a scale out policy during the cooldown\n         period after a scale-in, application auto scaling scales out your scalable target\n         immediately. </p>"
          }
        },
        "ScaleOutCooldown": {
          "target": "com.amazonaws.dynamodb#IntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scale out activity completes before another scale out\n      activity can start. While the cooldown period is in effect, the capacity that has been added\n      by the previous scale out event that initiated the cooldown is calculated as part of the\n      desired capacity for the next scale out. You should continuously (but not excessively)\n      scale out.</p>"
          }
        },
        "TargetValue": {
          "target": "com.amazonaws.dynamodb#Double",
          "traits": {
            "smithy.api#documentation": "<p>The target value for the metric. The range is 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the properties of a target tracking scaling policy.</p>"
      }
    },
    "com.amazonaws.dynamodb#AutoScalingTargetTrackingScalingPolicyConfigurationUpdate": {
      "type": "structure",
      "members": {
        "DisableScaleIn": {
          "target": "com.amazonaws.dynamodb#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether scale in by the target tracking policy is disabled. If the value is true,\n      scale in is disabled and the target tracking policy won't remove capacity from the scalable resource.\n      Otherwise, scale in is enabled and the target tracking policy can remove capacity from the scalable resource.\n      The default value is false.</p>"
          }
        },
        "ScaleInCooldown": {
          "target": "com.amazonaws.dynamodb#IntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scale in activity completes before another scale\n         in activity can start. The cooldown period is used to block subsequent scale in requests\n         until it has expired. You should scale in conservatively to protect your application's\n         availability. However, if another alarm triggers a scale out policy during the cooldown\n         period after a scale-in, application auto scaling scales out your scalable target\n         immediately. </p>"
          }
        },
        "ScaleOutCooldown": {
          "target": "com.amazonaws.dynamodb#IntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scale out activity completes before another scale out\n      activity can start. While the cooldown period is in effect, the capacity that has been added\n      by the previous scale out event that initiated the cooldown is calculated as part of the\n      desired capacity for the next scale out. You should continuously (but not excessively)\n      scale out.</p>"
          }
        },
        "TargetValue": {
          "target": "com.amazonaws.dynamodb#Double",
          "traits": {
            "smithy.api#documentation": "<p>The target value for the metric. The range is 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the settings of a target tracking scaling policy that will be modified.</p>"
      }
    },
    "com.amazonaws.dynamodb#Backfilling": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.dynamodb#BackupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 37,
          "max": 1024
        }
      }
    },
    "com.amazonaws.dynamodb#BackupCreationDateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.dynamodb#BackupDescription": {
      "type": "structure",
      "members": {
        "BackupDetails": {
          "target": "com.amazonaws.dynamodb#BackupDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the backup created for the table. </p>"
          }
        },
        "SourceTableDetails": {
          "target": "com.amazonaws.dynamodb#SourceTableDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the table when the backup was created. </p>"
          }
        },
        "SourceTableFeatureDetails": {
          "target": "com.amazonaws.dynamodb#SourceTableFeatureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the features enabled on the table when the backup was created. For example, LSIs, GSIs, streams, TTL.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the description of the backup created for the table.</p>"
      }
    },
    "com.amazonaws.dynamodb#BackupDetails": {
      "type": "structure",
      "members": {
        "BackupArn": {
          "target": "com.amazonaws.dynamodb#BackupArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN associated with the backup.</p>",
            "smithy.api#required": {}
          }
        },
        "BackupCreationDateTime": {
          "target": "com.amazonaws.dynamodb#BackupCreationDateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time at which the backup was created. This is the request time of the backup. </p>",
            "smithy.api#required": {}
          }
        },
        "BackupExpiryDateTime": {
          "target": "com.amazonaws.dynamodb#Date",
          "traits": {
            "smithy.api#documentation": "<p>Time at which the automatic on-demand backup created by DynamoDB will expire. This <code>SYSTEM</code>\n      on-demand backup expires automatically 35 days after its creation.</p>"
          }
        },
        "BackupName": {
          "target": "com.amazonaws.dynamodb#BackupName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the requested backup.</p>",
            "smithy.api#required": {}
          }
        },
        "BackupSizeBytes": {
          "target": "com.amazonaws.dynamodb#BackupSizeBytes",
          "traits": {
            "smithy.api#documentation": "<p>Size of the backup in bytes.</p>"
          }
        },
        "BackupStatus": {
          "target": "com.amazonaws.dynamodb#BackupStatus",
          "traits": {
            "smithy.api#documentation": "<p>Backup can be in one of the following states: CREATING, ACTIVE, DELETED. </p>",
            "smithy.api#required": {}
          }
        },
        "BackupType": {
          "target": "com.amazonaws.dynamodb#BackupType",
          "traits": {
            "smithy.api#documentation": "<p>BackupType:</p>\n          <ul>\n            <li>\n                <p>\n                  <code>USER</code> - You create and manage these using the on-demand backup feature.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SYSTEM</code> - If you delete a table with point-in-time recovery enabled, a <code>SYSTEM</code> backup is automatically\n                created and is retained for 35 days (at no additional cost). System backups allow you to restore the deleted \n\t\ttable to the state it was in just before the point of deletion.\n\t\t</p>\n            </li>\n            <li>\n                <p>\n                  <code>AWS_BACKUP</code> - On-demand backup created by you from AWS Backup service.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the backup created for the table.</p>"
      }
    },
    "com.amazonaws.dynamodb#BackupInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is another ongoing conflicting backup control plane operation on the table. The backup is either being created, deleted or restored to a table.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.dynamodb#BackupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 255
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazonaws.dynamodb#BackupNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Backup not found for the given BackupARN. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.dynamodb#BackupSizeBytes": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.dynamodb#BackupStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING"
          },
          {
            "value": "DELETED"
          },
          {
            "value": "AVAILABLE"
          }
        ]
      }
    },
    "com.amazonaws.dynamodb#BackupSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#BackupSummary"
      }
    },
    "com.amazonaws.dynamodb#BackupSummary": {
      "type": "structure",
      "members": {
        "BackupArn": {
          "target": "com.amazonaws.dynamodb#BackupArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN associated with the backup.</p>"
          }
        },
        "BackupCreationDateTime": {
          "target": "com.amazonaws.dynamodb#BackupCreationDateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time at which the backup was created.</p>"
          }
        },
        "BackupExpiryDateTime": {
          "target": "com.amazonaws.dynamodb#Date",
          "traits": {
            "smithy.api#documentation": "<p>Time at which the automatic on-demand backup created by DynamoDB will expire. This\n            <code>SYSTEM</code> on-demand backup expires automatically 35 days after its\n         creation.</p>"
          }
        },
        "BackupName": {
          "target": "com.amazonaws.dynamodb#BackupName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the specified backup.</p>"
          }
        },
        "BackupSizeBytes": {
          "target": "com.amazonaws.dynamodb#BackupSizeBytes",
          "traits": {
            "smithy.api#documentation": "<p>Size of the backup in bytes.</p>"
          }
        },
        "BackupStatus": {
          "target": "com.amazonaws.dynamodb#BackupStatus",
          "traits": {
            "smithy.api#documentation": "<p>Backup can be in one of the following states: CREATING, ACTIVE, DELETED.</p>"
          }
        },
        "BackupType": {
          "target": "com.amazonaws.dynamodb#BackupType",
          "traits": {
            "smithy.api#documentation": "<p>BackupType:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>USER</code> - You create and manage these using the on-demand backup feature.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SYSTEM</code> - If you delete a table with point-in-time recovery enabled, a <code>SYSTEM</code> backup is automatically\n                created and is retained for 35 days (at no additional cost). System backups allow you to restore the deleted \n\t\ttable to the state it was in just before the point of deletion.\n\t\t</p>\n            </li>\n            <li>\n                <p>\n                  <code>AWS_BACKUP</code> - On-demand backup created by you from AWS Backup service.</p>\n            </li>\n         </ul>"
          }
        },
        "TableArn": {
          "target": "com.amazonaws.dynamodb#TableArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN associated with the table.</p>"
          }
        },
        "TableId": {
          "target": "com.amazonaws.dynamodb#TableId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the table.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.dynamodb#TableName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details for the backup.</p>"
      }
    },
    "com.amazonaws.dynamodb#BackupType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "USER",
            "name": "USER"
          },
          {
            "value": "SYSTEM",
            "name": "SYSTEM"
          },
          {
            "value": "AWS_BACKUP",
            "name": "AWS_BACKUP"
          }
        ]
      }
    },
    "com.amazonaws.dynamodb#BackupTypeFilter": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "USER",
            "name": "USER"
          },
          {
            "value": "SYSTEM",
            "name": "SYSTEM"
          },
          {
            "value": "AWS_BACKUP",
            "name": "AWS_BACKUP"
          },
          {
            "value": "ALL",
            "name": "ALL"
          }
        ]
      }
    },
    "com.amazonaws.dynamodb#BackupsInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.dynamodb#BatchGetItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb#BatchGetItemInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb#BatchGetItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.dynamodb#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.dynamodb#RequestLimitExceeded"
        },
        {
          "target": "com.amazonaws.dynamodb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>BatchGetItem</code> operation returns the attributes of one or more items from one or\n      more tables. You identify requested items by primary key.</p>\n         <p>A single operation can retrieve up to 16 MB of data, which can contain as many as 100\n            items. <code>BatchGetItem</code> returns a partial result if the response size limit is\n            exceeded, the table's provisioned throughput is exceeded, or an internal processing\n            failure occurs. If a partial result is returned, the operation returns a value for\n                <code>UnprocessedKeys</code>. You can use this value to retry the operation starting\n            with the next item to get.</p>\n         <important>\n            <p>If you request more than 100 items, <code>BatchGetItem</code> returns a\n                    <code>ValidationException</code> with the message \"Too many items requested for\n                the BatchGetItem call.\"</p>\n         </important>\n         <p>For example, if you ask to retrieve 100 items, but each individual item is 300 KB in\n            size, the system returns 52 items (so as not to exceed the 16 MB limit). It also returns\n            an appropriate <code>UnprocessedKeys</code> value so you can get the next page of\n            results. If desired, your application can include its own logic to assemble the pages of\n            results into one dataset.</p>\n         <p>If <i>none</i> of the items can be processed due to insufficient\n            provisioned throughput on all of the tables in the request, then\n                <code>BatchGetItem</code> returns a\n                <code>ProvisionedThroughputExceededException</code>. If <i>at least\n                one</i> of the items is successfully processed, then\n                <code>BatchGetItem</code> completes successfully, while returning the keys of the\n            unread items in <code>UnprocessedKeys</code>.</p>\n         <important>\n            <p>If DynamoDB returns any unprocessed items, you should retry the batch operation on those\n        items. However, <i>we strongly recommend that you use an exponential backoff algorithm</i>.\n        If you retry the batch operation immediately, the underlying read or write requests can\n        still fail due to throttling on the individual tables. If you delay the batch operation\n        using exponential backoff, the individual requests in the batch are much more likely to\n        succeed.</p>\n            <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#BatchOperations\">Batch\n          Operations and Error Handling</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>\n         </important>\n         <p>By default, <code>BatchGetItem</code> performs eventually consistent reads on every table in the\n      request. If you want strongly consistent reads instead, you can set <code>ConsistentRead</code> to\n        <code>true</code> for any or all tables.</p>\n         <p>In order to minimize response latency, <code>BatchGetItem</code> retrieves items in parallel.</p>\n         <p>When designing your application, keep in mind that DynamoDB does not return items in any\n      particular order. To help parse the response by item, include the primary key values for the\n      items in your request in the <code>ProjectionExpression</code> parameter.</p>\n         <p>If a requested item does not exist, it is not returned in the result. Requests for\n            nonexistent items consume the minimum read capacity units according to the type of read.\n            For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithTables.html#CapacityUnitCalculations\">Working with Tables</a> in the <i>Amazon DynamoDB Developer\n                Guide</i>.</p>"
      }
    },
    "com.amazonaws.dynamodb#BatchGetItemInput": {
      "type": "structure",
      "members": {
        "RequestItems": {
          "target": "com.amazonaws.dynamodb#BatchGetRequestMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of one or more table names and, for each table, a map that describes one or more items to retrieve from that table. Each table name can be used only once per <code>BatchGetItem</code> request.</p>\n         <p>Each element in the map of items to retrieve consists of the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ConsistentRead</code> - If <code>true</code>, a strongly consistent read is used; if\n          <code>false</code> (the default), an eventually consistent read is used.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ExpressionAttributeNames</code> - One or more substitution tokens for attribute names in the <code>ProjectionExpression</code> parameter. The following are some use cases for using <code>ExpressionAttributeNames</code>:</p>\n               <ul>\n                  <li>\n                     <p>To access an attribute whose name conflicts with a DynamoDB reserved word.</p>\n                  </li>\n                  <li>\n                     <p>To create a placeholder for repeating occurrences of an attribute name in an expression.</p>\n                  </li>\n                  <li>\n                     <p>To prevent special characters in an attribute name from being misinterpreted in an expression.</p>\n                  </li>\n               </ul>\n               <p>Use the <b>#</b> character in an expression to dereference an attribute name. For example, consider the following attribute name:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>Percentile</code>\n                     </p>\n                  </li>\n               </ul>\n               <p>The name of this attribute conflicts with a reserved word, so it cannot be used directly in an expression. (For the complete list of reserved words, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ReservedWords.html\">Reserved Words</a> in the <i>Amazon DynamoDB Developer Guide</i>). To work around this, you could specify the following for <code>ExpressionAttributeNames</code>:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>{\"#P\":\"Percentile\"}</code>\n                     </p>\n                  </li>\n               </ul>\n               <p>You could then use this substitution in an expression, as in this example:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>#P = :val</code>\n                     </p>\n                  </li>\n               </ul>\n               <note>\n                  <p>Tokens that begin with the <b>:</b> character are <i>expression attribute values</i>, which are placeholders for the actual value at runtime.</p>\n               </note>\n               <p>For more information about expression attribute names, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.AccessingItemAttributes.html\">Accessing Item Attributes</a> in the <i>Amazon DynamoDB\n                        Developer Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Keys</code> - An array of primary key attribute values that define specific items in the\n          table. For each primary key, you must provide <i>all</i> of the key attributes. For\n          example, with a simple primary key, you only need to provide the partition key value. For a\n          composite key, you must provide <i>both</i> the partition key value and the sort key value.</p>\n            </li>\n            <li>\n                <p>\n                    <code>ProjectionExpression</code> - A string that identifies one or more\n                    attributes to retrieve from the table. These attributes can include scalars,\n                    sets, or elements of a JSON document. The attributes in the expression must be\n                    separated by commas.</p>\n                <p>If no attribute names are specified, then all attributes are returned. If any\n                    of the requested attributes are not found, they do not appear in the\n                    result.</p>\n               <p>For more information, see\n                    <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.AccessingItemAttributes.html\">Accessing Item Attributes</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AttributesToGet</code> - This is a legacy parameter.  Use <code>ProjectionExpression</code> instead.  For more information, see\n                    <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/LegacyConditionalParameters.AttributesToGet.html\">AttributesToGet</a> in the <i>Amazon DynamoDB Developer Guide</i>.\n\n            </p>\n\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ReturnConsumedCapacity": {
          "target": "com.amazonaws.dynamodb#ReturnConsumedCapacity"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>BatchGetItem</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb#BatchGetItemOutput": {
      "type": "structure",
      "members": {
        "ConsumedCapacity": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityMultiple",
          "traits": {
            "smithy.api#documentation": "<p>The read capacity units consumed by the entire <code>BatchGetItem</code> operation.</p>\n         <p>Each element consists of:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>TableName</code> - The table that consumed the provisioned throughput.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CapacityUnits</code> - The total number of capacity units consumed.</p>\n            </li>\n         </ul>"
          }
        },
        "Responses": {
          "target": "com.amazonaws.dynamodb#BatchGetResponseMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of table name to a list of items. Each object in <code>Responses</code> consists of a table\n      name, along with a map of attribute data consisting of the data type and attribute value.</p>"
          }
        },
        "UnprocessedKeys": {
          "target": "com.amazonaws.dynamodb#BatchGetRequestMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of tables and their respective keys that were not processed with the current response.\n      The <code>UnprocessedKeys</code> value is in the same form as <code>RequestItems</code>, so the value can\n      be provided directly to a subsequent <code>BatchGetItem</code> operation. For more information, see\n        <code>RequestItems</code> in the Request Parameters section.</p>\n         <p>Each element consists of:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Keys</code> - An array of primary key attribute values that define specific items in the\n          table.</p>\n            </li>\n            <li>\n               <p>\n                    <code>ProjectionExpression</code> - One or more attributes to be\n                    retrieved from the table or index. By default, all attributes are returned. If a\n                    requested attribute is not found, it does not appear in the result.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ConsistentRead</code> - The consistency of a read operation. If set to <code>true</code>,\n          then a strongly consistent read is used; otherwise, an eventually consistent read is\n          used.</p>\n            </li>\n         </ul>\n         <p>If there are no unprocessed keys remaining, the response contains an empty\n        <code>UnprocessedKeys</code> map.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchGetItem</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb#BatchGetRequestMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb#TableName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb#KeysAndAttributes"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.dynamodb#BatchGetResponseMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb#TableName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb#ItemList"
      }
    },
    "com.amazonaws.dynamodb#BatchWriteItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb#BatchWriteItemInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb#BatchWriteItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.dynamodb#ItemCollectionSizeLimitExceededException"
        },
        {
          "target": "com.amazonaws.dynamodb#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.dynamodb#RequestLimitExceeded"
        },
        {
          "target": "com.amazonaws.dynamodb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>BatchWriteItem</code> operation puts or deletes multiple items in one or more tables. A\n      single call to <code>BatchWriteItem</code> can write up to 16 MB of data, which can\n      comprise as many as 25 put or delete requests. Individual items\n      to be written can be as large as 400 KB.</p>\n         <note>\n            <p>\n               <code>BatchWriteItem</code> cannot update items. To update items, use the <code>UpdateItem</code>\n        action.</p>\n         </note>\n         <p>The individual <code>PutItem</code> and <code>DeleteItem</code> operations specified in\n        <code>BatchWriteItem</code> are atomic; however <code>BatchWriteItem</code> as a whole is not. If any\n      requested operations fail because the table's provisioned throughput is exceeded or an\n      internal processing failure occurs, the failed operations are returned in the\n        <code>UnprocessedItems</code> response parameter. You can investigate and optionally resend the\n      requests. Typically, you would call <code>BatchWriteItem</code> in a loop. Each iteration would\n      check for unprocessed items and submit a new <code>BatchWriteItem</code> request with those\n      unprocessed items until all items have been processed.</p>\n         <p>If <i>none</i> of the items can be processed due to insufficient\n            provisioned throughput on all of the tables in the request, then\n                <code>BatchWriteItem</code> returns a\n                <code>ProvisionedThroughputExceededException</code>.</p>\n         <important>\n            <p>If DynamoDB returns any unprocessed items, you should retry the batch operation on those\n        items. However, <i>we strongly recommend that you use an exponential backoff algorithm</i>.\n        If you retry the batch operation immediately, the underlying read or write requests can\n        still fail due to throttling on the individual tables. If you delay the batch operation\n        using exponential backoff, the individual requests in the batch are much more likely to\n        succeed.</p>\n            <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#Programming.Errors.BatchOperations\">Batch Operations and Error Handling</a> in the <i>Amazon DynamoDB\n                    Developer Guide</i>.</p>\n         </important>\n\n         <p>With <code>BatchWriteItem</code>, you can efficiently write or delete large amounts of\n            data, such as from Amazon EMR, or copy data from another database into DynamoDB. In\n            order to improve performance with these large-scale operations,\n                <code>BatchWriteItem</code> does not behave in the same way as individual\n                <code>PutItem</code> and <code>DeleteItem</code> calls would. For example, you\n            cannot specify conditions on individual put and delete requests, and\n                <code>BatchWriteItem</code> does not return deleted items in the response.</p>\n         <p>If you use a programming language that supports concurrency, you can use\n      threads to write items in parallel. Your application must include the necessary logic to\n      manage the threads. With languages that don't support threading, you must update\n      or delete the specified items one at a time. In both situations, <code>BatchWriteItem</code>\n      performs the specified put and delete operations in\n      parallel, giving you the power of the thread pool approach without having to introduce\n      complexity into your application.</p>\n         <p>Parallel processing reduces latency, but each specified put and delete request consumes the same number of write capacity units whether it is processed in parallel or not. Delete operations on nonexistent items consume one write capacity unit.</p>\n         <p>If one or more of the following is true, DynamoDB rejects the entire batch write operation:</p>\n         <ul>\n            <li>\n               <p>One or more tables specified in the <code>BatchWriteItem</code> request does not exist.</p>\n            </li>\n            <li>\n               <p>Primary key attributes specified on an item in the request do not match those in the corresponding table's primary key schema.</p>\n            </li>\n            <li>\n               <p>You try to perform multiple operations on the same item in the same <code>BatchWriteItem</code>\n          request. For example, you cannot put and delete the same item in the same\n            <code>BatchWriteItem</code> request. </p>\n            </li>\n            <li>\n\t              <p>\n\t\tYour request contains at least two items with identical hash and range keys (which essentially is two put operations).\n\t    </p>\n    \t       </li>\n            <li>\n               <p>There are more than 25 requests in the batch.</p>\n            </li>\n            <li>\n               <p>Any individual item in a batch exceeds 400 KB.</p>\n            </li>\n            <li>\n               <p>The total request size exceeds 16 MB.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.dynamodb#BatchWriteItemInput": {
      "type": "structure",
      "members": {
        "RequestItems": {
          "target": "com.amazonaws.dynamodb#BatchWriteItemRequestMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of one or more table names and, for each table, a list of operations to be performed\n        (<code>DeleteRequest</code> or <code>PutRequest</code>). Each element in the map consists of the\n      following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DeleteRequest</code> - Perform a <code>DeleteItem</code> operation on the specified item. The\n          item to be deleted is identified by a <code>Key</code> subelement:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>Key</code> - A map of primary key attribute values that uniquely identify the item.\n                     Each entry in this map consists of an attribute name and an attribute value. For each\n                     primary key, you must provide <i>all</i> of the key attributes. For example, with a\n                     simple primary key, you only need to provide a value for the partition key. For a\n                     composite primary key, you must provide values for <i>both</i> the partition key and the sort key.</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <code>PutRequest</code> - Perform a <code>PutItem</code> operation on the specified item. The item to\n          be put is identified by an <code>Item</code> subelement:</p>\n               <ul>\n                  <li>\n                     <p>\n                            <code>Item</code> - A map of attributes and their values. Each entry in\n                            this map consists of an attribute name and an attribute value. Attribute\n                            values must not be null; string and binary type attributes must have\n                            lengths greater than zero; and set type attributes must not be empty.\n                            Requests that contain empty values are rejected with a\n                                <code>ValidationException</code> exception.</p>\n                     <p>If you specify any attributes that are part of an index key, then the data types for those attributes must match those of the schema in the table's attribute definition.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ReturnConsumedCapacity": {
          "target": "com.amazonaws.dynamodb#ReturnConsumedCapacity"
        },
        "ReturnItemCollectionMetrics": {
          "target": "com.amazonaws.dynamodb#ReturnItemCollectionMetrics",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether item collection metrics are returned.  If set to <code>SIZE</code>, the response includes statistics about item collections, if any, that were modified during\n      the operation are returned in the response. If set to <code>NONE</code> (the default), no statistics are returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>BatchWriteItem</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb#BatchWriteItemOutput": {
      "type": "structure",
      "members": {
        "ConsumedCapacity": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityMultiple",
          "traits": {
            "smithy.api#documentation": "<p>The capacity units consumed by the entire <code>BatchWriteItem</code> operation.</p>\n         <p>Each element consists of:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>TableName</code> - The table that consumed the provisioned throughput.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CapacityUnits</code> - The total number of capacity units consumed.</p>\n            </li>\n         </ul>"
          }
        },
        "ItemCollectionMetrics": {
          "target": "com.amazonaws.dynamodb#ItemCollectionMetricsPerTable",
          "traits": {
            "smithy.api#documentation": "<p>A list of tables that were processed by <code>BatchWriteItem</code> and, for each table,\n      information about any item collections that were affected by individual <code>DeleteItem</code> or\n        <code>PutItem</code> operations.</p>\n         <p>Each entry consists of the following subelements:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ItemCollectionKey</code> - The partition key value of the item collection. This is the same as\n          the partition key value of the item.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SizeEstimateRangeGB</code> - An estimate of item collection size, expressed in GB. This is\n          a two-element array containing a lower bound and an upper bound for the estimate. The\n          estimate includes the size of all the items in the table, plus the size of all attributes\n          projected into all of the local secondary indexes on the table. Use this estimate to measure whether a\n          local secondary index is approaching its size limit.</p>\n               <p>The estimate is subject to change over time; therefore, do not rely on the precision or accuracy of the estimate.</p>\n            </li>\n         </ul>"
          }
        },
        "UnprocessedItems": {
          "target": "com.amazonaws.dynamodb#BatchWriteItemRequestMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of tables and requests against those tables that were not processed. The\n        <code>UnprocessedItems</code> value is in the same form as <code>RequestItems</code>, so you can provide\n      this value directly to a subsequent <code>BatchGetItem</code> operation. For more information, see\n        <code>RequestItems</code> in the Request Parameters section.</p>\n         <p>Each <code>UnprocessedItems</code> entry consists of a table name and, for that table, a list of\n      operations to perform (<code>DeleteRequest</code> or <code>PutRequest</code>).</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DeleteRequest</code> - Perform a <code>DeleteItem</code> operation on the specified item. The\n          item to be deleted is identified by a <code>Key</code> subelement:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>Key</code> - A map of primary key attribute values that uniquely identify the item.\n              Each entry in this map consists of an attribute name and an attribute value.</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <code>PutRequest</code> - Perform a <code>PutItem</code> operation on the specified item. The item to\n          be put is identified by an <code>Item</code> subelement:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>Item</code> - A map of attributes and their values. Each entry in this map consists\n              of an attribute name and an attribute value. Attribute values must not be null; string\n              and binary type attributes must have lengths greater than zero; and set type\n              attributes must not be empty. Requests that contain empty values will be rejected with\n              a <code>ValidationException</code> exception.</p>\n                     <p>If you specify any attributes that are part of an index key, then the data types for those attributes must match those of the schema in the table's attribute definition.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>If there are no unprocessed items remaining, the response contains an empty\n        <code>UnprocessedItems</code> map.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchWriteItem</code> operation.</p>"
      }
    },
    "com.amazonaws.dynamodb#BatchWriteItemRequestMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.dynamodb#TableName"
      },
      "value": {
        "target": "com.amazonaws.dynamodb#WriteRequests"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.dynamodb#BillingMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PROVISIONED"
          },
          {
            "value": "PAY_PER_REQUEST"
          }
        ]
      }
    },
    "com.amazonaws.dynamodb#BillingModeSummary": {
      "type": "structure",
      "members": {
        "BillingMode": {
          "target": "com.amazonaws.dynamodb#BillingMode",
          "traits": {
            "smithy.api#documentation": "<p>Controls how you are charged for read and write throughput and how you manage capacity. This setting can be changed later.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PROVISIONED</code> - Sets the read/write capacity mode to <code>PROVISIONED</code>. We recommend using <code>PROVISIONED</code> for predictable workloads.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PAY_PER_REQUEST</code> - Sets the read/write capacity mode to <code>PAY_PER_REQUEST</code>. We recommend using <code>PAY_PER_REQUEST</code> for unpredictable workloads.\n            </p>\n            </li>\n         </ul>"
          }
        },
        "LastUpdateToPayPerRequestDateTime": {
          "target": "com.amazonaws.dynamodb#Date",
          "traits": {
            "smithy.api#documentation": "<p>Represents the time when <code>PAY_PER_REQUEST</code> was last set as the read/write capacity mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details for the read/write capacity mode.</p>"
      }
    },
    "com.amazonaws.dynamodb#BinaryAttributeValue": {
      "type": "blob"
    },
    "com.amazonaws.dynamodb#BinarySetAttributeValue": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#BinaryAttributeValue"
      }
    },
    "com.amazonaws.dynamodb#BooleanAttributeValue": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.dynamodb#BooleanObject": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.dynamodb#CancellationReason": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.dynamodb#Code",
          "traits": {
            "smithy.api#documentation": "<p>Status code for the result of the cancelled transaction.</p>"
          }
        },
        "Item": {
          "target": "com.amazonaws.dynamodb#AttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>Item in the request which caused the transaction to get cancelled.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.dynamodb#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Cancellation reason message description.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An ordered list of errors for each item in the request which caused the transaction\n     to get cancelled. The values of the list are ordered according to the ordering of the\n     <code>TransactWriteItems</code> request parameter. If no error\n     occurred for the associated item an error with a Null code and Null message will be present.\n     </p>"
      }
    },
    "com.amazonaws.dynamodb#CancellationReasonList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#CancellationReason"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.dynamodb#Capacity": {
      "type": "structure",
      "members": {
        "CapacityUnits": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of capacity units consumed on a table or an index.</p>"
          }
        },
        "ReadCapacityUnits": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of read capacity units consumed on a table or an index.</p>"
          }
        },
        "WriteCapacityUnits": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of write capacity units consumed on a table or an index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the amount of provisioned throughput capacity consumed on a table or an index.</p>"
      }
    },
    "com.amazonaws.dynamodb#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        }
      }
    },
    "com.amazonaws.dynamodb#Code": {
      "type": "string"
    },
    "com.amazonaws.dynamodb#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQ"
          },
          {
            "value": "NE"
          },
          {
            "value": "IN"
          },
          {
            "value": "LE"
          },
          {
            "value": "LT"
          },
          {
            "value": "GE"
          },
          {
            "value": "GT"
          },
          {
            "value": "BETWEEN"
          },
          {
            "value": "NOT_NULL"
          },
          {
            "value": "NULL"
          },
          {
            "value": "CONTAINS"
          },
          {
            "value": "NOT_CONTAINS"
          },
          {
            "value": "BEGINS_WITH"
          }
        ]
      }
    },
    "com.amazonaws.dynamodb#Condition": {
      "type": "structure",
      "members": {
        "AttributeValueList": {
          "target": "com.amazonaws.dynamodb#AttributeValueList",
          "traits": {
            "smithy.api#documentation": "<p>One or more values to evaluate against the supplied attribute. The number of values in the\n      list depends on the <code>ComparisonOperator</code> being used.</p>\n         <p>For type Number, value comparisons are numeric.</p>\n         <p>String value comparisons for greater than, equals, or less than are based on ASCII character\n      code values. For example, <code>a</code> is greater than <code>A</code>, and <code>a</code>\n      is greater than <code>B</code>. For a list of code values, see <a href=\"http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters\">http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters</a>.</p>\n         <p>For Binary, DynamoDB treats each byte of the binary data as unsigned when it compares binary values.</p>"
          }
        },
        "ComparisonOperator": {
          "target": "com.amazonaws.dynamodb#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>A comparator for evaluating attributes. For example, equals, greater than, less than, etc.</p>\n         <p>The following comparison operators are available:</p>\n         <p>\n            <code>EQ | NE | LE | LT | GE | GT | NOT_NULL | NULL | CONTAINS | NOT_CONTAINS | BEGINS_WITH | IN | BETWEEN</code>\n         </p>\n         <p>The following are descriptions of each comparison operator.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>EQ</code> : Equal. <code>EQ</code> is supported for all data types, including lists and maps.</p>\n               <p>\n                  <code>AttributeValueList</code> can contain only one <code>AttributeValue</code> element of type String,\n          Number, Binary, String Set, Number Set, or Binary Set. If an item contains an <code>AttributeValue</code> element of a different\n          type than the one provided in the request, the value does not match. For example,\n            <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>. Also,\n            <code>{\"N\":\"6\"}</code> does not equal <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>\n               <p></p>\n            </li>\n            <li>\n               <p>\n                  <code>NE</code> : Not equal. <code>NE</code> is supported for all data types, including lists and maps.</p>\n               <p>\n                  <code>AttributeValueList</code> can contain only one <code>AttributeValue</code> of type String,\n          Number, Binary, String Set, Number Set, or Binary Set. If an item contains an <code>AttributeValue</code> of a different\n          type than the one provided in the request, the value does not match. For example,\n            <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>. Also,\n            <code>{\"N\":\"6\"}</code> does not equal <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>\n               <p></p>\n            </li>\n            <li>\n               <p>\n                  <code>LE</code> : Less than or equal. </p>\n               <p>\n                  <code>AttributeValueList</code> can contain only one <code>AttributeValue</code> element of type String,\n          Number, or Binary (not a set type). If an item contains an <code>AttributeValue</code> element of a different\n          type than the one provided in the request, the value does not match. For example,\n            <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>. Also,\n            <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>\n               <p></p>\n            </li>\n            <li>\n               <p>\n                  <code>LT</code> : Less than. </p>\n               <p>\n                  <code>AttributeValueList</code> can contain only one <code>AttributeValue</code> of type String,\n          Number, or Binary (not a set type). If an item contains an <code>AttributeValue</code> element of a different\n          type than the one provided in the request, the value does not match. For example,\n            <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>. Also,\n            <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>\n               <p></p>\n            </li>\n            <li>\n               <p>\n                  <code>GE</code> : Greater than or equal. </p>\n               <p>\n                  <code>AttributeValueList</code> can contain only one <code>AttributeValue</code> element of type String,\n          Number, or Binary (not a set type). If an item contains an <code>AttributeValue</code> element of a different\n          type than the one provided in the request, the value does not match. For example,\n            <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>. Also,\n            <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>\n               <p></p>\n            </li>\n            <li>\n               <p>\n                  <code>GT</code> : Greater than. </p>\n               <p>\n                  <code>AttributeValueList</code> can contain only one <code>AttributeValue</code> element of type String,\n          Number, or Binary (not a set type). If an item contains an <code>AttributeValue</code> element of a different\n          type than the one provided in the request, the value does not match. For example,\n            <code>{\"S\":\"6\"}</code> does not equal <code>{\"N\":\"6\"}</code>. Also,\n            <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>.</p>\n               <p></p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_NULL</code> : The attribute exists. <code>NOT_NULL</code> is supported for all data types, including lists and maps.</p>\n               <note>\n                  <p>This operator tests for the existence of an attribute, not its data type.  If the data type of attribute \"<code>a</code>\" is null, and you evaluate it using <code>NOT_NULL</code>, the result is a Boolean <code>true</code>. This result is because the attribute \"<code>a</code>\" exists; its data type is not relevant to the <code>NOT_NULL</code> comparison operator.</p>\n               </note>\n            </li>\n            <li>\n               <p>\n                  <code>NULL</code> : The attribute does not exist. <code>NULL</code> is supported for all data types, including lists and maps.</p>\n               <note>\n                  <p>This operator tests for the nonexistence of an attribute, not its data type.  If the data type of attribute \"<code>a</code>\" is null, and you evaluate it using <code>NULL</code>, the result is a Boolean <code>false</code>. This is because the attribute \"<code>a</code>\" exists; its data type is not relevant to the <code>NULL</code> comparison operator.</p>\n               </note>\n            </li>\n            <li>\n               <p>\n                  <code>CONTAINS</code> : Checks for a subsequence, or value in a set.</p>\n               <p>\n                  <code>AttributeValueList</code> can contain only one <code>AttributeValue</code> element of type String,\n          Number, or Binary (not a set type). If the target attribute of the comparison is of type String, then\n          the operator checks for a substring match. If the target attribute of the comparison is\n          of type Binary, then the operator looks for a subsequence of the target that matches the input.\n          If the target attribute of the comparison is a set (\"<code>SS</code>\", \"<code>NS</code>\", or \"<code>BS</code>\"), then the\n          operator evaluates to true if it finds an exact match with any member of the set.</p>\n               <p>CONTAINS is supported for lists: When evaluating \"<code>a CONTAINS b</code>\", \"<code>a</code>\" can be a list; however, \"<code>b</code>\" cannot be a set, a map, or a list.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_CONTAINS</code> : Checks for absence of a subsequence, or absence of a value in\n          a set.</p>\n               <p>\n                  <code>AttributeValueList</code> can contain only one <code>AttributeValue</code> element of type String,\n          Number, or Binary (not a set type). If the target attribute of the comparison is a String, then\n          the operator checks for the absence of a substring match. If the target attribute of the\n          comparison is Binary, then the operator checks for the absence of a subsequence of the\n          target that matches the input. If the target attribute of the comparison is a set (\"<code>SS</code>\",\n          \"<code>NS</code>\", or \"<code>BS</code>\"), then the operator evaluates to true if it <i>does not</i> find an exact match with any member of the set.</p>\n               <p>NOT_CONTAINS is supported for lists: When evaluating \"<code>a NOT CONTAINS b</code>\", \"<code>a</code>\" can be a list; however, \"<code>b</code>\" cannot be a set, a map, or a list.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BEGINS_WITH</code> : Checks for a prefix. </p>\n               <p>\n                  <code>AttributeValueList</code> can contain only one <code>AttributeValue</code> of type String or\n          Binary (not a Number or a set type). The target attribute of the comparison must be of type String or\n          Binary (not a Number or a set type).</p>\n               <p></p>\n            </li>\n            <li>\n               <p>\n                  <code>IN</code> : Checks for matching elements in a list.</p>\n               <p>\n                  <code>AttributeValueList</code> can contain one or more <code>AttributeValue</code>\n               elements of type String, Number, or Binary. These attributes are compared against an\n               existing attribute of an item. If any elements of the input are equal to the item\n               attribute, the expression evaluates to true.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BETWEEN</code> : Greater than or equal to the first value, and less than or equal\n          to the second value. </p>\n               <p>\n                  <code>AttributeValueList</code> must contain two <code>AttributeValue</code> elements of the same\n          type, either String, Number, or Binary (not a set type). A target attribute matches if the\n          target value is greater than, or equal to, the first element and less than, or equal to,\n          the second element. If an item contains an <code>AttributeValue</code> element of a different type than\n          the one provided in the request, the value does not match. For example,\n            <code>{\"S\":\"6\"}</code> does not compare to <code>{\"N\":\"6\"}</code>. Also,\n            <code>{\"N\":\"6\"}</code> does not compare to <code>{\"NS\":[\"6\", \"2\", \"1\"]}</code>\n               </p>\n            </li>\n         </ul>\n         <p>For usage examples of <code>AttributeValueList</code> and <code>ComparisonOperator</code>, see\n    <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/LegacyConditionalParameters.html\">Legacy Conditional Parameters</a>\n      in the <i>Amazon DynamoDB Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the selection criteria for a <code>Query</code> or <code>Scan</code> operation:</p>\n         <ul>\n            <li>\n               <p>For a <code>Query</code> operation, <code>Condition</code> is used for specifying the\n            <code>KeyConditions</code> to use when querying a table or an index. For <code>KeyConditions</code>,\n          only the following comparison operators are supported:</p>\n               <p>\n                  <code>EQ | LE | LT | GE | GT | BEGINS_WITH | BETWEEN</code>\n               </p>\n               <p>\n                  <code>Condition</code> is also used in a <code>QueryFilter</code>, which evaluates the query results\n          and returns only the desired values.</p>\n            </li>\n            <li>\n               <p>For a <code>Scan</code> operation, <code>Condition</code> is used in a <code>ScanFilter</code>, which\n          evaluates the scan results and returns only the desired values.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.dynamodb#ConditionCheck": {
      "type": "structure",
      "members": {
        "ConditionExpression": {
          "target": "com.amazonaws.dynamodb#ConditionExpression",
          "traits": {
            "smithy.api#documentation": "<p>A condition that must be satisfied in order for a conditional update to succeed.</p>",
            "smithy.api#required": {}
          }
        },
        "ExpressionAttributeNames": {
          "target": "com.amazonaws.dynamodb#ExpressionAttributeNameMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more substitution tokens for attribute names in an expression.</p>"
          }
        },
        "ExpressionAttributeValues": {
          "target": "com.amazonaws.dynamodb#ExpressionAttributeValueMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more values that can be substituted in an expression.</p>"
          }
        },
        "Key": {
          "target": "com.amazonaws.dynamodb#Key",
          "traits": {
            "smithy.api#documentation": "<p>The primary key of the item to be checked. Each element consists of an\n      attribute name and a value for that attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "ReturnValuesOnConditionCheckFailure": {
          "target": "com.amazonaws.dynamodb#ReturnValuesOnConditionCheckFailure",
          "traits": {
            "smithy.api#documentation": "<p>Use <code>ReturnValuesOnConditionCheckFailure</code> to\n        get the item attributes if the <code>ConditionCheck</code> condition fails.\n        For <code>ReturnValuesOnConditionCheckFailure</code>, the valid\n        values are: NONE and ALL_OLD.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.dynamodb#TableName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the table for the check item request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a request to perform a check that an item exists or to check the condition of\n         specific attributes of the item.</p>"
      }
    },
    "com.amazonaws.dynamodb#ConditionExpression": {
      "type": "string"
    },
    "com.amazonaws.dynamodb#ConditionalCheckFailedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The conditional request failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A condition specified in the operation could not be evaluated.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.dynamodb#ConditionalOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AND"
          },
          {
            "value": "OR"
          }
        ]
      }
    },
    "com.amazonaws.dynamodb#ConsistentRead": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.dynamodb#ConsumedCapacity": {
      "type": "structure",
      "members": {
        "CapacityUnits": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of capacity units consumed by the operation.</p>"
          }
        },
        "GlobalSecondaryIndexes": {
          "target": "com.amazonaws.dynamodb#SecondaryIndexesCapacityMap",
          "traits": {
            "smithy.api#documentation": "<p>The amount of throughput consumed on each global index affected by the operation.</p>"
          }
        },
        "LocalSecondaryIndexes": {
          "target": "com.amazonaws.dynamodb#SecondaryIndexesCapacityMap",
          "traits": {
            "smithy.api#documentation": "<p>The amount of throughput consumed on each local index affected by the operation.</p>"
          }
        },
        "ReadCapacityUnits": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of read capacity units consumed by the operation.</p>"
          }
        },
        "Table": {
          "target": "com.amazonaws.dynamodb#Capacity",
          "traits": {
            "smithy.api#documentation": "<p>The amount of throughput consumed on the table affected by the operation.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.dynamodb#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table that was affected by the operation.</p>"
          }
        },
        "WriteCapacityUnits": {
          "target": "com.amazonaws.dynamodb#ConsumedCapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The total number of write capacity units consumed by the operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The capacity units consumed by an operation. The data returned includes the total\n      provisioned throughput consumed, along with statistics for the table and any indexes involved\n      in the operation. <code>ConsumedCapacity</code> is only returned if the request asked for it.\n      For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughputIntro.html\">Provisioned\n        Throughput</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.dynamodb#ConsumedCapacityMultiple": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#ConsumedCapacity"
      }
    },
    "com.amazonaws.dynamodb#ConsumedCapacityUnits": {
      "type": "double",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.dynamodb#ContinuousBackupsDescription": {
      "type": "structure",
      "members": {
        "ContinuousBackupsStatus": {
          "target": "com.amazonaws.dynamodb#ContinuousBackupsStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>ContinuousBackupsStatus</code> can be one of the following states: ENABLED,\n         DISABLED</p>",
            "smithy.api#required": {}
          }
        },
        "PointInTimeRecoveryDescription": {
          "target": "com.amazonaws.dynamodb#PointInTimeRecoveryDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the point in time recovery settings applied to the table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the continuous backups and point in time recovery settings on the table.</p>"
      }
    },
    "com.amazonaws.dynamodb#ContinuousBackupsStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED"
          },
          {
            "value": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.dynamodb#ContinuousBackupsUnavailableException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.dynamodb#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Backups have not yet been enabled for this table.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.dynamodb#ContributorInsightsAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLE"
          },
          {
            "value": "DISABLE"
          }
        ]
      }
    },
    "com.amazonaws.dynamodb#ContributorInsightsRule": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[A-Za-z0-9][A-Za-z0-9\\-\\_\\.]{0,126}[A-Za-z0-9]"
      }
    },
    "com.amazonaws.dynamodb#ContributorInsightsRuleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#ContributorInsightsRule"
      }
    },
    "com.amazonaws.dynamodb#ContributorInsightsStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLING"
          },
          {
            "value": "ENABLED"
          },
          {
            "value": "DISABLING"
          },
          {
            "value": "DISABLED"
          },
          {
            "value": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.dynamodb#ContributorInsightsSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.dynamodb#ContributorInsightsSummary"
      }
    },
    "com.amazonaws.dynamodb#ContributorInsightsSummary": {
      "type": "structure",
      "members": {
        "ContributorInsightsStatus": {
          "target": "com.amazonaws.dynamodb#ContributorInsightsStatus",
          "traits": {
            "smithy.api#documentation": "<p>Describes the current status for contributor insights for the given table and index, if applicable.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.dynamodb#IndexName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the index associated with the summary, if any.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.dynamodb#TableName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the table associated with the summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a Contributor Insights summary entry..</p>"
      }
    },
    "com.amazonaws.dynamodb#CreateBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb#CreateBackupInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb#CreateBackupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb#BackupInUseException"
        },
        {
          "target": "com.amazonaws.dynamodb#ContinuousBackupsUnavailableException"
        },
        {
          "target": "com.amazonaws.dynamodb#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.dynamodb#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dynamodb#TableInUseException"
        },
        {
          "target": "com.amazonaws.dynamodb#TableNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a backup for an existing table.</p>\n         <p> Each time you create an on-demand backup, the entire table data is backed up. There\n            is no limit to the number of on-demand backups that can be taken. </p>\n         <p> When you create an on-demand backup, a time marker of the request is cataloged, and\n            the backup is created asynchronously, by applying all changes until the time of the\n            request to the last full table snapshot. Backup requests are processed instantaneously\n            and become available for restore within minutes. </p>\n         <p>You can call <code>CreateBackup</code> at a maximum rate of 50 times per second.</p>\n         <p>All backups in DynamoDB work without consuming any provisioned throughput on the table.</p>\n         <p> If you submit a backup request on 2018-12-14 at 14:25:00, the backup is guaranteed\n            to contain all data committed to the table up to 14:24:00, and data committed after\n            14:26:00 will not be. The backup might contain data modifications made between 14:24:00\n            and 14:26:00. On-demand backup does not support causal consistency. </p>\n         <p>\n             Along with data, the following are also included on the backups:\n         </p>\n           <ul>\n            <li>\n                  <p>Global secondary indexes (GSIs)</p>\n              </li>\n            <li>\n                  <p>Local secondary indexes (LSIs)</p>\n              </li>\n            <li>\n                  <p>Streams</p>\n              </li>\n            <li>\n                  <p>Provisioned read and write capacity</p>\n              </li>\n         </ul>"
      }
    },
    "com.amazonaws.dynamodb#CreateBackupInput": {
      "type": "structure",
      "members": {
        "BackupName": {
          "target": "com.amazonaws.dynamodb#BackupName",
          "traits": {
            "smithy.api#documentation": "<p>Specified name for the backup.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.dynamodb#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.dynamodb#CreateBackupOutput": {
      "type": "structure",
      "members": {
        "BackupDetails": {
          "target": "com.amazonaws.dynamodb#BackupDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the backup created for the table.</p>"
          }
        }
      }
    },
    "com.amazonaws.dynamodb#CreateGlobalSecondaryIndexAction": {
      "type": "structure",
      "members": {
        "IndexName": {
          "target": "com.amazonaws.dynamodb#IndexName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the global secondary index to be created.</p>",
            "smithy.api#required": {}
          }
        },
        "KeySchema": {
          "target": "com.amazonaws.dynamodb#KeySchema",
          "traits": {
            "smithy.api#documentation": "<p>The key schema for the global secondary index.</p>",
            "smithy.api#required": {}
          }
        },
        "Projection": {
          "target": "com.amazonaws.dynamodb#Projection",
          "traits": {
            "smithy.api#documentation": "<p>Represents attributes that are copied (projected) from the table into an index. These\n         are in addition to the primary key attributes and index key attributes, which are\n         automatically projected.</p>",
            "smithy.api#required": {}
          }
        },
        "ProvisionedThroughput": {
          "target": "com.amazonaws.dynamodb#ProvisionedThroughput",
          "traits": {
            "smithy.api#documentation": "<p>Represents the provisioned throughput settings for the specified global secondary index.</p>\n         <p>For current minimum and maximum provisioned throughput values, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html\">Limits</a> in the <i>Amazon DynamoDB Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a new global secondary index to be added to an existing table.</p>"
      }
    },
    "com.amazonaws.dynamodb#CreateGlobalTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.dynamodb#CreateGlobalTableInput"
      },
      "output": {
        "target": "com.amazonaws.dynamodb#CreateGlobalTableOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.dynamodb#GlobalTableAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.dynamodb#InternalServerError"
        },
        {
          "target": "com.amazonaws.dynamodb#InvalidEndpointException"
        },
        {
          "target": "com.amazonaws.dynamodb#LimitExceededException"
        },
        {
          "target": "com.amazonaws.dynamodb#TableNotFoundException"
        }
      ],
      "traits": {
[...]
