{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ebs#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ebs#ErrorMessage"
        },
        "Reason": {
          "target": "com.amazonaws.ebs#AccessDeniedExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the exception.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.ebs#AccessDeniedExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UNAUTHORIZED_ACCOUNT",
            "name": "UNAUTHORIZED_ACCOUNT"
          },
          {
            "value": "DEPENDENCY_ACCESS_DENIED",
            "name": "DEPENDENCY_ACCESS_DENIED"
          }
        ]
      }
    },
    "com.amazonaws.ebs#Block": {
      "type": "structure",
      "members": {
        "BlockIndex": {
          "target": "com.amazonaws.ebs#BlockIndex",
          "traits": {
            "smithy.api#documentation": "<p>The block index.</p>"
          }
        },
        "BlockToken": {
          "target": "com.amazonaws.ebs#BlockToken",
          "traits": {
            "smithy.api#documentation": "<p>The block token for the block index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A block of data in an Amazon Elastic Block Store snapshot.</p>"
      }
    },
    "com.amazonaws.ebs#BlockData": {
      "type": "blob",
      "traits": {
        "smithy.api#sensitive": {},
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.ebs#BlockIndex": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.ebs#BlockSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.ebs#BlockToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[A-Za-z0-9+/=]+$"
      }
    },
    "com.amazonaws.ebs#Blocks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ebs#Block"
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.ebs#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.ebs#ChangedBlock": {
      "type": "structure",
      "members": {
        "BlockIndex": {
          "target": "com.amazonaws.ebs#BlockIndex",
          "traits": {
            "smithy.api#documentation": "<p>The block index.</p>"
          }
        },
        "FirstBlockToken": {
          "target": "com.amazonaws.ebs#BlockToken",
          "traits": {
            "smithy.api#documentation": "<p>The block token for the block index of the <code>FirstSnapshotId</code> specified in\n            the <code>ListChangedBlocks</code> operation. This value is absent if the first snapshot\n            does not have the changed block that is on the second snapshot.</p>"
          }
        },
        "SecondBlockToken": {
          "target": "com.amazonaws.ebs#BlockToken",
          "traits": {
            "smithy.api#documentation": "<p>The block token for the block index of the <code>SecondSnapshotId</code> specified in\n            the <code>ListChangedBlocks</code> operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A block of data in an Amazon Elastic Block Store snapshot that is different from another snapshot of\n            the same volume/snapshot lineage.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.ebs#ChangedBlocks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ebs#ChangedBlock"
      }
    },
    "com.amazonaws.ebs#ChangedBlocksCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.ebs#Checksum": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9+/=]+$"
      }
    },
    "com.amazonaws.ebs#ChecksumAggregationMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LINEAR",
            "name": "CHECKSUM_AGGREGATION_LINEAR"
          }
        ],
        "smithy.api#length": {
          "min": 0,
          "max": 32
        },
        "smithy.api#pattern": "^[A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.ebs#ChecksumAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SHA256",
            "name": "CHECKSUM_ALGORITHM_SHA256"
          }
        ],
        "smithy.api#length": {
          "min": 0,
          "max": 32
        },
        "smithy.api#pattern": "^[A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.ebs#CompleteSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ebs#CompleteSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.ebs#CompleteSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ebs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ebs#InternalServerException"
        },
        {
          "target": "com.amazonaws.ebs#RequestThrottledException"
        },
        {
          "target": "com.amazonaws.ebs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ebs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ebs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Seals and completes the snapshot after all of the required blocks of data have been\n            written to it. Completing the snapshot changes the status to <code>completed</code>. You\n            cannot write new blocks to a snapshot after it has been completed.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/snapshots/completion/{SnapshotId}",
          "code": 202
        }
      }
    },
    "com.amazonaws.ebs#CompleteSnapshotRequest": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.ebs#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the snapshot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChangedBlocksCount": {
          "target": "com.amazonaws.ebs#ChangedBlocksCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of blocks that were written to the snapshot.</p>",
            "smithy.api#httpHeader": "x-amz-ChangedBlocksCount",
            "smithy.api#required": {}
          }
        },
        "Checksum": {
          "target": "com.amazonaws.ebs#Checksum",
          "traits": {
            "smithy.api#documentation": "<p>An aggregated Base-64 SHA256 checksum based on the checksums of each written\n            block.</p>\n        <p>To generate the aggregated checksum using the linear aggregation method, arrange the\n            checksums for each written block in ascending order of their block index, concatenate\n            them to form a single string, and then generate the checksum on the entire string using\n            the SHA256 algorithm.</p>",
            "smithy.api#httpHeader": "x-amz-Checksum"
          }
        },
        "ChecksumAlgorithm": {
          "target": "com.amazonaws.ebs#ChecksumAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to generate the checksum. Currently, the only supported algorithm\n            is <code>SHA256</code>.</p>",
            "smithy.api#httpHeader": "x-amz-Checksum-Algorithm"
          }
        },
        "ChecksumAggregationMethod": {
          "target": "com.amazonaws.ebs#ChecksumAggregationMethod",
          "traits": {
            "smithy.api#documentation": "<p>The aggregation method used to generate the checksum. Currently, the only supported\n            aggregation method is <code>LINEAR</code>.</p>",
            "smithy.api#httpHeader": "x-amz-Checksum-Aggregation-Method"
          }
        }
      }
    },
    "com.amazonaws.ebs#CompleteSnapshotResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.ebs#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the snapshot.</p>"
          }
        }
      }
    },
    "com.amazonaws.ebs#ConcurrentLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ebs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have reached the limit for concurrent API requests. For more information, see\n                <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-accessing-snapshot.html#ebsapi-performance\">Optimizing performance of the EBS direct APIs</a> in the <i>Amazon Elastic Compute Cloud\n                User Guide</i>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ebs#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ebs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request uses the same client token as a previous, but non-identical\n            request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.ebs#DataLength": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.ebs#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\S\\s]+$"
      }
    },
    "com.amazonaws.ebs#Ebs": {
      "type": "service",
      "version": "2019-11-02",
      "operations": [
        {
          "target": "com.amazonaws.ebs#CompleteSnapshot"
        },
        {
          "target": "com.amazonaws.ebs#GetSnapshotBlock"
        },
        {
          "target": "com.amazonaws.ebs#ListChangedBlocks"
        },
        {
          "target": "com.amazonaws.ebs#ListSnapshotBlocks"
        },
        {
          "target": "com.amazonaws.ebs#PutSnapshotBlock"
        },
        {
          "target": "com.amazonaws.ebs#StartSnapshot"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EBS",
          "arnNamespace": "ebs",
          "cloudFormationName": "EBS",
          "cloudTrailEventSource": "ebs.amazonaws.com",
          "endpointPrefix": "ebs"
        },
        "aws.auth#sigv4": {
          "name": "ebs"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>You can use the Amazon Elastic Block Store (Amazon EBS) direct APIs to create Amazon EBS snapshots, write data directly to \n    \t\tyour snapshots, read data on your snapshots, and identify the differences or changes between \n    \t\ttwo snapshots. If you’re an independent software vendor (ISV) who offers backup services for \n    \t\tAmazon EBS, the EBS direct APIs make it more efficient and cost-effective to track incremental changes on \n    \t\tyour Amazon EBS volumes through snapshots. This can be done without having to create new volumes \n    \t\tfrom snapshots, and then use Amazon Elastic Compute Cloud (Amazon EC2) instances to compare the differences.</p>\n    \t\t\n    \t    <p>You can create incremental snapshots directly from data on-premises into volumes and the \n    \t\tcloud to use for quick disaster recovery. With the ability to write and read snapshots, you can \n    \t\twrite your on-premises data to an snapshot during a disaster. Then after recovery, you can \n    \t\trestore it back to Amazon Web Services or on-premises from the snapshot. You no longer need to build and \n    \t\tmaintain complex mechanisms to copy data to and from Amazon EBS.</p>\n\n\n        <p>This API reference provides detailed information about the actions, data types,\n            parameters, and errors of the EBS direct APIs. For more information about the elements that\n            make up the EBS direct APIs, and examples of how to use them effectively, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-accessing-snapshot.html\">Accessing the Contents of an Amazon EBS Snapshot</a> in the <i>Amazon Elastic Compute Cloud User\n                Guide</i>. For more information about the supported Amazon Web Services Regions, endpoints,\n            and service quotas for the EBS direct APIs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/ebs-service.html\">Amazon Elastic Block Store Endpoints and Quotas</a> in\n            the <i>Amazon Web Services General Reference</i>.</p>",
        "smithy.api#title": "Amazon Elastic Block Store"
      }
    },
    "com.amazonaws.ebs#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.ebs#GetSnapshotBlock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ebs#GetSnapshotBlockRequest"
      },
      "output": {
        "target": "com.amazonaws.ebs#GetSnapshotBlockResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ebs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ebs#InternalServerException"
        },
        {
          "target": "com.amazonaws.ebs#RequestThrottledException"
        },
        {
          "target": "com.amazonaws.ebs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ebs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ebs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the data in a block in an Amazon Elastic Block Store snapshot.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/snapshots/{SnapshotId}/blocks/{BlockIndex}",
          "code": 200
        }
      }
    },
    "com.amazonaws.ebs#GetSnapshotBlockRequest": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.ebs#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the snapshot containing the block from which to get data.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BlockIndex": {
          "target": "com.amazonaws.ebs#BlockIndex",
          "traits": {
            "smithy.api#documentation": "<p>The block index of the block from which to get data.</p>\n\n\n        <p>Obtain the <code>BlockIndex</code> by running the <code>ListChangedBlocks</code> or\n                <code>ListSnapshotBlocks</code> operations.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BlockToken": {
          "target": "com.amazonaws.ebs#BlockToken",
          "traits": {
            "smithy.api#documentation": "<p>The block token of the block from which to get data.</p>\n\n\n        <p>Obtain the <code>BlockToken</code> by running the <code>ListChangedBlocks</code> or\n                <code>ListSnapshotBlocks</code> operations.</p>",
            "smithy.api#httpQuery": "blockToken",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ebs#GetSnapshotBlockResponse": {
      "type": "structure",
      "members": {
        "DataLength": {
          "target": "com.amazonaws.ebs#DataLength",
          "traits": {
            "smithy.api#documentation": "<p>The size of the data in the block.</p>",
            "smithy.api#httpHeader": "x-amz-Data-Length"
          }
        },
        "BlockData": {
          "target": "com.amazonaws.ebs#BlockData",
          "traits": {
            "smithy.api#documentation": "<p>The data content of the block.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "Checksum": {
          "target": "com.amazonaws.ebs#Checksum",
          "traits": {
            "smithy.api#documentation": "<p>The checksum generated for the block, which is Base64 encoded.</p>",
            "smithy.api#httpHeader": "x-amz-Checksum"
          }
        },
        "ChecksumAlgorithm": {
          "target": "com.amazonaws.ebs#ChecksumAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to generate the checksum for the block, such as SHA256.</p>",
            "smithy.api#httpHeader": "x-amz-Checksum-Algorithm"
          }
        }
      }
    },
    "com.amazonaws.ebs#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\S]+$"
      }
    },
    "com.amazonaws.ebs#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ebs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error has occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.ebs#KmsKeyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:kms:.*:[0-9]{12}:key/",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.ebs#ListChangedBlocks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ebs#ListChangedBlocksRequest"
      },
      "output": {
        "target": "com.amazonaws.ebs#ListChangedBlocksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ebs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ebs#InternalServerException"
        },
        {
          "target": "com.amazonaws.ebs#RequestThrottledException"
        },
        {
          "target": "com.amazonaws.ebs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ebs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ebs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the blocks that are different between two\n            Amazon Elastic Block Store snapshots of the same volume/snapshot lineage.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/snapshots/{SecondSnapshotId}/changedblocks",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ebs#ListChangedBlocksRequest": {
      "type": "structure",
      "members": {
        "FirstSnapshotId": {
          "target": "com.amazonaws.ebs#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the first snapshot to use for the comparison.</p>\n        <important>\n            <p>The <code>FirstSnapshotID</code> parameter must be specified with a\n                    <code>SecondSnapshotId</code> parameter; otherwise, an error occurs.</p>\n        </important>",
            "smithy.api#httpQuery": "firstSnapshotId"
          }
        },
        "SecondSnapshotId": {
          "target": "com.amazonaws.ebs#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the second snapshot to use for the comparison.</p>\n        <important>\n            <p>The <code>SecondSnapshotId</code> parameter must be specified with a\n                    <code>FirstSnapshotID</code> parameter; otherwise, an error occurs.</p>\n        </important>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ebs#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to request the next page of results.</p>",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ebs#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "StartingBlockIndex": {
          "target": "com.amazonaws.ebs#BlockIndex",
          "traits": {
            "smithy.api#documentation": "<p>The block index from which the comparison should start.</p>\n        <p>The list in the response will start from this block index or the next valid block\n            index in the snapshots.</p>",
            "smithy.api#httpQuery": "startingBlockIndex"
          }
        }
      }
    },
    "com.amazonaws.ebs#ListChangedBlocksResponse": {
      "type": "structure",
      "members": {
        "ChangedBlocks": {
          "target": "com.amazonaws.ebs#ChangedBlocks",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects containing information about the changed blocks.</p>"
          }
        },
        "ExpiryTime": {
          "target": "com.amazonaws.ebs#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the <code>BlockToken</code> expires.</p>"
          }
        },
        "VolumeSize": {
          "target": "com.amazonaws.ebs#VolumeSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the volume in GB.</p>"
          }
        },
        "BlockSize": {
          "target": "com.amazonaws.ebs#BlockSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the blocks in the snapshot, in bytes.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ebs#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is null when there\n            are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ebs#ListSnapshotBlocks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ebs#ListSnapshotBlocksRequest"
      },
      "output": {
        "target": "com.amazonaws.ebs#ListSnapshotBlocksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ebs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ebs#InternalServerException"
        },
        {
          "target": "com.amazonaws.ebs#RequestThrottledException"
        },
        {
          "target": "com.amazonaws.ebs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ebs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ebs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the blocks in an Amazon Elastic Block Store snapshot.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/snapshots/{SnapshotId}/blocks",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.ebs#ListSnapshotBlocksRequest": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.ebs#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the snapshot from which to get block indexes and block tokens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ebs#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to request the next page of results.</p>",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.ebs#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "StartingBlockIndex": {
          "target": "com.amazonaws.ebs#BlockIndex",
          "traits": {
            "smithy.api#documentation": "<p>The block index from which the list should start. The list in the response will start\n            from this block index or the next valid block index in the snapshot.</p>",
            "smithy.api#httpQuery": "startingBlockIndex"
          }
        }
      }
    },
    "com.amazonaws.ebs#ListSnapshotBlocksResponse": {
      "type": "structure",
      "members": {
        "Blocks": {
          "target": "com.amazonaws.ebs#Blocks",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects containing information about the blocks.</p>"
          }
        },
        "ExpiryTime": {
          "target": "com.amazonaws.ebs#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the <code>BlockToken</code> expires.</p>"
          }
        },
        "VolumeSize": {
          "target": "com.amazonaws.ebs#VolumeSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the volume in GB.</p>"
          }
        },
        "BlockSize": {
          "target": "com.amazonaws.ebs#BlockSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the blocks in the snapshot, in bytes.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.ebs#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is null when there\n            are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ebs#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 100,
          "max": 10000
        }
      }
    },
    "com.amazonaws.ebs#OwnerId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 24
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.ebs#PageToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[A-Za-z0-9+/=]+$"
      }
    },
    "com.amazonaws.ebs#Progress": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.ebs#PutSnapshotBlock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ebs#PutSnapshotBlockRequest"
      },
      "output": {
        "target": "com.amazonaws.ebs#PutSnapshotBlockResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ebs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ebs#InternalServerException"
        },
        {
          "target": "com.amazonaws.ebs#RequestThrottledException"
        },
        {
          "target": "com.amazonaws.ebs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ebs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ebs#ValidationException"
        }
      ],
      "traits": {
        "aws.auth#unsignedPayload": {},
        "smithy.api#auth": ["aws.auth#sigv4"],
        "smithy.api#documentation": "<p>Writes a block of data to a snapshot. If the specified block contains\n            data, the existing data is overwritten. The target snapshot must be in the\n                <code>pending</code> state.</p>  \t\n    \t    <p>Data written to a snapshot must be aligned with 512-KiB sectors.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/snapshots/{SnapshotId}/blocks/{BlockIndex}",
          "code": 201
        }
      }
    },
    "com.amazonaws.ebs#PutSnapshotBlockRequest": {
      "type": "structure",
      "members": {
        "SnapshotId": {
          "target": "com.amazonaws.ebs#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the snapshot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BlockIndex": {
          "target": "com.amazonaws.ebs#BlockIndex",
          "traits": {
            "smithy.api#documentation": "<p>The block index of the block in which to write the data. A block index is a logical \n    \tindex in units of <code>512</code> KiB blocks. To identify the block index, divide \n        \tthe logical offset of the data in the logical volume by the block size (logical offset of \n        \tdata/<code>524288</code>). The logical offset of the data must be <code>512</code> \n        \tKiB aligned.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BlockData": {
          "target": "com.amazonaws.ebs#BlockData",
          "traits": {
            "smithy.api#documentation": "<p>The data to write to the block.</p>\n        <p>The block data is not signed as part of the Signature Version 4 signing process. As a\n            result, you must generate and provide a Base64-encoded SHA256 checksum for the block\n            data using the <b>x-amz-Checksum</b> header. Also, you \n        \tmust specify the checksum algorithm using the <b>x-amz-Checksum-Algorithm</b> \n        \theader. The checksum that you provide is part of the Signature Version 4 signing process. \n        \tIt is validated against a checksum generated by Amazon EBS to ensure the validity and authenticity \n        \tof the data. If the checksums do not correspond, the request fails. For more information, \n        \tsee <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-accessing-snapshot.html#ebsapis-using-checksums\">\n                Using checksums with the EBS direct APIs</a> in the <i>Amazon Elastic Compute Cloud User\n                Guide</i>.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "DataLength": {
          "target": "com.amazonaws.ebs#DataLength",
          "traits": {
            "smithy.api#documentation": "<p>The size of the data to write to the block, in bytes. Currently, the only supported\n            size is <code>524288</code> bytes.</p>\n        <p>Valid values: <code>524288</code>\n         </p>",
            "smithy.api#httpHeader": "x-amz-Data-Length",
            "smithy.api#required": {}
          }
        },
        "Progress": {
          "target": "com.amazonaws.ebs#Progress",
          "traits": {
            "smithy.api#documentation": "<p>The progress of the write process, as a percentage.</p>",
            "smithy.api#httpHeader": "x-amz-Progress"
          }
        },
        "Checksum": {
          "target": "com.amazonaws.ebs#Checksum",
          "traits": {
            "smithy.api#documentation": "<p>A Base64-encoded SHA256 checksum of the data. Only SHA256 checksums are\n            supported.</p>",
            "smithy.api#httpHeader": "x-amz-Checksum",
            "smithy.api#required": {}
          }
        },
        "ChecksumAlgorithm": {
          "target": "com.amazonaws.ebs#ChecksumAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to generate the checksum. Currently, the only supported algorithm\n            is <code>SHA256</code>.</p>",
            "smithy.api#httpHeader": "x-amz-Checksum-Algorithm",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ebs#PutSnapshotBlockResponse": {
      "type": "structure",
      "members": {
        "Checksum": {
          "target": "com.amazonaws.ebs#Checksum",
          "traits": {
            "smithy.api#documentation": "<p>The SHA256 checksum generated for the block data by Amazon EBS.</p>",
            "smithy.api#httpHeader": "x-amz-Checksum"
          }
        },
        "ChecksumAlgorithm": {
          "target": "com.amazonaws.ebs#ChecksumAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used by Amazon EBS to generate the checksum.</p>",
            "smithy.api#httpHeader": "x-amz-Checksum-Algorithm"
          }
        }
      }
    },
    "com.amazonaws.ebs#RequestThrottledException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ebs#ErrorMessage"
        },
        "Reason": {
          "target": "com.amazonaws.ebs#RequestThrottledExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of API requests has exceed the maximum allowed API request throttling\n            limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ebs#RequestThrottledExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCOUNT_THROTTLED",
            "name": "ACCOUNT_THROTTLED"
          },
          {
            "value": "DEPENDENCY_REQUEST_THROTTLED",
            "name": "DEPENDENCY_REQUEST_THROTTLED"
          }
        ]
      }
    },
    "com.amazonaws.ebs#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ebs#ErrorMessage"
        },
        "Reason": {
          "target": "com.amazonaws.ebs#ResourceNotFoundExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.ebs#ResourceNotFoundExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SNAPSHOT_NOT_FOUND",
            "name": "SNAPSHOT_NOT_FOUND"
          },
          {
            "value": "DEPENDENCY_RESOURCE_NOT_FOUND",
            "name": "DEPENDENCY_RESOURCE_NOT_FOUND"
          }
        ]
      }
    },
    "com.amazonaws.ebs#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ebs#ErrorMessage"
        },
        "Reason": {
          "target": "com.amazonaws.ebs#ServiceQuotaExceededExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your current service quotas do not allow you to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.ebs#ServiceQuotaExceededExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEPENDENCY_SERVICE_QUOTA_EXCEEDED",
            "name": "DEPENDENCY_SERVICE_QUOTA_EXCEEDED"
          }
        ]
      }
    },
    "com.amazonaws.ebs#SnapshotId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^snap-[0-9a-f]+$"
      }
    },
    "com.amazonaws.ebs#StartSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ebs#StartSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.ebs#StartSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ebs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ebs#ConcurrentLimitExceededException"
        },
        {
          "target": "com.amazonaws.ebs#ConflictException"
        },
        {
          "target": "com.amazonaws.ebs#InternalServerException"
        },
        {
          "target": "com.amazonaws.ebs#RequestThrottledException"
        },
        {
          "target": "com.amazonaws.ebs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ebs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ebs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon EBS snapshot. The new snapshot enters the <code>pending</code> state\n            after the request completes. </p>\n        <p>After creating the snapshot, use <a href=\"https://docs.aws.amazon.com/ebs/latest/APIReference/API_PutSnapshotBlock.html\"> PutSnapshotBlock</a> to\n            write blocks of data to the snapshot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/snapshots",
          "code": 201
        }
      }
    },
    "com.amazonaws.ebs#StartSnapshotRequest": {
      "type": "structure",
      "members": {
        "VolumeSize": {
          "target": "com.amazonaws.ebs#VolumeSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the volume, in GiB. The maximum size is <code>65536</code> GiB (64\n            TiB).</p>",
            "smithy.api#required": {}
          }
        },
        "ParentSnapshotId": {
          "target": "com.amazonaws.ebs#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent snapshot. If there is no parent snapshot, or if you are creating\n            the first snapshot for an on-premises volume, omit this parameter.</p>\n        <p>If your account is enabled for encryption by default, you cannot use an unencrypted\n            snapshot as a parent snapshot. You must first create an encrypted copy of the parent\n            snapshot using <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CopySnapshot.html\">CopySnapshot</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ebs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the snapshot.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.ebs#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the snapshot.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.ebs#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. Idempotency ensures that an API request completes only once. With an idempotent \n            request, if the original request completes successfully. The subsequent retries with the same \n            client token return the result from the original successful request and they have no additional \n            effect.</p>\n        <p>If you do not specify a client token, one is automatically generated by the Amazon Web Services SDK.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-direct-api-idempotency.html\">\n    \t\tIdempotency for StartSnapshot API</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.ebs#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to encrypt the snapshot. To create an encrypted snapshot, specify\n                <code>true</code>. To create an unencrypted snapshot, omit this parameter.</p>\n        <p>If you specify a value for <b>ParentSnapshotId</b>, omit\n            this parameter.</p>\n        <p>If you specify <code>true</code>, the snapshot is encrypted using the KMS key specified\n            using the <b>KmsKeyArn</b> parameter. If no value is specified\n            for <b>KmsKeyArn</b>, the default KMS key for your account is \n            used. If no default KMS key has been specified for your account, the Amazon Web Services managed KMS key is used. \n            To set a default KMS key for your account, use <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ModifyEbsDefaultKmsKeyId.html\">\n        \t\tModifyEbsDefaultKmsKeyId</a>.</p>\n        <p>If your account is enabled for encryption by default, you cannot set this parameter to\n                <code>false</code>. In this case, you can omit this parameter.</p>\n\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-accessing-snapshot.html#ebsapis-using-encryption\">\n                Using encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.ebs#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Key Management Service (KMS) \n        \tkey to be used to encrypt the snapshot. If you do not specify a \n            KMS key, the default Amazon Web Services managed KMS key is used.</p>\n        <p>If you specify a <b>ParentSnapshotId</b>, omit this\n            parameter; the snapshot will be encrypted using the same KMS key that was used to encrypt\n            the parent snapshot.</p>\n        <p>If <b>Encrypted</b> is set to <code>true</code>, \n            you must specify a KMS key ARN. </p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.ebs#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time (in minutes) after which the snapshot is automatically cancelled\n            if:</p>\n        <ul>\n            <li>\n                <p>No blocks are written to the snapshot.</p>\n            </li>\n            <li>\n                <p>The snapshot is not completed after writing the last block of data.</p>\n            </li>\n         </ul>\n        <p>If no value is specified, the timeout defaults to <code>60</code> minutes.</p>"
          }
        }
      }
    },
    "com.amazonaws.ebs#StartSnapshotResponse": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.ebs#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the snapshot.</p>"
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.ebs#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the snapshot.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.ebs#OwnerId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the snapshot owner.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.ebs#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the snapshot.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.ebs#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the snapshot was created.</p>"
          }
        },
        "VolumeSize": {
          "target": "com.amazonaws.ebs#VolumeSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the volume, in GiB.</p>"
          }
        },
        "BlockSize": {
          "target": "com.amazonaws.ebs#BlockSize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the blocks in the snapshot, in bytes.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ebs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags applied to the snapshot. You can specify up to 50 tags per snapshot. For more\n            information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\"> Tagging your Amazon EC2\n                resources</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
          }
        },
        "ParentSnapshotId": {
          "target": "com.amazonaws.ebs#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent snapshot.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.ebs#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Key Management Service (KMS) key used to encrypt the snapshot.</p>"
          }
        }
      }
    },
    "com.amazonaws.ebs#Status": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "completed",
            "name": "COMPLETED"
          },
          {
            "value": "pending",
            "name": "PENDING"
          },
          {
            "value": "error",
            "name": "ERROR"
          }
        ],
        "smithy.api#length": {
          "min": 0,
          "max": 32
        }
      }
    },
    "com.amazonaws.ebs#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.ebs#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of the tag.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.ebs#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the tag.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a tag.</p>"
      }
    },
    "com.amazonaws.ebs#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 127
        },
        "smithy.api#pattern": "^[\\S\\s]+$"
      }
    },
    "com.amazonaws.ebs#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\S\\s]+$"
      }
    },
    "com.amazonaws.ebs#Tags": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ebs#Tag"
      }
    },
    "com.amazonaws.ebs#TimeStamp": {
      "type": "timestamp"
    },
    "com.amazonaws.ebs#Timeout": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 10,
          "max": 60
        }
      }
    },
    "com.amazonaws.ebs#ValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.ebs#ErrorMessage"
        },
        "Reason": {
          "target": "com.amazonaws.ebs#ValidationExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the validation exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints of the EBS direct APIs.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ebs#ValidationExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVALID_CUSTOMER_KEY",
            "name": "INVALID_CUSTOMER_KEY"
          },
          {
            "value": "INVALID_PAGE_TOKEN",
            "name": "INVALID_PAGE_TOKEN"
          },
          {
            "value": "INVALID_BLOCK_TOKEN",
            "name": "INVALID_BLOCK_TOKEN"
          },
          {
            "value": "INVALID_SNAPSHOT_ID",
            "name": "INVALID_SNAPSHOT_ID"
          },
          {
            "value": "UNRELATED_SNAPSHOTS",
            "name": "UNRELATED_SNAPSHOTS"
          },
          {
            "value": "INVALID_BLOCK",
            "name": "INVALID_BLOCK"
          },
          {
            "value": "INVALID_CONTENT_ENCODING",
            "name": "INVALID_CONTENT_ENCODING"
          },
          {
            "value": "INVALID_TAG",
            "name": "INVALID_TAG"
          },
          {
            "value": "INVALID_DEPENDENCY_REQUEST",
            "name": "INVALID_DEPENDENCY_REQUEST"
          },
          {
            "value": "INVALID_PARAMETER_VALUE",
            "name": "INVALID_PARAMETER_VALUE"
          },
          {
            "value": "INVALID_VOLUME_SIZE",
            "name": "INVALID_VOLUME_SIZE"
          }
        ]
      }
    },
    "com.amazonaws.ebs#VolumeSize": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    }
  }
}
