{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuote": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuoteRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuoteResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Accepts the Convertible Reserved Instance exchange quote described in the <a>GetReservedInstancesExchangeQuote</a> call.</p>"
      }
    },
    "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuoteRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Checks whether you have the required permissions for the action, without actually making the request, \n      and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n      Otherwise, it is <code>UnauthorizedOperation</code>.</p>"
          }
        },
        "ReservedInstanceIds": {
          "target": "com.amazonaws.ec2#ReservedInstanceIdSet",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Convertible Reserved Instances to exchange for another Convertible\n            Reserved Instance of the same or higher value.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlName": "ReservedInstanceId"
          }
        },
        "TargetConfigurations": {
          "target": "com.amazonaws.ec2#TargetConfigurationRequestSet",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the target Convertible Reserved Instance to exchange for your\n            current Convertible Reserved Instances.</p>",
            "smithy.api#xmlName": "TargetConfiguration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for accepting the quote.</p>"
      }
    },
    "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuoteResult": {
      "type": "structure",
      "members": {
        "ExchangeId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "ExchangeId",
            "smithy.api#documentation": "<p>The ID of the successful exchange.</p>",
            "smithy.api#xmlName": "exchangeId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of the exchange and whether it was <code>successful</code>.</p>"
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayMulticastDomainAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptTransitGatewayMulticastDomainAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptTransitGatewayMulticastDomainAssociationsResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Accepts a request to associate subnets with a transit gateway multicast domain.</p>"
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayMulticastDomainAssociationsRequest": {
      "type": "structure",
      "members": {
        "TransitGatewayMulticastDomainId": {
          "target": "com.amazonaws.ec2#TransitGatewayMulticastDomainId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the transit gateway multicast domain.</p>"
          }
        },
        "TransitGatewayAttachmentId": {
          "target": "com.amazonaws.ec2#TransitGatewayAttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the transit gateway attachment.</p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.ec2#ValueStringList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the subnets to associate with the transit gateway multicast domain.</p>"
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayMulticastDomainAssociationsResult": {
      "type": "structure",
      "members": {
        "Associations": {
          "target": "com.amazonaws.ec2#TransitGatewayMulticastDomainAssociations",
          "traits": {
            "aws.protocols#ec2QueryName": "Associations",
            "smithy.api#xmlName": "associations"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachmentResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Accepts a transit gateway peering attachment request. The peering attachment must be\n            in the <code>pendingAcceptance</code> state.</p>"
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachmentRequest": {
      "type": "structure",
      "members": {
        "TransitGatewayAttachmentId": {
          "target": "com.amazonaws.ec2#TransitGatewayAttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the transit gateway attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachmentResult": {
      "type": "structure",
      "members": {
        "TransitGatewayPeeringAttachment": {
          "target": "com.amazonaws.ec2#TransitGatewayPeeringAttachment",
          "traits": {
            "aws.protocols#ec2QueryName": "TransitGatewayPeeringAttachment",
            "smithy.api#documentation": "<p>The transit gateway peering attachment.</p>",
            "smithy.api#xmlName": "transitGatewayPeeringAttachment"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachmentResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Accepts a request to attach a VPC to a transit gateway.</p>\n         <p>The VPC attachment must be in the <code>pendingAcceptance</code> state.\n         Use <a>DescribeTransitGatewayVpcAttachments</a> to view your pending VPC attachment requests.\n         Use <a>RejectTransitGatewayVpcAttachment</a> to reject a VPC attachment request.</p>"
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachmentRequest": {
      "type": "structure",
      "members": {
        "TransitGatewayAttachmentId": {
          "target": "com.amazonaws.ec2#TransitGatewayAttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachmentResult": {
      "type": "structure",
      "members": {
        "TransitGatewayVpcAttachment": {
          "target": "com.amazonaws.ec2#TransitGatewayVpcAttachment",
          "traits": {
            "aws.protocols#ec2QueryName": "TransitGatewayVpcAttachment",
            "smithy.api#documentation": "<p>The VPC attachment.</p>",
            "smithy.api#xmlName": "transitGatewayVpcAttachment"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptVpcEndpointConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptVpcEndpointConnectionsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptVpcEndpointConnectionsResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Accepts one or more interface VPC endpoint connection requests to your VPC endpoint\n            service.</p>"
      }
    },
    "com.amazonaws.ec2#AcceptVpcEndpointConnectionsRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>"
          }
        },
        "ServiceId": {
          "target": "com.amazonaws.ec2#VpcEndpointServiceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC endpoint service.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcEndpointIds": {
          "target": "com.amazonaws.ec2#VpcEndpointIdList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of one or more interface VPC endpoints.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlName": "VpcEndpointId"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptVpcEndpointConnectionsResult": {
      "type": "structure",
      "members": {
        "Unsuccessful": {
          "target": "com.amazonaws.ec2#UnsuccessfulItemSet",
          "traits": {
            "aws.protocols#ec2QueryName": "Unsuccessful",
            "smithy.api#documentation": "<p>Information about the interface endpoints that were not accepted, if\n            applicable.</p>",
            "smithy.api#xmlName": "unsuccessful"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptVpcPeeringConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AcceptVpcPeeringConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AcceptVpcPeeringConnectionResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Accept a VPC peering connection request. To accept a request, the VPC peering connection must\n      be in the <code>pending-acceptance</code> state, and you must be the owner of the peer VPC.\n      Use <a>DescribeVpcPeeringConnections</a> to view your outstanding VPC\n      peering connection requests.</p>\n  \t      <p>For an inter-Region VPC peering connection request, you must accept the VPC peering\n      connection in the Region of the accepter VPC.</p>"
      }
    },
    "com.amazonaws.ec2#AcceptVpcPeeringConnectionRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#documentation": "<p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "VpcPeeringConnectionId": {
          "target": "com.amazonaws.ec2#VpcPeeringConnectionId",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcPeeringConnectionId",
            "smithy.api#documentation": "<p>The ID of the VPC peering connection. You must specify this parameter in the\n\t\t\trequest.</p>",
            "smithy.api#xmlName": "vpcPeeringConnectionId"
          }
        }
      }
    },
    "com.amazonaws.ec2#AcceptVpcPeeringConnectionResult": {
      "type": "structure",
      "members": {
        "VpcPeeringConnection": {
          "target": "com.amazonaws.ec2#VpcPeeringConnection",
          "traits": {
            "aws.protocols#ec2QueryName": "VpcPeeringConnection",
            "smithy.api#documentation": "<p>Information about the VPC peering connection.</p>",
            "smithy.api#xmlName": "vpcPeeringConnection"
          }
        }
      }
    },
    "com.amazonaws.ec2#AccountAttribute": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AttributeName",
            "smithy.api#documentation": "<p>The name of the account attribute.</p>",
            "smithy.api#xmlName": "attributeName"
          }
        },
        "AttributeValues": {
          "target": "com.amazonaws.ec2#AccountAttributeValueList",
          "traits": {
            "aws.protocols#ec2QueryName": "AttributeValueSet",
            "smithy.api#documentation": "<p>The values for the account attribute.</p>",
            "smithy.api#xmlName": "attributeValueSet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an account attribute.</p>"
      }
    },
    "com.amazonaws.ec2#AccountAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AccountAttribute",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AccountAttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "supported-platforms",
            "name": "supported_platforms"
          },
          {
            "value": "default-vpc",
            "name": "default_vpc"
          }
        ]
      }
    },
    "com.amazonaws.ec2#AccountAttributeNameStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AccountAttributeName",
        "traits": {
          "smithy.api#xmlName": "attributeName"
        }
      }
    },
    "com.amazonaws.ec2#AccountAttributeValue": {
      "type": "structure",
      "members": {
        "AttributeValue": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AttributeValue",
            "smithy.api#documentation": "<p>The value of the attribute.</p>",
            "smithy.api#xmlName": "attributeValue"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a value of an account attribute.</p>"
      }
    },
    "com.amazonaws.ec2#AccountAttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AccountAttributeValue",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#ActiveInstance": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "InstanceId",
            "smithy.api#documentation": "<p>The ID of the instance.</p>",
            "smithy.api#xmlName": "instanceId"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "InstanceType",
            "smithy.api#documentation": "<p>The instance type.</p>",
            "smithy.api#xmlName": "instanceType"
          }
        },
        "SpotInstanceRequestId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "SpotInstanceRequestId",
            "smithy.api#documentation": "<p>The ID of the Spot Instance request.</p>",
            "smithy.api#xmlName": "spotInstanceRequestId"
          }
        },
        "InstanceHealth": {
          "target": "com.amazonaws.ec2#InstanceHealthStatus",
          "traits": {
            "aws.protocols#ec2QueryName": "InstanceHealth",
            "smithy.api#documentation": "<p>The health status of the instance. If the status of either the instance status check\n            or the system status check is <code>impaired</code>, the health status of the instance\n            is <code>unhealthy</code>. Otherwise, the health status is <code>healthy</code>.</p>",
            "smithy.api#xmlName": "instanceHealth"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a running instance in a Spot Fleet.</p>"
      }
    },
    "com.amazonaws.ec2#ActiveInstanceSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#ActiveInstance",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#ActivityStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "error",
            "name": "ERROR"
          },
          {
            "value": "pending_fulfillment",
            "name": "PENDING_FULFILLMENT"
          },
          {
            "value": "pending_termination",
            "name": "PENDING_TERMINATION"
          },
          {
            "value": "fulfilled",
            "name": "FULFILLED"
          }
        ]
      }
    },
    "com.amazonaws.ec2#AddPrefixListEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AddPrefixListEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.ec2#AddPrefixListEntry": {
      "type": "structure",
      "members": {
        "Cidr": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "<p>The CIDR block.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for the entry.</p>\n        <p>Constraints: Up to 255 characters in length.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entry for a prefix list.</p>"
      }
    },
    "com.amazonaws.ec2#Address": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "InstanceId",
            "smithy.api#documentation": "<p>The ID of the instance that the address is associated with (if any).</p>",
            "smithy.api#xmlName": "instanceId"
          }
        },
        "PublicIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PublicIp",
            "smithy.api#documentation": "<p>The Elastic IP address.</p>",
            "smithy.api#xmlName": "publicIp"
          }
        },
        "AllocationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AllocationId",
            "smithy.api#documentation": "<p>The ID representing the allocation of the address for use with EC2-VPC.</p>",
            "smithy.api#xmlName": "allocationId"
          }
        },
        "AssociationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AssociationId",
            "smithy.api#documentation": "<p>The ID representing the association of the address with an instance in a VPC.</p>",
            "smithy.api#xmlName": "associationId"
          }
        },
        "Domain": {
          "target": "com.amazonaws.ec2#DomainType",
          "traits": {
            "aws.protocols#ec2QueryName": "Domain",
            "smithy.api#documentation": "<p>Indicates whether this Elastic IP address is for use with instances\n\t\t\t\tin EC2-Classic (<code>standard</code>) or instances in a VPC (<code>vpc</code>).</p>",
            "smithy.api#xmlName": "domain"
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkInterfaceId",
            "smithy.api#documentation": "<p>The ID of the network interface.</p>",
            "smithy.api#xmlName": "networkInterfaceId"
          }
        },
        "NetworkInterfaceOwnerId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkInterfaceOwnerId",
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that owns the network interface.</p>",
            "smithy.api#xmlName": "networkInterfaceOwnerId"
          }
        },
        "PrivateIpAddress": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PrivateIpAddress",
            "smithy.api#documentation": "<p>The private IP address associated with the Elastic IP address.</p>",
            "smithy.api#xmlName": "privateIpAddress"
          }
        },
        "Tags": {
          "target": "com.amazonaws.ec2#TagList",
          "traits": {
            "aws.protocols#ec2QueryName": "TagSet",
            "smithy.api#documentation": "<p>Any tags assigned to the Elastic IP address.</p>",
            "smithy.api#xmlName": "tagSet"
          }
        },
        "PublicIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PublicIpv4Pool",
            "smithy.api#documentation": "<p>The ID of an address pool.</p>",
            "smithy.api#xmlName": "publicIpv4Pool"
          }
        },
        "NetworkBorderGroup": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkBorderGroup",
            "smithy.api#documentation": "<p>The name of the unique set of Availability Zones, Local Zones, or Wavelength Zones from\n      which AWS advertises IP addresses. </p>",
            "smithy.api#xmlName": "networkBorderGroup"
          }
        },
        "CustomerOwnedIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CustomerOwnedIp",
            "smithy.api#documentation": "<p>The customer-owned IP address.</p>",
            "smithy.api#xmlName": "customerOwnedIp"
          }
        },
        "CustomerOwnedIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CustomerOwnedIpv4Pool",
            "smithy.api#documentation": "<p>The ID of the customer-owned address pool.</p>",
            "smithy.api#xmlName": "customerOwnedIpv4Pool"
          }
        },
        "CarrierIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CarrierIp",
            "smithy.api#documentation": "<p>The carrier IP address associated. This option is only available for network interfaces\n      which  reside in a subnet in a Wavelength Zone (for example an EC2 instance). </p>",
            "smithy.api#xmlName": "carrierIp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Elastic IP address, or a carrier IP address.</p>"
      }
    },
    "com.amazonaws.ec2#AddressAttribute": {
      "type": "structure",
      "members": {
        "PublicIp": {
          "target": "com.amazonaws.ec2#PublicIpAddress",
          "traits": {
            "aws.protocols#ec2QueryName": "PublicIp",
            "smithy.api#documentation": "<p>The public IP address.</p>",
            "smithy.api#xmlName": "publicIp"
          }
        },
        "AllocationId": {
          "target": "com.amazonaws.ec2#AllocationId",
          "traits": {
            "aws.protocols#ec2QueryName": "AllocationId",
            "smithy.api#documentation": "<p>[EC2-VPC] The allocation ID.</p>",
            "smithy.api#xmlName": "allocationId"
          }
        },
        "PtrRecord": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PtrRecord",
            "smithy.api#documentation": "<p>The pointer (PTR) record for the IP address.</p>",
            "smithy.api#xmlName": "ptrRecord"
          }
        },
        "PtrRecordUpdate": {
          "target": "com.amazonaws.ec2#PtrUpdateStatus",
          "traits": {
            "aws.protocols#ec2QueryName": "PtrRecordUpdate",
            "smithy.api#documentation": "<p>The updated PTR record for the IP address.</p>",
            "smithy.api#xmlName": "ptrRecordUpdate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The attributes associated with an Elastic IP address.</p>"
      }
    },
    "com.amazonaws.ec2#AddressAttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "domain-name",
            "name": "domain_name"
          }
        ]
      }
    },
    "com.amazonaws.ec2#AddressList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#Address",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AddressMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.ec2#AddressSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AddressAttribute",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AdvertiseByoipCidr": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AdvertiseByoipCidrRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AdvertiseByoipCidrResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Advertises an IPv4 or IPv6 address range that is provisioned for use with your Amazon Web Services resources through \n         bring your own IP addresses (BYOIP).</p> \n         <p>You can perform this operation at most once every 10 seconds, even if you specify different \n         address ranges each time.</p>\n         <p>We recommend that you stop advertising the BYOIP CIDR from other locations when you advertise\n          it from Amazon Web Services. To minimize down time, you can configure your Amazon Web Services resources to use an address from a\n         BYOIP CIDR before it is advertised, and then simultaneously stop advertising it from the current \n         location and start advertising it through Amazon Web Services.</p>\n         <p>It can take a few minutes before traffic to the specified addresses starts routing to Amazon Web Services\n         because of BGP propagation delays.</p>\n         <p>To stop advertising the BYOIP CIDR, use <a>WithdrawByoipCidr</a>.</p>"
      }
    },
    "com.amazonaws.ec2#AdvertiseByoipCidrRequest": {
      "type": "structure",
      "members": {
        "Cidr": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "<p>The address range, in CIDR notation. This must be the exact range that you provisioned. \n         You can't advertise only a portion of the provisioned range.</p>",
            "smithy.api#required": {}
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ec2#AdvertiseByoipCidrResult": {
      "type": "structure",
      "members": {
        "ByoipCidr": {
          "target": "com.amazonaws.ec2#ByoipCidr",
          "traits": {
            "aws.protocols#ec2QueryName": "ByoipCidr",
            "smithy.api#documentation": "<p>Information about the address range.</p>",
            "smithy.api#xmlName": "byoipCidr"
          }
        }
      }
    },
    "com.amazonaws.ec2#Affinity": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "default",
            "name": "default"
          },
          {
            "value": "host",
            "name": "host"
          }
        ]
      }
    },
    "com.amazonaws.ec2#AllocateAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AllocateAddressRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AllocateAddressResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Allocates an Elastic IP address to your Amazon Web Services account. After you allocate the Elastic IP address you can associate  \n         it with an instance or network interface. After you release an Elastic IP address, it is released to the IP address \n         pool and can be allocated to a different Amazon Web Services account.</p>\n         <p>You can allocate an Elastic IP address from an address pool owned by Amazon Web Services or from an address pool created \n       from a public IPv4 address range that you have brought to Amazon Web Services for use with your Amazon Web Services resources using bring your own \n         IP addresses (BYOIP). For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-byoip.html\">Bring Your Own IP Addresses (BYOIP)</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n         <p>[EC2-VPC] If you release an Elastic IP address, you might be able to recover it. You cannot recover an \n       Elastic IP address that you released after it is allocated to another Amazon Web Services account. You cannot recover an Elastic IP\n         address for EC2-Classic. To attempt to recover an Elastic IP address that you released, specify it in this operation.</p>\n         <p>An Elastic IP address is for use either in the EC2-Classic platform or in a VPC. By default, you can allocate\n         5 Elastic IP addresses for EC2-Classic per Region and 5 Elastic IP addresses for EC2-VPC per Region.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP Addresses</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>\n         <p>You can allocate a carrier IP address which is a public IP address from a telecommunication carrier, to a network interface which resides in a subnet in a Wavelength Zone (for example an EC2 instance). </p>"
      }
    },
    "com.amazonaws.ec2#AllocateAddressRequest": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.ec2#DomainType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the Elastic IP address is for use with instances in a VPC or instances in EC2-Classic.</p>\n         <p>Default: If the Region supports EC2-Classic, the default is <code>standard</code>. Otherwise, the default\n         is <code>vpc</code>.</p>"
          }
        },
        "Address": {
          "target": "com.amazonaws.ec2#PublicIpAddress",
          "traits": {
            "smithy.api#documentation": "<p>[EC2-VPC] The Elastic IP address to recover or an IPv4 address from an address pool.</p>"
          }
        },
        "PublicIpv4Pool": {
          "target": "com.amazonaws.ec2#Ipv4PoolEc2Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an address pool that you own. Use this parameter to let Amazon EC2 select an address from the address pool.\n       To specify a specific address from the address pool, use the <code>Address</code> parameter instead.</p>"
          }
        },
        "NetworkBorderGroup": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "<p> A unique set of Availability Zones, Local Zones, or Wavelength Zones from which AWS\n      advertises IP addresses. Use this parameter to limit the IP address to this location. IP\n      addresses cannot move between network border groups.</p>\n         <p>Use <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeAvailabilityZones.html\">DescribeAvailabilityZones</a> to view the network border groups.</p>\n    \n         <note>\n            <p>You cannot use a network border group with EC2 Classic. If you attempt this operation on EC2 classic, you will receive an <code>InvalidParameterCombination</code> error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/errors-overview.html\">Error Codes</a>.</p>\n         </note>"
          }
        },
        "CustomerOwnedIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a customer-owned address pool. Use this parameter to let Amazon EC2 \n        select an address from the address pool. Alternatively, specify a specific \n        address from the address pool.</p>"
          }
        },
        "DryRun": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "DryRun",
            "smithy.api#documentation": "<p>Checks whether you have the required permissions for the action, without actually making the request, \n   and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. \n   Otherwise, it is <code>UnauthorizedOperation</code>.</p>",
            "smithy.api#xmlName": "dryRun"
          }
        },
        "TagSpecifications": {
          "target": "com.amazonaws.ec2#TagSpecificationList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the Elastic IP address.</p>",
            "smithy.api#xmlName": "TagSpecification"
          }
        }
      }
    },
    "com.amazonaws.ec2#AllocateAddressResult": {
      "type": "structure",
      "members": {
        "PublicIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PublicIp",
            "smithy.api#documentation": "<p>The Elastic IP address.</p>",
            "smithy.api#xmlName": "publicIp"
          }
        },
        "AllocationId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AllocationId",
            "smithy.api#documentation": "<p>[EC2-VPC] The ID that Amazon Web Services assigns to represent the allocation of the Elastic IP address for use with instances in a VPC.</p>",
            "smithy.api#xmlName": "allocationId"
          }
        },
        "PublicIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "PublicIpv4Pool",
            "smithy.api#documentation": "<p>The ID of an address pool.</p>",
            "smithy.api#xmlName": "publicIpv4Pool"
          }
        },
        "NetworkBorderGroup": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "NetworkBorderGroup",
            "smithy.api#documentation": "<p>The set of Availability Zones, Local Zones, or Wavelength Zones from which AWS advertises\n      IP addresses.</p>",
            "smithy.api#xmlName": "networkBorderGroup"
          }
        },
        "Domain": {
          "target": "com.amazonaws.ec2#DomainType",
          "traits": {
            "aws.protocols#ec2QueryName": "Domain",
            "smithy.api#documentation": "<p>Indicates whether the Elastic IP address is for use with instances in a VPC (<code>vpc</code>) or\n\t\t\t\tinstances in EC2-Classic (<code>standard</code>).</p>",
            "smithy.api#xmlName": "domain"
          }
        },
        "CustomerOwnedIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CustomerOwnedIp",
            "smithy.api#documentation": "<p>The customer-owned IP address.</p>",
            "smithy.api#xmlName": "customerOwnedIp"
          }
        },
        "CustomerOwnedIpv4Pool": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CustomerOwnedIpv4Pool",
            "smithy.api#documentation": "<p>The ID of the customer-owned address pool.</p>",
            "smithy.api#xmlName": "customerOwnedIpv4Pool"
          }
        },
        "CarrierIp": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "CarrierIp",
            "smithy.api#documentation": "<p>The carrier IP address. This option is only available for network interfaces which  reside\n      in a subnet in a Wavelength Zone (for example an EC2 instance). </p>",
            "smithy.api#xmlName": "carrierIp"
          }
        }
      }
    },
    "com.amazonaws.ec2#AllocateHosts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ec2#AllocateHostsRequest"
      },
      "output": {
        "target": "com.amazonaws.ec2#AllocateHostsResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Allocates a Dedicated Host to your account. At a minimum, specify the supported instance \n        \ttype or instance family, the Availability Zone in which to allocate the host, and the number of \n        \thosts to allocate.</p>"
      }
    },
    "com.amazonaws.ec2#AllocateHostsRequest": {
      "type": "structure",
      "members": {
        "AutoPlacement": {
          "target": "com.amazonaws.ec2#AutoPlacement",
          "traits": {
            "aws.protocols#ec2QueryName": "AutoPlacement",
            "smithy.api#documentation": "<p>Indicates whether the host accepts any untargeted instance launches that \n    \t\tmatch its instance type configuration, or if it only accepts Host tenancy \n    \t\tinstance launches that specify its unique host ID. For more information, \n    \t\tsee <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/how-dedicated-hosts-work.html#dedicated-hosts-understanding\">\n        \tUnderstanding auto-placement and affinity</a> in the <i>Amazon EC2 User Guide</i>.</p>\n\n        <p>Default: <code>on</code>\n         </p>",
            "smithy.api#xmlName": "autoPlacement"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AvailabilityZone",
            "smithy.api#documentation": "<p>The Availability Zone in which to allocate the Dedicated Host.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlName": "availabilityZone"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "ClientToken",
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring Idempotency</a>.</p>",
            "smithy.api#xmlName": "clientToken"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "InstanceType",
            "smithy.api#documentation": "<p>Specifies the instance type to be supported by the Dedicated Hosts. If you\n\t\tspecify an instance type, the Dedicated Hosts support instances of the \n\t\tspecified instance type only.</p>\n    \t\n    \t    <p>If you want the Dedicated Hosts to support multiple instance types in a specific \n    \t\tinstance family, omit this parameter and specify <b>InstanceFamily</b> \n    \t\tinstead. You cannot specify <b>InstanceType</b> and \n    \t\t<b>InstanceFamily</b> in the same request.</p>",
            "smithy.api#xmlName": "instanceType"
          }
        },
        "InstanceFamily": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the instance family to be supported by the Dedicated Hosts. If you specify \n\t\t\tan instance family, the Dedicated Hosts support multiple instance types within that \n\t\t\tinstance family.</p>\n\t\t\n\t\t       <p>If you want the Dedicated Hosts to support a specific instance type only, omit this \n\t\t\tparameter and specify <b>InstanceType</b> \n\t\t\tinstead. You cannot specify <b>InstanceFamily</b> and \n\t\t\t<b>InstanceType</b> in the same request.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "Quantity",
            "smithy.api#documentation": "<p>The number of Dedicated Hosts to allocate to your account with these parameters.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlName": "quantity"
          }
        },
        "TagSpecifications": {
          "target": "com.amazonaws.ec2#TagSpecificationList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the Dedicated Host during creation.</p>",
            "smithy.api#xmlName": "TagSpecification"
          }
        },
        "HostRecovery": {
          "target": "com.amazonaws.ec2#HostRecovery",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to enable or disable host recovery for the Dedicated Host. \n\t\t\tHost recovery is disabled by default. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/dedicated-hosts-recovery.html\">\n\t\t\tHost recovery</a> in the <i>Amazon EC2 User Guide</i>.</p>\n\t\t       <p>Default: <code>off</code>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.ec2#AllocateHostsResult": {
      "type": "structure",
      "members": {
        "HostIds": {
          "target": "com.amazonaws.ec2#ResponseHostIdList",
          "traits": {
            "aws.protocols#ec2QueryName": "HostIdSet",
            "smithy.api#documentation": "<p>The ID of the allocated Dedicated Host. This is used to launch an instance onto a\n\t\t\tspecific host.</p>",
            "smithy.api#xmlName": "hostIdSet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output of AllocateHosts.</p>"
      }
    },
    "com.amazonaws.ec2#AllocationId": {
      "type": "string"
    },
    "com.amazonaws.ec2#AllocationIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AllocationId",
        "traits": {
          "smithy.api#xmlName": "AllocationId"
        }
      }
    },
    "com.amazonaws.ec2#AllocationIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AllocationId",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AllocationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "available",
            "name": "available"
          },
          {
            "value": "under-assessment",
            "name": "under_assessment"
          },
          {
            "value": "permanent-failure",
            "name": "permanent_failure"
          },
          {
            "value": "released",
            "name": "released"
          },
          {
            "value": "released-permanent-failure",
            "name": "released_permanent_failure"
          },
          {
            "value": "pending",
            "name": "pending"
          }
        ]
      }
    },
    "com.amazonaws.ec2#AllocationStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "lowestPrice",
            "name": "LOWEST_PRICE"
          },
          {
            "value": "diversified",
            "name": "DIVERSIFIED"
          },
          {
            "value": "capacityOptimized",
            "name": "CAPACITY_OPTIMIZED"
          },
          {
            "value": "capacityOptimizedPrioritized",
            "name": "CAPACITY_OPTIMIZED_PRIORITIZED"
          }
        ]
      }
    },
    "com.amazonaws.ec2#AllowedPrincipal": {
      "type": "structure",
      "members": {
        "PrincipalType": {
          "target": "com.amazonaws.ec2#PrincipalType",
          "traits": {
            "aws.protocols#ec2QueryName": "PrincipalType",
            "smithy.api#documentation": "<p>The type of principal.</p>",
            "smithy.api#xmlName": "principalType"
          }
        },
        "Principal": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Principal",
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the principal.</p>",
            "smithy.api#xmlName": "principal"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a principal.</p>"
      }
    },
    "com.amazonaws.ec2#AllowedPrincipalSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AllowedPrincipal",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AllowsMultipleInstanceTypes": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "on",
            "name": "on"
          },
          {
            "value": "off",
            "name": "off"
          }
        ]
      }
    },
    "com.amazonaws.ec2#AlternatePathHint": {
      "type": "structure",
      "members": {
        "ComponentId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "ComponentId",
            "smithy.api#documentation": "<p>The ID of the component.</p>",
            "smithy.api#xmlName": "componentId"
          }
        },
        "ComponentArn": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "ComponentArn",
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
            "smithy.api#xmlName": "componentArn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an potential intermediate component of a feasible path.</p>"
      }
    },
    "com.amazonaws.ec2#AlternatePathHintList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AlternatePathHint",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AmazonEC2": {
      "type": "service",
      "version": "2016-11-15",
      "operations": [
        {
          "target": "com.amazonaws.ec2#AcceptReservedInstancesExchangeQuote"
        },
        {
          "target": "com.amazonaws.ec2#AcceptTransitGatewayMulticastDomainAssociations"
        },
        {
          "target": "com.amazonaws.ec2#AcceptTransitGatewayPeeringAttachment"
        },
        {
          "target": "com.amazonaws.ec2#AcceptTransitGatewayVpcAttachment"
        },
        {
          "target": "com.amazonaws.ec2#AcceptVpcEndpointConnections"
        },
        {
          "target": "com.amazonaws.ec2#AcceptVpcPeeringConnection"
        },
        {
          "target": "com.amazonaws.ec2#AdvertiseByoipCidr"
        },
        {
          "target": "com.amazonaws.ec2#AllocateAddress"
        },
        {
          "target": "com.amazonaws.ec2#AllocateHosts"
        },
        {
          "target": "com.amazonaws.ec2#ApplySecurityGroupsToClientVpnTargetNetwork"
        },
        {
          "target": "com.amazonaws.ec2#AssignIpv6Addresses"
        },
        {
          "target": "com.amazonaws.ec2#AssignPrivateIpAddresses"
        },
        {
          "target": "com.amazonaws.ec2#AssociateAddress"
        },
        {
          "target": "com.amazonaws.ec2#AssociateClientVpnTargetNetwork"
        },
        {
          "target": "com.amazonaws.ec2#AssociateDhcpOptions"
        },
        {
          "target": "com.amazonaws.ec2#AssociateEnclaveCertificateIamRole"
        },
        {
          "target": "com.amazonaws.ec2#AssociateIamInstanceProfile"
        },
        {
          "target": "com.amazonaws.ec2#AssociateInstanceEventWindow"
        },
        {
          "target": "com.amazonaws.ec2#AssociateRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#AssociateSubnetCidrBlock"
        },
        {
          "target": "com.amazonaws.ec2#AssociateTransitGatewayMulticastDomain"
        },
        {
          "target": "com.amazonaws.ec2#AssociateTransitGatewayRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#AssociateTrunkInterface"
        },
        {
          "target": "com.amazonaws.ec2#AssociateVpcCidrBlock"
        },
        {
          "target": "com.amazonaws.ec2#AttachClassicLinkVpc"
        },
        {
          "target": "com.amazonaws.ec2#AttachInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#AttachNetworkInterface"
        },
        {
          "target": "com.amazonaws.ec2#AttachVolume"
        },
        {
          "target": "com.amazonaws.ec2#AttachVpnGateway"
        },
        {
          "target": "com.amazonaws.ec2#AuthorizeClientVpnIngress"
        },
        {
          "target": "com.amazonaws.ec2#AuthorizeSecurityGroupEgress"
        },
        {
          "target": "com.amazonaws.ec2#AuthorizeSecurityGroupIngress"
        },
        {
          "target": "com.amazonaws.ec2#BundleInstance"
        },
        {
          "target": "com.amazonaws.ec2#CancelBundleTask"
        },
        {
          "target": "com.amazonaws.ec2#CancelCapacityReservation"
        },
        {
          "target": "com.amazonaws.ec2#CancelConversionTask"
        },
        {
          "target": "com.amazonaws.ec2#CancelExportTask"
        },
        {
          "target": "com.amazonaws.ec2#CancelImportTask"
        },
        {
          "target": "com.amazonaws.ec2#CancelReservedInstancesListing"
        },
        {
          "target": "com.amazonaws.ec2#CancelSpotFleetRequests"
        },
        {
          "target": "com.amazonaws.ec2#CancelSpotInstanceRequests"
        },
        {
          "target": "com.amazonaws.ec2#ConfirmProductInstance"
        },
        {
          "target": "com.amazonaws.ec2#CopyFpgaImage"
        },
        {
          "target": "com.amazonaws.ec2#CopyImage"
        },
        {
          "target": "com.amazonaws.ec2#CopySnapshot"
        },
        {
          "target": "com.amazonaws.ec2#CreateCapacityReservation"
        },
        {
          "target": "com.amazonaws.ec2#CreateCarrierGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateClientVpnEndpoint"
        },
        {
          "target": "com.amazonaws.ec2#CreateClientVpnRoute"
        },
        {
          "target": "com.amazonaws.ec2#CreateCustomerGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateDefaultSubnet"
        },
        {
          "target": "com.amazonaws.ec2#CreateDefaultVpc"
        },
        {
          "target": "com.amazonaws.ec2#CreateDhcpOptions"
        },
        {
          "target": "com.amazonaws.ec2#CreateEgressOnlyInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateFleet"
        },
        {
          "target": "com.amazonaws.ec2#CreateFlowLogs"
        },
        {
          "target": "com.amazonaws.ec2#CreateFpgaImage"
        },
        {
          "target": "com.amazonaws.ec2#CreateImage"
        },
        {
          "target": "com.amazonaws.ec2#CreateInstanceEventWindow"
        },
        {
          "target": "com.amazonaws.ec2#CreateInstanceExportTask"
        },
        {
          "target": "com.amazonaws.ec2#CreateInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateKeyPair"
        },
        {
          "target": "com.amazonaws.ec2#CreateLaunchTemplate"
        },
        {
          "target": "com.amazonaws.ec2#CreateLaunchTemplateVersion"
        },
        {
          "target": "com.amazonaws.ec2#CreateLocalGatewayRoute"
        },
        {
          "target": "com.amazonaws.ec2#CreateLocalGatewayRouteTableVpcAssociation"
        },
        {
          "target": "com.amazonaws.ec2#CreateManagedPrefixList"
        },
        {
          "target": "com.amazonaws.ec2#CreateNatGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateNetworkAcl"
        },
        {
          "target": "com.amazonaws.ec2#CreateNetworkAclEntry"
        },
        {
          "target": "com.amazonaws.ec2#CreateNetworkInsightsPath"
        },
        {
          "target": "com.amazonaws.ec2#CreateNetworkInterface"
        },
        {
          "target": "com.amazonaws.ec2#CreateNetworkInterfacePermission"
        },
        {
          "target": "com.amazonaws.ec2#CreatePlacementGroup"
        },
        {
          "target": "com.amazonaws.ec2#CreateReplaceRootVolumeTask"
        },
        {
          "target": "com.amazonaws.ec2#CreateReservedInstancesListing"
        },
        {
          "target": "com.amazonaws.ec2#CreateRestoreImageTask"
        },
        {
          "target": "com.amazonaws.ec2#CreateRoute"
        },
        {
          "target": "com.amazonaws.ec2#CreateRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#CreateSecurityGroup"
        },
        {
          "target": "com.amazonaws.ec2#CreateSnapshot"
        },
        {
          "target": "com.amazonaws.ec2#CreateSnapshots"
        },
        {
          "target": "com.amazonaws.ec2#CreateSpotDatafeedSubscription"
        },
        {
          "target": "com.amazonaws.ec2#CreateStoreImageTask"
        },
        {
          "target": "com.amazonaws.ec2#CreateSubnet"
        },
        {
          "target": "com.amazonaws.ec2#CreateSubnetCidrReservation"
        },
        {
          "target": "com.amazonaws.ec2#CreateTags"
        },
        {
          "target": "com.amazonaws.ec2#CreateTrafficMirrorFilter"
        },
        {
          "target": "com.amazonaws.ec2#CreateTrafficMirrorFilterRule"
        },
        {
          "target": "com.amazonaws.ec2#CreateTrafficMirrorSession"
        },
        {
          "target": "com.amazonaws.ec2#CreateTrafficMirrorTarget"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGateway"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayConnect"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayConnectPeer"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayMulticastDomain"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayPeeringAttachment"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayPrefixListReference"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayRoute"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#CreateTransitGatewayVpcAttachment"
        },
        {
          "target": "com.amazonaws.ec2#CreateVolume"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpc"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpcEndpoint"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpcEndpointConnectionNotification"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpcEndpointServiceConfiguration"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpcPeeringConnection"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpnConnection"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpnConnectionRoute"
        },
        {
          "target": "com.amazonaws.ec2#CreateVpnGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteCarrierGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteClientVpnEndpoint"
        },
        {
          "target": "com.amazonaws.ec2#DeleteClientVpnRoute"
        },
        {
          "target": "com.amazonaws.ec2#DeleteCustomerGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteDhcpOptions"
        },
        {
          "target": "com.amazonaws.ec2#DeleteEgressOnlyInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteFleets"
        },
        {
          "target": "com.amazonaws.ec2#DeleteFlowLogs"
        },
        {
          "target": "com.amazonaws.ec2#DeleteFpgaImage"
        },
        {
          "target": "com.amazonaws.ec2#DeleteInstanceEventWindow"
        },
        {
          "target": "com.amazonaws.ec2#DeleteInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteKeyPair"
        },
        {
          "target": "com.amazonaws.ec2#DeleteLaunchTemplate"
        },
        {
          "target": "com.amazonaws.ec2#DeleteLaunchTemplateVersions"
        },
        {
          "target": "com.amazonaws.ec2#DeleteLocalGatewayRoute"
        },
        {
          "target": "com.amazonaws.ec2#DeleteLocalGatewayRouteTableVpcAssociation"
        },
        {
          "target": "com.amazonaws.ec2#DeleteManagedPrefixList"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNatGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNetworkAcl"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNetworkAclEntry"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNetworkInsightsAnalysis"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNetworkInsightsPath"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNetworkInterface"
        },
        {
          "target": "com.amazonaws.ec2#DeleteNetworkInterfacePermission"
        },
        {
          "target": "com.amazonaws.ec2#DeletePlacementGroup"
        },
        {
          "target": "com.amazonaws.ec2#DeleteQueuedReservedInstances"
        },
        {
          "target": "com.amazonaws.ec2#DeleteRoute"
        },
        {
          "target": "com.amazonaws.ec2#DeleteRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#DeleteSecurityGroup"
        },
        {
          "target": "com.amazonaws.ec2#DeleteSnapshot"
        },
        {
          "target": "com.amazonaws.ec2#DeleteSpotDatafeedSubscription"
        },
        {
          "target": "com.amazonaws.ec2#DeleteSubnet"
        },
        {
          "target": "com.amazonaws.ec2#DeleteSubnetCidrReservation"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTags"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTrafficMirrorFilter"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTrafficMirrorFilterRule"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTrafficMirrorSession"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTrafficMirrorTarget"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayConnect"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayConnectPeer"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayMulticastDomain"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayPeeringAttachment"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayPrefixListReference"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayRoute"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#DeleteTransitGatewayVpcAttachment"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVolume"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpc"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpcEndpointConnectionNotifications"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpcEndpoints"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpcEndpointServiceConfigurations"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpcPeeringConnection"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpnConnection"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpnConnectionRoute"
        },
        {
          "target": "com.amazonaws.ec2#DeleteVpnGateway"
        },
        {
          "target": "com.amazonaws.ec2#DeprovisionByoipCidr"
        },
        {
          "target": "com.amazonaws.ec2#DeregisterImage"
        },
        {
          "target": "com.amazonaws.ec2#DeregisterInstanceEventNotificationAttributes"
        },
        {
          "target": "com.amazonaws.ec2#DeregisterTransitGatewayMulticastGroupMembers"
        },
        {
          "target": "com.amazonaws.ec2#DeregisterTransitGatewayMulticastGroupSources"
        },
        {
          "target": "com.amazonaws.ec2#DescribeAccountAttributes"
        },
        {
          "target": "com.amazonaws.ec2#DescribeAddresses"
        },
        {
          "target": "com.amazonaws.ec2#DescribeAddressesAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeAggregateIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#DescribeAvailabilityZones"
        },
        {
          "target": "com.amazonaws.ec2#DescribeBundleTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeByoipCidrs"
        },
        {
          "target": "com.amazonaws.ec2#DescribeCapacityReservations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeCarrierGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClassicLinkInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClientVpnAuthorizationRules"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClientVpnConnections"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClientVpnEndpoints"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClientVpnRoutes"
        },
        {
          "target": "com.amazonaws.ec2#DescribeClientVpnTargetNetworks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeCoipPools"
        },
        {
          "target": "com.amazonaws.ec2#DescribeConversionTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeCustomerGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeDhcpOptions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeEgressOnlyInternetGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeElasticGpus"
        },
        {
          "target": "com.amazonaws.ec2#DescribeExportImageTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeExportTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFastSnapshotRestores"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFleetHistory"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFleetInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFleets"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFlowLogs"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFpgaImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeFpgaImages"
        },
        {
          "target": "com.amazonaws.ec2#DescribeHostReservationOfferings"
        },
        {
          "target": "com.amazonaws.ec2#DescribeHostReservations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeHosts"
        },
        {
          "target": "com.amazonaws.ec2#DescribeIamInstanceProfileAssociations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeIdentityIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#DescribeIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#DescribeImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeImages"
        },
        {
          "target": "com.amazonaws.ec2#DescribeImportImageTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeImportSnapshotTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceCreditSpecifications"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceEventNotificationAttributes"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceEventWindows"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceStatus"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceTypeOfferings"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInstanceTypes"
        },
        {
          "target": "com.amazonaws.ec2#DescribeInternetGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeIpv6Pools"
        },
        {
          "target": "com.amazonaws.ec2#DescribeKeyPairs"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLaunchTemplates"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLaunchTemplateVersions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGatewayRouteTables"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGatewayRouteTableVirtualInterfaceGroupAssociations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGatewayRouteTableVpcAssociations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGatewayVirtualInterfaceGroups"
        },
        {
          "target": "com.amazonaws.ec2#DescribeLocalGatewayVirtualInterfaces"
        },
        {
          "target": "com.amazonaws.ec2#DescribeManagedPrefixLists"
        },
        {
          "target": "com.amazonaws.ec2#DescribeMovingAddresses"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNatGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkAcls"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkInsightsAnalyses"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkInsightsPaths"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkInterfaceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkInterfacePermissions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeNetworkInterfaces"
        },
        {
          "target": "com.amazonaws.ec2#DescribePlacementGroups"
        },
        {
          "target": "com.amazonaws.ec2#DescribePrefixLists"
        },
        {
          "target": "com.amazonaws.ec2#DescribePrincipalIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#DescribePublicIpv4Pools"
        },
        {
          "target": "com.amazonaws.ec2#DescribeRegions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeReplaceRootVolumeTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeReservedInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeReservedInstancesListings"
        },
        {
          "target": "com.amazonaws.ec2#DescribeReservedInstancesModifications"
        },
        {
          "target": "com.amazonaws.ec2#DescribeReservedInstancesOfferings"
        },
        {
          "target": "com.amazonaws.ec2#DescribeRouteTables"
        },
        {
          "target": "com.amazonaws.ec2#DescribeScheduledInstanceAvailability"
        },
        {
          "target": "com.amazonaws.ec2#DescribeScheduledInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSecurityGroupReferences"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSecurityGroupRules"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSecurityGroups"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSnapshotAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSnapshots"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotDatafeedSubscription"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotFleetInstances"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotFleetRequestHistory"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotFleetRequests"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotInstanceRequests"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSpotPriceHistory"
        },
        {
          "target": "com.amazonaws.ec2#DescribeStaleSecurityGroups"
        },
        {
          "target": "com.amazonaws.ec2#DescribeStoreImageTasks"
        },
        {
          "target": "com.amazonaws.ec2#DescribeSubnets"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTags"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTrafficMirrorFilters"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTrafficMirrorSessions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTrafficMirrorTargets"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayAttachments"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayConnectPeers"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayConnects"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayMulticastDomains"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayPeeringAttachments"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayRouteTables"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGateways"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTransitGatewayVpcAttachments"
        },
        {
          "target": "com.amazonaws.ec2#DescribeTrunkInterfaceAssociations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVolumeAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVolumes"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVolumesModifications"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVolumeStatus"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcAttribute"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcClassicLink"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcClassicLinkDnsSupport"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpointConnectionNotifications"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpointConnections"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpoints"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpointServiceConfigurations"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpointServicePermissions"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcEndpointServices"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcPeeringConnections"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpcs"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpnConnections"
        },
        {
          "target": "com.amazonaws.ec2#DescribeVpnGateways"
        },
        {
          "target": "com.amazonaws.ec2#DetachClassicLinkVpc"
        },
        {
          "target": "com.amazonaws.ec2#DetachInternetGateway"
        },
        {
          "target": "com.amazonaws.ec2#DetachNetworkInterface"
        },
        {
          "target": "com.amazonaws.ec2#DetachVolume"
        },
        {
          "target": "com.amazonaws.ec2#DetachVpnGateway"
        },
        {
          "target": "com.amazonaws.ec2#DisableEbsEncryptionByDefault"
        },
        {
          "target": "com.amazonaws.ec2#DisableFastSnapshotRestores"
        },
        {
          "target": "com.amazonaws.ec2#DisableImageDeprecation"
        },
        {
          "target": "com.amazonaws.ec2#DisableSerialConsoleAccess"
        },
        {
          "target": "com.amazonaws.ec2#DisableTransitGatewayRouteTablePropagation"
        },
        {
          "target": "com.amazonaws.ec2#DisableVgwRoutePropagation"
        },
        {
          "target": "com.amazonaws.ec2#DisableVpcClassicLink"
        },
        {
          "target": "com.amazonaws.ec2#DisableVpcClassicLinkDnsSupport"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateAddress"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateClientVpnTargetNetwork"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateEnclaveCertificateIamRole"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateIamInstanceProfile"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateInstanceEventWindow"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateSubnetCidrBlock"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateTransitGatewayMulticastDomain"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateTransitGatewayRouteTable"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateTrunkInterface"
        },
        {
          "target": "com.amazonaws.ec2#DisassociateVpcCidrBlock"
        },
        {
          "target": "com.amazonaws.ec2#EnableEbsEncryptionByDefault"
        },
        {
          "target": "com.amazonaws.ec2#EnableFastSnapshotRestores"
        },
        {
          "target": "com.amazonaws.ec2#EnableImageDeprecation"
        },
        {
          "target": "com.amazonaws.ec2#EnableSerialConsoleAccess"
        },
        {
          "target": "com.amazonaws.ec2#EnableTransitGatewayRouteTablePropagation"
        },
        {
          "target": "com.amazonaws.ec2#EnableVgwRoutePropagation"
        },
        {
          "target": "com.amazonaws.ec2#EnableVolumeIO"
        },
        {
          "target": "com.amazonaws.ec2#EnableVpcClassicLink"
        },
        {
          "target": "com.amazonaws.ec2#EnableVpcClassicLinkDnsSupport"
        },
        {
          "target": "com.amazonaws.ec2#ExportClientVpnClientCertificateRevocationList"
        },
        {
          "target": "com.amazonaws.ec2#ExportClientVpnClientConfiguration"
        },
        {
          "target": "com.amazonaws.ec2#ExportImage"
        },
        {
          "target": "com.amazonaws.ec2#ExportTransitGatewayRoutes"
        },
        {
          "target": "com.amazonaws.ec2#GetAssociatedEnclaveCertificateIamRoles"
        },
        {
          "target": "com.amazonaws.ec2#GetAssociatedIpv6PoolCidrs"
        },
        {
          "target": "com.amazonaws.ec2#GetCapacityReservationUsage"
        },
        {
          "target": "com.amazonaws.ec2#GetCoipPoolUsage"
        },
        {
          "target": "com.amazonaws.ec2#GetConsoleOutput"
        },
        {
          "target": "com.amazonaws.ec2#GetConsoleScreenshot"
        },
        {
          "target": "com.amazonaws.ec2#GetDefaultCreditSpecification"
        },
        {
          "target": "com.amazonaws.ec2#GetEbsDefaultKmsKeyId"
        },
        {
          "target": "com.amazonaws.ec2#GetEbsEncryptionByDefault"
        },
        {
          "target": "com.amazonaws.ec2#GetFlowLogsIntegrationTemplate"
        },
        {
          "target": "com.amazonaws.ec2#GetGroupsForCapacityReservation"
        },
        {
          "target": "com.amazonaws.ec2#GetHostReservationPurchasePreview"
        },
        {
          "target": "com.amazonaws.ec2#GetLaunchTemplateData"
        },
        {
          "target": "com.amazonaws.ec2#GetManagedPrefixListAssociations"
        },
        {
          "target": "com.amazonaws.ec2#GetManagedPrefixListEntries"
        },
        {
          "target": "com.amazonaws.ec2#GetPasswordData"
        },
        {
          "target": "com.amazonaws.ec2#GetReservedInstancesExchangeQuote"
        },
        {
          "target": "com.amazonaws.ec2#GetSerialConsoleAccessStatus"
        },
        {
          "target": "com.amazonaws.ec2#GetSubnetCidrReservations"
        },
        {
          "target": "com.amazonaws.ec2#GetTransitGatewayAttachmentPropagations"
        },
        {
          "target": "com.amazonaws.ec2#GetTransitGatewayMulticastDomainAssociations"
        },
        {
          "target": "com.amazonaws.ec2#GetTransitGatewayPrefixListReferences"
        },
        {
          "target": "com.amazonaws.ec2#GetTransitGatewayRouteTableAssociations"
        },
        {
          "target": "com.amazonaws.ec2#GetTransitGatewayRouteTablePropagations"
        },
        {
          "target": "com.amazonaws.ec2#ImportClientVpnClientCertificateRevocationList"
        },
        {
          "target": "com.amazonaws.ec2#ImportImage"
        },
        {
          "target": "com.amazonaws.ec2#ImportInstance"
        },
        {
          "target": "com.amazonaws.ec2#ImportKeyPair"
        },
        {
          "target": "com.amazonaws.ec2#ImportSnapshot"
        },
        {
          "target": "com.amazonaws.ec2#ImportVolume"
        },
        {
          "target": "com.amazonaws.ec2#ModifyAddressAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyAvailabilityZoneGroup"
        },
        {
          "target": "com.amazonaws.ec2#ModifyCapacityReservation"
        },
        {
          "target": "com.amazonaws.ec2#ModifyClientVpnEndpoint"
        },
        {
          "target": "com.amazonaws.ec2#ModifyDefaultCreditSpecification"
        },
        {
          "target": "com.amazonaws.ec2#ModifyEbsDefaultKmsKeyId"
        },
        {
          "target": "com.amazonaws.ec2#ModifyFleet"
        },
        {
          "target": "com.amazonaws.ec2#ModifyFpgaImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyHosts"
        },
        {
          "target": "com.amazonaws.ec2#ModifyIdentityIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#ModifyIdFormat"
        },
        {
          "target": "com.amazonaws.ec2#ModifyImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceCapacityReservationAttributes"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceCreditSpecification"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceEventStartTime"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceEventWindow"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstanceMetadataOptions"
        },
        {
          "target": "com.amazonaws.ec2#ModifyInstancePlacement"
        },
        {
          "target": "com.amazonaws.ec2#ModifyLaunchTemplate"
        },
        {
          "target": "com.amazonaws.ec2#ModifyManagedPrefixList"
        },
        {
          "target": "com.amazonaws.ec2#ModifyNetworkInterfaceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyReservedInstances"
        },
        {
          "target": "com.amazonaws.ec2#ModifySecurityGroupRules"
        },
        {
          "target": "com.amazonaws.ec2#ModifySnapshotAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifySpotFleetRequest"
        },
        {
          "target": "com.amazonaws.ec2#ModifySubnetAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyTrafficMirrorFilterNetworkServices"
        },
        {
          "target": "com.amazonaws.ec2#ModifyTrafficMirrorFilterRule"
        },
        {
          "target": "com.amazonaws.ec2#ModifyTrafficMirrorSession"
        },
        {
          "target": "com.amazonaws.ec2#ModifyTransitGateway"
        },
        {
          "target": "com.amazonaws.ec2#ModifyTransitGatewayPrefixListReference"
        },
        {
          "target": "com.amazonaws.ec2#ModifyTransitGatewayVpcAttachment"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVolume"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVolumeAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcEndpoint"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcEndpointConnectionNotification"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcEndpointServiceConfiguration"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcEndpointServicePermissions"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcPeeringConnectionOptions"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpcTenancy"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpnConnection"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpnConnectionOptions"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpnTunnelCertificate"
        },
        {
          "target": "com.amazonaws.ec2#ModifyVpnTunnelOptions"
        },
        {
          "target": "com.amazonaws.ec2#MonitorInstances"
        },
        {
          "target": "com.amazonaws.ec2#MoveAddressToVpc"
        },
        {
          "target": "com.amazonaws.ec2#ProvisionByoipCidr"
        },
        {
          "target": "com.amazonaws.ec2#PurchaseHostReservation"
        },
        {
          "target": "com.amazonaws.ec2#PurchaseReservedInstancesOffering"
        },
        {
          "target": "com.amazonaws.ec2#PurchaseScheduledInstances"
        },
        {
          "target": "com.amazonaws.ec2#RebootInstances"
        },
        {
          "target": "com.amazonaws.ec2#RegisterImage"
        },
        {
          "target": "com.amazonaws.ec2#RegisterInstanceEventNotificationAttributes"
        },
        {
          "target": "com.amazonaws.ec2#RegisterTransitGatewayMulticastGroupMembers"
        },
        {
          "target": "com.amazonaws.ec2#RegisterTransitGatewayMulticastGroupSources"
        },
        {
          "target": "com.amazonaws.ec2#RejectTransitGatewayMulticastDomainAssociations"
        },
        {
          "target": "com.amazonaws.ec2#RejectTransitGatewayPeeringAttachment"
        },
        {
          "target": "com.amazonaws.ec2#RejectTransitGatewayVpcAttachment"
        },
        {
          "target": "com.amazonaws.ec2#RejectVpcEndpointConnections"
        },
        {
          "target": "com.amazonaws.ec2#RejectVpcPeeringConnection"
        },
        {
          "target": "com.amazonaws.ec2#ReleaseAddress"
        },
        {
          "target": "com.amazonaws.ec2#ReleaseHosts"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceIamInstanceProfileAssociation"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceNetworkAclAssociation"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceNetworkAclEntry"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceRoute"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceRouteTableAssociation"
        },
        {
          "target": "com.amazonaws.ec2#ReplaceTransitGatewayRoute"
        },
        {
          "target": "com.amazonaws.ec2#ReportInstanceStatus"
        },
        {
          "target": "com.amazonaws.ec2#RequestSpotFleet"
        },
        {
          "target": "com.amazonaws.ec2#RequestSpotInstances"
        },
        {
          "target": "com.amazonaws.ec2#ResetAddressAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ResetEbsDefaultKmsKeyId"
        },
        {
          "target": "com.amazonaws.ec2#ResetFpgaImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ResetImageAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ResetInstanceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ResetNetworkInterfaceAttribute"
        },
        {
          "target": "com.amazonaws.ec2#ResetSnapshotAttribute"
        },
        {
          "target": "com.amazonaws.ec2#RestoreAddressToClassic"
        },
        {
          "target": "com.amazonaws.ec2#RestoreManagedPrefixListVersion"
        },
        {
          "target": "com.amazonaws.ec2#RevokeClientVpnIngress"
        },
        {
          "target": "com.amazonaws.ec2#RevokeSecurityGroupEgress"
        },
        {
          "target": "com.amazonaws.ec2#RevokeSecurityGroupIngress"
        },
        {
          "target": "com.amazonaws.ec2#RunInstances"
        },
        {
          "target": "com.amazonaws.ec2#RunScheduledInstances"
        },
        {
          "target": "com.amazonaws.ec2#SearchLocalGatewayRoutes"
        },
        {
          "target": "com.amazonaws.ec2#SearchTransitGatewayMulticastGroups"
        },
        {
          "target": "com.amazonaws.ec2#SearchTransitGatewayRoutes"
        },
        {
          "target": "com.amazonaws.ec2#SendDiagnosticInterrupt"
        },
        {
          "target": "com.amazonaws.ec2#StartInstances"
        },
        {
          "target": "com.amazonaws.ec2#StartNetworkInsightsAnalysis"
        },
        {
          "target": "com.amazonaws.ec2#StartVpcEndpointServicePrivateDnsVerification"
        },
        {
          "target": "com.amazonaws.ec2#StopInstances"
        },
        {
          "target": "com.amazonaws.ec2#TerminateClientVpnConnections"
        },
        {
          "target": "com.amazonaws.ec2#TerminateInstances"
        },
        {
          "target": "com.amazonaws.ec2#UnassignIpv6Addresses"
        },
        {
          "target": "com.amazonaws.ec2#UnassignPrivateIpAddresses"
        },
        {
          "target": "com.amazonaws.ec2#UnmonitorInstances"
        },
        {
          "target": "com.amazonaws.ec2#UpdateSecurityGroupRuleDescriptionsEgress"
        },
        {
          "target": "com.amazonaws.ec2#UpdateSecurityGroupRuleDescriptionsIngress"
        },
        {
          "target": "com.amazonaws.ec2#WithdrawByoipCidr"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EC2",
          "arnNamespace": "ec2",
          "cloudFormationName": "EC2",
          "cloudTrailEventSource": "ec2.amazonaws.com",
          "endpointPrefix": "ec2"
        },
        "aws.auth#sigv4": {
          "name": "ec2"
        },
        "aws.protocols#ec2Query": {},
        "smithy.api#documentation": "<fullname>Amazon Elastic Compute Cloud</fullname>\n         <p>Amazon Elastic Compute Cloud (Amazon EC2) provides secure and resizable computing capacity in the AWS Cloud. \n          Using Amazon EC2 eliminates the need to invest in hardware up front, so you can develop and deploy applications \n          faster. Amazon Virtual Private Cloud (Amazon VPC) enables you to provision a logically isolated section of the \n          AWS Cloud where you can launch AWS resources in a virtual network that you've defined. Amazon Elastic Block Store \n          (Amazon EBS) provides block level storage volumes for use with EC2 instances. EBS volumes are highly available  \n          and reliable storage volumes that can be attached to any running instance and used like a hard drive.</p>\n         <p>To learn more, see the following resources:</p>\n         <ul>\n            <li>\n               <p>Amazon EC2: <a href=\"http://aws.amazon.com/ec2\">AmazonEC2 product page</a>, <a href=\"http://aws.amazon.com/documentation/ec2\">Amazon EC2 documentation</a>\n               </p>\n            </li>\n            <li>\n               <p>Amazon EBS: <a href=\"http://aws.amazon.com/ebs\">Amazon EBS product page</a>, <a href=\"http://aws.amazon.com/documentation/ebs\">Amazon EBS documentation</a>\n               </p>\n            </li>\n            <li>\n               <p>Amazon VPC: <a href=\"http://aws.amazon.com/vpc\">Amazon VPC product page</a>, <a href=\"http://aws.amazon.com/documentation/vpc\">Amazon VPC documentation</a>\n               </p>\n            </li>\n            <li>\n               <p>AWS VPN: <a href=\"http://aws.amazon.com/vpn\">AWS VPN product page</a>, <a href=\"http://aws.amazon.com/documentation/vpn\">AWS VPN documentation</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon Elastic Compute Cloud",
        "smithy.api#xmlNamespace": {
          "uri": "http://ec2.amazonaws.com/doc/2016-11-15"
        }
      }
    },
    "com.amazonaws.ec2#AnalysisAclRule": {
      "type": "structure",
      "members": {
        "Cidr": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Cidr",
            "smithy.api#documentation": "<p>The IPv4 address range, in CIDR notation.</p>",
            "smithy.api#xmlName": "cidr"
          }
        },
        "Egress": {
          "target": "com.amazonaws.ec2#Boolean",
          "traits": {
            "aws.protocols#ec2QueryName": "Egress",
            "smithy.api#documentation": "<p>Indicates whether the rule is an outbound rule.</p>",
            "smithy.api#xmlName": "egress"
          }
        },
        "PortRange": {
          "target": "com.amazonaws.ec2#PortRange",
          "traits": {
            "aws.protocols#ec2QueryName": "PortRange",
            "smithy.api#documentation": "<p>The range of ports.</p>",
            "smithy.api#xmlName": "portRange"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Protocol",
            "smithy.api#documentation": "<p>The protocol.</p>",
            "smithy.api#xmlName": "protocol"
          }
        },
        "RuleAction": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "RuleAction",
            "smithy.api#documentation": "<p>Indicates whether to allow or deny traffic that matches the rule.</p>",
            "smithy.api#xmlName": "ruleAction"
          }
        },
        "RuleNumber": {
          "target": "com.amazonaws.ec2#Integer",
          "traits": {
            "aws.protocols#ec2QueryName": "RuleNumber",
            "smithy.api#documentation": "<p>The rule number.</p>",
            "smithy.api#xmlName": "ruleNumber"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a network access control (ACL) rule.</p>"
      }
    },
    "com.amazonaws.ec2#AnalysisComponent": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Id",
            "smithy.api#documentation": "<p>The ID of the component.</p>",
            "smithy.api#xmlName": "id"
          }
        },
        "Arn": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Arn",
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
            "smithy.api#xmlName": "arn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a path component.</p>"
      }
    },
    "com.amazonaws.ec2#AnalysisComponentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ec2#AnalysisComponent",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ec2#AnalysisLoadBalancerListener": {
      "type": "structure",
      "members": {
        "LoadBalancerPort": {
          "target": "com.amazonaws.ec2#Port",
          "traits": {
            "aws.protocols#ec2QueryName": "LoadBalancerPort",
            "smithy.api#documentation": "<p>The port on which the load balancer is listening.</p>",
            "smithy.api#xmlName": "loadBalancerPort"
          }
        },
        "InstancePort": {
          "target": "com.amazonaws.ec2#Port",
          "traits": {
            "aws.protocols#ec2QueryName": "InstancePort",
            "smithy.api#documentation": "<p>[Classic Load Balancers] The back-end port for the listener.</p>",
            "smithy.api#xmlName": "instancePort"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a load balancer listener.</p>"
      }
    },
    "com.amazonaws.ec2#AnalysisLoadBalancerTarget": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "com.amazonaws.ec2#IpAddress",
          "traits": {
            "aws.protocols#ec2QueryName": "Address",
            "smithy.api#documentation": "<p>The IP address.</p>",
            "smithy.api#xmlName": "address"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "AvailabilityZone",
            "smithy.api#documentation": "<p>The Availability Zone.</p>",
            "smithy.api#xmlName": "availabilityZone"
          }
        },
        "Instance": {
          "target": "com.amazonaws.ec2#AnalysisComponent",
          "traits": {
            "aws.protocols#ec2QueryName": "Instance",
            "smithy.api#documentation": "<p>Information about the instance.</p>",
            "smithy.api#xmlName": "instance"
          }
        },
        "Port": {
          "target": "com.amazonaws.ec2#Port",
          "traits": {
            "aws.protocols#ec2QueryName": "Port",
            "smithy.api#documentation": "<p>The port on which the target is listening.</p>",
            "smithy.api#xmlName": "port"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a load balancer target.</p>"
      }
    },
    "com.amazonaws.ec2#AnalysisPacketHeader": {
      "type": "structure",
      "members": {
        "DestinationAddresses": {
          "target": "com.amazonaws.ec2#IpAddressList",
          "traits": {
            "aws.protocols#ec2QueryName": "DestinationAddressSet",
            "smithy.api#documentation": "<p>The destination addresses.</p>",
            "smithy.api#xmlName": "destinationAddressSet"
          }
        },
        "DestinationPortRanges": {
          "target": "com.amazonaws.ec2#PortRangeList",
          "traits": {
            "aws.protocols#ec2QueryName": "DestinationPortRangeSet",
            "smithy.api#documentation": "<p>The destination port ranges.</p>",
            "smithy.api#xmlName": "destinationPortRangeSet"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "Protocol",
            "smithy.api#documentation": "<p>The protocol.</p>",
            "smithy.api#xmlName": "protocol"
          }
        },
        "SourceAddresses": {
          "target": "com.amazonaws.ec2#IpAddressList",
          "traits": {
            "aws.protocols#ec2QueryName": "SourceAddressSet",
            "smithy.api#documentation": "<p>The source addresses.</p>",
            "smithy.api#xmlName": "sourceAddressSet"
          }
        },
        "SourcePortRanges": {
          "target": "com.amazonaws.ec2#PortRangeList",
          "traits": {
            "aws.protocols#ec2QueryName": "SourcePortRangeSet",
            "smithy.api#documentation": "<p>The source port ranges.</p>",
            "smithy.api#xmlName": "sourcePortRangeSet"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a header. Reflects any changes made by a component as traffic passes through.\n         The fields of an inbound header are null except for the first component of a path.</p>"
      }
    },
    "com.amazonaws.ec2#AnalysisRouteTableRoute": {
      "type": "structure",
      "members": {
        "DestinationCidr": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "DestinationCidr",
            "smithy.api#documentation": "<p>The destination IPv4 address, in CIDR notation.</p>",
            "smithy.api#xmlName": "destinationCidr"
          }
        },
        "DestinationPrefixListId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
            "aws.protocols#ec2QueryName": "DestinationPrefixListId",
            "smithy.api#documentation": "<p>The prefix of the Amazon Web Service.</p>",
            "smithy.api#xmlName": "destinationPrefixListId"
          }
        },
        "EgressOnlyInternetGatewayId": {
          "target": "com.amazonaws.ec2#String",
          "traits": {
[...]
