{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ecs#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have authorization to perform the requested action.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#AgentUpdateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "STAGING",
            "name": "STAGING"
          },
          {
            "value": "STAGED",
            "name": "STAGED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "UPDATED",
            "name": "UPDATED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.ecs#AmazonEC2ContainerServiceV20141113": {
      "type": "service",
      "version": "2014-11-13",
      "operations": [
        {
          "target": "com.amazonaws.ecs#CreateCapacityProvider"
        },
        {
          "target": "com.amazonaws.ecs#CreateCluster"
        },
        {
          "target": "com.amazonaws.ecs#CreateService"
        },
        {
          "target": "com.amazonaws.ecs#CreateTaskSet"
        },
        {
          "target": "com.amazonaws.ecs#DeleteAccountSetting"
        },
        {
          "target": "com.amazonaws.ecs#DeleteAttributes"
        },
        {
          "target": "com.amazonaws.ecs#DeleteCluster"
        },
        {
          "target": "com.amazonaws.ecs#DeleteService"
        },
        {
          "target": "com.amazonaws.ecs#DeleteTaskSet"
        },
        {
          "target": "com.amazonaws.ecs#DeregisterContainerInstance"
        },
        {
          "target": "com.amazonaws.ecs#DeregisterTaskDefinition"
        },
        {
          "target": "com.amazonaws.ecs#DescribeCapacityProviders"
        },
        {
          "target": "com.amazonaws.ecs#DescribeClusters"
        },
        {
          "target": "com.amazonaws.ecs#DescribeContainerInstances"
        },
        {
          "target": "com.amazonaws.ecs#DescribeServices"
        },
        {
          "target": "com.amazonaws.ecs#DescribeTaskDefinition"
        },
        {
          "target": "com.amazonaws.ecs#DescribeTasks"
        },
        {
          "target": "com.amazonaws.ecs#DescribeTaskSets"
        },
        {
          "target": "com.amazonaws.ecs#DiscoverPollEndpoint"
        },
        {
          "target": "com.amazonaws.ecs#ListAccountSettings"
        },
        {
          "target": "com.amazonaws.ecs#ListAttributes"
        },
        {
          "target": "com.amazonaws.ecs#ListClusters"
        },
        {
          "target": "com.amazonaws.ecs#ListContainerInstances"
        },
        {
          "target": "com.amazonaws.ecs#ListServices"
        },
        {
          "target": "com.amazonaws.ecs#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.ecs#ListTaskDefinitionFamilies"
        },
        {
          "target": "com.amazonaws.ecs#ListTaskDefinitions"
        },
        {
          "target": "com.amazonaws.ecs#ListTasks"
        },
        {
          "target": "com.amazonaws.ecs#PutAccountSetting"
        },
        {
          "target": "com.amazonaws.ecs#PutAccountSettingDefault"
        },
        {
          "target": "com.amazonaws.ecs#PutAttributes"
        },
        {
          "target": "com.amazonaws.ecs#PutClusterCapacityProviders"
        },
        {
          "target": "com.amazonaws.ecs#RegisterContainerInstance"
        },
        {
          "target": "com.amazonaws.ecs#RegisterTaskDefinition"
        },
        {
          "target": "com.amazonaws.ecs#RunTask"
        },
        {
          "target": "com.amazonaws.ecs#StartTask"
        },
        {
          "target": "com.amazonaws.ecs#StopTask"
        },
        {
          "target": "com.amazonaws.ecs#SubmitAttachmentStateChanges"
        },
        {
          "target": "com.amazonaws.ecs#SubmitContainerStateChange"
        },
        {
          "target": "com.amazonaws.ecs#SubmitTaskStateChange"
        },
        {
          "target": "com.amazonaws.ecs#TagResource"
        },
        {
          "target": "com.amazonaws.ecs#UntagResource"
        },
        {
          "target": "com.amazonaws.ecs#UpdateClusterSettings"
        },
        {
          "target": "com.amazonaws.ecs#UpdateContainerAgent"
        },
        {
          "target": "com.amazonaws.ecs#UpdateContainerInstancesState"
        },
        {
          "target": "com.amazonaws.ecs#UpdateService"
        },
        {
          "target": "com.amazonaws.ecs#UpdateServicePrimaryTaskSet"
        },
        {
          "target": "com.amazonaws.ecs#UpdateTaskSet"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ECS",
          "arnNamespace": "ecs",
          "cloudFormationName": "ECS",
          "cloudTrailEventSource": "frontend.madison.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "ecs"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Amazon Elastic Container Service</fullname>\n        <p>Amazon Elastic Container Service (Amazon ECS) is a highly scalable, fast, container management service that makes\n            it easy to run, stop, and manage Docker containers on a cluster. You can host your\n            cluster on a serverless infrastructure that is managed by Amazon ECS by launching your\n            services or tasks using the Fargate launch type. For more control, you can host your\n            tasks on a cluster of Amazon Elastic Compute Cloud (Amazon EC2) instances that you manage by using the EC2\n            launch type. For more information about launch types, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/launch_types.html\">Amazon ECS Launch\n            Types</a>.</p>\n        <p>Amazon ECS lets you launch and stop container-based applications with simple API calls,\n            allows you to get the state of your cluster from a centralized service, and gives you\n            access to many familiar Amazon EC2 features.</p>\n        <p>You can use Amazon ECS to schedule the placement of containers across your cluster based on\n            your resource needs, isolation policies, and availability requirements. Amazon ECS eliminates\n            the need for you to operate your own cluster management and configuration management\n            systems or worry about scaling your management infrastructure.</p>",
        "smithy.api#title": "Amazon EC2 Container Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://ecs.amazonaws.com/doc/2014-11-13/"
        }
      }
    },
    "com.amazonaws.ecs#AssignPublicIp": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.ecs#Attachment": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.amazonaws.ecs#AttachmentDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details of the attachment. For elastic network interfaces, this includes the network\n            interface ID, the MAC address, the subnet ID, and the private IPv4 address.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the attachment.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> The status of the attachment. Valid values are <code>PRECREATED</code>,\n                <code>CREATED</code>, <code>ATTACHING</code>, <code>ATTACHED</code>,\n                <code>DETACHING</code>, <code>DETACHED</code>, and <code>DELETED</code>.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the attachment, such as <code>ElasticNetworkInterface</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a container instance or task attachment.</p>"
      }
    },
    "com.amazonaws.ecs#AttachmentDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#KeyValuePair"
      }
    },
    "com.amazonaws.ecs#AttachmentStateChange": {
      "type": "structure",
      "members": {
        "attachmentArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the attachment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a change in state for a task attachment.</p>"
      }
    },
    "com.amazonaws.ecs#AttachmentStateChanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#AttachmentStateChange"
      }
    },
    "com.amazonaws.ecs#Attachments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Attachment"
      }
    },
    "com.amazonaws.ecs#Attribute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute. Up to 128 letters (uppercase and lowercase), numbers,\n            hyphens, underscores, and periods are allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "targetId": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the target. You can specify the short form ID for a resource or the full\n            Amazon Resource Name (ARN).</p>"
          }
        },
        "targetType": {
          "target": "com.amazonaws.ecs#TargetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the target with which to attach the attribute. This parameter is required\n            if you use the short form ID for a resource instead of the full ARN.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute. Up to 128 letters (uppercase and lowercase), numbers,\n            hyphens, underscores, periods, at signs (@), forward slashes, colons, and spaces are\n            allowed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute is a name-value pair associated with an Amazon ECS object. Attributes enable\n            you to extend the Amazon ECS data model by adding custom metadata to your resources. For more\n            information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-placement-constraints.html#attributes\">Attributes</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.ecs#AttributeLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can apply up to 10 custom attributes per resource. You can view the attributes of\n            a resource with <a>ListAttributes</a>. You can remove existing attributes on\n            a resource with <a>DeleteAttributes</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#Attributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Attribute"
      }
    },
    "com.amazonaws.ecs#AutoScalingGroupProvider": {
      "type": "structure",
      "members": {
        "autoScalingGroupArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "managedScaling": {
          "target": "com.amazonaws.ecs#ManagedScaling",
          "traits": {
            "smithy.api#documentation": "<p>The managed scaling settings for the Auto Scaling group capacity provider.</p>"
          }
        },
        "managedTerminationProtection": {
          "target": "com.amazonaws.ecs#ManagedTerminationProtection",
          "traits": {
            "smithy.api#documentation": "<p>The managed termination protection setting to use for the Auto Scaling group capacity\n            provider. This determines whether the Auto Scaling group has managed termination\n            protection.</p>\n        <important>\n            <p>When using managed termination protection, managed scaling must also be used\n                otherwise managed termination protection will not work.</p>\n        </important>\n        <p>When managed termination protection is enabled, Amazon ECS prevents the Amazon EC2 instances in\n            an Auto Scaling group that contain tasks from being terminated during a scale-in action.\n            The Auto Scaling group and each instance in the Auto Scaling group must have instance\n            protection from scale-in actions enabled as well. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection\">Instance Protection</a> in the <i>AWS Auto Scaling User Guide</i>.</p>\n        <p>When managed termination protection is disabled, your Amazon EC2 instances are not\n            protected from termination when the Auto Scaling group scales in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the Auto Scaling group for the capacity provider.</p>"
      }
    },
    "com.amazonaws.ecs#AwsVpcConfiguration": {
      "type": "structure",
      "members": {
        "assignPublicIp": {
          "target": "com.amazonaws.ecs#AssignPublicIp",
          "traits": {
            "smithy.api#documentation": "<p>Whether the task's elastic network interface receives a public IP address. The default\n            value is <code>DISABLED</code>.</p>"
          }
        },
        "securityGroups": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The security groups associated with the task or service. If you do not specify a\n            security group, the default security group for the VPC is used. There is a limit of 5\n            security groups that can be specified per <code>AwsVpcConfiguration</code>.</p>\n        \n        <note>\n            <p>All specified security groups must be from the same VPC.</p>\n        </note>"
          }
        },
        "subnets": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The subnets associated with the task or service. There is a limit of 16 subnets that\n            can be specified per <code>AwsVpcConfiguration</code>.</p>\n        \n        <note>\n            <p>All specified subnets must be from the same VPC.</p>\n        </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the networking details for a task or service.</p>"
      }
    },
    "com.amazonaws.ecs#BlockedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your AWS account has been blocked. For more information, contact <a href=\"http://aws.amazon.com/contact-us/\">AWS Support</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.ecs#BoxedBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.ecs#BoxedInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.ecs#CapacityProvider": {
      "type": "structure",
      "members": {
        "autoScalingGroupProvider": {
          "target": "com.amazonaws.ecs#AutoScalingGroupProvider",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group settings for the capacity provider.</p>"
          }
        },
        "capacityProviderArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the capacity provider.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the capacity provider.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#CapacityProviderStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the capacity provider. Only capacity providers in an\n                <code>ACTIVE</code> state can be used in a cluster.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ecs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that you apply to the capacity provider to help you categorize and\n            organize it. Each tag consists of a key and an optional value, both of which you\n            define.</p> \n         <p>The following basic restrictions apply to tags:</p>\n        <ul>\n            <li>\n                <p>Maximum number of tags per resource - 50</p>\n            </li>\n            <li>\n                <p>For each resource, each tag key must be unique, and each tag key can have only\n                    one value.</p>\n            </li>\n            <li>\n                <p>Maximum key length - 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>Maximum value length - 256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>If your tagging schema is used across multiple services and resources,\n                    remember that other services may have restrictions on allowed characters.\n                    Generally allowed characters are: letters, numbers, and spaces representable in\n                    UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n                <p>Tag keys and values are case-sensitive.</p>\n            </li>\n            <li>\n                <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase\n                    combination of such as a prefix for either keys or values as it is reserved for\n                    AWS use. You cannot edit or delete tag keys or values with this prefix. Tags with\n                    this prefix do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a capacity provider.</p>"
      }
    },
    "com.amazonaws.ecs#CapacityProviderField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TAGS",
            "name": "TAGS"
          }
        ]
      }
    },
    "com.amazonaws.ecs#CapacityProviderFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#CapacityProviderField"
      }
    },
    "com.amazonaws.ecs#CapacityProviderStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategy": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#CapacityProviderStrategyItem"
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategyItem": {
      "type": "structure",
      "members": {
        "base": {
          "target": "com.amazonaws.ecs#CapacityProviderStrategyItemBase",
          "traits": {
            "smithy.api#documentation": "<p>The <i>base</i> value designates how many tasks, at a minimum, to run on\n            the specified capacity provider. Only one capacity provider in a capacity provider\n            strategy can have a <i>base</i> defined.</p>"
          }
        },
        "capacityProvider": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The short name or full Amazon Resource Name (ARN) of the capacity provider.</p>",
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "com.amazonaws.ecs#CapacityProviderStrategyItemWeight",
          "traits": {
            "smithy.api#documentation": "<p>The <i>weight</i> value designates the relative percentage of the total\n            number of tasks launched that should use the specified capacity provider.</p>\n        <p>For example, if you have a strategy that contains two capacity providers and both have\n            a weight of <code>1</code>, then when the <code>base</code> is satisfied, the tasks will\n            be split evenly across the two capacity providers. Using that same logic, if you specify\n            a weight of <code>1</code> for <i>capacityProviderA</i> and a weight of\n                <code>4</code> for <i>capacityProviderB</i>, then for every one task\n            that is run using <i>capacityProviderA</i>, four tasks would use\n                <i>capacityProviderB</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a capacity provider strategy.</p>"
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategyItemBase": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 100000
        }
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategyItemWeight": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.ecs#CapacityProviders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#CapacityProvider"
      }
    },
    "com.amazonaws.ecs#ClientException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action, such as using an action or\n            resource on behalf of a user that doesn't have permissions to use the action or\n            resource, or specifying an identifier that is not valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#Cluster": {
      "type": "structure",
      "members": {
        "activeServicesCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of services that are running on the cluster in an <code>ACTIVE</code>\n            state. You can view these services with <a>ListServices</a>.</p>"
          }
        },
        "attachments": {
          "target": "com.amazonaws.ecs#Attachments",
          "traits": {
            "smithy.api#documentation": "<p>The resources attached to a cluster. When using a capacity provider with a cluster,\n            the Auto Scaling plan that is created will be returned as a cluster attachment.</p>"
          }
        },
        "attachmentsStatus": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the capacity providers associated with the cluster. The following are\n            the states that will be returned:</p>\n        <dl>\n            <dt>UPDATE_IN_PROGRESS</dt>\n            <dd>\n                    <p>The available capacity providers for the cluster are updating. This occurs\n                        when the Auto Scaling plan is provisioning or deprovisioning.</p>\n                </dd>\n            <dt>UPDATE_COMPLETE</dt>\n            <dd>\n                    <p>The capacity providers have successfully updated.</p>\n                </dd>\n            <dt>UPDATE_FAILED</dt>\n            <dd>\n                    <p>The capacity provider updates failed.</p>\n                </dd>\n         </dl>"
          }
        },
        "capacityProviders": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The capacity providers associated with the cluster.</p>"
          }
        },
        "clusterArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the cluster. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the Region of the cluster, the AWS account ID of the cluster owner, the <code>cluster</code> namespace, and then the cluster name. For example, <code>arn:aws:ecs:region:012345678910:cluster/test</code>.</p>"
          }
        },
        "clusterName": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-generated string that you use to identify your cluster.</p>"
          }
        },
        "defaultCapacityProviderStrategy": {
          "target": "com.amazonaws.ecs#CapacityProviderStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The default capacity provider strategy for the cluster. When services or tasks are run\n            in the cluster with no launch type or capacity provider strategy specified, the default\n            capacity provider strategy is used.</p>"
          }
        },
        "pendingTasksCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of tasks in the cluster that are in the <code>PENDING</code> state.</p>"
          }
        },
        "registeredContainerInstancesCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of container instances registered into the cluster. This includes container\n            instances in both <code>ACTIVE</code> and <code>DRAINING</code> status.</p>"
          }
        },
        "runningTasksCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of tasks in the cluster that are in the <code>RUNNING</code> state.</p>"
          }
        },
        "settings": {
          "target": "com.amazonaws.ecs#ClusterSettings",
          "traits": {
            "smithy.api#documentation": "<p>The settings for the cluster. This parameter indicates whether CloudWatch Container Insights\n            is enabled or disabled for a cluster.</p>"
          }
        },
        "statistics": {
          "target": "com.amazonaws.ecs#Statistics",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about your clusters that are separated by launch type,\n            including:</p>\n        <ul>\n            <li>\n                <p>runningEC2TasksCount</p>\n            </li>\n            <li>\n                <p>RunningFargateTasksCount</p>\n            </li>\n            <li>\n                <p>pendingEC2TasksCount</p>\n            </li>\n            <li>\n                <p>pendingFargateTasksCount</p>\n            </li>\n            <li>\n                <p>activeEC2ServiceCount</p>\n            </li>\n            <li>\n                <p>activeFargateServiceCount</p>\n            </li>\n            <li>\n                <p>drainingEC2ServiceCount</p>\n            </li>\n            <li>\n                <p>drainingFargateServiceCount</p>\n            </li>\n         </ul>"
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the cluster. The following are the possible states that will be\n            returned.</p>\n        <dl>\n            <dt>ACTIVE</dt>\n            <dd>\n                    <p>The cluster is ready to accept tasks and if applicable you can register\n                        container instances with the cluster.</p>\n                </dd>\n            <dt>PROVISIONING</dt>\n            <dd>\n                    <p>The cluster has capacity providers associated with it and the resources\n                        needed for the capacity provider are being created.</p>\n                </dd>\n            <dt>DEPROVISIONING</dt>\n            <dd>\n                    <p>The cluster has capacity providers associated with it and the resources\n                        needed for the capacity provider are being deleted.</p>\n                </dd>\n            <dt>FAILED</dt>\n            <dd>\n                    <p>The cluster has capacity providers associated with it and the resources\n                        needed for the capacity provider have failed to create.</p>\n                </dd>\n            <dt>INACTIVE</dt>\n            <dd>\n                    <p>The cluster has been deleted. Clusters with an <code>INACTIVE</code>\n                        status may remain discoverable in your account for a period of time.\n                        However, this behavior is subject to change in the future, so you should not\n                        rely on <code>INACTIVE</code> clusters persisting.</p>\n                </dd>\n         </dl>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ecs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that you apply to the cluster to help you categorize and organize them.\n            Each tag consists of a key and an optional value, both of which you define.</p>\n        <p>The following basic restrictions apply to tags:</p>\n        <ul>\n            <li>\n                <p>Maximum number of tags per resource - 50</p>\n            </li>\n            <li>\n                <p>For each resource, each tag key must be unique, and each tag key can have only\n                    one value.</p>\n            </li>\n            <li>\n                <p>Maximum key length - 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>Maximum value length - 256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>If your tagging schema is used across multiple services and resources,\n                    remember that other services may have restrictions on allowed characters.\n                    Generally allowed characters are: letters, numbers, and spaces representable in\n                    UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n                <p>Tag keys and values are case-sensitive.</p>\n            </li>\n            <li>\n                <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase\n                    combination of such as a prefix for either keys or values as it is reserved for\n                    AWS use. You cannot edit or delete tag keys or values with this prefix. Tags with\n                    this prefix do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A regional grouping of one or more container instances on which you can run task\n            requests. Each account receives a default cluster the first time you use the Amazon ECS\n            service, but you may also create other clusters. Clusters may contain more than one\n            instance type simultaneously.</p>"
      }
    },
    "com.amazonaws.ecs#ClusterContainsContainerInstancesException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You cannot delete a cluster that has registered container instances. First, deregister\n            the container instances before you can delete the cluster. For more information, see\n                <a>DeregisterContainerInstance</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterContainsServicesException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You cannot delete a cluster that contains services. First, update the service to\n            reduce its desired task count to 0 and then delete the service. For more information,\n            see <a>UpdateService</a> and <a>DeleteService</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterContainsTasksException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You cannot delete a cluster that has active tasks.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ATTACHMENTS",
            "name": "ATTACHMENTS"
          },
          {
            "value": "SETTINGS",
            "name": "SETTINGS"
          },
          {
            "value": "STATISTICS",
            "name": "STATISTICS"
          },
          {
            "value": "TAGS",
            "name": "TAGS"
          }
        ]
      }
    },
    "com.amazonaws.ecs#ClusterFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#ClusterField"
      }
    },
    "com.amazonaws.ecs#ClusterNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified cluster could not be found. You can view your available clusters with\n                <a>ListClusters</a>. Amazon ECS clusters are Region-specific.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterSetting": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ecs#ClusterSettingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster setting. The only supported value is\n                <code>containerInsights</code>.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The value to set for the cluster setting. The supported values are\n                <code>enabled</code> and <code>disabled</code>. If <code>enabled</code> is\n            specified, CloudWatch Container Insights will be enabled for the cluster, otherwise it will be\n            disabled unless the <code>containerInsights</code> account setting is enabled. If a\n            cluster value is specified, it will override the <code>containerInsights</code> value\n            set with <a>PutAccountSetting</a> or <a>PutAccountSettingDefault</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings to use when creating a cluster. This parameter is used to enable CloudWatch\n            Container Insights for a cluster.</p>"
      }
    },
    "com.amazonaws.ecs#ClusterSettingName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "containerInsights",
            "name": "CONTAINER_INSIGHTS"
          }
        ]
      }
    },
    "com.amazonaws.ecs#ClusterSettings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#ClusterSetting"
      }
    },
    "com.amazonaws.ecs#Clusters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Cluster"
      }
    },
    "com.amazonaws.ecs#Compatibility": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EC2",
            "name": "EC2"
          },
          {
            "value": "FARGATE",
            "name": "FARGATE"
          }
        ]
      }
    },
    "com.amazonaws.ecs#CompatibilityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Compatibility"
      }
    },
    "com.amazonaws.ecs#Connectivity": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CONNECTED",
            "name": "CONNECTED"
          },
          {
            "value": "DISCONNECTED",
            "name": "DISCONNECTED"
          }
        ]
      }
    },
    "com.amazonaws.ecs#Container": {
      "type": "structure",
      "members": {
        "containerArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container.</p>"
          }
        },
        "cpu": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The number of CPU units set for the container. The value will be <code>0</code> if no\n            value was specified in the container definition when the task definition was\n            registered.</p>"
          }
        },
        "exitCode": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>The exit code returned from the container.</p>"
          }
        },
        "gpuIds": {
          "target": "com.amazonaws.ecs#GpuIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of each GPU assigned to the container.</p>"
          }
        },
        "healthStatus": {
          "target": "com.amazonaws.ecs#HealthStatus",
          "traits": {
            "smithy.api#documentation": "<p>The health status of the container. If health checks are not configured for this\n            container in its task definition, then it reports the health status as\n                <code>UNKNOWN</code>.</p>"
          }
        },
        "image": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The image used for the container.</p>"
          }
        },
        "imageDigest": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The container image manifest digest.</p>\n        <note>\n            <p>The <code>imageDigest</code> is only returned if the container is using an image\n                hosted in Amazon ECR, otherwise it is omitted.</p>\n        </note>"
          }
        },
        "lastStatus": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The last known status of the container.</p>"
          }
        },
        "memory": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The hard limit (in MiB) of memory set for the container.</p>"
          }
        },
        "memoryReservation": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The soft limit (in MiB) of memory set for the container.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the container.</p>"
          }
        },
        "networkBindings": {
          "target": "com.amazonaws.ecs#NetworkBindings",
          "traits": {
            "smithy.api#documentation": "<p>The network bindings associated with the container.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.ecs#NetworkInterfaces",
          "traits": {
            "smithy.api#documentation": "<p>The network interfaces associated with the container.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details about\n            a running or stopped container.</p>"
          }
        },
        "runtimeId": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Docker container.</p>"
          }
        },
        "taskArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Docker container that is part of a task.</p>"
      }
    },
    "com.amazonaws.ecs#ContainerCondition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "START",
            "name": "START"
          },
          {
            "value": "COMPLETE",
            "name": "COMPLETE"
          },
          {
            "value": "SUCCESS",
            "name": "SUCCESS"
          },
          {
            "value": "HEALTHY",
            "name": "HEALTHY"
          }
        ]
      }
    },
    "com.amazonaws.ecs#ContainerDefinition": {
      "type": "structure",
      "members": {
        "command": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command that is passed to the container. This parameter maps to <code>Cmd</code>\n            in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>COMMAND</code> parameter to <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n                run</a>. For more information, see <a href=\"https://docs.docker.com/engine/reference/builder/#cmd\">https://docs.docker.com/engine/reference/builder/#cmd</a>. If there are multiple arguments, each\n            argument should be a separated string in the array.</p>"
          }
        },
        "cpu": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of <code>cpu</code> units reserved for the container. This parameter maps\n            to <code>CpuShares</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--cpu-shares</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n        <p>This field is optional for tasks using the Fargate launch type, and the\n            only requirement is that the total amount of CPU reserved for all containers within a\n            task be lower than the task-level <code>cpu</code> value.</p>\n        <note>\n            <p>You can determine the number of CPU units that are available per EC2 instance type\n                by multiplying the vCPUs listed for that instance type on the <a href=\"http://aws.amazon.com/ec2/instance-types/\">Amazon EC2 Instances</a> detail page\n                by 1,024.</p>\n        </note>\n        <p>Linux containers share unallocated CPU units with other containers on the container\n            instance with the same ratio as their allocated amount. For example, if you run a\n            single-container task on a single-core instance type with 512 CPU units specified for\n            that container, and that is the only task running on the container instance, that\n            container could use the full 1,024 CPU unit share at any given time. However, if you\n            launched another copy of the same task on that container instance, each task would be\n            guaranteed a minimum of 512 CPU units when needed, and each container could float to\n            higher CPU usage if the other container was not using it, but if both tasks were 100%\n            active all of the time, they would be limited to 512 CPU units.</p>\n        <p>On Linux container instances, the Docker daemon on the container instance uses the CPU\n            value to calculate the relative CPU share ratios for running containers. For more\n            information, see <a href=\"https://docs.docker.com/engine/reference/run/#cpu-share-constraint\">CPU share\n                constraint</a> in the Docker documentation. The minimum valid CPU share value\n            that the Linux kernel allows is 2. However, the CPU parameter is not required, and you\n            can use CPU values below 2 in your container definitions. For CPU values below 2\n            (including null), the behavior varies based on your Amazon ECS container agent\n            version:</p>\n        <ul>\n            <li>\n                <p>\n                    <b>Agent versions less than or equal to 1.1.0:</b>\n                    Null and zero CPU values are passed to Docker as 0, which Docker then converts\n                    to 1,024 CPU shares. CPU values of 1 are passed to Docker as 1, which the Linux\n                    kernel converts to two CPU shares.</p>\n            </li>\n            <li>\n                <p>\n                    <b>Agent versions greater than or equal to 1.2.0:</b>\n                    Null, zero, and CPU values of 1 are passed to Docker as 2.</p>\n            </li>\n         </ul>\n        <p>On Windows container instances, the CPU limit is enforced as an absolute limit, or a\n            quota. Windows containers only have access to the specified amount of CPU that is\n            described in the task definition.</p>"
          }
        },
        "dependsOn": {
          "target": "com.amazonaws.ecs#ContainerDependencies",
          "traits": {
            "smithy.api#documentation": "<p>The dependencies defined for container startup and shutdown. A container can contain\n            multiple dependencies. When a dependency is defined for container startup, for container\n            shutdown it is reversed.</p>\n        <p>For tasks using the EC2 launch type, the container instances require at\n            least version 1.26.0 of the container agent to enable container dependencies. However,\n            we recommend using the latest container agent version. For information about checking\n            your agent version and updating to the latest version, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-update.html\">Updating the Amazon ECS\n                Container Agent</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. If you are\n            using an Amazon ECS-optimized Linux AMI, your instance needs at least version 1.26.0-1 of the\n                <code>ecs-init</code> package. If your container instances are launched from version\n                <code>20190301</code> or later, then they contain the required versions of the\n            container agent and <code>ecs-init</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html\">Amazon ECS-optimized Linux AMI</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n        <p>For tasks using the Fargate launch type, the task or service requires\n            platform version <code>1.3.0</code> or later.</p>"
          }
        },
        "disableNetworking": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, networking is disabled within the container. This\n            parameter maps to <code>NetworkDisabled</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a>\n            section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a>.</p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "dnsSearchDomains": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of DNS search domains that are presented to the container. This parameter maps\n            to <code>DnsSearch</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--dns-search</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "dnsServers": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of DNS servers that are presented to the container. This parameter maps to\n                <code>Dns</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--dns</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "dockerLabels": {
          "target": "com.amazonaws.ecs#DockerLabelsMap",
          "traits": {
            "smithy.api#documentation": "<p>A key/value map of labels to add to the container. This parameter maps to\n                <code>Labels</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--label</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log in to your container instance and run the following command: <code>sudo docker version --format '{{.Server.APIVersion}}'</code> \n         </p>"
          }
        },
        "dockerSecurityOptions": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of strings to provide custom labels for SELinux and AppArmor multi-level\n            security systems. This field is not valid for containers in tasks using the\n            Fargate launch type.</p>\n        <p>With Windows containers, this parameter can be used to reference a credential spec\n            file when configuring a container for Active Directory authentication. For more\n            information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/windows-gmsa.html\">Using gMSAs for Windows\n                Containers</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n        <p>This parameter maps to <code>SecurityOpt</code> in the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>--security-opt</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n                run</a>.</p>\n        <note>\n            <p>The Amazon ECS container agent running on a container instance must register with the\n                    <code>ECS_SELINUX_CAPABLE=true</code> or <code>ECS_APPARMOR_CAPABLE=true</code>\n                environment variables before containers placed on that instance can use these\n                security options. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon ECS Container\n                    Agent Configuration</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n        </note>"
          }
        },
        "entryPoint": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<important>\n            <p>Early versions of the Amazon ECS container agent do not properly handle\n                    <code>entryPoint</code> parameters. If you have problems using\n                    <code>entryPoint</code>, update your container agent or enter your commands and\n                arguments as <code>command</code> array items instead.</p>\n        </important>\n        <p>The entry point that is passed to the container. This parameter maps to\n                <code>Entrypoint</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--entrypoint</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. For more information, see <a href=\"https://docs.docker.com/engine/reference/builder/#entrypoint\">https://docs.docker.com/engine/reference/builder/#entrypoint</a>.</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.ecs#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to pass to a container. This parameter maps to\n                <code>Env</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--env</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n        <important>\n            <p>We do not recommend using plaintext environment variables for sensitive\n                information, such as credential data.</p>\n        </important>"
          }
        },
        "essential": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>essential</code> parameter of a container is marked as <code>true</code>,\n            and that container fails or stops for any reason, all other containers that are part of\n            the task are stopped. If the <code>essential</code> parameter of a container is marked\n            as <code>false</code>, then its failure does not affect the rest of the containers in a\n            task. If this parameter is omitted, a container is assumed to be essential.</p>\n        <p>All tasks must have at least one essential container. If you have an application that\n            is composed of multiple containers, you should group containers that are used for a\n            common purpose into components, and separate the different components into multiple task\n            definitions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/application_architecture.html\">Application\n                Architecture</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "extraHosts": {
          "target": "com.amazonaws.ecs#HostEntryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of hostnames and IP address mappings to append to the <code>/etc/hosts</code>\n            file on the container. This parameter maps to <code>ExtraHosts</code> in the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>--add-host</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n                run</a>.</p>\n        <note>\n            <p>This parameter is not supported for Windows containers or tasks that use the\n                    <code>awsvpc</code> network mode.</p>\n        </note>"
          }
        },
        "firelensConfiguration": {
          "target": "com.amazonaws.ecs#FirelensConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The FireLens configuration for the container. This is used to specify and configure a\n            log router for container logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/using_firelens.html\">Custom Log Routing</a>\n            in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "healthCheck": {
          "target": "com.amazonaws.ecs#HealthCheck",
          "traits": {
            "smithy.api#documentation": "<p>The health check command and associated configuration parameters for the container.\n            This parameter maps to <code>HealthCheck</code> in the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>HEALTHCHECK</code> parameter of <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n                run</a>.</p>"
          }
        },
        "hostname": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The hostname to use for your container. This parameter maps to <code>Hostname</code>\n            in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>--hostname</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n                run</a>.</p>\n        <note>\n            <p>The <code>hostname</code> parameter is not supported if you are using the\n                    <code>awsvpc</code> network mode.</p>\n        </note>"
          }
        },
        "image": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The image used to start a container. This string is passed directly to the Docker\n            daemon. Images in the Docker Hub registry are available by default. Other repositories\n            are specified with either <code>\n                <i>repository-url</i>/<i>image</i>:<i>tag</i>\n            </code> or <code>\n                <i>repository-url</i>/<i>image</i>@<i>digest</i>\n            </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n                run</a>.</p>\n        <ul>\n            <li>\n                <p>When a new task starts, the Amazon ECS container agent pulls the latest version of\n                    the specified image and tag for the container to use. However, subsequent\n                    updates to a repository image are not propagated to already running\n                    tasks.</p>\n            </li>\n            <li>\n                <p>Images in Amazon ECR repositories can be specified by either using the full\n                        <code>registry/repository:tag</code> or\n                        <code>registry/repository@digest</code>. For example,\n                        <code>012345678910.dkr.ecr.<region-name>.amazonaws.com/<repository-name>:latest</code>\n                    or\n                        <code>012345678910.dkr.ecr.<region-name>.amazonaws.com/<repository-name>@sha256:94afd1f2e64d908bc90dbca0035a5b567EXAMPLE</code>.\n                </p>\n            </li>\n            <li>\n                <p>Images in official repositories on Docker Hub use a single name (for example,\n                        <code>ubuntu</code> or <code>mongo</code>).</p>\n            </li>\n            <li>\n                <p>Images in other repositories on Docker Hub are qualified with an organization\n                    name (for example, <code>amazon/amazon-ecs-agent</code>).</p>\n            </li>\n            <li>\n                <p>Images in other online repositories are qualified further by a domain name\n                    (for example, <code>quay.io/assemblyline/ubuntu</code>).</p>\n            </li>\n         </ul>"
          }
        },
        "interactive": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is <code>true</code>, this allows you to deploy containerized\n            applications that require <code>stdin</code> or a <code>tty</code> to be allocated. This\n            parameter maps to <code>OpenStdin</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a>\n            section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--interactive</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        },
        "links": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The <code>links</code> parameter allows containers to communicate with each other\n            without the need for port mappings. This parameter is only supported if the network mode\n            of a task definition is <code>bridge</code>. The <code>name:internalName</code>\n            construct is analogous to <code>name:alias</code> in Docker links.\n            Up to 255 letters (uppercase and lowercase), numbers, and hyphens are allowed. For more information about linking Docker containers, go to\n                <a href=\"https://docs.docker.com/network/links/\">Legacy container links</a>\n            in the Docker documentation. This parameter maps to <code>Links</code> in the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>--link</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n            run</a>.</p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note> \n         <important>\n            <p>Containers that are collocated on a single container instance may be able to\n                communicate with each other without requiring links or host port mappings. Network\n                isolation is achieved on the container instance using security groups and VPC\n                settings.</p>\n        </important>"
          }
        },
        "linuxParameters": {
          "target": "com.amazonaws.ecs#LinuxParameters",
          "traits": {
            "smithy.api#documentation": "<p>Linux-specific modifications that are applied to the container, such as Linux kernel\n            capabilities. For more information see <a>KernelCapabilities</a>.</p>\n        <note>\n            <p>This parameter is not supported for Windows containers.</p>\n        </note>"
          }
        },
        "logConfiguration": {
          "target": "com.amazonaws.ecs#LogConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The log configuration specification for the container.</p>\n        <p>This parameter maps to <code>LogConfig</code> in the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>--log-driver</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n                run</a>. By default, containers use the same logging driver that the Docker\n            daemon uses. However the container may use a different logging driver than the Docker\n            daemon by specifying a log driver with this parameter in the container definition. To\n            use a different logging driver for a container, the log system must be configured\n            properly on the container instance (or on a different log server for remote logging\n            options). For more information on the options for different supported log drivers, see\n                <a href=\"https://docs.docker.com/engine/admin/logging/overview/\">Configure\n                logging drivers</a> in the Docker documentation.</p>\n        <note>\n            <p>Amazon ECS currently supports a subset of the logging drivers available to the Docker\n                daemon (shown in the <a>LogConfiguration</a> data type). Additional log\n                drivers may be available in future releases of the Amazon ECS container agent.</p>\n        </note>\n        <p>This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log in to your container instance and run the following command: <code>sudo docker version --format '{{.Server.APIVersion}}'</code> \n         </p>\n        <note>\n            <p>The Amazon ECS container agent running on a container instance must register the\n                logging drivers available on that instance with the\n                    <code>ECS_AVAILABLE_LOGGING_DRIVERS</code> environment variable before\n                containers placed on that instance can use these log configuration options. For more\n                information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon ECS Container\n                    Agent Configuration</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n        </note>"
          }
        },
        "memory": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>The amount (in MiB) of memory to present to the container. If your container attempts\n            to exceed the memory specified here, the container is killed. The total amount of memory\n            reserved for all containers within a task must be lower than the task\n                <code>memory</code> value, if one is specified. This parameter maps to\n                <code>Memory</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n        <p>If using the Fargate launch type, this parameter is optional.</p>\n        <p>If using the EC2 launch type, you must specify either a task-level\n            memory value or a container-level memory value. If you specify both a container-level\n                <code>memory</code> and <code>memoryReservation</code> value, <code>memory</code>\n            must be greater than <code>memoryReservation</code>. If you specify\n                <code>memoryReservation</code>, then that value is subtracted from the available\n            memory resources for the container instance on which the container is placed. Otherwise,\n            the value of <code>memory</code> is used.</p>\n        <p>The Docker daemon reserves a minimum of 4 MiB of memory for a container, so you should\n            not specify fewer than 4 MiB of memory for your containers.</p>"
          }
        },
        "memoryReservation": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>The soft limit (in MiB) of memory to reserve for the container. When system memory is\n            under heavy contention, Docker attempts to keep the container memory to this soft limit.\n            However, your container can consume more memory when it needs to, up to either the hard\n            limit specified with the <code>memory</code> parameter (if applicable), or all of the\n            available memory on the container instance, whichever comes first. This parameter maps\n            to <code>MemoryReservation</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of\n            the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--memory-reservation</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n        <p>If a task-level memory value is not specified, you must specify a non-zero integer for\n            one or both of <code>memory</code> or <code>memoryReservation</code> in a container\n            definition. If you specify both, <code>memory</code> must be greater than\n                <code>memoryReservation</code>. If you specify <code>memoryReservation</code>, then\n            that value is subtracted from the available memory resources for the container instance\n            on which the container is placed. Otherwise, the value of <code>memory</code> is\n            used.</p>\n        <p>For example, if your container normally uses 128 MiB of memory, but occasionally\n            bursts to 256 MiB of memory for short periods of time, you can set a\n                <code>memoryReservation</code> of 128 MiB, and a <code>memory</code> hard limit of\n            300 MiB. This configuration would allow the container to only reserve 128 MiB of memory\n            from the remaining resources on the container instance, but also allow the container to\n            consume more memory resources when needed.</p>\n        <p>The Docker daemon reserves a minimum of 4 MiB of memory for a container, so you should\n            not specify fewer than 4 MiB of memory for your containers. </p>"
          }
        },
        "mountPoints": {
          "target": "com.amazonaws.ecs#MountPointList",
          "traits": {
            "smithy.api#documentation": "<p>The mount points for data volumes in your container.</p>\n        <p>This parameter maps to <code>Volumes</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a>\n            section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--volume</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n        <p>Windows containers can mount whole directories on the same drive as\n                <code>$env:ProgramData</code>. Windows containers cannot mount directories on a\n            different drive, and mount point cannot be across drives.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a container. If you are linking multiple containers together in a task\n            definition, the <code>name</code> of one container can be entered in the\n                <code>links</code> of another container to connect the containers.\n            Up to 255 letters (uppercase and lowercase), numbers, and hyphens are allowed. This parameter maps to <code>name</code> in the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>--name</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n            run</a>. </p>"
          }
        },
        "portMappings": {
          "target": "com.amazonaws.ecs#PortMappingList",
          "traits": {
            "smithy.api#documentation": "<p>The list of port mappings for the container. Port mappings allow containers to access\n            ports on the host container instance to send or receive traffic.</p>\n        <p>For task definitions that use the <code>awsvpc</code> network mode, you should only\n            specify the <code>containerPort</code>. The <code>hostPort</code> can be left blank or\n            it must be the same value as the <code>containerPort</code>.</p>\n        <p>Port mappings on Windows use the <code>NetNAT</code> gateway address rather than\n                <code>localhost</code>. There is no loopback for port mappings on Windows, so you\n            cannot access a container's mapped port from the host itself. </p>\n        <p>This parameter maps to <code>PortBindings</code> in the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>--publish</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n                run</a>. If the network mode of a task definition is set to <code>none</code>,\n            then you can't specify port mappings. If the network mode of a task definition is set to\n                <code>host</code>, then host ports must either be undefined or they must match the\n            container port in the port mapping.</p>\n        <note>\n            <p>After a task reaches the <code>RUNNING</code> status, manual and automatic host\n                and container port assignments are visible in the <b>Network\n                    Bindings</b> section of a container description for a selected task in\n                the Amazon ECS console. The assignments are also visible in the\n                    <code>networkBindings</code> section <a>DescribeTasks</a>\n                responses.</p>\n        </note>"
          }
        },
        "privileged": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given elevated privileges on the host\n            container instance (similar to the <code>root</code> user). This parameter maps to\n                <code>Privileged</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--privileged</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p> \n         <note>\n                                <p>This parameter is not supported for Windows containers or tasks using the Fargate launch type.</p>\n                             </note>"
          }
        },
        "pseudoTerminal": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is <code>true</code>, a TTY is allocated. This parameter maps to\n                <code>Tty</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--tty</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        },
        "readonlyRootFilesystem": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given read-only access to its root file\n            system. This parameter maps to <code>ReadonlyRootfs</code> in the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>--read-only</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n                run</a>.</p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "repositoryCredentials": {
          "target": "com.amazonaws.ecs#RepositoryCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The private repository authentication credentials to use.</p>"
          }
        },
        "resourceRequirements": {
          "target": "com.amazonaws.ecs#ResourceRequirements",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container. The only supported\n            resource is a GPU.</p>"
          }
        },
        "secrets": {
          "target": "com.amazonaws.ecs#SecretList",
          "traits": {
            "smithy.api#documentation": "<p>The secrets to pass to the container. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/specifying-sensitive-data.html\">Specifying\n                Sensitive Data</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "startTimeout": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>Time duration (in seconds) to wait before giving up on resolving dependencies for a\n            container. For example, you specify two containers in a task definition with containerA\n            having a dependency on containerB reaching a <code>COMPLETE</code>,\n            <code>SUCCESS</code>, or <code>HEALTHY</code> status. If a <code>startTimeout</code>\n            value is specified for containerB and it does not reach the desired status within that\n            time then containerA will give up and not start. This results in the task transitioning\n            to a <code>STOPPED</code> state.</p>\n        <p>For tasks using the EC2 launch type, the container instances require at\n            least version 1.26.0 of the container agent to enable a container start timeout value.\n            However, we recommend using the latest container agent version. For information about\n            checking your agent version and updating to the latest version, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-update.html\">Updating the Amazon ECS Container Agent</a> in the\n                <i>Amazon Elastic Container Service Developer Guide</i>. If you are using an Amazon ECS-optimized Linux AMI, your\n            instance needs at least version 1.26.0-1 of the <code>ecs-init</code> package. If your\n            container instances are launched from version <code>20190301</code> or later, then they\n            contain the required versions of the container agent and <code>ecs-init</code>. For more\n            information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html\">Amazon ECS-optimized Linux AMI</a>\n            in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n        <p>For tasks using the Fargate launch type, the task or service requires\n            platform version <code>1.3.0</code> or later.</p>"
          }
        },
        "stopTimeout": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>Time duration (in seconds) to wait before the container is forcefully killed if it\n            doesn't exit normally on its own.</p>\n        <p>For tasks using the Fargate launch type, the max\n                <code>stopTimeout</code> value is 2 minutes and the task or service requires\n            platform version <code>1.3.0</code> or later.</p>\n        <p>For tasks using the EC2 launch type, the stop timeout value for the\n            container takes precedence over the <code>ECS_CONTAINER_STOP_TIMEOUT</code> container\n            agent configuration parameter, if used. Container instances require at least version\n            1.26.0 of the container agent to enable a container stop timeout value. However, we\n            recommend using the latest container agent version. For information about checking your\n            agent version and updating to the latest version, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-update.html\">Updating the Amazon ECS\n                Container Agent</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. If you are\n            using an Amazon ECS-optimized Linux AMI, your instance needs at least version 1.26.0-1 of the\n                <code>ecs-init</code> package. If your container instances are launched from version\n                <code>20190301</code> or later, then they contain the required versions of the\n            container agent and <code>ecs-init</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html\">Amazon ECS-optimized Linux AMI</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "systemControls": {
          "target": "com.amazonaws.ecs#SystemControls",
          "traits": {
            "smithy.api#documentation": "<p>A list of namespaced kernel parameters to set in the container. This parameter maps to\n                <code>Sysctls</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--sysctl</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n        <note>\n            <p>It is not recommended that you specify network-related <code>systemControls</code>\n                parameters for multiple containers in a single task that also uses either the\n                    <code>awsvpc</code> or <code>host</code> network modes. For tasks that use the\n                    <code>awsvpc</code> network mode, the container that is started last determines\n                which <code>systemControls</code> parameters take effect. For tasks that use the\n                    <code>host</code> network mode, it changes the container instance's namespaced\n                kernel parameters as well as the containers.</p>\n        </note>"
          }
        },
        "ulimits": {
          "target": "com.amazonaws.ecs#UlimitList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>ulimits</code> to set in the container. This parameter maps to\n                <code>Ulimits</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--ulimit</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. Valid naming values are displayed\n            in the <a>Ulimit</a> data type. This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log in to your container instance and run the following command: <code>sudo docker version --format '{{.Server.APIVersion}}'</code> \n         </p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "user": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name to use inside the container. This parameter maps to <code>User</code> in\n            the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n                <code>--user</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n            run</a>.</p>\n        <p>You can use the following formats. If specifying a UID or GID, you must specify it as\n            a positive integer.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>user</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>user:group</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>uid</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>uid:gid</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>user:gid</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>uid:group</code>\n               </p>\n            </li>\n         </ul> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "volumesFrom": {
          "target": "com.amazonaws.ecs#VolumeFromList",
          "traits": {
            "smithy.api#documentation": "<p>Data volumes to mount from another container. This parameter maps to\n                <code>VolumesFrom</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--volumes-from</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        },
        "workingDirectory": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The working directory in which to run commands inside the container. This parameter\n            maps to <code>WorkingDir</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n            <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--workdir</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container definitions are used in task definitions to describe the different\n            containers that are launched as part of a task.</p>"
      }
    },
    "com.amazonaws.ecs#ContainerDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#ContainerDefinition"
      }
    },
    "com.amazonaws.ecs#ContainerDependencies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#ContainerDependency"
      }
    },
    "com.amazonaws.ecs#ContainerDependency": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.amazonaws.ecs#ContainerCondition",
          "traits": {
            "smithy.api#documentation": "<p>The dependency condition of the container. The following are the available conditions\n            and their behavior:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>START</code> - This condition emulates the behavior of links and\n                    volumes today. It validates that a dependent container is started before\n                    permitting other containers to start.</p>\n            </li>\n            <li>\n                <p>\n                  <code>COMPLETE</code> - This condition validates that a dependent\n                    container runs to completion (exits) before permitting other containers to\n                    start. This can be useful for nonessential containers that run a script and then\n                    exit.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SUCCESS</code> - This condition is the same as\n                        <code>COMPLETE</code>, but it also requires that the container exits with a\n                        <code>zero</code> status.</p>\n            </li>\n            <li>\n                <p>\n                  <code>HEALTHY</code> - This condition validates that the dependent\n                    container passes its Docker health check before permitting other containers to\n                    start. This requires that the dependent container has health checks configured.\n                    This condition is confirmed only at task startup.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "containerName": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a container.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The dependencies defined for container startup and shutdown. A container can contain\n            multiple dependencies. When a dependency is defined for container startup, for container\n            shutdown it is reversed.</p>\n        <p>Your Amazon ECS container instances require at least version 1.26.0 of the container agent\n            to enable container dependencies. However, we recommend using the latest container agent\n            version. For information about checking your agent version and updating to the latest\n            version, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-update.html\">Updating the Amazon ECS\n                Container Agent</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. If you are\n            using an Amazon ECS-optimized Linux AMI, your instance needs at least version 1.26.0-1 of the\n                <code>ecs-init</code> package. If your container instances are launched from version\n                <code>20190301</code> or later, then they contain the required versions of the\n            container agent and <code>ecs-init</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html\">Amazon ECS-optimized Linux AMI</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n        <note>\n            <p>For tasks using the Fargate launch type, this parameter requires\n                that the task or service uses platform version 1.3.0 or later.</p>\n        </note>"
      }
    },
    "com.amazonaws.ecs#ContainerInstance": {
      "type": "structure",
      "members": {
        "agentConnected": {
          "target": "com.amazonaws.ecs#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>This parameter returns <code>true</code> if the agent is connected to Amazon ECS.\n            Registered instances with an agent that may be unhealthy or stopped return\n                <code>false</code>. Only instances connected to an agent can accept placement\n            requests.</p>"
          }
        },
        "agentUpdateStatus": {
          "target": "com.amazonaws.ecs#AgentUpdateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the most recent agent update. If an update has never been requested,\n            this value is <code>NULL</code>.</p>"
          }
        },
        "attachments": {
          "target": "com.amazonaws.ecs#Attachments",
          "traits": {
            "smithy.api#documentation": "<p>The resources attached to a container instance, such as elastic network\n            interfaces.</p>"
          }
        },
        "attributes": {
          "target": "com.amazonaws.ecs#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes set for the container instance, either by the Amazon ECS container agent at\n            instance registration or manually with the <a>PutAttributes</a>\n            operation.</p>"
          }
        },
        "capacityProviderName": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The capacity provider associated with the container instance.</p>"
          }
        },
        "containerInstanceArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container instance. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the Region of the container instance, the AWS account ID of the container instance owner, the <code>container-instance</code> namespace, and then the container instance ID. For example, <code>arn:aws:ecs:region:aws_account_id:container-instance/container_instance_ID</code>.</p>"
          }
        },
        "ec2InstanceId": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 instance ID of the container instance.</p>"
          }
        },
        "pendingTasksCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of tasks on the container instance that are in the <code>PENDING</code>\n            status.</p>"
          }
        },
        "registeredAt": {
          "target": "com.amazonaws.ecs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp for when the container instance was registered.</p>"
          }
        },
        "registeredResources": {
          "target": "com.amazonaws.ecs#Resources",
          "traits": {
            "smithy.api#documentation": "<p>For CPU and memory resource types, this parameter describes the amount of each\n            resource that was available on the container instance when the container agent\n            registered it with Amazon ECS. This value represents the total amount of CPU and memory that\n            can be allocated on this container instance to tasks. For port resource types, this\n            parameter describes the ports that were reserved by the Amazon ECS container agent when it\n            registered the container instance with Amazon ECS.</p>"
          }
        },
        "remainingResources": {
          "target": "com.amazonaws.ecs#Resources",
          "traits": {
            "smithy.api#documentation": "<p>For CPU and memory resource types, this parameter describes the remaining CPU and\n            memory that has not already been allocated to tasks and is therefore available for new\n            tasks. For port resource types, this parameter describes the ports that were reserved by\n            the Amazon ECS container agent (at instance registration time) and any task containers that\n            have reserved port mappings on the host (with the <code>host</code> or\n                <code>bridge</code> network mode). Any port that is not specified here is available\n            for new tasks.</p>"
          }
        },
        "runningTasksCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of tasks on the container instance that are in the <code>RUNNING</code>\n            status.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
[...]
