{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ecs#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> Message that describes the cause of the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have authorization to perform the requested action.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#AgentUpdateStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGING"
          }
        },
        "STAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.ecs#AmazonEC2ContainerServiceV20141113": {
      "type": "service",
      "version": "2014-11-13",
      "operations": [
        {
          "target": "com.amazonaws.ecs#CreateCapacityProvider"
        },
        {
          "target": "com.amazonaws.ecs#CreateCluster"
        },
        {
          "target": "com.amazonaws.ecs#CreateService"
        },
        {
          "target": "com.amazonaws.ecs#CreateTaskSet"
        },
        {
          "target": "com.amazonaws.ecs#DeleteAccountSetting"
        },
        {
          "target": "com.amazonaws.ecs#DeleteAttributes"
        },
        {
          "target": "com.amazonaws.ecs#DeleteCapacityProvider"
        },
        {
          "target": "com.amazonaws.ecs#DeleteCluster"
        },
        {
          "target": "com.amazonaws.ecs#DeleteService"
        },
        {
          "target": "com.amazonaws.ecs#DeleteTaskDefinitions"
        },
        {
          "target": "com.amazonaws.ecs#DeleteTaskSet"
        },
        {
          "target": "com.amazonaws.ecs#DeregisterContainerInstance"
        },
        {
          "target": "com.amazonaws.ecs#DeregisterTaskDefinition"
        },
        {
          "target": "com.amazonaws.ecs#DescribeCapacityProviders"
        },
        {
          "target": "com.amazonaws.ecs#DescribeClusters"
        },
        {
          "target": "com.amazonaws.ecs#DescribeContainerInstances"
        },
        {
          "target": "com.amazonaws.ecs#DescribeServiceDeployments"
        },
        {
          "target": "com.amazonaws.ecs#DescribeServiceRevisions"
        },
        {
          "target": "com.amazonaws.ecs#DescribeServices"
        },
        {
          "target": "com.amazonaws.ecs#DescribeTaskDefinition"
        },
        {
          "target": "com.amazonaws.ecs#DescribeTasks"
        },
        {
          "target": "com.amazonaws.ecs#DescribeTaskSets"
        },
        {
          "target": "com.amazonaws.ecs#DiscoverPollEndpoint"
        },
        {
          "target": "com.amazonaws.ecs#ExecuteCommand"
        },
        {
          "target": "com.amazonaws.ecs#GetTaskProtection"
        },
        {
          "target": "com.amazonaws.ecs#ListAccountSettings"
        },
        {
          "target": "com.amazonaws.ecs#ListAttributes"
        },
        {
          "target": "com.amazonaws.ecs#ListClusters"
        },
        {
          "target": "com.amazonaws.ecs#ListContainerInstances"
        },
        {
          "target": "com.amazonaws.ecs#ListServiceDeployments"
        },
        {
          "target": "com.amazonaws.ecs#ListServices"
        },
        {
          "target": "com.amazonaws.ecs#ListServicesByNamespace"
        },
        {
          "target": "com.amazonaws.ecs#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.ecs#ListTaskDefinitionFamilies"
        },
        {
          "target": "com.amazonaws.ecs#ListTaskDefinitions"
        },
        {
          "target": "com.amazonaws.ecs#ListTasks"
        },
        {
          "target": "com.amazonaws.ecs#PutAccountSetting"
        },
        {
          "target": "com.amazonaws.ecs#PutAccountSettingDefault"
        },
        {
          "target": "com.amazonaws.ecs#PutAttributes"
        },
        {
          "target": "com.amazonaws.ecs#PutClusterCapacityProviders"
        },
        {
          "target": "com.amazonaws.ecs#RegisterContainerInstance"
        },
        {
          "target": "com.amazonaws.ecs#RegisterTaskDefinition"
        },
        {
          "target": "com.amazonaws.ecs#RunTask"
        },
        {
          "target": "com.amazonaws.ecs#StartTask"
        },
        {
          "target": "com.amazonaws.ecs#StopTask"
        },
        {
          "target": "com.amazonaws.ecs#SubmitAttachmentStateChanges"
        },
        {
          "target": "com.amazonaws.ecs#SubmitContainerStateChange"
        },
        {
          "target": "com.amazonaws.ecs#SubmitTaskStateChange"
        },
        {
          "target": "com.amazonaws.ecs#TagResource"
        },
        {
          "target": "com.amazonaws.ecs#UntagResource"
        },
        {
          "target": "com.amazonaws.ecs#UpdateCapacityProvider"
        },
        {
          "target": "com.amazonaws.ecs#UpdateCluster"
        },
        {
          "target": "com.amazonaws.ecs#UpdateClusterSettings"
        },
        {
          "target": "com.amazonaws.ecs#UpdateContainerAgent"
        },
        {
          "target": "com.amazonaws.ecs#UpdateContainerInstancesState"
        },
        {
          "target": "com.amazonaws.ecs#UpdateService"
        },
        {
          "target": "com.amazonaws.ecs#UpdateServicePrimaryTaskSet"
        },
        {
          "target": "com.amazonaws.ecs#UpdateTaskProtection"
        },
        {
          "target": "com.amazonaws.ecs#UpdateTaskSet"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ECS",
          "arnNamespace": "ecs",
          "cloudFormationName": "ECS",
          "cloudTrailEventSource": "ecs.amazonaws.com",
          "endpointPrefix": "ecs"
        },
        "aws.auth#sigv4": {
          "name": "ecs"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Amazon Elastic Container Service</fullname>\n         <p>Amazon Elastic Container Service (Amazon ECS) is a highly scalable, fast, container management service. It makes it easy to run,\n\t\t\tstop, and manage Docker containers. You can host your cluster on a serverless infrastructure that's\n\t\t\tmanaged by Amazon ECS by launching your services or tasks on Fargate. For more control, you can host your\n\t\t\ttasks on a cluster of Amazon Elastic Compute Cloud (Amazon EC2) or External (on-premises) instances that you manage.</p>\n         <p>Amazon ECS makes it easy to launch and stop container-based applications with simple API calls. This makes\n\t\t\tit easy to get the state of your cluster from a centralized service, and gives you access to many\n\t\t\tfamiliar Amazon EC2 features.</p>\n         <p>You can use Amazon ECS to schedule the placement of containers across your cluster based on your resource\n\t\t\tneeds, isolation policies, and availability requirements. With Amazon ECS, you don't need to operate your\n\t\t\town cluster management and configuration management systems. You also don't need to worry about scaling\n\t\t\tyour management infrastructure. </p>",
        "smithy.api#title": "Amazon EC2 Container Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://ecs.amazonaws.com/doc/2014-11-13/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ecs-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ecs-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ecs.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://ecs.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ecs-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.ecs#ApplicationProtocol": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "HTTP2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http2"
          }
        },
        "GRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grpc"
          }
        }
      }
    },
    "com.amazonaws.ecs#AssignPublicIp": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.ecs#Attachment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the attachment.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the attachment, such as <code>ElasticNetworkInterface</code>,\n\t\t\t\t<code>Service Connect</code>, and <code>AmazonElasticBlockStorage</code>.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> The status of the attachment. Valid values are <code>PRECREATED</code>, <code>CREATED</code>,\n\t\t\t\t<code>ATTACHING</code>, <code>ATTACHED</code>, <code>DETACHING</code>, <code>DETACHED</code>,\n\t\t\t\t<code>DELETED</code>, and <code>FAILED</code>.</p>"
          }
        },
        "details": {
          "target": "com.amazonaws.ecs#AttachmentDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details of the attachment.</p>\n         <p>For elastic network interfaces, this includes the network interface ID, the MAC address, the subnet\n\t\t\tID, and the private IPv4 address.</p>\n         <p>For Service Connect services, this includes <code>portName</code>, <code>clientAliases</code>,\n\t\t\t\t<code>discoveryName</code>, and <code>ingressPortOverride</code>.</p>\n         <p>For Elastic Block Storage, this includes <code>roleArn</code>, <code>deleteOnTermination</code>,\n\t\t\t\t<code>volumeName</code>, <code>volumeId</code>, and <code>statusReason</code> (only when the\n\t\t\tattachment fails to create or attach).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a container instance or task attachment.</p>"
      }
    },
    "com.amazonaws.ecs#AttachmentDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#KeyValuePair"
      }
    },
    "com.amazonaws.ecs#AttachmentStateChange": {
      "type": "structure",
      "members": {
        "attachmentArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the attachment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a change in state for a task attachment.</p>"
      }
    },
    "com.amazonaws.ecs#AttachmentStateChanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#AttachmentStateChange"
      }
    },
    "com.amazonaws.ecs#Attachments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Attachment"
      }
    },
    "com.amazonaws.ecs#Attribute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute. The <code>name</code> must contain between 1 and 128 characters. The name\n\t\t\tmay contain letters (uppercase and lowercase), numbers, hyphens (-), underscores (_), forward slashes\n\t\t\t(/), back slashes (\\), or periods (.).</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute. The <code>value</code> must contain between 1 and 128 characters. It can\n\t\t\tcontain letters (uppercase and lowercase), numbers, hyphens (-), underscores (_), periods (.), at signs\n\t\t\t(@), forward slashes (/), back slashes (\\), colons (:), or spaces. The value can't start or end with a\n\t\t\tspace.</p>"
          }
        },
        "targetType": {
          "target": "com.amazonaws.ecs#TargetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the target to attach the attribute with. This parameter is required if you use the short\n\t\t\tform ID for a resource instead of the full ARN.</p>"
          }
        },
        "targetId": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the target. You can specify the short form ID for a resource or the full Amazon Resource Name (ARN).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute is a name-value pair that's associated with an Amazon ECS object. Use attributes to extend\n\t\t\tthe Amazon ECS data model by adding custom metadata to your resources. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-placement-constraints.html#attributes\">Attributes</a>\n\t\t\tin the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.ecs#AttributeLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> Message that describes the cause of the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can apply up to 10 custom attributes for each resource. You can view the attributes of a resource\n\t\t\twith <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_ListAttributes.html\">ListAttributes</a>. You can remove existing attributes on a resource with <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_DeleteAttributes.html\">DeleteAttributes</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#Attributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Attribute"
      }
    },
    "com.amazonaws.ecs#AutoScalingGroupProvider": {
      "type": "structure",
      "members": {
        "autoScalingGroupArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the Auto Scaling group, or the Auto Scaling group name.</p>",
            "smithy.api#required": {}
          }
        },
        "managedScaling": {
          "target": "com.amazonaws.ecs#ManagedScaling",
          "traits": {
            "smithy.api#documentation": "<p>The managed scaling settings for the Auto Scaling group capacity provider.</p>"
          }
        },
        "managedTerminationProtection": {
          "target": "com.amazonaws.ecs#ManagedTerminationProtection",
          "traits": {
            "smithy.api#documentation": "<p>The managed termination protection setting to use for the Auto Scaling group capacity provider. This\n\t\t\tdetermines whether the Auto Scaling group has managed termination protection. The default is\n\t\t\toff.</p>\n         <important>\n            <p>When using managed termination protection, managed scaling must also be used otherwise managed\n\t\t\t\ttermination protection doesn't work.</p>\n         </important>\n         <p>When managed termination protection is on, Amazon ECS prevents the Amazon EC2 instances in an Auto Scaling\n\t\t\tgroup that contain tasks from being terminated during a scale-in action. The Auto Scaling group and\n\t\t\teach instance in the Auto Scaling group must have instance protection from scale-in actions on as well.\n\t\t\tFor more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection\">Instance\n\t\t\t\tProtection</a> in the <i>Auto Scaling User Guide</i>.</p>\n         <p>When managed termination protection is off, your Amazon EC2 instances aren't protected from termination\n\t\t\twhen the Auto Scaling group scales in.</p>"
          }
        },
        "managedDraining": {
          "target": "com.amazonaws.ecs#ManagedDraining",
          "traits": {
            "smithy.api#documentation": "<p>The managed draining option for the Auto Scaling group capacity provider. When you enable this, Amazon ECS manages and gracefully drains the EC2 container instances that are in the Auto Scaling group capacity provider.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the Auto Scaling group for the capacity provider.</p>"
      }
    },
    "com.amazonaws.ecs#AutoScalingGroupProviderUpdate": {
      "type": "structure",
      "members": {
        "managedScaling": {
          "target": "com.amazonaws.ecs#ManagedScaling",
          "traits": {
            "smithy.api#documentation": "<p>The managed scaling settings for the Auto Scaling group capacity provider.</p>"
          }
        },
        "managedTerminationProtection": {
          "target": "com.amazonaws.ecs#ManagedTerminationProtection",
          "traits": {
            "smithy.api#documentation": "<p>The managed termination protection setting to use for the Auto Scaling group capacity provider. This\n\t\t\tdetermines whether the Auto Scaling group has managed termination protection.</p>\n         <important>\n            <p>When using managed termination protection, managed scaling must also be used otherwise managed\n\t\t\t\ttermination protection doesn't work.</p>\n         </important>\n         <p>When managed termination protection is on, Amazon ECS prevents the Amazon EC2 instances in an Auto Scaling\n\t\t\tgroup that contain tasks from being terminated during a scale-in action. The Auto Scaling group and\n\t\t\teach instance in the Auto Scaling group must have instance protection from scale-in actions on. For\n\t\t\tmore information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection\">Instance\n\t\t\t\tProtection</a> in the <i>Auto Scaling User Guide</i>.</p>\n         <p>When managed termination protection is off, your Amazon EC2 instances aren't protected from termination\n\t\t\twhen the Auto Scaling group scales in.</p>"
          }
        },
        "managedDraining": {
          "target": "com.amazonaws.ecs#ManagedDraining",
          "traits": {
            "smithy.api#documentation": "<p>The managed draining option for the Auto Scaling group capacity provider. When you enable this, Amazon ECS manages and gracefully drains the EC2 container instances that are in the Auto Scaling group capacity provider.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the Auto Scaling group capacity provider to update.</p>"
      }
    },
    "com.amazonaws.ecs#AvailabilityZoneRebalancing": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.ecs#AwsVpcConfiguration": {
      "type": "structure",
      "members": {
        "subnets": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the subnets associated with the task or service. There's a limit of 16 subnets that can be\n\t\t\tspecified per <code>awsvpcConfiguration</code>.</p>\n         <note>\n            <p>All specified subnets must be from the same VPC.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "securityGroups": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the security groups associated with the task or service. If you don't specify a security\n\t\t\tgroup, the default security group for the VPC is used. There's a limit of 5 security groups that can be\n\t\t\tspecified per <code>awsvpcConfiguration</code>.</p>\n         <note>\n            <p>All specified security groups must be from the same VPC.</p>\n         </note>"
          }
        },
        "assignPublicIp": {
          "target": "com.amazonaws.ecs#AssignPublicIp",
          "traits": {
            "smithy.api#documentation": "<p>Whether the task's elastic network interface receives a public IP address. The default value is\n\t\t\t\t<code>ENABLED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the networking details for a task or service. For example\n\t\t\t\t<code>awsVpcConfiguration={subnets=[\"subnet-12344321\"],securityGroups=[\"sg-12344321\"]}</code>.</p>"
      }
    },
    "com.amazonaws.ecs#BlockedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> Message that describes the cause of the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your Amazon Web Services account was blocked. For more information, contact <a href=\"http://aws.amazon.com/contact-us/\">\n\t\t\t\tAmazon Web Services Support</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.ecs#BoxedBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.ecs#BoxedInteger": {
      "type": "integer"
    },
    "com.amazonaws.ecs#CPUArchitecture": {
      "type": "enum",
      "members": {
        "X86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X86_64"
          }
        },
        "ARM64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARM64"
          }
        }
      }
    },
    "com.amazonaws.ecs#CapacityProvider": {
      "type": "structure",
      "members": {
        "capacityProviderArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the capacity provider.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the capacity provider.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#CapacityProviderStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the capacity provider. Only capacity providers in an <code>ACTIVE</code> state\n\t\t\tcan be used in a cluster. When a capacity provider is successfully deleted, it has an\n\t\t\t\t<code>INACTIVE</code> status.</p>"
          }
        },
        "autoScalingGroupProvider": {
          "target": "com.amazonaws.ecs#AutoScalingGroupProvider",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group settings for the capacity provider.</p>"
          }
        },
        "updateStatus": {
          "target": "com.amazonaws.ecs#CapacityProviderUpdateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The update status of the capacity provider. The following are the possible states that is\n\t\t\treturned.</p>\n         <dl>\n            <dt>DELETE_IN_PROGRESS</dt>\n            <dd>\n               <p>The capacity provider is in the process of being deleted.</p>\n            </dd>\n            <dt>DELETE_COMPLETE</dt>\n            <dd>\n               <p>The capacity provider was successfully deleted and has an <code>INACTIVE</code>\n\t\t\t\t\t\tstatus.</p>\n            </dd>\n            <dt>DELETE_FAILED</dt>\n            <dd>\n               <p>The capacity provider can't be deleted. The update status reason provides further details\n\t\t\t\t\t\tabout why the delete failed.</p>\n            </dd>\n         </dl>"
          }
        },
        "updateStatusReason": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The update status reason. This provides further details about the update status for the capacity\n\t\t\tprovider.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ecs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that you apply to the capacity provider to help you categorize and organize it. Each tag\n\t\t\tconsists of a key and an optional value. You define both.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only\n                    one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources,\n                    remember that other services may have restrictions on allowed characters.\n                    Generally allowed characters are: letters, numbers, and spaces representable in\n                    UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case-sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase\n                    combination of such as a prefix for either keys or values as it is reserved for\n                    Amazon Web Services use. You cannot edit or delete tag keys or values with this prefix. Tags with\n                    this prefix do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details for a capacity provider.</p>"
      }
    },
    "com.amazonaws.ecs#CapacityProviderField": {
      "type": "enum",
      "members": {
        "TAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAGS"
          }
        }
      }
    },
    "com.amazonaws.ecs#CapacityProviderFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#CapacityProviderField"
      }
    },
    "com.amazonaws.ecs#CapacityProviderStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategy": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#CapacityProviderStrategyItem"
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategyItem": {
      "type": "structure",
      "members": {
        "capacityProvider": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The short name of the capacity provider.</p>",
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "com.amazonaws.ecs#CapacityProviderStrategyItemWeight",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The <i>weight</i> value designates the relative percentage of the total number of tasks\n\t\t\tlaunched that should use the specified capacity provider. The <code>weight</code> value is taken into\n\t\t\tconsideration after the <code>base</code> value, if defined, is satisfied.</p>\n         <p>If no <code>weight</code> value is specified, the default value of <code>0</code> is used. When\n\t\t\tmultiple capacity providers are specified within a capacity provider strategy, at least one of the\n\t\t\tcapacity providers must have a weight value greater than zero and any capacity providers with a weight\n\t\t\tof <code>0</code> can't be used to place tasks. If you specify multiple capacity providers in a\n\t\t\tstrategy that all have a weight of <code>0</code>, any <code>RunTask</code> or\n\t\t\t\t<code>CreateService</code> actions using the capacity provider strategy will fail.</p>\n         <p>An example scenario for using weights is defining a strategy that contains two capacity providers and\n\t\t\tboth have a weight of <code>1</code>, then when the <code>base</code> is satisfied, the tasks will be\n\t\t\tsplit evenly across the two capacity providers. Using that same logic, if you specify a weight of\n\t\t\t\t<code>1</code> for <i>capacityProviderA</i> and a weight of <code>4</code> for\n\t\t\t\t<i>capacityProviderB</i>, then for every one task that's run using\n\t\t\t\t<i>capacityProviderA</i>, four tasks would use\n\t\t\t<i>capacityProviderB</i>.</p>"
          }
        },
        "base": {
          "target": "com.amazonaws.ecs#CapacityProviderStrategyItemBase",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The <i>base</i> value designates how many tasks, at a minimum, to run on the specified\n\t\t\tcapacity provider. Only one capacity provider in a capacity provider strategy can have a\n\t\t\t\t<i>base</i> defined. If no value is specified, the default value of <code>0</code> is\n\t\t\tused.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a capacity provider strategy. A capacity provider strategy can be set when using the\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_RunTask.html\">RunTask</a>or\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CreateCluster.html\">CreateCluster</a> APIs or as the default capacity provider strategy for a cluster with the\n\t\t\t\t<code>CreateCluster</code> API.</p>\n         <p>Only capacity providers that are already associated with a cluster and have an <code>ACTIVE</code> or\n\t\t\t\t<code>UPDATING</code> status can be used in a capacity provider strategy. The <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutClusterCapacityProviders.html\">PutClusterCapacityProviders</a> API is used to associate a capacity provider with a\n\t\t\tcluster.</p>\n         <p>If specifying a capacity provider that uses an Auto Scaling group, the capacity provider must already\n\t\t\tbe created. New Auto Scaling group capacity providers can be created with the <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CreateClusterCapacityProvider.html\">CreateClusterCapacityProvider</a> API operation.</p>\n         <p>To use a Fargate capacity provider, specify either the <code>FARGATE</code> or\n\t\t\t\t<code>FARGATE_SPOT</code> capacity providers. The Fargate capacity providers are available to all\n\t\t\taccounts and only need to be associated with a cluster to be used in a capacity provider\n\t\t\tstrategy.</p>\n         <p>With <code>FARGATE_SPOT</code>, you can run interruption tolerant tasks at a rate that's discounted\n\t\t\tcompared to the <code>FARGATE</code> price. <code>FARGATE_SPOT</code> runs tasks on spare compute\n\t\t\tcapacity. When Amazon Web Services needs the capacity back, your tasks are interrupted with a two-minute warning.\n\t\t\t\t<code>FARGATE_SPOT</code> supports Linux tasks with the X86_64 architecture on platform version\n\t\t\t1.3.0 or later. <code>FARGATE_SPOT</code> supports Linux tasks with the ARM64 architecture on platform\n\t\t\tversion 1.4.0 or later.</p>\n         <p>A capacity provider strategy may contain a maximum of 6 capacity providers.</p>"
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategyItemBase": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 100000
        }
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategyItemWeight": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.ecs#CapacityProviderUpdateStatus": {
      "type": "enum",
      "members": {
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        },
        "DELETE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_COMPLETE"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        },
        "UPDATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_IN_PROGRESS"
          }
        },
        "UPDATE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_COMPLETE"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.ecs#CapacityProviders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#CapacityProvider"
      }
    },
    "com.amazonaws.ecs#ClientException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> Message that describes the cause of the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action. This client action might be using an action or\n\t\t\tresource on behalf of a user that doesn't have permissions to use the action or resource. Or, it might\n\t\t\tbe specifying an identifier that isn't valid.</p>\n         <p>The following list includes additional causes for the error:</p>\n         <ul>\n            <li>\n               <p>The <code>RunTask</code> could not be processed because you use managed scaling and there is\n\t\t\t\t\ta capacity error because the quota of tasks in the <code>PROVISIONING</code> per cluster has\n\t\t\t\t\tbeen reached. For information about the service quotas, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-quotas.html\">Amazon ECS service\n\t\t\t\t\t\tquotas</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#Cluster": {
      "type": "structure",
      "members": {
        "clusterArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the cluster. For more information about the ARN format, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-account-settings.html#ecs-resource-ids\">Amazon Resource Name (ARN)</a>\n\t\t\tin the <i>Amazon ECS Developer Guide</i>.</p>"
          }
        },
        "clusterName": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-generated string that you use to identify your cluster.</p>"
          }
        },
        "configuration": {
          "target": "com.amazonaws.ecs#ClusterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The execute command configuration for the cluster.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the cluster. The following are the possible states that are returned.</p>\n         <dl>\n            <dt>ACTIVE</dt>\n            <dd>\n               <p>The cluster is ready to accept tasks and if applicable you can register container\n\t\t\t\t\t\tinstances with the cluster.</p>\n            </dd>\n            <dt>PROVISIONING</dt>\n            <dd>\n               <p>The cluster has capacity providers that are associated with it and the resources needed\n\t\t\t\t\t\tfor the capacity provider are being created.</p>\n            </dd>\n            <dt>DEPROVISIONING</dt>\n            <dd>\n               <p>The cluster has capacity providers that are associated with it and the resources needed\n\t\t\t\t\t\tfor the capacity provider are being deleted.</p>\n            </dd>\n            <dt>FAILED</dt>\n            <dd>\n               <p>The cluster has capacity providers that are associated with it and the resources needed\n\t\t\t\t\t\tfor the capacity provider have failed to create.</p>\n            </dd>\n            <dt>INACTIVE</dt>\n            <dd>\n               <p>The cluster has been deleted. Clusters with an <code>INACTIVE</code> status may remain\n\t\t\t\t\t\tdiscoverable in your account for a period of time. However, this behavior is subject to\n\t\t\t\t\t\tchange in the future. We don't recommend that you rely on <code>INACTIVE</code> clusters\n\t\t\t\t\t\tpersisting.</p>\n            </dd>\n         </dl>"
          }
        },
        "registeredContainerInstancesCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of container instances registered into the cluster. This includes container instances in\n\t\t\tboth <code>ACTIVE</code> and <code>DRAINING</code> status.</p>"
          }
        },
        "runningTasksCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of tasks in the cluster that are in the <code>RUNNING</code> state.</p>"
          }
        },
        "pendingTasksCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of tasks in the cluster that are in the <code>PENDING</code> state.</p>"
          }
        },
        "activeServicesCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of services that are running on the cluster in an <code>ACTIVE</code> state. You can view\n\t\t\tthese services with <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_ListServices.html\">PListServices</a>.</p>"
          }
        },
        "statistics": {
          "target": "com.amazonaws.ecs#Statistics",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about your clusters that are separated by launch type. They include the\n\t\t\tfollowing:</p>\n         <ul>\n            <li>\n               <p>runningEC2TasksCount</p>\n            </li>\n            <li>\n               <p>RunningFargateTasksCount</p>\n            </li>\n            <li>\n               <p>pendingEC2TasksCount</p>\n            </li>\n            <li>\n               <p>pendingFargateTasksCount</p>\n            </li>\n            <li>\n               <p>activeEC2ServiceCount</p>\n            </li>\n            <li>\n               <p>activeFargateServiceCount</p>\n            </li>\n            <li>\n               <p>drainingEC2ServiceCount</p>\n            </li>\n            <li>\n               <p>drainingFargateServiceCount</p>\n            </li>\n         </ul>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ecs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that you apply to the cluster to help you categorize and organize them. Each tag\n\t\t\tconsists of a key and an optional value. You define both.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only\n                    one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources,\n                    remember that other services may have restrictions on allowed characters.\n                    Generally allowed characters are: letters, numbers, and spaces representable in\n                    UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case-sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase\n                    combination of such as a prefix for either keys or values as it is reserved for\n                    Amazon Web Services use. You cannot edit or delete tag keys or values with this prefix. Tags with\n                    this prefix do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        },
        "settings": {
          "target": "com.amazonaws.ecs#ClusterSettings",
          "traits": {
            "smithy.api#documentation": "<p>The settings for the cluster. This parameter indicates whether CloudWatch Container Insights is on or off\n\t\t\tfor a cluster.</p>"
          }
        },
        "capacityProviders": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The capacity providers associated with the cluster.</p>"
          }
        },
        "defaultCapacityProviderStrategy": {
          "target": "com.amazonaws.ecs#CapacityProviderStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The default capacity provider strategy for the cluster. When services or tasks are run in the cluster\n\t\t\twith no launch type or capacity provider strategy specified, the default capacity provider strategy is\n\t\t\tused.</p>"
          }
        },
        "attachments": {
          "target": "com.amazonaws.ecs#Attachments",
          "traits": {
            "smithy.api#documentation": "<p>The resources attached to a cluster. When using a capacity provider with a cluster, the capacity\n\t\t\tprovider and associated resources are returned as cluster attachments.</p>"
          }
        },
        "attachmentsStatus": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the capacity providers associated with the cluster. The following are the states that\n\t\t\tare returned.</p>\n         <dl>\n            <dt>UPDATE_IN_PROGRESS</dt>\n            <dd>\n               <p>The available capacity providers for the cluster are updating.</p>\n            </dd>\n            <dt>UPDATE_COMPLETE</dt>\n            <dd>\n               <p>The capacity providers have successfully updated.</p>\n            </dd>\n            <dt>UPDATE_FAILED</dt>\n            <dd>\n               <p>The capacity provider updates failed.</p>\n            </dd>\n         </dl>"
          }
        },
        "serviceConnectDefaults": {
          "target": "com.amazonaws.ecs#ClusterServiceConnectDefaults",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to set a default Service Connect namespace. After you set a default \n\tService Connect namespace, any new services with Service Connect turned on that are created in the cluster are added as\n\tclient services in the namespace. This setting only applies to new services that set the <code>enabled</code> parameter to\n\t<code>true</code> in the <code>ServiceConnectConfiguration</code>.\n\tYou can set the namespace of each service individually in the <code>ServiceConnectConfiguration</code> to override this default\n\tparameter.</p>\n         <p>Tasks that run in a namespace can use short names to connect\n\tto services in the namespace. Tasks can connect to services across all of the clusters in the namespace.\n\tTasks connect through a managed proxy container\n\tthat collects logs and metrics for increased visibility.\n\tOnly the tasks that Amazon ECS services create are supported with Service Connect.\n\tFor more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-connect.html\">Service Connect</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A regional grouping of one or more container instances where you can run task requests. Each account\n\t\t\treceives a default cluster the first time you use the Amazon ECS service, but you may also create other\n\t\t\tclusters. Clusters may contain more than one instance type simultaneously.</p>"
      }
    },
    "com.amazonaws.ecs#ClusterConfiguration": {
      "type": "structure",
      "members": {
        "executeCommandConfiguration": {
          "target": "com.amazonaws.ecs#ExecuteCommandConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The details of the execute command configuration.</p>"
          }
        },
        "managedStorageConfiguration": {
          "target": "com.amazonaws.ecs#ManagedStorageConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The details of the managed storage configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The execute command and managed storage configuration for the cluster.</p>"
      }
    },
    "com.amazonaws.ecs#ClusterContainsContainerInstancesException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> Message that describes the cause of the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't delete a cluster that has registered container instances. First, deregister the container\n\t\t\tinstances before you can delete the cluster. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_DeregisterContainerInstance.html\">DeregisterContainerInstance</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterContainsServicesException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> Message that describes the cause of the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't delete a cluster that contains services. First, update the service to reduce its desired\n\t\t\ttask count to 0, and then delete the service. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_UpdateService.html\">UpdateService</a> and <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_DeleteService.html\">DeleteService</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterContainsTasksException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> Message that describes the cause of the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't delete a cluster that has active tasks.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterField": {
      "type": "enum",
      "members": {
        "ATTACHMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACHMENTS"
          }
        },
        "CONFIGURATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIGURATIONS"
          }
        },
        "SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETTINGS"
          }
        },
        "STATISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATISTICS"
          }
        },
        "TAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TAGS"
          }
        }
      }
    },
    "com.amazonaws.ecs#ClusterFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#ClusterField"
      }
    },
    "com.amazonaws.ecs#ClusterNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> Message that describes the cause of the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified cluster wasn't found. You can view your available clusters with <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_ListClusters.html\">ListClusters</a>. Amazon ECS clusters are Region specific.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterServiceConnectDefaults": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The namespace name or full Amazon Resource Name (ARN) of the Cloud Map namespace. When you create a service and don't specify a Service Connect\n\t\t\tconfiguration, this namespace is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use this parameter to set a default Service Connect namespace. After you set a default \n\tService Connect namespace, any new services with Service Connect turned on that are created in the cluster are added as\n\tclient services in the namespace. This setting only applies to new services that set the <code>enabled</code> parameter to\n\t<code>true</code> in the <code>ServiceConnectConfiguration</code>.\n\tYou can set the namespace of each service individually in the <code>ServiceConnectConfiguration</code> to override this default\n\tparameter.</p>\n         <p>Tasks that run in a namespace can use short names to connect\n\tto services in the namespace. Tasks can connect to services across all of the clusters in the namespace.\n\tTasks connect through a managed proxy container\n\tthat collects logs and metrics for increased visibility.\n\tOnly the tasks that Amazon ECS services create are supported with Service Connect.\n\tFor more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-connect.html\">Service Connect</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.ecs#ClusterServiceConnectDefaultsRequest": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The namespace name or full Amazon Resource Name (ARN) of the Cloud Map namespace that's used when you create a service and don't specify a\n\t\t\tService Connect configuration. The namespace name can include up to 1024 characters. The name is\n\t\t\tcase-sensitive. The name can't include hyphens (-), tilde (~), greater than (>), less than (<),\n\t\t\tor slash (/).</p>\n         <p>If you enter an existing namespace name or ARN, then that namespace will be used. Any namespace\n\t\t\ttype is supported. The namespace must be in this account and this Amazon Web Services Region.</p>\n         <p>If you enter a new name, a Cloud Map namespace will be created. Amazon ECS creates a Cloud Map namespace\n\t\t\twith the \"API calls\" method of instance discovery only. This instance discovery method is the \"HTTP\"\n\t\t\tnamespace type in the Command Line Interface. Other types of instance discovery aren't used by\n\t\t\tService Connect.</p>\n         <p>If you update the cluster with an empty string <code>\"\"</code> for the namespace name, the cluster\n\t\t\tconfiguration for Service Connect is removed. Note that the namespace will remain in Cloud Map and must\n\t\t\tbe deleted separately.</p>\n         <p>For more information about Cloud Map, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/dg/working-with-services.html\">Working with Services</a> in the\n\t\t\t<i>Cloud Map Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use this parameter to set a default Service Connect namespace. After you set a default \n\tService Connect namespace, any new services with Service Connect turned on that are created in the cluster are added as\n\tclient services in the namespace. This setting only applies to new services that set the <code>enabled</code> parameter to\n\t<code>true</code> in the <code>ServiceConnectConfiguration</code>.\n\tYou can set the namespace of each service individually in the <code>ServiceConnectConfiguration</code> to override this default\n\tparameter.</p>\n         <p>Tasks that run in a namespace can use short names to connect\n\tto services in the namespace. Tasks can connect to services across all of the clusters in the namespace.\n\tTasks connect through a managed proxy container\n\tthat collects logs and metrics for increased visibility.\n\tOnly the tasks that Amazon ECS services create are supported with Service Connect.\n\tFor more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-connect.html\">Service Connect</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.ecs#ClusterSetting": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ecs#ClusterSettingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster setting. The value is <code>containerInsights</code> .</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The value to set for the cluster setting. The supported values are <code>enhanced</code>,\n\t\t\t\t<code>enabled</code>, and <code>disabled</code>. </p>\n         <p>To use Container Insights with enhanced observability, set the\n\t\t\t\t<code>containerInsights</code> account setting to <code>enhanced</code>.</p>\n         <p>To use Container Insights, set the <code>containerInsights</code> account setting to\n\t\t\t\t<code>enabled</code>.</p>\n         <p>If a cluster value is specified, it will override the <code>containerInsights</code> value\n\t\t\tset with <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutAccountSetting.html\">PutAccountSetting</a> or <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_PutAccountSettingDefault.html\">PutAccountSettingDefault</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings to use when creating a cluster. This parameter is used to turn on CloudWatch Container\n\t\t\tInsights with enhanced observability or CloudWatch Container\n\t\t\tInsights for a cluster.</p>\n         <p>Container Insights with enhanced observability provides all the Container Insights metrics,\n\t\t\tplus additional task and container metrics. This version supports enhanced observability\n\t\t\tfor Amazon ECS clusters using the Amazon EC2 and Fargate launch types. After you configure\n\t\t\tContainer Insights with enhanced observability on Amazon ECS, Container Insights\n\t\t\tauto-collects detailed infrastructure telemetry from the cluster level down to the container\n\t\t\tlevel in your environment and displays these critical performance data in curated\n\t\t\tdashboards removing the heavy lifting in observability set-up. </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cloudwatch-container-insights.html\">Monitor\n\t\t\t\tAmazon ECS containers using Container Insights with enhanced observability</a> in the\n\t\t\t<i>Amazon Elastic Container Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.ecs#ClusterSettingName": {
      "type": "enum",
      "members": {
        "CONTAINER_INSIGHTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containerInsights"
          }
        }
      }
    },
    "com.amazonaws.ecs#ClusterSettings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#ClusterSetting"
      }
    },
    "com.amazonaws.ecs#Clusters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Cluster"
      }
    },
    "com.amazonaws.ecs#Compatibility": {
      "type": "enum",
      "members": {
        "EC2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2"
          }
        },
        "FARGATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARGATE"
          }
        },
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        }
      }
    },
    "com.amazonaws.ecs#CompatibilityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Compatibility"
      }
    },
    "com.amazonaws.ecs#ConflictException": {
      "type": "structure",
      "members": {
        "resourceIds": {
          "target": "com.amazonaws.ecs#ResourceIds",
          "traits": {
            "smithy.api#documentation": "<p>The existing task ARNs which are already associated with the <code>clientToken</code>.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> Message that describes the cause of the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>RunTask</code> request could not be processed due to conflicts. The provided\n\t\t\t\t<code>clientToken</code> is already in use with a different <code>RunTask</code> request. The\n\t\t\t\t<code>resourceIds</code> are the existing task ARNs which are already associated with the\n\t\t\t\t<code>clientToken</code>. </p>\n         <p>To fix this issue:</p>\n         <ul>\n            <li>\n               <p>Run <code>RunTask</code> with a unique <code>clientToken</code>.</p>\n            </li>\n            <li>\n               <p>Run <code>RunTask</code> with the <code>clientToken</code> and the original set of\n\t\t\t\t\tparameters</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#Connectivity": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTED"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONNECTED"
          }
        }
      }
    },
    "com.amazonaws.ecs#Container": {
      "type": "structure",
      "members": {
        "containerArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container.</p>"
          }
        },
        "taskArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the task.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the container.</p>"
          }
        },
        "image": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The image used for the container.</p>"
          }
        },
        "imageDigest": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The container image manifest digest.</p>"
          }
        },
        "runtimeId": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Docker container.</p>"
          }
        },
        "lastStatus": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The last known status of the container.</p>"
          }
        },
        "exitCode": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>The exit code returned from the container.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details about a running or\n\t\t\tstopped container.</p>"
          }
        },
        "networkBindings": {
          "target": "com.amazonaws.ecs#NetworkBindings",
          "traits": {
            "smithy.api#documentation": "<p>The network bindings associated with the container.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.ecs#NetworkInterfaces",
          "traits": {
            "smithy.api#documentation": "<p>The network interfaces associated with the container.</p>"
          }
        },
        "healthStatus": {
[...]
