{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ecs#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have authorization to perform the requested action.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#AgentUpdateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "STAGING",
            "name": "STAGING"
          },
          {
            "value": "STAGED",
            "name": "STAGED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "UPDATED",
            "name": "UPDATED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.ecs#AmazonEC2ContainerServiceV20141113": {
      "type": "service",
      "version": "2014-11-13",
      "operations": [
        {
          "target": "com.amazonaws.ecs#CreateCapacityProvider"
        },
        {
          "target": "com.amazonaws.ecs#CreateCluster"
        },
        {
          "target": "com.amazonaws.ecs#CreateService"
        },
        {
          "target": "com.amazonaws.ecs#CreateTaskSet"
        },
        {
          "target": "com.amazonaws.ecs#DeleteAccountSetting"
        },
        {
          "target": "com.amazonaws.ecs#DeleteAttributes"
        },
        {
          "target": "com.amazonaws.ecs#DeleteCapacityProvider"
        },
        {
          "target": "com.amazonaws.ecs#DeleteCluster"
        },
        {
          "target": "com.amazonaws.ecs#DeleteService"
        },
        {
          "target": "com.amazonaws.ecs#DeleteTaskSet"
        },
        {
          "target": "com.amazonaws.ecs#DeregisterContainerInstance"
        },
        {
          "target": "com.amazonaws.ecs#DeregisterTaskDefinition"
        },
        {
          "target": "com.amazonaws.ecs#DescribeCapacityProviders"
        },
        {
          "target": "com.amazonaws.ecs#DescribeClusters"
        },
        {
          "target": "com.amazonaws.ecs#DescribeContainerInstances"
        },
        {
          "target": "com.amazonaws.ecs#DescribeServices"
        },
        {
          "target": "com.amazonaws.ecs#DescribeTaskDefinition"
        },
        {
          "target": "com.amazonaws.ecs#DescribeTasks"
        },
        {
          "target": "com.amazonaws.ecs#DescribeTaskSets"
        },
        {
          "target": "com.amazonaws.ecs#DiscoverPollEndpoint"
        },
        {
          "target": "com.amazonaws.ecs#ExecuteCommand"
        },
        {
          "target": "com.amazonaws.ecs#ListAccountSettings"
        },
        {
          "target": "com.amazonaws.ecs#ListAttributes"
        },
        {
          "target": "com.amazonaws.ecs#ListClusters"
        },
        {
          "target": "com.amazonaws.ecs#ListContainerInstances"
        },
        {
          "target": "com.amazonaws.ecs#ListServices"
        },
        {
          "target": "com.amazonaws.ecs#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.ecs#ListTaskDefinitionFamilies"
        },
        {
          "target": "com.amazonaws.ecs#ListTaskDefinitions"
        },
        {
          "target": "com.amazonaws.ecs#ListTasks"
        },
        {
          "target": "com.amazonaws.ecs#PutAccountSetting"
        },
        {
          "target": "com.amazonaws.ecs#PutAccountSettingDefault"
        },
        {
          "target": "com.amazonaws.ecs#PutAttributes"
        },
        {
          "target": "com.amazonaws.ecs#PutClusterCapacityProviders"
        },
        {
          "target": "com.amazonaws.ecs#RegisterContainerInstance"
        },
        {
          "target": "com.amazonaws.ecs#RegisterTaskDefinition"
        },
        {
          "target": "com.amazonaws.ecs#RunTask"
        },
        {
          "target": "com.amazonaws.ecs#StartTask"
        },
        {
          "target": "com.amazonaws.ecs#StopTask"
        },
        {
          "target": "com.amazonaws.ecs#SubmitAttachmentStateChanges"
        },
        {
          "target": "com.amazonaws.ecs#SubmitContainerStateChange"
        },
        {
          "target": "com.amazonaws.ecs#SubmitTaskStateChange"
        },
        {
          "target": "com.amazonaws.ecs#TagResource"
        },
        {
          "target": "com.amazonaws.ecs#UntagResource"
        },
        {
          "target": "com.amazonaws.ecs#UpdateCapacityProvider"
        },
        {
          "target": "com.amazonaws.ecs#UpdateCluster"
        },
        {
          "target": "com.amazonaws.ecs#UpdateClusterSettings"
        },
        {
          "target": "com.amazonaws.ecs#UpdateContainerAgent"
        },
        {
          "target": "com.amazonaws.ecs#UpdateContainerInstancesState"
        },
        {
          "target": "com.amazonaws.ecs#UpdateService"
        },
        {
          "target": "com.amazonaws.ecs#UpdateServicePrimaryTaskSet"
        },
        {
          "target": "com.amazonaws.ecs#UpdateTaskSet"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ECS",
          "arnNamespace": "ecs",
          "cloudFormationName": "ECS",
          "cloudTrailEventSource": "ecs.amazonaws.com",
          "endpointPrefix": "ecs"
        },
        "aws.auth#sigv4": {
          "name": "ecs"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Amazon Elastic Container Service</fullname>\n\t\t       <p>Amazon Elastic Container Service (Amazon ECS) is a highly scalable, fast, container management service that makes\n\t\t\tit easy to run, stop, and manage Docker containers on a cluster. You can host your\n\t\t\tcluster on a serverless infrastructure that is managed by Amazon ECS by launching your\n\t\t\tservices or tasks on Fargate. For more control, you can host your tasks on a cluster\n\t\t\tof Amazon Elastic Compute Cloud (Amazon EC2) instances that you manage.</p>\n\t\t       <p>Amazon ECS makes it easy to launch and stop container-based applications with simple API\n\t\t\tcalls, allows you to get the state of your cluster from a centralized service, and gives\n\t\t\tyou access to many familiar Amazon EC2 features.</p>\n\t\t       <p>You can use Amazon ECS to schedule the placement of containers across your cluster based on\n\t\t\tyour resource needs, isolation policies, and availability requirements. Amazon ECS eliminates\n\t\t\tthe need for you to operate your own cluster management and configuration management\n\t\t\tsystems or worry about scaling your management infrastructure.</p>",
        "smithy.api#title": "Amazon EC2 Container Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://ecs.amazonaws.com/doc/2014-11-13/"
        }
      }
    },
    "com.amazonaws.ecs#AssignPublicIp": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.ecs#Attachment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the attachment.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the attachment, such as <code>ElasticNetworkInterface</code>.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p> The status of the attachment. Valid values are <code>PRECREATED</code>,\n\t\t\t\t<code>CREATED</code>, <code>ATTACHING</code>, <code>ATTACHED</code>,\n\t\t\t\t<code>DETACHING</code>, <code>DETACHED</code>, and <code>DELETED</code>.</p>"
          }
        },
        "details": {
          "target": "com.amazonaws.ecs#AttachmentDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details of the attachment. For elastic network interfaces, this includes the network\n\t\t\tinterface ID, the MAC address, the subnet ID, and the private IPv4 address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a container instance or task attachment.</p>"
      }
    },
    "com.amazonaws.ecs#AttachmentDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#KeyValuePair"
      }
    },
    "com.amazonaws.ecs#AttachmentStateChange": {
      "type": "structure",
      "members": {
        "attachmentArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the attachment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a change in state for a task attachment.</p>"
      }
    },
    "com.amazonaws.ecs#AttachmentStateChanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#AttachmentStateChange"
      }
    },
    "com.amazonaws.ecs#Attachments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Attachment"
      }
    },
    "com.amazonaws.ecs#Attribute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute. The <code>name</code> must contain between 1 and 128\n\t\t\tcharacters and name may contain letters (uppercase and lowercase), numbers, hyphens,\n\t\t\tunderscores, forward slashes, back slashes, or periods.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute. The <code>value</code> must contain between 1 and 128\n\t\t\tcharacters and may contain letters (uppercase and lowercase), numbers, hyphens,\n\t\t\tunderscores, periods, at signs (@), forward slashes, back slashes, colons, or spaces.\n\t\t\tThe value cannot contain any leading or trailing whitespace.</p>"
          }
        },
        "targetType": {
          "target": "com.amazonaws.ecs#TargetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the target with which to attach the attribute. This parameter is required\n\t\t\tif you use the short form ID for a resource instead of the full ARN.</p>"
          }
        },
        "targetId": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the target. You can specify the short form ID for a resource or the full\n\t\t\tAmazon Resource Name (ARN).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute is a name-value pair associated with an Amazon ECS object. Attributes enable\n\t\t\tyou to extend the Amazon ECS data model by adding custom metadata to your resources. For more\n\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-placement-constraints.html#attributes\">Attributes</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.ecs#AttributeLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can apply up to 10 custom attributes per resource. You can view the attributes of\n\t\t\ta resource with <a>ListAttributes</a>. You can remove existing attributes on\n\t\t\ta resource with <a>DeleteAttributes</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#Attributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Attribute"
      }
    },
    "com.amazonaws.ecs#AutoScalingGroupProvider": {
      "type": "structure",
      "members": {
        "autoScalingGroupArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "managedScaling": {
          "target": "com.amazonaws.ecs#ManagedScaling",
          "traits": {
            "smithy.api#documentation": "<p>The managed scaling settings for the Auto Scaling group capacity provider.</p>"
          }
        },
        "managedTerminationProtection": {
          "target": "com.amazonaws.ecs#ManagedTerminationProtection",
          "traits": {
            "smithy.api#documentation": "<p>The managed termination protection setting to use for the Auto Scaling group capacity\n\t\t\tprovider. This determines whether the Auto Scaling group has managed termination\n\t\t\tprotection.</p>\n\t\t       <important>\n\t\t\t         <p>When using managed termination protection, managed scaling must also be used\n\t\t\t\totherwise managed termination protection will not work.</p>\n\t\t       </important>\n\t\t       <p>When managed termination protection is enabled, Amazon ECS prevents the Amazon EC2 instances in\n\t\t\tan Auto Scaling group that contain tasks from being terminated during a scale-in action.\n\t\t\tThe Auto Scaling group and each instance in the Auto Scaling group must have instance\n\t\t\tprotection from scale-in actions enabled as well. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection\">Instance Protection</a> in the <i>Auto Scaling User Guide</i>.</p>\n\t\t       <p>When managed termination protection is disabled, your Amazon EC2 instances are not\n\t\t\tprotected from termination when the Auto Scaling group scales in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the Auto Scaling group for the capacity provider.</p>"
      }
    },
    "com.amazonaws.ecs#AutoScalingGroupProviderUpdate": {
      "type": "structure",
      "members": {
        "managedScaling": {
          "target": "com.amazonaws.ecs#ManagedScaling",
          "traits": {
            "smithy.api#documentation": "<p>The managed scaling settings for the Auto Scaling group capacity provider.</p>"
          }
        },
        "managedTerminationProtection": {
          "target": "com.amazonaws.ecs#ManagedTerminationProtection",
          "traits": {
            "smithy.api#documentation": "<p>The managed termination protection setting to use for the Auto Scaling group capacity\n\t\t\tprovider. This determines whether the Auto Scaling group has managed termination\n\t\t\tprotection.</p>\n\t\t       <important>\n\t\t\t         <p>When using managed termination protection, managed scaling must also be used\n\t\t\t\totherwise managed termination protection will not work.</p>\n\t\t       </important>\n\t\t       <p>When managed termination protection is enabled, Amazon ECS prevents the Amazon EC2 instances in\n\t\t\tan Auto Scaling group that contain tasks from being terminated during a scale-in action.\n\t\t\tThe Auto Scaling group and each instance in the Auto Scaling group must have instance\n\t\t\tprotection from scale-in actions enabled as well. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection\">Instance Protection</a> in the <i>Auto Scaling User Guide</i>.</p>\n\t\t       <p>When managed termination protection is disabled, your Amazon EC2 instances are not\n\t\t\tprotected from termination when the Auto Scaling group scales in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the Auto Scaling group capacity provider to update.</p>"
      }
    },
    "com.amazonaws.ecs#AwsVpcConfiguration": {
      "type": "structure",
      "members": {
        "subnets": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the subnets associated with the task or service. There is a limit of 16\n\t\t\tsubnets that can be specified per <code>AwsVpcConfiguration</code>.</p>\n\t\t\n\t\t       <note>\n\t\t\t         <p>All specified subnets must be from the same VPC.</p>\n\t\t       </note>",
            "smithy.api#required": {}
          }
        },
        "securityGroups": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the security groups associated with the task or service. If you do not\n\t\t\tspecify a security group, the default security group for the VPC is used. There is a\n\t\t\tlimit of 5 security groups that can be specified per\n\t\t\t<code>AwsVpcConfiguration</code>.</p>\n\t\t\n\t\t       <note>\n\t\t\t         <p>All specified security groups must be from the same VPC.</p>\n\t\t       </note>"
          }
        },
        "assignPublicIp": {
          "target": "com.amazonaws.ecs#AssignPublicIp",
          "traits": {
            "smithy.api#documentation": "<p>Whether the task's elastic network interface receives a public IP address. The default\n\t\t\tvalue is <code>DISABLED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the networking details for a task or service.</p>"
      }
    },
    "com.amazonaws.ecs#BlockedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your Amazon Web Services account has been blocked. For more information, contact <a href=\"http://aws.amazon.com/contact-us/\">\n\t\t\t\tAmazon Web Services Support</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.ecs#BoxedBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.ecs#BoxedInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.ecs#CapacityProvider": {
      "type": "structure",
      "members": {
        "capacityProviderArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the capacity provider.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the capacity provider.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#CapacityProviderStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the capacity provider. Only capacity providers in an\n\t\t\t\t<code>ACTIVE</code> state can be used in a cluster. When a capacity provider is\n\t\t\tsuccessfully deleted, it will have an <code>INACTIVE</code> status.</p>"
          }
        },
        "autoScalingGroupProvider": {
          "target": "com.amazonaws.ecs#AutoScalingGroupProvider",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group settings for the capacity provider.</p>"
          }
        },
        "updateStatus": {
          "target": "com.amazonaws.ecs#CapacityProviderUpdateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The update status of the capacity provider. The following are the possible states that\n\t\t\twill be returned.</p>\n\t\t       <dl>\n            <dt>DELETE_IN_PROGRESS</dt>\n            <dd>\n\t\t\t\t\t          <p>The capacity provider is in the process of being deleted.</p>\n\t\t\t\t        </dd>\n            <dt>DELETE_COMPLETE</dt>\n            <dd>\n\t\t\t\t\t          <p>The capacity provider has been successfully deleted and will have an\n\t\t\t\t\t\t\t<code>INACTIVE</code> status.</p>\n\t\t\t\t        </dd>\n            <dt>DELETE_FAILED</dt>\n            <dd>\n\t\t\t\t\t          <p>The capacity provider was unable to be deleted. The update status reason\n\t\t\t\t\t\twill provide further details about why the delete failed.</p>\n\t\t\t\t        </dd>\n         </dl>"
          }
        },
        "updateStatusReason": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The update status reason. This provides further details about the update status for\n\t\t\tthe capacity provider.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ecs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that you apply to the capacity provider to help you categorize and\n\t\t\torganize it. Each tag consists of a key and an optional value, both of which you\n\t\t\tdefine.</p> \n         <p>The following basic restrictions apply to tags:</p>\n        <ul>\n            <li>\n                <p>Maximum number of tags per resource - 50</p>\n            </li>\n            <li>\n                <p>For each resource, each tag key must be unique, and each tag key can have only\n                    one value.</p>\n            </li>\n            <li>\n                <p>Maximum key length - 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>Maximum value length - 256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>If your tagging schema is used across multiple services and resources,\n                    remember that other services may have restrictions on allowed characters.\n                    Generally allowed characters are: letters, numbers, and spaces representable in\n                    UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n                <p>Tag keys and values are case-sensitive.</p>\n            </li>\n            <li>\n                <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase\n                    combination of such as a prefix for either keys or values as it is reserved for\n                    Amazon Web Services use. You cannot edit or delete tag keys or values with this prefix. Tags with\n                    this prefix do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a capacity provider.</p>"
      }
    },
    "com.amazonaws.ecs#CapacityProviderField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TAGS",
            "name": "TAGS"
          }
        ]
      }
    },
    "com.amazonaws.ecs#CapacityProviderFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#CapacityProviderField"
      }
    },
    "com.amazonaws.ecs#CapacityProviderStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategy": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#CapacityProviderStrategyItem"
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategyItem": {
      "type": "structure",
      "members": {
        "capacityProvider": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The short name of the capacity provider.</p>",
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "com.amazonaws.ecs#CapacityProviderStrategyItemWeight",
          "traits": {
            "smithy.api#documentation": "<p>The <i>weight</i> value designates the relative percentage of the total\n\t\t\tnumber of tasks launched that should use the specified capacity provider. The\n\t\t\t\t<code>weight</code> value is taken into consideration after the <code>base</code>\n\t\t\tvalue, if defined, is satisfied.</p>\n\t\t       <p>If no <code>weight</code> value is specified, the default value of <code>0</code> is\n\t\t\tused. When multiple capacity providers are specified within a capacity provider\n\t\t\tstrategy, at least one of the capacity providers must have a weight value greater than\n\t\t\tzero and any capacity providers with a weight of <code>0</code> will not be used to\n\t\t\tplace tasks. If you specify multiple capacity providers in a strategy that all have a\n\t\t\tweight of <code>0</code>, any <code>RunTask</code> or <code>CreateService</code> actions\n\t\t\tusing the capacity provider strategy will fail.</p>\n\t\t       <p>An example scenario for using weights is defining a strategy that contains two\n\t\t\tcapacity providers and both have a weight of <code>1</code>, then when the\n\t\t\t\t<code>base</code> is satisfied, the tasks will be split evenly across the two\n\t\t\tcapacity providers. Using that same logic, if you specify a weight of <code>1</code> for\n\t\t\t\t<i>capacityProviderA</i> and a weight of <code>4</code> for\n\t\t\t\t<i>capacityProviderB</i>, then for every one task that is run using\n\t\t\t\t<i>capacityProviderA</i>, four tasks would use\n\t\t\t\t<i>capacityProviderB</i>.</p>"
          }
        },
        "base": {
          "target": "com.amazonaws.ecs#CapacityProviderStrategyItemBase",
          "traits": {
            "smithy.api#documentation": "<p>The <i>base</i> value designates how many tasks, at a minimum, to run on\n\t\t\tthe specified capacity provider. Only one capacity provider in a capacity provider\n\t\t\tstrategy can have a <i>base</i> defined. If no value is specified, the\n\t\t\tdefault value of <code>0</code> is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a capacity provider strategy. A capacity provider strategy can be set\n\t\t\twhen using the <a>RunTask</a> or <a>CreateCluster</a> APIs or as\n\t\t\tthe default capacity provider strategy for a cluster with the <a>CreateCluster</a> API.</p>\n\t\t       <p>Only capacity providers that are already associated with a cluster and have an\n\t\t\t\t<code>ACTIVE</code> or <code>UPDATING</code> status can be used in a capacity\n\t\t\tprovider strategy. The <a>PutClusterCapacityProviders</a> API is used to\n\t\t\tassociate a capacity provider with a cluster.</p>\n\t\t       <p>If specifying a capacity provider that uses an Auto Scaling group, the capacity\n\t\t\tprovider must already be created. New Auto Scaling group capacity providers can be\n\t\t\tcreated with the <a>CreateCapacityProvider</a> API operation.</p>\n\t\t       <p>To use a Fargate capacity provider, specify either the <code>FARGATE</code> or\n\t\t\t\t<code>FARGATE_SPOT</code> capacity providers. The Fargate capacity providers are\n\t\t\tavailable to all accounts and only need to be associated with a cluster to be used in a\n\t\t\tcapacity provider strategy.</p> \n         <p>A capacity provider strategy may contain a maximum of 6 capacity providers.</p>"
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategyItemBase": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 100000
        }
      }
    },
    "com.amazonaws.ecs#CapacityProviderStrategyItemWeight": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.ecs#CapacityProviderUpdateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DELETE_IN_PROGRESS",
            "name": "DELETE_IN_PROGRESS"
          },
          {
            "value": "DELETE_COMPLETE",
            "name": "DELETE_COMPLETE"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          },
          {
            "value": "UPDATE_IN_PROGRESS",
            "name": "UPDATE_IN_PROGRESS"
          },
          {
            "value": "UPDATE_COMPLETE",
            "name": "UPDATE_COMPLETE"
          },
          {
            "value": "UPDATE_FAILED",
            "name": "UPDATE_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.ecs#CapacityProviders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#CapacityProvider"
      }
    },
    "com.amazonaws.ecs#ClientException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action, such as using an action or\n\t\t\tresource on behalf of a user that doesn't have permissions to use the action or\n\t\t\tresource, or specifying an identifier that is not valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#Cluster": {
      "type": "structure",
      "members": {
        "clusterArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that identifies the cluster. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the Region of the cluster, the Amazon Web Services account ID of the cluster owner, the <code>cluster</code> namespace, and then the cluster name. For example, <code>arn:aws:ecs:region:012345678910:cluster/test</code>.</p>"
          }
        },
        "clusterName": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-generated string that you use to identify your cluster.</p>"
          }
        },
        "configuration": {
          "target": "com.amazonaws.ecs#ClusterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The execute command configuration for the cluster.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the cluster. The following are the possible states that will be\n\t\t\treturned.</p>\n\t\t       <dl>\n            <dt>ACTIVE</dt>\n            <dd>\n\t\t\t\t\t          <p>The cluster is ready to accept tasks and if applicable you can register\n\t\t\t\t\t\tcontainer instances with the cluster.</p>\n\t\t\t\t        </dd>\n            <dt>PROVISIONING</dt>\n            <dd>\n\t\t\t\t\t          <p>The cluster has capacity providers associated with it and the resources\n\t\t\t\t\t\tneeded for the capacity provider are being created.</p>\n\t\t\t\t        </dd>\n            <dt>DEPROVISIONING</dt>\n            <dd>\n\t\t\t\t\t          <p>The cluster has capacity providers associated with it and the resources\n\t\t\t\t\t\tneeded for the capacity provider are being deleted.</p>\n\t\t\t\t        </dd>\n            <dt>FAILED</dt>\n            <dd>\n\t\t\t\t\t          <p>The cluster has capacity providers associated with it and the resources\n\t\t\t\t\t\tneeded for the capacity provider have failed to create.</p>\n\t\t\t\t        </dd>\n            <dt>INACTIVE</dt>\n            <dd>\n\t\t\t\t\t          <p>The cluster has been deleted. Clusters with an <code>INACTIVE</code>\n\t\t\t\t\t\tstatus may remain discoverable in your account for a period of time.\n\t\t\t\t\t\tHowever, this behavior is subject to change in the future, so you should not\n\t\t\t\t\t\trely on <code>INACTIVE</code> clusters persisting.</p>\n\t\t\t\t        </dd>\n         </dl>"
          }
        },
        "registeredContainerInstancesCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of container instances registered into the cluster. This includes container\n\t\t\tinstances in both <code>ACTIVE</code> and <code>DRAINING</code> status.</p>"
          }
        },
        "runningTasksCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of tasks in the cluster that are in the <code>RUNNING</code> state.</p>"
          }
        },
        "pendingTasksCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of tasks in the cluster that are in the <code>PENDING</code> state.</p>"
          }
        },
        "activeServicesCount": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of services that are running on the cluster in an <code>ACTIVE</code>\n\t\t\tstate. You can view these services with <a>ListServices</a>.</p>"
          }
        },
        "statistics": {
          "target": "com.amazonaws.ecs#Statistics",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about your clusters that are separated by launch type,\n\t\t\tincluding:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>runningEC2TasksCount</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>RunningFargateTasksCount</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>pendingEC2TasksCount</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>pendingFargateTasksCount</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>activeEC2ServiceCount</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>activeFargateServiceCount</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>drainingEC2ServiceCount</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>drainingFargateServiceCount</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ecs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that you apply to the cluster to help you categorize and organize them.\n\t\t\tEach tag consists of a key and an optional value, both of which you define.</p>\n\t\t       <p>The following basic restrictions apply to tags:</p>\n        <ul>\n            <li>\n                <p>Maximum number of tags per resource - 50</p>\n            </li>\n            <li>\n                <p>For each resource, each tag key must be unique, and each tag key can have only\n                    one value.</p>\n            </li>\n            <li>\n                <p>Maximum key length - 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>Maximum value length - 256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>If your tagging schema is used across multiple services and resources,\n                    remember that other services may have restrictions on allowed characters.\n                    Generally allowed characters are: letters, numbers, and spaces representable in\n                    UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n                <p>Tag keys and values are case-sensitive.</p>\n            </li>\n            <li>\n                <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase\n                    combination of such as a prefix for either keys or values as it is reserved for\n                    Amazon Web Services use. You cannot edit or delete tag keys or values with this prefix. Tags with\n                    this prefix do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        },
        "settings": {
          "target": "com.amazonaws.ecs#ClusterSettings",
          "traits": {
            "smithy.api#documentation": "<p>The settings for the cluster. This parameter indicates whether CloudWatch Container Insights\n\t\t\tis enabled or disabled for a cluster.</p>"
          }
        },
        "capacityProviders": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The capacity providers associated with the cluster.</p>"
          }
        },
        "defaultCapacityProviderStrategy": {
          "target": "com.amazonaws.ecs#CapacityProviderStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The default capacity provider strategy for the cluster. When services or tasks are run\n\t\t\tin the cluster with no launch type or capacity provider strategy specified, the default\n\t\t\tcapacity provider strategy is used.</p>"
          }
        },
        "attachments": {
          "target": "com.amazonaws.ecs#Attachments",
          "traits": {
            "smithy.api#documentation": "<p>The resources attached to a cluster. When using a capacity provider with a cluster,\n\t\t\tthe Auto Scaling plan that is created will be returned as a cluster attachment.</p>"
          }
        },
        "attachmentsStatus": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the capacity providers associated with the cluster. The following are\n\t\t\tthe states that will be returned:</p>\n\t\t       <dl>\n            <dt>UPDATE_IN_PROGRESS</dt>\n            <dd>\n\t\t\t\t\t          <p>The available capacity providers for the cluster are updating. This occurs\n\t\t\t\t\t\twhen the Auto Scaling plan is provisioning or deprovisioning.</p>\n\t\t\t\t        </dd>\n            <dt>UPDATE_COMPLETE</dt>\n            <dd>\n\t\t\t\t\t          <p>The capacity providers have successfully updated.</p>\n\t\t\t\t        </dd>\n            <dt>UPDATE_FAILED</dt>\n            <dd>\n\t\t\t\t\t          <p>The capacity provider updates failed.</p>\n\t\t\t\t        </dd>\n         </dl>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A regional grouping of one or more container instances on which you can run task\n\t\t\trequests. Each account receives a default cluster the first time you use the Amazon ECS\n\t\t\tservice, but you may also create other clusters. Clusters may contain more than one\n\t\t\tinstance type simultaneously.</p>"
      }
    },
    "com.amazonaws.ecs#ClusterConfiguration": {
      "type": "structure",
      "members": {
        "executeCommandConfiguration": {
          "target": "com.amazonaws.ecs#ExecuteCommandConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The details of the execute command configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The execute command configuration for the cluster.</p>"
      }
    },
    "com.amazonaws.ecs#ClusterContainsContainerInstancesException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You cannot delete a cluster that has registered container instances. First, deregister\n\t\t\tthe container instances before you can delete the cluster. For more information, see\n\t\t\t\t<a>DeregisterContainerInstance</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterContainsServicesException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You cannot delete a cluster that contains services. First, update the service to\n\t\t\treduce its desired task count to 0 and then delete the service. For more information,\n\t\t\tsee <a>UpdateService</a> and <a>DeleteService</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterContainsTasksException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You cannot delete a cluster that has active tasks.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ATTACHMENTS",
            "name": "ATTACHMENTS"
          },
          {
            "value": "CONFIGURATIONS",
            "name": "CONFIGURATIONS"
          },
          {
            "value": "SETTINGS",
            "name": "SETTINGS"
          },
          {
            "value": "STATISTICS",
            "name": "STATISTICS"
          },
          {
            "value": "TAGS",
            "name": "TAGS"
          }
        ]
      }
    },
    "com.amazonaws.ecs#ClusterFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#ClusterField"
      }
    },
    "com.amazonaws.ecs#ClusterNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ecs#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified cluster could not be found. You can view your available clusters with\n\t\t\t\t<a>ListClusters</a>. Amazon ECS clusters are Region-specific.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.ecs#ClusterSetting": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ecs#ClusterSettingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster setting. The only supported value is\n\t\t\t\t<code>containerInsights</code>.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The value to set for the cluster setting. The supported values are\n\t\t\t\t<code>enabled</code> and <code>disabled</code>. If <code>enabled</code> is\n\t\t\tspecified, CloudWatch Container Insights will be enabled for the cluster, otherwise it will be\n\t\t\tdisabled unless the <code>containerInsights</code> account setting is enabled. If a\n\t\t\tcluster value is specified, it will override the <code>containerInsights</code> value\n\t\t\tset with <a>PutAccountSetting</a> or <a>PutAccountSettingDefault</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings to use when creating a cluster. This parameter is used to enable CloudWatch\n\t\t\tContainer Insights for a cluster.</p>"
      }
    },
    "com.amazonaws.ecs#ClusterSettingName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "containerInsights",
            "name": "CONTAINER_INSIGHTS"
          }
        ]
      }
    },
    "com.amazonaws.ecs#ClusterSettings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#ClusterSetting"
      }
    },
    "com.amazonaws.ecs#Clusters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Cluster"
      }
    },
    "com.amazonaws.ecs#Compatibility": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EC2",
            "name": "EC2"
          },
          {
            "value": "FARGATE",
            "name": "FARGATE"
          },
          {
            "value": "EXTERNAL",
            "name": "EXTERNAL"
          }
        ]
      }
    },
    "com.amazonaws.ecs#CompatibilityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ecs#Compatibility"
      }
    },
    "com.amazonaws.ecs#Connectivity": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CONNECTED",
            "name": "CONNECTED"
          },
          {
            "value": "DISCONNECTED",
            "name": "DISCONNECTED"
          }
        ]
      }
    },
    "com.amazonaws.ecs#Container": {
      "type": "structure",
      "members": {
        "containerArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container.</p>"
          }
        },
        "taskArn": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the task.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the container.</p>"
          }
        },
        "image": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The image used for the container.</p>"
          }
        },
        "imageDigest": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The container image manifest digest.</p>\n\t\t       <note>\n\t\t\t         <p>The <code>imageDigest</code> is only returned if the container is using an image\n\t\t\t\thosted in Amazon ECR, otherwise it is omitted.</p>\n\t\t       </note>"
          }
        },
        "runtimeId": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Docker container.</p>"
          }
        },
        "lastStatus": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The last known status of the container.</p>"
          }
        },
        "exitCode": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>The exit code returned from the container.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details about\n\t\t\ta running or stopped container.</p>"
          }
        },
        "networkBindings": {
          "target": "com.amazonaws.ecs#NetworkBindings",
          "traits": {
            "smithy.api#documentation": "<p>The network bindings associated with the container.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.ecs#NetworkInterfaces",
          "traits": {
            "smithy.api#documentation": "<p>The network interfaces associated with the container.</p>"
          }
        },
        "healthStatus": {
          "target": "com.amazonaws.ecs#HealthStatus",
          "traits": {
            "smithy.api#documentation": "<p>The health status of the container. If health checks are not configured for this\n\t\t\tcontainer in its task definition, then it reports the health status as\n\t\t\t\t<code>UNKNOWN</code>.</p>"
          }
        },
        "managedAgents": {
          "target": "com.amazonaws.ecs#ManagedAgents",
          "traits": {
            "smithy.api#documentation": "<p>The details of any Amazon ECS managed agents associated with the container.</p>"
          }
        },
        "cpu": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The number of CPU units set for the container. The value will be <code>0</code> if no\n\t\t\tvalue was specified in the container definition when the task definition was\n\t\t\tregistered.</p>"
          }
        },
        "memory": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The hard limit (in MiB) of memory set for the container.</p>"
          }
        },
        "memoryReservation": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The soft limit (in MiB) of memory set for the container.</p>"
          }
        },
        "gpuIds": {
          "target": "com.amazonaws.ecs#GpuIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of each GPU assigned to the container.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Docker container that is part of a task.</p>"
      }
    },
    "com.amazonaws.ecs#ContainerCondition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "START",
            "name": "START"
          },
          {
            "value": "COMPLETE",
            "name": "COMPLETE"
          },
          {
            "value": "SUCCESS",
            "name": "SUCCESS"
          },
          {
            "value": "HEALTHY",
            "name": "HEALTHY"
          }
        ]
      }
    },
    "com.amazonaws.ecs#ContainerDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a container. If you are linking multiple containers together in a task\n\t\t\tdefinition, the <code>name</code> of one container can be entered in the\n\t\t\t\t<code>links</code> of another container to connect the containers.\n\t\t\tUp to 255 letters (uppercase and lowercase), numbers, underscores, and hyphens are allowed. This parameter maps to <code>name</code> in the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>--name</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\trun</a>. </p>"
          }
        },
        "image": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The image used to start a container. This string is passed directly to the Docker\n\t\t\tdaemon. Images in the Docker Hub registry are available by default. Other repositories\n\t\t\tare specified with either <code>\n\t\t\t\t           <i>repository-url</i>/<i>image</i>:<i>tag</i>\n\t\t\t         </code> or <code>\n\t\t\t\t           <i>repository-url</i>/<i>image</i>@<i>digest</i>\n\t\t\t         </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\t\trun</a>.</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>When a new task starts, the Amazon ECS container agent pulls the latest version of\n\t\t\t\t\tthe specified image and tag for the container to use. However, subsequent\n\t\t\t\t\tupdates to a repository image are not propagated to already running\n\t\t\t\t\ttasks.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Images in Amazon ECR repositories can be specified by either using the full\n\t\t\t\t\t\t<code>registry/repository:tag</code> or\n\t\t\t\t\t\t<code>registry/repository@digest</code>. For example,\n\t\t\t\t\t\t<code>012345678910.dkr.ecr.<region-name>.amazonaws.com/<repository-name>:latest</code>\n\t\t\t\t\tor\n\t\t\t\t\t\t<code>012345678910.dkr.ecr.<region-name>.amazonaws.com/<repository-name>@sha256:94afd1f2e64d908bc90dbca0035a5b567EXAMPLE</code>.\n\t\t\t\t</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Images in official repositories on Docker Hub use a single name (for example,\n\t\t\t\t\t\t<code>ubuntu</code> or <code>mongo</code>).</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Images in other repositories on Docker Hub are qualified with an organization\n\t\t\t\t\tname (for example, <code>amazon/amazon-ecs-agent</code>).</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Images in other online repositories are qualified further by a domain name\n\t\t\t\t\t(for example, <code>quay.io/assemblyline/ubuntu</code>).</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "repositoryCredentials": {
          "target": "com.amazonaws.ecs#RepositoryCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The private repository authentication credentials to use.</p>"
          }
        },
        "cpu": {
          "target": "com.amazonaws.ecs#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of <code>cpu</code> units reserved for the container. This parameter maps\n\t\t\tto <code>CpuShares</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--cpu-shares</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>\n\t\t       <p>This field is optional for tasks using the Fargate launch type, and the\n\t\t\tonly requirement is that the total amount of CPU reserved for all containers within a\n\t\t\ttask be lower than the task-level <code>cpu</code> value.</p>\n\t\t       <note>\n\t\t\t         <p>You can determine the number of CPU units that are available per EC2 instance type\n\t\t\t\tby multiplying the vCPUs listed for that instance type on the <a href=\"http://aws.amazon.com/ec2/instance-types/\">Amazon EC2 Instances</a> detail page\n\t\t\t\tby 1,024.</p>\n\t\t       </note>\n\t\t       <p>Linux containers share unallocated CPU units with other containers on the container\n\t\t\tinstance with the same ratio as their allocated amount. For example, if you run a\n\t\t\tsingle-container task on a single-core instance type with 512 CPU units specified for\n\t\t\tthat container, and that is the only task running on the container instance, that\n\t\t\tcontainer could use the full 1,024 CPU unit share at any given time. However, if you\n\t\t\tlaunched another copy of the same task on that container instance, each task would be\n\t\t\tguaranteed a minimum of 512 CPU units when needed, and each container could float to\n\t\t\thigher CPU usage if the other container was not using it, but if both tasks were 100%\n\t\t\tactive all of the time, they would be limited to 512 CPU units.</p>\n\t\t       <p>On Linux container instances, the Docker daemon on the container instance uses the CPU\n\t\t\tvalue to calculate the relative CPU share ratios for running containers. For more\n\t\t\tinformation, see <a href=\"https://docs.docker.com/engine/reference/run/#cpu-share-constraint\">CPU share\n\t\t\t\tconstraint</a> in the Docker documentation. The minimum valid CPU share value\n\t\t\tthat the Linux kernel allows is 2. However, the CPU parameter is not required, and you\n\t\t\tcan use CPU values below 2 in your container definitions. For CPU values below 2\n\t\t\t(including null), the behavior varies based on your Amazon ECS container agent\n\t\t\tversion:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n\t\t\t\t\t             <b>Agent versions less than or equal to 1.1.0:</b>\n\t\t\t\t\tNull and zero CPU values are passed to Docker as 0, which Docker then converts\n\t\t\t\t\tto 1,024 CPU shares. CPU values of 1 are passed to Docker as 1, which the Linux\n\t\t\t\t\tkernel converts to two CPU shares.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n\t\t\t\t\t             <b>Agent versions greater than or equal to 1.2.0:</b>\n\t\t\t\t\tNull, zero, and CPU values of 1 are passed to Docker as 2.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>On Windows container instances, the CPU limit is enforced as an absolute limit, or a\n\t\t\tquota. Windows containers only have access to the specified amount of CPU that is\n\t\t\tdescribed in the task definition. A null or zero CPU value is passed to Docker as\n\t\t\t\t<code>0</code>, which Windows interprets as 1% of one CPU.</p>"
          }
        },
        "memory": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>The amount (in MiB) of memory to present to the container. If your container attempts\n\t\t\tto exceed the memory specified here, the container is killed. The total amount of memory\n\t\t\treserved for all containers within a task must be lower than the task\n\t\t\t\t<code>memory</code> value, if one is specified. This parameter maps to\n\t\t\t\t<code>Memory</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>\n\t\t       <p>If using the Fargate launch type, this parameter is optional.</p>\n\t\t       <p>If using the EC2 launch type, you must specify either a task-level\n\t\t\tmemory value or a container-level memory value. If you specify both a container-level\n\t\t\t\t<code>memory</code> and <code>memoryReservation</code> value, <code>memory</code>\n\t\t\tmust be greater than <code>memoryReservation</code>. If you specify\n\t\t\t\t<code>memoryReservation</code>, then that value is subtracted from the available\n\t\t\tmemory resources for the container instance on which the container is placed. Otherwise,\n\t\t\tthe value of <code>memory</code> is used.</p>\n\t\t       <p>The Docker daemon reserves a minimum of 4 MiB of memory for a container, so you should\n\t\t\tnot specify fewer than 4 MiB of memory for your containers.</p>"
          }
        },
        "memoryReservation": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>The soft limit (in MiB) of memory to reserve for the container. When system memory is\n\t\t\tunder heavy contention, Docker attempts to keep the container memory to this soft limit.\n\t\t\tHowever, your container can consume more memory when it needs to, up to either the hard\n\t\t\tlimit specified with the <code>memory</code> parameter (if applicable), or all of the\n\t\t\tavailable memory on the container instance, whichever comes first. This parameter maps\n\t\t\tto <code>MemoryReservation</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of\n\t\t\tthe <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--memory-reservation</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>\n\t\t       <p>If a task-level memory value is not specified, you must specify a non-zero integer for\n\t\t\tone or both of <code>memory</code> or <code>memoryReservation</code> in a container\n\t\t\tdefinition. If you specify both, <code>memory</code> must be greater than\n\t\t\t\t<code>memoryReservation</code>. If you specify <code>memoryReservation</code>, then\n\t\t\tthat value is subtracted from the available memory resources for the container instance\n\t\t\ton which the container is placed. Otherwise, the value of <code>memory</code> is\n\t\t\tused.</p>\n\t\t       <p>For example, if your container normally uses 128 MiB of memory, but occasionally\n\t\t\tbursts to 256 MiB of memory for short periods of time, you can set a\n\t\t\t\t<code>memoryReservation</code> of 128 MiB, and a <code>memory</code> hard limit of\n\t\t\t300 MiB. This configuration would allow the container to only reserve 128 MiB of memory\n\t\t\tfrom the remaining resources on the container instance, but also allow the container to\n\t\t\tconsume more memory resources when needed.</p>\n\t\t       <p>The Docker daemon reserves a minimum of 4 MiB of memory for a container, so you should\n\t\t\tnot specify fewer than 4 MiB of memory for your containers. </p>"
          }
        },
        "links": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The <code>links</code> parameter allows containers to communicate with each other\n\t\t\twithout the need for port mappings. This parameter is only supported if the network mode\n\t\t\tof a task definition is <code>bridge</code>. The <code>name:internalName</code>\n\t\t\tconstruct is analogous to <code>name:alias</code> in Docker links.\n\t\t\tUp to 255 letters (uppercase and lowercase), numbers, underscores, and hyphens are allowed. For more information about linking Docker containers, go to\n\t\t\t\t<a href=\"https://docs.docker.com/network/links/\">Legacy container links</a>\n\t\t\tin the Docker documentation. This parameter maps to <code>Links</code> in the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>--link</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\trun</a>.</p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note> \n         <important>\n\t\t\t         <p>Containers that are collocated on a single container instance may be able to\n\t\t\t\tcommunicate with each other without requiring links or host port mappings. Network\n\t\t\t\tisolation is achieved on the container instance using security groups and VPC\n\t\t\t\tsettings.</p>\n\t\t       </important>"
          }
        },
        "portMappings": {
          "target": "com.amazonaws.ecs#PortMappingList",
          "traits": {
            "smithy.api#documentation": "<p>The list of port mappings for the container. Port mappings allow containers to access\n\t\t\tports on the host container instance to send or receive traffic.</p>\n\t\t       <p>For task definitions that use the <code>awsvpc</code> network mode, you should only\n\t\t\tspecify the <code>containerPort</code>. The <code>hostPort</code> can be left blank or\n\t\t\tit must be the same value as the <code>containerPort</code>.</p>\n\t\t       <p>Port mappings on Windows use the <code>NetNAT</code> gateway address rather than\n\t\t\t\t<code>localhost</code>. There is no loopback for port mappings on Windows, so you\n\t\t\tcannot access a container's mapped port from the host itself. </p>\n\t\t       <p>This parameter maps to <code>PortBindings</code> in the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>--publish</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\t\trun</a>. If the network mode of a task definition is set to <code>none</code>,\n\t\t\tthen you can't specify port mappings. If the network mode of a task definition is set to\n\t\t\t\t<code>host</code>, then host ports must either be undefined or they must match the\n\t\t\tcontainer port in the port mapping.</p>\n\t\t       <note>\n\t\t\t         <p>After a task reaches the <code>RUNNING</code> status, manual and automatic host\n\t\t\t\tand container port assignments are visible in the <b>Network\n\t\t\t\t\tBindings</b> section of a container description for a selected task in\n\t\t\t\tthe Amazon ECS console. The assignments are also visible in the\n\t\t\t\t\t<code>networkBindings</code> section <a>DescribeTasks</a>\n\t\t\t\tresponses.</p>\n\t\t       </note>"
          }
        },
        "essential": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>essential</code> parameter of a container is marked as <code>true</code>,\n\t\t\tand that container fails or stops for any reason, all other containers that are part of\n\t\t\tthe task are stopped. If the <code>essential</code> parameter of a container is marked\n\t\t\tas <code>false</code>, then its failure does not affect the rest of the containers in a\n\t\t\ttask. If this parameter is omitted, a container is assumed to be essential.</p>\n\t\t       <p>All tasks must have at least one essential container. If you have an application that\n\t\t\tis composed of multiple containers, you should group containers that are used for a\n\t\t\tcommon purpose into components, and separate the different components into multiple task\n\t\t\tdefinitions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/application_architecture.html\">Application\n\t\t\t\tArchitecture</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "entryPoint": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<important>\n\t\t\t         <p>Early versions of the Amazon ECS container agent do not properly handle\n\t\t\t\t\t<code>entryPoint</code> parameters. If you have problems using\n\t\t\t\t\t<code>entryPoint</code>, update your container agent or enter your commands and\n\t\t\t\targuments as <code>command</code> array items instead.</p>\n\t\t       </important>\n\t\t       <p>The entry point that is passed to the container. This parameter maps to\n\t\t\t\t<code>Entrypoint</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--entrypoint</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>. For more information, see <a href=\"https://docs.docker.com/engine/reference/builder/#entrypoint\">https://docs.docker.com/engine/reference/builder/#entrypoint</a>.</p>"
          }
        },
        "command": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command that is passed to the container. This parameter maps to <code>Cmd</code>\n\t\t\tin the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>COMMAND</code> parameter to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\t\trun</a>. For more information, see <a href=\"https://docs.docker.com/engine/reference/builder/#cmd\">https://docs.docker.com/engine/reference/builder/#cmd</a>. If there are multiple arguments, each\n\t\t\targument should be a separated string in the array.</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.ecs#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to pass to a container. This parameter maps to\n\t\t\t\t<code>Env</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--env</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>\n\t\t       <important>\n\t\t\t         <p>We do not recommend using plaintext environment variables for sensitive\n\t\t\t\tinformation, such as credential data.</p>\n\t\t       </important>"
          }
        },
        "environmentFiles": {
          "target": "com.amazonaws.ecs#EnvironmentFiles",
          "traits": {
            "smithy.api#documentation": "<p>A list of files containing the environment variables to pass to a container. This\n\t\t\tparameter maps to the <code>--env-file</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>\n\t\t       <p>You can specify up to ten environment files. The file must have a <code>.env</code>\n\t\t\tfile extension. Each line in an environment file should contain an environment variable\n\t\t\tin <code>VARIABLE=VALUE</code> format. Lines beginning with <code>#</code> are treated\n\t\t\tas comments and are ignored. For more information on the environment variable file\n\t\t\tsyntax, see <a href=\"https://docs.docker.com/compose/env-file/\">Declare default\n\t\t\t\tenvironment variables in file</a>.</p>\n\t\t       <p>If there are environment variables specified using the <code>environment</code>\n\t\t\tparameter in a container definition, they take precedence over the variables contained\n\t\t\twithin an environment file. If multiple environment files are specified that contain the\n\t\t\tsame variable, they are processed from the top down. It is recommended to use unique\n\t\t\tvariable names. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/taskdef-envfiles.html\">Specifying Environment\n\t\t\t\tVariables</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "mountPoints": {
          "target": "com.amazonaws.ecs#MountPointList",
          "traits": {
            "smithy.api#documentation": "<p>The mount points for data volumes in your container.</p>\n\t\t       <p>This parameter maps to <code>Volumes</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a>\n\t\t\tsection of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--volume</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>\n\t\t       <p>Windows containers can mount whole directories on the same drive as\n\t\t\t\t<code>$env:ProgramData</code>. Windows containers cannot mount directories on a\n\t\t\tdifferent drive, and mount point cannot be across drives.</p>"
          }
        },
        "volumesFrom": {
          "target": "com.amazonaws.ecs#VolumeFromList",
          "traits": {
            "smithy.api#documentation": "<p>Data volumes to mount from another container. This parameter maps to\n\t\t\t\t<code>VolumesFrom</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--volumes-from</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>"
          }
        },
        "linuxParameters": {
          "target": "com.amazonaws.ecs#LinuxParameters",
          "traits": {
            "smithy.api#documentation": "<p>Linux-specific modifications that are applied to the container, such as Linux kernel\n\t\t\tcapabilities. For more information see <a>KernelCapabilities</a>.</p>\n\t\t       <note>\n\t\t\t         <p>This parameter is not supported for Windows containers.</p>\n\t\t       </note>"
          }
        },
        "secrets": {
          "target": "com.amazonaws.ecs#SecretList",
          "traits": {
            "smithy.api#documentation": "<p>The secrets to pass to the container. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/specifying-sensitive-data.html\">Specifying\n\t\t\t\tSensitive Data</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "dependsOn": {
          "target": "com.amazonaws.ecs#ContainerDependencies",
          "traits": {
            "smithy.api#documentation": "<p>The dependencies defined for container startup and shutdown. A container can contain\n\t\t\tmultiple dependencies. When a dependency is defined for container startup, for container\n\t\t\tshutdown it is reversed.</p>\n\t\t       <p>For tasks using the EC2 launch type, the container instances require at\n\t\t\tleast version 1.26.0 of the container agent to enable container dependencies. However,\n\t\t\twe recommend using the latest container agent version. For information about checking\n\t\t\tyour agent version and updating to the latest version, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-update.html\">Updating the Amazon ECS\n\t\t\t\tContainer Agent</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. If you are\n\t\t\tusing an Amazon ECS-optimized Linux AMI, your instance needs at least version 1.26.0-1 of the\n\t\t\t\t<code>ecs-init</code> package. If your container instances are launched from version\n\t\t\t\t<code>20190301</code> or later, then they contain the required versions of the\n\t\t\tcontainer agent and <code>ecs-init</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html\">Amazon ECS-optimized Linux AMI</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n\t\t       <p>For tasks using the Fargate launch type, the task or service requires\n\t\t\tplatform version <code>1.3.0</code> or later.</p>"
          }
        },
        "startTimeout": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>Time duration (in seconds) to wait before giving up on resolving dependencies for a\n\t\t\tcontainer. For example, you specify two containers in a task definition with containerA\n\t\t\thaving a dependency on containerB reaching a <code>COMPLETE</code>,\n\t\t\t<code>SUCCESS</code>, or <code>HEALTHY</code> status. If a <code>startTimeout</code>\n\t\t\tvalue is specified for containerB and it does not reach the desired status within that\n\t\t\ttime then containerA will give up and not start. This results in the task transitioning\n\t\t\tto a <code>STOPPED</code> state.</p>\n\t\t       <note>\n\t\t\t         <p>When the <code>ECS_CONTAINER_START_TIMEOUT</code> container agent configuration\n\t\t\t\tvariable is used, it is enforced indendently from this start timeout value.</p>\n\t\t       </note>\n\t\t       <p>For tasks using the Fargate launch type, this parameter requires that\n\t\t\tthe task or service uses platform version 1.3.0 or later.</p>\n\t\t       <p>For tasks using the EC2 launch type, your container instances require at\n\t\t\tleast version <code>1.26.0</code> of the container agent to enable a container start\n\t\t\ttimeout value. However, we recommend using the latest container agent version. For\n\t\t\tinformation about checking your agent version and updating to the latest version, see\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-update.html\">Updating the Amazon ECS\n\t\t\t\tContainer Agent</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. If you are\n\t\t\tusing an Amazon ECS-optimized Linux AMI, your instance needs at least version <code>1.26.0-1</code> of\n\t\t\tthe <code>ecs-init</code> package. If your container instances are launched from version\n\t\t\t\t<code>20190301</code> or later, then they contain the required versions of the\n\t\t\tcontainer agent and <code>ecs-init</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html\">Amazon ECS-optimized Linux AMI</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "stopTimeout": {
          "target": "com.amazonaws.ecs#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>Time duration (in seconds) to wait before the container is forcefully killed if it\n\t\t\tdoesn't exit normally on its own.</p>\n\t\t       <p>For tasks using the Fargate launch type, the task or service requires\n\t\t\tplatform version 1.3.0 or later. The max stop timeout value is 120 seconds and if the\n\t\t\tparameter is not specified, the default value of 30 seconds is used.</p>\n\t\t       <p>For tasks using the EC2 launch type, if the <code>stopTimeout</code>\n\t\t\tparameter is not specified, the value set for the Amazon ECS container agent configuration\n\t\t\tvariable <code>ECS_CONTAINER_STOP_TIMEOUT</code> is used by default. If neither the\n\t\t\t\t<code>stopTimeout</code> parameter or the <code>ECS_CONTAINER_STOP_TIMEOUT</code>\n\t\t\tagent configuration variable are set, then the default values of 30 seconds for Linux\n\t\t\tcontainers and 30 seconds on Windows containers are used. Your container instances\n\t\t\trequire at least version 1.26.0 of the container agent to enable a container stop\n\t\t\ttimeout value. However, we recommend using the latest container agent version. For\n\t\t\tinformation about checking your agent version and updating to the latest version, see\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-update.html\">Updating the Amazon ECS\n\t\t\t\tContainer Agent</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. If you are\n\t\t\tusing an Amazon ECS-optimized Linux AMI, your instance needs at least version 1.26.0-1 of the\n\t\t\t\t<code>ecs-init</code> package. If your container instances are launched from version\n\t\t\t\t<code>20190301</code> or later, then they contain the required versions of the\n\t\t\tcontainer agent and <code>ecs-init</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html\">Amazon ECS-optimized Linux AMI</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "hostname": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The hostname to use for your container. This parameter maps to <code>Hostname</code>\n\t\t\tin the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>--hostname</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\t\trun</a>.</p>\n\t\t       <note>\n\t\t\t         <p>The <code>hostname</code> parameter is not supported if you are using the\n\t\t\t\t\t<code>awsvpc</code> network mode.</p>\n\t\t       </note>"
          }
        },
        "user": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The user to use inside the container. This parameter maps to <code>User</code> in the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>--user</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\trun</a>.</p>\n\t\t       <important>\n\t\t\t         <p>When running tasks using the <code>host</code> network mode, you should not run\n\t\t\t\tcontainers using the root user (UID 0). It is considered best practice to use a\n\t\t\t\tnon-root user.</p>\n\t\t       </important>\n\t\t       <p>You can specify the <code>user</code> using the following formats. If specifying a UID\n\t\t\tor GID, you must specify it as a positive integer.</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>user</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>user:group</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>uid</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>uid:gid</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>user:gid</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>uid:group</code>\n               </p>\n\t\t\t         </li>\n         </ul> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "workingDirectory": {
          "target": "com.amazonaws.ecs#String",
          "traits": {
            "smithy.api#documentation": "<p>The working directory in which to run commands inside the container. This parameter\n\t\t\tmaps to <code>WorkingDir</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--workdir</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>"
          }
        },
        "disableNetworking": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, networking is disabled within the container. This\n\t\t\tparameter maps to <code>NetworkDisabled</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a>\n\t\t\tsection of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a>.</p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "privileged": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given elevated privileges on the host\n\t\t\tcontainer instance (similar to the <code>root</code> user). This parameter maps to\n\t\t\t\t<code>Privileged</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--privileged</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p> \n         <note>\n                                <p>This parameter is not supported for Windows containers or tasks run on Fargate.</p>\n                             </note>"
          }
        },
        "readonlyRootFilesystem": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given read-only access to its root file\n\t\t\tsystem. This parameter maps to <code>ReadonlyRootfs</code> in the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>--read-only</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\t\trun</a>.</p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "dnsServers": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of DNS servers that are presented to the container. This parameter maps to\n\t\t\t\t<code>Dns</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--dns</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "dnsSearchDomains": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of DNS search domains that are presented to the container. This parameter maps\n\t\t\tto <code>DnsSearch</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--dns-search</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "extraHosts": {
          "target": "com.amazonaws.ecs#HostEntryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of hostnames and IP address mappings to append to the <code>/etc/hosts</code>\n\t\t\tfile on the container. This parameter maps to <code>ExtraHosts</code> in the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>--add-host</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\t\trun</a>.</p>\n\t\t       <note>\n\t\t\t         <p>This parameter is not supported for Windows containers or tasks that use the\n\t\t\t\t\t<code>awsvpc</code> network mode.</p>\n\t\t       </note>"
          }
        },
        "dockerSecurityOptions": {
          "target": "com.amazonaws.ecs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of strings to provide custom labels for SELinux and AppArmor multi-level\n\t\t\tsecurity systems. This field is not valid for containers in tasks using the\n\t\t\tFargate launch type.</p>\n\t\t       <p>With Windows containers, this parameter can be used to reference a credential spec\n\t\t\tfile when configuring a container for Active Directory authentication. For more\n\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/windows-gmsa.html\">Using gMSAs for Windows\n\t\t\t\tContainers</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n\t\t       <p>This parameter maps to <code>SecurityOpt</code> in the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>--security-opt</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\t\trun</a>.</p>\n\t\t       <note>\n\t\t\t         <p>The Amazon ECS container agent running on a container instance must register with the\n\t\t\t\t\t<code>ECS_SELINUX_CAPABLE=true</code> or <code>ECS_APPARMOR_CAPABLE=true</code>\n\t\t\t\tenvironment variables before containers placed on that instance can use these\n\t\t\t\tsecurity options. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon ECS Container\n\t\t\t\t\tAgent Configuration</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n\t\t       </note>\n\t\t       <p>For more information about valid values, see <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">Docker\n\t\t\t\tRun Security Configuration</a>. </p>\n\t\t       <p>Valid values: \"no-new-privileges\" | \"apparmor:PROFILE\" | \"label:value\" |\n\t\t\t\"credentialspec:CredentialSpecFilePath\"</p>"
          }
        },
        "interactive": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is <code>true</code>, this allows you to deploy containerized\n\t\t\tapplications that require <code>stdin</code> or a <code>tty</code> to be allocated. This\n\t\t\tparameter maps to <code>OpenStdin</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a>\n\t\t\tsection of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--interactive</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>"
          }
        },
        "pseudoTerminal": {
          "target": "com.amazonaws.ecs#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is <code>true</code>, a TTY is allocated. This parameter maps to\n\t\t\t\t<code>Tty</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--tty</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>"
          }
        },
        "dockerLabels": {
          "target": "com.amazonaws.ecs#DockerLabelsMap",
          "traits": {
            "smithy.api#documentation": "<p>A key/value map of labels to add to the container. This parameter maps to\n\t\t\t\t<code>Labels</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--label</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>. This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log in to your container instance and run the following command: <code>sudo docker version --format '{{.Server.APIVersion}}'</code> \n         </p>"
          }
        },
        "ulimits": {
          "target": "com.amazonaws.ecs#UlimitList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>ulimits</code> to set in the container. If a ulimit value is specified\n\t\t\tin a task definition, it will override the default values set by Docker. This parameter\n\t\t\tmaps to <code>Ulimits</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--ulimit</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>. Valid naming values are displayed\n\t\t\tin the <a>Ulimit</a> data type.</p>\n\t\t       <p>Amazon ECS tasks hosted on Fargate use the default\n\t\t\t\t\t\t\tresource limit values set by the operating system with the exception of\n\t\t\t\t\t\t\tthe <code>nofile</code> resource limit parameter which Fargate\n\t\t\t\t\t\t\toverrides. The <code>nofile</code> resource limit sets a restriction on\n\t\t\t\t\t\t\tthe number of open files that a container can use. The default\n\t\t\t\t\t\t\t\t<code>nofile</code> soft limit is <code>1024</code> and hard limit\n\t\t\t\t\t\t\tis <code>4096</code>.</p>\n\t\t       <p>This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log in to your container instance and run the following command: <code>sudo docker version --format '{{.Server.APIVersion}}'</code>\n         </p> \n         <note>\n                        <p>This parameter is not supported for Windows containers.</p>\n                     </note>"
          }
        },
        "logConfiguration": {
          "target": "com.amazonaws.ecs#LogConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The log configuration specification for the container.</p>\n\t\t       <p>This parameter maps to <code>LogConfig</code> in the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>--log-driver</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\t\trun</a>. By default, containers use the same logging driver that the Docker\n\t\t\tdaemon uses. However the container may use a different logging driver than the Docker\n\t\t\tdaemon by specifying a log driver with this parameter in the container definition. To\n\t\t\tuse a different logging driver for a container, the log system must be configured\n\t\t\tproperly on the container instance (or on a different log server for remote logging\n\t\t\toptions). For more information on the options for different supported log drivers, see\n\t\t\t\t<a href=\"https://docs.docker.com/engine/admin/logging/overview/\">Configure\n\t\t\t\tlogging drivers</a> in the Docker documentation.</p>\n\t\t       <note>\n\t\t\t         <p>Amazon ECS currently supports a subset of the logging drivers available to the Docker\n\t\t\t\tdaemon (shown in the <a>LogConfiguration</a> data type). Additional log\n\t\t\t\tdrivers may be available in future releases of the Amazon ECS container agent.</p>\n\t\t       </note>\n\t\t       <p>This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log in to your container instance and run the following command: <code>sudo docker version --format '{{.Server.APIVersion}}'</code> \n         </p>\n\t\t       <note>\n\t\t\t         <p>The Amazon ECS container agent running on a container instance must register the\n\t\t\t\tlogging drivers available on that instance with the\n\t\t\t\t\t<code>ECS_AVAILABLE_LOGGING_DRIVERS</code> environment variable before\n\t\t\t\tcontainers placed on that instance can use these log configuration options. For more\n\t\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon ECS Container\n\t\t\t\t\tAgent Configuration</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n\t\t       </note>"
          }
        },
        "healthCheck": {
          "target": "com.amazonaws.ecs#HealthCheck",
          "traits": {
            "smithy.api#documentation": "<p>The container health check command and associated configuration parameters for the\n\t\t\tcontainer. This parameter maps to <code>HealthCheck</code> in the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the\n\t\t\t\t<code>HEALTHCHECK</code> parameter of <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker\n\t\t\t\trun</a>.</p>"
          }
        },
        "systemControls": {
          "target": "com.amazonaws.ecs#SystemControls",
          "traits": {
            "smithy.api#documentation": "<p>A list of namespaced kernel parameters to set in the container. This parameter maps to\n\t\t\t\t<code>Sysctls</code> in the <a href=\"https://docs.docker.com/engine/api/v1.35/#operation/ContainerCreate\">Create a container</a> section of the\n\t\t\t<a href=\"https://docs.docker.com/engine/api/v1.35/\">Docker Remote API</a> and the <code>--sysctl</code> option to <a href=\"https://docs.docker.com/engine/reference/run/#security-configuration\">docker run</a>.</p>\n\t\t       <note>\n\t\t\t         <p>It is not recommended that you specify network-related <code>systemControls</code>\n\t\t\t\tparameters for multiple containers in a single task that also uses either the\n\t\t\t\t\t<code>awsvpc</code> or <code>host</code> network modes. For tasks that use the\n\t\t\t\t\t<code>awsvpc</code> network mode, the container that is started last determines\n\t\t\t\twhich <code>systemControls</code> parameters take effect. For tasks that use the\n\t\t\t\t\t<code>host</code> network mode, it changes the container instance's namespaced\n\t\t\t\tkernel parameters as well as the containers.</p>\n\t\t       </note>"
          }
        },
        "resourceRequirements": {
          "target": "com.amazonaws.ecs#ResourceRequirements",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container. The only supported\n\t\t\tresource is a GPU.</p>"
          }
        },
        "firelensConfiguration": {
          "target": "com.amazonaws.ecs#FirelensConfiguration",
          "traits": {
[...]
