{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.efs#AccessPointAlreadyExists": {
      "type": "structure",
      "members": {
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the access point you are trying to create already exists, with the\n            creation token you provided in the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.efs#AccessPointArn": {
      "type": "string"
    },
    "com.amazonaws.efs#AccessPointDescription": {
      "type": "structure",
      "members": {
        "AccessPointArn": {
          "target": "com.amazonaws.efs#AccessPointArn",
          "traits": {
            "smithy.api#documentation": "<p>The  unique Amazon Resource Name (ARN) associated with the access point.</p>"
          }
        },
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access point, assigned by Amazon EFS.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.efs#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The opaque string specified in the request to ensure idempotent creation.</p>"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the EFS file system that the access point applies to.</p>"
          }
        },
        "LifeCycleState": {
          "target": "com.amazonaws.efs#LifeCycleState",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the lifecycle phase of the access point.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.efs#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access point. This is the value of the <code>Name</code> tag.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.efs#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>Identified the AWS account that owns the access point resource.</p>"
          }
        },
        "PosixUser": {
          "target": "com.amazonaws.efs#PosixUser",
          "traits": {
            "smithy.api#documentation": "<p>The full POSIX identity, including the user ID, group ID, and secondary group IDs on the access point that is used for all file operations by\n      NFS clients using the access point.</p>"
          }
        },
        "RootDirectory": {
          "target": "com.amazonaws.efs#RootDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The directory on the Amazon EFS file system that the access point exposes as the root directory to NFS clients using the access point.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the access point, presented as an array of Tag objects.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a description of an EFS file system access point.</p>"
      }
    },
    "com.amazonaws.efs#AccessPointDescriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.efs#AccessPointDescription"
      }
    },
    "com.amazonaws.efs#AccessPointId": {
      "type": "string"
    },
    "com.amazonaws.efs#AccessPointLimitExceeded": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the AWS account has already created the maximum number of access points\n            allowed per file system.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.efs#AccessPointNotFound": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the specified <code>AccessPointId</code> value doesn't exist in the\n            requester's AWS account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.efs#AvailabilityZoneId": {
      "type": "string"
    },
    "com.amazonaws.efs#AvailabilityZoneName": {
      "type": "string"
    },
    "com.amazonaws.efs#AwsAccountId": {
      "type": "string"
    },
    "com.amazonaws.efs#BadRequest": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the request is malformed or contains an error such as an invalid\n            parameter value or a missing required parameter.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.efs#BypassPolicyLockoutSafetyCheck": {
      "type": "boolean"
    },
    "com.amazonaws.efs#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.efs#CreateAccessPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateAccessPointRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#AccessPointDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointAlreadyExists"
        },
        {
          "target": "com.amazonaws.efs#AccessPointLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an EFS access point. An access point is an application-specific view into an EFS file system that applies an operating system user and\n      group, and a file system path, to any file system request made through the access point. The operating system\n      user and group override any identity information provided by the NFS client. The file system path is exposed as\n      the access point's root directory. Applications using the access point can only access data in its own directory and below. To learn more, see \n      <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-access-points.html\">Mounting a File System Using EFS Access Points</a>.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:CreateAccessPoint</code> action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/access-points",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#CreateAccessPointRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.efs#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters that Amazon EFS uses to ensure idempotent\n      creation.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the EFS file system that the access point provides access to.</p>",
            "smithy.api#required": {}
          }
        },
        "PosixUser": {
          "target": "com.amazonaws.efs#PosixUser",
          "traits": {
            "smithy.api#documentation": "<p>The operating system user and\n      group applied to all file system requests made using the access point.</p>"
          }
        },
        "RootDirectory": {
          "target": "com.amazonaws.efs#RootDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the directory on the Amazon EFS file system that the access point exposes as\n      the root directory of your file system to NFS clients using the access point. \n      The clients using the access point can only access the root directory and below. \n      If the <code>RootDirectory</code> > <code>Path</code> specified does not exist, \n      EFS creates it and applies the <code>CreationInfo</code> settings when a client connects to an access point. \n      When specifying a <code>RootDirectory</code>, you need to provide the <code>Path</code>, and the <code>CreationInfo</code> is optional.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Creates tags associated with the access point. Each tag is a key-value pair.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#CreateFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateFileSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#FileSystemDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemAlreadyExists"
        },
        {
          "target": "com.amazonaws.efs#FileSystemLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#InsufficientThroughputCapacity"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ThroughputLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new, empty file system. The operation requires a creation token in the\n      request that Amazon EFS uses to ensure idempotent creation (calling the operation with same\n      creation token has no effect). If a file system does not currently exist that is owned by the\n      caller's AWS account with the specified creation token, this operation does the\n      following:</p>\n         <ul>\n            <li>\n               <p>Creates a new, empty file system. The file system will have an Amazon EFS assigned\n          ID, and an initial lifecycle state <code>creating</code>.</p>\n            </li>\n            <li>\n               <p>Returns with the description of the created file system.</p>\n            </li>\n         </ul>\n         <p>Otherwise, this operation returns a <code>FileSystemAlreadyExists</code> error with the\n      ID of the existing file system.</p>\n         <note>\n            <p>For basic use cases, you can use a randomly generated UUID for the creation\n        token.</p>\n         </note>\n         <p> The idempotent operation allows you to retry a <code>CreateFileSystem</code> call without\n      risk of creating an extra file system. This can happen when an initial call fails in a way\n      that leaves it uncertain whether or not a file system was actually created. An example might\n      be that a transport level timeout occurred or your connection was reset. As long as you use\n      the same creation token, if the initial call had succeeded in creating a file system, the\n      client can learn of its existence from the <code>FileSystemAlreadyExists</code> error.</p>\n\n\n         <note>\n            <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle\n        state is still <code>creating</code>. You can check the file system creation status by\n        calling the <a>DescribeFileSystems</a> operation, which among other things returns the file\n        system state.</p>\n         </note>\n\n         <p>This operation also takes an optional <code>PerformanceMode</code> parameter that you\n      choose for your file system. We recommend <code>generalPurpose</code> performance mode for\n      most file systems. File systems using the <code>maxIO</code> performance mode can scale to\n      higher levels of aggregate throughput and operations per second with a tradeoff of slightly\n      higher latencies for most file operations. The performance mode can't be changed after\n      the file system has been created. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/performance.html#performancemodes.html\">Amazon EFS: Performance\n        Modes</a>.</p>\n\n         <p>After the file system is fully created, Amazon EFS sets its lifecycle state to\n        <code>available</code>, at which point you can create one or more mount targets for the file\n      system in your VPC. For more information, see <a>CreateMountTarget</a>. You mount your Amazon EFS file system on an EC2 instances in\n      your VPC by using the mount target. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p>\n\n         <p> This operation requires permissions for the\n        <code>elasticfilesystem:CreateFileSystem</code> action. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/file-systems",
          "code": 201
        }
      }
    },
    "com.amazonaws.efs#CreateFileSystemRequest": {
      "type": "structure",
      "members": {
        "CreationToken": {
          "target": "com.amazonaws.efs#CreationToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent\n      creation.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.efs#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that, if true, creates an encrypted file system. When creating an\n      encrypted file system, you have the option of specifying <a>CreateFileSystemRequest$KmsKeyId</a> for an existing AWS Key Management Service (AWS\n      KMS) customer master key (CMK). If you don't specify a CMK, then the default CMK for\n      Amazon EFS, <code>/aws/elasticfilesystem</code>, is used to protect the encrypted file system.\n    </p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.efs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS KMS CMK to be used to protect the encrypted file system. This\n      parameter is only required if you want to use a nondefault CMK. If this parameter is not\n      specified, the default CMK for Amazon EFS is used. This ID can be in one of the following\n      formats:</p>\n         <ul>\n            <li>\n               <p>Key ID - A unique identifier of the key, for example\n            <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>ARN - An Amazon Resource Name (ARN) for the key, for example\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>Key alias - A previously created display name for a key, for example\n            <code>alias/projectKey1</code>.</p>\n            </li>\n            <li>\n               <p>Key alias ARN - An ARN for a key alias, for example\n            <code>arn:aws:kms:us-west-2:444455556666:alias/projectKey1</code>.</p>\n            </li>\n         </ul>\n         <p>If <code>KmsKeyId</code> is specified, the <a>CreateFileSystemRequest$Encrypted</a> parameter must be set to true.</p>"
          }
        },
        "PerformanceMode": {
          "target": "com.amazonaws.efs#PerformanceMode",
          "traits": {
            "smithy.api#documentation": "<p>The performance mode of the file system. We recommend <code>generalPurpose</code>\n      performance mode for most file systems. File systems using the <code>maxIO</code> performance\n      mode can scale to higher levels of aggregate throughput and operations per second with a\n      tradeoff of slightly higher latencies for most file operations. The performance mode\n      can't be changed after the file system has been created.</p>"
          }
        },
        "ProvisionedThroughputInMibps": {
          "target": "com.amazonaws.efs#ProvisionedThroughputInMibps",
          "traits": {
            "smithy.api#documentation": "<p>The throughput, measured in MiB/s, that you want to provision for a file system that\n      you're creating. Valid values are 1-1024. Required if <code>ThroughputMode</code> is set to <code>provisioned</code>. The upper limit for throughput is 1024 MiB/s. \n      You can get this limit increased by contacting AWS Support. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/limits.html#soft-limits\">Amazon EFS Limits That You Can Increase</a>\n      in the <i>Amazon EFS User Guide.</i>\n         </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies to create one or more tags associated with the file system. Each\n        tag is a user-defined key-value pair. Name your file system on creation by including a\n          <code>\"Key\":\"Name\",\"Value\":\"{value}\"</code> key-value pair.</p>"
          }
        },
        "ThroughputMode": {
          "target": "com.amazonaws.efs#ThroughputMode",
          "traits": {
            "smithy.api#documentation": "<p>The throughput mode for the file system to be created. There are two throughput modes to\n      choose from for your file system: <code>bursting</code> and <code>provisioned</code>. If you set <code>ThroughputMode</code> to <code>provisioned</code>, \n      you must also set a value for <code>ProvisionedThroughPutInMibps</code>. You can decrease your file\n      system's throughput in Provisioned Throughput mode or change between the throughput modes\n      as long as it’s been more than 24 hours since the last decrease or throughput mode\n      change. For more, \n      see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/performance.html#provisioned-throughput\">Specifying Throughput with Provisioned Mode</a>\n      in the <i>Amazon EFS User Guide.</i>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.efs#CreateMountTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateMountTargetRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#MountTargetDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#IncorrectFileSystemLifeCycleState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#IpAddressInUse"
        },
        {
          "target": "com.amazonaws.efs#MountTargetConflict"
        },
        {
          "target": "com.amazonaws.efs#NetworkInterfaceLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#NoFreeAddressesInSubnet"
        },
        {
          "target": "com.amazonaws.efs#SecurityGroupLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#SecurityGroupNotFound"
        },
        {
          "target": "com.amazonaws.efs#SubnetNotFound"
        },
        {
          "target": "com.amazonaws.efs#UnsupportedAvailabilityZone"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a mount target for a file system. You can then mount the file system on EC2\n      instances by using the mount target.</p>\n         <p>You can create one mount target in each Availability Zone in your VPC. All EC2\n      instances in a VPC within a given Availability Zone share a single mount target for a given\n      file system. If you have multiple subnets in an Availability Zone, you create a mount target\n      in one of the subnets. EC2 instances do not need to be in the same subnet as the mount target\n      in order to access their file system. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p>\n         <p>In the request, you also specify a file system ID for which you are creating the mount\n      target and the file system's lifecycle state must be <code>available</code>. For more\n      information, see <a>DescribeFileSystems</a>.</p>\n         <p>In the request, you also provide a subnet ID, which determines the following:</p>\n         <ul>\n            <li>\n               <p>VPC in which Amazon EFS creates the mount target</p>\n            </li>\n            <li>\n               <p>Availability Zone in which Amazon EFS creates the mount target</p>\n            </li>\n            <li>\n               <p>IP address range from which Amazon EFS selects the IP address of the mount target\n          (if you don't specify an IP address in the request)</p>\n            </li>\n         </ul>\n\n         <p>After creating the mount target, Amazon EFS returns a response that includes, a\n        <code>MountTargetId</code> and an <code>IpAddress</code>. You use this IP address when\n      mounting the file system in an EC2 instance. You can also use the mount target's DNS name\n      when mounting the file system. The EC2 instance on which you mount the file system by using\n      the mount target can resolve the mount target's DNS name to its IP address. For more\n      information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html#how-it-works-implementation\">How it Works:\n        Implementation Overview</a>. </p>\n         <p>Note that you can create mount targets for a file system in only one VPC, and there can\n      be only one mount target per Availability Zone. That is, if the file system already has one or\n      more mount targets created for it, the subnet specified in the request to add another mount\n      target must meet the following requirements:</p>\n         <ul>\n            <li>\n               <p>Must belong to the same VPC as the subnets of the existing mount targets</p>\n            </li>\n            <li>\n               <p>Must not be in the same Availability Zone as any of the subnets of the existing\n          mount targets</p>\n            </li>\n         </ul>\n\n         <p>If the request satisfies the requirements, Amazon EFS does the following:</p>\n         <ul>\n            <li>\n               <p>Creates a new mount target in the specified subnet.</p>\n            </li>\n            <li>\n               <p>Also creates a new network interface in the subnet as follows:</p>\n               <ul>\n                  <li>\n                     <p>If the request provides an <code>IpAddress</code>, Amazon EFS assigns that IP\n              address to the network interface. Otherwise, Amazon EFS assigns a free address in the\n              subnet (in the same way that the Amazon EC2 <code>CreateNetworkInterface</code> call\n              does when a request does not specify a primary private IP address).</p>\n                  </li>\n                  <li>\n                     <p>If the request provides <code>SecurityGroups</code>, this network interface is\n              associated with those security groups. Otherwise, it belongs to the default security\n              group for the subnet's VPC.</p>\n                  </li>\n                  <li>\n                     <p>Assigns the description <code>Mount target <i>fsmt-id</i> for\n                file system <i>fs-id</i>\n                        </code> where <code>\n                           <i>fsmt-id</i>\n                        </code> is the mount target ID, and <code>\n                           <i>fs-id</i>\n                        </code> is the <code>FileSystemId</code>.</p>\n                  </li>\n                  <li>\n                     <p>Sets the <code>requesterManaged</code> property of the network interface to\n                <code>true</code>, and the <code>requesterId</code> value to\n              <code>EFS</code>.</p>\n                  </li>\n               </ul>\n               <p>Each Amazon EFS mount target has one corresponding requester-managed EC2 network\n          interface. After the network interface is created, Amazon EFS sets the\n            <code>NetworkInterfaceId</code> field in the mount target's description to the\n          network interface ID, and the <code>IpAddress</code> field to its address. If network\n          interface creation fails, the entire <code>CreateMountTarget</code> operation\n          fails.</p>\n            </li>\n         </ul>\n         <note>\n            <p>The <code>CreateMountTarget</code> call returns only after creating the network\n        interface, but while the mount target state is still <code>creating</code>, you can check\n        the mount target creation status by calling the <a>DescribeMountTargets</a> operation, which among other things returns the mount\n        target state.</p>\n         </note>\n         <p>We recommend that you create a mount target in each of the Availability Zones. There\n      are cost considerations for using a file system in an Availability Zone through a mount target\n      created in another Availability Zone. For more information, see <a href=\"http://aws.amazon.com/efs/\">Amazon EFS</a>. In addition, by always using a mount target local to the\n      instance's Availability Zone, you eliminate a partial failure scenario. If the\n      Availability Zone in which your mount target is created goes down, then you can't access\n      your file system through that mount target. </p>\n         <p>This operation requires permissions for the following action on the file\n      system:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>elasticfilesystem:CreateMountTarget</code>\n               </p>\n            </li>\n         </ul>\n         <p>This operation also requires permissions for the following Amazon EC2\n      actions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ec2:DescribeSubnets</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ec2:DescribeNetworkInterfaces</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ec2:CreateNetworkInterface</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/mount-targets",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#CreateMountTargetRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system for which to create the mount target.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.efs#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>Valid IPv4 address within the address range of the specified subnet.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.efs#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>Up to five VPC security group IDs, of the form <code>sg-xxxxxxxx</code>. These must be\n      for the same VPC as subnet specified.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.efs#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet to add the mount target in.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#CreateTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateTagsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "Use TagResource."
        },
        "smithy.api#documentation": "<p>Creates or overwrites tags associated with a file system. Each tag is a key-value pair. If\n      a tag key specified in the request already exists on the file system, this operation\n      overwrites its value with the value provided in the request. If you add the <code>Name</code>\n      tag to your file system, Amazon EFS returns it in the response to the <a>DescribeFileSystems</a> operation. </p>\n         <p>This operation requires permission for the <code>elasticfilesystem:CreateTags</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/create-tags/{FileSystemId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#CreateTagsRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose tags you want to modify (String). This operation modifies\n      the tags only, not the file system.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>Tag</code> objects to add. Each <code>Tag</code> object is a key-value\n      pair. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#CreationInfo": {
      "type": "structure",
      "members": {
        "OwnerGid": {
          "target": "com.amazonaws.efs#OwnerGid",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the POSIX group ID to apply to the <code>RootDirectory</code>. Accepts values from 0 to 2^32 (4294967295).</p>",
            "smithy.api#required": {}
          }
        },
        "OwnerUid": {
          "target": "com.amazonaws.efs#OwnerUid",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the POSIX user ID to apply to the <code>RootDirectory</code>. Accepts values from 0 to 2^32 (4294967295).</p>",
            "smithy.api#required": {}
          }
        },
        "Permissions": {
          "target": "com.amazonaws.efs#Permissions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the POSIX permissions to apply to the <code>RootDirectory</code>, in the format of an octal number representing the file's mode bits.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Required if the <code>RootDirectory</code> > <code>Path</code> specified does not exist. \n      Specifies the POSIX IDs and permissions to apply to the access point's <code>RootDirectory</code> > <code>Path</code>. \n      If the access point root directory does not exist, EFS creates it with these settings when a client connects to the access point. \n      When specifying <code>CreationInfo</code>, you must include values for all properties. \n   </p>\n         <important>\n            <p>If you do not provide <code>CreationInfo</code> and the specified <code>RootDirectory</code> does not exist, \n      attempts to mount the file system using the access point will fail.</p>\n         </important>"
      }
    },
    "com.amazonaws.efs#CreationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.efs#DeleteAccessPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteAccessPointRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointNotFound"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified access point. After deletion is complete, new clients can no \n      longer connect to the access points. Clients connected to the access point at the time of \n      deletion will continue to function until they terminate their connection.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DeleteAccessPoint</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/access-points/{AccessPointId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteAccessPointRequest": {
      "type": "structure",
      "members": {
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access point that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DeleteFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteFileSystemRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemInUse"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a file system, permanently severing access to its contents. Upon return, the\n      file system no longer exists and you can't access any contents of the deleted file\n      system.</p>\n         <p> You can't delete a file system that is in use. That is, if the file system has\n      any mount targets, you must first delete them. For more information, see <a>DescribeMountTargets</a> and <a>DeleteMountTarget</a>. </p>\n\n         <note>\n            <p>The <code>DeleteFileSystem</code> call returns while the file system state is still\n          <code>deleting</code>. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> operation, which returns a list of file systems in your\n        account. If you pass file system ID or creation token for the deleted file system, the <a>DescribeFileSystems</a> returns a <code>404 FileSystemNotFound</code>\n        error.</p>\n         </note>\n\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:DeleteFileSystem</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/file-systems/{FileSystemId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteFileSystemPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteFileSystemPolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#IncorrectFileSystemLifeCycleState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the <code>FileSystemPolicy</code> for the specified file system. \n      The default <code>FileSystemPolicy</code> goes into effect once the existing policy is deleted. \n      For more information about the default file system policy, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/res-based-policies-efs.html\">Using Resource-based Policies with EFS</a>.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DeleteFileSystemPolicy</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DeleteFileSystemPolicyRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the EFS file system for which to delete the <code>FileSystemPolicy</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DeleteFileSystemRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DeleteMountTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteMountTargetRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#DependencyTimeout"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#MountTargetNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified mount target.</p>\n\n         <p>This operation forcibly breaks any mounts of the file system by using the mount target\n      that is being deleted, which might disrupt instances or applications using those mounts. To\n      avoid applications getting cut off abruptly, you might consider unmounting any mounts of the\n      mount target, if feasible. The operation also deletes the associated network interface.\n      Uncommitted writes might be lost, but breaking a mount target using this operation does not\n      corrupt the file system itself. The file system you created remains. You can mount an EC2\n      instance in your VPC by using another mount target.</p>\n         <p>This operation requires permissions for the following action on the file\n      system:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>elasticfilesystem:DeleteMountTarget</code>\n               </p>\n            </li>\n         </ul>\n\n         <note>\n            <p>The <code>DeleteMountTarget</code> call returns while the mount target state is still\n          <code>deleting</code>. You can check the mount target deletion by calling the <a>DescribeMountTargets</a> operation, which returns a list of mount target\n        descriptions for the given file system. </p>\n         </note>\n\n         <p>The operation also requires permissions for the following Amazon EC2 action on the\n      mount target's network interface:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ec2:DeleteNetworkInterface</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/mount-targets/{MountTargetId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteMountTargetRequest": {
      "type": "structure",
      "members": {
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the mount target to delete (String).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DeleteTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteTagsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "Use UntagResource."
        },
        "smithy.api#documentation": "<p>Deletes the specified tags from a file system. If the <code>DeleteTags</code> request\n      includes a tag key that doesn't exist, Amazon EFS ignores it and doesn't cause an\n      error. For more information about tags and related restrictions, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Tag Restrictions</a> in the\n        <i>AWS Billing and Cost Management User Guide</i>.</p>\n\n         <p>This operation requires permissions for the <code>elasticfilesystem:DeleteTags</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/delete-tags/{FileSystemId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteTagsRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose tags you want to delete (String).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.efs#TagKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of tag keys to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DependencyTimeout": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service timed out trying to fulfill the request, and the client should try the\n            call again.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 504
      }
    },
    "com.amazonaws.efs#DescribeAccessPoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeAccessPointsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeAccessPointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointNotFound"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the description of a specific Amazon EFS access point if the <code>AccessPointId</code> is provided. \n      If you provide an EFS <code>FileSystemId</code>, it returns descriptions of all access points for that file system. \n      You can provide either an <code>AccessPointId</code> or a <code>FileSystemId</code> in the request, but not both. </p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DescribeAccessPoints</code> action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/access-points",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.efs#DescribeAccessPointsRequest": {
      "type": "structure",
      "members": {
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies an EFS access point to describe in the response; mutually exclusive with <code>FileSystemId</code>.</p>",
            "smithy.api#httpQuery": "AccessPointId"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) If you provide a <code>FileSystemId</code>, EFS returns all access points for that file system; mutually exclusive with <code>AccessPointId</code>.</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.efs#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) When retrieving all access points for a file system,\n      you can optionally specify the <code>MaxItems</code> parameter to limit the number of objects returned in a response.  \n      The default value is 100. </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>NextToken</code> is present if the response is paginated. You can use <code>NextMarker</code> in the subsequent request to fetch the next page of access point descriptions.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeAccessPointsResponse": {
      "type": "structure",
      "members": {
        "AccessPoints": {
          "target": "com.amazonaws.efs#AccessPointDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>An array of access point descriptions.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>Present if there are more access points than returned in the response. \n      You can use the NextMarker in the subsequent request to fetch the additional descriptions.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeFileSystemPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeFileSystemPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#FileSystemPolicyDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#PolicyNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the <code>FileSystemPolicy</code> for the specified EFS file system.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DescribeFileSystemPolicy</code> action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeFileSystemPolicyRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which EFS file system to retrieve the <code>FileSystemPolicy</code> for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeFileSystems": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeFileSystemsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeFileSystemsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the description of a specific Amazon EFS file system if either the file system\n        <code>CreationToken</code> or the <code>FileSystemId</code> is provided. Otherwise, it\n      returns descriptions of all file systems owned by the caller's AWS account in the AWS\n      Region of the endpoint that you're calling.</p>\n\n         <p>When retrieving all file system descriptions, you can optionally specify the\n        <code>MaxItems</code> parameter to limit the number of descriptions in a response.\n      Currently, this number is automatically set to 10. If more file system descriptions remain,\n      Amazon EFS returns a <code>NextMarker</code>, an opaque token, in the response. In this case,\n      you should send a subsequent request with the <code>Marker</code> request parameter set to the\n      value of <code>NextMarker</code>. </p>\n\n         <p>To retrieve a list of your file system descriptions, this operation is used in an\n      iterative process, where <code>DescribeFileSystems</code> is called first without the\n        <code>Marker</code> and then the operation continues to call it with the <code>Marker</code>\n      parameter set to the value of the <code>NextMarker</code> from the previous response until the\n      response has no <code>NextMarker</code>. </p>\n    \n         <p> The order of file systems returned in the response of one\n        <code>DescribeFileSystems</code> call and the order of file systems returned across the\n      responses of a multi-call iteration is unspecified. </p>\n         <p> This operation requires permissions for the\n        <code>elasticfilesystem:DescribeFileSystems</code> action. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "pageSize": "MaxItems"
        }
      }
    },
    "com.amazonaws.efs#DescribeFileSystemsRequest": {
      "type": "structure",
      "members": {
        "CreationToken": {
          "target": "com.amazonaws.efs#CreationToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Restricts the list to the file system with this creation token (String). You\n      specify a creation token when you create an Amazon EFS file system.</p>",
            "smithy.api#httpQuery": "CreationToken"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) ID of the file system whose description you want to retrieve\n      (String).</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        },
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Opaque pagination token returned from a previous\n        <code>DescribeFileSystems</code> operation (String). If present, specifies to continue the\n      list from where the returning call had left off. </p>",
            "smithy.api#httpQuery": "Marker"
          }
        },
        "MaxItems": {
          "target": "com.amazonaws.efs#MaxItems",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies the maximum number of file systems to return in the response\n      (integer). This number is automatically set to 100. The response is paginated at 100 per page if you have more than 100 file systems.\n      </p>",
            "smithy.api#httpQuery": "MaxItems"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DescribeFileSystemsResponse": {
      "type": "structure",
      "members": {
        "FileSystems": {
          "target": "com.amazonaws.efs#FileSystemDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>An array of file system descriptions.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>Present if provided by caller in the request (String).</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>Present if there are more file systems than returned in the response (String). You can\n      use the <code>NextMarker</code> in the subsequent request to fetch the descriptions.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeLifecycleConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeLifecycleConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#LifecycleConfigurationDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the current <code>LifecycleConfiguration</code> object for the specified Amazon\n      EFS file system. EFS lifecycle management uses the <code>LifecycleConfiguration</code> object\n      to identify which files to move to the EFS Infrequent Access (IA) storage class. For a file system\n      without a <code>LifecycleConfiguration</code> object, the call returns an empty array in the\n      response.</p>\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:DescribeLifecycleConfiguration</code> operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/lifecycle-configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeLifecycleConfigurationRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose <code>LifecycleConfiguration</code> object you want to\n      retrieve (String).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeMountTargetSecurityGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeMountTargetSecurityGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeMountTargetSecurityGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#IncorrectMountTargetState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#MountTargetNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the security groups currently in effect for a mount target. This operation\n      requires that the network interface of the mount target has been created and the lifecycle\n      state of the mount target is not <code>deleted</code>.</p>\n         <p>This operation requires permissions for the following actions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>elasticfilesystem:DescribeMountTargetSecurityGroups</code> action on the mount\n          target's file system. </p>\n            </li>\n            <li>\n               <p>\n                  <code>ec2:DescribeNetworkInterfaceAttribute</code> action on the mount target's\n          network interface. </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/mount-targets/{MountTargetId}/security-groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeMountTargetSecurityGroupsRequest": {
      "type": "structure",
      "members": {
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the mount target whose security groups you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DescribeMountTargetSecurityGroupsResponse": {
      "type": "structure",
      "members": {
        "SecurityGroups": {
          "target": "com.amazonaws.efs#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>An array of security groups.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeMountTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeMountTargetsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeMountTargetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointNotFound"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#MountTargetNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the descriptions of all the current mount targets, or a specific mount target,\n      for a file system. When requesting all of the current mount targets, the order of mount\n      targets returned in the response is unspecified.</p>\n\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:DescribeMountTargets</code> action, on either the file system ID\n      that you specify in <code>FileSystemId</code>, or on the file system of the mount target that\n      you specify in <code>MountTargetId</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/mount-targets",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeMountTargetsRequest": {
      "type": "structure",
      "members": {
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The ID of the access point whose mount targets that you want to list. It must be included in your request if a\n      <code>FileSystemId</code> or <code>MountTargetId</code> is not included in your request. Accepts either an access point ID or ARN as input.</p>",
            "smithy.api#httpQuery": "AccessPointId"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) ID of the file system whose mount targets you want to list (String). It must\n      be included in your request if an <code>AccessPointId</code> or <code>MountTargetId</code> is not included. Accepts either a file system ID or ARN as input.</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        },
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Opaque pagination token returned from a previous\n        <code>DescribeMountTargets</code> operation (String). If present, it specifies to continue\n      the list from where the previous returning call left off.</p>",
            "smithy.api#httpQuery": "Marker"
          }
        },
        "MaxItems": {
          "target": "com.amazonaws.efs#MaxItems",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Maximum number of mount targets to return in the response. Currently, this\n      number is automatically set to\n      10, and other values are ignored. The response is paginated at 100 per page if you have more than 100 mount targets.</p>",
            "smithy.api#httpQuery": "MaxItems"
          }
        },
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) ID of the mount target that you want to have described (String). It must be\n      included in your request if <code>FileSystemId</code> is not included. Accepts either a mount target ID or ARN as input.</p>",
            "smithy.api#httpQuery": "MountTargetId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DescribeMountTargetsResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If the request included the <code>Marker</code>, the response returns that value in\n      this field.</p>"
          }
        },
        "MountTargets": {
          "target": "com.amazonaws.efs#MountTargetDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Returns the file system's mount targets as an array of\n        <code>MountTargetDescription</code> objects.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If a value is present, there are more mount targets to return. In a subsequent request,\n      you can provide <code>Marker</code> in your request with this value to retrieve the next set\n      of mount targets.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DescribeTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeTagsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "Use ListTagsForResource."
        },
        "smithy.api#documentation": "<p>Returns the tags associated with a file system. The order of tags returned in the\n      response of one <code>DescribeTags</code> call and the order of tags returned across the\n      responses of a multiple-call iteration (when using pagination) is unspecified. </p>\n         <p> This operation requires permissions for the\n        <code>elasticfilesystem:DescribeTags</code> action. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/tags/{FileSystemId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "pageSize": "MaxItems"
        }
      }
    },
    "com.amazonaws.efs#DescribeTagsRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose tag set you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) An opaque pagination token returned from a previous\n        <code>DescribeTags</code> operation (String). If present, it specifies to continue the list\n      from where the previous call left off.</p>",
            "smithy.api#httpQuery": "Marker"
          }
        },
        "MaxItems": {
          "target": "com.amazonaws.efs#MaxItems",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The maximum number of file system tags to return in the response. Currently,\n      this number is automatically set to\n      100, and other values are ignored. The response is paginated at 100 per page if you have more than 100 tags.</p>",
            "smithy.api#httpQuery": "MaxItems"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DescribeTagsResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If the request included a <code>Marker</code>, the response returns that value in this\n      field.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If a value is present, there are more tags to return. In a subsequent request, you can\n      provide the value of <code>NextMarker</code> as the value of the <code>Marker</code> parameter\n      in your next request to retrieve the next set of tags.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Returns tags associated with the file system as an array of <code>Tag</code> objects.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#Encrypted": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.efs#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.efs#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.efs#FileSystemAlreadyExists": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the file system you are trying to create already exists, with the\n            creation token you provided.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.efs#FileSystemDescription": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.efs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the file system was created, in seconds (since\n      1970-01-01T00:00:00Z).</p>",
            "smithy.api#required": {}
          }
        },
        "CreationToken": {
          "target": "com.amazonaws.efs#CreationToken",
          "traits": {
            "smithy.api#documentation": "<p>The opaque string specified in the request.</p>",
            "smithy.api#required": {}
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.efs#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that, if true, indicates that the file system is encrypted.</p>"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system, assigned by Amazon EFS.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.efs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an AWS Key Management Service (AWS KMS) customer master key (CMK) that was\n      used to protect the encrypted file system.</p>"
          }
        },
        "LifeCycleState": {
          "target": "com.amazonaws.efs#LifeCycleState",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle phase of the file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.efs#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>You can add tags to a file system, including a <code>Name</code> tag. For more\n      information, see <a>CreateFileSystem</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns\n      the value in this field. </p>"
          }
        },
        "NumberOfMountTargets": {
          "target": "com.amazonaws.efs#MountTargetCount",
          "traits": {
            "smithy.api#documentation": "<p>The current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.efs#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account that created the file system. If the file system was created by an IAM\n      user, the parent account to which the user belongs is the owner.</p>",
            "smithy.api#required": {}
          }
        },
        "PerformanceMode": {
          "target": "com.amazonaws.efs#PerformanceMode",
          "traits": {
            "smithy.api#documentation": "<p>The performance mode of the file system.</p>",
            "smithy.api#required": {}
          }
        },
        "ProvisionedThroughputInMibps": {
          "target": "com.amazonaws.efs#ProvisionedThroughputInMibps",
          "traits": {
            "smithy.api#documentation": "<p>The throughput, measured in MiB/s, that you want to provision for a file system. Valid values are 1-1024. \n      Required if <code>ThroughputMode</code> is set to <code>provisioned</code>. The limit\n      on throughput is 1024 MiB/s. You can get these limits increased by contacting AWS Support. For\n      more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/limits.html#soft-limits\">Amazon EFS Limits That You Can Increase</a>\n      in the <i>Amazon EFS User Guide.</i>\n         </p>"
          }
        },
        "SizeInBytes": {
          "target": "com.amazonaws.efs#FileSystemSize",
          "traits": {
            "smithy.api#documentation": "<p>The latest known metered size (in bytes) of data stored in the file system, in its\n        <code>Value</code> field, and the time at which that size was determined in its\n        <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of\n      seconds since 1970-01-01T00:00:00Z. The <code>SizeInBytes</code> value doesn't represent\n      the size of a consistent snapshot of the file system, but it is eventually consistent when\n      there are no writes to the file system. That is, <code>SizeInBytes</code> represents actual\n      size only if the file system is not modified for a period longer than a couple of hours.\n      Otherwise, the value is not the exact size that the file system was at any point in time.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the file system, presented as an array of <code>Tag</code>\n      objects.</p>",
            "smithy.api#required": {}
          }
        },
        "ThroughputMode": {
          "target": "com.amazonaws.efs#ThroughputMode",
          "traits": {
            "smithy.api#documentation": "<p>The throughput mode for a file system. There are two throughput modes to choose from for\n      your file system: <code>bursting</code> and <code>provisioned</code>. If you set <code>ThroughputMode</code> to <code>provisioned</code>, \n      you must also set a value for <code>ProvisionedThroughPutInMibps</code>. You can decrease your file system's\n      throughput in Provisioned Throughput mode or change between the throughput modes as long as\n      it’s been more than 24 hours since the last decrease or throughput mode change.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A description of the file system.</p>"
      }
    },
    "com.amazonaws.efs#FileSystemDescriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.efs#FileSystemDescription"
      }
    },
    "com.amazonaws.efs#FileSystemId": {
      "type": "string"
    },
    "com.amazonaws.efs#FileSystemInUse": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if a file system has mount targets.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.efs#FileSystemLimitExceeded": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the AWS account has already created the maximum number of file systems\n            allowed per account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.efs#FileSystemNotFound": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the specified <code>FileSystemId</code> value doesn't exist in the\n            requester's AWS account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.efs#FileSystemNullableSizeValue": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.efs#FileSystemPolicyDescription": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the EFS file system to which the <code>FileSystemPolicy</code> applies.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.efs#Policy",
          "traits": {
            "smithy.api#documentation": "<p>The JSON formatted <code>FileSystemPolicy</code> for the EFS file system.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#FileSystemSize": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.efs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the size of data, returned in the <code>Value</code> field, was\n      determined. The value is the integer number of seconds since 1970-01-01T00:00:00Z.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.efs#FileSystemSizeValue",
          "traits": {
            "smithy.api#documentation": "<p>The latest known metered size (in bytes) of data stored in the file system.</p>",
            "smithy.api#required": {}
          }
        },
        "ValueInIA": {
          "target": "com.amazonaws.efs#FileSystemNullableSizeValue",
          "traits": {
            "smithy.api#documentation": "<p>The latest known metered size (in bytes) of data stored in the Infrequent Access\n      storage class.</p>"
          }
        },
        "ValueInStandard": {
          "target": "com.amazonaws.efs#FileSystemNullableSizeValue",
          "traits": {
            "smithy.api#documentation": "<p>The latest known metered size (in bytes) of data stored in the Standard storage\n      class.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The latest known metered size (in bytes) of data stored in the file system, in its\n        <code>Value</code> field, and the time at which that size was determined in its\n        <code>Timestamp</code> field. The value doesn't represent the size of a consistent\n      snapshot of the file system, but it is eventually consistent when there are no writes to the\n      file system. That is, the value represents the actual size only if the file system is not\n      modified for a period longer than a couple of hours. Otherwise, the value is not necessarily\n      the exact size the file system was at any instant in time.</p>"
      }
    },
    "com.amazonaws.efs#FileSystemSizeValue": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.efs#Gid": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 4294967295
        }
      }
    },
    "com.amazonaws.efs#IncorrectFileSystemLifeCycleState": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the file system's lifecycle state is not \"available\".</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.efs#IncorrectMountTargetState": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the mount target is not in the correct state for the\n            operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.efs#InsufficientThroughputCapacity": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if there's not enough capacity to provision additional throughput. This value\n            might be returned when you try to create a file system in provisioned throughput mode,\n            when you attempt to increase the provisioned throughput of an existing file system, or\n            when you attempt to change an existing file system from bursting to provisioned\n            throughput mode.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.efs#InternalServerError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if an error occurred on the server side.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.efs#InvalidPolicyException": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the <code>FileSystemPolicy</code> is is malformed or contains an error such as an invalid\n            parameter value or a missing required parameter. Returned in the case of a policy lockout safety check error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.efs#IpAddress": {
      "type": "string"
    },
    "com.amazonaws.efs#IpAddressInUse": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the request specified an <code>IpAddress</code> that is already in use\n            in the subnet.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.efs#KmsKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.efs#LifeCycleState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "creating",
            "name": "CREATING"
          },
          {
            "value": "available",
            "name": "AVAILABLE"
          },
          {
            "value": "updating",
            "name": "UPDATING"
          },
          {
            "value": "deleting",
            "name": "DELETING"
          },
          {
            "value": "deleted",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.efs#LifecycleConfigurationDescription": {
      "type": "structure",
      "members": {
        "LifecyclePolicies": {
          "target": "com.amazonaws.efs#LifecyclePolicies",
          "traits": {
            "smithy.api#documentation": "<p>An array of lifecycle management policies. Currently, EFS supports a maximum of one\n      policy per file system.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#LifecyclePolicies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.efs#LifecyclePolicy"
      }
    },
    "com.amazonaws.efs#LifecyclePolicy": {
      "type": "structure",
      "members": {
        "TransitionToIA": {
          "target": "com.amazonaws.efs#TransitionToIARules",
          "traits": {
            "smithy.api#documentation": "<p>\n      A value that describes the period of time that a file is not accessed, after which it transitions to the IA storage class. Metadata\n      operations such as listing the contents of a directory don't count as file access\n      events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a policy used by EFS lifecycle management to transition files to the Infrequent\n      Access (IA) storage class.</p>"
      }
    },
    "com.amazonaws.efs#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointNotFound"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all tags for a top-level EFS resource. You must provide the ID of the resource that you want to retrieve the tags for.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DescribeAccessPoints</code> action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/resource-tags/{ResourceId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.efs#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.efs#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies the maximum number of tag objects to return in the response. The default value is 100.</p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>You can use <code>NextToken</code> in a subsequent request to fetch the next page of access point descriptions if the response payload was paginated.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.efs#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the EFS resource you want to retrieve tags for. You can retrieve tags for EFS file systems and access points using this API endpoint.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>NextToken</code> is present if the response payload is paginated. You can use <code>NextToken</code> in a subsequent request to fetch the next page of access point descriptions.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An array of the tags for the specified EFS resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#MagnolioAPIService_v20150201": {
      "type": "service",
      "version": "2015-02-01",
      "operations": [
        {
          "target": "com.amazonaws.efs#CreateAccessPoint"
        },
        {
          "target": "com.amazonaws.efs#CreateFileSystem"
        },
        {
          "target": "com.amazonaws.efs#CreateMountTarget"
        },
        {
          "target": "com.amazonaws.efs#CreateTags"
        },
        {
          "target": "com.amazonaws.efs#DeleteAccessPoint"
        },
        {
          "target": "com.amazonaws.efs#DeleteFileSystem"
        },
        {
          "target": "com.amazonaws.efs#DeleteFileSystemPolicy"
        },
        {
          "target": "com.amazonaws.efs#DeleteMountTarget"
        },
        {
          "target": "com.amazonaws.efs#DeleteTags"
        },
        {
          "target": "com.amazonaws.efs#DescribeAccessPoints"
        },
        {
          "target": "com.amazonaws.efs#DescribeFileSystemPolicy"
        },
        {
          "target": "com.amazonaws.efs#DescribeFileSystems"
        },
        {
          "target": "com.amazonaws.efs#DescribeLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.efs#DescribeMountTargets"
        },
        {
          "target": "com.amazonaws.efs#DescribeMountTargetSecurityGroups"
        },
        {
          "target": "com.amazonaws.efs#DescribeTags"
        },
        {
          "target": "com.amazonaws.efs#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.efs#ModifyMountTargetSecurityGroups"
        },
        {
          "target": "com.amazonaws.efs#PutFileSystemPolicy"
        },
        {
          "target": "com.amazonaws.efs#PutLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.efs#TagResource"
        },
        {
          "target": "com.amazonaws.efs#UntagResource"
        },
        {
          "target": "com.amazonaws.efs#UpdateFileSystem"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EFS",
          "arnNamespace": "elasticfilesystem",
          "cloudFormationName": "EFS",
          "cloudTrailEventSource": "v20150201.api.magnolio.amazon.com"
        },
        "aws.auth#sigv4": {
          "name": "elasticfilesystem"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Elastic File System</fullname>\n         <p>Amazon Elastic File System (Amazon EFS) provides simple, scalable file storage for use\n      with Amazon EC2 instances in the AWS Cloud. With Amazon EFS, storage capacity is elastic,\n      growing and shrinking automatically as you add and remove files, so your applications have the\n      storage they need, when they need it. For more information, see the <a href=\"https://docs.aws.amazon.com/efs/latest/ug/api-reference.html\">User Guide</a>.</p>",
        "smithy.api#title": "Amazon Elastic File System"
      }
    },
    "com.amazonaws.efs#Marker": {
      "type": "string"
    },
    "com.amazonaws.efs#MaxItems": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.efs#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.efs#ModifyMountTargetSecurityGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#ModifyMountTargetSecurityGroupsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#IncorrectMountTargetState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#MountTargetNotFound"
        },
        {
          "target": "com.amazonaws.efs#SecurityGroupLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#SecurityGroupNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Modifies the set of security groups in effect for a mount target.</p>\n         <p>When you create a mount target, Amazon EFS also creates a new network interface. For\n      more information, see <a>CreateMountTarget</a>. This operation replaces the security groups in effect for the\n      network interface associated with a mount target, with the <code>SecurityGroups</code>\n      provided in the request. This operation requires that the network interface of the mount\n      target has been created and the lifecycle state of the mount target is not\n        <code>deleted</code>. </p>\n         <p>The operation requires permissions for the following actions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>elasticfilesystem:ModifyMountTargetSecurityGroups</code> action on the mount\n          target's file system. </p>\n            </li>\n            <li>\n               <p>\n                  <code>ec2:ModifyNetworkInterfaceAttribute</code> action on the mount target's network\n          interface. </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/2015-02-01/mount-targets/{MountTargetId}/security-groups",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#ModifyMountTargetSecurityGroupsRequest": {
      "type": "structure",
      "members": {
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the mount target whose security groups you want to modify.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.efs#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>An array of up to five VPC security group IDs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#MountTargetConflict": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the mount target would violate one of the specified restrictions based\n            on the file system's existing mount targets.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.efs#MountTargetCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.efs#MountTargetDescription": {
      "type": "structure",
      "members": {
        "AvailabilityZoneId": {
          "target": "com.amazonaws.efs#AvailabilityZoneId",
          "traits": {
            "smithy.api#documentation": "<p>The unique and consistent identifier of the Availability Zone (AZ) that the mount target resides in. \n      For example, <code>use1-az1</code> is an AZ ID for the us-east-1 Region and it has the same location in every AWS account.</p>"
          }
        },
        "AvailabilityZoneName": {
          "target": "com.amazonaws.efs#AvailabilityZoneName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone (AZ) that the mount target resides in. AZs are \n      independently mapped to names for each AWS account. For example, the Availability Zone \n      <code>us-east-1a</code> for your AWS account might not be the same location as <code>us-east-1a</code> for another AWS account.</p>"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system for which the mount target is intended.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.efs#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>Address at which the file system can be mounted by using the mount target.</p>"
          }
        },
        "LifeCycleState": {
          "target": "com.amazonaws.efs#LifeCycleState",
          "traits": {
            "smithy.api#documentation": "<p>Lifecycle state of the mount target.</p>",
            "smithy.api#required": {}
          }
        },
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>System-assigned mount target ID.</p>",
            "smithy.api#required": {}
          }
        },
        "NetworkInterfaceId": {
          "target": "com.amazonaws.efs#NetworkInterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the network interface that Amazon EFS created when it created the mount\n      target.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.efs#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>AWS account ID that owns the resource.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.efs#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the mount target's subnet.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a description of a mount target.</p>"
      }
    },
    "com.amazonaws.efs#MountTargetDescriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.efs#MountTargetDescription"
      }
    },
[...]
