{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.efs#AccessPointAlreadyExists": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        },
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the access point that you are trying to create already exists, with the\n            creation token you provided in the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.efs#AccessPointArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:elasticfilesystem:[0-9a-z-:]+:access-point/fsap-[0-9a-f]{8,40}$"
      }
    },
    "com.amazonaws.efs#AccessPointDescription": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.efs#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The opaque string specified in the request to ensure idempotent creation.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.efs#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access point. This is the value of the <code>Name</code> tag.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the access point, presented as an array of Tag objects.</p>"
          }
        },
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access point, assigned by Amazon EFS.</p>"
          }
        },
        "AccessPointArn": {
          "target": "com.amazonaws.efs#AccessPointArn",
          "traits": {
            "smithy.api#documentation": "<p>The  unique Amazon Resource Name (ARN) associated with the access point.</p>"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the EFS file system that the access point applies to.</p>"
          }
        },
        "PosixUser": {
          "target": "com.amazonaws.efs#PosixUser",
          "traits": {
            "smithy.api#documentation": "<p>The full POSIX identity, including the user ID, group ID, and secondary group IDs on the access point that is used for all file operations by\n      NFS clients using the access point.</p>"
          }
        },
        "RootDirectory": {
          "target": "com.amazonaws.efs#RootDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The directory on the Amazon EFS file system that the access point exposes as the root directory to NFS clients using the access point.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.efs#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>Identified the Amazon Web Services account that owns the access point resource.</p>"
          }
        },
        "LifeCycleState": {
          "target": "com.amazonaws.efs#LifeCycleState",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the lifecycle phase of the access point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a description of an EFS file system access point.</p>"
      }
    },
    "com.amazonaws.efs#AccessPointDescriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.efs#AccessPointDescription"
      }
    },
    "com.amazonaws.efs#AccessPointId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^(arn:aws[-a-z]*:elasticfilesystem:[0-9a-z-:]+:access-point/fsap-[0-9a-f]{8,40}|fsap-[0-9a-f]{8,40})$"
      }
    },
    "com.amazonaws.efs#AccessPointLimitExceeded": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the Amazon Web Services account has already created the maximum number of access points\n            allowed per file system. For more informaton, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/limits.html#limits-efs-resources-per-account-per-region\">https://docs.aws.amazon.com/efs/latest/ug/limits.html#limits-efs-resources-per-account-per-region</a>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.efs#AccessPointNotFound": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the specified <code>AccessPointId</code> value doesn't exist in the\n            requester's Amazon Web Services account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.efs#AvailabilityZoneId": {
      "type": "string"
    },
    "com.amazonaws.efs#AvailabilityZoneName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.efs#AvailabilityZonesMismatch": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the Availability Zone that was specified for a mount target is \n            different from the Availability Zone that was specified for One Zone storage.\n            For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/availability-durability.html\">Regional and One Zone storage redundancy</a>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.efs#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 14
        },
        "smithy.api#pattern": "^(\\d{12})|(\\d{4}-\\d{4}-\\d{4})$"
      }
    },
    "com.amazonaws.efs#Backup": {
      "type": "boolean"
    },
    "com.amazonaws.efs#BackupPolicy": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.efs#Status",
          "traits": {
            "smithy.api#documentation": "<p>Describes the status of the file system's backup policy.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>\n                     <code>ENABLED</code>\n                  </b> - EFS is automatically backing up the file system.</p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>ENABLING</code>\n                  </b> - EFS is turning on automatic backups for the file system.</p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>DISABLED</code>\n                  </b> - Automatic back ups are turned off for\n          the file system.</p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>DISABLING</code>\n                  </b> - EFS is turning off automatic backups for the file system.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The backup policy for the file system used to create automatic daily backups. If status has a value of \n      <code>ENABLED</code>, the file system is being automatically backed up. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/awsbackup.html#automatic-backups\">Automatic backups</a>.</p>"
      }
    },
    "com.amazonaws.efs#BackupPolicyDescription": {
      "type": "structure",
      "members": {
        "BackupPolicy": {
          "target": "com.amazonaws.efs#BackupPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Describes the file system's backup policy, indicating whether automatic backups are\n      turned on or off.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#BadRequest": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the request is malformed or contains an error such as an invalid\n            parameter value or a missing required parameter.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.efs#BypassPolicyLockoutSafetyCheck": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.efs#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.efs#CreateAccessPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateAccessPointRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#AccessPointDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointAlreadyExists"
        },
        {
          "target": "com.amazonaws.efs#AccessPointLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#IncorrectFileSystemLifeCycleState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an EFS access point. An access point is an application-specific view into an EFS\n      file system that applies an operating system user and group, and a file system path, to any\n      file system request made through the access point. The operating system user and group\n      override any identity information provided by the NFS client. The file system path is exposed\n      as the access point's root directory. Applications using the access point can only access data in\n      the application's own directory and any subdirectories. To learn more, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-access-points.html\">Mounting a file system using EFS access\n        points</a>.</p>\n         <note>\n            <p>If multiple requests to create access points on the same file system are sent in quick\n        succession, and the file system is near the limit of 1000 access points, you may experience\n        a throttling response for these requests. This is to ensure that the file system does not\n        exceed the stated access point limit.</p>\n         </note>\n         <p>This operation requires permissions for the <code>elasticfilesystem:CreateAccessPoint</code> action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/access-points",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#CreateAccessPointRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.efs#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters that Amazon EFS uses to ensure idempotent\n      creation.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Creates tags associated with the access point. Each tag is a key-value pair, each key must be unique. For more \n      information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>\n      in the <i>Amazon Web Services General Reference Guide</i>.</p>"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the EFS file system that the access point provides access to.</p>",
            "smithy.api#required": {}
          }
        },
        "PosixUser": {
          "target": "com.amazonaws.efs#PosixUser",
          "traits": {
            "smithy.api#documentation": "<p>The operating system user and\n      group applied to all file system requests made using the access point.</p>"
          }
        },
        "RootDirectory": {
          "target": "com.amazonaws.efs#RootDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the directory on the Amazon EFS file system that the access point\n      exposes as the root directory of your file system to NFS clients using the access point. The\n      clients using the access point can only access the root directory and below. If the\n        <code>RootDirectory</code> > <code>Path</code> specified does not exist, EFS creates it\n      and applies the <code>CreationInfo</code> settings when a client connects to an access point.\n      When specifying a <code>RootDirectory</code>, you must provide the <code>Path</code>, and the\n        <code>CreationInfo</code>.</p>\n         <p>Amazon EFS creates a root directory only if you have provided the  CreationInfo: OwnUid, OwnGID, and permissions for the directory. \n      If  you do not provide this information, Amazon EFS does not create the root directory. If the root directory does not exist, attempts to mount \n      using the access point will fail.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#CreateFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateFileSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#FileSystemDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemAlreadyExists"
        },
        {
          "target": "com.amazonaws.efs#FileSystemLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#InsufficientThroughputCapacity"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ThroughputLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#UnsupportedAvailabilityZone"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new, empty file system. The operation requires a creation token in the\n      request that Amazon EFS uses to ensure idempotent creation (calling the operation with same\n      creation token has no effect). If a file system does not currently exist that is owned by the\n      caller's Amazon Web Services account with the specified creation token, this operation does the\n      following:</p>\n         <ul>\n            <li>\n               <p>Creates a new, empty file system. The file system will have an Amazon EFS assigned\n          ID, and an initial lifecycle state <code>creating</code>.</p>\n            </li>\n            <li>\n               <p>Returns with the description of the created file system.</p>\n            </li>\n         </ul>\n         <p>Otherwise, this operation returns a <code>FileSystemAlreadyExists</code> error with the\n      ID of the existing file system.</p>\n         <note>\n            <p>For basic use cases, you can use a randomly generated UUID for the creation\n        token.</p>\n         </note>\n         <p> The idempotent operation allows you to retry a <code>CreateFileSystem</code> call without\n      risk of creating an extra file system. This can happen when an initial call fails in a way\n      that leaves it uncertain whether or not a file system was actually created. An example might\n      be that a transport level timeout occurred or your connection was reset. As long as you use\n      the same creation token, if the initial call had succeeded in creating a file system, the\n      client can learn of its existence from the <code>FileSystemAlreadyExists</code> error.</p>\n         <p>For more information, see \n      <a href=\"https://docs.aws.amazon.com/efs/latest/ug/creating-using-create-fs.html#creating-using-create-fs-part1\">Creating a file system</a>\n     in the <i>Amazon EFS User Guide</i>.</p>\n         <note>\n            <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle\n        state is still <code>creating</code>. You can check the file system creation status by\n        calling the <a>DescribeFileSystems</a> operation, which among other things returns the file\n        system state.</p>\n         </note>\n         <p>This operation accepts an optional <code>PerformanceMode</code> parameter that you\n      choose for your file system. We recommend <code>generalPurpose</code> performance mode for\n      most file systems. File systems using the <code>maxIO</code> performance mode can scale to\n      higher levels of aggregate throughput and operations per second with a tradeoff of slightly\n      higher latencies for most file operations. The performance mode can't be changed after\n      the file system has been created. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/performance.html#performancemodes.html\">Amazon EFS performance\n        modes</a>.</p>\n         <p>You can set the throughput mode for the file system using the <code>ThroughputMode</code> parameter.</p>\n         <p>After the file system is fully created, Amazon EFS sets its lifecycle state to\n        <code>available</code>, at which point you can create one or more mount targets for the file\n      system in your VPC. For more information, see <a>CreateMountTarget</a>. You mount your Amazon EFS file system on an EC2 instances in\n      your VPC by using the mount target. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p>\n         <p> This operation requires permissions for the\n        <code>elasticfilesystem:CreateFileSystem</code> action. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/file-systems",
          "code": 201
        }
      }
    },
    "com.amazonaws.efs#CreateFileSystemRequest": {
      "type": "structure",
      "members": {
        "CreationToken": {
          "target": "com.amazonaws.efs#CreationToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent\n      creation.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "PerformanceMode": {
          "target": "com.amazonaws.efs#PerformanceMode",
          "traits": {
            "smithy.api#documentation": "<p>The performance mode of the file system. We recommend <code>generalPurpose</code>\n      performance mode for most file systems. File systems using the <code>maxIO</code> performance\n      mode can scale to higher levels of aggregate throughput and operations per second with a\n      tradeoff of slightly higher latencies for most file operations. The performance mode\n      can't be changed after the file system has been created.</p>\n         <note>\n            <p>The <code>maxIO</code> mode is not supported on file systems using One Zone storage classes.</p>\n         </note>"
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.efs#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that, if true, creates an encrypted file system. When creating an\n      encrypted file system, you have the option of specifying an existing Key Management Service key (KMS key).\n      If you don't specify a KMS key, then the default KMS key for\n      Amazon EFS, <code>/aws/elasticfilesystem</code>, is used to protect the encrypted file system.\n    </p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.efs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key that you want to use to protect the encrypted file\n      system. This parameter is required only if you want to use a non-default KMS key. If this parameter is not specified, the default KMS key for Amazon EFS is used. You can specify a KMS key ID using the following\n      formats:</p>\n         <ul>\n            <li>\n               <p>Key ID - A unique identifier of the key, for example\n            <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>ARN - An Amazon Resource Name (ARN) for the key, for example\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>Key alias - A previously created display name for a key, for example\n            <code>alias/projectKey1</code>.</p>\n            </li>\n            <li>\n               <p>Key alias ARN - An ARN for a key alias, for example\n            <code>arn:aws:kms:us-west-2:444455556666:alias/projectKey1</code>.</p>\n            </li>\n         </ul>\n         <p>If you use <code>KmsKeyId</code>, you must set the <a>CreateFileSystemRequest$Encrypted</a> \n      parameter to true.</p>\n         <important>\n            <p>EFS accepts only symmetric KMS keys. You cannot use asymmetric \n      KMS keys with Amazon EFS file systems.</p>\n         </important>"
          }
        },
        "ThroughputMode": {
          "target": "com.amazonaws.efs#ThroughputMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the throughput mode for the file system. The mode can be <code>bursting</code>,\n        <code>provisioned</code>, or <code>elastic</code>. If you set <code>ThroughputMode</code> to\n        <code>provisioned</code>, you must also set a value for\n        <code>ProvisionedThroughputInMibps</code>. After you create the file system, you can\n      decrease your file system's throughput in Provisioned Throughput mode or change between\n      the throughput modes, with certain time restrictions. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/performance.html#provisioned-throughput\">Specifying\n        throughput with provisioned mode</a> in the <i>Amazon EFS User\n        Guide</i>. </p>\n         <p>Default is <code>bursting</code>.</p>"
          }
        },
        "ProvisionedThroughputInMibps": {
          "target": "com.amazonaws.efs#ProvisionedThroughputInMibps",
          "traits": {
            "smithy.api#documentation": "<p>The throughput, measured in\n      MiB/s,\n      that you want to provision for a file system that you're creating. Valid values are\n      1-1024. Required if <code>ThroughputMode</code> is set to <code>provisioned</code>. The upper\n      limit for throughput is 1024 MiB/s. To increase this limit, contact Amazon Web Services Support. For\n      more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/limits.html#soft-limits\">Amazon EFS quotas that you can increase</a> in the <i>Amazon EFS User Guide</i>.</p>"
          }
        },
        "AvailabilityZoneName": {
          "target": "com.amazonaws.efs#AvailabilityZoneName",
          "traits": {
            "smithy.api#documentation": "<p>Used to create a file system that uses One Zone storage classes. It specifies the Amazon Web Services\n      Availability Zone in which to create the file system. Use the format <code>us-east-1a</code>\n      to specify the Availability Zone. For\n      more information about One Zone storage classes, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/storage-classes.html\">Using EFS storage classes</a> in the <i>Amazon EFS User Guide</i>.</p>\n         <note>\n            <p>One Zone storage classes are not available in all Availability Zones in Amazon Web Services Regions where\n        Amazon EFS is available.</p>\n         </note>"
          }
        },
        "Backup": {
          "target": "com.amazonaws.efs#Backup",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether automatic backups are enabled on the file system that you are creating.\n      Set the value to <code>true</code> to enable automatic backups. If you are creating a file\n      system that uses One Zone storage classes, automatic backups are enabled by default. For more\n      information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/awsbackup.html#automatic-backups\">Automatic backups</a> in the\n        <i>Amazon EFS User Guide</i>.</p>\n         <p>Default is <code>false</code>. However, if you specify an <code>AvailabilityZoneName</code>, \n      the default is <code>true</code>.</p>\n         <note>\n            <p>Backup is not available in all Amazon Web Services Regions where Amazon EFS is available.</p>\n         </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Use to create one or more tags associated with the file system. Each\n        tag is a user-defined key-value pair. Name your file system on creation by including a\n        <code>\"Key\":\"Name\",\"Value\":\"{value}\"</code> key-value pair. Each key must be unique. For more \n        information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>\n        in the <i>Amazon Web Services General Reference Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#CreateMountTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateMountTargetRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#MountTargetDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AvailabilityZonesMismatch"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#IncorrectFileSystemLifeCycleState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#IpAddressInUse"
        },
        {
          "target": "com.amazonaws.efs#MountTargetConflict"
        },
        {
          "target": "com.amazonaws.efs#NetworkInterfaceLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#NoFreeAddressesInSubnet"
        },
        {
          "target": "com.amazonaws.efs#SecurityGroupLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#SecurityGroupNotFound"
        },
        {
          "target": "com.amazonaws.efs#SubnetNotFound"
        },
        {
          "target": "com.amazonaws.efs#UnsupportedAvailabilityZone"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a mount target for a file system. You can then mount the file system on EC2\n      instances by using the mount target.</p>\n         <p>You can create one mount target in each Availability Zone in your VPC. All EC2\n      instances in a VPC within a given Availability Zone share a single mount target for a given\n      file system. If you have multiple subnets in an Availability Zone, you create a mount target\n      in one of the subnets. EC2 instances do not need to be in the same subnet as the mount target\n      in order to access their file system.</p>\n         <p>You can create only one mount target for an EFS file system using One Zone storage\n      classes. You must create that mount target in the same Availability Zone in which the file\n      system is located. Use the <code>AvailabilityZoneName</code> and\n        <code>AvailabiltyZoneId</code> properties in the <a>DescribeFileSystems</a>\n      response object to get this information. Use the <code>subnetId</code> associated with the\n      file system's Availability Zone when creating the mount target.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p>\n         <p>To create a mount target for a file system, the file system's lifecycle state must be\n        <code>available</code>. For more information, see <a>DescribeFileSystems</a>.</p>\n         <p>In the request, provide the following:</p>\n         <ul>\n            <li>\n               <p>The file system ID for which you are creating the mount\n        target.</p>\n            </li>\n            <li>\n               <p>A subnet ID, which determines the following:</p>\n               <ul>\n                  <li>\n                     <p>The VPC in which Amazon EFS creates the mount target</p>\n                  </li>\n                  <li>\n                     <p>The Availability Zone in which Amazon EFS creates the mount target</p>\n                  </li>\n                  <li>\n                     <p>The IP address range from which Amazon EFS selects the IP address of the mount target\n              (if you don't specify an IP address in the request)</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>After creating the mount target, Amazon EFS returns a response that includes, a\n        <code>MountTargetId</code> and an <code>IpAddress</code>. You use this IP address when\n      mounting the file system in an EC2 instance. You can also use the mount target's DNS name\n      when mounting the file system. The EC2 instance on which you mount the file system by using\n      the mount target can resolve the mount target's DNS name to its IP address. For more\n      information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html#how-it-works-implementation\">How it Works:\n        Implementation Overview</a>. </p>\n         <p>Note that you can create mount targets for a file system in only one VPC, and there can\n      be only one mount target per Availability Zone. That is, if the file system already has one or\n      more mount targets created for it, the subnet specified in the request to add another mount\n      target must meet the following requirements:</p>\n         <ul>\n            <li>\n               <p>Must belong to the same VPC as the subnets of the existing mount targets</p>\n            </li>\n            <li>\n               <p>Must not be in the same Availability Zone as any of the subnets of the existing\n          mount targets</p>\n            </li>\n         </ul>\n         <p>If the request satisfies the requirements, Amazon EFS does the following:</p>\n         <ul>\n            <li>\n               <p>Creates a new mount target in the specified subnet.</p>\n            </li>\n            <li>\n               <p>Also creates a new network interface in the subnet as follows:</p>\n               <ul>\n                  <li>\n                     <p>If the request provides an <code>IpAddress</code>, Amazon EFS assigns that IP\n              address to the network interface. Otherwise, Amazon EFS assigns a free address in the\n              subnet (in the same way that the Amazon EC2 <code>CreateNetworkInterface</code> call\n              does when a request does not specify a primary private IP address).</p>\n                  </li>\n                  <li>\n                     <p>If the request provides <code>SecurityGroups</code>, this network interface is\n              associated with those security groups. Otherwise, it belongs to the default security\n              group for the subnet's VPC.</p>\n                  </li>\n                  <li>\n                     <p>Assigns the description <code>Mount target <i>fsmt-id</i> for\n                file system <i>fs-id</i>\n                        </code> where <code>\n                           <i>fsmt-id</i>\n                        </code> is the mount target ID, and <code>\n                           <i>fs-id</i>\n                        </code> is the <code>FileSystemId</code>.</p>\n                  </li>\n                  <li>\n                     <p>Sets the <code>requesterManaged</code> property of the network interface to\n                <code>true</code>, and the <code>requesterId</code> value to\n              <code>EFS</code>.</p>\n                  </li>\n               </ul>\n               <p>Each Amazon EFS mount target has one corresponding requester-managed EC2 network\n          interface. After the network interface is created, Amazon EFS sets the\n            <code>NetworkInterfaceId</code> field in the mount target's description to the\n          network interface ID, and the <code>IpAddress</code> field to its address. If network\n          interface creation fails, the entire <code>CreateMountTarget</code> operation\n          fails.</p>\n            </li>\n         </ul>\n         <note>\n            <p>The <code>CreateMountTarget</code> call returns only after creating the network\n        interface, but while the mount target state is still <code>creating</code>, you can check\n        the mount target creation status by calling the <a>DescribeMountTargets</a> operation, which among other things returns the mount\n        target state.</p>\n         </note>\n         <p>We recommend that you create a mount target in each of the Availability Zones. There\n      are cost considerations for using a file system in an Availability Zone through a mount target\n      created in another Availability Zone. For more information, see <a href=\"http://aws.amazon.com/efs/\">Amazon EFS</a>. In addition, by always using a mount target local to the\n      instance's Availability Zone, you eliminate a partial failure scenario. If the\n      Availability Zone in which your mount target is created goes down, then you can't access\n      your file system through that mount target. </p>\n         <p>This operation requires permissions for the following action on the file\n      system:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>elasticfilesystem:CreateMountTarget</code>\n               </p>\n            </li>\n         </ul>\n         <p>This operation also requires permissions for the following Amazon EC2\n      actions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ec2:DescribeSubnets</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ec2:DescribeNetworkInterfaces</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ec2:CreateNetworkInterface</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/mount-targets",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#CreateMountTargetRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system for which to create the mount target.</p>",
            "smithy.api#required": {}
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.efs#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet to add the mount target in. For file systems that use One Zone storage classes, use the subnet \n    that is associated with the file system's Availability Zone.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.efs#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>Valid IPv4 address within the address range of the specified subnet.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.efs#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>Up to five VPC security group IDs, of the form <code>sg-xxxxxxxx</code>. These must be\n      for the same VPC as subnet specified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#CreateReplicationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateReplicationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#ReplicationConfigurationDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#IncorrectFileSystemLifeCycleState"
        },
        {
          "target": "com.amazonaws.efs#InsufficientThroughputCapacity"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ReplicationNotFound"
        },
        {
          "target": "com.amazonaws.efs#ThroughputLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#UnsupportedAvailabilityZone"
        },
        {
          "target": "com.amazonaws.efs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a replication configuration that replicates an existing EFS file system to a new,\n      read-only file system. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-replication.html\">Amazon EFS replication</a> in the\n          <i>Amazon EFS User Guide</i>. The replication configuration\n      specifies the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Source file system</b> - An existing EFS file system that you\n          want replicated. The source file system cannot be a destination file system in an existing\n          replication configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Destination file system configuration</b> - The configuration of\n          the destination file system to which the source file system will be replicated. There can\n          only be one destination file system in a replication configuration. The destination file\n          system configuration consists of the following properties:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <b>Amazon Web Services Region</b> - The Amazon Web Services Region in\n              which the destination file system is created. Amazon EFS replication is\n              available in all Amazon Web Services Regions that Amazon EFS is available in,\n              except Africa (Cape Town), Asia Pacific (Hong Kong), Asia Pacific (Jakarta), Europe\n              (Milan), and Middle East (Bahrain).</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Availability Zone</b> - If you want the destination file system\n              to use EFS One Zone availability and durability, you must specify the Availability\n              Zone to create the file system in. For more information about EFS storage classes, see\n                <a href=\"https://docs.aws.amazon.com/efs/latest/ug/storage-classes.html\">\n                Amazon EFS storage classes</a> in the <i>Amazon EFS User\n                Guide</i>.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Encryption</b> - All destination file systems are created with\n              encryption at rest enabled. You can specify the Key Management Service (KMS) key that is used to encrypt the destination file system. If you don't\n              specify a KMS key, your service-managed KMS key for\n                Amazon EFS is used.  </p>\n                     <note>\n                        <p>After the file system is created, you cannot change the KMS key.</p>\n                     </note>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>The following properties are set by default:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Performance mode</b> - The destination file system's performance\n          mode matches that of the source file system, unless the destination file system uses EFS\n          One Zone storage. In that case, the General Purpose performance mode is used. The\n          performance mode cannot be changed.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Throughput mode</b> - The destination file system uses the\n          Bursting Throughput mode by default. After the file system is created, you can modify the\n          throughput mode.</p>\n            </li>\n         </ul>\n         <p>The following properties are turned off by default:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Lifecycle management</b> - EFS lifecycle management and EFS\n          Intelligent-Tiering are not enabled on the destination file system. After the destination\n          file system is created, you can enable EFS lifecycle management and EFS\n          Intelligent-Tiering.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Automatic backups</b> - Automatic daily backups not enabled on\n          the destination file system. After the file system is created, you can change this\n          setting.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-replication.html\">Amazon EFS replication</a> in the\n          <i>Amazon EFS User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/file-systems/{SourceFileSystemId}/replication-configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#CreateReplicationConfigurationRequest": {
      "type": "structure",
      "members": {
        "SourceFileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon EFS file system that you want to replicate. This file system cannot already be \n    a source or destination file system in another replication configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Destinations": {
          "target": "com.amazonaws.efs#DestinationsToCreate",
          "traits": {
            "smithy.api#documentation": "<p>An array of destination configuration objects. Only one destination configuration object is supported.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#CreateTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateTagsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "Use TagResource."
        },
        "smithy.api#documentation": "<note>\n            <p>DEPRECATED - <code>CreateTags</code> is deprecated and not maintained. To create tags for EFS\n        resources, use the  API action.</p>\n         </note>\n         <p>Creates or overwrites tags associated with a file system. Each tag is a key-value pair. If\n      a tag key specified in the request already exists on the file system, this operation\n      overwrites its value with the value provided in the request. If you add the <code>Name</code>\n      tag to your file system, Amazon EFS returns it in the response to the <a>DescribeFileSystems</a> operation. </p>\n         <p>This operation requires permission for the <code>elasticfilesystem:CreateTags</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/create-tags/{FileSystemId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#CreateTagsRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose tags you want to modify (String). This operation modifies\n      the tags only, not the file system.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>Tag</code> objects to add. Each <code>Tag</code> object is a key-value\n      pair. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#CreationInfo": {
      "type": "structure",
      "members": {
        "OwnerUid": {
          "target": "com.amazonaws.efs#OwnerUid",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the POSIX user ID to apply to the <code>RootDirectory</code>. Accepts values from 0 to 2^32 (4294967295).</p>",
            "smithy.api#required": {}
          }
        },
        "OwnerGid": {
          "target": "com.amazonaws.efs#OwnerGid",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the POSIX group ID to apply to the <code>RootDirectory</code>. Accepts values from 0 to 2^32 (4294967295).</p>",
            "smithy.api#required": {}
          }
        },
        "Permissions": {
          "target": "com.amazonaws.efs#Permissions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the POSIX permissions to apply to the <code>RootDirectory</code>, in the format of an octal number representing the file's mode bits.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Required if the <code>RootDirectory</code> > <code>Path</code> specified does not exist. \n      Specifies the POSIX IDs and permissions to apply to the access point's <code>RootDirectory</code> > <code>Path</code>. \n      If the access point root directory does not exist, EFS creates it with these settings when a client connects to the access point. \n      When specifying <code>CreationInfo</code>, you must include values for all properties. \n   </p>\n         <p>Amazon EFS creates a root directory only if you have provided the  CreationInfo: OwnUid, OwnGID, and permissions for the directory. \n      If  you do not provide this information, Amazon EFS does not create the root directory. If the root directory does not exist, attempts to mount \n      using the access point will fail.</p>\n         <important>\n            <p>If you do not provide <code>CreationInfo</code> and the specified <code>RootDirectory</code> does not exist, \n      attempts to mount the file system using the access point will fail.</p>\n         </important>"
      }
    },
    "com.amazonaws.efs#CreationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.efs#DeleteAccessPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteAccessPointRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointNotFound"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified access point. After deletion is complete, new clients can no \n      longer connect to the access points. Clients connected to the access point at the time of \n      deletion will continue to function until they terminate their connection.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DeleteAccessPoint</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/access-points/{AccessPointId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteAccessPointRequest": {
      "type": "structure",
      "members": {
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access point that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DeleteFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteFileSystemRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemInUse"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a file system, permanently severing access to its contents. Upon return, the\n      file system no longer exists and you can't access any contents of the deleted file\n      system.</p>\n         <p>You need to manually delete mount targets attached to a file system before you can delete\n    an EFS file system. This step is performed for you when you use the Amazon Web Services console \n    to delete a file system.</p>\n         <note>\n            <p>You cannot delete a file system that is part of an EFS Replication configuration. \n      You need to delete the replication configuration first.</p>\n         </note>\n         <p> You can't delete a file system that is in use. That is, if the file system has\n      any mount targets, you must first delete them. For more information, see <a>DescribeMountTargets</a> and <a>DeleteMountTarget</a>. </p>\n         <note>\n            <p>The <code>DeleteFileSystem</code> call returns while the file system state is still\n          <code>deleting</code>. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> operation, which returns a list of file systems in your\n        account. If you pass file system ID or creation token for the deleted file system, the <a>DescribeFileSystems</a> returns a <code>404 FileSystemNotFound</code>\n        error.</p>\n         </note>\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:DeleteFileSystem</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/file-systems/{FileSystemId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteFileSystemPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteFileSystemPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#IncorrectFileSystemLifeCycleState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the <code>FileSystemPolicy</code> for the specified file system. \n      The default <code>FileSystemPolicy</code> goes into effect once the existing policy is deleted. \n      For more information about the default file system policy, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/res-based-policies-efs.html\">Using Resource-based Policies with EFS</a>.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DeleteFileSystemPolicy</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DeleteFileSystemPolicyRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the EFS file system for which to delete the <code>FileSystemPolicy</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DeleteFileSystemRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DeleteMountTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteMountTargetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#DependencyTimeout"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#MountTargetNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified mount target.</p>\n         <p>This operation forcibly breaks any mounts of the file system by using the mount target\n      that is being deleted, which might disrupt instances or applications using those mounts. To\n      avoid applications getting cut off abruptly, you might consider unmounting any mounts of the\n      mount target, if feasible. The operation also deletes the associated network interface.\n      Uncommitted writes might be lost, but breaking a mount target using this operation does not\n      corrupt the file system itself. The file system you created remains. You can mount an EC2\n      instance in your VPC by using another mount target.</p>\n         <p>This operation requires permissions for the following action on the file\n      system:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>elasticfilesystem:DeleteMountTarget</code>\n               </p>\n            </li>\n         </ul>\n         <note>\n            <p>The <code>DeleteMountTarget</code> call returns while the mount target state is still\n          <code>deleting</code>. You can check the mount target deletion by calling the <a>DescribeMountTargets</a> operation, which returns a list of mount target\n        descriptions for the given file system. </p>\n         </note>\n         <p>The operation also requires permissions for the following Amazon EC2 action on the\n      mount target's network interface:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ec2:DeleteNetworkInterface</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/mount-targets/{MountTargetId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteMountTargetRequest": {
      "type": "structure",
      "members": {
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the mount target to delete (String).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DeleteReplicationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteReplicationConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ReplicationNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing replication configuration. To delete a replication configuration, you\n      must make the request from the Amazon Web Services Region in which the destination file system\n      is located. Deleting a replication configuration ends the replication process. After a\n      replication configuration is deleted, the destination file system is no longer read-only. You\n      can write to the destination file system after its status becomes\n      <code>Writeable</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/file-systems/{SourceFileSystemId}/replication-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteReplicationConfigurationRequest": {
      "type": "structure",
      "members": {
        "SourceFileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the source file system in the replication configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DeleteTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteTagsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "Use UntagResource."
        },
        "smithy.api#documentation": "<note>\n            <p>DEPRECATED - <code>DeleteTags</code> is deprecated and not maintained. To remove tags from EFS\n        resources, use the  API action.</p>\n         </note>\n         <p>Deletes the specified tags from a file system. If the <code>DeleteTags</code> request\n      includes a tag key that doesn't exist, Amazon EFS ignores it and doesn't cause an\n      error. For more information about tags and related restrictions, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Tag restrictions</a> in the\n        <i>Billing and Cost Management User Guide</i>.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DeleteTags</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/delete-tags/{FileSystemId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteTagsRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose tags you want to delete (String).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.efs#TagKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of tag keys to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DependencyTimeout": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service timed out trying to fulfill the request, and the client should try the\n            call again.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 504
      }
    },
    "com.amazonaws.efs#DescribeAccessPoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeAccessPointsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeAccessPointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointNotFound"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the description of a specific Amazon EFS access point if the <code>AccessPointId</code> is provided. \n      If you provide an EFS <code>FileSystemId</code>, it returns descriptions of all access points for that file system. \n      You can provide either an <code>AccessPointId</code> or a <code>FileSystemId</code> in the request, but not both. </p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DescribeAccessPoints</code> action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/access-points",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.efs#DescribeAccessPointsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.efs#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) When retrieving all access points for a file system,\n      you can optionally specify the <code>MaxItems</code> parameter to limit the number of objects returned in a response.  \n      The default value is 100. </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>NextToken</code> is present if the response is paginated. You can use \n      <code>NextMarker</code> in the subsequent request to fetch the next page of access point descriptions.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies an EFS access point to describe in the response; mutually exclusive with <code>FileSystemId</code>.</p>",
            "smithy.api#httpQuery": "AccessPointId"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) If you provide a <code>FileSystemId</code>, EFS returns all access points for that file system; mutually exclusive with <code>AccessPointId</code>.</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeAccessPointsResponse": {
      "type": "structure",
      "members": {
        "AccessPoints": {
          "target": "com.amazonaws.efs#AccessPointDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>An array of access point descriptions.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>Present if there are more access points than returned in the response. \n      You can use the NextMarker in the subsequent request to fetch the additional descriptions.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeAccountPreferences": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeAccountPreferencesRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeAccountPreferencesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the account preferences settings for the Amazon Web Services account associated with the user making the request, in the current Amazon Web Services Region.\n      For more information, see <a href=\"efs/latest/ug/manage-efs-resource-ids.html\">Managing Amazon EFS resource IDs</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/account-preferences",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeAccountPreferencesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) You can use <code>NextToken</code> in a subsequent request to fetch the next page of \n      Amazon Web Services account preferences if the response payload was paginated.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.efs#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) When retrieving account preferences,\n      you can optionally specify the <code>MaxItems</code> parameter to limit the number of objects returned in a response.  \n      The default value is 100. </p>"
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeAccountPreferencesResponse": {
      "type": "structure",
      "members": {
        "ResourceIdPreference": {
          "target": "com.amazonaws.efs#ResourceIdPreference",
          "traits": {
            "smithy.api#documentation": "<p>Describes the resource ID preference setting for the Amazon Web Services account associated with the user making the request, in the current Amazon Web Services Region.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>Present if there are more records than returned in the response. \n      You can use the <code>NextToken</code> in the subsequent request to fetch the additional descriptions.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeBackupPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeBackupPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#BackupPolicyDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#PolicyNotFound"
        },
        {
          "target": "com.amazonaws.efs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the backup policy for the specified EFS file system.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/backup-policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeBackupPolicyRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which EFS file system to retrieve the <code>BackupPolicy</code> for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeFileSystemPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeFileSystemPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#FileSystemPolicyDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#PolicyNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the <code>FileSystemPolicy</code> for the specified EFS file system.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DescribeFileSystemPolicy</code> action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeFileSystemPolicyRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which EFS file system to retrieve the <code>FileSystemPolicy</code> for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeFileSystems": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeFileSystemsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeFileSystemsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the description of a specific Amazon EFS file system if either the file system\n        <code>CreationToken</code> or the <code>FileSystemId</code> is provided. Otherwise, it\n      returns descriptions of all file systems owned by the caller's Amazon Web Services account in the \n      Amazon Web Services Region of the endpoint that you're calling.</p>\n         <p>When retrieving all file system descriptions, you can optionally specify the\n        <code>MaxItems</code> parameter to limit the number of descriptions in a response.\n      This number is automatically set to 100. If more file system descriptions remain,\n      Amazon EFS returns a <code>NextMarker</code>, an opaque token, in the response. In this case,\n      you should send a subsequent request with the <code>Marker</code> request parameter set to the\n      value of <code>NextMarker</code>. </p>\n         <p>To retrieve a list of your file system descriptions, this operation is used in an\n      iterative process, where <code>DescribeFileSystems</code> is called first without the\n        <code>Marker</code> and then the operation continues to call it with the <code>Marker</code>\n      parameter set to the value of the <code>NextMarker</code> from the previous response until the\n      response has no <code>NextMarker</code>. </p>\n         <p> The order of file systems returned in the response of one\n        <code>DescribeFileSystems</code> call and the order of file systems returned across the\n      responses of a multi-call iteration is unspecified. </p>\n         <p> This operation requires permissions for the\n        <code>elasticfilesystem:DescribeFileSystems</code> action. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "pageSize": "MaxItems"
        }
      }
    },
    "com.amazonaws.efs#DescribeFileSystemsRequest": {
      "type": "structure",
      "members": {
        "MaxItems": {
          "target": "com.amazonaws.efs#MaxItems",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies the maximum number of file systems to return in the response\n      (integer). This number is automatically set to 100. The response is paginated at 100 per page if you have more than 100 file systems.\n      </p>",
            "smithy.api#httpQuery": "MaxItems"
          }
        },
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Opaque pagination token returned from a previous\n        <code>DescribeFileSystems</code> operation (String). If present, specifies to continue the\n      list from where the returning call had left off. </p>",
            "smithy.api#httpQuery": "Marker"
          }
        },
        "CreationToken": {
          "target": "com.amazonaws.efs#CreationToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Restricts the list to the file system with this creation token (String). You\n      specify a creation token when you create an Amazon EFS file system.</p>",
            "smithy.api#httpQuery": "CreationToken"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) ID of the file system whose description you want to retrieve\n      (String).</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DescribeFileSystemsResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>Present if provided by caller in the request (String).</p>"
          }
        },
        "FileSystems": {
          "target": "com.amazonaws.efs#FileSystemDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>An array of file system descriptions.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>Present if there are more file systems than returned in the response (String). You can\n      use the <code>NextMarker</code> in the subsequent request to fetch the descriptions.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeLifecycleConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeLifecycleConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#LifecycleConfigurationDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the current <code>LifecycleConfiguration</code> object for the specified Amazon\n      EFS file system. EFS lifecycle management uses the <code>LifecycleConfiguration</code> object\n      to identify which files to move to the EFS Infrequent Access (IA) storage class. For a file system\n      without a <code>LifecycleConfiguration</code> object, the call returns an empty array in the\n      response.</p>\n         <p>When EFS Intelligent-Tiering is enabled, <code>TransitionToPrimaryStorageClass</code> has\n      a value of <code>AFTER_1_ACCESS</code>.</p>\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:DescribeLifecycleConfiguration</code> operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/lifecycle-configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeLifecycleConfigurationRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose <code>LifecycleConfiguration</code> object you want to\n      retrieve (String).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeMountTargetSecurityGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeMountTargetSecurityGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeMountTargetSecurityGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#IncorrectMountTargetState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#MountTargetNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the security groups currently in effect for a mount target. This operation\n      requires that the network interface of the mount target has been created and the lifecycle\n      state of the mount target is not <code>deleted</code>.</p>\n         <p>This operation requires permissions for the following actions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>elasticfilesystem:DescribeMountTargetSecurityGroups</code> action on the mount\n          target's file system. </p>\n            </li>\n            <li>\n               <p>\n                  <code>ec2:DescribeNetworkInterfaceAttribute</code> action on the mount target's\n          network interface. </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/mount-targets/{MountTargetId}/security-groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeMountTargetSecurityGroupsRequest": {
      "type": "structure",
      "members": {
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the mount target whose security groups you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DescribeMountTargetSecurityGroupsResponse": {
      "type": "structure",
      "members": {
        "SecurityGroups": {
          "target": "com.amazonaws.efs#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>An array of security groups.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeMountTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeMountTargetsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeMountTargetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointNotFound"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#MountTargetNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the descriptions of all the current mount targets, or a specific mount target,\n      for a file system. When requesting all of the current mount targets, the order of mount\n      targets returned in the response is unspecified.</p>\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:DescribeMountTargets</code> action, on either the file system ID\n      that you specify in <code>FileSystemId</code>, or on the file system of the mount target that\n      you specify in <code>MountTargetId</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/mount-targets",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeMountTargetsRequest": {
      "type": "structure",
      "members": {
        "MaxItems": {
          "target": "com.amazonaws.efs#MaxItems",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Maximum number of mount targets to return in the response. Currently, this\n      number is automatically set to\n      10, and other values are ignored. The response is paginated at 100 per page if you have more than 100 mount targets.</p>",
            "smithy.api#httpQuery": "MaxItems"
          }
        },
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Opaque pagination token returned from a previous\n        <code>DescribeMountTargets</code> operation (String). If present, it specifies to continue\n      the list from where the previous returning call left off.</p>",
            "smithy.api#httpQuery": "Marker"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) ID of the file system whose mount targets you want to list (String). It must\n      be included in your request if an <code>AccessPointId</code> or <code>MountTargetId</code> is not included. Accepts either a file system ID or ARN as input.</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        },
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) ID of the mount target that you want to have described (String). It must be\n      included in your request if <code>FileSystemId</code> is not included. Accepts either a mount target ID or ARN as input.</p>",
            "smithy.api#httpQuery": "MountTargetId"
          }
        },
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The ID of the access point whose mount targets that you want to list. It must be included in your request if a\n      <code>FileSystemId</code> or <code>MountTargetId</code> is not included in your request. Accepts either an access point ID or ARN as input.</p>",
            "smithy.api#httpQuery": "AccessPointId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DescribeMountTargetsResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If the request included the <code>Marker</code>, the response returns that value in\n      this field.</p>"
          }
        },
        "MountTargets": {
          "target": "com.amazonaws.efs#MountTargetDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Returns the file system's mount targets as an array of\n        <code>MountTargetDescription</code> objects.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If a value is present, there are more mount targets to return. In a subsequent request,\n      you can provide <code>Marker</code> in your request with this value to retrieve the next set\n      of mount targets.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DescribeReplicationConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeReplicationConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeReplicationConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ReplicationNotFound"
        },
        {
          "target": "com.amazonaws.efs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the replication configuration for a specific file system. If a file system is\n      not specified, all of the replication configurations for the Amazon Web Services account in an\n        Amazon Web Services Region are retrieved.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems/replication-configurations",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeReplicationConfigurationsRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>You can retrieve the replication configuration for a specific file system by providing its\n      file system ID.</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>NextToken</code> is present if the response is paginated. You can use\n        <code>NextToken</code> in a subsequent request to fetch the next page of\n      output.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.efs#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) To limit the number of objects returned in a response, you can specify the\n        <code>MaxItems</code> parameter. The default value is 100. </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeReplicationConfigurationsResponse": {
      "type": "structure",
      "members": {
        "Replications": {
          "target": "com.amazonaws.efs#ReplicationConfigurationDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The collection of replication configurations that is returned.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>You can use the <code>NextToken</code> from the previous response in a subsequent \n      request to fetch the additional descriptions.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#DescribeTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeTagsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "Use ListTagsForResource."
        },
        "smithy.api#documentation": "<note>\n            <p>DEPRECATED - The <code>DescribeTags</code> action is deprecated and not maintained. To view\n        tags associated with EFS resources, use the <code>ListTagsForResource</code> API\n        action.</p>\n         </note>\n         <p>Returns the tags associated with a file system. The order of tags returned in the\n      response of one <code>DescribeTags</code> call and the order of tags returned across the\n      responses of a multiple-call iteration (when using pagination) is unspecified. </p>\n         <p> This operation requires permissions for the\n        <code>elasticfilesystem:DescribeTags</code> action. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/tags/{FileSystemId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "pageSize": "MaxItems"
        }
      }
    },
    "com.amazonaws.efs#DescribeTagsRequest": {
      "type": "structure",
      "members": {
        "MaxItems": {
          "target": "com.amazonaws.efs#MaxItems",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The maximum number of file system tags to return in the response. Currently,\n      this number is automatically set to\n      100, and other values are ignored. The response is paginated at 100 per page if you have more than 100 tags.</p>",
            "smithy.api#httpQuery": "MaxItems"
          }
        },
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) An opaque pagination token returned from a previous\n        <code>DescribeTags</code> operation (String). If present, it specifies to continue the list\n      from where the previous call left off.</p>",
            "smithy.api#httpQuery": "Marker"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose tag set you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#DescribeTagsResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If the request included a <code>Marker</code>, the response returns that value in this\n      field.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Returns tags associated with the file system as an array of <code>Tag</code> objects.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If a value is present, there are more tags to return. In a subsequent request, you can\n      provide the value of <code>NextMarker</code> as the value of the <code>Marker</code> parameter\n      in your next request to retrieve the next set of tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.efs#Destination": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.efs#ReplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Describes the status of the destination Amazon EFS file system. If the status is\n        <code>ERROR</code>, the destination file system in the replication configuration is in a\n      failed state and is unrecoverable. To access the file system data, restore a backup of the\n      failed file system to a new file system.</p>",
            "smithy.api#required": {}
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the destination Amazon EFS file system.</p>",
            "smithy.api#required": {}
          }
        },
        "Region": {
          "target": "com.amazonaws.efs#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region in which the destination file system is located.</p>",
            "smithy.api#required": {}
          }
        },
        "LastReplicatedTimestamp": {
          "target": "com.amazonaws.efs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the most recent sync was successfully completed on the destination file\n      system. Any changes to data on the source file system that occurred before this time have been\n      successfully replicated to the destination file system. Any changes that occurred after this\n      time might not be fully replicated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the destination file system in the replication configuration.</p>"
      }
    },
    "com.amazonaws.efs#DestinationToCreate": {
      "type": "structure",
      "members": {
        "Region": {
          "target": "com.amazonaws.efs#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>To create a file system that uses Regional storage, specify the Amazon Web Services Region\n      in which to create the destination file system.</p>"
          }
        },
        "AvailabilityZoneName": {
          "target": "com.amazonaws.efs#AvailabilityZoneName",
          "traits": {
            "smithy.api#documentation": "<p>To create a file system that uses EFS One Zone storage, specify the name of the\n      Availability Zone in which to create the destination file system.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.efs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Key Management Service (KMS) key that you want to use to\n      encrypt the destination file system. If you do not specify a KMS key, Amazon EFS uses your default KMS key for Amazon EFS,\n        <code>/aws/elasticfilesystem</code>. This ID can be in one of the following formats:</p>\n         <ul>\n            <li>\n               <p>Key ID - The unique identifier of the key, for example\n            <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>ARN - The Amazon Resource Name (ARN) for the key, for example\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>Key alias - A previously created display name for a key, for example\n          <code>alias/projectKey1</code>.</p>\n            </li>\n            <li>\n               <p>Key alias ARN - The ARN for a key alias, for example\n            <code>arn:aws:kms:us-west-2:444455556666:alias/projectKey1</code>.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the destination file system to create in the replication configuration.</p>"
      }
    },
    "com.amazonaws.efs#Destinations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.efs#Destination"
      }
    },
    "com.amazonaws.efs#DestinationsToCreate": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.efs#DestinationToCreate"
      }
    },
    "com.amazonaws.efs#Encrypted": {
      "type": "boolean"
    },
    "com.amazonaws.efs#ErrorCode": {
      "type": "string",
      "traits": {
[...]
