{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.efs#AccessPointAlreadyExists": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        },
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the access point that you are trying to create already exists, with the\n            creation token you provided in the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.efs#AccessPointArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:elasticfilesystem:[0-9a-z-:]+:access-point/fsap-[0-9a-f]{8,40}$"
      }
    },
    "com.amazonaws.efs#AccessPointDescription": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.efs#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The opaque string specified in the request to ensure idempotent creation.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.efs#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access point. This is the value of the <code>Name</code> tag.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the access point, presented as an array of Tag objects.</p>"
          }
        },
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access point, assigned by Amazon EFS.</p>"
          }
        },
        "AccessPointArn": {
          "target": "com.amazonaws.efs#AccessPointArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) associated with the access\n      point.</p>"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the EFS file system that the access point applies to.</p>"
          }
        },
        "PosixUser": {
          "target": "com.amazonaws.efs#PosixUser",
          "traits": {
            "smithy.api#documentation": "<p>The full POSIX identity, including the user ID, group ID, and secondary group IDs on the access point that is used for all file operations by\n      NFS clients using the access point.</p>"
          }
        },
        "RootDirectory": {
          "target": "com.amazonaws.efs#RootDirectory",
          "traits": {
            "smithy.api#documentation": "<p>The directory on the EFS file system that the access point exposes as the root\n      directory to NFS clients using the access point.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.efs#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the Amazon Web Services account that owns the access point resource.</p>"
          }
        },
        "LifeCycleState": {
          "target": "com.amazonaws.efs#LifeCycleState",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the lifecycle phase of the access point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a description of an EFS file system access point.</p>"
      }
    },
    "com.amazonaws.efs#AccessPointDescriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.efs#AccessPointDescription"
      }
    },
    "com.amazonaws.efs#AccessPointId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^(arn:aws[-a-z]*:elasticfilesystem:[0-9a-z-:]+:access-point/fsap-[0-9a-f]{8,40}|fsap-[0-9a-f]{8,40})$"
      }
    },
    "com.amazonaws.efs#AccessPointLimitExceeded": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the Amazon Web Services account has already created the maximum number of access points\n            allowed per file system. For more informaton, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/limits.html#limits-efs-resources-per-account-per-region\">https://docs.aws.amazon.com/efs/latest/ug/limits.html#limits-efs-resources-per-account-per-region</a>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.efs#AccessPointNotFound": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the specified <code>AccessPointId</code> value doesn't exist in the\n            requester's Amazon Web Services account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.efs#AvailabilityZoneId": {
      "type": "string"
    },
    "com.amazonaws.efs#AvailabilityZoneName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.efs#AvailabilityZonesMismatch": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the Availability Zone that was specified for a mount target is \n            different from the Availability Zone that was specified for One Zone storage.\n            For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/availability-durability.html\">Regional and One Zone storage redundancy</a>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.efs#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 14
        },
        "smithy.api#pattern": "^(\\d{12})|(\\d{4}-\\d{4}-\\d{4})$"
      }
    },
    "com.amazonaws.efs#Backup": {
      "type": "boolean"
    },
    "com.amazonaws.efs#BackupPolicy": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.efs#Status",
          "traits": {
            "smithy.api#documentation": "<p>Describes the status of the file system's backup policy.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>\n                     <code>ENABLED</code>\n                  </b> – EFS is automatically\n          backing up the file system.</p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>ENABLING</code>\n                  </b> – EFS is turning on\n          automatic backups for the file system.</p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>DISABLED</code>\n                  </b> – Automatic back ups are turned\n          off for the file system.</p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>DISABLING</code>\n                  </b> – EFS is turning off\n          automatic backups for the file system.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The backup policy for the file system used to create automatic daily backups. If status has a value of \n      <code>ENABLED</code>, the file system is being automatically backed up. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/awsbackup.html#automatic-backups\">Automatic backups</a>.</p>"
      }
    },
    "com.amazonaws.efs#BackupPolicyDescription": {
      "type": "structure",
      "members": {
        "BackupPolicy": {
          "target": "com.amazonaws.efs#BackupPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Describes the file system's backup policy, indicating whether automatic backups are\n      turned on or off.</p>"
          }
        }
      }
    },
    "com.amazonaws.efs#BadRequest": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the request is malformed or contains an error such as an invalid\n            parameter value or a missing required parameter.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.efs#BypassPolicyLockoutSafetyCheck": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.efs#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.efs#ConflictException": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the source file system in a replication is encrypted but the destination file system is unencrypted.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.efs#CreateAccessPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateAccessPointRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#AccessPointDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointAlreadyExists"
        },
        {
          "target": "com.amazonaws.efs#AccessPointLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#IncorrectFileSystemLifeCycleState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an EFS access point. An access point is an application-specific view\n      into an EFS file system that applies an operating system user and group, and a file\n      system path, to any file system request made through the access point. The operating system\n      user and group override any identity information provided by the NFS client. The file system\n      path is exposed as the access point's root directory. Applications using the access point can\n      only access data in the application's own directory and any subdirectories. A file system can\n      have a maximum of 10,000 access points unless you request an increase. To learn more, see\n        <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-access-points.html\">Mounting a file\n        system using EFS access points</a>.</p>\n         <note>\n            <p>If multiple requests to create access points on the same file system are sent in quick\n        succession, and the file system is near the limit of access points, you may experience a\n        throttling response for these requests. This is to ensure that the file system does not\n        exceed the stated access point limit.</p>\n         </note>\n         <p>This operation requires permissions for the <code>elasticfilesystem:CreateAccessPoint</code> action.</p>\n         <p>Access points can be tagged on creation. If tags are specified in the creation action, IAM\n      performs additional authorization on the <code>elasticfilesystem:TagResource</code> action to\n      verify if users have permissions to create tags. Therefore, you must grant explicit\n      permissions to use the <code>elasticfilesystem:TagResource</code> action. For more\n      information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/using-tags-efs.html#supported-iam-actions-tagging.html\">Granting\n        permissions to tag resources during creation</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/access-points",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#CreateAccessPointRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.efs#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters that Amazon EFS uses to ensure idempotent\n      creation.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Creates tags associated with the access point. Each tag is a key-value pair, each key must be unique. For more \n      information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>\n      in the <i>Amazon Web Services General Reference Guide</i>.</p>"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the EFS file system that the access point provides access to.</p>",
            "smithy.api#required": {}
          }
        },
        "PosixUser": {
          "target": "com.amazonaws.efs#PosixUser",
          "traits": {
            "smithy.api#documentation": "<p>The operating system user and\n      group applied to all file system requests made using the access point.</p>"
          }
        },
        "RootDirectory": {
          "target": "com.amazonaws.efs#RootDirectory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the directory on the EFS file system that the access point exposes as\n      the root directory of your file system to NFS clients using the access point. The clients\n      using the access point can only access the root directory and below. If the\n        <code>RootDirectory</code> > <code>Path</code> specified does not exist, Amazon EFS creates it and applies the <code>CreationInfo</code> settings when a client connects to an\n      access point. When specifying a <code>RootDirectory</code>, you must provide the\n        <code>Path</code>, and the <code>CreationInfo</code>.</p>\n         <p>Amazon EFS creates a root directory only if you have provided the  CreationInfo: OwnUid, OwnGID, and permissions for the directory. \n      If  you do not provide this information, Amazon EFS does not create the root directory. If the root directory does not exist, attempts to mount \n      using the access point will fail.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#CreateFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateFileSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#FileSystemDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemAlreadyExists"
        },
        {
          "target": "com.amazonaws.efs#FileSystemLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#InsufficientThroughputCapacity"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ThroughputLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#UnsupportedAvailabilityZone"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new, empty file system. The operation requires a creation token in the\n      request that Amazon EFS uses to ensure idempotent creation (calling the operation with same\n      creation token has no effect). If a file system does not currently exist that is owned by the\n      caller's Amazon Web Services account with the specified creation token, this operation does the\n      following:</p>\n         <ul>\n            <li>\n               <p>Creates a new, empty file system. The file system will have an Amazon EFS assigned\n          ID, and an initial lifecycle state <code>creating</code>.</p>\n            </li>\n            <li>\n               <p>Returns with the description of the created file system.</p>\n            </li>\n         </ul>\n         <p>Otherwise, this operation returns a <code>FileSystemAlreadyExists</code> error with the\n      ID of the existing file system.</p>\n         <note>\n            <p>For basic use cases, you can use a randomly generated UUID for the creation\n        token.</p>\n         </note>\n         <p>The idempotent operation allows you to retry a <code>CreateFileSystem</code> call without\n      risk of creating an extra file system. This can happen when an initial call fails in a way\n      that leaves it uncertain whether or not a file system was actually created. An example might\n      be that a transport level timeout occurred or your connection was reset. As long as you use\n      the same creation token, if the initial call had succeeded in creating a file system, the\n      client can learn of its existence from the <code>FileSystemAlreadyExists</code> error.</p>\n         <p>For more information, see \n      <a href=\"https://docs.aws.amazon.com/efs/latest/ug/creating-using-create-fs.html#creating-using-create-fs-part1\">Creating a file system</a>\n     in the <i>Amazon EFS User Guide</i>.</p>\n         <note>\n            <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle\n        state is still <code>creating</code>. You can check the file system creation status by\n        calling the <a>DescribeFileSystems</a> operation, which among other things returns the file\n        system state.</p>\n         </note>\n         <p>This operation accepts an optional <code>PerformanceMode</code> parameter that you choose\n      for your file system. We recommend <code>generalPurpose</code>\n            <code>PerformanceMode</code> for all file\n      systems. The <code>maxIO</code> mode is a previous generation performance type that is designed for highly parallelized workloads that can tolerate higher latencies\n          than the <code>generalPurpose</code> mode. <code>MaxIO</code> mode is not supported for One Zone file systems or\n          file systems that use Elastic throughput.</p>\n         <p>The <code>PerformanceMode</code> can't be changed after the file system has been\n      created. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/performance.html#performancemodes.html\">Amazon EFS performance\n        modes</a>.</p>\n         <p>You can set the throughput mode for the file system using the <code>ThroughputMode</code>\n      parameter.</p>\n         <p>After the file system is fully created, Amazon EFS sets its lifecycle state to\n        <code>available</code>, at which point you can create one or more mount targets for the file\n      system in your VPC. For more information, see <a>CreateMountTarget</a>. You mount\n      your Amazon EFS file system on an EC2 instances in your VPC by using the mount\n      target. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p>\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:CreateFileSystem</code> action. </p>\n         <p>File systems can be tagged on creation. If tags are specified in the creation action, IAM\n      performs additional authorization on the <code>elasticfilesystem:TagResource</code> action to\n      verify if users have permissions to create tags. Therefore, you must grant explicit\n      permissions to use the <code>elasticfilesystem:TagResource</code> action. For more\n      information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/using-tags-efs.html#supported-iam-actions-tagging.html\">Granting permissions to tag resources during creation</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/file-systems",
          "code": 201
        }
      }
    },
    "com.amazonaws.efs#CreateFileSystemRequest": {
      "type": "structure",
      "members": {
        "CreationToken": {
          "target": "com.amazonaws.efs#CreationToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent\n      creation.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "PerformanceMode": {
          "target": "com.amazonaws.efs#PerformanceMode",
          "traits": {
            "smithy.api#documentation": "<p>The performance mode of the file system. We recommend <code>generalPurpose</code>\n      performance mode for all file systems. File systems using the <code>maxIO</code> performance\n      mode can scale to higher levels of aggregate throughput and operations per second with a\n      tradeoff of slightly higher latencies for most file operations. The performance mode\n      can't be changed after the file system has been created. The <code>maxIO</code> mode is\n      not supported on One Zone file systems.</p>\n         <important>\n            <p>Due to the higher per-operation latencies with Max I/O, we recommend using General Purpose performance mode for all file systems.</p>\n         </important>\n         <p>Default is <code>generalPurpose</code>.</p>"
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.efs#Encrypted",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that, if true, creates an encrypted file system. When creating an\n      encrypted file system, you have the option of specifying an existing Key Management Service key (KMS key).\n      If you don't specify a KMS key, then the default KMS key for\n      Amazon EFS, <code>/aws/elasticfilesystem</code>, is used to protect the encrypted file system.\n    </p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.efs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key that you want to use to protect the encrypted file\n      system. This parameter is required only if you want to use a non-default KMS key. If this parameter is not specified, the default KMS key for Amazon EFS is used. You can specify a KMS key ID using the following\n      formats:</p>\n         <ul>\n            <li>\n               <p>Key ID - A unique identifier of the key, for example\n            <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>ARN - An Amazon Resource Name (ARN) for the key, for example\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>\n            </li>\n            <li>\n               <p>Key alias - A previously created display name for a key, for example\n            <code>alias/projectKey1</code>.</p>\n            </li>\n            <li>\n               <p>Key alias ARN - An ARN for a key alias, for example\n            <code>arn:aws:kms:us-west-2:444455556666:alias/projectKey1</code>.</p>\n            </li>\n         </ul>\n         <p>If you use <code>KmsKeyId</code>, you must set the <a>CreateFileSystemRequest$Encrypted</a> \n      parameter to true.</p>\n         <important>\n            <p>EFS accepts only symmetric KMS keys. You cannot use asymmetric \n      KMS keys with Amazon EFS file systems.</p>\n         </important>"
          }
        },
        "ThroughputMode": {
          "target": "com.amazonaws.efs#ThroughputMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the throughput mode for the file system. The mode can be <code>bursting</code>,\n        <code>provisioned</code>, or <code>elastic</code>. If you set <code>ThroughputMode</code> to\n        <code>provisioned</code>, you must also set a value for\n        <code>ProvisionedThroughputInMibps</code>. After you create the file system, you can\n      decrease your file system's Provisioned throughput or change between the\n      throughput modes, with certain time restrictions. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/performance.html#provisioned-throughput\">Specifying\n        throughput with provisioned mode</a> in the <i>Amazon EFS User\n        Guide</i>. </p>\n         <p>Default is <code>bursting</code>.</p>"
          }
        },
        "ProvisionedThroughputInMibps": {
          "target": "com.amazonaws.efs#ProvisionedThroughputInMibps",
          "traits": {
            "smithy.api#documentation": "<p>The throughput, measured in mebibytes per second (MiBps), that you want to provision for a\n      file system that you're creating. Required if <code>ThroughputMode</code> is set to\n        <code>provisioned</code>. Valid values are 1-3414 MiBps, with the upper limit depending on\n      Region. To increase this limit, contact Amazon Web ServicesSupport. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/limits.html#soft-limits\">Amazon EFS quotas\n        that you can increase</a> in the <i>Amazon EFS User\n      Guide</i>.</p>"
          }
        },
        "AvailabilityZoneName": {
          "target": "com.amazonaws.efs#AvailabilityZoneName",
          "traits": {
            "smithy.api#documentation": "<p>For One Zone file systems, specify the Amazon Web Services\n      Availability Zone in which to create the file system. Use the format <code>us-east-1a</code> to\n      specify the  Availability Zone. For more information about One Zone file systems, see\n      <a href=\"https://docs.aws.amazon.com/efs/latest/ug/availability-durability.html#file-system-type\">EFS file system types</a> in the <i>Amazon EFS User Guide</i>.</p>\n         <note>\n            <p>One Zone file systems are not available in all Availability Zones in Amazon Web Services Regions where Amazon EFS is available.</p>\n         </note>"
          }
        },
        "Backup": {
          "target": "com.amazonaws.efs#Backup",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether automatic backups are enabled on the file system that you are creating.\n      Set the value to <code>true</code> to enable automatic backups. If you are creating a\n      One Zone file system, automatic backups are enabled by default. For more\n      information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/awsbackup.html#automatic-backups\">Automatic backups</a> in the\n          <i>Amazon EFS User Guide</i>.</p>\n         <p>Default is <code>false</code>. However, if you specify an <code>AvailabilityZoneName</code>, \n      the default is <code>true</code>.</p>\n         <note>\n            <p>Backup is not available in all Amazon Web Services Regions where Amazon EFS is available.</p>\n         </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Use to create one or more tags associated with the file system. Each\n        tag is a user-defined key-value pair. Name your file system on creation by including a\n        <code>\"Key\":\"Name\",\"Value\":\"{value}\"</code> key-value pair. Each key must be unique. For more \n        information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>\n        in the <i>Amazon Web Services General Reference Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#CreateMountTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateMountTargetRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#MountTargetDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AvailabilityZonesMismatch"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#IncorrectFileSystemLifeCycleState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#IpAddressInUse"
        },
        {
          "target": "com.amazonaws.efs#MountTargetConflict"
        },
        {
          "target": "com.amazonaws.efs#NetworkInterfaceLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#NoFreeAddressesInSubnet"
        },
        {
          "target": "com.amazonaws.efs#SecurityGroupLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#SecurityGroupNotFound"
        },
        {
          "target": "com.amazonaws.efs#SubnetNotFound"
        },
        {
          "target": "com.amazonaws.efs#UnsupportedAvailabilityZone"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a mount target for a file system. You can then mount the file system on EC2\n      instances by using the mount target.</p>\n         <p>You can create one mount target in each Availability Zone in your VPC. All EC2 instances\n      in a VPC within a given Availability Zone share a single mount target for a given file system. If\n      you have multiple subnets in an Availability Zone, you create a mount target in one of the subnets.\n      EC2 instances do not need to be in the same subnet as the mount target in order to\n      access their file system.</p>\n         <p>You can create only one mount target for a One Zone file system. You must\n      create that mount target in the same Availability Zone in which the file system is located. Use the\n        <code>AvailabilityZoneName</code> and <code>AvailabiltyZoneId</code> properties in the <a>DescribeFileSystems</a> response object to get this information. Use the\n        <code>subnetId</code> associated with the file system's Availability Zone when creating the mount\n      target.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p>\n         <p>To create a mount target for a file system, the file system's lifecycle state must be\n        <code>available</code>. For more information, see <a>DescribeFileSystems</a>.</p>\n         <p>In the request, provide the following:</p>\n         <ul>\n            <li>\n               <p>The file system ID for which you are creating the mount\n        target.</p>\n            </li>\n            <li>\n               <p>A subnet ID, which determines the following:</p>\n               <ul>\n                  <li>\n                     <p>The VPC in which Amazon EFS creates the mount target</p>\n                  </li>\n                  <li>\n                     <p>The Availability Zone in which Amazon EFS creates the mount target</p>\n                  </li>\n                  <li>\n                     <p>The IP address range from which Amazon EFS selects the IP address of the mount target\n              (if you don't specify an IP address in the request)</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>After creating the mount target, Amazon EFS returns a response that includes, a\n        <code>MountTargetId</code> and an <code>IpAddress</code>. You use this IP address when\n      mounting the file system in an EC2 instance. You can also use the mount target's\n      DNS name when mounting the file system. The EC2 instance on which you mount the file\n      system by using the mount target can resolve the mount target's DNS name to its IP\n      address. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html#how-it-works-implementation\">How it Works:\n        Implementation Overview</a>. </p>\n         <p>Note that you can create mount targets for a file system in only one VPC, and there can be\n      only one mount target per Availability Zone. That is, if the file system already has one or more\n      mount targets created for it, the subnet specified in the request to add another mount target\n      must meet the following requirements:</p>\n         <ul>\n            <li>\n               <p>Must belong to the same VPC as the subnets of the existing mount targets</p>\n            </li>\n            <li>\n               <p>Must not be in the same Availability Zone as any of the subnets of the existing mount\n          targets</p>\n            </li>\n         </ul>\n         <p>If the request satisfies the requirements, Amazon EFS does the following:</p>\n         <ul>\n            <li>\n               <p>Creates a new mount target in the specified subnet.</p>\n            </li>\n            <li>\n               <p>Also creates a new network interface in the subnet as follows:</p>\n               <ul>\n                  <li>\n                     <p>If the request provides an <code>IpAddress</code>, Amazon EFS assigns that\n              IP address to the network interface. Otherwise, Amazon EFS assigns a free\n              address in the subnet (in the same way that the Amazon EC2\n                <code>CreateNetworkInterface</code> call does when a request does not specify a\n              primary private IP address).</p>\n                  </li>\n                  <li>\n                     <p>If the request provides <code>SecurityGroups</code>, this network interface is\n              associated with those security groups. Otherwise, it belongs to the default security\n              group for the subnet's VPC.</p>\n                  </li>\n                  <li>\n                     <p>Assigns the description <code>Mount target <i>fsmt-id</i> for\n                file system <i>fs-id</i>\n                        </code> where <code>\n                           <i>fsmt-id</i>\n                        </code> is the mount target ID, and <code>\n                           <i>fs-id</i>\n                        </code> is the <code>FileSystemId</code>.</p>\n                  </li>\n                  <li>\n                     <p>Sets the <code>requesterManaged</code> property of the network interface to\n                <code>true</code>, and the <code>requesterId</code> value to\n              <code>EFS</code>.</p>\n                  </li>\n               </ul>\n               <p>Each Amazon EFS mount target has one corresponding requester-managed\n          EC2 network interface. After the network interface is created, Amazon EFS\n          sets the <code>NetworkInterfaceId</code> field in the mount target's description to\n          the network interface ID, and the <code>IpAddress</code> field to its address. If network\n          interface creation fails, the entire <code>CreateMountTarget</code> operation\n          fails.</p>\n            </li>\n         </ul>\n         <note>\n            <p>The <code>CreateMountTarget</code> call returns only after creating the network\n        interface, but while the mount target state is still <code>creating</code>, you can check\n        the mount target creation status by calling the <a>DescribeMountTargets</a> operation, which among other things returns the mount\n        target state.</p>\n         </note>\n         <p>We recommend that you create a mount target in each of the Availability Zones. There are cost\n      considerations for using a file system in an Availability Zone through a mount target created in\n      another Availability Zone. For more information, see <a href=\"http://aws.amazon.com/efs/pricing/\">Amazon EFS pricing</a>. In addition, by always using a mount target local to the\n      instance's Availability Zone, you eliminate a partial failure scenario. If the Availability Zone in\n      which your mount target is created goes down, then you can't access your file system\n      through that mount target. </p>\n         <p>This operation requires permissions for the following action on the file\n      system:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>elasticfilesystem:CreateMountTarget</code>\n               </p>\n            </li>\n         </ul>\n         <p>This operation also requires permissions for the following Amazon EC2\n      actions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ec2:DescribeSubnets</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ec2:DescribeNetworkInterfaces</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ec2:CreateNetworkInterface</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#examples": [
          {
            "title": "To create a new mount target",
            "documentation": "This operation creates a new mount target for an EFS file system.",
            "input": {
              "FileSystemId": "fs-01234567",
              "SubnetId": "subnet-1234abcd"
            },
            "output": {
              "OwnerId": "012345678912",
              "MountTargetId": "fsmt-12340abc",
              "FileSystemId": "fs-01234567",
              "SubnetId": "subnet-1234abcd",
              "LifeCycleState": "creating",
              "IpAddress": "192.0.0.2",
              "NetworkInterfaceId": "eni-cedf6789"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/mount-targets",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#CreateMountTargetRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system for which to create the mount target.</p>",
            "smithy.api#required": {}
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.efs#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet to add the mount target in. For One Zone file systems, use the subnet\n      that is associated with the file system's Availability Zone.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.efs#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>If the IP address type for the mount target is IPv4, then specify the IPv4 address within\n      the address range of the specified subnet.</p>"
          }
        },
        "Ipv6Address": {
          "target": "com.amazonaws.efs#Ipv6Address",
          "traits": {
            "smithy.api#documentation": "<p>If the IP address type for the mount target is IPv6, then specify the IPv6 address within\n      the address range of the specified subnet.</p>"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.efs#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>Specify the type of IP address of the mount target you are creating. Options are IPv4,\n      dual stack, or IPv6. If you don’t specify an IpAddressType, then IPv4 is used.</p>\n         <ul>\n            <li>\n               <p>IPV4_ONLY – Create mount target with IPv4 only subnet or dual-stack subnet.</p>\n            </li>\n            <li>\n               <p>DUAL_STACK – Create mount target with dual-stack subnet.</p>\n            </li>\n            <li>\n               <p>IPV6_ONLY – Create mount target with IPv6 only subnet.</p>\n            </li>\n         </ul>\n         <note>\n            <p>Creating IPv6 mount target only ENI in dual-stack subnet is not supported.</p>\n         </note>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.efs#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>VPC security group IDs, of the form <code>sg-xxxxxxxx</code>. These must be for the same\n      VPC as the subnet specified. The maximum number of security groups depends on account quota.\n      For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/amazon-vpc-limits.html\">Amazon VPC Quotas</a>\n      in the <i>Amazon VPC User Guide</i> (see the <b>Security Groups</b>\n      table).\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#CreateReplicationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateReplicationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#ReplicationConfigurationDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#ConflictException"
        },
        {
          "target": "com.amazonaws.efs#FileSystemLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#IncorrectFileSystemLifeCycleState"
        },
        {
          "target": "com.amazonaws.efs#InsufficientThroughputCapacity"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ReplicationNotFound"
        },
        {
          "target": "com.amazonaws.efs#ThroughputLimitExceeded"
        },
        {
          "target": "com.amazonaws.efs#UnsupportedAvailabilityZone"
        },
        {
          "target": "com.amazonaws.efs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a replication conﬁguration to either a new or existing EFS file system.\n      For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-replication.html\">Amazon EFS replication</a> in the <i>Amazon EFS User\n        Guide</i>. The replication configuration specifies the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Source file system</b> – The EFS file\n          system that you want to replicate. </p>\n            </li>\n            <li>\n               <p>\n                  <b>Destination file system</b> – The destination file\n          system to which the source file system is replicated. There can only be one destination\n          file system in a replication configuration. </p>\n               <note>\n                  <p>A file system can be part of only one replication configuration. </p>\n               </note>\n               <p>The destination parameters for the replication configuration depend on\n          whether you are replicating to a new file system or to an existing file system, and if you\n          are replicating across Amazon Web Services accounts. See <a>DestinationToCreate</a> for more information.</p>\n            </li>\n         </ul>\n         <p>This operation requires permissions for the <code>elasticfilesystem:CreateReplicationConfiguration</code>\n       action. Additionally, other permissions are required depending on how you are replicating file systems.\n       For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-replication.html#efs-replication-permissions\">Required permissions for replication</a>\n      in the <i>Amazon EFS User\n             Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/file-systems/{SourceFileSystemId}/replication-configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#CreateReplicationConfigurationRequest": {
      "type": "structure",
      "members": {
        "SourceFileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon EFS file system that you want to replicate. This file system cannot already be \n    a source or destination file system in another replication configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Destinations": {
          "target": "com.amazonaws.efs#DestinationsToCreate",
          "traits": {
            "smithy.api#documentation": "<p>An array of destination configuration objects. Only one destination configuration object is supported.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#CreateTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#CreateTagsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "Use TagResource."
        },
        "smithy.api#documentation": "<note>\n            <p>DEPRECATED - <code>CreateTags</code> is deprecated and not maintained. To create tags for EFS\n        resources, use the  API action.</p>\n         </note>\n         <p>Creates or overwrites tags associated with a file system. Each tag is a key-value pair. If\n      a tag key specified in the request already exists on the file system, this operation\n      overwrites its value with the value provided in the request. If you add the <code>Name</code>\n      tag to your file system, Amazon EFS returns it in the response to the <a>DescribeFileSystems</a> operation. </p>\n         <p>This operation requires permission for the <code>elasticfilesystem:CreateTags</code>\n      action.</p>",
        "smithy.api#examples": [
          {
            "title": "To create a new tag",
            "documentation": "This operation creates a new tag for an EFS file system.",
            "input": {
              "FileSystemId": "fs-01234567",
              "Tags": [
                {
                  "Key": "Name",
                  "Value": "MyFileSystem"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/create-tags/{FileSystemId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#CreateTagsRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose tags you want to modify (String). This operation modifies\n      the tags only, not the file system.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.efs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>Tag</code> objects to add. Each <code>Tag</code> object is a key-value\n      pair. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#CreationInfo": {
      "type": "structure",
      "members": {
        "OwnerUid": {
          "target": "com.amazonaws.efs#OwnerUid",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the POSIX user ID to apply to the <code>RootDirectory</code>. Accepts values from 0 to 2^32 (4294967295).</p>",
            "smithy.api#required": {}
          }
        },
        "OwnerGid": {
          "target": "com.amazonaws.efs#OwnerGid",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the POSIX group ID to apply to the <code>RootDirectory</code>. Accepts values from 0 to 2^32 (4294967295).</p>",
            "smithy.api#required": {}
          }
        },
        "Permissions": {
          "target": "com.amazonaws.efs#Permissions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the POSIX permissions to apply to the <code>RootDirectory</code>, in the format of an octal number representing the file's mode bits.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Required if the <code>RootDirectory</code> > <code>Path</code> specified does not exist. \n      Specifies the POSIX IDs and permissions to apply to the access point's <code>RootDirectory</code> > <code>Path</code>. \n      If the access point root directory does not exist, EFS creates it with these settings when a client connects to the access point. \n      When specifying <code>CreationInfo</code>, you must include values for all properties. \n   </p>\n         <p>Amazon EFS creates a root directory only if you have provided the  CreationInfo: OwnUid, OwnGID, and permissions for the directory. \n      If  you do not provide this information, Amazon EFS does not create the root directory. If the root directory does not exist, attempts to mount \n      using the access point will fail.</p>\n         <important>\n            <p>If you do not provide <code>CreationInfo</code> and the specified <code>RootDirectory</code> does not exist, \n      attempts to mount the file system using the access point will fail.</p>\n         </important>"
      }
    },
    "com.amazonaws.efs#CreationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.efs#DeleteAccessPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteAccessPointRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointNotFound"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified access point. After deletion is complete, new clients can no \n      longer connect to the access points. Clients connected to the access point at the time of \n      deletion will continue to function until they terminate their connection.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DeleteAccessPoint</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/access-points/{AccessPointId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteAccessPointRequest": {
      "type": "structure",
      "members": {
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access point that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DeleteFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteFileSystemRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemInUse"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a file system, permanently severing access to its contents. Upon return, the\n      file system no longer exists and you can't access any contents of the deleted file\n      system.</p>\n         <p>You need to manually delete mount targets attached to a file system before you can delete\n    an EFS file system. This step is performed for you when you use the Amazon Web Services console \n    to delete a file system.</p>\n         <note>\n            <p>You cannot delete a file system that is part of an EFS replication configuration. \n      You need to delete the replication configuration first.</p>\n         </note>\n         <p> You can't delete a file system that is in use. That is, if the file system has\n      any mount targets, you must first delete them. For more information, see <a>DescribeMountTargets</a> and <a>DeleteMountTarget</a>. </p>\n         <note>\n            <p>The <code>DeleteFileSystem</code> call returns while the file system state is still\n          <code>deleting</code>. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> operation, which returns a list of file systems in your\n        account. If you pass file system ID or creation token for the deleted file system, the <a>DescribeFileSystems</a> returns a <code>404 FileSystemNotFound</code>\n        error.</p>\n         </note>\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:DeleteFileSystem</code> action.</p>",
        "smithy.api#examples": [
          {
            "title": "To delete a file system",
            "documentation": "This operation deletes an EFS file system.",
            "input": {
              "FileSystemId": "fs-01234567"
            }
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/file-systems/{FileSystemId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteFileSystemPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteFileSystemPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#IncorrectFileSystemLifeCycleState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the <code>FileSystemPolicy</code> for the specified file system. \n      The default <code>FileSystemPolicy</code> goes into effect once the existing policy is deleted. \n      For more information about the default file system policy, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/res-based-policies-efs.html\">Using Resource-based Policies with EFS</a>.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DeleteFileSystemPolicy</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DeleteFileSystemPolicyRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the EFS file system for which to delete the\n        <code>FileSystemPolicy</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DeleteFileSystemRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DeleteMountTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteMountTargetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#DependencyTimeout"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#MountTargetNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified mount target.</p>\n         <p>This operation forcibly breaks any mounts of the file system by using the mount target\n      that is being deleted, which might disrupt instances or applications using those mounts. To\n      avoid applications getting cut off abruptly, you might consider unmounting any mounts of the\n      mount target, if feasible. The operation also deletes the associated network interface.\n      Uncommitted writes might be lost, but breaking a mount target using this operation does not\n      corrupt the file system itself. The file system you created remains. You can mount an\n      EC2 instance in your VPC by using another mount target.</p>\n         <p>This operation requires permissions for the following action on the file\n      system:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>elasticfilesystem:DeleteMountTarget</code>\n               </p>\n            </li>\n         </ul>\n         <note>\n            <p>The <code>DeleteMountTarget</code> call returns while the mount target state is still\n          <code>deleting</code>. You can check the mount target deletion by calling the <a>DescribeMountTargets</a> operation, which returns a list of mount target\n        descriptions for the given file system. </p>\n         </note>\n         <p>The operation also requires permissions for the following Amazon EC2 action on the\n      mount target's network interface:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ec2:DeleteNetworkInterface</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#examples": [
          {
            "title": "To delete a mount target",
            "documentation": "This operation deletes a mount target.",
            "input": {
              "MountTargetId": "fsmt-12340abc"
            }
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/mount-targets/{MountTargetId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteMountTargetRequest": {
      "type": "structure",
      "members": {
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the mount target to delete (String).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DeleteReplicationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteReplicationConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ReplicationNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a replication configuration. Deleting a replication configuration ends the\n      replication process. After a replication configuration is deleted, the destination file system\n      becomes <code>Writeable</code> and its replication overwrite protection is re-enabled. For\n      more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/delete-replications.html\">Delete a replication configuration</a>.</p>\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:DeleteReplicationConfiguration</code> action. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-02-01/file-systems/{SourceFileSystemId}/replication-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteReplicationConfigurationRequest": {
      "type": "structure",
      "members": {
        "SourceFileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the source file system in the replication configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeletionMode": {
          "target": "com.amazonaws.efs#DeletionMode",
          "traits": {
            "smithy.api#documentation": "<p>When replicating across Amazon Web Services accounts or across Amazon Web Services Regions, \n      Amazon EFS deletes the replication configuration from both the source \n      and destination account or Region (<code>ALL_CONFIGURATIONS</code>) by default. \n      If there's a configuration or permissions issue that prevents Amazon EFS from deleting the \n      replication configuration from both sides, you can use the <code>LOCAL_CONFIGURATION_ONLY</code> mode\n      to delete the replication configuration from only the local side (the account\n       or Region from which the delete is performed). </p>\n         <note>\n            <p>Only use the <code>LOCAL_CONFIGURATION_ONLY</code> mode in the case that Amazon EFS is unable\n       to delete the replication configuration in both the source and destination account or Region. \n        Deleting the local configuration \n       leaves the configuration in the other account or Region unrecoverable.</p>\n            <p>Additionally, do not use this mode for same-account, same-region replication as doing so results in a \n        BadRequest exception error.</p>\n         </note>",
            "smithy.api#httpQuery": "deletionMode"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DeleteTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DeleteTagsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "Use UntagResource."
        },
        "smithy.api#documentation": "<note>\n            <p>DEPRECATED - <code>DeleteTags</code> is deprecated and not maintained. To remove tags from EFS\n        resources, use the  API action.</p>\n         </note>\n         <p>Deletes the specified tags from a file system. If the <code>DeleteTags</code> request\n      includes a tag key that doesn't exist, Amazon EFS ignores it and doesn't cause an\n      error. For more information about tags and related restrictions, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Tag restrictions</a> in the\n        <i>Billing and Cost Management User Guide</i>.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DeleteTags</code>\n      action.</p>",
        "smithy.api#examples": [
          {
            "title": "To delete tags for an EFS file system",
            "documentation": "This operation deletes tags for an EFS file system.",
            "input": {
              "FileSystemId": "fs-01234567",
              "TagKeys": ["Name"]
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-02-01/delete-tags/{FileSystemId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.efs#DeleteTagsRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose tags you want to delete (String).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.efs#TagKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of tag keys to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DeletionMode": {
      "type": "enum",
      "members": {
        "ALL_CONFIGURATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_CONFIGURATIONS"
          }
        },
        "LOCAL_CONFIGURATION_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CONFIGURATION_ONLY"
          }
        }
      }
    },
    "com.amazonaws.efs#DependencyTimeout": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.efs#ErrorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.efs#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service timed out trying to fulfill the request, and the client should try the\n            call again.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 504
      }
    },
    "com.amazonaws.efs#DescribeAccessPoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeAccessPointsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeAccessPointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointNotFound"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the description of a specific Amazon EFS access point if the\n        <code>AccessPointId</code> is provided. If you provide an EFS\n        <code>FileSystemId</code>, it returns descriptions of all access points for that file\n      system. You can provide either an <code>AccessPointId</code> or a <code>FileSystemId</code> in\n      the request, but not both. </p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DescribeAccessPoints</code> action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/access-points",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AccessPoints",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.efs#DescribeAccessPointsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.efs#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) When retrieving all access points for a file system,\n      you can optionally specify the <code>MaxItems</code> parameter to limit the number of objects returned in a response.  \n      The default value is 100. </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>NextToken</code> is present if the response is paginated. You can use \n      <code>NextMarker</code> in the subsequent request to fetch the next page of access point descriptions.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies an EFS access point to describe in the response; mutually\n      exclusive with <code>FileSystemId</code>.</p>",
            "smithy.api#httpQuery": "AccessPointId"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) If you provide a <code>FileSystemId</code>, EFS returns all access\n      points for that file system; mutually exclusive with <code>AccessPointId</code>.</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DescribeAccessPointsResponse": {
      "type": "structure",
      "members": {
        "AccessPoints": {
          "target": "com.amazonaws.efs#AccessPointDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>An array of access point descriptions.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>Present if there are more access points than returned in the response. \n      You can use the NextMarker in the subsequent request to fetch the additional descriptions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.efs#DescribeAccountPreferences": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeAccountPreferencesRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeAccountPreferencesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the account preferences settings for the Amazon Web Services account associated with the user making the request, in the current Amazon Web Services Region.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/account-preferences",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeAccountPreferencesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) You can use <code>NextToken</code> in a subsequent request to fetch the next page of \n      Amazon Web Services account preferences if the response payload was paginated.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.efs#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) When retrieving account preferences,\n      you can optionally specify the <code>MaxItems</code> parameter to limit the number of objects returned in a response.  \n      The default value is 100. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DescribeAccountPreferencesResponse": {
      "type": "structure",
      "members": {
        "ResourceIdPreference": {
          "target": "com.amazonaws.efs#ResourceIdPreference",
          "traits": {
            "smithy.api#documentation": "<p>Describes the resource ID preference setting for the Amazon Web Services account associated with the user making the request, in the current Amazon Web Services Region.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>Present if there are more records than returned in the response. \n      You can use the <code>NextToken</code> in the subsequent request to fetch the additional descriptions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.efs#DescribeBackupPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeBackupPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#BackupPolicyDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#PolicyNotFound"
        },
        {
          "target": "com.amazonaws.efs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the backup policy for the specified EFS file system.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/backup-policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeBackupPolicyRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which EFS file system for which to retrieve the\n        <code>BackupPolicy</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DescribeFileSystemPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeFileSystemPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#FileSystemPolicyDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#PolicyNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the <code>FileSystemPolicy</code> for the specified EFS file\n      system.</p>\n         <p>This operation requires permissions for the <code>elasticfilesystem:DescribeFileSystemPolicy</code> action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeFileSystemPolicyRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which EFS file system to retrieve the <code>FileSystemPolicy</code>\n      for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DescribeFileSystems": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeFileSystemsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeFileSystemsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the description of a specific Amazon EFS file system if either the file system\n        <code>CreationToken</code> or the <code>FileSystemId</code> is provided. Otherwise, it\n      returns descriptions of all file systems owned by the caller's Amazon Web Services account in the \n      Amazon Web Services Region of the endpoint that you're calling.</p>\n         <p>When retrieving all file system descriptions, you can optionally specify the\n        <code>MaxItems</code> parameter to limit the number of descriptions in a response.\n      This number is automatically set to 100. If more file system descriptions remain,\n      Amazon EFS returns a <code>NextMarker</code>, an opaque token, in the response. In this case,\n      you should send a subsequent request with the <code>Marker</code> request parameter set to the\n      value of <code>NextMarker</code>. </p>\n         <p>To retrieve a list of your file system descriptions, this operation is used in an\n      iterative process, where <code>DescribeFileSystems</code> is called first without the\n        <code>Marker</code> and then the operation continues to call it with the <code>Marker</code>\n      parameter set to the value of the <code>NextMarker</code> from the previous response until the\n      response has no <code>NextMarker</code>. </p>\n         <p> The order of file systems returned in the response of one\n        <code>DescribeFileSystems</code> call and the order of file systems returned across the\n      responses of a multi-call iteration is unspecified. </p>\n         <p> This operation requires permissions for the\n        <code>elasticfilesystem:DescribeFileSystems</code> action. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "items": "FileSystems",
          "pageSize": "MaxItems"
        },
        "smithy.test#smokeTests": [
          {
            "id": "DescribeFileSystemsSuccess",
            "params": {},
            "vendorParams": {
              "region": "us-west-2"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.efs#DescribeFileSystemsRequest": {
      "type": "structure",
      "members": {
        "MaxItems": {
          "target": "com.amazonaws.efs#MaxItems",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Specifies the maximum number of file systems to return in the response\n      (integer). This number is automatically set to 100. The response is paginated at 100 per page if you have more than 100 file systems.\n      </p>",
            "smithy.api#httpQuery": "MaxItems"
          }
        },
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Opaque pagination token returned from a previous\n        <code>DescribeFileSystems</code> operation (String). If present, specifies to continue the\n      list from where the returning call had left off. </p>",
            "smithy.api#httpQuery": "Marker"
          }
        },
        "CreationToken": {
          "target": "com.amazonaws.efs#CreationToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Restricts the list to the file system with this creation token (String). You\n      specify a creation token when you create an Amazon EFS file system.</p>",
            "smithy.api#httpQuery": "CreationToken"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) ID of the file system whose description you want to retrieve\n      (String).</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DescribeFileSystemsResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>Present if provided by caller in the request (String).</p>"
          }
        },
        "FileSystems": {
          "target": "com.amazonaws.efs#FileSystemDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>An array of file system descriptions.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>Present if there are more file systems than returned in the response (String). You can\n      use the <code>NextMarker</code> in the subsequent request to fetch the descriptions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.efs#DescribeLifecycleConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeLifecycleConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#LifecycleConfigurationDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the current <code>LifecycleConfiguration</code> object for the specified\n      EFS file system. Lifecycle management uses the <code>LifecycleConfiguration</code>\n      object to identify when to move files between storage classes. For a file system without a\n        <code>LifecycleConfiguration</code> object, the call returns an empty array in the\n      response.</p>\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:DescribeLifecycleConfiguration</code> operation.</p>",
        "smithy.api#examples": [
          {
            "title": "To describe the lifecycle configuration for a file system",
            "documentation": "This operation describes a file system's LifecycleConfiguration. EFS lifecycle management uses the LifecycleConfiguration object to identify which files to move to the EFS Infrequent Access (IA) storage class. ",
            "input": {
              "FileSystemId": "fs-01234567"
            },
            "output": {
              "LifecyclePolicies": [
                {
                  "TransitionToIA": "AFTER_30_DAYS"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems/{FileSystemId}/lifecycle-configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeLifecycleConfigurationRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system whose <code>LifecycleConfiguration</code> object you want to\n      retrieve (String).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DescribeMountTargetSecurityGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeMountTargetSecurityGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeMountTargetSecurityGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#IncorrectMountTargetState"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#MountTargetNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the security groups currently in effect for a mount target. This operation\n      requires that the network interface of the mount target has been created and the lifecycle\n      state of the mount target is not <code>deleted</code>.</p>\n         <p>This operation requires permissions for the following actions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>elasticfilesystem:DescribeMountTargetSecurityGroups</code> action on the mount\n          target's file system. </p>\n            </li>\n            <li>\n               <p>\n                  <code>ec2:DescribeNetworkInterfaceAttribute</code> action on the mount target's\n          network interface. </p>\n            </li>\n         </ul>",
        "smithy.api#examples": [
          {
            "title": "To describe the security groups for a mount target",
            "documentation": "This operation describes all of the security groups for a file system's mount target.",
            "input": {
              "MountTargetId": "fsmt-12340abc"
            },
            "output": {
              "SecurityGroups": ["sg-4567abcd"]
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/mount-targets/{MountTargetId}/security-groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.efs#DescribeMountTargetSecurityGroupsRequest": {
      "type": "structure",
      "members": {
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the mount target whose security groups you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DescribeMountTargetSecurityGroupsResponse": {
      "type": "structure",
      "members": {
        "SecurityGroups": {
          "target": "com.amazonaws.efs#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>An array of security groups.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.efs#DescribeMountTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeMountTargetsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeMountTargetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#AccessPointNotFound"
        },
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#MountTargetNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the descriptions of all the current mount targets, or a specific mount target,\n      for a file system. When requesting all of the current mount targets, the order of mount\n      targets returned in the response is unspecified.</p>\n         <p>This operation requires permissions for the\n        <code>elasticfilesystem:DescribeMountTargets</code> action, on either the file system ID\n      that you specify in <code>FileSystemId</code>, or on the file system of the mount target that\n      you specify in <code>MountTargetId</code>.</p>",
        "smithy.api#examples": [
          {
            "title": "To describe the mount targets for a file system",
            "documentation": "This operation describes all of a file system's mount targets.",
            "input": {
              "FileSystemId": "fs-01234567"
            },
            "output": {
              "MountTargets": [
                {
                  "MountTargetId": "fsmt-12340abc",
                  "NetworkInterfaceId": "eni-cedf6789",
                  "FileSystemId": "fs-01234567",
                  "LifeCycleState": "available",
                  "SubnetId": "subnet-1234abcd",
                  "OwnerId": "012345678912",
                  "IpAddress": "192.0.0.2"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/mount-targets",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "items": "MountTargets",
          "pageSize": "MaxItems"
        }
      }
    },
    "com.amazonaws.efs#DescribeMountTargetsRequest": {
      "type": "structure",
      "members": {
        "MaxItems": {
          "target": "com.amazonaws.efs#MaxItems",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Maximum number of mount targets to return in the response. Currently, this\n      number is automatically set to\n      10, and other values are ignored. The response is paginated at 100 per page if you have more than 100 mount targets.</p>",
            "smithy.api#httpQuery": "MaxItems"
          }
        },
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Opaque pagination token returned from a previous\n        <code>DescribeMountTargets</code> operation (String). If present, it specifies to continue\n      the list from where the previous returning call left off.</p>",
            "smithy.api#httpQuery": "Marker"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) ID of the file system whose mount targets you want to list (String). It must\n      be included in your request if an <code>AccessPointId</code> or <code>MountTargetId</code> is not included. Accepts either a file system ID or ARN as input.</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        },
        "MountTargetId": {
          "target": "com.amazonaws.efs#MountTargetId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) ID of the mount target that you want to have described (String). It must be\n      included in your request if <code>FileSystemId</code> is not included. Accepts either a mount target ID or ARN as input.</p>",
            "smithy.api#httpQuery": "MountTargetId"
          }
        },
        "AccessPointId": {
          "target": "com.amazonaws.efs#AccessPointId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The ID of the access point whose mount targets that you want to list. It must be included in your request if a\n      <code>FileSystemId</code> or <code>MountTargetId</code> is not included in your request. Accepts either an access point ID or ARN as input.</p>",
            "smithy.api#httpQuery": "AccessPointId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DescribeMountTargetsResponse": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If the request included the <code>Marker</code>, the response returns that value in\n      this field.</p>"
          }
        },
        "MountTargets": {
          "target": "com.amazonaws.efs#MountTargetDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Returns the file system's mount targets as an array of\n        <code>MountTargetDescription</code> objects.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.efs#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If a value is present, there are more mount targets to return. In a subsequent request,\n      you can provide <code>Marker</code> in your request with this value to retrieve the next set\n      of mount targets.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.efs#DescribeReplicationConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.efs#DescribeReplicationConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.efs#DescribeReplicationConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.efs#BadRequest"
        },
        {
          "target": "com.amazonaws.efs#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.efs#InternalServerError"
        },
        {
          "target": "com.amazonaws.efs#ReplicationNotFound"
        },
        {
          "target": "com.amazonaws.efs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the replication configuration for a specific file system. If a file system is\n      not specified, all of the replication configurations for the Amazon Web Services account in an\n        Amazon Web Services Region are retrieved.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-02-01/file-systems/replication-configurations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Replications",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.efs#DescribeReplicationConfigurationsRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.efs#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>You can retrieve the replication configuration for a specific file system by providing its\n      file system ID. For cross-account,cross-region replication, an account can only describe the replication\n      configuration for a file system in its own Region.</p>",
            "smithy.api#httpQuery": "FileSystemId"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>NextToken</code> is present if the response is paginated. You can use\n        <code>NextToken</code> in a subsequent request to fetch the next page of\n      output.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.efs#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) To limit the number of objects returned in a response, you can specify the\n        <code>MaxItems</code> parameter. The default value is 100. </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.efs#DescribeReplicationConfigurationsResponse": {
      "type": "structure",
      "members": {
        "Replications": {
          "target": "com.amazonaws.efs#ReplicationConfigurationDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The collection of replication configurations that is returned.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.efs#Token",
          "traits": {
            "smithy.api#documentation": "<p>You can use the <code>NextToken</code> from the previous response in a subsequent \n      request to fetch the additional descriptions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
[...]
