{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.eks#AMITypes": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AL2_x86_64",
            "name": "AL2_x86_64"
          },
          {
            "value": "AL2_x86_64_GPU",
            "name": "AL2_x86_64_GPU"
          },
          {
            "value": "AL2_ARM_64",
            "name": "AL2_ARM_64"
          },
          {
            "value": "CUSTOM",
            "name": "CUSTOM"
          }
        ]
      }
    },
    "com.amazonaws.eks#AWSWesleyFrontend": {
      "type": "service",
      "version": "2017-11-01",
      "operations": [
        {
          "target": "com.amazonaws.eks#AssociateEncryptionConfig"
        },
        {
          "target": "com.amazonaws.eks#AssociateIdentityProviderConfig"
        },
        {
          "target": "com.amazonaws.eks#CreateAddon"
        },
        {
          "target": "com.amazonaws.eks#CreateCluster"
        },
        {
          "target": "com.amazonaws.eks#CreateFargateProfile"
        },
        {
          "target": "com.amazonaws.eks#CreateNodegroup"
        },
        {
          "target": "com.amazonaws.eks#DeleteAddon"
        },
        {
          "target": "com.amazonaws.eks#DeleteCluster"
        },
        {
          "target": "com.amazonaws.eks#DeleteFargateProfile"
        },
        {
          "target": "com.amazonaws.eks#DeleteNodegroup"
        },
        {
          "target": "com.amazonaws.eks#DeregisterCluster"
        },
        {
          "target": "com.amazonaws.eks#DescribeAddon"
        },
        {
          "target": "com.amazonaws.eks#DescribeAddonVersions"
        },
        {
          "target": "com.amazonaws.eks#DescribeCluster"
        },
        {
          "target": "com.amazonaws.eks#DescribeFargateProfile"
        },
        {
          "target": "com.amazonaws.eks#DescribeIdentityProviderConfig"
        },
        {
          "target": "com.amazonaws.eks#DescribeNodegroup"
        },
        {
          "target": "com.amazonaws.eks#DescribeUpdate"
        },
        {
          "target": "com.amazonaws.eks#DisassociateIdentityProviderConfig"
        },
        {
          "target": "com.amazonaws.eks#ListAddons"
        },
        {
          "target": "com.amazonaws.eks#ListClusters"
        },
        {
          "target": "com.amazonaws.eks#ListFargateProfiles"
        },
        {
          "target": "com.amazonaws.eks#ListIdentityProviderConfigs"
        },
        {
          "target": "com.amazonaws.eks#ListNodegroups"
        },
        {
          "target": "com.amazonaws.eks#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.eks#ListUpdates"
        },
        {
          "target": "com.amazonaws.eks#RegisterCluster"
        },
        {
          "target": "com.amazonaws.eks#TagResource"
        },
        {
          "target": "com.amazonaws.eks#UntagResource"
        },
        {
          "target": "com.amazonaws.eks#UpdateAddon"
        },
        {
          "target": "com.amazonaws.eks#UpdateClusterConfig"
        },
        {
          "target": "com.amazonaws.eks#UpdateClusterVersion"
        },
        {
          "target": "com.amazonaws.eks#UpdateNodegroupConfig"
        },
        {
          "target": "com.amazonaws.eks#UpdateNodegroupVersion"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EKS",
          "arnNamespace": "eks",
          "cloudFormationName": "EKS",
          "cloudTrailEventSource": "eks.amazonaws.com",
          "endpointPrefix": "eks"
        },
        "aws.auth#sigv4": {
          "name": "eks"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon Elastic Kubernetes Service (Amazon EKS) is a managed service that makes it easy for you to run Kubernetes on\n            Amazon Web Services without needing to stand up or maintain your own Kubernetes control plane.\n            Kubernetes is an open-source system for automating the deployment, scaling, and\n            management of containerized applications. </p>\n        <p>Amazon EKS runs up-to-date versions of the open-source Kubernetes software, so you can use\n            all the existing plugins and tooling from the Kubernetes community. Applications running\n            on Amazon EKS are fully compatible with applications running on any standard Kubernetes\n            environment, whether running in on-premises data centers or public clouds. This means\n            that you can easily migrate any standard Kubernetes application to Amazon EKS without any\n            code modification required.</p>",
        "smithy.api#title": "Amazon Elastic Kubernetes Service"
      }
    },
    "com.amazonaws.eks#Addon": {
      "type": "structure",
      "members": {
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on.</p>"
          }
        },
        "clusterName": {
          "target": "com.amazonaws.eks#ClusterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.eks#AddonStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the add-on.</p>"
          }
        },
        "addonVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the add-on.</p>"
          }
        },
        "health": {
          "target": "com.amazonaws.eks#AddonHealth",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the health of the add-on.</p>"
          }
        },
        "addonArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the add-on.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the add-on was created.</p>"
          }
        },
        "modifiedAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the add-on was last modified.</p>"
          }
        },
        "serviceAccountRoleArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that is bound to the Kubernetes service account used\n            by the add-on.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that you apply to the add-on to assist with categorization and\n            organization. Each tag consists of a key and an optional value, both of which you\n            define. Add-on tags do not propagate to any other resources associated with the cluster.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon EKS add-on.</p>"
      }
    },
    "com.amazonaws.eks#AddonHealth": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "com.amazonaws.eks#AddonIssueList",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the add-on's health issues.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The health of the add-on.</p>"
      }
    },
    "com.amazonaws.eks#AddonInfo": {
      "type": "structure",
      "members": {
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the add-on.</p>"
          }
        },
        "addonVersions": {
          "target": "com.amazonaws.eks#AddonVersionInfoList",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents information about available add-on versions and compatible\n            Kubernetes versions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an add-on.</p>"
      }
    },
    "com.amazonaws.eks#AddonIssue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.eks#AddonIssueCode",
          "traits": {
            "smithy.api#documentation": "<p>A code that describes the type of issue.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides details about the issue and what might cause it.</p>"
          }
        },
        "resourceIds": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The resource IDs of the issue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An issue related to an add-on.</p>"
      }
    },
    "com.amazonaws.eks#AddonIssueCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AccessDenied",
            "name": "ACCESS_DENIED"
          },
          {
            "value": "InternalFailure",
            "name": "INTERNAL_FAILURE"
          },
          {
            "value": "ClusterUnreachable",
            "name": "CLUSTER_UNREACHABLE"
          },
          {
            "value": "InsufficientNumberOfReplicas",
            "name": "INSUFFICIENT_NUMBER_OF_REPLICAS"
          },
          {
            "value": "ConfigurationConflict",
            "name": "CONFIGURATION_CONFLICT"
          },
          {
            "value": "AdmissionRequestDenied",
            "name": "ADMISSION_REQUEST_DENIED"
          },
          {
            "value": "UnsupportedAddonModification",
            "name": "UNSUPPORTED_ADDON_MODIFICATION"
          },
          {
            "value": "K8sResourceNotFound",
            "name": "K8S_RESOURCE_NOT_FOUND"
          }
        ]
      }
    },
    "com.amazonaws.eks#AddonIssueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonIssue"
      }
    },
    "com.amazonaws.eks#AddonStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          },
          {
            "value": "DEGRADED",
            "name": "DEGRADED"
          }
        ]
      }
    },
    "com.amazonaws.eks#AddonVersionInfo": {
      "type": "structure",
      "members": {
        "addonVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the add-on.</p>"
          }
        },
        "architecture": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The architectures that the version supports.</p>"
          }
        },
        "compatibilities": {
          "target": "com.amazonaws.eks#Compatibilities",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the compatibilities of a version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an add-on version.</p>"
      }
    },
    "com.amazonaws.eks#AddonVersionInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonVersionInfo"
      }
    },
    "com.amazonaws.eks#Addons": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonInfo"
      }
    },
    "com.amazonaws.eks#AssociateEncryptionConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#AssociateEncryptionConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#AssociateEncryptionConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate encryption configuration to an existing cluster.</p>\n        <p>You can use this API to enable encryption on existing clusters which do not have\n            encryption already enabled. This allows you to implement a defense-in-depth security\n            strategy without migrating applications to new Amazon EKS clusters.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/encryption-config/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#AssociateEncryptionConfigRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster that you are associating with encryption configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "encryptionConfig": {
          "target": "com.amazonaws.eks#EncryptionConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration you are using for encryption.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The client request token you are using with the encryption configuration.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.eks#AssociateEncryptionConfigResponse": {
      "type": "structure",
      "members": {
        "update": {
          "target": "com.amazonaws.eks#Update"
        }
      }
    },
    "com.amazonaws.eks#AssociateIdentityProviderConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#AssociateIdentityProviderConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#AssociateIdentityProviderConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate an identity provider configuration to a cluster.</p>\n        <p>If you want to authenticate identities using an identity provider, you can create an\n            identity provider configuration and associate it to your cluster. After configuring\n            authentication to your cluster you can create Kubernetes <code>roles</code> and\n                <code>clusterroles</code> to assign permissions to the roles, and then bind the\n            roles to the identities using Kubernetes <code>rolebindings</code> and\n                <code>clusterrolebindings</code>. For more information see <a href=\"https://kubernetes.io/docs/reference/access-authn-authz/rbac/\">Using RBAC\n                Authorization</a> in the Kubernetes documentation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/identity-provider-configs/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#AssociateIdentityProviderConfigRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster to associate the configuration to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "oidc": {
          "target": "com.amazonaws.eks#OidcIdentityProviderConfigRequest",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents an OpenID Connect (OIDC) identity provider\n            configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata to apply to the configuration to assist with categorization and\n            organization. Each tag consists of a key and an optional value, both of which you\n            define.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.eks#AssociateIdentityProviderConfigResponse": {
      "type": "structure",
      "members": {
        "update": {
          "target": "com.amazonaws.eks#Update"
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#AutoScalingGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group associated with an Amazon EKS managed node group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Auto Scaling group that is associated with an Amazon EKS managed node group.</p>"
      }
    },
    "com.amazonaws.eks#AutoScalingGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AutoScalingGroup"
      }
    },
    "com.amazonaws.eks#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eks#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown if the request contains a semantic error. The precise meaning\n            will depend on the API, and will be documented in the error message.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.eks#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.eks#BoxedBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.eks#BoxedInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.eks#Capacity": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.eks#CapacityTypes": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ON_DEMAND",
            "name": "ON_DEMAND"
          },
          {
            "value": "SPOT",
            "name": "SPOT"
          }
        ]
      }
    },
    "com.amazonaws.eks#Certificate": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Base64-encoded certificate data required to communicate with your cluster. Add\n            this to the <code>certificate-authority-data</code> section of the\n                <code>kubeconfig</code> file for your cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the <code>certificate-authority-data</code> for your\n            cluster.</p>"
      }
    },
    "com.amazonaws.eks#ClientException": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EKS cluster associated with the exception.</p>"
          }
        },
        "nodegroupName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EKS managed node group associated with the exception.</p>"
          }
        },
        "addonName": {
          "target": "com.amazonaws.eks#String"
        },
        "message": {
          "target": "com.amazonaws.eks#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action. Actions can include using an\n            action or resource on behalf of a user that doesn't have permissions to use the action\n            or resource or specifying an identifier that is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.eks#Cluster": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp in seconds for when the cluster was created.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes server version for the cluster.</p>"
          }
        },
        "endpoint": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint for your Kubernetes API server.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control\n            plane to make calls to Amazon Web Services API operations on your behalf.</p>"
          }
        },
        "resourcesVpcConfig": {
          "target": "com.amazonaws.eks#VpcConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have\n            specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC\n                Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the\n            <i>Amazon EKS User Guide</i>.</p>"
          }
        },
        "kubernetesNetworkConfig": {
          "target": "com.amazonaws.eks#KubernetesNetworkConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes network configuration for the cluster.</p>"
          }
        },
        "logging": {
          "target": "com.amazonaws.eks#Logging",
          "traits": {
            "smithy.api#documentation": "<p>The logging configuration for your cluster.</p>"
          }
        },
        "identity": {
          "target": "com.amazonaws.eks#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identity provider information for the cluster.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.eks#ClusterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the cluster.</p>"
          }
        },
        "certificateAuthority": {
          "target": "com.amazonaws.eks#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>The <code>certificate-authority-data</code> for your cluster.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>"
          }
        },
        "platformVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The platform version of your Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform\n                Versions</a> in the <i>\n               <i>Amazon EKS User Guide</i>\n            </i>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that you apply to the cluster to assist with categorization and\n            organization. Each tag consists of a key and an optional value, both of which you\n            define. Cluster tags do not propagate to any other resources associated with the\n            cluster.</p>"
          }
        },
        "encryptionConfig": {
          "target": "com.amazonaws.eks#EncryptionConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for the cluster.</p>"
          }
        },
        "connectorConfig": {
          "target": "com.amazonaws.eks#ConnectorConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The configuration used to connect to a cluster for registration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an Amazon EKS cluster.</p>"
      }
    },
    "com.amazonaws.eks#ClusterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[0-9A-Za-z][A-Za-z0-9\\-_]*$"
      }
    },
    "com.amazonaws.eks#ClusterStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          }
        ]
      }
    },
    "com.amazonaws.eks#Compatibilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#Compatibility"
      }
    },
    "com.amazonaws.eks#Compatibility": {
      "type": "structure",
      "members": {
        "clusterVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The supported Kubernetes version of the cluster.</p>"
          }
        },
        "platformVersions": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The supported compute platform.</p>"
          }
        },
        "defaultVersion": {
          "target": "com.amazonaws.eks#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The supported default version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compatibility information.</p>"
      }
    },
    "com.amazonaws.eks#ConnectorConfigProvider": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EKS_ANYWHERE",
            "name": "EKS_ANYWHERE"
          },
          {
            "value": "ANTHOS",
            "name": "ANTHOS"
          },
          {
            "value": "GKE",
            "name": "GKE"
          },
          {
            "value": "AKS",
            "name": "AKS"
          },
          {
            "value": "OPENSHIFT",
            "name": "OPENSHIFT"
          },
          {
            "value": "TANZU",
            "name": "TANZU"
          },
          {
            "value": "RANCHER",
            "name": "RANCHER"
          },
          {
            "value": "EC2",
            "name": "EC2"
          },
          {
            "value": "OTHER",
            "name": "OTHER"
          }
        ]
      }
    },
    "com.amazonaws.eks#ConnectorConfigRequest": {
      "type": "structure",
      "members": {
        "roleArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role that is authorized to request the connector configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.amazonaws.eks#ConnectorConfigProvider",
          "traits": {
            "smithy.api#documentation": "<p>The cloud provider for the target cluster to connect.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration sent to a cluster for configuration.</p>"
      }
    },
    "com.amazonaws.eks#ConnectorConfigResponse": {
      "type": "structure",
      "members": {
        "activationId": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID associated with the cluster for registration purposes.</p>"
          }
        },
        "activationCode": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique code associated with the cluster for registration purposes.</p>"
          }
        },
        "activationExpiry": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The expiration time of the connected cluster. The cluster's YAML file must be applied through the native \n        provider.</p>"
          }
        },
        "provider": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's cloud service provider.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role that is used by the EKS connector to communicate with AWS services from the connected Kubernetes cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The full description of your connected cluster.</p>"
      }
    },
    "com.amazonaws.eks#CreateAddon": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#CreateAddonRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#CreateAddonResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon EKS add-on.</p>\n        <p>Amazon EKS add-ons help to automate the provisioning and lifecycle management of common\n            operational software for Amazon EKS clusters. Amazon EKS add-ons can only be used with Amazon EKS\n            clusters running version 1.18 with platform version <code>eks.3</code> or later because\n            add-ons rely on the Server-side Apply Kubernetes feature, which is only available in\n            Kubernetes 1.18 and later.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/addons",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#CreateAddonRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#ClusterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster to create the add-on for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeAddonVersions.html\">\n               <code>DescribeAddonVersions</code>\n            </a>.</p>",
            "smithy.api#required": {}
          }
        },
        "addonVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the add-on. The version must match one of the versions returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeAddonVersions.html\">\n               <code>DescribeAddonVersions</code>\n            </a>.</p>"
          }
        },
        "serviceAccountRoleArn": {
          "target": "com.amazonaws.eks#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an existing IAM role to bind to the add-on's service account. The role must be assigned the IAM permissions required by the add-on. If you don't specify an existing IAM role, then the add-on uses the\n     permissions assigned to the node IAM role. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/create-node-role.html\">Amazon EKS node IAM role</a> in the <i>Amazon EKS User Guide</i>.</p>\n        <note>\n            <p>To specify an existing IAM role, you must have an IAM OpenID Connect (OIDC) provider created for\n                your cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/enable-iam-roles-for-service-accounts.html\">Enabling\n                    IAM roles for service accounts on your cluster</a> in the\n                <i>Amazon EKS User Guide</i>.</p>\n         </note>"
          }
        },
        "resolveConflicts": {
          "target": "com.amazonaws.eks#ResolveConflicts",
          "traits": {
            "smithy.api#documentation": "<p>How to resolve parameter value conflicts when migrating an existing add-on to an Amazon EKS\n            add-on.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata to apply to the cluster to assist with categorization and organization.\n            Each tag consists of a key and an optional value, both of which you define. </p>"
          }
        }
      }
    },
    "com.amazonaws.eks#CreateAddonResponse": {
      "type": "structure",
      "members": {
        "addon": {
          "target": "com.amazonaws.eks#Addon"
        }
      }
    },
    "com.amazonaws.eks#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        },
        {
          "target": "com.amazonaws.eks#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.eks#UnsupportedAvailabilityZoneException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon EKS control plane. </p>\n        <p>The Amazon EKS control plane consists of control plane instances that run the Kubernetes\n            software, such as <code>etcd</code> and the API server. The control plane runs in an\n            account managed by Amazon Web Services, and the Kubernetes API is exposed via the Amazon EKS API server\n            endpoint. Each Amazon EKS cluster control plane is single-tenant and unique and runs on its\n            own set of Amazon EC2 instances.</p>\n        <p>The cluster control plane is provisioned across multiple Availability Zones and\n            fronted by an Elastic Load Balancing Network Load Balancer. Amazon EKS also provisions elastic network interfaces in your VPC\n            subnets to provide connectivity from the control plane instances to the nodes (for\n            example, to support <code>kubectl exec</code>, <code>logs</code>, and <code>proxy</code>\n            data flows).</p>\n        <p>Amazon EKS nodes run in your Amazon Web Services account and connect to your cluster's control plane via\n            the Kubernetes API server endpoint and a certificate file that is created for your\n            cluster.</p>\n        \n        <p>Cluster creation typically takes several minutes. After you create an Amazon EKS cluster,\n            you must configure your Kubernetes tooling to communicate with the API server and launch\n            nodes into your cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managing-auth.html\">Managing Cluster\n                Authentication</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html\">Launching Amazon EKS nodes</a> in the <i>Amazon EKS User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#ClusterName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name to give to your cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The desired Kubernetes version for your cluster. If you don't specify a value here,\n            the latest version available in Amazon EKS is used.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control\n            plane to make calls to Amazon Web Services API operations on your behalf. For more information, see\n                <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/service_IAM_role.html\">Amazon EKS\n                Service IAM Role</a> in the <i>\n               <i>Amazon EKS User Guide</i>\n            </i>.</p>",
            "smithy.api#required": {}
          }
        },
        "resourcesVpcConfig": {
          "target": "com.amazonaws.eks#VpcConfigRequest",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have\n            specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC\n                Considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster Security Group Considerations</a> in the\n            <i>Amazon EKS User Guide</i>. You must specify at least two subnets. You can specify up to five\n            security groups, but we recommend that you use a dedicated security group for your\n            cluster control plane.</p>",
            "smithy.api#required": {}
          }
        },
        "kubernetesNetworkConfig": {
          "target": "com.amazonaws.eks#KubernetesNetworkConfigRequest",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes network configuration for the cluster.</p>"
          }
        },
        "logging": {
          "target": "com.amazonaws.eks#Logging",
          "traits": {
            "smithy.api#documentation": "<p>Enable or disable exporting the Kubernetes control plane logs for your cluster to\n            CloudWatch Logs. By default, cluster control plane logs aren't exported to CloudWatch Logs. For more\n            information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html\">Amazon EKS Cluster control plane logs</a> in the\n                <i>\n               <i>Amazon EKS User Guide</i>\n            </i>.</p>\n        <note>\n            <p>CloudWatch Logs ingestion, archive storage, and data scanning rates apply to exported\n                control plane logs. For more information, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">CloudWatch Pricing</a>.</p>\n        </note>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata to apply to the cluster to assist with categorization and organization.\n            Each tag consists of a key and an optional value, both of which you define.</p>"
          }
        },
        "encryptionConfig": {
          "target": "com.amazonaws.eks#EncryptionConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for the cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "com.amazonaws.eks#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your new cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#CreateFargateProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#CreateFargateProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#CreateFargateProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        },
        {
          "target": "com.amazonaws.eks#UnsupportedAvailabilityZoneException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Fargate profile for your Amazon EKS cluster. You must have at least one Fargate\n            profile in a cluster to be able to run pods on Fargate.</p>\n        <p>The Fargate profile allows an administrator to declare which pods run on Fargate and specify\n            which pods run on which Fargate profile. This declaration is done through the profile’s\n            selectors. Each profile can have up to five selectors that contain a namespace and\n            labels. A namespace is required for every selector. The label field consists of multiple\n            optional key-value pairs. Pods that match the selectors are scheduled on Fargate. If a\n            to-be-scheduled pod matches any of the selectors in the Fargate profile, then that pod is\n            run on Fargate.</p>\n        <p>When you create a Fargate profile, you must specify a pod execution role to use with the\n            pods that are scheduled with the profile. This role is added to the cluster's Kubernetes\n                <a href=\"https://kubernetes.io/docs/admin/authorization/rbac/\">Role Based Access\n                Control</a> (RBAC) for authorization so that the <code>kubelet</code> that is\n            running on the Fargate infrastructure can register with your Amazon EKS cluster so that it can\n            appear in your cluster as a node. The pod execution role also provides IAM permissions\n            to the Fargate infrastructure to allow read access to Amazon ECR image repositories. For more\n            information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/pod-execution-role.html\">Pod Execution Role</a> in the <i>Amazon EKS User Guide</i>.</p>\n        <p>Fargate profiles are immutable. However, you can create a new updated profile to replace\n            an existing profile and then delete the original after the updated profile has finished\n            creating.</p>\n        <p>If any Fargate profiles in a cluster are in the <code>DELETING</code> status, you must\n            wait for that Fargate profile to finish deleting before you can create any other profiles\n            in that cluster.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/fargate-profile.html\">Fargate Profile</a> in the <i>Amazon EKS User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/fargate-profiles",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#CreateFargateProfileRequest": {
      "type": "structure",
      "members": {
        "fargateProfileName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Fargate profile.</p>",
            "smithy.api#required": {}
          }
        },
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon EKS cluster to apply the Fargate profile to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "podExecutionRoleArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the pod execution role to use for pods that match the selectors in\n            the Fargate profile. The pod execution role allows Fargate infrastructure to register with\n            your cluster as a node, and it provides read access to Amazon ECR image repositories. For\n            more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/pod-execution-role.html\">Pod Execution Role</a> in the\n            <i>Amazon EKS User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "subnets": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of subnets to launch your pods into. At this time, pods running on Fargate are\n            not assigned public IP addresses, so only private subnets (with no direct route to an\n            Internet Gateway) are accepted for this parameter.</p>"
          }
        },
        "selectors": {
          "target": "com.amazonaws.eks#FargateProfileSelectors",
          "traits": {
            "smithy.api#documentation": "<p>The selectors to match for pods to use this Fargate profile. Each selector must have an\n            associated namespace. Optionally, you can also specify labels for a namespace. You may\n            specify up to five selectors in a Fargate profile.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata to apply to the Fargate profile to assist with categorization and\n            organization. Each tag consists of a key and an optional value, both of which you\n            define. Fargate profile tags do not propagate to any other resources associated with the\n            Fargate profile, such as the pods that are scheduled with it.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#CreateFargateProfileResponse": {
      "type": "structure",
      "members": {
        "fargateProfile": {
          "target": "com.amazonaws.eks#FargateProfile",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your new Fargate profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#CreateNodegroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#CreateNodegroupRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#CreateNodegroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        },
        {
          "target": "com.amazonaws.eks#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a managed node group for an Amazon EKS cluster. You can only create a node group\n            for your cluster that is equal to the current Kubernetes version for the cluster. All\n            node groups are created with the latest AMI release version for the respective minor\n            Kubernetes version of the cluster, unless you deploy a custom AMI using a launch\n            template. For more information about using launch templates, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch\n                template support</a>.</p>\n        <p>An Amazon EKS managed node group is an Amazon EC2 Auto Scaling group and associated Amazon EC2 instances that\n            are managed by Amazon Web Services for an Amazon EKS cluster. Each node group uses a version of the Amazon EKS\n            optimized Amazon Linux 2 AMI. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html\">Managed\n                Node Groups</a> in the <i>Amazon EKS User Guide</i>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/node-groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#CreateNodegroupRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster to create the node group in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "nodegroupName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique name to give your node group.</p>",
            "smithy.api#required": {}
          }
        },
        "scalingConfig": {
          "target": "com.amazonaws.eks#NodegroupScalingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The scaling configuration details for the Auto Scaling group that is created for your\n            node group.</p>"
          }
        },
        "diskSize": {
          "target": "com.amazonaws.eks#BoxedInteger",
          "traits": {
            "smithy.api#documentation": "<p>The root device disk size (in GiB) for your node group instances. The default disk\n            size is 20 GiB. If you specify <code>launchTemplate</code>, then don't specify  <code>diskSize</code>,\n            or the node group  deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
          }
        },
        "subnets": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The subnets to use for the Auto Scaling group that is created for your node group.\n            If you specify <code>launchTemplate</code>, then don't specify  <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CreateNetworkInterface.html\">\n               <code>SubnetId</code>\n            </a> in your launch template, or the node group \n            deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceTypes": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Specify the instance types for a node group. If you specify a GPU instance type, be\n            sure to specify <code>AL2_x86_64_GPU</code> with the <code>amiType</code> parameter. If\n            you specify <code>launchTemplate</code>, then you can specify zero or one instance type\n            in your launch template <i>or</i> you can specify 0-20 instance types for\n                <code>instanceTypes</code>. If however, you specify an instance type in your launch\n            template <i>and</i> specify any <code>instanceTypes</code>, the node group\n            deployment will fail. If you don't specify an instance type in a launch template or for\n                <code>instanceTypes</code>, then <code>t3.medium</code> is used, by default. If you\n            specify <code>Spot</code> for <code>capacityType</code>, then we recommend specifying\n            multiple values for <code>instanceTypes</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html#managed-node-group-capacity-types\">Managed node group capacity types</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in\n            the <i>Amazon EKS User Guide</i>.</p>"
          }
        },
        "amiType": {
          "target": "com.amazonaws.eks#AMITypes",
          "traits": {
            "smithy.api#documentation": "<p>The AMI type for your node group. GPU instance types should use the\n                <code>AL2_x86_64_GPU</code> AMI type. Non-GPU instances should use the\n                <code>AL2_x86_64</code> AMI type. Arm instances should use the\n                <code>AL2_ARM_64</code> AMI type. All types use the Amazon EKS optimized Amazon Linux 2 AMI.\n            If you specify <code>launchTemplate</code>, and your launch template uses a custom AMI, then don't specify <code>amiType</code>,\n            or the node group  deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
          }
        },
        "remoteAccess": {
          "target": "com.amazonaws.eks#RemoteAccessConfig",
          "traits": {
            "smithy.api#documentation": "<p>The remote access (SSH) configuration to use with your node group. If you specify <code>launchTemplate</code>,\n            then don't specify  <code>remoteAccess</code>, or the node group  deployment\n            will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
          }
        },
        "nodeRole": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to associate with your node group. The Amazon EKS worker\n            node <code>kubelet</code> daemon makes calls to Amazon Web Services APIs on your behalf. Nodes receive\n            permissions for these API calls through an IAM instance profile and associated\n            policies. Before you can launch nodes and register them into a cluster, you must create\n            an IAM role for those nodes to use when they are launched. For more information, see\n                <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/worker_node_IAM_role.html\">Amazon EKS node IAM role</a> in the <i>\n               <i>Amazon EKS User Guide</i>\n            </i>.\n            If you specify <code>launchTemplate</code>, then don't specify  <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_IamInstanceProfile.html\">\n               <code>IamInstanceProfile</code>\n            </a> in your launch template,\n            or the node group  deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>",
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.amazonaws.eks#labelsMap",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes labels to be applied to the nodes in the node group when they are\n            created.</p>"
          }
        },
        "taints": {
          "target": "com.amazonaws.eks#taintsList",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes taints to be applied to the nodes in the node group.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata to apply to the node group to assist with categorization and\n            organization. Each tag consists of a key and an optional value, both of which you\n            define. Node group tags do not propagate to any other resources associated with the node\n            group, such as the Amazon EC2 instances or subnets.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "launchTemplate": {
          "target": "com.amazonaws.eks#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>An object representing a node group's launch template specification. If specified,\n            then do not specify <code>instanceTypes</code>, <code>diskSize</code>, or\n                <code>remoteAccess</code> and make sure that the launch template meets the\n            requirements in <code>launchTemplateSpecification</code>.</p>"
          }
        },
        "updateConfig": {
          "target": "com.amazonaws.eks#NodegroupUpdateConfig",
          "traits": {
            "smithy.api#documentation": "<p>The node group update configuration.</p>"
          }
        },
        "capacityType": {
          "target": "com.amazonaws.eks#CapacityTypes",
          "traits": {
            "smithy.api#documentation": "<p>The capacity type for your node group.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes version to use for your managed nodes. By default, the Kubernetes\n            version of the cluster is used, and this is the only accepted specified value.\n            If you specify <code>launchTemplate</code>, and your launch template uses a custom AMI, then don't specify  <code>version</code>,\n            or the node group  deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
          }
        },
        "releaseVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The AMI version of the Amazon EKS optimized AMI to use with your node group. By default,\n            the latest available AMI version for the node group's current Kubernetes version is\n            used. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-linux-ami-versions.html\">Amazon EKS\n                optimized Amazon Linux 2 AMI versions</a> in the <i>Amazon EKS User Guide</i>. If you specify <code>launchTemplate</code>,\n            and your launch template uses a custom AMI, then don't specify  <code>releaseVersion</code>, or the node group \n            deployment will fail. For more information about using launch templates with Amazon EKS, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Launch template support</a> in the Amazon EKS User Guide.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#CreateNodegroupResponse": {
      "type": "structure",
      "members": {
        "nodegroup": {
          "target": "com.amazonaws.eks#Nodegroup",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your new node group.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#DeleteAddon": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DeleteAddonRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DeleteAddonResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an Amazon EKS add-on.</p>\n        <p>When you remove the add-on, it will also be deleted from the cluster. You can always\n            manually start an add-on on the cluster using the Kubernetes API.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/clusters/{clusterName}/addons/{addonName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#DeleteAddonRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#ClusterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster to delete the add-on from.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\">\n               <code>ListAddons</code>\n            </a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "preserve": {
          "target": "com.amazonaws.eks#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this option preserves the add-on software on your cluster but Amazon EKS stops managing any settings for the add-on. If an IAM account is associated with the add-on, it is not removed.</p>",
            "smithy.api#httpQuery": "preserve"
          }
        }
      }
    },
    "com.amazonaws.eks#DeleteAddonResponse": {
      "type": "structure",
      "members": {
        "addon": {
          "target": "com.amazonaws.eks#Addon"
        }
      }
    },
    "com.amazonaws.eks#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DeleteClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        },
        {
          "target": "com.amazonaws.eks#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the Amazon EKS cluster control plane.</p>\n        <p>If you have active services in your cluster that are associated with a load balancer,\n            you must delete those services before deleting the cluster so that the load balancers\n            are deleted properly. Otherwise, you can have orphaned resources in your VPC that\n            prevent you from being able to delete the VPC. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/delete-cluster.html\">Deleting a\n                Cluster</a> in the <i>Amazon EKS User Guide</i>.</p>\n        <p>If you have managed node groups or Fargate profiles attached to the cluster, you must\n            delete them first. For more information, see <a>DeleteNodegroup</a> and <a>DeleteFargateProfile</a>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/clusters/{name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eks#DeleteClusterResponse": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "com.amazonaws.eks#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The full description of the cluster to delete.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#DeleteFargateProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DeleteFargateProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DeleteFargateProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Fargate profile.</p>\n        <p>When you delete a Fargate profile, any pods running on Fargate that were created with the\n            profile are deleted. If those pods match another Fargate profile, then they are scheduled\n            on Fargate with that profile. If they no longer match any Fargate profiles, then they are not\n            scheduled on Fargate and they may remain in a pending state.</p>\n        <p>Only one Fargate profile in a cluster can be in the <code>DELETING</code> status at a\n            time. You must wait for a Fargate profile to finish deleting before you can delete any\n            other profiles in that cluster.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/clusters/{clusterName}/fargate-profiles/{fargateProfileName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#DeleteFargateProfileRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon EKS cluster associated with the Fargate profile to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fargateProfileName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Fargate profile to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eks#DeleteFargateProfileResponse": {
      "type": "structure",
      "members": {
        "fargateProfile": {
          "target": "com.amazonaws.eks#FargateProfile",
          "traits": {
            "smithy.api#documentation": "<p>The deleted Fargate profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#DeleteNodegroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DeleteNodegroupRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DeleteNodegroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        },
        {
          "target": "com.amazonaws.eks#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon EKS node group for a cluster.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/clusters/{clusterName}/node-groups/{nodegroupName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#DeleteNodegroupRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon EKS cluster that is associated with your node group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "nodegroupName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the node group to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eks#DeleteNodegroupResponse": {
      "type": "structure",
      "members": {
        "nodegroup": {
          "target": "com.amazonaws.eks#Nodegroup",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your deleted node group.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#DeregisterCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DeregisterClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DeregisterClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        },
        {
          "target": "com.amazonaws.eks#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters a connected cluster to remove it from the Amazon EKS control plane.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/cluster-registrations/{name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#DeregisterClusterRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connected cluster to deregister.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eks#DeregisterClusterResponse": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "com.amazonaws.eks#Cluster"
        }
      }
    },
    "com.amazonaws.eks#DescribeAddon": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DescribeAddonRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DescribeAddonResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon EKS add-on.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/clusters/{clusterName}/addons/{addonName}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "AddonActive": {
            "acceptors": [
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "addon.status",
                    "expected": "CREATE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "addon.status",
                    "expected": "DEGRADED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "addon.status",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 10
          },
          "AddonDeleted": {
            "acceptors": [
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "addon.status",
                    "expected": "DELETE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              }
            ],
            "minDelay": 10
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeAddonRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#ClusterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\">\n               <code>ListAddons</code>\n            </a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeAddonResponse": {
      "type": "structure",
      "members": {
        "addon": {
          "target": "com.amazonaws.eks#Addon"
        }
      }
    },
    "com.amazonaws.eks#DescribeAddonVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DescribeAddonVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DescribeAddonVersionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the Kubernetes versions that the add-on can be used with.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/addons/supported-versions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "addons",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.eks#DescribeAddonVersionsRequest": {
      "type": "structure",
      "members": {
        "kubernetesVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes versions that the add-on can be used with.</p>",
            "smithy.api#httpQuery": "kubernetesVersion"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.eks#DescribeAddonVersionsRequestMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n                <code>DescribeAddonVersionsRequest</code> where <code>maxResults</code> was used and\n            the results exceeded the value of that parameter. Pagination continues from the end of\n            the previous results that returned the <code>nextToken</code> value.</p>\n        <note>\n            <p>This token should be treated as an opaque identifier that is used only to\n                retrieve the next items in a list and not for other programmatic purposes.</p>\n        </note>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on. The name must match one of the names returned by <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_ListAddons.html\">\n               <code>ListAddons</code>\n            </a>.</p>",
            "smithy.api#httpQuery": "addonName"
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeAddonVersionsRequestMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.eks#DescribeAddonVersionsResponse": {
      "type": "structure",
      "members": {
        "addons": {
          "target": "com.amazonaws.eks#Addons",
          "traits": {
            "smithy.api#documentation": "<p>The list of available versions with Kubernetes version compatibility.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n                <code>DescribeAddonVersionsResponse</code> where <code>maxResults</code> was used\n            and the results exceeded the value of that parameter. Pagination continues from the end\n            of the previous results that returned the <code>nextToken</code> value.</p>\n        <note>\n            <p>This token should be treated as an opaque identifier that is used only to\n                retrieve the next items in a list and not for other programmatic purposes.</p>\n        </note>"
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DescribeClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DescribeClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        },
        {
          "target": "com.amazonaws.eks#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns descriptive information about an Amazon EKS cluster.</p>\n        <p>The API server endpoint and certificate authority data returned by this operation are\n            required for <code>kubelet</code> and <code>kubectl</code> to communicate with your\n            Kubernetes API server. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/create-kubeconfig.html\">Create a\n                kubeconfig for Amazon EKS</a>.</p>\n        <note>\n            <p>The API server endpoint and certificate authority data aren't available until the\n                cluster reaches the <code>ACTIVE</code> state.</p>\n        </note>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/clusters/{name}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "ClusterActive": {
            "acceptors": [
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "cluster.status",
                    "expected": "DELETING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "cluster.status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "cluster.status",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 30
          },
          "ClusterDeleted": {
            "acceptors": [
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "cluster.status",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "cluster.status",
                    "expected": "CREATING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "cluster.status",
                    "expected": "PENDING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              }
            ],
            "minDelay": 30
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeClusterRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeClusterResponse": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "com.amazonaws.eks#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your specified cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeFargateProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DescribeFargateProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DescribeFargateProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns descriptive information about an Fargate profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/clusters/{clusterName}/fargate-profiles/{fargateProfileName}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "FargateProfileActive": {
            "acceptors": [
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "fargateProfile.status",
                    "expected": "CREATE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "fargateProfile.status",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 10
          },
          "FargateProfileDeleted": {
            "acceptors": [
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "fargateProfile.status",
                    "expected": "DELETE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              }
            ],
            "minDelay": 30
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeFargateProfileRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon EKS cluster associated with the Fargate profile.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fargateProfileName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Fargate profile to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeFargateProfileResponse": {
      "type": "structure",
      "members": {
        "fargateProfile": {
          "target": "com.amazonaws.eks#FargateProfile",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your Fargate profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeIdentityProviderConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DescribeIdentityProviderConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DescribeIdentityProviderConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        },
        {
          "target": "com.amazonaws.eks#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns descriptive information about an identity provider configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/identity-provider-configs/describe",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#DescribeIdentityProviderConfigRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The cluster name that the identity provider configuration is associated to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "identityProviderConfig": {
          "target": "com.amazonaws.eks#IdentityProviderConfig",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents an identity provider configuration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeIdentityProviderConfigResponse": {
      "type": "structure",
      "members": {
        "identityProviderConfig": {
          "target": "com.amazonaws.eks#IdentityProviderConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The object that represents an OpenID Connect (OIDC) identity provider\n            configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeNodegroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DescribeNodegroupRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DescribeNodegroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        },
        {
          "target": "com.amazonaws.eks#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns descriptive information about an Amazon EKS node group.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/clusters/{clusterName}/node-groups/{nodegroupName}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "NodegroupActive": {
            "acceptors": [
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "nodegroup.status",
                    "expected": "CREATE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "nodegroup.status",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 30
          },
          "NodegroupDeleted": {
            "acceptors": [
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "nodegroup.status",
                    "expected": "DELETE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              }
            ],
            "minDelay": 30
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeNodegroupRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon EKS cluster associated with the node group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "nodegroupName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the node group to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeNodegroupResponse": {
      "type": "structure",
      "members": {
        "nodegroup": {
          "target": "com.amazonaws.eks#Nodegroup",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your node group.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#DescribeUpdate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#DescribeUpdateRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#DescribeUpdateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns descriptive information about an update against your Amazon EKS cluster or\n            associated managed node group.</p>\n        <p>When the status of the update is <code>Succeeded</code>, the update is complete. If an\n            update fails, the status is <code>Failed</code>, and an error detail explains the reason\n            for the failure.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/clusters/{name}/updates/{updateId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#DescribeUpdateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon EKS cluster associated with the update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
[...]
