{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.eks#AMITypes": {
      "type": "enum",
      "members": {
        "AL2_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL2_x86_64"
          }
        },
        "AL2_x86_64_GPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL2_x86_64_GPU"
          }
        },
        "AL2_ARM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL2_ARM_64"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "BOTTLEROCKET_ARM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTLEROCKET_ARM_64"
          }
        },
        "BOTTLEROCKET_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTLEROCKET_x86_64"
          }
        },
        "BOTTLEROCKET_ARM_64_NVIDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTLEROCKET_ARM_64_NVIDIA"
          }
        },
        "BOTTLEROCKET_x86_64_NVIDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTLEROCKET_x86_64_NVIDIA"
          }
        },
        "WINDOWS_CORE_2019_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_CORE_2019_x86_64"
          }
        },
        "WINDOWS_FULL_2019_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_FULL_2019_x86_64"
          }
        },
        "WINDOWS_CORE_2022_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_CORE_2022_x86_64"
          }
        },
        "WINDOWS_FULL_2022_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_FULL_2022_x86_64"
          }
        },
        "AL2023_x86_64_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL2023_x86_64_STANDARD"
          }
        },
        "AL2023_ARM_64_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL2023_ARM_64_STANDARD"
          }
        },
        "AL2023_x86_64_NEURON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL2023_x86_64_NEURON"
          }
        },
        "AL2023_x86_64_NVIDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL2023_x86_64_NVIDIA"
          }
        }
      }
    },
    "com.amazonaws.eks#AWSWesleyFrontend": {
      "type": "service",
      "version": "2017-11-01",
      "operations": [
        {
          "target": "com.amazonaws.eks#AssociateAccessPolicy"
        },
        {
          "target": "com.amazonaws.eks#AssociateEncryptionConfig"
        },
        {
          "target": "com.amazonaws.eks#AssociateIdentityProviderConfig"
        },
        {
          "target": "com.amazonaws.eks#CreateAccessEntry"
        },
        {
          "target": "com.amazonaws.eks#CreateAddon"
        },
        {
          "target": "com.amazonaws.eks#CreateCluster"
        },
        {
          "target": "com.amazonaws.eks#CreateEksAnywhereSubscription"
        },
        {
          "target": "com.amazonaws.eks#CreateFargateProfile"
        },
        {
          "target": "com.amazonaws.eks#CreateNodegroup"
        },
        {
          "target": "com.amazonaws.eks#CreatePodIdentityAssociation"
        },
        {
          "target": "com.amazonaws.eks#DeleteAccessEntry"
        },
        {
          "target": "com.amazonaws.eks#DeleteAddon"
        },
        {
          "target": "com.amazonaws.eks#DeleteCluster"
        },
        {
          "target": "com.amazonaws.eks#DeleteEksAnywhereSubscription"
        },
        {
          "target": "com.amazonaws.eks#DeleteFargateProfile"
        },
        {
          "target": "com.amazonaws.eks#DeleteNodegroup"
        },
        {
          "target": "com.amazonaws.eks#DeletePodIdentityAssociation"
        },
        {
          "target": "com.amazonaws.eks#DeregisterCluster"
        },
        {
          "target": "com.amazonaws.eks#DescribeAccessEntry"
        },
        {
          "target": "com.amazonaws.eks#DescribeAddon"
        },
        {
          "target": "com.amazonaws.eks#DescribeAddonConfiguration"
        },
        {
          "target": "com.amazonaws.eks#DescribeAddonVersions"
        },
        {
          "target": "com.amazonaws.eks#DescribeCluster"
        },
        {
          "target": "com.amazonaws.eks#DescribeClusterVersions"
        },
        {
          "target": "com.amazonaws.eks#DescribeEksAnywhereSubscription"
        },
        {
          "target": "com.amazonaws.eks#DescribeFargateProfile"
        },
        {
          "target": "com.amazonaws.eks#DescribeIdentityProviderConfig"
        },
        {
          "target": "com.amazonaws.eks#DescribeInsight"
        },
        {
          "target": "com.amazonaws.eks#DescribeNodegroup"
        },
        {
          "target": "com.amazonaws.eks#DescribePodIdentityAssociation"
        },
        {
          "target": "com.amazonaws.eks#DescribeUpdate"
        },
        {
          "target": "com.amazonaws.eks#DisassociateAccessPolicy"
        },
        {
          "target": "com.amazonaws.eks#DisassociateIdentityProviderConfig"
        },
        {
          "target": "com.amazonaws.eks#ListAccessEntries"
        },
        {
          "target": "com.amazonaws.eks#ListAccessPolicies"
        },
        {
          "target": "com.amazonaws.eks#ListAddons"
        },
        {
          "target": "com.amazonaws.eks#ListAssociatedAccessPolicies"
        },
        {
          "target": "com.amazonaws.eks#ListClusters"
        },
        {
          "target": "com.amazonaws.eks#ListEksAnywhereSubscriptions"
        },
        {
          "target": "com.amazonaws.eks#ListFargateProfiles"
        },
        {
          "target": "com.amazonaws.eks#ListIdentityProviderConfigs"
        },
        {
          "target": "com.amazonaws.eks#ListInsights"
        },
        {
          "target": "com.amazonaws.eks#ListNodegroups"
        },
        {
          "target": "com.amazonaws.eks#ListPodIdentityAssociations"
        },
        {
          "target": "com.amazonaws.eks#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.eks#ListUpdates"
        },
        {
          "target": "com.amazonaws.eks#RegisterCluster"
        },
        {
          "target": "com.amazonaws.eks#TagResource"
        },
        {
          "target": "com.amazonaws.eks#UntagResource"
        },
        {
          "target": "com.amazonaws.eks#UpdateAccessEntry"
        },
        {
          "target": "com.amazonaws.eks#UpdateAddon"
        },
        {
          "target": "com.amazonaws.eks#UpdateClusterConfig"
        },
        {
          "target": "com.amazonaws.eks#UpdateClusterVersion"
        },
        {
          "target": "com.amazonaws.eks#UpdateEksAnywhereSubscription"
        },
        {
          "target": "com.amazonaws.eks#UpdateNodegroupConfig"
        },
        {
          "target": "com.amazonaws.eks#UpdateNodegroupVersion"
        },
        {
          "target": "com.amazonaws.eks#UpdatePodIdentityAssociation"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EKS",
          "arnNamespace": "eks",
          "cloudFormationName": "EKS",
          "cloudTrailEventSource": "eks.amazonaws.com",
          "endpointPrefix": "eks"
        },
        "aws.auth#sigv4": {
          "name": "eks"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon Elastic Kubernetes Service (Amazon EKS) is a managed service that makes it easy\n            for you to run Kubernetes on Amazon Web Services without needing to setup or maintain your own\n            Kubernetes control plane. Kubernetes is an open-source system for automating the deployment,\n            scaling, and management of containerized applications.</p>\n         <p>Amazon EKS runs up-to-date versions of the open-source Kubernetes software, so you\n            can use all the existing plugins and tooling from the Kubernetes community. Applications\n            running on Amazon EKS are fully compatible with applications running on any\n            standard Kubernetes environment, whether running in on-premises data centers or public\n            clouds. This means that you can easily migrate any standard Kubernetes application to Amazon EKS\n                 without any code modification required.</p>",
        "smithy.api#title": "Amazon Elastic Kubernetes Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://eks-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    },
                                    "aws"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fips.eks.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    },
                                    "aws-us-gov"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://eks.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://eks-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://eks.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://eks.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.eks#AccessConfigResponse": {
      "type": "structure",
      "members": {
        "bootstrapClusterCreatorAdminPermissions": {
          "target": "com.amazonaws.eks#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not the cluster creator IAM principal was set as a\n            cluster admin access entry during cluster creation time.</p>"
          }
        },
        "authenticationMode": {
          "target": "com.amazonaws.eks#AuthenticationMode",
          "traits": {
            "smithy.api#documentation": "<p>The current authentication mode of the cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The access configuration for the cluster.</p>"
      }
    },
    "com.amazonaws.eks#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation. The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html\">IAM principal</a>\n            making the request must have at least one IAM permissions policy attached\n            that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access\n                management</a> in the <i>IAM User Guide</i>.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.eks#AccessEntry": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of your cluster.</p>"
          }
        },
        "principalArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM principal for the access entry. If you ever delete\n            the IAM principal with this ARN, the access entry isn't automatically\n            deleted. We recommend that you delete the access entry with an ARN for an IAM\n                 principal that you delete. If you don't delete the access entry and ever\n            recreate the IAM principal, even if it has the same ARN, the access\n            entry won't work. This is because even though the ARN is the same for the recreated\n                IAM principal, the <code>roleID</code> or <code>userID</code> (you\n            can see this with the Security Token Service\n            <code>GetCallerIdentity</code> API) is different for the recreated IAM\n            principal than it was for the original IAM principal. Even though you\n            don't see the IAM principal's <code>roleID</code> or <code>userID</code>\n            for an access entry, Amazon EKS stores it with the access entry.</p>"
          }
        },
        "kubernetesGroups": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A <code>name</code> that you've specified in a Kubernetes <code>RoleBinding</code> or\n                <code>ClusterRoleBinding</code> object so that Kubernetes authorizes the\n                <code>principalARN</code> access to cluster objects.</p>"
          }
        },
        "accessEntryArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the access entry.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp at object creation.</p>"
          }
        },
        "modifiedAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp for the last modification to the object.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that assists with categorization and organization.\n            Each tag consists of a key and an optional value. You define both. Tags don't\n            propagate to any other cluster or Amazon Web Services resources.</p>"
          }
        },
        "username": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>name</code> of a user that can authenticate to your cluster.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the access entry.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An access entry allows an IAM principal (user or role) to access your\n            cluster. Access entries can replace the need to maintain the <code>aws-auth</code>\n            <code>ConfigMap</code> for authentication. For more information about access entries,\n            see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/access-entries.html\">Access\n                entries</a> in the <i>Amazon EKS User Guide</i>.</p>"
      }
    },
    "com.amazonaws.eks#AccessPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AccessPolicy"
      }
    },
    "com.amazonaws.eks#AccessPolicy": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access policy.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the access policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An access policy includes permissions that allow Amazon EKS to authorize an\n            IAM principal to work with Kubernetes objects on your cluster. The policies are\n            managed by Amazon EKS, but they're not IAM policies. You can't\n            view the permissions in the policies using the API. The permissions for many of the\n            policies are similar to the Kubernetes <code>cluster-admin</code>, <code>admin</code>,\n                <code>edit</code>, and <code>view</code> cluster roles. For more information about\n            these cluster roles, see <a href=\"https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles\">User-facing roles</a> in the Kubernetes documentation. To view the contents of the\n            policies, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/access-policies.html#access-policy-permissions\">Access\n                policy permissions</a> in the <i>Amazon EKS User Guide</i>.</p>"
      }
    },
    "com.amazonaws.eks#AccessScope": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.eks#AccessScopeType",
          "traits": {
            "smithy.api#documentation": "<p>The scope type of an access policy.</p>"
          }
        },
        "namespaces": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A Kubernetes <code>namespace</code> that an access policy is scoped to. A value is required\n            if you specified <code>namespace</code> for <code>Type</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The scope of an <code>AccessPolicy</code> that's associated to an\n                <code>AccessEntry</code>.</p>"
      }
    },
    "com.amazonaws.eks#AccessScopeType": {
      "type": "enum",
      "members": {
        "cluster": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cluster"
          }
        },
        "namespace": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "namespace"
          }
        }
      }
    },
    "com.amazonaws.eks#AdditionalInfoMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.eks#String"
      },
      "value": {
        "target": "com.amazonaws.eks#String"
      }
    },
    "com.amazonaws.eks#Addon": {
      "type": "structure",
      "members": {
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on.</p>"
          }
        },
        "clusterName": {
          "target": "com.amazonaws.eks#ClusterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your cluster.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.eks#AddonStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the add-on.</p>"
          }
        },
        "addonVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the add-on.</p>"
          }
        },
        "health": {
          "target": "com.amazonaws.eks#AddonHealth",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the health of the add-on.</p>"
          }
        },
        "addonArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the add-on.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp at object creation.</p>"
          }
        },
        "modifiedAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp for the last modification to the object.</p>"
          }
        },
        "serviceAccountRoleArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that's bound to the Kubernetes\n                <code>ServiceAccount</code> object that the add-on uses.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that assists with categorization and organization.\n            Each tag consists of a key and an optional value. You define both. Tags don't\n            propagate to any other cluster or Amazon Web Services resources.</p>"
          }
        },
        "publisher": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The publisher of the add-on.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the add-on.</p>"
          }
        },
        "marketplaceInformation": {
          "target": "com.amazonaws.eks#MarketplaceInformation",
          "traits": {
            "smithy.api#documentation": "<p>Information about an Amazon EKS add-on from the Amazon Web Services Marketplace.</p>"
          }
        },
        "configurationValues": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The configuration values that you provided.</p>"
          }
        },
        "podIdentityAssociations": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Pod Identity Assocations owned by the Addon. Each EKS Pod Identity association maps a role to a service account in a namespace in the cluster.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/add-ons-iam.html\">Attach an IAM Role to an Amazon EKS add-on using Pod Identity</a> in the <i>Amazon EKS User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon EKS add-on. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-add-ons.html\">Amazon EKS add-ons</a> in\n            the <i>Amazon EKS User Guide</i>.</p>"
      }
    },
    "com.amazonaws.eks#AddonCompatibilityDetail": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon EKS add-on.</p>"
          }
        },
        "compatibleVersions": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of compatible Amazon EKS add-on versions for the next Kubernetes version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary information about the Amazon EKS add-on compatibility for the next Kubernetes \n            version for an insight check in the <code>UPGRADE_READINESS</code> category.</p>"
      }
    },
    "com.amazonaws.eks#AddonCompatibilityDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonCompatibilityDetail"
      }
    },
    "com.amazonaws.eks#AddonHealth": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "com.amazonaws.eks#AddonIssueList",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the health issues for an add-on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The health of the add-on.</p>"
      }
    },
    "com.amazonaws.eks#AddonInfo": {
      "type": "structure",
      "members": {
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the add-on.</p>"
          }
        },
        "addonVersions": {
          "target": "com.amazonaws.eks#AddonVersionInfoList",
          "traits": {
            "smithy.api#documentation": "<p>An object representing information about available add-on versions and compatible\n            Kubernetes versions.</p>"
          }
        },
        "publisher": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The publisher of the add-on.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the add-on.</p>"
          }
        },
        "marketplaceInformation": {
          "target": "com.amazonaws.eks#MarketplaceInformation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the add-on from the Amazon Web Services Marketplace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an add-on.</p>"
      }
    },
    "com.amazonaws.eks#AddonIssue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.eks#AddonIssueCode",
          "traits": {
            "smithy.api#documentation": "<p>A code that describes the type of issue.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides details about the issue and what might cause it.</p>"
          }
        },
        "resourceIds": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The resource IDs of the issue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An issue related to an add-on.</p>"
      }
    },
    "com.amazonaws.eks#AddonIssueCode": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AccessDenied"
          }
        },
        "INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InternalFailure"
          }
        },
        "CLUSTER_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ClusterUnreachable"
          }
        },
        "INSUFFICIENT_NUMBER_OF_REPLICAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InsufficientNumberOfReplicas"
          }
        },
        "CONFIGURATION_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfigurationConflict"
          }
        },
        "ADMISSION_REQUEST_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdmissionRequestDenied"
          }
        },
        "UNSUPPORTED_ADDON_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnsupportedAddonModification"
          }
        },
        "K8S_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "K8sResourceNotFound"
          }
        },
        "ADDON_SUBSCRIPTION_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AddonSubscriptionNeeded"
          }
        },
        "ADDON_PERMISSION_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AddonPermissionFailure"
          }
        }
      }
    },
    "com.amazonaws.eks#AddonIssueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonIssue"
      }
    },
    "com.amazonaws.eks#AddonPodIdentityAssociations": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a Kubernetes Service Account.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an IAM Role.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A type of Pod Identity Association owned by an Amazon EKS Add-on.</p>\n         <p>Each EKS Pod Identity Association maps a role to a service account in a namespace in the cluster.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/add-ons-iam.html\">Attach an IAM Role to an Amazon EKS add-on using Pod Identity</a> in the <i>Amazon EKS User Guide</i>.</p>"
      }
    },
    "com.amazonaws.eks#AddonPodIdentityAssociationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonPodIdentityAssociations"
      }
    },
    "com.amazonaws.eks#AddonPodIdentityConfiguration": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes Service Account name used by the addon.</p>"
          }
        },
        "recommendedManagedPolicies": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A suggested IAM Policy for the addon.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about how to configure IAM for an Addon.</p>"
      }
    },
    "com.amazonaws.eks#AddonPodIdentityConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonPodIdentityConfiguration"
      }
    },
    "com.amazonaws.eks#AddonStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.eks#AddonVersionInfo": {
      "type": "structure",
      "members": {
        "addonVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the add-on.</p>"
          }
        },
        "architecture": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The architectures that the version supports.</p>"
          }
        },
        "computeTypes": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the compute type of the addon version.</p>"
          }
        },
        "compatibilities": {
          "target": "com.amazonaws.eks#Compatibilities",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the compatibilities of a version.</p>"
          }
        },
        "requiresConfiguration": {
          "target": "com.amazonaws.eks#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the add-on requires configuration.</p>"
          }
        },
        "requiresIamPermissions": {
          "target": "com.amazonaws.eks#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates if the Addon requires IAM Permissions to operate, such as networking permissions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an add-on version.</p>"
      }
    },
    "com.amazonaws.eks#AddonVersionInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonVersionInfo"
      }
    },
    "com.amazonaws.eks#Addons": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonInfo"
      }
    },
    "com.amazonaws.eks#AssociateAccessPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#AssociateAccessPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#AssociateAccessPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an access policy and its scope to an access entry. For more information\n            about associating access policies, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/access-policies.html\">Associating and disassociating\n                access policies to and from access entries</a> in the <i>Amazon EKS User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/access-entries/{principalArn}/access-policies",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#AssociateAccessPolicyRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of your cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "principalArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM user or role for the <code>AccessEntry</code>\n            that you're associating the access policy to. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "policyArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AccessPolicy</code> that you're associating. For a list of\n            ARNs, use <code>ListAccessPolicies</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "accessScope": {
          "target": "com.amazonaws.eks#AccessScope",
          "traits": {
            "smithy.api#documentation": "<p>The scope for the <code>AccessPolicy</code>. You can scope access policies to an\n            entire cluster or to specific Kubernetes namespaces.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.eks#AssociateAccessPolicyResponse": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of your cluster.</p>"
          }
        },
        "principalArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM principal for the <code>AccessEntry</code>.</p>"
          }
        },
        "associatedAccessPolicy": {
          "target": "com.amazonaws.eks#AssociatedAccessPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccessPolicy</code> and scope associated to the\n            <code>AccessEntry</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.eks#AssociateEncryptionConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#AssociateEncryptionConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#AssociateEncryptionConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an encryption configuration to an existing cluster.</p>\n         <p>Use this API to enable encryption on existing clusters that don't already have\n            encryption enabled. This allows you to implement a defense-in-depth security strategy\n            without migrating applications to new Amazon EKS clusters.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/encryption-config/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#AssociateEncryptionConfigRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of your cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "encryptionConfig": {
          "target": "com.amazonaws.eks#EncryptionConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration you are using for encryption.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\nthe idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.eks#AssociateEncryptionConfigResponse": {
      "type": "structure",
      "members": {
        "update": {
          "target": "com.amazonaws.eks#Update"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.eks#AssociateIdentityProviderConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#AssociateIdentityProviderConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#AssociateIdentityProviderConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an identity provider configuration to a cluster.</p>\n         <p>If you want to authenticate identities using an identity provider, you can create an\n            identity provider configuration and associate it to your cluster. After configuring\n            authentication to your cluster you can create Kubernetes <code>Role</code> and\n                <code>ClusterRole</code> objects, assign permissions to them, and then bind them to\n            the identities using Kubernetes <code>RoleBinding</code> and <code>ClusterRoleBinding</code>\n            objects. For more information see <a href=\"https://kubernetes.io/docs/reference/access-authn-authz/rbac/\">Using RBAC\n                Authorization</a> in the Kubernetes documentation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/identity-provider-configs/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#AssociateIdentityProviderConfigRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of your cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "oidc": {
          "target": "com.amazonaws.eks#OidcIdentityProviderConfigRequest",
          "traits": {
            "smithy.api#documentation": "<p>An object representing an OpenID Connect (OIDC) identity provider configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that assists with categorization and organization.\n            Each tag consists of a key and an optional value. You define both. Tags don't\n            propagate to any other cluster or Amazon Web Services resources.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\nthe idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.eks#AssociateIdentityProviderConfigResponse": {
      "type": "structure",
      "members": {
        "update": {
          "target": "com.amazonaws.eks#Update"
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.eks#AssociatedAccessPoliciesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AssociatedAccessPolicy"
      }
    },
    "com.amazonaws.eks#AssociatedAccessPolicy": {
      "type": "structure",
      "members": {
        "policyArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AccessPolicy</code>.</p>"
          }
        },
        "accessScope": {
          "target": "com.amazonaws.eks#AccessScope",
          "traits": {
            "smithy.api#documentation": "<p>The scope of the access policy.</p>"
          }
        },
        "associatedAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the <code>AccessPolicy</code> was associated with an\n                <code>AccessEntry</code>.</p>"
          }
        },
        "modifiedAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp for the last modification to the object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An access policy association.</p>"
      }
    },
    "com.amazonaws.eks#AuthenticationMode": {
      "type": "enum",
      "members": {
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API"
          }
        },
        "API_AND_CONFIG_MAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_AND_CONFIG_MAP"
          }
        },
        "CONFIG_MAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_MAP"
          }
        }
      }
    },
    "com.amazonaws.eks#AutoScalingGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group associated with an Amazon EKS managed\n            node group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Auto Scaling group that is associated with an Amazon EKS managed node\n            group.</p>"
      }
    },
    "com.amazonaws.eks#AutoScalingGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AutoScalingGroup"
      }
    },
    "com.amazonaws.eks#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>This exception is thrown if the request contains a semantic error. The precise meaning\n            will depend on the API, and will be documented in the error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown if the request contains a semantic error. The precise meaning\n            will depend on the API, and will be documented in the error message.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.eks#BlockStorage": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.amazonaws.eks#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the block storage capability is enabled on your EKS Auto Mode cluster. If the block storage capability is enabled, EKS Auto Mode will create and delete EBS volumes in your Amazon Web Services account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates the current configuration of the block storage capability on your EKS Auto Mode cluster. For example, if the capability is enabled or disabled. If the block storage capability is enabled, EKS Auto Mode will create and delete EBS volumes in your Amazon Web Services account. For more information, see EKS Auto Mode block storage capability in the <i>Amazon EKS User Guide</i>.</p>"
      }
    },
    "com.amazonaws.eks#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.eks#BoxedBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.eks#BoxedInteger": {
      "type": "integer"
    },
    "com.amazonaws.eks#Capacity": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.eks#CapacityTypes": {
      "type": "enum",
      "members": {
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        },
        "SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT"
          }
        },
        "CAPACITY_BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_BLOCK"
          }
        }
      }
    },
    "com.amazonaws.eks#Category": {
      "type": "enum",
      "members": {
        "UPGRADE_READINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPGRADE_READINESS"
          }
        }
      }
    },
    "com.amazonaws.eks#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#Category"
      }
    },
    "com.amazonaws.eks#Certificate": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Base64-encoded certificate data required to communicate with your cluster. Add\n            this to the <code>certificate-authority-data</code> section of the\n                <code>kubeconfig</code> file for your cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the <code>certificate-authority-data</code> for your\n            cluster.</p>"
      }
    },
    "com.amazonaws.eks#ClientException": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EKS cluster associated with the exception.</p>"
          }
        },
        "nodegroupName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EKS managed node group associated with the exception.</p>"
          }
        },
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EKS add-on name associated with the exception.</p>"
          }
        },
        "subscriptionId": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EKS subscription ID with the exception.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>These errors are usually caused by a client action. Actions can include using an\n            action or resource on behalf of an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html\">IAM principal</a> that doesn't have permissions to use\n            the action or resource or specifying an identifier that is not valid.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action. Actions can include using an\n            action or resource on behalf of an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html\">IAM principal</a> that doesn't have permissions to use\n            the action or resource or specifying an identifier that is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.eks#ClientStat": {
      "type": "structure",
      "members": {
        "userAgent": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The user agent of the Kubernetes client using the deprecated resource.</p>"
          }
        },
        "numberOfRequestsLast30Days": {
          "target": "com.amazonaws.eks#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of requests from the Kubernetes client seen over the last 30 days.</p>"
          }
        },
        "lastRequestTime": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the last request seen from the Kubernetes client.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about clients using the deprecated resources.</p>"
      }
    },
    "com.amazonaws.eks#ClientStats": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#ClientStat"
      }
    },
    "com.amazonaws.eks#Cluster": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of your cluster.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp at object creation.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes server version for the cluster.</p>"
          }
        },
        "endpoint": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint for your Kubernetes API server.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes\n            control plane to make calls to Amazon Web Services API operations on your behalf.</p>"
          }
        },
        "resourcesVpcConfig": {
          "target": "com.amazonaws.eks#VpcConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC\n            resources have specific requirements to work properly with Kubernetes. For more information,\n            see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC\n                considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster security group considerations</a> in the\n            <i>Amazon EKS User Guide</i>.</p>"
          }
        },
        "kubernetesNetworkConfig": {
          "target": "com.amazonaws.eks#KubernetesNetworkConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes network configuration for the cluster.</p>"
          }
        },
        "logging": {
          "target": "com.amazonaws.eks#Logging",
          "traits": {
            "smithy.api#documentation": "<p>The logging configuration for your cluster.</p>"
          }
        },
        "identity": {
          "target": "com.amazonaws.eks#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identity provider information for the cluster.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.eks#ClusterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the cluster.</p>"
          }
        },
        "certificateAuthority": {
          "target": "com.amazonaws.eks#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>The <code>certificate-authority-data</code> for your cluster.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure\nthe idempotency of the request.</p>"
          }
        },
        "platformVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The platform version of your Amazon EKS cluster. For more information about\n            clusters deployed on the Amazon Web Services Cloud, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform\n                versions</a> in the <i>\n               <i>Amazon EKS User Guide</i>\n            </i>. For more information\n            about local clusters deployed on an Outpost, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-outposts-platform-versions.html\">Amazon EKS local cluster platform versions</a> in the\n                <i>\n               <i>Amazon EKS User Guide</i>\n            </i>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that assists with categorization and organization.\n            Each tag consists of a key and an optional value. You define both. Tags don't\n            propagate to any other cluster or Amazon Web Services resources.</p>"
          }
        },
        "encryptionConfig": {
          "target": "com.amazonaws.eks#EncryptionConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for the cluster.</p>"
          }
        },
        "connectorConfig": {
          "target": "com.amazonaws.eks#ConnectorConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The configuration used to connect to a cluster for registration.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of your local Amazon EKS cluster on an Amazon Web Services Outpost. This\n            property isn't available for an Amazon EKS cluster on the Amazon Web Services\n            cloud.</p>"
          }
        },
        "health": {
          "target": "com.amazonaws.eks#ClusterHealth",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the health of your Amazon EKS cluster.</p>"
          }
        },
        "outpostConfig": {
          "target": "com.amazonaws.eks#OutpostConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the configuration of your local Amazon EKS cluster on\n            an Amazon Web Services Outpost. This object isn't available for clusters on the Amazon Web Services\n                 cloud.</p>"
          }
        },
        "accessConfig": {
          "target": "com.amazonaws.eks#AccessConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The access configuration for the cluster.</p>"
          }
        },
        "upgradePolicy": {
          "target": "com.amazonaws.eks#UpgradePolicyResponse",
          "traits": {
            "smithy.api#documentation": "<p>This value indicates if extended support is enabled or disabled for the cluster.</p>\n         <p>\n            <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/extended-support-control.html\">Learn more about EKS Extended Support in the <i>Amazon EKS User Guide</i>.</a>\n         </p>"
          }
        },
        "zonalShiftConfig": {
          "target": "com.amazonaws.eks#ZonalShiftConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for zonal shift for the cluster.</p>"
          }
        },
        "remoteNetworkConfig": {
          "target": "com.amazonaws.eks#RemoteNetworkConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>The configuration in the cluster for EKS Hybrid Nodes. You can't change or update this\n            configuration after the cluster is created.</p>"
          }
        },
        "computeConfig": {
          "target": "com.amazonaws.eks#ComputeConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current configuration of the compute capability on your EKS Auto Mode cluster. For example, if the capability is enabled or disabled. If the compute capability is enabled, EKS Auto Mode will create and delete EC2 Managed Instances in your Amazon Web Services account. For more information, see EKS Auto Mode compute capability in the <i>Amazon EKS User Guide</i>.</p>"
          }
        },
        "storageConfig": {
          "target": "com.amazonaws.eks#StorageConfigResponse",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current configuration of the block storage capability on your EKS Auto Mode cluster. For example, if the capability is enabled or disabled. If the block storage capability is enabled, EKS Auto Mode will create and delete EBS volumes in your Amazon Web Services account. For more information, see EKS Auto Mode block storage capability in the <i>Amazon EKS User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an Amazon EKS cluster.</p>"
      }
    },
    "com.amazonaws.eks#ClusterHealth": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "com.amazonaws.eks#ClusterIssueList",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the health issues of your Amazon EKS cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the health of your Amazon EKS cluster.</p>"
      }
    },
    "com.amazonaws.eks#ClusterIssue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.eks#ClusterIssueCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code of the issue.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the issue.</p>"
          }
        },
        "resourceIds": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The resource IDs that the issue relates to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An issue with your Amazon EKS cluster.</p>"
      }
    },
    "com.amazonaws.eks#ClusterIssueCode": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
