{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.eks#AMITypes": {
      "type": "enum",
      "members": {
        "AL2_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL2_x86_64"
          }
        },
        "AL2_x86_64_GPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL2_x86_64_GPU"
          }
        },
        "AL2_ARM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL2_ARM_64"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "BOTTLEROCKET_ARM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTLEROCKET_ARM_64"
          }
        },
        "BOTTLEROCKET_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTLEROCKET_x86_64"
          }
        },
        "BOTTLEROCKET_ARM_64_NVIDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTLEROCKET_ARM_64_NVIDIA"
          }
        },
        "BOTTLEROCKET_x86_64_NVIDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOTTLEROCKET_x86_64_NVIDIA"
          }
        },
        "WINDOWS_CORE_2019_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_CORE_2019_x86_64"
          }
        },
        "WINDOWS_FULL_2019_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_FULL_2019_x86_64"
          }
        },
        "WINDOWS_CORE_2022_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_CORE_2022_x86_64"
          }
        },
        "WINDOWS_FULL_2022_x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_FULL_2022_x86_64"
          }
        }
      }
    },
    "com.amazonaws.eks#AWSWesleyFrontend": {
      "type": "service",
      "version": "2017-11-01",
      "operations": [
        {
          "target": "com.amazonaws.eks#AssociateEncryptionConfig"
        },
        {
          "target": "com.amazonaws.eks#AssociateIdentityProviderConfig"
        },
        {
          "target": "com.amazonaws.eks#CreateAddon"
        },
        {
          "target": "com.amazonaws.eks#CreateCluster"
        },
        {
          "target": "com.amazonaws.eks#CreateFargateProfile"
        },
        {
          "target": "com.amazonaws.eks#CreateNodegroup"
        },
        {
          "target": "com.amazonaws.eks#DeleteAddon"
        },
        {
          "target": "com.amazonaws.eks#DeleteCluster"
        },
        {
          "target": "com.amazonaws.eks#DeleteFargateProfile"
        },
        {
          "target": "com.amazonaws.eks#DeleteNodegroup"
        },
        {
          "target": "com.amazonaws.eks#DeregisterCluster"
        },
        {
          "target": "com.amazonaws.eks#DescribeAddon"
        },
        {
          "target": "com.amazonaws.eks#DescribeAddonConfiguration"
        },
        {
          "target": "com.amazonaws.eks#DescribeAddonVersions"
        },
        {
          "target": "com.amazonaws.eks#DescribeCluster"
        },
        {
          "target": "com.amazonaws.eks#DescribeFargateProfile"
        },
        {
          "target": "com.amazonaws.eks#DescribeIdentityProviderConfig"
        },
        {
          "target": "com.amazonaws.eks#DescribeNodegroup"
        },
        {
          "target": "com.amazonaws.eks#DescribeUpdate"
        },
        {
          "target": "com.amazonaws.eks#DisassociateIdentityProviderConfig"
        },
        {
          "target": "com.amazonaws.eks#ListAddons"
        },
        {
          "target": "com.amazonaws.eks#ListClusters"
        },
        {
          "target": "com.amazonaws.eks#ListFargateProfiles"
        },
        {
          "target": "com.amazonaws.eks#ListIdentityProviderConfigs"
        },
        {
          "target": "com.amazonaws.eks#ListNodegroups"
        },
        {
          "target": "com.amazonaws.eks#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.eks#ListUpdates"
        },
        {
          "target": "com.amazonaws.eks#RegisterCluster"
        },
        {
          "target": "com.amazonaws.eks#TagResource"
        },
        {
          "target": "com.amazonaws.eks#UntagResource"
        },
        {
          "target": "com.amazonaws.eks#UpdateAddon"
        },
        {
          "target": "com.amazonaws.eks#UpdateClusterConfig"
        },
        {
          "target": "com.amazonaws.eks#UpdateClusterVersion"
        },
        {
          "target": "com.amazonaws.eks#UpdateNodegroupConfig"
        },
        {
          "target": "com.amazonaws.eks#UpdateNodegroupVersion"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EKS",
          "arnNamespace": "eks",
          "cloudFormationName": "EKS",
          "cloudTrailEventSource": "eks.amazonaws.com",
          "endpointPrefix": "eks"
        },
        "aws.auth#sigv4": {
          "name": "eks"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon Elastic Kubernetes Service (Amazon EKS) is a managed service that makes it easy\n            for you to run Kubernetes on Amazon Web Services without needing to stand up or maintain\n            your own Kubernetes control plane. Kubernetes is an open-source system for automating\n            the deployment, scaling, and management of containerized applications. </p>\n         <p>Amazon EKS runs up-to-date versions of the open-source Kubernetes software, so\n            you can use all the existing plugins and tooling from the Kubernetes community.\n            Applications running on Amazon EKS are fully compatible with applications\n            running on any standard Kubernetes environment, whether running in on-premises data\n            centers or public clouds. This means that you can easily migrate any standard Kubernetes\n            application to Amazon EKS without any code modification required.</p>",
        "smithy.api#title": "Amazon Elastic Kubernetes Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://eks-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fips.eks.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://eks.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://eks-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://eks.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://eks.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ap-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.eu-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.eu-central-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-central-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.ap-southeast-4.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-4",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.ap-southeast-4.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-4",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-4.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-4",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.ap-southeast-4.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-4",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.eks.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-isob-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-isob-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-isob-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://eks.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-isob-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.eks#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eks#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation. The user or role that\n            is making the request must have at least one IAM permissions policy\n            attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access\n                Management</a> in the <i>IAM User Guide</i>. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.eks#Addon": {
      "type": "structure",
      "members": {
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on.</p>"
          }
        },
        "clusterName": {
          "target": "com.amazonaws.eks#ClusterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.eks#AddonStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the add-on.</p>"
          }
        },
        "addonVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the add-on.</p>"
          }
        },
        "health": {
          "target": "com.amazonaws.eks#AddonHealth",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the health of the add-on.</p>"
          }
        },
        "addonArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the add-on.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the add-on was created.</p>"
          }
        },
        "modifiedAt": {
          "target": "com.amazonaws.eks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the add-on was last modified.</p>"
          }
        },
        "serviceAccountRoleArn": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that's bound to the Kubernetes service account\n            that the add-on uses.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that you apply to the add-on to assist with categorization and\n            organization. Each tag consists of a key and an optional value. You define both. Add-on\n            tags do not propagate to any other resources associated with the cluster. </p>"
          }
        },
        "publisher": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The publisher of the add-on.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the add-on.</p>"
          }
        },
        "marketplaceInformation": {
          "target": "com.amazonaws.eks#MarketplaceInformation",
          "traits": {
            "smithy.api#documentation": "<p>Information about an Amazon EKS add-on from the Amazon Web Services Marketplace.</p>"
          }
        },
        "configurationValues": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The configuration values that you provided.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon EKS add-on. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-add-ons.html\">Amazon EKS add-ons</a> in\n            the <i>Amazon EKS User Guide</i>.</p>"
      }
    },
    "com.amazonaws.eks#AddonHealth": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "com.amazonaws.eks#AddonIssueList",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the health issues for an add-on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The health of the add-on.</p>"
      }
    },
    "com.amazonaws.eks#AddonInfo": {
      "type": "structure",
      "members": {
        "addonName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the add-on.</p>"
          }
        },
        "addonVersions": {
          "target": "com.amazonaws.eks#AddonVersionInfoList",
          "traits": {
            "smithy.api#documentation": "<p>An object representing information about available add-on versions and compatible\n            Kubernetes versions.</p>"
          }
        },
        "publisher": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The publisher of the add-on.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the add-on.</p>"
          }
        },
        "marketplaceInformation": {
          "target": "com.amazonaws.eks#MarketplaceInformation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the add-on from the Amazon Web Services Marketplace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an add-on.</p>"
      }
    },
    "com.amazonaws.eks#AddonIssue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.eks#AddonIssueCode",
          "traits": {
            "smithy.api#documentation": "<p>A code that describes the type of issue.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides details about the issue and what might cause it.</p>"
          }
        },
        "resourceIds": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The resource IDs of the issue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An issue related to an add-on.</p>"
      }
    },
    "com.amazonaws.eks#AddonIssueCode": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AccessDenied"
          }
        },
        "INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InternalFailure"
          }
        },
        "CLUSTER_UNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ClusterUnreachable"
          }
        },
        "INSUFFICIENT_NUMBER_OF_REPLICAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InsufficientNumberOfReplicas"
          }
        },
        "CONFIGURATION_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConfigurationConflict"
          }
        },
        "ADMISSION_REQUEST_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AdmissionRequestDenied"
          }
        },
        "UNSUPPORTED_ADDON_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UnsupportedAddonModification"
          }
        },
        "K8S_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "K8sResourceNotFound"
          }
        }
      }
    },
    "com.amazonaws.eks#AddonIssueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonIssue"
      }
    },
    "com.amazonaws.eks#AddonStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.eks#AddonVersionInfo": {
      "type": "structure",
      "members": {
        "addonVersion": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the add-on.</p>"
          }
        },
        "architecture": {
          "target": "com.amazonaws.eks#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The architectures that the version supports.</p>"
          }
        },
        "compatibilities": {
          "target": "com.amazonaws.eks#Compatibilities",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the compatibilities of a version.</p>"
          }
        },
        "requiresConfiguration": {
          "target": "com.amazonaws.eks#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the add-on requires configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an add-on version.</p>"
      }
    },
    "com.amazonaws.eks#AddonVersionInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonVersionInfo"
      }
    },
    "com.amazonaws.eks#Addons": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AddonInfo"
      }
    },
    "com.amazonaws.eks#AssociateEncryptionConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#AssociateEncryptionConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#AssociateEncryptionConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate encryption configuration to an existing cluster.</p>\n         <p>You can use this API to enable encryption on existing clusters which do not have\n            encryption already enabled. This allows you to implement a defense-in-depth security\n            strategy without migrating applications to new Amazon EKS clusters.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/encryption-config/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#AssociateEncryptionConfigRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster that you are associating with encryption configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "encryptionConfig": {
          "target": "com.amazonaws.eks#EncryptionConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration you are using for encryption.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The client request token you are using with the encryption configuration.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.eks#AssociateEncryptionConfigResponse": {
      "type": "structure",
      "members": {
        "update": {
          "target": "com.amazonaws.eks#Update"
        }
      }
    },
    "com.amazonaws.eks#AssociateIdentityProviderConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eks#AssociateIdentityProviderConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.eks#AssociateIdentityProviderConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eks#ClientException"
        },
        {
          "target": "com.amazonaws.eks#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.eks#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.eks#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.eks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.eks#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate an identity provider configuration to a cluster.</p>\n         <p>If you want to authenticate identities using an identity provider, you can create an\n            identity provider configuration and associate it to your cluster. After configuring\n            authentication to your cluster you can create Kubernetes <code>roles</code> and\n                <code>clusterroles</code> to assign permissions to the roles, and then bind the\n            roles to the identities using Kubernetes <code>rolebindings</code> and\n                <code>clusterrolebindings</code>. For more information see <a href=\"https://kubernetes.io/docs/reference/access-authn-authz/rbac/\">Using RBAC\n                Authorization</a> in the Kubernetes documentation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clusters/{clusterName}/identity-provider-configs/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.eks#AssociateIdentityProviderConfigRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster to associate the configuration to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "oidc": {
          "target": "com.amazonaws.eks#OidcIdentityProviderConfigRequest",
          "traits": {
            "smithy.api#documentation": "<p>An object representing an OpenID Connect (OIDC) identity provider\n            configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The metadata to apply to the configuration to assist with categorization and\n            organization. Each tag consists of a key and an optional value. You define both.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.eks#AssociateIdentityProviderConfigResponse": {
      "type": "structure",
      "members": {
        "update": {
          "target": "com.amazonaws.eks#Update"
        },
        "tags": {
          "target": "com.amazonaws.eks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.eks#AutoScalingGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group associated with an Amazon EKS managed node\n            group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Auto Scaling group that is associated with an Amazon EKS managed node\n            group.</p>"
      }
    },
    "com.amazonaws.eks#AutoScalingGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eks#AutoScalingGroup"
      }
    },
    "com.amazonaws.eks#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eks#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown if the request contains a semantic error. The precise meaning\n            will depend on the API, and will be documented in the error message.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.eks#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.eks#BoxedBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.eks#BoxedInteger": {
      "type": "integer"
    },
    "com.amazonaws.eks#Capacity": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.eks#CapacityTypes": {
      "type": "enum",
      "members": {
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        },
        "SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT"
          }
        }
      }
    },
    "com.amazonaws.eks#Certificate": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.amazonaws.eks#String",
          "traits": {
            "smithy.api#documentation": "<p>The Base64-encoded certificate data required to communicate with your cluster. Add\n            this to the <code>certificate-authority-data</code> section of the\n                <code>kubeconfig</code> file for your cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the <code>certificate-authority-data</code> for your\n            cluster.</p>"
      }
    },
    "com.amazonaws.eks#ClientException": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.eks#String",
[...]
