{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "elmo.admin#APICallRateForCustomerExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The customer has exceeded the allowed rate of API calls.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin.v20150202#AZMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "single-az": {
            "name": "SINGLE_AZ"
          },
          "cross-az": {
            "name": "CROSS_AZ"
          }
        }
      }
    },
    "elmo.admin.v20150202#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "elmo.admin.v20150202#AddTagsToResourceMessage"
      },
      "output": {
        "target": "elmo.admin.v20150202#TagListMessage"
      },
      "errors": [
        {
          "target": "elmo.admin#CacheClusterNotFoundFault"
        },
        {
          "target": "elmo.admin#InvalidARNFault"
        },
        {
          "target": "elmo.admin#SnapshotNotFoundFault"
        },
        {
          "target": "elmo.admin#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds up to 50 cost allocation tags to the named resource.\n            A cost allocation tag is a key-value pair where the key and value are case-sensitive.            \n            You can use cost allocation tags to categorize and track your AWS costs.</p>\n        <p>\n            When you apply tags to your ElastiCache resources, \n            AWS generates a cost allocation report as a comma-separated value (CSV) file \n            with your usage and costs aggregated by your tags. \n            You can apply tags that represent business categories (such as cost centers, application names, or owners) \n            to organize your costs across multiple services.\n            For more information, \n            see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Tagging.html\">Using Cost Allocation Tags in Amazon ElastiCache</a> \n            in the <i>ElastiCache User Guide</i>.</p>"
      }
    },
    "elmo.admin.v20150202#AddTagsToResourceMessage": {
      "type": "structure",
      "members": {
        "ResourceName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to which the tags are to be added, \n            for example <code>arn:aws:elasticache:us-west-2:0123456789:cluster:myCluster</code> \n            or <code>arn:aws:elasticache:us-west-2:0123456789:snapshot:mySnapshot</code>.\n            ElastiCache resources are <i>cluster</i> and <i>snapshot</i>.</p>\n        <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "elmo.admin.v20150202#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cost allocation tags to be added to this resource. A tag is a key-value pair. \n          A tag key must be accompanied by a tag value.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of an AddTagsToResource operation.</p>"
      }
    },
    "elmo.admin.v20150202#AllowedNodeGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        },
        "smithy.api#pattern": "\\d+"
      }
    },
    "elmo.admin.v20150202#AllowedNodeTypeModificationsMessage": {
      "type": "structure",
      "members": {
        "ScaleDownModifications": {
          "target": "elmo.admin.v20150202#NodeTypeList",
          "traits": {
            "smithy.api#documentation": "<p>A string list, each element of which specifies a cache node type which you can use \n            to scale your cluster or replication group.</p>\n        <p>When scaling down on a Redis cluster or replication group using <code>ModifyCacheCluster</code> or\n            <code>ModifyReplicationGroup</code>, \n            use a value from this list for the <code>CacheNodeType</code> parameter.</p>"
          }
        },
        "ScaleUpModifications": {
          "target": "elmo.admin.v20150202#NodeTypeList",
          "traits": {
            "smithy.api#documentation": "<p>A string list, each element of which specifies a cache node type which you can use \n            to scale your cluster or replication group.</p>\n        <p>When scaling up a Redis cluster or replication group using <code>ModifyCacheCluster</code> or\n            <code>ModifyReplicationGroup</code>, \n            use a value from this list for the <code>CacheNodeType</code> parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the allowed node types you can use to modify your cluster or replication group.</p>"
      }
    },
    "elmo.admin.v20150202#AmazonElastiCacheV9": {
      "type": "service",
      "version": "2015-02-02",
      "operations": [
        {
          "target": "elmo.admin.v20150202#AddTagsToResource"
        },
        {
          "target": "elmo.admin.v20150202#AuthorizeCacheSecurityGroupIngress"
        },
        {
          "target": "elmo.admin.v20150202#BatchApplyUpdateAction"
        },
        {
          "target": "elmo.admin.v20150202#BatchStopUpdateAction"
        },
        {
          "target": "elmo.admin.v20150202#CompleteMigration"
        },
        {
          "target": "elmo.admin.v20150202#CopySnapshot"
        },
        {
          "target": "elmo.admin.v20150202#CreateCacheCluster"
        },
        {
          "target": "elmo.admin.v20150202#CreateCacheParameterGroup"
        },
        {
          "target": "elmo.admin.v20150202#CreateCacheSecurityGroup"
        },
        {
          "target": "elmo.admin.v20150202#CreateCacheSubnetGroup"
        },
        {
          "target": "elmo.admin.v20150202#CreateReplicationGroup"
        },
        {
          "target": "elmo.admin.v20150202#CreateSnapshot"
        },
        {
          "target": "elmo.admin.v20150202#DecreaseReplicaCount"
        },
        {
          "target": "elmo.admin.v20150202#DeleteCacheCluster"
        },
        {
          "target": "elmo.admin.v20150202#DeleteCacheParameterGroup"
        },
        {
          "target": "elmo.admin.v20150202#DeleteCacheSecurityGroup"
        },
        {
          "target": "elmo.admin.v20150202#DeleteCacheSubnetGroup"
        },
        {
          "target": "elmo.admin.v20150202#DeleteReplicationGroup"
        },
        {
          "target": "elmo.admin.v20150202#DeleteSnapshot"
        },
        {
          "target": "elmo.admin.v20150202#DescribeCacheClusters"
        },
        {
          "target": "elmo.admin.v20150202#DescribeCacheEngineVersions"
        },
        {
          "target": "elmo.admin.v20150202#DescribeCacheParameterGroups"
        },
        {
          "target": "elmo.admin.v20150202#DescribeCacheParameters"
        },
        {
          "target": "elmo.admin.v20150202#DescribeCacheSecurityGroups"
        },
        {
          "target": "elmo.admin.v20150202#DescribeCacheSubnetGroups"
        },
        {
          "target": "elmo.admin.v20150202#DescribeEngineDefaultParameters"
        },
        {
          "target": "elmo.admin.v20150202#DescribeEvents"
        },
        {
          "target": "elmo.admin.v20150202#DescribeReplicationGroups"
        },
        {
          "target": "elmo.admin.v20150202#DescribeReservedCacheNodes"
        },
        {
          "target": "elmo.admin.v20150202#DescribeReservedCacheNodesOfferings"
        },
        {
          "target": "elmo.admin.v20150202#DescribeServiceUpdates"
        },
        {
          "target": "elmo.admin.v20150202#DescribeSnapshots"
        },
        {
          "target": "elmo.admin.v20150202#DescribeUpdateActions"
        },
        {
          "target": "elmo.admin.v20150202#IncreaseReplicaCount"
        },
        {
          "target": "elmo.admin.v20150202#ListAllowedNodeTypeModifications"
        },
        {
          "target": "elmo.admin.v20150202#ListTagsForResource"
        },
        {
          "target": "elmo.admin.v20150202#ModifyCacheCluster"
        },
        {
          "target": "elmo.admin.v20150202#ModifyCacheParameterGroup"
        },
        {
          "target": "elmo.admin.v20150202#ModifyCacheSubnetGroup"
        },
        {
          "target": "elmo.admin.v20150202#ModifyReplicationGroup"
        },
        {
          "target": "elmo.admin.v20150202#ModifyReplicationGroupShardConfiguration"
        },
        {
          "target": "elmo.admin.v20150202#PurchaseReservedCacheNodesOffering"
        },
        {
          "target": "elmo.admin.v20150202#RebootCacheCluster"
        },
        {
          "target": "elmo.admin.v20150202#RemoveTagsFromResource"
        },
        {
          "target": "elmo.admin.v20150202#ResetCacheParameterGroup"
        },
        {
          "target": "elmo.admin.v20150202#RevokeCacheSecurityGroupIngress"
        },
        {
          "target": "elmo.admin.v20150202#StartMigration"
        },
        {
          "target": "elmo.admin.v20150202#TestFailover"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ElastiCache",
          "arnNamespace": "elasticache",
          "cloudFormationName": "ElastiCache",
          "cloudTrailEventSource": "v20150202.admin.elmo"
        },
        "smithy.api#documentation": "<fullname>Amazon ElastiCache</fullname>\n        <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, \n            and scale a distributed cache in the cloud.</p>\n        <p>With ElastiCache, customers get all of the benefits of a high-performance, \n            in-memory cache with less of the administrative burden involved in launching and managing a distributed cache. \n            The service makes setup, scaling, \n            and cluster failure handling much simpler than in a self-managed cache deployment.</p>\n        <p>In addition, through integration with Amazon CloudWatch, \n            customers get enhanced visibility into the key performance statistics \n            associated with their cache and can receive alarms if a part of their cache runs hot.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.query",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon ElastiCache",
        "smithy.api#xmlNamespace": {
          "uri": "http://elasticache.amazonaws.com/doc/2015-02-02/"
        }
      }
    },
    "elmo.admin.v20150202#AuthTokenUpdateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SETTING": { },
          "ROTATING": { }
        }
      }
    },
    "elmo.admin.v20150202#AuthTokenUpdateStrategyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SET": { },
          "ROTATE": { }
        }
      }
    },
    "elmo.admin#AuthorizationAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified Amazon EC2 security group is already authorized for the specified cache security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin#AuthorizationNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified Amazon EC2 security group is not authorized for the specified cache security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "elmo.admin.v20150202#AuthorizeCacheSecurityGroupIngress": {
      "type": "operation",
      "input": {
        "target": "elmo.admin.v20150202#AuthorizeCacheSecurityGroupIngressMessage"
      },
      "output": {
        "target": "elmo.admin.v20150202#AuthorizeCacheSecurityGroupIngressResult"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#AuthorizationAlreadyExistsFault"
        },
        {
          "target": "elmo.admin#CacheSecurityGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#InvalidCacheSecurityGroupStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows network ingress to a cache\n            security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2\n            security groups are used as the authorization mechanism.</p>\n        <note>\n            <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an\n            ElastiCache cluster in another region.</p>\n         </note>"
      }
    },
    "elmo.admin.v20150202#AuthorizeCacheSecurityGroupIngressMessage": {
      "type": "structure",
      "members": {
        "CacheSecurityGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The cache security group that allows network ingress.</p>",
            "smithy.api#required": true
          }
        },
        "EC2SecurityGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 security group to be authorized for ingress to the cache security group.</p>",
            "smithy.api#required": true
          }
        },
        "EC2SecurityGroupOwnerId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account number of the Amazon EC2 security group owner. \n            Note that this is not the same thing as an AWS access key ID - \n            you must provide a valid AWS account number for this parameter.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of an AuthorizeCacheSecurityGroupIngress operation.</p>"
      }
    },
    "elmo.admin.v20150202#AuthorizeCacheSecurityGroupIngressResult": {
      "type": "structure",
      "members": {
        "CacheSecurityGroup": {
          "target": "elmo.admin.v20150202#CacheSecurityGroup"
        }
      }
    },
    "elmo.admin.v20150202#AutomaticFailoverStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "enabled": {
            "name": "ENABLED"
          },
          "disabled": {
            "name": "DISABLED"
          },
          "enabling": {
            "name": "ENABLING"
          },
          "disabling": {
            "name": "DISABLING"
          }
        }
      }
    },
    "elmo.admin.v20150202#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Availability Zone in which the cluster is launched.</p>"
      }
    },
    "elmo.admin.v20150202#AvailabilityZonesList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#String",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazon.coral.service#AwsQueryErrorMessage": {
      "type": "string"
    },
    "elmo.admin.v20150202#BatchApplyUpdateAction": {
      "type": "operation",
      "input": {
        "target": "elmo.admin.v20150202#BatchApplyUpdateActionMessage"
      },
      "output": {
        "target": "elmo.admin.v20150202#UpdateActionResultsMessage"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ServiceUpdateNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Apply the service update. For more information on service updates and applying them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/applying-updates.html\">Applying Service Updates</a>.</p>"
      }
    },
    "elmo.admin.v20150202#BatchApplyUpdateActionMessage": {
      "type": "structure",
      "members": {
        "CacheClusterIds": {
          "target": "elmo.admin.v20150202#CacheClusterIdList",
          "traits": {
            "smithy.api#documentation": "<p>The cache cluster IDs</p>"
          }
        },
        "ReplicationGroupIds": {
          "target": "elmo.admin.v20150202#ReplicationGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The replication group IDs</p>"
          }
        },
        "ServiceUpdateName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the service update</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "elmo.admin.v20150202#BatchStopUpdateAction": {
      "type": "operation",
      "input": {
        "target": "elmo.admin.v20150202#BatchStopUpdateActionMessage"
      },
      "output": {
        "target": "elmo.admin.v20150202#UpdateActionResultsMessage"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#ServiceUpdateNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stop the service update. For more information on service updates and stopping them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/stopping-self-service-updates.html\">Stopping Service Updates</a>.</p>"
      }
    },
    "elmo.admin.v20150202#BatchStopUpdateActionMessage": {
      "type": "structure",
      "members": {
        "CacheClusterIds": {
          "target": "elmo.admin.v20150202#CacheClusterIdList",
          "traits": {
            "smithy.api#documentation": "<p>The cache cluster IDs</p>"
          }
        },
        "ReplicationGroupIds": {
          "target": "elmo.admin.v20150202#ReplicationGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The replication group IDs</p>"
          }
        },
        "ServiceUpdateName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the service update</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "elmo.admin.v20150202#Boolean": {
      "type": "boolean"
    },
    "elmo.admin.v20150202#BooleanOptional": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "elmo.admin.v20150202#CacheCluster": {
      "type": "structure",
      "members": {
        "AtRestEncryptionEnabled": {
          "target": "elmo.admin.v20150202#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A flag that enables encryption at-rest when set to <code>true</code>.</p>\n        <p>You cannot modify the value of <code>AtRestEncryptionEnabled</code>\n            after the cluster is created. To enable at-rest encryption on a cluster\n            you must set <code>AtRestEncryptionEnabled</code> to <code>true</code>\n            when you create a cluster.</p>\n        <p>\n            <b>Required:</b>\n            Only available when creating a replication group in an Amazon VPC using redis version <code>3.2.6</code>, <code>4.x</code> or later.</p>\n        <p>Default: <code>false</code>\n         </p>"
          }
        },
        "AuthTokenEnabled": {
          "target": "elmo.admin.v20150202#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A flag that enables using an <code>AuthToken</code> (password)\n            when issuing Redis commands.</p>\n        <p>Default: <code>false</code>\n         </p>"
          }
        },
        "AuthTokenLastModifiedDate": {
          "target": "elmo.admin.v20150202#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the auth token was last modified</p>"
          }
        },
        "AutoMinorVersionUpgrade": {
          "target": "elmo.admin.v20150202#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is currently disabled.</p>"
          }
        },
        "CacheClusterCreateTime": {
          "target": "elmo.admin.v20150202#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the cluster was created.</p>"
          }
        },
        "CacheClusterId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The user-supplied identifier of the cluster. \n            This identifier is a unique key that identifies a cluster.</p>"
          }
        },
        "CacheClusterStatus": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The current state of this cluster, one of the following values: \n                                                     <code>available</code>, \n                                                     <code>creating</code>, \n                                                     <code>deleted</code>, \n                                                     <code>deleting</code>,\n                                                     <code>incompatible-network</code>,\n                                                     <code>modifying</code>,\n                                                     <code>rebooting cluster nodes</code>,\n                                                     <code>restore-failed</code>, or \n                                                     <code>snapshotting</code>.</p>"
          }
        },
        "CacheNodeType": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the compute and memory capacity node type for the cluster.</p>\n        \n        <p>The following node types are supported by ElastiCache. \n\t\t\t\tGenerally speaking, the current generation types provide more memory and computational power\n\t\t\tat lower cost when compared to their equivalent previous generation counterparts.</p>\n\t\t       <ul>\n            <li>\n               <p>General purpose:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Current generation: </p>\n\t\t\t\t\t    \n    \t\t\t\t\t\t\t          <p>\n                        <b>M5 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m5.large</code>,\n    \t\t\t\t\t\t<code>cache.m5.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.12xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.24xlarge</code>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t           </p>\t\n    \t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t               <p>\n                        <b>M4 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m4.large</code>,\n    \t\t\t\t\t\t<code>cache.m4.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.10xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t             <p>\n                        <b>T2 node types:</b>\n\t\t\t\t\t                   <code>cache.t2.micro</code>, \n    \t\t\t\t\t\t<code>cache.t2.small</code>,\n    \t\t\t\t\t\t<code>cache.t2.medium</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t        </li>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n\t\t\t\t\t\t               <p>\n                        <b>T1 node types:</b>\n\t\t\t\t\t                   <code>cache.t1.micro</code>\n                     </p>\n\t\t\t\t\t     \n\t\t\t\t\t\t               <p>\n                        <b>M1 node types:</b>\n\t\t\t\t\t\t                  <code>cache.m1.small</code>, \n\t\t\t\t\t\t   <code>cache.m1.medium</code>, \n\t\t\t\t\t\t   <code>cache.m1.large</code>,\n\t\t\t\t\t\t   <code>cache.m1.xlarge</code>\n                     </p>\n\t\t\t\t\t\t   \n\t\t\t\t\t\t               <p>\n                        <b>M3 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m3.medium</code>,\n    \t\t\t\t\t\t<code>cache.m3.large</code>, \n    \t\t\t\t\t\t<code>cache.m3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m3.2xlarge</code>\n                     </p>\n\t\t\t\t\t\t   \n\t\t\t\t\t\t            </li>\n               </ul>\n            </li>\n            <li>\n               <p>Compute optimized:</p>\n\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n\t\t\t                  <p>\n                        <b>C1 node types:</b>\n\t\t\t                     <code>cache.c1.xlarge</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Memory optimized:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Current generation: </p>\n\t\t\t\t\t\n\t\t\t\t\t                <p>\n                        <b>R5 node types:</b>\n    \t\t\t\t\t               <code>cache.r5.large</code>,\n    \t\t\t\t\t   <code>cache.r5.xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.2xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.4xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.12xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.24xlarge</code>\n                     </p>\n\t\t\t\t\t\t\n    \t\t\t\t\t            <p>\n                        <b>R4 node types:</b>\n    \t\t\t\t\t               <code>cache.r4.large</code>,\n    \t\t\t\t\t   <code>cache.r4.xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.2xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.4xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.8xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.16xlarge</code>\n                     </p>\n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n\n  \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t         </li>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n                        <p>\n                        <b>M2 node types:</b>\t\t\t\t\t\t\n    \t\t\t\t\t               <code>cache.m2.xlarge</code>, \n    \t\t\t\t\t\t<code>cache.m2.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m2.4xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t           <p>\n                        <b>R3 node types:</b>\n    \t\t\t\t\t               <code>cache.r3.large</code>, \n    \t\t\t\t\t\t<code>cache.r3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.r3.2xlarge</code>,  \n    \t\t\t\t\t\t<code>cache.r3.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.r3.8xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t        </li>\n               </ul>\n            </li>\n         </ul>\n\t\t\t\t\n\t\t       <p>\n            <b>Additional node type info</b>\n         </p>\n\t\t       <ul>\n            <li>\n               <p>All current generation instance types are created in Amazon VPC by default.</p>\n            </li>\n            <li>\n               <p>Redis append-only files (AOF) are not supported for T1 or T2 instances.</p>\n            </li>\n            <li>\n               <p>Redis Multi-AZ with automatic failover is not supported on T1 instances.</p>\n            </li>\n            <li>\n               <p>Redis configuration variables <code>appendonly</code> and \n\t\t\t\t<code>appendfsync</code> are not supported on Redis version 2.8.22 and later.</p>\n            </li>\n         </ul>"
          }
        },
        "CacheNodes": {
          "target": "elmo.admin.v20150202#CacheNodeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache nodes that are members of the cluster.</p>"
          }
        },
        "CacheParameterGroup": {
          "target": "elmo.admin.v20150202#CacheParameterGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the cache parameter group.</p>"
          }
        },
        "CacheSecurityGroups": {
          "target": "elmo.admin.v20150202#CacheSecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache security group elements, composed of name and status sub-elements.</p>"
          }
        },
        "CacheSubnetGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache subnet group associated with the cluster.</p>"
          }
        },
        "ClientDownloadLandingPage": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the web page where you can download the latest ElastiCache client library.</p>"
          }
        },
        "ConfigurationEndpoint": {
          "target": "elmo.admin.v20150202#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>Represents a Memcached cluster endpoint which, if Automatic Discovery is enabled on\n            the cluster, can be used by an application to connect to any node in the cluster.\n            The configuration endpoint will always have <code>.cfg</code> in it.</p>\n        <p>Example: <code>mem-3.9dvc4r<u>.cfg</u>.usw2.cache.amazonaws.com:11211</code>\n         </p>"
          }
        },
        "Engine": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache engine (<code>memcached</code> or \n            <code>redis</code>) to be used for this cluster.</p>"
          }
        },
        "EngineVersion": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the cache engine that is used in this cluster.</p>"
          }
        },
        "NotificationConfiguration": {
          "target": "elmo.admin.v20150202#NotificationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Describes a notification topic and its status. \n            Notification topics are used for publishing ElastiCache events to subscribers using Amazon Simple Notification Service (SNS). </p>"
          }
        },
        "NumCacheNodes": {
          "target": "elmo.admin.v20150202#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of cache nodes in the cluster.</p>\n        <p>For clusters running Redis, this value must be 1. For clusters running Memcached, \n            this value must be between 1 and 20.</p>"
          }
        },
        "PendingModifiedValues": {
          "target": "elmo.admin.v20150202#PendingModifiedValues"
        },
        "PreferredAvailabilityZone": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone in which the cluster is located or \"Multiple\" \n            if the cache nodes are located in different Availability Zones.</p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the weekly time range during which maintenance\n   on the cluster is performed. It is specified as a range in\n   the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum\n   maintenance window is a 60 minute period.</p>\n         <p>Valid values for <code>ddd</code> are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>sun</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>mon</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>tue</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>wed</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>thu</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>fri</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>sat</code>\n               </p>\n            </li>\n         </ul>\n         <p>Example: <code>sun:23:00-mon:01:30</code>\n         </p>"
          }
        },
        "ReplicationGroupId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The replication group to which this cluster belongs. \n            If this field is empty, the cluster is not associated with any replication group.</p>"
          }
        },
        "SecurityGroups": {
          "target": "elmo.admin.v20150202#SecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC Security Groups associated with the cluster.</p>"
          }
        },
        "SnapshotRetentionLimit": {
          "target": "elmo.admin.v20150202#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which ElastiCache retains automatic cluster snapshots before\n            deleting them. For example, if you set <code>SnapshotRetentionLimit</code> to 5,  a\n            snapshot that was taken today is retained for 5 days before being deleted.</p>\n        <important>\n            <p>\n          If the value of SnapshotRetentionLimit is set to zero (0), backups are turned off.</p>\n         </important>"
          }
        },
        "SnapshotWindow": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The daily time range (in UTC) during which ElastiCache begins taking a \n            daily snapshot of your cluster.</p>\n        <p>Example: <code>05:00-09:00</code>\n         </p>"
          }
        },
        "TransitEncryptionEnabled": {
          "target": "elmo.admin.v20150202#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A flag that enables in-transit encryption when set to <code>true</code>.</p>\n        <p>You cannot modify the value of <code>TransitEncryptionEnabled</code>\n            after the cluster is created. To enable in-transit encryption on a cluster\n            you must set <code>TransitEncryptionEnabled</code> to <code>true</code>\n            when you create a cluster.</p>\n        <p>\n            <b>Required:</b>\n            Only available when creating a replication group in an Amazon VPC using redis version <code>3.2.6</code>, <code>4.x</code> or later.</p>\n        <p>Default: <code>false</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains all of the attributes of a specific cluster.</p>"
      }
    },
    "elmo.admin#CacheClusterAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You already have a cluster with the given identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin.v20150202#CacheClusterIdList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "elmo.admin.v20150202#CacheClusterList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#CacheCluster",
        "traits": {
          "smithy.api#xmlName": "CacheCluster"
        }
      }
    },
    "elmo.admin.v20150202#CacheClusterMessage": {
      "type": "structure",
      "members": {
        "CacheClusters": {
          "target": "elmo.admin.v20150202#CacheClusterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of clusters. Each item in the list contains detailed information about one cluster.</p>"
          }
        },
        "Marker": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeCacheClusters</code> operation.</p>"
      }
    },
    "elmo.admin#CacheClusterNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested cluster ID does not refer to an existing cluster.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "elmo.admin.v20150202#CacheEngineVersion": {
      "type": "structure",
      "members": {
        "CacheEngineDescription": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cache engine.</p>"
          }
        },
        "CacheEngineVersionDescription": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cache engine version.</p>"
          }
        },
        "CacheParameterGroupFamily": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache parameter group family associated with this cache engine.</p>\n        <p>Valid values are: \n    <code>memcached1.4</code> | \n     <code>memcached1.5</code> | \n    <code>redis2.6</code> | \n    <code>redis2.8</code> |\n    <code>redis3.2</code> |\n    <code>redis4.0</code> |\n     <code>redis5.0</code> | \n    </p>"
          }
        },
        "Engine": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache engine.</p>"
          }
        },
        "EngineVersion": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the cache engine.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides all of the details about a particular cache engine version.</p>"
      }
    },
    "elmo.admin.v20150202#CacheEngineVersionList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#CacheEngineVersion",
        "traits": {
          "smithy.api#xmlName": "CacheEngineVersion"
        }
      }
    },
    "elmo.admin.v20150202#CacheEngineVersionMessage": {
      "type": "structure",
      "members": {
        "CacheEngineVersions": {
          "target": "elmo.admin.v20150202#CacheEngineVersionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache engine version details. \n            Each element in the list contains detailed information about one cache engine version.</p>"
          }
        },
        "Marker": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DescribeCacheEngineVersions</a> operation.</p>"
      }
    },
    "elmo.admin.v20150202#CacheNode": {
      "type": "structure",
      "members": {
        "CacheNodeCreateTime": {
          "target": "elmo.admin.v20150202#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the cache node was created.</p>"
          }
        },
        "CacheNodeId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The cache node identifier. A node ID is a numeric identifier (0001, 0002, etc.). The combination of cluster ID and node ID uniquely identifies every cache node used in a customer's AWS account.</p>"
          }
        },
        "CacheNodeStatus": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The current state of this cache node.</p>"
          }
        },
        "CustomerAvailabilityZone": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone where this node was created and now resides.</p>"
          }
        },
        "Endpoint": {
          "target": "elmo.admin.v20150202#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>The hostname for connecting to this cache node.</p>"
          }
        },
        "ParameterGroupStatus": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parameter group applied to this cache node.</p>"
          }
        },
        "SourceCacheNodeId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the primary node to which this read replica node is synchronized. \n            If this field is empty, this node is not associated with a primary cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an individual cache node within a cluster. Each cache node runs its own\n            instance of the cluster's protocol-compliant caching software - either Memcached or\n            Redis.</p>\n\n        <p>The following node types are supported by ElastiCache. \n\t\t\t\tGenerally speaking, the current generation types provide more memory and computational power\n\t\t\tat lower cost when compared to their equivalent previous generation counterparts.</p>\n\t\t       <ul>\n            <li>\n               <p>General purpose:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Current generation: </p>\n\t\t\t\t\t    \n    \t\t\t\t\t\t\t          <p>\n                        <b>M5 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m5.large</code>,\n    \t\t\t\t\t\t<code>cache.m5.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.12xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.24xlarge</code>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t           </p>\t\n    \t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t               <p>\n                        <b>M4 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m4.large</code>,\n    \t\t\t\t\t\t<code>cache.m4.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.10xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t             <p>\n                        <b>T2 node types:</b>\n\t\t\t\t\t                   <code>cache.t2.micro</code>, \n    \t\t\t\t\t\t<code>cache.t2.small</code>,\n    \t\t\t\t\t\t<code>cache.t2.medium</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t        </li>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n\t\t\t\t\t\t               <p>\n                        <b>T1 node types:</b>\n\t\t\t\t\t                   <code>cache.t1.micro</code>\n                     </p>\n\t\t\t\t\t     \n\t\t\t\t\t\t               <p>\n                        <b>M1 node types:</b>\n\t\t\t\t\t\t                  <code>cache.m1.small</code>, \n\t\t\t\t\t\t   <code>cache.m1.medium</code>, \n\t\t\t\t\t\t   <code>cache.m1.large</code>,\n\t\t\t\t\t\t   <code>cache.m1.xlarge</code>\n                     </p>\n\t\t\t\t\t\t   \n\t\t\t\t\t\t               <p>\n                        <b>M3 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m3.medium</code>,\n    \t\t\t\t\t\t<code>cache.m3.large</code>, \n    \t\t\t\t\t\t<code>cache.m3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m3.2xlarge</code>\n                     </p>\n\t\t\t\t\t\t   \n\t\t\t\t\t\t            </li>\n               </ul>\n            </li>\n            <li>\n               <p>Compute optimized:</p>\n\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n\t\t\t                  <p>\n                        <b>C1 node types:</b>\n\t\t\t                     <code>cache.c1.xlarge</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Memory optimized:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Current generation: </p>\n\t\t\t\t\t\n\t\t\t\t\t                <p>\n                        <b>R5 node types:</b>\n    \t\t\t\t\t               <code>cache.r5.large</code>,\n    \t\t\t\t\t   <code>cache.r5.xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.2xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.4xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.12xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.24xlarge</code>\n                     </p>\n\t\t\t\t\t\t\n    \t\t\t\t\t            <p>\n                        <b>R4 node types:</b>\n    \t\t\t\t\t               <code>cache.r4.large</code>,\n    \t\t\t\t\t   <code>cache.r4.xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.2xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.4xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.8xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.16xlarge</code>\n                     </p>\n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n\n  \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t         </li>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n                        <p>\n                        <b>M2 node types:</b>\t\t\t\t\t\t\n    \t\t\t\t\t               <code>cache.m2.xlarge</code>, \n    \t\t\t\t\t\t<code>cache.m2.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m2.4xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t           <p>\n                        <b>R3 node types:</b>\n    \t\t\t\t\t               <code>cache.r3.large</code>, \n    \t\t\t\t\t\t<code>cache.r3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.r3.2xlarge</code>,  \n    \t\t\t\t\t\t<code>cache.r3.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.r3.8xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t        </li>\n               </ul>\n            </li>\n         </ul>\n\t\t\t\t\n\t\t       <p>\n            <b>Additional node type info</b>\n         </p>\n\t\t       <ul>\n            <li>\n               <p>All current generation instance types are created in Amazon VPC by default.</p>\n            </li>\n            <li>\n               <p>Redis append-only files (AOF) are not supported for T1 or T2 instances.</p>\n            </li>\n            <li>\n               <p>Redis Multi-AZ with automatic failover is not supported on T1 instances.</p>\n            </li>\n            <li>\n               <p>Redis configuration variables <code>appendonly</code> and \n\t\t\t\t<code>appendfsync</code> are not supported on Redis version 2.8.22 and later.</p>\n            </li>\n         </ul>"
      }
    },
    "elmo.admin.v20150202#CacheNodeIdsList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#String",
        "traits": {
          "smithy.api#xmlName": "CacheNodeId"
        }
      }
    },
    "elmo.admin.v20150202#CacheNodeList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#CacheNode",
        "traits": {
          "smithy.api#xmlName": "CacheNode"
        }
      }
    },
    "elmo.admin.v20150202#CacheNodeTypeSpecificParameter": {
      "type": "structure",
      "members": {
        "AllowedValues": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The valid range of values for the parameter.</p>"
          }
        },
        "CacheNodeTypeSpecificValues": {
          "target": "elmo.admin.v20150202#CacheNodeTypeSpecificValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache node types and their corresponding values for this parameter.</p>"
          }
        },
        "ChangeType": {
          "target": "elmo.admin.v20150202#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a change to the parameter is applied immediately\n            or requires a reboot for the change to be applied. \n            You can force a reboot or wait until the next maintenance window's reboot.\n            For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Clusters.Rebooting.html\">Rebooting a Cluster</a>.</p>"
          }
        },
        "DataType": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The valid data type for the parameter.</p>"
          }
        },
        "Description": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the parameter.</p>"
          }
        },
        "IsModifiable": {
          "target": "elmo.admin.v20150202#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether (<code>true</code>) or not (<code>false</code>) the parameter can be\n            modified. Some parameters have security or operational implications that prevent them\n            from being changed.</p>"
          }
        },
        "MinimumEngineVersion": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The earliest cache engine version to which the parameter can apply.</p>"
          }
        },
        "ParameterName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter.</p>"
          }
        },
        "Source": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The source of the parameter value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A parameter that has a different value for each cache node type it is applied to. For\n            example, in a Redis cluster, a <code>cache.m1.large</code> cache node type would have a\n            larger <code>maxmemory</code> value than a <code>cache.m1.small</code> type.</p>"
      }
    },
    "elmo.admin.v20150202#CacheNodeTypeSpecificParametersList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#CacheNodeTypeSpecificParameter",
        "traits": {
          "smithy.api#xmlName": "CacheNodeTypeSpecificParameter"
        }
      }
    },
    "elmo.admin.v20150202#CacheNodeTypeSpecificValue": {
      "type": "structure",
      "members": {
        "CacheNodeType": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The cache node type for which this value applies.</p>"
          }
        },
        "Value": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The value for the cache node type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A value that applies only to a certain cache node type.</p>"
      }
    },
    "elmo.admin.v20150202#CacheNodeTypeSpecificValueList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#CacheNodeTypeSpecificValue",
        "traits": {
          "smithy.api#xmlName": "CacheNodeTypeSpecificValue"
        }
      }
    },
    "elmo.admin.v20150202#CacheNodeUpdateStatus": {
      "type": "structure",
      "members": {
        "CacheNodeId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The node ID of the cache cluster</p>"
          }
        },
        "NodeDeletionDate": {
          "target": "elmo.admin.v20150202#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The deletion date of the node</p>"
          }
        },
        "NodeUpdateEndDate": {
          "target": "elmo.admin.v20150202#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The end date of the update for a node</p>"
          }
        },
        "NodeUpdateInitiatedBy": {
          "target": "elmo.admin.v20150202#NodeUpdateInitiatedBy",
          "traits": {
            "smithy.api#documentation": "<p>Reflects whether the update was initiated by the customer or automatically applied</p>"
          }
        },
        "NodeUpdateInitiatedDate": {
          "target": "elmo.admin.v20150202#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the update is triggered</p>"
          }
        },
        "NodeUpdateStartDate": {
          "target": "elmo.admin.v20150202#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The start date of the update for a node</p>"
          }
        },
        "NodeUpdateStatus": {
          "target": "elmo.admin.v20150202#NodeUpdateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The update status of the node</p>"
          }
        },
        "NodeUpdateStatusModifiedDate": {
          "target": "elmo.admin.v20150202#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the NodeUpdateStatus was last modified></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the service update on the cache node</p>"
      }
    },
    "elmo.admin.v20150202#CacheNodeUpdateStatusList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#CacheNodeUpdateStatus",
        "traits": {
          "smithy.api#xmlName": "CacheNodeUpdateStatus"
        }
      }
    },
    "elmo.admin.v20150202#CacheParameterGroup": {
      "type": "structure",
      "members": {
        "CacheParameterGroupFamily": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache parameter group family that this cache parameter group is compatible with.</p>\n        <p>Valid values are: \n    <code>memcached1.4</code> | \n     <code>memcached1.5</code> | \n    <code>redis2.6</code> | \n    <code>redis2.8</code> |\n    <code>redis3.2</code> |\n    <code>redis4.0</code> |\n     <code>redis5.0</code> | \n    </p>"
          }
        },
        "CacheParameterGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache parameter group.</p>"
          }
        },
        "Description": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for this cache parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>CreateCacheParameterGroup</code> operation.</p>"
      }
    },
    "elmo.admin#CacheParameterGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cache parameter group with the requested name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin.v20150202#CacheParameterGroupDetails": {
      "type": "structure",
      "members": {
        "CacheNodeTypeSpecificParameters": {
          "target": "elmo.admin.v20150202#CacheNodeTypeSpecificParametersList",
          "traits": {
            "smithy.api#documentation": "<p>A list of parameters specific to a particular cache node type. \n            Each element in the list contains detailed information about one parameter.</p>"
          }
        },
        "Marker": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "Parameters": {
          "target": "elmo.admin.v20150202#ParametersList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>Parameter</a> instances.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeCacheParameters</code> operation.</p>"
      }
    },
    "elmo.admin.v20150202#CacheParameterGroupList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#CacheParameterGroup",
        "traits": {
          "smithy.api#xmlName": "CacheParameterGroup"
        }
      }
    },
    "elmo.admin.v20150202#CacheParameterGroupNameMessage": {
      "type": "structure",
      "members": {
        "CacheParameterGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of one of the following operations:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>ModifyCacheParameterGroup</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ResetCacheParameterGroup</code>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "elmo.admin#CacheParameterGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "elmo.admin#CacheParameterGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request cannot be processed because it would exceed the maximum number of cache security groups.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin.v20150202#CacheParameterGroupStatus": {
      "type": "structure",
      "members": {
        "CacheNodeIdsToReboot": {
          "target": "elmo.admin.v20150202#CacheNodeIdsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the cache node IDs which need to be rebooted for parameter changes to be applied. \n            A node ID is a numeric identifier (0001, 0002, etc.).</p>"
          }
        },
        "CacheParameterGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache parameter group.</p>"
          }
        },
        "ParameterApplyStatus": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of parameter updates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Status of the cache parameter group.</p>"
      }
    },
    "elmo.admin.v20150202#CacheParameterGroupsMessage": {
      "type": "structure",
      "members": {
        "CacheParameterGroups": {
          "target": "elmo.admin.v20150202#CacheParameterGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache parameter groups. Each element in the list contains detailed information \n            about one cache parameter group.</p>"
          }
        },
        "Marker": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeCacheParameterGroups</code> operation.</p>"
      }
    },
    "elmo.admin.v20150202#CacheSecurityGroup": {
      "type": "structure",
      "members": {
        "CacheSecurityGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache security group.</p>"
          }
        },
        "Description": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cache security group.</p>"
          }
        },
        "EC2SecurityGroups": {
          "target": "elmo.admin.v20150202#EC2SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon EC2 security groups that are associated with this cache security group.</p>"
          }
        },
        "OwnerId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the cache security group owner.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of one of the following operations:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>AuthorizeCacheSecurityGroupIngress</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateCacheSecurityGroup</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>RevokeCacheSecurityGroupIngress</code>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "elmo.admin#CacheSecurityGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cache security group with the specified name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin.v20150202#CacheSecurityGroupMembership": {
      "type": "structure",
      "members": {
        "CacheSecurityGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache security group.</p>"
          }
        },
        "Status": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The membership status in the cache security group. The status changes when a cache security group is modified, or when the cache security groups assigned to a cluster are modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a cluster's status within a particular cache security group.</p>"
      }
    },
    "elmo.admin.v20150202#CacheSecurityGroupMembershipList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#CacheSecurityGroupMembership",
        "traits": {
          "smithy.api#xmlName": "CacheSecurityGroup"
        }
      }
    },
    "elmo.admin.v20150202#CacheSecurityGroupMessage": {
      "type": "structure",
      "members": {
        "CacheSecurityGroups": {
          "target": "elmo.admin.v20150202#CacheSecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache security groups. Each element in the list contains detailed information about one group.</p>"
          }
        },
        "Marker": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeCacheSecurityGroups</code> operation.</p>"
      }
    },
    "elmo.admin.v20150202#CacheSecurityGroupNameList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#String",
        "traits": {
          "smithy.api#xmlName": "CacheSecurityGroupName"
        }
      }
    },
    "elmo.admin#CacheSecurityGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested cache security group name does not refer to an existing cache security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "elmo.admin#CacheSecurityGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache security groups.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin.v20150202#CacheSecurityGroups": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#CacheSecurityGroup",
        "traits": {
          "smithy.api#xmlName": "CacheSecurityGroup"
        }
      }
    },
    "elmo.admin.v20150202#CacheSubnetGroup": {
      "type": "structure",
      "members": {
        "CacheSubnetGroupDescription": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cache subnet group.</p>"
          }
        },
        "CacheSubnetGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache subnet group.</p>"
          }
        },
        "Subnets": {
          "target": "elmo.admin.v20150202#SubnetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of subnets associated with the cache subnet group.</p>"
          }
        },
        "VpcId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Virtual Private Cloud identifier (VPC ID) of the cache subnet group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of one of the following operations:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>CreateCacheSubnetGroup</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ModifyCacheSubnetGroup</code>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "elmo.admin#CacheSubnetGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested cache subnet group name is already in use by an existing cache subnet group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin#CacheSubnetGroupInUse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested cache subnet group is currently in use.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin.v20150202#CacheSubnetGroupMessage": {
      "type": "structure",
      "members": {
        "CacheSubnetGroups": {
          "target": "elmo.admin.v20150202#CacheSubnetGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache subnet groups. Each element in the list contains detailed information about one group.</p>"
          }
        },
        "Marker": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeCacheSubnetGroups</code> operation.</p>"
      }
    },
    "elmo.admin#CacheSubnetGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin#CacheSubnetGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache subnet groups.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin.v20150202#CacheSubnetGroups": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#CacheSubnetGroup",
        "traits": {
          "smithy.api#xmlName": "CacheSubnetGroup"
        }
      }
    },
    "elmo.admin#CacheSubnetQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request cannot be processed because it would exceed the allowed number of subnets in a cache subnet group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin.v20150202#ChangeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "immediate": { },
          "requires-reboot": { }
        }
      }
    },
    "elmo.admin.v20150202#ClusterIdList": {
      "type": "list",
      "member": {
        "target": "elmo.admin.v20150202#String",
        "traits": {
          "smithy.api#xmlName": "ClusterId"
        }
      }
    },
    "elmo.admin#ClusterQuotaForCustomerExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "rds.admin#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request cannot be processed because it would exceed the allowed number of clusters per customer.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "elmo.admin.v20150202#CompleteMigration": {
      "type": "operation",
      "input": {
        "target": "elmo.admin.v20150202#CompleteMigrationMessage"
      },
      "output": {
        "target": "elmo.admin.v20150202#CompleteMigrationResponse"
      },
      "errors": [
        {
          "target": "elmo.admin#InvalidReplicationGroupStateFault"
        },
        {
          "target": "elmo.admin#ReplicationGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#ReplicationGroupNotUnderMigrationFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Complete the migration of data.</p>"
      }
    },
    "elmo.admin.v20150202#CompleteMigrationMessage": {
      "type": "structure",
      "members": {
        "Force": {
          "target": "elmo.admin.v20150202#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Forces the migration to stop without ensuring that data is in sync. It is recommended to use this option only to abort the migration and not recommended when application wants to continue migration to ElastiCache.</p>"
          }
        },
        "ReplicationGroupId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the replication group to which data is being migrated.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "elmo.admin.v20150202#CompleteMigrationResponse": {
      "type": "structure",
      "members": {
        "ReplicationGroup": {
          "target": "elmo.admin.v20150202#ReplicationGroup"
        }
      }
    },
    "elmo.admin.v20150202#ConfigureShard": {
      "type": "structure",
      "members": {
        "NewReplicaCount": {
          "target": "elmo.admin.v20150202#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of replicas you want  in this node group at the end of this operation. \n            The maximum value for <code>NewReplicaCount</code> is 5.\n            The minimum value depends upon the type of Redis replication group you are working with.</p>\n        <p>The minimum number of replicas in a shard or replication group is:</p>\n        <ul>\n            <li>\n                <p>Redis (cluster mode disabled)</p>\n                <ul>\n                  <li>\n                        <p>If Multi-AZ with Automatic Failover is enabled: 1</p>\n                  </li>\n                  <li>\n                        <p>If Multi-AZ with Automatic Failover is not enable: 0</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n                <p>Redis (cluster mode enabled): 0 (though you will not be able to failover to a replica if your primary node fails)</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "NodeGroupId": {
          "target": "elmo.admin.v20150202#AllowedNodeGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The 4-digit id for the node group you are configuring. For Redis (cluster mode disabled) \n            replication groups, the node group id is always 0001. To find a Redis (cluster mode enabled)'s \n            node group's (shard's) id, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/shard-find-id.html\">Finding a Shard's Id</a>.</p>",
            "smithy.api#required": true
          }
        },
        "PreferredAvailabilityZones": {
          "target": "elmo.admin.v20150202#PreferredAvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>PreferredAvailabilityZone</code> strings that specify which availability zones the \n            replication group's nodes are to be in. The nummber of <code>PreferredAvailabilityZone</code> values must \n            equal the value of <code>NewReplicaCount</code> plus 1 to account for the primary node. If this member of \n            <code>ReplicaConfiguration</code> is omitted, ElastiCache for Redis selects the availability zone for  \n            each of the replicas.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Node group (shard) configuration options when adding or removing replicas. \n            Each node group (shard) configuration has the following members: NodeGroupId, NewReplicaCount, and PreferredAvailabilityZones. </p>"
      }
    },
    "elmo.admin.v20150202#CopySnapshot": {
      "type": "operation",
      "input": {
        "target": "elmo.admin.v20150202#CopySnapshotMessage"
      },
      "output": {
        "target": "elmo.admin.v20150202#CopySnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#InvalidSnapshotStateFault"
        },
        {
          "target": "elmo.admin#SnapshotAlreadyExistsFault"
        },
        {
          "target": "elmo.admin#SnapshotNotFoundFault"
        },
        {
          "target": "elmo.admin#SnapshotQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Makes a copy of an existing snapshot.</p>\n\n        <note>\n            <p>This operation is valid for Redis only.</p>\n         </note>\n\n        <important>\n            <p>Users or groups that have permissions to use the <code>CopySnapshot</code> operation  \n                can create their own Amazon S3 buckets and copy snapshots to it. \n                To control access to your snapshots, use an IAM policy to control who has the ability to use \n                the <code>CopySnapshot</code> operation. \n                For more information about using IAM to control the use of ElastiCache operations, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html\">Exporting Snapshots</a> \n                and <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/IAM.html\">Authentication & Access Control</a>.</p>\n         </important>\n        \n        <p>You could receive the following error messages.</p>\n        <p class=\"title\">\n            <b>Error Messages</b>\n         </p>\n         <ul>\n            <li>\n                <p>\n                  <b>Error Message:</b>\n                    The S3 bucket %s is outside of the region.</p>\n                <p>\n                  <b>Solution:</b>\n                    Create an Amazon S3 bucket in the same region as your snapshot. \n                    For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message:</b>\n                    The S3 bucket %s does not exist.</p>\n                <p>\n                  <b>Solution:</b>\n                    Create an Amazon S3 bucket in the same region as your snapshot.\n                    For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message:</b>\n                    The S3 bucket %s is not owned by the authenticated user.</p>\n                <p>\n                  <b>Solution:</b>\n                    Create an Amazon S3 bucket in the same region as your snapshot.\n                    For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message:</b>\n                    The authenticated user does not have sufficient permissions to perform the desired activity.</p>\n                <p>\n                  <b>Solution:</b>\n                    Contact your system administrator to get the needed permissions.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message:</b>\n                    The S3 bucket %s already contains an object with key %s.</p>\n                <p>\n                  <b>Solution:</b>\n                    Give the <code>TargetSnapshotName</code> a new and unique value.\n                    If exporting a snapshot, \n                    you could alternatively create a new Amazon S3 bucket \n                    and use this same value for <code>TargetSnapshotName</code>.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message: </b>\n                    ElastiCache has not been granted READ permissions %s on the S3 Bucket.</p>\n                <p>\n                  <b>Solution:</b>\n                    Add List and Read permissions on the bucket.\n                For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message: </b>\n                    ElastiCache has not been granted WRITE permissions %s on the S3 Bucket.</p>\n                <p>\n                  <b>Solution:</b>\n                    Add Upload/Delete permissions on the bucket.\n                    For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message: </b>\n                    ElastiCache has not been granted READ_ACP permissions %s on the S3 Bucket.</p>\n                <p>\n                  <b>Solution:</b>\n                    Add View Permissions on the bucket.\n                For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p>\n            </li>\n         </ul>"
      }
    },
    "elmo.admin.v20150202#CopySnapshotMessage": {
      "type": "structure",
      "members": {
        "KmsKeyId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key used to encrypt the target snapshot.</p>"
          }
        },
        "SourceSnapshotName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing snapshot from which to make a copy.</p>",
            "smithy.api#required": true
          }
        },
        "TargetBucket": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket to which the snapshot is exported.\n            This parameter is used only when exporting a snapshot for external access.</p>\n        <p>When using this parameter to export a snapshot, \n            be sure Amazon ElastiCache has the needed permissions to this S3 bucket. \n            For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the <i>Amazon ElastiCache User Guide</i>.</p>\n        \n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Snapshots.Exporting.html\">Exporting a Snapshot</a> in the <i>Amazon ElastiCache User Guide</i>.</p>"
          }
        },
        "TargetSnapshotName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>A name for the snapshot copy.\n            ElastiCache does not permit overwriting a snapshot, therefore\n            this name must be unique within its context - ElastiCache or an Amazon S3 bucket if exporting.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>CopySnapshotMessage</code> operation.</p>"
      }
    },
    "elmo.admin.v20150202#CopySnapshotResult": {
      "type": "structure",
      "members": {
        "Snapshot": {
          "target": "elmo.admin.v20150202#Snapshot"
        }
      }
    },
    "elmo.admin.v20150202#CreateCacheCluster": {
      "type": "operation",
      "input": {
        "target": "elmo.admin.v20150202#CreateCacheClusterMessage"
      },
      "output": {
        "target": "elmo.admin.v20150202#CreateCacheClusterResult"
      },
      "errors": [
        {
          "target": "com.amazon.coral.service#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazon.coral.service#InvalidParameterValueException"
        },
        {
          "target": "elmo.admin#CacheClusterAlreadyExistsFault"
        },
        {
          "target": "elmo.admin#CacheParameterGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#CacheSecurityGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#CacheSubnetGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#ClusterQuotaForCustomerExceededFault"
        },
        {
          "target": "elmo.admin#InsufficientCacheClusterCapacityFault"
        },
        {
          "target": "elmo.admin#InvalidReplicationGroupStateFault"
        },
        {
          "target": "elmo.admin#InvalidVPCNetworkStateFault"
        },
        {
          "target": "elmo.admin#NodeQuotaForClusterExceededFault"
        },
        {
          "target": "elmo.admin#NodeQuotaForCustomerExceededFault"
        },
        {
          "target": "elmo.admin#ReplicationGroupNotFoundFault"
        },
        {
          "target": "elmo.admin#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a cluster. All nodes in the\n            cluster run the same protocol-compliant cache engine software, either Memcached\n            or Redis.</p>\n        <p>This operation is not supported for Redis (cluster mode enabled) clusters.</p>"
      }
    },
    "elmo.admin.v20150202#CreateCacheClusterMessage": {
      "type": "structure",
      "members": {
        "AZMode": {
          "target": "elmo.admin.v20150202#AZMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the nodes in this Memcached cluster are created in a single Availability Zone or \n            created across multiple Availability Zones in the cluster's region.</p>\n        <p>This parameter is only supported for Memcached clusters.</p>\n        <p>If the <code>AZMode</code> and <code>PreferredAvailabilityZones</code> are not specified, \n            ElastiCache assumes <code>single-az</code> mode.</p>"
          }
        },
        "AuthToken": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>Reserved parameter.</b>  \n            The password used to access a password protected server.</p>\n        <p>Password constraints:</p>\n        <ul>\n            <li>\n               <p>Must be only printable ASCII characters.</p>\n            </li>\n            <li>\n               <p>Must be at least 16 characters and no more than 128\n                characters in length.</p>\n            </li>\n            <li>\n               <p>The only permitted printable special characters are !, &, #, $, ^, <, >, and -. Other printable special characters cannot be used in the AUTH token.</p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"http://redis.io/commands/AUTH\">AUTH password</a> at http://redis.io/commands/AUTH.</p>"
          }
        },
        "AutoMinorVersionUpgrade": {
          "target": "elmo.admin.v20150202#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is currently disabled.</p>"
          }
        },
        "CacheClusterId": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The node group (shard) identifier. This parameter is stored as a lowercase string.</p>        \n         <p>\n            <b>Constraints:</b>\n         </p>\n         <ul>\n            <li>\n               <p>A name must contain from 1 to 50 alphanumeric characters or hyphens.</p>\n            </li>\n            <li>\n               <p>The first character must be a letter.</p>\n            </li>\n            <li>\n               <p>A name cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "CacheNodeType": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The compute and memory capacity of the nodes in the node group (shard).</p>\n        <p>The following node types are supported by ElastiCache. \n\t\t\t\tGenerally speaking, the current generation types provide more memory and computational power\n\t\t\tat lower cost when compared to their equivalent previous generation counterparts.</p>\n\t\t       <ul>\n            <li>\n               <p>General purpose:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Current generation: </p>\n\t\t\t\t\t    \n    \t\t\t\t\t\t\t          <p>\n                        <b>M5 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m5.large</code>,\n    \t\t\t\t\t\t<code>cache.m5.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.12xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.24xlarge</code>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t           </p>\t\n    \t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t               <p>\n                        <b>M4 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m4.large</code>,\n    \t\t\t\t\t\t<code>cache.m4.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.10xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t             <p>\n                        <b>T2 node types:</b>\n\t\t\t\t\t                   <code>cache.t2.micro</code>, \n    \t\t\t\t\t\t<code>cache.t2.small</code>,\n    \t\t\t\t\t\t<code>cache.t2.medium</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t        </li>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n\t\t\t\t\t\t               <p>\n                        <b>T1 node types:</b>\n\t\t\t\t\t                   <code>cache.t1.micro</code>\n                     </p>\n\t\t\t\t\t     \n\t\t\t\t\t\t               <p>\n                        <b>M1 node types:</b>\n\t\t\t\t\t\t                  <code>cache.m1.small</code>, \n\t\t\t\t\t\t   <code>cache.m1.medium</code>, \n\t\t\t\t\t\t   <code>cache.m1.large</code>,\n\t\t\t\t\t\t   <code>cache.m1.xlarge</code>\n                     </p>\n\t\t\t\t\t\t   \n\t\t\t\t\t\t               <p>\n                        <b>M3 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m3.medium</code>,\n    \t\t\t\t\t\t<code>cache.m3.large</code>, \n    \t\t\t\t\t\t<code>cache.m3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m3.2xlarge</code>\n                     </p>\n\t\t\t\t\t\t   \n\t\t\t\t\t\t            </li>\n               </ul>\n            </li>\n            <li>\n               <p>Compute optimized:</p>\n\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n\t\t\t                  <p>\n                        <b>C1 node types:</b>\n\t\t\t                     <code>cache.c1.xlarge</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Memory optimized:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Current generation: </p>\n\t\t\t\t\t\n\t\t\t\t\t                <p>\n                        <b>R5 node types:</b>\n    \t\t\t\t\t               <code>cache.r5.large</code>,\n    \t\t\t\t\t   <code>cache.r5.xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.2xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.4xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.12xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.24xlarge</code>\n                     </p>\n\t\t\t\t\t\t\n    \t\t\t\t\t            <p>\n                        <b>R4 node types:</b>\n    \t\t\t\t\t               <code>cache.r4.large</code>,\n    \t\t\t\t\t   <code>cache.r4.xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.2xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.4xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.8xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.16xlarge</code>\n                     </p>\n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n\n  \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t         </li>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n                        <p>\n                        <b>M2 node types:</b>\t\t\t\t\t\t\n    \t\t\t\t\t               <code>cache.m2.xlarge</code>, \n    \t\t\t\t\t\t<code>cache.m2.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m2.4xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t           <p>\n                        <b>R3 node types:</b>\n    \t\t\t\t\t               <code>cache.r3.large</code>, \n    \t\t\t\t\t\t<code>cache.r3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.r3.2xlarge</code>,  \n    \t\t\t\t\t\t<code>cache.r3.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.r3.8xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t        </li>\n               </ul>\n            </li>\n         </ul>\n\t\t\t\t\n\t\t       <p>\n            <b>Additional node type info</b>\n         </p>\n\t\t       <ul>\n            <li>\n               <p>All current generation instance types are created in Amazon VPC by default.</p>\n            </li>\n            <li>\n               <p>Redis append-only files (AOF) are not supported for T1 or T2 instances.</p>\n            </li>\n            <li>\n               <p>Redis Multi-AZ with automatic failover is not supported on T1 instances.</p>\n            </li>\n            <li>\n               <p>Redis configuration variables <code>appendonly</code> and \n\t\t\t\t<code>appendfsync</code> are not supported on Redis version 2.8.22 and later.</p>\n            </li>\n         </ul>"
          }
        },
        "CacheParameterGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter group to associate with this cluster. \n            If this argument is omitted, the default parameter group for the specified engine is used.\n            You cannot use any parameter group which has <code>cluster-enabled='yes'</code> when creating a cluster.</p>"
          }
        },
        "CacheSecurityGroupNames": {
          "target": "elmo.admin.v20150202#CacheSecurityGroupNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of security group names to associate with this cluster.</p>\n        <p>Use this parameter only when you are creating a cluster outside of an Amazon Virtual Private Cloud (Amazon VPC).</p>"
          }
        },
        "CacheSubnetGroupName": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group to be used for the cluster.</p>\n        <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p>\n        <important>\n            <p>If you're going to launch your cluster in an Amazon VPC, \n                you need to create a subnet group before you start creating a cluster. \n                For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/SubnetGroups.html\">Subnets and Subnet Groups</a>.</p>\n         </important>"
          }
        },
        "Engine": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache engine to be used for this cluster.</p>\n        <p>Valid values for this parameter are: <code>memcached</code> | <code>redis</code>\n         </p>"
          }
        },
        "EngineVersion": {
          "target": "elmo.admin.v20150202#String",
          "traits": {
[...]
