{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.elasticsearchservice#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Elasticsearch domain.  See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows the destination domain owner to accept an inbound cross-cluster search connection request.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/2015-01-01/es/ccs/inboundConnection/{CrossClusterSearchConnectionId}/accept",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnectionRequest": {
      "type": "structure",
      "members": {
        "CrossClusterSearchConnectionId": {
          "target": "com.amazonaws.elasticsearchservice#CrossClusterSearchConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the inbound connection that you want to accept.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>AcceptInboundCrossClusterSearchConnection</a></code> operation.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnectionResponse": {
      "type": "structure",
      "members": {
        "CrossClusterSearchConnection": {
          "target": "com.amazonaws.elasticsearchservice#InboundCrossClusterSearchConnection",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code><a>InboundCrossClusterSearchConnection</a></code> of accepted inbound connection. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>AcceptInboundCrossClusterSearchConnection</a></code> operation. Contains details of accepted inbound connection.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticsearchservice#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred because user does not have permissions to access the resource. Returns HTTP status code 403.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.elasticsearchservice#AccessPoliciesStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.elasticsearchservice#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The access policy configured for the Elasticsearch domain.  Access policies may be resource-based, IP-based, or IAM-based.  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\">\n           Configuring Access Policies</a>for more information.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticsearchservice#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#AddTagsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags.  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\">\n          Tagging Amazon Elasticsearch Service Domains for more information.</a></p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#AddTagsRequest": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.elasticsearchservice#ARN",
          "traits": {
            "smithy.api#documentation": "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
            "smithy.api#required": {}
          }
        },
        "TagList": {
          "target": "com.amazonaws.elasticsearchservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdditionalLimit": {
      "type": "structure",
      "members": {
        "LimitName": {
          "target": "com.amazonaws.elasticsearchservice#LimitName",
          "traits": {
            "smithy.api#documentation": "<p>\n      Name of Additional Limit is specific to a given InstanceType and for each of it's\n      <code>\n        <a>InstanceRole</a>\n      </code>\n      etc.\n      <br></br>\n      Attributes and their details:\n      <br></br>\n      <ul>\n        <li>MaximumNumberOfDataNodesSupported</li>\n        This attribute will be present in Master node only to specify how\n        much data nodes upto which given\n        <code>\n          <a>ESPartitionInstanceType</a>\n        </code>\n        can support as master node.\n        <li>MaximumNumberOfDataNodesWithoutMasterNode</li>\n        This attribute will be present in Data node only to specify how much\n        data nodes of given\n        <code>\n          <a>ESPartitionInstanceType</a>\n        </code>\n        upto which you don't need any master nodes to govern them.\n      </ul>\n    </p>"
          }
        },
        "LimitValues": {
          "target": "com.amazonaws.elasticsearchservice#LimitValueList",
          "traits": {
            "smithy.api#documentation": "<p>\n    Value for given\n    <code>\n      <a>AdditionalLimit$LimitName</a>\n    </code>\n    .\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      List of limits that are specific to a given InstanceType and for each of it's\n      <code>\n        <a>InstanceRole</a>\n      </code>\n      .\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdditionalLimitList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticsearchservice#AdditionalLimit"
      }
    },
    "com.amazonaws.elasticsearchservice#AdvancedOptions": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.elasticsearchservice#String"
      },
      "value": {
        "target": "com.amazonaws.elasticsearchservice#String"
      },
      "traits": {
        "smithy.api#documentation": "<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>.  Currently, the following advanced options are available:</p>\n       <ul>\n           <li>Option to allow references to indices in an HTTP request body.  Must be <code>false</code> when configuring access to individual sub-resources.  By default, the value is <code>true</code>.\n               See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li>\n           <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li>\n       </ul>\n       <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdvancedOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.elasticsearchservice#AdvancedOptions",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticsearchservice#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Status of the advanced options for the specified Elasticsearch domain. Currently, the following advanced options are available:</p>\n       <ul>\n           <li>Option to allow references to indices in an HTTP request body.  Must be <code>false</code> when configuring access to individual sub-resources.  By default, the value is <code>true</code>.\n               See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li>\n           <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li>\n       </ul>\n       <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdvancedSecurityOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if advanced security is enabled.</p>"
          }
        },
        "InternalUserDatabaseEnabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the internal user database is enabled.</p>"
          }
        },
        "SAMLOptions": {
          "target": "com.amazonaws.elasticsearchservice#SAMLOptionsOutput",
          "traits": {
            "smithy.api#documentation": "<p>Describes the SAML application configured for a domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdvancedSecurityOptionsInput": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if advanced security is enabled.</p>"
          }
        },
        "InternalUserDatabaseEnabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the internal user database is enabled.</p>"
          }
        },
        "MasterUserOptions": {
          "target": "com.amazonaws.elasticsearchservice#MasterUserOptions",
          "traits": {
            "smithy.api#documentation": "<p>Credentials for the master user: username and password, ARN, or both.</p>"
          }
        },
        "SAMLOptions": {
          "target": "com.amazonaws.elasticsearchservice#SAMLOptionsInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the SAML application configuration for the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled, master username and password (if internal database is enabled), and master user ARN (if IAM is enabled).</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdvancedSecurityOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.elasticsearchservice#AdvancedSecurityOptions",
          "traits": {
            "smithy.api#documentation": "<p> Specifies advanced security options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticsearchservice#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Status of the advanced security options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Specifies the status of advanced security options for the specified Elasticsearch domain.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AmazonElasticsearchService2015": {
      "type": "service",
      "version": "2015-01-01",
      "operations": [
        {
          "target": "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnection"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#AddTags"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#AssociatePackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#CancelElasticsearchServiceSoftwareUpdate"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#CreateElasticsearchDomain"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#CreateOutboundCrossClusterSearchConnection"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#CreatePackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeleteElasticsearchDomain"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeleteElasticsearchServiceRole"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeleteInboundCrossClusterSearchConnection"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeleteOutboundCrossClusterSearchConnection"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeletePackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeDomainAutoTunes"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomain"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainConfig"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomains"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchInstanceTypeLimits"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeInboundCrossClusterSearchConnections"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeOutboundCrossClusterSearchConnections"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribePackages"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeReservedElasticsearchInstanceOfferings"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeReservedElasticsearchInstances"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DissociatePackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#GetCompatibleElasticsearchVersions"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#GetPackageVersionHistory"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#GetUpgradeHistory"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#GetUpgradeStatus"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListDomainNames"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListDomainsForPackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListElasticsearchInstanceTypes"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListElasticsearchVersions"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListPackagesForDomain"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListTags"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#PurchaseReservedElasticsearchInstanceOffering"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#RejectInboundCrossClusterSearchConnection"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#RemoveTags"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#StartElasticsearchServiceSoftwareUpdate"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#UpdateElasticsearchDomainConfig"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#UpdatePackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#UpgradeElasticsearchDomain"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Elasticsearch Service",
          "arnNamespace": "es",
          "cloudFormationName": "Elasticsearch",
          "cloudTrailEventSource": "elasticsearchservice.amazonaws.com",
          "endpointPrefix": "es"
        },
        "aws.auth#sigv4": {
          "name": "es"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Elasticsearch Configuration Service</fullname>\n      <p>Use the Amazon Elasticsearch Configuration API to create, configure, and manage Elasticsearch domains.</p>\n      <p>For sample code that uses the Configuration API, see the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-configuration-samples.html\">Amazon Elasticsearch Service Developer Guide</a>.\n      The guide also contains <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-request-signing.html\">sample code for sending signed HTTP requests to the Elasticsearch APIs</a>.</p>\n      <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com.\n         For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints,\n         see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
        "smithy.api#title": "Amazon Elasticsearch Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://es.amazonaws.com/doc/2015-01-01/"
        }
      }
    },
    "com.amazonaws.elasticsearchservice#AssociatePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#AssociatePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#AssociatePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ConflictException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a package with an Amazon ES domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/packages/associate/{PackageID}/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#AssociatePackageRequest": {
      "type": "structure",
      "members": {
        "PackageID": {
          "target": "com.amazonaws.elasticsearchservice#PackageID",
          "traits": {
            "smithy.api#documentation": "<p>Internal ID of the package that you want to associate with a domain. Use <code>DescribePackages</code> to find this value.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.elasticsearchservice#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the domain that you want to associate the package with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for request parameters to\n      <code>\n        <a>AssociatePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AssociatePackageResponse": {
      "type": "structure",
      "members": {
        "DomainPackageDetails": {
          "target": "com.amazonaws.elasticsearchservice#DomainPackageDetails",
          "traits": {
            "smithy.api#documentation": "<p><code>DomainPackageDetails</code></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for response returned by\n      <code>\n        <a>AssociatePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTune": {
      "type": "structure",
      "members": {
        "AutoTuneType": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies Auto-Tune type. Valid value is SCHEDULED_ACTION. </p>"
          }
        },
        "AutoTuneDetails": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies details of the Auto-Tune action. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies Auto-Tune type and Auto-Tune action details. </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneDate": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "<p>Specifies timestamp for the Auto-Tune action scheduled for the domain. </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneDesiredState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Specifies the Auto-Tune desired state. Valid values are ENABLED, DISABLED.</p>",
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneDetails": {
      "type": "structure",
      "members": {
        "ScheduledAutoTuneDetails": {
          "target": "com.amazonaws.elasticsearchservice#ScheduledAutoTuneDetails"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies details of the Auto-Tune action. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information. </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticsearchservice#AutoTune"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneMaintenanceSchedule": {
      "type": "structure",
      "members": {
        "StartAt": {
          "target": "com.amazonaws.elasticsearchservice#StartAt",
          "traits": {
            "smithy.api#documentation": "<p>Specifies timestamp at which Auto-Tune maintenance schedule start. </p>"
          }
        },
        "Duration": {
          "target": "com.amazonaws.elasticsearchservice#Duration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies maintenance schedule duration: duration value and duration unit. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
          }
        },
        "CronExpressionForRecurrence": {
          "target": "com.amazonaws.elasticsearchservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies cron expression for a recurring maintenance schedule. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies Auto-Tune maitenance schedule. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneMaintenanceScheduleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticsearchservice#AutoTuneMaintenanceSchedule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneOptions": {
      "type": "structure",
      "members": {
        "DesiredState": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneDesiredState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Auto-Tune desired state. Valid values are ENABLED, DISABLED. </p>"
          }
        },
        "RollbackOnDisable": {
          "target": "com.amazonaws.elasticsearchservice#RollbackOnDisable",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the rollback state while disabling Auto-Tune for the domain. Valid values are NO_ROLLBACK, DEFAULT_ROLLBACK. </p>"
          }
        },
        "MaintenanceSchedules": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneMaintenanceScheduleList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies list of maitenance schedules. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the Auto-Tune options: the Auto-Tune desired state for the domain, rollback state when disabling Auto-Tune options and list of maintenance schedules.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneOptionsInput": {
      "type": "structure",
      "members": {
        "DesiredState": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneDesiredState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Auto-Tune desired state. Valid values are ENABLED, DISABLED. </p>"
          }
        },
        "MaintenanceSchedules": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneMaintenanceScheduleList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies list of maitenance schedules. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the Auto-Tune options: the Auto-Tune desired state for the domain and list of maintenance schedules.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneOptionsOutput": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>AutoTuneState</code> for the Elasticsearch domain.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.elasticsearchservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the error message while enabling or disabling the Auto-Tune.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the Auto-Tune options: the Auto-Tune desired state for the domain and list of maintenance schedules.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneOptions",
          "traits": {
            "smithy.api#documentation": "<p> Specifies Auto-Tune options for the specified Elasticsearch domain.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneStatus",
          "traits": {
            "smithy.api#documentation": "<p> Specifies Status of the Auto-Tune options for the specified Elasticsearch domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Specifies the status of Auto-Tune options for the specified Elasticsearch domain.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Specifies the Auto-Tune state for the Elasticsearch domain. For valid states see the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a>.</p>",
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLE_IN_PROGRESS",
            "name": "ENABLE_IN_PROGRESS"
          },
          {
            "value": "DISABLE_IN_PROGRESS",
            "name": "DISABLE_IN_PROGRESS"
          },
          {
            "value": "DISABLED_AND_ROLLBACK_SCHEDULED",
            "name": "DISABLED_AND_ROLLBACK_SCHEDULED"
          },
          {
            "value": "DISABLED_AND_ROLLBACK_IN_PROGRESS",
            "name": "DISABLED_AND_ROLLBACK_IN_PROGRESS"
          },
          {
            "value": "DISABLED_AND_ROLLBACK_COMPLETE",
            "name": "DISABLED_AND_ROLLBACK_COMPLETE"
          },
          {
            "value": "DISABLED_AND_ROLLBACK_ERROR",
            "name": "DISABLED_AND_ROLLBACK_ERROR"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          }
        ]
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneStatus": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.elasticsearchservice#UpdateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp which tells Auto-Tune options creation date .</p>",
            "smithy.api#required": {}
          }
        },
        "UpdateDate": {
          "target": "com.amazonaws.elasticsearchservice#UpdateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp which tells Auto-Tune options last updated time.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdateVersion": {
          "target": "com.amazonaws.elasticsearchservice#UIntValue",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Auto-Tune options latest version.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>AutoTuneState</code> for the Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.elasticsearchservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the error message while enabling or disabling the Auto-Tune options.</p>"
          }
        },
        "PendingDeletion": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the Elasticsearch domain is being deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the current status of the Auto-Tune options. </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AutoTuneType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Specifies Auto-Tune type. Valid value is SCHEDULED_ACTION. </p>",
        "smithy.api#enum": [
          {
            "value": "SCHEDULED_ACTION",
            "name": "SCHEDULED_ACTION"
          }
        ]
      }
    },
    "com.amazonaws.elasticsearchservice#BackendRole": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.elasticsearchservice#BaseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticsearchservice#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred while processing the request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.elasticsearchservice#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.elasticsearchservice#CancelElasticsearchServiceSoftwareUpdate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#CancelElasticsearchServiceSoftwareUpdateRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#CancelElasticsearchServiceSoftwareUpdateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a scheduled service software update for an Amazon ES domain. You can only perform this operation before the <code>AutomatedUpdateDate</code> and when the <code>UpdateStatus</code> is in the <code>PENDING_UPDATE</code> state.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/es/serviceSoftwareUpdate/cancel",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#CancelElasticsearchServiceSoftwareUpdateRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.elasticsearchservice#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to stop the latest service software update on.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>CancelElasticsearchServiceSoftwareUpdate</a></code> operation. Specifies the name of the Elasticsearch domain that you wish to cancel a service software update on.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#CancelElasticsearchServiceSoftwareUpdateResponse": {
      "type": "structure",
      "members": {
        "ServiceSoftwareOptions": {
          "target": "com.amazonaws.elasticsearchservice#ServiceSoftwareOptions",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Elasticsearch service software update.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>CancelElasticsearchServiceSoftwareUpdate</code> operation. Contains the status of the update.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#CloudWatchLogsLogGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>ARN of the Cloudwatch log group to which log needs to be published.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#CognitoOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the option to enable Cognito for Kibana authentication.</p>"
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.elasticsearchservice#UserPoolId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Cognito user pool ID for Kibana authentication.</p>"
          }
        },
        "IdentityPoolId": {
          "target": "com.amazonaws.elasticsearchservice#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Cognito identity pool ID for Kibana authentication.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.elasticsearchservice#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#CognitoOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.elasticsearchservice#CognitoOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Cognito options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticsearchservice#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of the Cognito options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Status of the Cognito options for the specified Elasticsearch domain.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#ColdStorageOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enable cold storage option. Accepted values true or false</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the configuration for cold storage options such as enabled</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#CommitMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 160
        }
      }
    },
    "com.amazonaws.elasticsearchservice#CompatibleElasticsearchVersionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticsearchservice#CompatibleVersionsMap"
      }
    },
    "com.amazonaws.elasticsearchservice#CompatibleVersionsMap": {
      "type": "structure",
      "members": {
        "SourceVersion": {
          "target": "com.amazonaws.elasticsearchservice#ElasticsearchVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The current version of Elasticsearch on which a domain is.</p>"
          }
        },
        "TargetVersions": {
          "target": "com.amazonaws.elasticsearchservice#ElasticsearchVersionList"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A map from an\n      <code>\n        <a>ElasticsearchVersion</a>\n      </code>\n      to a list of compatible\n      <code>\n        <a>ElasticsearchVersion</a>\n      </code>\n      s to which the domain can be upgraded.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticsearchservice#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred because the client attempts to remove a resource that is currently in use. Returns HTTP status code 409.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.elasticsearchservice#ConnectionAlias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.elasticsearchservice#CreateElasticsearchDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#CreateElasticsearchDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#CreateElasticsearchDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Elasticsearch domain. For more information,\n          see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/es/domain",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#CreateElasticsearchDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.elasticsearchservice#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a lowercase letter and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>",
            "smithy.api#required": {}
          }
        },
        "ElasticsearchVersion": {
          "target": "com.amazonaws.elasticsearchservice#ElasticsearchVersionString",
          "traits": {
            "smithy.api#documentation": "<p>String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information,\n          see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>"
          }
        },
        "ElasticsearchClusterConfig": {
          "target": "com.amazonaws.elasticsearchservice#ElasticsearchClusterConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. </p>"
          }
        },
        "EBSOptions": {
          "target": "com.amazonaws.elasticsearchservice#EBSOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to enable, disable and specify the type and size of EBS storage volumes. </p>"
          }
        },
        "AccessPolicies": {
          "target": "com.amazonaws.elasticsearchservice#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p> IAM access policy as a JSON-formatted string.</p>"
          }
        },
        "SnapshotOptions": {
          "target": "com.amazonaws.elasticsearchservice#SnapshotOptions",
          "traits": {
            "smithy.api#documentation": "<p>Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours. </p>"
          }
        },
        "VPCOptions": {
          "target": "com.amazonaws.elasticsearchservice#VPCOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc\" target=\"_blank\">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i></p>"
          }
        },
        "CognitoOptions": {
          "target": "com.amazonaws.elasticsearchservice#CognitoOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>"
          }
        },
        "EncryptionAtRestOptions": {
          "target": "com.amazonaws.elasticsearchservice#EncryptionAtRestOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Encryption At Rest Options.</p>"
          }
        },
        "NodeToNodeEncryptionOptions": {
          "target": "com.amazonaws.elasticsearchservice#NodeToNodeEncryptionOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the NodeToNodeEncryptionOptions.</p>"
          }
        },
        "AdvancedOptions": {
          "target": "com.amazonaws.elasticsearchservice#AdvancedOptions",
          "traits": {
            "smithy.api#documentation": "<p> Option to allow references to indices in an HTTP request body.  Must be <code>false</code> when configuring access to individual sub-resources.  By default, the value is <code>true</code>.\n          See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</p>"
          }
        },
        "LogPublishingOptions": {
          "target": "com.amazonaws.elasticsearchservice#LogPublishingOptions",
          "traits": {
            "smithy.api#documentation": "<p>Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.</p>"
          }
        },
        "DomainEndpointOptions": {
          "target": "com.amazonaws.elasticsearchservice#DomainEndpointOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to specify configuration that will be applied to the domain endpoint.</p>"
          }
        },
        "AdvancedSecurityOptions": {
          "target": "com.amazonaws.elasticsearchservice#AdvancedSecurityOptionsInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies advanced security options.</p>"
          }
        },
        "AutoTuneOptions": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneOptionsInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies Auto-Tune options.</p>"
          }
        },
        "TagList": {
          "target": "com.amazonaws.elasticsearchservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Tag</code> added during domain creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticsearchservice#CreateElasticsearchDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.amazonaws.elasticsearchservice#ElasticsearchDomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the newly created Elasticsearch domain. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#CreateOutboundCrossClusterSearchConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#CreateOutboundCrossClusterSearchConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#CreateOutboundCrossClusterSearchConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new cross-cluster search connection from a source domain to a destination domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/es/ccs/outboundConnection",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#CreateOutboundCrossClusterSearchConnectionRequest": {
      "type": "structure",
      "members": {
        "SourceDomainInfo": {
          "target": "com.amazonaws.elasticsearchservice#DomainInformation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code><a>DomainInformation</a></code> for the source Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationDomainInfo": {
          "target": "com.amazonaws.elasticsearchservice#DomainInformation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code><a>DomainInformation</a></code> for the destination Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionAlias": {
          "target": "com.amazonaws.elasticsearchservice#ConnectionAlias",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the connection alias that will be used by the customer for this connection.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>CreateOutboundCrossClusterSearchConnection</a></code> operation.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#CreateOutboundCrossClusterSearchConnectionResponse": {
      "type": "structure",
      "members": {
        "SourceDomainInfo": {
          "target": "com.amazonaws.elasticsearchservice#DomainInformation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code><a>DomainInformation</a></code> for the source Elasticsearch domain.</p>"
          }
        },
        "DestinationDomainInfo": {
          "target": "com.amazonaws.elasticsearchservice#DomainInformation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code><a>DomainInformation</a></code> for the destination Elasticsearch domain.</p>"
          }
        },
        "ConnectionAlias": {
          "target": "com.amazonaws.elasticsearchservice#ConnectionAlias",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the connection alias provided during the create connection request.</p>"
          }
        },
        "ConnectionStatus": {
          "target": "com.amazonaws.elasticsearchservice#OutboundCrossClusterSearchConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code><a>OutboundCrossClusterSearchConnectionStatus</a></code> for the newly created connection.</p>"
          }
        },
        "CrossClusterSearchConnectionId": {
          "target": "com.amazonaws.elasticsearchservice#CrossClusterSearchConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>Unique id for the created outbound connection, which is used for subsequent operations on connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>CreateOutboundCrossClusterSearchConnection</a></code> request. Contains the details of the newly created cross-cluster search connection.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#CreatePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#CreatePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#CreatePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a package for use with Amazon ES domains.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/packages",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#CreatePackageRequest": {
      "type": "structure",
      "members": {
        "PackageName": {
          "target": "com.amazonaws.elasticsearchservice#PackageName",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the package.</p>",
            "smithy.api#required": {}
          }
        },
        "PackageType": {
          "target": "com.amazonaws.elasticsearchservice#PackageType",
          "traits": {
            "smithy.api#documentation": "<p>Type of package. Currently supports only TXT-DICTIONARY.</p>",
            "smithy.api#required": {}
          }
        },
        "PackageDescription": {
          "target": "com.amazonaws.elasticsearchservice#PackageDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description of the package.</p>"
          }
        },
        "PackageSource": {
          "target": "com.amazonaws.elasticsearchservice#PackageSource",
          "traits": {
            "smithy.api#documentation": "<p>The customer S3 location <code>PackageSource</code> for importing the package.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for request parameters to\n      <code>\n        <a>CreatePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#CreatePackageResponse": {
      "type": "structure",
      "members": {
        "PackageDetails": {
          "target": "com.amazonaws.elasticsearchservice#PackageDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the package <code>PackageDetails</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for response returned by\n      <code>\n        <a>CreatePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#CreatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.elasticsearchservice#CrossClusterSearchConnectionId": {
      "type": "string"
    },
    "com.amazonaws.elasticsearchservice#CrossClusterSearchConnectionStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.elasticsearchservice#DeleteElasticsearchDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DeleteElasticsearchDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DeleteElasticsearchDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-01-01/es/domain/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DeleteElasticsearchDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.elasticsearchservice#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Elasticsearch domain that you want to permanently delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DeleteElasticsearchDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.amazonaws.elasticsearchservice#ElasticsearchDomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Elasticsearch domain being deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DeleteElasticsearchServiceRole": {
      "type": "operation",
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the service-linked role that Elasticsearch Service uses to manage and maintain VPC domains. Role deletion will fail if any existing VPC domains use the role. You must delete any such Elasticsearch domains before deleting the role. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-enabling-slr\" target=\"_blank\">Deleting Elasticsearch Service Role</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-01-01/es/role",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DeleteInboundCrossClusterSearchConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DeleteInboundCrossClusterSearchConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DeleteInboundCrossClusterSearchConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows the destination domain owner to delete an existing inbound cross-cluster search connection.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-01-01/es/ccs/inboundConnection/{CrossClusterSearchConnectionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DeleteInboundCrossClusterSearchConnectionRequest": {
      "type": "structure",
      "members": {
        "CrossClusterSearchConnectionId": {
          "target": "com.amazonaws.elasticsearchservice#CrossClusterSearchConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the inbound connection that you want to permanently delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DeleteInboundCrossClusterSearchConnection</a></code> operation.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DeleteInboundCrossClusterSearchConnectionResponse": {
      "type": "structure",
      "members": {
        "CrossClusterSearchConnection": {
          "target": "com.amazonaws.elasticsearchservice#InboundCrossClusterSearchConnection",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code><a>InboundCrossClusterSearchConnection</a></code> of deleted inbound connection. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>DeleteInboundCrossClusterSearchConnection</a></code> operation. Contains details of deleted inbound connection.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DeleteOutboundCrossClusterSearchConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DeleteOutboundCrossClusterSearchConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DeleteOutboundCrossClusterSearchConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows the source domain owner to delete an existing outbound cross-cluster search connection.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-01-01/es/ccs/outboundConnection/{CrossClusterSearchConnectionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DeleteOutboundCrossClusterSearchConnectionRequest": {
      "type": "structure",
      "members": {
        "CrossClusterSearchConnectionId": {
          "target": "com.amazonaws.elasticsearchservice#CrossClusterSearchConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the outbound connection that you want to permanently delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DeleteOutboundCrossClusterSearchConnection</a></code> operation.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DeleteOutboundCrossClusterSearchConnectionResponse": {
      "type": "structure",
      "members": {
        "CrossClusterSearchConnection": {
          "target": "com.amazonaws.elasticsearchservice#OutboundCrossClusterSearchConnection",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code><a>OutboundCrossClusterSearchConnection</a></code> of deleted outbound connection. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>DeleteOutboundCrossClusterSearchConnection</a></code> operation. Contains details of deleted outbound connection.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DeletePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DeletePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DeletePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ConflictException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete the package.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-01-01/packages/{PackageID}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DeletePackageRequest": {
      "type": "structure",
      "members": {
        "PackageID": {
          "target": "com.amazonaws.elasticsearchservice#PackageID",
          "traits": {
            "smithy.api#documentation": "<p>Internal ID of the package that you want to delete. Use <code>DescribePackages</code> to find this value.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for request parameters to\n      <code>\n        <a>DeletePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DeletePackageResponse": {
      "type": "structure",
      "members": {
        "PackageDetails": {
          "target": "com.amazonaws.elasticsearchservice#PackageDetails",
          "traits": {
            "smithy.api#documentation": "<p><code>PackageDetails</code></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for response parameters to\n      <code>\n        <a>DeletePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DeploymentCloseDateTimeStamp": {
      "type": "timestamp"
    },
    "com.amazonaws.elasticsearchservice#DeploymentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING_UPDATE",
            "name": "PENDING_UPDATE"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "NOT_ELIGIBLE",
            "name": "NOT_ELIGIBLE"
          },
          {
            "value": "ELIGIBLE",
            "name": "ELIGIBLE"
          }
        ]
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeDomainAutoTunes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DescribeDomainAutoTunesRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DescribeDomainAutoTunesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides scheduled Auto-Tune action details for the Elasticsearch domain, such as Auto-Tune action type, description, severity, and scheduled date.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/domain/{DomainName}/autoTunes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeDomainAutoTunesRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.elasticsearchservice#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the domain name for which you want Auto-Tune action details.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.elasticsearchservice#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticsearchservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>NextToken is sent in case the earlier API call results contain the NextToken. It is used for pagination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code>DescribeDomainAutoTunes</code> operation.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeDomainAutoTunesResponse": {
      "type": "structure",
      "members": {
        "AutoTunes": {
          "target": "com.amazonaws.elasticsearchservice#AutoTuneList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the list of setting adjustments that Auto-Tune has made to the domain. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticsearchservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an identifier to allow retrieval of paginated results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of <code>DescribeDomainAutoTunes</code> request. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information. </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/domain/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/domain/{DomainName}/config",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainConfigRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.elasticsearchservice#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch domain that you want to get information about.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainConfigResponse": {
      "type": "structure",
      "members": {
        "DomainConfig": {
          "target": "com.amazonaws.elasticsearchservice#ElasticsearchDomainConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information of the domain requested in the <code>DescribeElasticsearchDomainConfig</code> request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.elasticsearchservice#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Elasticsearch domain for which you want information.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.amazonaws.elasticsearchservice#ElasticsearchDomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomains": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainsRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/es/domain-info",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainsRequest": {
      "type": "structure",
      "members": {
        "DomainNames": {
          "target": "com.amazonaws.elasticsearchservice#DomainNameList",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch domains for which you want information.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainsResponse": {
      "type": "structure",
      "members": {
        "DomainStatusList": {
          "target": "com.amazonaws.elasticsearchservice#ElasticsearchDomainStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status of the domains requested in the <code>DescribeElasticsearchDomains</code> request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchInstanceTypeLimits": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchInstanceTypeLimitsRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchInstanceTypeLimitsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n    Describe Elasticsearch Limits for a given InstanceType and ElasticsearchVersion.\n    When modifying existing Domain, specify the\n    <code>\n      <a>DomainName</a>\n    </code>\n    to know what Limits are supported for modifying.\n  </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2015-01-01/es/instanceTypeLimits/{ElasticsearchVersion}/{InstanceType}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchInstanceTypeLimitsRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.elasticsearchservice#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n      DomainName represents the name of the Domain that we are trying to\n      modify. This should be present only if we are\n      querying for Elasticsearch\n      <code>\n        <a>Limits</a>\n      </code>\n      for existing domain.\n    </p>",
            "smithy.api#httpQuery": "domainName"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.elasticsearchservice#ESPartitionInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The instance type for an Elasticsearch cluster for which Elasticsearch\n      <code>\n        <a>Limits</a>\n      </code>\n      are needed.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ElasticsearchVersion": {
          "target": "com.amazonaws.elasticsearchservice#ElasticsearchVersionString",
          "traits": {
            "smithy.api#documentation": "<p>\n      Version of Elasticsearch for which\n      <code>\n        <a>Limits</a>\n      </code>\n      are needed.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the parameters to\n      <code>\n        <a>DescribeElasticsearchInstanceTypeLimits</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeElasticsearchInstanceTypeLimitsResponse": {
      "type": "structure",
      "members": {
        "LimitsByRole": {
          "target": "com.amazonaws.elasticsearchservice#LimitsByRole"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the parameters received from\n      <code>\n        <a>DescribeElasticsearchInstanceTypeLimits</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeInboundCrossClusterSearchConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DescribeInboundCrossClusterSearchConnectionsRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DescribeInboundCrossClusterSearchConnectionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InvalidPaginationTokenException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the inbound cross-cluster search connections for a destination domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/es/ccs/inboundConnection/search",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeInboundCrossClusterSearchConnectionsRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.elasticsearchservice#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of filters used to match properties for inbound cross-cluster search connection.\n      Available <code><a>Filter</a></code> names for this operation are:\n      <ul>\n        <li>cross-cluster-search-connection-id</li>\n        <li>source-domain-info.domain-name</li>\n        <li>source-domain-info.owner-id</li>\n        <li>source-domain-info.region</li>\n        <li>destination-domain-info.domain-name</li>\n      </ul>\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.elasticsearchservice#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticsearchservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> NextToken is sent in case the earlier API call results contain the NextToken. It is used for pagination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeInboundCrossClusterSearchConnections</a></code> operation.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeInboundCrossClusterSearchConnectionsResponse": {
      "type": "structure",
      "members": {
        "CrossClusterSearchConnections": {
          "target": "com.amazonaws.elasticsearchservice#InboundCrossClusterSearchConnections",
          "traits": {
            "smithy.api#documentation": "<p>Consists of list of <code><a>InboundCrossClusterSearchConnection</a></code> matching the specified filter criteria.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticsearchservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more results are available and NextToken is present, make the next request to the same API with the received NextToken to paginate the remaining results.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>DescribeInboundCrossClusterSearchConnections</a></code> request. Contains the list of connections matching the filter criteria.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeOutboundCrossClusterSearchConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DescribeOutboundCrossClusterSearchConnectionsRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DescribeOutboundCrossClusterSearchConnectionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InvalidPaginationTokenException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the outbound cross-cluster search connections for a source domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/es/ccs/outboundConnection/search",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeOutboundCrossClusterSearchConnectionsRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.elasticsearchservice#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of filters used to match properties for outbound cross-cluster search connection.\n      Available <code><a>Filter</a></code> names for this operation are:\n      <ul>\n        <li>cross-cluster-search-connection-id</li>\n        <li>destination-domain-info.domain-name</li>\n        <li>destination-domain-info.owner-id</li>\n        <li>destination-domain-info.region</li>\n        <li>source-domain-info.domain-name</li>\n      </ul>\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.elasticsearchservice#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticsearchservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> NextToken is sent in case the earlier API call results contain the NextToken. It is used for pagination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeOutboundCrossClusterSearchConnections</a></code> operation.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeOutboundCrossClusterSearchConnectionsResponse": {
      "type": "structure",
      "members": {
        "CrossClusterSearchConnections": {
          "target": "com.amazonaws.elasticsearchservice#OutboundCrossClusterSearchConnections",
          "traits": {
            "smithy.api#documentation": "<p>Consists of list of <code><a>OutboundCrossClusterSearchConnection</a></code> matching the specified filter criteria.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticsearchservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more results are available and NextToken is present, make the next request to the same API with the received NextToken to paginate the remaining results.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>DescribeOutboundCrossClusterSearchConnections</a></code> request. Contains the list of connections matching the filter criteria.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribePackages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#DescribePackagesRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#DescribePackagesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes all packages available to Amazon ES. Includes options for filtering, limiting the number of results, and pagination.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/packages/describe",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.elasticsearchservice#DescribePackagesFilter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.elasticsearchservice#DescribePackagesFilterName",
          "traits": {
            "smithy.api#documentation": "<p>Any field from <code>PackageDetails</code>.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.elasticsearchservice#DescribePackagesFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of values for the specified field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filter to apply in <code>DescribePackage</code> response.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribePackagesFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticsearchservice#DescribePackagesFilter"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of <code>DescribePackagesFilter</code> to filter the packages included in a <code>DescribePackages</code> response.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribePackagesFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PackageID",
            "name": "PackageID"
          },
          {
            "value": "PackageName",
            "name": "PackageName"
          },
          {
            "value": "PackageStatus",
            "name": "PackageStatus"
          }
        ]
      }
    },
    "com.amazonaws.elasticsearchservice#DescribePackagesFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-zA-Z\\*\\.\\\\/\\?-]*$"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribePackagesFilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticsearchservice#DescribePackagesFilterValue"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribePackagesRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.elasticsearchservice#DescribePackagesFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Only returns packages that match the <code>DescribePackagesFilterList</code> values.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.elasticsearchservice#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Limits results to a maximum number of packages.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticsearchservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Used for pagination. Only necessary if a previous API call includes a non-null NextToken value. If provided, returns results for the next page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for request parameters to\n      <code>\n        <a>DescribePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribePackagesResponse": {
      "type": "structure",
      "members": {
        "PackageDetailsList": {
          "target": "com.amazonaws.elasticsearchservice#PackageDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>List of <code>PackageDetails</code> objects.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticsearchservice#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for response returned by\n      <code>\n        <a>DescribePackages</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#DescribeReservedElasticsearchInstanceOfferings": {
      "type": "operation",
      "input": {
[...]
