{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.elasticsearchservice#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Elasticsearch domain.  See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AWSAccount": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows the destination domain owner to accept an inbound cross-cluster search connection request.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/2015-01-01/es/ccs/inboundConnection/{CrossClusterSearchConnectionId}/accept",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnectionRequest": {
      "type": "structure",
      "members": {
        "CrossClusterSearchConnectionId": {
          "target": "com.amazonaws.elasticsearchservice#CrossClusterSearchConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the inbound connection that you want to accept.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>AcceptInboundCrossClusterSearchConnection</a></code> operation.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnectionResponse": {
      "type": "structure",
      "members": {
        "CrossClusterSearchConnection": {
          "target": "com.amazonaws.elasticsearchservice#InboundCrossClusterSearchConnection",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code><a>InboundCrossClusterSearchConnection</a></code> of accepted inbound connection. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>AcceptInboundCrossClusterSearchConnection</a></code> operation. Contains details of accepted inbound connection.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticsearchservice#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred because user does not have permissions to access the resource. Returns HTTP status code 403.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.elasticsearchservice#AccessPoliciesStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.elasticsearchservice#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The access policy configured for the Elasticsearch domain.  Access policies may be resource-based, IP-based, or IAM-based.  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\">\n           Configuring Access Policies</a>for more information.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticsearchservice#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#AddTagsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags.  See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\">\n          Tagging Amazon Elasticsearch Service Domains for more information.</a></p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#AddTagsRequest": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.elasticsearchservice#ARN",
          "traits": {
            "smithy.api#documentation": "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
            "smithy.api#required": {}
          }
        },
        "TagList": {
          "target": "com.amazonaws.elasticsearchservice#TagList",
          "traits": {
            "smithy.api#documentation": "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdditionalLimit": {
      "type": "structure",
      "members": {
        "LimitName": {
          "target": "com.amazonaws.elasticsearchservice#LimitName",
          "traits": {
            "smithy.api#documentation": "<p>\n      Name of Additional Limit is specific to a given InstanceType and for each of it's\n      <code>\n        <a>InstanceRole</a>\n      </code>\n      etc.\n      <br></br>\n      Attributes and their details:\n      <br></br>\n      <ul>\n        <li>MaximumNumberOfDataNodesSupported</li>\n        This attribute will be present in Master node only to specify how\n        much data nodes upto which given\n        <code>\n          <a>ESPartitionInstanceType</a>\n        </code>\n        can support as master node.\n        <li>MaximumNumberOfDataNodesWithoutMasterNode</li>\n        This attribute will be present in Data node only to specify how much\n        data nodes of given\n        <code>\n          <a>ESPartitionInstanceType</a>\n        </code>\n        upto which you don't need any master nodes to govern them.\n      </ul>\n    </p>"
          }
        },
        "LimitValues": {
          "target": "com.amazonaws.elasticsearchservice#LimitValueList",
          "traits": {
            "smithy.api#documentation": "<p>\n    Value for given\n    <code>\n      <a>AdditionalLimit$LimitName</a>\n    </code>\n    .\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      List of limits that are specific to a given InstanceType and for each of it's\n      <code>\n        <a>InstanceRole</a>\n      </code>\n      .\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdditionalLimitList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticsearchservice#AdditionalLimit"
      }
    },
    "com.amazonaws.elasticsearchservice#AdvancedOptions": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.elasticsearchservice#String"
      },
      "value": {
        "target": "com.amazonaws.elasticsearchservice#String"
      },
      "traits": {
        "smithy.api#documentation": "<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>.  Currently, the following advanced options are available:</p>\n       <ul>\n           <li>Option to allow references to indices in an HTTP request body.  Must be <code>false</code> when configuring access to individual sub-resources.  By default, the value is <code>true</code>.\n               See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li>\n           <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li>\n       </ul>\n       <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdvancedOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.elasticsearchservice#AdvancedOptions",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticsearchservice#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Status of the advanced options for the specified Elasticsearch domain. Currently, the following advanced options are available:</p>\n       <ul>\n           <li>Option to allow references to indices in an HTTP request body.  Must be <code>false</code> when configuring access to individual sub-resources.  By default, the value is <code>true</code>.\n               See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li>\n           <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li>\n       </ul>\n       <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdvancedSecurityOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if advanced security is enabled.</p>"
          }
        },
        "InternalUserDatabaseEnabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the internal user database is enabled.</p>"
          }
        },
        "SAMLOptions": {
          "target": "com.amazonaws.elasticsearchservice#SAMLOptionsOutput",
          "traits": {
            "smithy.api#documentation": "<p>Describes the SAML application configured for a domain.</p>"
          }
        },
        "AnonymousAuthDisableDate": {
          "target": "com.amazonaws.elasticsearchservice#DisableTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Anonymous Auth Disable Date when Anonymous Auth is enabled.</p>"
          }
        },
        "AnonymousAuthEnabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if Anonymous auth is enabled. Anonymous auth can be enabled only when AdvancedSecurity is enabled on existing domains.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdvancedSecurityOptionsInput": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if advanced security is enabled.</p>"
          }
        },
        "InternalUserDatabaseEnabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the internal user database is enabled.</p>"
          }
        },
        "MasterUserOptions": {
          "target": "com.amazonaws.elasticsearchservice#MasterUserOptions",
          "traits": {
            "smithy.api#documentation": "<p>Credentials for the master user: username and password, ARN, or both.</p>"
          }
        },
        "SAMLOptions": {
          "target": "com.amazonaws.elasticsearchservice#SAMLOptionsInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the SAML application configuration for the domain.</p>"
          }
        },
        "AnonymousAuthEnabled": {
          "target": "com.amazonaws.elasticsearchservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if Anonymous auth is enabled. Anonymous auth can be enabled only when AdvancedSecurity is enabled on existing domains.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled, master username and password (if internal database is enabled), and master user ARN (if IAM is enabled).</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AdvancedSecurityOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.elasticsearchservice#AdvancedSecurityOptions",
          "traits": {
            "smithy.api#documentation": "<p> Specifies advanced security options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticsearchservice#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Status of the advanced security options for the specified Elasticsearch domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Specifies the status of advanced security options for the specified Elasticsearch domain.</p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AmazonElasticsearchService2015": {
      "type": "service",
      "version": "2015-01-01",
      "operations": [
        {
          "target": "com.amazonaws.elasticsearchservice#AcceptInboundCrossClusterSearchConnection"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#AddTags"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#AssociatePackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#AuthorizeVpcEndpointAccess"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#CancelElasticsearchServiceSoftwareUpdate"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#CreateElasticsearchDomain"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#CreateOutboundCrossClusterSearchConnection"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#CreatePackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#CreateVpcEndpoint"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeleteElasticsearchDomain"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeleteElasticsearchServiceRole"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeleteInboundCrossClusterSearchConnection"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeleteOutboundCrossClusterSearchConnection"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeletePackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DeleteVpcEndpoint"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeDomainAutoTunes"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeDomainChangeProgress"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomain"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomainConfig"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchDomains"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeElasticsearchInstanceTypeLimits"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeInboundCrossClusterSearchConnections"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeOutboundCrossClusterSearchConnections"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribePackages"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeReservedElasticsearchInstanceOfferings"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeReservedElasticsearchInstances"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DescribeVpcEndpoints"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DissociatePackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#GetCompatibleElasticsearchVersions"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#GetPackageVersionHistory"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#GetUpgradeHistory"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#GetUpgradeStatus"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListDomainNames"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListDomainsForPackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListElasticsearchInstanceTypes"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListElasticsearchVersions"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListPackagesForDomain"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListTags"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListVpcEndpointAccess"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListVpcEndpoints"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ListVpcEndpointsForDomain"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#PurchaseReservedElasticsearchInstanceOffering"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#RejectInboundCrossClusterSearchConnection"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#RemoveTags"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#RevokeVpcEndpointAccess"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#StartElasticsearchServiceSoftwareUpdate"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#UpdateElasticsearchDomainConfig"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#UpdatePackage"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#UpdateVpcEndpoint"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#UpgradeElasticsearchDomain"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Elasticsearch Service",
          "arnNamespace": "es",
          "cloudFormationName": "Elasticsearch",
          "cloudTrailEventSource": "elasticsearchservice.amazonaws.com",
          "endpointPrefix": "es"
        },
        "aws.auth#sigv4": {
          "name": "es"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Elasticsearch Configuration Service</fullname>\n      <p>Use the Amazon Elasticsearch Configuration API to create, configure, and manage Elasticsearch domains.</p>\n      <p>For sample code that uses the Configuration API, see the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-configuration-samples.html\">Amazon Elasticsearch Service Developer Guide</a>.\n      The guide also contains <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-request-signing.html\">sample code for sending signed HTTP requests to the Elasticsearch APIs</a>.</p>\n      <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com.\n         For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints,\n         see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
        "smithy.api#title": "Amazon Elasticsearch Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://es.amazonaws.com/doc/2015-01-01/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://es-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://es-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://es.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://es.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-south-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-central-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-central-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-southeast-4.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-4",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.ap-southeast-4.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-4",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-4.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-4",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-4.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-4",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-isob-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-isob-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-isob-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-isob-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.elasticsearchservice#AssociatePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#AssociatePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#AssociatePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ConflictException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a package with an Amazon ES domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-01-01/packages/associate/{PackageID}/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticsearchservice#AssociatePackageRequest": {
      "type": "structure",
      "members": {
        "PackageID": {
          "target": "com.amazonaws.elasticsearchservice#PackageID",
          "traits": {
            "smithy.api#documentation": "<p>Internal ID of the package that you want to associate with a domain. Use <code>DescribePackages</code> to find this value.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.elasticsearchservice#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the domain that you want to associate the package with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for request parameters to\n      <code>\n        <a>AssociatePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AssociatePackageResponse": {
      "type": "structure",
      "members": {
        "DomainPackageDetails": {
          "target": "com.amazonaws.elasticsearchservice#DomainPackageDetails",
          "traits": {
            "smithy.api#documentation": "<p><code>DomainPackageDetails</code></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for response returned by\n      <code>\n        <a>AssociatePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.elasticsearchservice#AuthorizeVpcEndpointAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticsearchservice#AuthorizeVpcEndpointAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticsearchservice#AuthorizeVpcEndpointAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticsearchservice#BaseException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#InternalException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticsearchservice#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides access to an Amazon OpenSearch Service domain through the use of an interface VPC endpoint.</p>",
        "smithy.api#http": {
          "method": "POST",
[...]
