{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.elasticbeanstalk#ARN": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#AWSElasticBeanstalkService": {
      "type": "service",
      "version": "2010-12-01",
      "operations": [
        {
          "target": "com.amazonaws.elasticbeanstalk#AbortEnvironmentUpdate"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedAction"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#AssociateEnvironmentOperationsRole"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CheckDNSAvailability"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ComposeEnvironments"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreateApplication"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreateApplicationVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreateConfigurationTemplate"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreateEnvironment"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreatePlatformVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreateStorageLocation"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DeleteApplication"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DeleteApplicationVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DeleteConfigurationTemplate"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DeleteEnvironmentConfiguration"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DeletePlatformVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeAccountAttributes"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeApplications"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeApplicationVersions"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeConfigurationOptions"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeConfigurationSettings"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEnvironmentHealth"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEnvironmentManagedActionHistory"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEnvironmentManagedActions"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEnvironmentResources"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEnvironments"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEvents"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeInstancesHealth"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribePlatformVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DisassociateEnvironmentOperationsRole"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ListAvailableSolutionStacks"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ListPlatformBranches"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ListPlatformVersions"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#RebuildEnvironment"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#RequestEnvironmentInfo"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#RestartAppServer"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#RetrieveEnvironmentInfo"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#SwapEnvironmentCNAMEs"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TerminateEnvironment"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateApplication"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateApplicationResourceLifecycle"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateApplicationVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateConfigurationTemplate"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateEnvironment"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateTagsForResource"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ValidateConfigurationSettings"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Elastic Beanstalk",
          "arnNamespace": "elasticbeanstalk",
          "cloudFormationName": "ElasticBeanstalk",
          "cloudTrailEventSource": "elasticbeanstalk.amazonaws.com",
          "endpointPrefix": "elasticbeanstalk"
        },
        "aws.auth#sigv4": {
          "name": "elasticbeanstalk"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>AWS Elastic Beanstalk</fullname>\n         <p>AWS Elastic Beanstalk makes it easy for you to create, deploy, and manage scalable,\n      fault-tolerant applications running on the Amazon Web Services cloud.</p>\n         <p>For more information about this product, go to the <a href=\"http://aws.amazon.com/elasticbeanstalk/\">AWS Elastic Beanstalk</a> details page. The location of the\n      latest AWS Elastic Beanstalk WSDL is <a href=\"https://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl\">https://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl</a>.\n      To install the Software Development Kits (SDKs), Integrated Development Environment (IDE)\n      Toolkits, and command line tools that enable you to access the API, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p>\n         <p>\n            <b>Endpoints</b>\n         </p>\n         <p>For a list of region-specific endpoints that AWS Elastic Beanstalk supports, go to\n        <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\">Regions and Endpoints</a> in the <i>Amazon Web Services\n      Glossary</i>.</p>",
        "smithy.api#title": "AWS Elastic Beanstalk",
        "smithy.api#xmlNamespace": {
          "uri": "http://elasticbeanstalk.amazonaws.com/docs/2010-12-01/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://elasticbeanstalk-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://elasticbeanstalk.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://elasticbeanstalk-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://elasticbeanstalk.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "us-gov-east-1"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://elasticbeanstalk.us-gov-east-1.amazonaws.com",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "us-gov-west-1"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://elasticbeanstalk.us-gov-west-1.amazonaws.com",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://elasticbeanstalk.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elasticbeanstalk.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#AbortEnvironmentUpdate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#AbortEnvironmentUpdateMessage"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels in-progress environment configuration update or application version\n      deployment.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#AbortEnvironmentUpdateMessage": {
      "type": "structure",
      "members": {
        "EnvironmentId": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>This specifies the ID of the environment with the in-progress update that you want to\n      cancel.</p>"
          }
        },
        "EnvironmentName": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>This specifies the name of the environment with the in-progress update that you want to\n      cancel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#AbortableOperationInProgress": {
      "type": "boolean"
    },
    "com.amazonaws.elasticbeanstalk#ActionHistoryStatus": {
      "type": "enum",
      "members": {
        "Completed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "Failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "Unknown": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ActionStatus": {
      "type": "enum",
      "members": {
        "Scheduled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scheduled"
          }
        },
        "Pending": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pending"
          }
        },
        "Running": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "Unknown": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ActionType": {
      "type": "enum",
      "members": {
        "InstanceRefresh": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstanceRefresh"
          }
        },
        "PlatformUpdate": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PlatformUpdate"
          }
        },
        "Unknown": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unknown"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationArn": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ApplicationDescription": {
      "type": "structure",
      "members": {
        "ApplicationArn": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>"
          }
        },
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>User-defined description of the application.</p>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.elasticbeanstalk#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>The date when the application was created.</p>"
          }
        },
        "DateUpdated": {
          "target": "com.amazonaws.elasticbeanstalk#UpdateDate",
          "traits": {
            "smithy.api#documentation": "<p>The date when the application was last modified.</p>"
          }
        },
        "Versions": {
          "target": "com.amazonaws.elasticbeanstalk#VersionLabelsList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the versions for this application.</p>"
          }
        },
        "ConfigurationTemplates": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationTemplateNamesList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the configuration templates associated with this application.</p>"
          }
        },
        "ResourceLifecycleConfig": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationResourceLifecycleConfig",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle settings for the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of an application.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationDescription"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationDescriptionMessage": {
      "type": "structure",
      "members": {
        "Application": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationDescription",
          "traits": {
            "smithy.api#documentation": "<p> The <a>ApplicationDescription</a> of the application. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Result message containing a single description of an application.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationDescriptionsMessage": {
      "type": "structure",
      "members": {
        "Applications": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>This parameter contains a list of <a>ApplicationDescription</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Result message containing a list of application descriptions.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationMetrics": {
      "type": "structure",
      "members": {
        "Duration": {
          "target": "com.amazonaws.elasticbeanstalk#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that the metrics cover (usually 10 seconds). For example, you might\n      have 5 requests (<code>request_count</code>) within the most recent time slice of 10 seconds\n        (<code>duration</code>).</p>"
          }
        },
        "RequestCount": {
          "target": "com.amazonaws.elasticbeanstalk#RequestCount",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Average number of requests handled by the web server per second over the last 10\n      seconds.</p>"
          }
        },
        "StatusCodes": {
          "target": "com.amazonaws.elasticbeanstalk#StatusCodes",
          "traits": {
            "smithy.api#documentation": "<p>Represents the percentage of requests over the last 10 seconds that resulted in each\n      type of status code response.</p>"
          }
        },
        "Latency": {
          "target": "com.amazonaws.elasticbeanstalk#Latency",
          "traits": {
            "smithy.api#documentation": "<p>Represents the average latency for the slowest X percent of requests over the last 10\n      seconds. Latencies are in seconds with one millisecond resolution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Application request metrics for an AWS Elastic Beanstalk environment.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationName"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationResourceLifecycleConfig": {
      "type": "structure",
      "members": {
        "ServiceRole": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an IAM service role that Elastic Beanstalk has permission to\n      assume.</p>\n         <p>The <code>ServiceRole</code> property is required the first time that you provide a\n        <code>VersionLifecycleConfig</code> for the application in one of the supporting calls\n        (<code>CreateApplication</code> or <code>UpdateApplicationResourceLifecycle</code>). After\n      you provide it once, in either one of the calls, Elastic Beanstalk persists the Service Role with the\n      application, and you don't need to specify it again in subsequent\n        <code>UpdateApplicationResourceLifecycle</code> calls. You can, however, specify it in\n      subsequent calls to change the Service Role to another value.</p>"
          }
        },
        "VersionLifecycleConfig": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionLifecycleConfig",
          "traits": {
            "smithy.api#documentation": "<p>Defines lifecycle settings for application versions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource lifecycle configuration for an application. Defines lifecycle settings for\n      resources that belong to the application, and the service role that AWS Elastic Beanstalk assumes\n      in order to apply lifecycle settings. The version lifecycle configuration defines lifecycle\n      settings for application versions.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationResourceLifecycleDescriptionMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>"
          }
        },
        "ResourceLifecycleConfig": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationResourceLifecycleConfig",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionArn": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionDescription": {
      "type": "structure",
      "members": {
        "ApplicationVersionArn": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application version.</p>"
          }
        },
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to which the application version belongs.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application version.</p>"
          }
        },
        "VersionLabel": {
          "target": "com.amazonaws.elasticbeanstalk#VersionLabel",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the application version.</p>"
          }
        },
        "SourceBuildInformation": {
          "target": "com.amazonaws.elasticbeanstalk#SourceBuildInformation",
          "traits": {
            "smithy.api#documentation": "<p>If the version's source code was retrieved from AWS CodeCommit, the location of the\n      source code for the application version.</p>"
          }
        },
        "BuildArn": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>Reference to the artifact from the AWS CodeBuild build.</p>"
          }
        },
        "SourceBundle": {
          "target": "com.amazonaws.elasticbeanstalk#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The storage location of the application version's source bundle in Amazon S3.</p>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.elasticbeanstalk#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>The creation date of the application version.</p>"
          }
        },
        "DateUpdated": {
          "target": "com.amazonaws.elasticbeanstalk#UpdateDate",
          "traits": {
            "smithy.api#documentation": "<p>The last modified date of the application version.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The processing status of the application version. Reflects the state of the application\n      version during its creation. Many of the values are only applicable if you specified\n        <code>True</code> for the <code>Process</code> parameter of the\n        <code>CreateApplicationVersion</code> action. The following list describes the possible\n      values.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Unprocessed</code> – Application version wasn't pre-processed or validated.\n          Elastic Beanstalk will validate configuration files during deployment of the application version to an\n        environment.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Processing</code> – Elastic Beanstalk is currently processing the application version.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Building</code> – Application version is currently undergoing an AWS CodeBuild build.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Processed</code> – Elastic Beanstalk was successfully pre-processed and validated.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code> – Either the AWS CodeBuild build failed or configuration files didn't\n          pass validation. This application version isn't usable.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of an application version.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionDescription"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionMessage": {
      "type": "structure",
      "members": {
        "ApplicationVersion": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionDescription",
          "traits": {
            "smithy.api#documentation": "<p> The <a>ApplicationVersionDescription</a> of the application version.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Result message wrapping a single description of an application version.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionsMessage": {
      "type": "structure",
      "members": {
        "ApplicationVersions": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>List of <code>ApplicationVersionDescription</code> objects sorted in order of\n      creation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticbeanstalk#Token",
          "traits": {
            "smithy.api#documentation": "<p>In a paginated request, the token that you can pass in a subsequent request to get the\n      next response page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Result message wrapping a list of application version descriptions.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionLifecycleConfig": {
      "type": "structure",
      "members": {
        "MaxCountRule": {
          "target": "com.amazonaws.elasticbeanstalk#MaxCountRule",
          "traits": {
            "smithy.api#documentation": "<p>Specify a max count rule to restrict the number of application versions that are\n      retained for an application.</p>"
          }
        },
        "MaxAgeRule": {
          "target": "com.amazonaws.elasticbeanstalk#MaxAgeRule",
          "traits": {
            "smithy.api#documentation": "<p>Specify a max age rule to restrict the length of time that application versions are\n      retained for an application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The application version lifecycle settings for an application. Defines the rules that\n      Elastic Beanstalk applies to an application's versions in order to avoid hitting the\n      per-region limit for application versions.</p>\n         <p>When Elastic Beanstalk deletes an application version from its database, you can no\n      longer deploy that version to an environment. The source bundle remains in S3 unless you\n      configure the rule to delete it.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionProccess": {
      "type": "boolean"
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionStatus": {
      "type": "enum",
      "members": {
        "Processed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Processed"
          }
        },
        "Unprocessed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unprocessed"
          }
        },
        "Failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "Processing": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Processing"
          }
        },
        "Building": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Building"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedActionRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedActionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#ElasticBeanstalkServiceException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ManagedActionInvalidStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Applies a scheduled managed action immediately. A managed action can be applied only if\n      its status is <code>Scheduled</code>. Get the status and action ID of a managed action with\n        <a>DescribeEnvironmentManagedActions</a>.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedActionRequest": {
      "type": "structure",
      "members": {
        "EnvironmentName": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target environment.</p>"
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID of the target environment.</p>"
          }
        },
        "ActionId": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The action ID of the scheduled managed action to execute.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to execute a scheduled managed action immediately.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedActionResult": {
      "type": "structure",
      "members": {
        "ActionId": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The action ID of the managed action.</p>"
          }
        },
        "ActionDescription": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the managed action.</p>"
          }
        },
        "ActionType": {
          "target": "com.amazonaws.elasticbeanstalk#ActionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of managed action.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the managed action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result message containing information about the managed action.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#AssociateEnvironmentOperationsRole": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#AssociateEnvironmentOperationsRoleMessage"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Add or change the operations role used by an environment. After this call is made, Elastic Beanstalk\n      uses the associated operations role for permissions to downstream services during subsequent\n      calls acting on this environment. For more information, see <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/iam-operationsrole.html\">Operations roles</a> in the\n        <i>AWS Elastic Beanstalk Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#AssociateEnvironmentOperationsRoleMessage": {
      "type": "structure",
      "members": {
        "EnvironmentName": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment to which to set the operations role.</p>",
            "smithy.api#required": {}
          }
        },
        "OperationsRole": {
          "target": "com.amazonaws.elasticbeanstalk#OperationsRole",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an existing IAM role to be used as the environment's\n      operations role.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to add or change the operations role used by an environment.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#AutoCreateApplication": {
      "type": "boolean"
    },
    "com.amazonaws.elasticbeanstalk#AutoScalingGroup": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.elasticbeanstalk#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AutoScalingGroup</code> . </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Auto Scaling launch configuration.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#AutoScalingGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#AutoScalingGroup"
      }
    },
    "com.amazonaws.elasticbeanstalk#AvailableSolutionStackDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#SolutionStackDescription"
      }
    },
    "com.amazonaws.elasticbeanstalk#AvailableSolutionStackNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#SolutionStackName"
      }
    },
    "com.amazonaws.elasticbeanstalk#BoxedBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.elasticbeanstalk#BoxedInt": {
      "type": "integer"
    },
    "com.amazonaws.elasticbeanstalk#BranchName": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#BranchOrder": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.elasticbeanstalk#BuildConfiguration": {
      "type": "structure",
      "members": {
        "ArtifactName": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the artifact of the CodeBuild build.\n    If provided, Elastic Beanstalk stores the build artifact in the S3 location \n    <i>S3-bucket</i>/resources/<i>application-name</i>/codebuild/codebuild-<i>version-label</i>-<i>artifact-name</i>.zip.\n    If not provided, Elastic Beanstalk stores the build artifact in the S3 location \n    <i>S3-bucket</i>/resources/<i>application-name</i>/codebuild/codebuild-<i>version-label</i>.zip.\n    </p>"
          }
        },
        "CodeBuildServiceRole": {
          "target": "com.amazonaws.elasticbeanstalk#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "ComputeType": {
          "target": "com.amazonaws.elasticbeanstalk#ComputeType",
          "traits": {
            "smithy.api#documentation": "<p>Information about the compute resources the build project will use.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BUILD_GENERAL1_SMALL: Use up to 3 GB memory and 2 vCPUs for builds</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>BUILD_GENERAL1_MEDIUM: Use up to 7 GB memory and 4 vCPUs for builds</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>BUILD_GENERAL1_LARGE: Use up to 15 GB memory and 8 vCPUs for builds</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "Image": {
          "target": "com.amazonaws.elasticbeanstalk#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Docker image to use for this build project.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeoutInMinutes": {
          "target": "com.amazonaws.elasticbeanstalk#BoxedInt",
          "traits": {
            "smithy.api#documentation": "<p>How long in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait until timing out any related build that does not get marked as completed. The default is 60 minutes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings for an AWS CodeBuild build.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#Builder": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.elasticbeanstalk#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the builder.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The builder used to build the custom platform.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CPUUtilization": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Percentage of time that the CPU has spent in the <code>User</code> state over the last\n      10 seconds.</p>"
          }
        },
        "Nice": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Linux environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>Nice</code> state over the last\n      10 seconds.</p>"
          }
        },
        "System": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Linux environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>System</code> state over the\n      last 10 seconds.</p>"
          }
        },
        "Idle": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Percentage of time that the CPU has spent in the <code>Idle</code> state over the last\n      10 seconds.</p>"
          }
        },
        "IOWait": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Linux environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>I/O Wait</code> state over the\n      last 10 seconds.</p>"
          }
        },
        "IRQ": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Linux environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>IRQ</code> state over the last\n      10 seconds.</p>"
          }
        },
        "SoftIRQ": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Linux environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>SoftIRQ</code> state over the\n      last 10 seconds.</p>"
          }
        },
        "Privileged": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Windows environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>Privileged</code> state over the\n      last 10 seconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CPU utilization metrics for an instance.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#Cause": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#Causes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#Cause"
      }
    },
    "com.amazonaws.elasticbeanstalk#CheckDNSAvailability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#CheckDNSAvailabilityMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#CheckDNSAvailabilityResultMessage"
      },
      "traits": {
        "smithy.api#documentation": "<p>Checks if the specified CNAME is available.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CheckDNSAvailabilityMessage": {
      "type": "structure",
      "members": {
        "CNAMEPrefix": {
          "target": "com.amazonaws.elasticbeanstalk#DNSCnamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix used when this CNAME is reserved.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Results message indicating whether a CNAME is available.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CheckDNSAvailabilityResultMessage": {
      "type": "structure",
      "members": {
        "Available": {
          "target": "com.amazonaws.elasticbeanstalk#CnameAvailability",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the specified CNAME is available:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>true</code> : The CNAME is available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>false</code> : The CNAME is not available.</p>\n            </li>\n         </ul>"
          }
        },
        "FullyQualifiedCNAME": {
          "target": "com.amazonaws.elasticbeanstalk#DNSCname",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified CNAME to reserve when <a>CreateEnvironment</a> is called\n      with the provided prefix.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates if the specified CNAME is available.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CnameAvailability": {
      "type": "boolean"
    },
    "com.amazonaws.elasticbeanstalk#CodeBuildNotInServiceRegionException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticbeanstalk#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The exception error message.</p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CodeBuildNotInServiceRegionException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>AWS CodeBuild is not available in the specified region.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticbeanstalk#ComposeEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#ComposeEnvironmentsMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#EnvironmentDescriptionsMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyEnvironmentsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create or update a group of environments that each run a separate component of a single\n      application. Takes a list of version labels that specify application source bundles for each\n      of the environments to create or update. The name of each environment and other required\n      information must be included in the source bundles in an environment manifest named\n      <code>env.yaml</code>. See <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-mgmt-compose.html\">Compose Environments</a>\n      for details.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ComposeEnvironmentsMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to which the specified source bundles belong.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.elasticbeanstalk#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group to which the target environments belong. Specify a group name\n      only if the environment name defined in each target environment's manifest ends with a +\n      (plus) character. See <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-manifest.html\">Environment Manifest\n        (env.yaml)</a> for details.</p>"
          }
        },
        "VersionLabels": {
          "target": "com.amazonaws.elasticbeanstalk#VersionLabels",
          "traits": {
            "smithy.api#documentation": "<p>A list of version labels, specifying one or more application source bundles that belong\n      to the target application. Each source bundle must include an environment manifest that\n      specifies the name of the environment and the name of the solution stack to use, and\n      optionally can specify environment links to create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to create or update a group of environments.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ComputeType": {
      "type": "enum",
      "members": {
        "BUILD_GENERAL1_SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD_GENERAL1_SMALL"
          }
        },
        "BUILD_GENERAL1_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD_GENERAL1_MEDIUM"
          }
        },
        "BUILD_GENERAL1_LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILD_GENERAL1_LARGE"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationDeploymentStatus": {
      "type": "enum",
      "members": {
        "deployed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployed"
          }
        },
        "pending": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionDefaultValue": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionDescription": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.elasticbeanstalk#OptionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>A unique namespace identifying the option's associated AWS resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration option.</p>"
          }
        },
        "DefaultValue": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionDefaultValue",
          "traits": {
            "smithy.api#documentation": "<p>The default value for this configuration option.</p>"
          }
        },
        "ChangeSeverity": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionSeverity",
          "traits": {
            "smithy.api#documentation": "<p>An indication of which action is required if the value for this configuration option\n      changes:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NoInterruption</code> : There is no interruption to the environment or application\n          availability.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RestartEnvironment</code> : The environment is entirely restarted, all AWS resources\n          are deleted and recreated, and the environment is unavailable during the\n          process.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RestartApplicationServer</code> : The environment is available the entire time.\n          However, a short application outage occurs when the application servers on the running\n          Amazon EC2 instances are restarted.</p>\n            </li>\n         </ul>"
          }
        },
        "UserDefined": {
          "target": "com.amazonaws.elasticbeanstalk#UserDefinedOption",
          "traits": {
            "smithy.api#documentation": "<p>An indication of whether the user defined this configuration option:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>true</code> : This configuration option was defined by the user. It is a valid\n          choice for specifying if this as an <code>Option to Remove</code> when updating\n          configuration settings. </p>\n            </li>\n            <li>\n               <p>\n                  <code>false</code> : This configuration was not defined by the user.</p>\n            </li>\n         </ul>\n         <p> Constraint: You can remove only <code>UserDefined</code> options from a configuration. </p>\n         <p> Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "ValueType": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionValueType",
          "traits": {
            "smithy.api#documentation": "<p>An indication of which type of values this option has and whether it is allowable to\n      select one or more than one of the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Scalar</code> : Values for this option are a single selection from the possible\n          values, or an unformatted string, or numeric value governed by the\n          <code>MIN/MAX/Regex</code> constraints.</p>\n            </li>\n            <li>\n               <p>\n                  <code>List</code> : Values for this option are multiple selections from the possible\n          values.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Boolean</code> : Values for this option are either <code>true</code> or\n          <code>false</code> .</p>\n            </li>\n            <li>\n               <p>\n                  <code>Json</code> : Values for this option are a JSON representation of a\n          <code>ConfigDocument</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "ValueOptions": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionPossibleValues",
          "traits": {
            "smithy.api#documentation": "<p>If specified, values for the configuration option are selected from this\n      list.</p>"
          }
        },
        "MinValue": {
          "target": "com.amazonaws.elasticbeanstalk#OptionRestrictionMinValue",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the configuration option must be a numeric value greater than this\n      value.</p>"
          }
        },
        "MaxValue": {
          "target": "com.amazonaws.elasticbeanstalk#OptionRestrictionMaxValue",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the configuration option must be a numeric value less than this\n      value.</p>"
          }
        },
        "MaxLength": {
          "target": "com.amazonaws.elasticbeanstalk#OptionRestrictionMaxLength",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the configuration option must be a string value no longer than this\n      value.</p>"
          }
        },
        "Regex": {
          "target": "com.amazonaws.elasticbeanstalk#OptionRestrictionRegex",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the configuration option must be a string value that satisfies this\n      regular expression.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the possible values for a configuration option.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionDescriptionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionDescription"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionName": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionPossibleValue": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionPossibleValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionPossibleValue"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionSetting": {
      "type": "structure",
      "members": {
        "ResourceName": {
          "target": "com.amazonaws.elasticbeanstalk#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A unique resource name for the option setting. Use it for a time–based scaling configuration option.</p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.elasticbeanstalk#OptionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>A unique namespace that identifies the option's associated AWS resource.</p>"
          }
        },
        "OptionName": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration option.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionValue",
          "traits": {
            "smithy.api#documentation": "<p>The current value for the configuration option.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A specification identifying an individual configuration option along with its current\n      value. For a list of possible namespaces and option values, see <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html\">Option Values</a> in the\n      <i>AWS Elastic Beanstalk Developer Guide</i>. </p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionSettingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionSetting"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionSeverity": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionValue": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionValueType": {
      "type": "enum",
      "members": {
        "Scalar": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scalar"
          }
        },
        "List": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "List"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionsDescription": {
      "type": "structure",
      "members": {
        "SolutionStackName": {
          "target": "com.amazonaws.elasticbeanstalk#SolutionStackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the solution stack these configuration options belong to.</p>"
          }
        },
        "PlatformArn": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the platform version.</p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionDescriptionsList",
          "traits": {
            "smithy.api#documentation": "<p> A list of <a>ConfigurationOptionDescription</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the settings for a specified configuration set.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescription": {
      "type": "structure",
      "members": {
        "SolutionStackName": {
          "target": "com.amazonaws.elasticbeanstalk#SolutionStackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the solution stack this configuration set uses.</p>"
          }
        },
        "PlatformArn": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the platform version.</p>"
          }
        },
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application associated with this configuration set.</p>"
          }
        },
        "TemplateName": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationTemplateName",
          "traits": {
            "smithy.api#documentation": "<p> If not <code>null</code>, the name of the configuration template for this\n      configuration set. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>Describes this configuration set.</p>"
          }
        },
        "EnvironmentName": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p> If not <code>null</code>, the name of the environment for this configuration set.\n    </p>"
          }
        },
        "DeploymentStatus": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationDeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p> If this configuration set is associated with an environment, the\n        <code>DeploymentStatus</code> parameter indicates the deployment status of this\n      configuration set: </p>\n         <ul>\n            <li>\n               <p>\n                  <code>null</code>: This configuration is not associated with a running\n          environment.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: This is a draft configuration that is not deployed to the associated\n          environment but is in the process of deploying.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deployed</code>: This is the configuration that is currently deployed to the\n          associated running environment.</p>\n            </li>\n            <li>\n               <p>\n                  <code>failed</code>: This is a draft configuration that failed to successfully\n          deploy.</p>\n            </li>\n         </ul>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.elasticbeanstalk#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>The date (in UTC time) when this configuration set was created.</p>"
          }
        },
        "DateUpdated": {
          "target": "com.amazonaws.elasticbeanstalk#UpdateDate",
          "traits": {
            "smithy.api#documentation": "<p>The date (in UTC time) when this configuration set was last modified.</p>"
          }
        },
        "OptionSettings": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the configuration options and their values in this configuration\n      set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the settings for a configuration set.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescription"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescriptions": {
      "type": "structure",
      "members": {
        "ConfigurationSettings": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p> A list of <a>ConfigurationSettingsDescription</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The results from a request to change the configuration settings of an\n      environment.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationSettingsValidationMessages": {
      "type": "structure",
      "members": {
        "Messages": {
          "target": "com.amazonaws.elasticbeanstalk#ValidationMessagesList",
          "traits": {
            "smithy.api#documentation": "<p> A list of <a>ValidationMessage</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of validation messages.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationTemplateName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationTemplateNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationTemplateName"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#CreateApplicationMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationDescriptionMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyApplicationsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an application that has one configuration template named <code>default</code>\n      and no application versions.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateApplicationMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application. Must be unique within your account.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>Your description of the application.</p>"
          }
        },
        "ResourceLifecycleConfig": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationResourceLifecycleConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an application resource lifecycle configuration to prevent your application\n      from accumulating too many versions.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticbeanstalk#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the tags applied to the application.</p>\n         <p>Elastic Beanstalk applies these tags only to the application. Environments that you create in the\n      application don't inherit the tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to create an application.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateApplicationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#CreateApplicationVersionMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#CodeBuildNotInServiceRegionException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#S3LocationNotInServiceRegionException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyApplicationsException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyApplicationVersionsException"
        }
      ],
      "traits": {
[...]
