{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.elb.version_2015_12_01#Action": {
      "type": "structure",
      "members": {
        "AuthenticateCognitoConfig": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>[HTTPS listeners] Information for using Amazon Cognito to authenticate users. \n      Specify only when <code>Type</code> is <code>authenticate-cognito</code>.</p>"
          }
        },
        "AuthenticateOidcConfig": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>[HTTPS listeners] Information about an identity provider that is compliant with OpenID Connect (OIDC). \n      Specify only when <code>Type</code> is <code>authenticate-oidc</code>.</p>"
          }
        },
        "FixedResponseConfig": {
          "target": "com.amazon.elb.version_2015_12_01#FixedResponseActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>[Application Load Balancer] Information for creating an action that returns a custom HTTP response. \n      Specify only when <code>Type</code> is <code>fixed-response</code>.</p>"
          }
        },
        "ForwardConfig": {
          "target": "com.amazon.elb.version_2015_12_01#ForwardActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information for creating an action that distributes requests among one or more target groups.\n      For Network Load Balancers, you can specify a single target group.\n      Specify only when <code>Type</code> is <code>forward</code>.\n      If you specify both <code>ForwardConfig</code> and <code>TargetGroupArn</code>, you can specify only one target group\n      using <code>ForwardConfig</code> and it must be the same target group specified in <code>TargetGroupArn</code>.</p>"
          }
        },
        "Order": {
          "target": "com.amazon.elb.version_2015_12_01#ActionOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order for the action. This value is required for rules with multiple actions. \n      The action with the lowest value for order is performed first. The last action to be\n      performed must be one of the following types of actions: a <code>forward</code>, \n      <code>fixed-response</code>, or <code>redirect</code>.</p>"
          }
        },
        "RedirectConfig": {
          "target": "com.amazon.elb.version_2015_12_01#RedirectActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>[Application Load Balancer] Information for creating a redirect action. \n      Specify only when <code>Type</code> is <code>redirect</code>.</p>"
          }
        },
        "TargetGroupArn": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group. \n      Specify only when <code>Type</code> is <code>forward</code> and you want to route to a single target group.\n      To route to one or more target groups, use <code>ForwardConfig</code> instead.</p>"
          }
        },
        "Type": {
          "target": "com.amazon.elb.version_2015_12_01#ActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The type of action.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an action.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#ActionOrder": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 50000
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#ActionTypeEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "forward": {
            "name": "FORWARD"
          },
          "authenticate-oidc": {
            "name": "AUTHENTICATE_OIDC"
          },
          "authenticate-cognito": {
            "name": "AUTHENTICATE_COGNITO"
          },
          "redirect": {
            "name": "REDIRECT"
          },
          "fixed-response": {
            "name": "FIXED_RESPONSE"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#Actions": {
      "type": "list",
      "member": {
        "target": "com.amazon.elb.version_2015_12_01#Action"
      }
    },
    "com.amazon.elb.version_2015_12_01#AddListenerCertificates": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#AddListenerCertificatesInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#AddListenerCertificatesOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#CertificateNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#ListenerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyCertificatesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified SSL server certificate to the certificate list for the specified HTTPS or TLS listener.</p>\n         <p>If the certificate in already in the certificate list, the call is successful but the certificate \n      is not added again.</p>\n         <p>To get the certificate list for a listener, use <a>DescribeListenerCertificates</a>. \n      To remove certificates from the certificate list for a listener, use <a>RemoveListenerCertificates</a>.\n      To replace the default certificate for a listener, use <a>ModifyListener</a>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#https-listener-certificates\">SSL Certificates</a>\n      in the <i>Application Load Balancers Guide</i>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#AddListenerCertificatesInput": {
      "type": "structure",
      "members": {
        "Certificates": {
          "target": "com.amazon.elb.version_2015_12_01#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>The certificate to add. You can specify one certificate per call.\n      Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.</p>",
            "smithy.api#required": true
          }
        },
        "ListenerArn": {
          "target": "com.amazon.elb.version_2015_12_01#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#AddListenerCertificatesOutput": {
      "type": "structure",
      "members": {
        "Certificates": {
          "target": "com.amazon.elb.version_2015_12_01#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the certificates in the certificate list.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#AddTagsInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#AddTagsOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag\n      your Application Load Balancers, Network Load Balancers, and your target groups.</p>\n         <p>Each tag consists of a key and an optional value. If a resource already has a tag with\n      the same key, <code>AddTags</code> updates its value.</p>\n         <p>To list the current tags for your resources, use <a>DescribeTags</a>. To\n      remove tags from your resources, use <a>RemoveTags</a>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#AddTagsInput": {
      "type": "structure",
      "members": {
        "ResourceArns": {
          "target": "com.amazon.elb.version_2015_12_01#ResourceArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazon.elb.version_2015_12_01#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags. Each resource can have a maximum of 10 tags.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#AddTagsOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.elb.version_2015_12_01#AllocationId": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AllocationIdNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.elb.version_2015_12_01#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified allocation ID does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionAuthenticationRequestExtraParams": {
      "type": "map",
      "key": {
        "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionAuthenticationRequestParamName"
      },
      "value": {
        "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionAuthenticationRequestParamValue"
      }
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionAuthenticationRequestParamName": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionAuthenticationRequestParamValue": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionConditionalBehaviorEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "deny": {
            "name": "DENY"
          },
          "allow": {
            "name": "ALLOW"
          },
          "authenticate": {
            "name": "AUTHENTICATE"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionConfig": {
      "type": "structure",
      "members": {
        "AuthenticationRequestExtraParams": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionAuthenticationRequestExtraParams",
          "traits": {
            "smithy.api#documentation": "<p>The query parameters (up to 10) to include in the redirect request to the authorization endpoint.</p>"
          }
        },
        "OnUnauthenticatedRequest": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionConditionalBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "<p>The behavior if the user is not authenticated. The following are possible values:</p>\n         <ul>\n            <li>\n               <p>deny<code></code> - Return an HTTP 401 Unauthorized error.</p>\n            </li>\n            <li>\n               <p>allow<code></code> - Allow the request to be forwarded to the target.</p>\n            </li>\n            <li>\n               <p>authenticate<code></code> - Redirect the request to the IdP authorization endpoint. This is the default value.</p>\n            </li>\n         </ul>"
          }
        },
        "Scope": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionScope",
          "traits": {
            "smithy.api#documentation": "<p>The set of user claims to be requested from the IdP. The default is <code>openid</code>.</p>\n         <p>To verify which scope values your IdP supports and how to separate multiple values,\n        see the documentation for your IdP.</p>"
          }
        },
        "SessionCookieName": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionSessionCookieName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cookie used to maintain session information. The default is AWSELBAuthSessionCookie.</p>"
          }
        },
        "SessionTimeout": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionSessionTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The maximum duration of the authentication session, in seconds. The default is 604800 seconds (7 days).</p>"
          }
        },
        "UserPoolArn": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionUserPoolArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Cognito user pool.</p>",
            "smithy.api#required": true
          }
        },
        "UserPoolClientId": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionUserPoolClientId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Cognito user pool client.</p>",
            "smithy.api#required": true
          }
        },
        "UserPoolDomain": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionUserPoolDomain",
          "traits": {
            "smithy.api#documentation": "<p>The domain prefix or fully-qualified domain name of the Amazon Cognito user pool.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request parameters to use when integrating with Amazon Cognito to authenticate users.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionScope": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionSessionCookieName": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionSessionTimeout": {
      "type": "long",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionUserPoolArn": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionUserPoolClientId": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateCognitoActionUserPoolDomain": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionAuthenticationRequestExtraParams": {
      "type": "map",
      "key": {
        "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionAuthenticationRequestParamName"
      },
      "value": {
        "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionAuthenticationRequestParamValue"
      }
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionAuthenticationRequestParamName": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionAuthenticationRequestParamValue": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionAuthorizationEndpoint": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionClientId": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionClientSecret": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionConditionalBehaviorEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "deny": {
            "name": "DENY"
          },
          "allow": {
            "name": "ALLOW"
          },
          "authenticate": {
            "name": "AUTHENTICATE"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionConfig": {
      "type": "structure",
      "members": {
        "AuthenticationRequestExtraParams": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionAuthenticationRequestExtraParams",
          "traits": {
            "smithy.api#documentation": "<p>The query parameters (up to 10) to include in the redirect request to the authorization endpoint.</p>"
          }
        },
        "AuthorizationEndpoint": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionAuthorizationEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The authorization endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>",
            "smithy.api#required": true
          }
        },
        "ClientId": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionClientId",
          "traits": {
            "smithy.api#documentation": "<p>The OAuth 2.0 client identifier.</p>",
            "smithy.api#required": true
          }
        },
        "ClientSecret": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>The OAuth 2.0 client secret. This parameter is required if you are creating a rule. If you are modifying a rule,\n        you can omit this parameter if you set <code>UseExistingClientSecret</code> to true.</p>"
          }
        },
        "Issuer": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionIssuer",
          "traits": {
            "smithy.api#documentation": "<p>The OIDC issuer identifier of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>",
            "smithy.api#required": true
          }
        },
        "OnUnauthenticatedRequest": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionConditionalBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "<p>The behavior if the user is not authenticated. The following are possible values:</p>\n         <ul>\n            <li>\n               <p>deny<code></code> - Return an HTTP 401 Unauthorized error.</p>\n            </li>\n            <li>\n               <p>allow<code></code> - Allow the request to be forwarded to the target.</p>\n            </li>\n            <li>\n               <p>authenticate<code></code> - Redirect the request to the IdP authorization endpoint. This is the default value.</p>\n            </li>\n         </ul>"
          }
        },
        "Scope": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionScope",
          "traits": {
            "smithy.api#documentation": "<p>The set of user claims to be requested from the IdP. The default is <code>openid</code>.</p>\n         <p>To verify which scope values your IdP supports and how to separate multiple values,\n      see the documentation for your IdP.</p>"
          }
        },
        "SessionCookieName": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionSessionCookieName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cookie used to maintain session information. The default is AWSELBAuthSessionCookie.</p>"
          }
        },
        "SessionTimeout": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionSessionTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The maximum duration of the authentication session, in seconds. The default is 604800 seconds (7 days).</p>"
          }
        },
        "TokenEndpoint": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionTokenEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The token endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>",
            "smithy.api#required": true
          }
        },
        "UseExistingClientSecret": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionUseExistingClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to use the existing client secret when modifying a rule. If you are creating a rule,\n        you can omit this parameter or set it to false.</p>"
          }
        },
        "UserInfoEndpoint": {
          "target": "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionUserInfoEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The user info endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request parameters when using an identity provider (IdP) that is compliant with OpenID Connect (OIDC) to authenticate users.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionIssuer": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionScope": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionSessionCookieName": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionSessionTimeout": {
      "type": "long",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionTokenEndpoint": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionUseExistingClientSecret": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.elb.version_2015_12_01#AuthenticateOidcActionUserInfoEndpoint": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#AvailabilityZone": {
      "type": "structure",
      "members": {
        "LoadBalancerAddresses": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerAddresses",
          "traits": {
            "smithy.api#documentation": "<p>[Network Load Balancers] If you need static IP addresses for your load balancer, \n      you can specify one Elastic IP address per Availability Zone when you create an \n      internal-facing load balancer. For internal load balancers, you can specify a private \n      IP address from the IPv4 range of the subnet.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazon.elb.version_2015_12_01#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>"
          }
        },
        "ZoneName": {
          "target": "com.amazon.elb.version_2015_12_01#ZoneName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Availability Zone.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#AvailabilityZoneNotSupportedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.elb.version_2015_12_01#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified Availability Zone is not supported.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.elb.version_2015_12_01#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazon.elb.version_2015_12_01#AvailabilityZone"
      }
    },
    "com.amazon.elb.version_2015_12_01#CanonicalHostedZoneId": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#Certificate": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazon.elb.version_2015_12_01#CertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate.</p>"
          }
        },
        "IsDefault": {
          "target": "com.amazon.elb.version_2015_12_01#Default",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the certificate is the default certificate. Do not set this value \n        when specifying a certificate as an input. This value is not included in the output \n        when describing a listener, but is included when describing listener certificates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an SSL server certificate.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#CertificateArn": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#CertificateList": {
      "type": "list",
      "member": {
        "target": "com.amazon.elb.version_2015_12_01#Certificate"
      }
    },
    "com.amazon.elb.version_2015_12_01#CertificateNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.elb.version_2015_12_01#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified certificate does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.elb.version_2015_12_01#Cipher": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazon.elb.version_2015_12_01#CipherName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cipher.</p>"
          }
        },
        "Priority": {
          "target": "com.amazon.elb.version_2015_12_01#CipherPriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the cipher.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a cipher used in a policy.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#CipherName": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#CipherPriority": {
      "type": "integer"
    },
    "com.amazon.elb.version_2015_12_01#Ciphers": {
      "type": "list",
      "member": {
        "target": "com.amazon.elb.version_2015_12_01#Cipher"
      }
    },
    "com.amazon.elb.version_2015_12_01#ConditionFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateListener": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#CreateListenerInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#CreateListenerOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#CertificateNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DuplicateListenerException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#IncompatibleProtocolsException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidConfigurationRequestException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidLoadBalancerActionException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#SSLPolicyNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupAssociationLimitException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyActionsException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyCertificatesException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyListenersException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyRegistrationsForTargetIdException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyTargetsException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyUniqueTargetGroupsPerLoadBalancerException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#UnsupportedProtocolException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a listener for the specified Application Load Balancer or Network Load\n      Balancer.</p>\n         <p>To update a listener, use <a>ModifyListener</a>. When you are finished with\n      a listener, you can delete it using <a>DeleteListener</a>. If you are finished with\n      both the listener and the load balancer, you can delete them both using <a>DeleteLoadBalancer</a>.</p>\n         <p>This operation is idempotent, which means that it completes at most one time. If you\n      attempt to create multiple listeners with the same settings, each call succeeds.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for\n        Your Application Load Balancers</a> in the <i>Application Load Balancers\n        Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html\">Listeners for Your\n        Network Load Balancers</a> in the <i>Network Load Balancers\n      Guide</i>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateListenerInput": {
      "type": "structure",
      "members": {
        "Certificates": {
          "target": "com.amazon.elb.version_2015_12_01#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>[HTTPS and TLS listeners] The default certificate for the listener. You must provide exactly one certificate. \n      Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.</p>\n         <p>To create a certificate list for the listener, use <a>AddListenerCertificates</a>.</p>"
          }
        },
        "DefaultActions": {
          "target": "com.amazon.elb.version_2015_12_01#Actions",
          "traits": {
            "smithy.api#documentation": "<p>The actions for the default rule. The rule must include one forward action or one or more fixed-response actions.</p>\n         <p>If the action type is <code>forward</code>, you specify one or more target groups.\n      The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer.\n      The protocol of the target group must be TCP, TLS, UDP, or TCP_UDP for a Network Load Balancer.</p>\n         <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider \n      that is OpenID Connect (OIDC) compliant.</p>\n         <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools\n      supported by Amazon Cognito.</p>\n         <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests \n      from one URL to another.</p>\n         <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests \n      and return a custom HTTP response.</p>",
            "smithy.api#required": true
          }
        },
        "LoadBalancerArn": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
            "smithy.api#required": true
          }
        },
        "Port": {
          "target": "com.amazon.elb.version_2015_12_01#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port on which the load balancer is listening.</p>",
            "smithy.api#required": true
          }
        },
        "Protocol": {
          "target": "com.amazon.elb.version_2015_12_01#ProtocolEnum",
          "traits": {
            "smithy.api#documentation": "<p>The protocol for connections from clients to the load balancer. For Application Load\n      Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the\n      supported protocols are TCP, TLS, UDP, and TCP_UDP.</p>",
            "smithy.api#required": true
          }
        },
        "SslPolicy": {
          "target": "com.amazon.elb.version_2015_12_01#SslPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>[HTTPS and TLS listeners] The security policy that defines which ciphers and protocols are\n      supported. The default is the current predefined security policy.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateListenerOutput": {
      "type": "structure",
      "members": {
        "Listeners": {
          "target": "com.amazon.elb.version_2015_12_01#Listeners",
          "traits": {
            "smithy.api#documentation": "<p>Information about the listener.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateLoadBalancer": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#CreateLoadBalancerInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#CreateLoadBalancerOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#AllocationIdNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#AvailabilityZoneNotSupportedException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DuplicateLoadBalancerNameException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DuplicateTagKeysException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidConfigurationRequestException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidSchemeException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidSecurityGroupException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidSubnetException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#OperationNotPermittedException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#ResourceInUseException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#SubnetNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyLoadBalancersException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Application Load Balancer or a Network Load Balancer.</p>\n         <p>When you create a load balancer, you can specify security groups, public subnets, IP address\n      type, and tags. Otherwise, you could do so later using <a>SetSecurityGroups</a>,\n        <a>SetSubnets</a>, <a>SetIpAddressType</a>, and <a>AddTags</a>.</p>\n         <p>To create listeners for your load balancer, use <a>CreateListener</a>. To\n      describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you\n      are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p>\n         <p>For limit information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Limits for Your\n        Application Load Balancer</a> in the <i>Application Load Balancers\n        Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html\">Limits for Your Network\n        Load Balancer</a> in the <i>Network Load Balancers Guide</i>.</p>\n         <p>This operation is idempotent, which means that it completes at most one time. If you\n      attempt to create multiple load balancers with the same settings, each call\n      succeeds.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html\">Application\n        Load Balancers</a> in the <i>Application Load Balancers Guide</i> and\n        <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html\">Network Load\n        Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateLoadBalancerInput": {
      "type": "structure",
      "members": {
        "IpAddressType": {
          "target": "com.amazon.elb.version_2015_12_01#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>[Application Load Balancers] The type of IP addresses used by the subnets for your load\n      balancer. The possible values are <code>ipv4</code> (for IPv4 addresses) and\n        <code>dualstack</code> (for IPv4 and IPv6 addresses). Internal load balancers must use\n        <code>ipv4</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the load balancer.</p>\n         <p>This name must be unique per region per account, can have a maximum of 32 characters,\n      must contain only alphanumeric characters or hyphens, must not begin or end with a\n      hyphen, and must not begin with \"internal-\".</p>",
            "smithy.api#required": true
          }
        },
        "Scheme": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerSchemeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of\n      an Internet-facing load balancer is publicly resolvable to the public IP addresses of the\n      nodes. Therefore, Internet-facing load balancers can route requests from clients over the\n      internet.</p>\n         <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of\n      an internal load balancer is publicly resolvable to the private IP addresses of the nodes.\n      Therefore, internal load balancers can route requests only from clients with access to the VPC\n      for the load balancer.</p>\n         <p>The default is an Internet-facing load balancer.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazon.elb.version_2015_12_01#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>[Application Load Balancers] The IDs of the security groups for the load balancer.</p>"
          }
        },
        "SubnetMappings": {
          "target": "com.amazon.elb.version_2015_12_01#SubnetMappings",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. \n      You must specify either subnets or subnet mappings.</p>\n         <p>[Application Load Balancers] You must specify subnets from at least two Availability\n      Zones. You cannot specify Elastic IP addresses for your subnets.</p>\n         <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones.\n      You can specify one Elastic IP address per subnet if you need static IP addresses for\n      your internet-facing load balancer. For internal load balancers, you can specify one \n      private IP address per subnet from the IPv4 range of the subnet.</p>"
          }
        },
        "Subnets": {
          "target": "com.amazon.elb.version_2015_12_01#Subnets",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. \n      You must specify either subnets or subnet mappings.</p>\n         <p>[Application Load Balancers] You must specify subnets from at least two Availability\n      Zones.</p>\n         <p>[Network Load Balancers] You can specify subnets from one or more Availability\n      Zones.</p>"
          }
        },
        "Tags": {
          "target": "com.amazon.elb.version_2015_12_01#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags to assign to the load balancer.</p>"
          }
        },
        "Type": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The type of load balancer. The default is <code>application</code>.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateLoadBalancerOutput": {
      "type": "structure",
      "members": {
        "LoadBalancers": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancers",
          "traits": {
            "smithy.api#documentation": "<p>Information about the load balancer.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#CreateRuleInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#CreateRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#IncompatibleProtocolsException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidConfigurationRequestException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidLoadBalancerActionException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#ListenerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#PriorityInUseException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupAssociationLimitException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyActionsException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyRegistrationsForTargetIdException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyRulesException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyTargetGroupsException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyTargetsException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyUniqueTargetGroupsPerLoadBalancerException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#UnsupportedProtocolException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a rule for the specified listener. The listener must be associated with an\n      Application Load Balancer.</p>\n         <p>Rules are evaluated in priority order, from the lowest value to the highest value. \n      When the conditions for a rule are met, its actions are performed. If the conditions for no rules are met, \n      the actions for the default rule are performed. For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules\">Listener Rules</a> in the <i>Application Load Balancers Guide</i>.</p>\n         <p>To view your current rules, use <a>DescribeRules</a>. To update a rule, use\n        <a>ModifyRule</a>. To set the priorities of your rules, use <a>SetRulePriorities</a>. To delete a rule, use <a>DeleteRule</a>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateRuleInput": {
      "type": "structure",
      "members": {
        "Actions": {
          "target": "com.amazon.elb.version_2015_12_01#Actions",
          "traits": {
            "smithy.api#documentation": "<p>The actions. Each rule must include exactly one of the following types of actions: \n      <code>forward</code>, <code>fixed-response</code>, or <code>redirect</code>, and it must be the\n      last action to be performed.</p>\n         <p>If the action type is <code>forward</code>, you specify one or more target groups.\n      The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer.\n      The protocol of the target group must be TCP, TLS, UDP, or TCP_UDP for a Network Load Balancer.</p>\n         <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider \n      that is OpenID Connect (OIDC) compliant.</p>\n         <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools\n      supported by Amazon Cognito.</p>\n         <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests \n      from one URL to another.</p>\n         <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests \n      and return a custom HTTP response.</p>",
            "smithy.api#required": true
          }
        },
        "Conditions": {
          "target": "com.amazon.elb.version_2015_12_01#RuleConditionList",
          "traits": {
            "smithy.api#documentation": "<p>The conditions. Each rule can include zero or one of the following conditions:\n      <code>http-request-method</code>, <code>host-header</code>, <code>path-pattern</code>,\n      and <code>source-ip</code>, and zero or more of the following conditions:\n      <code>http-header</code> and <code>query-string</code>.</p>",
            "smithy.api#required": true
          }
        },
        "ListenerArn": {
          "target": "com.amazon.elb.version_2015_12_01#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#required": true
          }
        },
        "Priority": {
          "target": "com.amazon.elb.version_2015_12_01#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The rule priority. A listener can't have multiple rules with the same priority.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateRuleOutput": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazon.elb.version_2015_12_01#Rules",
          "traits": {
            "smithy.api#documentation": "<p>Information about the rule.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateTargetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#CreateTargetGroupInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#CreateTargetGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#DuplicateTargetGroupNameException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidConfigurationRequestException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TooManyTargetGroupsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a target group.</p>\n         <p>To register targets with the target group, use <a>RegisterTargets</a>. \n      To update the health check settings for the target group, use <a>ModifyTargetGroup</a>. \n      To monitor the health of targets in the target group, use <a>DescribeTargetHealth</a>.</p>\n         <p>To route traffic to the targets in a target group, specify the target group in an\n      action using <a>CreateListener</a> or <a>CreateRule</a>.</p>\n         <p>To delete a target group, use <a>DeleteTargetGroup</a>.</p>\n         <p>This operation is idempotent, which means that it completes at most one time. If you\n      attempt to create multiple target groups with the same settings, each call succeeds.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\">Target Groups\n        for Your Application Load Balancers</a> in the <i>Application Load Balancers\n        Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html\">Target Groups for\n        Your Network Load Balancers</a> in the <i>Network Load Balancers\n      Guide</i>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateTargetGroupInput": {
      "type": "structure",
      "members": {
        "HealthCheckEnabled": {
          "target": "com.amazon.elb.version_2015_12_01#HealthCheckEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether health checks are enabled. If the target type is <code>lambda</code>,\n      health checks are disabled by default but can be enabled. If the target type is <code>instance</code> \n      or <code>ip</code>, health checks are always enabled and cannot be disabled.</p>"
          }
        },
        "HealthCheckIntervalSeconds": {
          "target": "com.amazon.elb.version_2015_12_01#HealthCheckIntervalSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The approximate amount of time, in seconds, between health checks of an individual target. \n      For HTTP and HTTPS health checks, the range is 5–300 seconds. \n      For TCP health checks, the supported values are 10 and 30 seconds. \n      If the target type is <code>instance</code> or <code>ip</code>, the default is 30 seconds. \n      If the target type is <code>lambda</code>, the default is 35 seconds.</p>"
          }
        },
        "HealthCheckPath": {
          "target": "com.amazon.elb.version_2015_12_01#Path",
          "traits": {
            "smithy.api#documentation": "<p>[HTTP/HTTPS health checks] The ping path that is the destination on the targets for\n      health checks. The default is /.</p>"
          }
        },
        "HealthCheckPort": {
          "target": "com.amazon.elb.version_2015_12_01#HealthCheckPort",
          "traits": {
            "smithy.api#documentation": "<p>The port the load balancer uses when performing health checks on targets. The default\n      is <code>traffic-port</code>, which is the port on which each target receives traffic from the\n      load balancer.</p>"
          }
        },
        "HealthCheckProtocol": {
          "target": "com.amazon.elb.version_2015_12_01#ProtocolEnum",
          "traits": {
            "smithy.api#documentation": "<p>The protocol the load balancer uses when performing health checks on targets.\n      For Application Load Balancers, the default is HTTP. For Network Load Balancers, the default is TCP.\n      The TCP protocol is supported for health checks only if the protocol of the target group is TCP, TLS, UDP, or TCP_UDP.\n      The TLS, UDP, and TCP_UDP protocols are not supported for health checks.</p>"
          }
        },
        "HealthCheckTimeoutSeconds": {
          "target": "com.amazon.elb.version_2015_12_01#HealthCheckTimeoutSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, during which no response from a target means a failed health check. \n      For target groups with a protocol of HTTP or HTTPS, the default is 5 seconds. \n      For target groups with a protocol of TCP or TLS, this value must be 6 seconds for HTTP health checks \n         and 10 seconds for TCP and HTTPS health checks.\n      If the target type is <code>lambda</code>, the default is 30 seconds.</p>"
          }
        },
        "HealthyThresholdCount": {
          "target": "com.amazon.elb.version_2015_12_01#HealthCheckThresholdCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of consecutive health checks successes required before considering an unhealthy target healthy. \n      For target groups with a protocol of HTTP or HTTPS, the default is 5. \n      For target groups with a protocol of TCP or TLS, the default is 3.\n      If the target type is <code>lambda</code>, the default is 5.</p>"
          }
        },
        "Matcher": {
          "target": "com.amazon.elb.version_2015_12_01#Matcher",
          "traits": {
            "smithy.api#documentation": "<p>[HTTP/HTTPS health checks] The HTTP codes to use when checking for a successful response from a target.</p>"
          }
        },
        "Name": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target group.</p>\n         <p>This name must be unique per region per account, can have a maximum of 32 characters,\n      must contain only alphanumeric characters or hyphens, and must not begin or end with a\n      hyphen.</p>",
            "smithy.api#required": true
          }
        },
        "Port": {
          "target": "com.amazon.elb.version_2015_12_01#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port on which the targets receive traffic. This port is used unless you specify a\n      port override when registering the target. If the target is a Lambda function, this \n      parameter does not apply.</p>"
          }
        },
        "Protocol": {
          "target": "com.amazon.elb.version_2015_12_01#ProtocolEnum",
          "traits": {
            "smithy.api#documentation": "<p>The protocol to use for routing traffic to the targets. For Application Load Balancers,\n      the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols\n      are TCP, TLS, UDP, or TCP_UDP. A TCP_UDP listener must be associated with a TCP_UDP target group.\n      If the target is a Lambda function, this parameter does not apply.</p>"
          }
        },
        "TargetType": {
          "target": "com.amazon.elb.version_2015_12_01#TargetTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The type of target that you must specify when registering targets with this target group.\n      You can't specify targets for a target group using more than one target type.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>instance</code> - Targets are specified by instance ID. This is the default value.\n          If the target group protocol is UDP or TCP_UDP, the target type must be <code>instance</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ip</code> - Targets are specified by IP address. You can specify IP addresses \n          from the subnets of the virtual private cloud (VPC) for the target group, the RFC 1918 \n          range (10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16), and the RFC 6598 range \n          (100.64.0.0/10). You can't specify publicly routable IP addresses.</p>\n            </li>\n            <li>\n               <p>\n                  <code>lambda</code> - The target groups contains a single Lambda function.</p>\n            </li>\n         </ul>"
          }
        },
        "UnhealthyThresholdCount": {
          "target": "com.amazon.elb.version_2015_12_01#HealthCheckThresholdCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of consecutive health check failures required before considering a target unhealthy. \n      For target groups with a protocol of HTTP or HTTPS, the default is 2. \n      For target groups with a protocol of TCP or TLS, this value must be the same as the healthy threshold count.\n      If the target type is <code>lambda</code>, the default is 2.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazon.elb.version_2015_12_01#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the virtual private cloud (VPC). If the target is a Lambda function, \n      this parameter does not apply. Otherwise, this parameter is required.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#CreateTargetGroupOutput": {
      "type": "structure",
      "members": {
        "TargetGroups": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroups",
          "traits": {
            "smithy.api#documentation": "<p>Information about the target group.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#CreatedTime": {
      "type": "timestamp"
    },
    "com.amazon.elb.version_2015_12_01#DNSName": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#Default": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazon.elb.version_2015_12_01#DeleteListener": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DeleteListenerInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DeleteListenerOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#ListenerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified listener.</p>\n         <p>Alternatively, your listener is deleted when you delete the load balancer to which it\n      is attached, using <a>DeleteLoadBalancer</a>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DeleteListenerInput": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazon.elb.version_2015_12_01#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DeleteListenerOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.elb.version_2015_12_01#DeleteLoadBalancer": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DeleteLoadBalancerInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DeleteLoadBalancerOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#OperationNotPermittedException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Application Load Balancer or Network Load Balancer and its\n      attached listeners.</p>\n         <p>You can't delete a load balancer if deletion protection is enabled. If the load\n      balancer does not exist or has already been deleted, the call succeeds.</p>\n         <p>Deleting a load balancer does not affect its registered targets. For example, your EC2\n      instances continue to run and are still registered to their target groups. If you no longer\n      need these EC2 instances, you can stop or terminate them.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DeleteLoadBalancerInput": {
      "type": "structure",
      "members": {
        "LoadBalancerArn": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DeleteLoadBalancerOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.elb.version_2015_12_01#DeleteRule": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DeleteRuleInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DeleteRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#OperationNotPermittedException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#RuleNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified rule.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DeleteRuleInput": {
      "type": "structure",
      "members": {
        "RuleArn": {
          "target": "com.amazon.elb.version_2015_12_01#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DeleteRuleOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.elb.version_2015_12_01#DeleteTargetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DeleteTargetGroupInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DeleteTargetGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified target group.</p>\n         <p>You can delete a target group if it is not referenced by any actions. Deleting a target\n      group also deletes any associated health checks.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DeleteTargetGroupInput": {
      "type": "structure",
      "members": {
        "TargetGroupArn": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DeleteTargetGroupOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.elb.version_2015_12_01#DeregisterTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DeregisterTargetsInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DeregisterTargetsOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidTargetException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters the specified targets from the specified target group. After the targets\n      are deregistered, they no longer receive traffic from the load balancer.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DeregisterTargetsInput": {
      "type": "structure",
      "members": {
        "TargetGroupArn": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
            "smithy.api#required": true
          }
        },
        "Targets": {
          "target": "com.amazon.elb.version_2015_12_01#TargetDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The targets. If you specified a port override when you registered a target, you must\n      specify both the target ID and the port when you deregister it.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DeregisterTargetsOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.elb.version_2015_12_01#DescribeAccountLimits": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeAccountLimitsInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeAccountLimitsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the current Elastic Load Balancing resource limits for your AWS\n      account.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Limits for Your\n        Application Load Balancers</a> in the <i>Application Load Balancer\n        Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html\">Limits for Your Network\n        Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeAccountLimitsInput": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazon.elb.version_2015_12_01#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeAccountLimitsOutput": {
      "type": "structure",
      "members": {
        "Limits": {
          "target": "com.amazon.elb.version_2015_12_01#Limits",
          "traits": {
            "smithy.api#documentation": "<p>Information about the limits.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results. \n      Otherwise, this is null.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeListenerCertificates": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeListenerCertificatesInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeListenerCertificatesOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#ListenerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the default certificate and the certificate list for the specified HTTPS or TLS listener.</p>\n         <p>If the default certificate is also in the certificate list, it appears twice in the results\n      (once with <code>IsDefault</code> set to true and once with <code>IsDefault</code> set to false).</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#https-listener-certificates\">SSL Certificates</a>\n      in the <i>Application Load Balancers Guide</i>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeListenerCertificatesInput": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazon.elb.version_2015_12_01#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the listener.</p>",
            "smithy.api#required": true
          }
        },
        "Marker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazon.elb.version_2015_12_01#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeListenerCertificatesOutput": {
      "type": "structure",
      "members": {
        "Certificates": {
          "target": "com.amazon.elb.version_2015_12_01#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the certificates.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results. \n      Otherwise, this is null.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeListeners": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeListenersInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeListenersOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#ListenerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#UnsupportedProtocolException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified listeners or the listeners for the specified Application Load\n      Balancer or Network Load Balancer. You must specify either a load balancer or one or more\n      listeners.</p>\n         <p>For an HTTPS or TLS listener, the output includes the default certificate for the listener.\n      To describe the certificate list for the listener, use <a>DescribeListenerCertificates</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "items": "Listeners"
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeListenersInput": {
      "type": "structure",
      "members": {
        "ListenerArns": {
          "target": "com.amazon.elb.version_2015_12_01#ListenerArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the listeners.</p>"
          }
        },
        "LoadBalancerArn": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>"
          }
        },
        "Marker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazon.elb.version_2015_12_01#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeListenersOutput": {
      "type": "structure",
      "members": {
        "Listeners": {
          "target": "com.amazon.elb.version_2015_12_01#Listeners",
          "traits": {
            "smithy.api#documentation": "<p>Information about the listeners.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results. \n      Otherwise, this is null.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeLoadBalancerAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeLoadBalancerAttributesInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeLoadBalancerAttributesOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the attributes for the specified Application Load Balancer or Network Load\n      Balancer.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html#load-balancer-attributes\">Load Balancer Attributes</a> \n      in the <i>Application Load Balancers Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html#load-balancer-attributes\">Load Balancer Attributes</a> \n      in the <i>Network Load Balancers Guide</i>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeLoadBalancerAttributesInput": {
      "type": "structure",
      "members": {
        "LoadBalancerArn": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeLoadBalancerAttributesOutput": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Information about the load balancer attributes.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeLoadBalancers": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeLoadBalancersInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeLoadBalancersOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified load balancers or all of your load balancers.</p>\n         <p>To describe the listeners for a load balancer, use <a>DescribeListeners</a>.\n      To describe the attributes for a load balancer, use <a>DescribeLoadBalancerAttributes</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "items": "LoadBalancers"
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeLoadBalancersInput": {
      "type": "structure",
      "members": {
        "LoadBalancerArns": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the load balancers. You can specify up to 20 load\n      balancers in a single call.</p>"
          }
        },
        "Marker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "Names": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the load balancers.</p>"
          }
        },
        "PageSize": {
          "target": "com.amazon.elb.version_2015_12_01#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeLoadBalancersOutput": {
      "type": "structure",
      "members": {
        "LoadBalancers": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancers",
          "traits": {
            "smithy.api#documentation": "<p>Information about the load balancers.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results. \n      Otherwise, this is null.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeRules": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeRulesInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#ListenerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#RuleNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#UnsupportedProtocolException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified rules or the rules for the specified listener. You must specify\n      either a listener or one or more rules.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeRulesInput": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazon.elb.version_2015_12_01#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>"
          }
        },
        "Marker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazon.elb.version_2015_12_01#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        },
        "RuleArns": {
          "target": "com.amazon.elb.version_2015_12_01#RuleArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the rules.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeRulesOutput": {
      "type": "structure",
      "members": {
        "NextMarker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results. \n      Otherwise, this is null.</p>"
          }
        },
        "Rules": {
          "target": "com.amazon.elb.version_2015_12_01#Rules",
          "traits": {
            "smithy.api#documentation": "<p>Information about the rules.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeSSLPolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeSSLPoliciesInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeSSLPoliciesOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#SSLPolicyNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified policies or all policies used for SSL negotiation.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies\">Security Policies</a> in the <i>Application Load Balancers\n      Guide</i>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeSSLPoliciesInput": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "Names": {
          "target": "com.amazon.elb.version_2015_12_01#SslPolicyNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the policies.</p>"
          }
        },
        "PageSize": {
          "target": "com.amazon.elb.version_2015_12_01#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeSSLPoliciesOutput": {
      "type": "structure",
      "members": {
        "NextMarker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results. \n      Otherwise, this is null.</p>"
          }
        },
        "SslPolicies": {
          "target": "com.amazon.elb.version_2015_12_01#SslPolicies",
          "traits": {
            "smithy.api#documentation": "<p>Information about the policies.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTags": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeTagsInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeTagsOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#ListenerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#RuleNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the tags for the specified resources. You can describe the tags for one or\n      more Application Load Balancers, Network Load Balancers, and target groups.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTagsInput": {
      "type": "structure",
      "members": {
        "ResourceArns": {
          "target": "com.amazon.elb.version_2015_12_01#ResourceArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the resources.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTagsOutput": {
      "type": "structure",
      "members": {
        "TagDescriptions": {
          "target": "com.amazon.elb.version_2015_12_01#TagDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTargetGroupAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeTargetGroupAttributesInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeTargetGroupAttributesOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the attributes for the specified target group.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html#target-group-attributes\">Target Group Attributes</a> \n      in the <i>Application Load Balancers Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#target-group-attributes\">Target Group Attributes</a> \n      in the <i>Network Load Balancers Guide</i>.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTargetGroupAttributesInput": {
      "type": "structure",
      "members": {
        "TargetGroupArn": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTargetGroupAttributesOutput": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Information about the target group attributes</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTargetGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeTargetGroupsInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeTargetGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified target groups or all of your target groups. By default, all\n      target groups are described. Alternatively, you can specify one of the following to filter the\n      results: the ARN of the load balancer, the names of one or more target groups, or the ARNs of\n      one or more target groups.</p>\n         <p>To describe the targets for a target group, use <a>DescribeTargetHealth</a>.\n      To describe the attributes of a target group, use <a>DescribeTargetGroupAttributes</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "items": "TargetGroups"
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTargetGroupsInput": {
      "type": "structure",
      "members": {
        "LoadBalancerArn": {
          "target": "com.amazon.elb.version_2015_12_01#LoadBalancerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>"
          }
        },
        "Marker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "Names": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the target groups.</p>"
          }
        },
        "PageSize": {
          "target": "com.amazon.elb.version_2015_12_01#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        },
        "TargetGroupArns": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the target groups.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTargetGroupsOutput": {
      "type": "structure",
      "members": {
        "NextMarker": {
          "target": "com.amazon.elb.version_2015_12_01#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results. \n      Otherwise, this is null.</p>"
          }
        },
        "TargetGroups": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroups",
          "traits": {
            "smithy.api#documentation": "<p>Information about the target groups.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTargetHealth": {
      "type": "operation",
      "input": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeTargetHealthInput"
      },
      "output": {
        "target": "com.amazon.elb.version_2015_12_01#DescribeTargetHealthOutput"
      },
      "errors": [
        {
          "target": "com.amazon.elb.version_2015_12_01#HealthUnavailableException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#InvalidTargetException"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the health of the specified targets or all of your targets.</p>"
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTargetHealthInput": {
      "type": "structure",
      "members": {
        "TargetGroupArn": {
          "target": "com.amazon.elb.version_2015_12_01#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
            "smithy.api#required": true
          }
        },
        "Targets": {
          "target": "com.amazon.elb.version_2015_12_01#TargetDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The targets.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#DescribeTargetHealthOutput": {
      "type": "structure",
      "members": {
        "TargetHealthDescriptions": {
          "target": "com.amazon.elb.version_2015_12_01#TargetHealthDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Information about the health of the targets.</p>"
          }
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#Description": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#DuplicateListenerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.elb.version_2015_12_01#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A listener with the specified port already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.elb.version_2015_12_01#DuplicateLoadBalancerNameException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.elb.version_2015_12_01#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A load balancer with the specified name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.elb.version_2015_12_01#DuplicateTagKeysException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.elb.version_2015_12_01#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A tag key was specified more than once.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.elb.version_2015_12_01#DuplicateTargetGroupNameException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.elb.version_2015_12_01#ErrorDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A target group with the specified name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazon.elb.version_2015_12_01#ElasticLoadBalancing_v10": {
      "type": "service",
      "version": "2015-12-01",
      "operations": [
        {
          "target": "com.amazon.elb.version_2015_12_01#AddListenerCertificates"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#AddTags"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#CreateListener"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#CreateLoadBalancer"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#CreateRule"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#CreateTargetGroup"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DeleteListener"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DeleteLoadBalancer"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DeleteRule"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DeleteTargetGroup"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DeregisterTargets"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeAccountLimits"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeListenerCertificates"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeListeners"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeLoadBalancerAttributes"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeLoadBalancers"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeRules"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeSSLPolicies"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeTags"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeTargetGroupAttributes"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeTargetGroups"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#DescribeTargetHealth"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#ModifyListener"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#ModifyLoadBalancerAttributes"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#ModifyRule"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#ModifyTargetGroup"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#ModifyTargetGroupAttributes"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#RegisterTargets"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#RemoveListenerCertificates"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#RemoveTags"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#SetIpAddressType"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#SetRulePriorities"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#SetSecurityGroups"
        },
        {
          "target": "com.amazon.elb.version_2015_12_01#SetSubnets"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Elastic Load Balancing v2",
          "arnNamespace": "elasticloadbalancing",
          "cloudFormationName": "ElasticLoadBalancingV2",
          "cloudTrailEventSource": "version_2015_12_01.elb.amazon.com"
        },
        "smithy.api#documentation": "<fullname>Elastic Load Balancing</fullname>\n\n         <p>A load balancer distributes incoming traffic across targets, such as your EC2\n      instances. This enables you to increase the availability of your application. The load\n      balancer also monitors the health of its registered targets and ensures that it routes traffic\n      only to healthy targets. You configure your load balancer to accept incoming traffic by\n      specifying one or more listeners, which are configured with a protocol and port number for\n      connections from clients to the load balancer. You configure a target group with a protocol\n      and port number for connections from the load balancer to the targets, and with health check\n      settings to be used when checking the health status of the targets.</p>\n\n         <p>Elastic Load Balancing supports the following types of load balancers: Application Load\n      Balancers, Network Load Balancers, and Classic Load Balancers. This reference covers \n      Application Load Balancers and Network Load Balancers.</p>\n         <p>An Application Load Balancer makes routing and load balancing decisions at the\n      application layer (HTTP/HTTPS). A Network Load Balancer makes routing and load balancing\n      decisions at the transport layer (TCP/TLS). Both Application Load Balancers and Network Load\n      Balancers can route requests to one or more ports on each EC2 instance or container instance\n      in your virtual private cloud (VPC). For more information, see the <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/\">Elastic Load Balancing User\n      Guide</a>.</p>\n    \n    \n    \n\n    \n    \n\n         <p>All Elastic Load Balancing operations are idempotent, which means that they complete at\n      most one time. If you repeat an operation, it succeeds.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.query",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Elastic Load Balancing",
        "smithy.api#xmlNamespace": {
          "uri": "http://elasticloadbalancing.amazonaws.com/doc/2015-12-01/"
        }
      }
    },
    "com.amazon.elb.version_2015_12_01#ErrorDescription": {
      "type": "string"
    },
    "com.amazon.elb.version_2015_12_01#FixedResponseActionConfig": {
      "type": "structure",
      "members": {
        "ContentType": {
          "target": "com.amazon.elb.version_2015_12_01#FixedResponseActionContentType",
          "traits": {
[...]
