{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.elasticinference#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticinference#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Raised when a malformed input has been provided to the API.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticinference#EC2MatterhornCfSoothsayerApiGatewayLambda": {
      "type": "service",
      "version": "2017-07-25",
      "operations": [
        {
          "target": "com.amazonaws.elasticinference#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.elasticinference#TagResource"
        },
        {
          "target": "com.amazonaws.elasticinference#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Elastic Inference",
          "arnNamespace": "elastic-inference",
          "cloudFormationName": "ElasticInference",
          "cloudTrailEventSource": "ec2matterhorncfsoothsayerapigatewaylambda.amazon.com"
        },
        "aws.auth#sigv4": {
          "name": "elastic-inference"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "Elastic Inference public APIs.",
        "smithy.api#title": "Amazon Elastic  Inference"
      }
    },
    "com.amazonaws.elasticinference#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticinference#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Raised when an unexpected error occurred during request processing.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.elasticinference#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticinference#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticinference#ListTagsForResourceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticinference#BadRequestException"
        },
        {
          "target": "com.amazonaws.elasticinference#InternalServerException"
        },
        {
          "target": "com.amazonaws.elasticinference#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns all tags of an Elastic Inference Accelerator.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticinference#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.elasticinference#ResourceARN",
          "traits": {
            "smithy.api#documentation": "The ARN of the Elastic Inference Accelerator to list the tags for.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticinference#ListTagsForResourceResult": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.elasticinference#TagMap",
          "traits": {
            "smithy.api#documentation": "The tags of the Elastic Inference Accelerator."
          }
        }
      }
    },
    "com.amazonaws.elasticinference#ResourceARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.elasticinference#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticinference#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Raised when the requested resource cannot be found.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.elasticinference#String": {
      "type": "string"
    },
    "com.amazonaws.elasticinference#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.elasticinference#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticinference#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.elasticinference#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.elasticinference#TagKey"
      },
      "value": {
        "target": "com.amazonaws.elasticinference#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.elasticinference#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticinference#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticinference#TagResourceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticinference#BadRequestException"
        },
        {
          "target": "com.amazonaws.elasticinference#InternalServerException"
        },
        {
          "target": "com.amazonaws.elasticinference#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds the specified tag(s) to an Elastic Inference Accelerator.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticinference#TagResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.elasticinference#ResourceARN",
          "traits": {
            "smithy.api#documentation": "The ARN of the Elastic Inference Accelerator to tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.elasticinference#TagMap",
          "traits": {
            "smithy.api#documentation": "The tags to add to the Elastic Inference Accelerator.",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticinference#TagResourceResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.elasticinference#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.elasticinference#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticinference#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticinference#UntagResourceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticinference#BadRequestException"
        },
        {
          "target": "com.amazonaws.elasticinference#InternalServerException"
        },
        {
          "target": "com.amazonaws.elasticinference#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Removes the specified tag(s) from an Elastic Inference Accelerator.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.elasticinference#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.elasticinference#ResourceARN",
          "traits": {
            "smithy.api#documentation": "The ARN of the Elastic Inference Accelerator to untag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tagKeys": {
          "target": "com.amazonaws.elasticinference#TagKeyList",
          "traits": {
            "smithy.api#documentation": "The list of tags to remove from the Elastic Inference Accelerator.",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticinference#UntagResourceResult": {
      "type": "structure",
      "members": {}
    }
  }
}
