{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.elasticloadbalancingv2#ALPNPolicyNotSupportedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ALPNPolicyNotFound",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified ALPN policy is not supported.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticloadbalancingv2#Action": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.elasticloadbalancingv2#ActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The type of action.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetGroupArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group. Specify only when <code>Type</code> is\n        <code>forward</code> and you want to route to a single target group. To route to one or more\n      target groups, use <code>ForwardConfig</code> instead.</p>"
          }
        },
        "AuthenticateOidcConfig": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>[HTTPS listeners] Information about an identity provider that is compliant with OpenID\n      Connect (OIDC). Specify only when <code>Type</code> is <code>authenticate-oidc</code>.</p>"
          }
        },
        "AuthenticateCognitoConfig": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>[HTTPS listeners] Information for using Amazon Cognito to authenticate users. Specify only\n      when <code>Type</code> is <code>authenticate-cognito</code>.</p>"
          }
        },
        "Order": {
          "target": "com.amazonaws.elasticloadbalancingv2#ActionOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order for the action. This value is required for rules with multiple actions. The\n      action with the lowest value for order is performed first.</p>"
          }
        },
        "RedirectConfig": {
          "target": "com.amazonaws.elasticloadbalancingv2#RedirectActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>[Application Load Balancer] Information for creating a redirect action. Specify only when\n        <code>Type</code> is <code>redirect</code>.</p>"
          }
        },
        "FixedResponseConfig": {
          "target": "com.amazonaws.elasticloadbalancingv2#FixedResponseActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>[Application Load Balancer] Information for creating an action that returns a custom HTTP\n      response. Specify only when <code>Type</code> is <code>fixed-response</code>.</p>"
          }
        },
        "ForwardConfig": {
          "target": "com.amazonaws.elasticloadbalancingv2#ForwardActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information for creating an action that distributes requests among one or more target\n      groups. For Network Load Balancers, you can specify a single target group. Specify only when\n        <code>Type</code> is <code>forward</code>. If you specify both <code>ForwardConfig</code>\n      and <code>TargetGroupArn</code>, you can specify only one target group using\n        <code>ForwardConfig</code> and it must be the same target group specified in\n        <code>TargetGroupArn</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an action.</p>\n         <p>Each rule must include exactly one of the following types of actions:\n      <code>forward</code>, <code>fixed-response</code>, or <code>redirect</code>, and it must be\n      the last action to be performed.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#ActionOrder": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50000
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#ActionTypeEnum": {
      "type": "enum",
      "members": {
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forward"
          }
        },
        "AUTHENTICATE_OIDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticate-oidc"
          }
        },
        "AUTHENTICATE_COGNITO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticate-cognito"
          }
        },
        "REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirect"
          }
        },
        "FIXED_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed-response"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#Actions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticloadbalancingv2#Action"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AddListenerCertificates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#AddListenerCertificatesInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#AddListenerCertificatesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#CertificateNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyCertificatesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified SSL server certificate to the certificate list for the specified HTTPS\n      or TLS listener.</p>\n         <p>If the certificate in already in the certificate list, the call is successful but the\n      certificate is not added again.</p>\n    \n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html\">HTTPS\n        listeners</a> in the <i>Application Load Balancers Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html\">TLS\n        listeners</a> in the <i>Network Load Balancers Guide</i>.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AddListenerCertificatesInput": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#required": {}
          }
        },
        "Certificates": {
          "target": "com.amazonaws.elasticloadbalancingv2#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>The certificate to add. You can specify one certificate per call. Set\n        <code>CertificateArn</code> to the certificate ARN but do not set\n      <code>IsDefault</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AddListenerCertificatesOutput": {
      "type": "structure",
      "members": {
        "Certificates": {
          "target": "com.amazonaws.elasticloadbalancingv2#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the certificates in the certificate list.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#AddTagsInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#AddTagsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#RuleNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag your\n      Application Load Balancers, Network Load Balancers, Gateway Load Balancers, target groups,\n      listeners, and rules.</p>\n         <p>Each tag consists of a key and an optional value. If a resource already has a tag with the\n      same key, <code>AddTags</code> updates its value.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AddTagsInput": {
      "type": "structure",
      "members": {
        "ResourceArns": {
          "target": "com.amazonaws.elasticloadbalancingv2#ResourceArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticloadbalancingv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AddTagsOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.elasticloadbalancingv2#AllocationId": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AllocationIdNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AllocationIdNotFound",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified allocation ID does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AlpnPolicyName": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticloadbalancingv2#AlpnPolicyValue"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AlpnPolicyValue": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestExtraParams": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestParamName"
      },
      "value": {
        "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestParamValue"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestParamName": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestParamValue": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionConditionalBehaviorEnum": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "AUTHENTICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticate"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionConfig": {
      "type": "structure",
      "members": {
        "UserPoolArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Cognito user pool.</p>",
            "smithy.api#required": {}
          }
        },
        "UserPoolClientId": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolClientId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Cognito user pool client.</p>",
            "smithy.api#required": {}
          }
        },
        "UserPoolDomain": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolDomain",
          "traits": {
            "smithy.api#documentation": "<p>The domain prefix or fully-qualified domain name of the Amazon Cognito user pool.</p>",
            "smithy.api#required": {}
          }
        },
        "SessionCookieName": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionSessionCookieName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cookie used to maintain session information. The default is\n      AWSELBAuthSessionCookie.</p>"
          }
        },
        "Scope": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionScope",
          "traits": {
            "smithy.api#documentation": "<p>The set of user claims to be requested from the IdP. The default is\n      <code>openid</code>.</p>\n         <p>To verify which scope values your IdP supports and how to separate multiple values, see\n      the documentation for your IdP.</p>"
          }
        },
        "SessionTimeout": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionSessionTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The maximum duration of the authentication session, in seconds. The default is 604800\n      seconds (7 days).</p>"
          }
        },
        "AuthenticationRequestExtraParams": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionAuthenticationRequestExtraParams",
          "traits": {
            "smithy.api#documentation": "<p>The query parameters (up to 10) to include in the redirect request to the authorization\n      endpoint.</p>"
          }
        },
        "OnUnauthenticatedRequest": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionConditionalBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "<p>The behavior if the user is not authenticated. The following are possible values:</p>\n         <ul>\n            <li>\n               <p>deny<code></code> - Return an HTTP 401 Unauthorized error.</p>\n            </li>\n            <li>\n               <p>allow<code></code> - Allow the request to be forwarded to the target.</p>\n            </li>\n            <li>\n               <p>authenticate<code></code> - Redirect the request to the IdP authorization endpoint. This is\n          the default value.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request parameters to use when integrating with Amazon Cognito to authenticate\n      users.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionScope": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionSessionCookieName": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionSessionTimeout": {
      "type": "long"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolArn": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolClientId": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateCognitoActionUserPoolDomain": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestExtraParams": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestParamName"
      },
      "value": {
        "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestParamValue"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestParamName": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestParamValue": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthorizationEndpoint": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionClientId": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionClientSecret": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionConditionalBehaviorEnum": {
      "type": "enum",
      "members": {
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny"
          }
        },
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow"
          }
        },
        "AUTHENTICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticate"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionConfig": {
      "type": "structure",
      "members": {
        "Issuer": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionIssuer",
          "traits": {
            "smithy.api#documentation": "<p>The OIDC issuer identifier of the IdP. This must be a full URL, including the HTTPS\n      protocol, the domain, and the path.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthorizationEndpoint": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthorizationEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The authorization endpoint of the IdP. This must be a full URL, including the HTTPS\n      protocol, the domain, and the path.</p>",
            "smithy.api#required": {}
          }
        },
        "TokenEndpoint": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionTokenEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The token endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the\n      domain, and the path.</p>",
            "smithy.api#required": {}
          }
        },
        "UserInfoEndpoint": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionUserInfoEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The user info endpoint of the IdP. This must be a full URL, including the HTTPS protocol,\n      the domain, and the path.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientId": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionClientId",
          "traits": {
            "smithy.api#documentation": "<p>The OAuth 2.0 client identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientSecret": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>The OAuth 2.0 client secret. This parameter is required if you are creating a rule. If you\n      are modifying a rule, you can omit this parameter if you set\n        <code>UseExistingClientSecret</code> to true.</p>"
          }
        },
        "SessionCookieName": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionSessionCookieName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cookie used to maintain session information. The default is\n      AWSELBAuthSessionCookie.</p>"
          }
        },
        "Scope": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionScope",
          "traits": {
            "smithy.api#documentation": "<p>The set of user claims to be requested from the IdP. The default is\n      <code>openid</code>.</p>\n         <p>To verify which scope values your IdP supports and how to separate multiple values, see\n      the documentation for your IdP.</p>"
          }
        },
        "SessionTimeout": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionSessionTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The maximum duration of the authentication session, in seconds. The default is 604800\n      seconds (7 days).</p>"
          }
        },
        "AuthenticationRequestExtraParams": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionAuthenticationRequestExtraParams",
          "traits": {
            "smithy.api#documentation": "<p>The query parameters (up to 10) to include in the redirect request to the authorization\n      endpoint.</p>"
          }
        },
        "OnUnauthenticatedRequest": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionConditionalBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "<p>The behavior if the user is not authenticated. The following are possible values:</p>\n         <ul>\n            <li>\n               <p>deny<code></code> - Return an HTTP 401 Unauthorized error.</p>\n            </li>\n            <li>\n               <p>allow<code></code> - Allow the request to be forwarded to the target.</p>\n            </li>\n            <li>\n               <p>authenticate<code></code> - Redirect the request to the IdP authorization endpoint. This is\n          the default value.</p>\n            </li>\n         </ul>"
          }
        },
        "UseExistingClientSecret": {
          "target": "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionUseExistingClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to use the existing client secret when modifying a rule. If you are\n      creating a rule, you can omit this parameter or set it to false.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request parameters when using an identity provider (IdP) that is compliant with OpenID\n      Connect (OIDC) to authenticate users.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionIssuer": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionScope": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionSessionCookieName": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionSessionTimeout": {
      "type": "long"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionTokenEndpoint": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionUseExistingClientSecret": {
      "type": "boolean"
    },
    "com.amazonaws.elasticloadbalancingv2#AuthenticateOidcActionUserInfoEndpoint": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#AvailabilityZone": {
      "type": "structure",
      "members": {
        "ZoneName": {
          "target": "com.amazonaws.elasticloadbalancingv2#ZoneName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.elasticloadbalancingv2#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>"
          }
        },
        "OutpostId": {
          "target": "com.amazonaws.elasticloadbalancingv2#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>[Application Load Balancers on Outposts] The ID of the Outpost.</p>"
          }
        },
        "LoadBalancerAddresses": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerAddresses",
          "traits": {
            "smithy.api#documentation": "<p>[Network Load Balancers] If you need static IP addresses for your load balancer, you can\n      specify one Elastic IP address per Availability Zone when you create an internal-facing load\n      balancer. For internal load balancers, you can specify a private IP address from the IPv4\n      range of the subnet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Availability Zone.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AvailabilityZoneNotSupportedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AvailabilityZoneNotSupported",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified Availability Zone is not supported.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticloadbalancingv2#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticloadbalancingv2#AvailabilityZone"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CanonicalHostedZoneId": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#Certificate": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#CertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate.</p>"
          }
        },
        "IsDefault": {
          "target": "com.amazonaws.elasticloadbalancingv2#Default",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the certificate is the default certificate. Do not set this value when\n      specifying a certificate as an input. This value is not included in the output when describing\n      a listener, but is included when describing listener certificates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an SSL server certificate.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CertificateArn": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#CertificateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticloadbalancingv2#Certificate"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CertificateNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.elasticloadbalancingv2#ErrorDescription"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CertificateNotFound",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified certificate does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticloadbalancingv2#Cipher": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.elasticloadbalancingv2#CipherName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cipher.</p>"
          }
        },
        "Priority": {
          "target": "com.amazonaws.elasticloadbalancingv2#CipherPriority",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The priority of the cipher.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a cipher used in a policy.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CipherName": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#CipherPriority": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.elasticloadbalancingv2#Ciphers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticloadbalancingv2#Cipher"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#ConditionFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#CreateListenerInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#CreateListenerOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ALPNPolicyNotSupportedException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#CertificateNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#DuplicateListenerException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#IncompatibleProtocolsException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#InvalidConfigurationRequestException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#InvalidLoadBalancerActionException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#SSLPolicyNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupAssociationLimitException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyActionsException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyCertificatesException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyListenersException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyRegistrationsForTargetIdException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyTargetsException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyUniqueTargetGroupsPerLoadBalancerException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#UnsupportedProtocolException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a listener for the specified Application Load Balancer, Network Load Balancer, or\n      Gateway Load Balancer.</p>\n    \n\n         <p>For more information, see the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for\n            your Application Load Balancers</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html\">Listeners for\n            your Network Load Balancers</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-listeners.html\">Listeners for your\n            Gateway Load Balancers</a>\n               </p>\n            </li>\n         </ul>\n\n         <p>This operation is idempotent, which means that it completes at most one time. If you\n      attempt to create multiple listeners with the same settings, each call succeeds.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateListenerInput": {
      "type": "structure",
      "members": {
        "LoadBalancerArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.elasticloadbalancingv2#ProtocolEnum",
          "traits": {
            "smithy.api#documentation": "<p>The protocol for connections from clients to the load balancer. For Application Load\n      Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the\n      supported protocols are TCP, TLS, UDP, and TCP_UDP. You can’t specify the UDP or TCP_UDP\n      protocol if dual-stack mode is enabled. You cannot specify a protocol for a Gateway Load\n      Balancer.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.elasticloadbalancingv2#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port on which the load balancer is listening. You cannot specify a port for a Gateway\n      Load Balancer.</p>"
          }
        },
        "SslPolicy": {
          "target": "com.amazonaws.elasticloadbalancingv2#SslPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>[HTTPS and TLS listeners] The security policy that defines which protocols and ciphers are\n      supported.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies\">Security policies</a> in the <i>Application Load Balancers Guide</i> and\n        <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html#describe-ssl-policies\">Security policies</a> in the <i>Network Load Balancers Guide</i>.</p>"
          }
        },
        "Certificates": {
          "target": "com.amazonaws.elasticloadbalancingv2#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>[HTTPS and TLS listeners] The default certificate for the listener. You must provide\n      exactly one certificate. Set <code>CertificateArn</code> to the certificate ARN but do not set\n        <code>IsDefault</code>.</p>"
          }
        },
        "DefaultActions": {
          "target": "com.amazonaws.elasticloadbalancingv2#Actions",
          "traits": {
            "smithy.api#documentation": "<p>The actions for the default rule.</p>",
            "smithy.api#required": {}
          }
        },
        "AlpnPolicy": {
          "target": "com.amazonaws.elasticloadbalancingv2#AlpnPolicyName",
          "traits": {
            "smithy.api#documentation": "<p>[TLS listeners] The name of the Application-Layer Protocol Negotiation (ALPN) policy. You\n      can specify one policy name. The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>HTTP1Only</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>HTTP2Only</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>HTTP2Optional</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>HTTP2Preferred</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>None</code>\n               </p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html#alpn-policies\">ALPN\n        policies</a> in the <i>Network Load Balancers Guide</i>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticloadbalancingv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the listener.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateListenerOutput": {
      "type": "structure",
      "members": {
        "Listeners": {
          "target": "com.amazonaws.elasticloadbalancingv2#Listeners",
          "traits": {
            "smithy.api#documentation": "<p>Information about the listener.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateLoadBalancer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#CreateLoadBalancerInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#CreateLoadBalancerOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#AllocationIdNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#AvailabilityZoneNotSupportedException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#DuplicateLoadBalancerNameException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#DuplicateTagKeysException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#InvalidConfigurationRequestException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#InvalidSchemeException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#InvalidSecurityGroupException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#InvalidSubnetException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#SubnetNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyLoadBalancersException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Application Load Balancer, Network Load Balancer, or Gateway Load\n      Balancer.</p>\n\n    \n\n         <p>For more information, see the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html\">Application Load Balancers</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html\">Network Load\n            Balancers</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-load-balancers.html\">Gateway Load\n            Balancers</a>\n               </p>\n            </li>\n         </ul>\n\n         <p>This operation is idempotent, which means that it completes at most one time. If you\n      attempt to create multiple load balancers with the same settings, each call succeeds.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateLoadBalancerInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the load balancer.</p>\n         <p>This name must be unique per region per account, can have a maximum of 32 characters, must\n      contain only alphanumeric characters or hyphens, must not begin or end with a hyphen, and must\n      not begin with \"internal-\".</p>",
            "smithy.api#required": {}
          }
        },
        "Subnets": {
          "target": "com.amazonaws.elasticloadbalancingv2#Subnets",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You\n      must specify either subnets or subnet mappings, but not both. To specify an Elastic IP\n      address, specify subnet mappings instead of subnets.</p>\n         <p>[Application Load Balancers] You must specify subnets from at least two Availability\n      Zones.</p>\n         <p>[Application Load Balancers on Outposts] You must specify one Outpost subnet.</p>\n         <p>[Application Load Balancers on Local Zones] You can specify subnets from one or more Local\n      Zones.</p>\n         <p>[Network Load Balancers] You can specify subnets from one or more Availability\n      Zones.</p>\n         <p>[Gateway Load Balancers] You can specify subnets from one or more Availability\n      Zones.</p>"
          }
        },
        "SubnetMappings": {
          "target": "com.amazonaws.elasticloadbalancingv2#SubnetMappings",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You\n      must specify either subnets or subnet mappings, but not both.</p>\n         <p>[Application Load Balancers] You must specify subnets from at least two Availability\n      Zones. You cannot specify Elastic IP addresses for your subnets.</p>\n         <p>[Application Load Balancers on Outposts] You must specify one Outpost subnet.</p>\n         <p>[Application Load Balancers on Local Zones] You can specify subnets from one or more Local\n      Zones.</p>\n         <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones. You\n      can specify one Elastic IP address per subnet if you need static IP addresses for your\n      internet-facing load balancer. For internal load balancers, you can specify one private IP\n      address per subnet from the IPv4 range of the subnet. For internet-facing load balancer, you\n      can specify one IPv6 address per subnet.</p>\n         <p>[Gateway Load Balancers] You can specify subnets from one or more Availability Zones. You\n      cannot specify Elastic IP addresses for your subnets.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.elasticloadbalancingv2#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>[Application Load Balancers] The IDs of the security groups for the load balancer.</p>"
          }
        },
        "Scheme": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerSchemeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an\n      Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes.\n      Therefore, Internet-facing load balancers can route requests from clients over the\n      internet.</p>\n         <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of an\n      internal load balancer is publicly resolvable to the private IP addresses of the nodes.\n      Therefore, internal load balancers can route requests only from clients with access to the VPC\n      for the load balancer.</p>\n         <p>The default is an Internet-facing load balancer.</p>\n         <p>You cannot specify a scheme for a Gateway Load Balancer.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticloadbalancingv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the load balancer.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The type of load balancer. The default is <code>application</code>.</p>"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.elasticloadbalancingv2#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The type of IP addresses used by the subnets for your load balancer. The possible values\n      are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6\n      addresses). </p>"
          }
        },
        "CustomerOwnedIpv4Pool": {
          "target": "com.amazonaws.elasticloadbalancingv2#CustomerOwnedIpv4Pool",
          "traits": {
            "smithy.api#documentation": "<p>[Application Load Balancers on Outposts] The ID of the customer-owned address pool (CoIP\n      pool).</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateLoadBalancerOutput": {
      "type": "structure",
      "members": {
        "LoadBalancers": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancers",
          "traits": {
            "smithy.api#documentation": "<p>Information about the load balancer.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#CreateRuleInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#CreateRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#IncompatibleProtocolsException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#InvalidConfigurationRequestException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#InvalidLoadBalancerActionException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#PriorityInUseException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupAssociationLimitException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyActionsException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyRegistrationsForTargetIdException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyRulesException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyTargetGroupsException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyTargetsException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyUniqueTargetGroupsPerLoadBalancerException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#UnsupportedProtocolException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a rule for the specified listener. The listener must be associated with an\n      Application Load Balancer.</p>\n         <p>Each rule consists of a priority, one or more actions, and one or more conditions. Rules\n      are evaluated in priority order, from the lowest value to the highest value. When the\n      conditions for a rule are met, its actions are performed. If the conditions for no rules are\n      met, the actions for the default rule are performed. For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules\">Listener rules</a> in the <i>Application Load Balancers Guide</i>.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateRuleInput": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#required": {}
          }
        },
        "Conditions": {
          "target": "com.amazonaws.elasticloadbalancingv2#RuleConditionList",
          "traits": {
            "smithy.api#documentation": "<p>The conditions.</p>",
            "smithy.api#required": {}
          }
        },
        "Priority": {
          "target": "com.amazonaws.elasticloadbalancingv2#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The rule priority. A listener can't have multiple rules with the same priority.</p>",
            "smithy.api#required": {}
          }
        },
        "Actions": {
          "target": "com.amazonaws.elasticloadbalancingv2#Actions",
          "traits": {
            "smithy.api#documentation": "<p>The actions.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticloadbalancingv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateRuleOutput": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazonaws.elasticloadbalancingv2#Rules",
          "traits": {
            "smithy.api#documentation": "<p>Information about the rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateTargetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#CreateTargetGroupInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#CreateTargetGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#DuplicateTargetGroupNameException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#InvalidConfigurationRequestException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TooManyTargetGroupsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a target group.</p>\n    \n    \n    \n         <p>For more information, see the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\">Target\n            groups for your Application Load Balancers</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html\">Target groups\n            for your Network Load Balancers</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/target-groups.html\">Target groups for your\n            Gateway Load Balancers</a>\n               </p>\n            </li>\n         </ul>\n\n         <p>This operation is idempotent, which means that it completes at most one time. If you\n      attempt to create multiple target groups with the same settings, each call succeeds.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateTargetGroupInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target group.</p>\n         <p>This name must be unique per region per account, can have a maximum of 32 characters, must\n      contain only alphanumeric characters or hyphens, and must not begin or end with a\n      hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.elasticloadbalancingv2#ProtocolEnum",
          "traits": {
            "smithy.api#documentation": "<p>The protocol to use for routing traffic to the targets. For Application Load Balancers,\n      the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported\n      protocols are TCP, TLS, UDP, or TCP_UDP. For Gateway Load Balancers, the supported protocol is\n      GENEVE. A TCP_UDP listener must be associated with a TCP_UDP target group. If the target is a\n      Lambda function, this parameter does not apply.</p>"
          }
        },
        "ProtocolVersion": {
          "target": "com.amazonaws.elasticloadbalancingv2#ProtocolVersion",
          "traits": {
            "smithy.api#documentation": "<p>[HTTP/HTTPS protocol] The protocol version. Specify <code>GRPC</code> to send requests to\n      targets using gRPC. Specify <code>HTTP2</code> to send requests to targets using HTTP/2. The\n      default is <code>HTTP1</code>, which sends requests to targets using HTTP/1.1.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.elasticloadbalancingv2#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port on which the targets receive traffic. This port is used unless you specify a port\n      override when registering the target. If the target is a Lambda function, this parameter does\n      not apply. If the protocol is GENEVE, the supported port is 6081.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.elasticloadbalancingv2#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the virtual private cloud (VPC). If the target is a Lambda function,\n      this parameter does not apply. Otherwise, this parameter is required.</p>"
          }
        },
        "HealthCheckProtocol": {
          "target": "com.amazonaws.elasticloadbalancingv2#ProtocolEnum",
          "traits": {
            "smithy.api#documentation": "<p>The protocol the load balancer uses when performing health checks on targets. For\n      Application Load Balancers, the default is HTTP. For Network Load Balancers and Gateway Load\n      Balancers, the default is TCP. The TCP protocol is not supported for health checks if the\n      protocol of the target group is HTTP or HTTPS. The GENEVE, TLS, UDP, and TCP_UDP protocols are\n      not supported for health checks.</p>"
          }
        },
        "HealthCheckPort": {
          "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckPort",
          "traits": {
            "smithy.api#documentation": "<p>The port the load balancer uses when performing health checks on targets. If the protocol\n      is HTTP, HTTPS, TCP, TLS, UDP, or TCP_UDP, the default is <code>traffic-port</code>, which is\n      the port on which each target receives traffic from the load balancer. If the protocol is\n      GENEVE, the default is port 80.</p>"
          }
        },
        "HealthCheckEnabled": {
          "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether health checks are enabled. If the target type is <code>lambda</code>,\n      health checks are disabled by default but can be enabled. If the target type is\n        <code>instance</code>, <code>ip</code>, or <code>alb</code>, health checks are always\n      enabled and cannot be disabled.</p>"
          }
        },
        "HealthCheckPath": {
          "target": "com.amazonaws.elasticloadbalancingv2#Path",
          "traits": {
            "smithy.api#documentation": "<p>[HTTP/HTTPS health checks] The destination for health checks on the targets.</p>\n         <p>[HTTP1 or HTTP2 protocol version] The ping path. The default is /.</p>\n         <p>[GRPC protocol version] The path of a custom health check method with the format\n      /package.service/method. The default is /Amazon Web Services.ALB/healthcheck.</p>"
          }
        },
        "HealthCheckIntervalSeconds": {
          "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckIntervalSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The approximate amount of time, in seconds, between health checks of an individual target. The range is 5-300.\n      If the target group protocol is TCP, TLS, UDP, TCP_UDP, HTTP or HTTPS, the default is 30 seconds. \n      If the target group protocol is GENEVE, the default is 10 seconds. \n      If the target type is <code>lambda</code>, the default is 35 seconds.</p>"
          }
        },
        "HealthCheckTimeoutSeconds": {
          "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckTimeoutSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, during which no response from a target means a failed \n      health check. The range is 2–120 seconds. For target groups with a protocol of HTTP, the \n      default is 6 seconds. For target groups with a protocol of TCP, TLS or HTTPS, the default \n      is 10 seconds. For target groups with a protocol of GENEVE, the default is 5 seconds. If \n      the target type is <code>lambda</code>, the default is 30 seconds.</p>"
          }
        },
        "HealthyThresholdCount": {
          "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckThresholdCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of consecutive health check successes required before considering a target healthy. The range is \n      2-10. If the target group protocol is TCP, TCP_UDP, UDP, TLS, HTTP or HTTPS, the default is 5. For target groups \n      with a protocol of GENEVE, the default is 3. If the target type \n      is <code>lambda</code>, the default is 5.</p>"
          }
        },
        "UnhealthyThresholdCount": {
          "target": "com.amazonaws.elasticloadbalancingv2#HealthCheckThresholdCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of consecutive health check failures required before considering a target unhealthy. The range is \n      2-10. If the target group protocol is TCP, TCP_UDP, UDP, TLS, HTTP or HTTPS, the default is 2. For target groups \n      with a protocol of GENEVE, the default is 3. If the target type \n      is <code>lambda</code>, the default is 5.</p>"
          }
        },
        "Matcher": {
          "target": "com.amazonaws.elasticloadbalancingv2#Matcher",
          "traits": {
            "smithy.api#documentation": "<p>[HTTP/HTTPS health checks] The HTTP or gRPC codes to use when checking for a successful \n      response from a target. For target groups with a protocol of TCP, TCP_UDP, UDP or TLS the range \n      is 200-599. For target groups with a protocol of HTTP or HTTPS, the range is 200-499. For target \n      groups with a protocol of GENEVE, the range is 200-399.</p>"
          }
        },
        "TargetType": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The type of target that you must specify when registering targets with this target group.\n      You can't specify targets for a target group using more than one target type.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>instance</code> - Register targets by instance ID. This is the default\n          value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ip</code> - Register targets by IP address. You can specify IP addresses from\n          the subnets of the virtual private cloud (VPC) for the target group, the RFC 1918 range\n          (10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16), and the RFC 6598 range (100.64.0.0/10).\n          You can't specify publicly routable IP addresses.</p>\n            </li>\n            <li>\n               <p>\n                  <code>lambda</code> - Register a single Lambda function as a target.</p>\n            </li>\n            <li>\n               <p>\n                  <code>alb</code> - Register a single Application Load Balancer as a target.</p>\n            </li>\n         </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticloadbalancingv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the target group.</p>"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupIpAddressTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The type of IP address used for this target group. The possible values are\n        <code>ipv4</code> and <code>ipv6</code>. This is an optional parameter. If not specified,\n      the IP address type defaults to <code>ipv4</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreateTargetGroupOutput": {
      "type": "structure",
      "members": {
        "TargetGroups": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroups",
          "traits": {
            "smithy.api#documentation": "<p>Information about the target group.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#CreatedTime": {
      "type": "timestamp"
    },
    "com.amazonaws.elasticloadbalancingv2#CustomerOwnedIpv4Pool": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^(ipv4pool-coip-)[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DNSName": {
      "type": "string"
    },
    "com.amazonaws.elasticloadbalancingv2#Default": {
      "type": "boolean"
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DeleteListenerInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DeleteListenerOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified listener.</p>\n         <p>Alternatively, your listener is deleted when you delete the load balancer to which it is\n        attached.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteListenerInput": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteListenerOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteLoadBalancer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DeleteLoadBalancerInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DeleteLoadBalancerOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Application Load Balancer, Network Load Balancer, or Gateway Load\n      Balancer. Deleting a load balancer also deletes its listeners.</p>\n         <p>You can't delete a load balancer if deletion protection is enabled. If the load balancer\n      does not exist or has already been deleted, the call succeeds.</p>\n         <p>Deleting a load balancer does not affect its registered targets. For example, your EC2\n      instances continue to run and are still registered to their target groups. If you no longer\n      need these EC2 instances, you can stop or terminate them.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteLoadBalancerInput": {
      "type": "structure",
      "members": {
        "LoadBalancerArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteLoadBalancerOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DeleteRuleInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DeleteRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#RuleNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified rule.</p>\n         <p>You can't delete the default rule.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteRuleInput": {
      "type": "structure",
      "members": {
        "RuleArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteRuleOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteTargetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DeleteTargetGroupInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DeleteTargetGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified target group.</p>\n         <p>You can delete a target group if it is not referenced by any actions. Deleting a target\n      group also deletes any associated health checks. Deleting a target group does not affect its\n      registered targets. For example, any EC2 instances continue to run until you stop or terminate\n      them.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteTargetGroupInput": {
      "type": "structure",
      "members": {
        "TargetGroupArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DeleteTargetGroupOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.elasticloadbalancingv2#DeregisterTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DeregisterTargetsInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DeregisterTargetsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#InvalidTargetException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters the specified targets from the specified target group. After the targets are\n      deregistered, they no longer receive traffic from the load balancer.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DeregisterTargetsInput": {
      "type": "structure",
      "members": {
        "TargetGroupArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
            "smithy.api#required": {}
          }
        },
        "Targets": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The targets. If you specified a port override when you registered a target, you must\n      specify both the target ID and the port when you deregister it.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DeregisterTargetsOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeAccountLimits": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeAccountLimitsInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeAccountLimitsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the current Elastic Load Balancing resource limits for your Amazon Web Services\n      account.</p>\n         <p>For more information, see the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Quotas for your\n            Application Load Balancers</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html\">Quotas for your\n            Network Load Balancers</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/quotas-limits.html\">Quotas for your Gateway\n            Load Balancers</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeAccountLimitsInput": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazonaws.elasticloadbalancingv2#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeAccountLimitsOutput": {
      "type": "structure",
      "members": {
        "Limits": {
          "target": "com.amazonaws.elasticloadbalancingv2#Limits",
          "traits": {
            "smithy.api#documentation": "<p>Information about the limits.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results.\n      Otherwise, this is null.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeListenerCertificates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeListenerCertificatesInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeListenerCertificatesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the default certificate and the certificate list for the specified HTTPS or TLS\n      listener.</p>\n         <p>If the default certificate is also in the certificate list, it appears twice in the\n      results (once with <code>IsDefault</code> set to true and once with <code>IsDefault</code> set\n      to false).</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#https-listener-certificates\">SSL certificates</a> in the <i>Application Load Balancers Guide</i> or\n        <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html#tls-listener-certificate\">Server certificates</a> in the <i>Network Load Balancers\n      Guide</i>.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeListenerCertificatesInput": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the listener.</p>",
            "smithy.api#required": {}
          }
        },
        "Marker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazonaws.elasticloadbalancingv2#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeListenerCertificatesOutput": {
      "type": "structure",
      "members": {
        "Certificates": {
          "target": "com.amazonaws.elasticloadbalancingv2#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the certificates.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results.\n      Otherwise, this is null.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeListeners": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeListenersInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeListenersOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#UnsupportedProtocolException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified listeners or the listeners for the specified Application Load\n      Balancer, Network Load Balancer, or Gateway Load Balancer. You must specify either a load\n      balancer or one or more listeners.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "items": "Listeners"
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeListenersInput": {
      "type": "structure",
      "members": {
        "LoadBalancerArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>"
          }
        },
        "ListenerArns": {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the listeners.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazonaws.elasticloadbalancingv2#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeListenersOutput": {
      "type": "structure",
      "members": {
        "Listeners": {
          "target": "com.amazonaws.elasticloadbalancingv2#Listeners",
          "traits": {
            "smithy.api#documentation": "<p>Information about the listeners.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results.\n      Otherwise, this is null.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeLoadBalancerAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeLoadBalancerAttributesInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeLoadBalancerAttributesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the attributes for the specified Application Load Balancer, Network Load\n      Balancer, or Gateway Load Balancer.</p>\n\n         <p>For more information, see the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html#load-balancer-attributes\">Load balancer attributes</a> in the <i>Application Load Balancers\n            Guide</i>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html#load-balancer-attributes\">Load balancer attributes</a> in the <i>Network Load Balancers\n            Guide</i>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-load-balancers.html#load-balancer-attributes\">Load balancer attributes</a> in the <i>Gateway Load Balancers\n            Guide</i>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeLoadBalancerAttributesInput": {
      "type": "structure",
      "members": {
        "LoadBalancerArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeLoadBalancerAttributesOutput": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Information about the load balancer attributes.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeLoadBalancers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeLoadBalancersInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeLoadBalancersOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified load balancers or all of your load balancers.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "items": "LoadBalancers"
        },
        "smithy.api#suppress": ["WaitableTraitInvalidErrorType"],
        "smithy.waiters#waitable": {
          "LoadBalancerAvailable": {
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "LoadBalancers[].State.Code",
                    "expected": "active",
                    "comparator": "allStringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "LoadBalancers[].State.Code",
                    "expected": "provisioning",
                    "comparator": "anyStringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "LoadBalancerNotFound"
                }
              }
            ],
            "minDelay": 15
          },
          "LoadBalancerExists": {
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "success": true
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "LoadBalancerNotFound"
                }
              }
            ],
            "minDelay": 15
          },
          "LoadBalancersDeleted": {
            "acceptors": [
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "LoadBalancers[].State.Code",
                    "expected": "active",
                    "comparator": "allStringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "errorType": "LoadBalancerNotFound"
                }
              }
            ],
            "minDelay": 15
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeLoadBalancersInput": {
      "type": "structure",
      "members": {
        "LoadBalancerArns": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the load balancers. You can specify up to 20 load\n      balancers in a single call.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the load balancers.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazonaws.elasticloadbalancingv2#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeLoadBalancersOutput": {
      "type": "structure",
      "members": {
        "LoadBalancers": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancers",
          "traits": {
            "smithy.api#documentation": "<p>Information about the load balancers.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results.\n      Otherwise, this is null.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeRulesInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#RuleNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#UnsupportedProtocolException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified rules or the rules for the specified listener. You must specify\n      either a listener or one or more rules.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeRulesInput": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>"
          }
        },
        "RuleArns": {
          "target": "com.amazonaws.elasticloadbalancingv2#RuleArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the rules.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazonaws.elasticloadbalancingv2#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeRulesOutput": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazonaws.elasticloadbalancingv2#Rules",
          "traits": {
            "smithy.api#documentation": "<p>Information about the rules.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results.\n      Otherwise, this is null.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeSSLPolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeSSLPoliciesInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeSSLPoliciesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#SSLPolicyNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified policies or all policies used for SSL negotiation.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies\">Security policies</a> in the <i>Application Load Balancers Guide</i> or\n        <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html#describe-ssl-policies\">Security policies</a> in the <i>Network Load Balancers Guide</i>.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeSSLPoliciesInput": {
      "type": "structure",
      "members": {
        "Names": {
          "target": "com.amazonaws.elasticloadbalancingv2#SslPolicyNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the policies.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazonaws.elasticloadbalancingv2#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        },
        "LoadBalancerType": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p> The type of load balancer. The default lists the SSL policies for all load\n      balancers.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeSSLPoliciesOutput": {
      "type": "structure",
      "members": {
        "SslPolicies": {
          "target": "com.amazonaws.elasticloadbalancingv2#SslPolicies",
          "traits": {
            "smithy.api#documentation": "<p>Information about the security policies.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the marker for the next set of results.\n      Otherwise, this is null.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeTagsInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeTagsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#ListenerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#RuleNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the tags for the specified Elastic Load Balancing resources. You can describe\n      the tags for one or more Application Load Balancers, Network Load Balancers, Gateway Load\n      Balancers, target groups, listeners, or rules.</p>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeTagsInput": {
      "type": "structure",
      "members": {
        "ResourceArns": {
          "target": "com.amazonaws.elasticloadbalancingv2#ResourceArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the resources. You can specify up to 20 resources in a\n      single call.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeTagsOutput": {
      "type": "structure",
      "members": {
        "TagDescriptions": {
          "target": "com.amazonaws.elasticloadbalancingv2#TagDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeTargetGroupAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeTargetGroupAttributesInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeTargetGroupAttributesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the attributes for the specified target group.</p>\n         <p>For more information, see the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html#target-group-attributes\">Target group attributes</a> in the <i>Application Load Balancers\n            Guide</i>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#target-group-attributes\">Target group attributes</a> in the <i>Network Load Balancers\n            Guide</i>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/target-groups.html#target-group-attributes\">Target group attributes</a> in the <i>Gateway Load Balancers\n            Guide</i>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeTargetGroupAttributesInput": {
      "type": "structure",
      "members": {
        "TargetGroupArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeTargetGroupAttributesOutput": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Information about the target group attributes</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeTargetGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeTargetGroupsInput"
      },
      "output": {
        "target": "com.amazonaws.elasticloadbalancingv2#DescribeTargetGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerNotFoundException"
        },
        {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified target groups or all of your target groups. By default, all target\n      groups are described. Alternatively, you can specify one of the following to filter the\n      results: the ARN of the load balancer, the names of one or more target groups, or the ARNs of\n      one or more target groups.</p>",
        "smithy.api#paginated": {
          "inputToken": "Marker",
          "outputToken": "NextMarker",
          "items": "TargetGroups"
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeTargetGroupsInput": {
      "type": "structure",
      "members": {
        "LoadBalancerArn": {
          "target": "com.amazonaws.elasticloadbalancingv2#LoadBalancerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>"
          }
        },
        "TargetGroupArns": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the target groups.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroupNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the target groups.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
          "traits": {
            "smithy.api#documentation": "<p>The marker for the next set of results. (You received this marker from a previous\n      call.)</p>"
          }
        },
        "PageSize": {
          "target": "com.amazonaws.elasticloadbalancingv2#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with this call.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticloadbalancingv2#DescribeTargetGroupsOutput": {
      "type": "structure",
      "members": {
        "TargetGroups": {
          "target": "com.amazonaws.elasticloadbalancingv2#TargetGroups",
          "traits": {
            "smithy.api#documentation": "<p>Information about the target groups.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.elasticloadbalancingv2#Marker",
[...]
