{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.elastictranscoder#AccessControl": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^FullControl$)|(^Read$)|(^ReadAcp$)|(^WriteAcp$)"
      }
    },
    "com.amazonaws.elastictranscoder#AccessControls": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elastictranscoder#AccessControl"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.elastictranscoder#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elastictranscoder#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>General authentication failure. The request was not signed correctly.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.elastictranscoder#Artwork": {
      "type": "structure",
      "members": {
        "InputKey": {
          "target": "com.amazonaws.elastictranscoder#WatermarkKey",
          "traits": {
            "smithy.api#documentation": "<p>The name of the file to be used as album art. To determine which Amazon S3 bucket contains the \n            specified file, Elastic Transcoder checks the pipeline specified by <code>PipelineId</code>; the \n            <code>InputBucket</code> object in that pipeline identifies the bucket.</p>\n        <p>If the file name includes a prefix, for example, <code>cooking/pie.jpg</code>,\n            include the prefix in the key. If the file isn't in the specified bucket, \n            Elastic Transcoder returns an error.</p>"
          }
        },
        "MaxWidth": {
          "target": "com.amazonaws.elastictranscoder#DigitsOrAuto",
          "traits": {
            "smithy.api#documentation": "<p>The maximum width of the output album art in pixels. If you specify <code>auto</code>, Elastic Transcoder \n        uses 600 as the default value. If you specify a numeric value, enter an even integer between 32 \n        and 4096, inclusive.</p>"
          }
        },
        "MaxHeight": {
          "target": "com.amazonaws.elastictranscoder#DigitsOrAuto",
          "traits": {
            "smithy.api#documentation": "<p>The maximum height of the output album art in pixels. If you specify <code>auto</code>, Elastic Transcoder \n        uses 600 as the default value. If you specify a numeric value, enter an even integer between 32 \n        and 3072, inclusive.</p>"
          }
        },
        "SizingPolicy": {
          "target": "com.amazonaws.elastictranscoder#SizingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Specify one of the following values to control scaling of the output album art:</p>\n        \n            <ul>\n            <li>\n               <p>\n                  <code>Fit:</code> Elastic Transcoder scales the output art so it matches the value that you\n                    specified in either <code>MaxWidth</code> or <code>MaxHeight</code> without \n                    exceeding the other value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Fill:</code> Elastic Transcoder scales the output art so it matches the value that you\n                    specified in either <code>MaxWidth</code> or <code>MaxHeight</code> and matches or \n                    exceeds the other value. Elastic Transcoder centers the output art and then crops it in the \n                    dimension (if any) that exceeds the maximum value. </p>\n            </li>\n            <li>\n               <p>\n                  <code>Stretch:</code> Elastic Transcoder stretches the output art to match the values that you\n                    specified for <code>MaxWidth</code> and <code>MaxHeight</code>. If the relative \n                    proportions of the input art and the output art are different, the output art will \n                    be distorted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Keep:</code> Elastic Transcoder does not scale the output art. If either dimension of the\n                    input art exceeds the values that you specified for <code>MaxWidth</code> and \n                    <code>MaxHeight</code>, Elastic Transcoder crops the output art.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ShrinkToFit:</code> Elastic Transcoder scales the output art down so that its dimensions \n                    match the values that you specified for at least one of <code>MaxWidth</code> and \n                    <code>MaxHeight</code> without exceeding either value. If you specify this option, \n                    Elastic Transcoder does not scale the art up.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ShrinkToFill</code> Elastic Transcoder scales the output art down so that its dimensions \n                    match the values that you specified for at least one of <code>MaxWidth</code> and \n                    <code>MaxHeight</code> without dropping below either value. If you specify this \n                    option, Elastic Transcoder does not scale the art up.</p>\n            </li>\n         </ul>"
          }
        },
        "PaddingPolicy": {
          "target": "com.amazonaws.elastictranscoder#PaddingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>When you set <code>PaddingPolicy</code> to <code>Pad</code>, Elastic Transcoder may add white bars to the \n        top and bottom and/or left and right sides of the output album art to make the total size of \n        the output art match the values that you specified for <code>MaxWidth</code> and \n        <code>MaxHeight</code>.</p>"
          }
        },
        "AlbumArtFormat": {
          "target": "com.amazonaws.elastictranscoder#JpgOrPng",
          "traits": {
            "smithy.api#documentation": "<p>The format of album art, if any. Valid formats are <code>.jpg</code> and <code>.png</code>.</p>"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.elastictranscoder#Encryption",
          "traits": {
            "smithy.api#documentation": "<p>The encryption settings, if any, that you want Elastic Transcoder to apply to your artwork.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The file to be used as album art. There can be multiple artworks associated with an \n            audio file, to a maximum of 20.</p>\n        <p>To remove artwork or leave the artwork empty, you can either set <code>Artwork</code>\n            to null, or set the <code>Merge Policy</code> to \"Replace\" and use an empty\n            <code>Artwork</code> array.</p>\n        <p>To pass through existing artwork unchanged, set the <code>Merge Policy</code> to\n            \"Prepend\", \"Append\", or \"Fallback\", and use an empty <code>Artwork</code> array.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#Artworks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elastictranscoder#Artwork"
      }
    },
    "com.amazonaws.elastictranscoder#Ascending": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^true$)|(^false$)"
      }
    },
    "com.amazonaws.elastictranscoder#AspectRatio": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^auto$)|(^1:1$)|(^4:3$)|(^3:2$)|(^16:9$)"
      }
    },
    "com.amazonaws.elastictranscoder#AudioBitDepth": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^8$)|(^16$)|(^24$)|(^32$)"
      }
    },
    "com.amazonaws.elastictranscoder#AudioBitOrder": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^LittleEndian$)"
      }
    },
    "com.amazonaws.elastictranscoder#AudioBitRate": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{1,3}$"
      }
    },
    "com.amazonaws.elastictranscoder#AudioChannels": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^auto$)|(^0$)|(^1$)|(^2$)"
      }
    },
    "com.amazonaws.elastictranscoder#AudioCodec": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^AAC$)|(^vorbis$)|(^mp3$)|(^mp2$)|(^pcm$)|(^flac$)"
      }
    },
    "com.amazonaws.elastictranscoder#AudioCodecOptions": {
      "type": "structure",
      "members": {
        "Profile": {
          "target": "com.amazonaws.elastictranscoder#AudioCodecProfile",
          "traits": {
            "smithy.api#documentation": "<p>You can only choose an audio profile when you specify AAC for the value of Audio:Codec.</p>\n        <p>Specify the AAC profile for the output file. Elastic Transcoder supports the following profiles:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>auto</code>: If you specify <code>auto</code>, Elastic Transcoder selects\n                the profile based on the bit rate selected for the output file.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AAC-LC</code>: The most common AAC profile. Use for bit rates larger than\n                64 kbps.</p>\n            </li>\n            <li>\n               <p>\n                  <code>HE-AAC</code>: Not supported on some older players and devices.\n                Use for bit rates between 40 and 80 kbps.</p>\n            </li>\n            <li>\n               <p>\n                  <code>HE-AACv2</code>: Not supported on some players and devices.\n                Use for bit rates less than 48 kbps.</p>\n            </li>\n         </ul>\n        <p>All outputs in a <code>Smooth</code> playlist must have the same value for <code>Profile</code>.</p>\n        <note>\n            <p>If you created any presets before AAC profiles were added, Elastic Transcoder automatically updated your \n             presets to use AAC-LC. You can change the value as required.</p>\n         </note>"
          }
        },
        "BitDepth": {
          "target": "com.amazonaws.elastictranscoder#AudioBitDepth",
          "traits": {
            "smithy.api#documentation": "<p>You can only choose an audio bit depth when you specify <code>flac</code> or \n           <code>pcm</code> for the value of Audio:Codec.</p>\n        <p>The bit depth of a sample is how many bits of information are included in the \n            audio samples. The higher the bit depth, the better the audio, but the larger the file.</p>\n            <p>Valid values are <code>16</code> and <code>24</code>.</p>\n            <p>The most common bit depth is <code>24</code>.</p>"
          }
        },
        "BitOrder": {
          "target": "com.amazonaws.elastictranscoder#AudioBitOrder",
          "traits": {
            "smithy.api#documentation": "<p>You can only choose an audio bit order when you specify \n           <code>pcm</code> for the value of Audio:Codec.</p>\n         <p>The order the bits of a PCM sample are stored in.</p>\n         <p>The supported value is <code>LittleEndian</code>.</p>"
          }
        },
        "Signed": {
          "target": "com.amazonaws.elastictranscoder#AudioSigned",
          "traits": {
            "smithy.api#documentation": "<p>You can only choose whether an audio sample is signed when you specify \n           <code>pcm</code> for the value of Audio:Codec.</p>\n        <p>Whether audio samples are represented with negative and positive numbers (signed) or \n            only positive numbers (unsigned).</p>\n        <p>The supported value is <code>Signed</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options associated with your audio codec.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#AudioCodecProfile": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^auto$)|(^AAC-LC$)|(^HE-AAC$)|(^HE-AACv2$)"
      }
    },
    "com.amazonaws.elastictranscoder#AudioPackingMode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^SingleTrack$)|(^OneChannelPerTrack$)|(^OneChannelPerTrackWithMosTo8Tracks$)"
      }
    },
    "com.amazonaws.elastictranscoder#AudioParameters": {
      "type": "structure",
      "members": {
        "Codec": {
          "target": "com.amazonaws.elastictranscoder#AudioCodec",
          "traits": {
            "smithy.api#documentation": "<p>The audio codec for the output file. Valid values include <code>aac</code>, \n            <code>flac</code>, <code>mp2</code>, <code>mp3</code>, <code>pcm</code>, \n            and <code>vorbis</code>.</p>"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.elastictranscoder#AudioSampleRate",
          "traits": {
            "smithy.api#documentation": "<p>The sample rate of the audio stream in the output file, in Hertz. Valid values include:</p>\n        <p>\n            <code>auto</code>, <code>22050</code>, <code>32000</code>, <code>44100</code>,\n                <code>48000</code>, <code>96000</code>\n         </p>\n        <p>If you specify <code>auto</code>, Elastic Transcoder automatically detects the sample rate.</p>"
          }
        },
        "BitRate": {
          "target": "com.amazonaws.elastictranscoder#AudioBitRate",
          "traits": {
            "smithy.api#documentation": "<p>The bit rate of the audio stream in the output file, in kilobits/second. Enter an integer \n            between 64 and 320, inclusive.</p>"
          }
        },
        "Channels": {
          "target": "com.amazonaws.elastictranscoder#AudioChannels",
          "traits": {
            "smithy.api#documentation": "<p>The number of audio channels in the output file. The following values are valid:</p>\n        <p>\n            <code>auto</code>, <code>0</code>, <code>1</code>, <code>2</code>\n         </p>\n        <p>One channel carries the information played by a single speaker. For example, a stereo\n            track with two channels sends one channel to the left speaker, and the other\n            channel to the right speaker. The output channels are organized into tracks.\n            If you want Elastic Transcoder to automatically detect the number\n            of audio channels in the input file and use that value for the output file, select\n            <code>auto</code>.</p>\n                            \n        <p>The output of a specific channel value and inputs are as follows:</p>\n\n        <ul>\n            <li>\n               <p>\n                  <code>auto</code>\n                  <b> channel specified, with any input:</b> Pass through up to eight input channels.</p>\n            </li>\n            <li>\n               <p>\n                  <code>0</code>\n                  <b> channels specified, with any input:</b> Audio omitted from the output.</p>\n            </li>\n            <li>\n               <p>\n                  <code>1</code>\n                  <b> channel specified, with at least one input channel:</b> Mono sound.</p>\n            </li>\n            <li>\n               <p>\n                  <code>2</code>\n                  <b> channels specified, with any input:</b> Two identical mono channels or stereo. For more\n                information about tracks, see <code>Audio:AudioPackingMode.</code>\n               </p>\n            </li>\n         </ul>\n\n        <p> For more information about how Elastic Transcoder organizes channels and tracks, see\n            <code>Audio:AudioPackingMode</code>.</p>"
          }
        },
        "AudioPackingMode": {
          "target": "com.amazonaws.elastictranscoder#AudioPackingMode",
          "traits": {
            "smithy.api#documentation": "<p>The method of organizing audio channels and tracks. Use <code>Audio:Channels</code> to\n            specify the number of channels in your output, and <code>Audio:AudioPackingMode</code>\n            to specify the number of tracks and their relation to the channels. If you do not specify\n            an <code>Audio:AudioPackingMode</code>, Elastic Transcoder uses <code>SingleTrack</code>.</p>\n        <p>The following values are valid:</p>\n        <p>\n            <code>SingleTrack</code>, <code>OneChannelPerTrack</code>, and <code>OneChannelPerTrackWithMosTo8Tracks</code>\n         </p>\n        \n        <p>When you specify <code>SingleTrack</code>, Elastic Transcoder creates a single track for your output. \n            The track can have up to eight channels. Use <code>SingleTrack</code> for all non-<code>mxf</code>\n            containers.</p> \n            \n        <p>The outputs of <code>SingleTrack</code> for a specific channel value and inputs \n            are as follows:</p>\n        \n        <ul>\n            <li>\n               <p>\n                  <code>0</code> \n                  <b> channels with any input:</b> Audio omitted from the output</p>\n            </li>\n            <li>\n               <p>\n                  <code>1, 2, or auto </code> \n                  <b>channels with no audio input:</b> Audio omitted from the output</p>\n            </li>\n            <li>\n               <p>\n                  <code>1 </code> \n                  <b>channel with any input with audio:</b> One track with one channel, downmixed if necessary</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 </code> \n                  <b>channels with one track with one channel:</b> One track with two identical channels</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 or auto </code> \n                  <b>channels with two tracks with one channel each:</b> One track with two channels</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 or auto </code> \n                  <b>channels with one track with two channels:</b> One track with two channels</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 </code> \n                  <b>channels with one track with multiple channels:</b> One track with two channels</p>\n            </li>\n            <li>\n               <p>\n                  <code>auto </code> \n                  <b>channels with one track with one channel:</b> One track with one channel</p>\n            </li>\n            <li>\n               <p>\n                  <code>auto </code> \n                  <b>channels with one track with multiple channels:</b> One track with multiple channels</p>\n            </li>\n         </ul>\n\n        <p>When you specify <code>OneChannelPerTrack</code>, Elastic Transcoder creates a new track for every channel in your output. Your output\n            can have up to eight single-channel tracks.</p>\n        <p>The outputs of <code>OneChannelPerTrack</code> for a specific channel value and inputs\n            are as follows:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>0 </code> \n                  <b>channels with any input:</b> Audio omitted from the output</p>\n            </li>\n            <li>\n               <p>\n                  <code>1, 2, or auto </code> \n                  <b>channels with no audio input:</b> Audio omitted from the output</p>\n            </li>\n            <li>\n               <p>\n                  <code>1 </code> \n                  <b>channel with any input with audio:</b> One track with one channel, downmixed if necessary</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 </code> \n                  <b>channels with one track with one channel:</b> Two tracks with one identical channel each</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 or auto </code> \n                  <b>channels with two tracks with one channel each:</b> Two tracks with one channel each</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 or auto </code> \n                  <b>channels with one track with two channels:</b> Two tracks with one channel each</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 </code> \n                  <b>channels with one track with multiple channels:</b> Two tracks with one channel each</p>\n            </li>\n            <li>\n               <p>\n                  <code>auto </code> \n                  <b>channels with one track with one channel:</b> One track with one channel</p>\n            </li>\n            <li>\n               <p>\n                  <code>auto </code> \n                  <b>channels with one track with multiple channels:</b> Up to eight tracks with one channel each</p>\n            </li>\n         </ul>   \n\n        <p>When you specify <code>OneChannelPerTrackWithMosTo8Tracks</code>, Elastic Transcoder creates eight single-channel \n            tracks for your output. All tracks that do not contain audio data from an input channel are\n            MOS, or Mit Out Sound, tracks.</p>\n        <p>The outputs of <code>OneChannelPerTrackWithMosTo8Tracks</code> for a specific channel value and inputs\n            are as follows:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>0 </code> \n                  <b>channels with any input:</b> Audio omitted from the output</p>\n            </li>\n            <li>\n               <p>\n                  <code>1, 2, or auto </code> \n                  <b>channels with no audio input:</b> Audio omitted from the output</p>\n            </li>\n            <li>\n               <p>\n                  <code>1 </code> \n                  <b>channel with any input with audio:</b> One track with one channel, \n                   downmixed if necessary, plus six MOS tracks</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 </code> \n                  <b>channels with one track with one channel:</b> Two tracks with one \n                   identical channel each, plus six MOS tracks</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 or auto </code> \n                  <b>channels with two tracks with one channel each:</b> Two tracks with \n                   one channel each, plus six MOS tracks</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 or auto </code> \n                  <b>channels with one track with two channels:</b> Two tracks with one \n                   channel each, plus six MOS tracks</p>\n            </li>\n            <li>\n               <p>\n                  <code>2 </code> \n                  <b>channels with one track with multiple channels:</b> Two tracks with \n                   one channel each, plus six MOS tracks</p>\n            </li>\n            <li>\n               <p>\n                  <code>auto </code> \n                  <b>channels with one track with one channel:</b> One track with one \n                   channel, plus seven MOS tracks</p>\n            </li>\n            <li>\n               <p>\n                  <code>auto </code> \n                  <b>channels with one track with multiple channels:</b> Up to eight \n                   tracks with one channel each, plus MOS tracks\n                until there are eight tracks in all</p>\n            </li>\n         </ul>"
          }
        },
        "CodecOptions": {
          "target": "com.amazonaws.elastictranscoder#AudioCodecOptions",
          "traits": {
            "smithy.api#documentation": "<p>If you specified <code>AAC</code> for <code>Audio:Codec</code>, this is the <code>AAC</code> \n            compression profile to use. Valid values include:</p>\n        <p>\n            <code>auto</code>, <code>AAC-LC</code>, <code>HE-AAC</code>, <code>HE-AACv2</code>\n         </p>\n        <p>If you specify <code>auto</code>, Elastic Transcoder chooses a profile based on the bit rate of the output file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters required for transcoding audio.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#AudioSampleRate": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^auto$)|(^22050$)|(^32000$)|(^44100$)|(^48000$)|(^96000$)|(^192000$)"
      }
    },
    "com.amazonaws.elastictranscoder#AudioSigned": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^Unsigned$)|(^Signed$)"
      }
    },
    "com.amazonaws.elastictranscoder#Base64EncodedString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|(^(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}==|[A-Za-z0-9\\+/]{3}=)?$)"
      }
    },
    "com.amazonaws.elastictranscoder#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(\\w|\\.|-){1,255}$"
      }
    },
    "com.amazonaws.elastictranscoder#CancelJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elastictranscoder#CancelJobRequest"
      },
      "output": {
        "target": "com.amazonaws.elastictranscoder#CancelJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elastictranscoder#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#IncompatibleVersionException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#InternalServiceException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The CancelJob operation cancels an unfinished job.</p>\n        <note>\n            <p>You can only cancel a job that has a status of <code>Submitted</code>. To prevent a\n            pipeline from starting to process a job while you're getting the job identifier, use\n                <a>UpdatePipelineStatus</a> to temporarily pause the pipeline.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2012-09-25/jobs/{Id}",
          "code": 202
        }
      }
    },
    "com.amazonaws.elastictranscoder#CancelJobRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.elastictranscoder#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the job that you want to cancel.</p>\n        <p>To get a list of the jobs (including their <code>jobId</code>) that have a status of\n                <code>Submitted</code>, use the <a>ListJobsByStatus</a> API action.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>CancelJobRequest</code> structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CancelJobResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The response body contains a JSON object. If the job is successfully canceled, the value\n            of <code>Success</code> is <code>true</code>.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CaptionFormat": {
      "type": "structure",
      "members": {
        "Format": {
          "target": "com.amazonaws.elastictranscoder#CaptionFormatFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format you specify determines whether Elastic Transcoder generates an embedded or sidecar caption for this output.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Valid Embedded Caption Formats:</b>\n               </p>\n               <ul>\n                  <li>\n                     <p>\n                        <b>for FLAC</b>: None</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>For MP3</b>: None</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>For MP4</b>: mov-text</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>For MPEG-TS</b>: None</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>For ogg</b>: None</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>For webm</b>: None</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <b>Valid Sidecar Caption Formats:</b> Elastic Transcoder\n            supports dfxp (first div element only), scc, srt, and webvtt. \n            If you want ttml or smpte-tt\n            compatible captions, specify dfxp as your output format.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <b>For FMP4</b>: dfxp</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Non-FMP4 outputs</b>: All sidecar types</p>\n                  </li>\n               </ul>\n               <p>\n                  <code>fmp4</code> captions have an extension of <code>.ismt</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "Pattern": {
          "target": "com.amazonaws.elastictranscoder#CaptionFormatPattern",
          "traits": {
            "smithy.api#documentation": "<p>The prefix for caption filenames, in the form <i>description</i>-<code>{language}</code>, where:</p>\n         <ul>\n            <li>\n               <p>\n                  <i>description</i> is a description of the video.</p>\n            </li>\n            <li>\n               <p>\n                  <code>{language}</code> is a literal value that Elastic Transcoder replaces with the two- or three-letter\n            code for the language of the caption in the output file names.</p>\n            </li>\n         </ul>\n         <p>If you don't include <code>{language}</code> in the file name pattern, Elastic Transcoder automatically\n         appends \"<code>{language}</code>\" to the value that you specify for the description.  In addition,\n         Elastic Transcoder automatically appends the count to the end of the segment files.</p>\n         <p>For example, suppose you're transcoding into srt format. When you enter \"Sydney-{language}-sunrise\", \n          and the language of the captions is English (en), the name of the first caption file is be \n          Sydney-en-sunrise00000.srt.</p>"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.elastictranscoder#Encryption",
          "traits": {
            "smithy.api#documentation": "<p>The encryption settings, if any, that you want Elastic Transcoder to apply to your caption formats.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The file format of the output captions. If you leave this value blank, Elastic Transcoder returns an error.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CaptionFormatFormat": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^mov-text$)|(^srt$)|(^scc$)|(^webvtt$)|(^dfxp$)|(^cea-708$)"
      }
    },
    "com.amazonaws.elastictranscoder#CaptionFormatPattern": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^$)|(^.*\\{language\\}.*$)"
      }
    },
    "com.amazonaws.elastictranscoder#CaptionFormats": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elastictranscoder#CaptionFormat"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4
        }
      }
    },
    "com.amazonaws.elastictranscoder#CaptionMergePolicy": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^MergeOverride$)|(^MergeRetain$)|(^Override$)"
      }
    },
    "com.amazonaws.elastictranscoder#CaptionSource": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.elastictranscoder#LongKey",
          "traits": {
            "smithy.api#documentation": "<p>The name of the sidecar caption file that you want Elastic Transcoder to include in the output file.</p>"
          }
        },
        "Language": {
          "target": "com.amazonaws.elastictranscoder#Key",
          "traits": {
            "smithy.api#documentation": "<p>A string that specifies the language of the caption. If you specified multiple inputs with captions, \n            the caption language must match in order to be included in the output. Specify this as one of:</p>\n        <ul>\n            <li>\n                <p>2-character ISO 639-1 code</p>\n            </li>\n            <li>\n                <p>3-character ISO 639-2 code</p>\n            </li>\n         </ul>\n        <p>For more information on ISO language codes and language names, see the List of ISO 639-1 codes.</p>"
          }
        },
        "TimeOffset": {
          "target": "com.amazonaws.elastictranscoder#TimeOffset",
          "traits": {
            "smithy.api#documentation": "<p>For clip generation or captions that do not start at the same time\n            as the associated video file, the <code>TimeOffset</code> tells Elastic Transcoder how much of the video to encode\n            before including captions.</p>\n        <p>Specify the TimeOffset in the form [+-]SS.sss or [+-]HH:mm:SS.ss.</p>"
          }
        },
        "Label": {
          "target": "com.amazonaws.elastictranscoder#Name",
          "traits": {
            "smithy.api#documentation": "<p>The label of the caption shown in the player when choosing a language. We recommend that you \n            put the caption language name here, in the language of the captions.</p>"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.elastictranscoder#Encryption",
          "traits": {
            "smithy.api#documentation": "<p>The encryption settings, if any, that Elastic Transcoder needs to decyrpt your caption sources, or that you \n            want Elastic Transcoder to apply to your caption sources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A source file for the input sidecar captions used during the transcoding process.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CaptionSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elastictranscoder#CaptionSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.elastictranscoder#Captions": {
      "type": "structure",
      "members": {
        "MergePolicy": {
          "target": "com.amazonaws.elastictranscoder#CaptionMergePolicy",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>A policy that determines how Elastic Transcoder handles the existence of multiple captions.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>MergeOverride:</b> Elastic Transcoder transcodes both embedded\n            and sidecar captions into outputs. If captions for a language are embedded in the input\n            file and also appear in a sidecar file, Elastic Transcoder uses the sidecar captions and ignores the\n            embedded captions for that language.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MergeRetain:</b>  Elastic Transcoder transcodes both embedded\n            and sidecar captions into outputs. If captions for a language are embedded in the input\n            file and also appear in a sidecar file, Elastic Transcoder uses the embedded captions and ignores the\n            sidecar captions for that language. If <code>CaptionSources</code> is empty,\n            Elastic Transcoder omits all sidecar captions from the output files.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Override:</b> Elastic Transcoder transcodes only the\n            sidecar captions that you specify in <code>CaptionSources</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <code>MergePolicy</code> cannot be null.</p>"
          }
        },
        "CaptionSources": {
          "target": "com.amazonaws.elastictranscoder#CaptionSources",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Source files for the input sidecar captions used during the transcoding\n         process. To omit all sidecar captions, leave <code>CaptionSources</code> blank.</p>"
          }
        },
        "CaptionFormats": {
          "target": "com.amazonaws.elastictranscoder#CaptionFormats",
          "traits": {
            "smithy.api#documentation": "<p>The array of file formats for the output captions. If you leave this value blank, Elastic Transcoder returns an error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The captions to be created, if any.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#Clip": {
      "type": "structure",
      "members": {
        "TimeSpan": {
          "target": "com.amazonaws.elastictranscoder#TimeSpan",
          "traits": {
            "smithy.api#documentation": "<p>Settings that determine when a clip begins and how long it lasts.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#deprecated": {},
        "smithy.api#documentation": "<p>Settings for one clip in a composition. All jobs in a playlist must have the same clip settings.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CodecOption": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.elastictranscoder#CodecOptions": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.elastictranscoder#CodecOption"
      },
      "value": {
        "target": "com.amazonaws.elastictranscoder#CodecOption"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.elastictranscoder#Composition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elastictranscoder#Clip"
      },
      "traits": {
        "smithy.api#deprecated": {}
      }
    },
    "com.amazonaws.elastictranscoder#CreateJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elastictranscoder#CreateJobRequest"
      },
      "output": {
        "target": "com.amazonaws.elastictranscoder#CreateJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elastictranscoder#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#IncompatibleVersionException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#InternalServiceException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>When you create a job, Elastic Transcoder returns JSON data that includes the values that you specified \n            plus information about the job that is created.</p>\n        <p>If you have specified more than one output for your jobs (for example, one output for the \n            Kindle Fire and another output for the Apple iPhone 4s), you currently must use the Elastic Transcoder API to \n            list the jobs (as opposed to the AWS Console).</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2012-09-25/jobs",
          "code": 201
        }
      }
    },
    "com.amazonaws.elastictranscoder#CreateJobOutput": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.elastictranscoder#Key",
          "traits": {
            "smithy.api#documentation": "<p> The name to assign to the transcoded file. Elastic Transcoder saves the file in the Amazon S3 bucket\n    specified by the <code>OutputBucket</code> object in the pipeline that is specified by\n    the pipeline ID. If a file with the specified name already exists in the output bucket,\n    the job fails. </p>"
          }
        },
        "ThumbnailPattern": {
          "target": "com.amazonaws.elastictranscoder#ThumbnailPattern",
          "traits": {
            "smithy.api#documentation": "<p>Whether you want Elastic Transcoder to create thumbnails for your videos and, if so, how you want Elastic Transcoder to name the files.</p>\n         <p>If you don't want Elastic Transcoder to create thumbnails, specify \"\".</p>\n         <p>If you do want Elastic Transcoder to create thumbnails, specify the information that you want to include \n    in the file name for each thumbnail. You can specify the following values in any sequence:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>\n                     <code>{count}</code> (Required)</b>: If you want to create thumbnails, you\n            must include <code>{count}</code> in the <code>ThumbnailPattern</code> object.\n            Wherever you specify <code>{count}</code>, Elastic Transcoder adds a five-digit sequence\n            number (beginning with <b>00001</b>) to thumbnail file names. The number\n            indicates where a given thumbnail appears in the sequence of thumbnails for a\n            transcoded file. </p>\n               <important>\n                  <p>If you specify a literal value and/or <code>{resolution}</code> but you\n            omit <code>{count}</code>, Elastic Transcoder returns a validation error and does not create\n            the job.</p>\n               </important>\n            </li>\n            <li>\n               <p>\n                  <b>Literal values (Optional)</b>: You can specify literal values anywhere in the\n                <code>ThumbnailPattern</code> object. For example, you can include them as a\n            file name prefix or as a delimiter between <code>{resolution}</code> and\n                <code>{count}</code>. </p>\n            </li>\n            <li>\n               <p>\n                  <b>\n                     <code>{resolution}</code> (Optional)</b>: If you want Elastic Transcoder to include the\n            resolution in the file name, include <code>{resolution}</code> in the\n                <code>ThumbnailPattern</code> object. </p>\n            </li>\n         </ul>\n         <p>When creating thumbnails, Elastic Transcoder automatically saves the files in the format (.jpg or .png)\n    that appears in the preset that you specified in the <code>PresetID</code> value of\n        <code>CreateJobOutput</code>. Elastic Transcoder also appends the applicable file name\n    extension.</p>"
          }
        },
        "ThumbnailEncryption": {
          "target": "com.amazonaws.elastictranscoder#Encryption",
          "traits": {
            "smithy.api#documentation": "<p>The encryption settings, if any, that you want Elastic Transcoder to apply to your thumbnail.</p>"
          }
        },
        "Rotate": {
          "target": "com.amazonaws.elastictranscoder#Rotate",
          "traits": {
            "smithy.api#documentation": "<p> The number of degrees clockwise by which you want Elastic Transcoder to rotate the output relative to\n    the input. Enter one of the following values: <code>auto</code>, <code>0</code>,\n        <code>90</code>, <code>180</code>, <code>270</code>. The value <code>auto</code>\n    generally works only if the file that you're transcoding contains rotation metadata.\n</p>"
          }
        },
        "PresetId": {
          "target": "com.amazonaws.elastictranscoder#Id",
          "traits": {
            "smithy.api#documentation": "<p> The <code>Id</code> of the preset to use for this job. The preset determines the audio,\n    video, and thumbnail settings that Elastic Transcoder uses for transcoding. </p>"
          }
        },
        "SegmentDuration": {
          "target": "com.amazonaws.elastictranscoder#FloatString",
          "traits": {
            "smithy.api#documentation": "<important>\n            <p>(Outputs in Fragmented MP4 or MPEG-TS format only.</p>\n         </important>\n         <p>If you specify a preset in\n        <code>PresetId</code> for which the value of <code>Container</code> is <code>fmp4</code> (Fragmented MP4) or\n        <code>ts</code> (MPEG-TS), <code>SegmentDuration</code> is the target maximum duration of\n    each segment in seconds. For <code>HLSv3</code> format playlists,\n    each media segment is stored in a separate <code>.ts</code> file. For <code>HLSv4</code> and <code>Smooth</code>\n    playlists, all media segments for an output are stored in a single file. Each segment is approximately the length of\n    the <code>SegmentDuration</code>, though individual segments might be shorter or longer.</p>\n\n         <p>The range of valid values is 1 to 60 seconds. If the duration\n    of the video is not evenly divisible by <code>SegmentDuration</code>, the duration of\n    the last segment is the remainder of total length/SegmentDuration.</p>\n         <p>Elastic Transcoder\n    creates an output-specific playlist for each output <code>HLS</code> output that you specify in OutputKeys. To\n    add an output to the master playlist for this job, include it in the <code>OutputKeys</code> of\n    the associated playlist.</p>"
          }
        },
        "Watermarks": {
          "target": "com.amazonaws.elastictranscoder#JobWatermarks",
          "traits": {
            "smithy.api#documentation": "<p>Information about the watermarks that you want Elastic Transcoder to add to the video during transcoding. \n    You can specify up to four watermarks for each output. Settings for each watermark must be defined \n    in the preset for the current output.</p>"
          }
        },
        "AlbumArt": {
          "target": "com.amazonaws.elastictranscoder#JobAlbumArt",
          "traits": {
            "smithy.api#documentation": "<p>Information about the album art that you want Elastic Transcoder to add to the file during transcoding. \n            You can specify up to twenty album artworks for each output. Settings for each artwork must be \n            defined in the job for the current output.</p>"
          }
        },
        "Composition": {
          "target": "com.amazonaws.elastictranscoder#Composition",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>You can create an output file that contains an excerpt from the input file. This excerpt, called a \n            clip, can come from the beginning, middle, or end of the file. The Composition object contains settings \n            for the clips that make up an output file. For the current release, you can only specify settings for a \n            single clip per output file. The Composition object cannot be null.</p>"
          }
        },
        "Captions": {
          "target": "com.amazonaws.elastictranscoder#Captions",
          "traits": {
            "smithy.api#documentation": "<p>You can configure Elastic Transcoder to transcode captions, or subtitles, from one format to another. All \n          captions must be in UTF-8. Elastic Transcoder supports two types of captions:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Embedded:</b> Embedded captions\n            are included in the same file as the audio and video. Elastic Transcoder supports\n            only one embedded caption per language, to a maximum of 300 embedded captions per file.</p>\n               <p>Valid input values include: <code>CEA-608 (EIA-608</code>, first non-empty channel only),\n            \t<code>CEA-708 (EIA-708</code>, first non-empty channel only), and <code>mov-text</code>\n               </p>\n               <p>Valid outputs include: <code>mov-text</code>\n               </p>\n               <p>Elastic Transcoder supports a maximum of one embedded format per output.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Sidecar:</b> Sidecar captions are kept in a\n            separate metadata file from the audio and video data.  Sidecar captions require a player\n            that is capable of understanding the relationship between the video file and the sidecar\n            file. Elastic Transcoder supports only one sidecar caption per language, to a maximum of 20 sidecar\n            captions per file.</p>\n               <p>Valid input values include: <code>dfxp</code> (first div element only),\n               <code>ebu-tt</code>, <code>scc</code>, <code>smpt</code>, <code>srt</code>,\n               <code>ttml</code> (first div element only), and <code>webvtt</code>\n               </p>\n               <p>Valid outputs include: <code>dfxp</code> (first div element only), <code>scc</code>,\n               <code>srt</code>, and <code>webvtt</code>.</p>\n            </li>\n         </ul>\n         <p>If you want ttml or smpte-tt compatible captions, specify dfxp as your output format.</p>\n         <p>Elastic Transcoder does not support OCR (Optical Character Recognition), does not accept pictures \n             as a valid input for captions, and is not available for audio-only transcoding. Elastic Transcoder does \n             not preserve text formatting (for example, italics) during the transcoding process.</p>\n         <p>To remove captions or leave the captions empty, set <code>Captions</code> to null. To pass through\n             existing captions unchanged, set the <code>MergePolicy</code> to <code>MergeRetain</code>,\n             and pass in a null <code>CaptionSources</code> array.</p>\n         <p>For more information on embedded files, see the Subtitles Wikipedia page.</p>\n         <p>For more information on sidecar files, see the Extensible Metadata Platform and Sidecar file Wikipedia pages.</p>"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.elastictranscoder#Encryption",
          "traits": {
            "smithy.api#documentation": "<p>You can specify encryption settings for any output files that you want to use for a \n    transcoding job. This includes the output file and any watermarks, thumbnails, album art, \n    or captions that you want to use. You must specify encryption settings for each file \n    individually.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateJobOutput</code> structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CreateJobOutputs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elastictranscoder#CreateJobOutput"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.elastictranscoder#CreateJobPlaylist": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.elastictranscoder#Filename",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want Elastic Transcoder to assign to the master playlist, for example,\n    nyc-vacation.m3u8. If the name includes a <code>/</code> character, \n    the section of the name before the last <code>/</code> must be identical \n    for all <code>Name</code> objects. If you create more than one\n    master playlist, the values of all <code>Name</code> objects must be\n    unique.</p> \n         <note>\n            <p>\n    Elastic Transcoder automatically appends the relevant file extension to the file name (<code>.m3u8</code>\n            for <code>HLSv3</code> and <code>HLSv4</code> playlists, and <code>.ism</code> and <code>.ismc</code> for \n            <code>Smooth</code> playlists).\n            If you include a file extension in <code>Name</code>, the file name will have\n            two extensions.</p>\n         </note>"
          }
        },
        "Format": {
          "target": "com.amazonaws.elastictranscoder#PlaylistFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the output playlist. Valid formats include <code>HLSv3</code>, \n            <code>HLSv4</code>, and <code>Smooth</code>.</p>"
          }
        },
        "OutputKeys": {
          "target": "com.amazonaws.elastictranscoder#OutputKeys",
          "traits": {
            "smithy.api#documentation": "<p>For each output in this job that you want to include in a master playlist, the value of\n            the <code>Outputs:Key</code> object. </p>\n        <ul>\n            <li>\n                <p>If your output is not <code>HLS</code> or does not have a segment duration set,\n                    the name of the output file is a concatenation of <code>OutputKeyPrefix</code>\n                    and <code>Outputs:Key</code>:</p>\n                <p>OutputKeyPrefix<code>Outputs:Key</code>\n               </p>\n            </li>\n            <li>\n                <p>If your output is <code>HLSv3</code> and has a segment duration set, or is not included in a\n                    playlist, Elastic Transcoder creates an output playlist file with a file extension of <code>.m3u8</code>, and a\n                    series of <code>.ts</code> files that include a five-digit\n                    sequential counter beginning with 00000:</p>\n                <p>OutputKeyPrefix<code>Outputs:Key</code>.m3u8</p>\n                <p>OutputKeyPrefix<code>Outputs:Key</code>00000.ts</p>\n            </li>\n            <li>\n                <p>If your output is <code>HLSv4</code>, has a segment duration set, and is included in an\n                    <code>HLSv4</code> playlist, Elastic Transcoder creates an output playlist file with a file extension\n                    of <code>_v4.m3u8</code>. If the output is video, Elastic Transcoder also creates an output file with\n                    an extension of <code>_iframe.m3u8</code>:</p>\n                <p>OutputKeyPrefix<code>Outputs:Key</code>_v4.m3u8</p>\n                <p>OutputKeyPrefix<code>Outputs:Key</code>_iframe.m3u8</p>\n                <p>OutputKeyPrefix<code>Outputs:Key</code>.ts</p>\n            </li>\n         </ul>\n\n        <p>Elastic Transcoder automatically appends the relevant file extension to the file name. If you include a \n            file extension in Output Key, the file name will have two extensions.</p>\n\n        <p>If you include more than one output in a playlist,\n            any segment duration settings, clip settings, or caption settings must be the\n            same for all outputs in the playlist. For <code>Smooth</code> playlists, the <code>Audio:Profile</code>,\n            <code>Video:Profile</code>, and <code>Video:FrameRate</code> to\n            <code>Video:KeyframesMaxDist</code> ratio must be the same for all outputs.</p>"
          }
        },
        "HlsContentProtection": {
          "target": "com.amazonaws.elastictranscoder#HlsContentProtection",
          "traits": {
            "smithy.api#documentation": "<p>The HLS content protection settings, if any, that you want Elastic Transcoder to apply to the output \n            files associated with this playlist.</p>"
          }
        },
        "PlayReadyDrm": {
          "target": "com.amazonaws.elastictranscoder#PlayReadyDrm",
          "traits": {
            "smithy.api#documentation": "<p>The DRM settings, if any, that you want Elastic Transcoder to apply to the output files associated with this playlist.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the master playlist.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CreateJobPlaylists": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elastictranscoder#CreateJobPlaylist"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.elastictranscoder#CreateJobRequest": {
      "type": "structure",
      "members": {
        "PipelineId": {
          "target": "com.amazonaws.elastictranscoder#Id",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Id</code> of the pipeline that you want Elastic Transcoder to use for\n            transcoding. The pipeline determines several settings, including the Amazon S3 bucket\n            from which Elastic Transcoder gets the files to transcode and the bucket into which\n            Elastic Transcoder puts the transcoded files.</p>",
            "smithy.api#required": {}
          }
        },
        "Input": {
          "target": "com.amazonaws.elastictranscoder#JobInput",
          "traits": {
            "smithy.api#documentation": "<p>A section of the request body that provides information about the file that is being\n             transcoded.</p>"
          }
        },
        "Inputs": {
          "target": "com.amazonaws.elastictranscoder#JobInputs",
          "traits": {
            "smithy.api#documentation": "<p>A section of the request body that provides information about the files that are being \n            transcoded.</p>"
          }
        },
        "Output": {
          "target": "com.amazonaws.elastictranscoder#CreateJobOutput",
          "traits": {
            "smithy.api#documentation": "<p> A section of the request body that provides information about the transcoded (target)\n            file. We strongly recommend that you use the <code>Outputs</code> syntax instead of the\n            <code>Output</code> syntax. </p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.elastictranscoder#CreateJobOutputs",
          "traits": {
            "smithy.api#documentation": "<p> A section of the request body that provides information about the transcoded (target)\n            files. We recommend that you use the <code>Outputs</code> syntax instead of the\n                <code>Output</code> syntax. </p>"
          }
        },
        "OutputKeyPrefix": {
          "target": "com.amazonaws.elastictranscoder#Key",
          "traits": {
            "smithy.api#documentation": "<p>The value, if any, that you want Elastic Transcoder to prepend to the names of all files that this \n            job creates, including output files, thumbnails, and playlists.</p>"
          }
        },
        "Playlists": {
          "target": "com.amazonaws.elastictranscoder#CreateJobPlaylists",
          "traits": {
            "smithy.api#documentation": "<p>If you specify a preset in <code>PresetId</code> for which the value of\n                <code>Container</code> is fmp4 (Fragmented MP4) or ts (MPEG-TS), Playlists contains \n                information about the master playlists that you want Elastic Transcoder to create.</p>\n        <p>The maximum number of master playlists in a job is 30.</p>"
          }
        },
        "UserMetadata": {
          "target": "com.amazonaws.elastictranscoder#UserMetadata",
          "traits": {
            "smithy.api#documentation": "<p>User-defined metadata that you want to associate with an Elastic Transcoder job. You specify metadata in \n            <code>key/value</code> pairs, and you can add up to 10 <code>key/value</code> pairs per job. \n            Elastic Transcoder does not guarantee that <code>key/value</code> pairs are returned in the same \n            order in which you specify them.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateJobRequest</code> structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CreateJobResponse": {
      "type": "structure",
      "members": {
        "Job": {
          "target": "com.amazonaws.elastictranscoder#Job",
          "traits": {
            "smithy.api#documentation": "<p>A section of the response body that provides information about the job that is created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CreateJobResponse structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CreatePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elastictranscoder#CreatePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.elastictranscoder#CreatePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elastictranscoder#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#IncompatibleVersionException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#InternalServiceException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The CreatePipeline operation creates a pipeline with settings that you specify.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2012-09-25/pipelines",
          "code": 201
        }
      }
    },
    "com.amazonaws.elastictranscoder#CreatePipelineRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.elastictranscoder#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipeline. We recommend that the name be unique within the AWS account, \n            but uniqueness is not enforced.</p>\n        <p>Constraints: Maximum 40 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "InputBucket": {
          "target": "com.amazonaws.elastictranscoder#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket in which you saved the media files that you want to transcode.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputBucket": {
          "target": "com.amazonaws.elastictranscoder#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket in which you want Elastic Transcoder to save the transcoded files. (Use \n\t\t  this, or use ContentConfig:Bucket plus ThumbnailConfig:Bucket.)</p>\n        <p>Specify this value when all of the following are true:</p> \n\t\t       <ul>\n            <li>\n               <p>You want to save transcoded files, thumbnails (if any), and playlists (if any)\n                    together in one bucket.</p>\n            </li>\n            <li>\n               <p>You do not want to specify the users or groups who have access to the transcoded\n                    files, thumbnails, and playlists.</p>\n            </li>\n            <li>\n               <p>You do not want to specify the permissions that Elastic Transcoder grants to the   \n\t\t\t\t\n                    files. </p>\n\t\t\t\t           <important>\n                  <p>When Elastic Transcoder saves files in\n                            <code>OutputBucket</code>, it grants full control over the files only to\n                        the AWS account that owns the role that is specified by\n                        <code>Role</code>.</p>\n               </important>\n            </li>\n            <li>\n               <p>You want to associate the transcoded files and thumbnails with the Amazon S3\n                    Standard storage class.</p>\n            </li>\n         </ul>\n\n        <p>If you want to save transcoded files and playlists in one bucket and thumbnails in\n            another bucket, specify which users can access the transcoded files or the permissions\n            the users have, or change the Amazon S3 storage class, omit <code>OutputBucket</code>\n            and specify values for <code>ContentConfig</code> and <code>ThumbnailConfig</code>\n            instead.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.elastictranscoder#Role",
          "traits": {
            "smithy.api#documentation": "<p>The IAM Amazon Resource Name (ARN) for the role that you want Elastic Transcoder to use to create the pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "AwsKmsKeyArn": {
          "target": "com.amazonaws.elastictranscoder#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Key Management Service (AWS KMS) key that you want to use with this pipeline.</p>\n        <p>If you use either <code>s3</code> or <code>s3-aws-kms</code> as your \n            <code>Encryption:Mode</code>, you don't need to provide a key with\n            your job because a default key, known as an AWS-KMS key, is created for you automatically.\n            You need to provide an AWS-KMS key only if you want to use a non-default AWS-KMS key, or if you are\n            using an <code>Encryption:Mode</code> of <code>aes-cbc-pkcs7</code>, <code>aes-ctr</code>,\n            or <code>aes-gcm</code>.</p>"
          }
        },
        "Notifications": {
          "target": "com.amazonaws.elastictranscoder#Notifications",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Simple Notification Service (Amazon SNS) topic that you want to notify to report job status.</p>\n        <important>\n            <p>To receive notifications, you must also subscribe to the new topic in the Amazon SNS console.</p>\n         </important>\n        <ul>\n            <li>\n               <p>\n                  <b>Progressing</b>: The topic ARN for the Amazon Simple Notification Service (Amazon SNS) topic that you want to\n                notify when Elastic Transcoder has started to process a job in this pipeline. This is the ARN that\n                Amazon SNS returned when you created the topic. For more information, see Create a\n                Topic in the Amazon Simple Notification Service Developer Guide.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Complete</b>: The topic ARN for the Amazon SNS topic that you want to notify when\n                Elastic Transcoder has finished processing a job in this pipeline. This is the ARN that Amazon SNS\n                returned when you created the topic.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Warning</b>: The topic ARN for the Amazon SNS topic that you want to notify when Elastic Transcoder\n                encounters a warning condition while processing a job in this pipeline. This is the\n                ARN that Amazon SNS returned when you created the topic.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Error</b>: The topic ARN for the Amazon SNS topic that you want to notify when Elastic Transcoder\n                encounters an error condition while processing a job in this pipeline. This is the\n                ARN that Amazon SNS returned when you created the topic.</p>\n            </li>\n         </ul>"
          }
        },
        "ContentConfig": {
          "target": "com.amazonaws.elastictranscoder#PipelineOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>The optional <code>ContentConfig</code> object specifies information about the Amazon S3\n            bucket in which you want Elastic Transcoder to save transcoded files and playlists:\n            which bucket to use, which users you want to have access to the files, the type of\n            access you want users to have, and the storage class that you want to assign to the\n            files.</p>\n        <p>If you specify values for <code>ContentConfig</code>, you must also specify values for\n                <code>ThumbnailConfig</code>.</p>\n        <p>If you specify values for <code>ContentConfig</code> and <code>ThumbnailConfig</code>,\n            omit the <code>OutputBucket</code> object.</p>\n        <ul>\n            <li>\n               <p>\n                  <b>Bucket</b>: The Amazon S3 bucket in which you want Elastic Transcoder to save\n                transcoded files and playlists.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Permissions</b> (Optional): The Permissions object specifies which users you want\n                to have access to transcoded files and the type of access you want them to have. You\n                can grant permissions to a maximum of 30 users and/or predefined Amazon S3\n                groups.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Grantee Type</b>: Specify the type of value that appears in the\n                    <code>Grantee</code> object: </p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <b>Canonical</b>: The value in the <code>Grantee</code> object is either the\n                        canonical user ID for an AWS account or an origin access identity for an\n                        Amazon CloudFront distribution. For more information about canonical user\n                        IDs, see Access Control List (ACL) Overview in the Amazon Simple Storage\n                        Service Developer Guide. For more information about using CloudFront origin\n                        access identities to require that users use CloudFront URLs instead of\n                        Amazon S3 URLs, see Using an Origin Access Identity to Restrict Access to\n                        Your Amazon S3 Content.</p> \n\t\t\t\t\t\t               <important>\n                        <p>A canonical user ID is not the same as an\n                            AWS account number.</p>\n                     </important>\n                    </li>\n                  <li>\n                     <p>\n                        <b>Email</b>: The value in the <code>Grantee</code> object is the registered\n                        email address of an AWS account.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Group</b>: The value in the <code>Grantee</code> object is one of the\n                        following predefined Amazon S3 groups: <code>AllUsers</code>,\n                            <code>AuthenticatedUsers</code>, or <code>LogDelivery</code>.</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <b>Grantee</b>: The AWS user or group that you want to have access to transcoded\n                files and playlists. To identify the user or group, you can specify the canonical\n                user ID for an AWS account, an origin access identity for a CloudFront distribution,\n                the registered email address of an AWS account, or a predefined Amazon S3 group </p>\n            </li>\n            <li>\n               <p>\n                  <b>Access</b>: The permission that you want to give to the AWS user that you\n                specified in <code>Grantee</code>. Permissions are granted on the files that Elastic\n                Transcoder adds to the bucket, including playlists and video files. Valid values\n                include: </p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>READ</code>: The grantee can read the objects and metadata for objects\n                        that Elastic Transcoder adds to the Amazon S3 bucket.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>READ_ACP</code>: The grantee can read the object ACL for objects that\n                        Elastic Transcoder adds to the Amazon S3 bucket.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>WRITE_ACP</code>: The grantee can write the ACL for the objects that\n                        Elastic Transcoder adds to the Amazon S3 bucket.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>FULL_CONTROL</code>: The grantee has <code>READ</code>,\n                            <code>READ_ACP</code>, and <code>WRITE_ACP</code> permissions for the\n                        objects that Elastic Transcoder adds to the Amazon S3 bucket.</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <b>StorageClass</b>: The Amazon S3 storage class, <code>Standard</code> or\n                    <code>ReducedRedundancy</code>, that you want Elastic Transcoder to assign to\n                the video files and playlists that it stores in your Amazon S3 bucket.</p>\n            </li>\n         </ul>"
          }
        },
        "ThumbnailConfig": {
          "target": "com.amazonaws.elastictranscoder#PipelineOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ThumbnailConfig</code> object specifies several values, including the Amazon S3\n            bucket in which you want Elastic Transcoder to save thumbnail files, which users you want to have\n            access to the files, the type of access you want users to have, and the storage class\n            that you want to assign to the files.</p>\n        <p>If you specify values for <code>ContentConfig</code>, you must also specify values for\n                <code>ThumbnailConfig</code> even if you don't want to create thumbnails.</p>\n        <p>If you specify values for <code>ContentConfig</code> and <code>ThumbnailConfig</code>,\n            omit the <code>OutputBucket</code> object.</p>\n        <ul>\n            <li>\n               <p>\n                  <b>Bucket</b>: The Amazon S3 bucket in which you want Elastic Transcoder to save\n                thumbnail files.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Permissions</b> (Optional): The <code>Permissions</code> object specifies which\n                users and/or predefined Amazon S3 groups you want to have access to thumbnail files,\n                and the type of access you want them to have. You can grant permissions to a maximum\n                of 30 users and/or predefined Amazon S3 groups.</p>\n            </li>\n            <li>\n               <p>\n                  <b>GranteeType</b>: Specify the type of value that appears in the Grantee object: </p>\n               <ul>\n                  <li>\n                     <p>\n                        <b>Canonical</b>: The value in the <code>Grantee</code> object is either the\n                        canonical user ID for an AWS account or an origin access identity for an\n                        Amazon CloudFront distribution.</p> \n                     <important>\n                        <p>A canonical user ID is not the\n                            same as an AWS account number.</p>\n                     </important>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Email</b>: The value in the <code>Grantee</code> object is the registered\n                        email address of an AWS account. </p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Group</b>: The value in the <code>Grantee</code> object is one of the\n                        following predefined Amazon S3 groups: <code>AllUsers</code>,\n                            <code>AuthenticatedUsers</code>, or <code>LogDelivery</code>.</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <b>Grantee</b>: The AWS user or group that you want to have access to thumbnail\n                files. To identify the user or group, you can specify the canonical user ID for an\n                AWS account, an origin access identity for a CloudFront distribution, the registered\n                email address of an AWS account, or a predefined Amazon S3 group. </p>\n            </li>\n            <li>\n               <p>\n                  <b>Access</b>: The permission that you want to give to the AWS user that you\n                specified in <code>Grantee</code>. Permissions are granted on the thumbnail files\n                that Elastic Transcoder adds to the bucket. Valid values include: </p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>READ</code>: The grantee can read the thumbnails and metadata for\n                        objects that Elastic Transcoder adds to the Amazon S3 bucket.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>READ_ACP</code>: The grantee can read the object ACL for thumbnails\n                        that Elastic Transcoder adds to the Amazon S3 bucket.</p> \n                  </li>\n                  <li>\n                     <p>\n                        <code>WRITE_ACP</code>: The grantee can write the ACL for the thumbnails\n                        that Elastic Transcoder adds to the Amazon S3 bucket.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>FULL_CONTROL</code>: The grantee has <code>READ</code>,\n                            <code>READ_ACP</code>, and <code>WRITE_ACP</code> permissions for the\n                        thumbnails that Elastic Transcoder adds to the Amazon S3 bucket.</p> \n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <b>StorageClass</b>: The Amazon S3 storage class, <code>Standard</code> or\n                    <code>ReducedRedundancy</code>, that you want Elastic Transcoder to assign to\n                the thumbnails that it stores in your Amazon S3 bucket.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreatePipelineRequest</code> structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CreatePipelineResponse": {
      "type": "structure",
      "members": {
        "Pipeline": {
          "target": "com.amazonaws.elastictranscoder#Pipeline",
          "traits": {
            "smithy.api#documentation": "<p>A section of the response body that provides information about the pipeline that is created.</p>"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.elastictranscoder#Warnings",
          "traits": {
            "smithy.api#documentation": "<p>Elastic Transcoder returns a warning if the resources used by your pipeline are not in the same region as \n            the pipeline.</p> \n        <p>Using resources in the same region, such as your Amazon S3 buckets, Amazon SNS notification topics, and \n            AWS KMS key, reduces processing time and prevents cross-regional charges.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When you create a pipeline, Elastic Transcoder returns the values that you specified in the request.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CreatePreset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elastictranscoder#CreatePresetRequest"
      },
      "output": {
        "target": "com.amazonaws.elastictranscoder#CreatePresetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elastictranscoder#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#IncompatibleVersionException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#InternalServiceException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#LimitExceededException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The CreatePreset operation creates a preset with settings that you specify.</p>\n        <important>\n            <p>Elastic Transcoder checks the CreatePreset settings to ensure that they meet Elastic Transcoder requirements\n            and to determine whether they comply with H.264 standards. If your settings are not\n            valid for Elastic Transcoder, Elastic Transcoder returns an HTTP 400 response (<code>ValidationException</code>) and\n            does not create the preset. If the settings are valid for Elastic Transcoder but aren't strictly\n            compliant with the H.264 standard, Elastic Transcoder creates the preset and returns a warning message\n            in the response. This helps you determine whether your settings comply with the H.264\n            standard while giving you greater flexibility with respect to the video that Elastic Transcoder\n            produces.</p>\n         </important>\n        <p>Elastic Transcoder uses the H.264 video-compression format. For more information, see the International\n            Telecommunication Union publication <i>Recommendation ITU-T H.264: Advanced video coding\n                for generic audiovisual services</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2012-09-25/presets",
          "code": 201
        }
      }
    },
    "com.amazonaws.elastictranscoder#CreatePresetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.elastictranscoder#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the preset. We recommend that the name be unique within the AWS account, but uniqueness is not enforced.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.elastictranscoder#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the preset.</p>"
          }
        },
        "Container": {
          "target": "com.amazonaws.elastictranscoder#PresetContainer",
          "traits": {
            "smithy.api#documentation": "<p>The container type for the output file. Valid values include <code>flac</code>,\n            <code>flv</code>, <code>fmp4</code>, \n            <code>gif</code>, <code>mp3</code>, \n            <code>mp4</code>, <code>mpg</code>, <code>mxf</code>, <code>oga</code>, \n            <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Video": {
          "target": "com.amazonaws.elastictranscoder#VideoParameters",
          "traits": {
            "smithy.api#documentation": "<p>A section of the request body that specifies the video parameters.</p>"
          }
        },
        "Audio": {
          "target": "com.amazonaws.elastictranscoder#AudioParameters",
          "traits": {
            "smithy.api#documentation": "<p>A section of the request body that specifies the audio parameters.</p>"
          }
        },
        "Thumbnails": {
          "target": "com.amazonaws.elastictranscoder#Thumbnails",
          "traits": {
            "smithy.api#documentation": "<p>A section of the request body that specifies the thumbnail parameters, if any.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreatePresetRequest</code> structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#CreatePresetResponse": {
      "type": "structure",
      "members": {
        "Preset": {
          "target": "com.amazonaws.elastictranscoder#Preset",
          "traits": {
            "smithy.api#documentation": "<p>A section of the response body that provides information about the preset that is created.</p>"
          }
        },
        "Warning": {
          "target": "com.amazonaws.elastictranscoder#String",
          "traits": {
            "smithy.api#documentation": "<p>If the preset settings don't comply with the standards for the video codec but Elastic Transcoder \n            created the preset, this message explains the reason the preset settings don't meet the \n            standard. Elastic Transcoder created the preset because the settings might produce \n            acceptable output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreatePresetResponse</code> structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#DeletePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elastictranscoder#DeletePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.elastictranscoder#DeletePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elastictranscoder#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#IncompatibleVersionException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#InternalServiceException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The DeletePipeline operation removes a pipeline.</p>\n        <p> You can only delete a pipeline that has never been used or that is not currently in use\n            (doesn't contain any active jobs). If the pipeline is currently in use,\n                <code>DeletePipeline</code> returns an error. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2012-09-25/pipelines/{Id}",
          "code": 202
        }
      }
    },
    "com.amazonaws.elastictranscoder#DeletePipelineRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.elastictranscoder#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the pipeline that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>DeletePipelineRequest</code> structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#DeletePipelineResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The <code>DeletePipelineResponse</code> structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#DeletePreset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elastictranscoder#DeletePresetRequest"
      },
      "output": {
        "target": "com.amazonaws.elastictranscoder#DeletePresetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elastictranscoder#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#IncompatibleVersionException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#InternalServiceException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The DeletePreset operation removes a preset that you've added in an AWS region.</p>\n        <note>\n            <p>You can't delete the default presets that are included with Elastic Transcoder.</p>\n        </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2012-09-25/presets/{Id}",
          "code": 202
        }
      }
    },
    "com.amazonaws.elastictranscoder#DeletePresetRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.elastictranscoder#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the preset for which you want to get detailed information.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>DeletePresetRequest</code> structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#DeletePresetResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The <code>DeletePresetResponse</code> structure.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.elastictranscoder#DetectedProperties": {
      "type": "structure",
      "members": {
        "Width": {
          "target": "com.amazonaws.elastictranscoder#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The detected width of the input file, in pixels.</p>"
          }
        },
        "Height": {
          "target": "com.amazonaws.elastictranscoder#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The detected height of the input file, in pixels.</p>"
          }
        },
        "FrameRate": {
          "target": "com.amazonaws.elastictranscoder#FloatString",
          "traits": {
            "smithy.api#documentation": "<p>The detected frame rate of the input file, in frames per second.</p>"
          }
        },
        "FileSize": {
          "target": "com.amazonaws.elastictranscoder#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The detected file size of the input file, in bytes.</p>"
          }
        },
        "DurationMillis": {
          "target": "com.amazonaws.elastictranscoder#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The detected duration of the input file, in milliseconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The detected properties of the input file. Elastic Transcoder identifies these values from the input file.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#Digits": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{1,5}$"
      }
    },
    "com.amazonaws.elastictranscoder#DigitsOrAuto": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^auto$)|(^\\d{2,4}$)"
      }
    },
    "com.amazonaws.elastictranscoder#Encryption": {
      "type": "structure",
      "members": {
        "Mode": {
          "target": "com.amazonaws.elastictranscoder#EncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The specific server-side encryption mode that you want Elastic Transcoder to use when decrypting \n            your input files or encrypting your output files. Elastic Transcoder supports the following options:</p>\n        <ul>\n            <li>\n               <p>\n                  <b>s3:</b> Amazon S3 creates and manages the\n                keys used for encrypting your files.</p>\n            </li>\n            <li>\n               <p>\n                  <b>s3-aws-kms:</b> Amazon S3 calls the Amazon Key Management \n                Service, which\n                creates and manages the keys that are used for encrypting your files. If you specify\n                <code>s3-aws-kms</code> and you don't want to use the default key,\n                you must add the AWS-KMS key that you want to use to your pipeline.</p>\n            </li>\n            <li>\n               <p>\n                  <b>aes-cbc-pkcs7:</b> A padded cipher-block\n                mode of operation originally used for HLS files.</p>\n            </li>\n            <li>\n               <p>\n                  <b>aes-ctr:</b> AES Counter Mode.</p>\n            </li>\n            <li>\n               <p>\n                  <b>aes-gcm:</b> AES Galois Counter Mode,\n                a mode of operation that is an authenticated encryption format, meaning that a file, key,\n                or initialization vector that has been tampered with fails the decryption\n                process.</p>\n            </li>\n         </ul>\n        <p>For all three AES options, you must provide the following settings, which must be base64-encoded:</p>\n        <ul>\n            <li>\n               <p>\n                  <b>Key</b>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <b>Key MD5</b>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <b>Initialization Vector</b>\n               </p>\n            </li>\n         </ul>\n        <important>\n            <p>For the AES modes, your private encryption keys and your unencrypted data are never \n             stored by AWS; therefore, it is important that you safely manage your encryption keys. \n             If you lose them, you won't be able to unencrypt your data.</p>\n         </important>"
          }
        },
        "Key": {
          "target": "com.amazonaws.elastictranscoder#Base64EncodedString",
          "traits": {
            "smithy.api#documentation": "<p>The data encryption key that you want Elastic Transcoder to use to encrypt your output file, or that \n            was used to encrypt your input file. The key must be base64-encoded and it must be one of the \n            following bit lengths before being base64-encoded:</p>\n        <p>\n            <code>128</code>, <code>192</code>, or <code>256</code>. </p>\n        <p>The key must also be encrypted by using the Amazon Key Management Service.</p>"
          }
        },
        "KeyMd5": {
          "target": "com.amazonaws.elastictranscoder#Base64EncodedString",
          "traits": {
            "smithy.api#documentation": "<p>The MD5 digest of the key that you used to encrypt your input file, or that you want \n            Elastic Transcoder to use to encrypt your output file. Elastic Transcoder uses the key digest as a \n            checksum to make sure your key was not corrupted in transit. The key MD5 must be base64-encoded, \n            and it must be exactly 16 bytes long before being base64-encoded.</p>"
          }
        },
        "InitializationVector": {
          "target": "com.amazonaws.elastictranscoder#ZeroTo255String",
          "traits": {
            "smithy.api#documentation": "<p>The series of random bits created by a random bit generator, unique for every encryption \n            operation, that you used to encrypt your input files or that you want Elastic Transcoder to use to encrypt \n            your output files. The initialization vector must be base64-encoded, and it must be exactly \n            16 bytes long before being base64-encoded.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The encryption settings, if any, that are used for decrypting your input files or \n            encrypting your output files. If your input file is encrypted, you must specify the mode \n            that Elastic Transcoder uses to decrypt your file, otherwise you must specify the mode you want \n            Elastic Transcoder to use to encrypt your output files.</p>"
      }
    },
    "com.amazonaws.elastictranscoder#EncryptionMode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^s3$)|(^s3-aws-kms$)|(^aes-cbc-pkcs7$)|(^aes-ctr$)|(^aes-gcm$)"
      }
    },
    "com.amazonaws.elastictranscoder#EtsCustomerService": {
      "type": "service",
      "version": "2012-09-25",
      "operations": [
        {
          "target": "com.amazonaws.elastictranscoder#CancelJob"
        },
        {
          "target": "com.amazonaws.elastictranscoder#CreateJob"
        },
        {
          "target": "com.amazonaws.elastictranscoder#CreatePipeline"
        },
        {
          "target": "com.amazonaws.elastictranscoder#CreatePreset"
        },
        {
          "target": "com.amazonaws.elastictranscoder#DeletePipeline"
        },
        {
          "target": "com.amazonaws.elastictranscoder#DeletePreset"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ListJobsByPipeline"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ListJobsByStatus"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ListPipelines"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ListPresets"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ReadJob"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ReadPipeline"
        },
        {
          "target": "com.amazonaws.elastictranscoder#ReadPreset"
        },
        {
          "target": "com.amazonaws.elastictranscoder#TestRole"
        },
        {
          "target": "com.amazonaws.elastictranscoder#UpdatePipeline"
        },
        {
          "target": "com.amazonaws.elastictranscoder#UpdatePipelineNotifications"
        },
        {
          "target": "com.amazonaws.elastictranscoder#UpdatePipelineStatus"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Elastic Transcoder",
          "arnNamespace": "elastictranscoder",
          "cloudFormationName": "ElasticTranscoder",
          "cloudTrailEventSource": "elastictranscoder.amazonaws.com",
          "endpointPrefix": "elastictranscoder"
        },
        "aws.auth#sigv4": {
          "name": "elastictranscoder"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>AWS Elastic Transcoder Service</fullname>\n        <p>The AWS Elastic Transcoder Service.</p>",
        "smithy.api#title": "Amazon Elastic Transcoder",
        "smithy.api#xmlNamespace": {
[...]
