{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.elasticache#APICallRateForCustomerExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "APICallRateForCustomerExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The customer has exceeded the allowed rate of API calls.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#AZMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "single-az",
            "name": "SINGLE_AZ"
          },
          {
            "value": "cross-az",
            "name": "CROSS_AZ"
          }
        ]
      }
    },
    "com.amazonaws.elasticache#AccessString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.elasticache#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticache#AddTagsToResourceMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#TagListMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticache#CacheClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidARNFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidReplicationGroupStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReplicationGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReservedCacheNodeNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#SnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#TagQuotaPerResourceExceeded"
        },
        {
          "target": "com.amazonaws.elasticache#UserGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#UserNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A  tag is a key-value pair where the key and value are case-sensitive.            \n            You can use tags to categorize and track all your ElastiCache resources, with the exception of global replication group. When you add or remove tags on replication groups, those actions will be replicated to all nodes in the replication group. \n          For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/IAM.ResourceLevelPermissions.html\">Resource-level permissions</a>.</p>\n        <p>\n            For example, you can use cost-allocation tags to your ElastiCache resources, \n            Amazon generates a cost allocation report as a comma-separated value (CSV) file \n            with your usage and costs aggregated by your tags. \n            You can apply tags that represent business categories (such as cost centers, application names, or owners) \n            to organize your costs across multiple services.</p>\n            <p>For more information, \n            see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Tagging.html\">Using Cost Allocation Tags in Amazon ElastiCache</a> \n            in the <i>ElastiCache User Guide</i>.</p>"
      }
    },
    "com.amazonaws.elasticache#AddTagsToResourceMessage": {
      "type": "structure",
      "members": {
        "ResourceName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to which the tags are to be added, \n            for example <code>arn:aws:elasticache:us-west-2:0123456789:cluster:myCluster</code> \n            or <code>arn:aws:elasticache:us-west-2:0123456789:snapshot:mySnapshot</code>.\n            ElastiCache resources are <i>cluster</i> and <i>snapshot</i>.</p>\n        <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticache#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to be added to this resource. A tag is a key-value pair. \n          A tag key must be accompanied by a tag value, although null is accepted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of an AddTagsToResource operation.</p>"
      }
    },
    "com.amazonaws.elasticache#AllowedNodeGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        },
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.elasticache#AllowedNodeTypeModificationsMessage": {
      "type": "structure",
      "members": {
        "ScaleUpModifications": {
          "target": "com.amazonaws.elasticache#NodeTypeList",
          "traits": {
            "smithy.api#documentation": "<p>A string list, each element of which specifies a cache node type which you can use \n            to scale your cluster or replication group.</p>\n        <p>When scaling up a Redis cluster or replication group using <code>ModifyCacheCluster</code> or\n            <code>ModifyReplicationGroup</code>, \n            use a value from this list for the <code>CacheNodeType</code> parameter.</p>"
          }
        },
        "ScaleDownModifications": {
          "target": "com.amazonaws.elasticache#NodeTypeList",
          "traits": {
            "smithy.api#documentation": "<p>A string list, each element of which specifies a cache node type which you can use to scale your cluster or replication group.\n            \n            When scaling down a Redis cluster or replication group using ModifyCacheCluster or ModifyReplicationGroup, use a value from this list for the CacheNodeType parameter. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the allowed node types you can use to modify your cluster or replication group.</p>"
      }
    },
    "com.amazonaws.elasticache#AmazonElastiCacheV9": {
      "type": "service",
      "version": "2015-02-02",
      "operations": [
        {
          "target": "com.amazonaws.elasticache#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngress"
        },
        {
          "target": "com.amazonaws.elasticache#BatchApplyUpdateAction"
        },
        {
          "target": "com.amazonaws.elasticache#BatchStopUpdateAction"
        },
        {
          "target": "com.amazonaws.elasticache#CompleteMigration"
        },
        {
          "target": "com.amazonaws.elasticache#CopySnapshot"
        },
        {
          "target": "com.amazonaws.elasticache#CreateCacheCluster"
        },
        {
          "target": "com.amazonaws.elasticache#CreateCacheParameterGroup"
        },
        {
          "target": "com.amazonaws.elasticache#CreateCacheSecurityGroup"
        },
        {
          "target": "com.amazonaws.elasticache#CreateCacheSubnetGroup"
        },
        {
          "target": "com.amazonaws.elasticache#CreateGlobalReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#CreateReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#CreateSnapshot"
        },
        {
          "target": "com.amazonaws.elasticache#CreateUser"
        },
        {
          "target": "com.amazonaws.elasticache#CreateUserGroup"
        },
        {
          "target": "com.amazonaws.elasticache#DecreaseNodeGroupsInGlobalReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#DecreaseReplicaCount"
        },
        {
          "target": "com.amazonaws.elasticache#DeleteCacheCluster"
        },
        {
          "target": "com.amazonaws.elasticache#DeleteCacheParameterGroup"
        },
        {
          "target": "com.amazonaws.elasticache#DeleteCacheSecurityGroup"
        },
        {
          "target": "com.amazonaws.elasticache#DeleteCacheSubnetGroup"
        },
        {
          "target": "com.amazonaws.elasticache#DeleteGlobalReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#DeleteReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#DeleteSnapshot"
        },
        {
          "target": "com.amazonaws.elasticache#DeleteUser"
        },
        {
          "target": "com.amazonaws.elasticache#DeleteUserGroup"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeCacheClusters"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeCacheEngineVersions"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeCacheParameterGroups"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeCacheParameters"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeCacheSecurityGroups"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeCacheSubnetGroups"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeEngineDefaultParameters"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeEvents"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeGlobalReplicationGroups"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeReplicationGroups"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeReservedCacheNodes"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeReservedCacheNodesOfferings"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeServiceUpdates"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeSnapshots"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeUpdateActions"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeUserGroups"
        },
        {
          "target": "com.amazonaws.elasticache#DescribeUsers"
        },
        {
          "target": "com.amazonaws.elasticache#DisassociateGlobalReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#FailoverGlobalReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#IncreaseNodeGroupsInGlobalReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#IncreaseReplicaCount"
        },
        {
          "target": "com.amazonaws.elasticache#ListAllowedNodeTypeModifications"
        },
        {
          "target": "com.amazonaws.elasticache#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.elasticache#ModifyCacheCluster"
        },
        {
          "target": "com.amazonaws.elasticache#ModifyCacheParameterGroup"
        },
        {
          "target": "com.amazonaws.elasticache#ModifyCacheSubnetGroup"
        },
        {
          "target": "com.amazonaws.elasticache#ModifyGlobalReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#ModifyReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#ModifyReplicationGroupShardConfiguration"
        },
        {
          "target": "com.amazonaws.elasticache#ModifyUser"
        },
        {
          "target": "com.amazonaws.elasticache#ModifyUserGroup"
        },
        {
          "target": "com.amazonaws.elasticache#PurchaseReservedCacheNodesOffering"
        },
        {
          "target": "com.amazonaws.elasticache#RebalanceSlotsInGlobalReplicationGroup"
        },
        {
          "target": "com.amazonaws.elasticache#RebootCacheCluster"
        },
        {
          "target": "com.amazonaws.elasticache#RemoveTagsFromResource"
        },
        {
          "target": "com.amazonaws.elasticache#ResetCacheParameterGroup"
        },
        {
          "target": "com.amazonaws.elasticache#RevokeCacheSecurityGroupIngress"
        },
        {
          "target": "com.amazonaws.elasticache#StartMigration"
        },
        {
          "target": "com.amazonaws.elasticache#TestFailover"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ElastiCache",
          "arnNamespace": "elasticache",
          "cloudFormationName": "ElastiCache",
          "cloudTrailEventSource": "elasticache.amazonaws.com",
          "endpointPrefix": "elasticache"
        },
        "aws.auth#sigv4": {
          "name": "elasticache"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>Amazon ElastiCache</fullname>\n        <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, \n            and scale a distributed cache in the cloud.</p>\n        <p>With ElastiCache, customers get all of the benefits of a high-performance, \n            in-memory cache with less of the administrative burden involved in launching and managing a distributed cache. \n            The service makes setup, scaling, \n            and cluster failure handling much simpler than in a self-managed cache deployment.</p>\n        <p>In addition, through integration with Amazon CloudWatch, \n            customers get enhanced visibility into the key performance statistics \n            associated with their cache and can receive alarms if a part of their cache runs hot.</p>",
        "smithy.api#title": "Amazon ElastiCache",
        "smithy.api#xmlNamespace": {
          "uri": "http://elasticache.amazonaws.com/doc/2015-02-02/"
        }
      }
    },
    "com.amazonaws.elasticache#AuthTokenUpdateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SETTING",
            "name": "SETTING"
          },
          {
            "value": "ROTATING",
            "name": "ROTATING"
          }
        ]
      }
    },
    "com.amazonaws.elasticache#AuthTokenUpdateStrategyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SET",
            "name": "SET"
          },
          {
            "value": "ROTATE",
            "name": "ROTATE"
          },
          {
            "value": "DELETE",
            "name": "DELETE"
          }
        ]
      }
    },
    "com.amazonaws.elasticache#Authentication": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.elasticache#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the user requires a password to authenticate.</p>"
          }
        },
        "PasswordCount": {
          "target": "com.amazonaws.elasticache#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of passwords belonging to the user. The maximum is two.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether the user requires a password to authenticate.</p>"
      }
    },
    "com.amazonaws.elasticache#AuthenticationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "password",
            "name": "PASSWORD"
          },
          {
            "value": "no-password",
            "name": "NO_PASSWORD"
          }
        ]
      }
    },
    "com.amazonaws.elasticache#AuthorizationAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified Amazon EC2 security group is already authorized for the specified cache security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#AuthorizationNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The specified Amazon EC2 security group is not authorized for the specified cache security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngressMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngressResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticache#AuthorizationAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidCacheSecurityGroupStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows network ingress to a cache\n            security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2\n            security groups are used as the authorization mechanism.</p>\n        <note>\n            <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an\n            ElastiCache cluster in another region.</p>\n         </note>"
      }
    },
    "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngressMessage": {
      "type": "structure",
      "members": {
        "CacheSecurityGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The cache security group that allows network ingress.</p>",
            "smithy.api#required": {}
          }
        },
        "EC2SecurityGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 security group to be authorized for ingress to the cache security group.</p>",
            "smithy.api#required": {}
          }
        },
        "EC2SecurityGroupOwnerId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon account number of the Amazon EC2 security group owner. \n            Note that this is not the same thing as an Amazon access key ID - \n            you must provide a valid Amazon account number for this parameter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of an AuthorizeCacheSecurityGroupIngress operation.</p>"
      }
    },
    "com.amazonaws.elasticache#AuthorizeCacheSecurityGroupIngressResult": {
      "type": "structure",
      "members": {
        "CacheSecurityGroup": {
          "target": "com.amazonaws.elasticache#CacheSecurityGroup"
        }
      }
    },
    "com.amazonaws.elasticache#AutomaticFailoverStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "enabled",
            "name": "ENABLED"
          },
          {
            "value": "disabled",
            "name": "DISABLED"
          },
          {
            "value": "enabling",
            "name": "ENABLING"
          },
          {
            "value": "disabling",
            "name": "DISABLING"
          }
        ]
      }
    },
    "com.amazonaws.elasticache#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Availability Zone in which the cluster is launched.</p>"
      }
    },
    "com.amazonaws.elasticache#AvailabilityZonesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#String",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazonaws.elasticache#AwsQueryErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.elasticache#BatchApplyUpdateAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticache#BatchApplyUpdateActionMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#UpdateActionResultsMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticache#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.elasticache#ServiceUpdateNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Apply the service update. For more information on service updates and applying them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/applying-updates.html\">Applying Service Updates</a>.</p>"
      }
    },
    "com.amazonaws.elasticache#BatchApplyUpdateActionMessage": {
      "type": "structure",
      "members": {
        "ReplicationGroupIds": {
          "target": "com.amazonaws.elasticache#ReplicationGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The replication group IDs</p>"
          }
        },
        "CacheClusterIds": {
          "target": "com.amazonaws.elasticache#CacheClusterIdList",
          "traits": {
            "smithy.api#documentation": "<p>The cache cluster IDs</p>"
          }
        },
        "ServiceUpdateName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the service update</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticache#BatchStopUpdateAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticache#BatchStopUpdateActionMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#UpdateActionResultsMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticache#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.elasticache#ServiceUpdateNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stop the service update. For more information on service updates and stopping them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/stopping-self-service-updates.html\">Stopping Service Updates</a>.</p>"
      }
    },
    "com.amazonaws.elasticache#BatchStopUpdateActionMessage": {
      "type": "structure",
      "members": {
        "ReplicationGroupIds": {
          "target": "com.amazonaws.elasticache#ReplicationGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The replication group IDs</p>"
          }
        },
        "CacheClusterIds": {
          "target": "com.amazonaws.elasticache#CacheClusterIdList",
          "traits": {
            "smithy.api#documentation": "<p>The cache cluster IDs</p>"
          }
        },
        "ServiceUpdateName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the service update</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.elasticache#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.elasticache#BooleanOptional": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.elasticache#CacheCluster": {
      "type": "structure",
      "members": {
        "CacheClusterId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The user-supplied identifier of the cluster. \n            This identifier is a unique key that identifies a cluster.</p>"
          }
        },
        "ConfigurationEndpoint": {
          "target": "com.amazonaws.elasticache#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>Represents a Memcached cluster endpoint which can be used by an application to connect to any node in the cluster.\n            The configuration endpoint will always have <code>.cfg</code> in it.</p>\n        <p>Example: <code>mem-3.9dvc4r<u>.cfg</u>.usw2.cache.amazonaws.com:11211</code>\n         </p>"
          }
        },
        "ClientDownloadLandingPage": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the web page where you can download the latest ElastiCache client library.</p>"
          }
        },
        "CacheNodeType": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the compute and memory capacity node type for the cluster.</p>\n        \n        <p>The following node types are supported by ElastiCache. \n\t\t\t\tGenerally speaking, the current generation types provide more memory and computational power\n\t\t\tat lower cost when compared to their equivalent previous generation counterparts.</p>\n\t\t       <ul>\n            <li>\n               <p>General purpose:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Current generation: </p>\n\t\t\t\t\t    \n    \t\t\t\t\t\t           <p>\n                        <b>M6g node types</b> (available only for Redis engine version 5.0.6 onward and for Memcached engine version 1.5.16 onward).</p>\n\t\t\t\t\t\t               <p>\t\n                        <code>cache.m6g.large</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.2xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.4xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.8xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.12xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.16xlarge</code>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t               </p>\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t               <note>\n                        <p>For region availability, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/CacheNodes.SupportedTypes.html#CacheNodes.SupportedTypesByRegion\">Supported Node Types</a>\n                        </p>\n                     </note>\n    \t\t\t\t\t\n    \t\t\t\t\t\n    \t\t\t\t\t            <p>\n                        <b>M5 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m5.large</code>,\n    \t\t\t\t\t\t<code>cache.m5.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.12xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.24xlarge</code>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t           </p>\t\n    \t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t               <p>\n                        <b>M4 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m4.large</code>,\n    \t\t\t\t\t\t<code>cache.m4.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.10xlarge</code>\n                     </p>\n    \t\t\t\t\t            <p>\n                        <b>T3 node types:</b>\n\t\t\t\t\t                   <code>cache.t3.micro</code>, \n    \t\t\t\t\t\t<code>cache.t3.small</code>,\n    \t\t\t\t\t\t<code>cache.t3.medium</code>\n                     </p>\n    \t\t\t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t             <p>\n                        <b>T2 node types:</b>\n\t\t\t\t\t                   <code>cache.t2.micro</code>, \n    \t\t\t\t\t\t<code>cache.t2.small</code>,\n    \t\t\t\t\t\t<code>cache.t2.medium</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t        </li>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n\t\t\t\t\t\t               <p>\n                        <b>T1 node types:</b>\n\t\t\t\t\t                   <code>cache.t1.micro</code>\n                     </p>\n\t\t\t\t\t     \n\t\t\t\t\t\t               <p>\n                        <b>M1 node types:</b>\n\t\t\t\t\t\t                  <code>cache.m1.small</code>, \n\t\t\t\t\t\t   <code>cache.m1.medium</code>, \n\t\t\t\t\t\t   <code>cache.m1.large</code>,\n\t\t\t\t\t\t   <code>cache.m1.xlarge</code>\n                     </p>\n\t\t\t\t\t\t   \n\t\t\t\t\t\t               <p>\n                        <b>M3 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m3.medium</code>,\n    \t\t\t\t\t\t<code>cache.m3.large</code>, \n    \t\t\t\t\t\t<code>cache.m3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m3.2xlarge</code>\n                     </p>\n\t\t\t\t\t\t   \n\t\t\t\t\t\t            </li>\n               </ul>\n            </li>\n            <li>\n               <p>Compute optimized:</p>\n\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n\t\t\t                  <p>\n                        <b>C1 node types:</b>\n\t\t\t                     <code>cache.c1.xlarge</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Memory optimized:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Current generation: </p>\n\t\t\t\t\t\t\t\t\t\t\t          <p>\n                        <b>R6g node types</b> (available only for Redis engine version 5.0.6 onward and for Memcached engine version 1.5.16 onward).</p>\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t               <p>\t\n\t\t\t\t\t\t\t                 <code>cache.r6g.large</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.2xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.4xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.8xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.12xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.16xlarge</code>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t               </p>\t\n\t\t\t\t\t\t               <note>\n                        <p>For region availability, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/CacheNodes.SupportedTypes.html#CacheNodes.SupportedTypesByRegion\">Supported Node Types</a>\n                        </p>\n                     </note>\n\t\t\t\t\t                <p>\n                        <b>R5 node types:</b>\n    \t\t\t\t\t               <code>cache.r5.large</code>,\n    \t\t\t\t\t   <code>cache.r5.xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.2xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.4xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.12xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.24xlarge</code>\n                     </p>\n\t\t\t\t\t\t\n    \t\t\t\t\t            <p>\n                        <b>R4 node types:</b>\n    \t\t\t\t\t               <code>cache.r4.large</code>,\n    \t\t\t\t\t   <code>cache.r4.xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.2xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.4xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.8xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.16xlarge</code>\n                     </p>\n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n\n  \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t         </li>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n                        <p>\n                        <b>M2 node types:</b>\t\t\t\t\t\t\n    \t\t\t\t\t               <code>cache.m2.xlarge</code>, \n    \t\t\t\t\t\t<code>cache.m2.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m2.4xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t           <p>\n                        <b>R3 node types:</b>\n    \t\t\t\t\t               <code>cache.r3.large</code>, \n    \t\t\t\t\t\t<code>cache.r3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.r3.2xlarge</code>,  \n    \t\t\t\t\t\t<code>cache.r3.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.r3.8xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t        </li>\n               </ul>\n            </li>\n         </ul>\n\t\t\t\t\n\t\t       <p>\n            <b>Additional node type info</b>\n         </p>\n\t\t       <ul>\n            <li>\n               <p>All current generation instance types are created in Amazon VPC by default.</p>\n            </li>\n            <li>\n               <p>Redis append-only files (AOF) are not supported for T1 or T2 instances.</p>\n            </li>\n            <li>\n               <p>Redis Multi-AZ with automatic failover is not supported on T1 instances.</p>\n            </li>\n            <li>\n               <p>Redis configuration variables <code>appendonly</code> and \n\t\t\t\t<code>appendfsync</code> are not supported on Redis version 2.8.22 and later.</p>\n            </li>\n         </ul>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache engine (<code>memcached</code> or \n            <code>redis</code>) to be used for this cluster.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the cache engine that is used in this cluster.</p>"
          }
        },
        "CacheClusterStatus": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The current state of this cluster, one of the following values: \n                                                     <code>available</code>, \n                                                     <code>creating</code>, \n                                                     <code>deleted</code>, \n                                                     <code>deleting</code>,\n                                                     <code>incompatible-network</code>,\n                                                     <code>modifying</code>,\n                                                     <code>rebooting cluster nodes</code>,\n                                                     <code>restore-failed</code>, or \n                                                     <code>snapshotting</code>.</p>"
          }
        },
        "NumCacheNodes": {
          "target": "com.amazonaws.elasticache#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of cache nodes in the cluster.</p>\n        <p>For clusters running Redis, this value must be 1. For clusters running Memcached, \n            this value must be between 1 and 40.</p>"
          }
        },
        "PreferredAvailabilityZone": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone in which the cluster is located or \"Multiple\" \n            if the cache nodes are located in different Availability Zones.</p>"
          }
        },
        "PreferredOutpostArn": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The outpost ARN in which the cache cluster is created.</p>"
          }
        },
        "CacheClusterCreateTime": {
          "target": "com.amazonaws.elasticache#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the cluster was created.</p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the weekly time range during which maintenance\n   on the cluster is performed. It is specified as a range in\n   the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum\n   maintenance window is a 60 minute period.</p>\n         <p>Valid values for <code>ddd</code> are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>sun</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>mon</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>tue</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>wed</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>thu</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>fri</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>sat</code>\n               </p>\n            </li>\n         </ul>\n         <p>Example: <code>sun:23:00-mon:01:30</code>\n         </p>"
          }
        },
        "PendingModifiedValues": {
          "target": "com.amazonaws.elasticache#PendingModifiedValues"
        },
        "NotificationConfiguration": {
          "target": "com.amazonaws.elasticache#NotificationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Describes a notification topic and its status. \n            Notification topics are used for publishing ElastiCache events to subscribers using Amazon Simple Notification Service (SNS). </p>"
          }
        },
        "CacheSecurityGroups": {
          "target": "com.amazonaws.elasticache#CacheSecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache security group elements, composed of name and status sub-elements.</p>"
          }
        },
        "CacheParameterGroup": {
          "target": "com.amazonaws.elasticache#CacheParameterGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the cache parameter group.</p>"
          }
        },
        "CacheSubnetGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache subnet group associated with the cluster.</p>"
          }
        },
        "CacheNodes": {
          "target": "com.amazonaws.elasticache#CacheNodeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache nodes that are members of the cluster.</p>"
          }
        },
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.elasticache#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is currently disabled.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.elasticache#SecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC Security Groups associated with the cluster.</p>"
          }
        },
        "ReplicationGroupId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The replication group to which this cluster belongs. \n            If this field is empty, the cluster is not associated with any replication group.</p>"
          }
        },
        "SnapshotRetentionLimit": {
          "target": "com.amazonaws.elasticache#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which ElastiCache retains automatic cluster snapshots before\n            deleting them. For example, if you set <code>SnapshotRetentionLimit</code> to 5,  a\n            snapshot that was taken today is retained for 5 days before being deleted.</p>\n        <important>\n            <p>\n          If the value of SnapshotRetentionLimit is set to zero (0), backups are turned off.</p>\n         </important>"
          }
        },
        "SnapshotWindow": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The daily time range (in UTC) during which ElastiCache begins taking a \n            daily snapshot of your cluster.</p>\n        <p>Example: <code>05:00-09:00</code>\n         </p>"
          }
        },
        "AuthTokenEnabled": {
          "target": "com.amazonaws.elasticache#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A flag that enables using an <code>AuthToken</code> (password)\n            when issuing Redis commands.</p>\n        <p>Default: <code>false</code>\n         </p>"
          }
        },
        "AuthTokenLastModifiedDate": {
          "target": "com.amazonaws.elasticache#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the auth token was last modified</p>"
          }
        },
        "TransitEncryptionEnabled": {
          "target": "com.amazonaws.elasticache#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A flag that enables in-transit encryption when set to <code>true</code>.</p>\n        <p>You cannot modify the value of <code>TransitEncryptionEnabled</code>\n            after the cluster is created. To enable in-transit encryption on a cluster\n            you must set <code>TransitEncryptionEnabled</code> to <code>true</code>\n            when you create a cluster.</p>\n        <p>\n            <b>Required:</b>\n            Only available when creating a replication group in an Amazon VPC using redis version <code>3.2.6</code>, <code>4.x</code> or later.</p>\n        <p>Default: <code>false</code>\n         </p>"
          }
        },
        "AtRestEncryptionEnabled": {
          "target": "com.amazonaws.elasticache#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A flag that enables encryption at-rest when set to <code>true</code>.</p>\n        <p>You cannot modify the value of <code>AtRestEncryptionEnabled</code>\n            after the cluster is created. To enable at-rest encryption on a cluster\n            you must set <code>AtRestEncryptionEnabled</code> to <code>true</code>\n            when you create a cluster.</p>\n        <p>\n            <b>Required:</b>\n            Only available when creating a replication group in an Amazon VPC using redis version <code>3.2.6</code>, <code>4.x</code> or later.</p>\n        <p>Default: <code>false</code>\n         </p>"
          }
        },
        "ARN": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the cache cluster.</p>"
          }
        },
        "ReplicationGroupLogDeliveryEnabled": {
          "target": "com.amazonaws.elasticache#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value indicating whether log delivery is enabled for the replication group.</p>"
          }
        },
        "LogDeliveryConfigurations": {
          "target": "com.amazonaws.elasticache#LogDeliveryConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>Returns the destination, format and type of the logs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains all of the attributes of a specific cluster.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheClusterAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheClusterAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>You already have a cluster with the given identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#CacheClusterIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.elasticache#CacheClusterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#CacheCluster",
        "traits": {
          "smithy.api#xmlName": "CacheCluster"
        }
      }
    },
    "com.amazonaws.elasticache#CacheClusterMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "CacheClusters": {
          "target": "com.amazonaws.elasticache#CacheClusterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of clusters. Each item in the list contains detailed information about one cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeCacheClusters</code> operation.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheClusterNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheClusterNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The requested cluster ID does not refer to an existing cluster.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.elasticache#CacheEngineVersion": {
      "type": "structure",
      "members": {
        "Engine": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache engine.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the cache engine.</p>"
          }
        },
        "CacheParameterGroupFamily": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache parameter group family associated with this cache engine.</p>\n        <p>Valid values are: \n    <code>memcached1.4</code> | \n     <code>memcached1.5</code> | \n      <code>memcached1.6</code> | \n    <code>redis2.6</code> | \n    <code>redis2.8</code> |\n    <code>redis3.2</code> |\n    <code>redis4.0</code> |\n     <code>redis5.0</code> | \n      <code>redis6.x</code> | \n    </p>"
          }
        },
        "CacheEngineDescription": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cache engine.</p>"
          }
        },
        "CacheEngineVersionDescription": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cache engine version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides all of the details about a particular cache engine version.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheEngineVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#CacheEngineVersion",
        "traits": {
          "smithy.api#xmlName": "CacheEngineVersion"
        }
      }
    },
    "com.amazonaws.elasticache#CacheEngineVersionMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "CacheEngineVersions": {
          "target": "com.amazonaws.elasticache#CacheEngineVersionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache engine version details. \n            Each element in the list contains detailed information about one cache engine version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DescribeCacheEngineVersions</a> operation.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheNode": {
      "type": "structure",
      "members": {
        "CacheNodeId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The cache node identifier. A node ID is a numeric identifier (0001, 0002, etc.). The combination of cluster ID and node ID uniquely identifies every cache node used in a customer's Amazon account.</p>"
          }
        },
        "CacheNodeStatus": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The current state of this cache node, one of the following values: <code>available</code>, <code>creating</code>, <code>rebooting</code>, or <code>deleting</code>.</p>"
          }
        },
        "CacheNodeCreateTime": {
          "target": "com.amazonaws.elasticache#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the cache node was created.</p>"
          }
        },
        "Endpoint": {
          "target": "com.amazonaws.elasticache#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>The hostname for connecting to this cache node.</p>"
          }
        },
        "ParameterGroupStatus": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parameter group applied to this cache node.</p>"
          }
        },
        "SourceCacheNodeId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the primary node to which this read replica node is synchronized. \n            If this field is empty, this node is not associated with a primary cluster.</p>"
          }
        },
        "CustomerAvailabilityZone": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone where this node was created and now resides.</p>"
          }
        },
        "CustomerOutpostArn": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The customer outpost ARN of the cache node.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an individual cache node within a cluster. Each cache node runs its own\n            instance of the cluster's protocol-compliant caching software - either Memcached or\n            Redis.</p>\n\n        <p>The following node types are supported by ElastiCache. \n\t\t\t\tGenerally speaking, the current generation types provide more memory and computational power\n\t\t\tat lower cost when compared to their equivalent previous generation counterparts.</p>\n\t\t       <ul>\n            <li>\n               <p>General purpose:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Current generation: </p>\n\t\t\t\t\t    \n    \t\t\t\t\t\t           <p>\n                        <b>M6g node types</b> (available only for Redis engine version 5.0.6 onward and for Memcached engine version 1.5.16 onward).</p>\n\t\t\t\t\t\t               <p>\t\n                        <code>cache.m6g.large</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.2xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.4xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.8xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.12xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.m6g.16xlarge</code>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t               </p>\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t               <note>\n                        <p>For region availability, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/CacheNodes.SupportedTypes.html#CacheNodes.SupportedTypesByRegion\">Supported Node Types</a>\n                        </p>\n                     </note>\n    \t\t\t\t\t\n    \t\t\t\t\t\n    \t\t\t\t\t            <p>\n                        <b>M5 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m5.large</code>,\n    \t\t\t\t\t\t<code>cache.m5.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.12xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m5.24xlarge</code>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t           </p>\t\n    \t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t               <p>\n                        <b>M4 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m4.large</code>,\n    \t\t\t\t\t\t<code>cache.m4.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m4.10xlarge</code>\n                     </p>\n    \t\t\t\t\t            <p>\n                        <b>T3 node types:</b>\n\t\t\t\t\t                   <code>cache.t3.micro</code>, \n    \t\t\t\t\t\t<code>cache.t3.small</code>,\n    \t\t\t\t\t\t<code>cache.t3.medium</code>\n                     </p>\n    \t\t\t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t             <p>\n                        <b>T2 node types:</b>\n\t\t\t\t\t                   <code>cache.t2.micro</code>, \n    \t\t\t\t\t\t<code>cache.t2.small</code>,\n    \t\t\t\t\t\t<code>cache.t2.medium</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t        </li>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n\t\t\t\t\t\t               <p>\n                        <b>T1 node types:</b>\n\t\t\t\t\t                   <code>cache.t1.micro</code>\n                     </p>\n\t\t\t\t\t     \n\t\t\t\t\t\t               <p>\n                        <b>M1 node types:</b>\n\t\t\t\t\t\t                  <code>cache.m1.small</code>, \n\t\t\t\t\t\t   <code>cache.m1.medium</code>, \n\t\t\t\t\t\t   <code>cache.m1.large</code>,\n\t\t\t\t\t\t   <code>cache.m1.xlarge</code>\n                     </p>\n\t\t\t\t\t\t   \n\t\t\t\t\t\t               <p>\n                        <b>M3 node types:</b>\n    \t\t\t\t\t\t              <code>cache.m3.medium</code>,\n    \t\t\t\t\t\t<code>cache.m3.large</code>, \n    \t\t\t\t\t\t<code>cache.m3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m3.2xlarge</code>\n                     </p>\n\t\t\t\t\t\t   \n\t\t\t\t\t\t            </li>\n               </ul>\n            </li>\n            <li>\n               <p>Compute optimized:</p>\n\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n\t\t\t                  <p>\n                        <b>C1 node types:</b>\n\t\t\t                     <code>cache.c1.xlarge</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Memory optimized:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>Current generation: </p>\n\t\t\t\t\t\t\t\t\t\t\t          <p>\n                        <b>R6g node types</b> (available only for Redis engine version 5.0.6 onward and for Memcached engine version 1.5.16 onward).</p>\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t\t               <p>\t\n\t\t\t\t\t\t\t                 <code>cache.r6g.large</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.2xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.4xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.8xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.12xlarge</code>,\n\t\t\t\t\t\t\t<code>cache.r6g.16xlarge</code>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t               </p>\t\n\t\t\t\t\t\t               <note>\n                        <p>For region availability, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/CacheNodes.SupportedTypes.html#CacheNodes.SupportedTypesByRegion\">Supported Node Types</a>\n                        </p>\n                     </note>\n\t\t\t\t\t                <p>\n                        <b>R5 node types:</b>\n    \t\t\t\t\t               <code>cache.r5.large</code>,\n    \t\t\t\t\t   <code>cache.r5.xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.2xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.4xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.12xlarge</code>,\n    \t\t\t\t\t   <code>cache.r5.24xlarge</code>\n                     </p>\n\t\t\t\t\t\t\n    \t\t\t\t\t            <p>\n                        <b>R4 node types:</b>\n    \t\t\t\t\t               <code>cache.r4.large</code>,\n    \t\t\t\t\t   <code>cache.r4.xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.2xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.4xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.8xlarge</code>,\n    \t\t\t\t\t   <code>cache.r4.16xlarge</code>\n                     </p>\n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n\n  \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t   \n    \t\t\t\t\t         </li>\n                  <li>\n                     <p>Previous generation: (not recommended)</p>\n                        <p>\n                        <b>M2 node types:</b>\t\t\t\t\t\t\n    \t\t\t\t\t               <code>cache.m2.xlarge</code>, \n    \t\t\t\t\t\t<code>cache.m2.2xlarge</code>,\n    \t\t\t\t\t\t<code>cache.m2.4xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t           <p>\n                        <b>R3 node types:</b>\n    \t\t\t\t\t               <code>cache.r3.large</code>, \n    \t\t\t\t\t\t<code>cache.r3.xlarge</code>,\n    \t\t\t\t\t\t<code>cache.r3.2xlarge</code>,  \n    \t\t\t\t\t\t<code>cache.r3.4xlarge</code>,\n    \t\t\t\t\t\t<code>cache.r3.8xlarge</code>\n                     </p>\n    \t\t\t\t\t\t\n    \t\t\t\t\t\t        </li>\n               </ul>\n            </li>\n         </ul>\n\t\t\t\t\n\t\t       <p>\n            <b>Additional node type info</b>\n         </p>\n\t\t       <ul>\n            <li>\n               <p>All current generation instance types are created in Amazon VPC by default.</p>\n            </li>\n            <li>\n               <p>Redis append-only files (AOF) are not supported for T1 or T2 instances.</p>\n            </li>\n            <li>\n               <p>Redis Multi-AZ with automatic failover is not supported on T1 instances.</p>\n            </li>\n            <li>\n               <p>Redis configuration variables <code>appendonly</code> and \n\t\t\t\t<code>appendfsync</code> are not supported on Redis version 2.8.22 and later.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.elasticache#CacheNodeIdsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#String",
        "traits": {
          "smithy.api#xmlName": "CacheNodeId"
        }
      }
    },
    "com.amazonaws.elasticache#CacheNodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#CacheNode",
        "traits": {
          "smithy.api#xmlName": "CacheNode"
        }
      }
    },
    "com.amazonaws.elasticache#CacheNodeTypeSpecificParameter": {
      "type": "structure",
      "members": {
        "ParameterName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the parameter.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The source of the parameter value.</p>"
          }
        },
        "DataType": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The valid data type for the parameter.</p>"
          }
        },
        "AllowedValues": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The valid range of values for the parameter.</p>"
          }
        },
        "IsModifiable": {
          "target": "com.amazonaws.elasticache#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether (<code>true</code>) or not (<code>false</code>) the parameter can be\n            modified. Some parameters have security or operational implications that prevent them\n            from being changed.</p>"
          }
        },
        "MinimumEngineVersion": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The earliest cache engine version to which the parameter can apply.</p>"
          }
        },
        "CacheNodeTypeSpecificValues": {
          "target": "com.amazonaws.elasticache#CacheNodeTypeSpecificValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache node types and their corresponding values for this parameter.</p>"
          }
        },
        "ChangeType": {
          "target": "com.amazonaws.elasticache#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a change to the parameter is applied immediately\n            or requires a reboot for the change to be applied. \n            You can force a reboot or wait until the next maintenance window's reboot.\n            For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Clusters.Rebooting.html\">Rebooting a Cluster</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A parameter that has a different value for each cache node type it is applied to. For\n            example, in a Redis cluster, a <code>cache.m1.large</code> cache node type would have a\n            larger <code>maxmemory</code> value than a <code>cache.m1.small</code> type.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheNodeTypeSpecificParametersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#CacheNodeTypeSpecificParameter",
        "traits": {
          "smithy.api#xmlName": "CacheNodeTypeSpecificParameter"
        }
      }
    },
    "com.amazonaws.elasticache#CacheNodeTypeSpecificValue": {
      "type": "structure",
      "members": {
        "CacheNodeType": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The cache node type for which this value applies.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The value for the cache node type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A value that applies only to a certain cache node type.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheNodeTypeSpecificValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#CacheNodeTypeSpecificValue",
        "traits": {
          "smithy.api#xmlName": "CacheNodeTypeSpecificValue"
        }
      }
    },
    "com.amazonaws.elasticache#CacheNodeUpdateStatus": {
      "type": "structure",
      "members": {
        "CacheNodeId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The node ID of the cache cluster</p>"
          }
        },
        "NodeUpdateStatus": {
          "target": "com.amazonaws.elasticache#NodeUpdateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The update status of the node</p>"
          }
        },
        "NodeDeletionDate": {
          "target": "com.amazonaws.elasticache#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The deletion date of the node</p>"
          }
        },
        "NodeUpdateStartDate": {
          "target": "com.amazonaws.elasticache#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The start date of the update for a node</p>"
          }
        },
        "NodeUpdateEndDate": {
          "target": "com.amazonaws.elasticache#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The end date of the update for a node</p>"
          }
        },
        "NodeUpdateInitiatedBy": {
          "target": "com.amazonaws.elasticache#NodeUpdateInitiatedBy",
          "traits": {
            "smithy.api#documentation": "<p>Reflects whether the update was initiated by the customer or automatically applied</p>"
          }
        },
        "NodeUpdateInitiatedDate": {
          "target": "com.amazonaws.elasticache#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the update is triggered</p>"
          }
        },
        "NodeUpdateStatusModifiedDate": {
          "target": "com.amazonaws.elasticache#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the NodeUpdateStatus was last modified></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the service update on the cache node</p>"
      }
    },
    "com.amazonaws.elasticache#CacheNodeUpdateStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#CacheNodeUpdateStatus",
        "traits": {
          "smithy.api#xmlName": "CacheNodeUpdateStatus"
        }
      }
    },
    "com.amazonaws.elasticache#CacheParameterGroup": {
      "type": "structure",
      "members": {
        "CacheParameterGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache parameter group.</p>"
          }
        },
        "CacheParameterGroupFamily": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache parameter group family that this cache parameter group is compatible with.</p>\n        <p>Valid values are: \n    <code>memcached1.4</code> | \n     <code>memcached1.5</code> | \n      <code>memcached1.6</code> | \n    <code>redis2.6</code> | \n    <code>redis2.8</code> |\n    <code>redis3.2</code> |\n    <code>redis4.0</code> |\n     <code>redis5.0</code> | \n      <code>redis6.x</code> | \n    </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for this cache parameter group.</p>"
          }
        },
        "IsGlobal": {
          "target": "com.amazonaws.elasticache#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the parameter group is associated with a Global datastore</p>"
          }
        },
        "ARN": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the cache parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>CreateCacheParameterGroup</code> operation.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheParameterGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheParameterGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>A cache parameter group with the requested name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#CacheParameterGroupDetails": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.elasticache#ParametersList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>Parameter</a> instances.</p>"
          }
        },
        "CacheNodeTypeSpecificParameters": {
          "target": "com.amazonaws.elasticache#CacheNodeTypeSpecificParametersList",
          "traits": {
            "smithy.api#documentation": "<p>A list of parameters specific to a particular cache node type. \n            Each element in the list contains detailed information about one parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeCacheParameters</code> operation.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheParameterGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#CacheParameterGroup",
        "traits": {
          "smithy.api#xmlName": "CacheParameterGroup"
        }
      }
    },
    "com.amazonaws.elasticache#CacheParameterGroupNameMessage": {
      "type": "structure",
      "members": {
        "CacheParameterGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of one of the following operations:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>ModifyCacheParameterGroup</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ResetCacheParameterGroup</code>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.elasticache#CacheParameterGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheParameterGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.elasticache#CacheParameterGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheParameterGroupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request cannot be processed because it would exceed the maximum number of cache security groups.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#CacheParameterGroupStatus": {
      "type": "structure",
      "members": {
        "CacheParameterGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache parameter group.</p>"
          }
        },
        "ParameterApplyStatus": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of parameter updates.</p>"
          }
        },
        "CacheNodeIdsToReboot": {
          "target": "com.amazonaws.elasticache#CacheNodeIdsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the cache node IDs which need to be rebooted for parameter changes to be applied. \n            A node ID is a numeric identifier (0001, 0002, etc.).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Status of the cache parameter group.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheParameterGroupsMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "CacheParameterGroups": {
          "target": "com.amazonaws.elasticache#CacheParameterGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache parameter groups. Each element in the list contains detailed information \n            about one cache parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeCacheParameterGroups</code> operation.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheSecurityGroup": {
      "type": "structure",
      "members": {
        "OwnerId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon account ID of the cache security group owner.</p>"
          }
        },
        "CacheSecurityGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache security group.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cache security group.</p>"
          }
        },
        "EC2SecurityGroups": {
          "target": "com.amazonaws.elasticache#EC2SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon EC2 security groups that are associated with this cache security group.</p>"
          }
        },
        "ARN": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the cache security group,</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of one of the following operations:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>AuthorizeCacheSecurityGroupIngress</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateCacheSecurityGroup</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>RevokeCacheSecurityGroupIngress</code>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.elasticache#CacheSecurityGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSecurityGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>A cache security group with the specified name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#CacheSecurityGroupMembership": {
      "type": "structure",
      "members": {
        "CacheSecurityGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache security group.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The membership status in the cache security group. The status changes when a cache security group is modified, or when the cache security groups assigned to a cluster are modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a cluster's status within a particular cache security group.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheSecurityGroupMembershipList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#CacheSecurityGroupMembership",
        "traits": {
          "smithy.api#xmlName": "CacheSecurityGroup"
        }
      }
    },
    "com.amazonaws.elasticache#CacheSecurityGroupMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "CacheSecurityGroups": {
          "target": "com.amazonaws.elasticache#CacheSecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache security groups. Each element in the list contains detailed information about one group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeCacheSecurityGroups</code> operation.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheSecurityGroupNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#String",
        "traits": {
          "smithy.api#xmlName": "CacheSecurityGroupName"
        }
      }
    },
    "com.amazonaws.elasticache#CacheSecurityGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSecurityGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The requested cache security group name does not refer to an existing cache security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.elasticache#CacheSecurityGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "QuotaExceeded.CacheSecurityGroup",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache security groups.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#CacheSecurityGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#CacheSecurityGroup",
        "traits": {
          "smithy.api#xmlName": "CacheSecurityGroup"
        }
      }
    },
    "com.amazonaws.elasticache#CacheSubnetGroup": {
      "type": "structure",
      "members": {
        "CacheSubnetGroupName": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cache subnet group.</p>"
          }
        },
        "CacheSubnetGroupDescription": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cache subnet group.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Virtual Private Cloud identifier (VPC ID) of the cache subnet group.</p>"
          }
        },
        "Subnets": {
          "target": "com.amazonaws.elasticache#SubnetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of subnets associated with the cache subnet group.</p>"
          }
        },
        "ARN": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) of the cache subnet group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of one of the following operations:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>CreateCacheSubnetGroup</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ModifyCacheSubnetGroup</code>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.elasticache#CacheSubnetGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The requested cache subnet group name is already in use by an existing cache subnet group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#CacheSubnetGroupInUse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetGroupInUse",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The requested cache subnet group is currently in use.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#CacheSubnetGroupMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>"
          }
        },
        "CacheSubnetGroups": {
          "target": "com.amazonaws.elasticache#CacheSubnetGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list of cache subnet groups. Each element in the list contains detailed information about one group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeCacheSubnetGroups</code> operation.</p>"
      }
    },
    "com.amazonaws.elasticache#CacheSubnetGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetGroupNotFoundFault",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#CacheSubnetGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetGroupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache subnet groups.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#CacheSubnetGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#CacheSubnetGroup",
        "traits": {
          "smithy.api#xmlName": "CacheSubnetGroup"
        }
      }
    },
    "com.amazonaws.elasticache#CacheSubnetQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CacheSubnetQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request cannot be processed because it would exceed the allowed number of subnets in a cache subnet group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#ChangeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "immediate",
            "name": "immediate"
          },
          {
            "value": "requires-reboot",
            "name": "requires_reboot"
          }
        ]
      }
    },
    "com.amazonaws.elasticache#CloudWatchLogsDestinationDetails": {
      "type": "structure",
      "members": {
        "LogGroup": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch Logs log group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration details of the CloudWatch Logs destination.</p>"
      }
    },
    "com.amazonaws.elasticache#ClusterIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticache#String",
        "traits": {
          "smithy.api#xmlName": "ClusterId"
        }
      }
    },
    "com.amazonaws.elasticache#ClusterQuotaForCustomerExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticache#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterQuotaForCustomerExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request cannot be processed because it would exceed the allowed number of clusters per customer.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticache#CompleteMigration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticache#CompleteMigrationMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#CompleteMigrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticache#InvalidReplicationGroupStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReplicationGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#ReplicationGroupNotUnderMigrationFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Complete the migration of data.</p>"
      }
    },
    "com.amazonaws.elasticache#CompleteMigrationMessage": {
      "type": "structure",
      "members": {
        "ReplicationGroupId": {
          "target": "com.amazonaws.elasticache#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the replication group to which data is being migrated.</p>",
            "smithy.api#required": {}
          }
        },
        "Force": {
          "target": "com.amazonaws.elasticache#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Forces the migration to stop without ensuring that data is in sync. It is recommended to use this option only to abort the migration and not recommended when application wants to continue migration to ElastiCache.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticache#CompleteMigrationResponse": {
      "type": "structure",
      "members": {
        "ReplicationGroup": {
          "target": "com.amazonaws.elasticache#ReplicationGroup"
        }
      }
    },
    "com.amazonaws.elasticache#ConfigureShard": {
      "type": "structure",
      "members": {
        "NodeGroupId": {
          "target": "com.amazonaws.elasticache#AllowedNodeGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The 4-digit id for the node group you are configuring. For Redis (cluster mode disabled) \n            replication groups, the node group id is always 0001. To find a Redis (cluster mode enabled)'s \n            node group's (shard's) id, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/shard-find-id.html\">Finding a Shard's Id</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "NewReplicaCount": {
          "target": "com.amazonaws.elasticache#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of replicas you want  in this node group at the end of this operation. \n            The maximum value for <code>NewReplicaCount</code> is 5.\n            The minimum value depends upon the type of Redis replication group you are working with.</p>\n        <p>The minimum number of replicas in a shard or replication group is:</p>\n        <ul>\n            <li>\n                <p>Redis (cluster mode disabled)</p>\n                <ul>\n                  <li>\n                        <p>If Multi-AZ: 1</p>\n                  </li>\n                  <li>\n                        <p>If Multi-AZ: 0</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n                <p>Redis (cluster mode enabled): 0 (though you will not be able to failover to a replica if your primary node fails)</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "PreferredAvailabilityZones": {
          "target": "com.amazonaws.elasticache#PreferredAvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>PreferredAvailabilityZone</code> strings that specify which availability zones the \n            replication group's nodes are to be in. The nummber of <code>PreferredAvailabilityZone</code> values must \n            equal the value of <code>NewReplicaCount</code> plus 1 to account for the primary node. If this member of \n            <code>ReplicaConfiguration</code> is omitted, ElastiCache for Redis selects the availability zone for  \n            each of the replicas.</p>"
          }
        },
        "PreferredOutpostArns": {
          "target": "com.amazonaws.elasticache#PreferredOutpostArnList",
          "traits": {
            "smithy.api#documentation": "<p>The outpost ARNs in which the cache cluster is created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Node group (shard) configuration options when adding or removing replicas. \n            Each node group (shard) configuration has the following members: NodeGroupId, NewReplicaCount, and PreferredAvailabilityZones. </p>"
      }
    },
    "com.amazonaws.elasticache#CopySnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticache#CopySnapshotMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticache#CopySnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticache#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.elasticache#InvalidSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.elasticache#SnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.elasticache#SnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.elasticache#SnapshotQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.elasticache#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Makes a copy of an existing snapshot.</p>\n\n        <note>\n            <p>This operation is valid for Redis only.</p>\n         </note>\n\n        <important>\n            <p>Users or groups that have permissions to use the <code>CopySnapshot</code> operation  \n                can create their own Amazon S3 buckets and copy snapshots to it. \n                To control access to your snapshots, use an IAM policy to control who has the ability to use \n                the <code>CopySnapshot</code> operation. \n                For more information about using IAM to control the use of ElastiCache operations, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html\">Exporting Snapshots</a> \n                and <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/IAM.html\">Authentication & Access Control</a>.</p>\n         </important>\n        \n        <p>You could receive the following error messages.</p>\n        <p class=\"title\">\n            <b>Error Messages</b>\n         </p>\n         <ul>\n            <li>\n                <p>\n                  <b>Error Message:</b>\n                    The S3 bucket %s is outside of the region.</p>\n                <p>\n                  <b>Solution:</b>\n                    Create an Amazon S3 bucket in the same region as your snapshot. \n                    For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message:</b>\n                    The S3 bucket %s does not exist.</p>\n                <p>\n                  <b>Solution:</b>\n                    Create an Amazon S3 bucket in the same region as your snapshot.\n                    For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message:</b>\n                    The S3 bucket %s is not owned by the authenticated user.</p>\n                <p>\n                  <b>Solution:</b>\n                    Create an Amazon S3 bucket in the same region as your snapshot.\n                    For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message:</b>\n                    The authenticated user does not have sufficient permissions to perform the desired activity.</p>\n                <p>\n                  <b>Solution:</b>\n                    Contact your system administrator to get the needed permissions.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message:</b>\n                    The S3 bucket %s already contains an object with key %s.</p>\n                <p>\n                  <b>Solution:</b>\n                    Give the <code>TargetSnapshotName</code> a new and unique value.\n                    If exporting a snapshot, \n                    you could alternatively create a new Amazon S3 bucket \n                    and use this same value for <code>TargetSnapshotName</code>.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Error Message: </b>\n                    ElastiCache has not been granted READ permissions %s on the S3 Bucket.</p>\n                <p>\n                  <b>Solution:</b>\n                    Add List and Read permissions on the bucket.\n                For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p>\n            </li>\n            <li>\n    
[...]
