{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.elasticbeanstalk#ARN": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#AWSElasticBeanstalkService": {
      "type": "service",
      "version": "2010-12-01",
      "operations": [
        {
          "target": "com.amazonaws.elasticbeanstalk#AbortEnvironmentUpdate"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedAction"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CheckDNSAvailability"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ComposeEnvironments"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreateApplication"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreateApplicationVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreateConfigurationTemplate"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreateEnvironment"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreatePlatformVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#CreateStorageLocation"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DeleteApplication"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DeleteApplicationVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DeleteConfigurationTemplate"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DeleteEnvironmentConfiguration"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DeletePlatformVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeAccountAttributes"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeApplications"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeApplicationVersions"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeConfigurationOptions"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeConfigurationSettings"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEnvironmentHealth"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEnvironmentManagedActionHistory"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEnvironmentManagedActions"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEnvironmentResources"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEnvironments"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeEvents"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribeInstancesHealth"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#DescribePlatformVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ListAvailableSolutionStacks"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ListPlatformVersions"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#RebuildEnvironment"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#RequestEnvironmentInfo"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#RestartAppServer"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#RetrieveEnvironmentInfo"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#SwapEnvironmentCNAMEs"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TerminateEnvironment"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateApplication"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateApplicationResourceLifecycle"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateApplicationVersion"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateConfigurationTemplate"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateEnvironment"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#UpdateTagsForResource"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ValidateConfigurationSettings"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Elastic Beanstalk",
          "arnNamespace": "elasticbeanstalk",
          "cloudFormationName": "ElasticBeanstalk",
          "cloudTrailEventSource": "elasticbeanstalk.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "elasticbeanstalk"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>AWS Elastic Beanstalk</fullname>\n      \n    \n         <p>AWS Elastic Beanstalk makes it easy for you to create, deploy, and manage scalable,\n      fault-tolerant applications running on the Amazon Web Services cloud.</p>\n         <p>For more information about this product, go to the <a href=\"http://aws.amazon.com/elasticbeanstalk/\">AWS Elastic Beanstalk</a> details page. The location of the\n      latest AWS Elastic Beanstalk WSDL is <a href=\"http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl\">http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl</a>.\n      To install the Software Development Kits (SDKs), Integrated Development Environment (IDE)\n      Toolkits, and command line tools that enable you to access the API, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p>\n         <p>\n            <b>Endpoints</b>\n         </p>\n         <p>For a list of region-specific endpoints that AWS Elastic Beanstalk supports, go to\n        <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\">Regions and Endpoints</a> in the <i>Amazon Web Services\n      Glossary</i>.</p>",
        "smithy.api#title": "AWS Elastic Beanstalk",
        "smithy.api#xmlNamespace": {
          "uri": "http://elasticbeanstalk.amazonaws.com/docs/2010-12-01/"
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#AbortEnvironmentUpdate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#AbortEnvironmentUpdateMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels in-progress environment configuration update or application version\n      deployment.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#AbortEnvironmentUpdateMessage": {
      "type": "structure",
      "members": {
        "EnvironmentId": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>This specifies the ID of the environment with the in-progress update that you want to\n      cancel.</p>"
          }
        },
        "EnvironmentName": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>This specifies the name of the environment with the in-progress update that you want to\n      cancel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#AbortableOperationInProgress": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.elasticbeanstalk#ActionHistoryStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Completed"
          },
          {
            "value": "Failed"
          },
          {
            "value": "Unknown"
          }
        ]
      }
    },
    "com.amazonaws.elasticbeanstalk#ActionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Scheduled"
          },
          {
            "value": "Pending"
          },
          {
            "value": "Running"
          },
          {
            "value": "Unknown"
          }
        ]
      }
    },
    "com.amazonaws.elasticbeanstalk#ActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "InstanceRefresh"
          },
          {
            "value": "PlatformUpdate"
          },
          {
            "value": "Unknown"
          }
        ]
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationArn": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ApplicationDescription": {
      "type": "structure",
      "members": {
        "ApplicationArn": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>"
          }
        },
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>"
          }
        },
        "ConfigurationTemplates": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationTemplateNamesList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the configuration templates associated with this application.</p>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.elasticbeanstalk#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>The date when the application was created.</p>"
          }
        },
        "DateUpdated": {
          "target": "com.amazonaws.elasticbeanstalk#UpdateDate",
          "traits": {
            "smithy.api#documentation": "<p>The date when the application was last modified.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>User-defined description of the application.</p>"
          }
        },
        "ResourceLifecycleConfig": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationResourceLifecycleConfig",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle settings for the application.</p>"
          }
        },
        "Versions": {
          "target": "com.amazonaws.elasticbeanstalk#VersionLabelsList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the versions for this application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of an application.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationDescription"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationDescriptionMessage": {
      "type": "structure",
      "members": {
        "Application": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationDescription",
          "traits": {
            "smithy.api#documentation": "<p> The <a>ApplicationDescription</a> of the application. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Result message containing a single description of an application.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationDescriptionsMessage": {
      "type": "structure",
      "members": {
        "Applications": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>This parameter contains a list of <a>ApplicationDescription</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Result message containing a list of application descriptions.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationMetrics": {
      "type": "structure",
      "members": {
        "Duration": {
          "target": "com.amazonaws.elasticbeanstalk#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that the metrics cover (usually 10 seconds). For example, you might\n      have 5 requests (<code>request_count</code>) within the most recent time slice of 10 seconds\n        (<code>duration</code>).</p>"
          }
        },
        "Latency": {
          "target": "com.amazonaws.elasticbeanstalk#Latency",
          "traits": {
            "smithy.api#documentation": "<p>Represents the average latency for the slowest X percent of requests over the last 10\n      seconds. Latencies are in seconds with one millisecond resolution.</p>"
          }
        },
        "RequestCount": {
          "target": "com.amazonaws.elasticbeanstalk#RequestCount",
          "traits": {
            "smithy.api#documentation": "<p>Average number of requests handled by the web server per second over the last 10\n      seconds.</p>"
          }
        },
        "StatusCodes": {
          "target": "com.amazonaws.elasticbeanstalk#StatusCodes",
          "traits": {
            "smithy.api#documentation": "<p>Represents the percentage of requests over the last 10 seconds that resulted in each\n      type of status code response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Application request metrics for an AWS Elastic Beanstalk environment.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationName"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationResourceLifecycleConfig": {
      "type": "structure",
      "members": {
        "ServiceRole": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an IAM service role that Elastic Beanstalk has permission to\n      assume.</p>\n         <p>The <code>ServiceRole</code> property is required the first time that you provide a\n        <code>VersionLifecycleConfig</code> for the application in one of the supporting calls\n        (<code>CreateApplication</code> or <code>UpdateApplicationResourceLifecycle</code>). After\n      you provide it once, in either one of the calls, Elastic Beanstalk persists the Service Role with the\n      application, and you don't need to specify it again in subsequent\n        <code>UpdateApplicationResourceLifecycle</code> calls. You can, however, specify it in\n      subsequent calls to change the Service Role to another value.</p>"
          }
        },
        "VersionLifecycleConfig": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionLifecycleConfig",
          "traits": {
            "smithy.api#documentation": "<p>The application version lifecycle configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource lifecycle configuration for an application. Defines lifecycle settings for\n      resources that belong to the application, and the service role that Elastic Beanstalk assumes\n      in order to apply lifecycle settings. The version lifecycle configuration defines lifecycle\n      settings for application versions.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationResourceLifecycleDescriptionMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>"
          }
        },
        "ResourceLifecycleConfig": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationResourceLifecycleConfig",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionArn": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionDescription": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to which the application version belongs.</p>"
          }
        },
        "ApplicationVersionArn": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application version.</p>"
          }
        },
        "BuildArn": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>Reference to the artifact from the AWS CodeBuild build.</p>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.elasticbeanstalk#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>The creation date of the application version.</p>"
          }
        },
        "DateUpdated": {
          "target": "com.amazonaws.elasticbeanstalk#UpdateDate",
          "traits": {
            "smithy.api#documentation": "<p>The last modified date of the application version.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application version.</p>"
          }
        },
        "SourceBuildInformation": {
          "target": "com.amazonaws.elasticbeanstalk#SourceBuildInformation",
          "traits": {
            "smithy.api#documentation": "<p>If the version's source code was retrieved from AWS CodeCommit, the location of the\n      source code for the application version.</p>"
          }
        },
        "SourceBundle": {
          "target": "com.amazonaws.elasticbeanstalk#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The storage location of the application version's source bundle in Amazon S3.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The processing status of the application version. Reflects the state of the application\n      version during its creation. Many of the values are only applicable if you specified\n        <code>True</code> for the <code>Process</code> parameter of the\n        <code>CreateApplicationVersion</code> action. The following list describes the possible\n      values.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Unprocessed</code> – Application version wasn't pre-processed or validated.\n          Elastic Beanstalk will validate configuration files during deployment of the application version to an\n        environment.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Processing</code> – Elastic Beanstalk is currently processing the application version.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Building</code> – Application version is currently undergoing an AWS CodeBuild build.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Processed</code> – Elastic Beanstalk was successfully pre-processed and validated.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code> – Either the AWS CodeBuild build failed or configuration files didn't\n          pass validation. This application version isn't usable.</p>\n            </li>\n         </ul>"
          }
        },
        "VersionLabel": {
          "target": "com.amazonaws.elasticbeanstalk#VersionLabel",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the application version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of an application version.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionDescription"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionMessage": {
      "type": "structure",
      "members": {
        "ApplicationVersion": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionDescription",
          "traits": {
            "smithy.api#documentation": "<p> The <a>ApplicationVersionDescription</a> of the application version.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Result message wrapping a single description of an application version.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionsMessage": {
      "type": "structure",
      "members": {
        "ApplicationVersions": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>List of <code>ApplicationVersionDescription</code> objects sorted in order of\n      creation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticbeanstalk#Token",
          "traits": {
            "smithy.api#documentation": "<p>In a paginated request, the token that you can pass in a subsequent request to get the\n      next response page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Result message wrapping a list of application version descriptions.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionLifecycleConfig": {
      "type": "structure",
      "members": {
        "MaxAgeRule": {
          "target": "com.amazonaws.elasticbeanstalk#MaxAgeRule",
          "traits": {
            "smithy.api#documentation": "<p>Specify a max age rule to restrict the length of time that application versions are\n      retained for an application.</p>"
          }
        },
        "MaxCountRule": {
          "target": "com.amazonaws.elasticbeanstalk#MaxCountRule",
          "traits": {
            "smithy.api#documentation": "<p>Specify a max count rule to restrict the number of application versions that are\n      retained for an application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The application version lifecycle settings for an application. Defines the rules that\n      Elastic Beanstalk applies to an application's versions in order to avoid hitting the\n      per-region limit for application versions.</p>\n         <p>When Elastic Beanstalk deletes an application version from its database, you can no\n      longer deploy that version to an environment. The source bundle remains in S3 unless you\n      configure the rule to delete it.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionProccess": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplicationVersionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Processed"
          },
          {
            "value": "Unprocessed"
          },
          {
            "value": "Failed"
          },
          {
            "value": "Processing"
          },
          {
            "value": "Building"
          }
        ]
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedActionRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedActionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#ElasticBeanstalkServiceException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#ManagedActionInvalidStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Applies a scheduled managed action immediately. A managed action can be applied only if\n      its status is <code>Scheduled</code>. Get the status and action ID of a managed action with\n        <a>DescribeEnvironmentManagedActions</a>.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedActionRequest": {
      "type": "structure",
      "members": {
        "ActionId": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The action ID of the scheduled managed action to execute.</p>",
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID of the target environment.</p>"
          }
        },
        "EnvironmentName": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target environment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to execute a scheduled managed action immediately.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ApplyEnvironmentManagedActionResult": {
      "type": "structure",
      "members": {
        "ActionDescription": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the managed action.</p>"
          }
        },
        "ActionId": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The action ID of the managed action.</p>"
          }
        },
        "ActionType": {
          "target": "com.amazonaws.elasticbeanstalk#ActionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of managed action.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the managed action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result message containing information about the managed action.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#AutoCreateApplication": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.elasticbeanstalk#AutoScalingGroup": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.elasticbeanstalk#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AutoScalingGroup</code> . </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Auto Scaling launch configuration.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#AutoScalingGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#AutoScalingGroup"
      }
    },
    "com.amazonaws.elasticbeanstalk#AvailableSolutionStackDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#SolutionStackDescription"
      }
    },
    "com.amazonaws.elasticbeanstalk#AvailableSolutionStackNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#SolutionStackName"
      }
    },
    "com.amazonaws.elasticbeanstalk#BoxedBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.elasticbeanstalk#BoxedInt": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.elasticbeanstalk#BuildConfiguration": {
      "type": "structure",
      "members": {
        "ArtifactName": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the artifact of the CodeBuild build.\n    If provided, Elastic Beanstalk stores the build artifact in the S3 location \n    <i>S3-bucket</i>/resources/<i>application-name</i>/codebuild/codebuild-<i>version-label</i>-<i>artifact-name</i>.zip.\n    If not provided, Elastic Beanstalk stores the build artifact in the S3 location \n    <i>S3-bucket</i>/resources/<i>application-name</i>/codebuild/codebuild-<i>version-label</i>.zip.\n    </p>"
          }
        },
        "CodeBuildServiceRole": {
          "target": "com.amazonaws.elasticbeanstalk#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "ComputeType": {
          "target": "com.amazonaws.elasticbeanstalk#ComputeType",
          "traits": {
            "smithy.api#documentation": "<p>Information about the compute resources the build project will use.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BUILD_GENERAL1_SMALL: Use up to 3 GB memory and 2 vCPUs for builds</code>\n               </p>\n            </li>\n            <li>\n\t              <p>\n                  <code>BUILD_GENERAL1_MEDIUM: Use up to 7 GB memory and 4 vCPUs for builds</code>\n               </p>\n            </li>\n            <li>\n\t              <p>\n                  <code>BUILD_GENERAL1_LARGE: Use up to 15 GB memory and 8 vCPUs for builds</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "Image": {
          "target": "com.amazonaws.elasticbeanstalk#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Docker image to use for this build project.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeoutInMinutes": {
          "target": "com.amazonaws.elasticbeanstalk#BoxedInt",
          "traits": {
            "smithy.api#documentation": "<p>How long in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait until timing out any related build that does not get marked as completed. The default is 60 minutes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings for an AWS CodeBuild build.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#Builder": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.elasticbeanstalk#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the builder.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The builder used to build the custom platform.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CPUUtilization": {
      "type": "structure",
      "members": {
        "IOWait": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Linux environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>I/O Wait</code> state over the\n      last 10 seconds.</p>"
          }
        },
        "IRQ": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Linux environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>IRQ</code> state over the last\n      10 seconds.</p>"
          }
        },
        "Idle": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Percentage of time that the CPU has spent in the <code>Idle</code> state over the last\n      10 seconds.</p>"
          }
        },
        "Nice": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Linux environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>Nice</code> state over the last\n      10 seconds.</p>"
          }
        },
        "Privileged": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Windows environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>Privileged</code> state over the\n      last 10 seconds.</p>"
          }
        },
        "SoftIRQ": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Linux environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>SoftIRQ</code> state over the\n      last 10 seconds.</p>"
          }
        },
        "System": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Available on Linux environments only.</p>\n         <p>Percentage of time that the CPU has spent in the <code>System</code> state over the\n      last 10 seconds.</p>"
          }
        },
        "User": {
          "target": "com.amazonaws.elasticbeanstalk#NullableDouble",
          "traits": {
            "smithy.api#documentation": "<p>Percentage of time that the CPU has spent in the <code>User</code> state over the last\n      10 seconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CPU utilization metrics for an instance.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#Cause": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#Causes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#Cause"
      }
    },
    "com.amazonaws.elasticbeanstalk#CheckDNSAvailability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#CheckDNSAvailabilityMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#CheckDNSAvailabilityResultMessage"
      },
      "traits": {
        "smithy.api#documentation": "<p>Checks if the specified CNAME is available.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CheckDNSAvailabilityMessage": {
      "type": "structure",
      "members": {
        "CNAMEPrefix": {
          "target": "com.amazonaws.elasticbeanstalk#DNSCnamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix used when this CNAME is reserved.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Results message indicating whether a CNAME is available.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CheckDNSAvailabilityResultMessage": {
      "type": "structure",
      "members": {
        "Available": {
          "target": "com.amazonaws.elasticbeanstalk#CnameAvailability",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the specified CNAME is available:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>true</code> : The CNAME is available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>false</code> : The CNAME is not available.</p>\n            </li>\n         </ul>"
          }
        },
        "FullyQualifiedCNAME": {
          "target": "com.amazonaws.elasticbeanstalk#DNSCname",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified CNAME to reserve when <a>CreateEnvironment</a> is called\n      with the provided prefix.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates if the specified CNAME is available.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CnameAvailability": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.elasticbeanstalk#CodeBuildNotInServiceRegionException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.elasticbeanstalk#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>The exception error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS CodeBuild is not available in the specified region.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.elasticbeanstalk#ComposeEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#ComposeEnvironmentsMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#EnvironmentDescriptionsMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyEnvironmentsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create or update a group of environments that each run a separate component of a single\n      application. Takes a list of version labels that specify application source bundles for each\n      of the environments to create or update. The name of each environment and other required\n      information must be included in the source bundles in an environment manifest named\n      <code>env.yaml</code>. See <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-mgmt-compose.html\">Compose Environments</a>\n      for details.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ComposeEnvironmentsMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to which the specified source bundles belong.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.elasticbeanstalk#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group to which the target environments belong. Specify a group name\n      only if the environment name defined in each target environment's manifest ends with a +\n      (plus) character. See <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-manifest.html\">Environment Manifest\n        (env.yaml)</a> for details.</p>"
          }
        },
        "VersionLabels": {
          "target": "com.amazonaws.elasticbeanstalk#VersionLabels",
          "traits": {
            "smithy.api#documentation": "<p>A list of version labels, specifying one or more application source bundles that belong\n      to the target application. Each source bundle must include an environment manifest that\n      specifies the name of the environment and the name of the solution stack to use, and\n      optionally can specify environment links to create.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to create or update a group of environments.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ComputeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BUILD_GENERAL1_SMALL",
            "name": "BUILD_GENERAL1_SMALL"
          },
          {
            "value": "BUILD_GENERAL1_MEDIUM",
            "name": "BUILD_GENERAL1_MEDIUM"
          },
          {
            "value": "BUILD_GENERAL1_LARGE",
            "name": "BUILD_GENERAL1_LARGE"
          }
        ]
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationDeploymentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "deployed"
          },
          {
            "value": "pending"
          },
          {
            "value": "failed"
          }
        ]
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionDefaultValue": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionDescription": {
      "type": "structure",
      "members": {
        "ChangeSeverity": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionSeverity",
          "traits": {
            "smithy.api#documentation": "<p>An indication of which action is required if the value for this configuration option\n      changes:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NoInterruption</code> : There is no interruption to the environment or application\n          availability.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RestartEnvironment</code> : The environment is entirely restarted, all AWS resources\n          are deleted and recreated, and the environment is unavailable during the\n          process.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RestartApplicationServer</code> : The environment is available the entire time.\n          However, a short application outage occurs when the application servers on the running\n          Amazon EC2 instances are restarted.</p>\n            </li>\n         </ul>"
          }
        },
        "DefaultValue": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionDefaultValue",
          "traits": {
            "smithy.api#documentation": "<p>The default value for this configuration option.</p>"
          }
        },
        "MaxLength": {
          "target": "com.amazonaws.elasticbeanstalk#OptionRestrictionMaxLength",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the configuration option must be a string value no longer than this\n      value.</p>"
          }
        },
        "MaxValue": {
          "target": "com.amazonaws.elasticbeanstalk#OptionRestrictionMaxValue",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the configuration option must be a numeric value less than this\n      value.</p>"
          }
        },
        "MinValue": {
          "target": "com.amazonaws.elasticbeanstalk#OptionRestrictionMinValue",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the configuration option must be a numeric value greater than this\n      value.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration option.</p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.elasticbeanstalk#OptionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>A unique namespace identifying the option's associated AWS resource.</p>"
          }
        },
        "Regex": {
          "target": "com.amazonaws.elasticbeanstalk#OptionRestrictionRegex",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the configuration option must be a string value that satisfies this\n      regular expression.</p>"
          }
        },
        "UserDefined": {
          "target": "com.amazonaws.elasticbeanstalk#UserDefinedOption",
          "traits": {
            "smithy.api#documentation": "<p>An indication of whether the user defined this configuration option:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>true</code> : This configuration option was defined by the user. It is a valid\n          choice for specifying if this as an <code>Option to Remove</code> when updating\n          configuration settings. </p>\n            </li>\n            <li>\n               <p>\n                  <code>false</code> : This configuration was not defined by the user.</p>\n            </li>\n         </ul>\n         <p> Constraint: You can remove only <code>UserDefined</code> options from a configuration. </p>\n         <p> Valid Values: <code>true</code> | <code>false</code>\n         </p>"
          }
        },
        "ValueOptions": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionPossibleValues",
          "traits": {
            "smithy.api#documentation": "<p>If specified, values for the configuration option are selected from this\n      list.</p>"
          }
        },
        "ValueType": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionValueType",
          "traits": {
            "smithy.api#documentation": "<p>An indication of which type of values this option has and whether it is allowable to\n      select one or more than one of the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Scalar</code> : Values for this option are a single selection from the possible\n          values, or an unformatted string, or numeric value governed by the\n          <code>MIN/MAX/Regex</code> constraints.</p>\n            </li>\n            <li>\n               <p>\n                  <code>List</code> : Values for this option are multiple selections from the possible\n          values.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Boolean</code> : Values for this option are either <code>true</code> or\n          <code>false</code> .</p>\n            </li>\n            <li>\n               <p>\n                  <code>Json</code> : Values for this option are a JSON representation of a\n          <code>ConfigDocument</code>.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the possible values for a configuration option.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionDescriptionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionDescription"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionName": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionPossibleValue": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionPossibleValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionPossibleValue"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionSetting": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.elasticbeanstalk#OptionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>A unique namespace identifying the option's associated AWS resource.</p>"
          }
        },
        "OptionName": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration option.</p>"
          }
        },
        "ResourceName": {
          "target": "com.amazonaws.elasticbeanstalk#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A unique resource name for a time-based scaling configuration option.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionValue",
          "traits": {
            "smithy.api#documentation": "<p>The current value for the configuration option.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A specification identifying an individual configuration option along with its current\n      value. For a list of possible option values, go to <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html\">Option Values</a> in the\n      <i>AWS Elastic Beanstalk Developer Guide</i>. </p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionSettingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionSetting"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionSeverity": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionValue": {
      "type": "string"
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionValueType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Scalar"
          },
          {
            "value": "List"
          }
        ]
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationOptionsDescription": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionDescriptionsList",
          "traits": {
            "smithy.api#documentation": "<p> A list of <a>ConfigurationOptionDescription</a>. </p>"
          }
        },
        "PlatformArn": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the platform.</p>"
          }
        },
        "SolutionStackName": {
          "target": "com.amazonaws.elasticbeanstalk#SolutionStackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the solution stack these configuration options belong to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the settings for a specified configuration set.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescription": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application associated with this configuration set.</p>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.elasticbeanstalk#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>The date (in UTC time) when this configuration set was created.</p>"
          }
        },
        "DateUpdated": {
          "target": "com.amazonaws.elasticbeanstalk#UpdateDate",
          "traits": {
            "smithy.api#documentation": "<p>The date (in UTC time) when this configuration set was last modified.</p>"
          }
        },
        "DeploymentStatus": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationDeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p> If this configuration set is associated with an environment, the\n        <code>DeploymentStatus</code> parameter indicates the deployment status of this\n      configuration set: </p>\n         <ul>\n            <li>\n               <p>\n                  <code>null</code>: This configuration is not associated with a running\n          environment.</p>\n            </li>\n            <li>\n               <p>\n                  <code>pending</code>: This is a draft configuration that is not deployed to the associated\n          environment but is in the process of deploying.</p>\n            </li>\n            <li>\n               <p>\n                  <code>deployed</code>: This is the configuration that is currently deployed to the\n          associated running environment.</p>\n            </li>\n            <li>\n               <p>\n                  <code>failed</code>: This is a draft configuration that failed to successfully\n          deploy.</p>\n            </li>\n         </ul>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>Describes this configuration set.</p>"
          }
        },
        "EnvironmentName": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p> If not <code>null</code>, the name of the environment for this configuration set.\n    </p>"
          }
        },
        "OptionSettings": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the configuration options and their values in this configuration\n      set.</p>"
          }
        },
        "PlatformArn": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the platform.</p>"
          }
        },
        "SolutionStackName": {
          "target": "com.amazonaws.elasticbeanstalk#SolutionStackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the solution stack this configuration set uses.</p>"
          }
        },
        "TemplateName": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationTemplateName",
          "traits": {
            "smithy.api#documentation": "<p> If not <code>null</code>, the name of the configuration template for this\n      configuration set. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the settings for a configuration set.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescription"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescriptions": {
      "type": "structure",
      "members": {
        "ConfigurationSettings": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p> A list of <a>ConfigurationSettingsDescription</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The results from a request to change the configuration settings of an\n      environment.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationSettingsValidationMessages": {
      "type": "structure",
      "members": {
        "Messages": {
          "target": "com.amazonaws.elasticbeanstalk#ValidationMessagesList",
          "traits": {
            "smithy.api#documentation": "<p> A list of <a>ValidationMessage</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of validation messages.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationTemplateName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#ConfigurationTemplateNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationTemplateName"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#CreateApplicationMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationDescriptionMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyApplicationsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates an application that has one configuration template named <code>default</code>\n      and no application versions. </p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateApplicationMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>\n         <p>Constraint: This name must be unique within your account. If the specified name already\n      exists, the action returns an <code>InvalidParameterValue</code> error.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>Describes the application.</p>"
          }
        },
        "ResourceLifecycleConfig": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationResourceLifecycleConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specify an application resource lifecycle configuration to prevent your application\n      from accumulating too many versions.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticbeanstalk#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the tags applied to the application.</p>\n         <p>Elastic Beanstalk applies these tags only to the application. Environments that you create in the\n      application don't inherit the tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to create an application.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateApplicationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#CreateApplicationVersionMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#CodeBuildNotInServiceRegionException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#S3LocationNotInServiceRegionException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyApplicationsException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyApplicationVersionsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an application version for the specified application. You can create an\n      application version from a source bundle in Amazon S3, a commit in AWS CodeCommit, or the\n      output of an AWS CodeBuild build as follows:</p>\n         <p>Specify a commit in an AWS CodeCommit repository with\n        <code>SourceBuildInformation</code>.</p>\n         <p>Specify a build in an AWS CodeBuild with <code>SourceBuildInformation</code> and\n        <code>BuildConfiguration</code>.</p>\n         <p>Specify a source bundle in S3 with <code>SourceBundle</code>\n         </p>\n         <p>Omit both <code>SourceBuildInformation</code> and <code>SourceBundle</code> to use the\n      default sample application.</p>\n         <note>\n            <p>Once you create an application version with a specified Amazon S3 bucket and key\n        location, you cannot change that Amazon S3 location. If you change the Amazon S3 location,\n        you receive an exception when you attempt to launch an environment from the application\n        version.</p>\n         </note>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateApplicationVersionMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the application. If no application is found with this name, and\n        <code>AutoCreateApplication</code> is <code>false</code>, returns an\n        <code>InvalidParameterValue</code> error. </p>",
            "smithy.api#required": {}
          }
        },
        "AutoCreateApplication": {
          "target": "com.amazonaws.elasticbeanstalk#AutoCreateApplication",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to create an application with the specified name if it doesn't\n      already exist.</p>"
          }
        },
        "BuildConfiguration": {
          "target": "com.amazonaws.elasticbeanstalk#BuildConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Settings for an AWS CodeBuild build.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>Describes this version.</p>"
          }
        },
        "Process": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionProccess",
          "traits": {
            "smithy.api#documentation": "<p>Pre-processes and validates the environment manifest (<code>env.yaml</code>) and\n      configuration files (<code>*.config</code> files in the <code>.ebextensions</code> folder) in\n      the source bundle. Validating configuration files can identify issues prior to deploying the\n      application version to an environment.</p>\n         <p>You must turn processing on for application versions that you create using AWS\n      CodeBuild or AWS CodeCommit. For application versions built from a source bundle in Amazon S3,\n      processing is optional.</p>\n         <note>\n            <p>The <code>Process</code> option validates Elastic Beanstalk configuration files. It\n      doesn't validate your application's configuration files, like proxy server or Docker\n      configuration.</p>\n         </note>"
          }
        },
        "SourceBuildInformation": {
          "target": "com.amazonaws.elasticbeanstalk#SourceBuildInformation",
          "traits": {
            "smithy.api#documentation": "<p>Specify a commit in an AWS CodeCommit Git repository to use as the source code for the\n      application version.</p>"
          }
        },
        "SourceBundle": {
          "target": "com.amazonaws.elasticbeanstalk#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket and key that identify the location of the source bundle for this\n      version.</p>\n         <note>\n            <p>The Amazon S3 bucket must be in the same region as the\n      environment.</p>\n         </note>\n         <p>Specify a source bundle in S3 or a commit in an AWS CodeCommit repository (with\n        <code>SourceBuildInformation</code>), but not both. If neither <code>SourceBundle</code> nor\n        <code>SourceBuildInformation</code> are provided, Elastic Beanstalk uses a sample\n      application.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticbeanstalk#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the tags applied to the application version.</p>\n         <p>Elastic Beanstalk applies these tags only to the application version. Environments that use the\n      application version don't inherit the tags.</p>"
          }
        },
        "VersionLabel": {
          "target": "com.amazonaws.elasticbeanstalk#VersionLabel",
          "traits": {
            "smithy.api#documentation": "<p>A label identifying this version.</p>\n         <p>Constraint: Must be unique per application. If an application version already exists\n      with this label for the specified application, AWS Elastic Beanstalk returns an\n        <code>InvalidParameterValue</code> error. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateConfigurationTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#CreateConfigurationTemplateMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationSettingsDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyBucketsException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyConfigurationTemplatesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a configuration template. Templates are associated with a specific application\n      and are used to deploy different versions of the application with the same configuration\n      settings.</p>\n         <p>Templates aren't associated with any environment. The <code>EnvironmentName</code>\n      response element is always <code>null</code>.</p>\n         <p>Related Topics</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DescribeConfigurationOptions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeConfigurationSettings</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListAvailableSolutionStacks</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateConfigurationTemplateMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to associate with this configuration template. If no\n      application is found with this name, AWS Elastic Beanstalk returns an\n        <code>InvalidParameterValue</code> error. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>Describes this configuration.</p>"
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment used with this configuration template.</p>"
          }
        },
        "OptionSettings": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>If specified, AWS Elastic Beanstalk sets the specified configuration option to the\n      requested value. The new value overrides the value obtained from the solution stack or the\n      source configuration template.</p>"
          }
        },
        "PlatformArn": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the custom platform.</p>"
          }
        },
        "SolutionStackName": {
          "target": "com.amazonaws.elasticbeanstalk#SolutionStackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the solution stack used by this configuration. The solution stack specifies\n      the operating system, architecture, and application server for a configuration template. It\n      determines the set of configuration options as well as the possible and default\n      values.</p>\n\n         <p> Use <a>ListAvailableSolutionStacks</a> to obtain a list of available\n      solution stacks. </p>\n         <p> A solution stack name or a source configuration parameter must be specified, otherwise\n      AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p>\n         <p>If a solution stack name is not specified and the source configuration parameter is\n      specified, AWS Elastic Beanstalk uses the same solution stack as the source configuration\n      template.</p>"
          }
        },
        "SourceConfiguration": {
          "target": "com.amazonaws.elasticbeanstalk#SourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>If specified, AWS Elastic Beanstalk uses the configuration values from the specified\n      configuration template to create a new configuration.</p>\n         <p> Values specified in the <code>OptionSettings</code> parameter of this call overrides\n      any values obtained from the <code>SourceConfiguration</code>. </p>\n\n         <p> If no configuration template is found, returns an <code>InvalidParameterValue</code>\n      error. </p>\n         <p> Constraint: If both the solution stack name parameter and the source configuration\n      parameters are specified, the solution stack of the source configuration template must match\n      the specified solution stack name or else AWS Elastic Beanstalk returns an\n        <code>InvalidParameterCombination</code> error. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticbeanstalk#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the tags applied to the configuration template.</p>"
          }
        },
        "TemplateName": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration template.</p>\n\n         <p>Constraint: This name must be unique per application.</p>\n         <p>Default: If a configuration template already exists with this name, AWS Elastic\n      Beanstalk returns an <code>InvalidParameterValue</code> error. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to create a configuration template.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#CreateEnvironmentMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#EnvironmentDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyEnvironmentsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Launches an environment for the specified application using the specified\n      configuration.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateEnvironmentMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application that contains the version to be deployed.</p>\n         <p> If no application is found with this name, <code>CreateEnvironment</code> returns an\n        <code>InvalidParameterValue</code> error. </p>",
            "smithy.api#required": {}
          }
        },
        "CNAMEPrefix": {
          "target": "com.amazonaws.elasticbeanstalk#DNSCnamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the environment attempts to use this value as the prefix for the CNAME.\n      If not specified, the CNAME is generated automatically by appending a random alphanumeric\n      string to the environment name.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.elasticbeanstalk#Description",
          "traits": {
            "smithy.api#documentation": "<p>Describes this environment.</p>"
          }
        },
        "EnvironmentName": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the deployment environment. Used in the application URL.</p>\n         <p>Constraint: Must be from 4 to 40 characters in length. The name can contain only\n      letters, numbers, and hyphens. It cannot start or end with a hyphen. This name must be unique\n      within a region in your account. If the specified name already exists in the region, AWS Elastic Beanstalk returns an\n        <code>InvalidParameterValue</code> error. </p>\n         <p>Default: If the CNAME parameter is not specified, the environment name becomes part of\n      the CNAME, and therefore part of the visible URL for your application.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.elasticbeanstalk#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group to which the target environment belongs. Specify a group name\n      only if the environment's name is specified in an environment manifest and not with the\n      environment name parameter. See <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-manifest.html\">Environment Manifest\n        (env.yaml)</a> for details.</p>"
          }
        },
        "OptionSettings": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>If specified, AWS Elastic Beanstalk sets the specified configuration options to the\n      requested value in the configuration set for the new environment. These override the values\n      obtained from the solution stack or the configuration template.</p>"
          }
        },
        "OptionsToRemove": {
          "target": "com.amazonaws.elasticbeanstalk#OptionsSpecifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of custom user-defined configuration options to remove from the configuration\n      set for this new environment.</p>"
          }
        },
        "PlatformArn": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the platform.</p>"
          }
        },
        "SolutionStackName": {
          "target": "com.amazonaws.elasticbeanstalk#SolutionStackName",
          "traits": {
            "smithy.api#documentation": "<p>This is an alternative to specifying a template name. If specified, AWS Elastic\n      Beanstalk sets the configuration values to the default values associated with the specified\n      solution stack.</p>\n         <p>For a list of current solution stacks, see <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/concepts.platforms.html\">Elastic Beanstalk Supported\n        Platforms</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticbeanstalk#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the tags applied to resources in the environment.</p>"
          }
        },
        "TemplateName": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationTemplateName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the configuration template to use in deployment. If no configuration\n      template is found with this name, AWS Elastic Beanstalk returns an\n        <code>InvalidParameterValue</code> error. </p>"
          }
        },
        "Tier": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentTier",
          "traits": {
            "smithy.api#documentation": "<p>This specifies the tier to use for creating this environment.</p>"
          }
        },
        "VersionLabel": {
          "target": "com.amazonaws.elasticbeanstalk#VersionLabel",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application version to deploy.</p>\n         <p> If the specified application has no associated application versions, AWS Elastic\n      Beanstalk <code>UpdateEnvironment</code> returns an <code>InvalidParameterValue</code> error. </p>\n         <p>Default: If not specified, AWS Elastic Beanstalk attempts to launch the sample\n      application in the container.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreatePlatformVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#CreatePlatformVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#CreatePlatformVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#ElasticBeanstalkServiceException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyPlatformsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new version of your custom platform.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreatePlatformVersionRequest": {
      "type": "structure",
      "members": {
        "EnvironmentName": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the builder environment.</p>"
          }
        },
        "OptionSettings": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration option settings to apply to the builder environment.</p>"
          }
        },
        "PlatformDefinitionBundle": {
          "target": "com.amazonaws.elasticbeanstalk#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The location of the platform definition archive in Amazon S3.</p>",
            "smithy.api#required": {}
          }
        },
        "PlatformName": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your custom platform.</p>",
            "smithy.api#required": {}
          }
        },
        "PlatformVersion": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformVersion",
          "traits": {
            "smithy.api#documentation": "<p>The number, such as 1.0.2, for the new platform version.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.elasticbeanstalk#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the tags applied to the new platform version.</p>\n         <p>Elastic Beanstalk applies these tags only to the platform version. Environments that you create using\n      the platform version don't inherit the tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to create a new platform version.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreatePlatformVersionResult": {
      "type": "structure",
      "members": {
        "Builder": {
          "target": "com.amazonaws.elasticbeanstalk#Builder",
          "traits": {
            "smithy.api#documentation": "<p>The builder used to create the custom platform.</p>"
          }
        },
        "PlatformSummary": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformSummary",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the new version of the custom platform.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateStorageLocation": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#CreateStorageLocationResultMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#S3SubscriptionRequiredException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyBucketsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a bucket in Amazon S3 to store application versions, logs, and other files used\n      by Elastic Beanstalk environments. The Elastic Beanstalk console and EB CLI call this API the\n      first time you create an environment in a region. If the storage location already exists,\n        <code>CreateStorageLocation</code> still returns the bucket name but does not create a new\n      bucket.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreateStorageLocationResultMessage": {
      "type": "structure",
      "members": {
        "S3Bucket": {
          "target": "com.amazonaws.elasticbeanstalk#S3Bucket",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon S3 bucket created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Results of a <a>CreateStorageLocationResult</a> call.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CreationDate": {
      "type": "timestamp"
    },
    "com.amazonaws.elasticbeanstalk#CustomAmi": {
      "type": "structure",
      "members": {
        "ImageId": {
          "target": "com.amazonaws.elasticbeanstalk#ImageId",
          "traits": {
            "smithy.api#documentation": "<p>THe ID of the image used to create the custom AMI.</p>"
          }
        },
        "VirtualizationType": {
          "target": "com.amazonaws.elasticbeanstalk#VirtualizationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of virtualization used to create the custom AMI.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A custom AMI available to platforms.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#CustomAmiList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elasticbeanstalk#CustomAmi"
      }
    },
    "com.amazonaws.elasticbeanstalk#DNSCname": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#DNSCnamePrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 63
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#DeleteApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#DeleteApplicationMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#OperationInProgressException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified application along with all associated versions and\n      configurations. The application versions will not be deleted from your Amazon S3\n      bucket.</p>\n         <note>\n            <p>You cannot delete an application that has a running environment.</p>\n         </note>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DeleteApplicationMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "TerminateEnvByForce": {
          "target": "com.amazonaws.elasticbeanstalk#TerminateEnvForce",
          "traits": {
            "smithy.api#documentation": "<p>When set to true, running environments will be terminated before deleting the\n      application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to delete an application.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DeleteApplicationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#DeleteApplicationVersionMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#OperationInProgressException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#S3LocationNotInServiceRegionException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#SourceBundleDeletionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified version from the specified application.</p>\n         <note>\n            <p>You cannot delete an application version that is associated with a running\n        environment.</p>\n         </note>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DeleteApplicationVersionMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to which the version belongs.</p>",
            "smithy.api#required": {}
          }
        },
        "DeleteSourceBundle": {
          "target": "com.amazonaws.elasticbeanstalk#DeleteSourceBundle",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to delete the source bundle from your storage bucket.\n      Otherwise, the application version is deleted only from Elastic Beanstalk and the source\n      bundle remains in Amazon S3.</p>"
          }
        },
        "VersionLabel": {
          "target": "com.amazonaws.elasticbeanstalk#VersionLabel",
          "traits": {
            "smithy.api#documentation": "<p>The label of the version to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to delete an application version.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DeleteConfigurationTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#DeleteConfigurationTemplateMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#OperationInProgressException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified configuration template.</p>\n         <note>\n            <p>When you launch an environment using a configuration template, the environment gets a\n        copy of the template. You can delete or modify the environment's copy of the template\n        without affecting the running environment.</p>\n         </note>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DeleteConfigurationTemplateMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to delete the configuration template from.</p>",
            "smithy.api#required": {}
          }
        },
        "TemplateName": {
          "target": "com.amazonaws.elasticbeanstalk#ConfigurationTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration template to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to delete a configuration template.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DeleteEnvironmentConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#DeleteEnvironmentConfigurationMessage"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the draft configuration associated with the running environment.</p>\n         <p>Updating a running environment with any configuration changes creates a draft\n      configuration set. You can get the draft configuration using <a>DescribeConfigurationSettings</a> while the update is in progress or if the update\n      fails. The <code>DeploymentStatus</code> for the draft configuration indicates whether the\n      deployment is in process or has failed. The draft configuration remains in existence until it\n      is deleted with this action.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DeleteEnvironmentConfigurationMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application the environment is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "EnvironmentName": {
          "target": "com.amazonaws.elasticbeanstalk#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment to delete the draft configuration from.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to delete a draft environment configuration.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DeletePlatformVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#DeletePlatformVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#DeletePlatformVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#ElasticBeanstalkServiceException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#OperationInProgressException"
        },
        {
          "target": "com.amazonaws.elasticbeanstalk#PlatformVersionStillReferencedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified version of a custom platform.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DeletePlatformVersionRequest": {
      "type": "structure",
      "members": {
        "PlatformArn": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the version of the custom platform.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#DeletePlatformVersionResult": {
      "type": "structure",
      "members": {
        "PlatformSummary": {
          "target": "com.amazonaws.elasticbeanstalk#PlatformSummary",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the version of the custom platform.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#DeleteSourceBundle": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.elasticbeanstalk#Deployment": {
      "type": "structure",
      "members": {
        "DeploymentId": {
          "target": "com.amazonaws.elasticbeanstalk#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment. This number increases by one each time that you deploy source\n      code or change instance configuration settings.</p>"
          }
        },
        "DeploymentTime": {
          "target": "com.amazonaws.elasticbeanstalk#DeploymentTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>For in-progress deployments, the time that the deployment started.</p>\n         <p>For completed deployments, the time that the deployment ended.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the deployment:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>In Progress</code> : The deployment is in progress.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Deployed</code> : The deployment succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code> : The deployment failed.</p>\n            </li>\n         </ul>"
          }
        },
        "VersionLabel": {
          "target": "com.amazonaws.elasticbeanstalk#String",
          "traits": {
            "smithy.api#documentation": "<p>The version label of the application version in the deployment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an application version deployment.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DeploymentTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.elasticbeanstalk#DescribeAccountAttributes": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#DescribeAccountAttributesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#InsufficientPrivilegesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns attributes related to AWS Elastic Beanstalk that are associated with the calling AWS\n      account.</p>\n         <p>The result currently has one set of attributes—resource quotas.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DescribeAccountAttributesResult": {
      "type": "structure",
      "members": {
        "ResourceQuotas": {
          "target": "com.amazonaws.elasticbeanstalk#ResourceQuotas",
          "traits": {
            "smithy.api#documentation": "<p>The Elastic Beanstalk resource quotas associated with the calling AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.elasticbeanstalk#DescribeApplicationVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#DescribeApplicationVersionsMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationVersionDescriptionsMessage"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieve a list of application versions.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DescribeApplicationVersionsMessage": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>Specify an application name to show only application versions for that\n      application.</p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.elasticbeanstalk#MaxRecords",
          "traits": {
            "smithy.api#documentation": "<p>For a paginated request. Specify a maximum number of application versions to include in\n      each response.</p>\n         <p>If no <code>MaxRecords</code> is specified, all available application versions are\n      retrieved in a single response.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.elasticbeanstalk#Token",
          "traits": {
            "smithy.api#documentation": "<p>For a paginated request. Specify a token from a previous response page to retrieve the next response page. All other\n      parameter values must be identical to the ones specified in the initial request.</p>\n         <p>If no <code>NextToken</code> is specified, the first page is retrieved.</p>"
          }
        },
        "VersionLabels": {
          "target": "com.amazonaws.elasticbeanstalk#VersionLabelsList",
          "traits": {
            "smithy.api#documentation": "<p>Specify a version label to show a specific application version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to describe application versions.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DescribeApplications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#DescribeApplicationsMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#ApplicationDescriptionsMessage"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the descriptions of existing applications.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DescribeApplicationsMessage": {
      "type": "structure",
      "members": {
        "ApplicationNames": {
          "target": "com.amazonaws.elasticbeanstalk#ApplicationNamesList",
          "traits": {
            "smithy.api#documentation": "<p>If specified, AWS Elastic Beanstalk restricts the returned descriptions to only include\n      those with the specified names.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to describe one or more applications.</p>"
      }
    },
    "com.amazonaws.elasticbeanstalk#DescribeConfigurationOptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elasticbeanstalk#DescribeConfigurationOptionsMessage"
      },
      "output": {
        "target": "com.amazonaws.elasticbeanstalk#ConfigurationOptionsDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.elasticbeanstalk#TooManyBucketsException"
        }
      ],
      "traits": {
[...]
