{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.elementalinference#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.elementalinference#AspectRatio": {
      "type": "structure",
      "members": {
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The width component of the aspect ratio (for example, 16 in a 16:9 ratio).</p>",
            "smithy.api#required": {}
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The height component of the aspect ratio (for example, 9 in a 16:9 ratio).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The width and height of the output video. Used in SubtitlingConfig to determine subtitle layout. </p>"
      }
    },
    "com.amazonaws.elementalinference#AssociateFeed": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#AssociateFeedRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#AssociateFeedResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#ConflictException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elementalinference#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to associate a feed with an AWS resource"
        },
        "smithy.api#documentation": "<p>Associates a resource with the feed. The resource provides the input that Elemental Inference needs in order to perform an Elemental Inference feature, such as cropping video. You always provide the resource by associating it with a feed. You can associate only one resource with each feed. With an association, a specific source media is claiming ownership of the feed. </p> <p>AssociateFeed is a PATCH operation, which means that you can include only parameters that you want to change. Parameters that you don't include will not be affected by the operation. </p> <p>Specifically:</p> <ul> <li> <p>You can add more outputs to the existing outputs. New outputs will be appended.</p> </li> <li> <p>You can't modify an existing output (for example to change its name). Instead, use UpdateFeed. </p> </li> <li> <p>You can't delete an existing output. Instead, use UpdateFeed.</p> </li> </ul> <p>Also note that you can't change the feed name with AssociateFeed. Instead, use UpdateFeed. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/feed/{id}/associate",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.elementalinference#AssociateFeedRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the feed.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "associatedResourceName": {
          "target": "com.amazonaws.elementalinference#AssociatedResourceName",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for the resource. This name must not resemble an ARN.</p> <p>The resource is the source media that the feed will process. The name you assign should help you to later identify the source media that belongs to the feed. In this way, you will know which source media to push to the feed (using PutMedia). </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "outputs": {
          "target": "com.amazonaws.elementalinference#CreateOutputList",
          "traits": {
            "smithy.api#documentation": "<p>An array of one or more outputs that you want to add to this feed now, to supplement any outputs that you specified when you created or updated the feed. </p>",
            "smithy.api#required": {}
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Set to true if you want to do a dry run of the associate action.</p> <p>Elemental Inference will validate that the real request would succeed without actually making any changes. A dry run catches errors such as missing IAM permissions, quota limits exceeded, conflicting outputs, and so on. If the dry run fails, the action returns a 4xx error code. After you've fixed the errors, resubmit the request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#AssociateFeedResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.elementalinference#FeedArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the feed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#AssociatedResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\w \\-\\.',@:;/]*$"
      }
    },
    "com.amazonaws.elementalinference#ClippingConfig": {
      "type": "structure",
      "members": {
        "callbackMetadata": {
          "target": "com.amazonaws.elementalinference#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A string that you want Elemental Inference to always include in the event clipping metadata for this output. The string might identify the sports event in the source media, for example. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A type of OutputConfig, used when the output in a feed is for the clip feature.</p>"
      }
    },
    "com.amazonaws.elementalinference#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed due to a conflict.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.elementalinference#CreateDictionary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#CreateDictionaryRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#CreateDictionaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#ConflictException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a new dictionary",
          "createsResources": ["dictionary"],
          "resources": {
            "required": {}
          }
        },
        "smithy.api#documentation": "<p>Creates a custom dictionary for improving transcription accuracy. A dictionary contains custom words and phrases that the ASR engine might not recognize, such as brand names, technical terms, or proper nouns. You can reference a dictionary when configuring a smart subtitles output. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/dictionary",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.elementalinference#CreateDictionaryRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.elementalinference#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A user-friendly name for this dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "com.amazonaws.elementalinference#DictionaryLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language of the dictionary entries. Specify the language using an ISO 639-2/T three-letter code. Supported values: eng, fra, ita, deu, spa, por. </p>",
            "smithy.api#required": {}
          }
        },
        "entries": {
          "target": "com.amazonaws.elementalinference#DictionaryEntriesPayload",
          "traits": {
            "smithy.api#documentation": "<p>The dictionary entries payload. Contains the custom words and phrases for the dictionary. Maximum size is 40,960 characters. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.elementalinference#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Optional tags to associate with the dictionary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#CreateDictionaryResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.elementalinference#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you specified in the request.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.elementalinference#DictionaryArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.elementalinference#DictionaryId",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID that Elemental Inference assigns to the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "com.amazonaws.elementalinference#DictionaryLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language of the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.elementalinference#DictionaryStatus",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The current status of the dictionary. After creation succeeds, the status will be AVAILABLE. </p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnExcludeProperty"]
          }
        },
        "references": {
          "target": "com.amazonaws.elementalinference#FeedReferences",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A list of feed IDs that reference this dictionary.</p>",
            "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnExcludeProperty"]
          }
        },
        "tags": {
          "target": "com.amazonaws.elementalinference#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Any tags that you included when you created the dictionary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#CreateFeed": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#CreateFeedRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#CreateFeedResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#ConflictException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a new feed",
          "createsResources": ["feed"],
          "resources": {
            "required": {}
          }
        },
        "smithy.api#documentation": "<p>Creates a feed. The feed is the target for the live media stream that is being sent by the calling application. An example of a calling application is AWS Elemental MediaLive. </p> <p>The key contents of the feed is an array of outputs. Each output represents an Elemental Inference feature. After you create the feed, you must associate a resource with the feed. At that point, you will have a useable feed: resource - feed - output or outputs. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/feed",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.elementalinference#CreateFeedRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.elementalinference#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A user-friendly name for this feed.</p>",
            "smithy.api#required": {}
          }
        },
        "outputs": {
          "target": "com.amazonaws.elementalinference#CreateOutputList",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>An array of outputs for this feed. Each output represents a specific Elemental Inference feature. For example, there is one output type for the smart crop feature. You must specify at least one output, but you can later add outputs using AssociateFeed, or add, modify, and delete outputs using UpdateFeed. </p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnExcludeProperty"]
          }
        },
        "tags": {
          "target": "com.amazonaws.elementalinference#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Optional tags. You can also add tags later, using TagResource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#CreateFeedResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.elementalinference#FeedArn",
          "traits": {
            "smithy.api#documentation": "<p>A unique ARN that Elemental Inference assigns to the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.elementalinference#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you specified in the request.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID that Elemental Inference assigns to the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "dataEndpoints": {
          "target": "com.amazonaws.elementalinference#StringList",
          "traits": {
            "smithy.api#documentation": "<p>An array of endpoints for the feed. Typically, there is only one endpoint. The feed receives source media at this endpoint (when the calling application calls PutMedia) and returns the resulting metadata to this endpoint (when the calling application calls GetMetadata). </p>",
            "smithy.api#required": {}
          }
        },
        "outputs": {
          "target": "com.amazonaws.elementalinference#GetOutputList",
          "traits": {
            "smithy.api#documentation": "<p>Repeats the outputs that you specified in the request.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.elementalinference#FeedStatus",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The current status of the feed. After creation of the feed has succeeded, the status will be AVAILABLE. </p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnExcludeProperty"]
          }
        },
        "association": {
          "target": "com.amazonaws.elementalinference#FeedAssociation",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The association for this feed. When you create the feed, this property is empty. You must associate a resource with the feed using AssociateFeed or UpdateFeed. </p>",
            "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnExcludeProperty"]
          }
        },
        "tags": {
          "target": "com.amazonaws.elementalinference#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Any tags that you included when you created the feed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#CreateOutput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.elementalinference#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the output.</p>",
            "smithy.api#required": {}
          }
        },
        "outputConfig": {
          "target": "com.amazonaws.elementalinference#OutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>A typed property for an output in a feed. It identifies the action for Elemental Inference to perform. It also provides a repository for the results of that action. For example, CroppingConfig output will contain the metadata for the crop feature. </p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.elementalinference#OutputStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status to assign to the output.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.elementalinference#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information about one output in a feed. It is used in the AssociateFeed and the CreateFeed actions. </p>"
      }
    },
    "com.amazonaws.elementalinference#CreateOutputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elementalinference#CreateOutput"
      }
    },
    "com.amazonaws.elementalinference#CroppingConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>A type of OutputConfig, used when the output in a feed is for the crop feature.</p>"
      }
    },
    "com.amazonaws.elementalinference#DeleteDictionary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#DeleteDictionaryRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#DeleteDictionaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#ConflictException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a dictionary"
        },
        "smithy.api#documentation": "<p>Deletes the specified dictionary. You cannot delete a dictionary that is referenced by a feed. You must first remove the dictionary reference from the feed's subtitling configuration. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/dictionary/{id}",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.elementalinference#DeleteDictionaryRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.elementalinference#DictionaryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dictionary to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#DeleteDictionaryResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.elementalinference#DictionaryArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the deleted dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.elementalinference#DictionaryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deleted dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.elementalinference#DictionaryStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dictionary after deletion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#DeleteFeed": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#DeleteFeedRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#DeleteFeedResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#ConflictException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a feed"
        },
        "smithy.api#documentation": "<p>Deletes the specified feed. You can delete the feed at any time. Elemental Inference doesn't block you from deleting a feed when the calling application is calling PutMedia or GetMetadata on that feed, although both these calls will start to fail. For more information about managing inactive feeds, see the Elemental Inference User Guide. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/feed/{id}",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.elementalinference#DeleteFeedRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the feed.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#DeleteFeedResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.elementalinference#FeedArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the deleted feed.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deleted feed.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.elementalinference#FeedStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the feed. When deletion of the feed has succeeded, the status will be DELETED. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#DictionaryArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::Elemental-Inference::Dictionary",
          "service": "com.amazonaws.elementalinference#ElementalInference",
          "resource": "com.amazonaws.elementalinference#DictionaryResource"
        }
      }
    },
    "com.amazonaws.elementalinference#DictionaryEntriesPayload": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 40960
        }
      }
    },
    "com.amazonaws.elementalinference#DictionaryId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 19
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.elementalinference#DictionaryLanguage": {
      "type": "enum",
      "members": {
        "ENG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eng"
          }
        },
        "FRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fra"
          }
        },
        "ITA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ita"
          }
        },
        "DEU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deu"
          }
        },
        "SPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spa"
          }
        },
        "POR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "por"
          }
        }
      }
    },
    "com.amazonaws.elementalinference#DictionaryResource": {
      "type": "resource",
      "identifiers": {
        "id": {
          "target": "com.amazonaws.elementalinference#DictionaryId"
        }
      },
      "create": {
        "target": "com.amazonaws.elementalinference#CreateDictionary"
      },
      "read": {
        "target": "com.amazonaws.elementalinference#GetDictionary"
      },
      "update": {
        "target": "com.amazonaws.elementalinference#UpdateDictionary"
      },
      "delete": {
        "target": "com.amazonaws.elementalinference#DeleteDictionary"
      },
      "list": {
        "target": "com.amazonaws.elementalinference#ListDictionaries"
      },
      "operations": [
        {
          "target": "com.amazonaws.elementalinference#ExportDictionaryEntries"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "dictionary/{id}"
        },
        "aws.api#taggable": {
          "property": "tags"
        },
        "aws.cloudformation#cfnResource": {
          "name": "Dictionary"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#iamResource": {
          "name": "dictionary",
          "relativeDocumentation": "elemental-inference-configuration.html"
        },
        "smithy.api#documentation": "Represents a custom dictionary for improving transcription accuracy",
        "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnResource", "UnstableTrait.aws.api#taggable"]
      }
    },
    "com.amazonaws.elementalinference#DictionaryStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "REFERENCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFERENCED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.elementalinference#DictionarySummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.elementalinference#DictionaryArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.elementalinference#DictionaryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.elementalinference#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "com.amazonaws.elementalinference#DictionaryLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language of the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.elementalinference#DictionaryStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dictionary.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a dictionary. Used in the ListDictionaries response. </p>"
      }
    },
    "com.amazonaws.elementalinference#DictionarySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elementalinference#DictionarySummary"
      }
    },
    "com.amazonaws.elementalinference#DisassociateFeed": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#DisassociateFeedRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#DisassociateFeedResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#ConflictException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to disassociate a feed from an AWS resource"
        },
        "smithy.api#documentation": "<p>Releases the resource (the source media) that is associated with this feed. The outputs in the feed become DISABLED. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/feed/{id}/disassociate",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.elementalinference#DisassociateFeedRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the feed where you want to release the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "associatedResourceName": {
          "target": "com.amazonaws.elementalinference#AssociatedResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource currently associated with the feed.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Set to true if you want to do a dry run of the disassociate action.</p> <p>Elemental Inference will validate that the real request would succeed without actually making any changes. A dry run catches errors such as missing IAM permissions. If the dry run fails, the action returns a 4xx error code. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#DisassociateFeedResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.elementalinference#FeedArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the feed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#ElementalInference": {
      "type": "service",
      "version": "2018-11-14",
      "operations": [
        {
          "target": "com.amazonaws.elementalinference#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.elementalinference#TagResource"
        },
        {
          "target": "com.amazonaws.elementalinference#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.elementalinference#DictionaryResource"
        },
        {
          "target": "com.amazonaws.elementalinference#FeedResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ElementalInference",
          "arnNamespace": "elemental-inference",
          "cloudFormationName": "ElementalInference",
          "cloudTrailEventSource": "elemental-inference.amazonaws.com"
        },
        "aws.api#tagEnabled": {},
        "aws.auth#sigv4": {
          "name": "elemental-inference"
        },
        "aws.iam#defineConditionKeys": {
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by tags associated with the resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by tags that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by tag keys that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "maxAge": 86400
        },
        "smithy.api#documentation": "<p>This is the AWS Elemental Inference REST API Reference. It provides information on the URL, request contents, and response contents of each AWS Elemental Inference REST operation. </p> <p>We assume that you have the IAM permissions that you need to use AWS Elemental Inference via the REST API. We also assume that you are familiar with the features and operations of AWS Elemental Inference as described in <i>AWS Elemental Inference User Guide</i>. </p>",
        "smithy.api#suppress": ["UnstableTrait.aws.api#tagEnabled"],
        "smithy.api#title": "AWS Elemental Inference",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://elemental-inference-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://elemental-inference-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://elemental-inference.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://elemental-inference.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://elemental-inference.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.elementalinference#ExportDictionaryEntries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#ExportDictionaryEntriesRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#ExportDictionaryEntriesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to export dictionary entries"
        },
        "smithy.api#documentation": "<p>Exports the entries from the specified dictionary.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/dictionary/{id}/entries/export",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.elementalinference#ExportDictionaryEntriesRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.elementalinference#DictionaryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dictionary whose entries you want to export.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#ExportDictionaryEntriesResponse": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.amazonaws.elementalinference#DictionaryEntriesPayload",
          "traits": {
            "smithy.api#documentation": "<p>The dictionary entries payload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#FeedArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::Elemental-Inference::Feed",
          "service": "com.amazonaws.elementalinference#ElementalInference",
          "resource": "com.amazonaws.elementalinference#FeedResource"
        }
      }
    },
    "com.amazonaws.elementalinference#FeedAssociation": {
      "type": "structure",
      "members": {
        "associatedResourceName": {
          "target": "com.amazonaws.elementalinference#AssociatedResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the associated resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the resource that is associated with a feed. It is used in the FeedSummary that is used in the response of a ListFeeds action. </p>"
      }
    },
    "com.amazonaws.elementalinference#FeedId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-z0-9]{19}$"
      }
    },
    "com.amazonaws.elementalinference#FeedReferences": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elementalinference#FeedId"
      }
    },
    "com.amazonaws.elementalinference#FeedResource": {
      "type": "resource",
      "identifiers": {
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId"
        }
      },
      "create": {
        "target": "com.amazonaws.elementalinference#CreateFeed"
      },
      "read": {
        "target": "com.amazonaws.elementalinference#GetFeed"
      },
      "update": {
        "target": "com.amazonaws.elementalinference#UpdateFeed"
      },
      "delete": {
        "target": "com.amazonaws.elementalinference#DeleteFeed"
      },
      "list": {
        "target": "com.amazonaws.elementalinference#ListFeeds"
      },
      "operations": [
        {
          "target": "com.amazonaws.elementalinference#AssociateFeed"
        },
        {
          "target": "com.amazonaws.elementalinference#DisassociateFeed"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "feed/{id}"
        },
        "aws.api#taggable": {
          "property": "tags"
        },
        "aws.cloudformation#cfnResource": {
          "name": "Feed"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#iamResource": {
          "name": "feed",
          "relativeDocumentation": "elemental-inference-configuration.html"
        },
        "smithy.api#documentation": "Represents a feed that receives media for inference processing",
        "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnResource", "UnstableTrait.aws.api#taggable"]
      }
    },
    "com.amazonaws.elementalinference#FeedStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVED"
          }
        }
      }
    },
    "com.amazonaws.elementalinference#FeedSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.elementalinference#FeedArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.elementalinference#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feed</p>",
            "smithy.api#required": {}
          }
        },
        "association": {
          "target": "com.amazonaws.elementalinference#FeedAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The resource, if any, associated with the feed.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.elementalinference#FeedStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the feed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information about a feed. It is used in the ListFeeds response. </p>"
      }
    },
    "com.amazonaws.elementalinference#FeedSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elementalinference#FeedSummary"
      }
    },
    "com.amazonaws.elementalinference#GetDictionary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#GetDictionaryRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#GetDictionaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get dictionary details"
        },
        "smithy.api#documentation": "<p>Retrieves information about the specified dictionary.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/dictionary/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.elementalinference#GetDictionaryRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.elementalinference#DictionaryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dictionary to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#GetDictionaryResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.elementalinference#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.elementalinference#DictionaryArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.elementalinference#DictionaryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "com.amazonaws.elementalinference#DictionaryLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language of the dictionary.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.elementalinference#DictionaryStatus",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The current status of the dictionary.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnExcludeProperty"]
          }
        },
        "references": {
          "target": "com.amazonaws.elementalinference#FeedReferences",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A list of feed IDs that reference this dictionary.</p>",
            "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnExcludeProperty"]
          }
        },
        "tags": {
          "target": "com.amazonaws.elementalinference#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the dictionary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#GetFeed": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#GetFeedRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#GetFeedResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get feed details"
        },
        "smithy.api#documentation": "<p>Retrieves information about the specified feed.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/feed/{id}",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "FeedDeleted": {
            "documentation": "Wait until a Feed is deleted",
            "minDelay": 3,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "DELETED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "DELETING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "InternalServerErrorException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "TooManyRequestException"
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.elementalinference#GetFeedRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the feed to query.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#GetFeedResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.elementalinference#FeedArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.elementalinference#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.elementalinference#FeedId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "dataEndpoints": {
          "target": "com.amazonaws.elementalinference#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The dataEndpoints of the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "outputs": {
          "target": "com.amazonaws.elementalinference#GetOutputList",
          "traits": {
            "smithy.api#documentation": "<p>An array of the outputs in the feed.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.elementalinference#FeedStatus",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The status of the feed.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnExcludeProperty"]
          }
        },
        "association": {
          "target": "com.amazonaws.elementalinference#FeedAssociation",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Information about the resource that is associated with the feed. It's possible that there is no associated resource. This is not an error. </p>",
            "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnExcludeProperty"]
          }
        },
        "tags": {
          "target": "com.amazonaws.elementalinference#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tags, if any, for the feed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#GetOutput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.elementalinference#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the output.</p>",
            "smithy.api#required": {}
          }
        },
        "outputConfig": {
          "target": "com.amazonaws.elementalinference#OutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>A typed property for an output in a feed. It identifies the action for Elemental Inference to perform. It also provides a repository for the results of that action. For example, CroppingConfig output will contain the metadata for the crop feature. </p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.elementalinference#OutputStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the output.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.elementalinference#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the output.</p>"
          }
        },
        "fromAssociation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>True means that the output was originally created in the feed using AssociateFeed. False means it was created using CreateFeed or UpdateFeed. </p> <p>You will need this value if you use UpdateFeed to modify the list of outputs in the feed.</p>",
            "smithy.api#suppress": ["UnstableTrait.aws.cloudformation#cfnExcludeProperty"]
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information about one output in a feed. It is used in the GetFeed response. </p>"
      }
    },
    "com.amazonaws.elementalinference#GetOutputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elementalinference#GetOutput"
      }
    },
    "com.amazonaws.elementalinference#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal server error occurred. This is a temporary condition and the request can be retried. If the problem persists, contact AWS Support. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.elementalinference#ListDictionaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#ListDictionariesRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#ListDictionariesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list dictionaries in the account"
        },
        "smithy.api#documentation": "<p>Lists the dictionaries in your account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/dictionaries",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "dictionaries",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.elementalinference#ListDictionariesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per API request. Valid range: 1 to 100.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies the next batch of results to return.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#ListDictionariesResponse": {
      "type": "structure",
      "members": {
        "dictionaries": {
          "target": "com.amazonaws.elementalinference#DictionarySummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of DictionarySummary objects.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next batch of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#ListFeeds": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#ListFeedsRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#ListFeedsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list feeds in the account"
        },
        "smithy.api#documentation": "<p>Displays a list of feeds that belong to this AWS account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/feeds",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "feeds",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListFeedsSuccess",
            "params": {
              "maxResults": 10
            },
            "vendorParams": {
              "region": "us-west-2"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.elementalinference#ListFeedsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per API request.</p> <p>For example, you submit a list request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) </p> <p>The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page. </p> <p>Valid Range: Minimum value of 1. Maximum value of 1000.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies the batch of results that you want to see.</p> <p>For example, you submit a ListFeeds request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListFeeds request a second time and specify the NextToken value. </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#ListFeedsResponse": {
      "type": "structure",
      "members": {
        "feeds": {
          "target": "com.amazonaws.elementalinference#FeedSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of FeedSummary objects.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies the batch of results that you want to see. For example, you submit a list request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the list request a second time and specify the NextToken value. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.elementalinference#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list tags on a resource"
        },
        "smithy.api#documentation": "<p>List all tags that are on an Elemental Inference resource in the current region.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/tags/{resourceArn}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.elementalinference#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.elementalinference#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource whose tags you want to query.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.elementalinference#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.elementalinference#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tags that belong to this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.elementalinference#OutputConfig": {
      "type": "union",
      "members": {
        "cropping": {
          "target": "com.amazonaws.elementalinference#CroppingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output config type that applies to the cropping feature.</p>"
          }
        },
        "clipping": {
          "target": "com.amazonaws.elementalinference#ClippingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output config type that applies to the clipping feature.</p>"
          }
        },
        "subtitling": {
          "target": "com.amazonaws.elementalinference#SubtitlingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output config type that applies to the smart subtitling feature.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains one typed output. It is used in the CreateOutput, GetOutput, and Update Output structures.</p>"
      }
    },
    "com.amazonaws.elementalinference#OutputStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.elementalinference#ProfanityFilterMode": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "CENSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENSOR"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DROP"
          }
        }
      }
    },
    "com.amazonaws.elementalinference#ResourceArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::Elemental-Inference::Resource"
        },
        "smithy.api#pattern": "^arn:aws[a-z\\-]*:elemental-inference[a-z\\-]*:[a-z0-9\\-]+:[0-9]{12}:(feed|dictionary)/[a-zA-Z0-9]{1,19}$"
      }
    },
    "com.amazonaws.elementalinference#ResourceDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1024
        },
        "smithy.api#pattern": "^[\\w \\-\\.',@:;]*$"
      }
    },
    "com.amazonaws.elementalinference#ResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_]{0,126}[a-zA-Z0-9])?$"
      }
    },
    "com.amazonaws.elementalinference#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource specified in the action doesn't exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.elementalinference#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because it would exceed one or more service quotas for your account. Review your service quotas and either delete unused resources or request a quota increase. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.elementalinference#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.elementalinference#SubtitlingConfig": {
      "type": "structure",
      "members": {
        "language": {
          "target": "com.amazonaws.elementalinference#TranscriptionLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language of the audio in the source media. Elemental Inference uses this setting to optimize transcription accuracy. Specify the language using an ISO 639-2/T three-letter code, optionally with a region subtag. Supported values: eng, eng-au, eng-gb, eng-us, fra, ita, deu, spa, por. </p>",
            "smithy.api#required": {}
          }
        },
        "aspectRatio": {
          "target": "com.amazonaws.elementalinference#AspectRatio",
          "traits": {
            "smithy.api#documentation": "<p>The aspect ratio of the output video, specified as width and height integer values. Elemental Inference uses the aspect ratio to determine subtitle layout and line lengths. </p>"
          }
        },
        "dictionary": {
          "target": "com.amazonaws.elementalinference#DictionaryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a custom dictionary to improve transcription accuracy for domain-specific terminology. Use the CreateDictionary operation to create a dictionary. </p>"
          }
        },
        "profanityFilter": {
          "target": "com.amazonaws.elementalinference#ProfanityFilterMode",
          "traits": {
            "smithy.api#documentation": "<p>Controls how profanity is handled in the generated subtitles. Valid values: DISABLED (no filtering, default), CENSOR (replace profanity with asterisks), DROP (remove profanity from the transcript). </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A type of OutputConfig, used when the output in a feed is for the smart subtitling feature. smart subtitling uses automatic speech recognition (ASR) to generate live TTML subtitles from the audio in your source media. </p>"
      }
    },
    "com.amazonaws.elementalinference#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.elementalinference#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.elementalinference#TagKey"
      }
    },
    "com.amazonaws.elementalinference#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.elementalinference#TagKey"
      },
      "value": {
        "target": "com.amazonaws.elementalinference#TagValue"
      }
    },
    "com.amazonaws.elementalinference#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.elementalinference#TagResourceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.elementalinference#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.elementalinference#ConflictException"
        },
        {
          "target": "com.amazonaws.elementalinference#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.elementalinference#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.elementalinference#TooManyRequestException"
        },
        {
          "target": "com.amazonaws.elementalinference#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to add tags to a resource",
          "resources": {
            "optional": {
              "dictionary": {},
              "feed": {}
            }
          }
        },
[...]
