{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.emrcontainers#ACMCertArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 44,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):acm:.+:(\\d{12}):certificate/.+$"
      }
    },
    "com.amazonaws.emrcontainers#AwsChicagoWebService": {
      "type": "service",
      "version": "2020-10-01",
      "operations": [
        {
          "target": "com.amazonaws.emrcontainers#CancelJobRun"
        },
        {
          "target": "com.amazonaws.emrcontainers#CreateJobTemplate"
        },
        {
          "target": "com.amazonaws.emrcontainers#CreateManagedEndpoint"
        },
        {
          "target": "com.amazonaws.emrcontainers#CreateVirtualCluster"
        },
        {
          "target": "com.amazonaws.emrcontainers#DeleteJobTemplate"
        },
        {
          "target": "com.amazonaws.emrcontainers#DeleteManagedEndpoint"
        },
        {
          "target": "com.amazonaws.emrcontainers#DeleteVirtualCluster"
        },
        {
          "target": "com.amazonaws.emrcontainers#DescribeJobRun"
        },
        {
          "target": "com.amazonaws.emrcontainers#DescribeJobTemplate"
        },
        {
          "target": "com.amazonaws.emrcontainers#DescribeManagedEndpoint"
        },
        {
          "target": "com.amazonaws.emrcontainers#DescribeVirtualCluster"
        },
        {
          "target": "com.amazonaws.emrcontainers#ListJobRuns"
        },
        {
          "target": "com.amazonaws.emrcontainers#ListJobTemplates"
        },
        {
          "target": "com.amazonaws.emrcontainers#ListManagedEndpoints"
        },
        {
          "target": "com.amazonaws.emrcontainers#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.emrcontainers#ListVirtualClusters"
        },
        {
          "target": "com.amazonaws.emrcontainers#StartJobRun"
        },
        {
          "target": "com.amazonaws.emrcontainers#TagResource"
        },
        {
          "target": "com.amazonaws.emrcontainers#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EMR containers",
          "arnNamespace": "emr-containers",
          "cloudFormationName": "EMRcontainers",
          "cloudTrailEventSource": "emrcontainers.amazonaws.com",
          "endpointPrefix": "emr-containers"
        },
        "aws.auth#sigv4": {
          "name": "emr-containers"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon EMR on EKS provides a deployment option for Amazon EMR that allows you to run\n         open-source big data frameworks on Amazon Elastic Kubernetes Service (Amazon EKS). With\n         this deployment option, you can focus on running analytics workloads while Amazon EMR on\n         EKS builds, configures, and manages containers for open-source applications. For more\n         information about Amazon EMR on EKS concepts and tasks, see <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/emr-eks.html\">What is Amazon EMR on\n            EKS</a>.</p>\n         <p>\n            <i>Amazon EMR containers</i> is the API name for Amazon EMR on EKS. The\n            <code>emr-containers</code> prefix is used in the following scenarios: </p>\n         <ul>\n            <li>\n               <p>It is the prefix in the CLI commands for Amazon EMR on EKS. For example, <code>aws\n                  emr-containers start-job-run</code>.</p>\n            </li>\n            <li>\n               <p>It is the prefix before IAM policy actions for Amazon EMR on EKS. For example,\n                  <code>\"Action\": [ \"emr-containers:StartJobRun\"]</code>. For more information, see\n                  <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/security_iam_service-with-iam.html#security_iam_service-with-iam-id-based-policies-actions\">Policy actions for Amazon EMR on EKS</a>.</p>\n            </li>\n            <li>\n               <p>It is the prefix used in Amazon EMR on EKS service endpoints. For example,\n                  <code>emr-containers.us-east-2.amazonaws.com</code>. For more information, see\n                  <a href=\"https://docs.aws.amazon.com/emr/latest/EMR-on-EKS-DevelopmentGuide/service-quotas.html#service-endpoints\">Amazon EMR on EKS Service Endpoints</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon EMR Containers",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://emr-containers-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://emr-containers-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://emr-containers.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://emr-containers.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://emr-containers.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.emrcontainers#Base64Encoded": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5000
        },
        "smithy.api#pattern": "^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{4}|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)?$"
      }
    },
    "com.amazonaws.emrcontainers#CancelJobRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#CancelJobRunRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#CancelJobRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a job run. A job run is a unit of work, such as a Spark jar, PySpark script, or\n         SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/virtualclusters/{virtualClusterId}/jobruns/{id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#CancelJobRunRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the job run to cancel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "virtualClusterId": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual cluster for which the job run will be canceled.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#CancelJobRunResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The output contains the ID of the cancelled job run.</p>"
          }
        },
        "virtualClusterId": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The output contains the virtual cluster ID for which the job run is cancelled.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#Certificate": {
      "type": "structure",
      "members": {
        "certificateArn": {
          "target": "com.amazonaws.emrcontainers#ACMCertArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the certificate generated for managed endpoint.</p>"
          }
        },
        "certificateData": {
          "target": "com.amazonaws.emrcontainers#Base64Encoded",
          "traits": {
            "smithy.api#documentation": "<p>The base64 encoded PEM certificate data generated for managed endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The entity representing certificate data generated for managed endpoint.</p>"
      }
    },
    "com.amazonaws.emrcontainers#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.emrcontainers#CloudWatchMonitoringConfiguration": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.emrcontainers#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group for log publishing.</p>",
            "smithy.api#required": {}
          }
        },
        "logStreamNamePrefix": {
          "target": "com.amazonaws.emrcontainers#String256",
          "traits": {
            "smithy.api#documentation": "<p>The specified name prefix for log streams.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration for CloudWatch monitoring. You can configure your jobs to send log\n         information to CloudWatch Logs.</p>"
      }
    },
    "com.amazonaws.emrcontainers#ClusterId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[0-9A-Za-z][A-Za-z0-9\\-_]*$"
      }
    },
    "com.amazonaws.emrcontainers#Configuration": {
      "type": "structure",
      "members": {
        "classification": {
          "target": "com.amazonaws.emrcontainers#String1024",
          "traits": {
            "smithy.api#documentation": "<p>The classification within a configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.emrcontainers#SensitivePropertiesMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of properties specified within a configuration classification.</p>"
          }
        },
        "configurations": {
          "target": "com.amazonaws.emrcontainers#ConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of additional configurations to apply within a configuration object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration specification to be used when provisioning virtual clusters, which can\n         include configurations for applications and software bundled with Amazon EMR on EKS. A\n         configuration consists of a classification, properties, and optional nested configurations.\n         A classification refers to an application-specific configuration file. Properties are the\n         settings you want to change in that file.</p>"
      }
    },
    "com.amazonaws.emrcontainers#ConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emrcontainers#Configuration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.emrcontainers#ConfigurationOverrides": {
      "type": "structure",
      "members": {
        "applicationConfiguration": {
          "target": "com.amazonaws.emrcontainers#ConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The configurations for the application running by the job run. </p>"
          }
        },
        "monitoringConfiguration": {
          "target": "com.amazonaws.emrcontainers#MonitoringConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configurations for monitoring.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration specification to be used to override existing configurations.</p>"
      }
    },
    "com.amazonaws.emrcontainers#ContainerInfo": {
      "type": "union",
      "members": {
        "eksInfo": {
          "target": "com.amazonaws.emrcontainers#EksInfo",
          "traits": {
            "smithy.api#documentation": "<p>The information about the EKS cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The information about the container used for a job run or a managed endpoint.</p>"
      }
    },
    "com.amazonaws.emrcontainers#ContainerProvider": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.emrcontainers#ContainerProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the container provider. EKS is the only supported type as of now.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.emrcontainers#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the container cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "info": {
          "target": "com.amazonaws.emrcontainers#ContainerInfo",
          "traits": {
            "smithy.api#documentation": "<p>The information about the container cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The information about the container provider.</p>"
      }
    },
    "com.amazonaws.emrcontainers#ContainerProviderType": {
      "type": "enum",
      "members": {
        "EKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKS"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#CreateJobTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#CreateJobTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#CreateJobTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a job template. Job template stores values of StartJobRun API request in a\n         template and can be used to start a job run. Job template allows two use cases: avoid\n         repeating recurring StartJobRun API request values, enforcing certain values in StartJobRun\n         API request.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/jobtemplates",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#CreateJobTemplateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.emrcontainers#ResourceNameString",
          "traits": {
            "smithy.api#documentation": "<p>The specified name of the job template.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.emrcontainers#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token of the job template.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "jobTemplateData": {
          "target": "com.amazonaws.emrcontainers#JobTemplateData",
          "traits": {
            "smithy.api#documentation": "<p>The job template data which holds values of StartJobRun API request.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.emrcontainers#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags that are associated with the job template.</p>"
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.emrcontainers#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key ARN used to encrypt the job template.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#CreateJobTemplateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>This output display the created job template ID.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.emrcontainers#ResourceNameString",
          "traits": {
            "smithy.api#documentation": "<p>This output displays the name of the created job template.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.emrcontainers#JobTemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>This output display the ARN of the created job template.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.emrcontainers#Date",
          "traits": {
            "smithy.api#documentation": "<p>This output displays the date and time when the job template was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#CreateManagedEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#CreateManagedEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#CreateManagedEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a managed endpoint. A managed endpoint is a gateway that connects EMR Studio \n         to Amazon EMR on EKS so that EMR Studio can communicate with your virtual cluster.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/virtualclusters/{virtualClusterId}/endpoints",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#CreateManagedEndpointRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.emrcontainers#ResourceNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the managed endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "virtualClusterId": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual cluster for which a managed endpoint is created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.emrcontainers#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the managed endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "releaseLabel": {
          "target": "com.amazonaws.emrcontainers#ReleaseLabel",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EMR release version.</p>",
            "smithy.api#required": {}
          }
        },
        "executionRoleArn": {
          "target": "com.amazonaws.emrcontainers#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the execution role.</p>",
            "smithy.api#required": {}
          }
        },
        "certificateArn": {
          "target": "com.amazonaws.emrcontainers#ACMCertArn",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Customer provided certificate-arn is deprecated and would be removed in future."
            },
            "smithy.api#documentation": "<p>The certificate ARN provided by users for the managed endpoint. This field \n         is under deprecation and will be removed in future releases.</p>"
          }
        },
        "configurationOverrides": {
          "target": "com.amazonaws.emrcontainers#ConfigurationOverrides",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings that will be used to override existing configurations.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.emrcontainers#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The client idempotency token for this create call.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.emrcontainers#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the managed endpoint.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#CreateManagedEndpointResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The output contains the ID of the managed endpoint.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.emrcontainers#ResourceNameString",
          "traits": {
            "smithy.api#documentation": "<p>The output contains the name of the managed endpoint.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.emrcontainers#EndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The output contains the ARN of the managed endpoint.</p>"
          }
        },
        "virtualClusterId": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The output contains the ID of the virtual cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#CreateVirtualCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#CreateVirtualClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#CreateVirtualClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You\n         can create, describe, list and delete virtual clusters. They do not consume any additional\n         resource in your system. A single virtual cluster maps to a single Kubernetes namespace.\n         Given this relationship, you can model virtual clusters the same way you model Kubernetes\n         namespaces to meet your requirements.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/virtualclusters",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#CreateVirtualClusterRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.emrcontainers#ResourceNameString",
          "traits": {
            "smithy.api#documentation": "<p>The specified name of the virtual cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "containerProvider": {
          "target": "com.amazonaws.emrcontainers#ContainerProvider",
          "traits": {
            "smithy.api#documentation": "<p>The container provider of the virtual cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.emrcontainers#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token of the virtual cluster.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.emrcontainers#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the virtual cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#CreateVirtualClusterResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>This output contains the virtual cluster ID.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.emrcontainers#ResourceNameString",
          "traits": {
            "smithy.api#documentation": "<p>This output contains the name of the virtual cluster.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.emrcontainers#VirtualClusterArn",
          "traits": {
            "smithy.api#documentation": "<p>This output contains the ARN of virtual cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#Date": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.emrcontainers#DeleteJobTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#DeleteJobTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#DeleteJobTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a job template. Job template stores values of StartJobRun API request in a\n         template and can be used to start a job run. Job template allows two use cases: avoid\n         repeating recurring StartJobRun API request values, enforcing certain values in StartJobRun\n         API request.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/jobtemplates/{id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#DeleteJobTemplateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the job template that will be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DeleteJobTemplateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>This output contains the ID of the job template that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DeleteManagedEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#DeleteManagedEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#DeleteManagedEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a managed endpoint. A managed endpoint is a gateway \n         that connects EMR Studio to Amazon EMR on EKS so that EMR Studio \n         can communicate with your virtual cluster.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/virtualclusters/{virtualClusterId}/endpoints/{id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#DeleteManagedEndpointRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the managed endpoint.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "virtualClusterId": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the endpoint's virtual cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DeleteManagedEndpointResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The output displays the ID of the managed endpoint.</p>"
          }
        },
        "virtualClusterId": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The output displays the ID of the endpoint's virtual cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DeleteVirtualCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#DeleteVirtualClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#DeleteVirtualClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a virtual cluster. Virtual cluster is a managed entity on Amazon EMR on EKS. You\n         can create, describe, list and delete virtual clusters. They do not consume any additional\n         resource in your system. A single virtual cluster maps to a single Kubernetes namespace.\n         Given this relationship, you can model virtual clusters the same way you model Kubernetes\n         namespaces to meet your requirements.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/virtualclusters/{id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#DeleteVirtualClusterRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual cluster that will be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DeleteVirtualClusterResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>This output contains the ID of the virtual cluster that will be deleted. </p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeJobRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#DescribeJobRunRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#DescribeJobRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays detailed information about a job run. A job run is a unit of work, such as a\n         Spark jar, PySpark script, or SparkSQL query, that you submit to Amazon EMR on EKS.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/virtualclusters/{virtualClusterId}/jobruns/{id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeJobRunRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the job run request. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "virtualClusterId": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual cluster for which the job run is submitted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeJobRunResponse": {
      "type": "structure",
      "members": {
        "jobRun": {
          "target": "com.amazonaws.emrcontainers#JobRun",
          "traits": {
            "smithy.api#documentation": "<p>The output displays information about a job run.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeJobTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#DescribeJobTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#DescribeJobTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays detailed information about a specified job template. Job template stores values\n         of StartJobRun API request in a template and can be used to start a job run. Job template\n         allows two use cases: avoid repeating recurring StartJobRun API request values, enforcing\n         certain values in StartJobRun API request.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/jobtemplates/{id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeJobTemplateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the job template that will be described.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeJobTemplateResponse": {
      "type": "structure",
      "members": {
        "jobTemplate": {
          "target": "com.amazonaws.emrcontainers#JobTemplate",
          "traits": {
            "smithy.api#documentation": "<p>This output displays information about the specified job template.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeManagedEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#DescribeManagedEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#DescribeManagedEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays detailed information about a managed endpoint. A managed endpoint is \n         a gateway that connects EMR Studio to Amazon EMR on EKS so that EMR Studio can \n         communicate with your virtual cluster.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/virtualclusters/{virtualClusterId}/endpoints/{id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeManagedEndpointRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>This output displays ID of the managed endpoint.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "virtualClusterId": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the endpoint's virtual cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeManagedEndpointResponse": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "com.amazonaws.emrcontainers#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>This output displays information about a managed endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeVirtualCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emrcontainers#DescribeVirtualClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.emrcontainers#DescribeVirtualClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.emrcontainers#InternalServerException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.emrcontainers#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays detailed information about a specified virtual cluster. Virtual cluster is a\n         managed entity on Amazon EMR on EKS. You can create, describe, list and delete virtual\n         clusters. They do not consume any additional resource in your system. A single virtual\n         cluster maps to a single Kubernetes namespace. Given this relationship, you can model\n         virtual clusters the same way you model Kubernetes namespaces to meet your\n         requirements.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/virtualclusters/{id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeVirtualClusterRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the virtual cluster that will be described.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#DescribeVirtualClusterResponse": {
      "type": "structure",
      "members": {
        "virtualCluster": {
          "target": "com.amazonaws.emrcontainers#VirtualCluster",
          "traits": {
            "smithy.api#documentation": "<p>This output displays information about the specified virtual cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#EksInfo": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.amazonaws.emrcontainers#KubernetesNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespaces of the EKS cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The information about the EKS cluster.</p>"
      }
    },
    "com.amazonaws.emrcontainers#Endpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the endpoint.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.emrcontainers#ResourceNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.emrcontainers#EndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the endpoint.</p>"
          }
        },
        "virtualClusterId": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the endpoint's virtual cluster.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.emrcontainers#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the endpoint.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.emrcontainers#EndpointState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the endpoint.</p>"
          }
        },
        "releaseLabel": {
          "target": "com.amazonaws.emrcontainers#ReleaseLabel",
          "traits": {
            "smithy.api#documentation": "<p>The EMR release version to be used for the endpoint.</p>"
          }
        },
        "executionRoleArn": {
          "target": "com.amazonaws.emrcontainers#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The execution role ARN of the endpoint.</p>"
          }
        },
        "certificateArn": {
          "target": "com.amazonaws.emrcontainers#ACMCertArn",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Customer provided certificate-arn is deprecated and would be removed in future."
            },
            "smithy.api#documentation": "<p>The certificate ARN of the endpoint. This field is under deprecation and will be removed\n         in future.</p>"
          }
        },
        "certificateAuthority": {
          "target": "com.amazonaws.emrcontainers#Certificate",
          "traits": {
            "smithy.api#documentation": "<p>The certificate generated by emr control plane on customer behalf to secure the managed\n         endpoint.</p>"
          }
        },
        "configurationOverrides": {
          "target": "com.amazonaws.emrcontainers#ConfigurationOverrides",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings that are used to override existing configurations for\n         endpoints.</p>"
          }
        },
        "serverUrl": {
          "target": "com.amazonaws.emrcontainers#UriString",
          "traits": {
            "smithy.api#documentation": "<p>The server URL of the endpoint.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.emrcontainers#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the endpoint was created.</p>"
          }
        },
        "securityGroup": {
          "target": "com.amazonaws.emrcontainers#String256",
          "traits": {
            "smithy.api#documentation": "<p>The security group configuration of the endpoint. </p>"
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.emrcontainers#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>The subnet IDs of the endpoint. </p>"
          }
        },
        "stateDetails": {
          "target": "com.amazonaws.emrcontainers#String256",
          "traits": {
            "smithy.api#documentation": "<p> Additional details of the endpoint state. </p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.emrcontainers#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p> The reasons why the endpoint has failed. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.emrcontainers#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the endpoint. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This entity represents the endpoint that is managed by Amazon EMR on EKS.</p>"
      }
    },
    "com.amazonaws.emrcontainers#EndpointArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 60,
          "max": 1024
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):emr-containers:.+:(\\d{12}):\\/virtualclusters\\/[0-9a-zA-Z]+\\/endpoints\\/[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.emrcontainers#EndpointState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATING"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATED"
          }
        },
        "TERMINATED_WITH_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATED_WITH_ERRORS"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#EndpointStates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emrcontainers#EndpointState"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.emrcontainers#EndpointType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.emrcontainers#EndpointTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emrcontainers#EndpointType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.emrcontainers#Endpoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emrcontainers#Endpoint"
      }
    },
    "com.amazonaws.emrcontainers#EntryPointArgument": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10280
        },
        "smithy.api#pattern": "\\S",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.emrcontainers#EntryPointArguments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emrcontainers#EntryPointArgument"
      }
    },
    "com.amazonaws.emrcontainers#EntryPointPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "\\S",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.emrcontainers#FailureReason": {
      "type": "enum",
      "members": {
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "USER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_ERROR"
          }
        },
        "VALIDATION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATION_ERROR"
          }
        },
        "CLUSTER_UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_UNAVAILABLE"
          }
        }
      }
    },
    "com.amazonaws.emrcontainers#IAMRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):iam::(\\d{12})?:(role((\\u002F)|(\\u002F[\\u0021-\\u007F]+\\u002F))[\\w+=,.@-]+)$"
      }
    },
    "com.amazonaws.emrcontainers#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.emrcontainers#String1024"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This is an internal server exception.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.emrcontainers#JavaInteger": {
      "type": "integer"
    },
    "com.amazonaws.emrcontainers#JobArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 60,
          "max": 1024
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):emr-containers:.+:(\\d{12}):\\/virtualclusters\\/[0-9a-zA-Z]+\\/jobruns\\/[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.emrcontainers#JobDriver": {
      "type": "structure",
      "members": {
        "sparkSubmitJobDriver": {
          "target": "com.amazonaws.emrcontainers#SparkSubmitJobDriver",
          "traits": {
            "smithy.api#documentation": "<p>The job driver parameters specified for spark submit.</p>"
          }
        },
        "sparkSqlJobDriver": {
          "target": "com.amazonaws.emrcontainers#SparkSqlJobDriver",
          "traits": {
            "smithy.api#documentation": "<p>The job driver for job type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specify the driver that the job runs on. Exactly one of the two available job drivers is\n         required, either sparkSqlJobDriver or sparkSubmitJobDriver.</p>"
      }
    },
    "com.amazonaws.emrcontainers#JobRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the job run.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.emrcontainers#ResourceNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job run.</p>"
          }
        },
        "virtualClusterId": {
          "target": "com.amazonaws.emrcontainers#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the job run's virtual cluster.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.emrcontainers#JobArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of job run.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.emrcontainers#JobRunState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the job run. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.emrcontainers#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token used to start a job run.</p>"
          }
        },
        "executionRoleArn": {
          "target": "com.amazonaws.emrcontainers#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The execution role ARN of the job run.</p>"
          }
        },
        "releaseLabel": {
          "target": "com.amazonaws.emrcontainers#ReleaseLabel",
          "traits": {
            "smithy.api#documentation": "<p>The release version of Amazon EMR.</p>"
          }
        },
        "configurationOverrides": {
          "target": "com.amazonaws.emrcontainers#ConfigurationOverrides",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings that are used to override default configuration.</p>"
          }
        },
        "jobDriver": {
          "target": "com.amazonaws.emrcontainers#JobDriver",
          "traits": {
            "smithy.api#documentation": "<p>Parameters of job driver for the job run.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.emrcontainers#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the job run was created.</p>"
          }
        },
        "createdBy": {
[...]
