{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.emr#ActionOnFailure": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TERMINATE_JOB_FLOW",
            "name": "TERMINATE_JOB_FLOW"
          },
          {
            "value": "TERMINATE_CLUSTER",
            "name": "TERMINATE_CLUSTER"
          },
          {
            "value": "CANCEL_AND_WAIT",
            "name": "CANCEL_AND_WAIT"
          },
          {
            "value": "CONTINUE",
            "name": "CONTINUE"
          }
        ]
      }
    },
    "com.amazonaws.emr#AddInstanceFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#AddInstanceFleetInput"
      },
      "output": {
        "target": "com.amazonaws.emr#AddInstanceFleetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerException"
        },
        {
          "target": "com.amazonaws.emr#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an instance fleet to a running cluster.</p>\n         <note>\n            <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x.</p>\n         </note>"
      }
    },
    "com.amazonaws.emr#AddInstanceFleetInput": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceFleet": {
          "target": "com.amazonaws.emr#InstanceFleetConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the configuration of the instance fleet.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emr#AddInstanceFleetOutput": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.emr#ArnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the cluster.</p>"
          }
        },
        "ClusterId": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the cluster.</p>"
          }
        },
        "InstanceFleetId": {
          "target": "com.amazonaws.emr#InstanceFleetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the instance fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.emr#AddInstanceGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#AddInstanceGroupsInput"
      },
      "output": {
        "target": "com.amazonaws.emr#AddInstanceGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more instance groups to a running cluster.</p>"
      }
    },
    "com.amazonaws.emr#AddInstanceGroupsInput": {
      "type": "structure",
      "members": {
        "InstanceGroups": {
          "target": "com.amazonaws.emr#InstanceGroupConfigList",
          "traits": {
            "smithy.api#documentation": "<p>Instance groups to add.</p>",
            "smithy.api#required": {}
          }
        },
        "JobFlowId": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256",
          "traits": {
            "smithy.api#documentation": "<p>Job flow in which to add the instance groups.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input to an AddInstanceGroups call.</p>"
      }
    },
    "com.amazonaws.emr#AddInstanceGroupsOutput": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.emr#ArnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the cluster.</p>"
          }
        },
        "InstanceGroupIds": {
          "target": "com.amazonaws.emr#InstanceGroupIdsList",
          "traits": {
            "smithy.api#documentation": "<p>Instance group IDs of the newly created instance groups.</p>"
          }
        },
        "JobFlowId": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256",
          "traits": {
            "smithy.api#documentation": "<p>The job flow ID in which the instance groups are added.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output from an AddInstanceGroups call.</p>"
      }
    },
    "com.amazonaws.emr#AddJobFlowSteps": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#AddJobFlowStepsInput"
      },
      "output": {
        "target": "com.amazonaws.emr#AddJobFlowStepsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>AddJobFlowSteps adds new steps to a running cluster. A maximum of 256 steps are allowed in each job flow.</p>\n         <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using SSH to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/AddMoreThan256Steps.html\">Add More than 256 Steps to a Cluster</a> in the <i>Amazon EMR Management Guide</i>.</p>\n         <p>A step specifies the location of a JAR file stored either on the master node of the cluster or in Amazon S3. Each step is performed by the main function of the main class of the JAR file. The main class can be specified either in the manifest of the JAR or by using the MainFunction parameter of the step.</p>\n         <p>Amazon EMR executes each step in the order listed. For a step to be considered complete, the main function must exit with a zero exit code and all Hadoop jobs started while the step was running must have completed and run successfully.</p>\n         <p>You can only add steps to a cluster that is in one of the following states: STARTING, BOOTSTRAPPING, RUNNING, or WAITING.</p>"
      }
    },
    "com.amazonaws.emr#AddJobFlowStepsInput": {
      "type": "structure",
      "members": {
        "JobFlowId": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256",
          "traits": {
            "smithy.api#documentation": "<p>A string that uniquely identifies the job flow. This identifier is returned by\n            <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. </p>",
            "smithy.api#required": {}
          }
        },
        "Steps": {
          "target": "com.amazonaws.emr#StepConfigList",
          "traits": {
            "smithy.api#documentation": "<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The input argument to the <a>AddJobFlowSteps</a> operation. </p>"
      }
    },
    "com.amazonaws.emr#AddJobFlowStepsOutput": {
      "type": "structure",
      "members": {
        "StepIds": {
          "target": "com.amazonaws.emr#StepIdsList",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers of the list of steps added to the job flow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The output for the <a>AddJobFlowSteps</a> operation. </p>"
      }
    },
    "com.amazonaws.emr#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#AddTagsInput"
      },
      "output": {
        "target": "com.amazonaws.emr#AddTagsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerException"
        },
        {
          "target": "com.amazonaws.emr#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds tags to an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs.         \n         For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag Clusters</a>.                            \n      </p>"
      }
    },
    "com.amazonaws.emr#AddTagsInput": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.emr#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.emr#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to associate with a cluster and propagate to EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This input identifies a cluster and a list of tags to attach.</p>"
      }
    },
    "com.amazonaws.emr#AddTagsOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>This output indicates the result of adding tags to a resource.</p>"
      }
    },
    "com.amazonaws.emr#AdjustmentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CHANGE_IN_CAPACITY",
            "name": "CHANGE_IN_CAPACITY"
          },
          {
            "value": "PERCENT_CHANGE_IN_CAPACITY",
            "name": "PERCENT_CHANGE_IN_CAPACITY"
          },
          {
            "value": "EXACT_CAPACITY",
            "name": "EXACT_CAPACITY"
          }
        ]
      }
    },
    "com.amazonaws.emr#Application": {
      "type": "structure",
      "members": {
        "AdditionalInfo": {
          "target": "com.amazonaws.emr#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>This option is for advanced users only. This is meta information about third-party applications that third-party vendors use for testing purposes.</p>"
          }
        },
        "Args": {
          "target": "com.amazonaws.emr#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Arguments for Amazon EMR to pass to the application.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>With Amazon EMR release version 4.0 and later, the only accepted parameter is the application name. To pass arguments to applications, you use configuration classifications specified using configuration JSON objects. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring Applications</a>.</p>\n         <p>With earlier Amazon EMR releases, the application is any Amazon or third-party software that you can add to the cluster. This structure contains a list of strings that indicates the software to use with the cluster and accepts a user argument list. Amazon EMR accepts and forwards the argument list to the corresponding installation script as bootstrap action argument.</p>"
      }
    },
    "com.amazonaws.emr#ApplicationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#Application"
      }
    },
    "com.amazonaws.emr#ArnType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.emr#AutoScalingPolicy": {
      "type": "structure",
      "members": {
        "Constraints": {
          "target": "com.amazonaws.emr#ScalingConstraints",
          "traits": {
            "smithy.api#documentation": "<p>The upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.</p>",
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.emr#ScalingRuleList",
          "traits": {
            "smithy.api#documentation": "<p>The scale-in and scale-out rules that comprise the automatic scaling policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. An automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.</p>"
      }
    },
    "com.amazonaws.emr#AutoScalingPolicyDescription": {
      "type": "structure",
      "members": {
        "Constraints": {
          "target": "com.amazonaws.emr#ScalingConstraints",
          "traits": {
            "smithy.api#documentation": "<p>The upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.</p>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.emr#ScalingRuleList",
          "traits": {
            "smithy.api#documentation": "<p>The scale-in and scale-out rules that comprise the automatic scaling policy.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.emr#AutoScalingPolicyStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of an automatic scaling policy. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.</p>"
      }
    },
    "com.amazonaws.emr#AutoScalingPolicyState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "ATTACHING",
            "name": "ATTACHING"
          },
          {
            "value": "ATTACHED",
            "name": "ATTACHED"
          },
          {
            "value": "DETACHING",
            "name": "DETACHING"
          },
          {
            "value": "DETACHED",
            "name": "DETACHED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.emr#AutoScalingPolicyStateChangeReason": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.emr#AutoScalingPolicyStateChangeReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>The code indicating the reason for the change in status.<code>USER_REQUEST</code> indicates that the scaling policy status was changed by a user. <code>PROVISION_FAILURE</code> indicates that the status change was because the policy failed to provision. <code>CLEANUP_FAILURE</code> indicates an error.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>A friendly, more verbose message that accompanies an automatic scaling policy state change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The reason for an <a>AutoScalingPolicyStatus</a> change.</p>"
      }
    },
    "com.amazonaws.emr#AutoScalingPolicyStateChangeReasonCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "USER_REQUEST",
            "name": "USER_REQUEST"
          },
          {
            "value": "PROVISION_FAILURE",
            "name": "PROVISION_FAILURE"
          },
          {
            "value": "CLEANUP_FAILURE",
            "name": "CLEANUP_FAILURE"
          }
        ]
      }
    },
    "com.amazonaws.emr#AutoScalingPolicyStatus": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.emr#AutoScalingPolicyState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the status of the automatic scaling policy.</p>"
          }
        },
        "StateChangeReason": {
          "target": "com.amazonaws.emr#AutoScalingPolicyStateChangeReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for a change in status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of an automatic scaling policy. </p>"
      }
    },
    "com.amazonaws.emr#BlockPublicAccessConfiguration": {
      "type": "structure",
      "members": {
        "BlockPublicSecurityGroupRules": {
          "target": "com.amazonaws.emr#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether EMR block public access is enabled (<code>true</code>) or disabled (<code>false</code>). By default, the value is <code>false</code> for accounts that have created EMR clusters before July 2019. For accounts created after this, the default is <code>true</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Classification": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The classification within a configuration.</p>"
          }
        },
        "Configurations": {
          "target": "com.amazonaws.emr#ConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of additional configurations to apply within a configuration object.</p>"
          }
        },
        "PermittedPublicSecurityGroupRuleRanges": {
          "target": "com.amazonaws.emr#PortRanges",
          "traits": {
            "smithy.api#documentation": "<p>Specifies ports and port ranges that are permitted to have security group rules that allow inbound traffic from all public sources. For example, if Port 23 (Telnet) is specified for <code>PermittedPublicSecurityGroupRuleRanges</code>, Amazon EMR allows cluster creation if a security group associated with the cluster has a rule that allows inbound traffic on Port 23 from IPv4 0.0.0.0/0 or IPv6 port ::/0 as the source.</p>\n         <p>By default, Port 22, which is used for SSH access to the cluster EC2 instances, is in the list of <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>"
          }
        },
        "Properties": {
          "target": "com.amazonaws.emr#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of properties specified within a configuration classification.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration for Amazon EMR block public access. When <code>BlockPublicSecurityGroupRules</code> is set to <code>true</code>, Amazon EMR prevents cluster creation if one of the cluster's security groups has a rule that allows inbound traffic from 0.0.0.0/0 or ::/0 on a port, unless the port is specified as an exception using <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>"
      }
    },
    "com.amazonaws.emr#BlockPublicAccessConfigurationMetadata": {
      "type": "structure",
      "members": {
        "CreatedByArn": {
          "target": "com.amazonaws.emr#ArnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name that created or last modified the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationDateTime": {
          "target": "com.amazonaws.emr#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the configuration was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties that describe the AWS principal that created the <code>BlockPublicAccessConfiguration</code> using the <code>PutBlockPublicAccessConfiguration</code> action as well as the date and time that the configuration was created. Each time a configuration for block public access is updated, Amazon EMR updates this metadata.</p>"
      }
    },
    "com.amazonaws.emr#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.emr#BooleanObject": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.emr#BootstrapActionConfig": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bootstrap action.</p>",
            "smithy.api#required": {}
          }
        },
        "ScriptBootstrapAction": {
          "target": "com.amazonaws.emr#ScriptBootstrapActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The script run by the bootstrap action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration of a bootstrap action.</p>"
      }
    },
    "com.amazonaws.emr#BootstrapActionConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#BootstrapActionConfig"
      }
    },
    "com.amazonaws.emr#BootstrapActionDetail": {
      "type": "structure",
      "members": {
        "BootstrapActionConfig": {
          "target": "com.amazonaws.emr#BootstrapActionConfig",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bootstrap action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reports the configuration of a bootstrap action in a cluster (job flow).</p>"
      }
    },
    "com.amazonaws.emr#BootstrapActionDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#BootstrapActionDetail"
      }
    },
    "com.amazonaws.emr#CancelSteps": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#CancelStepsInput"
      },
      "output": {
        "target": "com.amazonaws.emr#CancelStepsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerError"
        },
        {
          "target": "com.amazonaws.emr#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a pending step or steps in a running cluster. Available only in Amazon EMR versions 4.8.0 and later, excluding version 5.0.0. A maximum of 256 steps are allowed in each CancelSteps request. CancelSteps is idempotent but asynchronous; it does not guarantee a step will be canceled, even if the request is successfully submitted. You can only cancel steps that are in a <code>PENDING</code> state.</p>"
      }
    },
    "com.amazonaws.emr#CancelStepsInfo": {
      "type": "structure",
      "members": {
        "Reason": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the failure if the CancelSteps request fails.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.emr#CancelStepsRequestStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a CancelSteps Request. The value may be SUBMITTED or FAILED.</p>"
          }
        },
        "StepId": {
          "target": "com.amazonaws.emr#StepId",
          "traits": {
            "smithy.api#documentation": "<p>The encrypted StepId of a step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specification of the status of a CancelSteps request. Available only in Amazon EMR version 4.8.0 and later, excluding version 5.0.0.</p>"
      }
    },
    "com.amazonaws.emr#CancelStepsInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#CancelStepsInfo"
      }
    },
    "com.amazonaws.emr#CancelStepsInput": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ClusterID</code> for which specified steps will be canceled. Use <a>RunJobFlow</a> and <a>ListClusters</a> to get ClusterIDs. </p>",
            "smithy.api#required": {}
          }
        },
        "StepCancellationOption": {
          "target": "com.amazonaws.emr#StepCancellationOption",
          "traits": {
            "smithy.api#documentation": "<p>The option to choose for cancelling <code>RUNNING</code> steps. By default, the value is <code>SEND_INTERRUPT</code>.</p>"
          }
        },
        "StepIds": {
          "target": "com.amazonaws.emr#StepIdsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>StepIDs</code> to cancel. Use <a>ListSteps</a> to get steps and their states for the specified cluster.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input argument to the <a>CancelSteps</a> operation.</p>"
      }
    },
    "com.amazonaws.emr#CancelStepsOutput": {
      "type": "structure",
      "members": {
        "CancelStepsInfoList": {
          "target": "com.amazonaws.emr#CancelStepsInfoList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>CancelStepsInfo</a>, which shows the status of specified cancel requests for each <code>StepID</code> specified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The output for the <a>CancelSteps</a> operation. </p>"
      }
    },
    "com.amazonaws.emr#CancelStepsRequestStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUBMITTED",
            "name": "SUBMITTED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.emr#CloudWatchAlarmDefinition": {
      "type": "structure",
      "members": {
        "ComparisonOperator": {
          "target": "com.amazonaws.emr#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>Determines how the metric specified by <code>MetricName</code> is compared to the value specified by <code>Threshold</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.emr#MetricDimensionList",
          "traits": {
            "smithy.api#documentation": "<p>A CloudWatch metric dimension.</p>"
          }
        },
        "EvaluationPeriods": {
          "target": "com.amazonaws.emr#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of periods, in five-minute increments, during which the alarm condition must exist before the alarm triggers automatic scaling activity. The default value is <code>1</code>.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch metric that is watched to determine an alarm condition.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The namespace for the CloudWatch metric. The default is <code>AWS/ElasticMapReduce</code>.</p>"
          }
        },
        "Period": {
          "target": "com.amazonaws.emr#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The period, in seconds, over which the statistic is applied. EMR CloudWatch metrics are emitted every five minutes (300 seconds), so if an EMR CloudWatch metric is specified, specify <code>300</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Statistic": {
          "target": "com.amazonaws.emr#Statistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic to apply to the metric associated with the alarm. The default is <code>AVERAGE</code>.</p>"
          }
        },
        "Threshold": {
          "target": "com.amazonaws.emr#NonNegativeDouble",
          "traits": {
            "smithy.api#documentation": "<p>The value against which the specified statistic is compared.</p>",
            "smithy.api#required": {}
          }
        },
        "Unit": {
          "target": "com.amazonaws.emr#Unit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of measure associated with the CloudWatch metric being watched. The value specified for <code>Unit</code> must correspond to the units specified in the CloudWatch metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition of a CloudWatch metric alarm, which determines when an automatic scaling activity is triggered. When the defined alarm conditions are satisfied, scaling activity begins.</p>"
      }
    },
    "com.amazonaws.emr#Cluster": {
      "type": "structure",
      "members": {
        "Applications": {
          "target": "com.amazonaws.emr#ApplicationList",
          "traits": {
            "smithy.api#documentation": "<p>The applications installed on this cluster.</p>"
          }
        },
        "AutoScalingRole": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>An IAM role for automatic scaling policies. The default role is <code>EMR_AutoScaling_DefaultRole</code>. The IAM role provides permissions that the automatic scaling feature requires to launch and terminate EC2 instances in an instance group.</p>"
          }
        },
        "AutoTerminate": {
          "target": "com.amazonaws.emr#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the cluster should terminate after completing all steps.</p>"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.emr#ArnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the cluster.</p>"
          }
        },
        "Configurations": {
          "target": "com.amazonaws.emr#ConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>Applies only to Amazon EMR releases 4.x and later. The list of Configurations supplied to the EMR cluster.</p>"
          }
        },
        "CustomAmiId": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256",
          "traits": {
            "smithy.api#documentation": "<p>Available only in Amazon EMR version 5.7.0 and later. The ID of a custom Amazon EBS-backed Linux AMI if the cluster uses a custom AMI.</p>"
          }
        },
        "EbsRootVolumeSize": {
          "target": "com.amazonaws.emr#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size, in GiB, of the EBS root device volume of the Linux AMI that is used for each EC2 instance. Available in Amazon EMR version 4.x and later.</p>"
          }
        },
        "Ec2InstanceAttributes": {
          "target": "com.amazonaws.emr#Ec2InstanceAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.emr#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the cluster.</p>"
          }
        },
        "InstanceCollectionType": {
          "target": "com.amazonaws.emr#InstanceCollectionType",
          "traits": {
            "smithy.api#documentation": "<note>\n            <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p>\n         </note>\n         <p>The instance group configuration of the cluster. A value of <code>INSTANCE_GROUP</code> indicates a uniform instance group configuration. A value of <code>INSTANCE_FLEET</code> indicates an instance fleets configuration.</p>"
          }
        },
        "KerberosAttributes": {
          "target": "com.amazonaws.emr#KerberosAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes for Kerberos configuration when Kerberos authentication is enabled using a security configuration. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-kerberos.html\">Use Kerberos Authentication</a> in the <i>EMR Management Guide</i>.</p>"
          }
        },
        "LogUri": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The path to the Amazon S3 location where logs for this cluster are stored.</p>"
          }
        },
        "MasterPublicDnsName": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The DNS name of the master node. If the cluster is on a private subnet, this is the private DNS name. On a public subnet, this is the public DNS name.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>"
          }
        },
        "NormalizedInstanceHours": {
          "target": "com.amazonaws.emr#Integer",
          "traits": {
            "smithy.api#documentation": "<p>An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.</p>"
          }
        },
        "OutpostArn": {
          "target": "com.amazonaws.emr#OptionalArnType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The Amazon Resource Name (ARN) of the Outpost where the cluster is launched.\n      </p>"
          }
        },
        "ReleaseLabel": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EMR release label, which determines the version of open-source application packages installed on the cluster. Release labels are in the form <code>emr-x.x.x</code>, where x.x.x is an Amazon EMR release version such as <code>emr-5.14.0</code>. For more information about Amazon EMR release versions and included application versions and features, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/\">https://docs.aws.amazon.com/emr/latest/ReleaseGuide/</a>. The release label applies only to Amazon EMR releases version 4.0 and later. Earlier versions use <code>AmiVersion</code>.</p>"
          }
        },
        "RepoUpgradeOnBoot": {
          "target": "com.amazonaws.emr#RepoUpgradeOnBoot",
          "traits": {
            "smithy.api#documentation": "<p>Applies only when <code>CustomAmiID</code> is used. Specifies the type of updates that are applied from the Amazon Linux AMI package repositories when an instance boots using the AMI.</p>"
          }
        },
        "RequestedAmiVersion": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The AMI version requested for this cluster.</p>"
          }
        },
        "RunningAmiVersion": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The AMI version running on this cluster.</p>"
          }
        },
        "ScaleDownBehavior": {
          "target": "com.amazonaws.emr#ScaleDownBehavior",
          "traits": {
            "smithy.api#documentation": "<p>The way that individual Amazon EC2 instances terminate when an automatic scale-in activity occurs or an instance group is resized. <code>TERMINATE_AT_INSTANCE_HOUR</code> indicates that Amazon EMR terminates nodes at the instance-hour boundary, regardless of when the request to terminate the instance was submitted. This option is only available with Amazon EMR 5.1.0 and later and is the default for clusters created using that version. <code>TERMINATE_AT_TASK_COMPLETION</code> indicates that Amazon EMR blacklists and drains tasks from nodes before terminating the Amazon EC2 instances, regardless of the instance-hour boundary. With either behavior, Amazon EMR removes the least active nodes first and blocks instance termination if it could lead to HDFS corruption. <code>TERMINATE_AT_TASK_COMPLETION</code> is available only in Amazon EMR version 4.1.0 and later, and is the default for versions of Amazon EMR earlier than 5.1.0.</p>"
          }
        },
        "SecurityConfiguration": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security configuration applied to the cluster.</p>"
          }
        },
        "ServiceRole": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role that will be assumed by the Amazon EMR service to access AWS resources on your behalf.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.emr#ClusterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status details about the cluster.</p>"
          }
        },
        "StepConcurrencyLevel": {
          "target": "com.amazonaws.emr#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of steps that can be executed concurrently.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.emr#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with a cluster.</p>"
          }
        },
        "TerminationProtected": {
          "target": "com.amazonaws.emr#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether Amazon EMR will lock the cluster to prevent the EC2 instances from being terminated by an API call or user intervention, or in the event of a cluster error.</p>"
          }
        },
        "VisibleToAllUsers": {
          "target": "com.amazonaws.emr#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the cluster is visible to all IAM users of the AWS account associated with the cluster. The default value, <code>true</code>, indicates that all IAM users in the AWS account can perform cluster actions if they have the proper IAM policy permissions. If this value is <code>false</code>, only the IAM user that created the cluster can perform actions. This value can be changed on a running cluster by using the <a>SetVisibleToAllUsers</a> action. You can override the default value of <code>true</code> when you create a cluster by using the <code>VisibleToAllUsers</code> parameter of the <code>RunJobFlow</code> action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The detailed description of the cluster.</p>"
      }
    },
    "com.amazonaws.emr#ClusterId": {
      "type": "string"
    },
    "com.amazonaws.emr#ClusterState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "BOOTSTRAPPING",
            "name": "BOOTSTRAPPING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "WAITING",
            "name": "WAITING"
          },
          {
            "value": "TERMINATING",
            "name": "TERMINATING"
          },
          {
            "value": "TERMINATED",
            "name": "TERMINATED"
          },
          {
            "value": "TERMINATED_WITH_ERRORS",
            "name": "TERMINATED_WITH_ERRORS"
          }
        ]
      }
    },
    "com.amazonaws.emr#ClusterStateChangeReason": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.emr#ClusterStateChangeReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>The programmatic code for the state change reason.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive message for the state change reason.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The reason that the cluster changed to its current state.</p>"
      }
    },
    "com.amazonaws.emr#ClusterStateChangeReasonCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INTERNAL_ERROR",
            "name": "INTERNAL_ERROR"
          },
          {
            "value": "VALIDATION_ERROR",
            "name": "VALIDATION_ERROR"
          },
          {
            "value": "INSTANCE_FAILURE",
            "name": "INSTANCE_FAILURE"
          },
          {
            "value": "INSTANCE_FLEET_TIMEOUT",
            "name": "INSTANCE_FLEET_TIMEOUT"
          },
          {
            "value": "BOOTSTRAP_FAILURE",
            "name": "BOOTSTRAP_FAILURE"
          },
          {
            "value": "USER_REQUEST",
            "name": "USER_REQUEST"
          },
          {
            "value": "STEP_FAILURE",
            "name": "STEP_FAILURE"
          },
          {
            "value": "ALL_STEPS_COMPLETED",
            "name": "ALL_STEPS_COMPLETED"
          }
        ]
      }
    },
    "com.amazonaws.emr#ClusterStateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#ClusterState"
      }
    },
    "com.amazonaws.emr#ClusterStatus": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.emr#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the cluster.</p>"
          }
        },
        "StateChangeReason": {
          "target": "com.amazonaws.emr#ClusterStateChangeReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the cluster status change.</p>"
          }
        },
        "Timeline": {
          "target": "com.amazonaws.emr#ClusterTimeline",
          "traits": {
            "smithy.api#documentation": "<p>A timeline that represents the status of a cluster over the lifetime of the cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The detailed status of the cluster.</p>"
      }
    },
    "com.amazonaws.emr#ClusterSummary": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.emr#ArnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the cluster.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.emr#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the cluster.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>"
          }
        },
        "NormalizedInstanceHours": {
          "target": "com.amazonaws.emr#Integer",
          "traits": {
            "smithy.api#documentation": "<p>An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.</p>"
          }
        },
        "OutpostArn": {
          "target": "com.amazonaws.emr#OptionalArnType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The Amazon Resource Name (ARN) of the Outpost where the cluster is launched.\n      </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.emr#ClusterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The details about the current status of the cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary description of the cluster.</p>"
      }
    },
    "com.amazonaws.emr#ClusterSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#ClusterSummary"
      }
    },
    "com.amazonaws.emr#ClusterTimeline": {
      "type": "structure",
      "members": {
        "CreationDateTime": {
          "target": "com.amazonaws.emr#Date",
          "traits": {
            "smithy.api#documentation": "<p>The creation date and time of the cluster.</p>"
          }
        },
        "EndDateTime": {
          "target": "com.amazonaws.emr#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the cluster was terminated.</p>"
          }
        },
        "ReadyDateTime": {
          "target": "com.amazonaws.emr#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the cluster was ready to execute steps.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the timeline of the cluster's lifecycle.</p>"
      }
    },
    "com.amazonaws.emr#Command": {
      "type": "structure",
      "members": {
        "Args": {
          "target": "com.amazonaws.emr#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Arguments for Amazon EMR to pass to the command for execution.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the command.</p>"
          }
        },
        "ScriptPath": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of the command script.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entity describing an executable that runs on a cluster.</p>"
      }
    },
    "com.amazonaws.emr#CommandList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#Command"
      }
    },
    "com.amazonaws.emr#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GREATER_THAN_OR_EQUAL",
            "name": "GREATER_THAN_OR_EQUAL"
          },
          {
            "value": "GREATER_THAN",
            "name": "GREATER_THAN"
          },
          {
            "value": "LESS_THAN",
            "name": "LESS_THAN"
          },
          {
            "value": "LESS_THAN_OR_EQUAL",
            "name": "LESS_THAN_OR_EQUAL"
          }
        ]
      }
    },
    "com.amazonaws.emr#Configuration": {
      "type": "structure",
      "members": {
        "Classification": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The classification within a configuration.</p>"
          }
        },
        "Configurations": {
          "target": "com.amazonaws.emr#ConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of additional configurations to apply within a configuration object.</p>"
          }
        },
        "Properties": {
          "target": "com.amazonaws.emr#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of properties specified within a configuration classification.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>Amazon EMR releases 4.x or later.</p>\n         </note>\n         <p>An optional configuration specification to be used when provisioning cluster instances, which can include configurations for applications and software bundled with Amazon EMR. A configuration consists of a classification, properties, and optional nested configurations. A classification refers to an application-specific configuration file. Properties are the settings you want to change in that file. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring Applications</a>.</p>"
      }
    },
    "com.amazonaws.emr#ConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#Configuration"
      }
    },
    "com.amazonaws.emr#CreateSecurityConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#CreateSecurityConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.emr#CreateSecurityConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerException"
        },
        {
          "target": "com.amazonaws.emr#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a security configuration, which is stored in the service and can be specified when a cluster is created.</p>"
      }
    },
    "com.amazonaws.emr#CreateSecurityConfigurationInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityConfiguration": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The security configuration details in JSON format. For JSON parameters and examples, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-security-configurations.html\">Use Security Configurations to Set Up Cluster Security</a> in the <i>Amazon EMR Management Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emr#CreateSecurityConfigurationOutput": {
      "type": "structure",
      "members": {
        "CreationDateTime": {
          "target": "com.amazonaws.emr#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the security configuration was created.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security configuration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emr#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.emr#DeleteSecurityConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#DeleteSecurityConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.emr#DeleteSecurityConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerException"
        },
        {
          "target": "com.amazonaws.emr#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a security configuration.</p>"
      }
    },
    "com.amazonaws.emr#DeleteSecurityConfigurationInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security configuration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emr#DeleteSecurityConfigurationOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.emr#DescribeCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#DescribeClusterInput"
      },
      "output": {
        "target": "com.amazonaws.emr#DescribeClusterOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerException"
        },
        {
          "target": "com.amazonaws.emr#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides cluster-level details including status, hardware and software configuration, VPC settings, and so on. </p>"
      }
    },
    "com.amazonaws.emr#DescribeClusterInput": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.emr#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the cluster to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This input determines which cluster to describe.</p>"
      }
    },
    "com.amazonaws.emr#DescribeClusterOutput": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.emr#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>This output contains the details for the requested cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This output contains the description of the cluster.</p>"
      }
    },
    "com.amazonaws.emr#DescribeJobFlows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#DescribeJobFlowsInput"
      },
      "output": {
        "target": "com.amazonaws.emr#DescribeJobFlowsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {},
        "smithy.api#documentation": "<p>This API is deprecated and will eventually be removed. We recommend you use <a>ListClusters</a>,\n         <a>DescribeCluster</a>, <a>ListSteps</a>, <a>ListInstanceGroups</a> and <a>ListBootstrapActions</a>\n         instead.</p>\n         <p>DescribeJobFlows returns a list of job flows that match all of the supplied parameters. The parameters can include a list of job flow IDs, job flow states, and restrictions on job flow creation date and time.</p>\n         <p>Regardless of supplied parameters, only job flows created within the last two months are returned.</p>\n         <p>If no parameters are supplied, then job flows matching either of the following criteria are returned:</p>\n         <ul>\n            <li>\n               <p>Job flows created and completed in the last two weeks</p>\n            </li>\n            <li>\n               <p> Job flows created within the last two months that are in one of the following states: <code>RUNNING</code>, <code>WAITING</code>, <code>SHUTTING_DOWN</code>,\n               <code>STARTING</code>\n               </p>\n            </li>\n         </ul>\n         <p>Amazon EMR can return a maximum of 512 job flow descriptions.</p>"
      }
    },
    "com.amazonaws.emr#DescribeJobFlowsInput": {
      "type": "structure",
      "members": {
        "CreatedAfter": {
          "target": "com.amazonaws.emr#Date",
          "traits": {
            "smithy.api#documentation": "<p>Return only job flows created after this date and time.</p>"
          }
        },
        "CreatedBefore": {
          "target": "com.amazonaws.emr#Date",
          "traits": {
            "smithy.api#documentation": "<p>Return only job flows created before this date and time.</p>"
          }
        },
        "JobFlowIds": {
          "target": "com.amazonaws.emr#XmlStringList",
          "traits": {
            "smithy.api#documentation": "<p>Return only job flows whose job flow ID is contained in this list.</p>"
          }
        },
        "JobFlowStates": {
          "target": "com.amazonaws.emr#JobFlowExecutionStateList",
          "traits": {
            "smithy.api#documentation": "<p>Return only job flows whose state is contained in this list.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The input for the <a>DescribeJobFlows</a> operation. </p>"
      }
    },
    "com.amazonaws.emr#DescribeJobFlowsOutput": {
      "type": "structure",
      "members": {
        "JobFlows": {
          "target": "com.amazonaws.emr#JobFlowDetailList",
          "traits": {
            "smithy.api#documentation": "<p>A list of job flows matching the parameters supplied.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The output for the <a>DescribeJobFlows</a> operation. </p>"
      }
    },
    "com.amazonaws.emr#DescribeSecurityConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#DescribeSecurityConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.emr#DescribeSecurityConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerException"
        },
        {
          "target": "com.amazonaws.emr#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of a security configuration by returning the configuration JSON.</p>"
      }
    },
    "com.amazonaws.emr#DescribeSecurityConfigurationInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security configuration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emr#DescribeSecurityConfigurationOutput": {
      "type": "structure",
      "members": {
        "CreationDateTime": {
          "target": "com.amazonaws.emr#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the security configuration was created</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security configuration.</p>"
          }
        },
        "SecurityConfiguration": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The security configuration details in JSON format.</p>"
          }
        }
      }
    },
    "com.amazonaws.emr#DescribeStep": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#DescribeStepInput"
      },
      "output": {
        "target": "com.amazonaws.emr#DescribeStepOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerException"
        },
        {
          "target": "com.amazonaws.emr#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides more detail about the cluster step.</p>"
      }
    },
    "com.amazonaws.emr#DescribeStepInput": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.emr#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the cluster with steps to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "StepId": {
          "target": "com.amazonaws.emr#StepId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the step to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This input determines which step to describe.</p>"
      }
    },
    "com.amazonaws.emr#DescribeStepOutput": {
      "type": "structure",
      "members": {
        "Step": {
          "target": "com.amazonaws.emr#Step",
          "traits": {
            "smithy.api#documentation": "<p>The step details for the requested step identifier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This output contains the description of the cluster step.</p>"
      }
    },
    "com.amazonaws.emr#EC2InstanceIdsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#InstanceId"
      }
    },
    "com.amazonaws.emr#EC2InstanceIdsToTerminateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#InstanceId"
      }
    },
    "com.amazonaws.emr#EbsBlockDevice": {
      "type": "structure",
      "members": {
        "Device": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The device name that is exposed to the instance, such as /dev/sdh.</p>"
          }
        },
        "VolumeSpecification": {
          "target": "com.amazonaws.emr#VolumeSpecification",
          "traits": {
            "smithy.api#documentation": "<p>EBS volume specifications such as volume type, IOPS, and size (GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration of requested EBS block device associated with the instance group.</p>"
      }
    },
    "com.amazonaws.emr#EbsBlockDeviceConfig": {
      "type": "structure",
      "members": {
        "VolumeSpecification": {
          "target": "com.amazonaws.emr#VolumeSpecification",
          "traits": {
            "smithy.api#documentation": "<p>EBS volume specifications such as volume type, IOPS, and size (GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "VolumesPerInstance": {
          "target": "com.amazonaws.emr#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Number of EBS volumes with a specific volume configuration that will be associated with every instance in the instance group</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration of requested EBS block device associated with the instance group with count of volumes that will be associated to every instance.</p>"
      }
    },
    "com.amazonaws.emr#EbsBlockDeviceConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#EbsBlockDeviceConfig"
      }
    },
    "com.amazonaws.emr#EbsBlockDeviceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#EbsBlockDevice"
      }
    },
    "com.amazonaws.emr#EbsConfiguration": {
      "type": "structure",
      "members": {
        "EbsBlockDeviceConfigs": {
          "target": "com.amazonaws.emr#EbsBlockDeviceConfigList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon EBS volume specifications attached to a cluster instance.</p>"
          }
        },
        "EbsOptimized": {
          "target": "com.amazonaws.emr#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether an Amazon EBS volume is EBS-optimized.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon EBS configuration of a cluster instance.</p>"
      }
    },
    "com.amazonaws.emr#EbsVolume": {
      "type": "structure",
      "members": {
        "Device": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The device name that is exposed to the instance, such as /dev/sdh.</p>"
          }
        },
        "VolumeId": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The volume identifier of the EBS volume.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>EBS block device that's attached to an EC2 instance.</p>"
      }
    },
    "com.amazonaws.emr#EbsVolumeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#EbsVolume"
      }
    },
    "com.amazonaws.emr#Ec2InstanceAttributes": {
      "type": "structure",
      "members": {
        "AdditionalMasterSecurityGroups": {
          "target": "com.amazonaws.emr#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of additional Amazon EC2 security group IDs for the master node.</p>"
          }
        },
        "AdditionalSlaveSecurityGroups": {
          "target": "com.amazonaws.emr#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of additional Amazon EC2 security group IDs for the core and task nodes.</p>"
          }
        },
        "Ec2AvailabilityZone": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone in which the cluster will run. </p>"
          }
        },
        "Ec2KeyName": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon EC2 key pair to use when connecting with SSH into the master node as a user named \"hadoop\".</p>"
          }
        },
        "Ec2SubnetId": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>Set this parameter to the identifier of the Amazon VPC subnet where you want the cluster to launch. If you do not specify this value, and your account supports EC2-Classic, the cluster launches in EC2-Classic.</p>"
          }
        },
        "EmrManagedMasterSecurityGroup": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon EC2 security group for the master node.</p>"
          }
        },
        "EmrManagedSlaveSecurityGroup": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon EC2 security group for the core and task nodes.</p>"
          }
        },
        "IamInstanceProfile": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role that was specified when the cluster was launched. The EC2 instances of the cluster assume this role.</p>"
          }
        },
        "RequestedEc2AvailabilityZones": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256List",
          "traits": {
            "smithy.api#documentation": "<p>Applies to clusters configured with the instance fleets option. Specifies one or more Availability Zones in which to launch EC2 cluster instances when the EC2-Classic network configuration is supported. Amazon EMR chooses the Availability Zone with the best fit from among the list of <code>RequestedEc2AvailabilityZones</code>, and then launches all cluster instances within that Availability Zone. If you do not specify this value, Amazon EMR chooses the Availability Zone for you. <code>RequestedEc2SubnetIDs</code> and <code>RequestedEc2AvailabilityZones</code> cannot be specified together.</p>"
          }
        },
        "RequestedEc2SubnetIds": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256List",
          "traits": {
            "smithy.api#documentation": "<p>Applies to clusters configured with the instance fleets option. Specifies the unique identifier of one or more Amazon EC2 subnets in which to launch EC2 cluster instances. Subnets must exist within the same VPC. Amazon EMR chooses the EC2 subnet with the best fit from among the list of <code>RequestedEc2SubnetIds</code>, and then launches all cluster instances within that Subnet. If this value is not specified, and the account and Region support EC2-Classic networks, the cluster launches instances in the EC2-Classic network and uses <code>RequestedEc2AvailabilityZones</code> instead of this setting. If EC2-Classic is not supported, and no Subnet is specified, Amazon EMR chooses the subnet for you. <code>RequestedEc2SubnetIDs</code> and <code>RequestedEc2AvailabilityZones</code> cannot be specified together.</p>"
          }
        },
        "ServiceAccessSecurityGroup": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon EC2 security group for the Amazon EMR service to access clusters in VPC private subnets.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.</p>"
      }
    },
    "com.amazonaws.emr#ElasticMapReduce": {
      "type": "service",
      "version": "2009-03-31",
      "operations": [
        {
          "target": "com.amazonaws.emr#AddInstanceFleet"
        },
        {
          "target": "com.amazonaws.emr#AddInstanceGroups"
        },
        {
          "target": "com.amazonaws.emr#AddJobFlowSteps"
        },
        {
          "target": "com.amazonaws.emr#AddTags"
        },
        {
          "target": "com.amazonaws.emr#CancelSteps"
        },
        {
          "target": "com.amazonaws.emr#CreateSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.emr#DeleteSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.emr#DescribeCluster"
        },
        {
          "target": "com.amazonaws.emr#DescribeJobFlows"
        },
        {
          "target": "com.amazonaws.emr#DescribeSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.emr#DescribeStep"
        },
        {
          "target": "com.amazonaws.emr#GetBlockPublicAccessConfiguration"
        },
        {
          "target": "com.amazonaws.emr#ListBootstrapActions"
        },
        {
          "target": "com.amazonaws.emr#ListClusters"
        },
        {
          "target": "com.amazonaws.emr#ListInstanceFleets"
        },
        {
          "target": "com.amazonaws.emr#ListInstanceGroups"
        },
        {
          "target": "com.amazonaws.emr#ListInstances"
        },
        {
          "target": "com.amazonaws.emr#ListSecurityConfigurations"
        },
        {
          "target": "com.amazonaws.emr#ListSteps"
        },
        {
          "target": "com.amazonaws.emr#ModifyCluster"
        },
        {
          "target": "com.amazonaws.emr#ModifyInstanceFleet"
        },
        {
          "target": "com.amazonaws.emr#ModifyInstanceGroups"
        },
        {
          "target": "com.amazonaws.emr#PutAutoScalingPolicy"
        },
        {
          "target": "com.amazonaws.emr#PutBlockPublicAccessConfiguration"
        },
        {
          "target": "com.amazonaws.emr#RemoveAutoScalingPolicy"
        },
        {
          "target": "com.amazonaws.emr#RemoveTags"
        },
        {
          "target": "com.amazonaws.emr#RunJobFlow"
        },
        {
          "target": "com.amazonaws.emr#SetTerminationProtection"
        },
        {
          "target": "com.amazonaws.emr#SetVisibleToAllUsers"
        },
        {
          "target": "com.amazonaws.emr#TerminateJobFlows"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EMR",
          "arnNamespace": "elasticmapreduce",
          "cloudFormationName": "EMR",
          "cloudTrailEventSource": "webservice.elasticmapreduce"
        },
        "aws.auth#sigv4": {
          "name": "elasticmapreduce"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon EMR is a web service that makes it easy to process large amounts of data efficiently. Amazon EMR uses Hadoop processing combined with several AWS products to do tasks such as web indexing, data mining, log file analysis, machine learning, scientific simulation, and data warehousing.</p>",
        "smithy.api#title": "Amazon Elastic MapReduce",
        "smithy.api#xmlNamespace": {
          "uri": "http://elasticmapreduce.amazonaws.com/doc/2009-03-31"
        }
      }
    },
    "com.amazonaws.emr#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.emr#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.emr#FailureDetails": {
      "type": "structure",
      "members": {
        "LogFile": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The path to the log file where the step failure root cause was originally recorded.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive message including the error the EMR service has identified as the cause of step failure. This is text from an error log that describes the root cause of the failure.</p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the step failure. In the case where the service cannot successfully determine the root cause of the failure, it returns \"Unknown Error\" as a reason.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the step failure. The service attempts to detect the root cause for many common failures.</p>"
      }
    },
    "com.amazonaws.emr#GetBlockPublicAccessConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.emr#GetBlockPublicAccessConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.emr#GetBlockPublicAccessConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.emr#InternalServerException"
        },
        {
          "target": "com.amazonaws.emr#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the Amazon EMR block public access configuration for your AWS account in the current Region. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/configure-block-public-access.html\">Configure Block Public Access for Amazon EMR</a> in the <i>Amazon EMR Management Guide</i>.</p>"
      }
    },
    "com.amazonaws.emr#GetBlockPublicAccessConfigurationInput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.emr#GetBlockPublicAccessConfigurationOutput": {
      "type": "structure",
      "members": {
        "BlockPublicAccessConfiguration": {
          "target": "com.amazonaws.emr#BlockPublicAccessConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A configuration for Amazon EMR block public access. The configuration applies to all clusters created in your account for the current Region. The configuration specifies whether block public access is enabled. If block public access is enabled, security groups associated with the cluster cannot have rules that allow inbound traffic from 0.0.0.0/0 or ::/0 on a port, unless the port is specified as an exception using <code>PermittedPublicSecurityGroupRuleRanges</code> in the <code>BlockPublicAccessConfiguration</code>. By default, Port 22 (SSH) is an exception, and public access is allowed on this port. You can change this by updating the block public access configuration to remove the exception.</p>",
            "smithy.api#required": {}
          }
        },
        "BlockPublicAccessConfigurationMetadata": {
          "target": "com.amazonaws.emr#BlockPublicAccessConfigurationMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Properties that describe the AWS principal that created the <code>BlockPublicAccessConfiguration</code> using the <code>PutBlockPublicAccessConfiguration</code> action as well as the date and time that the configuration was created. Each time a configuration for block public access is updated, Amazon EMR updates this metadata.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.emr#HadoopJarStepConfig": {
      "type": "structure",
      "members": {
        "Args": {
          "target": "com.amazonaws.emr#XmlStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of command line arguments passed to the JAR file's main function when executed.</p>"
          }
        },
        "Jar": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>A path to a JAR file run during the step.</p>",
            "smithy.api#required": {}
          }
        },
        "MainClass": {
          "target": "com.amazonaws.emr#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the main class in the specified Java file. If not specified, the JAR file should specify a Main-Class in its manifest file.</p>"
          }
        },
        "Properties": {
          "target": "com.amazonaws.emr#KeyValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A job flow step consisting of a JAR file whose main function will be executed. The main function submits a job for Hadoop to execute and waits for the job to finish or fail.</p>"
      }
    },
    "com.amazonaws.emr#HadoopStepConfig": {
      "type": "structure",
      "members": {
        "Args": {
          "target": "com.amazonaws.emr#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of command line arguments to pass to the JAR file's main function for execution.</p>"
          }
        },
        "Jar": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The path to the JAR file that runs during the step.</p>"
          }
        },
        "MainClass": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the main class in the specified Java file. If not specified, the JAR file should specify a main class in its manifest file.</p>"
          }
        },
        "Properties": {
          "target": "com.amazonaws.emr#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cluster step consisting of a JAR file whose main function will be executed. The main function submits a job for Hadoop to execute and waits for the job to finish or fail.</p>"
      }
    },
    "com.amazonaws.emr#Instance": {
      "type": "structure",
      "members": {
        "EbsVolumes": {
          "target": "com.amazonaws.emr#EbsVolumeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of EBS volumes that are attached to this instance.</p>"
          }
        },
        "Ec2InstanceId": {
          "target": "com.amazonaws.emr#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the instance in Amazon EC2.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.emr#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the instance in Amazon EMR.</p>"
          }
        },
        "InstanceFleetId": {
          "target": "com.amazonaws.emr#InstanceFleetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the instance fleet to which an EC2 instance belongs.</p>"
          }
        },
        "InstanceGroupId": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the instance group to which this instance belongs.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.emr#InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 instance type, for example <code>m3.xlarge</code>.</p>"
          }
        },
        "Market": {
          "target": "com.amazonaws.emr#MarketType",
          "traits": {
            "smithy.api#documentation": "<p>The instance purchasing option. Valid values are <code>ON_DEMAND</code> or <code>SPOT</code>.\n      </p>"
          }
        },
        "PrivateDnsName": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The private DNS name of the instance.</p>"
          }
        },
        "PrivateIpAddress": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The private IP address of the instance.</p>"
          }
        },
        "PublicDnsName": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The public DNS name of the instance.</p>"
          }
        },
        "PublicIpAddress": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>The public IP address of the instance.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.emr#InstanceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an EC2 instance provisioned as part of cluster.</p>"
      }
    },
    "com.amazonaws.emr#InstanceCollectionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INSTANCE_FLEET",
            "name": "INSTANCE_FLEET"
          },
          {
            "value": "INSTANCE_GROUP",
            "name": "INSTANCE_GROUP"
          }
        ]
      }
    },
    "com.amazonaws.emr#InstanceFleet": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.emr#InstanceFleetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the instance fleet.</p>"
          }
        },
        "InstanceFleetType": {
          "target": "com.amazonaws.emr#InstanceFleetType",
          "traits": {
            "smithy.api#documentation": "<p>The node type that the instance fleet hosts. Valid values are MASTER, CORE, or TASK.\n      </p>"
          }
        },
        "InstanceTypeSpecifications": {
          "target": "com.amazonaws.emr#InstanceTypeSpecificationList",
          "traits": {
            "smithy.api#documentation": "<p>The specification for the instance types that comprise an instance fleet. Up to five unique instance specifications may be defined for each instance fleet. \n      </p>"
          }
        },
        "LaunchSpecifications": {
          "target": "com.amazonaws.emr#InstanceFleetProvisioningSpecifications",
          "traits": {
            "smithy.api#documentation": "<p>Describes the launch specification for an instance fleet.\n      </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for the instance fleet.</p>"
          }
        },
        "ProvisionedOnDemandCapacity": {
          "target": "com.amazonaws.emr#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The number of On-Demand units that have been provisioned for the instance fleet to fulfill <code>TargetOnDemandCapacity</code>. This provisioned capacity might be less than or greater than <code>TargetOnDemandCapacity</code>.</p>"
          }
        },
        "ProvisionedSpotCapacity": {
          "target": "com.amazonaws.emr#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The number of Spot units that have been provisioned for this instance fleet to fulfill <code>TargetSpotCapacity</code>. This provisioned capacity might be less than or greater than <code>TargetSpotCapacity</code>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.emr#InstanceFleetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the instance fleet.\n      </p>"
          }
        },
        "TargetOnDemandCapacity": {
          "target": "com.amazonaws.emr#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The target capacity of On-Demand units for the instance fleet, which determines how many On-Demand instances to provision. When the instance fleet launches, Amazon EMR tries to provision On-Demand instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When an On-Demand instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units. You can use <a>InstanceFleet$ProvisionedOnDemandCapacity</a> to determine the Spot capacity units that have been provisioned for the instance fleet.</p>\n         <note>\n            <p>If not specified or set to 0, only Spot instances are provisioned for the instance fleet using <code>TargetSpotCapacity</code>. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p>\n         </note>"
          }
        },
        "TargetSpotCapacity": {
          "target": "com.amazonaws.emr#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The target capacity of Spot units for the instance fleet, which determines how many Spot instances to provision. When the instance fleet launches, Amazon EMR tries to provision Spot instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When a Spot instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units. You can use <a>InstanceFleet$ProvisionedSpotCapacity</a> to determine the Spot capacity units that have been provisioned for the instance fleet.</p>\n         <note>\n            <p>If not specified or set to 0, only On-Demand instances are provisioned for the instance fleet. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an instance fleet, which is a group of EC2 instances that host a particular node type (master, core, or task) in an Amazon EMR cluster. Instance fleets can consist of a mix of instance types and On-Demand and Spot instances, which are provisioned to meet a defined target capacity.\n      </p>\n         <note>\n            <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p>\n         </note>"
      }
    },
    "com.amazonaws.emr#InstanceFleetConfig": {
      "type": "structure",
      "members": {
        "InstanceFleetType": {
          "target": "com.amazonaws.emr#InstanceFleetType",
          "traits": {
            "smithy.api#documentation": "<p>The node type that the instance fleet hosts. Valid values are MASTER,CORE,and TASK.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceTypeConfigs": {
          "target": "com.amazonaws.emr#InstanceTypeConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The instance type configurations that define the EC2 instances in the instance fleet.</p>"
          }
        },
        "LaunchSpecifications": {
          "target": "com.amazonaws.emr#InstanceFleetProvisioningSpecifications",
          "traits": {
            "smithy.api#documentation": "<p>The launch specification for the instance fleet.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.emr#XmlStringMaxLen256",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the instance fleet.</p>"
          }
        },
        "TargetOnDemandCapacity": {
          "target": "com.amazonaws.emr#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The target capacity of On-Demand units for the instance fleet, which determines how many On-Demand instances to provision. When the instance fleet launches, Amazon EMR tries to provision On-Demand instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When an On-Demand instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units.</p>\n         <note>\n            <p>If not specified or set to 0, only Spot instances are provisioned for the instance fleet using <code>TargetSpotCapacity</code>. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p>\n         </note>"
          }
        },
        "TargetSpotCapacity": {
          "target": "com.amazonaws.emr#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The target capacity of Spot units for the instance fleet, which determines how many Spot instances to provision. When the instance fleet launches, Amazon EMR tries to provision Spot instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When a Spot instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units.</p>\n         <note>\n            <p>If not specified or set to 0, only On-Demand instances are provisioned for the instance fleet. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration that defines an instance fleet.</p>\n         <note>\n            <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p>\n         </note>"
      }
    },
    "com.amazonaws.emr#InstanceFleetConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#InstanceFleetConfig"
      }
    },
    "com.amazonaws.emr#InstanceFleetId": {
      "type": "string"
    },
    "com.amazonaws.emr#InstanceFleetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.emr#InstanceFleet"
      }
    },
    "com.amazonaws.emr#InstanceFleetModifyConfig": {
      "type": "structure",
      "members": {
        "InstanceFleetId": {
          "target": "com.amazonaws.emr#InstanceFleetId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the instance fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetOnDemandCapacity": {
          "target": "com.amazonaws.emr#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The target capacity of On-Demand units for the instance fleet. For more information see <a>InstanceFleetConfig$TargetOnDemandCapacity</a>.</p>"
          }
        },
        "TargetSpotCapacity": {
          "target": "com.amazonaws.emr#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The target capacity of Spot units for the instance fleet. For more information, see <a>InstanceFleetConfig$TargetSpotCapacity</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration parameters for an instance fleet modification request.</p>\n         <note>\n            <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p>\n         </note>"
      }
    },
    "com.amazonaws.emr#InstanceFleetProvisioningSpecifications": {
      "type": "structure",
      "members": {
        "SpotSpecification": {
          "target": "com.amazonaws.emr#SpotProvisioningSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch specification for Spot instances in the fleet, which determines the defined duration and provisioning timeout behavior.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The launch specification for Spot instances in the fleet, which determines the defined duration and provisioning timeout behavior.</p>\n         <note>\n            <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p>\n         </note>"
      }
    },
    "com.amazonaws.emr#InstanceFleetState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PROVISIONING",
            "name": "PROVISIONING"
          },
          {
            "value": "BOOTSTRAPPING",
            "name": "BOOTSTRAPPING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "RESIZING",
            "name": "RESIZING"
          },
          {
            "value": "SUSPENDED",
            "name": "SUSPENDED"
          },
          {
            "value": "TERMINATING",
            "name": "TERMINATING"
          },
          {
            "value": "TERMINATED",
            "name": "TERMINATED"
          }
        ]
      }
    },
    "com.amazonaws.emr#InstanceFleetStateChangeReason": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.emr#InstanceFleetStateChangeReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>A code corresponding to the reason the state change occurred.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.emr#String",
          "traits": {
            "smithy.api#documentation": "<p>An explanatory message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides status change reason details for the instance fleet.</p>\n         <note>\n            <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p>\n         </note>"
      }
    },
[...]
