{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.eventbridge#AWSEvents": {
      "type": "service",
      "version": "2015-10-07",
      "operations": [
        {
          "target": "com.amazonaws.eventbridge#ActivateEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#CancelReplay"
        },
        {
          "target": "com.amazonaws.eventbridge#CreateApiDestination"
        },
        {
          "target": "com.amazonaws.eventbridge#CreateArchive"
        },
        {
          "target": "com.amazonaws.eventbridge#CreateConnection"
        },
        {
          "target": "com.amazonaws.eventbridge#CreateEndpoint"
        },
        {
          "target": "com.amazonaws.eventbridge#CreateEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#CreatePartnerEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DeactivateEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DeauthorizeConnection"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteApiDestination"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteArchive"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteConnection"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteEndpoint"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#DeletePartnerEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteRule"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeApiDestination"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeArchive"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeConnection"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeEndpoint"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribePartnerEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeReplay"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeRule"
        },
        {
          "target": "com.amazonaws.eventbridge#DisableRule"
        },
        {
          "target": "com.amazonaws.eventbridge#EnableRule"
        },
        {
          "target": "com.amazonaws.eventbridge#ListApiDestinations"
        },
        {
          "target": "com.amazonaws.eventbridge#ListArchives"
        },
        {
          "target": "com.amazonaws.eventbridge#ListConnections"
        },
        {
          "target": "com.amazonaws.eventbridge#ListEndpoints"
        },
        {
          "target": "com.amazonaws.eventbridge#ListEventBuses"
        },
        {
          "target": "com.amazonaws.eventbridge#ListEventSources"
        },
        {
          "target": "com.amazonaws.eventbridge#ListPartnerEventSourceAccounts"
        },
        {
          "target": "com.amazonaws.eventbridge#ListPartnerEventSources"
        },
        {
          "target": "com.amazonaws.eventbridge#ListReplays"
        },
        {
          "target": "com.amazonaws.eventbridge#ListRuleNamesByTarget"
        },
        {
          "target": "com.amazonaws.eventbridge#ListRules"
        },
        {
          "target": "com.amazonaws.eventbridge#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.eventbridge#ListTargetsByRule"
        },
        {
          "target": "com.amazonaws.eventbridge#PutEvents"
        },
        {
          "target": "com.amazonaws.eventbridge#PutPartnerEvents"
        },
        {
          "target": "com.amazonaws.eventbridge#PutPermission"
        },
        {
          "target": "com.amazonaws.eventbridge#PutRule"
        },
        {
          "target": "com.amazonaws.eventbridge#PutTargets"
        },
        {
          "target": "com.amazonaws.eventbridge#RemovePermission"
        },
        {
          "target": "com.amazonaws.eventbridge#RemoveTargets"
        },
        {
          "target": "com.amazonaws.eventbridge#StartReplay"
        },
        {
          "target": "com.amazonaws.eventbridge#TagResource"
        },
        {
          "target": "com.amazonaws.eventbridge#TestEventPattern"
        },
        {
          "target": "com.amazonaws.eventbridge#UntagResource"
        },
        {
          "target": "com.amazonaws.eventbridge#UpdateApiDestination"
        },
        {
          "target": "com.amazonaws.eventbridge#UpdateArchive"
        },
        {
          "target": "com.amazonaws.eventbridge#UpdateConnection"
        },
        {
          "target": "com.amazonaws.eventbridge#UpdateEndpoint"
        },
        {
          "target": "com.amazonaws.eventbridge#UpdateEventBus"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EventBridge",
          "arnNamespace": "events",
          "cloudFormationName": "Events",
          "cloudTrailEventSource": "events.amazonaws.com",
          "endpointPrefix": "events"
        },
        "aws.auth#sigv4": {
          "name": "events"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon EventBridge helps you to respond to state changes in your Amazon Web Services\n      resources. When your resources change state, they automatically send events to an event\n      stream. You can create rules that match selected events in the stream and route them to\n      targets to take action. You can also use rules to take action on a predetermined schedule. For\n      example, you can configure rules to:</p>\n         <ul>\n            <li>\n               <p>Automatically invoke an Lambda function to update DNS entries when an\n          event notifies you that Amazon EC2 instance enters the running state.</p>\n            </li>\n            <li>\n               <p>Direct specific API records from CloudTrail to an Amazon Kinesis\n          data stream for detailed analysis of potential security or availability risks.</p>\n            </li>\n            <li>\n               <p>Periodically invoke a built-in target to create a snapshot of an Amazon EBS\n          volume.</p>\n            </li>\n         </ul>\n         <p>For more information about the features of Amazon EventBridge, see the <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide\">Amazon EventBridge User\n        Guide</a>.</p>",
        "smithy.api#title": "Amazon EventBridge",
        "smithy.api#xmlNamespace": {
          "uri": "http://events.amazonaws.com/doc/2015-10-07"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "EndpointId": {
              "required": false,
              "documentation": "Operation parameter for EndpointId",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                },
                {
                  "fn": "stringEquals",
                  "argv": [
                    {
                      "fn": "getAttr",
                      "argv": [
                        {
                          "ref": "PartitionResult"
                        },
                        "name"
                      ]
                    },
                    "aws-us-gov"
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseFIPS"
                    },
                    true
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseDualStack"
                    },
                    true
                  ]
                }
              ],
              "endpoint": {
                "url": "https://events.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "EndpointId"
                    }
                  ]
                },
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isValidHostLabel",
                      "argv": [
                        {
                          "ref": "EndpointId"
                        },
                        true
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            false
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "isSet",
                              "argv": [
                                {
                                  "ref": "Endpoint"
                                }
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4a",
                                  "signingName": "events",
                                  "signingRegionSet": ["*"]
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://{EndpointId}.endpoint.events.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4a",
                                          "signingName": "events",
                                          "signingRegionSet": ["*"]
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://{EndpointId}.endpoint.events.{PartitionResult#dnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4a",
                                  "signingName": "events",
                                  "signingRegionSet": ["*"]
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "error": "Invalid Configuration: FIPS is not supported with EventBridge multi-region endpoints.",
                      "type": "error"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "EndpointId must be a valid host label.",
                  "type": "error"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://events-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-gov-east-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://events.us-gov-east-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-gov-west-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://events.us-gov-west-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://events-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://events.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://events.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://events-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            },
            {
              "documentation": "Valid endpointId with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingName": "events",
                        "name": "sigv4a",
                        "signingRegionSet": ["*"]
                      }
                    ]
                  },
                  "url": "https://abc123.456def.endpoint.events.amazonaws.com"
                }
              },
              "operationInputs": [
                {
                  "builtInParams": {
                    "AWS::Region": "us-east-1"
                  },
                  "operationName": "PutEvents",
                  "operationParams": {
                    "EndpointId": "abc123.456def",
                    "Entries": [
                      {
                        "DetailType": "detailType",
                        "Detail": "{ \"test\": [\"test\"] }",
                        "EventBusName": "my-sdk-app"
                      }
                    ]
                  }
                }
              ],
              "params": {
                "EndpointId": "abc123.456def",
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "Valid EndpointId with dualstack disabled and fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS is not supported with EventBridge multi-region endpoints."
              },
              "params": {
                "EndpointId": "abc123.456def",
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "Valid EndpointId with dualstack enabled and fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS is not supported with EventBridge multi-region endpoints."
              },
              "params": {
                "EndpointId": "abc123.456def",
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "Invalid EndpointId",
              "expect": {
                "error": "EndpointId must be a valid host label."
              },
              "params": {
                "EndpointId": "badactor.com?foo=bar",
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "Invalid EndpointId (empty)",
              "expect": {
                "error": "EndpointId must be a valid host label."
              },
              "params": {
                "EndpointId": "",
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "Valid endpointId with fips disabled and dualstack true",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingName": "events",
                        "name": "sigv4a",
                        "signingRegionSet": ["*"]
                      }
                    ]
                  },
                  "url": "https://abc123.456def.endpoint.events.api.aws"
                }
              },
              "params": {
                "EndpointId": "abc123.456def",
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "Valid endpointId with custom sdk endpoint",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingName": "events",
                        "name": "sigv4a",
                        "signingRegionSet": ["*"]
                      }
                    ]
                  },
                  "url": "https://example.com"
                }
              },
              "params": {
                "EndpointId": "abc123.456def",
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "legacy fips endpoint @ us-gov-east-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "legacy non-fips endpoint @ us-gov-east-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Dualstack fips endpoint @ us-gov-east-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "Dualstack non-fips endpoint @ us-gov-east-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "legacy fips endpoint @ us-gov-west-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "legacy non-fips endpoint @ us-gov-west-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "Dualstack fips endpoint @ us-gov-west-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "Dualstack non-fips endpoint @ us-gov-west-1",
              "expect": {
                "endpoint": {
                  "url": "https://events.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.eventbridge#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have the necessary permissions for this action.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.eventbridge#Action": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^events:[a-zA-Z]+$"
      }
    },
    "com.amazonaws.eventbridge#ActivateEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ActivateEventSourceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidStateException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates a partner event source that has been deactivated. Once activated, your matching\n      event bus will start receiving events from the event source.</p>"
      }
    },
    "com.amazonaws.eventbridge#ActivateEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source to activate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.eventbridge#ApiDestination": {
      "type": "structure",
      "members": {
        "ApiDestinationArn": {
          "target": "com.amazonaws.eventbridge#ApiDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the API destination.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#ApiDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API destination.</p>"
          }
        },
        "ApiDestinationState": {
          "target": "com.amazonaws.eventbridge#ApiDestinationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the API destination.</p>"
          }
        },
        "ConnectionArn": {
          "target": "com.amazonaws.eventbridge#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the connection specified for the API destination.</p>"
          }
        },
        "InvocationEndpoint": {
          "target": "com.amazonaws.eventbridge#HttpsEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The URL to the endpoint for the API destination.</p>"
          }
        },
        "HttpMethod": {
          "target": "com.amazonaws.eventbridge#ApiDestinationHttpMethod",
          "traits": {
            "smithy.api#documentation": "<p>The method to use to connect to the HTTP endpoint.</p>"
          }
        },
        "InvocationRateLimitPerSecond": {
          "target": "com.amazonaws.eventbridge#ApiDestinationInvocationRateLimitPerSecond",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of invocations per second to send to the HTTP endpoint.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp for the time that the API destination was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp for the time that the API destination was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an API destination.</p>"
      }
    },
    "com.amazonaws.eventbridge#ApiDestinationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:aws([a-z]|\\-)*:events:([a-z]|\\d|\\-)*:([0-9]{12})?:api-destination\\/[\\.\\-_A-Za-z0-9]+\\/[\\-A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.eventbridge#ApiDestinationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.eventbridge#ApiDestinationHttpMethod": {
      "type": "enum",
      "members": {
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ApiDestinationInvocationRateLimitPerSecond": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.eventbridge#ApiDestinationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[\\.\\-_A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.eventbridge#ApiDestinationResponseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#ApiDestination"
      }
    },
    "com.amazonaws.eventbridge#ApiDestinationState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#AppSyncParameters": {
      "type": "structure",
      "members": {
        "GraphQLOperation": {
          "target": "com.amazonaws.eventbridge#GraphQLOperation",
          "traits": {
            "smithy.api#documentation": "<p>The GraphQL operation; that is, the query, mutation, or subscription to be parsed and\n      executed by the GraphQL service.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/appsync/latest/devguide/graphql-architecture.html#graphql-operations\">Operations</a> in the <i>AppSync User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the GraphQL operation to be parsed and executed, if the event target is an\n        AppSync API.</p>"
      }
    },
    "com.amazonaws.eventbridge#Archive": {
      "type": "structure",
      "members": {
        "ArchiveName": {
          "target": "com.amazonaws.eventbridge#ArchiveName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the archive.</p>"
          }
        },
        "EventSourceArn": {
          "target": "com.amazonaws.eventbridge#EventBusArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event bus associated with the archive. Only events from this event bus are\n      sent to the archive.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#ArchiveState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the archive.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.eventbridge#ArchiveStateReason",
          "traits": {
            "smithy.api#documentation": "<p>A description for the reason that the archive is in the current state.</p>"
          }
        },
        "RetentionDays": {
          "target": "com.amazonaws.eventbridge#RetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to retain events in the archive before they are deleted.</p>"
          }
        },
        "SizeBytes": {
          "target": "com.amazonaws.eventbridge#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size of the archive, in bytes.</p>"
          }
        },
        "EventCount": {
          "target": "com.amazonaws.eventbridge#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of events in the archive.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp for the time that the archive was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An <code>Archive</code> object that contains details about an archive.</p>"
      }
    },
    "com.amazonaws.eventbridge#ArchiveArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:aws([a-z]|\\-)*:events:([a-z]|\\d|\\-)*:([0-9]{12})?:.+\\/.+$"
      }
    },
    "com.amazonaws.eventbridge#ArchiveDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.eventbridge#ArchiveName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 48
        },
        "smithy.api#pattern": "^[\\.\\-_A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.eventbridge#ArchiveResponseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#Archive"
      }
    },
    "com.amazonaws.eventbridge#ArchiveState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ArchiveStateReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.eventbridge#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        }
      }
    },
    "com.amazonaws.eventbridge#AssignPublicIp": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#AuthHeaderParameters": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[ \\t]*[^\\x00-\\x1F:\\x7F]+([ \\t]+[^\\x00-\\x1F:\\x7F]+)*[ \\t]*$"
      }
    },
    "com.amazonaws.eventbridge#AuthHeaderParametersSensitive": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[ \\t]*[^\\x00-\\x1F:\\x7F]+([ \\t]+[^\\x00-\\x1F:\\x7F]+)*[ \\t]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.eventbridge#AwsVpcConfiguration": {
      "type": "structure",
      "members": {
        "Subnets": {
          "target": "com.amazonaws.eventbridge#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the subnets associated with the task. These subnets must all be in the same VPC.\n      You can specify as many as 16 subnets.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.eventbridge#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the security groups associated with the task. These security groups must all be\n      in the same VPC. You can specify as many as five security groups. If you do not specify a\n      security group, the default security group for the VPC is used.</p>"
          }
        },
        "AssignPublicIp": {
          "target": "com.amazonaws.eventbridge#AssignPublicIp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the task's elastic network interface receives a public IP address. You\n      can specify <code>ENABLED</code> only when <code>LaunchType</code> in\n        <code>EcsParameters</code> is set to <code>FARGATE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure specifies the VPC subnets and security groups for the task, and whether a\n      public IP address is to be used. This structure is relevant only for ECS tasks that use the\n        <code>awsvpc</code> network mode.</p>"
      }
    },
    "com.amazonaws.eventbridge#BatchArrayProperties": {
      "type": "structure",
      "members": {
        "Size": {
          "target": "com.amazonaws.eventbridge#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size of the array, if this is an array batch job. Valid values are integers between 2\n      and 10,000.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The array properties for the submitted job, such as the size of the array. The array size\n      can be between 2 and 10,000. If you specify array properties for a job, it becomes an array\n      job. This parameter is used only if the target is an Batch job.</p>"
      }
    },
    "com.amazonaws.eventbridge#BatchParameters": {
      "type": "structure",
      "members": {
        "JobDefinition": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the job definition to use if the event target is an Batch job. This job definition must already exist.</p>",
            "smithy.api#required": {}
          }
        },
        "JobName": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for this execution of the job, if the target is an Batch\n      job.</p>",
            "smithy.api#required": {}
          }
        },
        "ArrayProperties": {
          "target": "com.amazonaws.eventbridge#BatchArrayProperties",
          "traits": {
            "smithy.api#documentation": "<p>The array properties for the submitted job, such as the size of the array. The array size\n      can be between 2 and 10,000. If you specify array properties for a job, it becomes an array\n      job. This parameter is used only if the target is an Batch job.</p>"
          }
        },
        "RetryStrategy": {
          "target": "com.amazonaws.eventbridge#BatchRetryStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The retry strategy to use for failed jobs, if the target is an Batch job.\n      The retry strategy is the number of times to retry the failed job execution. Valid values are\n      1–10. When you specify a retry strategy here, it overrides the retry strategy defined in the\n      job definition.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The custom parameters to be used when the target is an Batch job.</p>"
      }
    },
    "com.amazonaws.eventbridge#BatchRetryStrategy": {
      "type": "structure",
      "members": {
        "Attempts": {
          "target": "com.amazonaws.eventbridge#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of times to attempt to retry, if the job fails. Valid values are 1–10.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The retry strategy to use for failed jobs, if the target is an Batch job.\n      If you specify a retry strategy here, it overrides the retry strategy defined in the job\n      definition.</p>"
      }
    },
    "com.amazonaws.eventbridge#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.eventbridge#CancelReplay": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#CancelReplayRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#CancelReplayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#IllegalStatusException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified replay.</p>"
      }
    },
    "com.amazonaws.eventbridge#CancelReplayRequest": {
      "type": "structure",
      "members": {
        "ReplayName": {
          "target": "com.amazonaws.eventbridge#ReplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the replay to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.eventbridge#CancelReplayResponse": {
      "type": "structure",
      "members": {
        "ReplayArn": {
          "target": "com.amazonaws.eventbridge#ReplayArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the replay to cancel.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#ReplayState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the replay.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.eventbridge#ReplayStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the replay is in the current state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.eventbridge#CapacityProvider": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.eventbridge#CapacityProviderStrategy": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#CapacityProviderStrategyItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 6
        }
      }
    },
    "com.amazonaws.eventbridge#CapacityProviderStrategyItem": {
      "type": "structure",
      "members": {
        "capacityProvider": {
          "target": "com.amazonaws.eventbridge#CapacityProvider",
          "traits": {
            "smithy.api#documentation": "<p>The short name of the capacity provider.</p>",
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "com.amazonaws.eventbridge#CapacityProviderStrategyItemWeight",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The weight value designates the relative percentage of the total number of tasks launched\n      that should use the specified capacity provider. The weight value is taken into consideration\n      after the base value, if defined, is satisfied.</p>"
          }
        },
        "base": {
          "target": "com.amazonaws.eventbridge#CapacityProviderStrategyItemBase",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The base value designates how many tasks, at a minimum, to run on the specified capacity\n      provider. Only one capacity provider in a capacity provider strategy can have a base defined.\n      If no value is specified, the default value of 0 is used. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a capacity provider strategy. To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CapacityProviderStrategyItem.html\">CapacityProviderStrategyItem</a> in the Amazon ECS API Reference.</p>"
      }
    },
    "com.amazonaws.eventbridge#CapacityProviderStrategyItemBase": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 100000
        }
      }
    },
    "com.amazonaws.eventbridge#CapacityProviderStrategyItemWeight": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.eventbridge#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is concurrent modification on a rule, target, archive, or replay.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#Condition": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of condition. Currently the only supported value is\n        <code>StringEquals</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key for the condition. Currently the only supported key is\n        <code>aws:PrincipalOrgID</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the value for the key. Currently, this must be the ID of the\n      organization.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON string which you can use to limit the event bus permissions you are granting to\n      only accounts that fulfill the condition. Currently, the only supported condition is\n      membership in a certain Amazon Web Services organization. The string must contain\n        <code>Type</code>, <code>Key</code>, and <code>Value</code> fields. The <code>Value</code>\n      field specifies the ID of the Amazon Web Services organization. Following is an example value\n      for <code>Condition</code>:</p>\n         <p>\n            <code>'{\"Type\" : \"StringEquals\", \"Key\": \"aws:PrincipalOrgID\", \"Value\":\n        \"o-1234567890\"}'</code>\n         </p>"
      }
    },
    "com.amazonaws.eventbridge#Connection": {
      "type": "structure",
      "members": {
        "ConnectionArn": {
          "target": "com.amazonaws.eventbridge#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the connection.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection.</p>"
          }
        },
        "ConnectionState": {
          "target": "com.amazonaws.eventbridge#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the connection.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.eventbridge#ConnectionStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the connection is in the connection state.</p>"
          }
        },
        "AuthorizationType": {
          "target": "com.amazonaws.eventbridge#ConnectionAuthorizationType",
          "traits": {
            "smithy.api#documentation": "<p>The authorization type specified for the connection.</p>\n         <note>\n            <p>OAUTH tokens are refreshed when a 401 or 407 response is returned.</p>\n         </note>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp for the time that the connection was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp for the time that the connection was last modified.</p>"
          }
        },
        "LastAuthorizedTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp for the time that the connection was last authorized.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a connection.</p>"
      }
    },
    "com.amazonaws.eventbridge#ConnectionApiKeyAuthResponseParameters": {
      "type": "structure",
      "members": {
        "ApiKeyName": {
          "target": "com.amazonaws.eventbridge#AuthHeaderParameters",
          "traits": {
            "smithy.api#documentation": "<p>The name of the header to use for the <code>APIKeyValue</code> used for\n      authorization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the authorization parameters for the connection if API Key is specified as the\n      authorization type.</p>"
      }
    },
    "com.amazonaws.eventbridge#ConnectionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:aws([a-z]|\\-)*:events:([a-z]|\\d|\\-)*:([0-9]{12})?:connection\\/[\\.\\-_A-Za-z0-9]+\\/[\\-A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.eventbridge#ConnectionAuthResponseParameters": {
      "type": "structure",
      "members": {
        "BasicAuthParameters": {
          "target": "com.amazonaws.eventbridge#ConnectionBasicAuthResponseParameters",
          "traits": {
            "smithy.api#documentation": "<p>The authorization parameters for Basic authorization.</p>"
          }
        },
        "OAuthParameters": {
          "target": "com.amazonaws.eventbridge#ConnectionOAuthResponseParameters",
          "traits": {
            "smithy.api#documentation": "<p>The OAuth parameters to use for authorization.</p>"
          }
        },
        "ApiKeyAuthParameters": {
          "target": "com.amazonaws.eventbridge#ConnectionApiKeyAuthResponseParameters",
          "traits": {
            "smithy.api#documentation": "<p>The API Key parameters to use for authorization.</p>"
          }
        },
        "InvocationHttpParameters": {
          "target": "com.amazonaws.eventbridge#ConnectionHttpParameters",
          "traits": {
            "smithy.api#documentation": "<p>Additional parameters for the connection that are passed through with every invocation to\n      the HTTP endpoint.</p>"
          }
        },
        "ConnectivityParameters": {
          "target": "com.amazonaws.eventbridge#DescribeConnectionConnectivityParameters",
          "traits": {
            "smithy.api#documentation": "<p>For private OAuth authentication endpoints. The parameters EventBridge uses to authenticate against the endpoint.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-target-connection-auth.html\">Authorization methods for connections</a> in the <i>\n               <i>Amazon EventBridge User Guide</i>\n            </i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Tthe authorization parameters to use for the connection.</p>"
      }
    },
    "com.amazonaws.eventbridge#ConnectionAuthorizationType": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "OAUTH_CLIENT_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH_CLIENT_CREDENTIALS"
          }
        },
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_KEY"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ConnectionBasicAuthResponseParameters": {
      "type": "structure",
      "members": {
        "Username": {
          "target": "com.amazonaws.eventbridge#AuthHeaderParameters",
          "traits": {
            "smithy.api#documentation": "<p>The user name to use for Basic authorization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authorization parameters for the connection if Basic is specified as the\n      authorization type.</p>"
      }
    },
    "com.amazonaws.eventbridge#ConnectionBodyParameter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The key for the parameter.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.eventbridge#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The value associated with the key.</p>"
          }
        },
        "IsValueSecret": {
          "target": "com.amazonaws.eventbridge#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether the value is secret.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional parameter included in the body. You can include up to 100 additional body\n      parameters per request. An event payload cannot exceed 64 KB.</p>"
      }
    },
    "com.amazonaws.eventbridge#ConnectionBodyParametersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#ConnectionBodyParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.eventbridge#ConnectionDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.eventbridge#ConnectionHeaderParameter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.eventbridge#HeaderKey",
          "traits": {
            "smithy.api#documentation": "<p>The key for the parameter.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.eventbridge#HeaderValueSensitive",
          "traits": {
            "smithy.api#documentation": "<p>The value associated with the key.</p>"
          }
        },
        "IsValueSecret": {
          "target": "com.amazonaws.eventbridge#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether the value is a secret.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional parameter included in the header. You can include up to 100 additional header\n      parameters per request. An event payload cannot exceed 64 KB.</p>"
      }
    },
    "com.amazonaws.eventbridge#ConnectionHeaderParametersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#ConnectionHeaderParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.eventbridge#ConnectionHttpParameters": {
      "type": "structure",
      "members": {
        "HeaderParameters": {
          "target": "com.amazonaws.eventbridge#ConnectionHeaderParametersList",
          "traits": {
            "smithy.api#documentation": "<p>Any additional header parameters for the connection.</p>"
          }
        },
        "QueryStringParameters": {
          "target": "com.amazonaws.eventbridge#ConnectionQueryStringParametersList",
          "traits": {
            "smithy.api#documentation": "<p>Any additional query string parameters for the connection.</p>"
          }
        },
        "BodyParameters": {
          "target": "com.amazonaws.eventbridge#ConnectionBodyParametersList",
          "traits": {
            "smithy.api#documentation": "<p>Any additional body string parameters for the connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Any additional parameters for the connection.</p>"
      }
    },
    "com.amazonaws.eventbridge#ConnectionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[\\.\\-_A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.eventbridge#ConnectionOAuthClientResponseParameters": {
      "type": "structure",
      "members": {
        "ClientID": {
          "target": "com.amazonaws.eventbridge#AuthHeaderParameters",
          "traits": {
            "smithy.api#documentation": "<p>The client ID associated with the response to the connection request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The client response parameters for the connection when OAuth is specified as the\n      authorization type.</p>"
      }
    },
    "com.amazonaws.eventbridge#ConnectionOAuthHttpMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ConnectionOAuthResponseParameters": {
      "type": "structure",
      "members": {
        "ClientParameters": {
          "target": "com.amazonaws.eventbridge#ConnectionOAuthClientResponseParameters",
          "traits": {
            "smithy.api#documentation": "<p>Details about the client parameters returned when OAuth is specified as the authorization type.</p>"
          }
        },
        "AuthorizationEndpoint": {
          "target": "com.amazonaws.eventbridge#HttpsEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The URL to the HTTP endpoint that authorized the request.</p>"
          }
        },
        "HttpMethod": {
          "target": "com.amazonaws.eventbridge#ConnectionOAuthHttpMethod",
          "traits": {
            "smithy.api#documentation": "<p>The method used to connect to the HTTP endpoint.</p>"
          }
        },
        "OAuthHttpParameters": {
          "target": "com.amazonaws.eventbridge#ConnectionHttpParameters",
          "traits": {
            "smithy.api#documentation": "<p>The additional HTTP parameters used for the OAuth authorization request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response parameters when OAuth is specified as the authorization type.</p>"
      }
    },
    "com.amazonaws.eventbridge#ConnectionQueryStringParameter": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.eventbridge#QueryStringKey",
          "traits": {
            "smithy.api#documentation": "<p>The key for a query string parameter.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.eventbridge#QueryStringValueSensitive",
          "traits": {
            "smithy.api#documentation": "<p>The value associated with the key for the query string parameter.</p>"
          }
        },
        "IsValueSecret": {
          "target": "com.amazonaws.eventbridge#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether the value is secret.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Any additional query string parameter for the connection. You can include up to 100 additional\n      query string parameters per request. Each additional parameter counts towards the event\n      payload size, which cannot exceed 64 KB.</p>"
      }
    },
    "com.amazonaws.eventbridge#ConnectionQueryStringParametersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#ConnectionQueryStringParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.eventbridge#ConnectionResponseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#Connection"
      }
    },
    "com.amazonaws.eventbridge#ConnectionState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
