{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.eventbridge#AWSEvents": {
      "type": "service",
      "version": "2015-10-07",
      "operations": [
        {
          "target": "com.amazonaws.eventbridge#ActivateEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#CancelReplay"
        },
        {
          "target": "com.amazonaws.eventbridge#CreateArchive"
        },
        {
          "target": "com.amazonaws.eventbridge#CreateEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#CreatePartnerEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DeactivateEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteArchive"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#DeletePartnerEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteRule"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeArchive"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribePartnerEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeReplay"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeRule"
        },
        {
          "target": "com.amazonaws.eventbridge#DisableRule"
        },
        {
          "target": "com.amazonaws.eventbridge#EnableRule"
        },
        {
          "target": "com.amazonaws.eventbridge#ListArchives"
        },
        {
          "target": "com.amazonaws.eventbridge#ListEventBuses"
        },
        {
          "target": "com.amazonaws.eventbridge#ListEventSources"
        },
        {
          "target": "com.amazonaws.eventbridge#ListPartnerEventSourceAccounts"
        },
        {
          "target": "com.amazonaws.eventbridge#ListPartnerEventSources"
        },
        {
          "target": "com.amazonaws.eventbridge#ListReplays"
        },
        {
          "target": "com.amazonaws.eventbridge#ListRuleNamesByTarget"
        },
        {
          "target": "com.amazonaws.eventbridge#ListRules"
        },
        {
          "target": "com.amazonaws.eventbridge#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.eventbridge#ListTargetsByRule"
        },
        {
          "target": "com.amazonaws.eventbridge#PutEvents"
        },
        {
          "target": "com.amazonaws.eventbridge#PutPartnerEvents"
        },
        {
          "target": "com.amazonaws.eventbridge#PutPermission"
        },
        {
          "target": "com.amazonaws.eventbridge#PutRule"
        },
        {
          "target": "com.amazonaws.eventbridge#PutTargets"
        },
        {
          "target": "com.amazonaws.eventbridge#RemovePermission"
        },
        {
          "target": "com.amazonaws.eventbridge#RemoveTargets"
        },
        {
          "target": "com.amazonaws.eventbridge#StartReplay"
        },
        {
          "target": "com.amazonaws.eventbridge#TagResource"
        },
        {
          "target": "com.amazonaws.eventbridge#TestEventPattern"
        },
        {
          "target": "com.amazonaws.eventbridge#UntagResource"
        },
        {
          "target": "com.amazonaws.eventbridge#UpdateArchive"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EventBridge",
          "arnNamespace": "events",
          "cloudFormationName": "Events",
          "cloudTrailEventSource": "eventbridge.amazonaws.com",
          "endpointPrefix": "events"
        },
        "aws.auth#sigv4": {
          "name": "events"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon EventBridge helps you to respond to state changes in your AWS resources.\n            When your resources change state, they automatically send events into an event stream.\n            You can create rules that match selected events in the stream and route them to targets\n            to take action. You can also use rules to take action on a predetermined schedule. For\n            example, you can configure rules to:</p>\n        <ul>\n            <li>\n                <p>Automatically invoke an AWS Lambda function to update DNS entries when an\n                    event notifies you that Amazon EC2 instance enters the running state.</p>\n            </li>\n            <li>\n                <p>Direct specific API records from AWS CloudTrail to an Amazon Kinesis data\n                    stream for detailed analysis of potential security or availability\n                    risks.</p>\n            </li>\n            <li>\n                <p>Periodically invoke a built-in target to create a snapshot of an Amazon EBS\n                    volume.</p>\n            </li>\n         </ul>\n        <p>For more information about the features of Amazon EventBridge, see the <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide\">Amazon EventBridge User\n                Guide</a>.</p>",
        "smithy.api#title": "Amazon EventBridge",
        "smithy.api#xmlNamespace": {
          "uri": "http://events.amazonaws.com/doc/2015-10-07"
        }
      }
    },
    "com.amazonaws.eventbridge#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "\\d{12}"
      }
    },
    "com.amazonaws.eventbridge#Action": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "events:[a-zA-Z]+"
      }
    },
    "com.amazonaws.eventbridge#ActivateEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ActivateEventSourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidStateException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates a partner event source that has been deactivated. Once activated, your\n            matching event bus will start receiving events from the event source.</p>"
      }
    },
    "com.amazonaws.eventbridge#ActivateEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source to activate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#Archive": {
      "type": "structure",
      "members": {
        "ArchiveName": {
          "target": "com.amazonaws.eventbridge#ArchiveName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the archive.</p>"
          }
        },
        "EventSourceArn": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event bus associated with the archive. Only events from this event bus\n            are sent to the archive.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#ArchiveState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the archive.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.eventbridge#ArchiveStateReason",
          "traits": {
            "smithy.api#documentation": "<p>A description for the reason that the archive is in the current state.</p>"
          }
        },
        "RetentionDays": {
          "target": "com.amazonaws.eventbridge#RetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to retain events in the archive before they are deleted.</p>"
          }
        },
        "SizeBytes": {
          "target": "com.amazonaws.eventbridge#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size of the archive, in bytes.</p>"
          }
        },
        "EventCount": {
          "target": "com.amazonaws.eventbridge#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of events in the archive.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp for the time that the archive was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An <code>Archive</code> object that contains details about an archive.</p>"
      }
    },
    "com.amazonaws.eventbridge#ArchiveArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:aws([a-z]|\\-)*:events:([a-z]|\\d|\\-)*:([0-9]{12})?:.+\\/.+$"
      }
    },
    "com.amazonaws.eventbridge#ArchiveDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.eventbridge#ArchiveName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 48
        },
        "smithy.api#pattern": "[\\.\\-_A-Za-z0-9]+"
      }
    },
    "com.amazonaws.eventbridge#ArchiveResponseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#Archive"
      }
    },
    "com.amazonaws.eventbridge#ArchiveState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "UPDATE_FAILED",
            "name": "UPDATE_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.eventbridge#ArchiveStateReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.eventbridge#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        }
      }
    },
    "com.amazonaws.eventbridge#AssignPublicIp": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.eventbridge#AwsVpcConfiguration": {
      "type": "structure",
      "members": {
        "Subnets": {
          "target": "com.amazonaws.eventbridge#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the subnets associated with the task. These subnets must all be in the same\n            VPC. You can specify as many as 16 subnets.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.eventbridge#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the security groups associated with the task. These security groups must all\n            be in the same VPC. You can specify as many as five security groups. If you do not\n            specify a security group, the default security group for the VPC is used.</p>"
          }
        },
        "AssignPublicIp": {
          "target": "com.amazonaws.eventbridge#AssignPublicIp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the task's elastic network interface receives a public IP address.\n            You can specify <code>ENABLED</code> only when <code>LaunchType</code> in\n                <code>EcsParameters</code> is set to <code>FARGATE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure specifies the VPC subnets and security groups for the task, and whether\n            a public IP address is to be used. This structure is relevant only for ECS tasks that\n            use the <code>awsvpc</code> network mode.</p>"
      }
    },
    "com.amazonaws.eventbridge#BatchArrayProperties": {
      "type": "structure",
      "members": {
        "Size": {
          "target": "com.amazonaws.eventbridge#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array, if this is an array batch job. Valid values are integers\n            between 2 and 10,000.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The array properties for the submitted job, such as the size of the array. The\n            array size can be between 2 and 10,000. If you specify array properties for a job, it\n            becomes an array job. This parameter is used only if the target is an AWS Batch\n            job.</p>"
      }
    },
    "com.amazonaws.eventbridge#BatchParameters": {
      "type": "structure",
      "members": {
        "JobDefinition": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the job definition to use if the event target is an AWS Batch\n            job. This job definition must already exist.</p>",
            "smithy.api#required": {}
          }
        },
        "JobName": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for this execution of the job, if the target is an AWS Batch\n            job.</p>",
            "smithy.api#required": {}
          }
        },
        "ArrayProperties": {
          "target": "com.amazonaws.eventbridge#BatchArrayProperties",
          "traits": {
            "smithy.api#documentation": "<p>The array properties for the submitted job, such as the size of the array. The\n            array size can be between 2 and 10,000. If you specify array properties for a job, it\n            becomes an array job. This parameter is used only if the target is an AWS Batch\n            job.</p>"
          }
        },
        "RetryStrategy": {
          "target": "com.amazonaws.eventbridge#BatchRetryStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The retry strategy to use for failed jobs, if the target is an AWS Batch job. The\n            retry strategy is the number of times to retry the failed job execution. Valid values\n            are 1–10. When you specify a retry strategy here, it overrides the retry strategy\n            defined in the job definition.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The custom parameters to be used when the target is an AWS Batch job.</p>"
      }
    },
    "com.amazonaws.eventbridge#BatchRetryStrategy": {
      "type": "structure",
      "members": {
        "Attempts": {
          "target": "com.amazonaws.eventbridge#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of times to attempt to retry, if the job fails. Valid values are\n            1–10.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The retry strategy to use for failed jobs, if the target is an AWS Batch job. If\n            you specify a retry strategy here, it overrides the retry strategy defined in the job\n            definition.</p>"
      }
    },
    "com.amazonaws.eventbridge#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.eventbridge#CancelReplay": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#CancelReplayRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#CancelReplayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#IllegalStatusException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified replay.</p>"
      }
    },
    "com.amazonaws.eventbridge#CancelReplayRequest": {
      "type": "structure",
      "members": {
        "ReplayName": {
          "target": "com.amazonaws.eventbridge#ReplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the replay to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#CancelReplayResponse": {
      "type": "structure",
      "members": {
        "ReplayArn": {
          "target": "com.amazonaws.eventbridge#ReplayArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the replay to cancel.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#ReplayState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the replay.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.eventbridge#ReplayStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the replay is in the current state.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is concurrent modification on a rule, target, archive, or replay.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#Condition": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of condition. Currently the only supported value is\n                <code>StringEquals</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the key for the condition. Currently the only supported key is\n                <code>aws:PrincipalOrgID</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the value for the key. Currently, this must be the ID of the\n            organization.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON string which you can use to limit the event bus permissions you are granting to\n            only accounts that fulfill the condition. Currently, the only supported condition is\n            membership in a certain AWS organization. The string must contain <code>Type</code>,\n                <code>Key</code>, and <code>Value</code> fields. The <code>Value</code> field\n            specifies the ID of the AWS organization. Following is an example value for\n                <code>Condition</code>:</p>\n        <p>\n            <code>'{\"Type\" : \"StringEquals\", \"Key\": \"aws:PrincipalOrgID\", \"Value\":\n                \"o-1234567890\"}'</code>\n         </p>"
      }
    },
    "com.amazonaws.eventbridge#CreateArchive": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#CreateArchiveRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#CreateArchiveResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidEventPatternException"
        },
        {
          "target": "com.amazonaws.eventbridge#LimitExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an archive of events with the specified settings. When you create an archive,\n            incoming events might not immediately start being sent to the archive. Allow a short\n            period of time for changes to take effect. If you do not specify a pattern to filter events sent to the archive, all events are sent to the archive except replayed events. Replayed events are not sent to an archive.</p>"
      }
    },
    "com.amazonaws.eventbridge#CreateArchiveRequest": {
      "type": "structure",
      "members": {
        "ArchiveName": {
          "target": "com.amazonaws.eventbridge#ArchiveName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the archive to create.</p>",
            "smithy.api#required": {}
          }
        },
        "EventSourceArn": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event source associated with the archive.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.eventbridge#ArchiveDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the archive.</p>"
          }
        },
        "EventPattern": {
          "target": "com.amazonaws.eventbridge#EventPattern",
          "traits": {
            "smithy.api#documentation": "<p>An event pattern to use to filter events sent to the archive.</p>"
          }
        },
        "RetentionDays": {
          "target": "com.amazonaws.eventbridge#RetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to retain events for. Default value is 0. If set to 0, events are\n            retained indefinitely</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#CreateArchiveResponse": {
      "type": "structure",
      "members": {
        "ArchiveArn": {
          "target": "com.amazonaws.eventbridge#ArchiveArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the archive that was created.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#ArchiveState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the archive that was created.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.eventbridge#ArchiveStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the archive is in the state.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the archive was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#CreateEventBus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#CreateEventBusRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#CreateEventBusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidStateException"
        },
        {
          "target": "com.amazonaws.eventbridge#LimitExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new event bus within your account. This can be a custom event bus which you\n            can use to receive events from your custom applications and services, or it can be a\n            partner event bus which can be matched to a partner event source.</p>"
      }
    },
    "com.amazonaws.eventbridge#CreateEventBusRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new event bus. </p>\n        <p>Event bus names cannot contain the / character. You can't use the name\n                <code>default</code> for a custom event bus, as this name is already used for your\n            account's default event bus.</p>\n        <p>If this is a partner event bus, the name must exactly match the name of the partner\n            event source that this event bus is matched to.</p>",
            "smithy.api#required": {}
          }
        },
        "EventSourceName": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>If you are creating a partner event bus, this specifies the partner event source that\n            the new event bus will be matched with.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.eventbridge#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with the event bus.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#CreateEventBusResponse": {
      "type": "structure",
      "members": {
        "EventBusArn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new event bus.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#CreatePartnerEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#CreatePartnerEventSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#CreatePartnerEventSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#LimitExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Called by an SaaS partner to create a partner event source. This operation is not used\n            by AWS customers.</p>\n        <p>Each partner event source can be used by one AWS account to create a matching partner\n            event bus in that AWS account. A SaaS partner must create one partner event source for\n            each AWS account that wants to receive those event types. </p>\n        <p>A partner event source creates events based on resources within the SaaS partner's\n            service or application.</p>\n        <p>An AWS account that creates a partner event bus that matches the partner event source\n            can use that event bus to receive events from the partner, and then process them using\n            AWS Events rules and targets.</p>\n        <p>Partner event source names follow this format:</p>\n        <p>\n            <code>\n               <i>partner_name</i>/<i>event_namespace</i>/<i>event_name</i>\n            </code>\n         </p>\n        <p>\n            <i>partner_name</i> is determined during partner registration and\n            identifies the partner to AWS customers. <i>event_namespace</i> is\n            determined by the partner and is a way for the partner to categorize their events.\n                <i>event_name</i> is determined by the partner, and should uniquely\n            identify an event-generating resource within the partner system. The combination of\n                <i>event_namespace</i> and <i>event_name</i> should help\n            AWS customers decide whether to create an event bus to receive these events.</p>"
      }
    },
    "com.amazonaws.eventbridge#CreatePartnerEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source. This name must be unique and must be in the\n            format\n                    <code>\n               <i>partner_name</i>/<i>event_namespace</i>/<i>event_name</i>\n            </code>.\n            The AWS account that wants to use this partner event source must create a partner event\n            bus with a name that matches the name of the partner event source.</p>",
            "smithy.api#required": {}
          }
        },
        "Account": {
          "target": "com.amazonaws.eventbridge#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID that is permitted to create a matching partner event bus for this\n            partner event source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#CreatePartnerEventSourceResponse": {
      "type": "structure",
      "members": {
        "EventSourceArn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the partner event source.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#CreatedBy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.eventbridge#Database": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "([a-zA-Z0-9]+)|(\\$(\\.[\\w_-]+(\\[(\\d+|\\*)\\])*)*)"
      }
    },
    "com.amazonaws.eventbridge#DbUser": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "([a-zA-Z0-9]+)|(\\$(\\.[\\w_-]+(\\[(\\d+|\\*)\\])*)*)"
      }
    },
    "com.amazonaws.eventbridge#DeactivateEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DeactivateEventSourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidStateException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You can use this operation to temporarily stop receiving events from the specified\n            partner event source. The matching event bus is not deleted. </p>\n        <p>When you deactivate a partner event source, the source goes into PENDING state. If it\n            remains in PENDING state for more than two weeks, it is deleted.</p>\n        <p>To activate a deactivated partner event source, use <a>ActivateEventSource</a>.</p>"
      }
    },
    "com.amazonaws.eventbridge#DeactivateEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source to deactivate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DeadLetterConfig": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SQS queue specified as the target for the dead-letter queue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A <code>DeadLetterConfig</code> object that contains information about a dead-letter\n            queue configuration.</p>"
      }
    },
    "com.amazonaws.eventbridge#DeleteArchive": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DeleteArchiveRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DeleteArchiveResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified archive.</p>"
      }
    },
    "com.amazonaws.eventbridge#DeleteArchiveRequest": {
      "type": "structure",
      "members": {
        "ArchiveName": {
          "target": "com.amazonaws.eventbridge#ArchiveName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the archive to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DeleteArchiveResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.eventbridge#DeleteEventBus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DeleteEventBusRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified custom event bus or partner event bus. All rules associated with\n            this event bus need to be deleted. You can't delete your account's default event\n            bus.</p>"
      }
    },
    "com.amazonaws.eventbridge#DeleteEventBusRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event bus to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DeletePartnerEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DeletePartnerEventSourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation is used by SaaS partners to delete a partner event source. This\n            operation is not used by AWS customers.</p>\n        <p>When you delete an event source, the status of the corresponding partner event bus in\n            the AWS customer account becomes DELETED.</p>\n        <p></p>"
      }
    },
    "com.amazonaws.eventbridge#DeletePartnerEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event source to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "Account": {
          "target": "com.amazonaws.eventbridge#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the AWS customer that the event source was created for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DeleteRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DeleteRuleRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ManagedRuleException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified rule.</p>\n        <p>Before you can delete the rule, you must remove all targets, using <a>RemoveTargets</a>.</p>\n\n        <p>When you delete a rule, incoming events might continue to match to the deleted\n            rule. Allow a short period of time for changes to take effect.</p>\n\n        <p>Managed rules are rules created and managed by another AWS service on your behalf.\n            These rules are created by those other AWS services to support functionality in those\n            services. You can delete these rules using the <code>Force</code> option, but you should\n            do so only if you are sure the other service is not still using that rule.</p>"
      }
    },
    "com.amazonaws.eventbridge#DeleteRuleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the event bus associated with the rule. If you omit this, the default event bus is\n            used.</p>"
          }
        },
        "Force": {
          "target": "com.amazonaws.eventbridge#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If this is a managed rule, created by an AWS service on your behalf, you must specify\n                <code>Force</code> as <code>True</code> to delete the rule. This parameter is\n            ignored for rules that are not managed rules. You can check whether a rule is a managed\n            rule by using <code>DescribeRule</code> or <code>ListRules</code> and checking the\n                <code>ManagedBy</code> field of the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeArchive": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeArchiveRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeArchiveResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details about an archive.</p>"
      }
    },
    "com.amazonaws.eventbridge#DescribeArchiveRequest": {
      "type": "structure",
      "members": {
        "ArchiveName": {
          "target": "com.amazonaws.eventbridge#ArchiveName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the archive to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeArchiveResponse": {
      "type": "structure",
      "members": {
        "ArchiveArn": {
          "target": "com.amazonaws.eventbridge#ArchiveArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the archive.</p>"
          }
        },
        "ArchiveName": {
          "target": "com.amazonaws.eventbridge#ArchiveName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the archive.</p>"
          }
        },
        "EventSourceArn": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event source associated with the archive.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.eventbridge#ArchiveDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the archive.</p>"
          }
        },
        "EventPattern": {
          "target": "com.amazonaws.eventbridge#EventPattern",
          "traits": {
            "smithy.api#documentation": "<p>The event pattern used to filter events sent to the archive.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#ArchiveState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the archive.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.eventbridge#ArchiveStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the archive is in the state.</p>"
          }
        },
        "RetentionDays": {
          "target": "com.amazonaws.eventbridge#RetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to retain events for in the archive.</p>"
          }
        },
        "SizeBytes": {
          "target": "com.amazonaws.eventbridge#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size of the archive in bytes.</p>"
          }
        },
        "EventCount": {
          "target": "com.amazonaws.eventbridge#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of events in the archive.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the archive was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeEventBus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeEventBusRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeEventBusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays details about an event bus in your account. This can include the external\n            AWS accounts that are permitted to write events to your default event bus, and the\n            associated policy. For custom event buses and partner event buses, it displays the name,\n            ARN, policy, state, and creation time.</p>\n        <p> To enable your account to receive events from other accounts on its default event\n            bus, use <a>PutPermission</a>.</p>\n        <p>For more information about partner event buses, see <a>CreateEventBus</a>.</p>"
      }
    },
    "com.amazonaws.eventbridge#DescribeEventBusRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the event bus to show details for. If you omit this, the default event bus\n            is displayed.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeEventBusResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event bus. Currently, this is always\n            <code>default</code>.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the account permitted to write events to the\n            current account.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The policy that enables the external account to send events to your\n            account.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeEventSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeEventSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation lists details about a partner event source that is shared with your\n            account.</p>"
      }
    },
    "com.amazonaws.eventbridge#DescribeEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source to display the details of.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeEventSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the partner event source.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SaaS partner that created the event source.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event source was created.</p>"
          }
        },
        "ExpirationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event source will expire if you do not create a matching\n            event bus.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#EventSourceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the event source. If it is ACTIVE, you have already created a matching\n            event bus for this event source, and that event bus is active. If it is PENDING, either\n            you haven't yet created a matching event bus, or that event bus is deactivated. If it is\n            DELETED, you have created a matching event bus, but the event source has since been\n            deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribePartnerEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DescribePartnerEventSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribePartnerEventSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>An SaaS partner can use this operation to list details about a partner event source\n            that they have created. AWS customers do not use this operation. Instead, AWS customers\n            can use <a>DescribeEventSource</a> to see details about a partner event\n            source that is shared with them.</p>"
      }
    },
    "com.amazonaws.eventbridge#DescribePartnerEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event source to display.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribePartnerEventSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event source.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event source.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeReplay": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeReplayRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeReplayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details about a replay. Use <code>DescribeReplay</code> to determine the\n            progress of a running replay. A replay processes events to replay based on\n            the time in the event, and replays them using 1 minute intervals. If you use <code>StartReplay</code> and specify an\n            <code>EventStartTime</code> and an <code>EventEndTime</code> that covers a 20 minute\n            time range, the events are replayed from the first minute of that 20 minute range first.\n            Then the events from the second minute are replayed. You can use\n            <code>DescribeReplay</code> to determine the progress of a replay. The value\n            returned for <code>EventLastReplayedTime</code> indicates the time within the specified\n            time range associated with the last event replayed.</p>"
      }
    },
    "com.amazonaws.eventbridge#DescribeReplayRequest": {
      "type": "structure",
      "members": {
        "ReplayName": {
          "target": "com.amazonaws.eventbridge#ReplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the replay to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeReplayResponse": {
      "type": "structure",
      "members": {
        "ReplayName": {
          "target": "com.amazonaws.eventbridge#ReplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the replay.</p>"
          }
        },
        "ReplayArn": {
          "target": "com.amazonaws.eventbridge#ReplayArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the replay.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.eventbridge#ReplayDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the replay.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#ReplayState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the replay.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.eventbridge#ReplayStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the replay is in the current state.</p>"
          }
        },
        "EventSourceArn": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the archive events were replayed from.</p>"
          }
        },
        "Destination": {
          "target": "com.amazonaws.eventbridge#ReplayDestination",
          "traits": {
            "smithy.api#documentation": "<p>A <code>ReplayDestination</code> object that contains details about the replay.</p>"
          }
        },
        "EventStartTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of the first event that was last replayed from the archive.</p>"
          }
        },
        "EventEndTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp for the last event that was replayed from the archive.</p>"
          }
        },
        "EventLastReplayedTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the event was last replayed.</p>"
          }
        },
        "ReplayStartTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp for the time that the replay started.</p>"
          }
        },
        "ReplayEndTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp for the time that the replay stopped.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified rule.</p>\n        <p>DescribeRule does not list the targets of a rule. To see the targets associated\n            with a rule, use <a>ListTargetsByRule</a>.</p>"
      }
    },
    "com.amazonaws.eventbridge#DescribeRuleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the event bus associated with the rule. If you omit this, the default event bus is\n            used.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeRuleResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.eventbridge#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>"
          }
        },
        "EventPattern": {
          "target": "com.amazonaws.eventbridge#EventPattern",
          "traits": {
            "smithy.api#documentation": "<p>The event pattern. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-and-event-patterns.html\">Events and\n                Event Patterns</a> in the <i>Amazon EventBridge User\n            Guide</i>.</p>"
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.eventbridge#ScheduleExpression",
          "traits": {
            "smithy.api#documentation": "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5\n            minutes)\".</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#RuleState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the rule is enabled or disabled.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.eventbridge#RuleDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the rule.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.eventbridge#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>"
          }
        },
        "ManagedBy": {
          "target": "com.amazonaws.eventbridge#ManagedBy",
          "traits": {
            "smithy.api#documentation": "<p>If this is a managed rule, created by an AWS service on your behalf, this field\n            displays the principal name of the AWS service that created the rule.</p>"
          }
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event bus associated with the rule.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.eventbridge#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the user that created the rule. If you use <code>PutRule</code> \n            to put a rule on an event bus in another account, the other account is the owner of the rule, and the rule ARN includes the account ID for that account.  \n            However, the value for <code>CreatedBy</code> is the account ID as the account that created the rule in the other account.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DisableRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DisableRuleRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ManagedRuleException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified rule. A disabled rule won't match any events, and won't\n            self-trigger if it has a schedule expression.</p>\n\n        <p>When you disable a rule, incoming events might continue to match to the disabled\n            rule. Allow a short period of time for changes to take effect.</p>"
      }
    },
    "com.amazonaws.eventbridge#DisableRuleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the event bus associated with the rule. If you omit this, the default event bus is\n            used.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#EcsParameters": {
      "type": "structure",
      "members": {
        "TaskDefinitionArn": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the task definition to use if the event target is an Amazon ECS task.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "TaskCount": {
          "target": "com.amazonaws.eventbridge#LimitMin1",
          "traits": {
            "smithy.api#documentation": "<p>The number of tasks to create based on <code>TaskDefinition</code>. The default is\n            1.</p>"
          }
        },
        "LaunchType": {
          "target": "com.amazonaws.eventbridge#LaunchType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the launch type on which your task is running. The launch type that you\n            specify here must match one of the launch type (compatibilities) of the target task. The\n                <code>FARGATE</code> value is supported only in the Regions where AWS Fargate with\n            Amazon ECS is supported. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/AWS-Fargate.html\">AWS Fargate on Amazon\n                ECS</a> in the <i>Amazon Elastic Container Service Developer\n                Guide</i>.</p>"
          }
        },
        "NetworkConfiguration": {
          "target": "com.amazonaws.eventbridge#NetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Use this structure if the ECS task uses the <code>awsvpc</code> network mode. This\n            structure specifies the VPC subnets and security groups associated with the task, and\n            whether a public IP address is to be used. This structure is required if\n                <code>LaunchType</code> is <code>FARGATE</code> because the <code>awsvpc</code> mode\n            is required for Fargate tasks.</p>\n        <p>If you specify <code>NetworkConfiguration</code> when the target ECS task does not use\n            the <code>awsvpc</code> network mode, the task fails.</p>"
          }
        },
        "PlatformVersion": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the platform version for the task. Specify only the numeric portion of the\n            platform version, such as <code>1.1.0</code>.</p>\n        <p>This structure is used only if <code>LaunchType</code> is <code>FARGATE</code>. For\n            more information about valid platform versions, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/platform_versions.html\">AWS Fargate Platform\n                Versions</a> in the <i>Amazon Elastic Container Service Developer\n                Guide</i>.</p>"
          }
        },
        "Group": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an ECS task group for the task. The maximum length is 255 characters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The custom parameters to be used when the target is an Amazon ECS task.</p>"
      }
    },
    "com.amazonaws.eventbridge#EnableRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#EnableRuleRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ManagedRuleException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the specified rule. If the rule does not exist, the operation\n            fails.</p>\n\n        <p>When you enable a rule, incoming events might not immediately start matching to a\n            newly enabled rule. Allow a short period of time for changes to take effect.</p>"
      }
    },
    "com.amazonaws.eventbridge#EnableRuleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the event bus associated with the rule. If you omit this, the default event bus is\n            used.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventBus": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event bus.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event bus.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The permissions policy of the event bus, describing which other AWS accounts can write\n            events to this event bus.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An event bus receives events from a source and routes them to rules associated with\n            that event bus. Your account's default event bus receives rules from AWS services. A\n            custom event bus can receive rules from AWS services as well as your custom applications\n            and services. A partner event bus receives events from an event source created by an\n            SaaS partner. These events come from the partners services or applications.</p>"
      }
    },
    "com.amazonaws.eventbridge#EventBusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#EventBus"
      }
    },
    "com.amazonaws.eventbridge#EventBusName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[/\\.\\-_A-Za-z0-9]+"
      }
    },
    "com.amazonaws.eventbridge#EventBusNameOrArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "(arn:aws[\\w-]*:events:[a-z]{2}-[a-z]+-[\\w-]+:[0-9]{12}:event-bus\\/)?[/\\.\\-_A-Za-z0-9]+"
      }
    },
    "com.amazonaws.eventbridge#EventId": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventPattern": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventResource": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventResourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#EventResource"
      }
    },
    "com.amazonaws.eventbridge#EventSource": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event source.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner that created the event source.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the event source was created.</p>"
          }
        },
        "ExpirationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event source will expire, if the AWS account doesn't create\n            a matching event bus for it.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event source.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#EventSourceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the event source. If it is ACTIVE, you have already created a matching\n            event bus for this event source, and that event bus is active. If it is PENDING, either\n            you haven't yet created a matching event bus, or that event bus is deactivated. If it is\n            DELETED, you have created a matching event bus, but the event source has since been\n            deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A partner event source is created by an SaaS partner. If a customer creates a partner\n            event bus that matches this event source, that AWS account can receive events from the\n            partner's applications or services.</p>"
      }
    },
    "com.amazonaws.eventbridge#EventSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#EventSource"
      }
    },
    "com.amazonaws.eventbridge#EventSourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "aws\\.partner(/[\\.\\-_A-Za-z0-9]+){2,}"
      }
    },
    "com.amazonaws.eventbridge#EventSourceNamePrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[/\\.\\-_A-Za-z0-9]+"
      }
    },
    "com.amazonaws.eventbridge#EventSourceState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.eventbridge#EventTime": {
      "type": "timestamp"
    },
    "com.amazonaws.eventbridge#HeaderKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^[!#$%&'*+-.^_`|~0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.eventbridge#HeaderParametersMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.eventbridge#HeaderKey"
      },
      "value": {
        "target": "com.amazonaws.eventbridge#HeaderValue"
      }
    },
    "com.amazonaws.eventbridge#HeaderValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^[ \\t]*[\\x20-\\x7E]+([ \\t]+[\\x20-\\x7E]+)*[ \\t]*$"
      }
    },
    "com.amazonaws.eventbridge#HttpParameters": {
      "type": "structure",
      "members": {
        "PathParameterValues": {
          "target": "com.amazonaws.eventbridge#PathParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The path parameter values to be used to populate API Gateway REST API path wildcards\n            (\"*\").</p>"
          }
        },
        "HeaderParameters": {
          "target": "com.amazonaws.eventbridge#HeaderParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>The headers that need to be sent as part of request invoking the API Gateway REST\n            API.</p>"
          }
        },
        "QueryStringParameters": {
          "target": "com.amazonaws.eventbridge#QueryStringParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>The query string keys/values that need to be sent as part of request invoking the API\n            Gateway REST API.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These are custom parameter to be used when the target is an API Gateway REST\n            APIs.</p>"
      }
    },
    "com.amazonaws.eventbridge#IllegalStatusException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred because a replay can be canceled only when the state is Running or\n            Starting.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#InputTransformer": {
      "type": "structure",
      "members": {
        "InputPathsMap": {
          "target": "com.amazonaws.eventbridge#TransformerPaths",
          "traits": {
            "smithy.api#documentation": "<p>Map of JSON paths to be extracted from the event. You can then insert these in the\n            template in <code>InputTemplate</code> to produce the output you want to be sent to the\n            target.</p>\n        <p>\n            <code>InputPathsMap</code> is an array key-value pairs, where each value is a valid\n            JSON path. You can have as many as 10 key-value pairs. You must use JSON dot notation,\n            not bracket notation.</p>\n        <p>The keys cannot start with \"AWS.\" </p>"
          }
        },
        "InputTemplate": {
          "target": "com.amazonaws.eventbridge#TransformerInput",
          "traits": {
            "smithy.api#documentation": "<p>Input template where you specify placeholders that will be filled with the values\n            of the keys from <code>InputPathsMap</code> to customize the data sent to the target.\n            Enclose each <code>InputPathsMaps</code> value in brackets:\n                <<i>value</i>> The InputTemplate must be valid JSON.</p>\n\n        <p>If <code>InputTemplate</code> is a JSON object (surrounded by curly braces), the\n            following restrictions apply:</p>\n        <ul>\n            <li>\n                <p>The placeholder cannot be used as an object key.</p>\n            </li>\n            <li>\n                <p>Object values cannot include quote marks.</p>\n            </li>\n         </ul>\n        <p>The following example shows the syntax for using <code>InputPathsMap</code> and\n                <code>InputTemplate</code>.</p>\n        <p>\n            <code> \"InputTransformer\":</code>\n         </p>\n        <p>\n            <code>{</code>\n         </p>\n        <p>\n            <code>\"InputPathsMap\": {\"instance\": \"$.detail.instance\",\"status\":\n                \"$.detail.status\"},</code>\n         </p>\n        <p>\n            <code>\"InputTemplate\": \"<instance> is in state\n            <status>\"</code>\n         </p>\n        <p>\n            <code>}</code>\n         </p>\n        <p>To have the <code>InputTemplate</code> include quote marks within a JSON string,\n            escape each quote marks with a slash, as in the following example:</p>\n        <p>\n            <code> \"InputTransformer\":</code>\n         </p>\n        <p>\n            <code>{</code>\n         </p>\n        <p>\n            <code>\"InputPathsMap\": {\"instance\": \"$.detail.instance\",\"status\":\n                \"$.detail.status\"},</code>\n         </p>\n        <p>\n            <code>\"InputTemplate\": \"<instance> is in state\n            \\\"<status>\\\"\"</code>\n         </p>\n        <p>\n            <code>}</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters needed for you to provide custom input to a target based on\n            one or more pieces of data extracted from the event.</p>"
      }
    },
    "com.amazonaws.eventbridge#InputTransformerPathKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[A-Za-z0-9\\_\\-]+"
      }
    },
    "com.amazonaws.eventbridge#Integer": {
      "type": "integer"
    },
    "com.amazonaws.eventbridge#InternalException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception occurs due to unexpected causes.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.eventbridge#InvalidEventPatternException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The event pattern is not valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#InvalidStateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified state is not a valid state for an event source.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#KinesisParameters": {
      "type": "structure",
      "members": {
        "PartitionKeyPath": {
          "target": "com.amazonaws.eventbridge#TargetPartitionKeyPath",
          "traits": {
            "smithy.api#documentation": "<p>The JSON path to be extracted from the event and used as the partition key. For\n            more information, see <a href=\"https://docs.aws.amazon.com/streams/latest/dev/key-concepts.html#partition-key\">Amazon Kinesis Streams Key\n                Concepts</a> in the <i>Amazon Kinesis Streams Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This object enables you to specify a JSON path to extract from the event and use as\n            the partition key for the Amazon Kinesis data stream, so that you can control the shard\n            to which the event goes. If you do not include this parameter, the default is to use the\n                <code>eventId</code> as the partition key.</p>"
      }
    },
    "com.amazonaws.eventbridge#LaunchType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EC2",
            "name": "EC2"
          },
          {
            "value": "FARGATE",
            "name": "FARGATE"
          }
        ]
      }
    },
    "com.amazonaws.eventbridge#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because it attempted to create resource beyond the allowed service\n            quota.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#LimitMax100": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.eventbridge#LimitMin1": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.eventbridge#ListArchives": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListArchivesRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListArchivesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists your archives. You can either list all the archives or you can provide a prefix\n            to match to the archive names. Filter parameters are exclusive.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListArchivesRequest": {
      "type": "structure",
      "members": {
        "NamePrefix": {
          "target": "com.amazonaws.eventbridge#ArchiveName",
          "traits": {
            "smithy.api#documentation": "<p>A name prefix to filter the archives returned. Only archives with name that match the\n            prefix are returned.</p>"
          }
        },
        "EventSourceArn": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event source associated with the archive.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#ArchiveState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the archive.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListArchivesResponse": {
      "type": "structure",
      "members": {
        "Archives": {
          "target": "com.amazonaws.eventbridge#ArchiveResponseList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>Archive</code> objects that include details about an archive.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListEventBuses": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListEventBusesRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListEventBusesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the event buses in your account, including the default event bus, custom\n            event buses, and partner event buses.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListEventBusesRequest": {
      "type": "structure",
      "members": {
        "NamePrefix": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only those event buses with names that start\n            with the specified prefix.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the number of results returned by this operation. The operation\n            also returns a NextToken which you can use in a subsequent operation to retrieve the\n            next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListEventBusesResponse": {
      "type": "structure",
      "members": {
        "EventBuses": {
          "target": "com.amazonaws.eventbridge#EventBusList",
          "traits": {
            "smithy.api#documentation": "<p>This list of event buses.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of\n            results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListEventSources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListEventSourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListEventSourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You can use this to see all the partner event sources that have been shared with your\n            AWS account. For more information about partner event sources, see <a>CreateEventBus</a>.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListEventSourcesRequest": {
      "type": "structure",
      "members": {
        "NamePrefix": {
          "target": "com.amazonaws.eventbridge#EventSourceNamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only those partner event sources with names that\n            start with the specified prefix.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the number of results returned by this operation. The operation\n            also returns a NextToken which you can use in a subsequent operation to retrieve the\n            next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListEventSourcesResponse": {
      "type": "structure",
      "members": {
        "EventSources": {
          "target": "com.amazonaws.eventbridge#EventSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of event sources.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of\n            results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSourceAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListPartnerEventSourceAccountsRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListPartnerEventSourceAccountsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>An SaaS partner can use this operation to display the AWS account ID that a particular\n            partner event source name is associated with. This operation is not used by AWS\n            customers.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSourceAccountsRequest": {
      "type": "structure",
      "members": {
        "EventSourceName": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source to display account information about.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to this operation. Specifying this retrieves the\n            next set of results.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the number of results returned by this operation. The operation\n            also returns a NextToken which you can use in a subsequent operation to retrieve the\n            next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSourceAccountsResponse": {
      "type": "structure",
      "members": {
        "PartnerEventSourceAccounts": {
          "target": "com.amazonaws.eventbridge#PartnerEventSourceAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of partner event sources returned by the operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of\n            results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListPartnerEventSourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListPartnerEventSourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#OperationDisabledException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>An SaaS partner can use this operation to list all the partner event source names that\n            they have created. This operation is not used by AWS customers.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSourcesRequest": {
      "type": "structure",
      "members": {
        "NamePrefix": {
          "target": "com.amazonaws.eventbridge#PartnerEventSourceNamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>If you specify this, the results are limited to only those partner event sources that\n            start with the string you specify.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to this operation. Specifying this retrieves the\n            next set of results.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>pecifying this limits the number of results returned by this operation. The operation\n            also returns a NextToken which you can use in a subsequent operation to retrieve the\n            next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSourcesResponse": {
      "type": "structure",
      "members": {
        "PartnerEventSources": {
          "target": "com.amazonaws.eventbridge#PartnerEventSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of partner event sources returned by the operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of\n            results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListReplays": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListReplaysRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListReplaysResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists your replays. You can either list all the replays or you can provide a prefix to\n            match to the replay names. Filter parameters are exclusive.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListReplaysRequest": {
      "type": "structure",
      "members": {
        "NamePrefix": {
          "target": "com.amazonaws.eventbridge#ReplayName",
          "traits": {
            "smithy.api#documentation": "<p>A name prefix to filter the replays returned. Only replays with name that match the\n            prefix are returned.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#ReplayState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the replay.</p>"
          }
        },
        "EventSourceArn": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event source associated with the replay.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of replays to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListReplaysResponse": {
      "type": "structure",
      "members": {
        "Replays": {
          "target": "com.amazonaws.eventbridge#ReplayList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>Replay</code> objects that contain information about the\n            replay.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListRuleNamesByTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListRuleNamesByTargetRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListRuleNamesByTargetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the rules for the specified target. You can see which of the rules in Amazon\n            EventBridge can invoke a specific target in your account.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListRuleNamesByTargetRequest": {
      "type": "structure",
      "members": {
        "TargetArn": {
          "target": "com.amazonaws.eventbridge#TargetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target resource.</p>",
            "smithy.api#required": {}
          }
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the event bus to list rules for. If you omit this, the default event bus is\n            used.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of\n            results.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
[...]
