{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.eventbridge#AWSEvents": {
      "type": "service",
      "version": "2015-10-07",
      "operations": [
        {
          "target": "com.amazonaws.eventbridge#ActivateEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#CreateEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#CreatePartnerEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DeactivateEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#DeletePartnerEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DeleteRule"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeEventBus"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribePartnerEventSource"
        },
        {
          "target": "com.amazonaws.eventbridge#DescribeRule"
        },
        {
          "target": "com.amazonaws.eventbridge#DisableRule"
        },
        {
          "target": "com.amazonaws.eventbridge#EnableRule"
        },
        {
          "target": "com.amazonaws.eventbridge#ListEventBuses"
        },
        {
          "target": "com.amazonaws.eventbridge#ListEventSources"
        },
        {
          "target": "com.amazonaws.eventbridge#ListPartnerEventSourceAccounts"
        },
        {
          "target": "com.amazonaws.eventbridge#ListPartnerEventSources"
        },
        {
          "target": "com.amazonaws.eventbridge#ListRuleNamesByTarget"
        },
        {
          "target": "com.amazonaws.eventbridge#ListRules"
        },
        {
          "target": "com.amazonaws.eventbridge#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.eventbridge#ListTargetsByRule"
        },
        {
          "target": "com.amazonaws.eventbridge#PutEvents"
        },
        {
          "target": "com.amazonaws.eventbridge#PutPartnerEvents"
        },
        {
          "target": "com.amazonaws.eventbridge#PutPermission"
        },
        {
          "target": "com.amazonaws.eventbridge#PutRule"
        },
        {
          "target": "com.amazonaws.eventbridge#PutTargets"
        },
        {
          "target": "com.amazonaws.eventbridge#RemovePermission"
        },
        {
          "target": "com.amazonaws.eventbridge#RemoveTargets"
        },
        {
          "target": "com.amazonaws.eventbridge#TagResource"
        },
        {
          "target": "com.amazonaws.eventbridge#TestEventPattern"
        },
        {
          "target": "com.amazonaws.eventbridge#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "EventBridge",
          "arnNamespace": "events",
          "cloudFormationName": "Events",
          "cloudTrailEventSource": "v20151007.jetstream.amazon.com"
        },
        "aws.auth#sigv4": {
          "name": "events"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon EventBridge helps you to respond to state changes in your AWS\n            resources. When your resources change state, they automatically send events into an\n            event stream. You can create rules that match selected events in the stream and route\n            them to targets to take action. You can also use rules to take action on a predetermined\n            schedule. For example, you can configure rules to:</p>\n        <ul>\n            <li>\n               <p>Automatically invoke an AWS Lambda function to update DNS entries when an event notifies\n                    you that Amazon EC2 instance enters the running state</p>\n            </li>\n            <li>\n               <p>Direct specific API records from AWS CloudTrail to an Amazon Kinesis data stream for\n                    detailed analysis of potential security or availability risks</p>\n            </li>\n            <li>\n               <p>Periodically invoke a built-in target to create a snapshot of an Amazon EBS\n                    volume</p>\n            </li>\n         </ul>\n        <p>For more information about the features of Amazon EventBridge, see the \n            <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/\">Amazon EventBridge User Guide</a>.</p>",
        "smithy.api#title": "Amazon EventBridge",
        "smithy.api#xmlNamespace": {
          "uri": "http://events.amazonaws.com/doc/2015-10-07"
        }
      }
    },
    "com.amazonaws.eventbridge#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "\\d{12}"
      }
    },
    "com.amazonaws.eventbridge#Action": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "events:[a-zA-Z]+"
      }
    },
    "com.amazonaws.eventbridge#ActivateEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ActivateEventSourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidStateException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates a partner event source that has been deactivated. Once activated, your matching event bus will start receiving events\n        from the event source.</p>\n        <note>\n            <p>This operation is performed by AWS customers, not by SaaS partners.</p>\n         </note>"
      }
    },
    "com.amazonaws.eventbridge#ActivateEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source to activate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        }
      }
    },
    "com.amazonaws.eventbridge#AssignPublicIp": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.eventbridge#AwsVpcConfiguration": {
      "type": "structure",
      "members": {
        "AssignPublicIp": {
          "target": "com.amazonaws.eventbridge#AssignPublicIp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the task's elastic network interface receives a public IP address. You can specify <code>ENABLED</code> only when\n        <code>LaunchType</code> in <code>EcsParameters</code> is set to <code>FARGATE</code>.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.eventbridge#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the security groups associated with the task. These security groups must all\n            be in the same VPC. You can specify as many as five security groups. If you don't\n            specify a security group, the default security group for the VPC is used.</p>"
          }
        },
        "Subnets": {
          "target": "com.amazonaws.eventbridge#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the subnets associated with the task. These subnets must all be in the same\n            VPC. You can specify as many as 16 subnets.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure specifies the VPC subnets and security groups for the task and whether\n            a public IP address is to be used. This structure is relevant only for ECS tasks that\n            use the <code>awsvpc</code> network mode.</p>"
      }
    },
    "com.amazonaws.eventbridge#BatchArrayProperties": {
      "type": "structure",
      "members": {
        "Size": {
          "target": "com.amazonaws.eventbridge#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array, if this is an array batch job. Valid values are\n            integers between 2 and 10,000.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The array properties for the submitted job, such as the size of the \n            array. The array size can be between 2 and 10,000. If you specify array properties for a job, it becomes an array job. This\n            parameter is used only if the target is an AWS Batch job.</p>"
      }
    },
    "com.amazonaws.eventbridge#BatchParameters": {
      "type": "structure",
      "members": {
        "ArrayProperties": {
          "target": "com.amazonaws.eventbridge#BatchArrayProperties",
          "traits": {
            "smithy.api#documentation": "<p>The array properties for the submitted job, such as the size of the \n            array. The array size can be between 2 and 10,000. If you specify array properties for a job, it becomes an array job. This\n        parameter is used only if the target is an AWS Batch job.</p>"
          }
        },
        "JobDefinition": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the job definition to use if the event target is an AWS Batch job. This job definition must already exist.</p>",
            "smithy.api#required": {}
          }
        },
        "JobName": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for this execution of the job, if the target is an AWS Batch job.</p>",
            "smithy.api#required": {}
          }
        },
        "RetryStrategy": {
          "target": "com.amazonaws.eventbridge#BatchRetryStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The retry strategy to use for failed jobs if the target is an AWS Batch job. The\n            retry strategy is the number of times to retry the failed job execution. Valid values\n            are 1–10. When you specify a retry strategy here, it overrides the retry strategy\n            defined in the job definition.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The custom parameters to be used when the target is an AWS Batch job.</p>"
      }
    },
    "com.amazonaws.eventbridge#BatchRetryStrategy": {
      "type": "structure",
      "members": {
        "Attempts": {
          "target": "com.amazonaws.eventbridge#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of times to attempt to retry, if the job fails. Valid values are\n            1–10.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The retry strategy to use for failed jobs if the target is an AWS Batch job. If you\n            specify a retry strategy here, it overrides the retry strategy defined in the job\n            definition.</p>"
      }
    },
    "com.amazonaws.eventbridge#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.eventbridge#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is concurrent modification on a resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#Condition": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The key for the condition. Currently, the only supported key is\n                <code>aws:PrincipalOrgID</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of condition. Currently, the only supported value is\n                <code>StringEquals</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The value for the key. Currently, this must be the ID of the organization.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON string that you can use to limit the event bus permissions that you're granting\n            to only accounts that fulfill the condition. Currently, the only supported condition is\n            membership in a certain AWS organization. The string must contain <code>Type</code>,\n                <code>Key</code>, and <code>Value</code> fields. The <code>Value</code> field\n            specifies the ID of the AWS organization. The following is an example value for\n                <code>Condition</code>:</p>\n        <p>\n            <code>'{\"Type\" : \"StringEquals\", \"Key\": \"aws:PrincipalOrgID\", \"Value\": \"o-1234567890\"}'</code>\n         </p>"
      }
    },
    "com.amazonaws.eventbridge#CreateEventBus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#CreateEventBusRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#CreateEventBusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidStateException"
        },
        {
          "target": "com.amazonaws.eventbridge#LimitExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new event bus within your account. This can be a custom event bus which you can use to receive events from your \n        own custom applications and services, or it can be a partner event bus which can be matched to a partner event source.</p>\n        <note>\n            <p>This operation is used by AWS customers, not by SaaS partners.</p>\n         </note>"
      }
    },
    "com.amazonaws.eventbridge#CreateEventBusRequest": {
      "type": "structure",
      "members": {
        "EventSourceName": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>If you're creating a partner event bus, this specifies the partner event source that\n            the new event bus will be matched with.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new event bus. </p>\n        <p>The names of custom event buses can't contain the <code>/</code> character. You can't use the name\n                <code>default</code> for a custom event bus because this name is already used for\n            your account's default event bus.</p>\n        <p>If this is a partner event bus, the name must exactly match the name of the partner event source that this event bus\n            is matched to. This name will include the <code>/</code> character.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#CreateEventBusResponse": {
      "type": "structure",
      "members": {
        "EventBusArn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new event bus.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#CreatePartnerEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#CreatePartnerEventSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#CreatePartnerEventSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#LimitExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Called by an SaaS partner to create a partner event source.</p>\n        <note>\n            <p>This operation is not used by AWS customers.</p>\n         </note>\n\n        <p>Each partner event source can be used by one AWS account to create a matching\n            partner event bus in that AWS account. A SaaS partner must create one partner event source for each AWS account that wants to receive those event types. </p>\n        <p>A partner event source creates events based on resources in the SaaS partner's service\n            or application.</p>\n        <p>An AWS account that creates a partner event bus that matches the partner event source\n            can use that event bus to receive events from the partner, and then process them using\n            AWS\n            Events rules and targets.</p>\n        <p>Partner event source names follow this format:</p>\n\n        <p>\n            <code>aws.partner/<i>partner_name</i>/<i>event_namespace</i>/<i>event_name</i>\n            </code>\n         </p>\n        <ul>\n            <li>\n               <p>\n                  <i>partner_name</i> is determined during partner registration and identifies the partner to AWS customers.</p>\n            </li>\n            <li>\n               <p>For <i>event_namespace</i>, we recommend that partners use a string that identifies the AWS customer within the partner's system. This should not\n                be the customer's AWS account ID.</p>\n            </li>\n            <li>\n               <p>\n                  <i>event_name</i> is determined by the partner, and should uniquely identify an event-generating resource within the partner\n                system. This should help AWS customers\n                decide whether to create an event bus to receive these events.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.eventbridge#CreatePartnerEventSourceRequest": {
      "type": "structure",
      "members": {
        "Account": {
          "target": "com.amazonaws.eventbridge#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the customer who is permitted to create a matching partner event bus for this partner event source.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source. This name must be unique and must be in the format \n            <code>\n               <i>partner_name</i>/<i>event_namespace</i>/<i>event_name</i>\n            </code>.\n            The AWS account that wants to use this partner event source\n        must create a partner event bus with a name that matches the name of the partner event source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#CreatePartnerEventSourceResponse": {
      "type": "structure",
      "members": {
        "EventSourceArn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the partner event source.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DeactivateEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DeactivateEventSourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidStateException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>An AWS customer uses this operation to temporarily stop receiving events from the\n            specified partner event source. The matching event bus isn't deleted. </p>\n        <p>When you deactivate a partner event source, the source goes into <code>PENDING</code>\n            state. If it remains in <code>PENDING</code> state for more than two weeks, it's\n            deleted.</p>\n        <p>To activate a deactivated partner event source, use <a>ActivateEventSource</a>.</p>"
      }
    },
    "com.amazonaws.eventbridge#DeactivateEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source to deactivate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DeleteEventBus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DeleteEventBusRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified custom event bus or partner event bus. All rules associated with this event bus are also deleted. You can't delete your \n        account's default event bus.</p>\n        <note>\n            <p>This operation is performed by AWS customers, not by SaaS partners.</p>\n         </note>"
      }
    },
    "com.amazonaws.eventbridge#DeleteEventBusRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event bus to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DeletePartnerEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DeletePartnerEventSourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation is used by SaaS partners to delete a partner event source. AWS\n            customers don't use this operation.</p>\n        <p>When you delete an event source, the status of the corresponding partner event bus in\n            the AWS customer account becomes <code>DELETED</code>.</p>"
      }
    },
    "com.amazonaws.eventbridge#DeletePartnerEventSourceRequest": {
      "type": "structure",
      "members": {
        "Account": {
          "target": "com.amazonaws.eventbridge#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the AWS customer that the event source was created for.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event source to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DeleteRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DeleteRuleRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ManagedRuleException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified rule.</p> \n        <p>Before you can delete the rule, you must remove all targets, using <a>RemoveTargets</a>.</p>\n        \n        <p>When you delete a rule, incoming events might continue to match to the deleted\n            rule. Allow a short period of time for changes to take effect.</p>\n        \n        <p>Managed rules are rules created and managed by another AWS service on your behalf.\n            These rules are created by those other AWS services to support functionality in those\n            services. You can delete these rules using the <code>Force</code> option, but you should\n            do so only if you're sure that the other service isn't still using that rule.</p>"
      }
    },
    "com.amazonaws.eventbridge#DeleteRuleRequest": {
      "type": "structure",
      "members": {
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>"
          }
        },
        "Force": {
          "target": "com.amazonaws.eventbridge#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If this is a managed rule, created by an AWS service on your behalf, you must specify <code>Force</code>\n        as <code>True</code> to delete the rule. This parameter is ignored for rules that are not managed rules. You can check \n        whether a rule is a managed rule by using <code>DescribeRule</code> or <code>ListRules</code> and checking the \n        <code>ManagedBy</code> field of the response.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeEventBus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeEventBusRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeEventBusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays details about an event bus in your account. This can include the external AWS accounts that are permitted to write events to your \n            default event bus, and the associated policy. For custom event buses and partner event buses, it displays the name, ARN, policy, state, and creation time.</p>\n        <p>\n            To enable your account to \n            receive events from other accounts on its default event bus, use <a>PutPermission</a>.</p>\n        <p>For more information about partner event buses, see <a>CreateEventBus</a>.</p>"
      }
    },
    "com.amazonaws.eventbridge#DescribeEventBusRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event bus to show details for. If you omit this, the default event bus is displayed.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeEventBusResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event bus. Currently, this is always <code>default</code>.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The policy that enables the external account to send events to your account.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeEventSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeEventSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation lists details about a partner event source that is shared \n            with your account.</p>\n        <note>\n            <p>This operation is run by AWS customers, not by SaaS partners.</p>\n         </note>"
      }
    },
    "com.amazonaws.eventbridge#DescribeEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source to display the details of.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeEventSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the partner event source.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SaaS partner that created the event source.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event source was created.</p>"
          }
        },
        "ExpirationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event source will expire if you don't create a matching\n            event bus.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#EventSourceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the event source. If it's <code>ACTIVE</code>, you have already created a\n            matching event bus for this event source, and that event bus is active. If it's\n                <code>PENDING</code>, either you haven't yet created a matching event bus, or that\n            event bus is deactivated. If it's <code>DELETED</code>, you have created a matching\n            event bus, but the event source has since been deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribePartnerEventSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DescribePartnerEventSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribePartnerEventSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>An SaaS partner can use this operation to list details about a partner event source that they have created.</p>\n        <note>\n            <p>AWS customers do not use this operation.\n            Instead, AWS customers can use <a>DescribeEventSource</a> to see details about a partner event source that is shared with them.</p>\n         </note>"
      }
    },
    "com.amazonaws.eventbridge#DescribePartnerEventSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event source to display.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribePartnerEventSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event source.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event source.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DescribeRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#DescribeRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified rule.</p>\n        <p>\n            <code>DescribeRule</code> doesn't list the targets of a rule. To see the targets\n            associated with a rule, use <a>ListTargetsByRule</a>.</p>"
      }
    },
    "com.amazonaws.eventbridge#DescribeRuleRequest": {
      "type": "structure",
      "members": {
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DescribeRuleResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.eventbridge#RuleDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the rule.</p>"
          }
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The event bus associated with the rule.</p>"
          }
        },
        "EventPattern": {
          "target": "com.amazonaws.eventbridge#EventPattern",
          "traits": {
            "smithy.api#documentation": "<p>The event pattern. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-and-event-patterns.html\">Event Patterns</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
          }
        },
        "ManagedBy": {
          "target": "com.amazonaws.eventbridge#ManagedBy",
          "traits": {
            "smithy.api#documentation": "<p>If this is a managed rule, created by an AWS service on your behalf, this field\n            displays the principal name of the AWS service that created the rule.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.eventbridge#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>"
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.eventbridge#ScheduleExpression",
          "traits": {
            "smithy.api#documentation": "<p>The scheduling expression: for example, <code>\"cron(0 20 * * ? *)\"</code> or\n                <code>\"rate(5 minutes)\"</code>.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#RuleState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the rule is enabled or disabled.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#DisableRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#DisableRuleRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ManagedRuleException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified rule. A disabled rule won't match any events and won't\n            self-trigger if it has a schedule expression.</p>\n        \n        <p>When you disable a rule, incoming events might continue to match to the disabled\n            rule. Allow a short period of time for changes to take effect.</p>"
      }
    },
    "com.amazonaws.eventbridge#DisableRuleRequest": {
      "type": "structure",
      "members": {
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#EcsParameters": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an ECS task group for the task. The maximum length is 255 characters.</p>"
          }
        },
        "LaunchType": {
          "target": "com.amazonaws.eventbridge#LaunchType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the launch type on which your task is running. The launch type that you\n            specify here must match one of the launch type (compatibilities) of the target task. The <code>FARGATE</code>\n            value is supported only in the Regions where AWS Fargate with Amazon ECS is supported.\n            For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/AWS-Fargate.html\">AWS Fargate on Amazon\n                ECS</a> in the <i>Amazon Elastic Container Service Developer\n                Guide</i>.</p>"
          }
        },
        "NetworkConfiguration": {
          "target": "com.amazonaws.eventbridge#NetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Use this structure if the ECS task uses the <code>awsvpc</code> network mode. This\n            structure specifies the VPC subnets and security groups associated with the task and\n            whether a public IP address is to be used. This structure is required if\n                <code>LaunchType</code> is <code>FARGATE</code> because the <code>awsvpc</code> mode\n            is required for Fargate tasks.</p>\n        <p>If you specify <code>NetworkConfiguration</code> when the target ECS task doesn't use\n            the <code>awsvpc</code> network mode, the task fails.</p>"
          }
        },
        "PlatformVersion": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the platform version for the task. Specify only the numeric portion of the\n            platform version, such as <code>1.1.0</code>.</p>\n            <p>This structure is used only if <code>LaunchType</code> is <code>FARGATE</code>.\n            For more information about valid platform versions, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/platform_versions.html\">AWS Fargate Platform\n                Versions</a> in the <i>Amazon Elastic Container Service Developer\n                Guide</i>.</p>"
          }
        },
        "TaskCount": {
          "target": "com.amazonaws.eventbridge#LimitMin1",
          "traits": {
            "smithy.api#documentation": "<p>The number of tasks to create based on <code>TaskDefinition</code>. The default is\n            1.</p>"
          }
        },
        "TaskDefinitionArn": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the task definition to use if the event target is an Amazon ECS task. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The custom parameters to be used when the target is an Amazon ECS task.</p>"
      }
    },
    "com.amazonaws.eventbridge#EnableRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#EnableRuleRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ManagedRuleException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the specified rule. If the rule doesn't exist, the operation\n            fails.</p>\n        \n        <p>When you enable a rule, incoming events might not immediately start matching to a\n            newly enabled rule. Allow a short period of time for changes to take effect.</p>"
      }
    },
    "com.amazonaws.eventbridge#EnableRuleRequest": {
      "type": "structure",
      "members": {
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventBus": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event bus.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event bus.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The permissions policy of the event bus, describing which other AWS accounts can write events to this event bus.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An event bus receives events from a source and routes them to rules associated with that event bus. Your \n            account's default event bus receives rules from AWS services. A custom event bus can receive rules from AWS services\n            as well as your custom applications and services. A partner event bus receives events from an event source created\n            by an SaaS partner. These events come from the partners services or applications.</p>"
      }
    },
    "com.amazonaws.eventbridge#EventBusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#EventBus"
      }
    },
    "com.amazonaws.eventbridge#EventBusName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[/\\.\\-_A-Za-z0-9]+"
      }
    },
    "com.amazonaws.eventbridge#EventId": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventPattern": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventResource": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#EventResourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#EventResource"
      }
    },
    "com.amazonaws.eventbridge#EventSource": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event source.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner that created the event source.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the event source was created.</p>"
          }
        },
        "ExpirationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the event source will expire if the AWS account doesn't\n            create a matching event bus for it.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event source.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#EventSourceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the event source. If it's <code>ACTIVE</code>, you have already\n            created a matching event bus for this event source, and that event bus is active. If\n            it's <code>PENDING</code>, either you haven't yet created a matching event bus, or that\n            event bus is deactivated. If it's <code>DELETED</code>, you have created a matching\n            event bus, but the event source has since been deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A partner event source is created by an SaaS partner. If a customer creates a partner event bus that matches this event source, \n                that AWS account can receive events from the partner's applications or services.</p>"
      }
    },
    "com.amazonaws.eventbridge#EventSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#EventSource"
      }
    },
    "com.amazonaws.eventbridge#EventSourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "aws\\.partner(/[\\.\\-_A-Za-z0-9]+){2,}"
      }
    },
    "com.amazonaws.eventbridge#EventSourceNamePrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[/\\.\\-_A-Za-z0-9]+"
      }
    },
    "com.amazonaws.eventbridge#EventSourceState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.eventbridge#EventTime": {
      "type": "timestamp"
    },
    "com.amazonaws.eventbridge#InputTransformer": {
      "type": "structure",
      "members": {
        "InputPathsMap": {
          "target": "com.amazonaws.eventbridge#TransformerPaths",
          "traits": {
            "smithy.api#documentation": "<p>Map of JSON paths to be extracted from the event. You can then insert these in the\n            template in <code>InputTemplate</code> to produce the output to be sent to the\n            target.</p>\n        <p>\n            <code>InputPathsMap</code> is an array key-value pairs, where each value is a valid JSON path. You can have\n            as many as 10 key-value pairs.\n            You must use JSON dot notation, not bracket notation.</p>\n        <p>The keys can't start with <code>\"AWS\"</code>.</p>"
          }
        },
        "InputTemplate": {
          "target": "com.amazonaws.eventbridge#TransformerInput",
          "traits": {
            "smithy.api#documentation": "<p>Input template where you specify placeholders that will be filled with the values\n            of the keys from <code>InputPathsMap</code> to customize the data sent to the target.\n            Enclose each <code>InputPathsMaps</code> value in brackets:\n                <<i>value</i>>. The InputTemplate must be valid JSON.</p>\n\n        <p>If <code>InputTemplate</code> is a JSON object (surrounded by curly braces), the following restrictions apply:</p>\n        <ul>\n            <li>\n                <p>The placeholder can't be used as an object key</p>\n            </li>\n            <li>\n                <p>Object values can't include quote marks</p>\n            </li>\n         </ul>\n        <p>The following example shows the syntax for using <code>InputPathsMap</code> and <code>InputTemplate</code>.</p>\n        <p>\n            <code> \"InputTransformer\":</code>\n         </p>\n         <p>\n            <code>{</code>\n         </p>\n         <p>\n            <code>\"InputPathsMap\": {\"instance\": \"$.detail.instance\",\"status\": \"$.detail.status\"},</code>\n         </p>\n         <p>\n            <code>\"InputTemplate\": \"<instance> is in state <status>\"</code>\n         </p>\n         <p>\n            <code>}</code>\n         </p>\n        <p>To have the <code>InputTemplate</code> include quote marks within a JSON string, escape each quote marks with a slash, as in the following example:</p>\n        <p>\n            <code> \"InputTransformer\":</code>\n         </p>\n        <p>\n            <code>{</code>\n         </p>\n        <p>\n            <code>\"InputPathsMap\": {\"instance\": \"$.detail.instance\",\"status\": \"$.detail.status\"},</code>\n         </p>\n        <p>\n            <code>\"InputTemplate\": \"<instance> is in state \\\"<status>\\\"\"</code>\n         </p>\n        <p>\n            <code>}</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters needed for you to provide custom input to a target based on one or more pieces of data extracted from the event.</p>"
      }
    },
    "com.amazonaws.eventbridge#InputTransformerPathKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[A-Za-z0-9\\_\\-]+"
      }
    },
    "com.amazonaws.eventbridge#Integer": {
      "type": "integer"
    },
    "com.amazonaws.eventbridge#InternalException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception occurs due to unexpected causes.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.eventbridge#InvalidEventPatternException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The event pattern isn't valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#InvalidStateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified state isn't a valid state for an event source.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#KinesisParameters": {
      "type": "structure",
      "members": {
        "PartitionKeyPath": {
          "target": "com.amazonaws.eventbridge#TargetPartitionKeyPath",
          "traits": {
            "smithy.api#documentation": "<p>The JSON path to be extracted from the event and used as the partition key. For more information, see <a href=\"https://docs.aws.amazon.com/streams/latest/dev/key-concepts.html#partition-key\">Amazon Kinesis Streams Key Concepts</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This object enables you to specify a JSON path to extract from the event and use as\n            the partition key for the Amazon Kinesis data stream so that you can control the shard\n            that the event goes to. If you don't include this parameter, the default is to use the\n                <code>eventId</code> as the partition key.</p>"
      }
    },
    "com.amazonaws.eventbridge#LaunchType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EC2",
            "name": "EC2"
          },
          {
            "value": "FARGATE",
            "name": "FARGATE"
          }
        ]
      }
    },
    "com.amazonaws.eventbridge#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You tried to create more resources than is allowed.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#LimitMax100": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.eventbridge#LimitMin1": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.eventbridge#ListEventBuses": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListEventBusesRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListEventBusesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the event buses in your account, including the default event bus, custom event buses, and partner event buses.</p>\n            <note>\n            <p>This operation is run by AWS customers, not by SaaS partners.</p>\n         </note>"
      }
    },
    "com.amazonaws.eventbridge#ListEventBusesRequest": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the number of results returned by this operation. The\n            operation also returns a <code>NextToken</code> that you can use in a subsequent\n            operation to retrieve the next set of results.</p>"
          }
        },
        "NamePrefix": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only those event buses with names that start\n                with the specified prefix.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListEventBusesResponse": {
      "type": "structure",
      "members": {
        "EventBuses": {
          "target": "com.amazonaws.eventbridge#EventBusList",
          "traits": {
            "smithy.api#documentation": "<p>This list of event buses.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListEventSources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListEventSourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListEventSourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You can use this to see all the partner event sources that have been shared with your AWS account.\n                For more information about partner event sources, see <a>CreateEventBus</a>.</p>\n            <note>\n            <p>This operation is run by AWS customers, not by SaaS partners.</p>\n         </note>"
      }
    },
    "com.amazonaws.eventbridge#ListEventSourcesRequest": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the number of results returned by this operation. The\n            operation also returns a <code>NextToken</code> that you can use in a subsequent\n            operation to retrieve the next set of results.</p>"
          }
        },
        "NamePrefix": {
          "target": "com.amazonaws.eventbridge#EventSourceNamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the results to only those partner event sources with names that start\n            with the specified prefix.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListEventSourcesResponse": {
      "type": "structure",
      "members": {
        "EventSources": {
          "target": "com.amazonaws.eventbridge#EventSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of event sources.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSourceAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListPartnerEventSourceAccountsRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListPartnerEventSourceAccountsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>An SaaS partner can use this operation to display the AWS account ID that a particular partner event source name\n                is associated with.</p>\n            <note>\n            <p>This operation is used by SaaS partners, not by AWS customers.</p>\n         </note>"
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSourceAccountsRequest": {
      "type": "structure",
      "members": {
        "EventSourceName": {
          "target": "com.amazonaws.eventbridge#EventSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source to display account information about.</p>",
            "smithy.api#required": {}
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>Specifying this limits the number of results returned by this operation. The\n            operation also returns a <code>NextToken</code> that you can use in a subsequent\n            operation to retrieve the next set of results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to this operation. Specifying this retrieves the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSourceAccountsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of results.</p>"
          }
        },
        "PartnerEventSourceAccounts": {
          "target": "com.amazonaws.eventbridge#PartnerEventSourceAccountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of partner event sources returned by the operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListPartnerEventSourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListPartnerEventSourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>An SaaS partner can use this operation to list all the partner event source names that they have created.</p>\n                <note>\n            <p>This operation is\n                not used by AWS customers.</p>\n         </note>"
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSourcesRequest": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>pecifying this limits the number of results returned by this operation. The\n            operation also returns a <code>NextToken</code> that you can use in a subsequent\n            operation to retrieve the next set of results.</p>"
          }
        },
        "NamePrefix": {
          "target": "com.amazonaws.eventbridge#PartnerEventSourceNamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>If you specify this, the results are limited to only those partner event sources that start with the \n                string you specify.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to this operation. Specifying this retrieves the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListPartnerEventSourcesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of results.</p>"
          }
        },
        "PartnerEventSources": {
          "target": "com.amazonaws.eventbridge#PartnerEventSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of partner event sources returned by the operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListRuleNamesByTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListRuleNamesByTargetRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListRuleNamesByTargetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the rules for the specified target.\n            You can see which rules can invoke a specific target in your account.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListRuleNamesByTargetRequest": {
      "type": "structure",
      "members": {
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to show only the rules associated with the specified event bus.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        },
        "TargetArn": {
          "target": "com.amazonaws.eventbridge#TargetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the target resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListRuleNamesByTargetResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether there are additional results to retrieve. If there are no more results, the value is null.</p>"
          }
        },
        "RuleNames": {
          "target": "com.amazonaws.eventbridge#RuleNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the rules that can invoke the given target.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListRulesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists your EventBridge rules. You can either list all the rules or\n            provide a prefix to match to the rule names.</p>\n        \n        <p>\n            <code>ListRules</code> doesn't list the targets of a rule. To see the targets\n            associated with a rule, use <a>ListTargetsByRule</a>.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListRulesRequest": {
      "type": "structure",
      "members": {
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to show only the rules associated with the specified event bus.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>"
          }
        },
        "NamePrefix": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The prefix matching the rule name.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListRulesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether there are additional results to retrieve. If there are no more results, the value is null.</p>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.eventbridge#RuleResponseList",
          "traits": {
            "smithy.api#documentation": "<p>The rules that match the specified criteria.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays the tags associated with an EventBridge resource. In EventBridge, rules can be tagged.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.eventbridge#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the rule for which you want to view tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.eventbridge#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tag keys and values associated with the rule that you specified.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListTargetsByRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#ListTargetsByRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#ListTargetsByRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the targets assigned to the specified rule.</p>"
      }
    },
    "com.amazonaws.eventbridge#ListTargetsByRuleRequest": {
      "type": "structure",
      "members": {
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#EventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.eventbridge#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>"
          }
        },
        "Rule": {
          "target": "com.amazonaws.eventbridge#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ListTargetsByRuleResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.eventbridge#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether there are additional results to retrieve. If there are no more results, the value is null.</p>"
          }
        },
        "Targets": {
          "target": "com.amazonaws.eventbridge#TargetList",
          "traits": {
            "smithy.api#documentation": "<p>The targets assigned to the rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#ManagedBy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.eventbridge#ManagedRuleException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS service created this rule on behalf of your account. That service manages it.\n            If you see this error in response to <code>DeleteRule</code> or\n                <code>RemoveTargets</code>, you can use the <code>Force</code> parameter in those\n            calls to delete the rule or remove targets from the rule. You can't modify these managed\n            rules by using <code>DisableRule</code>, <code>EnableRule</code>,\n                <code>PutTargets</code>, <code>PutRule</code>, <code>TagResource</code>, or\n                <code>UntagResource</code>. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#MessageGroupId": {
      "type": "string"
    },
    "com.amazonaws.eventbridge#NetworkConfiguration": {
      "type": "structure",
      "members": {
        "awsvpcConfiguration": {
          "target": "com.amazonaws.eventbridge#AwsVpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Use this structure to specify the VPC subnets and security groups for the task and\n            whether a public IP address is to be used. This structure is relevant only for ECS tasks\n            that use the <code>awsvpc</code> network mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure specifies the network configuration for an ECS task.</p>"
      }
    },
    "com.amazonaws.eventbridge#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.eventbridge#NonPartnerEventBusName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[\\.\\-_A-Za-z0-9]+"
      }
    },
    "com.amazonaws.eventbridge#PartnerEventSource": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the partner event source.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partner event source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A partner event source is created by an SaaS partner. If a customer creates a partner event bus that matches this event source, \n                that AWS account can receive events from the partner's applications or services.</p>"
      }
    },
    "com.amazonaws.eventbridge#PartnerEventSourceAccount": {
      "type": "structure",
      "members": {
        "Account": {
          "target": "com.amazonaws.eventbridge#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID that the partner event source was offered to.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the event source was created.</p>"
          }
        },
        "ExpirationTime": {
          "target": "com.amazonaws.eventbridge#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the event source will expire if the AWS account doesn't\n            create a matching event bus for it.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.eventbridge#EventSourceState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the event source. If it's <code>ACTIVE</code>, you have already\n            created a matching event bus for this event source, and that event bus is active. If\n            it's <code>PENDING</code>, either you haven't yet created a matching event bus, or that\n            event bus is deactivated. If it's <code>DELETED</code>, you have created a matching\n            event bus, but the event source has since been deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AWS account that a partner event source has been offered to.</p>"
      }
    },
    "com.amazonaws.eventbridge#PartnerEventSourceAccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#PartnerEventSourceAccount"
      }
    },
    "com.amazonaws.eventbridge#PartnerEventSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#PartnerEventSource"
      }
    },
    "com.amazonaws.eventbridge#PartnerEventSourceNamePrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "aws\\.partner/[\\.\\-_A-Za-z0-9]+/[/\\.\\-_A-Za-z0-9]*"
      }
    },
    "com.amazonaws.eventbridge#PolicyLengthExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.eventbridge#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The event bus policy is too long. For more information, see the limits.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.eventbridge#Principal": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 12
        },
        "smithy.api#pattern": "(\\d{12}|\\*)"
      }
    },
    "com.amazonaws.eventbridge#PutEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#PutEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#PutEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends custom events to EventBridge so that they can be matched to rules. These events can be from your custom applications\n        and services.</p>"
      }
    },
    "com.amazonaws.eventbridge#PutEventsRequest": {
      "type": "structure",
      "members": {
        "Entries": {
          "target": "com.amazonaws.eventbridge#PutEventsRequestEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The entry that defines an event in your system. You can specify several parameters for the entry such as the source and type of the event, resources associated with the event, and so on.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#PutEventsRequestEntry": {
      "type": "structure",
      "members": {
        "Detail": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>A valid JSON object. There is no other schema imposed. The JSON object can contain\n            fields and nested subobjects.</p>\n        <p>This field is required.</p>"
          }
        },
        "DetailType": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>Free-form string used to decide which fields to expect in the event\n            detail. This field is required.</p>"
          }
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#NonPartnerEventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The event bus that will receive the event. Only the rules that are associated with\n            this event bus can match the event.</p>"
          }
        },
        "Resources": {
          "target": "com.amazonaws.eventbridge#EventResourceList",
          "traits": {
            "smithy.api#documentation": "<p>AWS resources, identified by Amazon Resource Name (ARN), that the event primarily\n            concerns. Any number, including zero, can be present.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The source of the event. This field is required.</p>"
          }
        },
        "Time": {
          "target": "com.amazonaws.eventbridge#EventTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the event, per <a href=\"https://www.rfc-editor.org/rfc/rfc3339.txt\">RFC3339</a>. If no timestamp is\n            provided, the timestamp of the <a>PutEvents</a> call is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an event to be submitted.</p>"
      }
    },
    "com.amazonaws.eventbridge#PutEventsRequestEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#PutEventsRequestEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.eventbridge#PutEventsResponse": {
      "type": "structure",
      "members": {
        "Entries": {
          "target": "com.amazonaws.eventbridge#PutEventsResultEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The successfully and unsuccessfully ingested events results. If the ingestion was successful, \n            the entry has the event ID in it. Otherwise, you can use the error code and error message \n            to identify the problem with the entry.</p>"
          }
        },
        "FailedEntryCount": {
          "target": "com.amazonaws.eventbridge#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of failed entries.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#PutEventsResultEntry": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.eventbridge#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code that indicates why the event submission failed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.eventbridge#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message that explains why the event submission failed.</p>"
          }
        },
        "EventId": {
          "target": "com.amazonaws.eventbridge#EventId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an event that failed to be submitted.</p>"
      }
    },
    "com.amazonaws.eventbridge#PutEventsResultEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#PutEventsResultEntry"
      }
    },
    "com.amazonaws.eventbridge#PutPartnerEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#PutPartnerEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#PutPartnerEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This is used by SaaS partners to write events to a customer's partner event bus.</p>\n            <note>\n            <p>AWS customers do not use this operation. Instead, AWS customers can use \n                <a>PutEvents</a> to write custom events from their own applications to an event bus.</p>\n         </note>"
      }
    },
    "com.amazonaws.eventbridge#PutPartnerEventsRequest": {
      "type": "structure",
      "members": {
        "Entries": {
          "target": "com.amazonaws.eventbridge#PutPartnerEventsRequestEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of events to write to the event bus.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#PutPartnerEventsRequestEntry": {
      "type": "structure",
      "members": {
        "Detail": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>A valid JSON object. There is no other schema imposed. The JSON object can contain\n                fields and nested subobjects. This field is required.</p>"
          }
        },
        "DetailType": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>A free-form string used to decide which fields to expect in the event\n            detail. This field is required.</p>"
          }
        },
        "Resources": {
          "target": "com.amazonaws.eventbridge#EventResourceList",
          "traits": {
            "smithy.api#documentation": "<p>AWS resources, identified by Amazon Resource Name (ARN), that the event primarily\n            concerns. Any number, including zero, can be present.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.eventbridge#String",
          "traits": {
            "smithy.api#documentation": "<p>The event source that is generating the evntry. This field is required.</p>"
          }
        },
        "Time": {
          "target": "com.amazonaws.eventbridge#EventTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details about an event generated by an SaaS partner.</p>"
      }
    },
    "com.amazonaws.eventbridge#PutPartnerEventsRequestEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#PutPartnerEventsRequestEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.eventbridge#PutPartnerEventsResponse": {
      "type": "structure",
      "members": {
        "Entries": {
          "target": "com.amazonaws.eventbridge#PutPartnerEventsResultEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of events from this operation that were successfully written to the partner event bus.</p>"
          }
        },
        "FailedEntryCount": {
          "target": "com.amazonaws.eventbridge#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of events from this operation that couldn't be written to the partner\n            event bus.</p>"
          }
        }
      }
    },
    "com.amazonaws.eventbridge#PutPartnerEventsResultEntry": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.eventbridge#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code that indicates why the event submission failed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.eventbridge#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message that explains why the event submission failed.</p>"
          }
        },
        "EventId": {
          "target": "com.amazonaws.eventbridge#EventId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an event that a partner tried to generate but failed.</p>"
      }
    },
    "com.amazonaws.eventbridge#PutPartnerEventsResultEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.eventbridge#PutPartnerEventsResultEntry"
      }
    },
    "com.amazonaws.eventbridge#PutPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#PutPermissionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#PolicyLengthExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Running <code>PutPermission</code> permits the specified AWS account or AWS organization to put events to the specified <i>event bus</i>. \n            Rules in your account are triggered by these events arriving to an event bus in your account.  </p>\n        <p>For another account to send events to your account, that external account must have a rule with your account's\n        event bus as a target.</p>\n\n        <p>To enable multiple AWS accounts to put events to an event bus, run <code>PutPermission</code> once for each of these accounts. Or, \n        if all the accounts are members of the same AWS organization, you can run <code>PutPermission</code> once specifying <code>Principal</code>\n        as \"*\" and specifying the AWS organization ID in <code>Condition</code>, to grant permissions to all accounts\n        in that organization.</p>\n\n        <p>If you grant permissions using an organization, then accounts in that \n            organization must specify a <code>RoleArn</code> with proper permissions \n            when they use <code>PutTarget</code> to add your account's event bus as a \n            target. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-cross-account-event-delivery.html\">Sending and Receiving Events Between AWS Accounts</a> in the <i>Amazon EventBridge User Guide</i>.</p>\n\n        <p>The permission policy on an event bus can't exceed 10 KB in size.</p>"
      }
    },
    "com.amazonaws.eventbridge#PutPermissionRequest": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.eventbridge#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action that you're enabling the other account to perform. Currently, this must\n            be <code>events:PutEvents</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Condition": {
          "target": "com.amazonaws.eventbridge#Condition",
          "traits": {
            "smithy.api#documentation": "<p>This parameter enables you to limit the permission to accounts that fulfill a certain\n            condition, such as being a member of a certain AWS organization. For more information\n            about AWS Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_introduction.html\">What Is AWS\n                Organizations?</a> in the <i>AWS Organizations User\n            Guide</i>.</p>\n        <p>If you specify <code>Condition</code> with an AWS organization ID and specify \"*\" as\n            the value for <code>Principal</code>, you grant permission to all the accounts in the\n            named organization.</p>\n\n        <p>The <code>Condition</code> is a JSON string that must contain <code>Type</code>,\n                <code>Key</code>, and <code>Value</code> fields.</p>"
          }
        },
        "EventBusName": {
          "target": "com.amazonaws.eventbridge#NonPartnerEventBusName",
          "traits": {
            "smithy.api#documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>"
          }
        },
        "Principal": {
          "target": "com.amazonaws.eventbridge#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit AWS account ID that you are permitting to put events to your default \n            event bus. Specify \"*\" to permit any account to put events to your default event bus.</p>\n\n        <p>If you specify \"*\" without specifying <code>Condition</code>, avoid creating rules\n            that might match undesirable events. To create more secure rules, make sure that the\n            event pattern for each rule contains an <code>account</code> field with a specific\n            account ID to receive events from. Rules that have an account field match events sent only\n            from accounts that are listed in the rule's <code>account</code> field.</p>",
            "smithy.api#required": {}
          }
        },
        "StatementId": {
          "target": "com.amazonaws.eventbridge#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier string for the external account that you're granting permissions to.\n            If you later want to revoke the permission for this external account, specify this\n                <code>StatementId</code> when you run <a>RemovePermission</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.eventbridge#PutRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.eventbridge#PutRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.eventbridge#PutRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.eventbridge#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.eventbridge#InternalException"
        },
        {
          "target": "com.amazonaws.eventbridge#InvalidEventPatternException"
        },
        {
          "target": "com.amazonaws.eventbridge#LimitExceededException"
        },
        {
          "target": "com.amazonaws.eventbridge#ManagedRuleException"
        },
        {
          "target": "com.amazonaws.eventbridge#ResourceNotFoundException"
        }
      ],
      "traits": {
[...]
