{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.evidently#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient permissions to perform this action. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.evidently#AppConfigResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-z0-9]{4,7}"
      }
    },
    "com.amazonaws.evidently#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:.*"
      }
    },
    "com.amazonaws.evidently#BatchEvaluateFeature": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#BatchEvaluateFeatureRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#BatchEvaluateFeatureResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.evidently#ThrottlingException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation assigns feature variation to user sessions. For each user session, you pass\n      in an <code>entityID</code> that represents the user. Evidently then checks the evaluation\n      rules and assigns the variation.</p>\n         <p>The first rules that are evaluated are the override rules. If the user's\n        <code>entityID</code> matches an override rule, the user is served the variation specified\n      by that rule.</p>\n         <p>Next, if there is a launch of the feature, the user might be assigned to a variation in\n      the launch. The chance of this depends on the percentage of users that are allocated to that\n      launch. If the user is enrolled in the launch, the variation they are served depends on the\n      allocation of the various feature variations used for the launch.</p>\n         <p>If the user is not assigned to a launch, and there is an ongoing experiment for this feature,  the user might \n      be assigned to a variation in the experiment. The chance of this\n      depends on the percentage of users that are allocated to that experiment. If the user is enrolled in the experiment, \n      the variation they are served depends on the allocation of the various feature variations used for the experiment. </p>\n         <p>If the user is not assigned to a launch or experiment, they are served the default variation.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "dataplane."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects/{project}/evaluations",
          "code": 200
        },
        "smithy.api#tags": [
          "dataplane"
        ]
      }
    },
    "com.amazonaws.evidently#BatchEvaluateFeatureRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#ProjectRef",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project that contains the feature being evaluated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requests": {
          "target": "com.amazonaws.evidently#EvaluationRequestsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures, where each structure assigns a feature variation to one user session.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.evidently#BatchEvaluateFeatureResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.amazonaws.evidently#EvaluationResultsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures, where each structure displays the results of one feature evaluation\n       assignment to one user session.</p>"
          }
        }
      }
    },
    "com.amazonaws.evidently#ChangeDirectionEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INCREASE",
            "name": "INCREASE"
          },
          {
            "value": "DECREASE",
            "name": "DECREASE"
          }
        ]
      }
    },
    "com.amazonaws.evidently#CloudWatchLogsDestination": {
      "type": "structure",
      "members": {
        "logGroup": {
          "target": "com.amazonaws.evidently#CwLogGroupSafeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group where the project stores evaluation\n       events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing the CloudWatch Logs log group where the project stores evaluation\n       events.</p>"
      }
    },
    "com.amazonaws.evidently#CloudWatchLogsDestinationConfig": {
      "type": "structure",
      "members": {
        "logGroup": {
          "target": "com.amazonaws.evidently#CwLogGroupSafeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group where the project stores evaluation\n       events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing the CloudWatch Logs log group where the project stores evaluation\n       events.</p>"
      }
    },
    "com.amazonaws.evidently#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that caused the exception.</p>"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that is associated with the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.evidently#CreateExperiment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#CreateExperimentRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#CreateExperimentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ConflictException"
        },
        {
          "target": "com.amazonaws.evidently#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.evidently#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Evidently <i>experiment</i>. Before you create an experiment,\n      you must create the feature to use for the experiment.</p>\n         <p>An experiment helps you make feature design \n       decisions based on evidence and data. An experiment can test as\n       many as five variations at once. Evidently collects experiment data and analyzes it by statistical methods, and provides\n       clear recommendations about which variations perform better.</p>\n         <p>You can optionally specify a <code>segment</code> to have the experiment consider only certain audience \n     types in the experiment, such as using only user sessions from a certain location or who use a certain internet browser.</p>\n         <p>Don't use this operation to update an existing experiment. Instead, use \n       <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_UpdateExperiment.html\">UpdateExperiment</a>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects/{project}/experiments",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.evidently#CreateExperimentRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#ProjectRef",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project that you want to create the new experiment in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.evidently#ExperimentName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the new experiment.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.evidently#Description",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the experiment.</p>"
          }
        },
        "treatments": {
          "target": "com.amazonaws.evidently#TreatmentConfigList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that describe the configuration of each feature variation used in the experiment.</p>",
            "smithy.api#required": {}
          }
        },
        "metricGoals": {
          "target": "com.amazonaws.evidently#MetricGoalConfigList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that defines the metrics used for the experiment, and whether a higher\n      or lower value for each metric is the goal.</p>",
            "smithy.api#required": {}
          }
        },
        "randomizationSalt": {
          "target": "com.amazonaws.evidently#RandomizationSalt",
          "traits": {
            "smithy.api#documentation": "<p>When Evidently assigns a particular user session to an experiment, it must use a randomization ID\n       to determine which variation the user session is served. This randomization ID is a combination of the entity ID\n       and <code>randomizationSalt</code>. If you omit <code>randomizationSalt</code>, Evidently uses\n       the experiment name as the <code>randomizationSalt</code>.</p>"
          }
        },
        "samplingRate": {
          "target": "com.amazonaws.evidently#SplitWeight",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The portion of the available audience that you want to allocate to this experiment, in thousandths of a percent. The available audience\n      is the total audience minus the audience that you have allocated to overrides or current launches of\n      this feature.</p>\n         <p>This is represented in thousandths of a percent. For example, specify 10,000 to allocate 10% of the available audience.</p>"
          }
        },
        "onlineAbConfig": {
          "target": "com.amazonaws.evidently#OnlineAbConfig",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the configuration of which variation to use as the \"control\"\n      version. tThe \"control\" version is used for comparison with other variations. This structure\n      also specifies how much experiment traffic is allocated to each variation.</p>"
          }
        },
        "segment": {
          "target": "com.amazonaws.evidently#SegmentRef",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an audience <i>segment</i> to use in the experiment. When a segment is used in an experiment, only\n      user sessions that match the segment pattern are used in the experiment.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.evidently#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Assigns one or more tags (key-value pairs) to the experiment.</p>\n         <p>Tags can help you organize and categorize your resources. You can also use them to scope user\n       permissions by granting a user\n       permission to access or change only resources with certain tag values.</p>\n         <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p>\n     \n         <p>You can associate as many as 50 tags with an experiment.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.evidently#CreateExperimentResponse": {
      "type": "structure",
      "members": {
        "experiment": {
          "target": "com.amazonaws.evidently#Experiment",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the configuration details of the experiment\n       that you created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.evidently#CreateFeature": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#CreateFeatureRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#CreateFeatureResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ConflictException"
        },
        {
          "target": "com.amazonaws.evidently#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.evidently#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Evidently <i>feature</i> that you want to launch or test. You can define up to \n       five variations of a feature, and use these variations in your launches and experiments. A feature must be created in\n       a project. For information about creating a project, see <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_CreateProject.html\">CreateProject</a>.</p>\n         <p>Don't use this operation to update an existing feature. Instead, use \n       <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_UpdateFeature.html\">UpdateFeature</a>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects/{project}/features",
          "code": 200
        }
      }
    },
    "com.amazonaws.evidently#CreateFeatureRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#ProjectRef",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project that is to contain the new feature.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.evidently#FeatureName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new feature.</p>",
            "smithy.api#required": {}
          }
        },
        "evaluationStrategy": {
          "target": "com.amazonaws.evidently#FeatureEvaluationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Specify <code>ALL_RULES</code> to activate the traffic allocation specified by any\n      ongoing launches or experiments. Specify <code>DEFAULT_VARIATION</code> to serve the default\n      variation to all users instead.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.evidently#Description",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the feature.</p>"
          }
        },
        "variations": {
          "target": "com.amazonaws.evidently#VariationConfigsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that contain the configuration of the feature's different variations.</p>",
            "smithy.api#required": {}
          }
        },
        "defaultVariation": {
          "target": "com.amazonaws.evidently#VariationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variation to use as the default variation. The default\n      variation is served to users who are not allocated to any ongoing launches\n      or experiments of this feature.</p>\n         <p>This variation must also be listed in the <code>variations</code> structure.</p>\n         <p>If you omit <code>defaultVariation</code>, the first variation listed in\n       the <code>variations</code> structure is used as the default variation.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.evidently#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Assigns one or more tags (key-value pairs) to the feature.</p>\n         <p>Tags can help you organize and categorize your resources. You can also use them to scope user\n       permissions by granting a user\n       permission to access or change only resources with certain tag values.</p>\n         <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p>\n     \n         <p>You can associate as many as 50 tags with a feature.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.</p>"
          }
        },
        "entityOverrides": {
          "target": "com.amazonaws.evidently#EntityOverrideMap",
          "traits": {
            "smithy.api#documentation": "<p>Specify users that should always be served a specific variation of a feature. Each user\n      is specified by a key-value pair . For each key, specify a user by entering their user ID,\n      account ID, or some other identifier. For the value, specify the name of the variation that\n      they are to be served.</p>"
          }
        }
      }
    },
    "com.amazonaws.evidently#CreateFeatureResponse": {
      "type": "structure",
      "members": {
        "feature": {
          "target": "com.amazonaws.evidently#Feature",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about the new feature.</p>"
          }
        }
      }
    },
    "com.amazonaws.evidently#CreateLaunch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#CreateLaunchRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#CreateLaunchResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ConflictException"
        },
        {
          "target": "com.amazonaws.evidently#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.evidently#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <i>launch</i> of a given feature. Before you create a launch, you\n      must create the feature to use for the launch.</p>\n         <p>You can use a launch to safely validate new features by serving them to a specified\n      percentage of your users while you roll out the feature. You can monitor the performance of\n      the new feature to help you decide when to ramp up traffic to more users. This helps you\n      reduce risk and identify unintended consequences before you fully launch the feature.</p>\n         <p>Don't use this operation to update an existing launch. Instead, use \n       <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_UpdateLaunch.html\">UpdateLaunch</a>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects/{project}/launches",
          "code": 200
        }
      }
    },
    "com.amazonaws.evidently#CreateLaunchRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#ProjectRef",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project that you want to create the launch in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.evidently#LaunchName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new launch.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.evidently#Description",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the launch.</p>"
          }
        },
        "scheduledSplitsConfig": {
          "target": "com.amazonaws.evidently#ScheduledSplitsLaunchConfig",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that define the traffic allocation percentages among the feature\n      variations during each step of the launch.</p>"
          }
        },
        "metricMonitors": {
          "target": "com.amazonaws.evidently#MetricMonitorConfigList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that define the metrics that will be used to monitor \n       the launch performance.</p>"
          }
        },
        "groups": {
          "target": "com.amazonaws.evidently#LaunchGroupConfigList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that contains the feature and variations that are to be used for the launch.</p>",
            "smithy.api#required": {}
          }
        },
        "randomizationSalt": {
          "target": "com.amazonaws.evidently#RandomizationSalt",
          "traits": {
            "smithy.api#documentation": "<p>When Evidently assigns a particular user session to a launch, it must use a randomization ID\n        to determine which variation the user session is served. This randomization ID is a combination of the entity ID\n        and <code>randomizationSalt</code>. If you omit <code>randomizationSalt</code>, Evidently uses\n      the launch name as the <code>randomizationSalt</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.evidently#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Assigns one or more tags (key-value pairs) to the launch.</p>\n         <p>Tags can help you organize and categorize your resources. You can also use them to scope user\n       permissions by granting a user\n       permission to access or change only resources with certain tag values.</p>\n         <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p>\n     \n         <p>You can associate as many as 50 tags with a launch.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.evidently#CreateLaunchResponse": {
      "type": "structure",
      "members": {
        "launch": {
          "target": "com.amazonaws.evidently#Launch",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the configuration of the launch that was created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.evidently#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#CreateProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ConflictException"
        },
        {
          "target": "com.amazonaws.evidently#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a project, which is the logical object in Evidently that can contain features, launches, and \n      experiments. Use projects to group similar features together.</p>\n         <p>To update an existing project, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_UpdateProject.html\">UpdateProject</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects",
          "code": 200
        }
      }
    },
    "com.amazonaws.evidently#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.evidently#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the project.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.evidently#Description",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the project.</p>"
          }
        },
        "dataDelivery": {
          "target": "com.amazonaws.evidently#ProjectDataDeliveryConfig",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about where Evidently is to store\n      evaluation events for longer term storage, if you choose to do so. If you choose\n      not to store these events, Evidently deletes them after using them to produce metrics and other experiment\n      results that you can view.</p>"
          }
        },
        "appConfigResource": {
          "target": "com.amazonaws.evidently#ProjectAppConfigResourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter if the project will use <i>client-side evaluation powered by AppConfig</i>. Client-side\n      evaluation allows your application to assign variations to user\n      sessions locally instead of by calling the <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_EvaluateFeature.html\">EvaluateFeature</a> operation. This \n      mitigates the latency and availability risks that come with an API call. For more information, \n      see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Evidently-client-side-evaluation.html\">\n        Client-side evaluation - powered by AppConfig.</a>\n         </p>\n         <p>This parameter is a structure that\n      contains information about the AppConfig application and environment that will be used as for client-side evaluation.</p>\n         <p>To create a project that uses client-side evaluation, you must have the\n      <code>evidently:ExportProjectAsConfiguration</code> permission.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.evidently#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Assigns one or more tags (key-value pairs) to the project.</p>\n         <p>Tags can help you organize and categorize your resources. You can also use them to scope user\n       permissions by granting a user\n       permission to access or change only resources with certain tag values.</p>\n         <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p>\n     \n         <p>You can associate as many as 50 tags with a project.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.evidently#CreateProjectResponse": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#Project",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about the created project.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.evidently#CreateSegment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#CreateSegmentRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#CreateSegmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ConflictException"
        },
        {
          "target": "com.amazonaws.evidently#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this operation to define a <i>segment</i> of your audience. A segment\n      is a portion of your audience that share one or more characteristics. Examples could be Chrome browser users, \n      users in Europe, or Firefox browser users in Europe who also fit other criteria that your application collects,\n      such as age.</p>\n         <p>Using a segment in an experiment limits that experiment to evaluate only the users who match the segment \n      criteria. Using one or more segments in a launch allows you to define different traffic splits for the different\n      audience segments.</p>\n    \n         <p>For more information about segment pattern syntax, see \n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Evidently-segments.html#CloudWatch-Evidently-segments-syntax.html\">\n        Segment rule pattern syntax</a>.</p>\n    \n         <p>The pattern that you define for a segment is matched against the value of <code>evaluationContext</code>, which\n      is passed into Evidently in the <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_EvaluateFeature.html\">EvaluateFeature</a> operation,\n      when Evidently assigns a feature variation to a user.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/segments",
          "code": 200
        }
      }
    },
    "com.amazonaws.evidently#CreateSegmentRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.evidently#SegmentName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the segment.</p>",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "com.amazonaws.evidently#SegmentPattern",
          "traits": {
            "smithy.api#documentation": "<p>The pattern to use for the segment. For more information about pattern syntax, \n      see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Evidently-segments.html#CloudWatch-Evidently-segments-syntax.html\">\n        Segment rule pattern syntax</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.evidently#Description",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for this segment.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.evidently#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Assigns one or more tags (key-value pairs) to the segment.</p>\n         <p>Tags can help you organize and categorize your resources. You can also use them to scope user\n      permissions by granting a user\n      permission to access or change only resources with certain tag values.</p>\n         <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p>\n    \n         <p>You can associate as many as 50 tags with a segment.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.evidently#CreateSegmentResponse": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.amazonaws.evidently#Segment",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the complete information about the segment that was just created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.evidently#CwDimensionSafeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\S]+$"
      }
    },
    "com.amazonaws.evidently#CwLogGroupSafeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9._/]+$"
      }
    },
    "com.amazonaws.evidently#DeleteExperiment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#DeleteExperimentRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#DeleteExperimentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ConflictException"
        },
        {
          "target": "com.amazonaws.evidently#InternalServerException"
        },
        {
          "target": "com.amazonaws.evidently#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.evidently#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Evidently experiment. The feature used for the experiment is not deleted.</p>\n         <p>To stop an experiment without deleting it, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_StopExperiment.html\">StopExperiment</a>. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{project}/experiments/{experiment}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.evidently#DeleteExperimentRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#ProjectRef",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project that contains the experiment to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "experiment": {
          "target": "com.amazonaws.evidently#ExperimentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the experiment to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.evidently#DeleteExperimentResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.evidently#DeleteFeature": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#DeleteFeatureRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#DeleteFeatureResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ConflictException"
        },
        {
          "target": "com.amazonaws.evidently#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.evidently#ThrottlingException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Evidently feature.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{project}/features/{feature}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.evidently#DeleteFeatureRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#ProjectRef",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project that contains the feature to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "feature": {
          "target": "com.amazonaws.evidently#FeatureName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.evidently#DeleteFeatureResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.evidently#DeleteLaunch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#DeleteLaunchRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#DeleteLaunchResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ConflictException"
        },
        {
          "target": "com.amazonaws.evidently#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.evidently#ThrottlingException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Evidently launch. The feature used for the launch is not deleted.</p>\n         <p>To stop a launch without deleting it, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_StopLaunch.html\">StopLaunch</a>. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{project}/launches/{launch}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.evidently#DeleteLaunchRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#ProjectRef",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project that contains the launch to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "launch": {
          "target": "com.amazonaws.evidently#LaunchName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.evidently#DeleteLaunchResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.evidently#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#DeleteProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ConflictException"
        },
        {
          "target": "com.amazonaws.evidently#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.evidently#ThrottlingException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Evidently project. Before you can delete a project, you must delete all the\n      features that the project contains. To delete a feature, use <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_DeleteFeature.html\">DeleteFeature</a>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{project}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.evidently#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#ProjectRef",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.evidently#DeleteProjectResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.evidently#DeleteSegment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#DeleteSegmentRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#DeleteSegmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ConflictException"
        },
        {
          "target": "com.amazonaws.evidently#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.evidently#ThrottlingException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a segment. You can't delete a segment that is being used in a launch or experiment, even if that \n    launch or experiment is not currently running.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/segments/{segment}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.evidently#DeleteSegmentRequest": {
      "type": "structure",
      "members": {
        "segment": {
          "target": "com.amazonaws.evidently#SegmentRef",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the segment to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.evidently#DeleteSegmentResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.evidently#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 160
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.evidently#DoubleValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#length": {
          "max": 100800
        }
      }
    },
    "com.amazonaws.evidently#EntityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.evidently#EntityOverrideMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.evidently#EntityId"
      },
      "value": {
        "target": "com.amazonaws.evidently#VariationName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.evidently#ErrorCodeEnum": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Recommended errors from AWS API standards: https://w.amazon.com/bin/view/AWS/API_Standards/Exceptions\nErrorCode = \"ValidationException\"|\"ServiceQuotaExceededException\"|\"AccessDeniedException\"|\"ResourceNotFoundException\"|\"ConflictException\"|\"ThrottlingException\"|\"InternalServerException\"|string;",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.evidently#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.evidently#EvaluateFeature": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.evidently#EvaluateFeatureRequest"
      },
      "output": {
        "target": "com.amazonaws.evidently#EvaluateFeatureResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.evidently#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.evidently#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.evidently#ThrottlingException"
        },
        {
          "target": "com.amazonaws.evidently#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation assigns a feature variation to one given user session. You pass in an\n        <code>entityID</code> that represents the user. Evidently then checks the evaluation rules\n      and assigns the variation.</p>\n         <p>The first rules that are evaluated are the override rules. If the user's\n        <code>entityID</code> matches an override rule, the user is served the variation specified\n      by that rule.</p>\n    \n         <p>If there is a current launch with this feature that uses segment overrides, and \n      if the user session's <code>evaluationContext</code> matches a segment rule defined in a\n      segment override, the configuration in the segment overrides is used. For more information\n      about segments, see <a href=\"https://docs.aws.amazon.com/cloudwatchevidently/latest/APIReference/API_CreateSegment.html\">CreateSegment</a> \n      and \n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Evidently-segments.html\">Use segments to focus your \n        audience</a>.</p>\n         <p>If there is a launch with no segment overrides, the user might be assigned to a variation in\n      the launch. The chance of this depends on the percentage of users that are allocated to that\n      launch. If the user is enrolled in the launch, the variation they are served depends on the\n      allocation of the various feature variations used for the launch.</p>\n         <p>If the user is not assigned to a launch, and there is an ongoing experiment for this feature, the user might \n      be assigned to a variation in the experiment. The chance of this\n      depends on the percentage of users that are allocated to that experiment.</p>\n         <p>If the experiment uses a segment, then only \n      user sessions with <code>evaluationContext</code> values that match the segment rule are used in the experiment.</p>\n         <p>If the user is enrolled in the experiment, \n      the variation they are served depends on the allocation of the various feature variations used for the experiment. </p>\n         <p>If the user is not assigned to a launch or experiment, they are served the default variation.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "dataplane."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects/{project}/evaluations/{feature}",
          "code": 200
        },
        "smithy.api#tags": [
          "dataplane"
        ]
      }
    },
    "com.amazonaws.evidently#EvaluateFeatureRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#ProjectRef",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project that contains this feature.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "feature": {
          "target": "com.amazonaws.evidently#FeatureName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature being evaluated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "entityId": {
          "target": "com.amazonaws.evidently#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>An internal ID that represents a unique user of the application. This\n        <code>entityID</code> is checked against any override rules assigned for this\n      feature.</p>",
            "smithy.api#required": {}
          }
        },
        "evaluationContext": {
          "target": "com.amazonaws.evidently#JsonValue",
          "traits": {
            "smithy.api#documentation": "<p>A JSON object of attributes that you can optionally pass in as part of the evaluation event\n      sent to Evidently from the user session. Evidently can use \n      this value to match user sessions with defined audience segments. For more information, see\n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Evidently-segments.html\">Use segments to focus your \n        audience</a>.</p>\n    \n         <p>If you include this parameter, the value must be a JSON object. A JSON array is not supported.</p>"
          }
        }
      }
    },
    "com.amazonaws.evidently#EvaluateFeatureResponse": {
      "type": "structure",
      "members": {
        "variation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variation that was served to the user session.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.evidently#VariableValue",
          "traits": {
            "smithy.api#documentation": "<p>The value assigned to this variation to differentiate it from the other variations of this feature.</p>"
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the reason that the user session was assigned this variation. Possible values\n      include <code>DEFAULT</code>, meaning the user was served the default variation;\n        <code>LAUNCH_RULE_MATCH</code>, if the user session was enrolled in a launch;\n        <code>EXPERIMENT_RULE_MATCH</code>, if the user session was enrolled in an experiment; or\n        <code>ENTITY_OVERRIDES_MATCH</code>, if the user's <code>entityId</code> matches an override\n      rule.</p>"
          }
        },
        "details": {
          "target": "com.amazonaws.evidently#JsonValue",
          "traits": {
            "smithy.api#documentation": "<p>If this user was assigned to a launch or experiment, this field lists the launch or experiment name.</p>"
          }
        }
      }
    },
    "com.amazonaws.evidently#EvaluationRequest": {
      "type": "structure",
      "members": {
        "feature": {
          "target": "com.amazonaws.evidently#FeatureName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature being evaluated.</p>",
            "smithy.api#required": {}
          }
        },
        "entityId": {
          "target": "com.amazonaws.evidently#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>An internal ID that represents a unique user session of the application. This\n        <code>entityID</code> is checked against any override rules assigned for this\n      feature.</p>",
            "smithy.api#required": {}
          }
        },
        "evaluationContext": {
          "target": "com.amazonaws.evidently#JsonValue",
          "traits": {
            "smithy.api#documentation": "<p>A JSON block of attributes that you can optionally pass in. This JSON block is included\n       in the evaluation events sent to Evidently from the user session. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure assigns a feature variation to one user session.</p>"
      }
    },
    "com.amazonaws.evidently#EvaluationRequestsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.evidently#EvaluationRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.evidently#EvaluationResult": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.evidently#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project that contains the feature being evaluated.</p>"
          }
        },
        "feature": {
          "target": "com.amazonaws.evidently#FeatureName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature being evaluated.</p>",
            "smithy.api#required": {}
          }
        },
        "variation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variation that was served to the user session.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.evidently#VariableValue",
          "traits": {
            "smithy.api#documentation": "<p>The value assigned to this variation to differentiate it from the other variations of this feature.</p>"
          }
        },
        "entityId": {
          "target": "com.amazonaws.evidently#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>An internal ID that represents a unique user session of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the reason that the user session was assigned this variation. Possible values\n      include <code>DEFAULT</code>, meaning the user was served the default variation;\n        <code>LAUNCH_RULE_MATCH</code>, if the user session was enrolled in a launch; or\n        <code>EXPERIMENT_RULE_MATCH</code>, if the user session was enrolled in an\n      experiment.</p>"
          }
        },
        "details": {
          "target": "com.amazonaws.evidently#JsonValue",
          "traits": {
            "smithy.api#documentation": "<p>If this user was assigned to a launch or experiment, this field lists the launch or experiment name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure displays the results of one feature evaluation assignment to one user\n      session.</p>"
      }
    },
    "com.amazonaws.evidently#EvaluationResultsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.evidently#EvaluationResult"
      }
    },
    "com.amazonaws.evidently#EvaluationRule": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.evidently#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the experiment or launch.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.evidently#RuleType",
          "traits": {
            "smithy.api#documentation": "<p>This value is <code>aws.evidently.splits</code> if this is an evaluation rule for a launch, and it is\n       <code>aws.evidently.onlineab</code> if this is an evaluation rule for an experiment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the information about an evaluation rule for this feature, \n      if it is used in a launch or experiment.</p>"
      }
    },
    "com.amazonaws.evidently#EvaluationRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.evidently#EvaluationRule"
      }
    },
    "com.amazonaws.evidently#Event": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the event.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.evidently#EventType",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>aws.evidently.evaluation</code> specifies an evaluation event, which determines\n      which feature variation that a user sees. <code>aws.evidently.custom</code> specifies a custom\n      event, which generates metrics from user actions such as clicks and checkouts.</p>",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.amazonaws.evidently#JsonValue",
          "traits": {
            "smithy.api#documentation": "<p>The event data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the information about one evaluation event or custom event sent to Evidently.\n        This is a JSON payload. If this event specifies a pre-defined event type, the payload must follow the \n        defined event schema.</p>"
      }
    },
    "com.amazonaws.evidently#EventList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.evidently#Event"
      },
      "traits": {
        "smithy.api#length": {
          "max": 50
        }
      }
    },
    "com.amazonaws.evidently#EventType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "aws.evidently.evaluation",
            "name": "EVALUATION"
          },
          {
            "value": "aws.evidently.custom",
            "name": "CUSTOM"
          }
        ]
      }
    },
    "com.amazonaws.evidently#Evidently": {
      "type": "service",
      "version": "2021-02-01",
      "operations": [
        {
          "target": "com.amazonaws.evidently#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.evidently#TagResource"
        },
        {
          "target": "com.amazonaws.evidently#TestSegmentPattern"
        },
        {
          "target": "com.amazonaws.evidently#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.evidently#ProjectResource"
        },
        {
          "target": "com.amazonaws.evidently#SegmentResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Evidently",
          "arnNamespace": "evidently"
        },
        "aws.auth#sigv4": {
          "name": "evidently"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "Content-Type",
            "X-Amz-Date",
            "Authorization",
            "X-Api-Key",
            "X-Amz-Security-Token",
            "x-amz-content-sha256",
            "X-Amz-User-Agent"
          ]
        },
        "smithy.api#documentation": "<p>You can use Amazon CloudWatch Evidently to safely validate new features by serving \n      them to a specified percentage\n      of your users while you roll out the feature. You can monitor the performance of the new feature\n      to help you decide when to ramp up traffic to your users. This helps you \n      reduce risk and identify unintended consequences before you fully launch the feature.</p>\n         <p>You can also conduct A/B experiments to make feature design decisions based on evidence\n      and data. An experiment can test as many as five variations at once. Evidently collects\n      experiment data and analyzes it using statistical methods. It also provides clear\n      recommendations about which variations perform better. You can test both user-facing features\n      and backend features.</p>",
        "smithy.api#title": "Amazon CloudWatch Evidently",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://evidently-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://evidently-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://evidently.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://evidently.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://evidently.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.evidently#Experiment": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.evidently#ExperimentArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the experiment.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.evidently#ExperimentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the experiment.</p>",
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "com.amazonaws.evidently#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the project that contains this experiment.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.evidently#ExperimentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the experiment.</p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "com.amazonaws.evidently#Description",
          "traits": {
            "smithy.api#documentation": "<p>If the experiment was stopped, this is the string that was entered by the person who \n      stopped the experiment, to explain why it was stopped.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.evidently#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the experiment.</p>"
          }
        },
        "createdTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the experiment is first created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the experiment was most recently updated.</p>",
            "smithy.api#required": {}
          }
        },
        "schedule": {
          "target": "com.amazonaws.evidently#ExperimentSchedule",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the time and date that Evidently completed the analysis of the experiment.</p>"
          }
        },
        "execution": {
          "target": "com.amazonaws.evidently#ExperimentExecution",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the date and time that the experiment started and ended.</p>"
          }
        },
        "treatments": {
          "target": "com.amazonaws.evidently#TreatmentList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that describe the configuration of each feature variation used in the experiment.</p>"
          }
        },
        "metricGoals": {
          "target": "com.amazonaws.evidently#MetricGoalsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that defines the metrics used for the experiment, and whether a higher\n      or lower value for each metric is the goal.</p>"
          }
        },
        "randomizationSalt": {
          "target": "com.amazonaws.evidently#RandomizationSalt",
          "traits": {
            "smithy.api#documentation": "<p>This value is used when Evidently assigns a particular user session to the experiment. It\n      helps create a randomization ID to determine which variation the user session is served. This\n      randomization ID is a combination of the entity ID and <code>randomizationSalt</code>.</p>"
          }
        },
        "samplingRate": {
          "target": "com.amazonaws.evidently#SplitWeight",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>In thousandths of a percent, the amount of the available audience that is allocated to this experiment. \n      The available audience\n      is the total audience minus the audience that you have allocated to overrides or current launches of\n      this feature.</p>\n         <p>This is represented in thousandths of a percent, so a value of 10,000 is 10% of the available audience.</p>"
          }
        },
        "segment": {
          "target": "com.amazonaws.evidently#SegmentArn",
          "traits": {
            "smithy.api#documentation": "<p>The audience segment being used for the experiment, if a segment is being used.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.evidently#ExperimentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this experiment. Currently, this value must be <code>aws.experiment.onlineab</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "onlineAbDefinition": {
          "target": "com.amazonaws.evidently#OnlineAbDefinition",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the configuration of which variation to use as the \"control\"\n      version. The \"control\" version is used for comparison with other variations. This structure\n      also specifies how much experiment traffic is allocated to each variation.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.evidently#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tag keys and values associated with this experiment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing the configuration details of an experiment.</p>"
      }
    },
    "com.amazonaws.evidently#ExperimentArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:project/[-a-zA-Z0-9._]*/experiment/[-a-zA-Z0-9._]*"
      }
    },
    "com.amazonaws.evidently#ExperimentBaseStat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Mean",
            "name": "MEAN"
          }
        ]
      }
    },
    "com.amazonaws.evidently#ExperimentExecution": {
      "type": "structure",
      "members": {
        "startedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the experiment started.</p>"
          }
        },
        "endedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the experiment ended.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains the date and time that the experiment started and ended.</p>"
      }
    },
    "com.amazonaws.evidently#ExperimentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.evidently#Experiment"
      }
    },
    "com.amazonaws.evidently#ExperimentName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9._]*$"
      }
    },
    "com.amazonaws.evidently#ExperimentReport": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "com.amazonaws.evidently#CwDimensionSafeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric that is analyzed in this experiment report.</p>"
          }
        },
        "treatmentName": {
          "target": "com.amazonaws.evidently#TreatmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variation that this report pertains to.</p>"
          }
        },
        "reportName": {
          "target": "com.amazonaws.evidently#ExperimentReportName",
          "traits": {
            "smithy.api#documentation": "<p>The type of analysis used for this report.</p>"
          }
        },
        "content": {
          "target": "com.amazonaws.evidently#JsonValue",
          "traits": {
            "smithy.api#documentation": "<p>The content of the report.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains results of an experiment.</p>"
      }
    },
    "com.amazonaws.evidently#ExperimentReportList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.evidently#ExperimentReport"
      },
      "traits": {
        "smithy.api#length": {
          "max": 1000
        }
      }
    },
    "com.amazonaws.evidently#ExperimentReportName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BayesianInference",
            "name": "BAYESIAN_INFERENCE"
          }
        ]
      }
    },
    "com.amazonaws.evidently#ExperimentReportNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.evidently#ExperimentReportName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.evidently#ExperimentResource": {
      "type": "resource",
      "identifiers": {
        "project": {
          "target": "com.amazonaws.evidently#ProjectRef"
        },
        "experiment": {
          "target": "com.amazonaws.evidently#ExperimentName"
        }
      },
      "create": {
        "target": "com.amazonaws.evidently#CreateExperiment"
      },
      "read": {
        "target": "com.amazonaws.evidently#GetExperiment"
      },
      "update": {
        "target": "com.amazonaws.evidently#UpdateExperiment"
      },
      "delete": {
        "target": "com.amazonaws.evidently#DeleteExperiment"
      },
      "list": {
        "target": "com.amazonaws.evidently#ListExperiments"
      },
      "operations": [
        {
          "target": "com.amazonaws.evidently#GetExperimentResults"
        },
        {
          "target": "com.amazonaws.evidently#StartExperiment"
        },
        {
          "target": "com.amazonaws.evidently#StopExperiment"
        }
      ]
    },
[...]
