{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.finspacedata#AWSHabaneroPublicAPI": {
      "type": "service",
      "version": "2020-07-13",
      "operations": [
        {
          "target": "com.amazonaws.finspacedata#AssociateUserToPermissionGroup"
        },
        {
          "target": "com.amazonaws.finspacedata#CreateChangeset"
        },
        {
          "target": "com.amazonaws.finspacedata#CreateDataset"
        },
        {
          "target": "com.amazonaws.finspacedata#CreateDataView"
        },
        {
          "target": "com.amazonaws.finspacedata#CreatePermissionGroup"
        },
        {
          "target": "com.amazonaws.finspacedata#CreateUser"
        },
        {
          "target": "com.amazonaws.finspacedata#DeleteDataset"
        },
        {
          "target": "com.amazonaws.finspacedata#DeletePermissionGroup"
        },
        {
          "target": "com.amazonaws.finspacedata#DisableUser"
        },
        {
          "target": "com.amazonaws.finspacedata#DisassociateUserFromPermissionGroup"
        },
        {
          "target": "com.amazonaws.finspacedata#EnableUser"
        },
        {
          "target": "com.amazonaws.finspacedata#GetChangeset"
        },
        {
          "target": "com.amazonaws.finspacedata#GetDataset"
        },
        {
          "target": "com.amazonaws.finspacedata#GetDataView"
        },
        {
          "target": "com.amazonaws.finspacedata#GetExternalDataViewAccessDetails"
        },
        {
          "target": "com.amazonaws.finspacedata#GetPermissionGroup"
        },
        {
          "target": "com.amazonaws.finspacedata#GetProgrammaticAccessCredentials"
        },
        {
          "target": "com.amazonaws.finspacedata#GetUser"
        },
        {
          "target": "com.amazonaws.finspacedata#GetWorkingLocation"
        },
        {
          "target": "com.amazonaws.finspacedata#ListChangesets"
        },
        {
          "target": "com.amazonaws.finspacedata#ListDatasets"
        },
        {
          "target": "com.amazonaws.finspacedata#ListDataViews"
        },
        {
          "target": "com.amazonaws.finspacedata#ListPermissionGroups"
        },
        {
          "target": "com.amazonaws.finspacedata#ListPermissionGroupsByUser"
        },
        {
          "target": "com.amazonaws.finspacedata#ListUsers"
        },
        {
          "target": "com.amazonaws.finspacedata#ListUsersByPermissionGroup"
        },
        {
          "target": "com.amazonaws.finspacedata#ResetUserPassword"
        },
        {
          "target": "com.amazonaws.finspacedata#UpdateChangeset"
        },
        {
          "target": "com.amazonaws.finspacedata#UpdateDataset"
        },
        {
          "target": "com.amazonaws.finspacedata#UpdatePermissionGroup"
        },
        {
          "target": "com.amazonaws.finspacedata#UpdateUser"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "finspace data",
          "arnNamespace": "finspace-api",
          "cloudFormationName": "Finspacedata",
          "cloudTrailEventSource": "finspacedata.amazonaws.com",
          "endpointPrefix": "finspace-api"
        },
        "aws.auth#sigv4": {
          "name": "finspace-api"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p> The FinSpace APIs let you take actions inside the FinSpace.</p>",
        "smithy.api#title": "FinSpace Public API",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://finspace-api-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://finspace-api-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://finspace-api.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://finspace-api.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://finspace-api.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.finspacedata#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.finspacedata#ErrorMessage2"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.finspacedata#AccessKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\s\\S]*\\S[\\s\\S]*$"
      }
    },
    "com.amazonaws.finspacedata#AliasString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^alias\\/\\S+$"
      }
    },
    "com.amazonaws.finspacedata#ApiAccess": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.finspacedata#ApplicationPermission": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CreateDataset",
            "name": "CreateDataset"
          },
          {
            "value": "ManageClusters",
            "name": "ManageClusters"
          },
          {
            "value": "ManageUsersAndGroups",
            "name": "ManageUsersAndGroups"
          },
          {
            "value": "ManageAttributeSets",
            "name": "ManageAttributeSets"
          },
          {
            "value": "ViewAuditData",
            "name": "ViewAuditData"
          },
          {
            "value": "AccessNotebooks",
            "name": "AccessNotebooks"
          },
          {
            "value": "GetTemporaryCredentials",
            "name": "GetTemporaryCredentials"
          }
        ]
      }
    },
    "com.amazonaws.finspacedata#ApplicationPermissionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.finspacedata#ApplicationPermission"
      }
    },
    "com.amazonaws.finspacedata#AssociateUserToPermissionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#AssociateUserToPermissionGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#AssociateUserToPermissionGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a user account to a permission group to grant permissions for actions a user can perform in FinSpace.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/permission-group/{permissionGroupId}/users/{userId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#AssociateUserToPermissionGroupRequest": {
      "type": "structure",
      "members": {
        "permissionGroupId": {
          "target": "com.amazonaws.finspacedata#PermissionGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the permission group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.finspacedata#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the user.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.finspacedata#AssociateUserToPermissionGroupResponse": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "com.amazonaws.finspacedata#StatusCode",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The returned status code of the response.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      }
    },
    "com.amazonaws.finspacedata#AwsCredentials": {
      "type": "structure",
      "members": {
        "accessKeyId": {
          "target": "com.amazonaws.finspacedata#AccessKeyId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier for the security credentials.</p>"
          }
        },
        "secretAccessKey": {
          "target": "com.amazonaws.finspacedata#SecretAccessKey",
          "traits": {
            "smithy.api#documentation": "<p> The secret access key that can be used to sign requests.</p>"
          }
        },
        "sessionToken": {
          "target": "com.amazonaws.finspacedata#SessionToken",
          "traits": {
            "smithy.api#documentation": "<p> The token that users must pass to use the credentials.</p>"
          }
        },
        "expiration": {
          "target": "com.amazonaws.finspacedata#TimestampEpoch",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> The Epoch time when the current credentials expire.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The credentials required to access the external Dataview from the S3 location.</p>"
      }
    },
    "com.amazonaws.finspacedata#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false,
        "smithy.api#documentation": "Common Boolean data type"
      }
    },
    "com.amazonaws.finspacedata#ChangeType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Indicates how the given change will be applied to the dataset.",
        "smithy.api#enum": [
          {
            "value": "REPLACE",
            "name": "REPLACE"
          },
          {
            "value": "APPEND",
            "name": "APPEND"
          },
          {
            "value": "MODIFY",
            "name": "MODIFY"
          }
        ]
      }
    },
    "com.amazonaws.finspacedata#ChangesetArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Arn for a given Changeset"
      }
    },
    "com.amazonaws.finspacedata#ChangesetErrorInfo": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "com.amazonaws.finspacedata#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The text of the error message.</p>"
          }
        },
        "errorCategory": {
          "target": "com.amazonaws.finspacedata#ErrorCategory",
          "traits": {
            "smithy.api#documentation": "<p>The category of the error.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>VALIDATION</code> – The inputs to this request are invalid.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SERVICE_QUOTA_EXCEEDED</code> – Service quotas have been exceeded. Please\n          contact AWS support to increase quotas.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACCESS_DENIED</code> – Missing required permission to perform this\n          request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RESOURCE_NOT_FOUND</code> – One or more inputs to this request were not\n          found.</p>\n            </li>\n            <li>\n               <p>\n                  <code>THROTTLING</code> – The system temporarily lacks sufficient resources to process\n          the request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INTERNAL_SERVICE_EXCEPTION</code> – An internal service error has\n          occurred.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> – Cancelled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_RECOVERABLE</code> – A user recoverable error has occurred.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure with error messages.</p>"
      }
    },
    "com.amazonaws.finspacedata#ChangesetId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "ID used to identify a Changeset",
        "smithy.api#length": {
          "min": 1,
          "max": 26
        }
      }
    },
    "com.amazonaws.finspacedata#ChangesetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.finspacedata#ChangesetSummary"
      },
      "traits": {
        "smithy.api#documentation": "List of Changeset Summaries"
      }
    },
    "com.amazonaws.finspacedata#ChangesetSummary": {
      "type": "structure",
      "members": {
        "changesetId": {
          "target": "com.amazonaws.finspacedata#ChangesetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a Changeset.</p>"
          }
        },
        "changesetArn": {
          "target": "com.amazonaws.finspacedata#ChangesetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN identifier of the Changeset.</p>"
          }
        },
        "datasetId": {
          "target": "com.amazonaws.finspacedata#DatasetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the FinSpace Dataset in which the Changeset is created.</p>"
          }
        },
        "changeType": {
          "target": "com.amazonaws.finspacedata#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>Type that indicates how a Changeset is applied to a Dataset.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>REPLACE</code> – Changeset is considered as a replacement to all prior loaded\n          Changesets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>APPEND</code> – Changeset is considered as an addition to the end of all prior\n          loaded Changesets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MODIFY</code> – Changeset is considered as a replacement to a specific prior\n          ingested Changeset.</p>\n            </li>\n         </ul>"
          }
        },
        "sourceParams": {
          "target": "com.amazonaws.finspacedata#SourceParams",
          "traits": {
            "smithy.api#documentation": "<p>Options that define the location of the data being ingested.</p>"
          }
        },
        "formatParams": {
          "target": "com.amazonaws.finspacedata#FormatParams",
          "traits": {
            "smithy.api#documentation": "<p>Options that define the structure of the source file(s).</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.finspacedata#TimestampEpoch",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The timestamp at which the Changeset was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.finspacedata#IngestionStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the Changeset ingestion.</p>\n         <ul>\n            <li> \n               <p>\n                  <code>PENDING</code> – Changeset is pending creation.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> – Changeset creation has failed.</p>\n            </li>\n            <li> \n               <p>\n                  <code>SUCCESS</code> – Changeset creation has succeeded.</p>\n            </li>\n            <li> \n               <p>\n                  <code>RUNNING</code> – Changeset creation is running.</p>\n            </li>\n            <li> \n               <p>\n                  <code>STOP_REQUESTED</code> – User requested Changeset creation to stop.</p>\n            </li>\n         </ul>"
          }
        },
        "errorInfo": {
          "target": "com.amazonaws.finspacedata#ChangesetErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p>The structure with error messages.</p>"
          }
        },
        "activeUntilTimestamp": {
          "target": "com.amazonaws.finspacedata#TimestampEpoch",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Time until which the Changeset is active. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
          }
        },
        "activeFromTimestamp": {
          "target": "com.amazonaws.finspacedata#TimestampEpoch",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Beginning time from which the Changeset is active. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
          }
        },
        "updatesChangesetId": {
          "target": "com.amazonaws.finspacedata#ChangesetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Changeset that is updated.</p>"
          }
        },
        "updatedByChangesetId": {
          "target": "com.amazonaws.finspacedata#ChangesetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the updated Changeset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Changeset is unit of data in a Dataset.</p>"
      }
    },
    "com.amazonaws.finspacedata#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Idempotence Token for API operations",
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.finspacedata#ColumnDataType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Data type of a column.",
        "smithy.api#enum": [
          {
            "value": "STRING",
            "name": "STRING"
          },
          {
            "value": "CHAR",
            "name": "CHAR"
          },
          {
            "value": "INTEGER",
            "name": "INTEGER"
          },
          {
            "value": "TINYINT",
            "name": "TINYINT"
          },
          {
            "value": "SMALLINT",
            "name": "SMALLINT"
          },
          {
            "value": "BIGINT",
            "name": "BIGINT"
          },
          {
            "value": "FLOAT",
            "name": "FLOAT"
          },
          {
            "value": "DOUBLE",
            "name": "DOUBLE"
          },
          {
            "value": "DATE",
            "name": "DATE"
          },
          {
            "value": "DATETIME",
            "name": "DATETIME"
          },
          {
            "value": "BOOLEAN",
            "name": "BOOLEAN"
          },
          {
            "value": "BINARY",
            "name": "BINARY"
          }
        ]
      }
    },
    "com.amazonaws.finspacedata#ColumnDefinition": {
      "type": "structure",
      "members": {
        "dataType": {
          "target": "com.amazonaws.finspacedata#ColumnDataType",
          "traits": {
            "smithy.api#documentation": "<p>Data type of a column.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>STRING</code> – A String data type.</p>\n               <p>\n                  <code>CHAR</code> – A char data type.</p>\n               <p>\n                  <code>INTEGER</code> – An integer data type.</p>\n               <p>\n                  <code>TINYINT</code> – A tinyint data type.</p>\n               <p>\n                  <code>SMALLINT</code> – A smallint data type.</p>\n               <p>\n                  <code>BIGINT</code> – A bigint data type.</p>\n               <p>\n                  <code>FLOAT</code> – A float data type.</p>\n               <p>\n                  <code>DOUBLE</code> – A double data type.</p>\n               <p>\n                  <code>DATE</code> – A date data type.</p>\n               <p>\n                  <code>DATETIME</code> – A datetime data type.</p>\n               <p>\n                  <code>BOOLEAN</code> – A boolean data type.</p>\n               <p>\n                  <code>BINARY</code> – A binary data type.</p>\n            </li>\n         </ul>"
          }
        },
        "columnName": {
          "target": "com.amazonaws.finspacedata#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a column.</p>"
          }
        },
        "columnDescription": {
          "target": "com.amazonaws.finspacedata#ColumnDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description for a column.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition of a column in a tabular Dataset.</p>"
      }
    },
    "com.amazonaws.finspacedata#ColumnDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Column Description",
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.finspacedata#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.finspacedata#ColumnDefinition"
      },
      "traits": {
        "smithy.api#documentation": "List of Column Definitions"
      }
    },
    "com.amazonaws.finspacedata#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Column Name",
        "smithy.api#length": {
          "min": 0,
          "max": 126
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.finspacedata#ColumnNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.finspacedata#ColumnName"
      },
      "traits": {
        "smithy.api#documentation": "List of Column Names"
      }
    },
    "com.amazonaws.finspacedata#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.finspacedata#ErrorMessage2"
        },
        "reason": {
          "target": "com.amazonaws.finspacedata#ErrorMessage2"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request conflicts with an existing resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.finspacedata#CreateChangeset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#CreateChangesetRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#CreateChangesetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#LimitExceededException"
        },
        {
          "target": "com.amazonaws.finspacedata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Changeset in a FinSpace Dataset.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/datasets/{datasetId}/changesetsv2",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#CreateChangesetRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "datasetId": {
          "target": "com.amazonaws.finspacedata#DatasetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the FinSpace Dataset where the Changeset will be created.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "changeType": {
          "target": "com.amazonaws.finspacedata#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>The option to indicate how a Changeset will be applied to a Dataset.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>REPLACE</code> – Changeset will be considered as a replacement to all prior\n          loaded Changesets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>APPEND</code> – Changeset will be considered as an addition to the end of all\n          prior loaded Changesets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MODIFY</code> – Changeset is considered as a replacement to a specific prior ingested Changeset.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "sourceParams": {
          "target": "com.amazonaws.finspacedata#SourceParams",
          "traits": {
            "smithy.api#documentation": "<p>Options that define the location of the data being ingested (<code>s3SourcePath</code>) and the source of the changeset (<code>sourceType</code>).</p>\n         <p>Both <code>s3SourcePath</code> and <code>sourceType</code> are required attributes.</p>\n         <p>Here is an example of how you could specify the <code>sourceParams</code>:</p>\n         <p>\n            <code>\n        \"sourceParams\": \n        {\n        \"s3SourcePath\": \"s3://finspace-landing-us-east-2-bk7gcfvitndqa6ebnvys4d/scratch/wr5hh8pwkpqqkxa4sxrmcw/ingestion/equity.csv\",\n        \"sourceType\": \"S3\"\n        }\n      </code>\n         </p>\n         <p>The S3 path that you specify must allow the FinSpace role access. To do that, you first need to configure the IAM policy on S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/finspace/latest/data-api/fs-using-the-finspace-api.html#access-s3-buckets\">Loading data from an Amazon S3 Bucket using the FinSpace API</a> section.</p>",
            "smithy.api#required": {}
          }
        },
        "formatParams": {
          "target": "com.amazonaws.finspacedata#FormatParams",
          "traits": {
            "smithy.api#documentation": "<p>Options that define the structure of the source file(s) including the format type (<code>formatType</code>), header row (<code>withHeader</code>), data separation character (<code>separator</code>) and the type of compression (<code>compression</code>).\n    </p>\n         <p>\n            <code>formatType</code> is a required attribute and can have the following values:\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>PARQUET</code> – Parquet source file format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CSV</code> – CSV source file format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>JSON</code> – JSON source file format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>XML</code> – XML source file format.</p>\n            </li>\n         </ul>\n    \n         <p>Here is an example of how you could specify the <code>formatParams</code>:</p>\n         <p>\n            <code>\n          \"formatParams\": \n        {\n         \"formatType\": \"CSV\",\n         \"withHeader\": \"true\",\n         \"separator\": \",\",\n         \"compression\":\"None\"\n         } \n      </code> \n         </p>\n         <p>Note that if you only provide <code>formatType</code> as <code>CSV</code>, the rest of the attributes will automatically default to CSV values as following:</p>\n         <p>\n            <code>\n          {\n          \"withHeader\": \"true\",\n          \"separator\": \",\"\n           }\n        </code>\n         </p>\n         <p> For more information about supported file formats, see <a href=\"https://docs.aws.amazon.com/finspace/latest/userguide/supported-data-types.html\">Supported Data Types and File Formats</a> in the FinSpace User Guide.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for a CreateChangeset operation."
      }
    },
    "com.amazonaws.finspacedata#CreateChangesetResponse": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "com.amazonaws.finspacedata#DatasetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the FinSpace Dataset where the Changeset is created.</p>"
          }
        },
        "changesetId": {
          "target": "com.amazonaws.finspacedata#ChangesetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Changeset that is created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from a CreateChangeset operation."
      }
    },
    "com.amazonaws.finspacedata#CreateDataView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#CreateDataViewRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#CreateDataViewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#LimitExceededException"
        },
        {
          "target": "com.amazonaws.finspacedata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Dataview for a Dataset.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/datasets/{datasetId}/dataviewsv2",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#CreateDataViewRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "datasetId": {
          "target": "com.amazonaws.finspacedata#DatasetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique Dataset identifier that is used to create a Dataview.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "autoUpdate": {
          "target": "com.amazonaws.finspacedata#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Flag to indicate Dataview should be updated automatically.</p>"
          }
        },
        "sortColumns": {
          "target": "com.amazonaws.finspacedata#SortColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Columns to be used for sorting the data.</p>"
          }
        },
        "partitionColumns": {
          "target": "com.amazonaws.finspacedata#PartitionColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Ordered set of column names used to partition data.</p>"
          }
        },
        "asOfTimestamp": {
          "target": "com.amazonaws.finspacedata#TimestampEpoch",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Beginning time to use for the Dataview. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
          }
        },
        "destinationTypeParams": {
          "target": "com.amazonaws.finspacedata#DataViewDestinationTypeParams",
          "traits": {
            "smithy.api#documentation": "<p>Options that define the destination type for the Dataview.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for creating a data view."
      }
    },
    "com.amazonaws.finspacedata#CreateDataViewResponse": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "com.amazonaws.finspacedata#DatasetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Dataset used for the Dataview.</p>"
          }
        },
        "dataViewId": {
          "target": "com.amazonaws.finspacedata#DataViewId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the created Dataview.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for creating a data view."
      }
    },
    "com.amazonaws.finspacedata#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#LimitExceededException"
        },
        {
          "target": "com.amazonaws.finspacedata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new FinSpace Dataset.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/datasetsv2",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "datasetTitle": {
          "target": "com.amazonaws.finspacedata#DatasetTitle",
          "traits": {
            "smithy.api#documentation": "<p>Display title for a FinSpace Dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.amazonaws.finspacedata#DatasetKind",
          "traits": {
            "smithy.api#documentation": "<p>The format in which Dataset data is structured.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>TABULAR</code> – Data is structured in a tabular format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NON_TABULAR</code> – Data is structured in a non-tabular format.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "datasetDescription": {
          "target": "com.amazonaws.finspacedata#DatasetDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description of a Dataset.</p>"
          }
        },
        "ownerInfo": {
          "target": "com.amazonaws.finspacedata#DatasetOwnerInfo",
          "traits": {
            "smithy.api#documentation": "<p>Contact information for a Dataset owner.</p>"
          }
        },
        "permissionGroupParams": {
          "target": "com.amazonaws.finspacedata#PermissionGroupParams",
          "traits": {
            "smithy.api#documentation": "<p>Permission group parameters for Dataset permissions.</p>",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "com.amazonaws.finspacedata#AliasString",
          "traits": {
            "smithy.api#documentation": "<p>The unique resource identifier for a Dataset.</p>"
          }
        },
        "schemaDefinition": {
          "target": "com.amazonaws.finspacedata#SchemaUnion",
          "traits": {
            "smithy.api#documentation": "<p>Definition for a schema on a tabular Dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for a CreateDataset operation"
      }
    },
    "com.amazonaws.finspacedata#CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "com.amazonaws.finspacedata#DatasetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the created Dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from a CreateDataset operation"
      }
    },
    "com.amazonaws.finspacedata#CreatePermissionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#CreatePermissionGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#CreatePermissionGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#LimitExceededException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a group of permissions for various actions that a user can perform in FinSpace.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/permission-group",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#CreatePermissionGroupRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.finspacedata#PermissionGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the permission group.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.finspacedata#PermissionGroupDescription",
          "traits": {
            "smithy.api#documentation": "<p>A brief description for the permission group.</p>"
          }
        },
        "applicationPermissions": {
          "target": "com.amazonaws.finspacedata#ApplicationPermissionList",
          "traits": {
            "smithy.api#documentation": "<p>The option to indicate FinSpace application permissions that are granted to a specific group.</p>\n         <important>\n            <p>When assigning application permissions, be aware that the permission <code>ManageUsersAndGroups</code> allows users to grant themselves or others access to any functionality in their FinSpace environment's application. It should only be granted to trusted users.</p>\n         </important>\n         <ul>\n            <li>\n               <p>\n                  <code>CreateDataset</code> – Group members can create new datasets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ManageClusters</code> – Group members can manage Apache Spark clusters from FinSpace notebooks.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ManageUsersAndGroups</code> – Group members can manage users and permission groups. This is a privileged permission that allows users to grant themselves or others access to any functionality in the application. It should only be granted to trusted users.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ManageAttributeSets</code> – Group members can manage attribute sets.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ViewAuditData</code> – Group members can view audit data.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AccessNotebooks</code> – Group members will have access to FinSpace notebooks.</p>\n            </li>\n            <li>\n               <p>\n                  <code>GetTemporaryCredentials</code> – Group members can get temporary API credentials.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.finspacedata#CreatePermissionGroupResponse": {
      "type": "structure",
      "members": {
        "permissionGroupId": {
          "target": "com.amazonaws.finspacedata#PermissionGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the permission group.</p>"
          }
        }
      }
    },
    "com.amazonaws.finspacedata#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#LimitExceededException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new user in FinSpace.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#CreateUserRequest": {
      "type": "structure",
      "members": {
        "emailAddress": {
          "target": "com.amazonaws.finspacedata#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the user that you want to register. The email address serves as a uniquer identifier for each user and cannot be changed after it's created.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.finspacedata#UserType",
          "traits": {
            "smithy.api#documentation": "<p>The option to indicate the type of user. Use one of the following options to specify this parameter:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SUPER_USER</code> – A user with permission to all the functionality and data in FinSpace.</p>\n            </li>\n            <li>\n               <p>\n                  <code>APP_USER</code> – A user with specific permissions in FinSpace. The users are assigned permissions by adding them to a permission group.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "firstName": {
          "target": "com.amazonaws.finspacedata#FirstName",
          "traits": {
            "smithy.api#documentation": "<p>The first name of the user that you want to register.</p>"
          }
        },
        "lastName": {
          "target": "com.amazonaws.finspacedata#LastName",
          "traits": {
            "smithy.api#documentation": "<p>The last name of the user that you want to register.</p>"
          }
        },
        "ApiAccess": {
          "target": "com.amazonaws.finspacedata#ApiAccess",
          "traits": {
            "smithy.api#documentation": "<p>The option to indicate whether the user can use the <code>GetProgrammaticAccessCredentials</code> API to obtain credentials that can then be used to access other FinSpace Data API operations.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ENABLED</code> – The user has permissions to use the APIs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLED</code> – The user does not have permissions to use any APIs.</p>\n            </li>\n         </ul>"
          }
        },
        "apiAccessPrincipalArn": {
          "target": "com.amazonaws.finspacedata#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN identifier of an AWS user or role that is allowed to call the <code>GetProgrammaticAccessCredentials</code> API to obtain a credentials token for a specific FinSpace user. This must be an IAM role within your FinSpace account.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.finspacedata#CreateUserResponse": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "com.amazonaws.finspacedata#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the user.</p>"
          }
        }
      }
    },
    "com.amazonaws.finspacedata#Credentials": {
      "type": "structure",
      "members": {
        "accessKeyId": {
          "target": "com.amazonaws.finspacedata#StringValueLength1to2552",
          "traits": {
            "smithy.api#documentation": "<p>The access key identifier.</p>"
          }
        },
        "secretAccessKey": {
          "target": "com.amazonaws.finspacedata#stringValueMaxLength1000",
          "traits": {
            "smithy.api#documentation": "<p>The access key.</p>"
          }
        },
        "sessionToken": {
          "target": "com.amazonaws.finspacedata#stringValueMaxLength1000",
          "traits": {
            "smithy.api#documentation": "<p>The session token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Short term API credentials.</p>"
      }
    },
    "com.amazonaws.finspacedata#DataViewArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Arn of a DataView"
      }
    },
    "com.amazonaws.finspacedata#DataViewDestinationType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "DataView Destination Type"
      }
    },
    "com.amazonaws.finspacedata#DataViewDestinationTypeParams": {
      "type": "structure",
      "members": {
        "destinationType": {
          "target": "com.amazonaws.finspacedata#DataViewDestinationType",
          "traits": {
            "smithy.api#documentation": "<p>Destination type for a Dataview.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>GLUE_TABLE</code> – Glue table destination type.</p>\n            </li>\n            <li>\n               <p>\n                  <code>S3</code> – S3 destination type.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "s3DestinationExportFileFormat": {
          "target": "com.amazonaws.finspacedata#ExportFileFormat",
          "traits": {
            "smithy.api#documentation": "<p>Dataview export file format.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PARQUET</code> – Parquet export file format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELIMITED_TEXT</code> – Delimited text export file format.</p>\n            </li>\n         </ul>"
          }
        },
        "s3DestinationExportFileFormatOptions": {
          "target": "com.amazonaws.finspacedata#S3DestinationFormatOptions",
          "traits": {
            "smithy.api#documentation": "<p>Format Options for S3 Destination type.</p>\n         <p>Here is an example of how you could specify the <code>s3DestinationExportFileFormatOptions</code> \n         </p>\n         <p>\n            <code>\n        {\n        \"header\": \"true\",\n        \"delimiter\": \",\",\n        \"compression\": \"gzip\"\n        }</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure for the Dataview destination type parameters.</p>"
      }
    },
    "com.amazonaws.finspacedata#DataViewErrorInfo": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "com.amazonaws.finspacedata#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The text of the error message.</p>"
          }
        },
        "errorCategory": {
          "target": "com.amazonaws.finspacedata#ErrorCategory",
          "traits": {
            "smithy.api#documentation": "<p>The category of the error.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>VALIDATION</code> – The inputs to this request are invalid.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SERVICE_QUOTA_EXCEEDED</code> – Service quotas have been exceeded. Please\n          contact AWS support to increase quotas.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACCESS_DENIED</code> – Missing required permission to perform this\n          request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RESOURCE_NOT_FOUND</code> – One or more inputs to this request were not\n          found.</p>\n            </li>\n            <li>\n               <p>\n                  <code>THROTTLING</code> – The system temporarily lacks sufficient resources to process\n          the request.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INTERNAL_SERVICE_EXCEPTION</code> – An internal service error has\n          occurred.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> – Cancelled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_RECOVERABLE</code> – A user recoverable error has occurred.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure with error messages.</p>"
      }
    },
    "com.amazonaws.finspacedata#DataViewId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "DataView ID",
        "smithy.api#length": {
          "min": 1,
          "max": 26
        }
      }
    },
    "com.amazonaws.finspacedata#DataViewList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.finspacedata#DataViewSummary"
      },
      "traits": {
        "smithy.api#documentation": "List of Data Views"
      }
    },
    "com.amazonaws.finspacedata#DataViewStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Status of a DataView",
        "smithy.api#enum": [
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          },
          {
            "value": "TIMEOUT",
            "name": "TIMEOUT"
          },
          {
            "value": "SUCCESS",
            "name": "SUCCESS"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "FAILED_CLEANUP_FAILED",
            "name": "FAILED_CLEANUP_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.finspacedata#DataViewSummary": {
      "type": "structure",
      "members": {
        "dataViewId": {
          "target": "com.amazonaws.finspacedata#DataViewId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the Dataview.</p>"
          }
        },
        "dataViewArn": {
          "target": "com.amazonaws.finspacedata#DataViewArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN identifier of the Dataview.</p>"
          }
        },
        "datasetId": {
          "target": "com.amazonaws.finspacedata#DatasetId",
          "traits": {
            "smithy.api#documentation": "<p>Th unique identifier for the Dataview Dataset.</p>"
          }
        },
        "asOfTimestamp": {
          "target": "com.amazonaws.finspacedata#TimestampEpoch",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Time range to use for the Dataview. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
          }
        },
        "partitionColumns": {
          "target": "com.amazonaws.finspacedata#PartitionColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Ordered set of column names used to partition data.</p>"
          }
        },
        "sortColumns": {
          "target": "com.amazonaws.finspacedata#SortColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Columns to be used for sorting the data.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.finspacedata#DataViewStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a Dataview creation.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>RUNNING</code> – Dataview creation is running.</p> \n            </li>\n            <li>\n               <p>\n                  <code>STARTING</code> – Dataview creation is starting.</p> \n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> – Dataview creation has failed.</p> \n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> – Dataview creation has been cancelled.</p> \n            </li>\n            <li>\n               <p>\n                  <code>TIMEOUT</code> – Dataview creation has timed out.</p> \n            </li>\n            <li>\n               <p>\n                  <code>SUCCESS</code> – Dataview creation has succeeded.</p> \n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> – Dataview creation is pending.</p> \n            </li>\n            <li>\n               <p>\n                  <code>FAILED_CLEANUP_FAILED</code> – Dataview creation failed and resource cleanup failed.</p> \n            </li>\n         </ul>"
          }
        },
        "errorInfo": {
          "target": "com.amazonaws.finspacedata#DataViewErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p>The structure with error messages.</p>"
          }
        },
        "destinationTypeProperties": {
          "target": "com.amazonaws.finspacedata#DataViewDestinationTypeParams",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Dataview destination.</p>"
          }
        },
        "autoUpdate": {
          "target": "com.amazonaws.finspacedata#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The flag to indicate Dataview should be updated automatically.</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.finspacedata#TimestampEpoch",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The timestamp at which the Dataview was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
          }
        },
        "lastModifiedTime": {
          "target": "com.amazonaws.finspacedata#TimestampEpoch",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The last time that a Dataview was modified. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure for the summary of a Dataview.</p>"
      }
    },
    "com.amazonaws.finspacedata#Dataset": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "com.amazonaws.finspacedata#DatasetId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for a Dataset.</p>"
          }
        },
        "datasetArn": {
          "target": "com.amazonaws.finspacedata#DatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN identifier of the Dataset.</p>"
          }
        },
        "datasetTitle": {
          "target": "com.amazonaws.finspacedata#DatasetTitle",
          "traits": {
            "smithy.api#documentation": "<p>Display title for a Dataset.</p>"
          }
        },
        "kind": {
          "target": "com.amazonaws.finspacedata#DatasetKind",
          "traits": {
            "smithy.api#documentation": "<p>The format in which Dataset data is structured.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>TABULAR</code> – Data is structured in a tabular format.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NON_TABULAR</code> – Data is structured in a non-tabular format.</p>\n            </li>\n         </ul>"
          }
        },
        "datasetDescription": {
          "target": "com.amazonaws.finspacedata#DatasetDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description for a Dataset.</p>"
          }
        },
        "ownerInfo": {
          "target": "com.amazonaws.finspacedata#DatasetOwnerInfo",
          "traits": {
            "smithy.api#documentation": "<p>Contact information for a Dataset owner.</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.finspacedata#TimestampEpoch",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The timestamp at which the Dataset was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
          }
        },
        "lastModifiedTime": {
          "target": "com.amazonaws.finspacedata#TimestampEpoch",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The last time that the Dataset was modified. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
          }
        },
        "schemaDefinition": {
          "target": "com.amazonaws.finspacedata#SchemaUnion",
          "traits": {
            "smithy.api#documentation": "<p>Definition for a schema on a tabular Dataset.</p>"
          }
        },
        "alias": {
          "target": "com.amazonaws.finspacedata#AliasString",
          "traits": {
            "smithy.api#documentation": "<p>The unique resource identifier for a Dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure for a Dataset.</p>"
      }
    },
    "com.amazonaws.finspacedata#DatasetArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Arn of a Dataset"
      }
    },
    "com.amazonaws.finspacedata#DatasetDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Description of a dataset",
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.finspacedata#DatasetId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "ID for a given Dataset",
        "smithy.api#length": {
          "min": 1,
          "max": 26
        }
      }
    },
    "com.amazonaws.finspacedata#DatasetKind": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Dataset Kind",
        "smithy.api#enum": [
          {
            "value": "TABULAR",
            "name": "TABULAR"
          },
          {
            "value": "NON_TABULAR",
            "name": "NON_TABULAR"
          }
        ]
      }
    },
    "com.amazonaws.finspacedata#DatasetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.finspacedata#Dataset"
      },
      "traits": {
        "smithy.api#documentation": "List of Dataset structures"
      }
    },
    "com.amazonaws.finspacedata#DatasetOwnerInfo": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.finspacedata#OwnerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Dataset owner.</p>"
          }
        },
        "phoneNumber": {
          "target": "com.amazonaws.finspacedata#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>Phone number for the Dataset owner.</p>"
          }
        },
        "email": {
          "target": "com.amazonaws.finspacedata#Email",
          "traits": {
            "smithy.api#documentation": "<p>Email address for the Dataset owner.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure for Dataset owner info.</p>"
      }
    },
    "com.amazonaws.finspacedata#DatasetStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Status of the dataset process returned from scheduler service.",
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SUCCESS",
            "name": "SUCCESS"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          }
        ]
      }
    },
    "com.amazonaws.finspacedata#DatasetTitle": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Title for a given Dataset",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.finspacedata#DeleteDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#DeleteDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#DeleteDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#LimitExceededException"
        },
        {
          "target": "com.amazonaws.finspacedata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a FinSpace Dataset.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/datasetsv2/{datasetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#DeleteDatasetRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        },
        "datasetId": {
          "target": "com.amazonaws.finspacedata#DatasetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Dataset to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for a DeleteDataset operation."
      }
    },
    "com.amazonaws.finspacedata#DeleteDatasetResponse": {
      "type": "structure",
      "members": {
        "datasetId": {
          "target": "com.amazonaws.finspacedata#DatasetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the deleted Dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response from an DeleteDataset operation"
      }
    },
    "com.amazonaws.finspacedata#DeletePermissionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#DeletePermissionGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#DeletePermissionGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#LimitExceededException"
        },
        {
          "target": "com.amazonaws.finspacedata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a permission group. This action is irreversible.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/permission-group/{permissionGroupId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#DeletePermissionGroupRequest": {
      "type": "structure",
      "members": {
        "permissionGroupId": {
          "target": "com.amazonaws.finspacedata#PermissionGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the permission group that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.finspacedata#DeletePermissionGroupResponse": {
      "type": "structure",
      "members": {
        "permissionGroupId": {
          "target": "com.amazonaws.finspacedata#PermissionGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the deleted permission group.</p>"
          }
        }
      }
    },
    "com.amazonaws.finspacedata#DisableUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#DisableUserRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#DisableUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Denies access to the FinSpace web application and API for the specified user.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/{userId}/disable",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#DisableUserRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "com.amazonaws.finspacedata#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the user account that you want to disable.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.finspacedata#DisableUserResponse": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "com.amazonaws.finspacedata#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the disabled user account.</p>"
          }
        }
      }
    },
    "com.amazonaws.finspacedata#DisassociateUserFromPermissionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#DisassociateUserFromPermissionGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#DisassociateUserFromPermissionGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a user account from a permission group.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/permission-group/{permissionGroupId}/users/{userId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#DisassociateUserFromPermissionGroupRequest": {
      "type": "structure",
      "members": {
        "permissionGroupId": {
          "target": "com.amazonaws.finspacedata#PermissionGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the permission group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.finspacedata#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the user.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.finspacedata#DisassociateUserFromPermissionGroupResponse": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "com.amazonaws.finspacedata#StatusCode",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The returned status code of the response.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      }
    },
    "com.amazonaws.finspacedata#Email": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 320
        },
        "smithy.api#pattern": "^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.finspacedata#EnableUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.finspacedata#EnableUserRequest"
      },
      "output": {
        "target": "com.amazonaws.finspacedata#EnableUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.finspacedata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.finspacedata#ConflictException"
        },
        {
          "target": "com.amazonaws.finspacedata#InternalServerException"
        },
        {
          "target": "com.amazonaws.finspacedata#LimitExceededException"
        },
        {
          "target": "com.amazonaws.finspacedata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.finspacedata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.finspacedata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Allows the specified user to access the FinSpace web application and API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/user/{userId}/enable",
          "code": 200
        }
      }
    },
    "com.amazonaws.finspacedata#EnableUserRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "com.amazonaws.finspacedata#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the user account that you want to enable.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.finspacedata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.finspacedata#EnableUserResponse": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "com.amazonaws.finspacedata#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the enabled user account.</p>"
          }
        }
      }
    },
    "com.amazonaws.finspacedata#ErrorCategory": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Changeset Error Category",
        "smithy.api#enum": [
          {
            "value": "VALIDATION",
            "name": "VALIDATION"
          },
          {
            "value": "SERVICE_QUOTA_EXCEEDED",
            "name": "SERVICE_QUOTA_EXCEEDED"
          },
          {
            "value": "ACCESS_DENIED",
[...]
