{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.firehose#AWSKMSKeyARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^arn:.*:kms:[a-zA-Z0-9\\-]+:\\d{12}:(key|alias)/[a-zA-Z_0-9+=,.@\\-_/]+$"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingHints": {
      "type": "structure",
      "members": {
        "IntervalInSeconds": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingIntervalInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it\n         to the destination. The default value is 300 (5 minutes).</p>"
          }
        },
        "SizeInMBs": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingSizeInMBs",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the\n         destination. The default value is 5. </p>\n         <p>We recommend setting this parameter to a value greater than the amount of data you\n         typically ingest into the Firehose stream in 10 seconds. For example, if you typically\n         ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the buffering to perform before delivering data to the Serverless offering for\n         Amazon OpenSearch Service destination.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingIntervalInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 900
        }
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingSizeInMBs": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessCollectionEndpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^https:"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessDestinationConfiguration": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Firehose\n         for calling the Serverless offering for Amazon OpenSearch Service Configuration API and for\n         indexing documents.</p>",
            "smithy.api#required": {}
          }
        },
        "CollectionEndpoint": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessCollectionEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the collection in the Serverless offering\n         for Amazon OpenSearch Service.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Serverless offering for Amazon OpenSearch Service index name.</p>",
            "smithy.api#required": {}
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified, the default values for\n         AmazonopensearchserviceBufferingHints are used.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Firehose is unable to deliver documents to the\n         Serverless offering for Amazon OpenSearch Service. The default value is 300 (5\n         minutes).</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>Defines how documents should be delivered to Amazon S3. When it is set to\n         FailedDocumentsOnly, Firehose writes any documents that could not be indexed\n         to the configured Amazon S3 destination, with AmazonOpenSearchService-failed/ appended to\n         the key prefix. When set to AllDocuments, Firehose delivers all incoming\n         records to Amazon S3, and also writes failed documents with AmazonOpenSearchService-failed/\n         appended to the prefix.</p>"
          }
        },
        "S3Configuration": {
          "target": "com.amazonaws.firehose#S3DestinationConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.firehose#VpcConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of a destination in the Serverless offering for Amazon\n         OpenSearch Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessDestinationDescription": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services credentials.</p>"
          }
        },
        "CollectionEndpoint": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessCollectionEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the collection in the Serverless offering\n         for Amazon OpenSearch Service.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Serverless offering for Amazon OpenSearch Service index name.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Serverless offering for Amazon OpenSearch Service retry options.</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 backup mode.</p>"
          }
        },
        "S3DestinationDescription": {
          "target": "com.amazonaws.firehose#S3DestinationDescription"
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        },
        "VpcConfigurationDescription": {
          "target": "com.amazonaws.firehose#VpcConfigurationDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination description in the Serverless offering for Amazon OpenSearch\n         Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessDestinationUpdate": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Firehose\n         for calling the Serverless offering for Amazon OpenSearch Service Configuration API and for\n         indexing documents.</p>"
          }
        },
        "CollectionEndpoint": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessCollectionEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the collection in the Serverless offering\n         for Amazon OpenSearch Service.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Serverless offering for Amazon OpenSearch Service index name.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified, AmazonopensearchBufferingHints object\n         default values are used.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Firehose is unable to deliver documents to the\n         Serverless offering for Amazon OpenSearch Service. The default value is 300 (5\n         minutes).</p>"
          }
        },
        "S3Update": {
          "target": "com.amazonaws.firehose#S3DestinationUpdate"
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an update for a destination in the Serverless offering for Amazon OpenSearch\n         Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessIndexName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 80
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryDurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 7200
        }
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryOptions": {
      "type": "structure",
      "members": {
        "DurationInSeconds": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>After an initial failure to deliver to the Serverless offering for Amazon OpenSearch\n         Service, the total amount of time during which Firehose retries delivery\n         (including the first attempt). After this time has elapsed, the failed documents are\n         written to Amazon S3. Default value is 300 seconds (5 minutes). A value of 0 (zero) results\n         in no retries.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures retry behavior in case Firehose is unable to deliver documents\n         to the Serverless offering for Amazon OpenSearch Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessS3BackupMode": {
      "type": "enum",
      "members": {
        "FailedDocumentsOnly": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailedDocumentsOnly"
          }
        },
        "AllDocuments": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllDocuments"
          }
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceBufferingHints": {
      "type": "structure",
      "members": {
        "IntervalInSeconds": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceBufferingIntervalInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it\n         to the destination. The default value is 300 (5 minutes). </p>"
          }
        },
        "SizeInMBs": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceBufferingSizeInMBs",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the\n         destination. The default value is 5.</p>\n         <p>We recommend setting this parameter to a value greater than the amount of data you\n         typically ingest into the Firehose stream in 10 seconds. For example, if you typically\n         ingest data at 1 MB/sec, the value should be 10 MB or higher. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the buffering to perform before delivering data to the Amazon OpenSearch\n         Service destination. </p>"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceBufferingIntervalInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 900
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceBufferingSizeInMBs": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceClusterEndpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^https:"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceDestinationConfiguration": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Firehose\n         for calling the Amazon OpenSearch Service Configuration API and for indexing\n         documents.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon OpenSearch Service domain. The IAM role must have permissions for\n         DescribeElasticsearchDomain, DescribeElasticsearchDomains, and\n         DescribeElasticsearchDomainConfig after assuming the role specified in RoleARN. </p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Specify either this\n         ClusterEndpoint or the DomainARN field. </p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The ElasticsearAmazon OpenSearch Service index name.</p>",
            "smithy.api#required": {}
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service type name. For Elasticsearch 6.x, there can be only one\n         type per index. If you try to specify a new type for an existing index that already has\n         another type, Firehose returns an error during run time. </p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service index rotation period. Index rotation appends a timestamp\n         to the IndexName to facilitate the expiration of old data.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified, the default values for\n         AmazonopensearchserviceBufferingHints are used. </p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Firehose is unable to deliver documents to\n         Amazon OpenSearch Service. The default value is 300 (5 minutes). </p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>Defines how documents should be delivered to Amazon S3. When it is set to\n         FailedDocumentsOnly, Firehose writes any documents that could not be indexed\n         to the configured Amazon S3 destination, with AmazonOpenSearchService-failed/ appended to\n         the key prefix. When set to AllDocuments, Firehose delivers all incoming\n         records to Amazon S3, and also writes failed documents with AmazonOpenSearchService-failed/\n         appended to the prefix. </p>"
          }
        },
        "S3Configuration": {
          "target": "com.amazonaws.firehose#S3DestinationConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.firehose#VpcConfiguration"
        },
        "DocumentIdOptions": {
          "target": "com.amazonaws.firehose#DocumentIdOptions",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the method for setting up document ID. The supported methods are Firehose generated document ID and OpenSearch Service generated document ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of a destination in Amazon OpenSearch Service</p>"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceDestinationDescription": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services credentials. </p>"
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon OpenSearch Service domain.</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Firehose uses\n         either this ClusterEndpoint or the DomainARN field to send data to Amazon OpenSearch\n         Service. </p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service index name.</p>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service type name. This applies to Elasticsearch 6.x and lower\n         versions. For Elasticsearch 7.x and OpenSearch Service 1.x, there's no value for TypeName. </p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service index rotation period</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service retry options.</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 backup mode.</p>"
          }
        },
        "S3DestinationDescription": {
          "target": "com.amazonaws.firehose#S3DestinationDescription"
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        },
        "VpcConfigurationDescription": {
          "target": "com.amazonaws.firehose#VpcConfigurationDescription"
        },
        "DocumentIdOptions": {
          "target": "com.amazonaws.firehose#DocumentIdOptions",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the method for setting up document ID. The supported methods are Firehose generated document ID and OpenSearch Service generated document ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination description in Amazon OpenSearch Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceDestinationUpdate": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Firehose\n         for calling the Amazon OpenSearch Service Configuration API and for indexing documents.\n      </p>"
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon OpenSearch Service domain. The IAM role must have permissions for\n         DescribeDomain, DescribeDomains, and DescribeDomainConfig after assuming the IAM role\n         specified in RoleARN.</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Specify either this\n         ClusterEndpoint or the DomainARN field. </p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service index name.</p>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service type name. For Elasticsearch 6.x, there can be only one\n         type per index. If you try to specify a new type for an existing index that already has\n         another type, Firehose returns an error during runtime. </p>\n         <p>If you upgrade Elasticsearch from 6.x to 7.x and don’t update your Firehose stream,\n         Firehose still delivers data to Elasticsearch with the old index name and type\n         name. If you want to update your Firehose stream with a new index name, provide an empty\n         string for TypeName. </p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service index rotation period. Index rotation appends a timestamp\n         to IndexName to facilitate the expiration of old data.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified, AmazonopensearchBufferingHints object\n         default values are used. </p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Firehose is unable to deliver documents to\n         Amazon OpenSearch Service. The default value is 300 (5 minutes). </p>"
          }
        },
        "S3Update": {
          "target": "com.amazonaws.firehose#S3DestinationUpdate"
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        },
        "DocumentIdOptions": {
          "target": "com.amazonaws.firehose#DocumentIdOptions",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the method for setting up document ID. The supported methods are Firehose generated document ID and OpenSearch Service generated document ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an update for a destination in Amazon OpenSearch Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceDomainARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^arn:.*:es:[a-zA-Z0-9\\-]+:\\d{12}:domain/[a-z][-0-9a-z]{2,27}$"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceIndexName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 80
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceIndexRotationPeriod": {
      "type": "enum",
      "members": {
        "NoRotation": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoRotation"
          }
        },
        "OneHour": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneHour"
          }
        },
        "OneDay": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneDay"
          }
        },
        "OneWeek": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneWeek"
          }
        },
        "OneMonth": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneMonth"
          }
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceRetryDurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 7200
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceRetryOptions": {
      "type": "structure",
      "members": {
        "DurationInSeconds": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceRetryDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>After an initial failure to deliver to Amazon OpenSearch Service, the total amount of\n         time during which Firehose retries delivery (including the first attempt).\n         After this time has elapsed, the failed documents are written to Amazon S3. Default value\n         is 300 seconds (5 minutes). A value of 0 (zero) results in no retries. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures retry behavior in case Firehose is unable to deliver documents\n         to Amazon OpenSearch Service. </p>"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceS3BackupMode": {
      "type": "enum",
      "members": {
        "FailedDocumentsOnly": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailedDocumentsOnly"
          }
        },
        "AllDocuments": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllDocuments"
          }
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceTypeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#AuthenticationConfiguration": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role used to access the Amazon MSK cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "Connectivity": {
          "target": "com.amazonaws.firehose#Connectivity",
          "traits": {
            "smithy.api#documentation": "<p>The type of connectivity used to access the Amazon MSK cluster.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authentication configuration of the Amazon MSK cluster.</p>"
      }
    },
    "com.amazonaws.firehose#BlockSizeBytes": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 67108864
        }
      }
    },
    "com.amazonaws.firehose#BooleanObject": {
      "type": "boolean"
    },
    "com.amazonaws.firehose#BucketARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:.*:s3:::[\\w\\.\\-]{1,255}$"
      }
    },
    "com.amazonaws.firehose#BufferingHints": {
      "type": "structure",
      "members": {
        "SizeInMBs": {
          "target": "com.amazonaws.firehose#SizeInMBs",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data to the specified size, in MiBs, before delivering it to the\n         destination. The default value is 5. This parameter is optional but if you specify a value\n         for it, you must also specify a value for <code>IntervalInSeconds</code>, and vice\n         versa.</p>\n         <p>We recommend setting this parameter to a value greater than the amount of data you\n         typically ingest into the Firehose stream in 10 seconds. For example, if you typically\n         ingest data at 1 MiB/sec, the value should be 10 MiB or higher.</p>"
          }
        },
        "IntervalInSeconds": {
          "target": "com.amazonaws.firehose#IntervalInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering\n         it to the destination. The default value is 300. This parameter is optional but if you\n         specify a value for it, you must also specify a value for <code>SizeInMBs</code>, and vice\n         versa.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes hints for the buffering to perform before delivering data to the\n         destination. These options are treated as hints, and therefore Firehose might\n         choose to use different values when it is optimal. The <code>SizeInMBs</code> and\n            <code>IntervalInSeconds</code> parameters are optional. However, if specify a value for\n         one of them, you must also provide a value for the other.</p>"
      }
    },
    "com.amazonaws.firehose#CatalogConfiguration": {
      "type": "structure",
      "members": {
        "CatalogARN": {
          "target": "com.amazonaws.firehose#GlueDataCatalogARN",
          "traits": {
            "smithy.api#documentation": "<p>\n         Specifies the Glue catalog ARN identifier of the destination Apache Iceberg Tables. You must specify the ARN in the format <code>arn:aws:glue:region:account-id:catalog</code>.\n      </p>"
          }
        },
        "WarehouseLocation": {
          "target": "com.amazonaws.firehose#WarehouseLocation",
          "traits": {
            "smithy.api#documentation": "<p>The warehouse location for Apache Iceberg tables. You must configure this when schema\n         evolution and table creation is enabled.</p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Describes the containers where the destination Apache Iceberg Tables are persisted.\n      </p>"
      }
    },
    "com.amazonaws.firehose#CloudWatchLoggingOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables CloudWatch logging.</p>"
          }
        },
        "LogGroupName": {
          "target": "com.amazonaws.firehose#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging\n         is enabled.</p>"
          }
        },
        "LogStreamName": {
          "target": "com.amazonaws.firehose#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch\n         logging is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the Amazon CloudWatch logging options for your Firehose stream.</p>"
      }
    },
    "com.amazonaws.firehose#ClusterJDBCURL": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+(redshift(-serverless)?)\\.([a-zA-Z0-9\\.\\-]+):\\d{1,5}/[a-zA-Z0-9_$-]+$"
      }
    },
    "com.amazonaws.firehose#ColumnToJsonKeyMappings": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.firehose#NonEmptyStringWithoutWhitespace"
      },
      "value": {
        "target": "com.amazonaws.firehose#NonEmptyString"
      }
    },
    "com.amazonaws.firehose#CompressionFormat": {
      "type": "enum",
      "members": {
        "UNCOMPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCOMPRESSED"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GZIP"
          }
        },
        "ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZIP"
          }
        },
        "SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Snappy"
          }
        },
        "HADOOP_SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HADOOP_SNAPPY"
          }
        }
      }
    },
    "com.amazonaws.firehose#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.firehose#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another modification has already happened. Fetch <code>VersionId</code> again and use\n         it to update the destination.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.firehose#Connectivity": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        }
      }
    },
    "com.amazonaws.firehose#ContentEncoding": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GZIP"
          }
        }
      }
    },
    "com.amazonaws.firehose#CopyCommand": {
      "type": "structure",
      "members": {
        "DataTableName": {
          "target": "com.amazonaws.firehose#DataTableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target table. The table must already exist in the database.</p>",
            "smithy.api#required": {}
          }
        },
        "DataTableColumns": {
          "target": "com.amazonaws.firehose#DataTableColumns",
          "traits": {
            "smithy.api#documentation": "<p>A comma-separated list of column names.</p>"
          }
        },
        "CopyOptions": {
          "target": "com.amazonaws.firehose#CopyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For\n         more information, see the \"Optional Parameters\" section of <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible\n         examples that would apply to Firehose are as follows:</p>\n         <p>\n            <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and\n         compressed using lzop.</p>\n         <p>\n            <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default\n         delimiter).</p>\n         <p>\n            <code>delimiter '|' escape</code> - the delimiter should be escaped.</p>\n         <p>\n            <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> -\n         fields are fixed width in the source, with each width specified after every column in the\n         table.</p>\n         <p>\n            <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path\n         specified is the format of the data.</p>\n         <p>For more examples, see <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command\n            examples</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a <code>COPY</code> command for Amazon Redshift.</p>"
      }
    },
    "com.amazonaws.firehose#CopyOptions": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10240
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#CreateDeliveryStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.firehose#CreateDeliveryStreamInput"
      },
      "output": {
        "target": "com.amazonaws.firehose#CreateDeliveryStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.firehose#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.firehose#InvalidKMSResourceException"
        },
        {
          "target": "com.amazonaws.firehose#LimitExceededException"
        },
        {
          "target": "com.amazonaws.firehose#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Firehose stream.</p>\n         <p>By default, you can create up to 5,000 Firehose streams per Amazon Web Services\n         Region.</p>\n         <p>This is an asynchronous operation that immediately returns. The initial status of the\n         Firehose stream is <code>CREATING</code>. After the Firehose stream is created, its status\n         is <code>ACTIVE</code> and it now accepts data. If the Firehose stream creation fails, the\n         status transitions to <code>CREATING_FAILED</code>. Attempts to send data to a delivery\n         stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state\n         of a Firehose stream, use <a>DescribeDeliveryStream</a>.</p>\n         <p>If the status of a Firehose stream is <code>CREATING_FAILED</code>, this status\n         doesn't change, and you can't invoke <code>CreateDeliveryStream</code> again on it.\n         However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete\n         it.</p>\n         <p>A Firehose stream can be configured to receive records directly\n         from providers using <a>PutRecord</a> or <a>PutRecordBatch</a>, or it\n         can be configured to use an existing Kinesis stream as its source. To specify a Kinesis\n         data stream as input, set the <code>DeliveryStreamType</code> parameter to\n            <code>KinesisStreamAsSource</code>, and provide the Kinesis stream Amazon Resource Name\n         (ARN) and role ARN in the <code>KinesisStreamSourceConfiguration</code>\n         parameter.</p>\n         <p>To create a Firehose stream with server-side encryption (SSE) enabled, include <a>DeliveryStreamEncryptionConfigurationInput</a> in your request. This is\n         optional. You can also invoke <a>StartDeliveryStreamEncryption</a> to turn on\n         SSE for an existing Firehose stream that doesn't have SSE enabled.</p>\n         <p>A Firehose stream is configured with a single destination, such as Amazon Simple\n         Storage Service (Amazon S3), Amazon Redshift, Amazon OpenSearch Service, Amazon OpenSearch\n         Serverless, Splunk, and any custom HTTP endpoint or HTTP endpoints owned by or supported by\n         third-party service providers, including Datadog, Dynatrace, LogicMonitor, MongoDB, New\n         Relic, and Sumo Logic. You must specify only one of the following destination configuration\n         parameters: <code>ExtendedS3DestinationConfiguration</code>,\n            <code>S3DestinationConfiguration</code>,\n            <code>ElasticsearchDestinationConfiguration</code>,\n            <code>RedshiftDestinationConfiguration</code>, or\n            <code>SplunkDestinationConfiguration</code>.</p>\n         <p>When you specify <code>S3DestinationConfiguration</code>, you can also provide the\n         following optional values: BufferingHints, <code>EncryptionConfiguration</code>, and\n            <code>CompressionFormat</code>. By default, if no <code>BufferingHints</code> value is\n         provided, Firehose buffers data up to 5 MB or for 5 minutes, whichever\n         condition is satisfied first. <code>BufferingHints</code> is a hint, so there are some\n         cases where the service cannot adhere to these conditions strictly. For example, record\n         boundaries might be such that the size is a little over or under the configured buffering\n         size. By default, no encryption is performed. We strongly recommend that you enable\n         encryption to ensure secure data storage in Amazon S3.</p>\n         <p>A few notes about Amazon Redshift as a destination:</p>\n         <ul>\n            <li>\n               <p>An Amazon Redshift destination requires an S3 bucket as intermediate location.\n               Firehose first delivers data to Amazon S3 and then uses\n                  <code>COPY</code> syntax to load data into an Amazon Redshift table. This is\n               specified in the <code>RedshiftDestinationConfiguration.S3Configuration</code>\n               parameter.</p>\n            </li>\n            <li>\n               <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be\n               specified in <code>RedshiftDestinationConfiguration.S3Configuration</code> because\n               the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't\n               support these compression formats.</p>\n            </li>\n            <li>\n               <p>We strongly recommend that you use the user name and password you provide\n               exclusively with Firehose, and that the permissions for the account are\n               restricted for Amazon Redshift <code>INSERT</code> permissions.</p>\n            </li>\n         </ul>\n         <p>Firehose assumes the IAM role that is configured as part of the\n         destination. The role should allow the Firehose principal to assume the role,\n         and the role should have permissions that allow the service to deliver the data. For more\n         information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Firehose Access to an Amazon S3 Destination</a> in the <i>Amazon Firehose Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.firehose#CreateDeliveryStreamInput": {
      "type": "structure",
      "members": {
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Firehose stream. This name must be unique per Amazon Web Services\n         account in the same Amazon Web Services Region. If the Firehose streams are in different\n         accounts or different Regions, you can have multiple Firehose streams with the same\n         name.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryStreamType": {
          "target": "com.amazonaws.firehose#DeliveryStreamType",
          "traits": {
            "smithy.api#documentation": "<p>The Firehose stream type. This parameter can be one of the following\n         values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DirectPut</code>: Provider applications access the Firehose stream\n               directly.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KinesisStreamAsSource</code>: The Firehose stream uses a Kinesis data\n               stream as a source.</p>\n            </li>\n         </ul>"
          }
        },
        "DirectPutSourceConfiguration": {
          "target": "com.amazonaws.firehose#DirectPutSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The structure that configures parameters such as <code>ThroughputHintInMBs</code> for a\n         stream configured with Direct PUT as a source. </p>"
          }
        },
        "KinesisStreamSourceConfiguration": {
          "target": "com.amazonaws.firehose#KinesisStreamSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>When a Kinesis data stream is used as the source for the Firehose stream, a <a>KinesisStreamSourceConfiguration</a> containing the Kinesis data stream Amazon\n         Resource Name (ARN) and the role ARN for the source stream.</p>"
          }
        },
        "DeliveryStreamEncryptionConfigurationInput": {
          "target": "com.amazonaws.firehose#DeliveryStreamEncryptionConfigurationInput",
          "traits": {
            "smithy.api#documentation": "<p>Used to specify the type and Amazon Resource Name (ARN) of the KMS key needed for\n         Server-Side Encryption (SSE).</p>"
          }
        },
        "S3DestinationConfiguration": {
          "target": "com.amazonaws.firehose#S3DestinationConfiguration",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>[Deprecated]\n         The destination in Amazon S3. You can specify only one destination.</p>"
          }
        },
        "ExtendedS3DestinationConfiguration": {
          "target": "com.amazonaws.firehose#ExtendedS3DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon S3. You can specify only one destination.</p>"
          }
        },
        "RedshiftDestinationConfiguration": {
          "target": "com.amazonaws.firehose#RedshiftDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon Redshift. You can specify only one destination.</p>"
          }
        },
        "ElasticsearchDestinationConfiguration": {
          "target": "com.amazonaws.firehose#ElasticsearchDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon OpenSearch Service. You can specify only one destination.</p>"
          }
        },
        "AmazonopensearchserviceDestinationConfiguration": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon OpenSearch Service. You can specify only one\n         destination.</p>"
          }
        },
        "SplunkDestinationConfiguration": {
          "target": "com.amazonaws.firehose#SplunkDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Splunk. You can specify only one destination.</p>"
          }
        },
        "HttpEndpointDestinationConfiguration": {
          "target": "com.amazonaws.firehose#HttpEndpointDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Enables configuring Kinesis Firehose to deliver data to any HTTP endpoint destination.\n         You can specify only one destination.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.firehose#TagDeliveryStreamInputTagList",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags to assign to the Firehose stream. A tag is a key-value pair that you can\n         define and assign to Amazon Web Services resources. Tags are metadata. For example, you can\n         add friendly names and descriptions or other types of information that can help you\n         distinguish the Firehose stream. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using\n            Cost Allocation Tags</a> in the Amazon Web Services Billing and Cost Management User\n         Guide.</p>\n         <p>You can specify up to 50 tags when creating a Firehose stream.</p>\n         <p>If you specify tags in the <code>CreateDeliveryStream</code> action, Amazon Data\n         Firehose performs an additional authorization on the\n            <code>firehose:TagDeliveryStream</code> action to verify if users have permissions to\n         create tags. If you do not provide this permission, requests to create new Firehose streams\n         with IAM resource tags will fail with an <code>AccessDeniedException</code> such as\n         following.</p>\n         <p>\n            <b>AccessDeniedException</b>\n         </p>\n         <p>User: arn:aws:sts::x:assumed-role/x/x is not authorized to perform: firehose:TagDeliveryStream on resource: arn:aws:firehose:us-east-1:x:deliverystream/x with an explicit deny in an identity-based policy.</p>\n         <p>For an example IAM policy, see <a href=\"https://docs.aws.amazon.com/firehose/latest/APIReference/API_CreateDeliveryStream.html#API_CreateDeliveryStream_Examples\">Tag example.</a>\n         </p>"
          }
        },
        "AmazonOpenSearchServerlessDestinationConfiguration": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in the Serverless offering for Amazon OpenSearch Service. You can\n         specify only one destination.</p>"
          }
        },
        "MSKSourceConfiguration": {
          "target": "com.amazonaws.firehose#MSKSourceConfiguration"
        },
        "SnowflakeDestinationConfiguration": {
          "target": "com.amazonaws.firehose#SnowflakeDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configure Snowflake destination</p>"
          }
        },
        "IcebergDestinationConfiguration": {
          "target": "com.amazonaws.firehose#IcebergDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n         Configure Apache Iceberg Tables destination.\n      </p>"
          }
        },
        "DatabaseSourceConfiguration": {
          "target": "com.amazonaws.firehose#DatabaseSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n            The top level object for configuring streams with database as a source. \n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.firehose#CreateDeliveryStreamOutput": {
      "type": "structure",
      "members": {
        "DeliveryStreamARN": {
          "target": "com.amazonaws.firehose#DeliveryStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Firehose stream.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.firehose#CustomTimeZone": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": "^$|[a-zA-Z/_]+$"
      }
    },
    "com.amazonaws.firehose#Data": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024000
        }
      }
    },
    "com.amazonaws.firehose#DataFormatConversionConfiguration": {
      "type": "structure",
      "members": {
        "SchemaConfiguration": {
          "target": "com.amazonaws.firehose#SchemaConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Web Services Glue Data Catalog table that contains the column\n         information. This parameter is required if <code>Enabled</code> is set to true.</p>"
          }
        },
        "InputFormatConfiguration": {
          "target": "com.amazonaws.firehose#InputFormatConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the deserializer that you want Firehose to use to convert the\n         format of your data from JSON. This parameter is required if <code>Enabled</code> is set to\n         true.</p>"
          }
        },
        "OutputFormatConfiguration": {
          "target": "com.amazonaws.firehose#OutputFormatConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the serializer that you want Firehose to use to convert the\n         format of your data to the Parquet or ORC format. This parameter is required if\n            <code>Enabled</code> is set to true.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Defaults to <code>true</code>. Set it to <code>false</code> if you want to disable\n         format conversion while preserving the configuration details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that you want Firehose to convert data from the JSON format to\n         the Parquet or ORC format before writing it to Amazon S3. Firehose uses the\n         serializer and deserializer that you specify, in addition to the column information from\n         the Amazon Web Services Glue table, to deserialize your input data from JSON and then\n         serialize it to the Parquet or ORC format. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/record-format-conversion.html\">Firehose Record Format Conversion</a>.</p>"
      }
    },
    "com.amazonaws.firehose#DataTableColumns": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10240
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#DataTableName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#DatabaseColumnIncludeOrExcludeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#DatabaseColumnName"
      }
    },
    "com.amazonaws.firehose#DatabaseColumnList": {
      "type": "structure",
      "members": {
        "Include": {
          "target": "com.amazonaws.firehose#DatabaseColumnIncludeOrExcludeList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of column patterns in source database to be included for Firehose to read from.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "Exclude": {
          "target": "com.amazonaws.firehose#DatabaseColumnIncludeOrExcludeList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of column patterns in source database to be excluded for Firehose to read from.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure used to configure the list of column patterns in source database\n         endpoint for Firehose to read from. </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
      }
    },
    "com.amazonaws.firehose#DatabaseColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 194
        },
        "smithy.api#pattern": "^[\\u0001-\\uFFFF]*$"
      }
    },
    "com.amazonaws.firehose#DatabaseEndpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?!\\s*$).+$"
      }
    },
    "com.amazonaws.firehose#DatabaseIncludeOrExcludeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#DatabaseName"
      }
    },
    "com.amazonaws.firehose#DatabaseList": {
      "type": "structure",
      "members": {
        "Include": {
          "target": "com.amazonaws.firehose#DatabaseIncludeOrExcludeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of database patterns in source database endpoint to be included for Firehose\n         to read from. </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "Exclude": {
          "target": "com.amazonaws.firehose#DatabaseIncludeOrExcludeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of database patterns in source database endpoint to be excluded for Firehose\n         to read from. </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure used to configure the list of database patterns in source database\n         endpoint for Firehose to read from. </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
      }
    },
    "com.amazonaws.firehose#DatabaseName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[\\u0001-\\uFFFF]*$"
      }
    },
    "com.amazonaws.firehose#DatabasePort": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 65535
        }
      }
    },
    "com.amazonaws.firehose#DatabaseSnapshotInfo": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.firehose#NonEmptyStringWithoutWhitespace",
          "traits": {
            "smithy.api#documentation": "<p>\n            The identifier of the current snapshot of the table in source database endpoint.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "Table": {
          "target": "com.amazonaws.firehose#DatabaseTableName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The fully qualified name of the table in source database endpoint that Firehose reads.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "RequestTimestamp": {
          "target": "com.amazonaws.firehose#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n            The timestamp when the current snapshot is taken on the table.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "RequestedBy": {
          "target": "com.amazonaws.firehose#SnapshotRequestedBy",
          "traits": {
            "smithy.api#documentation": "<p>\n            The principal that sent the request to take the current snapshot on the table.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.firehose#SnapshotStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n            The status of the current snapshot of the table.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "FailureDescription": {
          "target": "com.amazonaws.firehose#FailureDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The structure that describes the snapshot information of a table in source database endpoint that Firehose reads.  \n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
      }
    },
    "com.amazonaws.firehose#DatabaseSnapshotInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#DatabaseSnapshotInfo"
      }
    },
    "com.amazonaws.firehose#DatabaseSourceAuthenticationConfiguration": {
      "type": "structure",
      "members": {
        "SecretsManagerConfiguration": {
          "target": "com.amazonaws.firehose#SecretsManagerConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The structure to configure the authentication methods for Firehose to connect to source database endpoint.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
      }
    },
    "com.amazonaws.firehose#DatabaseSourceConfiguration": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.firehose#DatabaseType",
          "traits": {
            "smithy.api#documentation": "<p>The type of database engine. This can be one of the following values. </p>\n         <ul>\n            <li>\n               <p>MySQL</p>\n            </li>\n            <li>\n               <p>PostgreSQL</p>\n            </li>\n         </ul>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "Endpoint": {
          "target": "com.amazonaws.firehose#DatabaseEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>\n            The endpoint of the database server.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.firehose#DatabasePort",
          "traits": {
            "smithy.api#documentation": "<p>The port of the database. This can be one of the following values.</p>\n         <ul>\n            <li>\n               <p>3306 for MySQL database type</p>\n            </li>\n            <li>\n               <p>5432 for PostgreSQL database type</p>\n            </li>\n         </ul>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "SSLMode": {
          "target": "com.amazonaws.firehose#SSLMode",
          "traits": {
            "smithy.api#documentation": "<p>\n            The mode to enable or disable SSL when Firehose connects to the database endpoint.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "Databases": {
          "target": "com.amazonaws.firehose#DatabaseList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of database patterns in source database endpoint for Firehose to read from.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "Tables": {
          "target": "com.amazonaws.firehose#DatabaseTableList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of table patterns in source database endpoint for Firehose to read from.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "Columns": {
          "target": "com.amazonaws.firehose#DatabaseColumnList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of column patterns in source database endpoint for Firehose to read from.  \n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "SurrogateKeys": {
          "target": "com.amazonaws.firehose#DatabaseSurrogateKeyList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The optional list of table and column names used as unique key columns when taking snapshot if the tables don’t have primary keys configured.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "SnapshotWatermarkTable": {
          "target": "com.amazonaws.firehose#DatabaseTableName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The fully qualified name of the table in source database endpoint that Firehose uses to track snapshot progress.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseSourceAuthenticationConfiguration": {
          "target": "com.amazonaws.firehose#DatabaseSourceAuthenticationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n            The structure to configure the authentication methods for Firehose to connect to source database endpoint.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseSourceVPCConfiguration": {
          "target": "com.amazonaws.firehose#DatabaseSourceVPCConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n            The details of the VPC Endpoint Service which Firehose uses to create a PrivateLink to the database.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The top level object for configuring streams with database as a source. \n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
      }
    },
    "com.amazonaws.firehose#DatabaseSourceDescription": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.firehose#DatabaseType",
          "traits": {
            "smithy.api#documentation": "<p>The type of database engine. This can be one of the following values. </p>\n         <ul>\n            <li>\n               <p>MySQL</p>\n            </li>\n            <li>\n               <p>PostgreSQL</p>\n            </li>\n         </ul>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "Endpoint": {
          "target": "com.amazonaws.firehose#DatabaseEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>\n            The endpoint of the database server.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.firehose#DatabasePort",
          "traits": {
            "smithy.api#documentation": "<p>The port of the database. This can be one of the following values.</p>\n         <ul>\n            <li>\n               <p>3306 for MySQL database type</p>\n            </li>\n            <li>\n               <p>5432 for PostgreSQL database type</p>\n            </li>\n         </ul>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "SSLMode": {
          "target": "com.amazonaws.firehose#SSLMode",
          "traits": {
            "smithy.api#documentation": "<p>\n            The mode to enable or disable SSL when Firehose connects to the database endpoint.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "Databases": {
          "target": "com.amazonaws.firehose#DatabaseList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of database patterns in source database endpoint for Firehose to read from.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "Tables": {
          "target": "com.amazonaws.firehose#DatabaseTableList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of table patterns in source database endpoint for Firehose to read from.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "Columns": {
          "target": "com.amazonaws.firehose#DatabaseColumnList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of column patterns in source database endpoint for Firehose to read from.  \n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "SurrogateKeys": {
          "target": "com.amazonaws.firehose#DatabaseColumnIncludeOrExcludeList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The optional list of table and column names used as unique key columns when taking snapshot if the tables don’t have primary keys configured.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "SnapshotWatermarkTable": {
          "target": "com.amazonaws.firehose#DatabaseTableName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The fully qualified name of the table in source database endpoint that Firehose uses to track snapshot progress.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "SnapshotInfo": {
          "target": "com.amazonaws.firehose#DatabaseSnapshotInfoList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The structure that describes the snapshot information of a table in source database endpoint that Firehose reads.  \n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "DatabaseSourceAuthenticationConfiguration": {
          "target": "com.amazonaws.firehose#DatabaseSourceAuthenticationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n            The structure to configure the authentication methods for Firehose to connect to source database endpoint.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "DatabaseSourceVPCConfiguration": {
          "target": "com.amazonaws.firehose#DatabaseSourceVPCConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n            The details of the VPC Endpoint Service which Firehose uses to create a PrivateLink to the database.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The top level object for database source description.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
      }
    },
    "com.amazonaws.firehose#DatabaseSourceVPCConfiguration": {
      "type": "structure",
      "members": {
        "VpcEndpointServiceName": {
          "target": "com.amazonaws.firehose#VpcEndpointServiceName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The VPC endpoint service name which Firehose uses to create a PrivateLink to the database. The endpoint service must have the Firehose service principle <code>firehose.amazonaws.com</code> as an allowed principal on the VPC endpoint service. The VPC endpoint service name is a string that looks like <code>com.amazonaws.vpce.<region>.<vpc-endpoint-service-id></code>. \n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The structure for details of the VPC Endpoint Service which Firehose uses to create a PrivateLink to the database.\n         </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
      }
    },
    "com.amazonaws.firehose#DatabaseSurrogateKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#NonEmptyStringWithoutWhitespace"
      }
    },
    "com.amazonaws.firehose#DatabaseTableIncludeOrExcludeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#DatabaseTableName"
      }
    },
    "com.amazonaws.firehose#DatabaseTableList": {
      "type": "structure",
      "members": {
        "Include": {
          "target": "com.amazonaws.firehose#DatabaseTableIncludeOrExcludeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of table patterns in source database endpoint to be included for Firehose to\n         read from. </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        },
        "Exclude": {
          "target": "com.amazonaws.firehose#DatabaseTableIncludeOrExcludeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of table patterns in source database endpoint to be excluded for Firehose to\n         read from. </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure used to configure the list of table patterns in source database endpoint\n         for Firehose to read from. </p>\n         <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
      }
    },
    "com.amazonaws.firehose#DatabaseTableName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 129
        },
        "smithy.api#pattern": "^[\\u0001-\\uFFFF]*$"
      }
    },
    "com.amazonaws.firehose#DatabaseType": {
      "type": "enum",
      "members": {
        "MySQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MySQL"
          }
        },
        "PostgreSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PostgreSQL"
          }
        }
      }
    },
    "com.amazonaws.firehose#DefaultDocumentIdFormat": {
      "type": "enum",
      "members": {
        "FIREHOSE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIREHOSE_DEFAULT"
          }
        },
        "NO_DOCUMENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_DOCUMENT_ID"
          }
        }
      }
    },
    "com.amazonaws.firehose#DeleteDeliveryStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.firehose#DeleteDeliveryStreamInput"
      },
      "output": {
        "target": "com.amazonaws.firehose#DeleteDeliveryStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.firehose#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.firehose#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Firehose stream and its data.</p>\n         <p>You can delete a Firehose stream only if it is in one of the following states:\n            <code>ACTIVE</code>, <code>DELETING</code>, <code>CREATING_FAILED</code>, or\n            <code>DELETING_FAILED</code>. You can't delete a Firehose stream that is in the\n         <code>CREATING</code> state. To check the state of a Firehose stream, use <a>DescribeDeliveryStream</a>. </p>\n         <p>DeleteDeliveryStream is an asynchronous API. When an API request to DeleteDeliveryStream succeeds, the Firehose stream is marked for deletion, and it goes into the \n         <code>DELETING</code> state.While the Firehose stream is in the <code>DELETING</code> state, the service might\n         continue to accept records, but it doesn't make any guarantees with respect to delivering\n         the data. Therefore, as a best practice, first stop any applications that are sending\n         records before you delete a Firehose stream.</p>\n         <p>Removal of a Firehose stream that is in the <code>DELETING</code> state is a low priority operation for the service. A stream may remain in the \n         <code>DELETING</code> state for several minutes. Therefore, as a best practice, applications should not wait for streams in the <code>DELETING</code> state \n         to be removed. </p>"
      }
    },
    "com.amazonaws.firehose#DeleteDeliveryStreamInput": {
      "type": "structure",
      "members": {
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Firehose stream.</p>",
            "smithy.api#required": {}
          }
        },
        "AllowForceDelete": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Set this to true if you want to delete the Firehose stream even if Firehose\n         is unable to retire the grant for the CMK. Firehose might be unable to retire\n         the grant due to a customer error, such as when the CMK or the grant are in an invalid\n         state. If you force deletion, you can then use the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_RevokeGrant.html\">RevokeGrant</a> operation to\n         revoke the grant you gave to Firehose. If a failure to retire the grant\n         happens due to an Amazon Web Services KMS issue, Firehose keeps retrying the\n         delete operation.</p>\n         <p>The default value is false.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.firehose#DeleteDeliveryStreamOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.firehose#DeliveryStartTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.firehose#DeliveryStreamARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^arn:.*:firehose:[a-zA-Z0-9\\-]+:\\d{12}:deliverystream/[a-zA-Z0-9._-]+$"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamDescription": {
      "type": "structure",
      "members": {
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Firehose stream.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryStreamARN": {
          "target": "com.amazonaws.firehose#DeliveryStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Firehose stream. For more information, see\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and Amazon Web Services Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryStreamStatus": {
          "target": "com.amazonaws.firehose#DeliveryStreamStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Firehose stream. If the status of a Firehose stream is\n            <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke\n            <code>CreateDeliveryStream</code> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it.</p>",
            "smithy.api#required": {}
          }
        },
        "FailureDescription": {
          "target": "com.amazonaws.firehose#FailureDescription",
          "traits": {
            "smithy.api#documentation": "<p>Provides details in case one of the following operations fails due to an error related\n         to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>,\n            <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>"
          }
        },
        "DeliveryStreamEncryptionConfiguration": {
          "target": "com.amazonaws.firehose#DeliveryStreamEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the server-side encryption (SSE) status for the Firehose stream.</p>"
          }
        },
        "DeliveryStreamType": {
          "target": "com.amazonaws.firehose#DeliveryStreamType",
          "traits": {
            "smithy.api#documentation": "<p>The Firehose stream type. This can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DirectPut</code>: Provider applications access the Firehose stream\n               directly.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KinesisStreamAsSource</code>: The Firehose stream uses a Kinesis data\n               stream as a source.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.firehose#DeliveryStreamVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Each time the destination is updated for a Firehose stream, the version ID is\n         changed, and the current version ID is required when updating the destination. This is so\n         that the service knows it is applying the changes to the correct version of the delivery\n         stream.</p>",
            "smithy.api#required": {}
          }
        },
        "CreateTimestamp": {
          "target": "com.amazonaws.firehose#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the Firehose stream was created.</p>"
          }
        },
        "LastUpdateTimestamp": {
          "target": "com.amazonaws.firehose#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the Firehose stream was last updated.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.firehose#SourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>DeliveryStreamType</code> parameter is\n            <code>KinesisStreamAsSource</code>, a <a>SourceDescription</a> object\n         describing the source Kinesis data stream.</p>"
          }
        },
        "Destinations": {
          "target": "com.amazonaws.firehose#DestinationDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The destinations.</p>",
            "smithy.api#required": {}
          }
        },
        "HasMoreDestinations": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether there are more destinations available to list.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a Firehose stream.</p>"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamEncryptionConfiguration": {
      "type": "structure",
      "members": {
        "KeyARN": {
          "target": "com.amazonaws.firehose#AWSKMSKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>If <code>KeyType</code> is <code>CUSTOMER_MANAGED_CMK</code>, this field contains the\n         ARN of the customer managed CMK. If <code>KeyType</code> is <code>Amazon Web Services_OWNED_CMK</code>, <code>DeliveryStreamEncryptionConfiguration</code> doesn't contain\n         a value for <code>KeyARN</code>.</p>"
          }
        },
        "KeyType": {
          "target": "com.amazonaws.firehose#KeyType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of customer master key (CMK) that is used for encryption. The default\n         setting is <code>Amazon Web Services_OWNED_CMK</code>. For more information about CMKs, see\n            <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.firehose#DeliveryStreamEncryptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>This is the server-side encryption (SSE) status for the Firehose stream. For a full\n         description of the different values of this status, see <a>StartDeliveryStreamEncryption</a> and <a>StopDeliveryStreamEncryption</a>. If this status is <code>ENABLING_FAILED</code>\n         or <code>DISABLING_FAILED</code>, it is the status of the most recent attempt to enable or\n         disable SSE, respectively.</p>"
          }
        },
        "FailureDescription": {
          "target": "com.amazonaws.firehose#FailureDescription",
          "traits": {
            "smithy.api#documentation": "<p>Provides details in case one of the following operations fails due to an error related\n         to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>,\n            <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the server-side encryption (SSE) status for the delivery\n         stream, the type customer master key (CMK) in use, if any, and the ARN of the CMK. You can\n         get <code>DeliveryStreamEncryptionConfiguration</code> by invoking the <a>DescribeDeliveryStream</a> operation. </p>"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamEncryptionConfigurationInput": {
      "type": "structure",
      "members": {
        "KeyARN": {
          "target": "com.amazonaws.firehose#AWSKMSKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>If you set <code>KeyType</code> to <code>CUSTOMER_MANAGED_CMK</code>, you must specify\n         the Amazon Resource Name (ARN) of the CMK. If you set <code>KeyType</code> to <code>Amazon Web Services_OWNED_CMK</code>, Firehose uses a service-account CMK.</p>"
          }
        },
        "KeyType": {
          "target": "com.amazonaws.firehose#KeyType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of customer master key (CMK) to use for encryption. The default\n         setting is <code>Amazon Web Services_OWNED_CMK</code>. For more information about CMKs, see\n            <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>. When you invoke <a>CreateDeliveryStream</a> or <a>StartDeliveryStreamEncryption</a> with\n            <code>KeyType</code> set to CUSTOMER_MANAGED_CMK, Firehose invokes the\n         Amazon KMS operation <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateGrant.html\">CreateGrant</a> to create a grant\n         that allows the Firehose service to use the customer managed CMK to perform\n         encryption and decryption. Firehose manages that grant. </p>\n         <p>When you invoke <a>StartDeliveryStreamEncryption</a> to change the CMK for a\n         Firehose stream that is encrypted with a customer managed CMK, Firehose\n         schedules the grant it had on the old CMK for retirement.</p>\n         <p>You can use a CMK of type CUSTOMER_MANAGED_CMK to encrypt up to 500 Firehose streams. If\n         a <a>CreateDeliveryStream</a> or <a>StartDeliveryStreamEncryption</a>\n         operation exceeds this limit, Firehose throws a\n            <code>LimitExceededException</code>. </p>\n         <important>\n            <p>To encrypt your Firehose stream, use symmetric CMKs. Firehose doesn't\n            support asymmetric CMKs. For information about symmetric and asymmetric CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symm-asymm-concepts.html\">About\n               Symmetric and Asymmetric CMKs</a> in the Amazon Web Services Key Management\n            Service developer guide.</p>\n         </important>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the type and Amazon Resource Name (ARN) of the CMK to use for Server-Side\n         Encryption (SSE). </p>"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamEncryptionStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLING"
          }
        },
        "ENABLING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLING_FAILED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLING"
          }
        },
        "DISABLING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLING_FAILED"
          }
        }
      }
    },
    "com.amazonaws.firehose#DeliveryStreamFailureType": {
      "type": "enum",
      "members": {
        "VPC_ENDPOINT_SERVICE_NAME_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_ENDPOINT_SERVICE_NAME_NOT_FOUND"
          }
        },
        "VPC_INTERFACE_ENDPOINT_SERVICE_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_INTERFACE_ENDPOINT_SERVICE_ACCESS_DENIED"
          }
        },
        "RETIRE_KMS_GRANT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRE_KMS_GRANT_FAILED"
          }
        },
        "CREATE_KMS_GRANT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_KMS_GRANT_FAILED"
          }
        },
        "KMS_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS_ACCESS_DENIED"
          }
        },
        "DISABLED_KMS_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED_KMS_KEY"
          }
        },
        "INVALID_KMS_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_KMS_KEY"
          }
        },
        "KMS_KEY_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS_KEY_NOT_FOUND"
          }
        },
        "KMS_OPT_IN_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS_OPT_IN_REQUIRED"
          }
        },
        "CREATE_ENI_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_ENI_FAILED"
          }
        },
        "DELETE_ENI_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_ENI_FAILED"
          }
        },
        "SUBNET_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBNET_NOT_FOUND"
          }
        },
        "SECURITY_GROUP_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_GROUP_NOT_FOUND"
          }
        },
        "ENI_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENI_ACCESS_DENIED"
          }
        },
        "SUBNET_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBNET_ACCESS_DENIED"
          }
        },
        "SECURITY_GROUP_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_GROUP_ACCESS_DENIED"
          }
        },
        "UNKNOWN_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_ERROR"
          }
        }
      }
    },
    "com.amazonaws.firehose#DeliveryStreamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#DeliveryStreamName"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING_FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING_FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.amazonaws.firehose#DeliveryStreamType": {
      "type": "enum",
      "members": {
        "DirectPut": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DirectPut"
          }
        },
        "KinesisStreamAsSource": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KinesisStreamAsSource"
          }
        },
        "MSKAsSource": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MSKAsSource"
          }
        },
[...]
