{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.firehose#AWSKMSKeyARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "arn:.*"
      }
    },
    "com.amazonaws.firehose#BlockSizeBytes": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 67108864
        }
      }
    },
    "com.amazonaws.firehose#BooleanObject": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.firehose#BucketARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "arn:.*"
      }
    },
    "com.amazonaws.firehose#BufferingHints": {
      "type": "structure",
      "members": {
        "IntervalInSeconds": {
          "target": "com.amazonaws.firehose#IntervalInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering\n         it to the destination. The default value is 300. This parameter is optional but if you\n         specify a value for it, you must also specify a value for <code>SizeInMBs</code>, and vice\n         versa.</p>"
          }
        },
        "SizeInMBs": {
          "target": "com.amazonaws.firehose#SizeInMBs",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data to the specified size, in MiBs, before delivering it to the\n         destination. The default value is 5. This parameter is optional but if you specify a value\n         for it, you must also specify a value for <code>IntervalInSeconds</code>, and vice\n         versa.</p>\n         <p>We recommend setting this parameter to a value greater than the amount of data you\n         typically ingest into the delivery stream in 10 seconds. For example, if you typically\n         ingest data at 1 MiB/sec, the value should be 10 MiB or higher.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes hints for the buffering to perform before delivering data to the\n         destination. These options are treated as hints, and therefore Kinesis Data Firehose might\n         choose to use different values when it is optimal. The <code>SizeInMBs</code> and\n            <code>IntervalInSeconds</code> parameters are optional. However, if specify a value for\n         one of them, you must also provide a value for the other.</p>"
      }
    },
    "com.amazonaws.firehose#CloudWatchLoggingOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables CloudWatch logging.</p>"
          }
        },
        "LogGroupName": {
          "target": "com.amazonaws.firehose#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch group name for logging. This value is required if CloudWatch\n         logging is enabled.</p>"
          }
        },
        "LogStreamName": {
          "target": "com.amazonaws.firehose#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch \n         logging is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the Amazon CloudWatch logging options for your delivery stream.</p>"
      }
    },
    "com.amazonaws.firehose#ClusterJDBCURL": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#pattern": "jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+redshift\\.([a-zA-Z0-9\\.]+):\\d{1,5}/[a-zA-Z0-9_$]+"
      }
    },
    "com.amazonaws.firehose#ColumnToJsonKeyMappings": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.firehose#NonEmptyStringWithoutWhitespace"
      },
      "value": {
        "target": "com.amazonaws.firehose#NonEmptyString"
      }
    },
    "com.amazonaws.firehose#CompressionFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UNCOMPRESSED",
            "name": "UNCOMPRESSED"
          },
          {
            "value": "GZIP",
            "name": "GZIP"
          },
          {
            "value": "ZIP",
            "name": "ZIP"
          },
          {
            "value": "Snappy",
            "name": "SNAPPY"
          }
        ]
      }
    },
    "com.amazonaws.firehose#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.firehose#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another modification has already happened. Fetch <code>VersionId</code> again and use\n         it to update the destination.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.firehose#CopyCommand": {
      "type": "structure",
      "members": {
        "CopyOptions": {
          "target": "com.amazonaws.firehose#CopyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For\n         more information, see the \"Optional Parameters\" section of <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible\n         examples that would apply to Kinesis Data Firehose are as follows:</p>\n         <p>\n            <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and\n         compressed using lzop.</p>\n         <p>\n            <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default\n         delimiter).</p>\n         <p>\n            <code>delimiter '|' escape</code> - the delimiter should be escaped.</p>\n         <p>\n            <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> -\n         fields are fixed width in the source, with each width specified after every column in the\n         table.</p>\n         <p>\n            <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path\n         specified is the format of the data.</p>\n         <p>For more examples, see <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command\n            examples</a>.</p>"
          }
        },
        "DataTableColumns": {
          "target": "com.amazonaws.firehose#DataTableColumns",
          "traits": {
            "smithy.api#documentation": "<p>A comma-separated list of column names.</p>"
          }
        },
        "DataTableName": {
          "target": "com.amazonaws.firehose#DataTableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target table. The table must already exist in the database.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a <code>COPY</code> command for Amazon Redshift.</p>"
      }
    },
    "com.amazonaws.firehose#CopyOptions": {
      "type": "string"
    },
    "com.amazonaws.firehose#CreateDeliveryStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.firehose#CreateDeliveryStreamInput"
      },
      "output": {
        "target": "com.amazonaws.firehose#CreateDeliveryStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.firehose#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.firehose#InvalidKMSResourceException"
        },
        {
          "target": "com.amazonaws.firehose#LimitExceededException"
        },
        {
          "target": "com.amazonaws.firehose#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Kinesis Data Firehose delivery stream.</p>\n\n         <p>By default, you can create up to 50 delivery streams per AWS Region.</p>\n         <p>This is an asynchronous operation that immediately returns. The initial status of the\n         delivery stream is <code>CREATING</code>. After the delivery stream is created, its status\n         is <code>ACTIVE</code> and it now accepts data. If the delivery stream creation fails, the\n         status transitions to <code>CREATING_FAILED</code>. Attempts to send data to a delivery\n         stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state\n         of a delivery stream, use <a>DescribeDeliveryStream</a>.</p>\n         <p>If the status of a delivery stream is <code>CREATING_FAILED</code>, this status\n         doesn't change, and you can't invoke <code>CreateDeliveryStream</code> again on it.\n         However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete\n         it.</p>\n         <p>A Kinesis Data Firehose delivery stream can be configured to receive records directly\n         from providers using <a>PutRecord</a> or <a>PutRecordBatch</a>, or it\n         can be configured to use an existing Kinesis stream as its source. To specify a Kinesis\n         data stream as input, set the <code>DeliveryStreamType</code> parameter to\n            <code>KinesisStreamAsSource</code>, and provide the Kinesis stream Amazon Resource Name\n         (ARN) and role ARN in the <code>KinesisStreamSourceConfiguration</code>\n         parameter.</p>\n         <p>To create a delivery stream with server-side encryption (SSE) enabled, include <a>DeliveryStreamEncryptionConfigurationInput</a> in your request. This is\n         optional. You can also invoke <a>StartDeliveryStreamEncryption</a> to turn on\n         SSE for an existing delivery stream that doesn't have SSE enabled.</p>\n         <p>A delivery stream is configured with a single destination: Amazon S3, Amazon ES,\n         Amazon Redshift, or Splunk. You must specify only one of the following destination\n         configuration parameters: <code>ExtendedS3DestinationConfiguration</code>,\n            <code>S3DestinationConfiguration</code>,\n            <code>ElasticsearchDestinationConfiguration</code>,\n            <code>RedshiftDestinationConfiguration</code>, or\n            <code>SplunkDestinationConfiguration</code>.</p>\n         <p>When you specify <code>S3DestinationConfiguration</code>, you can also provide the\n         following optional values: BufferingHints, <code>EncryptionConfiguration</code>, and\n            <code>CompressionFormat</code>. By default, if no <code>BufferingHints</code> value is\n         provided, Kinesis Data Firehose buffers data up to 5 MB or for 5 minutes, whichever\n         condition is satisfied first. <code>BufferingHints</code> is a hint, so there are some\n         cases where the service cannot adhere to these conditions strictly. For example, record\n         boundaries might be such that the size is a little over or under the configured buffering\n         size. By default, no encryption is performed. We strongly recommend that you enable\n         encryption to ensure secure data storage in Amazon S3.</p>\n\n         <p>A few notes about Amazon Redshift as a destination:</p>\n         <ul>\n            <li>\n               <p>An Amazon Redshift destination requires an S3 bucket as intermediate location.\n               Kinesis Data Firehose first delivers data to Amazon S3 and then uses\n                  <code>COPY</code> syntax to load data into an Amazon Redshift table. This is\n               specified in the <code>RedshiftDestinationConfiguration.S3Configuration</code>\n               parameter.</p>\n\n            </li>\n            <li>\n               <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be\n               specified in <code>RedshiftDestinationConfiguration.S3Configuration</code> because\n               the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't\n               support these compression formats.</p>\n            </li>\n            <li>\n               <p>We strongly recommend that you use the user name and password you provide\n               exclusively with Kinesis Data Firehose, and that the permissions for the account are\n               restricted for Amazon Redshift <code>INSERT</code> permissions.</p>\n\n            </li>\n         </ul>\n         <p>Kinesis Data Firehose assumes the IAM role that is configured as part of the\n         destination. The role should allow the Kinesis Data Firehose principal to assume the role,\n         and the role should have permissions that allow the service to deliver the data. For more\n         information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data\n            Firehose Access to an Amazon S3 Destination</a> in the <i>Amazon Kinesis Data\n            Firehose Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.firehose#CreateDeliveryStreamInput": {
      "type": "structure",
      "members": {
        "DeliveryStreamEncryptionConfigurationInput": {
          "target": "com.amazonaws.firehose#DeliveryStreamEncryptionConfigurationInput",
          "traits": {
            "smithy.api#documentation": "<p>Used to specify the type and Amazon Resource Name (ARN) of the KMS key needed for\n         Server-Side Encryption (SSE).</p>"
          }
        },
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery stream. This name must be unique per AWS account in the same\n         AWS Region. If the delivery streams are in different accounts or different Regions, you can\n         have multiple delivery streams with the same name.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryStreamType": {
          "target": "com.amazonaws.firehose#DeliveryStreamType",
          "traits": {
            "smithy.api#documentation": "<p>The delivery stream type. This parameter can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DirectPut</code>: Provider applications access the delivery stream\n            directly.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a\n            source.</p>\n            </li>\n         </ul>"
          }
        },
        "ElasticsearchDestinationConfiguration": {
          "target": "com.amazonaws.firehose#ElasticsearchDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon ES. You can specify only one destination.</p>"
          }
        },
        "ExtendedS3DestinationConfiguration": {
          "target": "com.amazonaws.firehose#ExtendedS3DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon S3. You can specify only one destination.</p>"
          }
        },
        "KinesisStreamSourceConfiguration": {
          "target": "com.amazonaws.firehose#KinesisStreamSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>When a Kinesis data stream is used as the source for the delivery stream, a \n         <a>KinesisStreamSourceConfiguration</a> containing the Kinesis data stream Amazon\n         Resource Name (ARN) and the role ARN for the source stream.</p>"
          }
        },
        "RedshiftDestinationConfiguration": {
          "target": "com.amazonaws.firehose#RedshiftDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon Redshift. You can specify only one destination.</p>"
          }
        },
        "S3DestinationConfiguration": {
          "target": "com.amazonaws.firehose#S3DestinationConfiguration",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>[Deprecated]\n         The destination in Amazon S3. You can specify only one destination.</p>"
          }
        },
        "SplunkDestinationConfiguration": {
          "target": "com.amazonaws.firehose#SplunkDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Splunk. You can specify only one destination.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.firehose#TagDeliveryStreamInputTagList",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags to assign to the delivery stream. A tag is a key-value pair that you can\n         define and assign to AWS resources. Tags are metadata. For example, you can add friendly\n         names and descriptions or other types of information that can help you distinguish the\n         delivery stream. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the AWS Billing and Cost Management User\n         Guide.</p>\n         \n         <p>You can specify up to 50 tags when creating a delivery stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.firehose#CreateDeliveryStreamOutput": {
      "type": "structure",
      "members": {
        "DeliveryStreamARN": {
          "target": "com.amazonaws.firehose#DeliveryStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the delivery stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.firehose#Data": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024000
        }
      }
    },
    "com.amazonaws.firehose#DataFormatConversionConfiguration": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Defaults to <code>true</code>. Set it to <code>false</code> if you want to disable format conversion while preserving the configuration details.</p>"
          }
        },
        "InputFormatConfiguration": {
          "target": "com.amazonaws.firehose#InputFormatConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the deserializer that you want Kinesis Data Firehose to use to convert the\n         format of your data from JSON.</p>"
          }
        },
        "OutputFormatConfiguration": {
          "target": "com.amazonaws.firehose#OutputFormatConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the serializer that you want Kinesis Data Firehose to use to convert the\n         format of your data to the Parquet or ORC format.</p>"
          }
        },
        "SchemaConfiguration": {
          "target": "com.amazonaws.firehose#SchemaConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the AWS Glue Data Catalog table that contains the column information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that you want Kinesis Data Firehose to convert data from the JSON format to\n         the Parquet or ORC format before writing it to Amazon S3. Kinesis Data Firehose uses the\n         serializer and deserializer that you specify, in addition to the column information from\n         the AWS Glue table, to deserialize your input data from JSON and then serialize it to the\n         Parquet or ORC format. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/record-format-conversion.html\">Kinesis Data Firehose Record Format Conversion</a>.</p>"
      }
    },
    "com.amazonaws.firehose#DataTableColumns": {
      "type": "string"
    },
    "com.amazonaws.firehose#DataTableName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.firehose#DeleteDeliveryStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.firehose#DeleteDeliveryStreamInput"
      },
      "output": {
        "target": "com.amazonaws.firehose#DeleteDeliveryStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.firehose#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.firehose#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a delivery stream and its data.</p>\n         <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>. You can delete a delivery stream only if it is in one of the following states:\n            <code>ACTIVE</code>, <code>DELETING</code>, <code>CREATING_FAILED</code>, or\n            <code>DELETING_FAILED</code>. You can't delete a delivery stream that is in the\n            <code>CREATING</code> state. While the deletion request is in process, the delivery\n         stream is in the <code>DELETING</code> state.</p>\n         <p>While the delivery stream is in the <code>DELETING</code> state, the service might\n         continue to accept records, but it doesn't make any guarantees with respect to delivering\n         the data. Therefore, as a best practice, first stop any applications that are sending\n         records before you delete a delivery stream.</p>"
      }
    },
    "com.amazonaws.firehose#DeleteDeliveryStreamInput": {
      "type": "structure",
      "members": {
        "AllowForceDelete": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Set this to true if you want to delete the delivery stream even if Kinesis Data Firehose\n         is unable to retire the grant for the CMK. Kinesis Data Firehose might be unable to retire\n         the grant due to a customer error, such as when the CMK or the grant are in an invalid\n         state. If you force deletion, you can then use the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_RevokeGrant.html\">RevokeGrant</a> operation to revoke the grant you gave to Kinesis Data Firehose. If\n         a failure to retire the grant happens due to an AWS KMS issue, Kinesis Data Firehose keeps\n         retrying the delete operation.</p>\n         <p>The default value is false.</p>"
          }
        },
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery stream.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.firehose#DeleteDeliveryStreamOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.firehose#DeliveryStartTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.firehose#DeliveryStreamARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "arn:.*"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamDescription": {
      "type": "structure",
      "members": {
        "CreateTimestamp": {
          "target": "com.amazonaws.firehose#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the delivery stream was created.</p>"
          }
        },
        "DeliveryStreamARN": {
          "target": "com.amazonaws.firehose#DeliveryStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the delivery stream. For more information, see\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryStreamEncryptionConfiguration": {
          "target": "com.amazonaws.firehose#DeliveryStreamEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the server-side encryption (SSE) status for the delivery stream.</p>"
          }
        },
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery stream.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryStreamStatus": {
          "target": "com.amazonaws.firehose#DeliveryStreamStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the delivery stream. If the status of a delivery stream is\n            <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke\n            <code>CreateDeliveryStream</code> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryStreamType": {
          "target": "com.amazonaws.firehose#DeliveryStreamType",
          "traits": {
            "smithy.api#documentation": "<p>The delivery stream type. This can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DirectPut</code>: Provider applications access the delivery stream\n               directly.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a\n               source.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Destinations": {
          "target": "com.amazonaws.firehose#DestinationDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The destinations.</p>",
            "smithy.api#required": {}
          }
        },
        "FailureDescription": {
          "target": "com.amazonaws.firehose#FailureDescription",
          "traits": {
            "smithy.api#documentation": "<p>Provides details in case one of the following operations fails due to an error related\n         to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>, <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>"
          }
        },
        "HasMoreDestinations": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether there are more destinations available to list.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdateTimestamp": {
          "target": "com.amazonaws.firehose#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the delivery stream was last updated.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.firehose#SourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>DeliveryStreamType</code> parameter is\n            <code>KinesisStreamAsSource</code>, a <a>SourceDescription</a> object\n         describing the source Kinesis data stream.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.firehose#DeliveryStreamVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Each time the destination is updated for a delivery stream, the version ID is changed, \n         and the current version ID is required when updating the destination. This is so that the service knows it\n         is applying the changes to the correct version of the delivery stream.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a delivery stream.</p>"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamEncryptionConfiguration": {
      "type": "structure",
      "members": {
        "FailureDescription": {
          "target": "com.amazonaws.firehose#FailureDescription",
          "traits": {
            "smithy.api#documentation": "<p>Provides details in case one of the following operations fails due to an error related\n         to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>, <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>"
          }
        },
        "KeyARN": {
          "target": "com.amazonaws.firehose#AWSKMSKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>If <code>KeyType</code> is <code>CUSTOMER_MANAGED_CMK</code>, this field contains the ARN of the customer managed CMK. If <code>KeyType</code> is <code>AWS_OWNED_CMK</code>, <code>DeliveryStreamEncryptionConfiguration</code>\n         doesn't contain a value for <code>KeyARN</code>.</p>"
          }
        },
        "KeyType": {
          "target": "com.amazonaws.firehose#KeyType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of customer master key (CMK) that is used for encryption. The default\n         setting is <code>AWS_OWNED_CMK</code>. For more information about CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.firehose#DeliveryStreamEncryptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>This is the server-side encryption (SSE) status for the delivery stream. For a full\n         description of the different values of this status, see <a>StartDeliveryStreamEncryption</a> and <a>StopDeliveryStreamEncryption</a>. If this status is <code>ENABLING_FAILED</code>\n         or <code>DISABLING_FAILED</code>, it is the status of the most recent attempt to enable or\n         disable SSE, respectively.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the server-side encryption (SSE) status for the delivery\n         stream, the type customer master key (CMK) in use, if any, and the ARN of the CMK. You can\n         get <code>DeliveryStreamEncryptionConfiguration</code> by invoking the <a>DescribeDeliveryStream</a> operation. </p>"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamEncryptionConfigurationInput": {
      "type": "structure",
      "members": {
        "KeyARN": {
          "target": "com.amazonaws.firehose#AWSKMSKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>If you set <code>KeyType</code> to <code>CUSTOMER_MANAGED_CMK</code>, you must\n         specify the Amazon Resource Name (ARN) of the CMK. If you set <code>KeyType</code> to\n            <code>AWS_OWNED_CMK</code>, Kinesis Data Firehose uses a service-account CMK.</p>"
          }
        },
        "KeyType": {
          "target": "com.amazonaws.firehose#KeyType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of customer master key (CMK) to use for encryption. The default\n         setting is <code>AWS_OWNED_CMK</code>. For more information about CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>. When you invoke <a>CreateDeliveryStream</a> or <a>StartDeliveryStreamEncryption</a> with\n            <code>KeyType</code> set to CUSTOMER_MANAGED_CMK, Kinesis Data Firehose invokes the\n         Amazon KMS operation <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateGrant.html\">CreateGrant</a> to create a grant that allows the Kinesis Data Firehose service to\n         use the customer managed CMK to perform encryption and decryption. Kinesis Data Firehose\n         manages that grant. </p>\n         <p>When you invoke <a>StartDeliveryStreamEncryption</a> to change the CMK for a\n         delivery stream that is already encrypted with a customer managed CMK, Kinesis Data\n         Firehose schedules the grant it had on the old CMK for retirement.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to specify the type and Amazon Resource Name (ARN) of the CMK needed for\n         Server-Side Encryption (SSE). </p>"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamEncryptionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "ENABLING",
            "name": "ENABLING"
          },
          {
            "value": "ENABLING_FAILED",
            "name": "ENABLING_FAILED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "DISABLING",
            "name": "DISABLING"
          },
          {
            "value": "DISABLING_FAILED",
            "name": "DISABLING_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.firehose#DeliveryStreamFailureType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RETIRE_KMS_GRANT_FAILED",
            "name": "RETIRE_KMS_GRANT_FAILED"
          },
          {
            "value": "CREATE_KMS_GRANT_FAILED",
            "name": "CREATE_KMS_GRANT_FAILED"
          },
          {
            "value": "KMS_ACCESS_DENIED",
            "name": "KMS_ACCESS_DENIED"
          },
          {
            "value": "DISABLED_KMS_KEY",
            "name": "DISABLED_KMS_KEY"
          },
          {
            "value": "INVALID_KMS_KEY",
            "name": "INVALID_KMS_KEY"
          },
          {
            "value": "KMS_KEY_NOT_FOUND",
            "name": "KMS_KEY_NOT_FOUND"
          },
          {
            "value": "KMS_OPT_IN_REQUIRED",
            "name": "KMS_OPT_IN_REQUIRED"
          },
          {
            "value": "UNKNOWN_ERROR",
            "name": "UNKNOWN_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.firehose#DeliveryStreamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#DeliveryStreamName"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "CREATING_FAILED",
            "name": "CREATING_FAILED"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETING_FAILED",
            "name": "DELETING_FAILED"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.firehose#DeliveryStreamType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DirectPut"
          },
          {
            "value": "KinesisStreamAsSource"
          }
        ]
      }
    },
    "com.amazonaws.firehose#DeliveryStreamVersionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "[0-9]+"
      }
    },
    "com.amazonaws.firehose#DescribeDeliveryStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.firehose#DescribeDeliveryStreamInput"
      },
      "output": {
        "target": "com.amazonaws.firehose#DescribeDeliveryStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.firehose#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified delivery stream and its status. For example, after your\n         delivery stream is created, call <code>DescribeDeliveryStream</code> to see whether the\n         delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it. </p>\n         <p>If the status of a delivery stream is <code>CREATING_FAILED</code>, this status\n         doesn't change, and you can't invoke <a>CreateDeliveryStream</a> again on it.\n         However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it.\n         If the status is <code>DELETING_FAILED</code>, you can force deletion by invoking <a>DeleteDeliveryStream</a> again but with <a>DeleteDeliveryStreamInput$AllowForceDelete</a> set to true.</p>"
      }
    },
    "com.amazonaws.firehose#DescribeDeliveryStreamInput": {
      "type": "structure",
      "members": {
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery stream.</p>",
            "smithy.api#required": {}
          }
        },
        "ExclusiveStartDestinationId": {
          "target": "com.amazonaws.firehose#DestinationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the destination to start returning the destination information. \n         Kinesis Data Firehose supports one destination per delivery stream.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.firehose#DescribeDeliveryStreamInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The limit on the number of destinations to return. You can have one\n         destination per delivery stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.firehose#DescribeDeliveryStreamInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.firehose#DescribeDeliveryStreamOutput": {
      "type": "structure",
      "members": {
        "DeliveryStreamDescription": {
          "target": "com.amazonaws.firehose#DeliveryStreamDescription",
          "traits": {
            "smithy.api#documentation": "<p>Information about the delivery stream.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.firehose#Deserializer": {
      "type": "structure",
      "members": {
        "HiveJsonSerDe": {
          "target": "com.amazonaws.firehose#HiveJsonSerDe",
          "traits": {
            "smithy.api#documentation": "<p>The native Hive / HCatalog JsonSerDe. Used by Kinesis Data Firehose for deserializing\n         data, which means converting it from the JSON format in preparation for serializing it to\n         the Parquet or ORC format. This is one of two deserializers you can choose, depending on\n         which one offers the functionality you need. The other option is the OpenX SerDe.</p>"
          }
        },
        "OpenXJsonSerDe": {
          "target": "com.amazonaws.firehose#OpenXJsonSerDe",
          "traits": {
            "smithy.api#documentation": "<p>The OpenX SerDe. Used by Kinesis Data Firehose for deserializing data, which means\n         converting it from the JSON format in preparation for serializing it to the Parquet or ORC\n         format. This is one of two deserializers you can choose, depending on which one offers the\n         functionality you need. The other option is the native Hive / HCatalog JsonSerDe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The deserializer you want Kinesis Data Firehose to use for converting the input data\n         from JSON. Kinesis Data Firehose then serializes the data to its final format using the\n            <a>Serializer</a>. Kinesis Data Firehose supports two types of deserializers:\n         the <a href=\"https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageManualDDL-JSON\">Apache Hive JSON SerDe</a> and the <a href=\"https://github.com/rcongiu/Hive-JSON-Serde\">OpenX JSON SerDe</a>.</p>"
      }
    },
    "com.amazonaws.firehose#DestinationDescription": {
      "type": "structure",
      "members": {
        "DestinationId": {
          "target": "com.amazonaws.firehose#DestinationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "ElasticsearchDestinationDescription": {
          "target": "com.amazonaws.firehose#ElasticsearchDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon ES.</p>"
          }
        },
        "ExtendedS3DestinationDescription": {
          "target": "com.amazonaws.firehose#ExtendedS3DestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon S3.</p>"
          }
        },
        "RedshiftDestinationDescription": {
          "target": "com.amazonaws.firehose#RedshiftDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon Redshift.</p>"
          }
        },
        "S3DestinationDescription": {
          "target": "com.amazonaws.firehose#S3DestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>[Deprecated] The destination in Amazon S3.</p>"
          }
        },
        "SplunkDestinationDescription": {
          "target": "com.amazonaws.firehose#SplunkDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Splunk.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the destination for a delivery stream.</p>"
      }
    },
    "com.amazonaws.firehose#DestinationDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#DestinationDescription"
      }
    },
    "com.amazonaws.firehose#DestinationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.firehose#ElasticsearchBufferingHints": {
      "type": "structure",
      "members": {
        "IntervalInSeconds": {
          "target": "com.amazonaws.firehose#ElasticsearchBufferingIntervalInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering\n         it to the destination. The default value is 300 (5 minutes).</p>"
          }
        },
        "SizeInMBs": {
          "target": "com.amazonaws.firehose#ElasticsearchBufferingSizeInMBs",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the\n         destination. The default value is 5.</p>\n         <p>We recommend setting this parameter to a value greater than the amount of data you \n         typically ingest into the delivery stream in 10 seconds. For example, if you typically\n         ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the buffering to perform before delivering data to the Amazon ES\n         destination.</p>"
      }
    },
    "com.amazonaws.firehose#ElasticsearchBufferingIntervalInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 60,
          "max": 900
        }
      }
    },
    "com.amazonaws.firehose#ElasticsearchBufferingSizeInMBs": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.firehose#ElasticsearchClusterEndpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "https:.*"
      }
    },
    "com.amazonaws.firehose#ElasticsearchDestinationConfiguration": {
      "type": "structure",
      "members": {
        "BufferingHints": {
          "target": "com.amazonaws.firehose#ElasticsearchBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified, the default values for\n            <code>ElasticsearchBufferingHints</code> are used.</p>"
          }
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch logging options for your delivery stream.</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#ElasticsearchClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Specify either this <code>ClusterEndpoint</code> or the <code>DomainARN</code> field.</p>"
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#ElasticsearchDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon ES domain. The IAM role must have permissions\n            for <code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code>,\n         and <code>DescribeElasticsearchDomainConfig</code> after assuming the role specified in\n\n            <b>RoleARN</b>. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n      \n         <p>Specify either <code>ClusterEndpoint</code> or <code>DomainARN</code>.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index name.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index rotation period. Index rotation appends a timestamp to the\n            <code>IndexName</code> to facilitate the expiration of old data. For more information,\n         see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for the\n            Amazon ES Destination</a>. The default value is <code>OneDay</code>.</p>"
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data processing configuration.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#ElasticsearchRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver documents to\n         Amazon ES. The default value is 300 (5 minutes).</p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose\n         for calling the Amazon ES Configuration API and for indexing documents. For more\n         information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data\n            Firehose Access to an Amazon S3 Destination</a> and <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#ElasticsearchS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>Defines how documents should be delivered to Amazon S3. When it is set to\n\n            <code>FailedDocumentsOnly</code>, Kinesis Data Firehose writes any documents that could\n         not be indexed to the configured Amazon S3 destination, with\n            <code>elasticsearch-failed/</code> appended to the key prefix. When set to\n            <code>AllDocuments</code>, Kinesis Data Firehose delivers all incoming records to Amazon\n         S3, and also writes failed documents with <code>elasticsearch-failed/</code> appended to\n         the prefix. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-s3-backup\">Amazon S3 Backup for the\n            Amazon ES Destination</a>. Default value is\n         <code>FailedDocumentsOnly</code>.</p>"
          }
        },
        "S3Configuration": {
          "target": "com.amazonaws.firehose#S3DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the backup Amazon S3 location.</p>",
            "smithy.api#required": {}
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#ElasticsearchTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch type name. For Elasticsearch 6.x, there can be only one type per\n         index. If you try to specify a new type for an existing index that already has another\n         type, Kinesis Data Firehose returns an error during run time.</p>\n      \n         <p>For Elasticsearch 7.x, don't specify a <code>TypeName</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of a destination in Amazon ES.</p>"
      }
    },
    "com.amazonaws.firehose#ElasticsearchDestinationDescription": {
      "type": "structure",
      "members": {
        "BufferingHints": {
          "target": "com.amazonaws.firehose#ElasticsearchBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options.</p>"
          }
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch logging options.</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#ElasticsearchClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Kinesis Data Firehose uses either this <code>ClusterEndpoint</code> or the <code>DomainARN</code> field to send data to Amazon ES.</p>"
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#ElasticsearchDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon ES domain. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n      \n         <p>Kinesis Data Firehose uses either <code>ClusterEndpoint</code> or <code>DomainARN</code> to send data to Amazon ES.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index name.</p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index rotation period</p>"
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data processing configuration.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#ElasticsearchRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon ES retry options.</p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS credentials. For more information, see\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#ElasticsearchS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 backup mode.</p>"
          }
        },
        "S3DestinationDescription": {
          "target": "com.amazonaws.firehose#S3DestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 destination.</p>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#ElasticsearchTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch type name. This applies to Elasticsearch 6.x and lower versions. For Elasticsearch 7.x, there's no value for <code>TypeName</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination description in Amazon ES.</p>"
      }
    },
    "com.amazonaws.firehose#ElasticsearchDestinationUpdate": {
      "type": "structure",
      "members": {
        "BufferingHints": {
          "target": "com.amazonaws.firehose#ElasticsearchBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified,\n            <code>ElasticsearchBufferingHints</code> object default values are used. </p>"
          }
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch logging options for your delivery stream.</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#ElasticsearchClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Specify either this <code>ClusterEndpoint</code> or the <code>DomainARN</code> field.</p>"
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#ElasticsearchDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon ES domain. The IAM role must have permissions\n            for <code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code>,\n         and <code>DescribeElasticsearchDomainConfig</code> after assuming the IAM role specified in\n            <code>RoleARN</code>. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and AWS Service Namespaces</a>.</p>\n\n         <p>Specify either <code>ClusterEndpoint</code> or <code>DomainARN</code>.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index name.</p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index rotation period. Index rotation appends a timestamp to\n            <code>IndexName</code> to facilitate the expiration of old data. For more information,\n         see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for the\n            Amazon ES Destination</a>. Default value is <code>OneDay</code>.</p>"
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data processing configuration.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#ElasticsearchRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver documents to\n         Amazon ES. The default value is 300 (5 minutes).</p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose for\n         calling the Amazon ES Configuration API and for indexing documents. For more\n         information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data\n            Firehose Access to an Amazon S3 Destination</a> and <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and AWS Service Namespaces</a>.</p>"
          }
        },
        "S3Update": {
          "target": "com.amazonaws.firehose#S3DestinationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 destination.</p>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#ElasticsearchTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch type name. For Elasticsearch 6.x, there can be only one type per\n         index. If you try to specify a new type for an existing index that already has another\n         type, Kinesis Data Firehose returns an error during runtime.</p>\n      \n         <p>If you upgrade Elasticsearch from 6.x to 7.x and don’t update your delivery stream, Kinesis Data Firehose still delivers data to Elasticsearch with the old index name and type name. \n         If you want to update your delivery stream with a new index name, provide an empty string for <code>TypeName</code>.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an update for a destination in Amazon ES.</p>"
      }
    },
    "com.amazonaws.firehose#ElasticsearchDomainARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "arn:.*"
      }
    },
    "com.amazonaws.firehose#ElasticsearchIndexName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 80
        }
      }
    },
    "com.amazonaws.firehose#ElasticsearchIndexRotationPeriod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NoRotation"
          },
          {
            "value": "OneHour"
          },
          {
            "value": "OneDay"
          },
          {
            "value": "OneWeek"
          },
          {
            "value": "OneMonth"
          }
        ]
      }
    },
    "com.amazonaws.firehose#ElasticsearchRetryDurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 7200
        }
      }
    },
    "com.amazonaws.firehose#ElasticsearchRetryOptions": {
      "type": "structure",
      "members": {
        "DurationInSeconds": {
          "target": "com.amazonaws.firehose#ElasticsearchRetryDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>After an initial failure to deliver to Amazon ES, the total amount of time during\n\n         which Kinesis Data Firehose retries delivery (including the first attempt). After this time\n         has elapsed, the failed documents are written to Amazon S3. Default value is 300 seconds (5\n         minutes). A value of 0 (zero) results in no retries.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures retry behavior in case Kinesis Data Firehose is unable to deliver\n         documents to Amazon ES.</p>"
      }
    },
    "com.amazonaws.firehose#ElasticsearchS3BackupMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FailedDocumentsOnly"
          },
          {
            "value": "AllDocuments"
          }
        ]
      }
    },
    "com.amazonaws.firehose#ElasticsearchTypeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.firehose#EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "KMSEncryptionConfig": {
          "target": "com.amazonaws.firehose#KMSEncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The encryption key.</p>"
          }
        },
        "NoEncryptionConfig": {
          "target": "com.amazonaws.firehose#NoEncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifically override existing encryption information to ensure that no encryption is\n         used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the encryption for a destination in Amazon S3.</p>"
      }
    },
    "com.amazonaws.firehose#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.firehose#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.firehose#ErrorOutputPrefix": {
      "type": "string"
    },
    "com.amazonaws.firehose#ExtendedS3DestinationConfiguration": {
      "type": "structure",
      "members": {
        "BucketARN": {
          "target": "com.amazonaws.firehose#BucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#BufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering option.</p>"
          }
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch logging options for your delivery stream.</p>"
          }
        },
        "CompressionFormat": {
          "target": "com.amazonaws.firehose#CompressionFormat",
          "traits": {
            "smithy.api#documentation": "<p>The compression format. If no value is specified, the default is UNCOMPRESSED.</p>"
          }
        },
        "DataFormatConversionConfiguration": {
          "target": "com.amazonaws.firehose#DataFormatConversionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The serializer, deserializer, and schema for converting data from the JSON format to\n         the Parquet or ORC format before writing it to Amazon S3.</p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.firehose#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration. If no value is specified, the default is no encryption.</p>"
          }
        },
        "ErrorOutputPrefix": {
          "target": "com.amazonaws.firehose#ErrorOutputPrefix",
          "traits": {
            "smithy.api#documentation": "<p>A prefix that Kinesis Data Firehose evaluates and adds to failed records before writing\n         them to S3. This prefix appears immediately following the bucket name. For information\n         about how to specify this prefix, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes\n            for Amazon S3 Objects</a>.</p>"
          }
        },
        "Prefix": {
          "target": "com.amazonaws.firehose#Prefix",
          "traits": {
            "smithy.api#documentation": "<p>The \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered Amazon S3\n         files. You can also specify a custom prefix, as described in <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes for Amazon S3 Objects</a>.</p>"
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data processing configuration.</p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS credentials. For more information, see\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3BackupConfiguration": {
          "target": "com.amazonaws.firehose#S3DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for backup in Amazon S3.</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#S3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 backup mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of a destination in Amazon S3.</p>"
      }
    },
    "com.amazonaws.firehose#ExtendedS3DestinationDescription": {
      "type": "structure",
      "members": {
        "BucketARN": {
          "target": "com.amazonaws.firehose#BucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#BufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering option.</p>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch logging options for your delivery stream.</p>"
          }
        },
        "CompressionFormat": {
          "target": "com.amazonaws.firehose#CompressionFormat",
          "traits": {
            "smithy.api#documentation": "<p>The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DataFormatConversionConfiguration": {
          "target": "com.amazonaws.firehose#DataFormatConversionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The serializer, deserializer, and schema for converting data from the JSON format to\n         the Parquet or ORC format before writing it to Amazon S3.</p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.firehose#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration. If no value is specified, the default is no encryption.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorOutputPrefix": {
          "target": "com.amazonaws.firehose#ErrorOutputPrefix",
          "traits": {
            "smithy.api#documentation": "<p>A prefix that Kinesis Data Firehose evaluates and adds to failed records before writing\n         them to S3. This prefix appears immediately following the bucket name. For information\n         about how to specify this prefix, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes\n            for Amazon S3 Objects</a>.</p>"
          }
        },
        "Prefix": {
          "target": "com.amazonaws.firehose#Prefix",
          "traits": {
            "smithy.api#documentation": "<p>The \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered Amazon S3\n         files. You can also specify a custom prefix, as described in <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes\n            for Amazon S3 Objects</a>.</p>"
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data processing configuration.</p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS credentials. For more information, see\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3BackupDescription": {
          "target": "com.amazonaws.firehose#S3DestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for backup in Amazon S3.</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#S3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 backup mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a destination in Amazon S3.</p>"
      }
    },
    "com.amazonaws.firehose#ExtendedS3DestinationUpdate": {
      "type": "structure",
      "members": {
        "BucketARN": {
          "target": "com.amazonaws.firehose#BucketARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and AWS Service Namespaces</a>.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#BufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering option.</p>"
          }
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch logging options for your delivery stream.</p>"
          }
        },
        "CompressionFormat": {
          "target": "com.amazonaws.firehose#CompressionFormat",
          "traits": {
            "smithy.api#documentation": "<p>The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>. </p>"
          }
        },
        "DataFormatConversionConfiguration": {
          "target": "com.amazonaws.firehose#DataFormatConversionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The serializer, deserializer, and schema for converting data from the JSON format to\n         the Parquet or ORC format before writing it to Amazon S3.</p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.firehose#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration. If no value is specified, the default is no encryption.</p>"
          }
        },
        "ErrorOutputPrefix": {
          "target": "com.amazonaws.firehose#ErrorOutputPrefix",
          "traits": {
            "smithy.api#documentation": "<p>A prefix that Kinesis Data Firehose evaluates and adds to failed records before writing\n         them to S3. This prefix appears immediately following the bucket name. For information\n         about how to specify this prefix, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes\n            for Amazon S3 Objects</a>.</p>"
          }
        },
        "Prefix": {
          "target": "com.amazonaws.firehose#Prefix",
          "traits": {
            "smithy.api#documentation": "<p>The \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered Amazon S3\n         files. You can also specify a custom prefix, as described in <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes\n            for Amazon S3 Objects</a>.</p>"
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data processing configuration.</p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS credentials. For more information, see\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#S3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables Amazon S3 backup mode.</p>"
          }
        },
        "S3BackupUpdate": {
          "target": "com.amazonaws.firehose#S3DestinationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 destination for backup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an update for a destination in Amazon S3.</p>"
      }
    },
    "com.amazonaws.firehose#FailureDescription": {
      "type": "structure",
      "members": {
        "Details": {
          "target": "com.amazonaws.firehose#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A message providing details about the error that caused the failure.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.firehose#DeliveryStreamFailureType",
          "traits": {
            "smithy.api#documentation": "<p>The type of error that caused the failure.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details in case one of the following operations fails due to an error related\n         to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>, <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>"
      }
    },
    "com.amazonaws.firehose#Firehose_20150804": {
      "type": "service",
      "version": "2015-08-04",
      "operations": [
        {
          "target": "com.amazonaws.firehose#CreateDeliveryStream"
        },
        {
          "target": "com.amazonaws.firehose#DeleteDeliveryStream"
        },
        {
          "target": "com.amazonaws.firehose#DescribeDeliveryStream"
        },
        {
          "target": "com.amazonaws.firehose#ListDeliveryStreams"
        },
        {
          "target": "com.amazonaws.firehose#ListTagsForDeliveryStream"
        },
        {
          "target": "com.amazonaws.firehose#PutRecord"
        },
        {
          "target": "com.amazonaws.firehose#PutRecordBatch"
        },
        {
          "target": "com.amazonaws.firehose#StartDeliveryStreamEncryption"
        },
        {
          "target": "com.amazonaws.firehose#StopDeliveryStreamEncryption"
        },
        {
          "target": "com.amazonaws.firehose#TagDeliveryStream"
        },
        {
          "target": "com.amazonaws.firehose#UntagDeliveryStream"
        },
        {
          "target": "com.amazonaws.firehose#UpdateDestination"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Firehose",
          "arnNamespace": "firehose",
          "cloudFormationName": "KinesisFirehose",
          "cloudTrailEventSource": "v20150804.firehose.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "firehose"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Amazon Kinesis Data Firehose API Reference</fullname>\n         <p>Amazon Kinesis Data Firehose is a fully managed service that delivers real-time\n         streaming data to destinations such as Amazon Simple Storage Service (Amazon S3), Amazon\n         Elasticsearch Service (Amazon ES), Amazon Redshift, and Splunk.</p>",
        "smithy.api#title": "Amazon Kinesis Firehose",
        "smithy.api#xmlNamespace": {
          "uri": "http://firehose.amazonaws.com/doc/2015-08-04"
        }
      }
    },
    "com.amazonaws.firehose#HECAcknowledgmentTimeoutInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 180,
          "max": 600
        }
      }
    },
    "com.amazonaws.firehose#HECEndpoint": {
      "type": "string"
    },
    "com.amazonaws.firehose#HECEndpointType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Raw"
          },
          {
            "value": "Event"
          }
        ]
      }
    },
    "com.amazonaws.firehose#HECToken": {
      "type": "string"
    },
    "com.amazonaws.firehose#HiveJsonSerDe": {
      "type": "structure",
      "members": {
        "TimestampFormats": {
          "target": "com.amazonaws.firehose#ListOfNonEmptyStrings",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how you want Kinesis Data Firehose to parse the date and timestamps that\n         may be present in your input data JSON. To specify these format strings, follow the pattern\n         syntax of JodaTime's DateTimeFormat format strings. For more information, see <a href=\"https://www.joda.org/joda-time/apidocs/org/joda/time/format/DateTimeFormat.html\">Class DateTimeFormat</a>. You can also use the special value <code>millis</code> to\n         parse timestamps in epoch milliseconds. If you don't specify a format, Kinesis Data\n         Firehose uses <code>java.sql.Timestamp::valueOf</code> by default.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The native Hive / HCatalog JsonSerDe. Used by Kinesis Data Firehose for deserializing\n         data, which means converting it from the JSON format in preparation for serializing it to\n         the Parquet or ORC format. This is one of two deserializers you can choose, depending on\n         which one offers the functionality you need. The other option is the OpenX SerDe.</p>"
      }
    },
    "com.amazonaws.firehose#InputFormatConfiguration": {
      "type": "structure",
      "members": {
        "Deserializer": {
          "target": "com.amazonaws.firehose#Deserializer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which deserializer to use. You can choose either the Apache Hive JSON SerDe\n         or the OpenX JSON SerDe. If both are non-null, the server rejects the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the deserializer you want to use to convert the format of the input data.</p>"
      }
    },
    "com.amazonaws.firehose#IntervalInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 60,
          "max": 900
        }
      }
    },
    "com.amazonaws.firehose#InvalidArgumentException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.firehose#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified input parameter has a value that is not valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.firehose#InvalidKMSResourceException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.firehose#ErrorCode"
        },
        "message": {
          "target": "com.amazonaws.firehose#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Kinesis Data Firehose throws this exception when an attempt to put records or to start or stop delivery stream encryption fails. This happens when \n         the KMS service throws one of the following exception types: <code>AccessDeniedException</code>, <code>InvalidStateException</code>, <code>DisabledException</code>, or <code>NotFoundException</code>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.firehose#KMSEncryptionConfig": {
      "type": "structure",
      "members": {
        "AWSKMSKeyARN": {
          "target": "com.amazonaws.firehose#AWSKMSKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the encryption key. Must belong to the same AWS Region\n         as the destination Amazon S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an encryption key for a destination in Amazon S3.</p>"
      }
    },
    "com.amazonaws.firehose#KeyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS_OWNED_CMK",
            "name": "AWS_OWNED_CMK"
          },
          {
            "value": "CUSTOMER_MANAGED_CMK",
            "name": "CUSTOMER_MANAGED_CMK"
          }
        ]
      }
    },
    "com.amazonaws.firehose#KinesisStreamARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "arn:.*"
      }
    },
    "com.amazonaws.firehose#KinesisStreamSourceConfiguration": {
      "type": "structure",
      "members": {
        "KinesisStreamARN": {
          "target": "com.amazonaws.firehose#KinesisStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source Kinesis data stream. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams\">Amazon Kinesis Data Streams ARN Format</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that provides access to the source Kinesis data stream. For more\n         information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access Management (IAM) ARN Format</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The stream and role Amazon Resource Names (ARNs) for a Kinesis data stream used as\n         the source for a delivery stream.</p>"
      }
    },
    "com.amazonaws.firehose#KinesisStreamSourceDescription": {
      "type": "structure",
      "members": {
        "DeliveryStartTimestamp": {
          "target": "com.amazonaws.firehose#DeliveryStartTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>Kinesis Data Firehose starts retrieving records from the Kinesis data stream starting\n         with this timestamp.</p>"
          }
        },
        "KinesisStreamARN": {
          "target": "com.amazonaws.firehose#KinesisStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source Kinesis data stream. For more information,\n         see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams\">Amazon Kinesis Data Streams ARN Format</a>.</p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role used by the source Kinesis data stream. For more information, see\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access Management (IAM) ARN Format</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a Kinesis data stream used as the source for a Kinesis Data Firehose\n         delivery stream.</p>"
      }
    },
    "com.amazonaws.firehose#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.firehose#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have already reached the limit for a requested resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.firehose#ListDeliveryStreams": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.firehose#ListDeliveryStreamsInput"
      },
      "output": {
        "target": "com.amazonaws.firehose#ListDeliveryStreamsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists your delivery streams in alphabetical order of their names.</p>\n         <p>The number of delivery streams might be too large to return using a single call to\n            <code>ListDeliveryStreams</code>. You can limit the number of delivery streams returned,\n         using the <code>Limit</code> parameter. To determine whether there are more delivery\n         streams to list, check the value of <code>HasMoreDeliveryStreams</code> in the output. If\n         there are more delivery streams to list, you can request them by calling this operation\n         again and setting the <code>ExclusiveStartDeliveryStreamName</code> parameter to the name\n         of the last delivery stream returned in the last call.</p>"
      }
    },
    "com.amazonaws.firehose#ListDeliveryStreamsInput": {
      "type": "structure",
      "members": {
        "DeliveryStreamType": {
          "target": "com.amazonaws.firehose#DeliveryStreamType",
          "traits": {
            "smithy.api#documentation": "<p>The delivery stream type. This can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DirectPut</code>: Provider applications access the delivery stream\n               directly.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a\n               source.</p>\n            </li>\n         </ul>\n         <p>This parameter is optional. If this parameter is omitted, delivery streams of all\n         types are returned.</p>"
          }
        },
        "ExclusiveStartDeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The list of delivery streams returned by this call to\n            <code>ListDeliveryStreams</code> will start with the delivery stream whose name comes\n         alphabetically immediately after the name you specify in\n            <code>ExclusiveStartDeliveryStreamName</code>.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.firehose#ListDeliveryStreamsInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of delivery streams to list. The default value is 10.</p>"
          }
        }
      }
    },
    "com.amazonaws.firehose#ListDeliveryStreamsInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.firehose#ListDeliveryStreamsOutput": {
      "type": "structure",
      "members": {
        "DeliveryStreamNames": {
          "target": "com.amazonaws.firehose#DeliveryStreamNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the delivery streams.</p>",
            "smithy.api#required": {}
          }
        },
        "HasMoreDeliveryStreams": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether there are more delivery streams available to list.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.firehose#ListOfNonEmptyStrings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#NonEmptyString"
      }
    },
    "com.amazonaws.firehose#ListOfNonEmptyStringsWithoutWhitespace": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#NonEmptyStringWithoutWhitespace"
      }
    },
    "com.amazonaws.firehose#ListTagsForDeliveryStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.firehose#ListTagsForDeliveryStreamInput"
      },
      "output": {
        "target": "com.amazonaws.firehose#ListTagsForDeliveryStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.firehose#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.firehose#LimitExceededException"
        },
        {
          "target": "com.amazonaws.firehose#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified delivery stream. This operation has a limit of five\n         transactions per second per account. </p>"
      }
    },
    "com.amazonaws.firehose#ListTagsForDeliveryStreamInput": {
      "type": "structure",
      "members": {
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery stream whose tags you want to list.</p>",
            "smithy.api#required": {}
          }
        },
        "ExclusiveStartTagKey": {
          "target": "com.amazonaws.firehose#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key to use as the starting point for the list of tags. If you set this parameter,\n            <code>ListTagsForDeliveryStream</code> gets all tags that occur after\n            <code>ExclusiveStartTagKey</code>.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.firehose#ListTagsForDeliveryStreamInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The number of tags to return. If this number is less than the total number of tags associated with the delivery stream, \n         <code>HasMoreTags</code> is set to <code>true</code> in the response. \n         To list additional tags, set <code>ExclusiveStartTagKey</code> to the last key in the response. </p>"
          }
        }
      }
    },
    "com.amazonaws.firehose#ListTagsForDeliveryStreamInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.firehose#ListTagsForDeliveryStreamOutput": {
      "type": "structure",
      "members": {
        "HasMoreTags": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>If this is <code>true</code> in the response, more tags are available. \n         To list the remaining tags, set <code>ExclusiveStartTagKey</code> to the key of the last tag returned and call <code>ListTagsForDeliveryStream</code> again.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.firehose#ListTagsForDeliveryStreamOutputTagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with <code>DeliveryStreamName</code>, starting with the\n         first tag after <code>ExclusiveStartTagKey</code> and up to the specified\n            <code>Limit</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.firehose#ListTagsForDeliveryStreamOutputTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.firehose#LogGroupName": {
      "type": "string"
    },
    "com.amazonaws.firehose#LogStreamName": {
      "type": "string"
    },
    "com.amazonaws.firehose#NoEncryptionConfig": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NoEncryption"
          }
        ]
      }
    },
    "com.amazonaws.firehose#NonEmptyString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(?!\\s*$).+"
      }
    },
    "com.amazonaws.firehose#NonEmptyStringWithoutWhitespace": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.firehose#NonNegativeIntegerObject": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.firehose#OpenXJsonSerDe": {
      "type": "structure",
      "members": {
        "CaseInsensitive": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>true</code>, which is the default, Kinesis Data Firehose converts\n         JSON keys to lowercase before deserializing them.</p>"
          }
        },
        "ColumnToJsonKeyMappings": {
          "target": "com.amazonaws.firehose#ColumnToJsonKeyMappings",
          "traits": {
            "smithy.api#documentation": "<p>Maps column names to JSON keys that aren't identical to the column names. This is\n         useful when the JSON contains keys that are Hive keywords. For example,\n            <code>timestamp</code> is a Hive keyword. If you have a JSON key named\n            <code>timestamp</code>, set this parameter to <code>{\"ts\": \"timestamp\"}</code> to map\n         this key to a column named <code>ts</code>.</p>"
          }
        },
        "ConvertDotsInJsonKeysToUnderscores": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>true</code>, specifies that the names of the keys include dots and\n         that you want Kinesis Data Firehose to replace them with underscores. This is useful\n         because Apache Hive does not allow dots in column names. For example, if the JSON contains\n         a key whose name is \"a.b\", you can define the column name to be \"a_b\" when using this\n         option.</p>\n         <p>The default is <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The OpenX SerDe. Used by Kinesis Data Firehose for deserializing data, which means\n         converting it from the JSON format in preparation for serializing it to the Parquet or ORC\n         format. This is one of two deserializers you can choose, depending on which one offers the\n         functionality you need. The other option is the native Hive / HCatalog JsonSerDe.</p>"
      }
    },
    "com.amazonaws.firehose#OrcCompression": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "ZLIB",
            "name": "ZLIB"
          },
          {
            "value": "SNAPPY",
            "name": "SNAPPY"
          }
        ]
      }
    },
    "com.amazonaws.firehose#OrcFormatVersion": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "V0_11",
            "name": "V0_11"
          },
          {
            "value": "V0_12",
            "name": "V0_12"
          }
        ]
      }
    },
    "com.amazonaws.firehose#OrcRowIndexStride": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1000
        }
      }
[...]
