{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.firehose#AWSKMSKeyARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^arn:"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingHints": {
      "type": "structure",
      "members": {
        "IntervalInSeconds": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingIntervalInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it\n         to the destination. The default value is 300 (5 minutes).</p>"
          }
        },
        "SizeInMBs": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingSizeInMBs",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the\n         destination. The default value is 5. </p>\n         <p>We recommend setting this parameter to a value greater than the amount of data you\n         typically ingest into the delivery stream in 10 seconds. For example, if you typically\n         ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the buffering to perform before delivering data to the Serverless offering for\n         Amazon OpenSearch Service destination.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingIntervalInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 60,
          "max": 900
        }
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingSizeInMBs": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessCollectionEndpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^https:"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessDestinationConfiguration": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose\n         for calling the Serverless offering for Amazon OpenSearch Service Configuration API and for\n         indexing documents.</p>",
            "smithy.api#required": {}
          }
        },
        "CollectionEndpoint": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessCollectionEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the collection in the Serverless offering\n         for Amazon OpenSearch Service.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Serverless offering for Amazon OpenSearch Service index name.</p>",
            "smithy.api#required": {}
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified, the default values for\n         AmazonopensearchserviceBufferingHints are used.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver documents to the\n         Serverless offering for Amazon OpenSearch Service. The default value is 300 (5\n         minutes).</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>Defines how documents should be delivered to Amazon S3. When it is set to\n         FailedDocumentsOnly, Kinesis Data Firehose writes any documents that could not be indexed\n         to the configured Amazon S3 destination, with AmazonOpenSearchService-failed/ appended to\n         the key prefix. When set to AllDocuments, Kinesis Data Firehose delivers all incoming\n         records to Amazon S3, and also writes failed documents with AmazonOpenSearchService-failed/\n         appended to the prefix.</p>"
          }
        },
        "S3Configuration": {
          "target": "com.amazonaws.firehose#S3DestinationConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.firehose#VpcConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of a destination in the Serverless offering for Amazon\n         OpenSearch Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessDestinationDescription": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS credentials.</p>"
          }
        },
        "CollectionEndpoint": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessCollectionEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the collection in the Serverless offering\n         for Amazon OpenSearch Service.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Serverless offering for Amazon OpenSearch Service index name.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Serverless offering for Amazon OpenSearch Service retry options.</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 backup mode.</p>"
          }
        },
        "S3DestinationDescription": {
          "target": "com.amazonaws.firehose#S3DestinationDescription"
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        },
        "VpcConfigurationDescription": {
          "target": "com.amazonaws.firehose#VpcConfigurationDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination description in the Serverless offering for Amazon OpenSearch\n         Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessDestinationUpdate": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose\n         for calling the Serverless offering for Amazon OpenSearch Service Configuration API and for\n         indexing documents.</p>"
          }
        },
        "CollectionEndpoint": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessCollectionEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the collection in the Serverless offering\n         for Amazon OpenSearch Service.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Serverless offering for Amazon OpenSearch Service index name.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified, AmazonopensearchBufferingHints object\n         default values are used.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver documents to the\n         Serverless offering for Amazon OpenSearch Service. The default value is 300 (5\n         minutes).</p>"
          }
        },
        "S3Update": {
          "target": "com.amazonaws.firehose#S3DestinationUpdate"
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an update for a destination in the Serverless offering for Amazon OpenSearch\n         Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessIndexName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 80
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryDurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 7200
        }
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryOptions": {
      "type": "structure",
      "members": {
        "DurationInSeconds": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessRetryDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>After an initial failure to deliver to the Serverless offering for Amazon OpenSearch\n         Service, the total amount of time during which Kinesis Data Firehose retries delivery\n         (including the first attempt). After this time has elapsed, the failed documents are\n         written to Amazon S3. Default value is 300 seconds (5 minutes). A value of 0 (zero) results\n         in no retries.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures retry behavior in case Kinesis Data Firehose is unable to deliver documents\n         to the Serverless offering for Amazon OpenSearch Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonOpenSearchServerlessS3BackupMode": {
      "type": "enum",
      "members": {
        "FailedDocumentsOnly": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailedDocumentsOnly"
          }
        },
        "AllDocuments": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllDocuments"
          }
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceBufferingHints": {
      "type": "structure",
      "members": {
        "IntervalInSeconds": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceBufferingIntervalInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it\n         to the destination. The default value is 300 (5 minutes). </p>"
          }
        },
        "SizeInMBs": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceBufferingSizeInMBs",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the\n         destination. The default value is 5.</p>\n         <p>We recommend setting this parameter to a value greater than the amount of data you\n         typically ingest into the delivery stream in 10 seconds. For example, if you typically\n         ingest data at 1 MB/sec, the value should be 10 MB or higher. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the buffering to perform before delivering data to the Amazon OpenSearch\n         Service destination. </p>"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceBufferingIntervalInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 60,
          "max": 900
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceBufferingSizeInMBs": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceClusterEndpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^https:"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceDestinationConfiguration": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose\n         for calling the Amazon OpenSearch Service Configuration API and for indexing\n         documents.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon OpenSearch Service domain. The IAM role must have permissions for\n         DescribeElasticsearchDomain, DescribeElasticsearchDomains, and\n         DescribeElasticsearchDomainConfig after assuming the role specified in RoleARN. </p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Specify either this\n         ClusterEndpoint or the DomainARN field. </p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The ElasticsearAmazon OpenSearch Service index name.</p>",
            "smithy.api#required": {}
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service type name. For Elasticsearch 6.x, there can be only one\n         type per index. If you try to specify a new type for an existing index that already has\n         another type, Kinesis Data Firehose returns an error during run time. </p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service index rotation period. Index rotation appends a timestamp\n         to the IndexName to facilitate the expiration of old data.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified, the default values for\n         AmazonopensearchserviceBufferingHints are used. </p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver documents to\n         Amazon OpenSearch Service. The default value is 300 (5 minutes). </p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>Defines how documents should be delivered to Amazon S3. When it is set to\n         FailedDocumentsOnly, Kinesis Data Firehose writes any documents that could not be indexed\n         to the configured Amazon S3 destination, with AmazonOpenSearchService-failed/ appended to\n         the key prefix. When set to AllDocuments, Kinesis Data Firehose delivers all incoming\n         records to Amazon S3, and also writes failed documents with AmazonOpenSearchService-failed/\n         appended to the prefix. </p>"
          }
        },
        "S3Configuration": {
          "target": "com.amazonaws.firehose#S3DestinationConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.firehose#VpcConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of a destination in Amazon OpenSearch Service</p>"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceDestinationDescription": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services credentials. </p>"
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon OpenSearch Service domain.</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Kinesis Data Firehose uses\n         either this ClusterEndpoint or the DomainARN field to send data to Amazon OpenSearch\n         Service. </p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service index name.</p>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service type name. This applies to Elasticsearch 6.x and lower\n         versions. For Elasticsearch 7.x and OpenSearch Service 1.x, there's no value for TypeName. </p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service index rotation period</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service retry options.</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 backup mode.</p>"
          }
        },
        "S3DestinationDescription": {
          "target": "com.amazonaws.firehose#S3DestinationDescription"
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        },
        "VpcConfigurationDescription": {
          "target": "com.amazonaws.firehose#VpcConfigurationDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination description in Amazon OpenSearch Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceDestinationUpdate": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose\n         for calling the Amazon OpenSearch Service Configuration API and for indexing documents.\n      </p>"
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon OpenSearch Service domain. The IAM role must have permissions for\n         DescribeDomain, DescribeDomains, and DescribeDomainConfig after assuming the IAM role\n         specified in RoleARN.</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Specify either this\n         ClusterEndpoint or the DomainARN field. </p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service index name.</p>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service type name. For Elasticsearch 6.x, there can be only one\n         type per index. If you try to specify a new type for an existing index that already has\n         another type, Kinesis Data Firehose returns an error during runtime. </p>\n         <p>If you upgrade Elasticsearch from 6.x to 7.x and don’t update your delivery stream,\n         Kinesis Data Firehose still delivers data to Elasticsearch with the old index name and type\n         name. If you want to update your delivery stream with a new index name, provide an empty\n         string for TypeName. </p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon OpenSearch Service index rotation period. Index rotation appends a timestamp\n         to IndexName to facilitate the expiration of old data.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified, AmazonopensearchBufferingHints object\n         default values are used. </p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver documents to\n         Amazon OpenSearch Service. The default value is 300 (5 minutes). </p>"
          }
        },
        "S3Update": {
          "target": "com.amazonaws.firehose#S3DestinationUpdate"
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an update for a destination in Amazon OpenSearch Service.</p>"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceDomainARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^arn:"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceIndexName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 80
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceIndexRotationPeriod": {
      "type": "enum",
      "members": {
        "NoRotation": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoRotation"
          }
        },
        "OneHour": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneHour"
          }
        },
        "OneDay": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneDay"
          }
        },
        "OneWeek": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneWeek"
          }
        },
        "OneMonth": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneMonth"
          }
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceRetryDurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 7200
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceRetryOptions": {
      "type": "structure",
      "members": {
        "DurationInSeconds": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceRetryDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>After an initial failure to deliver to Amazon OpenSearch Service, the total amount of\n         time during which Kinesis Data Firehose retries delivery (including the first attempt).\n         After this time has elapsed, the failed documents are written to Amazon S3. Default value\n         is 300 seconds (5 minutes). A value of 0 (zero) results in no retries. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures retry behavior in case Kinesis Data Firehose is unable to deliver documents\n         to Amazon OpenSearch Service. </p>"
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceS3BackupMode": {
      "type": "enum",
      "members": {
        "FailedDocumentsOnly": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FailedDocumentsOnly"
          }
        },
        "AllDocuments": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AllDocuments"
          }
        }
      }
    },
    "com.amazonaws.firehose#AmazonopensearchserviceTypeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#BlockSizeBytes": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 67108864
        }
      }
    },
    "com.amazonaws.firehose#BooleanObject": {
      "type": "boolean"
    },
    "com.amazonaws.firehose#BucketARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:"
      }
    },
    "com.amazonaws.firehose#BufferingHints": {
      "type": "structure",
      "members": {
        "SizeInMBs": {
          "target": "com.amazonaws.firehose#SizeInMBs",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data to the specified size, in MiBs, before delivering it to the\n         destination. The default value is 5. This parameter is optional but if you specify a value\n         for it, you must also specify a value for <code>IntervalInSeconds</code>, and vice\n         versa.</p>\n         <p>We recommend setting this parameter to a value greater than the amount of data you\n         typically ingest into the delivery stream in 10 seconds. For example, if you typically\n         ingest data at 1 MiB/sec, the value should be 10 MiB or higher.</p>"
          }
        },
        "IntervalInSeconds": {
          "target": "com.amazonaws.firehose#IntervalInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering\n         it to the destination. The default value is 300. This parameter is optional but if you\n         specify a value for it, you must also specify a value for <code>SizeInMBs</code>, and vice\n         versa.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes hints for the buffering to perform before delivering data to the\n         destination. These options are treated as hints, and therefore Kinesis Data Firehose might\n         choose to use different values when it is optimal. The <code>SizeInMBs</code> and\n            <code>IntervalInSeconds</code> parameters are optional. However, if specify a value for\n         one of them, you must also provide a value for the other.</p>"
      }
    },
    "com.amazonaws.firehose#CloudWatchLoggingOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables CloudWatch logging.</p>"
          }
        },
        "LogGroupName": {
          "target": "com.amazonaws.firehose#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging\n         is enabled.</p>"
          }
        },
        "LogStreamName": {
          "target": "com.amazonaws.firehose#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch\n         logging is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the Amazon CloudWatch logging options for your delivery stream.</p>"
      }
    },
    "com.amazonaws.firehose#ClusterJDBCURL": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+redshift\\.([a-zA-Z0-9\\.]+):\\d{1,5}/[a-zA-Z0-9_$-]+$"
      }
    },
    "com.amazonaws.firehose#ColumnToJsonKeyMappings": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.firehose#NonEmptyStringWithoutWhitespace"
      },
      "value": {
        "target": "com.amazonaws.firehose#NonEmptyString"
      }
    },
    "com.amazonaws.firehose#CompressionFormat": {
      "type": "enum",
      "members": {
        "UNCOMPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCOMPRESSED"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GZIP"
          }
        },
        "ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZIP"
          }
        },
        "SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Snappy"
          }
        },
        "HADOOP_SNAPPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HADOOP_SNAPPY"
          }
        }
      }
    },
    "com.amazonaws.firehose#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.firehose#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another modification has already happened. Fetch <code>VersionId</code> again and use\n         it to update the destination.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.firehose#ContentEncoding": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "GZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GZIP"
          }
        }
      }
    },
    "com.amazonaws.firehose#CopyCommand": {
      "type": "structure",
      "members": {
        "DataTableName": {
          "target": "com.amazonaws.firehose#DataTableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target table. The table must already exist in the database.</p>",
            "smithy.api#required": {}
          }
        },
        "DataTableColumns": {
          "target": "com.amazonaws.firehose#DataTableColumns",
          "traits": {
            "smithy.api#documentation": "<p>A comma-separated list of column names.</p>"
          }
        },
        "CopyOptions": {
          "target": "com.amazonaws.firehose#CopyOptions",
          "traits": {
            "smithy.api#documentation": "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For\n         more information, see the \"Optional Parameters\" section of <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible\n         examples that would apply to Kinesis Data Firehose are as follows:</p>\n         <p>\n            <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and\n         compressed using lzop.</p>\n         <p>\n            <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default\n         delimiter).</p>\n         <p>\n            <code>delimiter '|' escape</code> - the delimiter should be escaped.</p>\n         <p>\n            <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> -\n         fields are fixed width in the source, with each width specified after every column in the\n         table.</p>\n         <p>\n            <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path\n         specified is the format of the data.</p>\n         <p>For more examples, see <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command\n            examples</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a <code>COPY</code> command for Amazon Redshift.</p>"
      }
    },
    "com.amazonaws.firehose#CopyOptions": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 204800
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#CreateDeliveryStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.firehose#CreateDeliveryStreamInput"
      },
      "output": {
        "target": "com.amazonaws.firehose#CreateDeliveryStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.firehose#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.firehose#InvalidKMSResourceException"
        },
        {
          "target": "com.amazonaws.firehose#LimitExceededException"
        },
        {
          "target": "com.amazonaws.firehose#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Kinesis Data Firehose delivery stream.</p>\n\n         <p>By default, you can create up to 50 delivery streams per Amazon Web Services\n         Region.</p>\n         <p>This is an asynchronous operation that immediately returns. The initial status of the\n         delivery stream is <code>CREATING</code>. After the delivery stream is created, its status\n         is <code>ACTIVE</code> and it now accepts data. If the delivery stream creation fails, the\n         status transitions to <code>CREATING_FAILED</code>. Attempts to send data to a delivery\n         stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state\n         of a delivery stream, use <a>DescribeDeliveryStream</a>.</p>\n         <p>If the status of a delivery stream is <code>CREATING_FAILED</code>, this status\n         doesn't change, and you can't invoke <code>CreateDeliveryStream</code> again on it.\n         However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete\n         it.</p>\n         <p>A Kinesis Data Firehose delivery stream can be configured to receive records directly\n         from providers using <a>PutRecord</a> or <a>PutRecordBatch</a>, or it\n         can be configured to use an existing Kinesis stream as its source. To specify a Kinesis\n         data stream as input, set the <code>DeliveryStreamType</code> parameter to\n            <code>KinesisStreamAsSource</code>, and provide the Kinesis stream Amazon Resource Name\n         (ARN) and role ARN in the <code>KinesisStreamSourceConfiguration</code>\n         parameter.</p>\n         <p>To create a delivery stream with server-side encryption (SSE) enabled, include <a>DeliveryStreamEncryptionConfigurationInput</a> in your request. This is\n         optional. You can also invoke <a>StartDeliveryStreamEncryption</a> to turn on\n         SSE for an existing delivery stream that doesn't have SSE enabled.</p>\n         <p>A delivery stream is configured with a single destination: Amazon S3, Amazon ES,\n         Amazon Redshift, or Splunk. You must specify only one of the following destination\n         configuration parameters: <code>ExtendedS3DestinationConfiguration</code>,\n            <code>S3DestinationConfiguration</code>,\n            <code>ElasticsearchDestinationConfiguration</code>,\n            <code>RedshiftDestinationConfiguration</code>, or\n            <code>SplunkDestinationConfiguration</code>.</p>\n         <p>When you specify <code>S3DestinationConfiguration</code>, you can also provide the\n         following optional values: BufferingHints, <code>EncryptionConfiguration</code>, and\n            <code>CompressionFormat</code>. By default, if no <code>BufferingHints</code> value is\n         provided, Kinesis Data Firehose buffers data up to 5 MB or for 5 minutes, whichever\n         condition is satisfied first. <code>BufferingHints</code> is a hint, so there are some\n         cases where the service cannot adhere to these conditions strictly. For example, record\n         boundaries might be such that the size is a little over or under the configured buffering\n         size. By default, no encryption is performed. We strongly recommend that you enable\n         encryption to ensure secure data storage in Amazon S3.</p>\n\n         <p>A few notes about Amazon Redshift as a destination:</p>\n         <ul>\n            <li>\n               <p>An Amazon Redshift destination requires an S3 bucket as intermediate location.\n               Kinesis Data Firehose first delivers data to Amazon S3 and then uses\n                  <code>COPY</code> syntax to load data into an Amazon Redshift table. This is\n               specified in the <code>RedshiftDestinationConfiguration.S3Configuration</code>\n               parameter.</p>\n\n            </li>\n            <li>\n               <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be\n               specified in <code>RedshiftDestinationConfiguration.S3Configuration</code> because\n               the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't\n               support these compression formats.</p>\n            </li>\n            <li>\n               <p>We strongly recommend that you use the user name and password you provide\n               exclusively with Kinesis Data Firehose, and that the permissions for the account are\n               restricted for Amazon Redshift <code>INSERT</code> permissions.</p>\n\n            </li>\n         </ul>\n         <p>Kinesis Data Firehose assumes the IAM role that is configured as part of the\n         destination. The role should allow the Kinesis Data Firehose principal to assume the role,\n         and the role should have permissions that allow the service to deliver the data. For more\n         information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data\n            Firehose Access to an Amazon S3 Destination</a> in the <i>Amazon Kinesis Data\n            Firehose Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.firehose#CreateDeliveryStreamInput": {
      "type": "structure",
      "members": {
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery stream. This name must be unique per Amazon Web Services\n         account in the same Amazon Web Services Region. If the delivery streams are in different\n         accounts or different Regions, you can have multiple delivery streams with the same\n         name.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryStreamType": {
          "target": "com.amazonaws.firehose#DeliveryStreamType",
          "traits": {
            "smithy.api#documentation": "<p>The delivery stream type. This parameter can be one of the following\n         values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DirectPut</code>: Provider applications access the delivery stream\n               directly.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data\n               stream as a source.</p>\n            </li>\n         </ul>"
          }
        },
        "KinesisStreamSourceConfiguration": {
          "target": "com.amazonaws.firehose#KinesisStreamSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>When a Kinesis data stream is used as the source for the delivery stream, a <a>KinesisStreamSourceConfiguration</a> containing the Kinesis data stream Amazon\n         Resource Name (ARN) and the role ARN for the source stream.</p>"
          }
        },
        "DeliveryStreamEncryptionConfigurationInput": {
          "target": "com.amazonaws.firehose#DeliveryStreamEncryptionConfigurationInput",
          "traits": {
            "smithy.api#documentation": "<p>Used to specify the type and Amazon Resource Name (ARN) of the KMS key needed for\n         Server-Side Encryption (SSE).</p>"
          }
        },
        "S3DestinationConfiguration": {
          "target": "com.amazonaws.firehose#S3DestinationConfiguration",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>[Deprecated]\n         The destination in Amazon S3. You can specify only one destination.</p>"
          }
        },
        "ExtendedS3DestinationConfiguration": {
          "target": "com.amazonaws.firehose#ExtendedS3DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon S3. You can specify only one destination.</p>"
          }
        },
        "RedshiftDestinationConfiguration": {
          "target": "com.amazonaws.firehose#RedshiftDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon Redshift. You can specify only one destination.</p>"
          }
        },
        "ElasticsearchDestinationConfiguration": {
          "target": "com.amazonaws.firehose#ElasticsearchDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon ES. You can specify only one destination.</p>"
          }
        },
        "AmazonopensearchserviceDestinationConfiguration": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon OpenSearch Service. You can specify only one\n         destination.</p>"
          }
        },
        "SplunkDestinationConfiguration": {
          "target": "com.amazonaws.firehose#SplunkDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Splunk. You can specify only one destination.</p>"
          }
        },
        "HttpEndpointDestinationConfiguration": {
          "target": "com.amazonaws.firehose#HttpEndpointDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Enables configuring Kinesis Firehose to deliver data to any HTTP endpoint destination.\n         You can specify only one destination.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.firehose#TagDeliveryStreamInputTagList",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags to assign to the delivery stream. A tag is a key-value pair that you can\n         define and assign to Amazon Web Services resources. Tags are metadata. For example, you can\n         add friendly names and descriptions or other types of information that can help you\n         distinguish the delivery stream. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using\n            Cost Allocation Tags</a> in the Amazon Web Services Billing and Cost Management User\n         Guide.</p>\n\n         <p>You can specify up to 50 tags when creating a delivery stream.</p>"
          }
        },
        "AmazonOpenSearchServerlessDestinationConfiguration": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The destination in the Serverless offering for Amazon OpenSearch Service. You can\n         specify only one destination.</p>"
          }
        }
      }
    },
    "com.amazonaws.firehose#CreateDeliveryStreamOutput": {
      "type": "structure",
      "members": {
        "DeliveryStreamARN": {
          "target": "com.amazonaws.firehose#DeliveryStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the delivery stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.firehose#Data": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024000
        }
      }
    },
    "com.amazonaws.firehose#DataFormatConversionConfiguration": {
      "type": "structure",
      "members": {
        "SchemaConfiguration": {
          "target": "com.amazonaws.firehose#SchemaConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Web Services Glue Data Catalog table that contains the column\n         information. This parameter is required if <code>Enabled</code> is set to true.</p>"
          }
        },
        "InputFormatConfiguration": {
          "target": "com.amazonaws.firehose#InputFormatConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the deserializer that you want Kinesis Data Firehose to use to convert the\n         format of your data from JSON. This parameter is required if <code>Enabled</code> is set to\n         true.</p>"
          }
        },
        "OutputFormatConfiguration": {
          "target": "com.amazonaws.firehose#OutputFormatConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the serializer that you want Kinesis Data Firehose to use to convert the\n         format of your data to the Parquet or ORC format. This parameter is required if\n            <code>Enabled</code> is set to true.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Defaults to <code>true</code>. Set it to <code>false</code> if you want to disable\n         format conversion while preserving the configuration details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that you want Kinesis Data Firehose to convert data from the JSON format to\n         the Parquet or ORC format before writing it to Amazon S3. Kinesis Data Firehose uses the\n         serializer and deserializer that you specify, in addition to the column information from\n         the Amazon Web Services Glue table, to deserialize your input data from JSON and then\n         serialize it to the Parquet or ORC format. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/record-format-conversion.html\">Kinesis\n            Data Firehose Record Format Conversion</a>.</p>"
      }
    },
    "com.amazonaws.firehose#DataTableColumns": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 204800
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#DataTableName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#DeleteDeliveryStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.firehose#DeleteDeliveryStreamInput"
      },
      "output": {
        "target": "com.amazonaws.firehose#DeleteDeliveryStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.firehose#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.firehose#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a delivery stream and its data.</p>\n         <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>. You can delete a delivery stream only if it is in one of the following states:\n            <code>ACTIVE</code>, <code>DELETING</code>, <code>CREATING_FAILED</code>, or\n            <code>DELETING_FAILED</code>. You can't delete a delivery stream that is in the\n            <code>CREATING</code> state. While the deletion request is in process, the delivery\n         stream is in the <code>DELETING</code> state.</p>\n         <p>While the delivery stream is in the <code>DELETING</code> state, the service might\n         continue to accept records, but it doesn't make any guarantees with respect to delivering\n         the data. Therefore, as a best practice, first stop any applications that are sending\n         records before you delete a delivery stream.</p>"
      }
    },
    "com.amazonaws.firehose#DeleteDeliveryStreamInput": {
      "type": "structure",
      "members": {
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery stream.</p>",
            "smithy.api#required": {}
          }
        },
        "AllowForceDelete": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Set this to true if you want to delete the delivery stream even if Kinesis Data Firehose\n         is unable to retire the grant for the CMK. Kinesis Data Firehose might be unable to retire\n         the grant due to a customer error, such as when the CMK or the grant are in an invalid\n         state. If you force deletion, you can then use the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_RevokeGrant.html\">RevokeGrant</a> operation to\n         revoke the grant you gave to Kinesis Data Firehose. If a failure to retire the grant\n         happens due to an Amazon Web Services KMS issue, Kinesis Data Firehose keeps retrying the\n         delete operation.</p>\n         <p>The default value is false.</p>"
          }
        }
      }
    },
    "com.amazonaws.firehose#DeleteDeliveryStreamOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.firehose#DeliveryStartTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.firehose#DeliveryStreamARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^arn:"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamDescription": {
      "type": "structure",
      "members": {
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery stream.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryStreamARN": {
          "target": "com.amazonaws.firehose#DeliveryStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the delivery stream. For more information, see\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and Amazon Web Services Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryStreamStatus": {
          "target": "com.amazonaws.firehose#DeliveryStreamStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the delivery stream. If the status of a delivery stream is\n            <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke\n            <code>CreateDeliveryStream</code> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it.</p>",
            "smithy.api#required": {}
          }
        },
        "FailureDescription": {
          "target": "com.amazonaws.firehose#FailureDescription",
          "traits": {
            "smithy.api#documentation": "<p>Provides details in case one of the following operations fails due to an error related\n         to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>,\n            <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>"
          }
        },
        "DeliveryStreamEncryptionConfiguration": {
          "target": "com.amazonaws.firehose#DeliveryStreamEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the server-side encryption (SSE) status for the delivery stream.</p>"
          }
        },
        "DeliveryStreamType": {
          "target": "com.amazonaws.firehose#DeliveryStreamType",
          "traits": {
            "smithy.api#documentation": "<p>The delivery stream type. This can be one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DirectPut</code>: Provider applications access the delivery stream\n               directly.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data\n               stream as a source.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.firehose#DeliveryStreamVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Each time the destination is updated for a delivery stream, the version ID is\n         changed, and the current version ID is required when updating the destination. This is so\n         that the service knows it is applying the changes to the correct version of the delivery\n         stream.</p>",
            "smithy.api#required": {}
          }
        },
        "CreateTimestamp": {
          "target": "com.amazonaws.firehose#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the delivery stream was created.</p>"
          }
        },
        "LastUpdateTimestamp": {
          "target": "com.amazonaws.firehose#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the delivery stream was last updated.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.firehose#SourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>DeliveryStreamType</code> parameter is\n            <code>KinesisStreamAsSource</code>, a <a>SourceDescription</a> object\n         describing the source Kinesis data stream.</p>"
          }
        },
        "Destinations": {
          "target": "com.amazonaws.firehose#DestinationDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The destinations.</p>",
            "smithy.api#required": {}
          }
        },
        "HasMoreDestinations": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether there are more destinations available to list.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a delivery stream.</p>"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamEncryptionConfiguration": {
      "type": "structure",
      "members": {
        "KeyARN": {
          "target": "com.amazonaws.firehose#AWSKMSKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>If <code>KeyType</code> is <code>CUSTOMER_MANAGED_CMK</code>, this field contains the\n         ARN of the customer managed CMK. If <code>KeyType</code> is <code>Amazon Web Services_OWNED_CMK</code>, <code>DeliveryStreamEncryptionConfiguration</code> doesn't contain\n         a value for <code>KeyARN</code>.</p>"
          }
        },
        "KeyType": {
          "target": "com.amazonaws.firehose#KeyType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of customer master key (CMK) that is used for encryption. The default\n         setting is <code>Amazon Web Services_OWNED_CMK</code>. For more information about CMKs, see\n            <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.firehose#DeliveryStreamEncryptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>This is the server-side encryption (SSE) status for the delivery stream. For a full\n         description of the different values of this status, see <a>StartDeliveryStreamEncryption</a> and <a>StopDeliveryStreamEncryption</a>. If this status is <code>ENABLING_FAILED</code>\n         or <code>DISABLING_FAILED</code>, it is the status of the most recent attempt to enable or\n         disable SSE, respectively.</p>"
          }
        },
        "FailureDescription": {
          "target": "com.amazonaws.firehose#FailureDescription",
          "traits": {
            "smithy.api#documentation": "<p>Provides details in case one of the following operations fails due to an error related\n         to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>,\n            <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the server-side encryption (SSE) status for the delivery\n         stream, the type customer master key (CMK) in use, if any, and the ARN of the CMK. You can\n         get <code>DeliveryStreamEncryptionConfiguration</code> by invoking the <a>DescribeDeliveryStream</a> operation. </p>"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamEncryptionConfigurationInput": {
      "type": "structure",
      "members": {
        "KeyARN": {
          "target": "com.amazonaws.firehose#AWSKMSKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>If you set <code>KeyType</code> to <code>CUSTOMER_MANAGED_CMK</code>, you must specify\n         the Amazon Resource Name (ARN) of the CMK. If you set <code>KeyType</code> to <code>Amazon Web Services_OWNED_CMK</code>, Kinesis Data Firehose uses a service-account CMK.</p>"
          }
        },
        "KeyType": {
          "target": "com.amazonaws.firehose#KeyType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of customer master key (CMK) to use for encryption. The default\n         setting is <code>Amazon Web Services_OWNED_CMK</code>. For more information about CMKs, see\n            <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>. When you invoke <a>CreateDeliveryStream</a> or <a>StartDeliveryStreamEncryption</a> with\n            <code>KeyType</code> set to CUSTOMER_MANAGED_CMK, Kinesis Data Firehose invokes the\n         Amazon KMS operation <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateGrant.html\">CreateGrant</a> to create a grant\n         that allows the Kinesis Data Firehose service to use the customer managed CMK to perform\n         encryption and decryption. Kinesis Data Firehose manages that grant. </p>\n         <p>When you invoke <a>StartDeliveryStreamEncryption</a> to change the CMK for a\n         delivery stream that is encrypted with a customer managed CMK, Kinesis Data Firehose\n         schedules the grant it had on the old CMK for retirement.</p>\n         <p>You can use a CMK of type CUSTOMER_MANAGED_CMK to encrypt up to 500 delivery streams. If\n         a <a>CreateDeliveryStream</a> or <a>StartDeliveryStreamEncryption</a>\n         operation exceeds this limit, Kinesis Data Firehose throws a\n            <code>LimitExceededException</code>. </p>\n         <important>\n            <p>To encrypt your delivery stream, use symmetric CMKs. Kinesis Data Firehose doesn't\n            support asymmetric CMKs. For information about symmetric and asymmetric CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symm-asymm-concepts.html\">About\n               Symmetric and Asymmetric CMKs</a> in the Amazon Web Services Key Management\n            Service developer guide.</p>\n         </important>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the type and Amazon Resource Name (ARN) of the CMK to use for Server-Side\n         Encryption (SSE). </p>"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamEncryptionStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "ENABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLING"
          }
        },
        "ENABLING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLING_FAILED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "DISABLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLING"
          }
        },
        "DISABLING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLING_FAILED"
          }
        }
      }
    },
    "com.amazonaws.firehose#DeliveryStreamFailureType": {
      "type": "enum",
      "members": {
        "RETIRE_KMS_GRANT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRE_KMS_GRANT_FAILED"
          }
        },
        "CREATE_KMS_GRANT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_KMS_GRANT_FAILED"
          }
        },
        "KMS_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS_ACCESS_DENIED"
          }
        },
        "DISABLED_KMS_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED_KMS_KEY"
          }
        },
        "INVALID_KMS_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_KMS_KEY"
          }
        },
        "KMS_KEY_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS_KEY_NOT_FOUND"
          }
        },
        "KMS_OPT_IN_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS_OPT_IN_REQUIRED"
          }
        },
        "CREATE_ENI_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_ENI_FAILED"
          }
        },
        "DELETE_ENI_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_ENI_FAILED"
          }
        },
        "SUBNET_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBNET_NOT_FOUND"
          }
        },
        "SECURITY_GROUP_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_GROUP_NOT_FOUND"
          }
        },
        "ENI_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENI_ACCESS_DENIED"
          }
        },
        "SUBNET_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBNET_ACCESS_DENIED"
          }
        },
        "SECURITY_GROUP_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_GROUP_ACCESS_DENIED"
          }
        },
        "UNKNOWN_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_ERROR"
          }
        }
      }
    },
    "com.amazonaws.firehose#DeliveryStreamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#DeliveryStreamName"
      }
    },
    "com.amazonaws.firehose#DeliveryStreamStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING_FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETING_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING_FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.amazonaws.firehose#DeliveryStreamType": {
      "type": "enum",
      "members": {
        "DirectPut": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DirectPut"
          }
        },
        "KinesisStreamAsSource": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KinesisStreamAsSource"
          }
        }
      }
    },
    "com.amazonaws.firehose#DeliveryStreamVersionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.firehose#DescribeDeliveryStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.firehose#DescribeDeliveryStreamInput"
      },
      "output": {
        "target": "com.amazonaws.firehose#DescribeDeliveryStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.firehose#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified delivery stream and its status. For example, after your\n         delivery stream is created, call <code>DescribeDeliveryStream</code> to see whether the\n         delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it. </p>\n         <p>If the status of a delivery stream is <code>CREATING_FAILED</code>, this status\n         doesn't change, and you can't invoke <a>CreateDeliveryStream</a> again on it.\n         However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it.\n         If the status is <code>DELETING_FAILED</code>, you can force deletion by invoking <a>DeleteDeliveryStream</a> again but with <a>DeleteDeliveryStreamInput$AllowForceDelete</a> set to true.</p>"
      }
    },
    "com.amazonaws.firehose#DescribeDeliveryStreamInput": {
      "type": "structure",
      "members": {
        "DeliveryStreamName": {
          "target": "com.amazonaws.firehose#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery stream.</p>",
            "smithy.api#required": {}
          }
        },
        "Limit": {
          "target": "com.amazonaws.firehose#DescribeDeliveryStreamInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The limit on the number of destinations to return. You can have one destination per\n         delivery stream.</p>"
          }
        },
        "ExclusiveStartDestinationId": {
          "target": "com.amazonaws.firehose#DestinationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the destination to start returning the destination information. Kinesis\n         Data Firehose supports one destination per delivery stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.firehose#DescribeDeliveryStreamInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.firehose#DescribeDeliveryStreamOutput": {
      "type": "structure",
      "members": {
        "DeliveryStreamDescription": {
          "target": "com.amazonaws.firehose#DeliveryStreamDescription",
          "traits": {
            "smithy.api#documentation": "<p>Information about the delivery stream.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.firehose#Deserializer": {
      "type": "structure",
      "members": {
        "OpenXJsonSerDe": {
          "target": "com.amazonaws.firehose#OpenXJsonSerDe",
          "traits": {
            "smithy.api#documentation": "<p>The OpenX SerDe. Used by Kinesis Data Firehose for deserializing data, which means\n         converting it from the JSON format in preparation for serializing it to the Parquet or ORC\n         format. This is one of two deserializers you can choose, depending on which one offers the\n         functionality you need. The other option is the native Hive / HCatalog JsonSerDe.</p>"
          }
        },
        "HiveJsonSerDe": {
          "target": "com.amazonaws.firehose#HiveJsonSerDe",
          "traits": {
            "smithy.api#documentation": "<p>The native Hive / HCatalog JsonSerDe. Used by Kinesis Data Firehose for deserializing\n         data, which means converting it from the JSON format in preparation for serializing it to\n         the Parquet or ORC format. This is one of two deserializers you can choose, depending on\n         which one offers the functionality you need. The other option is the OpenX SerDe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The deserializer you want Kinesis Data Firehose to use for converting the input data\n         from JSON. Kinesis Data Firehose then serializes the data to its final format using the\n            <a>Serializer</a>. Kinesis Data Firehose supports two types of deserializers:\n         the <a href=\"https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageManualDDL-JSON\">Apache Hive JSON SerDe</a> and the <a href=\"https://github.com/rcongiu/Hive-JSON-Serde\">OpenX JSON SerDe</a>.</p>"
      }
    },
    "com.amazonaws.firehose#DestinationDescription": {
      "type": "structure",
      "members": {
        "DestinationId": {
          "target": "com.amazonaws.firehose#DestinationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "S3DestinationDescription": {
          "target": "com.amazonaws.firehose#S3DestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>[Deprecated] The destination in Amazon S3.</p>"
          }
        },
        "ExtendedS3DestinationDescription": {
          "target": "com.amazonaws.firehose#ExtendedS3DestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon S3.</p>"
          }
        },
        "RedshiftDestinationDescription": {
          "target": "com.amazonaws.firehose#RedshiftDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon Redshift.</p>"
          }
        },
        "ElasticsearchDestinationDescription": {
          "target": "com.amazonaws.firehose#ElasticsearchDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon ES.</p>"
          }
        },
        "AmazonopensearchserviceDestinationDescription": {
          "target": "com.amazonaws.firehose#AmazonopensearchserviceDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Amazon OpenSearch Service.</p>"
          }
        },
        "SplunkDestinationDescription": {
          "target": "com.amazonaws.firehose#SplunkDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The destination in Splunk.</p>"
          }
        },
        "HttpEndpointDestinationDescription": {
          "target": "com.amazonaws.firehose#HttpEndpointDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>Describes the specified HTTP endpoint destination.</p>"
          }
        },
        "AmazonOpenSearchServerlessDestinationDescription": {
          "target": "com.amazonaws.firehose#AmazonOpenSearchServerlessDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The destination in the Serverless offering for Amazon OpenSearch Service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the destination for a delivery stream.</p>"
      }
    },
    "com.amazonaws.firehose#DestinationDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.firehose#DestinationDescription"
      }
    },
    "com.amazonaws.firehose#DestinationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.firehose#DynamicPartitioningConfiguration": {
      "type": "structure",
      "members": {
        "RetryOptions": {
          "target": "com.amazonaws.firehose#RetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver data to an Amazon\n         S3 prefix.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.firehose#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that the dynamic partitioning is enabled for this Kinesis Data Firehose\n         delivery stream.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of the dynamic partitioning mechanism that creates smaller data sets\n         from the streaming data by partitioning it based on partition keys. Currently, dynamic\n         partitioning is only supported for Amazon S3 destinations.\n         </p>"
      }
    },
    "com.amazonaws.firehose#ElasticsearchBufferingHints": {
      "type": "structure",
      "members": {
        "IntervalInSeconds": {
          "target": "com.amazonaws.firehose#ElasticsearchBufferingIntervalInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering\n         it to the destination. The default value is 300 (5 minutes).</p>"
          }
        },
        "SizeInMBs": {
          "target": "com.amazonaws.firehose#ElasticsearchBufferingSizeInMBs",
          "traits": {
            "smithy.api#documentation": "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the\n         destination. The default value is 5.</p>\n         <p>We recommend setting this parameter to a value greater than the amount of data you\n         typically ingest into the delivery stream in 10 seconds. For example, if you typically\n         ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the buffering to perform before delivering data to the Amazon ES\n         destination.</p>"
      }
    },
    "com.amazonaws.firehose#ElasticsearchBufferingIntervalInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 60,
          "max": 900
        }
      }
    },
    "com.amazonaws.firehose#ElasticsearchBufferingSizeInMBs": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.firehose#ElasticsearchClusterEndpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^https:"
      }
    },
    "com.amazonaws.firehose#ElasticsearchDestinationConfiguration": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose\n         for calling the Amazon ES Configuration API and for indexing documents. For more\n         information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data\n            Firehose Access to an Amazon S3 Destination</a> and <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and\n               Amazon Web Services Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#ElasticsearchDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon ES domain. The IAM role must have permissions\n            for <code>DescribeDomain</code>, <code>DescribeDomains</code>, and\n            <code>DescribeDomainConfig</code> after assuming the role specified in <b>RoleARN</b>. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and\n               Amazon Web Services Service Namespaces</a>.</p>\n\n         <p>Specify either <code>ClusterEndpoint</code> or <code>DomainARN</code>.</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#ElasticsearchClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Specify either this\n            <code>ClusterEndpoint</code> or the <code>DomainARN</code> field.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index name.</p>",
            "smithy.api#required": {}
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#ElasticsearchTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch type name. For Elasticsearch 6.x, there can be only one type per\n         index. If you try to specify a new type for an existing index that already has another\n         type, Kinesis Data Firehose returns an error during run time.</p>\n\n         <p>For Elasticsearch 7.x, don't specify a <code>TypeName</code>.</p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index rotation period. Index rotation appends a timestamp to the\n            <code>IndexName</code> to facilitate the expiration of old data. For more information,\n         see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for the\n            Amazon ES Destination</a>. The default value is <code>OneDay</code>.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#ElasticsearchBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified, the default values for\n            <code>ElasticsearchBufferingHints</code> are used.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#ElasticsearchRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver documents to\n         Amazon ES. The default value is 300 (5 minutes).</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#ElasticsearchS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>Defines how documents should be delivered to Amazon S3. When it is set to\n            <code>FailedDocumentsOnly</code>, Kinesis Data Firehose writes any documents that could\n         not be indexed to the configured Amazon S3 destination, with\n            <code>AmazonOpenSearchService-failed/</code> appended to the key prefix. When set to\n            <code>AllDocuments</code>, Kinesis Data Firehose delivers all incoming records to Amazon\n         S3, and also writes failed documents with <code>AmazonOpenSearchService-failed/</code>\n         appended to the prefix. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-s3-backup\">Amazon S3 Backup for the\n            Amazon ES Destination</a>. Default value is\n         <code>FailedDocumentsOnly</code>.</p>\n         <p>You can't change this backup mode after you create the delivery stream. </p>"
          }
        },
        "S3Configuration": {
          "target": "com.amazonaws.firehose#S3DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the backup Amazon S3 location.</p>",
            "smithy.api#required": {}
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data processing configuration.</p>"
          }
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch logging options for your delivery stream.</p>"
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.firehose#VpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The details of the VPC of the Amazon ES destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of a destination in Amazon ES.</p>"
      }
    },
    "com.amazonaws.firehose#ElasticsearchDestinationDescription": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services credentials. For more\n         information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and\n               Amazon Web Services Service Namespaces</a>.</p>"
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#ElasticsearchDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon ES domain. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon\n            Resource Names (ARNs) and Amazon Web Services Service Namespaces</a>.</p>\n\n         <p>Kinesis Data Firehose uses either <code>ClusterEndpoint</code> or <code>DomainARN</code>\n         to send data to Amazon ES.</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#ElasticsearchClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Kinesis Data Firehose uses\n         either this <code>ClusterEndpoint</code> or the <code>DomainARN</code> field to send data\n         to Amazon ES.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index name.</p>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#ElasticsearchTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch type name. This applies to Elasticsearch 6.x and lower versions.\n         For Elasticsearch 7.x and OpenSearch Service 1.x, there's no value for\n            <code>TypeName</code>.</p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index rotation period</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#ElasticsearchBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options.</p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#ElasticsearchRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon ES retry options.</p>"
          }
        },
        "S3BackupMode": {
          "target": "com.amazonaws.firehose#ElasticsearchS3BackupMode",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 backup mode.</p>"
          }
        },
        "S3DestinationDescription": {
          "target": "com.amazonaws.firehose#S3DestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 destination.</p>"
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data processing configuration.</p>"
          }
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch logging options.</p>"
          }
        },
        "VpcConfigurationDescription": {
          "target": "com.amazonaws.firehose#VpcConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The details of the VPC of the Amazon ES destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination description in Amazon ES.</p>"
      }
    },
    "com.amazonaws.firehose#ElasticsearchDestinationUpdate": {
      "type": "structure",
      "members": {
        "RoleARN": {
          "target": "com.amazonaws.firehose#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose\n         for calling the Amazon ES Configuration API and for indexing documents. For more\n         information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data\n            Firehose Access to an Amazon S3 Destination</a> and <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and\n               Amazon Web Services Service Namespaces</a>.</p>"
          }
        },
        "DomainARN": {
          "target": "com.amazonaws.firehose#ElasticsearchDomainARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon ES domain. The IAM role must have permissions\n            for <code>DescribeDomain</code>, <code>DescribeDomains</code>, and\n            <code>DescribeDomainConfig</code> after assuming the IAM role specified in\n            <code>RoleARN</code>. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and\n               Amazon Web Services Service Namespaces</a>.</p>\n\n         <p>Specify either <code>ClusterEndpoint</code> or <code>DomainARN</code>.</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.firehose#ElasticsearchClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint to use when communicating with the cluster. Specify either this\n            <code>ClusterEndpoint</code> or the <code>DomainARN</code> field.</p>"
          }
        },
        "IndexName": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index name.</p>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.firehose#ElasticsearchTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch type name. For Elasticsearch 6.x, there can be only one type per\n         index. If you try to specify a new type for an existing index that already has another\n         type, Kinesis Data Firehose returns an error during runtime.</p>\n\n         <p>If you upgrade Elasticsearch from 6.x to 7.x and don’t update your delivery stream,\n         Kinesis Data Firehose still delivers data to Elasticsearch with the old index name and type\n         name. If you want to update your delivery stream with a new index name, provide an empty\n         string for <code>TypeName</code>. </p>"
          }
        },
        "IndexRotationPeriod": {
          "target": "com.amazonaws.firehose#ElasticsearchIndexRotationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The Elasticsearch index rotation period. Index rotation appends a timestamp to\n            <code>IndexName</code> to facilitate the expiration of old data. For more information,\n         see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for the\n            Amazon ES Destination</a>. Default value is <code>OneDay</code>.</p>"
          }
        },
        "BufferingHints": {
          "target": "com.amazonaws.firehose#ElasticsearchBufferingHints",
          "traits": {
            "smithy.api#documentation": "<p>The buffering options. If no value is specified,\n            <code>ElasticsearchBufferingHints</code> object default values are used. </p>"
          }
        },
        "RetryOptions": {
          "target": "com.amazonaws.firehose#ElasticsearchRetryOptions",
          "traits": {
            "smithy.api#documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver documents to\n         Amazon ES. The default value is 300 (5 minutes).</p>"
          }
        },
        "S3Update": {
          "target": "com.amazonaws.firehose#S3DestinationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 destination.</p>"
          }
        },
        "ProcessingConfiguration": {
          "target": "com.amazonaws.firehose#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The data processing configuration.</p>"
          }
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.firehose#CloudWatchLoggingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch logging options for your delivery stream.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an update for a destination in Amazon ES.</p>"
      }
    },
    "com.amazonaws.firehose#ElasticsearchDomainARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^arn:"
      }
    },
    "com.amazonaws.firehose#ElasticsearchIndexName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 80
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.firehose#ElasticsearchIndexRotationPeriod": {
      "type": "enum",
      "members": {
        "NoRotation": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NoRotation"
          }
        },
        "OneHour": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneHour"
          }
        },
        "OneDay": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneDay"
          }
        },
        "OneWeek": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneWeek"
          }
        },
        "OneMonth": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneMonth"
          }
        }
      }
    },
    "com.amazonaws.firehose#ElasticsearchRetryDurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 7200
        }
      }
    },
    "com.amazonaws.firehose#ElasticsearchRetryOptions": {
      "type": "structure",
      "members": {
        "DurationInSeconds": {
          "target": "com.amazonaws.firehose#ElasticsearchRetryDurationInSeconds",
          "traits": {
[...]
