{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.fms#AWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.fms#AWSAccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#AWSAccountId"
      }
    },
    "com.amazonaws.fms#AWSFMS_20180101": {
      "type": "service",
      "version": "2018-01-01",
      "operations": [
        {
          "target": "com.amazonaws.fms#AssociateAdminAccount"
        },
        {
          "target": "com.amazonaws.fms#AssociateThirdPartyFirewall"
        },
        {
          "target": "com.amazonaws.fms#BatchAssociateResource"
        },
        {
          "target": "com.amazonaws.fms#BatchDisassociateResource"
        },
        {
          "target": "com.amazonaws.fms#DeleteAppsList"
        },
        {
          "target": "com.amazonaws.fms#DeleteNotificationChannel"
        },
        {
          "target": "com.amazonaws.fms#DeletePolicy"
        },
        {
          "target": "com.amazonaws.fms#DeleteProtocolsList"
        },
        {
          "target": "com.amazonaws.fms#DeleteResourceSet"
        },
        {
          "target": "com.amazonaws.fms#DisassociateAdminAccount"
        },
        {
          "target": "com.amazonaws.fms#DisassociateThirdPartyFirewall"
        },
        {
          "target": "com.amazonaws.fms#GetAdminAccount"
        },
        {
          "target": "com.amazonaws.fms#GetAppsList"
        },
        {
          "target": "com.amazonaws.fms#GetComplianceDetail"
        },
        {
          "target": "com.amazonaws.fms#GetNotificationChannel"
        },
        {
          "target": "com.amazonaws.fms#GetPolicy"
        },
        {
          "target": "com.amazonaws.fms#GetProtectionStatus"
        },
        {
          "target": "com.amazonaws.fms#GetProtocolsList"
        },
        {
          "target": "com.amazonaws.fms#GetResourceSet"
        },
        {
          "target": "com.amazonaws.fms#GetThirdPartyFirewallAssociationStatus"
        },
        {
          "target": "com.amazonaws.fms#GetViolationDetails"
        },
        {
          "target": "com.amazonaws.fms#ListAppsLists"
        },
        {
          "target": "com.amazonaws.fms#ListComplianceStatus"
        },
        {
          "target": "com.amazonaws.fms#ListDiscoveredResources"
        },
        {
          "target": "com.amazonaws.fms#ListMemberAccounts"
        },
        {
          "target": "com.amazonaws.fms#ListPolicies"
        },
        {
          "target": "com.amazonaws.fms#ListProtocolsLists"
        },
        {
          "target": "com.amazonaws.fms#ListResourceSetResources"
        },
        {
          "target": "com.amazonaws.fms#ListResourceSets"
        },
        {
          "target": "com.amazonaws.fms#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.fms#ListThirdPartyFirewallFirewallPolicies"
        },
        {
          "target": "com.amazonaws.fms#PutAppsList"
        },
        {
          "target": "com.amazonaws.fms#PutNotificationChannel"
        },
        {
          "target": "com.amazonaws.fms#PutPolicy"
        },
        {
          "target": "com.amazonaws.fms#PutProtocolsList"
        },
        {
          "target": "com.amazonaws.fms#PutResourceSet"
        },
        {
          "target": "com.amazonaws.fms#TagResource"
        },
        {
          "target": "com.amazonaws.fms#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "FMS",
          "arnNamespace": "fms",
          "cloudFormationName": "FMS",
          "cloudTrailEventSource": "fms.amazonaws.com",
          "endpointPrefix": "fms"
        },
        "aws.auth#sigv4": {
          "name": "fms"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>This is the <i>Firewall Manager API Reference</i>. This guide is for\n      developers who need detailed information about the Firewall Manager API actions, data\n      types, and errors. For detailed information about Firewall Manager features, see the\n        <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-chapter.html\">Firewall Manager Developer Guide</a>.</p>\n         <p>Some API actions require explicit resource permissions. For information, see the developer guide topic\n        <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-api-permissions-ref.html\">Firewall Manager required permissions for API actions</a>.\n</p>",
        "smithy.api#title": "Firewall Management Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://fms-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://fms-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://fms.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://fms.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fms.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.fms#AccountRoleStatus": {
      "type": "enum",
      "members": {
        "Ready": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "Creating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "PendingDeletion": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_DELETION"
          }
        },
        "Deleting": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "Deleted": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.fms#ActionTarget": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.fms#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the remediation target.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.fms#LengthBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the remediation action target.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a remediation action target.</p>"
      }
    },
    "com.amazonaws.fms#App": {
      "type": "structure",
      "members": {
        "AppName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The application's name.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.fms#Protocol",
          "traits": {
            "smithy.api#documentation": "<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.fms#IPPortNumber",
          "traits": {
            "smithy.api#documentation": "<p>The application's port number, for example <code>80</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An individual Firewall Manager application.</p>"
      }
    },
    "com.amazonaws.fms#AppsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#App"
      }
    },
    "com.amazonaws.fms#AppsListData": {
      "type": "structure",
      "members": {
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Firewall Manager applications list.</p>"
          }
        },
        "ListName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Firewall Manager applications list.</p>",
            "smithy.api#required": {}
          }
        },
        "ListUpdateToken": {
          "target": "com.amazonaws.fms#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for each update to the list. When you update\n        the list, the update token must match the token of the current version of the application list.\n        You can retrieve the update token by getting the list. </p>"
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.fms#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the Firewall Manager applications list was created.</p>"
          }
        },
        "LastUpdateTime": {
          "target": "com.amazonaws.fms#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the Firewall Manager applications list was last updated.</p>"
          }
        },
        "AppsList": {
          "target": "com.amazonaws.fms#AppsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of applications in the Firewall Manager applications list.</p>",
            "smithy.api#required": {}
          }
        },
        "PreviousAppsList": {
          "target": "com.amazonaws.fms#PreviousAppsList",
          "traits": {
            "smithy.api#documentation": "<p>A map of previous version numbers to their corresponding <code>App</code> object arrays.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Firewall Manager applications list.</p>"
      }
    },
    "com.amazonaws.fms#AppsListDataSummary": {
      "type": "structure",
      "members": {
        "ListArn": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the applications list.</p>"
          }
        },
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the applications list.</p>"
          }
        },
        "ListName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the applications list.</p>"
          }
        },
        "AppsList": {
          "target": "com.amazonaws.fms#AppsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>App</code> objects in the Firewall Manager applications list.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the Firewall Manager applications list.</p>"
      }
    },
    "com.amazonaws.fms#AppsListsData": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#AppsListDataSummary"
      }
    },
    "com.amazonaws.fms#AssociateAdminAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#AssociateAdminAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets the Firewall Manager administrator account. The account must be\n      a member of the organization in Organizations whose resources you want to protect.\n          Firewall Manager sets the permissions that allow the account to administer your Firewall Manager policies.</p>\n         <p>The account that you associate with Firewall Manager is called the Firewall Manager administrator account. </p>"
      }
    },
    "com.amazonaws.fms#AssociateAdminAccountRequest": {
      "type": "structure",
      "members": {
        "AdminAccount": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID to associate with Firewall Manager as the Firewall Manager\n      administrator account. This must be an Organizations member account.\n        For more information about Organizations, see\n        <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts.html\">Managing the Amazon Web Services Accounts in Your Organization</a>.  </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#AssociateThirdPartyFirewall": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#AssociateThirdPartyFirewallRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#AssociateThirdPartyFirewallResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets the Firewall Manager policy administrator as a tenant administrator of a third-party firewall service. A tenant is an instance of the third-party firewall service that's associated with your Amazon Web Services customer account.</p>"
      }
    },
    "com.amazonaws.fms#AssociateThirdPartyFirewallRequest": {
      "type": "structure",
      "members": {
        "ThirdPartyFirewall": {
          "target": "com.amazonaws.fms#ThirdPartyFirewall",
          "traits": {
            "smithy.api#documentation": "<p>The name of the third-party firewall vendor.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#AssociateThirdPartyFirewallResponse": {
      "type": "structure",
      "members": {
        "ThirdPartyFirewallStatus": {
          "target": "com.amazonaws.fms#ThirdPartyFirewallAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status for setting a Firewall Manager policy administrator's account as an administrator of the third-party firewall tenant.</p>\n        <ul>\n            <li>\n              <p>\n                  <code>ONBOARDING</code> - The Firewall Manager policy administrator is being designated as a tenant administrator.</p>\n           </li>\n            <li>\n              <p>\n                  <code>ONBOARD_COMPLETE</code> - The Firewall Manager policy administrator is designated as a tenant administrator.</p>\n           </li>\n            <li>\n              <p>\n                  <code>OFFBOARDING</code> - The Firewall Manager policy administrator is being removed as a tenant administrator.</p>\n           </li>\n            <li>\n              <p>\n                  <code>OFFBOARD_COMPLETE</code> - The Firewall Manager policy administrator has been removed as a tenant administrator.</p>\n           </li>\n            <li>\n              <p>\n                  <code>NOT_EXIST</code> - The Firewall Manager policy administrator doesn't exist as a tenant administrator.</p>\n           </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.fms#AwsEc2InstanceViolation": {
      "type": "structure",
      "members": {
        "ViolationTarget": {
          "target": "com.amazonaws.fms#ViolationTarget",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the EC2 instance.</p>"
          }
        },
        "AwsEc2NetworkInterfaceViolations": {
          "target": "com.amazonaws.fms#AwsEc2NetworkInterfaceViolations",
          "traits": {
            "smithy.api#documentation": "<p>Violation detail for network interfaces associated with the EC2 instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Violation detail for an EC2 instance resource.</p>"
      }
    },
    "com.amazonaws.fms#AwsEc2NetworkInterfaceViolation": {
      "type": "structure",
      "members": {
        "ViolationTarget": {
          "target": "com.amazonaws.fms#ViolationTarget",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the network interface.</p>"
          }
        },
        "ViolatingSecurityGroups": {
          "target": "com.amazonaws.fms#ResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>List of security groups that violate the rules specified in the primary security group of the Firewall Manager policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Violation detail for network interfaces associated with an EC2 instance.</p>"
      }
    },
    "com.amazonaws.fms#AwsEc2NetworkInterfaceViolations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#AwsEc2NetworkInterfaceViolation"
      }
    },
    "com.amazonaws.fms#AwsVPCSecurityGroupViolation": {
      "type": "structure",
      "members": {
        "ViolationTarget": {
          "target": "com.amazonaws.fms#ViolationTarget",
          "traits": {
            "smithy.api#documentation": "<p>The security group rule that is being evaluated.</p>"
          }
        },
        "ViolationTargetDescription": {
          "target": "com.amazonaws.fms#LengthBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the security group that violates the policy.</p>"
          }
        },
        "PartialMatches": {
          "target": "com.amazonaws.fms#PartialMatches",
          "traits": {
            "smithy.api#documentation": "<p>List of rules specified in the security group of the Firewall Manager policy that partially match the <code>ViolationTarget</code> rule.</p>"
          }
        },
        "PossibleSecurityGroupRemediationActions": {
          "target": "com.amazonaws.fms#SecurityGroupRemediationActions",
          "traits": {
            "smithy.api#documentation": "<p>Remediation options for the rule specified in the <code>ViolationTarget</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Violation detail for the rule violation in a security group when compared to the primary security group of the Firewall Manager policy.</p>"
      }
    },
    "com.amazonaws.fms#Base62Id": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 22,
          "max": 22
        },
        "smithy.api#pattern": "^[a-z0-9A-Z]{22}$"
      }
    },
    "com.amazonaws.fms#BasicInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": -2147483648,
          "max": 2147483647
        }
      }
    },
    "com.amazonaws.fms#BatchAssociateResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#BatchAssociateResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#BatchAssociateResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate resources to a Firewall Manager resource set.</p>"
      }
    },
    "com.amazonaws.fms#BatchAssociateResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceSetIdentifier": {
          "target": "com.amazonaws.fms#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the resource set, used in a TODO to refer to the resource set.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.fms#IdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The uniform resource identifiers (URIs) of resources that should be associated to the resource set. The URIs must be Amazon Resource Names (ARNs).</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#BatchAssociateResourceResponse": {
      "type": "structure",
      "members": {
        "ResourceSetIdentifier": {
          "target": "com.amazonaws.fms#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the resource set, used in a TODO to refer to the resource set.</p>",
            "smithy.api#required": {}
          }
        },
        "FailedItems": {
          "target": "com.amazonaws.fms#FailedItemList",
          "traits": {
            "smithy.api#documentation": "<p>The resources that failed to associate to the resource set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#BatchDisassociateResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#BatchDisassociateResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#BatchDisassociateResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates resources from a Firewall Manager resource set.</p>"
      }
    },
    "com.amazonaws.fms#BatchDisassociateResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceSetIdentifier": {
          "target": "com.amazonaws.fms#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the resource set, used in a TODO to refer to the resource set.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.fms#IdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The uniform resource identifiers (URI) of resources that should be disassociated from the resource set. The URIs must be Amazon Resource Names (ARNs).</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#BatchDisassociateResourceResponse": {
      "type": "structure",
      "members": {
        "ResourceSetIdentifier": {
          "target": "com.amazonaws.fms#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the resource set, used in a TODO to refer to the resource set.</p>",
            "smithy.api#required": {}
          }
        },
        "FailedItems": {
          "target": "com.amazonaws.fms#FailedItemList",
          "traits": {
            "smithy.api#documentation": "<p>The resources that failed to disassociate from the resource set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.fms#CIDR": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[a-f0-9:./]+$"
      }
    },
    "com.amazonaws.fms#ComplianceViolator": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.fms#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID.</p>"
          }
        },
        "ViolationReason": {
          "target": "com.amazonaws.fms#ViolationReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the resource is not protected by the policy.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.fms#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type. This is in the format shown in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">Amazon Web Services Resource Types Reference</a>. For example:\n        <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code>,\n        <code>AWS::CloudFront::Distribution</code>, or\n        <code>AWS::NetworkFirewall::FirewallPolicy</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.fms#ComplianceViolatorMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Metadata about the resource that doesn't comply with the policy scope.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the resource that is not protected by the policy.</p>"
      }
    },
    "com.amazonaws.fms#ComplianceViolatorMetadata": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.fms#LengthBoundedString"
      },
      "value": {
        "target": "com.amazonaws.fms#LengthBoundedString"
      }
    },
    "com.amazonaws.fms#ComplianceViolators": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#ComplianceViolator"
      }
    },
    "com.amazonaws.fms#CustomerPolicyScopeId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.fms#CustomerPolicyScopeIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#CustomerPolicyScopeId"
      }
    },
    "com.amazonaws.fms#CustomerPolicyScopeIdType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        },
        "ORG_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORG_UNIT"
          }
        }
      }
    },
    "com.amazonaws.fms#CustomerPolicyScopeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.fms#CustomerPolicyScopeIdType"
      },
      "value": {
        "target": "com.amazonaws.fms#CustomerPolicyScopeIdList"
      }
    },
    "com.amazonaws.fms#DeleteAppsList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DeleteAppsListRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes an Firewall Manager applications list.</p>"
      }
    },
    "com.amazonaws.fms#DeleteAppsListRequest": {
      "type": "structure",
      "members": {
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the applications list that you want to delete. You can retrieve this ID from\n      <code>PutAppsList</code>, <code>ListAppsLists</code>, and <code>GetAppsList</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#DeleteNotificationChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DeleteNotificationChannelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Firewall Manager association with the IAM role and the Amazon Simple\n      Notification Service (SNS) topic that is used to record Firewall Manager SNS logs.</p>"
      }
    },
    "com.amazonaws.fms#DeleteNotificationChannelRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.fms#DeletePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DeletePolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes an Firewall Manager policy. </p>"
      }
    },
    "com.amazonaws.fms#DeletePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy that you want to delete. You can retrieve this ID from\n        <code>PutPolicy</code> and <code>ListPolicies</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DeleteAllPolicyResources": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>If <code>True</code>, the request performs cleanup according to the policy type. </p>\n         <p>For WAF and Shield Advanced policies, the cleanup does the following:</p>\n         <ul>\n            <li>\n               <p>Deletes rule groups created by Firewall Manager</p>\n            </li>\n            <li>\n               <p>Removes web ACLs from in-scope resources</p>\n            </li>\n            <li>\n               <p>Deletes web ACLs that contain no rules or rule groups</p>\n            </li>\n         </ul>\n         <p>For security group policies, the cleanup does the following for each security group in\n      the policy:</p>\n         <ul>\n            <li>\n               <p>Disassociates the security group from in-scope resources </p>\n            </li>\n            <li>\n               <p>Deletes the security group if it was created through Firewall Manager and if it's\n          no longer associated with any resources through another policy</p>\n            </li>\n         </ul>\n         <p>After the cleanup, in-scope resources are no longer protected by web ACLs in this policy.\n      Protection of out-of-scope resources remains unchanged. Scope is determined by tags that you\n      create and accounts that you associate with the policy. When creating the policy, if you\n      specify that only resources in specific accounts or with specific tags are in scope of the\n      policy, those accounts and resources are handled by the policy. All others are out of scope.\n      If you don't specify tags or accounts, all resources are in scope. </p>"
          }
        }
      }
    },
    "com.amazonaws.fms#DeleteProtocolsList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DeleteProtocolsListRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes an Firewall Manager protocols list.</p>"
      }
    },
    "com.amazonaws.fms#DeleteProtocolsListRequest": {
      "type": "structure",
      "members": {
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the protocols list that you want to delete. You can retrieve this ID from\n      <code>PutProtocolsList</code>, <code>ListProtocolsLists</code>, and <code>GetProtocolsLost</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#DeleteResourceSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DeleteResourceSetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified <a>ResourceSet</a>.</p>"
      }
    },
    "com.amazonaws.fms#DeleteResourceSetRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.fms#Base62Id",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the resource set, used in a TODO to refer to the resource set.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#DependentServiceName": {
      "type": "enum",
      "members": {
        "AWSConfig": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWSCONFIG"
          }
        },
        "AWSWAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWSWAF"
          }
        },
        "AWSShieldAdvanced": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWSSHIELD_ADVANCED"
          }
        },
        "AWSVirtualPrivateCloud": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWSVPC"
          }
        }
      }
    },
    "com.amazonaws.fms#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.fms#DestinationType": {
      "type": "enum",
      "members": {
        "IPV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV4"
          }
        },
        "IPV6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPV6"
          }
        },
        "PrefixList": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFIX_LIST"
          }
        }
      }
    },
    "com.amazonaws.fms#DetailedInfo": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=,+\\-@]*)$"
      }
    },
    "com.amazonaws.fms#DisassociateAdminAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DisassociateAdminAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the account that has been set as the Firewall Manager administrator\n      account. To set a different account as the administrator account, you must submit an\n        <code>AssociateAdminAccount</code> request.</p>"
      }
    },
    "com.amazonaws.fms#DisassociateAdminAccountRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.fms#DisassociateThirdPartyFirewall": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DisassociateThirdPartyFirewallRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#DisassociateThirdPartyFirewallResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a Firewall Manager policy administrator from a third-party firewall tenant. When you call <code>DisassociateThirdPartyFirewall</code>, the third-party firewall vendor deletes all of the firewalls that are associated with the account.</p>"
      }
    },
    "com.amazonaws.fms#DisassociateThirdPartyFirewallRequest": {
      "type": "structure",
      "members": {
        "ThirdPartyFirewall": {
          "target": "com.amazonaws.fms#ThirdPartyFirewall",
          "traits": {
            "smithy.api#documentation": "<p>The name of the third-party firewall vendor.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#DisassociateThirdPartyFirewallResponse": {
      "type": "structure",
      "members": {
        "ThirdPartyFirewallStatus": {
          "target": "com.amazonaws.fms#ThirdPartyFirewallAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status for the disassociation of a Firewall Manager administrators account with a third-party firewall.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#DiscoveredResource": {
      "type": "structure",
      "members": {
        "URI": {
          "target": "com.amazonaws.fms#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The universal resource identifier (URI) of the discovered resource.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID associated with the discovered resource.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.fms#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the discovered resource.</p>"
          }
        },
        "Name": {
[...]
