{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.fms#AWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.fms#AWSFMS_20180101": {
      "type": "service",
      "version": "2018-01-01",
      "operations": [
        {
          "target": "com.amazonaws.fms#AssociateAdminAccount"
        },
        {
          "target": "com.amazonaws.fms#DeleteAppsList"
        },
        {
          "target": "com.amazonaws.fms#DeleteNotificationChannel"
        },
        {
          "target": "com.amazonaws.fms#DeletePolicy"
        },
        {
          "target": "com.amazonaws.fms#DeleteProtocolsList"
        },
        {
          "target": "com.amazonaws.fms#DisassociateAdminAccount"
        },
        {
          "target": "com.amazonaws.fms#GetAdminAccount"
        },
        {
          "target": "com.amazonaws.fms#GetAppsList"
        },
        {
          "target": "com.amazonaws.fms#GetComplianceDetail"
        },
        {
          "target": "com.amazonaws.fms#GetNotificationChannel"
        },
        {
          "target": "com.amazonaws.fms#GetPolicy"
        },
        {
          "target": "com.amazonaws.fms#GetProtectionStatus"
        },
        {
          "target": "com.amazonaws.fms#GetProtocolsList"
        },
        {
          "target": "com.amazonaws.fms#GetViolationDetails"
        },
        {
          "target": "com.amazonaws.fms#ListAppsLists"
        },
        {
          "target": "com.amazonaws.fms#ListComplianceStatus"
        },
        {
          "target": "com.amazonaws.fms#ListMemberAccounts"
        },
        {
          "target": "com.amazonaws.fms#ListPolicies"
        },
        {
          "target": "com.amazonaws.fms#ListProtocolsLists"
        },
        {
          "target": "com.amazonaws.fms#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.fms#PutAppsList"
        },
        {
          "target": "com.amazonaws.fms#PutNotificationChannel"
        },
        {
          "target": "com.amazonaws.fms#PutPolicy"
        },
        {
          "target": "com.amazonaws.fms#PutProtocolsList"
        },
        {
          "target": "com.amazonaws.fms#TagResource"
        },
        {
          "target": "com.amazonaws.fms#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "FMS",
          "arnNamespace": "fms",
          "cloudFormationName": "FMS",
          "cloudTrailEventSource": "fms.amazonaws.com",
          "endpointPrefix": "fms"
        },
        "aws.auth#sigv4": {
          "name": "fms"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS Firewall Manager</fullname>\n         <p>This is the <i>AWS Firewall Manager API Reference</i>. This guide is for\n      developers who need detailed information about the AWS Firewall Manager API actions, data\n      types, and errors. For detailed information about AWS Firewall Manager features, see the\n        <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-chapter.html\">AWS Firewall Manager Developer Guide</a>.</p>\n         <p>Some API actions require explicit resource permissions. For information, see the developer guide topic \n        <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-api-permissions-ref.html\">Firewall Manager required permissions for API actions</a>.\n</p>",
        "smithy.api#title": "Firewall Management Service"
      }
    },
    "com.amazonaws.fms#AccountRoleStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "READY",
            "name": "Ready"
          },
          {
            "value": "CREATING",
            "name": "Creating"
          },
          {
            "value": "PENDING_DELETION",
            "name": "PendingDeletion"
          },
          {
            "value": "DELETING",
            "name": "Deleting"
          },
          {
            "value": "DELETED",
            "name": "Deleted"
          }
        ]
      }
    },
    "com.amazonaws.fms#App": {
      "type": "structure",
      "members": {
        "AppName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The application's name.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.fms#Protocol",
          "traits": {
            "smithy.api#documentation": "<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.fms#IPPortNumber",
          "traits": {
            "smithy.api#documentation": "<p>The application's port number, for example <code>80</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An individual AWS Firewall Manager application.</p>"
      }
    },
    "com.amazonaws.fms#AppsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#App"
      }
    },
    "com.amazonaws.fms#AppsListData": {
      "type": "structure",
      "members": {
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall Manager applications list.</p>"
          }
        },
        "ListName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS Firewall Manager applications list.</p>",
            "smithy.api#required": {}
          }
        },
        "ListUpdateToken": {
          "target": "com.amazonaws.fms#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for each update to the list. When you update \n        the list, the update token must match the token of the current version of the application list. \n        You can retrieve the update token by getting the list. </p>"
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.fms#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the AWS Firewall Manager applications list was created.</p>"
          }
        },
        "LastUpdateTime": {
          "target": "com.amazonaws.fms#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the AWS Firewall Manager applications list was last updated.</p>"
          }
        },
        "AppsList": {
          "target": "com.amazonaws.fms#AppsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of applications in the AWS Firewall Manager applications list.</p>",
            "smithy.api#required": {}
          }
        },
        "PreviousAppsList": {
          "target": "com.amazonaws.fms#PreviousAppsList",
          "traits": {
            "smithy.api#documentation": "<p>A map of previous version numbers to their corresponding <code>App</code> object arrays.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Firewall Manager applications list.</p>"
      }
    },
    "com.amazonaws.fms#AppsListDataSummary": {
      "type": "structure",
      "members": {
        "ListArn": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the applications list.</p>"
          }
        },
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the applications list.</p>"
          }
        },
        "ListName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the applications list.</p>"
          }
        },
        "AppsList": {
          "target": "com.amazonaws.fms#AppsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>App</code> objects in the AWS Firewall Manager applications list.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the AWS Firewall Manager applications list.</p>"
      }
    },
    "com.amazonaws.fms#AppsListsData": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#AppsListDataSummary"
      }
    },
    "com.amazonaws.fms#AssociateAdminAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#AssociateAdminAccountRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets the AWS Firewall Manager administrator account. AWS Firewall Manager must be\n      associated with the master account of your AWS organization or associated with a member\n      account that has the appropriate permissions. If the account ID that you submit is not an AWS\n      Organizations master account, AWS Firewall Manager will set the appropriate permissions for\n      the given member account.</p>\n         <p>The account that you associate with AWS Firewall Manager is called the AWS Firewall\n      Manager administrator account. </p>"
      }
    },
    "com.amazonaws.fms#AssociateAdminAccountRequest": {
      "type": "structure",
      "members": {
        "AdminAccount": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID to associate with AWS Firewall Manager as the AWS Firewall Manager\n      administrator account. This can be an AWS Organizations master account or a member account.\n        For more information about AWS Organizations and master accounts, see \n        <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts.html\">Managing the AWS Accounts in Your Organization</a>.  </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#AwsEc2InstanceViolation": {
      "type": "structure",
      "members": {
        "ViolationTarget": {
          "target": "com.amazonaws.fms#ViolationTarget",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the EC2 instance.</p>"
          }
        },
        "AwsEc2NetworkInterfaceViolations": {
          "target": "com.amazonaws.fms#AwsEc2NetworkInterfaceViolations",
          "traits": {
            "smithy.api#documentation": "<p>Violations for network interfaces associated with the EC2 instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Violations for an EC2 instance resource.</p>"
      }
    },
    "com.amazonaws.fms#AwsEc2NetworkInterfaceViolation": {
      "type": "structure",
      "members": {
        "ViolationTarget": {
          "target": "com.amazonaws.fms#ViolationTarget",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the network interface.</p>"
          }
        },
        "ViolatingSecurityGroups": {
          "target": "com.amazonaws.fms#ResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>List of security groups that violate the rules specified in the master security group of the AWS Firewall Manager policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Violations for network interfaces associated with an EC2 instance.</p>"
      }
    },
    "com.amazonaws.fms#AwsEc2NetworkInterfaceViolations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#AwsEc2NetworkInterfaceViolation"
      }
    },
    "com.amazonaws.fms#AwsVPCSecurityGroupViolation": {
      "type": "structure",
      "members": {
        "ViolationTarget": {
          "target": "com.amazonaws.fms#ViolationTarget",
          "traits": {
            "smithy.api#documentation": "<p>The security group rule that is being evaluated.</p>"
          }
        },
        "ViolationTargetDescription": {
          "target": "com.amazonaws.fms#LengthBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the security group that violates the policy.</p>"
          }
        },
        "PartialMatches": {
          "target": "com.amazonaws.fms#PartialMatches",
          "traits": {
            "smithy.api#documentation": "<p>List of rules specified in the security group of the AWS Firewall Manager policy that partially match the <code>ViolationTarget</code> rule.</p>"
          }
        },
        "PossibleSecurityGroupRemediationActions": {
          "target": "com.amazonaws.fms#SecurityGroupRemediationActions",
          "traits": {
            "smithy.api#documentation": "<p>Remediation options for the rule specified in the <code>ViolationTarget</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the rule violation in a security group when compared to the master security group of the AWS Firewall Manager policy.</p>"
      }
    },
    "com.amazonaws.fms#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.fms#CIDR": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[a-f0-9:./]+"
      }
    },
    "com.amazonaws.fms#ComplianceViolator": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.fms#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID.</p>"
          }
        },
        "ViolationReason": {
          "target": "com.amazonaws.fms#ViolationReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the resource is not protected by the policy.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.fms#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type. This is in the format shown in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">AWS Resource Types Reference</a>. For example:\n        <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code>, \n        <code>AWS::CloudFront::Distribution</code>, or\n        <code>AWS::NetworkFirewall::FirewallPolicy</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the resource that is not protected by the policy.</p>"
      }
    },
    "com.amazonaws.fms#ComplianceViolators": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#ComplianceViolator"
      }
    },
    "com.amazonaws.fms#CustomerPolicyScopeId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.fms#CustomerPolicyScopeIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#CustomerPolicyScopeId"
      }
    },
    "com.amazonaws.fms#CustomerPolicyScopeIdType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCOUNT",
            "name": "ACCOUNT"
          },
          {
            "value": "ORG_UNIT",
            "name": "ORG_UNIT"
          }
        ]
      }
    },
    "com.amazonaws.fms#CustomerPolicyScopeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.fms#CustomerPolicyScopeIdType"
      },
      "value": {
        "target": "com.amazonaws.fms#CustomerPolicyScopeIdList"
      }
    },
    "com.amazonaws.fms#DeleteAppsList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DeleteAppsListRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes an AWS Firewall Manager applications list.</p>"
      }
    },
    "com.amazonaws.fms#DeleteAppsListRequest": {
      "type": "structure",
      "members": {
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the applications list that you want to delete. You can retrieve this ID from \n      <code>PutAppsList</code>, <code>ListAppsLists</code>, and <code>GetAppsList</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#DeleteNotificationChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DeleteNotificationChannelRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an AWS Firewall Manager association with the IAM role and the Amazon Simple\n      Notification Service (SNS) topic that is used to record AWS Firewall Manager SNS logs.</p>"
      }
    },
    "com.amazonaws.fms#DeleteNotificationChannelRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.fms#DeletePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DeletePolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes an AWS Firewall Manager policy. </p>"
      }
    },
    "com.amazonaws.fms#DeletePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy that you want to delete. You can retrieve this ID from \n        <code>PutPolicy</code> and <code>ListPolicies</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DeleteAllPolicyResources": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If <code>True</code>, the request performs cleanup according to the policy type. </p>\n         <p>For AWS WAF and Shield Advanced policies, the cleanup does the following:</p>\n         <ul>\n            <li>\n               <p>Deletes rule groups created by AWS Firewall Manager</p>\n            </li>\n            <li>\n               <p>Removes web ACLs from in-scope resources</p>\n            </li>\n            <li>\n               <p>Deletes web ACLs that contain no rules or rule groups</p>\n            </li>\n         </ul>\n         <p>For security group policies, the cleanup does the following for each security group in\n      the policy:</p>\n         <ul>\n            <li>\n               <p>Disassociates the security group from in-scope resources </p>\n            </li>\n            <li>\n               <p>Deletes the security group if it was created through Firewall Manager and if it's\n          no longer associated with any resources through another policy</p>\n            </li>\n         </ul>\n         <p>After the cleanup, in-scope resources are no longer protected by web ACLs in this policy.\n      Protection of out-of-scope resources remains unchanged. Scope is determined by tags that you\n      create and accounts that you associate with the policy. When creating the policy, if you\n      specify that only resources in specific accounts or with specific tags are in scope of the\n      policy, those accounts and resources are handled by the policy. All others are out of scope.\n      If you don't specify tags or accounts, all resources are in scope. </p>"
          }
        }
      }
    },
    "com.amazonaws.fms#DeleteProtocolsList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DeleteProtocolsListRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes an AWS Firewall Manager protocols list.</p>"
      }
    },
    "com.amazonaws.fms#DeleteProtocolsListRequest": {
      "type": "structure",
      "members": {
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the protocols list that you want to delete. You can retrieve this ID from \n      <code>PutProtocolsList</code>, <code>ListProtocolsLists</code>, and <code>GetProtocolsLost</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#DependentServiceName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWSCONFIG",
            "name": "AWSConfig"
          },
          {
            "value": "AWSWAF",
            "name": "AWSWAF"
          },
          {
            "value": "AWSSHIELD_ADVANCED",
            "name": "AWSShieldAdvanced"
          },
          {
            "value": "AWSVPC",
            "name": "AWSVirtualPrivateCloud"
          }
        ]
      }
    },
    "com.amazonaws.fms#DetailedInfo": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=,+\\-@]*)$"
      }
    },
    "com.amazonaws.fms#DisassociateAdminAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#DisassociateAdminAccountRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the account that has been set as the AWS Firewall Manager administrator\n      account. To set a different account as the administrator account, you must submit an\n        <code>AssociateAdminAccount</code> request.</p>"
      }
    },
    "com.amazonaws.fms#DisassociateAdminAccountRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.fms#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.fms#EvaluationResult": {
      "type": "structure",
      "members": {
        "ComplianceStatus": {
          "target": "com.amazonaws.fms#PolicyComplianceStatusType",
          "traits": {
            "smithy.api#documentation": "<p>Describes an AWS account's compliance with the AWS Firewall Manager policy.</p>"
          }
        },
        "ViolatorCount": {
          "target": "com.amazonaws.fms#ResourceCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of resources that are noncompliant with the specified policy. For AWS WAF and\n      Shield Advanced policies, a resource is considered noncompliant if it is not associated with\n      the policy. For security group policies, a resource is considered noncompliant if it doesn't\n      comply with the rules of the policy and remediation is disabled or not possible.</p>"
          }
        },
        "EvaluationLimitExceeded": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that over 100 resources are noncompliant with the AWS Firewall Manager\n      policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the compliance status for the account. An account is considered noncompliant if\n      it includes resources that are not protected by the specified policy or that don't comply with\n      the policy.</p>"
      }
    },
    "com.amazonaws.fms#EvaluationResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#EvaluationResult"
      }
    },
    "com.amazonaws.fms#GetAdminAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#GetAdminAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#GetAdminAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the AWS Organizations master account that is associated with AWS Firewall Manager\n      as the AWS Firewall Manager administrator.</p>"
      }
    },
    "com.amazonaws.fms#GetAdminAccountRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.fms#GetAdminAccountResponse": {
      "type": "structure",
      "members": {
        "AdminAccount": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account that is set as the AWS Firewall Manager administrator.</p>"
          }
        },
        "RoleStatus": {
          "target": "com.amazonaws.fms#AccountRoleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the AWS account that you set as the AWS Firewall Manager\n      administrator.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#GetAppsList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#GetAppsListRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#GetAppsListResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the specified AWS Firewall Manager applications list.</p>"
      }
    },
    "com.amazonaws.fms#GetAppsListRequest": {
      "type": "structure",
      "members": {
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall Manager applications list that you want the details for.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultList": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the list to retrieve is a default list owned by AWS Firewall Manager.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#GetAppsListResponse": {
      "type": "structure",
      "members": {
        "AppsList": {
          "target": "com.amazonaws.fms#AppsListData",
          "traits": {
            "smithy.api#documentation": "<p>Information about the specified AWS Firewall Manager applications list.</p>"
          }
        },
        "AppsListArn": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the applications list.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#GetComplianceDetail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#GetComplianceDetailRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#GetComplianceDetailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed compliance information about the specified member account. Details\n      include resources that are in and out of compliance with the specified policy. Resources are\n      considered noncompliant for AWS WAF and Shield Advanced policies if the specified policy has\n      not been applied to them. Resources are considered noncompliant for security group policies if\n      they are in scope of the policy, they violate one or more of the policy rules, and remediation\n        is disabled or not possible. Resources are considered noncompliant for Network Firewall policies\n        if a firewall is missing in the VPC, if the firewall endpoint isn't set up in an expected Availability Zone and subnet, \n        if a subnet created by the Firewall Manager doesn't have the expected route table, \n        and for modifications to a firewall policy that violate the Firewall Manager policy's rules. </p>"
      }
    },
    "com.amazonaws.fms#GetComplianceDetailRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy that you want to get the details for. <code>PolicyId</code> is\n      returned by <code>PutPolicy</code> and by <code>ListPolicies</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "MemberAccount": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account that owns the resources that you want to get the details for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#GetComplianceDetailResponse": {
      "type": "structure",
      "members": {
        "PolicyComplianceDetail": {
          "target": "com.amazonaws.fms#PolicyComplianceDetail",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resources and the policy that you specified in the\n        <code>GetComplianceDetail</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#GetNotificationChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#GetNotificationChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#GetNotificationChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Information\n      about the Amazon Simple Notification Service (SNS) topic that is used to\n      record AWS Firewall Manager SNS logs.</p>"
      }
    },
    "com.amazonaws.fms#GetNotificationChannelRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.fms#GetNotificationChannelResponse": {
      "type": "structure",
      "members": {
        "SnsTopicArn": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The SNS topic that records AWS Firewall Manager activity. </p>"
          }
        },
        "SnsRoleName": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role that is used by AWS Firewall Manager to record activity to SNS.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#GetPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#GetPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#GetPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the specified AWS Firewall Manager policy.</p>"
      }
    },
    "com.amazonaws.fms#GetPolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall Manager policy that you want the details for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#GetPolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.fms#Policy",
          "traits": {
            "smithy.api#documentation": "<p>Information about the specified AWS Firewall Manager policy.</p>"
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the specified policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#GetProtectionStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#GetProtectionStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#GetProtectionStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>If you created a Shield Advanced policy, returns policy-level attack summary information\n         in the event of a potential DDoS attack. Other policy types are currently unsupported.</p>"
      }
    },
    "com.amazonaws.fms#GetProtectionStatusRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy for which you want to get the attack information.</p>",
            "smithy.api#required": {}
          }
        },
        "MemberAccountId": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account that is in scope of the policy that you want to get the details\n         for.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.fms#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time period to query for the attacks. This is a <code>timestamp</code> type. The\n          request syntax listing indicates a <code>number</code> type because the default used by AWS Firewall\n         Manager is Unix time in seconds. However, any valid <code>timestamp</code> format is\n         allowed.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.fms#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time period to query for the attacks. This is a <code>timestamp</code> type. The\n         request syntax listing indicates a <code>number</code> type because the default used by AWS Firewall\n         Manager is Unix time in seconds. However, any valid <code>timestamp</code> format is\n         allowed.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify a value for <code>MaxResults</code> and you have more objects than the number that you specify \n         for <code>MaxResults</code>, AWS Firewall Manager returns a <code>NextToken</code> value in the response, which you can use to retrieve another group of \n         objects. For the second and subsequent <code>GetProtectionStatus</code> requests, specify the value of <code>NextToken</code> \n         from the previous response to get information about another batch of objects.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.fms#PaginationMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of objects that you want AWS Firewall Manager to return for this request. If you have more \n        objects than the number that you specify for <code>MaxResults</code>, the response includes a \n         <code>NextToken</code> value that you can use to get another batch of objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#GetProtectionStatusResponse": {
      "type": "structure",
      "members": {
        "AdminAccountId": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall administrator account for this policy.</p>"
          }
        },
        "ServiceType": {
          "target": "com.amazonaws.fms#SecurityServiceType",
          "traits": {
            "smithy.api#documentation": "<p>The service type that is protected by the policy. Currently, this is always\n            <code>SHIELD_ADVANCED</code>.</p>"
          }
        },
        "Data": {
          "target": "com.amazonaws.fms#ProtectionData",
          "traits": {
            "smithy.api#documentation": "<p>Details about the attack, including the following:</p>\n         <ul>\n            <li>\n               <p>Attack type</p>\n            </li>\n            <li>\n               <p>Account ID</p>\n            </li>\n            <li>\n               <p>ARN of the resource attacked</p>\n            </li>\n            <li>\n               <p>Start time of the attack</p>\n            </li>\n            <li>\n               <p>End time of the attack (ongoing attacks will not have an end time)</p>\n            </li>\n         </ul>\n         <p>The details are in JSON format. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you have more objects than the number that you specified for <code>MaxResults</code> in the request, \n         the response includes a <code>NextToken</code> value. To list more objects, submit another \n         <code>GetProtectionStatus</code> request, and specify the <code>NextToken</code> value from the response in the \n         <code>NextToken</code> value in the next request.</p>\n         <p>AWS SDKs provide auto-pagination that identify <code>NextToken</code> in a response and\n         make subsequent request calls automatically on your behalf. However, this feature is not\n         supported by <code>GetProtectionStatus</code>. You must submit subsequent requests with\n            <code>NextToken</code> using your own processes. </p>"
          }
        }
      }
    },
    "com.amazonaws.fms#GetProtocolsList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#GetProtocolsListRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#GetProtocolsListResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the specified AWS Firewall Manager protocols list.</p>"
      }
    },
    "com.amazonaws.fms#GetProtocolsListRequest": {
      "type": "structure",
      "members": {
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall Manager protocols list that you want the details for.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultList": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the list to retrieve is a default list owned by AWS Firewall Manager.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#GetProtocolsListResponse": {
      "type": "structure",
      "members": {
        "ProtocolsList": {
          "target": "com.amazonaws.fms#ProtocolsListData",
          "traits": {
            "smithy.api#documentation": "<p>Information about the specified AWS Firewall Manager protocols list.</p>"
          }
        },
        "ProtocolsListArn": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the specified protocols list.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#GetViolationDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#GetViolationDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#GetViolationDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves violations for a resource based on the specified AWS Firewall Manager policy and AWS account.</p>"
      }
    },
    "com.amazonaws.fms#GetViolationDetailsRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall Manager policy that you want the details for. This currently only supports security group content audit policies.</p>",
            "smithy.api#required": {}
          }
        },
        "MemberAccount": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID that you want the details for.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.fms#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that has violations.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.fms#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type. This is in the format shown in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">AWS Resource Types Reference</a>.\n      Supported resource types are:\n      <code>AWS::EC2::Instance</code>,\n      <code>AWS::EC2::NetworkInterface</code>, \n      <code>AWS::EC2::SecurityGroup</code>,\n      <code>AWS::NetworkFirewall::FirewallPolicy</code>, and\n      <code>AWS::EC2::Subnet</code>.\n   </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#GetViolationDetailsResponse": {
      "type": "structure",
      "members": {
        "ViolationDetail": {
          "target": "com.amazonaws.fms#ViolationDetail",
          "traits": {
            "smithy.api#documentation": "<p>Violation detail for a resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#IPPortNumber": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 65535
        }
      }
    },
    "com.amazonaws.fms#InternalErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fms#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation failed because of a system problem, even though the request was valid. Retry\n      your request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fms#InvalidInputException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fms#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters of the request were invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fms#InvalidOperationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fms#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have\n        submitted an <code>AssociateAdminAccount</code> request for an account ID that \n            was already set as the AWS Firewall Manager administrator. Or you might have tried to access a Region\n  that's disabled by default, and that you need to enable for the Firewall Manager         \n  administrator account and for AWS Organizations before you can access it.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fms#InvalidTypeException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fms#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value of the <code>Type</code> parameter is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fms#IssueInfoMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.fms#DependentServiceName"
      },
      "value": {
        "target": "com.amazonaws.fms#DetailedInfo"
      }
    },
    "com.amazonaws.fms#LengthBoundedString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.fms#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fms#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation exceeds a resource limit, for example, the maximum number of\n        <code>policy</code> objects that you can create for an AWS account. For more information,\n      see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall\n        Manager Limits</a> in the <i>AWS WAF Developer Guide</i>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fms#ListAppsLists": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#ListAppsListsRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#ListAppsListsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of <code>AppsListDataSummary</code> objects.</p>"
      }
    },
    "com.amazonaws.fms#ListAppsListsRequest": {
      "type": "structure",
      "members": {
        "DefaultLists": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the lists to retrieve are default lists owned by AWS Firewall Manager.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify a value for <code>MaxResults</code> in your list request, and you have more objects than the maximum, \n        AWS Firewall Manager returns this token in the response. For all but the first request, you provide the token returned by the prior request \n        in the request parameters, to retrieve the next batch of objects.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.fms#PaginationMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects that you want AWS Firewall Manager to return for this request. If more\n            objects are available, in the response, AWS Firewall Manager provides a\n           <code>NextToken</code> value that you can use in a subsequent call to get the next batch of objects.</p> \n         <p>If you don't specify this, AWS Firewall Manager returns all available objects.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#ListAppsListsResponse": {
      "type": "structure",
      "members": {
        "AppsLists": {
          "target": "com.amazonaws.fms#AppsListsData",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>AppsListDataSummary</code> objects.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify a value for <code>MaxResults</code> in your list request, and you have more objects than the maximum, \n        AWS Firewall Manager returns this token in the response. You can use this token in subsequent requests to retrieve the next batch of objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#ListComplianceStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#ListComplianceStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#ListComplianceStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of <code>PolicyComplianceStatus</code> objects. Use\n        <code>PolicyComplianceStatus</code> to get a summary of which member accounts are protected\n      by the specified policy. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PolicyComplianceStatusList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.fms#ListComplianceStatusRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall Manager policy that you want the details for.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify a value for <code>MaxResults</code> and you have more\n        <code>PolicyComplianceStatus</code> objects than the number that you specify for\n        <code>MaxResults</code>, AWS Firewall Manager returns a <code>NextToken</code> value in the\n      response that allows you to list another group of <code>PolicyComplianceStatus</code> objects.\n      For the second and subsequent <code>ListComplianceStatus</code> requests, specify the value of\n        <code>NextToken</code> from the previous response to get information about another batch of\n        <code>PolicyComplianceStatus</code> objects.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.fms#PaginationMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of <code>PolicyComplianceStatus</code> objects that you want AWS\n      Firewall Manager to return for this request. If you have more\n        <code>PolicyComplianceStatus</code> objects than the number that you specify for\n        <code>MaxResults</code>, the response includes a <code>NextToken</code> value that you can\n      use to get another batch of <code>PolicyComplianceStatus</code> objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#ListComplianceStatusResponse": {
      "type": "structure",
      "members": {
        "PolicyComplianceStatusList": {
          "target": "com.amazonaws.fms#PolicyComplianceStatusList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>PolicyComplianceStatus</code> objects.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you have more <code>PolicyComplianceStatus</code> objects than the number that you\n      specified for <code>MaxResults</code> in the request, the response includes a\n        <code>NextToken</code> value. To list more <code>PolicyComplianceStatus</code> objects,\n      submit another <code>ListComplianceStatus</code> request, and specify the\n        <code>NextToken</code> value from the response in the <code>NextToken</code> value in the\n      next request.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#ListId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[a-z0-9A-Z-]{36}$"
      }
    },
    "com.amazonaws.fms#ListMemberAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#ListMemberAccountsRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#ListMemberAccountsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a <code>MemberAccounts</code> object that lists the member accounts in the\n      administrator's AWS organization.</p>\n         <p>The <code>ListMemberAccounts</code> must be submitted by the account that is set as the\n      AWS Firewall Manager administrator.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "MemberAccounts",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.fms#ListMemberAccountsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify a value for <code>MaxResults</code> and you have more account IDs than the\n      number that you specify for <code>MaxResults</code>, AWS Firewall Manager returns a\n        <code>NextToken</code> value in the response that allows you to list another group of IDs.\n      For the second and subsequent <code>ListMemberAccountsRequest</code> requests, specify the\n      value of <code>NextToken</code> from the previous response to get information about another\n      batch of member account IDs.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.fms#PaginationMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of member account IDs that you want AWS Firewall Manager to return\n      for this request. If you have more IDs than the number that you specify for\n        <code>MaxResults</code>, the response includes a <code>NextToken</code> value that you can\n      use to get another batch of member account IDs.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#ListMemberAccountsResponse": {
      "type": "structure",
      "members": {
        "MemberAccounts": {
          "target": "com.amazonaws.fms#MemberAccounts",
          "traits": {
            "smithy.api#documentation": "<p>An array of account IDs.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you have more member account IDs than the number that you specified for\n        <code>MaxResults</code> in the request, the response includes a <code>NextToken</code>\n      value. To list more IDs, submit another <code>ListMemberAccounts</code> request, and specify\n      the <code>NextToken</code> value from the response in the <code>NextToken</code> value in the\n      next request.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#ListPolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#ListPoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#ListPoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of <code>PolicySummary</code> objects.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PolicyList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.fms#ListPoliciesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify a value for <code>MaxResults</code> and you have more\n        <code>PolicySummary</code> objects than the number that you specify for\n        <code>MaxResults</code>, AWS Firewall Manager returns a <code>NextToken</code> value in the\n      response that allows you to list another group of <code>PolicySummary</code> objects. For the\n      second and subsequent <code>ListPolicies</code> requests, specify the value of\n        <code>NextToken</code> from the previous response to get information about another batch of\n        <code>PolicySummary</code> objects.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.fms#PaginationMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of <code>PolicySummary</code> objects that you want AWS Firewall\n      Manager to return for this request. If you have more <code>PolicySummary</code> objects than\n      the number that you specify for <code>MaxResults</code>, the response includes a\n        <code>NextToken</code> value that you can use to get another batch of\n        <code>PolicySummary</code> objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#ListPoliciesResponse": {
      "type": "structure",
      "members": {
        "PolicyList": {
          "target": "com.amazonaws.fms#PolicySummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>PolicySummary</code> objects.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you have more <code>PolicySummary</code> objects than the number that you specified for\n        <code>MaxResults</code> in the request, the response includes a <code>NextToken</code>\n      value. To list more <code>PolicySummary</code> objects, submit another\n        <code>ListPolicies</code> request, and specify the <code>NextToken</code> value from the\n      response in the <code>NextToken</code> value in the next request.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#ListProtocolsLists": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#ListProtocolsListsRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#ListProtocolsListsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of <code>ProtocolsListDataSummary</code> objects.</p>"
      }
    },
    "com.amazonaws.fms#ListProtocolsListsRequest": {
      "type": "structure",
      "members": {
        "DefaultLists": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the lists to retrieve are default lists owned by AWS Firewall Manager.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify a value for <code>MaxResults</code> in your list request, and you have more objects than the maximum, \n        AWS Firewall Manager returns this token in the response. For all but the first request, you provide the token returned by the prior request \n        in the request parameters, to retrieve the next batch of objects.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.fms#PaginationMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects that you want AWS Firewall Manager to return for this request. If more\n            objects are available, in the response, AWS Firewall Manager provides a\n           <code>NextToken</code> value that you can use in a subsequent call to get the next batch of objects.</p> \n         <p>If you don't specify this, AWS Firewall Manager returns all available objects.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#ListProtocolsListsResponse": {
      "type": "structure",
      "members": {
        "ProtocolsLists": {
          "target": "com.amazonaws.fms#ProtocolsListsData",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ProtocolsListDataSummary</code> objects.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fms#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If you specify a value for <code>MaxResults</code> in your list request, and you have more objects than the maximum, \n        AWS Firewall Manager returns this token in the response. You can use this token in subsequent requests to retrieve the next batch of objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the list of tags for the specified AWS resource.   </p>"
      }
    },
    "com.amazonaws.fms#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to return tags for. The AWS Firewall Manager resources that support tagging are policies, applications lists, and protocols lists. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fms#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "TagList": {
          "target": "com.amazonaws.fms#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#ManagedServiceData": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.fms#MemberAccounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#AWSAccountId"
      }
    },
    "com.amazonaws.fms#NetworkFirewallAction": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.fms#NetworkFirewallActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#NetworkFirewallAction"
      }
    },
    "com.amazonaws.fms#NetworkFirewallMissingExpectedRTViolation": {
      "type": "structure",
      "members": {
        "ViolationTarget": {
          "target": "com.amazonaws.fms#ViolationTarget",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Network Firewall or VPC resource that's in violation.</p>"
          }
        },
        "VPC": {
          "target": "com.amazonaws.fms#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the VPC associated with a violating subnet.</p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.fms#LengthBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone of a violating subnet. </p>"
          }
        },
        "CurrentRouteTable": {
          "target": "com.amazonaws.fms#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the current route table that's associated with the subnet, if one is available.</p>"
          }
        },
        "ExpectedRouteTable": {
          "target": "com.amazonaws.fms#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the route table that should be associated with the subnet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Violation details for AWS Network Firewall for a subnet that's not associated to the expected\n       Firewall Manager managed route table.</p>"
      }
    },
    "com.amazonaws.fms#NetworkFirewallMissingFirewallViolation": {
      "type": "structure",
      "members": {
        "ViolationTarget": {
          "target": "com.amazonaws.fms#ViolationTarget",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Network Firewall or VPC resource that's in violation.</p>"
          }
        },
        "VPC": {
          "target": "com.amazonaws.fms#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the VPC associated with a violating subnet.</p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.fms#LengthBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone of a violating subnet. </p>"
          }
        },
        "TargetViolationReason": {
          "target": "com.amazonaws.fms#TargetViolationReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the resource has this violation, if one is available. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Violation details for AWS Network Firewall for a subnet that doesn't have a \n       Firewall Manager managed firewall in its VPC. </p>"
      }
    },
    "com.amazonaws.fms#NetworkFirewallMissingSubnetViolation": {
      "type": "structure",
      "members": {
        "ViolationTarget": {
          "target": "com.amazonaws.fms#ViolationTarget",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Network Firewall or VPC resource that's in violation.</p>"
          }
        },
        "VPC": {
          "target": "com.amazonaws.fms#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the VPC associated with a violating subnet.</p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.fms#LengthBoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone of a violating subnet. </p>"
          }
        },
        "TargetViolationReason": {
          "target": "com.amazonaws.fms#TargetViolationReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the resource has this violation, if one is available. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Violation details for AWS Network Firewall for an Availability Zone that's \n       missing the expected Firewall Manager managed subnet.</p>"
      }
    },
    "com.amazonaws.fms#NetworkFirewallPolicyDescription": {
      "type": "structure",
      "members": {
        "StatelessRuleGroups": {
          "target": "com.amazonaws.fms#StatelessRuleGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The stateless rule groups that are used in the Network Firewall firewall policy. </p>"
          }
        },
        "StatelessDefaultActions": {
          "target": "com.amazonaws.fms#NetworkFirewallActionList",
          "traits": {
            "smithy.api#documentation": "<p>The actions to take on packets that don't match any of the stateless rule groups. </p>"
          }
        },
        "StatelessFragmentDefaultActions": {
          "target": "com.amazonaws.fms#NetworkFirewallActionList",
          "traits": {
            "smithy.api#documentation": "<p>The actions to take on packet fragments that don't match any of the stateless rule groups. </p>"
          }
        },
        "StatelessCustomActions": {
          "target": "com.amazonaws.fms#NetworkFirewallActionList",
          "traits": {
            "smithy.api#documentation": "<p>Names of custom actions that are available for use in the stateless default actions settings.</p>"
          }
        },
        "StatefulRuleGroups": {
          "target": "com.amazonaws.fms#StatefulRuleGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The stateful rule groups that are used in the Network Firewall firewall policy. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition of the AWS Network Firewall firewall policy.</p>"
      }
    },
    "com.amazonaws.fms#NetworkFirewallPolicyModifiedViolation": {
      "type": "structure",
      "members": {
        "ViolationTarget": {
          "target": "com.amazonaws.fms#ViolationTarget",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Network Firewall or VPC resource that's in violation.</p>"
          }
        },
        "CurrentPolicyDescription": {
          "target": "com.amazonaws.fms#NetworkFirewallPolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>The policy that's currently in use in the individual account. </p>"
          }
        },
        "ExpectedPolicyDescription": {
          "target": "com.amazonaws.fms#NetworkFirewallPolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>The policy that should be in use in the individual account in order to be compliant. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Violation details for AWS Network Firewall for a firewall policy that has a different\n       <a>NetworkFirewallPolicyDescription</a> than is required by the Firewall Manager policy. </p>"
      }
    },
    "com.amazonaws.fms#NetworkFirewallResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.fms#PaginationMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.fms#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.fms#PartialMatch": {
      "type": "structure",
      "members": {
        "Reference": {
          "target": "com.amazonaws.fms#ReferenceRule",
          "traits": {
            "smithy.api#documentation": "<p>The reference rule from the master security group of the AWS Firewall Manager policy.</p>"
          }
        },
        "TargetViolationReasons": {
          "target": "com.amazonaws.fms#TargetViolationReasons",
          "traits": {
            "smithy.api#documentation": "<p>The violation reason.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The reference rule that partially matches the <code>ViolationTarget</code> rule and violation reason.</p>"
      }
    },
    "com.amazonaws.fms#PartialMatches": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#PartialMatch"
      }
    },
    "com.amazonaws.fms#Policy": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall Manager policy.</p>"
          }
        },
        "PolicyName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS Firewall Manager policy.</p>",
            "smithy.api#required": {}
          }
        },
        "PolicyUpdateToken": {
          "target": "com.amazonaws.fms#PolicyUpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for each update to the policy. When issuing a <code>PutPolicy</code>\n      request, the <code>PolicyUpdateToken</code> in the request must match the\n        <code>PolicyUpdateToken</code> of the current policy version. To get the\n        <code>PolicyUpdateToken</code> of the current policy version, use a <code>GetPolicy</code>\n      request.</p>"
          }
        },
        "SecurityServicePolicyData": {
          "target": "com.amazonaws.fms#SecurityServicePolicyData",
          "traits": {
            "smithy.api#documentation": "<p>Details about the security service that is being used to protect the resources.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.fms#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource protected by or in scope of the policy. This is in the format shown\n        in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">AWS Resource Types Reference</a>.\n            For AWS WAF and Shield Advanced, examples include\n        <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code> and\n        <code>AWS::CloudFront::Distribution</code>. For a security group common policy, valid values\n      are <code>AWS::EC2::NetworkInterface</code> and <code>AWS::EC2::Instance</code>. For a\n      security group content audit policy, valid values are <code>AWS::EC2::SecurityGroup</code>,\n        <code>AWS::EC2::NetworkInterface</code>, and <code>AWS::EC2::Instance</code>. For a security\n            group usage audit policy, the value is <code>AWS::EC2::SecurityGroup</code>. For an AWS Network Firewall policy,\n                the value is <code>AWS::EC2::VPC</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTypeList": {
          "target": "com.amazonaws.fms#ResourceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ResourceType</code>.</p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.fms#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ResourceTag</code> objects.</p>"
          }
        },
        "ExcludeResourceTags": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>True</code>, resources with the tags that are specified in the\n        <code>ResourceTag</code> array are not in scope of the policy. If set to <code>False</code>,\n      and the <code>ResourceTag</code> array is not null, only resources with the specified tags are\n      in scope of the policy.</p>",
            "smithy.api#required": {}
          }
        },
        "RemediationEnabled": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the policy should be automatically applied to new resources.</p>",
            "smithy.api#required": {}
          }
        },
        "IncludeMap": {
          "target": "com.amazonaws.fms#CustomerPolicyScopeMap",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the AWS account IDs and AWS Organizations organizational units (OUs) to include in the policy. \n          Specifying an OU is the equivalent of specifying all accounts in the OU and in any of its child OUs, including any child OUs and accounts that are added at a later time.</p>\n              <p>You can specify inclusions or exclusions, but not both. If you specify an <code>IncludeMap</code>, AWS Firewall Manager \n          applies the policy to all accounts specified by the <code>IncludeMap</code>, and \n          does not evaluate any <code>ExcludeMap</code> specifications. If you do not specify an <code>IncludeMap</code>, then Firewall Manager \n            applies the policy to all accounts except for those specified by the <code>ExcludeMap</code>.</p>\n         <p>You can specify account IDs, OUs, or a combination: </p>\n         <ul>\n            <li>\n               <p>Specify account IDs by setting the key to <code>ACCOUNT</code>. For example, the following is a valid map:  \n      <code>{“ACCOUNT” : [“accountID1”, “accountID2”]}</code>.</p>\n            </li>\n            <li>\n               <p>Specify OUs by setting the key to <code>ORG_UNIT</code>. For example, the following is a valid map: \n  <code>{“ORG_UNIT” : [“ouid111”, “ouid112”]}</code>.</p>\n            </li>\n            <li>\n               <p>Specify accounts and OUs together in a single map, separated with a comma. For example, the following is a valid map:\n      <code>{“ACCOUNT” : [“accountID1”, “accountID2”], “ORG_UNIT” : [“ouid111”, “ouid112”]}</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "ExcludeMap": {
          "target": "com.amazonaws.fms#CustomerPolicyScopeMap",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the AWS account IDs and AWS Organizations organizational units (OUs) to exclude from the policy. \n          Specifying an OU is the equivalent of specifying all accounts in the OU and in any of its child OUs, including any child OUs and accounts that are added at a later time.</p>\n              <p>You can specify inclusions or exclusions, but not both. If you specify an <code>IncludeMap</code>, AWS Firewall Manager \n          applies the policy to all accounts specified by the <code>IncludeMap</code>, and \n          does not evaluate any <code>ExcludeMap</code> specifications. If you do not specify an <code>IncludeMap</code>, then Firewall Manager \n            applies the policy to all accounts except for those specified by the <code>ExcludeMap</code>.</p>\n         <p>You can specify account IDs, OUs, or a combination: </p>\n         <ul>\n            <li>\n               <p>Specify account IDs by setting the key to <code>ACCOUNT</code>. For example, the following is a valid map:  \n      <code>{“ACCOUNT” : [“accountID1”, “accountID2”]}</code>.</p>\n            </li>\n            <li>\n               <p>Specify OUs by setting the key to <code>ORG_UNIT</code>. For example, the following is a valid map: \n  <code>{“ORG_UNIT” : [“ouid111”, “ouid112”]}</code>.</p>\n            </li>\n            <li>\n               <p>Specify accounts and OUs together in a single map, separated with a comma. For example, the following is a valid map:\n      <code>{“ACCOUNT” : [“accountID1”, “accountID2”], “ORG_UNIT” : [“ouid111”, “ouid112”]}</code>.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Firewall Manager policy.</p>"
      }
    },
    "com.amazonaws.fms#PolicyComplianceDetail": {
      "type": "structure",
      "members": {
        "PolicyOwner": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account that created the AWS Firewall Manager policy.</p>"
          }
        },
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall Manager policy.</p>"
          }
        },
        "MemberAccount": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID.</p>"
          }
        },
        "Violators": {
          "target": "com.amazonaws.fms#ComplianceViolators",
          "traits": {
            "smithy.api#documentation": "<p>An array of resources that aren't protected by the AWS WAF or Shield Advanced policy or\n      that aren't in compliance with the security group policy.</p>"
          }
        },
        "EvaluationLimitExceeded": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if over 100 resources are noncompliant with the AWS Firewall Manager\n      policy.</p>"
          }
        },
        "ExpiredAt": {
          "target": "com.amazonaws.fms#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that indicates when the returned information should be considered out of\n      date.</p>"
          }
        },
        "IssueInfoMap": {
          "target": "com.amazonaws.fms#IssueInfoMap",
          "traits": {
            "smithy.api#documentation": "<p>Details about problems with dependent services, such as AWS WAF or AWS Config, that are\n      causing a resource to be noncompliant. The details include the name of the dependent service\n      and the error message received that indicates the problem with the service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes\n      the noncompliant resources in a member account for a specific AWS Firewall\n      Manager policy. A maximum of 100 entries are displayed. If more than 100 resources are\n      noncompliant, <code>EvaluationLimitExceeded</code> is set to <code>True</code>.</p>"
      }
    },
    "com.amazonaws.fms#PolicyComplianceStatus": {
      "type": "structure",
      "members": {
        "PolicyOwner": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account that created the AWS Firewall Manager policy.</p>"
          }
        },
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall Manager policy.</p>"
          }
        },
        "PolicyName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS Firewall Manager policy.</p>"
          }
        },
        "MemberAccount": {
          "target": "com.amazonaws.fms#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The member account ID.</p>"
          }
        },
        "EvaluationResults": {
          "target": "com.amazonaws.fms#EvaluationResults",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>EvaluationResult</code> objects.</p>"
          }
        },
        "LastUpdated": {
          "target": "com.amazonaws.fms#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of the last update to the <code>EvaluationResult</code> objects.</p>"
          }
        },
        "IssueInfoMap": {
          "target": "com.amazonaws.fms#IssueInfoMap",
          "traits": {
            "smithy.api#documentation": "<p>Details about problems with dependent services, such as AWS WAF or AWS Config, that are\n      causing a resource to be noncompliant. The details include the name of the dependent service\n      and the error message received that indicates the problem with the service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether the account is compliant with the specified policy. An account is\n      considered noncompliant if it includes resources that are not protected by the policy, for AWS\n      WAF and Shield Advanced policies, or that are noncompliant with the policy, for security group\n      policies.</p>"
      }
    },
    "com.amazonaws.fms#PolicyComplianceStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#PolicyComplianceStatus"
      }
    },
    "com.amazonaws.fms#PolicyComplianceStatusType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COMPLIANT",
            "name": "Compliant"
          },
          {
            "value": "NON_COMPLIANT",
            "name": "NonCompliant"
          }
        ]
      }
    },
    "com.amazonaws.fms#PolicyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[a-z0-9A-Z-]{36}$"
      }
    },
    "com.amazonaws.fms#PolicySummary": {
      "type": "structure",
      "members": {
        "PolicyArn": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the specified policy.</p>"
          }
        },
        "PolicyId": {
          "target": "com.amazonaws.fms#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the specified policy.</p>"
          }
        },
        "PolicyName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the specified policy.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.fms#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource protected by or in scope of the policy. This is in the format shown\n        in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">AWS Resource Types Reference</a>. \n            For AWS WAF and Shield Advanced, examples include\n        <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code> and\n        <code>AWS::CloudFront::Distribution</code>. For a security group common policy, valid values\n      are <code>AWS::EC2::NetworkInterface</code> and <code>AWS::EC2::Instance</code>. For a\n      security group content audit policy, valid values are <code>AWS::EC2::SecurityGroup</code>,\n        <code>AWS::EC2::NetworkInterface</code>, and <code>AWS::EC2::Instance</code>. For a security\n      group usage audit policy, the value is <code>AWS::EC2::SecurityGroup</code>. For an AWS Network Firewall policy,\n          the value is <code>AWS::EC2::VPC</code>.</p>"
          }
        },
        "SecurityServiceType": {
          "target": "com.amazonaws.fms#SecurityServiceType",
          "traits": {
            "smithy.api#documentation": "<p>The service that the policy is using to protect the resources. This specifies the type of\n      policy that is created, either an AWS WAF policy, a Shield Advanced policy, or a security\n      group policy.</p>"
          }
        },
        "RemediationEnabled": {
          "target": "com.amazonaws.fms#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the policy should be automatically applied to new resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the AWS Firewall Manager policy. </p>"
      }
    },
    "com.amazonaws.fms#PolicySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#PolicySummary"
      }
    },
    "com.amazonaws.fms#PolicyUpdateToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.fms#PreviousAppsList": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.fms#PreviousListVersion"
      },
      "value": {
        "target": "com.amazonaws.fms#AppsList"
      }
    },
    "com.amazonaws.fms#PreviousListVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        },
        "smithy.api#pattern": "^\\d{1,2}$"
      }
    },
    "com.amazonaws.fms#PreviousProtocolsList": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.fms#PreviousListVersion"
      },
      "value": {
        "target": "com.amazonaws.fms#ProtocolsList"
      }
    },
    "com.amazonaws.fms#ProtectionData": {
      "type": "string"
    },
    "com.amazonaws.fms#Protocol": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.fms#ProtocolsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#Protocol"
      }
    },
    "com.amazonaws.fms#ProtocolsListData": {
      "type": "structure",
      "members": {
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Firewall Manager protocols list.</p>"
          }
        },
        "ListName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS Firewall Manager protocols list.</p>",
            "smithy.api#required": {}
          }
        },
        "ListUpdateToken": {
          "target": "com.amazonaws.fms#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for each update to the list. When you update \n        the list, the update token must match the token of the current version of the application list. \n        You can retrieve the update token by getting the list. </p>"
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.fms#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the AWS Firewall Manager protocols list was created.</p>"
          }
        },
        "LastUpdateTime": {
          "target": "com.amazonaws.fms#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the AWS Firewall Manager protocols list was last updated.</p>"
          }
        },
        "ProtocolsList": {
          "target": "com.amazonaws.fms#ProtocolsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of protocols in the AWS Firewall Manager protocols list.</p>",
            "smithy.api#required": {}
          }
        },
        "PreviousProtocolsList": {
          "target": "com.amazonaws.fms#PreviousProtocolsList",
          "traits": {
            "smithy.api#documentation": "<p>A map of previous version numbers to their corresponding protocol arrays.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Firewall Manager protocols list.</p>"
      }
    },
    "com.amazonaws.fms#ProtocolsListDataSummary": {
      "type": "structure",
      "members": {
        "ListArn": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the specified protocols list.</p>"
          }
        },
        "ListId": {
          "target": "com.amazonaws.fms#ListId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the specified protocols list.</p>"
          }
        },
        "ListName": {
          "target": "com.amazonaws.fms#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the specified protocols list.</p>"
          }
        },
        "ProtocolsList": {
          "target": "com.amazonaws.fms#ProtocolsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of protocols in the AWS Firewall Manager protocols list.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the AWS Firewall Manager protocols list.</p>"
      }
    },
    "com.amazonaws.fms#ProtocolsListsData": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fms#ProtocolsListDataSummary"
      }
    },
    "com.amazonaws.fms#PutAppsList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#PutAppsListRequest"
      },
      "output": {
        "target": "com.amazonaws.fms#PutAppsListResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidInputException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.fms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.fms#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS Firewall Manager applications list.</p>"
      }
    },
    "com.amazonaws.fms#PutAppsListRequest": {
      "type": "structure",
      "members": {
        "AppsList": {
          "target": "com.amazonaws.fms#AppsListData",
          "traits": {
            "smithy.api#documentation": "<p>The details of the AWS Firewall Manager applications list to be created.</p>",
            "smithy.api#required": {}
          }
        },
        "TagList": {
          "target": "com.amazonaws.fms#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#PutAppsListResponse": {
      "type": "structure",
      "members": {
        "AppsList": {
          "target": "com.amazonaws.fms#AppsListData",
          "traits": {
            "smithy.api#documentation": "<p>The details of the AWS Firewall Manager applications list.</p>"
          }
        },
        "AppsListArn": {
          "target": "com.amazonaws.fms#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the applications list.</p>"
          }
        }
      }
    },
    "com.amazonaws.fms#PutNotificationChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fms#PutNotificationChannelRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.fms#InternalErrorException"
        },
        {
          "target": "com.amazonaws.fms#InvalidOperationException"
        },
[...]
