{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.forecast#AmazonForecast": {
      "type": "service",
      "version": "2018-06-26",
      "operations": [
        {
          "target": "com.amazonaws.forecast#CreateDataset"
        },
        {
          "target": "com.amazonaws.forecast#CreateDatasetGroup"
        },
        {
          "target": "com.amazonaws.forecast#CreateDatasetImportJob"
        },
        {
          "target": "com.amazonaws.forecast#CreateForecast"
        },
        {
          "target": "com.amazonaws.forecast#CreateForecastExportJob"
        },
        {
          "target": "com.amazonaws.forecast#CreatePredictor"
        },
        {
          "target": "com.amazonaws.forecast#CreatePredictorBacktestExportJob"
        },
        {
          "target": "com.amazonaws.forecast#DeleteDataset"
        },
        {
          "target": "com.amazonaws.forecast#DeleteDatasetGroup"
        },
        {
          "target": "com.amazonaws.forecast#DeleteDatasetImportJob"
        },
        {
          "target": "com.amazonaws.forecast#DeleteForecast"
        },
        {
          "target": "com.amazonaws.forecast#DeleteForecastExportJob"
        },
        {
          "target": "com.amazonaws.forecast#DeletePredictor"
        },
        {
          "target": "com.amazonaws.forecast#DeletePredictorBacktestExportJob"
        },
        {
          "target": "com.amazonaws.forecast#DeleteResourceTree"
        },
        {
          "target": "com.amazonaws.forecast#DescribeDataset"
        },
        {
          "target": "com.amazonaws.forecast#DescribeDatasetGroup"
        },
        {
          "target": "com.amazonaws.forecast#DescribeDatasetImportJob"
        },
        {
          "target": "com.amazonaws.forecast#DescribeForecast"
        },
        {
          "target": "com.amazonaws.forecast#DescribeForecastExportJob"
        },
        {
          "target": "com.amazonaws.forecast#DescribePredictor"
        },
        {
          "target": "com.amazonaws.forecast#DescribePredictorBacktestExportJob"
        },
        {
          "target": "com.amazonaws.forecast#GetAccuracyMetrics"
        },
        {
          "target": "com.amazonaws.forecast#ListDatasetGroups"
        },
        {
          "target": "com.amazonaws.forecast#ListDatasetImportJobs"
        },
        {
          "target": "com.amazonaws.forecast#ListDatasets"
        },
        {
          "target": "com.amazonaws.forecast#ListForecastExportJobs"
        },
        {
          "target": "com.amazonaws.forecast#ListForecasts"
        },
        {
          "target": "com.amazonaws.forecast#ListPredictorBacktestExportJobs"
        },
        {
          "target": "com.amazonaws.forecast#ListPredictors"
        },
        {
          "target": "com.amazonaws.forecast#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.forecast#StopResource"
        },
        {
          "target": "com.amazonaws.forecast#TagResource"
        },
        {
          "target": "com.amazonaws.forecast#UntagResource"
        },
        {
          "target": "com.amazonaws.forecast#UpdateDatasetGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "forecast",
          "arnNamespace": "forecast",
          "cloudFormationName": "Forecast",
          "cloudTrailEventSource": "forecast.amazonaws.com",
          "endpointPrefix": "forecast"
        },
        "aws.auth#sigv4": {
          "name": "forecast"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Provides APIs for creating and managing Amazon Forecast resources.</p>",
        "smithy.api#title": "Amazon Forecast Service"
      }
    },
    "com.amazonaws.forecast#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.\\/\\:]+$"
      }
    },
    "com.amazonaws.forecast#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#Arn"
      }
    },
    "com.amazonaws.forecast#AttributeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "string",
            "name": "STRING"
          },
          {
            "value": "integer",
            "name": "INTEGER"
          },
          {
            "value": "float",
            "name": "FLOAT"
          },
          {
            "value": "timestamp",
            "name": "TIMESTAMP"
          },
          {
            "value": "geolocation",
            "name": "GEOLOCATION"
          }
        ]
      }
    },
    "com.amazonaws.forecast#AutoMLOverrideStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LatencyOptimized",
            "name": "LatencyOptimized"
          }
        ]
      }
    },
    "com.amazonaws.forecast#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.forecast#CategoricalParameterRange": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the categorical hyperparameter to tune.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.forecast#Values",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tunable categories for the hyperparameter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a categorical hyperparameter and it's range of tunable values.\n      This object is part of the <a>ParameterRanges</a> object.</p>"
      }
    },
    "com.amazonaws.forecast#CategoricalParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#CategoricalParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.forecast#ContinuousParameterRange": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hyperparameter to tune.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxValue": {
          "target": "com.amazonaws.forecast#Double",
          "traits": {
            "smithy.api#documentation": "<p>The maximum tunable value of the hyperparameter.</p>",
            "smithy.api#required": {}
          }
        },
        "MinValue": {
          "target": "com.amazonaws.forecast#Double",
          "traits": {
            "smithy.api#documentation": "<p>The minimum tunable value of the hyperparameter.</p>",
            "smithy.api#required": {}
          }
        },
        "ScalingType": {
          "target": "com.amazonaws.forecast#ScalingType",
          "traits": {
            "smithy.api#documentation": "<p>The scale that hyperparameter tuning uses to search the hyperparameter range.\n      Valid values:</p>\n         <dl>\n            <dt>Auto</dt>\n            <dd>\n               <p>Amazon Forecast hyperparameter tuning chooses the best scale for the hyperparameter.</p>\n            </dd>\n            <dt>Linear</dt>\n            <dd>\n               <p>Hyperparameter tuning searches the values in the hyperparameter range by using a\n            linear scale.</p>\n            </dd>\n            <dt>Logarithmic</dt>\n            <dd>\n               <p>Hyperparameter tuning searches the values in the hyperparameter range by using a\n            logarithmic scale.</p>\n               <p>Logarithmic scaling works only for ranges that have values greater than 0.</p>\n            </dd>\n            <dt>ReverseLogarithmic</dt>\n            <dd>\n               <p>hyperparameter tuning searches the values in the hyperparameter range by using a\n            reverse logarithmic scale.</p>\n               <p>Reverse logarithmic scaling works only for ranges that are entirely within the\n            range 0 <= x < 1.0.</p>\n            </dd>\n         </dl>\n         <p>For information about choosing a hyperparameter scale, see\n      <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/automatic-model-tuning-define-ranges.html#scaling-type\">Hyperparameter Scaling</a>.\n      One of the following values:</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a continuous hyperparameter and it's range of tunable values.\n      This object is part of the <a>ParameterRanges</a> object.</p>"
      }
    },
    "com.amazonaws.forecast#ContinuousParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#ContinuousParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.forecast#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Forecast dataset. The information about the dataset that you provide helps\n      Forecast understand how to consume the data for model training. This includes the\n      following:</p>\n         <ul>\n            <li>\n               <p>\n                  <i>\n                     <code>DataFrequency</code>\n                  </i> - How frequently your historical\n          time-series data is collected.</p>\n            </li>\n            <li>\n               <p>\n                  <i>\n                     <code>Domain</code>\n                  </i> and\n            <i>\n                     <code>DatasetType</code>\n                  </i> - Each dataset has an associated dataset\n          domain and a type within the domain. Amazon Forecast provides a list of predefined domains and\n          types within each domain. For each unique dataset domain and type within the domain,\n          Amazon Forecast requires your data to include a minimum set of predefined fields.</p>\n            </li>\n            <li>\n               <p>\n                  <i>\n                     <code>Schema</code>\n                  </i> - A schema specifies the fields in the dataset,\n          including the field name and data type.</p>\n            </li>\n         </ul>\n         <p>After creating a dataset, you import your training data into it and add the dataset to a\n      dataset group. You use the dataset group to create a predictor. For more information, see\n        <a>howitworks-datasets-groups</a>.</p>\n         <p>To get a list of all your datasets, use the <a>ListDatasets</a>\n      operation.</p>\n         <p>For example Forecast datasets, see the <a href=\"https://github.com/aws-samples/amazon-forecast-samples\">Amazon Forecast Sample GitHub\n        repository</a>.</p>\n         <note>\n            <p>The <code>Status</code> of a dataset must be <code>ACTIVE</code> before you can import\n        training data. Use the <a>DescribeDataset</a> operation to get the status.</p>\n         </note>"
      }
    },
    "com.amazonaws.forecast#CreateDatasetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreateDatasetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreateDatasetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a dataset group, which holds a collection of related datasets. You can add\n      datasets to the dataset group when you create the dataset group, or later by using the <a>UpdateDatasetGroup</a> operation.</p>\n         <p>After creating a dataset group and adding datasets, you use the dataset group when you\n      create a predictor. For more information, see <a>howitworks-datasets-groups</a>.</p>\n         <p>To get a list of all your datasets groups, use the <a>ListDatasetGroups</a>\n      operation.</p>\n         <note>\n            <p>The <code>Status</code> of a dataset group must be <code>ACTIVE</code> before you can\n        use the dataset group to create a predictor. To get the status, use the <a>DescribeDatasetGroup</a> operation.</p>\n         </note>"
      }
    },
    "com.amazonaws.forecast#CreateDatasetGroupRequest": {
      "type": "structure",
      "members": {
        "DatasetGroupName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the dataset group.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.forecast#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain associated with the dataset group. When you add a dataset to a dataset group,\n      this value and the value specified for the <code>Domain</code> parameter of the <a>CreateDataset</a> operation must match.</p>\n         <p>The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields\n      that must be present in training data that you import to a dataset. For example, if you choose\n      the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the\n        <code>DatasetType</code>, Amazon Forecast requires that <code>item_id</code>,\n        <code>timestamp</code>, and <code>demand</code> fields are present in your data. For more\n      information, see <a>howitworks-datasets-groups</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DatasetArns": {
          "target": "com.amazonaws.forecast#ArnList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Resource Names (ARNs) of the datasets that you want to include in the\n      dataset group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the dataset group to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has <code>aws</code> as its prefix but the key does not, then Forecast considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of <code>aws</code> do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDatasetGroupResponse": {
      "type": "structure",
      "members": {
        "DatasetGroupArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDatasetImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreateDatasetImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreateDatasetImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Imports your training data to an Amazon Forecast dataset. You provide the location of your\n      training data in an Amazon Simple Storage Service (Amazon S3) bucket and the Amazon Resource Name (ARN) of the dataset\n      that you want to import the data to.</p>\n         <p>You must specify a <a>DataSource</a> object that includes an AWS Identity and Access Management (IAM)\n      role that Amazon Forecast can assume to access the data, as Amazon Forecast makes a copy of your data and\n      processes it in an internal AWS system. For more information, see <a>aws-forecast-iam-roles</a>.</p>\n         <p>The training data must be in CSV format. The delimiter must be a comma (,).</p>\n         <p>You can specify the path to a specific CSV file, the S3 bucket, or to a folder in the S3\n      bucket. For the latter two cases, Amazon Forecast imports all files up to the limit of 10,000\n      files.</p>\n\n\n         <p>Because dataset imports are not aggregated, your most recent dataset import is the one\n      that is used when training a predictor or generating a forecast. Make sure that your most\n      recent dataset import contains all of the data you want to model off of, and not just the new\n      data collected since the previous import.</p>\n\n\n         <p>To get a list of all your dataset import jobs, filtered by specified criteria, use the\n        <a>ListDatasetImportJobs</a> operation.</p>"
      }
    },
    "com.amazonaws.forecast#CreateDatasetImportJobRequest": {
      "type": "structure",
      "members": {
        "DatasetImportJobName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the dataset import job. We recommend including the current timestamp in the\n      name, for example, <code>20190721DatasetImport</code>. This can help you avoid getting a\n        <code>ResourceAlreadyExistsException</code> exception.</p>",
            "smithy.api#required": {}
          }
        },
        "DatasetArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Forecast dataset that you want to import data\n      to.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSource": {
          "target": "com.amazonaws.forecast#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The location of the training data to import and an AWS Identity and Access Management (IAM) role that Amazon Forecast\n      can assume to access the data. The training data must be stored in an Amazon S3 bucket.</p>\n         <p>If encryption is used, <code>DataSource</code> must include an AWS Key Management Service (KMS) key and the\n      IAM role must allow Amazon Forecast permission to access the key. The KMS key and IAM role must\n      match those specified in the <code>EncryptionConfig</code> parameter of the <a>CreateDataset</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "TimestampFormat": {
          "target": "com.amazonaws.forecast#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of timestamps in the dataset. The format that you specify depends on the\n        <code>DataFrequency</code> specified when the dataset was created. The following formats are\n      supported</p>\n         <ul>\n            <li>\n               <p>\"yyyy-MM-dd\"</p>\n               <p>For the following data frequencies: Y, M, W, and D</p>\n            </li>\n            <li>\n               <p>\"yyyy-MM-dd HH:mm:ss\"</p>\n               <p>For the following data frequencies: H, 30min, 15min, and 1min; and optionally, for: Y,\n          M, W, and D</p>\n            </li>\n         </ul>\n         <p>If the format isn't specified, Amazon Forecast expects the format to be \"yyyy-MM-dd\n      HH:mm:ss\".</p>"
          }
        },
        "TimeZone": {
          "target": "com.amazonaws.forecast#TimeZone",
          "traits": {
            "smithy.api#documentation": "<p>A single time zone for every item in your dataset. This option is ideal for datasets\n            with all timestamps within a single time zone, or if all timestamps are normalized to a\n            single time zone. </p>\n        <p>Refer to the <a href=\"http://joda-time.sourceforge.net/timezones.html\">Joda-Time\n                API</a> for a complete list of valid time zone names.</p>"
          }
        },
        "UseGeolocationForTimeZone": {
          "target": "com.amazonaws.forecast#UseGeolocationForTimeZone",
          "traits": {
            "smithy.api#documentation": "<p>Automatically derive time zone information from the geolocation attribute. This option\n            is ideal for datasets that contain timestamps in multiple time zones and those\n            timestamps are expressed in local time.</p>"
          }
        },
        "GeolocationFormat": {
          "target": "com.amazonaws.forecast#GeolocationFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the geolocation attribute. The geolocation attribute can be formatted in\n            one of two ways:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>LAT_LONG</code> - the latitude and longitude in decimal format (Example: 47.61_-122.33).</p>\n            </li>\n            <li>\n                <p>\n                  <code>CC_POSTALCODE</code> (US Only) - the country code (US), followed by the 5-digit ZIP code (Example: US_98121).</p>\n            </li>\n         </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the dataset import job to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has <code>aws</code> as its prefix but the key does not, then Forecast considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of <code>aws</code> do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDatasetImportJobResponse": {
      "type": "structure",
      "members": {
        "DatasetImportJobArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.forecast#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain associated with the dataset. When you add a dataset to a dataset group, this\n      value and the value specified for the <code>Domain</code> parameter of the <a>CreateDatasetGroup</a> operation must match.</p>\n         <p>The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields\n      that must be present in the training data that you import to the dataset. For example, if you\n      choose the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the\n        <code>DatasetType</code>, Amazon Forecast requires <code>item_id</code>, <code>timestamp</code>,\n      and <code>demand</code> fields to be present in your data. For more information, see <a>howitworks-datasets-groups</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.forecast#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The dataset type. Valid values depend on the chosen <code>Domain</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DataFrequency": {
          "target": "com.amazonaws.forecast#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The frequency of data collection. This parameter is required for RELATED_TIME_SERIES\n      datasets.</p>\n         <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes),\n      15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example,\n      \"D\" indicates every day and \"15min\" indicates every 15 minutes.</p>"
          }
        },
        "Schema": {
          "target": "com.amazonaws.forecast#Schema",
          "traits": {
            "smithy.api#documentation": "<p>The schema for the dataset. The schema attributes and their order must match the fields in\n      your data. The dataset <code>Domain</code> and <code>DatasetType</code> that you choose\n      determine the minimum required fields in your training data. For information about the\n      required fields for a specific dataset domain and type, see <a>howitworks-domains-ds-types</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionConfig": {
          "target": "com.amazonaws.forecast#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access\n      the key.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the dataset to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has <code>aws</code> as its prefix but the key does not, then Forecast considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of <code>aws</code> do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "DatasetArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateForecast": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreateForecastRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreateForecastResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a forecast for each item in the <code>TARGET_TIME_SERIES</code> dataset that was\n      used to train the predictor. This is known as inference. To retrieve the forecast for a single\n      item at low latency, use the  operation. To\n      export the complete forecast into your Amazon Simple Storage Service (Amazon S3) bucket, use the <a>CreateForecastExportJob</a> operation.</p>\n         <p>The range of the forecast is determined by the <code>ForecastHorizon</code> value, which\n      you specify in the <a>CreatePredictor</a> request. When you query a forecast, you\n      can request a specific date range within the forecast.</p>\n         <p>To get a list of all your forecasts, use the <a>ListForecasts</a>\n      operation.</p>\n         <note>\n            <p>The forecasts generated by Amazon Forecast are in the same time zone as the dataset that was\n        used to create the predictor.</p>\n         </note>\n         <p>For more information, see <a>howitworks-forecast</a>.</p>\n         <note>\n            <p>The <code>Status</code> of the forecast must be <code>ACTIVE</code> before you can query\n        or export the forecast. Use the <a>DescribeForecast</a> operation to get the\n        status.</p>\n         </note>"
      }
    },
    "com.amazonaws.forecast#CreateForecastExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreateForecastExportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreateForecastExportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports a forecast created by the <a>CreateForecast</a> operation to your\n      Amazon Simple Storage Service (Amazon S3) bucket. The forecast file name will match the following conventions:</p>\n         <p><ForecastExportJobName>_<ExportTimestamp>_<PartNumber></p>\n         <p>where the <ExportTimestamp> component is in Java SimpleDateFormat\n      (yyyy-MM-ddTHH-mm-ssZ).</p>\n         <p>You must specify a <a>DataDestination</a> object that includes an AWS Identity and Access Management\n      (IAM) role that Amazon Forecast can assume to access the Amazon S3 bucket. For more information, see\n        <a>aws-forecast-iam-roles</a>.</p>\n         <p>For more information, see <a>howitworks-forecast</a>.</p>\n         <p>To get a list of all your forecast export jobs, use the <a>ListForecastExportJobs</a> operation.</p>\n         <note>\n            <p>The <code>Status</code> of the forecast export job must be <code>ACTIVE</code> before\n        you can access the forecast in your Amazon S3 bucket. To get the status, use the <a>DescribeForecastExportJob</a> operation.</p>\n         </note>"
      }
    },
    "com.amazonaws.forecast#CreateForecastExportJobRequest": {
      "type": "structure",
      "members": {
        "ForecastExportJobName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the forecast export job.</p>",
            "smithy.api#required": {}
          }
        },
        "ForecastArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the forecast that you want to export.</p>",
            "smithy.api#required": {}
          }
        },
        "Destination": {
          "target": "com.amazonaws.forecast#DataDestination",
          "traits": {
            "smithy.api#documentation": "<p>The location where you want to save the forecast and an AWS Identity and Access Management (IAM) role that\n      Amazon Forecast can assume to access the location. The forecast must be exported to an Amazon S3\n      bucket.</p>\n         <p>If encryption is used, <code>Destination</code> must include an AWS Key Management Service (KMS) key. The\n      IAM role must allow Amazon Forecast permission to access the key.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the forecast export job to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has <code>aws</code> as its prefix but the key does not, then Forecast considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of <code>aws</code> do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateForecastExportJobResponse": {
      "type": "structure",
      "members": {
        "ForecastExportJobArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the export job.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateForecastRequest": {
      "type": "structure",
      "members": {
        "ForecastName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the forecast.</p>",
            "smithy.api#required": {}
          }
        },
        "PredictorArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the predictor to use to generate the forecast.</p>",
            "smithy.api#required": {}
          }
        },
        "ForecastTypes": {
          "target": "com.amazonaws.forecast#ForecastTypes",
          "traits": {
            "smithy.api#documentation": "<p>The quantiles at which probabilistic forecasts are generated. <b>You\n        can currently specify up to 5 quantiles per forecast</b>. Accepted values include\n        <code>0.01 to 0.99</code> (increments of .01 only) and <code>mean</code>. The mean forecast\n      is different from the median (0.50) when the distribution is not symmetric (for example, Beta\n      and Negative Binomial). The default value is <code>[\"0.1\", \"0.5\", \"0.9\"]</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the forecast to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has <code>aws</code> as its prefix but the key does not, then Forecast considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of <code>aws</code> do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateForecastResponse": {
      "type": "structure",
      "members": {
        "ForecastArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the forecast.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreatePredictor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreatePredictorRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreatePredictorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Forecast predictor.</p>\n         <p>In the request, provide a dataset group and either specify an algorithm or let\n      Amazon Forecast choose an algorithm for you using AutoML. If you specify an algorithm, you also can\n      override algorithm-specific hyperparameters.</p>\n         <p>Amazon Forecast uses the algorithm to train a predictor using the latest version of the\n      datasets in the specified dataset group. You can then generate a\n      forecast using the <a>CreateForecast</a> operation.</p>\n         <p>\n      To see the evaluation metrics, use the <a>GetAccuracyMetrics</a> operation.\n    </p>\n         <p>You can specify a featurization configuration to fill and aggregate the data\n      fields in the <code>TARGET_TIME_SERIES</code> dataset to improve model training. For more\n      information, see <a>FeaturizationConfig</a>.</p>\n         <p>For RELATED_TIME_SERIES datasets, <code>CreatePredictor</code> verifies that the\n        <code>DataFrequency</code> specified when the dataset was created matches the\n        <code>ForecastFrequency</code>. TARGET_TIME_SERIES datasets don't have this restriction.\n      Amazon Forecast also verifies the delimiter and timestamp format. For more information, see <a>howitworks-datasets-groups</a>.</p>\n         <p>By default, predictors are trained and evaluated at the 0.1 (P10), 0.5 (P50), and 0.9\n      (P90) quantiles. You can choose custom forecast types to train and evaluate your predictor\n      by setting the <code>ForecastTypes</code>.\n    </p>\n         <p>\n            <b>AutoML</b>\n         </p>\n         <p>If you want Amazon Forecast to evaluate each algorithm and choose the one that minimizes the\n        <code>objective function</code>, set <code>PerformAutoML</code> to <code>true</code>. The\n        <code>objective function</code> is defined as the mean of the weighted losses over the\n      forecast types. By default, these are the p10, p50, and p90\n      quantile losses. For more information, see <a>EvaluationResult</a>.</p>\n         <p>When AutoML is enabled, the following properties are disallowed:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AlgorithmArn</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>HPOConfig</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>PerformHPO</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>TrainingParameters</code>\n               </p>\n            </li>\n         </ul>\n\n      \n\n         <p>To get a list of all of your predictors, use the <a>ListPredictors</a>\n      operation.</p>\n         <note>\n            <p>Before you can use the predictor to create a forecast, the <code>Status</code> of the\n        predictor must be <code>ACTIVE</code>, signifying that training has completed. To get the\n        status, use the <a>DescribePredictor</a> operation.</p>\n         </note>"
      }
    },
    "com.amazonaws.forecast#CreatePredictorBacktestExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreatePredictorBacktestExportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreatePredictorBacktestExportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports backtest forecasts and accuracy metrics generated by the <a>CreatePredictor</a> operation. Two folders containing CSV files are exported\n            to your specified S3 bucket.</p>\n        <p> The export file names will match the following conventions:</p>\n        <p>\n            <code><ExportJobName>_<ExportTimestamp>_<PartNumber>.csv</code>\n         </p>\n        <p>The <ExportTimestamp> component is in Java SimpleDate format\n            (yyyy-MM-ddTHH-mm-ssZ).</p>\n        <p>You must specify a <a>DataDestination</a> object that includes an Amazon S3\n            bucket and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the Amazon S3\n            bucket. For more information, see <a>aws-forecast-iam-roles</a>.</p>\n        <note>\n            <p>The <code>Status</code> of the export job must be <code>ACTIVE</code> before\n                you can access the export in your Amazon S3 bucket. To get the status, use the <a>DescribePredictorBacktestExportJob</a> operation.</p>\n        </note>"
      }
    },
    "com.amazonaws.forecast#CreatePredictorBacktestExportJobRequest": {
      "type": "structure",
      "members": {
        "PredictorBacktestExportJobName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the backtest export job.</p>",
            "smithy.api#required": {}
          }
        },
        "PredictorArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the predictor that you want to export.</p>",
            "smithy.api#required": {}
          }
        },
        "Destination": {
          "target": "com.amazonaws.forecast#DataDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata to help you categorize and organize your backtests. Each tag consists\n            of a key and an optional value, both of which you define. Tag keys and values are case\n            sensitive.</p>\n        <p>The following restrictions apply to tags:</p>\n        <ul>\n            <li>\n                <p>For each resource, each tag key must be unique and each tag key must have one\n                    value.</p>\n            </li>\n            <li>\n                <p>Maximum number of tags per resource: 50.</p>\n            </li>\n            <li>\n                <p>Maximum key length: 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n                <p>Maximum value length: 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n                <p>Accepted characters: all letters and numbers, spaces representable in UTF-8, and +\n                    - = . _ : / @. If your tagging schema is used across other services and resources,\n                    the character restrictions of those services also apply. </p>\n            </li>\n            <li>\n                <p>Key prefixes cannot include any upper or lowercase combination of\n                    <code>aws:</code> or <code>AWS:</code>. Values can have this prefix. If a tag\n                    value has <code>aws</code> as its prefix but the key does not, Forecast considers it\n                    to be a user tag and will count against the limit of 50 tags. Tags with only the key\n                    prefix of <code>aws</code> do not count against your tags per resource limit. You\n                    cannot edit or delete tag keys with this prefix.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreatePredictorBacktestExportJobResponse": {
      "type": "structure",
      "members": {
        "PredictorBacktestExportJobArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the predictor backtest export job that you want to\n            export.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreatePredictorRequest": {
      "type": "structure",
      "members": {
        "PredictorName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the predictor.</p>",
            "smithy.api#required": {}
          }
        },
        "AlgorithmArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the algorithm to use for model training. Required if\n        <code>PerformAutoML</code> is not set to <code>true</code>.</p>\n         <p class=\"title\">\n            <b>Supported algorithms:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>arn:aws:forecast:::algorithm/ARIMA</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:forecast:::algorithm/CNN-QR</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:forecast:::algorithm/Deep_AR_Plus</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:forecast:::algorithm/ETS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:forecast:::algorithm/NPTS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:forecast:::algorithm/Prophet</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "ForecastHorizon": {
          "target": "com.amazonaws.forecast#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of time-steps that the model is trained to predict. The forecast\n      horizon is also called the prediction length.</p>\n         <p>For example, if you configure a dataset for daily data collection (using the\n        <code>DataFrequency</code> parameter of the <a>CreateDataset</a> operation) and\n      set the forecast horizon to 10, the model returns predictions for 10 days.</p>\n         <p>The maximum forecast horizon is the lesser of 500 time-steps or 1/3 of the\n      TARGET_TIME_SERIES dataset length.</p>",
            "smithy.api#required": {}
          }
        },
        "ForecastTypes": {
          "target": "com.amazonaws.forecast#ForecastTypes",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the forecast types used to train a predictor. You can specify up to five forecast types.\n      Forecast types can be quantiles from 0.01 to 0.99, by increments of 0.01 or higher. You can also specify \n      the mean forecast with <code>mean</code>.\n    </p>\n         <p>The default value is <code>[\"0.10\", \"0.50\", \"0.9\"]</code>.</p>"
          }
        },
        "PerformAutoML": {
          "target": "com.amazonaws.forecast#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to perform AutoML. When Amazon Forecast performs AutoML, it evaluates the algorithms it\n      provides and chooses the best algorithm and configuration for your training dataset.</p>\n         <p>The default value is <code>false</code>. In this case, you are required to specify an\n      algorithm.</p>\n         <p>Set <code>PerformAutoML</code> to <code>true</code> to have Amazon Forecast perform AutoML. This\n      is a good option if you aren't sure which algorithm is suitable for your training data. In\n      this case, <code>PerformHPO</code> must be false.</p>"
          }
        },
        "AutoMLOverrideStrategy": {
          "target": "com.amazonaws.forecast#AutoMLOverrideStrategy",
          "traits": {
            "smithy.api#documentation": "<note>\n            <p> The <code>LatencyOptimized</code> AutoML override strategy is only available in private beta.\n                Contact AWS Support or your account manager to learn more about access privileges.\n            </p>\n        </note>\n        <p>Used to overide the default AutoML strategy, which is to optimize predictor accuracy.\n            To apply an AutoML strategy that minimizes training time, use\n                <code>LatencyOptimized</code>.</p>\n        <p>This parameter is only valid for predictors trained using AutoML.</p>"
          }
        },
        "PerformHPO": {
          "target": "com.amazonaws.forecast#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to perform hyperparameter optimization (HPO). HPO finds optimal hyperparameter\n      values for your training data. The process of performing HPO is known as running a\n      hyperparameter tuning job.</p>\n         <p>The default value is <code>false</code>. In this case, Amazon Forecast uses default\n      hyperparameter values from the chosen algorithm.</p>\n         <p>To override the default values, set <code>PerformHPO</code> to <code>true</code> and,\n      optionally, supply the <a>HyperParameterTuningJobConfig</a> object. The tuning job\n      specifies a metric to optimize, which hyperparameters participate in tuning, and the valid\n      range for each tunable hyperparameter. In this case, you are required to specify an algorithm\n      and <code>PerformAutoML</code> must be false.</p>\n         <p>The following algorithms support HPO:</p>\n         <ul>\n            <li>\n               <p>DeepAR+</p>\n            </li>\n            <li>\n               <p>CNN-QR</p>\n            </li>\n         </ul>"
          }
        },
        "TrainingParameters": {
          "target": "com.amazonaws.forecast#TrainingParameters",
          "traits": {
            "smithy.api#documentation": "<p>The hyperparameters to override for model training. The hyperparameters that you can\n      override are listed in the individual algorithms. For the list of supported algorithms, see\n        <a>aws-forecast-choosing-recipes</a>.</p>"
          }
        },
        "EvaluationParameters": {
          "target": "com.amazonaws.forecast#EvaluationParameters",
          "traits": {
            "smithy.api#documentation": "<p>Used to override the default evaluation parameters of the specified algorithm. Amazon Forecast\n      evaluates a predictor by splitting a dataset into training data and testing data. The\n      evaluation parameters define how to perform the split and the number of iterations.</p>"
          }
        },
        "HPOConfig": {
          "target": "com.amazonaws.forecast#HyperParameterTuningJobConfig",
          "traits": {
            "smithy.api#documentation": "<p>Provides hyperparameter override values for the algorithm. If you don't provide this\n      parameter, Amazon Forecast uses default values. The individual algorithms specify which\n      hyperparameters support hyperparameter optimization (HPO). For more information, see <a>aws-forecast-choosing-recipes</a>.</p>\n         <p>If you included the <code>HPOConfig</code> object, you must set <code>PerformHPO</code> to\n      true.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.forecast#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Describes the dataset group that contains the data to use to train the predictor.</p>",
            "smithy.api#required": {}
          }
        },
        "FeaturizationConfig": {
          "target": "com.amazonaws.forecast#FeaturizationConfig",
          "traits": {
            "smithy.api#documentation": "<p>The featurization configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionConfig": {
          "target": "com.amazonaws.forecast#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access\n      the key.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the predictor to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has <code>aws</code> as its prefix but the key does not, then Forecast considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of <code>aws</code> do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        },
        "OptimizationMetric": {
          "target": "com.amazonaws.forecast#OptimizationMetric",
          "traits": {
            "smithy.api#documentation": "<p>The accuracy metric used to optimize the predictor.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreatePredictorResponse": {
      "type": "structure",
      "members": {
        "PredictorArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the predictor.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#DataDestination": {
      "type": "structure",
      "members": {
        "S3Config": {
          "target": "com.amazonaws.forecast#S3Config",
          "traits": {
            "smithy.api#documentation": "<p>The path to an Amazon Simple Storage Service (Amazon S3) bucket along with the credentials to access the\n      bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination for an export job. Provide an S3 path, an AWS Identity and Access Management (IAM) role that allows Amazon Forecast\n      to access the location, and an AWS Key Management Service (KMS) key (optional). </p>"
      }
    },
    "com.amazonaws.forecast#DataSource": {
      "type": "structure",
      "members": {
        "S3Config": {
          "target": "com.amazonaws.forecast#S3Config",
          "traits": {
            "smithy.api#documentation": "<p>The path to the training data stored in an Amazon Simple Storage Service (Amazon S3) bucket along with the\n      credentials to access the data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source of your training data, an AWS Identity and Access Management (IAM) role that allows Amazon Forecast to\n      access the data and, optionally, an AWS Key Management Service (KMS) key. This object is submitted in the\n      <a>CreateDatasetImportJob</a> request.</p>"
      }
    },
    "com.amazonaws.forecast#DatasetGroupSummary": {
      "type": "structure",
      "members": {
        "DatasetGroupArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>"
          }
        },
        "DatasetGroupName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset group.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.forecast#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the dataset group was created.</p>"
          }
        },
        "LastModificationTime": {
          "target": "com.amazonaws.forecast#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the dataset group was created or last updated from a call to the <a>UpdateDatasetGroup</a> operation. While the dataset group is being updated,\n        <code>LastModificationTime</code> is the current time of the <code>ListDatasetGroups</code>\n      call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the dataset group properties used in the <a>ListDatasetGroups</a> operation. To get the complete set of properties, call the\n        <a>DescribeDatasetGroup</a> operation, and provide the\n        <code>DatasetGroupArn</code>.</p>"
      }
    },
    "com.amazonaws.forecast#DatasetGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#DatasetGroupSummary"
      }
    },
    "com.amazonaws.forecast#DatasetImportJobSummary": {
      "type": "structure",
      "members": {
        "DatasetImportJobArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job.</p>"
          }
        },
        "DatasetImportJobName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset import job.</p>"
          }
        },
        "DataSource": {
          "target": "com.amazonaws.forecast#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The location of the training data to import and an AWS Identity and Access Management (IAM) role that Amazon Forecast\n      can assume to access the data. The training data must be stored in an Amazon S3 bucket.</p>\n         <p>If encryption is used, <code>DataSource</code> includes an AWS Key Management Service (KMS) key.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.forecast#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset import job. States include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>,\n            <code>CREATE_FAILED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>,\n            <code>DELETE_FAILED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_STOPPING</code>, <code>CREATE_STOPPED</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "Message": {
          "target": "com.amazonaws.forecast#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>If an error occurred, an informational message about the error.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.forecast#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the dataset import job was created.</p>"
          }
        },
        "LastModificationTime": {
          "target": "com.amazonaws.forecast#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time the resource was modified. The timestamp depends on the status of the\n      job:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATE_PENDING</code> - The <code>CreationTime</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_IN_PROGRESS</code> - The current timestamp.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_STOPPING</code> - The current timestamp.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_STOPPED</code> - When the job stopped.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVE</code> or <code>CREATE_FAILED</code> - When the job finished or\n          failed.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the dataset import job properties used in the <a>ListDatasetImportJobs</a> operation. To get the complete set of properties, call the\n        <a>DescribeDatasetImportJob</a> operation, and provide the\n        <code>DatasetImportJobArn</code>.</p>"
      }
    },
    "com.amazonaws.forecast#DatasetImportJobs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#DatasetImportJobSummary"
      }
    },
    "com.amazonaws.forecast#DatasetSummary": {
      "type": "structure",
      "members": {
        "DatasetArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        },
        "DatasetName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>"
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.forecast#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The dataset type.</p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.forecast#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain associated with the dataset.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.forecast#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the dataset was created.</p>"
          }
        },
        "LastModificationTime": {
          "target": "com.amazonaws.forecast#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When you create a dataset, <code>LastModificationTime</code> is the same as\n        <code>CreationTime</code>. While data is being imported to the dataset,\n        <code>LastModificationTime</code> is the current time of the <code>ListDatasets</code> call.\n      After a <a>CreateDatasetImportJob</a> operation has finished,\n        <code>LastModificationTime</code> is when the import job completed or failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the dataset properties used in the <a>ListDatasets</a>\n      operation. To get the complete set of properties, call the <a>DescribeDataset</a>\n      operation, and provide the <code>DatasetArn</code>.</p>"
      }
    },
    "com.amazonaws.forecast#DatasetType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TARGET_TIME_SERIES",
            "name": "TARGET_TIME_SERIES"
          },
          {
            "value": "RELATED_TIME_SERIES",
            "name": "RELATED_TIME_SERIES"
          },
          {
            "value": "ITEM_METADATA",
            "name": "ITEM_METADATA"
          }
        ]
      }
    },
    "com.amazonaws.forecast#Datasets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#DatasetSummary"
      }
    },
    "com.amazonaws.forecast#DeleteDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DeleteDatasetRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Forecast dataset that was created using the <a>CreateDataset</a>\n      operation. You can only delete datasets that have a status of <code>ACTIVE</code> or\n        <code>CREATE_FAILED</code>. To get the status use the <a>DescribeDataset</a>\n      operation.</p>\n         <note>\n            <p>Forecast does not automatically update any dataset groups that contain the deleted dataset.\n        In order to update the dataset group, use the \n        operation, omitting the deleted dataset's ARN.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DeleteDatasetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DeleteDatasetGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a dataset group created using the <a>CreateDatasetGroup</a> operation.\n      You can only delete dataset groups that have a status of <code>ACTIVE</code>,\n        <code>CREATE_FAILED</code>, or <code>UPDATE_FAILED</code>. To get the status, use the <a>DescribeDatasetGroup</a> operation.</p>\n         <p>This operation deletes only the dataset group, not the datasets in the group.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DeleteDatasetGroupRequest": {
      "type": "structure",
      "members": {
        "DatasetGroupArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DeleteDatasetImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DeleteDatasetImportJobRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a dataset import job created using the <a>CreateDatasetImportJob</a>\n      operation. You can delete only dataset import jobs that have a status of <code>ACTIVE</code>\n      or <code>CREATE_FAILED</code>. To get the status, use the <a>DescribeDatasetImportJob</a> operation.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DeleteDatasetImportJobRequest": {
      "type": "structure",
      "members": {
        "DatasetImportJobArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DeleteDatasetRequest": {
      "type": "structure",
      "members": {
        "DatasetArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DeleteForecast": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DeleteForecastRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a forecast created using the <a>CreateForecast</a> operation. You can\n      delete only forecasts that have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>.\n      To get the status, use the <a>DescribeForecast</a> operation.</p>\n         <p>You can't delete a forecast while it is being exported. After a forecast is deleted, you\n      can no longer query the forecast.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DeleteForecastExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DeleteForecastExportJobRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a forecast export job created using the <a>CreateForecastExportJob</a>\n      operation. You can delete only export jobs that have a status of <code>ACTIVE</code> or\n        <code>CREATE_FAILED</code>. To get the status, use the <a>DescribeForecastExportJob</a> operation.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DeleteForecastExportJobRequest": {
      "type": "structure",
      "members": {
        "ForecastExportJobArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the forecast export job to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DeleteForecastRequest": {
      "type": "structure",
      "members": {
        "ForecastArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the forecast to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DeletePredictor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DeletePredictorRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a predictor created using the <a>CreatePredictor</a> operation. You can\n      delete only predictor that have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>.\n      To get the status, use the <a>DescribePredictor</a> operation.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DeletePredictorBacktestExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DeletePredictorBacktestExportJobRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a predictor backtest export job.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DeletePredictorBacktestExportJobRequest": {
      "type": "structure",
      "members": {
        "PredictorBacktestExportJobArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the predictor backtest export job to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DeletePredictorRequest": {
      "type": "structure",
      "members": {
        "PredictorArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the predictor to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DeleteResourceTree": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DeleteResourceTreeRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an entire resource tree. This operation will delete the parent resource and\n            its child resources.</p>\n        <p>Child resources are resources that were created from another resource. For example,\n            when a forecast is generated from a predictor, the forecast is the child resource and\n            the predictor is the parent resource.</p>\n        <p>Amazon Forecast resources possess the following parent-child resource hierarchies:</p>\n\n        <ul>\n            <li>\n                <p>\n                  <b>Dataset</b>: dataset import jobs</p>\n            </li>\n            <li>\n                <p>\n                  <b>Dataset Group</b>: predictors, predictor backtest\n                    export jobs, forecasts, forecast export jobs</p>\n            </li>\n            <li>\n                <p>\n                  <b>Predictor</b>: predictor backtest export jobs,\n                    forecasts, forecast export jobs</p>\n            </li>\n            <li>\n                <p>\n                  <b>Forecast</b>: forecast export jobs</p>\n            </li>\n         </ul>\n        <note>\n            <p>\n               <code>DeleteResourceTree</code> will only delete Amazon Forecast resources, and will not\n                delete datasets or exported files stored in Amazon S3. </p>\n        </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DeleteResourceTreeRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the parent resource to delete. All child resources\n            of the parent resource will also be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DescribeDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DescribeDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#DescribeDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon Forecast dataset created using the <a>CreateDataset</a>\n      operation.</p>\n         <p>In addition to listing the parameters specified in the <code>CreateDataset</code> request,\n      this operation includes the following dataset properties:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CreationTime</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LastModificationTime</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DescribeDatasetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DescribeDatasetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#DescribeDatasetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a dataset group created using the <a>CreateDatasetGroup</a>\n      operation.</p>\n         <p>In addition to listing the parameters provided in the <code>CreateDatasetGroup</code>\n      request, this operation includes the following properties:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DatasetArns</code> - The datasets belonging to the group.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreationTime</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LastModificationTime</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DescribeDatasetGroupRequest": {
      "type": "structure",
      "members": {
        "DatasetGroupArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DescribeDatasetGroupResponse": {
      "type": "structure",
      "members": {
        "DatasetGroupName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset group.</p>"
          }
        },
        "DatasetGroupArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset group.</p>"
          }
        },
        "DatasetArns": {
          "target": "com.amazonaws.forecast#ArnList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Resource Names (ARNs) of the datasets contained in the dataset\n      group.</p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.forecast#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain associated with the dataset group.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.forecast#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset group. States include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>,\n            <code>CREATE_FAILED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>,\n            <code>DELETE_FAILED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>UPDATE_PENDING</code>, <code>UPDATE_IN_PROGRESS</code>,\n            <code>UPDATE_FAILED</code>\n               </p>\n            </li>\n         </ul>\n         <p>The <code>UPDATE</code> states apply when you call the <a>UpdateDatasetGroup</a> operation.</p>\n         <note>\n            <p>The <code>Status</code> of the dataset group must be <code>ACTIVE</code> before you can\n        use the dataset group to create a predictor.</p>\n         </note>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.forecast#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the dataset group was created.</p>"
          }
        },
        "LastModificationTime": {
          "target": "com.amazonaws.forecast#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the dataset group was created or last updated from a call to the <a>UpdateDatasetGroup</a> operation. While the dataset group is being updated,\n        <code>LastModificationTime</code> is the current time of the\n        <code>DescribeDatasetGroup</code> call.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#DescribeDatasetImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#DescribeDatasetImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#DescribeDatasetImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a dataset import job created using the <a>CreateDatasetImportJob</a>\n      operation.</p>\n         <p>In addition to listing the parameters provided in the <code>CreateDatasetImportJob</code>\n      request, this operation includes the following properties:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CreationTime</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LastModificationTime</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>DataSize</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>FieldStatistics</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Message</code> - If an error occurred, information about the error.</p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.forecast#DescribeDatasetImportJobRequest": {
      "type": "structure",
      "members": {
        "DatasetImportJobArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DescribeDatasetImportJobResponse": {
      "type": "structure",
      "members": {
        "DatasetImportJobName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset import job.</p>"
          }
        },
        "DatasetImportJobArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset import job.</p>"
          }
        },
        "DatasetArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset that the training data was imported\n      to.</p>"
          }
        },
        "TimestampFormat": {
          "target": "com.amazonaws.forecast#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of timestamps in the dataset. The format that you specify depends on the\n        <code>DataFrequency</code> specified when the dataset was created. The following formats are\n      supported</p>\n         <ul>\n            <li>\n               <p>\"yyyy-MM-dd\"</p>\n               <p>For the following data frequencies: Y, M, W, and D</p>\n            </li>\n            <li>\n               <p>\"yyyy-MM-dd HH:mm:ss\"</p>\n               <p>For the following data frequencies: H, 30min, 15min, and 1min; and optionally, for: Y,\n          M, W, and D</p>\n            </li>\n         </ul>"
          }
        },
        "TimeZone": {
          "target": "com.amazonaws.forecast#TimeZone",
          "traits": {
            "smithy.api#documentation": "<p>The single time zone applied to every item in the dataset</p>"
          }
        },
        "UseGeolocationForTimeZone": {
          "target": "com.amazonaws.forecast#UseGeolocationForTimeZone",
          "traits": {
            "smithy.api#documentation": "<p>Whether <code>TimeZone</code> is automatically derived from the geolocation\n            attribute.</p>"
          }
        },
        "GeolocationFormat": {
          "target": "com.amazonaws.forecast#GeolocationFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the geolocation attribute. Valid Values:<code>\"LAT_LONG\"</code> and\n                <code>\"CC_POSTALCODE\"</code>.</p>"
          }
        },
        "DataSource": {
          "target": "com.amazonaws.forecast#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The location of the training data to import and an AWS Identity and Access Management (IAM) role that Amazon Forecast\n      can assume to access the data.</p>\n         <p>If encryption is used, <code>DataSource</code> includes an AWS Key Management Service (KMS) key.</p>"
          }
        },
        "EstimatedTimeRemainingInMinutes": {
          "target": "com.amazonaws.forecast#Long",
          "traits": {
            "smithy.api#documentation": "<p>The estimated time remaining in minutes for the dataset import job to complete.</p>"
          }
        },
        "FieldStatistics": {
          "target": "com.amazonaws.forecast#FieldStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Statistical information about each field in the input data.</p>"
          }
        },
        "DataSize": {
          "target": "com.amazonaws.forecast#Double",
          "traits": {
            "smithy.api#documentation": "<p>The size of the dataset in gigabytes (GB) after the import job has finished.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.forecast#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset import job. States include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>,\n            <code>CREATE_FAILED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>,\n            <code>DELETE_FAILED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_STOPPING</code>, <code>CREATE_STOPPED</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "Message": {
          "target": "com.amazonaws.forecast#Message",
          "traits": {
            "smithy.api#documentation": "<p>If an error occurred, an informational message about the error.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.forecast#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the dataset import job was created.</p>"
          }
        },
        "LastModificationTime": {
          "target": "com.amazonaws.forecast#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time the resource was modified. The timestamp depends on the status of the\n      job:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATE_PENDING</code> - The <code>CreationTime</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_IN_PROGRESS</code> - The current timestamp.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_STOPPING</code> - The current timestamp.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_STOPPED</code> - When the job stopped.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVE</code> or <code>CREATE_FAILED</code> - When the job finished or\n          failed.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.forecast#DescribeDatasetRequest": {
      "type": "structure",
      "members": {
        "DatasetArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.forecast#DescribeDatasetResponse": {
      "type": "structure",
      "members": {
        "DatasetArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        },
        "DatasetName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.forecast#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain associated with the dataset.</p>"
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.forecast#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The dataset type.</p>"
          }
        },
        "DataFrequency": {
          "target": "com.amazonaws.forecast#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The frequency of data collection.</p>\n         <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes),\n      15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example,\n      \"M\" indicates every month and \"30min\" indicates every 30 minutes.</p>"
          }
        },
        "Schema": {
          "target": "com.amazonaws.forecast#Schema",
          "traits": {
[...]
