{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.forecast#Action": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The related time series that you are modifying. This value is case insensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "Operation": {
          "target": "com.amazonaws.forecast#Operation",
          "traits": {
            "smithy.api#documentation": "<p>The operation that is applied to the provided attribute. Operations include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ADD</code> - adds <code>Value</code> to all rows of <code>AttributeName</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUBTRACT</code> - subtracts <code>Value</code> from all rows of <code>AttributeName</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MULTIPLY</code> - multiplies all rows of <code>AttributeName</code> by <code>Value</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DIVIDE</code> - divides all rows of <code>AttributeName</code> by <code>Value</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.forecast#Double",
          "traits": {
            "smithy.api#documentation": "<p>The value that is applied for the chosen <code>Operation</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the modifications that you are making to an attribute for a what-if forecast. For example, you can use this operation to create a what-if forecast that investigates a 10% off sale on all shoes. To do this, you specify <code>\"AttributeName\": \"shoes\"</code>, <code>\"Operation\": \"MULTIPLY\"</code>, and <code>\"Value\": \"0.90\"</code>. Pair this operation with the <a>TimeSeriesCondition</a> operation within the <a>CreateWhatIfForecastRequest$TimeSeriesTransformations</a> operation to define a subset of attribute items that are modified.</p>"
      }
    },
    "com.amazonaws.forecast#AdditionalDataset": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the additional dataset. Valid names: <code>\"holiday\"</code> and\n                <code>\"weather\"</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.forecast#Configuration",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>Weather Index</b>\n        </p>\n        <p>To enable the Weather Index, do not specify a value for\n            <code>Configuration</code>.</p>\n        <p>\n            <b>Holidays</b>\n         </p>\n\n        <p>\n            <b>Holidays</b>\n        </p>\n        <p>To enable Holidays, set <code>CountryCode</code> to one of the following two-letter\n            country codes:</p>\n        <ul>\n            <li>\n                <p>\"AL\" - ALBANIA</p>\n            </li>\n            <li>\n                <p>\"AR\" - ARGENTINA</p>\n            </li>\n            <li>\n                <p>\"AT\" - AUSTRIA</p>\n            </li>\n            <li>\n                <p>\"AU\" - AUSTRALIA</p>\n            </li>\n            <li>\n                <p>\"BA\" - BOSNIA HERZEGOVINA</p>\n            </li>\n            <li>\n                <p>\"BE\" - BELGIUM</p>\n            </li>\n            <li>\n                <p>\"BG\" - BULGARIA</p>\n            </li>\n            <li>\n                <p>\"BO\" - BOLIVIA</p>\n            </li>\n            <li>\n                <p>\"BR\" - BRAZIL</p>\n            </li>\n            <li>\n                <p>\"BY\" - BELARUS</p>\n            </li>\n            <li>\n                <p>\"CA\" - CANADA</p>\n            </li>\n            <li>\n                <p>\"CL\" - CHILE</p>\n            </li>\n            <li>\n                <p>\"CO\" - COLOMBIA</p>\n            </li>\n            <li>\n                <p>\"CR\" - COSTA RICA</p>\n            </li>\n            <li>\n                <p>\"HR\" - CROATIA</p>\n            </li>\n            <li>\n                <p>\"CZ\" - CZECH REPUBLIC</p>\n            </li>\n            <li>\n                <p>\"DK\" - DENMARK</p>\n            </li>\n            <li>\n                <p>\"EC\" - ECUADOR</p>\n            </li>\n            <li>\n                <p>\"EE\" - ESTONIA</p>\n            </li>\n            <li>\n                <p>\"ET\" - ETHIOPIA</p>\n            </li>\n            <li>\n                <p>\"FI\" - FINLAND</p>\n            </li>\n            <li>\n                <p>\"FR\" - FRANCE</p>\n            </li>\n            <li>\n                <p>\"DE\" - GERMANY</p>\n            </li>\n            <li>\n                <p>\"GR\" - GREECE</p>\n            </li>\n            <li>\n                <p>\"HU\" - HUNGARY</p>\n            </li>\n            <li>\n                <p>\"IS\" - ICELAND</p>\n            </li>\n            <li>\n                <p>\"IN\" - INDIA</p>\n            </li>\n            <li>\n                <p>\"IE\" - IRELAND</p>\n            </li>\n            <li>\n                <p>\"IT\" - ITALY</p>\n            </li>\n            <li>\n                <p>\"JP\" - JAPAN</p>\n            </li>\n            <li>\n                <p>\"KZ\" - KAZAKHSTAN</p>\n            </li>\n            <li>\n                <p>\"KR\" - KOREA</p>\n            </li>\n            <li>\n                <p>\"LV\" - LATVIA</p>\n            </li>\n            <li>\n                <p>\"LI\" - LIECHTENSTEIN</p>\n            </li>\n            <li>\n                <p>\"LT\" - LITHUANIA</p>\n            </li>\n            <li>\n                <p>\"LU\" - LUXEMBOURG</p>\n            </li>\n            <li>\n                <p>\"MK\" - MACEDONIA</p>\n            </li>\n            <li>\n                <p>\"MT\" - MALTA</p>\n            </li>\n            <li>\n                <p>\"MX\" - MEXICO</p>\n            </li>\n            <li>\n                <p>\"MD\" - MOLDOVA</p>\n            </li>\n            <li>\n                <p>\"ME\" - MONTENEGRO</p>\n            </li>\n            <li>\n                <p>\"NL\" - NETHERLANDS</p>\n            </li>\n            <li>\n                <p>\"NZ\" - NEW ZEALAND</p>\n            </li>\n            <li>\n                <p>\"NI\" - NICARAGUA</p>\n            </li>\n            <li>\n                <p>\"NG\" - NIGERIA</p>\n            </li>\n            <li>\n                <p>\"NO\" - NORWAY</p>\n            </li>\n            <li>\n                <p>\"PA\" - PANAMA</p>\n            </li>\n            <li>\n                <p>\"PY\" - PARAGUAY</p>\n            </li>\n            <li>\n                <p>\"PE\" - PERU</p>\n            </li>\n            <li>\n                <p>\"PL\" - POLAND</p>\n            </li>\n            <li>\n                <p>\"PT\" - PORTUGAL</p>\n            </li>\n            <li>\n                <p>\"RO\" - ROMANIA</p>\n            </li>\n            <li>\n                <p>\"RU\" - RUSSIA</p>\n            </li>\n            <li>\n                <p>\"RS\" - SERBIA</p>\n            </li>\n            <li>\n                <p>\"SK\" - SLOVAKIA</p>\n            </li>\n            <li>\n                <p>\"SI\" - SLOVENIA</p>\n            </li>\n            <li>\n                <p>\"ZA\" - SOUTH AFRICA</p>\n            </li>\n            <li>\n                <p>\"ES\" - SPAIN</p>\n            </li>\n            <li>\n                <p>\"SE\" - SWEDEN</p>\n            </li>\n            <li>\n                <p>\"CH\" - SWITZERLAND</p>\n            </li>\n            <li>\n                <p>\"UA\" - UKRAINE</p>\n            </li>\n            <li>\n                <p>\"AE\" - UNITED ARAB EMIRATES</p>\n            </li>\n            <li>\n                <p>\"US\" - UNITED STATES</p>\n            </li>\n            <li>\n                <p>\"UK\" - UNITED KINGDOM</p>\n            </li>\n            <li>\n                <p>\"UY\" - URUGUAY</p>\n            </li>\n            <li>\n                <p>\"VE\" - VENEZUELA</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an additional dataset. This object is part of the <a>DataConfig</a> object. Forecast supports the Weather Index and Holidays additional datasets.</p>\n        <p>\n            <b>Weather Index</b>\n        </p>\n        <p>The Amazon Forecast Weather Index is a built-in dataset that incorporates historical and\n            projected weather information into your model. The Weather Index supplements your\n            datasets with over two years of historical weather data and up to 14 days of projected\n            weather data. For more information, see <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/weather.html\">Amazon Forecast\n                Weather Index</a>.</p>\n        <p>\n            <b>Holidays</b>\n        </p>\n        <p>Holidays is a built-in dataset that incorporates national holiday information into\n            your model. It provides native support for the holiday calendars of 66 countries. To\n            view the holiday calendars, refer to the <a href=\"http://jollyday.sourceforge.net/data.html\">Jollyday</a> library. For more\n            information, see <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/holidays.html\">Holidays\n                Featurization</a>.</p>"
      }
    },
    "com.amazonaws.forecast#AdditionalDatasets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#AdditionalDataset"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.forecast#AmazonForecast": {
      "type": "service",
      "version": "2018-06-26",
      "operations": [
        {
          "target": "com.amazonaws.forecast#CreateAutoPredictor"
        },
        {
          "target": "com.amazonaws.forecast#CreateDataset"
        },
        {
          "target": "com.amazonaws.forecast#CreateDatasetGroup"
        },
        {
          "target": "com.amazonaws.forecast#CreateDatasetImportJob"
        },
        {
          "target": "com.amazonaws.forecast#CreateExplainability"
        },
        {
          "target": "com.amazonaws.forecast#CreateExplainabilityExport"
        },
        {
          "target": "com.amazonaws.forecast#CreateForecast"
        },
        {
          "target": "com.amazonaws.forecast#CreateForecastExportJob"
        },
        {
          "target": "com.amazonaws.forecast#CreateMonitor"
        },
        {
          "target": "com.amazonaws.forecast#CreatePredictor"
        },
        {
          "target": "com.amazonaws.forecast#CreatePredictorBacktestExportJob"
        },
        {
          "target": "com.amazonaws.forecast#CreateWhatIfAnalysis"
        },
        {
          "target": "com.amazonaws.forecast#CreateWhatIfForecast"
        },
        {
          "target": "com.amazonaws.forecast#CreateWhatIfForecastExport"
        },
        {
          "target": "com.amazonaws.forecast#DeleteDataset"
        },
        {
          "target": "com.amazonaws.forecast#DeleteDatasetGroup"
        },
        {
          "target": "com.amazonaws.forecast#DeleteDatasetImportJob"
        },
        {
          "target": "com.amazonaws.forecast#DeleteExplainability"
        },
        {
          "target": "com.amazonaws.forecast#DeleteExplainabilityExport"
        },
        {
          "target": "com.amazonaws.forecast#DeleteForecast"
        },
        {
          "target": "com.amazonaws.forecast#DeleteForecastExportJob"
        },
        {
          "target": "com.amazonaws.forecast#DeleteMonitor"
        },
        {
          "target": "com.amazonaws.forecast#DeletePredictor"
        },
        {
          "target": "com.amazonaws.forecast#DeletePredictorBacktestExportJob"
        },
        {
          "target": "com.amazonaws.forecast#DeleteResourceTree"
        },
        {
          "target": "com.amazonaws.forecast#DeleteWhatIfAnalysis"
        },
        {
          "target": "com.amazonaws.forecast#DeleteWhatIfForecast"
        },
        {
          "target": "com.amazonaws.forecast#DeleteWhatIfForecastExport"
        },
        {
          "target": "com.amazonaws.forecast#DescribeAutoPredictor"
        },
        {
          "target": "com.amazonaws.forecast#DescribeDataset"
        },
        {
          "target": "com.amazonaws.forecast#DescribeDatasetGroup"
        },
        {
          "target": "com.amazonaws.forecast#DescribeDatasetImportJob"
        },
        {
          "target": "com.amazonaws.forecast#DescribeExplainability"
        },
        {
          "target": "com.amazonaws.forecast#DescribeExplainabilityExport"
        },
        {
          "target": "com.amazonaws.forecast#DescribeForecast"
        },
        {
          "target": "com.amazonaws.forecast#DescribeForecastExportJob"
        },
        {
          "target": "com.amazonaws.forecast#DescribeMonitor"
        },
        {
          "target": "com.amazonaws.forecast#DescribePredictor"
        },
        {
          "target": "com.amazonaws.forecast#DescribePredictorBacktestExportJob"
        },
        {
          "target": "com.amazonaws.forecast#DescribeWhatIfAnalysis"
        },
        {
          "target": "com.amazonaws.forecast#DescribeWhatIfForecast"
        },
        {
          "target": "com.amazonaws.forecast#DescribeWhatIfForecastExport"
        },
        {
          "target": "com.amazonaws.forecast#GetAccuracyMetrics"
        },
        {
          "target": "com.amazonaws.forecast#ListDatasetGroups"
        },
        {
          "target": "com.amazonaws.forecast#ListDatasetImportJobs"
        },
        {
          "target": "com.amazonaws.forecast#ListDatasets"
        },
        {
          "target": "com.amazonaws.forecast#ListExplainabilities"
        },
        {
          "target": "com.amazonaws.forecast#ListExplainabilityExports"
        },
        {
          "target": "com.amazonaws.forecast#ListForecastExportJobs"
        },
        {
          "target": "com.amazonaws.forecast#ListForecasts"
        },
        {
          "target": "com.amazonaws.forecast#ListMonitorEvaluations"
        },
        {
          "target": "com.amazonaws.forecast#ListMonitors"
        },
        {
          "target": "com.amazonaws.forecast#ListPredictorBacktestExportJobs"
        },
        {
          "target": "com.amazonaws.forecast#ListPredictors"
        },
        {
          "target": "com.amazonaws.forecast#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.forecast#ListWhatIfAnalyses"
        },
        {
          "target": "com.amazonaws.forecast#ListWhatIfForecastExports"
        },
        {
          "target": "com.amazonaws.forecast#ListWhatIfForecasts"
        },
        {
          "target": "com.amazonaws.forecast#ResumeResource"
        },
        {
          "target": "com.amazonaws.forecast#StopResource"
        },
        {
          "target": "com.amazonaws.forecast#TagResource"
        },
        {
          "target": "com.amazonaws.forecast#UntagResource"
        },
        {
          "target": "com.amazonaws.forecast#UpdateDatasetGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "forecast",
          "arnNamespace": "forecast",
          "cloudFormationName": "Forecast",
          "cloudTrailEventSource": "forecast.amazonaws.com",
          "endpointPrefix": "forecast"
        },
        "aws.auth#sigv4": {
          "name": "forecast"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Provides APIs for creating and managing Amazon Forecast resources.</p>",
        "smithy.api#title": "Amazon Forecast Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://forecast-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://forecast-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://forecast.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://forecast.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://forecast.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.forecast#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:([a-z\\d-]+):forecast:.*:.*:.+$"
      }
    },
    "com.amazonaws.forecast#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#Arn"
      }
    },
    "com.amazonaws.forecast#AttributeConfig": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute as specified in the schema. Amazon Forecast supports the\n            target field of the target time series and the related time series datasets. For\n            example, for the RETAIL domain, the target is <code>demand</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Transformations": {
          "target": "com.amazonaws.forecast#Transformations",
          "traits": {
            "smithy.api#documentation": "<p>The method parameters (key-value pairs), which are a map of override parameters.\n            Specify these parameters to override the default values. Related Time Series attributes\n            do not accept aggregation parameters.</p>\n        <p>The following list shows the parameters and their valid values for the \"filling\"\n            featurization method for a <b>Target Time Series</b> dataset.\n            Default values are bolded.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>aggregation</code>: <b>sum</b>,\n                        <code>avg</code>, <code>first</code>, <code>min</code>,\n                    <code>max</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>frontfill</code>: <b>none</b>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>middlefill</code>: <b>zero</b>,\n                        <code>nan</code> (not a number), <code>value</code>, <code>median</code>,\n                        <code>mean</code>, <code>min</code>, <code>max</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>backfill</code>: <b>zero</b>,\n                    <code>nan</code>, <code>value</code>, <code>median</code>, <code>mean</code>,\n                        <code>min</code>, <code>max</code>\n               </p>\n            </li>\n         </ul>\n\n        <p>The following list shows the parameters and their valid values for a <b>Related Time Series</b> featurization method (there are no\n            defaults):</p>\n        <ul>\n            <li>\n                <p>\n                  <code>middlefill</code>: <code>zero</code>, <code>value</code>,\n                        <code>median</code>, <code>mean</code>, <code>min</code>,\n                    <code>max</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>backfill</code>: <code>zero</code>, <code>value</code>,\n                        <code>median</code>, <code>mean</code>, <code>min</code>,\n                    <code>max</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>futurefill</code>: <code>zero</code>, <code>value</code>,\n                        <code>median</code>, <code>mean</code>, <code>min</code>,\n                    <code>max</code>\n               </p>\n            </li>\n         </ul>\n        <p>To set a filling method to a specific value, set the fill parameter to\n                <code>value</code> and define the value in a corresponding <code>_value</code>\n            parameter. For example, to set backfilling to a value of 2, include the following:\n                <code>\"backfill\": \"value\"</code> and <code>\"backfill_value\":\"2\"</code>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the method used to transform attributes.</p>\n        <p>The following is an example using the RETAIL domain:</p>\n        <p>\n            <code>{</code>\n        </p>\n        <p>\n            <code>\"AttributeName\": \"demand\",</code>\n        </p>\n        <p>\n            <code>\"Transformations\": {\"aggregation\": \"sum\", \"middlefill\": \"zero\", \"backfill\":\n                \"zero\"}</code>\n        </p>\n        <p>\n            <code>}</code>\n        </p>"
      }
    },
    "com.amazonaws.forecast#AttributeConfigs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#AttributeConfig"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.forecast#AttributeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "string",
            "name": "STRING"
          },
          {
            "value": "integer",
            "name": "INTEGER"
          },
          {
            "value": "float",
            "name": "FLOAT"
          },
          {
            "value": "timestamp",
            "name": "TIMESTAMP"
          },
          {
            "value": "geolocation",
            "name": "GEOLOCATION"
          }
        ]
      }
    },
    "com.amazonaws.forecast#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.forecast#AutoMLOverrideStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LatencyOptimized",
            "name": "LatencyOptimized"
          },
          {
            "value": "AccuracyOptimized",
            "name": "AccuracyOptimized"
          }
        ]
      }
    },
    "com.amazonaws.forecast#Baseline": {
      "type": "structure",
      "members": {
        "PredictorBaseline": {
          "target": "com.amazonaws.forecast#PredictorBaseline",
          "traits": {
            "smithy.api#documentation": "<p>The initial <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/metrics.html\">accuracy metrics</a> for the predictor you are monitoring. Use these metrics as a baseline for comparison purposes as you\n         use your predictor and the metrics change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metrics you can use as a baseline for comparison purposes. Use these metrics when you interpret monitoring results for an auto predictor.</p>"
      }
    },
    "com.amazonaws.forecast#BaselineMetric": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.forecast#Double",
          "traits": {
            "smithy.api#documentation": "<p>The value for the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An individual metric that you can use for comparison as you evaluate your monitoring results.</p>"
      }
    },
    "com.amazonaws.forecast#BaselineMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#BaselineMetric"
      }
    },
    "com.amazonaws.forecast#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.forecast#CategoricalParameterRange": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the categorical hyperparameter to tune.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.forecast#Values",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tunable categories for the hyperparameter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a categorical hyperparameter and it's range of tunable values.\n      This object is part of the <a>ParameterRanges</a> object.</p>"
      }
    },
    "com.amazonaws.forecast#CategoricalParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#CategoricalParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.forecast#Condition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQUALS",
            "name": "EQUALS"
          },
          {
            "value": "NOT_EQUALS",
            "name": "NOT_EQUALS"
          },
          {
            "value": "LESS_THAN",
            "name": "LESS_THAN"
          },
          {
            "value": "GREATER_THAN",
            "name": "GREATER_THAN"
          }
        ]
      }
    },
    "com.amazonaws.forecast#Configuration": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.forecast#Name"
      },
      "value": {
        "target": "com.amazonaws.forecast#Values"
      }
    },
    "com.amazonaws.forecast#ContinuousParameterRange": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hyperparameter to tune.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxValue": {
          "target": "com.amazonaws.forecast#Double",
          "traits": {
            "smithy.api#documentation": "<p>The maximum tunable value of the hyperparameter.</p>",
            "smithy.api#required": {}
          }
        },
        "MinValue": {
          "target": "com.amazonaws.forecast#Double",
          "traits": {
            "smithy.api#documentation": "<p>The minimum tunable value of the hyperparameter.</p>",
            "smithy.api#required": {}
          }
        },
        "ScalingType": {
          "target": "com.amazonaws.forecast#ScalingType",
          "traits": {
            "smithy.api#documentation": "<p>The scale that hyperparameter tuning uses to search the hyperparameter range.\n      Valid values:</p>\n         <dl>\n            <dt>Auto</dt>\n            <dd>\n               <p>Amazon Forecast hyperparameter tuning chooses the best scale for the hyperparameter.</p>\n            </dd>\n            <dt>Linear</dt>\n            <dd>\n               <p>Hyperparameter tuning searches the values in the hyperparameter range by using a\n            linear scale.</p>\n            </dd>\n            <dt>Logarithmic</dt>\n            <dd>\n               <p>Hyperparameter tuning searches the values in the hyperparameter range by using a\n            logarithmic scale.</p>\n               <p>Logarithmic scaling works only for ranges that have values greater than 0.</p>\n            </dd>\n            <dt>ReverseLogarithmic</dt>\n            <dd>\n               <p>hyperparameter tuning searches the values in the hyperparameter range by using a\n            reverse logarithmic scale.</p>\n               <p>Reverse logarithmic scaling works only for ranges that are entirely within the\n            range 0 <= x < 1.0.</p>\n            </dd>\n         </dl>\n         <p>For information about choosing a hyperparameter scale, see\n      <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/automatic-model-tuning-define-ranges.html#scaling-type\">Hyperparameter Scaling</a>.\n      One of the following values:</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a continuous hyperparameter and it's range of tunable values.\n      This object is part of the <a>ParameterRanges</a> object.</p>"
      }
    },
    "com.amazonaws.forecast#ContinuousParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.forecast#ContinuousParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.forecast#CreateAutoPredictor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreateAutoPredictorRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreateAutoPredictorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Forecast predictor.</p>\n        <p>Amazon Forecast creates predictors with AutoPredictor, which involves applying the\n            optimal combination of algorithms to each time series in your datasets. You can use\n                <a>CreateAutoPredictor</a> to create new predictors or upgrade/retrain\n            existing predictors.</p>\n\n        <p>\n            <b>Creating new predictors</b>\n         </p>\n\n        <p>The following parameters are required when creating a new predictor:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>PredictorName</code> - A unique name for the predictor.</p>\n            </li>\n            <li>\n                <p>\n                  <code>DatasetGroupArn</code> - The ARN of the dataset group used to train the\n                    predictor.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ForecastFrequency</code> - The granularity of your forecasts (hourly,\n                    daily, weekly, etc).</p>\n            </li>\n            <li>\n                <p>\n                  <code>ForecastHorizon</code> - The number of time-steps that the model\n                    predicts. The forecast horizon is also called the prediction length.</p>\n            </li>\n         </ul>\n        <p>When creating a new predictor, do not specify a value for\n                <code>ReferencePredictorArn</code>.</p>\n        <p>\n            <b>Upgrading and retraining predictors</b>\n        </p>\n        <p>The following parameters are required when retraining or upgrading a predictor:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>PredictorName</code> - A unique name for the predictor.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ReferencePredictorArn</code> - The ARN of the predictor to retrain or\n                    upgrade.</p>\n            </li>\n         </ul>\n        <p>When upgrading or retraining a predictor, only specify values for the\n                <code>ReferencePredictorArn</code> and <code>PredictorName</code>. </p>"
      }
    },
    "com.amazonaws.forecast#CreateAutoPredictorRequest": {
      "type": "structure",
      "members": {
        "PredictorName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the predictor</p>",
            "smithy.api#required": {}
          }
        },
        "ForecastHorizon": {
          "target": "com.amazonaws.forecast#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of time-steps that the model predicts. The forecast horizon is also called\n            the prediction length.</p>\n        <p>The maximum forecast horizon is the lesser of 500 time-steps or 1/4 of the\n            TARGET_TIME_SERIES dataset length. If you are retraining an existing AutoPredictor, then\n            the maximum forecast horizon is the lesser of 500 time-steps or 1/3 of the\n            TARGET_TIME_SERIES dataset length.</p>\n        <p>If you are upgrading to an AutoPredictor or retraining an existing AutoPredictor, you\n            cannot update the forecast horizon parameter. You can meet this requirement by providing\n            longer time-series in the dataset.</p>"
          }
        },
        "ForecastTypes": {
          "target": "com.amazonaws.forecast#ForecastTypes",
          "traits": {
            "smithy.api#documentation": "<p>The forecast types used to train a predictor. You can specify up to five forecast\n            types. Forecast types can be quantiles from 0.01 to 0.99, by increments of 0.01 or\n            higher. You can also specify the mean forecast with <code>mean</code>.</p>"
          }
        },
        "ForecastDimensions": {
          "target": "com.amazonaws.forecast#ForecastDimensions",
          "traits": {
            "smithy.api#documentation": "<p>An array of dimension (field) names that specify how to group the generated\n            forecast.</p>\n        <p>For example, if you are generating forecasts for item sales across all your stores,\n            and your dataset contains a <code>store_id</code> field, you would specify\n                <code>store_id</code> as a dimension to group sales forecasts for each store.</p>"
          }
        },
        "ForecastFrequency": {
          "target": "com.amazonaws.forecast#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The frequency of predictions in a forecast.</p>\n        <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30\n            minutes), 15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute).\n            For example, \"Y\" indicates every year and \"5min\" indicates every five minutes.</p>\n        <p>The frequency must be greater than or equal to the TARGET_TIME_SERIES dataset\n            frequency.</p>\n        <p>When a RELATED_TIME_SERIES dataset is provided, the frequency must be equal to the\n            RELATED_TIME_SERIES dataset frequency.</p>"
          }
        },
        "DataConfig": {
          "target": "com.amazonaws.forecast#DataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The data configuration for your dataset group and any additional datasets.</p>"
          }
        },
        "EncryptionConfig": {
          "target": "com.amazonaws.forecast#EncryptionConfig"
        },
        "ReferencePredictorArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the predictor to retrain or upgrade. This parameter is only used when\n            retraining or upgrading a predictor. When creating a new predictor, do not specify a\n            value for this parameter.</p>\n        <p>When upgrading or retraining a predictor, only specify values for the\n                <code>ReferencePredictorArn</code> and <code>PredictorName</code>. The value for\n                <code>PredictorName</code> must be a unique predictor name.</p>"
          }
        },
        "OptimizationMetric": {
          "target": "com.amazonaws.forecast#OptimizationMetric",
          "traits": {
            "smithy.api#documentation": "<p>The accuracy metric used to optimize the predictor.</p>"
          }
        },
        "ExplainPredictor": {
          "target": "com.amazonaws.forecast#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Create an Explainability resource for the predictor.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata to help you categorize and organize your predictors. Each tag\n            consists of a key and an optional value, both of which you define. Tag keys and values\n            are case sensitive.</p>\n        <p>The following restrictions apply to tags:</p>\n        <ul>\n            <li>\n                <p>For each resource, each tag key must be unique and each tag key must have one\n                    value.</p>\n            </li>\n            <li>\n                <p>Maximum number of tags per resource: 50.</p>\n            </li>\n            <li>\n                <p>Maximum key length: 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n                <p>Maximum value length: 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n                <p>Accepted characters: all letters and numbers, spaces representable in UTF-8,\n                    and + - = . _ : / @. If your tagging schema is used across other services and\n                    resources, the character restrictions of those services also apply. </p>\n            </li>\n            <li>\n                <p>Key prefixes cannot include any upper or lowercase combination of\n                        <code>aws:</code> or <code>AWS:</code>. Values can have this prefix. If a\n                    tag value has <code>aws</code> as its prefix but the key does not, Forecast\n                    considers it to be a user tag and will count against the limit of 50 tags. Tags\n                    with only the key prefix of <code>aws</code> do not count against your tags per\n                    resource limit. You cannot edit or delete tag keys with this prefix.</p>\n            </li>\n         </ul>"
          }
        },
        "MonitorConfig": {
          "target": "com.amazonaws.forecast#MonitorConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details for predictor monitoring. Provide a name for the monitor resource to enable predictor monitoring.</p>\n         <p>Predictor monitoring allows you to see how your predictor's performance changes over time.\n         For more information, see <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/predictor-monitoring.html\">Predictor Monitoring</a>.</p>"
          }
        },
        "TimeAlignmentBoundary": {
          "target": "com.amazonaws.forecast#TimeAlignmentBoundary",
          "traits": {
            "smithy.api#documentation": "<p>The time boundary Forecast uses to align and aggregate any data that doesn't align with your forecast frequency. Provide the unit of time and the time boundary as a key value pair. \n            For more information on specifying a time boundary, see <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/data-aggregation.html#specifying-time-boundary\">Specifying a Time Boundary</a>.\n            If you\n            don't provide a time boundary, Forecast uses a set of <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/data-aggregation.html#default-time-boundaries\">Default Time Boundaries</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateAutoPredictorResponse": {
      "type": "structure",
      "members": {
        "PredictorArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the predictor.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Forecast dataset. The information about the dataset that you provide helps\n      Forecast understand how to consume the data for model training. This includes the\n      following:</p>\n         <ul>\n            <li>\n               <p>\n                  <i>\n                     <code>DataFrequency</code>\n                  </i> - How frequently your historical\n          time-series data is collected.</p>\n            </li>\n            <li>\n               <p>\n                  <i>\n                     <code>Domain</code>\n                  </i> and\n            <i>\n                     <code>DatasetType</code>\n                  </i> - Each dataset has an associated dataset\n          domain and a type within the domain. Amazon Forecast provides a list of predefined domains and\n          types within each domain. For each unique dataset domain and type within the domain,\n          Amazon Forecast requires your data to include a minimum set of predefined fields.</p>\n            </li>\n            <li>\n               <p>\n                  <i>\n                     <code>Schema</code>\n                  </i> - A schema specifies the fields in the dataset,\n          including the field name and data type.</p>\n            </li>\n         </ul>\n         <p>After creating a dataset, you import your training data into it and add the dataset to a\n      dataset group. You use the dataset group to create a predictor. For more information, see\n        <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/howitworks-datasets-groups.html\">Importing datasets</a>.</p>\n         <p>To get a list of all your datasets, use the <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/API_ListDatasets.html\">ListDatasets</a> operation.</p>\n         <p>For example Forecast datasets, see the <a href=\"https://github.com/aws-samples/amazon-forecast-samples\">Amazon Forecast Sample GitHub\n        repository</a>.</p>\n         <note>\n            <p>The <code>Status</code> of a dataset must be <code>ACTIVE</code> before you can import\n        training data. Use the <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/API_DescribeDataset.html\">DescribeDataset</a> operation to get\n        the status.</p>\n         </note>"
      }
    },
    "com.amazonaws.forecast#CreateDatasetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreateDatasetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreateDatasetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a dataset group, which holds a collection of related datasets. You can add\n      datasets to the dataset group when you create the dataset group, or later by using the <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/API_UpdateDatasetGroup.html\">UpdateDatasetGroup</a> operation.</p>\n         <p>After creating a dataset group and adding datasets, you use the dataset group when you\n      create a predictor. For more information, see <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/howitworks-datasets-groups.html\">Dataset groups</a>.</p>\n         <p>To get a list of all your datasets groups, use the <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/API_ListDatasetGroups.html\">ListDatasetGroups</a>\n      operation.</p>\n         <note>\n            <p>The <code>Status</code> of a dataset group must be <code>ACTIVE</code> before you can\n        use the dataset group to create a predictor. To get the status, use the <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/API_DescribeDatasetGroup.html\">DescribeDatasetGroup</a> operation.</p>\n         </note>"
      }
    },
    "com.amazonaws.forecast#CreateDatasetGroupRequest": {
      "type": "structure",
      "members": {
        "DatasetGroupName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the dataset group.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.forecast#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain associated with the dataset group. When you add a dataset to a dataset group,\n      this value and the value specified for the <code>Domain</code> parameter of the <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/API_CreateDataset.html\">CreateDataset</a>\n      operation must match.</p>\n         <p>The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields\n      that must be present in training data that you import to a dataset. For example, if you choose\n      the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the\n        <code>DatasetType</code>, Amazon Forecast requires that <code>item_id</code>,\n        <code>timestamp</code>, and <code>demand</code> fields are present in your data. For more\n      information, see <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/howitworks-datasets-groups.html\">Dataset groups</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DatasetArns": {
          "target": "com.amazonaws.forecast#ArnList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Resource Names (ARNs) of the datasets that you want to include in the\n      dataset group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the dataset group to help you categorize and\n      organize them. Each tag consists of a key and an optional value, both of which you\n      define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one\n          value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that\n          other services may have restrictions on allowed characters. Generally allowed characters\n          are: letters, numbers, and spaces representable in UTF-8, and the following characters: +\n          - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase combination\n          of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag\n          keys with this prefix. Values can have this prefix. If a tag value has <code>aws</code> as\n          its prefix but the key does not, then Forecast considers it to be a user tag and will\n          count against the limit of 50 tags. Tags with only the key prefix of <code>aws</code> do\n          not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDatasetGroupResponse": {
      "type": "structure",
      "members": {
        "DatasetGroupArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDatasetImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreateDatasetImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreateDatasetImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Imports your training data to an Amazon Forecast dataset. You provide the location of your\n      training data in an Amazon Simple Storage Service (Amazon S3) bucket and the Amazon Resource Name (ARN) of the dataset\n      that you want to import the data to.</p>\n         <p>You must specify a <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/API_DataSource.html\">DataSource</a> object that includes an\n      AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the data, as Amazon Forecast makes a copy\n      of your data and processes it in an internal AWS system. For more information, see <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/aws-forecast-iam-roles.html\">Set up\n        permissions</a>.</p>\n         <p>The training data must be in CSV or Parquet format. The delimiter must be a comma (,).</p>\n         <p>You can specify the path to a specific file, the S3 bucket, or to a folder in the S3\n      bucket. For the latter two cases, Amazon Forecast imports all files up to the limit of 10,000\n      files.</p>\n         <p>Because dataset imports are not aggregated, your most recent dataset import is the one\n      that is used when training a predictor or generating a forecast. Make sure that your most\n      recent dataset import contains all of the data you want to model off of, and not just the new\n      data collected since the previous import.</p>\n         <p>To get a list of all your dataset import jobs, filtered by specified criteria, use the\n        <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/API_ListDatasetImportJobs.html\">ListDatasetImportJobs</a> operation.</p>"
      }
    },
    "com.amazonaws.forecast#CreateDatasetImportJobRequest": {
      "type": "structure",
      "members": {
        "DatasetImportJobName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the dataset import job. We recommend including the current timestamp in the\n      name, for example, <code>20190721DatasetImport</code>. This can help you avoid getting a\n        <code>ResourceAlreadyExistsException</code> exception.</p>",
            "smithy.api#required": {}
          }
        },
        "DatasetArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Forecast dataset that you want to import data\n      to.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSource": {
          "target": "com.amazonaws.forecast#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The location of the training data to import and an AWS Identity and Access Management (IAM) role that Amazon Forecast\n      can assume to access the data. The training data must be stored in an Amazon S3 bucket.</p>\n         <p>If encryption is used, <code>DataSource</code> must include an AWS Key Management Service (KMS) key and the\n      IAM role must allow Amazon Forecast permission to access the key. The KMS key and IAM role must\n      match those specified in the <code>EncryptionConfig</code> parameter of the <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/API_CreateDataset.html\">CreateDataset</a>\n      operation.</p>",
            "smithy.api#required": {}
          }
        },
        "TimestampFormat": {
          "target": "com.amazonaws.forecast#TimestampFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of timestamps in the dataset. The format that you specify depends on the\n        <code>DataFrequency</code> specified when the dataset was created. The following formats are\n      supported</p>\n         <ul>\n            <li>\n               <p>\"yyyy-MM-dd\"</p>\n               <p>For the following data frequencies: Y, M, W, and D</p>\n            </li>\n            <li>\n               <p>\"yyyy-MM-dd HH:mm:ss\"</p>\n               <p>For the following data frequencies: H, 30min, 15min, and 1min; and optionally, for: Y,\n          M, W, and D</p>\n            </li>\n         </ul>\n         <p>If the format isn't specified, Amazon Forecast expects the format to be \"yyyy-MM-dd\n      HH:mm:ss\".</p>"
          }
        },
        "TimeZone": {
          "target": "com.amazonaws.forecast#TimeZone",
          "traits": {
            "smithy.api#documentation": "<p>A single time zone for every item in your dataset. This option is ideal for datasets\n            with all timestamps within a single time zone, or if all timestamps are normalized to a\n            single time zone. </p>\n        <p>Refer to the <a href=\"http://joda-time.sourceforge.net/timezones.html\">Joda-Time\n                API</a> for a complete list of valid time zone names.</p>"
          }
        },
        "UseGeolocationForTimeZone": {
          "target": "com.amazonaws.forecast#UseGeolocationForTimeZone",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Automatically derive time zone information from the geolocation attribute. This option\n            is ideal for datasets that contain timestamps in multiple time zones and those\n            timestamps are expressed in local time.</p>"
          }
        },
        "GeolocationFormat": {
          "target": "com.amazonaws.forecast#GeolocationFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the geolocation attribute. The geolocation attribute can be formatted in\n            one of two ways:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>LAT_LONG</code> - the latitude and longitude in decimal format (Example: 47.61_-122.33).</p>\n            </li>\n            <li>\n                <p>\n                  <code>CC_POSTALCODE</code> (US Only) - the country code (US), followed by the 5-digit ZIP code (Example: US_98121).</p>\n            </li>\n         </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the dataset import job to help you categorize and\n      organize them. Each tag consists of a key and an optional value, both of which you\n      define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one\n          value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that\n          other services may have restrictions on allowed characters. Generally allowed characters\n          are: letters, numbers, and spaces representable in UTF-8, and the following characters: +\n          - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase combination\n          of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag\n          keys with this prefix. Values can have this prefix. If a tag value has <code>aws</code> as\n          its prefix but the key does not, then Forecast considers it to be a user tag and will\n          count against the limit of 50 tags. Tags with only the key prefix of <code>aws</code> do\n          not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        },
        "Format": {
          "target": "com.amazonaws.forecast#Format",
          "traits": {
            "smithy.api#documentation": "<p>The format of the imported data, CSV or PARQUET. The default value is CSV.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDatasetImportJobResponse": {
      "type": "structure",
      "members": {
        "DatasetImportJobArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.forecast#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.forecast#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The domain associated with the dataset. When you add a dataset to a dataset group, this\n      value and the value specified for the <code>Domain</code> parameter of the <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/API_CreateDatasetGroup.html\">CreateDatasetGroup</a> operation must match.</p>\n         <p>The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields\n      that must be present in the training data that you import to the dataset. For example, if you\n      choose the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the\n        <code>DatasetType</code>, Amazon Forecast requires <code>item_id</code>, <code>timestamp</code>,\n      and <code>demand</code> fields to be present in your data. For more information, see <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/howitworks-datasets-groups.html\">Importing\n        datasets</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.forecast#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The dataset type. Valid values depend on the chosen <code>Domain</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DataFrequency": {
          "target": "com.amazonaws.forecast#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The frequency of data collection. This parameter is required for RELATED_TIME_SERIES\n      datasets.</p>\n         <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes),\n      15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example,\n      \"D\" indicates every day and \"15min\" indicates every 15 minutes.</p>"
          }
        },
        "Schema": {
          "target": "com.amazonaws.forecast#Schema",
          "traits": {
            "smithy.api#documentation": "<p>The schema for the dataset. The schema attributes and their order must match the fields in\n      your data. The dataset <code>Domain</code> and <code>DatasetType</code> that you choose\n      determine the minimum required fields in your training data. For information about the\n      required fields for a specific dataset domain and type, see <a href=\"https://docs.aws.amazon.com/forecast/latest/dg/howitworks-domains-ds-types.html\">Dataset Domains and Dataset\n        Types</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionConfig": {
          "target": "com.amazonaws.forecast#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access\n      the key.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.forecast#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the dataset to help you categorize and organize\n      them. Each tag consists of a key and an optional value, both of which you define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one\n          value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that\n          other services may have restrictions on allowed characters. Generally allowed characters\n          are: letters, numbers, and spaces representable in UTF-8, and the following characters: +\n          - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use <code>aws:</code>, <code>AWS:</code>, or any upper or lowercase combination\n          of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag\n          keys with this prefix. Values can have this prefix. If a tag value has <code>aws</code> as\n          its prefix but the key does not, then Forecast considers it to be a user tag and will\n          count against the limit of 50 tags. Tags with only the key prefix of <code>aws</code> do\n          not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "DatasetArn": {
          "target": "com.amazonaws.forecast#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.forecast#CreateExplainability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.forecast#CreateExplainabilityRequest"
      },
      "output": {
        "target": "com.amazonaws.forecast#CreateExplainabilityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.forecast#InvalidInputException"
        },
        {
          "target": "com.amazonaws.forecast#LimitExceededException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.forecast#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>Explainability is only available for Forecasts and Predictors generated from an\n                AutoPredictor (<a>CreateAutoPredictor</a>)</p>\n        </note>\n        <p>Creates an Amazon Forecast Explainability.</p>\n        <p>Explainability helps you better understand how the attributes in your datasets impact\n            forecast. Amazon Forecast uses a metric called Impact scores to quantify the relative\n            impact of each attribute and determine whether they increase or decrease forecast\n            values.</p>\n        <p>To enable Forecast Explainability, your predictor must include at least one of the\n            following: related time series, item metadata, or additional datasets like Holidays and\n            the Weather Index.</p>\n        <p>CreateExplainability accepts either a Predictor ARN or Forecast ARN. To receive\n            aggregated Impact scores for all time series and time points in your datasets, provide a\n            Predictor ARN. To receive Impact scores for specific time series and time points,\n            provide a Forecast ARN.</p>\n        <p>\n            <b>CreateExplainability with a Predictor ARN</b>\n        </p>\n        <note>\n            <p>You can only have one Explainability resource per predictor. If you already\n                enabled <code>ExplainPredictor</code> in <a>CreateAutoPredictor</a>, that\n                predictor already has an Explainability resource.</p>\n        </note>\n        <p>The following parameters are required when providing a Predictor ARN:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>ExplainabilityName</code> - A unique name for the Explainability.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ResourceArn</code> - The Arn of the predictor.</p>\n            </li>\n            <li>\n                <p>\n                  <code>TimePointGranularity</code> - Must be set to “ALL”.</p>\n            </li>\n            <li>\n                <p>\n                  <code>TimeSeriesGranularity</code> - Must be set to “ALL”.</p>\n            </li>\n         </ul>\n        <p>Do not specify a value for the following parameters:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>DataSource</code> - Only valid when TimeSeriesGranularity is\n                    “SPECIFIC”.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Schema</code> - Only valid when TimeSeriesGranularity is\n                    “SPECIFIC”.</p>\n            </li>\n            <li>\n                <p>\n                  <code>StartDateTime</code> - Only valid when TimePointGranularity is\n                    “SPECIFIC”.</p>\n            </li>\n            <li>\n                <p>\n                  <code>EndDateTime</code> - Only valid when TimePointGranularity is\n                    “SPECIFIC”.</p>\n            </li>\n         </ul>\n        <p>\n            <b>CreateExplainability with a Forecast ARN</b>\n        </p>\n        <note>\n            <p>You can specify a maximum of 50 time series and 500 time points.</p>\n        </note>\n        <p>The following parameters are required when providing a Predictor ARN:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>ExplainabilityName</code> - A unique name for the Explainability.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ResourceArn</code> - The Arn of the forecast.</p>\n            </li>\n            <li>\n                <p>\n                  <code>TimePointGranularity</code> - Either “ALL” or “SPECIFIC”.</p>\n            </li>\n            <li>\n                <p>\n                  <code>TimeSeriesGranularity</code> - Either “ALL” or “SPECIFIC”.</p>\n            </li>\n         </ul>\n        <p>If you set TimeSeriesGranularity to “SPECIFIC”, you must also provide the\n            following:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>DataSource</code> - The S3 l
[...]
