{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.frauddetector#ATIMetricDataPoint": {
      "type": "structure",
      "members": {
        "cr": {
          "target": "com.amazonaws.frauddetector#float",
          "traits": {
            "smithy.api#documentation": "<p>\n          The challenge rate. This indicates the percentage of login events that the model recommends to challenge such as  \n          one-time password, multi-factor authentication, and investigations.\n        </p>"
          }
        },
        "adr": {
          "target": "com.amazonaws.frauddetector#float",
          "traits": {
            "smithy.api#documentation": "<p>\n            The anomaly discovery rate. This metric quantifies the percentage of anomalies that can be detected by the model at the selected score threshold.  \n            A lower score threshold increases the percentage of anomalies captured by the model, but would also require challenging a larger percentage of \n            login events, leading to a higher customer friction.\n        </p>"
          }
        },
        "threshold": {
          "target": "com.amazonaws.frauddetector#float",
          "traits": {
            "smithy.api#documentation": "<p>\n            The model's threshold that specifies an acceptable fraud capture rate. For example, a threshold of 500 means any model score 500 or above is \n            labeled as fraud.\n        </p>"
          }
        },
        "atodr": {
          "target": "com.amazonaws.frauddetector#float",
          "traits": {
            "smithy.api#documentation": "<p>\n            The account takeover discovery rate. This metric quantifies the percentage of account compromise events that can be detected by the model at the selected score threshold.\n            This metric is only available if 50 or more entities with at-least one labeled account takeover event is present in the ingested dataset.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The Account Takeover Insights (ATI) model performance metrics data points.\n        </p>"
      }
    },
    "com.amazonaws.frauddetector#ATIMetricDataPointsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#ATIMetricDataPoint"
      }
    },
    "com.amazonaws.frauddetector#ATIModelPerformance": {
      "type": "structure",
      "members": {
        "asi": {
          "target": "com.amazonaws.frauddetector#float",
          "traits": {
            "smithy.api#documentation": "<p>\n            The anomaly separation index (ASI) score. This metric summarizes the overall ability of the model to separate anomalous activities from the normal behavior. Depending on the business, a \n            large fraction of these anomalous activities can be malicious and correspond to the account takeover attacks. A model with no separability power will have the lowest possible \n            ASI score of 0.5, whereas the a model with a high separability power will have the highest possible ASI score of 1.0\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The Account Takeover Insights (ATI) model performance score.\n        </p>"
      }
    },
    "com.amazonaws.frauddetector#ATITrainingMetricsValue": {
      "type": "structure",
      "members": {
        "metricDataPoints": {
          "target": "com.amazonaws.frauddetector#ATIMetricDataPointsList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The model's performance metrics data points.\n        </p>"
          }
        },
        "modelPerformance": {
          "target": "com.amazonaws.frauddetector#ATIModelPerformance",
          "traits": {
            "smithy.api#documentation": "<p>\n            The model's overall performance scores.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The Account Takeover Insights (ATI) model training metric details. \n        </p>"
      }
    },
    "com.amazonaws.frauddetector#AWSHawksNestServiceFacade": {
      "type": "service",
      "version": "2019-11-15",
      "operations": [
        {
          "target": "com.amazonaws.frauddetector#BatchCreateVariable"
        },
        {
          "target": "com.amazonaws.frauddetector#BatchGetVariable"
        },
        {
          "target": "com.amazonaws.frauddetector#CancelBatchImportJob"
        },
        {
          "target": "com.amazonaws.frauddetector#CancelBatchPredictionJob"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateBatchImportJob"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateBatchPredictionJob"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateDetectorVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateModel"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateModelVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateRule"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateVariable"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteBatchImportJob"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteBatchPredictionJob"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteDetector"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteDetectorVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteEntityType"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteEvent"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteEventsByEventType"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteEventType"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteExternalModel"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteLabel"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteModel"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteModelVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteOutcome"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteRule"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteVariable"
        },
        {
          "target": "com.amazonaws.frauddetector#DescribeDetector"
        },
        {
          "target": "com.amazonaws.frauddetector#DescribeModelVersions"
        },
        {
          "target": "com.amazonaws.frauddetector#GetBatchImportJobs"
        },
        {
          "target": "com.amazonaws.frauddetector#GetBatchPredictionJobs"
        },
        {
          "target": "com.amazonaws.frauddetector#GetDeleteEventsByEventTypeStatus"
        },
        {
          "target": "com.amazonaws.frauddetector#GetDetectors"
        },
        {
          "target": "com.amazonaws.frauddetector#GetDetectorVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#GetEntityTypes"
        },
        {
          "target": "com.amazonaws.frauddetector#GetEvent"
        },
        {
          "target": "com.amazonaws.frauddetector#GetEventPrediction"
        },
        {
          "target": "com.amazonaws.frauddetector#GetEventPredictionMetadata"
        },
        {
          "target": "com.amazonaws.frauddetector#GetEventTypes"
        },
        {
          "target": "com.amazonaws.frauddetector#GetExternalModels"
        },
        {
          "target": "com.amazonaws.frauddetector#GetKMSEncryptionKey"
        },
        {
          "target": "com.amazonaws.frauddetector#GetLabels"
        },
        {
          "target": "com.amazonaws.frauddetector#GetModels"
        },
        {
          "target": "com.amazonaws.frauddetector#GetModelVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#GetOutcomes"
        },
        {
          "target": "com.amazonaws.frauddetector#GetRules"
        },
        {
          "target": "com.amazonaws.frauddetector#GetVariables"
        },
        {
          "target": "com.amazonaws.frauddetector#ListEventPredictions"
        },
        {
          "target": "com.amazonaws.frauddetector#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.frauddetector#PutDetector"
        },
        {
          "target": "com.amazonaws.frauddetector#PutEntityType"
        },
        {
          "target": "com.amazonaws.frauddetector#PutEventType"
        },
        {
          "target": "com.amazonaws.frauddetector#PutExternalModel"
        },
        {
          "target": "com.amazonaws.frauddetector#PutKMSEncryptionKey"
        },
        {
          "target": "com.amazonaws.frauddetector#PutLabel"
        },
        {
          "target": "com.amazonaws.frauddetector#PutOutcome"
        },
        {
          "target": "com.amazonaws.frauddetector#SendEvent"
        },
        {
          "target": "com.amazonaws.frauddetector#TagResource"
        },
        {
          "target": "com.amazonaws.frauddetector#UntagResource"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateDetectorVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateDetectorVersionMetadata"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateDetectorVersionStatus"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateEventLabel"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateModel"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateModelVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateModelVersionStatus"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateRuleMetadata"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateRuleVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateVariable"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "FraudDetector",
          "arnNamespace": "frauddetector",
          "cloudFormationName": "FraudDetector",
          "cloudTrailEventSource": "frauddetector.amazonaws.com",
          "endpointPrefix": "frauddetector"
        },
        "aws.auth#sigv4": {
          "name": "frauddetector"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>This is the Amazon Fraud Detector API Reference. This guide is for developers who need\n            detailed information about Amazon Fraud Detector API actions, data types, and errors. For\n            more information about Amazon Fraud Detector features, see the <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/\">Amazon Fraud Detector User Guide</a>.</p>\n        \n        <p>We provide the Query API as well as AWS software development kits (SDK) for Amazon Fraud Detector in Java and Python programming languages.</p>\n        <p>The Amazon Fraud Detector Query API provides HTTPS requests that use the HTTP verb GET or POST and a Query parameter <code>Action</code>. AWS SDK provides libraries, \n            sample code, tutorials, and other resources for software developers who prefer to build applications using language-specific APIs instead of submitting a request over \n            HTTP or HTTPS. These libraries provide basic functions that automatically take care of tasks such as cryptographically signing your requests, retrying requests, and \n            handling error responses, so that it is easier for you to get started. For more information about the AWS SDKs, see <a href=\"https://docs.aws.amazon.com/https:/aws.amazon.com/tools/\">Tools to build on AWS</a>.\n            </p>",
        "smithy.api#title": "Amazon Fraud Detector",
        "smithy.api#xmlNamespace": {
          "uri": "http://hawksnest.amazonaws.com/doc/2019-11-15"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://frauddetector-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://frauddetector-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://frauddetector.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://frauddetector.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://frauddetector.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.frauddetector#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.frauddetector#AggregatedLogOddsMetric": {
      "type": "structure",
      "members": {
        "variableNames": {
          "target": "com.amazonaws.frauddetector#ListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>\n            The names of all the variables.  \n        </p>",
            "smithy.api#required": {}
          }
        },
        "aggregatedVariablesImportance": {
          "target": "com.amazonaws.frauddetector#float",
          "traits": {
            "smithy.api#documentation": "<p>\n            The relative importance of the variables in the list to the other event variable. \n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The log odds metric details.</p>\n        \n        <p>Account Takeover Insights (ATI) model uses event variables from the login data you \n            provide to continuously calculate a set of variables (aggregated variables) based on historical events. For example, your ATI model might calculate the number of times an user has logged in using the same IP address. \n            In this case, event variables used to derive the aggregated variables are <code>IP address</code> and <code>user</code>.</p>"
      }
    },
    "com.amazonaws.frauddetector#AggregatedVariablesImpactExplanation": {
      "type": "structure",
      "members": {
        "eventVariableNames": {
          "target": "com.amazonaws.frauddetector#ListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>\n            The names of all the event variables that were used to derive the aggregated variables.  \n        </p>"
          }
        },
        "relativeImpact": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>\n            The relative impact of the aggregated variables in terms of magnitude on the prediction scores.  \n        </p>"
          }
        },
        "logOddsImpact": {
          "target": "com.amazonaws.frauddetector#float",
          "traits": {
            "smithy.api#documentation": "<p>\n            The raw, uninterpreted value represented as log-odds of the fraud.  These values are usually between -10 to +10, but range from -infinity to +infinity.</p>\n            <ul>\n            <li>\n               <p>A positive value indicates that the variables drove the risk score up.</p>\n            </li>\n            <li>\n               <p>A negative value indicates that the variables drove the risk score down.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The details of the impact of aggregated variables on the prediction score. </p>\n        \n        <p>Account Takeover Insights (ATI) model  uses the login data you \n            provide to continuously calculate a set of variables (aggregated variables) based on historical events. For example, the model might calculate the number of times an user has logged in using the same IP address. \n            In this case, event variables used to derive the aggregated variables are <code>IP address</code> and <code>user</code>.</p>"
      }
    },
    "com.amazonaws.frauddetector#AggregatedVariablesImportanceMetrics": {
      "type": "structure",
      "members": {
        "logOddsMetrics": {
          "target": "com.amazonaws.frauddetector#ListOfAggregatedLogOddsMetrics",
          "traits": {
            "smithy.api#documentation": "<p>\n            List of variables' metrics.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the relative importance of the aggregated variables.</p>\n        \n        <p>Account Takeover Insights (ATI) model uses event variables from the login data you \n            provide to continuously calculate a set of variables (aggregated variables) based on historical events. For example, your ATI model might calculate the number of times an user has logged in using the same IP address. \n            In this case, event variables used to derive the aggregated variables are <code>IP address</code> and <code>user</code>.</p>"
      }
    },
    "com.amazonaws.frauddetector#AsyncJobStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS_INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS_INITIALIZING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "CANCEL_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_IN_PROGRESS"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#BatchCreateVariable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#BatchCreateVariableRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#BatchCreateVariableResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a batch of variables.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchCreateVariableError": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The name.</p>"
          }
        },
        "code": {
          "target": "com.amazonaws.frauddetector#Integer2",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The error code. </p>"
          }
        },
        "message": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the error of the batch create variable API.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchCreateVariableErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#BatchCreateVariableError"
      }
    },
    "com.amazonaws.frauddetector#BatchCreateVariableRequest": {
      "type": "structure",
      "members": {
        "variableEntries": {
          "target": "com.amazonaws.frauddetector#VariableEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of variables for the batch create variable request.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#BatchCreateVariableResult": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.frauddetector#BatchCreateVariableErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Provides the errors for the <code>BatchCreateVariable</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#BatchGetVariable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#BatchGetVariableRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#BatchGetVariableResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a batch of variables.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchGetVariableError": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The error name. </p>"
          }
        },
        "code": {
          "target": "com.amazonaws.frauddetector#Integer2",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The error code. </p>"
          }
        },
        "message": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the error of the batch get variable API.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchGetVariableErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#BatchGetVariableError"
      }
    },
    "com.amazonaws.frauddetector#BatchGetVariableRequest": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.amazonaws.frauddetector#NameList",
          "traits": {
            "smithy.api#documentation": "<p>The list of variable names to get.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#BatchGetVariableResult": {
      "type": "structure",
      "members": {
        "variables": {
          "target": "com.amazonaws.frauddetector#VariableList",
          "traits": {
            "smithy.api#documentation": "<p>The returned variables.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.frauddetector#BatchGetVariableErrorList",
          "traits": {
            "smithy.api#documentation": "<p>The errors from the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#BatchImport": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch import job. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.frauddetector#AsyncJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the batch import job.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The reason batch import job failed.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the batch import job started.</p>"
          }
        },
        "completionTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when batch import job completed.</p>"
          }
        },
        "inputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of your data file for batch import.</p>"
          }
        },
        "outputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of your output file.</p>"
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>"
          }
        },
        "iamRoleArn": {
          "target": "com.amazonaws.frauddetector#iamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role to use for this job request.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.frauddetector#fraudDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the batch import job.</p>"
          }
        },
        "processedRecordsCount": {
          "target": "com.amazonaws.frauddetector#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of records processed by batch import job.</p>"
          }
        },
        "failedRecordsCount": {
          "target": "com.amazonaws.frauddetector#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of records that failed to import. </p>"
          }
        },
        "totalRecordsCount": {
          "target": "com.amazonaws.frauddetector#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of records in the batch import job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The batch import job details.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchImportList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#BatchImport"
      }
    },
    "com.amazonaws.frauddetector#BatchPrediction": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The job ID for the batch prediction.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.frauddetector#AsyncJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The batch prediction status.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The reason a batch prediction job failed.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the batch prediction job started.</p>"
          }
        },
        "completionTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the batch prediction job completed.</p>"
          }
        },
        "lastHeartbeatTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of most recent heartbeat indicating the batch prediction job was making progress.</p>"
          }
        },
        "inputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of your training file.</p>"
          }
        },
        "outputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of your output file.</p>"
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>"
          }
        },
        "detectorName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector.</p>"
          }
        },
        "detectorVersion": {
          "target": "com.amazonaws.frauddetector#floatVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version. </p>"
          }
        },
        "iamRoleArn": {
          "target": "com.amazonaws.frauddetector#iamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role to use for this job request.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.frauddetector#fraudDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of batch prediction job.</p>"
          }
        },
        "processedRecordsCount": {
          "target": "com.amazonaws.frauddetector#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of records processed by the batch prediction job.</p>"
          }
        },
        "totalRecordsCount": {
          "target": "com.amazonaws.frauddetector#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of records in the batch prediction job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The batch prediction details.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchPredictionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#BatchPrediction"
      }
    },
    "com.amazonaws.frauddetector#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.frauddetector#CancelBatchImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CancelBatchImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CancelBatchImportJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Cancels an in-progress batch import job.</p>"
      }
    },
    "com.amazonaws.frauddetector#CancelBatchImportJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p> The ID of an in-progress batch import job to cancel. </p>\n         <p>Amazon Fraud Detector will throw an error if the batch import job is in <code>FAILED</code>, <code>CANCELED</code>, or  <code>COMPLETED</code> state.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CancelBatchImportJobResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#CancelBatchPredictionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CancelBatchPredictionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CancelBatchPredictionJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified batch prediction job.</p>"
      }
    },
    "com.amazonaws.frauddetector#CancelBatchPredictionJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch prediction job to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CancelBatchPredictionJobResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception indicating there was a conflict during a delete operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.frauddetector#CreateBatchImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateBatchImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateBatchImportJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a batch import job. </p>"
      }
    },
    "com.amazonaws.frauddetector#CreateBatchImportJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch import job. The ID cannot be of a past job, unless the job exists in <code>CREATE_FAILED</code> state.</p>",
            "smithy.api#required": {}
          }
        },
        "inputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The URI that points to the Amazon S3 location of your data file.</p>",
            "smithy.api#required": {}
          }
        },
        "outputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The URI that points to the Amazon S3 location for storing your results. </p>",
            "smithy.api#required": {}
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>",
            "smithy.api#required": {}
          }
        },
        "iamRoleArn": {
          "target": "com.amazonaws.frauddetector#iamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role created for Amazon S3 bucket that holds your data file.</p> \n         <p>The IAM role must have read permissions to your input S3 bucket and write permissions to your output S3 bucket.\n         For more information about bucket permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/example-policies-s3.html\">User policy examples</a> in the \n         <i>Amazon S3 User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key-value pairs associated with this request.  </p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateBatchImportJobResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#CreateBatchPredictionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateBatchPredictionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateBatchPredictionJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a batch prediction job.</p>"
      }
    },
    "com.amazonaws.frauddetector#CreateBatchPredictionJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch prediction job.</p>",
            "smithy.api#required": {}
          }
        },
        "inputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of your training file.</p>",
            "smithy.api#required": {}
          }
        },
        "outputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of your output file.</p>",
            "smithy.api#required": {}
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorVersion": {
          "target": "com.amazonaws.frauddetector#wholeNumberVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version.</p>"
          }
        },
        "iamRoleArn": {
          "target": "com.amazonaws.frauddetector#iamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role to use for this job request.</p>\n         <p>The IAM Role must have read permissions to your input S3 bucket and write permissions to your output S3 bucket.\n         For more information about bucket permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/example-policies-s3.html\">User policy examples</a> in the \n         <i>Amazon S3 User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateBatchPredictionJobResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#CreateDetectorVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateDetectorVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateDetectorVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a detector version. The detector version starts in a <code>DRAFT</code> status.</p>"
      }
    },
    "com.amazonaws.frauddetector#CreateDetectorVersionRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector under which you want to create a new version.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the detector version.</p>"
          }
        },
        "externalModelEndpoints": {
          "target": "com.amazonaws.frauddetector#ListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Sagemaker model endpoints to include in the detector version.</p>"
          }
        },
        "rules": {
          "target": "com.amazonaws.frauddetector#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules to include in the detector version.</p>",
            "smithy.api#required": {}
          }
        },
        "modelVersions": {
          "target": "com.amazonaws.frauddetector#ListOfModelVersions",
          "traits": {
            "smithy.api#documentation": "<p>The model versions to include in the detector version.</p>"
          }
        },
        "ruleExecutionMode": {
          "target": "com.amazonaws.frauddetector#RuleExecutionMode",
          "traits": {
            "smithy.api#documentation": "<p>The rule execution mode for the rules included in the detector version.</p>\n\t        <p>You can define and edit the rule mode at the detector version level, when it is in draft status.</p>\n\t        <p>If you specify <code>FIRST_MATCHED</code>, Amazon Fraud Detector evaluates rules sequentially, first to last, stopping at the first matched rule. Amazon Fraud dectector then provides the outcomes for that single rule.</p>\n\t        <p>If you specifiy <code>ALL_MATCHED</code>, Amazon Fraud Detector evaluates all rules and returns the outcomes for all matched rules. </p>\n         <p>The default behavior is <code>FIRST_MATCHED</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateDetectorVersionResult": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the created version's parent detector.</p>"
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.frauddetector#wholeNumberVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the created detector. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.frauddetector#DetectorVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the detector version.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateModelRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateModelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a model using the specified model type.</p>"
      }
    },
    "com.amazonaws.frauddetector#CreateModelRequest": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.frauddetector#modelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID.</p>",
            "smithy.api#required": {}
          }
        },
        "modelType": {
          "target": "com.amazonaws.frauddetector#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The model description. </p>"
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateModelResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#CreateModelVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateModelVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateModelVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a version of the model using the specified model type and model id.\n        </p>"
      }
    },
    "com.amazonaws.frauddetector#CreateModelVersionRequest": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.frauddetector#modelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID. </p>",
            "smithy.api#required": {}
          }
        },
        "modelType": {
          "target": "com.amazonaws.frauddetector#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingDataSource": {
          "target": "com.amazonaws.frauddetector#TrainingDataSourceEnum",
          "traits": {
            "smithy.api#documentation": "<p>The training data source location in Amazon S3. </p>",
            "smithy.api#required": {}
          }
        },
        "trainingDataSchema": {
          "target": "com.amazonaws.frauddetector#TrainingDataSchema",
          "traits": {
            "smithy.api#documentation": "<p>The training data schema.</p>",
            "smithy.api#required": {}
          }
        },
        "externalEventsDetail": {
          "target": "com.amazonaws.frauddetector#ExternalEventsDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of the external events data used for model version training. Required if <code>trainingDataSource</code> is <code>EXTERNAL_EVENTS</code>.</p>"
          }
        },
        "ingestedEventsDetail": {
          "target": "com.amazonaws.frauddetector#IngestedEventsDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of the ingested events data used for model version training. Required if <code>trainingDataSource</code> is <code>INGESTED_EVENTS</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateModelVersionResult": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.frauddetector#modelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID.</p>"
          }
        },
        "modelType": {
          "target": "com.amazonaws.frauddetector#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>"
          }
        },
        "modelVersionNumber": {
          "target": "com.amazonaws.frauddetector#floatVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The model version number of the model version created.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The model version status. </p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateRuleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a rule for use with the specified detector. </p>"
      }
    },
    "com.amazonaws.frauddetector#CreateRuleRequest": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The rule ID.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID for the rule's parent detector.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The rule description.</p>"
          }
        },
        "expression": {
          "target": "com.amazonaws.frauddetector#ruleExpression",
          "traits": {
            "smithy.api#documentation": "<p>The rule expression.</p>",
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "com.amazonaws.frauddetector#Language",
          "traits": {
            "smithy.api#documentation": "<p>The language of the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "outcomes": {
          "target": "com.amazonaws.frauddetector#NonEmptyListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The outcome or outcomes returned when the rule expression matches.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateRuleResult": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.amazonaws.frauddetector#Rule",
          "traits": {
            "smithy.api#documentation": "<p>The created rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateVariable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateVariableRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateVariableResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a variable.</p>"
      }
    },
    "com.amazonaws.frauddetector#CreateVariableRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variable.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.frauddetector#DataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type.</p>",
            "smithy.api#required": {}
          }
        },
        "dataSource": {
          "target": "com.amazonaws.frauddetector#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the data.</p>",
            "smithy.api#required": {}
          }
        },
        "defaultValue": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The default value for the variable when no value is received.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>"
          }
        },
        "variableType": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The variable type. For more information see <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/create-a-variable.html#variable-types\">Variable types</a>.\n\t\t\t\t</p>\n         <p>Valid Values: <code>AUTH_CODE | AVS | BILLING_ADDRESS_L1 | BILLING_ADDRESS_L2 | BILLING_CITY | BILLING_COUNTRY | BILLING_NAME | BILLING_PHONE | BILLING_STATE | BILLING_ZIP | CARD_BIN | CATEGORICAL | CURRENCY_CODE | EMAIL_ADDRESS | FINGERPRINT | FRAUD_LABEL | FREE_FORM_TEXT | IP_ADDRESS | NUMERIC | ORDER_ID | PAYMENT_TYPE | PHONE_NUMBER | PRICE | PRODUCT_CATEGORY | SHIPPING_ADDRESS_L1 | SHIPPING_ADDRESS_L2 | SHIPPING_CITY | SHIPPING_COUNTRY | SHIPPING_NAME | SHIPPING_PHONE | SHIPPING_STATE | SHIPPING_ZIP | USERAGENT</code>\n         </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateVariableResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#CsvIndexToVariableMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.frauddetector#string"
      },
      "value": {
        "target": "com.amazonaws.frauddetector#string"
      }
    },
    "com.amazonaws.frauddetector#DataSource": {
      "type": "enum",
      "members": {
        "EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVENT"
          }
        },
        "MODEL_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_SCORE"
          }
        },
        "EXTERNAL_MODEL_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_MODEL_SCORE"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DataType": {
      "type": "enum",
      "members": {
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DataValidationMetrics": {
      "type": "structure",
      "members": {
        "fileLevelMessages": {
          "target": "com.amazonaws.frauddetector#fileValidationMessageList",
          "traits": {
            "smithy.api#documentation": "<p>The file-specific model training data validation messages.</p>"
          }
        },
        "fieldLevelMessages": {
          "target": "com.amazonaws.frauddetector#fieldValidationMessageList",
          "traits": {
            "smithy.api#documentation": "<p>The field-specific model training validation messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The model training data validation metrics.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteAuditHistory": {
      "type": "boolean"
    },
    "com.amazonaws.frauddetector#DeleteBatchImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteBatchImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteBatchImportJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified batch import job ID record. This action does not delete the data that was batch imported.  </p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteBatchImportJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch import job to delete. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteBatchImportJobResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteBatchPredictionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteBatchPredictionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteBatchPredictionJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a batch prediction job.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteBatchPredictionJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch prediction job to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteBatchPredictionJobResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteDetectorResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the detector. Before deleting a detector, you must first delete all detector versions and rule versions associated with the detector.</p>\n\t        <p>When you delete a detector, Amazon Fraud Detector permanently deletes the detector and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteDetectorRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteDetectorResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteDetectorVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteDetectorVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteDetectorVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the detector version. You cannot delete detector versions that are in <code>ACTIVE</code> status.</p>\n\t  \t     <p>When you delete a detector version, Amazon Fraud Detector permanently deletes the detector and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteDetectorVersionRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent detector for the detector version to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.frauddetector#wholeNumberVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector version to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteDetectorVersionResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteEntityType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteEntityTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteEntityTypeResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an entity type.</p>\n\t        <p>You cannot delete an entity type that is included in an event type.</p>\n\t        <p>When you delete an entity type, Amazon Fraud Detector permanently deletes that entity type and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteEntityTypeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity type to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteEntityTypeResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteEventRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteEventResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified event.</p>\n\t        <p>When you delete an event, Amazon Fraud Detector permanently deletes that event and the event data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteEventRequest": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the event to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>",
            "smithy.api#required": {}
          }
        },
        "deleteAuditHistory": {
          "target": "com.amazonaws.frauddetector#DeleteAuditHistory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not to delete any predictions associated with the event.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteEventResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteEventType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteEventTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteEventTypeResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an event type.</p>\n\t        <p>You cannot delete an event type that is used in a detector or a model.</p>\n\t        <p>When you delete an event type, Amazon Fraud Detector permanently deletes that event type and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteEventTypeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteEventTypeResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteEventsByEventType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteEventsByEventTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteEventsByEventTypeResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all events of a particular event type.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteEventsByEventTypeRequest": {
      "type": "structure",
      "members": {
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteEventsByEventTypeResult": {
      "type": "structure",
      "members": {
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>Name of event type for which to delete the events.</p>"
          }
        },
        "eventsDeletionStatus": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The status of the delete request.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteExternalModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteExternalModelRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteExternalModelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a SageMaker model from Amazon Fraud Detector.</p>\n\t        <p>You can remove an Amazon SageMaker model if it is not associated with a detector version. Removing a SageMaker model disconnects it from Amazon Fraud Detector, but the model remains available in SageMaker.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteExternalModelRequest": {
      "type": "structure",
      "members": {
        "modelEndpoint": {
          "target": "com.amazonaws.frauddetector#sageMakerEndpointIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the Amazon Sagemaker model to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteExternalModelResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteLabel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteLabelRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteLabelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
[...]
