{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.frauddetector#AWSHawksNestServiceFacade": {
      "type": "service",
      "version": "2019-11-15",
      "operations": [
        {
          "target": "com.amazonaws.frauddetector#BatchCreateVariable"
        },
        {
          "target": "com.amazonaws.frauddetector#BatchGetVariable"
        },
        {
          "target": "com.amazonaws.frauddetector#CancelBatchPredictionJob"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateBatchPredictionJob"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateDetectorVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateModel"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateModelVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateRule"
        },
        {
          "target": "com.amazonaws.frauddetector#CreateVariable"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteBatchPredictionJob"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteDetector"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteDetectorVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteEntityType"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteEvent"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteEventType"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteExternalModel"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteLabel"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteModel"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteModelVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteOutcome"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteRule"
        },
        {
          "target": "com.amazonaws.frauddetector#DeleteVariable"
        },
        {
          "target": "com.amazonaws.frauddetector#DescribeDetector"
        },
        {
          "target": "com.amazonaws.frauddetector#DescribeModelVersions"
        },
        {
          "target": "com.amazonaws.frauddetector#GetBatchPredictionJobs"
        },
        {
          "target": "com.amazonaws.frauddetector#GetDetectors"
        },
        {
          "target": "com.amazonaws.frauddetector#GetDetectorVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#GetEntityTypes"
        },
        {
          "target": "com.amazonaws.frauddetector#GetEventPrediction"
        },
        {
          "target": "com.amazonaws.frauddetector#GetEventTypes"
        },
        {
          "target": "com.amazonaws.frauddetector#GetExternalModels"
        },
        {
          "target": "com.amazonaws.frauddetector#GetKMSEncryptionKey"
        },
        {
          "target": "com.amazonaws.frauddetector#GetLabels"
        },
        {
          "target": "com.amazonaws.frauddetector#GetModels"
        },
        {
          "target": "com.amazonaws.frauddetector#GetModelVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#GetOutcomes"
        },
        {
          "target": "com.amazonaws.frauddetector#GetRules"
        },
        {
          "target": "com.amazonaws.frauddetector#GetVariables"
        },
        {
          "target": "com.amazonaws.frauddetector#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.frauddetector#PutDetector"
        },
        {
          "target": "com.amazonaws.frauddetector#PutEntityType"
        },
        {
          "target": "com.amazonaws.frauddetector#PutEventType"
        },
        {
          "target": "com.amazonaws.frauddetector#PutExternalModel"
        },
        {
          "target": "com.amazonaws.frauddetector#PutKMSEncryptionKey"
        },
        {
          "target": "com.amazonaws.frauddetector#PutLabel"
        },
        {
          "target": "com.amazonaws.frauddetector#PutOutcome"
        },
        {
          "target": "com.amazonaws.frauddetector#TagResource"
        },
        {
          "target": "com.amazonaws.frauddetector#UntagResource"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateDetectorVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateDetectorVersionMetadata"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateDetectorVersionStatus"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateModel"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateModelVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateModelVersionStatus"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateRuleMetadata"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateRuleVersion"
        },
        {
          "target": "com.amazonaws.frauddetector#UpdateVariable"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "FraudDetector",
          "arnNamespace": "frauddetector",
          "cloudFormationName": "FraudDetector",
          "cloudTrailEventSource": "frauddetector.amazonaws.com",
          "endpointPrefix": "frauddetector"
        },
        "aws.auth#sigv4": {
          "name": "frauddetector"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>This is the Amazon Fraud Detector API Reference. This guide is for developers who need\n            detailed information about Amazon Fraud Detector API actions, data types, and errors. For\n            more information about Amazon Fraud Detector features, see the <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/\">Amazon Fraud Detector User Guide</a>.</p>",
        "smithy.api#title": "Amazon Fraud Detector",
        "smithy.api#xmlNamespace": {
          "uri": "http://hawksnest.amazonaws.com/doc/2019-11-15"
        }
      }
    },
    "com.amazonaws.frauddetector#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.frauddetector#AsyncJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS_INITIALIZING",
            "name": "IN_PROGRESS_INITIALIZING"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "CANCEL_IN_PROGRESS",
            "name": "CANCEL_IN_PROGRESS"
          },
          {
            "value": "CANCELED",
            "name": "CANCELED"
          },
          {
            "value": "COMPLETE",
            "name": "COMPLETE"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.frauddetector#BatchCreateVariable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#BatchCreateVariableRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#BatchCreateVariableResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a batch of variables.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchCreateVariableError": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The name.</p>"
          }
        },
        "code": {
          "target": "com.amazonaws.frauddetector#Integer2",
          "traits": {
            "smithy.api#documentation": "<p>The error code. </p>"
          }
        },
        "message": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the error of the batch create variable API.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchCreateVariableErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#BatchCreateVariableError"
      }
    },
    "com.amazonaws.frauddetector#BatchCreateVariableRequest": {
      "type": "structure",
      "members": {
        "variableEntries": {
          "target": "com.amazonaws.frauddetector#VariableEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of variables for the batch create variable request.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#BatchCreateVariableResult": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.frauddetector#BatchCreateVariableErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Provides the errors for the <code>BatchCreateVariable</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#BatchGetVariable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#BatchGetVariableRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#BatchGetVariableResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a batch of variables.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchGetVariableError": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The error name. </p>"
          }
        },
        "code": {
          "target": "com.amazonaws.frauddetector#Integer2",
          "traits": {
            "smithy.api#documentation": "<p>The error code. </p>"
          }
        },
        "message": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the error of the batch get variable API.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchGetVariableErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#BatchGetVariableError"
      }
    },
    "com.amazonaws.frauddetector#BatchGetVariableRequest": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.amazonaws.frauddetector#NameList",
          "traits": {
            "smithy.api#documentation": "<p>The list of variable names to get.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#BatchGetVariableResult": {
      "type": "structure",
      "members": {
        "variables": {
          "target": "com.amazonaws.frauddetector#VariableList",
          "traits": {
            "smithy.api#documentation": "<p>The returned variables.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.frauddetector#BatchGetVariableErrorList",
          "traits": {
            "smithy.api#documentation": "<p>The errors from the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#BatchPrediction": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The job ID for the batch prediction.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.frauddetector#AsyncJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The batch prediction status.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The reason a batch prediction job failed.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the batch prediction job started.</p>"
          }
        },
        "completionTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the batch prediction job comleted.</p>"
          }
        },
        "lastHeartbeatTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of most recent heartbeat indicating the batch prediction job was making progress.</p>"
          }
        },
        "inputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of your training file.</p>"
          }
        },
        "outputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of your output file.</p>"
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>"
          }
        },
        "detectorName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector.</p>"
          }
        },
        "detectorVersion": {
          "target": "com.amazonaws.frauddetector#floatVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version. </p>"
          }
        },
        "iamRoleArn": {
          "target": "com.amazonaws.frauddetector#iamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role to use for this job request.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.frauddetector#fraudDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of batch prediction job.</p>"
          }
        },
        "processedRecordsCount": {
          "target": "com.amazonaws.frauddetector#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of records processed by the batch prediction job.</p>"
          }
        },
        "totalRecordsCount": {
          "target": "com.amazonaws.frauddetector#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of records in the batch prediction job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The batch prediction details.</p>"
      }
    },
    "com.amazonaws.frauddetector#BatchPredictionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#BatchPrediction"
      }
    },
    "com.amazonaws.frauddetector#CancelBatchPredictionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CancelBatchPredictionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CancelBatchPredictionJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified batch prediction job.</p>"
      }
    },
    "com.amazonaws.frauddetector#CancelBatchPredictionJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch prediction job to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CancelBatchPredictionJobResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception indicating there was a conflict during a delete operation. The following delete operations can cause a conflict exception:</p>\n\t        <ul>\n            <li>\n               <p>DeleteDetector: A conflict exception will occur if the detector has associated <code>Rules</code> or <code>DetectorVersions</code>. You can only delete a detector if it has no <code>Rules</code> or <code>DetectorVersions</code>.</p>\n            </li>\n            <li>\n               <p>DeleteDetectorVersion: A conflict exception will occur if the <code>DetectorVersion</code> status is <code>ACTIVE</code>.</p>\n            </li>\n            <li>\n               <p>DeleteRule: A conflict exception will occur if the <code>RuleVersion</code> is in use by an associated <code>ACTIVE</code> or <code>INACTIVE DetectorVersion</code>.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.frauddetector#CreateBatchPredictionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateBatchPredictionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateBatchPredictionJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a batch prediction job.</p>"
      }
    },
    "com.amazonaws.frauddetector#CreateBatchPredictionJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch prediction job.</p>",
            "smithy.api#required": {}
          }
        },
        "inputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of your training file.</p>",
            "smithy.api#required": {}
          }
        },
        "outputPath": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of your output file.</p>",
            "smithy.api#required": {}
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorVersion": {
          "target": "com.amazonaws.frauddetector#wholeNumberVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version.</p>"
          }
        },
        "iamRoleArn": {
          "target": "com.amazonaws.frauddetector#iamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role to use for this job request.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateBatchPredictionJobResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#CreateDetectorVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateDetectorVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateDetectorVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a detector version. The detector version starts in a <code>DRAFT</code> status.</p>"
      }
    },
    "com.amazonaws.frauddetector#CreateDetectorVersionRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector under which you want to create a new version.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the detector version.</p>"
          }
        },
        "externalModelEndpoints": {
          "target": "com.amazonaws.frauddetector#ListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Sagemaker model endpoints to include in the detector version.</p>"
          }
        },
        "rules": {
          "target": "com.amazonaws.frauddetector#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules to include in the detector version.</p>",
            "smithy.api#required": {}
          }
        },
        "modelVersions": {
          "target": "com.amazonaws.frauddetector#ListOfModelVersions",
          "traits": {
            "smithy.api#documentation": "<p>The model versions to include in the detector version.</p>"
          }
        },
        "ruleExecutionMode": {
          "target": "com.amazonaws.frauddetector#RuleExecutionMode",
          "traits": {
            "smithy.api#documentation": "<p>The rule execution mode for the rules included in the detector version.</p>\n\t        <p>You can define and edit the rule mode at the detector version level, when it is in draft status.</p>\n\t        <p>If you specify <code>FIRST_MATCHED</code>, Amazon Fraud Detector evaluates rules sequentially, first to last, stopping at the first matched rule. Amazon Fraud dectector then provides the outcomes for that single rule.</p>\n\t        <p>If you specifiy <code>ALL_MATCHED</code>, Amazon Fraud Detector evaluates all rules and returns the outcomes for all matched rules. </p>\n         <p>The default behavior is <code>FIRST_MATCHED</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateDetectorVersionResult": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the created version's parent detector.</p>"
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.frauddetector#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the created detector. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.frauddetector#DetectorVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the detector version.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateModelRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateModelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a model using the specified model type.</p>"
      }
    },
    "com.amazonaws.frauddetector#CreateModelRequest": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.frauddetector#modelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID.</p>",
            "smithy.api#required": {}
          }
        },
        "modelType": {
          "target": "com.amazonaws.frauddetector#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The model description. </p>"
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateModelResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#CreateModelVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateModelVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateModelVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a version of the model using the specified model type and model id.\n        </p>"
      }
    },
    "com.amazonaws.frauddetector#CreateModelVersionRequest": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.frauddetector#modelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID. </p>",
            "smithy.api#required": {}
          }
        },
        "modelType": {
          "target": "com.amazonaws.frauddetector#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingDataSource": {
          "target": "com.amazonaws.frauddetector#TrainingDataSourceEnum",
          "traits": {
            "smithy.api#documentation": "<p>The training data source location in Amazon S3. </p>",
            "smithy.api#required": {}
          }
        },
        "trainingDataSchema": {
          "target": "com.amazonaws.frauddetector#TrainingDataSchema",
          "traits": {
            "smithy.api#documentation": "<p>The training data schema.</p>",
            "smithy.api#required": {}
          }
        },
        "externalEventsDetail": {
          "target": "com.amazonaws.frauddetector#ExternalEventsDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details for the external events data used for model version training. Required if <code>trainingDataSource</code> is <code>EXTERNAL_EVENTS</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateModelVersionResult": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.frauddetector#modelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID.</p>"
          }
        },
        "modelType": {
          "target": "com.amazonaws.frauddetector#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>"
          }
        },
        "modelVersionNumber": {
          "target": "com.amazonaws.frauddetector#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The model version number of the model version created.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The model version status. </p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateRuleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a rule for use with the specified detector. </p>"
      }
    },
    "com.amazonaws.frauddetector#CreateRuleRequest": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The rule ID.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID for the rule's parent detector.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The rule description.</p>"
          }
        },
        "expression": {
          "target": "com.amazonaws.frauddetector#ruleExpression",
          "traits": {
            "smithy.api#documentation": "<p>The rule expression.</p>",
            "smithy.api#required": {}
          }
        },
        "language": {
          "target": "com.amazonaws.frauddetector#Language",
          "traits": {
            "smithy.api#documentation": "<p>The language of the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "outcomes": {
          "target": "com.amazonaws.frauddetector#NonEmptyListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The outcome or outcomes returned when the rule expression matches.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateRuleResult": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.amazonaws.frauddetector#Rule",
          "traits": {
            "smithy.api#documentation": "<p>The created rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateVariable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#CreateVariableRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#CreateVariableResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a variable.</p>"
      }
    },
    "com.amazonaws.frauddetector#CreateVariableRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variable.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.frauddetector#DataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type.</p>",
            "smithy.api#required": {}
          }
        },
        "dataSource": {
          "target": "com.amazonaws.frauddetector#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the data.</p>",
            "smithy.api#required": {}
          }
        },
        "defaultValue": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The default value for the variable when no value is received.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>"
          }
        },
        "variableType": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The variable type. For more information see <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/create-a-variable.html#variable-types\">Variable types</a>.\n\t\t\t\t</p>\n         <p>Valid Values: <code>AUTH_CODE | AVS | BILLING_ADDRESS_L1 | BILLING_ADDRESS_L2 | BILLING_CITY | BILLING_COUNTRY | BILLING_NAME | BILLING_PHONE | BILLING_STATE | BILLING_ZIP | CARD_BIN | CATEGORICAL | CURRENCY_CODE | EMAIL_ADDRESS | FINGERPRINT | FRAUD_LABEL | FREE_FORM_TEXT | IP_ADDRESS | NUMERIC | ORDER_ID | PAYMENT_TYPE | PHONE_NUMBER | PRICE | PRODUCT_CATEGORY | SHIPPING_ADDRESS_L1 | SHIPPING_ADDRESS_L2 | SHIPPING_CITY | SHIPPING_COUNTRY | SHIPPING_NAME | SHIPPING_PHONE | SHIPPING_STATE | SHIPPING_ZIP | USERAGENT</code>\n         </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.frauddetector#tagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key and value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#CreateVariableResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#CsvIndexToVariableMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.frauddetector#string"
      },
      "value": {
        "target": "com.amazonaws.frauddetector#string"
      }
    },
    "com.amazonaws.frauddetector#DataSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EVENT",
            "name": "EVENT"
          },
          {
            "value": "MODEL_SCORE",
            "name": "MODEL_SCORE"
          },
          {
            "value": "EXTERNAL_MODEL_SCORE",
            "name": "EXTERNAL_MODEL_SCORE"
          }
        ]
      }
    },
    "com.amazonaws.frauddetector#DataType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STRING",
            "name": "STRING"
          },
          {
            "value": "INTEGER",
            "name": "INTEGER"
          },
          {
            "value": "FLOAT",
            "name": "FLOAT"
          },
          {
            "value": "BOOLEAN",
            "name": "BOOLEAN"
          }
        ]
      }
    },
    "com.amazonaws.frauddetector#DataValidationMetrics": {
      "type": "structure",
      "members": {
        "fileLevelMessages": {
          "target": "com.amazonaws.frauddetector#fileValidationMessageList",
          "traits": {
            "smithy.api#documentation": "<p>The file-specific model training validation messages.</p>"
          }
        },
        "fieldLevelMessages": {
          "target": "com.amazonaws.frauddetector#fieldValidationMessageList",
          "traits": {
            "smithy.api#documentation": "<p>The field-specific model training validation messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The model training validation messages.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteBatchPredictionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteBatchPredictionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteBatchPredictionJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a batch prediction job.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteBatchPredictionJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the batch prediction job to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteBatchPredictionJobResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteDetectorResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the detector. Before deleting a detector, you must first delete all detector versions and rule versions associated with the detector.</p>\n\t        <p>When you delete a detector, Amazon Fraud Detector permanently deletes the detector and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteDetectorRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteDetectorResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteDetectorVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteDetectorVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteDetectorVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the detector version. You cannot delete detector versions that are in <code>ACTIVE</code> status.</p>\n\t  \t     <p>When you delete a detector version, Amazon Fraud Detector permanently deletes the detector and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteDetectorVersionRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent detector for the detector version to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.frauddetector#wholeNumberVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector version to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteDetectorVersionResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteEntityType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteEntityTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteEntityTypeResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an entity type.</p>\n\t        <p>You cannot delete an entity type that is included in an event type.</p>\n\t        <p>When you delete an entity type, Amazon Fraud Detector permanently deletes that entity type and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteEntityTypeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity type to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteEntityTypeResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteEventRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteEventResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified event.</p>\n\t        <p>When you delete an event, Amazon Fraud Detector permanently deletes that event and the event data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteEventRequest": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the event to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteEventResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteEventType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteEventTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteEventTypeResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an event type.</p>\n\t        <p>You cannot delete an event type that is used in a detector or a model.</p>\n\t        <p>When you delete an entity type, Amazon Fraud Detector permanently deletes that entity type and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteEventTypeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteEventTypeResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteExternalModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteExternalModelRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteExternalModelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a SageMaker model from Amazon Fraud Detector.</p>\n\t        <p>You can remove an Amazon SageMaker model if it is not associated with a detector version. Removing a SageMaker model disconnects it from Amazon Fraud Detector, but the model remains available in SageMaker.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteExternalModelRequest": {
      "type": "structure",
      "members": {
        "modelEndpoint": {
          "target": "com.amazonaws.frauddetector#sageMakerEndpointIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the Amazon Sagemaker model to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteExternalModelResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteLabel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteLabelRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteLabelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a label.</p>\n\t        <p>You cannot delete labels that are included in an event type in Amazon Fraud Detector.</p>\n         <p>You cannot delete a label assigned to an event ID. You must first delete the relevant event ID.</p>\n\n         <p>When you delete a label, Amazon Fraud Detector permanently deletes that label and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteLabelRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the label to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteLabelResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteModelRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteModelResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a model.</p>\n\t        <p>You can delete models and model versions in Amazon Fraud Detector, provided that they are not associated with a detector version.</p>\n\t        <p> When you delete a model, Amazon Fraud Detector permanently deletes that model and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteModelRequest": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.frauddetector#modelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID of the model to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "modelType": {
          "target": "com.amazonaws.frauddetector#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type of the model to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteModelResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteModelVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteModelVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteModelVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a model version.</p>\n\t        <p>You can delete models and model versions in Amazon Fraud Detector, provided that they are not associated with a detector version.</p>\n\t        <p> When you delete a model version, Amazon Fraud Detector permanently deletes that model version and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteModelVersionRequest": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.frauddetector#modelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID of the model version to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "modelType": {
          "target": "com.amazonaws.frauddetector#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type of the model version to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "modelVersionNumber": {
          "target": "com.amazonaws.frauddetector#floatVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The model version number of the model version to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteModelVersionResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteOutcome": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteOutcomeRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteOutcomeResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an outcome.</p>\n\t        <p>You cannot delete an outcome that is used in a rule version.</p>\n\t        <p>When you delete an outcome, Amazon Fraud Detector permanently deletes that outcome and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteOutcomeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the outcome to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteOutcomeResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteRuleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the rule. You cannot delete a rule if it is used by an <code>ACTIVE</code> or <code>INACTIVE</code> detector version.</p>\n\t  \t     <p>When you delete a rule, Amazon Fraud Detector permanently deletes that rule and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteRuleRequest": {
      "type": "structure",
      "members": {
        "rule": {
          "target": "com.amazonaws.frauddetector#Rule",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteRuleResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DeleteVariable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DeleteVariableRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DeleteVariableResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a variable.</p>\n\t        <p>You can't delete variables that are included in an event type in Amazon Fraud Detector.</p>\n\t        <p>Amazon Fraud Detector automatically deletes model output variables and SageMaker model output variables when you delete the model. You can't delete these variables manually.</p>\n\t        <p>When you delete a variable, Amazon Fraud Detector permanently deletes that variable and the data is no longer stored in Amazon Fraud Detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DeleteVariableRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variable to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DeleteVariableResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.frauddetector#DescribeDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DescribeDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DescribeDetectorResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all versions for a specified detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DescribeDetectorRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token from the previous response.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.frauddetector#DetectorVersionMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return for the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DescribeDetectorResult": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>"
          }
        },
        "detectorVersionSummaries": {
          "target": "com.amazonaws.frauddetector#DetectorVersionSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The status and description for each detector version.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token to be used for subsequent requests.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.frauddetector#fraudDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The detector ARN.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DescribeModelVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#DescribeModelVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#DescribeModelVersionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all of the model versions for the specified model type or for the specified model type and model ID. You can also get details for a single, specified model version. </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.frauddetector#DescribeModelVersionsRequest": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.frauddetector#modelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The model ID.</p>"
          }
        },
        "modelVersionNumber": {
          "target": "com.amazonaws.frauddetector#floatVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The model version number.</p>"
          }
        },
        "modelType": {
          "target": "com.amazonaws.frauddetector#ModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The model type.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token from the previous results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.frauddetector#modelsMaxPageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#DescribeModelVersionsResult": {
      "type": "structure",
      "members": {
        "modelVersionDetails": {
          "target": "com.amazonaws.frauddetector#modelVersionDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The model version details.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#Detector": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The detector description.</p>"
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event type.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the detector was last updated.</p>"
          }
        },
        "createdTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the detector was created.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.frauddetector#fraudDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The detector ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The detector.</p>"
      }
    },
    "com.amazonaws.frauddetector#DetectorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#Detector"
      }
    },
    "com.amazonaws.frauddetector#DetectorVersionMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1000,
          "max": 2500
        }
      }
    },
    "com.amazonaws.frauddetector#DetectorVersionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DRAFT",
            "name": "DRAFT"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.frauddetector#DetectorVersionSummary": {
      "type": "structure",
      "members": {
        "detectorVersionId": {
          "target": "com.amazonaws.frauddetector#nonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version ID. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.frauddetector#DetectorVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The detector version status. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The detector version description. </p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the detector version was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the detector version.</p>"
      }
    },
    "com.amazonaws.frauddetector#DetectorVersionSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#DetectorVersionSummary"
      }
    },
    "com.amazonaws.frauddetector#DetectorsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 5,
          "max": 10
        }
      }
    },
    "com.amazonaws.frauddetector#Entity": {
      "type": "structure",
      "members": {
        "entityType": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The entity type.</p>",
            "smithy.api#required": {}
          }
        },
        "entityId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The entity ID. If you do not know the <code>entityId</code>, you can pass <code>unknown</code>, which is areserved string literal.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The entity details. </p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.frauddetector#EntityType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The entity type name.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The entity type description.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the entity type was last updated.</p>"
          }
        },
        "createdTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the entity type was created.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.frauddetector#fraudDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The entity type ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The entity type details.</p>"
      }
    },
    "com.amazonaws.frauddetector#EventType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The event type name.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The event type description.</p>"
          }
        },
        "eventVariables": {
          "target": "com.amazonaws.frauddetector#ListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The event type event variables.</p>"
          }
        },
        "labels": {
          "target": "com.amazonaws.frauddetector#ListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The event type labels.</p>"
          }
        },
        "entityTypes": {
          "target": "com.amazonaws.frauddetector#NonEmptyListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The event type entity types.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the event type was last updated.</p>"
          }
        },
        "createdTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the event type was created.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.frauddetector#fraudDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The entity type ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The event type details.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.frauddetector#EventVariableMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.frauddetector#variableName"
      },
      "value": {
        "target": "com.amazonaws.frauddetector#variableValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.frauddetector#ExternalEventsDetail": {
      "type": "structure",
      "members": {
        "dataLocation": {
          "target": "com.amazonaws.frauddetector#s3BucketLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket location for the data.</p>",
            "smithy.api#required": {}
          }
        },
        "dataAccessRoleArn": {
          "target": "com.amazonaws.frauddetector#iamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that provides Amazon Fraud Detector access to the data location.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for the external events data used for model version training.</p>"
      }
    },
    "com.amazonaws.frauddetector#ExternalModel": {
      "type": "structure",
      "members": {
        "modelEndpoint": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon SageMaker model endpoints.</p>"
          }
        },
        "modelSource": {
          "target": "com.amazonaws.frauddetector#ModelSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the model.</p>"
          }
        },
        "invokeModelEndpointRoleArn": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The role used to invoke the model. </p>"
          }
        },
        "inputConfiguration": {
          "target": "com.amazonaws.frauddetector#ModelInputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The input configuration.</p>"
          }
        },
        "outputConfiguration": {
          "target": "com.amazonaws.frauddetector#ModelOutputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The output configuration.</p>"
          }
        },
        "modelEndpointStatus": {
          "target": "com.amazonaws.frauddetector#ModelEndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Fraud Detector status for the external model endpoint</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the model was last updated.</p>"
          }
        },
        "createdTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp of when the model was last created.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.frauddetector#fraudDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The model ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon SageMaker model.</p>"
      }
    },
    "com.amazonaws.frauddetector#ExternalModelEndpointDataBlobMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.frauddetector#string"
      },
      "value": {
        "target": "com.amazonaws.frauddetector#ModelEndpointDataBlob"
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.frauddetector#ExternalModelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.frauddetector#ExternalModel"
      }
    },
    "com.amazonaws.frauddetector#ExternalModelOutputs": {
      "type": "structure",
      "members": {
        "externalModel": {
          "target": "com.amazonaws.frauddetector#ExternalModelSummary",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon SageMaker model.</p>"
          }
        },
        "outputs": {
          "target": "com.amazonaws.frauddetector#ExternalModelPredictionMap",
          "traits": {
            "smithy.api#documentation": "<p>The fraud prediction scores from Amazon SageMaker model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The fraud prediction scores from Amazon SageMaker model.</p>"
      }
    },
    "com.amazonaws.frauddetector#ExternalModelPredictionMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.frauddetector#string"
      },
      "value": {
        "target": "com.amazonaws.frauddetector#string"
      }
    },
    "com.amazonaws.frauddetector#ExternalModelSummary": {
      "type": "structure",
      "members": {
        "modelEndpoint": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the Amazon SageMaker model.</p>"
          }
        },
        "modelSource": {
          "target": "com.amazonaws.frauddetector#ModelSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon SageMaker model.</p>"
      }
    },
    "com.amazonaws.frauddetector#ExternalModelsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 5,
          "max": 10
        }
      }
    },
    "com.amazonaws.frauddetector#FieldValidationMessage": {
      "type": "structure",
      "members": {
        "fieldName": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The field name.</p>"
          }
        },
        "identifier": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The message ID.</p>"
          }
        },
        "title": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The message title.</p>"
          }
        },
        "content": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The message content.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The message type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The message details.</p>"
      }
    },
    "com.amazonaws.frauddetector#FileValidationMessage": {
      "type": "structure",
      "members": {
        "title": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The message title.</p>"
          }
        },
        "content": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The message content.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The message type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The message details.</p>"
      }
    },
    "com.amazonaws.frauddetector#GetBatchPredictionJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#GetBatchPredictionJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#GetBatchPredictionJobsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all batch prediction jobs or a specific job if you specify a job ID. This is a paginated API. If you provide a null maxResults, this action retrieves a maximum of 50 records per page. If you provide a maxResults, the value must be between 1 and 50. To get the next page results, provide the pagination token from the GetBatchPredictionJobsResponse as part of your request. A null pagination token fetches the records from the beginning.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.frauddetector#GetBatchPredictionJobsRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The batch prediction job for which to get the details.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.frauddetector#batchPredictionsMaxPageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects to return for the request.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token from the previous request.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#GetBatchPredictionJobsResult": {
      "type": "structure",
      "members": {
        "batchPredictions": {
          "target": "com.amazonaws.frauddetector#BatchPredictionList",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the details of each batch prediction job.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token for the subsequent request.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#GetDetectorVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#GetDetectorVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#GetDetectorVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a particular detector version. </p>"
      }
    },
    "com.amazonaws.frauddetector#GetDetectorVersionRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.frauddetector#wholeNumberVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.frauddetector#GetDetectorVersionResult": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>"
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.frauddetector#wholeNumberVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version ID.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.frauddetector#description",
          "traits": {
            "smithy.api#documentation": "<p>The detector version description.</p>"
          }
        },
        "externalModelEndpoints": {
          "target": "com.amazonaws.frauddetector#ListOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon SageMaker model endpoints included in the detector version.</p>"
          }
        },
        "modelVersions": {
          "target": "com.amazonaws.frauddetector#ListOfModelVersions",
          "traits": {
            "smithy.api#documentation": "<p>The model versions included in the detector version. </p>"
          }
        },
        "rules": {
          "target": "com.amazonaws.frauddetector#RuleList",
          "traits": {
            "smithy.api#documentation": "<p>The rules included in the detector version.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.frauddetector#DetectorVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the detector version.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the detector version was last updated.\n        </p>"
          }
        },
        "createdTime": {
          "target": "com.amazonaws.frauddetector#time",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the detector version was created. </p>"
          }
        },
        "ruleExecutionMode": {
          "target": "com.amazonaws.frauddetector#RuleExecutionMode",
          "traits": {
            "smithy.api#documentation": "<p>The execution mode of the rule in the dectector</p>\n\t        <p>\n            <code>FIRST_MATCHED</code> indicates that Amazon Fraud Detector evaluates rules sequentially, first to last, stopping at the first matched rule. Amazon Fraud dectector then provides the outcomes for that single rule.</p>\n\t        <p>\n            <code>ALL_MATCHED</code> indicates that Amazon Fraud Detector evaluates all rules and returns the outcomes for all matched rules. You can define and edit the rule mode at the detector version level, when it is in draft status.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.frauddetector#fraudDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The detector version ARN.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#GetDetectors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#GetDetectorsRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#GetDetectorsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all detectors or a single detector if a <code>detectorId</code> is specified. This is a paginated API. If you\n         provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records\n         per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10.\n         To get the next page results, provide the pagination token from the\n            <code>GetDetectorsResponse</code> as part of your request. A null pagination token\n         fetches the records from the beginning. </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.frauddetector#GetDetectorsRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token for the subsequent request.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.frauddetector#DetectorsMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects to return for the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#GetDetectorsResult": {
      "type": "structure",
      "members": {
        "detectors": {
          "target": "com.amazonaws.frauddetector#DetectorList",
          "traits": {
            "smithy.api#documentation": "<p>The detectors.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#GetEntityTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#GetEntityTypesRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#GetEntityTypesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all entity types or a specific entity type if a name is specified. This is a paginated API. If you\n         provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records\n         per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10.\n         To get the next page results, provide the pagination token from the\n         <code>GetEntityTypesResponse</code> as part of your request. A null pagination token\n         fetches the records from the beginning. </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.frauddetector#GetEntityTypesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.frauddetector#identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The next token for the subsequent request.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.frauddetector#entityTypesMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of objects to return for the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#GetEntityTypesResult": {
      "type": "structure",
      "members": {
        "entityTypes": {
          "target": "com.amazonaws.frauddetector#entityTypeList",
          "traits": {
            "smithy.api#documentation": "<p>An array of entity types.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The next page token.</p>"
          }
        }
      }
    },
    "com.amazonaws.frauddetector#GetEventPrediction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.frauddetector#GetEventPredictionRequest"
      },
      "output": {
        "target": "com.amazonaws.frauddetector#GetEventPredictionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.frauddetector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.frauddetector#ConflictException"
        },
        {
          "target": "com.amazonaws.frauddetector#InternalServerException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.frauddetector#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.frauddetector#ThrottlingException"
        },
        {
          "target": "com.amazonaws.frauddetector#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Evaluates an event against a detector version. If a version ID is not provided, the detector’s (<code>ACTIVE</code>) version is used.</p>"
      }
    },
    "com.amazonaws.frauddetector#GetEventPredictionRequest": {
      "type": "structure",
      "members": {
        "detectorId": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorVersionId": {
          "target": "com.amazonaws.frauddetector#wholeNumberVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The detector version ID.</p>"
          }
        },
        "eventId": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID used to identify the event.</p>",
            "smithy.api#required": {}
          }
        },
        "eventTypeName": {
          "target": "com.amazonaws.frauddetector#string",
          "traits": {
            "smithy.api#documentation": "<p>The event type associated with the detector specified for the prediction.</p>",
[...]
