{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.fsx#AWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Services account ID. This ID is a 12-digit number that you use to construct Amazon\n            Resource Names (ARNs) for resources.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.fsx#AWSSimbaAPIService_v20180301": {
      "type": "service",
      "version": "2018-03-01",
      "operations": [
        {
          "target": "com.amazonaws.fsx#AssociateFileSystemAliases"
        },
        {
          "target": "com.amazonaws.fsx#CancelDataRepositoryTask"
        },
        {
          "target": "com.amazonaws.fsx#CopyBackup"
        },
        {
          "target": "com.amazonaws.fsx#CreateBackup"
        },
        {
          "target": "com.amazonaws.fsx#CreateDataRepositoryTask"
        },
        {
          "target": "com.amazonaws.fsx#CreateFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#CreateFileSystemFromBackup"
        },
        {
          "target": "com.amazonaws.fsx#CreateStorageVirtualMachine"
        },
        {
          "target": "com.amazonaws.fsx#CreateVolume"
        },
        {
          "target": "com.amazonaws.fsx#CreateVolumeFromBackup"
        },
        {
          "target": "com.amazonaws.fsx#DeleteBackup"
        },
        {
          "target": "com.amazonaws.fsx#DeleteFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#DeleteStorageVirtualMachine"
        },
        {
          "target": "com.amazonaws.fsx#DeleteVolume"
        },
        {
          "target": "com.amazonaws.fsx#DescribeBackups"
        },
        {
          "target": "com.amazonaws.fsx#DescribeDataRepositoryTasks"
        },
        {
          "target": "com.amazonaws.fsx#DescribeFileSystemAliases"
        },
        {
          "target": "com.amazonaws.fsx#DescribeFileSystems"
        },
        {
          "target": "com.amazonaws.fsx#DescribeStorageVirtualMachines"
        },
        {
          "target": "com.amazonaws.fsx#DescribeVolumes"
        },
        {
          "target": "com.amazonaws.fsx#DisassociateFileSystemAliases"
        },
        {
          "target": "com.amazonaws.fsx#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.fsx#TagResource"
        },
        {
          "target": "com.amazonaws.fsx#UntagResource"
        },
        {
          "target": "com.amazonaws.fsx#UpdateFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#UpdateStorageVirtualMachine"
        },
        {
          "target": "com.amazonaws.fsx#UpdateVolume"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "FSx",
          "arnNamespace": "fsx",
          "cloudFormationName": "FSx",
          "cloudTrailEventSource": "fsx.amazonaws.com",
          "endpointPrefix": "fsx"
        },
        "aws.auth#sigv4": {
          "name": "fsx"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon FSx is a fully managed service that makes it easy for storage and\n            application administrators to launch and use shared file storage.</p>",
        "smithy.api#title": "Amazon FSx"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryBackupAttributes": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.fsx#ActiveDirectoryFullyQualifiedName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name of the self-managed AD directory.</p>"
          }
        },
        "ActiveDirectoryId": {
          "target": "com.amazonaws.fsx#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services Managed Microsoft Active Directory instance to which the file system is joined.</p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.fsx#ResourceARN"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Microsoft AD attributes of the Amazon FSx for Windows File Server file system.</p>"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryError": {
      "type": "structure",
      "members": {
        "ActiveDirectoryId": {
          "target": "com.amazonaws.fsx#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID of the directory that an error pertains to.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.fsx#ActiveDirectoryErrorType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Active Directory error.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Active Directory error.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryErrorType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The type of error relating to Microsoft Active Directory. NOT_FOUND means that no\n            directory was found by specifying the given directory. INCOMPATIBLE_MODE means that the\n            directory specified is not a Microsoft AD directory. WRONG_VPC means that the specified\n            directory isn't accessible from the specified VPC. WRONG_STAGE means that the\n            specified directory isn't currently in the ACTIVE state.</p>",
        "smithy.api#enum": [
          {
            "value": "DOMAIN_NOT_FOUND",
            "name": "DOMAIN_NOT_FOUND"
          },
          {
            "value": "INCOMPATIBLE_DOMAIN_MODE",
            "name": "INCOMPATIBLE_DOMAIN_MODE"
          },
          {
            "value": "WRONG_VPC",
            "name": "WRONG_VPC"
          },
          {
            "value": "INVALID_DOMAIN_STAGE",
            "name": "INVALID_DOMAIN_STAGE"
          }
        ]
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryFullyQualifiedName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{1,255}$"
      }
    },
    "com.amazonaws.fsx#AdminPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 50
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{8,50}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.fsx#AdministrativeAction": {
      "type": "structure",
      "members": {
        "AdministrativeActionType": {
          "target": "com.amazonaws.fsx#AdministrativeActionType"
        },
        "ProgressPercent": {
          "target": "com.amazonaws.fsx#ProgressPercent",
          "traits": {
            "smithy.api#documentation": "<p>Provides the percent complete of a <code>STORAGE_OPTIMIZATION</code> administrative action. \n            Does not apply to any other administrative action type.</p>"
          }
        },
        "RequestTime": {
          "target": "com.amazonaws.fsx#RequestTime",
          "traits": {
            "smithy.api#documentation": "<p>Time that the administrative action request was received.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.fsx#Status",
          "traits": {
            "smithy.api#documentation": "<p>Describes the status of the administrative action, as follows:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>FAILED</code> - Amazon FSx failed to process the administrative action successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Amazon FSx is processing the administrative action.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - Amazon FSx is waiting to process the administrative action.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - Amazon FSx has finished processing the administrative task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UPDATED_OPTIMIZING</code> - For a storage capacity increase update, Amazon FSx has\n                    updated the file system with the new storage capacity, and is now performing the\n                    storage optimization process. For more information, see\n                        <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-storage-capacity.html\">Managing\n                        storage capacity</a> in the <i>Amazon FSx for Windows File Server\n                        User Guide</i> and <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/managing-storage-capacity.html\">Managing storage\n                        and throughput capacity</a> in the <i>Amazon FSx for Lustre User\n                        Guide</i>.</p>\n            </li>\n         </ul>"
          }
        },
        "TargetFileSystemValues": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>Describes the target value for the administration action,  \n            provided in the <code>UpdateFileSystem</code> operation.  \n           Returned for <code>FILE_SYSTEM_UPDATE</code> administrative actions. \n         </p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.fsx#AdministrativeActionFailureDetails"
        },
        "TargetVolumeValues": {
          "target": "com.amazonaws.fsx#Volume"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a specific Amazon FSx administrative action for the current Windows or\n            Lustre file system.</p>"
      }
    },
    "com.amazonaws.fsx#AdministrativeActionFailureDetails": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Error message providing details about the failed administrative action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a failed administrative action.</p>"
      }
    },
    "com.amazonaws.fsx#AdministrativeActionType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Describes the type of administrative action, as follows:</p> \n        <ul>\n            <li>\n                <p>\n                  <code>FILE_SYSTEM_UPDATE</code> - A file system update administrative action initiated by the user from the \n                    Amazon FSx console, API (UpdateFileSystem), or CLI (update-file-system).</p>\n            </li>\n            <li>\n                <p>\n                  <code>STORAGE_OPTIMIZATION</code> - Once the <code>FILE_SYSTEM_UPDATE</code> \n                    task to increase a file system's storage capacity completes successfully, a \n                    <code>STORAGE_OPTIMIZATION</code> task starts.\n                    </p>\n                <ul>\n                  <li>\n                     <p>For Windows, storage optimization is the process of migrating the file system data\n                        to the new, larger disks.</p>\n                  </li>\n                  <li>\n                     <p>For Lustre, storage optimization consists of rebalancing the data across the existing and\n                            newly added file servers.</p>\n                  </li>\n               </ul>\n                <p>You can track the storage optimization progress using the\n                        <code>ProgressPercent</code> property. When\n                        <code>STORAGE_OPTIMIZATION</code> completes successfully, the parent\n                        <code>FILE_SYSTEM_UPDATE</code> action status changes to\n                        <code>COMPLETED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-storage-capacity.html\">Managing\n                        storage capacity</a> in the <i>Amazon FSx for Windows File Server\n                        User Guide</i> and <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/managing-storage-capacity.html\">Managing storage\n                        and throughput capacity</a> in the <i>Amazon FSx for Lustre User\n                        Guide</i>. </p>\n            </li>\n            <li>\n               <p>\n                  <code>FILE_SYSTEM_ALIAS_ASSOCIATION</code> - A file system update to associate a new DNS alias with the file system. \n                For more information, see\n                .</p>\n            </li>\n            <li>\n               <p>\n                  <code>FILE_SYSTEM_ALIAS_DISASSOCIATION</code> - A file system update to disassociate a DNS alias from the file system.\n                For more information, see .</p>\n            </li>\n         </ul>",
        "smithy.api#enum": [
          {
            "value": "FILE_SYSTEM_UPDATE",
            "name": "FILE_SYSTEM_UPDATE"
          },
          {
            "value": "STORAGE_OPTIMIZATION",
            "name": "STORAGE_OPTIMIZATION"
          },
          {
            "value": "FILE_SYSTEM_ALIAS_ASSOCIATION",
            "name": "FILE_SYSTEM_ALIAS_ASSOCIATION"
          },
          {
            "value": "FILE_SYSTEM_ALIAS_DISASSOCIATION",
            "name": "FILE_SYSTEM_ALIAS_DISASSOCIATION"
          }
        ]
      }
    },
    "com.amazonaws.fsx#AdministrativeActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#AdministrativeAction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#Alias": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.fsx#AlternateDNSName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DNS alias. The alias name has to meet the following requirements:</p>\n        <ul>\n            <li>\n               <p>Formatted as a fully-qualified domain name (FQDN), <code>hostname.domain</code>, for example, <code>accounting.example.com</code>.</p>\n            </li>\n            <li>\n               <p>Can contain alphanumeric characters, the underscore (_), and the hyphen (-).</p>\n            </li>\n            <li>\n               <p>Cannot start or end with a hyphen.</p>\n            </li>\n            <li>\n               <p>Can start with a numeric.</p>\n            </li>\n         </ul>\n        <p>For DNS names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: \n            as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.fsx#AliasLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>Describes the state of the DNS alias.</p>\n        <ul>\n            <li>\n               <p>AVAILABLE - The DNS alias is associated with an Amazon FSx file system.</p>\n            </li>\n            <li>\n               <p>CREATING - Amazon FSx is creating the DNS alias and associating it with the file system.</p>\n            </li>\n            <li>\n               <p>CREATE_FAILED - Amazon FSx was unable to associate the DNS alias with the file system.</p>\n            </li>\n            <li>\n               <p>DELETING - Amazon FSx is disassociating the DNS alias from the file system and deleting it.</p>\n            </li>\n            <li>\n               <p>DELETE_FAILED - Amazon FSx was unable to disassociate the DNS alias from the file system.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A DNS alias that is associated with the file system. You can use a DNS alias to access a file system using \n            user-defined DNS names, in addition to the default DNS name\n            that Amazon FSx assigns to the file system. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a> \n            in the <i>FSx for Windows File Server User Guide</i>.</p>"
      }
    },
    "com.amazonaws.fsx#AliasLifecycle": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.fsx#Aliases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#Alias"
      },
      "traits": {
        "smithy.api#documentation": "<p>An array of one or more DNS aliases that are currently associated with the Amazon FSx file system. \n            Aliases allow you to use existing DNS names to access the data in your Amazon FSx file system. \n            You can associate up to 50 aliases with a file system at any time. \n            You can associate additional DNS aliases after you create the file system using the AssociateFileSystemAliases operation. \n            You can remove DNS aliases from the file system after it is created using the DisassociateFileSystemAliases operation.\n            You only need to specify the alias name in the request payload. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a>.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#AlternateDNSName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 253
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{4,253}$"
      }
    },
    "com.amazonaws.fsx#AlternateDNSNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#AlternateDNSName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#ArchivePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 4357
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{3,4357}$"
      }
    },
    "com.amazonaws.fsx#AssociateFileSystemAliases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#AssociateFileSystemAliasesRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#AssociateFileSystemAliasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this action to associate one or more Domain Name Server (DNS) aliases with an existing Amazon FSx for Windows File Server file system. \n        A file system can have a maximum of 50 DNS aliases associated with it at any one time. If you try to \n        associate a DNS alias that is already associated with the file system, FSx takes no action on that alias in the request. \n        For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a> and \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/walkthrough05-file-system-custom-CNAME.html\">Walkthrough 5: Using DNS aliases to access your file system</a>, including\n             additional steps you must take to be able to access your file system using a DNS alias.</p>\n        <p>The system response shows the DNS aliases that \n            Amazon FSx is attempting to associate with the file system. \n            Use the  API \n            operation to monitor the status of the aliases Amazon FSx is \n            associating with the file system.</p>"
      }
    },
    "com.amazonaws.fsx#AssociateFileSystemAliasesRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file system with which you want to associate one or more DNS aliases.</p>",
            "smithy.api#required": {}
          }
        },
        "Aliases": {
          "target": "com.amazonaws.fsx#AlternateDNSNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of one or more DNS alias names to associate with the file system. \n            The alias name has to comply with the following formatting requirements:</p>\n            <ul>\n            <li>\n               <p>Formatted as a fully-qualified domain name (FQDN), <i>\n                     <code>hostname.domain</code>\n                  </i>, \n                    for example, <code>accounting.corp.example.com</code>.</p>\n            </li>\n            <li>\n               <p>Can contain alphanumeric characters and the hyphen (-).</p>\n            </li>\n            <li>\n               <p>Cannot start or end with a hyphen.</p>\n            </li>\n            <li>\n               <p>Can start with a numeric.</p>\n            </li>\n         </ul>\n        <p>For DNS alias names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: \n            as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object specifying one or more DNS alias names to associate with an Amazon FSx for Windows File Server file system.</p>"
      }
    },
    "com.amazonaws.fsx#AssociateFileSystemAliasesResponse": {
      "type": "structure",
      "members": {
        "Aliases": {
          "target": "com.amazonaws.fsx#Aliases",
          "traits": {
            "smithy.api#documentation": "<p>An array of the DNS aliases that Amazon FSx is associating with the file system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The system generated response showing the DNS aliases that \n            Amazon FSx is attempting to associate with the file system. \n            Use the  API \n            operation to monitor the status of the aliases Amazon FSx is \n            associating with the file system. It can take up to 2.5 minutes for \n        the alias status to change from <code>CREATING</code> to <code>AVAILABLE</code>. </p>"
      }
    },
    "com.amazonaws.fsx#AutoImportPolicyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "NEW",
            "name": "NEW"
          },
          {
            "value": "NEW_CHANGED",
            "name": "NEW_CHANGED"
          }
        ]
      }
    },
    "com.amazonaws.fsx#AutomaticBackupRetentionDays": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#documentation": "<p>The number of days to retain automatic backups. Setting this to 0 disables\n            automatic backups. You can retain automatic backups for a maximum of 90 days. The default is 0.</p>",
        "smithy.api#range": {
          "min": 0,
          "max": 90
        }
      }
    },
    "com.amazonaws.fsx#Backup": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.fsx#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup.</p>",
            "smithy.api#required": {}
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.fsx#BackupLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle status of the backup.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>AVAILABLE</code> - The backup is fully available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx has not started creating the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATING</code> - Amazon FSx is creating the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is transferring the backup to S3.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COPYING</code> - Amazon FSx is copying the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - Amazon FSx deleted the backup and it is no longer available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - Amazon FSx could not complete the backup.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.fsx#BackupFailureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details explaining any failures that occur when creating a backup.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.fsx#BackupType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the file system backup.</p>",
            "smithy.api#required": {}
          }
        },
        "ProgressPercent": {
          "target": "com.amazonaws.fsx#ProgressPercent"
        },
        "CreationTime": {
          "target": "com.amazonaws.fsx#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when a particular backup was created.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.fsx#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Key Management Service (KMS) key used to encrypt the \n              backup of the Amazon FSx file system's data at rest. \n              </p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.fsx#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the backup resource.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with a particular file system.</p>"
          }
        },
        "FileSystem": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>Metadata of the file system associated with the backup. This metadata is persisted\n            even if the file system is deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "DirectoryInformation": {
          "target": "com.amazonaws.fsx#ActiveDirectoryBackupAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the self-managed Microsoft Active Directory (AD) to which the Windows File Server instance is joined.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.fsx#AWSAccountId"
        },
        "SourceBackupId": {
          "target": "com.amazonaws.fsx#BackupId"
        },
        "SourceBackupRegion": {
          "target": "com.amazonaws.fsx#Region",
          "traits": {
            "smithy.api#documentation": "<p>The source Region of the backup. Specifies the Region from where this backup\n            is copied.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.fsx#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource type that is backed up.</p>"
          }
        },
        "Volume": {
          "target": "com.amazonaws.fsx#Volume"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A backup of an Amazon FSx for Windows File Server or Amazon FSx for Lustre file system,\n            or of an Amazon FSx for NetApp ONTAP volume.</p>"
      }
    },
    "com.amazonaws.fsx#BackupBeingCopied": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        },
        "BackupId": {
          "target": "com.amazonaws.fsx#BackupId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't delete a backup while it's being copied.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupFailureDetails": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the backup creation failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If backup creation fails, this structure contains the details of that\n            failure.</p>"
      }
    },
    "com.amazonaws.fsx#BackupId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the source backup. Specifies the backup you are copying.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 128
        },
        "smithy.api#pattern": "^(backup-[0-9a-f]{8,})$"
      }
    },
    "com.amazonaws.fsx#BackupIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#BackupId"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of backup IDs.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#BackupInProgress": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another backup is already under way. Wait for completion before initiating\n            additional backups of this file system.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupLifecycle": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The lifecycle status of the backup.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>AVAILABLE</code> - The backup is fully available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx has not started creating the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATING</code> - Amazon FSx is creating the new user-intiated backup</p>\n            </li>\n            <li>\n               <p>\n                  <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is backing up the file system.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COPYING</code> - Amazon FSx is copying the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - Amazon FSx deleted the backup and it is no longer available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - Amazon FSx could not complete the backup.</p>\n            </li>\n         </ul>",
        "smithy.api#enum": [
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "TRANSFERRING",
            "name": "TRANSFERRING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "COPYING",
            "name": "COPYING"
          }
        ]
      }
    },
    "com.amazonaws.fsx#BackupNotFound": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>No Amazon FSx backups were found based upon the supplied parameters.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupRestoring": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a file system being restored from the backup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't delete a backup while it's being used to restore a file\n            system.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The type of the backup.</p>",
        "smithy.api#enum": [
          {
            "value": "AUTOMATIC",
            "name": "AUTOMATIC"
          },
          {
            "value": "USER_INITIATED",
            "name": "USER_INITIATED"
          },
          {
            "value": "AWS_BACKUP",
            "name": "AWS_BACKUP"
          }
        ]
      }
    },
    "com.amazonaws.fsx#Backups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#Backup"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of file system backups.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#BadRequest": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A generic error indicating a failure with a client request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#CancelDataRepositoryTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CancelDataRepositoryTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CancelDataRepositoryTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#DataRepositoryTaskEnded"
        },
        {
          "target": "com.amazonaws.fsx#DataRepositoryTaskNotFound"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an existing Amazon FSx for Lustre data repository task if that task is in either the \n            <code>PENDING</code> or <code>EXECUTING</code> state. When you cancel a task, Amazon FSx does the following.</p>\n            <ul>\n            <li>\n               <p>Any files that FSx has already exported are not reverted.</p>\n            </li>\n            <li>\n               <p>FSx continues to export any files that are \"in-flight\" when the cancel operation is received.</p>\n            </li>\n            <li>\n               <p>FSx does not export any files that have not yet been exported.</p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CancelDataRepositoryTaskRequest": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.fsx#TaskId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data repository task to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Cancels a data repository task.</p>"
      }
    },
    "com.amazonaws.fsx#CancelDataRepositoryTaskResponse": {
      "type": "structure",
      "members": {
        "Lifecycle": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle status of the data repository task, as follows:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> - Amazon FSx has not started the task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EXECUTING</code> - Amazon FSx is processing the task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> -  Amazon FSx was not able to complete the task. For example, there may be files the task failed to process. \n                The <a>DataRepositoryTaskFailureDetails</a> property provides more information about task failures.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code> - FSx completed the task successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELED</code> - Amazon FSx canceled the task and it did not complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELING</code> - FSx is in process of canceling the task.</p>\n            </li>\n         </ul>"
          }
        },
        "TaskId": {
          "target": "com.amazonaws.fsx#TaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the task being canceled.</p>"
          }
        }
      }
    },
    "com.amazonaws.fsx#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>(Optional) An idempotency token for resource creation, in a string of up to 64\n            ASCII characters. This token is automatically filled on your behalf when you use the\n            Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[A-za-z0-9_.-]{0,63}$"
      }
    },
    "com.amazonaws.fsx#CompletionReport": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.fsx#Flag",
          "traits": {
            "smithy.api#documentation": "<p>Set <code>Enabled</code> to <code>True</code> to generate a <code>CompletionReport</code> when the task completes. \n            If set to <code>true</code>, then you need to provide a report <code>Scope</code>, <code>Path</code>, and <code>Format</code>. \n            Set <code>Enabled</code> to <code>False</code> if you do not want a <code>CompletionReport</code> generated when the task completes.</p>",
            "smithy.api#required": {}
          }
        },
        "Path": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the location of the report on the file system's linked S3 data repository. An absolute path that defines where the completion report will be stored in the destination location. \n            The <code>Path</code> you provide must be located within the file system’s ExportPath. \n            An example <code>Path</code> value is \"s3://myBucket/myExportPath/optionalPrefix\". The report provides the following information for each file in the report:\n            FilePath, FileStatus, and ErrorCode. To learn more about a file system's <code>ExportPath</code>, see .\n            </p>"
          }
        },
        "Format": {
          "target": "com.amazonaws.fsx#ReportFormat",
          "traits": {
            "smithy.api#documentation": "<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the format of the <code>CompletionReport</code>. <code>REPORT_CSV_20191124</code> is the only format currently supported.\n            When <code>Format</code> is set to <code>REPORT_CSV_20191124</code>, the <code>CompletionReport</code> is provided in CSV format, and is delivered to\n            <code>{path}/task-{id}/failures.csv</code>. \n        </p>"
          }
        },
        "Scope": {
          "target": "com.amazonaws.fsx#ReportScope",
          "traits": {
            "smithy.api#documentation": "<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the scope of the <code>CompletionReport</code>; <code>FAILED_FILES_ONLY</code> is the only scope currently supported. \n            When <code>Scope</code> is set to <code>FAILED_FILES_ONLY</code>, the <code>CompletionReport</code> only contains information about files that the data repository task failed to process.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a report detailing the data repository task results of the files processed that match the criteria specified in the report <code>Scope</code> parameter. \n            FSx delivers the report to the file system's linked data repository in Amazon S3, \n            using the path specified in the report <code>Path</code> parameter. \n            You can specify whether or not a report gets generated for a task using the <code>Enabled</code> parameter.</p>"
      }
    },
    "com.amazonaws.fsx#CoolingPeriod": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 2,
          "max": 183
        }
      }
    },
    "com.amazonaws.fsx#CopyBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CopyBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CopyBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BackupNotFound"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleRegionForMultiAZ"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#InvalidDestinationKmsKey"
        },
        {
          "target": "com.amazonaws.fsx#InvalidRegion"
        },
        {
          "target": "com.amazonaws.fsx#InvalidSourceKmsKey"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        },
        {
          "target": "com.amazonaws.fsx#SourceBackupUnavailable"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies an existing backup within the same Amazon Web Services account to another Amazon Web Services Region\n         (cross-Region copy) or within the same Amazon Web Services Region (in-Region copy). You can have up to five\n         backup copy requests in progress to a single destination Region per account.</p>\n         <p>You can use cross-Region backup copies for cross-region disaster recovery.\n         You periodically take backups and copy them to another Region so that in the\n         event of a disaster in the primary Region, you can restore from backup and recover\n         availability quickly in the other Region. You can make cross-Region copies\n         only within your Amazon Web Services partition.</p>\n         <p> You can also use backup copies to clone your file data set to another Region\n         or within the same Region.</p>\n         <p>You can use the <code>SourceRegion</code> parameter to specify the Amazon Web Services Region\n         from which the backup will be copied. For example, if you make the call from the\n         <code>us-west-1</code> Region and want to copy a backup from the <code>us-east-2</code>\n         Region, you specify <code>us-east-2</code> in the <code>SourceRegion</code> parameter\n         to make a cross-Region copy. If you don't specify a Region, the backup copy is\n         created in the same Region where the request is sent from (in-Region copy).</p>\n         <p>For more information on creating backup copies, see \n         <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/using-backups.html#copy-backups\">\n            Copying backups</a> in the <i>Amazon FSx for Windows User Guide</i> and \n         <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html#copy-backups\">Copying backups</a> \n         in the <i>Amazon FSx for Lustre User Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CopyBackupRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "SourceBackupId": {
          "target": "com.amazonaws.fsx#SourceBackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the source backup. Specifies the ID of the backup that is\n         being copied.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceRegion": {
          "target": "com.amazonaws.fsx#Region",
          "traits": {
            "smithy.api#documentation": "<p>The source Amazon Web Services Region of the backup. Specifies the Amazon Web Services Region from which\n         the backup is being copied. The source and destination Regions must be in\n         the same Amazon Web Services partition. If you don't specify a Region, it defaults to\n         the Region where the request is sent from (in-Region copy).</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.fsx#KmsKeyId"
        },
        "CopyTags": {
          "target": "com.amazonaws.fsx#Flag",
          "traits": {
            "smithy.api#documentation": "<p>A boolean flag indicating whether tags from the source backup\n         should be copied to the backup copy. This value defaults to false.</p>\n         <p>If you set <code>CopyTags</code> to true and the source backup has\n         existing tags, you can use the <code>Tags</code> parameter to create new\n         tags, provided that the sum of the source backup tags and the new tags\n         doesn't exceed 50. Both sets of tags are merged. If there are tag\n         conflicts (for example, two tags with the same key but different values),\n         the tags created with the <code>Tags</code> parameter take precedence.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags"
        }
      }
    },
    "com.amazonaws.fsx#CopyBackupResponse": {
      "type": "structure",
      "members": {
        "Backup": {
          "target": "com.amazonaws.fsx#Backup"
        }
      }
    },
    "com.amazonaws.fsx#CreateBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BackupInProgress"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        },
        {
          "target": "com.amazonaws.fsx#VolumeNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a backup of an existing Amazon FSx for Windows File Server\n            or Amazon FSx for Lustre file system, or of an Amazon FSx for NetApp ONTAP\n            volume. Creating regular backups is a best practice, enabling you to restore\n            a file system or volume from a backup if an issue arises with the original\n            file system or volume.</p>\n        <p>For Amazon FSx for Lustre file systems, you can create a backup only \n            for file systems with the following configuration:</p>\n        <ul>\n            <li>\n               <p>a Persistent deployment type</p>\n            </li>\n            <li>\n               <p>is <i>not</i> linked to a data repository.</p>\n            </li>\n         </ul>\n            <p>For more information about backups, see the following:</p>\n        <ul>\n            <li>\n               <p>For Amazon FSx for Lustre, \n                see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html\">Working with FSx for Lustre backups</a>.</p>\n            </li>\n            <li>\n               <p>For Amazon FSx for Windows, \n                see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/using-backups.html\">Working with FSx for Windows backups</a>.</p>\n            </li>\n            <li>\n               <p>For Amazon FSx for NetApp ONTAP, \n                see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/using-backups.html\">Working with FSx for NetApp ONTAP backups</a>.</p>\n            </li>\n         </ul>\n        <p>If a backup with the specified client request token exists, and the parameters\n            match, this operation returns the description of the existing backup. If a backup\n            specified client request token exists, and the parameters don't match, this\n            operation returns <code>IncompatibleParameterError</code>. If a backup with the\n            specified client request token doesn't exist, <code>CreateBackup</code> does the\n            following: </p>\n        <ul>\n            <li>\n                <p>Creates a new Amazon FSx backup with an assigned ID, and an initial\n                    lifecycle state of <code>CREATING</code>.</p>\n            </li>\n            <li>\n                <p>Returns the description of the backup.</p>\n            </li>\n         </ul>\n\n        <p>By using the idempotent operation, you can retry a <code>CreateBackup</code>\n            operation without the risk of creating an extra backup. This approach can be useful when\n            an initial call fails in a way that makes it unclear whether a backup was created. If\n            you use the same client request token and the initial call created a backup, the\n            operation returns a successful result because all the parameters are the same.</p>\n\n        <p>The <code>CreateBackup</code> operation returns while the backup's\n            lifecycle state is still <code>CREATING</code>. You can check the backup creation\n            status by calling the <a>DescribeBackups</a> operation, which returns the\n            backup state along with other information.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CreateBackupRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system to back up.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure\n            idempotent creation. This string is automatically filled on your behalf when you use the\n            Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The tags to apply to the backup at backup creation. The key value of the\n            <code>Name</code> tag appears in the console as the backup name. If you have set <code>CopyTagsToBackups</code> to true, and \n            you specify one or more tags using the <code>CreateBackup</code> action, no existing file system tags are copied from the file system to the backup.</p>"
          }
        },
        "VolumeId": {
          "target": "com.amazonaws.fsx#VolumeId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of he FSx for NetApp ONTAP volume to back up.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for the <code>CreateBackup</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateBackupResponse": {
      "type": "structure",
      "members": {
        "Backup": {
          "target": "com.amazonaws.fsx#Backup",
          "traits": {
            "smithy.api#documentation": "<p>A description of the backup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for the <code>CreateBackup</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateDataRepositoryTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateDataRepositoryTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#DataRepositoryTaskExecuting"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon FSx for Lustre data repository task. You use data repository tasks\n            to perform bulk operations between your Amazon FSx file system and its linked data\n            repository. An example of a data repository task is\n            exporting any data and metadata changes, including POSIX metadata, to files, directories, and symbolic links (symlinks) from your FSx file system to its linked data repository. A\n                <code>CreateDataRepositoryTask</code> operation will fail if a data repository is not\n            linked to the FSx file system. To learn more about data repository tasks, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/data-repository-tasks.html\">Data Repository Tasks</a>. \n            To learn more about linking a data repository to your file system, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/create-fs-linked-data-repo.html\">Linking your file system to an S3 bucket</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryTaskRequest": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of data repository task to create.</p>",
            "smithy.api#required": {}
          }
        },
        "Paths": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskPaths",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The path or paths on the Amazon FSx file system to use when the data repository task is processed. \n            The default path is the file system root directory. The paths you provide need to be relative to the mount point of the file system. \n            If the mount point is <code>/mnt/fsx</code> and <code>/mnt/fsx/path1</code> is a directory or \n            file on the file system you want to export, then the path to provide is <code>path1</code>.\n            If a path that you provide isn't valid, the task fails.</p>"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Report": {
          "target": "com.amazonaws.fsx#CompletionReport",
          "traits": {
            "smithy.api#documentation": "<p>Defines whether or not Amazon FSx provides a CompletionReport once the task has completed. \n            A CompletionReport provides a detailed  report on the files that Amazon FSx processed that meet the criteria specified by the \n            <code>Scope</code> parameter. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/task-completion-report.html\">Working with Task Completion Reports</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags"
        }
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryTaskResponse": {
      "type": "structure",
      "members": {
        "DataRepositoryTask": {
          "target": "com.amazonaws.fsx#DataRepositoryTask",
          "traits": {
            "smithy.api#documentation": "<p>The description of the data repository task that you just created.</p>"
          }
        }
      }
    },
    "com.amazonaws.fsx#CreateFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateFileSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateFileSystemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#ActiveDirectoryError"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#InvalidExportPath"
        },
        {
          "target": "com.amazonaws.fsx#InvalidImportPath"
        },
        {
          "target": "com.amazonaws.fsx#InvalidNetworkSettings"
        },
        {
          "target": "com.amazonaws.fsx#InvalidPerUnitStorageThroughput"
        },
        {
          "target": "com.amazonaws.fsx#MissingFileSystemConfiguration"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new, empty Amazon FSx file system.</p>\n\n        <p>If a file system with the specified client request token exists and the parameters\n            match, <code>CreateFileSystem</code> returns the description of the existing file\n            system. If a file system specified client request token exists and the parameters\n            don't match, this call returns <code>IncompatibleParameterError</code>. If a file\n            system with the specified client request token doesn't exist,\n                <code>CreateFileSystem</code> does the following: </p>\n        <ul>\n            <li>\n                <p>Creates a new, empty Amazon FSx file system with an assigned ID, and an\n                    initial lifecycle state of <code>CREATING</code>.</p>\n            </li>\n            <li>\n                <p>Returns the description of the file system.</p>\n            </li>\n         </ul>\n\n        <p>This operation requires a client request token in the request that Amazon FSx uses\n            to ensure idempotent creation. This means that calling the operation multiple times with\n            the same client request token has no effect. By using the idempotent operation, you can\n            retry a <code>CreateFileSystem</code> operation without the risk of creating an extra\n            file system. This approach can be useful when an initial call fails in a way that makes\n            it unclear whether a file system was created. Examples are if a transport level timeout\n            occurred, or your connection was reset. If you use the same client request token and the\n            initial call created a file system, the client receives success as long as the\n            parameters are the same.</p>\n        <note>\n            <p>The <code>CreateFileSystem</code> call returns while the file system's\n                lifecycle state is still <code>CREATING</code>. You can check the file-system\n                creation status by calling the <a>DescribeFileSystems</a> operation,\n                which returns the file system state along with other information.</p>\n        </note>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemFromBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateFileSystemFromBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateFileSystemFromBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#ActiveDirectoryError"
        },
        {
          "target": "com.amazonaws.fsx#BackupNotFound"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#InvalidNetworkSettings"
        },
        {
          "target": "com.amazonaws.fsx#InvalidPerUnitStorageThroughput"
        },
        {
          "target": "com.amazonaws.fsx#MissingFileSystemConfiguration"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon FSx for Lustre or Amazon FSx for Windows File Server file system\n            from an existing Amazon FSx backup.</p>\n        \n        <p>If a file system with the specified client request token exists and the parameters\n            match, this operation returns the description of the file system. If a client\n            request token specified by the file system exists and the parameters don't match,\n            this call returns <code>IncompatibleParameterError</code>. If a file system with the\n            specified client request token doesn't exist, this operation does the following:</p>\n        \n        <ul>\n            <li>\n                <p>Creates a new Amazon FSx file system from backup with an assigned ID, and\n                    an initial lifecycle state of <code>CREATING</code>.</p>\n            </li>\n            <li>\n                <p>Returns the description of the file system.</p>\n            </li>\n         </ul>\n\n        <p>Parameters like Active Directory, default share name, automatic backup, and backup\n            settings default to the parameters of the file system that was backed up, unless\n            overridden. You can explicitly supply other settings.</p>\n\n        <p>By using the idempotent operation, you can retry a\n                <code>CreateFileSystemFromBackup</code> call without the risk of creating an extra\n            file system. This approach can be useful when an initial call fails in a way that makes\n            it unclear whether a file system was created. Examples are if a transport level timeout\n            occurred, or your connection was reset. If you use the same client request token and the\n            initial call created a file system, the client receives success as long as the\n            parameters are the same.</p>\n        <note>\n            <p>The <code>CreateFileSystemFromBackup</code> call returns while the file\n                system's lifecycle state is still <code>CREATING</code>. You can check the\n                file-system creation status by calling the <a>DescribeFileSystems</a>\n                operation, which returns the file system state along with other\n                information.</p>\n        </note>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemFromBackupRequest": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.fsx#BackupId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters that Amazon FSx uses to ensure\n            idempotent creation. This string is automatically filled on your behalf when you use the\n            Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.fsx#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IDs of the subnets that the file system will be accessible from. For Windows <code>MULTI_AZ_1</code> \n            file system deployment types, provide exactly two subnet IDs, one for the preferred file server \n            and one for the standby file server. You specify one of these subnets as the preferred subnet \n            using the <code>WindowsConfiguration > PreferredSubnetID</code> property.</p>\n        <p>For Windows <code>SINGLE_AZ_1</code> and <code>SINGLE_AZ_2</code> deployment \n            types and Lustre file systems, provide exactly one subnet ID.\n            The file server is launched in that subnet's Availability Zone.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.fsx#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of IDs for the security groups that apply to the specified network\n            interfaces created for file system access. These security groups apply to all network\n            interfaces. This value isn't returned in later DescribeFileSystem requests.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be applied to the file system at file system creation. The key value of\n            the <code>Name</code> tag appears in the console as the file system\n            name.</p>"
          }
        },
        "WindowsConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemWindowsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for this Microsoft Windows file system.</p>"
          }
        },
        "LustreConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemLustreConfiguration"
        },
        "StorageType": {
          "target": "com.amazonaws.fsx#StorageType",
          "traits": {
            "smithy.api#documentation": "<p>Sets the storage type for the Windows file system you're creating from a backup. \n            Valid values are <code>SSD</code> and <code>HDD</code>.</p>\n        <ul>\n            <li>\n               <p>Set to <code>SSD</code> to use solid state drive storage. \n                Supported on all Windows deployment types.</p>\n            </li>\n            <li>\n               <p>Set to <code>HDD</code> to use hard disk drive storage. \n                Supported on <code>SINGLE_AZ_2</code> and <code>MULTI_AZ_1</code> Windows file system deployment types. \n                </p>\n            </li>\n         </ul>\n        <p>\n            Default value is <code>SSD</code>. \n        </p>\n        <note>\n            <p>HDD and SSD storage types have different minimum storage capacity requirements. \n            A restored file system's storage capacity is tied to the file system that was backed up. \n            You can create a file system that uses HDD storage from a backup of a file system that \n            used SSD storage only if the original SSD file system had a storage capacity of at least 2000 GiB. \n        </p>\n         </note>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.fsx#KmsKeyId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for the <code>CreateFileSystemFromBackup</code>\n            operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemFromBackupResponse": {
      "type": "structure",
      "members": {
        "FileSystem": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>A description of the file system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for the <code>CreateFileSystemFromBackup</code>\n            operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemLustreConfiguration": {
      "type": "structure",
      "members": {
        "WeeklyMaintenanceStartTime": {
          "target": "com.amazonaws.fsx#WeeklyTime",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The preferred start time to perform weekly maintenance, formatted d:HH:MM in the UTC\n            time zone, where d is the weekday number, from 1 through 7, beginning with Monday and ending with Sunday.</p>"
          }
        },
        "ImportPath": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The path to the Amazon S3 bucket (including the optional prefix) that\n            you're using as the data repository for your Amazon FSx for Lustre file system.\n            The root of your FSx for Lustre file system will\n            be mapped to the root of the Amazon S3 bucket you select. An\n            example is <code>s3://import-bucket/optional-prefix</code>. If you specify a prefix\n            after the Amazon S3 bucket name, only object keys with that prefix are loaded into the\n            file system.</p>"
          }
        },
        "ExportPath": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The path in Amazon S3 where the root of your Amazon FSx file system is exported. \n            The path must use the same Amazon S3 bucket as specified in ImportPath. You can provide an optional prefix to which\n            new and changed data is to be exported from your Amazon FSx for Lustre file system. If\n            an <code>ExportPath</code> value is not provided, Amazon FSx sets a default export path,\n            <code>s3://import-bucket/FSxLustre[creation-timestamp]</code>. The timestamp is in\n            UTC format, for example\n            <code>s3://import-bucket/FSxLustre20181105T222312Z</code>.</p>\n\n        <p>The Amazon S3 export bucket must be the same as the import bucket specified by\n            <code>ImportPath</code>. If you only specify a bucket name, such as\n            <code>s3://import-bucket</code>, you get a 1:1 mapping of file system objects to S3\n            bucket objects. This mapping means that the input data in S3 is overwritten on export.\n            If you provide a custom prefix in the export path, such as\n            <code>s3://import-bucket/[custom-optional-prefix]</code>, Amazon FSx exports the contents of your file \n            system to that export prefix in the Amazon S3 bucket.</p>"
          }
        },
        "ImportedFileChunkSize": {
          "target": "com.amazonaws.fsx#Megabytes",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) For files imported from a data repository, this value determines the stripe\n            count and maximum amount of data per file (in MiB) stored on a single physical disk. The\n            maximum number of disks that a single file can be striped across is limited by the total\n            number of disks that make up the file system.</p>\n        \n        <p>The default chunk size is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500\n            GiB). Amazon S3 objects have a maximum size of 5 TB.</p>"
          }
        },
        "DeploymentType": {
          "target": "com.amazonaws.fsx#LustreDeploymentType",
          "traits": {
            "smithy.api#documentation": "<p> \n            Choose <code>SCRATCH_1</code> and <code>SCRATCH_2</code> deployment \n            types when you need temporary storage and shorter-term processing of data. \n            The <code>SCRATCH_2</code> deployment type provides in-transit encryption of data and higher burst \n            throughput capacity than <code>SCRATCH_1</code>.</p>\n        \n            <p>Choose <code>PERSISTENT_1</code> deployment type for longer-term storage \n                and workloads and encryption of data in transit. To learn more about deployment types, see \n                <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/lustre-deployment-types.html\">\n                    FSx for Lustre Deployment Options</a>.</p>\n            <p>Encryption of data in-transit is automatically \n            enabled when you access a <code>SCRATCH_2</code> or <code>PERSISTENT_1</code>\n            file system from Amazon EC2 instances that <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/data-                 protection.html\">support this feature</a>.\n            (Default = <code>SCRATCH_1</code>)\n        </p>\n            <p>Encryption of data in-transit for <code>SCRATCH_2</code> and <code>PERSISTENT_1</code> \n                deployment types is supported when accessed from supported instance types in supported Amazon Web Services Regions. To learn more, \n                <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/encryption-in-transit-fsxl.html\">Encrypting Data in Transit</a>.</p>"
          }
        },
        "AutoImportPolicy": {
          "target": "com.amazonaws.fsx#AutoImportPolicyType",
          "traits": {
            "smithy.api#documentation": "<p> (Optional) When you create your file system, your existing S3 objects appear as file and directory listings. \n            Use this property to choose how Amazon FSx keeps your file and directory listings up to date \n            as you add or modify objects in your linked S3 bucket. <code>AutoImportPolicy</code> can\n            have the following values:</p>\n        \n        <ul>\n            <li>\n               <p>\n                  <code>NONE</code> - (Default) AutoImport is off. Amazon FSx only updates \n                file and directory listings from the linked S3 bucket \n                when the file system is created. FSx does not update file and directory \n                listings for any new or changed objects after choosing this option.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NEW</code> - AutoImport is on. Amazon FSx automatically imports\n                directory listings of any new objects added to the linked S3 bucket that \n                do not currently exist in the FSx file system. </p>\n            </li>\n            <li>\n               <p>\n                  <code>NEW_CHANGED</code> - AutoImport is on. Amazon FSx automatically imports \n                file and directory listings of any new objects added to the S3 bucket and any \n                existing objects that are changed in the S3 bucket after you choose this option. \n            </p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/autoimport-data-repo.html\">Automatically import updates from your S3 bucket</a>.</p>"
          }
        },
        "PerUnitStorageThroughput": {
          "target": "com.amazonaws.fsx#PerUnitStorageThroughput",
          "traits": {
            "smithy.api#documentation": "<p>\n            Required for the <code>PERSISTENT_1</code> deployment type, describes the amount of read and write \n            throughput for each 1 tebibyte of storage, in MB/s/TiB. \n            File system throughput capacity is calculated by multiplying ﬁle system storage capacity (TiB) by the PerUnitStorageThroughput\n            (MB/s/TiB). For a 2.4 TiB ﬁle system, provisioning 50 MB/s/TiB of PerUnitStorageThroughput\n            yields 120 MB/s of ﬁle system throughput. You pay for the amount of throughput that you\n            provision.\n        </p>\n        <p>Valid values for  SSD storage: 50, 100, 200. Valid values for  HDD storage: 12, 40.</p>"
          }
        },
        "DailyAutomaticBackupStartTime": {
          "target": "com.amazonaws.fsx#DailyTime"
        },
        "AutomaticBackupRetentionDays": {
          "target": "com.amazonaws.fsx#AutomaticBackupRetentionDays"
        },
        "CopyTagsToBackups": {
          "target": "com.amazonaws.fsx#Flag",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Not available to use with file systems that are linked to a data repository. \n            A boolean flag indicating whether tags for the file system should be copied to\n            backups. The default value is false. If it's set to true, all file system\n            tags are copied to all automatic and user-initiated backups when the user\n            doesn't specify any backup-specific tags. If this value is true, and you specify one or more backup tags, only\n            the specified tags are copied to backups. If you specify one or more tags when creating a\n            user-initiated backup, no tags are copied from the file system, regardless of this value.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html\">Working with backups</a>.</p>"
          }
        },
        "DriveCacheType": {
          "target": "com.amazonaws.fsx#DriveCacheType",
          "traits": {
            "smithy.api#documentation": "<p>The type of drive cache used by PERSISTENT_1 file systems that are provisioned with\n            HDD storage devices. This parameter is required when storage type is HDD. Set to\n            <code>READ</code>, improve the performance for frequently accessed files and allows 20%\n            of the total storage capacity of the file system to be cached. </p>\n        <p>This parameter is required when <code>StorageType</code> is set to HDD.</p>"
          }
        },
        "DataCompressionType": {
          "target": "com.amazonaws.fsx#DataCompressionType",
          "traits": {
            "smithy.api#documentation": "<p>Sets the data compression configuration for the file system. <code>DataCompressionType</code>\n            can have the following values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>NONE</code> - (Default) Data compression is turned off when\n                the file system is created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LZ4</code> - Data compression is turned on with the LZ4\n                algorithm.</p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/data-compression.html\">Lustre data compression</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Lustre configuration for the file system being created. \n            </p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemOntapConfiguration": {
      "type": "structure",
      "members": {
        "AutomaticBackupRetentionDays": {
          "target": "com.amazonaws.fsx#AutomaticBackupRetentionDays"
        },
        "DailyAutomaticBackupStartTime": {
          "target": "com.amazonaws.fsx#DailyTime"
        },
        "DeploymentType": {
          "target": "com.amazonaws.fsx#OntapDeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ONTAP file system deployment type to use in creating the file system.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointIpAddressRange": {
          "target": "com.amazonaws.fsx#IpAddressRange",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IP address range in which the endpoints to access your file system\n            will be created. By default, Amazon FSx selects an unused IP address range for you\n            from the 198.19.* range.</p>"
          }
        },
        "FsxAdminPassword": {
          "target": "com.amazonaws.fsx#AdminPassword",
          "traits": {
            "smithy.api#documentation": "<p>The ONTAP administrative password for the <code>fsxadmin</code> user that you can\n            use to administer your file system using the ONTAP CLI and REST API.</p>"
          }
        },
        "DiskIopsConfiguration": {
          "target": "com.amazonaws.fsx#DiskIopsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The SSD IOPS configuration for the Amazon FSx for NetApp ONTAP file system.</p>"
          }
        },
        "PreferredSubnetId": {
          "target": "com.amazonaws.fsx#SubnetId"
        },
        "RouteTableIds": {
          "target": "com.amazonaws.fsx#RouteTableIds",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the VPC route tables in which your file system's endpoints will be\n            created. You should specify all VPC route tables associated with the subnets\n            in which your clients are located. By default, Amazon FSx selects your VPC's\n            default route table.</p>"
          }
        },
        "ThroughputCapacity": {
          "target": "com.amazonaws.fsx#MegabytesPerSecond",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "WeeklyMaintenanceStartTime": {
          "target": "com.amazonaws.fsx#WeeklyTime"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The ONTAP configuration properties of the FSx for NetApp ONTAP file system that you are creating.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters that Amazon FSx uses to ensure\n            idempotent creation. This string is automatically filled on your behalf when you use the\n            Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "FileSystemType": {
          "target": "com.amazonaws.fsx#FileSystemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon FSx file system to create. Valid values are <code>WINDOWS</code>,\n            <code>LUSTRE</code>, and <code>ONTAP</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "StorageCapacity": {
          "target": "com.amazonaws.fsx#StorageCapacity",
          "traits": {
            "smithy.api#documentation": "<p>Sets the storage capacity of the file system that you're creating.</p>      \n        <p>For Lustre file systems:</p>\n        <ul>\n            <li>\n               <p>For <code>SCRATCH_2</code> and <code>PERSISTENT_1 SSD</code> deployment types, valid values are \n                1200 GiB, 2400 GiB, and increments of 2400 GiB.</p>\n            </li>\n            <li>\n               <p>For <code>PERSISTENT HDD</code> file systems, valid values are increments of 6000 GiB for \n                12 MB/s/TiB file systems and increments of 1800 GiB for 40 MB/s/TiB file systems.</p>\n            </li>\n            <li>\n               <p>For <code>SCRATCH_1</code> deployment type, valid values are \n                1200 GiB, 2400 GiB, and increments of 3600 GiB.</p>\n            </li>\n         </ul>\n        <p>For Windows file systems:</p>\n        <ul>\n            <li>\n               <p>If <code>StorageType=SSD</code>, valid values are 32 GiB - 65,536 GiB (64 TiB).</p>\n            </li>\n            <li>\n               <p>If <code>StorageType=HDD</code>, valid values are 2000 GiB - 65,536 GiB (64 TiB).</p>\n            </li>\n         </ul>\n        <p>For ONTAP file systems:</p>\n        <ul>\n            <li>\n               <p>Valid values are 1024 GiB - 196,608 GiB (192 TiB).</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "StorageType": {
          "target": "com.amazonaws.fsx#StorageType",
          "traits": {
            "smithy.api#documentation": "<p>Sets the storage type for the file system you're creating. \n            Valid values are <code>SSD</code> and <code>HDD</code>.</p>\n        <ul>\n            <li>\n               <p>Set to <code>SSD</code> to use solid state drive storage. \n                SSD is supported on all Windows, Lustre, and ONTAP deployment types.</p>\n            </li>\n            <li>\n               <p>Set to <code>HDD</code> to use hard disk drive storage. \n                HDD is supported on <code>SINGLE_AZ_2</code> and <code>MULTI_AZ_1</code> Windows file system deployment types,\n                and on <code>PERSISTENT</code> Lustre file system deployment types. \n                </p>\n            </li>\n         </ul>\n        <p>\n            Default value is <code>SSD</code>. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/optimize-fsx-costs.html#storage-type-options\">\n            Storage Type Options</a> in the <i>Amazon FSx for Windows User Guide</i> and \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/what-is.html#storage-options\">Multiple Storage Options</a> \n            in the <i>Amazon FSx for Lustre User Guide</i>.\n        </p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.fsx#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IDs of the subnets that the file system will be accessible from. For Windows\n            and ONTAP <code>MULTI_AZ_1</code> file system deployment types, provide exactly two subnet IDs,\n            one for the preferred file server and one for the standby file server. You specify one of these\n            subnets as the preferred subnet using the <code>WindowsConfiguration > PreferredSubnetID</code>\n            or <code>OntapConfiguration > PreferredSubnetID</code> properties. For more information, \n            see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/high-availability-multiAZ.html\">\n                Availability and durability: Single-AZ and Multi-AZ file systems</a> in the\n            <i>Amazon FSx for Windows User Guide</i> and\n            <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/high-availability-multiAZ.html\">\n                Availability and durability</a> in the\n            <i>Amazon FSx for ONTAP User Guide</i>.</p>\n        <p>For Windows <code>SINGLE_AZ_1</code> and <code>SINGLE_AZ_2</code> file system deployment types and Lustre file systems, provide exactly one subnet ID.\n           The file server is launched in that subnet's Availability Zone.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.fsx#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of IDs specifying the security groups to apply to all network interfaces\n            created for file system access. This list isn't returned in later requests to\n            describe the file system.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the file system being created. The key value of\n            the <code>Name</code> tag appears in the console as the file system name.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.fsx#KmsKeyId"
        },
        "WindowsConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemWindowsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Microsoft Windows configuration for the file system being created. \n            </p>"
          }
        },
        "LustreConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemLustreConfiguration"
        },
        "OntapConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemOntapConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object used to create a new Amazon FSx file system.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemResponse": {
      "type": "structure",
      "members": {
        "FileSystem": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the file system that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object returned after the file system is created.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemWindowsConfiguration": {
      "type": "structure",
      "members": {
        "ActiveDirectoryId": {
          "target": "com.amazonaws.fsx#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for an existing Amazon Web Services Managed Microsoft Active Directory (AD) instance that the\n            file system should join when it's created.</p>"
          }
        },
        "SelfManagedActiveDirectoryConfiguration": {
          "target": "com.amazonaws.fsx#SelfManagedActiveDirectoryConfiguration"
        },
        "DeploymentType": {
          "target": "com.amazonaws.fsx#WindowsDeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file system deployment type, valid values are the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>MULTI_AZ_1</code> - Deploys a high availability file system that is configured \n                    for Multi-AZ redundancy to tolerate temporary Availability Zone (AZ) unavailability. You \n                    can only deploy a Multi-AZ file system in Amazon Web Services Regions that have a minimum of three Availability Zones. Also \n                supports HDD storage type</p>\n            </li>\n            <li>\n                <p>\n                  <code>SINGLE_AZ_1</code> - (Default) Choose to deploy a file system that is configured for single AZ redundancy.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SINGLE_AZ_2</code> - The latest generation Single AZ file system. \n                    Specifies a file system that is configured for single AZ redundancy and supports HDD storage type.</p>\n            </li>\n         </ul>\n        <p>For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/high-availability-multiAZ.html\">\n                Availability and Durability: Single-AZ and Multi-AZ File Systems</a>.</p>"
          }
        },
        "PreferredSubnetId": {
          "target": "com.amazonaws.fsx#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>Required when <code>DeploymentType</code> is set to <code>MULTI_AZ_1</code>. This specifies the subnet \n            in which you want the preferred file server to be located. For in-Amazon Web Services applications, we recommend that you launch \n            your clients in the same Availability Zone (AZ) as your preferred file server to reduce cross-AZ \n            data transfer costs and minimize latency. </p>"
          }
        },
        "ThroughputCapacity": {
          "target": "com.amazonaws.fsx#MegabytesPerSecond",
          "traits": {
            "smithy.api#documentation": "<p>The throughput of an Amazon FSx file system, measured in megabytes per second, in 2 to\n            the <i>n</i>th increments, between 2^3 (8) and 2^11 (2048).</p>",
            "smithy.api#required": {}
          }
        },
        "WeeklyMaintenanceStartTime": {
          "target": "com.amazonaws.fsx#WeeklyTime",
          "traits": {
            "smithy.api#documentation": "<p>The preferred start time to perform weekly maintenance, formatted d:HH:MM in the UTC\n            time zone, where d is the weekday number, from 1 through 7, beginning with Monday and ending with Sunday.</p>"
          }
        },
        "DailyAutomaticBackupStartTime": {
          "target": "com.amazonaws.fsx#DailyTime",
          "traits": {
            "smithy.api#documentation": "<p>The preferred time to take daily automatic backups, formatted HH:MM in the UTC time\n            zone.</p>"
          }
        },
        "AutomaticBackupRetentionDays": {
          "target": "com.amazonaws.fsx#AutomaticBackupRetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to retain automatic backups. The default is to retain backups for 7\n            days. Setting this value to 0 disables the creation of automatic backups. The maximum\n            retention period for backups is 90 days.</p>"
          }
        },
        "CopyTagsToBackups": {
          "target": "com.amazonaws.fsx#Flag",
          "traits": {
            "smithy.api#documentation": "<p>A boolean flag indicating whether tags for the file system should be copied to\n            backups. This value defaults to false. If it's set to true, all tags for the file\n            system are copied to all automatic and user-initiated backups where the user\n            doesn't specify tags. If this value is true, and you specify one or more tags, only\n            the specified tags are copied to backups. If you specify one or more tags when creating a\n            user-initiated backup, no tags are copied from the file system, regardless of this value.</p>"
          }
        },
        "Aliases": {
          "target": "com.amazonaws.fsx#AlternateDNSNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of one or more DNS alias names that you want to associate with the Amazon FSx file system. \n            Aliases allow you to use existing DNS names to access the data in your Amazon FSx file system. \n            You can associate up to 50 aliases with a file system at any time. \n            You can associate additional DNS aliases after you create the file system using the AssociateFileSystemAliases operation. \n            You can remove DNS aliases from the file system after it is created using the DisassociateFileSystemAliases operation.\n            You only need to specify the alias name in the request payload.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a> and \n        <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/walkthrough05-file-system-custom-CNAME.html\">Walkthrough 5: Using DNS aliases to access your file system</a>, including\n        additional steps you must take to be able to access your file system using a DNS alias.</p>\n         <p>An alias name has to meet the following requirements:</p>\n            <ul>\n            <li>\n               <p>Formatted as a fully-qualified domain name (FQDN), <code>hostname.domain</code>, for example, <code>accounting.example.com</code>.</p>\n            </li>\n            <li>\n               <p>Can contain alphanumeric characters, the underscore (_), and the hyphen (-).</p>\n            </li>\n            <li>\n               <p>Cannot start or end with a hyphen.</p>\n            </li>\n            <li>\n               <p>Can start with a numeric.</p>\n            </li>\n         </ul>\n        <p>For DNS alias names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: \n            as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
          }
        },
        "AuditLogConfiguration": {
          "target": "com.amazonaws.fsx#WindowsAuditLogCreateConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration that Amazon FSx for Windows File Server uses to audit and log\n            user accesses of files, folders, and file shares on the Amazon FSx for Windows File Server\n            file system.</p>"
          }
        }
      },
      "traits": {
[...]
