{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.fsx#AWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An AWS account ID. This ID is a 12-digit number that you use to construct Amazon\n            Resource Names (ARNs) for resources.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.fsx#AWSSimbaAPIService_v20180301": {
      "type": "service",
      "version": "2018-03-01",
      "operations": [
        {
          "target": "com.amazonaws.fsx#CancelDataRepositoryTask"
        },
        {
          "target": "com.amazonaws.fsx#CreateBackup"
        },
        {
          "target": "com.amazonaws.fsx#CreateDataRepositoryTask"
        },
        {
          "target": "com.amazonaws.fsx#CreateFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#CreateFileSystemFromBackup"
        },
        {
          "target": "com.amazonaws.fsx#DeleteBackup"
        },
        {
          "target": "com.amazonaws.fsx#DeleteFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#DescribeBackups"
        },
        {
          "target": "com.amazonaws.fsx#DescribeDataRepositoryTasks"
        },
        {
          "target": "com.amazonaws.fsx#DescribeFileSystems"
        },
        {
          "target": "com.amazonaws.fsx#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.fsx#TagResource"
        },
        {
          "target": "com.amazonaws.fsx#UntagResource"
        },
        {
          "target": "com.amazonaws.fsx#UpdateFileSystem"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "FSx",
          "arnNamespace": "fsx",
          "cloudFormationName": "FSx",
          "cloudTrailEventSource": "v20180301.api.simba.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "fsx"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon FSx is a fully managed service that makes it easy for storage and\n            application administrators to launch and use shared file storage.</p>",
        "smithy.api#title": "Amazon FSx"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryBackupAttributes": {
      "type": "structure",
      "members": {
        "ActiveDirectoryId": {
          "target": "com.amazonaws.fsx#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Managed Microsoft Active Directory instance to which the file system is joined.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.fsx#ActiveDirectoryFullyQualifiedName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name of the self-managed AD directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Microsoft AD attributes of the Amazon FSx for Windows File Server file system.</p>"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryError": {
      "type": "structure",
      "members": {
        "ActiveDirectoryId": {
          "target": "com.amazonaws.fsx#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID of the directory that an error pertains to.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        },
        "Type": {
          "target": "com.amazonaws.fsx#ActiveDirectoryErrorType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Active Directory error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Active Directory error.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryErrorType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The type of error relating to Microsoft Active Directory. NOT_FOUND means that no\n            directory was found by specifying the given directory. INCOMPATIBLE_MODE means that the\n            directory specified is not a Microsoft AD directory. WRONG_VPC means that the specified\n            directory isn't accessible from the specified VPC. WRONG_STAGE means that the\n            specified directory isn't currently in the ACTIVE state.</p>",
        "smithy.api#enum": [
          {
            "value": "DOMAIN_NOT_FOUND",
            "name": "DOMAIN_NOT_FOUND"
          },
          {
            "value": "INCOMPATIBLE_DOMAIN_MODE",
            "name": "INCOMPATIBLE_DOMAIN_MODE"
          },
          {
            "value": "WRONG_VPC",
            "name": "WRONG_VPC"
          },
          {
            "value": "INVALID_DOMAIN_STAGE",
            "name": "INVALID_DOMAIN_STAGE"
          }
        ]
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryFullyQualifiedName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.{1,255}$"
      }
    },
    "com.amazonaws.fsx#ArchivePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 900
        },
        "smithy.api#pattern": "^.{3,900}$"
      }
    },
    "com.amazonaws.fsx#AutomaticBackupRetentionDays": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#documentation": "<p>The number of days to retain automatic backups. Setting this to 0 disables\n            automatic backups. You can retain automatic backups for a maximum of 35 days.</p>",
        "smithy.api#range": {
          "min": 0,
          "max": 35
        }
      }
    },
    "com.amazonaws.fsx#Backup": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.fsx#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.fsx#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when a particular backup was created.</p>",
            "smithy.api#required": {}
          }
        },
        "DirectoryInformation": {
          "target": "com.amazonaws.fsx#ActiveDirectoryBackupAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the self-managed Microsoft Active Directory (AD) to which the Windows File Server instance is joined.</p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.fsx#BackupFailureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details explaining any failures that occur when creating a backup.</p>"
          }
        },
        "FileSystem": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>Metadata of the file system associated with the backup. This metadata is persisted\n            even if the file system is deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.fsx#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Key Management Service (AWS KMS) key used to encrypt this \n              backup of the Amazon FSx for Windows file system's data at rest. \n              Amazon FSx for Lustre does not support KMS encryption.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.fsx#BackupLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle status of the backup.</p>",
            "smithy.api#required": {}
          }
        },
        "ProgressPercent": {
          "target": "com.amazonaws.fsx#ProgressPercent"
        },
        "ResourceARN": {
          "target": "com.amazonaws.fsx#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the backup resource.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with a particular file system.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.fsx#BackupType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the backup.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A backup of an Amazon FSx for Windows File Server file system. You can create a new\n            file system from a backup to protect against data loss.</p>"
      }
    },
    "com.amazonaws.fsx#BackupFailureDetails": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the backup creation failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If backup creation fails, this structure contains the details of that\n            failure.</p>"
      }
    },
    "com.amazonaws.fsx#BackupId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the backup. Specifies the backup to use if you're creating a file system from an existing backup.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 128
        },
        "smithy.api#pattern": "^(backup-[0-9a-f]{8,})$"
      }
    },
    "com.amazonaws.fsx#BackupIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#BackupId"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of backup IDs.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#BackupInProgress": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another backup is already under way. Wait for completion before initiating\n            additional backups of this file system.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupLifecycle": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The lifecycle status of the backup.</p>",
        "smithy.api#enum": [
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.fsx#BackupNotFound": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>No Amazon FSx backups were found based upon the supplied parameters.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupRestoring": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a file system being restored from the backup.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't delete a backup while it's being used to restore a file\n            system.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The type of the backup.</p>",
        "smithy.api#enum": [
          {
            "value": "AUTOMATIC",
            "name": "AUTOMATIC"
          },
          {
            "value": "USER_INITIATED",
            "name": "USER_INITIATED"
          }
        ]
      }
    },
    "com.amazonaws.fsx#Backups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#Backup"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of backups.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#BadRequest": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A generic error indicating a failure with a client request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#CancelDataRepositoryTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CancelDataRepositoryTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CancelDataRepositoryTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#DataRepositoryTaskEnded"
        },
        {
          "target": "com.amazonaws.fsx#DataRepositoryTaskNotFound"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an existing Amazon FSx for Lustre data repository task if that task is in either the \n            <code>PENDING</code> or <code>EXECUTING</code> state. When you cancel a task, Amazon FSx does the following.</p>\n            <ul>\n            <li>\n               <p>Any files that FSx has already exported are not reverted.</p>\n            </li>\n            <li>\n               <p>FSx continues to export any files that are \"in-flight\" when the cancel operation is received.</p>\n            </li>\n            <li>\n               <p>FSx does not export any files that have not yet been exported.</p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CancelDataRepositoryTaskRequest": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.fsx#TaskId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data repository task to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Cancels a data repository task.</p>"
      }
    },
    "com.amazonaws.fsx#CancelDataRepositoryTaskResponse": {
      "type": "structure",
      "members": {
        "Lifecycle": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle status of the data repository task, as follows:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> - Amazon FSx has not started the task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EXECUTING</code> - Amazon FSx is processing the task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> -  Amazon FSx was not able to complete the task. For example, there may be files the task failed to process. \n                The <a>DataRepositoryTaskFailureDetails</a> property provides more information about task failures.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code> - FSx completed the task successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELED</code> - Amazon FSx canceled the task and it did not complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELING</code> - FSx is in process of canceling the task.</p>\n            </li>\n         </ul>"
          }
        },
        "TaskId": {
          "target": "com.amazonaws.fsx#TaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the task being canceled.</p>"
          }
        }
      }
    },
    "com.amazonaws.fsx#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>(Optional) An idempotency token for resource creation, in a string of up to 64\n            ASCII characters. This token is automatically filled on your behalf when you use the AWS\n            Command Line Interface (AWS CLI) or an AWS SDK.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "[A-za-z0-9_.-]{0,63}$"
      }
    },
    "com.amazonaws.fsx#CompletionReport": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.fsx#Flag",
          "traits": {
            "smithy.api#documentation": "<p>Set <code>Enabled</code> to <code>True</code> to generate a <code>CompletionReport</code> when the task completes. \n            If set to <code>true</code>, then you need to provide a report <code>Scope</code>, <code>Path</code>, and <code>Format</code>. \n            Set <code>Enabled</code> to <code>False</code> if you do not want a <code>CompletionReport</code> generated when the task completes.</p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.fsx#ReportFormat",
          "traits": {
            "smithy.api#documentation": "<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the format of the <code>CompletionReport</code>. <code>REPORT_CSV_20191124</code> is the only format currently supported.\n            When <code>Format</code> is set to <code>REPORT_CSV_20191124</code>, the <code>CompletionReport</code> is provided in CSV format, and is delivered to\n            <code>{path}/task-{id}/failures.csv</code>. \n        </p>"
          }
        },
        "Path": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the location of the report on the file system's linked S3 data repository. An absolute path that defines where the completion report will be stored in the destination location. \n            The <code>Path</code> you provide must be located within the file system’s ExportPath. \n            An example <code>Path</code> value is \"s3://myBucket/myExportPath/optionalPrefix\". The report provides the following information for each file in the report:\n            FilePath, FileStatus, and ErrorCode. To learn more about a file system's <code>ExportPath</code>, see .\n            </p>"
          }
        },
        "Scope": {
          "target": "com.amazonaws.fsx#ReportScope",
          "traits": {
            "smithy.api#documentation": "<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the scope of the <code>CompletionReport</code>; <code>FAILED_FILES_ONLY</code> is the only scope currently supported. \n            When <code>Scope</code> is set to <code>FAILED_FILES_ONLY</code>, the <code>CompletionReport</code> only contains information about files that the data repository task failed to process.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a report detailing the data repository task results of the files processed that match the criteria specified in the report <code>Scope</code> parameter. \n            FSx delivers the report to the file system's linked data repository in Amazon S3, \n            using the path specified in the report <code>Path</code> parameter. \n            You can specify whether or not a report gets generated for a task using the <code>Enabled</code> parameter.</p>"
      }
    },
    "com.amazonaws.fsx#CreateBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BackupInProgress"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a backup of an existing Amazon FSx for Windows File Server file system.\n            Creating regular backups for your file system is a best practice that complements the\n            replication that Amazon FSx for Windows File Server performs for your file system. It\n            also enables you to restore from user modification of data.</p>\n\n        <p>If a backup with the specified client request token exists, and the parameters\n            match, this operation returns the description of the existing backup. If a backup\n            specified client request token exists, and the parameters don't match, this\n            operation returns <code>IncompatibleParameterError</code>. If a backup with the\n            specified client request token doesn't exist, <code>CreateBackup</code> does the\n            following: </p>\n        <ul>\n            <li>\n                <p>Creates a new Amazon FSx backup with an assigned ID, and an initial\n                    lifecycle state of <code>CREATING</code>.</p>\n            </li>\n            <li>\n                <p>Returns the description of the backup.</p>\n            </li>\n         </ul>\n\n        <p>By using the idempotent operation, you can retry a <code>CreateBackup</code>\n            operation without the risk of creating an extra backup. This approach can be useful when\n            an initial call fails in a way that makes it unclear whether a backup was created. If\n            you use the same client request token and the initial call created a backup, the\n            operation returns a successful result because all the parameters are the same.</p>\n\n        <p>The <code>CreateFileSystem</code> operation returns while the backup's\n            lifecycle state is still <code>CREATING</code>. You can check the file system creation\n            status by calling the <a>DescribeBackups</a> operation, which returns the\n            backup state along with other information.</p>\n\n        <note>\n            <p></p>\n        </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CreateBackupRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure\n            idempotent creation. This string is automatically filled on your behalf when you use the\n            AWS Command Line Interface (AWS CLI) or an AWS SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system to back up.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the backup at backup creation. The key value of the\n                <code>Name</code> tag appears in the console as the backup name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for the <code>CreateBackup</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateBackupResponse": {
      "type": "structure",
      "members": {
        "Backup": {
          "target": "com.amazonaws.fsx#Backup",
          "traits": {
            "smithy.api#documentation": "<p>A description of the backup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for the <code>CreateBackup</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateDataRepositoryTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateDataRepositoryTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#DataRepositoryTaskExecuting"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon FSx for Lustre data repository task. You use data repository tasks\n            to perform bulk operations between your Amazon FSx file system and its linked data\n            repository. An example of a data repository task is\n            exporting any data and metadata changes, including POSIX metadata, to files, directories, and symbolic links (symlinks) from your FSx file system to its linked data repository. A\n                <code>CreateDataRepositoryTask</code> operation will fail if a data repository is not\n            linked to the FSx file system. To learn more about data repository tasks, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/data-repository-tasks.html\">Using Data Repository Tasks</a>. \n            To learn more about linking a data repository to your file system, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/getting-started-step1.html\">Step 1: Create Your Amazon FSx for Lustre File System</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryTaskRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Paths": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskPaths",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The path or paths on the Amazon FSx file system to use when the data repository task is processed. \n            The default path is the file system root directory.</p>"
          }
        },
        "Report": {
          "target": "com.amazonaws.fsx#CompletionReport",
          "traits": {
            "smithy.api#documentation": "<p>Defines whether or not Amazon FSx provides a CompletionReport once the task has completed. \n            A CompletionReport provides a detailed  report on the files that Amazon FSx processed that meet the criteria specified by the \n            <code>Scope</code> parameter. \n        </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags"
        },
        "Type": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of data repository task to create.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryTaskResponse": {
      "type": "structure",
      "members": {
        "DataRepositoryTask": {
          "target": "com.amazonaws.fsx#DataRepositoryTask",
          "traits": {
            "smithy.api#documentation": "<p>The description of the data repository task that you just created.</p>"
          }
        }
      }
    },
    "com.amazonaws.fsx#CreateFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateFileSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateFileSystemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#ActiveDirectoryError"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#InvalidExportPath"
        },
        {
          "target": "com.amazonaws.fsx#InvalidImportPath"
        },
        {
          "target": "com.amazonaws.fsx#InvalidNetworkSettings"
        },
        {
          "target": "com.amazonaws.fsx#MissingFileSystemConfiguration"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new, empty Amazon FSx file system.</p>\n\n        <p>If a file system with the specified client request token exists and the parameters\n            match, <code>CreateFileSystem</code> returns the description of the existing file\n            system. If a file system specified client request token exists and the parameters\n            don't match, this call returns <code>IncompatibleParameterError</code>. If a file\n            system with the specified client request token doesn't exist,\n                <code>CreateFileSystem</code> does the following: </p>\n        <ul>\n            <li>\n                <p>Creates a new, empty Amazon FSx file system with an assigned ID, and an\n                    initial lifecycle state of <code>CREATING</code>.</p>\n            </li>\n            <li>\n                <p>Returns the description of the file system.</p>\n            </li>\n         </ul>\n\n        <p>This operation requires a client request token in the request that Amazon FSx uses\n            to ensure idempotent creation. This means that calling the operation multiple times with\n            the same client request token has no effect. By using the idempotent operation, you can\n            retry a <code>CreateFileSystem</code> operation without the risk of creating an extra\n            file system. This approach can be useful when an initial call fails in a way that makes\n            it unclear whether a file system was created. Examples are if a transport level timeout\n            occurred, or your connection was reset. If you use the same client request token and the\n            initial call created a file system, the client receives success as long as the\n            parameters are the same.</p>\n        <note>\n            <p>The <code>CreateFileSystem</code> call returns while the file system's\n                lifecycle state is still <code>CREATING</code>. You can check the file-system\n                creation status by calling the <a>DescribeFileSystems</a> operation,\n                which returns the file system state along with other information.</p>\n        </note>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemFromBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateFileSystemFromBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateFileSystemFromBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#ActiveDirectoryError"
        },
        {
          "target": "com.amazonaws.fsx#BackupNotFound"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#InvalidNetworkSettings"
        },
        {
          "target": "com.amazonaws.fsx#MissingFileSystemConfiguration"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon FSx file system from an existing Amazon FSx for Windows File\n            Server backup.</p>\n        \n        <p>If a file system with the specified client request token exists and the parameters\n            match, this operation returns the description of the file system. If a client\n            request token specified by the file system exists and the parameters don't match,\n            this call returns <code>IncompatibleParameterError</code>. If a file system with the\n            specified client request token doesn't exist, this operation does the following:</p>\n        \n        <ul>\n            <li>\n                <p>Creates a new Amazon FSx file system from backup with an assigned ID, and\n                    an initial lifecycle state of <code>CREATING</code>.</p>\n            </li>\n            <li>\n                <p>Returns the description of the file system.</p>\n            </li>\n         </ul>\n\n        <p>Parameters like Active Directory, default share name, automatic backup, and backup\n            settings default to the parameters of the file system that was backed up, unless\n            overridden. You can explicitly supply other settings.</p>\n\n        <p>By using the idempotent operation, you can retry a\n                <code>CreateFileSystemFromBackup</code> call without the risk of creating an extra\n            file system. This approach can be useful when an initial call fails in a way that makes\n            it unclear whether a file system was created. Examples are if a transport level timeout\n            occurred, or your connection was reset. If you use the same client request token and the\n            initial call created a file system, the client receives success as long as the\n            parameters are the same.</p>\n        <note>\n            <p>The <code>CreateFileSystemFromBackup</code> call returns while the file\n                system's lifecycle state is still <code>CREATING</code>. You can check the\n                file-system creation status by calling the <a>DescribeFileSystems</a>\n                operation, which returns the file system state along with other\n                information.</p>\n        </note>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemFromBackupRequest": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.fsx#BackupId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure\n            idempotent creation. This string is automatically filled on your behalf when you use the\n            AWS Command Line Interface (AWS CLI) or an AWS SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.fsx#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of IDs for the security groups that apply to the specified network\n            interfaces created for file system access. These security groups apply to all network\n            interfaces. This value isn't returned in later describe requests.</p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.fsx#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of IDs for the subnets that the file system will be accessible from.\n            Currently, you can specify only one subnet. The file server is also launched in that\n            subnet's Availability Zone.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be applied to the file system at file system creation. The key value of\n            the <code>Name</code> tag appears in the console as the file system\n            name.</p>"
          }
        },
        "WindowsConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemWindowsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for this Microsoft Windows file system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for the <code>CreateFileSystemFromBackup</code>\n            operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemFromBackupResponse": {
      "type": "structure",
      "members": {
        "FileSystem": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>A description of the file system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for the <code>CreateFileSystemFromBackup</code>\n            operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemLustreConfiguration": {
      "type": "structure",
      "members": {
        "ExportPath": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The path in Amazon S3 where the root of your Amazon FSx file system is exported. \n            The path must use the same Amazon S3 bucket as specified in ImportPath. You can provide an optional prefix to which\n            new and changed data is to be exported from your Amazon FSx for Lustre file system. If\n            an <code>ExportPath</code> value is not provided, Amazon FSx sets a default export path,\n            <code>s3://import-bucket/FSxLustre[creation-timestamp]</code>. The timestamp is in\n            UTC format, for example\n            <code>s3://import-bucket/FSxLustre20181105T222312Z</code>.</p>\n\n        <p>The Amazon S3 export bucket must be the same as the import bucket specified by\n            <code>ImportPath</code>. If you only specify a bucket name, such as\n            <code>s3://import-bucket</code>, you get a 1:1 mapping of file system objects to S3\n            bucket objects. This mapping means that the input data in S3 is overwritten on export.\n            If you provide a custom prefix in the export path, such as\n            <code>s3://import-bucket/[custom-optional-prefix]</code>, Amazon FSx exports the contents of your file \n            system to that export prefix in the Amazon S3 bucket.</p>"
          }
        },
        "ImportPath": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The path to the Amazon S3 bucket (including the optional prefix) that\n            you're using as the data repository for your Amazon FSx for Lustre file system. \n            The root of your FSx for Lustre file system will \n            be mapped to the root of the Amazon S3 bucket you select. An\n            example is <code>s3://import-bucket/optional-prefix</code>. If you specify a prefix\n            after the Amazon S3 bucket name, only object keys with that prefix are loaded into the\n            file system.</p>"
          }
        },
        "ImportedFileChunkSize": {
          "target": "com.amazonaws.fsx#Megabytes",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) For files imported from a data repository, this value determines the stripe\n            count and maximum amount of data per file (in MiB) stored on a single physical disk. The\n            maximum number of disks that a single file can be striped across is limited by the total\n            number of disks that make up the file system.</p>\n        \n        <p>The chunk size default is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500\n            GiB). Amazon S3 objects have a maximum size of 5 TB.</p>"
          }
        },
        "WeeklyMaintenanceStartTime": {
          "target": "com.amazonaws.fsx#WeeklyTime",
          "traits": {
            "smithy.api#documentation": "<p>The preferred time to perform weekly maintenance, in the UTC time zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Lustre configuration for the file system being created. \n            This value is required if <code>FileSystemType</code> is set to <code>LUSTRE</code>.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure\n            idempotent creation. This string is automatically filled on your behalf when you use the\n            AWS Command Line Interface (AWS CLI) or an AWS SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "FileSystemType": {
          "target": "com.amazonaws.fsx#FileSystemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon FSx file system to create.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.fsx#KmsKeyId"
        },
        "LustreConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemLustreConfiguration"
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.fsx#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of IDs specifying the security groups to apply to all network interfaces\n            created for file system access. This list isn't returned in later requests to\n            describe the file system.</p>"
          }
        },
        "StorageCapacity": {
          "target": "com.amazonaws.fsx#StorageCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The storage capacity of the file system being created.</p>\n        <p>For Windows file systems, valid values are 32 GiB - 65,536 GiB.</p>\n        <p>For Lustre file systems, valid values are 1,200, 2,400, 3,600, then continuing in increments of 3600 GiB.</p>",
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.fsx#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IDs of the subnets that the file system will be accessible from. For Windows <code>MULTI_AZ_1</code> \n            file system deployment types, provide exactly two subnet IDs, one for the preferred file server \n            and one for the standy file server. You specify one of these subnets as the preferred subnet \n            using the <code>WindowsConfiguration > PreferredSubnetID</code> property.</p>\n        <p>For Windows <code>SINGLE_AZ_1</code> file system deployment types and Lustre file systems, provide exactly one subnet ID.\n           The file server is launched in that subnet's Availability Zone.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the file system being created. The key value of\n            the <code>Name</code> tag appears in the console as the file system name.</p>"
          }
        },
        "WindowsConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemWindowsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Microsoft Windows configuration for the file system being created. \n            This value is required if <code>FileSystemType</code> is set to <code>WINDOWS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object used to create a new Amazon FSx file system.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemResponse": {
      "type": "structure",
      "members": {
        "FileSystem": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the file system that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object returned after the file system is created.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemWindowsConfiguration": {
      "type": "structure",
      "members": {
        "ActiveDirectoryId": {
          "target": "com.amazonaws.fsx#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for an existing AWS Managed Microsoft Active Directory (AD) instance that the\n            file system should join when it's created.</p>"
          }
        },
        "AutomaticBackupRetentionDays": {
          "target": "com.amazonaws.fsx#AutomaticBackupRetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to retain automatic backups. The default is to retain backups for 7\n            days. Setting this value to 0 disables the creation of automatic backups. The maximum\n            retention period for backups is 35 days.</p>"
          }
        },
        "CopyTagsToBackups": {
          "target": "com.amazonaws.fsx#Flag",
          "traits": {
            "smithy.api#documentation": "<p>A boolean flag indicating whether tags for the file system should be copied to\n            backups. This value defaults to false. If it's set to true, all tags for the file\n            system are copied to all automatic and user-initiated backups where the user\n            doesn't specify tags. If this value is true, and you specify one or more tags, only\n            the specified tags are copied to backups.</p>"
          }
        },
        "DailyAutomaticBackupStartTime": {
          "target": "com.amazonaws.fsx#DailyTime",
          "traits": {
            "smithy.api#documentation": "<p>The preferred time to take daily automatic backups, formatted HH:MM in the UTC time\n            zone.</p>"
          }
        },
        "DeploymentType": {
          "target": "com.amazonaws.fsx#WindowsDeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file system deployment type, valid values are the following:</p>\n        <ul>\n            <li>\n                <p>MULTI_AZ_1 - Deploys a high availability file system that is configured \n                    for Multi-AZ redundancy to tolerate temporary Availability Zone (AZ) unavailability. You \n                    can only deploy a Multi-AZ file system in AWS Regions that have a minimum of three Availability Zones.</p>\n            </li>\n            <li>\n                <p>SINGLE_AZ_1 - (Default) Choose to deploy a file system that is configured for single AZ redundancy.</p>\n            </li>\n         </ul>\n        <p>To learn more about high availability Multi-AZ file systems, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/high-availability-multiAZ.html\">\n                High Availability for Amazon FSx for Windows File Server</a>.</p>"
          }
        },
        "PreferredSubnetId": {
          "target": "com.amazonaws.fsx#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>Required when <code>DeploymentType</code> is set to <code>MULTI_AZ_1</code>. This specifies the subnet \n            in which you want the preferred file server to be located. For in-AWS applications, we recommend that you launch \n            your clients in the same Availability Zone (AZ) as your preferred file server to reduce cross-AZ \n            data transfer costs and minimize latency. </p>"
          }
        },
        "SelfManagedActiveDirectoryConfiguration": {
          "target": "com.amazonaws.fsx#SelfManagedActiveDirectoryConfiguration"
        },
        "ThroughputCapacity": {
          "target": "com.amazonaws.fsx#MegabytesPerSecond",
          "traits": {
            "smithy.api#documentation": "<p>The throughput of an Amazon FSx file system, measured in megabytes per second, in 2 to\n            the <i>n</i>th increments, between 2^3 (8) and 2^11 (2048).</p>",
            "smithy.api#required": {}
          }
        },
        "WeeklyMaintenanceStartTime": {
          "target": "com.amazonaws.fsx#WeeklyTime",
          "traits": {
            "smithy.api#documentation": "<p>The preferred start time to perform weekly maintenance, formatted d:HH:MM in the UTC\n            time zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration object for the Microsoft Windows file system used in\n                <code>CreateFileSystem</code> and <code>CreateFileSystemFromBackup</code>\n            operations.</p>"
      }
    },
    "com.amazonaws.fsx#CreationTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "<p>The time that the resource was created, in seconds (since 1970-01-01T00:00:00Z),\n            also known as Unix time.</p>"
      }
    },
    "com.amazonaws.fsx#DNSName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Domain Name Service (DNS) name for the file system. You can mount your file\n            system using its DNS name.</p>",
        "smithy.api#length": {
          "min": 16,
          "max": 275
        },
        "smithy.api#pattern": "^(fsi?-[0-9a-f]{8,}\\..{4,253})$"
      }
    },
    "com.amazonaws.fsx#DailyTime": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A recurring daily time, in the format <code>HH:MM</code>. <code>HH</code> is the\n            zero-padded hour of the day (0-23), and <code>MM</code> is the zero-padded minute of the\n            hour. For example, <code>05:00</code> specifies 5 AM daily. </p>",
        "smithy.api#length": {
          "min": 5,
          "max": 5
        },
        "smithy.api#pattern": "^([01]\\d|2[0-3]):?([0-5]\\d)$"
      }
    },
    "com.amazonaws.fsx#DataRepositoryConfiguration": {
      "type": "structure",
      "members": {
        "ExportPath": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>The export path to the Amazon S3 bucket (and prefix) that you are using to store new and\n            changed Lustre file system files in S3.</p>"
          }
        },
        "ImportPath": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>The import path to the Amazon S3 bucket (and optional prefix) that you're using\n            as the data repository for your FSx for Lustre file system, for example\n                <code>s3://import-bucket/optional-prefix</code>. If a prefix is specified after the\n            Amazon S3 bucket name, only object keys with that prefix are loaded into the file\n            system.</p>"
          }
        },
        "ImportedFileChunkSize": {
          "target": "com.amazonaws.fsx#Megabytes",
          "traits": {
            "smithy.api#documentation": "<p>For files imported from a data repository, this value determines the stripe count and\n            maximum amount of data per file (in MiB) stored on a single physical disk. The maximum\n            number of disks that a single file can be striped across is limited by the total number\n            of disks that make up the file system.</p>\n\n        <p>The default chunk size is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500\n            GiB). Amazon S3 objects have a maximum size of 5 TB.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data repository configuration object for Lustre file systems returned in the response of\n            the <code>CreateFileSystem</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DataRepositoryTask": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.fsx#CreationTime",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.fsx#EndTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that Amazon FSx completed processing the task, populated after the task is complete.</p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskFailureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Failure message describing why the task failed, it is populated only when <code>Lifecycle</code> is set to <code>FAILED</code>.</p>"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle status of the data repository task, as follows:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> - Amazon FSx has not started the task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EXECUTING</code> - Amazon FSx is processing the task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> -  Amazon FSx was not able to complete the task. For example, there may be files the task failed to process. \n                The <a>DataRepositoryTaskFailureDetails</a> property provides more information about task failures.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code> - FSx completed the task successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELED</code> - Amazon FSx canceled the task and it did not complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELING</code> - FSx is in process of canceling the task.</p>\n            </li>\n         </ul>\n        <note>\n            <p>You cannot delete an FSx for Lustre file system if there are data \n                repository tasks for the file system in the <code>PENDING</code> or <code>EXECUTING</code> states.\n                Please retry when the data repository task is finished (with a status of <code>CANCELED</code>, <code>SUCCEEDED</code>, or <code>FAILED</code>). \n                You can use the DescribeDataRepositoryTask action to monitor the task status. Contact the FSx team if you need to delete your file system immediately.</p>\n        </note>",
            "smithy.api#required": {}
          }
        },
        "Paths": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskPaths",
          "traits": {
            "smithy.api#documentation": "<p>An array of paths on the Amazon FSx for Lustre file system that specify the data for the data repository task to process. \n            For example, in an EXPORT_TO_REPOSITORY task, the paths specify which data to export to the linked data repository.</p>\n            <p>(Default) If <code>Paths</code> is not specified, Amazon FSx uses the file system root directory.</p>"
          }
        },
        "Report": {
          "target": "com.amazonaws.fsx#CompletionReport"
        },
        "ResourceARN": {
          "target": "com.amazonaws.fsx#ResourceARN"
        },
        "StartTime": {
          "target": "com.amazonaws.fsx#StartTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that Amazon FSx began processing the task.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>Provides the status of the number of files that the task has processed successfully and failed to process.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags"
        },
        "TaskId": {
          "target": "com.amazonaws.fsx#TaskId",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated, unique 17-digit ID of the data repository task.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data repository task; EXPORT_TO_REPOSITORY is the only type currently supported.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A description of the data repository task. You use data repository tasks\n            to perform bulk transfer operations between your Amazon FSx file system and its linked data\n            repository.</p>"
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskEnded": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data repository task could not be canceled because the task has already ended.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskExecuting": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An existing data repository task is currently executing on the file system.  \n        Wait until the existing task has completed, then create the new task.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskFailureDetails": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about why a data repository task failed. Only populated when the task <code>Lifecycle</code> is set to <code>FAILED</code>.</p>"
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskFilter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskFilterName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the task property to use in filtering the tasks returned in the response.</p>\n        <ul>\n            <li>\n               <p>Use <code>file-system-id</code> to retrieve data repository tasks for specific file systems.</p>\n            </li>\n            <li>\n               <p>Use <code>task-lifecycle</code> to retrieve data repository tasks with one or more specific lifecycle states, \n                as follows: CANCELED, EXECUTING, FAILED, PENDING, and SUCCEEDED.</p>\n            </li>\n         </ul>"
          }
        },
        "Values": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>Use Values to include the specific file system IDs and task \n            lifecycle states for the filters you are using.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Optional) An array of filter objects you can use to filter the response of data repository tasks you will see in the the response. \n            You can filter the tasks returned in the response by one or more file system IDs, task lifecycles, and by task type. \n            A filter object consists of a filter <code>Name</code>, and one or more <code>Values</code> for the filter.</p>"
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "file-system-id",
            "name": "FILE_SYSTEM_ID"
          },
          {
            "value": "task-lifecycle",
            "name": "TASK_LIFECYCLE"
          }
        ]
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[0-9a-zA-Z\\*\\.\\\\/\\?\\-\\_]*$"
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskFilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#DataRepositoryTaskFilterValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#DataRepositoryTaskFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskLifecycle": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "EXECUTING",
            "name": "EXECUTING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "CANCELED",
            "name": "CANCELED"
          },
          {
            "value": "CANCELING",
            "name": "CANCELING"
          }
        ]
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskNotFound": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data repository task or tasks you specified could not be found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#pattern": "^.{0,4096}$"
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskPaths": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#DataRepositoryTaskPath"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskStatus": {
      "type": "structure",
      "members": {
        "FailedCount": {
          "target": "com.amazonaws.fsx#FailedCount",
          "traits": {
            "smithy.api#documentation": "<p>A running total of the number of files that the task failed to process.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.fsx#LastUpdatedTime",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the task status was last updated.</p>"
          }
        },
        "SucceededCount": {
          "target": "com.amazonaws.fsx#SucceededCount",
          "traits": {
            "smithy.api#documentation": "<p>A running total of the number of files that the task has successfully processed.</p>"
          }
        },
        "TotalCount": {
          "target": "com.amazonaws.fsx#TotalCount",
          "traits": {
            "smithy.api#documentation": "<p>The total number of files that the task will process. While a task is executing, the sum of \n            <code>SucceededCount</code> plus <code>FailedCount</code> may not equal <code>TotalCount</code>. When the task is complete, \n            <code>TotalCount</code> equals the sum of <code>SucceededCount</code> plus <code>FailedCount</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the task status showing a running total of the total number of files to be processed, \n            the number successfully processed, and the number of files the task failed to process.</p>"
      }
    },
    "com.amazonaws.fsx#DataRepositoryTaskType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EXPORT_TO_REPOSITORY",
            "name": "EXPORT"
          }
        ]
      }
    },
    "com.amazonaws.fsx#DataRepositoryTasks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#DataRepositoryTask"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#DeleteBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#DeleteBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#DeleteBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BackupInProgress"
        },
        {
          "target": "com.amazonaws.fsx#BackupNotFound"
        },
        {
          "target": "com.amazonaws.fsx#BackupRestoring"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon FSx for Windows File Server backup, deleting its contents. After\n            deletion, the backup no longer exists, and its data is gone.</p>\n\n        <p>The <code>DeleteBackup</code> call returns instantly. The backup will not show up\n            in later <code>DescribeBackups</code> calls.</p>\n\n        <important>\n            <p>The data in a deleted backup is also deleted and can't be recovered by any\n                means.</p>\n        </important>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#DeleteBackupRequest": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.fsx#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure\n            idempotent deletion. This is automatically filled on your behalf when using the AWS CLI\n            or SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for <code>DeleteBackup</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DeleteBackupResponse": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.fsx#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup deleted.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.fsx#BackupLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle of the backup. Should be <code>DELETED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for <code>DeleteBackup</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DeleteFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#DeleteFileSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#DeleteFileSystemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a file system, deleting its contents. After deletion, the file system no\n            longer exists, and its data is gone. Any existing automatic backups will also be\n            deleted.</p>\n        <p>By default, when you delete an Amazon FSx for Windows File Server file system, a\n            final backup is created upon deletion. This final backup is not subject to the file\n            system's retention policy, and must be manually deleted.</p>\n        \n\n        <p>The <code>DeleteFileSystem</code> action returns while the file system has the\n                <code>DELETING</code> status. You can check the file system deletion status by\n            calling the <a>DescribeFileSystems</a> action, which returns a list of file\n            systems in your account. If you pass the file system ID for a deleted file system, the\n                <a>DescribeFileSystems</a> returns a <code>FileSystemNotFound</code>\n            error.</p>\n        <note>\n            <p>Deleting an Amazon FSx for Lustre file system will fail with a 400 BadRequest if \n            a data repository task is in a <code>PENDING</code> or <code>EXECUTING</code>\n            state.</p>\n         </note>\n        <important>\n            <p>The data in a deleted file system is also deleted and can't be recovered by\n                any means.</p>\n        </important>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#DeleteFileSystemRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure\n            idempotent deletion. This is automatically filled on your behalf when using the AWS CLI\n            or SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "WindowsConfiguration": {
          "target": "com.amazonaws.fsx#DeleteFileSystemWindowsConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for <code>DeleteFileSystem</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DeleteFileSystemResponse": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system being deleted.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.fsx#FileSystemLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The file system lifecycle for the deletion request. Should be\n            <code>DELETING</code>.</p>"
          }
        },
        "WindowsResponse": {
          "target": "com.amazonaws.fsx#DeleteFileSystemWindowsResponse"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for the <code>DeleteFileSystem</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DeleteFileSystemWindowsConfiguration": {
      "type": "structure",
      "members": {
        "FinalBackupTags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags for your final backup.</p>"
          }
        },
        "SkipFinalBackup": {
          "target": "com.amazonaws.fsx#Flag",
          "traits": {
            "smithy.api#documentation": "<p>By default, Amazon FSx for Windows takes a final backup on your behalf when the\n                <code>DeleteFileSystem</code> operation is invoked. Doing this helps protect you\n            from data loss, and we highly recommend taking the final backup. If you want to skip\n            this backup, use this flag to do so.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration object for the Microsoft Windows file system used in the\n                <code>DeleteFileSystem</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DeleteFileSystemWindowsResponse": {
      "type": "structure",
      "members": {
        "FinalBackupId": {
          "target": "com.amazonaws.fsx#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the final backup for this file system.</p>"
          }
        },
        "FinalBackupTags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The set of tags applied to the final backup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for the Microsoft Windows file system used in the\n                <code>DeleteFileSystem</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DescribeBackups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#DescribeBackupsRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#DescribeBackupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BackupNotFound"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the description of specific Amazon FSx for Windows File Server backups, if\n            a <code>BackupIds</code> value is provided for that backup. Otherwise, it returns all\n            backups owned by your AWS account in the AWS Region of the endpoint that you're\n            calling.</p>\n\n        <p>When retrieving all backups, you can optionally specify the <code>MaxResults</code>\n            parameter to limit the number of backups in a response. If more backups remain, Amazon\n            FSx returns a <code>NextToken</code> value in the response. In this case, send a later\n            request with the <code>NextToken</code> request parameter set to the value of\n                <code>NextToken</code> from the last response.</p>\n\n        <p>This action is used in an iterative process to retrieve a list of your backups.\n                <code>DescribeBackups</code> is called first without a <code>NextToken</code>value.\n            Then the action continues to be called with the <code>NextToken</code> parameter set to\n            the value of the last <code>NextToken</code> value until a response has no\n                <code>NextToken</code>.</p>\n\n        <p>When using this action, keep the following in mind:</p>\n        <ul>\n            <li>\n                <p>The implementation might return fewer than <code>MaxResults</code> file\n                    system descriptions while still including a <code>NextToken</code>\n                    value.</p>\n\n            </li>\n            <li>\n                <p>The order of backups returned in the response of one\n                        <code>DescribeBackups</code> call and the order of backups returned across\n                    the responses of a multi-call iteration is unspecified.</p>\n            </li>\n         </ul>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.fsx#DescribeBackupsRequest": {
      "type": "structure",
      "members": {
        "BackupIds": {
          "target": "com.amazonaws.fsx#BackupIds",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) IDs of the backups you want to retrieve (String). This overrides any\n            filters. If any IDs are not found, BackupNotFound will be thrown.</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.fsx#Filters",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Filters structure. Supported names are file-system-id and\n            backup-type.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.fsx#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Maximum number of backups to return in the response (integer). This\n            parameter value must be greater than 0. The number of items that Amazon FSx returns is\n            the minimum of the <code>MaxResults</code> parameter specified in the request and the\n            service's internal maximum number of items per page.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fsx#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Opaque pagination token returned from a previous\n                <code>DescribeBackups</code> operation (String). If a token present, the action\n            continues the list from where the returning call left off.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for <code>DescribeBackups</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DescribeBackupsResponse": {
      "type": "structure",
      "members": {
        "Backups": {
          "target": "com.amazonaws.fsx#Backups",
          "traits": {
            "smithy.api#documentation": "<p>Any array of backups.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fsx#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>This is present if there are more backups than returned in the response (String).\n            You can use the <code>NextToken</code> value in the later request to fetch the backups.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response object for <code>DescribeBackups</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DescribeDataRepositoryTasks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#DescribeDataRepositoryTasksRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#DescribeDataRepositoryTasksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#DataRepositoryTaskNotFound"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the description of specific Amazon FSx for Lustre data repository tasks, if\n            one or more <code>TaskIds</code> values are provided in the request, or if filters are used in the request. \n            You can use filters to narrow the response to include just tasks for specific file systems, \n            or tasks in a specific lifecycle state. Otherwise, it returns all data repository tasks owned \n            by your AWS account in the AWS Region of the endpoint that you're calling.</p>\n        \n        <p>When retrieving all tasks, you can paginate the response by using  the optional <code>MaxResults</code>\n            parameter to limit the number of tasks returned in a response. If more tasks remain, Amazon\n            FSx returns a <code>NextToken</code> value in the response. In this case, send a later\n            request with the <code>NextToken</code> request parameter set to the value of\n            <code>NextToken</code> from the last response.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.fsx#DescribeDataRepositoryTasksRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskFilters",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) You can use filters to narrow the <code>DescribeDataRepositoryTasks</code> response to \n            include just tasks for specific file systems, or tasks in a specific lifecycle state.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.fsx#MaxResults"
        },
        "NextToken": {
          "target": "com.amazonaws.fsx#NextToken"
        },
        "TaskIds": {
          "target": "com.amazonaws.fsx#TaskIds",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) IDs of the tasks whose descriptions you want to retrieve\n            (String).</p>"
          }
        }
      }
    },
    "com.amazonaws.fsx#DescribeDataRepositoryTasksResponse": {
      "type": "structure",
      "members": {
        "DataRepositoryTasks": {
          "target": "com.amazonaws.fsx#DataRepositoryTasks",
          "traits": {
            "smithy.api#documentation": "<p>The collection of data repository task descriptions returned.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fsx#NextToken"
        }
      }
    },
    "com.amazonaws.fsx#DescribeFileSystems": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#DescribeFileSystemsRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#DescribeFileSystemsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the description of specific Amazon FSx file systems, if a\n                <code>FileSystemIds</code> value is provided for that file system. Otherwise, it\n            returns descriptions of all file systems owned by your AWS account in the AWS Region of\n            the endpoint that you're calling.</p>\n\n        <p>When retrieving all file system descriptions, you can optionally specify the\n                <code>MaxResults</code> parameter to limit the number of descriptions in a response.\n            If more file system descriptions remain, Amazon FSx returns a <code>NextToken</code>\n            value in the response. In this case, send a later request with the\n                <code>NextToken</code> request parameter set to the value of <code>NextToken</code>\n            from the last response.</p>\n\n        <p>This action is used in an iterative process to retrieve a list of your file system\n            descriptions. <code>DescribeFileSystems</code> is called first without a\n                <code>NextToken</code>value. Then the action continues to be called with the\n                <code>NextToken</code> parameter set to the value of the last <code>NextToken</code>\n            value until a response has no <code>NextToken</code>.</p>\n\n        <p>When using this action, keep the following in mind:</p>\n        <ul>\n            <li>\n                <p>The implementation might return fewer than <code>MaxResults</code> file\n                    system descriptions while still including a <code>NextToken</code>\n                    value.</p>\n\n            </li>\n            <li>\n                <p>The order of file systems returned in the response of one\n                        <code>DescribeFileSystems</code> call and the order of file systems returned\n                    across the responses of a multicall iteration is unspecified.</p>\n            </li>\n         </ul>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.fsx#DescribeFileSystemsRequest": {
      "type": "structure",
      "members": {
        "FileSystemIds": {
          "target": "com.amazonaws.fsx#FileSystemIds",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) IDs of the file systems whose descriptions you want to retrieve\n            (String).</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.fsx#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Maximum number of file systems to return in the response (integer). This\n            parameter value must be greater than 0. The number of items that Amazon FSx returns is\n            the minimum of the <code>MaxResults</code> parameter specified in the request and the\n            service's internal maximum number of items per page.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fsx#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Opaque pagination token returned from a previous\n                <code>DescribeFileSystems</code> operation (String). If a token present, the action\n            continues the list from where the returning call left off.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for <code>DescribeFileSystems</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DescribeFileSystemsResponse": {
      "type": "structure",
      "members": {
        "FileSystems": {
          "target": "com.amazonaws.fsx#FileSystems",
          "traits": {
            "smithy.api#documentation": "<p>An array of file system descriptions.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.fsx#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Present if there are more file systems than returned in the response (String). You\n            can use the <code>NextToken</code> value in the later request to fetch the\n            descriptions. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for <code>DescribeFileSystems</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#DirectoryId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^d-[0-9a-f]{10}$"
      }
    },
    "com.amazonaws.fsx#DirectoryPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^.{1,256}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.fsx#DirectoryUserName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^.{1,256}$"
      }
    },
    "com.amazonaws.fsx#DnsIps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#IpAddress"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.fsx#EndTime": {
      "type": "timestamp"
    },
    "com.amazonaws.fsx#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A detailed error message.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.fsx#FailedCount": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.fsx#FileSystem": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.fsx#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the file system was created, in seconds (since 1970-01-01T00:00:00Z),\n            also known as Unix time.</p>"
          }
        },
        "DNSName": {
          "target": "com.amazonaws.fsx#DNSName",
          "traits": {
            "smithy.api#documentation": "<p>The DNS name for the file system.</p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.fsx#FileSystemFailureDetails"
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated, unique 17-digit ID of the file system.</p>"
          }
        },
        "FileSystemType": {
          "target": "com.amazonaws.fsx#FileSystemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon FSx file system, either <code>LUSTRE</code> or <code>WINDOWS</code>.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.fsx#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS Key Management Service (AWS KMS) key used to encrypt the file\n            system's data for an Amazon FSx for Windows File Server file system. \n            Amazon FSx for Lustre does not support KMS encryption. </p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.fsx#FileSystemLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle status of the file system, following are the possible values and what they mean:</p> \n            <ul>\n            <li>\n               <p>\n                  <code>AVAILABLE</code> - The file system is in a healthy state, and is reachable and available for use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATING</code> - Amazon FSx is creating the new file system.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> - Amazon FSx is deleting an existing file system.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - An existing file system has experienced an unrecoverable failure. \n                    When creating a new file system, Amazon FSx was unable to create the file system.</p>\n            </li>\n            <li>\n                    <p>\n                  <code>MISCONFIGURED</code> indicates that the file system is in a failed but recoverable state.</p>\n                </li>\n            <li>\n                    <p>\n                  <code>UPDATING</code> indicates that the file system is undergoing a customer initiated update.</p>\n                </li>\n         </ul>"
          }
        },
        "LustreConfiguration": {
          "target": "com.amazonaws.fsx#LustreFileSystemConfiguration"
        },
        "NetworkInterfaceIds": {
          "target": "com.amazonaws.fsx#NetworkInterfaceIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the elastic network interface from which a specific file system is\n            accessible. The elastic network interface is automatically created in the same VPC that\n            the Amazon FSx file system was created in. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html\">Elastic Network\n                Interfaces</a> in the <i>Amazon EC2 User Guide.</i>\n         </p>\n\n        <p>For an Amazon FSx for Windows File Server file system, you can have one network\n            interface ID. For an Amazon FSx for Lustre file system, you can have more than\n            one.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.fsx#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account that created the file system. If the file system was created by an AWS\n            Identity and Access Management (IAM) user, the AWS account to which the IAM user belongs\n            is the owner.</p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.fsx#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the file system resource.</p>"
          }
        },
        "StorageCapacity": {
          "target": "com.amazonaws.fsx#StorageCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The storage capacity of the file system in gigabytes (GB).</p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.fsx#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet to contain the endpoint for the file system. One and only one is\n            supported. The file system is launched in the Availability Zone associated with this\n            subnet.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the file system. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\">Tagging Your\n                Amazon EC2 Resources</a> in the <i>Amazon EC2 User\n            Guide</i>.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.fsx#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the primary VPC for the file system.</p>"
          }
        },
        "WindowsConfiguration": {
          "target": "com.amazonaws.fsx#WindowsFileSystemConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for this Microsoft Windows file system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A description of a specific Amazon FSx file system.</p>"
      }
    },
    "com.amazonaws.fsx#FileSystemAdministratorsGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^.{1,256}$"
      }
    },
    "com.amazonaws.fsx#FileSystemFailureDetails": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message describing any failures that occurred during file system creation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure providing details of any failures that occur when creating the file system\n            has failed.</p>"
      }
    },
    "com.amazonaws.fsx#FileSystemId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The globally unique ID of the file system, assigned by Amazon FSx.</p>",
        "smithy.api#length": {
          "min": 11,
          "max": 21
        },
        "smithy.api#pattern": "^(fs-[0-9a-f]{8,})$"
      }
    },
    "com.amazonaws.fsx#FileSystemIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#FileSystemId"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of <code>FileSystemId</code>s.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#FileSystemLifecycle": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The lifecycle status of the file system.</p>",
        "smithy.api#enum": [
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "MISCONFIGURED",
            "name": "MISCONFIGURED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          }
        ]
      }
    },
    "com.amazonaws.fsx#FileSystemMaintenanceOperation": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An enumeration specifying the currently ongoing maintenance operation.</p>",
        "smithy.api#enum": [
          {
            "value": "PATCHING",
            "name": "PATCHING"
          },
          {
            "value": "BACKING_UP",
            "name": "BACKING_UP"
          }
        ]
      }
    },
    "com.amazonaws.fsx#FileSystemMaintenanceOperations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#FileSystemMaintenanceOperation"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of maintenance operations.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
[...]
