{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.fsx#AWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Services account ID. This ID is a 12-digit number that you use to construct Amazon\n            Resource Names (ARNs) for resources.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.fsx#AWSSimbaAPIService_v20180301": {
      "type": "service",
      "version": "2018-03-01",
      "operations": [
        {
          "target": "com.amazonaws.fsx#AssociateFileSystemAliases"
        },
        {
          "target": "com.amazonaws.fsx#CancelDataRepositoryTask"
        },
        {
          "target": "com.amazonaws.fsx#CopyBackup"
        },
        {
          "target": "com.amazonaws.fsx#CreateBackup"
        },
        {
          "target": "com.amazonaws.fsx#CreateDataRepositoryAssociation"
        },
        {
          "target": "com.amazonaws.fsx#CreateDataRepositoryTask"
        },
        {
          "target": "com.amazonaws.fsx#CreateFileCache"
        },
        {
          "target": "com.amazonaws.fsx#CreateFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#CreateFileSystemFromBackup"
        },
        {
          "target": "com.amazonaws.fsx#CreateSnapshot"
        },
        {
          "target": "com.amazonaws.fsx#CreateStorageVirtualMachine"
        },
        {
          "target": "com.amazonaws.fsx#CreateVolume"
        },
        {
          "target": "com.amazonaws.fsx#CreateVolumeFromBackup"
        },
        {
          "target": "com.amazonaws.fsx#DeleteBackup"
        },
        {
          "target": "com.amazonaws.fsx#DeleteDataRepositoryAssociation"
        },
        {
          "target": "com.amazonaws.fsx#DeleteFileCache"
        },
        {
          "target": "com.amazonaws.fsx#DeleteFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#DeleteSnapshot"
        },
        {
          "target": "com.amazonaws.fsx#DeleteStorageVirtualMachine"
        },
        {
          "target": "com.amazonaws.fsx#DeleteVolume"
        },
        {
          "target": "com.amazonaws.fsx#DescribeBackups"
        },
        {
          "target": "com.amazonaws.fsx#DescribeDataRepositoryAssociations"
        },
        {
          "target": "com.amazonaws.fsx#DescribeDataRepositoryTasks"
        },
        {
          "target": "com.amazonaws.fsx#DescribeFileCaches"
        },
        {
          "target": "com.amazonaws.fsx#DescribeFileSystemAliases"
        },
        {
          "target": "com.amazonaws.fsx#DescribeFileSystems"
        },
        {
          "target": "com.amazonaws.fsx#DescribeSnapshots"
        },
        {
          "target": "com.amazonaws.fsx#DescribeStorageVirtualMachines"
        },
        {
          "target": "com.amazonaws.fsx#DescribeVolumes"
        },
        {
          "target": "com.amazonaws.fsx#DisassociateFileSystemAliases"
        },
        {
          "target": "com.amazonaws.fsx#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.fsx#ReleaseFileSystemNfsV3Locks"
        },
        {
          "target": "com.amazonaws.fsx#RestoreVolumeFromSnapshot"
        },
        {
          "target": "com.amazonaws.fsx#TagResource"
        },
        {
          "target": "com.amazonaws.fsx#UntagResource"
        },
        {
          "target": "com.amazonaws.fsx#UpdateDataRepositoryAssociation"
        },
        {
          "target": "com.amazonaws.fsx#UpdateFileCache"
        },
        {
          "target": "com.amazonaws.fsx#UpdateFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#UpdateSnapshot"
        },
        {
          "target": "com.amazonaws.fsx#UpdateStorageVirtualMachine"
        },
        {
          "target": "com.amazonaws.fsx#UpdateVolume"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "FSx",
          "arnNamespace": "fsx",
          "cloudFormationName": "FSx",
          "cloudTrailEventSource": "fsx.amazonaws.com",
          "endpointPrefix": "fsx"
        },
        "aws.auth#sigv4": {
          "name": "fsx"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon FSx is a fully managed service that makes it easy for storage and\n            application administrators to launch and use shared file storage.</p>",
        "smithy.api#title": "Amazon FSx",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://fsx-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "prod-ca-central-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fsx-fips.ca-central-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "prod-us-east-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fsx-fips.us-east-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "prod-us-east-2"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fsx-fips.us-east-2.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "prod-us-west-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fsx-fips.us-west-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "prod-us-west-2"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fsx-fips.us-west-2.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "prod-us-gov-east-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fsx-fips.us-gov-east-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "prod-us-gov-west-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fsx-fips.us-gov-west-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://fsx-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://fsx.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://fsx.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fsx.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryBackupAttributes": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.fsx#ActiveDirectoryFullyQualifiedName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name of the self-managed Active Directory directory.</p>"
          }
        },
        "ActiveDirectoryId": {
          "target": "com.amazonaws.fsx#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services Managed Microsoft Active Directory instance to which the file system is joined.</p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.fsx#ResourceARN"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Microsoft Active Directory attributes of the Amazon FSx for Windows File\n            Server file system.</p>"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryError": {
      "type": "structure",
      "members": {
        "ActiveDirectoryId": {
          "target": "com.amazonaws.fsx#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID of the directory that an error pertains to.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.fsx#ActiveDirectoryErrorType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Active Directory error.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Active Directory error.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryErrorType": {
      "type": "enum",
      "members": {
        "DOMAIN_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_NOT_FOUND"
          }
        },
        "INCOMPATIBLE_DOMAIN_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_DOMAIN_MODE"
          }
        },
        "WRONG_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WRONG_VPC"
          }
        },
        "INVALID_DOMAIN_STAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_DOMAIN_STAGE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of error relating to Microsoft Active Directory. NOT_FOUND means that no\n            directory was found by specifying the given directory. INCOMPATIBLE_MODE means that the\n            directory specified is not a Microsoft AD directory. WRONG_VPC means that the specified\n            directory isn't accessible from the specified VPC. WRONG_STAGE means that the\n            specified directory isn't currently in the ACTIVE state.</p>"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryFullyQualifiedName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{1,255}$"
      }
    },
    "com.amazonaws.fsx#AdminPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 50
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{8,50}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.fsx#AdministrativeAction": {
      "type": "structure",
      "members": {
        "AdministrativeActionType": {
          "target": "com.amazonaws.fsx#AdministrativeActionType"
        },
        "ProgressPercent": {
          "target": "com.amazonaws.fsx#ProgressPercent",
          "traits": {
            "smithy.api#documentation": "<p>The percentage-complete status of a <code>STORAGE_OPTIMIZATION</code> administrative\n            action. Does not apply to any other administrative action type.</p>"
          }
        },
        "RequestTime": {
          "target": "com.amazonaws.fsx#RequestTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the administrative action request was received.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.fsx#Status",
          "traits": {
            "smithy.api#documentation": "<p>Describes the status of the administrative action, as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FAILED</code> - Amazon FSx failed to process the administrative action\n                    successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Amazon FSx is processing the administrative action.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - Amazon FSx is waiting to process the administrative\n                    action.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - Amazon FSx has finished processing the administrative\n                    task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UPDATED_OPTIMIZING</code> - For a storage-capacity increase update, Amazon FSx\n                    has updated the file system with the new storage capacity, and is now performing\n                    the storage-optimization process. </p>\n            </li>\n         </ul>"
          }
        },
        "TargetFileSystemValues": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>Describes the target value for the administration action,  \n            provided in the <code>UpdateFileSystem</code> operation.  \n           Returned for <code>FILE_SYSTEM_UPDATE</code> administrative actions. \n         </p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.fsx#AdministrativeActionFailureDetails"
        },
        "TargetVolumeValues": {
          "target": "com.amazonaws.fsx#Volume"
        },
        "TargetSnapshotValues": {
          "target": "com.amazonaws.fsx#Snapshot"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a specific Amazon FSx administrative action for the current Windows,\n            Lustre, or OpenZFS file system.</p>"
      }
    },
    "com.amazonaws.fsx#AdministrativeActionFailureDetails": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Error message providing details about the failed administrative action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a failed administrative action.</p>"
      }
    },
    "com.amazonaws.fsx#AdministrativeActionType": {
      "type": "enum",
      "members": {
        "FILE_SYSTEM_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_SYSTEM_UPDATE"
          }
        },
        "STORAGE_OPTIMIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_OPTIMIZATION"
          }
        },
        "FILE_SYSTEM_ALIAS_ASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_SYSTEM_ALIAS_ASSOCIATION"
          }
        },
        "FILE_SYSTEM_ALIAS_DISASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_SYSTEM_ALIAS_DISASSOCIATION"
          }
        },
        "VOLUME_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_UPDATE"
          }
        },
        "SNAPSHOT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SNAPSHOT_UPDATE"
          }
        },
        "RELEASE_NFS_V3_LOCKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELEASE_NFS_V3_LOCKS"
          }
        },
        "VOLUME_RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOLUME_RESTORE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the type of administrative action, as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FILE_SYSTEM_UPDATE</code> - A file system update administrative action\n                    initiated from the Amazon FSx console, API\n                        (<code>UpdateFileSystem</code>), or CLI\n                    (<code>update-file-system</code>).</p>\n            </li>\n            <li>\n               <p>\n                  <code>STORAGE_OPTIMIZATION</code> - After the <code>FILE_SYSTEM_UPDATE</code>\n                    task to increase a file system's storage capacity has been completed\n                    successfully, a <code>STORAGE_OPTIMIZATION</code> task starts. </p>\n               <ul>\n                  <li>\n                     <p>For Windows and ONTAP, storage optimization is the process of migrating the file system data\n                        to newer larger disks.</p>\n                  </li>\n                  <li>\n                     <p>For Lustre, storage optimization consists of rebalancing the data across the existing and\n                            newly added file servers.</p>\n                  </li>\n               </ul>\n               <p>You can track the storage-optimization progress using the\n                        <code>ProgressPercent</code> property. When\n                        <code>STORAGE_OPTIMIZATION</code> has been completed successfully, the\n                    parent <code>FILE_SYSTEM_UPDATE</code> action status changes to\n                        <code>COMPLETED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-storage-capacity.html\">Managing\n                        storage capacity</a> in the <i>Amazon FSx for Windows\n                        File Server User Guide</i>, <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/managing-storage-capacity.html\">Managing storage\n                        and throughput capacity</a> in the <i>Amazon FSx for\n                            Lustre User Guide</i>, and\n                    <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/managing-storage-capacity.html\">Managing storage capacity and provisioned IOPS</a> in the <i>Amazon FSx for NetApp ONTAP User\n                            Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FILE_SYSTEM_ALIAS_ASSOCIATION</code> - A file system update to associate a new Domain\n                    Name System (DNS) alias with the file system. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_AssociateFileSystemAliases.html\">\n                        AssociateFileSystemAliases</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FILE_SYSTEM_ALIAS_DISASSOCIATION</code> - A file system update to disassociate a DNS alias from the file system.\n                For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DisassociateFileSystemAliases.html\">DisassociateFileSystemAliases</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VOLUME_UPDATE</code> - A volume update to an Amazon FSx for NetApp ONTAP or\n                        Amazon FSx for OpenZFS volume initiated from the Amazon FSx\n                    console, API (<code>UpdateVolume</code>), or CLI\n                    (<code>update-volume</code>).</p>\n            </li>\n            <li>\n               <p>\n                  <code>VOLUME_RESTORE</code> - An Amazon FSx for OpenZFS volume\n                is returned to the state saved by the specified snapshot, initiated from an\n                API (<code>RestoreVolumeFromSnapshot</code>) or CLI\n                (<code>restore-volume-from-snapshot</code>).</p>\n            </li>\n            <li>\n               <p>\n                  <code>SNAPSHOT_UPDATE</code> - A snapshot update to an Amazon FSx for\n                    OpenZFS volume initiated from the Amazon FSx console, API\n                        (<code>UpdateSnapshot</code>), or CLI (<code>update-snapshot</code>).</p>\n            </li>\n            <li>\n               <p>\n                  <code>RELEASE_NFS_V3_LOCKS</code> - Tracks the release of Network File System\n                    (NFS) V3 locks on an Amazon FSx for OpenZFS file system.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.fsx#AdministrativeActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#AdministrativeAction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#Alias": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.fsx#AlternateDNSName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DNS alias. The alias name has to meet the following requirements:</p>\n         <ul>\n            <li>\n               <p>Formatted as a fully-qualified domain name (FQDN), <code>hostname.domain</code>, for example, <code>accounting.example.com</code>.</p>\n            </li>\n            <li>\n               <p>Can contain alphanumeric characters, the underscore (_), and the hyphen (-).</p>\n            </li>\n            <li>\n               <p>Cannot start or end with a hyphen.</p>\n            </li>\n            <li>\n               <p>Can start with a numeric.</p>\n            </li>\n         </ul>\n         <p>For DNS names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: \n            as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.fsx#AliasLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>Describes the state of the DNS alias.</p>\n         <ul>\n            <li>\n               <p>AVAILABLE - The DNS alias is associated with an Amazon FSx file system.</p>\n            </li>\n            <li>\n               <p>CREATING - Amazon FSx is creating the DNS alias and associating it with the file system.</p>\n            </li>\n            <li>\n               <p>CREATE_FAILED - Amazon FSx was unable to associate the DNS alias with the file system.</p>\n            </li>\n            <li>\n               <p>DELETING - Amazon FSx is disassociating the DNS alias from the file system and deleting it.</p>\n            </li>\n            <li>\n               <p>DELETE_FAILED - Amazon FSx was unable to disassociate the DNS alias from the file system.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A DNS alias that is associated with the file system. You can use a DNS alias to access a file system using \n            user-defined DNS names, in addition to the default DNS name\n            that Amazon FSx assigns to the file system. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a> \n            in the <i>FSx for Windows File Server User Guide</i>.</p>"
      }
    },
    "com.amazonaws.fsx#AliasLifecycle": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.fsx#Aliases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#Alias"
      },
      "traits": {
        "smithy.api#documentation": "<p>An array of one or more DNS aliases that are currently associated with the Amazon FSx file system. \n            Aliases allow you to use existing DNS names to access the data in your Amazon FSx file system. \n            You can associate up to 50 aliases with a file system at any time. \n            You can associate additional DNS aliases after you create the file system using the AssociateFileSystemAliases operation. \n            You can remove DNS aliases from the file system after it is created using the DisassociateFileSystemAliases operation.\n            You only need to specify the alias name in the request payload. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a>.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#AlternateDNSName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 253
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{4,253}$"
      }
    },
    "com.amazonaws.fsx#AlternateDNSNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#AlternateDNSName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#ArchivePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 4357
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{3,4357}$"
      }
    },
    "com.amazonaws.fsx#AssociateFileSystemAliases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#AssociateFileSystemAliasesRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#AssociateFileSystemAliasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this action to associate one or more Domain Name Server (DNS) aliases with an existing Amazon FSx for Windows File Server file system. \n        A file system can have a maximum of 50 DNS aliases associated with it at any one time. If you try to \n        associate a DNS alias that is already associated with the file system, FSx takes no action on that alias in the request. \n        For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a> and \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/walkthrough05-file-system-custom-CNAME.html\">Walkthrough 5: Using DNS aliases to access your file system</a>, including\n             additional steps you must take to be able to access your file system using a DNS alias.</p>\n         <p>The system response shows the DNS aliases that \n            Amazon FSx is attempting to associate with the file system. \n            Use the  API \n            operation to monitor the status of the aliases Amazon FSx is \n            associating with the file system.</p>"
      }
    },
    "com.amazonaws.fsx#AssociateFileSystemAliasesRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file system with which you want to associate one or more DNS aliases.</p>",
            "smithy.api#required": {}
          }
        },
        "Aliases": {
          "target": "com.amazonaws.fsx#AlternateDNSNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of one or more DNS alias names to associate with the file system. \n            The alias name has to comply with the following formatting requirements:</p>\n         <ul>\n            <li>\n               <p>Formatted as a fully-qualified domain name (FQDN), <i>\n                     <code>hostname.domain</code>\n                  </i>, \n                    for example, <code>accounting.corp.example.com</code>.</p>\n            </li>\n            <li>\n               <p>Can contain alphanumeric characters and the hyphen (-).</p>\n            </li>\n            <li>\n               <p>Cannot start or end with a hyphen.</p>\n            </li>\n            <li>\n               <p>Can start with a numeric.</p>\n            </li>\n         </ul>\n         <p>For DNS alias names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: \n            as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object specifying one or more DNS alias names to associate with an Amazon FSx for Windows File Server file system.</p>"
      }
    },
    "com.amazonaws.fsx#AssociateFileSystemAliasesResponse": {
      "type": "structure",
      "members": {
        "Aliases": {
          "target": "com.amazonaws.fsx#Aliases",
          "traits": {
            "smithy.api#documentation": "<p>An array of the DNS aliases that Amazon FSx is associating with the file system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The system generated response showing the DNS aliases that \n            Amazon FSx is attempting to associate with the file system. \n            Use the  API \n            operation to monitor the status of the aliases Amazon FSx is \n            associating with the file system. It can take up to 2.5 minutes for \n        the alias status to change from <code>CREATING</code> to <code>AVAILABLE</code>. </p>"
      }
    },
    "com.amazonaws.fsx#AutoExportPolicy": {
      "type": "structure",
      "members": {
        "Events": {
          "target": "com.amazonaws.fsx#EventTypes",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AutoExportPolicy</code> can have the following event values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NEW</code> - New files and directories are automatically exported\n                to the data repository as they are added to the file system.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CHANGED</code> - Changes to files and directories on the\n                file system are automatically exported to the data repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - Files and directories are automatically deleted\n                on the data repository when they are deleted on the file system.</p>\n            </li>\n         </ul>\n         <p>You can define any combination of event types for your <code>AutoExportPolicy</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a data repository association's automatic export policy. The\n            <code>AutoExportPolicy</code> defines the types of updated objects on the\n            file system that will be automatically exported to the data repository.\n            As you create, modify, or delete files, Amazon FSx for Lustre \n            automatically exports the defined changes asynchronously once your application finishes\n            modifying the file.</p>\n         <p>This <code>AutoExportPolicy</code> is supported only for Amazon FSx for Lustre\n            file systems with the <code>Persistent_2</code> deployment type.</p>"
      }
    },
    "com.amazonaws.fsx#AutoImportPolicy": {
      "type": "structure",
      "members": {
        "Events": {
          "target": "com.amazonaws.fsx#EventTypes",
          "traits": {
[...]
