{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.fsx#AWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Services account ID. This ID is a 12-digit number that you use to construct Amazon\n            Resource Names (ARNs) for resources.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.fsx#AWSSimbaAPIService_v20180301": {
      "type": "service",
      "traits": {
        "aws.api#service": {
          "sdkId": "FSx",
          "arnNamespace": "fsx",
          "cloudFormationName": "FSx",
          "cloudTrailEventSource": "fsx.amazonaws.com",
          "endpointPrefix": "fsx"
        },
        "aws.auth#sigv4": {
          "name": "fsx"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon FSx is a fully managed service that makes it easy for storage and\n            application administrators to launch and use shared file storage.</p>",
        "smithy.api#title": "Amazon FSx"
      },
      "version": "2018-03-01",
      "operations": [
        {
          "target": "com.amazonaws.fsx#AssociateFileSystemAliases"
        },
        {
          "target": "com.amazonaws.fsx#CancelDataRepositoryTask"
        },
        {
          "target": "com.amazonaws.fsx#CopyBackup"
        },
        {
          "target": "com.amazonaws.fsx#CreateBackup"
        },
        {
          "target": "com.amazonaws.fsx#CreateDataRepositoryAssociation"
        },
        {
          "target": "com.amazonaws.fsx#CreateDataRepositoryTask"
        },
        {
          "target": "com.amazonaws.fsx#CreateFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#CreateFileSystemFromBackup"
        },
        {
          "target": "com.amazonaws.fsx#CreateSnapshot"
        },
        {
          "target": "com.amazonaws.fsx#CreateStorageVirtualMachine"
        },
        {
          "target": "com.amazonaws.fsx#CreateVolume"
        },
        {
          "target": "com.amazonaws.fsx#CreateVolumeFromBackup"
        },
        {
          "target": "com.amazonaws.fsx#DeleteBackup"
        },
        {
          "target": "com.amazonaws.fsx#DeleteDataRepositoryAssociation"
        },
        {
          "target": "com.amazonaws.fsx#DeleteFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#DeleteSnapshot"
        },
        {
          "target": "com.amazonaws.fsx#DeleteStorageVirtualMachine"
        },
        {
          "target": "com.amazonaws.fsx#DeleteVolume"
        },
        {
          "target": "com.amazonaws.fsx#DescribeBackups"
        },
        {
          "target": "com.amazonaws.fsx#DescribeDataRepositoryAssociations"
        },
        {
          "target": "com.amazonaws.fsx#DescribeDataRepositoryTasks"
        },
        {
          "target": "com.amazonaws.fsx#DescribeFileSystemAliases"
        },
        {
          "target": "com.amazonaws.fsx#DescribeFileSystems"
        },
        {
          "target": "com.amazonaws.fsx#DescribeSnapshots"
        },
        {
          "target": "com.amazonaws.fsx#DescribeStorageVirtualMachines"
        },
        {
          "target": "com.amazonaws.fsx#DescribeVolumes"
        },
        {
          "target": "com.amazonaws.fsx#DisassociateFileSystemAliases"
        },
        {
          "target": "com.amazonaws.fsx#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.fsx#ReleaseFileSystemNfsV3Locks"
        },
        {
          "target": "com.amazonaws.fsx#RestoreVolumeFromSnapshot"
        },
        {
          "target": "com.amazonaws.fsx#TagResource"
        },
        {
          "target": "com.amazonaws.fsx#UntagResource"
        },
        {
          "target": "com.amazonaws.fsx#UpdateDataRepositoryAssociation"
        },
        {
          "target": "com.amazonaws.fsx#UpdateFileSystem"
        },
        {
          "target": "com.amazonaws.fsx#UpdateSnapshot"
        },
        {
          "target": "com.amazonaws.fsx#UpdateStorageVirtualMachine"
        },
        {
          "target": "com.amazonaws.fsx#UpdateVolume"
        }
      ]
    },
    "com.amazonaws.fsx#ActiveDirectoryBackupAttributes": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.fsx#ActiveDirectoryFullyQualifiedName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name of the self-managed Active Directory directory.</p>"
          }
        },
        "ActiveDirectoryId": {
          "target": "com.amazonaws.fsx#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services Managed Microsoft Active Directory instance to which the file system is joined.</p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.fsx#ResourceARN"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Microsoft Active Directory attributes of the Amazon FSx for Windows File\n            Server file system.</p>"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryError": {
      "type": "structure",
      "members": {
        "ActiveDirectoryId": {
          "target": "com.amazonaws.fsx#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID of the directory that an error pertains to.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.fsx#ActiveDirectoryErrorType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Active Directory error.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Active Directory error.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryErrorType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The type of error relating to Microsoft Active Directory. NOT_FOUND means that no\n            directory was found by specifying the given directory. INCOMPATIBLE_MODE means that the\n            directory specified is not a Microsoft AD directory. WRONG_VPC means that the specified\n            directory isn't accessible from the specified VPC. WRONG_STAGE means that the\n            specified directory isn't currently in the ACTIVE state.</p>",
        "smithy.api#enum": [
          {
            "value": "DOMAIN_NOT_FOUND",
            "name": "DOMAIN_NOT_FOUND"
          },
          {
            "value": "INCOMPATIBLE_DOMAIN_MODE",
            "name": "INCOMPATIBLE_DOMAIN_MODE"
          },
          {
            "value": "WRONG_VPC",
            "name": "WRONG_VPC"
          },
          {
            "value": "INVALID_DOMAIN_STAGE",
            "name": "INVALID_DOMAIN_STAGE"
          }
        ]
      }
    },
    "com.amazonaws.fsx#ActiveDirectoryFullyQualifiedName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{1,255}$"
      }
    },
    "com.amazonaws.fsx#AdminPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 50
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{8,50}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.fsx#AdministrativeAction": {
      "type": "structure",
      "members": {
        "AdministrativeActionType": {
          "target": "com.amazonaws.fsx#AdministrativeActionType"
        },
        "ProgressPercent": {
          "target": "com.amazonaws.fsx#ProgressPercent",
          "traits": {
            "smithy.api#documentation": "<p>The percentage-complete status of a <code>STORAGE_OPTIMIZATION</code> administrative\n            action. Does not apply to any other administrative action type.</p>"
          }
        },
        "RequestTime": {
          "target": "com.amazonaws.fsx#RequestTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the administrative action request was received.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.fsx#Status",
          "traits": {
            "smithy.api#documentation": "<p>Describes the status of the administrative action, as follows:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>FAILED</code> - Amazon FSx failed to process the administrative action\n                    successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Amazon FSx is processing the administrative action.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - Amazon FSx is waiting to process the administrative\n                    action.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - Amazon FSx has finished processing the administrative\n                    task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UPDATED_OPTIMIZING</code> - For a storage-capacity increase update, Amazon FSx\n                    has updated the file system with the new storage capacity, and is now performing\n                    the storage-optimization process. </p>\n            </li>\n         </ul>"
          }
        },
        "TargetFileSystemValues": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>Describes the target value for the administration action,  \n            provided in the <code>UpdateFileSystem</code> operation.  \n           Returned for <code>FILE_SYSTEM_UPDATE</code> administrative actions. \n         </p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.fsx#AdministrativeActionFailureDetails"
        },
        "TargetVolumeValues": {
          "target": "com.amazonaws.fsx#Volume"
        },
        "TargetSnapshotValues": {
          "target": "com.amazonaws.fsx#Snapshot"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a specific Amazon FSx administrative action for the current Windows,\n            Lustre, or OpenZFS file system.</p>"
      }
    },
    "com.amazonaws.fsx#AdministrativeActionFailureDetails": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Error message providing details about the failed administrative action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a failed administrative action.</p>"
      }
    },
    "com.amazonaws.fsx#AdministrativeActionType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Describes the type of administrative action, as follows:</p> \n        <ul>\n            <li>\n                <p>\n                  <code>FILE_SYSTEM_UPDATE</code> - A file system update administrative action\n                    initiated from the Amazon FSx console, API\n                        (<code>UpdateFileSystem</code>), or CLI\n                    (<code>update-file-system</code>).</p>\n            </li>\n            <li>\n                <p>\n                  <code>STORAGE_OPTIMIZATION</code> - After the <code>FILE_SYSTEM_UPDATE</code>\n                    task to increase a file system's storage capacity has been completed\n                    successfully, a <code>STORAGE_OPTIMIZATION</code> task starts. </p>\n                <ul>\n                  <li>\n                     <p>For Windows and ONTAP, storage optimization is the process of migrating the file system data\n                        to newer larger disks.</p>\n                  </li>\n                  <li>\n                     <p>For Lustre, storage optimization consists of rebalancing the data across the existing and\n                            newly added file servers.</p>\n                  </li>\n               </ul>\n                <p>You can track the storage-optimization progress using the\n                        <code>ProgressPercent</code> property. When\n                        <code>STORAGE_OPTIMIZATION</code> has been completed successfully, the\n                    parent <code>FILE_SYSTEM_UPDATE</code> action status changes to\n                        <code>COMPLETED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-storage-capacity.html\">Managing\n                        storage capacity</a> in the <i>Amazon FSx for Windows\n                        File Server User Guide</i>, <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/managing-storage-capacity.html\">Managing storage\n                        and throughput capacity</a> in the <i>Amazon FSx for\n                            Lustre User Guide</i>, and\n                    <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/managing-storage-capacity.html\">Managing storage capacity and provisioned IOPS</a> in the <i>Amazon FSx for NetApp ONTAP User\n                            Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FILE_SYSTEM_ALIAS_ASSOCIATION</code> - A file system update to associate a new Domain\n                    Name System (DNS) alias with the file system. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_AssociateFileSystemAliases.html\">\n                        AssociateFileSystemAliases</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FILE_SYSTEM_ALIAS_DISASSOCIATION</code> - A file system update to disassociate a DNS alias from the file system.\n                For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DisassociateFileSystemAliases.html\">DisassociateFileSystemAliases</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VOLUME_UPDATE</code> - A volume update to an Amazon FSx for NetApp ONTAP or\n                        Amazon FSx for OpenZFS volume initiated from the Amazon FSx\n                    console, API (<code>UpdateVolume</code>), or CLI\n                    (<code>update-volume</code>).</p>\n            </li>\n            <li>\n                <p>\n                  <code>SNAPSHOT_UPDATE</code> - A snapshot update to an Amazon FSx for\n                    OpenZFS volume initiated from the Amazon FSx console, API\n                        (<code>UpdateSnapshot</code>), or CLI (<code>update-snapshot</code>).</p>\n            </li>\n            <li>\n                <p>\n                  <code>RELEASE_NFS_V3_LOCKS</code> - Tracks the release of Network File System\n                    (NFS) V3 locks on an Amazon FSx for OpenZFS file system. </p>\n            </li>\n         </ul>",
        "smithy.api#enum": [
          {
            "value": "FILE_SYSTEM_UPDATE",
            "name": "FILE_SYSTEM_UPDATE"
          },
          {
            "value": "STORAGE_OPTIMIZATION",
            "name": "STORAGE_OPTIMIZATION"
          },
          {
            "value": "FILE_SYSTEM_ALIAS_ASSOCIATION",
            "name": "FILE_SYSTEM_ALIAS_ASSOCIATION"
          },
          {
            "value": "FILE_SYSTEM_ALIAS_DISASSOCIATION",
            "name": "FILE_SYSTEM_ALIAS_DISASSOCIATION"
          },
          {
            "value": "VOLUME_UPDATE",
            "name": "VOLUME_UPDATE"
          },
          {
            "value": "SNAPSHOT_UPDATE",
            "name": "SNAPSHOT_UPDATE"
          },
          {
            "value": "RELEASE_NFS_V3_LOCKS",
            "name": "RELEASE_NFS_V3_LOCKS"
          }
        ]
      }
    },
    "com.amazonaws.fsx#AdministrativeActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#AdministrativeAction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#Alias": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.fsx#AlternateDNSName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DNS alias. The alias name has to meet the following requirements:</p>\n        <ul>\n            <li>\n               <p>Formatted as a fully-qualified domain name (FQDN), <code>hostname.domain</code>, for example, <code>accounting.example.com</code>.</p>\n            </li>\n            <li>\n               <p>Can contain alphanumeric characters, the underscore (_), and the hyphen (-).</p>\n            </li>\n            <li>\n               <p>Cannot start or end with a hyphen.</p>\n            </li>\n            <li>\n               <p>Can start with a numeric.</p>\n            </li>\n         </ul>\n        <p>For DNS names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: \n            as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.fsx#AliasLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>Describes the state of the DNS alias.</p>\n        <ul>\n            <li>\n               <p>AVAILABLE - The DNS alias is associated with an Amazon FSx file system.</p>\n            </li>\n            <li>\n               <p>CREATING - Amazon FSx is creating the DNS alias and associating it with the file system.</p>\n            </li>\n            <li>\n               <p>CREATE_FAILED - Amazon FSx was unable to associate the DNS alias with the file system.</p>\n            </li>\n            <li>\n               <p>DELETING - Amazon FSx is disassociating the DNS alias from the file system and deleting it.</p>\n            </li>\n            <li>\n               <p>DELETE_FAILED - Amazon FSx was unable to disassociate the DNS alias from the file system.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A DNS alias that is associated with the file system. You can use a DNS alias to access a file system using \n            user-defined DNS names, in addition to the default DNS name\n            that Amazon FSx assigns to the file system. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a> \n            in the <i>FSx for Windows File Server User Guide</i>.</p>"
      }
    },
    "com.amazonaws.fsx#AliasLifecycle": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.fsx#Aliases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#Alias"
      },
      "traits": {
        "smithy.api#documentation": "<p>An array of one or more DNS aliases that are currently associated with the Amazon FSx file system. \n            Aliases allow you to use existing DNS names to access the data in your Amazon FSx file system. \n            You can associate up to 50 aliases with a file system at any time. \n            You can associate additional DNS aliases after you create the file system using the AssociateFileSystemAliases operation. \n            You can remove DNS aliases from the file system after it is created using the DisassociateFileSystemAliases operation.\n            You only need to specify the alias name in the request payload. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a>.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#AlternateDNSName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 253
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{4,253}$"
      }
    },
    "com.amazonaws.fsx#AlternateDNSNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#AlternateDNSName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#ArchivePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 4357
        },
        "smithy.api#pattern": "^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{3,4357}$"
      }
    },
    "com.amazonaws.fsx#AssociateFileSystemAliases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#AssociateFileSystemAliasesRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#AssociateFileSystemAliasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use this action to associate one or more Domain Name Server (DNS) aliases with an existing Amazon FSx for Windows File Server file system. \n        A file system can have a maximum of 50 DNS aliases associated with it at any one time. If you try to \n        associate a DNS alias that is already associated with the file system, FSx takes no action on that alias in the request. \n        For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a> and \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/walkthrough05-file-system-custom-CNAME.html\">Walkthrough 5: Using DNS aliases to access your file system</a>, including\n             additional steps you must take to be able to access your file system using a DNS alias.</p>\n        <p>The system response shows the DNS aliases that \n            Amazon FSx is attempting to associate with the file system. \n            Use the  API \n            operation to monitor the status of the aliases Amazon FSx is \n            associating with the file system.</p>"
      }
    },
    "com.amazonaws.fsx#AssociateFileSystemAliasesRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file system with which you want to associate one or more DNS aliases.</p>",
            "smithy.api#required": {}
          }
        },
        "Aliases": {
          "target": "com.amazonaws.fsx#AlternateDNSNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of one or more DNS alias names to associate with the file system. \n            The alias name has to comply with the following formatting requirements:</p>\n            <ul>\n            <li>\n               <p>Formatted as a fully-qualified domain name (FQDN), <i>\n                     <code>hostname.domain</code>\n                  </i>, \n                    for example, <code>accounting.corp.example.com</code>.</p>\n            </li>\n            <li>\n               <p>Can contain alphanumeric characters and the hyphen (-).</p>\n            </li>\n            <li>\n               <p>Cannot start or end with a hyphen.</p>\n            </li>\n            <li>\n               <p>Can start with a numeric.</p>\n            </li>\n         </ul>\n        <p>For DNS alias names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: \n            as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object specifying one or more DNS alias names to associate with an Amazon FSx for Windows File Server file system.</p>"
      }
    },
    "com.amazonaws.fsx#AssociateFileSystemAliasesResponse": {
      "type": "structure",
      "members": {
        "Aliases": {
          "target": "com.amazonaws.fsx#Aliases",
          "traits": {
            "smithy.api#documentation": "<p>An array of the DNS aliases that Amazon FSx is associating with the file system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The system generated response showing the DNS aliases that \n            Amazon FSx is attempting to associate with the file system. \n            Use the  API \n            operation to monitor the status of the aliases Amazon FSx is \n            associating with the file system. It can take up to 2.5 minutes for \n        the alias status to change from <code>CREATING</code> to <code>AVAILABLE</code>. </p>"
      }
    },
    "com.amazonaws.fsx#AutoExportPolicy": {
      "type": "structure",
      "members": {
        "Events": {
          "target": "com.amazonaws.fsx#EventTypes",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AutoExportPolicy</code> can have the following event values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>NEW</code> - Amazon FSx automatically exports new files and\n                directories to the data repository as they are added to the file system.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CHANGED</code> - Amazon FSx automatically exports changes to\n                files and directories on the file system to the data repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - Files and directories are automatically deleted\n                on the data repository when they are deleted on the file system.</p>\n            </li>\n         </ul>\n        <p>You can define any combination of event types for your <code>AutoExportPolicy</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a data repository association's automatic export policy. The\n            <code>AutoExportPolicy</code>  defines the types of updated objects on the\n            file system that will be automatically exported to the data repository.\n            As you create, modify, or delete files, Amazon FSx automatically\n            exports the defined changes asynchronously once your application finishes\n            modifying the file.</p>\n        <p>This <code>AutoExportPolicy</code> is supported only for file systems with the\n            <code>Persistent_2</code> deployment type.</p>"
      }
    },
    "com.amazonaws.fsx#AutoImportPolicy": {
      "type": "structure",
      "members": {
        "Events": {
          "target": "com.amazonaws.fsx#EventTypes",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AutoImportPolicy</code> can have the following event values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>NEW</code> - Amazon FSx automatically imports metadata of\n                files added to the linked S3 bucket that do not currently exist in the FSx\n                file system.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CHANGED</code> - Amazon FSx automatically updates file\n                metadata and invalidates existing file content on the file system as files\n                change in the data repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - Amazon FSx automatically deletes files\n                on the file system as corresponding files are deleted in the data repository.</p>\n            </li>\n         </ul>\n        <p>You can define any combination of event types for your <code>AutoImportPolicy</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the data repository association's automatic import policy.\n            The AutoImportPolicy defines how Amazon FSx keeps your file metadata and directory\n            listings up to date by importing changes to your file system as you modify\n            objects in a linked S3 bucket.</p>\n        <p>This <code>AutoImportPolicy</code> is supported only for file systems\n            with the <code>Persistent_2</code> deployment type.</p>"
      }
    },
    "com.amazonaws.fsx#AutoImportPolicyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "NEW",
            "name": "NEW"
          },
          {
            "value": "NEW_CHANGED",
            "name": "NEW_CHANGED"
          },
          {
            "value": "NEW_CHANGED_DELETED",
            "name": "NEW_CHANGED_DELETED"
          }
        ]
      }
    },
    "com.amazonaws.fsx#AutomaticBackupRetentionDays": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#documentation": "<p>The number of days to retain automatic backups. Setting this property to\n                <code>0</code> disables automatic backups. You can retain automatic backups for a\n            maximum of 90 days. The default is <code>0</code>.</p>",
        "smithy.api#range": {
          "min": 0,
          "max": 90
        }
      }
    },
    "com.amazonaws.fsx#Backup": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.fsx#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup.</p>",
            "smithy.api#required": {}
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.fsx#BackupLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle status of the backup.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>AVAILABLE</code> - The backup is fully available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx hasn't started creating the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATING</code> - Amazon FSx is creating the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is transferring the backup to Amazon S3.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COPYING</code> - Amazon FSx is copying the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - Amazon FSx deleted the backup and it's no longer\n                    available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - Amazon FSx couldn't finish the backup.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.fsx#BackupFailureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details explaining any failures that occurred when creating a backup.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.fsx#BackupType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the file-system backup.</p>",
            "smithy.api#required": {}
          }
        },
        "ProgressPercent": {
          "target": "com.amazonaws.fsx#ProgressPercent"
        },
        "CreationTime": {
          "target": "com.amazonaws.fsx#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when a particular backup was created.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.fsx#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Key Management Service (KMS) key used to encrypt the\n            backup of the Amazon FSx file system's data at rest. </p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.fsx#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the backup resource.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with a particular file system.</p>"
          }
        },
        "FileSystem": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the file system associated with the backup. This metadata is persisted\n            even if the file system is deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "DirectoryInformation": {
          "target": "com.amazonaws.fsx#ActiveDirectoryBackupAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the self-managed Microsoft Active Directory directory to which\n            the Windows File Server instance is joined.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.fsx#AWSAccountId"
        },
        "SourceBackupId": {
          "target": "com.amazonaws.fsx#BackupId"
        },
        "SourceBackupRegion": {
          "target": "com.amazonaws.fsx#Region",
          "traits": {
            "smithy.api#documentation": "<p>The source Region of the backup. Specifies the Region from where this backup\n            is copied.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.fsx#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource type that's backed up.</p>"
          }
        },
        "Volume": {
          "target": "com.amazonaws.fsx#Volume"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A backup of an Amazon FSx for Windows File Server, Amazon FSx for\n            Lustre file system, Amazon FSx for NetApp ONTAP volume, or Amazon FSx\n            for OpenZFS file system.</p>"
      }
    },
    "com.amazonaws.fsx#BackupBeingCopied": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        },
        "BackupId": {
          "target": "com.amazonaws.fsx#BackupId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't delete a backup while it's being copied.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupFailureDetails": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the backup-creation failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If backup creation fails, this structure contains the details of that\n            failure.</p>"
      }
    },
    "com.amazonaws.fsx#BackupId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the source backup. Specifies the backup that you are copying.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 128
        },
        "smithy.api#pattern": "^(backup-[0-9a-f]{8,})$"
      }
    },
    "com.amazonaws.fsx#BackupIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#BackupId"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of backup IDs.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#BackupInProgress": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another backup is already under way. Wait for completion before initiating\n            additional backups of this file system.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupLifecycle": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The lifecycle status of the backup.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>AVAILABLE</code> - The backup is fully available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx hasn't started creating the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATING</code> - Amazon FSx is creating the new user-initiated backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is backing up the file\n                    system.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COPYING</code> - Amazon FSx is copying the backup.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - Amazon FSx deleted the backup and it's no longer\n                    available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - Amazon FSx couldn't finish the backup.</p>\n            </li>\n         </ul>",
        "smithy.api#enum": [
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "TRANSFERRING",
            "name": "TRANSFERRING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "COPYING",
            "name": "COPYING"
          }
        ]
      }
    },
    "com.amazonaws.fsx#BackupNotFound": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>No Amazon FSx backups were found based upon the supplied parameters.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupRestoring": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a file system being restored from the backup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't delete a backup while it's being used to restore a file\n            system.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BackupType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The type of the backup.</p>",
        "smithy.api#enum": [
          {
            "value": "AUTOMATIC",
            "name": "AUTOMATIC"
          },
          {
            "value": "USER_INITIATED",
            "name": "USER_INITIATED"
          },
          {
            "value": "AWS_BACKUP",
            "name": "AWS_BACKUP"
          }
        ]
      }
    },
    "com.amazonaws.fsx#Backups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.fsx#Backup"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of file system backups.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.fsx#BadRequest": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.fsx#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A generic error indicating a failure with a client request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.fsx#BatchImportMetaDataOnCreate": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.fsx#CancelDataRepositoryTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CancelDataRepositoryTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CancelDataRepositoryTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#DataRepositoryTaskEnded"
        },
        {
          "target": "com.amazonaws.fsx#DataRepositoryTaskNotFound"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an existing Amazon FSx for Lustre data repository task if that task is in either the \n            <code>PENDING</code> or <code>EXECUTING</code> state. When you cancel a task, Amazon FSx does the following.</p>\n            <ul>\n            <li>\n               <p>Any files that FSx has already exported are not reverted.</p>\n            </li>\n            <li>\n               <p>FSx continues to export any files that are \"in-flight\" when the cancel operation is received.</p>\n            </li>\n            <li>\n               <p>FSx does not export any files that have not yet been exported.</p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CancelDataRepositoryTaskRequest": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.fsx#TaskId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data repository task to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Cancels a data repository task.</p>"
      }
    },
    "com.amazonaws.fsx#CancelDataRepositoryTaskResponse": {
      "type": "structure",
      "members": {
        "Lifecycle": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle status of the data repository task, as follows:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> - Amazon FSx has not started the task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EXECUTING</code> - Amazon FSx is processing the task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> -  Amazon FSx was not able to complete the task. For example, there may be files the task failed to process. \n                The <a>DataRepositoryTaskFailureDetails</a> property provides more information about task failures.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code> - FSx completed the task successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELED</code> - Amazon FSx canceled the task and it did not complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELING</code> - FSx is in process of canceling the task.</p>\n            </li>\n         </ul>"
          }
        },
        "TaskId": {
          "target": "com.amazonaws.fsx#TaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the task being canceled.</p>"
          }
        }
      }
    },
    "com.amazonaws.fsx#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>(Optional) An idempotency token for resource creation, in a string of up to 64\n            ASCII characters. This token is automatically filled on your behalf when you use the\n            Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[A-za-z0-9_.-]{0,63}$"
      }
    },
    "com.amazonaws.fsx#CompletionReport": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.fsx#Flag",
          "traits": {
            "smithy.api#documentation": "<p>Set <code>Enabled</code> to <code>True</code> to generate a <code>CompletionReport</code> when the task completes. \n            If set to <code>true</code>, then you need to provide a report <code>Scope</code>, <code>Path</code>, and <code>Format</code>. \n            Set <code>Enabled</code> to <code>False</code> if you do not want a <code>CompletionReport</code> generated when the task completes.</p>",
            "smithy.api#required": {}
          }
        },
        "Path": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the location of the report on the file system's linked S3 data repository. An absolute path that defines where the completion report will be stored in the destination location. \n            The <code>Path</code> you provide must be located within the file system’s ExportPath. \n            An example <code>Path</code> value is \"s3://myBucket/myExportPath/optionalPrefix\". The report provides the following information for each file in the report:\n            FilePath, FileStatus, and ErrorCode. To learn more about a file system's <code>ExportPath</code>, see .\n            </p>"
          }
        },
        "Format": {
          "target": "com.amazonaws.fsx#ReportFormat",
          "traits": {
            "smithy.api#documentation": "<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the format of the <code>CompletionReport</code>. <code>REPORT_CSV_20191124</code> is the only format currently supported.\n            When <code>Format</code> is set to <code>REPORT_CSV_20191124</code>, the <code>CompletionReport</code> is provided in CSV format, and is delivered to\n            <code>{path}/task-{id}/failures.csv</code>. \n        </p>"
          }
        },
        "Scope": {
          "target": "com.amazonaws.fsx#ReportScope",
          "traits": {
            "smithy.api#documentation": "<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the scope of the <code>CompletionReport</code>; <code>FAILED_FILES_ONLY</code> is the only scope currently supported. \n            When <code>Scope</code> is set to <code>FAILED_FILES_ONLY</code>, the <code>CompletionReport</code> only contains information about files that the data repository task failed to process.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a report detailing the data repository task results of the files processed that match the criteria specified in the report <code>Scope</code> parameter. \n            FSx delivers the report to the file system's linked data repository in Amazon S3, \n            using the path specified in the report <code>Path</code> parameter. \n            You can specify whether or not a report gets generated for a task using the <code>Enabled</code> parameter.</p>"
      }
    },
    "com.amazonaws.fsx#CoolingPeriod": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 2,
          "max": 183
        }
      }
    },
    "com.amazonaws.fsx#CopyBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CopyBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CopyBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BackupNotFound"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleRegionForMultiAZ"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#InvalidDestinationKmsKey"
        },
        {
          "target": "com.amazonaws.fsx#InvalidRegion"
        },
        {
          "target": "com.amazonaws.fsx#InvalidSourceKmsKey"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        },
        {
          "target": "com.amazonaws.fsx#SourceBackupUnavailable"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies an existing backup within the same Amazon Web Services account to another Amazon Web Services Region\n         (cross-Region copy) or within the same Amazon Web Services Region (in-Region copy). You can have up to five\n         backup copy requests in progress to a single destination Region per account.</p>\n         <p>You can use cross-Region backup copies for cross-Region disaster recovery. You can\n         periodically take backups and copy them to another Region so that in the event of a\n         disaster in the primary Region, you can restore from backup and recover availability\n         quickly in the other Region. You can make cross-Region copies only within your Amazon Web Services partition. A partition is a grouping of Regions. Amazon Web Services currently\n         has three partitions: <code>aws</code> (Standard Regions), <code>aws-cn</code> (China\n         Regions), and <code>aws-us-gov</code> (Amazon Web Services GovCloud [US] Regions).</p>\n         <p>You can also use backup copies to clone your file dataset to another Region or within\n         the same Region.</p>\n         <p>You can use the <code>SourceRegion</code> parameter to specify the Amazon Web Services Region\n         from which the backup will be copied. For example, if you make the call from the\n         <code>us-west-1</code> Region and want to copy a backup from the <code>us-east-2</code>\n         Region, you specify <code>us-east-2</code> in the <code>SourceRegion</code> parameter\n         to make a cross-Region copy. If you don't specify a Region, the backup copy is\n         created in the same Region where the request is sent from (in-Region copy).</p>\n         <p>For more information about creating backup copies, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/using-backups.html#copy-backups\"> Copying backups</a>\n         in the <i>Amazon FSx for Windows User Guide</i>, <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html#copy-backups\">Copying backups</a> in the <i>Amazon FSx for Lustre User\n            Guide</i>, and <a href=\"https://docs.aws.amazon.com/fsx/latest/OpenZFSGuide/using-backups.html#copy-backups\">Copying backups</a> in the <i>Amazon FSx for OpenZFS User\n            Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CopyBackupRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "SourceBackupId": {
          "target": "com.amazonaws.fsx#SourceBackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the source backup. Specifies the ID of the backup that's being copied.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceRegion": {
          "target": "com.amazonaws.fsx#Region",
          "traits": {
            "smithy.api#documentation": "<p>The source Amazon Web Services Region of the backup. Specifies the Amazon Web Services Region from which the backup is being copied. The source and destination\n         Regions must be in the same Amazon Web Services partition. If you don't specify a\n         Region, <code>SourceRegion</code> defaults to the Region where the request is sent from\n         (in-Region copy).</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.fsx#KmsKeyId"
        },
        "CopyTags": {
          "target": "com.amazonaws.fsx#Flag",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean flag indicating whether tags from the source backup should be copied to the\n         backup copy. This value defaults to <code>false</code>.</p>\n         <p>If you set <code>CopyTags</code> to <code>true</code> and the source backup has existing\n         tags, you can use the <code>Tags</code> parameter to create new tags, provided that the sum\n         of the source backup tags and the new tags doesn't exceed 50. Both sets of tags are\n         merged. If there are tag conflicts (for example, two tags with the same key but different\n         values), the tags created with the <code>Tags</code> parameter take precedence.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags"
        }
      }
    },
    "com.amazonaws.fsx#CopyBackupResponse": {
      "type": "structure",
      "members": {
        "Backup": {
          "target": "com.amazonaws.fsx#Backup"
        }
      }
    },
    "com.amazonaws.fsx#CreateBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BackupInProgress"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        },
        {
          "target": "com.amazonaws.fsx#VolumeNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a backup of an existing Amazon FSx for Windows File Server file\n            system, Amazon FSx for Lustre file system, Amazon FSx for NetApp ONTAP\n            volume, or Amazon FSx for OpenZFS file system. We recommend creating regular\n            backups so that you can restore a file system or volume from a backup if an issue arises\n            with the original file system or volume.</p>\n        <p>For Amazon FSx for Lustre file systems, you can create a backup only for file\n            systems that have the following configuration:</p>\n        <ul>\n            <li>\n               <p>A Persistent deployment type</p>\n            </li>\n            <li>\n               <p>Are <i>not</i> linked to a data repository</p>\n            </li>\n         </ul>\n            <p>For more information about backups, see the following:</p>\n        <ul>\n            <li>\n                <p>For Amazon FSx for Lustre, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html\">Working with FSx for\n                        Lustre backups</a>.</p>\n            </li>\n            <li>\n                <p>For Amazon FSx for Windows, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/using-backups.html\">Working with FSx for\n                        Windows backups</a>.</p>\n            </li>\n            <li>\n                <p>For Amazon FSx for NetApp ONTAP, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/using-backups.html\">Working with FSx for NetApp\n                        ONTAP backups</a>.</p>\n            </li>\n            <li>\n                <p>For Amazon FSx for OpenZFS, see <a href=\"https://docs.aws.amazon.com/fsx/latest/OpenZFSGuide/using-backups.html\">Working with FSx for OpenZFS backups</a>.</p>\n            </li>\n         </ul>\n        <p>If a backup with the specified client request token exists and the parameters match,\n            this operation returns the description of the existing backup. If a backup with the\n            specified client request token exists and the parameters don't match, this operation\n            returns <code>IncompatibleParameterError</code>. If a backup with the specified client\n            request token doesn't exist, <code>CreateBackup</code> does the following: </p>\n        <ul>\n            <li>\n                <p>Creates a new Amazon FSx backup with an assigned ID, and an initial\n                    lifecycle state of <code>CREATING</code>.</p>\n            </li>\n            <li>\n                <p>Returns the description of the backup.</p>\n            </li>\n         </ul>\n\n        <p>By using the idempotent operation, you can retry a <code>CreateBackup</code>\n            operation without the risk of creating an extra backup. This approach can be useful when\n            an initial call fails in a way that makes it unclear whether a backup was created. If\n            you use the same client request token and the initial call created a backup, the\n            operation returns a successful result because all the parameters are the same.</p>\n\n        <p>The <code>CreateBackup</code> operation returns while the backup's lifecycle state is\n            still <code>CREATING</code>. You can check the backup creation status by calling the\n                <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DescribeBackups.html\">DescribeBackups</a> operation, which returns the backup state along with other\n            information.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CreateBackupRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the file system to back up.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to\n            ensure idempotent creation. This string is automatically filled on your behalf when you\n            use the Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The tags to apply to the backup at backup creation. The key value of the\n                <code>Name</code> tag appears in the console as the backup name. If you have set\n                <code>CopyTagsToBackups</code> to <code>true</code>, and you specify one or more\n            tags using the <code>CreateBackup</code> operation, no existing file system tags are\n            copied from the file system to the backup.</p>"
          }
        },
        "VolumeId": {
          "target": "com.amazonaws.fsx#VolumeId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The ID of the FSx for ONTAP volume to back up.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for the <code>CreateBackup</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateBackupResponse": {
      "type": "structure",
      "members": {
        "Backup": {
          "target": "com.amazonaws.fsx#Backup",
          "traits": {
            "smithy.api#documentation": "<p>A description of the backup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for the <code>CreateBackup</code> operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateDataRepositoryAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateDataRepositoryAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon FSx for Lustre data repository association (DRA). A data\n            repository association is a link between a directory on the file system and\n            an Amazon S3 bucket or prefix. You can have a maximum of 8 data repository\n            associations on a file system. Data repository associations are supported only\n            for file systems with the <code>Persistent_2</code> deployment type.</p>\n        <p>Each data repository association must have a unique Amazon FSx file\n            system directory and a unique S3 bucket or prefix associated with it. You\n            can configure a data repository association for automatic import only,\n            for automatic export only, or for both. To learn more about linking a\n            data repository to your file system, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/create-dra-linked-data-repo.html\">Linking your file system to an S3 bucket</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryAssociationRequest": {
      "type": "structure",
      "members": {
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "FileSystemPath": {
          "target": "com.amazonaws.fsx#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>A path on the file system that points to a high-level directory (such\n            as <code>/ns1/</code>) or subdirectory (such as <code>/ns1/subdir/</code>)\n            that will be mapped 1-1 with <code>DataRepositoryPath</code>.\n            The leading forward slash in the name is required. Two data repository\n            associations cannot have overlapping file system paths. For example, if\n            a data repository is associated with file system path <code>/ns1/</code>,\n            then you cannot link another data repository with file system\n            path <code>/ns1/ns2</code>.</p>\n        <p>This path specifies where in your file system files will be exported\n            from or imported to. This file system directory can be linked to only one\n            Amazon S3 bucket, and no other S3 bucket can be linked to the directory.</p>\n        <note>\n            <p>If you specify only a forward slash (<code>/</code>) as the file system\n            path, you can link only 1 data repository to the file system. You can only specify\n            \"/\" as the file system path for the first data repository associated with a file system.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "DataRepositoryPath": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>The path to the Amazon S3 data repository that will be linked to the file\n            system. The path can be an S3 bucket or prefix in the format\n            <code>s3://myBucket/myPrefix/</code>. This path specifies where in the S3\n            data repository files will be imported from or exported to.</p>",
            "smithy.api#required": {}
          }
        },
        "BatchImportMetaDataOnCreate": {
          "target": "com.amazonaws.fsx#BatchImportMetaDataOnCreate",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to run an import data repository task to import\n            metadata from the data repository to the file system after the data repository\n            association is created. Default is <code>false</code>.</p>"
          }
        },
        "ImportedFileChunkSize": {
          "target": "com.amazonaws.fsx#Megabytes",
          "traits": {
            "smithy.api#documentation": "<p>For files imported from a data repository, this value determines the stripe count and\n            maximum amount of data per file (in MiB) stored on a single physical disk. The maximum\n            number of disks that a single file can be striped across is limited by the total number\n            of disks that make up the file system.</p>\n        \n        <p>The default chunk size is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500\n            GiB). Amazon S3 objects have a maximum size of 5 TB.</p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.fsx#S3DataRepositoryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for an Amazon S3 data repository linked to an\n            Amazon FSx Lustre file system with a data repository association.\n            The configuration defines which file events (new, changed, or\n            deleted files or directories) are automatically imported from\n            the linked data repository to the file system or automatically\n            exported from the file system to the data repository.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags"
        }
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryAssociationResponse": {
      "type": "structure",
      "members": {
        "Association": {
          "target": "com.amazonaws.fsx#DataRepositoryAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The response object returned after the data repository association is created.</p>"
          }
        }
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateDataRepositoryTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateDataRepositoryTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#DataRepositoryTaskExecuting"
        },
        {
          "target": "com.amazonaws.fsx#FileSystemNotFound"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        },
        {
          "target": "com.amazonaws.fsx#UnsupportedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon FSx for Lustre data repository task. You use data repository tasks\n            to perform bulk operations between your Amazon FSx file system and its linked data\n            repositories. An example of a data repository task is exporting any data and metadata\n            changes, including POSIX metadata, to files, directories, and symbolic links (symlinks)\n            from your FSx file system to a linked data repository. A <code>CreateDataRepositoryTask</code>\n            operation will fail if a data repository is not linked to the FSx file system. To learn\n            more about data repository tasks, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/data-repository-tasks.html\">Data Repository Tasks</a>. \n            To learn more about linking a data repository to your file system, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/create-dra-linked-data-repo.html\">Linking your file system to an S3 bucket</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryTaskRequest": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of data repository task to create.</p>",
            "smithy.api#required": {}
          }
        },
        "Paths": {
          "target": "com.amazonaws.fsx#DataRepositoryTaskPaths",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The path or paths on the Amazon FSx file system to use when the data repository task is processed. \n            The default path is the file system root directory. The paths you provide need to be relative to the mount point of the file system. \n            If the mount point is <code>/mnt/fsx</code> and <code>/mnt/fsx/path1</code> is a directory or \n            file on the file system you want to export, then the path to provide is <code>path1</code>.\n            If a path that you provide isn't valid, the task fails.</p>"
          }
        },
        "FileSystemId": {
          "target": "com.amazonaws.fsx#FileSystemId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Report": {
          "target": "com.amazonaws.fsx#CompletionReport",
          "traits": {
            "smithy.api#documentation": "<p>Defines whether or not Amazon FSx provides a CompletionReport once the task has completed. \n            A CompletionReport provides a detailed  report on the files that Amazon FSx processed that meet the criteria specified by the \n            <code>Scope</code> parameter. For more information, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/task-completion-report.html\">Working with Task Completion Reports</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags"
        }
      }
    },
    "com.amazonaws.fsx#CreateDataRepositoryTaskResponse": {
      "type": "structure",
      "members": {
        "DataRepositoryTask": {
          "target": "com.amazonaws.fsx#DataRepositoryTask",
          "traits": {
            "smithy.api#documentation": "<p>The description of the data repository task that you just created.</p>"
          }
        }
      }
    },
    "com.amazonaws.fsx#CreateFileSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateFileSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateFileSystemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#ActiveDirectoryError"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#InvalidExportPath"
        },
        {
          "target": "com.amazonaws.fsx#InvalidImportPath"
        },
        {
          "target": "com.amazonaws.fsx#InvalidNetworkSettings"
        },
        {
          "target": "com.amazonaws.fsx#InvalidPerUnitStorageThroughput"
        },
        {
          "target": "com.amazonaws.fsx#MissingFileSystemConfiguration"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new, empty Amazon FSx file system. You can create the following supported \n        Amazon FSx file systems using the <code>CreateFileSystem</code> API operation:</p>\n        <ul>\n            <li>\n               <p>Amazon FSx for Lustre</p>\n            </li>\n            <li>\n               <p>Amazon FSx for NetApp ONTAP</p>\n            </li>\n            <li>\n               <p>Amazon FSx for OpenZFS</p>\n            </li>\n            <li>\n               <p>Amazon FSx for Windows File Server</p>\n            </li>\n         </ul>             \n        <p>This operation requires a client request token in the request that Amazon FSx uses\n            to ensure idempotent creation. This means that calling the operation multiple times with\n            the same client request token has no effect. By using the idempotent operation, you can\n            retry a <code>CreateFileSystem</code> operation without the risk of creating an extra\n            file system. This approach can be useful when an initial call fails in a way that makes\n            it unclear whether a file system was created. Examples are if a transport level timeout\n            occurred, or your connection was reset. If you use the same client request token and the\n            initial call created a file system, the client receives success as long as the\n            parameters are the same.</p>\n        <p>If a file system with the specified client request token exists and the parameters\n            match, <code>CreateFileSystem</code> returns the description of the existing file\n            system. If a file system with the specified client request token exists and the\n            parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a\n            file system with the specified client request token doesn't exist,\n                <code>CreateFileSystem</code> does the following: </p>\n        <ul>\n            <li>\n                <p>Creates a new, empty Amazon FSx file system with an assigned ID, and\n                    an initial lifecycle state of <code>CREATING</code>.</p>\n            </li>\n            <li>\n                <p>Returns the description of the file system in JSON format.</p>\n            </li>\n         </ul>\n\n        <p>This operation requires a client request token in the request that Amazon FSx\n            uses to ensure idempotent creation. This means that calling the operation multiple times\n            with the same client request token has no effect. By using the idempotent operation, you\n            can retry a <code>CreateFileSystem</code> operation without the risk of creating an\n            extra file system. This approach can be useful when an initial call fails in a way that\n            makes it unclear whether a file system was created. Examples are if a transport-level\n            timeout occurred, or your connection was reset. If you use the same client request token\n            and the initial call created a file system, the client receives a success message as\n            long as the parameters are the same.</p>\n        <note>\n            <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle\n                state is still <code>CREATING</code>. You can check the file-system creation status\n                by calling the <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DescribeFileSystems.html\">DescribeFileSystems</a> operation, which returns the file system state\n                along with other information.</p>\n        </note>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemFromBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.fsx#CreateFileSystemFromBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.fsx#CreateFileSystemFromBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.fsx#ActiveDirectoryError"
        },
        {
          "target": "com.amazonaws.fsx#BackupNotFound"
        },
        {
          "target": "com.amazonaws.fsx#BadRequest"
        },
        {
          "target": "com.amazonaws.fsx#IncompatibleParameterError"
        },
        {
          "target": "com.amazonaws.fsx#InternalServerError"
        },
        {
          "target": "com.amazonaws.fsx#InvalidNetworkSettings"
        },
        {
          "target": "com.amazonaws.fsx#InvalidPerUnitStorageThroughput"
        },
        {
          "target": "com.amazonaws.fsx#MissingFileSystemConfiguration"
        },
        {
          "target": "com.amazonaws.fsx#ServiceLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon FSx for Lustre, Amazon FSx for Windows File\n            Server, or Amazon FSx for OpenZFS file system from an existing Amazon FSx backup.</p>\n        \n        <p>If a file system with the specified client request token exists and the parameters\n            match, this operation returns the description of the file system. If a file system\n            with the specified client request token exists but the parameters don't match, this\n            call returns <code>IncompatibleParameterError</code>. If a file system with the\n            specified client request token doesn't exist, this operation does the following:</p>\n        \n        <ul>\n            <li>\n                <p>Creates a new Amazon FSx file system from backup with an assigned ID,\n                    and an initial lifecycle state of <code>CREATING</code>.</p>\n            </li>\n            <li>\n                <p>Returns the description of the file system.</p>\n            </li>\n         </ul>\n\n        <p>Parameters like the Active Directory, default share name, automatic backup, and backup\n            settings default to the parameters of the file system that was backed up, unless\n            overridden. You can explicitly supply other settings.</p>\n\n        <p>By using the idempotent operation, you can retry a\n                <code>CreateFileSystemFromBackup</code> call without the risk of creating an extra\n            file system. This approach can be useful when an initial call fails in a way that makes\n            it unclear whether a file system was created. Examples are if a transport level timeout\n            occurred, or your connection was reset. If you use the same client request token and the\n            initial call created a file system, the client receives a success message as long as the\n            parameters are the same.</p>\n        <note>\n            <p>The <code>CreateFileSystemFromBackup</code> call returns while the file system's\n                lifecycle state is still <code>CREATING</code>. You can check the file-system\n                creation status by calling the <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DescribeFileSystems.html\">\n                    DescribeFileSystems</a> operation, which returns the file system state along\n                with other information.</p>\n        </note>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemFromBackupRequest": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.fsx#BackupId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.fsx#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A string of up to 64 ASCII characters that Amazon FSx uses to ensure\n            idempotent creation. This string is automatically filled on your behalf when you use the\n                Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.fsx#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IDs of the subnets that the file system will be accessible from. For Windows <code>MULTI_AZ_1</code> \n            file system deployment types, provide exactly two subnet IDs, one for the preferred file server \n            and one for the standby file server. You specify one of these subnets as the preferred subnet \n            using the <code>WindowsConfiguration > PreferredSubnetID</code> property.</p>\n        <p>Windows <code>SINGLE_AZ_1</code> and <code>SINGLE_AZ_2</code> file system deployment\n            types, Lustre file systems, and OpenZFS file systems provide exactly one subnet ID. The\n            file server is launched in that subnet's Availability Zone.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.fsx#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of IDs for the security groups that apply to the specified network interfaces\n            created for file system access. These security groups apply to all network interfaces.\n            This value isn't returned in later <code>DescribeFileSystem</code> requests.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.fsx#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be applied to the file system at file system creation. The key value of\n            the <code>Name</code> tag appears in the console as the file system\n            name.</p>"
          }
        },
        "WindowsConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemWindowsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for this Microsoft Windows file system.</p>"
          }
        },
        "LustreConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemLustreConfiguration"
        },
        "StorageType": {
          "target": "com.amazonaws.fsx#StorageType",
          "traits": {
            "smithy.api#documentation": "<p>Sets the storage type for the Windows or OpenZFS file system that you're creating from\n            a backup. Valid values are <code>SSD</code> and <code>HDD</code>.</p>\n        <ul>\n            <li>\n               <p>Set to <code>SSD</code> to use solid state drive storage. SSD is supported on all Windows and OpenZFS\n                    deployment types.</p>\n            </li>\n            <li>\n               <p>Set to <code>HDD</code> to use hard disk drive storage. \n                    HDD is supported on <code>SINGLE_AZ_2</code> and <code>MULTI_AZ_1</code> FSx for Windows File Server file system deployment types.</p>\n            </li>\n         </ul>\n        <p> The default value is <code>SSD</code>. </p>\n        <note>\n            <p>HDD and SSD storage types have different minimum storage capacity requirements. \n            A restored file system's storage capacity is tied to the file system that was backed up. \n            You can create a file system that uses HDD storage from a backup of a file system that \n            used SSD storage if the original SSD file system had a storage capacity of at least 2000 GiB.</p>\n         </note>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.fsx#KmsKeyId"
        },
        "FileSystemTypeVersion": {
          "target": "com.amazonaws.fsx#FileSystemTypeVersion",
          "traits": {
            "smithy.api#documentation": "<p>Sets the version for the Amazon FSx for Lustre file system that you're\n            creating from a backup. Valid values are <code>2.10</code> and <code>2.12</code>.</p>\n        <p>You don't need to specify <code>FileSystemTypeVersion</code> because it will\n            be applied using the backup's <code>FileSystemTypeVersion</code> setting.\n            If you choose to specify <code>FileSystemTypeVersion</code> when creating from backup, the\n            value must match the backup's <code>FileSystemTypeVersion</code> setting.</p>"
          }
        },
        "OpenZFSConfiguration": {
          "target": "com.amazonaws.fsx#CreateFileSystemOpenZFSConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The OpenZFS configuration for the file system that's being created. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for the <code>CreateFileSystemFromBackup</code>\n            operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemFromBackupResponse": {
      "type": "structure",
      "members": {
        "FileSystem": {
          "target": "com.amazonaws.fsx#FileSystem",
          "traits": {
            "smithy.api#documentation": "<p>A description of the file system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for the <code>CreateFileSystemFromBackup</code>\n            operation.</p>"
      }
    },
    "com.amazonaws.fsx#CreateFileSystemLustreConfiguration": {
      "type": "structure",
      "members": {
        "WeeklyMaintenanceStartTime": {
          "target": "com.amazonaws.fsx#WeeklyTime",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The preferred start time to perform weekly maintenance, formatted d:HH:MM in the UTC\n            time zone, where d is the weekday number, from 1 through 7, beginning with Monday and ending with Sunday.</p>"
          }
        },
        "ImportPath": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The path to the Amazon S3 bucket (including the optional prefix) that\n            you're using as the data repository for your Amazon FSx for Lustre file system.\n            The root of your FSx for Lustre file system will\n            be mapped to the root of the Amazon S3 bucket you select. An\n            example is <code>s3://import-bucket/optional-prefix</code>. If you specify a prefix\n            after the Amazon S3 bucket name, only object keys with that prefix are loaded into the\n            file system.</p>\n        <note>\n            <p>This parameter is not supported for file systems with the <code>Persistent_2</code> deployment type.\n            Instead, use <code>CreateDataRepositoryAssociation</code> to create\n            a data repository association to link your Lustre file system to a data repository.</p>\n         </note>"
          }
        },
        "ExportPath": {
          "target": "com.amazonaws.fsx#ArchivePath",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Available with <code>Scratch</code> and <code>Persistent_1</code> deployment types. \n            Specifies the path in the Amazon S3 bucket where the root of your Amazon FSx file system is exported. \n            The path must use the same Amazon S3 bucket as specified in ImportPath. You can provide an optional prefix to which\n            new and changed data is to be exported from your Amazon FSx for Lustre file system. If\n            an <code>ExportPath</code> value is not provided, Amazon FSx sets a default export path,\n            <code>s3://import-bucket/FSxLustre[creation-timestamp]</code>. The timestamp is in\n            UTC format, for example\n            <code>s3://import-bucket/FSxLustre20181105T222312Z</code>.</p>\n        <p>The Amazon S3 export bucket must be the same as the import bucket specified by\n                <code>ImportPath</code>. If you specify only a bucket name, such as\n                <code>s3://import-bucket</code>, you get a 1:1 mapping of file system objects to S3\n            bucket objects. This mapping means that the input data in S3 is overwritten on export.\n            If you provide a custom prefix in the export path, such as\n            <code>s3://import-bucket/[custom-optional-prefix]</code>, Amazon FSx exports the contents of your file \n            system to that export prefix in the Amazon S3 bucket.</p>\n\n        <note>\n            <p>This parameter is not supported for file systems with the <code>Persistent_2</code> deployment type.\n            Instead, use <code>CreateDataRepositoryAssociation</code> to create\n            a data repository association to link your Lustre file system to a data repository.</p>\n         </note>"
          }
        },
        "ImportedFileChunkSize": {
          "target": "com.amazonaws.fsx#Megabytes",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) For files imported from a data repository, this value determines the stripe\n            count and maximum amount of data per file (in MiB) stored on a single physical disk. The\n            maximum number of disks that a single file can be striped across is limited by the total\n            number of disks that make up the file system.</p>\n        \n        <p>The default chunk size is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500\n            GiB). Amazon S3  objects have a maximum size of 5 TB.</p>\n        <p>This parameter is not supported for file systems with the <code>Persistent_2</code> deployment type.\n            Instead, use <code>CreateDataRepositoryAssociation</code> to create\n            a data repository association to link your Lustre file system to a data repository.</p>"
          }
        },
        "DeploymentType": {
          "target": "com.amazonaws.fsx#LustreDeploymentType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Choose <code>SCRATCH_1</code> and <code>SCRATCH_2</code> deployment \n            types when you need temporary storage and shorter-term processing of data. \n            The <code>SCRATCH_2</code> deployment type provides in-transit encryption of data and higher burst \n            throughput capacity than <code>SCRATCH_1</code>.</p>\n        <p>Choose <code>PERSISTENT_1</code> for longer-term storage and for throughput-focused \n            workloads that aren’t latency-sensitive.\n            <code>PERSISTENT_1</code> supports encryption of data in transit, and is available in all \n            Amazon Web Services Regions in which FSx for Lustre is available.</p>\n        <p>Choose <code>PERSISTENT_2</code> for longer-term storage and for latency-sensitive workloads \n            that require the highest levels of IOPS/throughput. <code>PERSISTENT_2</code> supports \n            SSD storage, and offers higher <code>PerUnitStorageThroughput</code> (up to 1000 MB/s/TiB). <code>PERSISTENT_2</code> \n            is available in a limited number of Amazon Web Services Regions. \n            For more information, and an up-to-date list of Amazon Web Services Regions in which \n            <code>PERSISTENT_2</code> is available, see \n            <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-fsx-lustre.html#lustre-deployment-types\">File \n                system deployment options for FSx for Lustre</a> in the <i>Amazon FSx for Lustre User Guide</i>.</p>\n        <note>\n            <p>If you choose <code>PERSISTENT_2</code>, and you set <code>FileSystemTypeVersion</code> to\n                    <code>2.10</code>, the <code>CreateFileSystem</code> operation fails.</p>\n         </note>\n        \n            <p>Encryption of data in transit is automatically turned on when you access\n                <code>SCRATCH_2</code>, <code>PERSISTENT_1</code> and <code>PERSISTENT_2</code> file\n            systems from Amazon EC2 instances that <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/data-                 protection.html\">support\n                automatic encryption</a> in the Amazon Web Services Regions where they are\n            available. For more information about encryption in transit for FSx for Lustre\n            file systems, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/encryption-in-transit-fsxl.html\">Encrypting data in\n                transit</a>  in the <i>Amazon FSx for Lustre User Guide</i>. </p>\n            <p>(Default = <code>SCRATCH_1</code>)</p>"
          }
        },
        "AutoImportPolicy": {
          "target": "com.amazonaws.fsx#AutoImportPolicyType",
          "traits": {
            "smithy.api#documentation": "<p> (Optional) Available with <code>Scratch</code> and <code>Persistent_1</code> deployment types. When you \n            create your file system, your existing S3 objects appear as file and directory listings. \n            Use this property to choose how Amazon FSx keeps your file and directory listings up to date \n            as you add or modify objects in your linked S3 bucket. <code>AutoImportPolicy</code> can\n            have the following values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>NONE</code> - (Default) AutoImport is off. Amazon FSx only updates \n                file and directory listings from the linked S3 bucket \n                when the file system is created. FSx does not update file and directory \n                listings for any new or changed objects after choosing this option.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NEW</code> - AutoImport is on. Amazon FSx automatically imports\n                directory listings of any new objects added to the linked S3 bucket that \n                do not currently exist in the FSx file system. </p>\n            </li>\n            <li>\n               <p>\n                  <code>NEW_CHANGED</code> - AutoImport is on. Amazon FSx automatically imports \n                file and directory listings of any new objects added to the S3 bucket and any \n                existing objects that are changed in the S3 bucket after you choose this option.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NEW_CHANGED_DELETED</code> - AutoImport is on. Amazon FSx automatically\n                imports file and directory listings of any new objects added to the S3 bucket, any \n                existing objects that are changed in the S3 bucket, and any objects that were deleted\n                in the S3 bucket.</p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/older-deployment-types.html#legacy-auto-import-from-s3\">\n            Automatically import updates from your S3 bucket</a>.</p>\n        <note>\n            <p>This parameter is not supported for file systems with the <code>Persistent_2</code> deployment type.\n            Instead, use <code>CreateDataRepositoryAssociation</code> to create\n            a data repository association to link your Lustre file system to a data repository.</p>\n         </note>"
          }
        },
        "PerUnitStorageThroughput": {
          "target": "com.amazonaws.fsx#PerUnitStorageThroughput",
          "traits": {
            "smithy.api#documentation": "<p>Required with <code>PERSISTENT_1</code> and <code>PERSISTENT_2</code> deployment\n            types, provisions the amount of read and write throughput for each 1 tebibyte (TiB) of\n            file system storage capacity, in MB/s/TiB. File system throughput capacity is calculated\n            by multiplying ﬁle system storage capacity (TiB) by the\n                <code>PerUnitStorageThroughput</code> (MB/s/TiB). For a 2.4-TiB ﬁle system,\n            provisioning 50 MB/s/TiB of <code>PerUnitStorageThroughput</code> yields 120 MB/s of ﬁle\n            system throughput. You pay for the amount of throughput that you provision. </p>\n        <p>Valid values:</p>\n        <ul>\n            <li>\n               <p>For <code>PERSISTENT_1</code> SSD storage: 50, 100, 200 MB/s/TiB.</p>\n            </li>\n            <li>\n               <p>For <code>PERSISTENT_1</code> HDD storage: 12, 40 MB/s/TiB.</p>\n            </li>\n            <li>\n               <p>For <code>PERSISTENT_2</code> SSD storage: 125, 250, 500, 1000 MB/s/TiB.</p>\n            </li>\n         </ul>"
          }
        },
        "DailyAutomaticBackupStartTime": {
          "target": "com.amazonaws.fsx#DailyTime"
        },
        "AutomaticBackupRetentionDays": {
          "target": "com.amazonaws.fsx#AutomaticBackupRetentionDays"
        },
        "CopyTagsToBackups": {
          "target": "com.amazonaws.fsx#Flag",
          "traits": {
[...]
